<template>
	<view class="bet">
		<view class="status_bar"></view>
		<view class="public_header">
			<image src="/static/images/icon/out.png" alt="" @click="back()"> 匹配数据
				<span class="button" @click="$refs.listPopup.open()"><uni-icons type="more-filled" size="26"
						color="#ffffff"></uni-icons></span>
		</view>
		<view class="lobby-index-container">
			<view class="guess-title" v-if="lotteryResult.content">
				<view class="top" @click="$refs.detailPopup.open()">
					<view class="top-left">
						<p class="issue">【{{lotteryResult.content[0].qiHao}}】</p>
						<p class="issue" style="margin-left: 2rem">订单匹配结果</p>
					</view>
					<template v-if="lotteryResult.content[0].sizeStr && lotteryResult.content[0].sdStr">
						<p class="draw"
							:style="{color:lotteryResult.content[0].sizeStr == '大' ? '#005ea6' :'#63a73e' }">
							{{drawData(lotteryResult.content[0].sizeStr)}}
						</p>
						<p class="draw" :style="{color:lotteryResult.content[0].sdStr == '单' ? '#ff9600' :'#0082fe' }">
							{{drawData(lotteryResult.content[0].sdStr)}}
						</p>
					</template>
					<p class="no-draw " v-else>匹配中<span></span></p>
				</view>
				<view class="bottom">
					<view class="issue">【{{lotteryStatus.qiHao}}】 订单匹配截止</view>
					<u-count-down v-if="!lotteryStatus.countdown" :time="lotteryStatus.time" format="HH:mm:ss"
						@finish="finish"></u-count-down>
					<view class="time" v-else>{{ lotteryStatus.text }}</view>
				</view>
			</view>
			<view class="guess-content">
				<view class="title" v-if="lotteryData.length > 0">
					<view class="title-img acitve" v-if="pseudoData[pseudoDataClass].titleImg.length > 0">
						<view class="title-img-wrap" v-for="(item,index) in pseudoData[pseudoDataClass].titleImg"
							:key="index">
							<image :src="item.imgUrl" alt="title" :class="{activeImg:lotteryData[index].isActive}">
							</image>
						</view>
					</view>
					<view class="title-button">
						<button :class="{active:item2.isActive}" @click="cilckNum(item2,index2)"
							v-for="(item2,index2) in lotteryData" :key="index2">{{item2.showName}}</button>
					</view>
				</view>
				<ul class="content">
					<li class="content-item" v-for="(item,index) in pseudoData[pseudoDataClass].data" :key="index">
						<image :src="item.imgUrl" :class="{active:buData.indexOf(item.id) > -1}" alt="logo"
							@click="handleBu(item.id)"></image>
					</li>
				</ul>
			</view>
			<view class="guess-footer">
				<view class="cathectic">
					<u-number-box v-model="throwData.money" @change="moneyChange"></u-number-box>
					<button v-model="throwData.money">{{ throwData.money }}
						{{unit}}</button>
				</view>
				<view class="submit">
					<button @click="clearData">清空</button>
					<view class="money">
						<span>共 <i>{{throwData.betNum}}</i> 件</span>
						<span>共 <i>¥{{ (throwData.betNum * throwData.money ).toFixed(2)}}</i>
							{{unit}}</span>
					</view>
					<button @click="submitBet">提交订单</button>
				</view>
			</view>
		</view>
		<uni-popup ref="detailPopup" type="top" mask-background-color="rgba(255,255,255)"
			style="bottom: 0;top:0;overflow: auto;">
			<view class="draw-notice" :style="{height:`${clienHeight}px`}">
				<view class="status_bar"></view>
				<view class="public_header" @click="$refs.detailPopup.close()">
					<image src="/static/images/icon/out.png" alt=""> <span
							v-if="lottery && lottery.name">{{ lottery.name }}近期匹配结果</span>
				</view>
				<view class="content">
					<ul>
						<li v-for="(item, index) in lotteryResult.content" :key="index" :class="{backGay:index%2}">
							<view class="list-font" style="width: 100%;padding-left: 10px;box-sizing: border-box">
								<view class="title">
									<span>第{{ item.qiHao }}数据</span>
									<span>{{ item.date }}{{ item.time }}</span>
								</view>
								<view class="result" v-if="item.haoMaList.indexOf('?') != -1">
									<span style="color: red;font-size: 1.6rem">
										匹配中...
									</span>
								</view>
								<view class="result" v-else-if="majorData.lotGroup == 7">
									<view class="result-bigSmall">
										<span
											:style="{color:item.sizeStr == '大' ? '#005ea6' :'#63a73e' }">{{ drawData(item.sizeStr)}}</span>
										<span
											:style="{color:item.sdStr == '单' ? '#ff9600' :'#0082fe' }">{{ drawData(item.sdStr)}}</span>
									</view>
								</view>
							</view>
						</li>
					</ul>
				</view>
			</view>
		</uni-popup>
		<uni-popup ref="listPopup" background-color="#fff" type="right">
			<view class="popup-content popup-height more-module">
				<ul :style="{height:`${clienHeight}px`}">
					<li v-for="(item,index) in moreLotteryList" :key="index" @click="$common.toPath('/pages/bet/bet?code='+item.code+'&lotGroup='+item.lotGroup+'&class=lobby')">
						<a href="#" :class="{active:majorData.code == item.code}">
							<image :src="item.imgUrl" alt=""></image><span>{{ item.name }}</span>
						</a>
					</li>
				</ul>
			</view>
		</uni-popup>
		<u-toast ref="uToast"></u-toast>
	</view>
</template>

<script>
	export default {
		name: "bet",
		data() {
			return {
				moreLotteryList: [],
				majorData: {
					code: '',
					sonCode: '',
					className: '',
					name: '',
					lotGroup: '',
				},
				lottery: '',
				lotteryResult: {
					content: [{
						qiHao: '-',
						haoMaList: ['-,-,-,-,-'],
						result: '-'
					}],
					animated: true,
					countdown: true,
					show: false,
					money: true,
				},
				//当前正在执行期号
				lotteryStatus: {
					time: 24 * 60 * 60 * 1000,
					qiHao: '20210202',
					text: '封盘中'
				},
				lotteryData: [],
				beforeLotteryData: [],
				pseudoDataClass: 1,
				pseudoData: [{
						title: '点赞|玫瑰|小心心|神奇海螺',
						key: 'like',
						titleImg: [{
								id: 1,
								imgUrl: require('../../static/images/like/1.1.png')
							},
							{
								id: 2,
								imgUrl: require('../../static/images/like/1.2.png')
							},
							{
								id: 3,
								imgUrl: require('../../static/images/like/1.3.png')
							},
							{
								id: 4,
								imgUrl: require('../../static/images/like/1.4.png')
							},
						],
						throwInto: [{
							name: '大',
							showName: '点赞'
						}, {
							name: '小',
							showName: '玫瑰'
						}, {
							name: '单',
							showName: '小心心'
						}, {
							name: '双',
							showName: '神奇海螺'
						}, ],
						data: [{
								id: 1,
								imgUrl: require('../../static/images/like/1.png')
							},
							{
								id: 2,
								imgUrl: require('../../static/images/like/2.png')
							},
							{
								id: 3,
								imgUrl: require('../../static/images/like/3.png')
							},
							{
								id: 4,
								imgUrl: require('../../static/images/like/4.png')
							},
							{
								id: 5,
								imgUrl: require('../../static/images/like/5.png')
							},
							{
								id: 6,
								imgUrl: require('../../static/images/like/6.png')
							},
							{
								id: 7,
								imgUrl: require('../../static/images/like/7.png')
							},
							{
								id: 8,
								imgUrl: require('../../static/images/like/8.png')
							},
							{
								id: 9,
								imgUrl: require('../../static/images/like/9.png')
							},
							{
								id: 10,
								imgUrl: require('../../static/images/like/10.png')
							},
							{
								id: 11,
								imgUrl: require('../../static/images/like/11.png')
							},
							{
								id: 12,
								imgUrl: require('../../static/images/like/12.png')
							},
							{
								id: 13,
								imgUrl: require('../../static/images/like/13.png')
							},
							{
								id: 14,
								imgUrl: require('../../static/images/like/14.png')
							},
							{
								id: 15,
								imgUrl: require('../../static/images/like/15.png')
							},
							{
								id: 16,
								imgUrl: require('../../static/images/like/16.png')
							},
						]
					},
					{
						title: '优品|统货|单件|双件',
						key: 'goods',
						titleImg: [],
						throwInto: [{
							name: '大',
							showName: '优品'
						}, {
							name: '小',
							showName: '统货'
						}, {
							name: '单',
							showName: '单件'
						}, {
							name: '双',
							showName: '双件'
						}, ],
						data: [{
								id: 1,
								imgUrl: require('../../static/images/goods/2.png'),
							},
							{
								id: 2,
								imgUrl: require('../../static/images/goods/2.png')
							},
							{
								id: 3,
								imgUrl: require('../../static/images/goods/3.png')
							},
							{
								id: 4,
								imgUrl: require('../../static/images/goods/4.png')
							},
							{
								id: 5,
								imgUrl: require('../../static/images/goods/5.png')
							},
							{
								id: 6,
								imgUrl: require('../../static/images/goods/6.png')
							},
							{
								id: 7,
								imgUrl: require('../../static/images/goods/7.png')
							},
							{
								id: 8,
								imgUrl: require('../../static/images/goods/8.png')
							},
							{
								id: 9,
								imgUrl: require('../../static/images/goods/9.png')
							},
							{
								id: 10,
								imgUrl: require('../../static/images/goods/10.png')
							},
							{
								id: 11,
								imgUrl: require('../../static/images/goods/11.png')
							},
							{
								id: 12,
								imgUrl: require('../../static/images/goods/12.png')
							},
							{
								id: 13,
								imgUrl: require('../../static/images/goods/13.png')
							},
							{
								id: 14,
								imgUrl: require('../../static/images/goods/14.png')
							},
							{
								id: 15,
								imgUrl: require('../../static/images/goods/15.png')
							},
							{
								id: 16,
								imgUrl: require('../../static/images/goods/16.png')
							},
						]
					},
					{
						title: '优品|统货|单件|双件',
						key: 'cosmetic',
						titleImg: [],
						throwInto: [{
							name: '大',
							showName: '优品'
						}, {
							name: '小',
							showName: '统货'
						}, {
							name: '单',
							showName: '单件'
						}, {
							name: '双',
							showName: '双件'
						}, ],
						data: [{
								id: 1,
								imgUrl: require('../../static/images/cosmetic/1.png')
							},
							{
								id: 2,
								imgUrl: require('../../static/images/cosmetic/2.png')
							},
							{
								id: 3,
								imgUrl: require('../../static/images/cosmetic/3.png')
							},
							{
								id: 4,
								imgUrl: require('../../static/images/cosmetic/4.png')
							},
							{
								id: 5,
								imgUrl: require('../../static/images/cosmetic/5.png')
							},
							{
								id: 6,
								imgUrl: require('../../static/images/cosmetic/6.png')
							},
							{
								id: 7,
								imgUrl: require('../../static/images/cosmetic/7.png')
							},
							{
								id: 8,
								imgUrl: require('../../static/images/cosmetic/8.png')
							},
							{
								id: 9,
								imgUrl: require('../../static/images/cosmetic/9.png')
							},
							{
								id: 10,
								imgUrl: require('../../static/images/cosmetic/10.png')
							},
							{
								id: 11,
								imgUrl: require('../../static/images/cosmetic/11.png')
							},
							{
								id: 12,
								imgUrl: require('../../static/images/cosmetic/12.png')
							},
							{
								id: 13,
								imgUrl: require('../../static/images/cosmetic/13.png')
							},
							{
								id: 14,
								imgUrl: require('../../static/images/cosmetic/14.png')
							},
							{
								id: 15,
								imgUrl: require('../../static/images/cosmetic/15.png')
							},
							{
								id: 16,
								imgUrl: require('../../static/images/cosmetic/16.png')
							},
						]
					},
				],
				buData: [],
				throwData: {
					money: 1,
					betNum: 0,
					totalMoney: 0
				},
				cilckData: [], //选中数据
				clienHeight: '',
				unit: '',
			}
		},
		created() {
			this.getLotteryDetail()
			this.unit = uni.getStorageSync('unit')
			this.pseudoData[this.pseudoDataClass].title = uni.getStorageSync('moneyType')
			this.pseudoData[this.pseudoDataClass].throwInto = uni.getStorageSync('moneyTypeInfo')
		},
		onPullDownRefresh() {
			this.getLotteryDetail()
			this.openResultDetail()
			this.getLoctterys()
			this.getCountDown()
		},
		onLoad(option) {
			this.majorData.code = option.code
			this.majorData.lotGroup = option.lotGroup
			this.openResultDetail()
			this.getCountDown()
			this.getLoctterys()
			this.getClineHeight()
		},
		methods: {
			getClineHeight() {
				const res = uni.getSystemInfo({
					success: (res => {
						this.clienHeight = (res.windowHeight)
					})
				});
			},
			openResultDetail() {
				let that = this
				clearInterval(this.openResultFor);
				this.lotteryResult.animated = true
				let params = {
					lotCode: this.majorData.code
				}
				this.$Request.get('/native/open_result_detail.do', params, false).then(res => {
					this.lotteryResult.money = false
					if (res.success) {
						this.lotteryResult.content = res.content
						if (res.content[0].haoMaList[0] == '?') {
							this.openResultFor = setInterval(function() {
								that.openResultDetail()
							}, 10000)
						}
						if (!this.lotteryResult.content[0].result) {
							for (let index in this.lotteryResult.content) {
								this.lotteryResult.content[index].result = '?,?,?'
							}
						}
						this.lotteryResult.animated = false
					} else {
						this.lotteryStatus.countdown = true
						this.lotteryStatus.text = '尚未开盘'
					}
				})
			},
			getLotteryDetail() {
				let params = {
					lotCode: this.majorData.code
				}
				this.$Request.get('/native/getLotGamePlays.do', params, false).then(res => {
					if (res.success) {
						this.beforeLotteryData.push(res.content)
						this.getMatchedData()
						this.lotteryDataArr(this.beforeLotteryData.length - 1)
					}
				})
			},
			lotteryDataArr: function(indexIs) {
				let that = this
				this.lottery = this.beforeLotteryData[indexIs]
				this.majorData.czCode = this.lottery.czCode
				this.majorData.className = this.lottery.rules[0].name
				this.majorData.sonCode = this.lottery.rules[0].rules[0].code
				this.majorData.name = this.lottery.rules[0].rules[0].name
				this.majorData.className = this.lottery.rules[0].name
				this.majorData.sonCode = this.lottery.rules[0].rules[0].code
				this.majorData.name = this.lottery.rules[0].rules[0].name
				this.ruleContent = this.lottery.rules[0].rules[0].detailDesc
				// 拼接快三玩法
				this.k3Rules = []
				if (that.majorData.lotGroup == 7) {
					let e = that.lottery.rules[0].rules[0].oddPlayItems
					for (let index in e) {
						let newobj = [];
						for (let k in e[index]) {
							newobj[k] = e[index][k]
						}
						if (e[index].name.indexOf('点') == -1) {
							that.k3Rules.push(newobj)
						} else {
							newobj.name = '点数'
							that.k3Rules.push(newobj)
							return false
						}
					}
					that.majorData.sonCode = '大小骰宝'
				}
			},
			getCountDown() {
				let params = {
					lotCode: this.majorData.code,
					version: 5,
				}
				this.$Request.get('/native/getCountDown.do', params, false).then(res => {
					if (res.success) {
						let time = res.content.activeTime - res.content.serverTime
						clearInterval(this.timeFor);
						if (time > 1000) {
							this.lotteryStatus.time = res.content.activeTime - res.content.serverTime
						} else {
							this.timeFor = setInterval(function() {
								that.getCountDown()
							}, 5000)
						}
						this.lotteryStatus.qiHao = res.content.qiHao
					}
					uni.stopPullDownRefresh();
				})
			},
			getLoctterys() {
				this.$Request.get('/native/getLoctterys.do', {}, false).then(res => {
					if (res.success) {
						this.moreLotteryList = []
						res.content.some((item) => {
							if (item.lotGroup == 7) {
								this.moreLotteryList.push(item)
							}
						})
					}
				})
			},
			getMatchedData: function() {
				let that = this,
					lotteryArr = [],
					setSwitch = false,
					nativeData = {},
					arr = this.pseudoData[that.pseudoDataClass].throwInto
				that.beforeLotteryData.some((item) => {
					if (item.code == that.majorData.code && item.viewGroup == 7) {
						item.rules[0].rules[0].oddPlayItems.some((item2) => {
							if (item2.name == '大小骰宝') {
								setSwitch = true
								nativeData = Object.assign({}, item2)
								return true
							}
						})
						return true
					}
				})
				//填充数据
				if (!setSwitch) return
				console.log(arr)
				for (let index in arr) {
					let obj = Object.assign({}, nativeData)
					obj.groupCode = obj.name
					obj.name = arr[index].name
					obj.showName = arr[index].showName
					obj.isActive = false
					lotteryArr.push(obj)
				}
				this.lotteryData = [...lotteryArr]
				console.log(this.lotteryData)
			},
			finish: function() {
				uni.showToast({
					title: (this.lotteryStatus.qiHao) + '已截止，投注请注意当前期号',
					icon: 'none',
					duration: 2000
				});
				this.getCountDown()
				this.lotteryResult.money = true;
				this.openResultDetail()
			},
			handleBu: function(id) {
				let arr = [...this.buData],
					is = false
				if (this.buData.length <= 0) {
					this.buData.push(id)
					return
				}
				arr.some((item, index) => {
					if (item == id) {
						this.buData.splice(index, 1)
						is = true
						return true
					}
				})
				if (!is) {
					this.buData.push(id)
				}
			},
			clearData: function() {
				this.throwData.money = 2
				this.throwData.betNum = 0
				this.throwData.totalMoney = 0
				this.cilckData = []
				this.lotteryData.some((item) => {
					item.isActive = false
				})
			},
			cilckNum: function(data, index) {
				let is = false,
					arr = [...this.cilckData]
				if (this.cilckData.length <= 0) {
					this.cilckData.push(data)
					this.lotteryData[index].isActive = true
					this.throwData.betNum = this.cilckData.length
					return
				}
				arr.some((item, index2) => {
					if (item.name == data.name && item.showName == data.showName) {
						this.cilckData.splice(index2, 1)
						this.lotteryData[index].isActive = false
						is = true
					}
				})
				if (!is) {
					data.isActive = true
					this.cilckData.push(data)
					this.lotteryData[index].isActive = true
				}
				this.throwData.betNum = this.cilckData.length
			},
			submitBet: function() {
				let params = {},
					that = this
				if (this.cilckData.length <= 0) {
					return uni.showToast({
						title: '请选择订单款项',
						icon: 'none',
						duration: 2000
					});
				}
				params = {
					data: [],
					lotType: this.cilckData[0].lotType,
					groupCode: this.cilckData[0].groupCode,
					qiHao: this.lotteryStatus.qiHao,
					version: 5,
					lotCode: this.majorData.code,
				}
				this.cilckData.some((item) => {
					let obj = {
						max: item.maxBetAmmount,
						min: item.minBetAmmount,
						minNumber: item.minSelected,
						oddsId: item.id,
						name: item.name,
						playCode: item.playCode,
						odds: item.odds,
						money: this.throwData.money
					};
					params.data.push(obj)
				})
				params.data = JSON.stringify(params.data)
				this.$Request.post('/native/dolotBet.do', params, true).then(res => {
					if (res.success) {
						uni.showToast({
							title: '购买成功',
							icon: 'none',
							duration: 2000
						});
						that.clearData();
					} else if (res.code == 10000) {
						if (res.msg.indexOf('余额不足') != -1) {
							uni.showToast({
								title: '余额不足',
								icon: 'none',
								duration: 2000
							});
						} else if (res.msg.indexOf('网络异常') != -1) {
							uni.showToast({
								title: '网络异常',
								icon: 'none',
								duration: 2000
							});
						} else if (res.msg.indexOf('站点彩票配额') != -1) {
							uni.showToast({
								title: '提交失败，超过了商家配置额度',
								icon: 'none',
								duration: 2000
							});
						} else {
							Toast(res.msg)
						}
					} else {
						let str = res.msg
						if (str.indexOf('彩票') != -1) {
							str = str.replace(/彩票/g, '')
						}
						uni.showToast({
							title: str,
							icon: 'none',
							duration: 2000
						});
					}
				})
			},
			drawData(value) {
				if (!value) return
				switch (value) {
					case '大':
						return '优品';
					case '小':
						return '统货';
					case '单':
						return '单件';
					case '双':
						return '双件';
				}
			},
			back(){
				uni.reLaunch({
					url: '/pages/tabs/index',
				})
			}
		}
	}
</script>

<style lang="scss">
	@import '../../static/css/bet.scss';
	@import '../../static/css/draw_notice.scss';

	@mixin height {
		/* #ifndef APP-NVUE */
		height: 100%;
		/* #endif */
		/* #ifdef APP-NVUE */
		flex: 1;
		/* #endif */
	}

	.popup-content {
		@include flex;
		align-items: center;
		justify-content: center;
		padding: 30rpx;
		height: 100rpx;
		background-color: #fff;
	}

	.popup-height {
		@include height;
		width: 200px;
	}
</style>