<template>
    <div class="mode">
        <div class="betMoreListZone">
            <div class="header">
                <div class="header-money">
                    <el-checkbox v-model="checked" label="预选">预选</el-checkbox>
                    <el-input placeholder="请输入内容" v-model="input1">
                        <template slot="prepend">金额</template>
                    </el-input>
                    <el-button type="info">充值</el-button>
                    <el-button type="danger">提交金额</el-button>
                </div>
                <div class="header-chip">
                    <ul>
                        <li v-for="(item,index) in chip" :key="index">
                            <span>{{item}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content">
                <div class="content-header">
                    <h5>总和/龙虎</h5>
                    <div class="content-header-main">
                        <ul>
                            <li v-for="(item,index) in mian" :key="index">
                                <p>
                                    <span>{{item.name}}</span>
                                </p>
                                <p>
                                    <span style="display: block">{{item.power}}</span>
                                </p>
                                <span>
                                    <el-input v-model="input"></el-input>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="content-menu">
                    <div class="content-menu-main">
                        <ul class="genre">
                            <li class="genre-list">
                                <h5>总和/龙虎</h5>
                                <ul class="element">
                                    <li v-for="(item,index) in mian" :key="index">
                                        <p>
                                            <span>{{item.name}}</span>
                                        </p>
                                        <p>
                                            <span style="display: block">{{item.power}}</span>
                                        </p>
                                        <p>
                                           <span>
                                            <el-input v-model="input"></el-input>
                                        </span>
                                        </p>
                                    </li>
                                </ul>
                            </li>
                            <li class="genre-list">
                                <h5>总和/龙虎</h5>
                                <ul class="element">
                                    <li v-for="(item,index) in mian" :key="index">
                                        <p>
                                            <span>{{item.name}}</span>
                                        </p>
                                        <p>
                                            <span style="display: block">{{item.power}}</span>
                                        </p>
                                        <p>
                                           <span>
                                                <el-input v-model="input"></el-input>
                                            </span>
                                        </p>
                                    </li>
                                </ul>
                            </li>
                            <li class="genre-list">
                                <h5>总和/龙虎</h5>
                                <ul class="element">
                                    <li v-for="(item,index) in mian" :key="index">
                                        <p>
                                            <span>{{item.name}}</span>
                                        </p>
                                        <p>
                                            <span style="display: block">{{item.power}}</span>
                                        </p>
                                        <p>
                                           <span>
                                                <el-input v-model="input"></el-input>
                                            </span>
                                        </p>
                                    </li>
                                </ul>
                            </li>
                            <li class="genre-list"  >
                                <h5>总和/龙虎</h5>
                                <ul class="element">
                                    <li v-for="(item,index) in mian" :key="index">
                                        <p>
                                            <span>{{item.name}}</span>
                                        </p>
                                        <p>
                                            <span style="display: block">{{item.power}}</span>
                                        </p>
                                        <p>
                                           <span>
                                                <el-input v-model="input"></el-input>
                                            </span>
                                        </p>
                                    </li>
                                </ul>
                            </li>
                            <li class="genre-list"  >
                                <h5>总和/龙虎</h5>
                                <ul class="element">
                                    <li v-for="(item,index) in mian" :key="index">
                                        <p>
                                            <span>{{item.name}}</span>
                                        </p>
                                        <p>
                                            <span style="display: block">{{item.power}}</span>
                                        </p>
                                        <p>
                                           <span>
                                                <el-input v-model="input"></el-input>
                                            </span>
                                        </p>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header">
                <div class="header-money">
                    <el-checkbox v-model="checked" label="预选">预选</el-checkbox>
                    <el-input placeholder="请输入内容" v-model="input1">
                        <template slot="prepend">金额</template>
                    </el-input>
                    <el-button type="info">充值</el-button>
                    <el-button type="danger">提交金额</el-button>
                </div>
                <div class="header-chip">
                    <ul>
                        <li v-for="(item,index) in chip" :key="index">
                            <span>{{item}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import $ from "jquery";
    import lotteryHtml from '@/assets/json/lotteryTemplate/ssc.json'
    export default {
        name: "tradition",
        props:['sonData','params','lottery'],
        data(){
            return {
                templateList:[], //模板数据
                lotteryTemplateType:1,
                thatPlayType:[],
                checked:'',
                chip:[10,50,100,500,1000], //筹码
                mian:[
                    {name:"总和大大学",power:"1.96",},
                    {name:"总和大",power:"1.96",},
                    {name:"总和大",power:"1.96",},
                    {name:"总和大",power:"1.9336",},
                    {name:"龙",power:"1.96",},
                    {name:"虎",power:"1.9886",},
                    {name:"妞",power:"1.9886",},
                    {name:"妞",power:"1.9886",},
                    {name:"妞",power:"1.9886",},
                    {name:"妞",power:"1.9886",},
                ],
                input:"2000",
                input1:"111"

            }
        },
        created:function(){
            this.showTemplate()
        },
        methods:{
            // 填充json数据
            showTemplate:function () {
                let that = this
                let data = lotteryHtml.data
                for(let i in data){
                    if(data[i].playName == this.params.sonCode){ //判断json数据单个游戏选项和接口数据对应
                        that.templateList = data[i].data
                        // 获取当前玩法数据
                        $.each(this.lottery.rules, function (index, item) { //this.lottery 为彩种数据到content
                            $.each(item.rules, function (index2, item2) {
                                if(item2.code == that.params.sonCode){
                                    that.thatPlayType = item.rules
                                }
                            })
                        })
                        // 填充玩法数据
                        $.each(that.thatPlayType, function (index, item) { //大玩法
                            if(item.code == that.params.sonCode){
                                // let dxdzzh = '' ,list = [], wanName = '';
                                switch (that.params.sonCode) {
                                    case 'zhenghe':
                                        // let rows = 1 //横向排列每行4个
                                        // let cols =1  //纵向排雷每列4个
                                        // console.log(that.templateList)
                                        // console.log(item)
                                        // console.log(item.oddPlayItems.slice(0,4))
                                        that.templateList[0].rows = 1
                                        that.templateList[0].cols = that.templateList''
                                        that.templateList[0].oddPlayItems = item.oddPlayItems.slice(0,4)
                                        console.log(item)
                                        break;
                                    case 'wanwei':
                                    case 'qianwei':
                                    case 'baiwei':
                                    case 'shiwei':
                                    case 'gewei':
                                        console.log(item)
                                        break;
                                    case 'heweishu':
                                    case 'longhudou':
                                        break;
                                    case 'qiansan':
                                    case 'zhongsan':
                                    case 'housan':
                                    case 'kuadu_qiansan':
                                    case 'kuadu_zhongsan':
                                    case 'kuadu_housan':
                                        break;
                                    case 'yizi_quanwu':
                                    case 'yizi_qiansan':
                                    case 'yizi_zhongsan':
                                    case 'yizi_housan':
                                    case 'zuxuansan_qiansan':
                                    case 'zuxuansan_zhongsan':
                                    case 'zuxuansan_housan':
                                    case 'zuxuanliu_qiansan':
                                    case 'zuxuanliu_zhongsan':
                                    case 'zuxuanliu_housan':
                                        break;
                                    case 'erzi_qiansan':
                                    case 'erzi_zhongsan':
                                    case 'erzi_housan':
                                    case 'sanzi_qiansan':
                                    case 'sanzi_zhongsan':
                                    case 'sanzi_housan':
                                        break;
                                    case 'wanqian':
                                    case 'wanbai':
                                    case 'wanshi':
                                    case 'wange':
                                    case 'qianbai':
                                    case 'qianshi':
                                    case 'qiange':
                                    case 'baishi':
                                    case 'baige':
                                    case 'shige':
                                    case 'sanzidingwei_qiansan':
                                    case 'sanzidingwei_zhongsan':
                                    case 'sanzidingwei_housan':
                                        break;
                                    case 'baijiale':
                                        break;
                                    case 'niuniu':
                                        break;
                                    case 'dezhoupuke':
                                        break;
                                    case 'sangong':
                                        break;
                                }
                            }
                        })
                    }
                }
            }
        }
    }
</script>

<style lang="less" scoped>
    .betMoreListZone{
        padding-top: 15px;
        .header{
            display: flex;
            justify-content: space-around;
            box-sizing: border-box;
            margin-bottom: 20px;
            .header-money{
                display: flex;
                align-content: center;
                align-items: center;
                padding:0 20px;
                flex: 1.4;
                .el-checkbox{
                    padding-right:5px ;
                    /deep/.el-checkbox__label{
                        font-size: 12px;
                    }
                }
                /deep/.el-input-group__prepend{
                    padding:0 15px;
                }
                .el-button{
                    padding: 12px 12px;
                }
            }
            .header-chip{
                display: flex;
                justify-content: center;
                flex: 1;
                ul{
                    display: flex;
                    li{
                        width: 50px;
                        height: 41px;
                        text-align: center;
                        cursor: pointer;
                        line-height: 39px;
                        span{
                            font-size: 12px;
                            display: block;
                        }
                    }
                    & > li:nth-child(1) span{
                        background: url("../chip.png") no-repeat 0px 0;
                    }
                    & > li:nth-child(2) span{
                        background: url("../chip.png") no-repeat -100px 0;
                    }
                    & > li:nth-child(3) span{
                        background: url("../chip.png") no-repeat -150px 0;
                    }
                    & > li:nth-child(4) span{
                        background: url("../chip.png") no-repeat -200px 0;
                    }
                    & > li:nth-child(5) span{
                        background: url("../chip.png") no-repeat -50px 0;
                    }
                    & >li :hover{
                        transform: scale(1.1);
                    }
                }
            }
        }
        .content{
            text-align: center;
            width: 100%;
            .content-header{
                background:#f7f7f7;
                margin-bottom: 20px;
                h5{
                    border: 1px solid #ccc;
                    padding: 2px 0;
                    font-weight: 200;
                    border-bottom: none;
                }
                .content-header-main{
                    width: 100%;
                    height: 100%;
                    ul{
                        border: 1px solid #ccc;
                        width: 100%;
                        border-bottom: none;
                        box-sizing: border-box;
                        padding: 0 1px;
                        zoom: 1;
                        li{
                            line-height: 32px;
                            text-align: center;
                            display: flex;
                            width: 25%;
                            float: left;
                            span{
                                border: 1px solid #ccc;
                                border-top: none;
                                height: 32px;
                                color: #404449;
                                white-space: nowrap;
                                box-sizing: content-box;
                                min-width:46px;
                                display: inline-block;
                                &:nth-child(3){
                                    display: flex;
                                    justify-content: center;
                                    width: 100%;
                                }
                                &:nth-child(2){
                                    padding: 0 5px;
                                }
                                &:nth-child(1){
                                    padding: 0 5px;
                                }
                                &:nth-child(n){
                                    border-right: none;
                                }
                                .el-input{
                                    width: 75%;
                                    /deep/ .el-input__inner{
                                        height: 25px;
                                        font-size: 13px;
                                        padding: 0 2px;
                                    }
                                }

                            }
                            & >p:nth-child(2n) span{
                                color: #ff9b39;
                                font-weight: 600;
                            }
                        }
                        &::after ,&::before{
                            content: ".";
                            display: block;
                            height: 0;
                            clear: both;
                            visibility: hidden;
                        }
                        & >li:nth-child(4n) span:nth-child(3){
                            border-right: 1px solid #ccc ;
                        }
                        & >li:last-child{
                            border-right: 1px solid #ccc ;
                        }
                    }
                }
            }
            .content-menu{
                background:#f7f7f7;
                margin-bottom: 20px;
                .content-menu-main{
                    .genre{
                        display: flex;
                        padding: 0 2px;
                        width: 100%;
                        box-sizing: border-box;
                        .genre-list{
                            width: 25%;
                            h5{
                                border: 1px solid #ccc;
                                padding: 8px 0;
                                font-weight: 200;
                                border-bottom: none;
                                &:nth-child(n){
                                    border-right: none;
                                }
                            }
                            .element{
                                width: 100%;
                                li{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    white-space: nowrap;
                                    p{
                                        span{
                                            min-width: 46px;
                                            height: 33px;
                                            line-height: 33px;
                                            text-align: center;
                                            border: 1px solid #cccccc;
                                            padding: 0 5px;
                                            display: block;
                                            /deep/.el-input{
                                                width: 75%;
                                                /deep/ .el-input__inner{
                                                    height: 25px;
                                                    font-size: 13px;
                                                    padding: 0 2px;
                                                }
                                            }
                                            &:nth-child(n){
                                                border-right: none;
                                                border-bottom: none;
                                            }
                                        }
                                        &:nth-child(2) span{
                                            color: #ff9b39;
                                            font-weight: 600;
                                        }
                                        &:nth-child(2) span{
                                            color: #ff9b39;
                                            font-weight: 600;
                                        }
                                    }
                                }
                            }
                            &:last-child{
                                border-right: 1px solid #cccccc;
                            }
                        }
                    }
                }
            }
        }
    }
</style>