<template>
  <div class="index">
    <h1>Hello world!</h1>
  </div>
</template>

<script>
import '@/assets/css/index.less'
export default {
  name: 'index',
  data(){
    return{

    }
  },
  created(){
  },
  mounted(){
    this.login()
  },
  methods:{
    login(){
      let params = {
        username:'root',
        password:'123456',
        googleCode:'',
      }
      this.$post('admin/system/employee/googleLogin', params, false).then(res => {
        this.allData = res
        try {
          for(let index in this.allData.ec.game){
            for(let index2 in this.allData.ec.game[index]){
              var data = this.allData.ec.game[index][index2]
              if(data.toString().indexOf('.') != -1 && data > 0){
                let x = String(data).indexOf('.') + 1; //小数点的位置
                let y = String(data).length - x; //小数的位数
                if(y >= 2){
                  this.allData.ec.game[index][index2] = parseFloat(data).toFixed(2)
                }
              }
            }
          }
        } catch (e){
          console.log(e)
        }
      })
    },
  }
}
</script>

<style lang="less" scoped>

</style>
