<template>
  <div class="lottery">
    <div class="lottery-content" >
<!--      //lotteryDate 当前彩票数据，headerLotter是快三特出切换玩法方式headerLotter给的玩法切换数据-->
      <header-lotter :lotteryDate="lotteryDate" @headerLotter="headerLotterDate($event)" ></header-lotter>
<!--      //当前玩法的规则-->
      <header-lotter-draw-issue :lotteryDateDetailDesc="detailDesc" @drawIssueQihao="drawIssueQihao($event)"></header-lotter-draw-issue>
        <div class="lottery-all-data">
<!--          //切换主模块-->
          <main v-if="$route.query.lotGroup == 7">
            <index-k-s :KSheaderLotterDate="KSheaderLotterDate" @dateParams="GetDateParams"  :clear="clear"></index-k-s>
          </main>
          <main v-else-if="$route.query.lotGroup == 6" >
            <index-h-k :lotteryDate="lotteryDate" @dateParams="GetDateParams" :clear="clear"></index-h-k>
          </main>
          <main v-else-if="$route.query.lotGroup == 5">
            <index-s-y :lotteryDate="lotteryDate" @dateParams="GetDateParams" :clear="clear"></index-s-y>
          </main>
          <main v-else-if="$route.query.lotGroup == 3">
            <index-p-k :lotteryDate="lotteryDate" @dateParams="GetDateParams" :clear="clear"></index-p-k>
          </main>
          <main v-else-if="$route.query.lotGroup == 2">
            <index-d-p :lotteryDate="lotteryDate" @dateParams="GetDateParams" :clear="clear"></index-d-p>
          </main>
          <main v-else-if="$route.query.lotGroup == 1">
            <index-s-s :lotteryDate="lotteryDate" @dateParams="GetDateParams" :clear="clear"></index-s-s>
          </main>
          <main v-else-if="$route.query.lotGroup == 8">
            <index-k-l :lotteryDate="lotteryDate" @dateParams="GetDateParams" :clear="clear"></index-k-l>
          </main>
          <main v-else-if="$route.query.lotGroup == 9">
            <index-p-c :lotteryDate="lotteryDate" @dateParams="GetDateParams" :clear="clear"></index-p-c>
          </main>
        </div>
      <footer-page :indexs="index"></footer-page>
    </div>
  </div>
</template>
<script>
  import footerPage from "@/components/include/footerPage";
  import headerLotter from "@/components/include/headerLotter";
  import headerLotterDrawIssue from "@/components/include/headerLotterDrawIssue";
  import indexKS from "@/components/lottery/kuaisan/indexKS";
  import indexHK from "@/components/lottery/xianggangcai/indexHK";
  import indexSY from "@/components/lottery/11xuanwu/indexSY";
  import indexPK from "@/components/lottery/pkshi/indexPK";
  import indexDP from "@/components/lottery/dipingcai/indexDP";
  import indexSS from "@/components/lottery/shishicai/indexSS";
  import indexKL from "@/components/lottery/kuailshifen/indexKL";
  import indexPC from "@/components/lottery/pcdandan/indexPC";
  export default {
    name:"lottery",
    components:{footerPage,headerLotter,headerLotterDrawIssue,indexKS,indexHK,indexSY,indexPK,indexDP,indexSS,indexKL,indexPC},
    data(){
      return{
        index:2,
          lotteryDate:{},//对应的彩种数据
        detailDesc:"", //规则
        qiHao: Number,//期号
        KSheaderLotterDate:{},
        clear:0
      }
    },
    created() {
      this.getLotGamePlays()
      this.$common.getMeminfo()
    },
    mounted() {
    },
    methods:{
      //获取当前彩种数据
      getLotGamePlays(){
        this.$http.caipiao.getLotGamePlays({lotCode:this.$route.query.code}).then(res=>{
          if (res.data.success){
            this.lotteryDate = res.data.content
            this.detailDesc = this.lotteryDate.rules[0].rules[0].detailDesc
          }else {
            this.$notify({message: `获取${this.$route.query.name}出错`, duration: 900,});
          }
        })
      },
      //快三特殊切换玩法
      headerLotterDate(data){
        this.KSheaderLotterDate =data
      },
      //期号
      drawIssueQihao:function(data){
       this.qiHao = Number(data)
      },
      //投注数据
      GetDateParams:function (data){
        //lotType: 10, groupCode: 短牌,qiHao: 202006010686,version: 5,lotCode: FFK3
        //data [{"max":50000,"min":1,"name":"6点","oddsId":345957,"playCode":"daxiaoshaibao","money":"2.00"}]
        let  params={
          lotType:Number(this.lotteryDate.czCode),
          // groupCode:this.lotteryDate.rules[0].code,
          groupCode:'',
          qiHao:this.qiHao,
          version:this.$store.state.version,
          lotCode:this.lotteryDate.code,
          data:data
        }
        console.log(params)
        this.$http.caipiao.getDolotBet(params).then(res=>{
          if (res.data.success){
            this.$common.getMeminfo()
            this.clear++
            this.$toast.success('投注成功');
          }else {
            this.$toast(res.data.msg)
          }
        })
      },
    },
    watch:{
      $route(to,from){
        this.getLotGamePlays()
      }
    }
  }
</script>
<style lang="scss" scoped>
  .lottery{
    height: 100%;
    .lottery-content{
      height: 100%;
      .lottery-all-data{
        position: absolute;
        top: 2.6rem;
        max-width: 750px;
        width: 100%;
        bottom: 2.86rem;
        overflow: scroll;
        main{
          height: 100%;
          div{
            height: 100%;
          }
        }
      }
    }
  }

</style>
