@import "../include/base";
/*首页*/
.personal{
  .ground();
  .personal-header{
    width: 100%;
    height: 26.8rem;
    background: url("../../images/personal/my-1.69834af0.png") no-repeat;
    background-size: cover;
    .oneself-info-server{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 24px 14px;
      .oneself{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .icon{
          height: 3.2rem;
          width: 3.2rem;
          border-radius: 50%;
          margin-right: 12px;
          background: url("../../images/personal/home2.adadbd1c.png") no-repeat;
          background-size: cover;
        }
        .user{
          display: flex;
          flex-direction: column;
          align-items: normal;
text-align: center;
          span{
            &:first-child{
              font-size: 1.4rem;
              font-weight: 400;
              color: #fff;
            }
            &:last-child{
              padding: 3px 10px;
              background: linear-gradient(-90deg,#ebd18f,#f4e5bd);
              border-radius: 20px;
              font-size: 12px;
              color: #6a532c;
            }
          }
        }
      }
      .server{
        display: inline-block;
        width: 21px;
        height: 20px;
        background-image: url(../../images/personal/my-2.0e1dbe27.png);
        background-size: cover;
        background-repeat: no-repeat;

      }
    }
  };
  .personal-main{
    padding: 0 13px 50px 13px;
    margin-top: -175px;
    .main-account{
      background: #ffffff;
      padding: 3.2rem 18px 18px;
      border-radius: 7px;
      margin-bottom: 13px;
      .title{
        font-size: 13px;
        font-weight: 500;
        color: #606060;
        padding-bottom: 13px;
        text-align: center;
      }
      .money{
        font-size: 31px;
        font-weight: 700;
        color: #282828;
        padding-bottom: 21px;
        text-align: center;
      }
      .information{
        display: flex;
        justify-content: space-between;
        padding: 0 50px;
        align-items: center;
        .information-capital,.information-lixi{
          text-align: center;
          span{
            display: block;
            &:first-child{
              font-size: 12px;
              font-weight: 500;
              color: #999;
              padding-bottom: 11px;
            }
            &:last-child{
              font-size: 21px;
              font-weight: 700;
              color: #616161;
              text-align: center;
            }
          }

        }
      }
      .button-personal{
        padding-top: 22px;
        span{
          height: 46px;
          width: 48%;
          line-height: 46px;
          text-align: center;
          font-weight: 500;
          font-size: 16px;
          margin-right: 7px;
          color: #0f79ff;
          border-radius: 7px;
          background-color: rgba(15,121,255,.2);
          display: inline-block;
          &:nth-child(2){
            color: #ffffff;
            background-color:#0f79ff;
            margin-right: 0;
          }
        }

      }
    }
    .main-one{
      display: flex;
      justify-content: space-around;
      padding: 23px 30px;
      background: #fff;
      border-radius: 7px;
      align-items: center;
      margin-bottom: 13px;
      p{
        white-space: nowrap;
      }
      span{
        display: block;
        width: 17px;
        height: 17px;
        text-align: center;
        margin: 0 auto 2px;
      }
      .c-record{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        span{
          background: url("../../images/personal/chongzhirecord.png") no-repeat;
          background-size: contain;
        }
      }
      .t-record{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        span{
          background: url("../../images/personal/card.png") no-repeat;
          background-size: contain;
        }
      }
      .tz-record{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        span{
          background: url("../../images/personal/investrecord.png") no-repeat;
          background-size: contain;
        }
      }
      .z-record{
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        span{
          background: url("../../images/personal/my-6.9361e5dc.png") no-repeat;
          background-size: contain;
        }
      }
    }
    .main-two,.main-oneself,.main-aboutMe,.main-loginOut{
      padding: 25px 14px 22px 24px;
      background: #fff;
      border-radius: 7px;
      margin-bottom: 13px;
      .two-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;
        &:last-child{
          margin-bottom: 0;
        }
        span{
          width: 17px;
          height: 14px;
          display: inline-block;
          margin-right: 23px;
        }
        p{
          display: inline-block;
          font-size: 16px;
          color: #333333;
        }
        .two-left{
          span{
            background: url("../../images/personal/treasury.png") no-repeat;
            background-size: cover;
          }
        }
        .two-tip{
          width: 60%;
          text-align: right;
          span{
            margin-right: 11px;
            font-size: 14px;
            width: auto;
            height: auto;
            font-weight: 500;
            color: #999;
            display: inline-block;
            white-space: nowrap;
          }
          i{
            vertical-align: middle;
          }
        }
      }
      .information{
        .two-left{
          span{
            background: url("../../images/personal/message.png") no-repeat;
            background-size: cover;
          }
        }

      }.address-ele{
         .two-left {
           span {
             background: url("../../images/personal/address.png") no-repeat;
             background-size: cover;
           }
         }
      }.record{
        .two-left {
          span {
            background: url("../../images/personal/record.png") no-repeat;
            background-size: cover;
          }
        }
      }.schoolbag{
         .two-left {
           span {
             background: url("../../images/personal/schoolbag.png") no-repeat;
             background-size: cover;
           }
         }
      }
      .friend{
        .two-left {
          span {
            background: url("../../images/personal/friend.png") no-repeat;
            background-size: cover;
          }
        }
      }
      .accounts{
        .two-left {
          span {
            background: url("../../images/personal/account.png") no-repeat;
            background-size: cover;
          }
        }
      }.aboutMe{
        .two-left {
          span {
            background: url("../../images/personal/oneself.png") no-repeat;
            background-size: cover;
          }
        }
      }.loginOut{
        .two-left {
          span {
            background: url("../../images/personal/out.png") no-repeat;
            background-size: cover;
          }
        }
      }
    }

    .main-oneself{}
    .main-loginOut{}
  };
}
