<template>
	<div class="flexWrap">
		<van-nav-bar @click-left="back" left-text="返回" left-arrow class="bg-h c-w" title="代理注册" @click-right="service" right-text="客服" />
		<div class="flexContent">
			<van-cell-group>
				<van-field v-for="(item,index) in informationList" :key="index" v-model="item.names" :label="item.label" :maxlength="item.maxlength || 10" clearable :type="item.type" :placeholder="item.placeholder" />
				<van-field v-model="sms" center clearable label="验证码" placeholder="请输入验证码">
					<img @click="getSms" class="v-m" width="70" slot="button" height="24" :src="smsUrl" />
				</van-field>
			</van-cell-group>
			<van-button @click="submits" size="normal" type="danger" style="margin:20px 0 20px 10%;background: var(--l-button); border-color: var(--l-button);">立即注册</van-button>
			<div class="text-c f-s-14 c-6">
				<span @click="$emit('login')">已有账号</span>
				<span v-if="GuestSwitch">|</span>
				<span v-if="GuestSwitch" @click="demo">免费试玩</span>
			</div>
		</div>
	</div>
</template>
<script>
	import { Dialog } from 'vant';
	import { Toast } from 'vant';
	import { mapState } from 'vuex';
	export default {
		data() {
			return {
				aa:{bb:'cc'},
				informationList:[
					{label:'用户账号',maxlength:11,names:'',type:'text',placeholder:'用户名为5-11个英文字母或数字',required:2},
					{label:'登陆密码',maxlength:16,names:'',type:'password',placeholder:'密码为6-16个英文字母或数字',required:2},
					{label:'重复密码',maxlength:16,names:'',type:'password',placeholder:'请再次输入密码',required:2},
				],
				smsUrl:'',
				sms:'',//验证码
				nums: 1,
			}
		},
		watch: {

		},
		created: function() {
			this.getSms();//获取验证码
			this.regconfig();//获取注册界面配置信息
      $sky.getGuestSwitch(this);
		},
		mounted: function() {

		},
    computed: {
      ...mapState([
        'GuestSwitch'
      ])
    },
		methods: {
			//获取验证码
			getSms:function(){
				this.nums++;
				this.smsUrl = $sky.getHttp() + 'native/regVerifycode.do?v=' + this.nums;
			},
			//获取注册界面配置信息
			regconfig:function(){
				$sky.ajax('get','native/regconfig',{platForm: 2},(ret)=>{
					if(ret.success){
						if(ret.content){
							for(let i in ret.content){
								var obj = {type:'text',names:''};
								obj['label'] = ret.content[i].name;
								obj['key'] = ret.content[i].key;
								obj['placeholder'] = '请输入' + ret.content[i].name;
                switch (ret.content[i].key) {
                  case 'userName':
                    obj['maxlength'] = 4;
                    break;
                  case 'qq':
                    obj['maxlength'] = 12;
                    break;
                  case 'phone':
                    obj['maxlength'] = 11;
                    break;
                  case 'email':
                    obj['maxlength'] = 22;
                    break;
                  case 'receiptPwd':
                    obj['maxlength'] = 20;
                    break;
                  case 'cardNo':
                    obj['maxlength'] = 25;
                    break;
                  case 'wechat':
                    obj['maxlength'] = 20;
                    break;
                  case 'promoCode':
                    obj['maxlength'] = 10;
                    break;
                }
								this.informationList.push(obj);
							}
						}
					}else{
						Toast.fail('获取注册信息失败')
					}
				})
			},
			service: function() {
				Toast('客服');
			},
			//注册
			submits: function() {
				if(!this.informationList[0].names){
					Toast('账号不能为空');
					return;
				}else if(!this.informationList[1].names){
					Toast('密码不能为空');
					return;
				}else if(!this.informationList[2].names){
					Toast('重复密码不能为空');
					return;
				}else if(this.informationList[1].names != this.informationList[2].names){
					Toast('两次密码不一致');
					return;
				}
				var index = this.informationList.length - 3;
				for(var i = 0; i < index; i++ ){
					if(!this.informationList[i+3].names){
						Toast(this.informationList[i+3].label + '不能为空');
						return;
					}
				}
				if(!this.sms){
					Toast('验证码不能为空');
					return;
				}else if(this.sms.length != 4){
					Toast('验证码错误');
					return;
				}
				this.register();
			},
			register:function(){
				var data = {
					account : this.informationList[0].names,//用户名
					password : this.informationList[1].names,//密码
					rpassword : this.informationList[2].names,//确认密码
					verifyCode : this.sms,//验证码
          platForm: 2,
				};
				var index = this.informationList.length - 3;
				for(var i = 0; i < index; i++ ){
					data[this.informationList[i+3].key] = this.informationList[i+3].names;
				}
				const loading = Toast.loading({
				    duration: 0,       // 持续展示 toast
				    forbidClick: true, // 禁用背景点击
				    loadingType: 'spinner',
				    message: '提交中'
				});
				$sky.ajax('post','native/register',data,(ret)=>{
					if(ret.success){
					  let cthis = this;
						loading.clear();
						// Toast.success('等待审核');
            this.$router.push({
              path: '/login',
            })
						// $sky.setCookie('username',this.informationList[0].names);
						// setTimeout(()=>{
            //   cthis.$router.push({
            //     		path: '/index1',
            //     })
						// },1000)
					}else{
						loading.clear();
						Toast.fail(ret.msg);
					}
				})
			},
			//免费试玩
			demo: function() {
				$sky.ajax('post','native/reg_guest',{},(ret)=>{
          if(ret.success == true){
            let cthis = this;
            setTimeout(()=>{
              cthis.$router.push({
                path: '/index3',
              })
            },1000)
          }else{
            Toast.fail(ret.message);
          }
				})
			},
			back: function() {
				window.history.go(-1);
			},
		}
	}
</script>

<style scoped>
	.van-button--normal {
		width: 80%;
		margin: 40px 10% 20px 10%;
	}
  .van-button__text{
    color: #ffffff!important;
  }
  .theme-x002177{
    --l-button:#009b4d;
  }
  .theme-original {
    --l-button:#ee0a24;
  }
</style>
