<template>
	<div v-if="isLogin" id="isLogin" class="flexWrap">
		<van-nav-bar @click-left="back" left-text="返回" left-arrow class="bg-h c-w" title="用户登陆" @click-right="service" right-text="客服" />
		<div class="flexContent">
			<div class="text-c m-b-t-20">
				<img class="b-r-b50" width="100" height="100" src="../../../static/img/index/defaultHead.png"/>
			</div>
			<van-cell-group>
				<van-field class="p-l-10 c-9" v-model="name" clearable type="text" placeholder="请输入账号" left-icon="contact" />
				<van-field class="pwd" v-model="pwd"  type="password" clearable placeholder="请输入密码" />
        <van-field v-if="showVerifyCode" class="p-l-10 c-9" v-model="sms" center clearable placeholder="请输入验证码" left-icon="contact" >
          <img @click.stop="getSms" class="v-m" width="70" slot="button" height="24" :src="smsUrl" />
        </van-field>
			</van-cell-group>
      <van-checkbox v-model="rememberPass" checked-color="#07c160" style="margin: 10px 8px 5px 0" class="pull-r">记住密码</van-checkbox>
			<van-button @click="submits" size="normal" type="danger" class="c-w" style="background: var(--l-button);;border-color: var(--l-button);">立即登陆</van-button>
			<div class="text-c f-s-14 c-6">
				<span v-if="showRegister" @click="isLogin=false">立即注册</span>
				<span v-if="showRegister">|</span>
        <span v-if="dailiRegisterOnFlag" @click="goAgentRegister">代理注册</span>
        <span v-if="dailiRegisterOnFlag">|</span>
				<span v-if="GuestSwitch" @click="demo">免费试玩</span>
			</div>
		</div>
	</div>
	<div v-else="">
		<register-cell @login="isLogin=true"></register-cell>
	</div>
</template>
<script>
	import { Dialog } from 'vant';
	import { Toast } from 'vant';
	import registerCell from './register';
	import { mapState } from 'vuex';
  import $ from "jquery";
	export default {
		components: {registerCell},
		data() {
			return {
        // showRegister: true,
				isLogin:true,//登陆/注册
				name:'',//账号
				pwd:'',//密码
        sms:'',//验证码
        smsUrl:'',
        nums: 1,
        showVerifyCode: false,
        rememberPass:true, //记住密码
        dailiRegisterOnFlag:false, //代理注册
        autoTransIs:false, //额度转化开关
			}
		},
		watch: {

		},
		created: function() {
      $sky.getGuestSwitch(this);
      this.getSms();//获取验证码;
      this.getVerifyCodeSwitch();
      this.rememberUser();  //记住密码
      this.getGuestSwitch();  //记住密码
      this.autoTrans();  //额度自动转换
		},
		mounted: function() {

		},
    computed: {
      ...mapState([
        'GuestSwitch', 'showRegister'
      ])
    },
		methods: {
      // 驗證碼开关
      getVerifyCodeSwitch:function(){
        $sky.ajax('get','native/getVerifyCodeSwitch',{},(ret)=>{
          if(ret.success){
            if(ret.content[0].onFlag === 'on'){
              this.showVerifyCode = true;
            }
          }else{
            Toast.fail(ret.msg);
          }
        })
      },
      rememberUser:function(){
        if(localStorage.getItem('reUserName') && localStorage.getItem('reUserPass')){
          this.name = localStorage.getItem('reUserName')
          this.pwd = localStorage.getItem('reUserPass')
          this.rememberPass = true
        }
      },
      //获取验证码
      getSms:function(){
        this.nums++;
        this.smsUrl = $sky.getHttp() + 'native/regVerifycode.do?v=' + this.nums;
      },
		  // 试玩和转代理开关
      getGuestSwitch:function(){
        $sky.ajax('get','native/getGuestSwitch',{},(ret)=>{
          if(ret.success){
            ret.content.onFlag === 'on'? this.GuestSwitch = true: this.GuestSwitch = false;
            ret.content.dailiRegisterOnFlag === 'on'? this.dailiRegisterOnFlag = true: this.dailiRegisterOnFlag = false;
            // ret.content.trunOnFlag === 'on'? this.showRegister = false: this.showRegister = true;
          }else{
            Toast.fail(ret.msg);
          }
        })
      },
      goAgentRegister:function(){
        this.$router.push({
          path: '/agentRegister'
        })
      },
			service:function(){
        this.$router.push({
          path: '/kefu'
        })
			},
			//登陆
			submits:function(){
        if(this.rememberPass){
          localStorage.setItem('reUserName',this.name)
          localStorage.setItem('reUserPass',this.pwd)
        } else {
          localStorage.setItem('reUserName','')
          localStorage.setItem('reUserPass','')
        }
				if(!this.name){
					Toast('账号不能为空');
					return;
				}else if(!this.pwd){
					Toast('密码不能为空');
					return;
				}else{
					this.login();//登陆
				}
			},
      autoTrans:function(){
        $sky.ajax('post','native/getStationSwitch',{ type: 'game' },(ret)=>{
          if (ret.success){
            for (let [index,val] of ret.content.entries()){
              if (val.switchKey == 'autoTrans'){
                if (ret.content[index].onFlag =='on'){
                  this.autoTransIs =true
                }
              }
            }
          }
        })
      },
			//登陆
			login:function(){
				const loading = Toast.loading({
				    duration: 0,       // 持续展示 toast
				    forbidClick: true, // 禁用背景点击
				    loadingType: 'spinner',
				    message: '登陆中'
				});
				let params = {
				  username:this.name,
          password:this.pwd,
				};
				if(this.showVerifyCode){
          params.verifyCode = this.sms;
        }
				$sky.ajax('post','native/login', params,(ret)=>{
					if(ret.success){
					  console.log(ret)
            this.$cookies.set("SESSION",ret.accessToken)
            if(this.autoTransIs){
              $.ajax({
                url:'/native/checkLastThirdBalance.do',
                type:'post',
                xhrFields : {
                  withCredentials : true
                },
                success:function (res) {
                  if(res.success){
                    sessionStorage.setItem("autoTrans", "false");
                  }
                }
              })
            }
						loading.clear();
						$sky.setCookie('username',this.name, 7);
						this.$router.push({
				            path: '/',
            })
					}else{
						Toast.fail(ret.msg);
            this.getSms();
					}
				})
			},
			//免费试玩
			demo:function(){
				$sky.ajax('post','native/reg_guest',{},(ret)=>{
          if(ret.success == true){
            let cthis = this;
            setTimeout(()=>{
              cthis.$router.push({
                path: '/index3',
              })
            },1000)
          }else{
            Toast.fail(ret.message);
          }
				})
			},
			back: function() {
				this.$router.push({
		            path: '/',
		        })
			},
		}
	}
</script>

<style>
  #isLogin .van-button__text{
    color:#fff;
  }
	#isLogin .pwd{
		padding-left: 30px;
		background: url(../../../static/img/index/login_pass.png) no-repeat;
		background-position: 8px;
		background-size: 16px;
	}
	#isLogin .van-button--normal {
		width: 80%;
		margin: 40px 10% 20px 10%;
	}
  .theme-x002177{
    --l-button:#009b4d;
  }
  .theme-original {
    --l-button:#ee0a24;
  }
</style>
