@import "include/base";
.register{
  header{
    height: 4.4rem;
    background: #ec2829;
    color: #ffffff;
    line-height: 4.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    float: left;
    width: 100%;
    a{
      color: #ffffff;
      float: left;
      font-size: 2.5rem;
      left: 0.8rem;
      top: 0.4rem;
      position: absolute;
    }
    span{
      float: left;
      b{
        font-size: 1.4rem;
        border:1px solid #ffffff;
        float: left;
        border-radius: 3px;
        height: 3.3rem;
        line-height: 3.3rem;
        padding: 0 10px;
        display: block;
      }
      .active{
        color: red;
        background: #ffffff;
      }
    }
  }
  .user-input{
    position: relative;
    height: 100%;
    width: 100%;
    float: left;
    img{
      position: absolute;
      right: 10px;
      bottom: 5px;
    }
  }
  .user-button{
    width: 100%;
    height: 4rem;
    float: left;
    position: relative;
    .van-col--24{
      height: 6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      button{
        width: 32rem;
        height: 4rem;
        border-radius: 5px;
        margin-top: 3rem;
      }
    }
  }
}
