@import "include/base";
.sport{
  header{
    height: 6.8rem;
    width: 100%;
    background: #503f32;
    display: flex;
    align-items: center;
    span{
      display: inline-block;
      padding: 0 1rem;
      color: #968c84;
      cursor: pointer;
    }
    .active{
      color: #c3a45e;
    }
  }
  .nav{
    height: 12rem;
    width: 100%;
    background: url("../images/bg_ft_league.jpg") no-repeat;
    background-size: 100% 100%;
    .top{
      height: 6rem;
      padding: 0 1rem;
      div{
        padding-top: 1rem;
        span{
          width: 7rem;
          display: inline-block;
          text-align: center;
        }
      }
      .icon{
        height: 3rem;
        cursor: pointer;
        span{
          height: 100%;
          transition: .5s;
          &:hover{
            transform: scale(1.2);
          }
        }
      }
      .font{
        height: 2rem;
        span{
          height: 100%;
        }
      }
    }
    .bottom{
      height: 6rem;
      text-align: center;
      padding-top: 1.5rem;
      position: relative;
      .trophy{
        position: absolute;
        right: 1rem;
        top: 3rem;
      }
      .out{
        position: absolute;
        left: 1rem;
        top: 3rem;
      }
    }
  }
  .select-play{
    height: 7rem;
    background: #ffffff;
    .flex();
    button{
      margin: 0 1rem;
      padding: 1.2rem 1.6rem;
      border:1px solid #adadad;
      border-radius: 5px;
      background: none;
    }
    .active{
      border: 1px solid #a78025;
      color: #a78025;
    }
  }
  .content{
    .box{
      background: #ffffff;
      //padding-bottom: 1rem;
      position: relative;
      .title{
        height: 4.7rem;
        padding: 0 1.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #ededed;
        span{
          font-weight: 600;
        }
      }
      .data{
        padding: 0 1.5rem;
        .team{
          width: 50%;
          display: inline-block;
          .list{
            height: 4.7rem;
            margin-bottom: .7rem;
            line-height: 4.7rem;
            .label{
              color: #19805c;
              font-weight: 600;
            }
            .number{
              color: #c0a362;
              font-weight: 600;
              margin-right: 2rem;
            }
          }
        }
      }
      .bet-number{
        display: inline-block;
        width: 50%;
        overflow-x: auto;
        overflow-y: hidden;
        position: absolute;
        .list{
          width: 100%;
          white-space: nowrap;
          height: 4.7rem;
          margin-bottom: .7rem;
          line-height: 4.7rem;
          span{
            margin: 0 .7rem;
          }
          .bet-title{
            display: inline-block;
            width: 6.4rem;
            text-align: center;
            line-height: 6.4rem;
            height: 100%;
          }
          .button{
            display: inline-block;
            height: 4.7rem;
            width: 6.4rem;
            text-align: center;
            border:1px solid #c2c2c2;
            border-radius: 5px;
            padding-top: .5rem;
            box-sizing: border-box;
            p{
              line-height: 1.8rem;
              &:nth-child(2){
                color: #c8250a;
                font-weight: 600;
              }
            }
          }
        }
      }
      .all{
        background: #ededed;
        .all-header{
          background: #ffffff;
          width: 100%;
          height: 4.8rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 1.5rem;
          border-bottom: 1px solid #c8c8c8;
          border-top: 1px solid #c8c8c8;
          box-sizing: border-box;
          button{
            border-radius: 25px;
            border: 1px solid #c8c8c8;
            background: none;
            padding: .5rem .8rem;
            margin-right: 1rem;
            cursor: pointer;
          }
          .active{
            background: #a78025;
            border: 1px solid #a78025;
            color: #ffffff;
          }
        }
        .all-title{
          padding: 1rem 0;
          text-align: center;
          cursor: pointer;
          span{
            font-size: 1.6rem;
            margin-left: 20px;
          }
          .active{
            color: #a78025;
            font-weight: 600;
          }
        }
        .all-button{
          margin-top: 1rem;
          padding: 0 1.5rem;
          .list{
            //display: flex;
            //justify-content: space-between;
            text-align: center;
            margin-top: 1rem;
            .button{
              display: inline-block;
              height: 4.7rem;
              width: 17rem;
              text-align: center;
              border:1px solid #c2c2c2;
              border-radius: 5px;
              padding-top: .5rem;
              box-sizing: border-box;
              background: #ffffff;
              margin-left: 10px;
              margin-top: 10px;
              cursor: pointer;
              p{
                line-height: 1.8rem;
                &:nth-child(2){
                  color: #c8250a;
                  font-weight: 600;
                }
              }
            }
          }
        }
      }
      .team-date{
        .list{
          padding: 0 1.5rem;
          display: flex;
          justify-content: space-between;
          font-size: 1.6rem;
          .number{
            color: #c0a362;
            font-weight: 600;
            margin-right: 2rem;
          }
          .label{
            color: #19805c;
            font-weight: 600;
          }
          p{
            margin-top: 1rem;
          }
        }
      }
      .bet-button{
        margin-top: 2rem;
        padding: 0 1.5rem;
        .button-box{
          width: 33%;
          display: inline-block;
          margin-top: 1rem;
          .button{
            width: 80%;
            height: 4.7rem;
            text-align: center;
            border:1px solid #c2c2c2;
            border-radius: 5px;
            padding-top: .5rem;
            box-sizing: border-box;
            background: #ffffff;
            margin: 0 auto;
            p{
              line-height: 1.8rem;
              &:nth-child(2){
                color: #c8250a;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }
  .bet-box{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 24rem;
    background: #ffffff;
    border-top: 1px solid #a0a3a3;
    padding: 1rem 1rem 0 1rem;
    box-sizing: border-box;
    .close{
      position: absolute;
      right: 1rem;
      top:1rem;
    }
    p{
      margin: .7rem 0;
      font-size: 1.4rem;
      text-align: center;
      .odds{
        color: #c8250a;
        font-weight: 600;
      }
      input{
        height: 4rem;
        width: 14rem;
        padding-left: 1rem;
        line-height: 4rem;
      }
    }
    button{
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 5.5rem;
      background: #a78025;
      border:none;
      color: #ffffff;
      font-size: 1.6rem;
    }
  }
  .nation{
    .nation-list{
      width: 100%;
      .title{
        height: 5rem;
        background: #ededed;
        line-height: 5rem;
        padding-left: 20px;
        color: #c3a45e;
      }
      .list{
        height: 5rem;
        line-height: 5rem;
        padding-left: 40px;
      }
    }
  }
  .tip{
    height: 100px;
    .flex();
    color: #a0a3a3;
    font-size: 16px;
  }
  @media screen and (min-width: 600px) {
    header span{
      font-size: 1.6rem!important;
    }
    .nav{
      height: 14rem;
      .bottom span:nth-child(1){
        font-size: 1.6rem;
      }
    }
    .nav .bottom span:nth-child(3){
      font-size: 1.8rem;
    }
    .nation{
      padding: 0 10px;
      .title{
        text-align: center!important;
      }
      .list{
        padding-left: 20px!important;
        text-align: center!important;
      }
    }
    .team{
      width: 20%!important;
    }
    .bet-number{
      width: 70%!important;
      text-align: center;
      cursor: pointer;
    }
  }
}
