<template>
  <div>
    <van-nav-bar class="bg-h c-w" left-arrow @click-left="back" title="投注记录 "/>
    <div class="p-l-r-20 bg-w c-6">
      <div v-for="(item,index) in jiluList" @click="goJilu(item)" class="h-50 l-h-50 flex">
        <van-icon :name="item.icon" size="20px" class="v-m p-r-10 l-h-50" />
        <span class="v-m flex1 f-s-20" v-if="index == 0 && (floder == 'x002163' || floder == 'x002171' || floder == 'x002164' || floder == 'a00204')">公益投注记录</span>
        <span class="v-m flex1 f-s-20" v-else>{{item.name}}</span>
        <van-icon name="arrow" class="v-m l-h-50"></van-icon>
      </div>
    </div>
  </div>
</template>

<script>
  import $ from "jquery";

  export default {
    data() {
      return {
        localhost: window.location.origin,
        jiluList:[
          {
            name: '彩票投注记录',
            icon: 'https://a03301.xbzhanshi.com/mobile/anew/v5/static/img/lianxijilu.png',
          },
          {
            name: '三方彩票记录',
            icon: 'https://a03301.xbzhanshi.com/mobile/anew/v5/static/img/rili.png',
          },
          {
            name: '体育投注记录',
            icon: 'https://a03301.xbzhanshi.com/mobile/anew/v5/static/img/football.png',
          },
          {
            name: '真人投注记录',
            icon: 'https://a03301.xbzhanshi.com/mobile/anew/v5/static/img/zhangdan.png',
          },
          {
            name: '棋牌游戏记录',
            icon: 'https://a03301.xbzhanshi.com/mobile/anew/v5/static/img/money.png',
          },
          {
            name: '电子游戏记录',
            icon: 'https://a03301.xbzhanshi.com/mobile/anew/v5/static/img/wenjianjia.png',
          },
          {
            name: '电竞投注记录',
            icon: 'https://a03301.xbzhanshi.com/mobile/anew/v5/static/img/wenjianjia.png',
          },
        ],
        floder:'',
      }
    },
    created() {
      this.getStationInfo()
      this.getScoreSwitch()
    },
    methods:{
      goJilu:function(item){
        switch (item.name) {
          case '彩票投注记录':
          case '任务投注记录':
          case '公益投注记录':
          case '任务下单记录':
            this.$router.push({
              path: '/touzhu',
              query:{caipiao:"all"}
            });
            break;
          case '三方彩票记录':
            this.$router.push({
              path: '/sanfangLottery'
            });
            break;
          case '体育投注记录':
            this.$router.push({
              path: '/sportTouzhu'
            });
            break;
          case '真人投注记录':
            this.$router.push({
              path: '/realTouZHu'
            });
            break;
          case '棋牌游戏记录':
            this.$router.push({
              path: '/chessTouzhu'
            });
            break;
          case '电子游戏记录':
            this.$router.push({
              path: '/egameTouzhu'
            });
            break;
          case '电竞投注记录':
            this.$router.push({
              path: '/esportTouZhu'
            });
            break;
        }
      },
      back: function() {
        window.history.go(-1);
      },
      getScoreSwitch:function () {
        let that = this
        $sky.ajax('post', 'native/getScoreSwitch',this.params, (ret) => {
          if (ret.success){
            let arr = []
            for (let [index,item] of this.jiluList.entries()){
              for (let [index2,item2] of ret.content.entries()){
                if (item.name == item2.switchDesc){
                    arr.push(item)
                }
              }
            }
            this.jiluList = arr
            for(let index in that.jiluList){
              if(that.jiluList[index].name =='彩票投注记录'){
                if(that.floder == 'x002129' || that.floder == 'x002147'){
                  that.jiluList[index].name = '任务投注记录'
                }else if(that.floder == 'x002' ){
                  that.jiluList[index].name = '公益投注记录'
                }else if (that.floder == 'x002177' || this.floder == 'x002178' || this.floder == 'x002188' || this.floder == 'x002185'){
                  that.jiluList[index].name = '任务下单记录'
                }
              }
            }
            console.log(that.jiluList)
          }
        })
      },
      getStationInfo:function(){
        $sky.ajax('get', 'native/getStationInfo', {}, (ret) => {
          this.floder = ret.content.station.floder
        });
      },
    },

  }
</script>

<style scoped>
  .van-icon--image img{
    top: 100%;
  }
</style>
