<template>
	<div class="flexWrap">
		<van-nav-bar @click-left="back" left-text="返回" left-arrow class="bg-h c-w" title="安全中心" />
		<div class="flexContent">
			<van-cell-group>
				<van-cell @click="Jump('/setLoginPwd','login')" title="修改登陆密码" is-link value="修改" />
				<van-cell @click="Jump('/setLoginPwd','qukuan')" title="修改取款密码" is-link value="修改" />
			</van-cell-group>
			<van-cell-group class="m-t-10">
				<van-cell @click="loginOut" class="e54042" title="退出登陆" is-link />
			</van-cell-group>
		</div>
    <!--设置取款密码-->
    <van-dialog v-model="set_receipt_pwd" show-cancel-button :before-close="beforeClose">
      <h1 class="p-10 text-c f-s-20">设置取款密码</h1>
      <van-field v-model="password" clearable type="password" maxlength="6" label="取款密码" placeholder="请输入取款密码" />
      <van-field v-model="passwords" clearable type="password" maxlength="6" label="再次输入" placeholder="请再次输入取款密码" />
    </van-dialog>
	</div>
</template>

<script>
	import { Dialog } from 'vant';
	import { Toast } from 'vant';
	export default {
		data() {
			return {
        set_receipt_pwd: false,
        password: '',
        passwords:'',
			}
		},
		watch: {

		},
		created: function() {
			this.getAccountInfo();
		},
		mounted: function() {

		},
		methods: {
      //设置提款密码
      beforeClose: function(action, done) {
        if(action === 'confirm') {
          setTimeout(done, 1000);
          $sky.ajax('post', 'native/set_receipt_pwd', {
            pwd: this.password,
            againPwd: this.passwords
          }, (ret) => {
            if(ret.success) {
              Dialog.confirm({
                title: '设置成功！',
                cancelButtonText: '取消',
                confirmButtonText: '确定',
              }).then(() => {
                this.$router.push({
                  path: '/setLoginPwd',
                  query: {type: 'qukuan',}
                })
              })
            } else {
              Dialog.alert({
                title: ret.msg
              })
            }
          })
        } else {
          done();
        }
      },
			//公用跳转
			Jump:function(path,type){
			  if(type ==="qukuan"){
          if(!this.userInfor.receiptPwd && !this.set_receipt_pwd && this.userInfor !== ''){
            Dialog.confirm({
              title: '设置提款密码',
              message: '您还未设置提款密码，是否现在设置？',
              cancelButtonText: '否',
              confirmButtonText: '是',
            }).then(() => {
              this.set_receipt_pwd = true;
            });
            return;
          }
        }
				this.$router.push({
            path: path,
            query: {type: type,}
        })
			},
      //获取用户信息
      getAccountInfo: function() {
        $sky.ajax('post', 'native/accountInfo', {}, (ret) => {
          if(ret.success) {
            this.userInfor = ret.content;
          } else {
            if(!ret.isLogin) {
              this.$router.push({
                path: '/login',
                query: {}
              })
            }
          }
        })
      },
			//退出登陆
			loginOut: function() {
				Dialog.confirm({
					title: '退出提示',
					message: '您确定要退出登陆吗？'
				}).then(() => {
					$sky.ajax('post','native/logout',{},(ret)=>{
						if(ret.success){
						  //  pass name get null
              localStorage.setItem('reUserName','')
              localStorage.setItem('reUserPass','')
							this.$router.push({
					            path: '/login',
					        })
						}else{
							Toast.fail(ret.msg);
						}
					})
				})
			},
			back: function() {
				window.history.go(-1);
			},
		}
	}
</script>

<style>

</style>
