<template>
  <div>
    <van-nav-bar @click-left="back" @click-right="filter = true" left-text="返回" left-arrow class="bg-h c-w"
                 title="订单详情"/>
    <p class="text-c h-50 l-h-50 f-s-16 b-b bg-f8">订单号: <span class="c-r">{{ data.bettingCode }}</span></p>
    <div class="flex text-c h-50 l-h-50 f-s-16 b-b">
      <div class="w-b20 bg-f8">会员</div>
      <div class="flex1 bg-w">{{ data.memberName }}</div>
      <div class="w-b20 bg-f8">下注金额</div>
      <div class="w-b15 bg-w">{{ data.bettingMoney }}</div>
    </div>
    <div class="flex text-c h-50 l-h-50 f-s-16 b-b">
      <div class="w-b20 bg-f8">下注时间</div>
      <div class="flex1 bg-w">{{ getTime(data.bettingDate) }}</div>
      <div class="w-b20 bg-f8">球类</div>
      <div class="w-b15 bg-w">{{ data.sportType === 1? '足球': '篮球' }}</div>
    </div>
    <div class="flex text-c h-50 l-h-50 f-s-16 b-b">
      <div class="w-b20 bg-f8">类型</div>
      <div class="flex1 bg-w">{{ data.typeNames }}</div>
      <div class="w-b20 bg-f8">盘</div>
      <div class="w-b15 bg-w">{{ getpan(data.plate) }}</div>
    </div>
    <div class="flex text-c h-50 l-h-50 f-s-16 b-b">
      <div class="w-b20 bg-f8">提交状态</div>
      <div class="flex1 bg-w">{{ submitStatus(data.bettingStatus) }}</div>
      <div class="w-b20 bg-f8">结算状态</div>
      <div class="w-b15 bg-w">{{ winStatus(data) }}</div>
    </div>
    <div class="flex text-c h-50 l-h-50 f-s-16 b-b">
      <div class="w-b20 bg-f8">派彩金额</div>
      <div class="flex1 bg-w c-r">{{ winMoney(data) }}</div>
    </div>
    <div class="flex text-c l-h-50 f-s-16">
      <div class="w-b20 bg-f8">赛事</div>
      <div class="flex1 bg-w">
        <p>{{ data.league }}</p>
        <p>{{ data.homeTeam }} vs {{ data.homeTeam }}</p>
        <p> <span class="c-r">{{ JSON.parse(data.remark).result }}</span> @ <span class="c-r">{{ JSON.parse(data.remark).odds }}</span> </p>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        data: this.$route.query.data
      }
    },
    created:function(){
      // console.log(this.$route.query.data)
    },
    methods: {
      getpan:function(plate){
        switch (plate) {
          case 'H':
            return '亚洲盘';
          case 'I':
            return '印尼盘';
          case 'E':
            return '欧洲盘';
          case 'M':
            return '马来西亚盘';
          default:
            return ''
        }
      },
      // 提交状态
      submitStatus:function(status){
        switch (status) {
          case 1:
            return "待确认";
          case 2:
            return "已确认";
          case 3:
          case 4:
            return "订单取消";
          default:
            return '未知状态'
        }
      },
      // 结算状态
      winStatus:function(data){
        switch (data.resultStatus) {
          case 1:
            return '全输';
          case 2:
            return '输一半';
          case 3:
            return '平';
          case 4:
            return '赢一半';
          case 5:
            return '全赢';
          default:
            return '未结算'
        }
      },
      // 派彩金额
      winMoney:function(data){
        switch (data.resultStatus) {
          case 1:
            return -data.bettingMoney;
          case 2:
            return -(data.bettingMoney/2);
          case 3:
            return 0;
          case 4:
            return (data.bettingMoney * data.odds)/2;
          case 5:
            return (data.bettingMoney * data.odds);
          default:
            return ''
        }
      },
      //转换时间
      getTime: function(time) {
        if(typeof (time) === 'number'){
          var date = new Date(time);
        }else if(typeof (time) === 'string') {
          var date = new Date(time.replace(/-/g, '/'));
        }
        var Month = (date.getUTCMonth()+1) < 10 ? '0' + (date.getUTCMonth()+1) : date.getUTCMonth()+1;
        var UTCDate = date.getUTCDate() < 10 ? '0' + date.getUTCDate() : date.getUTCDate();
        var Hours = date.getHours() < 10 ? '0' + date.getHours() : date.getHours();
        var Minutes = date.getMinutes() < 10 ? '0' + date.getMinutes() : date.getMinutes();
        var second = date.getDay() < 10 ? '0' + date.getDay() : date.getDay();
        var currentdate = date.getFullYear() + '-' + Month + '-' + UTCDate + ' ' + Hours + ":" + Minutes + ':' + second;
        return currentdate;
      },
      back: function () {
        window.history.go(-1);
      }
    }
  }
</script>

<style scoped>

</style>
