<template>
	<div class="flexWrap" id="daili">
		<van-nav-bar @click-left="back" left-text="返回" left-arrow class="bg-h c-w" title="代理中心" />
		<div class="flexContent">
			<img class="w-b100" src="../../../static/img/index/proxySlide.png" />
			<van-cell-group>
				<van-cell @click="goDetails('/dlExplain')"  title="代理说明" is-link />
				<van-cell @click="goDetails('/teamTj')"     title="团队统计" is-link />
				<van-cell @click="goDetails('/vipAdmin')"   title="会员管理" is-link />
				<van-cell @click="goDetails('/touzhu','daili')"     title="投注明细" is-link />
				<van-cell @click="goDetails('/xjRegister')" title="下级开户" is-link />
				<van-cell @click="goDetails('/yjtc')" title="业绩提成" is-link v-if="$store.state.stationInfo.station.floder != 'x00292'" />
			</van-cell-group>
		</div>
	</div>
</template>

<script>
	import { Dialog } from 'vant';
	import { Toast } from 'vant';
	export default {
		data() {
			return {

			}
		},
		watch: {

		},
		created: function() {

		},
		mounted: function() {

		},
		methods: {
			//详情跳转公用
			goDetails:function(path,daili){
				this.$router.push({
					path: path,
					query: {caipiao:daili}
				})
			},
			back: function() {
				window.history.go(-1);
			},
		}
	}
</script>

<style>

</style>
