<template>
	<div class="flexWrap bg-w">
		<van-nav-bar @click-left="back" class="bg-h c-w" title="注单详情" left-text="返回" left-arrow />
		<div class="flexContent">
			<div class="p-b-t-15 m-l-r-10 p-r">
				<!--<img width="48" height="48" class="b-r-b50" src="../../../dist/static/img/banner2.0c212ea.png" />-->
				<div class="d-i p-r t--4 l-10">
					<div>
						<h1 class="f-s-18">{{detailsData.lotName}}</h1>
					</div>
					<p class="f-s-14 c-9 m-t-5">{{detailsData.qiHao}}</p>
				</div>
				<div class="p-a r-0 t-15 c-r f-s-16 zj">{{prizeStatus(detailsData.status)}}</div>
			</div>
			<van-cell-group class="c-3">
				<van-cell>
					<template slot="title" class="f-s-18">
						<span class="van-cell-text f-s-16" v-if="floder == 'x002185' || floder == 'x002188'">下单时间</span>
						<span class="van-cell-text f-s-16" v-else>投注时间</span>
						<span class="van-cell-text m-l-20 f-s-16">{{getTime(detailsData.createTime)}}</span>
					</template>
				</van-cell>
				<van-cell>
					<template slot="title" class="f-s-18">
						<span class="van-cell-text f-s-16" v-if="floder == 'x002185' || floder == 'x002188'">下单单号</span>
						<span class="van-cell-text f-s-16" v-else>投注单号</span>
						<span class="van-cell-text m-l-20 f-s-16">{{detailsData.orderId}}</span>
					</template>
				</van-cell>
				<van-cell>
					<template slot="title" class="f-s-18">
						<span class="van-cell-text f-s-16" v-if="floder == 'x002185' || floder == 'x002188'">下单积分</span>
						<span class="van-cell-text f-s-16" v-else>投注金额</span>
						<span class="van-cell-text m-l-20 f-s-16" v-if="floder == 'x002185' || floder == 'x002188'">{{detailsData.buyMoney}}{{moneyUnit}}</span>
						<span class="van-cell-text m-l-20 f-s-16" v-else>{{detailsData.buyMoney}}{{moneyUnit}} ( 赔率: {{ detailsData.odds }} )</span>
					</template>
				</van-cell>
				<van-cell>
					<template slot="title" class="f-s-18">
						<span class="van-cell-text f-s-16" v-if="floder == 'x002185' || floder == 'x002188'">派送积分</span>
						<span class="van-cell-text f-s-16" v-else>派送奖金</span>
						<span class="van-cell-text m-l-20 f-s-16">{{detailsData.winMoney>0? detailsData.winMoney : '0.00'}}{{moneyUnit}}</span>
					</template>
				</van-cell>
				<van-cell v-if="detailsData.lotteryHaoMa">
					<template slot="title" class="f-s-18">
						<span class="van-cell-text f-s-16">开奖号码</span>
<!--						<span class="van-cell-text m-l-20 f-s-16" v-if="floder == 'x002177'">{{detailsData.lotteryHaoMa | x002177Filters}}</span>-->
						<span class="van-cell-text m-l-20 f-s-16" v-if="floder == 'x002178' || floder == 'x002188' || floder == 'x002185'">{{detailsData.lotteryHaoMa | x002178Filters}}</span>
						<span class="van-cell-text m-l-20 f-s-16" v-else>{{detailsData.lotteryHaoMa}}</span>
					</template>
				</van-cell>
			</van-cell-group>
			<div class="f-s-16 m-t-50 m-l-r-10">
				<div class="m-l-10" v-if="floder == 'x002185' || floder == 'x002188'">我的下单</div>
				<div class="m-l-10" v-else>我的投注</div>
				<div class="p-r">
					<img height="120" style="width: 100%;" src="../../../static/img/paper.png" />
					<div class="c-9 p-a kj">
<!--						<div v-if="floder == 'x002177'">{{detailsData.haoMa | x002177Filters}}</div>-->
						<div v-if="floder == 'x002178' || floder == 'x002185' || floder == 'x002188'">{{detailsData.haoMa | x002178Filters}}</div>
						<div v-else>{{detailsData.haoMa}}</div>
						<div class="clear p-b-5 b-b">
							<div class="f-s-14 pull-l">{{detailsData.groupName}}</div>
							<div class="f-s-12 pull-r" v-if="floder == 'x002185' || floder == 'x002188'">积分：{{detailsData.winMoney>0? detailsData.winMoney : '0.00'}}</div>
							<div class="f-s-12 pull-r" v-else>奖金：{{detailsData.winMoney>0? detailsData.winMoney : '0.00'}}{{moneyUnit}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { Dialog } from 'vant';
	import { Toast } from 'vant';
	export default {
		data() {
			return {
				orderId:'',//订单号
				detailsData:'',//详情数据
        floder:this.$store.state.floder,
        moneyUnit:'元',
			}
		},
		watch: {

		},
		created: function() {
			this.orderId = this.$route.query.orderId;//订单号
			this.getDetails();//获取订单详情
		},
		mounted: function() {
      if(this.floder == 'x002185' || this.floder == 'x002188'){
        this.moneyUnit = '积分'
      }
		},
		methods: {
			//获取订单详情
			getDetails:function(){
				$sky.ajax('post', 'lotteryBet/getBcLotteryOrderDetail', {orderId:this.orderId,lotCode:this.$route.query.lotCode} , (ret) => {
					if(ret) {
						this.detailsData = ret;
					} else {
						if(!ret.isLogin) {
							Dialog.alert({
								title: '登陆提示',
								message: ret.msg
							}).then(() => {
								this.$router.push({
									path: '/login',
								})
							});
						}
					}
				})
			},
			//中奖状态转换
			prizeStatus:function(status){
				switch (status){
					case 1:
						return '未开奖'
						break;
					case 2:
						return '已中奖'
						break;
					case 3:
						return '未中奖'
						break;
					case 4:
						return '已撤单'
						break;
					default:
						break;
				}
			},
			//转换时间
			getTime:function(time){
				return $sky.getDateFull(time);
			},
			back: function() {
				window.history.go(-1);
			},
		},
    filters:{
      x002177Filters:function (value){
        switch (value){
          case '大':
            return '博';
          case '小':
            return '施';
          case '单':
            return '济'
          case '双':
            return '众'
        }
      },
      x002178Filters:function (value){
        switch (value){
          case '大':
            return '福';
          case '小':
            return '禄';
          case '单':
            return '寿'
          case '双':
            return '喜'
        }
      }
    }
	}
</script>
<style scoped>
	.kj{
		top: 50px;
		left: 20px;
		right: 20px;
	}
</style>
