<template>
  <div id="realTouZhu" class="flexWrap" style="background: #efeff4;">
    <van-nav-bar @click-left="back" @click-right="showFilter"  left-text="返回" right-text="筛选" left-arrow class="bg-h c-w" title="电子游戏记录" />
    <!--玩法	-->
    <van-popup v-model="filter" position="top" :overlay="false" style="height: 100%">
      <div class="p-l-r-20 p-b-t-10 bg-w">
        <div class="flex h-50 l-h-50 b-b">
          <div class="w-b30">开始</div>
          <div class="flex1"><input type="date" id="begin" class="h-b100"></div>
        </div>
        <div class="flex h-50 l-h-50 b-b">
          <div class="w-b30">截止</div>
          <div class="flex1"><input type="date" id="end" class="h-b100"></div>
        </div>
        <div class="flex h-50 l-h-50 b-b">
          <div class="w-b30">平台类型</div>
          <div class="flex1">
            <select name="code" id="realType" class="changeData">
              <option value="0">所有电子</option>
              <option value="3">mg电子游艺</option>
              <option value="1">ag电子游艺</option>
              <option value="2">bbin电子游艺</option>
              <option value="4">QT电子游艺</option>
              <option value="6">PT电子游艺</option>
              <option value="9">CQ9电子游艺</option>
              <option value="11">JDB电子游艺</option>
              <option value="92">TTG电子游艺</option>
              <option value="95">MW电子游艺</option>
              <option value="96">ISB电子游艺</option>
              <option value="98">BG电子游艺</option>
            </select>
          </div>
        </div>
        <div @click="search" class="w-b80 bg-h c-w text-c p-10 b-r-6" style="margin: 10px auto  ">确定</div>
      </div>
    </van-popup>

    <div class="m-15 bg-w b-r-6 p-b-t-15">
      <van-row>
        <van-col span="6" class="text-c">
          <p>投注</p>
          <p class="c-h">{{ realDetails.aggsData.bettingMoneyCount || '0.00'}}</p>
        </van-col>
        <van-col span="6" class="text-c">
          <p>有效投注</p>
          <p class="c-h">{{ realDetails.aggsData.realBettingMoneyCount || '0.00'}}</p>
        </van-col>
        <van-col span="6" class="text-c">
          <p>中奖</p>
          <p class="c-g">{{ realDetails.aggsData.winMoneyCount || '0.00'}}</p>
        </van-col>
        <van-col span="6"  class="text-c">
          <p>盈利</p>
          <p class="c-h">{{ JSON.stringify(realDetails.aggsData)!== "{}"? (realDetails.aggsData.winMoneyCount - realDetails.aggsData.bettingMoneyCount).toFixed(2) : '0.00' }}</p>
        </van-col>
      </van-row>
    </div>
    <div class="flexContent m-l-r-15 b-r-6" style="">
        <van-list v-model="loading" :finished="finished" :offset="100" @load="onLoad">
          <div v-if="itemList && itemList.length>0" v-for="item in itemList" class="all bg-w" >
            <div class="p-b-t-10 m-l-10 b-b p-r-10">
              <div class="clear">
                <p class=" f-s-21 pull-l h-20 l-h-20">游戏名称：{{item.gameType}}</p>
                <p class="f-s-21 h-20 l-h-20 pull-r c-6">投注金额 : <span class="c-h">{{ item.realBettingMoney}}</span>元</p>
              </div>
              <div class="f-s-14 money clear c-6">
                <div class="f-s-18 pull-l h-20 l-h-20">
                  时间 : {{getTime(item.createDatetime)}}
                </div>
                <p class="text-c pull-r h-20 l-h-20 f-s-18">盈亏 : {{item.winMoney}}</p>
              </div>
            </div>
          </div>
        </van-list>
        <div v-if="noData" class="text-c m-t-50">
          <img width="80" src="../../../static/img/pic_empty.png" />
          <div class="f-s-12 c-9">暂无数据</div>
        </div>
    </div>
  </div>
</template>

<script>
  import { Dialog } from 'vant';
  export default {
    data() {
      return {
        filter:false, // 筛选
        params:{
          type: 0,
          page:1,
          rows:10,
        },
        realDetails:{
          aggsData:{
            bettingMoneyCount: '0.00',
            winMoneyCount: '0.00',
          }
        },
        loading: false, //是否加载状态
        finished: false, //是否已全部加载完成
        itemList:[],
        noData:false,
      }
    },
    created:function(){
      this.params.startTime = $sky.getdate(0) +' 00:00:00';
      this.params.endTime = $sky.getdate(0) + ' 23:59:59';
      this.getRecord();// 获取真人投注记录
    },
    methods: {
      // 显示筛选框
      showFilter:function(){
        this.filter = !this.filter;
        let begin = this.getToday();
        if(!$('#begin').val()){
          setTimeout(function () {
            $('#begin').attr('value', begin);
            $('#end').attr('value', begin);
          },100)
        }
      },
      // 筛选
      search:function(){
        this.params.startTime = $('#begin').val() +' 00:00:00';
        this.params.endTime = $('#end').val() + ' 23:59:59';
        this.params.type = $('#realType').val();
        this.getRecord();
        this.filter = false;
      },
      getToday:function(){
        var date = new Date();
        return date.getFullYear() + '-' + ((date.getMonth()+1) < 10? '0'+(date.getMonth()+1): (date.getMonth()+1))  + '-' +  (date.getDate() < 10?  '0'+date.getDate(): date.getDate());
      },
      //下拉加载更多
      onLoad: function() {
        setTimeout(() => {
          if(this.finished){
            return
          }
          this.params.page = this.params.page +1;
          $sky.ajax('post', 'native/egamerecord',this.params, (ret) => {
            if(ret.rows) {
              this.loading = false;
              if(ret.total <= this.itemList.length) {
                this.finished = true;
                return false;
              }
              for(let i in ret.rows) {
                this.itemList.push(ret.rows[i])
              }
            } else {
              this.loading = false;
              this.finished = true;
              if(!ret.isLogin) {
                Dialog.alert({
                  title: ret.msg,
                }).then(() => {
                  this.$router.push({
                    path: '/login',
                  })
                });
              }
            }
          })
        }, 500);
      },
      //转换时间
      getTime: function(time) {
        return $sky.getDateFull(time);
      },
      back: function () {
        window.history.go(-1);
      },
      //获取投注记录
      getRecord:function () {
        $sky.ajax('post', 'native/egamerecord', this.params, (ret) => {
          if(ret.isLogin === false) {
            Dialog.alert({
              title: ret.msg,
            }).then(() => {
              this.$router.push({
                path: '/login',
              })
            });
          } else {
            this.realDetails = ret;
            this.itemList = ret.rows;
            if(!ret.total){
              this.finished = true;
              this.loading = false;
              this.noData = true;
            }
          }
        })
      }
    }
  }
</script>

<style scoped>
#realTouZhu .c-g{
  color: green;
}
.van-popup--top{
  top: 46px;
}
.van-popup{
  background: rgba(0,0,0,.3);
}
input[type=date],  select {
  display: block;
  width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  padding: 0 0 0 .25rem;
  margin: 0;
  font-family: inherit;
  background: 0 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}
  #begin, #end{
    font-size: .7rem;
    color: red;
  }
</style>
