<template>
  <div class="flexWrap bg-w">
    <van-nav-bar @click-left="back" class="bg-h c-w" title="注单详情" left-text="返回" left-arrow />
    <div class="flexContent">
<!--      <div class="p-b-t-15 m-l-r-10 p-r">-->
<!--        &lt;!&ndash;<img width="48" height="48" class="b-r-b50" src="../../../dist/static/img/banner2.0c212ea.png" />&ndash;&gt;-->
<!--        <div class="d-i p-r t&#45;&#45;4 l-10">-->
<!--          <div>-->
<!--            <h1 class="f-s-18">{{detailsData.lotName}}</h1>-->
<!--          </div>-->
<!--          <p class="f-s-14 c-9 m-t-5">{{detailsData.qiHao}}</p>-->
<!--        </div>-->
<!--        <div class="p-a r-0 t-15 c-r f-s-16 zj">{{prizeStatus(detailsData.status)}}</div>-->
<!--      </div>-->
      <van-cell-group class="c-3">
        <van-cell>
          <template slot="title" class="f-s-18">
            <span class="van-cell-text f-s-16">投注时间</span>
            <span class="van-cell-text m-l-20 f-s-16">{{getTime(detailsData.createDatetime)}}</span>
          </template>
        </van-cell>
        <van-cell>
          <template slot="title" class="f-s-18">
            <span class="van-cell-text f-s-16">投注单号</span>
            <span class="van-cell-text m-l-20 f-s-16">{{detailsData.orderId}}</span>
          </template>
        </van-cell>
        <van-cell>
          <template slot="title" class="f-s-18">
            <span class="van-cell-text f-s-16">投注金额</span>
            <span class="van-cell-text m-l-20 f-s-16">{{detailsData.bettingMoney}}元 ( 赔率: {{ detailsData.odds }} )</span>
          </template>
        </van-cell>
        <van-cell>
          <template slot="title" class="f-s-18">
            <span class="van-cell-text f-s-16">派送奖金</span>
            <span class="van-cell-text m-l-20 f-s-16">{{detailsData.winMoney>0? detailsData.winMoney : '0.00'}}元</span>
          </template>
        </van-cell>
        <van-cell v-if="detailsData.lotteryHaoMa">
          <template slot="title" class="f-s-18">
            <span class="van-cell-text f-s-16">开奖号码</span>
            <span class="van-cell-text m-l-20 f-s-16">{{detailsData.lotteryHaoMa}}</span>
          </template>
        </van-cell>
      </van-cell-group>
      <div class="f-s-16 m-t-50 m-l-r-10">
        <div class="m-l-10">我的投注</div>
        <div class="p-r">
          <img height="120" style="width: 100%;" src="../../../static/img/paper.png" />
          <div class="c-9 p-a kj">
            <div>投注内容:  {{detailsData.league}}</div>
            <div class="clear p-b-5 b-b">
              <div class="f-s-14 pull-l">游戏名称:  {{detailsData.gameName}}</div>
              <div class="f-s-12 pull-r">奖金：{{detailsData.winMoney > 0? detailsData.winMoney : '0.00'}}元</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { Dialog } from 'vant';
  import { Toast } from 'vant';
  export default {
    data() {
      return {
        detailsData:{},//详情数据
      }
    },
    watch: {

    },
    created: function() {
      this.orderId = this.$route.query.orderId;//订单号
      this.getDetails();//获取订单详情
    },
    mounted: function() {
      this.detailsData =JSON.parse(this.$route.query.item)
    },
    methods: {
      //转换时间
      getTime:function(time){
        return $sky.getDateFull(time);
      },
      back: function() {
        window.history.go(-1);
      },
    }
  }
</script>
<style scoped>
  .kj{
    top: 50px;
    left: 20px;
    right: 20px;
  }
</style>
