<template>
  <div id="HelpCentre" class="flexWrap" style="background: #efeff4;">
    <van-nav-bar @click-left="back"  left-text="返回" right-text="" left-arrow class="bg-h c-w" title="帮助中心" />
    <div class="content">
      <div class="list">
        <ul >
          <li v-for=" (item ,index) in helpData" :key="index" >
            <van-icon :name="item.name" :color="item.color" />
<!--            ,getHelpContent(item.code)-->
            <a href="javascript:void(0)" @click="getHelpContent(item.code)" >{{item.title}}</a>
<!--            <van-popup v-show="active == item.code " v-model="showPopup" @click="showPopup = !true ">{{item.content}}</van-popup>-->
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue';
  import { Popup } from 'vant';
    export default {
        name: "HelpCentre",
      data(){
          return{
            showPopup:false,
            ative:"",
            helpData:[
              {name:"manager",color:"#FFCC99",title:"关于我们",content:"",code:"1"},
              {name:"friends",color:"#996600",title:"联络我们",content:"",code:"6"},
              {name:"after-sale",color:"#FF9933",title:"如何存款",content:"",code:"3"},
              {name:"cash-back-record",color:"#990033",title:"如何取款",content:"",code:"2"},
              // {name:"wap-home",color:"#CC6699",title:"代理登陆",content:"123456789",code:"1"},
              {name:"question",color:"#66CC00",title:"常见问题",content:"",code:"7"},
            ]
          }
      },
      methods:{
        back: function () {
          window.history.go(-1);
        },
        getHelpContent:function(code){
          $sky.ajaxHelp('get','native/getAgentArticle.do?code='+code,{},(result)=>{
            this.$router.push({path:"helpDetails",query:{content:result.content,title:result.title}})
          })
        },
      },
      created() {
      },
      mounted() {},
    }
</script>

<style scoped>
  .content{
    width: 100%;
    height: 100%;
  }
  .content .list ul li{
    float: left;
    padding: 20px 10px;
    width: 33.33333333%;
    box-sizing: border-box;
    text-align: center;
  }
  .content .list ul li >a{
    display: block;
    font-size: 14px;
    color: #000000;
  }
  .van-popup .van-popup--center{
    z-index:10000!important;
    width: 100%;
  }
</style>
