<template>
  <div class="flexWrap">
    <van-nav-bar @click-left="back" left-text="返回" left-arrow class="bg-h c-w" title="积分兑换" />
    <div class="flexContent">

    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        set_receipt_pwd: false,
        password: '',
        passwords:'',
      }
    },
    watch: {

    },
    created: function() {
      this.getIntegral()
    },
    mounted: function() {

    },
    methods: {
      getIntegral:function(){
        $sky.ajax('post', 'native/exchangeConfig', {
          pwd: this.password,
          againPwd: this.passwords
        }, (ret) => {
          console.log(ret)
        })
      },
      back: function() {
        window.history.go(-1);
      },
    }
  }
</script>

<style>

</style>
