<template>
	<div>
		<van-nav-bar @click-left="back" @click-right="selects" class="bg-h c-w" title="交易记录" left-text="返回" left-arrow>
			<div slot="right">{{rightTitle}}<van-icon class="datas" name="arrow" /></div>
		</van-nav-bar>
		<van-tabs @click="teb">
			<van-tab v-for="(item,index) in tab" :key="index" :title="item" > </van-tab>
		</van-tabs>
		<div class="flexWrap">
      <chongzhi-record v-show="tabindex==0" ref="chongzhi" ></chongzhi-record>
			<tixian-record   v-show="tabindex==1" ref="tixian" ></tixian-record>
		</div>
		<van-action-sheet v-model="show" :actions="actions" cancel-text="取消" />
	</div>
</template>

<script>
	import { Dialog } from 'vant'
	import { Toast } from 'vant'
	import tixianRecord from './jiaoyi/tixianRecord'
	import chongzhiRecord from './jiaoyi/chongzhiRecord'
	export default {
		components: {tixianRecord,chongzhiRecord},//提现记录/充值记录
		data() {
			return {
				rightTitle:'今天',
				tabindex:0,
				show:false,
				actions: [{name: '今天'},{name: '昨天'}, {name: '近一周'},{name: '近一个月'},{name: '一个月以前'}],
				tab: ['充值记录', '提现记录'],
			}
		},
		watch: {

		},
		created: function() {

		},
		mounted: function() {

		},
		methods: {
			//头部切换
			teb: function(index, title) {
				this.tabindex = index;
				index == 1 ? this.$refs.chongzhi.Recharge() : '';
			},
			selects:function(){
				this.show = true;
				setTimeout(()=>{
					var footerList=document.querySelectorAll('.van-hairline--top');
					footerList[0].onclick=()=>{//今天
						this.rightTitle = '今天';
						this.tabindex !== 0 ? this.$refs.tixian.forwardTime(0) : this.$refs.chongzhi.rechargeTime(0);
						this.show = false;
					};
					footerList[1].onclick=()=>{//昨天
						this.rightTitle = '昨天';
						this.tabindex !== 0 ? this.$refs.tixian.forwardTime(1) : this.$refs.chongzhi.rechargeTime(1);
						this.show = false;
					};
					footerList[2].onclick=()=>{//7天
						this.rightTitle = '近一周';
						this.tabindex !== 0 ? this.$refs.tixian.forwardTime(7) : this.$refs.chongzhi.rechargeTime(7);
						this.show = false;
					};
					footerList[3].onclick=()=>{//近一个月
						this.rightTitle = '近一个月';
						this.tabindex !== 0 ? this.$refs.tixian.forwardTime(30) : this.$refs.chongzhi.rechargeTime(30);
						this.show = false;
					};
					footerList[4].onclick=()=>{//一个月以前
						this.rightTitle = '一个月以前';
						this.tabindex !== 0 ? this.$refs.tixian.forwardTime(3650) : this.$refs.chongzhi.rechargeTime(3650);
						this.show = false;
					}
				},200)
			},
			back: function() {
				window.history.go(-1);
			},
		}
	}
</script>
<style scoped>
	.money {
		color: green;
		position: absolute;
		right: 10px;
		top: 18px;
	}
	.datas{
		margin-left: 5px;
		-webkit-transform: rotate(90deg);/*Safari 4+,Google Chrome 1+ */
		-moz-transform: rotate(90deg);/*Firefox 3.5+*/
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);/*ie*/
	}
  >>>.van-tabs__line{
    background: var(--l-button);
  }
</style>
