<template>
  <div>
    <van-nav-bar @click-left="back" left-text="返回" left-arrow class="bg-h c-w" title="在线客服" />
    <!--<iframe data-v-34e070be="" id="kefu" scrolling="no" :src="serverUrl"-->
            <!--style="height: 568px;position: relative;top: -44px;width: 100%;border: none"></iframe>-->
    <iframe data-v-34e070be="" id="kefu" scrolling="no" :src="serverUrl"
            style="position: relative;width: 100%;border: none" ></iframe>
<!--    v-if="this.floder != 'x00243'"-->
  </div>
</template>

<script>
    export default {
      data(){
        return{
          serverUrl: '',
          pageHeight:document.body.offsetHeight,
          floder:''
        }
      },
      created:function(){
        this.getStationInfo()
      },
      methods:{
        //获取客服链接
        setTitle:function(){
          // if (this.floder == 'x00243'){
          //   var windowUrl = window.open('url','_blank')
          // }
          $sky.ajax('get','native/getServiceUrl',{},(ret)=>{
            if(ret.success){
              // if (this.floder != 'x00243'){
                this.serverUrl = ret.content;
              // }else {
              //   windowUrl.location = res.content;
              // }
            }
          })
        },
        //获取网站名称消息
        getStationInfo:function(){
          $sky.ajax('get','native/getStationInfo',{},(ret)=>{
            if(ret.success){
              this.floder = ret.content.station.floder
              this.setTitle()
            }
          })
        },
        back: function() {
          window.history.go(-1);
        },
      },
      mounted:function () {
        if (this.floder != 'x00243'){
          document.getElementById('kefu').height = this.pageHeight - 46
        }
      },
    }
</script>

<style scoped>

</style>
