<template>
	<div>
		<van-nav-bar @click-left="back" class="bg-h c-w" left-text="返回" left-arrow>
			<template slot="title">
				<div class="c-w headerTab">
					<span @click="hedeTab(1)" :class="{activeHade:hadeIndex==1}" class="box"><p>公告</p></span>
					<span @click="hedeTab(2)" :class="{activeHade:hadeIndex==2}"><p>私信</p></span>
				</div>
			</template>
		</van-nav-bar>
		<div class="flexContent bg-w">
			<msg-notice v-show="hadeIndex==1" ></msg-notice>
			<msg-letter v-show="hadeIndex==2" ref="msgLetter" ></msg-letter>
		</div>
	</div>
</template>

<script>
	import msgNotice from './msg/notice'
	import msgLetter from './msg/privateLetter'
	export default {
		components: {msgNotice , msgLetter},
		data() {
			return {
				hadeIndex: 1,
			}
		},
		watch: {

		},
		created: function() {

		},
		mounted: function() {

		},
		methods: {
			//顶部切换
			hedeTab:function(index){
				this.hadeIndex = index;
				if(index == 2)this.$refs.msgLetter.lode();
			},
			back: function() {
				window.history.go(-1);
			},
		}
	}
</script>
<style scoped>
	.activeHade{
	    color: #dc2e2e;
	    background: #fff;
	}
	.headerTab{
		border: 1px solid #fff;
		border-radius: 4px;
		height: 26px;
		width: 60%;
		margin: 9px auto;
		font-size: 0;
	}
	.headerTab .box{
		border-right: 1px solid #fff;
	}
	.headerTab span{
		display: inline-block;
		height: 100%;
		width: 50%;
	}
	.headerTab span p{
		position: relative;
		top: -9px;
		font-size: 14px;
	}
</style>
