<template>
  <div id="realGame">
    <van-nav-bar @click-left="back" left-text="返回" left-arrow class="bg-h c-w" title="真人额度转换"/>
    <div class="text-c m-10 bg-w p-b-t-10" style="border-radius: 5px">
      <p>账户余额</p>
      <p class="c-h" v-if="floder == 'x002185' || floder == 'x002188'">{{meminfoDetails.money}}积分</p>
      <p class="c-h" v-else>{{meminfoDetails.money}}元</p>
    </div>
    <van-list :offset="100" >
      <div v-if="itemList && itemList.length>0" v-for="item in itemList" class="all bg-w" >
        <div class="p-b-t-10 m-l-10 b-b p-r-10">
          <div class="d-i v-m flex w-b20">
            <img :src="'http://a033.xb336.com'+ item.imgUrl" width="60" height="60" alt="">
          </div>
          <div class="d-i v-m b-box p-l-r-5" style="width: 77%">
            <div>
              <p class="c-6">{{item.title}}</p>
              <p class="c-b p-b-t-5"><span @click="change('out', item.playCode)" class="m-r-10">转出</span><span @click="change('into',item.playCode)">转入</span>
                <van-icon name="arrow" color="#dc3b40" class="pull-r p-t-5"></van-icon> <span @click="goGamePlays(item.playCode)" class="c-h pull-r h-20 l-h-20">进入游戏 </span></p>
              <p class="c-6"><span @click="getBalance(item)" class="p-r-20">{{item.balance}}</span><span @click="getBalance(item)" class="bg-h c-w p-b-t-5 p-l-r-10  d-i f-s-16" style="border-radius: 3px">刷新</span></p>
            </div>
          </div>
        </div>
      </div>
    </van-list>

    <van-dialog
      v-model="show"
      show-cancel-button
      :title="title"
      :before-close="beforeClose"
    >
      <van-field
        v-model="money"
        type="text"
        label="转入金额"
        placeholder="请输入转入金额"
        class="p-t-20"
      />
    </van-dialog>
  </div>
</template>

<script>
  import { Dialog } from 'vant'
  import { Toast } from 'vant'
  export default {
    data() {
      return {
        itemList:[],
        noData:false,
        show: false,
        money: '',
        title: '从系统转到ag',
        meminfoDetails:{
          money: '0.00'
        },
        agBlance: '点击刷新',
        floder:this.$store.state.floder
      }
    },
    created:function(){
      this.getRealGameData(); // 获取真人额度转换
      this.meminfo();
    },
    methods: {
      goChess:function(){
        $sky.ajax('get','forwardKy',{ gameId:'0' },(ret)=>{
          if(ret.success){
            location.href = ret.url;
          }
        });
      },
      goChessTh:function(){
        $sky.ajax('get','forwardTh',{gameId:'0'},(ret)=>{
          if(ret.success){
            location.href = ret.url;
          }
        })
      },
      goGameVr:function(){
        $sky.ajax('get','forwardVr',{},(ret)=>{
          if(ret.success){
            location.href = ret.url;
          }
        })
      },
      goGamePlays:function(playCode){
        if(playCode === 'ky'){
          this.goChess();
          return
        }
        if (playCode === 'th'){
          this.goChessTh()
          return
        }
        if (playCode === 'vr'){
          this.goGameVr()
          return
        }
        let cthis = this;
        if(playCode === 'mg'){
          let parmas = {
            gameType: 1,
            gameid: 66936,
            h5: 1,
          };
          $sky.ajax('post','forwardMg',parmas ,(ret)=>{
            if(ret.success){
              location.href = ret.url;
            }
          });
          return;
        }

        let params= {
          playCode: playCode,
          gameId: '',
        };
        $sky.ajax('post','native/forwardDz',params,(ret)=>{
          if(ret.success){
            this.url = ret.content.url;
            location.href = ret.content.url;
          } else if(ret.isLogin === false){
            Toast(ret.msg);
            this.$router.push({
              path: '/login',
            })
          }else{
            Toast.fail(ret.msg);
          }
        })
        // window.location.href = location.origin+ item.openUrl
      },
      //获取ag余额
      getBalance:function(item){
        let params = {
          type:item.playCode
        }
        $sky.ajax('post', 'native/getBalance', params, (ret) => {
          if(ret.success){
            for(let index in this.itemList){
              if(this.itemList[index].playCode == item.playCode){
                this.itemList[index].balance = ret.balance
              }
            }
            this.agBlance = ret.balance;
          }else if(ret.login === false) {
            Dialog.alert({
              title: ret.msg,
            }).then(() => {
              this.$router.push({
                path: '/login',
              })
            });
          }
        })
      },
      change:function(type, playCode){
        this.selectReal = playCode;
        this.show = true;
        this.type = type;
        type === 'into'? this.title = '从系统转到'+ playCode:this.title = '从'+ playCode +'转到系统'
      },
      //获取帐户余额等相关信息
      meminfo: function() {
        $sky.ajax('get', 'meminfo', {}, (ret) => {
          if(ret.login) {
            this.meminfoDetails = ret;
          } else {
            if(!ret.login){
              this.$router.push({
                path: '/login',
                query: {}
              })
            }
          }
        })
      },
      // 点击转入转出弹窗
      beforeClose(action, done) {
        if (action === 'confirm') {
          let params;
          if(this.type === 'into'){
            params = {
              changeFrom: "sys",
              changeTo: this.selectReal,
              quota: this.money,
            };
          }else {
            params = {
              changeFrom: this.selectReal,
              changeTo: "sys",
              quota: this.money,
            };
          }
          // ag余额转入转出
          $sky.ajax('post', 'native/thirdRealTransMoney', params, (ret) => {
            if(ret.success){
              this.getBalance();
              this.money = '';
            }else {
              this.money = '';
              Dialog.alert({
                title: ret.msg,
              }).then(() => {

              });
            }
          });
          setTimeout(done, 1000);
        } else {
          done();
        }
      },
      //后退
      back: function () {
        window.history.go(-1);
      },
      //获取真人投注记录
      getRealGameData :function () {
        $sky.ajax('get', 'native/getRealGameData', this.params, (ret) => {
          if(ret.isLogin === false) {
            Dialog.alert({
              title: ret.msg,
            }).then(() => {
              this.$router.push({
                path: '/login',
              })
            });
          } else {
            this.realDetails = ret;
            for(let i in ret.content){
              this.itemList.push(ret.content[i]);
            }
            if(!this.itemList){
              this.noData = true;
            }
          }
        })
      },
    }
  }
</script>

<style scoped>
#realGame .van-dialog__header{
  padding-top: 10px;
}
</style>
