<template>
  <div id="realTouZhu" class="flexWrap" style="background: #efeff4;">
    <van-nav-bar @click-left="back" @click-right="goRealGame"  left-text="返回" right-text="额度转换" left-arrow class="bg-h c-w" title="真人投注记录" />
    <div class="m-15 bg-w b-r-6 p-b-t-15">
      <van-row>
        <van-col span="6" class="text-c">
          <p>投注</p>
          <p class="c-h">{{ realDetails.aggsData.bettingMoneyCount || '0.00'}}</p>
        </van-col>
        <van-col span="6" class="text-c">
          <p>有效投注</p>
          <p class="c-h">{{ realDetails.aggsData.realBettingMoneyCount || '0.00'}}</p>
        </van-col>
        <van-col span="6" class="text-c">
          <p>中奖</p>
          <p class="c-g">{{ realDetails.aggsData.winMoneyCount || '0.00'}}</p>
        </van-col>
        <van-col span="6"  class="text-c">
          <p>盈利</p>
          <p class="c-h">{{ JSON.stringify(realDetails.aggsData)!== "{}"? (realDetails.aggsData.winMoneyCount - realDetails.aggsData.bettingMoneyCount).toFixed(2) : '0.00' }}</p>
        </van-col>
      </van-row>
    </div>
    <div class="flexContent m-l-r-15 b-r-6" style="">
        <van-list v-model="loading" :finished="finished" :offset="100" @load="onLoad">
          <div v-if="itemList && itemList.length>0" v-for="item in itemList" class="all bg-w" >
            <div class="p-b-t-10 m-l-10 b-b p-r-10">
              <div class="clear">
                <p class=" f-s-21 pull-l h-20 l-h-20">游戏名称：{{item.gameType}}</p>
                <p class="f-s-21 h-20 l-h-20 pull-r c-6">投注金额 : <span class="c-h">{{ item.realBettingMoney}}</span>元</p>
              </div>
              <div class="f-s-14 money clear c-6">
                <div class="f-s-18 pull-l h-20 l-h-20">
                  时间 : {{getTime(item.createDatetime)}}
                </div>
                <p class="text-c pull-r h-20 l-h-20 f-s-18">盈亏 : {{item.winMoney}}</p>
              </div>
            </div>
          </div>
        </van-list>
        <div v-if="noData" class="text-c m-t-50">
          <img width="80" src="../../../static/img/pic_empty.png" />
          <div class="f-s-12 c-9">暂无数据</div>
        </div>
    </div>
  </div>
</template>

<script>
  import {Dialog} from 'vant'
  export default {
    data() {
      return {
        params:{
          type: 1,
          page:1,
          rows:10,
        },
        realDetails:{
          aggsData:{
            bettingMoneyCount: '0.00',
            winMoneyCount: '0.00',
          }
        },
        loading: false, //是否加载状态
        finished: false, //是否已全部加载完成
        itemList:[],
        noData:false,
      }
    },
    created:function(){
      this.params.startTime = $sky.getdate(30) +' 00:00:00';
      this.params.endTime = $sky.getdate(0) + ' 23:59:59';
      this.liveBetRecord();// 获取真人投注记录
    },
    methods: {
      goRealGame:function(){
        this.$router.push({
          path: '/realGame'
        })
      },
      //下拉加载更多
      onLoad: function() {
        this.pageNum1++;
        setTimeout(() => {
          this.params.page = this.pageNum1;
          $sky.ajax('post', 'native/liveBetRecord',this.params, (ret) => {
            if(ret.rows) {
              this.loading = false;
              if(ret.total <= this.itemList.length) {
                this.finished = true;
                return false;
              }
              for(let i in ret.rows) {
                this.itemList.push(ret.rows[i])
              }
            } else {
              this.loading = false;
              this.finished = true;
              if(!ret.isLogin) {
                Dialog.alert({
                  title: ret.msg,
                }).then(() => {
                  this.$router.push({
                    path: '/login',
                  })
                });
              }
            }
          })
        }, 500);
      },
      //转换时间
      getTime: function(time) {
        return $sky.getDateFull(time);
      },
      back: function () {
        window.history.go(-1);
      },
      //获取真人投注记录
      liveBetRecord:function () {
        $sky.ajax('post', 'native/liveBetRecord', this.params, (ret) => {
          if(ret.isLogin === false) {
            Dialog.alert({
              title: ret.msg,
            }).then(() => {
              this.$router.push({
                path: '/login',
              })
            });
          } else {
            this.realDetails = ret;
            this.itemList = ret.rows;
            if(this.itemList.length === 0){
              this.finished = true;
              this.loading = false;
              this.noData = true;
            }
          }
        })
      }
    }
  }
</script>

<style scoped>
#realTouZhu .c-g{
  color: green;
}
</style>
