<template>
	<div class="flexWrap recharge">
		<van-nav-bar @click-left="back" left-text="返回" left-arrow	 class="bg-h c-w" title="选择充值方式" />
		<div class="flexContent">
      <div v-for="pay in paySelect" class="">
        <p v-if="pay.payList.length>0" class="p-l-10 p-b-t-5" style="font-weight: 500">{{pay.switchKey}}</p>
        <div v-for="item in pay.payList" @click="selectRecharge(pay.switchKey,item)" :class="{'h-70':item.qrcodeDesc && item.qrcodeDesc.length>=12,'l-h-70':item.qrcodeDesc && item.qrcodeDesc.length>=12 }" class=" bg-w b-b list clear p-b-t-5">
          <div class="p-r w-b100 clear h-b100  h-40 l-h-40">
            <img :src="item.icon" class=" p-r h-40" width="96" style="font-size: 0"  />
            <div class="f-s-16 ellipsis d-i">{{item.payName}}</div>
            <div v-if="item.qrcodeDesc && item.qrcodeDesc.length<=12" class="f-s-14 c-6 ellipsis d-i">{{item.qrcodeDesc}}</div>
            <van-icon class="pull-r f-s-16 m-t-20 c-9 p-r-5" name="arrow" />
          </div>
          <div>
            <van-notice-bar v-if="item.qrcodeDesc && item.qrcodeDesc.length>=12"
                            mode="closeable"
                            :text="item.qrcodeDesc"
            />
          </div>
        </div>
      </div>
		</div>
    <van-popup v-model="showOnlineRecharge" position="right" id="recharge1">
      <online-recharge :showBankRecharge="showBankRecharge" @closeRecharge="closeRecharge" :payData="payData"></online-recharge>
    </van-popup>
    <van-popup v-model="showBankRecharge" position="right" id="recharge1">
      <bank-recharge :showBankRecharge="showBankRecharge" @closeRecharge="closeRecharge" :payData="payData"></bank-recharge>
    </van-popup>
    <van-popup v-model="showFastkRecharge" position="right" id="recharge1">
      <fast-recharge @closeRecharge="closeRecharge" :payData="payData"></fast-recharge>
    </van-popup>
  </div>
</template>

<script>
	import { Dialog } from 'vant';
	import { Toast } from 'vant';
  import { NoticeBar } from 'vant';
  import onlineRecharge from './recharge/onlineRecharge';
  import bankRecharge from './recharge/bankRecharge';
  import fastRecharge from './recharge/fastRecharge';
	export default {
    components: {onlineRecharge, bankRecharge, fastRecharge},
    data() {
			return {
        paySelect: [],
        showOnlineRecharge:false,
        showBankRecharge:false,
        showFastkRecharge:false,
        payData:{},
			}
		},
		watch: {

		},
		created: function() {
      this.getPaySelectWay();
		},
		mounted: function() {

		},
		methods: {
      closeRecharge:function(type){
        switch (type) {
          case '线上充值':
            this.showOnlineRecharge = false;
            break;
          case '快速充值':
            this.showFastkRecharge = false;
            break;
          case '银行入款':
            this.showBankRecharge = false;
            break;
        }
      },
      selectRecharge:function(type,payData){
        this.payData = payData;
        switch (type) {
          case '线上充值':
            this.showOnlineRecharge = true;
            break;
          case '快速充值':
            this.showFastkRecharge = true;
            break;
          case '银行入款':
            this.showBankRecharge = true;
            break;
        }
      },
      //彩票投注记录
      getPaySelectWay:function () {
        $sky.ajax('post', 'native/paySelectWay', {} , (ret) => {
          if(ret.success) {
            this.paySelect = ret.content;
          } else if(!ret.isLogin){
            this.route.push({
              path: '/login'
            })
          }
        })
      },
			back:function(){
				window.history.go(-1);
			},
		}
	}
</script>
<style scoped>
  #recharge1{
    width: 100%;
    height: 100%;
    background: #efeff4;
  }
	.recharge .van-notice-bar{
    background: none;
  }
  #recharge1 .van-icon-close{
    font-size: 0;
  }
  .recharge .van-notice-bar--withicon{
    padding:0 10px;
    height: 1.5rem;
  }
</style>
