<template>
  <div id="realTouZhu" class="flexWrap" style="background: #efeff4;">
    <van-nav-bar @click-left="back" @click-right="showFilter" left-text="返回" right-text="筛选" left-arrow
                 class="bg-h c-w" title="体育投注记录"/>
    <!--玩法	-->
    <van-popup v-model="filter" position="top" :overlay="false" style="height: 100%">
      <div class="p-l-r-20 p-b-t-10 bg-w">
        <div class="flex h-50 l-h-50 b-b">
          <div class="w-b30">开始</div>
          <div class="flex1"><input type="date" id="begin" class="h-b100"></div>
        </div>
        <div class="flex h-50 l-h-50 b-b">
          <div class="w-b30">截止</div>
          <div class="flex1"><input type="date" id="end" class="h-b100"></div>
        </div>
        <div class="flex h-50 l-h-50 b-b">
          <div class="w-b30">平台</div>
          <div class="flex1">
            <select v-model="sportType" name="code" id="sportType" class="changeData">
              <option value="0">信博体育</option>
              <option value="1">皇冠体育</option>
              <option value="2">沙巴体育</option>
              <option value="3">BB体育</option>
            </select>
          </div>
        </div>
        <div v-if="sportType === '0' || sportType === '1'" class="flex h-50 l-h-50 b-b">
          <div class="w-b30">球种</div>
          <div class="flex1">
            <select name="code" id="ballType" class="changeData">
              <option value="0">选择全部</option>
              <option value="1">足球</option>
              <option value="2">篮球</option>
            </select>
          </div>
        </div>
        <div v-if="sportType === '0' || sportType === '1'" class="flex h-50 l-h-50 b-b">
          <div class="w-b30">状态</div>
          <div class="flex1">
            <select name="code" id="statusType" class="changeData">
              <option value="1">全部</option>
              <option value="2">已中奖</option>
              <option value="3">未中奖</option>
              <option value="4">未成功</option>
            </select>
          </div>
        </div>
        <div @click="search" class="w-b80 bg-h c-w text-c p-10 b-r-6" style="margin: 10px auto  ">确定</div>
      </div>
    </van-popup>

    <div class="m-15 bg-w b-r-6 p-b-t-15">
      <van-row>
        <van-col span="8" class="text-c">
          <p>投注</p>
          <p class="c-h">{{ realDetails.aggsData.totalBetMoney || '0.00'}}</p>
        </van-col>
        <van-col span="8" class="text-c">
          <p>中奖</p>
          <p class="c-g">{{ realDetails.aggsData.totalBetResult || '0.00'}}</p>
        </van-col>
        <van-col span="8" class="text-c">
          <p>盈利</p>
          <p class="c-h">{{ realDetails.aggsData.totalBetResult? (realDetails.aggsData.totalBetResult -
            realDetails.aggsData.totalBetMoney).toFixed(2) : '0.00' }}</p>
        </van-col>
      </van-row>
    </div>
    <div class="flexContent m-l-r-15 b-r-6" style="">
      <van-list v-model="loading" :finished="finished" :offset="100" @load="onLoad" >
        <div v-if="itemList && itemList.length>0" v-for="item in itemList" @click="goDetail(item)" class="all bg-w">
          <div class="p-b-t-10 m-l-10 b-b p-r-10 f-s-18">
            <div class="clear flex">
              <p class=" flex1 h-20 l-h-20">
                <van-icon name="https://a03301.xbzhanshi.com/mobile/anew/v5/static/img/football.png"></van-icon>
                {{item.league}}
              </p>
              <p class="h-20 l-h-20 flex1 c-6 text-c">投注金额 : <span class="c-h">{{ item.bettingMoney}}</span>元</p>
            </div>
            <div class="text-c"> {{ item.homeTeam }} vs {{ item.guestTeam }}</div>
            <div class="c-r">{{ getGameType(item.gameKey) }} -- {{ getpan(item.plate) }} -- 赔率 {{ item.odds }}</div>
            <div class="c-b">{{ item.sportType === 1? '足球': '篮球' }} ({{ item.typeNames }})</div>
            <div class="f-s-14 money clear c-6">
              <div class="pull-l h-20 l-h-20">
                时间 : {{getTime(item.bettingDate)}}
              </div>
              <p class="text-c pull-r h-20 l-h-20 f-s-18"> {{ bettingMoney(item) }} </p>
            </div>
          </div>
        </div>
      </van-list>
      <div v-if="noData" class="text-c m-t-50">
        <img width="80" src="../../../static/img/pic_empty.png"/>
        <div class="f-s-12 c-9">暂无数据</div>
      </div>
    </div>
    <div class="h-6"></div>
  </div>
</template>

<script>
  import {Dialog} from 'vant';

  export default {
    data() {
      return {
        sportType: '0',
        filter: false, // 筛选
        params: {
          page: 1,
          rows: 10,
          sportType: '',
          recordType: 1,
        },
        realDetails: {
          aggsData: {
            bettingMoneyCount: '0.00',
            winMoneyCount: '0.00',
          }
        },
        loading: false, //是否加载状态
        finished: false, //是否已全部加载完成
        itemList: [],
        noData: false,
      }
    },
    created: function () {
      this.params.startTime = $sky.getdate(0) + ' 00:00:00';
      this.params.endTime = $sky.getdate(0) + ' 23:59:59';
      this.liveBetRecord();// 获取真人投注记录
    },
    mounted() {

    },
    methods: {
      // 获取今天日期
      getToday: function () {
        var date = new Date();
        return date.getFullYear() + '-' + ((date.getMonth() + 1) < 10 ? '0' + (date.getMonth() + 1) : (date.getMonth() + 1)) + '-' + (date.getDate() < 10 ? '0' + date.getDate() : date.getDate());
      },
      showFilter:function(){
        this.filter = !this.filter;
        let begin = this.getToday();
        if(!$('#begin').val()){
          setTimeout(function () {
            $('#begin').attr('value', begin);
            $('#end').attr('value', begin);
          },100)
        }
      },
      // 注单详情
      goDetail: function (item) {
        this.$router.push({
          path: '/sportDetail',
          query: {
            data: item
          }
        })
      },
      getpan: function (plate) {
        switch (plate) {
          case 'H':
            return '亚洲盘';
          case 'I':
            return '印尼盘';
          case 'E':
            return '欧洲盘';
          case 'M':
            return '马来西亚盘';
          default:
            return ''
        }
      },
      getGameType: function (key) {
        switch (key) {
          case 'FT_RB_MN':
          case 'BK_RB_MN':
            return '滚球';
          case 'FT_TD_MN':
          case 'FT_TD_TI':
          case 'FT_TD_BC':
          case 'FT_TD_HF':
          case 'BK_TD_MN':
            return '今日';
          case 'FT_FT_MN':
          case 'FT_FT_TI':
          case 'FT_FT_BC':
          case 'FT_FT_HF':
          case 'BK_FT_MN':
            return '早盘';
        }
      },
      // 判断注单状态
      bettingMoney: function (item) {
        switch (item.balance) {
          case 1:
            return '等待开奖';
          case 3:
            return '结算失败';
          case 4:
            return '比赛腰斩';
        }
        switch (item.bettingStatus) {
          case 1:
            return '等待确认';
          // case 2:
          //   return '等待开奖';
          case 3:
          case 4:
            return '注单取消'
        }
        switch (item.resultStatus) {
          case 1:
            return -(item.bettingMoney);
          case 2:
            return -(item.bettingMoney / 2);
          case 3:
            return 0;
          case 4:
            return (item.bettingMoney * item.odds) / 2;
          case 5:
            return (item.bettingMoney * item.odds);
        }
      },
      search: function () {
        this.itemList = [];
        this.realDetails.aggsData.totalBetMoney = '0.00';
        this.realDetails.aggsData.totalBetResult = '0.00';
        this.$forceUpdate();
        this.loading = false; //是否加载状态
        this.finished = false; //是否已全部加载完成
        this.params.page = 1;
        this.params.startTime = $('#begin').val() + ' 00:00:00';
        this.params.endTime = $('#end').val() + ' 23:59:59';
        switch ($('#sportType').val()) {
          case '0':
            this.params.type = $('#realType').val();
            this.params.sportType = $('#ballType').val();
            this.params.recordType = $('#statusType').val();
        }
        this.liveBetRecord();
        this.filter = !this.filter;
      },
      //下拉加载更多
      onLoad: function () {
        setTimeout(() => {
          this.params.page = this.params.page + 1;
          let url = 'native/getOrderData';
          switch ($('#sportType').val()) {
            case '0':
            case '1':
              url = 'native/getOrderData';
              break;
            case '2':
            case '3':
              this.params.sportType = 1;
              url = 'native/sportsrecord';
              break;
          }
          $sky.ajax('post',url, this.params, (ret) => {
            this.loading = false;
            if (ret.rows) {
              if (ret.total <= this.itemList.length) {
                this.finished = true;
                return false;
              }
              for (let i in ret.rows) {
                this.itemList.push(ret.rows[i])
              }
            } else {
              this.loading = false;
              this.finished = true;
              if (!ret.isLogin) {
                Dialog.alert({
                  title: ret.msg,
                }).then(() => {
                  this.$router.push({
                    path: '/login',
                  })
                });
              }
            }
          })
        }, 500);
      },
      //转换时间
      getTime: function (time) {
        return $sky.getDateFull(time);
      },
      back: function () {
        window.history.go(-1);
      },
      //获取真人投注记录
      liveBetRecord: function () {
        let url = 'native/getOrderData';
        switch ($('#sportType').val()) {
          case '0':
          case '1':
            url = 'native/getOrderData';
            break;
          case '2':
          case '3':
            this.params.sportType = 1;
            url = 'native/sportsrecord';
            break;
        }
        $sky.ajax('post', url, this.params, (ret) => {
          if (ret.isLogin === false) {
            Dialog.alert({
              title: ret.msg,
            }).then(() => {
              this.$router.push({
                path: '/login',
              })
            });
          } else {
            this.realDetails = ret;
            this.itemList = ret.rows;
            this.noData = false;
            if (!ret.total) {
              this.finished = true;
              this.loading = false;
              this.noData = true;
            }
          }
        })
      }
    }
  }
</script>

<style scoped>
  #realTouZhu .c-g {
    color: green;
  }

  .van-popup--top {
    top: 46px;
  }

  .van-popup {
    background: rgba(0, 0, 0, .3);
  }

  input[type=date], select {
    display: block;
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    padding: 0 0 0 .25rem;
    margin: 0;
    font-family: inherit;
    background: 0 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
  }

  #begin, #end {
    font-size: .7rem;
    color: red;
  }

  .all {
    background: url("../../../static/img/more.png") no-repeat;
    background-size: 1.5rem;
    background-position: right 10px center;
    background-color: #fff;
  }
</style>
