<template>
	<div class="flexWrap tixian">
		<van-nav-bar @click-left="back" left-text="返回" left-arrow class="bg-h c-w" title="提现" />
		<div class="flexContent">
			<h1 class="f-s-18 text-c p-t-10">提示信息</h1>
			<div class="m-10 f-s-14 p-10 explain">
				1. 每天的提款处理时间为：<span class="c-r f-s-20">{{pickMoneyInfor.startTime}}</span>至<span class="c-r f-s-20">{{pickMoneyInfor.endTime}}</span><br/>
   			    2.提款3分钟内到账。(如遇高峰期，可能需要延迟到十分钟内到帐);<br/>
				3. 用户每日最小提款<span class="c-r f-s-20">{{pickMoneyInfor.minPickMoney}}</span>元，最大提款<span class="c-r f-s-20">{{pickMoneyInfor.maxPickMoney}}</span>元。<br/>
   			    4. 今日可提款<span class="c-r f-s-20">{{pickMoneyInfor.wnum}}</span>次，已提款<span class="c-r f-s-20">{{pickMoneyInfor.curWnum}}</span> 次 ;
			</div>
			<h1 class="f-s-18 text-c p-t-5">消费比例</h1>
			<div class="m-10 f-s-14 p-10 explain">
   			    1. 出款需达投注量：<span class="c-r f-s-20">{{pickMoneyInfor.checkBetNum}}</span>，当前有效投注金额：<span class="c-r f-s-20">{{pickMoneyInfor.validBetMoney}}</span><br/>
   			    2. 是否能取款：<span class="c-r f-s-20">{{pickMoneyInfor.drawFlag}}</span>
			</div>
			<van-cell-group>
				<van-field input-align="centen" clearable type="number" label="银行卡" :placeholder="pickMoneyInfor.bankName + '(尾号' + pickMoneyInfor.cardNo.replace('******', '') + ')'" disabled />
				<van-field input-align="centen" clearable type="number" label="真实姓名" :placeholder="pickMoneyInfor.userName" disabled />
				<van-field input-align="centen" clearable type="number" label="账户余额" :placeholder="pickMoneyInfor.accountBalance" disabled />
				<van-field v-model="money" input-align="centen" clearable type="number" label="提款金额" :placeholder="'最少提现'+pickMoneyInfor.minPickMoney+'元'" />
				<van-field v-model="password"   input-align="centen" clearable type="password" label="提款密码" placeholder="请输入提款密码" />
			</van-cell-group>
			<van-button @click="submits" size="normal" type="danger" style="background: var(--l-button);;border-color: var(--l-button);margin:20px 0 20px 10%;">申请提款</van-button>
		</div>
    <!--投注成功后弹窗-->
    <van-dialog v-model="tixianSuccess" title="提示"  confirm-button-text="确定" :before-close="beforeClose">
      <div class="text-c p-b-t-20 b-t f-s-18 p-l-r-40">提交成功,请等待审核</div>
    </van-dialog>
    <!--投注成功后弹窗-->
	</div>
</template>
<script>
	import { Dialog } from 'vant';
	import { Toast } from 'vant';
	export default {
		data() {
			return {
				money: '', //金额
				password: '', //安全码
				pickMoneyInfor:'',//卡号余额等数据
        tixianSuccess:false,//提现成功弹窗
			}
		},
		watch: {

		},
		created: function() {
			this.getPick_money_data();//获取提款时的提款帐号余额，卡号，银行名称，限制等数据
		},
		mounted: function() {

		},
		methods: {
			//获取提款时的提款帐号余额，卡号，银行名称，限制等数据
			getPick_money_data:function(){
				$sky.ajax('post', 'native/pick_money_data', {}, (ret) => {
					if(ret.success) {
						this.pickMoneyInfor = ret.content;
						this.pickMoneyInfor.cardNo ? this.pickMoneyInfor.cardN = this.pickMoneyInfor.cardN.substr(-4) : '';
					} else {
						if(!ret.isLogin) {
							Dialog.alert({
								title: '登陆提示',
								message: ret.msg
							}).then(() => {
								this.$router.push({
									path: '/login',
								})
							});
						}
					}
				})
			},
      beforeClose:function(){
        this.$router.push({
          path: '/index3',
        })
      },
			//提交
			submits:function(){
				if(!this.money){
					Toast('请输入提款金额');
					return false;
				}else if(!this.password){
					Toast('请输入提款金额');
					return false;
				}else if(this.pickMoneyInfor.checkBetNum > this.pickMoneyInfor.validBetMoney){
				  Toast('提款申请失败，投注量未达标！');
          return false;
        }else{
					this.getPickMoney();//提款
				}
			},
			//提款
			getPickMoney:function(){
				const loading = Toast.loading({
					duration: 0,
					forbidClick: true,
					loadingType: 'spinner',
					message: '提交中'
				});
				let params = {
				  money: this.money,
          repPwd: this.password,
          withdrawWay: '0',
				};
				$sky.ajax('post', 'native/post_pick_money', params, (ret) => {
					if(ret.success) {
						loading.clear();
            this.tixianSuccess = true;
					} else {
            Toast.fail(ret.msg);
					}
				})
			},
			back: function() {
				window.history.go(-1);
			},
		}
	}
</script>
<style scoped>
  .van-dialog__header{
    padding: 10px 0;
  }
	input[type="email"] {
		color: #f46e00!important;
	}
	.bankRight{
		margin-left: 30px;
		position: relative;
		top: 4px;
	}
	.bank{
		line-height: 15px;
	}
	.van-button--normal {
		width: 80%;
		margin: 20px 10%;
	}
	.van-collapse-item__content{
		padding: 0;
	}
	.van-cell__value--alone{
		padding-bottom: 2px;
	}
	.tixian .van-cell__right-icon{
		line-height: 36px;
	}
	.explain{
		border: 1px solid #f8e2b9;
	    background: #fffdeb;
	    color: #f46e00;
	}
  .van-button__text{
    color: #ffffff!important;
  }
</style>
