<template>
	<div class="flexWrap" id="yingKui">
    <van-nav-bar @click-left="back" left-text="返回" @click-right="selects"  left-arrow class="bg-h c-w" title="今日盈亏" >
      <template slot="right">
        <span class="f-s-12">{{time}}</span>
        <van-icon class="datas" name="arrow-down" />
      </template>
    </van-nav-bar>
		<div class="flexContent">
			<div class="lotCount p-t-20">
				<div class="text-c p-t-20">
					<div class="f-s-16 numc">盈利金额</div>
					<h2 class="f-s-30 numc">{{  detailsData? (( (detailsData[1].switchDesc-0) - (detailsData[0].switchDesc-0) ).toFixed(2)) : '0.00'}}</h2>
				</div>
				<div class="f-s-14 p-10 wring">
				</div>
			</div>
			<van-row class="bg-w">
				<van-col v-if="detailsData" v-for="detail,index in detailsData" :key="index" span="8" class="p-b-t-25 cols">
					<div class="text-c">
						<div class="c-orange">{{detail.switchDesc || 0.00}}</div>
						<div class="f-s-16">{{detail.switchKey}}</div>
					</div>
				</van-col>
			</van-row>
		</div>
    <van-action-sheet v-model="show" :actions="actions" cancel-text="取消" />
	</div>
</template>

<script>
	import { Dialog } from 'vant';
	import { Toast } from 'vant';
	export default {
		data() {
			return {
				detailsData: '', //会员当日统计信息
        show: false,//底部弹出x
        actions: [{name: '今天'},{name: '昨天'}, {name: '近一周'},{name: '近一个月'},{name: '一个月以前'}],
        time:'今天',

			}
		},
		watch: {

		},
		created: function() {
			this.getMemberLotCount();//获取会员当日统计信息
		},
		mounted: function() {

		},
		methods: {
      //获取开始时间
      getStartTime:function(timeNum){
        if(timeNum == 0){
          let date = new Date(new Date().getTime());
          let currentTime = date.getFullYear() + '-' + (date.getUTCMonth()+1) + '-' + date.getUTCDate() + ' 00:00:00';
          this.startTime = currentTime;//开始时间
          return;
        }
        var time1 = new Date().getTime();//当前时间内挫
        var time2 = timeNum*24*60*60*1000;
        var date = new Date(time1-time2);
        var currentdate = date.getFullYear() + '-' + (date.getUTCMonth()+1) + '-' + date.getUTCDate() + ' 00:00:00';
        this.startTime = currentdate;//开始时间
      },
      //获取结束时间
      getEndTime:function(istrue){//参数代表是否一个月之前
        if(istrue){
          let time1 = new Date().getTime();
          let time2 = 30*24*60*60*1000;//一个月前时间挫
          let dates = new Date(time1-time2);
          let currentTime = dates.getFullYear() + '-' + (dates.getUTCMonth()+1) + '-' + dates.getUTCDate() + ' 00:00:00';
          this.endTime = currentTime;
          return;
        }
        let date = new Date(new Date().getTime());
        let currentdate = date.getFullYear() + '-' + (date.getUTCMonth()+1) + '-' + date.getUTCDate() + ' 23:59:59';//
        this.endTime = currentdate;
      },
			//获取会员当日统计信息
			getMemberLotCount: function() {
				const toast = Toast.loading({
					duration: 0, // 持续展示 toast
					forbidClick: true, // 禁用背景点击
					loadingType: 'spinner',
					message: '加载中'
				});
				let begin = this.startTime;
				let end = this.endTime;
				let params = {
          account: $sky.getCookie('username'),
          startTime: begin,
          endTime: end,
          agent: '',
          // searchType:2,
        };
				$sky.ajax('post', 'native/todayTeamStatic', params, (ret) => {
					if(ret.success) {
						toast.clear();
						this.detailsData = ret.content;
					} else {
						toast.clear();
						if(!ret.success) {
							this.$router.push({
								path: '/login',
								query: {}
							})
						}
					}
				})
			},
			back: function() {
				window.history.go(-1);
			},
      selects: function() {
        this.show = true;
        setTimeout(() => {
          var footerList = document.querySelectorAll('.van-hairline--top');
          footerList[0].onclick = () => { //今天
            this.time = '今天';
            this.show = false;
            this.getStartTime(0);
            this.getEndTime(false);
            this.getMemberLotCount()
          }
          footerList[1].onclick = () => { //昨天
            this.time = '昨天';
            this.show = false;
            this.getStartTime(1);
            this.getEndTime(false);
            this.getMemberLotCount()
          }
          footerList[2].onclick = () => { //近一周
            this.time = '近一周';
            this.show = false;
            this.getStartTime(7);
            this.getEndTime(false);
            this.getMemberLotCount()
          }
          footerList[3].onclick = () => { //30天内
            this.time = '一个月以内';
            this.show = false;
            this.getStartTime(30);
            this.getEndTime(false);
            this.getMemberLotCount()
          }
          footerList[4].onclick = () => { //一个月之前
            this.time = '一个月之前';
            this.show = false;
            this.getStartTime(3650);
            this.getEndTime(true);
            this.getMemberLotCount()
          }
        },200)
      },
		}
	}
</script>

<style>
	#yingKui .lotCount {
		margin-bottom: 10px;
		z-index: 2;
		position: relative;
		height: 170px;
		background: -webkit-linear-gradient(top, #6a202d, #3b052c);
	}

	#yingKui .numc {
		color: #fced08;
	}

	#yingKui .wring {
		color: #fae2e2;
		background: #440a2c;
		position: absolute;
		bottom: 0;
	}
	#yingKui .cols{
		border-right: 1px solid #f0f0f0;
		border-bottom: 1px solid #f0f0f0;
	}
</style>
