<template>
  <div class="flexWrap">
    <van-nav-bar @click-left="back" @click-right="selects" left-text="返回" right-text="筛选" left-arrow class="bg-h c-w"
                 title="帐变记录">
      <div slot="right">{{rightTitle}}
        <van-icon class="datas" name="arrow"/>
      </div>
    </van-nav-bar>
    <div class="flexContent p-10 bg-w">
      <div v-if="noData" class="text-c m-t-50">
        <img width="80" src="../../../static/img/pic_empty.png" />
        <div class="f-s-12 c-9">暂无数据</div>
      </div>
      <van-list v-model="loading" :finished="finished" :offset="100" >
        <div v-for="item in zhangbianData" class="f-s-18 b-b p-b-t-15">
          <p class="f-s-21 f-w-900" v-if="floder == 'x002185' || floder == 'x002188'">类型:{{getType(item.type) | x002185Replace}}</p>
          <p class="f-s-21 f-w-900" v-else>类型:{{getType(item.type)}}</p>
          <!--<p class="f-w-700 p-t-5">订单号: {{item.orderId || item.operatorId}}</p>-->
          <p class="f-w-700 p-t-5">变前金额: <span class="c-b">{{item.moneyBefore}}</span>{{moneyUnit}}</p>
          <p class="f-w-700 p-t-5">变动金额: <span class="c-h">{{ (item.moneyAfter - item.moneyBefore).toFixed(2)}}</span> {{moneyUnit}}
          </p>
          <p class="f-w-700 p-t-5">变后金额: <span class="c-g">{{item.moneyAfter}}</span> {{moneyUnit}}</p>
          <p class="f-w-700 p-t-5">变动时间: {{ item.timeStr}}</p>
          <p class="f-w-700 p-t-5 p-r-10" v-if="floder == 'x002147' || floder == 'x002177' || floder == 'x002178'">备注: {{item.remark | x002147Replace}}</p>
          <p class="f-w-700 p-t-5 p-r-10" v-else-if="floder == 'x002185' || floder == 'x002188'">备注: {{item.remark | x002185Replace}}</p>
          <p class="f-w-700 p-t-5 p-r-10" v-else>备注: {{item.remark}}</p>
        </div>
      </van-list>
    </div>
    <van-action-sheet v-model="show" :actions="actions" cancel-text="取消"/>
  </div>
</template>

<script>
  import {Toast} from 'vant'

  export default {
    data() {
      return {
        noData: false,
        loading: false,
        finished: false,
        show: false,
        rightTitle: '今天',
        actions: [{name: '今天'}, {name: '昨天'}, {name: '近一周'}, {name: '近一个月'}, {name: '一个月以前'}],
        zhangbianData: [],
        params: {
          // startTime: this.yugi(0).toLocaleDateString().replace(/\//g, '-') + ' 00:00:00',
          // endTime: this.yugi(0).toLocaleDateString().replace(/\//g, '-') + ' 23:59:59',
          qtype: '',
          // page: 1,
          // rows: 10,
          qtime: 'today',
        },
        floder: this.$store.state.stationInfo.station.floder || '',
        moneyUnit:'元',
      }
    },
    created: function () {
      this.accountChangeRecord();
      this.$sky = $sky;
      if(this.floder == 'x002185' || this.floder == 'x002188'){
        this.moneyUnit = '积分'
      }
    },
    methods: {
      reset:function(){
        this.params.page = 1;
        this.noData = false;
        this.zhangbianData = [];
        this.show = false;
        this.loading = false;
        this.finished = false;
      },
      onLoad:function(){
        let cthis = this;
        setTimeout(function () {
          cthis.params.page += 1;
          cthis.accountChangeRecord();
        },500);
      },
      getType:function(type){
        switch (type) {
          case 1:
            return '人工加款';
          case 2:
            return '人工扣款';
          case 3:
            return '在线取款失败';
          case 4:
            return '在线取款';
          case 5:
            return '在线支付';
          case 6:
            return '快速入款';
          case 7:
            return '一般入款';
          case 9:
            return '反水加钱';
          case 10:
            return '反水回滚';
          case 11:
            return '代理返点加钱';
          case 12:
            return '代理返点回滚';
          case 13:
            return '多级代理返点加钱';
          case 14:
            return '多级代理返点回滚';
          case 113:
            return '代理占成加钱';
          case 15:
            return '三方额度转入系统额度';
          case 16:
            return '系统额度转入三方额度';
          case 87:
            return '站内额度转入';
          case 88:
            return '站内额度转出';
          case 55:
            return '存款取消';
          case 54:
            return '提款取消';
          case 78:
            return '晋级赠送';
          case 79:
            return '注册赠送';
          case 80:
            return '存款赠送';
          case 201:
            return '体育投注';
          case 202:
            return '体育派奖';
          case 203:
            return '体育撤单';
          case 204:
            return '体育派奖回滚';
          case 130:
            return '彩票投注';
          case 131:
            return '彩票派奖';
          case 132:
            return '彩票撤单';
          case 133:
            return '彩票派奖回滚';
          case 134:
            return '参与彩票合买';
          case 135:
            return '彩票合买满员';
          case 136:
            return '彩票合买失效';
          case 137:
            return '彩票合买撤单';
          case 139:
            return '彩票合买派奖';
          case 138:
            return '彩票合买截止';
          case 140:
            return '六合彩投注';
          case 141:
            return '六合彩派奖';
          case 142:
            return '六合彩派奖回滚';
          case 143:
            return '六合彩撤单';
          case 18:
            return '活动中奖';
          case 19:
            return '现金兑换积分';
          case 20:
            return '积分兑换现金';
          case 17:
            return '三方转账失败';
          case 1130:
            return '三方彩票增加';
          case 1131:
            return '三方彩票减少';
          case 168:
            return '抢红包';
          case 169:
            return '发红包';
          case 170:
            return '红包金额返还';
          case 23:
            return '系统接口加款';
        }
      },
      // 设置时间
      yugi: function (n) {
        var now = new Date;
        now.setDate(now.getDate() - n);
        return now;
      },
      selects: function () {
        this.show = true;
        setTimeout(() => {
          var footerList = document.querySelectorAll('.van-hairline--top');
          footerList[0].onclick = () => {//今天
            this.params.qtime = 'today';
            this.rightTitle = '今天';
            // this.params.startTime = this.yugi(0).toLocaleDateString().replace(/\//g, '-') + ' 00:00:00';
            // this.params.endTime = this.yugi(0).toLocaleDateString().replace(/\//g, '-') + ' 23:59:59';
            this.reset();
            this.accountChangeRecord();
          };
          footerList[1].onclick = () => {//昨天
            this.params.qtime = 'yesterday';
            this.rightTitle = '昨天';
            // this.params.startTime = this.yugi(1).toLocaleDateString().replace(/\//g, '-') + ' 00:00:00';
            // this.params.endTime = this.yugi(1).toLocaleDateString().replace(/\//g, '-') + ' 23:59:59';
            this.reset();
            this.accountChangeRecord();
          };
          footerList[2].onclick = () => {//7天
            this.params.qtime = 'week';
            this.rightTitle = '近一周';
            // this.params.startTime = this.yugi(7).toLocaleDateString().replace(/\//g, '-') + ' 00:00:00';
            // this.params.endTime = this.yugi(0).toLocaleDateString().replace(/\//g, '-') + ' 23:59:59';
            this.reset();
            this.accountChangeRecord();
          };
          footerList[3].onclick = () => {//近一个月
            this.rightTitle = '近一个月';
            this.params.qtime = 'month';
            // this.params.startTime = this.yugi(30).toLocaleDateString().replace(/\//g, '-') + ' 00:00:00';
            // this.params.endTime = this.yugi(0).toLocaleDateString().replace(/\//g, '-') + ' 23:59:59';
            this.reset();
            this.accountChangeRecord();
          };
          footerList[4].onclick = () => {//一个月以前
            this.params.qtime = 'monthbefore';
            this.rightTitle = '一个月以前';
            this.params.startTime = this.yugi(3560).toLocaleDateString().replace(/\//g, '-') + ' 00:00:00';
            this.params.endTime = this.yugi(30).toLocaleDateString().replace(/\//g, '-') + ' 23:59:59';
            this.reset();
            this.accountChangeRecord();
          };
        }, 500);
      },
      // 获取所有帐变记录
      accountChangeRecord: function () {
        const toast = Toast.loading({
          duration: 0, // 持续展示 toast
          forbidClick: true, // 禁用背景点击
          loadingType: 'spinner',
          message: '加载中'
        });
        $sky.ajax('post', 'native/accountChangeRecord', this.params, (ret) => {
          let cthis = this;
          if (ret.success) {
            toast.clear();
            this.loading = false;
            if(ret.content.totalCount === 0){
              this.finished = true;
              this.noData = true;
              return
            }
            ret.content.results.forEach(function (item) {
              cthis.zhangbianData.push(item)
            });
            if(ret.content.totalCount <= 10){
              this.finished = true;
              return false
            }
            if(this.params.page * this.params.rows >= ret.content.totalCount){
              Toast('已全部加载完毕');
              this.finished = true;
            }
          } else {
            toast.clear();
            if (!ret.success) {
              this.$router.push({
                path: '/login',
                query: {}
              })
            }
          }
        })
      },
      back: function () {
        window.history.go(-1);
      },
    },
    filters:{
      x002147Replace:function (value){
        if (value == undefined){
          return  ''
        }
        if((value.indexOf('彩种') != -1) || (value.indexOf('彩票') != -1)){
          if (value.includes('彩种')) return value.replace(/彩种/g,'任务');
          if (value.includes('彩票')) return value.replace(/彩票/g,'任务');
        } else {
          return value
        }
      },
      x002185Replace:function (value){
        if (value == undefined){
          return  ''
        }
        if((value.indexOf('彩种') != -1) || (value.indexOf('彩票') != -1) || (value.indexOf('投注') != -1)){
          if (value.includes('彩种')) return value.replace(/彩种/g,'竞猜');
          if (value.includes('彩票')) return value.replace(/彩票/g,'竞猜');
          if (value.includes('投注')) return value.replace(/投注/g,'下单');
        } else {
          return value
        }
      },
    }
  }
</script>

<style scoped>
  /*.f-w-700{*/
  /*font-weight: 600;*/
  /*}*/
</style>
