<template>
  <div class="invest">
    <personal_header :titleDate="titleDate"></personal_header>
    <div class="invest-wrap" v-if="investsData.length >= 1">
      <ul>
        <li class="invest-list-item" v-for="(item, index) in investsData" :key="index">
          <div class="item">
            <div class="item-left">
              <div class="icon-b"></div>
              <div class="text-info">
                <p>
                  <sub>{{item.type}}</sub>
                  <span style="background: #3375f8;" v-if="item.status == 1">充值成功</span>
                  <span style="background: red;" v-else-if="item.status == 2">充值失败</span>
                  <span style="background: #fc6f15;" v-else>待审核</span>
<!--                  <span style="background: #fc6f15;">待审核</span>-->
                </p>
                <p>{{item.time}}</p>
              </div>
            </div>
            <div class="item-right">
              <span>{{item.money}}</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="list" v-else>
      <div style="padding: 20px;font-size: 15px;text-align: center;">暂无记录</div>
    </div>
  </div>
</template>

<script>
import personal_header from "@/components/include/personal_header";
import '@/assets/css/center/invests.less'
import {Toast} from "vant";
export default {
  name: "invest",
  components:{personal_header},
  data(){
    return{
      titleDate:{title:'充值记录',rule:{text:'',url:''}},
      investsData:'',
    }
  },
  created() {
    this.getInvests()
  },
  mounted() {
  },
  methods:{
    getInvests:function (){
      let params = {
        token:this.$store.state.token
      }
      this.$post('user/recharge_record',params,true).then((res) => {
        if(res.code == 200){
          this.investsData = res.data
        } else {
          Toast(res.message)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>
