<template>
  <div class="notice">
    <personal_header :titleDate="titleDate"></personal_header>
    <div class="notice-wrap">
      <div class="normal" style="padding: 20px;font-size: 15px;text-align: center;">暂无消息</div>

    </div>
  </div>
</template>

<script>
import personal_header from "@/components/include/personal_header";
import '@/assets/css/center/notice.less'
export default {
  name: "notice",
  components:{personal_header},
  data(){
    return{
      titleDate:{title:'消息通知',rule:{text:'',url:''},},

    }
  },
  methods:{

  }
}
</script>

<style scoped>

</style>