<template>
  <div class="order">
    <personal_header :titleDate="titleDate"></personal_header>
    <div class="order-wrap" v-if="investsData.length >= 1">
      <ul>
        <li class="invest-list-item" v-for="(item, index) in investsData" :key="index">
          <div class="item">
            <div class="item-left">
              <div style="width: 38px;height: 38px;margin-right: 10px"><img :src="'/upload/item/'+item.goods[0].goods_photo" alt=""></div>
              <div class="text-info">
                <p>
                  <sub>{{item.goods[0].goods_name}}</sub>
                  <span style="background: forestgreen;">兑换成功</span>
                </p>
                <p>{{item.order_time}}</p>
              </div>
            </div>
            <div class="item-right">
              <span style="font-size: 1.4rem;font-weight: 500">价值：{{item.total}}</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="order-wrap" v-else style="display: flex;justify-content: center;height: 600px;">
      <div class="continer" style="display: block;width: 38%;margin: 0 auto;">
        <img style="height: 150px" src="../../assets/images/personal/nodata.b8ff15a0.svg" alt="nocontent">
        <div  class="sub" style="text-align: center;color: #828484;font-size: 12px;line-height: 1.7;">您目前还没有兑换记录</div>
      </div>
    </div>
  </div>
</template>

<script>
import personal_header from "@/components/include/personal_header";
import '@/assets/css/center/invests.less'
import {Toast} from "vant";
export default {
  name: "order",
  components:{personal_header},
  data(){
    return{
      titleDate:{title:'我的订单',rule:{text:'',url:''}},
      investsData:'',
    }
  },
  created() {
    this.getOrder()
  },
  mounted() {
  },
  methods:{
    getOrder: function () {
      let params = {
        token: this.$store.state.token,
        state: 'all',
      }
      this.$post('gs/my_shop_order', params, true).then((res) => {
        if (res.code == 200) {
          this.investsData = res.data
        } else {
          Toast(res.message)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>
