<template>
  <div class="recharge-money">
    <personal_header :titleDate="titleDate"></personal_header>
    <div class="list deck">
      <div class="list money-module">
        <div>转账金额</div>
        <div>{{this.$route.query.money}}</div>
      </div>
    </div>
    <div class="list deck">
      <div class="list info">
        <div class="list line"><div class="left">收款银行</div><div class="right">{{details.pay_bank_type}}</div> </div>
        <div class="list line"><div class="left">户名</div><div class="right">{{details.pay_bank_name}}</div> </div>
        <div class="list line"><div class="left">收款帐号</div><div class="right">{{details.pay_bank_account}}</div> </div>
        <div class="list line"><div class="left">转账留言</div><div class="right"><input type="text" placeholder="请输入附赠留言" v-model="reason"></div> </div>
        <div class="list line tip">注意:请复制上面专属账号,打开您的网银或手机银行进行转账汇款!</div>
      </div>
    </div>
    <div class="list deck">
      <div class="tips">
        <div class="list line"><div class="left"><div class="num">1</div></div><div class="right"><div>打开手机银行APP【如,建设银行APP，中国银行APP】</div></div></div>
        <div class="list line"><div class="left"><div class="num">2</div></div><div class="right"><div>转账100元到中国建设银行（黄萍）</div></div></div>
        <div class="list line"><div class="left"><div class="num">3</div></div><div class="right"><div>确认转账成功，点击下面按钮提交审核</div></div></div>
      </div>
    </div>
    <div class="list deck">
      <p class="rightAway-record" @click="postRecharge()">审核</p>
    </div>
  </div>
</template>

<script>
import {Toast} from "vant";
import personal_header from "@/components/include/personal_header";
import '@/assets/css/center/rechargeMoney.less'

export default {
  name: "rechargeMoney",
  components:{
    personal_header
  },
  data(){
    return{
      titleDate:{title:'充值中心',rule:{text:'',url:''}},
      details:'',
      name:'',
      reason:'',
    }
  },
  created() {
    this.recharge()
  },
  mounted() {
  },
  methods:{
    recharge:function (){
      let params = {
        money:this.$route.query.money,
        token:this.$store.state.token,
        type:'bank',
      }
      this.$post('user/recharge',params,true).then((res) => {
        if(res.code == 200){
          this.details = res.data
        } else {
          Toast(res.message)
        }
      })
    },
    postRecharge:function (){
      let params = {
        money:this.$route.query.money,
        token:this.$store.state.token,
        name:this.details.pay_bank_name,
        reason:this.reason,
      }
      this.$post('user/bank',params,true).then((res) => {
        if(res.code == 200){
          Toast('提交成功，等待审核')
        } else {
          Toast(res.message)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>
