<template>
  <div class="touziDetailed">
    <personal_header :titleDate="titleDate"></personal_header>
    <div class="touziDetailed-wrap">
      <div class="header">
        <div class="money list">
          <span>投资金额(元)</span>
          <span>{{details.invest.money}}</span>
        </div>
        <div class="income list">
          <span>预计收益(元)</span>
          <span style="color: red;">{{details.invest.yuji_income.toFixed(2)}}元</span>
        </div>
        <div class="startTime list">
          <span>开始时间</span>
          <span>{{details.invest.time}}</span>
        </div>
<!--        <div class="endTime list">-->
<!--          <span>结束时间</span>-->
<!--          <span>{{details.invest.money}}</span>-->
<!--        </div>-->
      </div>
      <div class="item">
        <ul>
          <li class="item-list" v-for="(item,index) in details.list" :key="index">
            <div class="title">
              <h1>{{item.title}}</h1>
              <van-tag plain  type="primary">第{{item.num}}期</van-tag>
            </div>
            <div class="money">
              <span>应收时间 {{item.time1}}</span>
              <van-tag  text-color="#7a8df9" plain style="background:#7a8df921;">{{item.time2}}</van-tag>
            </div>
            <div class="footers">
              <span>应收本金：{{item.money2}}</span>
              <span>应收利息：{{item.money1}}</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import personal_header from "@/components/include/personal_header";
import '@/assets/css/center/touziDetailed.less'
import {Toast} from "vant";
export default {
  name: "touziDetailed",
  components:{
    personal_header
  },
  data(){
    return{
      titleDate:{title:'投资详细',rule:{text:'',url:''}},
      details:'',
    }
  },
  created() {
    this.getDetailed()
  },
  mounted() {
  },
  methods:{
    getDetailed:function (){
      let params = {
        token:this.$store.state.token,
        id:this.$route.query.id
      }
      this.$post('user/details',params,true).then((res) => {
        if(res.code == 200){
          this.details = res.data
        } else {
          Toast(res.message)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>
