<template>
  <div class="volume">
    <personal_header :titleDate="titleDate"></personal_header>
    <div class="volume-wrap">
      <div class="normal" style="padding: 20px;font-size: 15px;text-align: center;">暂无优惠卷</div>
    </div>
  </div>
</template>

<script>
import personal_header from "@/components/include/personal_header";
import '@/assets/css/center/volume.less'
export default {
  name: "volume",
  components:{personal_header},
  data(){
    return{
      titleDate:{title:'我的卷包',rule:{text:'',url:''}},

    }
  },
  methods:{

  }
}
</script>

<style scoped>

</style>