.active{
  margin-bottom: 30px;
  .container{
    width: 1000px;
    box-sizing: border-box;
    min-height: 500px;
    .active-list{
      width: 100%;
      display: flex;
      padding: 15px 0;
      margin-top: 15px;
      box-shadow: 0px 4px 8px #c7c7c7;
      cursor: pointer;
      &:hover img{
        transform: scale(1.1);
      }
      .active-img{
        flex: 7;
        overflow: hidden;
        margin-left: 15px;
        img{
          width: 680px;
          height: 170px;
          transition: .5s;
        }
      }
      .active-side{
        flex: 3;
        padding: 0 15px;
        h5{
          font-size: 28px;
          font-weight: 100;
          color: #e4393c;
          overflow: hidden;
          line-height: 30px;
        }
        p{
          height: 46px;
          padding: 12px 0;
          margin: 14px 0;
          font-size: 14px;
        }
        a{
          width: 100px;
          font-size: 18px;
          display: flex;
          justify-content: center;
          line-height: 40px;
          background: #e4393c;
          color: #fff;
          border-radius: 4px;
          text-align: center;
          padding-right: 18px;
          padding-left: 18px;
          i{
            margin-top: 15px;
            margin-left: 8px;
            border-left: 8px solid transparent;
            border-top: 8px solid #f09394;
            border-right: 8px solid transparent;
            transition: .1s;
          }
        }
      }
    }
    .active-summary{
      box-shadow: 0px 4px 8px #c7c7c7;
      text-align: center;
      overflow: hidden;
      height: 0;
      .active-html{
        padding: 20px 10px;
        box-sizing: border-box;
      }
      img{
        width: 100%;
      }
    }
    .active-show{
      height: 100%!important;
    }

  }
}
