@import "include/base";
/*首页*/
/*---------------------------------------------------------内容体---------------------------------------------------------*/
.index{
  width: 100%;
  padding:  13px 0;
  .container{
    height: 468px;
    justify-content: space-around;
    .wrap-l,.wrap-c,.wrap-r{
      float: left;
      height: 100%;
      box-sizing: border-box;
    }
    .wrap-l{
      width: 232px;
      background: #fffdf3;
      border: 1px solid #e6c9a0;
      border-top: 3px solid #e6c9a0;
      ul{
        li{
          height: 46.5px;
          line-height: 46px;
          border-bottom: 1px dashed #ddd;
          padding: 0 8px;
          display: flex;
          align-items: center;
          position: relative;
          cursor: pointer;
          transition: .3s;
          box-sizing: border-box;
          img{
            width: 38px;
            height: 38px;
            transition: .3s;
          }
          b{
            margin-left: 8px;
          }
          a{
            color: #999;
            font-size: 12px;
            position: absolute;
            right: 8px;
          }
        }
        li:nth-child(10){
          border: none;
        }
        li:hover{
          background: #fff9dd;
        }
        li:hover img{
          transform: scale(1.1);
        }
        li:hover span{
          color: #e4393c;
          font-weight: 600;
        }
      }
    }
    .wrap-c{
      width: 490px;
      margin-left: 10px;
      .three-lottery{
        height: 204px;
        border: 1px solid #d7e2f7;
        margin-top: 12px;
        .label{
          width: 100%;
          height: 32px;
          ul{
            width: 100%;
            display: flex;
            height: 100%;
            li{
              width: 33.33333%;
              background: #edf7ff;
              border-top: 1px solid #fff;
              border-bottom: 1px solid #d7e2f7;
              box-sizing: border-box;
              cursor: pointer;
              border-left: 1px solid #d7e2f7;
              float: left;
              transition: .3s;
              .flex();
            }
            li:hover{
              border-top: 2px solid #e4393c;
              background: #ffffff;
              border-bottom: none;
            }
            .label-active{
              border-top: 2px solid #e4393c;
              background: #ffffff;
              border-bottom: none;
            }
          }
        }
        .draw-fruit{
          width: 100%;
          height: 172px;
          padding-top: 12px;
          ul{
            width: 100%;
            li{
              .flex();
              margin-top: 20px;
              div{
                width:35px;
                height: 35px;
                font-size:18px;
                color: #ffffff;
                margin: 0 3px;
                float: left;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                cursor: pointer;
                .k3{
                  color: #999999;
                }
              }
              p{
                display: flex;
                span{
                  color: red;
                  margin: 0 3px;
                }
                em{
                  margin: 0 10px;
                  font-style:normal;
                }
              }
              .result-font{
                display: block;
                width: 18px;
                height: 18px;
                text-align: center;
                border-radius: 1px;
                line-height: 18px;
                float: right;
                color: #ffffff;
              }
              .el-button--danger{
                background: #e4393c;
                padding: 10px 20px!important;
              }
              .el-button--danger:focus, .el-button--danger:hover{
                background: #cb3418;
              }
            }
          }
        }
      }
    }
    .wrap-r{
      width: 252px;
      margin-left: 10px;
      .login-button{
        width: 100%;
        height: 44px;
        padding:0 15px;
        background:#fffdf3;
        border-radius:2px;
        position:relative;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        &.login-after{
          border:1px solid #ebd4b3;
          border-top:3px solid #ebd4b3;
          & span{
            color: #36c;
          }
        }
        & i{
          font-size: 20px;
          color: #e4393c;
        }
        & span{
          font-size: 16px;
        }
        a {
          text-decoration: none;
          button{
            background: #fff9dd;
            border:1px solid #ebd4b3;
            color: #e4393c;
            width: 117.5px;
            font-weight: 700;
            height: 42px;
            &:hover{
              background: #f9f0c0;
            }
            span,i{
              font-size: 16px;
              font-family: none;
            }
          }
          &:nth-child(2){
            margin-left: 17px;
          }
        }
      }
      .money-list{
        border:1px solid #dce1e5;
        margin-top: 13px;
        .scroll-data{
          height: 175px;
          overflow: hidden;
        }
        h6{
          margin: 0;
          padding: 0 8px;
          line-height: 30px;
          border-bottom: 1px solid #eee;
          font-size: 14px;
          color: #666666;
        }
        table{
          transition: 1s;
          height: 100%;
          tr{
            transition: .5s;
            td{
              text-align: left;
              padding: 7px 15px;
              border-top:1px dashed #ddd;
              &:first-child {
                width: 280px;
                white-space:nowrap;
              }
              img{
                height: 36px;
                width: 36px;
                float: left;
                border-radius: 50%;
                margin-right: 9px;
              }
              p{
                line-height: 1.7;
                height: 36px;
                i{
                  color: red;
                }
              }
            }
            ins{
              display: block;
              width: 25px;
              height: 25px;
              margin: 0 auto;
              color: #555;
              text-decoration:none;
            }
            &:first-child {
              ins {
                background: #c12f33;
                background: radial-gradient(circle at 25px 25px, #c12f33, #ca9293);
                color: #fff;
                border-radius: 50%;
                text-align: center;
                line-height: 25px
              }
              td{
                border: none;
              }
            }

            &:nth-child(2) ins {
              background: #53b0fe;
              background: radial-gradient(circle at 25px 25px, #2b82cc, #53b0fe);
              color: #fff;
              border-radius: 50%;
              text-align: center;
              line-height: 25px
            }

            &:nth-child(3) ins {
              background: #f8a968;
              background: -webkit-radial-gradient(circle at 25px 25px, #c57532, #f8a968);
              background: radial-gradient(circle at 25px 25px, #c57532, #f8a968);
              color: #fff;
              border-radius: 50%;
              text-align: center;
              line-height: 25px
            }
          }
        }
        &:nth-child(3){
          height: 203px;
          overflow: hidden;
          tr{
            height: 55px;
          }
          td{
            border: none;
          }
          span{
            margin-left: 5px;
          }
        }
      }
    }
  }
  .chat-entrance{
    position: fixed;
    right: 1rem;
    top: 100px;
    cursor: pointer;
    z-index: 99999;
  }
}
