.lobby{
  .container{
    .lobby-show{
      margin-top: 20px;
      display: flex;
      height: 238px;
      .sidebar{
        float: left;
        width: 80%;
        height: 100%;
      }
      .scroll{
        float: left;
        width: 20%;
        height: 100%;
        position: relative;
        background: #515860;
        .scroll-list{
          width: 100%;
          color: white;
          font-size: 20px;
          font-weight: 100;
          text-align: center;
          line-height: 45px;
          display: block;
          border-bottom: 1px white solid;
          background-color:#515860 ;
          position: absolute;
          top: 0px;
          left: 0px;
        }
        .scroll-data{
          height: 175px;
          margin-top: 56px;
          overflow: hidden;
          tr{
            height: 55px;
            td{
              border: none;
              color: #ffffff;
              padding: 7px 8px!important;
            }
          }
        }
      }
    }
    .shadowLine{
      width: 100%;
      height: 15px;
      position: relative;
      background: linear-gradient(180deg, #7a7a7a 0, #c3c4c3);
    }
    .shadowLine:after{
      content: "";
      overflow: hidden;
      height: 0;
      border-right: 20px solid transparent;
      border-top: 15px solid #e6e6e6;
      position: absolute;
    }
    .shadowLine:before{
      content: "";
      overflow: hidden;
      height: 0;
      border-left: 20px solid transparent;
      border-top: 15px solid #e6e6e6;
      position: absolute;
      right: 0;
    }
    .lobby-content{
      float: left;
      .lobby-tag{
        box-sizing: border-box;
        width: 1000px;
        height: 40px;
        background-color: #455467;
        padding:0 10px;
        overflow: hidden;
        ul{
          width: 100%;
          display: flex;
          li{
            width: 100%;
            a{
              line-height:20px;
              text-align: center;
              color: #ffffff;
              font-size:14px;
              display: block;
              border-right: 1px solid #74808f;
              margin: 10px 0;
              transition: 1s;
            }
          }
          .active{
            background:#fff;
            border-radius:5px 5px 0 0;
            margin-top:3px;
            height:37px;
            & a{
              color: #000000;
            }
          }
        }
      }
      .lobby-type{
        min-height: 500px;
        float: left;
        li{
          position: relative;
          z-index: 50;
          box-sizing: border-box;
          width: 226px;
          height: 100px;
          padding: 16px 20px;
          border: 1px solid #e3e3e3;
          margin: 10px;
          float: left;
          display: block;
          box-shadow: 1px 1px 1px #8a8a8a;
          &:hover .lobby-type-shadow{
            display: block!important;
          }
          a{
            display: flex;
            i{
              display: block;
              width: 60px;
              height: 60px;
              flex: 15;
              background-size: 100% 100%!important;
            }
            dl{
              flex:31;
              margin-top:10px;
              dt{
                text-align: center;
                font-size: 18px;
                margin: 0;
                color: #516073;
                font-weight: 100;
                white-space: nowrap;
              }
              dd{
                text-align: center;
                color: #777;
                font-size: 14px;
                margin: 6px 0;
              }
            }
          }
          .lobby-type-shadow{
            position: absolute;
            top: 0;
            left: 0;
            width: 226px;
            height: 100px;
            background-color: rgba(81, 96, 115, 0.9);
            text-align: center;
            display: none;
            span{
              cursor: pointer;
              padding: 2px 21px;
              line-height: 100px;
              font-size: 14px;
              text-align: center;
              color:#cccccc;
              //margin:-17px 0 0 -21px;
              border: 1px solid #ccc;

            }
            span:hover{
              cursor: pointer;
              background-color:#bd2004;
              color:#cccccc;

            }
            i{
              position: absolute;
              right: 0;
              bottom: 5px;
            }
            i:hover:after{
              content: "";
              display: block;
              overflow: hidden;
              height: 20px;
              width: 20px;
              background-color: rgba(189, 179, 179,.4);
              position: absolute;
              right: 0;
              bottom: 0;
              border-radius: 50%;

            }
          }
        }
        &:before{
          content: "";
          height: 0;
          display: block;
          overflow: hidden;
          clear: both;
        }
      }
    }
  }
}
