*{
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: 'Microsoft YaHei';
}
li{
  list-style: none;
}
/*针对谷歌和苹果浏览器*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  *{
    font-size: 12px;
  }
}
/*滚动条*/
body::-webkit-scrollbar {/*滚动条整体样式*/
  width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 10px;
}
body::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: #57A3F3;
}
body::-webkit-scrollbar-track {/*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  border-radius: 5px;
  background: #EDEDED;
}
.ivu-select-dropdown::-webkit-scrollbar {/*滚动条整体样式*/
  width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 10px;
}
.ivu-select-dropdown::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: #57A3F3;
}
.ivu-select-dropdown::-webkit-scrollbar-track {/*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  border-radius: 5px;
  background: #EDEDED;
}
.chatScroll::-webkit-scrollbar {/*滚动条整体样式*/
  width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 10px;
}
.chatScroll::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: #535353;
}
.chatScroll::-webkit-scrollbar-track {/*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  border-radius: 5px;
  background: #fff;
}
.privateChat::-webkit-scrollbar {/*滚动条整体样式*/
  width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 10px;
}
.privateChat::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px #BFE6FF;
  background: #A1C2D7;
}
.privateChat::-webkit-scrollbar-track {/*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px #BFE6FF;
  border-radius: 5px;
  background: #BFE6FF;
}
h1{
  font-size: 3rem;
}
h2{
  font-size: 2.8rem;
}
h3{
  font-size: 2.6rem;
}
h4{
  font-size: 2.4rem;
}
h5{
  font-size: 2.2rem;
}
h6{
  font-size: 2rem;
}
#app{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
.flex-c{
  display: flex;
  align-items: center;
  justify-content: center;
}
/*font-size*/
.font-12{
  font-size: 1.2rem;
}
.font-15{
  font-size: 1.5rem;
}
.font-25{
  font-size: 2.5rem;
}
/*内间距*/
.m-0{
  margin: 0 auto;
}
.m-5{
  margin: 0.5rem;
}
.m-5-r{
  margin-right: 0.5rem;
}
.m-5-l{
  margin-left: 0.5rem;
}
.m-8f-l{
  margin-left: 8%;
}
.m-20f-l{
  margin-left: 20%;
}
.m-4-l{
  margin-left: 4rem;
}
.m-5-b{
  margin-bottom: 0.5rem;
}
.m-5-t{
  margin-top: 0.5rem;
}
.m-20-t{
  margin-top: 2rem;
}
.m-20-r{
  margin-right: 2rem;
}
.m-20-b{
  margin-bottom: 2rem;
}
.m-55-t{
  margin-top: 5.5rem;
}
.m-70-t{
  margin-top: 7rem;
}
.m-4-30{
  margin:30px auto 5px 5px
}
.m-l--5{
  margin-left:-5rem;
}
.m-l--8{
  margin-left:-8.5rem;
}
/*no-margin*/
.l-02{
  left: 0.2rem;
}
.l-2{
  left: 2rem;
}
.l-4{
  left: 4rem;
}
.l-5{
  left: 5.5rem;
}
.l-7{
  left: 7.5rem;
}
.l-9{
  left: 9rem;
}
.l-50{
  left: 50rem;
}
.r-0{
  right: 0rem;
}
.r-05{
  right: .5rem;
}
.r-1{
  right: 1rem;
}
.r-5{
  right: 5.5rem;
}
.r-6{
  right: 6.2rem;
}
.r-7{
  right: 7.5rem;
}
.r-12{
  right: 12.5rem;
}
.t-0{
  top:0;
}
.t-05{
  top:.5rem;
}
.t-013{
  top:1.3rem;
}
.t--3{
  top:-3rem;
}
.t-10{
  top:10rem;
}
.b-1{
  bottom: 1rem;
}
.b-3{
  bottom: 3rem;
}
.b-9{
  bottom: 9rem;
}
.b-12{
  bottom: 12rem;
}
/*外间距*/
.p-5{
  padding: 0.5rem;
}
.p-20{
  padding: 2rem;
}
.p-5-r{
  padding-right:0.5rem;
}
.p-5-l{
  padding-left:0.5rem;
}
.p-30-l{
  padding-left:3rem;
}
.p-5-b{
  padding-bottom:0.5rem;
}
.p-5-t{
  padding-top:0.5rem;
}
.p-30-t{
  padding-top:3rem;
}
.p-100-t{
  padding-top:10rem;
}
/*对齐方式*/
.t-c{
  text-align: center;
}
.t-l{
  text-align: left;
}
.t-r{
  text-align: right;
}
/*高度*/
.h-0{
  height: 0;
}
.h-100{
  height: 100%;
}
.h-90{
  height: 90%;
}
.h-85{
  height: 85%;
}
.h-3{
  height: 3rem;
}
.h-4{
  height: 4rem;
}
.h-5{
  height: 5rem;
}
.h-7{
  height: 7rem;
}
.h-8{
  height: 8rem;
}
.h-10{
  height: 10rem;
}
.h-11{
  height: 11rem;
}
.h-13{
  height: 13rem;
}
.h-15{
  height: 15rem;
}
.h-17{
  height: 17rem;
}
.h-34{
  height: 34rem;
}
.h-50{
  height: 50rem;
}
.mh-50{
  max-height: 50rem;
}
.mh-49{
  max-height: 49rem;
}
/*宽度*/
.w-100{
  width: 100%;
}
.w-88{
  width: 88%;
}
.w-70{
  width: 70%;
}
.w-45{
  width: 45%;
}
.w-4{
  width: 4rem;
}
.w-5{
   width: 5rem;
}
.w-8{
  width: 8rem;
}
.w-10{
  width: 10rem;
}
.w-15{
  width: 15rem;
}
.w-20{
  width: 20rem;
}
.w-25{
  width: 25rem;
}
.w-50{
  width: 50rem;
}
.w-65{
  width: 65rem;
}
.mw-50{
  max-width: 50rem;
}
/*元素位置*/
.d-b{
  display: block;
}
.d-f{
  display: flex;
}
.d-n{
  display: none;
}
/*绝对定位*/
.p-a{
  position: absolute;
}
.p-r{
  position: relative;
}
.p-f{
  position: fixed;
}
/*圆角*/
.b-r-5{
  border-radius: .5rem;
}
.b-r-50{
  border-radius: 50%;
}
/*浮动*/
.f-l{
  float: left;
}
.f-r{
  float: right;
}
/*背景颜色*/
.bg-fff{
  background: #fff;
}
.bg-ef{
  background: #E7EBF2;
}
.bg-oragen{
  background: #f86704;
}
.bg-004{
  background: rgba(0,0,0,.4);
}
.b-y{
  background: yellow;
}
.rgb-3f{
  background: rgba(63, 142, 255,0.7);
}
.b-bf{
  background: #BFE6FF;
}
.activeClass{
  background: #B0D4EB;
}
.bg-bd:hover{
  background: #B0D4EB;
}
.bg-n{
  background: none;
}
/*行高*/
.l-h-25{
  line-height:2.5rem;
}
.l-h-3{
  line-height:3rem;
}
.l-h-4{
  line-height:4rem;
}
/*滚动条*/
.ov-hidd{
  overflow: hidden;
}
.ov-auto{
  overflow: auto;
}
/*字体颜色*/
.c-g{
  color: gray;
}
.c-f0{
  color:rgba(255,255,255,.7)
}
.c-w{
  color: #fff;
}
.c-r{
  color: red;
}
.c-2d{
  color: #2db7f5;
}
.c-g:hover{
  color: #2db7f5;
}
.c-y{
  color: yellow;
}
/*最小宽度*/
.m-wid1000{
  min-width: 1000px;
}
/*其他*/
.cur-p{
  cursor:pointer;
}
.box-shadow{
  box-shadow:-3px 0 3px #A9CCE2, /*左边阴影*/
  3px 0 3px #A9CCE2, /*右边阴影*/
  0 -3px 3px #A9CCE2, /*顶部阴影*/
  0 3px 3px #A9CCE2; /*底边阴影*/
}
.outline{
  outline:none
}
.that:hover > i {
  display: block;
}
.gray {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
/*边框*/
.b-n{
  border:none;
}
.bor-e8eaec{
  border-bottom:1px solid #e8eaec
}
.bor-b-gray{
  border-bottom:1px solid #B0D4EB;
}
.bor-l-gray{
  border-left:1px solid #B0D4EB;
}
.whs-pre{
  white-space:pre-line;
}
/*层级*/
.z-max{
  z-index: 999;
}
/*重写样式*/
.ivu-upload-list{
  display: none!important;
}
.ivu-badge-count{
  top:0;
  right: .5rem;
}
