<template>
  <div id="app" style="height: 100%">
<!--    <transition :name="transformName">-->
<!--      <router-view/>-->
<!--    </transition>-->
    <router-view/>
    <Loading v-if="$store.state.isLoading"></Loading>
  </div>
</template>

<script>
  import Loading from './components/include/loading.vue';
export default {
  name: 'App',
  components:{Loading},
  data(){
    return{
        transformName:"",
    }
  },
  created() {
    console.log(this.$router.options);
    try {
      if (localStorage.StationInfo){
        let storageValue = JSON.parse(localStorage.getItem("StationInfo"))
        this.$store.commit('updataStationInfo',storageValue)
      }
      if (localStorage.access){
        this.$store.commit('access',JSON.parse(localStorage.getItem("access")) )
      }
      if (localStorage.isLogin){
        this.$store.commit('isLogin',JSON.parse(localStorage.getItem("isLogin")))
      }
      if (localStorage.autoTransIsChangeOver){
        this.$store.commit('getautoTransIs',JSON.parse(localStorage.getItem("autoTransIsChangeOver")))
      }
      if (localStorage.autoTransIsSwitchIs){
        this.$store.commit('getautoTransIsChangeOver',JSON.parse(localStorage.getItem("autoTransIsSwitchIs")))
      }
    }catch (e) {}
  },
  mounted() {

  },
  methods:{
  },
  watch:{
    '$route'(to,from){
      const toPath = to.meta.cartoon
      const formPath =from.meta.cartoon
      this.transformName = toPath > formPath ? 'fold-right' : 'fold-left';
    }
  },
  computed:{
    // ...mapState({
    //   'isLoading'
    // })
  },
}
</script>

<style >
  /*竖屏//横屏 */
  /*@media (orientation: portrait) {*/

  /*}*/
  /*@media (orientation: landscape) {*/
  /*  transform: rotate(90deg);*/
  /*}*/
  .fold-left-enter-active {
    animation-name: fold-left-in;
    animation-duration: 0.3s;
  }
  .fold-left-leave-active {
    animation-name: fold-left-out;
    animation-duration: 0.3s;
  }
  .fold-right-enter-active {
    animation-name: fold-right-out;
    animation-duration: 0.3s;
  }
  .fold-right-leave-active {
    animation-name: fold-right-in;
    animation-duration: 0.3s;
  }

  @keyframes fold-left-in {
    0% {
      transform: translate3d(100%, 0, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes fold-left-out {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-100%, 0, 0);
    }
  }
  @keyframes fold-right-in {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(100%, 0, 0);
    }
  }
  @keyframes fold-right-out {
    0% {
      transform: translate3d(-100%, 0, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }

</style>
