*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}
body{
	overflow: auto;
	background: #eee;
}
i{
  font-style: normal;
}
a{
  text-decoration: none;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.public_header{
  height: 100rpx;
  background: #d4d0ff;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 36rpx;
  position: relative;
  image{
    width: 40rpx;
	height: 30rpx;
	position: absolute;
	left: 20rpx;
  }
}
.status_bar {
	height: var(--status-bar-height);
	width: 100%;
}
uni-button{
	margin-left: 0;
	margin-right: 0;
}
uni-button:after{
	border: none;
}
table{
	border-collapse:collapse;
}
.uni-tabbar-bottom{
	z-index: 1!important;
}
.uni-datetime-picker--btn{
	background: #d4d0ff!important;
}
.uni-calendar-item--multiple{
	background: #eee!important;
}
.uni-calendar-item--after-checked, .uni-calendar-item--before-checked,.uni-calendar-item--checked{
	background-color: #d4d0ff!important;
}
.no-data{
	width: 100%;
	margin-top: 120rpx;
	text-align: center;
	p{
		margin-top: 30rpx;
	}
	image{
		height: 330rpx;
		width: 330rpx;
	}
}