*{
  padding: 0;
  margin: 0;
  font-family: PingFangSC-Semibold,PingFang SC;
  box-sizing: border-box;
}
li{
  list-style: none;
}
body{
  background: #f5f8fa;
  overflow: auto;
}
a{
  color: #000000;
  font-size: 1.2rem;
  text-decoration: none;

}
i{
  font-style: normal;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ground{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow-x:hidden;
}
