.footer{
  width: 364px;
  height: 94px;
  position: fixed;
  left: 50%;
  bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  transform: translateX(-50%);
  background-image: url(../../images/footerbg.png);
  background-size: 100% 100%;
  .item{
    padding-top: 39px;
    display: flex;
    .nav{
      width: 37px;
      height: 40px;
      position: relative;
      margin: 0 10px;
      img{
        width: 100%;
        height: 100%;
      }
      span{
        width: 100%;
        color: #c6ccd3;
        font-size: 12px;
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: center;
      }
      .active{
        color: #ff2768!important;
      }
    }
  }
  .mid{
    width: 62px;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-35%);
  }
}