.header{
  height: 55px;
  .header-icon{
    height: 30px;
    width: 30px;
    position: relative;
    background: #f5c7eb;
    border-radius: 50%;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    img{
      width: 21px;
      height: 21px;
    }
  }
  .language{
    width: 80px;
    background: #fe6ea2;
    position: absolute;
    top: 55px;
    right: 0;
    z-index: 9999;
    .list{
      width: 100%;
      height: 38px;
      text-align: center;
      line-height: 38px;
      color: #ffffff;
      font-size: 12px;
    }
  }
}