<template>
    <div id="home-app-down">
        <div class="bg1">
            <div class="wrapper">
                <!-- 头部信息 -->
                <div class="application flex-box flex-space-between">
                    <div class="phone">
                        <div class="item l fadeInLeft animated"></div>
                        <div class="item m fadeInDown animated"></div>
                        <div class="item r fadeInRight animated"></div>
                    </div>
                    <div class="download">
                        <h2>APP全新上线</h2>
                        <h3>———————— 一直被模仿，从未被超越，唯有经典才能粉碎平庸</h3>
                        <div class="flex-box flex-space-between">
                            <div class="item animated bounceInRight">
                                <div class="bd">
                                    <div class="title">
                                        <span>ios 下载</span>
                                        <i class="iconfont icon-apple"></i>
                                    </div>
                                    <div class="img">
                                        <img src="@/assets/img/demo-qrcode.png" >
                                    </div>
                                    <p>扫描二维码下载，系统提示进行安装</p>
                                    <div class="bottom btn-group flex-box flex-justify-center">
                                        <button class="btn btn-n btn-gray" style="margin-right:.5rem;" @click.prevent="focus(1)">安装教程</button>
                                    </div>
                                </div>
                            </div>
                            <div class="item animated bounceInRight">
                                <div class="bd">
                                    <div class="title">
                                        <span>android 下载</span>
                                        <i class="iconfont icon-android"></i>
                                    </div>
                                    <div class="img">
                                        <img src="@/assets/img/demo-qrcode.png" >
                                    </div>
                                    <p>扫描二维码下载，系统提示进行安装</p>
                                    <div class="bottom btn-group flex-box flex-justify-center">
                                        <button class="btn btn-n btn-gray" style="margin-right:.5rem;" @click.prevent="focus(2)">安装教程</button>
                                        <button class="btn btn-n">立即下载</button>
                                    </div>
                                </div>
                            </div>
                            <div class="item animated bounceInRight">
                                <div class="bd">
                                    <div class="title">
                                        <span>手机网页版</span>
                                        <i class="iconfont icon-language-html"></i>
                                    </div>
                                    <div class="img">
                                        <img src="@/assets/img/demo-qrcode.png" >
                                    </div>
                                    <p>扫描二维码,可快速体验</p>
                                    <div class="bottom">
                                        <p>备用网址，手机浏览器输入:</p>
                                        <p>https://xxx.com</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 安装教程 -->
            <div class="wrapper">
                <div class="jiaocheng" ref="jiaocheng">
                    <div class="title flex-box flex-space-between">
                        <span>安装教程</span>
                        <div class="os">
                            <label :class="type == 1 ? 'mcolor' : null" @click.prevent="type = 1">
                                <i class="iconfont icon-apple"></i>
                                <span>ios</span>
                            </label>
                            <em></em>
                            <label :class="type == 2 ? 'mcolor' : null" @click.prevent="type = 2">
                                <i class="iconfont icon-android"></i>
                                <span>android</span>
                            </label>
                        </div>
                    </div>
                    <!-- 幻灯片 -->
                    <el-carousel class="banner" indicator-position="none" :autoplay="false" v-show="type == 1" >
                        <el-carousel-item v-for="(item,index) in slider1" :key="'slider_item_'+index">
                            <img :src="item" style="width:100%;">
                        </el-carousel-item>
                    </el-carousel>
                    <el-carousel class="banner" indicator-position="none" :autoplay="false" v-show="type == 2" >
                        <el-carousel-item v-for="(item,index) in slider2" :key="'slider_item_'+index">
                            <img :src="item" style="width:100%;">
                        </el-carousel-item>
                    </el-carousel>
                </div>
            </div>
        </div>
    </div>
</template>
<style lang="scss">
#home-app-down{
    .wrapper{
        .application{
            height: 460px;
            padding-top: 50px;
            .phone{
                width: 500px;
                position: relative;
                .item{
                    position: absolute;
                    background-size: 100% 100%;
                }
                .l{
                    width: 224px;
                    height: 390px;
                    top: 44px;
                    left: 0;
                    background-image: url('../assets/img/download-1.png');
                }
                .m{
                    width: 264px;
                    height: 460px;
                    top: 0;
                    left: 50%;
                    margin-left:-132px;
                    background-image: url('../assets/img/download-2.png');
                    z-index: 10;
                }
                .r{
                    width: 224px;
                    height: 390px;
                    top: 44px;
                    right: 0;
                    background-image: url('../assets/img/download-3.png');
                }
            }
            .download{
                width: 720px;
                h2{
                    font-size: 32px;
                    color: white;
                    font-weight: 400;
                }
                h3{
                    text-align: right;
                    margin: 10px 0 20px;
                    padding-right: 10px;
                    font-size: 16px;
                    font-weight: lighter;
                }
                .flex-box{
                    margin-top: 30px;
                    .item{
                        .bd{
                            width: 230px;
                            height: 265px;
                            .title{
                                display: flex;
                                align-items: center;
                                height: 30px;
                                span{
                                    flex-grow: 1;
                                    text-align: center;
                                    font-size: 14px;
                                    color: white;
                                }
                                .icon-apple{
                                    font-size: 18px;
                                }
                                .icon-android{
                                    font-size: 15px;
                                    color: rgb(164, 195, 57);
                                }
                                .icon-language-html{
                                    font-size: 16px;
                                    color: rgb(227, 78, 36);
                                }
                            }
                            .img{
                                text-align: center;
                                img{
                                    margin:1rem 0;
                                    background-color: white;
                                    border: 5px solid #40474f;
                                }
                            }
                            p{
                                text-align: center;
                            }
                            .bottom{
                                margin-top: 15px;
                            }
                        }
                    }
                }
            }
        }
        .jiaocheng{
            margin-top: 6rem;
            .title{
                font-size: 16px;
                height: 45px;
                line-height: 45px;
                border-bottom: 1px solid hsla(0,0%,100%,.05);
                .os{
                    label{
                        cursor: pointer;
                        i{
                            margin-right: .5rem;
                        }
                    }
                    em{
                        display: inline-block;
                        width: 1px;
                        background: hsla(0,0%,100%,.1);
                        height: 20px;
                        vertical-align: middle;
                        margin: 0 20px;
                    }
                }
            }
            .banner{
                margin: 2rem 0;
                width: 1280px;
                height: 482px;
                .el-carousel__arrow{
                    width: 50px;
                    height: 50px;
                    top: 80%;
                    >i{
                        font-size: 46px;
                    }
                }
                .el-carousel__item{
                     height: 482px;
                }
                img{
                    width: 1280px;
                    height: 482px;
                }
            }
        }
    }
}
</style>
<script>
export default {
    data(){
        return {
            type:1,                                             /* 1:IOS          2:Android */
            slider1:[
                require('@/assets/jiaocheng/ios-1.jpg'),
                require('@/assets/jiaocheng/ios-2.jpg'),
                require('@/assets/jiaocheng/ios-3.jpg'),
            ],
            slider2:[
                require('@/assets/jiaocheng/android-1.jpg'),
                require('@/assets/jiaocheng/android-2.jpg'),
            ],
        }
    },
    computed:{
        WEB_NAME:function(){
            return this.$store.getters.WEB_NAME
        },
    },
    methods:{
        focus:function(type){
            this.type = type
            window.scrollTo(0,this.$refs.jiaocheng.offsetTop - 200)
        },
    }
}
</script>