<template>
    <div id="page-defend">
        <div style="width:100%;text-align:center;margin-top:100px">
            <img src="@/assets/img/404.svg" style="width:60%;max-width:400px;">
        </div>
        <div style="margin:auto;width:90%;border:1px solid #0b9f72;border-radius:4px;margin-top:50px;text-align:center">
            <div style="background-color:rgba(11,159,114,0.15);padding:20px 0;width:100%;height:100%">
                <span style="font-size:14px;color:white;padding:0 10px;display:inline-block;text-indent:2em;">
                    为了更好地为您服务,目前正在执行系统维护。对所造成的不方便，我们深表歉意。
                    <p>维护时间: {{startDate}} - {{endDate}}</p>
                    <p>您可以联络我们的客户服务人员</p>
                </span>
                <br>
                <span
                    style="font-size:14px;color:white;padding:0 10px;display:inline-block;text-indent:2em;opacity:1;margin-top:20px;">
                    To serve you better, Website is currently performing a system maintenance. We apologise for any
                    inconvenience caused.
                    <p>This maintenance is scheduled: {{startDate}} - {{endDate}}</p>
                    <p>You may contact our customer service officer</p>
                </span>
            </div>
        </div>
        <a href="javascript:"
            style="margin:auto;width:90%;border:1px solid #0b9f72;border-radius:4px;display:block;line-height:30px;color:white;margin-top:20px;text-align:center;font-size:12px;">
            在线客服
        </a>
        <a href="javascript:"
            style="margin:auto;width:90%;border:1px solid #0b9f72;border-radius:4px;display:block;line-height:30px;color:white;margin-top:20px;text-align:center;font-size:12px;">
            Online Chat
        </a>
        <br>
    </div>
</template>
<script>
export default {
    created(){
        if(this.SITE_SID){
            this.getDatas()
        }
    },
    data(){
        return {
            startDate:'',
            endDate:''
        }
    },
    computed:{
        /* 网站运营商ID */
        SITE_SID:function(){
            return this.$store.getters.SITE_SID
        },
        /* 网站状态 */
        SITE_STATE:function(){
            return this.$store.getters.SITE_STATE
        }
    },
    methods:{
        getDatas:function(){
            this.$http.post('/api/BaseInfo/GetSiteMaintainLog',{
                sid:this.SITE_SID
            }).then(response => {
                const {resultCode,resultData} = response.data
                /* 请求成功 */
                if(resultCode == 1){
                    const {startDate='',endDate=''} = resultData
                    this.startDate = startDate
                    this.endDate = endDate
                }
            })
        },
    },
    watch:{
        SITE_SID:function(newVal){
            if(newVal){
                this.getDatas()
            }
        },
        SITE_STATE:function(newVal){
            if(newVal == 1){
                window.location.href = '/#'
                window.location.reload()
            }
        },
    },
    beforeRouteLeave(to,from,next){
        next(false)
    },
}
</script>
<style>
#page-defend{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overscroll-behavior-y:none;
    background-image: url('../assets/img/bg3.jpg');
    background-size: cover;
}
</style>