<template>
    <div id="home">
        <!-- 顶部 -->
<!--        <home-header></home-header>-->
        <!-- 主要导航 -->
<!--        <home-navigation></home-navigation>-->
        <!-- 主路由 -->
        <router-view></router-view>
        <!-- 右侧工具栏 -->
<!--        <home-tools-bar></home-tools-bar>-->
        <!-- 底部 -->
<!--        <home-footer v-show="$parent.showFooter"></home-footer>-->
    </div>
</template>
<script>
// import homeHeader from '@/components/home/homeHeader'
// import homeFooter from '@/components/home/homeFooter'
// import homeToolsBar from '@/components/home/homeToolsBar'
// import homeNavigation from '@/components/home/homeNavigation'
export default {    
    components:{
        // homeHeader,
        // homeFooter,
        // homeNavigation,
        // homeToolsBar,
    },
}
</script>