<template>
    <div id="home-index">
        <!-- 首页幻灯片 -->
        <el-carousel class="banner" indicator-position="none" :autoplay="false">
            <el-carousel-item v-for="(item,index) in PROMOTION_LIST_STATE_0" :key="'slider_item_'+index">
                <img :src="item.imgUrl" style="width:100%; height:700px;" @click="toPromotionPage(item.pid)">
            </el-carousel-item>
        </el-carousel>
        <!-- 首页内容 -->
        <section class="wrapper wrapper-bg">
            <!-- 热门赛事 -->
            <div id="core-game-list" class="flex-box flex-center">
                <live-game-box 
                    v-for="(item,index) in resultData" 
                    :key="'home_index_live_game_item_' + index"
                    :index="index"
                    :data="item">
                </live-game-box>
            </div>
            <!-- 资讯容器 -->
            <div id="index-news">
                <div class="wrapper">
                    <!-- 标题 -->
                    <div class="new-title fadeInUp animated">
                        <span class="title">资讯</span>
                        <span class="subtitle">/ News</span>
                    </div>
                    <!-- 菜单 -->
                    <div class="new-menu fadeInUp animated">
                        <span :class="newsKey == 'xw' ? 'active' : ''" @click.prevent="newsKey = 'xw' ">新闻</span>
                        <span :class="newsKey == 'sp' ? 'active' : ''" @click.prevent="newsKey = 'sp' ">视频</span>
                        <span :class="newsKey == 'tj' ? 'active' : ''" @click.prevent="newsKey = 'tj' ">图集</span>
                        <span :class="newsKey == 'zt' ? 'active' : ''" @click.prevent="newsKey = 'zt' ">专题</span>
                        <span @click="$router.push({name:'homeNews',params:{mode:'1'}})">更多</span>
                    </div>
                    <!-- 资讯 - 新闻 -->
                    <xw-page v-show="newsKey == 'xw'"></xw-page>
                    <!-- 资讯 - 视频 -->
                    <sp-page v-show="newsKey == 'sp'"></sp-page>
                    <!-- 资讯 - 图集 -->
                    <tj-page v-show="newsKey == 'tj'"></tj-page>
                    <!-- 资讯 - 专题 -->
                    <zt-page v-show="newsKey =='zt'"></zt-page>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
import liveGameBox from '@/components/common/liveGameBox'
/* 资讯 */
import xwPage from '@/components/news/index/xw'
import tjPage from '@/components/news/index/tj'
import spPage from '@/components/news/index/sp'
import ztPage from '@/components/news/index/zt'

export default {
    created(){
        this.GetEgEgameMatchHotList()
        /* 监听投注赔率变化 */
        window.eventBus.$on('listenOddsList',this.listenOddsList)
        /* 监听赛事状态变化 */
        window.eventBus.$on('listenMatchList',this.listenMatchList)
    },
    data(){
        return {
            resultData:false,                               /* 热门赛事数据 */
            resultMapData:false,                            /* 热门赛事数据 map结构 */
            newsKey:'xw',                                   /* 决定展示哪个资讯子组件 */
        }
    },
    computed:{
        /* 优惠活动列表 进行中优惠 */
        PROMOTION_LIST_STATE_0:function(){
            return this.$store.getters.PROMOTION_LIST_STATE_0
        },
    },
    methods:{
        /* 请求热门赛事数据 */
        GetEgEgameMatchHotList:function(){
            this.$http.post('api/Bet/GetEgEgameMatchHotList').then(response => {
                const {resultCode,resultData} = response.data
                /* 请求成功 */
                if(resultCode == 1){
                    const {egEgameMatchList = false} = resultData
                    if(egEgameMatchList){
                        const resultMapData = new Map()
                        egEgameMatchList.map((item,index) => {
                            item.arrayIndex = index
                            resultMapData.set(item.mid,item)
                        })
                        this.resultMapData = resultMapData
                        this.resultData = egEgameMatchList
                    }
                }
            })
        },
        /* 跳转至优惠活动页面 */
        toPromotionPage:function(pid){
            this.$router.push({name:'homePromotion',params:{pid}})
        },
        /* 资讯 请求新闻列表 */
        getNewsList:function(){
            this.$http.post('api/News/GetNewsTypeList')
        },
        /* 监听投注赔率变化 */
        listenOddsList:function(socketData){
            const {socketList} = socketData
            if(this.resultData && socketList){
                /* socket列表 key 为 比赛id (mid) */
                for(const mid in socketList){
                    if(this.resultMapData.has(mid)){
                        /* 得到推送投注赔率对象 */
                        const socketTarget = socketList[mid]
                        /* 取出这个赛事对象（的主要玩法投注列表）与推送范围做匹配 */
                        const localTarget = this.resultMapData.get(mid)
                        const localDataIndex = localTarget.arrayIndex
                        /* socketTarget转为map对象辅助检查 */
                        const socketTargetMap = new Map()
                        socketTarget.map((item,index) => socketTargetMap.set(item.edoid,item))
                        /* 遍历本地的主要玩法投注列表 */
                        localTarget.egEgameMatchTeamList.map((item,index) => {
                            if(socketTargetMap.has(item.edoid)){
                                this.$helper.log(item.edoid,`主页 - 热门赛事列表 - ${mid} 下的投注出现赔率变化`,2)
                                const socketItem = socketTargetMap.get(item.edoid)
                                /* 更新投注变化 */
                                item.odds = socketItem.newDetail.odds
                                item.oddsBetState = socketItem.newDetail.betState
                                localTarget.egEgameMatchTeamList[index] = item
                            }
                        })
                        /* 渲染到本地数据 */
                        this.resultData[localDataIndex] = localTarget
                    }
                }
            }
        },
        /* 监听赛事状态变化 */
        listenMatchList:function(socketData){
            const {socketList} = socketData
            if(this.resultData && socketList){
                /* socket列表 key 为 比赛id (mid) */
                for(const mid in socketList){
                    if(this.resultMapData.has(mid)){
                        /* this.$helper.log(false,`主页 - 热门赛事列表 - ${mid} 出现赛事状态变化`,2) */
                        /* 得到推送赛事对象 */
                        const socketTarget = socketList[mid]
                        /* 取出这个赛事对象与推送范围做匹配 */
                        const localTarget = this.resultMapData.get(mid)
                        const localDataIndex = localTarget.arrayIndex

                        localTarget.betState = socketTarget.newDetail.betState
                        localTarget.result = socketTarget.newDetail.result
                        localTarget.state = socketTarget.newDetail.state
                        localTarget.stateName = socketTarget.newDetail.stateName

                        /* 渲染到本地数据 */
                        this.resultData[localDataIndex] = localTarget
                    }
                }
            }
        }
    },
    mounted(){
        /* 通过邀请码链接进入 */
        if(this.$route.name == 'homeIndexRecommend'){
            const {code} = this.$route.params
            if(code){
                this.$store.commit('setRecommendCode',code)
                this.$store.commit('setInterActive','register')
            }
        }
    },
    beforeDestroy(){
        /* 卸载event监听 */
        window.eventBus.$off('listenOddsList',this.listenOddsList)
        window.eventBus.$off('listenMatchList',this.listenMatchList)
    },
    components:{
        liveGameBox,
        xwPage,
        tjPage,
        spPage,
        ztPage,
    }
}
</script>
<style lang="scss">
#home-index{
    background: #1e2124;
    .banner{
        height: 700px;
        .el-carousel__container{
            height: 700px;
            .el-carousel__arrow{
                width: 50px;
                height: 50px;
                >i{
                    font-size: 46px;
                }
            }
        }
    }
    .wrapper.wrapper-bg{
        box-sizing: border-box;
        padding: 200px 0 4rem;
        position: relative;
        z-index: 5;
        #core-game-list{
            position: absolute;
            top: -120px;
            left: 0;
            width: 100%;
            height: 300px;
            .live-game-box{
                width: 420px;
            }
        }
        #index-news{
            box-sizing: border-box;
            padding-top: 40px;
            .new-title{
                text-align: center;
                .title{
                    font-size: 18px;
                    color: white;
                }
                .subtitle{
                    margin-left: .5rem;
                }
            }
            .new-menu{
                text-align: center;
                margin: 20px auto;
                .active{
                    color:$theme-font-color;
                }
                span{
                    position: relative;
                    display: inline-block;
                    box-sizing: border-box;
                    cursor: pointer;
                    padding: 10px 26px;
                    line-height: 12px;
                    font-size: 12px;
                    &:not(:last-child)::after{
                        content: "";
                        width: 1px;
                        height: 12px;
                        position: absolute;
                        right: -3px;
                        top: 12px;
                        background: #3b3b3b;
                    }
                }
            }
        }
    }
}
</style>