<template>
    <div id="inter-active" :style="IA_PANEL_VISIBLE">
        <!-- 应用层 -->
        <transition :name="IA_COMPONENT_ANIME" @after-leave="hiddenInterActive">
            <component :is="IA_COMPONENT_NAME" v-if="IA_COMPONENT_NAME"></component>
        </transition>
        <!-- 遮罩层 -->
        <transition name="Fade">
            <div class="inter-active-shadow" @click="closeInterActive" v-if="IA_COMPONENT_NAME"></div>
        </transition>
    </div>
</template>
<script>
import login from '@/components/interActive/login'
import register from '@/components/interActive/register'
import forgetPass from '@/components/interActive/forgetPass'
import updateUserPass from '@/components/interActive/updateUserPass'
import updateUserPhone from '@/components/interActive/updateUserPhone'
import selectBankCard from '@/components/interActive/selectBankCard'
import bindBankCard from '@/components/interActive/bindBankCard'
import agentMemberDeposit from '@/components/interActive/agentMemberDeposit'
import updateUserInfo from '@/components/interActive/updateUserInfo'
import usMessageDetail from '@/components/interActive/usMessageDetail'
import marqueeNotice from '@/components/interActive/marqueeNotice'

/**
 * @description 交互层主组件
 */
export default {
    data(){
        return {
            IA_PANEL_VISIBLE:{
                width:0,
                height:0,
                zIndex:-1,
            }
        }
    },
    computed:{
        IA_COMPONENT:function(){
            return this.$store.state.IA_COMPONENT
        },
        IA_COMPONENT_NAME:function(){
            let result = false
            if(typeof this.IA_COMPONENT == 'string'){
                result = this.IA_COMPONENT
            }
            else if(typeof this.IA_COMPONENT == 'object'){
                result = this.IA_COMPONENT.name
            }
            return result
        },
        IA_COMPONENT_DATA:function(){
            let result = false
            if(typeof this.IA_COMPONENT == 'object'){
                result = this.IA_COMPONENT.data
            }
            return result
        },
        // 应用层
        IA_COMPONENT_ANIME:function(){
            let result = null
            if(this.IA_COMPONENT_NAME){
                switch(this.IA_COMPONENT_NAME){
                    default:
                        result = "FadeInDown"
                        break
                }
            }
            return result
        },
        
    },
    methods:{
        /* 打开应用层（使应用层可见） */
        openInterActive:function(){
            this.IA_PANEL_VISIBLE = {
                width:'100%',
                height:'100%',
                zIndex:99,
            }
        },
        /* 关闭应用层 */
        closeInterActive:function(){
            this.$store.commit('setInterActive',false)
        },
        /* 使交互层不可见 */
        hiddenInterActive:function(){
            /* 已经没有应用层 */
            if(!this.IA_COMPONENT){
                this.IA_PANEL_VISIBLE = {width:0,height:0}
            }
        },
    },
    watch:{
        IA_COMPONENT:function(newVal){
            if(newVal){
                this.openInterActive()
            }
        },
    },
    mounted(){
        /* 被路由拦截 */
        if(this.IA_COMPONENT){
            this.openInterActive()
        }
    },
    components:{
        login,
        register,
        forgetPass,
        updateUserPass,
        updateUserPhone,
        selectBankCard,
        bindBankCard,
        agentMemberDeposit,
        updateUserInfo,
        usMessageDetail,
        marqueeNotice,
    }
}
</script>
<style lang="scss">
#inter-active{
    position: fixed;
    top: 0;
    left: 0;
    >.inter-active-shadow{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0,0,0,.5);
    }
}
</style>