<template>
    <span></span>
</template>
<script>
export default {
    created(){
        const {remind = false} = this.$route.params
        /* 请求注销接口 */
        this.$store.dispatch('userLogOut').then(() => {
            /* 注销操作 */
            this.$helper.goLogout()
            /* 成功提示 */
            if(remind){
                this.$message({message:'注销成功',type:'success',showClose:true})
            }
            /* 跳转至首页 */
            this.$router.push({name:'homeIndex'})
        })
    }
}
</script>