<template>
    <div id="home-promotion">
        <div class="wrapper">
            <section>
                <div class="section-left p-menu">
                    <div class="p-menu-item" :class="type == 1 ? 'active' : ''" @click="changeType(1)">
                        <i class="iconfont icon-format-list-bulleted"></i>
                        <span>全部优惠</span>
                    </div>
                    <div class="p-menu-item" :class="type == 2 ? 'active' : ''" @click="changeType(2)">
                        <i class="iconfont icon-alarm-check"></i>
                        <span>进行中优惠</span>
                    </div>
                    <div class="p-menu-item" :class="type == 3 ? 'active' : ''" @click="changeType(3)">
                        <i class="iconfont icon-calendar-clock"></i>
                        <span>以往优惠</span>
                    </div>
                </div>
                <div class="section-right">
                    <promotion-item v-for="item in resultData" :key="'promotion_item_' + item.pid" :data="item" ></promotion-item>
                </div>
            </section>
        </div>
    </div>
</template>
<script>
import promotionItem from '@/components/promotion/promotionItem'
export default {
    created(){
        /* 刷新优惠活动列表 */
        this.$store.dispatch('getPromotionList')
    },
    data(){
        return {
            type:1,                                 /* 查看优惠范围    1：全部优惠     2：进行中优惠       3：以往优惠 */
            detail:'',                              /* 展开活动详情id */
        }
    },
    computed:{
        /* 渲染结果（优惠活动列表） */
        resultData:function(){
            switch(this.type){
                case 1:
                    return this.PROMOTION_LIST_ALL
                case 2:
                    return this.PROMOTION_LIST_STATE_0
                case 3:
                    return this.PROMOTION_LIST_STATE_1
                default:
                    return []
            }
        },
        /* 优惠活动列表 全部优惠 */
        PROMOTION_LIST_ALL:function(){
            return this.$store.state.PROMOTION_LIST
        },
        /* 优惠活动列表 进行中优惠 */
        PROMOTION_LIST_STATE_0:function(){
            return this.$store.getters.PROMOTION_LIST_STATE_0
        },
        /* 优惠活动列表 以往优惠 */
        PROMOTION_LIST_STATE_1:function(){
            return this.$store.getters.PROMOTION_LIST_STATE_1
        },
    },
    methods:{
        changeType:function(type){
            this.detail = ''
            this.type = type
        },
        changeDetailPid:function(pid){
            if(this.detail == pid){
                this.detail = ''
            }else{
                this.detail = pid
            }
        },
    },
    mounted(){
        const {pid} = this.$route.params
        if(pid){
            this.type = 2
            this.detail = pid
        }
    },
    components:{
        promotionItem
    }
}
</script>
<style lang="scss">
#home-promotion{
    background: url('../assets/img/bg2.jpg') no-repeat top fixed;
    .wrapper{
        box-sizing: border-box;
        padding-top: $navigation-type1-height;
        padding-bottom: 20px;
        section{
            display: flex;
            margin-top: 20px;
            .section-left{
                width: 200px;
                min-height: 800px;
            }
            .section-right{
                width: 1080px;
                min-height: 500px;
                margin-left: 20px;
            }
        }
    }
}
</style>