<template>
    <div id="us">
        <!-- 顶部 -->
<!--        <home-header></home-header>-->
        <!-- 子路由 -->
        <router-view></router-view>
        <!-- 底部 -->
<!--        <home-footer></home-footer>-->
    </div>
</template>
<script>
import homeHeader from '@/components/home/homeHeader'
import homeFooter from '@/components/home/homeFooter'
export default {
    components:{
        // homeHeader,
        // homeFooter
    }
}
</script>
<style lang="scss">
#us{
    .us-page{
        background: $theme-bg-color;
        min-height: 100px;
        border: 1px solid #2d3339;
        margin-bottom: 20px;
        >.title{
            height: 46px;
            line-height: 46px;
            padding: 0 20px;
            box-sizing: border-box;
            border-bottom: 1px solid #2d3339;
            font-size: 14px;
            display: flex;
            justify-content: space-between;
            >span{
                font-size: 12px;
                color: #697081;
            }
        }
    }
}
</style>