<template>
  <div class="mode">
    <div class="sscCheckNumber">
      <ul>
        <li v-for="(item, index) in sonData.templateList" :key="index">
          <div class="selectNormal">
            <span class="buyNumberTitle">{{ item.name }}<i></i></span>
            <div class="buyNumber">
              <div @click="addCart(index,index2)" v-for="(list, index2) in sonData.templateList[index].oddPlayItems"
                   :key="index2" style="display: inline-block;text-align: center;">
                <a style="margin: 13px 5px 0 5px;width: 80px;border-radius:5px;display: block"
                   :class="{active:list.isActive}">{{ list.dataShow }}</a>
                <el-tag size="mini" type="info">{{ list.odds }}</el-tag>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import $ from 'jquery'
import lotteryHtml from '@/assets/json/lotteryTemplate/k3.json'

export default {
  name: "official",
  props: ['sonData', 'params', 'lottery'],
  data() {
    return {
      lotteryTemplateType: 1,
      floder: this.$store.state.stationInfo.content.station.floder || 'x002'
    }
  },
  created: function () {
    this.showTemplate()
  },
  mounted: function () {
  },
  watch: {},
  methods: {
    // 选中号码
    addCart: function (index, index2) {
      this.$parent.addCart(index, index2)
      this.$forceUpdate()
    },
    // 给小于10的号码加零
    addZero: function (num, three) {
      if (three) {
        num < 10 ? num = '0' + num : num = '' + num;
        num < 100 ? num = '0' + num : num = '' + num;
      } else {
        num < 10 ? num = '0' + num : num = '' + num;
      }
      return num;
    },
    // 填充json数据
    showTemplate: function () {
      let that = this
      let data = lotteryHtml.data
      for (let i in data) {
        if (data[i].playName == this.params.sonCode) {
          that.sonData.templateList = data[i].data
          let list = []
          // 获取当前玩法数据
          $.each(this.lottery.rules[0].rules[0].oddPlayItems, function (index, item) {
            if (item.name == that.params.sonCode) {
              list.push(item)
              return false
            } else if (item.name.indexOf('点') != -1) {
              list.push(item)
            }
          })
          that.sonData.thatPlayType = []
          that.sonData.thatPlayType.push(list)
          // 填充玩法数据
          $.each(that.sonData.thatPlayType, function (index, item) {
            if (item[0].name == that.params.sonCode || item[0].name.indexOf('点') != -1) {
              let list = [], data = [], dataShow = [];
              switch (that.params.sonCode) {
                case '短牌':
                  data = ['1-1', '2-2', '3-3', '4-4', '5-5', '6-6']
                  dataShow = ['1-1', '2-2', '3-3', '4-4', '5-5', '6-6']
                  break;
                case '围骰':
                  data = ['1-1-1', '2-2-2', '3-3-3', '4-4-4', '5-5-5', '6-6-6']
                  dataShow = ['1-1-1', '2-2-2', '3-3-3', '4-4-4', '5-5-5', '6-6-6']
                  break;
                case '长牌':
                  data = ['1-2', '1-3', '1-4', '1-5', '1-6', '2-3', '2-4', '2-5', '2-6', '3-4', '3-5', '3-6', '4-5', '4-6', '5-6']
                  dataShow = ['1-2', '1-3', '1-4', '1-5', '1-6', '2-3', '2-4', '2-5', '2-6', '3-4', '3-5', '3-6', '4-5', '4-6', '5-6']
                  break;
                case '大小骰宝':
                  data = that.sonData.moneyTypeDefault
                  dataShow = that.sonData.moneyType
                  break;
                case '全骰':
                  data = ['全骰']
                  dataShow = ['全骰']
                  break;
                case "点数":
                  for (let n in that.sonData.templateList) {
                    list = [];
                    // 填充其他
                    for (let i = 0; i < item.length; i++) {
                      let obj = item[i];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = item[i].name;
                      newobj.dataShow = item[i].name;
                      newobj.classify = item[i].name;
                      list.push(newobj)
                    }
                    that.sonData.templateList[n].oddPlayItems = list
                  }
                  break;
              }
              if (that.params.sonCode != '点数') {
                for (let n in that.sonData.templateList) {
                  list = [];
                  // 填充其他
                  for (let i = 0; i < data.length; i++) {
                    let obj = item[0];
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = data[i];
                    newobj.dataShow = dataShow[i];
                    newobj.classify = data[i];
                    list.push(newobj)
                  }
                  that.sonData.templateList[n].oddPlayItems = list
                }
              }
            }
          })
        }
      }
    },
  }
}
</script>

<style scoped>

</style>
