.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background: #f4f4f4;
  .van-row {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    .van-col--4,.van-col--6,.van-col--8,.van-col--12 {
      height: 100%;
      text-align: center;
      padding-top: 5px;
      font-size: 1.2rem;
      a{
        color: #535353;
      }
      img {
        width: 2.4rem;
        height: 2.4rem;
      }
      .active{
        color: #1d66ff!important;
      }
    }
    .van-col--6{
      width: 20%;
    }
  }
}
