<template>
  <div class="footer_default">
    <van-row type="flex">
      <van-col :span="spanNum">
        <router-link to="/" :class="{active:$route.path == '/index_default'}">
          <van-icon name="wap-home-o" size="2.2rem"/>
          <br>
          <span v-if=" floder == 'x002131' || floder == 'x002105' || floder == 'x002115' || floder == 'x002121' || floder == 'x002107' || floder == 'x002120' || floder =='x002135' || floder == 'x002134' || floder == 'x002179' || floder == 'x002140' || floder == 'x002143' || floder == 'x002118' || floder == 'x002161' || floder == 'x002170'">竞猜大厅</span>
          <span v-else-if="floder == 'x00290' || floder == 'x002121' || floder == 'd005106' || floder == 'x002159' || floder == 'x002175' || floder == 'x002190'">任务大厅</span>
          <span v-else-if="floder == 'd00597' || floder == 'd005100' || floder == 'x002123'">项目大厅</span>
          <span v-else-if="floder == 'x002117'">助力大厅</span>
          <span v-else-if="floder == 'x002137'">数据大厅</span>
          <span v-else-if="floder == 'x002141'">积分大厅</span>
          <span v-else-if="floder == 'x002124'">点击大厅</span>
          <span v-else-if="floder == 'x002153' || floder == 'x002104' || floder == 'x002130'">公益大厅</span>
          <span v-else-if="floder == 'x002132' || floder == 'x002182'">首页</span>
          <span v-else-if="floder == 'x002145' || floder == 'x002111' || floder == 'x002156'">商家平台</span>
          <span v-else-if="floder == 'x002103'">米粉公益</span>
          <span v-else-if="floder == 'x002160' || floder == 'x002176'">竞技大厅</span>
          <span v-else>{{$store.state.escapeList[157]}}</span>
        </router-link>
      </van-col>
      <van-col :span="spanNum">
        <router-link to="/draw_notice" :class="{active:$route.path == '/draw_notice'}" v-if="floder != 'x002182'">
          <van-icon name="point-gift-o" size="2.2rem"/>
          <br>
          <span v-if="floder == 'x002140' || floder == 'x002105' || floder == 'x002132' || floder == 'x002115' || floder == 'x002121' || floder == 'x002107' || floder == 'x002120' || floder == 'x002118' || floder =='x002135' || floder == 'x002143' || floder == 'x002161' || floder == 'x002170'">竞猜公告</span>
          <span v-else-if="floder == 'd00597' || floder == 'd005100' || floder == 'x002123'">项目公告</span>
          <span v-else-if="floder == 'd005106'">商家公告</span>
          <span v-else-if="floder == 'x002121'">历史记录</span>
          <span v-else-if="floder == 'x002124'">数据公告</span>
          <span v-else-if="floder == 'x002137'">分析公告</span>
          <span v-else-if="floder == 'x002153' || floder == 'x002104' || floder == 'x002130'">公益公告</span>
          <span v-else-if="floder == 'x002103'">公益资讯</span>
          <span v-else-if="floder == 'x002145' || floder == 'x002111' || floder == 'x002156'">商家任务</span>
          <span v-else-if="floder == 'x002159' || floder == 'x002175'">任务公告</span>
          <span v-else-if="floder == 'x002160' || floder == 'x002176'">竞技历史</span>
          <span v-else-if="floder == 'x002117'">公告</span>
          <span v-else-if="floder == 'x002141'">助力</span>
          <span v-else>{{$store.state.escapeList[156]}}</span>
        </router-link>
        <a href="http://www.chnews.net/licai/" :class="{active:$route.path == '/draw_notice'}" v-else>
          <van-icon name="point-gift-o" size="2.2rem"/>
          <br>
          <span>理财新闻</span>
        </a>
      </van-col>
      <van-col :span="spanNum" v-if="floder == 't00612'">
        <router-link to="/appDownload" :class="{active:$route.path == '/appDownload'}">
          <van-icon name="gem-o" size="2.2rem"/>
          <br>
          <span>APP下载</span>
        </router-link>
      </van-col>
      <van-col :span="spanNum">
        <router-link to="/interact" :class="{active:$route.path == '/interact'}">
          <van-icon name="friends-o" size="2.2rem"/>
          <br>
          <span v-if="floder == 'd005106'">商家中心</span>
          <span v-else-if="floder == 'x002182'">公益活动</span>
          <span v-else-if="floder == 'd005104'">活动中心</span>
          <span v-else>互动中心</span>
        </router-link>
      </van-col>
      <van-col :span="spanNum">
        <router-link  to="/personal" :class="{active:$route.path == '/personal'}">
          <van-icon name="manager-o" size="2.2rem"/>
          <br>
          <span>个人中心</span>
        </router-link>
      </van-col>
    </van-row>
  </div>
</template>

<script>
import '@/assets/css/include/footer/footer.less'
export default {
  name: "foot_nav",
  data(){
    return {
      floder:this.$store.state.stationInfo !='' ? this.$store.state.stationInfo.content.station.floder : 'x002',
      spanNum:6
    }
  },
  created() {
  },
  mounted() {
    if (this.floder){
      this.$root.common.addFavicon(this.floder)
      if (this.floder == 't00612'){
        this.spanNum = 4
      }
    }
  },
  methods:{
  },
  watch:{
    '$store.state.stationInfo':function (newVal){
      this.floder = newVal.content.station.floder
    }
  }
}
</script>

<style scoped>

</style>
