<template>
  <div class="footer_guess">
    <van-row type="flex">
      <van-col span="6">
        <router-link to="/index_t" :class="{active:$route.path == '/index_t'}">
          <img :src="$route.path == '/index_t' ? require('../../../assets/images/index_t/home_red.png') : require('../../../assets/images/index_t/home_normal.png')" alt="" style="height: 27px;width: 27px;">
          <br>
          <span>首页</span>
        </router-link>
      </van-col>
      <van-col span="6">
        <router-link to="/draw_notice" :class="{active:$route.path == '/draw_notice'}">
          <img :src="$route.path == '/draw_notice' ? require('../../../assets/images/index_t/belottery_red.png') : require('../../../assets/images/index_t/belottery_normal.png')" alt="" style="height: 27px;width: 27px;">
          <br>
          <span>彩票</span>
        </router-link>
      </van-col>
      <van-col span="6">
        <router-link to="/interact" :class="{active:$route.path == '/interact'}">
          <img :src="$route.path == '/interact' ? require('../../../assets/images/index_t/prom_red.png') : require('../../../assets/images/index_t/prom_normal.png')" alt="" style="height: 27px;width: 27px;">
          <br>
          <span>优惠</span>
        </router-link>
      </van-col>
      <van-col span="6">
        <router-link  to="/personal" :class="{active:$route.path == '/personal'}">
          <img :src="$route.path == '/personal' ? require('../../../assets/images/index_t/user_red.png') : require('../../../assets/images/index_t/user_normal.png')" alt="" style="height: 27px;width: 27px;">
          <br>
          <span>个人中心</span>
        </router-link>
      </van-col>
    </van-row>
  </div>
</template>

<script>
import '@/assets/css/include/footer/footer_guess.less'
export default {
  name: "foot_nav",
  data(){
    return {
    }
  },
  created() {
  },
  mounted() {
  },
  methods:{

  }
}
</script>

<style scoped>

</style>
