<template>
  <div class="footer_guess">
    <van-row type="flex">
      <van-col span="6">
        <router-link to="/index_guess" :class="{active:$route.path == '/index_guess'}">
          <van-icon name="wap-home-o" size="2.2rem"/>
          <br>
          <span>竞猜大厅</span>
        </router-link>
      </van-col>
      <van-col span="6">
        <router-link to="/draw_notice" :class="{active:$route.path == '/draw_notice'}">
          <van-icon name="point-gift-o" size="2.2rem"/>
          <br>
          <span>历史记录</span>
        </router-link>
      </van-col>
      <van-col span="6">
        <router-link to="/interact" :class="{active:$route.path == '/interact'}">
          <van-icon name="friends-o" size="2.2rem"/>
          <br>
          <span>互动中心</span>
        </router-link>
      </van-col>
      <van-col span="6">
        <router-link  to="/personal" :class="{active:$route.path == '/personal'}">
          <van-icon name="manager-o" size="2.2rem"/>
          <br>
          <span>个人中心</span>
        </router-link>
      </van-col>
    </van-row>
  </div>
</template>

<script>
import '@/assets/css/include/footer/footer_guess.less'
export default {
  name: "foot_nav",
  data(){
    return {
    }
  },
  created() {
  },
  mounted() {
  },
  methods:{

  }
}
</script>

<style scoped>

</style>
