<template>
  <div class="index">
    <header>
      <div class="reg-left"  >
        <router-link to="/register" v-if="(registerSwitch || agtRegisterSwitch) && !$store.state.isLogin">注册</router-link>
        <a href="javascript:void (0)" class="reg-left-oneSelf" v-else>
          <img src="../../../assets/images/users.png" alt="user">
          <span v-if="$store.state.moneyShow" @click="$store.commit('pushMoneyShow')">{{userMoney}}</span>
          <span v-else @click="$store.commit('pushMoneyShow')">******</span>
        </a>
      </div>
      <div class="title" style="width: 100%;justify-content: center" v-if="floder == 'x002215' || floder == 'x002217' || floder == 'x002219' || floder == 'x002220'">
        <span>{{$store.state.stationInfo.content.title}}</span>
      </div>
      <div class="title" style="width: 100%;justify-content: center" v-else>
        <img v-if="$store.state.stationInfo.logoUrl" :src="$store.state.stationInfo.logoUrl" alt="">
        <span v-else-if="$store.state.stationInfo.content">{{$store.state.stationInfo.content.title}}</span>
      </div>
      <div class="reg-button" >
        <router-link to="/login" v-if="!$store.state.isLogin">登录</router-link>
        <van-icon name="envelop-o" v-else size="2.6rem" color="#fff" @click="Go" />
      </div>
    </header>
    <div class="content">
      <div class="swipe" v-if="swipeList.length >= 1">
        <van-swipe class="my-swipe" :autoplay="3000" indicator-color="white">
          <van-swipe-item v-for="(item, index) in swipeList" :key="index">
            <a v-if="item.titleUrl" :href="item.titleUrl" target="_blank"><img :src="item.titleImg"></a>
            <a v-else href="#"><img :src="item.titleImg"></a>
          </van-swipe-item>
        </van-swipe>
      </div>
      <div class="notice">
        <van-notice-bar left-icon="bell" background="#fefefe" :text="notice" mode="link"/>
      </div>
      <div class="hot-merchant">
        <div class="merchant-title">
          <span v-if="floder == 'x002212'">热门助力专区</span>
          <span v-else-if="floder == 'x002211'">热门直播推送专区</span>
          <span v-else>热门商家</span>
        </div>
        <div class="merchant-menu">
          <div class="index_margin">
            <div class="content-block">
              <div class="index_lottery_item">
                <van-row v-if="playList[dataBesidesIndex].dataCode == 4">
                  <van-col span="12" v-for="(item, index) in playList[dataBesidesIndex].lotterys.slice(0,8)" :key="index">
                    <router-link :to="{path:'/throwinto',query:{code:item.code,lotGroup:item.lotGroup,class:'index'}}" >
                      <div class="group" style="display: flex;align-items: center;">
                        <img :src="item.imgUrl" alt="">
                        <div class="right">
                          <span>{{item.name}}</span>
<!--                          <em>{{item.remark}}</em>-->
                        </div>
                      </div>
                    </router-link>
                  </van-col>
                </van-row>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="win-column">
        <div class="win-title">
          <img src="../../../assets/images/win.png" alt="win">
          <span>收益专栏</span>
        </div>
        <div class="win-menu" id="winMenuWrap">
          <ul id="winMenu">
            <li v-for="(item,index) in rollList"  :key="index" class="item">
              <div class="menu-item">
                <img :src="item.headUrl" alt="user">
                <span>{{item.account}}</span>
              </div>
              <p>在 {{item.type}} 赚取佣金收益<span style="color: red;padding: 0 3px;">{{item.winMoney || 500}}</span>{{$store.state.moneyUnit}}</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="activity">
        <a @click="locationUrl('qiandao')" v-if="signSwitch">
          <div>
            <img src="https://tpxb.me/xb/2.jpg" alt="">
          </div>
        </a>
        <a @click="locationUrl('zhuanpan')"  v-if="dialSwitch">
          <div>
            <img src="https://tpxb.me/xb/3.jpg" alt="">
          </div>
        </a>
      </div>
    </div>
    <foot_nav></foot_nav>
    <float :redPackSwitch="redPackSwitch"></float>
  </div>
</template>

<script>
import '@/assets/css/tabs/index/index.less'
import escape from '@/assets/json/escape.json'
import foot_nav from '@/components/include/foot_nav'
import float from '@/components/include/float'
import $ from  'jquery'
export default {
  name: 'index',
  components:{
    foot_nav, float
  },
  data(){
    return{
      swipeList: [], // 轮播图列表
      notice:'', // 公告
      userMoney:'****', //用户余额
      dataBesidesList:[], //玩法大类排序列表
      dataBesidesIndex:0, //玩法大类排序索引
      playList:[
        {title:'彩票'}
      ],  // 储存玩法数据
      registerSwitch:false,
      agtRegisterSwitch:false,
      serviceUrl:'',
      topMenuType:'',
      longLoading:false, // 加载动画
      longData:'', //下注数据
      longMoney:0, //下注金额
      countdownTime: 24 * 60 * 60 * 1000, //倒计时
      signSwitch:false, // 签到大开关
      dialSwitch:false, // 转盘开关
      redPackSwitch:false, // 红包开关
      isLSOnOff:false, // 彩种分类开关
      lotteryGroup:{
        list:'',
        show:false,
        data:'',
      }, // 展开彩种数据
      floder:'',
      rollList:[]
    }
  },
  created:function(){
    this.accountInfoIs()
    this.getTopMenuType()
    this.getRollList()
    if(this.$store.state.isLogin){
      this.getMeminfo()
    }
  },
  mounted:function(){
    this.getStationInfo()
    this.getSwipe()
    this.getPopNotices()
    this.getHomeData()
    this.getStationSwitch()
    this.getServiceUrl()
    this.getUniversalSwitch()
    this.unescape()
    if(this.floder == 'x002207' || this.floder == 'x002210' || this.floder == 'x002211' || this.floder == 'x002212'){
      this.$store.commit('pushMoneyUnit','元')
      this.$store.commit('pushMoneyType','抖币|快币|微币|美币')
      this.$store.commit('pushMoneyTypeInfo',[{name:'大',showName:'抖币'},{name:'小',showName:'快币'},{name:'单',showName:'微币'},{name:'双',showName:'美币'},])
    } else if(this.floder == 'x002175'){
      this.$store.commit('pushMoneyUnit','元')
      this.$store.commit('pushMoneyType','抖币|快币|微币|火币')
      this.$store.commit('pushMoneyTypeInfo',[{name:'大',showName:'抖币'},{name:'小',showName:'快币'},{name:'单',showName:'微币'},{name:'双',showName:'火币'},])
    } else if(this.floder == 'x002209'){
      this.$store.commit('pushMoneyUnit','积分')
      this.$store.commit('pushPseudoDataClass',2)
      this.$store.commit('pushMoneyType','首饰|服装|鞋服|护肤')
      this.$store.commit('pushMoneyTypeInfo',[{name:'大',showName:'首饰'},{name:'小',showName:'服装'},{name:'单',showName:'鞋服'},{name:'双',showName:'护肤'},])
    } else if(this.floder == 'x002218'){
      this.$store.commit('pushMoneyType','精品|常规|单件|双件')
      this.$store.commit('pushMoneyTypeInfo',[{name:'大',showName:'精品'},{name:'小',showName:'常规'},{name:'单',showName:'单件'},{name:'双',showName:'双件'},])
    } else if(this.floder == 'x002175'){
      this.$store.commit('pushMoneyUnit','抖币')
    }
  },
  methods:{
    // app下载 or 优惠活动
    getTopMenuType:function () {
      this.$fetch('native/getTopMenuType.do').then(res =>{
        if(res.success) {
          this.topMenuType = res.content
        }
      })
    },
    // 获取余额
    getMeminfo:function () {
      this.$fetch('native/meminfo.do').then(res =>{
        if(res.success){
          this.userMoney = res.content.balance
        }
      })
    },
    // 判断是否处于登录状态
    accountInfoIs:function () {
      this.$fetch('native/accountInfo.do').then(res =>{
        if(res.success) {
          this.$store.commit('pushIsLogin',true)
        } else {
          this.$store.commit('pushIsLogin',false)
        }
      })
    },
    // 获取网站基础信息
    getStationInfo:function (){
      if(this.$store.state.stationInfo.success){
        this.floder = this.$store.state.stationInfo.content.station.floder
        document.title = this.$store.state.stationInfo.content.title
      } else {
        this.$fetch('native/getStationInfo.do').then((res) => {
          if(res.success){
            this.floder = res.content.station.floder
            this.$store.commit('pushStationInfo',res)
            document.title = this.$store.state.stationInfo.content.title
          }
        })
      }
    },
    // 签到红包开关
    getUniversalSwitch:function (){
      this.$fetch('native/getUniversalSwitch.do').then((res) => {
        if(res.success){
          res.content[0].onFlag === 'on'? this.signSwitch = true: this.signSwitch = false; // 签到开关
          res.content[1].onFlag === 'on'? this.dialSwitch = true: this.dialSwitch = false; // 转盘开关
          res.redPack.onFlag === 'on'? this.redPackSwitch = true: this.redPackSwitch = false; // 红包开关
        }
      })
    },
    // 获取网站轮播图
    getSwipe:function (){
      let params = {
        code: 5
      }
      this.$fetch('native/lunbo.do',params).then((res) => {
        if(res.success){
          this.swipeList = res.content
        }
      })
    },
    // 获取网站公告
    getPopNotices:function (){
      let params = {
        code: 19
      }
      this.$fetch('native/getPopNotices.do',params).then((res) => {
        if(res.success && res.content.length > 0){
          this.notice = res.content[0].content
        }
      })
    },
    // 获取大类玩法
    getHomeData:function (){
      if(this.$store.state.homeData.success){
        this.homeDataOperate(this.$store.state.homeData)
      } else {
        this.$fetch('native/getHomeData.do',{},true).then((res) => {
          if(res.success){
            res.content.some((item,index)=>{
              if (item.dataCode == '4'){
                let arr = []
                item.lotterys.some(item2=>{
                  arr.push(item2)
                })
                res.content[index].lotterys = arr
                return true
              }
            })

            this.homeDataOperate(res)
            this.$store.commit('pushHomeData',res)
          }
        })
      }
    },
    homeDataOperate:function (res){
      this.playList = res.content
      if(res.isLSOnOff == 'on'){
        this.isLSOnOff = true
      }
      if(this.isLSOnOff){
        this.getLotteryGroup()
      }
    },
    // 分类展示拼接数据
    getLotteryGroup:function (){
      this.$post('native/lotteryGroup.do',{},true).then((res) => {
        if(res.success){
          this.lotteryGroup.list = res.content
        }
      })
    },
    // 网站开关
    getStationSwitch:function (){
      if(this.$store.state.stationSwitch.success){
        this.stationSwitchOperate(this.$store.state.stationSwitch)
      } else {
        this.$fetch('native/getStationSwitch.do').then((res) => {
          if(res.success){
            this.stationSwitchOperate(res)
            this.$store.commit('pushStationSwitch',res)
          }
        })
      }
    },
    stationSwitchOperate:function (res){
      let data = res.content ,that = this
      for(let index in data){
        if(data[index].onFlag == 'on'){
          if(data[index].switchKey == 'memberRegister'){
            that.registerSwitch = true // 用户注册
          } else if(data[index].switchKey == 'dailiRegister'){
            that.agtRegisterSwitch = true
          } else if(data[index].switchKey == 'LongDragon'){
            that.changlongOnOff = true
          } else if(data[index].switchKey == 'toLoginView' && !this.$store.state.isLogin){
            that.$router.push({path:'/login'})
          }
        }
      }
    },
    // 在线客服
    getServiceUrl:function (){
      this.$fetch('native/getServiceUrl.do').then((res) => {
        if(res.success){
          this.serviceUrl = res.content
        }
      })
    },
    // 链接跳转验证
    locationUrl:function(playCode,code){
      let that = this;
      if(!that.$store.state.isLogin){
        that.$router.push({
          path: '/login'
        });
      } else {
        switch (playCode) {
          case 'zaixiankefu':
            window.location.href = window.location.origin + '/mobile/v3/customerService.do';
            return;
          case 'appxiazai':
            window.location.href = window.location.origin + '/mobile/v3/appDownload.do';
            return;
          case 'qiandao':
            window.location.href = window.location.origin + '/mobile/v3/signIn.do';
            return;
          case 'zhuanpan':
            window.location.href = window.location.origin + '/mobile/v3/turnlate.do';
            return;
          case 'youhuihuodong':
            // window.location.href = window.location.origin + '/mobile/v3/active.do';
              this.$router.push('/active')
            return;
          case 'shuaxin':
            window.location.href = window.location.origin + '/mobile';
            return;
          case 'lottery':
            window.location.href = window.location.origin + '/mobile/v3/bet_lotterys.do?lotCode=' + code;
            return;
          case 'hgty':
            window.location.href = window.location.origin + '/mobile/v3/sport/hg/goPage.do?dataType=TD_FT_MN&goOut=aicai';
            return;
          case 'ibc':
            this.goGamePlays(playCode)
            return;
          case 'bbin':
            this.goGamePlays(playCode)
            return;
          case 'egame':
            if(code =='ag' || code =='mg'|| code =='pt'|| code =='qt'|| code =='cq9'|| code =='jdb'){
              window.location.href = window.location.origin + '/mobile/egame/index.do?code=' + code;
            } else {
              this.goGamePlays(code)
            }
            return ;
          case 'real':
            this.goRealPlays(code)
            return;
          case 'ky':
            window.location.href = window.location.origin + '/mobile/v3/getQpGameItems.do?playCode=ky';
            return;
          case 'th':
            window.location.href = window.location.origin + '/mobile/v3/getQpGameItems.do?playCode=th';
            return;
          case 'kx':
            this.goRealPlays(playCode)
            return;
        }
      }
    },
    goGamePlays:function(playCode){
      let params = {}
      let url = 'native/forwardReal.do'
      if(playCode =='ibc'){
        params = {
          playCode: playCode,
          eSport:1,
        }
      }else if(playCode =='bbin'){
        params = {
          type: 'ball',
        }
        url = 'forwardBbin.do'
      } else if(playCode =='bbinDz'){
        params = {
          type: 'game',
        }
        url = 'forwardBbin.do'
      } else if(playCode =='bg'){
        params = {
          type: 2,
          h5: 1,
        }
        url = 'forwardBg.do'
      } else if(playCode =='ebetDz'){
        params = {
          gameType: 5,
        }
        url = 'forwardEbet.do'
      } else{
        params = {
          playCode: playCode,
          gameId: '',
        }
      }
      this.$post(url,params).then((res) => {
        if(res.success){
          if(playCode =='bbin' || playCode == 'bbinDz'){
            location.href = res.url;
          } else {
            location.href = res.content.url;
          }
        }
      })
    },
    goRealPlays:function(playCode){
      let params = {}
      let url = 'native/forwardReal.do'
      if(playCode =='mg'){
        params = {
          gameType: 1,
          gameid: 66936,
          h5:1,
        }
        url = 'forwardMg.do'
      } else if(playCode =='bbin'){
        params = {
          type: 'live',
        }
        url = 'forwardBbin.do'
      } else if(playCode =='kx'){
        params = {
          playCode: 'kx',
        }
      } else {
        params = {
          playCode: playCode,
          gameId: '',
        };
      }
      this.$post(url,params).then((res) => {
        if(res.success){
          if(playCode =='mg' || playCode =='bbin'){
            location.href = res.url;
          } else {
            location.href = res.content.url;
          }
        }
      })
    },
    unescape:function (){
      let e = []
      let a;
        a = escape
      for(let index in a.escape){
        e.push(unescape(a.escape[index].value))
      }
      this.$store.commit('pushEscapeList',e)
    },
    //收益数据
    getRollList:function (){
      this.$post('native/getWinData.do',{}).then(res=>{
        this.rollList = res.content
          res.content.length <= 3 ? '' : this.autoScroll()
       })
    },
    //滚动
    autoScroll:function (){
        setInterval(()=>{
          $('#winMenuWrap').find('#winMenu:first').animate({
            marginTop:'-92px'
          },2000,function (){
            $(this).css({marginTop:'0px'}).find('.item:first').appendTo(this)
          })
        },4000)
    },
    //Go
    Go:function (){
      this.$router.push('/website_message')
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
.x002118Center{
  position: relative;
  .title{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    img,span{
      height: 4.4rem;
      text-align: center;
    }
  }
}
.my-swipe{
  height: 100%;
}
.box-warp{
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background:rgba(0,0,0,.6);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.longDragonMenu{
  width: 93%;
  background: #ffffff;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  float: left;
}
.dragon-tit {
  height:45px;
  line-height:45px;
  background:#f4f4f4;
  font-weight:400;
  position: relative;
  text-align: center;
  font-size: 16px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.dragonX{position:absolute;
  top:0;
  bottom:0;
  margin:auto 0;
  right:10px;
  width:15px;
}
.mint-navbar{
  height: 40px;
  width: 100%;
  background: #ffffff;
  float: left;
  display: flex
}
.mint-navbar div{
  float: left;height: 100%;font-size: 12px;width: 100%;text-align: center;line-height: 40px;border-bottom: 2px solid #ffffff;color: #000000;
}
.is-selected{
  border-bottom: 2px solid #dc3b3b!important;
  color: #dc3b3b!important;
}
.mint-list{
  height: 80px;
  width: 100%;
  background: #ffffff;
  float: left;
  display: flex;
  overflow-x:auto;
}
.mint-list div{
  margin-left: 10px;
  min-width: 80px;
  text-align: center;
}
.mint-list img{
  width: 50px;
}
.mint-list span{
  font-size: 12px;
  white-space:nowrap;
}
.mint-qihao{
  height: 40px;
  width: 100%;
  background: #ffffff;
  float: left;
  display: flex;
}
.mint-qihao div{
  width: 50%;
  text-align: center;
  line-height: 40px;
}
.mint-lottery-list{
  float: left;width: 100%;height: 200px;overflow-y: auto
}
.mint-lottery-list table{
  width: 100%;
  text-align: center;
}
.mint-lottery-list table td{
  width: 35%;
  height: 30px;
  line-height: 30px;
}
.mint-lottery-list table td:nth-child(2){
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0;
}
.mint-lottery-list table td .codeOption{
  display: inline-block;
  padding: 3px 15px;
  border:1px solid #7d7e80;
  float: left;
  margin-left: 10px;
  border-radius: 5px;
}
.codeOptionOn{
  background: red!important;
  color: #ffffff!important;
  border: 1px solid red!important;
}
.mint-touzhu{
  margin-top: 10px;
  height: 40px;
  width: 100%;
  background: #ffffff;
  float: left;
}
.mint-touzhu span{
  display: inline-block;
  height: 100%;
  width: 50%;
  float: left;
  line-height: 40px;
  padding-left: 20px;
  box-sizing: border-box;
}
.mint-touzhu span:nth-child(2){
  padding-left: 30px!important;
  text-align: center;
}
.mint-touzhu input[type='number']{
  width: 50px;
  height: 3rem;
  line-height: 3rem;
  border: 1px solid #7d7e80;
  border-radius: 5px;
  margin: 0 4px;
  padding-left: 5px;
}
.mint-touzhu button{
  color: #ffffff;
  background: orange;
  border-radius: 5px;
  height: 3.5rem;
  width: 5rem;
  line-height: 3.5rem;
  margin-top: 2.5px;
}
</style>
