.gift{
	overflow: hidden;
	  .list{
	    float: left;
	    width: 100%;
	    height: 100%;
	    .active{
	      width: 96%;
	      margin-left: 2%;
	      margin-top: 20rpx;
	      float: left;
	      .title{
	        float: left;
	        width: 100%;
	        height: 160rpx;
	      }
	      .content{
	        float: left;
	        width: 100%;
	        height: auto;
	      }
	      image{
	        width: 100%;
	      }
	    }
	  }
	  .no-data{
	  	width: 100%;
	  	margin-top: 120rpx;
	  	text-align: center;
	  	p{
	  		margin-top: 30rpx;
	  	}
	  	image{
	  		height: 330rpx;
	  		width: 330rpx;
	  	}
	  }
}