body{
	background: #f3f3f3;
}
.index{
	.header{
		width: 100%;
		height: 90rpx;
		padding: 0 20rpx;
		display: flex;
		align-items: center;
		justify-content: space-between;
		background: #FF5035;
		color: #fff;
		span{
			display: flex;
			align-items: center;
			font-size: 26rpx;
		}
		image{
			width: 52rpx;
			height: 52rpx;
			margin-right: 10rpx;
		}
	}
	.notice{
		width: 100%;
		height: 80rpx;
	}
	.label{
		font-size: 32rpx;
		color: #333333;
		border-left: 8rpx solid #FF5035;
		padding-left: 10rpx;
	}
	.hot-merchant{
		background: #fff;
		margin-top: 10rpx;
		.title{
			padding-left: 20rpx;
			height: 80rpx;
			line-height: 80rpx;
		}
		.index_margin{
		    width: 100%;
		    .buttons-tab{
				position:relative;
		        background:#fff;
		        border-bottom:1px solid #d0d0d0;
		        height: 82rpx;
		        display: flex;
		        span{
		        width: 100%;
		        height: 100%;
		        font-size: 26rpx;
		        line-height: 82rpx;
		        border-bottom:4rpx solid transparent;
		        display: flex;
		        justify-content: center;
		        align-items: center;
		        img{
					width: 30rpx;
					height: 30rpx;
					margin-right: 16rpx;
		          }
		        }
		        .active{
		          color:red;
		          border-color:red;
		        }
		      }
		      .content-block{
		        height: 612rpx;
		        margin-top: 10rpx;
		        .box{
					width: 50%;
					float: left;
		        	.group{
		        	  height: 100%;
		        	  text-align: center;
		        	  background: #ffffff;
		        	  font-size: 36rpx;
		        	  padding: 24rpx;
		        	  box-sizing: border-box;
		        	  position: relative;
					  border-top: 1px solid #eee;
					  &:nth-child(odd){
						  border-right: 0.01rem solid #eee;
					  }
		        	  img{
		        	    width: 100rpx;
		        	    height:100rpx;
		        	  }
					  .right{
						  margin-left: 20rpx;
						  font-size: 28rpx;
					  }
		        	}
		        }
		    }
		}
		.win-menu{
		        height: 560rpx;
		        overflow: hidden;
		        ul{
		          position: relative;
		          top: 0;
		          li{
		            line-height: 90rpx;
		            .menu-item{
		              text-align: left;
		              width: 100%;
		              display: flex;
		              align-items: center;
					  padding-left: 20rpx;
		              img{
		                width: 44rpx;
		                height: 44rpx;
		                display: inline-block;
		                border-radius: 50%;
		                line-height: 90rpx;
		              }
		              span{
		                display: inline-block;
		                font-size: 30rpx;
		                color: #000000;
						margin-left: 20rpx;
		              }
		            }
		            p{
		              text-align: left;
		              margin: auto 0;
		              font-size: 30rpx;
		              color: #000000;
		              margin: 0 20rpx 0 20rpx;
		              background: #f7f7f7;
		              border-radius: 16rpx;
		              padding-left: 15rpx;
		            }
		          }
		        }
		    }
	}
	.activity{
		width: 100%;
		margin-top: 30rpx;
		.box{
			margin-bottom: 20rpx;
			image{
				width: 100%;
				height: 220rpx;
			}
		}
	}
	.red-box{
		position: fixed;
		right: 10rpx;
		bottom: 200rpx;
		width: 150rpx;
		height: 150rpx;
		image{
			width: 100%;
			height: 100%;
		}
	}
}