.order{
	.public_header{
		position: relative;
		.button{
			position: absolute;
			height: 100rpx;
			right: 20rpx;
			top: 0;
			line-height: 100rpx;
		}
	}
	.list{
		width: 100%;
		padding: 20rpx;
		.box{
			width: 100%;
			min-height: 218rpx;
			background: #ffffff;
			padding: 20rpx 30rpx;
			margin-top: 20rpx;
			.row{
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-top: 10rpx;
				font-size: 30rpx;
				.num{
					color: red;
				}
				.status1{
					color: #000000;
				}
				.status2{
					color: rgb(92, 184, 92);
				}
				.status3{
					color: red;
				}
			}
		}
		.tip{
			text-align: center;
			margin: 40rpx 0;
			color: #a0a3a3;
		}
	}
	.no-data{
		width: 100%;
		margin-top: 120rpx;
		text-align: center;
		p{
			margin-top: 30rpx;
		}
		image{
			height: 330rpx;
			width: 330rpx;
		}
	}
	.filter-box{
		.header{
			width: 100%;
			height: 90rpx;
			text-align: center;
			line-height: 90rpx;
			background: #FF5035;
			color: #ffffff;
		}
		
		.close{
			position: absolute;
			right: 20rpx;
			top: 20rpx;
		}
		.input{
			background: #ffffff;
			.row{
				height: 90rpx;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0 30rpx;
				font-size: 26rpx;
			}
		}
		.button{
			button{
				width: 100%;
				height: 90rpx;
				background: #FF5035;
				border: none;
				color: #ffffff;
				font-size: 28rpx;
				line-height: 90rpx;
			}
		}
	}
	.detail-box{
		position: relative;
		.header{
			width: 100%;
			height: 90rpx;
			text-align: center;
			line-height: 90rpx;
			background: #FF5035;
			color: #ffffff;
		}
		.bg{
			height: 66rpx;
			width: 100%;
			background: #FF5035;
			border-radius: 0 0 50% 50%;
			position: relative;
			margin-bottom: 70rpx;
			.img{
				position: absolute;
				width: 100%;
				left: 0;
				top: 0;
				text-align: center;
				image{
					width: 145rpx;
					height: 145rpx;
				}
			}
		}
		.name{
			color: #8e8e90;
			font-size: 48rpx;
			text-align: center;
			width: 100%;
			height: 110rpx;
			line-height: 110rpx;
		}
		.orderId{
			color: #8e8e90;
			font-size: 30rpx;
			text-align: center;
			width: 100%;
			height: 80rpx;
			line-height: 80rpx;
			span{
				color: #cd0005;
			}
		}
		.detail-content{
		    width: 100%;
		    position: relative;
		    table{
				width: 100%;
				tr{
					text-align: center;
		        td{
		            font-size: 30rpx;
		            border-bottom: 2rpx solid #e0e0dc;
		        }
		    }
		    .bttd{
				text-align: center;
		        background-color:#f2f2f0;
		        line-height: 96rpx;
		        border-bottom: 2rpx solid #e0e0dc;
		        outline: 0;
		        width: 160rpx;
		    }
		    }
		    .matches{
		        position: absolute;
		        right: -20rpx;
		        z-index: 2;
		        top: 100%;
		        margin-top: -185rpx;
		        image{
					width: 330rpx;
					height: 330rpx;
				}
		    }
		}
		.button{
			margin-top: 200rpx;
			padding: 0 40rpx;
			button{
				background: #FF5035;
				color: #ffffff;
				text-align: center;
				height: 100rpx;
				border: none;
				border-radius: 10rpx;
				font-size: 26rpx;
				line-height: 100rpx;
			}
		}
		.close{
			position: absolute;
			right: 20rpx;
			top: 20rpx;
		}
	}
}