.personal{
	.header{
		width: 100%;
		background: #FF5035;
		padding: 30rpx 20rpx;
		.info{
			width: 100%;
			display: flex;
			align-items: center;
			image{
				width: 100rpx;
				height: 100rpx;
				margin-right: 30rpx;
			}
			text{
				font-size: 38rpx;
				color: #ffffff;
			}
		}
		.money{
			height: 140rpx;
			width: 100%;
			border-radius: 20rpx;
			background: #ffffff;
			margin-top: 20rpx;
			font-weight: bold;
			display: flex;
			align-items: center;
			padding: 0 40rpx;
			justify-content: space-between;
		}
	}
	.money-operate{
		width: 100%;
		height: 100rpx;
		background: #ffffff;
		display: flex;
		border-bottom: 2rpx solid #c6c6c6;;
		.box{
			width: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #FF5035;
			font-weight: bold;
			&:nth-child(1){
				border-right: 2rpx solid #c6c6c6;
			}
		}
	}
	.record{
		width: 100%;
		padding: 30rpx;
		display: flex;
		align-items: center;
		justify-content: space-around;
		margin-top: 20rpx;
		background: #ffffff;
		.box{
			width: 130rpx;
			p{
				text-align: center;
				color: #666;
				font-size: 26rpx;
				&:nth-child(1){
					margin-bottom: 10rpx;
				}
			}
		}
	}
	.menu{
		width: 100%;
		background: #ffffff;
		margin-top: 40rpx;
		.list{
			width: 100%;
			height: 90rpx;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 30rpx;
			span{
				display: flex;
				align-items: center;
				
			}
		}
	}
	.button{
		padding: 0 50rpx;
		margin-bottom: 40rpx;
		button{
		  width: 100%;
		  height: 80rpx;
		  background: #FF5035;
		  color: #ffffff;
		  border-radius: 20rpx;
		  border: none;
				line-height: 80rpx;
				font-size: 28rpx;
		}
	}
	.uni-icons{
		margin-right: 10rpx;
	}
}