.shop{
	.container{
	    width: 100%;
	    text-align: center;
	    overflow-y: auto;
	    box-sizing: border-box;
	    .content{
	      display: flex;
	      align-items: center;
	      box-sizing: border-box;
	      flex-wrap: wrap;
	      .list{
	        width: 33.3%;
	        box-sizing: border-box;
	        background: #ffffff;
	        border-bottom: 2rpx solid #cccccc70;
	        image{
	          width: 112rpx;
	          height: 112rpx;
	          text-align: center;
	          margin-top: 20rpx;
	        }
	        span{
	          display: inline-block;
	          padding-top: 30rpx;
	          padding-bottom: 30rpx;
	          color: #666666;
	          font-size: 30rpx;
	        }
	      }
	    }
	  }
}