*{
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: -apple-system-font, Helvetica Neue, Arial, sans-serif;
  box-sizing: border-box;
}
li{
  list-style: none;
}
body{
  //background: #eee;
  overflow: auto;
}
.public-header{
  height: 44px;
  background: linear-gradient(to bottom, #070707 0%, #1e1d1d 100%);
  color: #ffffff;
  line-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  float: left;
  width: 100%;
  a{
    color: #ffffff;
    float: left;
    font-size: 25px;
    left: 8px;
    top: 0;
    position: absolute;
  }
  span{
    float: left;
    font-size: 18px;
  }
}
a{
  color: #000000;
}
i{
  font-style: normal;
}
a{
  text-decoration: none;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.van-popup{
  z-index: 99999!important;
}