@import "base";
.page_head{
  header{
    height: 60px;
    background: url("../../images/cajr-header-christmas.jpg") no-repeat top right;
    line-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    border-bottom: 1px solid #00ff72;
    z-index: 99999;
    width: 100%;
    .logo{
      width: 13.5rem;
      height: 5rem;
    }
    .icon{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
    }
    .left{
      left: 1rem;
    }
    .right{
      right: 1rem;
    }
  }
  .popup{
    .side-left, .side-right{
      height: 100%;
      background:url("../../images/menu-slide-bg.jpg") no-repeat;
      background-size: 100% 100%;
      color: #ffffff;
      .side-title{
        height: 5.8rem;
        width: 100%;
        float: left;
        padding: 10px;
        border-bottom: 1px solid #007bff;
        span{
          font-size: 1.9rem;
        }
        .side-user{
          height: 60px;
          display: flex;
          .vip-icon{
            width: 100px;
            img{
              width: 100%;
              height: 100%;
            }
          }
          .user-name{
            width: 100px;
            height: 100%;
            padding-top: 10px;
            p{
              font-size: 16px;
              &:nth-child(2){
                color: #00ff71;
                margin-top: 5px;
                font-size: 14px;
              }
            }
          }
          .go-out{
            width: 100px;
            padding-top: 15px;
            button{
              width: 60px;
              background: none;
              color: #fff;
              border: 1px solid #01fffd;
              font-size: 12px;
              text-transform: uppercase;
              font-weight: 500;
              padding: 6px 12px;
              border-radius: 5px;
              box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.65);
              cursor: pointer;
            }
          }
        }
        .money{
          width: 100%;
          height: 24px;
          background: #000000;
          text-align: center;
          line-height: 24px;
        }
      }
      .list{
        height: 5rem;
        display: flex;
        align-items: center;
        padding-left: 3rem;
        img{
          //border:1px solid #ffffff;
          border-radius: 50%;
          width: 3.5rem;
          height: 3.5rem;
        }
        span{
          margin-left: 1rem;
          font-size: 1.5rem;
        }
      }
      .contact-title {
        font-size: 26px;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 2px;
        .flex();
        height: 5rem;
        width: 100%;
        float: left;
      }
      .live-divider{
        width: 100%;
        float: left;
        height: 1rem;
        .flex();
        div {
          border: 1px solid #39b1f1;
          height: 5px;
          border-radius: 20px;
          box-shadow: 0px 0px 5px 0px rgba(35,162,229,1);
          width: 19rem;
          margin: 0 auto 8px;
        }
      }
      .live-support {
        font-size: 1.9rem;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase;
        .flex();
        height: 3rem;
        width: 100%;
        float: left;
      }
      .grd-dvd{
        width: 100%;
        float: left;
        margin-top: 5px;
        margin-bottom: 5px;
        height: 1px;
        background: linear-gradient(to right, rgba(173,131,229,1) 0%, rgba(24,139,200,1) 100%);
      }
      .icon{
        float: left;
        height: 100%;
        width: 20%;
        .flex();
      }
      .font{
        float: left;
        height: 100%;
        width: 70%;
        .top,.bottom{
          float: left;
          height: 45%;
          width: 100%;
        }
        .top{
          line-height: 3rem;
        }
        .bottom{
          color: #00baff;
        }
      }
    }
  }
}

