@import "base";
.page_foot{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 7.3rem;
  border-top: 1px solid #0fb3fa;
  z-index: 9999;
  .van-row {
    height: 100%;
    box-sizing: border-box;
    .van-col--6,.van-col--5{
      height: 100%;
      text-align: center;
      padding-top: 5px;
      font-size: 1.2rem;
      background: linear-gradient(to bottom, rgba(29,29,27,1) 0%, rgba(6,6,6,1) 100%);
      border-right: 1px solid #000;
      &:nth-child(5){
        border-right: none;
      }
      a{
        color: #c2c2c2;
      }
      img {
        width: 4rem;
      }
      .active{
        background: linear-gradient(to bottom, rgba(45,43,43,1) 0%, rgba(13,13,13,1) 100%)!important;
      }
    }
    .van-col--5{
      width: 20%;
    }
  }
}
