<template>
    <div class="dep-cont">
        <div class="table-head-navi">
            <div class="l"></div>
            <div class="r">
                <!-- 点击刷新数据 -->
                <button class="shadow us-record-navi-search" @click.prevent="getDatas">
                    <i class="iconfont icon-refresh"></i>
                </button>
            </div>
        </div>
        <div class="tables">
          <table class="table-style-1">
                <thead>
                    <tr>
                        <th>返佣金编号</th>
                        <th>返佣年月</th>
                        <th>活跃会员数</th>
                        <th>净利润</th>
                        <th>返佣比例</th>
                        <th>佣金</th>
                        <th>状态</th>
                        <th>创建时间</th>
                    </tr>
                </thead>
                <tbody v-if="Array.isArray(resultData) && resultData.length">
                    <tr v-for="(item,index) in resultData" :key="'us_agent_bonus_list_item_' + index">
                       <td>{{item.bid}}</td>
                       <td>{{item.returnMonth}}</td>
                       <td>{{item.usersCount}}</td>
                       <td>{{item.profit}}</td>
                       <td>{{item.scale}}</td>
                       <td>{{item.bonus}}</td>
                       <td :class="getStateFontColor(item.stateName)">{{item.stateName}}</td>
                       <td>{{item.dateTime}}</td>
                    </tr>
                </tbody>
                <tbody v-else>
                    <tr>
                        <td colspan="8" style="text-align: center;">暂无记录</td>
                    </tr>
                </tbody>
          </table>
          <!-- 分页 -->
          <el-pagination 
              v-if="pageCount"
              layout="total,prev,pager,next,jumper"
              :page-size="pageSize"
              :page-count="pageCount"
              :total="resultCount"
              :current-page="pageIndex"
              @current-change="shieldpageChange"
          ></el-pagination>
        </div>
    </div>
</template>
<script>
/**
 * @description 个人中心 - 代理商中心 - 佣金列表
 */
export default {
    created(){
        /* 请求数据 */
        this.getDatas()
    },
    data(){
        return {
            request:false,
            pageIndex:1,
            pageSize:5,
            pageCount:false,                        /* 总页数（同时控制是否显示分页器） */
            resultCount:false,                      /* 结果条数 */
            resultData:false,
        }
    },
    methods:{
        /* 刷新数据 */
        getDatas:function(){
            /* 防抖 */
            if(this.request)    return false
            this.request = true
            const loading = this.$loading.service({lock: true,background: 'rgba(0, 0, 0, 0.7)'})

            this.$http.post('api/Member/GetUnionBonusList',{
                pageIndex: this.pageIndex,
                pageSize: this.pageSize,
            }).then(response => {
                this.request = false
                loading.close()

                const {resultCode,resultData} = response.data

                if(resultCode == 1){
                    const {unionBonusList,page} = resultData

                    /* 解析分页 */
                    const {pageCount,pageRecord} = page
                    this.pageCount = pageCount
                    this.resultCount = pageRecord

                    this.resultData = Array.isArray(unionBonusList) && unionBonusList.length ? unionBonusList : false
                }
            })

        },
        /* 返回状态区域字体颜色 */
        getStateFontColor:function(stateName){
            switch(stateName){
                case '未结算':
                    return 'red'
                case '已结算':
                    return 'green'
            }
        },
        /* 页数变更 */
        shieldpageChange:function(page){
            this.pageIndex = page
            this.getDatas()
        },
    }
}
</script>