<template>
    <div class="dep-cont">
        <p class="msg"><i class="iconfont icon-laba"></i> 友情提醒：请正确填写下级会员的账户、密码及昵称</p>
        <div class="list" @keyup.13.prevent="shieldSubmit" >
            <div class="item">
                <div class="l">
                    <span class="red">* </span>会员账户：
                </div>
                <div class="r">
                    <p class="msg"><i class="iconfont icon-lightbulb-on-outline"></i>由5-12个字母加数字组成，字母开头</p>
                    <input maxlength="20" placeholder="请输入会员账户" class="txt" v-model.trim="username" ref="username" >
                </div>
            </div>
            <div class="item">
                <div class="l">
                    <span class="red">* </span>会员登录密码：
                </div>
                <div class="r">
                    <p class="msg"><i class="iconfont icon-lightbulb-on-outline"></i>由6-16个字母加数字组成，区分大小写</p>
                    <input type="password" maxlength="20" placeholder="请输入会员登录密码" class="txt" v-model.trim="password" ref="password" >
                </div>
            </div>
            <div class="item">
                <div class="l">
                    会员昵称：
                </div>
                <div class="r">
                    <input maxlength="20" placeholder="请输入会员昵称" class="txt" v-model.trim="accountName" ref="accountName" >
                </div>
            </div>
            <div class="item" style="margin:2rem 0;" >
                <div class="l"></div>
                <div class="r">
                    <button class="shadow" @click.prevent="shieldSubmit">提交</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
/**
 * @description 个人中心 - 代理商中心 - 开下级会员
 */
import md5 from 'js-md5'
export default {
    data(){
        return {
            request:false,
            username:'',
            password:'',
            accountName:'',
        }
    },
    computed:{
        USERINFO:function(){
            return this.$store.state.USERINFO
        }
    },
    methods:{
        /* 检查表单 */
        shieldSubmit:function(){

            /* 防抖 */
            if(this.request)    return false

            if(!this.username){
                this.$message({message:'会员账户不得为空',type:'error',showClose:true})
                this.$refs.username.focus()
            }else if(!/^[A-Za-z]{1}[A-Za-z0-9]{4,11}$/.test(this.username)){
                this.$message({message:'会员账户由5-12个字母加数字组成，字母开头',type:'error',showClose:true})
                this.$refs.username.focus()
            }else if(!this.password){
                this.$message({message:'会员登录密码不得为空',type:'error',showClose:true})
                this.$refs.password.focus()
            }else if(!/^[A-Za-z0-9]{6,16}$/.test(this.password)){
                this.$message({message:'会员登录密码由6-16个字母加数字组成，区分大小写',type:'error',showClose:true})
                this.$refs.password.focus()
            }else{

                this.request = true
                const loading = this.$loading.service({lock: true,background: 'rgba(0, 0, 0, 0.7)'})

                this.$http.post('api/Member/CreateSubUser',{
                    subUserID:this.username,
                    name:this.accountName,
                    password:md5(md5(this.password)),
                }).then(response => {
                    this.request = false
                    loading.close()
                    const {message,resultCode} = response.data
                    if(resultCode == 1){
                        /* 成功提示 */
                        this.$message({message,type:'success',showClose:true})
                        /* 跳转至列表页 */
                        this.$router.push({name:'usAgentMemberList'})
                    }
                })
            }
        }
    }
}
</script>