<template>
    <div class="dep-cont">
        <div class="table-head-navi">
            <div class="l"></div>
            <div class="r">
                <!-- 点击刷新数据 -->
                <button class="shadow us-record-navi-search" @click.prevent="getDatas">
                    <i class="iconfont icon-refresh"></i>
                </button>
            </div>
        </div>
        <table class="table-style-1">
            <thead>
                <tr>
                    <th>ID</th> 
                    <th>总存款</th> 
                    <th>注册时间</th> 
                    <th></th>
                </tr>
            </thead>
            <tbody v-if="Array.isArray(resultData) && resultData.length">
                <tr v-for="(item,index) in resultData" :key="'recommend_friend_list_item' + index">
                    <td>{{item.userID}}</td>
                    <td>{{item.balance || ''}}</td>
                    <td>{{item.registerTime || ''}}</td>
                    <td>
                        <span class="like-a" @click.prevent="depositToMember(item.userID)">会员充值</span>
                    </td>
                </tr>
            </tbody>
            <tbody v-else>
                <tr>
                    <td colspan="5" style="text-align: center;">暂无记录</td>
                </tr>
            </tbody>
        </table>
        <!-- 分页 -->
        <el-pagination 
            v-if="pageCount"
            layout="total,prev,pager,next,jumper"
            :page-size="pageSize"
            :page-count="pageCount"
            :total="resultCount"
            :current-page="pageIndex"
            @current-change="shieldpageChange"
        ></el-pagination>
    </div>
</template>
<script>
/**
 * @description 个人中心 - 代理商中心 - 下级会员列表
 */
export default {
    created(){
        /* 请求数据 */
        this.getDatas()
        /* 监听interactive组件发来的刷新数据请求 */
        const _this = this
        window.eventBus.$on('refreshAgentMember',()=>{
            _this.getDatas()
        })
    },
    data(){
        return {
            request:false,
            pageIndex:1,
            pageSize:5,
            pageCount:false,                        /* 总页数（同时控制是否显示分页器） */
            resultCount:false,                      /* 结果条数 */
            resultData:false,
        }
    },
    methods:{
        /* 刷新数据 */
        getDatas:function(){
            /* 防抖 */
            if(this.request)    return false
            this.request = true
            const loading = this.$loading.service({lock: true,background: 'rgba(0, 0, 0, 0.7)'})

            this.$http.post('api/Member/GetRecommendInfoList',{
                pageIndex: this.pageIndex,
                pageSize: this.pageSize,
            }).then(response => {
                this.request = false
                loading.close()

                const {resultCode,resultData} = response.data

                if(resultCode == 1){
                    const {recommendInfoList,page} = resultData

                    /* 解析分页 */
                    const {pageCount,pageRecord} = page
                    this.pageCount = pageCount
                    this.resultCount = pageRecord

                    this.resultData = Array.isArray(recommendInfoList) && recommendInfoList.length ? recommendInfoList : false
                }
            })

        },
        /* 页数变更 */
        shieldpageChange:function(page){
            this.pageIndex = page
            this.getDatas()
        },
        /* 为下级会员充值 */
        depositToMember:function(memberID){
            this.$store.commit('setInterActive',{
                name:'agentMemberDeposit',
                data:{
                    memberID
                }
            })
        },
    },
    beforeDestory(){
        window.eventBus.$off('refreshAgentMember')
    },
}
</script>