<template>
    <div class="dep-cont">
        <div class="table-head-navi">
            <div class="l">
                <!-- 日期选择器 充值记录、提现记录、优惠记录 -->
                <el-date-picker
                    type="daterange"
                    range-separator="至"
                    start-placeholder="开始日期"
                    end-placeholder="结束日期"
                    size="small"
                    v-model="elDate"
                    value-format="yyyy-MM-dd"
                    @change="shieldFilterChange"
                ></el-date-picker>
                <!-- 分隔 -->
                <span class="f"></span>
                <!-- 状态 投注记录  -->
                <el-select v-model="status_type" size="mini" @change="shieldFilterChange" >
                    <el-option
                        v-for="(item,index) in status"
                        :key="'agentOrderNaviStatus1'+ index"
                        :value="item.code"
                        :label="item.text"
                    >{{item.text}}</el-option>
                </el-select>
                <!-- 状态 开奖状态 -->
                <el-select v-model="status2_type" size="mini" @change="shieldFilterChange" >
                    <el-option
                        v-for="(item,index) in status2"
                        :key="'agentOrderNaviStatus2'+ index"
                        :value="item.code"
                        :label="item.text"
                    >{{item.text}}</el-option>
                </el-select>
            </div>
            <div class="r">
                <!-- 搜索框 -->
                <el-input placeholder="搜索投注人" :style="{fontSize:'12px',color:'#B5BDCE'}" v-model="subUserID"></el-input>
                <!-- 点击刷新数据 -->
                <button class="shadow us-record-navi-search" @click.prevent="getDatas">
                    <i class="iconfont icon-search"></i>
                </button>
            </div>
        </div>
        <div class="tables">
          <table class="table-style-1">
            <thead>
              <tr>
                <th>订单号</th>
                <th width="150">投注人</th>
                <th>注单明细（赛事/队伍/盘口/赔率/开赛时间）</th>
                <th>下注金额</th>
                <th>结算金额</th>
                <th>订单状态</th>
                <th>结算状态</th>
                <th>下注时间</th>
              </tr>
            </thead>
            <tbody v-if="Array.isArray(resultData) && resultData.length">
                <tr v-for="(item,index) in resultData" :key="'us_agent_order_list_item_' + index">
                    <td @click.prevent="$helper.copyHandle(item.bid,'复制订单号成功')">
                        <span style="display:inline-block; vertical-align:middle; margin-right:.5rem; " >
                            <label class="icon-win" v-if="item.isWin"></label>
                            <label class="icon-lose" v-else ></label>
                        </span> 
                        <span title="点击复制订单号" style="display:inline-block; vertical-align:middle; cursor: pointer;">{{item.bid}}</span>
                    </td> 
                    <td>{{item.userID || ''}}</td>
                    <td v-html="getOrderDetail(item.betsDetails)"></td> 
                    <td>{{item.money}}</td> 
                    <td v-html="getWinMoney(item.winMoney)"></td> 
                    <td><span :class="getFontColorForStateName(item.betStateName)">{{item.betStateName}}</span></td> 
                    <td>{{item.openStateName}}</td> 
                    <td>{{item.betDateTime}}</td>
                </tr>
            </tbody>
            <tbody v-else>
                <tr>
                    <td colspan="8" style="text-align: center;">暂无记录</td>
                </tr>
            </tbody>
          </table>
          <!-- 分页 -->
          <el-pagination 
              v-if="pageCount"
              layout="total,prev,pager,next,jumper"
              :page-size="pageSize"
              :page-count="pageCount"
              :total="resultCount"
              :current-page="pageIndex"
              @current-change="shieldpageChange"
          ></el-pagination>
        </div>

    </div>
</template>
<script>
/**
 * @description 个人中心 - 代理商中心 - 下级会员投注记录
 */
export default {
    created(){
        /* 请求数据 */
        this.getDatas()
    },
    data(){
        return {
            /* 搜索id */
            subUserID:'',
            /* 投注记录 */
            status: [
                { code: '', text: "订单状态"},
                { code: 0, text: "取消"},
                { code: 1, text: "成功"}
            ],
            status_type: '',
            /* 开奖状态 */
            status2: [
                { code: '', text: "开奖状态"},
                { code: 0, text: "未开奖"},
                { code: 1, text: "已开奖"}
            ],
            status2_type: '',
            /* 公共头部 用日期 */
            elDate:[
                this.$helper.getPastDate(),
                this.$helper.getNowDate(),
            ],
            request:false,                          /* 请求状态 */
            pageIndex:1,
            pageSize:5,
            pageCount:false,                        /* 总页数（同时控制是否显示分页器） */
            resultCount:false,                      /* 结果条数 */
            resultData:false,
        }
    },
    methods:{
        /* 请求数据 */
        getDatas:function(){
            /* 防抖 */
            if(this.request)    return false

            this.request = true
            const loading = this.$loading.service({lock: true,background: 'rgba(0, 0, 0, 0.7)'})

            this.$http.post('api/Member/GetSubUserBetsList',{
                subUserID:this.subUserID,
                startDate:this.elDate[0],
                endDate:this.elDate[1],
                betState:this.status_type,
                openState:this.status2_type,
                pageIndex:this.pageIndex,
                pageSize:this.pageSize
            }).then(response => {
                this.request = false
                loading.close()

                const {resultCode,resultData} = response.data

                if(resultCode == 1){
                    const {userBetsList,page} = resultData

                    /* 解析分页 */
                    const {pageCount,pageRecord} = page
                    this.pageCount = pageCount
                    this.resultCount = pageRecord

                    const resultData2 = []

                    /* 赋值数据 */
                    if(Array.isArray(userBetsList) && userBetsList.length){
                        userBetsList.map(item => {
                        /* 根据结算金额计算投注胜负状态 */
                            item.isWin = item.winMoney ? true : false
                            resultData2.push(item)
                        })
                    }
                    this.resultData = Array.isArray(resultData2) && resultData2.length ? resultData2 : false
                }
                
            })

        },
        /* 返回开奖状态字体颜色 */
        getFontColorForStateName:function(stateName){
            switch(stateName){
                case '成功':
                    return 'green'
                case '取消':
                    return 'red'
            }
        },
        /* 返回结算金额区域HTML */
        getWinMoney:function(winMoney){
            if(winMoney){
                return `<span>${winMoney}</span>`
            }else{
                return `<span class="red">${winMoney}</span>`
            }
        },
        /* 返回注单明细区域html */    
        getOrderDetail:function(betsDetails){
            const userBetsDetailsList = betsDetails || []
            const getHTML = userBetsDetails => {
                /* 比赛名称 / 队伍名称 / 玩法 / 玩法分类 / 获胜队伍 /  赔率 / 比赛时间 / 比赛logo */
                const {matchName = '',team='',playName='',playSortName='',oddsName = '', odds='',matchDateTime = '',egameLogo='' } = userBetsDetails
                return `
                <div style="margin:1rem 0;">
                    <p><img src="${egameLogo}" style="width:20px;height:20px;margin-right:1rem;"/>${matchName}</p>
                    <p class='white'>${team}</p>
                    <p>${playSortName} - ${playName}</p>
                    <p>${oddsName} <span class="mcolor">@${odds}</p>
                    <p>${matchDateTime}</p>
                </div>
                `
            }
            let result = ''
            if(Array.isArray(userBetsDetailsList) && userBetsDetailsList.length){
                if(userBetsDetailsList.length >= 2){
                result = `
                    <div>
                    <p>类型：${userBetsDetailsList.length}串1</p>
                    </div>
                `
                }
                userBetsDetailsList.map(item => {
                    result += getHTML(item)
                })
            }
            return result
        },
        /* 页数变更 */
        shieldpageChange:function(page){
            this.pageIndex = page
            this.getDatas()
        },
        /* 筛选条件变更 */
        shieldFilterChange:function(){
            this.pageIndex = 1
            this.getDatas()
        },
    }
}
</script>