@import "include/base";
.sport{
  p{
    min-height: 18px;
    white-space: nowrap;
  }
  header{
    height: 68px;
    width: 100%;
    background: #503f32;
    display: flex;
    align-items: center;
    span{
      display: inline-block;
      padding: 0 10px;
      color: #968c84;
      cursor: pointer;
    }
    .active{
      color: #c3a45e;
    }
  }
  .nav{
    height: 150px;
    width: 100%;
    background: url("../images/bg_ft_league.jpg") no-repeat;
    background-size: 100% 100%;
    .top{
      height: 60px;
      //padding: 0 10px;
      display: inline-block;
      div{
        padding-top: 10px;
        span{
          width: 70px;
          display: inline-block;
          text-align: center;
          img{
            width: 30px;
          }
        }
      }
      .icon{
        height: 30px;
        cursor: pointer;
        span{
          height: 100%;
          transition: .5s;
          &:hover{
            transform: scale(1.2);
          }
        }
      }
      .font{
        height: 20px;
        span{
          height: 100%;
        }
      }
    }
    .bottom{
      height: 60px;
      text-align: center;
      padding-top: 15px;
      position: relative;
      .trophy{
        position: absolute;
        right: 10px;
        top: 30px;
      }
      .out{
        position: absolute;
        left: 10px;
        top: 30px;
      }
    }
  }
  .select-play{
    height: 60px;
    background: #ffffff;
    .flex();
    button{
      margin: 0 10px;
      padding: 12px 16px;
      border:1px solid #adadad;
      border-radius: 5px;
      background: none;
      cursor: pointer;
      &:hover{
        border: 1px solid #a78025;
        color: #a78025;
      }
    }
    .active{
      border: 1px solid #a78025;
      color: #a78025;
    }
  }
  .content{
    .box{
      background: #ffffff;
      //padding-bottom: 10px;
      position: relative;
      .title{
        height: 47px;
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #ededed;
        span{
          font-weight: 600;
        }
      }
      .team-line{
        margin: 10px 0;
        padding-left: 15px;
        b{
          color: #a78025;
        }
        span{
          margin-left: 10px;
          margin-right: 10px;
        }
      }
      .data{
        padding: 0 15px;
        .team{
          width: 50%;
          display: inline-block;
          .list{
            height: 47px;
            margin-bottom: 7px;
            line-height: 47px;
            .label{
              color: #19805c;
              font-weight: 600;
              margin-left: 5px;
            }
            .number{
              color: #c0a362;
              font-weight: 600;
              margin-right: 20px;
            }
          }
        }
      }
      .bet-number{
        display: inline-block;
        width: 50%;
        overflow-x: auto;
        overflow-y: hidden;
        position: absolute;
        .list{
          width: 100%;
          white-space: nowrap;
          height: 47px;
          margin-bottom: 7px;
          line-height: 47px;
          span{
            margin: 0 7px;
          }
          .bet-title{
            display: inline-block;
            width: 64px;
            text-align: center;
            line-height: 64px;
            height: 100%;
          }
          .button{
            display: inline-block;
            height: 47px;
            width: 64px;
            text-align: center;
            border:1px solid #c2c2c2;
            border-radius: 5px;
            padding-top: 5px;
            box-sizing: border-box;
            p{
              line-height: 18px;
              &:nth-child(2){
                color: #c8250a;
                font-weight: 600;
              }
            }
            &:hover{
              background: #c3a45e;
              color: #ffffff;
            }
          }
        }
        .active{
          background: #c3a45e;
          color: #ffffff;
        }
      }
      .bet-button-bodan{
        width: 100%;
        .button-box{
          width: 33%;
          padding: 0 10px;
          display: inline-block;
          box-sizing: border-box;
          .button{
            display: inline-block;
            height: 47px;
            width: 100%;
            text-align: center;
            border:1px solid #c2c2c2;
            border-radius: 5px;
            padding-top: 5px;
            box-sizing: border-box;
            margin-top: 10px;
            cursor: pointer;
            p{
              line-height: 18px;
              &:nth-child(2){
                color: #c8250a;
                font-weight: 600;
              }
            }
            &:hover{
              background: #c3a45e;
              color: #ffffff;
            }
          }
        }
      }
      .all{
        background: #ededed;
        .all-header{
          background: #ffffff;
          width: 100%;
          height: 48px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0 15px;
          border-bottom: 1px solid #c8c8c8;
          border-top: 1px solid #c8c8c8;
          box-sizing: border-box;
          button{
            border-radius: 25px;
            border: 1px solid #c8c8c8;
            background: none;
            padding: 5px 8px;
            margin-right: 10px;
            cursor: pointer;
          }
          .active{
            background: #a78025;
            border: 1px solid #a78025;
            color: #ffffff;
          }
        }

        .all-title{
          padding: 10px 0;
          text-align: center;
          cursor: pointer;
          span{
            font-size: 16px;
            margin-left: 20px;
          }
          .active{
            color: #a78025;
            font-weight: 600;
          }
        }
        .all-button{
          margin-top: 10px;
          padding: 0 15px;
          .list{
            //display: flex;
            //justify-content: space-between;
            text-align: center;
            margin-top: 10px;
            .button{
              display: inline-block;
              height: 47px;
              width: 170px;
              text-align: center;
              border:1px solid #c2c2c2;
              border-radius: 5px;
              padding-top: 5px;
              box-sizing: border-box;
              background: #ffffff;
              margin-left: 10px;
              margin-top: 10px;
              cursor: pointer;
              p{
                line-height: 18px;
                &:nth-child(2){
                  color: #c8250a;
                  font-weight: 600;
                }
              }
            }
          }
          .active{
            background: #c3a45e!important;
            color: #ffffff;
          }
        }
      }
      .team-date{
        .list{
          padding: 0 15px;
          display: flex;
          justify-content: space-between;
          font-size: 16px;
          .number{
            color: #c0a362;
            font-weight: 600;
            margin-right: 20px;
          }
          .label{
            color: #19805c;
            font-weight: 600;
          }
          p{
            margin-top: 10px;
          }
        }
      }
      .bet-button{
        margin-top: 20px;
        padding: 0 15px;
        .button-box{
          width: 33%;
          display: inline-block;
          margin-top: 10px;
          .button{
            width: 80%;
            height: 47px;
            text-align: center;
            border:1px solid #c2c2c2;
            border-radius: 5px;
            padding-top: 5px;
            box-sizing: border-box;
            background: #ffffff;
            margin: 0 auto;
            p{
              line-height: 18px;
              &:nth-child(2){
                color: #c8250a;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }
  .bet-box{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 240px;
    background: #ffffff;
    border-top: 1px solid #a0a3a3;
    padding: 10px 10px 0 10px;
    box-sizing: border-box;
    overflow: auto;
    padding-bottom: 50px;
    .close{
      position: fixed;
      right: 10px;
      bottom:400px;
    }
    p{
      margin: 7px 0;
      font-size: 14px;
      text-align: center;
      .odds{
        color: #c8250a;
        font-weight: 600;
      }
      input{
        height:40px;
        width: 100%;
        padding-left: 10px;
        line-height:40px;
        box-sizing: border-box;
        margin-top: 20px;
      }
    }
    button{
      position: fixed;
      bottom: 0;
      right: 0;
      left: 0;
      height: 55px;
      background: #a78025;
      border:none;
      color: #ffffff;
      font-size: 16px;
    }
  }
  .nation{
    .nation-list{
      width: 100%;
      .nation-box{
        .nation-box-team{
          font-size: 12px;
          margin-left: 5px;
          color: #969799;
        }
      }
      .title{
        height:50px;
        background: #ededed;
        line-height:50px;
        padding-left: 20px;
        color: #c3a45e;
      }
      .list{
        min-height:50px;
        line-height:50px;
        padding-left: 20px;
      }
    }
  }
  .tip{
    height: 100px;
    .flex();
    color: #a0a3a3;
    font-size: 16px;
    cursor: pointer;
    transition: .5s;
    &:hover{
      color: #503f32;
    }
  }
  .ber-number-box{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 56px;
    background: #503f32;
    .flex();
    .box{
      height: 100%;
      background: #a78025;
      width: 128px;
      padding-top: 5px;
      box-sizing: border-box;
      p{
        color: #ffffff;
        text-align: center;
        &:nth-child(1){
          font-size: 20px;
        }
      }
    }
  }
  @media screen and (min-width: 600px) {
    header span{
      font-size: 16px!important;
    }
    .nav{
      height: 140px;
      .bottom span:nth-child(1){
        font-size: 16px;
      }
    }
    .nav .bottom span:nth-child(3){
      font-size: 18px;
    }
    .bet-title{
      width: 84px!important;
    }
    .nation{
      padding: 0 10px;
      .title{
        font-size: 13px;
      }
      .nation-box{
        width: 100%;
        display: inline-block;
        .nation-box-team{

        }
      }
      .list{
        padding-left: 20px!important;
        font-size: 16px;
        cursor: pointer;
        transition: .5s;
        &:hover{
          color: #c3a45e;
          font-weight: 600;
        }
      }
    }
    .team{
      width: 20%!important;
    }
    .bet-number{
      width: 70%!important;
      text-align: center;
      cursor: pointer;
      .button{
        width: 84px!important;
      }
    }
    #go-out{
      display: none;
    }
    .button-box{
      width: 20%!important;
    }
  }
}
