<template>
    <div>
        <head_nav></head_nav>
        <!-------------------------------------------------头部 start---------------------------------------------------------->
        <div class="member">
            <div class="container">
                <slide_left></slide_left>
                <div class="slide-right">
                    <div class="user-title">{{$store.state.escapeList[242]}}明细</div>
                    <div class="user-main">
                        <ul class="searchFirst">
                            <li id="lotteryClassify">
                                <span>类型：</span>
                                <el-select v-model="Inquiry.type" filterable  @change="getRecord('new')"  placeholder="账变类型">
                                    <el-option label="全部账变" value=""></el-option>
                                    <el-option  v-for="(item, index) in typeList" :key="index" :label="item" :value="index"></el-option>
                                </el-select>
                            </li>
                            <li class="inquiry-button">
                                <span>时间：</span>
                                <a href="javascript:void(0)" :class="{active:timeIndex == 0}" @click="timeIndex = 0, getRecord('new')">今天</a>
                                <a href="javascript:void(0)" :class="{active:timeIndex == 7}" @click="timeIndex = 7, getRecord('new')">七天</a>
                                <a href="javascript:void(0)" :class="{active:timeIndex == 30}" @click="timeIndex = 30, getRecord('new')">三十天</a>
                            </li>
                        </ul>
                        <div class="searchDetail">
                            <table>
                                <thead>
                                <tr>
                                    <th>日期</th>
                                    <th>交易类别</th>
                                    <th>{{$store.state.escapeList[119]}}</th>
                                    <th>{{$store.state.escapeList[120]}}</th>
                                    <th>{{$store.state.escapeList[121]}}</th>
                                    <th>备注</th>
                                </tr>
                                </thead>
                                <tbody v-show="Data.length">
                                    <tr v-for="(item, index) in Data" :key="index">
                                        <td>{{$root.common.getMyDate(item.createDatetime)}}</td>
                                        <td>{{typeList[item.type]}}</td>
                                        <td >{{item.beforeMoney}}</td>
                                        <td style="color: blue">{{item.money}}</td>
                                        <td style="color: red">{{item.afterMoney}}</td>
                                        <el-tooltip v-if="String(item.remark).length > 20" class="item" effect="dark" :content="item.remark" placement="top">
                                            <td>{{item.remark.substring(0,10)}}...</td>
                                        </el-tooltip>
                                        <td v-else>{{item.remark}}</td>
                                    </tr>
                                </tbody>
                                <tbody v-show="Data.length == 0">
                                <tr>
                                    <td colspan="100">暂无记录</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="block">
                                <el-pagination
                                        @prev-click="pageClick(Inquiry.page - 1)"
                                        @next-click="pageClick(Inquiry.page + 1)"
                                        @current-change="handleCurrentChange"
                                        :current-page.sync="Inquiry.page"
                                        :page-size="Inquiry.rows"
                                        layout="prev, pager, next"
                                        :total="total">
                                </el-pagination>
                            </div>
                        </div>
                        <div class="userTip"><p><i class="el-icon-warning"></i>温馨提示：{{$store.state.escapeList[123]}}最多可保存30天。</p></div>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------------------------------------底部 start------------------------------------------------------>
        <foot_nav></foot_nav>
    </div>
</template>

<script>
    import '@/assets/css/member.less'
    import head_nav from '@/components/include/head_nav'
    import foot_nav from  '@/components/include/foot_nav'
    import slide_left from  '@/components/center/slideLeft'
    import {http_ajax} from '@/assets/js/resource'
    export default {
        name: "accountDetail",
        components:{
            head_nav,foot_nav,slide_left
        },
        data(){
            return{
                Inquiry:{
                    page:1,
                    rows:10,
                    type:''
                },
                total:1,
                timeIndex:0,
                Data:'',
                typeList:''
            }
        },
        created:function(){
        },
        mounted:function(){
            this.getRecordType()
            this.getRecord()
        },
        methods: {
            handleCurrentChange: function (val) {
                this.pageClick(val)
            },
            // 查询账变记录
            getRecord: function (newPage) {
                if(newPage == 'new') this.Inquiry.page = 1
                let time = this.$root.common.dataSearch(this.timeIndex)
                this.Inquiry.startTime = time.startTime
                this.Inquiry.endTime = time.endTime
                http_ajax('get', 'native/mnyrecordlist.do', this.Inquiry, true, '.searchDetail').then(res => {
                    this.Data = res.list
                    this.total  = res.totalCount
                })
            },
            // 查询账变类型
            getRecordType: function () {
                http_ajax('get', 'native/getMnyrecordType.do', this.Inquiry, true, '.searchDetail').then(res => {
                    this.typeList = res
                })
            },
            pageClick: function (page) {
                this.Inquiry.page = page
                this.getRecord()
            },
        }
    }
</script>

<style lang="less" scoped>
    .el-select{
        width: 160px!important;
    }
</style>
