<template>
    <div>
        <head_nav></head_nav>
        <!-------------------------------------------------头部 start---------------------------------------------------------->
        <div class="member">
            <div class="container">
                <slide_left></slide_left>
                <div class="slide-right">
                    <div class="user-title">消息中心</div>
                    <div class="user-main" v-html="notice"></div>
                </div>
            </div>
        </div>
        <!------------------------------------------------------底部 start------------------------------------------------------>
        <foot_nav></foot_nav>
    </div>
</template>

<script>
    import '@/assets/css/member.less'
    import head_nav from '@/components/include/head_nav'
    import foot_nav from  '@/components/include/foot_nav'
    import slide_left from  '@/components/center/slideLeft'
    import {http_ajax} from '@/assets/js/resource'
    export default {
        name: "message",
        components:{
            head_nav,foot_nav,slide_left
        },
        data(){
            return{
                notice:''
            }
        },
        created:function(){
        },
        mounted:function(){
            this.getNotice()
        },
        methods: {
            getNotice: function () {
                let params = {
                    code :24
                }
                http_ajax('get', 'native/notice.do', params, true, '.user-main').then(res => {
                    if(res.success){
                        this.notice = res.content
                    }
                })
            },
        }
    }
</script>

<style lang="less" scoped>
    .user-main{
        padding: 20px;
    }
    .statusShow{
        color:#fff;border-radius:3px;padding:3px 5px;
    }
</style>