<template>
  <div>
    <head_nav></head_nav>
    <!-------------------------------------------------头部 start---------------------------------------------------------->
    <div class="member">
      <div class="container">
        <slide_left></slide_left>
        <div class="slide-right">
          <div class="user-title">{{ $store.state.escapeList[242] }}明细</div>
          <div class="user-main">
            <ul class="searchFirst">
              <li id="lotteryClassify">
                <span>类型：</span>
                <el-select v-model="type" filterable @change="getRecord('new')"
                           :placeholder="$store.state.escapeList[210]">
                  <el-option :label="$store.state.escapeList[210]" value="comrd.do"></el-option>
                  <el-option :label="$store.state.escapeList[211]" value="drawrd.do"></el-option>
                </el-select>
              </li>
              <li class="inquiry-button">
                <span>时间：</span>
                <a href="javascript:void(0)" :class="{active:timeIndex == 0}" @click="timeIndex = 0, getRecord('new')">今天</a>
                <a href="javascript:void(0)" :class="{active:timeIndex == 7}" @click="timeIndex = 7, getRecord('new')">七天</a>
                <a href="javascript:void(0)" :class="{active:timeIndex == 30}"
                   @click="timeIndex = 30, getRecord('new')">三十天</a>
              </li>
            </ul>
            <div class="searchDetail">
              <table>
                <thead>
                <tr>
                  <th>日期</th>
                  <th>交易类别</th>
                  <th>支付名称</th>
                  <th>交易额度</th>
                  <th>状态</th>
                  <th>订单号</th>
                </tr>
                </thead>
                <tbody v-show="Data && type == 'comrd.do'">
                <tr v-for="(item, index) in Data" :key="index">
                  <td>{{ $root.common.getMyDate(item.createDatetime) }}</td>
                  <td>{{ typeList[item.type] }}</td>
                  <td>{{ item.payName }}</td>
                  <td style="color: red">{{ item.money }}</td>
                  <td v-html="prizeStatus(item.status)"></td>
                  <td>{{ item.orderNo }}</td>
                </tr>
                </tbody>
                <tbody v-show="Data && type == 'drawrd.do'">
                <tr v-for="(item, index) in Data" :key="index">
                  <td>{{ $root.common.getMyDate(item.createDatetime) }}</td>
                  <td>{{ typeList[item.type] }}</td>
                  <td>{{ item.bankName }}</td>
                  <td style="color: red">{{ item.trueMoney }}</td>
                  <td v-html="prizeStatus(item.status)"></td>
                  <td>{{ item.orderNo }}</td>
                </tr>
                </tbody>
                <tbody v-show="Data.length == 0">
                <tr>
                  <td colspan="100">暂无记录</td>
                </tr>
                </tbody>
              </table>
              <div class="block">
                <el-pagination
                    @prev-click="pageClick(Inquiry.page - 1)"
                    @next-click="pageClick(Inquiry.page + 1)"
                    @current-change="handleCurrentChange"
                    :current-page.sync="Inquiry.page"
                    :page-size="Inquiry.rows"
                    layout="prev, pager, next"
                    :total="total">
                </el-pagination>
              </div>
            </div>
            <div class="userTip"><p><i class="el-icon-warning"></i>温馨提示：{{$store.state.escapeList[123]}}最多可保存30天。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!------------------------------------------------------底部 start------------------------------------------------------>
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import '@/assets/css/member.less'
import head_nav from '@/components/include/head_nav'
import foot_nav from '@/components/include/foot_nav'
import slide_left from '@/components/center/slideLeft'
import {http_ajax} from '@/assets/js/resource'

export default {
  name: "businessDetail",
  components: {
    head_nav, foot_nav, slide_left
  },
  data() {
    return {
      Inquiry: {
        page: 1,
        rows: 10,
        account: this.$store.state.userInfo.account
      },
      total: 1,
      timeIndex: 0,
      Data: '',
      type: 'comrd.do',
      typeList: ''
    }
  },
  created: function () {
  },
  mounted: function () {
    this.getRecordType()
  },
  methods: {
    handleCurrentChange: function (val) {
      this.pageClick(val)
    },
    // 查询账变记录
    getRecord: function (newPage) {
      if (newPage == 'new') this.Inquiry.page = 1
      let time = this.$root.common.dataSearch(this.timeIndex)
      this.Inquiry.startTime = time.startTime
      this.Inquiry.endTime = time.endTime
      this.$route.query.type ? this.type = this.$route.query.type : this.type
      http_ajax('get', 'native/' + this.type, this.Inquiry, true, '.searchDetail').then(res => {
        this.Data = res.list
        this.total = res.totalCount
      })
    },
    pageClick: function (page) {
      this.Inquiry.page = page
      this.getRecord()
    },
    prizeStatus: function (status) {
      let that = this
      switch (status) {
        case 1:
          return '<span style="color: blue">处理中</span>';
        case 2:
          return '<span style="color: green">' + that.$store.state.escapeList[17] + '成功</span>';
        case 3:
          return '<span style="color: gray">' + that.$store.state.escapeList[17] + '失败</span>';
        case 4:
          return '<span style="color: gray">已取消</span>';
        case 5:
          return '<span style="color: gray">已过期</span>';
        default:
          return '未知错误';
      }
    },
    // 查询账变类型
    getRecordType: function () {
      http_ajax('get', 'native/getMnyrecordType.do', this.Inquiry, true, '.searchDetail').then(res => {
        this.typeList = res
        this.getRecord()
      })
    },
  }
}
</script>

<style lang="less" scoped>
.statusShow {
  color: #fff;
  border-radius: 3px;
  padding: 3px 5px;
}
</style>
