<template>
  <div>
    <head_nav></head_nav>
    <!-------------------------------------------------头部 start---------------------------------------------------------->
    <div class="member">
      <div class="container">
        <slide_left></slide_left>
        <div class="slide-right">
          <div class="user-title">{{$store.state.escapeList[216]}}</div>
          <div class="user-main">
            <div class="searchDetail">
              <table>
                <thead>
                <tr>
                  <th>帐号</th>
                  <th>余额</th>
                  <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr style="background: #f8f8f8;">
                  <td><span>系统余额</span></td>
                  <td>
                    {{ parseInt($store.state.userInfo.money).toFixed(2) }}
                  </td>
                  <td>暂无</td>
                </tr>
                <tr v-for="(item, index) in changeList" :key="index">
                  <td class="title-img"><span><img :src="item.imgUrl" alt="">{{ item.title }}</span></td>
                  <td>{{item.balance}}</td>
                  <td class="change-button">
                    <a @click="open(item.playCode,item.title,'sys','系统余额')">转入</a>
                    <a @click="open('sys','系统余额',item.playCode,item.title)">转出</a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!------------------------------------------------------底部 start------------------------------------------------------>
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import '@/assets/css/member.less'
import head_nav from '@/components/include/head_nav'
import foot_nav from '@/components/include/foot_nav'
import slide_left from '@/components/center/slideLeft'
import {http_ajax} from '@/assets/js/resource'

export default {
  name: "change",
  components: {
    head_nav, foot_nav, slide_left
  },
  data() {
    return {
      changeList: '',
      money: '',
    }
  },
  created: function () {
  },
  mounted: function () {
    this.getChangeList()
  },
  methods: {
    getChangeList: function () {
      http_ajax('get', 'native/getRealGameData.do', {}, true, '.searchDetail').then(res => {
        this.changeList = res.content
      })
    },
    open: function (into, intoTitle, out, outTitle) {
      this.$prompt(outTitle + ' => ' + intoTitle, '请输入金额', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        inputPattern: /^[0-9]+$/,
        inputErrorMessage: '金额格式不正确'
      }).then(({value}) => {
        let params = {
          changeFrom: out,
          changeTo: into,
          quota: value,
        }
        http_ajax('post', 'native/thirdRealTransMoney.do', params, true, '.searchDetail').then(res => {
          if (res.success) {
            this.$message.success('额度转换成功')
            this.getChangeList()
          } else {
            this.$message.warning(res.msg)
          }
        })
      }).catch(() => {
      });
    }
  }
}
</script>

<style lang="less" scoped>
.searchDetail {
  table {
    td {
      width: 33%;
      position: relative;
    }

    tr {
      .title-img:nth-child(1) {
        span {
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 0;
          margin-left: 95px;
          img {
            width: 20px;
            margin-right: 5px;
          }
        }
      }
    }
  }

  .change-button {
    a {
      margin-left: 10px;

      &:nth-child(1) {
        color: #2b82cc;
      }

      &:nth-child(2) {
        color: red;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
</style>
