<template>
    <div>
        <head_nav></head_nav>
        <!-------------------------------------------------头部 start---------------------------------------------------------->
        <div class="member">
            <div class="container">
                <slide_left></slide_left>
                <div class="slide-right">
                    <div class="user-title">银行卡管理</div>
                    <div class="user-main">
                        <router-link to="/setBankcard" v-show="!$store.state.userInfo.cardNo">
                            <div class="add-bank-click">
                                立即添加银行卡
                            </div>
                        </router-link>
                        <div class="bank-info" v-show="$store.state.userInfo.cardNo">
                            <div class="bankName">北京农商银行</div>
                            <div class="bankNum">卡号：{{$store.state.userInfo.cardNo}}</div>
                            <div class="cardStyle">储蓄卡</div>
                            <div class="cardTxt"><em>{{$store.state.userInfo.userName}}</em></div>
                        </div>
                        <div class="userTip" v-show="!$store.state.userInfo.cardNo"><p><i class="el-icon-warning"></i>温馨提示：银行卡添加后无法修改，添加时请您仔细核对信息。</p></div>
                        <div class="userTip" v-show="$store.state.userInfo.cardNo"><p><i class="el-icon-warning"></i>温馨提示：如需修改银行卡信息，请联系 <a :href="$store.state.serviceUrl" target="_blank">在线客服</a></p></div>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------------------------------------底部 start------------------------------------------------------>
        <foot_nav></foot_nav>
    </div>
</template>

<script>
    import '@/assets/css/member.less'
    import head_nav from '@/components/include/head_nav'
    import foot_nav from  '@/components/include/foot_nav'
    import slide_left from  '@/components/center/slideLeft'
    import {http_ajax} from '@/assets/js/resource'
    export default {
        name: "manageBankcard",
        components:{
            head_nav,foot_nav,slide_left
        },
        data(){
            return{
            }
        },
        created:function(){
            this.getVip()
        },
        mounted:function(){
        },
        methods:{
            // 获取vip等级
            getVip:function () {
                http_ajax('get','native/mobieLevel.do',{}).then(res =>{
                    this.vipData = res
                })
            },
        }
    }
</script>

<style  lang="less" scoped>
    .add-bank-click{
        width: 300px;
        height: 140px;
        border-radius: 5px;
        border:1px dashed #ddd;
        line-height: 140px;
        text-align: center;
        color: #4aa9db;
        cursor: pointer;
        margin:  20px;
        font-size: 15px;
        &:hover{
            border:1px solid #ddd;
        }
    }
    .bank-info{
        width: 300px;
        height: 140px;
        border-radius: 5px;
        border:1px solid #ddd;
        margin: 20px;
        position: relative;
        cursor: pointer;
        transition: .3s;
        overflow: hidden;
        &:hover{
            border: 1px solid #2b82cc;
        }
        .bankName, .bankNum{
            color: #666;
        }
        .bankName{
            float: left;
            width: 90%;
            margin: 10px 5%;
            border-bottom:1px dotted #d9d9d9;
        }
        .bankNum{
            position: absolute;
            right: 20px;
            top: 10px;
        }
        .cardStyle{
            width:88px;
            height:30px;
            color:#eee;
            font-weight:100;
            text-align:center;
            float:left;
            background:#2e4158;
            border-radius:0 3px 3px 0;
            padding-left:5px;
            margin-top: 10px;
        }
        .cardTxt{
            margin-top:62px;
            height:32px;
            line-height:34px;
            color:#666;
            background:#f8f8f8;
            border-top:1px solid #e7e7e7;
            position: absolute;
            bottom: 0;
            width: 100%;
            em{
                float:right;
                padding-right:15px;
                font-style: initial;
            }
        }
    }
</style>
