<template>
    <div>
        <head_nav></head_nav>
        <!-------------------------------------------------头部 start---------------------------------------------------------->
        <div class="member">
            <div class="container">
                <slide_left></slide_left>
                <div class="slide-right">
                    <div class="user-title">会员管理</div>
                    <div class="user-main">
                        <div class="main ">
                            <div class="main-title">
                                <el-row :gutter="15" type="flex" justify="center" align="middle">
                                    <el-col :span="3" >
                                        <el-select v-model="params.accountType" placeholder="级别" @change="getAccountList">
                                            <el-option v-for="item in level" :key="item.value" :label="item.label" :value="item.value" ></el-option>
                                        </el-select>
                                    </el-col>
                                    <el-col :span="5">
                                        <el-select v-model="params.searchType" placeholder="选择代理关系" @change="getAccountList">
                                            <el-option v-for="item in grade" :key="item.value" :label="item.label" :value="item.value" ></el-option>
                                        </el-select>
                                    </el-col>
                                    <el-col :span="4">
                                        <el-input placeholder="会员账号" v-model="params.account" ></el-input>
                                    </el-col>
                                    <el-col :span="2" ><el-button type="primary" @click="getAccountList">查询</el-button></el-col>
                                </el-row>
                            </div>
                            <div class="main-content">
                                <el-table :data="teamDate.list" style="width: 100%" :default-sort = "{prop: 'date', order: 'descending'}">
                                    <el-table-column prop="account" label="账号" sortable width="180"></el-table-column>
                                    <el-table-column
                                            prop="accountType"
                                            label="标签"
                                            width="100"
                                            :filters="[{ text: '平台指引', value:'平台指引'  }, { text: '代理平台', value: '代理平台'}, { text: '会员', value: '会员'}]"
                                            :filter-method="filterTag">
                                        <template slot-scope="scope">
                                            <el-tag :type='scope.row.accountType == 9 ? "primary": scope.row.accountType == 4 ? "success" : "info" ' disable-transitions>{{scope.row.accountType == 9 ? "平台指引": scope.row.accountType == 4 ? "代理平台" : "会员"}}</el-tag>
                                        </template>
                                    </el-table-column>
                                    <el-table-column  label="登录时间">
                                        <template slot-scope="scope">
                                            {{isNaN(scope.row.lastLoginDatetime) ? "尚未登陆" : handleTime(scope.row.lastLoginDatetime)}}
                                        </template>
                                    </el-table-column>
                                    <el-table-column label="操作">
                                        <template slot-scope="scope">
                                            <el-button size="mini" type="info" @click="handleHigher(scope.row.agentId)">上级</el-button>
                                            <el-button size="mini" type="danger" @click="handleLower(scope.row.accountId)">下级</el-button>
                                        </template>
                                    </el-table-column>
                                </el-table>
                                <div class="block">
                                    <el-pagination layout="prev, pager, next, total" :total="teamDate.totalCount" :page-size="params.rows"  :current-page.sync="params.page"  @current-change="getAccountList"></el-pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------------------------------------底部 start------------------------------------------------------>
        <foot_nav></foot_nav>
    </div>
</template>

<script>
    import '@/assets/css/member.less'
    import head_nav from "@/components/include/head_nav";
    import foot_nav from "@/components/include/foot_nav";
    import slide_left from  '@/components/center/slideLeft';
    import {http_ajax} from  '@/assets/js/resource';
    export default {
        name:"memberSupervise",
        components:{
            head_nav,foot_nav,slide_left
        },
        data(){
            return{
                grade:[ //代理关系
                    {value:1, label:"直属下级"},
                    {value:2, label:"所有下级"},
                ],
                level:[ //玩家类型
                    {value:0,label:"全部"},
                    {value:4,label:"代理"},
                    {value:1,label:"玩家"},
                ],
                params:{account:'',searchType:1,accountType:0,page:1,rows:13},
                teamDate:[],
                paginationData:{totalCount:235} //总页数,每页显示条数，当前页数，
            }
        },
        created() {
            this.getAccountList()
        },
        mounted() {

        },
        methods:{
            //上级
            handleHigher(agentId) {
                this.params.agentParentId = agentId
               this.getAccountList()
            },
            //下级
            handleLower(accountId){
                this.params.agentParentId = accountId
                this.getAccountList()
            },
            //过滤显示类型
            filterTag(value, row) {
                if (value == '平台指引'){value = 4}else if (value == '代理平台'){value = 9}else{value = 1}
                return row.accountType === value;
            },
            //查询会员数据
            getAccountList:function () {
                http_ajax("post",'native/accountList.do',this.params,true,'.main-content').then((res)=>{
                    if (res.list != ''){
                        this.teamDate = res
                    }else {
                        this.teamDate =[]
                        this.$message.warning("暂无符合条件的玩家！")
                    }
                })
            },
            //处理提交时间
            handleTime:function (time) {
                let times = new Date(time);
                let Year = times.getFullYear();
                let Month = times.getMonth() < 10 ? "0"+(times.getMonth()+1) : (times.getMonth() + 1)
                let Dates = times.getDate() < 10 ? "0" + times.getDate() : times.getDate()
                let Hours = times.getHours()  < 10 ? "0" + times.getHours() : times.getHours()
                let Minutes = times.getMinutes() < 10 ? "0" + times.getMinutes() : times.getMinutes()
                let Secodes = times.getSeconds() < 10 ? "0" + times.getSeconds() : times.getSeconds()
                return Year +"-"+Month+"-"+Dates  +" "  +Hours +":" +Minutes +":" +Secodes +" "   ;
            }
        }
    }
</script>

<style lang="less" scoped>
    .main{
        .main-title{
            margin-top: 20px;
        }
        .main-content{
            border-top: 1px solid #dce1e5;
            margin-top: 20px;
            /deep/ .el-table td , .el-table th{
                padding: 4px 0 !important;
            }
            /deep/ .el-table th{
                padding: 5px 0 !important;
            }
            /deep/ .el-tag{
                padding: 0 4px;
                height: 30px;
            }
        }
    }
   /* .member .container .slide-right .user-main .el-button{
        background: #409eff !important;
    }*/

</style>