<template>
    <div>
        <head_nav></head_nav>
        <!-------------------------------------------------头部 start---------------------------------------------------------->
        <div class="member">
            <div class="container">
                <slide_left></slide_left>
                <div class="slide-right">
                    <div class="user-title">消息中心</div>
                    <div class="user-main">
                        <div class="searchDetail">
                            <table>
                                <thead>
                                <tr>
                                    <th>主题</th>
                                    <th>时间</th>
                                    <th>内容</th>
                                </tr>
                                </thead>
                                <tbody  v-show="messageList">
                                    <tr v-for="item in messageList" :key="item.id" :value="item.message">
                                        <td>{{item.title}}</td>
                                        <td v-html="$root.common.getMyDate(item.createTime)"></td>
                                        <el-tooltip class="item" effect="dark" :content="item.message" placement="top">
                                            <td>
                                                {{item.message.substring(0,25)}}...
                                            </td>
                                        </el-tooltip>
                                    </tr>
                                </tbody>
                                <tbody v-show="messageList.length == 0">
                                <tr>
                                    <td colspan="100">暂无记录</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="block">
                            <el-pagination
                                    @prev-click="pageClick(Inquiry.page - 1)"
                                    @next-click="pageClick(Inquiry.page + 1)"
                                    @current-change="handleCurrentChange"
                                    :current-page.sync="Inquiry.page"
                                    :page-size="Inquiry.rows"
                                    layout="prev, pager, next"
                                    :total="total">
                            </el-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------------------------------------底部 start------------------------------------------------------>
        <foot_nav></foot_nav>
    </div>
</template>

<script>
    import '@/assets/css/member.less'
    import head_nav from '@/components/include/head_nav'
    import foot_nav from  '@/components/include/foot_nav'
    import slide_left from  '@/components/center/slideLeft'
    import {http_ajax} from '@/assets/js/resource'
    export default {
        name: "message",
        components:{
            head_nav,foot_nav,slide_left
        },
        data(){
            return{
                Inquiry:{
                    page:1,
                    rows:10
                },
                total:1,
                messageList:''
            }
        },
        created:function(){
        },
        mounted:function(){
            this.getMessage()
        },
        methods: {
            handleCurrentChange: function (val) {
                this.pageClick(val)
            },
            // 查询消息
            getMessage: function () {
                http_ajax('get', 'native/message_list.do', this.Inquiry, true, '.searchDetail').then(res => {
                    if(res.success){
                        this.messageList = res.content.datas
                        this.total = res.content.totalCount
                    }
                })
            },
            pageClick: function (page) {
                this.Inquiry.page = page
                this.getMessage()
            },
        }
    }
</script>

<style lang="less" scoped>
    .statusShow{
        color:#fff;border-radius:3px;padding:3px 5px;
    }
</style>