<template>
    <div>
        <head_nav></head_nav>
        <!-------------------------------------------------头部 start---------------------------------------------------------->
        <div class="member">
            <div class="container">
                <slide_left></slide_left>
                <div class="slide-right">
                    <div class="user-title">网站公告</div>
                    <div class="user-main">
                        <div class="pd30"><h2 class="articleTitle">{{content.title || '最新公告'}}</h2>
                            <div class="articlePublishTime" v-html="$root.common.getMyDate(content.createTime || 0)"></div>
                            <div class="articleContent" v-html="content.content">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------------------------------------底部 start------------------------------------------------------>
        <foot_nav></foot_nav>
    </div>
</template>

<script>
    import '@/assets/css/member.less'
    import head_nav from '@/components/include/head_nav'
    import foot_nav from  '@/components/include/foot_nav'
    import slide_left from  '@/components/center/slideLeft'
    import {http_ajax} from '@/assets/js/resource'
    export default {
        name: "notice",
        components:{
            head_nav,foot_nav,slide_left
        },
        data(){
            return{
                content:{}
            }
        },
        created:function(){
        },
        mounted:function(){
            this.getNotice()
        },
        methods: {
            // 查询网站公告
            getNotice: function () {
                http_ajax('post', 'native/getPopNotices.do', {code:'13'}).then(res => {
                    if(res.success){
                        this.content = res.content[0]
                    }
                })
            }
        }
    }
</script>

<style scoped lang="less">
    .user-main{
        padding: 30px;
    }
    .articleTitle {
        font-size: 16px;
        color: #333;
        text-align: center
    }
    .articlePublishTime {
        font-size: 12px;
        text-align: center;
        border-bottom: 1px solid #ddd;
        padding-bottom: 5px
    }
    .articleContent, .articleContent p, .articleContent span {
        font-size: 14px !important;
        color: #333
    }
</style>