<template>
    <div>
        <head_nav></head_nav>
        <!-------------------------------------------------头部 start---------------------------------------------------------->
        <el-dialog :title="shadeTitle" :visible.sync="shade" width="30%" center style="margin-top: 16vh;">
            <template>
                <el-alert
                        v-if="rechargeOrder.bankNmae"
                        :closable="false"
                        v-clipboard:copy="rechargeCenter.bankCenter"
                        v-clipboard:success="onCopy"
                        :title="rechargeOrder.bankNmae + rechargeCenter.bankCenter"
                        type="success">
                </el-alert>
                <el-alert
                        v-if="rechargeOrder.orderNumber"
                        :closable="false"
                        close-text="复制"
                        v-clipboard:copy="rechargeCenter.orderCenter"
                        v-clipboard:success="onCopy"
                        :title="rechargeOrder.orderNumber + rechargeCenter.orderCenter"
                        type="success">
                </el-alert>
                <el-alert
                        v-if="rechargeOrder.userName"
                        :closable="false"
                        v-clipboard:copy="rechargeCenter.userCenter"
                        v-clipboard:success="onCopy"
                        :title="rechargeOrder.userName + rechargeCenter.userCenter"
                        effect="dark"
                        type="success">
                </el-alert>
                <el-alert
                        v-if="rechargeOrder.accountNumber"
                        :closable="false"
                        v-clipboard:copy="rechargeCenter.accountCenter"
                        v-clipboard:success="onCopy"
                        :title="rechargeOrder.accountNumber + rechargeCenter.accountCenter"
                        effect="dark"
                        type="success">
                </el-alert>
                <el-alert
                        v-if="rechargeOrder.openAccount"
                        :closable="false"
                        v-clipboard:copy="rechargeCenter.openCenter"
                        v-clipboard:success="onCopy"
                        :title="rechargeOrder.openAccount + rechargeCenter.openCenter"
                        type="success">
                </el-alert>
                <el-alert
                        v-if="rechargeOrder.sumMoney"
                        :closable="false"
                        v-clipboard:copy="rechargeCenter.sumCenter"
                        v-clipboard:success="onCopy"
                        :title="rechargeOrder.sumMoney + rechargeCenter.sumCenter"
                        type="success">
                </el-alert>
                <el-alert
                        v-if="rechargeOrder.oneselfName"
                        :closable="false"
                        v-clipboard:copy="rechargeCenter.oneselfName"
                        v-clipboard:success="onCopy"
                        :title="rechargeOrder.oneselfName + rechargeCenter.oneselfName"
                        type="success">
                </el-alert>
            </template>
            <span slot="footer" class="dialog-footer">
            <el-button @click="businessDetail">{{lookRecord || "取消"}}</el-button>
            <el-button type="primary" @click="shade = false">确 定</el-button>
          </span>
        </el-dialog>
        <div class="member">
            <div class="container">
                <slide_left></slide_left>
                <div class="slide-right" style="position: relative">
                    <div class="user-title" >{{$store.state.escapeList[17]}}</div>
                        <div class="user-main" >
                        <div class="new-tab">
                            <span v-for="(item, index) in payList" :key="index">
                                <a href="javascript:(0)" @click="current = index" v-bind:class="{ curr:current == index}" data-id="ziliao">{{item.switchKey}}</a>
                            </span>
                        </div>
                        <!-- 银行入款-->
                        <div v-if="current == titleSort.back && showRechargeBank">
                            <div class="step-box">
                                <ul>
                                    <li><span>请{{$store.state.escapeList[247]}}到以下银行账户：</span>单笔最低 <span style="font-weight: bold;color: red">{{payList[titleSort.back].payList[bank].min || 1}}</span> 元，最高 <span style="font-weight: bold;color: red">{{payList[titleSort.back].payList[bank].max || 99999}}</span> 元，支付时间段：<span style="font-weight: bold;color: red">{{payList[titleSort.back].payList[bank].payStarttime || '00:00:00'}}</span>-<span style="font-weight: bold;color: red">{{payList[titleSort.back].payList[bank].payEndtime || '00:00:00'}}</span></li>
                                    <li>
                                      {{$store.state.escapeList[248]}}银行：
                                        <span v-for="(item, index) in payList[titleSort.back].payList" :key="index"><el-radio v-model="bank" :label="index">{{item.payName}}</el-radio></span>
                                    </li>
                                    <li>{{$store.state.escapeList[17]}}银行：<span v-clipboard:copy="payList[titleSort.back].payList[bank].payCom" v-clipboard:success="onCopy" >{{payList[titleSort.back].payList[bank].payCom}}</span></li>
                                    <li>银行帐号：<span v-clipboard:copy="payList[titleSort.back].payList[bank].bankCard" v-clipboard:success="onCopy" >{{payList[titleSort.back].payList[bank].bankCard}}</span></li>
                                    <li>开户支行：<span v-clipboard:copy="payList[titleSort.back].payList[bank].bankAddress" v-clipboard:success="onCopy" >{{payList[titleSort.back].payList[bank].bankAddress}}</span></li>
                                    <li v-if="payList[titleSort.back].payList[bank].bankDesc">入款备注：<span >{{payList[titleSort.back].payList[bank].bankDesc}}</span></li>
                                </ul>
                            </div>
                            <div class="step-box" >
                                <ul>
                                    <li><span>请认真填写您的转账信息：</span><em>请务必先提交订单后{{$store.state.escapeList[17]}}, 否则无法及时查到您的款项！</em></li>
                                    <li>
                                    <span style="color: #666666">
                                        {{$store.state.escapeList[17]}}金额：<el-input  placeholder="请输入金额" style="margin-right: 80px" v-model="bankData.money"></el-input>
                                        {{$store.state.escapeList[247]}}户名：<el-input  placeholder="请输入户名" v-model="bankData.userName"></el-input>
                                    </span>
                                    </li>
                                    <li class="put-button"><el-button type="primary" @click="bankSubmit">提交{{$store.state.escapeList[17]}}订单</el-button></li>
                                </ul>
                            </div>
                        </div>
                        <!--快速支付-->
                        <div v-else-if="current == titleSort.fast && showRechargeFast" >
                            <div class="step-box">
                                <ul>
                                    <li><span>请{{$store.state.escapeList[247]}}到以下银行账户：</span>单笔最低 <span style="font-weight: bold;color: red">{{payList[titleSort.fast].payList[fast].min || 1}}</span> 元，最高 <span style="font-weight: bold;color: red">{{payList[titleSort.fast].payList[fast].max || 99999}}</span> 元，支付时间段：<span style="font-weight: bold;color: red">{{payList[titleSort.fast].payList[fast].payStarttime || '00:00:00'}}</span>-<span style="font-weight: bold;color: red">{{payList[titleSort.fast].payList[fast].payEndtime || '00:00:00'}}</span></li>
                                    <li>
                                      {{$store.state.escapeList[17]}}方式：
                                        <span v-for="(item, index) in payList[titleSort.fast].payList" :key="index"><el-radio v-model="fast" :label="index">{{item.payName}}</el-radio></span>
                                    </li>
                                    <li>{{$store.state.escapeList[248]}}姓名：<span v-clipboard:copy="payList[titleSort.fast].payList[fast].payUserName" v-clipboard:success="onCopy" >{{payList[titleSort.fast].payList[fast].payUserName}}</span></li>
                                    <li>{{$store.state.escapeList[248]}}帐号：<span v-clipboard:copy="payList[titleSort.fast].payList[fast].payAccount" v-clipboard:success="onCopy" >{{payList[titleSort.fast].payList[fast].payAccount}}</span></li>
                                    <li v-if="payList[titleSort.fast].payList[fast].qrCodeImg">二维码：<span><img :src="payList[titleSort.fast].payList[fast].qrCodeImg" style="width: 200px"></span></li>
                                </ul>
                            </div>
                            <div class="step-box" >
                                <ul>
                                    <li><span>请认真填写您的转账信息：</span><em>请务必先提交订单后{{$store.state.escapeList[17]}}, 否则无法及时查到您的款项！</em></li>
                                    <li>
                                    <span style="color: #666666">
                                        {{$store.state.escapeList[17]}}金额：<el-input placeholder="请输入金额" style="margin-right: 80px" v-model="fastData.money"></el-input>
                                        {{payList[titleSort.fast].payList.length == 0  ?  "充值姓名" : payList[titleSort.fast].payList[fast].frontLabel  }}：<el-input placeholder="请输入户名" v-model="fastData.userName" ></el-input>
                                    </span>
                                    </li>
                                    <li class="put-button"><el-button type="primary" @click="fastSubmit">提交充值订单</el-button></li>
                                </ul>
                            </div>
                        </div>
                        <!--在线支付-->
                        <div v-else-if="current == titleSort.online && showRechargeOnline" >
                            <div class="step-box online">
                                <ul>
                                    <li><span>请{{$store.state.escapeList[247]}}到以下银行账户：</span>单笔最低 <span style="font-weight: bold;color: red">{{payList[titleSort.online].payList[online].min || 1}}</span> 元，最高 <span style="font-weight: bold;color: red">{{payList[titleSort.online].payList[online].max || 99999}}</span> 元，支付时间段：<span style="font-weight: bold;color: red">{{payList[titleSort.online].payList[online].payStarttime || '00:00:00'}}</span>-<span style="font-weight: bold;color: red">{{payList[titleSort.online].payList[online].payEndtime || '00:00:00'}}</span></li>
                                    <li>
                                      {{$store.state.escapeList[248]}}银行：
                                        <span v-for="(item, index) in payList[titleSort.online].payList" :key="index"><el-radio v-model="online" :label="index">{{item.payName}}</el-radio></span>
                                    </li>
                                    <li >
                                        <div v-if="payList[titleSort.online].payList[online].fixedFlag == 2">
                                            固定金额：
                                            <el-tag v-for="(item,index) in $options.filters.onlineRechargeFixedAmount(payList[titleSort.online].payList.length == 0 ? '' : payList[titleSort.online].payList[online].fixedAmount,payList[titleSort.online].payList.length == 0  ? '' : payList[titleSort.online].payList[online].fixedFlag)" :key="index"   type="danger" effect="plain" @click="onlineData.money = item">
                                                {{item + " 元"}}
                                            </el-tag>
                                        </div>
                                    </li>
                                    <li v-if="payList[titleSort.online].payList[online].payDesc">入款备注：<span >{{payList[titleSort.online].payList[online].payDesc}}</span></li>
                                </ul>
                            </div>
                            <div class="step-box" >
                                <ul>
                                    <li><span>请认真填写您的{{$store.state.escapeList[247]}}信息：</span><em>请务必先提交订单后{{$store.state.escapeList[17]}}, 否则无法及时查到您的款项！</em></li>
                                    <li style="text-align: center;">
                                        <span style="color: #666666;">
                                            {{$store.state.escapeList[17]}}金额：<el-input  placeholder="请输入金额" style="margin-right: 80px" v-model="onlineData.money" :disabled="payList[titleSort.online].payList[online].fixedFlag == 1?false:true"></el-input>
                                        </span>
                                    </li>
                                    <li class="put-button"><el-button type="primary" @click="onlineSubmit">下一步</el-button></li>
                            </ul>
                            </div>
                        </div>
                        <div v-else>
                            暂无配置支付方式
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------------------------------------底部 start------------------------------------------------------>
        <foot_nav></foot_nav>
    </div>
</template>

<script>
    import '@/assets/css/member.less'
    import head_nav from '@/components/include/head_nav'
    import foot_nav from  '@/components/include/foot_nav'
    import slide_left from  '@/components/center/slideLeft'
    import {http_ajax} from '@/assets/js/resource'
    export default {
        name: "recharge",
        components:{
            head_nav,foot_nav,slide_left
        },
        data(){
            return{
                current: 0,
                disabled:{online:false,fast:false,bank:false}, //输入框默认状态
                showRechargeBank:false, //银行 当前支付方式无选项
                showRechargeFast:false, //快速 当前支付方式无选项
                showRechargeOnline:false,//在线 当前支付方式无选项
                shade: false, //弹窗
                lookRecord:"", //取消按钮跳转
                shadeTitle: '',
                titleSort:{back:0,fast:1,online:2}, //默认标题
                rechargeOrder:{bankNmae:"充值银行：",orderNumber:"订单号：",userName:"收款姓名：",accountNumber:"收款账号：",openAccount:"开户网点：",sumMoney:"充值金额：",oneselfName:"寄款姓名："}, //支付成功弹窗标题
                rechargeCenter:{bankCenter:"充值银行：",orderCenter:"订单号：",userCenter:"收款姓名：",accountCenter:"收款账号：",openCenter:"开户网点：",sumCenter:"充值金额：",oneselfName:"自己姓名"}, //支付成功弹窗内容
                parameter:{}, //请求数据
                payList:[
                    {payList:[{payName:'中国银行', min:10, max:9999999,}]},
                    {payList:[{payName:'支付宝', min:10, max:9999999,}]},
                    {payList:[{payName:'在线支付', min:10, max:9999999,}]}
                ],
                bank:'0',
                fast:'0',
                online:'0',
                bankData:{money:"",userName:""}, //银行提交金额
                onlineData:{money:""},           //在线充值提交金额
                fastData:{money:"",userName:""}, //快速充值提交金额
            }
        },
        created:function(){
            this.getpayList()
        },
        mounted:function(){

        },
        methods: {
            // 支付列表
            getpayList:function () {
                http_ajax('get','native/paySelectWay.do',{}).then(res =>{
                    if(res.success){
                        this.payList = res.content
                        for (let i in  res.content){
                            if (res.content[i].code == 'bank'){
                                this.titleSort.back = i
                                if (res.content[this.titleSort.back].payList.length > 0 ){ //确认当前支付有无选项
                                    this.showRechargeBank = true
                                }
                            } else if (res.content[i].code == 'fast'){
                                this.titleSort.fast = i
                                if (res.content[this.titleSort.fast].payList.length > 0 ){
                                    this.showRechargeFast = true
                                }
                            } else if (res.content[i].code == 'online'){
                                this.titleSort.online = i
                                if (res.content[this.titleSort.online].payList.length > 0 ){
                                    this.showRechargeOnline = true
                                }
                            }
                        }
                        this.bank = 0
                        this.fast = 0
                        this.online = 0
                    }
                })
            },
            //复制功能
            onCopy:function (e) {
                this.$toast('复制成功:' + e.text)
            },
            //銀行入款
            bankSubmit:function(){
              let that = this
              if (this.bankData.money < this.payList[this.titleSort.back].payList[this.bank].min){
                    this.$toast(that.$store.state.escapeList[17] + `金额不能小于${this.payList[this.titleSort.back].payList[this.bank].min}元`)
                    return false
                }
                if (this.bankData.money >  this.payList[this.titleSort.back].payList[this.bank].max){
                    this.$toast(that.$store.state.escapeList[17] + `金额不能大于${this.payList[this.titleSort.back].payList[this.bank].max}元`)
                    return false
                }
                if (!this.bankData.userName){
                    this.$toast(`请输入转账户名`)
                    return false
                }
                for (let i in this.payList){
                    if (this.payList[i].code == 'bank'){
                        this.parameter={bankId:this.payList[i].payList[this.bank].id,money:this.bankData.money,depositor:this.bankData.userName}
                    }
                }
                http_ajax('get','native/bankpaySubmit.do',this.parameter,true,'.step-box').then(res =>{
                    this.parameter={}
                    if (res.success){
                        this.rechargeCenter.bankCenter=this.payList[this.titleSort.back].payList[this.bank].payName;
                        this.rechargeCenter.orderCenter=res.data;
                        this.rechargeCenter.userCenter=this.payList[this.titleSort.back].payList[this.bank].creatorName;
                        this.rechargeCenter.accountCenter=this.payList[this.titleSort.back].payList[this.bank].bankCard;
                        this.rechargeCenter.openCenter=this.payList[this.titleSort.back].payList[this.bank].bankAddress;
                        this.rechargeCenter.sumCenter=this.bankData.money;
                        this.rechargeCenter.oneselfName = this.bankData.userName
                        this.shadeTitle = "订单提交成功"
                        this.lookRecord = "查看"+that.$store.state.escapeList[17] +"记录"
                        this.shade =true
                    }else {
                        this.$message.error(res.msg)
                    }
                })
            },
            //快速入款
            fastSubmit:function(){
              let that = this
              if (this.fastData.money < this.payList[this.titleSort.fast].payList[this.fast].min){
                    this.$toast(that.$store.state.escapeList[17] + `金额不能小于${this.payList[this.titleSort.fast].payList[this.fast].min}元`)
                    return false
                }
                if (this.fastData.money >  this.payList[this.titleSort.fast].payList[this.fast].max){
                    this.$toast(that.$store.state.escapeList[17] + `金额不能大于${this.payList[this.titleSort.fast].payList[this.fast].max}元`)
                    return false
                }
                for (let i in this.payList){
                    if (this.payList[i].code == 'fast'){
                        this.parameter={payId:this.payList[i].payList[this.fast].id,money:this.fastData.money,depositor:this.fastData.userName}
                    }
                }
                http_ajax('get','native/fastpaySubmit.do',this.parameter,true,'.step-box').then(res=>{
                    this.parameter={}
                    if (res.success){
                        this.rechargeOrder={bankNmae:"支付名称：",orderNumber:"订单号：",accountNumber:"收款名称：",sumMoney:that.$store.state.escapeList[17] + "金额：",oneselfName:"支付姓名："},
                         this.rechargeCenter.bankCenter=this.payList[this.titleSort.fast].payList[this.fast].payUserName;
                        this.rechargeCenter.orderCenter=res.data;
                        this.rechargeCenter.accountCenter=this.payList[this.titleSort.fast].payList[this.fast].payAccount;
                        // this.rechargeCenter.openCenter=this.payList[this.titleSort.fast].payList[this.fast].bankAddress;
                        this.rechargeCenter.sumCenter=this.fastData.money;
                        this.rechargeCenter.oneselfName = this.fastData.userName
                        this.shadeTitle = "订单提交成功"
                        this.lookRecord = "查看"+that.$store.state.escapeList[17] +"记录"
                        this.shade =true
                    }else {
                        this.$message.error(res.msg)
                    }
                })
            },
            //在綫入款
            onlineSubmit:function(){
              let that = this
                if (this.onlineData.money < (this.payList[this.titleSort.online].payList[this.online].min || 1)){
                    this.$toast(that.$store.state.escapeList[17] + `金额不能小于${this.payList[this.titleSort.online].payList[this.online].min|| 1}元`)
                    return false
                }
                if (this.onlineData.money >  (this.payList[this.titleSort.online].payList[this.online].max || 99999)){
                    this.$toast(that.$store.state.escapeList[17] + `金额不能大于${this.payList[this.titleSort.online].payList[this.online].max|| 99999}元`)
                    return false
                }
                let params = {
                    iconCss:this.payList[this.titleSort.online].payList[this.online].iconCss,
                    payType :this.payList[this.titleSort.online].payList[this.online].payType,
                    payId :this.payList[this.titleSort.online].payList[this.online].id,
                    money:this.onlineData.money,
                }
                http_ajax('post','native/getOnlineSubmitData.do',params,true,'.step-box').then(res=>{
                    console.log(res)
                    if(res.success){
                        if(res.content.payMethod == 1 || res.content.payMethod == 3|| res.content.payMethod == 5|| res.content.payMethod == 6){
                            this.onlineSubmitAgain(res.content)
                        }
                    }
                })
            },
            // 二次跳转
            onlineSubmitAgain:function(data){
                let params = {
                    payId:data.payId,
                    payType:data.payType,
                    bankcode:data.bankcode,
                    account:this.$store.state.userInfo.account,
                    amount:data.money,
                }
                http_ajax('post','native'+data.jumpUrl,params,true,'.step-box').then(res=>{
                    console.log('https://x002.xb336.com/native/payRedirect.do?data='+JSON.stringify(res.data))
                })
            },
            //申请成功跳转
            businessDetail:function(){
                this.$router.push({path:"businessDetail"})
            },
        },
        watch:{},
        filters:{
            onlineRechargeFixedAmount(value,fixedFlag){
                if (value == ''){
                    return value
                }else {
                    if (fixedFlag == 2){
                        value = value.split(",")
                        return value
                    }else {
                        return ''
                    }

                }
            }
        }
    }
</script>

<style lang="less" scoped>
    .el-dialog__body {
        cursor: pointer;
        .el-alert--success{
            padding-top: 10px;
            padding-bottom: 10px;
            &:nth-child(1){
                padding-left: 15px;
            }
            &:nth-child(2){
                padding-left: 28px;
            }

        }
        .is-light{
            color: #000000;
        }
    }
    .user-main{
        .step-box{
            width: 818px;
            border:1px solid #ddd;
            margin: 10px;
            padding: 20px;
            box-sizing:border-box;
            ul{
                li{
                    span{
                        margin-left: 60px;
                        color: #e4393c;
                    }
                    em{
                        color: red;
                        font-style: inherit;
                    }
                    &:nth-child(1){
                        font-size: 14px;
                        span{
                            font-size: inherit;
                            font-weight: 600;
                            margin-left:0;
                            color: #666666;
                        }
                    }
                    &:nth-child(2){
                        margin: 8px 0;
                    }
                }
                .put-button{
                    margin-top: 20px;
                    text-align: center;
                }
            }
        }
        .el-input{
            width: auto!important;
            margin-top: 10px;
        }
        .online{
            li:nth-child(3){
                margin: 8px 0 ;
                display: flex;
                justify-content: left;
                span{
                   min-width: 46px;
                   text-align: center;
                    margin-left: 20px;
                    cursor:pointer;
                }
            }
        }
    }
    .member .container .slide-right .user-main .el-button{
        background: #409EFF!important;
    }
</style>
