<template>
    <div>
        <head_nav></head_nav>
        <!-------------------------------------------------头部 start---------------------------------------------------------->
        <div class="member">
            <div class="container">
                <slide_left></slide_left>
                <div class="slide-right" style="position: relative">
                    <iframe src="/center/banktrans/deposit/chongzhiIframe.do" frameborder="0" style="width: 800px;height: 850px;margin-top:-19px;"></iframe>
                </div>
            </div>
        </div>
        <!------------------------------------------------------底部 start------------------------------------------------------>
        <foot_nav></foot_nav>
    </div>
</template>

<script>
    import '@/assets/css/member.less'
    import head_nav from '@/components/include/head_nav'
    import foot_nav from  '@/components/include/foot_nav'
    import slide_left from  '@/components/center/slideLeft'
    export default {
        name: "recharge",
        components:{
            head_nav,foot_nav,slide_left
        },
        data(){
            return{
                
            }
        },
        created:function(){
        },
        mounted:function(){

        },
        methods: {
            
        },
        watch:{},
        filters:{
            onlineRechargeFixedAmount(value,fixedFlag){
                if (value == ''){
                    return value
                }else {
                    if (fixedFlag == 2){
                        value = value.split(",")
                        return value
                    }else {
                        return ''
                    }

                }
            }
        }
    }
</script>

<style lang="less" scoped>
    .el-dialog__body {
        cursor: pointer;
        .el-alert--success{
            padding-top: 10px;
            padding-bottom: 10px;
            &:nth-child(1){
                padding-left: 15px;
            }
            &:nth-child(2){
                padding-left: 28px;
            }

        }
        .is-light{
            color: #000000;
        }
    }
    .user-main{
        .step-box{
            width: 818px;
            border:1px solid #ddd;
            margin: 10px;
            padding: 20px;
            box-sizing:border-box;
            ul{
                li{
                    span{
                        margin-left: 60px;
                        color: #e4393c;
                    }
                    em{
                        color: red;
                        font-style: inherit;
                    }
                    &:nth-child(1){
                        font-size: 14px;
                        span{
                            font-size: inherit;
                            font-weight: 600;
                            margin-left:0;
                            color: #666666;
                        }
                    }
                    &:nth-child(2){
                        margin: 8px 0;
                    }
                }
                .put-button{
                    margin-top: 20px;
                    text-align: center;
                }
            }
        }
        .el-input{
            width: auto!important;
            margin-top: 10px;
        }
        .online{
            li:nth-child(3){
                margin: 8px 0 ;
                display: flex;
                justify-content: left;
                span{
                    min-width: 46px;
                    text-align: center;
                    margin-left: 20px;
                    cursor:pointer;
                }
            }
        }
    }
    .member .container .slide-right .user-main .el-button{
        background: #409EFF!important;
    }
</style>