<template>
    <div>
        <head_nav></head_nav>
        <!-------------------------------------------------头部 start---------------------------------------------------------->
        <div class="member">
            <div class="container">
                <slide_left></slide_left>
                <div class="slide-right">
                    <div class="user-title">安全中心</div>
                    <div class="user-main">
<!--                        <div class="last-text">-->
<!--                            上次登录： 2020-01-30 14:56:11菲律宾马尼拉 | 不是我登录？ 修改密码-->
<!--                        </div>-->
                        <div class="update-div">
                            <div class="icon">
                                <i class="el-icon-key"></i>
                            </div>
                            <div class="text">
                                <p><span>登录密码</span></p>
                                <p>请使用字母或数字的组合，建议设置安全性较高的组合。</p>
                            </div>
                            <router-link :to="{path:'/updateUserPass',query:{title:'登录密码',url:'native/modify_pass.do'}}"  class="button">修改密码</router-link>
                        </div>
                        <div class="update-div">
                            <div class="icon">
                                <i class="el-icon-money"></i>
                            </div>
                            <div class="text">
                                <p><span>提款密码</span></p>
                                <p>请使用字母或数字的组合，建议设置安全性较高的组合。</p>
                            </div>
                            <router-link :to="{path:'/updateUserPass',query:{title:'提款密码',url:'native/modify_cashpass.do'}}"  class="button">修改密码</router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------------------------------------底部 start------------------------------------------------------>
        <foot_nav></foot_nav>
    </div>
</template>

<script>
    import '@/assets/css/member.less'
    import head_nav from '@/components/include/head_nav'
    import foot_nav from  '@/components/include/foot_nav'
    import slide_left from  '@/components/center/slideLeft'
    export default {
        name: "securityCenter",
        components:{
            head_nav,foot_nav,slide_left
        },
        data(){
            return{
            }
        },
        created:function(){
        },
        mounted:function(){
        },
        methods:{

        }
    }
</script>

<style  lang="less" scoped>
    .user-main{
        padding-left: 5%;
        .last-text{
            width: 90%;
            float: left;
            padding: 10px;
            border-bottom:1px dotted #d9d9d9;
        }
        .update-div{
            width: 90%;
            height: 60px;
            border-radius: 5px;
            border:1px solid #ddd;
            padding: 10px;
            margin-top: 20px;
            cursor: pointer;
            transition: .3s;
            overflow: hidden;
            float: left;
            display: flex;
            align-items: center;
            position: relative;
            div{
                float: left;
            }
            .icon{
                background: #2e4158;
                border-radius: 6px;
                width: 50px;
                height: 50px;
                text-align: center;
                i{
                    color: #ffffff;
                    font-size: 34px;
                    margin-top: 9px;
                }
            }
            .text{
                margin-left: 10px;
                color: #9b8e8e;
                span{
                    font-weight: 600;
                    color: #000000;
                }
                p{
                    height: 25px;
                    line-height: 25px;
                }
            }
            .button{
                background:#f8f8f8;
                border:1px solid #ccc;
                display:block;
                width:150px;
                height:30px;
                line-height:30px;
                border-radius:4px;
                box-shadow:2px 2px 2px #ccc;
                text-align:center;
                font-size:16px;
                color:#666;
                margin-top:5px;
                cursor: pointer;
                position: absolute;
                right: 10px;
                &:hover{
                    background: #2e4158;
                    color:#ffffff;
                }
            }
        }
    }
</style>
