<template>
    <div>
        <head_nav></head_nav>
        <!-------------------------------------------------头部 start---------------------------------------------------------->
        <div class="member">
            <div class="container">
                <slide_left></slide_left>
                <div class="slide-right">
                    <div class="user-title">{{that.$store.state.escapeList[222]}}</div>
                    <div class="user-main">
                        <ul class="searchFirst">
                            <li class="inquiry-button">
                                <span>时间：</span>
                                <a href="javascript:void(0)" :class="{active:timeIndex == 0}" @click="timeIndex = 0, getRecord('new')">今天</a>
                                <a href="javascript:void(0)" :class="{active:timeIndex == 7}" @click="timeIndex = 7, getRecord('new')">七天</a>
                                <a href="javascript:void(0)" :class="{active:timeIndex == 30}" @click="timeIndex = 30, getRecord('new')">三十天</a>
                            </li>
                        </ul>
                        <div class="searchDetail">
                            <table>
                                <thead>
                                <tr>
                                    <th>单号/{{that.$store.state.escapeList[7]}}日期</th>
                                    <th>{{that.$store.state.escapeList[7]}}类型</th>
                                    <th>{{that.$store.state.escapeList[7]}}项</th>
                                    <th>{{that.$store.state.escapeList[7]}}额</th>
                                    <th>提交状态</th>
                                    <th>结算状态	</th>
                                    <th>{{that.$store.state.escapeList[227]}}金额</th>
                                </tr>
                                </thead>
                                <tbody v-show="Data">
                                <tr v-for="item in Data" :key="item.id">
                                    <td>{{item.bettingCode}}<br>{{$root.common.getMyDate(item.bettingDate)}}</td>
                                    <td>
                                        {{(item.sportType==1? '足球':'篮球')+(item.gameTimeType==1?'- 滚球':(item.gameTimeType==2?'- 今日':'- 早盘'))}}
                                        <br/>
                                       <span style="color: #337ab7">{{(item.mix == 2?'混合过关':(item.typeNames?item.typeNames.replace("-", ''):''))}}</span>
                                    </td>
                                    <td v-html="toBetHtml(JSON.parse(item.remark), item)"></td>
                                    <td>{{item.bettingMoney}}</td>
                                    <td v-html="balance(item.balance)"></td>
                                    <td v-html="bettingStatus(item.bettingStatus)"></td>
                                    <td style="color: red">{{item.bettingResult || 0}}</td>
                                </tr>
                                </tbody>
                                <tbody v-show="Data.length == 0">
                                <tr>
                                    <td colspan="100">暂无记录</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="block">
                                <el-pagination
                                        @prev-click="pageClick(Inquiry.page - 1)"
                                        @next-click="pageClick(Inquiry.page + 1)"
                                        @current-change="handleCurrentChange"
                                        :current-page.sync="Inquiry.page"
                                        :page-size="Inquiry.rows"
                                        layout="prev, pager, next"
                                        :total="total">
                                </el-pagination>
                            </div>
                        </div>
                        <div class="userTip"><p><i class="el-icon-warning"></i>温馨提示：{{that.$store.state.escapeList[7]}}记录最多可保存30天。</p></div>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------------------------------------底部 start------------------------------------------------------>
        <foot_nav></foot_nav>
    </div>
</template>

<script>
    import '@/assets/css/member.less'
    import head_nav from '@/components/include/head_nav'
    import foot_nav from  '@/components/include/foot_nav'
    import slide_left from  '@/components/center/slideLeft'
    import {http_ajax} from '@/assets/js/resource'
    export default {
        name: "sportRecords",
        components:{
            head_nav,foot_nav,slide_left
        },
        data(){
            return{
                List:'',
                total:1,
                Inquiry:{
                    rows:10,
                    page:1,
                },
                timeIndex:0,
                Data:'',
            }
        },
        created:function(){
        },
        mounted:function(){
            this.getRecord()
        },
        methods:{
            handleCurrentChange:function(val){
                this.pageClick(val)
            },
            // 查询投注记录
            getRecord:function (newPage) {
                if(newPage == 'new') this.Inquiry.page = 1
                let time = this.$root.common.dataSearch(this.timeIndex)
                this.Inquiry.startTime = time.startTime
                this.Inquiry.endTime = time.endTime
                http_ajax('get','native/getOrderData.do',this.Inquiry,true,'.searchDetail').then(res =>{
                    this.Data  = res.rows
                    this.total  = res.total
                })
            },
            pageClick:function(page){
                this.Inquiry.page = page
                this.getRecord()
            },
            toBetHtml:function (item,row) {
                let con = item.con;
                if (con.indexOf("vs") == -1) {
                    con = '<span class="text-danger">' + con + '</span>';
                }
                let homeFirst = !(item.homeStrong === false);//主队是否在前
                let scoreStr = "";

                if (row.gameTimeType == 1) {
                    if (homeFirst) {
                        scoreStr = "&nbsp;<font color='red'><b>(" + row.scoreH + ":"
                            + row.scoreC + ")</b></font>";
                    } else {
                        scoreStr = "&nbsp;<font color='red'><b>(" + row.scoreC + ":"
                            + row.scoreH + ")</b></font>";
                    }
                }
                let home = item.firstTeam;
                let guest = item.lastTeam;
                if (item.half === true && row.mix == 2) {
                    home = home + "<font color='gray'>[上半]</font>";
                    guest = guest + "<font color='gray'>[上半]</font>";
                }

                let html = item.league + "<br/>" + home + "&nbsp;" + con + "&nbsp;"
                    + guest + scoreStr + "<br/>" + "<font color='red'>"
                    + item.result + "</font>&nbsp;" + "@"
                    + "&nbsp;<font color='red'>" + item.odds + "</font>";
                let balance = row.mix != 2 ? row.balance : item.balance;
                if (balance == 4) {
                    html = "<s style='color:red;'>" + html + "</s>"
                } else if (balance == 2 || balance == 5 || balance == 6) {
                    let mr = row.mix != 2 ? row.result : item.matchResult;
                    if (homeFirst) {
                        html = html + "&nbsp;<font color='blue'>(" + mr + ")</font>";
                    } else {
                        let ss = mr.split(":");
                        html = html + "&nbsp;<font color='blue'>(" + ss[1] + ":"
                            + ss[0] + ")</font>";
                    }
                }
                return html;
            },
            balance:function (val) {
                let html  = ''
                switch(val){
                    case 1:
                        html +="<font color='blue'>未结算</font>";
                        break;
                    case 2:
                        html +="<font color='green'>已结算</font>";
                        break;
                    case 3:
                        html +="<font color='red'>结算失败</font>";
                        break;
                    case 4:
                        html +="<font color='red'>比赛腰斩</font>";
                        break;
                    case 5:
                    case 6:
                        html +="<font color='green'>已结算</font>";
                        break;
                }
                return html
            },
            bettingStatus:function (val) {
                let html  = ''
                switch(val){
                    case 1:
                        html +="<font color='blue'>待确认</font>";
                        break;
                    case 2:
                        html +="已确认";
                        break;
                    case 3:
                        html +="<font color='red'>取消</font>";
                        break;
                    case 4:
                        html +="<font color='red'>手动取消</font>";
                        break;
                }
                return html
            }
        }
    }
</script>

<style lang="less">
    .statusShow{
        color:#fff;border-radius:3px;padding:3px 5px;
    }
</style>
