<template>
  <div class="footer_default">
    <van-row type="flex">
      <van-col :span="4">
        <router-link to="/" :class="{active:$route.path == '/indexD'}">
          <van-icon name="wap-home-o" size="2.2rem"/>
          <br>
          <span >首页</span>
        </router-link>
      </van-col>
      <van-col :span="4">
        <router-link :to="{path:'/lottery_record',query:{class:1}}" :class="{active:$route.path == '/lottery_record'}">
          <van-icon name="description" size="2.2rem" />
          <br>
          <span >订单</span>
        </router-link>
      </van-col>
      <van-col :span="4">
        <router-link to="/lobby" :class="{active:$route.path == '/lobby'}" class="goods">
          <img src="../../../assets/images/gou.png" alt="">
          <br>
          <span >商品列表</span>
        </router-link>
      </van-col>
      <van-col :span="4">
        <router-link to="/active" :class="{active:$route.path == '/active'}">
          <van-icon name="shop-o" size="2.2rem" />
          <br>
          <span>礼品专区</span>
        </router-link>
      </van-col>
      <van-col :span="4">
        <router-link  to="/personal" :class="{active:$route.path == '/personalD' || $route.path == '/personalW'}">
          <van-icon name="manager-o" size="2.2rem"/>
          <br>
          <span>个人中心</span>
        </router-link>
      </van-col>
    </van-row>
  </div>
</template>

<script>
import '@/assets/css/include/footer/footer.less'
export default {
  name: "foot_nav",
  data(){
    return {
      floder:this.$store.state.stationInfo !='' ? this.$store.state.stationInfo.content.station.floder : 'x002',
      spanNum:6
    }
  },
  created() {
  },
  mounted() {
    if (this.floder){
      this.$root.common.addFavicon(this.floder)
    }
  },
  methods:{
  },
  watch:{
    '$store.state.stationInfo':function (newVal){
      this.floder = newVal.content.station.floder
    }
  }
}
</script>

<style scoped>

</style>
