<template>
  <div class="sport" style="background: #ffffff">
    <div>
      <header>
        <span v-if="EquipmentType != 'app'" id="go-out"><van-icon name="wap-home-o" color="#968c84" size="24px" onclick="location.href = '/'"/></span>
        <div v-if="classifyIndex == 0">
          <span @click="selectPlayer(0)" :class="{'active':activeIndex == 0}">滚球</span>
          <span @click="selectPlayer(1)" :class="{'active':activeIndex == 1}">今日</span>
          <span @click="selectPlayer(2)" :class="{'active':activeIndex == 2}">早盘</span>
          <span v-if="floder != 'b168' && floder != 'b169' && floder != 'b170' && floder != 'b171'" @click="selectPlayer(3)" :class="{'active':activeIndex == 3}">综合过关</span>
        </div>
        <div v-if="classifyIndex == 1">
          <span @click="selectPlayer(0)" :class="{'active':activeIndex == 0}">滚球</span>
          <span @click="selectPlayer(1)" :class="{'active':activeIndex == 1}">今日</span>
          <span @click="selectPlayer(2)" :class="{'active':activeIndex == 2}">早盘</span>
          <span v-if="floder != 'b168' && floder != 'b169' && floder != 'b170' && floder != 'b171'" @click="selectPlayer(3)" :class="{'active':activeIndex == 3}">综合过关</span>
        </div>
        <span id="gameRule" onclick="location.href = '/help/roul/roul_nf.do'">游戏规则</span>
      </header>
      <div class="nav">
        <div class="top" @click="selectClassify(0)">
          <div class="icon">
          <span>
            <img v-if="classifyIndex == 0" src="@/assets/images/football-icon-2.png" alt="">
            <img v-else src="@/assets/images/football-icon-1.png" alt="">
          </span>
          </div>
          <div class="font">
            <span>足球</span>
          </div>
        </div>
        <div class="top" @click="selectClassify(1)">
          <div class="icon">
          <span>
            <img v-if="classifyIndex == 1" src="@/assets/images/basketball-icon-2.png" alt="">
            <img v-else src="@/assets/images/basketball-icon-1.png" alt="">
          </span>
          </div>
          <div class="font">
            <span>篮球</span>
          </div>
        </div>
        <div class="bottom">
          <span v-if="activeIndex == 0">滚球</span>
          <span v-if="activeIndex == 1">今日</span>
          <span v-if="activeIndex == 2">早盘</span>
          <span v-if="activeIndex == 3">综合过关</span>
          <br><span
            style="font-weight: 600">{{ (classifyIndex == 0) ? '足球' : '篮球' }}</span>
          <!--        <div class="trophy"><img src="@/assets/images/trophy_icon.jpg" alt=""></div>-->
        </div>
      </div>
    </div>
    <div class="nation" v-if="!maintain">
      <div v-if="activeIndex != 0">
        <div class="nation-list">
          <div class="title">最火</div>
          <div class="nation-box" style="width: 50%;display: inline-block;" v-for="(item, index) in playList.couponTypes" :key="index" @click="toPath(item)">
            <div class="list" style="color: #a74e25;font-size: 14px;">{{item.NAME}}</div>
          </div>
        </div>
      </div>
      <div v-if="activeIndex != 0">
        <div class="nation-list" v-for="(item , index) in playList.classifierTypeList" :key="index">
          <div class="title">{{item.NAME}}</div>
          <div class="nation-box" v-for="(item2, index2) in item.league" :key="index2" @click="toPath(item2)">
            <div class="list">{{item2.name}}</div>
          </div>
        </div>
      </div>
      <div v-else>
        <div class="nation-list" v-for="(item , index) in playList" :key="index">
          <div class="title">{{item.title}}</div>
          <div class="nation-box" v-for="(item2, index2) in item.data" :key="index2" @click="toPath(item2)">
            <div class="list">{{item2.LEAGUE}}<span class="nation-box-team">({{item2.TEAM_C}} VS {{item2.TEAM_H}})</span></div>
          </div>
        </div>
      </div>
      <div class="tip" v-if="loading">
        赛事数据加载中
      </div>
      <div class="tip" v-if="playList.length == 0 && !loading" @click="selectPlayer(activeIndex)">
        暂无赛事,点击重新获取
      </div>
    </div>
    <div v-else>
      <div class="tip">
        正在维护中
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/sport.less'
export default {
  name: "sport",
  data() {
    return {
      playType: 2,
      playList:this.$store.state.gameList || [],
      rType:this.$store.state.rType || 1,
      classifyIndex:0,
      loading:false,
      activeIndex: 0,
      EquipmentType:'',
      floder:'',
      maintain:false,
    }
  },
  created() {
  },
  mounted() {
    this.activeIndex = this.$route.query.active || 0
    this.classifyIndex = this.$route.query.classify || 0
    if(this.playList.length == 0){
      this.selectClassify(this.$route.query.classify || 0)
    }
    this.EquipmentType = this.$route.query.type || ''
    this.getStationInfo()
    this.getHGOnOff()
  },
  methods: {
    getStationInfo:function (){
      this.$fetch('native/getStationInfo.do').then((res) => {
        if(res.success){
          this.floder = res.content.station.floder
        }
      })
      //判断站点 pseudoDataClass
    },
    getHGOnOff:function (){
      this.$fetch('native/getHGOnOff.do').then((res) => {
        console.log(res)
        if(res.success){
          if(res.content == 'on'){
            this.maintain = true
          }
        }
      })
      //判断站点 pseudoDataClass
    },
    selectPlayer(index) {
      this.playList = []
      this.activeIndex = index
      if (this.classifyIndex == 0) {
        if (index == 0) {
          // 足球滚球
          this.getRollSports()
        } else if (index == 1) {
          // 足球今日
          this.getTodaySports()
        } else if (index == 2) {
          // 足球早盘
          this.getZaopanSports()
        } else if (index == 3) {
          // 足球早盘
          this.getZongheSports()
        }
      } else if (this.classifyIndex == 1) {
        if (index == 0) {
          // 篮球滚球
          this.getRollBall()
        } else if (index == 1) {
          // 篮球今日
          this.getTodayBall()
        } else if (index == 2) {
          // 篮球早盘
          this.getZaopanBall()
        } else if (index == 3) {
          // 篮球早盘
          this.getZongheBall()
        }
      }
    },
    selectClassify(index) {
      this.classifyIndex = index
      this.selectPlayer(this.activeIndex)
    },
    // rType ＝rb 主要玩法，rType =rpd 波胆
    getRollSports: function () { //足球数据
      this.rType = 1
      this.classifyIndex = 0
      this.loading = true
      let params = {
        rType: 'rb',
      }
      this.$fetch('sports/hg2/roll/ft.do', params, false).then(res => {
        for(let index in res){
          let params = {
            title:index,
            data:res[index]
          }
          this.playList.push(params)
        }
        this.loading = false
        this.$store.commit('pushGameList',this.playList)
        this.$store.commit('pushRType',this.rType)
      })
    },
    getTodaySports: function () { //足球数据
      this.rType = 2
      this.classifyIndex = 0
      this.loading = true
      let params = {
        gType: 'FT',
        showType: 'ft',
      }
      this.$fetch('sports/hg2/league/list.do', params, false).then(res => {
        this.playList = res
        this.loading = false
        this.$store.commit('pushGameList',this.playList)
        this.$store.commit('pushRType',this.rType)
      })
    },
    getZaopanSports: function () { //足球数据
      this.rType = 3
      this.classifyIndex = 0
      this.loading = true
      let params = {
        gType: 'FT',
        showType: 'fu',
      }
      this.$fetch('sports/hg2/league/list.do', params, false).then(res => {
        this.playList = res
        this.loading = false
        this.$store.commit('pushGameList',this.playList)
        this.$store.commit('pushRType',this.rType)
      })
    },
    getZongheSports: function () { //足球数据
      this.rType = 4
      this.classifyIndex = 0
      this.loading = true
      let params = {
        gType: 'FT',
        showType: 'p3',
      }
      this.$fetch('sports/hg2/league/list.do', params, false).then(res => {
        this.playList = res
        this.loading = false
        this.$store.commit('pushGameList',this.playList)
        this.$store.commit('pushRType',this.rType)
      })
    },
    getRollBall: function () { //篮球数据
      this.rType = 1
      this.classifyIndex = 1
      this.loading = true
      let params = {}
      this.$fetch('sports/hg2/roll/bk.do', params, false).then(res => {
        for(let index in res){
          let params = {
            title:index,
            data:res[index]
          }
          this.playList.push(params)
        }
        this.loading = false
        this.$store.commit('pushGameList',this.playList)
        this.$store.commit('pushRType',this.rType)
      })
    },
    getTodayBall: function () { //篮球数据
      this.rType = 2
      this.classifyIndex = 1
      this.loading = true
      let params = {
        gType: 'BK',
        showType: 'ft',
      }
      this.$fetch('sports/hg2/league/list.do', params, false).then(res => {
        this.playList = res
        this.loading = false
        this.$store.commit('pushGameList',this.playList)
        this.$store.commit('pushRType',this.rType)
      })
    },
    getZaopanBall: function () { //篮球数据
      this.rType = 3
      this.classifyIndex = 1
      this.loading = true
      let params = {
        gType: 'BK',
        showType: 'fu',
      }
      this.$fetch('sports/hg2/league/list.do', params, false).then(res => {
        this.playList = res
        this.loading = false
        this.$store.commit('pushGameList',this.playList)
        this.$store.commit('pushRType',this.rType)
      })
    },
    getZongheBall: function () { //篮球数据
      this.rType = 4
      this.classifyIndex = 1
      this.loading = true
      let params = {
        gType: 'BK',
        showType: 'p3',
      }
      this.$fetch('sports/hg2/league/list.do', params, false).then(res => {
        this.playList = res
        this.loading = false
        this.$store.commit('pushGameList',this.playList)
        this.$store.commit('pushRType',this.rType)
      })
    },
    toPath(item){
      if(this.classifyIndex == 0){
        if(this.rType == 1){
          this.$router.push({path:'/sportDetailR',query:{id:item.LID}})
        } else if(this.rType == 2){
          this.$router.push({path:'/sportDetailT',query:{id:item.LID || item.id,FIELD:item.FIELD||''}})
        } else if(this.rType == 3){
          this.$router.push({path:'/sportDetailZ',query:{id:item.LID || item.id,FIELD:item.FIELD||''}})
        } else if(this.rType == 4){
          this.$router.push({path:'/sportDetailC',query:{id:item.LID || item.id,FIELD:item.FIELD||''}})
        }
      } else if(this.classifyIndex == 1) {
        if(this.rType == 1){
          this.$router.push({path:'/ballDetailR',query:{id:item.LID}})
        } else if(this.rType == 2){
          this.$router.push({path:'/ballDetailT',query:{id:item.LID || item.id,FIELD:item.FIELD||''}})
        } else if(this.rType == 3){
          this.$router.push({path:'/ballDetailZ',query:{id:item.LID || item.id,FIELD:item.FIELD||''}})
        } else if(this.rType == 4){
          this.$router.push({path:'/ballDetailC',query:{id:item.LID || item.id,FIELD:item.FIELD||''}})
        }
      }
    },
  }
}
</script>

<style scoped>
#gameRule {
  position: absolute;
  right: 10px;
  color: #c3a45e;
}
</style>
