<template>
  <div class="baoku">
    <div class="list header">
      <van-icon name="arrow-left" @click="$root.common.backPage()" />
      <div class="list font">我的宝库</div>
      <div class="query"><img src="../assets/images/query.png" alt=""></div>
    </div>
    <div class="list box">
      <div class="list deck">
        <div class="list title">宝库总金额（元）</div>
        <div class="list money">{{yuebaoData.paypal || 0}}</div>
        <div class="list income">
          <div style="width: 40%"><p>今日收益(元)</p><p><span>{{yuebaoData.taody_money || 0}}</span></p></div>
          <div style="width: 20%"><p>累计收益(RMB)</p><p><span>{{yuebaoData.all_money || 0}}</span></p></div>
          <div style="width: 40%"><p>24小时利率</p><p><span>{{yuebaoData.shouyil || 0}}%</span></p></div>
        </div>
        <div class="input-box">
          <div class="deck" v-if="inputStatus == 1">
            <div class="list input-title">转入余额</div>
            <div class="list input-money">
              <div class="left">￥</div>
              <div class="right"><input type="text" placeholder="请输入转入金额" v-model="addMoney" /></div>
            </div>
            <div class="list input-btn">
              <button @click="add()">确认转入</button>
            </div>
          </div>
          <div class="deck" v-if="inputStatus == 2">
            <div class="list input-title">转出余额</div>
            <div class="list input-money">
              <div class="left">￥</div>
              <div class="right"><input type="text" placeholder="请输入转出金额"  v-model="removeMoney" /></div>
            </div>
            <div class="list input-btn">
              <button @click="remove()">确认转出</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="list btn">
      <button @click="inputStatus = 2">转出</button>
      <button @click="inputStatus = 1">转入</button>
    </div>
  </div>
</template>

<script>
import '@/assets/css/baoku.less'
import {Toast} from "vant";

export default {
  name: 'baoku',
  data() {
    return {
      inputStatus:0,
      yuebaoData:'',
      addMoney:'',
      removeMoney:'',
    }
  },
  created: function () {
    this.getyuebao()
  },
  mounted: function () {
  },
  methods: {
    getyuebao: function () {
      let params = {
        token: this.$store.state.token,
      }
      this.$post('Handle/yuebao', params, true).then((res) => {
        if (res.code == 200) {
          this.yuebaoData = res.data
        } else {
          Toast(res.message)
        }
      })
    },
    add: function () {
      let params = {
        token: this.$store.state.token,
        money: this.addMoney,
      }
      this.$post('Handle/addru', params, true).then((res) => {
        if (res.code == 200) {
          Toast(res.message)
          this.inputStatus = 0
          this.getyuebao()
        } else {
          Toast(res.message)
        }
      })
    },
    remove: function () {
      let params = {
        token: this.$store.state.token,
        money: this.removeMoney,
      }
      this.$post('Handle/addchupost', params, true).then((res) => {
        if (res.code == 200) {
          Toast(res.message)
          this.inputStatus = 0
          this.getyuebao()
        } else {
          Toast(res.message)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>
