<template>
  <div class="login">
    <div class="list back" @click="$root.common.backPage()">
      <img src="../assets/images/icon/back.png" alt="">
    </div>
    <div class="list title">欢迎来到鹏程</div>
    <div class="list tip">账号注册</div>
    <div class="login-header">
      <div class="list label">账号</div>
      <div class="list input"><input type="number" placeholder="请输入手机号码" v-model="registerData.phone"></div>
      <div class="list label">密码</div>
      <div class="list input"><input type="password" placeholder="请输入密码" v-model="registerData.pwd"></div>
      <div class="list input"><input type="password" placeholder="请再次输入" v-model="registerData.pwd2"></div>
      <div class="list label">验证码</div>
      <div class="list input"><input type="text" placeholder="请输入验证码" v-model="registerData.smscode">
        <button class="code" v-if="codeStatus == 1" @click="getPhoneCode()">获取验证码</button>
        <button class="code" v-else style="background: #4e4e4e">获取验证码</button>
      </div>
      <div class="list label">邀请码</div>
      <div class="list input"><input type="text" placeholder="可不填" v-model="code"></div>
    </div>
    <div class="list login-btn" @click="register()">注册</div>
    <div class="list" style="text-align: center;margin: 2rem auto;">
      <router-link to="/login" style="color: #959595;">
        已有账号
      </router-link>
    </div>
  </div>
</template>

<script>
import '@/assets/css/login.less'
import {Toast} from "vant";
export default {
  name: "register",
  data(){
    return{
      codeStatus:1,
      registerData:{
        phone:'',
        pwd:'',
        pwd2:'',
        smscode:'',
        md5:'1',
      },
      code:this.$route.query.top || '',
    }
  },
  created:function(){
  },
  mounted:function(){
  },
  methods:{
    getPhoneCode:function (){
      let params = {
        phone:this.registerData.phone,
        dest:'86',
      }
      if(!this.$root.common.dataSafeValidate(1,this.registerData.phone)){
        return false
      }
      this.$post('handle/zhuce',params,true).then((res) => {
        if(res.code == 200){
          Toast('操作成功')
        } else {
          Toast(res.message)
        }
      })
    },
    register:function (){
      let params = this.registerData
      if(params.pwd != params.pwd2){
        Toast('两次密码不一致')
        return false
      }
      // if(!this.$root.common.dataSafeValidate(2,params)){
      //   return false
      // }
      params.code = this.code
      this.$post('mobile/reg',params,true).then((res) => {
        if(res.code == 200){
          Toast('注册成功')
          this.$router.push({path:'/login'})
        } else {
          Toast(res.message)
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
