<template>
  <div class="help">
    <div class="list" v-if="!detailBoxShow">
      <div class="select-box">
        <button v-for="(item,index) in noticeList1" :key="index" :class="{'active':noticeIndex == index}" @click="toggle(index,item.code)">{{item.title}}</button>
      </div>
      <div class="select-box">
        <button v-for="(item,index) in noticeList2" :key="index" :class="{'active':noticeIndex == (index+3)}" @click="toggle(index+3,item.code)">{{item.title}}</button>
      </div>
      <div class="list-box" v-for="(item,index) in detailList" :key="index" @click="setContent(item)">
        <span>{{item.title}}</span><br>
        <span>{{$root.common.getMyDate(item.createTime,2)}}</span>
        <img src="@/assets/images/right_icon.png" alt="">
      </div>
    </div>
    <div class="content" v-if="detailBoxShow">
      <div class="img" @click="detailBoxShow = false"><img src="@/assets/images/left_icon.png" alt=""></div>
      <div class="title">{{content.title}}</div>
      <div class="date">{{$root.common.getMyDate(content.createTime,2)}}</div>
      <div class="text" v-html="content.content"></div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/help.less'
export default {
  name: "account",
  data(){
    return{
      noticeList1:[{title:this.$t('最新公告'),code:'13',},{title:this.$t('彩票游戏'),code:'9',},{title:this.$t('电子游艺'),code:'12',}],
      noticeList2:[{title:this.$t('体育竞技'),code:'11',},{title:this.$t('真人视讯'),code:'10',},{title:this.$t('棋牌娱乐'),code:'27',}],
      noticeIndex:0,
      detailList:[],
      detailBoxShow:false,
      content:'',
    }
  },
  created() {
    this.getPopNotices(this.noticeList1[0].code)
  },
  mounted() {
  },
  methods:{
    getPopNotices(code){
      this.detailList = []
      let param = {
        code:code
      }
      this.$fetch('native/getPopNotices.do',param,false).then(res=>{
        this.detailList = res.content
      })
    },
    setContent(item){
      this.content = item
      this.detailBoxShow = true
    },
    toggle(index,code){
      this.noticeIndex = index
      this.getPopNotices(code)
    },
  }
}
</script>

<style scoped lang="less">

</style>
