<template>
	<div class="noData" v-if="noDataShow && locale == 'zh'">
		{{noDataWords}}
	</div>
  <div class="noData" v-else-if="noDataShow">
    not data
  </div>
</template>
<script>
export default{
	name:'noData',
	props:{
		noDataWords:{
			default: '暂无数据'
		},
		noDataShow:{
			default:false
		}
	},
  data(){
	  return{
	    locale:localStorage.getItem('locale')
    }
  }
}
</script>
<style scoped lang="stylus">
.noData
	width: 100%
	height: 80px
	line-height: 80px
	text-align: center
</style>
