<template>
  <div class="account_details">
    <personal_header @get_lottery_order="getAccountDetail" :headerData="headerData"></personal_header>
    <div class="content">
      <div class="content-card">
        <div class="c-c-item">
          <em v-if="typeStatus == 1">总充值</em>
          <em v-else>总提款</em>
          <p style="color: #00aa00;" v-if="typeStatus == 1">{{accountDetailList.aggsData.totalMoney || 0}}</p>
          <p style="color: #00aa00;" v-else>{{accountDetailList.aggsData.drawMoney || 0}}</p>
        </div>
      </div>
      <div class="content-list" v-if="accountDetail.length > 0">
        <van-pull-refresh v-model="refreshing" @refresh="onRefresh">
          <van-list v-model="loading" :finished="finished" finished-text="没有更多了" @load="getAccountDetail" :offset="50">
            <div class="list-wrap" v-for="(item,index) in accountDetail" :key="index" >
              <a href="javascript:void(0)">
                <p>
                  <span>{{type[typeStatus - 1].name}}方式: <em>{{item.type | getType}}</em></span>
                  <span style="color:#5cb85c;" v-if="item.status == 2">处理成功</span>
                  <span  style="color: red;" v-else-if="item.status == 1">处理中</span>
                  <span style="color: red;" v-else-if="item.status == 3">处理失败</span>
                  <span style="color:red;" v-if="item.status == 4">已取消</span>
                  <span style="color:#5cb85c;" v-if="item.status == 5">已过期</span>
                </p>
                <p>
                  <span>{{type[typeStatus - 1].name}}金额：
                    <em v-if="typeStatus == 1">{{item.money}}</em>
                    <em v-if="typeStatus == 2">{{item.drawMoney}}</em>
                  </span>
                </p>
                <p><span>{{type[typeStatus - 1].name}}时间：<em>{{$root.common.getMyDate(item.createDatetime)}}</em></span></p>
                <p style="display: inline-block;">{{type[typeStatus - 1].name}}备注：<span>{{item.remark}}</span></p>
              </a>
            </div>
          </van-list>
        </van-pull-refresh>
      </div>
      <div style="text-align: center;background: #efeff4;line-height: 4rem;font-size: 1.8rem" v-else>
        暂时没有{{$store.state.guessLabel}}记录
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/center/account_details.less'
import personal_header from '@/components/include/personal_header'
import {Dialog} from "vant";
export default {
  name: "account_details",
  components:{
    personal_header
  },
  data(){
    return{
      headerData:{title:'账户明细',filter:'accountDetails',popupHeight:'28.4rem'},
      accountDetail:[],
      accountDetailList:{
        aggsData:{}
      },
      typeStatus:1,
      type:[
        {type:1,name:'充值',url:'native/comrd.do'},
        {type:2,name:'取款',url:'native/drawrd.do'},
      ],//1 为充值记录，2 为提款记录
      params:{
        startTime:'',
        endTime:'',
        type:'',
        page:1,
        rows:6,
      },
      refreshing:false, //是否处于加载状态
      loading:false, //是否处于架子啊状态，加载过程中不触发load 事件
      finished:false,//是否已加载完成，加载完成不在触发,这里是改变text
    }
  },
  methods:{
    //查询提款充值记录
     getAccountDetail:function (arg={aType:this.typeStatus}){
       this.typeStatus = arg.aType
       if ('endTime' in arg){
         this.params.endTime = arg.endTime
         this.params.startTime = arg.startTime
         this.params.type = arg.aTtype
         this.params.status = arg.aStatus
         this.accountDetail = []
         this.params.page = 0
         this.finished = false;
         this.loading = true;
       }
       this.params.page ++
       // this.params.startTime = '2018-05-03 00:00:00'
       this.$post(this.type[this.typeStatus - 1].url,this.params,true).then(res=>{
         if ('isLogin' in res && res.isLogin == false){
           Dialog.alert({
             title: '登陆提示',
             message: res.msg
           }).then(() => {
             this.$router.push({
               path: '/login',
             })
           });
           return
         }
         if (this.refreshing){
           this.accountDetail = []
           this.refreshing = false
         }

         this.accountDetail = [...this.accountDetail,...res.list]
         this.accountDetailList = res

         this.loading = false
         if (res.totalCount  <= (parseInt(this.params.rows) * parseInt(this.params.page))){
           this.finished = true
         }

       })
     },
    //清空数据
    onRefresh(){
      this.finished = false;
      this.loading = true;
      this.params.page = 0
      console.log(5555)
      this.getAccountDetail({aType: this.typeStatus });
    },
  },
  filters:{
    typeStatusFilters:function (status){
      switch (status) {
        case 1:
          return '处理中';
        case 2:
          return '处理成功';
        case 3:
          return '处理失败';
        case 4:
          return '已取消';
        case 5:
          return '已过期';
      }
    },
    getType:function(type){
      switch (type) {
        case 1:
          return '人工加款';
        case 2:
          return '人工扣款';
        case 3:
          return '在线取款失败';
        case 4:
          return '在线取款';
        case 5:
          return '在线支付';
        case 6:
          return '快速入款';
        case 7:
          return '一般入款';
        case 8:
          return '体育投注';
        case 9:
          return '反水加钱';
        case 10:
          return '反水回滚';
        case 11:
          return '代理返点加钱';
        case 12:
          return '代理返点回滚';
        case 13:
          return '多级代理返点加钱';
        case 14:
          return '多级代理返点回滚';
        case 113:
          return '代理占成加钱';
        case 15:
          return '三方额度转入系统额度';
        case 16:
          return '系统额度转入三方额度';
        case 87:
          return '站内额度转入';
        case 88:
          return '站内额度转出';
        case 55:
          return '存款取消';
        case 54:
          return '提款取消';
        case 78:
          return '晋级赠送';
        case 79:
          return '注册赠送';
        case 80:
          return '存款赠送';
        case 201:
          return '体育投注';
        case 202:
          return '体育派奖';
        case 203:
          return '体育撤单';
        case 204:
          return '体育派奖回滚';
        case 130:
          return '彩票投注';
        case 131:
          return '彩票派奖';
        case 132:
          return '彩票撤单';
        case 133:
          return '彩票派奖回滚';
        case 134:
          return '参与彩票合买';
        case 135:
          return '彩票合买满员';
        case 136:
          return '彩票合买失效';
        case 137:
          return '彩票合买撤单';
        case 139:
          return '彩票合买派奖';
        case 138:
          return '彩票合买截止';
        case 140:
          return '六合彩投注';
        case 141:
          return '六合彩派奖';
        case 142:
          return '六合彩派奖回滚';
        case 143:
          return '六合彩撤单';
        case 18:
          return '活动中奖';
        case 19:
          return '现金兑换积分';
        case 20:
          return '积分兑换现金';
        case 17:
          return '三方转账失败';
        case 1130:
          return '三方彩票增加';
        case 1131:
          return '三方彩票减少';
        case 168:
          return '抢红包';
        case 169:
          return '发红包';
        case 170:
          return '红包金额返还';
        case 23:
          return '系统接口加款';
        case 801:
          return '虚拟币入款';
      }
    },
  }
}
</script>

<style scoped>

</style>