<template>
  <div class="mnyrecord">
    <personal_header @get_lottery_order="accountChangeRecord" :headerData="headerData"></personal_header>
    <div class="content">
      <div class="content-list" v-if="mnyrecordList.length > 0">
        <van-pull-refresh v-model="refreshing" @refresh="onRefresh" >
          <van-list v-model="loading" :finished="finished" finished-text="没有更多了" @load="accountChangeRecord" :offset="50">
            <div class="list-wrap" v-for="(item,index) in mnyrecordList" :key="index" >
              <a href="javascript:void(0)">
                <p><span>类型：<em>{{item.type | typeFilter}}</em></span></p>
                <p><span>订单号：<em>{{item.orderId}}</em></span></p>
                <p><span>变动前积分：<em class="blue">{{item.beforeMoney}} </em> 分</span></p>
                <p><span>变动积分：</span><em class="red">{{item.money}}</em> 分</p>
                <p><span>变动后积分：</span><em class="green">{{item.afterMoney}}</em> 分</p>
                <p><span>处理时间：</span><em>{{$root.common.getMyDate(item.createDatetime)}}</em></p>
                <p><span>备注：</span>{{item.remark}}</p>
              </a>
            </div>
          </van-list>
        </van-pull-refresh>
      </div>
      <div style="text-align: center;background: #efeff4;line-height: 4rem;font-size: 1.8rem" v-else>
        暂时没有账变记录
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/center/mnyrecord.less'
import personal_header from '@/components/include/personal_header'
import {Dialog} from "vant";
export default {
  name: "mnyrecord",
  components:{
    personal_header
  },
  data(){
    return{
      headerData:{title:'账变记录',filter:'isChangeMoney',popupHeight:'18.4rem'},
      mnyrecordList:[],
      mnyrecordData:{},
      params:{
        startTime:'',
        endTime:'',
        type:'',
        page:0,
        rows:4,
      },
      refreshing:false, //是否处于加载状态
      loading:false, //是否处于架子啊状态，加载过程中不触发load 事件
      finished:false,//是否已加载完成，加载完成不在触发,这里是改变text
    }
  },
  created() {
  },
  methods:{
    accountChangeRecord(arg=''){
      if (arg){
        this.params.endTime = arg.endTime
        this.params.startTime = arg.startTime
        this.params.type = arg.type
        this.params.page = 0
        this.finished = false;
        this.loading = true;
        this.mnyrecordList = []
      }
      this.params.page ++
      this.$post('native/mnyrecordlist.do',this.params,true).then(res=>{
        if ('isLogin' in res && res.isLogin == false){
          Dialog.alert({
            title: '登陆提示',
            message: res.msg
          }).then(() => {
            this.$router.push({
              path: '/login',
            })
          });
          return
        }
        if (this.refreshing){
          this.mnyrecordList = []
          this.refreshing = false
        }
          this.mnyrecordList = [...this.mnyrecordList,...res.list]
          this.mnyrecordData = res

          this.loading = false
          if (res.totalCount  <= (parseInt(res.currentPageNo) * parseInt(res.pageSize))){
            this.finished = true
          }
      })
    },
    //清空数据
    onRefresh:function (){
      this.finished = false;
      this.loading = true;
      this.params.page = 0
      this.accountChangeRecord();
    }
  },
  filters:{
    typeFilter:function (type){
        switch (type) {
          case 1:
            return '人工加款';
          case 2:
            return '人工扣款';
          case 3:
            return '在线取款失败';
          case 4:
            return '在线取款';
          case 5:
            return '在线支付';
          case 6:
            return '快速入款';
          case 7:
            return '一般入款';
          case 9:
            return '反水加钱';
          case 10:
            return '反水回滚';
          case 11:
            return '代理返点加钱';
          case 12:
            return '代理返点回滚';
          case 13:
            return '多级代理返点加钱';
          case 14:
            return '多级代理返点回滚';
          case 113:
            return '代理占成加钱';
          case 15:
            return '三方额度转入系统额度';
          case 16:
            return '系统额度转入三方额度';
          case 87:
            return '站内额度转入';
          case 88:
            return '站内额度转出';
          case 55:
            return '存款取消';
          case 54:
            return '提款取消';
          case 78:
            return '晋级赠送';
          case 79:
            return '注册赠送';
          case 80:
            return '存款赠送';
          case 201:
            return '体育下单';
          case 202:
            return '体育派奖';
          case 203:
            return '体育撤单';
          case 204:
            return '体育派奖回滚';
          case 130:
            return '订单下单';
          case 131:
            return '订单完单';
          case 132:
            return '订单撤单';
          case 133:
            return '订单派奖回滚';
          case 134:
            return '参与订单合买';
          case 135:
            return '订单合买满员';
          case 136:
            return '订单合买失效';
          case 137:
            return '订单合买撤单';
          case 139:
            return '订单合买派奖';
          case 138:
            return '订单合买截止';
          case 140:
            return '六合彩下单';
          case 141:
            return '六合彩派奖';
          case 142:
            return '六合彩派奖回滚';
          case 143:
            return '六合彩撤单';
          case 18:
            return '活动中奖';
          case 19:
            return '现金兑换积分';
          case 20:
            return '积分兑换现金';
          case 17:
            return '三方转账失败';
          case 1130:
            return '三方订单增加';
          case 1131:
            return '三方订单减少';
          case 168:
            return '抢红包';
          case 169:
            return '发红包';
          case 170:
            return '红包积分返还';
          case 23:
            return '系统接口加款';
        }
    },
  }
}
</script>

<style scoped>

</style>