<template>
  <div class="scoreChange">
    <header class="header">
      <a herf="javascript:void(0)" @click="back">
        <van-icon name="arrow-left"/>
        <span class="bark">返回</span>
      </a>
      <span class="title">积分兑换</span>
    </header>
    <div class="content">
      <div class="card-header">
        <span style="width: 100%; text-align: center; display: inline-block;">当前账户：<font color="red">{{userInfo.account}}</font></span>
      </div>
      <div class="card-content">
        <van-field v-model="userInfo.balance" type="text" name="账户余额" label="账户余额" placeholder="0" :disabled="true"/>
        <van-field v-model="integral" type="text" name="账户积分" label="账户积分" placeholder="0" :disabled="true"/>
        <van-field readonly clickable name="picker" :value="params.typeIdReveal" label="选择器" placeholder="请选择类型" @click="handleExchangeConfig"/>
        <van-field v-model="params.amount" type="text" name="额度" label="兑换额度" placeholder="请输入兑换额度"/>
      </div>
      <van-button type="primary" color="#ec2829" block @click="getExchange">立即兑换</van-button>
    </div>

    <van-popup v-model="showPicker" position="bottom">
      <van-picker
          show-toolbar
          :columns="options.list"
          @confirm="onConfirm"
          @cancel="showPicker = false"
      />
    </van-popup>
  </div>
</template>

<script>
import '@/assets/css/center/scoreChange.less'
import { Toast} from "vant";
export default {
  name: "scoreChange",
  data(){
    return{
      options: {
        value:[],
        list:[]
      },
      params:{
        typeId:'',
        typeIdReveal:'----请选择类型----',
        amount:0
      },
      exchangeConfig:{}, //兑换配置
      exchangeLimit:'', //兑换额度选项
      disabled:true, //是否可以兑换
      integral:'',
      showPicker:false,
      value:'',
      userInfo:0,
    }
  },
  created() {
    this.getExchangeConfig()
    this.getMeminfo()
  },
  mounted() {

  },
  methods:{
    back: function() {
      this.$router.push('/personal')
    },
    onConfirm:function (data){
      let id = ''
      this.params.typeIdReveal = data
      this.options.list.some((item,index)=>{
        if (item == data){
          id = this.options.value[index]
        }
      })
      this.exchangeConfig.configs.some(item=>{
        if (item.id == id){
          this.exchangeLimit = item
        }
      })
      this.showPicker = false
    },
    //提交兑换金额
    getExchange:function () {
      let changeSelect = this.exchangeLimit
      if (Number(this.params.amount) > changeSelect.maxVal){
        Toast(`兑换不能大于` + changeSelect.maxVal)
        return false
      }
      if (Number(this.params.amount)  < changeSelect.minVal){
        Toast(`兑换不能小于` + changeSelect.minVal)
        return false
      }
      if(!changeSelect.id){
        Toast('请选择兑换方式')
        return false;
      }
      let params = {
        typeId:changeSelect.id,
        amount:Number(this.params.amount)
      }
      this.$fetch('native/exchange.do',params,true).then((res)=>{
        if (res.success == true){
          Toast('兑换成功')
          this.getMeminfo()
          this.getExchangeConfig()
        }else{
          Toast(res.msg)
        }
      })
    },
    // 获取余额
    getMeminfo:function () {
      this.$fetch('native/meminfo.do').then(res =>{
        if(res.success){
          this.userInfo = res.content
        }
      })
    },
    //积分配置
    getExchangeConfig(){
      this.$post('native/exchangeConfig.do',{},true).then(res=>{
        if (res.success == true){
          this.options.list = []
          this.exchangeConfig = res.content
          this.integral = res.content.score
          if (this.exchangeConfig.configs != ''){
            for (let i in  this.exchangeConfig.configs){
              if (this.exchangeConfig.configs[i].type == 1){
                this.options.list.push('现金兑换积分')
                this.options.value.push(this.exchangeConfig.configs[i].id)
              } else if (this.exchangeConfig.configs[i].type == 2){
                this.options.list.push('积分兑换现金')
                this.options.value.push(this.exchangeConfig.configs[i].id)
              }
            }

          }else{
            this.disabled = false
            Toast( '积分兑换未配置');
          }
        }
      })
    },
    handleExchangeConfig(){
      if (!this.disabled){
        Toast('积分兑换未配置')
        return
      }
      this.showPicker = true
    }
  }
}
</script>

<style scoped>

</style>