<template>
  <div class="withdrawDeposit">
    <header class="withdrawDeposit-header">
      <a herf="javascript:void(0)" @click="back">
        <van-icon name="arrow-left"/>
        <span class="bark">返回</span>
      </a>
      <span class="title">提款</span>
    </header>
    <main>
      <div class="flexContent">
        <h1 >提示信息</h1>
        <div class="explain">
          1. 每天的提款处理时间为：<span class="c-r">{{pickMoneyInfor.startTime}}</span>至<span class="c-r">{{pickMoneyInfor.endTime}}</span><br/>
          2.提款3分钟内到账。(如遇高峰期，可能需要延迟到十分钟内到帐);<br/>
          3. 用户每日最小提款<span class="c-r">{{pickMoneyInfor.minPickMoney}}</span>元，最大提款<span class="c-r">{{pickMoneyInfor.maxPickMoney}}</span>元。<br/>
          4. 今日可提款<span class="c-r">{{pickMoneyInfor.wnum}}</span>次，已提款<span class="c-r">{{pickMoneyInfor.curWnum}}</span> 次 ;
        </div>
        <h1 >消费比例</h1>
        <div class="explain">
          1. 出款需达{{$store.state.guessLabel}}量：<span class="c-r">{{pickMoneyInfor.checkBetNum}}</span>，当前有效{{$store.state.guessLabel}}金额：<span class="c-r">{{pickMoneyInfor.validBetMoney}}</span><br/>
          2. 是否能取款：<span class="c-r">{{pickMoneyInfor.drawFlag}}</span>
        </div>
        <van-cell-group>
          <van-field v-if="pickMoneyInfor.cardNo" input-align="centen" clearable type="number" label="银行卡" :placeholder="pickMoneyInfor.bankName + '(尾号' + pickMoneyInfor.cardNo.replace('******', '') + ')'" disabled />
          <van-field input-align="centen" clearable type="number" label="真实姓名" :placeholder="pickMoneyInfor.userName" disabled />
          <van-field input-align="centen" clearable type="number" label="账户余额" :placeholder="String(pickMoneyInfor.accountBalance)" disabled />
          <van-field v-model="money" input-align="centen" clearable type="number" label="提款金额" :placeholder="'最少提现'+pickMoneyInfor.minPickMoney+'元'" />
          <van-field v-model="password"   input-align="centen" clearable type="password" label="提款密码" placeholder="请输入提款密码" />
        </van-cell-group>
        <van-radio-group v-model="redio" v-if="$store.state.userInfo.walletAddress">
          <van-cell-group>
            <van-cell title="银行卡" clickable @click="redio = '0'">
              <template #right-icon>
                <van-radio name="0"  checked-color="#ee0a24"/>
              </template>
            </van-cell>
            <van-cell title="钱包" clickable @click="redio = '1'">
              <template #right-icon>
                <van-radio name="1" checked-color="#ee0a24" />
              </template>
            </van-cell>
          </van-cell-group>
        </van-radio-group>
        <van-button @click="submits" size="normal" type="danger" style="margin:20px 0 20px 10%;">申请提款</van-button>
      </div>
      <!--投注成功后弹窗-->
      <van-dialog v-model="tixianSuccess" title="提示"  confirm-button-text="确定" :before-close="beforeClose">
        <div style="text-align: center">提交成功,请等待审核</div>
      </van-dialog>
      <!--投注成功后弹窗-->
    </main>
  </div>
</template>

<script>
import '@/assets/css/center/withdrawDeposit.less';
import { Dialog } from 'vant';
import { Toast } from 'vant';
export default {
  name: "withdrawDeposit",
  components:{
    "van-dialog": Dialog.Component,
  },
  data(){
    return{
      money: '', //金额
      password: '', //安全码
      pickMoneyInfor:'',//卡号余额等数据
      tixianSuccess:false,//提现成功弹窗
      redio:'0',//提现成功弹窗
    }
  },
  created() {
    this.getPick_money_data();//获取提款时的提款帐号余额，卡号，银行名称，限制等数据
  },
  mounted() {

  },
  methods:{
    back(){
      this.$router.push('/personal')
    },
    //获取提款时的提款帐号余额，卡号，银行名称，限制等数据
    getPick_money_data:function(){
      this.$root.common.loading(true)
      this.$post('native/pick_money_data.do',{}).then((ret) => {
        if(ret.success) {
          this.pickMoneyInfor = ret.content;
          this.pickMoneyInfor.cardNo ? this.pickMoneyInfor.cardNo = this.pickMoneyInfor.cardNo.substr(-4) : '';
        } else {
          if(!ret.success) {
            Dialog.alert({
              title: '登陆提示',
              message: ret.msg
            }).then(() => {
              this.$router.push({
                path: '/login',
              })
            });
          }
        }
        this.$root.common.loading(false)
      })
    },
    beforeClose:function(){
      this.$router.push({
        path: '/personal',
      })
    },
    //提交
    submits:function(){
      if(!this.money){
        Toast('请输入提款金额');
        return false;
      }else if(!this.password){
        Toast('请输入提款金额');
        return false;
      }else if(this.pickMoneyInfor.checkBetNum > this.pickMoneyInfor.validBetMoney){
        Toast('提款申请失败，'+this.$store.state.guessLabel+'量未达标！');
        return false;
      }else{
        this.getPickMoney();//提款
      }
    },
    //提款
    getPickMoney:function(){
      const loading = Toast.loading({
        duration: 0,
        forbidClick: true,
        loadingType: 'spinner',
        message: '提交中'
      });
      let params = {
        money: this.money,
        repPwd: this.password,
        withdrawWay: this.redio,
      };
      this.$post('native/post_pick_money.do',params).then(ret=> {
        if(ret.success) {
          loading.clear();
          this.tixianSuccess = true;
        } else {
          Toast.fail(ret.msg);
        }
      })
    },
  }
}
</script>

<style scoped>

</style>