<template>
  <div class="bg1" id="home-rules">
    <section class="main">
      <div class="wrapper">
        <!-- 目的 -->
        <div class="item">
          <div class="tm">
            <i class="iconfont icon-tag-multiple"></i>目的
          </div>
          <div class="co">
            <div class="row">
              <div class="no">1</div>
              <div class="ct">加盟计划属于一种合作营销计划，一项寻找“合作伙伴”的活动，鼓励拥有自己网站的个人及公司，推广我们这个最优质且具高度信用的竞猜平台公司。成为我们的代理商共同打造平台，合作共赢从中获得相应的回报。<br>
                <div class="green">加入{{WEB_NAME}}合营伙伴请联系 QQ : {{SITE_QQ}}</div>
              </div>
            
            </div>

          </div>
        </div>
        <!-- 我们的优势 -->
        <div class="item">
          <div class="tm">
            <i class="iconfont icon-tag-multiple"></i>我们的优势
          </div>
          <div class="co">
            <div class="row">
              <div class="no">1</div>
              <div class="ct">我们的市场策略为行业领先水平，口碑相传也是我们最好的营销模式之一。</div>
            </div>
            <div class="row">
              <div class="no">2</div>
              <div class="ct">最佳佣金计划，合营伙伴将可挣得最高相当于公司纯盈利60%的佣金。</div>
            </div>
            <div class="row">
              <div class="no">3</div>
              <div class="ct">多种支付方式供您选择，让您不会错过任何一笔佣金的支付。</div>
            </div>
            <div class="row">
              <div class="no">4</div>
              <div class="ct">在线报表，让所有的合营伙伴可以随时随地查看高度透明最新的推广效果及会员的表现情况。</div>
            </div>
            <div class="row">
              <div class="no">5</div>
              <div class="ct">我们有优秀的技术及客服团队7*24小时为您服务。帮你解决后顾之忧。</div>
            </div>
          </div>
        </div>
        <!-- 佣金回馈 -->
        <div class="item">
          <div class="tm">
            <i class="iconfont icon-tag-multiple"></i>佣金回馈
          </div>
          <div class="co">
            <!-- 表格 -->
            <div class="row">
              <div class="ct">
                <table class="tb">
                  <tr>
                    <th>序号</th>
                    <th>代理等级</th>
                    <th>活跃会员</th>
                    <th>净盈利</th>
                    <th>佣金比例</th>                
                  </tr>
                  <tr v-for="(items,index) in unionBonusRuleList" :key =index>
                    <td>{{items.order}}</td>
                    <td>{{items.level}}</td>
                    <td>{{items.usersCount}}</td>
                    <td>{{items.profitMax}}元以内</td>
                    <td>{{items.scale}}</td>
                  </tr>
                </table>
              </div>

            </div>
            <div class="row">
              <div class="no">1</div>
              <div class="ct">活跃会员标准：当月总存款达到500元，且当月于相关项目最少投注1000元为活跃会员。</div>
            </div>
            <div class="row">
              <div class="no">2</div>
              <div class="ct">温馨提示：使用任何不正当方法套取佣金的行为账户将被永久冻结，我方有权终止一切合作！正式确立合作关系之后，合作商须诚信运营，合作共赢，共同努力。</div>
            </div>
            <div class="row">
              <div class="no">3</div>
              <div class="ct green">活跃会员和净盈利必须同时达到要求才能结算佣金，如有一个未达到要求，将累积至达到要求的月份结算。</div>
            </div>

            <div class="row">
              <div class="no">4</div>
              <div class="ct sub">
                佣金计算方式与支付方式：
                <div class="row">
                  <div class="no">4.1</div>
                  <div class="ct">回馈计算区间为每月第一天至每月最后一天。代理专员将于每月3-5号之间统计并派发至代理账户。</div>
                </div>
                <div class="row">
                  <div class="no">4.2</div>
                  <div class="ct">回馈(当期盈利) - 费用(当期总费用)+前期累积=当期最终盈利，会有两种结果：正数或负数。<br>正数时：当期最终盈利*对应回馈比例=可获得的佣金<br>负数时：当期最终盈利将累积至下期结算</div>
                </div>
                <div class="row">
                  <div class="no">4.3</div>
                  <div class="ct">加盟合作伙伴负责线下会员包含返水、红利和优惠活动、平台费、存提款等所产生的费用，于每月佣金中扣除相应部分。</div>
                </div>
                <div class="row">
                  <div class="cg">{{WEB_NAME}}拥有最终解释权！</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>
<script>
export default {
  data(){
    return{
      unionBonusRuleList:[],
    }
  },
  computed:{
    WEB_NAME:function(){
      return this.$store.getters.WEB_NAME
    },
    SITE_QQ:function(){
      return this.$store.getters.SITE_QQ
    }
  },
  watch:{
    '$route.params':function(newVal){
      this.jump(newVal)
    }
  },
  methods:{
    jump:function(params){
      if(params){
        const DOM = document.getElementById(params.dom)
        if(DOM){
          window.scrollTo(0,DOM.offsetTop - 200)
        }else{
          window.scrollTo(0,0)
        }
      }else{
        window.scrollTo(0,0)
      }
    },
    GetUnionBonusRuleList:function(){
      this.$http.post('api/BaseInfo/GetUnionBonusRuleList',{
          pageIndex: 0,
          pageSize: 0,
      }).then(response => {
          const {resultCode,resultData} = response.data
          if(resultCode == 1 ){
              const{unionBonusRuleList=[]} = resultData
              this.unionBonusRuleList = unionBonusRuleList
          }
      })
    }
  },
  mounted(){
    this.jump(this.$route.params)
    this.GetUnionBonusRuleList()
  },
}
</script>
<style lang="scss" scoped>
#home-rules {
  > .main {
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
</style>