<template>
  <div class="page_foot">
    <van-row type="flex">
      <van-col :span="spanNum" :class="{}">
        <router-link to="/">
          <img v-if="$route.path == '/'" src="@/assets/images/footer/footer-icon-1-active.png" alt="">
          <img v-else src="@/assets/images/footer/footer-icon-1.png" alt="">
          <br>
          <span>{{$t('首页')}}</span>
        </router-link>
      </van-col>
      <van-col :span="spanNum">
        <router-link  to="/order">
          <img src="@/assets/images/footer/footer-icon-2.png" alt="">
          <br>
          <span>{{$t('贩卖订单')}}</span>
        </router-link>
      </van-col>
      <van-col :span="spanNum">
        <router-link to="/help">
          <img src="@/assets/images/footer/footer-icon-3.png" alt="">
          <br>
          <span>{{$t('关于我们')}}</span>
        </router-link>
      </van-col>
      <van-col :span="spanNum">
        <router-link to="/personal">
          <img v-if="$route.path == '/personal'" src="@/assets/images/footer/footer-icon-4-active.png" alt="">
          <img v-else src="@/assets/images/footer/footer-icon-4.png" alt="">
          <br>
          <span>{{$t('个人中心')}}</span>
        </router-link>
      </van-col>
      <van-col :span="spanNum">
        <router-link  to="/service">
          <img src="@/assets/images/footer/footer-icon-5.png" alt="">
          <br>
          <span>{{$t('在线客服')}}</span>
        </router-link>
      </van-col>
    </van-row>
  </div>
</template>

<script>
import '@/assets/css/include/page_foot.less'
export default {
  name: "page_foot",
  data(){
    return {
      spanNum:5
    }
  },
  created() {

  },
  mounted() {
    if (this.floder){
      this.$root.common.addFavicon(this.floder)
    }
  },
  methods:{

  },
  watch:{
    '$store.state.stationInfo':function (newVal){
      this.floder = newVal.content.station.floder
    }
  }
}
</script>

<style scoped>

</style>
