<template>
  <div class="mode">
    <div class="list"  v-for="(item, index) in sonData.templateList" :key="index">
      <div class="title">
        {{item.name}}
      </div>
      <div class="number-mode" v-if="sonData.model == 2">
        <div class="number" @click="clickNumberCheck(index,index2)" :class="{active:list.isActive}" v-for="(list, index2) in sonData.templateList[index].oddPlayItems" :key="index2">
          <div class="name" :class="{'number-img':list.name >= 0}" v-if="floder == 'x002150' || floder == 'x002152' || floder == 'x002132'">{{list.name | x002153Filter}}</div>
          <div class="name" :class="{'number-img':list.name >= 0}" v-else>{{list.name }}</div>
          <div class="odds">
            <van-checkbox v-model="list.isActive" checked-color="#FF9726" shape="square"></van-checkbox>
          </div>
        </div>
      </div>
      <div class="number-mode" v-else>
        <div class="number" @click="clickNumber(index,index2)" :class="{active:list.isActive}" v-for="(list, index2) in sonData.templateList[index].oddPlayItems.slice(0,16)" :key="index2">
          <div class="name" :class="{'number-img':list.name >= 0}" v-if="floder == 'x002150' || floder == 'x002152' || floder == 'x002132'">{{list.name | x002153Filter}}</div>
          <div class="name" :class="{'number-img':list.name >= 0}" v-else>{{list.name}}</div>
          <div class="odds"><b>{{list.odds}}</b></div>
          <div class="input" v-if="betModel == 1"><input type="number" v-model="list.money" @input="clickNumber(index,index2)"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import $ from  'jquery'
import lotteryHtml from '@/assets/json/lotteryTemplate/ssc.json'
export default {
  name: "official",
  props:['sonData','params','lottery','betModel'],
  data(){
    return{
      isActive:'',
      floder:this.$store.state.stationInfo.content.station.floder || 'x002'
    }
  },
  created:function(){
    this.showTemplate()
  },
  mounted:function(){

  },
  watch:{

  },
  methods:{
    clickNumber:function (index,index2){
      this.$parent.addCart(index,index2)
      this.$forceUpdate()
    },
    clickNumberCheck:function (index,index2){
      this.$parent.addCartCheck(index,index2)
      this.$forceUpdate()
    },
    // 给小于10的号码加零
    addZero:function(num,three){
      if(three){
        num<10? num = '0'+ num: num = ''+num;
        num<100? num = '0'+ num: num = ''+num;
      } else {
        num<10? num = '0'+ num: num = ''+num;
      }
      return num;
    },
    showTemplate:function () {
      let that = this
      let data = lotteryHtml.data
      that.sonData.model = 1
      for(let i in data){
        if(data[i].playName == this.params.sonCode){ //判断json数据单个游戏选项和接口数据对应
          that.sonData.templateList = data[i].data
          // 获取当前玩法数据
          $.each(this.lottery.rules, function (index, item) { //this.lottery 为彩种数据到content
            $.each(item.rules, function (index2, item2) {
              if(item2.code == that.params.sonCode){
                that.sonData.thatPlayType = item.rules
              }
            })
          })
          // 填充玩法数据
          $.each(that.sonData.thatPlayType, function (index, item) { //大玩法
            if(item.code == that.params.sonCode){
              let dxdzzh = '' ,list = [], wanName = '';
              switch (that.params.sonCode) {
                case 'zhenghe':
                  list = [];
                  dxdzzh = item.oddPlayItems.slice(0, 4);
                  for (let i = 0; i < dxdzzh.length; i++) {
                    let obj = dxdzzh[i];
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = dxdzzh[i].name;
                    newobj.classify = dxdzzh[i].name;
                    newobj.money = '';
                    list.push(newobj)
                  }
                  that.sonData.templateList[0].oddPlayItems = list
                  dxdzzh = item.oddPlayItems.slice(4,10);
                  for(let n in that.sonData.templateList) {
                    list = [];
                    // 填充数字
                    for (let i = 0; i < 10; i++) {
                      let obj = that.sonData.thatPlayType[0].oddPlayItems[10];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.classify = that.sonData.templateList[n].name + '--' + i;
                      newobj.name = i;
                      newobj.money = '';
                      list.push(newobj)
                    }
                    // 填充其他
                    for (let i = 0; i < dxdzzh.length; i++) {
                      let obj = dxdzzh[i];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = dxdzzh[i].name;
                      newobj.classify = that.sonData.templateList[n].name + '--' + dxdzzh[i].name;
                      newobj.money = '';
                      list.push(newobj)
                    }
                    n>0? that.sonData.templateList[n].oddPlayItems = list:''
                  }
                  if(that.floder == 'x002124' || that.floder == 'x002150' || that.floder == 'x002152' || that.floder == 'x002132'){
                    that.sonData.templateList = that.sonData.templateList.slice(0,1)
                  }
                  break;
                case 'wanwei':
                case 'qianwei':
                case 'baiwei':
                case 'shiwei':
                case 'gewei':
                  if(that.params.sonCode == 'wanwei'){
                    wanName = '万千--'
                  } else if(that.params.sonCode == 'qianwei'){
                    wanName = '千百--'
                  } else if(that.params.sonCode == 'baiwei'){
                    wanName = '百十--'
                  } else if(that.params.sonCode == 'shiwei'){
                    wanName = '十个--'
                  } else if(that.params.sonCode == 'gewei'){
                    wanName = '个万--'
                  }
                  dxdzzh = item.oddPlayItems.slice(7,13);
                  // 填充数字
                  for (let i = 0; i < 10; i++) {
                    let obj = that.sonData.thatPlayType[0].oddPlayItems[13];
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.classify = i
                    newobj.name = i;
                    list.push(newobj)
                  }
                  // 填充其他
                  for (let i = 0; i < dxdzzh.length; i++) {
                    let obj = dxdzzh[i];
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = dxdzzh[i].name;
                    newobj.classify =dxdzzh[i].name;
                    list.push(newobj)
                  }
                  that.sonData.templateList[0].oddPlayItems = list
                  list = []
                  dxdzzh = item.oddPlayItems.slice(0, 7);
                  // 填充数字
                  for (let i = 0; i < dxdzzh.length; i++) {
                    let obj = dxdzzh[i];
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.classify = wanName +  dxdzzh[i].name
                    newobj.name = dxdzzh[i].name;
                    list.push(newobj)
                  }
                  that.sonData.templateList[1].oddPlayItems = list
                  break;
                case 'heweishu':
                case 'longhudou':
                  for(let n in that.sonData.templateList) {
                    let betData = '',num = 0
                    if(that.params.sonCode == 'heweishu'){
                      betData = ['大','小','单','双','质','合']
                    } else if(that.params.sonCode == 'longhudou'){
                      betData = ['龙','和','虎']
                    }
                    list = [];
                    for (let i = 0; i < betData.length; i++) {
                      if(that.params.sonCode == 'longhudou'){
                        num = i
                      }
                      let obj = that.sonData.thatPlayType[0].oddPlayItems[num];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.classify = that.sonData.templateList[n].name + '--' + betData[i];
                      newobj.name = betData[i];
                      if(that.params.sonCode == 'heweishu'){
                        newobj.odds = that.sonData.thatPlayType[0].oddPlayItems[0].odds
                      } else if(that.params.sonCode == 'longhudou'){
                        newobj.odds = that.sonData.thatPlayType[0].oddPlayItems[i].odds
                      }
                      list.push(newobj)
                    }
                    that.sonData.templateList[n].oddPlayItems = list
                  }
                  break;
                case 'qiansan':
                case 'zhongsan':
                case 'housan':
                  for(let n in that.sonData.templateList) {
                    list = [];
                    // 填充数字
                    for (let i = 0; i < item.oddPlayItems.length; i++) {
                      let obj = item.oddPlayItems[i];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.classify = obj.name;
                      newobj.name = obj.name;
                      list.push(newobj)
                    }
                    that.sonData.templateList[n].oddPlayItems = list
                  }
                  break;
                case 'yizi_quanwu':
                case 'yizi_qiansan':
                case 'yizi_zhongsan':
                case 'yizi_housan':
                case 'zuxuansan_qiansan':
                case 'zuxuansan_zhongsan':
                case 'zuxuansan_housan':
                case 'zuxuanliu_qiansan':
                case 'zuxuanliu_zhongsan':
                case 'zuxuanliu_housan':
                  that.sonData.model = 2
                  if(that.params.sonCode =='yizi_quanwu' || that.params.sonCode =='yizi_qiansan' ||that.params.sonCode =='yizi_zhongsan' ||that.params.sonCode =='yizi_housan'){
                    that.sonData.model = 1
                  }
                  for(let n in that.sonData.templateList) {
                    let num = 0
                    if(that.params.sonCode =='yizi_qiansan' || that.params.sonCode =='zuxuansan_zhongsan' || that.params.sonCode =='zuxuanliu_zhongsan'){
                      num = 1
                    } else if(that.params.sonCode =='yizi_zhongsan' || that.params.sonCode =='zuxuansan_housan' || that.params.sonCode =='zuxuanliu_housan'){
                      num = 2
                    }else if(that.params.sonCode =='yizi_housan'){
                      num = 3
                    }
                    list = [];
                    // 填充数字
                    for (let i = 0; i < 10; i++) {
                      let obj = that.sonData.thatPlayType[num].oddPlayItems[0];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.classify = i;
                      newobj.name = i;
                      list.push(newobj)
                    }
                    that.sonData.templateList[n].oddPlayItems = list
                  }
                  break;
                case 'erzi_qiansan':
                case 'erzi_zhongsan':
                case 'erzi_housan':
                case 'sanzi_qiansan':
                case 'sanzi_zhongsan':
                case 'sanzi_housan':
                case 'kuadu_qiansan':
                case 'kuadu_zhongsan':
                case 'kuadu_housan':
                  for(let n in that.sonData.templateList) {
                    list = [];
                    // 填充数字
                    for (let i = 0; i < item.oddPlayItems.length; i++) {
                      let obj = item.oddPlayItems[i];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.classify = item.oddPlayItems[i].name;
                      newobj.name = item.oddPlayItems[i].name;
                      list.push(newobj)
                    }
                    that.sonData.templateList[n].oddPlayItems = list
                  }
                  break;
                case 'wanqian':
                case 'wanbai':
                case 'wanshi':
                case 'wange':
                case 'qianbai':
                case 'qianshi':
                case 'qiange':
                case 'baishi':
                case 'baige':
                case 'shige':
                case 'sanzidingwei_qiansan':
                case 'sanzidingwei_zhongsan':
                case 'sanzidingwei_housan':
                  that.sonData.model = 1
                  for(let n in that.sonData.templateList) {
                    let dataLength = 100
                    if(that.params.sonCode.indexOf('sanzidingwei') != -1){
                      dataLength = 1000
                    }
                    list = [];
                    // 填充数字
                    for (let i = 0; i < dataLength; i++) {
                      let obj = item.oddPlayItems[0];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      if(that.params.sonCode.indexOf('sanzidingwei') != -1){
                        newobj.classify = that.addZero(i,true);
                        newobj.name = that.addZero(i,true);
                      } else {
                        newobj.classify = that.addZero(i,false);
                        newobj.name = that.addZero(i,false);
                      }

                      list.push(newobj)
                    }
                    that.sonData.templateList[n].oddPlayItems = list
                  }
                  break;
                case 'baijiale':
                  // that.sonData.model = 3
                  list = [];
                  dxdzzh = item.oddPlayItems.slice(0, 5);
                  for (let i = 0; i < dxdzzh.length; i++) {
                    let obj = dxdzzh[i];
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = dxdzzh[i].name;
                    newobj.classify = dxdzzh[i].name;
                    list.push(newobj)
                  }
                  that.sonData.templateList[0].oddPlayItems = list
                  list = [];
                  dxdzzh = item.oddPlayItems.slice(5);
                  for(let n in that.sonData.templateList) {
                    list = [];
                    // 填充其他
                    for (let i = 0; i < dxdzzh.length; i++) {
                      let obj = dxdzzh[i];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = dxdzzh[i].name;
                      newobj.classify = that.sonData.templateList[n].name + '--' + dxdzzh[i].name;
                      list.push(newobj)
                    }
                    n>0? that.sonData.templateList[n].oddPlayItems = list:''
                  }
                  break;
                case 'niuniu':
                  // that.sonData.model = 3
                  list = [];
                  dxdzzh = item.oddPlayItems.slice(0, 11);
                  for (let i = 0; i < dxdzzh.length; i++) {
                    let obj = dxdzzh[i];
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = dxdzzh[i].name;
                    newobj.classify = dxdzzh[i].name;
                    list.push(newobj)
                  }
                  that.sonData.templateList[0].oddPlayItems = list
                  dxdzzh = item.oddPlayItems.slice(11);
                  for(let n in that.sonData.templateList) {
                    list = [];
                    // 填充其他
                    for (let i = 0; i < dxdzzh.length; i++) {
                      let obj = dxdzzh[i];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = dxdzzh[i].name;
                      newobj.classify = dxdzzh[i].name;
                      list.push(newobj)
                    }
                    n>0? that.sonData.templateList[n].oddPlayItems = list:''
                  }
                  break;
                case 'dezhoupuke':
                  // that.sonData.model = 3
                  list = [];
                  dxdzzh = item.oddPlayItems.slice(0, 9);
                  for (let i = 0; i < dxdzzh.length; i++) {
                    let obj = dxdzzh[i];
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = dxdzzh[i].name;
                    newobj.classify = dxdzzh[i].name;
                    list.push(newobj)
                  }
                  that.sonData.templateList[0].oddPlayItems = list
                  break;
                case 'sangong':
                  // that.sonData.model = 3
                  for(let n in that.sonData.templateList) {
                    if(n ==0){
                      dxdzzh = ['左闲','右闲','和局']
                    } else {
                      dxdzzh = ['大','小','单','双','质','合']
                    }
                    list = [];
                    // 填充其他
                    for (let i = 0; i < dxdzzh.length; i++) {
                      let obj = item.oddPlayItems[0];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = dxdzzh[i];
                      if(n ==0){
                        newobj.classify = dxdzzh[i];
                      } else {
                        newobj.classify = that.sonData.templateList[n].name + '--' +dxdzzh[i];
                      }
                      list.push(newobj)
                    }
                    that.sonData.templateList[n].oddPlayItems = list
                  }
                  break;
              }
            }
          })
        }
      }
    },
  },
  filters:{
    x002153Filter:function (value){
      if (value.includes('大')) return value.replace(/大/g,'福');
      if (value.includes('小')) return value.replace(/小/g,'禄');
      if (value.includes('单')) return value.replace(/单/g,'寿');
      if (value.includes('双')) return value.replace(/双/g,'喜');
      return value
    }
  }
}
</script>

<style scoped>

</style>
