<template>
  <div class="draw-notice">
    <header class="public-header">
      <span>{{$t('draw[0].label')}}</span>
    </header>
    <div class="content">
      <ul>
        <li v-for="(item, index) in drawDataList" :key="index" :class="{backGay:index%2}">
          <router-link :to="{path:'/draw_notice_details',query:{code:item.lotCode,lotGroup:item.lotGroup,name:item.lotName}}">
            <div class="list-img">
              <img :src="item.imgUrl" alt="">
            </div>
            <div class="list-font">
              <div class="title">
                <span>{{item.lotName}}</span>
                <span>{{$t('draw[1].label')}}{{item.qihao}}{{$t('index[11].label')}}</span>
              </div>
              <div class="result" v-if="item.haoma.indexOf('?') != -1">
              <span style="color: red;font-size: 1.6rem">
                {{$t('draw[2].label')}}...
              </span>
              </div>
              <div class="result" v-else-if="item.lotGroup == 7">
              <span v-for="(item2, index2) in (item.haoma || '').split(',')" :key="index2">
                <img :src="$root.common.resultKsColor(item2)">
              </span>
              </div>
              <div class="result" v-else-if="item.lotGroup == 3">
              <span v-for="(item2, index2) in (item.haoma || '').split(',')" :key="index2" :style="{background:$root.common.resultNumberColor(item2)}"
                    style="display: block;float: left;color: #ffffff;margin-left: 3px;border-radius: 3px;width: 2.2rem;height: 2.2rem;text-align: center;line-height: 2.2rem;">
                {{item2}}
              </span>
              </div>
              <div class="result number" v-else>
              <span v-for="(item2, index2) in (item.haoma || '').split(',')" :key="index2">
                {{item2}}
              </span>
              </div>
            </div>
          </router-link>
        </li>
      </ul>
    </div>
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import '@/assets/css/draw_notice.less'
import foot_nav from '@/components/include/foot_nav'
export default {
  name: "draw_notice",
  components:{
    foot_nav
  },
  data(){
    return {
      drawDataList:[],
    }
  },
  created() {

  },
  mounted() {
    this.getDrawNoticeData()
  },
  methods:{
    getDrawNoticeData:function (){
      let params = {
        version:2,
        needLast:true
      }
      this.$post('native/draw_notice_data.do',params,true).then((res) => {
        if(res.success){
          this.drawDataList = res.data
        }
      })
    },
  },
}
</script>

<style scoped>

</style>
