<template>
  <div class="interact">
    <header class="public-header">
      <span>{{$t('interact[0].label')}}</span>
    </header>
    <div class="content">
      <ul>
        <li>
          <router-link to="/active">
            <div class="list-img">
              <img src="../assets/images/youhuihuodong.png" alt="">
            </div>
            <div class="list-font">
              <div class="title">
                <span>{{$t('index[3].label')}}</span>
                <span></span>
              </div>
              <div class="result">
                <span>{{$t('interact[1].label')}}</span>
              </div>
            </div>
          </router-link>
        </li>
        <li v-if="chatSwitch == true">
          <a href="#" @click="loginChat">
            <div class="list-img">
              <img src="../assets/images/liaotianshi.png" alt="">
            </div>
            <div class="list-font">
              <div class="title">
                <span>{{$t('interact[2].label')}}</span>
                <span></span>
              </div>
              <div class="result">
                <span>
                  {{$t('interact[3].label')}}
                </span>
              </div>
            </div>
          </a>
        </li>
        <li>
          <router-link to="/serviceCode">
            <div class="list-img">
              <img src="../assets/images/serviceCode.png" alt="">
            </div>
            <div class="list-font">
              <div class="title">
                <span>{{$t('interact[5].label')}}</span>
                <span></span>
              </div>
              <div class="result">
                <span>
                  {{$t('interact[6].label')}}
                </span>
              </div>
            </div>
          </router-link>
        </li>
      </ul>
    </div>
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import '@/assets/css/interact.less'
import foot_nav from '@/components/include/foot_nav'
import {Toast} from "vant";
export default {
  name: "interact",
  components:{
    foot_nav
  },
  data(){
    return {
      chatSwitch:false,
    }
  },
  created() {
  },
  mounted() {
    this.getStationSwitch()
  },
  methods:{
    loginChat:function (){
      Toast.loading({
        message: '加载中...',
        forbidClick: true,
      });
      let that = this
      if(!this.$store.state.isLogin){
        this.$router.push({path:'/login'})
      } else {
        that.chatLogin = true
        this.$fetch('index/loginchat.do').then(res =>{
          location.href = res
          Toast.clear()
        })
      }
    },
    // 网站开关
    getStationSwitch:function (){
      this.$fetch('native/getStationSwitch.do').then((res) => {
        if(res.success){
          let data = res.content ,that = this
          for(let index in data){
            if(data[index].onFlag == 'on'){
              if(data[index].switchKey == 'memberRegister'){
                that.registerSwitch = true // 用户注册
              } else if(data[index].switchKey == 'dailiRegister'){
                that.agtRegisterSwitch = true
              } else if(data[index].switchKey == 'LongDragon'){
                that.changlongOnOff = true
              } else if(data[index].switchKey == 'toLoginView' && !this.$store.state.isLogin){
                that.$router.push({path:'/login'})
              } else if(data[index].switchKey == 'imChat'){
                that.chatSwitch = true
              }
            }
          }
        }
      })
    },
  }
}
</script>

<style scoped>

</style>
