<template>
  <div class="login">
    <header class="public-header">
      <router-link to="/"><van-icon name="arrow-left" /></router-link>
      <span>{{$t('login[0].label')}}</span>
    </header>
    <div class="user-input">
      <van-cell-group>
        <van-field
            v-model="user.username"
            clearable
            :label="$t('login[1].label')"
            left-icon="manager-o"
            :placeholder="$t('login[2].label')"
        />
        <van-field
            v-model="user.password"
            clearable
            :label="$t('login[3].label')"
            left-icon="bag-o"
            type="password"
            :placeholder="$t('login[4].label')"
        />
        <van-field
            v-model="user.verifyCode"
            v-if="verifyCodeSwitch"
            clearable
            :label="$t('login[5].label')"
            left-icon="aim"
            :placeholder="$t('login[6].label')"
            @focus="verifyCode"
        />
      </van-cell-group>
      <img v-if="verifyCodeSwitch" @click="verifyCode" :src="verifyCodeImg" alt="">
    </div>
    <div class="user-button">
      <van-row>
        <van-col span="24">
          <van-checkbox v-model="rememberPass"  shape="square"  checked-color="#ee0a24">{{$t('login[7].label')}}</van-checkbox>
        </van-col>
        <van-col span="24">
          <van-button type="danger" size="large" @click="login">{{$t('login[0].label')}}</van-button>
        </van-col>
        <van-col span="24" v-if="registerSwitch">
          <router-link to="/register"><van-button type="default" size="large">{{$t('login[8].label')}}</van-button></router-link>
        </van-col>
        <van-col span="24" v-if="guestSwitch">
          <van-button type="default" size="large" @click="guestUser">{{$t('login[9].label')}}</van-button>
        </van-col>
        <van-col span="24" v-if="serverSwitch">
          <router-link to="/service"><van-button type="default" size="large">{{$t('index[5].label')}}</van-button></router-link>
        </van-col>
      </van-row>
    </div>
  </div>
</template>

<script>
import '@/assets/css/login.less'
import { Toast } from 'vant';
export default {
name: "login",
  data(){
    return{
      fullPath:this.$route.query.fullPath || '/',
      user:{
        username:'',
        password:'',
        verifyCode:''
      },
      verifyCodeNum:1,
      verifyCodeImg:'',
      verifyCodeSwitch:false,
      guestSwitch:false,
      rememberPass:'',
      registerSwitch:false,
      serverSwitch:false,
    }
  },
  created() {
    this.getUserInfo()
    this.getStationSwitch()
    // this.getVerifyCodeSwitch()
  },
  methods:{
    getUserInfo:function (){
      let userName = localStorage.getItem("username");
      let password = localStorage.getItem("password");
      if(userName != 'false' && password != 'false'){
        this.user.username = userName
        this.user.password = password
        this.rememberPass = true
      }
    },
    login:function () {
      this.$post('native/login.do',this.user,true).then((res) => {
        if(res.success){
          Toast(this.$t('toast[1].label'))
          this.$cookies.set("SESSION",res.accessToken)
          this.$cookies.set("language",'zh')
          this.$store.commit('pushIsLogin',true)
          if(this.rememberPass){
            localStorage.setItem("username",this.user.username);
            localStorage.setItem("password",this.user.password);
          } else {
            localStorage.setItem("username",'false');
            localStorage.setItem("password",'false');
          }
          // this.$cookies.set("SESSION",res.accessToken)
          // 缓存登录状态
          if(this.fullPath == '/register'){
            this.$router.push({path:'/'})
          } else {
            this.$router.push({path:this.fullPath})
          }
        } else {
          Toast(res.msg)
          this.verifyCode()
        }
      })
    },
    // getVerifyCodeSwitch:function () {
    //   this.$post('native/getVerifyCodeSwitch.do').then((res) => {
    //     if(res.success){
    //       this.verifyCodeSwitch = res.content[8].onFlag
    //       this.verifyCode()
    //     }
    //   })
    // },
    verifyCode:function () {
      this.verifyCodeImg = this.$store.state.apiUrl + 'native/regVerifycode.do?v=' + ++this.verifyCodeNum
    },
    // 网站开关
    getStationSwitch:function (){
      console.log(this.$store.state.stationSwitch.success)
      if(this.$store.state.stationSwitch.success){
        this.stationSwitchOperate(this.$store.state.stationSwitch)
      } else {
        this.$fetch('native/getStationSwitch.do').then((res) => {
          if(res.success){
            this.stationSwitchOperate(res)
            this.$store.commit('pushStationSwitch',res)
          }
        })
      }
    },
    stationSwitchOperate:function (res){
      let data = res.content ,that = this
      for(let index in data){
        if(data[index].onFlag == 'on'){
          if(data[index].switchKey == 'appRegister'){
            that.registerSwitch = true // 用户注册
          } else if(data[index].switchKey == 'registerTestGuest'){
            that.guestSwitch = true
          } else if(data[index].switchKey == 'loginVerify'){
            that.verifyCodeSwitch = true
          } else if(data[index].switchKey == 'kfSwitch'){
            that.serverSwitch = true
          }
        }
      }
      if(this.verifyCodeSwitch){
        this.verifyCode()
      }
    },
    //免费试玩
    guestUser:function () {
      this.$fetch('native/reg_guest.do').then(res =>{
        if(res.success){
          this.$store.commit('pushIsLogin',true)
          this.$router.push({path:'/'})
          Toast(this.$t('toast[2].label'))
        } else {
          Toast(res.msg)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>
