<template>
  <div class="personal">
    <header>
      <div class="user-info" @click="getMobieLevel()">
        <img :src="accountInfo.headUrl || 'https://xb336.com/mobile/v3/images/touxiang.png'" alt="">
        <span>{{ accountInfo.account }}</span>
        <img :src="accountInfo.levelHead" alt="">
      </div>
      <div class="go-out" @click="logout">
        <span>{{$t('personal[0].label')}}</span>
        <van-icon name="arrow"/>
      </div>
    </header>
    <div class="user-level" v-if="levelShow" @click="vipLevel()">
      <span>{{$t('personal[1].label')}}：{{ userLevel.current || '' }}</span>
      <span>{{$t('personal[2].label')}}：{{ userLevel.next }}</span>
      <span>{{$t('personal[3].label')}}：{{ userLevel.total }} </span>
      <span>{{$t('personal[4].label')}}：{{ userLevel.nextMoney }}</span>
    </div>
    <div class="user-money">
      <van-icon name="points"/>
      <span @click="getMeminfo()">
        {{$t('personal[5].label')}}：{{ money }} <van-icon name="replay"/>
      </span>
      <img v-if="yuebaoSwitch == 'on'" src="../assets/images/yuebaoLink.png" @click="locationUrl($t('personal[6].label'))" alt="">
    </div>
    <div class="money-button">
      <van-row>
        <a href="javascript:void(0)" @click="locationUrl('chongzhi')">
          <van-col span="8">
            <van-icon name="coupon"/>
            <span> {{$t('personal[7].label')}} </span>
          </van-col>
        </a>
        <a href="javascript:void(0)" @click="locationUrl('tikuan')">
          <van-col span="8">
            <van-icon name="balance-list"/>
            <span> {{$t('personal[8].label')}} </span>
          </van-col>
        </a>
        <a href="javascript:void(0)" @click="locationUrl('eduzhuanhuan')">
          <van-col span="8">
            <van-icon name="card"/>
            <span>{{$t('personal[9].label')}}</span>
          </van-col>
        </a>
      </van-row>
    </div>
    <div class="personal-content">
      <a href="#" v-for="(item, index) in scoreSwitch" :key="index" @click="locationUrl(item.switchKey)">
        <van-cell :title="item.switchDesc" is-link/>
      </a>
    </div>
    <!--设置取款密码-->
    <van-dialog v-model="set_receipt_pwd" show-cancel-button :before-close="beforeClose">
      <h1>{{$t('personal[33].label')}}</h1>
      <van-field v-model="password" clearable type="password" maxlength="6" :label="$t('personal[10].label')" :placeholder="$t('personal[11].label')" />
      <van-field v-model="passwords" clearable type="password" maxlength="6" :label="$t('personal[12].label')" :placeholder="$t('personal[13].label')" />
    </van-dialog>
<!--    会员等级-->
    <van-popup v-model="vipLevelShow" position="bottom" :style="{ height: '60%' }">
      <table class="level-table" v-show="!current">
        <thead><tr><th>{{$t('personal[14].label')}}</th> <th>{{ $t('personal[15].label') }}</th><th>{{ $t('personal[16].label') }}</th></tr></thead>
        <tbody>
        <tr v-for="(item,index) in vipLevelList" v-bind:key="index">
          <td>{{item.levelName}}</td>
          <td>{{item.depositMoney}}</td>
          <td>{{item.giftMoney}}</td>
        </tr>
        </tbody>
      </table>
    </van-popup>
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import '@/assets/css/personal.less'
import foot_nav from '@/components/include/foot_nav'
import {Toast, Dialog} from 'vant';

export default {
  name: "personal",
  components: {
    foot_nav,
    "van-dialog": Dialog.Component,
  },
  data() {
    return {
      accountInfo: [],
      scoreSwitch: [],
      yuebaoSwitch: 'off',
      userLevel: '',
      levelShow: false,
      money: 0,
      messageNum: 0,
      floder: this.$store.state.stationInfo.content.station.floder || 'x002',
      set_receipt_pwd:false,//是否显示设置提款密码框
      password: '', //提款密码
      passwords: '', //重复密码
      vipLevelShow: false, //会员等级显示开关
      vipLevelList: '', //会员等级列表
    }
  },
  created() {
    this.accountInfoIs()
    this.messageList()
  },
  mounted() {
  },
  methods: {
    // 获取余额
    getMeminfo: function () {
      this.$fetch('native/meminfo.do').then(res => {
        if (res.success) {
          let len = this.accountInfo.money.indexOf('.') + 3
          if(res.content.balance != 0){
            this.money = res.content.balance.substring(0, len)
          }
        }
      })
    },
    // 获取用户信息
    accountInfoIs: function () {
      this.$fetch('native/accountInfo.do').then(res => {
        if (res.success) {
          this.accountInfo = res.content
          let len = this.accountInfo.money.indexOf('.') + 3
          this.accountInfo.money = this.accountInfo.money.substring(0, len)
          this.money = this.accountInfo.money
          this.getScoreSwitch()
        }
      })
    },
    // 获取列表
    getScoreSwitch: function () {
      // if(this.$store.state.scoreSwitch.success){
      //   let e = JSON.stringify(this.$store.state.scoreSwitch)
      //   this.scoreSwitchOperate(e)
      // } else {
      //   this.$fetch('native/getScoreSwitch.do', {}, true).then(res => {
      //     if (res.success) {
      //       this.scoreSwitchOperate(JSON.stringify(res))
      //       this.$store.commit('pushScoreSwitch',res)
      //     }
      //   })
      // }
      this.$fetch('native/getScoreSwitch.do', {}, true).then(res => {
        if (res.success) {
          this.scoreSwitchOperate(JSON.stringify(res))
          this.$store.commit('pushScoreSwitch',res)
        }
      })
    },
    scoreSwitchOperate: function (res){
      res = JSON.parse(res)
      let that = this
      this.scoreSwitch = res.content
      this.yuebaoSwitch = res.switchs[0].onFlag
      if (that.accountInfo.accountType == 4) {
        this.scoreSwitch.push({switchDesc: that.$t('personal[17].label'), switchKey: that.$t('personal[17].label')})
        this.scoreSwitch.push({switchDesc: that.$t('personal[18].label'), switchKey: that.$t('personal[18].label')})
        this.scoreSwitch.push({switchDesc: that.$t('personal[19].label'), switchKey: that.$t('personal[19].label')})
        this.scoreSwitch.push({switchDesc: that.$t('personal[20].label'), switchKey: that.$t('personal[20].label')})
        this.scoreSwitch.push({switchDesc: that.$t('personal[21].label'), switchKey: that.$t('personal[21].label')})
        this.scoreSwitch.push({switchDesc: that.$t('personal[22].label'), switchKey: that.$t('personal[22].label')})
      }
      if(this.messageNum > 0){
        this.scoreSwitch.push({switchDesc: that.$t('personal[23].label') + that.$t('personal[24].label') + that.messageNum + that.$t('personal[25].label'), switchKey: that.$t('personal[23].label')})
      } else {
        this.scoreSwitch.push({switchDesc: that.$t('personal[23].label'), switchKey: that.$t('personal[23].label')})
      }
      this.scoreSwitch.push({switchDesc: that.$t('personal[26].label'), switchKey: that.$t('personal[26].label')})
      this.scoreSwitch.push({switchDesc: that.$t('personal[27].label'), switchKey: that.$t('personal[27].label')})
      this.scoreSwitch.push({switchDesc: that.$t('personal[28].label'), switchKey: that.$t('personal[28].label')})
    },
    // 获取VIP等级信息
    getMobieLevel: function () {
      if (!this.levelShow) {
        this.levelShow = true
        this.$fetch('native/mobieLevel.do').then(res => {
          this.userLevel = res
        })
      } else {
        this.levelShow = false
      }
    },
    // 站内信未读
    messageList: function () {
      let params = {
        pageNumber: 1,
        pageSize: 100,
        status: 0
      }
      let that = this
      that.messageNum  = 0
      this.$post('center/news/message/list.do', params).then(res => {
        let data= res.list
        for (let index in data) {
          if(data[index].status == 1){
            that.messageNum += 1
          }
        }
      })
    },
    // 退出登录
    logout: function () {
      let that = this
      Dialog.confirm({
        title: that.$t('personal[29].label'),
        message: that.$t('personal[30].label'),
      }).then(() => {
        this.$post('native/logout.do').then(res => {
          if (res.success) {
            this.$store.commit('pushIsLogin', false)
            this.$router.push({path: '/'})
            Toast(that.$t('personal[31].label') + this.accountInfo.account + that.$t('personal[32].label'))
          }
        })
      }).catch(() => {
      });
    },
    locationUrl: function (type) {
      let that = this;
      if (!that.$store.state.isLogin) {
        that.$router.push({
          path: '/login'
        });
      } else {
        if (type == 'chongzhi') {
          window.location.href = window.location.origin + '/mobile/v3/pay_select_way.do';
          // that.$router.push({path: '/pay_select_way'});
        } else if (type == 'tikuan') {
          //window.location.href = window.location.origin + '/mobile/v3/withdraw_money.do';
          if(!this.accountInfo.receiptPwd && !this.set_receipt_pwd && this.accountInfo !== '') { //提款密码
            Dialog.confirm({
              title: that.$t('personal[33].label'),
              message: that.$t('personal[34].label'),
              cancelButtonText: that.$t('personal[35].label'),
              confirmButtonText: that.$t('personal[36].label'),
            }).then(() => {
              this.set_receipt_pwd = true;
            })
          } else if(this.accountInfo.cardNo==='') { //卡号
            Dialog.confirm({
              title: that.$t('personal[37].label'),
              message: that.$t('personal[38].label'),
              cancelButtonText: that.$t('personal[35].label'),
              confirmButtonText: that.$t('personal[36].label'),
            }).then(() => {
              this.$router.push({
                path: '/bindCard',
              })
            })
          }else {
            this.$router.push({
              path: '/withdrawDeposit',
              query:{
                params:1111
              }
            })
          }
        } else if (type == 'eduzhuanhuan') {
          // window.location.href = window.location.origin + '/mobile/v3/live_game.do';
          this.$router.push({path:'/live_game'})
        } else if (type == 'isCpOnOff') {
          // window.location.href = window.location.origin + '/mobile/v3/betting_record_lottery.do';
          this.$router.push({path:'/lottery_record'})
        } else if (type == 'isTlOnOff') {
          // window.location.href = window.location.origin + '/mobile/v3/betting_record_lottery_third.do';
          this.$router.push({path:'/lottery_third_record'})
        } else if (type == 'isLhcOnOff') {
          this.$router.push({path:'/sixmark_record'})

          // window.location.href = window.location.origin + '/mobile/v3/betting_record_sixmark.do';
        } else if (type == 'isTyOnOff') {
          // window.location.href = window.location.origin + '/mobile/v3/sport/hg/betting_record_sport.do';
          this.$router.push({path:'/sport_record'})
        } else if (type == 'isRealOnOff') {
          // window.location.href = window.location.origin + '/mobile/v3/third/betting_record_live.do';
          this.$router.push({path:'/live_record'})
        } else if (type == 'isChessOnOff') {
          // window.location.href = window.location.origin + '/mobile/v3/betting_record_chess.do';
          this.$router.push({path:'/record_chess'})
        } else if (type == 'isDzOnOff') {
          // window.location.href = window.location.origin + '/mobile/v3/third/betting_record_egame.do';
          this.$router.push({path:'/egame_record'})
        } else if (type == 'isDjOnOff') {
          // 已关闭该项目
          window.location.href = window.location.origin + '/mobile/v3/third/betting_record_esport.do';
        } else if (type == 'isChangeMoney') {
          // window.location.href = window.location.origin + '/mobile/v3/mnyrecord.do';
          this.$router.push('/mnyrecord')
        } else if (type == 'isDetailMoney') {
          // window.location.href = window.location.origin + '/mobile/v3/account_details.do';
          this.$router.push({path:'/account_details'})
        } else if (type == 'isEsOnOff') {
          // window.location.href = window.location.origin + '/mobile/v3/scoreChange.do';
          this.$router.push({path:'/scoreChange'})
        } else if (type == 'isTurnlate') {
          // window.location.href = window.location.origin + '/mobile/v3/awardRecord.do';
          this.$router.push({path:'/awardRecord'})
        } else if (type == 'isBackWater') {
          // window.location.href = window.location.origin + '/mobile/v3/backwater.do';
          this.$router.push({path:'/backwater'})
        } else if (type == that.$t('personal[6].label')) {
          window.location.href = window.location.origin + '/mobile/v3/balanceGemInfo.do';
        } else if (type == that.$t('personal[17].label')) {
          window.location.href = window.location.origin + '/mobile/v3/info.do';
        } else if (type == that.$t('personal[18].label')) {
          window.location.href = window.location.origin + '/mobile/v3/teamStatic.do';
        } else if (type == that.$t('personal[19].label')) {
          window.location.href = window.location.origin + '/mobile/v3/subMember.do';
        } else if (type == that.$t('personal[20].label')) {
          window.location.href = window.location.origin + '/mobile/v3/betting_record_lottery.do?come=daili';
        } else if (type == that.$t('personal[21].label')) {
          window.location.href = window.location.origin + '/mobile/v3/sponsoredLinks.do';
        } else if (type == that.$t('personal[22].label')) {
          window.location.href = window.location.origin + '/mobile/v3/commission.do';
        } else if (type == that.$t('personal[23].label')) {
          this.$router.push({path:'/website_message'})
        } else if (type == that.$t('personal[26].label')) {
          this.$router.push({path:'/upd_password',query:{type:1}})
        } else if (type == that.$t('personal[27].label')) {
          this.$router.push({path:'/upd_password',query:{type:2}})
        } else if (type == that.$t('personal[28].label')) {
          this.$router.push({path:'/language'})
        }
      }
    },
    //设置提款密码
    beforeClose: function(action,done) {
      let that = this
      if(action === 'confirm') {
        setTimeout(done, 1000);
        this.$post('native/set_receipt_pwd.do',{pwd:this.password,againPwd:this.passwords}).then(ret=>{
          if(ret.success) {
            Dialog.confirm({
              title: that.$t('personal[39].label'),
              cancelButtonText: that.$t('personal[40].label'),
              confirmButtonText: that.$t('personal[41].label'),
            }).then(() => {
              this.$router.push({
                path: '/bindCard',
              })
            }).catch(()=>{

            })
          } else {
            Dialog.alert({
              title: ret.msg
            })
          }
        })
      } else {
        done();
      }
    },
    vipLevel:function (){
      this.vipLevelShow = true
      this.$fetch('native/levelList.do',{}).then(res=>{
        this.vipLevelList = res.rows
      })
    }
  },
}
</script>

<style scoped>

</style>
