<template>
  <div class="register">
    <header>
      <router-link to="/"><van-icon name="arrow-left" /></router-link>
      <span>
        <b v-if="registerSwitch" :class="{active : platForm == 1}" @click="registerType(1)">{{$t('register[0].label')}}</b>
        <b v-if="agtRegisterSwitch" :class="{active : platForm == 2}" @click="registerType(2)">{{$t('register[1].label')}}</b>
      </span>
    </header>
    <div class="user-input">
      <van-cell-group>
        <van-field v-for="(item,index) in informationList" :key="index"
            v-model="item.value"
            clearable
            :label="item.label"
            :placeholder="item.placeholder"
            :maxlength="item.maxlength || 10"
            :type="item.type"
        />
        <van-field
            v-model="sms"
            clearable
            :label="$t('login[5].label')"
            :placeholder="$t('login[6].label')"
        />
      </van-cell-group>
      <img @click="verifyCode" :src="verifyCodeImg" alt="">
    </div>
    <div class="user-button">
      <van-row>
        <van-col span="24">
          <van-button type="danger" size="large" @click="registerUser">{{$t('login[8].label')}}</van-button>
        </van-col>
        <van-col span="24">
          <router-link to="/login"><van-button type="default" size="large">{{$t('register[2].label')}}</van-button></router-link>
        </van-col>
        <van-col span="24">
          <router-link to="/service"><van-button type="default" size="large">{{$t('index[5].label')}}</van-button></router-link>
        </van-col>
      </van-row>
    </div>
  </div>
</template>

<script>
import '@/assets/css/register.less'
import { Toast } from 'vant';
export default {
name: "register",
  data(){
    return{
      verifyCodeNum:1,
      verifyCodeImg:'',
      registerSwitch:false,
      agtRegisterSwitch:false,
      sms:'',
      platForm:1,
      informationList:[
        {label:this.$t('register[3].label'),key:'account',maxlength:11,value:'',type:'text',placeholder:this.$t('register[4].label'),requiredVal:2},
        {label:this.$t('register[5].label'),key:'password',maxlength:16,value:'',type:'password',placeholder:this.$t('register[6].label'),requiredVal:2},
        {label:this.$t('register[7].label'),key:'rpassword',maxlength:16,value:'',type:'password',placeholder:this.$t('register[8].label'),requiredVal:2},
      ],
    }
  },
  created() {
    this.verifyCode()
    this.getStationSwitch()
    this.getStationInfo()
  },
  mounted() {
  },
  methods:{
    // 网站开关
    getStationSwitch:function (){
      if(this.$store.state.stationSwitch.success){
        this.stationSwitchOperate(this.$store.state.stationSwitch)
      } else {
        this.$fetch('native/getStationSwitch.do').then((res) => {
          if(res.success){
            this.stationSwitchOperate(res)
            this.$store.commit('pushStationSwitch',res)
          }
        })
      }
    },
    stationSwitchOperate:function (res){
      let data = res.content ,that = this
      for(let index in data){
        if(data[index].onFlag == 'on'){
          if(data[index].switchKey == 'memberRegister'){
            that.registerSwitch = true // 用户注册
          } else if(data[index].switchKey == 'dailiRegister'){
            that.agtRegisterSwitch = true
          }
        }
      }
      if(!this.registerSwitch && this.agtRegisterSwitch){
        this.platForm = 2
      }
      this.regconfig()
    },
    registerUser:function(){
      if(this.informationList[1].value != this.informationList[2].value){
        Toast(this.$t('register[9].label'))
        return false
      }
      if(!this.sms){
        Toast(this.$t('register[6].label'))
        return false
      }
      for(let i = 0 ; i < this.informationList.length; i++){
        if(this.informationList[i].requiredVal == 2){
          if(!this.$root.common.dataSafeValidate(1,this.informationList[i].value)){
            return false
          }
        }
      }
      let params = {}
      for(let i = 0; i < this.informationList.length; i++){
        params[this.informationList[i].key] = this.informationList[i].value;
      }
      params['verifyCode'] = this.sms
      params['platForm'] = this.platForm
      this.$post('native/register.do',params,true).then(res =>{
        if(res.success){
          Toast(this.$t('register[10].label'));
          this.$root.common.isLoginSession(true)
          this.$router.push({path:'/'})
        } else {
          Toast(res.msg);
          this.verifyCode()
        }
      })
    },
    regconfig:function () {
      let params = {
        platForm:this.platForm
      }
      this.$fetch( 'native/regconfig.do',params).then(res =>{
        if(res.success){
          if(res.content){
            for(let i in res.content){
              let obj = {type:'text',value:''};
              obj['label'] = res.content[i].name;
              obj['key'] = res.content[i].key;
              obj['placeholder'] = res.content[i].remindText || this.$t('index[11].label') + res.content[i].name;
              obj['requiredVal'] = res.content[i].requiredVal;
              switch (res.content[i].key) {
                case 'userName':
                  obj['maxlength'] = 4;
                  break;
                case 'qq':
                  obj['maxlength'] = 12;
                  break;
                case 'phone':
                  obj['maxlength'] = 11;
                  break;
                case 'email':
                  obj['maxlength'] = 22;
                  break;
                case 'receiptPwd':
                  obj['maxlength'] = 20;
                  break;
                case 'cardNo':
                  obj['maxlength'] = 25;
                  break;
                case 'wechat':
                  obj['maxlength'] = 20;
                  break;
                case 'promoCode':
                  obj['maxlength'] = 10;
                  break;
                default:
                  obj['maxlength'] = 10;
              }
              this.informationList.push(obj);
            }
          }
        } else {
          Toast(this.$t('register[12].label'))
        }
      }, resolve =>{
        console.log(resolve)
      })
    },
    verifyCode:function () {
      this.verifyCodeImg = this.$store.state.apiUrl + 'native/regVerifycode.do?v=' + ++this.verifyCodeNum + '&flag=false'
    },
    registerType:function (num) {
      this.platForm = num
      this.regconfig()
      this.informationList = [
        {label:this.$t('register[3].label'),key:'account',maxlength:11,value:'',type:'text',placeholder:this.$t('register[4].label'),requiredVal:2},
        {label:this.$t('register[5].label'),key:'password',maxlength:16,value:'',type:'password',placeholder:this.$t('register[6].label'),requiredVal:2},
        {label:this.$t('register[7].label'),key:'rpassword',maxlength:16,value:'',type:'password',placeholder:this.$t('register[8].label'),requiredVal:2},
      ]
    },
    // 获取网站基础信息
    getStationInfo:function (){
      if(this.$store.state.stationInfo.success){
        document.title = this.$store.state.stationInfo.content.title
      } else {
        this.$fetch('native/getStationInfo.do').then((res) => {
          if(res.success){
            this.$store.commit('pushStationInfo',res)
            document.title = this.$store.state.stationInfo.content.title
          }
        })
      }
    },
  }
}
</script>

<style scoped>

</style>
