/*----------------------------- start varibles--------------------------------*/

/*----------------------------- end varibles--------------------------------*/
/*----------------------------- start minxin--------------------------------*/
//清除float元素
.clearFix{
  &:before{
    content: "";
    clear: both;
    height: 0;
    display: block;
    overflow: hidden;
    clear: both;
    visibility: hidden;
  }
  &:after{
    content: "";
    clear: both;
    height: 0;
    display: block;
    overflow: hidden;
    clear: both;
    visibility: hidden;
  }
}
//快三塞子公共样式
@for $i from 1 to 7{
  .k3Dice#{$i}{
    background: url("../images/#{$i}.png") no-repeat;
    display: inline-block;
    width: .35rem;
    height: .35rem;
    line-height: .35rem;
    background-size: cover;
    box-sizing: border-box;
  }
}
//myListheaderpersonal-grade
@mixin myListPersonalI($myListPersonalIBackground:none,$myListPersonalIFontSize:0.05rem,$myListPersonalIi:0){
    padding-left: .01rem;
    vertical-align: top;
    height: 0.1rem;
    width: 0.1rem;
    background:$myListPersonalIBackground ;
    border-radius: 50%;
    text-align: center;
    box-sizing: border-box;
    font-size: $myListPersonalIFontSize;
  @if $myListPersonalIi ==4{
    i{

    }
  }
}
/*----------------------------- end minxin--------------------------------*/

/*pk10*/
.pkshi01{
  background-color: #fff600!important;
  border-radius:unset!important;
  color: red!important;
  text-shadow: 0 1px #000000, 1px 0 #000000, -1px 0 #000000, 0 -1px #000000;
}
.pkshi02{
  background-color: #008fff!important;
  border-radius:unset!important;
  text-shadow: 0 1px #000000, 1px 0 #000000, -1px 0 #000000, 0 -1px #000000;
}
.pkshi03{
  background-color: #4b4b4b!important;
  border-radius:unset!important;
  text-shadow: 0 1px #000000, 1px 0 #000000, -1px 0 #000000, 0 -1px #000000;
}
.pkshi04{
  background-color: #ff7600!important;
  border-radius:unset!important;
  text-shadow: 0 1px #000000, 1px 0 #000000, -1px 0 #000000, 0 -1px #000000;
}
.pkshi05{
  background-color: #7cfdff!important;
  border-radius:unset!important;
  text-shadow: 0 1px #000000, 1px 0 #000000, -1px 0 #000000, 0 -1px #000000;
}
.pkshi06{
  background-color: #5234ff!important;
  border-radius:unset!important;
  text-shadow: 0 1px #000000, 1px 0 #000000, -1px 0 #000000, 0 -1px #000000;
}
.pkshi07{
  background-color: #e4e4e4!important;
  border-radius:unset!important;
  text-shadow: 0 1px #000000, 1px 0 #000000, -1px 0 #000000, 0 -1px #000000;
}
.pkshi08{
  background-color: #ff2600!important;
  border-radius:unset!important;
  text-shadow: 0 1px #000000, 1px 0 #000000, -1px 0 #000000, 0 -1px #000000;
}
.pkshi09{
  background-color: #780b00!important;
  border-radius:unset!important;
  text-shadow: 0 1px #000000, 1px 0 #000000, -1px 0 #000000, 0 -1px #000000;
}
.pkshi10{
  background-color: #07bf00!important;
  border-radius:unset!important;
  text-shadow: 0 1px #000000, 1px 0 #000000, -1px 0 #000000, 0 -1px #000000;
}
.pkshi11{
  background-color: red!important;
  border-radius:unset!important;
  text-shadow: 0 1px #000000, 1px 0 #000000, -1px 0 #000000, 0 -1px #000000;
}
//六合彩
.blue_c {
  background-color: #218ddd!important;
}

.red_c {
  background-color: #dc3b40!important;
}

.green_c {
  background-color: #38b366!important;
}
.blue_cSize {
  color: #218ddd!important;
}

.red_cSize {
 color: #dc3b40!important;
}

.green_cSize {
  color: #38b366!important;
}
