<template>
  <div class="alipay">
    <div class="list header">
      <van-icon name="arrow-left" @click="$root.common.backPage()" />
      <div class="list font">
        支付宝绑定
      </div>
    </div>
    <div class="list deck" v-if="$store.state.userInfo.alipay">
      <div class="list item"><span>姓名</span><input type="text" :value="$store.state.userInfo.name" readonly></div>
      <div class="list item"><span>支付宝账号</span><input type="text" :value="$store.state.userInfo.alipay" readonly></div>
    </div>
    <div class="list deck" v-else>
      <div class="list item"><span>姓名</span><input type="text" placeholder="请输入姓名" v-model="alipay.name"></div>
      <div class="list item"><span>支付宝账号</span><input type="text"  placeholder="请输入支付宝账号" v-model="alipay.alipay"></div>
    </div>
    <div class="list btn">
      <button @click="certification()" v-if="!$store.state.userInfo.alipay">立即领取支付宝红包</button>
    </div>
    <div class="list warming" v-if="!$store.state.userInfo.alipay">绑定的支付宝必须与实名一致，否则将无法成功提现。</div>
  </div>
</template>

<script>
import '@/assets/css/alipay.less'
import {Toast} from "vant";

export default {
  name: 'alipay',
  data() {
    return {
      alipay:{
        alipay:'',
        name:'',
      }
    }
  },
  created: function () {

  },
  mounted: function () {
    if(this.$store.state.userInfo.auth != 1){
      Toast('请先进行实名认证')
      this.$router.push({path:'/auth'})
    }
  },
  methods: {
    certification: function () {
      let params = {
        token: this.$store.state.token,
        alipay: this.alipay.alipay,
        name: this.alipay.name,
      }
      if (!this.$root.common.dataSafeValidate(2, params)) {
        return false
      }
      this.$post('user/bind_alipay', params, true).then((res) => {
        if (res.code == 200) {
          Toast('支付宝绑定成功，请重新登录')
          this.$router.push({path:'/login'})
        } else {
          Toast(res.message)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>
