<template>
  <div class="invest-detailed">
    <div class="list header">
      <van-icon name="arrow-left" @click="$root.common.backPage()" />
      <div class="list font">
        详情
      </div>
    </div>
    <div class="list page">
      <div class="list img">
        <img :src="'/upload/item/'+detailData.img" alt="">
      </div>
      <div class="list deck">
        <div class="list info">
          <div class="list title">{{detailData.title}}</div>
          <div class="list tags"><div class="tag">普通 I {{detailData.min}}元/份</div><div class="tag">{{detailData.desc}}</div></div>
          <div class="list income">
            <div style="width: 20%"><p><span style="color: #1b67ff;">{{detailData.rate}}%</span></p><p>日利率</p></div>
            <div style="width: 50%"><p><span>{{(detailData.rate * detailData.min * 0.01).toFixed(2)}}</span></p><p>日分红(元)</p></div>
            <div style="width: 30%"><p><span>{{ ((detailData.rate * detailData.min) * detailData.day * 0.01).toFixed(2)}}</span></p><p>总分红(元)</p></div>
          </div>
        </div>
        <div class="list info" style="margin-top: 1.5rem">
          <div class="list title" style="margin: 1rem 0;text-align: center;border: none;">投资详情</div>
          <div class="list investment" v-html="detailData.content">
            <table>
              <tr><td>项目名称</td><td>宁波市新周污水处理厂二期工程（限投500元）</td> </tr>
              <tr><td>项目总额</td><td>500.00万元人民币</td> </tr>
              <tr><td>每日分红</td><td>按每日0.60%的收益（保本保息）</td> </tr>
              <tr><td>项目期限</td><td>1个自然日；（一个自然日为一天包含节假日）</td> </tr>
              <tr><td>开放时间</td><td>2021-09-02 00:00:00</td> </tr>
              <tr><td>收益计算</td><td>每日分红3元*天=总收益3元</td> </tr>
              <tr><td>分红方式</td><td>每小时返息,到期返本</td> </tr>
              <tr><td>担保机构</td><td>中国投融资担保股份有限公司</td> </tr>
              <tr><td>项目概述</td><td>本项目筹集资金500.00万元人民币，投资本项目（按每日分红3元/天）项目周期为1个自然日起投，所筹集资金用于该项目直投运作，作为投资者分红固定且无任何风险，所操作一切风险都由公司与担保公司一律承担，投资者不需要承担任何风险。</td> </tr>
              <tr><td>安全保障</td><td>中国投融资担保股份有限公司对平台上的每一笔投资提供100%本金保障，平台设立风险备用金，对本金承诺全额垫付</td> </tr>
              <tr><td>推荐奖励</td><td>在会员中心最下面(邀请好友)转发到您朋友圈里,只要您朋友通过邀请二维码注册的为一级,充值并成功投资一次性还款项目,您就可以得到按投资金额0.00%的奖励,注册成功后，系统自动赠送 ！</td> </tr>
            </table>
          </div>
        </div>
        <div class="list investment-btn"><router-link :to="{path:'/investApply',query:{id:detailData.id,min:detailData.min,max:detailData.max}}"><button>立即购买</button></router-link></div>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/investDetailed.less'
import {Toast} from "vant";

export default {
  name: 'investDetailed',
  data() {
    return {
      detailData:'',
    }
  },
  created: function () {
    this.getInvest()
  },
  mounted: function () {
  },
  methods: {
    getInvest: function () {
      let params = {
        token: this.$store.state.token,
        id: this.$route.query.id,
      }
      this.$post('mobile/detail', params, true).then((res) => {
        if (res.code == 200) {
          this.detailData = res.data
        } else {
          Toast(res.message)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>
