<template>
  <div class="share">
    <div class="list header">
      <van-icon name="arrow-left" @click="$root.common.backPage()"/>
      <div class="list font">
        邀请好友
      </div>
    </div>
    <div class="list page">
      <div class="list deck">
        <div class="list title">
          邀请好友得支付宝红包！
        </div>
        <div class="list table">
          <div class="list title" style="font-weight: 500">邀请记录</div>
          <div class="list">
            <table>
              <thead><tr><th>推广会员</th> <th>注册时间</th><th>盈利状况</th></tr></thead>
              <tbody>
              <tr v-for="(item,index) in shareData.data" :key="index">
                <td>{{ item.logintime }}</td> <td>{{item.time}}</td><td>{{item.income}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="list btn">
      <button>立即邀请</button>
    </div>
    <div class="qrcode" v-show="codeShow">
      <div class="content">
        <div class="list img">
          <img :src="shareData.urel" alt="">
        </div>
        <div class="list tip">
          <p>好友扫描以上专属二维码</p>
          <p>可直接注册</p>
        </div>
        <div class="list qrcode_btn">
          <button @click="codeShow = false">好的</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/share.less'
import {Toast} from "vant";

export default {
  name: 'share',
  data() {
    return {
      codeShow:true,
      shareData:''
    }
  },
  created: function () {
    this.getShare()
  },
  mounted: function () {
  },
  methods: {
    getShare: function () {
      let params = {
        token: this.$store.state.token,
      }
      this.$post('user/recommend', params, true).then((res) => {
        if (res.code == 200) {
          this.shareData = res.data
        } else {
          Toast(res.message)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>
