<template>
  <div class="zsfb">
    <div class="list header">
      <van-icon name="arrow-left" @click="$root.common.backPage()" />
      <div class="list font">
        垃圾分类
      </div>
    </div>
    <img v-if="type == 1" src="@/assets/images/skype1.jpeg" alt="">
    <img v-if="type == 2" src="@/assets/images/skype2.jpeg" alt="">
    <img v-if="type == 3" src="@/assets/images/skype3.jpeg" alt="">
    <img v-if="type == 4" src="@/assets/images/skype4.jpeg" alt="">
  </div>
</template>

<script>
import '@/assets/css/zsfb.less'

export default {
  name: 'invest',
  data() {
    return {
      type:1
    }
  },
  created: function () {
    this.type = this.$route.query.type
  },
  mounted: function () {
    
  },
  methods: {
  }
}
</script>

<style scoped>

</style>
