<template>
  <div class="sport-event">
    <div class="list header">
      <van-icon name="arrow-left" @click="$root.common.backPage()" />
      <div class="list font">
        运动加油站
      </div>
    </div>
    <div class="list title-img">
      <img src="../assets/images/sport.jpg" alt="">
    </div>
    <div class="list deck">
      <div class="item" v-for="(item, index) in sportData" :key="index">
        <p><span>{{item.name}}</span></p> <p>完成时间{{item.time / 60}}分钟</p>
        <button v-if="item.type == 0"  style="background: #a5a5a5;color: #ffffff;">正在运动</button>
        <button v-else-if="item.type == 1" class="active" @click="postSport(item.id)">待领取</button>
        <button v-else-if="item.type == 2" style="background: #a5a5a5;color: #ffffff;">已完成</button>
        <button v-else-if="item.type == 4" class="active" @click="postSport(item.id)">开始运动</button>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/sportEvent.less'
import {Toast} from "vant";

export default {
  name: 'sportEvent',
  data() {
    return {
      sportData:'',
    }
  },
  created: function () {
    this.getSport()
  },
  mounted: function () {
  },
  methods: {
    getSport: function () {
      let params = {
        token: this.$store.state.token,
      }
      this.$post('Handle/my_sport', params, false).then((res) => {
        if (res.code == 200) {
          this.sportData = res.data
        } else {
          Toast(res.message)
        }
      })
    },
    postSport: function (s_id) {
      let params = {
        token: this.$store.state.token,
        s_id: s_id,
      }
      this.$post('Handle/my_sport_post', params, true).then((res) => {
        if (res.code == 200) {
          Toast(res.message)
          this.getSport()
        } else {
          Toast(res.message)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>
