<template>
  <div class="zsfb">
    <div class="list header">
      <van-icon name="arrow-left" @click="$root.common.backPage()" />
      <div class="list font">
        知识风暴
      </div>
    </div>
    <div class="list title">
      {{answerNowData.title}}
    </div>
    <div class="list deck">
      <div class="list anwser_item" @click="postAnswer(answerNowData.answer_A)" v-if="answerNowData.answer_A">{{answerNowData.answer_A}}</div>
      <div class="list anwser_item" @click="postAnswer(answerNowData.answer_B)" v-if="answerNowData.answer_B">{{answerNowData.answer_B}}</div>
      <div class="list anwser_item" @click="postAnswer(answerNowData.answer_C)" v-if="answerNowData.answer_C">{{answerNowData.answer_C}}</div>
      <div class="list anwser_item" @click="postAnswer(answerNowData.answer_D)" v-if="answerNowData.answer_D">{{answerNowData.answer_D}}</div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/zsfb.less'
import {Toast} from "vant";

export default {
  name: 'invest',
  data() {
    return {
      answerData: '',
      answerNowData: '',
    }
  },
  created: function () {

  },
  mounted: function () {
    this.getAnswer()
  },
  methods: {
    getAnswer: function () {
      let params = {
        token: this.$store.state.token,
        type: this.$route.query.type,
      }
      this.$post('Handle/knowlege_answer', params, true).then((res) => {
        if (res.code == 200) {
          this.answerData = res.data
          this.answerNowData = this.answerData[0]
        } else {
          Toast(res.message)
        }
      })
    },
    postAnswer: function (answer) {
      let params = {
        token: this.$store.state.token,
        type: this.$route.query.type,
        answer: answer,
        tid: this.answerNowData.id,
      }
      this.$post('Handle/post_know_answer', params, false).then((res) => {
        if (res.code == 200) {
          if(res.message == '回答正确！'){
            this.getAnswer()
          }
          Toast(res.message)

        } else {
          Toast(res.message)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>
