*{
  padding: 0;
  margin: 0;
  font-family: -apple-system-font, Helvetica Neue, Arial, sans-serif;
  box-sizing: border-box;
}
li{
  list-style: none;
}
body{
  overflow: auto;
  background: #f6f6f6;
}
i{
  font-style: normal;
}
a{
  text-decoration: none;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}