@import "base";
.page_foot{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
  background: #ffffff;
  z-index: 99999;
  .van-row {
    height: 100%;
    box-sizing: border-box;
    .van-col--6,.van-col--5{
      height: 100%;
      text-align: center;
      padding-top: 2px;
      font-size: 12px;
      &:nth-child(5){
        border-right: none;
      }
      a{
        color: #c2c2c2;
      }
      img {
        width: 27px;
      }
      span{
        white-space: nowrap;
      }
    }
    .van-col--5{
      width: 20%;
    }
  }
}
