@import "include/base";
/*首页*/
.login{
  .ground();
  padding: 83px 40px 0 38px;
  background: #ffffff;
  .title{
    font-size: 2.8rem;
    font-weight: 600;
  }
  .tip{
    margin-top:4.7rem;
    font-size: 1.6rem;
  }
  .back{
    img{
      height: 2rem;
      width: 1rem;
    }
  }
  .login-header{
    margin-top: 3.8rem;
    float: left;
    .list{
      margin-top: 1rem;
    }
    .label{
      color: #aaa;
      font-size: 1.5rem;
    }
    .input{
      position: relative;
    }
    input{
      padding: 14px 0;
      border:none;
      border-bottom: 1px solid #ddd;
      font-size:2rem;
      color:#1b2232;
      width: 100%;
    }
    .no-pass{
      color:#0f79ff;
      float: left;
    }
    .register{
      color: #959595;
      float: right;
    }
    .code{
      width:83px;
      line-height:32px;
      text-align:center;
      background-color:#0f79ff;
      border-radius:16px;
      font-size:13px;
      font-weight:400;
      color:#fff;
      border:none;
      position: absolute;
      right: .5rem;
      top: 1rem;
    }
  }
  .login-btn{
    width:279px;
    line-height:47px;
    background-color:#0f79ff;
    border-radius:24px;
    text-align:center;
    font-size:17px;
    font-weight:400;
    color:#fff;
    margin-top:65px;
    margin-left:10px
  }
}
