@import "include/base";

.sport-event {
  .ground();

  .header {
    background: #ffffff;
    height: 5rem;
    display: flex;
    align-items: center;
    padding: 10px 20px 0;
    position: fixed;
    top: 0;
    left: 0;

    i {
      font-size: 2.5rem;
    }

    .font {
      text-align: center;
      font-size: 1.8rem;
      font-weight: 700;
    }
  }

  .title-img {
    margin-top: 5rem;

    img {
      width: 100%;
      height: 21.7rem;
    }
  }

  .deck {
    padding: 0 1rem;

    .item {
      margin-top: 1rem;
      height: 12rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("../images/c9c119a4ee3321db.jpg");
      &:nth-child(2){
        background-image: url("../images/4e419231a611528a.jpg");
      }
      &:nth-child(3){
        background-image: url("../images/9efbad4af28176a1.jpg");
      }
      &:nth-child(4){
        background-image: url("../images/b9f1d151bf9bab97.jpg");
      }
      &:nth-child(5){
        background-image: url("../images/89e4f59ec6028863.jpg");
      }
      padding-top: 2.2rem;
      position: relative;
      p {
        color: #ffffff;
        font-size: 1.3rem;
        padding-left: 1.5rem;
        line-height: 2.8rem;

        span {
          font-size: 2.3rem;
          font-weight: 700;
        }
      }

      button {
        position: absolute;
        bottom: 18px;
        right: 19px;
        width: 81px;
        height: 29px;
        border-radius: 15px;
        color: #494949;
        border: none;
        &.active{
          background-color: #ffffff;
        }
      }
    }
  }

}
