@import "include/base";

.zsfb {
  .ground();

  .header {
    background: #ffffff;
    height: 5rem;
    display: flex;
    align-items: center;
    padding: 10px 20px 0;

    i {
      font-size: 2.5rem;
    }

    .font {
      text-align: center;
      font-size: 1.8rem;
      font-weight: 700;
    }
  }

  .title {
    font-size: 1.8rem;
    text-align: center;
    margin: 2rem 0;
  }

  .deck {
    padding: 0 4%;

    .anwser_item {
      width: 100%;
      min-height: 4.3rem;
      line-height: 43px;
      border-radius: 4px;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
      margin-bottom: 15px;
      background: #fff;
      color: #4e4e4e;
      border: 1px solid #8b4513
    }
  }
}
