<template>
  <div>
    <head_nav></head_nav>
    <!-------------------------------------------------头部 start---------------------------------------------------------->
    <div class="active">
      <div class="container">
        <div v-for="(item, index) in content" :key="index" @click="showContent(index)">
          <div class="active-list">
            <div class="active-img">
              <img :src="item.titleImgUrl" alt="activeImg">
            </div>
            <div class="active-side">
              <h5>{{ item.title || '优惠活动' }}</h5>
              <p style="font-size: 16px;color: #4a4a4a;">{{ item.applySelected }}</p>
              <a href="javascript:void(0)">查看详情<i></i></a>
            </div>
          </div>
          <div class="active-summary" v-bind:class='{"active-show": activeNum === index}'>
            <div class="active-html" v-html='item.content'></div>
          </div>
        </div>
      </div>
    </div>
    <!------------------------------------------------------底部 start------------------------------------------------------>
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import '@/assets/css/active.less'
import head_nav from '@/components/include/head_nav'
import foot_nav from '@/components/include/foot_nav'
import {http_ajax} from "../assets/js/resource";

export default {
  name: "active",
  components: {
    head_nav, foot_nav
  },
  data() {
    return {
      imgShow: false,
      content: "",
      activeNum: '',
      floder: this.$store.state.stationInfo.content.station.floder || 'x002',
    }
  },
  created: function () {

  },
  mounted: function () {
    this.activeContent()
  },
  methods: {
    showContent: function (index) { //点击展开图片
      if (this.activeNum === index) {
        this.activeNum = ''
      } else {
        this.activeNum = index
      }
    },
    activeContent: function () { //获取互动图片数据
      http_ajax('post', 'native/active_infos.do', {}, true, '.active').then(res => {
        if (res.success == true) {
          this.content = res.content
        }
      })
    }
  }
}
</script>

<style lang="less" scoped>

</style>
