<template>
    <div>
        <head_nav></head_nav>
        <div class="login">
            <div class="container">
                <div class="title">
                    <h1 v-if="floder == 'x00292'">注册</h1>
                    <h1 v-else>代理注册</h1>
                </div>
                <div class="content">
                    <div class="content-import">
                        <ul>
                            <li v-for="(item,index) in informationList" :key="index">
                                <label><span>{{item.label}}：</span></label>
                                <input :type="item.type" v-model="item.value" :maxlength="item.maxlength || 10" name="password" :placeholder="item.placeholder">
                            </li>
                            <li>
                                <label><span>验证码：</span></label>
                                <div class="verifyCode">
                                    <input type="type" name="verifyCode" v-model="sms" placeholder="请输入验证码">
                                    <img @click="verifyCode" :src="verifyCodeImg" alt="" >
                                </div>
                            </li>
                            <li class="in-login">
                                <label for="code"><span>&nbsp;</span></label>
                                <div class="login-button" @click="registerUser">立即注册</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <foot_nav></foot_nav>
    </div>
</template>

<script>
    import '@/assets/css/login.less'
    import head_nav from  '@/components/include/head_nav'
    import foot_nav from  '@/components/include/foot_nav'
    import {http_ajax} from '@/assets/js/resource'
    export default {
        name: "agentRegister",
        components:{
            head_nav ,foot_nav
        },
        data(){
            return {
                verifyCodeNum:1,
                verifyCodeImg:'',
                sms:'',
                informationList:[
                    {label:'用户账号',key:'account',maxlength:11,value:'',type:'text',placeholder:'用户名为5-11个英文字母或数字',requiredVal:2},
                    {label:'登陆密码',key:'password',maxlength:16,value:'',type:'password',placeholder:'密码为6-16个英文字母或数字',requiredVal:2},
                    {label:'重复密码',key:'rpassword',maxlength:16,value:'',type:'password',placeholder:'请再次输入密码',requiredVal:2},
                ],
                floder:this.$store.state.stationInfo.content && this.$store.state.stationInfo.content.station.floder || 'x002'
            }
        },
        created:function () {
        },
        mounted:function(){
            this.regconfig()
            this.verifyCode()
        },
        methods:{
            registerUser:function(){
                if(this.informationList[1].value != this.informationList[2].value){
                    this.$message.error('两次密码不一致')
                    return false
                }
                if(!this.sms){
                    this.$message.warning('请输入验证码')
                    return false
                }
                for(let i = 0 ; i < this.informationList.length; i++){
                    if(this.informationList[i].requiredVal == 2){
                        if(!this.$root.common.dataSafeValidate(1,this.informationList[i].value)){
                            return false
                        }
                    }
                }
                let params = {}
                for(let i = 0; i < this.informationList.length; i++){
                    params[this.informationList[i].key] = this.informationList[i].value;
                }
                params['verifyCode'] = this.sms
                params['platForm'] = 2
                http_ajax('post','native/register.do',params,true,'.in-login').then(res =>{
                    if(res.success){
                        if(!res.content.reviewFlag){
                            this.$message.success('注册成功');
                            this.$root.common.isLoginSession(true)
                            this.$router.push({path:'/'})
                        } else {
                            this.$message.success('注册成功,等待审核！');
                        }
                    } else {
                        this.$message.error(res.msg);
                        this.verifyCode()
                    }
                })
            },
            regconfig:function () {
                http_ajax('get', 'native/regconfig.do',{platForm:2},true,'.content-import').then(res =>{
                    if(res.success){
                        if(res.content){
                            for(let i in res.content){
                                var obj = {type:'text',value:''};
                                obj['label'] = res.content[i].name;
                                obj['key'] = res.content[i].key;
                                obj['placeholder'] = res.content[i].remindText || '请输入' + res.content[i].name;
                                obj['requiredVal'] = res.content[i].requiredVal;
                                switch (res.content[i].key) {
                                    case 'userName':
                                        obj['maxlength'] = 5;
                                        break;
                                    case 'qq':
                                        obj['maxlength'] = 12;
                                        break;
                                    case 'phone':
                                        obj['maxlength'] = 11;
                                        break;
                                    case 'email':
                                        obj['maxlength'] = 22;
                                        break;
                                    case 'receiptPwd':
                                        obj['maxlength'] = 20;
                                        break;
                                    case 'cardNo':
                                        obj['maxlength'] = 25;
                                        break;
                                    case 'wechat':
                                        obj['maxlength'] = 20;
                                        break;
                                    case 'promoCode':
                                        obj['maxlength'] = 10;
                                        break;
                                    default:
                                        obj['maxlength'] = 10;
                                }
                                this.informationList.push(obj);
                            }
                        }
                    } else {
                        this.$message.error('获取注册信息失败,请刷新页面重试')
                    }
                }, resolve =>{
                    console.log(resolve)
                })
            },
            verifyCode:function () {
                this.verifyCodeImg = this.$store.state.apiUrl + 'native/regVerifycode.do?v=' + ++this.verifyCodeNum + '&flag=false'
            }
        },
    }
</script>

<style scoped lang="less">
    .verifyCode{
        position: relative;
        img{
            position: absolute;
            right: 0;
            height: 37px;
        }
    }
</style>
