<template>
  <div>
    <head_nav></head_nav>
    <div class="other">
      <div class="container" style="width: 100%;text-align: center" v-if="chatData">
        <iframe id="mainframe" name="mainframe" scrolling="yes" :src="`${chatData.domainUrl}/?token=${chatData.userToken}`" frameborder="0" height="800" width="1100px"></iframe>
      </div>
    </div>
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import head_nav from  '@/components/include/head_nav'
import foot_nav from  '@/components/include/foot_nav'
export default {
  name: "chat",
  components:{
    head_nav ,foot_nav
  },
  data(){
    return {
      chatData:this.$store.state.chatData
    }
  },
}
</script>

<style scoped>

</style>