<template>
    <div>
        <head_nav></head_nav>
<!---------------------------------------------------头部 start-------------------------------------------------------->
        <div class="help">
            <div class="container">
                <div class="help-side">
                    <div class="help-side-header">help</div>
                    <ul>
                        <li v-for="(item, index) in helpList" :key='index'><a href="javascript:void(0)" @click="getHelpContent(item.code)">{{item.title}}</a></li>
                        <li><a href="/daili">代理登陆</a></li>
                    </ul>
                </div>
                <div class="help-content">
                    <div>
                        <h1>{{helpContent.title}}</h1>
                        <div class="help-content-main">
                            <p v-html="helpContent.content"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!---------------------------------------------------底部 start-------------------------------------------------------->
        <foot_nav></foot_nav>
    </div>
</template>

<script>
    import '@/assets/css/help.less'
    import  head_nav from '@/components/include/head_nav'
    import foot_nav from "@/components/include/foot_nav"
    import {http_ajax} from "../assets/js/resource";
    import $ from  'jquery'
    export default {
        name: "help.vue",
        components:{
            head_nav,foot_nav
        },
        data(){
            return{
                helpList:[],
                helpContent:{
                    title:'暂无更多内容',
                    content:'',
                },
            }
        },
        created:function () {
        },
        mounted:function(){
            this.helpData()
            this.getHelpContent(this.$route.query.code || 1)
        },
        watch: {
            // 切换彩种初始化页面数据
            '$route.query.code'(){
                this.getHelpContent(this.$route.query.code)
            }
        },
        methods:{
            helpData:function(){
                http_ajax("post","native/helplist.do",{},true,'.help-side').then(res=>{
                    this.helpList = res.hplist
                    // this.getHelpContent(1)
                    this.helpContent.title = res.hplist[0].title
                    this.helpContent.content = res.hplist[0].content
                })
            },
            // 获取相对应的帮助内容
            getHelpContent:function (code) {
                let that = this
                $.each(this.helpList,function (index,item) {
                    if(item.code == code){
                        that.helpContent.title = item.title
                        that.helpContent.content = item.content
                    }
                })
            }
        }
    }
</script>

<style lang="less" scoped>

</style>
