@import "../include/base";
.account_details{
  height: 100%;
  width: 100%;
  position: absolute;
  .content{
    width: 100%;
    position: absolute;
    top: 4.4rem;
    right: 0;
    left: 0;
    bottom: 0;
    .content-card{
      display: flex;
      text-align: center;
      padding: 1.6rem;
      position: relative;
      margin: 1.1rem;
      background: #ececec;
      border-radius: .1rem;
      box-shadow: 0 0 4px 0px rgb(0 0 0 / 30%);
      font-size: 1.4rem;
      .c-c-item{
        flex-grow: 1;
        em{
          font-size: 1.6rem;
          font-style: normal;
        }
        p{
          font-size: 1.5rem;
        }
      }
    }
    .content-list{
      position: relative;
      height: 100%;
      .list-wrap{
        margin: 0px 1.1rem 1.1rem 1.1rem;
        background-color: #ffffff;
        font-size: 1.6rem;
        font-style: normal;
        box-sizing: border-box;
        a{
          display: inline-block;
          width: 100%;
          box-sizing: border-box;
          font-style: normal;
          font-size: inherit;
          padding: 1.1rem 3.3rem 1.1rem 1.6rem;
          p{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-style: normal;
            font-size: inherit;
            span,em{
              font-style: normal;
              font-size: inherit;
            }
            .red{
              color: red;
              padding: 0 2px;
            }
            .blue{
              color:#0894ec ;
            }
            &:first-child{
              font-size: 1.8rem;
              span{
                font-size: inherit;
              }
            }
          }
        }
      }
    }
  }
}