@import "../include/base";
.awardRecord{
  .content{
    width: 100%;
    position: absolute;
    top: 4.4rem;
    right: 0;
    left: 0;
    bottom: 0;
    .content-item-title{
      table-layout: fixed;
      width: 100%;
      text-align: center;
      color: #666;
      background: #fff;
      overflow: hidden;
      tr{
        border-bottom: 1px solid #f3f3f3;
        th{
          width: 100%;
          font-size: 1.6rem;
          font-weight: 400;
          background: #f3f3f3;
          line-height: 4.0rem;
        }
        td{
          height: 4.0rem;
          width: 100%;
          font-size: 1.4rem;
          text-align: center;
        }
      }
    }
  }
}