@import "../include/base";
body{
  background-color: #ffffff;
}
.website_message{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  overflow-y:scroll;
  .header{
    height: 4.6rem;
    background: #ec2829;
    color: #ffffff;
    line-height: 4.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    a{
      color: #ffffff;
      float: left;
      font-size: 1.5rem;
      left: 0.8rem;
      top: 0.4rem;
      position: absolute;
      i{
        font-size: 2.4rem;
      }
      .bark{
        font-size: 1.6rem;
        vertical-align: top;
        line-height: 3.6rem;
        display: inline-block;
      }
    }
    .title{
      float: left;
      font-size: 1.6rem;
    }
    .edit{
      position: absolute;
      right: 0.8rem;
      font-size: 1.6rem;
      color: #ffffff;
    }
  }
  .content{
    width: 100%;
    padding: 4.6rem 0;
    .content-item{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 4rem;
      border-bottom: 1px solid #e7e7e7;
      .item-left{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 74%;
        .item-lable{
          width: 1.1rem;
          height: 1.1rem;
          display: inline-block;
          border-radius: 50%;
          background: #f1e3b9;
          margin: 0 1.5rem;
        }
        .item-checkbox{
          padding: 0  5px;
        }
        .item-title{
          font-size: 1.6rem;
          color: #000000;
          text-align: left;
          margin-left: 5px;
          width: 100%;
        }
      }
      .item-right{
        margin-right: 15px;
        .item-after{
          font-size: 1.4rem;
          color: #5f646e;
        }
      }
    }
    .content-item-detail{
      z-index: 3001!important;
      .detail-title{
        display: block;
        height: 4.6rem;
        line-height: 4.6rem;
        color: #ffffff;
        text-align: center;
        box-sizing: border-box;
        width: 100%;
        padding: 0 1rem;
        background-color: #ec2829;
        font-size: 1.6rem;
        position: relative;
        .title{
          font-size: inherit;
          color: inherit;
          display: inline-block;
        }
        .close{
          font-size: inherit;
          color: inherit;
          position: absolute;
          right: 1rem;
          display: inline-block;
        }
      }
      .detail-content{
        font-size: 1.6rem;
        padding: 0.5rem;
        .card-header{
          line-height: 4.5rem;
        }
        .card-content-inner{
          padding: 1rem;
          line-height: 1.4;
        }
      }
    }
  }
  .bet-footer{
    background-color: #171719;
    position: fixed;
    bottom: 0;
    z-index: 3000;
    width: 100%;
    padding: 0.5rem;
    text-align: right;
    button{
      margin-right: 1.5rem;
      height: 3.5rem;
      &:last-child{
        color: #000000!important;
      }
    }
  }
}