@import "include/base";
.login{
  .position-box();
  background: url("../images/login_bg.jpg") no-repeat #f5f6f9;
  background-size:100%;
  .title{
    text-align: center;
    font-size: 2rem;
    height: 7rem;
    line-height: 7rem;
  }
  .login-input{
    .line{
      width: 90%;
      margin-left: 5%;
      margin-top: 2rem;
      text-align: center;
    }
    input{
      width: 100%;
      border: none;
      background: none;
      border-bottom: 1px solid #dde1e8;
      height: 3rem;
      font-size: 1rem;
    }
    button{
      width: 100%;
      border-radius: 15px;
      background: #6aa1f5;
      color: #ffffff;
      height: 3rem;
      line-height: 3rem;
      border: none;
    }
    span{
      display: inline-block;
      margin: auto .6rem;
      color: #9b9b9b;
    }
  }
}
