<template>
  <div class="flexWrap">
    <van-nav-bar @click-left="back" :right-text="'￥'+meminfoDetails.money" left-arrow class="back" title="号码篮">
    </van-nav-bar>
    <div class="p-b-t-10 p-l-r-15 tab p-r z-999" style="margin-top: 46px;">
      <van-row>
        <van-col span="8">
          <div @click="jixuan(1)" class="tabItem"><img src="../../../../../static/img/add2.png" width="10" alt=""><span>机选一注</span>
          </div>
        </van-col>
        <van-col span="8">
          <div @click="jixuan(5)" class="tabItem"><img src="../../../../../static/img/add2.png" width="10" alt=""><span>机选五注</span>
          </div>
        </van-col>
        <van-col span="8">
          <div @click="closeHml" class="tabItem"><img src="../../../../../static/img/add2.png" width="10" alt=""><span>继续选号</span>
          </div>
        </van-col>
      </van-row>
    </div>
    <div class="flexContent">
      <div class="bg-w m-l-r-15 numberbox">
        <ul v-for="item,index in list" class="p-l-r-15">
          <li class="p-b-t-10 p-r numberlist">
            <em class="d-b c-r f-s-16 h-20 l-h-20">{{changeType(item)}}</em>
            <span class="d-b c-6 f-s-18">
            {{item[0].name}} {{item[0].selectHaoMaLenght? item[0].selectHaoMaLenght:item.length}}注×2元×({{getSelectMoney(item)}})倍  =
               {{getMoney(item)}}元</span>
            <div class="p-a t-20 r-0"><img src="../../../../../static/img/sub.png" @click="delNumber(index)" width="22"
                                           height="22" alt=""></div>
          </li>
        </ul>
        <div v-if="list.length" class="clearAll f-s-20 c-6">
          <span @click="clearNum" class="w-b100 d-i text-c p-b-t-15"><van-icon name="delete" size="0.8rem"
                                                                               color="#bdbdbd" class="v-m"></van-icon> 清空</span>
        </div>
      </div>
      <div class="h-60"></div>
      <div class="h-60"></div>
    </div>
    <!-- 购物车 样式-->
    <div v-if="true" class="footer z-999">
      <div :class="" class="bg-r h-60 clear">
        <div :class="" class="flyIcon">
          1
        </div>
        <div class="pull-l footer-left " style="width: 66.5%">
          <div class="c-w p-b-t-5 p-l-10 h-60">
            <div class="d-i f-s-16 h-50 v-t f-s-16"><p> 方案{{selectLength}}注, {{ tzMoney }}元</p>
              <p v-if="" class="h-20 l-h-20 f-s-14">普通投注</p></div>
          </div>
        </div>
        <div @click="isTz=true" class="pull-r p-r" style="width: 33.5%">
          <p class="hml c-w l-h-60 bg-r p-l-20 m-l-10">
            <span style="vertical-align: middle">立即投注</span>
          </p>
        </div>
      </div>
    </div>

    <!--投注弹窗-->
    <van-dialog v-model="isTz" title="投注确认" show-cancel-button show-confirm-button :before-close="submitNum">
      <div class="p-b-t-15 b-t f-s-18 text-l p-l-r-30 flexWrap" style="word-wrap:break-word">
        {{plays.name}}: {{ countDown.content.qiHao || '--'}}期<br/>
        投注金额:<span class="c-r"> {{ tzMoney }}元</span><br/>
        投注内容:<br/>
        <div class="flexContent" style="height: 100px">
          <p v-for="item in list">
            [ {{item[0].playsName}} ] {{changeType(item)}}
          </p>
        </div>
      </div>
    </van-dialog>
    <!--投注弹窗-->
  </div>
</template>

<script>
  import {Dialog} from 'vant'
  import {Toast} from 'vant'
  import {Tab, Tabs} from 'vant';
  import {Icon} from 'vant';

  export default {
    props: ['list', 'countDown', 'rule', 'plays', 'fromData', 'tzConfirm', 'meminfoDetails'],
    data() {
      return {
        isTz: false, //投注弹窗
        selectLength: 0, //下注注数
        selectHaoMaLenght: 0,//下注数
      };
    },
    computed: {
      //计算投注总额
      tzMoney: function () {
        if (!this.list.length) return;
        let len = 0, tzMoney = 0;
        if (!this.list[0][0].selectHaoMaLenght) {
          for (let i in this.list) {
            len += this.list[i].length;
            tzMoney += this.list[i].length * this.list[i][0].selectMoney * this.list[i][0].moneyType * 2;
          }
          this.selectLength = len;
        } else {
          tzMoney = this.list[0][0].selectHaoMaLenght * this.list[0][0].selectMoney * this.list[0][0].moneyType * 2;
        }
        return tzMoney.toFixed(2)
      }
    },
    created: function () {

    },
    methods: {
      getSelectMoney: function (item) {
        let arr = [];
        for (let i in item) {
          arr.push(item[i].selectMoney)
        }
        let selectMoney = arr.join(',').length > 5 ? arr.join(',').slice(0, 5) + '...' : arr.join(',');
        return selectMoney;
      },
      getMoney: function (item) {
        let money = 0;
        for (let i in item) {
          money += (item[i].selectMoney * item[i].moneyType * 2)
        }
        return money.toFixed(2);
      },
      jixuan: function (num) {
        switch (this.rule.name) {
          case "选二任选":
          case "选二连组":
          case "选二连直":
            this.$emit('randomNum', num, 2);
            break;
          case "选三任选":
          case "选三前组":
          case "选三前直":
            this.$emit('randomNum', num, 3);
            break;
          case "选四任选":
            this.$emit('randomNum', num, 4);
            break;
          case "选五任选":
            this.$emit('randomNum', num, 5);
            break;
          default:
            this.$emit('randomNum', num)
        }
      },
      // 投注确认弹窗
      submitNum: function (e, done) {
        this.tzSuccess = false;
        if (e == 'confirm') {
          // 保存下注数据
          let fromData = {
            data: null,
            lotType: this.plays.czCode,
            groupCode: this.rule.code,
            qiHao: this.countDown.content.qiHao,
            version: 5,
            lotCode: this.plays.code,
          };
          let data = new Array();
          //组合要提交的数据

          for (let i in this.list) {
            for (let n in this.list[i]) {
              switch (this.list[i][n].playCode) {
                case 'shuangmianpan':
                  this.list[i][n].name == '总和' ? name = this.list[i][n].hm : name = this.list[i][n].name + '--' + this.list[i][n].hm;
                  break;
                case 'diyiqiu':
                case 'dierqiu':
                case 'disanqiu':
                case 'disiqiu':
                case 'diwuqiu':
                case 'diliuqiu':
                case 'diqiqiu':
                case 'dibaqiu':
                case 'xuanerrenxuan':
                case 'xuanerlianzu':
                case 'xuanerlianzhi':
                case 'xuansanrenxuan':
                case 'xuansanqianzu':
                case 'xuansanqianzhi':
                case 'xuansirenxuan':
                case 'xuanwurenxuan':
                  name = this.list[i][n].hm;
                  break;
                default:
                  name = this.list[i][n].name + '--' + this.list[i][n].hm;
              }
              data.push({
                money: this.list[i][n].moneyType * this.list[i][n].selectMoney * 2,
                name: name,
                oddsId: this.list[i][n].oddsId + '',
                playCode: this.list[i][n].playCode,
                max: this.list[i][n].max,
                min: this.list[i][n].min,
                playName: this.list[i][n].playsName,
              });
            }
          }
          fromData.data = JSON.stringify(data);
          for (let i in fromData) {
            this.$set(this.fromData, i, fromData[i]);
          }
          // 下注
          this.touZhu(fromData, done);
          return done();
        } else {
          done()
        }
      },
      //提交投注请求
      touZhu: function (data, done) {
        let cthis = this;
        $sky.betInfoV2(data, (ret) => {
          if (ret.success) {
            cthis.tzConfirm.share = ret.share;
            ret.share === false ? cthis.tzConfirm.leftText = '查看注单' : cthis.tzConfirm.leftText = '分享注单';
            // 投注成功，通知父组件清理数据
            this.$emit('close');
            done();
          } else {
            done();
            Toast.fail(ret.msg || '未知异常')
          }
        })
      },
      // 删除所有注单
      clearNum: function () {
        this.list.splice(0, this.list.length);
      },
      //删除一个注单
      delNumber: function (index) {
        // console.log(index);
        this.list.splice(index, 1);
      },
      // 转换展示的格式
      changeType: function (item) {
        if (false) {
          let zh = '', wan = '', qian = '', bai = '', shi = '', ge = '';
          for (let i in item) {
            switch (item[i].name) {
              case '总和':
                zh += item[i].hm + ' ';
                break;
              case '万位':
                wan += item[i].hm + ' ';
                break;
              case '千位':
                qian += item[i].hm + ' ';
                break;
              case '百位':
                bai += item[i].hm + ' ';
                break;
              case '十位':
                shi += item[i].hm + ' ';
                break;
              case '个位':
                ge += item[i].hm + ' ';
                break;
            }
          }
          let haoma = (zh == '' ? '-' : zh) + ',' + (wan == '' ? '-' : wan) + ',' + (qian == '' ? '-' : qian) + ',' + (bai == '' ? '-' : bai) + ',' + (shi == '' ? '-' : shi) + ',' + (ge == '' ? '-' : ge);
          return haoma.length > 25 ? (haoma.substr(0, 25) + '...') : haoma;
        }
        let haoma = '';
        for (let i in item) {
          haoma += item[i].hm + ' ';
        }
        return haoma.length > 23 ? (haoma.substr(0, 23) + '...') : haoma;
      },
      //后退按钮
      back: function () {
        this.$emit('closeHml')
      },
      closeHml: function () {
        this.$emit('closeHml')
      }
    }
  }
</script>

<style>
  .clearAll {
    background-color: #fff;
    background: url('../../../../../static/img/hml-bg.png') 0 100% #fff;
    background-repeat: repeat-x;
    background-size: 10px;
  }

  .bg-r {
    background: #dc3b40;
  }

  .moneyBox {
    border: 1px solid #d2d2d2;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 2.7em;
    height: 1.6em;
    margin: 0 .4em;
    border-radius: .2em;
    padding: 0 .4em;
  }

  .footer {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 1s;
    transition: 1s;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  /*购物车样式*/
  .isMoneyBox .hml:before {
    border-left: .5em solid #dc3b40;
  }

  .footer .isMoneyBox .footer-left {
    background: #dc3b40;
  }

  .activeMoney {
    background: #dc3b40;
    color: #fff;
  }

  .l-h-30 {
    line-height: 2rem;
  }

  .h-30 {
    height: 2rem;
  }

  .w-30 {
    width: 2rem;
  }

  .tz-button {
    color: #4e0904;
    height: 2em;
    line-height: 2em;
    padding: 0 .6em;
    margin: 0em .3em;
    border-radius: .2em;
    background: #feab03;
    background: linear-gradient(180deg, #ffdb01 0, #e07a06);
    background: -webkit-linear-gradient(bottom, #ffdb01, #e07a06);
  }

  #ssc .cart .bet-money {
    background-color: #cbeedc;
    border-radius: .2em;
    color: #19593c;
  }

  #ssc .cart {
    color: #caebda;
    background-color: #22563f;
  }

  .footer .footer-left {
    background: #252625;
  }

  .bg-e {
    background: #575858;
  }

  .hml:before {
    content: "";
    position: absolute;
    -webkit-transition: .1s;
    transition: .1s;
    width: 6px;
    height: 0;
    border-top: 1.7em solid transparent;
    border-left: .5em solid #252625;
    border-bottom: 1.22449em solid transparent;
    left: 0;
    top: 0;
  }

  .l-h-60 {
    line-height: 3rem;
  }

  /*购物车样式*/

  .check-off {
    background: url(../../../../../static/img/check-false.png) no-repeat center;
    background-position: 41px 16px;
    background-size: 15px;
  }

  .check-on {
    background: url(../../../../../static/img/check-true.png) no-repeat center;
    background-position: 41px 16px;
    background-size: 15px;
  }

  .numberbox {
    background-color: #fff;
    background: url('../../../../../static/img/hml-bg.png') 0 100% #fff;
    background-repeat: repeat-x;
    background-size: 10px;
    box-shadow: 0 0 0.5em #ccc;
  }

  .numberlist {
    border-bottom: 1px dashed #ccc;
  }

  .tab {
    text-align: center;
    box-shadow: 0 0 0.5em #b9b9b9;
    background: #f9f8f0;
  }

  .tabItem img {
    vertical-align: inherit;
    padding-right: 5px;
  }

  .tabItem {
    height: 2rem;
    background: #fff;
    border-radius: 5px;
    line-height: 2rem;
    margin-right: 5px;
    text-align: center;
    border: 1px solid #d2d2d2;
    font-size: 14px;
  }

  #haomalan {
    width: 100%;
    height: 100%;
    background: #f9f8f0;
  }

  .c-g {
    color: rgb(92, 184, 92);
  }

  .c-b {
    color: rgb(51, 122, 183);
  }

  .c-r {
    color: rgb(255, 0, 0);
  }

  #haomalan .van-nav-bar {
    z-index: 100 !important;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    background: -webkit-linear-gradient(bottom, #dc3b40 2%, #dc3b40 50%, #db3b40 51%, #d7363b);
  }

  #haomalan .bottom_go {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  #haomalan .van-nav-bar__title {
    color: #fff !important;
    font-size: 1.1rem;
  }

  #haomalan .van-nav-bar .van-icon {
    color: #fff !important;
  }
</style>
