<template>
  <div class="mode">
    <div class="sscCheckNumber">
      <ul v-if="lotteryTemplateType == 1">
        <li v-for="(item, index) in sonData.templateList" :key="index">
          <div class="selectNormal">
            <span class="buyNumberTitle">{{ item.name }}<i></i></span>
            <div class="buyNumber">
              <div @click="addCart(index,index2)" v-for="(list, index2) in sonData.templateList[index].oddPlayItems"
                   :key="index2" style="display: inline-block;text-align: center;">
                <a :class="{active:list.isActive}"
                   style="margin: 13px 5px 0 5px;width: 60px;border-radius:5px;display: block;">{{ list.name }}</a>
                <el-tag size="mini" type="info">{{ list.odds }}</el-tag>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <ul v-else-if="lotteryTemplateType == 2">
        <li v-for="(item, index) in sonData.templateList" :key="index">
          <div class="selectNormal">
            <span class="buyNumberTitle">{{ item.name }}<i></i></span>
            <div class="buyNumber">
              <div @click="addCartDirect(index,index2)"
                   v-for="(list, index2) in sonData.templateList[index].oddPlayItems" :key="index2"
                   style="display: inline-block;text-align: center;">
                <a :class="{active:list.isActive}" style="display: block;">{{ list.name }}</a>
                <el-tag size="mini" type="info">{{ list.odds }}</el-tag>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import $ from 'jquery'
import lotteryHtml from '@/assets/json/lotteryTemplate/klsf.json'

export default {
  name: "official",
  props: ['sonData', 'params', 'lottery'],
  data() {
    return {
      lotteryTemplateType: 1,
      floder: this.$store.state.stationInfo.content.station.floder || 'x002',
    }
  },
  created: function () {
    this.showTemplate()
  },
  mounted: function () {
  },
  watch: {},
  methods: {
    // 选中号码
    addCart: function (index, index2) {
      this.$parent.addCart(index, index2)
      this.$forceUpdate()
    },
    addCartDirect: function (index, index2) {
      this.$parent.addCartDirect2(index, index2)
      this.$forceUpdate()
    },
    // 给小于10的号码加零
    addZero: function (num, three) {
      if (three) {
        num < 10 ? num = '0' + num : num = '' + num;
        num < 100 ? num = '0' + num : num = '' + num;
      } else {
        num < 10 ? num = '0' + num : num = '' + num;
      }
      return num;
    },
    // 填充json数据
    showTemplate: function () {
      let that = this
      let data = lotteryHtml.data
      for (let i in data) {
        if (data[i].playName == this.params.sonCode) {
          that.sonData.templateList = data[i].data
          // 获取当前玩法数据
          $.each(this.lottery.rules, function (index, item) {
            $.each(item.rules, function (index2, item2) {
              if (item2.code == that.params.sonCode) {
                that.sonData.thatPlayType = item.rules
              }
            })
          })
          // 填充玩法数据
          $.each(that.sonData.thatPlayType, function (index, item) {
            if (item.code == that.params.sonCode) {
              let dxdzzh = '', list = [];
              switch (that.params.sonCode) {
                case 'shuangmianpan':
                  that.lotteryTemplateType = 1
                  dxdzzh = ['总大', '总小', '总单', '总双', '总尾大', '总尾小']
                  list = [];
                  for (let i = 0; i < dxdzzh.length; i++) {
                    let obj = item.oddPlayItems[0];
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = dxdzzh[i];
                    newobj.classify = dxdzzh[i];
                    list.push(newobj)
                  }
                  that.sonData.templateList[0].oddPlayItems = list
                  dxdzzh = ['大', '小', '单', '双', '尾大', '尾小', '合单', '合双']
                  list = [];
                  for (let n in that.sonData.templateList) {
                    list = [];
                    // 填充其他
                    for (let i = 0; i < dxdzzh.length; i++) {
                      let obj = item.oddPlayItems[0];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = dxdzzh[i];
                      newobj.classify = that.sonData.templateList[n].name + '--' + dxdzzh[i];
                      list.push(newobj)
                    }
                    n > 0 ? that.sonData.templateList[n].oddPlayItems = list : ''
                  }
                  break;
                case 'danqiu1-8':
                  that.lotteryTemplateType = 1
                  for (let n in that.sonData.templateList) {
                    list = [];
                    // 填充数字
                    for (let i = 1; i < 21; i++) {
                      let obj = item.oddPlayItems[0];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = that.addZero(i);
                      newobj.classify = that.sonData.templateList[n].name + '--' + that.addZero(i);
                      list.push(newobj)
                    }
                    that.sonData.templateList[n].oddPlayItems = list
                  }
                  break;
                case 'diyiqiu':
                case 'dierqiu':
                case 'disanqiu':
                case 'disiqiu':
                case 'diwuqiu':
                case 'diliuqiu':
                case 'diqiqiu':
                case 'dibaqiu':
                  that.lotteryTemplateType = 1
                  // 填充数字
                  for (let i = 1; i < 21; i++) {
                    let obj = item.oddPlayItems[0];
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = that.addZero(i);
                    newobj.classify = that.addZero(i);
                    list.push(newobj)
                  }
                  that.sonData.templateList[0].oddPlayItems = list
                  list = []
                  dxdzzh = item.oddPlayItems.slice(1)
                  for (let i = 0; i < dxdzzh.length; i++) {
                    let obj = dxdzzh[i];
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = dxdzzh[i].name;
                    newobj.classify = dxdzzh[i].name;
                    list.push(newobj)
                  }
                  that.sonData.templateList[1].oddPlayItems = list
                  break;
                case 'xuanerrenxuan':
                case 'xuanerlianzu':
                case 'xuanerlianzhi':
                case 'xuansanrenxuan':
                case 'xuansanqianzu':
                case 'xuansanqianzhi':
                case 'xuansirenxuan':
                case 'xuanwurenxuan':
                  that.lotteryTemplateType = 2
                  // 填充数字
                  for (let i = 1; i < 21; i++) {
                    let obj = item.oddPlayItems[0];
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = that.addZero(i);
                    newobj.classify = that.addZero(i);
                    list.push(newobj)
                  }
                  that.sonData.templateList[0].oddPlayItems = list
                  break;
              }
            }
          })
        }
      }
    },
  }
}
</script>

<style scoped>
.buyNumber {
  padding: 0 50px !important;
}
</style>
