<template>
  <div class="addressList">
    <div class="addressList-continer">
      <header>
        <header-page :title="title" :skipPageUrl="skipPageUrl"></header-page>
      </header>
    </div>
    <footer-page :indexs="index"></footer-page>
  </div>
</template>
<script>
  import footerPage from "./include/footerPage";
  import headerPage from "./include/headerPage";
  export default {
    name:"addressList",
    components:{footerPage,headerPage},
    data(){
      return{
        title:"通讯录",
        skipPageUrl:"/www.baidu.com",
        index:1
      }
    },
  }
</script>
<style lang="scss" scoped>
.addressList{
  position: absolute;
  height: 100vh;
  width: 100vw;
  .addressList-continer{

  }
}
</style>
