<template>
  <div class="recharge">
    <div class="recharge-continer">
      <header>
        <header-page :title="title" :skipPageUrl="skipPageUrl"></header-page>
      </header>
        <van-pull-refresh v-model="isLoading" :head-height="60" @refresh="onRefresh">
          <!-- 下拉提示，通过 scale 实现一个缩放效果 -->
          <template #pulling="props">
            <img
              class="doge"
              src="https://img.yzcdn.cn/vant/doge.png"
              :style="{ transform: `scale(${props.distance / 60})` }"
            />
          </template>
          <!-- 释放提示 -->
          <template #loosing>
            <img class="doge" src="https://img.yzcdn.cn/vant/doge.png" />
          </template>

          <!-- 加载提示 -->
          <template #loading>
            <img class="doge" src="https://img.yzcdn.cn/vant/doge-fire.jpg" />
          </template>
          <main>
            <van-swipe-cell right-width="65" left-width="65">
              <span slot="left">888</span>
              <van-cell-group>
                <van-cell title="111" value="02-11 01:09" label="最近发现众多消耗潜伏在其中我我要彻底消灭你们"  size="large" icon="https://b.yzcdn.cn/vant/icon-demo-1126.png" />
              </van-cell-group>
              <span slot="right">删除</span>
            </van-swipe-cell>
          </main>
        </van-pull-refresh>
    </div>
    <footer-page :indexs="index"></footer-page>
  </div>
</template>
<script>
  import footerPage from "./include/footerPage";
  import headerPage from "./include/headerPage";
  import scrollFreshen from "./include/scrollFreshen";
  import {mapMutations,mapState } from 'vuex'
  export default {
    name:"chat",
    components:{footerPage,headerPage,scrollFreshen},
    data(){
      return{
        title:"世纪米聊",
        skipPageUrl:"/login",
        index:0,
        vanswipecell:[1,2,3,4,5,6,7,8,9,8,7,5,6,9],
        isLoading:false,
        count:0,
        StationInfo:''
      }
    },
    created() {
      this.getStationInfo()
      console.log(this)
    },
    mounted() {

    },
    methods:{
      onRefresh() {
        setTimeout(() => {
          this.$toast('刷新成功');
          this.isLoading = false;
          this.count++;
        }, 1000);
      },
      getStationInfo:function () {
        this.$http.home.getStationInfo().then(res=>{
          if (res.data.success){
            console.log(res.data)
            this.$store.commit("updataStationInfo",res.data)
          }else {
            this.$toast({
              message:"基础信息请求失败",
              duration:1000,
              forbidClick:true
            })
          }
        })
      },
    },
    computed:{
    }
  }
</script>
<style lang="scss" scoped>
  .doge {
    width: 140px;
    height: 72px;
    margin-top: 8px;
    border-radius: 4px;
  }
.recharge{
  position: absolute;
  height: 100vh;
  width: 100%;
  max-width: 750px;
  >>>.van-pull-refresh__track{
    min-height: calc(100vh - 1.6rem - 1.1rem);
  }
  .recharge-continer{
    header{}

    main{
      position: relative;
      margin-top: 1.6rem;
      margin-bottom: 1.6rem;
      /*min-height: calc(100vh - 1.6rem - 1.1rem);*/
      height: 100%;
      .van-cell{
        font-size: 0.22rem;
        line-height: 0.48rem;
        .van-cell__value{
          span{
            display: inline-block;
            text-align: center;
            width: 100%;
          }
        }
      }
      .van-cell__title{
        flex: 3;
        max-width: 250px;
      }
      .van-cell__label{
        overflow:hidden ;
        text-overflow:ellipsis;
        white-space :nowrap;
      }
      .van-cell--large{
        padding-top:5px;
        padding-bottom: 5px;
        padding-right: 0.1rem;
      }
      .van-cell-group{
        border-bottom: 1px solid #ececec;
      }
      >>>.van-swipe-cell__right{
        width: 1.3rem;
        background: red;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      >>>.van-icon__image{
        width: 1rem;
        height: 1rem;
      }
      .van-cell__left-icon{
        width: 1rem;
        height: 1rem;
      }
      //loading
    }
  }
}
</style>
