<template>
  <div class="game">
    <div class="game-container">
      <div class="container-header">
        <header>
          <ul>
            <li>
              <i class="iconfont icon-kefu"></i>
            </li>
            <li>
              <span>游戏{{$store.state.isLoading}}</span>
            </li>
            <li>
              <i class="iconfont icon-shezhi"></i>
            </li>
          </ul>
        </header>
      </div>
      <div class="container-nav">
        <nav class="nav-top">
          <ul>
            <li v-for="(item,index) in gameClassifyDate" :key="index" @click="getDatasBesidesLotterys(item)" >
                <span :class="navTopActive == item.dataCode ? 'navTopActive': ''" >{{item.title}}</span>
            </li>
          </ul>
        </nav>
        <nav class="nav-left">
          <ul>
            <li v-for="(item,index) in lotteryClassifyDate" :key="index" @click="handleLotterDate(item),navLeftActive = index"><span :class="navLeftActive==index ? 'navLeftActive':''">{{item.name || item.title}}</span></li>
          </ul>
        </nav>
        <nav class="nav-main" :style="showRightLoading ? 'display: inline-flex;align-items: center;justify-content: center;':''">
            <van-loading size="24px" type="spinner" vertical v-if="showRightLoading" >{{showRightLoadingText}}</van-loading>
            <ul v-else>
                <li v-for="(item,index) in ClassifyDateCompited" :key="index" >
                    <div class="main-classify">
                        <p :class="item.stauts == 2 ? 'after':''">
                            <img v-lazy="item.imgUrl || 'https://x002.xb336.com'+item.lotUrl " :alt="item.code" >
                            <img v-lazy="item.gifUrl != '' && 'gifUrl' in item ? item.gifUrl : ''" :alt="item.code" v-if="item.gifUrl != '' && 'gifUrl' in item" style="position: absolute;">
                        </p>
                        <p>
                            <span>{{item.name}}</span>
                            <span class="info">{{item.remark}}</span>
                        </p>
                    </div>
                    <!--                0 or 5--体育 1-真人 2-电子 3-棋牌  4-彩票 7-电竞-->
                    <div class="main-button" :name="item.status" v-show="navTopActive == 0 || navTopActive == 5">
                        <p >
                            <a @click="goGamePlays(item)" >{{skipUrlButtonText}}</a>
                        </p>
                    </div>
                    <div class="main-button" :name="item.status" v-show="navTopActive == 1">
                        <p >
                            <a  @click="goGamePlays(item)" v-if="navLeftClassifyGo.playCode == item.playCode">{{skipUrlButtonText}}</a>
                            <a  @click="goGamePlays(item)" v-else>进入</a>
                        </p>
                    </div>
                    <div class="main-button" :name="item.status" v-show="navTopActive == 2">
                        <p >
                            <a  @click="goGames(item)" v-if="navLeftClassifyGo.displayName == item.displayName">{{skipUrlButtonText}}</a>
                            <a  @click="goGames(item)" v-else>进入</a>
                        </p>
                    </div>
                    <div class="main-button" :name="item.status" v-show="navTopActive == 3">
                        <p >
                            <a @click="goChess(item)" v-if="navLeftClassifyGo.title == item.title">{{skipUrlButtonText}}</a>
                            <a @click="goChess(item)" v-else>进入</a>
                        </p>
                    </div>
                    <div class="main-button" :name="item.status" v-show="navTopActive == 4">
                        <p v-if="item.code != 'vr'">
                            <router-link :to="{path:'/lottery',query:{lotGroup:item.lotGroup,code:item.code,name:item.name,ClassifyDateCompited:JSON.stringify(ClassifyDateCompited)}}">进入</router-link>
                        </p>
                        <p v-else>
                            <a @click="vrUrl">进入</a>
                        </p>
                    </div>
                    <div class="main-button" :name="item.status" v-show="navTopActive == 7">
                        <p >
                            <a @click="goGamePlays(item)" v-if="navLeftClassifyGo.gameId == item.gameId">{{skipUrlButtonText}}</a>
                            <a @click="goGamePlays(item)" v-else>进入</a>
                        </p>
                    </div>
                </li>
            </ul>
        </nav>
      </div>
      <footer-page :indexs="index"></footer-page>
    </div>
  </div>
</template>

<script>
import footerPage from "@/components/include/footerPage";
export default {
  name: 'game',
  components:{footerPage},
  data () {
    return {
      index:2,  //footerPage onclick
      navLeftActive:0, //点击切换彩种
      navLeftClassify:{},//选中游戏小分类，用于电子点击进入事件
      navLeftClassifyGo:{},//点击进入，电子
      navTopActive:2,//点击切换游戏大类
      loadingShow:true, //loading onclick
      lotteryDate:new Object(), //lottery date
      lotteryClassifyDate:[], //lotteryGroup date
      ClassifyDate:[], //已经分好类的彩种
      gameClassifyDate:[],//nav-top游戏分类数据
      DzQpGameItem:[], //电子数据
      QpGameItem:[], //棋牌数据
      showRightLoading:false,//控制右面数据请求显示加载中
      showRightLoadingText:'加载中...',//控制右面数据请求显示加载中文字
      skipUrlButtonText:'进入',//跳转第三方需要请求连接的
      autoTransIs:'',//自动转换额度开关
      //autoTrans:'',//自动转入 是否成功
    }
  },
  created() {
    this.$store.commit('updateLoadingStatus',{isLoading:true}) //默认进入为true
    this.getDatasBesidesList();
    this.autoTrans(); //自动额度开关
    if (this.$store.state.isLogin ){
      this.$common.getcheckLastThirdBalance()//第三方额度自动转出
    }

  },
  mounted() {

  },
  methods:{
    //获取彩种全部
    getLotteryDate(){
      // this.$store.commit('updateLoadingStatus',{isloading:false})
      this.$http.home.getLoctterys('').then(res=>{
        if (res.data.success){
          this.lotteryDate = res.data.content
          this.handleLotterDate(this.lotteryClassifyDate[0])
          this.$store.commit('updateLoadingStatus',{isLoading:false})

        }else {
          this.$toast({message: res.data.msg, duration: 900,})
        }
      }).catch((reject)=>{
        console.log(reject)
      })
    },
    //获取游戏分组信息nav-left
    getLotteryGroup(){
      this.$http.home.lotteryDate('').then(res=>{
        if (res.data.success){
          this.lotteryClassifyDate = res.data.content;
          this.lotteryClassifyDate.push({code:11,name:"其他"})
          //先有分组数据才有彩票数据
          this.getLotteryDate();

        } else {
          this.$toast({message:'彩票分类出错！',duration:1000});}
      }).catch((reject)=>{
        console.log(reject)
      })
    },
    // //获取nav-top 的游戏种类
    getDatasBesidesList(){
      this.$http.home.getDatasBesidesList('').then(res=>{
        if (res.data.success){
          this.gameClassifyDate = res.data.content
          this.getDatasBesidesLotterys()
        }else {
          this.$toast({message:res.data.msg,duration:1000});
        }
      }).catch((reject)=>{
        console.log(reject)
      })
    },
    // //点击 nav-top 事件的游戏分类
    getDatasBesidesLotterys(items=this.gameClassifyDate[0]){
      this.lotteryDate =[]
      this.ClassifyDate = []
      this.navTopActive = items.dataCode
      if (this.navTopActive == 4){  //当时彩票的时候
        this.getLotteryGroup();
      }else {
        this.lotteryDate =[]
        this.ClassifyDate = []
        this.$http.home.getDatasBesidesLotterys({code:items.dataCode}).then((res)=>{
          if (res.data.success){
            this.lotteryDate = res.data.content
            this.lotteryClassifyDate = res.data.content
            this.handleLotterDate(res.data.content[0])
          }else {
            this.$toast({message:res.data.msg,duration:900})
          }
        })
      }
    },
    // //获取棋牌小游戏
    getQpGameItems(item = this.lotteryDate[0]){
      this.showRightLoadingText = item.title+ '加载中...'
      return new Promise((resolve,reject)=>{
        this.$http.home.getQpGameItems({playCode:item.playCode}).then((res)=>{
          if (res.data.success){
            this.QpGameItem = res.data.content
            resolve("成功")
          }else {
            this.$toast({message:res.data.msg,duration:1000});
          }
        }).catch((reject)=>{
          console.log(reject)
        })
      })
    },
    // //获取电子小游戏
    getDzGameItem(item = this.lotteryDate[0]){
      this.showRightLoadingText = item.title+ '加载中...'
      return new Promise((resolve,reject)=>{
        this.$http.home.getDzGameItem({code:item.playCode}).then((res)=>{
          if (res.data.success){
            this.DzQpGameItem = res.data.content
            resolve("成功")
          }else {
            this.$toast({message:res.data.msg,duration:900})
          }
        }).catch((reject)=>{
          console.log(reject)
        })
      })
    },
    // //将彩种种类和第三方分类整合，nav-left,处理请求的小数据
    handleLotterDate(item = this.lotteryClassifyDate[0]){ //点击小分类，nav-left,处理请求的小数据
      this.ClassifyDate = []
      //0--体育 1-真人 2-电子 3-棋牌  4-彩票 7-电竞
      switch (this.navTopActive) {
          case 3: //棋牌
          {
            // for (let i of this.lotteryDate){
            //   if (item.playCode == i.playCode){
            //     this.ClassifyDate.push(i)
            //   }
            // }
            this.navLeftClassify = item;
            console.log(this.navLeftClassify)
            this.getQpGameItems(item).then(()=>{
              for (let z of this.QpGameItem){
                this.ClassifyDate.push(z)
              }
              this.$nextTick(()=>{
                this.$store.commit('updateLoadingStatus',{isLoading:false})
                this.showRightLoading = false
              })
            })
          }
            break;
          case 2: //电子
          {
            this.navLeftClassify = item;
            if (item.playCode != 'bbinDz' && item.playCode !='ebetDz' && item.playCode !='bg'){
                this.getDzGameItem(item).then(()=>{
                  for (let z of this.DzQpGameItem){
                    this.ClassifyDate.push(z)
                  }
                  this.$nextTick(()=>{
                    this.$store.commit('updateLoadingStatus',{isLoading:false})
                    this.showRightLoading = false
                  })
                })
            }else {
                if (this.$store.state.isLogin){
                  //自动转入额度,必须在自动转换额度成功后才能跳转
                  if (this.$store.state.autoTransIs.switchIs){
                    let cthis = this;
                    var awaitSynchronize = async function(){
                      switch (item.playCode) {
                        case'bbinDz':
                        {
                          cthis.showRightLoadingText = item.title+ '加载中...'
                          await cthis.$http.entrys.getfastThirdRealTransMoney({changeTo:'bbin', changeFrom:'sys'}).then(res=>{
                            if (res.data.success){
                              cthis.$store.commit('autoTransIsChangeOver',true)
                            }
                          })
                          cthis.$http.home.getforwardBbin({type:'game'}).then((res)=>{
                            if (res.data.success){
                              location.href = res.data.url
                            }else {
                              cthis.$toast(res.data.msg)
                            }
                          })
                        }
                          break;
                        case'ebetDz':
                        {
                          cthis.showRightLoadingText = item.title+ '加载中...'
                          await cthis.$http.entrys.getfastThirdRealTransMoney({changeTo:'ebet', changeFrom:'sys'}).then(res=>{
                            if (res.data.success){
                              cthis.$store.commit('autoTransIsChangeOver',true)
                            }
                          })
                          cthis.$http.home.getforwardEbet({gameType:5}).then((res)=>{
                            if (res.data.success){
                              location.href = res.data.url
                            }else {
                              cthis.$toast(res.data.msg)
                            }
                          })
                        }
                          break;
                        case'bg':
                        {
                          cthis.showRightLoadingText = item.title+ '加载中...'
                          await cthis.$http.entrys.getfastThirdRealTransMoney({changeTo:'bg', changeFrom:'sys'}).then(res=>{
                            if (res.data.success){
                              cthis.$store.commit('autoTransIsChangeOver',true)
                            }
                          })
                          this.$http.home.getforwardBg({type:2,h5:1}).then((res)=>{
                            if (res.data.success){
                              location.href = res.data.url
                            }else {
                              cthis.$toast(res.data.msg)
                            }
                          })
                        }
                          break;
                      }
                    }
                    awaitSynchronize()
                  }

                }else {
                  this.$toast("请登录账号！才能继续访问")
                  setTimeout(()=>{
                    this.$router.replace({
                      path:'/login',
                      query:{
                        redirect:this.$router.currentRoute.fullPath
                      }
                    })
                  },500)
                  return
                }

            }
            //每一项添加大玩法
            // for (let i of this.lotteryDate){
            //   if (item.playCode == i.playCode){
            //     this.ClassifyDate.push(i)
            //   }
            // }
          }
            break;
          case 4: //彩票
            this.navLeftClassify = item;
            for (let i of this.lotteryDate){
              if (item.code == i.lotGroup){
                this.ClassifyDate.push(i)
              }
              if (item.code == 11 && i.code == 'vr'){
                this.ClassifyDate.push(i)
              }
            }
            break;
        default:
        {
          this.navLeftClassify = item;
          for (let i of this.lotteryDate){
            if (item.title == i.title){
              this.ClassifyDate.push(i)
            }
            this.$nextTick(()=>{
              this.$store.commit('updateLoadingStatus',{isLoading:false})
              this.showRightLoading = false
            })
          }
        }
      }
    },
    //vr 跳转
    vrUrl:function () {
      this.$http.caipiao.getforwardReal({playCode:'vr'}).then(res=>{
        if (res.data.success){
          window.open(res.data.content.url)
        }else{
          console.log("vr")
        }
      })
    },
    //棋牌跳转
    goChess:function(item){
      console.log(item)
      console.log(this.navLeftClassify)
      var cthis = this
      if (this.$store.state.isLogin){
        //自动转入额度 ，需要自动转入额度异步回调结束后才能进行跳转操作
        if (this.$store.state.autoTransIs.switchIs ){
          this.navLeftClassifyGo = item
          this.skipUrlButtonText = '载入中..'
          var awaitSynchronize = async function(){
            await cthis.$http.entrys.getfastThirdRealTransMoney({changeTo:cthis.navLeftClassify.playCode, changeFrom:'sys'}).then(res=>{
              if (res.data.success){
                this.$store.commit('getautoTransIsChangeOver',true)
              }
            })
            if (item.playCode =='ky'){ //开元棋牌
              cthis.$http.home.getforwardKy({gameId:item.gameId}).then((res)=>{
                if (res.data.success){
                  location.href = res.data.url
                }else {
                  cthis.$toast(res.data.msg)
                }
              }).catch((res)=>{
                cthis.$toast('加载错误！请重新尝试')
                cthis.skipUrlButtonText = '进入'
                console.log(res)
              })
            }else { //天豪棋牌
              cthis.$http.home.getforwardTh({gameId:item.gameId}).then((res)=>{
                if (res.data.success){
                  location.href = res.data.url
                }else {
                  cthis.$toast(res.data.msg)
                }
              }).catch((res)=>{
                cthis.$toast('加载错误！请重新尝试')
                cthis.skipUrlButtonText = '进入'
                console.log(res)
              })
            }
          }
          awaitSynchronize()

        }

      }else {
        this.$toast("请登录账号！才能继续访问")
        setTimeout(()=>{
          this.$router.replace({
            path:'/login',
            query:{
              redirect:this.$router.currentRoute.fullPath
            }
          })
        },500)
        return
      }

    },
    //电竞跳转，体育跳转，真人跳转
    goGamePlays:function(item){
      var cthis = this;
      if (this.$store.state.isLogin){
        //自动转入额度 ，需要自动转入额度异步回调结束后才能进行跳转操作
        if (this.$store.state.autoTransIs.switchIs){
          this.navLeftClassifyGo = item
          this.skipUrlButtonText = '载入中..'
          var awaitSynchronize = async function(){
            await cthis.$http.entrys.getfastThirdRealTransMoney({changeTo:item.playCode,changeFrom:'sys'}).then(res=>{
              if (res.data.success){
                cthis.$store.commit('getautoTransIsChangeOver',true)
              }
            }).catch((res)=>{
              console.log(res)
            })
            switch (item.playCode) {
              case 'hgty':
                window.location.href = window.location.origin + '/mobile/v3/sport/hg/goPage.do?dataType=TD_FT_MN&goOut=liaotian';
                return;
              case 'hgfb':
                cthis.$router.push({
                  path: '/xbsport'
                });
                return;
              case 'hgbb': //皇冠
                cthis.$router.push({
                  path: '/basketBall'
                });
                return;
            }
            //bb体育
            if(item.playCode === 'bbty'){
              cthis.skipUrlButtonText ='载入中..'
              cthis.$http.home.getforwardBbin({ type: 'ball' }).then((res)=>{
                if(res.data.success){
                  location.href = res.data.url;
                }else {
                  cthis.$toast({message:res.data.msg,duration:900})
                }
              }).catch((res)=>{
                cthis.$toast('加载错误！请重新尝试')
                cthis.skipUrlButtonText = '进入'
                console.log(res)
              })
              // $sky.ajax('post','forwardBbin',{ type: 'ball' },(ret)=>{
              //   if(ret.success){
              //     location.href = ret.url;
              //   }
              // });
              return;
            }
            if(item.playCode === 'mg'){
              let parmas = {
                gameType: 1,
                gameid: 66936,
                h5: 1,
              };
              cthis.$http.home.getforwardMg(parmas).then((res)=>{
                if(res.data.success){
                  location.href = res.data.url;

                }
              }).catch((res)=>{
                cthis.$toast('加载错误！请重新尝试')
                cthis.skipUrlButtonText = '进入'
                console.log(res)
              });
              return;
            }
            //沙巴体育
            if (item.playCode === 'ibc'){
              cthis.skipUrlButtonText ='载入中..'
              let parmas = {
                playCode: item.playCode,
                eSport:1,
              };
              cthis.$http.caipiao.getforwardReal(parmas).then((ret)=>{
                if(ret.data.success){
                  // cthis.url = ret.data.content.url;
                  location.href = ret.data.content.url;
                } else if(ret.data.isLogin === false){
                  cthis.$toast(ret.data.msg);
                  cthis.$router.push({
                    path: '/login',
                  })
                }else{
                  cthis.$toast.fail(ret.data.msg);
                }
              }).catch((res)=>{
                cthis.$toast('加载错误！请重新尝试')
                cthis.skipUrlButtonText = '进入'
                console.log(res)
              });
              return;
            }
            //跳转真人第三方
            let params= {
              playCode: item.playCode,
              gameId: '',
            };
            cthis.$http.caipiao.getforwardReal(params).then((res)=>{
              if(res.data.success){
                location.href = res.data.content.url;
              } else if(res.data.isLogin === false){
                // this.$toast(res.data.msg);
                cthis.$common.getaccountInfo();
              }else{
                cthis.$toast.fail(res.data.msg);
              }
            }).catch(res=>{
              cthis.$toast('加载错误！请重新尝试')
              cthis.skipUrlButtonText = '进入'
              console.log(res)
            })
            // awaitSynchronize2()
          }
          awaitSynchronize()
        }
      }else {
        this.$toast("请登录账号！才能继续访问")
        setTimeout(()=>{
          this.$router.replace({
            path:'/login',
            query:{
              redirect:this.$router.currentRoute.fullPath
            }
          })
        },500)
        return
      }
    },
    //电子跳转
    goGames:function(item){
      var cthis = this
      if (this.$store.state.isLogin ){
        //自动转入额度 ，需要自动转入额度异步回调结束后才能进行跳转操作
          this.navLeftClassifyGo = item
          var awaitSynchronize = async function(){
            if (cthis.$store.state.autoTransIs.switchIs){
                await cthis.$http.entrys.getfastThirdRealTransMoney({changeTo:'', changeFrom:'sys'}).then(res=>{
                  if (res.data.success){
                    cthis.$store.commit('autoTransIsChangeOver',true)
                  }
                })
            }
            //ag电子 mG电子 pt电子 qt电子  gdb电子 ibs 电子
            //bbin电子 bg电子 ebet电子
            switch (cthis.navLeftClassify.playCode) {
              case 'ag':
              {
                cthis.skipUrlButtonText ='载入中..'
                cthis.$http.home.getforwardAg( {
                  h5 : 1,
                  gameType : item.lapisId
                }).then((res)=>{
                  console.log(res)
                  if (res.data.success){
                    location.href = res.data.url
                  }else {
                    cthis.$toast(res.data.msg)
                  }
                }).catch((res)=>{
                  cthis.$toast('加载错误！请重新尝试')
                  cthis.skipUrlButtonText = '进入'
                  console.log(res)
                })
              }
                break;
              case 'mg':
              {
                cthis.skipUrlButtonText ='载入中..'
                cthis.$http.home.getforwardMg( {
                  gameType : 3,
                  h5 : 1,
                  gameid : item.lapisId
                }).then((res)=>{
                  if (res.data.success){
                    location.href = res.data.url
                  }else {
                    cthis.$toast(res.data.msg)
                  }
                }).catch((res)=>{
                  cthis.$toast('加载错误！请重新尝试')
                  cthis.skipUrlButtonText = '进入'
                  console.log(res)
                })
              }
                break;
              case 'pt':
              {
                cthis.skipUrlButtonText ='载入中..'
                cthis.$http.home.getforwardPt( {
                  h5 : 1,
                  gameCode : item.lapisId
                }).then((res)=>{
                  if (res.data.success){
                    location.href = res.data.url
                  }else {
                    cthis.$toast(res.data.msg)
                  }
                }).catch((res)=>{
                  cthis.$toast('加载错误！请重新尝试')
                  cthis.skipUrlButtonText = '进入'
                  console.log(res)
                })
              }
                break;
              case 'qt':
              {
                cthis.skipUrlButtonText ='载入中..'
                cthis.$http.home.getforwardQt( {
                  gameId : item.lapisId
                }).then((res)=>{
                  console.log(res)
                  if (res.data.success){
                    location.href = res.data.url
                  }else {
                    cthis.$toast(res.data.msg)
                  }
                }).catch((res)=>{
                  cthis.$toast('加载错误！请重新尝试')
                  cthis.skipUrlButtonText = '进入'
                  console.log(res)
                })
              }
                break;
              case 'jdb':
              {
                cthis.skipUrlButtonText ='载入中..'
                cthis.$http.home.getforwardJdb( {
                  h5 : 1,
                  gameId : item.lapisId
                }).then((res)=>{
                  if (res.data.success){
                    location.href = res.data.url
                  }else {
                    cthis.$toast(res.data.msg)
                  }
                }).catch((res)=>{
                  cthis.$toast('加载错误！请重新尝试')
                  cthis.skipUrlButtonText = '进入'
                  console.log(res)
                })
              }
                break;
              case 'isb':
              {
                cthis.skipUrlButtonText ='载入中..'
                cthis.$http.home.getforwardIsb( {
                  gameId : item.lapisId
                }).then((res)=>{
                  console.log(res)
                  if (res.data.success){
                    location.href = res.data.url
                  }else {
                    cthis.$toast(res.data.msg)
                  }
                }).catch((res)=>{
                  cthis.$toast('加载错误！请重新尝试')
                  cthis.skipUrlButtonText = '进入'
                  console.log(res)
                })
              }
                break;
              default:
                cthis.$toast("该电子游戏不存在")
            }
          }
        awaitSynchronize()
      }else {
        this.$toast("请登录账号！才能继续访问")
        setTimeout(()=>{
          this.$router.replace({
            path:'/login',
            query:{
              redirect:this.$router.currentRoute.fullPath
            }
          })
        },500)
        return
      }
    },
    //自动转换额度开关
    autoTrans:function(){
      this.$http.home.getStationSwitch({ type: 'game' }).then((ret)=>{
        if (ret.data.success){
          this.$store.commit('getStationSwitch',ret.data.content)
          for (let [index,val] of ret.data.content.entries()){
            if (val.switchKey == 'autoTrans'){
              if (ret.data.content[index].onFlag =='on'){
                this.autoTransIs = true
                this.$store.commit('getautoTransIs',this.autoTransIs);
              }
            }
          }
        }
      })
    },

  },
  computed:{
    //图片配置
    ClassifyDateCompited:function(){ // 过滤一下字段，和不是完整图片地址
       //彩票 4   体育 0 or 5   电子2 真人1 棋牌3 电竞7
       if(this.navTopActive == 2 || this.navTopActive == 3){
          let imgUrlDate = ''
          return this.ClassifyDate.filter((item)=>{
            if (item.imgUrl.startsWith('common') ||  item.imgUrl.startsWith('native')){
              imgUrlDate = "https://x002.xb336.com/"+ item.imgUrl;
              item.imgUrl = imgUrlDate;
              item.name = item.displayName;
            }else if (item.imgUrl.includes("http")){
              item.name = item.title;
            }else {
              imgUrlDate= "https://x002.xb336.com"+ item.imgUrl;
              item.imgUrl = imgUrlDate;
              item.name = item.title;
            }
            return item
          })
        }
       else{
         return this.ClassifyDate.filter((item)=>{
           // console.log(item)
           let imgUrlDate =''
           if (!item.imgUrl.includes('http')){
             imgUrlDate = "https://x002.xb336.com"+ item.imgUrl;
             item.imgUrl = imgUrlDate;
           }
           return item
         })
       }
    },
  },
  watch:{
    navTopActive(){
      this.$store.commit('updateLoadingStatus',{isLoading:true})
      this.navLeftActive = 0
    },
    navLeftActive(){
      console.log(this.navLeftActive)
      if (this.navTopActive == 4 || this.navTopActive == 5 || this.navTopActive == 6){
        this.showRightLoading = false
      }else {
        this.showRightLoading = true;
      }
    }
    // ClassifyDate(){
    //   if (this.navTopActive == 2 || this.navTopActive == 3 ){
    //     return
    //   }else {
    //     this.$nextTick(()=>{
    //       this.$store.commit('updateLoadingStatus',{isloading:false})
    //     })
    //   }
    // },
    // DzQpGameItem(){
    //   this.$nextTick(()=>{
    //     this.$store.commit('updateLoadingStatus',{isloading:false})
    //   })
    // },
    // lotteryDate(){
    //   if (this.navTopActive == 2 || this.navTopActive == 3){
    //     return
    //   }else {
    //     this.$nextTick(()=>{
    //       this.$store.commit('updateLoadingStatus',{isloading:false})
    //     })
    //   }
    // },
    // QpGameItem(){
    //   this.$nextTick(()=>{
    //     this.$store.commit('updateLoadingStatus',{isloading:false})
    //   })
    // },
    // DzQpGameItem(newDzQpGameItem, oldDzQpGameItem){
    //   console.log(this.ClassifyDate)
    //   this.ClassifyDate = newDzQpGameItem.push(this.ClassifyDate)
    // }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
  $gameContainerHeader:1rem;
  .game{
    .game-container{
      .container-header{
        background: #ececec;
        header{
          height: $gameContainerHeader;
          line-height: $gameContainerHeader;
          width: 100%;
          box-sizing: border-box;
          border-bottom: 1px solid #999999;
          ul{
            text-align: center;
            display: flex;
            justify-content: space-between;
            align-items: center;
            align-content: center;
            width: 100%;
            li{
              display: flex;
              align-items: center;
              span{font-size: .28rem;color: #000000}
              i{font-size: 0.7rem;color: #ff0018}
            }
          }
        }
      }
      .container-nav{
        /*-----------------start  loading-------------------*/
        /*>>>.van-overlay{
          background-color: rgba(151, 143, 143, 0.7);
          margin:$gameContainerHeader auto 0;
          z-index: 0;
        }
        .van-popup{
          background-color: rgba(182, 176, 176, 0.29);
          height: 1.1rem;
        }
        .van-loading__text{
          color: #ffffff;
        }*/
        /*-----------------end  loading-------------------*/
        .nav-top{
          overflow-x: auto;
          overflow-y: scroll;
          background: #ececec;
          height: $gameContainerHeader;
          &::-webkit-scrollbar { display: none;}
          &{ -ms-overflow-style: none; }
          &{ overflow: -moz-scrollbars-none; }
          ul{
            display: flex;
            align-content: flex-start;
            flex-flow:row nowrap;
            white-space: nowrap;
            height: $gameContainerHeader;
            li{
              margin: 5px;
              span{
                padding: 10px 20px;
                display: inline-block;
                box-sizing: border-box;

                border-radius: 17px;
                font-size:.28rem ;
              }
              .navTopActive{
                background: linear-gradient(90deg,#fe6a3a,#fc9418);
                color: #ffffff;
              }
            }
          }
        }
        .nav-left{
          left: 0;
          width: 23%;
          /*height: 10.5rem;*/
          min-height: calc(100vh - 2rem);;
          display: inline-block;
          background: #ececec;
          ul{
            text-align: center;
            li{
              margin: 5px;
              border-bottom: 1px solid #d4d4d4;
              span{
                padding: 10px 10px;
                display: inline-block;
                box-sizing: border-box;
                border-radius: 17px;
                color: #000000;
                font-size:.24rem ;
              }
              .navLeftActive{
                font-size: .25rem;
                font-weight: bold;
              }
            }
          }
        }
        .nav-main{
          display: inline-block;
          position: fixed;
          overflow: auto;
          height: 81%;
          width: 77%;
          max-width: 578px;
          ul{
            height: 100%;
            overflow: auto;
            li{
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin: 5px;
              padding: 5px 0;
              .main-classify{
                display: flex;
                p{
                  &:nth-child(1){
                    display: flex;
                    justify-content: center;
                    align-self: center;
                    position: relative;
                    //&:after{
                      //content: "";
                      //position: absolute;
                      //background: url('https://tpxb.me/xb/6.gif')no-repeat top right /1rem 1rem;
                      //z-index: 5;
                      //width: 4rem;
                      //display: block;
                      //top: 0;
                      //right: 0;
                      //overflow: hidden;
                      //height: 4rem;
                    //}
                    img{
                      height: 1rem;
                      width: 1rem;
                      transition: all .5s;

                    }
                  }
                  &:nth-child(2){
                    margin: 0 .1rem;
                    span:nth-child(1){
                      color: #040404;
                      font-size: .3rem;
                      font-weight: bold;
                    }
                    span:nth-child(2){
                      display: block;
                      color: #787878;
                      font-weight: lighter;
                      font-size: .20rem;
                      margin-top: .1rem;
                    }
                  }
                }
                .after{
                  &:after{
                    content: "";
                    width: 1rem;
                    top: 0;
                    right: 0;
                    display: block;
                    height: 1rem;
                    position: absolute;
                    background: #0101018a;
                    border-radius: 50%;
                  }
                }
              }
              .main-button{
                p{
                  display: flex;
                  justify-content: center;
                  align-self: center;
                  a{
                    padding: 8px 23px;
                    color: #040404;
                    font-size: .24rem;
                    border: 1px solid #ccc;
                    border-radius: 15px;
                    box-shadow: 1px 1px 3px -1px #c3a8a8;
                    text-align: center;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
</style>
