<template>
  <div class="sport">
    <div class="nav">
      <div class="bottom">
        <div class="out" @click="$router.push({path:'/sportList'})">
          <van-icon name="arrow-left" size="2rem"/>
        </div>
        <span>今日</span><br><span style="font-size: 14px;font-weight: 600">足球</span>
        <div class="trophy"><img src="@/assets/images/trophy_icon.jpg" alt=""></div>
      </div>
    </div>
    <div class="content">
      <div class="box" v-for="(item, index) in sportData" :key="index">
        <div class="title">
          <span>{{ item.LEAGUE }}</span>
          <span><img src="" alt=""></span>
        </div>
        <div class="data">
          <div class="team">
            <div class="list">{{ item.TIMER }}
              <!--              <span class="label">中</span>-->
            </div>
            <div class="list"><span class="number">0</span>{{ item.TEAM_H }}</div>
            <div class="list"><span class="number">1</span>{{ item.TEAM_C }}</div>
            <div class="list" style="display: flex;align-items: center;"><span>{{ item.MORE }}</span>
              <van-icon name="play"/>
            </div>
          </div>
          <div class="bet-number">
            <div class="list">
              <span class="bet-title">让球</span>
              <span class="bet-title">得分大小</span>
              <span class="bet-title">独赢</span>
              <span class="bet-title">独赢(上半)</span>
              <span class="bet-title">让球(上半)</span>
              <span class="bet-title">得分(上半)</span>
              <span class="bet-title">双方进球</span>
              <span class="bet-title">进球(单/双)</span>
            </div>
            <div class="list">
              <span class="button" @click="betBox(item,item.IOR_RH,'MN','IOR_RH',item.RATIO_R)"><p>{{item.RATIO_R || '/'}}</p><p>{{ item.IOR_RH || '/' }}</p></span>
              <span class="button" @click="betBox(item,item.IOR_OUC,'MN','IOR_OUC',item.RATIO_OUO)"><p>{{sportSplit(item.RATIO_OUO) || '/' }}</p><p>{{ item.IOR_OUC || '/' }}</p></span>
              <span class="button" @click="betBox(item,item.IOR_MH,'MN','IOR_MH','')"><p>/</p><p>{{ item.IOR_MH || '/' }}</p></span>
              <span class="button" @click="betBox(item,item.IOR_HMH,'MN','IOR_HMH','')"><p>/</p><p>{{ item.IOR_HMH || '/' }}</p></span>
              <span class="button" @click="betBox(item,item.IOR_HRH,'MN','IOR_HRH',item.RATIO_HR)"><p>{{ item.RATIO_HR || '/' }}</p><p>{{ item.IOR_HRH || '/'}}</p></span>
              <span class="button" @click="betBox(item,item.IOR_HOUC,'MN','IOR_HOUC',item.RATIO_HOUO)"><p>{{sportSplit(item.RATIO_HOUO) || '/'}}</p><p>{{ item.IOR_HOUC || '/' }}</p></span>
              <span class="button" @click="betBox(item,item.IOR_TSY,'MN','IOR_TSY','')"><p>是</p><p>{{ item.IOR_TSY || '/' }}</p></span>
              <span class="button" @click="betBox(item,item.IOR_EOO,'MN','IOR_EOO',item.STR_ODD)"><p>{{item.STR_ODD || '/'}}</p><p>{{ item.IOR_EOO || '/' }}</p></span>
            </div>
            <div class="list">
              <span class="button" @click="betBox(item,item.IOR_RC,'MN','IOR_RC',item.RATIO_R)"><p>/</p><p>{{item.IOR_RC}}</p></span>
              <span class="button" @click="betBox(item,item.IOR_OUH,'MN','IOR_OUH',item.RATIO_OUU)"><p>{{sportSplit(item.RATIO_OUU) || '/'}}</p><p>{{ item.IOR_OUH || '/' }}</p></span>
              <span class="button" @click="betBox(item,item.IOR_MC,'MN','IOR_MC','')"><p>/</p><p>{{ item.IOR_MC || '/' }}</p></span>
              <span class="button" @click="betBox(item,item.IOR_HMC,'MN','IOR_HMC','')"><p>/</p><p>{{ item.IOR_HMC || '/' }}</p></span>
              <span class="button" @click="betBox(item,item.IOR_HRC,'MN','IOR_HRC',item.RATIO_HR)"><p>/</p><p>{{ item.IOR_HRC || '/' }}</p></span>
              <span class="button" @click="betBox(item,item.IOR_HOUH,'MN','IOR_HOUH',item.RATIO_HOUU)"><p>{{sportSplit(item.RATIO_HOUU) || '/'}}</p><p>{{ item.IOR_HOUH || '/' }}</p></span>
              <span class="button" @click="betBox(item,item.IOR_TSN,'MN','IOR_TSN','')"><p>否</p><p>{{ item.IOR_TSN || '/' }}</p></span>
              <span class="button" @click="betBox(item,item.IOR_EOE,'MN','IOR_EOE',item.STR_EVEN)"><p>{{ item.STR_EVEN || '/' }}</p><p>{{item.IOR_EOE || '/' }}</p></span>
            </div>
            <div class="list">
              <span class="button"><p>/</p><p>/</p></span>
              <span class="button"><p>/</p><p>/</p></span>
              <span class="button" @click="betBox(item,item.IOR_MN,'MN','IOR_MN','')"><p>/</p><p>{{ item.IOR_MN || '/' }}</p></span>
              <span class="button" @click="betBox(item,item.IOR_HMN,'MN','IOR_HMN','')"><p>/</p><p>{{ item.IOR_HMN || '/' }}</p></span>
              <span class="button"><p>/</p><p>/</p></span>
              <span class="button"><p>/</p><p>/</p></span>
              <span class="button"><p>/</p><p>/</p></span>
              <span class="button"><p>/</p><p>/</p></span>
            </div>
          </div>
        </div>
        <div class="all">
          <div class="all-header">
            <span>
              <button @click="getSportAll(item.ECID,'R',index,0,0)" :class="{'active':(allIndex == index && allIndex2 == 0)}">让球</button>
              <button @click="getSportAll(item.ECID,'OU',index,1,0)" :class="{'active':(allIndex == index && allIndex2 == 1)}">得分大小</button>
            </span>
          </div>
          <div v-if="allIndex == index && allData">
            <div class="all-title" v-if="allIndex2 == 0">
              <span @click="getSportAll(item.ECID,'R',index,0,0)" :class="{'active':(allIndex == index && allIndex3 == 0)}">全场</span>
              <span @click="getSportAll(item.ECID,'HR',index,0,1)" :class="{'active':(allIndex == index && allIndex3 == 1)}">上半场</span>
            </div>
            <div class="all-title" v-if="allIndex2 == 1">
              <span @click="getSportAll(item.ECID,'OU',index,1,0)" :class="{'active':(allIndex == index && allIndex3 == 0)}">全场</span>
              <span @click="getSportAll(item.ECID,'HOU',index,1,1)" :class="{'active':(allIndex == index && allIndex3 == 1)}">上半场</span>
            </div>
            <div class="all-button" v-if="allIndex2 == 0">
              <div v-if="allIndex3 == 0">
                <div class="list" v-for="(item2, index2) in allData.ec.game" :key="index2">
                  <span class="button" @click="betBox(item2,item2.IOR_RH,'MN_LT','IOR_RH',item2.RATIO_R)"><p>{{item2.TEAM_H}} <span v-if="item2.STRONG == 'H'">{{item2.RATIO_R}}</span></p><p>{{item2.IOR_RH}}</p></span>
                  <span class="button" @click="betBox(item2,item2.IOR_RC,'MN_LT','IOR_RC',item2.RATIO_R)"><p>{{item2.TEAM_C}} <span v-if="item2.STRONG == 'C'">{{item2.RATIO_R}}</span></p><p>{{item2.IOR_RC}}</p></span>
                </div>
              </div>
              <div v-if="allIndex3 == 1">
                <div class="list" v-for="(item2, index2) in allData.ec.game" :key="index2">
                  <span class="button" @click="betBox(item2,item2.IOR_HRH,'MN_LT','IOR_HRH',item2.RATIO_HR)"><p>{{item2.TEAM_H}} <span v-if="item2.STRONG == 'H'">{{item2.RATIO_HR}}</span></p><p>{{item2.IOR_HRH}}</p></span>
                  <span class="button" @click="betBox(item2,item2.IOR_HRC,'MN_LT','IOR_HRC',item2.RATIO_HR)"><p>{{item2.TEAM_C}} <span v-if="item2.STRONG == 'C'">{{item2.RATIO_HR}}</span></p><p>{{item2.IOR_HRC}}</p></span>
                </div>
              </div>
            </div>
            <div class="all-button" v-if="allIndex2 == 1">
              <div v-if="allIndex3 == 0">
                <div class="list" v-for="(item2, index2) in allData.ec.game" :key="index2">
                  <span class="button" @click="betBox(item2,item2.IOR_OUC,'MN_SS','IOR_OUC',item2.RATIO_OUO)"><p>{{sportSplit(item2.RATIO_OUO)}}</p><p>{{item2.IOR_OUC}}</p></span>
                  <span class="button" @click="betBox(item2,item2.IOR_OUH,'MN_SS','IOR_OUH',item2.RATIO_OUU)"><p>{{sportSplit(item2.RATIO_OUU)}}</p><p>{{item2.IOR_OUH}}</p></span>
                </div>
              </div>
              <div v-if="allIndex3 == 1">
                <div class="list" v-for="(item2, index2) in allData.ec.game" :key="index2">
                  <span class="button" @click="betBox(item2,item2.IOR_HOUC,'MN_SS','IOR_HOUC',item2.RATIO_HOUO)"><p>{{sportSplit(item2.RATIO_HOUO)}}</p><p>{{item2.IOR_HOUC}}</p></span>
                  <span class="button" @click="betBox(item2,item2.IOR_HOUH,'MN_SS','IOR_HOUH',item2.RATIO_HOUU)"><p>{{sportSplit(item2.RATIO_HOUU)}}</p><p>{{item2.IOR_HOUH}}</p></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom"></div>
      </div>
    </div>
    <div class="tip" v-if="sportData.length == 0">
      暂无赛事,请稍后再试
    </div>
    <div class="bet-box" v-show="betShow">
      <van-icon name="close" class="close" size="24px" @click="betShow = false"/>
      <p>足球
        <!--        <span style="color: #a78025">（0-0）</span>-->
      </p>
      <p style="color: #5c5c5c">{{ betData.lEAGUE }}</p>
      <p>{{ betData.TEAM_H }} VS {{ betData.TEAM_C }}</p>
      <p><span class="odds"><span class="odds" v-if="project">{{sportSplit(project)}}</span> {{ odds }}</span></p>
      <p>
        <span><input type="number" v-model="money" placeholder="输入下注金额"></span>
<!--        <span style="color: #0066cc">最大投注金额</span>-->
      </p>
      <button @click="bet()">下注</button>
    </div>
  </div>
</template>

<script>
import '@/assets/css/sport.less'
import {Toast} from 'vant'

export default {
  name: "sport",
  data() {
    return {
      sportData: [],
      activeType: 1,
      odds: '',
      betShow: false,
      betData: '',
      money: '',
      params: {},
      project:'',
      allIndex:0,
      allIndex2:0,
      allIndex3:0,
      allData:'',
    }
  },
  created() {
    this.getTodaySportsId()
  },
  mounted() {
  },
  methods: {
    getTodaySportsId: function () { //足球数据
      let params = {
        rType: 'r',
        lid: this.$route.query.id
      }
      this.$fetch('sports/hg2/today/ft.do', params, true).then(res => {
        for (let index in res) {
          this.sportData = res[index]
        }
        if(this.sportData.length > 0){
          this.getSportAll(this.sportData[0].ECID,'R')
        }
      })
    },
    getSportAll: function (ecid,type,index,index2,index3) { //足球数据
      this.betShow = false
      this.allIndex = index || 0
      this.allIndex2 = index2 || 0
      this.allIndex3 = index3 || 0
      this.allData = ''
      let params = {
        eCid: ecid,
        // CN 角球；R 全场让球；OU 全场得分大小；HR 上半场让球；HOU 上半场得分大小
        model: type
      }
      this.$fetch('sports/hg2/today/fullOrHalf.do', params, true).then(res => {
        this.allData = res
        console.log(this.allData)
      })
    },
    betBox(item, odds, gameType, type, project) {
      this.money = ''
      let e = {
        type: type,
        gid: item.GID,
        odds: odds,
      }
      if (project) {
        e.project = project
      }
      this.betData = item
      this.params = {
        gameType: 'FT_TD_' + gameType,
        plate: 'H',
        acceptBestOdds: true,
        items: []
      }
      this.params.items.push(e)
      this.odds = odds
      this.betShow = true
    },
    bet() {
      let that = this
      this.params.money = this.money
      let data = {
        data: JSON.stringify(this.params)
      }
      that.$root.common.loading(true)
      this.$http.post(that.$store.state.apiUrl + 'sports/hg2/v2/bet.do', data, {emulateJSON: true}, {credentials: true}).then(function (res) {
      // this.$http.post(location.protocol + '//' + location.hostname + '/sports/hg2/v2/bet.do', data, {emulateJSON: true}, {credentials: true}).then(function (res) {
        if (res.body.success) {
          that.$root.common.loading(false)
          Toast('投注成功')
          this.betShow = false
        } else {
          Toast(res.body.msg)
        }
      }, function () {
        console.log('请求失败处理');
      });
    },
    sportSplit:function (value){
      if(value){
        if(value.indexOf('O') != -1){
          return value.replace(/O/g,'大')
        } else if(value.indexOf('U') != -1){
          return value.replace(/U/g,'小')
        } else if(value.indexOf('ARG') != -1){
          return value.replace(/ARG/g,'第一个')
        } else if(value.indexOf('BRG') != -1){
          return value.replace(/BRG/g,'第二个')
        } else if(value.indexOf('CRG') != -1){
          return value.replace(/CRG/g,'第三个')
        } else if(value.indexOf('DRG') != -1){
          return value.replace(/DRG/g,'第四个')
        } else if(value.indexOf('ERG') != -1){
          return value.replace(/ERG/g,'第五个')
        } else if(value.indexOf('FRG') != -1){
          return value.replace(/FRG/g,'第六个')
        } else if(value.indexOf('GRG') != -1){
          return value.replace(/GRG/g,'第七个')
        } else{
          return value
        }
      } else {
        return value
      }
    },
  }
}
</script>

<style scoped>

</style>
