<template>
  <div class="sport">
    <sportHead></sportHead>
    <div class="select-play">
      <button :class="{'active':playType == 1}" @click="playType = 1">主要玩法</button>
      <button :class="{'active':playType == 2}" @click="playType = 2">波胆</button>
    </div>
    <div class="content" v-show="playType == 1">
      <div class="box">
        <div class="title">
          <span>澳大利亚外围赛</span>
          <span><img src="" alt=""></span>
        </div>
        <div class="data">
          <div class="team">
            <div class="list">下半场 60:48 <span class="label">中</span></div>
            <div class="list"><span class="number">0</span>南霍巴特</div>
            <div class="list"><span class="number">1</span>德文波特前锋</div>
            <div class="list" style="display: flex;align-items: center;"><span>25</span>
              <van-icon name="play"/>
            </div>
          </div>
          <div class="bet-number">
            <div class="list">
              <span class="bet-title">让球</span>
              <span class="bet-title">得分大小</span>
              <span class="bet-title">独赢</span>
              <span class="bet-title">独赢</span>
            </div>
            <div class="list">
              <span class="button"><p>22</p><p>111</p></span>
              <span class="button"><p>22</p><p>111</p></span>
              <span class="button"><p>22</p><p>111</p></span>
              <span class="button"><p>22</p><p>111</p></span>
            </div>
            <div class="list">
              <span class="button"><p>22</p><p>111</p></span>
              <span class="button"><p>22</p><p>111</p></span>
              <span class="button"><p>22</p><p>111</p></span>
              <span class="button"><p>22</p><p>111</p></span>
            </div>
            <div class="list">
              <span class="button"><p>22</p><p>111</p></span>
              <span class="button"><p>22</p><p>111</p></span>
              <span class="button"><p>22</p><p>111</p></span>
              <span class="button"><p>22</p><p>111</p></span>
            </div>
          </div>
        </div>
        <div class="all">
          <div class="all-header">
            <span>
              <button class="active">让球</button>
              <button>得分大小</button>
            </span>
            <span>
              <van-icon name="close" size="24px"/>
            </span>
          </div>
          <div class="all-title">
            全场
          </div>
          <div class="all-button">
            <div class="list">
              <span class="button"><p>22</p><p>111</p></span>
              <span class="button"><p>22</p><p>111</p></span>
            </div>
            <div class="list">
              <span class="button"><p>22</p><p>111</p></span>
              <span class="button"><p>22</p><p>111</p></span>
            </div>
          </div>
        </div>
        <div class="bottom"></div>
      </div>
    </div>
    <div class="content" v-show="playType == 2">
      <div class="box">
        <div class="title">
          <span>澳大利亚外围赛</span>
          <span><img src="" alt=""></span>
        </div>
        <div class="team-date">
          <div class="list">
            <div>
              <p><span class="number">0</span>南霍巴特</p>
              <p><span class="number">1</span>德文波特前锋</p>
            </div>
            <div>
              <p>下半场 60:48</p>
              <p style="text-align: center"><span class="label">中</span></p>
            </div>
          </div>
        </div>
        <div class="bet-button">
          <div class="button-box" v-for="index in 6" :key="index">
            <div class="button"><p>22</p>
              <p>111</p></div>
          </div>
        </div>
      </div>
    </div>
    <!--    <div class="bet-box">-->
    <!--      <van-icon name="close" class="close" size="24px" />-->
    <!--      <p>足球（滚球） 大/小 <span style="color: #a78025">（0-0）</span></p>-->
    <!--      <p style="color: #5c5c5c">澳大利亚国家联赛</p>-->
    <!--      <p>悉尼奥林匹克 VS 澳大利亚</p>-->
    <!--      <p>小 <span class="odds">1.5</span> @ <span class="odds">1.5</span></p>-->
    <!--      <p style="display: flex;justify-content: space-between;align-items: center">-->
    <!--        <span><input type="number" placeholder="输入下注金额"></span>-->
    <!--        <span style="color: #0066cc">最大投注金额</span>-->
    <!--      </p>-->
    <!--      <button>下注</button>-->
    <!--    </div>-->
  </div>
</template>

<script>
import '@/assets/css/sport.less'
import sportHead from '@/components/sport/sport-head'
export default {
  name: "sport",
  data() {
    return {
      playType: 2,
      playList:'',
    }
  },
  components:{
    sportHead
  },
  created() {
    this.getTodaySports()
  },
  mounted() {
  },
  methods: {
    getSports: function () { //足球数据
      let params = {
        rType: 'rb',
      }
      // rType ＝rb 主要玩法，rType =rpd 波胆
      this.$fetch('sports/hg2/roll/ft.do', params, true).then(res => {
        console.log(res)
      })
    },
    getTodaySports: function () { //足球数据
      let params = {
        rType: 'r',
      }
      // rType ＝rb 主要玩法，rType =rpd 波胆
      this.$fetch('sports/hg2/today/ft.do', params, true).then(res => {
        this.playType = res
      })
    },
  }
}
</script>

<style scoped>

</style>