<template>
  <div>
    <header>
      <span><van-icon name="wap-home-o" color="#968c84" size="24px" @click="$router.push({path:'/'})"/></span>
      <span @click="selectPlayer(0)" :class="{'active':activeIndex == 0}">滚球</span>
      <span @click="selectPlayer(1)" :class="{'active':activeIndex == 1}">今日</span>
    </header>
    <div class="nav">
      <div class="top">
        <div class="icon">
          <span><img src="@/assets/images/football_icon.jpg" alt=""></span>
        </div>
        <div class="font">
          <span>足球</span>
        </div>
      </div>
      <div class="bottom">
        <span>滚球</span><br><span style="font-weight: 600">足球</span>
<!--        <div class="trophy"><img src="@/assets/images/trophy_icon.jpg" alt=""></div>-->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "sport",
  data() {
    return {
      activeIndex:0,
    }
  },
  created() {
  },
  mounted() {
  },
  methods: {
    selectPlayer(index){
      this.activeIndex = index
      if(index == 0){
        this.$parent.getRollSports()
      } else if(index == 1){
        this.$parent.getTodaySports()
      }
    }
  }
}
</script>

<style scoped>

</style>
