<template>
  <div class="sport" style="background: #ffffff">
    <sportHead></sportHead>
    <div class="nation">
      <div class="nation-list" v-for="(item , index) in playList" :key="index">
        <div class="title">{{item.title}}</div>
        <div class="nation-box" v-for="(item2, index2) in item.data" :key="index2" @click="toPath(item2)">
          <div class="list">{{item2.LEAGUE}}</div>
        </div>
      </div>
      <div class="tip" v-if="playList.length == 0">
        暂无赛事,请稍后再试
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/sport.less'
import sportHead from '@/components/sport/sport-head'
export default {
  name: "sport",
  data() {
    return {
      playType: 2,
      playList:[],
      rType:1,
    }
  },
  components:{
    sportHead
  },
  created() {
    this.getRollSports()
  },
  mounted() {
  },
  methods: {
    // rType ＝rb 主要玩法，rType =rpd 波胆
    getRollSports: function () { //足球数据
      this.rType = 1
      this.playList = []
      let params = {
        rType: 'rb',
      }
      this.$fetch('sports/hg2/roll/ft.do', params, true).then(res => {
        for(let index in res){
          let params = {
            title:index,
            data:res[index]
          }
          this.playList.push(params)
        }
      })
    },
    getTodaySports: function () { //足球数据
      this.rType = 2
      this.playList = []
      let params = {
        rType: 'r',
      }
      this.$fetch('sports/hg2/today/ft.do', params, true).then(res => {
        for(let index in res){
          let params = {
            title:index,
            data:res[index]
          }
          this.playList.push(params)
        }
      })
    },
    toPath(item){
      if(this.rType == 1){
        this.$router.push({path:'/sportDetailR',query:{id:item.LID}})
      } else if(this.rType == 2){
        this.$router.push({path:'/sportDetailT',query:{id:item.LID}})
      }
    },
  }
}
</script>

<style scoped>

</style>
