<template>
  <div class="assignment">
    <div class="list title">
      任务中心
    </div>
    <div class="list deck">
      <div class="list">
        <div class="left"><img src="../../assets/images/task-2.25eec2b4.png" alt=""></div>
        <div class="center"> <p>签到赢现金 <span class="tip">+2现金</span></p><p>连续打卡赢奖金</p></div>
        <div class="right">
          <button class="active" v-if="taskData.sign == 1">已完成</button>
          <button v-else @click="qiandao()">未完成</button>
        </div>
      </div>
      <div class="list" v-if="$store.state.type == 1">
        <div class="left"><img src="../../assets/images/task-3.607c8f82.png" alt=""></div>
        <div class="center"> <p>存入宝库 <span class="tip">实现财富自由</span></p><p>灵活存取收益率高</p></div>
        <div class="right">
          <router-link v-if="taskData.yueb == 1" to="/baoku"><button class="active">已完成</button></router-link>
          <router-link  v-else to="/baoku"><button>未完成</button></router-link>
        </div>
      </div>
      <div class="list">
        <div class="left"><img src="../../assets/images/task-4.d48c5ef9.png" alt=""></div>
        <div class="center"> <p>新人认证 <span class="tip">+2现金</span></p><p>实名认证领红包</p></div>
        <div class="right">
          <button v-if="taskData.auth_u == 1" class="active">已完成</button>
          <button v-else>未完成</button>
        </div>
      </div>
      <div class="list" v-if="$store.state.type == 1">
        <div class="left"><img src="../../assets/images/task-5.df1edd19.png" alt=""></div>
        <div class="center"> <p>参与投资 <span class="tip">每日稳定收益</span></p><p>首次参与返利丰厚</p></div>
        <div class="right">
          <button v-if="taskData.invest_l == 1" class="active">已完成</button>
          <button v-else @click="touziLink()">未完成</button>
        </div>
      </div>
      <div class="list">
        <div class="left"><img src="../../assets/images/task-7.dc0a2f9a.png" alt=""></div>
        <div class="center"> <p>运动加油 <span class="tip">+积分</span></p><p>每日运动健康生活</p></div>
        <div class="right">
          <router-link v-if="taskData.sport_m == 1" to="/sportEvent"><button class="active">已完成</button></router-link>
          <router-link v-else to="/sportEvent"><button>未完成</button></router-link>
        </div>
      </div>
    </div>
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import '@/assets/css/tabs/assignment.less'
import foot_nav from '@/components/include/foot_nav'
import {Dialog, Toast} from "vant";
export default {
  name: 'assignment',
  components:{
    foot_nav
  },
  data(){
    return{
      taskData:''
    }
  },
  created:function(){
    this.getTaskStatus()
  },
  mounted:function(){
  },
  methods:{
    getTaskStatus: function () {
      let params = {
        token: this.$store.state.token,
      }
      this.$post('Handle/taskcenter', params, false).then((res) => {
        if (res.code == 200) {
          this.taskData = res.data
        } else {
          Toast(res.message)
        }
      })
    },
    touziLink: function () {
      if(this.$store.state.isLogin){
        this.$router.push({path:'/invset'})
      } else {
        Toast('请先登录')
      }
    },
    qiandao: function () {
      let params = {
        token: this.$store.state.token,
      }
      this.$post('handle/qiandao', params, true).then((res) => {
        if (res.code == 200) {
          Toast(res.message)
          this.getTaskStatus()
        } else if(res.code == 1049){
          Dialog.confirm({
            title: '提示',
            message: res.message,
          })
              .then(() => {
                // on confirm
                this.$router.push({path:'/alipay'})
              })
              .catch(() => {
                // on cancel
              });
        } else {
          Toast(res.message)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>
