<template>
  <div class="index">
    <div style="position: fixed;z-index: 999999;top:-60px;left: 0;bottom:50px;overflow: auto" @click="myFunction()">
      <div class="list"><img src="@/assets/images/index.png" alt=""></div>
    </div>
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import '@/assets/css/tabs/index.less'
import foot_nav from '@/components/include/foot_nav'
export default {
  name: 'index',
  components:{
    foot_nav
  },
  data(){
    return{

    }
  },
  created:function(){

  },
  mounted:function(){

  },
  methods:{
    myFunction(){
      var person = prompt("请输入手机号码");
      if (person != null && person != "") {
        alert('填写成功')
      }
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">

</style>
