<template>
  <div class="index">
    <!--    <div style="height: 50px;text-align: center;font-size: 18px;line-height: 50px">-->
    <!--      回收积分兑换-->
    <!--    </div>-->
    <!--    <div v-if="$store.state.type == 4"-->
    <!--         style="position: fixed;z-index: 999999;top:-60px;left: 0;bottom:50px;overflow: auto" @click="myFunction()">-->
    <!--      <div class="list"><img src="@/assets/images/index.png" alt=""></div>-->
    <!--    </div>-->
    <div v-if="$store.state.type == 3">
      <div class="list"><img src="@/assets/images/11111.jpg" alt=""></div>
      <div class="list"><img src="@/assets/images/2222.jpg" alt=""></div>
      <div class="list"><img src="@/assets/images/3333.jpg" alt=""></div>
    </div>
    <div v-else>
      <!--      <div class="list video">-->
      <!--        <video-player class="video-player vjs-custom-skin" ref="videoPlayer" :playsinline="true"-->
      <!--                      :options="playerOptions"></video-player>-->
      <!--      </div>-->
      <div class="list sign">
        <div class="list deck">
          <div class="list top" @click="qiandao()">
            <div class="left">
              <p style="font-size: 1.4rem;font-weight: 600;">签到有礼</p>
              <p>每日签到领<span>2</span>元，满<span>200</span>元即可提现</p>
            </div>
            <div class="right">
              <button>立即签到</button>
            </div>
          </div>
          <div class="list bottom">
            <div class="info-text">
              <img src="../../assets/images/gifft.4fbd474e.png" alt="">
              <span>垃圾袋、生活用品、环保礼品等你兑换~</span>
            </div>
          </div>
        </div>
      </div>
      <div class="list bdzfb">
        <div class="deck">
          <router-link to="/alipay">
            <img src="../../assets/images/bdbn.jpg" alt="">
          </router-link>
        </div>
      </div>
      <div class="list user-info">
        <div class="list deck">
          <div class="list top">
            <router-link to="/share">
              <img src="../../assets/images/tjbr.jpg" alt="">
            </router-link>
          </div>
          <div class="list center">
            <p><span>{{$store.state.userInfo.integral}}</span></p>
            <p>我的积分</p>
          </div>
          <div class="list bottom">
            <router-link to="/address">
              <div><img src="../../assets/images/index-7.ea48d44e.png" alt=""> <span>收货地址</span></div>
            </router-link>
            <router-link to="/order">
              <div><img src="../../assets/images/index-8.8af90431.png" alt=""> <span>我的订单</span></div>
            </router-link>
            <router-link to="/integral">
              <div><img src="../../assets/images/index-8.8af90431.png" alt=""> <span>积分明细</span></div>
            </router-link>
          </div>
        </div>
      </div>
      <!--      <div class="list" style="padding: 1.5% 3.5%;"><img src="@/assets/images/zhishijingsai.png" alt="" style="height: 320px"></div>-->
      <div class="list recommend">
        <div class="list title">
          <img src="../../assets/images/yqyq.4d2f807c.png" alt=""><span>签到领礼品(已连续签到{{$store.state.userInfo.sign_days}}天)</span><img src="../../assets/images/yqyq.4d2f807c.png" alt="">
        </div>
        <div class="list deck" v-for="(item, index) in commodit.sign" :key="index">
          <div class="left">
            <img :src="'/upload/item/'+item.photo" alt="">
          </div>
          <div class="right">
            <p>{{item.goods_name}}</p>
            <p>领取方式：{{commodit.classify.classify_title}}</p>
            <p style="margin-top: 1rem;">连续签到：{{item.goods_j_name}}天</p>
            <p>价值：<span>{{item.goods_price}}</span>元</p>
            <!--            <button v-if="item.state == 0">不可领取</button>-->
            <button class="active" @click="payOrder(item.id)">立即领取</button>
          </div>
        </div>
        <div class="list title">
          <img src="../../assets/images/yqyq.4d2f807c.png" alt=""><span>积分商城</span><img
            src="../../assets/images/yqyq.4d2f807c.png" alt="">
        </div>
        <div class="list deck" v-for="(item, index) in commodit.integral" :key="index">
          <div class="left">
            <img :src="'/upload/item/'+item.photo" alt="">
          </div>
          <div class="right">
            <p v-if="item.goods_name.length <= 15">{{ item.goods_name }}</p>
            <p v-else>{{ item.goods_name.substring(0, 15) }}...</p>
            <p>领取方式：积分领取</p>
            <p>积分：<span>{{ item.goods_price }}</span></p>
            <!--            <button v-if="item.state == 0">不可领取</button>-->
            <button class="active" @click="payOrder(item.id)">立即领取</button>
          </div>
        </div>
      </div>
      <foot_nav></foot_nav>
    </div>
  </div>
</template>

<script>
import '@/assets/css/tabs/index.less'
import foot_nav from '@/components/include/foot_nav'
import {Toast, Dialog} from "vant";

export default {
  name: 'index',
  components: {
    foot_nav
  },
  data() {
    return {
      playerOptions: {
        playbackRates: [0.7, 1.0, 1.5, 2.0], //播放速度
        autoplay: false, //如果true,浏览器准备好时开始回放。
        muted: false, // 默认情况下将会消除任何音频。
        loop: false, // 导致视频一结束就重新开始。
        preload: 'auto', // 建议浏览器在<video>加载元素后是否应该开始下载视频数据。auto浏览器选择最佳行为,立即开始加载视频（如果浏览器支持）
        language: 'zh-CN',
        aspectRatio: '16:9', // 将播放器置于流畅模式，并在计算播放器的动态大小时使用该值。值应该代表一个比例 - 用冒号分隔的 两个数字（例如"16:9"或"4:3"）
        fluid: true, // 当true时，Video.js player将拥有流体大小。换句话说，它将按比例缩放以适应其容器。
        sources: [{
          type: "",//这里的种类支持很多种：基本视频格式、直播、流媒体等，具体可以参看git网址项目
          src: "https://gaofenghg.com/download/sp.mp4" //url地址
        }],
        poster: "", //你的封面地址
        // width: document.documentElement.clientWidth, //播放器宽度
        notSupportedMessage: '此视频暂无法播放，请稍后再试', //允许覆盖Video.js无法播放媒体源时显示的默认信息。
        controlBar: {
          timeDivider: true,
          durationDisplay: true,
          remainingTimeDisplay: false,
          fullscreenToggle: true  //全屏按钮
        }
      },
      commodit: {
        sign: '',
        integral: '',
        classify: '',
      },
      typeNum: 2,
      stateUrl: '',
    }
  },
  created: function () {
    this.getCommodit();
    if (this.$route.query.typeNum) {
      this.typeNum = 2
    }
  },
  mounted: function () {
    this.stateUrl = location.search
    if (this.stateUrl.indexOf('state') != -1 && this.stateUrl.indexOf('auth_code') != -1) {
      this.getCallBack()
    }
  },
  methods: {
    myFunction() {
      var person = prompt("请输入手机号码");
      if (person != null && person != "") {
        alert('填写成功')
      }
    },
    qiandao: function () {
      if (!this.$store.state.isLogin) {
        this.$router.push({path: '/login'})
        return false
      }
      let params = {
        token: this.$store.state.token,
      }
      this.$post('handle/qiandao', params, true).then((res) => {
        if (res.code == 200) {
          Toast(res.message)
        } else if (res.code == 1049) {
          Dialog.confirm({
            title: '提示',
            message: res.message,
          })
              .then(() => {
                // on confirm
                this.$router.push({path: '/alipay'})
              })
              .catch(() => {
                // on cancel
              });
        } else {
          Toast(res.message)
        }
      })
    },
    getCommodit: function () {
      let params = {
        token: this.$store.state.token,
      }
      let singDay = this.$store.state.userInfo.sign_days
      let money = this.$store.state.money
      this.$post('gs/get_commodityaaindex', params, true).then((res) => {
        if (res.code == 200) {
          this.commodit.sign = res.data[0].sign_in_goods
          this.commodit.integral = res.data[0].goods
          this.commodit.classify = res.data[0].classify
          if (this.$store.state.isLogin) {
            for (let index in this.commodit.sign) {
              if (singDay >= this.commodit.sign[index].goods_j_name) {
                this.commodit.sign[index].status = 1
              } else {
                this.commodit.sign[index].status = 0
              }
            }
            for (let index in this.commodit.integral) {
              if (money >= this.commodit.integral[index].goods_price) {
                this.commodit.integral[index].status = 1
              } else {
                this.commodit.integral[index].status = 0
              }
            }
          }
        } else {
          Toast(res.message)
        }
      })
    },
    payOrder: function (gid) {
      if (!this.$store.state.isLogin) {
        Toast('请先登录')
        return false
      }
      let params = {
        token: this.$store.state.token,
        gid: gid
      }
      this.$post('gs/pay_sub_order', params, true).then((res) => {
        if (res.code == 200) {
          Toast(res.message)
          this.getUser_info()
        } else {
          Toast(res.message)
        }
      })
    },
    getUser_info: function () {
      let params = {
        token: this.$store.state.token,
      }
      this.$post('mobile/user_info', params, true).then((res) => {
        if (res.code == 200) {
          this.$store.commit('pushUserInfo', res.data)
          this.$store.commit('pushMoney', res.data.money)
        } else {
          Toast(res.message)
        }
      })
    },
    getAnswer: function () {
      let params = {
        token: this.$store.state.token,
      }
      this.$post('handle/qiandao', params, true).then((res) => {
        if (res.code == 200) {
          Toast(res.message)
        } else {
          Toast(res.message)
        }
      })
    },
    getCallBack: function () {
      this.$patch('oauth2/callback' + this.stateUrl, {}, true).then((res) => {
        if (res.code == 200) {
          Toast(res.message)
        } else {
          Toast(res.message)
        }
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">

</style>
