<template>
  <div></div>
</template>

<script>
export default {
  name: "index1",
  data() {
    return {
      investData:'',
    }
  },
  created: function () {
    this.$router.push({path:'/index1'})
  },
}
</script>

<style scoped>

</style>
