<template>
  <div class="invest">
    <div class="list header" style="height: 8rem">
      <div class="list notice">
        <van-notice-bar left-icon="volume" text="欢迎来到运动健身打卡领取积分，兑换好礼，答题领取支付宝红包，每天签到还能领取2元。新注册即送38元现金红包！" color="#FFFFFF" style="transform: scale(1.1)" />
      </div>
<!--      <div class="list banner">-->
<!--        <van-swipe class="my-swipe" :autoplay="3000" indicator-color="white">-->
<!--          <van-swipe-item><img src="../../assets/images/9a4a71c45a88c78f.jpg" alt=""></van-swipe-item>-->
<!--          <van-swipe-item><img src="../../assets/images/9a4a71c45a88c78f.jpg" alt=""></van-swipe-item>-->
<!--          <van-swipe-item><img src="../../assets/images/9a4a71c45a88c78f.jpg" alt=""></van-swipe-item>-->
<!--          <van-swipe-item><img src="../../assets/images/9a4a71c45a88c78f.jpg" alt=""></van-swipe-item>-->
<!--        </van-swipe>-->
<!--      </div>-->
    </div>
    <div class="list user-info">
      <div class="deck">
        <div style="width: 33%"><p>我的等级</p><p><span>{{$store.state.userInfo.name_dj}}</span></p></div>
        <div style="width: 33%"><p>我的加息</p><p><span>{{$store.state.userInfo.name_jx}}%</span></p></div>
        <div style="width: 33%"><p>成长值</p><p><span>{{$store.state.userInfo.vules}}%</span></p></div>
      </div>
    </div>
    <div class="list project">
      <router-link :to="{path:'/investDetailed',query:{id: item.id}}" v-for="(item, index) in investData" :key="index">
        <div class="list deck">
          <div class="list title-img"><img :src="'/upload/item/'+item.img" alt="">
<!--            <div class="day">期限(天): 5</div>-->
          </div>
          <div class="list info">
            <div class="list title">{{item.title}}</div>
            <div class="list">
              <van-progress :percentage="item.percent" stroke-width="8" />
            </div>
            <div class="list income">
              <div style="width: 40%"><p>日利率</p><p><span style="color: #ff3630;">{{item.rate}}%</span></p></div>
              <div style="width: 30%"><p>日分红</p><p><span>{{(item.rate * item.min * 0.01).toFixed(2)}}</span></p></div>
              <div style="width: 30%"><p>总分红</p><p><span>{{ ((item.rate * item.min) * item.day * 0.01).toFixed(2)}}</span></p></div>
            </div>
            <div class="list tags"><div class="tag">{{item.desc || '按期还息，到期还本'}}</div><div class="tag">{{item.min}}起投</div></div>
          </div>
          <div class="list button"><button>立即投资</button></div>
          <div class="not" v-if="item.percent == 100">
            <img src="../../assets/images/done.805d805c.png" alt="">
          </div>
        </div>
      </router-link>
    </div>
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import '@/assets/css/tabs/invest.less'
import foot_nav from '@/components/include/foot_nav'
import {Toast} from "vant";

export default {
  name: 'invest',
  components: {
    foot_nav
  },
  data() {
    return {
      investData:'',
    }
  },
  created: function () {
    if(this.$store.state.userInfo.auth == 1){
      this.getInvest()
    } else {
      this.$router.push({path:'/auth'})
    }
  },
  mounted: function () {
  },
  methods: {
    getInvest: function () {
      let params = {
        token: this.$store.state.token,
      }
      this.$post('mobile/project', params, true).then((res) => {
        if (res.code == 200) {
          this.investData = res.data
        } else {
          Toast(res.message)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>
