<template>
  <div class="licai">
    <iframe src="https://news.qq.com/zt2020/page/feiyan.htm" frameborder="0" width="100%" height="100%"></iframe>
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import '@/assets/css/tabs/licai.less'
import foot_nav from '@/components/include/foot_nav'
export default {
  name: 'licai',
  components:{
    foot_nav
  },
  data(){
    return{

    }
  },
  created:function(){
    if(this.$store.state.type == 2){
      this.$router.push({path: '/',query:{'typeNum':2}})
    }
  },
  mounted:function(){
  },
  methods:{

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">

</style>
