<template>
  <div class="indexKS">
    <main class="main-container-number" >
      <div class="main-number-power">
        <div class="power">
          <ul class="power-left-ul" >
            <li class="left">
              <div :class="activeShow.actives == index ? 'left-ul-tip actives': 'left-ul-tip' " v-for="(item,index) in lotteryDate.rules" :key="index" @click="selectLotteryDate(item),activeShow.actives =index">
                <a href="javascript:void (0)">
                  <span >{{item.name}}</span>
                  <i  v-if="item.code.indexOf('lianma')== -1" v-show="powerShow[item.code] && powerShow[item.code].length > 0">{{powerShow[item.code] && powerShow[item.code].length > 0 ? powerShow[item.code].length : ''}}</i><!--选中号码-->
                  <i  v-else  v-show="zuxuanData.allLeng.lianma != 0">{{ zuxuanData.allLeng.lianma}}</i>
                </a>
              </div>
            </li>
            <li class="right" >
              <van-tabs :active="activeShow.activeId" sticky swipe-threshold="2">
                <div v-for="(item,index) in endLotteryDate" :key="index">
                  <van-tab v-if="item.name" :title="item.name" >
                    <div class="power-content" >
                      <ul class="power-ul" v-if="item.lotteryTemplateType != 2 "> <!--三级标题-->
                        <li  v-for="(item2,index2) in item.oddPlayItems" :key="index2" @click="selectedNumber(item2)">
                          <div class="power-text">
                            <span :class="typeof(item2.name) == 'number'  ? 'roundBackground' :''">{{item2.name}}</span>
                            <span v-if="item2.playCode.indexOf('zuxuan') > -1"></span>  <!--倍率-->
                            <span v-else>{{item2.odds}}</span>
                          </div>
                          <van-icon v-if=" powerShow[selectedBigClassify.slice(-1)[0]] && powerShow[selectedBigClassify.slice(-1)[0]].indexOf(`${item2.id},${item2.playCode},${item2.classify}`) > -1 ? true :''"name="success" color="red" size="18px" style="vertical-align: bottom;position: absolute;bottom: 0;right: 0;"/>
                        </li>
                        <!--                        <span class="bet-info" v-if="item.oddPlayItems[0].playCode.indexOf('zuxuansan') > -1 && zuxuanData.data[item.oddPlayItems[0].playCode] && zuxuanData.data[item.oddPlayItems[0].playCode].odds ">{{zuxuanData.data[item.oddPlayItems[0].playCode].odds}}</span> &lt;!&ndash;显示倍率&ndash;&gt;-->
                        <span class="bet-info" v-if=" zuxuanData.data[item.oddPlayItems[0].playCode] && zuxuanData.data[item.oddPlayItems[0].playCode].odds ">{{zuxuanData.data[item.oddPlayItems[0].playCode].odds}}</span> <!--显示倍率-->
                      </ul>
                      <div class="power-ul-2" v-else>
                        <div class="power-ul-2-content" v-for="(item2,index2) in item.oddPlayItems" :key="index2" >
                          <h1 class="power-ul-2-title">{{item2.name}}</h1>
                          <div class="power-ul-2-main" >
                            <div class="power-main-text" v-for="(item3,index3) in item2.oddPlayItems " :key="index3" @click="selectedNumber(item3)">
                              <span :class="typeof(item3.name) == 'number'  ? 'roundBackground' :''">{{item3.name}}</span>
                              <span>{{item3.odds}}</span>
                              <van-icon v-if=" powerShow[selectedBigClassify.slice(-1)[0]] && powerShow[selectedBigClassify.slice(-1)[0]].indexOf(`${item3.id},${item3.playCode},${item3.classify}`) > -1 ? true :''"name="success" color="red" size="18px" style="vertical-align: bottom;position: absolute;bottom: 0;right: 0;"/>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </van-tab>
                </div>
              </van-tabs>
            </li>
          </ul>
        </div>
      </div>
      <footer-lotter :powerShow="powerShow" :selectedNumberDate="selectedNumberDate" @footerLotterMoney="footerLotterMoney($event)" @cleanUpPowerShow="cleanUpPowerShow($event)" :clear="clear"></footer-lotter>
    </main>
  </div>
</template>
<script>
  import footerLotter from "@/components/include/footerLotter";
  import lotteryHtml from '@/assets/json/lotteryTemplate/klsf.json'
  export default {
    name: "indexPC",
    components:{footerLotter},
    props:["KSheaderLotterDate",'lotteryDate','clear'],
    data(){
      return{
        index:2,
        powerStyle:{tr:"color:red;border:2px solid red",span:'font-weight:bold;color:red;'},//点击颜色
        selectedNumberDate:[], //选中的号码
        powerShow:[], //选中的位置
        selectedBigClassify:[], //选中大分类
        endLotteryDate:[],//小玩法数据right
        activeShow:{actives:0,activeId:0,activeItem:0},
        zuxuanData:{data:[],leng:{},submitDate:[],lianmaLeng:[],allLeng:{lianma:0,PUtong:0}}//组选三数据
      }
    },
    created() {
    },
    mounted() {

      console.log(this.$route)
    },
    methods:{
      //子组件footerLotter传过来的值
      // handleSubmitOrder(dataMoney){
      //   this.getDolotBet(dataMoney)
      // },
      //处理footerLotter给的清除数据
      cleanUpPowerShow(clearDate){
        // let selectedNumberDate = this.selectedBigClassify.slice(-1)[0]
        this.powerShow = []
        this.selectedNumberDate = []
        this.zuxuanData.data =[]
        this.zuxuanData.allLeng.lianma =0
        this.zuxuanData.allLeng.PUtong =0
        this.zuxuanData.leng={}
        this.zuxuanData.submitDate=[]
        this.zuxuanData.lianmaLeng=[]
        if (this.powerShow == '' && clearDate != true){
          // this.$toast("数据已清除,请重新选择")
        }
      },
      //接受money 并整合提交数据给lottery
      footerLotterMoney(dataMoney){
        //lotType: 10, groupCode: 短牌,qiHao: 202006010686,version: 5,lotCode: FFK3
        //data [{"max":50000,"min":1,"name":"6点","oddsId":345957,"playCode":"daxiaoshaibao","money":"2.00"}]
        let data =[]
        for (let [index,val] of this.selectedNumberDate.entries()){
          if (val.playCode.indexOf("xuansan") >-1 || val.playCode.indexOf("xuaner") >-1 ){
            data[index] = {max:this.selectedNumberDate[index].maxBetAmmount,min:this.selectedNumberDate[index].minBetAmmount,name:this.zuxuanData.submitDate[val.playCode],oddsId:this.selectedNumberDate[index].id,playCode:this.selectedNumberDate[index].playCode,money:dataMoney}
          }else {
            data[index]={max:this.selectedNumberDate[index].maxBetAmmount,min:this.selectedNumberDate[index].minBetAmmount,name:this.selectedNumberDate[index].classify,oddsId:this.selectedNumberDate[index].id,playCode:this.selectedNumberDate[index].playCode,money:dataMoney}
          }
        }
        this.$emit("dateParams",JSON.stringify(data),this.selectedNumberDate)
        console.log(data)
      },
      // 返回组合赔率
      peilvGroup:function(data,str){
        let odds = str.odds
        for(let i =0;i<data.length;i++){
          if(data[i].name.indexOf('(') != -1 && data[i].name.substring(0,data[i].name.indexOf('(')) == str.name){
            odds = data[i].odds + '/' + str.odds
          }
        }
        return odds
      },
      //选中的号码
      selectedNumber(item='',bigClassify=' '){
        if (bigClassify != ' '){ //选中大分类的
          if (!this.powerShow[bigClassify.code] ){
            this.powerShow[bigClassify.code] =[]
          }
        }

        if (item != ' ' ){ //点击选中号码 时

          //将添加的item数组转为对象
          let obj ={}
          for (let i in item){
            obj[i]= item[i]
          }

          let selectedBigClassify = this.selectedBigClassify.slice(-1)[0]
          if (this.powerShow[selectedBigClassify]){ //选中一级大分类对记录长度进行判断
            this.powerShow[selectedBigClassify].push(item.id+ `,${item.playCode},${item.classify}`);
          }else {
            this.powerShow[selectedBigClassify] =[]
            this.powerShow[selectedBigClassify].push(item.id+ `,${item.playCode},${item.classify}`);
          }
          for (let i=0;i<this.powerShow[selectedBigClassify].length-1;i++){
            if ((item.id+','+item.playCode+','+item.classify) == this.powerShow[selectedBigClassify][i]){
              this.powerShow[selectedBigClassify].splice(i,1)
              this.powerShow[selectedBigClassify].pop()
            }
          }
          this.selectedNumberDate.push(obj);
          this.zuxuanData.allLeng.PUtong +=1
          if (item.playCode.indexOf("xuansan") == -1 && item.playCode.indexOf("xuaner") == -1 ){
            for (let i=0;i<this.selectedNumberDate.length-1;i++){
              if (item.name == this.selectedNumberDate[i].name){
                this.zuxuanData.allLeng.PUtong = (this.zuxuanData.allLeng.PUtong -2)
                this.selectedNumberDate.splice(i,1)
                this.selectedNumberDate.pop()
              }
            }
          }
          if (item.playCode.indexOf("xuansan") >-1 || item.playCode.indexOf("xuaner") >-1 ){
            // this.selectedNumberDate.pop();
            this.zuxuanData.allLeng.PUtong -=1
            this.selectedZuXuanNumber(item)
          }
          console.log(this.zuxuanData.allLeng)
          // console.log(this.zuxuanData.data)
          // console.log(this.zuxuanData.leng)
          // console.log(this.zuxuanData.submitDate)
        }

      },
      //选中组选
      selectedZuXuanNumber(item){
        console.log(item)
        // zuxuanData:{data:[],leng:{},submitDate:[]}//组选三数据
        this.zuxuanData.leng[item.playCode] = 0
        this.zuxuanData.submitDate =[]
        //组装所需要的投注数据，已经注单数
        for(let i=0;i<this.powerShow.lianma.length;i++){
          //添加每个耳机标题下选中的个数
          if (this.powerShow.lianma[i].split(',')[1] in this.zuxuanData.leng && (this.powerShow.lianma[i].split(',')[1] == item.playCode) ){
            this.zuxuanData.leng[item.playCode] += 1
          }else {
            this.zuxuanData.leng[item.playCode] = 0
          }

          //添加选中的号码
          let playCode = this.powerShow.lianma[i].split(',')[1]
          let optionNot = this.powerShow.lianma[i].split(',')[2]
          if (!(this.powerShow.lianma[i].split(',')[1] in  this.zuxuanData.submitDate)){
            this.zuxuanData.submitDate[playCode] = ''
          }
          this.zuxuanData.submitDate[playCode] += optionNot + ','

          // for (let n=0;n<this.selectedNumberDate.length;n++){
          //   if(( (n+1) < this.selectedNumberDate.length ) && (i < this.selectedNumberDate.length)  && (this.selectedNumberDate[i].playCode == this.selectedNumberDate[n+1].playCode)){
          //     this.selectedNumberDate.pop()
          //   }
          // }
        }
        //去掉相同的数据
          for (let n=0;n<this.selectedNumberDate.length;n++){
            if(( (n+1) < this.selectedNumberDate.length ) && (item.playCode == this.selectedNumberDate[n].playCode)){
              this.selectedNumberDate.pop()
            }
          }
        //计算长度
        this.zuxuanData.allLeng.lianma =0
        for (let items in this.zuxuanData.leng){
          for (let z=0;z<this.selectedNumberDate.length;z++){
            if (this.selectedNumberDate[z].playCode == items){
              this.zuxuanData.allLeng.lianma +=Number(this.getFlagArrs(this.zuxuanData.leng[items],this.selectedNumberDate[z].minSelected || '').length)
            }
          }

        }


        console.log(this.selectedNumberDate)
        console.log(this.zuxuanData.allLeng)
        console.log( this.zuxuanData.leng)
        console.log(this.zuxuanData.submitDate)
        console.log(this.selectedBigClassify)
        console.log(this.powerShow)
        console.log(this.powerShow.lianma)

      },
      // 给小于10的号码加零
      addZero:function(num,three){
        if(three){
          num<10? num = '0'+ num: num = ''+num;
          num<100? num = '0'+ num: num = ''+num;
        } else {
          num<10? num = '0'+ num: num = ''+num;
        }
        return num;
      },
      //过滤组选三，组选六
      zuxuanJudege:function (value) {
        if (!value) return ''
        let objectZuxuan = {zuxuanliu:0,zuxuansan:0}
        for (let i = 0;i<value.length;i++){
          if (value[i].playCode.indexOf('zuxuanliu') >-1){
            objectZuxuan.zuxuanliu +=1
          }
          if (value[i].playCode.indexOf('zuxuansan') >-1){
            objectZuxuan.zuxuansan +=1
          }
        }
        return objectZuxuan
      },
      // 计算注数
      getFlagArrs:function(m,n){
        if(m<n){
          return  []
        }else if (m===n) {
          return  [0]
        }
        if (!n || n < 1) {
          return [];
        }
        let resultArrs = [],
          flagArr = [],
          isEnd = false,
          i, j, leftCnt;
        for (i = 0; i < m; i++) {
          flagArr[i] = i < n ? 1 : 0;
        }
        resultArrs.push(flagArr.concat());
        while (!isEnd) {
          leftCnt = 0;
          for (i = 0; i < m - 1; i++) {
            if (flagArr[i] == 1 && flagArr[i + 1] == 0) {
              for (j = 0; j < i; j++) {
                flagArr[j] = j < leftCnt ? 1 : 0;
              }
              flagArr[i] = 0;
              flagArr[i + 1] = 1;
              var aTmp = flagArr.concat();
              resultArrs.push(aTmp);
              if (aTmp.slice(-n).join("").indexOf('0') == -1) {
                isEnd = true;
              }
              break;
            }
            flagArr[i] == 1 && leftCnt++;
          }
        }
        return resultArrs;
      },
      //选择大玩法，并与json数据填充
      selectLotteryDate(item){
        this.activeShow.activeId = 0
        this.endLotteryDate =[]
        this.selectedBigClassify.push(item.code)
        this.selectedNumber(' ',item)
        for (let nums=0;nums < item.rules.length ; nums++){
          for(let index=0;index < lotteryHtml.data.length;index++){
            if (item.rules[nums].code == lotteryHtml.data[index].playName){
              let dxdzzh = '' ,list = [],count = 0;
              switch (item.rules[nums].code) {
                case 'shuangmianpan':
                  dxdzzh = ['总大','总小','总单','总双','总尾大','总尾小']
                  list = [];
                  for (let i = 0; i < dxdzzh.length; i++) {
                    let obj = item.rules[0].oddPlayItems[0];
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = dxdzzh[i];
                    newobj.classify = dxdzzh[i];
                    list.push(newobj)
                  }
                  lotteryHtml.data[index].data[0].oddPlayItems = list
                  dxdzzh = ['大','小','单','双','尾大','尾小','合单','合双']
                  list = [];
                  for(let n in lotteryHtml.data[index].data) {
                    list = [];
                    // 填充其他
                    for (let i = 0; i < dxdzzh.length; i++) {
                      let obj =  item.rules[0].oddPlayItems[0];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = dxdzzh[i];
                      newobj.classify =  lotteryHtml.data[index].data[n].name + '--' +dxdzzh[i];
                      list.push(newobj)
                    }
                    n>0? lotteryHtml.data[index].data[n].oddPlayItems = list:''
                  }
                  this.endLotteryDate[nums] =  lotteryHtml.data[index].data[0]
                  break;
                case 'danqiu1-8':
                  for(let n in lotteryHtml.data[index].data) {
                    list = [];
                    // 填充数字
                    for (let i = 1; i < 21; i++) {
                      let obj = item.rules[0].oddPlayItems[0];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = this.addZero(i);
                      newobj.classify =  lotteryHtml.data[index].data[n].name + '--' + this.addZero(i);
                      list.push(newobj)
                    }
                    lotteryHtml.data[index].data[n].oddPlayItems = list
                  }
                  this.endLotteryDate[nums] =  lotteryHtml.data[index].data[0]
                  break;
                case 'diyiqiu':
                case 'dierqiu':
                case 'disanqiu':
                case 'disiqiu':
                case 'diwuqiu':
                case 'diliuqiu':
                case 'diqiqiu':
                case 'dibaqiu':
                  // 填充数字
                  for (let i = 1; i < 21; i++) {
                    let obj = item.rules[0].oddPlayItems[0];
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = this.addZero(i);
                    newobj.classify = this.addZero(i);
                    list.push(newobj)
                  }
                  lotteryHtml.data[index].data[0].oddPlayItems = list
                  list = []
                  dxdzzh =item.rules[0].oddPlayItems.slice(1)
                  for (let i = 0; i < dxdzzh.length; i++) {
                    let obj = dxdzzh[i];
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = dxdzzh[i].name;
                    newobj.classify = dxdzzh[i].name;
                    list.push(newobj)
                  }
                  lotteryHtml.data[index].data.oddPlayItems = list
                  this.endLotteryDate[nums] =  lotteryHtml.data[index].data[0]
                  break;
                case 'xuanerrenxuan':
                case 'xuanerlianzu':
                case 'xuanerlianzhi':
                case 'xuansanrenxuan':
                case 'xuansanqianzu':
                case 'xuansanqianzhi':
                case 'xuansirenxuan':
                case 'xuanwurenxuan':
                  // 填充数字
                  for (let i = 1; i < 21; i++) {
                    let obj = item.rules[nums].oddPlayItems[0];
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = this.addZero(i);
                    newobj.classify = this.addZero(i);
                    list.push(newobj)
                  }
                  lotteryHtml.data[index].data[0].oddPlayItems = list
                  this.endLotteryDate[nums] ={lotteryTemplateType:2,name:item.rules[nums].name,oddPlayItems:lotteryHtml.data[index].data}
                  break;
              }

            }
          }
        }
      },
    },
    computed:{
    },
    watch:{
      'headerLotterDate':function () {
        this.selectedNumberDate=[]
        this.powerShow =[]
      },
      "lotteryDate":function () {
        this.$nextTick(()=>{
          this.selectLotteryDate(this.lotteryDate.rules[0])
        })
      },
    },
    filters:{

    }
  }
</script>
<style lang="scss" scoped>
  $lotterIndexMarginTopTime:1rem;
  $lotterIndexOpenheight:0.8rem;
  .main-container-number{
    height: 100%;
    .main-number-power{
      text-align: center;
      box-sizing: border-box;
      height: 100%;
      width: 100%;
      max-width: 750px;
      .power{
        height: 100%;
        .power-left-ul{
          min-height: 100%;
          display: flex;
          .left{
            border-right: 1px solid #dddddd;
            box-sizing: border-box;
            &:first-child{
              width: 1.8rem;
              background: #f2f2f2;
              padding-bottom: 2.8rem;
            }

            .left-ul-tip{
              width: 1.8rem;
              height: .88rem;
              line-height: 0.88rem;
              position: relative;
              box-sizing: border-box;
              border-bottom: 1px solid #dddddd;
              transition: all 0.5s;

              a{
                width: 100%;
                height: 100%;
                position: relative;
                i{
                  position: absolute;
                  top: 0;
                  right: 0;
                  width: 0.32rem;
                  height: 0.32rem;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  box-sizing: border-box;
                  min-width: 16px;
                  padding: 0 3px;
                  color: #fff;
                  font-weight: 500;
                  font-size: 0.24rem;
                  font-family: Avenir-Heavy, PingFang SC, Helvetica Neue, Arial, sans-serif;
                  line-height: 14px;
                  text-align: center;
                  background-color: #ee0a24;
                  border: 1px solid #fff;
                  border-radius: 16px;
                  transform: translate(50%, -50%);
                  transform-origin: 100%;
                }
                span{
                  color: #000000;
                }
              }
            }
            .actives{
              border-left: 3px solid #ee0a24;
              font-weight: bold;
              a{
                span{
                  color: #ee0a24;
                }
              }

            }

          }
          .right{
            width: calc(100% - 1.8rem);
            >>> .van-tab{
              flex: 0 0 50%!important;
              background: #f2f2f2;
              line-height: 0.88rem;
              height: 0.88rem;
            }
            >>>.van-tabs__line{
              width: 50%!important;
            }
            >>>.van-tabs--line .van-tabs__wrap{
              height: 0.88rem!important;
            }
            >>>.van-tab--active{
              font-weight: bold;
              color: #ee0a24;
            }
            .power-content{
              .power-ul{
                display: flex;
                flex-flow: row wrap;
                li{
                  flex: 50%;
                  height: 0.88rem;
                  line-height: 0.88rem;
                  text-align: center;
                  box-sizing: border-box;
                  border: 1px solid #dddddd;
                  border-left: none;
                  border-top: none;
                  position: relative;
                  .power-text{
                    height: 100%;
                    display: inline-flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    span{
                      &:first-child{
                        margin-right: 0.2rem;
                        font-size: 0.26rem;
                      }
                      &:nth-child(2){
                        color: red;
                        font-size: 0.24rem;
                      }
                    }
                    .roundBackground{
                      display: flex;
                      text-align: center;
                      justify-content: center;
                      align-items: center;
                      width: .46rem;
                      height: .46rem;
                      margin-right: .1rem;
                      border-radius: 50%;
                      font-size: .25rem;
                      box-shadow: none;
                      background: #f5f5f5;
                      color: #000;
                      border: 1px solid #ddd;
                    }
                  }
                  &:nth-child(even){
                    &:nth-last-child(1){
                      border-bottom: 1px solid #dddddd;
                    }
                  }
                  &:nth-child(odd){
                    &:nth-last-child(2){
                      border-bottom: 1px solid #dddddd;
                    }
                  }
                }
                .bet-info{
                  display: flex;
                  justify-content: center;
                  flex-wrap: nowrap;
                  background-color: #ff6464;
                  color: #fff;
                  margin: auto;
                  height: 6.22222vw;
                  line-height: 6.22222vw;
                  border-radius: 6.22222vw;
                  box-shadow: 0 1.33333vw 2.13333vw 0 hsla(0,0%,60%,.3);
                  padding: 0 4vw;
                  font-size: 3.2vw;
                  z-index: 1;
                }
              }
              .power-ul-2{
                .power-ul-2-content{
                  .power-ul-2-title{
                    height: 0.88rem;
                    line-height: 0.88rem;
                    text-align: center;
                    box-sizing: border-box;
                    border: 1px solid #dddddd;
                    border-left: none;
                    border-top: none;
                    position: relative;
                  }
                  .power-ul-2-main{
                    display: flex;
                    flex-flow: row wrap;
                    .power-main-text{
                      flex: 0 0 50%;
                      height: 0.88rem;
                      line-height: 0.88rem;
                      text-align: center;
                      box-sizing: border-box;
                      border: 1px solid #dddddd;
                      border-left: none;
                      border-top: none;
                      position: relative;
                      span{
                        &:first-child{
                          margin-right: 0.2rem;
                          font-size: 0.26rem;
                        }
                        &:nth-child(2){
                          color: red;
                          font-size: 0.24rem;
                        }
                      }
                      .roundBackground{
                        display: flex;
                        text-align: center;
                        justify-content: center;
                        align-items: center;
                        width: .46rem;
                        height: .46rem;
                        margin-right: .1rem;
                        border-radius: 50%;
                        font-size: .25rem;
                        box-shadow: none;
                        background: #f5f5f5;
                        color: #000;
                        border: 1px solid #ddd;
                      }
                    }
                  }
                }
              }
            }
          }
        }

      }
    }
  }
</style>
