@import "../include/base";
body{
  background-color: #ffffff;
}
.upd_password{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  .header{
    height: 4.6rem;
    background: #ec2829;
    color: #ffffff;
    line-height: 4.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    a{
      color: #ffffff;
      float: left;
      font-size: 1.5rem;
      left: 0.8rem;
      top: 0.4rem;
      position: absolute;
      i{
        font-size: 2.4rem;
      }
      .bark{
        font-size: 1.6rem;
        vertical-align: top;
        line-height: 3.6rem;
        display: inline-block;
      }
    }
    .title{
      float: left;
      font-size: 1.6rem;
    }
    .edit{
      position: absolute;
      right: 0.8rem;
      font-size: 1.6rem;
      color: #ffffff;
    }
  }
  .content{
    padding: 4.6rem 0;
    .van-cell-group{
      .van-icon.van-icon-bag-o{
        font-size: 25px;
        padding-right: 0.5rem;
        color: #ffb400;
      }
      .van-cell__title.van-field__label{
        width: 10.2em;
        span{
          font-size: 1.8rem;
        }
      }
      .van-field__body{
        input{
          font-size: 1.8rem;
        }
      }
    }
    .van-button--block{
      width: 80%;
      text-align: center;
      margin:25px auto 0 ;
      border-radius:5px;
      .van-button__content{
        .van-button__text{
          font-size: 1.6rem;
        }
      }
    }
  }
}