@import "include/base";
.personal{
  header{
    height: 5rem;
    background: #ec2829;
    color: #ffffff;
    line-height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    float: left;
    width: 100%;
    .user-info{
      width: 100%;
      height: 100%;
      padding-left: 1rem;
      display: flex;
      align-items: center;
      img{
        width: 3.2rem;
        height: 3.2rem;
        border:1px solid #ff5f4b;
        border-radius: 50%;
      }
      span{
        font-size: 1.8rem;
        margin-left:1rem;
      }
    }
    .go-out{
      width: 5rem;
      i{
        color: #ffffff;
        float: left;
        font-size: 2.5rem;
        right: 0.8rem;
        top: 1.2rem;
        position: absolute;
      }
      span{
        margin-left: -2rem;
        font-size: 1.5rem;
      }
    }
  }
  .user-level{
    height: 5rem;
    background: #ec2829;
    float: left;
    width: 100%;
    span{
      display: block;
      width: 50%;
      height: 50%;
      float: left;
      color: #ffffff;
      text-align: center;
      line-height: 2.5rem;
    }
  }
  .user-money{
    height: 5rem;
    background: #ec2829;
    line-height: 5rem;
    display: flex;
    align-items: center;
    position: relative;
    float: left;
    width: 100%;
    color: #ffe07f;
    font-size: 2rem;
    padding-left: 2rem;
    box-sizing: border-box;
    span{
      margin-left: 3px;
      font-size: 1.6rem;
      color: #ffffff;
    }
    img{
      position: absolute;
      right: 2rem;
      top: .8rem;
      width: 7rem;
    }
  }
  .money-button{
    width: 100%;
    height: 4.4rem;
    float: left;
    border-bottom: 1px solid #e0e0e0;
    background: #c00004;
    .van-row{
      height: 100%;
      box-sizing: border-box;
      .van-col--8, .van-col--12{
        border-right: 1px solid #c6c6c6;
        height: 100%;
        font-size: 2rem;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        span{
          margin-left: 1rem;
        }
      }
    }
  }
  .personal-content{
    width: 100%;
    float: left;
    padding-bottom: 6rem;
    i{
      color: #cd0005;
      font-size: 2.5rem;
    }
    span{
      font-size: 1.6rem;
    }
  }
  h1{
    padding: 1.5rem;
    text-align: center;
    font-size: 17px;
  }
  .level-table {
    border-collapse:collapse;
    table-layout: fixed;
    margin: 30px auto;
    text-align: center;
    width: 90%;
    th,td{
      font-size:12px;
      height:30px;
    }
    td{
      border: 1px solid #e6e6e6;
      height: 32px
    }
    th {
      background-color: #f2f7ff
    }
  }
}
