<template>
  <div class="index">
    <button @click="get1">grab-web</button>
  </div>
</template>

<script>
// import { RegisterReq } from "@/assets/js/logic.ext_pb";
// import { LogicExt } from "@/assets/js/logic.ext_grpc_web_pb";
import '@/assets/css/tabs/index.less'

export default {
  name: "index",
  data() {
    return {
      path: "ws://66.203.153.70:8081/",
      // path: "wss://chat.xbxb555.com/websocket?token=H4+tlJOduF4Io6U3Sr9yJbMAc9yQ44vaOms6lgOIRwpaFGk4x/Jh93J1X6xwINe+vaRB5rsaCyHAnCKRhgXuFuTKvYlcl+nawN/u22yRiVQ9EGCrP5c+5mG51UaSp/tZ3LpDbCQhiw/QpOlmM2emXI0zhC8NYO7TjWICoazFjkEpSP/Lxev/wOLmOVN1V+7C",
      socket: "",
      client:''
    }
  },
  created() {
    // 创建grpc-web客户端，填入enovy的地址
    // this.client = new LogicExt('66.203.153.70:50001');
  },
  mounted() {
    this.init()
  },
  methods: {
    get1:function (){
      var msgs = require('../../assets/proto/js/logic.ext_pb.js')
      var services = require('../../assets/proto/js/logic.ext_grpc_web_pb.js')
      const client = new services.LogicExtClient('http://66.203.153.70:50001',null, null);

      var request = new msgs.RegisterReq();
      request.setAccount("aaaaa")
      request.setPassword("123456")
      request.setMachineId("qwe2232dsd4")
      request.setType(1)
      request.setBrand("xiaomi")
      request.setModel("andriod")
      request.setSystemVersion("11.2.3")
      request.setSdkVersion("1.1.0")
      var metadata = {};

      client.register(request, metadata, (err, response) => {
        if (err) {
          console.log(err);
        } else {
          const todo = response.todo();

          if (todo == null) {
            console.log(`A TODO with the ID wasn’t found`);
          } else {
            console.log(`Fetched TODO with ID:`);
          }
        }
      });
    },
    init: function () {
      if (typeof (WebSocket) === "undefined") {
        alert("您的浏览器不支持socket")
      } else {
        // 实例化socket
        this.socket = new WebSocket(this.path)
        // 监听socket连接
        this.socket.onopen = this.open
        // 监听socket错误信息
        this.socket.onerror = this.error
        // 监听socket消息
        this.socket.onmessage = this.getMessage
      }
    },
    open: function () {
      console.log("socket连接成功")
    },
    error: function () {
      console.log("连接错误")
    },
    getMessage: function (msg) {
      console.log(msg.data)
    },
    send: function () {
      this.socket.send('000')
    },
    close: function () {
      console.log("socket已经关闭")
    }
  },
  destroyed() {
    // 销毁监听
    this.socket.onclose = this.close
  }
}
</script>

<style scoped>

</style>
