<template>
    <div class="esports-content-left" id="esports-detail" style="margin-top:20px;" v-show="resultData">
        <!-- 头部赛事信息 -->
        <div class="head-info">
            <div class="head-info-return" @click.prevent="$router.go(-1)">
                <i class="iconfont icon-back"></i>
            </div>
            <!-- 比赛名称 -->
            <div class="head-info-title">
                <img :src="egameLogo">
                <span class="white">{{esportsMatchName}} / {{BO}}</span>
            </div>
        </div>
        <!-- 头部赛事信息2 -->
        <div class="head-info-2">
            <div class="team team-right">
                <div class="team-info">
                    <div class="team-name text-right">{{hTeamName}}</div>
                    <div v-show="hTeamBetState" class="team-odds text-right mcolor">{{hTeamOdds}}</div>
                    <div class="team-playname text-right">全场-获胜者</div>
                </div>
                <div class="team-icon" >
                    <img :src="hTeamLogo" v-if="hTeamLogo">
                </div>
            </div>
            <div class="vs">
                <!-- 滚盘和赛果展示比分 -->
                <template v-if="esportsState == 1 || esportsState == 2 || esportsState == 3 || esportsState == 4">
                    <div class="vs-score mcolor">{{matchResult}}</div>
                </template>
                <!-- 今日和赛前展示时间 -->
                <template v-if="esportsState == 5 || esportsState == 6">
                    <div class="date">{{matchDateTimeTxt}}</div>
                    <div class="time">{{matchDateTimeHHmm}}</div>
                </template>
                <!-- 状态提示按钮 -->
                <button class="circle" :disabled="esportsState != 2" @click="playSwitch = !playSwitch">{{esportsStateName}}</button>
            </div>
            <div class="team team-left">
                <div class="team-icon">
                    <img :src="vTeamLogo" v-if="vTeamLogo">
                </div>
                <div class="team-info">
                    <div class="team-name">{{vTeam1Name}}</div>
                    <div v-show="vTeam1BetState" class="team-odds mcolor">{{vTeam1Odds}}</div>
                    <div class="team-playname">全场-获胜者</div>
                </div>
            </div>
        </div>
<!--        &lt;!&ndash; 直播（插件）播放地址(需要替换为iframe) &ndash;&gt;-->
<!--        <iframe v-if="liveUrl && esportsState == 2 && playSwitch" :src="liveUrl" frameborder="0" class="iframe-layout"></iframe>-->
<!--        &lt;!&ndash; 录播（插件）播放地址(需要替换为iframe) &ndash;&gt;-->
<!--        <iframe v-if="videourl && esportsState != 3 && playSwitch" :src="videourl" frameborder="0" class="iframe-layout"></iframe>-->
        <video-player
                class="vjs-custom-skin"
                :options="playerOptions"
                :playsinline="true"
                @ready="playerReadied($event)"
                v-if="playerOptions.sources[0].src && playSwitch"
        ></video-player>
        <!-- 玩法分类列表 -->
        <div class="play-type-list tab-list2">
            <!-- 默认全部 -->
            <div class="tab-list-item"
                @click.prevent="playTypeId = ''"
                :class="playTypeId === '' ? 'tab-list-item-active' : null">全部</div>
            <!-- 遍历列表 -->
            <div class="tab-list-item"
                v-for="(item,index) in playList"
                @click.prevent="playTypeId = index"
                :class="playTypeId === index ? 'tab-list-item-active' : null"
                :key="'play-tab-item-' + index">
                {{item.playSortName}}
            </div>
        </div>
        <!-- ############## 所有玩法列表 #############-->
        <div class="play-list-shell">
            <!-- 玩法列表 -->
            <div class="play-list"
                v-for="(item,index) in playList"
                v-show="playTypeId === index || playTypeId === '' "
                :key="'esports-play-list' + index">
                <!-- 玩法具体展示容器 -->
                <detail-pankou v-for="(item2,index2) in item.egEgameMatchDetailsList"
                :playSortName="item.playSortName || ''"
                :mid="mid"
                :datas="item2"
                :key="'esports-play-list' + index + '-pankou-' + index2"></detail-pankou>
            </div>
        </div>

    </div>
</template>
<script>
/**
 * @description 竞猜赛事详情
 */
import Vue from 'vue'
import DayJS from 'dayjs'
import detailPankou from '@/components/esports/detailPankou'
import videojs from "video.js";
export default {
    created(){
        /* 初次请求数据 等候效果及解除 */
        const loading = this.$loading.service({lock: true,background: 'rgba(0, 0, 0, 0.7)'})
        this.getDatas().then(()=>{
            loading.close()
        })
        /* 监听赔率变化 */
        window.eventBus.$on('listenOddsList',this.listenOddsList)
        /* 监听玩法变化 */
        window.eventBus.$on('listenPlayList',this.listenPlayList)
        /* 监听赛事变化 */
        window.eventBus.$on('listenMatchList',this.listenMatchList)
        /* 调试赔率列表 */
        window.eventBus.$on('debugOddsList',this.debugOddsList)
        /* 调试玩法列表 */
        window.eventBus.$on('debugPlayList',this.debugPlayList)
        /* 调试比赛详情 */
        window.eventBus.$on('debugMatchDetail',this.debugMatchDetail)
    },
    data(){
        return {
            resultData:false,                                               /* 结果数据 */
            socketData:{},                                                  /* socket赔率缓存数据(以赔率id为键) */
            socketData2:false,                                              /* socket玩法缓存数据(以玩法id为键) */
            playTypeId:'',                                                  /* 当前筛选玩法索引 */
            playSwitch:false,                                               /* 视频播放器是否展示 */
            playerOptions: {
                height: "480",
                autoplay: true,
                playbackRates: [],
                sources: [
                    {
                        type: "application/x-mpegURL",
                        src: ""
                    }
                ],
                poster:
                    ""
            },
        }
    },
    computed:{
        /* 从url中获取当前赛事id */
        mid:function(){
            return this.$route.params.mid || false
        },
        /* 当前比赛概述信息 */
        defaultMatchDetails:function(){
            return this.resultData.defaultMatchDetails || false
        },
        /* 当前游戏图标 */
        egameLogo:function(){
            return this.defaultMatchDetails.egameLogo || ''
        },
        /* 当前比赛名称 */
        esportsMatchName:function(){
            return this.defaultMatchDetails.matchName || ''
        },
        /* BO(n) */
        BO:function(){
            return this.defaultMatchDetails.bo || ''
        },
        /* 当前比赛比分 */
        matchResult:function(){
            return this.defaultMatchDetails.result || ''
        },
        /* 当前比赛时间 */
        matchDateTime:function(){
            return this.defaultMatchDetails.matchDateTime || false
        },
        /* 当前比赛时间 */
        matchDataWeek:function(){
            let result = ''
            if(this.matchDateTime){
                switch(new DayJS(this.matchDateTime).format('d')){
                    case '0':
                        result = '（星期日）'
                        break
                    case '1':
                        result = '（星期一）'
                        break
                    case '2':
                        result = '（星期二）'
                        break
                    case '3':
                        result = '（星期三）'
                        break
                    case '4':
                        result = '（星期四）'
                        break
                    case '5':
                        result = '（星期五）'
                        break
                    case '6':
                        result = '（星期六）'
                        break
                }
            }
            return result
        },
        /* 当前比赛时间 */
        matchDateTimeTxt:function(){
            let result = false
            if(this.matchDateTime){
                const objectDayjs = new DayJS(this.matchDateTime)
                result = `${objectDayjs.month()+1}月${objectDayjs.date()}日${this.matchDataWeek}`
            }
            return result
        },
        /* 当前比赛时间 */
        matchDateTimeHHmm:function(){
            let result = ''
            if(this.matchDateTime){
                result = new DayJS(this.matchDateTime).format('HH:mm')
            }
            return result
        },
        /* 当前比赛状态名称 */
        esportsStateName:function(){
            let result = ''
            if(this.defaultMatchDetails.stateName){
                if(this.esportsState == 2){
                    if(this.liveUrl){
                        result = this.playSwitch ? '关闭直播' : '打开直播'
                    }else{
                        result = this.defaultMatchDetails.stateName
                    }
                }else{
                    result = this.defaultMatchDetails.stateName
                }
            }
            return result
        },
        /* 当前比赛状态 */
        esportsState:function(){
            // state: 1 滚盘中：IsLiving = true && IsLiveVideo = false
            // state: 2 直播中：IsLiving = true && IsLiveVideo = true
            // state: 5 即将滚盘：IsLive= true && State = 1
            // state: 6 即将开始：IsLive= false && State = 1
            // state: 3 已结束：State = 3
            // state: 4 已取消：State = 4
            return this.defaultMatchDetails.state ? parseInt(this.defaultMatchDetails.state) : 0
        },
        /* 当前比赛允许投注状态 */
        esportsBetState:function(){
            return this.defaultMatchDetails.betState ? parseInt(this.defaultMatchDetails.betState) : 0
        },
        /* 直播（插件）播放地址 */
        liveUrl:function(){
            try{
                if(JSON.parse(this.defaultMatchDetails.liveUrl)){
                    this.playerOptions.sources[0].src = JSON.parse(this.defaultMatchDetails.liveUrl).m3u8Url
                    return JSON.parse(this.defaultMatchDetails.liveUrl).m3u8Url || false
                } else {
                    return ''
                }
            } catch (e) {
                console.log(e)
            }
        },
        /* 录播（插件）播放地址 */
        videourl:function(){
            return this.defaultMatchDetails.videourl || false
        },
        /* 玩法组列表 */
        playList:function(){
            let result = []
            if(this.resultData.basePlaySortList){
                this.resultData.basePlaySortList.map((item,index) => item.checked ? this.setPlayTypeId(index) : null)
                result = this.resultData.basePlaySortList
            }
            return result
        },
        /* 主要玩法 主队投注id */
        hTeamEdoid:function(){
            return this.defaultMatchDetails.hTeamEDOID || ''
        },
        /* 主要玩法列表 主队 队伍名称*/
        hTeamName:function(){
            return this.defaultMatchDetails.hTeam || ''
        },
        /* 主要玩法列表 主队赔率 */
        hTeamOdds:function(){
            if(this.socketData && this.socketData[this.hTeamEdoid]){
                return this.socketData[this.hTeamEdoid].odds || ''
            }else{
                return this.defaultMatchDetails.hTeamOdds || '0.00'
            }
        },
        /* 主要玩法列表 主队可投注状态 */
        hTeamBetState:function(){
            let result = 1
            if(this.socketData && this.socketData[this.hTeamEdoid] && this.socketData[this.hTeamEdoid].oddsBetState){
                result = parseInt(this.socketData[this.hTeamEdoid].oddsBetState)
            }
            return result
        },
        /* 主要玩法列表 主队图标 */
        hTeamLogo:function(){
            return this.defaultMatchDetails.hTeamLogo || ''
        },

        /* 主要玩法列表 客队队伍名称*/
        vTeam1Name:function(){
            return this.defaultMatchDetails.vTeam || ''
        },
        /* 主要玩法 客队投注id */
        vTeam1Edoid:function(){
            return this.defaultMatchDetails.vTeamEDOID || ''
        },
        /* 主要玩法列表 客队赔率 */
        vTeam1Odds:function(){
            if(this.socketData && this.socketData[this.vTeam1Edoid]){
                return this.socketData[this.vTeam1Edoid].odds || ''
            }else{
                return this.defaultMatchDetails.vTeamOdds || '0.00'
            }
        },
        /* 主要玩法列表 主队可投注状态 */
        vTeam1BetState:function(){
            let result = 1
            if(this.socketData && this.socketData[this.vTeam1Edoid] && this.socketData[this.vTeam1Edoid].oddsBetState){
                result = parseInt(this.socketData[this.vTeam1Edoid].oddsBetState)
            }
            return result
        },
        /* 主要玩法列表 客队图标 */
        vTeamLogo:function(){
            return this.defaultMatchDetails.vTeamLogo || ''
        },

    },
    methods:{
        /* 拉取赛事详情 */
        getDatas:function(refreshKey=true){
            return new Promise(reslove => {
                this.$http.post('api/Bet/GetEgEgameMatchDetailsList',{mid:this.mid}).then(response => {
                    const {resultCode,resultData} = response.data
                    /* 请求成功 */
                    if(resultCode == 1){
                        /* 无响应数据则返回列表 */
                        const defaultMatchDetails = resultData.defaultMatchDetails || false
                        if(!defaultMatchDetails){
                            this.$router.push({name:'homeEsports'})
                        }else{
                            /* 渲染数据 轮询 */
                            this.resultData = resultData

                            /* 转换为以玩法id为键的map */
                            const basePlaySortList = resultData.basePlaySortList || []
                            this.transferToPlayListMap(basePlaySortList)

                            reslove()
                        }
                    }else{
                        this.$router.push({name:'homeEsports'})
                    }
                })
            })
        },
        // https://www.ixxplayer.com/video.php?url=http://tx2play1.douyucdn.cn/live/5228226rXVMFFIFh_2000p.flv?uuid=
        // m3u8
        playerReadied(player) {
            const track = new videojs.AudioTrack({
                id: "my-spanish-audio-track",
                kind: "translation",
                label: "Spanish",
                language: "es"
            });
            player.audioTracks().addTrack(track);
            // Get the current player's AudioTrackList object.
            const audioTrackList = player.audioTracks();

            // Listen to the "change" event.
            audioTrackList.addEventListener("change", function() {
                // Log the currently enabled AudioTrack label.
                for (let i = 0; i < audioTrackList.length; i++) {
                    const track = audioTrackList[i];
                    if (track.enabled) {
                        videojs.log(track.label);
                        return;
                    }
                }
            });
        },
        /* 将接口请求结果（玩法组列表）转换为以玩法id为键的map */
        transferToPlayListMap:function(httpList){
            if(Array.isArray(httpList) && httpList.length){
                const socketData2 = new Map()
                httpList.map(playGroup => {
                    const baseEgamePlayList = playGroup.baseEgamePlayList || false
                    if(baseEgamePlayList){
                        /* 得到玩法组下的玩法列表 遍历 */
                        baseEgamePlayList.map(playList => {
                            const egEgameMatchDetailsList = playList.egEgameMatchDetailsList || false
                            if(egEgameMatchDetailsList){
                                egEgameMatchDetailsList.map(playDetail => {
                                    const {edid,betState="0",canCombine=true} = playDetail
                                    socketData2.set(edid,{betState,canCombine})
                                })
                            }
                        })
                    }
                })
                this.socketData2 = socketData2
            }
        },
        /* 监听赔率变化 */
        listenOddsList:function(socketData){
            const {socketList,socketListMap} = socketData
            /* 筛选出当前比赛相关 */
            if(socketListMap.size && this.resultData){
                if(socketListMap.has(this.mid)){
                    const oddsList = socketListMap.get(this.mid)
                    this.$helper.log(oddsList,'详情页接收了一组socket推送(赔率变化)')
                    oddsList.map(item => {
                        const newDetail = item.newDetail || {}
                        Vue.set(this.socketData,item.edoid,{
                            odds:newDetail.odds,
                            oddsState:item.oddsState,
                            oddsBetState:newDetail.betState
                        })
                    })
                }
            }
        },
        /* 监听玩法变化 */
        listenPlayList:function(socketData){
            const {socketList,socketListMap} = socketData
            /* 筛选出当前比赛相关 */
            if(socketListMap.size && this.resultData){
                if(socketListMap.has(this.mid)){
                    const playList = socketListMap.get(this.mid)
                    this.$helper.log(playList,'详情页接收了一组socket推送(玩法变化)',2)
                    /* 更新玩法对象 */
                    for(const edid in playList){
                        if(this.socketData2.has(edid)){
                            const playDetail = playList[edid].newDetail || {}
                            const {betState="0",canCombine=true} = playDetail
                            this.socketData2.set(edid,{betState,canCombine})
                        }
                    }
                }
            }
        },
        /* 监听赛事变化 */
        listenMatchList:function(socketData){
            const {socketList,socketListMap} = socketData
            /* 筛选出当前比赛相关 */
            if(socketListMap.size && this.resultData){
                if(socketListMap.has(this.mid)){
                    const socketResult = socketListMap.get(this.mid)

                    this.$helper.log(socketResult,'详情页接收了一组socket推送(赛事变化)',2)

                    const newDetail = socketResult.newDetail || {}
                    /* 更改赛事信息 */
                    const defaultMatchDetails = this.defaultMatchDetails
                    defaultMatchDetails.betState = newDetail.betState || '0'
                    defaultMatchDetails.result = newDetail.result
                    defaultMatchDetails.state = newDetail.state
                    defaultMatchDetails.stateName = newDetail.stateName

                    this.resultData.defaultMatchDetails = defaultMatchDetails
                }
            }
        },
        /* 设置筛选玩法id */
        setPlayTypeId:function(id){
            this.playTypeId = id
        },
        /* debug socket赔率集合 */
        debugOddsList:function(){
            console.dir(this.socketData)
        },
        /* debug socket玩法集合 */
        debugPlayList:function(){
            console.dir(this.socketData2)
        },
        /* debug 赛事详情 */
        debugMatchDetail:function(){
            console.dir(this.defaultMatchDetails)
        },
    },
    beforeDestroy(){
        /* 卸载事件监听 */
        window.eventBus.$off('listenOddsList',this.listenOddsList)
        window.eventBus.$off('listenPlayList',this.listenPlayList)
        window.eventBus.$off('listenMatchList',this.listenMatchList)
        window.eventBus.$off('debugOddsList',this.debugOddsList)
        window.eventBus.$off('debugPlayList',this.debugPlayList)
        window.eventBus.$off('debugMatchDetail',this.debugMatchDetail)
    },
    components:{
        detailPankou
    },
}
</script>
<style lang="scss">
#esports-detail{
    /* 头部 比赛信息展示 */
    .head-info{
        position: relative;
        height: 50px;
        /* 头部 返回  */
        .head-info-return{
            width: 60px;
            height: 50px;
            line-height: 45px;
            text-align: center;
            cursor: pointer;
            transition: all .3s;
            position: absolute;
            top: 0;
            left: 0;
            .iconfont{
                font-size: 1.8rem;
            }
            &:hover{
                background: hsla(0,0%,100%,.05);
                .iconfont{
                    color: $theme-font-color;
                }
            }
        }
        /* 比赛图标及名称 */
        .head-info-title{
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            padding-top: 1.5rem;
            img{
                width: 20px;
                height: 20px;
                margin-right: .5rem;
            }
        }

    }
    .head-info-2{
        box-sizing: border-box;
        padding: 30px 20px 50px;
        display: flex;
        justify-content: center;
        .team{
            width: 380px;
            display: flex;
            /* 布局 */
            &.team-left{
                justify-content: flex-start;
            }
            &.team-right{
                justify-content: flex-end;
            }
            .team-info{
                flex-grow: 1;
                .team-name{
                    font-weight: bold;
                    font-size: 20px;
                    color: white;
                    margin-bottom: .2rem;
                }
                .team-odds{
                    font-size: 16px;
                }
                .team-playname{
                    color: #787e8a;
                }
            }
            .team-icon{
                width: 80px;
                margin: 0 22px;
                img{
                    width: 80px;
                    height: 80px;
                }
            }
        }
        .vs{
            display: flex;
            width: 200px;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            .vs-score{
                display: inline-block;
                font-size: 32px;
                padding: 0 3rem;
                letter-spacing: .5rem;
            }
            .time{
                font-weight: bold;
                font-size: 20px;
                color: white;
            }
            .circle{
                display: block;
                width: 90px;
                text-align: center;
                margin: 12px auto 0;
                line-height: 2rem;
                font-size: 12px;
                &:disabled{
                    background: hsla(0,0%,100%,.1);
                    color: #777;
                }
            }
        }
    }
    /* iframe 容器 */
    .iframe-layout{
        width: 100%;
        height: 428px;
    }
    /* 玩法分类 */
    .play-type-list{
        min-height: 40px;
        background-color: #2e3238 !important;
        flex-wrap: wrap;
        .tab-list-item{
            width: 100px;
            height: 40px;
            line-height: 40px;
            color: white;
            flex-shrink: 0;
            &.tab-list-item-active{
                color: $theme-font-color;
            }
            &:hover{
                color: $theme-font-color;
            }
        }
    }
    /* 所有玩法列表 */
    .play-list-shell{
        width: 100%;
        box-sizing: border-box;
        padding: 20px;
        background-color: $theme-bg-color;
    }
}
</style>
