<template>
    <div id="esports-index">
        <div class="wrapper">
            <!-- 公告 -->
            <marquee-notice :noticeList="marqueeMessage" title="最新公告" v-show="$route.name == 'homeEsports'"></marquee-notice>
            <!-- 正文 -->
            <div class="esports-content">
                <!-- 浮动区域 头部及右侧 -->
                <div class="esports-content-fixed wrapper" :style="esportsContentStyle" >
                    <!-- 游戏列表及筛选器 -->
                    <game-list-and-filter v-show="$route.name == 'homeEsports'"></game-list-and-filter>
                    <!-- 投注列表及投注记录 -->
                    <bet-controller></bet-controller>
                </div>
                <!-- 竞猜赛事列表 -->
                <list-page v-show="$route.name == 'homeEsports'"></list-page>
                <!-- 竞猜赛事详情页 -->
                <detail-page v-if="$route.name == 'homeEsportsDetail'"></detail-page>
            </div>
        </div>
    </div>
</template>
<script>
/**
 * @description 竞猜赛事公共页
 */
/* 游戏公告 */
import Vue from 'vue'
import marqueeNotice from '@/components/common/marqueeNotice'
/* 游戏列表及筛选器 */
import gameListAndFilter from '@/components/esports/gameListAndFilter'
/* 投注列表及投注记录 */
import betController from '@/components/common/betController'
/* 游戏列表页 */
import listPage from '@/views/esports/list'
/* 游戏详情页 */
import detailPage from '@/views/esports/detail'

export default {
    created(){
        /* 拉取公告数据 */
        this.getMarqueeList()
        /* 监听滚动 */
        window.addEventListener('scroll',this.shieldScroll)
        /* 监听赔率变化 */
        window.eventBus.$on('listenOddsList',this.listenOddsList)
        /* 监听玩法变化 */
        window.eventBus.$on('listenPlayList',this.listenPlayList)
        /* 监听赛事变化 */
        window.eventBus.$on('listenMatchList',this.listenMatchList)
        /* 拉取默认竞猜赛事列表 */
        this.getDataList()
        // this.$store.state.USER_ACCOUNT = this.GetRequest().userName
        // localStorage.setItem('accessToken', this.GetRequest().token);
        // localStorage.setItem('rememberUserName', this.GetRequest().userName);
        // 商户token登录 kid
        const userBasicInfo = {account:this.GetRequest().userName,token:this.GetRequest().token || ''}
        /* 写入用户登录 */
        this.$helper.setUserLogin(userBasicInfo,true)
    },
    data(){
        return {
            fixed:false,                                                    /* 正文内容布局方式是否变更到使用fixed */
            marqueeMessage:false,                                           /* 公告数据 */
            request:false,                                                  /* 列表请求防抖 */
            resultData:false,                                               /* 列表结果数据 */
            pageIndex:1,                                                    /* 列表当前页 */
            pageSize:30,                                                    /* 列表当前页显示（拉取）数量 */
            pageCount:false,                                                /* 列表总页数（同时控制是否显示分页器） */
            resultCount:false,                                              /* 列表结果条数 */
            refreshTime:false,                                              /* 列表轮询时间 */
            refreshSign:false,                                              /* 列表轮询标记 */
            sortData:false,                                                 /* 排序数据 */
            fold:true,                                                      /* 游戏列表及筛选器的展开状态 */
        }
    },
    computed:{
        /* 更改fixed位置 */
        esportsContentStyle:function(){
            if(this.fixed){
                return {
                    position:'fixed',
                    top:'0px',
                    zIndex:1,
                }
            }else{
                return {
                    position:'absolute',
                    top:'0px'
                }
            }
        },
        /* 筛选时间类型    1今日 2滚盘 3赛前 4赛果 */
        sortID:{
            get:function(){
                return this.$store.state.ESPORTS_SORT_ID
            },
            set:function(id){
                this.$store.commit('setEsportsSortId',id)
                clearTimeout(this.refreshSign)
                this.pageIndex = 1
                this.getDataList()
            },
        },
        /* 当前游戏分类id   默认 '' = 全部 */
        egid:{
            get:function(){
                return this.$store.state.ESPORTS_GAME_ID
            },
            set:function(egid){
                this.$store.commit('setEsportsGameId',egid)
            },
        },
    },
    methods:{
        GetRequest(){
            let url = location.search; //获取url中"?"符后的字串
            let theRequest = new Object();
            if (url.indexOf("?") != -1) {
                let str = url.substr(1);
                let strs = str.split("&");
                for(let i = 0; i < strs.length; i ++) {
                    theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);
                }
            }
            return theRequest;
        },
        /* 更改fixed位置 */
        shieldScroll:function(){
            /* 更改fixed位置 */
            this.fixed = window.scrollY > 80 ? true : false
        },
        /* 获取公告信息列表 */
        getMarqueeList:function(){
            this.$http.post('api/BaseInfo/GetMsgNoticeList',{
                pageIndex: 0,
                pageSize: 0
            }).then(response => {
                const {resultCode,resultData} = response.data
                /* 请求成功 */
                if(resultCode == 1){
                    const {msgNoticeList = false} = resultData
                    if(Array.isArray(msgNoticeList) && msgNoticeList.length){
                        const result = []
                        msgNoticeList.map(item => {
                            result.push({
                                id:item.nid,
                                date:item.publishDateTime,
                                title:item.title,
                                url:item.url,
                                message:item.content
                            })
                        })
                        this.marqueeMessage = result
                    }
                }
            })
        },
        /* 切换游戏筛选类型 */
        changeEsportGame:function(egid,fold=true){
            if(this.egid == egid){
                return false
            }else{
                clearTimeout(this.refreshSign)
                this.fold = fold
                this.egid = egid
                this.pageIndex = 1
                /* 刷新数据 */
                this.getDataList()
            }
        },
        /* 拉取当前赛事列表 (是否设置一次轮询 默认是) */
        getDataList:function(refreshKey=true){
            /* 防抖 */
            if(this.request)    return false
            this.request = true
            this.pageCount = false
            /* this.resultData = false */

            /* 拉取赛事数据 */
            this.$http.post('api/Bet/GetEgEgameMatchList',{
                pageIndex:this.pageIndex,
                pageSize:this.pageSize,
                egid:this.egid ? [this.egid] : [],
                sortID:this.sortID
            }).then(response => {

                /* 关闭等待 */
                this.request = false
                const {resultCode,resultData} = response.data

                /* 解析数据 */
                if(resultCode == 1){
                    /* 时间类型统计 */
                    let {page,refreshTime,egEgameMatchList} = resultData

                    /* 解析分页 */
                    const {pageCount,pageRecord} = page
                    this.pageCount = pageCount
                    this.resultCount = pageRecord

                    /* 设置轮询时间 */
                    this.refreshTime = refreshTime

                    /* 结果数据 */
                    egEgameMatchList = Array.isArray(egEgameMatchList) && egEgameMatchList.length ? egEgameMatchList : []
                    if(egEgameMatchList.length){
                        egEgameMatchList.map((item,index) => {
                            egEgameMatchList[index].egEgameMatchTeamList[0].oddsState = 0
                            egEgameMatchList[index].egEgameMatchTeamList[1].oddsState = 0
                        })
                    }
                    this.resultData = egEgameMatchList

                    /* 轮询请求 */
                    if(refreshKey) this.loopGetDatas()

                    /* 继续请求结果数据 */
                    this.getSortCountDatas()
                }

            }).catch(()=>{
                this.refreshTime = 60
                this.loopGetDatas()
            })
        },
        /* 轮询当前赛事列表 */
        loopGetDatas:function(){
            if(this.refreshTime == 1){
                this.getDataList(true)
            }else{
                this.refreshTime--
                /* 延时递归循环 */
                this.refreshSign = setTimeout(()=>{
                    this.loopGetDatas()
                },1000)
            }
        },
        /* 拉取当前赛事 统计数据 */
        getSortCountDatas:function(){
            this.$http.post('api/Bet/GetEgEgameMatchSortList',{
                egid:this.egid ? [this.egid] : ''
            }).then(response => {
                const {resultCode,resultData} = response.data
                /* 解析数据 */
                if(resultCode == 1){
                    this.sortData = resultData.egEgameMatchSortList || false
                }
            })
        },
        /* 页数变更 */
        shieldpageChange:function(page){
            this.pageIndex = page
            this.getDataList(false)
        },
        /* 监听赔率变化 */
        listenOddsList:function(socketData){
            const {socketList,socketListMap} = socketData
            if(this.resultData && socketList){
                this.$helper.log(socketList,'列表页接收了一组socket推送(赔率变化)')
                /* 匹配当前页列表与MAP的交集数据 */
                const originalList = this.resultData
                originalList.map((item,index) => {
                    /* 当前玩法的主要玩法列表 */
                    const egEgameMatchTeamList = item.egEgameMatchTeamList || []
                    if(egEgameMatchTeamList.length && socketListMap.has(item.mid)){
                        const mapResult = socketListMap.get(item.mid)
                        const mixedResult = mapResult.filter(item2 => item2.edoid == egEgameMatchTeamList[0].edoid || item2.edoid == egEgameMatchTeamList[1].edoid)
                        /* 匹配到原数组 */
                        mixedResult.map(item2 => {
                            if(item2.edoid == egEgameMatchTeamList[0].edoid){
                                egEgameMatchTeamList[0] = this.changeEsportsItem(egEgameMatchTeamList[0],item2)
                            }
                            else if(item2.edoid == egEgameMatchTeamList[1].edoid){
                                egEgameMatchTeamList[1] = this.changeEsportsItem(egEgameMatchTeamList[1],item2)
                            }
                        })
                        /* this.$helper.log(egEgameMatchTeamList,`${item.mid}的主要玩法发生变化`) */
                        originalList[index].egEgameMatchTeamList = egEgameMatchTeamList
                    }
                })
                /* 渲染到界面 */
                this.resultData = originalList
            }
        },
        /* 监听玩法变化 */
        listenPlayList:function(socketData){
            const {socketList,socketListMap} = socketData
            if(this.resultData && socketList){
                this.$helper.log(socketList,'列表页接收了一组socket推送(玩法变化)',1)
                /* 匹配当前页列表与MAP的交集数据 */
                const originalList = this.resultData
                originalList.map((item,index) => {
                    if(socketListMap.has(item.mid)){
                        /* 获取当前比赛下的主要玩法id */
                        const edid = item.edid
                        const mapResult = socketListMap.get(item.mid)
                        if(mapResult[edid] != undefined){
                            const newDetail = mapResult[edid].newDetail || {}
                            const {betState="0",canCombine=true} = playDetail
                            /* 更新玩法属性 */
                            this.resultData[index].betState = betState
                            this.resultData[index].canCombine = canCombine
                        }
                    }
                })
            }
        },
        /* 监听赛事变化 */
        listenMatchList:function(socketData){
            const {socketList,socketListMap} = socketData
            if(this.resultData && socketList){
                this.$helper.log(socketList,'列表页接收了一组socket推送(赛事变化)')
                /* 匹配当前页列表与MAP的交集数据 */
                const originalList = this.resultData
                originalList.map((item,index) => {
                    if(socketListMap.has(item.mid)){
                        const mapResult = socketListMap.get(item.mid)
                        const newDetail = mapResult.newDetail || {}

                        /* 更新赛事信息 */
                        item.state = newDetail.state
                        item.stateName = newDetail.stateName
                        item.result = newDetail.result
                        item.canCombine = newDetail.canCombine
                        item.betState = newDetail.betState

                        /* this.$helper.log(mapResult,`${item.mid}的赛事信息发生变化`) */
                        originalList[index] = item
                    }
                })
                /* 渲染到界面 */
                this.resultData = originalList
            }
        },
        /* 改变投注对象 */
        changeEsportsItem:function(item1,item2){
            const newDetail = item2.newDetail || {}
            item1.odds = newDetail.odds
            item1.oddsState = item2.oddsState
            item1.oddsBetState = newDetail.betState
            return item1
        },
    },
    beforeDestroy(){
        /* 移除监听滚动 */
        window.removeEventListener('scroll',this.shieldScroll)
        /* 卸载事件监听 */
        window.eventBus.$off('listenOddsList',this.listenOddsList)
        window.eventBus.$off('listenPlayList',this.listenPlayList)
        window.eventBus.$off('listenMatchList',this.listenMatchList)
    },
    components:{
        marqueeNotice,
        betController,
        gameListAndFilter,
        listPage,
        detailPage,
    }
}
</script>
<style lang="scss">
#esports-index{
    .wrapper{
        box-sizing: border-box;
        padding-top: 20px;
        .esports-content{
            position: relative;
            padding-bottom: 2rem;
            min-height: 750px;
            .esports-content-fixed{
                position: absolute;
                top: 0;
                &.wrapper{
                    padding-top: 0px;
                }
            }
            .esports-content-left{
                width: 1000px;
                box-sizing: border-box;
                background: rgba(0,0,0,.5);
                .esports-list{
                    box-sizing: border-box;
                    padding: 7px 0 2px;
                    .no-data{
                        text-align: center;
                        padding: 150px 0;
                        img{
                            animation: loading-rotate 4s linear infinite;
                        }
                    }
                }
                .el-pagination{
                    padding-bottom: 30px;
                    text-align: center;
                }
            }
            .esports-content-right{
                position: absolute;
                top: 0;
                right: 0;
                width: 280px;
                height: 300px;
                background-color: green;
            }
        }
    }
}
</style>
