<template>
    <div class="takeNotes">
        <div class="takeNotes-container">
            <div class="header">
                <h1>开奖记录</h1>
            </div>
            <div class="list">
                <iframe style="width: 100%;height: 100%" :src="iframeUrl" frameborder="0"></iframe>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name:"takeNotes",
        props:['iframeUrl'],
        data(){
            return{}
        },
        created() {},
        mounted() {},
        methods:{

        }
    }
</script>
<style lang="scss" scoped>
    .takeNotes{
        .takeNotes-container{
            width: 100%;
            background: #ffffff;
            .header{
                padding: 10px 20px;
                box-sizing: border-box;
                h1{
                    font-size: 18px;
                    font-weight: unset;
                    color: #000000;
                }
            }
            .list{
                border-top: 5px solid #f0f0f0;
                /*padding: 0 20px;*/
                height: 700px;
                table{
                    tbody{
                        tr{
                            height: 42px;
                            background: #e6e6e6;
                            td{
                                text-align: center;
                                padding: 0 7px;
                                font-size: 16px;
                                color: #666666;
                            }
                        }
                    }
                }
            }
        }
    }
</style>