<template>
  <div class="float">
    <div class="newNoticeFrame" v-show="popupShow">
      <div class="active-inner">
        <div class="active-top">
          <div class="top-active">{{$t('notice[0].label')}}</div>
          <a href="#" class="close123" @click="popupShow = false">×</a>
        </div>
        <div class="active-content">
          <div class="active-main">
            <div class="active-item" v-for="(item, index) in noticeList" :key="index">
              <a href="#" class="activeTitles" @click="showIndex == index ? showIndex = 9999 : showIndex = index">
                <div class="red-title"></div>
                <span class="textStyle">{{item.title}}</span>
              </a>
              <div class="contentStyle" v-html="item.content" v-show="showIndex == index">
              </div>
            </div>
          </div>
          <van-button plain type="danger" @click="noShow" v-if="floder !='b00304'">{{$t('notice[1].label')}}</van-button>
        </div>
      </div>
    </div>
    <div class="red-m"  v-show="redShow && redPackSwitch">
      <img src="../../assets/images/rt-ad-m.png" alt="">
      <a class="loca" href="/mobile/redPackage.do"></a>
      <div class="close" @click="redShow = false"></div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/include/float.less'
import  { Toast } from 'vant'
export default {
name: "float",
  props:['redPackSwitch'],
  data(){
    return{
      noticeList:[],
      showIndex:0,
      popupShow:false,
      redShow:true,
      floder:this.$store.state.stationInfo !='' ? this.$store.state.stationInfo.content.station.floder : 'x002'
    }
  },
  created() {
    let showDate = localStorage.getItem('showDate')
    if(!showDate || showDate < (Date.parse(new Date()) - 86400000)){
      this.getPopNotices()
    }
  },
  mounted() {

  },
  methods:{
    // 判断是否处于登录状态
    getPopNotices:function () {
      let params = {
        code : 14
      }
      this.$post('native/getPopNotices.do',params).then(res =>{
        if(res.success) {
          this.noticeList = res.content
          if(res.content.length > 0){
            this.popupShow = true
          }
        }
      })
    },
    noShow:function (){
      localStorage.setItem('showDate', Date.parse(new Date()))
      this.popupShow = false
      Toast(this.$t('notice[2].label'))
    },
  }
}
</script>

<style scoped>

</style>
