<template>
  <div class="footer">
    <van-row type="flex">
      <van-col :span="spanNum">
        <router-link to="/" :class="{active:$route.path == '/'}">
          <van-icon name="wap-home" size="22px"/>
          <br>
          <span>{{$t('footer[0].label')}}</span>
        </router-link>
      </van-col>
      <van-col :span="spanNum">
        <router-link to="/draw_notice" :class="{active:$route.path == '/draw_notice'}">
          <van-icon name="fire" size="22px" />
          <br>
          <span>{{$t('footer[1].label')}}</span>
        </router-link>
      </van-col>
      <van-col :span="spanNum">
        <router-link :to="'/lottery?code=' + $store.state.defaultLottery + '&lotGroup=2'" :class="{active:$route.path == '/lottery'}">
          <van-icon name="cluster" size="22px" />
          <br>
          <span>{{$t('footer[2].label')}}</span>
        </router-link>
      </van-col>
      <van-col :span="spanNum">
        <router-link  to="/personal" :class="{active:$route.path == '/personal'}">
          <van-icon name="manager" size="22px" />
          <br>
          <span>{{$t('footer[3].label')}}</span>
        </router-link>
      </van-col>
    </van-row>
  </div>
</template>

<script>
import '@/assets/css/include/footer.less'
export default {
name: "foot_nav",
  data(){
    return {
      floder:this.$store.state.stationInfo !='' ? this.$store.state.stationInfo.content.station.floder : 'x002',
      spanNum:6
    }
  },
  created() {

  },
  mounted() {
    if (this.floder){
      this.$root.common.addFavicon(this.floder)
    }
  },
  methods:{

  },
  watch:{
    '$store.state.stationInfo':function (newVal){
      this.floder = newVal.content.station.floder
    }
  }
}
</script>

<style scoped>

</style>
