@font-face {
  font-family: "iconfont"; /* Project id 4105235 */
  src: url('/static/font/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-goumai:before {
  content: "\1010f";
}

.icon-jiaoyiliushuibiandong:before {
  content: "\e63c";
}

.icon-dingdan:before {
  content: "\e897";
}

