<template>
  <div class="login">
    <div class="list back" @click="$root.common.backPage()">
      <img src="../assets/images/icon/back.png" alt="">
    </div>
    <div class="list title">欢迎来到彩营</div>
    <div class="list tip">修改密码</div>
    <div class="login-header">
      <div class="list label">账号</div>
      <div class="list input"><input type="number" placeholder="请输入手机号码" v-model="registerData.phone"></div>
      <div class="list label">密码</div>
      <div class="list input"><input type="password" placeholder="请输入登录密码" v-model="registerData.pwd"></div>
      <div class="list input"><input type="password" placeholder="请再次输入" v-model="registerData.pwd2"></div>
      <div class="list label">验证码</div>
      <div class="list input"><input type="text" placeholder="请输入验证码" v-model="registerData.smscode"><button class="code" @click="getPhoneCode()">获取验证码</button></div>
    </div>
    <div class="list login-btn" @click="register()">立即修改</div>
  </div>
</template>

<script>
import '@/assets/css/login.less'
import {Toast} from "vant";
export default {
  name: "noPass",
  data(){
    return{
      registerData:{
        phone:'',
        pwd:'',
        pwd2:'',
        smscode:'',
        md5:'0',
      },
    }
  },
  created:function(){
  },
  mounted:function(){
  },
  methods:{
    getPhoneCode:function (){
      let params = {
        phone:this.registerData.phone,
        dest:'86',
      }
      if(!this.$root.common.dataSafeValidate(1,this.registerData.phone)){
        return false
      }
      this.$post('handle/forget_pass_send_sms',params,true).then((res) => {
        if(res.code == 200){
          Toast('操作成功')
        } else {
          Toast(res.message)
        }
      })
    },
    register:function (){
      let params = this.registerData
      if(params.pass != params.pass2){
        Toast('两次密码不一致')
        return false
      }
      if(!this.$root.common.dataSafeValidate(2,params)){
        return false
      }
      params.code = this.code
      this.$post('mobile/forget_pass',params,true).then((res) => {
        if(res.code == 200){
          Toast('注册成功')
        } else {
          Toast(res.message)
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
