<template>
  <div class="sportImg">
    <personal_header :titleDate="titleDate"></personal_header>
    <div v-if="index == 1">
      <img src="@/assets/images/sport/sport_1_1.jpg" alt="">
      <img src="@/assets/images/sport/sport_1_2.jpg" alt="">
      <img src="@/assets/images/sport/sport_1_3.jpg" alt="">
      <img src="@/assets/images/sport/sport_1_4.jpg" alt="">
<!--      <img src="@/assets/images/sport/sport_1_5.jpg" alt="">-->
    </div>
    <div v-if="index == 2">
      <img src="@/assets/images/sport/sport_2_1.jpg" alt="">
      <img src="@/assets/images/sport/sport_2_2.jpg" alt="">
      <img src="@/assets/images/sport/sport_2_3.jpg" alt="">
      <img src="@/assets/images/sport/sport_2_4.jpg" alt="">
    </div>
    <div v-if="index == 3">
      <img src="@/assets/images/sport/sport_3_1.jpg" alt="">
      <img src="@/assets/images/sport/sport_3_2.jpg" alt="">
      <img src="@/assets/images/sport/sport_3_3.jpg" alt="">
      <img src="@/assets/images/sport/sport_3_4.jpg" alt="">
      <img src="@/assets/images/sport/sport_3_5.jpg" alt="">
    </div>
    <div v-if="index == 4">
      <img src="@/assets/images/sport/sport_4_1.jpg" alt="">
      <img src="@/assets/images/sport/sport_4_2.jpg" alt="">
      <img src="@/assets/images/sport/sport_4_3.jpg" alt="">
      <img src="@/assets/images/sport/sport_4_4.jpg" alt="">
    </div>
    <div v-if="index == 5">
      <img src="@/assets/images/sport/sport_5_1.jpg" alt="">
    </div>
    <div v-if="index == 12">
      <img src="@/assets/images/sport/fruit_content.jpg" alt="">
    </div>
    <div v-if="index == 13">
      <img src="@/assets/images/sport/potato_content.jpg" alt="">
    </div>
    <div v-if="index == 22">
      <img src="@/assets/images/sport/meat_content.jpg" alt="">
    </div>
    <div v-if="index == 23">
      <img src="@/assets/images/sport/Easyfatsauce_content.jpg" alt="">
    </div>
    <div v-if="index == 32">
      <img src="@/assets/images/sport/dont-eat_content.jpg" alt="">
    </div>
    <div v-if="index == 33">
      <img src="@/assets/images/sport/easyleanfoods_content.jpg" alt="">
    </div>
    <div v-if="index == 41">
      <img src="@/assets/images/sport/oatmeal_content.jpg" alt="">
    </div>
    <div v-if="index == 43">
      <img src="@/assets/images/sport/friedrice_content.jpg" alt="">
    </div>
    <div v-if="index == 86">
      <img src="@/assets/images/86.jpg" alt="">
    </div>
    <div v-if="index == 87">
      <img src="@/assets/images/87.jpg" alt="">
    </div>
    <div v-if="index == 88">
      <img src="@/assets/images/88.jpg" alt="">
    </div>
    <div v-if="index == 89">
      <img src="@/assets/images/89.jpg" alt="">
    </div>
    <div v-if="index == 90">
      <img src="@/assets/images/90.jpg" alt="">
    </div>
    <div v-if="index == 91">
      <img src="@/assets/images/91.jpg" alt="">
    </div>
    <div v-if="index == 92">
      <img src="@/assets/images/92.jpg" alt="">
    </div>
    <div v-if="index == 93">
      <img src="@/assets/images/93.jpg" alt="">
    </div>
    <div v-if="index == 94">
      <img src="@/assets/images/94.jpg" alt="">
    </div>
    <div v-if="index == 95">
      <img src="@/assets/images/95.jpg" alt="">
    </div>
    <div v-if="index == 211">
      <img src="@/assets/images/2-1.jpg" alt="">
    </div>
    <div v-if="index == 213">
      <img src="@/assets/images/2-3.jpg" alt="">
    </div>
    <div v-if="index == 215">
      <img src="@/assets/images/2-5.jpg" alt="">
    </div>
    <div v-if="index == 216">
      <img src="@/assets/images/2-6.jpg" alt="">
    </div>
    <div v-if="index == 217">
      <img src="@/assets/images/2-7.jpg" alt="">
    </div>
    <div v-if="index == 219">
      <img src="@/assets/images/2-9.jpg" alt="">
    </div>
    <div v-if="index == 220">
      <img src="@/assets/images/2-10.jpg" alt="">
    </div>
    <div v-if="index == 311">
      <img src="@/assets/images/311.jpg" alt="">
    </div>
    <div v-if="index == 312">
      <img src="@/assets/images/312.jpg" alt="">
    </div>
    <div v-if="index == 313">
      <img src="@/assets/images/313.jpg" alt="">
    </div>
    <div v-if="index == 314">
      <img src="@/assets/images/314.jpg" alt="">
    </div>
    <div v-if="index == 315">
      <img src="@/assets/images/315.jpg" alt="">
    </div>
    <div v-if="index == 316">
      <img src="@/assets/images/316.jpg" alt="">
    </div>
    <div v-if="index == 317">
      <img src="@/assets/images/317.jpg" alt="">
    </div>
  </div>
</template>

<script>
import '@/assets/css/tabs/sport.less'
import personal_header from "@/components/include/personal_header";
export default {
  name: 'sportImg',
  components:{personal_header},
  data(){
    return{
      index:1,
      titleDate:{title:'',rule:{text:'',url:''},},
    }
  },
  created:function(){
    this.index = this.$route.query.id
  },
  mounted:function(){

  },
  methods:{

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
img{
  margin-top: -3px;
}
</style>
