<template>
	<view class="order">
		<view class="status_bar"></view>
		<view class="public_header">
			<image src="/static/images/icon/out.png" alt="" @click="$common.back()"> 购单记录 <span class="button"
					@click="$refs.filterPopup.open()">筛选</span>
		</view>
		<view class="list" v-if="mnyrecordList.length > 0">
			<view class="box" v-for="(item, index) in mnyrecordList" :key="index">
				<view class="row"><text>{{orderTypeCode == 1 ? '购币' : '回款'}}方式：{{typeFilter(item.type)}}</text></view>
				<view class="row"><text>状态：{{typeStatusFilters(item.status)}}</text></view>
				<view class="row"><text>{{orderTypeCode == 1 ? '购币' : '回款'}}金额：<span style="color: red;">{{orderTypeCode == 1 ? item.money : item.drawMoney}}</span></text></view>
				<view class="row"><text>{{orderTypeCode == 1 ? '购币' : '回款'}}时间：<span>{{$common.getMyDate(item.createDatetime)}}</span>{{unit}}</text></view>
				<view class="row"><text>{{orderTypeCode == 1 ? '购币' : '回款'}}备注：<span>{{item.opDesc || item.remark}}</span></text></view>
			</view>
			<view class="tip">
				<span v-if="page < totalPageCount">下拉加载更多</span>
				<span v-else>已经到底了</span>
			</view>
		</view>
		<view class="no-data" v-else>
			<p>
				<image src="../../static/images/no-data.56c1aed8.png"></image>
			</p>
			<p>暂无数据</p>
		</view>
		<uni-popup ref="filterPopup" type="top">
			<view class="filter-box" :style="{height:`${clienHeight}px`}">
				<view class="close">
					<uni-icons type="closeempty" size="25" color="#ffffff"
						@click="$refs.filterPopup.close()"></uni-icons>
				</view>
				<view class="header">
					筛选条件
				</view>
				<view class="input">
					<view class="row">
						<view class="label">时间</view>
						<view style="color: red;">
							<uni-datetime-picker type="range" :value="[filterDate.start,filterDate.end]"
								@change="change" />
						</view>
					</view>
					<view class="row" @click="orderTypeSwitch = true">
						<view class="label">订单类型</view>
						<view>
							<view class="uni-input">{{orderTypeValue}}</view>
						</view>
					</view>
					<view class="row" @click="tradeTypeSwitch = true">
						<view class="label">交易类型</view>
						<view>
							<view class="uni-input">{{tradeTypeValue}}</view>
						</view>
					</view>
					<view class="row" @click="statusTypeSwitch = true">
						<view class="label">处理状态</view>
						<view>
							<view class="uni-input">{{statusTypeValue}}</view>
						</view>
					</view>
				</view>
				<view class="button" @click="getMnyrecordlist('reset')"><button>查询</button></view>
			</view>
			<u-picker :show="orderTypeSwitch" :columns="orderTypeColumns" @confirm="orderTypeConfirm" @cancel="cancel()"></u-picker>
			<u-picker :show="tradeTypeSwitch" :columns="tradeTypeColumns" @confirm="tradeTypeConfirm" @cancel="cancel()"></u-picker>
			<u-picker :show="statusTypeSwitch" :columns="statusTypeColumns" @confirm="statusTypeConfirm" @cancel="cancel()"></u-picker>
		</uni-popup>
	</view>
</template>

<script>
	export default {
		name: "order",
		data() {
			return {
				page: 1,
				filterDate: {
					start: '',
					end: '',
				},
				orderTypeSwitch: false,
				tradeTypeSwitch: false,
				statusTypeSwitch: false,
				orderTypeValue: '购币记录',
				tradeTypeValue: '全部',
				statusTypeValue: '全部',
				orderTypeCode: 1,
				tradeTypeCode: '',
				statusTypeCode: '',
				orderTypeColumns: [['购币记录', '回款记录']],
				orderTypeIndex: [1, 2],
				tradeTypeColumns: [['全部', '在线购币', '快速购币', '一般购币']],
				tradeTypeIndex: ['', 5, 6, 7],
				statusTypeColumns: [['全部', '处理中', '处理成功', '处理失败']],
				statusTypeIndex: ['', 1, 2, 3],
				mnyrecordList: [],
				mnyrecordTypeList: [],
				totalCount: 0,
				totalPageCount: 0,
				clienHeight: 0,
				getUrl:'',
				unit:'',
			}
		},
		created() {
			this.filterDate.start = this.$common.getMyDate(+new Date(), 2)
			this.filterDate.end = this.$common.getMyDate(+new Date(), 2)
			this.getMnyrecordlist()
			this.getMnyrecordType()
			this.getClineHeight()
			this.unit = uni.getStorageSync('unit')
		},
		onLoad() {},
		onReachBottom() {
			if (this.page < this.totalPageCount) {
				this.page++
				this.getMnyrecordlist()
			}
		},
		onPullDownRefresh() {
			this.resetData()
			this.getMnyrecordlist()
		},
		methods: {
			resetData() {
				this.page = 1
				this.mnyrecordList = []
				this.totalCount = 0
				this.totalPageCount = 0
				this.filterDate.start = this.$common.getMyDate(+new Date(), 2)
				this.filterDate.end = this.$common.getMyDate(+new Date(), 2)
				this.typeValue = '全部记录'
				this.typeCode = ''
			},
			getClineHeight() {
				const res = uni.getSystemInfo({
					success: (res => {
						this.clienHeight = (res.windowHeight - res.windowBottom)
					})
				});
			},
			getMnyrecordlist(type) {
				if (type == 'reset') {
					this.page = 1
					this.$refs.filterPopup.close()
				}
				if(this.orderTypeCode == 1){
					this.getUrl = '/native/comrd.do'
				} else {
					this.getUrl = '/native/drawrd.do'
				}
				let params = {
					startTime: this.filterDate.start + ' 00:00:00',
					endTime: this.filterDate.end + ' 23:59:59',
					type: this.tradeTypeCode,
					status: this.statusTypeCode,
					page: this.page,
					rows: 6,
				}
				this.$Request.post(this.getUrl, params, true).then(res => {
					if (type == 'reset') {
						this.mnyrecordList = res.list
					} else {
						for (let i in res.list) {
							this.mnyrecordList.push(res.list[i]);
						}
					}
					this.totalCount = res.totalCount
					this.totalPageCount = res.totalPageCount
					uni.stopPullDownRefresh();
				})
			},
			getMnyrecordType() {
				this.$Request.get('/native/getMnyrecordType.do', {}, false).then(res => {
					let e = []
					for (let index in res) {
						this.mnyrecordTypeList.push(res[index])
					}
				})
			},
			change(e) {
				this.filterDate.start = e[0]
				this.filterDate.end = e[1]
			},
			orderTypeConfirm(e) {
				this.orderTypeCode = this.orderTypeIndex[e.indexs[0]]
				this.orderTypeValue = e.value[0]
				this.cancel()
			},
			tradeTypeConfirm(e) {
				this.tradeTypeCode = this.tradeTypeIndex[e.indexs[0]]
				this.tradeTypeValue = e.value[0]
				this.cancel()
			},
			statusTypeConfirm(e) {
				this.statusTypeCode = this.statusTypeIndex[e.indexs[0]]
				this.statusTypeValue = e.value[0]
				this.cancel()
			},
			cancel() {
				this.orderTypeSwitch = false
				this.tradeTypeSwitch = false
				this.statusTypeSwitch = false
			},
			typeFilter(type) {
				if (!type) console.log(type)
				switch (type) {
					case 1:
						return '人工购币';
					case 2:
						return '人工扣币';
					case 3:
						return '在线回款失败';
					case 4:
						return '在线回款';
					case 5:
						return '在线支付';
					case 6:
						return '快速购币';
					case 7:
						return '一般购币';
					case 8:
						return '虚拟币购币';
					case 18:
						return '活动中奖';
					case 19:
						return "现金兑换积分";
					case 20:
						return "积分兑换现金";
					case 54:
						return "回款取消";
					case 55:
						return "购币取消";
					case 78:
						return "晋级赠送";
					case 79:
						return "注册赠送";
					case 80:
						return "人工购币";
					case 130:
						return "订单下单";
					case 131:
						return "订单匹配";
					case 132:
						return "订单取消";
					default:
						return `${type} 未知`
				}
			},
			typeStatusFilters(status) {
				switch (status) {
					case 1:
						return '处理中';
					case 2:
						return '处理成功';
					case 3:
						return '处理失败';
					case 4:
						return '已取消';
					case 5:
						return '已过期';
				}
			},
		},
	}
</script>

<style lang="scss">
	@import '../../static/css/tabs/order.scss';
</style>