<template>
	<view class="message">
		<view class="status_bar"></view>
		<view class="public_header" @click="$common.back()">
			<image src="/static/images/icon/out.png" alt=""> 我的消息
		</view>
		<view class="content">
			<view class="list" v-for="(item,index) in messageList" :key="index" @click="open(item.message)">
				<span>{{item.title}}</span><span class="date">{{$common.getMyDate(item.createDatetime,2)}}</span>
			</view>
		</view>
		<u-popup :show="show" @close="close" mode="bottom">
			<view class="message-box">
				<text>{{content}}</text>
			</view>
		</u-popup>
	</view>
</template>

<script>
	export default {
		name: "login",
		data() {
			return {
				messageList: '',
				content: '',
				show: false,
			}
		},
		created() {
			this.getMessageList()
		},
		onLoad() {

		},
		onPullDownRefresh() {
			this.getMessageList()
		},
		methods: {
			getMessageList() {
				this.$Request.post('/center/news/message/list.do', {
					pageNumber: 1,
					pageSize: 20,
					status: 0
				}, true).then(res => {
					this.messageList = res.list
					uni.stopPullDownRefresh();
				})
			},
			open(e) {
				this.content = e
				this.show = true
			},
			close() {
				this.show = false
			}
		}
	}
</script>

<style lang="scss">
	@import '../../static/css/center/message.scss';
</style>