<template>
	<view class="withdraw">
		<view class="status_bar"></view>
		<view class="public_header" @click="$common.back()">
			<image src="/static/images/icon/out.png" alt=""> 回款
		</view>
		<view class="title">提示信息</view>
		<view class="tip-box">
			<p>1、每天的提款处理时间为：<span>{{pickMoneyInfor.startTime}}</span> 至 <span>{{pickMoneyInfor.endTime}}</span></p>
			<p>2、提款3分钟内到账。（如遇高峰期，可能需要延时十分钟内到账）</p>
			<p>3、用户每日最小提款<span>{{pickMoneyInfor.minPickMoney}}</span>{{unit}}，最大提款<span>{{pickMoneyInfor.maxPickMoney}}</span>{{unit}}
			</p>
			<p>4、今日可提款<span>{{pickMoneyInfor.wnum}}</span>次，已提款<span>{{pickMoneyInfor.curWnum}}</span>次</p>
		</view>
		<view class="title">消费比例</view>
		<view class="tip-box">
			<p>1、出款需达购单量：<span>{{pickMoneyInfor.checkBetNum}}</span>，当前有效购单金额：<span>{{pickMoneyInfor.validBetMoney}}</span>
			</p>
			<p>2、是否能取款：<span>{{pickMoneyInfor.drawFlag}}</span></p>
		</view>
		<view class="content" v-if="pickMoneyInfor">
			<u-tabs :list="list1" @click="tabClick" lineWidth="100" lineColor="#f46e00"
				itemStyle="width: 50%; height: 80rpx;"></u-tabs>
			<view v-if="activeIndex == 0">
				<view class="row">
					<view class="left">银行卡</view>
					<view class="right"><input type="text" disabled
							:placeholder="pickMoneyInfor.bankName + '(尾号' + pickMoneyInfor.cardNo.replace('******', '') + ')'">
					</view>
				</view>
			</view>
			<view v-if="activeIndex == 1">
				<view class="row">
					<view class="left">币种</view>
					<view class="right"><input type="text" disabled
							:placeholder="userInfo.currencyType + ' ' + userInfo.protocol"></view>
				</view>
				<view class="row">
					<view class="left">地址</view>
					<view class="right"><input type="text" disabled :placeholder="userInfo.walletAddress"></view>
				</view>
			</view>
			<view class="row">
				<view class="left">真实姓名</view>
				<view class="right"><input type="text" disabled :placeholder="pickMoneyInfor.userName"></view>
			</view>
			<view class="row">
				<view class="left">账户余额</view>
				<view class="right"><input type="text" disabled :placeholder="String(pickMoneyInfor.accountBalance)">
				</view>
			</view>
			<view class="row">
				<view class="left">提款金额</view>
				<view class="right"><input type="text" v-model="money" :placeholder="'最少提现'+pickMoneyInfor.minPickMoney+unit"></view>
			</view>
			<view class="row">
				<view class="left">提款密码</view>
				<view class="right"><input type="password" v-model="repPwd" placeholder="请输入提款密码"></view>
			</view>
			<view class="login-button" style="padding: 40rpx 0;">
				<button @click="submits()">提交申请</button>
			</view>
		</view>
		<u-toast ref="uToast"></u-toast>
	</view>
</template>

<script>
	export default {
		name: "withdraw",
		data() {
			return {
				pickMoneyInfor: '',
				list1: [{
					name: '银行卡',
				}, {
					name: '钱包',
				}],
				activeIndex: 0,
				userInfo: '',
				money: '',
				repPwd: '',
				unit: '',
			}
		},
		created() {
			this.getPickMoneyData()
			this.userInfo = uni.getStorageSync('userInfo')
			this.unit = uni.getStorageSync('unit')
		},
		onPullDownRefresh() {
			this.getPickMoneyData()
		},
		onLoad(option) {

		},
		methods: {
			getPickMoneyData() {
				this.$Request.get('/native/pick_money_data.do', {}, true).then(res => {
					if (res.success) {
						this.pickMoneyInfor = res.content;
						this.pickMoneyInfor.cardNo ? this.pickMoneyInfor.cardNo = this.pickMoneyInfor.cardNo
							.substr(-4) : '';
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 2000
						});
					}
					uni.stopPullDownRefresh();
				})
			},
			submits: function() {
				if (!this.money) {
					uni.showToast({
						title: '请输入提款金额',
						icon: 'none',
						duration: 2000
					});
					return false;
				} else if (!this.repPwd) {
					uni.showToast({
						title: '请输入资金密码',
						icon: 'none',
						duration: 2000
					});
					return false;
				} else if (this.pickMoneyInfor.checkBetNum > this.pickMoneyInfor.validBetMoney) {
					uni.showToast({
						title: '常态稽核未通过',
						icon: 'none',
						duration: 2000
					});
					return false;
				} else {
					let params = {
						money: this.money,
						repPwd: this.repPwd,
						withdrawWay: this.activeIndex,
					};
					this.$Request.post('/native/post_pick_money.do', params, true).then(res => {
						if (res.success) {
							uni.showToast({
								title: '提交成功,请等待审核',
								icon: 'none',
								duration: 2000
							});
							setTimeout(() => {
								uni.reLaunch({
									url: '/pages/tabs/personal',
								})
							}, 2000)
						} else {
							uni.showToast({
								title: res.msg,
								icon: 'none',
								duration: 2000
							});
						}
					})
				}
			},
			tabClick(item) {
				this.activeIndex = item.index
			}
		}
	}
</script>

<style lang="scss">
	@import '../../static/css/center/withdraw.scss';
</style>