@import "./include/base";
.bindCard{
  padding-top: 40px;
  .tip{
    span{
      padding: 0 5px;
      color: red;
      display: inline-block;
    }
  }
  .ok-btn{
    margin-top: 20px;
    width: 100%;
    background: #0a3a4e;
    color: #fff;
    border: 1px solid #03bcc2;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 6px 24px;
    border-radius: 15px;
    box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.65);
    cursor: pointer;
  }
  .van-cell-group{
    background: none!important;
  }
  .van-cell{
    background-color: initial!important;
  }
  .van-field__control,.van-field__label{
    color: #ffffff!important;
  }
  .van-cell__value{
    span{
      color: #ffffff!important;
    }
  }
}