@import "include/base";
.funds-detail{
  .content{
    overflow: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    top: 60px;
    padding: 0 15px;
    .line{
      width: 100%;
      margin-top: 20px;
      .input{
        margin-top: 10px;
        input,select{
          width: 100%;
          height: 30px;
          border-radius: 30px;
          border: 1px solid #53fdfd;
          background: #ffffff;
          color: #000000;
          padding-left: 20px;
        }
      }
    }
    .detail-box{
      border: 1px solid #0fb3f9;
      width: 100%;
      padding: 10px;
      margin-top: 20px;
      background: #2b3139;
      .title{
        display: flex;
        justify-content: space-between;
        color: #ffffff;
        font-weight: 600;
        font-size: 15px;
        .type{
          color: #2ebd85;
        }
      }
      .detail{
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid #0fb3f9;
        .text{
          margin-top: 8px;
          color: #ffffff;
          .label{
            font-weight: 600;
            margin-right: 5px;
          }
          span{
            font-size: 14px;
          }
        }
      }
    }
  }
  .van-radio__label{
    color: #ffffff!important;
  }
  .van-radio--horizontal{
    width: 140px;
    display: flex;
    justify-content: center;
  }
}