@import "./include/base";
.game-classify{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 72px;
  top: 60px;
  background: url("../images/gameClassify_back.jpg");
  background-size: 100% 100%;
  overflow: auto;
  .content{
    .game-list{
      .box{
        // 容器内边距
        padding: 1rem 1rem 9rem 1rem;
        // 容器距离底部的高度
        min-height: 50rem;
        .line{
          //  元素展示位置
          width: 100%;
          div{
            // 图片外层div的宽高
            width: 30%;
            margin: 0 1.5%;
            height: 10.6rem;
            display: inline-block;
            margin-top: 10px;
            overflow: hidden;
            img{
              // 图片跟div保持一致大小
              height: 100%;
            }
          }
        }
      }
    }
  }
}