@import "./include/base";
.help{
  padding-top: 10px;
  .list{
    .select-box{
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      button{
        width: 100%;
        border-radius: 5px;
        border: 1px solid #ffffff;
        color: #ffffff;
        height: 40px;
        background: none;
        margin-right: 5px;
        &:nth-child(4){
          margin-right: 0;
        }
      }
      .active{
        border: 1px solid #53fdfd;
      }
    }
    .list-box{
      width: 100%;
      height: 60px;
      background: rgba(0,0,0,.7);
      border-radius: 5px;
      position: relative;
      padding: 10px;
      margin-top: 20px;
      border: 1px solid #53fdfd;
      span{
        color: #ffffff;
        line-height: 20px;
        &:nth-child(3){
          color: #9fa8b7;
        }
      }
      img{
        position: absolute;
        right: 20px;
        top: 20px;
        height: 15px;
      }
    }
  }
  .content{
    padding: 20px 10px;
    margin-top: 10px;
    border: 1px solid #53fdfd;
    background: rgba(0,0,0,.7);
    border-radius: 5px;
    .img{
      img{
        height: 20px;
      }
    }
    .title{
      margin-top: 10px;
      text-align: center;
      font-size: 16px;
      color: #ffffff;
    }
    .date{
      color: #ffffff;
      margin-top: 10px;
      text-align: right;
      padding-right: 30px;
    }
    .text{
      margin-top: 20px;
      color: #ffffff;
    }
  }
}