@import "./include/base";
.language{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 72px;
  top: 60px;
  background: url("../images/reward_bg.jpg");
  background-size: 100% 100%;
  overflow: auto;
  padding: 10px;
  .content{
    background: rgba(0,0,0,.5);
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    .list-warp{
      position: relative;
      width: 100%;
      border-bottom: 1px solid #b1bdcb;
      height: 40px;
      display: flex;
      align-items: center;
      img{
        width: 20px;
        height: 20px;
      }
      .text{
        margin-left: 10px;
        color: #ffffff;
        font-size: 14px;
      }
      .active{
        position: absolute;
        right: 10px;
        width: 10px;
        height: 10px;
        background: #0fb3fa;
        border-radius: 50%;
      }
    }
  }
}