@import "include/base";
.live_game{
  padding-bottom: 72px;
  .money-module{
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 1rem;
    .module{
      box-shadow: 0 0.05rem 0.1rem rgb(0 0 0 / 30%);
      height: 7.2rem;
      font-size: 18px;
      color: #8efe58;
      .flex();
      span{
        color: #8efe58;
        font-size: 18px;
      }
    }
  }
  .game-list{
    width: 100%;
    height: 100%;
    //background: #FFFFFF;
    .list-box{
      width: 100%;
      height: 11.2rem;
      display: flex;
      .left, .right{
        height: 100%;
        display: inline-block;
      }
      .left{
        width: 25%;
        text-align: center;
        padding-top: 1.6rem;
        img{
          width: 6rem;
          height: 6rem;
        }
      }
      .right{
        width: 75%;
        padding-right: 2rem;
        box-sizing: border-box;
        border-bottom: 1px solid #e7e7e7;
        div{
          width: 100%;
          height: 33%;
          float: left;
          color: #ffffff;
          font-size: 14px;
        }
        .top{
          line-height: 4rem;
        }
        .center{
          line-height: 3rem;
          span{
            margin-right: 1rem;
            font-size: 15px;
            color: #0894ec;
          }
          .go-in{
            float: right;
            background: #0a3a4e;
            color: #fff;
            border: 1px solid #03bcc2;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 500;
            padding: 3px 12px;
            border-radius: 15px;
            box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.65);
            cursor: pointer;
          }
        }
        .bottom{
          line-height: 2rem;
          button{
            width: 4.8rem;
            height: 2.4rem;
            background: #0a3a4e;
            color: #FFFFFF;
            border:none;
            border-radius: 5px;
            margin-left: 1rem;
          }
        }
      }
    }
  }
}
