@import "include/base";
.login{
  position: absolute;
  top: 5rem;
  left: 0;
  right: 0;
  bottom: 7.3rem;
  background: #000000;
  padding: 3rem 1rem;
  overflow: auto;
  .box{
    width: 100%;
    border-radius: 10px;
    border: 1px solid #00ff72;
    padding: 15px;
    background: url("../images/reg-bg.jpg") no-repeat;
    background-size: 100% 100%;
    .title{
      text-align: center;
      font-size: 2rem;
      color: #ffffff;
      font-weight: bold;
    }
    .user-input{
      position: relative;
      width: 100%;
      *{
        color: #000000!important;
      }
      img{
        position: absolute;
        right: 10px;
        bottom: 5px;
      }
    }
    .user-button{
      width: 100%;
      position: relative;
      margin-top: 2rem;
      .van-col--24{
        height: 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        button{
          width: 32rem;
          height: 4rem;
          border-radius: 20px;
          background: linear-gradient(to bottom, rgba(58,58,58,1) 0%, rgba(14,14,14,1) 100%)
        }
      }
    }
  }
  .van-button__text{
    font-size: 1.6rem;
    color: #ffffff;
  }
  .van-button--danger{
    border: 1px solid #00ff72;
  }
  .van-checkbox__label{
    color: #ffffff;
  }
  .van-cell-group{
    background: none!important;
  }
  .van-cell{
    background:linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(215,215,215,1) 90%, rgba(191,191,191,1) 94%, rgba(191,191,191,1) 100%);
    border-radius: 2rem!important;
    margin-top: 2rem!important;
    span{
      white-space: pre;
    }
  }
  .van-hairline--top-bottom::after, .van-hairline-unset--top-bottom::after{
    border: none!important;
  }
}
