@import "include/base";
.message{
  .message-main{
    padding-top: 50px;
    background: url("../../assets/images/wallet-bg.jpg") no-repeat top center;
    height: 650px;
    .content{
      background: url("../../assets/images/inbox-board.png") no-repeat;
      background-size: 100% 100%;
      height: 483px;
      padding: 10px;
      position: relative;
      .title{
        width: 100%;
        height: 36px;
        text-align: center;
        line-height: 36px;
        font-size: 14px;
        font-weight: 600;
        color: #ffffff;
      }
      .table{
        table{
          *{color: #ffffff}
          width: 100%;
          border-collapse: collapse;
          thead{
            th{
              border-bottom: 1px solid #ffffff;
              height: 34px;
              line-height: 34px;
              font-size: 12px;
              font-weight: 600;
              text-align: left;
              &:nth-child(1){
                text-align: center;
              }
            }
          }
          tbody{
            td{
              cursor: pointer;
              height: 30px;
              line-height: 30px;
              &:nth-child(1){
                text-align: center;
              }
            }
            tr{
              transition: .5s;
              &:hover{
                background: #205c5d;
              }
            }
          }
        }
      }
    }
    .popup{
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: rgba(0,0,0,0.7);
      z-index: 1050;
      padding: 10px 20px;
      *{color: #ffffff}
      .flex();
      .popup-box{
        min-height: 530px;
        width: 800px;
        position: relative;
        border: 2px solid #00c34e;
        filter: drop-shadow(0 0 4px #00c34e);
        background: #000f16;
        .title{
          width: 100%;
          height: 55px;
          text-align: center;
          font-weight: 600;
          font-size: 16px;
          line-height: 55px;
          background: #002334;
          border-bottom: 1px solid #449fc4;
        }
        .close{
          position: absolute;
          right: -10px;
          top: -25px;
          cursor: pointer;
        }
        .active-content{
          width: 100%;
          height: 100%;
          padding: 20px;
        }
      }
    }
  }
}
