@import "include/base";
.record{
  .content{
    overflow: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    top: 60px;
    padding: 0 15px;
    .total{
      height: 70px;
      width: 100%;
      border: 1px solid #53fdfd;
      background: #000000;
      display: flex;
      justify-content: space-between;
      .data{
        width: 100%;
        height: 100%;
        text-align: center;
        padding-top: 10px;
        span{
          color: #ffffff;
          font-size: 14px;
          display: block;
        }
      }
    }
    .line{
      width: 100%;
      margin-top: 20px;
      .input{
        margin-top: 10px;
        input,select{
          width: 100%;
          height: 30px;
          border-radius: 30px;
          border: 1px solid #53fdfd;
          background: #ffffff;
          color: #000000;
          padding-left: 20px;
        }
      }
    }
    .detail-box{
      border: 1px solid #0fb3f9;
      width: 100%;
      padding: 10px;
      margin-top: 20px;
      background: #2b3139;
      position: relative;
      .title{
        .left{
          position: absolute;
          color: #ffffff;
          width: 242px;
          height: 31px;
          line-height: 31px;
          font-size: 14px;
          padding-left: 10px;
          left: -5px;
          top: -5px;
          white-space: pre;
        }
        .right{
          position: absolute;
          color: #ffffff;
          min-width: 90px;
          max-width: 110px;
          padding: 0 5px;
          white-space: normal;
          height: 31px;
          line-height: 31px;
          font-size: 14px;
          text-align: center;
          right: -5px;
          top: -5px;
          background: #8088a3;
          border-radius: 5px;
        }
      }
      .green{
        background-image: url("../images/status_green.svg");
        background-size: 100% 100%;
      }
      .red{
        background-image: url("../images/status_red.svg");
        background-size: 100% 100%;
      }
      .default{
        background-image: url("../images/status_default.png");
        background-size: 100% 100%;
      }
      .detail{
        margin-top: 10px;
        padding-top: 10px;
        .text{
          margin-top: 8px;
          color: #ffffff;
          .label{
            font-weight: 600;
            margin-right: 5px;
            width: 70px;
            display: inline-block;
          }
          span{
            font-size: 14px;
          }
        }
      }
      .bottom{
        display: flex;
        justify-content: space-between;
        color: #ffffff;
        font-weight: 600;
        font-size: 15px;
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid #0fb3f9;
        .type{
          color: #2ebd85;
        }
      }
    }
  }
  .van-radio__label{
    color: #ffffff!important;
  }
  .van-radio--horizontal{
    width: 140px;
    display: flex;
    justify-content: center;
  }
}