@import "include/base";
.scoreChange{
  .header{
    height: 4.6rem;
    background: #ec2829;
    color: #ffffff;
    line-height: 4.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    a{
      color: #ffffff;
      float: left;
      font-size: 1.5rem;
      left: 0.8rem;
      top: 0.4rem;
      position: absolute;
      i{
        font-size: 2.4rem;
      }
      .bark{
        font-size: 1.6rem;
        vertical-align: top;
        line-height: 3.6rem;
        display: inline-block;
      }
    }
    .title{
      float: left;
      font-size: 1.6rem;
    }
    .edit{
      position: absolute;
      right: 0.8rem;
      font-size: 1.6rem;
      color: #ffffff;
    }
  }
  .content{
    width: 100%;
    position: absolute;
    top: 4.4rem;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 0 10px;
    .card-header{
      font-size: 1.6rem;
      border-bottom: 1px solid #e1e1e1;
      border-radius: .1rem .1rem 0 0;
      min-height: 2.2rem;
      padding:1.1rem;
      span{
        font-size: inherit;
        font{
          font-size: inherit;
        }
      }
    }
    .card-content{
      .van-cell__title.van-field__label{
        font-size: 1.6rem;
        width: 6.2rem;
        span{
          color: #ffffff;
        }
      }
    }
    .van-button--block{
      width: 80%;
      text-align: center;
      margin:25px auto 0 ;
      border-radius:5px;
      .van-button__content{
        .van-button__text{
          font-size: 1.6rem;
        }
      }
    }
  }
  .ok-btn{
    margin-top: 20px;
    width: 100%;
    background: #0a3a4e;
    color: #fff;
    border: 1px solid #03bcc2;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    padding: 6px 24px;
    border-radius: 15px;
    box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.65);
    cursor: pointer;
  }
}