@import "./include/base";
.upd_password{
  width: 100%;
  height: 100%;
  .content{
    .line{
      width: 100%;
      margin-top: 30px;
      .label{
        color: #ffffff;
        font-size: 14px;
        padding-left: 10px;
      }
      .input{
        margin-top: 10px;
        input,select{
          width: 100%;
          height: 30px;
          border-radius: 30px;
          border: 1px solid #53fdfd;
          background: #ffffff;
          color: #000000;
          padding-left: 20px;
        }
      }
    }
    .ok-btn{
      margin-top: 40px;
      button{
        width: 100%;
        background: #0a3a4e;
        color: #fff;
        border: 1px solid #03bcc2;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 500;
        padding: 6px 24px;
        border-radius: 15px;
        box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.65);
        cursor: pointer;
      }
      .tip{
        width: 100%;
        padding: 20px;
        color: #ffffff;
        font-size: 16px;
        background: #022639;
        text-align: center;
        border: 1px solid #06b6ff;
        border-radius: 10px;
      }
    }
  }
}