@import "./include/base";
.vip{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 72px;
  top: 60px;
  background: url("../images/reward_bg.jpg");
  background-size: 100% 100%;
  overflow: auto;
  .content{
    padding: 10px 10px 40px 10px;
    .title{
      font-size: 20px;
      color: #00ff54;
      font-weight: 600;
    }
    .tip{
      color: #ffffff;
      margin-top: 5px;
    }
    .current{
      width: 100%;
      height: 175px;
      background: rgba(0,0,0,.5);
      border-radius: 10px;
      padding: 10px;
      margin-top: 20px;
      .badge-img{
        .flex();
        height: 90px;
        width: 100%;
        img{
          height: 100%;
        }
      }
      .level-text{
        color: #ffffff;
        font-size: 18px;
        text-align: center;
      }
      .level-wrap{
        position: relative;
        margin-top: 10px;
        .left-text {
          color: #ffd200;
          font-weight: 500;
          font-size: 14px;
          text-align: left;
        }
        .right-text {
          font-size: 14px;
          font-weight: 500;
          position: absolute;
          right: 0;
          top: 0;
          color: #ffffff;
          span{
            color: #6dff6d;
            margin-right: 5px;
            font-size: 16px;
          }
        }
        .vip-bar {
          margin-top: 5px;
          border: 1px solid #68c8ea;
          border-radius: 35px;
          height: 8px;
          overflow: hidden;
          .inner-bar {
            height: 100%;
            background: #6dff6d;
            border-radius: 35px;
          }
        }

      }
    }
    .level-list-box{
      margin-top: 30px;
      .level-list{
        background: linear-gradient(to bottom, rgba(106,6,145,1) 0%, rgba(21,0,47,1) 100%);
        width: 100%;
        height: 34px;
        position: relative;
        margin-top: 30px;
        img{
          height: 60px;
          position: absolute;
          left: 10px;
          top: -15px;
        }
        .name{
          position: absolute;
          left: 100px;
          top: 8px;
          color: #6dff6d;
          font-weight: 600;
          font-size: 16px;
        }
        .need{
          position: absolute;
          right: 20px;
          top: 8px;
          color: #6dff6d;
          font-size: 16px;
        }
      }
    }
  }
}