<template>
  <div id="us-menu">
    <div class="wrapper">
      <ul>
<!--        <li :class="$route.name == 'usIndex' ? 'active' : null">-->
<!--          <router-link :to="{name:'usIndex'}">-->
<!--            <i class="iconfont icon-account-card-details"></i>账户信息-->
<!--          </router-link>-->
<!--        </li>-->
<!--        <li :class="$route.name == 'usDeposit' ? 'active' : null">-->
<!--          <router-link :to="{name:'usDeposit'}">-->
<!--            <i class="iconfont icon-credit-pay"></i>充值/存款-->
<!--          </router-link>-->
<!--        </li>-->
<!--        <li :class="$route.name == 'usWithdraw' ? 'active' : null">-->
<!--          <router-link :to="{name:'usWithdraw'}">-->
<!--            <i class="iconfont icon-debit-pay"></i>提现/提款-->
<!--          </router-link>-->
<!--        </li>-->
<!--        <li :class="$route.name == 'usRecord' ? 'active' : null">-->
<!--          <router-link :to="{name:'usRecord',params:{type:1}}">-->
<!--            <i class="iconfont icon-clipboard-text"></i>交易记录-->
<!--          </router-link>-->
<!--        </li>-->
        <li :class="$route.name == 'usOrder' ? 'active' : null">
          <router-link :to="{name:'usOrder'}">
            <i class="iconfont icon-receipt"></i>投注记录
          </router-link>
        </li>
<!--        <li :class="$route.name == 'usRecommend' ? 'active' : null">-->
<!--          <router-link :to="{name:'usRecommend'}">-->
<!--            <i class="iconfont icon-near-me"></i>我的推荐-->
<!--          </router-link>-->
<!--        </li>-->
        <li :class="$route.name == 'homeRules' || $route.name == 'homeRules' ? 'active' : null">
          <router-link :to="{name:'homeRules'}">
            <i class="iconfont icon-message-processing"></i>投注规则
          </router-link>
        </li>
<!--        <li :class="isUsAgent ? 'active' : null" v-if="$store.getters.USER_IS_AGENT">-->
<!--          <router-link :to="{name:'usAgentMemberList'}">-->
<!--            <i class="iconfont icon-account-multiple"></i>代理商中心-->
<!--          </router-link>-->
<!--        </li>-->

      </ul>
    </div>
  </div>
</template>
<script>
export default {
  computed:{
    /* 是否为代理商中心 */
    isUsAgent:function(){
      let result = false
      if(Array.isArray(this.$route.matched)){
        if(this.$route.matched[1].path == '/us/agent'){
          result = true
        }
      }
      return result
    },
  }
}
</script>
<style lang="scss" scoped>
#us-menu {
  height: 120px;
  box-sizing: border-box;
  padding: 20px 0;
  /*background-color: #161b1d;*/
  >.wrapper{
      >ul{
          display: flex;
          >li{
            line-height: 40px;
            height: 40px;
            padding: 0 22px;
            >a{
                color: #fff;
                font-size: 12px;
                font-weight: lighter;
                display: flex;
                align-items: center;
                >i{
                    margin-right: 4px;
                }
            }
            &.active{
                background-color: #2d3339;
                border-radius: 4px;
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    left: 50%;
                    bottom: -15px;
                    margin-left: -6px;
                    border-left: 6px solid transparent;
                    border-right: 6px solid transparent;
                    border-bottom: 6px solid #2d3339;
                }
            }
          }
      }
  }
}
</style>