<template>
    <div class="table-head-navi">
        <div class="l">
            <div class="tab-item" :class="recordType == 1 ? 'active' : null" @click.prevent="$parent.type = 1">充值记录</div>
            <div class="tab-item" :class="recordType == 2 ? 'active' : null" @click.prevent="$parent.type = 2">提现记录</div>
            <div class="tab-item" :class="recordType == 3 ? 'active' : null" @click.prevent="$parent.type = 3">优惠记录</div>
            <div class="tab-item" :class="recordType == 4 ? 'active' : null" @click.prevent="$parent.type = 4">返水记录</div>
        </div>
        <div class="r">
            <!-- 日期选择器 充值记录、提现记录、优惠记录 -->
            <el-date-picker
                type="daterange"
                range-separator="至"
                start-placeholder="开始日期"
                end-placeholder="结束日期"
                size="small"
                v-model="$parent.elData"
                value-format="yyyy-MM-dd"
                @change="$parent.getChildDatas"
            >
            </el-date-picker>
            <!-- 状态 充值记录  -->
            <el-select 
                v-model="$parent.status_1"
                v-show="recordType == 1" 
                @change="$parent.getChildDatas"
                size="mini">
                <el-option 
                    v-for="(item,index) in $parent.status1" 
                    :key="'recoredNaviStatus1'+ index" 
                    :value="item.code"
                    :label="item.text"
                >{{item.text}}</el-option>
            </el-select>
            <!-- 状态 提现记录 -->
            <el-select 
                v-model="$parent.status_2"
                v-show="recordType == 2"
                @change="$parent.getChildDatas"
                size="mini">
                <el-option 
                    v-for="(item,index) in $parent.status2" 
                    :key="'recoredNaviStatus1'+ index" 
                    :value="item.code"
                    :label="item.text"
                >{{item.text}}</el-option>
            </el-select>
            <!-- 刷新数据操作 -->
            <button class="shadow us-record-navi-search" @click.prevent="$parent.getChildDatas">
                <i class="iconfont icon-search"></i>
            </button>
        </div>
    </div>
</template>
<script>
/**
 * @description 个人中心-交易记录-表格头
 */
export default {
    props:['recordType'],
}
</script>