<template>
    <div id="usRecord1">
        <table class="table-style-1">
            <thead>
            <tr>
                <th>订单号</th>
                <th>交易金额</th>
                <th width="400">备注</th>
                <th>状态</th>
                <th>时间</th>
            </tr>
            </thead>
            <tbody v-if="Array.isArray(resultData) && resultData.length">
                <tr v-for="(item,index) in resultData" :key="'usRecord1_item_'+index">
                    <td @click.prevent="$helper.copyHandle(item.pdid,'复制订单号成功')"><span title="点击复制订单号" style="cursor: pointer;">{{item.pdid}}</span></td>
                    <td>{{item.money}}</td>
                    <td>{{item.description}}</td>
                    <td :class="getStateFontColor(item.stateName)">{{item.stateName}}</td>
                    <td>{{item.payDate}}</td>
                </tr>
            </tbody>
            <tbody v-else>
                <tr>
                    <td colspan="5" style="text-align: center;">暂无记录</td>
                </tr>
            </tbody>
        </table>
        <!-- 分页 -->
        <el-pagination 
            v-if="pageCount"
            layout="total,prev,pager,next,jumper"
            :page-size="pageSize"
            :page-count="pageCount"
            :total="resultCount"
            :current-page="pageIndex"
            @current-change="shieldpageChange"
        ></el-pagination>
    </div>
</template>
<script>
/**
 * @description 充值记录
 */
export default {
    data(){
        return {
            request:false,
            pageIndex:1,
            pageSize:5,
            pageCount:false,                        /* 总页数（同时控制是否显示分页器） */
            resultCount:false,                      /* 结果条数 */
            resultData:false,
        }
    },
    methods:{
        /* 刷新数据 */
        getDatas:function(){
            /* 防抖 */
            if(this.request)    return false
            this.request = true
            const loading = this.$loading.service({lock: true,background: 'rgba(0, 0, 0, 0.7)'})

            this.$http.post('api/Member/GetUserPayDetailsList',{
                ...this.$parent.getCtrlDate(),
                state:this.$parent.status_1,
                pageIndex:this.pageIndex,
                pageSize:this.pageSize
            }).then(response => {
                this.request = false
                loading.close()

                const {resultCode,resultData} = response.data
                if(resultCode == 1){
                    const {userPayDetailsList,page} = resultData

                    /* 解析分页 */
                    const {pageCount,pageRecord} = page
                    this.pageCount = pageCount
                    this.resultCount = pageRecord

                    /* 赋值数据 */
                    this.resultData = Array.isArray(userPayDetailsList) && userPayDetailsList.length ? userPayDetailsList : false
                }

            })
        },
        /* 根据状态返回状态字体颜色 */
        getStateFontColor:function(stateName){
            switch(stateName){
                case '成功':
                    return 'green'
                case '失败':
                    return 'red'
                case '处理中':
                    return 'orange'
            }
        },
        /* 页数变更 */
        shieldpageChange:function(page){
            this.pageIndex = page
            this.getDatas()
        },
        /* 筛选条件变更 */
        shieldFilterChange:function(){
            this.pageIndex = 1
            this.getDatas()
        },
    }
}
</script>