<template>
  <div id="usRecord3">
    <table class="table-style-1">
      <thead>
        <tr>
          <th>订单号</th>
          <th width="400">优惠活动</th>
          <th>活动奖励</th>
          <th>状态</th>
          <th>时间</th>
        </tr>
      </thead>
      <tbody v-if="Array.isArray(resultData) && resultData.length">
        <tr v-for="(item,index) in resultData" :key="'usRecord3_item_'+index">
          <td @click.prevent="$helper.copyHandle(item.pid,'复制订单号成功')">
            <span title="点击复制订单号" style="cursor: pointer;">{{item.pid}}</span>
          </td>
          <td>{{item.title}}</td>
          <td>{{item.money}}</td>
          <td>
            <span :class="getFontColor(item.stateName)">{{item.stateName}}</span>
          </td>
          <td>{{item.distillDate}}</td>
        </tr>
      </tbody>
      <tbody v-else>
          <tr>
              <td colspan="5" style="text-align: center;">暂无记录</td>
          </tr>
      </tbody>
    </table>
    <!-- 分页 -->
    <el-pagination 
        v-if="pageCount"
        layout="total,prev,pager,next,jumper"
        :page-size="pageSize"
        :page-count="pageCount"
        :total="resultCount"
        :current-page="pageIndex"
        @current-change="shieldpageChange"
    ></el-pagination>
  </div>
</template>
<script>
/**
 * @description 优惠记录
 */
export default {
    data(){
        return {
            request:false,
            pageIndex:1,
            pageSize:5,
            pageCount:false,                        /* 总页数（同时控制是否显示分页器） */
            resultCount:false,                      /* 结果条数 */
            resultData:false,
        }
    },
    methods:{
        getDatas:function(){
            /* 防抖 */
            if(this.request)    return false
            this.request = true
            const loading = this.$loading.service({lock: true,background: 'rgba(0, 0, 0, 0.7)'})

            this.$http.post('api/Member/GetUserPromotionDetailsList',{
                ...this.$parent.getCtrlDate(),
                pageIndex:this.pageIndex,
                pageSize:this.pageSize
            }).then(response => {
                this.request = false
                loading.close()

                const {resultCode,resultData} = response.data
                if(resultCode == 1){
                    const {userPromotionDetailsList,page} = resultData

                    /* 解析分页 */
                    const {pageCount,pageRecord} = page
                    this.pageCount = pageCount
                    this.resultCount = pageRecord

                    /* 赋值数据 */
                    this.resultData = Array.isArray(userPromotionDetailsList) && userPromotionDetailsList.length ? userPromotionDetailsList : false
                }

            })

        },
        getFontColor:function(stateName){
          switch(stateName){
            case '成功':
              return 'green'
            case '失败':
              return 'red'
          }
        },
        /* 页数变更 */
        shieldpageChange:function(page){
            this.pageIndex = page
            this.getDatas()
        },
        /* 筛选条件变更 */
        shieldFilterChange:function(){
            this.pageIndex = 1
            this.getDatas()
        },
    }
}
</script>
