<template>
    <div id="usRecord4">
        <table class="table-style-1">
            <thead>
                <tr>
                    <th>投注日期</th>
                    <th>投注笔数</th>
                    <th>投注总额</th>
                    <th>返水比例</th>
                    <th>返水金额</th>
                    <th>派发时间</th>
                </tr>
            </thead>
            <tbody v-if="Array.isArray(resultData) && resultData.length">
                <tr v-for="(item,index) in resultData" :key="'usRecord4_item_'+index">
                    <td>{{item.returnDay}}</td>
                    <td>{{item.betNumber}}</td>
                    <td>{{item.betSum}}</td>
                    <td>{{item.scale}}</td>
                    <td>{{item.money}}</td>
                    <td>{{item.returnDate}}</td>
                </tr>
            </tbody>
            <tbody v-else>
                <tr>
                    <td colspan="6" style="text-align: center;">暂无记录</td>
                </tr>
            </tbody>
        </table>
        <!-- 分页 -->
        <el-pagination 
            v-if="pageCount"
            layout="total,prev,pager,next,jumper"
            :page-size="pageSize"
            :page-count="pageCount"
            :total="resultCount"
            :current-page="pageIndex"
            @current-change="shieldpageChange"
        ></el-pagination>
    </div>
</template>
<script>
/**
 * @description 投注记录
 */
export default {
    data(){
        return {
            request:false,
            pageIndex:1,
            pageSize:5,
            pageCount:false,                        /* 总页数（同时控制是否显示分页器） */
            resultCount:false,                      /* 结果条数 */
            resultData:false,
        }
    },
    methods:{
        getDatas:function(){
            /* 防抖 */
            if(this.request)    return false
            this.request = true
            const loading = this.$loading.service({lock: true,background: 'rgba(0, 0, 0, 0.7)'})

            this.$http.post('api/Member/GetUserReturnDetailsList',{
                ...this.$parent.getCtrlDate(),
                pageIndex:this.pageIndex,
                pageSize:this.pageSize
            }).then(response => {
                this.request = false
                loading.close()

                const {resultCode,resultData} = response.data
                if(resultCode == 1){
                    const {userReturnDetailsList,page} = resultData

                    /* 解析分页 */
                    const {pageCount,pageRecord} = page
                    this.pageCount = pageCount
                    this.resultCount = pageRecord

                    /* 赋值数据 */
                    this.resultData = Array.isArray(userReturnDetailsList) && userReturnDetailsList.length ? userReturnDetailsList : false

                }
            })
        },
        /* 页数变更 */
        shieldpageChange:function(page){
            this.pageIndex = page
            this.getDatas()
        },
        /* 筛选条件变更 */
        shieldFilterChange:function(){
            this.pageIndex = 1
            this.getDatas()
        },
    }
}
</script>