<template>
  <div id="helpDetails" class="flexWrap" style="background: #efeff4;">
    <van-nav-bar @click-left="back"  left-text="返回" right-text="" left-arrow class="bg-h c-w" :title="message.title" />
    <div class="content" v-html="message.content"></div>
  </div>
</template>

<script>
    export default {
        name: "helpDetails",
      data(){
          return{
            message:this.$route.query
            // message:{name:"小米",age:"12"}
          }
      },
      methods:{
        back: function () {
          window.history.go(-1);
        },
      }
    }
</script>

<style scoped>
  .content{
    padding: 10px;
    overflow: auto;
    word-break: break-all;
    word-wrap: break-word;
    text-indent:2em;
  }
</style>
