<template>
	<div>
		<van-nav-bar @click-left="back" left-text="返回" left-arrow class="bg-h c-w" title="站内信详情" />
		<div class="bg-w p-10 m-b-5">
			<h2 class="text-c f-s-16 b-b p-b-10">{{detailsData.title || '我是标题'}}</h2>
			<div class="f-s-14 p-b-t-10">{{detailsData.message || '我是内容'}}</div>
		</div>
	</div>
</template>

<script>

	export default {
		data() {
			return {
				detailsData: '',//私信详情
			}
		},
		watch: {
		},
		created: function() {
			this.detailsData = this.$route.query;
		},
		mounted: function() {

		},

		methods: {
			back: function() {
				window.history.go(-1);
			},
		}
	}
</script>

<style>

</style>
