<template>
  <div>
    <van-cell-group id="notice">
      <van-cell @click="details(item)" v-if="activeInfos && activeInfos.length > 0 " v-for="(item,index) in activeInfos"
                :key="index" :title="item.title" :label="getTime(item.updateTime)" is-link />
      <div v-else="" class="text-c m-t-50">
        <div class="f-s-12 c-9">暂无数据</div>
      </div>
    </van-cell-group>
    <van-cell-group id="notice">
      <van-cell @click="details(item)" v-if="noticesList && noticesList.length > 0 " v-for="(item,index) in noticesList" :key="index" :title="item.title" :label="getTime(item.createTime)" is-link />
      <div v-else="" class="text-c m-t-50">
        <div class="f-s-12 c-9">暂无数据</div>
      </div>
    </van-cell-group>
  </div>
</template>

<script>
	import { Dialog } from 'vant';
	import { Toast } from 'vant';
	export default {
		data() {
			return {
				noticesList: new Array(),//公告列表
        activeInfos: new Array(),//公告列表
			}
		},
		watch: {

		},
		created: function() {
      // this.getActiveInfos();
      // this.preferentialActive();
			this.getPopNotices();//获取公告列表
		},
		mounted: function() {

		},
		methods: {
      preferentialActive:function(){
        $sky.ajax('get', 'native/preferentialActive', (ret) => {
          if(ret.success){
            // console.log(ret)
          }
        });
      },
      getActiveInfos:function(){
        $sky.ajax('post', 'native/active_infos',{}, (ret) => {
          if(ret.success){
            this.activeInfos = ret.content;
          }
        });
      },
			//转换时间
			getTime:function(time){
				return $sky.getDateFull(time);
			},
			//获取公告列表
			getPopNotices:function(){
				$sky.ajax('post', 'native/getPopNotices', {code:13}, (ret) => {
					if(ret.success) {
						this.noticesList = ret.content;
					} else {
						if(!ret.isLogin) {
							this.$router.push({
								path: '/login',
								query: {}
							})
						}
					}
				})
			},
			details:function(item){
				this.$router.push({
					path: '/noticeDetails',
					query: item
				})
			},
		}
	}
</script>

<style>
	#notice .van-cell__label{
		position: relative;
		top: 4px;
	}
	#notice .van-cell__right-icon{
		line-height: 38px;
	}
</style>
