<template>
	<div id="noticeDetails">
		<van-nav-bar @click-left="back" left-text="返回" left-arrow class="bg-h c-w" title="公告详情" />
		<div class="bg-w">
			<van-cell-group>
				<van-cell :title="detailsData.title" :value="getTime(detailsData.createTime)" />
			</van-cell-group>
			<div class="f-s-14 p-10" v-html="detailsData.content"></div>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				detailsData: '', //私信详情
			}
		},
		watch: {

		},
		created: function() {
			this.detailsData = this.$route.query;
		},
		mounted: function() {

		},
		methods: {
			back: function() {
				window.history.go(-1);
			},
			//转换时间
			getTime:function(time){
				return $sky.getDateFull(time);
			},
		}
	}
</script>

<style>
	#noticeDetails .van-cell__value {
		font-size: 12px;
		color: #999;
	}
</style>