<template>
	<van-cell-group id="notice">
		<van-cell @click="details(item.id,item)" v-if="noticesList && noticesList.length > 0 " v-for="(item,index) in noticesList" :key="index" :title="item.title" :label="getTime(item.createTime)" is-link />
		<div v-else="" class="text-c m-t-50">
			<div class="f-s-12 c-9">暂无数据</div>
		</div>
	</van-cell-group>
</template>

<script>
	import { Dialog } from 'vant';
	import { Toast } from 'vant';
	export default {
		data() {
			return {
				noticesList: '',//私信列表
			}
		},
		watch: {
			
		},
		created: function() {
			
		},
		mounted: function() {

		},
		methods: {
			//父页面切换时调用初始化
			lode:function(){
				if(!this.noticesList)this.getPopNotices();//获取私信列表
			},
			//转换时间
			getTime:function(time){
				return $sky.getDateFull(time);
			},
			//获取私信列表
			getPopNotices:function(){
				$sky.ajax('post', 'native/message_list', {}, (ret) => {
					if(ret.success) {
						this.noticesList = ret.content.datas;
					} else {
						if(!ret.isLogin) {
							this.$router.push({
								path: '/login',
								query: {}
							})
						}
					}
				})
			},
			//详情
			details:function(id,item){
				$sky.ajax('post', 'native/read', {id:id}, (ret) => {
					if(ret.success) {
						this.$router.push({
							path: '/letterDetails',
							query: item
						})
					} else {
						if(!ret.isLogin) {
							this.$router.push({
								path: '/login',
								query: {}
							})
						}
					}
				})
			},
		}
	}
</script>

<style>
	#notice .van-cell__label{
		position: relative;
		top: 4px;
	}
	#notice .van-cell__right-icon{
		line-height: 38px;
	}
</style>
