/* vue动画依赖 */
.Fade-enter-active, .Fade-leave-active {
    transition: opacity .25s;
}
.Fade-enter, .Fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
.FadeInDown-enter,.FadeInDown-leave-to{
    opacity: 0 !important;
    transform: translate(-50%,-70%) !important;
}
.FadeInDown-enter-active,.FadeInDown-leave-active{
    will-change: transform opacity;
    transition: transform .5s, opacity .5s;
}

/* 展开与折叠 */
.Spread-enter,.Spread-leave-to{
    max-height: 0vh;
}
.Spread-enter-active,.Spread-leave-active{
    transition: max-height .3s ease-in-out;
}
.Spread-enter-to,.Spread-leave{
    max-height: 80vh;
}