* {
    padding: 0;
    margin: 0;
}

body {
    background: #1e2124 url('../assets/img/main.jpg') no-repeat top fixed;
    overflow-x: hidden;
    min-width: 1200px;
    height: auto !important;
    box-sizing: border-box;
    //padding-top: $header-height;
    position: relative;

    &.bg2 {
        background-image: url('../assets/img/bg2.jpg');
    }

    /* 公共样式 */
    >#app {
        box-sizing: border-box;

        /* 样式重置 */
        a {
            color: #697081;
            text-decoration: none;

            &:hover {
                color: $theme-font-color !important;
            }

            &.twinkle {
                transition: color .3s;
            }
        }

        table.table-style-1 {
            width: 100%;
            margin-top: 20px;
            border: 1px solid $table-border-color;
            border-collapse: collapse;
            border-spacing: 0;

            th {
                color: #fff;
                font-weight: lighter;
                text-align: left;
                background: rgba(0, 0, 0, .05);
            }

            td,
            th {
                padding: 15px 10px;
                border-bottom: 1px solid $table-border-color;
            }

            tbody {
                tr {
                    &:nth-child(2n) {
                        background: rgba(0, 0, 0, .05);
                    }
                }
            }
        }

        embed {
            width: 1000px !important;
            height: 500px !important;
        }

        /* 表格样式2 */
        table.table-style-2 {
            width: 100%;
            border: 1px solid $table-border-color;
            color: $theme-font-light-color;
            border-collapse: collapse;
            border-spacing: 0;

            td,
            th {
                border-bottom: 1px solid $table-border-color;
                border-right: 1px solid $table-border-color;
                box-sizing: border-box;
                padding: 15px 10px;
                cursor: pointer;
            }
        }

        /* 表单容器 */
        .txt {
            border: 1px solid #2d3339;
            border-radius: 0;
            height: 36px;
            line-height: 36px;
            padding: 0 10px;
            width: 350px;
            background: $theme-bg-color;
            box-shadow: inset 0 15px 10px -15px #1e2124;
            transition: border-color .3s;
            outline: none;
            color: white;

            &:focus {
                border-color: #207f63;
            }

            &::placeholder {
                font-size: 12px;
                color: #697081;
            }
        }

        /* 表单容器 2 */
        .input-txt2 {
            height: 30px;
            line-height: 30px;
            background-color: #2b2f34;
            border: none;
            outline: none;
            box-sizing: border-box;
            color: white;
            border-radius: 2px;
            padding: 0 5px;
            font: 12px/1.5 Microsoft YaHei, Tahoma, Helvetica, Arial, simsun;

            &::placeholder {
                color: #787e8a;
            }

            box-shadow: inset 0 15px 10px -15px #1e2124;
        }

        .input-txt3 {
            background-color: transparent;
            border: 0;
            outline: none;
            color: white;

            &::placeholder {
                color: #787e8a;
            }
        }

        /* 字体颜色 */
        .green {
            color: green;
        }

        .red {
            color: red;
        }

        .orange {
            color: orange;
        }

        .white {
            color: white;
        }

        .mcolor {
            color: $theme-font-color;
        }

        /* 居中容器 */
        .wrapper {
            width: 1300px;
            margin: 0 auto;
        }

        /* 带背景色容器 */
        .bg1 {
            margin-top: 42px;
            background: #1e2124;

            >.main {
                min-height: 69vh;

                .item {
                    display: block;
                    position: relative;
                    overflow: hidden;
                    padding: 10px;
                    box-sizing: border-box;

                    >.tm {
                        font-size: 14px;
                        color: #03fcb3;
                        line-height: 18px;
                        padding-bottom: 10px;
                        font-weight: lighter;

                        >i {
                            margin-right: 5px;
                        }
                    }

                    >.co {
                        background: $theme-bg-color;
                        border: 1px solid hsla(0, 0%, 100%, .1);
                        padding: 20px 15px;
                        margin-left: 22px;
                        position: relative;
                        font-size: 12px;
                        font-weight: 100;

                        &::before {
                            content: "";
                            position: absolute;
                            left: -6px;
                            top: 10px;
                            border-top: 6px solid transparent;
                            border-bottom: 6px solid transparent;
                            border-right: 6px solid hsla(0, 0%, 100%, .1);
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            z-index: 0;
                            top: 0;
                            left: -15px;
                            height: 130%;
                            border-left: 1px solid hsla(0, 0%, 100%, .2);
                            transform: scaleX(.5);
                            transform-origin: 100% 0;
                        }

                        .row {
                            margin-bottom: 10px;
                            display: flex;
                            justify-content: space-between;
                            align-items: baseline;

                            >.no {
                                width: 16px;
                                height: 16px;
                                line-height: 16px;
                                border-radius: 0 10px 0 0;
                                text-align: center;
                                background: hsla(0, 0%, 100%, .1);
                                color: #fff;
                                font-size: 12px;
                            }

                            >.ct {
                                width: calc(100% - 22px);
                                line-height: 20px;
                                font-weight: 500;
                                color: #b5bdce;

                                >.green {
                                    color: rgb(3, 252, 179);
                                }

                                >.tb {
                                    width: 84%;
                                    line-height: 20px;
                                    color: #b5bdce;
                                    margin: 30px auto;
                                    text-align: center;
                                }
                            }

                            >.cg {
                                padding-top: 30px;
                                color: rgb(3, 252, 179);
                            }

                            >.green {
                                color: rgb(3, 252, 179);
                            }
                        }

                    }
                }
            }
        }

        /* flex */
        .flex-box {
            display: flex;
            justify-content: space-around;

            &.flex-center {
                align-items: center;
            }

            &.flex-left {
                justify-content: flex-start;
                align-items: center;
            }

            &.flex-space-between {
                justify-content: space-between;
            }

            &.flex-justify-center {
                justify-content: center;
            }
        }

        /* 快速容器 */
        .row {
            box-sizing: border-box;

            table {
                width: 100%;
                margin-top: 20px;
                margin-bottom: 10px;
                border-collapse: collapse;

                th {
                    color: white;
                    font-weight: 400;
                    background: $theme-font-dark-color2;
                }

                td,
                th {
                    height: 35px;
                    line-height: 35px;
                    border: 1px solid hsla(0, 0%, 100%, .1);
                    text-align: center;
                }

            }

        }

        /* 公共表单样式 */
        .basic-form {
            min-width: 400px;
            box-sizing: border-box;
            padding-top: 30px;
            background: rgb(34, 38, 42);

            >h2 {
                height: 60px;
                line-height: 60px;
                font-size: 16px;
                color: rgb(255, 255, 255);
                text-align: center;
                font-weight: 400;
            }

            a {
                font-size: 14px;
                color: rgb(181, 189, 206);
            }

            p {
                margin: 1rem 0;

                >label {
                    display: inline-block;
                    color: #777;
                    font-size: 13.333px;
                    margin: 0 2rem 0 .25rem;
                    flex-shrink: 0;
                    min-width: 50px;
                }
            }

            .form-7-3 {
                display: flex;
                justify-content: space-between;
                align-items: center;

                >.md-field {
                    width: 60%;
                }
            }

            .href-group {
                margin-top: 2rem !important;
                display: flex;
                justify-content: space-around;
            }

            >.form-box {
                >p {
                    padding-top: 1.4rem;
                }
            }

            .md-input:-internal-autofill-selected {
                -webkit-text-fill-color: rgba(0, 0, 0, 0.87) !important;
            }

            .md-radio .md-radio-label {
                font-size: 13.333px;
                color: #777;
            }

            input[type='date'].md-input {
                -webkit-text-fill-color: #777 !important;
            }
        }

        /* 公共容器 */
        .padding-box {
            &.padding-box-0-10 {
                box-sizing: border-box;
                padding: 0 10px;
            }

            &.padding-box-10 {
                box-sizing: border-box;
                padding: 10px;
            }

            .row {
                margin-bottom: 5px;
            }
        }

        /* 应用层容器 */
        .ia-box {
            .title-tips {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 1rem;

                >i {
                    margin-right: .5rem;
                }
            }

            .ia-box-content {
                box-sizing: border-box;
                padding: 0 80px 30px;

                .md-content {
                    background-color: transparent;
                    color: white;
                    font-size: 14px;
                }
            }
        }

        /* 巨幕容器 */
        .jumbotron {
            margin: 200px 0;
            font-size: 14px;

            p {
                text-align: center;
            }
        }

        /* 游戏图标 */
        .e-logo {
            width: 24px;
            height: 24px;
            display: inline-block;
            margin-right: .5rem;
        }

        /* 菜单 */
        .white-menu {
            box-sizing: border-box;
            color: #606266;

            .white-menu-item {
                background-color: white;
                box-sizing: border-box;
                padding: 7.5px 20px;
                font-size: 14px;
                display: flex;
                align-items: center;
                line-height: 20px;
                cursor: pointer;

                >.iconfont {
                    font-size: 20px;
                    margin-right: 1rem;
                    margin-top: 2px;
                }

                &:hover {
                    background-color: #dbf5ee;
                }

                &:first-child {
                    border-top: 12px solid white;
                }

                &:last-child {
                    border-bottom: 12px solid white;
                }
            }
        }

        /* 切换卡容器 */
        .dep-menu {
            >p {
                margin-bottom: 10px;
            }

            >.home-tabs {
                display: flex;

                >.tab-item {
                    margin-right: 20px;

                    >em {
                        display: none;
                    }

                    &.active {
                        >em {
                            display: block;
                            content: "";
                            position: absolute;
                            font-style: normal;
                            left: 50%;
                            bottom: -22px;
                            margin-left: -6px;
                            border-left: 6px solid transparent;
                            border-right: 6px solid transparent;
                            border-bottom: 6px solid #434d56;
                            background-color: transparent;
                        }
                    }
                }
            }
        }

        /* 切换卡容器内容 */
        .dep-cont {
            border: 2px solid #434d56;
            padding: 20px 30px;
            margin-top: 20px;
            min-height: 380px;
        }

        /* 选项块容器（含高亮） */
        .tab-item {
            min-width: 110px;
            height: 36px;
            line-height: 36px;
            border: 1px solid #2d3339;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            cursor: pointer;

            &:hover {
                border-color: #207f63;
                background: #2d3339;
                color: #fff;
            }

            &.active {
                border-color: #207f63;
                background: #2d3339;
                color: #fff;

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    border: 6px solid #207f63;
                    border-top-color: transparent;
                    border-left-color: transparent;
                    color: #fff;
                }

                &::after {
                    position: absolute;
                    content: '\e625';
                    right: -3px;
                    bottom: -14px;
                    font-family: "iconfont" !important;
                    font-size: 12px;
                    font-style: normal;
                    -webkit-font-smoothing: antialiased;
                }
            }

            >img {
                width: 24px;
                margin-right: 5px;
            }
        }

        /* 列表容器 */
        .list {
            margin-top: 10px;

            .item {
                display: flex;
                align-items: center;
                padding: 10px 0;

                >.l {
                    width: 100px;
                }

                >.r {
                    display: flex;
                    flex-direction: column;
                    margin-left: 20px;

                    button {
                        padding: .75rem 7rem;
                        text-align: center;
                        border-radius: 2px;
                        background-color: #259372;
                    }

                    >nav {
                        display: flex;
                        justify-content: center;

                        >.tab-item {
                            margin-right: 10px;
                        }
                    }
                }
            }
        }

        /* a属性用按钮 */
        .a-btn {
            background: #2e3238;
            color: #d0d8e7;
            padding: .5rem 2rem;
            transition: transform .3s;

            /* 带有阴影 */
            &.shadow {
                &:hover {
                    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .525);
                }
            }

            &:hover {
                color: #d0d8e7 !important;
            }

            &:active {
                transform: scale(.95);
            }

        }

        /* 模仿a链接 */
        span.like-a {
            color: $theme-font-color;
            cursor: pointer;
        }

        /* 黄色标题 */
        .msg {
            color: #ff9;
            height: 30px;
            line-height: 30px;
            display: flex;
            align-items: center;

            >.iconfont {
                margin-right: .5rem;
            }
        }

        /* 公共容器 */
        .mbox {
            padding: 15px 0;

            >span {
                color: #fff;
                font-size: 30px;
                font-weight: lighter;

                >em {
                    font-style: normal;
                    font-size: 14px;
                    background: none;
                    margin-right: 0;
                }
            }
        }

        .bd {
            box-sizing: border-box;
            background-color: $theme-bg-color;
            box-shadow: 0 10px 10px #131416;
            padding: 15px;
            position: relative;
        }

        /* 表格头部 */
        .table-head-navi {
            display: flex;
            justify-content: space-between;

            >.l {
                display: flex;

                >.tab-item {
                    margin-right: 20px;
                }
            }

            >.r {
                display: flex;
                align-items: center;

                >.us-record-navi-search {
                    padding: .1rem 1.25rem .1rem 1.5rem;
                    border-radius: 2px;
                    background-color: $theme-font-dark-color;

                    >i {
                        font-size: 22px;
                    }
                }

                >.el-date-editor {
                    margin-right: 15px;
                }
            }

            .f {
                display: inline-block;
                width: 10px;
            }
        }

        /* 胜利标志 */
        .icon-win {
            display: block;
            width: 24px;
            height: 41px;
            background: url('../assets/img/win.svg') no-repeat;
        }

        /* 失败标志 */
        .icon-lose {
            display: block;
            width: 24px;
            height: 41px;
            background: url('../assets/img/lose.svg') no-repeat;
        }

        /* 公共tab块菜单 */
        .tab-list {
            box-sizing: border-box;
            background-color: $theme-bg-color;

            .list-item-box {
                display: inline-block;
                vertical-align: top;
            }

            .list-item {
                width: 125px;
                height: 50px;
                display: inline-block;
                box-sizing: border-box;
                vertical-align: top;
                line-height: 45px;
                border-top: 2px solid transparent;
                border-right: 1px solid rgba(45, 45, 45, .5);
                transition: all .3s;
                text-align: center;
                cursor: pointer;

                >img {
                    display: inline-block;
                    vertical-align: middle;
                    width: 24px;
                    height: 24px;
                    margin-right: .75rem;
                    filter: grayscale(100%);
                }

                >span {
                    display: inline-block;
                    vertical-align: middle;
                    color: white;
                }

                i {
                    &.iconfont {
                        display: inline-block;
                        vertical-align: middle;
                        font-size: 24px;
                        margin-right: .15rem;
                    }

                    &.iconfont2 {
                        color: white;
                        font-size: 14px;
                    }
                }

                &:hover {

                    >span,
                    >i {
                        color: $theme-font-color;
                    }

                    >img {
                        filter: grayscale(0);
                    }
                }
            }

            .list-item.active {
                background-color: $theme-bg-active-color;
                border-top-color: $theme-border-color2;

                span {
                    color: $theme-font-color;
                }

                img {
                    filter: grayscale(0);
                }

                i {
                    &.iconfont2 {
                        color: $theme-font-color;
                    }
                }
            }

        }

        /* 公共tab块菜单 样式2 */
        .tab-list2 {
            display: flex;
            box-sizing: border-box;
            background-color: $theme-bg-color;

            >.tab-list-item {
                text-align: center;
                cursor: pointer;
            }

            >.tab-list-item-active {
                border-bottom: $theme-font-color 1px solid;
                color: $theme-font-color;
                background: linear-gradient(transparent 30%, $theme-linear-color);
            }
        }

        /* 公共tab块菜单 样式3 */
        .tab-list3 {
            display: flex;
            background-color: #40474f;
            align-items: center;
            line-height: 25px;
            transition: background-color .3s;
            border-radius: 2px;
            overflow: hidden;

            .tab3-item {
                padding: 0 3rem;
                cursor: pointer;
            }

            .tab3-item-active {
                color: white;
                background-color: $theme-font-dark-color2;
            }
        }

        /* 以优惠列表页为范例的 列表 */
        .p-menu {
            background: $theme-bg-color;

            .p-menu-item {
                display: flex;
                height: 80px;
                box-sizing: border-box;
                padding-left: 40px;
                align-items: center;
                font-size: 14px;
                cursor: pointer;
                transition: all .3s;
                border-bottom: 1px solid rgba(45, 45, 45, .5);

                .iconfont {
                    font-size: 1.6rem;
                    transform: translateY(2px);
                }

                span {
                    display: inline-block;
                    margin-left: 10px;
                }

                &.active {
                    background-color: #2d3339;
                    color: white;
                }

                &:hover {
                    background-color: #2d3339;
                }
            }
        }

        /* 公共下划线 */
        .hr-box {
            position: relative;
            height: 2px;

            >hr {
                height: 1px;
                border: none;
                background-color: #111316;

                &::after {
                    content: '';
                    width: 100%;
                    height: 1px;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    background-color: #2f3339;
                }
            }
        }

        /* 按钮样式2 */
        .btn2 {
            width: 100%;
            display: block;
            background-color: $theme-bg-active-color;
            text-align: center;
            box-shadow: inset 0 1px 0 0 hsla(0, 0%, 100%, .05), 0 1px 2px 0 rgba(0, 0, 0, .57);
            line-height: 30px;
            border-radius: 2px;
            letter-spacing: .5px;

            &.btn2-mcolor {
                background-color: $theme-border-color2;
            }

            &:hover {
                box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .525) !important;
            }

        }

        /* 按钮样式3 */
        .btn3 {
            height: 28px;
            line-height: 28px;
            padding: 0 20px;
            color: $theme-font-color;
            background: transparent;
            border: 1px solid transparent;
            border-image: linear-gradient(90deg, #2a91d4 0, $theme-font-color);
            border-image-slice: 1;

            &:active {
                transform: none;
            }

            &:hover {
                box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .525) !important;
            }
        }

        /* 面包屑导航 */
        .breakcrumbs {
            height: 40px;
            line-height: 40px;
            box-sizing: border-box;
            padding: 0 10px;
            display: flex;

            .item.active {
                color: #697081;
            }

            .item:not(.active) {
                cursor: pointer;

                &:hover {
                    color: #03fcb3;
                }
            }

            .icon-forward {
                color: #697081;
                font-size: 12px;
                margin-left: .5rem;
                margin-right: 1rem;
            }
        }

        /* hr样式 */
        .hr1 {
            height: 2px;
            background-color: #0b0e0f;
            border-bottom: 1px solid #32373c;
        }

        .article {
            .article-header {
                text-align: center;
                padding: 35px 0;
                border-bottom: 1px solid #32373c;

                h1 {
                    height: 30px;
                    font-weight: 500;
                    font-size: 18px;
                    color: #fff;
                    text-align: center;
                }

                .article-detail {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-top: 20px;

                    .iconfont {
                        margin-top: .5rem;
                        margin-right: .5rem;
                    }

                    .icon-eye {
                        margin-left: 3rem;
                    }
                }
            }

            .article-cont {
                box-sizing: border-box;
                padding: 35px 80px;

                p {
                    font-size: 13px;
                    font-family: MicrosoftYaHei;
                    color: #a2a5aa;
                    line-height: 26px;
                    margin-bottom: 18px;
                    word-break: break-word;
                }
            }
        }

    }
}

/* 样式重置 */
body,
html {
    position: relative;
    height: 100%;
    color: #b5bdce;
    font: 12px/1.5 "Microsoft YaHei", Tahoma, Helvetica, Arial, "simsun" !important;
    font-weight: 100;
    user-select: none;
}

em {
    background: #36393f;
    height: 14px;
    width: 1px;
    margin: 0 8px;
}

button {
    background-color: #207f63;
    color: white;
    border: 0;
    font: 12px/1.5 "Microsoft YaHei", Tahoma, Helvetica, Arial, "simsun";
    font-weight: 100;
    outline: none;
    display: flex;
    align-items: center;
    transition: background-color .3s linear, transform .3s linear;

    >em {
        background: none;
        color: #bbb;
    }

    >i {
        padding-right: .25rem;
    }

    &:hover {
        cursor: pointer;
        background-color: $theme-font-dark-color;
    }

    &:active {
        transform: scale(.95);
    }

    /* 圆角型 */
    &.circle {
        font-size: 13px;
        border-radius: 30px;
        background-color: $theme-font-dark-color;

        &:hover {
            background-color: $theme-font-dark-color;
        }
    }

    /* 带有阴影 */
    &.shadow {
        &:hover {
            box-shadow: 0 4px 10px 0 rgba(0, 0, 0, .525);
        }
    }

    /* 块状按钮 */
    &.btn-block {
        width: 100%;
        display: block;
    }

    /* 尺寸 */
    &.btn-lg {
        font-size: 14px;
        padding: 1rem 0;
    }

    &.btn-n {
        font-size: 11px;
        padding: 0 1.5rem;
        border-radius: 2px;
        background-color: $theme-font-dark-color;
        display: flex;
        align-items: center;
        height: 30px;

        >i {
            font-size: 16px;
            margin-right: .25rem;
        }
    }

    &.btn-xl {
        padding: .75rem 6rem;
        border-radius: 2px;
        background-color: $theme-font-dark-color;
    }

    &.btn-xxl {
        font-size: 14px;
        border-radius: 2px;
        background-color: $theme-font-dark-color;
        padding: .75rem 0;
    }

    /* 灰色（这个废了） */
    &.btn-grey {
        background: #2e3238;
        color: #d0d8e7;
        padding: 0 8px;
        height: 36px;
        border-radius: 2px;
    }

    &.btn-gray {
        background: #2e3238;
        color: #d0d8e7;
    }

    /* 银色 */
    &.btn-silver {
        background-color: #40474f;
        border-radius: 2px;
        color: $theme-font-light-color;

        &:hover {
            background-color: #4c545d;
        }

        &:active {
            background-color: #57606b;
        }
    }

    /* 暗黑色 */
    &.btn-dark {
        background-color: #2b2f34;
        color: #b5bdce;
        border-radius: 2px;
    }

}

ul {
    li {
        list-style: none;
    }
}

/* 文字排版 */
.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/* vue-Material样式重置 */
.md-field.md-theme-default.md-focused .md-input,
.md-field.md-theme-default.md-focused .md-textarea,
.md-field.md-theme-default.md-has-value .md-input,
.md-field.md-theme-default.md-has-value .md-textarea {
    -webkit-text-fill-color: white !important;
}

.md-field {
    margin: 4px 0 14px !important;

    >label {
        color: #697081 !important;
    }

    &:after {
        background-color: #777 !important;
    }

    &:before {
        background-color: $theme-font-color !important;
    }

    >.md-input {
        color: white !important;
        -webkit-text-fill-color: white !important;

        &::placeholder {
            color: #777 !important;
            font-size: 13.333px !important;
        }
    }

    .md-icon-font {
        >svg {
            fill: white !important;
        }
    }
}

.md-checkbox {
    .md-checkbox-container {
        background: transparent !important;
        border-color: #777 !important;
    }

    .md-checkbox-label {
        font-size: 14px;
    }
}

.md-menu-content.md-select-menu {
    z-index: 110 !important;
}

.md-list.md-theme-default {
    background-color: #2e3238 !important;
}

.md-list.md-theme-default .md-selected .md-list-item-content,
.md-list.md-theme-default .router-link-active .md-list-item-content {
    color: $theme-font-color !important;
}

.md-list.md-theme-default .md-list-item-container {
    color: #b5bdce !important;
}

.md-list.md-theme-default .md-list-item-container:not(.md-list-item-default):not(.md-list-item-expand):not([disabled]):hover {
    background-color: #40454d !important;
}

.md-radio.md-theme-default .md-radio-container {
    border-color: #777777 !important;
}


/* element-ui 样式重置 */
.el-date-editor--daterange.el-input,
.el-date-editor--daterange.el-input__inner,
.el-date-editor--timerange.el-input,
.el-date-editor--timerange.el-input__inner {
    width: 280px !important;
}

.el-date-editor .el-range-separator {
    padding: 0 !important;
}

.el-date-editor .el-range-separator {
    color: #b5bdce !important;
    font-size: 12px !important;
    line-height: 27px !important;
}

.el-input__inner {
    background-color: $theme-bg-color !important;
    box-shadow: inset 0 15px 10px -15px #1e2124 !important;
    border-color: #2d3339 !important;
    height: 36px !important;
    border-radius: 0 !important;
    color: #b5bdce !important;
}

.el-date-editor .el-range-input {
    background: transparent !important;
    font-weight: lighter !important;
    font-size: 12px !important;
    color: #fff !important;
}

.el-range-editor.is-active,
.el-range-editor.is-active:hover {
    border-color: #207f63 !important;
}

.el-select {
    width: 180px !important;
    margin-left: 0 !important;
    margin-right: 10px;
}

.el-select-dropdown__item.selected {
    color: #03fcb3 !important;
    font-weight: 700 !important;
}

.el-select-dropdown {
    border: 1px solid #2e3238 !important;
    background-color: #2e3238 !important;
}

.el-select-dropdown__item.hover,
.el-select-dropdown__item:hover {
    background-color: #40454d !important;
}

.el-select-dropdown__item {
    color: #b5bdce !important;
}

.el-pagination {
    margin-top: 20px;
    font-weight: lighter !important;

    .btn-next,
    .btn-prev {
        background: none !important;
        color: #b5bdce !important;

        &:disabled {
            color: #303133 !important;
        }
    }

    >.el-pager {
        >li {
            background: none !important;
            color: #b5bdce !important;

            &.active,
            &:hover {
                color: $theme-font-color !important;
            }
        }
    }

    >.el-pagination__jump {
        >.el-input {
            >.el-input__inner {
                height: 28px !important;
            }
        }
    }
}

.el-input.is-active .el-input__inner,
.el-input__inner:focus,
.el-select .el-input.is-focus .el-input__inner,
.el-select .el-input__inner:focus {
    border-color: #207f63 !important;
}

.el-select-dropdown[x-placement^=bottom] .popper__arrow,
.el-select-dropdown[x-placement^=bottom] .popper__arrow:after {
    border-bottom-color: #2e3238 !important;
}

.el-scrollbar__wrap {
    &:not(.el-select-dropdown__wrap) {
        overflow-x: hidden !important;
        overflow-y: scroll !important;
    }
}

.el-popup-parent--hidden {
    overflow: auto !important;
}

.myMessage {
    background: $table-border-color !important;
    border-color: hsla(0, 0%, 100%, .15) !important;
    border-radius: 0 !important;

    .el-message-box__content {
        color: $theme-font-light-color !important;
        padding: 30px 25px !important;
    }

    .el-message-box__btns {
        .el-button--default {
            background: #34393f !important;
            color: $theme-font-light-color !important;
            border: none !important;
        }

        .el-button--primary {
            background: $theme-border-color2 linear-gradient(180deg, $theme-border-color2, #0d966e) !important;
            color: white !important;
        }
    }
}