article{
    /* 标题 */
    >.title{
        text-align: center;
        font-weight: 500;
        font-size: 18px;
        color: #fff;
        box-sizing: border-box;
        padding: 2rem 0;
    }
    /* 标题下小标签 */
    >.title-tips{
        box-sizing: border-box;
        padding-bottom: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        >i.iconfont{
            margin-right: .5rem;
        }
    }
    /* 分隔线 */
    hr{
        border: 0;
        border-bottom: 1px solid $theme-article-border;
    }
    /* 内容 */
    >.content{
        box-sizing: border-box;
        padding: 35px 80px;
        color: white;
    }
}