$header-height:60px;
$footer-height:312px;
$navigation-type1-height:42px;

$theme-linear-color:#1a3f38;
$theme-font-color:#03fcb3;
$theme-font-light-color:#b5bdce;
$theme-font-dark-color:#259372;
$theme-font-dark-color2:#207f63;
$theme-panel-bg-color:#22252a;

$theme-border-color:#323439;
$theme-border-color2:#0b9f72;
$theme-bg-color:#22262a;
$theme-bg-active-color:#2e3238;
$theme-article-border:#32373c;
$table-border-color:#2d3339;

@import '//at.alicdn.com/t/font_1368596_w0usi3g7ftf.css';
@import 'anime.scss';
@import 'article.scss';