<template>
	<view class="login">
		<view class="status_bar"></view>
		<view class="close">
			<uni-icons type="closeempty" size="25" @click="home()"></uni-icons>
		</view>
		<view class="title">
			<view class="label">账号登录</view>
			<view class="tip">输入您的账号以继续</view>
		</view>
		<view class="login-box">
			<view class="input">
				<view class="icon-box">
					<uni-icons type="person" size="20"></uni-icons>
				</view>
				<input class="form-input" type="text" placeholder="请输入用户名" v-model="loginData.userName">
			</view>
			<view class="input">
				<view class="icon-box">
					<uni-icons type="locked" size="20"></uni-icons>
				</view>
				<input class="form-input" :type="passtype1 ? 'password' : 'text'" placeholder="输入密码"
					v-model="loginData.pwd">
				<view class="icon-box eye">
					<uni-icons type="eye" size="20" v-show="passtype1" @click="passtype1 = false"></uni-icons>
					<uni-icons type="eye-slash" size="20" v-show="!passtype1" @click="passtype1 = true"></uni-icons>
				</view>
			</view>
			<view class="input" v-if="verifyCodeSwitch">
				<view class="icon-box">
					<uni-icons type="font" size="20"></uni-icons>
				</view>
				<input class="form-input" type="text" placeholder="请输入验证码" v-model="loginData.verifyCode">
				<image @click="verifyCode()" :src="verifyCodeImg" alt=""></image>
			</view>
			<view style="text-align: right;">
				<checkbox-group @change="handleChange">
					<label>
						<checkbox :checked="checkedStatus" color="#d4d0ff" /><span
							style="font-size: 28rpx;">记住密码</span>
					</label>
				</checkbox-group>
			</view>
			<view class="tips">
				<span @click="$common.toPath('/pages/other/webviewPage?type=1')">在线客服</span>
				<span @click="$common.toPath('/pages/other/webviewPage?type=1')">忘记密码？</span>
			</view>
			<view class="login-button">
				<button @click="login()">登录</button>
			</view>
			<view class="login-button other-button" @click="$common.toPath('/pages/login/register')"
				v-if="registerSwitch">
				<button>注册</button>
			</view>
			<view class="login-button other-button" v-if="guestSwitch">
				<button @click="guestUser()">免费试玩</button>
			</view>
			<view class="register-tip">
				还没有账号？ <span @click="$common.toPath('/pages/login/register')">马上注册</span>
			</view>
		</view>
		<u-toast ref="uToast"></u-toast>
	</view>
</template>

<script>
	export default {
		name: "login",
		data() {
			return {
				checkedStatus: false,
				slideShow: false,
				isPassing: false,
				passtype1: true,
				loginData: {
					userName: '',
					pwd: '',
					verifyCode: '',
				},
				verifyCodeImg: '',
				verifyCodeSwitch: false,
				registerSwitch: false,
				guestSwitch: false,
				list:[
					{
						title: '记住密码',
						value: 'pass'
					},
				]
			}
		},
		created() {
			this.getStationSwitch();
			this.getUserInfo();
		},
		onPullDownRefresh(){
			this.getStationSwitch();
			this.getUserInfo();
		},
		mounted() {

		},
		methods: {
			handleChange(e) {
				this.checkedStatus = !this.checkedStatus
			},
			getUserInfo() {
				let userName = uni.getStorageSync("username");
				let password = uni.getStorageSync("password");
				if (userName && password) {
					this.loginData.userName = userName
					this.loginData.pwd = password
					this.checkedStatus = true
				}
			},
			login() {
				if (!this.loginData.userName) {
					return uni.showToast({
						title: '请输入用户名',
						icon: 'none',
						duration: 2000
					});
				}
				if (!this.loginData.pwd) {
					return uni.showToast({
						title: '请输入密码',
						icon: 'none',
						duration: 2000
					});
				}
				let data = {
					username: this.loginData.userName,
					password: this.loginData.pwd,
					verifyCode: this.loginData.verifyCode,
				}
				this.$Request.post('/native/login.do', data, true).then(res => {
					if (res.success) {
						if (this.checkedStatus) {
							uni.setStorageSync("username", this.loginData.userName);
							uni.setStorageSync("password", this.loginData.pwd);
						} else {
							uni.setStorageSync("username", false);
							uni.setStorageSync("password", false);
						}
						uni.showToast({
							title: '登录成功',
							icon: 'none',
							duration: 2000
						});
						uni.setStorageSync('token', res.accessToken);
						setTimeout(() => {
							uni.reLaunch({
								url: '/pages/tabs/index',
							})
						}, 2000)
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 2000
						});
					}
				})
			},
			getStationSwitch() {
				this.$Request.get('/native/getStationSwitch.do', {}, false).then(res => {
					if (res.success) {
						let data = res.content
						for (let index in data) {
							if (data[index].onFlag == 'on') {
								if (data[index].switchKey == 'appRegister') {
									this.registerSwitch = true // 用户注册
								} else if (data[index].switchKey == 'registerTestGuest') {
									this.guestSwitch = true
								} else if (data[index].switchKey == 'loginVerify') {
									this.verifyCodeSwitch = true
								} else if (data[index].switchKey == 'kfSwitch') {
									this.serverSwitch = true
								}
							}
						}
						if (this.verifyCodeSwitch) {
							this.verifyCode()
						}
					}
					uni.stopPullDownRefresh();
				})
			},
			guestUser() {
				this.$Request.get('/native/reg_guest.do', {}, true).then(res => {
					if (res.success) {
						uni.showToast({
							title: '试玩账户注册成功',
							icon: 'none',
							duration: 2000
						});
						uni.setStorageSync('token', res.accessToken);
						setTimeout(() => {
							this.home()
						}, 2000)
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 2000
						});
					}
				})
			},
			verifyCode: function() {
				this.verifyCodeImg = this.$config.API + '/native/regVerifycode.do?v=' + new Date().getTime()
			},
			home(){
				uni.reLaunch({
					url: '/pages/tabs/index',
				})
			}
		}
	}
</script>

<style lang="scss">
	@import '../../static/css/login.scss';
</style>