<template>
  <div class="account_details">
    <personal_header @get_lottery_order="getAccountDetail" :headerData="headerData"></personal_header>
    <div class="content">
      <div class="content-card">
        <div class="c-c-item">
          <em v-if="typeStatus == 1">{{$t('accountDetails[0].label')}}</em>
          <em v-else>{{$t('accountDetails[1].label')}}</em>
          <p style="color: #00aa00;" v-if="typeStatus == 1">{{accountDetailList.aggsData.totalMoney || 0}}</p>
          <p style="color: #00aa00;" v-else>{{accountDetailList.aggsData.drawMoney || 0}}</p>
        </div>
      </div>
      <div class="content-list" v-if="accountDetail.length > 0">
        <van-pull-refresh v-model="refreshing" @refresh="onRefresh">
          <van-list v-model="loading" :finished="finished" :finished-text="$t('tips[2].label')" @load="getAccountDetail" :offset="50">
            <div class="list-wrap" v-for="(item,index) in accountDetail" :key="index" >
              <a href="javascript:void(0)">
                <p>
                  <span>{{type[typeStatus - 1].name}}{{$t('accountDetails[2].label')}}: <em>{{item.type | getType}}</em></span>
                  <span style="color:#5cb85c;" v-if="item.status == 2">{{$t('status[5].label')}}</span>
                  <span  style="color: red;" v-else-if="item.status == 1">{{$t('status[4].label')}}</span>
                  <span style="color: red;" v-else-if="item.status == 3">{{$t('status[6].label')}}</span>
                  <span style="color:red;" v-if="item.status == 4">{{$t('status[13].label')}}</span>
                  <span style="color:#5cb85c;" v-if="item.status == 5">{{$t('status[14].label')}}</span>
                </p>
                <p>
                  <span>{{type[typeStatus - 1].name}}{{$t('lottery[15].label')}}：
                    <em v-if="typeStatus == 1">{{item.money}}</em>
                    <em v-if="typeStatus == 2">{{item.drawMoney}}</em>
                  </span>
                </p>
                <p><span>{{type[typeStatus - 1].name}}{{$t('accountDetails[3].label')}}：<em>{{$root.common.getMyDate(item.createDatetime)}}</em></span></p>
                <p style="display: inline-block;">{{type[typeStatus - 1].name}}{{$t('accountDetails[4].label')}}：<span>{{item.remark}}</span></p>
              </a>
            </div>
          </van-list>
        </van-pull-refresh>
      </div>
      <div style="text-align: center;background: #efeff4;line-height: 4rem;font-size: 1.8rem" v-else>
        {{$t('tips[3].label')}}
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/center/account_details.less'
import personal_header from '@/components/include/personal_header'
import {Dialog} from "vant";
export default {
  name: "account_details",
  components:{
    personal_header
  },
  data(){
    return{
      headerData:{title:this.$t('accountDetails[5].label'),filter:'accountDetails',popupHeight:'28.4rem'},
      accountDetail:[],
      accountDetailList:{
        aggsData:{}
      },
      typeStatus:1,
      type:[
        {type:1,name:this.$t('mnyrecord[5].label'),url:'native/comrd.do'},
        {type:2,name:this.$t('mnyrecord[6].label'),url:'native/drawrd.do'},
      ],//1 为充值记录，2 为提款记录
      params:{
        startTime:'',
        endTime:'',
        type:'',
        page:1,
        rows:6,
      },
      refreshing:false, //是否处于加载状态
      loading:false, //是否处于架子啊状态，加载过程中不触发load 事件
      finished:false,//是否已加载完成，加载完成不在触发,这里是改变text
    }
  },
  methods:{
    //查询提款充值记录
     getAccountDetail:function (arg={aType:this.typeStatus}){
       let that = this
       this.typeStatus = arg.aType
       if ('endTime' in arg){
         this.params.endTime = arg.endTime
         this.params.startTime = arg.startTime
         this.params.type = arg.aTtype
         this.params.status = arg.aStatus
         this.accountDetail = []
         this.params.page = 0
         this.finished = false;
         this.loading = true;
       }
       this.params.page ++
       // this.params.startTime = '2018-05-03 00:00:00'
       this.$post(this.type[this.typeStatus - 1].url,this.params,true).then(res=>{
         if ('isLogin' in res && res.isLogin == false){
           Dialog.alert({
             title: that.$t('personal_header[24].label'),
             message: res.msg
           }).then(() => {
             this.$router.push({
               path: '/login',
             })
           });
           return
         }
         if (this.refreshing){
           this.accountDetail = []
           this.refreshing = false
         }

         this.accountDetail = [...this.accountDetail,...res.list]
         this.accountDetailList = res

         this.loading = false
         if (res.totalCount  <= (parseInt(this.params.rows) * parseInt(this.params.page))){
           this.finished = true
         }

       })
     },
    //清空数据
    onRefresh(){
      this.finished = false;
      this.loading = true;
      this.params.page = 0
      console.log(5555)
      this.getAccountDetail({aType: this.typeStatus });
    },
  },
  filters:{
    typeStatusFilters:function (status){
      let that = this
      switch (status) {
        case 1:
          return that.$t('status[4].label');
        case 2:
          return that.$t('status[5].label');
        case 3:
          return that.$t('status[6].label');
        case 4:
          return that.$t('status[13].label');
        case 5:
          return that.$t('status[14].label');
      }
    },
    getType:function(type){
      let that = this
      switch (type) {
        case 1:
          return that.$t('money_type[0].label');
        case 2:
          return that.$t('money_type[1].label');
        case 3:
          return that.$t('money_type[2].label');
        case 4:
          return that.$t('money_type[3].label');
        case 5:
          return that.$t('money_type[4].label');
        case 6:
          return that.$t('money_type[5].label');
        case 7:
          return that.$t('money_type[6].label');
        case 8:
          return that.$t('money_type[23].label');
        case 9:
          return that.$t('money_type[7].label');
        case 10:
          return that.$t('money_type[8].label');
        case 11:
          return that.$t('money_type[9].label');
        case 12:
          return that.$t('money_type[10].label');
        case 13:
          return that.$t('money_type[11].label');
        case 14:
          return that.$t('money_type[12].label');
        case 113:
          return that.$t('money_type[13].label');
        case 15:
          return that.$t('money_type[14].label');
        case 16:
          return that.$t('money_type[15].label');
        case 87:
          return that.$t('money_type[16].label');
        case 88:
          return that.$t('money_type[17].label');
        case 55:
          return that.$t('money_type[18].label');
        case 54:
          return that.$t('money_type[19].label');
        case 78:
          return that.$t('money_type[20].label');
        case 79:
          return that.$t('money_type[21].label');
        case 80:
          return that.$t('money_type[22].label');
        case 201:
          return that.$t('money_type[23].label');
        case 202:
          return that.$t('money_type[24].label');
        case 203:
          return that.$t('money_type[25].label');
        case 204:
          return that.$t('money_type[26].label');
        case 130:
          return that.$t('money_type[27].label');
        case 131:
          return that.$t('money_type[28].label');
        case 132:
          return that.$t('money_type[29].label');
        case 133:
          return that.$t('money_type[30].label');
        case 134:
          return that.$t('money_type[31].label');
        case 135:
          return that.$t('money_type[32].label');
        case 136:
          return that.$t('money_type[33].label');
        case 137:
          return that.$t('money_type[34].label');
        case 139:
          return that.$t('money_type[35].label');
        case 138:
          return that.$t('money_type[36].label');
        case 140:
          return that.$t('money_type[37].label');
        case 141:
          return that.$t('money_type[38].label');
        case 142:
          return that.$t('money_type[39].label');
        case 143:
          return that.$t('money_type[40].label');
        case 18:
          return that.$t('money_type[41].label');
        case 19:
          return that.$t('money_type[42].label');
        case 20:
          return that.$t('money_type[43].label');
        case 17:
          return that.$t('money_type[44].label');
        case 1130:
          return that.$t('money_type[45].label');
        case 1131:
          return that.$t('money_type[46].label');
        case 168:
          return that.$t('money_type[47].label');
        case 169:
          return that.$t('money_type[48].label');
        case 170:
          return that.$t('money_type[49].label');
        case 23:
          return that.$t('money_type[50].label');
        case 801:
          return that.$t('money_type[55].label');
      }
    },
  }
}
</script>

<style scoped>

</style>
