<template>
  <div class="awardRecord">
    <personal_header @get_lottery_order="get_lottery_order" :headerData="headerData"></personal_header>
    <div class="content">
      <table class="content-item-title" border="0" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
          <th>{{$t('awardRecord[0].label')}}</th>
          <th>{{$t('awardRecord[1].label')}}</th>
          <th>{{$t('personal_header[6].label')}}</th>
        </tr>
        </tbody>
      </table>
      <table class="content-item-title">
        <tbody>
        <tr v-for="(item,index) in awardRecordList" :key="index">
          <td>{{item.productName}}</td>
          <td style="white-space:nowrap;">{{$root.common.getMyDate(item.createDatetime)}}</td>
          <td>{{item.status | filterStatus}}</td>
        </tr>
        <tr>
          <td colspan="5" class="msg loadingMsg" v-if="!finished" @click="get_lottery_order(1)">{{$t('tips[4].label')}}</td>
          <td colspan="5" class="msg loadingMsg" v-else>{{$t('tips[5].label')}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import '@/assets/css/center/awardRecord.less'
import personal_header  from '@/components/include/personal_header'
import {Dialog} from "vant";
export default {
  name: "awardRecord",
  components:{
    personal_header
  },
  data(){
    return{
      headerData:{title:this.$t('awardRecord[2].label'),filter:'isTurnlate',popupHeight:'18.4rem'},
      awardRecordList:[],
      awardRecordData:{},
      finished:false,
      params:{
        startTime:'',
        endTime:'',
        status:'',
        page:0,
        rows:999,
      },
    }
  },
  methods:{
    get_lottery_order(arg=''){
      let that = this
      if (arg && arg != 1){
        this.params.endTime = arg.endTime
        this.params.startTime = arg.startTime
        this.params.status = arg.awardRecordStatus
        this.awardRecordList = []
        this.finished = false;
        this.loading = true;
        this.params.page = 0
      }
      this.params.page ++
      this.$post('native/awardRecord.do',this.params,true).then(res=>{
        if ('isLogin' in res && res.isLogin == false){
          Dialog.alert({
            title: that.$t('personal_header[24].label'),
            message: res.msgscoreChange
          }).then(() => {
            this.$router.push({
              path: '/login',
            })
          });
          return
        }
        this.awardRecordList = [...this.awardRecordList,...res.list]
        this.awardRecordData = res
        if (res.totalCount  <= (parseInt(res.currentPageNo) * parseInt(res.pageSize))){
          this.finished = true
        }
      })
    }
  },
  filters:{
    filterStatus(status){
      let that = this
      if (status == 1){
        return that.$t('status[9].label')
      }else if (status == 2){
        return that.$t('status[10].label')
      }else if (status == 3){
        return that.$t('status[11].label')
      }
    }
  }
}
</script>
<style scoped>

</style>
