<template>
  <div class="language">
    <header class="header">
      <a herf="javascript:void(0)" @click="back">
        <van-icon name="arrow-left"/>
        <span class="bark">{{$t('personal_header[0].label')}}</span>
      </a>
      <span class="title">{{$t('personal[28].label')}}</span>
    </header>
    <div class="content">
      <van-cell v-for="(item, index) in languagesList" :key="index" :title="item.des" is-link  @click="changeType(item.code)" />
<!--      <van-cell title="English" is-link  @click="changeType('en')" />-->
<!--      <van-cell title="Malay" is-link  @click="changeType('may')" />-->
    </div>
  </div>
</template>

<script>
import {Toast} from "vant";
import '@/assets/css/center/language.less'
export default {
  name: "language",
  components:{
  },
  data(){
    return{
      languagesList:[''],
    }
  },
  created() {
    this.getLanguages()
  },
  methods:{
    back:function (){
      this.$router.push('/personal')
    },
    changeType:function (type){
      this.$i18n.locale = type
      this.$cookies.set("language",type)
      localStorage.setItem('locale',type)
      Toast(this.$t('toast[0].label'))
    },
    // 获取语言
    getLanguages:function () {
      this.$fetch('native/getLanguages.do').then(res =>{
        this.languagesList = res.content
      })
    },
  }
}
</script>

<style scoped>

</style>
