<template>
  <div class="lottery_record">
    <personal_header @get_lottery_order="get_lottery_order"></personal_header>
    <div class="content">
      <div class="content-card">
        <div class="c-c-item">
          <em>{{$t('index[13].label')}}</em>
          <p style="color: red;">{{lotteryData.sumBuyMoney || 0}}</p>
        </div>
        <div class="c-c-item">
          <em>{{$t('status[19].label')}}</em>
          <p style="color: #00aa00;">{{lotteryData.sumWinMoney || 0}}</p>
        </div>
        <div class="c-c-item">
          <em>{{$t('Record[1].label')}}</em>
          <p style="color: red;">{{ (lotteryData.sumWinMoney - lotteryData.sumBuyMoney || 0.00).toFixed(2) || 0}}</p>
        </div>
      </div>
      <div class="content-list" v-if="lotteryList.length > 0">
        <van-pull-refresh v-model="refreshing" @refresh="onRefresh" >
          <van-list v-model="loading" :finished="finished" :finished-text="$t('tips[2].label')" @load="get_lottery_order" :offset="50">
            <div class="list-wrap" v-for="(item,index) in lotteryList" :key="index" @click="getBcLotteryOrderDetail(item)">
              <a href="javascript:void(0)">
                <p>
                  <span>{{$t('personal_header[7].label')}}: <em>{{item.lotName}}</em></span><span>{{$t('Record[2].label')}}: <em class="red">{{item.buyMoney}}</em>{{$t('index[15].label')}}</span>
                </p>
                <p>
                  <span>{{$t('lottery[14].label')}}：<em>{{item.haoMa}}</em></span>
                  <span><em class="red" v-if="item.status == 1  && 'cancel_switch' in lotteryData  && lotteryData.cancel_switch== 'on'" @click="cancel(item.orderId)">{{$t('status[3].label')}}</em></span></p>
                <p><span>{{$t('accountDetails[3].label')}}：<em>{{item.createTime}}</em></span>
                  <span style="color:#5cb85c;" v-if="item.status == 2">{{$t('status[34].label')}}</span>
                  <span  class="blue" v-else-if="item.status == 1">{{$t('status[0].label')}}</span>
                  <span style="color: red;" v-else>{{item.status | listStatus}}</span>
                </p>
                <p style="display: inline-block;">{{$t('index[9].label')}}：<span>{{item.qiHao}}</span></p>
              </a>
            </div>
          </van-list>
        </van-pull-refresh>
      </div>
      <div style="text-align: center;background: #efeff4;line-height: 4rem;font-size: 1.8rem" v-else>
        {{$t('tips[3].label')}}
      </div>
      <van-popup v-model="detailStatus" position="bottom" :style="{ height: '100%','z-index':3001 }" @click="detailStatus = false" class="content-list-detail"  >
        <div class="detail-title" style="position: relative;z-index: 3001;">
          <div class="title">{{$t('Record[4].label')}}</div>
          <div class="close" @click="detailStatus = false">{{$t('lottery[22].label')}}</div>
        </div>
        <div class="reclrd-code">
          <span>{{$t('Record[5].label')}}：<em>{{detailsData.orderId}}</em></span>
        </div>
        <div class="detail-content">
          <table  border="0" cellpadding="0" cellspacing="0"  >
            <tbody>
              <tr>
                <td class="bttd"> {{$t('Record[6].label')}} </td>
                <td>{{detailsData.account}}</td>
                <td class="bttd">{{$t('lottery[15].label')}}</td>
<!--                <td v-if="detailsData.lotCode == 'LHC' || detailsData.lotCode == 'SFLHC' || detailsData.lotCode == 'TMLHC' || detailsData.lotCode == 'WFLHC' || detailsData.lotCode == 'HKMHLHC'">{{}}</td>-->
                <td style="width: 15%;" >{{ (detailsData.buyMoney/detailsData.model).toFixed(2) }}</td>
              </tr>
              <tr>
                <td class="bttd">{{$t('Record[7].label')}}</td>
                <td>{{detailsData.createTime}}</td>
                <td class="bttd">{{$t('Record[13].label')}}</td>
                <td>{{detailsData.buyZhuShu}}</td>
              </tr>
              <tr>
                <td class="bttd">{{$t('personal_header[7].label')}}</td>
                <td>{{detailsData.lotName}}</td>
                <td class="bttd">{{$t('Record[14].label')}}</td>
                <td>{{detailsData.multiple }}</td>
              </tr>
              <tr>
                <td class="bttd">{{$t('index[9].label')}}</td>
                <td>{{detailsData.qiHao}}</td>
                <td class="bttd">{{$t('Record[15].label')}}</td>
                <td>{{detailsData.buyMoney}}</td>
              </tr>
              <tr>
                <td class="bttd">{{$t('Record[16].label')}}</td>
                <td>{{detailsData.playName}}</td>
                <td class="bttd" v-if="detailsData.lotCode == 'LHC' || detailsData.lotCode == 'SFLHC' || detailsData.lotCode == 'TMLHC' || detailsData.lotCode == 'WFLHC' || detailsData.lotCode == 'HKMHLHC'">{{$t('Record[17].label')}}</td>
                <td class="bttd" v-else>{{$t('Record[18].label')}}</td>
                <td v-if="detailsData.lotCode == 'LHC' || detailsData.lotCode == 'SFLHC' || detailsData.lotCode == 'TMLHC' || detailsData.lotCode == 'WFLHC' || detailsData.lotCode == 'HKMHLHC'">{{detailsData.peilv ? detailsData.peilv : detailsData.odds}}</td>
                <td v-else>{{detailsData.odds}}</td>
              </tr>
              <tr>
                <td class="bttd">{{$t('Record[19].label')}}</td>
                <td>{{detailsData.lotteryHaoMa}}</td>
                <td class="bttd">{{$t('Record[20].label')}}</td>
                <td>{{detailsData.winZhuShu}}</td>
              </tr>
              <tr>
                <td class="bttd">{{$t('Record[52].label')}}</td>
                <td style="color:#5cb85c;" v-if="detailsData.status == 2">{{$t('Record[34].label')}}</td>
                <td style="color:#0894ec " v-else-if="detailsData.status == 1">{{$t('status[0].label')}}</td>
                <td style="color:#ec2829 " v-else>{{detailsData.status | listStatus}}</td>
                <td class="bttd">{{$t('Record[21].label')}}</td>
                <td>{{detailsData.winMoney ? detailsData.winMoney : 0.00}}</td>
              </tr>
              <tr v-if="detailsData.winMoney > 0 && detailsData.winZhuShu > 0">
                <td class="bttd">{{$t('Record[3].label')}}</td>
                <td colspan="3">{{ (detailsData.winMoney - detailsData.buyMoney).toFixed(2)}}</td>
              </tr>
              <tr>
                <td class="bttd">{{$t('Record[22].label')}}</td>
                <td colspan="3">{{detailsData.haoMa}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </van-popup>
    </div>
  </div>
</template>

<script>
import '@/assets/css/center/lottery_records.less'
import personal_header  from '@/components/include/personal_header'
import {Dialog, Toast} from 'vant';
export default {
  name: "lottery_record",
  components:{
    personal_header
  },
  data(){
    return{
      params:{
        startTime:'',
        endTime:'',
        code:'',
        status:'',
        page:0,
        rows:6,
        lhc:0
      },
      lotteryList:[],
      lotteryData:{},
      detailsData:{},
      detailStatus:false,
      disabledRef:false,
      refreshing:false, //是否处于加载状态
      loading:false, //是否处于架子啊状态，加载过程中不触发load 事件
      finished:false,//是否已加载完成，加载完成不在触发,这里是改变text
      floder: this.$store.state.stationInfo.content.station.floder || 'x002',
    }
  },
  created() {
    console.log(this.floder)
  },
  mounted() {

  },
  methods:{
    //查询投注记录
    get_lottery_order(arg=''){
      let that = this
      if (arg){
        this.params.endTime = arg.endTime
        this.params.startTime = arg.startTime
        this.params.code = arg.code
        this.params.status = arg.status
        this.params.page = 0
        this.finished = false;
        this.loading = true;
        this.lotteryList = []
      }
      this.params.page ++
      this.$post('native/get_lottery_order.do',this.params,true).then(res=>{
        if ('isLogin' in res && res.isLogin == false){
          Dialog.alert({
            title: that.$t('personal_header[24].label'),
            message: res.msg
          }).then(() => {
            this.$router.push({
              path: '/login',
            })
          });
          return
        }
        if (this.refreshing){
          this.lotteryList = []
          this.refreshing = false
        }

        this.lotteryList = [...this.lotteryList,...res.page.list]
        this.lotteryData = res

        this.loading = false
        if (res.page.totalCount  <= (parseInt(res.page.currentPageNo) * parseInt(res.page.pageSize))){
          this.finished = true
        }

      })
    },
    //清空数据
    onRefresh(){
      this.finished = false;
      this.loading = true;
      this.params.page = 0
      this.get_lottery_order();
    },
    //撤单
    cancel: function(orderId) {
      let that = this
      this.$post( 'native/cancelOrder.do', {orderId: orderId, lotCode: ''}).then(res=>{
        if(res.success) {
          Toast.success(that.$t('Record[23].label'));
        } else {
          // Toast.fail(res.msg);
          Toast.fail(that.$t('Record[24].label'));
        }
      })
    },
    //查询详细记录
    getBcLotteryOrderDetail:function (item){
      this.$root.common.loading(true)
      this.$post('lotteryBet/getBcLotteryOrderDetail.do',{orderId:item.orderId,lotCode:item.lotCode},true).then(res=>{
        if (res){
          this.detailsData = res;
          this.detailStatus = true
          this.$root.common.loading(false)
        }
      })
    }
  },
  filters:{
    listStatus:function (status){
      let that = this
      if (status == 1)  return that.$t('status[0].label');
      if (status == 2) return that.$t('status[34].label');
      if (status == 4) return that.$t('status[21].label');
      if (status == 8) return that.$t('status[20].label');
      if (status == 3) return that.$t('status[2].label');
    },
  },
  watch:{

  }

}
</script>

<style scoped >

</style>
