<template>
  <div class="mnyrecord">
    <personal_header @get_lottery_order="accountChangeRecord" :headerData="headerData"></personal_header>
    <div class="content">
      <div class="content-list" v-if="mnyrecordList.length > 0">
        <van-pull-refresh v-model="refreshing" @refresh="onRefresh" >
          <van-list v-model="loading" :finished="finished" :finished-text="$t('tips[2].label')" @load="accountChangeRecord" :offset="50">
            <div class="list-wrap" v-for="(item,index) in mnyrecordList" :key="index" >
              <a href="javascript:void(0)">
                <p><span>{{$t('lottery[13].label')}}：<em>{{item.type | typeFilter}}</em></span></p>
                <p><span>{{$t('Record[5].label')}}：<em>{{item.orderId}}</em></span></p>
                <p><span>{{$t('mnyrecord[0].label')}}：<em class="blue">{{item.beforeMoney}} </em> {{$t('index[15].label')}}</span></p>
                <p><span>{{$t('mnyrecord[1].label')}}：</span><em class="red">{{item.money}}</em> {{$t('index[15].label')}}</p>
                <p><span>{{$t('mnyrecord[2].label')}}：</span><em class="green">{{item.afterMoney}}</em> {{$t('index[15].label')}}</p>
                <p><span>{{$t('mnyrecord[3].label')}}：</span><em>{{$root.common.getMyDate(item.createDatetime)}}</em></p>
                <p><span>{{$t('accountDetails[4].label')}}：</span>{{item.remark}}</p>
              </a>
            </div>
          </van-list>
        </van-pull-refresh>
      </div>
      <div style="text-align: center;background: #efeff4;line-height: 4rem;font-size: 1.8rem" v-else>
        {{$t('tips[6].label')}}
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/center/mnyrecord.less'
import personal_header from '@/components/include/personal_header'
import {Dialog} from "vant";
export default {
  name: "mnyrecord",
  components:{
    personal_header
  },
  data(){
    return{
      headerData:{title:this.$t('mnyrecord[4].label'),filter:'isChangeMoney',popupHeight:'18.4rem'},
      mnyrecordList:[],
      mnyrecordData:{},
      params:{
        startTime:'',
        endTime:'',
        type:'',
        page:0,
        rows:4,
      },
      refreshing:false, //是否处于加载状态
      loading:false, //是否处于架子啊状态，加载过程中不触发load 事件
      finished:false,//是否已加载完成，加载完成不在触发,这里是改变text
    }
  },
  created() {
  },
  methods:{
    accountChangeRecord(arg=''){
      let that = this
      if (arg){
        this.params.endTime = arg.endTime
        this.params.startTime = arg.startTime
        this.params.type = arg.type
        this.params.page = 0
        this.finished = false;
        this.loading = true;
        this.mnyrecordList = []
      }
      this.params.page ++
      this.$post('native/mnyrecordlist.do',this.params,true).then(res=>{
        if ('isLogin' in res && res.isLogin == false){
          Dialog.alert({
            title: that.$t('personal_header[24].label'),
            message: res.msg
          }).then(() => {
            this.$router.push({
              path: '/login',
            })
          });
          return
        }
        if (this.refreshing){
          this.mnyrecordList = []
          this.refreshing = false
        }
          this.mnyrecordList = [...this.mnyrecordList,...res.list]
          this.mnyrecordData = res

          this.loading = false
          if (res.totalCount  <= (parseInt(res.currentPageNo) * parseInt(res.pageSize))){
            this.finished = true
          }
      })
    },
    //清空数据
    onRefresh:function (){
      this.finished = false;
      this.loading = true;
      this.params.page = 0
      this.accountChangeRecord();
    }
  },
  filters:{
    typeFilter:function (type){
      let that = this
      switch (type) {
        case 1:
          return that.$t('money_type[0].label');
        case 2:
          return that.$t('money_type[1].label');
        case 3:
          return that.$t('money_type[2].label');
        case 4:
          return that.$t('money_type[3].label');
        case 5:
          return that.$t('money_type[4].label');
        case 6:
          return that.$t('money_type[5].label');
        case 7:
          return that.$t('money_type[6].label');
        case 8:
          return that.$t('money_type[23].label');
        case 9:
          return that.$t('money_type[7].label');
        case 10:
          return that.$t('money_type[8].label');
        case 11:
          return that.$t('money_type[9].label');
        case 12:
          return that.$t('money_type[10].label');
        case 13:
          return that.$t('money_type[11].label');
        case 14:
          return that.$t('money_type[12].label');
        case 113:
          return that.$t('money_type[13].label');
        case 15:
          return that.$t('money_type[14].label');
        case 16:
          return that.$t('money_type[15].label');
        case 87:
          return that.$t('money_type[16].label');
        case 88:
          return that.$t('money_type[17].label');
        case 55:
          return that.$t('money_type[18].label');
        case 54:
          return that.$t('money_type[19].label');
        case 78:
          return that.$t('money_type[20].label');
        case 79:
          return that.$t('money_type[21].label');
        case 80:
          return that.$t('money_type[22].label');
        case 201:
          return that.$t('money_type[23].label');
        case 202:
          return that.$t('money_type[24].label');
        case 203:
          return that.$t('money_type[25].label');
        case 204:
          return that.$t('money_type[26].label');
        case 130:
          return that.$t('money_type[27].label');
        case 131:
          return that.$t('money_type[28].label');
        case 132:
          return that.$t('money_type[29].label');
        case 133:
          return that.$t('money_type[30].label');
        case 134:
          return that.$t('money_type[31].label');
        case 135:
          return that.$t('money_type[32].label');
        case 136:
          return that.$t('money_type[33].label');
        case 137:
          return that.$t('money_type[34].label');
        case 139:
          return that.$t('money_type[35].label');
        case 138:
          return that.$t('money_type[36].label');
        case 140:
          return that.$t('money_type[37].label');
        case 141:
          return that.$t('money_type[38].label');
        case 142:
          return that.$t('money_type[39].label');
        case 143:
          return that.$t('money_type[40].label');
        case 18:
          return that.$t('money_type[41].label');
        case 19:
          return that.$t('money_type[42].label');
        case 20:
          return that.$t('money_type[43].label');
        case 17:
          return that.$t('money_type[44].label');
        case 1130:
          return that.$t('money_type[45].label');
        case 1131:
          return that.$t('money_type[46].label');
        case 168:
          return that.$t('money_type[47].label');
        case 169:
          return that.$t('money_type[48].label');
        case 170:
          return that.$t('money_type[49].label');
        case 23:
          return that.$t('money_type[50].label');
        case 801:
          return that.$t('money_type[55].label');
      }
    }
  }
}
</script>

<style scoped>

</style>
