<template>
  <div class="pay_select_way">
    <header class="public-header">
      <router-link to="/personal">
        <van-icon name="arrow-left"/>
      </router-link>
      <span>充值</span>
    </header>
    <div class="account">
      <label>账号</label>：<span>{{accountInfo.account}}</span> <label>余额</label>：<span>{{accountInfo.money}}</span>
    </div>
    <div class="pay-module">
      <div class="list" v-for="(item,index) in payList" :key="index">
        <div class="title">{{item.switchKey}}</div>
        <div class="pay" v-if="item.payList.length == 0">
          <div class="pay-list">暂时没有配置支付方式</div>
        </div>
        <div class="pay" v-else>
          <div class="pay-list" v-for="(item2, index2) in item.payList" :key="index2"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/center/pay_select_way.less'

export default {
  name: "pay_select_way",
  data() {
    return {
      accountInfo:'',
      payList:[],
    }
  },
  created() {
    this.accountInfoIs()
    this.getPayList()
  },
  mounted() {
  },
  methods: {
    accountInfoIs: function () {
      this.$fetch('native/accountInfo.do').then(res => {
        if (res.success) {
          this.accountInfo = res.content
          let len = this.accountInfo.money.indexOf('.') + 3
          this.accountInfo.money = this.accountInfo.money.substring(0, len)
        }
      })
    },
    getPayList: function () {
      this.$fetch('native/paySelectWay.do').then(res => {
        if (res.success) {
          for(let index in res.content){
            if(res.content[index].onFlag == 'on'){
              this.payList.push(res.content[index])
            }
          }
        }
        console.log(this.payList)
      })
    },
  }
}
</script>

<style scoped>

</style>
