<template>
  <div class="scoreChange">
    <header class="header">
      <a herf="javascript:void(0)" @click="back">
        <van-icon name="arrow-left"/>
        <span class="bark">{{$t('personal_header[0].label')}}</span>
      </a>
      <span class="title">{{$t('scoreChange[0].label')}}</span>
    </header>
    <div class="content">
      <div class="card-header">
        <span style="width: 100%; text-align: center; display: inline-block;">{{$t('scoreChange[1].label')}}：<font color="red">{{userInfo.account}}</font></span>
      </div>
      <div class="card-content">
        <van-field v-model="userInfo.balance" type="text" :name="$t('scoreChange[2].label')" :label="$t('scoreChange[2].label')" placeholder="0" :disabled="true"/>
        <van-field v-model="integral" type="text" :name="$t('scoreChange[3].label')" :label="$t('scoreChange[3].label')" placeholder="0" :disabled="true"/>
        <van-field readonly clickable :name="picker" :value="params.typeIdReveal" :label="$t('scoreChange[4].label')" :placeholder="$t('scoreChange[5].label')" @click="handleExchangeConfig"/>
        <van-field v-model="params.amount" type="text" :name="$t('scoreChange[6].label')" :label="$t('scoreChange[7].label')" :placeholder="$t('scoreChange[8].label')"/>
      </div>
      <van-button type="primary" color="#ec2829" block @click="getExchange">{{$t('scoreChange[16].label')}}</van-button>
    </div>

    <van-popup v-model="showPicker" position="bottom">
      <van-picker
          show-toolbar
          :columns="options.list"
          @confirm="onConfirm"
          @cancel="showPicker = false"
      />
    </van-popup>
  </div>
</template>

<script>
import '@/assets/css/center/scoreChange.less'
import { Toast} from "vant";
export default {
  name: "scoreChange",
  data(){
    return{
      options: {
        value:[],
        list:[]
      },
      params:{
        typeId:'',
        typeIdReveal:this.$t('scoreChange[9].label'),
        amount:0
      },
      exchangeConfig:{}, //兑换配置
      exchangeLimit:'', //兑换额度选项
      disabled:true, //是否可以兑换
      integral:'',
      showPicker:false,
      value:'',
      userInfo:0,
    }
  },
  created() {
    this.getExchangeConfig()
    this.getMeminfo()
  },
  mounted() {

  },
  methods:{
    back: function() {
      this.$router.push('/personal')
    },
    onConfirm:function (data){
      let id = ''
      this.params.typeIdReveal = data
      this.options.list.some((item,index)=>{
        if (item == data){
          id = this.options.value[index]
        }
      })
      this.exchangeConfig.configs.some(item=>{
        if (item.id == id){
          this.exchangeLimit = item
        }
      })
      this.showPicker = false
    },
    //提交兑换金额
    getExchange:function () {
      let that = this
      let changeSelect = this.exchangeLimit
      if (Number(this.params.amount) > changeSelect.maxVal){
        Toast(that.$t('scoreChange[10].label') + changeSelect.maxVal)
        return false
      }
      if (Number(this.params.amount)  < changeSelect.minVal){
        Toast(that.$t('scoreChange[11].label') + changeSelect.minVal)
        return false
      }
      if(!changeSelect.id){
        Toast(that.$t('scoreChange[12].label'))
        return false;
      }
      let params = {
        typeId:changeSelect.id,
        amount:Number(this.params.amount)
      }
      this.$fetch('native/exchange.do',params,true).then((res)=>{
        if (res.success == true){
          Toast(that.$t('scoreChange[13].label'))
          this.getMeminfo()
          this.getExchangeConfig()
        }else{
          Toast(res.msg)
        }
      })
    },
    // 获取余额
    getMeminfo:function () {
      this.$fetch('native/meminfo.do').then(res =>{
        if(res.success){
          this.userInfo = res.content
        }
      })
    },
    //积分配置
    getExchangeConfig(){
      let that = this
      this.$post('native/exchangeConfig.do',{},true).then(res=>{
        if (res.success == true){
          this.options.list = []
          this.exchangeConfig = res.content
          this.integral = res.content.score
          if (this.exchangeConfig.configs != ''){
            for (let i in  this.exchangeConfig.configs){
              if (this.exchangeConfig.configs[i].type == 1){
                this.options.list.push(that.$t('money_type[42].label'))
                this.options.value.push(this.exchangeConfig.configs[i].id)
              } else if (this.exchangeConfig.configs[i].type == 2){
                this.options.list.push(that.$t('money_type[43].label'))
                this.options.value.push(this.exchangeConfig.configs[i].id)
              }
            }

          }else{
            this.disabled = false
            Toast(that.$t('scoreChange[14].label'));
          }
        }
      })
    },
    handleExchangeConfig(){
      let that = this
      if (!this.disabled){
        Toast(that.$t('scoreChange[14].label'))
        return
      }
      this.showPicker = true
    }
  }
}
</script>

<style scoped>

</style>
