<template>
  <div class="upd_password">
      <header class="header">
        <a herf="javascript:void(0)" @click="back">
          <van-icon name="arrow-left"/>
          <span class="bark">{{$t('personal_header[0].label')}}</span>
        </a>
        <span class="title">{{title}}</span>
        <div class="edit" ></div>
      </header>
    <div class="content">
      <van-cell-group>
        <van-field v-model="params.oldpassword" :label="$t('updPassword[0].label')" type="password" left-icon="bag-o" :placeholder="$t('updPassword[1].label')"/>
        <van-field v-model="params.newpassword" clearable type="password" :label="$t('updPassword[2].label')" left-icon="bag-o" :placeholder="$t('updPassword[3].label')"/>
        <van-field v-model="params.confirmpassword" clearable type="password" :label="$t('updPassword[4].label')" left-icon="bag-o" :placeholder="$t('updPassword[5].label')"/>
      </van-cell-group>
      <van-button type="primary" color="#ec2829" block @click="submitPassword">{{$t('status[33].label')}}</van-button>
    </div>
  </div>
</template>

<script>
import '@/assets/css/center/upd_password.less'
import {Dialog, Toast} from "vant";
export default {
  name: "upd_password",
  data(){
    return{
      title:this.$t('updPassword[6].label'),
      url:'native/modify_pass.do',
      params:{
        oldpassword:'',
        newpassword:'',
        confirmpassword:'',
      }
    }
  },
  created() {
    if (this.$route.query.type == 2){
      this.title = this.$t('updPassword[7].label')
      this.url = 'native/modify_cashpass.do'
    }
  },
  methods:{
    back: function() {
      this.$router.push('/personal')
    },
    submitPassword:function (){
      let that = this
      if (!this.params.oldpassword){
        Toast({
          message: that.$t('updPassword[8].label'),
          duration:500
        });
        return
      }
      if (!this.params.newpassword){
        Toast({
          message: that.$t('updPassword[9].label'),
          duration:500
        });
        return
      }
      if (!this.params.confirmpassword){
        Toast({
          message: that.$t('updPassword[10].label'),
          duration:500
        });
        return
      }
      if (this.params.newpassword != this.params.confirmpassword){
        Toast({
          message: that.$t('updPassword[11].label'),
          duration:500
        });
        return
      }

      this.$post(this.url,this.params,'true').then(res=>{
        if (res.success){
          Dialog.alert({
            message: that.$t('updPassword[12].label'),
            confirmButtonText: that.$t('bindCard[66].label'),
          }).then(() => {
            this.$router.push('/')
          });
        }else {
          Toast({
            message: res.msg,
            duration:1500
          });
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
