<template>
  <div class="withdrawDeposit">
    <header class="withdrawDeposit-header">
      <a herf="javascript:void(0)" @click="back">
        <van-icon name="arrow-left"/>
        <span class="bark">{{$t('personal_header[0].label')}}</span>
      </a>
      <span class="title">{{$t('withdraw[0].label')}}</span>
    </header>
    <main>
      <div class="flexContent">
        <h1>{{$t('withdraw[1].label')}}</h1>
        <div class="explain">
          1. {{$t('withdraw[2].label')}}：<span class="c-r">{{pickMoneyInfor.startTime}}</span>{{$t('withdraw[3].label')}}<span class="c-r">{{pickMoneyInfor.endTime}}</span><br/>
          2. {{$t('withdraw[4].label')}}<br/>
          3. {{$t('withdraw[5].label')}}<span class="c-r">{{pickMoneyInfor.minPickMoney}}</span>{{$t('index[15].label')}}，{{$t('withdraw[6].label')}}<span class="c-r">{{pickMoneyInfor.maxPickMoney}}</span>{{$t('index[15].label')}}。<br/>
          4. {{$t('withdraw[7].label')}}<span class="c-r">{{pickMoneyInfor.wnum}}</span>{{$t('withdraw[8].label')}}，{{$t('withdraw[9].label')}}<span class="c-r">{{pickMoneyInfor.curWnum}}</span> {{$t('withdraw[8].label')}} ;
        </div>
        <h1 >{{$t('withdraw[10].label')}}</h1>
        <div class="explain">
          1. {{$t('withdraw[11].label')}}：<span class="c-r">{{pickMoneyInfor.checkBetNum}}</span>，{{$t('withdraw[12].label')}}：<span class="c-r">{{pickMoneyInfor.validBetMoney}}</span><br/>
          2. {{$t('withdraw[13].label')}}：<span class="c-r">{{pickMoneyInfor.drawFlag}}</span>
        </div>
        <van-cell-group>
          <van-field v-if="pickMoneyInfor.cardNo" input-align="centen" clearable type="number" :label="$t('withdraw[14].label')" :placeholder="pickMoneyInfor.bankName + '('+$t('withdraw[15].label')+'' + pickMoneyInfor.cardNo.replace('******', '') + ')'" disabled />
          <van-field input-align="centen" clearable type="number" :label="$t('withdraw[16].label')" :placeholder="pickMoneyInfor.userName" disabled />
          <van-field input-align="centen" clearable type="number" :label="$t('scoreChange[2].label')" :placeholder="String(pickMoneyInfor.accountBalance)" disabled />
          <van-field v-model="money" input-align="centen" clearable type="number" :label="$t('withdraw[17].label')" :placeholder="$t('withdraw[18].label')+pickMoneyInfor.minPickMoney+'元'" />
          <van-field v-model="password"   input-align="centen" clearable type="password" :label="$t('bindCard[12].label')" :placeholder="$t('bindCard[13].label')" />
        </van-cell-group>
        <van-button @click="submits" size="normal" type="danger" style="margin:20px 0 20px 10%;">{{$t('withdraw[19].label')}}</van-button>
      </div>
      <!--投注成功后弹窗-->
      <van-dialog v-model="tixianSuccess" :title="$t('withdraw[20].label')"  :confirm-button-text="$t('lottery[18].label')" :before-close="beforeClose">
        <div style="text-align: center">{{$t('withdraw[8].label')}}</div>
      </van-dialog>
      <!--投注成功后弹窗-->
    </main>
  </div>
</template>

<script>
import '@/assets/css/center/withdrawDeposit.less';
import { Dialog } from 'vant';
import { Toast } from 'vant';
export default {
  name: "withdrawDeposit",
  components:{
    "van-dialog": Dialog.Component,
  },
  data(){
    return{
      money: '', //金额
      password: '', //安全码
      pickMoneyInfor:'',//卡号余额等数据
      tixianSuccess:false,//提现成功弹窗
    }
  },
  created() {
    this.getPick_money_data();//获取提款时的提款帐号余额，卡号，银行名称，限制等数据
  },
  mounted() {

  },
  methods:{
    back(){
      this.$router.push('/personal')
    },
    //获取提款时的提款帐号余额，卡号，银行名称，限制等数据
    getPick_money_data:function(){
      let that = this
      this.$root.common.loading(true)
      this.$post('native/pick_money_data.do',{}).then((ret) => {
        if(ret.success) {
          this.pickMoneyInfor = ret.content;
          this.pickMoneyInfor.cardNo ? this.pickMoneyInfor.cardNo = this.pickMoneyInfor.cardNo.substr(-4) : '';
        } else {
          if(!ret.success) {
            Dialog.alert({
              title: that.$t('personal_header[0].label'),
              message: ret.msg
            }).then(() => {
              this.$router.push({
                path: '/login',
              })
            });
          }
        }
        this.$root.common.loading(false)
      })
    },
    beforeClose:function(){
      this.$router.push({
        path: '/personal',
      })
    },
    //提交
    submits:function(){
      let that = this
      if(!this.money){
        Toast(that.$t('withdraw[21].label'));
        return false;
      }else if(!this.password){
        Toast(that.$t('bindCard[13].label'));
        return false;
      }else if(this.pickMoneyInfor.checkBetNum > this.pickMoneyInfor.validBetMoney){
        Toast(that.$t('withdraw[22].label'));
        return false;
      }else{
        this.getPickMoney();//提款
      }
    },
    //提款
    getPickMoney:function(){
      let that = this
      const loading = Toast.loading({
        duration: 0,
        forbidClick: true,
        loadingType: 'spinner',
        message: that.$t('toast[5].label')
      });
      let params = {
        money: this.money,
        repPwd: this.password,
      };
      this.$post('native/post_pick_money.do',params).then(ret=> {
        if(ret.success) {
          loading.clear();
          this.tixianSuccess = true;
        } else {
          Toast.fail(ret.msg);
        }
      })
    },
  }
}
</script>

<style scoped>

</style>
