<template>
  <div>
    <van-row  v-for="(item,listIndex) in hmlist" :key="listIndex" class="p-b-t-10 b-b">
      <van-col span="5"> <span class="typeW">{{item.name}}</span>	</van-col>
      <van-col span="19" class="m-t-5">
        <div class="flex">
          <div @click="selectHM(listIndex,hmIndex,'list1')" v-for="hm1,hmIndex in item.content.list1" class="flex1">
            <span :class="{hmzsTabActive:hm1.isActive}" class="box">{{hm1.hm<10? '0'+hm1.hm: hm1.hm}}</span>
            <p></p>
          </div>
        </div>
        <div class="flex m-t-10">
          <div @click="selectHM(listIndex,hmIndex,'list2')" v-for="hm2,hmIndex in item.content.list2" class="flex1"><span :class="{hmzsTabActive:hm2.isActive}" class="box">{{hm2.hm<10? '0'+hm2.hm: hm2.hm}}</span></div>
        </div>
      </van-col>
    </van-row>
    <div class="h-50"></div>
  </div>
</template>

<script>
    export default {
        data(){
          return{

          }
        },
        props:['hmlist'],
        methods:{
          selectHM:function (listIndex,hmIndex,listName) {
            this.$emit('selectHM',listIndex,hmIndex,listName)
          }
        }
    }
</script>

<style scoped>

</style>
