<template>
  <div id="smp">
    <van-row class="p-b-t-10 b-b">
      <van-col span="24" class="m-t-5 p-l-r-15">
        <div class="clear">
          <div @click="selectHM(hmIndex)" v-for="item,hmIndex in gyjList" :class="{'p-t-5':hmIndex>3}"
               class="pull-l  b-box ">
            <div :class="{hmzsTabActive:item.isActive}" class="box b-e0  p-5 m-r-5">
              <p class="f-s-16">{{ item.name }}</p>
              <p :class="{'c-w':item.isActive,'c-3':!item.isActive}" class="f-s-14 ">{{item.odds}}</p>
            </div>
          </div>
        </div>
      </van-col>
    </van-row>
    <div class="h-50"></div>
  </div>
</template>

<script>
  export default {
    props: ['gyjList'],
    data() {
      return {}
    },
    methods: {
      selectHM: function (hmIndex) {
        this.gyjList[hmIndex].isActive = !this.gyjList[hmIndex].isActive;//设置选择与取消选中样式
        this.$forceUpdate();
        this.$emit('selectHm', hmIndex);

      }
    }
  }
</script>

<style scoped>
  #smp .box {
    display: inline-block;
    min-width: 3.75rem;
    text-align: center;
    font-size: 16px;
    color: #dc3b40;
    background: #faf9f6;
    border-radius: 0;
  }
  #pk10 .hmzsTabActive{
    border: 1px solid #dc3b40;
  }
</style>
