<template>
  <div class="appDownload">
    <header class="public-header">
      <router-link to="/"><van-icon name="arrow-left" /></router-link>
      <span>APP下载</span>
    </header>
    <div class="logo" v-if="appDownUrl.logoUrl">
      <img :src="appDownUrl.logoUrl" alt="">
    </div>
    <div class="content">
      <div class="title">
        <a :href="appDownUrl.iosDownUrl">
          <img src="../assets/images/store_btn.png" alt="">
        </a>
      </div>
      <div class="qrcode">
        <div id="qrcodeIos" ref="qrcodeIos"></div>
      </div>
      <div class="title">
        <a  :href="appDownUrl.AndroidDownUrl">
          <img src="../assets/images/android_btn.png" alt="">
        </a>
      </div>
      <div class="qrcode">
        <div id="qrcodeAndroid" ref="qrcodeAndroid"></div>
      </div>
    </div>
    <div class="tip">
      <span>温馨提示：推荐使用支付宝或者浏览器扫码二维码下载</span>
    </div>
    <nav class="bar-tab">
      <span>版权所有：2009-2021©</span>
    </nav>
  </div>
</template>

<script>
import '@/assets/css/appDownload.less'
import QRCode from "qrcodejs2";
export default {
  name: "appDownload",
  data(){
    return{
      appDownUrl:''
    }
  },
  created() {
    this.getAppDownUrl()
  },
  mounted() {
  },
  methods:{
    getAppDownUrl:function () { //获取互动图片数据
      this.$post('native/getAppDownUrl.do',{},true).then(res=>{
        if(res.success){
          this.appDownUrl = res.content
          this.qrcode(res.content.AndroidDownUrl,res.content.iosDownUrl);
        }
      })
    },
    qrcode:function (android,ios) {
      new QRCode("qrcodeAndroid", {
        width: 120, // 二维码宽度，单位像素
        height: 120, // 二维码高度，单位像素
        text: android // 生成二维码的链接
      });
      new QRCode("qrcodeIos", {
        width: 120, // 二维码宽度，单位像素
        height: 120, // 二维码高度，单位像素
        text: ios // 生成二维码的链接
      });
    },
  }
}
</script>

<style scoped>

</style>
