<template>
  <div class="draw-notice">
    <header class="public-header">
      <a href="javascript:history.back(-1)">
        <van-icon name="arrow-left" />
      </a>
      <span v-if="floder == 'x002145' || floder == 'x002111' || floder == 'x002156' ">{{$route.query.name}}任务状态</span>
      <span v-else-if="floder == 'x002103'">{{$route.query.name}}资讯</span>
      <span v-else-if="floder == 'x002141'">助力结果</span>
      <span v-else>{{$route.query.name}}{{$store.state.escapeList[237]}}结果</span>
    </header>
    <div class="content">
      <ul>
        <li v-for="(item, index) in drawDetailsDataList" :key="index" :class="{backGay:index%2}">
          <div class="list-font" style="width: 100%;padding-left: 10px;box-sizing: border-box">
            <div class="title">
              <span v-if="floder != 'x002145' && floder != 'x002111' && floder != 'x002156'">第{{item.qiHao}}期</span>
              <span v-else>第{{item.qiHao}}单</span>
              <span>{{item.date}}{{item.time}}</span>
            </div>
            <template v-if="floder != 'x002145' && floder != 'x002111' && floder != 'x002156'">
              <div class="result" v-if="item.haoMaList.indexOf('?') != -1">
                <span style="color: red;font-size: 1.6rem">
                  {{$store.state.escapeList[237]}}中...
                </span>
              </div>
              <div class="result" v-else-if="$route.query.lotGroup == 7">
                <div class="result-number">
                <span v-for="(item2, index2) in (item.haoMaList || [])" :key="index2">
                  <img :src="$root.common.resultKsColor(item2)">
                </span>
                </div>
                <div class="result-bigSmall">
                  <span>{{item.gySum}}</span>
                  <span v-if="floder == 'a06615' || floder == 'x002135' || floder == 'x002137' || floder == 'x002143' || floder == 'x002103' || floder == 'd00315' || floder == 'x002153' || floder == 'x002105' || floder == 'x002152' || floder == 'x002159' || floder == 'x002175' || floder == 'x00290' || floder == 'd005108' || floder == 'x002160' || floder == 'x002176' || floder == 'x002117' || floder == 'x002189' || floder == 'x002166' || floder == 'x002158' || floder =='x002174' || floder =='x002181' || floder =='x002170' || floder =='x002141' || floder =='x002184' || floder =='x002192'" :style="{color:item.sizeStr == '大' ? '#005ea6' :'#63a73e' }">{{item.sizeStr | winnNumber}}</span>
                  <span v-else-if="floder == 'x002130'" :style="{color:item.sizeStr == '大' ? '#005ea6' :'#63a73e' }">{{item.sizeStr | x002130Floder}}</span>
                  <span v-else :style="{color:item.sizeStr == '大' ? '#005ea6' :'#63a73e' }">{{item.sizeStr }}</span>
                  <span v-if="floder == 'a06615' || floder == 'x002135' || floder == 'x002137' || floder == 'x002143' || floder == 'x002103' || floder == 'd00315' || floder == 'x002153' || floder == 'x002105' || floder == 'x002152' || floder == 'x002159' || floder == 'x002175' || floder == 'x00290' || floder == 'd005108' || floder == 'x002160' || floder == 'x002176' || floder == 'x002117' || floder == 'x002189' || floder == 'x002166' || floder == 'x002158' || floder =='x002174' || floder =='x002181' || floder =='x002170' || floder =='x002141' || floder =='x002184' || floder =='x002192'" :style="{color:item.sizeStr == '单' ? '#ff9600' :'#0082fe' }">{{item.sdStr | winnNumber}}</span>
                  <span v-else-if="floder == 'x002130'" :style="{color:item.sizeStr == '单' ? '#ff9600' :'#0082fe' }">{{item.sizeStr | x002130Floder}}</span>
                  <span v-else :style="{color:item.sizeStr == '单' ? '#ff9600' :'#0082fe' }">{{item.sdStr}}</span>
                </div>
              </div>
              <div class="result" v-else-if="$route.query.lotGroup == 3">
                <span v-for="(item2, index2) in (item.haoMaList || [])" :key="index2" :style="{background:$root.common.resultNumberColor(item2)}"
                      style="display: block;float: left;color: #ffffff;margin-left: 3px;border-radius: 3px;width: 2.2rem;height: 2.2rem;text-align: center;line-height: 2.2rem;">
                  {{item2}}
                </span>
              </div>
              <div class="result number" v-else>
                <span v-for="(item2, index2) in (item.haoMaList || [])" :key="index2">
                  {{item2}}
                </span>
              </div>
            </template>
            <template v-else>
              <div class="result" v-if="item.haoMaList.indexOf('?') != -1">
                <span style="color: red;font-size: 1.6rem;text-align: right;margin-right: 1rem;">
                  进行中...
                </span>
              </div>
              <div class="result" v-else>
                <span style="color: red;font-size: 1.6rem;text-align: right;margin-right: 1rem;">
                  赠礼结束
                </span>
              </div>
            </template>
          </div>
        </li>
      </ul>
      <div class="load-more" @click="getDetails">
        点击加载更多
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/draw_notice.less'
export default {
  name: "draw_notice_details",
  data(){
    return {
      drawDataList:[],
      drawDetailsDataList:[],
      page:1,
      floder: this.$store.state.stationInfo.content.station.floder || 'x002',
    }
  },
  created() {
    console.log(this.$route.query)
  },
  mounted() {
    this.getDetails()
  },
  methods:{
    // 展示弹出层获取彩种开奖数据
    getDetails:function (){
      let params = {
        lotCode:this.$route.query.code,
        page:this.page++,
        rows:'10'
      }
      this.$fetch('native/draw_notice_details_data.do',params,true,).then((res) => {
        if(res.success){
          for(let index in res.content.list){
            this.drawDetailsDataList.push(res.content.list[index])
          }
        }
      })
    },
  },
  filters:{
    winnNumber:function (number){
      switch (number){
        case '大':
          return '福';
        case '小':
          return '禄';
        case '单':
          return '寿';
        case '双':
          return '喜';
        default:
          return number
      }
    },
    x002130Floder:function (number){
      switch (number) {
        case '大':
          return '同';
        case '小':
          return '舟';
        case '单':
          return '共';
        case '双':
          return '济';
        default:
          return number
      }
    },
  }
}
</script>

<style scoped>

</style>
