<template>
  <div class="index">
  </div>
</template>

<script>
export default {
  name: "index",
  data(){
    return{
      floder: ''
    }
  },
  created() {
    this.getStationInfo()
  },
  mounted() {
  },
  methods:{
    getStationInfo:function (){
      console.log(this.floder)
      if(this.$store.state.stationInfo.success){
        this.floder = this.$store.state.stationInfo.content.station.floder
        document.title = this.$store.state.stationInfo.content.title
        if(this.floder == 'x002157'){
          this.$router.push({path:'/index_guess'})
        } else if (this.floder == 'b168' || this.floder == 'b169' || this.floder == 'b170' || this.floder == 'b171') {
          this.$router.push({path:'/index_t'})
        }else {
          this.$router.push({path:'/index_default'})
        }
      } else {
        this.$fetch('native/getStationInfo.do').then((res) => {
          if(res.success){
            this.floder = res.content.station.floder
            this.$store.commit('pushStationInfo',res)
            document.title = this.$store.state.stationInfo.content.title
            if(this.floder == 'x002157'){
              this.$router.push({path:'/index_guess'})
            } else if (this.floder == 'b168' || this.floder == 'b169' || this.floder == 'b170' || this.floder == 'b171') {
              this.$router.push({path:'/index_t'})
            }else{
              this.$router.push({path:'/index_default'})
            }
          }
        })
      }

    },
  }
}
</script>

<style scoped>

</style>
