<template>
  <div class="serviceCode">
    <header class="public-header">
      <router-link to="/interact"><van-icon name="arrow-left" /></router-link>
      <span>客服二维码</span>
    </header>
    <div class="content">
      <div class="list" v-for="(item,index) in serviceUrl" :key="index">
        <div class="title">
          <span>{{item.name}}</span>
        </div>
        <div class="qrcode">
          <img :src="item.qrcodelink" alt="">
        </div>
      </div>
    </div>
    <nav class="bar-tab">
      <span>版权所有：2009-2021©</span>
    </nav>
  </div>
</template>

<script>
import '@/assets/css/serviceCode.less'
export default {
  name: "serviceCode",
  data(){
    return{
      serviceUrl:''
    }
  },
  created() {
    this.getStationConfig()
  },
  mounted() {
  },
  methods:{
    getStationConfig:function () { //获取互动图片数据
      this.$post('native/getStationConfig.do',{},true).then(res=>{
        if(res.success == true){
          this.serviceUrl = res.content[0].qrcodelink
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
