<template>
  <div class="mode">
    <div class="shortcut-select" v-if="params.className == '连码' || params.className == '全不中'">
      <table>
        <tbody>
          <tr>
            <td v-for="(item, index) in yearList.slice(0,6)" :class="{'active':sxActive.indexOf(index) != -1}" :key="index" @click="shortcutClick(item,index)">{{item}}</td>
          </tr>
          <tr>
            <td v-for="(item, index) in yearList.slice(6)" :class="{'active':sxActive.indexOf(index+6) != -1}" :key="index" @click="shortcutClick(item,index+6)">{{item}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="list" v-for="(item, index) in sonData.templateList" :key="index">
      <div class="title">
        {{item.name}}
      </div>
      <div class="number-mode" v-if="sonData.model == 2">
        <div class="number" @click="clickNumberCheck(index,index2)" :class="{active:list.isActive}" v-for="(list, index2) in sonData.templateList[index].oddPlayItems" :key="index2">
          <div class="name" :class="{'number-img':list.name >= 0}">{{list.name}}</div>
          <div class="odds">
            <van-checkbox v-model="list.isActive" checked-color="#FF9726" shape="square"></van-checkbox>
          </div>
        </div>
      </div>
      <div class="number-mode" v-else>
        <div class="number" @click="clickNumber(index,index2)" :class="{active:list.isActive}" v-for="(list, index2) in sonData.templateList[index].oddPlayItems  " :key="index2">
          <div class="name" :class="{'number-img':list.name >= 0}">{{list.name}}</div>
          <div class="odds"><b>{{list.odds}}</b></div>
          <div class="input" v-if="betModel == 1"><input type="number" v-model="list.money" @input="clickNumber(index,index2)"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import $ from  'jquery'
import lotteryHtml from '@/assets/json/lotteryTemplate/lhc.json'
import { Toast } from 'vant'
export default {
  name: "official",
  props:['sonData','params','lottery','betModel'],
  data(){
    return{
      isActive:'',
      yearList:['猴','鸡','狗','猪','鼠','牛','虎','兔','龙','蛇','马','羊',],
      year:'',
      sxArr:[
        [1, 13, 25, 37, 49],
        [12, 24, 36, 48],
        [11, 23, 35, 47],
        [10, 22, 34, 46],
        [9, 21, 33, 45],
        [8, 20, 32, 44],
        [7, 19, 31, 43],
        [6, 18, 30, 42],
        [5, 17, 29, 41],
        [4, 16, 28, 40],
        [3, 15, 27, 39],
        [2, 14, 26, 38],
      ],
      sxActive:[],
    }
  },
  created:function(){
    this.showTemplate()
    this.getYear()
  },
  mounted:function(){

  },
  watch:{

  },
  methods:{
    getYear:function (){
      let year = (new Date().getFullYear() % 12) + 1
      this.year = this.yearList[year]
      this.getNumber(year)
    },
    getNumber:function (num){
      for(let i = 0; i < num - 1; i++){
        this.yearList.push(this.yearList[0])
        this.yearList.splice(0,1)
      }
    },
    shortcutClick:function (item,index){
      let list = 0 ,that = this , is = true
      if(that.sxActive.length >= 2 && that.sxActive.indexOf(index) == -1){
        Toast('只能包选两组生肖')
        return false
      }
      for(let i in that.sxActive){
        if(that.sxActive[i] == index){
          that.sxActive.splice(i,1)
          is = false
        }
      }
      if(is){
        that.sxActive.push(index)
      }
      for(let i = 0; i < this.yearList.length; i++){
        if(this.yearList[i] == item){
          list = that.sxArr[i]
        }
      }
      for(let index in list){
        that.clickNumberCheck(0,list[index] - 1 )
      }
    },
    clickNumber:function (index,index2){
      this.$parent.addCart(index,index2)
      this.$forceUpdate()
    },
    clickNumberCheck:function (index,index2){
      this.$parent.addCartCheck2(index,index2)
      this.$forceUpdate()
    },
    // 给小于10的号码加零
    addZero:function(num,three){
      if(three){
        num<10? num = '0'+ num: num = ''+num;
        num<100? num = '0'+ num: num = ''+num;
      } else {
        num<10? num = '0'+ num: num = ''+num;
      }
      return num;
    },
    // 判断当前年份生肖
    getAnimal:function(year){
      let animals = ["猴","鸡","狗","猪","鼠","牛","虎","兔","龙","蛇","马","羊"], index = year % 12;
      return animals[index]
    },
    showTemplate:function () {
      let that = this
      let data = lotteryHtml.data
      that.sxActive = []
      that.sonData.model = 1
      for(let i in data){
        if(data[i].playName == this.params.sonCode){
          that.sonData.templateList = data[i].data
          console.log(this.params.className)
          // 获取当前玩法数据
          $.each(this.lottery.rules, function (index, item) {
            $.each(item.rules, function (index2, item2) {
              if(item2.code == that.params.sonCode){
                that.sonData.thatPlayType = item.rules
              }
            })
          })
          // 填充玩法数据
          $.each(that.sonData.thatPlayType, function (index, item) {
            if(item.code == that.params.sonCode){
              let dxdzzh = '' ,list = [];
              switch (that.params.sonCode) {
                case 'tm_a':
                case 'zm_a':
                case 'zm_b':
                  list = [];
                  dxdzzh = item.oddPlayItems.slice(0, 49)
                  // 填充数字
                  for (let i = 0; i < dxdzzh.length; i++) {
                    let obj = dxdzzh[i];
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = dxdzzh[i].name;
                    newobj.classify = dxdzzh[i].name;
                    list.push(newobj)
                  }
                  that.sonData.templateList[0].oddPlayItems = list
                  list = [];
                  dxdzzh = item.oddPlayItems.slice(49)
                  // 填充其他
                  for (let i = 0; i < dxdzzh.length; i++) {
                    let obj = dxdzzh[i];
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = dxdzzh[i].name;
                    newobj.classify = dxdzzh[i].name;
                    list.push(newobj)
                  }
                  that.sonData.templateList[1].oddPlayItems = list
                  break;
                case 'tm_b':
                case 'z1t':
                case 'z2t':
                case 'z3t':
                case 'z4t':
                case 'z5t':
                case 'z6t':
                case 'bb':
                  list = [];
                  dxdzzh = item.oddPlayItems
                  // 填充数字
                  for (let i = 0; i < dxdzzh.length; i++) {
                    let obj = dxdzzh[i];
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = dxdzzh[i].name;
                    newobj.classify = dxdzzh[i].name;
                    list.push(newobj)
                  }
                  that.sonData.templateList[0].oddPlayItems = list
                  break;
                case 'zm16':
                  that.lotteryTemplateType = 2
                  dxdzzh = item.oddPlayItems
                  for(let n in that.sonData.templateList) {
                    list = [];
                    // 填充数字
                    for (let i = 0; i < dxdzzh.length; i++) {
                      let obj = dxdzzh[i];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = dxdzzh[i].name;
                      newobj.classify = that.sonData.templateList[n].name + '--' + dxdzzh[i].name;
                      list.push(newobj)
                    }
                    that.sonData.templateList[n].oddPlayItems = list
                  }
                  break;
                case 'eqz':
                case 'ezt':
                case 'sqz':
                case 'szy':
                case 'szezzs':
                case 'szes':
                case 'szezze':
                case 'eztzzt':
                case 'eztzze':
                case 'tc':
                case 'siqz':
                case 'w_bz':
                case 'liu_bz':
                case 'qi_bz':
                case 'ba_bz':
                case 'jiu_bz':
                case 'shi_bz':
                case 'shiy_bz':
                case 'shie_bz':
                  that.sonData.model = 2
                  that.sonData.zuxuanPeilv = item.oddPlayItems[0].odds
                  dxdzzh = item.oddPlayItems[0]
                  for(let n in that.sonData.templateList) {
                    list = [];
                    // 填充数字
                    for (let i = 1; i < 50; i++) {
                      let obj = dxdzzh;
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = that.addZero(i);
                      newobj.classify = that.addZero(i);
                      list.push(newobj)
                    }
                    that.sonData.templateList[n].oddPlayItems = list
                  }
                  break;
                case 'ztxztw':
                  list = [];
                  dxdzzh = ['鼠','牛','虎','兔','龙','蛇','马','羊','猴','鸡','狗','猪']
                  // 填充数字
                  for (let i = 0; i < dxdzzh.length; i++) {
                    let obj = ''
                    if(dxdzzh[i] == that.getAnimal(new Date().getFullYear())){
                      obj = item.oddPlayItems[1];
                    } else {
                      obj = item.oddPlayItems[0];
                    }
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = dxdzzh[i];
                    newobj.classify = dxdzzh[i];
                    list.push(newobj)
                  }
                  that.sonData.templateList[0].oddPlayItems = list
                  list = [];
                  // 填充其他
                  for (let i = 0; i < 10; i++) {
                    let obj = ''
                    if(i == 0){
                      obj = item.oddPlayItems[2];
                    } else {
                      obj = item.oddPlayItems[3];
                    }
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = i + '尾';
                    newobj.classify = i + '尾';
                    list.push(newobj)
                  }
                  that.sonData.templateList[1].oddPlayItems = list
                  break;
                case 'txsm':
                case 'hx_ex':
                case 'hx_sanx':
                case 'hx_six':
                case 'hx_wux':
                case 'hx_liux':
                case 'hx_qix':
                case 'hx_bax':
                case 'hx_jiux':
                case 'hx_shix':
                case 'hx_syx':
                case 'erx_lz':
                case 'sanx_lz':
                case 'six_lz':
                case 'wux_lz':
                case 'erx_lbz':
                case 'sanx_lbz':
                case 'six_lbz':
                  if(item.code != 'txsm'){
                    that.sonData.model = 2
                    that.sonData.zuxuanPeilv = item.oddPlayItems[0].odds
                  }
                  list = [];
                  dxdzzh = ['鼠','牛','虎','兔','龙','蛇','马','羊','猴','鸡','狗','猪']
                  // 填充数字
                  for (let i = 0; i < dxdzzh.length; i++) {
                    let obj = ''
                    if(dxdzzh[i] == that.getAnimal(new Date().getFullYear())){
                      obj = item.oddPlayItems[1];
                    } else {
                      obj = item.oddPlayItems[0];
                    }
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = dxdzzh[i];
                    newobj.classify = dxdzzh[i];
                    list.push(newobj)
                  }
                  that.sonData.templateList[0].oddPlayItems = list
                  break;
                case 'erw_lz':
                case 'sanw_lz':
                case 'siw_lz':
                case 'erw_lbz':
                case 'sanw_lbz':
                case 'siw_lbz':
                  that.sonData.model = 2
                  that.sonData.zuxuanPeilv = item.oddPlayItems[0].odds
                  list = [];
                  // 填充数字
                  for (let i = 0; i < 10; i++) {
                    let obj = ''
                    if(i == 0){
                      obj = item.oddPlayItems[1];
                    } else {
                      obj = item.oddPlayItems[0];
                    }
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = i + '尾';
                    newobj.classify = i + '尾';
                    list.push(newobj)
                  }
                  that.sonData.templateList[0].oddPlayItems = list
                  break;
              }
            }
          })
        }
      }
    },
  }
}
</script>

<style scoped>

</style>
