<template>
  <div class="account_details">
    <personal_header @get_lottery_order="getAccountDetail" :headerData="headerData"></personal_header>
    <div class="content">
      <div class="content-list" v-if="accountDetail.length > 0">
        <van-pull-refresh v-model="refreshing" @refresh="onRefresh">
          <van-list v-model="loading" :finished="finished" finished-text="没有更多了" @load="getAccountDetail" :offset="50">
            <div class="list-wrap" v-for="(item,index) in accountDetail" :key="index" >
              <a href="javascript:void(0)">
                <p>
                  <span>{{type[typeStatus - 1].name}}方式: <em>{{typeFilter(item.type)}}</em></span>
                  <span style="color:#5cb85c;" v-if="item.status == 2">处理成功</span>
                  <span  style="color: red;" v-else-if="item.status == 1">处理中</span>
                  <span style="color: red;" v-else-if="item.status == 3">处理失败</span>
                  <span style="color:red;" v-if="item.status == 4">已取消</span>
                  <span style="color:#5cb85c;" v-if="item.status == 5">已过期</span>
                </p>
                <p>
                  <span>{{type[typeStatus - 1].name}}金额：
                    <em v-if="typeStatus == 1">{{item.money}}</em>
                    <em v-if="typeStatus == 2">{{item.drawMoney}}</em>
                  </span>
                </p>
                <p><span>{{type[typeStatus - 1].name}}时间：<em>{{$root.common.getMyDate(item.createDatetime)}}</em></span></p>
                <p style="display: inline-block;">{{type[typeStatus - 1].name}}备注：<span>{{item.opDesc || item.remark}}</span></p>
              </a>
            </div>
          </van-list>
        </van-pull-refresh>
      </div>
      <div style="text-align: center;background: #ffffff;font-size: 1.8rem;height: 100vh;padding-top: 96px" v-else>
        <img src="../../assets/images/no-data.png" alt="data" style="width:16.5rem;height:16.5rem;">
        <br>
        <span style="font-size: 1.8rem;text-align: center;">暂无数据</span>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/center/account_details.less'
import personal_header from '@/components/include/personal_header'
import {Dialog} from "vant";
export default {
  name: "account_details",
  components:{
    personal_header
  },
  data(){
    return{
      headerData:{title:'购单记录',filter:'accountDetails',popupHeight:'28.4rem'},
      accountDetail:[],
      accountDetailList:{
        aggsData:{}
      },
      typeStatus:1,
      type:[
        {type:1,name:this.$store.state.escapeList[17],url:'native/comrd.do'},
        {type:2,name:this.$store.state.escapeList[1],url:'native/drawrd.do'},
      ],//1 为充值记录，2 为提款记录
      params:{
        startTime:'',
        endTime:'',
        type:'',
        page:1,
        rows:6,
      },
      refreshing:false, //是否处于加载状态
      loading:false, //是否处于架子啊状态，加载过程中不触发load 事件
      finished:false,//是否已加载完成，加载完成不在触发,这里是改变text
      floder: this.$store.state.stationInfo.content.station.floder || 'x002',
    }
  },
  created() {

  },
  mounted() {

  },
  methods:{
    //查询提款充值记录
     getAccountDetail:function (arg={aType:this.typeStatus}){
       this.typeStatus = arg.aType
       if ('endTime' in arg){
         this.params.endTime = arg.endTime
         this.params.startTime = arg.startTime
         this.params.type = arg.aTtype
         this.params.status = arg.aStatus
         this.accountDetail = []
         this.params.page = 0
         this.finished = false;
         this.loading = true;
       }
       this.params.page ++
       // this.params.startTime = '2018-05-03 00:00:00'
       this.$post(this.type[this.typeStatus - 1].url,this.params,true).then(res=>{
         if ('isLogin' in res && res.isLogin == false){
           Dialog.alert({
             title: '登陆提示',
             message: res.msg
           }).then(() => {
             this.$router.push({
               path: '/login',
             })
           });
           return
         }
         if (this.refreshing){
           this.accountDetail = []
           this.refreshing = false
         }

         this.accountDetail = [...this.accountDetail,...res.list]
         this.accountDetailList = res

         this.loading = false
         if (res.totalCount  <= (parseInt(this.params.rows) * parseInt(this.params.page))){
           this.finished = true
         }

       })
     },
    //清空数据
    onRefresh(){
      this.finished = false;
      this.loading = true;
      this.params.page = 0
      console.log(5555)
      this.getAccountDetail({aType: this.typeStatus });
    },
  },
  computed:{
    typeFilter(type){
      if (!type) console.log(type)
      return function(type){
        switch (type) {
          case 1:
            return '人工购币';
          case 2:
            return '人工扣币';
          case 3:
            return '在线回款失败';
          case 4:
            return '在线回款';
          case 5:
            return '在线支付';
          case 6:
            return '快速购币';
          case 7:
            return '一般购币';
          case 8:
            return '虚拟币购币';
          case 18:
            return '活动中奖';
          case 19:
            return "兑换积分";
          case 20:
            return "积分兑换";
          case 54:
            return "回款取消";
          case 55:
            return "购币取消";
          case 78:
            return "晋级赠送";
          case 79:
            return "注册赠送";
          case 80:
            return "存款赠送";
          case 130:
            return "订单下单";
          case 131:
            return "订单匹配";
          case 132:
            return "订单取消";
          default:
            return `${type} 未知`
        }
      }
    },
  },
  filters:{
    typeStatusFilters:function (status){
      switch (status) {
        case 1:
          return '处理中';
        case 2:
          return '处理成功';
        case 3:
          return '处理失败';
        case 4:
          return '已取消';
        case 5:
          return '已过期';
      }
    },

  }
}
</script>

<style scoped>

</style>
