<template>
  <div class="balanceGemInfo">
    <header class="balance_header">
      <div class="left">
        <van-icon name="arrow-left" color="#ffffff"/>
        <span>返回</span>
      </div>
      <div class="header_background"></div>
    </header>
    <main>
      <div class="main_wrapper">
        <div class="content">
          <div class="content_oneself_info">
            <div class="row"></div>
            <div class="row" style="color: #333333;font-size: 13px;">总金额（{{$store.state.moneyUnit}}）</div>
            <div class="row" style="font-size: 20px;font-weight: 600" id="totalMoney">0</div>
            <div style="height: 10px"></div>
            <div class="row" style="color: #333333">
              <div class="lucre">昨日收益 <span >0.00</span>{{$store.state.moneyUnit}}</div></div>
            <div class="row">
            </div>
            <div class="row">
              <div class="part">累计收益（{{$store.state.moneyUnit}}）</div>
              <div class="part">七日年化（%）</div>
            </div>
            <div class="row">
              <div class="part" >0.00</div>
              <div class="part" >0.00</div>
            </div>
            <div class="row"></div>
            <div class="row" style="height: 49px;">
              <router-link :to="{path:'/balance_gemInfo_GemRecord',query:{option:'out'}}" tag="div" class="part" >
                <span style="background: #fcf6ee;color: #ff6633"  >转出</span>
              </router-link>
              <router-link :to="{path: '/balance_gemInfo_GemRecord',query:{option:'entry'}}" tag="div" class="part">
                <span style="background: #ff6633;color: #fcf6ee"  >转入</span>
              </router-link>
            </div>
          </div>
          <div class="content_record">
            <div class="classify_butotn" @click="money_list=!money_list" >
              <span>全部</span>
              <van-icon name="play" class="clickClass"/>
            </div>
            <div class="hint_text">显示最近30天记录</div>
          </div>
        </div>
        <div class="money_list" v-show="money_list">
          <span >全部</span>
          <span >收益</span>
          <span >转入</span>
          <span >转出</span>
        </div>
        <div class="record">
          <ul class="record_wrapper" v-for="(item,index) in 5 " :key="index">
            <li class="record_item">
              <div class="item-left">
                <span>转入{{item}}</span>
                <span>2012-12-20</span>
              </div>
              <div class="item-right">
                <span>-100</span>
                <span>2583.55545</span>
              </div>
            </li>
          </ul>
          <div class="massive">
            点击加载更多
          </div>
        </div>
      </div>
    </main>
  </div>
</template>
<script>
import '@/assets/css/center/balance_gemInfo.less';
export default {
  name: "balance_gemInfo",
  data(){
    return{
      money_list:false
    }
  },
  mounted:{

  },
  methods:{

  },
  computed:{

  }
}
</script>
<style scoped>

</style>
