<template>
  <div class="lottery_record" :style="lotteryList.length <= 0 ? 'background: #ffffff' : ''">
    <personal_header @get_lottery_order="get_lottery_order" :headerData="headerData"></personal_header>
    <div class="content">
      <div class="content-list" v-if="lotteryList.length > 0">
        <van-pull-refresh v-model="refreshing" @refresh="onRefresh" >
          <van-list v-model="loading" :finished="finished" finished-text="没有更多了" @load="get_lottery_order" :offset="50">
            <div class="list-wrap" v-for="(item,index) in lotteryList" :key="index" @click="getBcLotteryOrderDetail(item)">
              <a href="javascript:void(0)">
                <p>
                  <span >商家: <em>{{item.lotName}}</em></span>
                  <span >{{$store.state.moneyUnit}}: <em class="red">{{item.buyMoney}}</em>个</span>
                </p>
                <p>
                  <span >内容：<em>{{drawData(item.haoMa)}}</em></span>
                  <span><em class="red" v-if="item.status == 1  && 'cancel_switch' in lotteryData  && lotteryData.cancel_switch== 'on'" @click="cancel(item.orderId)">取消匹配</em></span>
                </p>
                <p><span>时间：<em>{{item.createTime}}</em></span>
                  <span style="color:#5cb85c;" v-if="item.status == 2">匹配成功</span>
                  <span  class="blue" v-else-if="item.status == 1">匹配中</span>
                  <span style="color: red;" v-else>匹配失败</span>
                </p>
                <p style="display: inline-block;">{{$store.state.escapeList[6]}}：<span>{{item.qiHao}}</span></p>
              </a>
            </div>
          </van-list>
        </van-pull-refresh>
      </div>
      <div style="text-align: center;background: #ffffff;font-size: 1.8rem;margin-top: 50px;" v-else>
        <img src="../../assets/images/no-data.png" alt="data" style="width:16.5rem;height:16.5rem;">
        <br>
        <span style="font-size: 1.8rem;text-align: center;">暂无数据</span>
      </div>
      <van-popup v-model="detailStatus" position="bottom" :style="{ height: '100%','z-index':3001 }" @click="detailStatus = false" class="content-list-detail"  >
        <div class="detail-title" style="position: relative;z-index: 3001;">
          <div class="title">订单详情</div>
          <div class="close" @click="detailStatus = false">关闭</div>
        </div>
        <div class="bg">
          <img :src="detailsData.imgUrl" alt="logo" class="title">
        </div>
        <div class="reclrd-code">
          <h1>{{detailsData.lotName}}</h1>
          <span>订单单号：<em>{{detailsData.orderId}}</em></span>
        </div>
        <div class="detail-content">
          <table  border="0" cellpadding="0" cellspacing="0"  >
            <tbody>
              <tr>
                <td class="bttd"> 姓名 </td>
                <td>{{detailsData.account}}</td>
                <td class="bttd">下单金额</td>
<!--                <td v-if="detailsData.lotCode == 'LHC' || detailsData.lotCode == 'SFLHC' || detailsData.lotCode == 'TMLHC' || detailsData.lotCode == 'WFLHC' || detailsData.lotCode == 'HKMHLHC'">{{}}</td>-->
                <td style="width: 15%;" >{{ (detailsData.buyMoney/detailsData.model).toFixed(2) }}</td>
              </tr>
              <tr>
                <td class="bttd">下单时间</td>
                <td>{{detailsData.createTime}}</td>
                <td class="bttd">下单数量</td>
                <td>{{detailsData.buyZhuShu}}</td>
              </tr>
              <tr>
                <td class="bttd">下单期号</td>
                <td >{{detailsData.qiHao}}</td>
                <td class="bttd">分销结果</td>
                <td>{{detailsData.winMoney ? detailsData.winMoney : 0.00}}</td>
              </tr>
<!--              <tr>-->
<!--                <td class="bttd">匹配结果</td>-->
<!--                <td colspan="3">{{detailsData.lotteryHaoMa}}</td>-->
<!--              </tr>-->
              <tr>
                <td class="bttd">匹配结果</td>
                <td colspan="3" style="color:#5cb85c;" v-if="detailsData.status == 2">匹配成功</td>
                <td colspan="3" style="color:#0894ec " v-else-if="detailsData.status == 1">匹配中</td>
                <td colspan="3" style="color:#ec2829 " v-else>{{ listStatus(detailsData.status)}}</td>
              </tr>
              <tr>
                <td class="bttd">下单内容</td>
                <td colspan="3" >{{drawData(detailsData.haoMa) }}</td>
              </tr>
            </tbody>
          </table>
          <div class="matches">
            <img src="../../assets/images/error.png" alt="error" v-if="detailsData.status != 2">
            <img src="../../assets/images/success.png" alt="success" v-else>
          </div>

        </div>
        <router-link :to="{path:'/throwinto',query:{code:detailsData.lotCode,lotGroup:7,class:'record'}}"  tag="div" class="button">再来一单</router-link>
      </van-popup>
    </div>
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import '@/assets/css/center/lottery_records.less'
import personal_header  from '@/components/include/personal_header'
import foot_nav from '@/components/include/foot_nav'
import {Dialog, Toast} from 'vant';
export default {
  name: "lottery_record",
  components:{
    personal_header,foot_nav
  },
  data(){
    return{
      headerData:{title: '订单记录', filter: 'isCpOnOff', popupHeight: '22.1rem'},
      params:{
        startTime:'',
        endTime:'',
        code:'',
        status:'',
        page:0,
        rows:6,
        lhc:0
      },
      lotteryList:[],
      lotteryData:{},
      detailsData:{},
      detailStatus:false,
      disabledRef:false,
      refreshing:false, //是否处于加载状态
      loading:false, //是否处于架子啊状态，加载过程中不触发load 事件
      finished:false,//是否已加载完成，加载完成不在触发,这里是改变text
      floder: this.$store.state.stationInfo.content.station.floder || 'x002',
      pseudoDataClass:0,
      pseudoData:[
        {
          title:'点赞|玫瑰|小心心|神奇海螺',
          key:'like',
          titleImg:[
            {id:1,imgUrl:require('../../assets/images/like/1.1.png')},
            {id:2,imgUrl:require('../../assets/images/like/1.2.png')},
            {id:3,imgUrl:require('../../assets/images/like/1.3.png')},
            {id:4,imgUrl:require('../../assets/images/like/1.4.png')},
          ],
          throwInto:[{name:'大',showName:'点赞'},{name:'小',showName:'玫瑰'},{name:'单',showName:'小心心'},{name:'双',showName:'神奇海螺'},],
          data:[
            {id:1,imgUrl:require('../../assets/images/like/1.png')},
            {id:2,imgUrl:require('../../assets/images/like/2.png')},
            {id:3,imgUrl:require('../../assets/images/like/3.png')},
            {id:4,imgUrl:require('../../assets/images/like/4.png')},
            {id:5,imgUrl:require('../../assets/images/like/5.png')},
            {id:6,imgUrl:require('../../assets/images/like/6.png')},
            {id:7,imgUrl:require('../../assets/images/like/7.png')},
            {id:8,imgUrl:require('../../assets/images/like/8.png')},
            {id:9,imgUrl:require('../../assets/images/like/9.png')},
            {id:10,imgUrl:require('../../assets/images/like/10.png')},
            {id:11,imgUrl:require('../../assets/images/like/11.png')},
            {id:12,imgUrl:require('../../assets/images/like/12.png')},
            {id:13,imgUrl:require('../../assets/images/like/13.png')},
            {id:14,imgUrl:require('../../assets/images/like/14.png')},
            {id:15,imgUrl:require('../../assets/images/like/15.png')},
            {id:16,imgUrl:require('../../assets/images/like/16.png')},
          ]
        },
        {
          title:this.$store.state.moneyType,
          key:'goods',
          titleImg:[],
          throwInto:this.$store.state.moneyTypeInfo,
          data:[
            {id:1,imgUrl:require('../../assets/images/goods/1.png')},
            {id:2,imgUrl:require('../../assets/images/goods/2.png')},
            {id:3,imgUrl:require('../../assets/images/goods/3.png')},
            {id:4,imgUrl:require('../../assets/images/goods/4.png')},
            {id:5,imgUrl:require('../../assets/images/goods/5.png')},
            {id:6,imgUrl:require('../../assets/images/goods/6.png')},
            {id:7,imgUrl:require('../../assets/images/goods/7.png')},
            {id:8,imgUrl:require('../../assets/images/goods/8.png')},
            {id:9,imgUrl:require('../../assets/images/goods/9.png')},
            {id:10,imgUrl:require('../../assets/images/goods/10.png')},
            {id:11,imgUrl:require('../../assets/images/goods/11.png')},
            {id:12,imgUrl:require('../../assets/images/goods/12.png')},
            {id:13,imgUrl:require('../../assets/images/goods/13.png')},
            {id:14,imgUrl:require('../../assets/images/goods/14.png')},
            {id:15,imgUrl:require('../../assets/images/goods/15.png')},
            {id:16,imgUrl:require('../../assets/images/goods/16.png')},
          ]
        },
        {
          title:this.$store.state.moneyType,
          key:'cosmetic',
          titleImg:[],
          throwInto:this.$store.state.moneyTypeInfo,
          data:[
            {id:1,imgUrl:require('../../assets/images/cosmetic/1.png')},
            {id:2,imgUrl:require('../../assets/images/cosmetic/2.png')},
            {id:3,imgUrl:require('../../assets/images/cosmetic/3.png')},
            {id:4,imgUrl:require('../../assets/images/cosmetic/4.png')},
            {id:5,imgUrl:require('../../assets/images/cosmetic/5.png')},
            {id:6,imgUrl:require('../../assets/images/cosmetic/6.png')},
            {id:7,imgUrl:require('../../assets/images/cosmetic/7.png')},
            {id:8,imgUrl:require('../../assets/images/cosmetic/8.png')},
            {id:9,imgUrl:require('../../assets/images/cosmetic/9.png')},
            {id:10,imgUrl:require('../../assets/images/cosmetic/10.png')},
            {id:11,imgUrl:require('../../assets/images/cosmetic/11.png')},
            {id:12,imgUrl:require('../../assets/images/cosmetic/12.png')},
            {id:13,imgUrl:require('../../assets/images/cosmetic/13.png')},
            {id:14,imgUrl:require('../../assets/images/cosmetic/14.png')},
            {id:15,imgUrl:require('../../assets/images/cosmetic/15.png')},
            {id:16,imgUrl:require('../../assets/images/cosmetic/16.png')},
          ]
        },
      ],
    }
  },
  created() {

  },
  mounted() {

  },
  methods:{
    //查询投注记录
    get_lottery_order(arg=''){
      if (arg){
        this.params.endTime = arg.endTime
        this.params.startTime = arg.startTime
        this.params.code = arg.code
        this.params.status = arg.status
        this.params.page = 0
        this.finished = false;
        this.loading = true;
        this.lotteryList = []
      }
      this.params.page ++
      this.$post('native/get_lottery_order.do',this.params,true).then(res=>{
        if ('isLogin' in res && res.isLogin == false){
          Dialog.alert({
            title: '登陆提示',
            message: res.msg
          }).then(() => {
            this.$router.push({
              path: '/login',
            })
          });
          return
        }
        if (this.refreshing){
          this.lotteryList = []
          this.refreshing = false
        }
        console.log(res.page.list)
        this.lotteryList = [...this.lotteryList,...res.page.list]
        this.lotteryData = res

        this.loading = false
        if (res.page.totalCount  <= (parseInt(res.page.currentPageNo) * parseInt(res.page.pageSize))){
          this.finished = true
        }

      })
    },
    //清空数据
    onRefresh(){
      this.finished = false;
      this.loading = true;
      this.params.page = 0
      this.get_lottery_order();
    },
    //撤单
    cancel: function(orderId) {
      let that = this
      this.$post( 'native/cancelOrder.do', {orderId: orderId, lotCode: ''}).then(res=>{
        if(res.success) {
          Toast.success(that.$store.state.escapeList[110]);
        } else {
          // Toast.fail(res.msg);
          Toast.fail(that.$store.state.escapeList[111]);
        }
      })
    },
    //查询详细记录
    getBcLotteryOrderDetail:function (item){
      this.$root.common.loading(true)
      this.$post('lotteryBet/getBcLotteryOrderDetail.do',{orderId:item.orderId,lotCode:item.lotCode},true).then(res=>{
        if (res){
          this.detailsData = res;
          this.detailStatus = true
          this.detailsData.imgUrl = item.imgUrl
          this.detailsData.lotCode = item.lotCode
          this.$root.common.loading(false)
        }
      })
    }
  },
  computed:{
    listStatus(status){
      if (!status) console.log(status)
        return function (status){
          if (status == 1) return '匹配中';
          if (status == 2) return '匹配成功';
          if (status == 4) return '取消匹配';
          if (status == 8) return '和局';
          if (status == 3) return '匹配失败';
        }
    },
    drawData(value){
      if (!value) console.log(value)
      return (value)=>{
        switch (value){
          case '大':
            return this.pseudoData[this.$store.state.pseudoDataClass].throwInto[0].showName;
          case '小':
            return this.pseudoData[this.$store.state.pseudoDataClass].throwInto[1].showName;
          case '单':
            return this.pseudoData[this.$store.state.pseudoDataClass].throwInto[2].showName;
          case '双':
            return this.pseudoData[this.$store.state.pseudoDataClass].throwInto[3].showName;
        }
      }
    }
  },
  filters:{
  },
  watch:{

  }

}
</script>

<style scoped >

</style>
