<template>
  <div class="mnyrecord">
    <personal_header @get_lottery_order="accountChangeRecord" :headerData="headerData"></personal_header>
    <div class="content" :style="mnyrecordList.length > 0 ? '' :'background:#fff;'">
      <div class="content-list" v-if="mnyrecordList.length > 0">
        <van-pull-refresh v-model="refreshing" @refresh="onRefresh" >
          <van-list v-model="loading" :finished="finished" finished-text="没有更多了" @load="accountChangeRecord" :offset="50">
            <div class="list-wrap" v-for="(item,index) in mnyrecordList" :key="index" >
              <a href="javascript:void(0)">
                <p>
                  <span >类型：<em>{{ typeFilter(item.type) }}</em></span>
                </p>
                <p><span>订单号：<em>{{item.orderId}}</em></span></p>
                <p ><span>变动前金额：<em class="blue">{{item.beforeMoney}} </em> {{$store.state.moneyUnit}}</span></p>
                <p ><span>变动金额：</span><em class="red">{{item.money}}</em> {{$store.state.moneyUnit}}</p>
                <p ><span>变动后金额：</span><em class="green">{{item.afterMoney}}</em> {{$store.state.moneyUnit}}</p>
                <p><span>处理时间：</span><em>{{$root.common.getMyDate(item.createDatetime)}}</em></p>
                <p ><span>订单详情：</span>{{item.remark | drawFilter}}</p>
              </a>
            </div>
          </van-list>
        </van-pull-refresh>
      </div>
      <div style="text-align: center;background: #ffffff;font-size: 1.8rem;padding-top: 50px" v-else>
        <img src="../../assets/images/no-data.png" alt="data" style="width:16.5rem;height:16.5rem;">
        <br>
        <span style="font-size: 1.8rem;text-align: center;">暂无数据</span>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/center/mnyrecord.less'
import personal_header from '@/components/include/personal_header'
import {Dialog} from "vant";
export default {
  name: "mnyrecord",
  components:{
    personal_header
  },
  data(){
    return{
      headerData:{title:'变动记录',filter:'isChangeMoney',popupHeight:'18.4rem'},
      mnyrecordList:[],
      mnyrecordData:{},
      params:{
        startTime:'',
        endTime:'',
        type:'',
        page:0,
        rows:4,
      },
      refreshing:false, //是否处于加载状态
      loading:false, //是否处于架子啊状态，加载过程中不触发load 事件
      finished:false,//是否已加载完成，加载完成不在触发,这里是改变text
      floder: this.$store.state.stationInfo.content.station.floder || 'x002',
      unit:'元'
    }
  },
  created() {
    this.unitType()
  },
  mounted() {
  },
  methods:{
    accountChangeRecord(arg=''){
      if (arg){
        this.params.endTime = arg.endTime
        this.params.startTime = arg.startTime
        this.params.type = arg.type
        this.params.page = 0
        this.finished = false;
        this.loading = true;
        this.mnyrecordList = []
      }
      this.params.page ++
      this.$post('native/mnyrecordlist.do',this.params,true).then(res=>{
        if ('isLogin' in res && res.isLogin == false){
          Dialog.alert({
            title: '登陆提示',
            message: res.msg
          }).then(() => {
            this.$router.push({
              path: '/login',
            })
          });
          return
        }
        if (this.refreshing){
          this.mnyrecordList = []
          this.refreshing = false
        }
          this.mnyrecordList = [...this.mnyrecordList,...res.list]
          this.mnyrecordData = res

          this.loading = false
          if (res.totalCount  <= (parseInt(res.currentPageNo) * parseInt(res.pageSize))){
            this.finished = true
          }
      })
    },
    //清空数据
    onRefresh:function (){
      this.finished = false;
      this.loading = true;
      this.params.page = 0
      this.accountChangeRecord();
    },
    unitType:function (){

    },
  },
  computed:{
    typeFilter(type){
      if (!type) console.log(type)
      return function(type){
        switch (type) {
          case 1:
            return '人工购币';
          case 2:
            return '人工扣币';
          case 3:
            return '在线回款失败';
          case 4:
            return '在线回款';
          case 5:
            return '在线支付';
          case 6:
            return '快速购币';
          case 7:
            return '一般购币';
          case 8:
            return '虚拟币购币';
          case 18:
            return '活动中奖';
          case 19:
            return "现金兑换积分";
          case 20:
            return "积分兑换现金";
          case 54:
            return "回款取消";
          case 55:
            return "购币取消";
          case 78:
            return "晋级赠送";
          case 79:
            return "注册赠送";
          case 80:
            return "人工购币";
          case 81:
            return "冲正";
          case 130:
            return "订单下单";
          case 131:
            return "订单匹配";
          case 132:
            return "订单取消";
          default:
            return `${type} 未知`
        }
      }
    },
  },
  filters:{
    drawFilter:function (value){
      if (value == undefined){
        return ''
      }else {
        value = value.replace('彩票投注','订单类型')
        value = value.replace('投注彩种','选中订单')
        value = value.replace('期号','单号')
        value = value.replace('彩票','订单')
        return value
      }
    }
  }
}
</script>

<style scoped>

</style>
