<template>
  <div class="upd_password">
      <header class="header">
        <a herf="javascript:void(0)" @click="back">
          <van-icon name="arrow-left"/>
          <span class="bark">返回</span>
        </a>
        <span class="title">{{title}}</span>
        <div class="edit" ></div>
      </header>
    <div class="content">
      <van-cell-group>
        <van-field v-model="params.oldpassword" label="输入旧密码" type="password" left-icon="bag-o" placeholder="请输入旧密码"/>
        <van-field v-model="params.newpassword" clearable type="password" label="输入新密码" left-icon="bag-o" placeholder="请输入新密码"/>
        <van-field v-model="params.confirmpassword" clearable type="password" label="重复新密码" left-icon="bag-o" placeholder="请再次输入新密码"/>
      </van-cell-group>
      <van-button type="primary" color="#ec2829" block @click="submitPassword">提交</van-button>
    </div>
  </div>
</template>

<script>
import '@/assets/css/center/upd_password.less'
import {Dialog, Toast} from "vant";
export default {
  name: "upd_password",
  data(){
    return{
      title:'修改登录密码',
      url:'native/modify_pass.do',
      params:{
        oldpassword:'',
        newpassword:'',
        confirmpassword:'',
      }
    }
  },
  created() {
    if (this.$route.query.type == 2){
      this.title = '修改资金密码'
      this.url = 'native/modify_cashpass.do'
    }
  },
  methods:{
    back: function() {
      this.$router.push('/personal')
    },
    submitPassword:function (){
      if (!this.params.oldpassword){
        Toast({
          message: '旧密码不能为空！',
          duration:500
        });
        return
      }
      if (!this.params.newpassword){
        Toast({
          message: '新密码不能为空！',
          duration:500
        });
        return
      }
      if (!this.params.confirmpassword){
        Toast({
          message: '重复密码不能为空！',
          duration:500
        });
        return
      }
      if (this.params.newpassword != this.params.confirmpassword){
        Toast({
          message: '重复新密码和新密码不一致！',
          duration:500
        });
        return
      }

      this.$post(this.url,this.params,'true').then(res=>{
        if (res.success){
          Dialog.alert({
            message: '密码修改成功',
            confirmButtonText:'返回首页'
          }).then(() => {
            this.$router.push('/')
          });
        }else {
          Toast({
            message: res.msg,
            duration:1500
          });
        }
      })
    }
  }
}
</script>

<style scoped>

</style>