<template>
  <div class="website_message">
    <header class="header">
      <a herf="javascript:void(0)" @click="back">
        <van-icon name="arrow-left"/>
        <span class="bark">返回</span>
      </a>
      <span class="title">站内信</span>
      <div class="edit" @click="editData">编辑</div>
    </header>
    <div class="content" v-if="messageData.length > 0">
      <van-checkbox-group v-model="checkbox.value" ref="checkboxGroup">
        <div class="content-item" v-for="(item,index) in messageData" :key="index"  >
        <div class="item-left" >
          <span class="item-lable" v-if="item.status == 1" @click="getImegDetail(item,index)"></span>
          <span class="item-lable"  style="background:#d4d4d4;" v-else @click="getImegDetail(item,index)"></span>
          <van-checkbox :name="item.id" class="item-checkbox" v-show="checkbox.status"></van-checkbox>
          <p class="item-title" @click="getImegDetail(item,index)">{{item.title}}</p>
        </div>
        <div class="item-right" @click="getImegDetail(item,index)">
          <div class="item-after">{{$root.common.getMyDate(item.createDatetime,2)}}</div>
        </div>
      </div>
      </van-checkbox-group>
      <van-popup v-model="detail" position="bottom" :style="{ height: '100%','z-index':3001 }" @click="detail = false" class="content-item-detail"  >
        <div class="detail-title" style="position: relative;z-index: 3001;">
          <div class="title">站内信息详情</div>
          <div class="close" @click="detail = false">关闭</div>
        </div>
        <div class="detail-content">
          <div class="card-header" style="background: #f1f1f1;">
            <span style="display:inline-block;width:100%;text-align:center;font-size: 1.6rem;">{{detailData.title}}</span>
          </div>
          <div class="card-content">
            <div class="card-content-inner" style="font-size: 1.4rem;">{{detailData.content}}</div>
          </div>
        </div>
      </van-popup>
    </div>
    <div style="text-align: center;background: #efeff4;line-height: 4rem;font-size: 1.8rem" v-else>
      暂时没有信息
    </div>
    <div class="bet-footer" v-show="checkbox.status">
      <van-button type="primary" color="#464646" style="color: #ffffff;" @click="editData(1)">已读</van-button>
      <van-button type="primary" color="#464646" style="color: #ffffff;" @click="editData(2)" v-if="!checkboxAll">全选</van-button>
      <van-button type="primary" color="#464646" style="color: #ffffff;" @click="$refs.checkboxGroup.toggleAll(),checkboxAll=false" v-else>取消</van-button>
      <van-button type="primary" color="#ffb400" @click="editData(3)">删除</van-button>
    </div>
  </div>
</template>
<script>
import '@/assets/css/center/website_message.less'
import {Dialog, Toast} from "vant";
export default {
  name: "website_message",
  components:{},
  data(){
    return{
      detail:false,
      messageData:'',
      checkboxAll:false,
      detailData:{title:'',content:''},
      checkbox:{status:false,value:[]},
    }
  },
  created() {
    this.getMessageList()
  },
  methods:{
    back: function() {
      this.$router.go(-1)
    },
    //获取消息
    getMessageList:function (loading=true){
      this.$post('center/news/message/list.do',{pageNumber: 1,pageSize:100,status:0},loading).then(res=>{
        if (res){
          this.messageData = res.list
        }
      })
    },
    //修改已读状态
    getImegDetail:function (item,indexs){
      this.detail = true
      this.detailData.title = item.title
      this.detailData.content = item.message
      this.messageData.some((item,index)=>{
        if (index == indexs){
          this.messageData[index].status = 2
          this.read(item.id)
          return true
        }
      })
    },
    //阅读信息
    read:function(id,status = 1){
      if (status === 1){
        this.$post('center/news/message/read.do',{id:id},true).then(res=>{
          if (res.success){
            this.$root.common.loading(false)
          }
        })
      }else {
        this.$fetch('center/news/message/batchRead.do',{id:id},true).then(res=>{
          if (res.success){
              Toast.success(
              {
                message:'已读成功',
                duration:500
              });

              setTimeout(()=>{
                this.getMessageList(false)
              },500)
          }
        })
      }

    },
    //删除信息
    delete:function (id){
      this.$fetch('center/news/message/batchDelete.do',{id:id},true).then(res=>{
        if (res.success){
          Toast.success('删除成功');
          this.$root.common.loading(false)
        }
      })
    },
    //编辑信息
    editData:function (status=''){
      this.checkbox.status = !this.checkbox.status
      if (status == 1){//已读
        this.checkbox.status = true
        Dialog.confirm({
          title: '已读',
          message: '确认将选中的标记为已读？',
        }).then(() => {
          let id = this.checkbox.value.toString()
          if (id){
            this.read(id,2)
          }
          return
        })

      }else if (status == 2){//全选
        this.checkbox.status = true
        this.checkboxAll = true
        this.$refs.checkboxGroup.toggleAll(true);

      }else if (status == 3 ){ //删除
        this.checkbox.status = true
        Dialog.confirm({
          title: '删除',
          message: '确定删除选中的选项？',
        }).then(() => {
          let id = this.checkbox.value.toString()
          if (id){
            this.delete(id)
          }
          return
        })
      }
    }
  }
}
</script>
<style scoped>

</style>