.footer_guess{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background: #f4f4f4;
  .van-row {
    height: 100%;
    box-sizing: border-box;
    .van-col--6,.van-col--4 {
      height: 100%;
      text-align: center;
      padding-top: 5px;
      font-size: 1.2rem;
      a{
        color: #535353;
      }
      img {
        width: 3.5rem;
      }
      .active{
        color: #e7633b!important;
      }
    }
    .van-col--4{
      width: 20%;
    }
  }
}
