.footer_default{
  position: fixed;
  z-index: 3;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5.5rem;
  background: #ffffff;
  color: #666666;
  .van-row {
    height: 100%;
    box-sizing: border-box;
    position: relative;
    .goods{
        img{
          height: 5.5rem;
          width: 5.5rem!important;
          position: absolute;
          bottom: 20px;
          background-color: #ffffff;
          border-radius: 50%;
          left: 50%;
          margin-left:-2.75rem;
          padding: 6px;
          box-sizing: border-box;
          display: inline-block;
        }
      span{
        position: absolute;
        z-index:2;
        left: 50%;
        margin-left:-2.6rem;
        bottom: 9px;
      }
    }
    .van-col--6,.van-col--4 {
      height: 100%;
      text-align: center;
      padding-top: 5px;
      font-size: 1.3rem;
      a{
        color: #c2c2c2;
      }
      img {
        width: 3.5rem;
      }
      span{
        font-size: 13px;
        color: #666666;
      }
      .active{
        color: red!important;
        span{
          color: red!important;
        }
      }
    }
    .van-col--4{
      width: 20%;
    }
  }
}
