@import "include/base";
.address{
  position: relative;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  .address-header{
    line-height: 4.4rem;
    text-align: center;
    margin: auto 0;
    background: #ec2829;
    width: 100%;
    a{
      position: absolute;
      left: 1rem;
      i{
        color: #ffffff;
        vertical-align: middle;
      }
    }
    span{
      color: #ffffff;
      font-size: 1.8rem;
    }
    .add{
      display: inline-block;
      position: absolute;
      right: 1rem;
      color: #ffffff;
      i{
        color: #ffffff;
        vertical-align: middle;
      }
    }
  }
  .container{
    .content{
      margin: 15px;
      .address-item{
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        border-radius: 8px;
        background: linear-gradient(
                90deg,#c00,#e23f3f,#8c4b4b);
        box-shadow: 0 0.2rem 0.8rem 0 rgb(0 0 0 / 20%);
        p{
          width: 100%;
          span{
            display: inline-block;
            height: 3rem;
            line-height: 3rem;
            font-size: 1.4rem;
            color: #ffffff;
            &:first-child{
              width: 30%;
            }
            &:last-child{
              width: 70%;
            }
          }
        }
      }
    }
    .no-content{
      margin: 30px;
      text-align: center;
      font-size: 1.5rem;
      color: #666666;
    }
  }
}