@import "include/base";
.draw-notice{
  .content{
    float: left;
    width: 100%;
    padding-bottom: 8rem;
    ul{
      li{
        width: 100%;
        height: 8rem;
        background: #ffffff;
        .list-img{
          float: left;
          width: 25%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          img{
            width: 6rem;
            height: 6rem;
          }
        }
        .list-font{
          float: left;
          width: 75%;
          height: 100%;
          .title{
            float: left;
            width: 100%;
            margin-top: 1.5rem;
            position: relative;
            span{
              font-size: 1.4rem;
            }
            span:nth-child(2){
              position: absolute;
              right: 1rem;
              color: #999;
            }
          }
          .result{
            float: left;
            margin-top: 1rem;
            width: 100%;
            img{
              width: 3rem;
            }
            .result-number{
              float: left;
              &:before,&:after{
                content: "";
                display: block;
                width: 0;
                height: 0;
                clear: both;
              }
            }
            .result-bigSmall{
              text-align: left;
              padding-right: 10px;
              span{
                line-height: 3rem;
                text-align: center;
                font-size: 14px;
                color: #000000;
                text-indent: 0;
                background-size:100% ;
                padding-left: 10px;
                display: inline-block;
              }
              &:before,&:after{
                content: "";
                display: block;
                width: 0;
                height: 0;
                clear: both;
              }
            }
          }
          .number{
            span{
              display: block;
              float: left;
              margin-left: 3px;
              background: url("../images/blue_back.png") no-repeat scroll 50%/130%;
              width: 2.5rem;
              height: 2.5rem;
              line-height: 2.5rem;
              text-align: center;
              font-size: 1.4rem;
            }
          }
        }
      }
      .backGay{
        background: #f4f4f4;
      }
    }
    .load-more{
      width: 100%;
      height: 5rem;
      text-align: center;
      line-height: 5rem;
      font-size: 1.8rem;
      color: #967f7f;
    }
  }
}
