@import "include/base";
.lobby{
  position: relative;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  .lobby-headaer{
    line-height: 4.4rem;
    text-align: center;
    margin: auto 0;
    background: #ec2829;
    width: 100%;
    a{
      position: absolute;
      left: 1rem;
      i{
        color: #ffffff;
        vertical-align: middle;
      }
    }
    span{
      color: #ffffff;
      font-size: 1.8rem;
    }
  }
  .container{
    width: 100%;
    text-align: center;
    overflow-y: auto;
    box-sizing: border-box;
    .content{
      display: flex;
      align-items: center;
      box-sizing: border-box;
      flex-wrap: wrap;
      .list{
        width: 33.3%;
        box-sizing: border-box;
        background: #ffffff;
        border-bottom: 1px solid #cccccc70;
        img{
          width: 5.6rem;
          height: 5.6rem;
          text-align: center;
          margin-top: 1rem;
        }
        span{
          display: inline-block;
          padding-top: 1.5rem;
          padding-bottom: 1.5rem;
          color: #666666;
          font-size: 1.5rem;
        }
      }
    }
  }
}