@import "include/base";
body{
  background: #f3f3f3!important;
}
.login{
  .public-header{
    background: #f3f3f3!important;
  }
  .logo{
    margin: 3rem auto;
    float: left;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    img{
      width: 15rem;
      text-align: center;
      display: inline-block;
    }
    span{
      font-size: 2.8rem;
      color: #c00;
      font-weight: 600;
    }
  }
  .user-input{
    position: relative;
    height: 100%;
    width: 100%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    .van-cell-group{
      border: 1px solid #e3e3e5;
    }
    img{
      position: absolute;
      right: 15px;
      bottom: 18px;
    }
  }
  .user-button{
    width: 100%;
    height: 4rem;
    float: left;
    position: relative;
    .van-col--24{
      height: 6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      &:nth-child(1){
        justify-content: right;
        padding-left: 2rem;
      }
      button{
        width: 32rem;
        height: 4rem;
        border-radius: 5px;
      }
    }
  }
}
