@import "include/base";
.personal{
  header{
    color: #ffffff;
    position: relative;
    float: left;
    width: 100%;
    background-image: url("../../assets/images/user-bg.png");
    .user{
      width: 100%;
      display: flex;
      justify-content: space-between;
      float: left;

      .user-info{
        width: 100%;
        height: 100%;
        padding-left: 1rem;
        display: flex;
        align-items: center;
        margin-top: 15px;
        img{
          width: 4.8rem;
          height: 4.8rem;
          border:1px solid #ff5f4b;
          border-radius: 50%;
        }
        p{
          font-size: 1.9rem;
          margin-left:2rem;
          em{
            font-size: inherit;
            font-style: unset;
            padding-right: 1.0rem;
          }
          span{
            font-size: 1.9rem;
          }
        }
      }
      .user-install{
        padding-right: 1rem;
        i{
          color: #ffffff;
          float: left;
          font-size: 2.5rem;
          right: 0.8rem;
          top: 1.2rem;
          position: absolute;
        }
      }
    }
    .money{
      padding: 2.2rem 1.7rem;
      text-align: center;
      margin: 8.1rem 1rem 1.5rem 1rem;
      box-sizing: border-box;
      background: #ffffff;
      display: flex;
      justify-content: space-between;
      border-radius: 8px;
      align-items: center;
      .balance{
        h2{
          color:#666;
          font-size: 1.5rem;
          text-align: left;
        }
        span{
          font-size: 1.7rem;
          font-weight: bold;
          padding-top: 5px;
          display: block;
          color: black;
        }
      }
      .refresh{
        i{
          transition:all 1s;
          font-size: 3.0rem;
          color: #666;
        }
      }
      .onclickAnimate{
        i{
          transform: rotate(360deg);
        }

      }
    }
    .go-out{
      width: 5rem;
      i{
        color: #ffffff;
        float: left;
        font-size: 2.5rem;
        right: 0.8rem;
        top: 1.2rem;
        position: absolute;
      }
      span{
        margin-left: -2rem;
        font-size: 1.5rem;
      }
    }
  }
  .money-button{
    width: 100%;
    height: 5rem;
    float: left;
    border-bottom: 1px solid #e0e0e0;
    background: #ffffff;
    .van-row{
      height: 100%;
      box-sizing: border-box;
      .van-col--8, .van-col--12{
        border-right: 1px solid #c6c6c6;
        height: 100%;
        font-size: 2rem;
        color: #ea241e;
        display: flex;
        justify-content: center;
        align-items: center;
        .van-icon{
          font-size: 2.5rem;
        }
        span{
          margin-left: 1rem;
          font-size: 1.8rem;
          font-weight: 600;
        }
      }
    }
  }
  .order-goods{
    margin: 1.0rem 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    float: left;
    width: 100%;
    background: #ffffff;
    padding: 1.5rem;
    box-sizing: border-box;
    .goods-item{
      text-align: center;
      i{
        font-size: 2.0rem;
        color:#666;
      }
      span{
        font-size: 1.6rem;
        color:#666;
      }
    }
  }
  .personal-content{
    width: 100%;
    float: left;
    padding-bottom: 6rem;
    i{
      color: #989898;
      font-size: 2rem;
    }
    span{
      font-size: 1.6rem;
    }
    .van-icon__image{
      width: 2.5rem;
      height: 2.5rem;
    }
    .van-icon.van-cell__left-icon{
      margin-right: 9px;
    }
  }
  h1{
    padding: 1.5rem;
    text-align: center;
    font-size: 17px;
  }
  .level-table {
    border-collapse:collapse;
    table-layout: fixed;
    margin: 30px auto;
    text-align: center;
    width: 90%;
    th,td{
      font-size:12px;
      height:30px;
    }
    td{
      border: 1px solid #e6e6e6;
      height: 32px
    }
    th {
      background-color: #f2f7ff
    }
  }
}
