@import "include/base";
.service{
  .serviceIframe{
    position: absolute;
    left: 0;
    right: 0;
    top: 4.4rem;
    bottom: 0;
    iframe{
      border: none;
      width: 100%;
      height: 100%;
    }
    p{
      text-align: center;
      font-size: 16px;
      margin-top: 100px;
      padding: 0 20px;
    }
    .button{
      padding: 0 20px;
      margin-top: 20px;
      button{
        width: 100%;
        height: 50px;
        background: red;
        color: #ffffff;
        font-size: 16px;
        border: none;
        border-radius: 10px;
      }
    }
  }
}
