@import "include/base";
.setting{
  position: relative;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  .setting-header{
    line-height: 4.4rem;
    text-align: center;
    margin: auto 0;
    background: #ec2829;
    width: 100%;
    a{
      position: absolute;
      left: 1rem;
      i{
        color: #ffffff;
        vertical-align: middle;
      }
    }
    span{
      color: #ffffff;
      font-size: 1.8rem;
    }
  }
  .container{
    .van-cell{
      span{
        font-size: 1.4rem;
        color: #000000;
      }
    }
    .button{
      padding: 10px;
      margin: 25px 20px 0 20px;
      text-align: center;
      color: #ffffff;
      font-size: 1.5rem;
      background:#ec2829 ;
      border-radius: 5px;
    }
  }
}