@import "include/base";
.lobby-index{
  position: relative;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  .lobby-index-header{
    line-height: 4.4rem;
    text-align: center;
    margin: auto 0;
    background: #ffffff;
    box-shadow: 0 0.1rem 0.6rem #ccc;
    margin-bottom: 1px;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    a{
      position: absolute;
      left: 1rem;
      display: inline-block;
      i{
        color: #000000;
        vertical-align: middle;
      }
    }
    .middle{
      text-align: center;
      color: #000000;
      font-size: 1.8rem;
      display: inline-block;
    }
    .more{
      color: #000000;
      font-size: 1.8rem;
      position: absolute;
      right: 1rem;
      display: inline-block;
      i{
        font-size: 2.5rem;
        padding-right: 0.2rem;
        vertical-align: middle;
      }
      span{
        font-size: 1.5rem;

      }
    }
  }
  .lobby-index-container{
    width: 100%;
    box-sizing: border-box;
    margin-top: 4.5rem;
    background-color: #ffffff;
    .guess-title{
      padding: 1rem 1rem;
      box-sizing: border-box;
      background-color: #ffffff;
      box-shadow: 0 0 0.5rem rgb(0 0 0 / 20%);
      .top{
        display: flex;
        width: 100%;
        .top-left{
          width: 15rem;
          height: 50px;
          background: url("../images/img_1.9e785af.png") no-repeat 50%/100% 100%;
          .issue{
            font-size: 1.2rem;
            font-weight: bolder;
            color: #f0ebeb;
            padding: .25rem 0;
          }
        }
        .draw{
          width: 25%;
          line-height: 5rem;
          text-align: center;
          font-size: 1.8rem;
          font-weight: 700;
        }
        .no-draw{
          line-height: 5rem;
          width: 50%;
          text-align: center;
          font-size: 1.8rem;
          font-weight: 700;
          span{
            width: 20px;
            display: inline-block;
          }
          span:after {
            overflow: hidden;
            display: inline-block;
            vertical-align: bottom;
            animation: ellipsis 2s infinite;
            content: "\2026";
          }
          @keyframes ellipsis {
            from {
              width: 2px;
            }
            to {
              width: 20px;
            }
          }
        }
      }
      .bottom{
        display: flex;
        margin-top: 10px;
        align-items: center;
        .issue{
          color: #000000;
          font-size: 1.4rem;
          font-weight: bolder;
          width: 70%;
        }
        .time{
          text-align: left;
          color: #fe0b22;
          font-size: 2rem;
          width: 30%;
          font-weight: bolder;
        }
      }
    }
    .guess-content{
      margin-top: 20px;
      width: 100%;
      box-sizing: border-box;
      .title{
        padding: 15px;
        .title-button{
          display: flex;
          justify-content: space-between;
          margin-top: 5px;
          button{
            background-color: gold;
            width: 23%;
            padding: unset;
            span{
              font-size: 1.5rem;
              color: #000000;
            }
          }

        }
        .title-img{
          display: flex;
          justify-content: space-between;
          .title-img-wrap{
            width: 25%;
            text-align: center;
            img{
              height: 7.2rem;
              width: 7.2rem;
              border: 2px solid #ecb7b7;
            }
          }

          .activeImg{
              border: 2px solid red!important;
          }
        }
        .active{
          border: 2px solid red;
          background: red!important;
          span{
            color: #ffffff!important;
          }
        }

      }
      .content{
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 15px;
        margin-bottom: 110px;
        .content-item{
          width: 25%;
          text-align: center;
          margin-bottom: 20px;
          box-sizing: border-box;
          .active{
            border: 2px solid red;
          }
          img{
            height: 7.2rem;
            width: 7.2rem;
            border: 2px solid #ecb7b7;
          }
        }

      }
    }
    .guess-footer{
      width: 100%;
      box-sizing: border-box;
      border-top: .2rem solid #eee;
      position: fixed;
      bottom: 0;
      .cathectic{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 5.4rem;
        padding: 0 1rem;
        width: 100%;
        box-sizing: border-box;
        background-color: #ffffff;
        .van-button{
          height: 35px;
          background-color: #dc5551;
          border-radius: 5px;
          color: #fff;
          span{
            font-size: 1.5rem;
          }
        }
      }
      .submit{
        justify-content: space-between;
        display: flex;
        align-items: center;
        height: 5.1rem;
        padding: 0 1rem;
        width: 100%;
        box-sizing: border-box;
        background-color: #f7f7f7;
        .van-button{
          height: 35px;
        }
        button{
          &:first-child{
            span{
              font-size: 1.5rem;
            }
          }
          &:last-child{
            background-color: #fe0a07;
            color: #ffffff;
            span{
              font-size: 1.5rem;
            }
          }
        }
        .money{
          font-size: 1.5rem;
          span{
            font-size: inherit;
            color: #000000;
            &:first-child{
              color: #838695;
              i{
                color: #dc3b40;
                font-size: inherit;
              }
            }
            &:last-child{
              padding-left: 2px;
              i{
                color: #dc3b40;
                font-size: inherit;
              }
            }
          }
        }
      }
    }
  }
  .more-module{
    ul{
      width: 90%;
      margin-left: 5%;
      margin-top: 5%;
      box-shadow: 0 0.05rem 0.1rem rgba(0,0,0,.3);
      li{
        width: 100%;
        background: #ffffff;
        height: 4.9rem;
        a{
          display: flex;
          align-items: center;
          padding-left: 1rem;
          box-sizing: border-box;
          width: 100%;
          height: 100%;
          img{
            height: 3rem;
            width: 3rem;
          }
          span{
            margin-left: 1rem;
            font-size: 1.6rem;
          }
        }
        .active{
          background: red;
          border-left: 8px;
          color: #ffffff;
        }
      }
    }
  }
}