<template>
	<div id="app">
    <!--可以通过keepAlive设置页面：缓存不缓存-->
    <transition >
      <keep-alive>
        <router-view  v-if="$route.meta.keepAlive"></router-view>
      </keep-alive>
    </transition>
    <transition >
      <router-view v-if="!$route.meta.keepAlive"></router-view>
    </transition>

	</div>
</template>

<script>
	export default {
		name: 'App',
    created() {
		  // console.log(this.$store.state.b22102Show)
		  // try{
      //   if (localStorage.getItem("locationSHOW") != null){
      //     this.$store.state.b22102Show=localStorage.getItem('locationSHOW')
      //   }
      // }catch (e) {
      //
      // }

    },
    mounted() {
      if (this.$store.state.webSiteInfo.success || this.$store.state.floder){
        if (this.$store.state.floder == 'x002177' || this.$store.state.floder == 'x002178' || this.$store.state.floder == 'x002185' || this.$store.state.floder == 'x002188'){
          document.getElementById('app').className = "theme-x002177"
        }else {
          document.getElementById('app').className = "theme-original"
        }
      }else {
        $sky.ajax('get', 'native/getStationInfo', {}, (ret) => {
          this.$store.commit('getFloder',ret)
          if (this.$store.state.floder  == 'x002177' || this.$store.state.floder == 'x002178' || this.$store.state.floder == 'x002185' || this.$store.state.floder == 'x002188'){
            document.getElementById('app').className = "theme-x002177"
          }else {
            document.getElementById('app').className = "theme-original"
          }
        });
      }
    }
  }
</script>

<style>
	#app {
		width: 100%;
		height: 100%;
		font-family: 'Avenir', Helvetica, Arial, sans-serif;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	.van-nav-bar__text{
		color: #fff!important;
	}
</style>
