<template>
  <div class="index">
    <head_nav></head_nav>
    <div class="main">
      <div class="main_title">
        <div class="title">{{$t('index[0].label')}}</div>
        <div class="money"><span>{{$store.state.money}}</span>TRX</div>
      </div>
      <div class="main-notice">
        <marquee behavior="scroll" direction="" scrollamount="3" style="font-weight: 500;">{{noticeData.content}}</marquee>
      </div>
      <div class="main_problem" @click="$router.push({path: '/noticeDetail',query:noticeData})">
        <span>{{$t('index[1].label')}}</span><br>
        <span>{{$t('index[2].label')}}</span>
      </div>
      <div class="navbar">
        <div class="nav-item" @click="$router.push({path:'/recharge'})"><img src="@/assets/images/icon_1811.94738a2b.png" alt=""><br><span>{{$t('index[3].label')}}</span></div>
        <div class="nav-item" @click="$router.push({path:'/withdrawal'})"><img src="@/assets/images/icon_1810.b0a6636a.png" alt=""><br><span>{{$t('index[4].label')}}</span></div>
        <div class="nav-item" @click="$router.push({path:'/share'})"><img src="@/assets/images/icon_189.1c757b43.png" alt=""><br><span>{{$t('index[5].label')}}</span></div>
        <div class="nav-item" @click="$router.push({path:'/team'})"><img src="@/assets/images/icon_186.2d61eb54.png" alt=""><br><span>{{$t('index[6].label')}}</span></div>
        <div class="nav-item"><img src="@/assets/images/icon_188.9c14a882.png" alt=""><br><span>APP</span></div>
        <div class="nav-item" @click="goOut()"><img src="@/assets/images/icon_187.8c398298.png" alt=""><br><span>{{$t('index[7].label')}}</span></div>
      </div>
      <div class="wallet1 wallet">
        <span>{{$t('index[8].label')}}</span><br>
        <span><b>{{$store.state.money}}</b> TRX <b>≈ ${{($store.state.money/15.9).toFixed(2)}}</b> </span>
      </div>
      <div class="wallet2 wallet">
        <span>{{$t('index[9].label')}}</span><br>
        <span><b>{{($store.state.money2 || 0)/15.9}}</b> TRX <b>≈ ${{(($store.state.money2 || 0)/15.9).toFixed(2)}}</b> </span>
      </div>
      <div class="main_join">
        <div class="title">{{$t('index[10].label')}}</div>
        <div class="des">{{$t('index[11].label')}} </div>
        <div class="img"><img src="@/assets/images/icon_44.848a2789.png" alt=""></div>
        <div class="button" @click="$router.push({path:'/tradin'})"><button>{{$t('index[12].label')}}</button></div>
      </div>
      <div class="main_display">
        <div class="title">{{$t('index[13].label')}}</div>
        <div class="box">
          <div class="font">
            <div class="item"><b>3079549544.5093</b><br><span>{{$t('index[14].label')}}</span></div>
            <div class="item"><b>418434</b><br><span>{{$t('index[15].label')}}</span></div>
          </div>
        </div>
      </div>
      <div class="main_about">
        <div class="about">{{$t('index[16].label')}}</div>
        <div class="title">{{$t('index[17].label')}}</div>
        <div class="img"><img src="@/assets/images/icon_49.de681bd4.png" alt=""></div>
        <div class="des">{{$t('index[18].label')}} </div>
        <div class="partners">{{$t('index[19].label')}}</div>
      </div>
    </div>
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import head_nav from '@/components/include/head_nav'
import foot_nav from '@/components/include/foot_nav'
import '@/assets/css/tabs/index.less'
import {Toast} from "vant";
export default {
  name: "index",
  data() {
    return {
      noticeData:''
    }
  },
  components:{
    head_nav,foot_nav
  },
  created() {
    this.getNotice()
    this.getBanlace()
  },
  mounted() {
  },
  methods: {
    getNotice: function () {
      let params = {
        token: this.$store.state.token,
      }
      this.$post('notice/notice', params, false).then((res) => {
        if (res.code == 200) {
          this.noticeData = res.data
        } else {
          Toast(res.message)
        }
      })
    },
    getBanlace: function () {
      let params = {
        token: this.$store.state.token,
      }
      this.$post('mobile/account_banlace', params, false).then((res) => {
        if (res.code == 200) {
          this.$store.commit('pushMoney', res.data.money)
          this.$store.commit('pushMoney2', res.data.money_two)
        } else {
          Toast(res.message)
        }
      })
    },
    goOut: function () {
      let params = {
        token: this.$store.state.token,
      }
      this.$post('user/logout', params, true).then((res) => {
        if (res.code == 200) {
          this.$store.commit('pushIsLogin',false)
          this.$router.push({path: '/login'})
        } else {
          Toast(res.message)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>