<template>
  <div class="invest">
    <head_nav></head_nav>
    <div class="main">
      <div class="nav">
        <div :class="{active:activeIndex == 1}" @click="getProject()">{{$t('invest[0].label')}}</div>
        <div @click="$router.push({path: '/recharge'})">{{$t('invest[1].label')}}</div>
        <div :class="{active:activeIndex == 2}" @click="getInvest()">{{$t('invest[2].label')}}</div>
      </div>
      <div class="product-list">
        <div class="col" @click="$router.push({path:'/investApply',query:{id: item.id}})" v-for="(item, index) in investData" :key="index">
          <img :src="'/upload/item/'+item.img" alt="">
          <div class="tip">{{item.title}}<br>{{$t('invest[3].label')}}</div>
          <div class="des">{{$t('invest[4].label')}}：{{item.rate}}%</div>
          <div class="des" v-if="activeIndex == 1">{{$t('invest[5].label')}}：{{item.rate * item.min}}</div>
        </div>
      </div>
    </div>
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import head_nav from '@/components/include/head_nav'
import foot_nav from '@/components/include/foot_nav'
import '@/assets/css/tabs/invest.less'
import {Toast} from "vant";

export default {
  name: "invest",
  data() {
    return {
      investData:'',
      activeIndex:1,
    }
  },
  components:{
    head_nav,foot_nav
  },
  created() {
    this.getProject()
  },
  mounted() {
  },
  methods: {
    getProject: function () {
      this.activeIndex = 1
      let params = {
        token: this.$store.state.token,
      }
      this.$post('mobile/project', params, true).then((res) => {
        if (res.code == 200) {
          this.investData = res.data
        } else {
          Toast(res.message)
        }
      })
    },
    getInvest: function () {
      this.activeIndex = 2
      let params = {
        token: this.$store.state.token,
      }
      this.$post('user/invest', params, true).then((res) => {
        if (res.code == 200) {
          this.investData = res.data
        } else {
          Toast(res.message)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>