<template>
  <div class="personal">
    <head_nav></head_nav>
    <div class="main">
      <div class="user-phone">{{$store.state.phone}}</div>
      <div class="main_title">
        <div class="title">{{$t('index[0].label')}}</div>
        <div class="money"><span>{{$store.state.money}}</span>TRX</div>
      </div>
      <div class="link_icon">
        <div class="left" @click="$router.push({path:'/recharge'})">{{$t('index[3].label')}}</div>
        <div class="right" @click="$router.push({path:'/withdrawal'})">{{$t('index[4].label')}}</div>
      </div>
      <div class="main_quantity">
        <div class="title">TRX{{$t('personal[0].label')}}：<span>{{$store.state.money}} TRX</span></div>
        <div class="des">{{$t('personal[1].label')}}</div>
      </div>
      <div class="service_list">
        <div class="title">{{$t('personal[2].label')}}</div>
        <div class="list">
          <div class="item" @click="$router.push({path:'/team'})"><img src="@/assets/images/item.29sj292.png" alt=""><span>{{$t('index[6].label')}}</span></div>
          <div class="item" @click="$router.push({path:'/profit'})"><img src="@/assets/images/lirunbiao.png" alt=""><span>{{$t('personal[3].label')}}</span></div>
          <div class="item" @click="$router.push({path:'/transfer'})"><img src="@/assets/images/zhuanrujichu.png" alt=""><span>{{$t('personal[4].label')}}</span></div>
          <div class="item" @click="$router.push({path:'/drwerAddress'})"><img src="@/assets/images/zhuanrujichu.png" alt=""><span>{{$t('personal[8].label')}}</span></div>
          <div class="item" @click="$router.push({path:'/changePassword'})"><img src="@/assets/images/zhuanrujichu.png" alt=""><span>{{$t('personal[5].label')}}</span></div>
          <div class="item" @click="$router.push({path:'/changeSecurityPassword'})"><img src="@/assets/images/zhuanrujichu.png" alt=""><span>{{$t('personal[6].label')}}</span></div>
          <div class="item" @click="$router.push({path:'/share'})"><img src="@/assets/images/share_icon.28j90n.png" alt=""><span>{{$t('index[5].label')}}</span></div>
          <div class="item" @click="$router.push({path:'/notice'})"><img src="@/assets/images/notice28.mn0909.png" alt=""><span>{{$t('personal[7].label')}}</span></div>
          <div class="item"><img src="@/assets/images/APP_icon.s92k.png" alt=""><span>APP</span></div>
          <div class="item" @click="goOut()"><img src="@/assets/images/goOut_icon29ksnmm..png" alt=""><span>{{$t('index[7].label')}}</span></div>
        </div>
      </div>
    </div>
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import head_nav from '@/components/include/head_nav'
import foot_nav from '@/components/include/foot_nav'
import '@/assets/css/tabs/personal.less'
import {Toast} from "vant";

export default {
  name: "personal",
  data() {
    return {}
  },
  components: {
    head_nav, foot_nav
  },
  created() {
  },
  mounted() {
  },
  methods: {
    goOut: function () {
      let params = {
        token: this.$store.state.token,
      }
      this.$post('user/logout', params, true).then((res) => {
        if (res.code == 200) {
          this.$store.commit('pushIsLogin',false)
          this.$router.push({path: '/login'})
        } else {
          Toast(res.message)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>