<template>
  <div class="share">
    <head_nav></head_nav>
    <div class="main">
      <div class="title">{{$t('share[0].label')}}</div>
      <div class="tip">{{$t('share[1].label')}}</div>
      <div class="qrcode"><img :src="shareData.urel" alt=""></div>
      <div class="copy">
        <div class="left">{{shareUrl}}</div>
        <div class="right"><button class="tag-read" :data-clipboard-text="shareUrl" @click="copy()">{{$t('share[2].label')}}</button></div>
      </div>
      <div class="wallet">
        <span><b>{{$t('share[3].label')}}</b></span><br>
        <span>{{$t('share[4].label')}}</span>
      </div>
    </div>
<!--    http://localhost:8091/#/register?id=1-->
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import head_nav from '@/components/include/head_nav'
import foot_nav from '@/components/include/foot_nav'
import Clipboard from 'clipboard'
import {Toast} from 'vant'
import '@/assets/css/tabs/share.less'
export default {
  name: "share",
  data() {
    return {
      shareData:'',
      shareUrl:'https://922127.com/xml/index.html#/register?id=' + this.$store.state.userInfo.id
    }
  },
  components:{
    head_nav,foot_nav
  },
  created() {
    this.getShare()
  },
  mounted() {
    console.log(this.$store.state.userInfo.id)
  },
  methods: {
    copy:function (){
      var clipboard = new Clipboard('.tag-read')
      clipboard.on('success', e => {
        Toast(this.$t('share[5].label'))
        console.log(e)
        //  释放内存
        clipboard.destroy()
      })
      clipboard.on('error', e =>{
        // 不支持复制
        Toast('errot')
        console.log(e)
        // 释放内存
        clipboard.destroy()
      })
    },
    getShare: function () {
      let params = {
        token: this.$store.state.token,
      }
      this.$post('user/recommend', params, true).then((res) => {
        if (res.code == 200) {
          this.shareData = res.data
        } else {
          Toast(res.message)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>