<template>
  <div class="tradin">
    <head_nav></head_nav>
    <div class="main">
      <div class="title">+ {{$store.state.userInfo.yun_rate}}%</div>
      <div class="tip">{{$t('tradin[0].label')}}</div>
      <div class="main_work">
        <div class="business-title">
          <div class="left">
            <span>{{$t('tradin[1].label')}}</span><br>
            <span>({{$t('tradin[2].label')}})</span>
          </div>
<!--          <div class="right" @click="$router.push({path:'/tradelist'})">{{$t('tradin[3].label')}}</div>-->
        </div>
        <div class="business-list">
          <div class="row" v-for="(item,index) in yunbaoList" :key="index">
            <div class="left"><img src="@/assets/images/img9bn8.1mll.jpg" alt=""></div>
            <div class="center">
              <div class="top"><span>{{item.money}}</span>TRX</div>
              <div class="bottom">{{$t('tradin[5].label')}}</div>
            </div>
            <div class="right">
              <button @click="getClickYunbao(item.uid,item.add_time)" v-if="item.state != 1">{{$t('tradin[4].label')}}</button>
              <button v-else style="opacity: .65">{{$t('tradin[4].label')}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import head_nav from '@/components/include/head_nav'
import foot_nav from '@/components/include/foot_nav'
import '@/assets/css/tabs/tradin.less'
import {Toast} from "vant";
export default {
  name: "tradin",
  data() {
    return {
      yunbaoList:''
    }
  },
  components:{
    head_nav,foot_nav
  },
  created() {
    this.getYunbaoList()
  },
  mounted() {
  },
  methods: {
    getYunbaoList: function () {
      let params = {
        token: this.$store.state.token,
      }
      this.$post('notice/getYunbaoList', params, true).then((res) => {
        if (res.code == 200) {
          this.yunbaoList = res.data
        } else {
          Toast(res.message)
        }
      })
    },
    getClickYunbao: function (uid,time) {
      let params = {
        token: this.$store.state.token,
        uid:uid,
        addTime:time
      }
      this.$post('notice/clickYunbao', params, true).then((res) => {
        if (res.code == 200) {
          this.investData = res.data
        } else {
          Toast(res.message)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>
