@import "../../include/base";
/*首页*/
.index{
  width: 100%;
  height: 100%;
  header{
    width: 100%;
    height: 4.4rem;
    background: #ec2829;
    position: relative;
    .title{
      float: left;
      //margin-left: 10px;
      display: flex;
      align-items: center;
      height: 100%;
      img{
        height: 100%;
      }
      span{
        color: #ffffff;
        font-size: 1.8rem;
      }
    }
    .reg-button,.reg-left{
      float: right;
      height: 100%;
      line-height: 4.4rem;
      position: absolute;
      right: 1rem;
      display: flex;
      align-items: center;
      a{
        color: #ffffff;
        font-size: 1.6rem;
      }
    }
    .reg-left{
      left: 1rem;
      .reg-left-oneSelf{
        display: flex;
        align-items: center;
        img{
          display: inline-block;
          height: 2.6rem;
          width: 2.6rem;
        }
        span{
          padding-left: 5px;
        }
      }
    }
    .reg-button-on{
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 1rem;
      a{
        display: flex;
        i{
          color:#ffed40;
          font-size: 2rem;
        }
        span{
          color: #ffffff;
          font-size: 1.5rem;
          margin-left: 5px;
          line-height: 2rem;
        }
      }

    }
  }
  .content{
    width: 100%;
    .swipe{
      height: 16rem;
      width: 100%;
      float: left;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .notice{
      float: left;
      width: 100%;
      height: 3.7rem;
      .van-notice-bar__left-icon{
        color: red;
        font-size: 1.8rem;
      }
      .van-notice-bar__right-icon{
        color: #333333;
      }
      &:after,&:before{
        content: '';
        height: 0;
        width: 0;
        display: block;
        visibility: hidden;
        clear: both;
      }
    }
    .hot-merchant{
      margin: 10px auto 0px;
      background: #ffffff;
      float: left;
      width: 100%;
      &:after,&:before{
        content: '';
        height: 0;
        width: 0;
        display: block;
        visibility: hidden;
        clear: both;
      }
      .merchant-title{
        padding-left: 1.1rem;
        line-height: 4.4rem;
        span{
          font-size: 16px;
          color: #333333;
          border-left: 0.4rem solid #eb000e;
          padding-left: 0.5rem;
        }
      }
      .merchant-menu{
        .index_margin{
          .buttons-tab{
            position:relative;
            background:#fff;
            border-bottom:1px solid #d0d0d0;
            height: 4.1rem;
            display: flex;
            span{
              width: 100%;
              height: 100%;
              font-size: 1.8rem;
              text-align: center;
              line-height: 4.1rem;
              border-bottom:2px solid transparent;
            }
            .active{
              color:red;
              border-color:red;
            }
          }
          .content-block{
            min-height: 200px;
            .index_lottery_item{
              .van-row{
                height: 100%;
                box-sizing: border-box;
                .van-col--8{
                  text-align: center;
                  width: 33.3%;
                    &:nth-child(3n),&:nth-child(5){
                      a{
                        border-left: .01rem solid #eee!important;
                      }
                    }
                  &:nth-child(6){
                    border-bottom: .01rem solid #eee!important;
                  }
                  &:nth-child(5){
                    border-right: 0;
                  }
                  &:nth-child(8){
                    border-right:.01rem solid #eee!important;
                  }
                }
                .van-col--12,.van-col--8{
                  box-sizing: border-box;
                  border-top: 1px solid #eee;
                  background: #ffffff;
                  &:nth-child(odd){
                    a{
                      border-right: .01rem solid #eee;
                    }
                  }
                  a{
                    display: inline-block;
                    margin: 1.1rem auto;
                    background: #ffffff;
                    width: 100%;
                    box-sizing: border-box;
                  }
                  .group{
                    height: 100%;
                    background: #ffffff;
                    border-radius: 5px;
                    font-size: 1.8rem;
                    box-sizing: border-box;
                    img{
                      width: 5rem;
                      height:5rem;
                      margin: 0 1.2rem;
                    }
                    .right{
                      display: inline-block;
                    }
                    span{
                      display: block;
                      vertical-align: top;
                      font-size: 16px;

                    }
                    em{
                      display: block;
                      padding-top: .4rem;
                      color: #aaa;
                      font-size: 13px;
                      font-style: normal;
                    }
                  }
                }
                .show-group-list{
                  float: left;
                  width: 100%;
                  height: auto;
                  .van-col--24{
                    padding: 0 2px;
                    box-sizing: border-box;
                    height: 9rem;
                    margin-top: 1rem;
                    .group{
                      height: 100%;
                      text-align: center;
                      background: #ffffff;
                      border-radius: 5px;
                      font-size: 1.8rem;
                      padding-top: 1.2rem;
                      box-sizing: border-box;
                      img{
                        width: 5rem;
                      }
                    }
                  }
                  .van-col--12{
                    .group{
                      background: none!important;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    .win-column{
      float: left;
      width: 100%;
      background: #ffffff;
      margin: 10px auto 0px;
      .win-title{
        padding-left: 1.1rem;
        line-height: 4.4rem;
        border-bottom:2px solid #f2f6fc;
        box-sizing: border-box;
        position: relative;
        z-index: 2;
        background: #ffffff;
        span{
          font-size: 16px;
          color: #333333;
          padding-left: 0.5rem;
        }
        img{
          width: 1.7rem;
          height: 1.7rem;
          vertical-align: middle;
        }
      }
      .win-menu{
        height: 28rem;
        overflow: hidden;
        ul{
          position: relative;
          top: 0;
          li{
            line-height: 4.5rem;
            .menu-item{
              text-align: left;
              width: 100%;
              display: flex;
              align-items: center;
              img{
                width: 2.2rem;
                height: 2.2rem;
                display: inline-block;
                padding-right: 10px;
                padding-left: 10px;
                border-radius: 50%;
                line-height: 4.5rem;
              }
              span{
                display: inline-block;
                font-size: 15px;
                color: #000000;
              }
            }
            p{
              text-align: left;
              margin: auto 0;
              font-size: 15px;
              color: #000000;
              margin: 0 20px 0 20px;
              background: #f7f7f7;
              border-radius: 8px;
              padding-left: 3px;
              //height: 4.5rem;
            }
          }
        }
      }
    }
    .activity{
      margin-bottom: 60px;
      float: left;
      div{
        float: left;
        width: 100%;
        height: 11rem;
        margin-top: 20px;
        img{
          width: 100%;
        }
      }
    }
    .tool-bar{
      float: left;
      width: 100%;
      margin-top:20px;
      margin-bottom: 80px;
      .van-row{
        height: 100%;
        box-sizing: border-box;
        .van-col--6, .van-col--8, .van-col--24{
          height: 100%;
          text-align: center;
          padding-top: 5px;
          font-size: 1.6rem;
          img{
            width: 3.5rem;
          }
        }
      }
    }
  }
}
