@import "../../include/base";
/*首页*/
.index{
  width: 100%;
  height: 100%;
  header{
    width: 100%;
    height: 4.4rem;
    background: #ec2829;
    position: relative;
    .title{
      float: left;
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
      justify-content: center;
      img{
        height: 100%;
      }
      span{
        color: #ffffff;
        font-size: 1.8rem;
      }
    }
    .reg-button{
      float: right;
      height: 100%;
      line-height: 4.4rem;
      position: absolute;
      right: 1rem;
      a{
        color: #ffffff;
        font-size: 1.6rem;
      }
    }
    .reg-button-on{
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      right: 1rem;
      a{
        display: flex;
        i{
          color:#ffed40;
          font-size: 2rem;
        }
        span{
          color: #ffffff;
          font-size: 1.5rem;
          margin-left: 5px;
          line-height: 2rem;
        }
      }

    }
  }
  .content{
    width: 100%;
    .swipe{
      height: 16rem;
      width: 100%;
      float: left;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .notice{
      float: left;
      width: 100%;
      height: 3.7rem;
    }
    .quickMenu{
      width: 100%;
      height: 6.7rem;
      float: left;
      margin-top: 10px;
      border-bottom: 1px solid #e0e0e0;
      box-sizing: border-box;
      display: flex;
      a{
        width: 100%;
        border-left: 1px dashed #c6c6c6;
        .quickMenu-module{
          height: 100%;
          text-align: center;
          background: #ffffff;
          padding-top: 5px;
          font-size: 1.6rem;
          float: left;
          width: 100%;
          img{
            width: 3.5rem;
          }
        }
        &:nth-child(1){
          border-left: none;
        }
      }
    }
    .index_margin{
      margin-bottom: 6rem;
      float: left;
      width: 100%;
      margin-top: .8rem;
      .buttons-tab{
        position:relative;
        background:#fff;
        border-bottom:1px solid #d0d0d0;
        height: 4.1rem;
        display: flex;
        span{
          width: 100%;
          height: 100%;
          font-size: 1.3rem;
          line-height: 4.1rem;
          border-bottom:2px solid transparent;
          display: flex;
          justify-content: center;
          align-items: center;
          img{
            width: 15px;
            height: 15px;
            margin-right: .8rem;
          }
        }
        .active{
          color:red;
          border-color:red;
        }
      }
      .content-block{
        min-height: 200px;
        margin-top: .5rem;
        .index_lottery_item{
          .van-row{
            height: 100%;
            box-sizing: border-box;
            .van-col--8{
              box-sizing: border-box;
              height: 9rem;
              margin-bottom: .5rem;
              .group{
                height: 100%;
                text-align: center;
                background: #ffffff;
                font-size: 1.8rem;
                padding-top: 1.2rem;
                box-sizing: border-box;
                position: relative;
                img{
                  width: 5rem;
                  height:5rem;
                }
                .hot{
                  position: absolute;
                  right: 1rem;
                  top: 1rem;
                  width: 13px;
                  height: 13px;
                }
              }
            }
            .show-group-list{
              float: left;
              width: 100%;
              height: auto;
              .van-col--24{
                padding: 0 2px;
                box-sizing: border-box;
                height: 9rem;
                margin-top: 1rem;
                .group{
                  height: 100%;
                  text-align: center;
                  background: #ffffff;
                  border-radius: 5px;
                  font-size: 1.8rem;
                  padding-top: 1.2rem;
                  box-sizing: border-box;
                  img{
                    width: 5rem;
                  }
                }
              }
              .van-col--8{
                .group{
                  background: none!important;
                }
              }
            }
          }
        }
      }
    }
  }
}
