@import "../include/base";
.code{
  header{
    height: 44px;
    background: #ffffff;
    color: #000000;
    line-height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    a{
      color: #000000;
      float: left;
      font-size: 25px;
      left: 8px;
      top: 4px;
      position: absolute;
    }
    span{
      float: left;
      b{
        font-size: 14px;
        float: left;
        border-radius: 3px;
        height: 33px;
        line-height: 33px;
        padding: 0 10px;
        display: block;
      }
      .active{
        color: red;
        background: #ffffff;
      }
    }
  }
  .content{
    width: 100%;
    .code{
      width: 100%;
      height: 300px;
      .flex();
      img{
        width: 200px;
      }
    }

    .tip{
      font-size: 15px;
      text-align: center;
    }
    .link{
      height: 100px;
      border:2px solid #5078d7;
      margin: 20px;
      border-radius: 8px;
      .top{
        height: 60px;
        text-align: center;
        padding: 20px;
        word-break: break-word;
        box-sizing: border-box;
      }
      .bottom{
        height: 40px;
        text-align: center;
        line-height: 40px;
        color: #ffffff;
        background: #5078d7;
      }
    }
  }
}