@import "../include/base";
.lottery_record{
  height: 100%;
  width: 100%;
  position: absolute;
  .content{
    width: 100%;
    position: absolute;
    top: 44px;
    right: 0;
    left: 0;
    bottom: 0;
    .content-card{
      display: flex;
      text-align: center;
      padding: 16px;
      position: relative;
      margin: 11px;
      background: #ececec;
      border-radius: 1px;
      box-shadow: 0 0 4px 0px rgb(0 0 0 / 30%);
      font-size: 14px;
      .c-c-item{
        flex-grow: 1;
        em{
          font-size: 16px;
          font-style: normal;
        }
        p{
          font-size: 15px;
        }
      }
    }
    .content-list{
      position: relative;
      height: 100%;
      .list-wrap{
        margin: 0 11px 11px 11px;
        background-color: #ffffff;
        font-size: 16px;
        font-style: normal;
        box-sizing: border-box;
        a{
          display: inline-block;
          width: 100%;
          box-sizing: border-box;
          font-style: normal;
          font-size: inherit;
          padding: 5px 3px 5px 6px;
          p{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-style: normal;
            font-size: 12px;
            span,em{
              font-style: normal;
              font-size: inherit;
            }
            .red{
              color: red;
              padding: 0 2px;
            }
            .blue{
              color:#0894ec ;
            }
            &:first-child{
              font-size: 15px;
              span{
                font-size: inherit;
              }
            }
          }
        }
      }
    }
    .content-list-detail{
      z-index: 3001!important;
      .detail-title{
        display: block;
        height: 46px;
        line-height: 46px;
        color: #ffffff;
        text-align: center;
        box-sizing: border-box;
        width: 100%;
        padding: 0 10px;
        background-color: #ec2829;
        font-size: 16px;
        position: relative;
        .title{
          font-size: inherit;
          color: inherit;
          display: inline-block;
        }
        .close{
          font-size: inherit;
          color: inherit;
          position: absolute;
          right: 10px;
          display: inline-block;
        }
      }
      .reclrd-code{
        text-align: center;
        line-height: 45px;
        font-size: 16px;
        span{
          color: #292929;
          font-size: inherit;
          em{
            color: #cd0005;
            font-size: inherit;
          }
        }
      }
      .detail-content{
        width: 100%;
        table{
          width: 100%;
          tr{
            text-align: center;

            td{
                font-size: 15px;
                border-bottom: 1px solid #e0e0dc;
              }
          }
          .bttd{
            text-align: center;
            background-color:#f2f2f0;
            line-height: 48px;
            border-bottom: 1px solid #e0e0dc;
            outline: 0;
            width: 80px;
          }

        }
      }
    }
  }
}