@import "../include/base";
.mnyrecord{
  .content{
    width: 100%;
    position: absolute;
    top: 44px;
    right: 0;
    left: 0;
    bottom: 0;
    .content-list{
      position: relative;
      height: 100%;
      .list-wrap{
        margin: 0 11px 11px 11px;
        background-color: #ffffff;
        font-size: 16px;
        font-style: normal;
        box-sizing: border-box;
        a{
          display: inline-block;
          width: 100%;
          box-sizing: border-box;
          font-style: normal;
          font-size: inherit;
          padding: 11px 33px 11px 16px;
          p{
            font-style: normal;
            font-size: inherit;
            span,em{
              font-style: normal;
              font-size: inherit;
            }
            .red{
              color: red;
              padding: 0 2px;
            }
            .blue{
              color:#0894ec ;
            }
            .green{
              color:#4cd964
            }
          }
        }
      }
    }
  }
}