@import "../include/base";
.team{
  header{
    height: 44px;
    background: #ffffff;
    color: #000000;
    line-height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    a{
      color: #000000;
      float: left;
      font-size: 25px;
      left: 8px;
      top: 4px;
      position: absolute;
    }
    span{
      float: left;
      b{
        font-size: 14px;
        float: left;
        border-radius: 3px;
        height: 33px;
        line-height: 33px;
        padding: 0 10px;
        display: block;
      }
      .active{
        color: red;
        background: #ffffff;
      }
    }
  }
  .notice{
    width: 90%;
    height: 37px;
    background: linear-gradient(9deg,#ddeefe,#ddd7ff);
    border-radius: 20px;
    overflow: hidden;
    margin: 20px;
    box-sizing: border-box;
  }
  .title{
    margin: 20px 0;
    height: 54px;
    font-size: 30px;
    font-style: italic;
    color: #fea63b;
    font-weight: 600;
    text-align: center;
    line-height: 54px;
  }
  .level{
    width: 100%;
    height: 163px;
    margin-top: 20px;
    background: url("../../images/team.png");
    background-size: 100% 100%;
    .box{
      display: inline-block;
      width: 33%;
      height: 100%;
    }
  }
  .level-data{
    margin: 20px;
    background: #f7f8fc;
    border-radius: 10px;
    padding: 15px;
    box-sizing: border-box;
    table{
      width: 100%;
      td,th{
        text-align: left;
        &:nth-child(1){
          width: 40%;
        }
        &:nth-child(2){
          width: 40%;
        }
        &:nth-child(3){
          width: 20%;
          text-align: center;
          color: #5078d7;
        }
      }
      th{
        height: 30px;
      }
      td{
        height: 20px;
      }
    }
  }
  .tip{
    padding: 20px;
    p{
      color: #858ea1;
      margin-top: 20px;
      font-weight: 600;
    }
  }
}