@import "../include/base";
.teamIndex{
  header{
    height: 44px;
    background: #ffffff;
    color: #000000;
    line-height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    a{
      color: #000000;
      float: left;
      font-size: 25px;
      left: 8px;
      top: 4px;
      position: absolute;
    }
    span{
      float: left;
      b{
        font-size: 14px;
        float: left;
        border-radius: 3px;
        height: 33px;
        line-height: 33px;
        padding: 0 10px;
        display: block;
      }
      .active{
        color: red;
        background: #ffffff;
      }
    }
  }
  .item{
    width: 100%;
    border-bottom: 1px solid #efefef;
    border-top: 1px solid #efefef;
    padding: 0 10px;
    span{
      color: #858ea1;
      font-size: 14px;
    }
    .left{
      float: left;
    }
    .right{
      float: right;
    }
    .list{
      height: 40px;
      line-height: 40px;
    }
  }
}