@import "../include/base";
body{
  background-color: #ffffff;
}
.upd_password{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  header{
    height: 44px;
    background: #ffffff;
    color: #000000;
    line-height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    float: left;
    width: 100%;
    a{
      color: #000000;
      float: left;
      font-size: 25px;
      left: 8px;
      top: 4px;
      position: absolute;
    }
    span{
      float: left;
      b{
        font-size: 14px;
        float: left;
        border-radius: 3px;
        height: 33px;
        line-height: 33px;
        padding: 0 10px;
        display: block;
      }
      .active{
        color: red;
        background: #ffffff;
      }
    }
  }
  .content{
    padding: 46px 0;
    .van-cell-group{
      .van-icon.van-icon-bag-o{
        font-size: 15px;
        padding-right: 05px;
        color: #ffb400;
      }
      .van-cell__title.van-field__label{
        width: 82px;
        span{
          font-size: 13px;
        }
      }
      .van-field__body{
        input{
          font-size: 13px;
        }
      }
    }
    .van-button--block{
      width: 80%;
      text-align: center;
      margin:25px auto 0 ;
      border-radius:5px;
      .van-button__content{
        .van-button__text{
          font-size: 16px;
        }
      }
    }

    .van-cell__title{
      width: 90%;
    }
    .van-cell__title, .van-cell__value{
      flex: inherit;
    }
  }
}