@import "../include/base";
body{
  background-color: #ffffff;
}
.website_message{
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  overflow-y:scroll;
  header{
    height: 44px;
    background: #ffffff;
    color: #000000;
    line-height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    float: left;
    width: 100%;
    a{
      color: #000000;
      float: left;
      font-size: 25px;
      left: 8px;
      top: 4px;
      position: absolute;
    }
    span{
      float: left;
      b{
        font-size: 14px;
        float: left;
        border-radius: 3px;
        height: 33px;
        line-height: 33px;
        padding: 0 10px;
        display: block;
      }
      .active{
        color: red;
        background: #ffffff;
      }
    }
    .edit{
      position: absolute;
      right: 8px;
      font-size: 14px;
      color: #000000;
    }
  }
  .content{
    width: 100%;
    padding: 46px 0;
    .content-item{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 44px;
      border-bottom: 1px solid #e7e7e7;
      .item-left{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 74%;
        .item-lable{
          width: 11px;
          height: 11px;
          display: inline-block;
          border-radius: 50%;
          background: #f1e3b9;
          margin: 0 15px;
        }
        .item-checkbox{
          padding: 0  5px;
        }
        .item-title{
          font-size: 16px;
          color: #000000;
          text-align: left;
          margin-left: 5px;
          width: 100%;
        }
      }
      .item-right{
        margin-right: 15px;
        .item-after{
          font-size: 14px;
          color: #5f646e;
        }
      }
    }
    .content-item-detail{
      z-index: 3001!important;
      .detail-title{
        display: block;
        height: 46px;
        line-height: 46px;
        color: #ffffff;
        text-align: center;
        box-sizing: border-box;
        width: 100%;
        padding: 0 10px;
        background-color: #ec2829;
        font-size: 16px;
        position: relative;
        .title{
          font-size: inherit;
          color: inherit;
          display: inline-block;
        }
        .close{
          font-size: inherit;
          color: inherit;
          position: absolute;
          right: 10px;
          display: inline-block;
        }
      }
      .detail-content{
        font-size: 16px;
        padding: 5px;
        .card-header{
          line-height: 45px;
        }
        .card-content-inner{
          padding: 10px;
          line-height: 1.4;
        }
      }
    }
  }
  .bet-footer{
    background-color: #171719;
    position: fixed;
    bottom: 0;
    z-index: 3000;
    width: 100%;
    padding: 5px;
    text-align: right;
    button{
      margin-right: 15px;
      height: 35px;
      &:last-child{
        color: #000000!important;
      }
    }
  }
}