<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>聊天</title>
		<link rel="stylesheet" href="css/vant.css">
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<link rel="stylesheet" type="text/css" href="css/animate.css" />
	</head>
	<body>
		<div class="flexWrap flex" v-cloak>
			<header class="h-50 c-w  p-l-r-10 bg-q z-999 nohead">
				<van-row>
					<van-col span="8">
						<van-icon onclick="window.history.back(-1)" class=' p-r t-4' name="arrow-left" />
						<span onclick="window.history.back(-1)" class="p-r t--4 f-s-18">返回</span>
						<!-- <span class="p-r t--4 f-s-18" style="width: 23px;height: 22px;">&nbsp;</span> -->
					</van-col>
					<van-col span="8">
						<div class="text-c">交流大厅</div>
					</van-col>
					<van-col span="8" class="p-t-10 text-r">
						<img @click="goUserInfor" class="b-r-b50 m-r-10" width="25" height="25" :src="userInfor.headImg?userInfor.headImg:'https://xbtu111.com/chatserver/userImg.gif'" />
						<van-icon @click="more" class="f-s-30" name="more-o" />
						<span v-if="num>0" class="van-badge__info">{{this.num}}</span>
					</van-col>
				</van-row>
			</header>
			<div @touchstart="touchstart" @scroll="scroll" class="flexContent bg-f0 p-l-r-10">
			<!-- <div class="mHistori" @click='getHistori'>查看历史消息</div> -->
				<div v-for="item,index in historicalList">
					<!--left-->
					<div v-if="item.chat.id != userInfor.id" class="m-t-10">
						<div class="p-r">
							<img :src="item.chat.headImg" class="b-r-b50 v-t imgload animated" width="30" height="30" @click="eidtName(item.chat.form)" />
							<div class="d-i f-s-14 p-r t-3 m-l-10" style="max-width: 70%;top: -10px;">
								<div class="">
									<div v-if="item.chat.level=='1' || item.chat.level=='100'" style="float:left;">
										<span class="f-s-12 c-6">{{item.chat.form}}<span style="color: red;font-weight: 600;">【管理】</span></span>
									</div>
									<div v-else-if="item.chat.msgType=='3'" style="float:left;">
										<span class="f-s-12 c-6">{{item.chat.form}}<span style="color: red;font-weight: 600;">【计划员】</span></span>
									</div>
									<div v-else-if="item.chat.level=='0' && item.chat.grade" style="float:left;">
										<span class="f-s-12 c-6">{{item.chat.form}}<span style="color: red;font-weight: 600;">【{{item.chat.grade}}】</span></span>
									</div>
									<div v-else style="float:left;">
										<span class="f-s-12 c-6">{{item.chat.form}}</span>
									</div>
									<span class="d-i bg-q p-l-r-4 b-r-6 f-s-12 c-9" style="background: #e5e5e5;">{{item.chat.time}}</span>
								</div>
								<!--文字消息-->
								<div v-if="item.chat.msgType=='1'" class="bg-w p-5 b-r-6 m-t-5 p-r" style="word-break: break-word;">
									<div class="sanjiao-w p-a t-3 lf10"></div>
									<span v-html="item.chat.content" style="white-space: pre-line;"></span>
								</div>
								<!--图片消息-->
								<div v-else-if="item.chat.msgType=='2'" :class="'imgBox' + index" @click="imagePreview(item.chat.content)" class="imgRight imgload animated">
									<img :src="item.chat.content" class="w-b100 h-b100" />
								</div>
								<!--系统消息-->
								<div v-else-if="item.chat.msgType=='3' " class="bg-green bg-w f-w-600 p-5 b-r-6 m-t-5 p-r" style="word-break: break-word;">
									<div class="sanjiao-w p-a t-3 lf10"></div>
									<span v-html="item.chat.content" :style="{color:item.chat.textColor}"></span>
								</div>
								<!--红包消息-->
								<div v-else-if="item.chat.msgType=='4'">
									<img src="images/redPaper1.png" class="w-b100 h-b100" @click="openRed(item.chat.redpacketId)" :data-id="item.chat.redpacketId"  />
									<div class="p-a c-w" style="top:2.5rem;left:1.1rem">{{item.chat.content}}</div>
								</div>
								<!--跟投消息-->
								<div v-else-if="item.chat.msgType=='5'">
									<p class="w-12rem h-12 bg-16a0d3 c-w p-5 l-h-10 f-s-12">{{item.chat.content.lotName}}<span class="pull-r b-e0 b-r-4 p-l-5 p-r-5 " @click="throwShowC(item.chat)">跟投</span><span class="pull-r m-r-10">{{item.chat.content.qiHao}}期</span></p>
									<p class="w-12rem h-26 bg-w p-5 c-w "  v-for="thorw,throws in item.chat.content.data" ><span class="ba-d4d4d4  p-l-5 p-r-5 ">{{item.chat.content.playName}}</span><span class="bg-16a0d3 m-l-15 p-r-5 p-l-5 ">{{thorw.name}}</span><span class="pull-r c-r p-l-5 p-r-5 ">{{thorw.money}}元</span></p>
								</div>
								<!--分享战绩-->
								<div v-else-if="item.chat.msgType=='6'">
									<p class="w-12rem h-12 bg-f86704 c-w p-5 l-h-10 f-s-12"><span class="w-b33 text-c d-b pull-l">{{item.chat.content.bet}}</span><span class="w-b33 text-c d-b pull-l">{{item.chat.content.win}}</span><span class="w-b33 text-c d-b pull-l">{{item.chat.content.bunko}}</span></p>
									<p class="w-12rem h-12 bg-f86704 c-w p-5 l-h-10 f-s-12"><span class="w-b33 text-c d-b pull-l">投注</span><span class="w-b33 text-c d-b pull-l">奖金</span><span class="w-b33 text-c d-b pull-l">盈亏</span></p>
								</div>
							</div>
						</div>
					</div>
					<!--right-->
					<div v-else="">
						<div class="p-r p-t-10 clear">
							<img :src="item.chat.headImg" class="b-r-b50 v-t pull-r imgload animated" width="30" height="30"/>
							<div class="d-i f-s-14 p-r t-3 m-r-15 pull-r" style="max-width: 70%;top: -10px;">
								<div class="p-r text-r">
									<span class="d-i bg-q p-l-r-4 b-r-6 f-s-12 c-9" style="background: #e5e5e5;">{{item.chat.time}}</span>
									<span class="f-s-12 c-6">{{item.chat.name}}<span style="color: red;font-weight: 600;">【{{item.chat.grade}}】</span></span>
								</div>
								<!--文字消息-->
								<div v-if="item.chat.msgType=='1'" class="p-5 b-r-6 m-t-5 p-r c-h" style="background: #fff;word-break: break-word">
									<div class="sanjiao-r p-a t-3 r10"></div>
									<span v-html="item.chat.content" style="white-space: pre-line;"></span>
								</div>
								<!--图片消息-->
								<div v-else-if="item.chat.msgType=='2'"  class="p-5 b-r-6 m-t-5 p-r c-w" style="background: #fff;word-break: break-word" @click="imagePreview(item.chat.content)">
									<div class="sanjiao-w2 p-a t-3 r10"></div>
										<img :src="item.chat.content" style="width:100%; height: 100%;">
								</div>
								<!--系统消息-->
								<div v-else-if="item.chat.msgType=='3'" class="bg-green bg-w f-w-600 p-5 b-r-6 m-t-5 p-r" style="word-break: break-word;">
									<div class="sanjiao-w p-a t-3 lf10"></div>
									<span v-html="item.chat.content"></span>
								</div>
								<!--红包消息-->
								<div v-else-if="item.chat.msgType=='4'">
									<img src="images/redPaper1.png" class="w-b100 h-b100" @click="openRed(item.chat.redpacketId)" :data-id="item.chat.redpacketId"  />
									<div class="p-a c-w" style="top:2.5rem;left:1.1rem">{{item.chat.content}}</div>
								</div>
								<!--跟投消息-->
								<div v-else-if="item.chat.msgType=='5'">
									<p class="w-12rem h-12 bg-16a0d3 c-w p-5 l-h-10 f-s-12">{{item.chat.content.lotName}}<span class="pull-r b-e0 b-r-4 p-l-5 p-r-5 " @click="throwShowC(item.chat)">跟投</span><span class="pull-r m-r-10">{{item.chat.content.qiHao}}期</span></p>
									<p class="w-12rem h-26 bg-w p-5 c-w "  v-for="thorw,throws in item.chat.content.data" ><span class="ba-d4d4d4  p-l-5 p-r-5 ">{{item.chat.content.playName}}</span><span class="bg-16a0d3 m-l-15 p-r-5 p-l-5 ">{{thorw.name}}</span><span class="pull-r c-r p-l-5 p-r-5 ">{{thorw.money}}元</span></p>
								</div>
								<!--分享战绩-->
								<div v-else-if="item.chat.msgType=='6'">
									<p class="w-12rem h-12 bg-f86704 c-w p-5 l-h-10 f-s-12"><span class="w-b33 text-c d-b pull-l">{{item.chat.content.bet}}</span><span class="w-b33 text-c d-b pull-l">{{item.chat.content.win}}</span><span class="w-b33 text-c d-b pull-l">{{item.chat.content.bunko}}</span></p>
									<p class="w-12rem h-12 bg-f86704 c-w p-5 l-h-10 f-s-12"><span class="w-b33 text-c d-b pull-l">投注</span><span class="w-b33 text-c d-b pull-l">奖金</span><span class="w-b33 text-c d-b pull-l">盈亏</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer class="bg-w p-r" id="inputBottom">
				<van-row class="h-b100">
					<van-col span="3" class="h-b100 text-c">
						<van-uploader result-type="text" :after-read="sendPicMsg" id="sendPicMsg">
							<img class="m-t-8" width="36" src="images/pic.png" />
						</van-uploader>
					</van-col>
					<van-col span="3" class="h-b100 text-c">
							<img class="m-t-8" width="36" src="images/redpaper.png" @click="sendRedPaperShow1" />
					</van-col>
					<van-col span="14" class="centent p-r">
						<textarea @blur="myBlue" @focus="myFocus" @click='input' ref='textarea' v-model="textMsg" rows="2" cols=""></textarea>
					</van-col>
					<van-col span="4" class="left">
						<div @click="sendTextMsg">发送</div>
					</van-col>
				</van-row>
			</footer>
			<div class="w-b100 h-b100 p-f bg-0-5 t-0 z-999 flex topCentent leftCentent"  v-show="redShow">
				<div style="width:14rem;font-size:.7rem;border-radius: 5px;background: #fff;">
					<div class="w-b100 h-40 text-c l-h-24 f-s-20">发红包</div>
					<table class="w-b85 h-40 l-h-24" style="margin-left:1rem">
						<tr>
							<td>总金额</td>
							<td><input type="number" placeholder="0.00" class="h-20 bg-f8 w-7rem" v-model="redData.money"></td>
						</tr>
						<tr>
							<td>红包个数</td>
							<td><input type="number" placeholder="填写个数" class="h-20 bg-f8 w-7rem" v-model="redData.num"></td>
						</tr>
						<tr>
							<td>留言</td>
							<td><input type="text" placeholder="恭喜发财，大吉大利"  class="h-20 bg-f8 w-7rem" v-model="redData.content"></td>
						</tr>
					</table>
					<div class="w-b100 h-40 l-h-24" style="border-top: 1px solid #f1f1f1;">
						<button class="w-b50 pull-l bg-n b-n" @click="sendRedPaperShow1">取消</button>
						<button class="w-b50 pull-l bg-n e54042 b-n" @click="sendRedPaper">确定</button>
					</div>
				</div>
			</div>
			<div class="w-b100 h-b100 p-f bg-0-5 t-0 z-999 flex topCentent leftCentent"  v-show="throwShow">
				<div style="width:14rem;font-size:.7rem;border-radius: 5px;background: #fff;">
					<div class="w-b100 h-40 text-c l-h-24 f-s-16">跟投注单</div>
					<table class="w-b85 h-40 l-h-24 fontNowrap" style="margin-left:1rem">
						<tr>
							<td class="c-6">{{throwData.lotName}}</td>
							<td>{{throwData.date}}期</td>
							<td><input type="number" class="h-20 bg-f8 w-30" v-on:keyup="allMoney" v-model="allMoneyNum"></td>
							<td  v-show="deleteShow"></td>
						</tr>
						<tr v-for="items,index in lotFor">
							<td class="c-6">{{throwData.playName}}</td>
							<td>{{items.name}}</td>
							<td><input type="number" class="h-20 bg-f8 w-30" v-model="items.money" v-model="allMoney"></td>
							<td  v-show="deleteShow"><a @click="deleteThrow(index)" class="c-brown">删除</a></td>
						</tr>
					</table>
					<div class="w-b100 h-40 l-h-24" style="border-top: 1px solid #f1f1f1;">
						<button class="w-b50 pull-l bg-n b-n" @click="throwShowB">取消</button>
						<button class="w-b50 pull-l bg-n e54042 b-n" @click="throwShowD">确定</button>
					</div>
				</div>
			</div>
			<div class="w-b100 h-b100 p-f bg-0-5 t-0 z-999 flex topCentent leftCentent" v-show="knockShow">
				<div style="width:11rem;font-size:.7rem;border-radius: 5px;position: relative;">
				<div v-if='balance == false'>
					<img src="images/180817130439219510.png" class="w-b100">
					<img src="images/close.png" class="w-30 p-a" style="top:1rem;right:0rem;" @click="sendRedPaperShow2">
					<div class="p-a text-c c-w" style="top:10rem;width:11rem;font-size:1.1rem;">{{redPack.exceed}}</div>
					<div class="w-30 p-a text-c c-w f-s-16" style="top:13rem;width:11rem;" @click="redPaperList">去看看其他人手气>></div>
				</div>
				<div v-else>
					<img src="images/180817130439219511.png" class="w-b100">
					<img src="images/close.png" class="w-30 p-a" style="top:1rem;right:0rem;" @click="sendRedPaperShow2">
					<div class="p-a text-c e54042 f-w-900 f-s-30" style="top:5rem;width:11rem;">{{knockRed.grabMoney}}元</div>
					<div class="p-a text-c c-w" style="top:10rem;width:11rem;font-size:1.1rem;">{{redPack.exist}}</div>
					<div class="w-30 p-a text-c c-w f-s-16" style="top:13rem;width:11rem;" @click="redPaperList">去看看其他人手气>></div>
				</div>
				</div>
			</div>
			<div class="w-b100 h-b100 p-f  t-0 z-999 "  v-show="redList">
				<div class="w-b100 h-44 t-0 z-999 flex topCentent leftCentent bg-e5 pull-l c-w">
					<img src="images/gohome.png" class="w-30 p-a l-1" @click="sendRedPaperShow3">红包详情
				</div>
				<div class="w-b100 h-180 t-0 z-999 text-c topCentent leftCentent bg-e2 pull-l f-s-16">
					<img class="b-r-b50 h-80" :src="knockRed.headImg">
					<div class="w-b100 t-0 text-c z-999 topCentent leftCentent bg-e2 pull-l c-w m-t-5">{{knockRed.nick}}</div>
					<div class="w-b100 t-0 text-c z-999 topCentent leftCentent bg-e2 pull-l c-w m-t-5 f-s-20">{{knockRed.totalMoney}}元</div>
					<div class="w-b100 t-0 text-c z-999 topCentent leftCentent bg-e2 pull-l c-w m-t-5">{{knockRed.title}}</div>
				</div>
				<div class="w-b100 h-20 t-0 z-999  topCentent leftCentent bg-w pull-l c-9 f-s-12 p-t-5 p-l-5 p-r">
					领取人  <div class="p-a r4 t-5">已领取 {{knockRed.totalNumber - knockRed.remainNumber}}/{{knockRed.totalNumber}}, {{surPlusMoney}}元/{{knockRed.totalMoney}}元</div>
				</div>
				<div class="w-b100 t-0 z-999 topCentent leftCentent bg-w pull-l f-s-16" style="height:23rem;overflow: auto;">
					<ul>
						<li class="p-5 b-b pull-l w-b100 box-si"  v-for="item in redItems">
							<div class="pull-l"><img class="b-r-b50 h-60" :src="item.headImg"></div>
							<div class="pull-l l-h-20 m-l-5">{{item.nick}}<span class="d-b">{{item.createDatetime}}</span></div>
							<div class="pull-r l-h-20 m-l-5 p-r-5">{{item.money}}元<span class="d-b e54042" v-if='item.luck != false'>手气最佳</span></div>
						</li>	
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
<!-- <script src="js/fastclick.js" type="text/javascript" charset="utf-8"></script> -->
<script type="text/javascript">
	new Vue({
		el: '.flexWrap',
		data: {
			//start:0,
			//end:20,
			num: 0, //私聊未读http://192.168.31.32:8020/iphoneChat/images/banner1.png
			userInfor: '', //用户信息
			ws: new Object(), //WebSocket对象
			wsState: false, //是否连接成功
			textMsg: '', //文字消息内容
			historicalList: new Array(), //聊天记录
			n: 0, //控制懶加載
			knockShow:false, //抢红包显示隐藏
			redData: {
				money:'',
				num:'',
				content:'',
			}, // 发红包参数
			knockRed: { }, // 抢红包参数
			redShow:false, //红包显示隐藏
			balance:false,//红包余额
			redList:false,//红包详情
			redPack:{
				exist:'',
				exceed:''
			},
			imgSide:{
				width:'',
				height:''
			},
			redItems: [],//领取红包列表详情
			surPlusMoney: '',
			throwShow: false, //跟投
			throwData:{
				date:'',
				lotName:'',
				playName:''
			},
			catheData:'',
			lotFor:new Array(),
			allMoneyNum:'',
			deleteShow:false
		},
		created: function() {	
			//FastClick.attach(document.body);
			this.loadingUser(); //获取初始信息
			//this.start=0;
			//this.end=20;
			this.scrollBottom();
		},
		mounted: function() {
			this.kboard();
			setInterval(this.webHeart,30000);
			this.scrollBottom();
			this.scroll(); //初始化懒加载
			window.onbeforeunload = () => {　　
				this.ws.close();
			}
		},
		methods: {
			//弹起键盘
			kboard:function(){
				var clientHeight = document.body.clientHeight;
			    var _focusElem = null; //输入框焦点
			    //利用捕获事件监听输入框等focus动作
			    document.body.addEventListener("focus", function(e) {
			        _focusElem = e.target || e.srcElement;
			    }, true);
			    //因为存在软键盘显示而屏幕大小还没被改变，所以以窗体（屏幕显示）大小改变为准
			    window.addEventListener("resize", function() {
			        if (_focusElem && document.body.clientHeight < clientHeight) {
			            //焦点元素滚动到可视范围的底部(false为底部)
			            _focusElem.scrollIntoView(false);
			        }
			    });
			},
			allMoney:function(){
				for(index in this.lotFor){
					this.lotFor[index].money = this.allMoneyNum
				}
			},
			deleteThrow:function(index){
				this.lotFor.splice(index,1)
				if(this.lotFor.length == 1){
					this.deleteShow = false
				}
			},
			//跟投
			throwShowB:function(){
				this.throwShow = !this.throwShow
			},
			//跟投
			throwShowC:function(data){
				this.catheData = JSON.stringify(data.content)
				this.catheData = JSON.parse(this.catheData)
				this.lotFor = new Array()
				for(index in this.catheData.data){
					this.lotFor.unshift(this.catheData.data[index]);
				}
				this.throwData.playName = data.content.playName
				this.throwData.lotName = data.content.lotName
				this.throwData.date = data.content.qiHao
				this.throwShow = !this.throwShow
				if(this.lotFor.length > 1){
					this.deleteShow = true
				}
			},
			//跟投
			throwShowD:function(){
				for(index in this.lotFor){
					if(this.lotFor[index].money == 0){
						$zlj.toast('请输入投注金额', 'fail');
					 	return false;	
					}
				}
				this.catheData.data = this.lotFor
				  $zlj.ajax('post', '/user/operation/followBet', {
					params:JSON.stringify(this.catheData),
				}).then((ret) => {			
					//var i = 0; 	
					if(ret.data.code == 9999){
						$zlj.toast(ret.data.msg, 'fail');
					}else{
						if(ret.data.data!=null && ret.data.data.success){
							$zlj.toast('跟投成功');
						}else{
							$zlj.toast(ret.data.msg, 'fail');
						}
					}
				}); 
				this.throwShow = !this.throwShow 
				this.allMoneyNum = ''
			},
			webHeart:function(){
				this.ws.send(JSON.stringify({
			        chat: {
			        	content:'1',
			        	form: this.userInfor.nickname, //发送者昵称
						to: "", //接收人,如果没有就是群聊,如果有就是私聊
						time: $zlj.getDateFull(), //当前时间
						headImg: this.userInfor.headImg , //用户头像
						id: this.userInfor.id, //用户ID
						name: this.userInfor.name, //账号
						level: this.userInfor.level, //等级
						msgType:'0'
			        },
			        type: "heart",
				}));    
			},
			touchstart: function() {
				this.$refs.textarea.blur();
			},
			//获取聊天记录
			/* getHistori:function(){
				//console.log(document.body.scrollTop);
			    //console.log(document.body.scrollLeft);
			
				this.start+=30;
				this.end += 30;
				this.getHistoricalList();
			}, */
			getHistoricalList: function() {		
					//https://chat.xbxb555.com/getPlatChatRecord
					$zlj.ajax('post', '/getPlatChatRecord', {
						token:$zlj.getWindowUrl().token,
						//token:'DERfrlyLglyA9bOKc0UNm4iMNZToqyK6adbAYNzxZsA89SrGXvTywZhVJRIn58/QrlTEijCTtb5XC9kHqeND23pJHBXN7rJ6cWLtOYXCYeZzBnFbxInJRdq6w/2vDe6+Hi+Vg2JL2MxAzQrzS8+AsQ==',
						//start:this.start,
						//end:this.end
					},1).then((ret) => {			
						//var i = 0; 	
						for(user in ret.data.data){
							var data = JSON.parse(ret.data.data[user]);
							//if(i < this.mhst ){
								//i += 1
								if (data.type == "message" || data.type == 'img' || data.type == 'redPaper'){
									if(data.chat.msgType == "5" || data.chat.msgType == '6'){
										data.chat.content = JSON.parse(data.chat.content)
					    	    	} 
									this.historicalList.unshift(data);	
					    	    	this.scrollBottom()
								//}
							}								
						};
						//console.log(this.hst)
						//console.log(this.historicalList)
						/* if($zlj.getStorage(this.userInfor.name)) {
						var HistorMsg = $zlj.getStorage(this.userInfor.name);
						if($zlj.isOutTime(HistorMsg)) { //未过期
							this.historicalList = $zlj.getStorage(this.userInfor.name);
							console.log(this.userInfor.name)
							this.scroll(); //初始化懒加载
						} else { //已过期
							$zlj.rmStorage(this.userInfor.name); //删除聊天记录
						};
						}; */
					}); 
					
			},
			//查看图片
			imagePreview: function(imgSrc) {
				var imgList = new Array();
				imgList.push(imgSrc);
				vant.ImagePreview({
					images: imgList,
				});
			},
			//懶加載
			scroll: function() {
				this.$nextTick(()=>{
					var aImg = document.querySelectorAll('.imgload');
					for(var i = this.n; i < aImg.length; i++) {
						if(aImg[i].getBoundingClientRect().top < window.innerHeight) { //如果元素在可是窗口内
							aImg[i].classList.add('fadeInDown');
							this.n = i + 1;
						}
					}
				})
			},
			//获取初始信息
			loadingUser: function() {
				if($zlj.getWindowUrl().token) { //用户登陆了
					this.getUserInfor((ret) => { //获取用户信息
						this.userInfor = ret;
						this.userInfor.token = $zlj.getWindowUrl().token
						//console.log(ret)
						$zlj.setStorage('userInfor', this.userInfor);
						this.getHistoricalList(); //获取聊天记录
						this.webSocketIntr(); //初始化webSocket
					});
				} else { //游客
					this.getHistoricalList(); //获取聊天记录
					this.webSocketIntr(); //初始化webSocket
				}
			},
			//初始化webSocket
			webSocketIntr: function() {
				if('WebSocket' in window) {
					this.connectWs(); //连接ws
					this.ws.onerror = (evt) => {
						this.wsState = false;
						$zlj.toast("聊天室连接异常请刷新");
					};
					this.ws.onopen = (evt) => {
						this.wsState = true;
						//$zlj.toast("您已加入聊天室...");
						
					};
					this.ws.onclose = (evt) => { //关闭
						this.wsState = false;
						$zlj.toast("聊天室已被关闭请刷新");
					};
					this.newMsg(); //收到新消息
				} else {
					$zlj.toast('Not support websocket');
					return;
				}
			},
			//滚动到底部
			scrollBottom: function() {
				setTimeout(() => {
					var Bottom = document.querySelector('.flexContent');
					Bottom.scrollTop = Bottom.scrollHeight;
				}, 100)
			},
			//输入框获取焦点时
			myFocus: function() {
				if(/iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) { //如果是苹果手机
					setTimeout(function(){
						document.body.scrollTop = document.body.scrollHeight;
					},300);
				}
			},
			//点击获取焦点
			input: function(){	
			    this.$refs.textarea.focus();    
			    document.body.scrollTop = document.body.scrollHeight;
			    setTimeout(function(){
			    	document.body.scrollTop = document.body.scrollHeight;
			    },300);
			},
			//输入框失去焦点时
			myBlue: function() {
				if(/iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) { //如果是移动端
						  
				}
			},
			//收到新消息
			newMsg: function() {
				this.ws.onmessage = (event) => {
					var data = JSON.parse(event.data);
					if(data.type == 'ban'){
						$zlj.toast("您已被禁言，请联系管理员");
						return false;
					}
					if(data.type == 'banned') {
						$zlj.toast(data.message);
						return false;
					}
					if(data.type == 'message'|| data.type == 'img' || data.type == 'redPaper'){
						if(data.chat.msgType == "5" || data.chat.msgType == '6'){
							data.chat.content = JSON.parse(data.chat.content)
		    	    	} 
						if(!data.chat.to) { //不存在代表群聊
							this.saveMsg(data, 'group'); //保存消息到历史记录
						} else { //私聊
							this.saveMsg(data, 'private'); //保存消息到历史记录
						}
					}
					if(data.type == 'recall'){
						this.historicalList = new Array();
						this.getHistoricalList();
						return false;
					}
					if(data.type == 'delete'){
						var contents = data.chat.content;
						var isTimes = data.chat.time;
						for (var index in this.historicalList) {
							if(this.historicalList[index].chat.content === contents && this.historicalList[index].chat.time === isTimes){
								this.historicalList.splice(index,1);
							}
						}
					}
				}
			},
			//保存消息到历史记录
			saveMsg: function(data, type) {
				var mastype; //
				if(type == 'group' && type == 'message') { //群聊
					mastype = this.userInfor.name;
				} else if(type == 'private') { //私聊
					mastype = data.chat.name;
					var myNum = $zlj.getStorage(mastype + 'num')
					if(myNum){//如果有未读
						var mastypeNum = parseInt(myNum);
						mastypeNum += 1;
						$zlj.setStorage(mastype + 'num', mastypeNum);
						this.num = $zlj.getStorage(mastype + 'num');
					}else{
						$zlj.setStorage(mastype + 'num', 1);
						this.num = 1;
					}
				}
				//将账号设为每个聊天记录缓存

					/* var historyMsg = $zlj.getStorage(mastype);
					data.times = new Date().getTime(); //加入时间戳，为了判断缓存是否过期
					historyMsg.push(data);
					$zlj.setStorage(mastype, historyMsg); */
				if(type == 'group') {
					this.historicalList.push(data);
					this.scroll(); //初始化懒加载
					this.scrollBottom(); //滚动到底部
				}
			}, 
			//获取用户信息
			getUserInfor: function(callback) {
				$zlj.toast('加载中', 'loading');
				$zlj.ajax('post', '/getAuthentication', {
					token: $zlj.getWindowUrl().token
				}).then((ret) => {
					if(ret.data.code === 1) {
						vant.Toast.clear();
						callback(ret.data.data); //返回用户信息
					} else {
						vant.Toast.clear();
						$zlj.toast(ret.data.msg, 'fail');
					}
				})
			},
			//查看更多聊天
			more: function() {
				window.location.href = 'html/userList.html';
			},
			//查看用户信息
			goUserInfor: function() {
				window.location.href = 'html/informetion.html?token=' + $zlj.getWindowUrl().token;
			},
			//发送图片消息
			sendPicMsg: function(file) {
					if(this.wsState) { //如果ws连接上了
						var data = this.masgData();
						this.upFile(file, (imgUrl) => {
							data.chat['content'] = imgUrl;
							data.chat['msgType'] = '2';
							data.chat['imgHeight'] = this.imgSide.width;
							data.chat['imgWidth'] = this.imgSide.height;
							data['type'] = 'message';
							data['platformId'] = this.userInfor.platformId;
							this.msgCommon(data); //发送并保存消息
						})
					} else {
						$zlj.toast("聊天室连接已断开请刷新");
						this.connectWs(); //重新连接
					}
			},
			//红包输入框
			sendRedPaperShow1: function() {
				this.redShow = !this.redShow;
			},
			//抢红包
			sendRedPaperShow2: function() {
				this.knockShow = !this.knockShow;
			},
			//红包列表
			sendRedPaperShow3: function() {
				this.redList = !this.redList;
				/* window.top.postMessage("no","*") */
			},
			//发红包
			sendRedPaper: function() {
				if(this.redData.money > 0 && this.redData.num > 0 && this.redData.num%1 == 0) { //如果输入了内容
					if(this.redData.content.length > 15){
						alert('红包留言长度不能超过12个字符')
						return false;
					}
						if(this.wsState) { //如果ws连接上了
							if(!this.redData.content){
								this.redData.content = '恭喜发财，大吉大利'
							}
							$zlj.toast('发送中', 'loading');
							$zlj.ajax('post', '/user/operation/createRedpacket', {
								totalMoney:this.redData.money,
								totalNumber:this.redData.num,
								title:this.redData.content,
								token:this.userInfor.token
							}).then((ret) => {
								if(ret.data.code === 1) {
									vant.Toast.clear();
									// 回调成功
									var data = this.masgData();
									data.chat['redpacketId'] = ret.data.data.id;
									data.chat['content'] = ret.data.data.title;
									data.chat['msgType'] = '4';
									data['type'] = 'redPaper';
									data['platformId'] = this.userInfor.platformId;
									this.msgCommon(data); //发送并保存消息
									this.redShow = !this.redShow;
									this.redData.money = '';
									this.redData.num = '';
									this.redData.content = '';
								} else {
									vant.Toast.clear();
									$zlj.toast(ret.data.msg, 'fail');
								}
							})
						} else {
							$zlj.toast("聊天室连接已断开请刷新");
							this.connectWs(); //重新连接
						}
				}else{
					$zlj.toast("请输入正确的金额和红包数量");
				}
			},
			//抢红包
			openRed: function(id) {
				$zlj.toast('正在打开红包', 'loading');
				$zlj.ajax('post', '/user/operation/grabRedpacket', {
					redpacketId:id
				}).then((ret) => {
					if(ret.data.code === 1) {
						// 回调成功
						vant.Toast.clear();
						if(ret.data.data.success){
							ret = ret.data.data.content
							if(ret.redpacket.status == 2){
								this.balance = true; 
								this.redPack.exist = '抢到了'
							}else if(ret.redpacket.status == 3){
								this.balance = false; 
								this.redPack.exceed = '红包已过期'
							}else if(ret.redpacket.status == 4){
								this.balance = true; 
								this.redPack.exist = '您已经抢到该红包'
							}
						}else{
							this.balance = false; 
							this.redPack.exceed = ret.data.data.msg
							ret = ret.data.data.content
						}
						this.knockRed = ret.redpacket
						this.redItems = ret.records 
						this.surPlusMoney = (ret.redpacket.totalMoney - ret.redpacket.remainMoney).toFixed(2)
						for(var i = 0; i < ret.records.length; i++){
							ret.records[i].createDatetime = this.formatDuring(ret.records[i].createDatetime)
						}
						this.knockShow = !this.knockShow;
					} else {
						vant.Toast.clear();
						alert(ret.data.msg)
					}
				})
			},
			//红包列表	
			redPaperList: function() {
				this.redList = !this.redList;
				/* window.top.postMessage("ok","*") */
			},
			formatDuring: function(str){
				var oDate = new Date(str),
		        oYear = oDate.getFullYear(),
		        oMonth = oDate.getMonth()+1,
		        oDay = oDate.getDate(),
		        oHour = oDate.getHours(),
		        oMin = oDate.getMinutes(),
		        oSen = oDate.getSeconds(),
		        oTime = this.getzf(oHour) +':'+ this.getzf(oMin) +':'+this.getzf(oSen);//最后拼接时间
		   		return oTime ;
			},
			getzf:function(num){
				if(parseInt(num) < 10){
			        num = '0'+num;
			    }
			    return num;
			},
			//上传图片
			upFile: function(file, callback) {
/* 				if(file.file.size > 1145728){
	            	alert("图片大小不能超过1MB")
	            	return false;
	            } */
				$zlj.toast('加载中', 'loading');
				let param = new FormData() // 创建form对象
				param.append('file', file.file, file.file.name) // 通过append向form对象添加数据
				 var reader = new FileReader();
				var that = this
				reader.onload = function (e) {
					var data = e.target.result;
					//加载图片获取图片真实宽度和高度
					var image = new Image();
					image.onload=function(){
						that.imgSide.width = image.width;
						that.imgSide.height = image.height;
					};
					image.src= data;
				};
				reader.readAsDataURL(document.getElementById("sendPicMsg").files[0]);
				let config = { // 添加请求头
					headers: {
						'Content-Type': 'multipart/form-data'
					}
				}
				axios.post($zlj.getAjaxUrl() + '/user/uploadPic', param, config).then((ret) => {
					if(ret.data.code === 1) {
						vant.Toast.clear();
						callback(ret.data.data)
					} else {
						vant.Toast.clear();
						$zlj.toast(ret.data.msg, 'fail');
					}
				})
			},
			//消息通用
			msgCommon: function(data) {
				this.sendMsg(data);
				this.textMsg = '';
			},
			// 接口形式发送消息
			sendMsg:function(data){
				let params = {
					msg: JSON.stringify(data),
					platformId: data['platformId'],
					token: $zlj.getWindowUrl().token,
				}
				$zlj.ajax('post', '/sendMsg', params).then((ret) => {
					if(ret) {
						this.textMsg = '';
					} else {
						$zlj.toast(ret.data.msg, 'fail');
					}
				})
			},
			
			//发送文字消息
			sendTextMsg: function() {
				this.input();
				if(this.textMsg && this.textMsg.split(" ").join("").length != 0) { //如果输入了内容
						if(this.wsState) { //如果ws连接上了
							var data = this.masgData();
							data.chat['content'] = this.textMsg;
							data.chat['msgType'] = '1';
							data.chat['platformId'] = this.userInfor.platformId;
							data['type'] = 'message';
							data['platformId'] = this.userInfor.platformId;
							this.sendMsg(data); //发送并保存消息
							document.getElementById('inputBottom').style.marginBottom = '0rem'
						} else {
							$zlj.toast("聊天室连接已断开请刷新");
							this.connectWs(); //重新连接
						}
				}
			},
			//发送消息参数
			masgData: function() {
				var data = {
					chat: {
						form: this.userInfor.nickname ? this.userInfor.nickname : this.userInfor.name, //发送者昵称
						to: "", //接收人,如果没有就是群聊,如果有就是私聊
						time: $zlj.getDateFull(), //当前时间
						headImg: this.userInfor.headImg ? this.userInfor.headImg : 'https://xbtu111.com/chatserver/userImg.gif', //用户头像
						id: this.userInfor.id, //用户ID
						name: this.userInfor.name, //账号
						level: this.userInfor.level //等级
					}
				}
				return data;
			},
			//返回
			back: function() {
				var url = location.search; //获取url中"?"符后的字串
		        var theRequest = new Object();
		        if (url.indexOf("?") != -1) {
		            var str = url.substr(1);
		            strs = str.split("&");
		            for(var i = 0; i < strs.length; i ++) {
		                theRequest[strs[i].split("=")[0]]=unescape(strs[i].split("=")[1]);
		            }
		        }
				window.history.back(-1);
// 		        location.href= theRequest.outUrl;
			},
			eidtName :function(name){
				this.textMsg += ('@'+name+'  ')
			},
			//连接ws
			connectWs: function() {
				var search = window.location.search;
//					var webSocketIp = window.location.host + window.location.pathname;
					//开发环境
// 				this.ws = new WebSocket("ws://" + window.location.host + "/chat/websocket" + search);
// 				$zlj.setStorage('wsUrl', "ws://" + window.location.host + "/chat/websocket" + search);
				//生产环境
				var wss = 'ws';
   				wss = (location.protocol == 'https:') ? 'wss' : 'ws';
   				console.log(wss + "://" + window.location.host + "/websocket" + search);
				this.ws = new WebSocket(wss + "://" + window.location.host + "/websocket" + search);
				$zlj.setStorage('wsUrl',wss + "://" + window.location.host + "/websocket" + search);
			},
			
			
		},
	})
</script>
<style type="text/css">
	header {
		line-height: 2.5rem;
	}
	
	header .van-badge__info {
		top: -.4rem;
		right: -.25rem;
	}
	.mHistori{
		background: rgba(176, 196, 222, 0.5);
		color: #b700f9;
		position: absolute;
		margin: 1% 35%;
		z-index: 1;
		font-size: 13px;
		border-radius:5px;
	}
	.sanjiao-w {
		height: 0px;
		width: 0px;
		border-top: 6px solid transparent;
		border-right: 10px solid #fff;
		border-bottom: 6px solid transparent;
	}
	
	.sanjiao-r {
		height: 0px;
		width: 0px;
		border-top: 6px solid transparent;
		border-left: 10px solid #fff;
		border-bottom: 6px solid transparent;
	}
	.sanjiao-w2 {
		height: 0px;
		width: 0px;
		border-top: 6px solid transparent;
		border-left: 10px solid #fff;
		border-bottom: 6px solid transparent;
	}
	.imgLeft {
		width: 6rem;
		/* height: 7.5rem; */
		position: relative;
		top: .15rem;
		left: .5rem;
		/* background: url(images/pic_jiazai@2x.png) no-repeat; */
		background-size: contain;
		clip-path: polygon(0% 0%, 110px 0%, 110px 5px, 120px 10px, 110px 15px, 110px 100%, 0% 100%)!important;
		-webkit-clip-path: polygon(0% 0%, 110px 0%, 110px 5px, 120px 10px, 110px 15px, 110px 100%, 0% 100%)!important;
	}
	.imgload{
		background: url(images/pic_jiazai@2x.png) no-repeat contain;
	}
	.imgRight {
		width: 6rem;
		height: 7.5rem;
		position: relative;
		top: .15rem;
		right: .5rem;
		background: #ddd url(images/pic_jiazai@2x.png) no-repeat;
		background-size: contain;
		clip-path: polygon(10px 0%, 10px 5px, 0% 10px, 10px 15px, 10px 100%, 100% 100%, 100% 0%, 10px 0);
		-webkit-clip-path: polygon(10px 0%, 10px 5px, 0% 10px, 10px 15px, 10px 100%, 100% 100%, 100% 0%, 10px 0);
	}
	
	footer {
		height: 50px;
		font-size: 0;
	}
	
	footer .centent {
		left: -4px;
	}
	
	footer .centent textarea {
		border: 1px solid #ddd;
		border-radius: 4px;
		height: 31px;
		margin-top: 5px;
		width: 96%;
		margin-left: 2%;
		text-indent: .5em;
		font-size: 16px;
		padding-top: 8px;
	}
	
	footer .left div {
		width: 100%;
		margin-top: 5px;
		height: 40px;
		line-height: 40px;
		background: #f85;
		text-align: center;
		color: white;
		font-size: 14px;
		border-radius: 6px;
		position: relative;
		left: -4px;
	}
	
	footer .left div:active {
		background: #e09f82;
	}
</style>