<template>
  <div class="duanpai">
    <van-row class="p-b-t-10 p-15">
      <van-col span="24" class="m-t-5">
        <div class="clear">
          <div @click="selectHM(hmIndex)" v-for="item,hmIndex in dsList" class="pull-l p-l-r-5 p-b-t-3 w-b25 text-c b-box p-t-5">
            <div :class="{hmzsTabActive:item.isActive}" class="box c-w">
              <p class="c-w m-t-5 h-20">{{item.name}}</p>
              <p class="c-k3 f-s-16 h-20 l-h-20 pre">赔率 {{item.odds}}</p>
            </div>
            <p></p>
          </div>
        </div>
      </van-col>
    </van-row>
    <div class="h-50"></div>
  </div>
</template>

<script>
  export default {
    props: ['dsList', 'rule', 'fpText', 'tzSuccess'],
    data() {
      return {}
    },
    watch:{
      tzSuccess(newBol,oldBol){
        if(newBol){
          for(let i in this.dsList){
            this.dsList[i].isActive = false;
          }
          this.$forceUpdate();
        }
      }
    },
    methods: {
      selectHM: function ( hmIndex) {
        this.$set(this.dsList[hmIndex], 'isActive', !this.dsList[hmIndex].isActive );
        this.$forceUpdate();
        this.$emit('selectHM', hmIndex, this.dsList)
      }
    }
  }
</script>

<style scoped>
  #kuaisan .duanpai .box{
   height: auto;
  }
  #kuaisan .kjBox{
    margin-right: 0;
  }
</style>
