<template>
	<div id="hmzs">
		<div class="left">
			<div v-if="index < 20" v-for="item,index in kjlsList" :class="{'double':index%2==0}" class="leftBox">{{item.qiHao.substring(item.qiHao.length-4)}}</div>
		</div>
		<div @scroll="kjlsScroll" ref="kjjlRight" class="right o-x-s selector">
			<div v-if="index < 20" v-for="item,index in kjlsList" :class="{'double':index%2==0}" class="list">
				<div class="box box2">
					<span>{{item.haoMaList.join(',')}}</span>
				</div>
				<div class="box box2">
          <span>{{sumArr(item.haoMaList)}}</span>
				</div>
        <div class="box box2">
          <span>{{kdArr(item.haoMaList)}}</span>
        </div>
				<div :class="{'double':index%2==0}" class="box box2">
					<span :class="{isNone:item.haoMaList.indexOf('1')===-1, firstNum:item.haoMaList[hmIndex] == 0,isHas:item.haoMaList[hmIndex] == 0}" class="smallBg">1</span>
				</div>
				<div :class="{'double':index%2==0}" class="box box2">
					<span :class="{isNone:item.haoMaList.indexOf('2')===-1,isHas:item.haoMaList[hmIndex] == 1}" class="smallBg">2</span>
				</div>
				<div :class="{'double':index%2==0}" class="box box2">
					<span :class="{isNone:item.haoMaList.indexOf('3')===-1,isHas:item.haoMaList[hmIndex] == 2}" class="smallBg">3</span>
				</div>
				<div :class="{'double':index%2==0}" class="box box2">
					<span :class="{isNone:item.haoMaList.indexOf('4')===-1,isHas:item.haoMaList[hmIndex] == 4}" class="smallBg">4</span>
				</div>
				<div :class="{'double':index%2==0}" class="box box2">
					<span :class="{isNone:item.haoMaList.indexOf('5')===-1,isHas:item.haoMaList[hmIndex] == 5}" class="smallBg">5</span>
				</div>
				<div :class="{'double':index%2==0}" class="box box2">
					<span :class="{isNone:item.haoMaList.indexOf('6')===-1,isHas:item.haoMaList[hmIndex] == 6}" class="smallBg">6</span>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { Dialog } from 'vant';
	import { Toast } from 'vant';
	export default {
		props: ['kjlsList'],
		data() {
			return {
				hmIndex:0,//01234/w万千百十个
			}
		},
		watch: {

		},
    created: function() {
      for(let i in this.kjlsList){
        if(this.kjlsList[i].haoMaList[0]==='?'){
          this.kjlsList = this.kjlsList.slice(1,this.kjlsList.length);
        }
      }
    },
		mounted: function() {
		},
		methods: {
      // 计算一个数组和值函数
      sumArr:function(arr) {
        if(arr[0]!=='?'){
          return eval(arr.join("+"));
        }else {
          return '?';
        }
      },
      // 计算一个数组跨度的函数
      kdArr:function(arr) {
        let min,max;
        if(arr[0]==='?') {
          return '?';
        }else {
          for (let i in arr) {
            i == 0 ? (min = arr[i], max = arr[i]) : '';
            arr[i] < min ? min = arr[i] : '';
            arr[i] > max ? max = arr[i] : '';
          }
          return (max - min);
        }
      },
			//判断质或合
			zhiHe:function(num){
				let zhiList = [1,2,3,5,7];//0-9质数
				for(let i in zhiList){
					if(zhiList[i] == num) return '质';
				}
				return '合';
			},
			//监听父组件切换类型改变
			hmzsIndex:function(index){
        let cthis = this;
				this.hmIndex = index;
				for(let i in $('.isHas')){
          $('.isHas').eq(i).find('canvas').remove();
        }
        setTimeout(function () {
          cthis.renderData(cthis.kjlsList)
        },300);
			},
			//左右滑动时传递广播给父组件
			kjlsScroll:function(){
				let num = this.$refs.kjjlRight.scrollLeft;
				this.$emit('kjlsScroll',num);
			},
			//父组件滑动子组件跟随
			kjTopLeft:function(num){
				this.$refs.kjjlRight.scrollLeft = num;
			}
		},
	}
</script>

<style>
  #moreKs #hmzs .double {
    background: #2f5542;
  }
  .isHas{
    position: relative;
    z-index: 99;
  }
  .mobile_zx {
    position: absolute !important;
  }
	#hmzs .isNone{
		visibility:hidden;
	}
	/*龙/虎/和*/
	#moreKs #hmzs .bigBg{
		background: #bb9431;
    width: 18px;
    height: 18px;
	}
	#moreKs #hmzs .smallBg{
		background: #597d36;
    width: 18px;
    height: 18px;
	}

  #moreKs #hmzs {
		background: #1c6a4c;
		overflow: hidden;
	}
	.selector::-webkit-scrollbar { display: none }

  #moreKs  #hmzs .left {
    color: #c9ebd0;
		float: left;
		width: 20%;
		box-sizing: border-box;
	}

  #moreKs #hmzs .right {
		color: #666;
		float: right;
		width: 80%;
		box-sizing: border-box;
	}

  #moreKs #hmzs .left .leftBox {
		padding: 5px 0;
		font-size: 14px;
		text-align: center;
		border-right: 1px solid #3a7f62;
		border-bottom: none;
	}
	
	#hmzs .right .list {
		font-size: 0;
	}

  #moreKs #hmzs .right .list .box.box1 span {
		color: #df303f;
		letter-spacing: 4px;
		width: 70px;
	}
	
	#moreKs #hmzs .right .list .box.box2 {
		width: 64px;
	}
	
	#moreKs #hmzs .right .list .box {
		display: inline-block;
		padding: 5px 0;
		font-size: 14px;
		text-align: center;
		border-right: 1px solid #3a7f62;
		border-bottom: none;
	}
	
	#moreKs #hmzs .right .list .box.box2 span {
		display: inline-block;
		/*width: 18px;*/
		/*height: 18px;*/
		line-height: 18px;
		color: #c9ebd0;
		border-radius: 50%;
		text-align: center;
	}
</style>
