<template>
	<div id="hmzs">
		<div class="left">
			<div v-if="index < 20" v-for="item,index in kjlsList" :class="{'double':index%2==0}" class="leftBox">{{item.qiHao.substring(item.qiHao.length-4)}}</div>
		</div>
		<div @scroll="kjlsScroll" ref="kjjlRight" class="right o-x-s selector">
			<div v-if="index < 20 " v-for="item,index in kjlsList" :class="{'double':index%2==0}" class="list">
        <div class="box box2">
          <span>{{item.haoMaList.join(',')}}</span>
        </div>
				<div class="box box2" >
          <span class="smallBg">{{item.sizeStr}}</span>
				</div>
				<div class="box box2">
          <span class="doubleBg">{{item.sdStr}}</span>
				</div>
				<div :class="{'double':index%2==0}" class="box box2">
					<span :class="{isNone:sumArr(item.haoMaList) !== 3, firstNum:item.haoMaList[hmIndex] == 0,isHas:sumArr(item.haoMaList) === 3 }" class="smallBg ">3</span>
				</div>
				<div :class="{'double':index%2==0}" class="box box2">
					<span :class="{isNone:sumArr(item.haoMaList) !== 4,isHas:sumArr(item.haoMaList) === 4}" class="smallBg">4</span>
				</div>
				<div :class="{'double':index%2==0}" class="box box2">
					<span :class="{isNone:sumArr(item.haoMaList) !== 5,isHas:sumArr(item.haoMaList) === 5}" class="smallBg">5</span>
				</div>
				<div :class="{'double':index%2==0}" class="box box2">
					<span :class="{isNone:sumArr(item.haoMaList) !== 6,isHas:sumArr(item.haoMaList) === 6}" class="smallBg">6</span>
				</div>
				<div :class="{'double':index%2==0}" class="box box2">
					<span :class="{isNone:sumArr(item.haoMaList) !== 7,isHas:sumArr(item.haoMaList) === 7}" class="smallBg">7</span>
				</div>
				<div :class="{'double':index%2==0}" class="box box2">
					<span :class="{isNone:sumArr(item.haoMaList) !== 8,isHas:sumArr(item.haoMaList) === 8}" class="smallBg">8</span>
				</div>
				<div :class="{'double':index%2==0}" class="box box2">
					<span :class="{isNone:sumArr(item.haoMaList) !== 9,isHas:sumArr(item.haoMaList) === 9}" class="smallBg">9</span>
				</div>
        <div :class="{'double':index%2==0}" class="box box2">
          <span :class="{isNone:sumArr(item.haoMaList) !== 10,isHas:sumArr(item.haoMaList) === 10}" class="smallBg">10</span>
        </div>
        <div :class="{'double':index%2==0}" class="box box2">
          <span :class="{isNone:sumArr(item.haoMaList) !== 11,isHas:sumArr(item.haoMaList) === 11}" class="smallBg">11</span>
        </div>
        <div :class="{'double':index%2==0}" class="box box2">
          <span :class="{isNone:sumArr(item.haoMaList) !== 12,isHas:sumArr(item.haoMaList) === 12}" class="smallBg">12</span>
        </div>
        <div :class="{'double':index%2==0}" class="box box2">
          <span :class="{isNone:sumArr(item.haoMaList) !== 13,isHas:sumArr(item.haoMaList) === 13}" class="smallBg">13</span>
        </div>
        <div :class="{'double':index%2==0}" class="box box2">
          <span :class="{isNone:sumArr(item.haoMaList) !== 14,isHas:sumArr(item.haoMaList) === 14}" class="smallBg">14</span>
        </div>
        <div :class="{'double':index%2==0}" class="box box2">
          <span :class="{isNone:sumArr(item.haoMaList) !== 15,isHas:sumArr(item.haoMaList) === 15}" class="smallBg">15</span>
        </div>
        <div :class="{'double':index%2==0}" class="box box2">
          <span :class="{isNone:sumArr(item.haoMaList) !== 16,isHas:sumArr(item.haoMaList) === 16}" class="smallBg">16</span>
        </div>
        <div :class="{'double':index%2==0}" class="box box2">
          <span :class="{isNone:sumArr(item.haoMaList) !== 17,isHas:sumArr(item.haoMaList) === 17}" class="smallBg">17</span>
        </div>
        <div :class="{'double':index%2==0}" class="box box2">
          <span :class="{isNone:sumArr(item.haoMaList) !== 18,isHas:sumArr(item.haoMaList) === 18}" class="smallBg">18</span>
        </div>
			</div>
		</div>
	</div>
</template>

<script>
	import { Dialog } from 'vant';
	import { Toast } from 'vant';
	export default {
		props: ['kjlsList', 'hmzsTabList'],
		data() {
			return {
				hmIndex:0,//01234/w万千百十个
			}
		},
		watch: {

		},
    created: function() {
      for(let i in this.kjlsList){
        if(this.kjlsList[i].haoMaList[0]==='?'){
          this.kjlsList = this.kjlsList.slice(1,this.kjlsList.length);
        }
      }
    },
		mounted: function() {
		  let cthis = this;
      setTimeout(function () {
        cthis.renderData(cthis.kjlsList)
      },300);
		},
		methods: {
      // 计算一个数组和值函数
      sumArr:function(arr) {
        if(arr[0]!=='?'){
          return eval(arr.join("+"));
        }else {
          return '?';
        }
      },
      // 计算一个数组跨度的函数
      kdArr:function(arr) {
        let min,max;
        for(let i in arr){
          // console.log(i===0);
          i==0? (min=arr[i],max=arr[i]):'';
          arr[i]<min? min=arr[i]:'';
          arr[i]>max? max=arr[i]:'';
        }
        return (max - min);
      },
      //渲染走势图的线
      renderData:function(data) {
        var left_w = 0; //球离左边的距离
        var spanW = 0, firstSpanW = 0;
        var spanH = 0;
        spanW = $(".box2").eq(0)[0].clientWidth;
        spanH = $(".box2").eq(0)[0].clientHeight * 2;
        let zhList = [];
        for(let i in this.kjlsList){
          this.kjlsList[0].haoMaList[0] !== '?'?
          zhList.push(this.sumArr(this.kjlsList[i].haoMaList)):''
        }
        var result = [];
        var bc1 = 0;
        for (var ii = 0; ii < zhList.length; ii++) {
          var num = parseInt(zhList[ii]);
          var htmlCanvas = "";
          if (ii < zhList.length - 1) {
            bc1 = zhList[ii] - zhList[ii+1];
          }
          if (bc1 > 0) {
            left_w = spanW * -bc1 - $('.isHas').eq(0).width();
            bc1 = (bc1 + 1) * spanW; //获取两个球之间的宽度
          } else if (bc1 < 0) {
            left_w = 0 - $('.isHas').eq(0).width();
            bc1 = ((-bc1 + 1) * spanW);
          } else if (bc1 == 0) {
            bc1 = spanW;
            left_w = 0 - $('.isHas').eq(0).width() - 6;
          }
          htmlCanvas = '<canvas class="mobile_zx" id="canvas' + ii + '" width="' + bc1 + 'px" height="' + spanH + 'px" style="z-index: -1; left:' + left_w + 'px; display: inline;"></canvas>';

          var tmpArr = [];
          for (var i = 1; i <= 10; ++i) {
              tmpArr.push({
                num: i,
                flag: num == i ? true : false
              });
          }
          result.push({
            htmlCanvas: htmlCanvas,//画板标签
            // number: data[ii].qiHao,
            numArr: tmpArr
          });
        }
        for(let i in result){
          $('.isHas').eq(i).append(result[i].htmlCanvas)
        }


        //画出相对应的折线
          for (var m = 0; m < zhList.length - 1; m++) {
            //设置canvas定位
            var canvas = document.getElementById("canvas" + m + "");
            var context = canvas.getContext("2d");
            var bc1 = zhList[m] - zhList[m+1];
            if (bc1 < 0) {
              context.moveTo(17, 11);
              context.lineTo(canvas.width - 25, canvas.height - 20);
            } else if (bc1 > 0) {
              context.moveTo(canvas.width - 28, 10);
              context.lineTo(18, canvas.height - 15);
            } else {
              context.moveTo(canvas.width / 2 + 2, canvas.height / 3 - 2);
              context.lineTo(canvas.width / 2 + 2, canvas.height / 2 + 2);
            }
            context.strokeStyle = "#597d36";
            context.lineWidth = 2;
            context.stroke();
          }
      },
			//判断质或合
			zhiHe:function(num){
				let zhiList = [1,2,3,5,7];//0-9质数
				for(let i in zhiList){
					if(zhiList[i] == num) return '质';
				}
				return '合';
			},
			//监听父组件切换类型改变
			hmzsIndex:function(index){
        let cthis = this;
				this.hmIndex = index;
				for(let i in $('.isHas')){
          $('.isHas').eq(i).find('canvas').remove();
        }
        setTimeout(function () {
          cthis.renderData(cthis.kjlsList)
        },300);
			},
			//左右滑动时传递广播给父组件
			kjlsScroll:function(){
				let num = this.$refs.kjjlRight.scrollLeft;
				this.$emit('kjlsScroll',num);
			},
			//父组件滑动子组件跟随
			kjTopLeft:function(num){
				this.$refs.kjjlRight.scrollLeft = num;
			}
		},
	}
</script>

<style>

  #moreKs #hmzs .double {
    background: #2f5542;
  }
  .isHas{
    position: relative;
    z-index: 99;
  }
  .mobile_zx {
    position: absolute !important;
  }
	#hmzs .isNone{
		visibility:hidden;
	}
	/*龙/虎/和*/
	#moreKs #hmzs .bigBg{
		background: #bb9431;
    width: 18px;
    height: 18px;
	}
	#moreKs #hmzs .smallBg{
		background: #597d36;
    width: 18px;
    height: 18px;
	}

	#moreKs #hmzs {
		background: #1c6a4c;
		overflow: hidden;
	}
	.selector::-webkit-scrollbar { display: none }

  #moreKs #hmzs .left {
    color: #c9ebd0;
		float: left;
		width: 20%;
		box-sizing: border-box;
	}

	#moreKs #hmzs .right {
		color: #666;
		float: right;
		width: 80%;
		box-sizing: border-box;
	}

  #moreKs #hmzs .left .leftBox {
		padding: 5px 0;
		font-size: 14px;
		text-align: center;
		border-right: 1px solid #3a7f62;
		border-bottom: none;
	}

	#hmzs .right .list {
		font-size: 0;
	}

	#hmzs .right .list .box.box1 span {
		color: #df303f;
		letter-spacing: 4px;
		width: 70px;
	}

	#moreKs #hmzs .right .list .box.box2 {
		width: 64px;
	}

	#moreKs #hmzs .right .list .box {
		display: inline-block;
		padding: 5px 0;
		font-size: 14px;
		text-align: center;
		border-right: 1px solid #3a7f62;
		border-bottom: none;
	}

	#moreKs #hmzs .right .list .box.box2 span {
		display: inline-block;
		/*width: 18px;*/
		/*height: 18px;*/
		line-height: 18px;
		color: #c9ebd0;
		border-radius: 50%;
		text-align: center;
	}
</style>
