<template>
  <div id="kjjl">
    <div class="left">
      <div v-if="index < 20" v-for="(item,index) in kjlsList" :class="{'double':index%2==0}" class="leftBox">{{item.qiHao.substring(item.qiHao.length-3)}}</div>
    </div>
    <div @scroll="kjlsScroll" ref="kjjlRight" class="right o-x-s selector">
      <div v-if="index < 20" v-for="(item,index) in kjlsList" :class="{'double':index%2==0}" class="list">
        <div  class="box" >
          <span >{{item.haoMaList.join(',')}}</span>
        </div>
        <div class="box box2">
          <span class="" >{{sumArr(item.haoMaList)}}</span>
        </div>
        <div class="box box2" v-if="floder == 'x002178' || floder == 'x002185'">
          <span :class="{bigBg:item.sizeStr==='大',smallBg:item.sizeStr==='小'}">{{item.sizeStr | x002185Filters}}</span>
        </div>
        <div class="box box2" v-else>
          <span :class="{bigBg:item.sizeStr==='大',smallBg:item.sizeStr==='小'}">{{item.sizeStr}}</span>
        </div>
        <div class="box box2" v-if="floder == 'x002178' || floder == 'x002185'">
          <span :class="{singleBg:item.sdStr==='单',doubleBg:item.sdStr==='双'}">{{item.sdStr |x002185Filters}}</span>
        </div>
        <div class="box box2" v-else>
          <span :class="{singleBg:item.sdStr==='单',doubleBg:item.sdStr==='双'}">{{item.sdStr}}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { Dialog } from 'vant';
  import { Toast } from 'vant';
  export default {
    props: ['kjlsList'],
    data() {
      return {
        hmIndex:0,//01234/w万千百十个
        floder:this.$store.state.floder
      }
    },
    watch: {

    },
    created: function() {
      for(let i in this.kjlsList){
        if(this.kjlsList[i].haoMaList[0]==='?'){
          this.kjlsList = this.kjlsList.slice(1,this.kjlsList.length);
        }
      }
    },
    mounted: function() {

    },
    methods: {
      // 计算一个数组和值函数
      sumArr:function(arr) {
        if(arr[0]!=='?'){
          return eval(arr.join("+"));
        }else {
          return '?';
        }
      },
      //判断质或合
      zhiHe:function(num){
        let zhiList = [1,2,3,5,7];//0-9质数
        for(let i in zhiList){
          if(zhiList[i] == num) return '质';
        }
        return '合';
      },
      //监听父组件切换类型改变
      kjjlIndex:function(index){
        this.hmIndex = index;
      },
      //左右滑动时传递广播给父组件
      kjlsScroll:function(){
        let num = this.$refs.kjjlRight.scrollLeft;
        this.$emit('kjlsScroll',num);
      },
      //父组件滑动子组件跟随
      kjTopLeft:function(num){
        this.$refs.kjjlRight.scrollLeft = num;
      }
    },
    filters:{
      x002185Filters:function (value){
        switch (value){
          case '大':
            return '福';
          case '小':
            return '禄';
          case '单':
            return '寿'
          case '双':
            return '喜'
        }
      }
    }
  }
</script>

<style>
  #kjjl div.left {
    width: 20% !important;
  }
  #kjjl div.right {
    color: #c9ebd0;
    float: right;
    width: 80%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #kjls .right .list .box{
    width: 25%;
  }
  #moreKs #kjls .right .list .box.box2 {
    width: 25%;
  }
  #kjjl .isNone{
    visibility:hidden;
  }


  #moreKs  #kjjl {
    background: #1c6a4c;
    overflow: hidden;
  }
  .selector::-webkit-scrollbar { display: none }

  #kjjl .left {
    color: #c9ebd0;
    float: left;
    width: 16%;
    box-sizing: border-box;
  }

  #kjjl .right {
    color: #c9ebd0;
    float: right;
    width: 84%;
    box-sizing: border-box;
  }

  #kjjl .left .leftBox {
    padding: 5px 0;
    font-size: 14px;
    text-align: center;
    border-right: 1px solid #3a7f62;
    /*border-bottom: 1px solid #3a7f62;*/
  }

  #kjjl .right .list {
    font-size: 0;
  }

  #kjjl .right .list .box.box1 span {
    color: #df303f;
    letter-spacing: 4px;
    width: 70px;
  }
  #kjjl .right .list .box {
    display: inline-block;
    padding: 5px 0;
    font-size: 14px;
    text-align: center;
    border-right: 1px solid #3a7f62;
    width: 25%;
    color: #c9ebd0;
    /*border-bottom: 1px solid #3a7f62;*/
  }
  #kjjl .double{
    background: #2f5542;
  }

  #kjjl .right .list .box.box2 span {
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 50%;
    text-align: center;
  }
</style>
