<template>
  <div id="xtzs">
    <div class="left">
      <div v-if="index < 20" v-for="(item,index) in kjlsList" :class="{'double':index%2==0}" class="leftBox">{{item.qiHao.substring(item.qiHao.length-3)}}</div>
    </div>
    <div @scroll="kjlsScroll" ref="kjjlRight" class="right o-x-s selector">
      <div v-if="index < 20" v-for="(item,index) in kjlsList" :class="{'double':index%2==0}" class="list">
        <div  class="box" >
          <span >{{item.haoMaList.join(',')}}</span>
        </div>
        <div class="box box2">
          <span v-if="item.haoMaList[0]===item.haoMaList[1]&&item.haoMaList[0]===item.haoMaList[2]" class="" >三同号</span>
          <span v-else> </span>
        </div>
        <div class="box box2">
          <span v-if="item.haoMaList[0]!==item.haoMaList[1]&&item.haoMaList[0]!==item.haoMaList[2]" class="" >三不同</span>
          <span v-else> </span>
        </div>
        <div class="box box2">
          <span v-if="item.haoMaList[2] - item.haoMaList[0] === 2" class="sanlian_bg" >三连号</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { Dialog } from 'vant';
  import { Toast } from 'vant';
  export default {
    props: ['kjlsList'],
    data() {
      return {
        hmIndex:0,//01234/w万千百十个
      }
    },
    watch: {

    },
    created: function() {
      for(let i in this.kjlsList){
        if(this.kjlsList[i].haoMaList[0]==='?'){
          this.kjlsList = this.kjlsList.slice(1,this.kjlsList.length);
        }
      }
    },
    mounted: function() {

    },
    methods: {
      // 计算一个数组和值函数
      sumArr:function(arr) {
        if(arr[0]!=='?'){
          return eval(arr.join("+"));
        }else {
          return '?';
        }
      },
      //判断质或合
      zhiHe:function(num){
        let zhiList = [1,2,3,5,7];//0-9质数
        for(let i in zhiList){
          if(zhiList[i] == num) return '质';
        }
        return '合';
      },
      //监听父组件切换类型改变
      kjjlIndex:function(index){
        this.hmIndex = index;
      },
      //左右滑动时传递广播给父组件
      kjlsScroll:function(){
        let num = this.$refs.kjjlRight.scrollLeft;
        this.$emit('kjlsScroll',num);
      },
      //父组件滑动子组件跟随
      kjTopLeft:function(num){
        this.$refs.kjjlRight.scrollLeft = num;
      }
    }
  }
</script>

<style>
  #xtzs div.left {
    width: 20% !important;
  }
  #xtzs div.right {
    color: #c9ebd0;
    float: right;
    width: 80%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #moreKs #kjls .right .list .box{
    width: 25%;
  }
  #moreKs  #kjls .right .list .box.box2 {
    width: 25%;
  }
  #xtzs .isNone{
    visibility:hidden;
  }


  #xtzs {
    background: #1c6a4c;
    overflow: hidden;
  }
  .selector::-webkit-scrollbar { display: none }

  #xtzs .left {
    color: #c9ebd0;
    float: left;
    width: 16%;
    box-sizing: border-box;
  }

  #xtzs .right {
    color: #c9ebd0;
    float: right;
    width: 84%;
    box-sizing: border-box;
  }

  #xtzs .left .leftBox {
    padding: 5px 0;
    font-size: 14px;
    text-align: center;
    border-right: 1px solid #3a7f62;
    /*border-bottom: 1px solid #3a7f62;*/
  }

  #xtzs .right .list {
    font-size: 0;
  }

  #xtzs .right .list .box.box1 span {
    color: #df303f;
    letter-spacing: 4px;
    width: 70px;
  }
  #xtzs .right .list .box {
    display: inline-block;
    padding: 5px 0;
    font-size: 14px;
    text-align: center;
    border-right: 1px solid #3a7f62;
    width: 25%;
    height: 100%;
    color: #c9ebd0;
    /*border-bottom: 1px solid #3a7f62;*/
  }
  #xtzs .double{
    background: #2f5542;
  }

  #xtzs .right .list .box.box2 span {
    display: inline-block;
    width: auto;
    height: auto;
    line-height: 18px;
    text-align: center;
    background: #5a7d36;
    padding: 0 2px;
  }
  #xtzs .right .list .box.box2 span.sanlian_bg{
    background: #bb9431;
  }
</style>
