<template>
	<div class="flexWrap" id="moreKs">
		<van-nav-bar @click-left="back" left-text="返回" left-arrow class="bg-block c-w" :title="(plays.name || '--') + '走势图'" />
		<van-tabs @click="teb">
			<van-tab v-for="(item,index) in tab" :key="index" :title="item"> </van-tab>
		</van-tabs>
		<div id="kjls">
			<div class="left">
				<div class="leftBox">期号</div>
			</div>
			<div @scroll="kjTopLefts"  ref="kjlsLeftNum" class="right o-x-s selector">
				<div v-if="tabIndex == 0" class="list">
					<div class="box box1" style="letter-spacing: 0;color: #c9ebd0;">开奖</div>
					<span v-if="floder == 'x002185' || floder == 'x002188'"><div v-for="item in hedeList11" class="box box2">{{item}}</div></span>
					<span v-else><div v-for="item in hedeList1" class="box box2">{{item}}</div></span>
				</div>
				<div v-else-if="tabIndex == 1" class="list">
					<div v-for="item in hedeList2" class="box box2">{{item}}</div>
				</div>
				<div v-else-if="tabIndex == 2" class="list">
					<div v-for="item in hedeList3" class="box box2">{{item}}</div>
				</div>
        <div v-else-if="tabIndex == 3" class="list">
          <div v-for="item in hedeList4" class="box box2">{{item}}</div>
        </div>
			</div>
		</div>
		<div class="flexContent">
			<!--开奖记录/号码走势/龙虎斗-->
			<more-kjjl @kjlsScroll="kjjlRight"  :kjlsList="kjlsList" v-if="tabIndex == 0" ref="kjjlTab"></more-kjjl>
			<more-hmzs @kjlsScroll="kjjlRight"  :kjlsList="kjlsList" v-else-if="tabIndex == 1" ref="hmzsTab"></more-hmzs>
			<more-hzzs @kjlsScroll="kjjlRight"  :kjlsList="kjlsList" v-else-if="tabIndex == 2" ref="hzzsTab"></more-hzzs>
			<more-lhd  @kjlsScroll="kjjlRight"  :kjlsList="kjlsList" v-else="" ref="lhdTab"></more-lhd>
			<div class="p-15 f-s-14 c-6 text-c zbg">已显示最近20期走势</div>
		</div>
	</div>
</template>

<script>
	import { Dialog } from 'vant';
	import { Toast } from 'vant';
	import moreKjjl from './kjjl';
	import moreHmzs from './hmzs';
	import moreHzzs from './hzzs';
	import moreLhd from './lhd';
	export default {
		components: {moreKjjl , moreHmzs,moreHzzs , moreLhd},
		data() {
			return {
				hedeList1:['和值','大小','单双',],
				hedeList11:['和值','福禄','寿喜',],
				hedeList2:['开奖','和值','跨度','1','2','3','4','5','6'],
				hedeList3:['开奖','大小','单双','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18',],
				hedeList4:['开奖','三同号','三不同','三连号'],
				plays: new Object(),//父组件传过来参数
				tabIndex: 0,
				tab: ['开奖记录', '号码走势', '和值走势', '形态走势'],
				kjlsList:'',//开奖历史数据
        floder:this.$store.state.floder,
			}
		},
		watch: {

		},
		created: function() {
			this.plays = this.$route.query;
      this.getDrawNoticeDetails();//获取指定彩种历史开奖记录
		},
		mounted: function() {
		},
		methods: {
			//子组件左右滑动时父组件跟随滑动
			kjjlRight:function(num){
				this.$refs.kjlsLeftNum.scrollLeft = num;
			},
			kjTopLefts:function(){
				let num = this.$refs.kjlsLeftNum.scrollLeft;
				switch (this.tabIndex){
					case 0:
						this.$refs.kjjlTab.kjTopLeft(num);
						break;
					case 1:
						this.$refs.hmzsTab.kjTopLeft(num);
            break;
          case 2:
            this.$refs.hzzsTab.kjTopLeft(num);
            break;
          case 3:
						this.$refs.lhdTab.kjTopLeft(num);
						break;
					default:
						break;
				}
			},
			//头部切换.用于判断子组件是否第一次加载
			teb: function(index, title) {
				this.tabIndex = index;
			},
			//获取指定彩种历史开奖记录
      getDrawNoticeDetails: function() {
        $sky.getDrawNoticeDetails(this.plays.code, (ret) => {
          this.kjlsList = ret.content.list;
        })
      },
			back: function() {
				window.history.go(-1);
			},
		}
	}
</script>

<style>
  /*龙/虎/和*/
  #moreKs .bigBg{
    width: 18px;
    height: 18px;
    background: #bb9431;
  }
  #moreKs .smallBg{
    width: 18px;
    height: 18px;
    background: #597d36;
  }
  #moreKs .singleBg{
    width: 18px;
    height: 18px;
    background: #597d36;
  }
  #moreKs .doubleBg{
    width: 18px;
    height: 18px;
    background: #bb9431;
  }
  #moreKs .zbg{
    background: #2f5542;
    color: #c9ebd0;
  }
	#moreKs .hmzsTab .flex1{
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		background: #e1d9bc;
		padding: 3px 0;
	}
	#moreKs .hmzsTab .flex1 div{
		border-radius: 4px;
		padding: 3px 0;
		text-align: center;
		font-size: 12px;
		margin: 5px;
	}
	#moreKs .hmzsTabActive{
		background: #df303f;
		color: #fff;
	}
  #moreKs div.van-tab--active{
		color: #f2c742;
	}
  #moreKs .van-tabs__line {
    background-color: #f2c742;
  }
	.selector::-webkit-scrollbar { display: none }
	#moreKs .van-tab{
		background: #2f5542;
    color: #fff;
	}
  #moreKs #kjls {
		background: #2f5542;
		overflow: hidden;
	}

  #moreKs #kjls .left {
		color: #c9ebd0;
		float: left;
		width: 20%;
		box-sizing: border-box;
    background: #2f5542;
	}

  #moreKs #kjls .right {
		color: #c9ebd0;
		float: right;
		width: 80%;
		box-sizing: border-box;
	}

  #moreKs #kjls .left .leftBox {
		padding: 5px 0;
		font-size: 14px;
		text-align: center;
		border-right: 1px solid #3a7f62;
		border-bottom: 1px solid #3a7f62;
	}

  #moreKs #kjls .right .list {
		font-size: 0;
	}

  #moreKs #kjls .right .list .box.box1 span {
		color: #df303f;
		letter-spacing: 4px;
		width: 70px;
	}

  #moreKs #kjls .right .list .box {
		display: inline-block;
		padding: 5px 0;
		font-size: 14px;
		text-align: center;
		border-right: 1px solid #3a7f62;
		border-bottom: 1px solid #3a7f62;
	}

  #moreKs #kjls .right .list .box.box2 span {
		display: inline-block;
		width: 18px;
		height: 18px;
		line-height: 18px;
		color: #fff;
		border-radius: 50%;
		text-align: center;
	}
</style>
