<template>
  <div class="duanpai">
    <van-row class="p-b-t-10 p-15">
      <van-col span="24" class="m-t-5">
        <div class="clear">
          <div @click="selectHM(hmIndex)" v-for="(item,hmIndex) in tbdxList" v-if="hmIndex < num" class="pull-l p-l-r-5 p-b-t-3 w-b25 text-c b-box m-t-5">
            <div :class="{hmzsTabActive:item.isActive}" class="box c-w">
              <p class="c-w m-t-5 h-20">
<!--                <span :class="'ks_sz_'+(typeof (item.hm)=='number'? item.hm: '')" class="kjBox f-s-20" v-if="floder == 'x002177'">{{typeof (item.hm)=='string'? item.hm: '' | x002177Filters}}</span>-->
                <span :class="'ks_sz_'+(typeof (item.hm)=='number'? item.hm: '')" class="kjBox f-s-20" v-if="floder == 'x002178' || floder == 'x002188' || floder == 'x002185'">{{typeof (item.hm)=='string'? item.hm: '' | x002178Filters}}</span>
                <span :class="'ks_sz_'+(typeof (item.hm)=='number'? item.hm: '')" class="kjBox f-s-20" v-else>{{typeof (item.hm)=='string'? item.hm: ''}}</span>
              </p>
              <p class="c-k3 f-s-16 h-20 l-h-20 pre" v-if="floder == 'x002177' || floder == 'x002188' || floder == 'x002178' || floder == 'x002185' || floder == 'x002188'">返 {{rule.odds}}</p>
              <p class="c-k3 f-s-16 h-20 l-h-20 pre" v-else>赔率 {{rule.odds}}</p>
            </div>
            <p></p>
          </div>
        </div>
      </van-col>
    </van-row>
    <div class="h-50"></div>
  </div>
</template>

<script>
  export default {
    props: ['tbdxList', 'rule', 'fpText'],
    data() {
      return {
        num:12,
        floder:this.$store.state.floder,
      }
    },
    created() {
      if(this.$store.state.floder == 'x002163' || this.$store.state.floder == 'x002164' || this.$store.state.floder == 'x002171' || this.$store.state.floder == 'a00204' ||  this.$store.state.floder =='x002177' || this.$store.state.floder == 'x002178' || this.$store.state.floder == 'x002188' || this.$store.state.floder == 'x002185'){
        this.num = 4
      }
    },
    methods: {
      selectHM: function ( hmIndex) {
        this.$set(this.tbdxList[hmIndex], 'isActive', !this.tbdxList[hmIndex].isActive );
        this.$emit('selectHM', hmIndex, this.tbdxList)
      }
    },
    filters:{
      x002178Filters:function (value){
        switch (value){
          case '大':
            return '福';
          case '小':
            return '禄';
          case '单':
            return '寿'
          case '双':
            return '喜'
        }
      }
    }
  }
</script>

<style scoped>
  .f-s-20 {
    font-size: 1rem !important;
  }
  #kuaisan .duanpai .box{
   height: auto;
  }
  #kuaisan .kjBox{
    margin-right: 0;
  }
</style>
