<template>
  <div class="duanpai">
    <van-row class="p-b-t-10 p-15">
      <van-col span="24" class="m-t-5">
        <div class="text-c">
          <div @click="selectHM(hmIndex)" v-for="item,hmIndex in wtList" class="d-i m-5">
            <div :class="{hmzsTabActive:item.isActive}" class="box c-w">
              <p class="c-w m-t-5 h-20"><span :class="'ks_sz_'+item.iconName" class="kjBox "></span><span :class="'ks_sz_'+item.iconName" class="kjBox "></span><span :class="'ks_sz_'+item.iconName" class="kjBox "></span></p>
              <p class="c-k3 f-s-16 h-20 l-h-20 pre">赔率 {{rule.odds}}</p>
            </div>
            <p></p>
          </div>
        </div>
      </van-col>
    </van-row>
    <div class="h-50"></div>
  </div>
</template>

<script>
  export default {
    props: ['wtList', 'rule', 'fpText'],
    data() {
      return {}
    },
    methods: {
      selectHM: function ( hmIndex) {
        this.$set(this.wtList[hmIndex], 'isActive', !this.wtList[hmIndex].isActive );
        this.$emit('selectHM', hmIndex, this.wtList)
      }
    }
  }
</script>

<style scoped>
  #kuaisan .box{
    width: 5rem;
  }
  #kuaisan .duanpai .box{
   height: auto;
  }
  #kuaisan .kjBox{
    margin-right: 0;
  }
</style>
