<template>
  <div class="mode">
    <div class="sscCheckNumber">
      <ul v-if="lotteryTemplateType == 1">
        <li v-for="(item, index) in sonData.templateList" :key="index">
          <div class="selectNormal">
            <span class="buyNumberTitle">{{ item.name }}<i></i></span>
            <div class="buyNumber">
              <div @click="addCart(index,index2)"
                   v-for="(list, index2) in sonData.templateList[index].oddPlayItems.slice(0,10)" :key="index2"
                   style="display: inline-block;text-align: center">
                <a style="display: block;" :class="{active:list.isActive}">{{ list.name }}</a>
                <el-tag size="mini" type="info">{{ list.odds }}</el-tag>
              </div>
            </div>
            <div class="buyNumberFilter">
              <div @click="addCart(index,index2)"
                   v-for="(list, index2) in sonData.templateList[index].oddPlayItems.slice(10)" :key="index2"
                   style="display: inline-block;text-align: center;">
                <a style="display: block;" :class="{active:list.isActive}">{{ list.name }}</a>
                <el-tag size="mini" type="info">{{ list.odds }}</el-tag>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <ul v-else-if="lotteryTemplateType == 2">
        <li v-for="(item, index) in sonData.templateList" :key="index">
          <div class="selectNormal">
            <span class="buyNumberTitle">{{ item.name }}<i></i></span>
            <div class="buyNumber">
              <div @click="addCart(index,index2)" v-for="(list, index2) in sonData.templateList[index].oddPlayItems"
                   :key="index2" style="display:inline-block;text-align:center;">
                <a style="margin: 13px 5px 0 5px;min-width: 60px;border-radius:5px;display: block; padding: 0 10px"
                   :class="{active:list.isActive}">{{ list.name }}</a>
                <el-tag size="mini" type="info">{{ list.odds }}</el-tag>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import $ from 'jquery'
import lotteryHtml from '@/assets/json/lotteryTemplate/pk10.json'

export default {
  name: "official",
  props: ['sonData', 'params', 'lottery'],
  data() {
    return {
      lotteryTemplateType: 1,
      floder: this.$store.state.stationInfo.content.station.floder || 'x002',
    }
  },
  created: function () {
    this.showTemplate()
  },
  mounted: function () {
  },
  watch: {},
  methods: {
    // 选中号码
    addCart: function (index, index2) {
      this.$parent.addCart(index, index2)
      this.$forceUpdate()
    },
    // 给小于10的号码加零
    addZero: function (num, three) {
      if (three) {
        num < 10 ? num = '0' + num : num = '' + num;
        num < 100 ? num = '0' + num : num = '' + num;
      } else {
        num < 10 ? num = '0' + num : num = '' + num;
      }
      return num;
    },
    // 填充json数据
    showTemplate: function () {
      let that = this
      let data = lotteryHtml.data
      for (let i in data) {
        if (data[i].playName == this.params.sonCode) {
          that.sonData.templateList = data[i].data
          // 获取当前玩法数据
          $.each(this.lottery.rules, function (index, item) {
            $.each(item.rules, function (index2, item2) {
              if (item2.code == that.params.sonCode) {
                that.sonData.thatPlayType = item.rules
              }
            })
          })
          // 填充玩法数据
          $.each(that.sonData.thatPlayType, function (index, item) {
            if (item.code == that.params.sonCode) {
              let dxdzzh = '', list = [], arrLength = 0;
              switch (that.params.sonCode) {
                case 'shuangmianpan':
                  that.lotteryTemplateType = 2
                  list = [];
                  dxdzzh = item.oddPlayItems.slice(0, 4);
                  for (let i = 0; i < dxdzzh.length; i++) {
                    let obj = dxdzzh[i];
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = dxdzzh[i].name;
                    newobj.classify = dxdzzh[i].name;
                    list.push(newobj)
                  }
                  that.sonData.templateList[0].oddPlayItems = list
                  dxdzzh = item.oddPlayItems.slice(4, 10);
                  if (that.$store.state.stationInfo.content.station.floder == 'x002108' && that.params.code == 'WFSC') {
                    arrLength = 4
                  } else {
                    arrLength = dxdzzh.length
                  }
                  for (let n in that.sonData.templateList) {
                    list = [];
                    // 填充其他
                    for (let i = 0; i < arrLength; i++) {
                      let obj = dxdzzh[i];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = dxdzzh[i].name;
                      newobj.classify = that.sonData.templateList[n].name + '--' + dxdzzh[i].name;
                      list.push(newobj)
                    }
                    n < 6 && n > 0 ? that.sonData.templateList[n].oddPlayItems = list : ''
                  }
                  dxdzzh = item.oddPlayItems.slice(4, 8);
                  for (let n in that.sonData.templateList) {
                    list = [];
                    // 填充其他
                    for (let i = 0; i < dxdzzh.length; i++) {
                      let obj = dxdzzh[i];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = dxdzzh[i].name;
                      newobj.classify = that.sonData.templateList[n].name + '--' + dxdzzh[i].name;
                      list.push(newobj)
                    }
                    n > 5 ? that.sonData.templateList[n].oddPlayItems = list : ''
                  }
                  if (that.$store.state.stationInfo.content.station.floder == 'x002108' && that.params.code == 'WFSC') {
                    that.sonData.templateList.splice(0,1)
                  }
                  if(that.floder == 'x002124'){
                    that.sonData.templateList = that.sonData.templateList.slice(0,1)
                  }
                  if (that.floder == 'x002149' && that.params.code == 'WFSC'){
                    that.sonData.templateList = that.sonData.templateList.slice(1)
                  }
                  break;
                case 'guan-yajun':
                  that.lotteryTemplateType = 2
                  for (let n in that.sonData.templateList) {
                    list = [];
                    // 填充其他
                    for (let i = 0; i < item.oddPlayItems.length; i++) {
                      let obj = item.oddPlayItems[i];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = item.oddPlayItems[i].name;
                      newobj.classify = item.oddPlayItems[i].name;
                      list.push(newobj)
                    }
                    that.sonData.templateList[n].oddPlayItems = list
                  }
                  break;
                case 'danhao1-10':
                  for (let n in that.sonData.templateList) {
                    list = [];
                    // 填充数字
                    for (let i = 1; i <= 10; i++) {
                      let obj = that.sonData.thatPlayType[0].oddPlayItems[0];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.classify = that.sonData.templateList[n].name + '--' + i;
                      newobj.name = i;
                      list.push(newobj)
                    }
                    that.sonData.templateList[n].oddPlayItems = list
                  }
                  break;
              }
            }
          })
        }
      }
    },
  }
}
</script>

<style scoped>

</style>