<template>
  <div class="index2">
    <div class="header">
      <div class="signDay">
        <div style="font-size: 1.6rem">我的碳积分</div><br><span style="font-size: 2rem">{{$store.state.userInfo.integral}}</span>
      </div>
      <div class="sign">
<!--        已签到<span style="font-size: 2rem">0</span>天-->
      </div>
    </div>
    <div class="content">
      <div class="myexchange">
        <div class="label">我的兑换</div>
        <div class="line">
          <div class="box" style="background: #f5e5ff;" @click="$router.push({path: '/address'})">
            <div class="img"><img src="@/assets/images/7.png" alt=""></div>
            <div class="font">待发货</div>
          </div>
          <div class="box" style="background: #e6f4fd;" @click="$router.push({path: '/order'})">
            <div class="img"><img src="@/assets/images/8.png" alt=""></div>
            <div class="font">已发货</div>
          </div>
          <div class="box" style="background: #fbf3ce;" @click="$router.push({path: '/integral'})">
            <div class="img"><img src="@/assets/images/10.png" alt=""></div>
            <div class="font">积分明细</div>
          </div>
        </div>
      </div>
      <div class="shop">
        <div class="label">我的兑换</div>
        <div class="deck" v-for="(item, index) in commodit.sign" :key="index">
          <div class="left">
            <img :src="'/upload/item/'+item.photo" alt="">
          </div>
          <div class="right">
            <p v-if="item.goods_name.length <= 15">{{item.goods_name}}</p>
            <p v-else>{{item.goods_name.substring(0,15)}}...</p>
            <p>领取方式：积分领取</p>
            <div class="button" @click="payOrder(item.id)">
              <div class="money">
                <b>{{item.goods_price}}</b>元
              </div>
            </div>
          </div>
        </div>
        <div class="deck" v-for="(item, index) in commodit.integral" :key="index">
          <div class="left">
            <img :src="'/upload/item/'+item.photo" alt="">
          </div>
          <div class="right">
            <p v-if="item.goods_name.length <= 15">{{item.goods_name}}</p>
            <p v-else>{{item.goods_name.substring(0,15)}}...</p>
            <p>领取方式：积分领取</p>
            <div class="button" @click="payOrder(item.id)">
              <div class="money">
                <b>{{item.goods_price}}</b>积分
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import '@/assets/css/tabs/index2.less'
import foot_nav from '@/components/include/foot_nav'
import {Toast , Dialog } from "vant";
export default {
  name: 'index',
  components:{
    foot_nav
  },
  data(){
    return{
      playerOptions : {
        playbackRates: [0.7, 1.0, 1.5, 2.0], //播放速度
        autoplay: false, //如果true,浏览器准备好时开始回放。
        muted: false, // 默认情况下将会消除任何音频。
        loop: false, // 导致视频一结束就重新开始。
        preload: 'auto', // 建议浏览器在<video>加载元素后是否应该开始下载视频数据。auto浏览器选择最佳行为,立即开始加载视频（如果浏览器支持）
        language: 'zh-CN',
        aspectRatio: '16:9', // 将播放器置于流畅模式，并在计算播放器的动态大小时使用该值。值应该代表一个比例 - 用冒号分隔的两个数字（例如"16:9"或"4:3"）
        fluid: true, // 当true时，Video.js player将拥有流体大小。换句话说，它将按比例缩放以适应其容器。
        sources: [{
          type: "",//这里的种类支持很多种：基本视频格式、直播、流媒体等，具体可以参看git网址项目
          src: "https://gaofenghg.com/download/sp.mp4" //url地址
        }],
        poster: "", //你的封面地址
        // width: document.documentElement.clientWidth, //播放器宽度
        notSupportedMessage: '此视频暂无法播放，请稍后再试', //允许覆盖Video.js无法播放媒体源时显示的默认信息。
        controlBar: {
          timeDivider: true,
          durationDisplay: true,
          remainingTimeDisplay: false,
          fullscreenToggle: true  //全屏按钮
        }
      },
      commodit:{
        sign:'',
        integral:'',
        classify:'',
      },
      imgUrl:'money758.com',
      typeNum:2,
    }
  },
  created:function(){
    this.getCommodit();
    if(this.$route.query.typeNum){
      this.typeNum = 2
    }
  },
  mounted:function(){
    if(location.href.indexOf('zoncone.com') != -1 || location.href.indexOf('zhihecb.com') != -1 || location.href.indexOf('tfnsmall.com') != -1){
      this.imgUrl = 'pchoutai.com'
    }
    console.log(this.$store.state.userInfo)
  },
  methods:{
    qiandao: function () {
      let params = {
        token: this.$store.state.token,
      }
      this.$post('handle/qiandao', params, true).then((res) => {
        if (res.code == 200) {
          Toast(res.message)
        } else if(res.code == 1049){
          Dialog.confirm({
            title: '提示',
            message: res.message,
          })
              .then(() => {
                // on confirm
                this.$router.push({path:'/alipay'})
              })
              .catch(() => {
                // on cancel
              });
        }  else {
          Toast(res.message)
        }
      })
    },
    getCommodit: function () {
      let params = {
        token: this.$store.state.token,
      }
      let singDay = this.$store.state.userInfo.sign_days
      let money = this.$store.state.money
      this.$post('gs/get_commodityaaindex', params, true).then((res) => {
        if (res.code == 200) {
          this.commodit.sign = res.data[0].sign_in_goods
          this.commodit.integral = res.data[0].goods
          this.commodit.classify = res.data[0].classify
          if(this.$store.state.isLogin){
            for(let index in this.commodit.sign){
              if(singDay >= this.commodit.sign[index].goods_j_name){
                this.commodit.sign[index].status = 1
              } else {
                this.commodit.sign[index].status = 0
              }
            }
            for(let index in this.commodit.integral){
              if(money >= this.commodit.integral[index].goods_price){
                this.commodit.integral[index].status = 1
              } else {
                this.commodit.integral[index].status = 0
              }
            }
          }
        } else {
          Toast(res.message)
        }
      })
    },
    payOrder: function (gid) {
      if(!this.$store.state.isLogin){
        Toast('请先登录')
        return false
      }
      let params = {
        token: this.$store.state.token,
        gid: gid
      }
      this.$post('gs/pay_sub_order', params, true).then((res) => {
        if (res.code == 200) {
          Toast(res.message)
        } else {
          Toast(res.message)
        }
      })
    },
    getAnswer: function () {
      let params = {
        token: this.$store.state.token,
      }
      this.$post('handle/qiandao', params, true).then((res) => {
        if (res.code == 200) {
          Toast(res.message)
        } else {
          Toast(res.message)
        }
      })
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">

</style>
