<template>
  <div class="index">
    <div class="header">
      <div class="title">鹏程</div>
      <div class="banner">
        <img src="@/assets/images/banner.png" alt="">
      </div>
    </div>
    <div class="content">
      <div class="label">专属服务</div>
      <div class="menu">
        <div class="page1" @click="$router.push({path: '/assignment'})"><span>碳头条</span><br><img src="@/assets/images/menu-1.png" alt=""></div>
        <div class="page1" @click="qiandao()"><span>每日签到</span><br><img src="@/assets/images/menu-2.png" alt=""></div>
        <div class="page1" @click="$router.push({path: '/index2'})"><span>积分商城</span><br><img src="@/assets/images/menu-3.png" alt=""></div>
      </div>
      <div class="label">节能环保</div>
      <div class="menu">
        <router-link :to="{path:'/zsfb',query:{type:'1'}}">
          <div class="page2"><img src="@/assets/images/1.png" alt=""></div>
        </router-link>
        <router-link :to="{path:'/zsfb',query:{type:'2'}}">
          <div class="page2"><img src="@/assets/images/01.png" alt=""></div>
        </router-link>
      </div>
      <div class="label">
        <img src="@/assets/images/2.png" alt="">
      </div>
      <div class="label">
        分类查询
      </div>
      <div class="menu">
        <div class="page3">
          <div class="img">
            <img src="@/assets/images/03.png" alt="">
          </div>
          <div class="classify">
            <div class="line">
              <div class="box" @click="$router.push({path: '/showType',query:{type:'1'}})">
                <img src="@/assets/images/box-1.png" alt="">
                <div class="one">可回收物</div>
                <div class="color">可循环再利用物品</div>
                <div class="one" style="padding-left: 1rem">去看看</div>
              </div>
              <div class="box" @click="$router.push({path: '/showType',query:{type:'2'}})">
                <img src="@/assets/images/box-2.png" alt="">
                <div class="two">厨余垃圾</div>
                <div class="color">已腐烂的废弃物</div>
                <div class="two" style="padding-left: 1rem">去看看</div>
              </div>
            </div>
            <div class="line">
              <div class="box" @click="$router.push({path: '/showType',query:{type:'3'}})">
                <img src="@/assets/images/box-3.png" alt="">
                <div class="three">有害垃圾</div>
                <div class="color">有危害的废弃物</div>
                <div class="three" style="padding-left: 1rem">去看看</div>
              </div>
              <div class="box" @click="$router.push({path: '/showType',query:{type:'4'}})">
                <img src="@/assets/images/box-4.png" alt="">
                <div class="four">其他垃圾</div>
                <div class="color">其他生活的废弃物</div>
                <div class="four" style="padding-left: 1rem">去看看</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="label">
        <img src="@/assets/images/4.png" alt="">
      </div>
    </div>
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import '@/assets/css/tabs/index.less'
import foot_nav from '@/components/include/foot_nav'
import {Toast, Dialog} from "vant";

export default {
  name: 'index',
  components: {
    foot_nav
  },
  data() {
    return {
      playerOptions: {
        playbackRates: [0.7, 1.0, 1.5, 2.0], //播放速度
        autoplay: false, //如果true,浏览器准备好时开始回放。
        muted: false, // 默认情况下将会消除任何音频。
        loop: false, // 导致视频一结束就重新开始。
        preload: 'auto', // 建议浏览器在<video>加载元素后是否应该开始下载视频数据。auto浏览器选择最佳行为,立即开始加载视频（如果浏览器支持）
        language: 'zh-CN',
        aspectRatio: '16:9', // 将播放器置于流畅模式，并在计算播放器的动态大小时使用该值。值应该代表一个比例 - 用冒号分隔的 两个数字（例如"16:9"或"4:3"）
        fluid: true, // 当true时，Video.js player将拥有流体大小。换句话说，它将按比例缩放以适应其容器。
        sources: [{
          type: "",//这里的种类支持很多种：基本视频格式、直播、流媒体等，具体可以参看git网址项目
          src: "https://gaofenghg.com/download/sp.mp4" //url地址
        }],
        poster: "", //你的封面地址
        // width: document.documentElement.clientWidth, //播放器宽度
        notSupportedMessage: '此视频暂无法播放，请稍后再试', //允许覆盖Video.js无法播放媒体源时显示的默认信息。
        controlBar: {
          timeDivider: true,
          durationDisplay: true,
          remainingTimeDisplay: false,
          fullscreenToggle: true  //全屏按钮
        }
      },
      commodit: {
        sign: '',
        integral: '',
        classify: '',
      },
      typeNum: 2,
      stateUrl: '',
    }
  },
  created: function () {
    this.getCommodit();
    if (this.$route.query.typeNum) {
      this.typeNum = 2
    }
  },
  mounted: function () {
    this.stateUrl = location.search
    if (this.stateUrl.indexOf('state') != -1 && this.stateUrl.indexOf('auth_code') != -1) {
      this.getCallBack()
    }
  },
  methods: {
    qiandao: function () {
      if (!this.$store.state.isLogin) {
        this.$router.push({path: '/login'})
        return false
      }
      let params = {
        token: this.$store.state.token,
      }
      this.$post('handle/qiandao', params, true).then((res) => {
        if (res.code == 200) {
          Toast(res.message)
        } else if (res.code == 1049) {
          Dialog.confirm({
            title: '提示',
            message: res.message,
          })
              .then(() => {
                // on confirm
                this.$router.push({path: '/alipay'})
              })
              .catch(() => {
                // on cancel
              });
        } else {
          Toast(res.message)
        }
      })
    },
    getCommodit: function () {
      let params = {
        token: this.$store.state.token,
      }
      let singDay = this.$store.state.userInfo.sign_days
      let money = this.$store.state.money
      this.$post('gs/get_commodityaaindex', params, true).then((res) => {
        if (res.code == 200) {
          this.commodit.sign = res.data[0].sign_in_goods
          this.commodit.integral = res.data[0].goods
          this.commodit.classify = res.data[0].classify
          if (this.$store.state.isLogin) {
            for (let index in this.commodit.sign) {
              if (singDay >= this.commodit.sign[index].goods_j_name) {
                this.commodit.sign[index].status = 1
              } else {
                this.commodit.sign[index].status = 0
              }
            }
            for (let index in this.commodit.integral) {
              if (money >= this.commodit.integral[index].goods_price) {
                this.commodit.integral[index].status = 1
              } else {
                this.commodit.integral[index].status = 0
              }
            }
          }
        } else {
          Toast(res.message)
        }
      })
    },
    payOrder: function (gid) {
      if (!this.$store.state.isLogin) {
        Toast('请先登录')
        return false
      }
      let params = {
        token: this.$store.state.token,
        gid: gid
      }
      this.$post('gs/pay_sub_order', params, true).then((res) => {
        if (res.code == 200) {
          Toast(res.message)
        } else {
          Toast(res.message)
        }
      })
    },
    getAnswer: function () {
      let params = {
        token: this.$store.state.token,
      }
      this.$post('handle/qiandao', params, true).then((res) => {
        if (res.code == 200) {
          Toast(res.message)
        } else {
          Toast(res.message)
        }
      })
    },
    getCallBack: function () {
      this.$patch('oauth2/callback' + this.stateUrl, {}, true).then((res) => {
        if (res.code == 200) {
          Toast(res.message)
        } else {
          Toast(res.message)
        }
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">

</style>
