<template>
  <div class="indexKS">
    <main class="main-container-number" >
      <div class="main-number-power">
        <div class="power">
          <ul class="power-left-ul" >
            <li class="left">
              <div :class="activeShow.actives == index ? 'left-ul-tip actives': 'left-ul-tip' " v-for="(item,index) in lotteryDate.rules" :key="index" @click="selectLotteryDate(item),activeShow.actives =index">
                <a href="javascript:void (0)">
                  <span >{{item.name}}</span>
                  <i v-if="listFilterLen(item.code)">{{listFilterLen(item.code)}}</i>
                </a>
              </div>
            </li>
            <li class="right">
              <van-tabs v-model="activeShow.activeId" sticky swipe-threshold="2" @change="selectedTwoTitle">
                <div v-for="(item,index) in endLotteryDate" :key="index">
                  <van-tab v-if="item.name" :title="item.name" >
                    <div class="power-content" >
                      <ul class="power-ul" v-if="item.lotteryTemplateType != 2 "> <!--三级标题-->
                        <li  v-for="(item2,index2) in item.oddPlayItems" :key="index2" @click="selectedNumbers(item2);selectedNumber(item2)">
                          <div class="power-text" :name="item.name+','+item2.playCode+','+item2.classify">
                            <span :class="typeof(item2.name) == 'number'  ? 'roundBackground' :''">{{item2.name}}</span>
                            <span v-if="item2.playCode.indexOf('zuxuansan') > -1 || item2.playCode.indexOf('zuxuanliu') > -1"></span>  <!--倍率-->
                            <span v-else>{{item2.odds}}</span>
                          </div>
                          <van-icon v-if="chipInData.selectedShowData.indexOf(item.name+','+item2.playCode+','+item2.classify) > -1" name="success" color="red" size="18px" style="vertical-align: bottom;position: absolute;bottom: 0;right: 0;"/>
                        </li>
                        <!--                        <span class="bet-info" v-if="item.oddPlayItems[0].playCode.indexOf('zuxuansan') > -1 && zuxuanData.data[item.oddPlayItems[0].playCode] && zuxuanData.data[item.oddPlayItems[0].playCode].odds ">{{zuxuanData.data[item.oddPlayItems[0].playCode].odds}}</span> &lt;!&ndash;显示倍率&ndash;&gt;-->
                        <span class="bet-info" v-if=" zuxuanData.data[item.oddPlayItems[0].playCode] && zuxuanData.data[item.oddPlayItems[0].playCode].odds ">{{zuxuanData.data[item.oddPlayItems[0].playCode].odds}}</span> <!--显示倍率-->
                      </ul>
                      <div class="power-ul-2" v-else>
                        <div class="power-ul-2-content" v-for="(item2,index2) in item.oddPlayItems" :key="index2" >
                          <h1 class="power-ul-2-title">{{item2.name}}</h1>
                          <div class="power-ul-2-main" >
                            <div class="power-main-text" v-for="(item3,index3) in item2.oddPlayItems " :key="index3" @click="selectedNumbers(item3,item2.name);selectedNumber(item3,item2.name)">
                              <span :class="typeof(item3.name) == 'number'  ? 'roundBackground' :''">{{item3.name}}</span>
                              <span>{{item3.odds}}</span>
                              <van-icon  v-if="chipInData.selectedShowData.indexOf(item.name+','+item3.playCode+','+item3.classify) > -1 " name="success" color="red" size="18px" style="vertical-align: bottom;position: absolute;bottom: 0;right: 0;"/>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </van-tab>
                </div>
              </van-tabs>
            </li>
          </ul>
        </div>
      </div>
      <footer-lotter :powerShow="powerShow" :selectedNumberDate="selectedNumberDate"  @footerLotterMoney="footerLotterMoney($event)" @cleanUpPowerShow="cleanUpPowerShow($event)" :clear="clear"></footer-lotter>
    </main>
  </div>
</template>
<script>
  import footerLotter from "@/components/include/footerLotter";
  import lotteryHtml from '@/assets/json/lotteryTemplate/lhc.json'
  export default {
    name: "indexSY",
    components:{footerLotter},
    props:["KSheaderLotterDate",'lotteryDate','clear'],
    data(){
      return{
        index:2,
        powerStyle:{tr:"color:red;border:2px solid red",span:'font-weight:bold;color:red;'},//点击颜色
        selectedNumberDate:[], //选中的号码
        powerShow:[], //选中的位置
        selectedBigClassify:[], //选中大分类
        endLotteryDate:[],//小玩法数据right
        activeShow:{actives:0,activeId:0,activeItem:0},
        renxuanzhixuanLength:{renxuan:0,zhixuan:0},
        zuxuanData:{data:[],leng:{},submitDate:[]},//组选三数据
        noPuTongLeng:0,
        chipInData :{
          selectedOption:[
            // {
            //   name:'',
            //   code:'',
            //   selectedNoLength:0,
            //   twoLevelNoData:[
            //     {
            //       name:'',twoNolengths:0,
            //       selectedDate: {
            //         BowlDate:[
            //           // {classify:'和大',playCode:"shuangmianpan",data:'.....'}
            //         ],
            //         optionNo:{
            //           // diyiqiu:["01","02"]
            //         }
            //       }
            //     }
            //   ]
            // }
          ],
          selectedShowData:[],
        },
        // chipInData :{
        //   selectedOption:[{
        //     name:"双面盘",
        //     code:"shuangmianpan",
        //     selectedNoLength:0,
        //     twoLevelNoLength:[
        //       {name:'',Nolengths:0,selectedDate:{BowlDate:[{classify:'和大',playCode:"shuangmianpan",data:'.....'}],optionNo:{diyiqiu:["01","02"]} }
        //       }
        //       ]
        //   }],
        // },

      }
    },
    created() {
    },
    mounted() {
      // // console.log(lotteryHtml)
      // console.log(this.activeShow.activeId)

    },
    methods:{
      //子组件footerLotter传过来的值
      // handleSubmitOrder(dataMoney){
      //   this.getDolotBet(dataMoney)
      // },
      //处理footerLotter给的清除数据
      cleanUpPowerShow(clearDate){
        // let selectedNumberDate = this.selectedBigClassify.slice(-1)[0]
        // console.log(clearDate)
        this.powerShow = []
        this.selectedNumberDate = []
        this.chipInData.selectedOption =[]
        this.chipInData.selectedShowData = []
        if (this.powerShow == '' && clearDate != true){
          // this.$toast("数据已清除,请重新选择")
        }
      },
      //接受money 并整合提交数据给lottery
      footerLotterMoney(dataMoney){
        //lotType: 10, groupCode: 短牌,qiHao: 202006010686,version: 5,lotCode: FFK3
        //data [{"max":50000,"min":1,"name":"6点","oddsId":345957,"playCode":"daxiaoshaibao","money":"2.00"}]
        // console.log(this.selectedNumberDate)
        // console.log(this.zuxuanData)
        let data =[],optionNo = ''
        for (let [index,val] of this.selectedNumberDate.entries()){

          if (val.minSelected > 0){ //非普通数据

          }else {
            data[index]={max:this.selectedNumberDate[index].maxBetAmmount,min:this.selectedNumberDate[index].minBetAmmount,name:this.selectedNumberDate[index].classify,oddsId:this.selectedNumberDate[index].id,playCode:this.selectedNumberDate[index].playCode,money:dataMoney}
          }
        }
        // 非普通数据，因为optionON已经循环好了选中的值
        for(let i=0;i<this.chipInData.selectedOption.length;i++){
            for (let z=0;z<this.chipInData.selectedOption[i].twoLevelNoLength.length;z++){
              if (this.chipInData.selectedOption[i].twoLevelNoLength[z].selectedDate.optionNo != ''){
                let obj = this.chipInData.selectedOption[i].twoLevelNoLength[z].selectedDate.optionNo
                let odds = this.chipInData.selectedOption[i].twoLevelNoLength[z].selectedDate.BowlDate[0]
                let arrs = {max:odds.maxBetAmmount,min:odds.minBetAmmount,name:obj,oddsId:odds.id,playCode:odds.playCode,money:dataMoney}
                data.push(arrs)
              }
            }
        }

        this.$emit("dateParams",JSON.stringify(data),this.selectedNumberDate)
      },

      //大玩法选择填充数据
      selectedOneTitle(item){
        let newObj ={};let judegeEqual = false;
        if(this.chipInData.selectedOption.length > 0){  //当selectedLengthz中存在元素才进行去重
          for (let [index,items] of this.chipInData.selectedOption.entries()){
            if (item.code == items.code){
              for (let i in  items){
                newObj[i] = items[i]
              }
              this.chipInData.selectedOption.splice(index,1)
              this.chipInData.selectedOption.push(newObj)
              judegeEqual = true
              break;
            }
          }
          if (judegeEqual == false){

            newObj ={name:item.name,code:item.code,selectedNoLength:0,twoLevelNoLength:[{name:this.endLotteryDate[0].name,twoNolengths:0,selectedDate:{BowlDate:[],optionNo:''}}]}
            this.chipInData.selectedOption.push(newObj)
          }
        }else {
          newObj = {name:item.name,code:item.code,selectedNoLength:0,twoLevelNoLength:[{name:this.endLotteryDate[0].name,twoNolengths:0,selectedDate:{BowlDate:[],optionNo:''}}]}
          this.chipInData.selectedOption.push(newObj)
        }

        this.selectedTwoTitle('',this.endLotteryDate[this.activeShow.activeId].name)

      },
      //点击二级标题title 标题名称
      selectedTwoTitle(name,title){
        let newObj ={};let Nolengths = 0;let judegeEqual = false;
        let newArr = JSON.parse(JSON.stringify(this.chipInData.selectedOption.slice(-1)[0].twoLevelNoLength))
        for (let [index,item] of newArr.entries()){
          if (item.name == title){
            for (let i in  item){
              newObj[i] = item[i]
            }
            newArr.splice(index,1)
            newArr.push(newObj)
            this.chipInData.selectedOption.slice(-1)[0].twoLevelNoLength =newArr
            // this.chipInData.selectedOption.slice(-1)[0].twoLevelNoLength.shift()
            judegeEqual = true
            break;
          }
        }
        if (judegeEqual == false){
          newArr.push({name:title,twoNolengths:Nolengths,selectedDate:{BowlDate:[],optionNo:''}})
          this.chipInData.selectedOption.slice(-1)[0].twoLevelNoLength = newArr
        }
        // // console.log(newArr)

      },
      //点击选择号码,(title !='' 是直选)
      selectedNumbers(items,title=''){
        // console.log(items)
        // console.log(title)
        // console.log(this.chipInData.selectedOption.slice(-1)[0])
        // console.log(this.chipInData)
        let item={}
        for (let i in items){ //将数组转为对象
          item[i] = items[i]
        }
        let newObj ={};let Nolengths = 0;let judegeEqual = false;
        let newArr = JSON.parse(JSON.stringify(this.chipInData.selectedOption.slice(-1)[0].twoLevelNoLength.slice(-1)[0].selectedDate.BowlDate))
        if (newArr.length > 0){ //添加BowlDate，选中号码倍率等数据,组选的数据,直选
          if (title != ''){ //有三级标题的数据 ,直选数据
            // console.log("直选")
            item.threeTitle = ''
            item.threeTitle = title
            // // console.log(newArrLine)ss
            // // console.log(this.chipInData.selectedOption.slice(-1)[0].twoLevelNoLength.slice(-1)[0])
            for (let [index,itemss] of newArr.entries()){
              // console.log(newArr)
              if ((item.name+item.playCode+item.threeTitle) == (itemss.name+itemss.playCode+itemss.threeTitle)){
                newArr.splice(index,1)
                judegeEqual = true;
                break;
              }
              if (((item.name+item.playCode) == (itemss.name+itemss.playCode)) && (item.threeTitle != itemss.threeTitle)){
                this.$toast('请不要选择相同的号码!');
                judegeEqual = true;
                break;
              }

            }
            if (judegeEqual == false){
              newArr.push(item)
            }
            this.chipInData.selectedOption.slice(-1)[0].twoLevelNoLength.slice(-1)[0].selectedDate.BowlDate = newArr //添加点击的数据
            // this.chipInData.selectedOption.slice(-1)[0].twoLevelNoLength.slice(-1)[0].code = item.playCode //添加code

          }else { //非直选数据
            for (let [index,items] of newArr.entries()){
              if ((item.name+item.playCode) == (items.name+items.playCode)){
                for (let i in  items){
                  newObj[i] = items[i]
                }
                newArr.splice(index,1)
                judegeEqual = true;
                break;
              }
            }
            if (judegeEqual == false){
              newArr.push(item)
            }
            this.chipInData.selectedOption.slice(-1)[0].twoLevelNoLength.slice(-1)[0].selectedDate.BowlDate = newArr
            // this.chipInData.selectedOption.slice(-1)[0].twoLevelNoLength.slice(-1)[0].code = item.playCode //添加code
          }

        }else {

          if ( title != ''){
            item.threeTitle = ''
            item.threeTitle = title
            // let newArrLine = this.chipInData.selectedOption.slice(-1)[0].twoLevelNoLength.slice(-1)[0]
            //     newArrLine.threeTitle=[]
            //     newArrLine.threeTitle.push(title)
          }

          this.chipInData.selectedOption.slice(-1)[0].twoLevelNoLength.slice(-1)[0].selectedDate.BowlDate.push(item)
          // this.chipInData.selectedOption.slice(-1)[0].twoLevelNoLength.slice(-1)[0].code = item.playCode //添加code
        }
        console.log(this.chipInData.selectedOption.slice(-1)[0].code)
        if (this.chipInData.selectedOption.slice(-1)[0].code == "lm" || this.chipInData.selectedOption.slice(-1)[0].code == "hx" || this.chipInData.selectedOption.slice(-1)[0].code == "qbz" || this.chipInData.selectedOption.slice(-1)[0].code == "lx" || this.chipInData.selectedOption.slice(-1)[0].code == "wsl"){
          //连码 合肖 全不中 尾连数 连肖
          this.selectedZhiXuanNum()
        }else {
          //普通数据
          this.selectedPUTongNum()
        }
        //计算注单数
        this.listFilterLen(item.playCode)
        //选 中 号码添加样式
        this.selectedShowData(item,title='')
        // console.log(this.chipInData.selectedOption)
        // console.log(item)
      },
      //组选，任选，十一选五选数据,添加注数，twoNolengths    添加号码optionNo
      selectedZuXuanNum(){
        let selectedData= this.chipInData.selectedOption.slice(-1)[0].twoLevelNoLength;let num = 0;let andNum =0
        for (let [index,item] of selectedData.entries()){
          //注数
          if (item.selectedDate.BowlDate.length != 0){
            item.twoNolengths = this.getFlagArrs(item.selectedDate.BowlDate.length,item.selectedDate.BowlDate[0].minSelected || '').length
            num = item.twoNolengths
            // console.log(num)
          }else {
            item.twoNolengths = 0
          }

          //添加组选选中的号码
          let optionNo =''
          for(let [index1,item1] of item.selectedDate.BowlDate.entries()){
            optionNo += item1.classify+','
          }
          item.selectedDate.optionNo = optionNo
          andNum += item.twoNolengths
        }
        this.chipInData.selectedOption.slice(-1)[0].selectedNoLength = andNum
        console.log(this.chipInData.selectedOption.slice(-1)[0])
        // console.log(this.chipInData.selectedOption)
      },
      //选中普通的数据
      selectedPUTongNum(){
        console.log(this.chipInData)

        let selectedData= this.chipInData.selectedOption.slice(-1)[0].twoLevelNoLength;let num = 0
        for (let [index,item] of selectedData.entries()){
          let twoNum = 0
          //计算注数
          num += this.getFlagArrs(item.selectedDate.BowlDate.length,1).length
          twoNum += this.getFlagArrs(item.selectedDate.BowlDate.length,1).length
          this.chipInData.selectedOption.slice(-1)[0].twoLevelNoLength[index].twoNolengths = twoNum
        }
        this.chipInData.selectedOption.slice(-1)[0].selectedNoLength = num
      },
      //连码 合肖 全不中 尾连数 连肖 注数
      selectedZhiXuanNum(){
        let selectedData= this.chipInData.selectedOption.slice(-1)[0].twoLevelNoLength;let num = 0;let andNum =0
        for (let [index,item] of selectedData.entries()){
          //注数
          if (item.selectedDate.BowlDate.length != 0){
            item.twoNolengths = this.getFlagArrs(item.selectedDate.BowlDate.length,item.selectedDate.BowlDate[0].minSelected || '').length
            num = item.twoNolengths
            // console.log(num)
          }else {
            item.twoNolengths = 0
          }

          //添加组选选中的号码
          let optionNo =''
          for(let [index1,item1] of item.selectedDate.BowlDate.entries()){
            if(item.selectedDate.BowlDate[0].minSelected <= item.selectedDate.BowlDate.length){
              optionNo += item1.classify+','
            }
          }
          item.selectedDate.optionNo = optionNo
          andNum += item.twoNolengths
        }
        this.chipInData.selectedOption.slice(-1)[0].selectedNoLength = andNum

      },
      //选 中 号码添加样式
      selectedShowData(item){
        console.log(this.powerShow)
        let newObj = JSON.parse(JSON.stringify(this.chipInData.selectedOption));let newArr =[];
        for(let item of newObj){
          for (let item1 of item.twoLevelNoLength){
            for (let item2 of item1.selectedDate.BowlDate){
              let options =''
              if(item2.playCode.indexOf('zhixuan') > -1){
                options =  item1.name +','+item2.classify+',' +item2.threeTitle
              }else {
                options = item1.name+','+item2.playCode +','+item2.classify
              }

              newArr.push(options)
            }
          }
        }

        this.chipInData.selectedShowData = newArr
        console.log(this.chipInData.selectedShowData)
        // console.log(this.chipInData.selectedShowData)
      },
      //注单的数量 动画效果
      listFilterLen:function (code) {
        this.noPuTongLeng = 0
        for (let item of this.chipInData.selectedOption){
          if (item.code == code && item.selectedNoLength !=0){
            return item.selectedNoLength
          }
        }
      },
      // 计算注数
      getFlagArrs:function(m,n){
        if(m<n){
          return  []
        }else if (m===n) {
          return  [0]
        }
        if (!n || n < 1) {
          return [];
        }
        let resultArrs = [],
          flagArr = [],
          isEnd = false,
          i, j, leftCnt;
        for (i = 0; i < m; i++) {
          flagArr[i] = i < n ? 1 : 0;
        }
        resultArrs.push(flagArr.concat());
        while (!isEnd) {
          leftCnt = 0;
          for (i = 0; i < m - 1; i++) {
            if (flagArr[i] == 1 && flagArr[i + 1] == 0) {
              for (j = 0; j < i; j++) {
                flagArr[j] = j < leftCnt ? 1 : 0;
              }
              flagArr[i] = 0;
              flagArr[i + 1] = 1;
              var aTmp = flagArr.concat();
              resultArrs.push(aTmp);
              if (aTmp.slice(-n).join("").indexOf('0') == -1) {
                isEnd = true;
              }
              break;
            }
            flagArr[i] == 1 && leftCnt++;
          }
        }
        return resultArrs;
      },
      // 判断当前年份生肖
      getAnimal:function(year){
        let animals = ["猴","鸡","狗","猪","鼠","牛","虎","兔","龙","蛇","马","羊"], index = year % 12;
        return animals[index]
      },

      //选择大玩法，并与json数据填充
      selectLotteryDate(item){
        // console.log(item)
        this.activeShow.activeId = 0
        this.endLotteryDate =[]
        this.selectedBigClassify.push(item.code)
        this.selectedNumber(' ','',item)

        for (let nums=0;nums < item.rules.length ; nums++){
          for(let index=0;index < lotteryHtml.data.length;index++){
            if (item.rules[nums].code == lotteryHtml.data[index].playName){
              let dxdzzh = '' ,list = [];
              switch (item.rules[nums].code) {
                case 'tm_a':
                case 'zm_a':
                case 'zm_b':
                  list = [];
                  dxdzzh =  item.rules[0].oddPlayItems.slice(0, 49)
                  // 填充数字
                  for (let i = 0; i < dxdzzh.length; i++) {
                    let obj = dxdzzh[i];
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = dxdzzh[i].name;
                    newobj.classify = dxdzzh[i].name;
                    list.push(newobj)
                  }
                  lotteryHtml.data[index].data[0].oddPlayItems = list
                  list = [];
                  dxdzzh = item.rules[0].oddPlayItems.slice(49)
                  // 填充其他
                  for (let i = 0; i < dxdzzh.length; i++) {
                    let obj = dxdzzh[i];
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = dxdzzh[i].name;
                    newobj.classify = dxdzzh[i].name;
                    list.push(newobj)
                  }
                  lotteryHtml.data[index].data[1].oddPlayItems = list
                  this.endLotteryDate[nums] ={lotteryTemplateType:2,name:item.rules[nums].name,oddPlayItems:lotteryHtml.data[index].data}
                  break;
                case 'tm_b':
                case 'z1t':
                case 'z2t':
                case 'z3t':
                case 'z4t':
                case 'z5t':
                case 'z6t':
                case 'bb':
                  list = [];
                  dxdzzh =  item.rules[0].oddPlayItems
                  // 填充数字
                  for (let i = 0; i < dxdzzh.length; i++) {
                    let obj = dxdzzh[i];
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = dxdzzh[i].name;
                    newobj.classify = dxdzzh[i].name;
                    list.push(newobj)
                  }
                  lotteryHtml.data[index].data[0].oddPlayItems = list
                  this.endLotteryDate[nums] ={lotteryTemplateType:2,name:item.rules[nums].name,oddPlayItems:lotteryHtml.data[index].data}
                  break;
                case 'zm16':
                  dxdzzh =  item.rules[0].oddPlayItems
                  for(let n in lotteryHtml.data[index].data) {
                    list = [];
                    // 填充数字
                    for (let i = 0; i < dxdzzh.length; i++) {
                      let obj = dxdzzh[i];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = dxdzzh[i].name;
                      newobj.classify = lotteryHtml.data[index].data[n].name + '--' + dxdzzh[i].name;
                      list.push(newobj)
                    }
                    lotteryHtml.data[index].data[n].oddPlayItems = list
                    this.endLotteryDate[nums] ={lotteryTemplateType:2,name:item.rules[nums].name,oddPlayItems:lotteryHtml.data[index].data}
                  }
                  break;
                case 'eqz':
                case 'ezt':
                case 'sqz':
                case 'szy':
                case 'szezzs':
                case 'szes':
                case 'szezze':
                case 'eztzzt':
                case 'eztzze':
                case 'tc':
                case 'siqz':
                case 'w_bz':
                case 'liu_bz':
                case 'qi_bz':
                case 'ba_bz':
                case 'jiu_bz':
                case 'shi_bz':
                case 'shiy_bz':
                case 'shie_bz':
                  dxdzzh = item.rules[nums].oddPlayItems[0]
                  for(let n in lotteryHtml.data[index].data) {
                    list = [];
                    // 填充数字
                    for (let i = 1; i < 50; i++) {
                      let obj = dxdzzh;
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = this.addZero(i);
                      newobj.classify = this.addZero(i);
                      list.push(newobj)
                    }
                    lotteryHtml.data[index].data[n].oddPlayItems = list
                    this.endLotteryDate[nums] ={lotteryTemplateType:2,name:item.rules[nums].name,oddPlayItems:lotteryHtml.data[index].data}

                  }
                  break;
                case 'ztxztw':
                  list = [];
                  dxdzzh = ['鼠','牛','虎','兔','龙','蛇','马','羊','猴','鸡','狗','猪']
                  // 填充数字
                  for (let i = 0; i < dxdzzh.length; i++) {
                    let obj = ''
                    if(dxdzzh[i] == this.getAnimal(new Date().getFullYear())){
                      obj = item.rules[0].oddPlayItems[1];
                    } else {
                      obj = item.rules[0].oddPlayItems[0];
                    }
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = dxdzzh[i];
                    newobj.classify = dxdzzh[i];
                    list.push(newobj)
                  }
                  lotteryHtml.data[index].data[0].oddPlayItems = list
                  list = [];
                  // 填充其他
                  for (let i = 0; i < 10; i++) {
                    let obj = ''
                    if(i == 0){
                      obj = item.rules[0].oddPlayItems[2];
                    } else {
                      obj = item.rules[0].oddPlayItems[3];
                    }
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = i + '尾';
                    newobj.classify = i + '尾';
                    list.push(newobj)
                  }
                  lotteryHtml.data[index].data[1].oddPlayItems = list
                  this.endLotteryDate[nums] ={lotteryTemplateType:2,name:item.rules[nums].name,oddPlayItems:lotteryHtml.data[index].data}
                  break;
                case 'txsm':
                case 'hx_ex':
                case 'hx_sanx':
                case 'hx_six':
                case 'hx_wux':
                case 'hx_liux':
                case 'hx_qix':
                case 'hx_bax':
                case 'hx_jiux':
                case 'hx_shix':
                case 'hx_syx':
                case 'erx_lz':
                case 'sanx_lz':
                case 'six_lz':
                case 'wux_lz':
                case 'erx_lbz':
                case 'sanx_lbz':
                case 'six_lbz':
                  list = [];
                  dxdzzh = ['鼠','牛','虎','兔','龙','蛇','马','羊','猴','鸡','狗','猪']
                  // 填充数字
                  for (let i = 0; i < dxdzzh.length; i++) {
                    let obj = ''
                    if(dxdzzh[i] == this.getAnimal(new Date().getFullYear())){
                      obj = item.rules[nums].oddPlayItems[1];
                    } else {
                      obj = item.rules[nums].oddPlayItems[0];
                    }
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = dxdzzh[i];
                    newobj.classify = dxdzzh[i];
                    list.push(newobj)
                  }
                  lotteryHtml.data[index].data[0].oddPlayItems = list
                  lotteryHtml.data[index].data[0].name = item.rules[nums].name
                  // console.log(item.rules[nums].code)
                  if( item.rules[nums].code == 'txsm'){
                    this.endLotteryDate[nums] = {lotteryTemplateType:2,name:item.rules[nums].name,oddPlayItems:lotteryHtml.data[index].data}
                  } else {
                    this.endLotteryDate[nums] = lotteryHtml.data[index].data[0]
                  }
                  // console.log(lotteryHtml.data[index].data[0])
                  break;
                case 'erw_lz':
                case 'sanw_lz':
                case 'siw_lz':
                case 'erw_lbz':
                case 'sanw_lbz':
                case 'siw_lbz':
                  list = [];
                  // 填充数字
                  for (let i = 0; i < 10; i++) {
                    let obj = ''
                    if(i == 0){
                      obj = item.rules[nums].oddPlayItems[1];
                    } else {
                      obj = item.rules[nums].oddPlayItems[0];
                    }
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = i + '尾';
                    newobj.classify = i + '尾';
                    list.push(newobj)
                  }
                  // console.log(list)
                  lotteryHtml.data[index].data[0].oddPlayItems = list
                  lotteryHtml.data[index].data[0].name = item.rules[nums].name
                  this.endLotteryDate[nums] = lotteryHtml.data[index].data[0]
                  console.log( this.endLotteryDate)
                  break;
              }

              // this.endLotteryDate.push(lotteryHtml.data[index].data)
            }
          }
        }
        this.selectedOneTitle(item)
        // console.log(this.endLotteryDate)
      },
      //选中的号码name为十一选五的三级标题直选
      selectedNumber(item='',name="",bigClassify=' '){
        // console.log(this.chipInData.selectedShowData)
        // console.log(item)
        // console.log(this.chipInData.selectedOption)
        // console.log(this.selectedBigClassify)
        if (bigClassify != ' '){ //选中大分类的
          if (!this.powerShow[bigClassify.code] ){
            this.powerShow[bigClassify.code] =[]
          }
        }

        if (item != ' ' ){ //点击选中号码 时
          // console.log(this.selectedBigClassify)
          // console.log(this.powerShow)
          let selectedBigClassify = this.selectedBigClassify.slice(-1)[0]
          if (this.powerShow[selectedBigClassify]){ //选中一级大分类对记录长度进行判断
            this.powerShow[selectedBigClassify].push(item.id+ `,${item.playCode},${item.classify}`);
          }else {
            this.powerShow[selectedBigClassify] =[]
            this.powerShow[selectedBigClassify].push(item.id+ `,${item.playCode},${item.classify}`);
          }
          for (let i=0;i<this.powerShow[selectedBigClassify].length-1;i++){
            if ((item.id+','+item.playCode+','+item.classify) == this.powerShow[selectedBigClassify][i]){
              this.powerShow[selectedBigClassify].splice(i,1)
              this.powerShow[selectedBigClassify].pop()
            }
          }
          var obj = {}
          // item.forEach((item,index)=>{obj[index] = item})
          for (let i in item ){
            obj[i] = item[i]
          }
          if (name != ' '){ //直选
            obj.threeTitle ='';
            obj.threeTitle = name
          }
          this.selectedNumberDate.push(obj);

          if (item.playCode.indexOf("zuxuan") == -1){
            for (let i=0;i<this.selectedNumberDate.length-1;i++){
              if (item.name == this.selectedNumberDate[i].name && item.playCode == this.selectedNumberDate[i].playCode && item.classify == this.selectedNumberDate[i].classify){
                if (item.playCode.indexOf('zhixuan')>-1){ //直选三级标题判断
                  if (name == this.selectedNumberDate.slice(-1)[0].threeTitle){
                    this.selectedNumberDate.splice(i,1)
                  }
                }else {
                  this.selectedNumberDate.splice(i,1)
                  this.selectedNumberDate.pop()
                }
              }
            }
          }
          console.log(this.selectedNumberDate)
          if (item.playCode.indexOf("zuxuan") >-1){
            this.selectedZuXuanNumber(item)
          }
          // console.log(this.zuxuanData.data)
          // console.log(this.zuxuanData.leng)
          // console.log(this.zuxuanData.submitDate)
          // console.log(this.selectedNumberDate)
          // console.log(this.powerShow)
        }

      },
      //选中组选
      selectedZuXuanNumber(item)  {
        // console.log(this.selectedNumberDate)
        let selectedBigClassify = this.selectedBigClassify.slice(-1)[0]
        let numberClassify = 0
        this.zuxuanData.leng[item.playCode] = 0
        this.selectedNumberDate.pop()
        for (let i=0;i<this.powerShow[selectedBigClassify].length;i++){
          if (this.powerShow[selectedBigClassify][i].indexOf(item.playCode) > -1){
            this.zuxuanData.leng[item.playCode]  += 1
          }
        }
        if (item.playCode.indexOf('er') > -1){
          numberClassify = 2
        }else {
          numberClassify = 3
        }
        if (selectedBigClassify =='zuxuan' || selectedBigClassify =='renxuan'){ //十一选五组选
          if ( this.zuxuanData.leng[item.playCode] >= numberClassify){
            this.selectedNumberDate.push(item)
            for (let [index,vale] of this.lotteryDate.rules.entries()){
              if (vale.code.indexOf(selectedBigClassify) > -1){
                for (let [indexs,vales] of this.lotteryDate.rules[index].rules.entries()){
                  if (vales.code.indexOf(item.playCode) >-1){
                    for (let i=0;i<this.selectedNumberDate.length-1;i++){
                      if (item.playCode == this.selectedNumberDate[i].playCode ){
                        // if (item.name ==  this.selectedNumberDate[i].name){
                        this.selectedNumberDate.splice(i,1)
                        // }
                      }
                    }
                    this.zuxuanData.data.shift()
                    this.zuxuanData.submitDate.push(item.playCode)
                    this.zuxuanData.data[item.playCode] = this.lotteryDate.rules[index].rules[indexs].oddPlayItems[0]
                  }
                }
              }
            }
          }else {
            delete this.zuxuanData.data[item.playCode]
            for (let i=0;i<this.selectedNumberDate.length;i++){
              if (item.playCode == this.selectedNumberDate[i].playCode){
                this.selectedNumberDate.splice(i,1)
                this.zuxuanData.submitDate.splice(i,1)
              }
            }
          }
        }
      },
      // 给小于10的号码加零
      addZero:function(num,three){
        if(three){
          num<10? num = '0'+ num: num = ''+num;
          num<100? num = '0'+ num: num = ''+num;
        } else {
          num<10? num = '0'+ num: num = ''+num;
        }
        return num;
      },
    },
    computed:{

    },
    watch:{
      'headerLotterDate':function () {
        this.selectedNumberDate=[]
        this.powerShow =[]
      },
      "lotteryDate":function () {
        this.$nextTick(()=>{
          this.selectLotteryDate(this.lotteryDate.rules[0])
        })
      },
    },
    filters:{
    }
  }
</script>
<style lang="scss" scoped>
  $lotterIndexMarginTopTime:1rem;
  $lotterIndexOpenheight:0.8rem;
  .main-container-number{
    height: 100%;
    .main-number-power{
      text-align: center;
      box-sizing: border-box;
      height: 100%;
      width: 100%;
      max-width: 750px;
      .power{
        height: 100%;
        .power-left-ul{
          min-height: 100%;
          display: flex;
          .left{
            border-right: 1px solid #dddddd;
            box-sizing: border-box;
            &:first-child{
              width: 1.8rem;
              background: #f2f2f2;
              padding-bottom: 2.8rem;
            }

            .left-ul-tip{
              width: 1.8rem;
              height: .88rem;
              line-height: 0.88rem;
              position: relative;
              box-sizing: border-box;
              border-bottom: 1px solid #dddddd;
              transition: all 0.5s;

              a{
                width: 100%;
                height: 100%;
                position: relative;
                i{
                  position: absolute;
                  top: 0;
                  right: 0;
                  width: 0.32rem;
                  height: 0.32rem;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  box-sizing: border-box;
                  min-width: 16px;
                  padding: 0 3px;
                  color: #fff;
                  font-weight: 500;
                  font-size: 0.24rem;
                  font-family: Avenir-Heavy, PingFang SC, Helvetica Neue, Arial, sans-serif;
                  line-height: 14px;
                  text-align: center;
                  background-color: #ee0a24;
                  border: 1px solid #fff;
                  border-radius: 16px;
                  transform: translate(50%, -50%);
                  transform-origin: 100%;
                }
                span{
                  color: #000000;
                }
              }
            }
            .actives{
              border-left: 3px solid #ee0a24;
              font-weight: bold;
              a{
                span{
                  color: #ee0a24;
                }
              }

            }

          }
          .right{
            width: calc(100% - 1.8rem);
            >>> .van-tab{
              flex: 0 0 50%!important;
              background: #f2f2f2;
              line-height: 0.88rem;
              height: 0.88rem;
            }
            >>>.van-tabs__line{
              width: 50%!important;
            }
            >>>.van-tabs--line .van-tabs__wrap{
              height: 0.88rem!important;
            }
            >>>.van-tab--active{
              font-weight: bold;
              color: #ee0a24;
            }
            .power-content{
              .power-ul{
                display: flex;
                flex-flow: row wrap;
                li{
                  flex: 50%;
                  height: 0.88rem;
                  line-height: 0.88rem;
                  text-align: center;
                  box-sizing: border-box;
                  border: 1px solid #dddddd;
                  border-left: none;
                  border-top: none;
                  position: relative;
                  .power-text{
                    height: 100%;
                    display: inline-flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    span{
                      &:first-child{
                        margin-right: 0.2rem;
                        font-size: 0.26rem;
                      }
                      &:nth-child(2){
                        color: red;
                        font-size: 0.24rem;
                      }
                    }
                    .roundBackground{
                      display: flex;
                      text-align: center;
                      justify-content: center;
                      align-items: center;
                      width: .46rem;
                      height: .46rem;
                      margin-right: .1rem;
                      border-radius: 50%;
                      font-size: .25rem;
                      box-shadow: none;
                      background: #f5f5f5;
                      color: #000;
                      border: 1px solid #ddd;
                    }
                  }
                  &:nth-child(even){
                    &:nth-last-child(1){
                      border-bottom: 1px solid #dddddd;
                    }
                  }
                  &:nth-child(odd){
                    &:nth-last-child(2){
                      border-bottom: 1px solid #dddddd;
                    }
                  }
                }
                .bet-info{
                  display: flex;
                  justify-content: center;
                  flex-wrap: nowrap;
                  background-color: #ff6464;
                  color: #fff;
                  height: 0.6rem;
                  line-height: 0.6rem;
                  border-radius: 6.22222vw;
                  box-shadow: 0 1.33333vw 2.13333vw 0 hsla(0,0%,60%,.3);
                  padding: 0 4vw;
                  font-size: 3.2vw;
                  z-index: 1;
                  position: absolute;
                  bottom: -0.6rem;
                  left: 50%;
                  margin-left:-0.6rem ;
                }
              }
              .power-ul-2{
                .power-ul-2-content{
                  .power-ul-2-title{
                    height: 0.88rem;
                    line-height: 0.88rem;
                    text-align: center;
                    box-sizing: border-box;
                    border: 1px solid #dddddd;
                    border-left: none;
                    border-top: none;
                    position: relative;
                  }
                  .power-ul-2-main{
                    display: flex;
                    flex-flow: row wrap;
                    .power-main-text{
                      flex: 0 0 50%;
                      height: 0.88rem;
                      line-height: 0.88rem;
                      text-align: center;
                      box-sizing: border-box;
                      border: 1px solid #dddddd;
                      border-left: none;
                      border-top: none;
                      position: relative;
                      span{
                        &:first-child{
                          margin-right: 0.2rem;
                          font-size: 0.26rem;
                        }
                        &:nth-child(2){
                          color: red;
                          font-size: 0.24rem;
                        }
                      }
                      .roundBackground{
                        display: flex;
                        text-align: center;
                        justify-content: center;
                        align-items: center;
                        width: .46rem;
                        height: .46rem;
                        margin-right: .1rem;
                        border-radius: 50%;
                        font-size: .25rem;
                        box-shadow: none;
                        background: #f5f5f5;
                        color: #000;
                        border: 1px solid #ddd;
                      }
                    }
                  }
                }
              }
            }
          }
        }

      }
    }
  }
</style>
