<template>
  <div class="index">
    <header>
      <div class="title">
        <img v-if="$store.state.stationInfo.logoUrl" :src="$store.state.stationInfo.logoUrl" alt="">
        <span v-else-if="$store.state.stationInfo.content">{{$store.state.stationInfo.content.title}}</span>
      </div>
      <div class="reg-button" v-if="!$store.state.isLogin">
        <router-link to="/login">登录</router-link>
        <router-link to="/register" v-if="registerSwitch || agtRegisterSwitch"> | 注册</router-link>
      </div>
      <div class="reg-button-on" v-if="$store.state.isLogin">
        <router-link to="/personal">
          <van-icon name="gold-coin-o" />
          <span>{{userMoney}}</span>
        </router-link>
      </div>
    </header>
    <div class="content">
      <div class="swipe" v-if="swipeList.length >= 1">
        <van-swipe class="my-swipe" :autoplay="3000" indicator-color="white">
          <van-swipe-item v-for="(item, index) in swipeList" :key="index">
            <a v-if="item.titleUrl" :href="item.titleUrl" target="_blank"><img :src="item.titleImg"></a>
            <a v-else href="#"><img :src="item.titleImg"></a>
          </van-swipe-item>
        </van-swipe>
      </div>
      <div class="notice">
        <van-notice-bar
            left-icon="volume-o"
            background="#fefefe"
            :text="notice"
        />
      </div>
      <div class="quickMenu">
        <router-link to="/personal">
          <div class="quickMenu-module">
            <img src="../../../assets/images/money_ico_1.png" alt=""><br>
            <span style="color: #edb93f">兑换</span>
          </div>
        </router-link>
        <router-link to="/personal">
          <div class="quickMenu-module">
            <img src="../../../assets/images/take_ico_1.png" alt=""><br>
            <span style="color: #52b653">竞猜记录</span>
          </div>
        </router-link>
        <router-link to="/active" v-if="topMenuType == '1'">
          <div class="quickMenu-module">
            <img src="../../../assets/images/youhuihuodong_ico_1.png" alt=""><br>
            <span style="color: #f86237">公益活动</span>
          </div>
        </router-link>
        <router-link to="/appDownload"  v-if="topMenuType == '2'">
          <div class="quickMenu-module">
            <img src="../../../assets/images/app_ico.png" alt=""><br>
            <span style="color: #f86237">APP下载</span>
          </div>
        </router-link>
        <router-link to="/service">
          <div class="quickMenu-module">
            <img src="../../../assets/images/service_ico_1.png" alt=""><br>
            <span style="color: #3c8efa">在线客服</span>
          </div>
        </router-link>
      </div>
      <div class="index_margin">
        <div class="buttons-tab" v-if="(playList.length == 1 && playList[0].dataCode == 4)">
            <span class="active" @click='tabsSwitch(item.title,index)'><img src="../../../assets/images/hot_1.png" alt="">热门竞猜</span>
<!--            <span @click='tabsSwitch(item.title,index)'><img src="../../../assets/images/8_1.png" alt="">竞猜</span>-->
        </div>
        <div class="content-block">
          <div class="index_lottery_item">
            <van-row v-if="playList[dataBesidesIndex].dataCode == 4 && !isLSOnOff">
              <van-col span="8" v-for="(item, index) in playList[dataBesidesIndex].lotterys" :key="index">
                <router-link :to="{path:'/lottery',query:{code:item.code,lotGroup:item.lotGroup}}">
                  <div class="group">
                    <img :src="item.imgUrl" alt=""><br>
                    <span>{{item.name}}</span>
                    <img src="../../../assets/images/hot_1.gif" alt="" class="hot">
                  </div>
                </router-link>
              </van-col>
            </van-row>
            <van-row v-if="playList[dataBesidesIndex].dataCode == 4 && isLSOnOff">
              <div class="show-group-list" v-if="lotteryGroup.show">
                <van-col span="24" @click="lotteryGroup.show = false">
                  <div class="group">
                    <img v-if="lotteryGroup.data.code == 1" src="../../../assets/images/L_SSC.png" alt="">
                    <img v-else-if="lotteryGroup.data.code == 2" src="../../../assets/images/L_FC3D.png" alt="">
                    <img v-else-if="lotteryGroup.data.code == 3" src="../../../assets/images/L_PK10.png" alt="">
                    <img v-else-if="lotteryGroup.data.code == 5" src="../../../assets/images/L_SYX5.png" alt="">
                    <img v-else-if="lotteryGroup.data.code == 6" src="../../../assets/images/L_LHC.png" alt="">
                    <img v-else-if="lotteryGroup.data.code == 7" src="../../../assets/images/L_K3.png" alt="">
                    <img v-else-if="lotteryGroup.data.code == 8" src="../../../assets/images/L_KLSF.png" alt="">
                    <img v-else-if="lotteryGroup.data.code == 9" src="../../../assets/images/L_PCEGG.png" alt="">
                    <br>
                    <span>{{lotteryGroup.data.name}}</span>
                  </div>
                </van-col>
                <van-col  v-show="item.lotGroup == lotteryGroup.data.code" span="8" v-for="(item, index) in playList[dataBesidesIndex].lotterys" :key="index">
                  <router-link :to="{path:'/lottery',query:{code:item.code,lotGroup:item.lotGroup}}">
                    <div class="group">
                      <img :src="item.imgUrl" alt=""><br>
                      <span>{{item.name}}</span>
                    </div>
                  </router-link>
                </van-col>
              </div>
              <van-col span="8" v-for="(item, index) in lotteryGroup.list" :key="index">
                <a @click="showLotteryGroup(item)">
                  <div class="group">
                    <img v-if="item.code == 1" src="../../../assets/images/L_SSC.png" alt="">
                    <img v-else-if="item.code == 2" src="../../../assets/images/L_FC3D.png" alt="">
                    <img v-else-if="item.code == 3" src="../../../assets/images/L_PK10.png" alt="">
                    <img v-else-if="item.code == 5" src="../../../assets/images/L_SYX5.png" alt="">
                    <img v-else-if="item.code == 6" src="../../../assets/images/L_LHC.png" alt="">
                    <img v-else-if="item.code == 7" src="../../../assets/images/L_K3.png" alt="">
                    <img v-else-if="item.code == 8" src="../../../assets/images/L_KLSF.png" alt="">
                    <img v-else-if="item.code == 9" src="../../../assets/images/L_PCEGG.png" alt="">
                    <br>
                    <span>{{item.name}}</span>
                  </div>
                </a>
              </van-col>
            </van-row>
            <van-row v-if="playList[dataBesidesIndex].title == '电子'">
              <van-col span="8" v-for="(item, index) in playList[dataBesidesIndex].items" :key="index">
                <a @click="locationUrl('egame',item.playCode)">
                  <div class="group">
                    <img :src="item.imgUrl" alt=""><br>
                    <span>{{item.title}}</span>
                  </div>
                </a>
              </van-col>
            </van-row>
            <van-row v-if="playList[dataBesidesIndex].dataCode == 1" >
              <van-col  span="8" v-for="(item, index) in playList[dataBesidesIndex].items" :key="index">
                <a @click="locationUrl('real',item.playCode)">
                  <div class="group">
                    <img :src="item.imgUrl" alt=""><br>
                    <span>{{item.title}}</span>
                  </div>
                </a>
              </van-col>
            </van-row>
            <van-row v-else>
              <van-col  span="8" v-for="(item, index) in playList[dataBesidesIndex].items" :key="index">
                <a @click="locationUrl(playList[dataBesidesIndex].items[index].playCode)">
                  <div class="group">
                    <img :src="item.imgUrl" alt=""><br>
                    <span>{{item.title}}</span>
                  </div>
                </a>
              </van-col>
            </van-row>
          </div>
        </div>
      </div>
    </div>
    <foot_nav></foot_nav>
    <float :redPackSwitch="redPackSwitch"></float>
  </div>
</template>

<script>
import '@/assets/css/tabs/index/index_guess.less'
import escape from '@/assets/json/escape.json'
import foot_nav from '@/components/include/foot_nav'
import float from '@/components/include/float'
export default {
  name: 'index',
  components:{
    foot_nav, float
  },
  data(){
    return{
      swipeList: [], // 轮播图列表
      notice:'', // 公告
      userMoney:'****', //用户余额
      dataBesidesList:[], //玩法大类排序列表
      dataBesidesIndex:0, //玩法大类排序索引
      playList:[
        {title:'彩票'}
      ],  // 储存玩法数据
      registerSwitch:false,
      agtRegisterSwitch:false,
      serviceUrl:'',
      topMenuType:'',
      longShow:false, // 长龙展示
      longLotteryOption:999, //长龙样式选择
      longLotteryOption2:999, //长龙样式选择
      longLoading:false, // 加载动画
      longData:'', //下注数据
      longMoney:0, //下注金额
      countdownTime: 24 * 60 * 60 * 1000, //倒计时
      signSwitch:false, // 签到大开关
      dialSwitch:false, // 转盘开关
      redPackSwitch:false, // 红包开关
      isLSOnOff:false, // 彩种分类开关
      lotteryGroup:{
        list:'',
        show:false,
        data:'',
      }, // 展开彩种数据
      floder:'',
    }
  },
  created:function(){
    this.accountInfoIs()
    this.getTopMenuType()
    if(this.$store.state.isLogin){
      this.getMeminfo()
    }
  },
  mounted:function(){
    this.getStationInfo()
    this.getSwipe()
    this.getPopNotices()
    this.getHomeData()
    this.getStationSwitch()
    this.getServiceUrl()
    this.getUniversalSwitch()
    this.unescape()
  },
  methods:{
    // app下载 or 优惠活动
    getTopMenuType:function () {
      this.$fetch('native/getTopMenuType.do').then(res =>{
        if(res.success) {
          this.topMenuType = res.content
        }
      })
    },
    // 获取余额
    getMeminfo:function () {
      this.$fetch('native/meminfo.do').then(res =>{
        if(res.success){
          this.userMoney = res.content.balance
        }
      })
    },
    // 判断是否处于登录状态
    accountInfoIs:function () {
      this.$fetch('native/accountInfo.do').then(res =>{
        if(res.success) {
          this.$store.commit('pushIsLogin',true)
        } else {
          this.$store.commit('pushIsLogin',false)
        }
      })
    },
    // 获取网站基础信息
    getStationInfo:function (){
      if(this.$store.state.stationInfo.success){
        this.floder = this.$store.state.stationInfo.content.station.floder
        document.title = this.$store.state.stationInfo.content.title
      } else {
        this.$fetch('native/getStationInfo.do').then((res) => {
          if(res.success){
            this.floder = res.content.station.floder
            this.$store.commit('pushStationInfo',res)
            document.title = this.$store.state.stationInfo.content.title
          }
        })
      }
    },
    // 签到红包开关
    getUniversalSwitch:function (){
      this.$fetch('native/getUniversalSwitch.do').then((res) => {
        if(res.success){
          res.content[0].onFlag === 'on'? this.signSwitch = true: this.signSwitch = false; // 签到开关
          res.content[1].onFlag === 'on'? this.dialSwitch = true: this.dialSwitch = false; // 转盘开关
          res.redPack.onFlag === 'on'? this.redPackSwitch = true: this.redPackSwitch = false; // 红包开关
        }
      })
    },
    // 获取网站轮播图
    getSwipe:function (){
      let params = {
        code: 5
      }
      this.$fetch('native/lunbo.do',params).then((res) => {
        if(res.success){
          this.swipeList = res.content
        }
      })
    },
    // 获取网站公告
    getPopNotices:function (){
      let params = {
        code: 13
      }
      this.$fetch('native/getPopNotices.do',params).then((res) => {
        if(res.success && res.content.length > 0){
          this.notice = res.content[0].content
        }
      })
    },
    // 获取大类玩法
    getHomeData:function (){
      if(this.$store.state.homeData.success){
        this.homeDataOperate(this.$store.state.homeData)
      } else {
        this.$fetch('native/getHomeData.do',{},true).then((res) => {
          if(res.success){
            this.homeDataOperate(res)
            this.$store.commit('pushHomeData',res)
          }
        })
      }
    },
    homeDataOperate:function (res){
      this.playList = res.content
      if(res.isLSOnOff == 'on'){
        this.isLSOnOff = true
      }
      if(this.isLSOnOff){
        this.getLotteryGroup()
      }
    },
    // 分类展示拼接数据
    getLotteryGroup:function (){
      this.$post('native/lotteryGroup.do',{},true).then((res) => {
        if(res.success){
          this.lotteryGroup.list = res.content
        }
      })
    },
    // 展开彩种列表
    showLotteryGroup:function (item){
      this.lotteryGroup.show = true
      this.lotteryGroup.data = item
    },
    // 网站开关
    getStationSwitch:function (){
      if(this.$store.state.stationSwitch.success){
        this.stationSwitchOperate(this.$store.state.stationSwitch)
      } else {
        this.$fetch('native/getStationSwitch.do').then((res) => {
          if(res.success){
            this.stationSwitchOperate(res)
            this.$store.commit('pushStationSwitch',res)
          }
        })
      }
    },
    stationSwitchOperate:function (res){
      let data = res.content ,that = this
      for(let index in data){
        if(data[index].onFlag == 'on'){
          if(data[index].switchKey == 'memberRegister'){
            that.registerSwitch = true // 用户注册
          } else if(data[index].switchKey == 'dailiRegister'){
            that.agtRegisterSwitch = true
          } else if(data[index].switchKey == 'LongDragon'){
            that.changlongOnOff = true
          } else if(data[index].switchKey == 'toLoginView' && !this.$store.state.isLogin){
            that.$router.push({path:'/login'})
          }
        }
      }
    },
    // 在线客服
    getServiceUrl:function (){
      this.$fetch('native/getServiceUrl.do').then((res) => {
        if(res.success){
          this.serviceUrl = res.content
        }
      })
    },
    // 玩法大类点击事件
    tabsSwitch:function (title, index){
      this.dataBesidesIndex = index
    },
    // 链接跳转验证
    locationUrl:function(playCode,code){
      let that = this;
      if(!that.$store.state.isLogin){
        that.$router.push({
          path: '/login'
        });
      } else {
        switch (playCode) {
          case 'zaixiankefu':
            window.location.href = window.location.origin + '/mobile/v3/customerService.do';
            return;
          case 'appxiazai':
            window.location.href = window.location.origin + '/mobile/v3/appDownload.do';
            return;
          case 'qiandao':
            window.location.href = window.location.origin + '/mobile/v3/signIn.do';
            return;
          case 'zhuanpan':
            window.location.href = window.location.origin + '/mobile/v3/turnlate.do';
            return;
          case 'youhuihuodong':
            // window.location.href = window.location.origin + '/mobile/v3/active.do';
            this.$router.push('/active')
            return;
          case 'shuaxin':
            window.location.href = window.location.origin + '/mobile';
            return;
          case 'lottery':
            window.location.href = window.location.origin + '/mobile/v3/bet_lotterys.do?lotCode=' + code;
            return;
          case 'hgty':
            window.location.href = window.location.origin + '/common/template/sports/newhg/dist/index.html';
            // that.$router.push({path:'/sportList'})
            return;
          case 'ibc':
            this.goGamePlays(playCode)
            return;
          case 'bbin':
            this.goGamePlays(playCode)
            return;
          case 'egame':
            if(code =='ag' || code =='mg'|| code =='pt'|| code =='qt'|| code =='cq9'|| code =='jdb'){
              window.location.href = window.location.origin + '/mobile/egame/index.do?code=' + code;
            } else {
              this.goGamePlays(code)
            }
            return ;
          case 'real':
            this.goRealPlays(code)
            return;
          case 'ky':
            window.location.href = window.location.origin + '/mobile/v3/getQpGameItems.do?playCode=ky';
            return;
          case 'th':
            window.location.href = window.location.origin + '/mobile/v3/getQpGameItems.do?playCode=th';
            return;
          case 'kx':
            this.goRealPlays(playCode)
            return;
        }
      }
    },
    goGamePlays:function(playCode){
      let params = {}
      let url = 'native/forwardReal.do'
      if(playCode =='ibc'){
        params = {
          playCode: playCode,
          eSport:1,
        }
      }else if(playCode =='bbin'){
        params = {
          type: 'ball',
        }
        url = 'forwardBbin.do'
      } else if(playCode =='bbinDz'){
        params = {
          type: 'game',
        }
        url = 'forwardBbin.do'
      } else if(playCode =='bg'){
        params = {
          type: 2,
          h5: 1,
        }
        url = 'forwardBg.do'
      } else if(playCode =='ebetDz'){
        params = {
          gameType: 5,
        }
        url = 'forwardEbet.do'
      } else{
        params = {
          playCode: playCode,
          gameId: '',
        }
      }
      this.$post(url,params).then((res) => {
        if(res.success){
          if(playCode =='bbin' || playCode == 'bbinDz'){
            location.href = res.url;
          } else {
            location.href = res.content.url;
          }
        }
      })
    },
    goRealPlays:function(playCode){
      let params = {}
      let url = 'native/forwardReal.do'
      if(playCode =='mg'){
        params = {
          gameType: 1,
          gameid: 66936,
          h5:1,
        }
        url = 'forwardMg.do'
      } else if(playCode =='bbin'){
        params = {
          type: 'live',
        }
        url = 'forwardBbin.do'
      } else if(playCode =='kx'){
        params = {
          playCode: 'kx',
        }
      } else {
        params = {
          playCode: playCode,
          gameId: '',
        };
      }
      this.$post(url,params).then((res) => {
        if(res.success){
          if(playCode =='mg' || playCode =='bbin'){
            location.href = res.url;
          } else {
            location.href = res.content.url;
          }
        }
      })
    },
    unescape:function (){
      let e = []
      let a = escape
      for(let index in a.escape){
        e.push(unescape(a.escape[index].value))
      }
      this.$store.commit('pushEscapeList',e)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
.x002118Center{
  position: relative;
  .title{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    img,span{
      height: 4.4rem;
      text-align: center;
    }
  }
}
.my-swipe{
  height: 100%;
}
.box-warp{
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background:rgba(0,0,0,.6);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.longDragonMenu{
  width: 93%;
  background: #ffffff;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  float: left;
}
.dragon-tit {
  height:45px;
  line-height:45px;
  background:#f4f4f4;
  font-weight:400;
  position: relative;
  text-align: center;
  font-size: 16px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.dragonX{position:absolute;
  top:0;
  bottom:0;
  margin:auto 0;
  right:10px;
  width:15px;
}
.mint-navbar{
  height: 40px;
  width: 100%;
  background: #ffffff;
  float: left;
  display: flex
}
.mint-navbar div{
  float: left;height: 100%;font-size: 12px;width: 100%;text-align: center;line-height: 40px;border-bottom: 2px solid #ffffff;color: #000000;
}
.is-selected{
  border-bottom: 2px solid #dc3b3b!important;
  color: #dc3b3b!important;
}
.mint-list{
  height: 80px;
  width: 100%;
  background: #ffffff;
  float: left;
  display: flex;
  overflow-x:auto;
}
.mint-list div{
  margin-left: 10px;
  min-width: 80px;
  text-align: center;
}
.mint-list img{
  width: 50px;
}
.mint-list span{
  font-size: 12px;
  white-space:nowrap;
}
.mint-qihao{
  height: 40px;
  width: 100%;
  background: #ffffff;
  float: left;
  display: flex;
}
.mint-qihao div{
  width: 50%;
  text-align: center;
  line-height: 40px;
}
.mint-lottery-list{
  float: left;width: 100%;height: 200px;overflow-y: auto
}
.mint-lottery-list table{
  width: 100%;
  text-align: center;
}
.mint-lottery-list table td{
  width: 35%;
  height: 30px;
  line-height: 30px;
}
.mint-lottery-list table td:nth-child(2){
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0;
}
.mint-lottery-list table td .codeOption{
  display: inline-block;
  padding: 3px 15px;
  border:1px solid #7d7e80;
  float: left;
  margin-left: 10px;
  border-radius: 5px;
}
.codeOptionOn{
  background: red!important;
  color: #ffffff!important;
  border: 1px solid red!important;
}
.mint-touzhu{
  margin-top: 10px;
  height: 40px;
  width: 100%;
  background: #ffffff;
  float: left;
}
.mint-touzhu span{
  display: inline-block;
  height: 100%;
  width: 50%;
  float: left;
  line-height: 40px;
  padding-left: 20px;
  box-sizing: border-box;
}
.mint-touzhu span:nth-child(2){
  padding-left: 30px!important;
  text-align: center;
}
.mint-touzhu input[type='number']{
  width: 50px;
  height: 3rem;
  line-height: 3rem;
  border: 1px solid #7d7e80;
  border-radius: 5px;
  margin: 0 4px;
  padding-left: 5px;
}
.mint-touzhu button{
  color: #ffffff;
  background: orange;
  border-radius: 5px;
  height: 3.5rem;
  width: 5rem;
  line-height: 3.5rem;
  margin-top: 2.5px;
}
</style>
