<template>
  <div class="index_t index">
    <header>
      <div class="register" v-if="!$store.state.isLogin">
        <router-link to="/register" v-if="registerSwitch || agtRegisterSwitch">注册</router-link>
      </div>
      <div class="title"  style="width: 100%;justify-content: center">
        <img v-if="$store.state.stationInfo.logoUrl" :src="$store.state.stationInfo.logoUrl" alt="">
        <span v-else-if="$store.state.stationInfo.content">{{$store.state.stationInfo.content.title}}</span>
      </div>
      <div class="reg-button" v-if="!$store.state.isLogin">
        <router-link to="/login">登录</router-link>
      </div>

      <div class="reg-button-on" v-if="$store.state.isLogin">
        <router-link to="/personal">
          <van-icon name="gold-coin-o" />
          <span>{{userMoney}}</span>
        </router-link>
      </div>
    </header>
    <div class="content">
      <div class="swipe" v-if="swipeList.length >= 1">
        <van-swipe class="my-swipe" :autoplay="3000" indicator-color="white">
          <van-swipe-item v-for="(item, index) in swipeList" :key="index">
            <a v-if="item.titleUrl" :href="item.titleUrl" target="_blank"><img :src="item.titleImg"></a>
            <a v-else href="#"><img :src="item.titleImg"></a>
          </van-swipe-item>
        </van-swipe>
      </div>
      <div class="notice">
        <van-notice-bar
            left-icon="volume-o"
            background="#fefefe"
            :text="notice"
        />
      </div>
      <div class="quickMenu">
<!--        <a href="#" @click="longDragonMenu" v-if="changlongOnOff">-->
<!--          <div class="quickMenu-module">-->
<!--            <img src="../../../assets/images/changlong.png" alt=""><br>-->
<!--            <span style="color: #e62e25">{{$store.state.escapeList[0]}}</span>-->
<!--          </div>-->
<!--        </a>-->

        <a href="#" @click="qukuan">
          <div class="quickMenu-module">
            <img src="../../../assets/images/index_t/icon_withdrawal.png" alt=""><br>
            <span style="color: #666666" >提款中心</span>
          </div>
        </a>
        <router-link to="/personal" >
          <div class="quickMenu-module">
            <img src="../../../assets/images/index_t/icon_recharge.png" alt=""><br>
            <span style="color: #666666">充值中心</span>
          </div>
        </router-link>
        <router-link to="/personal">
          <div class="quickMenu-module">
            <img src="../../../assets/images/index_t/icon_conversion.png" alt=""><br>
            <span style="color: #666666" >额度转换</span>
          </div>
        </router-link>
        <router-link to="/service" >
          <div class="quickMenu-module">
            <img src="../../../assets/images/index_t/icon_customer_service.png" alt=""><br>
            <span style="color: #666666">在线客服</span>
          </div>
        </router-link>
      </div>
      <div class="thirdParties-game">
        <ul>
          <li v-for="(item, index) in playList" :key="index" @click='tabsSwitch(item.title,index)'>
            <img v-if="item.dataCode == '4'" src="../../../assets/images/index_t/index_lottery.png" alt="">
            <img v-else-if="item.dataCode == '0'" src="../../../assets/images/index_t/index_sports.png" alt="">
            <img v-else-if="item.dataCode == '2'" src="../../../assets/images/index_t/index_games.png" alt="">
            <img v-else-if="item.dataCode == '1'" src="../../../assets/images/index_t/index_live.png" alt="">
            <img v-else-if="item.dataCode == '3'" src="../../../assets/images/index_t/index_chess.png" alt="">
            <img v-else-if="item.dataCode == '7'" src="../../../assets/images/index_t/index_esports.png" alt="">
            <p>
              <span>{{item.title}}</span>
            </p>
          </li>
        </ul>
        <div class="game-detailed">
          <van-popup v-model="game_detailed" round position="bottom" custom-style="height: 20%">
            <div class="content-block">
              <div class="index_lottery_item">
                <van-row v-if="playList[dataBesidesIndex].dataCode == 4 && !isLSOnOff">
                  <van-col span="8" v-for="(item, index) in playList[dataBesidesIndex].lotterys" :key="index">
                    <router-link :to="{path:'/lottery',query:{code:item.code,lotGroup:item.lotGroup}}">
                      <div class="group">
                        <img :src="item.imgUrl" alt=""><br>
                        <span>{{item.name}}</span>
                      </div>
                    </router-link>
                    <!--                <a @click="locationUrl('lottery',item.code)">-->
                    <!--                  <div class="group">-->
                    <!--                    <img :src="item.imgUrl" alt=""><br>-->
                    <!--                    <span>{{item.name}}</span>-->
                    <!--                  </div>-->
                    <!--                </a>-->
                  </van-col>
                </van-row>
                <van-row v-if="playList[dataBesidesIndex].dataCode == 4 && isLSOnOff">
                  <div class="show-group-list" v-if="lotteryGroup.show">
                    <van-col span="24" @click="lotteryGroup.show = false">
                      <div class="group">
                        <img v-if="lotteryGroup.data.code == 1" src="../../../assets/images/L_SSC.png" alt="">
                        <img v-else-if="lotteryGroup.data.code == 2" src="../../../assets/images/L_FC3D.png" alt="">
                        <img v-else-if="lotteryGroup.data.code == 3" src="../../../assets/images/L_PK10.png" alt="">
                        <img v-else-if="lotteryGroup.data.code == 5" src="../../../assets/images/L_SYX5.png" alt="">
                        <img v-else-if="lotteryGroup.data.code == 6" src="../../../assets/images/L_LHC.png" alt="">
                        <img v-else-if="lotteryGroup.data.code == 7" src="../../../assets/images/L_K3.png" alt="">
                        <img v-else-if="lotteryGroup.data.code == 8" src="../../../assets/images/L_KLSF.png" alt="">
                        <img v-else-if="lotteryGroup.data.code == 9" src="../../../assets/images/L_PCEGG.png" alt="">
                        <br>
                        <span>{{lotteryGroup.data.name}}</span>
                      </div>
                    </van-col>
                    <van-col  v-show="item.lotGroup == lotteryGroup.data.code" span="8" v-for="(item, index) in playList[dataBesidesIndex].lotterys" :key="index">
                      <router-link :to="{path:'/lottery',query:{code:item.code,lotGroup:item.lotGroup}}">
                        <div class="group">
                          <img :src="item.imgUrl" alt=""><br>
                          <span>{{item.name}}</span>
                        </div>
                      </router-link>
                    </van-col>
                  </div>
                  <van-col span="8" v-for="(item, index) in lotteryGroup.list" :key="index">
                    <a @click="showLotteryGroup(item)">
                      <div class="group">
                        <img v-if="item.code == 1" src="../../../assets/images/L_SSC.png" alt="">
                        <img v-else-if="item.code == 2" src="../../../assets/images/L_FC3D.png" alt="">
                        <img v-else-if="item.code == 3" src="../../../assets/images/L_PK10.png" alt="">
                        <img v-else-if="item.code == 5" src="../../../assets/images/L_SYX5.png" alt="">
                        <img v-else-if="item.code == 6" src="../../../assets/images/L_LHC.png" alt="">
                        <img v-else-if="item.code == 7" src="../../../assets/images/L_K3.png" alt="">
                        <img v-else-if="item.code == 8" src="../../../assets/images/L_KLSF.png" alt="">
                        <img v-else-if="item.code == 9" src="../../../assets/images/L_PCEGG.png" alt="">
                        <br>
                        <span>{{item.name}}</span>
                      </div>
                    </a>
                  </van-col>
                </van-row>
                <van-row v-if="playList[dataBesidesIndex].dataCode == 1" >
                  <van-col  span="8" v-for="(item, index) in playList[dataBesidesIndex].items" :key="index">
                    <a @click="locationUrl('real',item.playCode)">
                      <div class="group">
                        <img :src="item.imgUrl" alt=""><br>
                        <span>{{item.title}}</span>
                      </div>
                    </a>
                  </van-col>
                </van-row>
                <van-row v-else-if="playList[dataBesidesIndex].dataCode == 2">
                  <van-col span="8" v-for="(item, index) in playList[dataBesidesIndex].items" :key="index">
                    <a @click="locationUrl('egame',item.playCode)">
                      <div class="group">
                        <img :src="item.imgUrl" alt=""><br>
                        <span>{{item.title}}</span>
                      </div>
                    </a>
                  </van-col>
                </van-row>
                <van-row v-else>
                  <van-col  span="8" v-for="(item, index) in playList[dataBesidesIndex].items" :key="index">
                    <a @click="locationUrl(playList[dataBesidesIndex].items[index].playCode)">
                      <div class="group">
                        <img :src="item.imgUrl" alt=""><br>
                        <span>{{item.title}}</span>
                      </div>
                    </a>
                  </van-col>
                </van-row>
              </div>
            </div>
          </van-popup>
        </div>
      </div>
      <div class="hot-game">
        <div class="hot-game-title">
          <span></span>
          <span></span>
          <span>热门游戏</span>
          <span></span>
        </div>
        <div class="hot-game-content">
          <ul>
            <li @click="locationUrl('hgty')">
              <img src="../../../assets/images/index_t/sports.png" alt="" class="img">
              <div class="title">
                <span>皇冠体育</span>
                <span>体育赛事</span>
              </div>
            </li>
            <li @click="locationUrl('ky')">
              <img src="/native/resources/images/chess/game0.png" alt="" class="img">
              <div class="title">
                <span>开元棋牌</span>
                <span>棋牌赛场</span>
              </div>
            </li>
            <router-link tag="li" :to="{path:'/lottery',query:{code:'WFC',lotGroup:1}}">
              <img src="../../../assets/images/index_t/lottery_sysssc_101.png" alt="" class="img">
              <div class="title">
                <span>五分彩</span>
                <span>彩票游戏</span>
              </div>
            </router-link>
            <router-link tag="li" :to="{path:'/lottery',query:{code:'TMK3',lotGroup:7}}">
              <img src="../../../assets/images/index_t/lottery_sysssc_102.png" alt="" class="img">
              <div class="title">
                <span>三分彩</span>
                <span>彩票游戏</span>
              </div>
            </router-link>
            <li @click="locationUrl('real','ag')">
              <img src="../../../assets/images/index_t/live_ag.png" alt="" class="img">
              <div class="title">
                <span>AG真人</span>
                <span>彩票游戏</span>
              </div>
            </li>
<!--            <li @click="locationUrl('kx','kx')">-->
<!--              <img src="/native/resources/images/KXDJ.png" alt="" class="img">-->
<!--              <div class="title">-->
<!--                <span>英雄联盟</span>-->
<!--                <span>凯旋电竞</span>-->
<!--              </div>-->
<!--            </li>-->
            <router-link tag="li" :to="{path:'/lottery',query:{code:'AMWFC',lotGroup:1}}">
              <img src="/native/resources/images/lotterylogo/L_SSC.png" alt="" class="img">
              <div class="title">
                <span>澳门五分彩</span>
                <span>彩票游戏</span>
              </div>
            </router-link>
            <a href="/?toPC=1"  >
              <img src="" alt="" class="img">
              <div class="title">
                <span>电脑版</span>
                <span>站长推荐</span>
              </div>
            </a>
          </ul>
        </div>
      </div>
    </div>
    <div class="activity" style="margin-bottom: 7rem;">
      <a @click="locationUrl('qiandao')" v-if="signSwitch">
        <div>
          <img src="../../../assets/images/hongbao.jpg" alt="">
        </div>
      </a>
      <a @click="locationUrl('zhuanpan')"  v-if="dialSwitch">
        <div>
          <img src="../../../assets/images/qiandao.jpg" alt="">
        </div>
      </a>
    </div>
    <foot_t></foot_t>
    <float :redPackSwitch="redPackSwitch"></float>
  </div>
</template>

<script>
import '@/assets/css/tabs/index/index.less'
import escape from '@/assets/json/escape.json'
import escapex002145 from '@/assets/json/floderEscape/x002145.json'
import foot_t from '@/components/tabs/footer/foot_t'
import float from '@/components/include/float'
import { Toast } from 'vant';
export default {
  name: 'index',
  components:{
    foot_t, float
  },
  data(){
    return{
      swipeList: [], // 轮播图列表
      notice:'', // 公告
      userMoney:'****', //用户余额
      dataBesidesList:[], //玩法大类排序列表
      dataBesidesIndex:0, //玩法大类排序索引
      playList:[
        {title:'彩票'}
      ],  // 储存玩法数据
      registerSwitch:false,
      agtRegisterSwitch:false,
      serviceUrl:'',
      topMenuType:'',
      longShow:false, // 长龙展示
      longLotteryOption:999, //长龙样式选择
      longLotteryOption2:999, //长龙样式选择
      changlongOnOff:'', // 长龙开关
      changlongLabel:'', // 长龙一级菜单
      changlongLabelKey:0,
      changlongLabelTwo:'', //长龙二级菜单
      changlongLottery:'', //长龙彩种详情
      changlongCode:'', //长龙彩种
      longLoading:false, // 加载动画
      longData:'', //下注数据
      longMoney:0, //下注金额
      countdownTime: 24 * 60 * 60 * 1000, //倒计时
      signSwitch:false, // 签到大开关
      dialSwitch:false, // 转盘开关
      redPackSwitch:false, // 红包开关
      isLSOnOff:false, // 彩种分类开关
      lotteryGroup:{
        list:'',
        show:false,
        data:'',
      }, // 展开彩种数据
      floder:'',
      game_detailed:false
    }
  },
  created:function(){
    this.accountInfoIs()
    this.getTopMenuType()
    if(this.$store.state.isLogin){
      this.getMeminfo()
    }
  },
  mounted:function(){
    this.getStationInfo()
    this.getSwipe()
    this.getPopNotices()
    this.getHomeData()
    this.getStationSwitch()
    this.getServiceUrl()
    this.getUniversalSwitch()
    this.unescape()
  },
  methods:{
    // app下载 or 优惠活动
    getTopMenuType:function () {
      this.$fetch('native/getTopMenuType.do').then(res =>{
        if(res.success) {
          this.topMenuType = res.content
        }
      })
    },
    // 获取余额
    getMeminfo:function () {
      this.$fetch('native/meminfo.do').then(res =>{
        if(res.success){
          this.userMoney = res.content.balance
        }
      })
    },
    // 判断是否处于登录状态
    accountInfoIs:function () {
      this.$fetch('native/accountInfo.do').then(res =>{
        if(res.success) {
          this.$store.commit('pushIsLogin',true)
          this.$store.commit('pushUserInfo',res.content)
        } else {
          this.$store.commit('pushIsLogin',false)
        }
      })
    },
    // 获取网站基础信息
    getStationInfo:function (){
      if(this.$store.state.stationInfo.success){
        this.floder = this.$store.state.stationInfo.content.station.floder
        document.title = this.$store.state.stationInfo.content.title
      } else {
        this.$fetch('native/getStationInfo.do').then((res) => {
          if(res.success){
            this.floder = res.content.station.floder
            this.$store.commit('pushStationInfo',res)
            document.title = this.$store.state.stationInfo.content.title
          }
        })
      }
    },
    // 签到红包开关
    getUniversalSwitch:function (){
      this.$fetch('native/getUniversalSwitch.do').then((res) => {
        if(res.success){
          res.content[0].onFlag === 'on'? this.signSwitch = true: this.signSwitch = false; // 签到开关
          res.content[1].onFlag === 'on'? this.dialSwitch = true: this.dialSwitch = false; // 转盘开关
          res.redPack.onFlag === 'on'? this.redPackSwitch = true: this.redPackSwitch = false; // 红包开关
        }
      })
    },
    // 获取网站轮播图
    getSwipe:function (){
      let params = {
        code: 5
      }
      this.$fetch('native/lunbo.do',params).then((res) => {
        if(res.success){
          this.swipeList = res.content
        }
      })
    },
    // 获取网站公告
    getPopNotices:function (){
      let params = {
        code: 13
      }
      this.$fetch('native/getPopNotices.do',params).then((res) => {
        if(res.success && res.content.length > 0){
          this.notice = res.content[0].content
        }
      })
    },
    // 获取大类玩法
    getHomeData:function (){
      if(this.$store.state.homeData.success){
        this.homeDataOperate(this.$store.state.homeData)
      } else {
        this.$fetch('native/getHomeData.do',{},true).then((res) => {
          if(res.success){
            this.homeDataOperate(res)
            this.$store.commit('pushHomeData',res)
          }
        })
      }
    },
    homeDataOperate:function (res){
      this.playList = res.content
      if(res.isLSOnOff == 'on'){
        this.isLSOnOff = true
      }
      if(this.isLSOnOff){
        this.getLotteryGroup()
      }
    },
    // 分类展示拼接数据
    getLotteryGroup:function (){
      this.$post('native/lotteryGroup.do',{},true).then((res) => {
        if(res.success){
          this.lotteryGroup.list = res.content
        }
      })
    },
    // 展开彩种列表
    showLotteryGroup:function (item){
      this.lotteryGroup.show = true
      this.lotteryGroup.data = item
    },
    // 网站开关
    getStationSwitch:function (){
      if(this.$store.state.stationSwitch.success){
        this.stationSwitchOperate(this.$store.state.stationSwitch)
      } else {
        this.$fetch('native/getStationSwitch.do').then((res) => {
          if(res.success){
            this.stationSwitchOperate(res)
            this.$store.commit('pushStationSwitch',res)
          }
        })
      }
    },
    stationSwitchOperate:function (res){
      let data = res.content ,that = this
      for(let index in data){
        if(data[index].onFlag == 'on'){
          if(data[index].switchKey == 'memberRegister'){
            that.registerSwitch = true // 用户注册
          } else if(data[index].switchKey == 'dailiRegister'){
            that.agtRegisterSwitch = true
          } else if(data[index].switchKey == 'LongDragon'){
            that.changlongOnOff = true
          } else if(data[index].switchKey == 'toLoginView' && !this.$store.state.isLogin){
            that.$router.push({path:'/login'})
          }
        }
      }
    },
    // 在线客服
    getServiceUrl:function (){
      this.$fetch('native/getServiceUrl.do').then((res) => {
        if(res.success){
          this.serviceUrl = res.content
        }
      })
    },
    // 玩法大类点击事件
    tabsSwitch:function (title, index){
      this.game_detailed = true
      this.dataBesidesIndex = index
    },
    // 链接跳转验证
    locationUrl:function(playCode,code){
      let that = this;
      if(!that.$store.state.isLogin){
        that.$router.push({
          path: '/login'
        });
      } else {
        switch (playCode) {
          case 'zaixiankefu':
            window.location.href = window.location.origin + '/mobile/v3/customerService.do';
            return;
          case 'appxiazai':
            window.location.href = window.location.origin + '/mobile/v3/appDownload.do';
            return;
          case 'qiandao':
            window.location.href = window.location.origin + '/mobile/v3/signIn.do';
            return;
          case 'zhuanpan':
            window.location.href = window.location.origin + '/mobile/v3/turnlate.do';
            return;
          case 'youhuihuodong':
            // window.location.href = window.location.origin + '/mobile/v3/active.do';
            this.$router.push('/active')
            return;
          case 'shuaxin':
            window.location.href = window.location.origin + '/mobile';
            return;
          case 'lottery':
            window.location.href = window.location.origin + '/mobile/v3/bet_lotterys.do?lotCode=' + code;
            return;
          case 'hgty':
            window.location.href = window.location.origin + '/common/template/sports/newhg/dist/index.html';
            // that.$router.push({path:'/sportList'})
            return;
          case 'ibc':
          case 'bbin':
          case 'agty':
          case 'nhg':
            this.goGamePlays(playCode)
            return;
          case 'egame':
            if(code =='ag' || code =='mg'|| code =='pt'|| code =='qt'|| code =='cq9' || code =='jdb'){
              window.location.href = window.location.origin + '/mobile/egame/index.do?code=' + code;
            } else {
              this.goGamePlays(code)
            }
            return ;
          case 'real':
            this.goRealPlays(code)
            return;
          case 'ky':
            window.location.href = window.location.origin + '/mobile/v3/getQpGameItems.do?playCode=ky';
            return;
          case 'th':
            window.location.href = window.location.origin + '/mobile/v3/getQpGameItems.do?playCode=th';
            return;
          case 'kx':
            this.goRealPlays(playCode)
            return;
        }
      }
    },
    goGamePlays:function(playCode){
      let params = {}
      let url = 'native/forwardReal.do'
      if(playCode =='bbin'){
        params = {
          type: 'ball',
        }
        url = 'forwardBbin.do'
      } else if(playCode =='bbinDz'){
        params = {
          type: 'game',
        }
        url = 'forwardBbin.do'
      } else if(playCode =='bg'){
        params = {
          type: 2,
          h5: 1,
        }
        url = 'forwardBg.do'
      } else if(playCode =='ebetDz'){
        params = {
          gameType: 5,
        }
        url = 'forwardEbet.do'
      } else if(playCode =='ibc'){
        params = {
          gameType: 10,
        }
        url = 'forwardIbc.do?h5=1'
      } else if(playCode =='agty'){
        params = {}
        url = 'forwardAg.do?h5=1&gameType=TASSPTA'
      } else if(playCode =='nhg'){
        params = {
          playCode: playCode,
          gameId: '',
        }
        url = 'forwardNhg.do?h5=3'
      } else{
        params = {
          playCode: playCode,
          gameId: '',
        }
      }
      this.$post(url,params).then((res) => {
        if(res.success){
          if(playCode =='bbin' || playCode == 'bbinDz' || playCode == 'ibc' || playCode == 'agty' || playCode == 'nhg'){
            location.href = res.url;
          } else {
            location.href = res.content.url;
          }
        }
      })
    },
    goRealPlays:function(playCode){
      let params = {}
      let url = 'native/forwardReal.do'
      if(playCode =='mg'){
        params = {
          gameType: 1,
          gameid: 66936,
          h5:1,
        }
        url = 'forwardMg.do'
      } else if(playCode =='bbin'){
        params = {
          type: 'live',
        }
        url = 'forwardBbin.do'
      } else if(playCode =='kx'){
        params = {
          playCode: 'kx',
        }
      } else {
        params = {
          playCode: playCode,
          gameId: '',
        };
      }
      this.$post(url,params).then((res) => {
        if(res.success){
          if(playCode =='mg' || playCode =='bbin'){
            location.href = res.url;
          } else {
            location.href = res.content.url;
          }
        }
      })
    },
    longDragonMenu:function(){
      this.longShow = true
      this.longLoading = true
      this.$fetch('native/longDragonMenu.do').then((res) => {
        if(res.success){
          this.longLoading = false
          this.changlongLabel = res.content
          this.changlongLabelTwo = res.content[0].childen
          this.longDragonLottery(res.content[0].childen[1])
        }
      })
    },
    // 长龙助手点击获取二级菜单
    longDragonMenuClick:function(item,i){
      this.changlongLabelKey = i
      this.changlongLabelTwo = item.childen
    },
    // //调转pc
    // pcHref:function (){
    //   window.location.href = window.location.origin+'/index.do'
    // },
    // 长龙助手获取彩种详情
    longDragonLottery:function(item){
      this.countdownMs = ''
      if(item){
        this.changlongCode = item.code
      }
      let params = {
        lotCode:this.changlongCode
      }
      this.longLoading = true
      this.$post('native/lotLdList.do',params).then((res) => {
        this.longLoading = false
        if(res.success){
          this.changlongLottery = res
          this.changlongLottery.current.activeTime = this.changlongLottery.current.activeTime.replace(new RegExp("-","gm"),"/");
          this.changlongLottery.current.activeTime = (new Date(this.changlongLottery.current.activeTime)).getTime();
          this.changlongLottery.current.serverTime = this.changlongLottery.current.serverTime.replace(new RegExp("-","gm"),"/");
          this.changlongLottery.current.serverTime = (new Date(this.changlongLottery.current.serverTime)).getTime();
          this.countdownTime = this.changlongLottery.current.activeTime - this.changlongLottery.current.serverTime
        } else {
          Toast(res.msg)
        }
      })
    },
    // 选择长龙彩种
    clicklongLottery:function(index,index2,item){
      this.longData = item
      this.longLotteryOption = index
      this.longLotteryOption2 = index2
    },
    // 选择长龙彩种
    longTouzhu:function(){
      if(!this.longData){
        Toast('请选择下注内容');
        return false
      }
      if(this.longMoney <= 0){
        Toast('请正确填写投注金额');
        return false
      }
      let that = this
      this.longLoading = true
      let params = {
        lotCode:this.longData.lotCode,
        playName:this.longData.playNumbers.split(',')[this.longLotteryOption2],
        groupName:this.longData.groupName,
        groupCode:this.longData.groupCode,
        playCode:this.longData.playCode,
        qiHao:this.changlongLottery.current.qiHao,
        money:this.longMoney,
      }
      this.$post('native/doLdBet.do',params).then((res) => {
        that.longLoading = false
        if(res.success){
          Toast('投注成功');
          that.longLotteryOption = 999
          that.longLotteryOption2 = 999
          that.longMoney = 0
        } else {
          Toast(res.msg);
        }
      })
    },
    qukuan:function (){
      if(!this.$store.state.isLogin){
        this.$router.push({
          path: '/login'
        });
        return
      }
      this.$router.push({
        path: '/withdrawDeposit'
      });
    },
    unescape:function (){
      let e = []
      let a;
      if(this.floder == 'x002145' || this.floder == 'x002111' || this.floder == 'x002156'){
        a = escapex002145
      } else {
        a = escape
      }
      for(let index in a.escape){
        e.push(unescape(a.escape[index].value))
      }
      this.$store.commit('pushEscapeList',e)
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
.index_t{
  header{
    background-image: linear-gradient(
        90deg,#e54d42,#e800ec);
    .register{
      height: 100%;
      line-height: 4.4rem;
      position: absolute;
      left: 1rem;
      a{
        color: #ffffff;
        font-size: 1.6rem;
      }
    }
  }
  .content{
    .quickMenu{
      background: #ffffff;
      margin-top: 0;
      border: none;
      height: 8.7rem;
      a{
        border: none;
      }
      .quickMenu-module{
        img{
          width: 6rem;
          height: 6rem;
        }
      }
      &:after,&:before{
        content: "";
        width: 0;
        height: 0;
        display: block;
        visibility: hidden;
        clear: both;
      }
    }
    .thirdParties-game{
      padding: 1rem 0;
      width: 100%;
      box-sizing: border-box;
      display: flex;
      background: #ffffff;
      min-height: 200px;
      ul{
        width: 100%;
        height: 100%;
        li{
          width: 33.3%;
          height: 100%;
          box-sizing: border-box;
          padding: 0.5rem 0.5rem;
          position: relative;
          display: inline-block;
          img{
            width: 100%;
            height: 100%;
            border-radius: 5px;
          }
          p{
            height: 1.9rem;
            width: 100%;
            padding: 0 1rem;
            box-sizing: border-box;
            display: block;
            position: absolute;
            bottom: 1rem;
            left: 0;
            span{
              text-align: center;
              color: #ffffff;
              font-size: 1.4rem;
              display: block;
              background: #00000080;
              width: 100%;
              box-sizing: border-box;
            }
          }
        }
      }
      .game-detailed{
        .van-popup{
          max-height: 50%;
        }
        .content-block{
          min-height: 200px;
          .index_lottery_item{
            .van-row{
              height: 100%;
              box-sizing: border-box;
              .van-col--8{
                padding: 0 2px;
                box-sizing: border-box;
                height: 9rem;
                margin-top: 1rem;
                .group{
                  height: 100%;
                  text-align: center;
                  background: #ffffff;
                  border-radius: 5px;
                  font-size: 1.8rem;
                  padding-top: 1.2rem;
                  box-sizing: border-box;
                  img{
                    width: 5rem;
                    height:5rem;
                  }
                }
              }
              .show-group-list{
                float: left;
                width: 100%;
                height: auto;
                .van-col--24{
                  padding: 0 2px;
                  box-sizing: border-box;
                  height: 9rem;
                  margin-top: 1rem;
                  .group{
                    height: 100%;
                    text-align: center;
                    background: #ffffff;
                    border-radius: 5px;
                    font-size: 1.8rem;
                    padding-top: 1.2rem;
                    box-sizing: border-box;
                    img{
                      width: 5rem;
                    }
                  }
                }
                .van-col--8{
                  .group{
                    background: none!important;
                  }
                }
              }
            }
          }
        }
      }
    }
    .hot-game{
      background: #ffffff;
      .hot-game-title{
        text-align: center;
        padding-bottom: 1rem;
        span{
          display: inline-block;
          &:first-child,&:last-child{
            width: 71px;
            border-top: 1px solid #999999;
            height: 0;

          }
          &:nth-child(2){
            height: 19px;
            width: 19px;
            margin: 0 0.5rem;
            background-image: url("../../../assets/images/index_t/hot.png");
            background-size: cover;
            vertical-align: text-top;

          }
          &:nth-child(3){
            font-size: 18px;
            font-weight: bold;
            color: #000000;
            vertical-align: -webkit-baseline-middle;
            margin-right: 0.5rem;
          }
        }
      }
      .hot-game-content{
        padding: 0 0.5rem;
        box-sizing: border-box;
        padding-bottom: 50px;
        ul{
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          flex-wrap: wrap;
          li,a{
            width: 49%;
            margin: 0.25rem .5rem 0.25rem 0;
            box-sizing: border-box;
            padding: 11px 5px;
            background: #f5f5f5;
            border-radius: 5px;
            display: inline-block;
            display: flex;
            &:nth-child(even ){
              margin-right: 0;
            }
            &:nth-child(odd ){
              padding-right: 0;
            }
            .img{
              width: 5.5rem;
              display: inline-block;
            }
            .title{
              text-align: left;
              font-size: 12px;
              display: inline-block;
              padding-left: 1rem;
              height: 5.5rem;
              span{
                display: block;
                height: 50%;
                &:first-child{
                  font-size: 16px;
                  font-weight: bold;
                  color: #333333;
                }
                &:last-child{
                  color: #999999;
                }
              }
            }
          }
        }
      }
    }
  }

}
.x002118Center{
  position: relative;
  .title{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    img,span{
      height: 4.4rem;
      text-align: center;
    }
  }

}
.my-swipe{
  height: 100%;
}
.box-warp{
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background:rgba(0,0,0,.6);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.longDragonMenu{
  width: 93%;
  background: #ffffff;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  float: left;
}
.dragon-tit {
  height:45px;
  line-height:45px;
  background:#f4f4f4;
  font-weight:400;
  position: relative;
  text-align: center;
  font-size: 16px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.dragonX{position:absolute;
  top:0;
  bottom:0;
  margin:auto 0;
  right:10px;
  width:15px;
}
.mint-navbar{
  height: 40px;
  width: 100%;
  background: #ffffff;
  float: left;
  display: flex
}
.mint-navbar div{
  float: left;height: 100%;font-size: 12px;width: 100%;text-align: center;line-height: 40px;border-bottom: 2px solid #ffffff;color: #000000;
}
.is-selected{
  border-bottom: 2px solid #dc3b3b!important;
  color: #dc3b3b!important;
}
.mint-list{
  height: 80px;
  width: 100%;
  background: #ffffff;
  float: left;
  display: flex;
  overflow-x:auto;
}
.mint-list div{
  margin-left: 10px;
  min-width: 80px;
  text-align: center;
}
.mint-list img{
  width: 50px;
}
.mint-list span{
  font-size: 12px;
  white-space:nowrap;
}
.mint-qihao{
  height: 40px;
  width: 100%;
  background: #ffffff;
  float: left;
  display: flex;
}
.mint-qihao div{
  width: 50%;
  text-align: center;
  line-height: 40px;
}
.mint-lottery-list{
  float: left;width: 100%;height: 200px;overflow-y: auto
}
.mint-lottery-list table{
  width: 100%;
  text-align: center;
}
.mint-lottery-list table td{
  width: 35%;
  height: 30px;
  line-height: 30px;
}
.mint-lottery-list table td:nth-child(2){
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0;
}
.mint-lottery-list table td .codeOption{
  display: inline-block;
  padding: 3px 15px;
  border:1px solid #7d7e80;
  float: left;
  margin-left: 10px;
  border-radius: 5px;
}
.codeOptionOn{
  background: red!important;
  color: #ffffff!important;
  border: 1px solid red!important;
}
.mint-touzhu{
  margin-top: 10px;
  height: 40px;
  width: 100%;
  background: #ffffff;
  float: left;
}
.mint-touzhu span{
  display: inline-block;
  height: 100%;
  width: 50%;
  float: left;
  line-height: 40px;
  padding-left: 20px;
  box-sizing: border-box;
}
.mint-touzhu span:nth-child(2){
  padding-left: 30px!important;
  text-align: center;
}
.mint-touzhu input[type='number']{
  width: 50px;
  height: 3rem;
  line-height: 3rem;
  border: 1px solid #7d7e80;
  border-radius: 5px;
  margin: 0 4px;
  padding-left: 5px;
}
.mint-touzhu button{
  color: #ffffff;
  background: orange;
  border-radius: 5px;
  height: 3.5rem;
  width: 5rem;
  line-height: 3.5rem;
  margin-top: 2.5px;
}
</style>
