<template>
  <div class="active">
    <header class="public-header">
      <router-link to="/"><van-icon name="arrow-left" /></router-link>
      <span>优惠活动</span>
    </header>
    <div class="list">
      <div class="active" v-for="(item, index) in activeList" :key="index">
        <div class="title" @click="activeShow == index ? activeShow = 9999 : activeShow = index">
          <img :src="item.titleImgUrl" alt="">
        </div>
        <div class="content" v-html="item.content" v-show="activeShow == index"></div>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/active.less'
export default {
name: "active",
  data(){
    return{
      activeList:[],
      activeShow:'9999',
    }
  },
  created() {
    this.activeContent()
  },
  mounted() {
  },
  methods:{
    activeContent:function () { //获取互动图片数据
      this.$post('native/active_infos.do',{},true).then(res=>{
        if(res.success == true){
          this.activeList = res.content
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
