<template>
  <div class="lotteryHall">
    <header class="public-header">
      <router-link to="/"><van-icon name="arrow-left" /></router-link>
      <span>{{$store.state.guessLabel}}大厅</span>
    </header>
    <div class="content">
      <div class="project-list" v-for="(item, index) in playList.lotterys" :key="index">
        <div><img :src="item.imgUrl" alt=""></div>
        <div><b>{{item.name}}</b></div>
        <div style="margin-top: .5rem"><span>{{item.pinLv}}/{{item.remark}}</span></div>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/lotteryHall.less'
export default {
  name: "lotteryHall",
  data(){
    return{
      playList:'',
    }
  },
  created() {
    this.getHomeData()
  },
  mounted() {
  },
  methods:{
    getHomeData:function (){
      if(this.$store.state.homeData.success){
        this.homeDataOperate(this.$store.state.homeData)
      } else {
        this.$fetch('native/getHomeData.do',{},true).then((res) => {
          if(res.success){
            this.homeDataOperate(res)
            this.$store.commit('pushHomeData',res)
          }
        })
      }
    },
    homeDataOperate:function (res){
      let e = res.content
      for(let index in e){
        if(e[index].dataCode == 4){
          this.playList = e[index]
          console.log(this.playList)
        }
      }
    }
  }
}
</script>

<style scoped>

</style>