.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background: #f9f9f9;
  border-top:1px solid #C0BFC4;
  .van-row {
    height: 100%;
    box-sizing: border-box;
    display: flex;
    .van-col--4{
      height: 100%;
      text-align: center;
      padding-top: 5px;
      font-size: 1.2rem;
      width: 100%;
      a{
        color: #333;
      }
      img {
        width: 3.5rem;
      }
      .active{
        color: #d91d37!important;
      }
    }
  }
}
