.help{
  .container{
    padding: 15px 0 ;
    width: 1000px;
    display: flex;
    justify-content: center;
    .help-side{
      border: 1px solid rgb(239, 240, 241);
      background-color: rgb(248, 248, 248);
      flex: 1;
      .help-side-header{
        height: 40px;
        color: #ffffff;
        background: #e4393c;
        font-size: 18px;
        font-weight: 100;
        text-align: center;
        line-height: 40px;
        border: 1px solid rgb(239, 240, 241);
      }
      ul{
        li{
          width: 246px;
          box-sizing: border-box;
          line-height: 35px;
          padding-left: 25px;
          border-bottom: 1px solid #eff0f1;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          a{
            font-size: 14px;
          }
          &:hover{
            color: #e4393c;
            border-left: 3px solid;
          }
        }
      }
    }
    .help-content{
      height: 573px;
      padding: 30px;
      box-sizing: border-box;
      margin-left: 20px;
      background-color: rgb(248, 248, 248);

      flex: 4;
      h1{
        border-bottom: 1px solid #fce1e6;
        font-size: 18px;
        height: 40px;
      }
      .help-content-main{
        height: 486px;
        overflow: auto;
      }
    }
  }
}