// -------------- login start
.login{
    .container{
        width: 800px;
        min-height: 480px;
        margin: 30px auto;
        border: 1px solid #e1e1e2;
        font-size: 14px;
        box-sizing: border-box;
        .title{
            h1{
                margin: 20px 0px 34px  30px  ;
                font-size: 24px;
                color: #ff2c55;
            }
        }
        .content{
            display: block;
            border-top: 1px dashed #e0e3e6;
            padding:50px 0px;
            margin: 0px 30px;
        }
        ul {
            li{
                margin-top: 18px;
                display: flex;
                align-items: center;
                input{
                    height: 36px;
                    width: 280px;
                    border: 1px solid #e7e8e8;
                    background-color: #feffff;
                    color: #a9a9a9;
                    padding-left: 10px;
                    margin: 0;
                }
                label{
                    text-align: right;
                    margin-right: 10px;
                    display: inline-block;
                    font-size: 12px;
                    width: 18%;
                    line-height: 33px;
                }
                &.code{
                    input{
                        width: 150px;
                    }
                    img{
                        margin-left: 15px;
                        width: 100px;
                        height: 37px;
                    }
                }
                .login-button{
                    width: 130px;
                    height: 36px;
                    line-height: 36px;
                    display: inline-block;
                    color: #fff !important;
                    padding: 0 15px;
                    border-radius: 3px;
                    font-size: 14px;
                    min-width: 55px;
                    text-align: center;
                    cursor: pointer;
                    background: #e4393c;
                    margin: 10px 10px 10px 0;
                    transition: .3s;
                    &:hover{
                        background: #ce1c1f;
                    }
                }
                .no-pass{
                    display: inline-block;
                    margin-left: 18px;
                    text-align: center;
                    &:hover{
                        color: #e4393c !important;
                    }
                }
            }
        }
    }
}
// -----------------login end
