@import "include/base";
.active{
  .list{
    float: left;
    width: 100%;
    height: 100%;
    .active{
      width: 96%;
      margin-left: 2%;
      margin-top: 1rem;
      float: left;
      .title{
        float: left;
        width: 100%;
        height: 8rem;
      }
      .content{
        float: left;
        width: 100%;
        height: auto;
      }
      img{
        width: 100%;
      }
    }
  }
}
