@import "include/base";
/*首页*/
.index{
  width: 100%;
  height: 100%;
  header{
    width: 100%;
    height: 4.4rem;
    background: #ec2829;
    .title{
      float: left;
      margin-left: 10px;
      display: flex;
      align-items: center;
      height: 100%;
      img{
        height: 100%;
      }
      span{
        color: #ffffff;
        font-size: 1.8rem;
      }
    }
    .reg-button{
      float: right;
      margin-right: 10px;
      height: 100%;
      line-height: 4.4rem;
      a{
        color: #ffffff;
        font-size: 1.6rem;
      }
    }
    .reg-button-on{
      float: right;
      margin-right: 10px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      a{
        display: flex;
        i{
          color:#ffed40;
          font-size: 2rem;
        }
        span{
          color: #ffffff;
          font-size: 1.5rem;
          margin-left: 5px;
          line-height: 2rem;
        }
      }

    }
  }
  .content{
    width: 100%;
    .swipe{
      height: 16rem;
      width: 100%;
      float: left;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .notice{
      float: left;
      width: 100%;
      height: 3.7rem;
    }
    .quickMenu{
      width: 100%;
      height: 6.7rem;
      float: left;
      margin-top: 10px;
      border-bottom: 1px solid #e0e0e0;
      box-sizing: border-box;
      display: flex;
      a{
        width: 100%;
        border-left: 1px dashed #c6c6c6;
        .quickMenu-module{
          height: 100%;
          text-align: center;
          background: #ffffff;
          padding-top: 5px;
          //font-size: 1.6rem;
          float: left;
          width: 100%;
          img{
            width: 3.5rem;
          }
          span{
            white-space: normal;
          }
        }
        &:nth-child(1){
          border-left: none;
        }
      }
    }
    .tabBox{
      margin: auto;
      .hd{
        height:40px;
        line-height:40px;
        font-size:20px;
        overflow:hidden;
        background:#eee;
        border-top:1px solid #ccc;
        padding:0 10px;
        a{
          color: #967f7f;
          font-size: 2rem;
          font-weight: 600;
        }
        span{
          font-size: 1.8rem;
          margin-left: 10px;
          font-weight: 600;
          color: #ccc;
        }
      }
    }
    .index_margin{
      .buttons-tab{
        position:relative;
        background:#fff;
        border-bottom:1px solid #d0d0d0;
        height: 4.1rem;
        display: flex;
        span{
          width: 100%;
          height: 100%;
          font-size: 1.8rem;
          text-align: center;
          line-height: 4.1rem;
          border-bottom:2px solid transparent;
        }
        .active{
          color:red;
          border-color:red;
        }
      }
      .content-block{
        min-height: 200px;
        .index_lottery_item{
          .van-row{
            height: 100%;
            box-sizing: border-box;
            .van-col--8{
              padding: 0 2px;
              box-sizing: border-box;
              height: 9rem;
              margin-top: 1rem;
              .group{
                height: 100%;
                text-align: center;
                background: #ffffff;
                border-radius: 5px;
                font-size: 1.8rem;
                padding-top: 1.2rem;
                box-sizing: border-box;
                img{
                  width: 5rem;
                  height:5rem;
                }
              }
            }
            .show-group-list{
              float: left;
              width: 100%;
              height: auto;
              .van-col--24{
                padding: 0 2px;
                box-sizing: border-box;
                height: 9rem;
                margin-top: 1rem;
                .group{
                  height: 100%;
                  text-align: center;
                  background: #ffffff;
                  border-radius: 5px;
                  font-size: 1.8rem;
                  padding-top: 1.2rem;
                  box-sizing: border-box;
                  img{
                    width: 5rem;
                  }
                }
              }
              .van-col--8{
                .group{
                  background: none!important;
                }
              }
            }
          }
        }
      }
    }
    .activity{
      div{
        float: left;
        width: 100%;
        height: 11rem;
        margin-top: 20px;
        img{
          width: 100%;
        }
      }
    }
    .tool-bar{
      float: left;
      width: 100%;
      margin-top:20px;
      margin-bottom: 80px;
      .van-row{
        height: 100%;
        box-sizing: border-box;
        .van-col--6, .van-col--8{
          height: 100%;
          text-align: center;
          padding-top: 5px;
          font-size: 1.6rem;
          img{
            width: 3.5rem;
          }
        }
      }
    }
  }
}
