@import "./include/base";

.invest-detailed {
  background: #f6f6f6;
  .ground();

  .header {
    background: #ffffff;
    height: 5rem;
    display: flex;
    align-items: center;
    padding: 10px 20px 0;
    position: fixed;
    top: 0;
    left: 0;

    i {
      font-size: 2.5rem;
    }

    .font {
      text-align: center;
      font-size: 1.8rem;
      font-weight: 700;
    }
  }

  .page {
    margin-top: 5rem;
    margin-bottom: 8rem;

    .img {
      height: 25.7rem;
    }

    .deck {
      padding: 0 1.3rem;

      .info {
        padding: 1.7rem;
        background: #ffffff;
        border-radius: 2rem;
        margin-top: -3rem;

        .title {
          font-size: 1.6rem;
          color: #25324a;
          border-bottom: 1px solid rgba(0, 0, 0, .1);
          padding-bottom: 1.7rem;
          font-weight: 700;
        }

        .income {
          div {
            height: 100%;
            float: left;

            p {
              margin-top: .5rem;
              text-align: center;

              &:nth-child(2) {
                color: #b9b9b9;
              }

              span {
                font-size: 2.1rem;
                font-weight: 700;
              }
            }
          }
        }

        .tags {
          margin: 1.5rem 0;

          .tag {
            float: left;
            padding: 0 8px;
            height: 21px;
            line-height: 19px;
            text-align: center;
            background: #ecf2ff;
            border: 1px solid #1b67ff;
            border-radius: 3px;
            font-size: 11px;
            font-weight: 500;
            color: #1b67ff;
            margin-right: 10px;
          }
        }

        .investment {
          border: 1px solid #d1d8ed;
          border-bottom: none;
          width: 31.7rem;

          table {
            border-collapse: collapse;

            tr {
              td {
                border: 1px solid #d1d8ed;

                &:nth-child(1) {
                  width: 30%;
                  color: #2c85f5;
                  background: #f7f9ff;
                  font-size: 1.4rem;
                  padding: 2.2rem 0;
                  text-align: center;
                }

                &:nth-child(2) {
                  width: 70%;
                  padding: 1.2rem;
                  color: #8f95aa;
                  font-size: 1.3rem;
                }
              }
            }
          }
        }
      }
    }
  }

  .investment-btn {
    padding: 0 1.3rem;
    position: fixed;
    bottom: 1rem;
    left: 0;
    button{
      width: 100%;
      height: 47px;
      line-height: 47px;
      text-align: center;
      background: #0f79ff;
      border-radius: 7px;
      font-size: 16px;
      color: #fff;
      border: none;

    }

  }
}
