@import "include/base";
.reset-pay-pass{
  .ground();
  .header {
    background: #ffffff;
    height: 5rem;
    display: flex;
    align-items: center;
    padding: 10px 20px 0;

    i {
      font-size: 2.5rem;
    }

    .font {
      text-align: center;
      font-size: 1.8rem;
      font-weight: 700;
    }
  }
  .deck{
    padding: 1.5rem 2rem;
    margin-top: 2rem;
    background: #ffffff;
    .item{
      border-bottom: 1px solid #e9eaec;
      height: 10rem;
      .left{
        float: left;
        width: 35%;
        color: #383838;
        font-size: 2rem;
        line-height: 10rem;
      }
      .right{
        float: left;
        width: 65%;
        height: 100%;
        input{
          border: none;
          width: 100%;
          height: 100%;
          font-size: 2rem;
        }
      }
    }
  }
  .investment-btn {
    padding: 0 1.3rem;
    button{
      width: 100%;
      height: 8rem;
      text-align: center;
      background: #0f79ff;
      border-radius: 7px;
      font-size: 16px;
      color: #fff;
      border: none;
    }
  }
}
