@import "include/base";
.rule{
  .content{
    padding: 0 20px;

  }
  .title{
    font-size: 20px;
    text-align: center;
    margin: 20px 0;
  }
  .tip{
    color: #626262;
  }
  .rules{
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #a5a5a5;
    .label{
      font-weight: 600;
      font-size: 16px;
    }
    .font{
      margin-top: 15px;
      .font-list{
        color: #626262;
        margin-top: 5px ;
      }
    }
  }
}