@import "include/base";

.share {
  .ground();

  .header {
    background: #ffffff;
    height: 5rem;
    display: flex;
    align-items: center;
    padding: 10px 20px 0;
    position: fixed;
    top: 0;
    left: 0;

    i {
      font-size: 2.5rem;
    }

    .font {
      text-align: center;
      font-size: 1.8rem;
      font-weight: 700;
    }
  }

  .page {
    height: 81rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../images/share_bg.jpg");
    padding: 1.4rem 1.3rem;
    margin-top: 5rem;

    .deck {
      margin-top: 34rem;
      background-color: #82caf9;
      padding: 1.4rem 1.3rem;
      border-radius: .5rem;
      overflow-x: hidden;
      overflow-y: auto;
      height: 35rem;

      .title {
        height: 4rem;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 4rem;
      }

      .table {
        background-color: #ffffff;
        height: 75rem;

        table {
          width: 100%;

          tr {
            margin: 1rem;

          }

          td, th {
            width: 33%;
            font-size: 1.4rem;
            text-align: center;
          }
        }
      }
    }
  }

  .btn {
    text-align: center;
    position: fixed;
    bottom: 1rem;

    button {
      width: 275px;
      background-color: #fff;
      border-radius: 23px;
      font-size: 17px;
      font-weight: 400;
      color: #0f79ff;
      height: 4rem;
      line-height: 4rem;
      border: none;
    }
  }

  .qrcode {
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .5);

    .content {
      width: 30rem;
      height: 41rem;
      margin: 15rem auto;
      background-color: #ffffff;
      border-radius: .8rem;

      .img {
        text-align: center;

        img {
          width: 17.3rem;
          height: 17.3rem;
        }

        margin: 5rem auto;
      }

      .tip {
        p {
          text-align: center;
          font-size: 1.4rem;
        }
      }

      .qrcode_btn {
        button{
          width: 254px;
          line-height: 41px;
          text-align: center;
          margin-left: 20px;
          font-size: 16px;
          font-weight: 500;
          color: #fff;
          margin-top: 32px;
          background: #0f79ff;
          border-radius: 21px;
          border: none;
        }
      }
    }
  }
}
