<template>
  <div>
    <header>
      <span id="go-out"><van-icon name="wap-home-o" color="#968c84" size="24px" onclick="location.href = '/'"/></span>
      <div v-if="classifyIndex == 0">
        <span @click="selectPlayer(0)" :class="{'active':activeIndex == 0}">滚球</span>
        <span @click="selectPlayer(1)" :class="{'active':activeIndex == 1}">今日</span>
      </div>
      <div v-if="classifyIndex == 1">
        <span @click="selectPlayer(0)" :class="{'active':activeIndex == 0}">滚球</span>
        <span @click="selectPlayer(1)" :class="{'active':activeIndex == 1}">今日</span>
      </div>
      <span id="gameRule" onclick="location.href = '/help/roul/roul_nf.do'">游戏规则</span>
    </header>
    <div class="nav">
      <div class="top" @click="selectClassify(0)">
        <div class="icon">
          <span>
            <img v-if="classifyIndex == 0" src="@/assets/images/football-icon-2.png" alt="">
            <img v-else src="@/assets/images/football-icon-1.png" alt="">
          </span>
        </div>
        <div class="font">
          <span>足球</span>
        </div>
      </div>
      <div class="top" @click="selectClassify(1)">
        <div class="icon">
          <span>
            <img v-if="classifyIndex == 1" src="@/assets/images/basketball-icon-2.png" alt="">
            <img v-else src="@/assets/images/basketball-icon-1.png" alt="">
          </span>
        </div>
        <div class="font">
          <span>篮球</span>
        </div>
      </div>
      <div class="bottom">
        <span>{{ (activeIndex == 0) ? '滚球' : '今日' }}</span><br><span
          style="font-weight: 600">{{ (classifyIndex == 0) ? '足球' : '篮球' }}</span>
        <!--        <div class="trophy"><img src="@/assets/images/trophy_icon.jpg" alt=""></div>-->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "sport",
  data() {
    return {
      activeIndex: 0,
      classifyIndex: 0,
    }
  },
  created() {
  },
  mounted() {
  },
  methods: {
    selectPlayer(index) {
      this.activeIndex = index
      if (this.classifyIndex == 0) {
        if (index == 0) {
          // 足球滚球
          this.$parent.getRollSports()
        } else if (index == 1) {
          // 足球今日
          this.$parent.getTodaySports()
        }
      } else if (this.classifyIndex == 1) {
        if (index == 0) {
          // 篮球滚球
          this.$parent.getRollBall()
        } else if (index == 1) {
          // 篮球今日
          this.$parent.getTodayBall()
        }
      }
    },
    selectClassify(index) {
      this.classifyIndex = index
      this.selectPlayer(this.activeIndex)
    }
  }
}
</script>

<style scoped>


</style>
