<template>
  <div class="betRecord" ref="zIndex" style="overflow: auto;padding: 0 10px;">
    <div class="wrapper">
      <div class="item">
        <div class="tm">
          <i class="iconfont icon-tag-multiple"></i>{{$t('BettingRules.oneTheTitle')}}
        </div>
        <div class="co">
          <div class="row">
            <div class="no">1</div>
            <div class="ct">{{$t('BettingRules.oneTheContentOne')}}</div>
          </div>
          <div class="row">
            <div class="no">2</div>
            <div class="ct">{{$t('BettingRules.oneTheContentTwo')}}</div>
          </div>
          <div class="row">
            <div class="no">3</div>
            <div class="ct">{{$t('BettingRules.oneTheContentThree')}}</div>
          </div>
          <div class="row">
            <div class="no">4</div>
<!--            <div class="ct">{{WEB_NAME}}保留取消任何投注的全部或部分的单方面绝对酌情权。所有投注的风险均由您自行承担。{{WEB_NAME}} 保留在任何时间取消任何投注的权利。</div>-->
            <div class="ct">{{$t('BettingRules.oneTheContentFour')}}</div>
          </div>
          <div class="row">
            <div class="no">5</div>
            <div class="ct">{{$t('BettingRules.oneTheContentFive')}}</div>
          </div>
          <div class="row">
            <div class="no">6</div>
            <div class="ct">{{$t('BettingRules.oneTheContentSix')}}</div>
          </div>
          <div class="row">
            <div class="no">7</div>
            <div class="ct">{{$t('BettingRules.oneTheContentSeven')}}</div>
          </div>
          <div class="row">
            <div class="no">8</div>
            <div class="ct sub">
<!--              当下列情况发生时，{{WEB_NAME}}保留扣留资金及宣布某个赛事投注无效的权利：-->
              {{$t('BettingRules.oneTheContentEight')}}
              <div class="row">
                <div class="no">a</div>
                <div class="ct">赛事的公平及公正程度受到质疑。</div>
              </div>
              <div class="row">
                <div class="no">b</div>
                <div class="ct">赔率或彩池受到操控。</div>
              </div>
              <div class="row">
                <div class="no">c</div>
                <div class="ct">赛事被幕后操纵。</div>
              </div>
              <div class="row">
                <div class="no">d</div>
                <div class="ct">上述情况的证据将基于通过我们任何或全部投注渠道而进行的投注的大小、数量或者模式。监管所涉及体育项目（如果有）的相关机构所作出的决定将是最终裁决。如果客户因任何原因预支了{{WEB_NAME}}的任何资金，我们将保留在向客户进行任何支付前扣回其所欠资金的权利。</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="no">9</div>
<!--            <div class="ct">{{WEB_NAME}}保留在任何时间暂停盘口和/或取消任何投注的权利。一旦盘口被暂停，系统将拒绝接收该盘口的所有投注。{{WEB_NAME}}保留在不提前通知客户的情况下，停止任何一场比赛开盘的权利。</div>-->
            <div class="ct">{{$t('BettingRules.oneTheContentNine')}}</div>
          </div>
          <div class="row">
            <div class="no">10</div>
            <div class="ct">{{$t('BettingRules.oneTheContentTen')}}</div>
          </div>
          <div class="row">
            <div class="no">11</div>
<!--            <div class="ct">如有足够证据证明包含相同选项的一连串投注为同一个或同一组人所进行的，{{WEB_NAME}}有权根据后序调查结果来取消投注或扣留返还资金。</div>-->
            <div class="ct">{{$t('BettingRules.oneTheContentEleven')}}</div>
          </div>
          <div class="row">
            <div class="no">12</div>
<!--            <div class="ct">如有 异常投注，{{WEB_NAME}}保留以下权利，无需事先通知。</div>-->
            <div class="ct">{{$t('BettingRules.oneTheContentTwelve')}}</div>
          </div>
          <div class="row">
            <div class="no">13</div>
<!--            <div class="ct">拒绝或暂停任何被疑存有诈骗行为，或攻击、操纵网站及破坏正常投注运作的用户（包括网站）。任何“异常投注”将在不事先通知的情况下被作废。网站严禁使用人工智能软体或“机械软体”。{{WEB_NAME}}将采取相关的防范与侦测措施。对于任何意图或利用人工智能来进行欺骗、攻击、操纵或破坏投注运作活动的用户，{{WEB_NAME}}有权暂停，冻结 其户口或取消其投注。</div>-->
            <div class="ct">{{$t('BettingRules.oneTheContentThirteen')}}</div>
          </div>
          <div class="row">
            <div class="no">14</div>
            <div class="ct">{{$t('BettingRules.oneTheContentFourteen')}}</div>
          </div>
          <div class="row">
            <div class="no">15</div>
            <div class="ct">{{$t('BettingRules.oneTheContentFifteen')}}</div>
          </div>
          <div class="row">
            <div class="no">16</div>
            <div class="ct">{{$t('BettingRules.oneTheContentSixteen')}}</div>
          </div>
          <div class="row">
            <div class="no">17</div>
            <div class="ct">{{$t('BettingRules.oneTheContentSeventeen')}}</div>
          </div>
          <div class="row">
            <div class="no">18</div>
            <div class="ct">{{$t('BettingRules.oneTheContentEighteen')}}</div>
          </div>
          <div class="row">
            <div class="no">19</div>
            <div class="ct">{{$t('BettingRules.oneTheContentNineteen')}}</div>
          </div>
          <div class="row">
            <div class="no">20</div>
            <div class="ct">{{$t('BettingRules.oneTheContentTwenty')}}</div>
          </div>
          <div class="row">
            <div class="no">21</div>
<!--            <div class="ct">{{WEB_NAME}}保留限制特殊比赛项目的最高投注金额，以及在不作出任何通知和说明理由的情况下限制或增加某个客户最大赔率的权利。</div>-->
            <div class="ct">{{$t('BettingRules.oneTheContentTwenty_one')}}</div>
          </div>
          <div class="row">
            <div class="no">22</div>
            <div class="ct">{{$t('BettingRules.oneTheContentTwenty_Two')}}</div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="tm">
          <i class="iconfont icon-tag-multiple"></i>电竞投注规则
        </div>
        <div class="co">
          <div class="row">
            <div class="no">1</div>
            <div class="ct">所有赔率都会随时波动，递交的投注会按照投注被确认时的赔率进行处理。</div>
          </div>
          <div class="row">
            <div class="no">2</div>
            <div class="ct">所有电子竞技投注之赛果依照各联盟之裁定为最终赛果与赛事完赛认定。</div>
          </div>
          <div class="row">
            <div class="no">3</div>
            <div class="ct">如果选手或战队更改了名称，只要可以认定投注对象是哪一局或哪一场，使用之前名称提供的盘口全部生效。</div>
          </div>
          <div class="row">
            <div class="no">4</div>
            <div class="ct">如果一支队伍更改名字但是阵容一样，那么在比赛期间，所有投注于新队名称以及旧队名均有效。如果一支队伍被全新的阵容以及每个玩家都不同于原来的参赛队取代，则所有的投注将被视为无效。（超过一个队员不一样 既视为无效）。</div>
          </div>
          <div class="row">
            <div class="no">5</div>
            <div class="ct">如果选手或战队的名字出现了拼写错误，只要可以认定投注对象是哪一局或哪一场，所有投注全部生效。</div>
          </div>
          <div class="row">
            <div class="no">6</div>
            <div class="ct">如果由于队伍离开组织，加入另一组织或正式更名而使队伍名称有所改变，所有投注仍然成立。</div>
          </div>
          <div class="row">
            <div class="no">7</div>
            <div class="ct">对于投注时结果已确定的赛事，赔率按“1”计算。</div>
          </div>
          <div class="row">
            <div class="no">8</div>
            <div class="ct">我们平台上显示的电子竞技赛事的开赛日期及时间仅作参考，不保证一定准确。这意味着如果一场比赛提供的日期和/或时间不正确，投注仍然成立。</div>
          </div>
          <div class="row">
            <div class="no">9</div>
            <div class="ct">如果所列赛事不正确，投注将视为无效。</div>
          </div>
          <div class="row">
            <div class="no">10</div>
            <div class="ct">日期与开赛时间仅供参考。如果比赛被取消、延迟或中断，并且未在原定的开赛时间24小时重新开赛，则该比赛的所有投注视为无效并退还投注金。本规则的例外情况：不管比赛是否暂停或延期，有关一支队伍/选手能否在锦标赛中晋级或夺冠的投注始终有效。</div>
          </div>
          <div class="row">
            <div class="no">11</div>
            <div class="ct">如果因选手退赛或被取消参赛资格而导致赛局没有完赛，有关比赛结果的所有投注将继续有效，根据官方公布的获胜选手决定胜负结果。此规则的例外情况是，在Counter Strike中如果因队伍退赛或取消参赛资格而没有完成所有预定的赛局，所有输赢盘、让分盘和总投注都会被取消。</div>
          </div>
          <div class="row">
            <div class="no">12</div>
            <div class="ct">如果比赛的回合数/地图规定的数目不符合盘口标题所显示的赛制数目，则全场让分盘和总分盘投注取消。获胜者盘（及其他有赛果）的投注将继续有效。</div>
          </div>
          <div class="row">
            <div class="no">13</div>
            <div class="ct">如果某选手/赛队在赛事开始前退赛，或在赛中退赛，则有关该选手夺冠或赛事晋级的投注将被取消，并退还投注金。</div>
          </div>
          <div class="row">
            <div class="no">14</div>
            <div class="ct">滚球投注： 在投注滚球中，如果因平局、掉线或类似原因导致某一局比赛重赛，那么有关这一局比赛的所有滚球投注将被取消。重赛的比赛将视为单独的另一局比赛。</div>
          </div>
          <div class="row">
            <div class="no">15</div>
            <div class="ct">如果一个队员/队伍在比赛开始前给出至少一个地图的轻易获胜，所有投注在该赛事的注单将被视为无效，除非这个优势在该投注市场已经很明显。</div>
          </div>
          <div class="row">
            <div class="no">16</div>
            <div class="ct">投注不会因团队有替补或暂代队员参加比赛而取消。如果比赛的组织机构允许有替补队员且公布官方的比赛结果，所有投注将被视为正常。</div>
          </div>
          <div class="row">
            <div class="no">17</div>
            <div class="ct">如果一个队伍在比赛开始前退赛，取消资格 或在比赛中退出，则该队伍将在剩余局数投注均视为无效。</div>
          </div>
          <div class="row">
            <div class="no">18</div>
            <div class="ct">若遇到特殊情况，如赛事无法确认是否进行或需确认队伍有变动、更改等无法立即结算的情况，平台方将保留竞猜的“待结算”的状态，等候官方信息之后再结算比赛。若36小时后官方无法提供有力的信息，将由{{WEB_NAME}}商议后结算或是取消该赛注单。</div>
          </div>
          <div class="row">
            <div class="no">19</div>
            <div class="ct">对于已经结算完的比赛，由于不可抗因素造成赛后对该比赛进行重新判罚，本网站将不做参考，按照已经完成的比赛事实进行结算。</div>
          </div>
          <div class="row">
            <div class="no">20</div>
            <div class="ct">时间大小盘按照比赛结束的实际时间为准，如果比赛结果刚好是盘口开出的时间，结算方式为投注在小盘判“负”而投注在大盘判“胜”。例如：&gt;39&lt; 如果比赛时间小于39分钟，则结算为小，如果比赛时间大于39分钟，则结算为大。如果比赛结果刚好是 39 分钟，则投注在小于39分钟判“负”，投注在大于39分钟判“胜”。</div>
          </div>
          <div class="row">
            <div class="no">21</div>
            <div class="ct">赛事时间盘口指的是赛后比数板上所显示的赛事进行所用的时间（分钟）。</div>
          </div>
          <div class="row">
            <div class="no">22</div>
            <div class="ct">首座防御塔/炮塔/兵营投注盘口指的是以哪一个队伍先拿下第一层首座防御塔/炮塔或首座兵营。若其一方队伍反补，或被对方小兵攻破，全部投注仍视为有效。</div>
          </div>
          <div class="row">
            <div class="no">23</div>
            <div class="ct">首座防御塔/炮塔/兵营投注盘口指的是以哪一个队伍先拿下第一层首座防御塔/炮塔或首座兵营。若其一方队伍反补，或被对方小兵攻破，全部投注仍视为有效。</div>
          </div>
          <div class="row">
            <div class="no">24</div>
            <div class="ct">如果参赛者/参赛队在赛事开始前获得至少一次地图争夺战的“不战而胜”或 默认情况下获胜（walkover. By Default ），则所有投注将视为无效。</div>
          </div>
          <div class="row">
            <div class="no">25</div>
            <div class="ct">如果赛事或者地图争夺战由于断线或者非玩家相关的技术问题而被重新进行，赛前投注将在重新进行的地图上成立，并根据官方结果进行结算。在受到影响的赛事或者地图上进行的所有滚球盘投注将视为无效，除非结果已被确定；并且重新进行的赛事或地图将被单独看待。</div>
          </div>
          <div class="row">
            <div class="no">26</div>
            <div class="ct">在一支队伍有一张或者一张以上的地图优势，例如来自于胜者组决赛而具备优势，“地图1”意指实际进行游戏的第一张地图，“地图2”意指实际进行游戏的第二张地图，以此类推。</div>
          </div>
          <div class="row">
            <div class="no">27</div>
            <div class="ct">{{WEB_NAME}}保留在任何时间暂停盘口和/或取消任何投注的权利。一旦盘口被暂停，系统将拒绝接收该盘口的所有投注。{{WEB_NAME}}保留在不提前通知客户的情况下，停止任何一场比赛开盘的权利。</div>
          </div>
          <div class="row">
            <div class="no">28</div>
            <div class="ct sub">
              滚球投注规则：：
              <div class="row">
                <div class="no">a</div>
                <div class="ct"
                >滚球投注是指对正在进行比赛进行投注。注单会在赛事进行期间继续收订单并且在关盘后停止收单。注意：但凡赛事已经移到LIVE 页面，不管赛事是否已经开始，系统即将所有投注计算为 滚球订单。</div>
              </div>
              <div class="row">
                <div class="no">b</div>
                <div class="ct">所有滚球投注均需经过系统验收程序。这可能会导致每笔投注延迟确认或出现投注失败的情况。</div>
              </div>
              <div class="row">
                <div class="no">c</div>
                <div class="ct">所有注单会在35秒内等待系统验收程序判断投注是否成功。这表示注单有可能被取消或确认。</div>
              </div>
              <div class="row">
                <div class="no">d</div>
                <div class="ct">在赛事进行中发生技术问题 或 其他特殊情况，所有待确认中的注单将不被确认并视为投注失败。</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="no">29</div>
            <div class="ct">所有电子竞技投注之赛果认定皆以本公司所订定之规则为准。</div>
          </div>
          <div class="row">
            <div class="no">30</div>
            <div class="ct">{{WEB_NAME}}拥有最终的处理决定权，并且保留最终解释权以及随时修改规则的必要。</div>
          </div>
        </div>
      </div>
      <!--        <div class="item">-->
      <!--          <div class="tm">-->
      <!--            <i class="iconfont icon-tag-multiple"></i>一般优惠活动规则与条款-->
      <!--          </div>-->
      <!--          <div class="co">-->
      <!--            <div class="row">-->
      <!--              <div class="no">1</div>-->
      <!--              <div class="ct">一般优惠活动规则与条款。</div>-->
      <!--            </div>-->
      <!--            <div class="row">-->
      <!--              <div class="no">2</div>-->
      <!--              <div class="ct">会员在参与所有优惠活动的同时，将被视为已阅读、理解并同意接受该优惠的规则与条款。为了符合参与优惠活动的资格，会员必须遵守所有{{WEB_NAME}}网站的规则与条款。</div>-->
      <!--            </div>-->
      <!--            <div class="row">-->
      <!--              <div class="no">3</div>-->
      <!--              <div class="ct">所有账户持有者须年满18岁。若相关优惠活动无法自动验证会员的年龄，那么在申请任何红利之前会员或许会被要求进行年龄验证的程序。</div>-->
      <!--            </div>-->
      <!--            <div class="row">-->
      <!--              <div class="no">4</div>-->
      <!--              <div class="ct">除非另作说明，每一项红利将在会员完成所有优惠的指定要求后发放至会员的账户。</div>-->
      <!--            </div>-->
      <!--            <div class="row">-->
      <!--              <div class="no">5</div>-->
      <!--              <div class="ct">每一项红利皆有截止日期。请查阅每个优惠活动的规则与条款以确认。</div>-->
      <!--            </div>-->
      <!--            <div class="row">-->
      <!--              <div class="no">6</div>-->
      <!--              <div class="ct">红利需符合下注/投注要求方可将赢利提款。这将于相关优惠活动的规则与条款中具体阐明。</div>-->
      <!--            </div>-->
      <!--            <div class="row">-->
      <!--              <div class="no">7</div>-->
      <!--              <div class="ct">任何最低风险投注都不会被计算在可以获得红利的投注要求中。任何被视为使用最低风险投注策略来赎回奖金的会员，都面临他们的红利和任何随后获得奖金可能被移除的风险。</div>-->
      <!--            </div>-->
      <!--            <div class="row">-->
      <!--              <div class="no">8</div>-->
      <!--              <div class="ct">每项优惠活动每位会员仅限参加一次（除非另作说明）。会员的身份将透过以下所有基本资料或任何一项资料进行确认：姓名、邮寄地址、电邮地址、IP地址、付款方式资料、电脑及其他任何形式的可能会被要求提供的身份证明。</div>-->
      <!--            </div>-->
      <!--            <div class="row">-->
      <!--              <div class="no">9</div>-->
      <!--              <div class="ct">我们保留关闭任何一个重复账户的权利（但并无此义务）。若我们关闭该重复账户，那么该账户中所有使用这些红利所获得的红利将视为无效。</div>-->
      <!--            </div>-->
      <!--            <div class="row">-->
      <!--              <div class="no">10</div>-->
      <!--              <div class="ct">{{WEB_NAME}}鼓励会员积极参与优惠活动，但不要滥用这些优惠活动。若我们发现会员滥用优惠活动的红利并涉及合伙或串通，该会员将无法享有红利、无法参加此后的优惠活动、赢利被取消及账户或关闭，而{{WEB_NAME}}对此事的判决为最终裁决。</div>-->
      <!--            </div>-->
      <!--            <div class="row">-->
      <!--              <div class="no">11</div>-->
      <!--              <div class="ct">{{WEB_NAME}}保留拒绝支付任何经调整的红利的权利，如果我们发现该优惠活动被滥用及/或相关优惠条款还未完成，或任何不寻常的下注模式。{{WEB_NAME}}的判决为最终裁决。</div>-->
      <!--            </div>-->
      <!--            <div class="row">-->
      <!--              <div class="no">12</div>-->
      <!--              <div class="ct">{{WEB_NAME}}保留在不经提前通知的情况下随时修改或撤消任何优惠活动的权利。</div>-->
      <!--            </div>-->
      <!--            <div class="row">-->
      <!--              <div class="no">13</div>-->
      <!--              <div class="ct">{{WEB_NAME}}所有与优惠活动相关事项的判决为最终裁决并具约束力。若您有任何疑问，请联系我们的客服中心，我们为您提供全天候服务。</div>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <div class="item">
        <div class="tm">
          <i class="iconfont icon-tag-multiple"></i>滚球一般规则
        </div>
        <div class="co">
          <div class="row">
            <div class="no">1</div>
            <div class="ct">{{WEB_NAME}}保留因为不同原因去拒绝全部或部份投注的权利，当一个投注确定了之后，除非有特别的情况，否则便不能更改或取消。我们同样保留关掉任何账户的权利而不会说明原因。</div>
          </div>
          <div class="row">
            <div class="no">2</div>
            <div class="ct">赔率是根据相关赛程队员/队伍而定，在一场赛事中对手改变或对阵与我们显示的赛程不正确的话，那么所有投注均会视作无效。</div>
          </div>
          <div class="row">
            <div class="no">3</div>
            <div class="ct">若遇到任何技术上的失误以及任何关于赔率更新的延误、终止或赛事封盘，任何在赛事已经发生或赛果已经知道后所接受的投注，我们均会视作无效并退回注码。</div>
          </div>
          <div class="row">
            <div class="no">4</div>
            <div class="ct">若我们作出一个明显清楚的错误赔率，则全部投注将计为无效。发生系统/技术错误或是一个显而易见的输入错误，若这错误发生在投注滚球盘上，我们保留权利计算投注无效本金归还。</div>
          </div>
          <div class="row">
            <div class="no">5</div>
            <div class="ct">我们保留权利在一个市场上任何时间去暂停任何与及所有投注而不作另行通知。 所有在滚球投注所显示的资料（包括比分及时间等等）均只是一个参考，所有信息均不会用作投注结算的参考也不应基于此作为投注的安排。</div>
          </div>
          <div class="row">
            <div class="no">6</div>
            <div class="ct">我们在尽一切方法确保信息正确，但于此同时，如果一项赛事如有任何错误的信息的话，{{WEB_NAME}}将不会对此承担任何责任。</div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="tm">
          <i class="iconfont icon-tag-multiple"></i>有效投注额的定义
        </div>
        <div class="co">
          <div class="row">
            <div class="no">1</div>
            <div class="ct">凡属本公司所有游戏都算投注，计算押注金额为有效投注。各游戏和局、未接受、取消注单，不纳入有效投注计算。</div>
          </div>
          <div class="row">
            <div class="no">2</div>
            <div class="ct">大赔率玩法计算押注金额为有效投注。小赔率（赔率低于1.5）玩法不纳入有效投注计算。</div>
          </div>
          <div class="row">
            <div class="no">3</div>
            <div class="ct">无风险投注也不纳即是同一赛事的同一玩法中下注两边的注码，不纳入有效投注计。</div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="tm">
          <i class="iconfont icon-tag-multiple"></i>免责声明
        </div>
        <div class="co">
          <div class="row">
            <div class="no">1</div>
            <div class="ct">访问和使用我们的服务均出于您的自由选择、自行判断并自行承担风险。 我们对通过非我们设计的方法、手段或方式使用和网站产生的后果不负任何责任。</div>
          </div>
          <div class="row">
            <div class="no">2</div>
            <div class="ct">我们不保证网站的提供不会受干扰或是不会有故障、病毒或其他错误。</div>
          </div>
          <div class="row">
            <div class="no">3</div>
            <div class="ct sub">
              我们不会因合同、侵权或其他类似行为对您的商业损失承担任何责任，包括但不限于：
              <div class="row">
                <div class="no">a</div>
                <div class="ct">数据丢失</div>
              </div>
              <div class="row">
                <div class="no">b</div>
                <div class="ct">利润损失</div>
              </div>
              <div class="row">
                <div class="no">c</div>
                <div class="ct">收入损失</div>
              </div>
              <div class="row">
                <div class="no">d</div>
                <div class="ct">业务机会丢失</div>
              </div>
              <div class="row">
                <div class="no">e</div>
                <div class="ct">商誉或名声损失或损害</div>
              </div>
              <div class="row">
                <div class="no">f</div>
                <div class="ct">业务中断</div>
              </div>
              <div class="row">
                <div class="no">g</div>
                <div class="ct">任何与本使用条款或您以任何形式使用服务所产生的（即使已事先告知可能发生）任何间接、特殊或后果性损失和伤害</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="no">4</div>
            <div class="ct sub">
              使用条款以下情况不免除我们任何应负责任：
              <div class="row">
                <div class="no">a</div>
                <div class="ct">欺诈（包括欺诈性失实陈述）</div>
              </div>
              <div class="row">
                <div class="no">b</div>
                <div class="ct">因我们的过失而导致死亡或人身伤害。</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="tm">
          <i class="iconfont icon-tag-multiple"></i>错误
        </div>
        <div class="co">
          <div class="row">
            <div class="no">1</div>
            <div class="ct">错误赛事 - 如果在一项电竞赛事中报出不正确的队员或队伍，则全部投注将计为无效，且{{WEB_NAME}}对此具有单方面绝对酌情权。</div>
          </div>
          <div class="row">
            <div class="no">2</div>
            <div class="ct">错误盘口 - 如果我们当时的赔率中有明显的错误，信息输入或建立投注市场时有明显的错误或遗漏不管是由于人为错误或系统问题，赔率在投注时，与一般市场行情相差甚远 或者做出投注之时发生的事件明显不合情理，则对于该盘口的投注将为无效；其他盘口也可能被视为无效，且{{WEB_NAME}}对此具有单方面绝对酌情权。</div>
          </div>
          <div class="row">
            <div class="no">3</div>
            <div class="ct">延迟投注（事后单） - 如果由于任何原因，赛前投注在比赛或活动开始后被无意中接受，该情况下的投注将被视为无效。</div>
          </div>
          <div class="row">
            <div class="no">4</div>
            <div class="ct">我们的系统或程序出错或出现故障时，所有投注将视为无效。您有义务在发现错误时立即通知我们。</div>
          </div>
          <div class="row">
            <div class="no">5</div>
            <div class="ct">我们有权收回多支付给您的任何金额，并调整您的账户，以纠正错误。任何因错误而被记入您的账户，或向您支付的款项，基于我们对您的信赖而由您保管并应在我们要求返还时立即偿还。 如果您的账户中存有资金，我们可以从您的账户中直接扣除此款项且会在合理可行的范围内尽快通知您。</div>
          </div>
          <div class="row">
            <div class="no">6</div>
            <div class="ct">您发现任何错误时，应尽快通知我们。如果您使用我们因错误而记入您的账户或向您支付的款项进行投注或游戏，我们又取消这些投注和/或扣留您使用这笔款项而赢得的奖金。如果我们已经向您支付任何此类投注或游戏的奖金，这笔款项应被视为基于我们对您的信赖而由您保管，您应在我们要求您付款时立即向我们偿还这笔款项。</div>
          </div>
        </div>
      </div>
      <!--        <div class="item">-->
      <!--          <div class="tm">-->
      <!--            <i class="iconfont icon-tag-multiple"></i>注册-->
      <!--          </div>-->
      <!--          <div class="co">-->
      <!--            <div class="row">-->
      <!--              <div class="no">1</div>-->
      <!--              <div class="ct">用户在{{WEB_NAME}}注册时，可以自行选择账户用户名和密码组合。用户应当妥善保管自己的账号、密码，用户就其账号及密码项下之一切活动负全部责任，包括用户数据的修改以及其他所有的损失由用户自行承担。用户须重视个人账号密码保护。</div>-->
      <!--            </div>-->
      <!--            <div class="row">-->
      <!--              <div class="no">2</div>-->
      <!--              <div class="ct">每位客户只能开设一个帐户。如果我们发现客户开设了一个以上的帐户，我们有权视这些帐户为一个联合帐户。</div>-->
      <!--            </div>-->
      <!--            <div class="row">-->
      <!--              <div class="no">3</div>-->
      <!--              <div class="ct">所有申请者必须年满十八岁以上且具有法律行为能力，方可在{{WEB_NAME}}投注或注册。同时{{WEB_NAME}}有权要求客户提供其年龄证明以及在相关资料未提供前冻结客户账户的权利。</div>-->
      <!--            </div>-->
      <!--            <div class="row">-->
      <!--              <div class="no">4</div>-->
      <!--              <div class="ct">用户保证注册账号时填写的身份信息及个人资料是真实的，不得以虚假、冒用的居民身份信息进行注册或认证，任何非法、不真实、不准确的用户信息所产生的责任由用户承担。用户应不断更新注册资料，符合及时、详尽、真实、准确的要求。所有原始键入的资料将引用用户的账号注册资料。如果因用户的注册信息或认证信息不真实而引起的问题，以及对问题发生所带来的后果，{{WEB_NAME}}不负任何责任。</div>-->
      <!--            </div>-->
      <!--            <div class="row">-->
      <!--              <div class="no">5</div>-->
      <!--              <div class="ct">客户一经注册，不得再创建另外的账户。如发现客户注册多个账户(包括使用另外的姓名)，或者提供无效、伪造的资料或资料属于其他人(包括使用了不同的程序和图像编辑器修改文件资料)，本公司有权取消该账户的所有投注。同时，本公司有权冻结账户并无需返还存款。</div>-->
      <!--            </div>-->
      <!--            <div class="row">-->
      <!--              <div class="no">6</div>-->
      <!--              <div class="ct">违反本规则第3条和第4条的客户应自行承担责任。如果违反此等规定，本公司有权拒付任何彩金和投注金，并且有权取消任何投注。对于用户是否属于上述人群之一，本公司概不承担任何知情责任。意即本公司在了解用户属于上述人群之一后，有权随时采取任何必要措施。</div>-->
      <!--            </div>-->
      <!--            <div class="row">-->
      <!--              <div class="no">7</div>-->
      <!--              <div class="ct">一旦您注册开户就代表您认同{{WEB_NAME}}的条款与条规以及我们的平台和网站上发布的任何其他适用条款和规则。因此您已接受我们收集、处理和存储您的个人资料的权利。我们将定期更新此政策条款，并发布网站及平台。我们建议您定期查看。</div>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        <div id="Privacy" class="item">-->
      <!--          <div class="tm">-->
      <!--            <i class="iconfont icon-tag-multiple"></i>隐私政策-->
      <!--          </div>-->
      <!--          <div class="co">-->
      <!--            <div class="row">-->
      <!--              <div class="no">1</div>-->
      <!--              <div class="ct">注册之后您的信息即储存到我们的数据库中。我们将严格根据本条款以及我们的隐私政策来保护与处理您提供给我们的任何信息。</div>-->
      <!--            </div>-->
      <!--            <div class="row">-->
      <!--              <div class="no">2</div>-->
      <!--              <div class="ct">我们不会透露任何使用我们平台进行投注的客户的身份。</div>-->
      <!--            </div>-->
      <!--            <div class="row">-->
      <!--              <div class="no">3</div>-->
      <!--              <div class="ct">在访问我们的网站时，经过您的同意，我们可能会在您的设备上存储信息。这些信息被称为“cookies”，它是包含用于记录您的偏好的字母和数字的小型文本文件。当您访问我们的网站和在线页面时使用我们的服务时，Cookie会存储在您的设备上。Cookies帮助我们监控您网站的流量，改善我们的服务，让您更轻松地访问网站并提高您对我们服务的感官。</div>-->
      <!--            </div>-->
      <!--            <div class="row">-->
      <!--              <div class="no">4</div>-->
      <!--              <div class="ct">{{WEB_NAME}}管理团队及员工非常重视您的个人资料安全和隐私保护。我们将承诺对您隐私的合理使用以及保密的透明度。我们已修订这项隐私政策，以符合《一般资料保障规例》的标准</div>-->
      <!--            </div>-->
      <!--            <div class="row">-->
      <!--              <div class="no">5</div>-->
      <!--              <div class="ct">为了在我们的网站上玩真钱游戏，您将被要求转账并从我们那里收钱。为了便利此类服务，我们可能会使用第三方电子支付系统来处理所需的金融交易。通过同意并接受本隐私政策，您明确且自愿地同意将您的个人信息转移给第三方，这对于处理和完成金融交易是必要的，包括在必要时将您的个人信息转移到国外。我们采取措施确保您的隐私在使用第三方支付系统时受到保护。</div>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        <div class="item">-->
      <!--          <div class="tm">-->
      <!--            <i class="iconfont icon-tag-multiple"></i>您的账户-->
      <!--          </div>-->
      <!--          <div class="co">-->
      <!--            <div class="row">-->
      <!--              <div class="no">1</div>-->
      <!--              <div class="ct sub">-->
      <!--                就下列相关事宜的发生，{{WEB_NAME}}不承担任何法律责任：-->
      <!--                <div class="row">-->
      <!--                  <div class="no">a</div>-->
      <!--                  <div class="ct">由于用户将密码告知他人或与他人共享注册账户，由此导致的任何个人信息的泄漏，或其他非因{{WEB_NAME}}原因导致的个人信息 的泄漏。</div>-->
      <!--                </div>-->
      <!--                <div class="row">-->
      <!--                  <div class="no">b</div>-->
      <!--                  <div class="ct">任何由于黑客攻击、电脑病毒侵入造成的信息泄漏。</div>-->
      <!--                </div>-->
      <!--                <div class="row">-->
      <!--                  <div class="no">c</div>-->
      <!--                  <div class="ct">因不可抗力导致的信息泄漏。</div>-->
      <!--                </div>-->
      <!--              </div>-->
      <!--            </div>-->
      <!--            <div class="row">-->
      <!--              <div class="no">2</div>-->
      <!--              <div class="ct sub">-->
      <!--                {{WEB_NAME}}保留在任何时间以任何原因关闭或冻结您账户的权利。{{WEB_NAME}} 有权关闭或冻结您的账户，如下列：-->
      <!--                <div class="row">-->
      <!--                    <div class="no">a</div>-->
      <!--                    <div class="ct">{{WEB_NAME}}认为您使用网站时存在欺诈行为或出于非法或不正当目的而使用网站。</div>-->
      <!--                </div>-->
      <!--                <div class="row">-->
      <!--                  <div class="no">b</div>-->
      <!--                  <div class="ct">{{WEB_NAME}}认为您在使用网站时存在不公正/蓄意欺骗/利用{{WEB_NAME}}或任何客户的行为/使用您的账户受益于第三方。</div>-->
      <!--                </div>-->
      <!--                <div class="row">-->
      <!--                  <div class="no">c</div>-->
      <!--                  <div class="ct"-->
      <!--&gt;如果账户中有足夠的资金，且您的用户名和密码被正确输入或因“保持登录”以及“记住密码”功能被访问（无论是否经过您的授权），投注视为成立。</div>-->
      <!--                </div>-->
      <!--                <div class="row">-->
      <!--                  <div class="no">d</div>-->
      <!--                  <div class="ct"-->
      <!--&gt;如果我们发现您在作弊，或者如果我们判定您采用或使用了一个被设计来击败或有能力击败我们应用和/或软件的系统（包括机器、机器人、电脑、软件或任何自动化系统），我们可以暂停和/或取消您的账户接受服务，和/或作废和/或没收您的账户中的可用资金。{{WEB_NAME}}对此具有单方面绝对酌情权。</div>-->
      <!--                </div>-->
      <!--                <div class="row">-->
      <!--                  <div class="no">e</div>-->
      <!--                  <div class="ct"-->
      <!--&gt;如果{{WEB_NAME}}因您在使用网站时存在不公正/蓄意欺骗/利用{{WEB_NAME}}或任何客户的行为/使用您的账户受益于第三方而关闭或冻结您的账户，{{WEB_NAME}}有权扣留和/或保留本应支付给您的任何及全部金额（包括任何彩金、投注抵用金或奖金）。</div>-->
      <!--                </div>-->
      <!--              </div>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        <div class="item">-->
      <!--          <div class="tm">-->
      <!--            <i class="iconfont icon-tag-multiple"></i>审核-->
      <!--          </div>-->
      <!--          <div class="co">-->
      <!--            <div class="row">-->
      <!--              <div class="no">1</div>-->
      <!--              <div class="ct">同意规则与条款后。</div>-->
      <!--            </div>-->
      <!--            <div class="row">-->
      <!--              <div class="no">2</div>-->
      <!--              <div class="ct">您授权我们出于合规、安全性或其它商业原因的考虑或按照第三方（包括但不限于监管机构）的要求不时进行年龄、地址或其它核实检查以确认这些事实（“审核”）。</div>-->
      <!--            </div>-->
      <!--            <div class="row">-->
      <!--              <div class="no">3</div>-->
      <!--              <div class="ct">同意本规则与条款即表示您接受我们酌情利用第三方数据库服务来验证您提供给我们的信息，您同意进行该等核查。</div>-->
      <!--            </div>-->
      <!--            <div class="row">-->
      <!--              <div class="no">4</div>-->
      <!--              <div class="ct">在某些情况下，我们可能需要联系您并请您直接提供更多信息，以便我们完成核查。为此，我们将有权酌情要求您向我们提供ID、地址证明、水电气费账单、银行详情、银行结单和银行资信证明。在收到我们满意的信息之前，我们可以禁止您从事与您的账户相关的任何活动，也可以在我们关闭您的账户后扣留您账户上的任何金额，只要我们合理相信您故意提供了错误信息。</div>-->
      <!--            </div>-->
      <!--            <div class="row">-->
      <!--              <div class="no">5</div>-->
      <!--              <div class="ct">在核实您提供给我们的资料期间，我们可以限制您从账户提款和/或禁止您浏览网站。请注意，我们可能出于合规、安全性或其它商业原因的考虑不时重新开展核查。</div>-->
      <!--            </div>-->
      <!--            <div class="row">-->
      <!--              <div class="no">6</div>-->
      <!--              <div class="ct">未满18岁的人士，如果我们无法确认您是否达到相关年龄，那么我们可以暂时冻结您的账户，直至我们能够确认您达到相关年龄之时为止。若经证实，您在与我们达成博彩或赌博交易之时尚未达到相关年龄，则您的账户将暂时冻结或关闭账户。</div>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        <div id="Deposit" class="item">-->
      <!--          <div class="tm">-->
      <!--            <i class="iconfont icon-tag-multiple"></i>存款-->
      <!--          </div>-->
      <!--          <div class="co">-->
      <!--            <div class="row">-->
      <!--              <div class="no">1</div>-->
      <!--              <div class="ct">下注可能会输掉您根据本条款寄存在我们这里的一些或全部钱款，您将对此类损失全权负责。</div>-->
      <!--            </div>-->
      <!--            <div class="row">-->
      <!--              <div class="no">2</div>-->
      <!--              <div class="ct">您存入账户的资金仅可来自您名下的相关账户。如果{{WEB_NAME}}识别到账户持有者名称与{{WEB_NAME}}持有的不一致，我们将保留权利视任何存进博彩账户的款项为无效（且任何由此存款产生的彩金均为无效）。</div>-->
      <!--            </div>-->
      <!--            <div class="row">-->
      <!--              <div class="no">3</div>-->
      <!--              <div class="ct">所有存款都需要完成一倍流水。存款没有进行全额投注，则{{WEB_NAME}}保留收取手续费的权利，这包括存提款所产生的所有费用，必要时此类费用将在提款中扣除。</div>-->
      <!--            </div>-->
      <!--            <div class="row">-->
      <!--              <div class="no">4</div>-->
      <!--              <div class="ct">我们保留授权从您的账户提款之前为验证之身份目的索要文件的权利。我们可能需要在提款之前验证身份、年龄和地址。我们也保留在您与我们的关系存续期间索要此类文件的权利。</div>-->
      <!--            </div>-->
      <!--            <div class="row">-->
      <!--              <div class="no">5</div>-->
      <!--              <div class="ct">您同意您的账户不得用作为银行账户，而您的存款仅使用于投注的目的。 如果您重复以最低金额进行存款及/或提款或账户中并无相对的投注或游戏活动的情况下，我们保留直接从您的账户中扣除所有相关银行收费（无论我们是否关闭或暂时冻结您的账户）的权利，恕不另行通知。一旦相关收费从您的账户中扣除，我们将通过发送手机短信通知您。</div>-->
      <!--            </div>-->
      <!--            <div class="row">-->
      <!--              <div class="no">6</div>-->
      <!--              <div class="ct">您同意不作任何退款、撤消或以其他的方式取消任何存款于您的账户，若发生此类情况，您需要赔偿我们此笔未到账存款，当中包括在收取您存款的过程中的任何开销。若发生任何存款不到账或被您或任何第三方取消的情况，{{WEB_NAME}}将保留终止所有因使用该笔存款而获得或回馈的红利及彩金。投注将被视为无效而任何彩金将被没收。</div>-->
      <!--            </div>-->
      <!--            <div class="row">-->
      <!--              <div class="no">7</div>-->
      <!--              <div class="ct">我们可能于任何时间使用您账户的正数余额以抵销您 （包括重复账户） 拖欠{{WEB_NAME}}的金额，包括（但不限于）重新结算任何投注、注金、支付错误或负数余额。</div>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <!--        <div id="Withdrawal" class="item">-->
      <!--          <div class="tm">-->
      <!--            <i class="iconfont icon-tag-multiple"></i>提款-->
      <!--          </div>-->
      <!--          <div class="co">-->
      <!--            <div class="row">-->
      <!--              <div class="no">1</div>-->
      <!--              <div class="ct">如果用户在提款时，其存款没有进行全额投注，则{{WEB_NAME}}保留收取手续费的权利，这包括存提款所产生的所有费用，必要时此类费用将在提款中扣除。</div>-->
      <!--            </div>-->
      <!--            <div class="row">-->
      <!--              <div class="no">2</div>-->
      <!--              <div class="ct">提款绑定的银行卡姓名需与游戏账户的注册姓名一致。</div>-->
      <!--            </div>-->
      <!--            <div class="row">-->
      <!--              <div class="no">3</div>-->
      <!--              <div class="ct">存款需满足有效投注额要求后方可申请提款。</div>-->
      <!--            </div>-->
      <!--            <div class="row">-->
      <!--              <div class="no">4</div>-->
      <!--              <div class="ct">若您未申请任何红利优惠，满足1倍投注即可申请提款。</div>-->
      <!--            </div>-->
      <!--            <div class="row">-->
      <!--              <div class="no">5</div>-->
      <!--              <div class="ct">若有申请红利，则需要满足优惠活动写明的有效投注额要求。</div>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->
      <div class="item">
        <div class="tm">
          <i class="iconfont icon-tag-multiple"></i>防止串通
        </div>
        <div class="co">
          <div class="row">
            <div class="no">1</div>
            <div class="ct">串通是指两个或多个玩家为了获取不当得利与其他玩家尝试串通或者进行串通的任何玩家将被永久禁止使用我们的平台。 我们将竭尽所能调查所收到的关于玩家有串通嫌疑的投诉。 如果我们怀疑游戏过程中存在串通行为，我们将自行决定终止嫌疑玩家访问。</div>
          </div>
          <div class="row">
            <div class="no">2</div>
            <div class="ct">{{WEB_NAME}}鼓励会员积极参与优惠活动。若我们发现会员滥用优惠活动的红利并涉及合伙或串通，赢利被取消及账户或关闭，而{{WEB_NAME}}对此事的判决为最终裁决。</div>
          </div>
          <div class="row">
            <div class="no">3</div>
            <div class="ct">我们仅会按照我们网站上全文公布的隐私政策使用您的个人信息。 我们保留随时修改此类隐私政策的权利。 但是，我们保留请求您提供额外详细信息的权利，且我们将保守此类任何额外信息的秘密。</div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="tm">
          <i class="iconfont icon-tag-multiple"></i>病毒、黑客及其它攻击
        </div>
        <div class="co">
          <div class="row">
            <div class="no">1</div>
            <div class="ct sub">
              您不得：破坏网站：
              <div class="row">
                <div class="no">a</div>
                <div class="ct">试图在未经授权的情况下访问网站、存储网站的服务器或其他服务器、以及连接至网站的计算机或数据库。</div>
              </div>
              <div class="row">
                <div class="no">b</div>
                <div class="ct">使网站充斥着大量信息、多次提交或发送“垃圾”邮件。</div>
              </div>
              <div class="row">
                <div class="no">c</div>
                <div class="ct">以任何方式故意或疏忽使用任何可能影响网站的功能，例如（但不限于）植入或传播病毒、蠕虫、木马、逻辑炸弹或类似的恶意或有害的内容。</div>
              </div>
              <div class="row">
                <div class="no">d</div>
                <div class="ct">干扰或窜改、移除或以其他方式修改网站中任何格式的信息。</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="no">1</div>
            <div class="ct">对于您因为使用本网站，或者因为下载张贴在本网站或链接至本网站的其它网站上的任何数据而遭受分布式拒绝服务攻击、病毒或其它技术上有害的物质（可能影响您的 计算机 设备、计算机程序、数据或其他所有物），由此造成的损失和损坏，我们不承担任何责任。</div>
          </div>
        </div>
      </div>
      <!--        <div class="item">-->
      <!--          <div class="tm">-->
      <!--            <i class="iconfont icon-tag-multiple"></i>篮球投注规则-->
      <!--          </div>-->
      <!--          <div class="co">-->
      <!--            <div class="row">-->
      <!--              <div class="no">1</div>-->
      <!--              <div class="ct">篮球“主队：客队”，即主队在左边，客队在右边。</div>-->
      <!--            </div>-->
      <!--            <div class="row">-->
      <!--              <div class="no">2</div>-->
      <!--              <div class="ct">如果比赛未在预定的日期进行，并且未在原定的开赛时间24小时重新开赛，则该比赛的所有投注视为无效并退还投注金。</div>-->
      <!--            </div>-->
      <!--            <div class="row">-->
      <!--              <div class="no">3</div>-->
      <!--              <div class="ct">如果比赛中断且未在开赛时间24小时内恢复，则有赛果的投注将继续有效，无赛果的注码将视为无效。</div>-->
      <!--            </div>-->
      <!--            <div class="row">-->
      <!--              <div class="no">4</div>-->
      <!--              <div class="ct">投注结算将以相关比赛或赛事的官方比分提供商或官方网站所公布的数据为根据。当官方比分提供商或官方网站不存在或有重要证据证明官方比分提供商或官方网站的数据有误时，我们将依据相关独立资料进行结算。</div>-->
      <!--            </div>-->
      <!--            <div class="row">-->
      <!--              <div class="no">5</div>-->
      <!--              <div class="ct">如果缺乏一致且独立的证据，或出现明显互相矛盾的证据资料，投注将按我们自己的数据进行结。</div>-->
      <!--            </div>-->
      <!--          </div>-->
      <!--        </div>-->

    </div>
  </div>
</template>
<script>
  export default{
    name:'rules',
    data(){
      return{

      }
    },
    mounted(){
    },
  }
</script>
<style scoped lang="stylus">
  @import '~@/assets/css/variable'
  @import '~@/assets/css/iconfont/iconfont'
  .betRecord
    position:fixed
    top:45px
    bottom:0
    left:0
    right:0
    z-index:1
    background:$background-color
    display:flex
    flex-direction:column
    .index
      height: 42px
      box-shadow: 0 0 13px rgba(0,0,0,.22)
      font-weight: lighter
      overflow:hidden
      .two
        justify-content: center
        margin-top: 8px
        display: flex
        flex-wrap: nowrap
        padding: 0 10px
        span
          display: inline-block
          width: 100px
          height: 30px
          line-height: 30px
          background: $personal-color
          font-size: $words-size-14
          text-align: center
          border-radius: 2px 0 0 2px;
        .active
          color: $special-color
          background: $home-color
          border: none
    .main
      width: 100%
      height: 100%
      flex: 1
      overflow-y: auto
      margin-bottom: -1px
      position:relative
      .allcontent
        width:100%
        height:100%
        overflow-y:auto
        .all-list
          padding:8px
          .l
            width: 100%
            text-align: center
            line-height: 30px
            .label
              color:$normal-color
            a
              background: linear-gradient(90deg,#00fe98 0,#00feec)
              color: #202630
              display: inline-block
              padding: 13px 15px
              line-height: 0
              text-align: center
              transition: all .3s
              border-radius: 2px
          .item
            border-radius: 3px
            background: $personal-color
            box-shadow: 0 0 1px 0 hsla(0,0%,100%,.4)
            font-size: $words-size-13
            font-weight: lighter
            color: #7f858f
            p
              display: flex
              flex-wrap: nowrap
              justify-content: space-between
              padding: 3px 0
            .c1
              color: $normal-color
              font-size: $words-size-14
            .c2
              color: #ffe87a;
            .sy
              width: 24px
              height: 41px
            .mc
              color: #c2c5c8
              label
                margin-left: 5px
            .type
              padding: 10px
              .copy
                background: #2b3a4a
                display: inline-block
                width: 70px
                text-align: center
                border-radius:3px
                text-align:center
                padding:2px 0
              .c3
                color: $special-color
          .info
            padding: 10px 10px 0
            background: #28323c
            .row
              margin-bottom: 1px
              padding-bottom: 8px
          .person
            margin-right: 3px
            vertical-align: middle
            width: 20px
            height: 20px
            display: inline-block
            position: relative
            bottom: 1px
          .w
            width: 24px
            height: 38px
            display: inline-block
            text-align: center
            background-image:url('~@/assets/images/win.svg')
          .lose
            background-image:url('~@/assets/images/fail.svg')
  #home-index{
    background: #1e2124;
    .banner{
      height: 700px;
      .el-carousel__container{
        height: 700px;
        .el-carousel__arrow{
          width: 50px;
          height: 50px;
          >i{
            font-size: 46px;
          }
        }
      }
    }
    .wrapper.wrapper-bg{
      box-sizing: border-box;
      padding: 200px 0 4rem;
      position: relative;
      z-index: 5;
      #core-game-list{
        position: absolute;
        top: -120px;
        left: 0;
        width: 100%;
        height: 300px;
        .live-game-box{
          width: 420px;
        }
      }
      #index-news{
        box-sizing: border-box;
        padding-top: 40px;
        .new-title{
          text-align: center;
          .title{
            font-size: 18px;
            color: white;
          }
          .subtitle{
            margin-left: .5rem;
          }
        }
        .new-menu{
          text-align: center;
          margin: 20px auto;
          .active{
            color:$theme-font-color;
          }
          span{
            position: relative;
            display: inline-block;
            box-sizing: border-box;
            cursor: pointer;
            padding: 10px 26px;
            line-height: 12px;
            font-size: 12px;
            &:not(:last-child)::after{
              content: "";
              width: 1px;
              height: 12px;
              position: absolute;
              right: -3px;
              top: 12px;
              background: #3b3b3b;
            }
          }
        }
      }
    }
  }
  .row {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    >.no {
      width: 16px;
      height: 16px;
      line-height: 16px;
      border-radius: 0 10px 0 0;
      text-align: center;
      background: hsla(0, 0%, 100%, .1);
      color: #fff;
      font-size: 12px;
    }

    >.ct {
      width: calc(100% - 22px);
      line-height: 20px;
      font-weight: 500;
      color: #b5bdce;

      >.green {
        color: rgb(3, 252, 179);
      }

      >.tb {
        width: 84%;
        line-height: 20px;
        color: #b5bdce;
        margin: 30px auto;
        text-align: center;
      }
    }

    >.cg {
      padding-top: 30px;
      color: rgb(3, 252, 179);
    }

    >.green {
      color: rgb(3, 252, 179);
    }
  }
  .tm {
    font-size: 20px;
    color: #03fcb3;
    line-height: 18px;
    padding-bottom: 10px;
    font-weight: lighter;
    text-align:center;
    >i {
      margin-right: 5px;
    }
  }
</style>
