@import "include/base";
.active{
  & *{
    color: #ffffff;
  }
  .active-main{
    padding-top: 40px;
    padding-bottom: 50px;
    background: url("../../assets/images/promo_bg.jpg") no-repeat top center;
    .active-title{
      width: 50%;
      height: 372px;
      display: inline-block;
      .promo-dl {
        cursor: pointer;
        display: inline-block;
        width: 570px;
        height: 278px;
        z-index: 1;
        .flex();
        img{
          width: 490px;
        }
      }
      .promo-title-wrapper {
        background: url("../../assets/images/promo-title.png")no-repeat center;
        width: 570px;
        height: 113px;
        text-align: center;
        margin: auto;
        text-transform: uppercase;
        padding: 33px 40px 10px;
        margin-top: -20px;
        cursor: pointer;
        h4 {
          color: #8efe58;
          font-size: 17px;
          font-weight: 700;
          height: 34px;
          margin-bottom: 2px;
          line-height: 1;
          display: grid;
          align-items: center;
        }
        &:hover{
          background: url("../../assets/images/promo-title-hover.png")no-repeat center;
        }
      }
    }
    .popup{
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: rgba(0,0,0,0.7);
      z-index: 1050;
      .flex();
      .popup-box{
        min-height: 530px;
        width: 800px;
        position: relative;
        border: 2px solid #00c34e;
        filter: drop-shadow(0 0 4px #00c34e);
        background: #000f16;
        .title{
          width: 100%;
          height: 55px;
          text-align: center;
          font-weight: 600;
          font-size: 24px;
          line-height: 55px;
          background: #002334;
          border-bottom: 1px solid #449fc4;
        }
        .close{
          position: absolute;
          right: -10px;
          top: -25px;
          cursor: pointer;
        }
        .active-content{
          width: 100%;
          height: 100%;
          padding: 20px;
          max-height: 600px;
          overflow: auto;
          img{
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}


