@import "include/base";
.help{
  & *{
    color: #ffffff;
  }
  .help-main{
    background: url("../../assets/images/about_bg.jpg") no-repeat top center;
    min-height: 850px;
    padding-top: 50px;
    .left, .right{
      display: inline-block;
    }
    .left{
      width: 16.6%;
      ul{
        width: 100%;
        border:1px solid #00ff54;
        border-radius: 8px;
        overflow: hidden;
        li{
          height: 44px;
          line-height: 44px;
          padding-left: 15px;
          background: #000000;
          border-top: 1px solid #00ff54;
          cursor: pointer;
          &:nth-child(1){
            border-top: none;
          }
          &:hover{
            background: linear-gradient(to bottom, rgba(69,13,104,1) 0%, rgba(19,8,46,1) 100%)!important;
          }
        }
        .active{
          background: linear-gradient(to bottom, rgba(69,13,104,1) 0%, rgba(19,8,46,1) 100%)!important;
        }
      }
    }
    .right{
      width: 81.3%;
      margin-left: 2%;
      background: rgba(0, 23, 45, 0.55);
      .content{
        width: 100%;
        min-height: 300px;
        border:1px solid #00ff54;
        border-radius: 8px;
        padding: 25px 30px;
        overflow: auto;
      }
    }
  }
}
