@import "include/base";
.index{
  background: url("../images/home_bg.jpg") no-repeat center;
  .content{
    .banner{
      height:500px;
      padding-top: 50px;
      .box{
        width: 450px;
        height: 450px;
        float: left;
        position: relative;
        .spin-blue{
          width: 100%;
          height: 100%;
          background: url("../images/blue-ring.png") no-repeat center;
          -webkit-animation: spinblue infinite 10s linear;
          -moz-animation: spinblue infinite 10s linear;
          animation: spinblue infinite 10s linear;
          animation-fill-mode: forwards;
          @-webkit-keyframes spinblue {
            0% {
              -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
            }
            100% {
              -webkit-transform: rotate(360deg);
              transform: rotate(-360deg);
            }
          }
        }
        .jr-box{
          position: absolute;
          width: 450px;
          height: 450px;
          left: 0;
          bottom: 0;
          z-index: 3;
        }
        .circle{
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          bottom: 0;
          z-index: 2;
          background: url("../images/ring-glow.png") no-repeat center;
          -webkit-animation: circle infinite 10s linear;
          -moz-animation: circle infinite 10s linear;
          animation: circle infinite 10s linear;
          animation-fill-mode: forwards;
          @-webkit-keyframes circle {
            0% {
              -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
            }
            100% {
              -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
            }
          }
        }
        .six-game{
          position: absolute;
          z-index: 4;
        }
        .esport{
          left: 100px;
          top: 38px;
        }
        .sport{
          right: 100px;
          top: 38px;
        }
        .real{
          left: 100px;
          top: 270px;
        }
        .lottery{
          right: 18px;
          top: 153px;
        }
        .fishing{
          right: 100px;
          top: 270px;
        }
        .slots{
          left: 18px;
          top: 153px;
        }
      }
      .swipe{
        width: 638px;
        height: 346px;
        margin-top: 50px;
        float: left;
        position: relative;
        img{
          width: 100%;
          height: 100%;
        }
        .swipe-border{
          position: absolute;
          width: 650px;
          height: 358px;
          left: 0;
          top:0;
          z-index: 3;
        }
        .my-swipe{
          height:100%;
        }
      }
    }
    .wrapper{
      height: 245px;
      background: url("../images/redem-bg.png") no-repeat center;
      background-size: 100% 100%;
      position: relative;
      .rpoint-title{
        background: url(../images/reward-title-bg.png)no-repeat center;
        width: 490px;
        height: 51px;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 24px;
        text-align: center;
        padding: 7px 0;
        text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.75);
        position: absolute;
        left: 83px;
        top: -16px;
      }
      .reward-wrapper{
        position: absolute;
        width: 1140px;
        height: 245px;
        left: 0;
        top: 0;
        .row-box{
          width: 33%;
          height: 100%;
          float: left;
          position: relative;
          &::before{
            content: url("../images/blue-bar.png");
            position: absolute;
            right: 0;
            top: 50px;
          }
          &:nth-child(3)::before{
            content: '';
            position: absolute;
            right: 0;
            top: 50px;
          }
          .left{
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: right;
            align-items: center;
          }
          .right{
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: left;
            align-items: center;
            font-weight: 600;
            padding-left: 10px;
            span{
              font-size: 30px;
              color: #5dc7ff;
            }
          }
        }
      }
      .info-btn {
        background: url("../images/more-info-reward.png")no-repeat center;
        width: 172px;
        height: 35px;
        font-size: 18px;
        text-transform: uppercase;
        color: #fff;
        font-weight: 700;
        text-shadow: 0 2px 3px rgba(0, 0, 0, 0.75);
        text-align: center;
        display: block;
        padding: 4px 0;
        position: absolute;
        right: 0;
        bottom: 5px;
      }
      .info-btn:hover {
        color: #fff;
        filter: drop-shadow(0px 0px 5px rgb(255,255,255,0.5));
      }
    }
    .us-box{
      height: 246px;
      position: relative;
      display: flex;
      align-items: center;
      .contact-us-box {
        background: url(../images/small-contact-us.png)no-repeat center;
        background-size: 100% 100%;
        width: 340px;
        height: 151px;
        color: #fff;
        .contbox {
          max-width: 215px;
          text-align: center;
          margin: auto;
          font-size: 12px;
          line-height: 1.2;
          padding: 19px 0;
          h3 {
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
            color: #5dc7ff;
            margin-bottom: 3px;
          }
        }
      }
      .contact-media-wrapper {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 10px;
        position: absolute;
        right: 0;
        top: 47px;
        .cmw-box {
          background: url(../images/contact-small-box.png)no-repeat center;
          background-size: 100% 100%;
          color: #fff;
          width: 198px;
          height: 153px;
          text-align: center;
          img {
            margin-top: -29px;
            padding-bottom: 7px;
          }
          .cm-detail {
            border: 1px solid #19d6e6;
            border-radius: 35px;
            padding: 0px 2px;
            box-shadow: 0 0 5px 1px #19d6e6;
            max-width: 147px;
            margin: auto;
            margin-bottom: 7px;
            font-size: 13px;
            display: block;
            color: #fff;
          }
          h4 {
            color: #0dc0d9;
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
          }
        }
      }

    }
  }
}
