@import "include/base";
.phone{
  .content{
    height: 1352px;
    background: #000 url("../images/mobiledl-bg.jpg")no-repeat top center;
    padding-top: 50px;
    .filter-menu-bar {
      margin: 15px 0;
      height: 54px;
      text-align: center;
      .mbox {
        background: url(../images/mobile-btn.png)no-repeat center;
        background-size: 100% 100%;
        display: inline-block;
        width: 225px;
        height: 54px;
        position: relative;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
        text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.7);
        cursor: pointer;
        div{
          height: 90%;
          .flex();
          font-size: 25px;
        }
        &:hover, &.active {
          background: url("../images/mobile-btn-active.png")no-repeat center;
          background-size: 100% 100%;
          color: #fff;
        }
      }
    }
    .boxes {
      display: grid;
      grid-template-columns: repeat(4,1fr);
      .mobile-dl {
        display: inline-block;
        width: 284px;
        height: 466px;
        margin: auto;
        z-index: 1;
        position: relative;
        img {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          margin: auto;
          overflow: hidden;
          width: auto;
          height: auto;
        }
      }
      .mobile-dl:hover > .close_img {
        opacity: 0;
      }
      .mobile-dl:hover > .open_img {
        opacity: 1;
      }
      .mobile-dl .open_img {
        opacity: 0;
      }
      .mobile-dl.actives > .close_img {
        opacity: 0;
      }
      .mobile-dl.actives > .open_img {
        opacity: 1;
      }
    }
  }
  .popup{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0,0,0,0.7);
    z-index: 1050;
    .flex();
    .popup-box{
      height: 330px;
      width: 616px;
      background: url("../images/black-texture-bg.jpg");
      position: relative;
      border: 2px solid #00c34e;
      filter: drop-shadow(0 0 4px #00c34e);
      .title{
        background: url("../images/title_bg.png")no-repeat top center;
        width: 457px;
        height: 87px;
        margin: auto;
        text-align: center;
        margin-top: -40px;
        margin-bottom: 20px;
      }
      .close{
        position: absolute;
        right: -10px;
        top: -25px;
        cursor: pointer;
      }
      .code-line{
        width: 100%;
        height: 231px;
        text-align: center;
        .mobox{
          width: 32%;
          margin: 0 auto;
          text-align: center;
          display: inline-block;
          .qrbox {
            background: url("../images/glow-frame.png")no-repeat center;
            width: 165px;
            height: 169px;
            margin: auto;
            padding: 3px;
            display: flex;
          }
          .qrbox img {
            max-width: 111px;
            margin: auto;
          }
          .mdl-title {
            display: grid;
            grid-template-columns: 50px auto;
            justify-content: center;
            margin-top: 10px;
            color: #fff;
          }
          .device-icon{
            position: relative;
          }
          .gtitle {
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
            text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.75);
            background: #0d2734;
            border: 1px solid #00c34e;
            box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.75);
            align-self: center;
            padding: 4px 6px 4px 13px;
            border-radius: 5px;
            margin-left: -12px;
          }
        }
      }
    }
  }
}
