@import "include/base";
.register{
  .other{
    width: 100%;
    min-height: 850px;
    background: url("../images/register-bg.jpg")no-repeat top center;
    padding-top: 60px;
    .reg-wrapper{
      width: 925px;
      min-height: 650px;
      margin: 0 auto;
      background: url("../images/board-reg.png")no-repeat top center;
      background-size: 100% 100%;
      padding: 30px;
      .reg-title{
        font-size: 30px;
        font-weight: 900;
        text-align: center;
        text-transform: uppercase;
        padding: 10px 0 5px;
        color: #ffffff;
      }
      .registration{
        width: 100%;
        height: 40px;
        .content{
          display: block;
          border-top: 1px dashed #e0e3e6;
          padding:30px 0px;
          margin: 0px 30px;
          ul {
            li{
              margin-top: 18px;
              display: flex;
              align-items: center;
              padding-left: 130px;
              input{
                height: 36px;
                width: 280px;
                border: 1px solid #e7e8e8;
                background-color: #feffff;
                color: #000000;
                padding-left: 10px;
                margin: 0;
              }
              label{
                text-align: right;
                margin-right: 10px;
                display: inline-block;
                font-size: 12px;
                width: 18%;
                color: #ffffff;
                line-height: 33px;
              }
              &.code{
                input{
                  width: 150px;
                }
                img{
                  margin-left: 15px;
                  width: 100px;
                  height: 37px;
                }
              }
              .no-pass{
                display: inline-block;
                margin-left: 18px;
                text-align: center;
                &:hover{
                  color: #e4393c !important;
                }
              }
              .verifyCode{
                .flex();
                img{
                  margin-left: 10px;
                }
              }
            }
          }
          .login-button{
            width: 130px;
            height: 36px;
            line-height: 36px;
            display: inline-block;
            color: #000 !important;
            padding: 0 15px;
            border-radius: 3px;
            font-size: 14px;
            min-width: 55px;
            text-align: center;
            cursor: pointer;
            background: #ffffff;
            margin: 10px 10px 10px 0;
            transition: .3s;
            &:hover{
              background: #8cc5ff;
            }
          }
        }
      }
    }
  }
}
