<template>
  <div class="wallet">
    <page_head></page_head>
    <page_foot></page_foot>
    <div class="nav">
      <div class="menu" v-for="(item,index) in navList" :key="index" :class="{'active':navIndex == index}" @click="toggle(index)">{{ item }}</div>
    </div>
    <div class="box">
      <USDTAddress v-if="navIndex == 0"></USDTAddress>
      <bindCard v-if="navIndex == 1"></bindCard>
      <password v-if="navIndex == 2"></password>
      <message v-if="navIndex == 3"></message>
    </div>
  </div>
</template>

<script>
import '@/assets/css/tabs/wallet.less'
import page_head from '@/components/include/page_head'
import page_foot from '@/components/include/page_foot'
import USDTAddress from '@/components/account/usdtAddress'
import bindCard from '@/components/account/bindCard'
import password from '@/components/account/password'
import message from '@/components/account/message'
export default {
  name: "account",
  data(){
    return{
      navList:[this.$t('钱包地址'),this.$t('银行卡设置'),this.$t('密码修改'),this.$t('站内信')],
      navIndex:0,
    }
  },
  components:{
    page_head,page_foot,USDTAddress,bindCard,password,message
  },
  created() {
  },
  mounted() {
  },
  methods:{
    toggle(index){
      this.navIndex = index
    },
  }
}
</script>

<style scoped lang="less">
.service{
  .serviceIframe{
    position: absolute;
    left: 0;
    right: 0;
    top: 5rem;
    bottom: 7.3rem;
    iframe{
      border: none;
      width: 100%;
      height: 100%;
    }
  }
}

</style>
