<template>
  <div class="wallet">
    <page_head></page_head>
    <page_foot></page_foot>
    <div class="nav">
      <div class="menu" v-for="(item,index) in navList" :key="index" :class="{'active':navIndex == index}" @click="toggle(index)">{{ item }}</div>
    </div>
    <div class="box">
      <mnyrecord v-if="navIndex == 0"></mnyrecord>
      <account_details v-if="navIndex == 1"></account_details>
      <awardRecord v-if="navIndex == 2"></awardRecord>
      <backwater v-if="navIndex == 3"></backwater>
    </div>
  </div>
</template>

<script>
import '@/assets/css/tabs/wallet.less'
import page_head from '@/components/include/page_head'
import page_foot from '@/components/include/page_foot'
import mnyrecord from '@/components/funds/mnyrecord'
import account_details from '@/components/funds/account_details'
import awardRecord from '@/components/funds/awardRecord'
import backwater from '@/components/funds/backwater'
export default {
  name: "account",
  data(){
    return{
      navList:[this.$t('用户帐变记录'),this.$t('账户明细记录'),this.$t('活动中奖记录'),this.$t('反水记录')],
      navIndex:0,
    }
  },
  components:{
    page_head,page_foot,mnyrecord,account_details,awardRecord,backwater
  },
  created() {
  },
  mounted() {
  },
  methods:{
    toggle(index){
      this.navIndex = index
    },
  }
}
</script>

<style scoped lang="less">
.service{
  .serviceIframe{
    position: absolute;
    left: 0;
    right: 0;
    top: 5rem;
    bottom: 7.3rem;
    iframe{
      border: none;
      width: 100%;
      height: 100%;
    }
  }
}

</style>
