<template>
  <div class="game-classify">
    <page_head></page_head>
    <page_foot></page_foot>
    <div class="title-img">
      <img src="@/assets/images/ball.png" alt="" style="width: 100%;">
    </div>
    <div class="content">
      <div class="game-list">
        <div class="box">
          <div class="line">
            <div v-for="(item, index) in gameList" :key="index" @click="toGame(item)">
              <img :src="item.imgUrl" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/gameClassify.less'
import page_head from '@/components/include/page_head'
import page_foot from '@/components/include/page_foot'
import {Toast} from 'vant'
export default {
  name: "gameClassify",
  components:{
    page_head,page_foot
  },
  data() {
    return {
      gameList:'',
      dataCode:'',
      code:'',
      imgPath:'',
    }
  },
  created() {
    this.dataCode = this.$route.query.dataCode
    this.code = this.$route.query.code
    if(this.dataCode == 4){
      this.getHomeData()
    } else if(this.dataCode == 2){
      this.setImgPath()
      this.gameClassifyList()
    } else if(this.dataCode == 3){
      this.chessClassifyList()
    }
  },
  mounted() {
  },
  methods: {
    getHomeData:function (){
      this.$fetch('native/getHomeData.do',{},false).then((res) => {
        if(res.success){
          for(let index in res.content){
            if(this.dataCode == res.content[index].dataCode){
              if(this.dataCode == 4){
                let e = [], a = res.content[index].lotterys
                for(let j in a){
                  if(a[j].lotGroup == this.code){
                    e.push(a[j])
                  }
                }
                this.gameList = e
              }
            }
          }
        }
      })
    },
    gameClassifyList:function (){
      let param = {
        code: this.code
      }
      this.$fetch('native/gameClassifyList.do',param,false).then((res) => {
        this.gameList = res
        for(let index in this.gameList){
          if(this.code == 'mg'){
            this.gameList[index].imgUrl = this.imgPath + this.gameList[index].ButtonImagePath + '.png'
          } else {
            this.gameList[index].imgUrl = this.imgPath + this.gameList[index].ButtonImagePath
          }
        }
      })
    },
    chessClassifyList:function (){
      let param = {
        code: this.code
      }
      this.$fetch('native/chessClassifyList.do',param,false).then((res) => {
        this.gameList = res
      })
    },
    toGame:function (item){
      if(this.dataCode == 4){
        this.$router.push({path:'/lottery',query:{code:item.code,lotGroup:item.lotGroup}})
      } else {
        this.toGamePath(item.LapisId)
      }
    },
    setImgPath(){
      if(this.code == 'ag'){
        this.imgPath = '/common/template/third/egame/images/'
      } else if(this.code == 'mg'){
        this.imgPath = '/common/template/third/egame/images/v2/'
      } else if(this.code == 'pt'){
        this.imgPath = '/common/template/third/newEgame/images/pt/pc/'
      } else if(this.code == 'qt'){
        this.imgPath = '/common/template/third/newEgame/images/'
      } else if(this.code == 'cq9'){
        this.imgPath = '/common/template/third/newEgame/images/cq9/'
      } else if(this.code == 'jdb'){
        this.imgPath = '/common/template/third/newEgame/images/jdb/'
      }
    },
    toGamePath(gameId){
      let params = {}
      let url = ''
      switch (this.code){
        case 'mg':
          params = {
            gameType: 3,
            h5: 1,
            gameid: gameId,
          }
          url = '/forwardMg.do'
          break;
        case 'ag':
          params = {
            h5: 1,
            gameType: gameId,
          }
          url = '/forwardAg.do'
          break;
        case 'pt':
          params = {
            h5: 1,
            gameCode: gameId,
          }
          url = '/forwardPt.do'
          break;
        case 'qt':
          params = {
            gameId: gameId,
          }
          url = '/forwardQt.do'
          break;
        case 'ttg':
          params = {
            gameId: gameId,
          }
          url = '/forwardTtg.do'
          break;
        case 'mw':
          params = {
            gameId: gameId,
          }
          url = '/forwardMw.do'
          break;
        case 'isb':
          params = {
            gameId: gameId,
          }
          url = '/forwardIsb.do'
          break;
        case 'cq9':
          params = {
            h5: 1,
            gameId: gameId,
          }
          url = '/forwardCq9.do'
          break;
        case 'jdb':
          params = {
            h5: 1,
            gameId: gameId,
          }
          url = '/forwardJdb.do'
          break;
        case 'ky':
          params = {
            gameId: gameId,
          }
          url = '/forwardKy.do'
          break;
        case 'th':
          params = {
            gameId: gameId,
          }
          url = '/forwardTh.do'
          break;
      }
      this.$post(url,params,true).then((res) =>{
        if(res.success){
          location.href=res.url;
        } else {
          Toast(res.msg)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>