<template>
  <div class="wallet">
    <page_head></page_head>
    <page_foot></page_foot>
    <div class="nav">
      <div class="menu" v-for="(item,index) in navList" :key="index" :class="{'active':navIndex == index}" @click="toggle(index)">{{ item }}</div>
    </div>
    <div class="box">
      <notice v-if="navIndex == 0"></notice>
<!--      <user v-if="navIndex == 1"></user>-->
      <site v-if="navIndex == 1"></site>
    </div>
  </div>
</template>

<script>
import '@/assets/css/tabs/wallet.less'
import page_head from '@/components/include/page_head'
import page_foot from '@/components/include/page_foot'
import notice from '@/components/help/notice'
// import user from '@/components/help/user'
import site from '@/components/help/site'
export default {
  name: "account",
  data(){
    return{
      navList:[this.$t('网站公告'),this.$store.state.stationInfo.content.title],
      navIndex:0,
    }
  },
  components:{
    page_head,page_foot,notice,site
  },
  created() {
  },
  mounted() {
  },
  methods:{
    toggle(index){
      this.navIndex = index
    },
  }
}
</script>

<style scoped lang="less">
.service{
  .serviceIframe{
    position: absolute;
    left: 0;
    right: 0;
    top: 5rem;
    bottom: 7.3rem;
    iframe{
      border: none;
      width: 100%;
      height: 100%;
    }
  }
}

</style>
