<template>
  <div class="language">
    <page_head></page_head>
    <page_foot></page_foot>
    <div class="content">
      <div class="list-warp" v-for="(item, index) in languageList" :key="index" @click="selectLanguage(item.key)">
        <img :src="item.icon" alt="">
        <div class="text">{{item.title}}</div>
        <div :class="{'active':languageKey == item.key}"></div>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/language.less'
import page_head from '@/components/include/page_head'
import page_foot from '@/components/include/page_foot'
import {Toast} from 'vant'
export default {
  name: "language",
  data(){
    return{
      languageList:[
        {
          title:'简体中文',
          key:'zh',
          icon:require('@/assets/images/lang/lang-zh.png'),
        },
        {
          title:'English',
          key:'en',
          icon:require('@/assets/images/lang/lang-en.png'),
        },
        {
          title:'Tiếng Việt',
          key:'vn',
          icon:require('@/assets/images/lang/lang-vn.png'),
        },
      ],
      languageKey:this.$cookies.get("language") || 'zh',
    }
  },
  components:{
    page_head,page_foot
  },
  created() {
  },
  mounted() {
  },
  methods:{
    selectLanguage:function (type){
      this.$i18n.locale = type
      this.languageKey = type
      this.$cookies.set("language",type)
      localStorage.setItem('locale',type)
      Toast(this.$t('语言切换成功'))
    },
  }
}
</script>

<style scoped lang="less">
</style>
