<template>
  <div class="login">
    <page_head></page_head>
    <page_foot></page_foot>
    <div class="box">
      <div class="title">{{$t('用户登录')}}</div>
      <div class="user-input">
        <van-cell-group>
          <van-field
              v-model="user.username"
              clearable
              left-icon="manager-o"
              :placeholder="$t('请输入用户名')"
          />
          <van-field
              v-model="user.password"
              clearable
              left-icon="bag-o"
              type="password"
              :placeholder="$t('请输入密码')"
          />
          <van-field
              v-model="user.verifyCode"
              v-if="verifyCodeSwitch"
              clearable
              left-icon="aim"
              :placeholder="$t('请输入验证码')"
              @focus="verifyCode"
          />
        </van-cell-group>
        <img v-if="verifyCodeSwitch" @click="verifyCode" :src="verifyCodeImg" alt="">
      </div>
      <div class="user-button">
      <van-row>
        <van-col span="24" style="justify-content: right;padding-left: 2rem;">
          <van-checkbox v-model="rememberPass" shape="square" checked-color="#3a3a3a">{{$t('记住密码')}}</van-checkbox>
        </van-col>
        <van-col span="24">
          <van-button type="danger" size="large" @click="login">{{$t('登录')}}</van-button>
        </van-col>
        <van-col span="24" v-if="registerSwitch">
          <router-link to="/register"><van-button type="default" size="large">{{$t('注册')}}</van-button></router-link>
        </van-col>
        <van-col span="24" v-if="guestSwitch">
          <van-button type="default" size="large" @click="guestUser">{{$t('免费试玩')}}</van-button>
        </van-col>
        <van-col span="24" v-if="serverSwitch">
          <router-link to="/service"><van-button type="default" size="large">{{$t('在线客服')}}</van-button></router-link>
        </van-col>
      </van-row>
    </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/login.less'
import page_head from '@/components/include/page_head'
import page_foot from '@/components/include/page_foot'
import { Toast } from 'vant';
export default {
  name: "login",
  components:{
    page_head,page_foot
  },
  data(){
    return{
      fullPath:this.$route.query.fullPath || '/',
      user:{
        username:'',
        password:'',
        verifyCode:''
      },
      verifyCodeNum:1,
      verifyCodeImg:'',
      verifyCodeSwitch:false,
      guestSwitch:false,
      rememberPass:'',
      registerSwitch:false,
      serverSwitch:false,
    }
  },
  created() {
    this.getUserInfo()
    this.getStationSwitch()
    // this.getVerifyCodeSwitch()
  },
  methods:{
    getUserInfo:function (){
      let userName = localStorage.getItem("username");
      let password = localStorage.getItem("password");
      if(userName != 'false' && password != 'false'){
        this.user.username = userName
        this.user.password = password
        this.rememberPass = true
      }
    },
    login:function () {
      if(!this.user.username){
        Toast(this.$t('请输入用户名'))
        return
      }
      if(!this.user.password){
        Toast(this.$t('请输入密码'))
        return
      }
      this.$post('native/login.do',this.user,true).then((res) => {
        if(res.success){
          Toast(this.$t('登录成功'))
          console.log(res.accessToken)
          this.$cookies.set("SESSION",res.accessToken)
          this.$store.commit('pushIsLogin',true)
          if(this.rememberPass){
            localStorage.setItem("username",this.user.username);
            localStorage.setItem("password",this.user.password);
          } else {
            localStorage.setItem("username",'false');
            localStorage.setItem("password",'false');
          }
          // this.$cookies.set("SESSION",res.accessToken)
          // 缓存登录状态
          if(this.fullPath == '/register'){
            this.$router.push({path:'/'})
          } else {
            this.$router.push({path:this.fullPath})
          }
        } else {
          Toast(res.msg)
          this.verifyCode()
        }
      })
    },
    // getVerifyCodeSwitch:function () {
    //   this.$post('native/getVerifyCodeSwitch.do').then((res) => {
    //     if(res.success){
    //       this.verifyCodeSwitch = res.content[8].onFlag
    //       this.verifyCode()
    //     }
    //   })
    // },
    verifyCode:function () {
      // this.verifyCodeImg = this.$store.state.apiUrl + 'native/regVerifycode.do?v=' + ++this.verifyCodeNum
      this.verifyCodeImg = this.$store.state.apiUrl + 'native/regVerifycode.do?v=' + new Date().getTime()+ this.$store.state.stationInfo.content.station.floder + Math.random();
    },
    // 网站开关
    getStationSwitch:function (){
      console.log(this.$store.state.stationSwitch.success)
      if(this.$store.state.stationSwitch.success){
        this.stationSwitchOperate(this.$store.state.stationSwitch)
      } else {
        this.$fetch('native/getStationSwitch.do').then((res) => {
          if(res.success){
            this.stationSwitchOperate(res)
            this.$store.commit('pushStationSwitch',res)
          }
        })
      }
    },
    stationSwitchOperate:function (res){
      let data = res.content ,that = this
      for(let index in data){
        if(data[index].onFlag == 'on'){
          if(data[index].switchKey == 'appRegister'){
            that.registerSwitch = true // 用户注册
          } else if(data[index].switchKey == 'registerTestGuest'){
            that.guestSwitch = true
          } else if(data[index].switchKey == 'loginVerify'){
            that.verifyCodeSwitch = true
          } else if(data[index].switchKey == 'kfSwitch'){
            that.serverSwitch = true
          }
        }
      }
      if(this.verifyCodeSwitch){
        this.verifyCode()
      }
    },
    //免费试玩
    guestUser:function () {
      this.$fetch('native/reg_guest.do').then(res =>{
        if(res.success){
          this.$store.commit('pushIsLogin',true)
          this.$router.push({path:'/'})
          Toast(this.$t('试玩账户登录成功'))
        } else {
          Toast(res.msg)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>
