<template>
  <div class="wallet">
    <page_head></page_head>
    <page_foot></page_foot>
    <div class="nav">
      <div class="menu" v-for="(item,index) in navList" :key="index" :class="{'active':navIndex == index}" @click="toggle(index)">{{ item }}</div>
    </div>
    <div class="box">
<!--      <lottery v-if="navIndex == 0"></lottery>-->
      <sport v-if="navIndex == 0"></sport>
      <real v-if="navIndex == 1"></real>
      <game v-if="navIndex == 2"></game>
      <chess v-if="navIndex == 3"></chess>
    </div>
  </div>
</template>

<script>
import '@/assets/css/tabs/wallet.less'
import page_head from '@/components/include/page_head'
import page_foot from '@/components/include/page_foot'
// import lottery from '@/components/record/lottery'
import sport from '@/components/record/sport'
import real from '@/components/record/real'
import game from '@/components/record/game'
import chess from '@/components/record/chess'
export default {
  name: "account",
  data(){
    return{
      navList:[],
      navIndex:0,
    }
  },
  components:{
    page_head,page_foot,sport,real,game,chess
  },
  created() {
    this.navList = [this.$t('体育'),this.$t('真人'),this.$t('电子'),this.$t('棋牌')]
  },
  mounted() {
  },
  methods:{
    toggle(index){
      this.navIndex = index
    },
  }
}
</script>

<style scoped lang="less">
.service{
  .serviceIframe{
    position: absolute;
    left: 0;
    right: 0;
    top: 5rem;
    bottom: 7.3rem;
    iframe{
      border: none;
      width: 100%;
      height: 100%;
    }
  }
}

</style>
