<template>
  <div class="login">
    <page_head></page_head>
    <page_foot></page_foot>
    <div class="box">
      <div class="title">{{platForm == 1? $t('用户注册') : $t('代理注册')}}</div>
      <div class="user-input">
        <van-cell-group>
          <van-field v-for="(item,index) in informationList" :key="index"
                     v-model="item.value"
                     clearable
                     :label="item.label"
                     :placeholder="item.placeholder"
                     :maxlength="item.maxlength || 10"
                     :type="item.type"
          />
          <van-field
              v-model="sms"
              clearable
              :label="$t('验证码')"
              :placeholder="$t('请输入验证码')"
          />
        </van-cell-group>
        <img @click="verifyCode" :src="verifyCodeImg" alt="">
      </div>
      <div class="user-button">
        <van-row>
          <van-col span="24">
            <van-button type="danger" size="large" @click="registerUser()">{{$t('注册')}}</van-button>
          </van-col>
          <van-col span="24" v-if="agtRegisterSwitch">
            <van-button v-if="platForm == 2" type="danger" size="large" @click="registerType(1)">{{$t('用户注册')}}</van-button>
            <van-button v-if="platForm == 1" type="danger" size="large" @click="registerType(2)">{{$t('代理注册')}}</van-button>
          </van-col>
          <van-col span="24">
            <router-link to="/login"><van-button type="default" size="large">{{$t('返回登录')}}</van-button></router-link>
          </van-col>
          <van-col span="24">
            <router-link to="/service"><van-button type="default" size="large">{{$t('在线客服')}}</van-button></router-link>
          </van-col>
        </van-row>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/login.less'
import page_head from '@/components/include/page_head'
import page_foot from '@/components/include/page_foot'
import { Toast } from 'vant';
export default {
  name: "login",
  components:{
    page_head,page_foot
  },
  data(){
    return{
      verifyCodeNum:1,
      verifyCodeImg:'',
      agtRegisterSwitch:false,
      sms:'',
      platForm:1,
      informationList:[
        {label:this.$t('用户账号'),key:'account',maxlength:11,value:'',type:'text',placeholder:this.$t('用户名为5-11个英文字母或数字'),requiredVal:2},
        {label:this.$t('登录密码'),key:'password',maxlength:16,value:'',type:'password',placeholder:this.$t('密码为6-16个英文字母或数字'),requiredVal:2},
        {label:this.$t('重复密码'),key:'rpassword',maxlength:16,value:'',type:'password',placeholder:this.$t('请再次输入密码'),requiredVal:2},
      ],
    }
  },
  created() {
    this.verifyCode()
    this.getStationSwitch()
  },
  methods:{
    // 网站开关
    getStationSwitch:function (){
      if(this.$store.state.stationSwitch.success){
        this.stationSwitchOperate(this.$store.state.stationSwitch)
      } else {
        this.$fetch('native/getStationSwitch.do').then((res) => {
          if(res.success){
            this.stationSwitchOperate(res)
            this.$store.commit('pushStationSwitch',res)
          }
        })
      }
    },
    stationSwitchOperate:function (res){
      let data = res.content;
      for(let index in data){
        if(data[index].switchKey == 'dailiRegister' && data[index].onFlag == 'on'){
          this.agtRegisterSwitch = true
        }
      }
      this.regConfig()
    },
    registerUser:function(){
      if(this.informationList[1].value != this.informationList[2].value){
        Toast(this.$t('两次密码不一致'))
        return false
      }
      if(!this.sms){
        Toast(this.$t('请输入验证码'))
        return false
      }
      for(let i = 0 ; i < this.informationList.length; i++){
        if(this.informationList[i].requiredVal == 2){
          if(!this.$root.common.dataSafeValidate(1,this.informationList[i].value)){
            return false
          }
        }
      }
      let params = {}
      for(let i = 0; i < this.informationList.length; i++){
        params[this.informationList[i].key] = this.informationList[i].value;
      }
      params['verifyCode'] = this.sms
      params['platForm'] = this.platForm
      this.$post('native/register.do',params,true).then(res =>{
        if(res.success){
          Toast(this.$t('注册成功'));
          if(this.platForm == 1){
            this.$cookies.set("SESSION",res.accessToken)
            this.$store.commit('pushIsLogin',true)
            this.$router.push({path:'/'})
          }
        } else {
          Toast(this.$t(res.msg));
          this.verifyCode()
        }
      })
    },
    regConfig:function () {
      let params = {
        platForm:this.platForm
      }
      this.$fetch( 'native/regconfig.do',params).then(res =>{
        if(res.success){
          if(res.content){
            for(let i in res.content){
              let obj = {type:'text',value:''};
              obj['label'] = res.content[i].name;
              obj['key'] = res.content[i].key;
              obj['placeholder'] = res.content[i].remindText || this.$t('请输入') + res.content[i].name;
              obj['requiredVal'] = res.content[i].requiredVal;
              switch (res.content[i].key) {
                case 'userName':
                  obj['maxlength'] = 4;
                  break;
                case 'qq':
                  obj['maxlength'] = 12;
                  break;
                case 'phone':
                  obj['maxlength'] = 11;
                  break;
                case 'email':
                  obj['maxlength'] = 22;
                  break;
                case 'receiptPwd':
                  obj['maxlength'] = 20;
                  break;
                case 'cardNo':
                  obj['maxlength'] = 25;
                  break;
                case 'wechat':
                  obj['maxlength'] = 20;
                  break;
                case 'promoCode':
                  obj['maxlength'] = 10;
                  break;
                default:
                  obj['maxlength'] = 10;
              }
              this.informationList.push(obj);
            }
          }
        } else {
          Toast(this.$t('获取注册信息失败,请刷新页面重试'))
        }
      }, resolve =>{
        console.log(resolve)
      })
    },
    verifyCode:function () {
      this.verifyCodeImg = this.$store.state.apiUrl + 'native/regVerifycode.do?v=' + new Date().getTime() + '&flag=false'
    },
    registerType:function (num) {
      this.platForm = num
      this.regConfig()
      this.informationList = [
        {label:this.$t('用户账号'),key:'account',maxlength:11,value:'',type:'text',placeholder:this.$t('用户名为5-11个英文字母或数字'),requiredVal:2},
        {label:this.$t('登录密码'),key:'password',maxlength:16,value:'',type:'password',placeholder:this.$t('密码为6-16个英文字母或数字'),requiredVal:2},
        {label:this.$t('重复密码'),key:'rpassword',maxlength:16,value:'',type:'password',placeholder:this.$t('请再次输入密码'),requiredVal:2},
      ]
    },
  }
}
</script>

<style scoped>

</style>
