<template>
  <div class="vip">
    <page_head></page_head>
    <page_foot></page_foot>
    <div class="content">
      <div class="title">{{$store.state.stationInfo.content.title}} VIP {{$t(俱乐部)}}!</div>
      <div class="tip">{{$t('成为')}} {{$store.state.stationInfo.content.title}} VIP {{$t('贵宾可享有受专属福利和奖励')}}! </div>
      <div class="current" v-if="vipData">
        <div class="badge-img">
          <img :src="require('@/assets/images/vip-icon/'+vipData.current+'.png')" alt="">
        </div>
        <div class="level-text">{{$t('当前VIP等级')}}：{{vipData.current}}</div>
        <div class="level-wrap">
          <div class="left-text">{{$t('总存款')}}</div>
          <div class="right-text"><span>{{vipData.nextMoney || 0}}</span>{{$t('到下个等级')}}</div>
          <div class="vip-bar"><div class="inner-bar" :style="{'width': (schedule || 100)+'%'}"></div></div>
        </div>
      </div>
      <div class="level-list-box">
        <div class="level-list" v-for="(item,index) in vipList" :key="index" @click="showGifMoney(item.giftMoney)">
          <img :src="require('@/assets/images/vip-icon/'+item.levelName+'.png')" alt="">
          <span class="name">{{item.levelName}}</span>
          <span class="need">{{item.depositMoney}}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/vip.less'
import page_head from '@/components/include/page_head'
import page_foot from '@/components/include/page_foot'
import {Toast} from 'vant'
export default {
  name: "vip",
  data(){
    return{
      vipList:[],
      schedule:0,
      vipData:this.$store.state.vipData
    }
  },
  components:{
    page_head,page_foot
  },
  created() {
    this.getLevelList()
  },
  mounted() {
    this.schedule = (parseFloat(this.vipData.total) / parseFloat(this.vipData.nextMoney)) * 100
    console.log(this.schedule)
  },
  methods:{
    getLevelList(){
      this.$post('native/levelList.do',{},true).then(res=>{
        this.vipList = res.rows
      })
    },
    showGifMoney(money){
      Toast(this.$t('升级赠送彩金') + '：' + money)
    },
  }
}
</script>

<style scoped lang="less">
</style>
