<template>
  <div class="footer">
    <div class="item">
      <router-link to="/">
        <div class="nav">
          <img v-if="$route.path == '/'" src="@/assets/images/home-selected.jpg" alt="">
          <img v-else src="@/assets/images/home.jpg" alt="">
          <span :class="{'active':$route.path == '/'}">{{$t('foot[0].label')}}</span>
        </div>
      </router-link>
      <router-link to="/tradin">
        <div class="nav">
          <img v-if="$route.path == '/tradin'" src="@/assets/images/tradin-selected.jpg" alt="">
          <img v-else src="@/assets/images/tradin.jpg" alt="">
          <span :class="{'active':$route.path == '/tradin'}">{{$t('foot[1].label')}}</span>
        </div>
      </router-link>
    </div>
    <router-link to="/invest"><div class="mid"></div></router-link>
    <div class="item">
      <router-link to="/share">
        <div class="nav">
          <img v-if="$route.path == '/share'" src="@/assets/images/share-selected.jpg" alt="">
          <img v-else src="@/assets/images/share.jpg" alt="">
          <span :class="{'active':$route.path == '/share'}">{{$t('index[5].label')}}</span>
        </div>
      </router-link>
      <router-link to="/personal">
        <div class="nav">
          <img v-if="$route.path == '/personal'" src="@/assets/images/mine-selected.jpg" alt="">
          <img v-else src="@/assets/images/mine.jpg" alt="">
          <span :class="{'active':$route.path == '/personal'}">{{$t('foot[2].label')}}</span>
        </div>
      </router-link>
    </div>
  </div>
</template>

<script>
import '@/assets/css/include/footer.less'
export default {
  name: "foot_nav",
  data() {
    return {
    }
  },
  created() {
  },
  mounted() {
  },
  methods: {}
}
</script>

<style scoped>

</style>
