<template>
  <div class="header" style="display: flex;justify-content: right;align-items: center;">
    <div class="header-icon" @click="$router.push({path: '/notice'})"><img src="@/assets/images/notice.png" alt=""></div>
    <div class="header-icon"><img src="@/assets/images/service.png" alt=""></div>
    <div class="header-icon" @click="languageShow = !languageShow">{{languageChar}}</div>
    <div class="language" v-show="languageShow">
      <div class="list" @click="changeType('zh')">中文</div>
      <div class="list" @click="changeType('en')">English</div>
      <div class="list" @click="changeType('ja')">日本語</div>
      <div class="list" @click="changeType('po')">Português</div>
      <div class="list" @click="changeType('ind')">Indonésio</div>
      <div class="list" @click="changeType('ko')">Korea</div>
      <div class="list" @click="changeType('je')">Jerman</div>
      <div class="list" @click="changeType('pe')">Perancis</div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/include/header.less'
import {Toast} from "vant";

export default {
  name: "head_nav",
  data() {
    return {
      languageShow:false,
      languageChar: localStorage.getItem('locale') || 'zh',
    }
  },
  created() {
  },
  mounted() {
    this.$cookies.set("language",this.languageChar)
  },
  methods: {
    changeType:function (type){
      localStorage.setItem('locale',type)
      this.$i18n.locale = type
      this.languageChar = type
      Toast(this.$t('toast[0].label'))
      this.$cookies.set("language",type)
      this.languageShow = false
    },
  }
}
</script>

<style scoped>

</style>
