<template>
    <div class="cons" id="index-news-shipin">
        <sp-item
            v-for="(item,index) in resultData"
            :key="'index-movie-item' + index"
            :className="'animated bounceInUp'"
            :styleValue="`animation-delay:0.${index+1}s;animation-name:fadeInUp;`"
            :data="item"
        ></sp-item>
    </div>
</template>
<script>
/**
 * @description 首页 资讯 - 视频
 */
import spItem from '@/components/news/movie'
export default {
    created(){
        this.getDatas()
    },
    data(){
        return {
            resultData:false,                   /* 接口数据 */
        }
    },
    computed:{
        /* 资讯类型列表 */
        NEWS_TYPE_LIST:function(){
            return this.$store.getters.NEWS_TYPE_LIST
        },
        /* 资讯类型实体 */
        NEWS_TYPE_ITEM:function(){
            return this.NEWS_TYPE_LIST.get('sp')
        },
    },
    methods:{
        getDatas:function(){
            this.$http.post('api/News/GetNewsContentList',{
                itid:this.NEWS_TYPE_ITEM.id,
                sid:'',
                nsid:[],
                keyword:'',
                pageIndex:1,
                pageSize:8,
            }).then(response => {
                const {resultCode,resultData} = response.data
                /* 请求成功 */
                if(resultCode == 1){
                    this.resultData = resultData.newsContentList
                }
            })
        }
    },
    components:{
        spItem
    }
}
</script>
<style lang="scss">
#index-news-shipin{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .esports-news-movie{
        flex-shrink: 0;
        width: 310px;
        height: 215px;
        margin: 0 0 15px;
        .img-box{
            width: 310px;
            height: 175px;
            img{
                width: 310px;
                height: 175px;
            }
        }
        .content{
            height: 40px;
            line-height: 40px;
        }
    }
}
</style>