<template>
    <div class="cons animated fadeInRight" id="index-news-photogroup">
        <photo1-item 
            v-for="(item,index) in resultData"
            :arrIndex="index"
            :data="item"
            :className="getItemClassName(index)"
            :key="'index-movie-item'+index">
        </photo1-item>
    </div>
</template>
<script>
import photo1Item from '@/components/news/photo1'
/**
 * @description 首页 资讯 - 图集
 */
export default {
    created(){
        this.getDatas()
    },
    data(){
        return {
            resultData:false,                   /* 接口数据 */
        }
    },
    computed:{
        /* 资讯类型列表 */
        NEWS_TYPE_LIST:function(){
            return this.$store.getters.NEWS_TYPE_LIST
        },
        /* 资讯类型实体 */
        NEWS_TYPE_ITEM:function(){
            return this.NEWS_TYPE_LIST.get('tj')
        },
    },
    methods:{
        getDatas:function(){
            this.$http.post('api/News/GetNewsContentList',{
                itid:this.NEWS_TYPE_ITEM.id,
                sid:'',
                nsid:[],
                keyword:'',
                pageIndex:1,
                pageSize:10,
            }).then(response => {
                const {resultCode,resultData} = response.data
                /* 请求成功 */
                if(resultCode == 1){
                    this.resultData = resultData.newsContentList
                }
            })
        },
        /* 根据遍历下标分配具体样式 */
        getItemClassName(index){
            index += 1
            if(index <= 5){
                return `esports-news-photo-1-${index}`
            }else{
                index = index % 5 ? index % 5 : 5
                return `esports-news-photo-1-${index}`
            }
        },
    },
    components:{
        photo1Item
    }
}
</script>
<style lang="scss">
#index-news-photogroup{
    display: flex;
    flex-wrap: wrap;
}
</style>