<template>
    <div class="cons" id="index-news-news">
        <xw-item 
            v-for="(item,index) in resultData"
            :key="'index-news-item' + index"
            :className="index % 2 ? 'fadeInRight animated' : 'fadeInLeft animated'"
            :data="item" >
        </xw-item>
    </div>
</template>
<script>
/**
 * @description 首页 资讯 - 新闻分类
 */
import xwItem from '@/components/news/news'
export default {
    created(){
        this.getDatas()
    },
    data(){
        return {
            resultData:false,                   /* 接口数据 */
        }
    },
    computed:{
        /* 资讯类型列表 */
        NEWS_TYPE_LIST:function(){
            return this.$store.getters.NEWS_TYPE_LIST
        },
        /* 资讯类型实体 */
        NEWS_TYPE_ITEM:function(){
            return this.NEWS_TYPE_LIST.get('xw')
        },
    },
    methods:{
        getDatas:function(){
            this.$http.post('api/News/GetNewsContentList',{
                itid:this.NEWS_TYPE_ITEM.id,
                sid:'',
                nsid:[],
                keyword:'',
                pageIndex:1,
                pageSize:6,
            }).then(response => {
                const {resultCode,resultData} = response.data
                /* 请求成功 */
                if(resultCode == 1){
                    this.resultData = resultData.newsContentList
                }
            })
        },
    },
    components:{
        xwItem
    }
}
</script>
<style lang="scss">
#index-news-news{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .esports-news-news{
        width: 49%;
        flex-shrink: 0;
        margin-bottom: 2rem;
    }
}
</style>