<template>
    <div class="cons" id="index-news-zhuanti">
        <zt-item 
            v-for="(item,index) in resultData"
            :key="'index-zt-item' + index"
            :className="index % 2 ? 'fadeInRight animated' : 'fadeInLeft animated'"
            :data="item" >
        </zt-item>
    </div>
</template>
<script>
/**
 * @description 首页 资讯 - 专题
 */
import ztItem from '@/components/news/zhuanti'
export default {
    computed:{
        resultData:function(){
            return this.$store.getters.NEWS_SPECIAL_LIST1
        }
    },
    components:{
        ztItem
    }
}
</script>
<style lang="scss">
#index-news-zhuanti{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .esports-news-zhuanti{
        width: 49%;
        flex-shrink: 0;
        margin-bottom: 2rem;
    }
}
</style>