@import "../include/base";
.bank{
  .ground();
  .bank-wrap{
    ul{
      .bank-list-item{
        padding: 19px 23px;
        width: 348px;
        height: 101px;
        margin: 13px auto;
        background: linear-gradient(
                -36deg,#36a2ff,#3483fe);
        border-radius: 13px;
        &:nth-child(2){
          background: linear-gradient(
                  -36deg,#ff746b,#ff575f);
        }
        &:nth-child(3){
          background: linear-gradient(
                  -36deg,#36d4b4,#15be9d);
        }
        .item{
          display: flex;
          justify-content: flex-start ;
          .icon{
            background: url("../../images/personal/icon.5b1aeffc.png") no-repeat;
            background-size: cover;
            height: 35px;
            width: 35px;
            margin-right: 20px;
          }
          .bank-name-num{
            span{
              font-size: 15px;
              font-family: PingFang SC;
              font-weight: 500;
              color: #fff;
              display: block;
            }
            .name{

            }
            .num{}
          }
        }
      }
    }
    .button{
      margin: 20px auto;
      text-align: center;

      span{
        width: 50%;
        text-align: center;
        padding: 10px 0;
        color: #ffffff;
        display: inline-block;
        background:#0f79ff ;
        border-radius: 8px;
      }
    }
  }
}