@import "../include/base";
@import "../center/invests";
.cost{
  .ground();
  .cost-wrap{
    .item-right{
      display: flex;
      flex-direction: column;
        .order{
          margin-top: 12px;
          color: red;
        }

    }
  }
}