@import "../include/base";
.touziDetailed{
  .ground();
  .touziDetailed-wrap{
    .header{
      display: flex;
      flex-direction: column;
      .list{
        display: flex;
        justify-content: space-between;
        padding: 21px 0 20px;
        align-items: center;
        font-size: 16px;
        font-weight: 700;
        color: #383838;
        border-bottom: 1px solid #e9eaec;
        background: #ffffff;
        padding: 14px 14px 20px;
        &:last-child{
          border-bottom:none;
        }
        span{
          font-size: inherit;
        }
      }
      .money{
        span{
          &:last-child{
            border: none;
          }
        }
      }
    }
    .item{
      padding: 14px 14px 20px;
      .item-list{
        margin-bottom: 13px;
        display: flex;
        flex-direction: column;
        background: #ffffff;
        padding: 16px 17px 15px;
        border-radius: 10px;
        .title{
          display: flex;
          justify-content: space-between;
          h1{
            flex: 1;
            font-size: 15px;
            font-weight: 700;
            color: #000;
            line-height: 24px;
            padding-right: 22px
          }
          //span{
          //  width: 63px;
          //  height: 21px;
          //  text-align: center;
          //  background: #d6e9fe;
          //  border: 1px solid #0f79ff;
          //  border-radius: 3px;
          //  font-size: 11px;
          //  color: #0f79ff;
          //  line-height: 18px;
          //}
        }
        .money{
          display: flex;
          justify-content: flex-start;
          padding: 16px 0 ;
          span{
            font-size: 12px;
            font-weight: 500;
            color: #6f6d70;
            padding-right: 10px;
            &:last-child{
              &:before{
                border: none;
              }
            }
          }
        }
        .footers{
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 15px;
          font-weight: 500;
          color: #6f6d70;
          padding-top: 20px;
          span{
            font-size: inherit;
          }
        }
      }
    }
  }
}
