<template>
  <div class="addBank">
    <personal_header :titleDate="titleDate"></personal_header>
    <div class="addBank-wrap">
      <div class="form">
        <van-cell-group>
<!--          <van-field :value="params.bank" clearable label="所属银行" icon="question-o" placeholder="请填写所属银行" size="large"/>-->
          <van-field v-model="params.bank" clearable label="银行名称" icon="question-o" placeholder="请填写银行名称" size="large"/>
          <van-field v-model="params.account" clearable label="卡号" icon="question-o" placeholder="请填写账户" size="large"/>
          <van-field v-model="params.name" clearable label="持卡人" icon="question-o" placeholder="请填写持卡人" size="large"/>
<!--          <van-field :value="params.address" clearable label="开户地址" icon="question-o" placeholder="请填写开户地址" size="large"/>-->
        </van-cell-group>
      </div>
      <div class="submit">
        <div class="button" >
          <span @click="addCard()" style="width: 80%;padding: 15px 0;font-size: 15px">提交</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import personal_header from "@/components/include/personal_header";
import '@/assets/css/center/addBank.less'
import {Toast} from "vant";
export default {
  name: "addBank",
  components:{personal_header},
  data(){
    return{
      titleDate:{title:'添加银行卡',rule:{text:'',url:''}},
      params:{bank:'',account:'',name:'',address:""},
      card:'',
    }
  },
  created() {
    // if(this.$store.state.userInfo.auth != 1){
    //   Toast('请先进行实名认证')
    //   this.$router.push({path:'/auth'})
    // }
  },
  methods:{
    addCard:function (){
      let params = {
        token:this.$store.state.token,
        account:this.params.account,
        bank:this.params.bank,
        name:this.params.name,
      }
      this.$post('user/add_card',params,true).then((res) => {
        if(res.code == 200){
          Toast(res.message)
        } else {
          Toast(res.message)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>
