<template>
  <div id="smp">
    <p v-if="playsName == '组选三' || playsName == '组选六'" class="c-r text-c f-s-18">赔率：{{odds}}</p>
    <van-row  v-for="(item,listIndex) in list" :key="listIndex" class="p-b-t-10 b-b">
      <van-col span="5"> <span class="typeW">{{item.name}}</span>	</van-col>
      <van-col span="19" class="m-t-5">
        <div class="clear">
          <div @click="selectHM(listIndex,hmIndex)" v-for="hm1,hmIndex in item.oddPlayItems" class="pull-l m-r-5 m-t-5">
            <div :class="{hmzsTabActive:hm1.isActive}" class="box  p-5">
              <p class="f-s-16">{{ hm1.name }}</p>
              <p :class="{'c-w':hm1.isActive,'c-3':!hm1.isActive}" class="f-s-14 ">{{hm1.odds}}</p>
            </div>
          </div>
        </div>
      </van-col>
    </van-row>
    <div class="h-50"></div>
  </div>
</template>

<script>
  import {Toast} from 'vant';
    export default {
      props:[
        'list', 'tzSuccess', 'fpText', 'playsName', 'odds'
      ],
      data(){
        return{
          odds:''
        }
      },
      computed: {

      },
      watch:{
        tzSuccess(newName, oldName) {
          if(newName){
            this.clearTzNum();
            this.$forceUpdate();
          }
        },
        fpText(newName, oldName){
          if(newName){
            this.clearTzNum();
          }
          this.fpText = newName;
        }
      },
      methods:{
        clearTzNum(){
          for(let i in this.smpList){
            let newList = this.smpList[i].oddPlayItems;
            for(let n in newList){
              newList[n].isActive = false;
            }
          }
          this.$forceUpdate();
        },
        selectHM:function (listIndex,hmIndex) {
          if(this.playsName == '组选六'){
            let len = 0;
            for(let i in this.list[0].oddPlayItems){
              this.list[0].oddPlayItems[i].isActive? len+=1: '';
            }
            if(len >= 8 && (this.list[listIndex].oddPlayItems[hmIndex].isActive == false)){
              Toast('已达最大选中个数');
              return;
            }
          }
          if(this.fpText){
            return
          }
          this.$emit('selectSmpHm',listIndex, hmIndex);
          this.$forceUpdate();
        }
      }
    }
</script>

<style scoped>
#smp  .box{
  display: inline-block;
  width: 3rem;
  text-align: center;
  font-size: 16px;
  color: #dc3b40;
  background: #faf9f6;
  border-radius: 0;
  border: 1px solid #dfdfdf;
}
</style>
