<template>
	<div class="flexWrap">
		<van-nav-bar @click-left="back" left-text="返回" left-arrow class="bg-h c-w" :title="type=='login'?'修改登陆密码':'修改取款密码'" />
		<div class="flexContent">
			<van-cell-group>
				<van-field class="p-l-10" v-model="ypwd" clearable type="password" label="输入旧密码" placeholder="请输入旧密码" />
				<van-field v-model="xpwd" type="password" clearable label="输入新密码" placeholder="请输入新密码" />
				<van-field v-model="qwpwd" type="password" clearable label="重复新密码" placeholder="请再次输入新密码" />
			</van-cell-group>
			<van-button @click="submits" size="normal" type="danger"  style="background: var(--l-button);border-color: var(--l-button);margin:20px 0 20px 10%;">提交</van-button>
		</div>
	</div>
</template>

<script>
	import { Dialog } from 'vant';
	import { Toast } from 'vant';
	export default {
		data() {
			return {
				ypwd:'',//原密码
				xpwd:'',//新密码
				qwpwd:'',//确认密码
				type:'',//类型，/登陆密码/取款密码
			}
		},
		watch: {

		},
		created: function() {
			this.type = this.$route.query.type;
		},
		mounted: function() {

		},
		methods: {
			//提交
			submits:function(){
				if(!this.ypwd){
					Toast('请输入旧密码');
					return false;
				}else if(!this.xpwd){
					Toast('请输入新密码');
					return false;
				}else if(!this.qwpwd){
					Toast('请输入确认密码');
					return false;
				}else if(this.qwpwd != this.xpwd){
					Toast('两次密码不一致');
					return false;
				}else{
					this.save();//保存
				}
			},
			//保存
			save: function() {
				const loading = Toast.loading({
					duration: 0, // 持续展示 toast
					forbidClick: true, // 禁用背景点击
					loadingType: 'spinner',
					message: '提交中'
				});
				var data = {
					oldpassword : this.ypwd,//旧密码
					newpassword : this.xpwd,//新密码
					confirmpassword : this.qwpwd //确认密码
				}
				var path;
				this.type == 'login' ? path = 'native/modify_pass' : path = 'native/modify_cashpass';
				$sky.ajax('post', path , data , (ret) => {
					if(ret.success) {
						loading.clear();
						Toast.success('修改成功');
						setTimeout(()=>{
							window.history.go(-1);
						})
					} else {
						loading.clear();
						if(!ret.isLogin){
							Dialog.alert({
								title: '登陆提示',
								message: ret.msg
							}).then(() => {
								this.$router.push({
									path: '/login',
									query: {}
								})
							});
						}
					}
				})
			},
			back: function() {
				window.history.go(-1);
			},
		}
	}
</script>

<style scoped>
	/*.van-field{*/
		/*padding-left: 36px;*/
		/*background: url(/static/img/index/ico-modifyPas.png) no-repeat;*/
		/*background-position: 15px;*/
		/*background-size: 14px;*/
	/*}*/
	.van-button--normal {
		width: 80%;
		margin: 20px 10%;
	}
  .van-button__text{
    color: #ffffff!important;
  }
</style>
