<template>
  <div class="lottery">
    <div class="fixed">
      <header>
        <router-link to="/">
          <van-icon name="arrow-left"/>
        </router-link>
        <span @click="classifyShow = !classifyShow">{{ lottery.name }}<b
            v-if="!classifyShow"> - {{ majorData.className }} {{ majorData.name }}</b></span>
        <van-icon name="arrow-down" class="ups" @click="classifyShow = !classifyShow" v-if="!classifyShow"/>
        <van-icon name="arrow-up" class="ups" @click="classifyShow = !classifyShow" v-else/>
        <span class="header-more" @click="moreShow = true">
          <van-icon name="setting-o"/>{{$t('助手')}}
        </span>
      </header>
      <div class="lottery-classify" v-show="classifyShow">
        <div class="betNavCon">
          <ul :style="{'width' : '' + lottery.rules.length * 106 + 'px'}">
            <li @click="playClick(index,item.name)" :class="{active:lotterySelect.one == index}"
                v-for="(item, index) in lottery.rules" :key="index">{{ item.name }}
            </li>
          </ul>
        </div>
        <div class="betNavSon">
          <ul v-if="$route.query.lotGroup == '7'" :style="{'width' : '' + k3Rules.length * 106 + 'px'}">
            <li @click="sonPlayClick(index,item.name,item.name)"
                :class="{active:lotterySelect.two == index && majorData.name == item.name}"
                v-for="(item, index) in k3Rules" :key="index">{{ item.name }}
            </li>
          </ul>
          <ul v-else :style="{'width' : '' + lottery.rules[lotterySelect.one].rules.length * 106 + 'px'}">
            <li @click="sonPlayClick(index,item.name,item.code)"
                :class="{active:lotterySelect.two == index && majorData.name == item.name}"
                v-for="(item, index) in lottery.rules[lotterySelect.one].rules" :key="index">{{ item.name }}
            </li>
          </ul>
        </div>
      </div>
      <div class="betTitle">
        <div class="time">
          <div class="time-title">
            <b>{{ lotteryStatus.qiHao }} </b>{{$t('期')}}{{$t('投注截止')}}
          </div>
          <div class="time-font">
            <van-count-down v-if="!lotteryStatus.countdown" :time="lotteryStatus.time" @finish="finish"
                            format="HH:mm:ss"/>
            <em v-else>
              <div>{{ lotteryStatus.text }}</div>
            </em>
          </div>
        </div>
        <div class="money" @click="getMeminfo()">
          <div class="time-title">
            {{$t('余额')}}
          </div>
          <div class="time-font">
            <van-icon name="gold-coin"/>
            {{ money }}
            <van-icon name="replay"/>
          </div>
        </div>
      </div>

      <div class="openResult" @click="lotteryResult.show = true">
        <b>{{ lotteryResult.content[0].qiHao }}</b>{{$t('期')}}：
        <div v-show="!lotteryResult.animated" class="default">
          <ul>
            <li v-for="(item,index) in lotteryResult.content[0].haoMaList" :key="index">
              <span
                  :style="{background:$route.query.lotGroup == 3 ? $root.common.resultNumberColor(item) : '',color:$route.query.lotGroup == 3 ? '#fff' : '' }">{{
                  item
                }}</span>
            </li>
            <li v-show="$route.query.lotGroup == 7">
              <span style="background: none">=</span>
            </li>
            <li v-show="$route.query.lotGroup == 7"
                v-for="(item,index) in lotteryResult.content[0].result.split(',')" :key="index + 'k3'">
              <span style="background: none;color: red">{{ item }}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="lottery-title">
        <span @click="todayData" class="nowWinERR">{{$t('今日输赢')}}</span>
        <div v-if="sonData.model != 1">
          <span class="active">{{$t('快捷投注')}}</span>
          <span>{{$t('赔率')}}：<b>{{ sonData.zuxuanPeilv }}</b></span>
        </div>
        <div class="nonGroup" v-else>
          <span :class="{active:betModel == 1}" @click="betModelChang(1)">{{$t('一般投注')}}</span>
          <span :class="{active:betModel == 2}" @click="betModelChang(2)">{{$t('快捷投注')}}</span>
        </div>
      </div>
    </div>
    <div class="lottery-content" :class="{'m-bottom-9':betModel == 2}">
      <div v-if="$route.query.lotGroup == '1' && majorData.name">
        <officialSsc :key="majorData.sonCode" :sonData="sonData" :params="majorData" :lottery="lottery"
                     :betModel="betModel" ref="template"></officialSsc>
      </div>
      <div v-else-if="$route.query.lotGroup == '2' && majorData.name">
        <officialDpc :key="majorData.sonCode" :sonData="sonData" :params="majorData" :lottery="lottery"
                     :betModel="betModel" ref="template"></officialDpc>
      </div>
      <div v-else-if="$route.query.lotGroup == '3' && majorData.name">
        <officialPk10 :key="majorData.sonCode" :sonData="sonData" :params="majorData" :lottery="lottery"
                      :betModel="betModel" ref="template"></officialPk10>
      </div>
      <div v-else-if="$route.query.lotGroup == '5' && majorData.name">
        <officialSyxw :key="majorData.sonCode" :sonData="sonData" :params="majorData" :lottery="lottery"
                      :betModel="betModel" ref="template"></officialSyxw>
      </div>
      <div v-else-if="$route.query.lotGroup == '6' && majorData.name">
        <officialLhc :key="majorData.sonCode" :sonData="sonData" :params="majorData" :lottery="lottery"
                     :betModel="betModel" ref="template"></officialLhc>
      </div>
      <div v-else-if="$route.query.lotGroup == '7' && majorData.name">
        <officialK3 :key="majorData.sonCode" :sonData="sonData" :params="majorData" :lottery="lottery"
                    :betModel="betModel" ref="template"></officialK3>
      </div>
      <div v-else-if="$route.query.lotGroup == '8' && majorData.name">
        <officialKlsf :key="majorData.sonCode" :sonData="sonData" :params="majorData" :lottery="lottery"
                      :betModel="betModel" ref="template"></officialKlsf>
      </div>
      <div v-else-if="$route.query.lotGroup == '9' && majorData.name">
        <officialPcegg :key="majorData.sonCode" :sonData="sonData" :params="majorData" :lottery="lottery"
                       :betModel="betModel" ref="template"></officialPcegg>
      </div>
    </div>
    <div class="lottery-submit">
      <div class="money" v-if="betModel == 2">
        <span>{{$t('快捷金额')}}</span>
        <input type="number" :placeholder="$t('请输入投注金额')" v-model="fastMoney"
               @input="sonData.money = fastMoney * sonData.number">
      </div>
      <div class="btn">
        <span class="info">{{ sonData.number }}{{$t('注')}}</span>
        <span class="info">{{ sonData.money }}{{$t('元')}}</span>
        <van-button type="primary" color="#064767" @click="orderInfo">
          <span>{{$t('投注')}}</span>
        </van-button>
        <van-button type="primary" color="#464646" @click="clearData">{{$t('清空')}}</van-button>
      </div>
    </div>
    <van-popup v-model="lotteryResult.show" position="bottom" :style="{ height: '100%' }">
      <header class="public-header" style="position: fixed;z-index: 999">
        <a href="#" @click="lotteryResult.show = false">
          <van-icon name="arrow-left"/>
        </a>
        <span>{{ lottery.name }}{{$t('近期开奖结果')}}</span>
      </header>
      <div class="draw-notice" style="margin-top: 5rem">
        <div class="content">
          <ul>
            <li v-for="(item, index) in lotteryResult.content" :key="index" :class="{backGay:index%2}">
              <div class="list-font" style="width: 100%;padding-left: 10px;box-sizing: border-box">
                <div class="title">
                  <span>{{$t('第')}}{{ item.qiHao }}{{$t('期')}}</span>
                  <span>{{ item.date }}{{ item.time }}</span>
                </div>
                <div class="result" v-if="item.haoMaList.indexOf('?') != -1">
                  <span style="color: red;font-size: 1.6rem">
                    {{$t('开奖中')}}...
                  </span>
                </div>
                <div class="result" v-else-if="$route.query.lotGroup == 7">
                  <div class="result-number">
                    <span v-for="(item2, index2) in (item.haoMaList || [])" :key="index2">
                      <img :src="$root.common.resultKsColor(item2)">
                    </span>
                  </div>
                  <div class="result-bigSmall">
                    <span>{{ item.gySum }}</span>
                    <span :style="{color:item.sizeStr == '大' ? '#005ea6' :'#63a73e' }">{{ item.sizeStr }}</span>
                    <span :style="{color:item.sizeStr == '单' ? '#ff9600' :'#0082fe' }">{{ item.sdStr }}</span>
                  </div>
                  <!--                  <span v-for="(item2, index2) in (item.haoMaList || [])" :key="index2">-->
                  <!--                    <img :src="$root.common.resultKsColor(item2)">-->
                  <!--                  </span>-->
                  <!--                  <div v-show="$route.query.lotGroup == 7" >-->
                  <!--                    <span style="background: none">=</span>-->
                  <!--                  </div>-->
                  <!--                  <div v-show="$route.query.lotGroup == 7" v-for="(item,index) in lotteryResult.content[0].result.split(',')" :key="index + 'k3'">-->
                  <!--                    <span style="background: none;color: red">{{item}}</span>-->
                  <!--                  </div>-->
                </div>
                <div class="result" v-else-if="$route.query.lotGroup == 3">
                <span v-for="(item2, index2) in (item.haoMaList || [])" :key="index2"
                      :style="{background:$root.common.resultNumberColor(item2)}"
                      style="display: block;float: left;color: #ffffff;margin-left: 3px;border-radius: 3px;width: 2.2rem;height: 2.2rem;text-align: center;line-height: 2.2rem;">
                  {{ item2 }}
                </span>
                </div>
                <div class="result number" v-else>
                  <span v-for="(item2, index2) in (item.haoMaList || [])" :key="index2">
                    {{ item2 }}
                  </span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </van-popup>
    <van-overlay :show="betResultShow">
      <div class="wrapper" @click.stop>
        <div class="title">
          {{$t('注单信息')}}
        </div>
        <div class="content">
          <div class="list">
            <table>
              <thead>
              <tr>
                <td>{{$t('类型')}}</td>
                <td>{{$t('号码')}}</td>
                <td>{{$t('金额')}}</td>
              </tr>
              </thead>
              <tbody>
              <tr v-for="(item, index) in sonData.betList" :key="index">
                <td>{{ majorData.className }} - {{ majorData.name }}</td>
                <td>{{ item.name }}</td>
                <td v-if="betModel == 1">{{ item.money }}</td>
                <td v-else>{{ fastMoney }}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="order">
            <div class="info">
              <b>{{ sonData.number }}</b>{{$t('注')}}
              <b>{{ (sonData.money * (moneyTypeList[moneyTypeClick].value || 1)).toFixed(2) }}</b>{{$t('元')}}
              <button @click="moneyTypeClick = index" v-for="(item, index) in moneyTypeList" :key="index"
                      :class="{active:moneyTypeClick == index}">{{ item.label }}
              </button>
            </div>
          </div>
          <div class="btn">
            <van-button type="default" @click="betResultShow = false">{{$t('取消')}}</van-button>
            <van-button type="default" @click="bet">{{$t('确定')}}</van-button>
          </div>
        </div>
      </div>
    </van-overlay>
    <van-overlay :show="todayDataShow" @click="todayDataShow = false">
      <div class="wrapper" @click.stop>
        <div class="title">{{$t('今日输赢')}}</div>
        <div class="content">
          <ul>
            <li>{{$t('今日消费')}}：<b>{{ winOrLost.allBetAmount }} {{$t('元')}}</b></li>
            <li>{{$t('今日中奖')}}：<b>{{ winOrLost.allWinAmount }} {{$t('元')}}</b></li>
            <li>{{$t('今日盈亏')}}：<b>{{ winOrLost.yingkuiAmount }} {{$t('元')}}</b></li>
          </ul>
        </div>
        <div class="btn">
          <van-button type="default" @click="todayDataShow = false" style="width: 100%">{{$t('关闭')}}</van-button>
<!--          <van-button type="default" @click="shareScore">分享</van-button>-->
        </div>
      </div>
    </van-overlay>
    <van-popup v-model="moreShow" position="right" :style="{ width: '60%',height: '100%' }">
      <div class="more-module">
        <div class="box">
          <ul class="nav">
            <li>
              <router-link :to="{path:'/record'}">
                <img src="../../assets/images/take-notes.png">
                <span>{{$t('投注记录')}}</span>
              </router-link>
            </li>
<!--            <li>-->
<!--              <router-link-->
<!--                  :to="{path:'/draw_notice_details',query:{code:lottery.code,lotGroup:lottery.viewGroup,name:lottery.name}}">-->
<!--                <img src="../../assets/images/history_ico.png"><span>历史开奖</span>-->
<!--              </router-link>-->
<!--            </li>-->
            <li>
              <!--            <a :href="'/mobile/v3/lottery_rules.do?lotCode=' + lottery.code">-->
              <a href="javascript:void(0)" @click="showRule()">
                <img src="../../assets/images/explain_ico.png"><span>{{$t('玩法说明')}}</span>
              </a>
            </li>
            <li>
              <a :href="'/mobile/v3/bet_lotterys_trends.do?lotCode=' + lottery.code">
                <img src="../../assets/images/trend.png"><span>{{$t('走势图')}}</span>
              </a>
            </li>
          </ul>
          <div v-for="(item,index) in moreLotteryGroup" :key="index">
          <span class="title">
            {{ item.name }}
          </span>
            <ul>
              <li v-show="item2.lotGroup == item.code" v-for="(item2,index2) in moreLotteryList" :key="index2">
                <router-link :to="{path:'/lottery',query:{code:item2.code,lotGroup:item2.lotGroup}}">
                  <img :src="item2.imgUrl" alt=""><span>{{ item2.name }}</span>
                </router-link>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </van-popup>
    <van-popup v-model="ruleShow" position="bottom" :style="{ height: '70%' }">
      <div class="rule-content" style="font-size: 1.5rem;padding: 1rem;line-height: 2.5rem;">
        <span v-html="ruleContent"></span>
      </div>
    </van-popup>
  </div>
</template>

<script>
import '@/assets/css/lottery.less'
import '@/assets/css/draw_notice.less'
import $ from "jquery";
import {Toast} from 'vant'
import officialSsc from '@/components/lottery/more/ssc/official'
import officialDpc from '@/components/lottery/more/dpc/official'
import officialPk10 from '@/components/lottery/more/pk10/official'
import officialSyxw from '@/components/lottery/more/syxw/official'
import officialLhc from '@/components/lottery/more/lhc/official'
import officialK3 from '@/components/lottery/more/k3/official'
import officialPcegg from '@/components/lottery/more/pcegg/official'
import officialKlsf from '@/components/lottery/more/klsf/official'

export default {
  name: "lottery",
  components: {
    officialSsc, officialDpc, officialPk10, officialSyxw, officialLhc, officialK3, officialPcegg, officialKlsf
  },
  data() {
    return {
      majorData: {
        code: this.$route.query.code,
        sonCode: '',
        className: '',
        name: '',
      },
      moreShow: false,
      lottery: '',
      money: 0,
      floder: this.$store.state.stationInfo.content.station.floder,
      k3Rules: [], //快三玩法拼接
      lotterySelect: {
        one: 0,
        two: 0
      },
      moneyTypeList: [
        {label: '元', value: '1'}
      ],
      moneyTypeClick: 0,
      classifyShow: false,
      lotteryStatus: {
        time: 24 * 60 * 60 * 1000,
        qiHao: '20200202',
        text: this.$t('封盘中')
      },
      // 开奖数据
      lotteryResult: {
        content: [{qiHao: '-', haoMaList: ['-,-,-,-,-'], result: '-'}],
        animated: true,
        countdown: true,
        show: false,
        money: true,
      },
      betModel: 1, // 1一般投注  2 快捷投注
      betModelList: [this.$t('直选')], // 模式2彩种预设
      todayDataShow: false,
      winOrLost: '', //今日输赢
      // 子组件所需要数据
      sonData: {
        templateList: '', //彩种模板数据
        thatPlayType: '', //彩种数据
        betList: [],
        zuxuanPeilv: 0,
        model: 1, // 1正常模式  2 组选模式  3直选模式
        money: 0,
        number: 0,
        zuxuanNumList: []
      },
      fastMoney: '', // 快捷下注金额
      betResultShow: false, // 投注框
      moreLotteryList: [], // 彩种列表
      moreLotteryGroup: [], // 彩种分类
      IntervalMeminfo: '', // 获取金额定时器
      ruleShow: false,
      ruleContent: ''
    }
  },
  created() {
    this.getLotteryDetail()
  },
  mounted() {
    this.getCountDown()
    this.openResultDetail()
    this.getMeminfo()
    this.getStationSwitch()
    this.getLoctterys()
    this.getLotteryGroup()
  },
  watch: {
    // 切换彩种初始化页面数据
    '$route.query.code'() {
      this.moreShow = false
      this.lotterySelect.one = 0
      this.lotterySelect.two = 0
      this.lotteryResult.content = [{qiHao: '-', haoMaList: ['-,-,-,-,-'], result: '-'}]
      this.majorData.code = this.$route.query.code;
      this.getLotteryDetail()
      this.openResultDetail()
      this.getLoctterys()
      this.getCountDown()
      this.clearData()
    }
  },
  methods: {
    // 网站开关
    getStationSwitch: function () {
      let list = [
        {label: this.$t('元'), value: '1'},
        {label: this.$t('角'), value: '0.1'},
        {label: this.$t('分'), value: '0.01'}
      ]
      this.$fetch('native/getStationSwitch.do').then((res) => {
        if (res.success) {
          if (res.content[0].onFlag == '111') {
            this.moneyTypeList = []
            this.moneyTypeList = list
          } else if (res.content[0].onFlag == '110') {
            this.moneyTypeList = []
            this.moneyTypeList.push(list[0])
            this.moneyTypeList.push(list[1])
          }
        }
      })
    },
    // 获取余额
    getMeminfo: function () {
      this.$fetch('native/meminfo.do').then(res => {
        if (res.success) {
          this.money = res.content.balance
        }
      })
    },
    // 获取彩种列表
    getLoctterys: function () {
      this.$fetch('native/getLoctterys.do').then(res => {
        if (res.success) {
          this.moreLotteryList = res.content
          res.content.some(item => {
            if (item.code == this.$route.query.code) {
              this.betModel = item.showFlag;
              return true
            }
          })
        }
      })
    },
    // 获取彩种分类
    getLotteryGroup: function () {
      this.$fetch('native/lotteryGroup.do').then(res => {
        if (res.success) {
          this.moreLotteryGroup = res.content
        }
      })
    },
    // 今日输赢
    todayData: function () {
      this.todayDataShow = true
      this.$fetch('mobile/v3/winOrLost.do').then(res => {
        if (res.success) {
          this.winOrLost = res
        }
      })
    },
    // 获取开奖数据
    openResultDetail: function () {
      let that = this
      clearInterval(this.openResultFor);
      this.lotteryResult.animated = true
      if (that.lotteryResult.money) {
        that.getMeminfo()
      }
      // this.lotteryStatus.countdown = false
      let params = {
        lotCode: this.majorData.code
      }
      this.$fetch('native/open_result_detail.do', params).then(res => {
        this.lotteryResult.money = false
        if (res.success) {
          this.lotteryResult.content = res.content
          if (res.content[0].haoMaList[0] == '?') {
            this.openResultFor = setInterval(function () {
              that.openResultDetail()
            }, 10000)
          }
          if (!this.lotteryResult.content[0].result) {
            for (let index in this.lotteryResult.content) {
              this.lotteryResult.content[index].result = '?,?,?'
            }
          }
          this.lotteryResult.animated = false
          // if(!this.lotteryStatus.countdown){
          //   this.getCountDown()
          // }
        } else {
          this.lotteryStatus.countdown = true
          this.lotteryStatus.text = this.$t('尚未开盘')
        }
      })
    },
    // 获取彩种数据
    getLotteryDetail: function () {
      let that = this, cookieIs = true, indexIs = 0
      // 判断是否将彩种数据储存于缓存中
      $.each(this.$store.state.beforeLotteryData, function (index, item) {
        if (item.code == that.$route.query.code) {
          cookieIs = false
          indexIs = index
          return false
        }
      })
      if (cookieIs) {
        let params = {
          lotCode: this.majorData.code
        }
        this.$fetch('native/getLotGamePlays.do', params, true).then(res => {
          if (res.success) {
            that.$store.commit('pushBeforeLotteryData', res.content)
            that.lotteryDataArr(this.$store.state.beforeLotteryData.length - 1)
          }
        })
      } else {
        that.lotteryDataArr(indexIs)
      }
    },
    lotteryDataArr: function (indexIs) {
      let that = this
      this.lottery = this.$store.state.beforeLotteryData[indexIs]
      this.majorData.czCode = this.lottery.czCode
      this.majorData.className = this.lottery.rules[0].name
      this.majorData.sonCode = this.lottery.rules[0].rules[0].code
      this.majorData.name = this.lottery.rules[0].rules[0].name
      this.ruleContent = this.lottery.rules[0].rules[0].detailDesc
      // 拼接快三玩法
      this.k3Rules = []
      if (that.$route.query.lotGroup == 7) {
        $.each(that.lottery.rules[0].rules[0].oddPlayItems, function (index, item) {
          let newobj = [];
          for (let k in item) {
            newobj[k] = item[k]
          }
          if (item.name.indexOf('点') == -1) {
            that.k3Rules.push(newobj)
          } else {
            newobj.name = '点数'
            that.k3Rules.push(newobj)
            return false
          }
        })
        that.majorData.sonCode = '大小骰宝'
      }
    },
    // 获取期号时间
    getCountDown: function () {
      let that = this
      let params = {
        lotCode: this.majorData.code,
        version: 5
      }
      this.$fetch('native/getCountDown.do', params, false).then(res => {
        if (res.success) {
          let time = res.content.activeTime - res.content.serverTime
          clearInterval(this.timeFor);
          if (time > 1000) {
            this.lotteryStatus.time = res.content.activeTime - res.content.serverTime
          } else {
            this.timeFor = setInterval(function () {
              that.getCountDown()
            }, 5000)
          }
          this.lotteryStatus.qiHao = res.content.qiHao
        }
      })
    },
    // 倒计时结束
    finish: function () {
      Toast((this.lotteryStatus.qiHao) + this.$t('已截止，投注请注意当前期号'));
      this.getCountDown()
      this.lotteryResult.money = true;
      this.openResultDetail()
    },
    // 大玩法点击
    playClick: function (index, name) {
      this.lotterySelect.one = index;
      this.lotterySelect.two = 0;
      this.majorData.className = name;
      this.clearData()
    },
    // 小玩法点击
    sonPlayClick: function (index, name, code) {
      this.lotterySelect.two = index;
      this.majorData.name = name;
      this.majorData.sonCode = code
      this.classifyShow = !this.classifyShow
      this.ruleContent = this.lottery.rules[this.lotterySelect.one].rules[this.lotterySelect.two].detailDesc
      let that = this
      for (let index in that.betModelList) {
        if (that.majorData.className == that.betModelList[index]) {
          that.betModel = 2
        }
      }
      this.clearData()
    },
    betModelChang: function (type) {
      this.betModel = type
      this.clearData()
    },
    // 11选五直选较为特殊，故不在公共模板处理
    // 普通选中号码
    addCart: function (index, index2) {
      let data = this.sonData.templateList[index].oddPlayItems[index2], that = this, is = true
      let params = {
        max: data.maxBetAmmount,
        min: data.minBetAmmount,
        name: data.classify,
        oddsId: data.id,
        playCode: data.playCode,
        odds: data.odds,
        money: data.money,
      };
      $.each(this.sonData.betList, function (index, item) {
        if (item.name == data.classify) {
          if (that.betModel == 1) {
            if (!data.money) {
              that.sonData.betList.splice(index, 1)
              data.isActive = false
            } else {
              item.money = data.money
            }
          } else {
            that.sonData.betList.splice(index, 1)
            data.isActive = false
          }
          is = false
          return false
        }
      });
      if (is) {
        if (this.betModel == 1) {
          if (data.money) {
            data.isActive = true
            this.sonData.betList.push(params)
          }
        } else {
          data.isActive = true
          this.sonData.betList.push(params)
        }
      }
      this.orderNumber()
    },
    addCartCheck: function (index, index2) {
      this.betModel = 2
      let that = this, is = true, oddsId = 0, data = this.sonData.templateList[index].oddPlayItems[index2];
      let params = {
        max: data.maxBetAmmount,
        min: data.minBetAmmount,
        oddsId: oddsId,
        name: [],
        playCode: data.playCode,
        odds: data.odds,
      };
      if (that.sonData.betList.length < 1) {
        that.sonData.betList.push(params)
      }
      $.each(that.sonData.betList[0].name, function (index, item) {
        if (item == data.name) {
          that.sonData.betList[0].name.splice(index, 1)
          data.isActive = false
          is = false
          return false
        }
      });
      if (is) {
        that.sonData.betList[0].name.push(data.name)
        data.isActive = true
      }
      // 计算注数赔率
      if (this.majorData.sonCode.indexOf('zuxuansan') != -1) {
        if (that.sonData.betList[0].name.length >= 5) {
          // 计算注数
          $.each(this.sonData.thatPlayType, function (index, item) {
            if (item.code == that.majorData.sonCode) {
              that.sonData.zuxuanPeilv = item.oddPlayItems[that.sonData.betList[0].name.length - 5].odds
              that.sonData.betList[0].oddsId = item.oddPlayItems[that.sonData.betList[0].name.length - 5].id
              that.sonData.number = 1
              return false
            }
          })
        } else {
          that.sonData.number = 0
          that.sonData.zuxuanPeilv = 0
        }
      } else if (this.majorData.sonCode.indexOf('zuxuanliu') != -1) {
        if (that.sonData.betList[0].name.length >= 4 && that.sonData.betList[0].name.length <= 8) {
          // 计算注数
          $.each(this.sonData.thatPlayType, function (index, item) {
            if (item.code == that.majorData.sonCode) {
              that.sonData.zuxuanPeilv = item.oddPlayItems[that.sonData.betList[0].name.length - 4].odds
              that.sonData.betList[0].oddsId = item.oddPlayItems[that.sonData.betList[0].name.length - 4].id
              that.sonData.number = 1
              return false
            }
          })
        } else {
          that.sonData.number = 0
          that.sonData.zuxuanPeilv = 0
        }
      }
    },
    addCartCheck2: function (index, index2) {
      this.betModel = 2
      let that = this, is = true, data = this.sonData.templateList[index].oddPlayItems[index2];
      let params = {
        max: data.maxBetAmmount,
        min: data.minBetAmmount,
        minNumber: data.minSelected,
        oddsId: data.id,
        name: [],
        playCode: data.playCode,
        odds: data.odds,
      };
      if (that.sonData.betList.length < 1) {
        that.sonData.betList.push(params)
      }
      $.each(that.sonData.betList[0].name, function (index, item) {
        if (item == data.name) {
          that.sonData.betList[0].name.splice(index, 1)
          data.isActive = false
          is = false
          return false
        }
      });
      if (is) {
        // if(isNaN(data.name)){
        //   that.sonData.betList[0].name.push(data.name)
        // } else {
        //   that.sonData.betList[0].name.push(parseInt(data.name))
        // }
        that.sonData.betList[0].name.push(data.name)
        data.isActive = true
      }
      this.sonData.number = this.getFlagArrs(that.sonData.betList[0].name.length, data.minSelected).length
      this.sonData.money = this.fastMoney * this.sonData.number
    },
    orderInfo: function () {
      try {
        if (this.majorData.sonCode.indexOf('zuxuanliu') != -1 && this.sonData.betList[0].name.length < 4) {
          Toast(this.$t('请选择4-8注号码'))
          return false
        }
        if (this.majorData.sonCode.indexOf('zuxuansan') != -1 && this.sonData.betList[0].name.length < 5) {
          Toast(this.$t('请选择5-10注号码'))
          return false
        }
      } catch (e) {
        Toast(this.$t('请选择下注号码'))
        return false
      }
      if (this.sonData.betList.length < 1) {
        Toast(this.$t('请选择号码'))
      } else if (this.betModel == 2 && !this.fastMoney) {
        Toast(this.$t('请填写下注金额'))
      } else if (this.sonData.number < 1) {
        Toast(this.$t('请选择至少') + (this.sonData.betList[0].minNumber || 1) + this.$t('注') + this.$t('号码'))
      } else {
        this.betResultShow = true
      }
    },
    bet: function () {
      this.betResultShow = false
      let moneyType = this.moneyTypeList[this.moneyTypeClick].value
      let that = this, data = []
      let sonCode = this.majorData.sonCode
      if (sonCode.indexOf('zuxuansan') != -1) {
        sonCode = 'zuxuansan'
      } else if (sonCode.indexOf('zuxuanliu') != -1) {
        sonCode = 'zuxuanliu'
      }
      let betInfo = {
        lotType: this.majorData.czCode,
        groupCode: sonCode,
        qiHao: this.lotteryStatus.qiHao,
        version: 5,
        lotCode: this.majorData.code,
        data: []
      }
      $.each(this.sonData.betList, function (index, item) {
        let params = {
          max: item.max,
          min: item.min,
          name: item.name,
          oddsId: item.oddsId,
          playCode: item.playCode,
        };
        if (that.betModel == 1) {
          params.money = item.money * moneyType
        } else {
          params.money = that.fastMoney * moneyType
        }
        data.push(params)
      })
      // 组选重组name数据
      if (this.sonData.model == 2) {
        let newNameList = ''
        $.each(data[0].name, function (index, item) {
          newNameList += item + ','
        })
        data[0].name = newNameList
      }
      betInfo.data = JSON.stringify(data)
      this.$post('native/dolotBet.do', betInfo, true).then(res => {
        if (res.success) {
          Toast(this.$t('投注成功'))
          that.getMeminfo()
          that.clearData();
        } else {
          Toast(res.msg)
        }
      })
    },
    // 组选计算注数
    getFlagArrs: function (m, n) {
      if (m < n) {
        return []
      } else if (m === n) {
        return [0]
      }
      if (!n || n < 1) {
        return [];
      }
      let resultArrs = [],
          flagArr = [],
          isEnd = false,
          i, j, leftCnt;
      for (i = 0; i < m; i++) {
        flagArr[i] = i < n ? 1 : 0;
      }
      resultArrs.push(flagArr.concat());
      while (!isEnd) {
        leftCnt = 0;
        for (i = 0; i < m - 1; i++) {
          if (flagArr[i] == 1 && flagArr[i + 1] == 0) {
            for (j = 0; j < i; j++) {
              flagArr[j] = j < leftCnt ? 1 : 0;
            }
            flagArr[i] = 0;
            flagArr[i + 1] = 1;
            var aTmp = flagArr.concat();
            resultArrs.push(aTmp);
            if (aTmp.slice(-n).join("").indexOf('0') == -1) {
              isEnd = true;
            }
            break;
          }
          flagArr[i] == 1 && leftCnt++;
        }
      }
      return resultArrs;
    },
    // 计算注数
    orderNumber: function () {
      let that = this
      this.sonData.number = 0
      this.sonData.money = 0
      this.sonData.number = this.sonData.betList.length
      if (this.betModel == 1) {
        $.each(this.sonData.betList, function (index, item) {
          that.sonData.money += parseFloat(item.money)
        });
      } else {
        this.sonData.money = this.sonData.number * (this.fastMoney || 0)
      }
    },
    // 清洗数据
    clearData: function () {
      this.$refs.template.showTemplate();
      this.sonData.betList = []
      this.sonData.number = 0
      this.sonData.money = 0
      this.fastMoney = ''
    },
    showRule: function () {
      this.ruleShow = true
    }
  },
}
</script>

<style scoped lang="less">
.x00288Style {
  .nowWinERR {
    width: 50% !important;
  }

  .nonGroup {
    width: 50% !important;

    span {
      &:first-child {
        display: none;
      }

      &:last-child {
        width: 100% !important;
      }
    }
  }
}
</style>
