<template>
  <div :class="{mode:true,d00315PcDDL:floder == 'd00315'}">
    <div class="list"  v-for="(item, index) in sonData.templateList" :key="index">
      <div class="title" v-if="floder != 'd00315'">
        {{item.name}}
      </div>
      <div class="number-mode" v-if="sonData.model == 2">
        <div class="number" @click="clickNumberCheck(index,index2)" :class="{active:list.isActive}" v-for="(list, index2) in sonData.templateList[index].oddPlayItems" :key="index2">
          <div class="name" :class="{'number-img':list.name >= 0}">{{list.name}}</div>
          <div class="odds">
            <van-checkbox v-model="list.isActive" checked-color="#FF9726" shape="square"></van-checkbox>
          </div>
        </div>
      </div>
      <div class="number-mode" v-else>
        <div class="number" @click="clickNumber(index,index2)" :class="{active:list.isActive}" v-for="(list, index2) in sonData.templateList[index].oddPlayItems.slice(0,16)" :key="index2">
          <div class="name" :class="{'number-img':list.name >= 0}">{{list.name}}</div>
          <div class="odds"><b>{{list.odds}}</b></div>
          <div class="input" v-if="betModel == 1"><input type="number" v-model="list.money" @input="clickNumber(index,index2)"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import $ from  'jquery'
import lotteryHtml from '@/assets/json/lotteryTemplate/pcegg.json'
export default {
  name: "official",
  props:['sonData','params','lottery','betModel'],
  data(){
    return{
      isActive:'',
      floder:this.$store.state.stationInfo.content.station.floder || 'x002',
    }
  },
  created:function(){
    this.showTemplate()
  },
  mounted:function(){

  },
  watch:{

  },
  methods:{
    clickNumber:function (index,index2){
      this.$parent.addCart(index,index2)
      this.$forceUpdate()
    },
    clickNumberCheck:function (index,index2){
      this.$parent.addCartCheck(index,index2)
      this.$forceUpdate()
    },
    // 给小于10的号码加零
    addZero:function(num,three){
      if(three){
        num<10? num = '0'+ num: num = ''+num;
        num<100? num = '0'+ num: num = ''+num;
      } else {
        num<10? num = '0'+ num: num = ''+num;
      }
      return num;
    },
    peilvGroup:function(data,str){
      let odds = str.odds
      $.each(data,function (index,item) {
        if(item.name.indexOf('(') != -1 && item.name.substring(0,item.name.indexOf('(')) == str.name){
          odds = item.odds + '/' + str.odds
        }
      })
      return odds
    },
    // 填充json数据
    showTemplate:function () {
      let that = this
      let data = lotteryHtml.data
      that.sonData.model = 1
      for(let i in data){
        if(data[i].playName == this.params.sonCode){
          that.sonData.templateList = data[i].data
          // 获取当前玩法数据
          $.each(this.lottery.rules, function (index, item) {
            $.each(item.rules, function (index2, item2) {
              if(item2.code == that.params.sonCode){
                that.sonData.thatPlayType = item.rules
              }
            })
          })
          // 填充玩法数据
          $.each(that.sonData.thatPlayType, function (index, item) {
            if(item.code == that.params.sonCode){
              let dxdzzh = '' ,list = [], count = 0;
              switch (that.params.sonCode) {
                case 'xingyun28':
                  $.each(item.oddPlayItems,function (index,item) {
                    if(item.name == '红波'){
                      count = index
                    }
                  })
                  dxdzzh = item.oddPlayItems.slice(0, count)
                  // 填充大小单双
                  for (let i = 0; i < dxdzzh.length; i++) {
                    if(dxdzzh[i].name.indexOf('(') == -1){
                      let obj = dxdzzh[i]
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = dxdzzh[i].name;
                      newobj.classify = dxdzzh[i].name;
                      newobj.odds = that.peilvGroup(dxdzzh,dxdzzh[i]);
                      list.push(newobj)
                    }
                  }
                  that.sonData.templateList[0].oddPlayItems = list
                  list = [];
                  dxdzzh = item.oddPlayItems.slice(count, count + 3)
                  // 填充数字
                  for (let i = 0; i < dxdzzh.length; i++) {
                    let obj = ''
                    obj = dxdzzh[i]
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = dxdzzh[i].name;
                    newobj.classify = dxdzzh[i].name;
                    list.push(newobj)
                  }
                  that.sonData.templateList[1].oddPlayItems = list
                  list = [];
                  dxdzzh = item.oddPlayItems.slice(count + 3, count + 4)
                  // 填充数字
                  for (let i = 0; i < dxdzzh.length; i++) {
                    let obj = ''
                    obj = dxdzzh[i]
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = dxdzzh[i].name;
                    newobj.classify = dxdzzh[i].name;
                    list.push(newobj)
                  }
                  that.sonData.templateList[2].oddPlayItems = list
                  list = [];
                  dxdzzh = item.oddPlayItems.slice(count + 4,count + 32)
                  // 填充其他
                  for (let i = 0; i < dxdzzh.length; i++) {
                    let obj = ''
                    obj = dxdzzh[i]
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = dxdzzh[i].name;
                    newobj.classify = dxdzzh[i].name;
                    list.push(newobj)
                  }
                  that.sonData.templateList[3].oddPlayItems = list
                  break;
              }
            }
          })
        }
      }
    },
  }
}
</script>

<style scoped lang="less">
.d00315PcDDL{
    position: relative;
    .list{
      &:nth-child(3){
        position: absolute;
        top: 3.7rem;
        left: 50%;
      }
    }
}

</style>
