@import "../include/base";
.account{
  .ground();
  .account-wrap{
    margin-top: 10px;
    .account-list-wrap{
      padding-left: 14px;
      padding-right: 13px;
      background: #fff;
      margin-bottom: 13px;
      padding-top: 20px;
      .two-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top:20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #e9eaec;
        &:last-child{
          margin-bottom: 0;
        }
        span{
          width: 17px;
          height: 14px;
          display: inline-block;
          margin-right: 23px;
        }
        p{
          display: inline-block;
          font-size: 16px;
          color: #333333;
        }
        .two-left{
          span{
            background: url("../../images/personal/treasury.png") no-repeat;
            background-size: cover;
          }
        }
        .two-tip{
          width: 60%;
          text-align: right;
          span{
            margin-right: 11px;
            font-size: 14px;
            width: auto;
            height: auto;
            font-weight: 500;
            //color: #999;
            display: inline-block;
            white-space: nowrap;
          }
          i{
            vertical-align: middle;
          }
        }
      }
    }
  }
}
