@import "../include/base";
.auth{
  .ground();
  .auth-wrap{
    margin-top: 10px;
    .van-field__label {
      width: 114px;
      span{
        font-size: 16px;
        color: #333333;
      }
    }
    .van-field__control{
      font-size: 16px;
    }
    .auth-list-wrap{
      padding-left: 14px;
      padding-right: 13px;
      background: #fff;
      margin-bottom: 13px;

      .two-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top:20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #e9eaec;
        &:last-child{
          margin-bottom: 0;
        }
        span{
          width: 17px;
          height: 14px;
          display: inline-block;
          margin-right: 23px;
        }
        p{
          display: inline-block;
          font-size: 16px;
          color: #333333;
        }
        .two-left{
          display: flex;
          p{
            width: 117px;
          }
        }

      }
    }
    .explain{
      padding: 25px 23px;
      font-size: 13px;
      color: #989898;
      line-height: 18px;
    }
  }
}