@import "../include/base";
.cash{
  .ground();
  .cash-wrap{
    margin: 0 auto;
    .bank-info{
      width: 348px;
      height: 61px;
      background: #0f79ff;
      border-radius: 7px;
      color: #fff;
      margin: 10px auto;
      justify-content: space-between;
      display: flex;
      align-items: center;
      font-size: 15px;
      padding: 0 30px;
      box-shadow: 0 0 13px 0 rgb(0 4 26 / 5%);
      .bank-info-right{display: flex}
      span{
        font-size: inherit;
      }
      .bank-info-icon{
        width: 19px;
        height: 14px;
        background: url("../../images/personal/bank.png") no-repeat;
        background-size: contain;
        margin-right: 15px;
      }
    }
    .bank{
     .back-list{
       margin: 10px auto;
       ul{
         li{
           display: flex;
           width: 86%;
           height: 80px;
           align-items: center;
           justify-content: space-between;
           padding: 0 12px 0 24px;
           background-image: linear-gradient(
                   90deg,#666,#262627);
           margin: 22px auto 22px auto;
           box-shadow: 0 1px 6px 0 #7d7c7c;
           border-radius: 8px;
           .list-left{

             color: #efeff4;
             font-size: 16px;
             margin-bottom: 8px;
           }
           .list-right{
             font-size: 12px;
             color: #f3b467;
             margin-right: 18px;
           }
         }
       }
     }
      .button{
        margin: 20px auto;
        text-align: center;

        span{
          width: 50%;
          text-align: center;
          padding: 10px 0;
          color: #ffffff;
          display: inline-block;
          background:#0f79ff ;
          border-radius: 8px;
        }
      }
    }
    .header{
      background-color: #fff;
      padding: 20px;
      margin: 0 auto 10px;
      width: 348px;
      border-radius: 7px;
      h1 {
        font-weight: 400;
        color: #2e2e2e;
        font-size: 15px;
      }
      .input-money-wrap {
        .money-input {
          font-size: 50px;
          padding-left: 0;

          input {
            padding-left: 10px;
          }
        }

        .van-cell {
          line-height: 48px;
        }

        .van-field__left-icon .van-icon {
          font-size: 30px;
        }
      }
      .money-list {
        font-size: 15px;
        font-weight: 500;
        color: #414141;

        span {
          font-size: inherit;
          color: #0f79ff;
        }
      }
      .line-bank{
        display: inline-block;
        padding: 25px 14px 0;
        width: 100%;
        background: #fff;
        border-radius: 7px;
        margin: 0 auto;
        padding-bottom: 5px;
        border-bottom: 1px solid #f5f4fa;
        .van-tag--round{
          margin-left: 15px;
          border:1px solid #e7c899;
          background: #fff9f4;
          color: #f6c647;
        }
        .van-radio{
          padding-bottom: 10px;
        }
      }
      .rightAway-record {
        color: #ffffff;
        margin: 16px auto 13px;
        line-height: 47px;
        text-align: center;
        width: 100%;
        background: #0f79ff;
        font-size: 16px;
        border-radius: 7px;
      }
    }
    .prompt{
      margin: 0 auto 10px;
      width: 348px;
      box-shadow: 0 0 13px 0 rgb(0 4 26 / 5%);
      border-radius: 7px;
      padding: 20px 15px;
      background: #ffffff;
      h1{
        font-size: 15px;
        font-family: PingFang SC;
        font-weight: 500;
        color: #2e2e2e;
        margin-bottom: 19px;
      }
      p{
        font-size: 14px;
        font-family: PingFang SC;
        font-weight: 400;
        color: #989898;
        line-height: 18px;
      }
    }
  }
}