@import "../include/base";
.order{
  .ground();
  .order-wrap{
    display: flex;
    justify-content: center;
    .continer{
      display: block;
      width: 38%;
      margin: 0 auto;
      .sub{
        text-align: center;
        color: #828484;
        font-size: 12px;
        line-height: 1.7;
      }
    }
  }
}