@import "../include/base";
@import "../center/addBank";
.setpass{
  .ground();
  .setpass-wrap{
    .tip{
      font-size: 12px;
      line-height: 1.7;
      color: #f01516;
      padding: 20px 4vw;
    }
  }
}