<template>
  <div class="funds-detail">
    <div class="content">
      <div class="line">
        <div class="input"><input @click="show = true" type="text" v-model="date" :placeholder="$t('请选择时间(默认今日)')" readonly></div>
      </div>
      <div class="line">
        <div class="input">
          <select ref="sel" @change="setType()">
            <option v-for="(item, index) in typeList" :value="item" :key="index">{{typeFilter(item)}}</option>
          </select>
        </div>
      </div>
      <div class="line">
        <div class="input">
          <select ref="sel2" @change="setType()">
            <option v-for="(item, index) in statusList" :value="item" :key="index">{{statusFilter(item)}}</option>
          </select>
        </div>
      </div>
      <div class="content-list" v-if="detailList.length > 0">
        <div class="detail-box" v-for="(item, index) in detailList" :key="index">
          <div class="title"><span>{{$root.common.getMyDate(item.createDatetime)}}</span><span class="type">{{statusFilter(item.status)}}</span></div>
          <div class="detail">
            <div class="text"><span class="label">{{typeFilter(parseInt(type))}}{{$t('备注')}}：</span><span>{{$root.common.typeFilter(item.type)}}</span></div>
            <div class="text"><span class="label">{{typeFilter(parseInt(type))}}{{$t('金额')}}：</span><span>{{type == 1 ? item.money : item.drawMoney}}</span></div>
            <div class="text" v-if="item.remark"><span class="label">{{$t('备注')}}：</span><span>{{item.remark}}</span></div>
          </div>
        </div>
      </div>
      <div style="text-align: center;color:#ffffff;line-height: 4rem;font-size: 1.8rem;margin-top: 150px;" v-else>
        <van-icon name="todo-list" color="#ffffff" size="50" /><br>{{$t('暂时没有明细记录')}}
      </div>
      <van-calendar v-model="show" type="range" :min-date="new Date(2022,9,1)" :allow-same-day="true" @confirm="onConfirm" color="#001520" />
    </div>
  </div>
</template>

<script>
import '@/assets/css/fundsDetail.less'
export default {
  name: "detail",
  data(){
    return{
      detailList:[],
      show:false,
      date:'',
      type:1,
      params:{
        startTime:'',
        endTime:'',
        type:'',
        page:1,
        pageSize:999,
      },
      typeList:['',1,2],
      statusList:['',1,2,3,4,5],
    }
  },
  created() {
    this.params.startTime = this.formatDate(new Date()) + ' 00:00:00'
    this.params.endTime = this.formatDate(new Date()) + ' 23:59:59'
  },
  methods:{
    setType(){
      this.type = this.$refs.sel.value
      this.params.type = this.$refs.sel2.value
      this.accountChangeRecord()
    },
    accountChangeRecord(){
      this.detailList = []
      if(!this.type){return false}
      let url = this.type == 1 ? 'native/comrd.do' : 'native/drawrd.do'
      console.log(this.type)
      this.$post(url,this.params,true).then(res=>{
        this.detailList = res.list
      })
    },
    onConfirm(date){
      const [start, end] = date;
      this.show = false;
      this.date = `${this.formatDate(start)} ~ ${this.formatDate(end)}`;
      this.params.startTime = this.formatDate(start) + ' 00:00:00'
      this.params.endTime = this.formatDate(end) + ' 23:59:59'
      this.accountChangeRecord()
    },
    formatDate(date) {
      return `${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()}`;
    },
    typeFilter(type){
      switch (type) {
        case 1:
          return this.$t('充值');
        case 2:
          return this.$t('取款');
        default:
          return this.$t('请选择')
      }
    },
    statusFilter(type){
      switch (type) {
        case 1:
          return this.$t('处理成功');
        case 2:
          return this.$t('处理中');
        case 3:
          return this.$t('处理失败');
        case 4:
          return this.$t('已取消');
        case 5:
          return this.$t('已过期');
        default:
          return this.$t('请选择')
      }
    },
  },
}
</script>

<style scoped>

</style>