<template>
  <div class="funds-detail">
    <div class="content">
      <div class="line">
        <div class="input"><input @click="show = true" type="text" v-model="date" :placeholder="$t('请选择时间(默认今日)')" readonly></div>
      </div>
      <div class="line">
        <div class="input">
          <select ref="sel" @change="setType()">
            <option v-for="(item, index) in typeList" :value="item" :key="index">{{$root.common.typeFilter(item)}}</option>
          </select>
        </div>
      </div>
      <div class="content-list" v-if="detailList.length > 0">
        <div class="detail-box" v-for="(item, index) in detailList" :key="index">
          <div class="title"><span>{{$root.common.getMyDate(item.createDatetime)}}</span><span class="type">{{$root.common.typeFilter(item.type)}}</span></div>
          <div class="detail">
            <div class="text" v-if="item.orderId"><span class="label">{{$t('订单号')}}：</span><span>{{item.orderId}}</span></div>
            <div class="text"><span class="label">{{$t('变动前金额')}}：</span><span>{{item.beforeMoney}} {{$t('元')}}</span></div>
            <div class="text"><span class="label">{{$t('变动金额')}}：</span><span>{{item.money}} {{$t('元')}}</span></div>
            <div class="text"><span class="label">{{$t('变动后金额')}}：</span><span>{{item.afterMoney}} {{$t('元')}}</span></div>
            <div class="text" v-if="item.remark" style="line-height: 22px;"><span class="label">{{$t('备注')}}：</span><span>{{item.remark}}</span></div>
          </div>
        </div>
      </div>
      <div style="text-align: center;color:#ffffff;line-height: 4rem;font-size: 1.8rem;margin-top: 150px;" v-else>
        <van-icon name="todo-list" color="#ffffff" size="50" /><br>{{$t('暂时没有账变记录')}}
      </div>
      <van-calendar v-model="show" type="range" :min-date="new Date(2022,9,1)" :allow-same-day="true" @confirm="onConfirm" color="#001520" />
    </div>
  </div>
</template>

<script>
import '@/assets/css/fundsDetail.less'
export default {
  name: "detail",
  data(){
    return{
      detailList:[],
      show:false,
      date:'',
      params:{
        startTime:'',
        endTime:'',
        type:'',
        page:1,
        pageSize:999,
      },
      typeList:['',1,2,3,4,5,6,7,9,10,11,12,13,14,113,15,16,87,88,55,54,78,79,80,201,202,203,204,130,131,132,133,134,135,136,137,139,138,140,141,142,143,18,19,20,17,1130,1131,168,169,170,23]
    }
  },
  created() {
    this.params.startTime = this.formatDate(new Date()) + ' 00:00:00'
    this.params.endTime = this.formatDate(new Date()) + ' 23:59:59'
    this.accountChangeRecord()
  },
  methods:{
    setType(){
      this.params.type = this.$refs.sel.value
      this.accountChangeRecord()
    },
    accountChangeRecord(){
      this.detailList = []
      this.$post('native/mnyrecordlist.do',this.params,true).then(res=>{
        this.detailList = res.list
      })
    },
    onConfirm(date){
      const [start, end] = date;
      this.show = false;
      this.date = `${this.formatDate(start)} ~ ${this.formatDate(end)}`;
      this.params.startTime = this.formatDate(start) + ' 00:00:00'
      this.params.endTime = this.formatDate(end) + ' 23:59:59'
      this.accountChangeRecord()
    },
    formatDate(date) {
      return `${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()}`;
    },
  },
}
</script>

<style scoped>

</style>