@import "../include/base";
.address{
  .ground();
  .address-wrap{
    padding: 10px;
    overflow: auto;
    width: 100%;
    .address-list-item{
      padding: 10px;
      margin-bottom: 10px;
      background: #ffffff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 5px;
      .left{
        p{
          &:first-child{
            display: flex;
            align-items: center;
            margin-bottom: 14px;
            font-size: 17px;
            font-weight: 700;
            color: #000;
          }
          &:last-child{
            span{
              font-size: 12px;
              color: #6b6b6b;
              &:first-child{
                margin-right: 15px;
              }
            }
          }
        }
      }
      .right{}
    }
    .submit{
      .button{
        span{
          text-align: center;
          font-size: 16px;
          display: inline-block;
          font-weight: 700;
          color: #6a532c;
          background: linear-gradient(
                  -90deg,#ebd18f,#f4e5bd);
          border-radius: 4px;
        }
      }
    }
  }
}