@import "../include/base";
.contract{
  .ground();
  .contract-wrap{
    .box{
      width: 92.4%;
      margin: 0 auto;
      overflow: hidden;
      border-radius: 12px;
      background: #fff;
      .contract_box{
        width: 94%;
        margin: 0 auto;
        background: #fff;
        padding: 1.2rem .8rem;
        p{
          line-height: 20px;
          font-size: 1.2rem;
          margin: 1.2rem 0;
          color: #000;
          text-align: left;
          label{
            color: #000;
            font-weight: 700;
          }
        }
        .con_name{
          text-align: center;
          font-weight: 400;
          font-size: 2.4rem;
          margin: 1.2rem 0 4rem 0;
        }
        .code{
          line-height: 20px;
          font-size: 12px;
          margin: 1.2rem 0;
          color: #000;
          text-align: right;
        }
        .tablec{
          width: 100%;
          border-collapse: collapse;
          border-top: 1px solid #e5e5e5;
          border-left: 1px solid #e5e5e5;
          margin-bottom: 1.2rem;
          tr{
            &:nth-child(odd){
              background: #f5f5f5;
            }
            td{
              border-right: 1px solid #ddd;
              border-bottom: 1px solid #e5e5e5;
              padding: 2rem 1.2rem;
              font-size: .28rem;
              line-height: 1.5rem;
              &:first-child{
                width: 43%;
              }
            }
          }
        }
        .signature{
          position: relative;
          margin: 1rem 0 40px;
          .Party{
            float: left;
          }
          .img1{
            width: 100px;
            height: 100px;
            top: -3px;
            right: -13px;
            position: absolute;
          }
          .img2{
            top: 55px;
            left: 40px;
            width: 100px;
            height: 100px;
            position: absolute;
          }
        }
      }
    }
  }
}