@import "../include/base";
.editAddress{
  .ground();
  .editAddress-wrap{
    box-sizing: border-box;
    margin-top: 13px;
    font-size: 15px;
    font-weight: 400;
    color: #000;
    padding: 0 12px;
    .form{
      .van-cell__title.van-field__label span{
        font-size: 14px;
      }
    }
    .submit{
      .button{
        span{
          text-align: center;
          font-size: 16px;
          display: inline-block;
          font-weight: 700;
          color: #6a532c;
          background: linear-gradient(
                  -90deg,#ebd18f,#f4e5bd);
          border-radius: 4px;
        }
      }
    }
  }
}
