@import "../include/base";
.invest,.cost,.founds, .order{
  .ground();
  .invest-wrap,.cost-wrap,.founds-wrap, .order-wrap{
    background: #f5f5f5;
    border: 1px solid transparent;
    box-sizing: border-box;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 7px;
    overflow: auto;
    .invest-list-item{
      min-height: 84px;
      width: 348px;
      padding: 23px 23px 18px 20px;
      border-bottom:1px solid #cccccc;
      margin: 0 auto;
      background: #ffffff;
      border-radius: 10px;
      .item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .item-left{
          display: flex;
          align-content: center;
          align-items: center;
          .icon-b{
            width: 38px;
            height: 38px;
            background: url("../../images/personal/recharge_online.4b275644.png") no-repeat;
            background-size: cover;
            margin-right: 10px;
          }
          .icon-p{
            width: 38px;
            height: 38px;
            background: url("../../images/personal/pay.png") no-repeat;
            background-size: cover;
            margin-right: 10px;
          }
          .icon-y{
            width: 38px;
            height: 38px;
            background: url("../../images/personal/yinlian.1d10768d.png") no-repeat;
            background-size: cover;
            margin-right: 10px;
          }
          .text-info{
            display: flex;
            flex-direction: column;
            align-content: center;
            max-width: 76%;
            overflow: hidden;
            text-overflow: ellipsis;
            p{
              &:nth-child(1){
                flex: 8;
                margin-top: 0;
              }
              &:nth-child(2){
                flex: 1;
              }
              font-size: 13px;
              font-weight: 700;
              color: #a7a2a6;
              margin-top: 12px;
              sub{
                font-size: 15px;
                color: #000000;
                font-weight: 700;
                padding-right: 10px;
                display: inline-block;
              }
              span{
                padding: 2px 5px;
                font-size: 13px;
                background: #3375f8;
                color: #ffffff;
                display: inline-block;
                border-radius: 10px;
                vertical-align: middle;
              }
            }
          }
        }
        .item-right{
          span{
            font-size: 21px;
            font-weight: 700;
            color: #555;
          }

          }
        }
        }
      }
  }