@import "../include/base";
.touzi{
  .ground();
    .touzi-wrap{
      padding: 14px 14px 20px;
      .touzi-list-item{
        margin-bottom: 13px;
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid #e9eaec;
        background: #ffffff;
        padding: 16px 17px 15px;
        .title{
          display: flex;
          justify-content: space-between;
          padding-bottom: 12px;
          border-bottom: 1px solid #e9eaec;
          h1{
            flex: 1;
            font-size: 15px;
            font-weight: 700;
            color: #000;
            line-height: 24px;
            padding-right: 22px
          }
          //span{
          //  width: 63px;
          //  height: 21px;
          //  text-align: center;
          //  background: #d6e9fe;
          //  border: 1px solid #0f79ff;
          //  border-radius: 3px;
          //  font-size: 11px;
          //  color: #0f79ff;
          //  line-height: 18px;
          //}
        }
        .money{
          display: flex;
          justify-content: space-between;
          padding: 16px 0 ;
          span{
            font-size: 15px;
            font-weight: 500;
            color: #6f6d70;
          }
          }
        }
        .button{
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0px 22px 0;
          width: 100%;
          div{
            width: 50%;
            height: 34px;
            line-height: 32px;
            text-align: center;
            border: 1px solid #0f79ff;
            background: #0f79ff;
            font-size: 15px;
            font-weight: 400;
            color: #fff;
            border-radius: 17px;
            margin-right: 17px;
          }
        }
      }
    }