@import "../include/base";
.help{
  .header{
    height: 45px;
    position: relative;
    color: #ffffff;
    font-size: 18px;
    background: url("../../images/out.png") 100% 100%;
    text-align: center;
    line-height: 45px;
    .out {
      position: absolute;
      left: 10px;
      top: 10px;
      width: 13px;
    }
  }
  .menu{
    padding: 0 20px;
    margin-top: 10px;
    .box-list{
      height: 100%;
      background: #ffffff;
      border-radius: 10px;
      padding: 10px;
      .box{
        width: 32%;
        display: inline-block;
        padding: 5px;
        .img{
          padding: 10px;
          width: 100%;
          height: 100%;
          img{
            width: 100%;
          }
        }
        .font{
          font-size: 12px;
          white-space: pre;
          text-align: center;
        }
      }
    }
  }
}