@import "../include/base";
.index{
  .set{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 9999;
  }
  .new_people_box{
    height: 145px;
    background: linear-gradient(180deg,#e94b42,rgba(213,21,21,0));
    position: relative;
    .lf_bg{
      height: 100%;
      background: url(../../images/lf.png);
      background-size: 100% 100%;
    }
    .pt_bg{
      background: url(../../images/pt.png);
      background-size: 100% 100%;
      position: absolute;
      bottom: 0;
      left: 20px;
      right: 20px;
      z-index: 2;
      height: 35px;
    }
    .list{
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      padding: 0 30px;
      color: #ffffff;
      font-size: 12px;
      text-align: center;
      .one{
        width: 78px;
        height: 78px;
        background: url(../../images/f6bdbd1c.png);
        background-size: 100% 100%;
        z-index: 3;
        line-height: 136px;
        white-space: nowrap;
      }
      .two{
        width: 174px;
        height: 127px;
        background: url(../../images/xr_center.png);
        background-size: 100% 100%;
        z-index: 3;
        line-height: 218px;
        text-align: left;
        font-size: 14px;
        padding-left: 23px;
        position: relative;
        white-space: nowrap;
        img{
          position: absolute;
          width: 120px;
          left: 27px;
          top: 26px;
        }
      }
      .three{
        width: 78px;
        height: 78px;
        background: url(../../images/7399245e.png);
        background-size: 100% 100%;
        z-index: 3;
        line-height: 136px;
        white-space: nowrap;
      }
    }
  }
  .menu{
    padding: 0 20px;
    margin-top: 10px;
    .box-list{
      height: 100%;
      background: #ffffff;
      border-radius: 10px;
      padding: 10px;
      .box{
        width: 32%;
        height: 66px;
        display: inline-block;
        padding: 5px;
        text-align: center;
        .img{
          padding: 8px;
          img{
            width: 40px;
          }
        }
        .font{
          width: 90px;
          font-size: 12px;
          text-align: center;
          white-space: normal;
        }
      }
    }
  }
  .vip_box{
    height: 108px;
    padding: 0 20px;
    margin-top: 10px;
    .box{
      height: 100%;
      background: #ffffff;
      border-radius: 10px;
      padding: 10px;
      position: relative;
      .vip_tit{
        color: #8a552d;
        position: absolute;
        font-size: 18px;
        font-weight: 600;
      }
      .vip_tips{
        color: #a08d77;
        position: absolute;
        font-size: 12px;
        font-weight: 600;
        left: 10px;
        top: 30px;
        z-index: 99;
      }
      .vip_bg{
        width: 80px;
        height: 65px;
        position: absolute;
        background: url(../../images/vipbg.png);
        background-size: 100% 100%;
        left: 0;
        bottom: 0;
      }
    }
  }
  .recom_box{
    padding: 0 20px;
    margin-top: 10px;
    .box{
      height: 100%;
      background: #ffffff;
      border-radius: 10px;
      padding: 10px;
      .item_tit{
        padding: 0 10px;
        height: 45px;
        border-bottom: 1px solid #f7f7f7;
        font-size: 18px;
        line-height: 45px;
      }
      .item_list{
        margin-top: 10px;
        padding-bottom: 80px;
        .list{
          width: 100%;
          display: flex;
          justify-content: space-between;
          margin-top: 20px;
          .left{
            width: 25%;
            height: 83px;
            img{
              width: 100%;
              height: 100%;
            }
          }
          .right{
            width: 75%;
            height: 100%;
            margin-left: 10px;
            .title{
              font-size: 12px;
              font-weight: 600;
            }
            .price{
              display: flex;
              justify-content: space-between;
              font-size: 12px;
              margin-top: 10px;
            }
            .num{
              font-size: 12px;
              margin-top: 10px;
              color: rgba(0,0,0,.6);
              span{
                color: #f03041;
                margin: 0 5px;
              }
            }
            .line{
              margin-top: 5px;
              height: 8px;
              background: rgb(204,204,204);
              border-radius: 10px;
              position: relative;
              .line2{
                position: absolute;
                left: 0;
                top: 0;
                height: 8px;
                background: rgb(53,130,179);
                border-radius: 10px 0 0 10px;
              }
            }
          }
        }
      }
    }
  }
}