@import "../include/base";

.order {
  .header {
    position: relative;
    height: 162px;
    background: url("../../images/order.png");
    background-size:  100% 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      width: 100%;

      p {
        color: #ffffff;
        font-weight: 600;
        font-size: 16px;
        text-align: center;
        margin-top: 10px;
      }
    }

    .out {
      position: absolute;
      left: 10px;
      top: 10px;
      width: 13px;
    }

    .title {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 45px;
      line-height: 45px;
      text-align: center;
      color: #ffffff;
      font-size: 18px;
    }
  }

  .content {
    margin-top: 30px;

    .box {
      background: #ffffff;
      margin-top: 10px;

      .top {
        height: 41px;
        border-bottom: 1px solid #ececec;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
          color: rgba(0, 0, 0, .6);
          font-size: 12px;
        }
      }

      .bottom {
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;

        div {
          color: rgba(0, 0, 0, .6);
          font-size: 14px;

          span {
            color: rgba(0, 0, 0, .6);
            font-size: 16px;
            margin-left: 20px;
          }

          .button {
            background: rgba(0, 0, 0, .3);
            display: inline-block;
            height: 22px;
            width: 56px;
            color: #ffffff;
            white-space: normal;
            text-align: center;
            line-height: 22px;
            border-radius: 10px;
            font-size: 12px;
          }
        }
      }
    }
  }
}