@import "../include/base";
.personal{
  .header{
    height: 185px;
    background: url("../../images/header.png");
    background-size: 100% 100%;
    padding-top: 40px;
    position: relative;
    .set-icon{
      position: absolute;
      right: 10px;
      top: 10px;
      img{
        width: 27px;
        height: 27px;
      }
    }
    .user_detail{
      padding: 0 20px;
      height: 63px;
      .list{
        width: 100%;
        display: flex;
        justify-content: space-between;
        .left{
          width: 56px;
          height: 56px;
          img{
            height: 100%;
            border-radius: 50%;
          }
        }
        .right{
          width: 100%;
          height: 100%;
          margin-left: 10px;
          .title{
            font-size: 12px;
            font-weight: 600;
            color: #ffffff;
            margin-top: 8px;
            span{
              margin-left: 10px;
            }
          }
        }
      }
    }
    .user_active{
      height: 70px;
      width: 100%;
      padding: 0 30px;
      position: absolute;
      bottom: 0;
      left: 0;
      background: url("../../images/msg.png");
      background-size: 100% 100%;
      color: #e3e07a;
      font-size: 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .box{
        width: 100%;
        height: 100%;
      }
    }
  }
  .part1{
    padding: 0 10px;
    margin-top: 10px;
    height: 87px;
    .box-list{
      height: 100%;
      background: #ffffff;
      border-radius: 10px;
      .box{
        width: 20%;
        display: inline-block;
        padding-top: 5px;
        .img{
          padding: 5px;
          text-align: center;
          img{
            height: 39px;
          }
        }
        .font{
          font-size: 12px;
          white-space: pre;
          text-align: center;
        }
      }
    }
  }
  .part2{
    padding: 0 10px;
    margin-top: 10px;
    height: 119px;
    .box{
      height: 100%;
      background: #ffffff;
      border-radius: 10px;
      .item_tit{
        padding: 0 10px;
        height: 45px;
        border-bottom: 1px solid #f7f7f7;
        font-size: 14px;
        line-height: 45px;
        display: flex;
        justify-content: space-between;
        div:nth-child(2){
          font-size: 12px;
          color: rgba(0,0,0,.6);
        }
      }
      .content{
        padding: 0 10px;
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        div{
          text-align: center;
        }
        span:nth-child(1){
          font-weight: 600;
        }
        span:nth-child(3){
          font-size: 12px;
          width: 100%;
          display: inline-block;
          text-align: center;
        }
      }
      .bottom{
        display: flex;
        .money{
          width: 105px;
          margin-top: 15px;
          display: inline-block;
          text-align: center;

          span:nth-child(1){
            font-weight: 600;
          }
          span:nth-child(3){
            font-size: 12px;
          }
        }
        .box-list{
          border-radius: 10px;
          display: flex;
          .img-list{
            display: inline-block;
            margin: 0 20px;
            .img{
              text-align: center;
              img{
                height: 39px;
              }
            }
            .font{
              font-size: 12px;
              white-space: pre;
              text-align: center;
            }
          }
        }
      }
    }
  }
}