<template>
  <div class="upd_password">
    <header>
      <router-link to="/">
        <van-icon name="arrow-left"/>
      </router-link>
      <span><b>{{ $t('bindCard[0].label') }}</b></span>
    </header>
    <div class="content">
      <van-cell-group v-if="$store.state.accountInfo.cardNo == ''">
        <van-field v-model="cardName" type="text"
                   :placeholder="$t('bindCard[1].label')"/>
        <van-field v-model="tkBank" type="text" @click="isShowBank=true"/>
        <van-field v-model="cardNo" type="text"
                   :placeholder="$t('withdrawDeposit[1].label')"/>
        <van-field v-model="repPwd" type="password"
                   :placeholder="$t('bindCard[3].label')"/>
      </van-cell-group>
      <van-cell-group v-else>
        <van-field :label="$t('bindCard[1].label')" type="password" :placeholder="$store.state.accountInfo.userName"
                   readonly/>
        <van-field :label="$t('bindCard[2].label')" type="password"
                   :placeholder="$store.state.accountInfo.cardNo" readonly/>
      </van-cell-group>
      <van-button type="info" block v-if="$store.state.accountInfo.cardNo == ''" @click="getBank()">
        {{ $t('bindCard[4].label') }}
      </van-button>
      <div style="text-align: center;line-height: 40px;font-size: 10px;color: #7d7e80;" v-else>
        {{ $t('bindCard[5].label') }}
      </div>
    </div>
    <!--提款银行列表-->
    <van-popup v-model="isShowBank" :style="{ height: '50%' ,width:'80%'}">
      <van-cell-group>
        <!--        <van-field v-model="repPwd" label="银行名称" type="text"-->
        <!--                   placeholder="输入银行名称"/>-->
        <van-cell @click="selectBank(item,index)" v-for="(item,index) in bankList" :key="index" :title="item" is-link/>
      </van-cell-group>
    </van-popup>
  </div>
</template>

<script>
import '@/assets/css/center/upd_password.less'
import {Dialog, Toast} from 'vant'

export default {
  name: "bindCard",
  data() {
    return {
      isShowBank: false, //是否显示银行列表
      cardName: '',
      walletAddress: '',
      tkBank: 'select', //提款银行
      repPwd: '',
      cardNo: '',
      bankList: ['Bank Commonwealth',
        'Bank CTBC (China Trust) Indonesia',
        'Bank OCBC – Indonesia',
        'Bank Maybank Indocorp',
        'Bank Merincorp',
        'Bank Agris',
        'Link Aja',
        'Indosat Dompetku',
        'BPR KS',
        'Bank Harda',
        'Bank Victoria International',
        'Bank Mandiri Taspen Pos',
        'Bank Fama Internasional',
        'Centratama Nasional Bank',
        'Bank Index Selindo',
        'Bank Mayora Indonesia',
        'Bank Multi Arta Sentosa',
        'Bank Purba Danarta',
        'Bank Artos IND',
        'Bank BCA Syariah',
        'Bank Kesejahteraan Ekonomi',
        'Anglomas Internasional Bank',
        'Liman International Bank',
        'Bank Akita',
        'Bank Dipo International (Bank Sahabat Sampoerna)',
        'Bank Persyarikatan Indonesia',
        'Prima Master Bank',
        'Bank Harfa',
        'Bank Ina Perdana',
        'Bank Syariah Mega',
        'Bank Alfindo (Bank National Nobu)',
        'Bank Royal Indonesia',
        'ank Indomonex (Bank SBI Indonesia)',
        'Bank BRI Agro',
        'Bank Yudha Bhakti',
        'Bank MNC / Bank Bumiputera',
        'Bank Bintang Manunggal',
        'Bank Jasa Jakarta',
        'Bank Sri Partha',
        'Bank Bisnis Internasional',
        'Bank Syariah Mandiri(BSI)',
        'Bank Bukopin',
        'Bank BNI Syariah',
        'Bank Mega',
        'Bank BJB Syariah',
        'Bank Swaguna',
        'Bank Tabungan Pensiunan Nasional (BTPN)',
        'JENIUS',
        'Bank Himpunan Saudara 1906',
        'Bank Tabungan Negara (BTN)',
        'Bank QNB Kesawan (Bank QNB Indonesia)',
        'Bank Harmoni International',
        'Bank (Bank ICBC Indonesia)',
        'Bank Windu Kentjana',
        'Bank Ganesha',
        'Bank Hagakita',
        'Bank Maspion Indonesia',
        'Bank Sinarmas',
        'Bank Metro Express (Bank Shinhan Indonesia)',
        'Bank Mestika Dharma',
        'Bank Muamalat',
        'Bank of India Indonesia',
        'Bank Nusantara Parahyangan',
        'Bank Sultra',
        'Bank Sulawesi Tengah',
        'Bank Bengkulu',
        'Bank Papua',
        'Bank Maluku Malut',
        'Bank NTT',
        'Bali',
        'Bank NTB, NTB Syariah',
        'Bank Sulut Gorontalo',
        'Bank Sulsel dan Barat',
        'Bank Kalteng',
        'Bank Kalimantan Timur dan Utara',
        'Bank Kalimantan Barat',
        'Bank Kalsel',
        'Bank Lampung',
        'Bank Sumsel Babel',
        'Bank Riau',
        'Bank Nagari',
        'Bank Sumut',
        'BPD Aceh Syariah',
        'BPD Jambi',
        'Bank Jatim',
        'Bank Jateng',
        'BPD DIY',
        'Bank DKI',
        'Bank Jabar dan Banten (BJB)',
        'Bank Mayapada',
        'Bank JTRUST',
        'Bank IFI',
        'Bank Haga',
        'Bank Antardaerah',
        'Bank Ekonomi',
        'Bank Bumi Arta',
        'Bank OF China',
        'Bank Woori Indonesia',
        'Deutsche Bank AG.',
        'Bank ANZ Indonesia',
        'Korea Exchange Bank Danamon',
        'Bank BNP Paribas Indonesia',
        'Bank Capital Indonesia',
        'Bank Keppel Tatlee Buana',
        'Bank ABN Amro',
        'Standard Chartered Bank',
        'Bank Mizuho Indonesia',
        'Bank Resona Perdania',
        'Bank DBS Indonesia',
        'Bank Sumitomo Mitsui Indonesia',
        'The Bank of Tokyo Mitsubishi UFJ LTD',
        'The Hongkong & Shanghai B.C. (Bank HSBC)',
        'The Bangkok Bank Comp. LTD',
        'Credit Agricole Indosuez',
        'Bank Artha Graha Internasional',
        'ING Indonesia Bank',
        'Bank of America, N.A',
        'JP. Morgan Chase Bank, N.A',
        'Citibank',
        'American Express Bank LTD',
        'Bank OCBC NISP',
        'Bank Lippo',
        'Bank CIMB Niaga',
        'Bank Arta Niaga Kencana',
        'Bank Panin',
        'Bank BII Maybank',
        'Bank BCA',
        'Permata Bank',
        'Bank Danamon',
        'Bank BNI',
        'Bank Mandiri',
        'Bank Ekspor Indonesia',
        'Bank BRI',
        'Bank UOB Indonesia'],
      bankKeyList: ['COMMONWEALTH',
        'CHINATRUST',
        'BANK_OCBC',
        'BANK_MAYBANK',
        'BANK_MERIN',
        'BANK_AGRIS',
        'LINK_AJA',
        'DOMPETKU',
        'BPR_KS',
        'HARDA_INTERNASIONAL',
        'BANK_VICTORIA',
        'MANDIRI_TASPEN',
        'FAMA',
        'CENTRATAMA',
        'INDEX_SELINDO',
        'MAYORA',
        'MULTI_ARTA_SENTOSA',
        'BTPN_SYARIAH',
        'ARTOS',
        'BCA_SYR',
        'BANK_KESEJAHTERAAN_EKONOMI',
        'BANK_ANGLOMAS',
        'BANK_LIMAN',
        'BANK_AKITA',
        'OCBC',
        'BANK_PERSY',
        'PRIMA_MASTER',
        'BANK_HARFA',
        'BANK_INA',
        'MEGA_SYR',
        'NATIONALNOBU',
        'ROYAL',
        'BANK_INDOMONEX',
        'AGRONIAGA',
        'BANK_YUDHA',
        'BANK_BUMIPUTERA',
        'BANK_BINTANG',
        'JASA_JAKARTA',
        'BANK_SRI_PARTHA',
        'BISNIS_INTERNASION',
        'MANDIRI_SYR',
        'BUKOPIN',
        'BNI_SYR',
        'MEGA',
        'BJB_SYR',
        'BANK_SWAGUNA',
        'TABUNGAN_PENSIUNAN_NASIONAL',
        'JENIUS',
        'BANK_HIM',
        'BTN',
        'QNB_INDONESIA',
        'BANK_HARM',
        'ICBC Halim Indonesia',
        'CCB',
        'GANESHA',
        'BANK_HAGAKITA',
        'MASPION',
        'SINARMAS_UUS',
        'SHINHAN',
        'MESTIKA_DHARMA',
        'MUAMALAT',
        'BANK_OF_INDIA',
        'NUSANTARA_PARAHYANGAN',
        'BANK_SULTRA',
        'SULAWESI',
        'BENGKULU',
        'PAPUA',
        'MALUKU',
        'BANK_NTT',
        'BALI BPD',
        'BPD_NTB',
        'SUMSEL_DAN_BABEL_SULUT',
        'SULSELBAR',
        'BPD_KALTENG',
        'BPD_KAITIM',
        'KALIMANTAN_BARAT',
        'BPD_KALSEL',
        'LAMPUNG',
        'SUMSEL_DAN_BABEL',
        'RIAU_DAN_KEPRI',
        'BANK_NAGARI',
        'SUMUT',
        'ACEH BPD Aceh',
        'JAMBI',
        'BANK_JATIM',
        'BANK_JATENG',
        'DAERAH_ISTIMEWA',
        'DKI',
        'BANK_JABAR',
        'MAYAPADA',
        'JTRUST',
        'BANK_IFI',
        'BANK_HAGA',
        'BANK_ANTAR',
        'BANK_EKONOMI',
        'BUMI_ARTA',
        'BOC',
        'BANK_WOOR',
        'DEUTSCHE',
        'BANK_ANZ',
        'BANK_DANAMON',
        'BNP_PARIBAS',
        'CAPITAL',
        'BANK_KEPPEL',
        'BANK_A',
        'STANDARD_CHARTERED',
        'MIZUHO',
        'RESONA',
        'DBS',
        'MITSUI',
        'BANK_TOKYO',
        'HSBC',
        'BANK_COMP',
        'BANK_C_AGR',
        'ARTHA',
        'BANK_ING',
        'BAML',
        'JPMORGAN',
        'CITIBANK',
        'BANK_LTD',
        'NISP',
        'BANK_LIPPO',
        'CIMB',
        'ARTA_NIAGA_KENCANA',
        'PANIN',
        'MAYBANK',
        'BCA',
        'PERMATA',
        'DANAMON',
        'BNI',
        'MANDIRI',
        'EXIMBANK',
        'BRI',
        'BANK_BUANA'],
      bankKey:'',
    }
  },
  created() {
    // this.getRanDomNum()
  },
  methods: {
    selectBank: function (bankName,index) {
      this.bankKey = this.bankKeyList[index]
      this.isShowBank = false;
      this.tkBank = bankName;
    },
    getRanDomNum: function () {
      let num = parseInt(Math.random() * 10) + '' + parseInt(Math.random() * 10) + '' + parseInt(Math.random() * 10) + '' + parseInt(Math.random() * 10) + '' + parseInt(Math.random() * 10) + '' + parseInt(Math.random() * 10) + '' + parseInt(Math.random() * 10) + '' + parseInt(Math.random() * 10)
      this.cardNo = '62270024701' + num
    },
    getBank: function () {
      let data = {
        userName: this.cardName, //持卡人名称
        bankName: this.bankKey, //银行名称
        province: '默认省份',//省份
        city: '默认城市',//城市
        bankAddress: '默认网点', //开户网点
        cardNo: this.cardNo, //银行卡号
        // walletAddress: this.walletAddress, //钱包地址
        repPwd: this.repPwd, //提款密码
        isCheckStrSpecial: '0',
      }
      this.$post('native/post_bank_data.do', data).then(res => {
        if (res.success) {
          Dialog.confirm({
            title: this.$t('bindCard[6].label'),
            cancelButtonText: this.$t('bindCard[7].label'),
            confirmButtonText: this.$t('bindCard[8].label'),
          }).then(() => {
            this.$router.push({path: '/withdrawDeposit'})
          }).catch(() => {
            this.$router.push({path: '/',})
          });
        } else if(res.msg.indexOf('用户未设置取款密码') != -1) {
          Toast(this.$t('tips[38].label'))
        } else if(res.msg.indexOf('取款密码不正确') != -1) {
          Toast(this.$t('tips[39].label'))
        } else if(res.msg.indexOf('持卡人姓名不一致') != -1) {
          Toast(this.$t('tips[40].label'))
        } else if(res.msg.indexOf('已经被使用！请更换再重试！') != -1) {
          Toast(this.$t('tips[41].label'))
        } else if(res.msg.indexOf('包含非法字符') != -1) {
          Toast(this.$t('tips[42].label'))
        } else {
          Toast(this.$t('tips[43].label'))
        }
      })
    }
  }
}
</script>

<style scoped>

</style>