<template>
  <div class="upd_password">
    <header>
      <router-link to="/"><van-icon name="arrow-left" /></router-link>
      <span><b>{{$t('cz[0].label')}}</b></span>
    </header>
    <div class="content">
      <van-cell-group>
        <van-field :label="$t('cz[2].label')" type="text" @click="rechargeShow = true" v-model="rechargeName"/>
        <van-field :label="$t('cz[1].label')" type="number" :placeholder="$t('cz[1].label')" v-model="money"/>
      </van-cell-group>
      <van-button type="info" block @click="pay()">{{$t('bindCard[4].label')}}</van-button>
    </div>
    <van-popup v-model="rechargeShow" position="bottom" :style="{ height: '40%'}" @click="rechargeShow = false">
      <van-picker
          :title="$t('cz[2].label')"
          show-toolbar
          :columns="rechargeColumns"
          @confirm="onConfirm"
          @cancel="onCancel"
      />
    </van-popup>
  </div>
</template>

<script>
import '@/assets/css/center/upd_password.less'
import {Toast} from 'vant'
export default {
  name: "czForm",
  data(){
    return{
      rechargeName:'',
      rechargeShow:false,
      rechargeColumns:[],
      rechargeData:'',
      money:'',
    }
  },
  created() {
    this.getPaySelectWay()
  },
  methods:{
    onConfirm(value) {
      this.rechargeData = value
      this.rechargeName = value.text
      this.rechargeShow = false
    },
    onCancel() {
      this.rechargeShow = false
    },
    getPaySelectWay: function () {
      this.$fetch('native/paySelectWay.do', {}, true).then((res) => {
        if (res.success) {
          this.content = res.content
          this.payList = res.content[0]
          this.rechargeColumns = res.content[0].payList
          this.rechargeData = res.content[0].payList[0]
          for(let index in this.rechargeColumns){
            if(this.rechargeColumns[index].payCom.indexOf('yodgs') != -1){
              this.rechargeColumns[index].text = this.$t('tips[44].label')
            } else if(this.rechargeColumns[index].payCom.indexOf('比特') != -1){
              this.rechargeColumns[index].text = this.$t('tips[45].label')
            } else {
              this.rechargeColumns[index].text = this.rechargeColumns[index].payCom
            }
          }
          this.rechargeName = res.content[0].payList[0].text
        } else {
          Toast(res.message)
        }
      })
    },
    pay: function () {
      if(!this.money){
        return false
      }
      if(this.rechargeName == this.$t('tips[45].label')){
        let data = {
          amount: this.money,
          payId: this.rechargeData.id,
          isMobile:1,
          bankcode: 'WEIXIN'
        }
        this.$router.push({path:'/czQrcode',query:{data:JSON.stringify(data)}})
        return false
      }
      let params = ''
      params = {
        amount: this.money,
        payId: this.rechargeData.id,
        isMobile:1,
        bankcode: 'WEIXIN'
      }
      this.$post('onlinepay/pay.do', params, true).then((res) => {
        if (res.success) {
          this.getWecahtQrcode(res.data)
        } else if(res.msg.indexOf('充值金额不能小于') != -1) {
          Toast(this.$t('tips[11].label') + ' ' + this.rechargeData.min)
        } else if(res.msg.indexOf('充值金额不能大于') != -1) {
          Toast(this.$t('tips[12].label') + ' ' +  this.rechargeData.max)
        } else if(res.msg.indexOf('只能充值一次') != -1) {
          Toast(this.$t('tips[48].label'))
        }  else {
          Toast(this.$t('tips[18].label'))
        }
      })
    },
    // xb774.com/onlinepay/utils/getWecahtQrcode.do
    getWecahtQrcode: function (e) {
      let params = ''
      let redirectParams = {
        bankCode:e.formParams.bankCode,
        busi_code:e.formParams.busi_code,
        ccy_no:e.formParams.ccy_no,
        mer_no:e.formParams.mer_no,
        mer_order_no:e.formParams.mer_order_no,
        notifyUrl:e.formParams.notifyUrl,
        order_amount:e.formParams.order_amount,
        pageUrl:e.formParams.pageUrl,
        pemail:e.formParams.pemail,
        phone:e.formParams.phone,
        pname:e.formParams.pname,
        sign:e.formParams.sign,
      }
      params = {
        iconCss: this.rechargeData.iconCss,
        redirectUrl: e.formParams.redirectUrl,
        payId:this.rechargeData.id,
        redirectParams: JSON.stringify(redirectParams),
        payReferer:e.formParams.pageUrl
      }
      this.$post('onlinepay/utils/getWecahtQrcode.do', params, true).then((res) => {
        if (res.success) {
          this.$router.push({path: '/czUrl', query: {url: res.qrcodeUrl}})
        } else if(res.msg.indexOf('充值金额不能小于') != -1) {
          Toast(this.$t('tips[11].label') + this.rechargeData.min)
        } else if(res.msg.indexOf('充值金额不能大于') != -1) {
          Toast(this.$t('tips[12].label') + this.rechargeData.max)
        } else if(res.msg.indexOf('保存订单时发生错误') != -1) {
          Toast(this.$t('tips[13].label'))
        } else if(res.msg.indexOf('支付类型错误') != -1) {
          Toast(this.$t('tips[14].label'))
        } else if(res.msg.indexOf('非法请求') != -1) {
          Toast(this.$t('tips[15].label'))
        } else if(res.msg.indexOf('输入非法字符') != -1) {
          Toast(this.$t('tips[16].label'))
        } else if(res.msg.indexOf('充值已关闭') != -1) {
          Toast(this.$t('tips[17].label'))
        } else {
          Toast('充值失败，请联系在线客服')
        }
      })
    },
  }
}
</script>

<style scoped>

</style>