<template>
  <div class="code">
    <header>
      <router-link to="/personal">
        <van-icon name="arrow-left"/>
      </router-link>
      <span><b>USDT {{$t('tips[46].label')}}</b></span>
    </header>
    <div class="content">
      <div class="code">
        <img :src="rechargeData.account" alt="">
      </div>
      <div class="tip">
        {{$t('tips[47].label')}}：<span style="font-weight: 600;font-size: 20px">{{czData.amount}}</span> USDT
      </div>
      <div class="link">
        <div class="top">{{ rechargeData.appid }}</div>
        <div class="bottom" v-clipboard:copy="rechargeData.appid" v-clipboard:success="copy">{{$t('share[1].label')}}</div>
      </div>
    </div>
    <div style="padding: 20px;"><van-button type="info" block @click="pay()">{{$t('bindCard[4].label')}}</van-button></div>
  </div>
</template>

<script>
import '@/assets/css/center/code.less'
import {Toast} from "vant";

export default {
  name: "czQrcode",
  data() {
    return {
      czData:'',
      rechargeData:''
    }
  },
  created() {
    this.getPaySelectWay()
    this.czData = JSON.parse(this.$route.query.data)
  },
  mounted() {
  },
  methods: {
    getPaySelectWay: function () {
      this.$fetch('native/paySelectWay.do', {}, true).then((res) => {
        if (res.success) {
          this.rechargeData = res.content[0].payList[1]
        } else {
          Toast(res.message)
        }
      })
    },
    pay: function () {
      this.$post('onlinepay/pay.do', this.czData, true).then((res) => {
        if (res.success) {
          Toast(this.$t('success'))
        } else if(res.msg.indexOf('充值金额不能小于') != -1) {
          Toast(this.$t('tips[11].label') + ' ' + this.rechargeData.min)
        } else if(res.msg.indexOf('充值金额不能大于') != -1) {
          Toast(this.$t('tips[12].label') + ' ' +  this.rechargeData.max)
        } else if(res.msg.indexOf('只能充值一次') != -1) {
          Toast(this.$t('tips[48].label'))
        } else {
          Toast(this.$t('tips[18].label'))
        }
      })
    },
    copy: function () {
      Toast("copy success")
    },
  }
}
</script>

<style scoped>

</style>