<template>
  <div class="service">
    <header class="public-header">
      <router-link to="/"><van-icon name="arrow-left" /></router-link>
      <span>{{$t('cz[0].label')}}</span>
    </header>
    <div class="serviceIframe">
      <iframe :src="czUrl">

      </iframe>
    </div>
  </div>
</template>

<script>
import '@/assets/css/service.less'
export default {
  name: "czUrl",
  data(){
    return{
      czUrl:''
    }
  },
  created() {
    this.czUrl = this.$route.query.url
  },
  mounted() {
  },
  methods:{

  }
}
</script>

<style scoped>

</style>
