<template>
  <div class="language">
    <header>
      <router-link to="/"><van-icon name="arrow-left" /></router-link>
      <span><b>{{$t('language[1].label')}}</b></span>
    </header>
    <div class="content">
      <van-cell v-for="(item, index) in languagesList" :key="index" :title="item.des" is-link  @click="changeType(item.code)" />
    </div>
  </div>
</template>

<script>
import {Toast} from "vant";
import '@/assets/css/center/language.less'
export default {
  name: "language",
  components:{
  },
  data(){
    return{
      languagesList:[{
        des:'English',
        code:'en'
      },{
        des:'Indonesia',
        code:'ina'
      },{
        des:'中文',
        code:'zh'
      },],
    }
  },
  created() {
    // this.getLanguages()
  },
  methods:{
    back:function (){
      this.$router.push('/personal')
    },
    changeType:function (type){
      this.$i18n.locale = type
      this.$cookies.set("language",type)
      localStorage.setItem('locale',type)
      Toast(this.$t('language[0].label'))
    },
    // 获取语言
    getLanguages:function () {
      this.$fetch('native/getLanguages.do').then(res =>{
        this.languagesList = res.content
      })
    },
  }
}
</script>

<style scoped>

</style>
