<template>
  <div class="lottery_record">
    <personal_header @get_lottery_order="get_lottery_order" :headerData="headerData"></personal_header>
    <div class="content">
      <div class="content-card">
        <div class="c-c-item">
          <em>{{$t('lotteryRecord[0].label')}}</em>
          <p style="color: red;">{{lotteryData.sumBuyMoney || 0}}</p>
        </div>
        <div class="c-c-item">
          <em>{{$t('lotteryRecord[1].label')}}</em>
          <p style="color: #00aa00;">{{lotteryData.sumWinMoney || 0}}</p>
        </div>
        <div class="c-c-item">
          <em>{{$t('lotteryRecord[2].label')}}</em>
          <p style="color: red;">{{ (lotteryData.sumWinMoney - lotteryData.sumBuyMoney || 0.00).toFixed(2) || 0}}</p>
        </div>
      </div>
      <div class="content-list" v-if="lotteryList.length > 0">
        <van-pull-refresh v-model="refreshing" @refresh="onRefresh" >
          <van-list v-model="loading" :finished="finished" :finished-text="$t('lotteryRecord[3].label')" @load="get_lottery_order" :offset="50">
            <div class="list-wrap" v-for="(item,index) in lotteryList" :key="index" @click="getBcLotteryOrderDetail(item)">
              <a href="javascript:void(0)">
                <p>
                  <span>{{$t('lotteryRecord[4].label')}}: <em>{{item.lotName | replace($t('replace'))}}</em></span><span>{{$t('lotteryRecord[5].label')}}: <em class="red">{{item.buyMoney}}</em></span>
                </p>
                <p>
                  <span><em>{{ (item.haoMa).substring(2)  | replace($t('replace'))}}</em></span>
                </p>
                <p><span>{{$t('lotteryRecord[8].label')}}：<em>{{item.createTime}}</em></span>
                  <span style="color:#5cb85c;" v-if="item.status == 2">{{$t('lotteryRecord[9].label')}}</span>
                  <span  class="blue" v-else-if="item.status == 1">{{$t('lotteryRecord[10].label')}}</span>
                  <span style="color: red;" v-else>{{item.status}}</span>
                </p>
                <p style="display: inline-block;">{{$t('lotteryRecord[11].label')}}：<span>{{item.qiHao}}</span></p>
              </a>
            </div>
          </van-list>
        </van-pull-refresh>
      </div>
      <div style="text-align: center;line-height: 40px;font-size: 10px" v-else>
        {{$t('lotteryRecord[12].label')}}
      </div>
      <van-popup v-model="detailStatus" position="bottom" :style="{ height: '100%','z-index':3001 }" @click="detailStatus = false" class="content-list-detail"  >
        <div class="detail-title" style="position: relative;z-index: 3001;">
          <div class="title">{{$t('lotteryRecord[13].label')}}</div>
          <div class="close" @click="detailStatus = false">{{$t('lotteryRecord[14].label')}}</div>
        </div>
        <div class="reclrd-code">
          <span>{{$t('lotteryRecord[15].label')}}：<em>{{detailsData.orderId}}</em></span>
        </div>
        <div class="detail-content" v-if="detailStatus">
          <table  border="0" cellpadding="0" cellspacing="0"  >
            <tbody>
            <tr>
              <td class="bttd"> {{$t('lotteryRecord[16].label')}} </td>
              <td>{{detailsData.account}}</td>
              <td class="bttd">{{$t('lotteryRecord[17].label')}}</td>
              <td style="width: 15%;" >{{ (detailsData.buyMoney/detailsData.model).toFixed(2) }}</td>
            </tr>
            <tr>
              <td class="bttd">{{$t('lotteryRecord[18].label')}}</td>
              <td>{{detailsData.createTime}}</td>
              <td class="bttd">{{$t('lotteryRecord[19].label')}}</td>
              <td>{{detailsData.buyZhuShu}}</td>
            </tr>
            <tr>
              <td class="bttd">{{$t('lotteryRecord[4].label')}}</td>
              <td>{{detailsData.lotName | replace($t('replace'))}}</td>
              <td class="bttd">{{$t('lotteryRecord[20].label')}}</td>
              <td>{{detailsData.multiple }}</td>
            </tr>
            <tr>
              <td class="bttd">{{$t('lotteryRecord[11].label')}}</td>
              <td>{{detailsData.qiHao}}</td>
              <td class="bttd">{{$t('lotteryRecord[21].label')}}</td>
              <td>{{detailsData.buyMoney}}</td>
            </tr>
            <tr>
              <td class="bttd">{{$t('lotteryRecord[22].label')}}</td>
              <td>{{ (detailsData.playName.substring(0,2) || '') | replace($t('replace'))}}</td>
              <td class="bttd">{{$t('lotteryRecord[23].label')}}</td>
              <td >{{detailsData.odds}}</td>
            </tr>
            <tr>
              <td class="bttd">{{$t('lotteryRecord[24].label')}}</td>
              <td>{{ (detailsData.haoMa.substring(2) || '') | replace($t('replace'))}}</td>
              <td class="bttd">{{$t('lotteryRecord[25].label')}}</td>
              <td>{{detailsData.winZhuShu}}</td>
            </tr>
            <tr>
              <td class="bttd">{{$t('lotteryRecord[26].label')}}</td>
              <td style="color:#5cb85c;" v-if="detailsData.status == 2">{{$t('lotteryRecord[9].label')}}</td>
              <td style="color:#0894ec " v-else-if="detailsData.status == 1">{{$t('lotteryRecord[10].label')}}</td>
              <td style="color:#ec2829 " v-else>{{detailsData.status}}</td>
              <td class="bttd">{{$t('lotteryRecord[27].label')}}</td>
              <td>{{detailsData.winMoney ? detailsData.winMoney : 0.00}}</td>
            </tr>
            <tr v-if="detailsData.winMoney > 0 && detailsData.winZhuShu > 0">
              <td class="bttd">{{$t('lotteryRecord[28].label')}}</td>
              <td colspan="3">{{ (detailsData.winMoney - detailsData.buyMoney).toFixed(2)}}</td>
            </tr>
            <tr>
              <td class="bttd">{{$t('lotteryRecord[29].label')}}</td>
              <td colspan="3">{{ (detailsData.haoMa.substring(2) || '') | replace($t('replace'))}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </van-popup>
    </div>
  </div>
</template>

<script>
import '@/assets/css/center/lottery_records.less'
import personal_header  from '@/components/include/personal_header'
import {Dialog} from 'vant';
export default {
  name: "lottery_record",
  components:{
    personal_header
  },
  data(){
    return{
      headerData:{title:this.$t('personal_header[17].label'),filter:'isChangeMoney',popupHeight:'200px'},
      params:{
        startTime:'',
        endTime:'',
        code:'',
        status:'',
        page:0,
        rows:6,
        lhc:0
      },
      lotteryList:[],
      lotteryData:{},
      detailsData:{},
      detailStatus:false,
      disabledRef:false,
      refreshing:false, //是否处于加载状态
      loading:false, //是否处于架子啊状态，加载过程中不触发load 事件
      finished:false,//是否已加载完成，加载完成不在触发,这里是改变text
      floder: this.$store.state.stationInfo.content.station.floder || 'x002',
    }
  },
  created() {
  },
  mounted() {
    this.d
    console.log(this.$t('personal_header[17].label'))
  },
  methods:{
    //查询投注记录
    get_lottery_order(arg=''){
      if (arg){
        this.params.endTime = arg.endTime
        this.params.startTime = arg.startTime
        this.params.code = arg.code
        this.params.status = arg.status
        this.params.page = 0
        this.finished = false;
        this.loading = true;
        this.lotteryList = []
      }
      this.params.page ++
      this.$post('native/get_lottery_order.do',this.params,true).then(res=>{
        if ('isLogin' in res && res.isLogin == false){
          Dialog.alert({
            title: '',
            message: res.msg
          }).then(() => {
            this.$router.push({
              path: '/login',
            })
          });
          return
        }
        if (this.refreshing){
          this.lotteryList = []
          this.refreshing = false
        }

        this.lotteryList = [...this.lotteryList,...res.page.list]
        this.lotteryData = res

        this.loading = false
        if (res.page.totalCount  <= (parseInt(res.page.currentPageNo) * parseInt(res.page.pageSize))){
          this.finished = true
        }

      })
    },
    //清空数据
    onRefresh(){
      this.finished = false;
      this.loading = true;
      this.params.page = 0
      this.get_lottery_order();
    },
    //撤单
    // cancel: function(orderId) {
    //   this.$post( 'native/cancelOrder.do', {orderId: orderId, lotCode: ''}).then(res=>{
    //     if(res.success) {
    //       Toast.success('撤单成功');
    //     } else {
    //       // Toast.fail(res.msg);
    //       Toast.fail('撤单失败,请询问相关客服！');
    //     }
    //   })
    // },
    //查询详细记录
    getBcLotteryOrderDetail:function (item){
      this.$root.common.loading(true)
      this.$post('lotteryBet/getBcLotteryOrderDetail.do',{orderId:item.orderId,lotCode:item.lotCode},true).then(res=>{
        if (res){
          this.detailsData = res;
          this.detailStatus = true
          this.$root.common.loading(false)
        }
      })
    }
  },
  watch:{

  },
  filters:{
    replace:function (value, str){
      if (value == undefined) return  '';
      if (value.includes('分钟')) return value.replace(/分钟/g,str[0].label);
      if (value.includes('小时')) return value.replace(/小时/g,str[1].label);
      if (value.includes('大单')) return value.replace(/大单/g,str[6].label);
      if (value.includes('大双')) return value.replace(/大双/g,str[7].label);
      if (value.includes('小单')) return value.replace(/小单/g,str[8].label);
      if (value.includes('小双')) return value.replace(/小双/g,str[9].label);
      if (value.includes('大')) return value.replace(/大/g,str[2].label);
      if (value.includes('小')) return value.replace(/小/g,str[3].label);
      if (value.includes('单')) return value.replace(/单/g,str[4].label);
      if (value.includes('双')) return value.replace(/双/g,str[5].label);
      if (value.includes('双')) return value.replace(/双/g,str[5].label);
      if (value.includes('整合')) return value.replace(/整合/g,str[10].label);
      return value
    },
  }
}
</script>

<style scoped >

</style>