<template>
  <div class="upd_password">
    <header>
      <router-link to="/"><van-icon name="arrow-left" /></router-link>
      <span><b>{{$t('moneyShift[0].label')}}</b></span>
    </header>
    <div class="content">
      <van-cell-group>
        <van-field :label="$t('moneyShift[1].label')" type="password" :placeholder="$t('moneyShift[1].label')"/>
        <van-field :label="$t('cz[1].label')" type="password" :placeholder="$t('cz[1].label')"/>
        <van-field :label="$t('bindCard[3].label')" type="password" :placeholder="$t('bindCard[3].label')"/>
      </van-cell-group>
      <van-button type="info" block>{{$t('bindCard[4].label')}}</van-button>
    </div>
  </div>
</template>

<script>
import '@/assets/css/center/upd_password.less'
export default {
  name: "moneyShift",
  data(){
    return{

    }
  },
  created() {

  },
  methods:{

  }
}
</script>

<style scoped>

</style>