<template>
  <div class="share">
    <header>
      <router-link to="/personal">
        <van-icon name="arrow-left"/>
      </router-link>
      <span><b>{{$t('share[0].label')}}</b></span>
    </header>
    <div class="content">
      <div class="code">
        <div id="qrcode" ref="qrcode"></div>
      </div>
      <div class="link">
        <div class="top">{{ url }}</div>
        <div class="bottom" v-clipboard:copy="url" v-clipboard:success="copy">{{$t('share[1].label')}}</div>
      </div>
      <div class="tip">
        <p>{{$t('share[2].label')}}</p>
        <p>{{$t('share[3].label')}}</p>
        <p>{{$t('share[4].label')}}</p>
        <p>{{$t('share[5].label')}}</p>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/center/share.less'
import QRCode from "qrcodejs2";
import {Toast} from "vant";

export default {
  name: "share",
  data() {
    return {
      url: '',
      content: '',
    }
  },
  created() {
    this.getLink()
  },
  mounted() {
    this.qrcode()
  },
  methods: {
    // 获取余额
    getLink: function () {
      this.$fetch('native/generalizeLink.do',{}).then(res => {
        if (res.list.length == 0) {
          this.getLeciUserLink()
        } else {
          this.url = location.protocol + '//' + location.hostname + '/mobile/index.do#/register?id=' + res.list[0].linkKey
        }
      })
    },
    getLeciUserLink: function () {
      let data = {}
      this.$post('native/leciUserLink.do', data,true).then(res => {
        this.postLink(res)
      })
    },
    postLink: function (e) {
      let data = {
        id: '',
        type: 1,
        linkKey: e.link.linkKey,
        cpRolling: 0,
        status: 2,
        profitShare: '',
        dynamicRate: '',
      }
      this.$post('native/updateOrSaveLink.do', data,true).then(res => {
        if(res.success){
          this.getLink()
        }
      })
    },
    qrcode: function () {
      new QRCode("qrcode", {
        width: 150, // 二维码宽度，单位像素
        height: 150, // 二维码高度，单位像素
        text: this.url // 生成二维码的链接
      });
    },
    copy: function () {
      Toast("copy success")
    },
  }
}
</script>

<style scoped>

</style>