<template>
  <div class="team">
    <header>
      <router-link to="/personal"><van-icon name="arrow-left" /></router-link>
      <span><b>{{$t('team[0].label')}}</b></span>
    </header>
    <div class="notice">
      <van-notice-bar
          left-icon="volume-o"
          color="#143e8f"
          background="linear-gradient(9deg,#ddeefe,#ddd7ff)"
          :text="notice"
      />
    </div>
    <div class="title">1.8% {{$t('team[1].label')}}</div>
    <div class="level">
      <router-link to="/teamIndex?index=1"><div class="box"></div></router-link>
      <router-link to="/teamIndex?index=0"><div class="box"></div></router-link>
      <router-link to="/teamIndex?index=2"><div class="box"></div></router-link>
    </div>
    <div class="level-data">
      <table>
        <thead>
          <tr><th>{{$t('team[2].label')}}</th><th>{{$t('team[3].label')}}</th><th></th></tr>
        </thead>
        <tbody>
          <tr><td>LV{{teamData.level}} {{teamData.levelRate}}%</td><td>{{teamData.total}}$</td><td @click="getOfflineRebate()">{{$t('team[4].label')}}</td></tr>
          <tr><td>LV{{teamData.level}} {{teamData.levelRate}}%</td><td>{{teamData.total}}$</td><td @click="getOfflineRebate()">{{$t('team[4].label')}}</td></tr>
          <tr><td>LV{{teamData.level}} {{teamData.levelRate}}%</td><td>{{teamData.total}}$</td><td @click="getOfflineRebate()">{{$t('team[4].label')}}</td></tr>
        </tbody>
      </table>
    </div>
    <div class="tip">
      <p>{{$t('share[2].label')}}</p>
      <p>{{$t('share[3].label')}}</p>
      <p>{{$t('share[4].label')}}</p>
      <p>{{$t('share[5].label')}}</p>
    </div>
  </div>
</template>

<script>
import '@/assets/css/center/team.less'
export default {
  name: "team",
  data(){
    return{
      notice:'',
      teamData:''
    }
  },
  created() {
    this.getPopNotices()
    this.getOfflineRebate()
  },
  mounted() {
  },
  methods:{
    // 获取网站公告
    getPopNotices:function (){
      let params = {
        code: 13
      }
      this.$fetch('native/getPopNotices.do',params).then((res) => {
        if(res.success && res.content.length > 0){
          this.notice = res.content[0].content
        }
      })
    },
    // 获取团队数据
    getOfflineRebate:function (){
      let params = {
        account:this.$store.state.userInfo.account
      }
      this.$post('native/getOfflineRebate.do',params).then((res) => {
        this.teamData = res.content
      })
    },
  }
}
</script>

<style scoped>

</style>