<template>
  <div class="teamIndex">
    <header>
      <router-link to="/team">
        <van-icon name="arrow-left"/>
      </router-link>
      <span><b>{{$t('team[5].label')}}</b></span>
    </header>
    <van-tabs v-model="active">
      <van-tab :title="item" v-for="(item, index) in teamIndex" :key="index">
        <div class="item" v-for="(item2, index2) in teamList" :key="index2">
          <div class="list"><span class="left">{{$t('team[6].label')}}：{{ item2.account }}</span><span class="right">ID：{{item2.accountId}}</span></div>
          <div class="list"><span class="left">{{$t('team[7].label')}}：{{item2.total}}</span></div>
<!--          <div class="list"><span class="left">电话：6686232622</span></div>-->
        </div>
      </van-tab>
    </van-tabs>
  </div>
</template>

<script>
import '@/assets/css/center/teamIndex.less'

export default {
  name: "teamIndex",
  data() {
    return {
      active: 0,
      teamIndex: [this.$t('team[8].label'), this.$t('team[9].label'), this.$t('team[10].label')],
      teamList:[]
    }
  },
  created() {
    this.getOfflineRebate()
  },
  mounted() {
    this.active = parseInt(this.$route.query.index)
  },
  methods: {
    // 获取团队人员
    getOfflineRebate: function () {
      let params = {
        account: this.$store.state.userInfo.account,
        level:this.active
      }
      this.$post('native/getAgentLevelRebate.do', params).then((res) => {
        this.teamList = res.content
      })
    },
  },
  watch:{
    'active'(){
      this.teamList = []
      this.getOfflineRebate()
    }
  }
}
</script>

<style scoped>

</style>