<template>
  <div class="upd_password">
    <header>
      <router-link to="/"><van-icon name="arrow-left" /></router-link>
      <span><b>{{title}}</b></span>
    </header>
    <div class="content">
      <van-cell-group>
        <van-field v-model="params.oldpassword" :label="$t('updPass[0].label')" type="password" left-icon="bag-o" :placeholder="$t('updPass[0].label')"/>
        <van-field v-model="params.newpassword" clearable type="password" :label="$t('updPass[1].label')" left-icon="bag-o" :placeholder="$t('updPass[1].label')"/>
        <van-field v-model="params.confirmpassword" clearable type="password" :label="$t('updPass[2].label')" left-icon="bag-o" :placeholder="$t('updPass[2].label')"/>
      </van-cell-group>
      <van-button type="info"  block @click="submitPassword">{{$t('bindCard[4].label')}}</van-button>
    </div>
  </div>
</template>

<script>
import '@/assets/css/center/upd_password.less'
import {Dialog, Toast} from "vant";
export default {
  name: "upd_password",
  data(){
    return{
      title:this.$t('updPass[3].label'),
      url:'native/modify_pass.do',
      params:{
        oldpassword:'',
        newpassword:'',
        confirmpassword:'',
      }
    }
  },
  created() {
    if (this.$route.query.type == 2){
      this.title = this.$t('updPass[4].label')
      this.url = 'native/modify_cashpass.do'
    }
  },
  methods:{
    back: function() {
      this.$router.push('/personal')
    },
    submitPassword:function (){
      if (!this.params.oldpassword){
        Toast({
          message: this.$t('updPass[5].label'),
          duration:500
        });
        return
      }
      if (!this.params.newpassword){
        Toast({
          message: this.$t('updPass[6].label'),
          duration:500
        });
        return
      }
      if (!this.params.confirmpassword){
        Toast({
          message: this.$t('updPass[7].label'),
          duration:500
        });
        return
      }
      if (this.params.newpassword != this.params.confirmpassword){
        Toast({
          message: this.$t('updPass[8].label'),
          duration:500
        });
        return
      }

      this.$post(this.url,this.params,'true').then(res=>{
        if (res.success){
          Dialog.alert({
            message: this.$t('updPass[9].label'),
            confirmButtonText:this.$t('updPass[10].label')
          }).then(() => {
            this.$router.push('/')
          });
        }else {
          Toast({
            message: res.msg,
            duration:1500
          });
        }
      })
    }
  }
}
</script>

<style scoped>

</style>