<template>
  <div class="upd_password">
    <header>
      <router-link to="/"><van-icon name="arrow-left" /></router-link>
      <span><b>{{title}}</b></span>
    </header>
    <div class="content">
      <van-cell-group style="font-size: 14px">
        <van-field v-model="currencyType" type="text" :placeholder="currencyType" readonly/>
        <van-field @click="isShowBank=true" readonly v-model="protocol" type="text" :placeholder="$t('tips[24].label')"/>
        <van-field v-model="address" type="text"  :placeholder="$t('tips[25].label')"/>
      </van-cell-group>
<!--      <van-cell-group style="font-size: 14px">-->
<!--        <van-field type="text" v-model="$store.state.userInfo.walletAddress" readonly/>-->
<!--      </van-cell-group>-->
      <van-button type="primary" color="#ec2829" block @click="submitPassword">{{$t('bindCard[4].label')}}</van-button>
<!--      <div style="text-align: center;margin-top: 20px">{{$t('tips[23].label')}}</div>-->
      <van-popup v-model="isShowBank">
        <van-cell-group>
          <van-cell @click="selectBank(item)" v-for="(item,index) in protocolList" :key="index" :title="item" is-link />
        </van-cell-group>
      </van-popup>
    </div>
  </div>
</template>

<script>
import '@/assets/css/center/upd_password.less'
import {Dialog, Toast} from "vant";
export default {
  name: "upd_password",
  data(){
    return{
      title:this.$t('personal[32].label'),
      currencyType:'USDT',
      protocol:'',
      address:'',
      isShowBank:false,
      protocolList:['TRC20','ERC20','OKC','Polygon','Solana','kkpay',]
    }
  },
  created() {
    console.log(this.$store.state)
    this.address = this.$store.state.userInfo.walletAddress
  },
  methods:{
    //选择银行
    selectBank: function(protocol) {
      this.isShowBank = false;
      this.protocol = protocol;
    },
    back: function() {
      this.$router.push('/personal')
    },
    submitPassword:function (){
      if (!this.address){
        Toast({
          message: this.$t('tips[25].label'),
          duration:500
        });
        return
      }
      let params = {
        currencyType: this.currencyType,
        protocol: this.protocol,
        walletAddress: this.address
      }
      this.$post('native/update_wallet_address.do',params,'true').then(res=>{
        if (res.success){
          Dialog.alert({
            message: this.$t('personal[28].label'),
            confirmButtonText:this.$t('bindCard[7].label')
          }).then(() => {
            this.$router.push('/')
          });
        }else {
          Toast({
            message: res.msg,
            duration:1500
          });
        }
      })
    }
  }
}
</script>

<style>
.upd_password .content .van-cell__title, .upd_password .content .van-cell__value{
  flex: auto!important;
}
</style>
