<template>
  <div class="website_message">
    <header>
      <router-link to="/"><van-icon name="arrow-left" /></router-link>
      <span><b>{{$t('message[0].label')}}</b></span>
      <div class="edit" @click="editData">{{$t('message[1].label')}}</div>
    </header>
    <div class="content" v-if="messageData.length > 0">
      <van-checkbox-group v-model="checkbox.value" ref="checkboxGroup">
        <div class="content-item" v-for="(item,index) in messageData" :key="index"  >
        <div class="item-left" >
          <span class="item-lable" v-if="item.status == 1" @click="getImegDetail(item,index)"></span>
          <span class="item-lable"  style="background:#d4d4d4;" v-else @click="getImegDetail(item,index)"></span>
          <van-checkbox :name="item.id" class="item-checkbox" v-show="checkbox.status"></van-checkbox>
          <p class="item-title" @click="getImegDetail(item,index)">{{item.title}}</p>
        </div>
        <div class="item-right" @click="getImegDetail(item,index)">
          <div class="item-after">{{$root.common.getMyDate(item.createDatetime,2)}}</div>
        </div>
      </div>
      </van-checkbox-group>
      <van-popup v-model="detail" position="bottom" :style="{ height: '100%','z-index':3001 }" @click="detail = false" class="content-item-detail"  >
        <div class="detail-title" style="position: relative;z-index: 3001;">
          <div class="title">{{$t('message[2].label')}}</div>
          <div class="close" @click="detail = false">{{$t('lotteryRecord[14].label')}}</div>
        </div>
        <div class="detail-content">
          <div class="card-header" style="background: #f1f1f1;">
            <span style="display:inline-block;width:100%;text-align:center;font-size: 16px;">{{detailData.title}}</span>
          </div>
          <div class="card-content">
            <div class="card-content-inner" style="font-size: 14px;">{{detailData.content}}</div>
          </div>
        </div>
      </van-popup>
    </div>
    <div style="text-align: center;background: #efeff4;line-height: 40px;font-size: 18px" v-else>
      {{$t('message[3].label')}}
    </div>
    <div class="bet-footer" v-show="checkbox.status">
      <van-button type="primary" color="#464646" style="color: #ffffff;" @click="editData(1)">{{$t('message[4].label')}}</van-button>
      <van-button type="primary" color="#464646" style="color: #ffffff;" @click="editData(2)" v-if="!checkboxAll">{{$t('message[5].label')}}</van-button>
      <van-button type="primary" color="#464646" style="color: #ffffff;" @click="$refs.checkboxGroup.toggleAll(),checkboxAll=false" v-else>{{$t('message[6].label')}}</van-button>
      <van-button type="primary" color="#ffb400" @click="editData(3)">{{$t('message[7].label')}}</van-button>
    </div>
  </div>
</template>
<script>
import '@/assets/css/center/website_message.less'
import {Dialog, Toast} from "vant";
export default {
  name: "website_message",
  components:{},
  data(){
    return{
      detail:false,
      messageData:'',
      checkboxAll:false,
      detailData:{title:'',content:''},
      checkbox:{status:false,value:[]},
    }
  },
  created() {
    this.getMessageList()
  },
  methods:{
    back: function() {
      this.$router.push('/personal')
    },
    //获取消息
    getMessageList:function (loading=true){
      this.$post('center/news/message/list.do',{pageNumber: 1,pageSize:100,status:0},loading).then(res=>{
        if (res){
          this.messageData = res.list
        }
      })
    },
    //修改已读状态
    getImegDetail:function (item,indexs){
      this.detail = true
      this.detailData.title = item.title
      this.detailData.content = item.message
      this.messageData.some((item,index)=>{
        if (index == indexs){
          this.messageData[index].status = 2
          this.read(item.id)
          return true
        }
      })
    },
    //阅读信息
    read:function(id,status = 1){
      if (status === 1){
        this.$post('center/news/message/read.do',{id:id},true).then(res=>{
          if (res.success){
            this.$root.common.loading(false)
          }
        })
      }else {
        this.$fetch('center/news/message/batchRead.do',{id:id},true).then(res=>{
          if (res.success){
              Toast.success(
              {
                message: this.$t('message[8].label'),
                duration:500
              });

              setTimeout(()=>{
                this.getMessageList(false)
              },500)
          }
        })
      }

    },
    //删除信息
    delete:function (id){
      this.$fetch('center/news/message/batchDelete.do',{id:id},true).then(res=>{
        if (res.success){
          Toast.success(this.$t('message[9].label'));
          this.$root.common.loading(false)
        }
      })
    },
    //编辑信息
    editData:function (status=''){
      this.checkbox.status = !this.checkbox.status
      if (status == 1){//已读
        this.checkbox.status = true
        Dialog.confirm({
          title: this.$t('message[4].label'),
          message: this.$t('message[10].label'),
        }).then(() => {
          let id = this.checkbox.value.toString()
          if (id){
            this.read(id,2)
          }
          return
        })

      }else if (status == 2){//全选
        this.checkbox.status = true
        this.checkboxAll = true
        this.$refs.checkboxGroup.toggleAll(true);

      }else if (status == 3 ){ //删除
        this.checkbox.status = true
        Dialog.confirm({
          title: this.$t('message[7].label'),
          message: this.$t('message[11].label'),
        }).then(() => {
          let id = this.checkbox.value.toString()
          if (id){
            this.delete(id)
          }
          return
        })
      }
    }
  }
}
</script>
<style scoped>

</style>