<template>
  <div class="upd_password">
    <header>
      <router-link to="/"><van-icon name="arrow-left" /></router-link>
      <span><b>{{$t('withdrawDeposit[0].label')}}</b></span>
    </header>
    <div class="content">
      <van-cell-group>
        <van-field v-show="radio == '0'" input-align="centen" clearable type="text" :label="$t('withdrawDeposit[1].label')" :placeholder="pickMoneyInfor.bankName + '(' + pickMoneyInfor.cardNo.replace('******', '') + ')'" disabled />
        <van-field v-show="radio == '1'" input-align="centen" clearable type="text" :label="$t('withdrawDeposit[2].label')" :placeholder="$store.state.userInfo.currencyType" disabled />
        <van-field v-show="radio == '1'" input-align="centen" clearable type="text" :label="$t('withdrawDeposit[3].label')" :placeholder="$store.state.userInfo.protocol" disabled />
        <van-field v-show="radio == '1'" input-align="centen" clearable type="text" :label="$t('withdrawDeposit[4].label')" :placeholder="$store.state.userInfo.walletAddress" disabled />
        <van-field input-align="centen" clearable type="number" :label="$t('withdrawDeposit[5].label')" :placeholder="$store.state.userInfo.userName" disabled />
        <van-field input-align="centen" clearable type="number" :label="$t('withdrawDeposit[6].label')" :placeholder="$store.state.userInfo.money" disabled />
        <van-field v-model="money" input-align="centen" clearable type="number" :label="$t('withdrawDeposit[7].label')"  />
        <van-field v-model="password"   input-align="centen" clearable type="password" :label="$t('bindCard[3].label')" />
      </van-cell-group>
      <van-radio-group v-model="radio" v-if="$store.state.userInfo.walletAddress" style="width: 100%">
        <van-cell-group>
          <van-cell :title="$t('withdrawDeposit[1].label')" clickable @click="radio = '0'">
            <template #right-icon>
              <van-radio name="0"  checked-color="#1989fa"/>
            </template>
          </van-cell>
          <van-cell :title="$t('withdrawDeposit[4].label')" clickable @click="radio = '1'">
            <template #right-icon>
              <van-radio name="1" checked-color="#1989fa" />
            </template>
          </van-cell>
        </van-cell-group>
      </van-radio-group>
      <van-button type="info" block @click="submits()">{{$t('bindCard[4].label')}}</van-button>
    </div>
  </div>
</template>

<script>
import '@/assets/css/center/upd_password.less'
import {Toast,Dialog} from "vant";
export default {
  name: "withdrawDeposit",
  data(){
    return{
      money:'',
      password:'',
      pickMoneyInfor:'',//卡号余额等数据
      radio:'0',
    }
  },
  created() {
    this.getPick_money_data()
  },
  methods:{
    back(){
      this.$router.push('/personal')
    },
    //获取提款时的提款帐号余额，卡号，银行名称，限制等数据
    getPick_money_data:function(){
      this.$root.common.loading(true)
      this.$post('native/pick_money_data.do',{}).then((ret) => {
        if(ret.success) {
          this.pickMoneyInfor = ret.content;
          this.pickMoneyInfor.cardNo ? this.pickMoneyInfor.cardNo = this.pickMoneyInfor.cardNo.substr(-4) : '';
        } else {
          if(!ret.success) {
            Dialog.alert({
              title: this.$t('personal_header[24].label'),
              message: ret.msg
            }).then(() => {
              this.$router.push({
                path: '/login',
              })
            });
          }
        }
        this.$root.common.loading(false)
      })
    },
    beforeClose:function(){
      this.$router.push({
        path: '/personal',
      })
    },
    //提交
    submits:function(){
      if(!this.money){
        Toast(this.$t('lottery[10].label'));
        return false;
      }else if(!this.password){
        Toast(this.$t('tips[26].label'));
        return false;
      }else{
        this.getPickMoney();//提款
      }
    },
    //提款
    getPickMoney:function(){
      const loading = Toast.loading({
        duration: 0,
        forbidClick: true,
        loadingType: 'spinner',
        message: '...'
      });
      let params = {
        money: this.money,
        repPwd: this.password,
        withdrawWay: this.radio,
      };
      this.$post('native/post_pick_money.do',params).then(ret=> {
        if(ret.success) {
          loading.clear();
          Toast(this.$t('tips[27].label'));
        } else if(ret.msg.indexOf('取款金额必须是整数') != -1){
          Toast(this.$t('tips[28].label'));
        } else if(ret.msg.indexOf('提款金额格式错误') != -1){
          Toast(this.$t('tips[29].label'));
        } else if(ret.msg.indexOf('提款金额不能大于最高金额') != -1){
          Toast(this.$t('tips[30].label') + this.pickMoneyInfor.maxPickMoney);
        } else if(ret.msg.indexOf('提款金额不能小于最低金额') != -1){
          Toast(this.$t('tips[31].label') + this.pickMoneyInfor.minPickMoney);
        } else if(ret.msg.indexOf('暂无提款权限') != -1){
          Toast(this.$t('tips[32].label'));
        } else if(ret.msg.indexOf('只能提现一次') != -1){
          Toast(this.$t('tips[33].label'));
        } else if(ret.msg.indexOf('提款密码为空') != -1){
          Toast(this.$t('tips[34].label'));
        } else if(ret.msg.indexOf('今日已提款') != -1){
          Toast(this.$t('tips[35].label'));
        } else if(ret.msg.indexOf('提款密码为空') != -1){
          Toast(this.$t('tips[36].label'));
        } else if(ret.msg.indexOf('投注量未达标') != -1){
          Toast(this.$t('tips[49].label'));
        } else if(ret.msg.indexOf('今日已提款') != -1){
          Toast(this.$t('tips[50].label'));
        } else if(ret.msg.indexOf('超出取款时间') != -1){
          Toast(this.$t('tips[51].label'));
        } else {
          Toast.fail(this.$t('tips[37].label'));
        }
      })
    },
  }
}
</script>

<style scoped>

</style>