<template>
    <div id="esports-news-zhuanti-detail">
        <!-- 面包屑导航 -->
        <div class="breakcrumbs">
            <div class="item" @click="$router.push({name:'homeIndex'})">
                <i class="iconfont icon-home1"></i>
            </div>
            <i class="iconfont icon-forward"></i>
            <div class="item" @click="$router.push({name:'homeNews',params:{mode:'4'}})">
                电竞资讯
            </div>
            <i class="iconfont icon-forward"></i>
            <div class="item active">
                {{specialName}}
            </div>
        </div>
        <div class="hr1"></div>
        <!-- 专题头部详情  -->
        <div class="zhuanti-detail-header" :style="{backgroundImage:`url(${imageUrl})`}">
            <div class="l">
                <div class="title">{{specialName}}</div>
                <div class="description">{{specialName}}</div>
                <div class="detail">
                    <i class="iconfont icon-biaoqian"></i>
                    {{sidNewsCount}}
                </div>
            </div>
        </div>
        <div class="hr1"></div>
        <!-- 专题文章列表 -->
        <div class="scroll-list">
            <xw-item 
                v-for="(item,index) in resultList"
                :key="'esports-news-list-item-1-' + index"
                className="animated fadeInUp border-style-2"
                :zhuanti="specialName"
                :data="item" >
            </xw-item>
            <p v-if="httpLoading">加载中...</p>
            <p v-if="noMore">没有更多了</p>
        </div>
    </div>
</template>
<script>
/**
 * @description 专题详情
 */
import xwItem from '@/components/news/news'
export default {
    created(){
        this.getDatas().then(()=>{
            this.getDataList()
        })
        window.scrollTo(0,0)
        window.addEventListener('scroll',this.listenScroll)
    },
    data(){
        return {
            resultData:false,
            resultList:false,
            pageIndex:1,
            pageSize:5,
            httpLoading:false,
            noMore:false,
            scrollTop:0,           
        }
    },
    computed:{
        /* 资讯id */
        articleId:function(){
            return this.$route.params.id || ''
        },
        /* 资讯标题 */
        specialName:function(){
            console.dir(this.resultData)
            return this.resultData.specialName || ''
        },
        /* 专题描述 */
        introduce:function(){
            console.dir(this.resultData)
            return this.resultData.introduce || ''
        },
        /* 下面的新闻数量 */
        sidNewsCount:function(){
            return this.resultData.sidNewsCount || 1
        },
        /* 封面地址 */
        imageUrl:function(){
            return this.resultData.imageUrl || ""
        },
        /* 资讯类型列表 */
        NEWS_TYPE_LIST:function(){
            return this.$store.getters.NEWS_TYPE_LIST
        },
        /* 资讯类型实体 */
        NEWS_TYPE_ITEM:function(){
            return this.NEWS_TYPE_LIST.get('xw')
        }
    },
    methods:{
        getDatas:function(){
            return new Promise(resolve => {
                /* 请求专题详细信息 */
                this.$http.post('api/News/GetNewsContentList',{
                    sid:this.articleId,
                    itid: "1a96dbfb-c18c-426c-a7da-00152574b0e0",
                    pageIndex:1,
                    pageSize:1
                }).then(response => {
                    const {resultCode,resultData} = response.data
                    if(resultCode == 1){
                        const {newsContentList=[]} = resultData
                        if(Array.isArray(newsContentList) && newsContentList.length){
                            this.resultData = newsContentList[0]
                            resolve()
                        }
                    }
                })

            })
        },
        /* 继续请求专题下文章列表 */
        getDataList:function(){
            return new Promise(reslove => {
                this.$http.post('api/News/GetNewsContentList',{
                    itid:'',
                    sid:this.articleId,
                    nsid:[],
                    keyword:"",
                    pageIndex:this.pageIndex,
                    pageSize:this.pageSize,
                }).then(response => {
                    const {resultCode,resultData} = response.data
                    /* 请求成功 */
                    if(resultCode == 1){
                        const {newsContentList = []} = resultData
                        if(newsContentList.length){
                            /* 初次请求 */
                            if(!this.resultList){
                                this.resultList = newsContentList
                            }else{
                                /* 下拉加载 */
                                this.resultList = new Array().concat(this.resultList,newsContentList)
                            }
                        }else{
                            /* 停止加载 */
                            this.noMore = true
                        }
                        reslove()   
                    }
                })
            })
        },
        pullLoadData:function(){
            this.pageIndex++
            this.httpLoading = true
            this.getDataList().then(()=>{
                this.httpLoading = false
            })
        },
        /* 监听页面滚动 */
        listenScroll:function(){
            if(!this.httpLoading && !this.noMore && this.articleId){
                const distance = document.documentElement.scrollHeight - document.documentElement.scrollTop - document.documentElement.clientHeight
                if(distance < 350){
                    this.scrollTop = document.documentElement.scrollTop
                    this.pullLoadData()
                }
            }
        },
    },
    watch:{
        articleId:function(){
            this.resultList = false
            this.httpLoading = false
            this.noMore = false
            this.getDatas().then(()=>{
                this.getDataList()
            })
        },
    },
    components:{
        xwItem
    }
}
</script>
<style lang="scss">
#esports-news-zhuanti-detail{
    margin: 20px 0;
    background-color: #22262a;
    .zhuanti-detail-header{
        height: 185px;
        background-repeat: no-repeat;
        background-size: 275px 100%;
        background-position: 100% 0;
        .l{
            width: 650px;
            height: 185px;
            box-sizing: border-box;
            padding-top: 30px;
            padding-left: 30px;
            display: flex;
            flex-direction: column;
            .title{
                color: white;
                font-weight: 500;
                font-size: 18px;
            }
            .description{
                margin: 10px 0;
                font-size: 13px;
                font-family:"Microsoft YaHei";
                color: #a2a5aa;
                line-height: 26px;
                height: 50px;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .detail{
                margin-top: 5px;
                display: flex;
                align-items: center;
                .iconfont{
                    margin-top: 5px;
                    margin-right: 5px;
                }
            }
        }
    }

    p{
        background: $theme-bg-color;
        text-align: center;
        color: white;
        padding: 2rem 0;
    }
}
</style>