<template>
  <div class="lottery">
    <header>
      <a v-if="$store.state.guestSwitch" href="#" @click="outGuest()">
        <van-icon name="arrow-left"/>
      </a>
      <div class="tab">
        <div class="left"
             @click="$router.push({path:'/draw_notice_details?code='+$route.query.code+'&lotGroup=2&name=' + lottery.name})">{{$t('lottery[0].label')}}
        </div>
        <div class="right" @click="$router.push({path:'/lottery_record'})">{{$t('lottery[1].label')}}</div>
      </div>
      <b @click="ruleShow = true">{{$t('lottery[2].label')}}</b>
    </header>
    <div class="content">
      <div class="list" style="height: 30px;display: flex;justify-content: space-between;">
        <span><b style="color: #FFFFFF;font-size: 16px;">BTC</b></span>
        <span><b style="color: #4ca84b;font-size: 16px;">{{lastResult}}</b></span>
      </div>
      <div class="list tabs">
        <div class="tab-car" :class="{active:lotteryTabsIndex == index}" v-for="(item, index) in lotteryTabs"
             :key="index" @click="switchLottery(item,index)">{{ item.name | replace($t('replace')) }}
        </div>
      </div>
      <div id="main" style="width: 100%;height: 300px;"></div>
      <div class="list result">{{$t('lottery[3].label')}}: <span><b v-for="(item,index) in lotteryResult.content.haoMaList"
                                             :key="index">{{ item }}</b></span></div>
      <div class="list qiHao">{{ lotteryStatus.qiHao }}{{$t('lottery[4].label')}}{{$t('lottery[5].label')}}
        <span class="time-font" v-if="!lotteryStatus.countdown"><van-count-down :time="lotteryStatus.time"
                                                                                @finish="finish"
                                                                                format="HH:mm:ss"/></span>
        <span v-else>{{ lotteryStatus.text }}</span>
        <span class="money">{{$t('lottery[6].label')}}：{{ money }}</span>
      </div>
      <div class="num-box">
        <div class="num" :class="{active:betNumIndex == index}" v-for="(item, index) in WF3DList.top" :key="index"
             @click="openBox(item,index)">{{ item.showName | replace($t('replace'))}}<br>{{ item.odds }}
        </div>
      </div>
      <div class="num-box">
        <div class="num" :class="{active:betNumIndex == index + 4}" v-for="(item, index) in WF3DList.bottom"
             :key="index + 4" @click="openBox(item,index + 4)">{{ item.showName | replace($t('replace')) }}<br>{{ item.odds }}
        </div>
      </div>
    </div>
    <div class="bet-box" v-show="boxShow">
      <div class="box">
        <van-icon name="cross" class="close" @click="boxShow = false"/>
        <div class="list"><label>{{$t('lottery[7].label')}}:</label>{{ betShowName | replace($t('replace')) }}</div>
        <div class="list"><label>{{$t('lottery[8].label')}}:</label><input type="number" :placeholder="$t('lottery[10].label')"
                                                   v-model="betMoney"><span>USDT</span></div>
        <div class="list"><label>{{$t('lottery[9].label')}}:</label>{{ betMoney || 0 }}<span>USDT</span></div>
        <div class="button">
          <button @click="betMoney = ''">{{$t('lottery[11].label')}}</button>
          <button @click="bet()">{{$t('lottery[12].label')}}</button>
        </div>
      </div>
    </div>
    <van-popup v-model="ruleShow" position="bottom" :style="{ height: '70%' }">
      <div class="rule-content" style="font-size: 15px;padding: 10px;line-height: 25px;">
        <span v-html="ruleContent"></span>
      </div>
    </van-popup>
    <foot_nav v-if="!$store.state.guestSwitch"></foot_nav>
  </div>
</template>

<script>
import '@/assets/css/lottery.less'
import '@/assets/css/draw_notice.less'
import foot_nav from '@/components/include/foot_nav'
import $ from "jquery";
import {Toast} from 'vant'
import * as echarts from 'echarts/core';
// import { GridComponent } from 'echarts/components';
// import { LineChart } from 'echarts/charts';
// import { UniversalTransition } from 'echarts/features';
// import { CanvasRenderer } from 'echarts/renderers';
// echarts.use([GridComponent, LineChart, CanvasRenderer, UniversalTransition]);


import {
  TitleComponent,
  ToolboxComponent,
  TooltipComponent,
  GridComponent,
  DataZoomComponent
} from 'echarts/components';
import { LineChart } from 'echarts/charts';
import { UniversalTransition } from 'echarts/features';
import { CanvasRenderer } from 'echarts/renderers';

echarts.use([
  TitleComponent,
  ToolboxComponent,
  TooltipComponent,
  GridComponent,
  DataZoomComponent,
  LineChart,
  CanvasRenderer,
  UniversalTransition
]);

export default {
  name: "lottery",
  components: {
    foot_nav
  },
  data() {
    return {
      lotteryResult: {
        content: [{qiHao: '-', haoMaList: ['-,-,-,-,-'], result: '-'}],
        animated: true,
        countdown: true,
        show: false,
        money: true,
      },
      lotteryStatus: {
        time: 24 * 60 * 60 * 1000,
        qiHao: '',
        text: this.$t('lottery[13].label')
      },
      money: '',
      majorData: {
        code: this.$route.query.code,
        sonCode: '',
        className: '',
        name: '',
      },
      ruleShow: false,
      ruleContent: '',
      lottery: '',
      sonData: {
        templateList: '', //彩种模板数据
        thatPlayType: '', //彩种数据
        betList: [],
        money: 0,
        number: 0,
      },
      WF3DList: {
        top: [],
        bottom: [],
      },
      boxShow: false,
      betNumIndex: 9999,
      betMoney: '',
      betData: {},
      betName: '',
      betShowName: '',
      lotteryTabs: '',
      lotteryTabsIndex: 0,
      option : {
        xAxis: {
          type: 'category',
          data: []
        },
        yAxis: {
          type: 'value',
          min:2500,
        },
        grid: {
          top: '8%',
          right: '1%',
          left: '13%',
          bottom: '8%'
        },
        series: [
          {
            name: 'Fake Data',
            type: 'line',
            symbol: 'none',
            sampling: 'lttb',
            itemStyle: {
              color: '#0095ff'
            },
            areaStyle: {
              color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                {
                  offset: 0,
                  color: '#0095ff'
                },
                {
                  offset: 1,
                  color: '#ffffff'
                }
              ])
            },
            data: []
          }
        ],
        tooltip : {
          trigger: 'axis',
          axisPointer: {
            type: 'cross',
            label: {
              backgroundColor: '#6a7985'
            }
          }
        }
      },
      lastResult:0,
    }
  },
  created() {
    this.openResultDetail()
    this.getCountDown()
    this.getLotteryDetail()
    this.getHomeData()
  },
  mounted() {
    if(this.$route.query.code == 'WF309'){
      this.lotteryTabsIndex = 1
    }
  },
  watch: {
    '$route.query.code'() {
      this.lotteryResult.content = [{qiHao: '-', haoMaList: ['-,-,-,-,-'], result: '-'}]
      this.majorData.code = this.$route.query.code;
      this.openResultDetail()
      this.getCountDown()
      this.getLotteryDetail()
      this.clearData()
      this.WF3DList = {
        top: [],
        bottom: [],
      }
    },
  },
  methods: {
    setCharts:function (){
      var chartDom = document.getElementById('main');
      var myChart = echarts.init(chartDom);
      this.option && myChart.setOption(this.option);
    },
    // 获取余额
    getMeminfo: function () {
      this.$fetch('native/meminfo.do').then(res => {
        if (res.success) {
          this.money = res.content.balance
        }
      })
    },
    // 获取开奖数据
    openResultDetail: function () {
      let that = this
      clearInterval(this.openResultFor);
      this.lotteryResult.animated = true
      if (this.lotteryResult.money) {
        this.getMeminfo()
      }
      let params = {
        lotCode: this.majorData.code
      }
      this.$fetch('native/open_result_detail.do', params).then(res => {
        this.lotteryResult.money = false
        if (res.success) {
          this.lotteryResult.content = res.content[0]
          if (res.content[0].haoMaList[0] == '?') {
            this.openResultFor = setInterval(function () {
              that.openResultDetail()
            }, 10000)
          }
          this.lotteryResult.animated = false
          this.option.xAxis.data = []
          this.option.series[0].data = []
          for(let i = 0; i < 20; i++){
            if (res.content[i].haoMaList[0] != '?') {
              this.option.xAxis.data.unshift((res.content[i].qiHao).substring(res.content[i].qiHao.length - 3,res.content[i].qiHao.length))
              this.option.series[0].data.unshift(res.content[i].btc)
            }
          }
          if (res.content[0].haoMaList[0] == '?') {
            this.lastResult = res.content[1].btc
          } else {
            this.lastResult = res.content[0].btc
          }
          this.option.yAxis.min = parseInt(this.lastResult - 2000)
          this.setCharts()
        } else {
          this.lotteryStatus.countdown = true
          this.lotteryStatus.text = this.$t('lottery[14].label')
        }
      })
    },
    // 获取期号时间
    getCountDown: function () {
      let that = this
      let params = {
        lotCode: this.majorData.code,
        version: 5
      }
      this.$fetch('native/getCountDown.do', params, false).then(res => {
        if (res.success) {
          let time = res.content.activeTime - res.content.serverTime
          clearInterval(this.timeFor);
          if (time > 1000) {
            this.lotteryStatus.time = res.content.activeTime - res.content.serverTime
          } else {
            this.timeFor = setInterval(function () {
              that.getCountDown()
            }, 5000)
          }
          this.lotteryStatus.qiHao = res.content.qiHao
        }
      })
    },
    // 倒计时结束
    finish: function () {
      Toast((this.lotteryStatus.qiHao) + this.$t('lottery[15].label'));
      this.getCountDown()
      this.lotteryResult.money = true;
      this.openResultDetail()
    },
    getHomeData: function () {
      this.$fetch('native/getHomeData.do', {}, true).then((res) => {
        if (res.success) {
          this.lotteryTabs = res.content[0].lotterys
        }
      })
    },
    // 获取彩种数据
    getLotteryDetail: function () {
      let params = {
        lotCode: this.majorData.code
      }
      this.$fetch('native/getLotGamePlays.do', params, true).then(res => {
        if (res.success) {
          this.$store.commit('pushBeforeLotteryData', res.content)
          this.lotteryDataArr(this.$store.state.beforeLotteryData.length - 1)
        }
      })
    },
    lotteryDataArr: function (indexIs) {
      let that = this
      let e = ''
      this.lottery = this.$store.state.beforeLotteryData[indexIs]
      this.majorData.czCode = this.lottery.czCode
      console.log(this.lottery)
      $.each(that.lottery.rules, function (index, item) {
        if (item.name == '整合') {
          e = item
          that.majorData.className = item.name
          that.majorData.sonCode = item.code
          that.majorData.name = item.name
          that.ruleContent = item.rules[0].detailDesc
        }
      })
      $.each(e.rules[0].oddPlayItems, function (index, item) {
        if (item.name == '总和大' || item.name == '总和小' || item.name == '总和单' || item.name == '总和双') {
          that.WF3DList.top.push(item)
        } else if(item.name == '总和大双' || item.name == '总和大单' || item.name == '总和小单' || item.name == '总和小双'){
          that.WF3DList.bottom.push(item)
        }
      })
      for(let index in this.WF3DList.top){
        this.WF3DList.top[index].showName = this.WF3DList.top[index].name.substring(2)
      }
      for(let index in this.WF3DList.bottom){
        this.WF3DList.bottom[index].showName = this.WF3DList.bottom[index].name.substring(2)
      }
    },
    openBox: function (item, index) {
      this.betData = item
      this.betNumIndex = index
      this.betName = item.name
      this.betShowName = item.showName
      this.boxShow = true
    },
    bet: function () {
      if (!this.betMoney) {
        Toast(this.$t('lottery[16].label'))
        return
      }
      if (this.betMoney < 0.01) {
        Toast(this.$t('lottery[17].label'))
        return
      }
      let params = {
        lotType: this.majorData.czCode,
        groupCode: this.majorData.sonCode,
        qiHao: this.lotteryStatus.qiHao,
        version: 5,
        lotCode: this.majorData.code,
        data: []
      }
      let data = [{
        max: this.betData.maxBetAmmount,
        min: this.betData.minBetAmmount,
        name: this.betData.name,
        oddsId: this.betData.id,
        playCode: this.betData.playCode,
        money: this.betMoney,
      }]
      params.data = JSON.stringify(data)
      this.$post('native/dolotBet.do', params, true).then(res => {
        if (res.success) {
          Toast(this.$t('lottery[18].label'))
          this.getMeminfo()
          this.clearData();
        } else {
          Toast(this.$t('tips[8].label'))
        }
      })
    },
    clearData: function () {
      this.betNumIndex = 9999
      this.betData = {}
      this.betMoney = ''
      this.betName = ''
      this.boxShow = false
    },
    outGuest: function () {
      this.$post('native/logout.do').then(res => {
        if (res.success) {
          this.$store.commit('pushIsLogin', false)
          this.login()
        } else {
          Toast(res.msg)
        }
      })
    },
    switchLottery: function (item, index) {
      this.lotteryTabsIndex = index
      if (item.code != this.$route.query.code) {
        this.$router.push({path: '/lottery', query: {code: item.code, lotGroup: 2}})
      }
    },
    login: function () {
      let user = {
        username: this.$store.state.userAccount.user,
        password: this.$store.state.userAccount.pass,
        verifyCode: '',
      }
      this.$post('native/login.do', user, true).then((res) => {
        if (res.success) {
          Toast(this.$t('lottery[19].label'))
          this.$cookies.set("SESSION", res.accessToken)
          this.$cookies.set("language", 'zh')
          this.$store.commit('pushIsLogin', true)
          this.$store.commit('pushGuestSwitch', false)
          this.$router.push({path: '/'})
        } else {
          Toast(res.msg)
        }
      })
    },
  },
  filters:{
    replace:function (value, str){
      if (value == undefined) return  '';
      if (value.includes('分钟')) return value.replace(/分钟/g,str[0].label);
      if (value.includes('小时')) return value.replace(/小时/g,str[1].label);
      if (value.includes('大单')) return value.replace(/大单/g,str[6].label);
      if (value.includes('大双')) return value.replace(/大双/g,str[7].label);
      if (value.includes('小单')) return value.replace(/小单/g,str[8].label);
      if (value.includes('小双')) return value.replace(/小双/g,str[9].label);
      if (value.includes('大')) return value.replace(/大/g,str[2].label);
      if (value.includes('小')) return value.replace(/小/g,str[3].label);
      if (value.includes('单')) return value.replace(/单/g,str[4].label);
      if (value.includes('双')) return value.replace(/双/g,str[5].label);
      return value
    },
  }
}
</script>

<style scoped lang="less">

</style>
