<template>
	<van-list v-model="loading" :finished="finished" :offset="100" @load="onLoad">
		<div v-if="itemList && itemList.length>0" @click="details(item.orderId)" class="all" v-for="item in itemList">
      <div class="p-b-t-10 m-l-10 b-b p-r">
        <div class="">
          <p class=" f-s-18" style="font-weight: 600" v-if="floder == 'x002177' || floder == 'x002188' || floder == 'x002178' || floder == 'x002185'">任务：{{item.lotName}}</p>
          <p class=" f-s-18" style="font-weight: 600" v-else>彩种：{{item.lotName}}</p>
<!--          <p class="f-s-14 h-20 l-h-20" v-if="floder == 'x002177'">号码 : {{ item.haoMa | x002177Filters}}</p>-->
          <p class="f-s-14 h-20 l-h-20" v-if="floder == 'x002178' || floder == 'x002185' || floder == 'x002188'">号码 : {{ item.haoMa | x002178Filters}}</p>
          <p class="f-s-14 h-20 l-h-20" v-else>号码 : {{ item.haoMa}}</p>
          <p class="f-s-14 h-20 l-h-20">期号 : {{ item.qiHao}}</p>
          <div class="f-s-12 c-6">
            {{getTime(item.createTime)}}
          </div>
        </div>
        <div class="f-s-14 money">
          <p class="f-s-16 m-l-10 c-3">投注金额: <span class="c-h">{{item.buyMoney}}</span> 元</p>
          <p class="c-r m-l-r-10 text-c h-20 l-h-20"></p>
          <p class="c-r m-l-r-10 text-c h-20 l-h-20"><span v-if="item.status==1" @click="cancel(item.orderId)" class="">撤单</span></p>
          <p class="text-c" v-if="floder == 'x002177' || floder == 'x002188' || floder == 'x002178' || floder == 'x002185'">{{item.status | prizeStatusFilters}}</p>
          <p class="text-c" v-else>{{prizeStatus(item.status)}}</p>
        </div>
      </div>
		</div>
		<div v-if="noData" class="text-c m-t-50">
			<img width="80" src="../../../../static/img/pic_empty.png" />
			<div class="f-s-12 c-9">暂无数据</div>
		</div>
	</van-list>
</template>

<script>
	import { Dialog } from 'vant';
	import { Toast } from 'vant';
	import { List } from 'vant';
	export default {
    props:['params'],
		data() {
			return {
        noData: false, //没有投注记录显示提示
				itemList :'',//投注记录列表
				totalCount: 0,//投注当前列表总条数
				pageNum1:1,//请求的页数
				loading: false,//是否加载状态
				finished: false,//是否已全部加载啊完成
				dateTime:'today',//时间
				account:'',//账号
				lotCode:'LHC',//彩票编码
        floder:this.$store.state.floder,
			}
		},
		watch: {

		},
		created: function() {
      this.getTouzhuList(); //获取投注列表
		},
		mounted: function() {

		},
    methods: {
      //获取投注列表
      getTouzhuList:function(){
        var data = {
          queryType : 'follow',//查询类型 （init-未开奖,win-中奖,lost-未中奖,canel-撤单,follow-	追号,all-全部）
          dateTime : this.dateTime,//日期 （today-今天 yesterday-昨天 week-近一周 month-近一个月 	monthbefore-一个月以前 ）
          account : this.account,//账号
          lotCode : this.lotCode,//彩票编码
          page : 1,//查询页
          rows : 50,//每页展示多少条
        }
        $sky.ajax('post', 'native/getBcLotteryRecords', data , (ret) => {
          if(ret.success) {
            this.itemList = ret.content.results;
            this.itemList.length === 0? this.noData = true: '';
          } else {
            if(!ret.isLogin) {
              Dialog.alert({
                title: ret.msg,
              }).then(() => {
                this.$router.push({
                  path: '/login',
                })
              });
            }
          }
        })
      },
      touzhuCdLoad:function(){
        this.$set(this.params, 'page', 1);
        this.$set(this.params, 'status', 4);
        this.getBcLotteryRecords();
      },
      //撤单
      cancel: function(orderId) {
        $sky.ajax('post', 'native/cancelOrder', {
          orderId: orderId,
          lotCode: ''
        }, (ret) => {
          if(ret.success) {
            Toast.success('撤单成功');
          } else {
            if(!ret.isLogin) {
              Dialog.alert({
                title: ret.msg,
              }).then(() => {
                this.$router.push({
                  path: '/login',
                })
              });
            }
          }
        })
      },
      //切换时间
      touzhuCdTime: function(time,account,lotCode) {
        this.pageNum1 = 1;
        this.dateTime = time;
        this.account = account;
        this.lotCode = lotCode;
        switch (time) {
          case 'today':
            this.params.startTime = $sky.getdate(0) +' 00:00:00';
            this.params.endTime = $sky.getdate(0) + ' 23:59:59';
            break;
          case 'yesterday':
            this.params.startTime = $sky.getdate(1) +' 00:00:00';
            this.params.endTime = $sky.getdate(1) + ' 23:59:59';
            break;
          case 'week':
            this.params.startTime = $sky.getdate(7) +' 00:00:00';
            this.params.endTime = $sky.getdate(0) + ' 23:59:59';
            break;
          case 'month':
            this.params.startTime = $sky.getdate(30) +' 00:00:00';
            this.params.endTime = $sky.getdate(0) + ' 23:59:59';
            break;
          case 'monthbefore':
            this.params.startTime = $sky.getdate(3650) +' 00:00:00';
            this.params.endTime =  $sky.getdate(30) + ' 23:59:59';
            break;
        }
        this.getBcLotteryRecords();
      },
      //下拉加载更多
      onLoad: function() {
        this.pageNum1++;
        setTimeout(() => {
          this.params.page = this.pageNum1;
          $sky.getBcLotteryRecords(this.params, (ret) => {
            if(ret.page.list) {
              this.loading = false;
              if(ret.page.totalCount <= this.itemList.length) {
                Toast('无更多数据');
                this.finished = true;
                return false;
              }
              for(let i in ret.page.list) {
                this.itemList.push(ret.page.list[i])
              }
            } else {
              this.loading = false;
              this.finished = true;
              if(!ret.isLogin) {
                Dialog.alert({
                  title: ret.msg,
                }).then(() => {
                  this.$router.push({
                    path: '/login',
                  })
                });
              }
            }
          })
        }, 500);
      },
      //转换时间
      getTime: function(time) {
        return $sky.getDateFull(time);
      },
      //中奖状态转换
      prizeStatus: function(status) {
        switch(status) {
          case 1:
            return '未开奖';
            break;
          case 2:
            return '已中奖';
            break;
          case 3:
            return '未中奖';
            break;
          case 4:
            return '已撤单';
            break;
          case 8:
            return '和局';
            break;
          default:
            return '未知错误';
            break;
        }
      },
      details: function(orderId) {
        this.$router.push({
          path: '/details',
          query: {
            orderId: orderId,
          }
        })
      },
      //彩票投注记录
      getBcLotteryRecords:function () {
        $sky.getBcLotteryRecords(this.params, (ret) => {
          if(ret.page.list) {
            if(ret.page.totalCount < this.itemList.length) {
              this.finished = true;
            }
            this.itemList = ret.page.list;
            this.itemList.length === 0? this.noData = true: '';
          } else {
            this.loading = false;
            this.finished = true;
            if(!ret.isLogin) {
              Dialog.alert({
                title: ret.msg,
              }).then(() => {
                this.$router.push({
                  path: '/login',
                })
              });
            }
          }
        })
      },
      back: function() {
        window.history.go(-1);
      },
    },
    filters:{
      x002177Filters:function (value){
        switch (value){
          case '大':
            return '博';
          case '小':
            return '施';
          case '单':
            return '济'
          case '双':
            return '众'
        }
      },
      x002178Filters:function (value){
        switch (value){
          case '大':
            return '福';
          case '小':
            return '禄';
          case '单':
            return '寿'
          case '双':
            return '喜'
        }
      },
      prizeStatusFilters: function(status) {
        switch(status) {
          case 1:
            return '待结算';
            break;
          case 2:
            return '已结算';
            break;
          case 3:
            return '未结算';
            break;
          case 4:
            return '已撤单';
            break;
          case 8:
            return '和局';
            break;
          default:
            return '未知错误';
            break;
        }
      },
    }
	}
</script>
<style scoped>
	.money {
		color: green;
		position: absolute;
		right: 10px;
		top: 8px;
	}
</style>
