<template>
	<van-list v-model="loading" :finished="finished" :offset="100" @load="onLoad">
		<div v-if="itemList && itemList.length>0" @click="details(item.orderId)" class="all" v-for="item in itemList">
      <div class="p-b-t-10 m-l-10 b-b p-r">
        <div class="">
          <p class=" f-s-18" style="font-weight: 600" v-if="floder == 'x002177' || floder == 'x002188' || floder == 'x002178' || floder == 'x002185'">任务：{{item.lotName}}</p>
          <p class=" f-s-18" style="font-weight: 600" v-else>彩种：{{item.lotName}}</p>
<!--          <p class="f-s-14 h-20 l-h-20" v-if="floder == 'x002177'">号码 : {{ item.haoMa | x002177Filters}}</p>-->
          <p class="f-s-14 h-20 l-h-20" v-if="floder == 'x002178' || floder == 'x002188' || floder == 'x002185'">号码 : {{ item.haoMa | x002178Filters}}</p>
          <p class="f-s-14 h-20 l-h-20">期号 : {{ item.qiHao}}</p>
          <div class="f-s-12 c-6">
            {{getTime(item.createTime)}}
          </div>
        </div>
        <div class="f-s-14 money">
          <p class="f-s-16 m-l-10 c-3">投注金额: <span class="c-h">{{item.buyMoney}}</span> 元</p>
          <p class="c-r m-l-r-10 text-c h-20 l-h-20"></p>
          <p class="c-r m-l-r-10 text-c h-20 l-h-20"><span v-if="item.status==1" @click="cancel(item.orderId)" class="">撤单</span></p>
          <p class="text-c" v-if="floder == 'x002177' || floder == 'x002188' || floder == 'x002178' || floder == 'x002185'">{{item.status | prizeStatusFilters}}</p>
          <p class="text-c" v-else>{{prizeStatus(item.status)}}</p>
        </div>
      </div>
		</div>
		<div v-if="noData" class="text-c m-t-50">
			<img width="80" src="../../../../static/img/pic_empty.png" />
			<div class="f-s-12 c-9">暂无数据</div>
		</div>
	</van-list>
</template>

<script>
	import { Dialog } from 'vant';
	import { Toast } from 'vant';
	import { List } from 'vant';
	export default {
		data() {
			return {
        noData: false, //没有投注记录显示提示
				itemList :'',//投注记录列表
				totalCount: 0,//投注当前列表总条数
				pageNum1:1,//请求的页数
				loading: false,//是否加载状态
				finished: false,//是否已全部加载啊完成
				dateTime:'today',//时间
				account:'',//账号
				lotCode:'LHC',//彩票编码
        floder:this.$store.state.floder,
			}
		},
		watch: {

		},
		created: function() {

		},
		mounted: function() {

		},
		methods: {
			//加载
			touzhuZhLoad:function(){
				if(!this.itemList)this.getTouzhuList();//获取投注列表
			},
			//切换时间
			touzhuZhTime:function(time,account,lotCode){
				this.pageNum1 = 1;
				this.dateTime = time;
				this.account = account;
				this.lotCode = lotCode;
				this.getTouzhuList();
			},
			//下拉加载更多
			onLoad:function(){
				this.pageNum1++;
				setTimeout(() => {
					var data = {
						queryType : 'follow',//查询类型 （init-未开奖,win-中奖,lost-未中奖,canel-撤单,follow-	追号,all-全部）
						dateTime : this.dateTime,//日期 （today-今天 yesterday-昨天 week-近一周 month-近一个月 	monthbefore-一个月以前 ）
						account : this.account,//账号
						lotCode : this.lotCode,//彩票编码
						page : this.pageNum1,//查询页
						rows : 50,//每页展示多少条
					}
					$sky.ajax('post', 'native/getBcLotteryRecords', data , (ret) => {
						if(ret.success) {
							this.loading = false;
							if(ret.content.totalCount < this.pageNum1*50){
								Toast('无更多数据');
								this.finished = true;
								return false;
							}
							for(let i in ret.content.results){
								this.itemList.push(ret.content.results[i])
							}
						} else {
							this.loading = false;
							this.finished = true;
							if(!ret.isLogin) {
								Dialog.alert({
									title: ret.msg,
								}).then(() => {
									this.$router.push({
										path: '/login',
									})
								});
							}
						}
					})
				}, 500);
			},
			//获取投注列表
			getTouzhuList:function(){
				var data = {
					queryType : 'follow',//查询类型 （init-未开奖,win-中奖,lost-未中奖,canel-撤单,follow-	追号,all-全部）
					dateTime : this.dateTime,//日期 （today-今天 yesterday-昨天 week-近一周 month-近一个月 	monthbefore-一个月以前 ）
					account : this.account,//账号
					lotCode : this.lotCode,//彩票编码
					page : 1,//查询页
					rows : 50,//每页展示多少条
				}
				$sky.ajax('post', 'native/getBcLotteryRecords', data , (ret) => {
					if(ret.success) {
						this.itemList = ret.content.results;
            this.itemList? this.noData = true: '';
					} else {
						if(!ret.isLogin) {
							Dialog.alert({
								title: ret.msg,
							}).then(() => {
								this.$router.push({
									path: '/login',
								})
							});
						}
					}
				})
			},
			//转换时间
			getTime:function(time){
				return $sky.getDateFull(time);
			},
			//中奖状态转换
			prizeStatus:function(status){
				switch (status){
					case 1:
						return '未开奖'
						break;
					case 2:
						return '已中奖'
						break;
					case 3:
						return '未中奖'
						break;
					case 4:
						return '已撤单'
						break;
          case 8:
            return '和局';
            break;
					default:
						return '未知错误'
						break;
				}
			},
			details:function(orderId){
				this.$router.push({
		            path: '/details',
		            query: {orderId: orderId}
		        })
			},
		},
    filters:{
      x002177Filters:function (value){
        switch (value){
          case '大':
            return '博';
          case '小':
            return '施';
          case '单':
            return '济'
          case '双':
            return '众'
        }
      },
      x002178Filters:function (value){
        switch (value){
          case '大':
            return '福';
          case '小':
            return '禄';
          case '单':
            return '寿'
          case '双':
            return '喜'
        }
      },
      prizeStatusFilters: function(status) {
        switch(status) {
          case 1:
            return '待结算';
            break;
          case 2:
            return '已结算';
            break;
          case 3:
            return '未结算';
            break;
          case 4:
            return '已撤单';
            break;
          case 8:
            return '和局';
            break;
          default:
            return '未知错误';
            break;
        }
      },
    }
	}
</script>
<style scoped>
	.money {
		color: green;
		position: absolute;
		right: 10px;
		top: 8px;
	}
</style>
