<template>
    <div id="esports-news">
        <div class="wrapper">
            <div class="wrapper-left">
                <router-view></router-view>
            </div>
            <!-- 公共右侧 -->
            <wrapper-right></wrapper-right>
        </div>
    </div>
</template>
<script>
/**
 * @description 新闻类 基础模板
 */
import wrapperRight from '@/views/news/wrapperRight'
export default {
    created(){
        document.body.className = 'bg2'
    },
    beforeDestroy(){
        document.body.className = ''
    },
    components:{
        wrapperRight
    }
}
</script>
<style lang="scss">
#esports-news{
    box-sizing: border-box;
    padding-top: $navigation-type1-height;
    >.wrapper{
        display: flex;
        justify-content:space-between;
        .wrapper-left{
            width: 950px;
        }
    }

}
</style>