<template>
    <div id="esports-news-list">
        <!-- 顶部轮播 专题列表 -->
        <el-carousel class="banner" indicator-position="none" :autoplay="false" v-if="NEWS_SPECIAL_LIST1.length">
            <el-carousel-item v-for="(item,index) in NEWS_SPECIAL_LIST1" :key="'slider_special_item_'+index">
                <img v-lazy="item.imgPath" style="width:100%; height:250px;">
            </el-carousel-item>
        </el-carousel>
        <!-- 内容正文 -->
        <div class="section">
            <!-- tab区域 -->
            <div class="tab-list">
                <div class="list-item" :class="LIST_MODE_KEY == 1 ? 'active' : ''" @click.prevent="$router.push({name:'homeNews',params:{mode:'1'}})">
                    <i class="iconfont iconfont2 icon-text"></i>
                    <span>新闻</span>
                </div>
                <div class="list-item" :class="LIST_MODE_KEY == 2 ? 'active' : ''" @click.prevent="$router.push({name:'homeNews',params:{mode:'2'}})">
                    <i class="iconfont iconfont2 icon-movie"></i>
                    <span>视频</span>
                </div>
                <div class="list-item" :class="LIST_MODE_KEY == 3 ? 'active' : ''" @click.prevent="$router.push({name:'homeNews',params:{mode:'3'}})">
                    <i class="iconfont iconfont2 icon-piclight"></i>
                    <span>图集</span>
                </div>
                <div class="list-item" :class="LIST_MODE_KEY == 4 ? 'active' : ''" @click.prevent="$router.push({name:'homeNews',params:{mode:'4'}})">
                    <i class="iconfont iconfont2 icon-newshot"></i>
                    <span>专题</span>
                </div>
                <!-- 搜索框 -->
                <div class="search-box">
                    <div class="search-core" :class="inputFocus ? 'search-core-active' : ''" @keyup.13="doSearch" >
                        <input type="text" class="input-txt3" placeholder="请输入关键字" @focus="inputFocus=true" @blur="inputFocus=false" v-model="searchVal">
                        <div class="search-icon" @click="doSearch">
                            <i class="iconfont icon-search"></i>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 列表子组件 -->
            <article-list-page v-if="LIST_MODE_KEY == 1" ref="articleList"></article-list-page>
            <movie-list-page v-if="LIST_MODE_KEY == 2" ref="movieList"></movie-list-page>
            <photo-list-page v-if="LIST_MODE_KEY == 3" ref="photoList"></photo-list-page>
            <zhuanti-list-page v-if="LIST_MODE_KEY == 4" ref="zhuantiList"></zhuanti-list-page>
        </div>
    </div>
</template>
<script>
import articleListPage from '@/views/news/article/list'
import movieListPage from '@/views/news/movie/list'
import photoListPage from '@/views/news/photo/list'
import zhuantiListPage from '@/views/news/zhuanti/list'
export default {
    data(){
        return {
            inputFocus:false,           /* 控制输入框高亮 */
            searchVal:'',               /* 同步搜索框 */
        }
    },
    computed:{
        /* 1：新闻      2：视频     3：图集     4：专题 */
        LIST_MODE_KEY:function(){
            return this.$route.params.mode ? parseInt(this.$route.params.mode) : 1
        },
        NEWS_SPECIAL_LIST1:function(){
            return this.$store.getters.NEWS_SPECIAL_LIST1
        },
    },
    methods:{
        /* 执行搜索 */
        doSearch:function(){
            let target = false
            switch(this.LIST_MODE_KEY){
                case 1:
                    target = this.$refs.articleList
                    break
                case 2:
                    target = this.$refs.movieList
                    break
                case 3:
                    target = this.$refs.photoList
                    break
                case 4:
                    target = this.$refs.zhuantiList
                    break
            }
            if(target.doSearch && typeof target.doSearch == 'function'){
                target.doSearch()
            }
        },
    },
    components:{
        articleListPage,
        movieListPage,
        photoListPage,
        zhuantiListPage
    }
}
</script>
<style lang="scss">
#esports-news-list{
    margin: 20px 0;
    .banner{
        height: 250px;
        .el-carousel__container{
            height: 250px;
            .el-carousel__arrow{
                width: 50px;
                height: 50px;
                >i{
                    font-size: 46px;
                }
            }
        }
    }
    .section{
        margin-top: 20px;
        .tab-list{
            position: relative;
            .search-box{
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                box-sizing: border-box;
                padding: 0 20px;
                display: flex;
                align-items: center;
                .search-core{
                    width: 200px;
                    height: 26px;
                    line-height: 26px;
                    position: relative;
                    box-sizing: border-box;
                    padding-right: 5px;
                    padding-left: 5px;
                    border: 1px solid hsla(0,0%,100%,.1);
                    background: $table-border-color;
                    border-radius: 2px;
                    transition: all .3s ease 0s;
                    display: flex;
                    align-items: center;
                    input[type="text"]{
                        width: 165px;
                    }
                    .search-icon{
                        flex-grow: 1;
                        text-align: center;
                    }
                }
                .search-core-active{
                    border-color: hsla(0,0%,100%,.15);
                    background: #393e46;
                }
            }
        }
        .scroll-list{
            width: 100%;
            p{
                background: $theme-bg-color;
                text-align: center;
                color: white;
                padding: 2rem 0;
            }
        }
        p{
            background: $theme-bg-color;
            text-align: center;
            color: white;
            padding: 2rem 0;
        }
    }
}
</style>