<template>
    <div class="wrapper-right">
        <!-- 专题推荐 -->
        <div class="right-box right-box-zt">
            <div class="head">
                <div class="l">
                    <i class="iconfont icon-biaoqian"></i>
                    <span class="title">专题推荐</span>
                </div>
                <div class="r" @click="$router.push({name:'homeNews',params:{mode:'4'}})">
                    <span>more</span>
                    <em>&gt;&gt;</em>
                </div>
            </div>
            <div class="hr1"></div>
            <div class="content">
                <div class="item" v-for="(item,index) in NEWS_SPECIAL_LIST2" :key="'wrapper-right-special-item-'+index" v-show="item.imgPath" @click="$router.push({name:'homeNewsZtDetail',params:{id:item.sid}})" >
                    <!-- 封面图 -->
                    <img v-lazy="item.imgPath">
                    <!-- cover层 -->
                    <div class="cover">{{item.title}}</div>
                </div>
            </div>
        </div>
        <!-- 视频推荐 -->
        <div class="right-box right-box-sp">
            <div class="head">
                <div class="l">
                    <i class="iconfont icon-movie"></i>
                    <span class="title">视频推荐</span>
                </div>
                <div class="r" @click="$router.push({name:'homeNews',params:{mode:'2'}})">
                    <span>more</span>
                    <em>&gt;&gt;</em>
                </div>
            </div>
            <div class="content">
                <div class="item" v-for="(item,index) in resultData1" :key="'wrapper-right-movie-item-'+index" @click.prevent="goDetail2(item.cid)">
                    <div class="hr1"></div>
                    <div class="item-box">
                        <div class="detail">
                            <div class="title">{{item.title}}</div>
                            <p><span><i class="iconfont icon-play"></i>{{item.clickCount || 0}}次播放</span></p>
                        </div>
                        <div class="img">
                            <img v-lazy="item.imgPath">                            
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- 图集推荐 -->
        <div class="right-box right-box-tj">
            <div class="head">
                <div class="l">
                    <i class="iconfont icon-piclight"></i>
                    <span class="title">图集推荐</span>
                </div>
                <div class="r" @click="$router.push({name:'homeNews',params:{mode:'3'}})">
                    <span>more</span>
                    <em>&gt;&gt;</em>
                </div>
            </div>
            <div class="hr1"></div>
            <div class="content">
                <div class="item" v-for="(item,index) in resultData2" :key="'wrapper-right-photo-item-'+index" @click.prevent="goDetail3(item.cid)">
                    <img v-lazy="item.imgPath">
                    <div class="mark">
                        <span>{{item.title}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
/**
 * 资讯模块用 公共右侧
 */
export default {
    created(){
        this.getDatas1()
        this.getDatas2()
    },
    data(){
        return {
            resultData1:false,
            resultData2:false,
        }
    },
    mounted(){
        console.dir(this.NEWS_SPECIAL_LIST2)
    },
    computed:{
        NEWS_SPECIAL_LIST2:function(){
            return this.$store.getters.NEWS_SPECIAL_LIST2
        },
        /* 资讯类型列表 */
        NEWS_TYPE_LIST:function(){
            return this.$store.getters.NEWS_TYPE_LIST
        },
        NEWS_TYPE_ITEM1:function(){
            return this.NEWS_TYPE_LIST.get('sp')
        },
        NEWS_TYPE_ITEM2:function(){
            return this.NEWS_TYPE_LIST.get('tj')
        },
    },
    methods:{
        /* 请求推荐视频列表 */
        getDatas1:function(){
            this.$http.post('/api/News/GetNewsContentList',{
                itid:this.NEWS_TYPE_ITEM1.id,
                sid:'',
                nsid:[],
                keyword:'',
                pageIndex:1,
                pageSize:8,
            }).then(response => {
                const {resultCode,resultData} = response.data
                /* 请求成功 */
                if(resultCode == 1){
                    this.resultData1 = resultData.newsContentList
                }
            })
        },
        /* 请求推荐图片列表 */
        getDatas2:function(){
            this.$http.post('/api/News/GetNewsContentList',{
                itid:this.NEWS_TYPE_ITEM2.id,
                sid:'',
                nsid:[],
                keyword:'',
                pageIndex:1,
                pageSize:4,
            }).then(response => {
                const {resultCode,resultData} = response.data
                /* 请求成功 */
                if(resultCode == 1){
                    this.resultData2 = resultData.newsContentList
                }
            })

        },
        /* 跳转视频详情 */
        goDetail2:function(id){
            this.$router.push({name:'homeNewsMovieDetail',params:{id}})
        },
        /* 跳转图集详情 */
        goDetail3:function(id){
            this.$router.push({name:'homeNewsPhotoDetail',params:{id}})
        },
    }
}
</script>
<style lang="scss">
.wrapper-right{
    margin: 20px 0;
    width: 330px;
    .right-box{
        background-color: #22262a;
        width: 330px;
        margin-bottom: 15px;
        .head{
            height: 40px;
            line-height: 40px;
            display: flex;
            justify-content: space-between;
            box-sizing: border-box;
            padding: 0 12px;
            .iconfont{
                font-size: 14px;
                color:#ffae00;
                margin-right: 10px;
            }
            /* 左侧 */
            .l{
                .title{
                    color:#c8cce5;
                    font-size: 13px;
                }
            }

            /* 右侧 */
            .r{
                color: #c8cce5;
                &:hover{
                    cursor: pointer;
                    color: white;
                    text-decoration: underline;
                }
                em{
                    font-style: normal;
                    font-family: 宋体;
                    margin-left: 5px;
                    background: transparent;
                }
            }

        }
    }

    /* 专题推荐 */
    .right-box-zt{
        .content{
            box-sizing: border-box;
            padding: 10px;
            .item{
                position: relative;
                margin-bottom: 10px;
                cursor: pointer;
                img{
                    width: 100%;
                    height: 90px;
                }
                .cover{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0,0,0,.8);
                    line-height: 90px;
                    color: #fff;
                    text-align: center;
                    font-size: 14px;
                    display: none;
                }
                &:hover{
                    .cover{
                        display: block;
                    }
                }
            }
        }
    }

    /* 视频推荐 */
    .right-box-sp{
        .content{
            .item{
                .item-box{
                    box-sizing: border-box;
                    padding: 5px 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    transition: background-color .3s;
                    .detail{
                        box-sizing: border-box;
                        width: 175px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        padding: 10px 10px 10px 0;
                        color:#c8cce5;
                        .title{
                            height: 36px;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            font-size: 13px;
                        }
                        p{
                            font-size: 12px;
                            color: #999;
                            .iconfont{
                                font-size: 18px;
                                margin-right: .5rem;
                            }
                        }
                    }
                    .img{
                        width: 135px;
                        height: 75px;
                    }
                    &:hover{
                        background-color: #2e3238;
                        .detail{
                            .title{
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }

    /* 图集推荐 */
    .right-box-tj{
        .content{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            box-sizing: border-box;
            padding: 10px 10px 0;
            .item{
                width:150px;
                height: 90px;
                margin-bottom: 10px;
                position: relative;
                img{
                    width:150px;
                    height: 90px;
                }
                .mark{
                    background: transparent linear-gradient(180deg,transparent,rgba(0,0,0,.8));
                    width: 100%;
                    height: 50%;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    color: #c8cce5;
                    font-size: 12px;
                    box-sizing: border-box;
                    padding-left: 10px;
                    padding-right: 5px;
                    display: block;
                    span{
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        box-sizing: border-box;
                        padding: 0 5px;
                        overflow: hidden;
                        display: block;
                    }
                }

            }
        }
    }

}
</style>