<template>
  <div class="draw-notice">
    <header class="public-header">
      <span>{{$t('drawNotice[0].label')}}</span>
    </header>
    <div class="content">
      <ul>
        <li v-for="(item, index) in drawDataList" :key="index" :class="{backGay:index%2}">
          <router-link :to="{path:'/draw_notice_details',query:{code:item.lotCode,lotGroup:item.lotGroup,name:item.lotName}}">
            <div class="list-img">
              <img :src="item.imgUrl" alt="">
            </div>
            <div class="list-font">
              <div class="title">
                  <span>{{item.lotName | replace($t('replace'))}}</span>
                <span>{{item.qihao}}{{$t('lottery[4].label')}}</span>
              </div>
              <div class="result" v-if="item.haoma.indexOf('?') != -1">
              <span style="color: red;font-size: 16px">
                {{$t('drawNotice[1].label')}}...
              </span>
              </div>
              <div class="result" v-else-if="item.lotGroup == 7">
              <span v-for="(item2, index2) in (item.haoma || '').split(',')" :key="index2">
                <img :src="$root.common.resultKsColor(item2)">
              </span>
              </div>
              <div class="result" v-else-if="item.lotGroup == 3">
              <span v-for="(item2, index2) in (item.haoma || '').split(',')" :key="index2" :style="{background:$root.common.resultNumberColor(item2)}"
                    style="display: block;float: left;color: #ffffff;margin-left: 3px;border-radius: 3px;width: 22px;height: 22px;text-align: center;line-height: 22px;">
                {{item2}}
              </span>
              </div>
              <div class="result number" v-else>
              <span v-for="(item2, index2) in (item.haoma || '').split(',')" :key="index2">
                {{item2}}
              </span>
              </div>
            </div>
          </router-link>
        </li>
      </ul>
    </div>
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import '@/assets/css/draw_notice.less'
import foot_nav from '@/components/include/foot_nav'
export default {
  name: "draw_notice",
  components:{
    foot_nav
  },
  data(){
    return {
      drawDataList:[],
      show:{
        popupw:false,
        startTimeW:false,
        endTimeW:false,
        letteryW:false,
        statusW:false,
        type:false,
        aType:false,
        aTtype:false,
        aStatus:false,
        backWaterType:false,
        awardRecordStatus:false,
        chessRecord:false,
        liveRecord:false,
        egameRecord:false,
        letteryThird:false
      },
    }
  },
  created() {

  },
  mounted() {
    this.getDrawNoticeData()
  },
  methods:{
    getDrawNoticeData:function (){
      let params = {
        version:2,
        needLast:true
      }
      this.$post('native/draw_notice_data.do',params,true).then((res) => {
        if(res.success){
          this.drawDataList = res.data
        }
      })
    },
  },
  filters:{
    replace:function (value, str){
      if (value == undefined) return  '';
      if (value.includes('分钟')) return value.replace(/分钟/g,str[0].label);
      if (value.includes('小时')) return value.replace(/小时/g,str[1].label);
      return value
    },
  }
}
</script>

<style scoped>

</style>
