<template>
  <div class="draw-notice">
    <header class="public-header">
      <a href="javascript:history.back(-1)">
        <van-icon name="arrow-left"/>
      </a>
      <span>{{ $route.query.name | replace($t('replace')) }} {{ $t('drawNotice[0].label') }}</span>
    </header>
    <div class="content">
      <ul>
        <li v-for="(item, index) in drawDetailsDataList" :key="index" :class="{backGay:index%2}">
          <div class="list-font" style="width: 100%;padding-left: 10px;box-sizing: border-box">
            <div class="title">
              <span>{{ item.qiHao }} {{ $t('lottery[4].label') }}</span>
              <span>{{ item.date }} {{ item.time }}</span>
            </div>
            <div class="result" v-if="item.haoMaList.indexOf('?') != -1">
                <span style="color: red;font-size: 16px">
                  {{ $t('drawNotice[1].label') }}...
                </span>
            </div>
            <div class="result" v-else>
              <div class="result-number">
                <span v-for="(item2, index2) in (item.haoMaList || [])" :key="index2">
                  {{ item2 }}
                </span>
              </div>
              <div class="result-bigSmall">
                <div class="num-left">
                  <b v-for="(item2, index2) in (item.haoMaList || [])" :key="index2">{{ item2 }}<b
                      v-if="index2 < 2">+</b>
                  </b>
                  = {{ item.gySum }}
                </div>
                <div class="num-right">
                  <div :style="{background:item.sizeStr == '大' ? '#005ea6' :'#63a73e' }">{{ item.sizeStr }}</div>
                  <div :style="{background:item.sdStr == '单' ? '#ff9600' :'#0082fe' }">{{ item.sdStr }}</div>
                  <div style="background: purple;">{{ item.sizeStr + item.sdStr }}</div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <div class="load-more" @click="getDetails">
        {{ $t('drawNotice[2].label') }}
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/draw_notice.less'

export default {
  name: "draw_notice_details",
  data() {
    return {
      drawDataList: [],
      drawDetailsDataList: [],
      page: 1,
      floder: this.$store.state.stationInfo.content.station.floder || 'x002',
    }
  },
  created() {
  },
  mounted() {
    this.getDetails()
  },
  methods: {
    // 展示弹出层获取彩种开奖数据
    getDetails: function () {
      let params = {
        lotCode: this.$route.query.code,
        page: this.page++,
        rows: '10'
      }
      this.$fetch('native/draw_notice_details_data.do', params, true,).then((res) => {
        if (res.success) {
          let e = res.content.list
          for (let index in e) {
            let num = 0
            for (let index2 in e[index].haoMaList) {
              num += parseInt(e[index].haoMaList[index2])
            }
            if (num > 14) {
              e[index].sizeStr = this.$t('replace[2].label')
            } else {
              e[index].sizeStr = this.$t('replace[3].label')
            }
            if (num % 2 != 0) {
              e[index].sdStr = this.$t('replace[4].label')
            } else {
              e[index].sdStr = this.$t('replace[5].label')
            }
            e[index].gySum = num
            this.drawDetailsDataList.push(e[index])
          }
        }
      })
    },
  },
  filters: {
    replace: function (value, str) {
      if (value == undefined) return '';
      if (value.includes('分钟')) return value.replace(/分钟/g, str[0].label);
      if (value.includes('小时')) return value.replace(/小时/g, str[1].label);
      return value
    },
  }
}
</script>

<style scoped>

</style>
