<template>
  <div class="help">
    <header>
      <router-link to="/"><van-icon name="arrow-left" /></router-link>
      <span><b>{{$t('help[0].label')}}</b></span>
    </header>
    <div class="content">
      <div class="list" v-for="(item, index) in helpList" :key='index' @click="getHelpContent(item.content)">{{item.title}}</div>
    </div>
    <van-popup v-model="showPopup" position="bottom" :style="{ height: '80%' }" v-html="content"></van-popup>
  </div>
</template>

<script>
import '@/assets/css/help.less'
export default {
  name: "help",
  data(){
    return{
      helpList:'',
      showPopup:false,
      content:'',
    }
  },
  created() {
    this.getHelpList()
  },
  mounted() {
  },
  methods:{
    getHelpList:function (){
      this.$post('native/helplist.do',{}).then(res => {
        this.helpList = res.hplist
      })
    },
    getHelpContent:function (e){
      this.content = e
      this.showPopup = true
    }
  }
}
</script>

<style scoped>

</style>