<template>
  <div class="index">
    <div class="content">
      <div class="swipe" v-if="swipeList.length >= 1">
        <van-swipe class="my-swipe" :autoplay="3000" indicator-color="white">
          <van-swipe-item v-for="(item, index) in swipeList" :key="index">
            <a v-if="item.titleUrl" :href="item.titleUrl" target="_blank"><img :src="item.titleImg"></a>
            <a v-else href="#"><img :src="item.titleImg"></a>
          </van-swipe-item>
        </van-swipe>
      </div>
      <div class="notice">
        <van-notice-bar
            left-icon="volume-o"
            color="#143e8f"
            background="linear-gradient(9deg,#ddeefe,#ddd7ff)"
            :text="notice"
        />
      </div>
      <div class="tab-box">
        <router-link to="/help"><div class="box one-index">{{$t('index[0].label')}}</div></router-link>
        <router-link to="/lottery_record"><div class="box two-index">{{$t('index[1].label')}}</div></router-link>
        <a href="#" @click="guest_login()"><div class="box three-index">{{$t('index[2].label')}}</div></a>
      </div>
    </div>
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import '@/assets/css/index.less'
import foot_nav from '@/components/include/foot_nav'
import {Toast} from "vant";
export default {
  name: 'index',
  components:{
    foot_nav,
  },
  data(){
    return{
      swipeList: [], // 轮播图列表
      notice:'', // 公告
      floder:'',
    }
  },
  created:function(){
    if(!this.$store.state.isLogin){
      this.$router.push({path:'/login'})
    }
  },
  mounted:function(){
    this.getStationInfo()
    this.getSwipe()
    this.getPopNotices()
    this.getServiceUrl()
    this.accountInfoIs()
    this.getHomeData()
  },
  methods:{
    // 获取用户信息
    accountInfoIs: function () {
      this.$fetch('native/accountInfo.do').then(res => {
        if (res.success) {
          this.$store.commit('pushUserInfo',res.content)
        }
      })
    },
    // 获取网站基础信息
    getStationInfo:function (){
      this.$fetch('native/getStationInfo.do').then((res) => {
        if(res.success){
          this.floder = res.content.station.floder
          this.$store.commit('pushStationInfo',res)
          document.title = this.$store.state.stationInfo.content.title
        }
      })
    },
    getHomeData: function () {
      this.$fetch('native/getHomeData.do', {}, true).then((res) => {
        if (res.success) {
          let e = res.content[0].lotterys
          for(let index in e){
            if(e[index].code == 'WF309'){
              this.$store.commit('pushDefaultLottery',e[index].code)
              return false
            } else {
              this.$store.commit('pushDefaultLottery',res.content[0].lotterys[0].code)
            }
          }
        }
      })
    },
    guest_login:function (){
      let params = {
        accountName: this.$store.state.userInfo.account,
        accountType: this.$store.state.userInfo.accountType,
      }
      this.$post('native/guest_login.do',params,true).then((res) => {
        if(res.success){
          this.$store.commit('pushGuestSwitch',true)
          this.$router.push({path:'/lottery?code='+this.$store.state.defaultLottery+'&lotGroup=2'})
          Toast(this.$t('index[3].label'))
        } else if(res.msg == '账号不存在') {
          Toast(this.$t('tips[0].label'))
        } else {
          Toast(res.message)
        }
      })
    },
    // 获取网站轮播图
    getSwipe:function (){
      let params = {
        code: 5
      }
      this.$fetch('native/lunbo.do',params).then((res) => {
        if(res.success){
          this.swipeList = res.content
        }
      })
    },
    // 获取网站公告
    getPopNotices:function (){
      let params = {
        code: 13
      }
      this.$fetch('native/getPopNotices.do',params).then((res) => {
        if(res.success && res.content.length > 0){
          this.notice = res.content[0].content
        }
      })
    },
    // 在线客服
    getServiceUrl:function (){
      this.$fetch('native/getServiceUrl.do').then((res) => {
        if(res.success){
          this.serviceUrl = res.content
        }
      })
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.my-swipe{
  height: 100%;
}
.box-warp{
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background:rgba(0,0,0,.6);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.longDragonMenu{
  width: 93%;
  background: #ffffff;
  border-radius: 3px;
  display: inline-block;
  vertical-align: middle;
  float: left;
}
.dragon-tit {
  height:45px;
  line-height:45px;
  background:#f4f4f4;
  font-weight:400;
  position: relative;
  text-align: center;
  font-size: 16px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.dragonX{position:absolute;
  top:0;
  bottom:0;
  margin:auto 0;
  right:10px;
  width:15px;
}
.mint-navbar{
  height: 40px;
  width: 100%;
  background: #ffffff;
  float: left;
  display: flex
}
.mint-navbar div{
  float: left;height: 100%;font-size: 12px;width: 100%;text-align: center;line-height: 40px;border-bottom: 2px solid #ffffff;color: #000000;
}
.is-selected{
  border-bottom: 2px solid #dc3b3b!important;
  color: #dc3b3b!important;
}
.mint-list{
  height: 80px;
  width: 100%;
  background: #ffffff;
  float: left;
  display: flex;
  overflow-x:auto;
}
.mint-list div{
  margin-left: 10px;
  min-width: 80px;
  text-align: center;
}
.mint-list img{
  width: 50px;
}
.mint-list span{
  font-size: 12px;
  white-space:nowrap;
}
.mint-qihao{
  height: 40px;
  width: 100%;
  background: #ffffff;
  float: left;
  display: flex;
}
.mint-qihao div{
  width: 50%;
  text-align: center;
  line-height: 40px;
}
.mint-lottery-list{
  float: left;width: 100%;height: 200px;overflow-y: auto
}
.mint-lottery-list table{
  width: 100%;
  text-align: center;
}
.mint-lottery-list table td{
  width: 35%;
  height: 30px;
  line-height: 30px;
}
.mint-lottery-list table td:nth-child(2){
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px 0;
}
.mint-lottery-list table td .codeOption{
  display: inline-block;
  padding: 3px 15px;
  border:1px solid #7d7e80;
  float: left;
  margin-left: 10px;
  border-radius: 5px;
}
.codeOptionOn{
  background: red!important;
  color: #ffffff!important;
  border: 1px solid red!important;
}
.mint-touzhu{
  margin-top: 10px;
  height: 40px;
  width: 100%;
  background: #ffffff;
  float: left;
}
.mint-touzhu span{
  display: inline-block;
  height: 100%;
  width: 50%;
  float: left;
  line-height: 40px;
  padding-left: 20px;
  box-sizing: border-box;
}
.mint-touzhu span:nth-child(2){
  padding-left: 30px!important;
  text-align: center;
}
.mint-touzhu input[type='number']{
  width: 50px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #7d7e80;
  border-radius: 5px;
  margin: 0 4px;
  padding-left: 5px;
}
.mint-touzhu button{
  color: #ffffff;
  background: orange;
  border-radius: 5px;
  height: 35px;
  width: 50px;
  line-height: 35px;
  margin-top: 2.5px;
}
</style>
