<template>
  <div class="login">
    <header class="public-header" style="height: 60px;">
      <img src="@/assets/images/5.png" alt="">
    </header>
    <img :src="require('@/assets/images/lang-'+lang+'.png')" alt="" style="position: absolute;right: 15px;top: 18px;width:25px;height: 25px;" @click="$router.push({path:'/language'})">
    <div class="user-input">
      <van-cell-group>
        <van-field
            v-model="areaCode"
            clearable
            readonly
            :label="$t('tips[4].label')"
            :placeholder="$t('tips[5].label')"
            left-icon="phone-o"
            @click="areaShow = true"
        />
        <van-field
            v-model="user.username"
            clearable
            :label="$t('login[0].label')"
            left-icon="manager-o"
            :placeholder="$t('login[0].label')"
        />
        <van-field
            v-model="user.password"
            clearable
            :label="$t('login[1].label')"
            left-icon="bag-o"
            type="password"
            :placeholder="$t('login[1].label')"
        />
        <van-field
            v-model="user.verifyCode"
            v-if="verifyCodeSwitch"
            clearable
            :label="$t('login[2].label')"
            left-icon="aim"
            :placeholder="$t('login[2].label')"
            @focus="verifyCode"
        />
      </van-cell-group>
      <img v-if="verifyCodeSwitch" @click="verifyCode" :src="verifyCodeImg" alt="">
    </div>
    <div class="user-button">
      <van-row>
        <van-col span="24">
          <van-checkbox v-model="rememberPass"  shape="square"  checked-color="#2d81fe">{{$t('login[3].label')}}</van-checkbox>
        </van-col>
        <van-col span="24">
          <van-button type="info" size="large" @click="login">{{$t('login[4].label')}}</van-button>
        </van-col>
        <van-col span="24" v-if="registerSwitch">
          <router-link to="/register"><van-button type="default" size="large">{{$t('login[5].label')}}</van-button></router-link>
        </van-col>
<!--        <van-col span="24" v-if="guestSwitch">-->
<!--          <van-button type="default" size="large" @click="guestUser">免费试玩</van-button>-->
<!--        </van-col>-->
        <van-col span="24" v-if="serverSwitch">
          <router-link to="/service"><van-button type="default" size="large">{{$t('login[6].label')}}</van-button></router-link>
        </van-col>
      </van-row>
    </div>
    <van-popup v-model="areaShow" position="bottom" :style="{ height: '40%'}" @click="areaShow = false">
      <van-picker
          :title="$t('tips[4].label')"
          show-toolbar
          :columns="areaColumns"
          @confirm="onConfirm"
          @cancel="onCancel"
          @change="onChange"
          confirm-button-text="OK"
          cancel-button-text="cancel"
      />
    </van-popup>
  </div>
</template>

<script>
import '@/assets/css/login.less'
import { Toast } from 'vant';
export default {
name: "login",
  data(){
    return{
      fullPath:this.$route.query.fullPath || '/',
      user:{
        username:'',
        password:'',
        verifyCode:''
      },
      verifyCodeNum:1,
      verifyCodeImg:'',
      verifyCodeSwitch:false,
      guestSwitch:false,
      rememberPass:'',
      registerSwitch:false,
      serverSwitch:false,
      areaShow: false,
      areaCode: '62',
      areaColumns: ['Indonesia-62', 'China-86', 'U.S.-1', 'Malaysia-60', 'the Philippines-63', 'Singapore-65', 'Thailand-66', 'Brunei-673', 'Japan-81', 'South Korea-82', 'Vietnam-84', 'North Korea-850', 'Hongkong-852',
        'Macao-853', 'Cambodia-855', 'Laos-856', 'Taiwan-886', 'Bengal-880', 'Turkey-90', 'India-91', 'Pakistan-92', 'Afghanistan-93', 'Sri Lanka-94', 'Myanmar-95', 'Maldives-960', 'Lebanon-961', 'Jordan-962',
        'Syria-963', 'Syria-964', 'Kuwait-965', 'Saudi Arabia-966', 'Oman-968', 'Israel-972', 'Qatar-974', 'Bhutan-975', 'Mongolia-976', 'Nepal-977', 'Iran-98', 'Russia-7', 'Greece-30', 'Netherlands-31', 'Belgium-32',
        'France-33', 'Spain-34', 'Gibraltar-350','Portugal-351', 'Luxembourg-352', 'Ireland-353', 'Iceland-354', 'Albania-355', 'Malta-356', 'Cyprus-357', 'Finland-358', 'Bulgaria-359', 'Hungary-336', 'Germany-49',
        'Yugoslavia-338', 'Italy-39', 'San Marino-223', 'Vatican-396','Romania-40', 'Switzerland-41', 'Liechtenstein-4175', 'Austria-43', 'U.K.-44', 'Denmark-45', 'Sweden-46', 'Norway-47', 'Poland-48', 'Canada-1',
        'midway-1808', 'hawaii-1808','Anguilla-1809', 'Alaska-1907','Greenland-299', 'Australia-61', 'new Zealand-64',],
      lang:localStorage.getItem('locale') || 'zh'
    }
  },
  created() {
    this.getUserInfo()
    this.getStationSwitch()
    // this.getVerifyCodeSwitch()
    console.log(this.lang)
  },
  methods:{
    onConfirm(value) {
      let val = value.indexOf('-')
      this.areaCode = value.substring(val+1)
      this.areaShow = false
    },
    onChange(picker, value) {
      let val = value.indexOf('-')
      this.areaCode = value.substring(val+1)
    },
    onCancel() {
      this.areaShow = false
    },
    getUserInfo:function (){
      let userName = localStorage.getItem("username");
      let password = localStorage.getItem("password");
      if(userName != 'false' && password != 'false'){
        this.user.username = userName
        this.user.password = password
        this.rememberPass = true
      }
    },
    login:function () {
      let userAccount = {
        user: this.areaCode + this.user.username,
        pass: this.user.password
      }
      let params = {
        username: this.areaCode + this.user.username,
        // username: this.user.username,
        password: this.user.password,
        verifyCode:''
      }
      this.$post('native/login.do',params,true).then((res) => {
        if(res.success){
          Toast(this.$t('login[7].label'))
          this.$cookies.set("SESSION",res.accessToken)
          this.$cookies.set("language",'zh')
          this.$store.commit('pushIsLogin',true)
          this.$store.commit('pushUserAccount', userAccount)
          if(this.rememberPass){
            localStorage.setItem("username",this.user.username);
            localStorage.setItem("password",this.user.password);
          } else {
            localStorage.setItem("username",'false');
            localStorage.setItem("password",'false');
          }
          // this.$cookies.set("SESSION",res.accessToken)
          // 缓存登录状态
          if(this.fullPath == '/register'){
            this.$router.push({path:'/'})
          } else {
            this.$router.push({path:this.fullPath})
          }
        } else if(res.msg == '账号不存在') {
          Toast(this.$t('tips[0].label'))
          this.verifyCode()
        } else {
          Toast(this.$t('tips[9].label'))
          this.verifyCode()
        }
      })
    },
    // getVerifyCodeSwitch:function () {
    //   this.$post('native/getVerifyCodeSwitch.do').then((res) => {
    //     if(res.success){
    //       this.verifyCodeSwitch = res.content[8].onFlag
    //       this.verifyCode()
    //     }
    //   })
    // },
    verifyCode:function () {
      this.verifyCodeImg = this.$store.state.apiUrl + 'native/regVerifycode.do?v=' + ++this.verifyCodeNum
    },
    // 网站开关
    getStationSwitch:function (){
      if(this.$store.state.stationSwitch.success){
        this.stationSwitchOperate(this.$store.state.stationSwitch)
      } else {
        this.$fetch('native/getStationSwitch.do').then((res) => {
          if(res.success){
            this.stationSwitchOperate(res)
            this.$store.commit('pushStationSwitch',res)
          }
        })
      }
    },
    stationSwitchOperate:function (res){
      let data = res.content ,that = this
      for(let index in data){
        if(data[index].onFlag == 'on'){
          if(data[index].switchKey == 'appRegister'){
            that.registerSwitch = true // 用户注册
          } else if(data[index].switchKey == 'registerTestGuest'){
            that.guestSwitch = true
          } else if(data[index].switchKey == 'loginVerify'){
            that.verifyCodeSwitch = true
          } else if(data[index].switchKey == 'kfSwitch'){
            that.serverSwitch = true
          }
        }
      }
      if(this.verifyCodeSwitch){
        this.verifyCode()
      }
    },
    //免费试玩
    guestUser:function () {
      this.$fetch('native/reg_guest.do').then(res =>{
        if(res.success){
          this.$store.commit('pushIsLogin',true)
          this.$router.push({path:'/'})
          Toast('success')
        } else {
          Toast(res.msg)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>
