<template>
  <div class="personal">
    <div class="top">
      <header>
        <div class="user-info" @click="getMobieLevel()">
          <span>{{ accountInfo.account }}</span>
          <img :src="accountInfo.levelHead" alt="">
        </div>
        <div class="go-out" @click="logout">
          <span>{{$t('personal[0].label')}}</span>
          <van-icon name="arrow"/>
        </div>
      </header>
      <div class="user-level" v-if="levelShow" @click="vipLevel()">
        <span>{{$t('personal[1].label')}}：{{ userLevel.current || '' }}</span>
        <span>{{$t('personal[2].label')}}：{{ userLevel.next }}</span>
        <span>{{$t('personal[3].label')}}：{{ userLevel.total }} </span>
        <span>{{$t('personal[4].label')}}：{{ userLevel.nextMoney }}</span>
      </div>
      <div class="user-money">
        <van-icon name="points"/>
        <span>{{$t('team[7].label')}}：{{ money }} </span><van-icon name="replay"  @click="getMeminfo()" style="margin-left: 5px" />
      </div>
      <div class="money-button">
        <van-row>
          <router-link to="/czForm">
            <van-col span="8">
              <van-icon name="coupon"/>
              <span> {{$t('cz[0].label')}} </span>
            </van-col>
          </router-link>
          <a href="javascript:void(0)" @click="tixianIs()">
            <van-col span="8">
              <van-icon name="balance-list"/>
              <span> {{$t('personal[30].label')}} </span>
            </van-col>
          </a>
          <router-link to="/moneyShift">
            <van-col span="8">
              <van-icon name="card"/>
              <span>{{$t('moneyShift[0].label')}}</span>
            </van-col>
          </router-link>
        </van-row>
      </div>
    </div>
    <div class="personal-content">
      <router-link to="/lottery_record"><van-cell :title="$t('index[1].label')" is-link/></router-link>
      <router-link to="/team"><van-cell :title="$t('personal[5].label')" is-link/></router-link>
      <router-link to="/bindCard"><van-cell :title="$t('bindCard[2].label')" is-link/></router-link>
      <router-link to="/usdt_address"><van-cell :title="$t('personal[31].label')" is-link/></router-link>
      <router-link to="/mnyrecord"><van-cell :title="$t('personal[6].label')" is-link/></router-link>
      <router-link to="/upd_password?type=1"><van-cell :title="$t('personal[7].label')" is-link/></router-link>
      <router-link to="/upd_password?type=2"><van-cell :title="$t('personal[8].label')" is-link/></router-link>
      <router-link to="/share"><van-cell :title="$t('personal[9].label')" is-link/></router-link>
      <router-link to="/appDownload"><van-cell :title="$t('personal[10].label')" is-link/></router-link>
      <router-link to="/website_message"><van-cell :title="$t('message[0].label')" is-link/></router-link>
      <router-link to="/language"><van-cell :title="$t('personal[11].label')" is-link/></router-link>
      <router-link to="/service"><van-cell :title="$t('login[6].label')" is-link/></router-link>

    </div>
    <!--设置取款密码-->
    <van-dialog v-model="set_receipt_pwd" show-cancel-button :before-close="beforeClose" :confirmButtonText="$t('personal[25].label')" :cancelButtonText="$t('personal[24].label')">
      <h1>{{$t('personal[12].label')}}</h1>
      <van-field v-model="password" clearable type="password" maxlength="6" :label="$t('personal[13].label')" :placeholder="$t('personal[14].label')" />
      <van-field v-model="passwords" clearable type="password" maxlength="6" :label="$t('personal[15].label')" :placeholder="$t('personal[16].label')" />
    </van-dialog>
<!--    会员等级-->
    <van-popup v-model="vipLevelShow" position="bottom" :style="{ height: '60%' }">
      <table class="level-table">
        <thead><tr><th>{{$t('personal[17].label')}}</th> <th>{{$t('personal[18].label')}}</th><th>{{$t('personal[19].label')}}</th></tr></thead>
        <tbody>
        <tr v-for="(item,index) in vipLevelList" v-bind:key="index">
          <td>{{item.levelName}}</td>
          <td>{{item.depositMoney}}</td>
          <td>{{item.giftMoney}}</td>
        </tr>
        </tbody>
      </table>
    </van-popup>
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import '@/assets/css/personal.less'
import foot_nav from '@/components/include/foot_nav'
import { Dialog} from 'vant';

export default {
  name: "personal",
  components: {
    foot_nav,
    "van-dialog": Dialog.Component,
  },
  data() {
    return {
      accountInfo: [],
      scoreSwitch: [],
      yuebaoSwitch: 'off',
      userLevel: '',
      levelShow: false,
      money: 0,
      messageNum: 0,
      floder: this.$store.state.stationInfo.content.station.floder || 'x002',
      set_receipt_pwd:false,//是否显示设置提款密码框
      password: '', //提款密码
      passwords: '', //重复密码
      vipLevelShow: false, //会员等级显示开关
      vipLevelList: '', //会员等级列表
    }
  },
  created() {
    this.accountInfoIs()
    this.messageList()
  },
  mounted() {
  },
  methods: {
    // 获取余额
    getMeminfo: function () {
      this.$fetch('native/meminfo.do').then(res => {
        if (res.success) {
          this.money = res.content.balance.toFixed(2)
        }
      })
    },
    // 获取用户信息
    accountInfoIs: function () {
      this.$fetch('native/accountInfo.do',{},false).then(res => {
        if (res.success) {
          this.accountInfo = res.content
          let len = this.accountInfo.money.indexOf('.') + 3
          this.accountInfo.money = this.accountInfo.money.substring(0, len)
          this.money = this.accountInfo.money
          this.$store.commit('pushAccountInfo',res.content)
        }
      })
    },
    // 获取VIP等级信息
    getMobieLevel: function () {
      if (!this.levelShow) {
        this.levelShow = true
        this.$fetch('native/mobieLevel.do').then(res => {
          this.userLevel = res
        })
      } else {
        this.levelShow = false
      }
    },
    // 站内信未读
    messageList: function () {
      let params = {
        pageNumber: 1,
        pageSize: 100,
        status: 0
      }
      let that = this
      that.messageNum  = 0
      this.$post('center/news/message/list.do', params).then(res => {
        let data= res.list
        for (let index in data) {
          if(data[index].status == 1){
            that.messageNum += 1
          }
        }
      })
    },
    // 退出登录
    logout: function () {
      Dialog.confirm({
        title: this.$t('personal[20].label'),
        message: this.$t('personal[21].label'),
        cancelButtonText: this.$t('personal[24].label'),
        confirmButtonText: this.$t('personal[25].label'),
      }).then(() => {
        this.$post('native/logout.do').then(res => {
          if (res.success) {
            this.$store.commit('pushIsLogin', false)
            this.$router.push({path: '/'})
          }
        })
      }).catch(() => {
      });
    },
    tixianIs:function (){
      if(!this.accountInfo.receiptPwd && !this.set_receipt_pwd) { //提款密码
        Dialog.confirm({
          title: this.$t('personal[22].label'),
          message: this.$t('personal[23].label'),
          cancelButtonText: this.$t('personal[24].label'),
          confirmButtonText: this.$t('personal[25].label'),
        }).then(() => {
          this.set_receipt_pwd = true;
        })
      } else if(this.accountInfo.cardNo==='') { //卡号
        Dialog.confirm({
          title: this.$t('personal[26].label'),
          message: this.$t('personal[27].label'),
          cancelButtonText: this.$t('personal[24].label'),
          confirmButtonText: this.$t('personal[25].label'),
        }).then(() => {
          this.$router.push({
            path: '/bindCard',
          })
        })
      }else {
        this.$router.push({path: '/withdrawDeposit'})
      }
    },
    //设置提款密码
    beforeClose: function(action,done) {
      if(action === 'confirm') {
        setTimeout(done, 1000);
        this.$post('native/set_receipt_pwd.do',{pwd:this.password,againPwd:this.passwords}).then(ret=>{
          if(ret.success) {
            Dialog.confirm({
              title: this.$t('personal[28].label'),
              cancelButtonText: this.$t('personal[24].label'),
              confirmButtonText: this.$t('personal[29].label'),
            }).then(() => {
              this.$router.push({
                path: '/bindCard',
              })
            }).catch(()=>{

            })
          } else if(ret.msg == '密码不能为空!' || ret.msg == '确认密码不能为空!'){
            Dialog.alert({
              title: this.$t('updPass[6].label')
            })
          } else if(ret.msg == '两次密码不一致!'){
            Dialog.alert({
              title: this.$t('updPass[8].label')
            })
          } else {
            Dialog.alert({
              title: this.$t('updPass[10].label')
            })
          }
        })
      } else {
        done();
      }
    },
    vipLevel:function (){
      this.vipLevelShow = true
      this.$fetch('native/levelList.do',{}).then(res=>{
        this.vipLevelList = res.rows
      })
    }
  },
}
</script>

<style scoped>
</style>
