<template>
  <div class="register">
    <header>
      <router-link to="/">
        <van-icon name="arrow-left"/>
      </router-link>
      <span><b>{{ $t('login[5].label') }}</b></span>
    </header>
    <div class="user-input">
      <van-cell-group>
        <van-field
            v-model="areaCode"
            clearable
            readonly
            :label="$t('tips[4].label')"
            :placeholder="$t('tips[5].label')"
            @click="areaShow = true"
        />
        <van-field
            v-model="phoneNum"
            text="number"
            :label="$t('tips[6].label')"
            :placeholder="$t('tips[7].label')"
        >
          <template #button>
            <van-button type="info" :loading="loadFalse" :disabled="disabled" @click="getShortSms()">
              {{ disabledText }}
            </van-button>
          </template>
        </van-field>
        <van-field v-for="(item,index) in informationList" :key="index"
                   v-model="item.value"
                   clearable
                   :label="item.label"
                   :placeholder="item.placeholder"
                   :maxlength="item.maxlength || 10"
                   :type="item.type"
        />
        <van-field
            v-model="sms"
            clearable
            :label="$t('login[2].label')"
            :placeholder="$t('login[2].label')"
        />
      </van-cell-group>
      <!--      <img @click="verifyCode" :src="verifyCodeImg" alt="">-->
      <!--      <van-button type="info" @click="getShortSms">获取验证码</van-button>-->
    </div>
    <div class="user-button">
      <van-row>
        <van-col span="24">
          <van-button type="info" size="large" @click="registerUser">{{ $t('login[5].label') }}</van-button>
        </van-col>
        <van-col span="24">
          <router-link to="/login">
            <van-button type="default" size="large">{{ $t('login[4].label') }}</van-button>
          </router-link>
        </van-col>
        <van-col span="24">
          <router-link to="/service">
            <van-button type="default" size="large">{{ $t('login[6].label') }}</van-button>
          </router-link>
        </van-col>
      </van-row>
    </div>
    <van-popup v-model="areaShow" position="bottom" :style="{ height: '40%'}" @click="areaShow = false">
      <van-picker
          :title="$t('tips[4].label')"
          show-toolbar
          :columns="areaColumns"
          @confirm="onConfirm"
          @cancel="onCancel"
          @change="onChange"
          confirm-button-text="OK"
          cancel-button-text="cancel"
      />
    </van-popup>
    <!--    9693221109-->
  </div>
</template>

<script>
import '@/assets/css/register.less'
import {Toast} from 'vant';

export default {
  name: "register",
  data() {
    return {
      verifyCodeNum: 1,
      verifyCodeImg: '',
      registerSwitch: false,
      agtRegisterSwitch: false,
      sms: '',
      phoneNum: '',
      platForm: 2,
      informationList: [
        // {label:this.$t('login[8].label'),key:'account',maxlength:11,value:'',type:'text',placeholder:this.$t('login[9].label'),requiredVal:2},
        {
          label: this.$t('login[10].label'),
          key: 'password',
          maxlength: 16,
          value: '',
          type: 'password',
          placeholder: this.$t('login[11].label'),
          requiredVal: 2
        },
        {
          label: this.$t('login[12].label'),
          key: 'rpassword',
          maxlength: 16,
          value: '',
          type: 'password',
          placeholder: this.$t('login[13].label'),
          requiredVal: 2
        },
      ],
      code: '58333',
      loadFalse: false,
      disabled: false,
      disabledText: this.$t('login[16].label'),
      areaShow: false,
      areaCode: '62',
      areaColumns: ['Indonesia-62', 'China-86', 'U.S.-1', 'Malaysia-60', 'the Philippines-63', 'Singapore-65', 'Thailand-66', 'Brunei-673', 'Japan-81', 'South Korea-82', 'Vietnam-84', 'North Korea-850', 'Hongkong-852',
        'Macao-853', 'Cambodia-855', 'Laos-856', 'Taiwan-886', 'Bengal-880', 'Turkey-90', 'India-91', 'Pakistan-92', 'Afghanistan-93', 'Sri Lanka-94', 'Myanmar-95', 'Maldives-960', 'Lebanon-961', 'Jordan-962',
        'Syria-963', 'Syria-964', 'Kuwait-965', 'Saudi Arabia-966', 'Oman-968', 'Israel-972', 'Qatar-974', 'Bhutan-975', 'Mongolia-976', 'Nepal-977', 'Iran-98', 'Russia-7', 'Greece-30', 'Netherlands-31', 'Belgium-32',
        'France-33', 'Spain-34', 'Gibraltar-350','Portugal-351', 'Luxembourg-352', 'Ireland-353', 'Iceland-354', 'Albania-355', 'Malta-356', 'Cyprus-357', 'Finland-358', 'Bulgaria-359', 'Hungary-336', 'Germany-49',
        'Yugoslavia-338', 'Italy-39', 'San Marino-223', 'Vatican-396','Romania-40', 'Switzerland-41', 'Liechtenstein-4175', 'Austria-43', 'U.K.-44', 'Denmark-45', 'Sweden-46', 'Norway-47', 'Poland-48', 'Canada-1',
        'midway-1808', 'hawaii-1808','Anguilla-1809', 'Alaska-1907','Greenland-299', 'Australia-61', 'new Zealand-64',],
    }
  },
  created() {
    this.verifyCode()
    this.getStationSwitch()
    this.getStationInfo()
  },
  mounted() {
    if (this.$route.query.id) {
      this.code = this.$route.query.id
    }
  },
  methods: {
    onConfirm(value) {
      let val = value.indexOf('-')
      this.areaCode = value.substring(val + 1)
      this.areaShow = false
    },
    onChange(picker, value) {
      let val = value.indexOf('-')
      this.areaCode = value.substring(val+1)
    },
    onCancel() {
      this.areaShow = false
    },
    // 网站开关
    getStationSwitch: function () {
      if (this.$store.state.stationSwitch.success) {
        this.stationSwitchOperate(this.$store.state.stationSwitch)
      } else {
        this.$fetch('native/getStationSwitch.do').then((res) => {
          if (res.success) {
            this.stationSwitchOperate(res)
            this.$store.commit('pushStationSwitch', res)
          }
        })
      }
    },
    stationSwitchOperate: function (res) {
      let data = res.content, that = this
      for (let index in data) {
        if (data[index].onFlag == 'on') {
          if (data[index].switchKey == 'memberRegister') {
            that.registerSwitch = true // 用户注册
          } else if (data[index].switchKey == 'dailiRegister') {
            that.agtRegisterSwitch = true
          }
        }
      }
      if (!this.registerSwitch && this.agtRegisterSwitch) {
        this.platForm = 2
      }
      this.regconfig()
    },
    registerUser: function () {
      if (this.informationList[0].value != this.informationList[1].value) {
        Toast(this.$t('login[14].label'))
        return false
      }
      if (!this.sms) {
        Toast(this.$t('login[15].label'))
        return false
      }
      for (let i = 0; i < this.informationList.length; i++) {
        if (this.informationList[i].requiredVal == 2) {
          if (!this.$root.common.dataSafeValidate(1, this.informationList[i].value)) {
            return false
          }
        }
      }
      let params = {}
      for (let i = 0; i < this.informationList.length; i++) {
        params[this.informationList[i].key] = this.informationList[i].value;
      }
      params['phoneCode'] = this.sms
      params['platForm'] = this.platForm
      params['phoneNum'] = this.areaCode + this.phoneNum
      this.$post('native/n309/register.do', params, true).then(res => {
        if (res.success) {
          Toast(this.$t('tips[12].label'));
          this.$root.common.isLoginSession(true)
          this.$router.push({path: '/'})
        } else if(res.msg.indexOf('非法请求') != -1) {
          Toast(this.$t('tips[15].label'));
          this.verifyCode()
        } else if(res.msg.indexOf('推广码不存在') != -1) {
          Toast(this.$t('tips[19].label'));
          this.verifyCode()
        } if(res.msg.indexOf('验证码') != -1) {
          Toast(this.$t('tips[20].label'));
          this.verifyCode()
        } else {
          Toast(this.$t('tips[21].label'));
          this.verifyCode()
        }
      })
    },
    regconfig: function () {
      let params = {
        platForm: this.platForm
      }
      let that = this
      this.$fetch('native/regconfig.do', params).then(res => {
        if (res.success) {
          if (res.content) {
            for (let i in res.content) {
              let obj = {type: 'text', value: ''};
              obj['label'] = res.content[i].name;
              obj['key'] = res.content[i].key;
              if (obj['key'] == 'promoCode') {
                obj['value'] = that.code
                obj['label'] = that.$t('login[17].label')
                obj['placeholder'] = that.$t('login[17].label')
                console.log(obj)
              }
              obj['placeholder'] = res.content[i].remindText || '' + res.content[i].name;
              obj['requiredVal'] = res.content[i].requiredVal;
              switch (res.content[i].key) {
                case 'userName':
                  obj['maxlength'] = 4;
                  break;
                case 'qq':
                  obj['maxlength'] = 12;
                  break;
                case 'phone':
                  obj['maxlength'] = 11;
                  break;
                case 'email':
                  obj['maxlength'] = 22;
                  break;
                case 'receiptPwd':
                  obj['maxlength'] = 20;
                  break;
                case 'cardNo':
                  obj['maxlength'] = 25;
                  break;
                case 'wechat':
                  obj['maxlength'] = 20;
                  break;
                case 'promoCode':
                  obj['maxlength'] = 10;
                  break;
                default:
                  obj['maxlength'] = 10;
              }
              this.informationList.push(obj);
            }
          }
        } else {
          Toast('error')
        }
      }, resolve => {
        console.log(resolve)
      })
    },
    verifyCode: function () {
      this.verifyCodeImg = this.$store.state.apiUrl + 'native/regVerifycode.do?v=' + ++this.verifyCodeNum + '&flag=false'
    },
    registerType: function (num) {
      this.platForm = num
      this.regconfig()
      this.informationList = [
        // {label:this.$t('login[8].label'),key:'account',maxlength:11,value:'',type:'text',placeholder:this.$t('login[9].label'),requiredVal:2},
        {
          label: this.$t('login[10].label'),
          key: 'password',
          maxlength: 16,
          value: '',
          type: 'password',
          placeholder: this.$t('login[11].label'),
          requiredVal: 2
        },
        {
          label: this.$t('login[12].label'),
          key: 'rpassword',
          maxlength: 16,
          value: '',
          type: 'password',
          placeholder: this.$t('login[13].label'),
          requiredVal: 2
        },
      ]
    },
    // 获取网站基础信息
    getStationInfo: function () {
      if (this.$store.state.stationInfo.success) {
        document.title = this.$store.state.stationInfo.content.title
      } else {
        this.$fetch('native/getStationInfo.do').then((res) => {
          if (res.success) {
            this.$store.commit('pushStationInfo', res)
            document.title = this.$store.state.stationInfo.content.title
          }
        })
      }
    },
    // 获取网站基础信息
    getShortSms: function () {
      if (!this.phoneNum) {
        Toast(this.$t('tips[1].label'))
        return false
      }
      this.loadFalse = true
      let params = {
        phoneNum: this.areaCode + this.phoneNum
      }
      this.$fetch('native/send_code.do', params, true).then((res) => {
        if (res.success) {
          this.loadFalse = false
          this.disabled = true
          this.disabledText = this.$t('tips[2].label')
          Toast(this.$t('tips[3].label'))
        }
      })
    },
  }
}
</script>

<style scoped>
/deep/ .van-picker__toolbar {
  width: 100%;
}
</style>
