<template>
  <div class="indexKS">
    <main class="main-container-number" >
      <div class="main-number-power">
        <div class="power">
          <ul class="power-left-ul" >
            <li class="left">
              <div :class="activeShow.actives == index ? 'left-ul-tip actives': 'left-ul-tip' " v-for="(item,index) in lotteryDate.rules" :key="index" @click="selectLotteryDate(item),activeShow.actives =index">
                <a href="javascript:void (0)">
                  <span >{{item.name }}</span>
                  <i v-if="item.code.indexOf('zuxuan') > -1 " v-show="zuxuanJudege(selectedNumberDate)[item.code] > 0">{{zuxuanJudege(selectedNumberDate)[item.code]}}</i>
                  <i  v-else v-show="powerShow[item.code] && powerShow[item.code].length > 0">{{ powerShow[item.code] && powerShow[item.code].length > 0 ? powerShow[item.code].length : ''}}</i>
                </a>
              </div>
            </li>
            <li class="right">
              <van-tabs :active="activeShow.activeId" sticky swipe-threshold="2">
                <div v-for="(item,index) in endLotteryDate" :key="index" >
                    <van-tab v-if="item.name" :title="item.name"  >
                    <div class="power-content" >
                      <ul class="power-ul" v-if="item.lotteryTemplateType != 2 "> <!--三级标题-->
                        <li  v-for="(item2,index2) in item.oddPlayItems" :key="index2" @click="selectedNumber(item2)">
                          <div class="power-text">
                            <span :class="typeof(item2.name) == 'number'  ? 'roundBackground' :''">{{item2.name}}</span>
                            <span v-if="item2.playCode.indexOf('zuxuan') > -1 && zuxuanData.data.slice(-1)[0]">{{zuxuanData.data.slice(-1)[0].odds || 0}}</span>
                            <span v-if="item2.playCode.indexOf('zuxuan') <= -1">{{item2.odds}}</span>
                          </div>
                          <van-icon v-if=" powerShow[selectedBigClassify.slice(-1)[0]] && powerShow[selectedBigClassify.slice(-1)[0]].indexOf(`${item2.id},${item2.playCode},${item2.classify}`) > -1 ? true :''"name="success" color="red" size="18px" style="vertical-align: bottom;position: absolute;bottom: 0;right: 0;"/>
                        </li>
                        <span class="bet-info" v-if="zuxuanData.data[item.oddPlayItems[0].playCode] && zuxuanData.data[item.oddPlayItems[0].playCode].odds ">{{zuxuanData.data[item.oddPlayItems[0].playCode].odds}}</span>
                      </ul>
                      <div class="power-ul-2" v-else>
                        <div class="power-ul-2-content" v-for="(item2,index2) in item.oddPlayItems" :key="index2" >
                          <h1 class="power-ul-2-title">{{item2.name}}</h1>
                          <div class="power-ul-2-main" >
                            <div class="power-main-text" v-for="(item3,index3) in item2.oddPlayItems " :key="index3" @click="selectedNumber(item3)">
                              <span :class="typeof(item3.name) == 'number'  ? 'roundBackground' :''">{{item3.name}}</span>
                              <span>{{item3.odds}}</span>
                              <van-icon v-if=" powerShow[selectedBigClassify.slice(-1)[0]] && powerShow[selectedBigClassify.slice(-1)[0]].indexOf(`${item3.id},${item3.playCode},${item3.classify}`) > -1 ? true :''"name="success" color="red" size="18px" style="vertical-align: bottom;position: absolute;bottom: 0;right: 0;"/>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </van-tab>
                </div>
              </van-tabs>
            </li>
          </ul>
        </div>
      </div>
      <footer-lotter :powerShow="powerShow" :selectedNumberDate="selectedNumberDate" @footerLotterMoney="footerLotterMoney($event)" @cleanUpPowerShow="cleanUpPowerShow($event)" :clear="clear"></footer-lotter>
    </main>
  </div>
</template>
<script>
  import footerLotter from "@/components/include/footerLotter";
  import lotteryHtml from '@/assets/json/lotteryTemplate/dpc.json'
  export default {
    name: "indexDP",
    components:{footerLotter},
    props:["KSheaderLotterDate",'lotteryDate','clear'],
    data(){
      return{
        index:2,
        powerStyle:{tr:"color:red;border:2px solid red",span:'font-weight:bold;color:red;'},//点击颜色
        selectedNumberDate:[], //选中的号码
        powerShow:[], //选中的位置
        selectedBigClassify:[], //选中大分类
        endLotteryDate:[],//小玩法数据right
        activeShow:{actives:0,activeId:0,activeItem:0},
        zuxuanData:{data:[],leng:{},submitDate:[]}//组选三数据
      }
    },
    created() {
    },
    mounted() {
      // console.log(lotteryHtml)
      console.log(this.lotteryDate)
    },
    methods:{
      //子组件footerLotter传过来的值
      // handleSubmitOrder(dataMoney){
      //   this.getDolotBet(dataMoney)
      // },
      //处理footerLotter给的清除数据
      cleanUpPowerShow(clearDate){
        // let selectedNumberDate = this.selectedBigClassify.slice(-1)[0]
        this.powerShow = []
        this.selectedNumberDate = []
        if (this.powerShow == '' && clearDate != true){
          // this.$toast("数据已清除,请重新选择")
        }
      },
      //接受money 并整合提交数据给lottery
      footerLotterMoney(dataMoney){
        //lotType: 10, groupCode: 短牌,qiHao: 202006010686,version: 5,lotCode: FFK3
        //data [{"max":50000,"min":1,"name":"6点","oddsId":345957,"playCode":"daxiaoshaibao","money":"2.00"}]
        let data =[]
        for (let [index,val] of this.selectedNumberDate.entries()){
          if (val.playCode.indexOf("zuxuan") >-1){ //组选玩法
            for (let [indexs,vals] of this.zuxuanData.submitDate.entries()){ //循环选中的二级分类
              if (val.playCode == vals && vals.indexOf("zuxuansan") > -1){
                let arrListName=''
                for (let [index2,val2] of this.powerShow['zuxuansan'].entries()){
                  if (vals == val2.split(",")[1]){
                    arrListName +=val2.split(",")[2] + ','
                  }
                }
                data[index]={max:this.selectedNumberDate[index].maxBetAmmount,min:this.selectedNumberDate[index].minBetAmmount,name:arrListName,oddsId:this.selectedNumberDate[index].id,playCode:this.selectedNumberDate[index].playCode,money:dataMoney}
              }else if (val.playCode == vals && vals.indexOf("zuxuanliu") > -1){
                let arrListName=''
                for (let [index2,val2] of this.powerShow['zuxuanliu'].entries()){
                  if (vals == val2.split(",")[1]){
                    arrListName +=val2.split(",")[2]+ ','
                  }
                }
                data[index]={max:this.selectedNumberDate[index].maxBetAmmount,min:this.selectedNumberDate[index].minBetAmmount,name:arrListName,oddsId:this.selectedNumberDate[index].id,playCode:this.selectedNumberDate[index].playCode,money:dataMoney}
              }
            }
          }else {
            data[index]={max:this.selectedNumberDate[index].maxBetAmmount,min:this.selectedNumberDate[index].minBetAmmount,name:this.selectedNumberDate[index].classify,oddsId:this.selectedNumberDate[index].id,playCode:this.selectedNumberDate[index].playCode,money:dataMoney}

          }

        }

        this.$emit("dateParams",JSON.stringify(data),this.selectedNumberDate)
      },
      //选择大玩法，并与json数据填充
      selectLotteryDate(item){
        console.log(item)
        this.activeShow.activeId = 0
        this.endLotteryDate =[]
        this.selectedBigClassify.push(item.code)
        this.selectedNumber(' ',item)
        for (let nums=0;nums < item.rules.length ; nums++){
          for(let index=0;index < lotteryHtml.data.length;index++){
            if (item.rules[nums].code == lotteryHtml.data[index].playName){
              let dxdzzh = '' ,list = [], wanName = '';
              switch (item.rules[nums].code) {
                case '13qiu':
                  console.log(item.rules[nums].code)
                  dxdzzh =  item.rules[0].oddPlayItems.slice(1,5);
                  for(let n in  lotteryHtml.data[index].data) {
                    list = [];
                    // 填充其他
                    for (let i = 0; i < 10; i++) {
                      let obj =  item.rules[0].oddPlayItems[0];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.classify = lotteryHtml.data[index].data[n].name + '--' + i;
                      newobj.name = i;
                      list.push(newobj)
                    }
                    for (let i = 0; i < dxdzzh.length; i++) {
                      let obj = dxdzzh[i];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = dxdzzh[i].name;
                      newobj.classify = lotteryHtml.data[index].data[n].name + '--' + dxdzzh[i].name;
                      list.push(newobj)
                    }
                    lotteryHtml.data[index].data[n].oddPlayItems = list
                  }
                  this.endLotteryDate = lotteryHtml.data[index].data
                  break;
                case 'zhenghe':
                  for(let n in  lotteryHtml.data[index].data) {
                    list = [];
                    // 填充其他
                    if(n == 0){
                      for (let i = 0; i < 10; i++) {
                        let obj =  item.rules[0].oddPlayItems[0];
                        let newobj = [];
                        for (let k in obj) {

                          newobj[k] = obj[k]
                        }
                        newobj.classify = lotteryHtml.data[index].data[n].name + '--' + i;
                        newobj.name = i;
                        list.push(newobj)
                      }
                    } else if(n == 1){
                      let data = item.rules[0].oddPlayItems.slice(1,11)
                      for (let i = 0; i < data.length; i++) {
                        let obj = data[i];
                        let newobj = [];
                        for (let k in obj) {
                          newobj[k] = obj[k]
                        }
                        newobj.name = data[i].name;
                        newobj.classify = lotteryHtml.data[index].data[n].name + '--' + data[i].name;
                        list.push(newobj)
                      }
                    } else if(n == 2){
                      let data = item.rules[0].oddPlayItems.slice(11,15)
                      for (let i = 0; i < data.length; i++) {
                        let obj = data[i];
                        let newobj = [];
                        for (let k in obj) {
                          newobj[k] = obj[k]
                        }
                        newobj.name = data[i].name;
                        newobj.classify = data[i].name;
                        list.push(newobj)
                      }
                    }else if(n == 3){
                      let data = item.rules[0].oddPlayItems.slice(15,18)
                      for (let i = 0; i < data.length; i++) {
                        let obj = data[i];
                        let newobj = [];
                        for (let k in obj) {
                          newobj[k] = obj[k]
                        }
                        newobj.name = data[i].name;
                        newobj.classify = data[i].name;
                        list.push(newobj)
                      }
                    }else if(n == 4){
                      let data = item.rules[0].oddPlayItems.slice(18)
                      for (let i = 0; i < data.length; i++) {
                        let obj = data[i];
                        let newobj = [];
                        for (let k in obj) {
                          newobj[k] = obj[k]
                        }
                        newobj.name = data[i].name;
                        newobj.classify = data[i].name;
                        list.push(newobj)
                      }
                    }
                    lotteryHtml.data[index].data[n].oddPlayItems = list
                  }
                  this.endLotteryDate = lotteryHtml.data[index].data
                  break;
                case 'zhushipan':
                  dxdzzh = item.rules[0].oddPlayItems.slice(1,5);
                  for(let n in lotteryHtml.data[index].data) {
                    if(n < 7){
                      dxdzzh = ['大','小','单','双','质','合']
                    } else {
                      dxdzzh = ['大','小','单','双']
                    }
                    list = [];
                    // 填充其他
                    for (let i = 0; i < dxdzzh.length; i++) {
                      let obj = item.rules[0].oddPlayItems[0];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = dxdzzh[i];
                      newobj.classify = lotteryHtml.data[index].data[n].name + '--' + dxdzzh[i];
                      newobj.odds = item.rules[0].oddPlayItems[0].odds
                      list.push(newobj)
                    }
                    lotteryHtml.data[index].data[n].oddPlayItems = list
                  }
                  this.endLotteryDate = lotteryHtml.data[index].data
                  break;
                case 'yizizuhe':
                  dxdzzh = ['大','小','单','双','质','合']
                  // 填充数字
                  for (let i = 0; i < 10; i++) {
                    let obj = item.rules[0].oddPlayItems[0];
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.classify = i;
                    newobj.name = i;
                    list.push(newobj)
                  }
                  lotteryHtml.data[index].data[0].oddPlayItems = list
                  for(let n in lotteryHtml.data[index].data) {
                    list = [];
                    // 填充其他
                    for (let i = 0; i < dxdzzh.length; i++) {
                      let obj = item.rules[0].oddPlayItems[1];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = dxdzzh[i];
                      newobj.classify =  lotteryHtml.data[index].data[n].name + '--' + dxdzzh[i];
                      list.push(newobj)
                    }
                    n>0?  lotteryHtml.data[index].data[n].oddPlayItems = list:''
                  }
                  this.endLotteryDate = lotteryHtml.data[index].data
                  break;
                case 'erzizuhe':
                case 'sanzizuhe':
                  list = [];
                  // 填充其他
                  for (let i = 0; i < item.rules[0].oddPlayItems.length; i++) {
                    let obj = item.rules[0].oddPlayItems[i];
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = item.rules[0].oddPlayItems[i].name;
                    newobj.classify = item.rules[0].oddPlayItems[i].name;
                    list.push(newobj)
                  }
                  lotteryHtml.data[index].data[0].oddPlayItems = list
                  this.endLotteryDate = lotteryHtml.data[index].data
                  break;
                case 'baishidingwei':
                case 'baigedingwei':
                case 'shigedingwei':
                  for(let n in lotteryHtml.data[index].data) {
                    list = [];
                    // 填充其他
                    for (let i = 0; i < 100; i++) {
                      let obj = item.rules[n].oddPlayItems[0];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = this.addZero(i,false);
                      newobj.classify = this.addZero(i,false);
                      list.push(newobj)
                    }
                    lotteryHtml.data[index].data[n].oddPlayItems = list
                  }
                  this.endLotteryDate = lotteryHtml.data[index].data
                  break;
                case 'sanzidingwei':
                  for(let n in lotteryHtml.data[index].data) {
                    list = [];
                    // 填充其他
                    for (let i = 0; i < 1000; i++) {
                      let obj = item.rules[n].oddPlayItems[0];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = this.addZero(i,true);
                      newobj.classify = this.addZero(i,true);
                      list.push(newobj)
                    }
                    lotteryHtml.data[index].data[n].oddPlayItems = list
                  }
                  this.endLotteryDate = lotteryHtml.data[index].data
                  break;
                case 'baishiheshu':
                case 'baigeheshu':
                case 'shigeheshu':
                case 'sanziheshu':
                  dxdzzh = item.rules[0].oddPlayItems.slice(0, 11);
                  if(item.code  == 'sanziheshu') {
                    dxdzzh = item.rules[0].oddPlayItems.slice(0, 16);
                  }
                  for (let i = 0; i < dxdzzh.length; i++) {
                    let obj = dxdzzh[i];
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = dxdzzh[i].name;
                    newobj.classify = dxdzzh[i].name;
                    list.push(newobj)
                  }
                  lotteryHtml.data[index].data[1].oddPlayItems = list
                  for(let n in lotteryHtml.data[index].data) {
                    list = [];
                    // 填充数字
                    for (let i = 0; i < 10; i++) {
                      let obj = item.rules[0].oddPlayItems[11];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.classify = lotteryHtml.data[index].data[n].name + '--' +i;
                      newobj.name = i;
                      list.push(newobj)
                    }
                    n == 0? lotteryHtml.data[index].data[n].oddPlayItems = list:''
                  }
                  this.endLotteryDate = lotteryHtml.data[index].data
                  break;
                case 'zuxuansan':
                case 'zuxuanliu':
                  for(let n in lotteryHtml.data[index].data) {
                    list = [];
                    // 填充数字
                    for (let i = 0; i < 10; i++) {
                      let obj = item.rules[0].oddPlayItems[0];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.classify = i;
                      newobj.name = i;
                      list.push(newobj)
                    }
                    lotteryHtml.data[index].data[n].oddPlayItems = list
                  }
                  this.endLotteryDate = lotteryHtml.data[index].data
                  break;
              }

              // this.endLotteryDate.push(lotteryHtml.data[index].data)
            }
          }
        }
        console.log(this.endLotteryDate)
        // return item.rules.oddPlayItems
      },
      //选中的号码
      selectedNumber(item='',bigClassify=' '){
        console.log(this.selectedBigClassify)
        if (bigClassify != ' '){ //选中大分类的
          if (this.powerShow[bigClassify.code] ){
          }else {
            this.powerShow[bigClassify.code] =[]
          }
        }

        if (item != ' ' ){ //选择号码
          let selectedBigClassify = this.selectedBigClassify.slice(-1)[0]
          if (this.powerShow[selectedBigClassify]){ //清除数据的时候
            this.powerShow[selectedBigClassify].push(item.id+ `,${item.playCode},${item.classify}`);
          }else {
            this.powerShow[selectedBigClassify] =[]
            this.powerShow[selectedBigClassify].push(item.id+ `,${item.playCode},${item.classify}`);
          }
          this.selectedNumberDate.push(item);
          if (item.playCode.indexOf("zuxuan") == -1){
            for (let i=0;i<this.selectedNumberDate.length-1;i++){
              if ((item.id+','+item.playCode+','+item.classify) == (this.selectedNumberDate[i].id+','+this.selectedNumberDate[i].playCode+','+this.selectedNumberDate[i].classify)){
                this.selectedNumberDate.splice(i,1)
                this.selectedNumberDate.pop()
              }
            }
          }
          for (let i=0;i<this.powerShow[selectedBigClassify].length-1;i++){
            if ((item.id+','+item.playCode+','+item.classify) == this.powerShow[selectedBigClassify][i]){
              this.powerShow[selectedBigClassify].splice(i,1)
              this.powerShow[selectedBigClassify].pop()
            }
          }
          if (item.playCode.indexOf("zuxuan") >-1){ //当为组选时
            this.zuxuanData.leng[item.playCode] = 0
            this.selectedNumberDate.pop()
            for (let i=0;i<this.powerShow[selectedBigClassify].length;i++){
              if (this.powerShow[selectedBigClassify][i].indexOf(item.playCode) > -1){
                this.zuxuanData.leng[item.playCode]  += 1
              }
            }
            if (item.playCode.indexOf("zuxuansan") > -1){
              if ( this.zuxuanData.leng[item.playCode] >= 5){
                this.selectedNumberDate.push(item)
                for (let [index,vale] of this.lotteryDate.rules.entries()){
                  if (vale.code.indexOf(selectedBigClassify) > -1){
                    for (let [indexs,vales] of this.lotteryDate.rules[index].rules.entries()){
                      if (vales.code.indexOf(item.playCode) >-1){
                        for (let i=0;i<this.selectedNumberDate.length-1;i++){
                          if (item.playCode == this.selectedNumberDate[i].playCode ){
                            // if (item.name ==  this.selectedNumberDate[i].name){
                            this.selectedNumberDate.splice(i,1)
                            // }
                          }
                        }
                        this.zuxuanData.data.shift()
                        let playCodes = item.playCode
                        this.zuxuanData.submitDate.push(item.playCode)
                        this.zuxuanData.data[playCodes] = this.lotteryDate.rules[index].rules[indexs].oddPlayItems[this.zuxuanData.leng[item.playCode] -5 ]
                      }
                    }
                  }
                }
              }else {
                delete this.zuxuanData.data[item.playCode]
                for (let i=0;i<this.selectedNumberDate.length;i++){
                  if (item.playCode == this.selectedNumberDate[i].playCode){
                    this.selectedNumberDate.splice(i,1)
                    this.zuxuanData.submitDate.splice(i,1)
                  }
                }
              }
            }else if (item.playCode.indexOf("zuxuanliu") > -1){
              if ( this.zuxuanData.leng[item.playCode] >= 4){
                this.selectedNumberDate.push(item)
                for (let [index,vale] of this.lotteryDate.rules.entries()){
                  if (vale.code.indexOf(selectedBigClassify) > -1){
                    for (let [indexs,vales] of this.lotteryDate.rules[index].rules.entries()){
                      if (vales.code.indexOf(item.playCode) >-1){
                        for (let i=0;i<this.selectedNumberDate.length-1;i++){
                          if (item.playCode == this.selectedNumberDate[i].playCode ){
                            // if (item.name ==  this.selectedNumberDate[i].name){
                            this.selectedNumberDate.splice(i,1)
                            // }
                          }
                        }
                        this.zuxuanData.data.shift()
                        let playCodes = item.playCode
                        this.zuxuanData.submitDate.push(item.playCode)
                        this.zuxuanData.data[playCodes] = this.lotteryDate.rules[index].rules[indexs].oddPlayItems[this.zuxuanData.leng[item.playCode] -4 ]
                      }
                    }
                  }
                }
              }else {
                delete this.zuxuanData.data[item.playCode]
                for (let i=0;i<this.selectedNumberDate.length;i++){
                  if (item.playCode == this.selectedNumberDate[i].playCode){
                    this.selectedNumberDate.splice(i,1)
                    this.zuxuanData.submitDate.splice(i,1)
                  }
                }
              }
            }

          }
          console.log(this.zuxuanData.data)
          console.log(this.zuxuanData.leng)
          console.log(this.zuxuanData.submitDate)
          console.log(this.selectedNumberDate)
          console.log(this.powerShow)
        }

      },
      // 给小于10的号码加零
      addZero:function(num,three){
        if(three){
          num<10? num = '0'+ num: num = ''+num;
          num<100? num = '0'+ num: num = ''+num;
        } else {
          num<10? num = '0'+ num: num = ''+num;
        }
        return num;
      },
      //过滤组选三，组选六
      zuxuanJudege:function (value) {
        if (!value) return ''

        let objectZuxuan = {zuxuanliu:0,zuxuansan:0}
        for (let i = 0;i<value.length;i++){
          if (value[i].playCode.indexOf('zuxuanliu') >-1){
            objectZuxuan.zuxuanliu +=1
          }
          if (value[i].playCode.indexOf('zuxuansan') >-1){
            objectZuxuan.zuxuansan +=1
          }
        }
        return objectZuxuan
      }
    },
    computed:{
    },
    watch:{
      'headerLotterDate':function () {
        this.selectedNumberDate=[]
        this.powerShow =[]
      },
      "lotteryDate":function () {
        this.$nextTick(()=>{
          this.selectLotteryDate(this.lotteryDate.rules[0])
        })
      },
    },
    filters:{

    }
  }
</script>
<style lang="scss" scoped>
  $lotterIndexMarginTopTime:1rem;
  $lotterIndexOpenheight:0.8rem;
  .main-container-number{
    height: 100%;
    .main-number-power{
      text-align: center;
      box-sizing: border-box;
      height: 100%;
      width: 100%;
      max-width: 750px;
      .power{
        height: 100%;
        .power-left-ul{
          min-height: 100%;
          display: flex;
          .left{
            border-right: 1px solid #dddddd;
            box-sizing: border-box;
            &:first-child{
              width: 1.8rem;
              background: #f2f2f2;
              padding-bottom: 2.8rem;
            }

            .left-ul-tip{
              width: 1.8rem;
              height: .88rem;
              line-height: 0.88rem;
              position: relative;
              box-sizing: border-box;
              border-bottom: 1px solid #dddddd;
              transition: all 0.5s;

              a{
                width: 100%;
                height: 100%;
                position: relative;
                i{
                  position: absolute;
                  top: 0;
                  right: 0;
                  width: 0.32rem;
                  height: 0.32rem;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  box-sizing: border-box;
                  min-width: 16px;
                  padding: 0 3px;
                  color: #fff;
                  font-weight: 500;
                  font-size: 0.24rem;
                  font-family: Avenir-Heavy, PingFang SC, Helvetica Neue, Arial, sans-serif;
                  line-height: 14px;
                  text-align: center;
                  background-color: #ee0a24;
                  border: 1px solid #fff;
                  border-radius: 16px;
                  transform: translate(50%, -50%);
                  transform-origin: 100%;
                }
                span{
                  color: #000000;
                }
              }
            }
            .actives{
              border-left: 3px solid #ee0a24;
              font-weight: bold;
              a{
                span{
                  color: #ee0a24;
                }
              }

            }

          }
          .right{
            width: calc(100% - 1.8rem);
            >>> .van-tab{
              /*flex: 0 0 50%;*/
              background: #f2f2f2;
              line-height: 0.88rem;
              height: 0.88rem;
            }
            >>>.van-tabs__line{
              width: 50%!important;
            }
            >>>.van-tabs--line .van-tabs__wrap{
              height: 0.88rem!important;
            }
            >>>.van-tab--active{
              font-weight: bold;
              color: #ee0a24;
            }
            .power-content{
              .power-ul{
                display: flex;
                flex-flow: row wrap;
                li{
                  flex: 50%;
                  height: 0.88rem;
                  line-height: 0.88rem;
                  text-align: center;
                  box-sizing: border-box;
                  border: 1px solid #dddddd;
                  border-left: none;
                  border-top: none;
                  position: relative;
                  .power-text{
                    height: 100%;
                    display: inline-flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    span{
                      &:first-child{
                        margin-right: 0.2rem;
                        font-size: 0.26rem;
                      }
                      &:nth-child(2){
                        color: red;
                        font-size: 0.24rem;
                      }
                    }
                    .roundBackground{
                      display: flex;
                      text-align: center;
                      justify-content: center;
                      align-items: center;
                      width: .46rem;
                      height: .46rem;
                      margin-right: .1rem;
                      border-radius: 50%;
                      font-size: .25rem;
                      box-shadow: none;
                      background: #f5f5f5;
                      color: #000;
                      border: 1px solid #ddd;
                    }
                  }
                  &:nth-child(even){
                    &:nth-last-child(1){
                      border-bottom: 1px solid #dddddd;
                    }
                  }
                  &:nth-child(odd){
                    &:nth-last-child(2){
                      border-bottom: 1px solid #dddddd;
                    }
                  }
                }
                .bet-info{
                  display: flex;
                  justify-content: center;
                  flex-wrap: nowrap;
                  background-color: #ff6464;
                  color: #fff;
                  margin: auto;
                  height: 6.22222vw;
                  line-height: 6.22222vw;
                  border-radius: 6.22222vw;
                  box-shadow: 0 1.33333vw 2.13333vw 0 hsla(0,0%,60%,.3);
                  padding: 0 4vw;
                  font-size: 3.2vw;
                  z-index: 1;
                }
              }
              .power-ul-2{
                .power-ul-2-content{
                  .power-ul-2-title{
                    height: 0.88rem;
                    line-height: 0.88rem;
                    text-align: center;
                    box-sizing: border-box;
                    border: 1px solid #dddddd;
                    border-left: none;
                    border-top: none;
                    position: relative;
                  }
                  .power-ul-2-main{
                    display: flex;
                    flex-flow: row wrap;
                    .power-main-text{
                      flex: 0 0 50%;
                      height: 0.88rem;
                      line-height: 0.88rem;
                      text-align: center;
                      box-sizing: border-box;
                      border: 1px solid #dddddd;
                      border-left: none;
                      border-top: none;
                      position: relative;
                      span{
                        &:first-child{
                          margin-right: 0.2rem;
                          font-size: 0.26rem;
                        }
                        &:nth-child(2){
                          color: red;
                          font-size: 0.24rem;
                        }
                      }
                      .roundBackground{
                        display: flex;
                        text-align: center;
                        justify-content: center;
                        align-items: center;
                        width: .46rem;
                        height: .46rem;
                        margin-right: .1rem;
                        border-radius: 50%;
                        font-size: .25rem;
                        box-shadow: none;
                        background: #f5f5f5;
                        color: #000;
                        border: 1px solid #ddd;
                      }
                    }
                  }
                }
              }
            }
          }
        }

      }
    }
  }
</style>
