<template>
  <div class="pay">
    <div class="wrap">
      <div class="h100">
        <div class="m26">
          <h1><div class="msg">{{$t('订单提交成功，请您尽快付款！')}}</div></h1>
          <br>
          <div class="num"><span class="color1 ml16">{{$t('请您在提交订单后')}}<span class="orange">{{$t('10分钟')}}</span> {{$t('内完成支付，否则订单会自动取消。')}}</span></div>
        </div>
      </div>
      <div class="s-con">
        <div class="title">
					<span class="blue" style="font-size: 20px;"><span>{{$t('应付金额')}}：</span><span class="orange">{{$route.query.amount}}</span><span>{{$t('元')}}</span><br>
					<span style="font-size: 12px;">{{$t('此交易委托')}}{{bank.label}}{{$t('网络技术有限公司代收款')}}</span>
				</span></div>
        <div class="scan_zfb" id="divCode">
          <img src="" width="190px" height="190px" :alt="$t('二维码加载中。。。')">
          <div class="tips">
            {{$t('请使用')}}{{bank.label}}{{$t('扫一扫付款')}}
          </div>
        </div>
        <div class="question">
          <div class="new"></div>
        </div>
      </div>
      <h1 class="banquan">{{$t('支付网关版权所有 2019-2022')}}</h1>
    </div>
  </div>
</template>

<script>
import "@/assets/css/center/pay.less"
export default {
  name: "pay",
  data(){
    return{
      bank:{
        code:'',
        label:'',
      }
    }
  },
  created() {
  },
  mounted() {
    this.onlinePay()
  },
  methods:{
    onlinePay:function (){
      this.filterPayType(this.$route.query.payType)
      let params = {
        onlinePay:this.$route.query.payType,
        bankcode:this.bank.code,
        amount: this.$route.query.amount,
        payId: this.$route.query.payId,
        account:'',
      }
      this.$post('native/onlinePay.do',params,true).then((res) => {
        if(res.success){
          this.getWecahtQrcode(res.data)
        }
      })
    },
    getWecahtQrcode:function (e){
      let params = {
        iconCss: this.$route.query.iconCss,
        redirectUrl: e.redirectUrl,
        payId: this.$route.query.payId,
        redirectParams: JSON.stringify(e.formParams),
        payReferer: e.payReferer
      }
      this.$post('native/getWecahtQrcode.do',params,true).then((res) => {
        if(res.success){
          console.log(res)
        }
      })
    },
    filterPayType:function (type){
      switch (type){
        case '3':
          this.bank.code = 'WEIXIN'
          this.bank.label = this.$t('微信')
          break;
        case '4':
          this.bank.code = 'ALIPAY'
          this.bank.label = this.$t('支付宝')
          break;
        case '5':
          this.bank.code = 'QQPAY'
          this.bank.label = this.$t('QQ钱包')
          break;
        case '6':
          this.bank.code = 'JDPAY'
          this.bank.label = this.$t('京东金融')
          break;
        case '7':
          this.bank.code = 'BAIDU'
          this.bank.label = this.$t('百度钱包')
          break;
        case '8':
          this.bank.code = 'UNION'
          this.bank.label = this.$t('中国银联')
          break;
        case '9':
          this.bank.code = 'UNIONPAY'
          this.bank.label = this.$t('中国银联')
          break;
        case '10':
          this.bank.code = 'QQPAYBARCODE'
          this.bank.label = this.$t('QQ钱包')
          break;
        case '11':
          this.bank.code = 'WEIXINH5BARCODE'
          this.bank.label = this.$t('微信')
          break;
        case '12':
          this.bank.code = 'ALIH5BARCODE'
          this.bank.label = this.$t('支付宝')
          break;
        case '13':
          this.bank.code = 'ALIPDD'
          this.bank.label = this.$t('拼多多')
          break;
      }
    },
  }
}
</script>

<style scoped>

</style>