<template>
  <div class="payBank">

  </div>
</template>

<script>
import "@/assets/css/center/payBank.less"
export default {
  name: "payBank",
  data() {
    return {
      bank: {
        code: '',
        label: '',
      }
    }
  },
  created() {
  },
  mounted() {
  },
  methods: {

  }
}
</script>

<style scoped>

</style>