<template>
    <div class="promotion-page-item">
        <div class="img">
            <img :src="imgUrl">
        </div>
        <div class="info">
            <div class="title">{{infoTitle}}</div>
            <div class="description" v-html="infoDescription"></div>
            <div class="footer">
                <div class="l">
                    <i class="iconfont icon-alarm"></i>
                    活动时长：{{infoFromDate}}起  
                </div>
                <div class="r" @click="$parent.changeDetailPid(pid)">
                    活动详情
                    <i class="iconfont icon-forward"></i>
                </div>
            </div>
        </div>
        <transition name="Spread">
            <promotion-detail v-if="$parent.detail == pid"></promotion-detail>
        </transition>
    </div>
</template>
<script>
import promotionDetail from '@/components/promotion/promotionDetail'
export default {
    props:['data'],
    computed:{
        pid:function(){
            return this.data.pid || ''
        },
        imgUrl:function(){
            return this.data.imgUrl || ''
        },
        infoTitle:function(){
            return this.data.title || ''
        },
        infoDescription:function(){
            return this.data.content || ''  
        },
        infoFromDate:function(){
            return this.data.fromDate || ''
        },
        infoEndDate:function(){
            return this.data.endDate || ''
        },
        /* 活动内容 */
        activityContent:function(){
            return this.data.activityContent || ''
        },
        /* 活动奖励 */
        activityReward:function(){
            return this.data.activityReward || ''
        },
        /* 活动规则 */
        activityRule:function(){
            return this.data.activityRule || ''
        },
    },
    components:{
        promotionDetail
    },
}
</script>
<style lang="scss">
.promotion-page-item{
    min-height: 180px;
    margin-bottom: 20px;
    box-shadow: 0 6px 12px rgba(0,0,0,.2);
    .img{
        height: 180px;
        width: 480px;
        overflow: hidden;
        display: inline-block;
        vertical-align: top;
        img{
            height: 180px;
            width: 480px;
        }
    }
    .info{
        width: 600px;
        display: inline-block;
        vertical-align: top;
        background: #22262a;
        .title{
            height: 60px;
            line-height: 60px;
            text-align: center;
            font-size: 16px;
            color: #fff;
            font-weight: bolder;
        }
        .description{
            box-sizing: border-box;
            height: 65px;
            padding: 0 25px;
        }
        .footer{
            box-sizing: border-box;
            height: 55px;
            border-top: 1px solid rgba(45,45,45,.5);
            padding-left: 25px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .l{
                height: 55px;
                flex-grow: 1;
                line-height: 55px;
            }
            .r{
                box-sizing: border-box;
                cursor: pointer;
                width: 150px;
                height: 54px;
                line-height: 54px;
                border-left: 1px solid rgba(45,45,45,.5);
                text-align: center;
                .iconfont{
                    margin-left: .5rem;
                }
            }
        }

        &:hover{
            background-color: #2d3339;
            .footer{
                .r{
                    background-color: $theme-font-dark-color2;
                    color: white;
                }
            }
        }
    }
    .details{
        background-color: #2d3339;
        border-top: 1px solid rgba(45,45,45,.5);
        overflow: hidden;
        will-change: height;
        .row{
            padding:20px 50px 0;
            &:last-child{
                margin-bottom: 30px;
            }
            /* 标题 */
            h2{
                color: white;
                font-weight: 400;
                font-size: 13px;
                .iconfont{
                    font-weight: 300;
                    margin-right: .5rem;
                }
            }

            /* 内容正文 */
            .conts{
                box-sizing: border-box;
                padding: 10px 20px 0;
                line-height: 25px;
                ol{
                    box-sizing: border-box;
                    padding-left: 10px;
                }
            }
        }
        .title{
            margin-top: 30px;
            text-align: center;
            border-bottom: 1px solid rgba(45,45,45,.5);
            h2{
                font-weight: 300;
                font-size: 18px;
                color: $theme-font-color;
            }
            p{
                font-size: 14px;
                text-align: center;
                margin-top: 10px;
                margin-bottom: 10px;
            }
            span{
                display: block;
                text-align: center;
                margin-bottom: 10px;
                .iconfont{
                    margin-right: .5rem;
                }
            }
        }
    }
}
</style>