<template>
  <div class="details">
    <div class="row title">
      <h2>{{$parent.infoTitle}}</h2>
      <p v-html="$parent.infoDescription"></p>
      <span>
        <i class="iconfont icon-alarm"></i>活动时长：
        <label>{{$parent.infoFromDate}}起</label>
      </span>
    </div>
    <div class="row">
      <h2>
        <i class="iconfont icon-clipboard-text"></i>活动内容
      </h2>
      <div class="conts" v-html="$parent.activityContent">
      </div>
    </div>
    <div class="row">
      <h2>
        <i class="iconfont icon-gift"></i>活动奖励
      </h2>
      <div class="conts" v-html="$parent.activityReward">
      </div>
    </div>
    <div class="row">
      <h2>
        <i class="iconfont icon-tag-multiple"></i>活动规则
      </h2>
      <div class="conts" v-html="$parent.activityRule">
      </div>
    </div>
  </div>
</template>