<template>
	<div class="agent">
		<div class="main">
			<div class="items">
				<h2>
					<i class="iconfont bz-tags">&#xe629;</i>目的
				</h2> 
				<div class="row">
					<div class="no">1</div> 
					<div class="ct">
			            加盟计划属于一种合作营销计划，一项寻找“合作伙伴”的活动，鼓励拥有自己网站的个人及公司，推广我们这个最优质且具高度信用的竞猜平台公司。成为我们的代理商共同打造平台，合作共赢从中获得相应的回报。
			            <p style="color: rgb(3, 252, 179);">加入开心电竞合营伙伴请联系 
			            	<a href="http://sighttp.qq.com/msgrd?v=1&amp;uin=3456234541" target="_blank" style="color: rgb(3, 252, 179);">QQ:3456 2345 42。</a>
			            </p>
			        </div>
			    </div>
			</div>
			<div class="items">
				<h2>
					<i class="iconfont bz-tags">&#xe629;</i>
					我们的优势
		        </h2> 
		        <div class="row">
		        	<div class="no">1</div> 
		        	<div class="ct">
		            	我们的市场策略为行业领先水平，口碑相传也是我们最好的营销模式之一。
		          	</div>
				</div> 
				<div class="row">
					<div class="no">2</div> 
					<div class="ct">
				    	最佳佣金计划，合营伙伴将可挣得最高相当于公司纯盈利60%的佣金。
				  	</div>
				</div> 
				<div class="row">
					<div class="no">3</div> 
					<div class="ct">
				    	多种支付方式供您选择，让您不会错过任何一笔佣金的支付。
				  	</div>
				</div> 
				<div class="row">
					<div class="no">4</div> 
					<div class="ct">
				    	在线报表，让所有的合营伙伴可以随时随地查看高度透明最新的推广效果及会员的表现情况。
				  	</div>
				</div> 
				<div class="row">
					<div class="no">5</div> 
					<div class="ct">
				    	我们有优秀的技术及客服团队7*24小时为您服务。帮你解决后顾之忧。
				  	</div>
				</div>
		  	</div>
			<div class="items">
				<h2>
				<i class="iconfont bz-tags">&#xe629;</i>佣金回馈
				</h2>
				<div class="row">
					<div class="no" style="visibility: hidden;">1</div>
					<div class="ct">
					  	<table class="tb">
						    <tr>
						      <th>序号</th>
						      <th>代理等级</th>
						      <th>活跃会员</th>
						      <th>净盈利</th>
						      <th>佣金比例</th>
						    </tr>
						    <tr>
						      <td>1</td>
						      <td>青铜</td>
						      <td>5</td>
						      <td>10万以内</td>
						      <td>30%</td>
						    </tr>
						    <tr>
						      <td>2</td>
						      <td>白银</td>
						      <td>10</td>
						      <td>10-20万</td>
						      <td>35%</td>
						    </tr>
						    <tr>
						      <td>3</td>
						      <td>黄金</td>
						      <td>20</td>
						      <td>20-50万</td>
						      <td>40%</td>
						    </tr>
						    <tr>
						      <td>4</td>
						      <td>白金</td>
						      <td>50</td>
						      <td>50-100万</td>
						      <td>45%</td>
						    </tr>
						    <tr>
						      <td>5</td>
						      <td>钻石</td>
						      <td>100</td>
						      <td>100-500万</td>
						      <td>50%</td>
						    </tr>
						    <tr>
						      <td>6</td>
						      <td>最强王者</td>
						      <td>300</td>
						      <td>500万以上</td>
						      <td>60%</td>
						    </tr>
					  	</table>
					</div>
				</div>
				<div class="row">
					<div class="no">1</div>
					<div class="ct">
					  活跃会员标准：当月总存款达到500元，且当月于相关项目最少投注1000元为活跃会员。
					</div>
				</div>
				<div class="row">
					<div class="no">2</div>
					<div class="ct">
					  温馨提示：使用任何不正当方法套取佣金的行为账户将被永久冻结，我方有权终止一切合作！正式确立合作关系之后，合作商须诚信运营，合作共赢，共同努力。
					</div>
				</div>
				<div class="row">
					<div class="no">3</div>
					<div class="ct" style="color: rgb(3, 252, 179);">
					  活跃会员和净盈利必须同时达到要求才能结算佣金，如有一个未达到要求，将累积至达到要求的月份结算。
					</div>
				</div>
				<div class="row">
					<div class="no">4</div>
					<div class="ct">
					  佣金计算方式与支付方式：
					</div>
				</div>
				<div class="row" style="margin-left: 24px;">
					<div class="no">4.1</div>
					<div class="ct">
					  回馈计算区间为每月第一天至每月最后一天。代理专员将于每月3-5号之间统计并派发至代理账户。
					</div>
				</div>
				<div class="row" style="margin-left: 24px;">
					<div class="no">4.2</div>
					<div class="ct">
					  回馈(当期盈利) - 费用(当期总费用)+前期累积=当期最终盈利，会有两种结果：正数或负数。
					</div>
				</div>
				<div class="row" style="margin-left: 24px;">
					<div class="no" style="visibility: hidden;"></div>
					<div class="ct">
					  正数时：当期最终盈利*对应回馈比例=可获得的佣金
					</div>
				</div>
				<div class="row" style="margin-left: 24px;">
					<div class="no" style="visibility: hidden;"></div>
					<div class="ct">
					  负数时：当期最终盈利将累积至下期结算
			    	</div>
			  	</div>
				<div class="row" style="margin-left: 24px;">
					<div class="no">4.3</div>
					<div class="ct">
					  加盟合作伙伴负责线下会员包含返水、红利和优惠活动、平台费、存提款等所产生的费用，于每月佣金中扣除相应部分。
					</div>
				</div>
				<div class="row final">
					<div class="ct">
					  开心电竞拥有最终解释权！
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
export default{
	name:'agent',
	data(){
		return{
			actived:true
		}
	},
}
</script>
<style scoped lang="stylus">
@import '~@/assets/css/variable'
@import '~@/assets/css/iconfont/iconfont'
	.agent
		position:fixed
		top:45px
		right:0
		bottom:0
		left:0
		z-index:1
		background:$background-color
		.main
			width: 100%
			height: 100%
			overflow-y: auto
			.items
				font-size: $words-size-13
				font-weight: lighter
				color: #ddd
				padding: 10px 10px 0
				h2
					height: 40px
					line-height: 40px
					font-size: $words-size-14
					color: $special-color
					font-weight: lighter
					i
						font-size: $words-size-18
						margin-right: 5px
				.row
					margin-bottom: 10px
					display: flex
					justify-content: space-between
					align-items: baseline
					.no
						width: 16px
						height: 16px
						line-height: 16px
						border-radius: 0 10px 0 0
						text-align: center
						background: hsla(0,0%,100%,.1)
						color: $normal-color
						font-size: $words-size-12
					.ct
						width: calc(100% - 22px)
						line-height: 20px
						.tb
							width: 100%
							margin: auto
							tr
								height: 30px
								th
									line-height: 30px
									border: 1px solid hsla(0,0%,100%,.1)
									text-align: center
								td
									line-height: 30px
									border: 1px solid hsla(0,0%,100%,.1)
									text-align: center
						p
							color: rgb(3, 252, 179)
							a
								color: rgb(3, 252, 179)
				.final
					margin-left: 0px
					.ct
						color: rgb(3, 252, 179)
						padding-top: 30px
</style>