/* CSS Document */
* {
	/* max-height: 100%; */
}

table{
	padding: 0;
	margin: 0;
	border: 1px solid #eeeeee;
	border-collapse: collapse;
	width: 100%;
}
table th,table td{
	padding: 2vw;
	margin: 0;
	border: 1px solid #eeeeee;
}
table th{
	line-height:1.8;
	font-size: 4.2vw;
	color: #ae895a;
	background-color: #f2f2f2;
	font-weight: 700;
}
table td img{
	width:80%;
	height: auto;
	margin: 0 auto;
}
table tr:nth-child(odd){
	background-color: #f8f8f8;
}

/*str*/
.header{
	width: 100%;
}
.header img{
	width: 100%;
	height: auto;
}
.wrappAllW {
	margin-left: 4vw;
	margin-right: 4vw;
}

.cont-no1wrapp {
	box-sizing: border-box;
	background: #FFFFFF;
	border: 1px solid #ece6df;
	border-radius:2vw;
	padding: 4vw;
}

.contLine {
	width: 100%;
	height: 3vw;
}


.footer {
	width: 100%;
	line-height: 1.5;
	padding: 3vw 0;
	text-align: center;
	background: #006bff;
	color: #ffffff;
	position: fixed;
	left: 0;
	bottom: 0;
}

.line-head {
	height: 13.3vw;
}

.goTop {
	width: 12vw;
	height: 12vw;
	position: fixed;
	right: 4vw;
	bottom: 20vw;
}

.goTop img {
	width: 100%;
	height: auto;
	opacity: 0.65;
}

.banner {
	width: 100%;
	height: 95vw;
	position: relative;
	overflow: hidden;
}
.banner .dimg1 img,.banner .dimg2 img,.banner .dimg3 img,.banner .dimg4 img,.dimg66 img{
	width: 100%;
	height: auto;
}
.banner .dimg1{
	width: 100%;
	height: auto;
	margin:  10.2vw auto -24vw;
}
.banner .dimg2{
	width: 64%;
	height: auto;
	margin: 0 auto;
}
.banner .dimg66{
	width: 64%;
	height: auto;
	margin: 0 auto;
}
.banner .dimg3{
	width: 100%;
	height: 25vw;
	margin: 42vw auto 0;
	position: relative;
}
.banner .dimg3 .ccbanner{
	width: 94vw;
	height: auto;
	position: absolute;
	left: 3vw;
	top: 0;
}
.banner .dimg4{
	width: 100%;
	height: auto;
	margin: 0 auto 0;
}
.wrapp-c-1{
	width: 100%;
	height: 15vw;
	background: url(../images/index_04.gif) no-repeat center;
	background-size: 100% auto;
}
.wrapp-c-1 a{
	display: inline-block;
	float: left;
}
.wrapp-c-1 a.link-1{
	width: 31%;
	height: 15vw;
}
.wrapp-c-1 a.link-2{
	width: 38%;
	height: 15vw;
}
.wrapp-c-1 a.link-3{
	width: 31%;
	height: 15vw;
}
/*  */
.pos{
	position: relative;
}
.wrapp-c-2{
	width: 90%;
	height: 10vw;
	background-size: 100% auto;
	margin-left: auto;
	margin-right: auto;
}
.wrapp-c-2 a{
	display: inline-block;
	margin-right: 2%;
	width: 32%;
}
.wrapp-c-2 a:nth-last-child(1){
	margin-right: 0;
}
.wrapp-c-2 a img{
	width: 100%;
}
.alltitles{
	width: 100%;
	height: auto;
	text-align: center;
	font-size: 4vw;
	color: #404261;
	margin: 2vw auto 3vw;
}
.wrapp-c-3-w{
	width: 90%;
	height: auto;
	margin: 0 auto 2.5vw;
	background: #FFFFFF;
	padding: 4vw 0 1.5vw;
	border-radius: 0.8vw;
	/* box-shadow: 6px 8px 8px 0 rgba(54,66,106,.1); */
}
.wrapp-c-3{
	width: 92%;
	height: auto;
	margin: 0 auto 2.5vw;
	line-height: 8vw;
	/* box-shadow: 6px 12px 12px 0 rgba(54,66,106,.1); */
}
/* 样式1 */
.wrapp-c-3 .ls1{
	width: 18%;
	text-align: center;
	/* border:1px solid #32a6fe;
	background-color: #32a6fe; */
	border:1px solid #eaeff3;
	/* background-color: #f5f5f5; */
	color: #333;
	border-radius: 0.8vw 0 0 0.8vw;
}

.wrapp-c-3 .ls2{
	width: 60%;
	background-color: #FFFFFF;
	padding-left: 3vw;
	border-top:1px solid #eaeff3;
	border-right:1px solid #eaeff3;
	border-bottom:1px solid #eaeff3;
	box-sizing: border-box;
}
.wrapp-c-3 a.l2{
	display: inline-block;
	width: 20%;
	height: 8vw;
	line-height: 8vw;
	text-align: center;
	border:1px solid #ffffff;
	background-color: #006bff;
	color: #FFFFFF;
	
	/* background-color: #f5f5f5;
	border:1px solid #F5F5F5;
	color: #404261; */
	border-radius:0 0.8vw 0.8vw 0;
	margin-left: 2%;
}
.zhenshu{
	width: 90%;
	height: auto;
	margin: 0 auto 6vw;
	padding-top: 3.5vw;
}
.zhenshu img{
	width: 100%;
	height: auto;
}

.lunbo{
	width: 36.9vw;
	height: 79.5vw;
	position: absolute;
	left: 31.6vw;
	top: 3.6vw;
	border-radius:4.2vw;
	overflow: hidden;
}
.goodBox .swiper-slide {
	background-position: center;
	background-size: cover;
	width: 36.9vw;
	height: 79.5vw;
}
.goodBox .swiper-slide img{
	width: 100%;
	height: 100%;
	border-radius:4.2vw;
	overflow: hidden;
}
.pagination {
    position: absolute;
    left: 0;
    text-align: center;
    bottom: 5px;
    width: 100%;
	z-index: 10;
	display: none;
}
.swiper-pagination-switch {
    display: inline-block;
    width: 20px;
    height: 2px;
    /* border-radius: 10px; */
    background: #999;
   /* box-shadow: 0px 1px 2px #555 inset; */
    margin: 0 3px;
    cursor: pointer;
}
.swiper-active-switch {
    background: #32a6fe;
}