<template>
    <div id="esports-news-photo-detail">
        <!-- 面包屑导航 -->
        <div class="breakcrumbs">
            <div class="item" @click="$router.push({name:'homeIndex'})">
                <i class="iconfont icon-home1"></i>
            </div>
            <i class="iconfont icon-forward"></i>
            <div class="item" @click="$router.push({name:'homeNews',params:{mode:'1'}})">
                电竞资讯
            </div>
            <i class="iconfont icon-forward"></i>
            <div class="item" @click="$router.push({name:'homeNews',params:{mode:'3'}})">
                图集
            </div>
            <i class="iconfont icon-forward"></i>
            <div class="item active">
                {{articleTitle}}
            </div>
        </div>
        <div class="hr1"></div>
        <!-- 文章容器 -->
        <div class="article">
            <div class="article-header">
                <h1>{{articleTitle}}</h1>
                <div class="article-detail">
                    <span><i class="iconfont icon-time"></i>{{publishDateString}}</span>
                    <span><i class="iconfont icon-eye"></i>{{clickCount}}</span>
                </div>
            </div>
            <div class="article-cont">
                <p v-for="(item,index) in articleContent" :key="'esports-news-photo-item' + index">
                    <img v-lazy="item" />
                </p>
            </div>
        </div>

    </div>
</template>
<script>
/**
 * @description 图集类 资讯详情
 */
export default {
    created(){
        this.getDatas()
    },
    data(){
        return {
            resultData:false,
        }
    },
    computed:{
        /* 资讯id */
        articleId:function(){
            return this.$route.params.id || ''
        },
        /* 资讯标题 */
        articleTitle:function(){
            return this.resultData.title || ''
        },
        /* 发布时间 */
        publishDateString:function(){
            return this.resultData.publishDateString || ''
        },
        /* 点击量 */
        clickCount:function(){
            return this.resultData.clickCount || 0
        },
        /* 资讯内容 */
        articleContent:function(){
            let result = ''
            const {imageUrls = ''} = this.resultData
            if(imageUrls){
                result = imageUrls.split(',')
            }
            return result
        },
    },
    methods:{
        getDatas:function(){
            const loading = this.$loading.service({lock: true,background: 'rgba(0, 0, 0, 0.7)'})
            this.$http.post('api/News/GetNewsContent',{
                cid:this.articleId
            }).then(response => {
                loading.close()
                const {resultData,resultCode} = response.data
                /* 请求成功 */
                if(resultCode == 1){
                    this.resultData = resultData
                    window.scrollTo(0,0)
                }else{
                    /* 跳转回列表页 */
                    this.$router.push({name:'homeNews',params:{mode:'1'}})
                }
            }).catch(()=>{
                /* 跳转回列表页 */
                this.$router.push({name:'homeNews',params:{mode:'1'}})
            })
        }
    },
    watch:{
        articleId:function(){
            this.getDatas()
        },
    }
}
</script>
<style lang="scss">
#esports-news-photo-detail{
    margin: 20px 0;
    background-color: #22262a;
}
</style>