<template>
  <div class="page_foot">
    <van-row type="flex">
      <van-col :span="spanNum" :class="{active:$route.path == '/'}">
        <router-link to="/">
          <img src="@/assets/images/tabs/home-bottom.png" alt="">
          <br>
          <span>{{$t('主页')}}</span>
        </router-link>
      </van-col>
<!--      <van-col :span="spanNum" :class="{active:$route.path == '/'}">-->
<!--        <router-link  to="/">-->
<!--          <img src="@/assets/images/tabs/reward-bottom.png" alt="">-->
<!--          <br>-->
<!--          <span>开奖公告</span>-->
<!--        </router-link>-->
<!--      </van-col>-->
      <van-col :span="spanNum" :class="{active:$route.path == '/active'}">
        <router-link to="/active">
          <img src="@/assets/images/tabs/promo-bottom.png" alt="">
          <br>
          <span>{{$t('优惠')}}</span>
        </router-link>
      </van-col>
      <van-col :span="spanNum" :class="{active:$route.path == '/wallet'}">
        <router-link to="/wallet">
          <img src="@/assets/images/tabs/wallet-bottom.png" alt="">
          <br>
          <span>{{$t('钱包')}}</span>
        </router-link>
      </van-col>
      <van-col :span="spanNum" :class="{active:$route.path == '/service'}">
        <router-link  to="/service">
          <img src="@/assets/images/tabs/chat-bottom.png" alt="">
          <br>
          <span>{{$t('在线客服')}}</span>
        </router-link>
      </van-col>
    </van-row>
  </div>
</template>

<script>
import '@/assets/css/include/page_foot.less'
export default {
  name: "page_foot",
  data(){
    return {
      spanNum:6
    }
  },
  created() {

  },
  mounted() {

  },
  methods:{

  },
}
</script>

<style scoped>

</style>
