<template>
  <div class="page_head">
    <header>
      <div class="icon left" @click="leftPopupShow = true,rightPopupShow = false"><van-icon name="wap-nav" color="#FFFFFF" size="35" /></div>
      <img class="logo" src="@/assets/images/logo.png" alt="logo">
      <div class="icon right" @click="rightPopupShow = true,leftPopupShow= false"><van-icon name="phone" color="#FFFFFF" size="35" /></div>
    </header>
    <van-popup class="popup" v-model="leftPopupShow" position="left" :style="{ height: '100%', width: '80%' }">
      <div class="side-left">
        <div class="side-title" v-if="!$store.state.isLogin">
          <span>{{$t('欢迎来到')}}{{$store.state.stationInfo.content.title}}</span>
        </div>
        <div class="side-title" v-else style="height: 100px;">
          <div class="side-user" v-if="vipData">
            <div class="vip-icon">
              <img :src="require('@/assets/images/vip-icon/'+vipData.current+'.png')" alt="">
            </div>
            <div class="user-name">
              <p>{{$store.state.userInfo.account}}</p>
              <p>{{vipData.current}}</p>
            </div>
            <div class="go-out">
              <button @click="logout()">{{$t('退出')}}</button>
            </div>
          </div>
          <div class="money">
            {{$t('总余额')}}：{{$root.common.splitNum($store.state.userInfo.money)}}
          </div>
        </div>
        <div class="list">
          <img src="@/assets/images/home-menu.png" alt=""><span @click="$root.common.toPath('/')">{{$t('主页')}}</span>
        </div>
        <div class="grd-dvd"></div>
        <div class="list">
          <img src="@/assets/images/account-menu.png" alt=""><span @click="$root.common.toPath('/account')">{{$t('账户')}}</span>
        </div>
        <div class="grd-dvd"></div>
        <div class="list">
          <img src="@/assets/images/history-menu.png" alt=""><span @click="$root.common.toPath('/funds')">{{$t('资金记录')}}</span>
        </div>
        <div class="grd-dvd"></div>
        <div class="list">
          <img src="@/assets/images/blog-menu.png" alt=""><span @click="$root.common.toPath('/record')">{{$t('投注记录')}}</span>
        </div>
        <div class="grd-dvd"></div>
        <div class="list">
          <img src="@/assets/images/vip-menu.png" alt=""><span @click="$root.common.toPath('/vip')">{{$t('会员等级')}}</span>
        </div>
        <div class="grd-dvd"></div>
        <div class="list">
          <img src="@/assets/images/promo-menu.png" alt=""><span @click="$root.common.toPath('/active')">{{$t('优惠活动')}}</span>
        </div>
<!--        <div class="grd-dvd"></div>-->
<!--        <div class="list">-->
<!--          <img src="@/assets/images/download-menu.png" alt=""><span>下载</span>-->
<!--        </div>-->
        <div class="grd-dvd"></div>
        <div class="list">
          <img src="@/assets/images/language-menu.png" alt=""><span @click="$root.common.toPath('/language')">{{$t('语言')}}</span>
        </div>
        <div class="grd-dvd"></div>
        <div class="list">
          <img src="@/assets/images/help-menu.png" alt=""><span @click="$root.common.toPath('/help')">{{$t('用户协助')}}</span>
        </div>
        <div class="grd-dvd"></div>
      </div>
    </van-popup>
    <van-popup class="popup" v-model="rightPopupShow" position="right" :style="{ height: '100%', width: '80%' }">
      <div class="side-right">
        <div class="contact-title">{{$t('联系我们')}}!</div>
        <div class="live-divider"><div></div></div>
        <div class="live-support">24/7 {{$t('在线支持')}}</div>
        <div class="grd-dvd"></div>
        <div class="list" @click="locaLink('skype')">
          <div class="icon"><img src="@/assets/images/skype_icon.png" alt=""></div>
          <div class="font"><div class="top">Skype</div><div class="bottom">{{$store.state.stationInfo.content.skype}}</div></div>
        </div>
        <div class="list" @click="locaLink('email')">
          <div class="icon"><van-icon name="invitation" size="35" /></div>
          <div class="font"><div class="top">{{$t('电子邮箱')}}</div><div class="bottom">{{$store.state.stationInfo.content.email}}</div></div>
        </div>
<!--        <div class="list">-->
<!--          <div class="icon"><van-icon name="phone-circle" size="35" /></div>-->
<!--          <div class="font"><div class="top">Phone</div><div class="bottom">+6017 8482 934</div></div>-->
<!--        </div>-->
        <div class="list" @click="locaLink('telegram')">
          <div class="icon"><van-icon name="smile-comment" size="35" /></div>
          <div class="font"><div class="top">Telegram</div><div class="bottom">{{$store.state.stationInfo.content.telegram}}</div></div>
        </div>
      </div>
    </van-popup>
  </div>
</template>

<script>
import '@/assets/css/include/page_head.less'
import {Toast} from 'vant';
export default {
  name: "page_head",
  data(){
    return{
      leftPopupShow:false,
      rightPopupShow:false,
      vipData:'',
    }
  },
  created() {
    console.log(this.$store.state.userInfo)
  },
  mounted() {
    this.getStationInfo()
    if(this.$store.state.isLogin){
      this.accountInfoIs()
      this.getMobieLevel()
    }
  },
  methods:{
    locaLink:function (type){
      switch (type){
        case 'telegram':
          location.href = 'https://telegram.me/' + this.$store.state.stationInfo.content.telegram
          return
        case 'email':
          location.href = 'mailto:' + this.$store.state.stationInfo.content.telegram
          return
        case 'skype':
          location.href = 'skype:'+this.$store.state.stationInfo.content.skype+'?chat'
          return
      }
    },
    // 获取网站基础信息
    getStationInfo:function (){
      if(this.$store.state.stationInfo.success){
        document.title = this.$store.state.stationInfo.content.title
      } else {
        this.$fetch('native/getStationInfo.do').then((res) => {
          if(res.success){
            this.$store.commit('pushStationInfo',res)
            document.title = this.$store.state.stationInfo.content.title
          }
        })
      }
    },
    accountInfoIs: function () {
      this.$fetch('native/accountInfo.do').then(res => {
        if (res.success) {
          this.$store.commit('pushUserInfo',res.content)
        }
      })
    },
    // 获取VIP等级信息
    getMobieLevel: function () {
      this.$fetch('native/mobieLevel.do').then(res => {
        this.vipData = res
        this.$store.commit('pushVipData',res)
      })
    },
    // 退出登录
    logout: function () {
      this.$post('native/logout.do',{},true).then(res => {
        if (res.success) {
          this.$store.commit('pushIsLogin', false)
          this.$router.push({path: '/'})
          Toast(this.accountInfo.account + this.$t('退出成功'))
        }
      })
    },
  }
}
</script>

<style scoped>

</style>
