<template>
  <view class="float">
    <view class="newNoticeFrame" v-show="popupShow">
      <view class="active-inner">
        <view class="active-top">
          <view class="top-active">平台公告</view>
          <a href="#" class="close123" @click="popupShow = false">×</a>
        </view>
        <view class="active-content">
          <view class="active-main">
            <view class="active-item" v-for="(item, index) in noticeList" :key="index">
              <a href="#" class="activeTitles" @click="showIndex == index ? showIndex = 9999 : showIndex = index">
                <view class="red-title"></view>
                <span class="textStyle">{{item.title}}</span>
              </a>
              <view class="contentStyle" v-html="item.content" v-show="showIndex == index">
              </view>
            </view>
          </view>
        </view>
		<u-button type="error" :plain="true" text="24小时不再显示" @click="noShow" class="button"></u-button>
      </view>
    </view>
  </view>
</template>

<script>
export default {
name: "float",
  data(){
    return{
      noticeList:[],
      showIndex:0,
      popupShow:false,
      redShow:true,
    }
  },
  created() {
    let showDate = uni.getStorageSync('showDate');
    if(!showDate || showDate < (Date.parse(new Date()) - 86400000)){
      this.getPopNotices()
    }
  },
  mounted() {

  },
  methods:{
	  
    // 判断是否处于登录状态
    getPopNotices:function () {
      let params = {
        code : 19
      }
	  this.$Request.get('/native/getPopNotices.do',params, false).then(res => {
	  	if(res.success) {
	  	  this.noticeList = res.content
	  	  if(res.content.length > 0){
	  	    this.popupShow = true
	  	  }
	  	}
	  })
    },
    noShow:function (){
	uni.setStorageSync('showDate', Date.parse(new Date()));
      this.popupShow = false
	  uni.showToast({
	  	title: '24小时内不再显示此弹窗',
	  	icon: 'none',
	  	duration: 2000
	  });
    },
  }
}
</script>

<style scoped lang="scss">
	@import '../../static/css/include/float.scss';
</style>
