<template>
    <div class="ACpopupVersion">
        <el-dialog :title="this.$store.state.stationInfo.content.title + '公告'" :visible.sync="centerDialogVisible" width="50%" center class="ACwrapper">
            <div class="ACcontent">
                <el-container>
                    <el-aside style="border-right: 1px solid #e5e4e4">
                        <ul>
                            <li @click="show = index" v-for="(item,index) in afficheHtml" :key="index">
                                <el-tag :type="item.type || 'danger'">{{index +1}}</el-tag>
                                <div>
                                    <el-alert :title="item.title" :type="item.type || 'danger'" effect="light" :closable="false" v-bind:style="show == index ? ({background:item.background} || 'background:#fef0f0 ') : ''" ></el-alert>
                                </div>
                            </li>
                        </ul>
                    </el-aside>
                    <el-main>
                        <div v-for="(item,index) in afficheHtml" :key="index" v-show="show == index">
                            <el-header style="height: 70px;line-height: 70px;overflow: hidden;">{{item.title}}</el-header>
                            <div class="ACmain" v-html="item.content">
                            </div>
<!--                            <div style="text-align: right;margin-right: 20px;">-->
<!--                                <el-tag  :type="item.type || 'danger'" style="color: #000000">{{item.createTime | time}}</el-tag>-->
<!--                            </div>-->
                        </div>
<!--                        <el-dropdown size="small" split-button type="info" @command="showTimeEvent" @click="showTimeEventDeal">-->
<!--                            不再显示-->
<!--                            <el-dropdown-menu slot="dropdown">-->
<!--                                <el-dropdown-item command="24">24H</el-dropdown-item>-->
<!--                                <el-dropdown-item command="48">48H</el-dropdown-item>-->
<!--                                <el-dropdown-item command="76">76H</el-dropdown-item>-->
<!--                            </el-dropdown-menu>-->
<!--                        </el-dropdown>-->
                    </el-main>
                </el-container>
            </div>
<!--            <span slot="footer" class="dialog-footer" >-->
<!--                <el-button @click="centerDialogVisible = false">取 消</el-button>-->
<!--                <el-button type="primary" @click="centerDialogVisible = false">确 定</el-button>-->
<!--            </span>-->
    </el-dialog>
    </div>

</template>

<script>
    import {http_ajax} from '@/assets/js/resource'
    export default {
        name: "popup_version",
        data(){
            return{
                centerDialogVisible:false,
                afficheHtml:[],
                show:"0",
                showTime:""
            }
        },
        created() {
            this.getAfficheContent()
            // if (this.getCookie("popup_version")){
            //     this.centerDialogVisible=false
            // }
        },
        methods:{
            getAfficheContent(){
                http_ajax('get','native/getPopNotices.do',{code:'14'},true,'.ACpopupVersion').then(res=>{
                    if (res.content.length != 0){
                        this.afficheHtml = res.content
                        for (let i=0;i<this.afficheHtml.length;i++){
                            this.afficheHtml[i].background = '#fef0f0'
                        }
                        this.centerDialogVisible = true
                    }
                })
            },
            // showTimeEvent(times){
            //     this.showTimeEventDeal(times)
            //     this.$notify.info({
            //         title: '提示消息',
            //         message:`不再显示时间为${times}小时`
            //     });
            // },
            // showTimeEventDeal(times){
            //     let time = new Date()
            //     times = parseInt(times)
            //     time.setTime(time.getTime() + times*60*60*1000)
            //     let expires = 'expires=' + time.toUTCString();
            //     document.cookie = "popup_version=times;" + expires + ";path=/";
            // },
            // getCookie(cname) {
            //     let name = cname + "=";
            //     let ca = document.cookie.split(';');
            //     for(let i = 0; i < ca.length; i++) {
            //         let c = ca[i];
            //         while (c.charAt(0) == ' ') {
            //             c = c.substring(1);
            //         }
            //         if (c.indexOf(name)  == 0) {
            //             return c.substring(name.length, c.length);
            //         }
            //     }
            //     return "";
            // }
        },
        watch:{},
        filters:{
            time(value){
                let time = new Date(value)
                let Year = time.getFullYear()
                let Month = time.getMonth() + 1 < 10 ? "0" + time.getMonth() : time.getMonth()
                let Dates = time.getDate() < 10 ? "0" + time.getDate() : time.getDate()
                // let Hours = time.getHours() < 10 ? "0" + time.getHours() : time.getHours()
                // let Minutes = time.getMinutes() < 10 ? "0" + time.getMinutes() : time.getMinutes()
                // let Secodes = time.getSeconds() < 10 ? "0" + time.getSeconds() : time.getSeconds()
                return `${Year}-${Month}-${Dates}`
            }
        },

    }
</script>
<style lang="less" scoped>
    .ACmain::-webkit-scrollbar {display:none}
    .ACwrapper{
       /deep/ .el-dialog--center{
               border-radius: 8px;
               height: 650px;
               .el-dialog__header{
                   border-top-left-radius: 8px;
                   border-top-right-radius: 8px;
                   background: linear-gradient(to bottom, #b31515, #f13131);
                   padding: 20px;
                   .el-dialog__title{
                       text-align: center;
                       letter-spacing: 8px;
                       color: #fff;
                       font-size: 24px
                   }
                   .el-icon-close{
                       font-size: 24px;
                       color: #ffffff;

                   }
               }
               .el-dialog__body{
                    padding: 2px;
                    .ACcontent{
                        .el-container{
                            .el-aside{
                                width: 23% !important;
                                ul{
                                    width: 100%;
                                    li{
                                        width:100%;
                                        padding-right: 0;
                                        margin: 5px 0 5px 0;
                                        display: flex;
                                        align-items: center;
                                        border-bottom:  1px solid #e5e4e4;
                                        cursor: pointer;
                                        div{
                                            font-size: 14px;
                                            &:nth-child(2){
                                                overflow: hidden;
                                                text-overflow:ellipsis;
                                                white-space: nowrap;
                                                width:100%;
                                                display: block;
                                                margin: 0 0 0 5px;

                                            }
                                            .el-alert__content{
                                                overflow: hidden;
                                                text-overflow: ellipsis;
                                                white-space: nowrap;
                                            }
                                        }
                                    }
                                }
                            }
                            .el-main{
                                width: 75%;
                                padding: 10px;
                                .el-header{
                                    text-align: center;
                                    font-size: 22px;
                                    color: #f4354a;
                                    font-weight: bold;
                                    border-bottom: 1px dashed #e5e4e4;
                                    box-shadow: 0 2px 0 #d3baba;
                                    overflow: auto;
                                }
                                .el-dropdown{
                                   position: absolute;
                                    bottom: 10px;
                                    right: 20px;

                                }
                                .ACmain{
                                    padding: 20px;
                                    box-sizing: content-box;
                                    font-size: 15px;
                                    overflow: auto;
                                    height: 398px;
                                }
                                .el-button-group>.el-button:last-child{
                                    padding-bottom: 8px;
                                }
                            }
                        }
                    }
                }
        }

    }

</style>