<template>
  <div class="foot_nav">
    <div class="footer-sec">
      <div class="row"><img src="@/assets/images/provider-frame-zh.png" alt=""></div>
      <div class="row">
        <fieldset class="fun-box">
          <legend>{{$t('令人上瘾的乐趣只在')}} {{title}}, {{$t('一间位于马来西亚你不容错过的线上赌场！')}}</legend>
          {{title}}{{$t('是一间在马来西亚日益闻名的线上赌场。在这里。你可以不分昼夜尽情的在')}}{{title}}{{$t('下注。')}}
          {{$t('欢迎你加入我们')}}{{title}}{{$t('的一份子非常简单。马上登记新户口以便解锁无限的可能及无数的赢奖机会在这里！')}}
        </fieldset>
      </div>
    </div>
    <div class="copyright-sec">
      <div class="row">
        <div class="left">
          <router-link to="/help">{{$t('关于我们')}}</router-link>
          <router-link to="/help">{{$t('联络我们')}}</router-link>
          <router-link to="/help">{{$t('合作伙伴')}}</router-link>
          <router-link to="/help">{{$t('取款帮助')}}</router-link>
          <router-link to="/help">{{$t('常见问题')}}</router-link>
        </div>
        <div class="right">Copyright © 2022 {{title}}    +18</div>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/include/foot_nav.less'
export default {
  name: "foot_nav",
  data(){
    return{
      title: this.$store.state.stationInfo.content.title || ''
    }
  },
  created() {
  },
  mounted() {
  },
  methods:{

  }
}
</script>

<style scoped>

</style>
