<template>
  <div class="head_nav">
    <div class="header-top">
      <div class="row">
        <div class="logo">
          <router-link to="/"><img :src="$store.state.stationInfo.logoUrl" alt=""></router-link>
        </div>
        <div class="login-input">
          <div class="top w-f">
            <span>{{$t('关注我们：')}}</span>
            <span><img src="@/assets/images/fb.png" alt="" @click="location.href='https://www.facebook.com/'"></span>
            <span><img src="@/assets/images/ig.png" alt="" @click="location.href='https://instagram.com/'"></span>
            <span><img src="@/assets/images/youtube.png" alt="" @click="location.href='https://www.youtube.com/'"></span>
          </div>
          <div class="bottom" v-if="!$store.state.isLogin">
            <input type="text" :placeholder="$t('用户名')" class="log_input"  v-model="user.username">
            <input type="password" :placeholder="$t('密 码')" class="pass_input"  v-model="user.password">
            <span>{{$t('忘记密码？')}}</span>
            <button class="login-btn" @click="login">{{$t('登录')}}</button>
            <button class="join-btn" @click="$router.push({path:'/register'})">{{$t('用户注册')}}</button>
            <div class="language" @click="lanListShow = !lanListShow">
              <img src="@/assets/images/zh-language.png" alt="">
              <div class="lan-list" v-show="lanListShow">
                <div class="list" v-for="(item, index) in $store.state.languageList" :key="index" @click="selectLanguage(item.code)">{{item.des}}</div>
              </div>
            </div>
          </div>
          <div class="bottom" v-if="$store.state.isLogin">
            <span>{{$t('欢迎')}} {{$store.state.userInfo.account}}</span>
            <span>{{$t('余额：')}}{{$store.state.money}}</span>
            <router-link to="/personal">{{$t('会员中心')}}</router-link>
            <router-link to="/">{{$t('存款')}}</router-link>
            <router-link to="/drawMoney">{{$t('取款')}}</router-link>
            <router-link to="/message">{{$t('站内信')}}({{msgCount}})</router-link>
            <button class="login-btn"  @click="goOut">{{$t('登出')}}</button>
            <div class="language" @click="lanListShow = !lanListShow">
              <img src="@/assets/images/zh-language.png" alt="">
              <div class="lan-list" v-show="lanListShow">
                <div class="list" v-for="(item, index) in $store.state.languageList" :key="index" @click="selectLanguage(item.code)">{{item.des}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-bottom">
      <div class="row">
        <div class="menu-sec">
          <ul>
            <li style="margin-top: 4px;"><router-link to="/"><img src="@/assets/images/home-icon.png" alt=""></router-link></li>
            <li style="margin-top: 4px;"><router-link to="/phone"><img src="@/assets/images/iphone-icon.png" alt=""></router-link></li>
            <li><router-link to="/egame">{{$t('电子游艺')}}</router-link></li>
            <li><router-link to="/real">{{$t('视讯直播')}}</router-link></li>
            <li><router-link to="/sport">{{$t('体育赛事')}}</router-link></li>
            <li><router-link to="/chess">{{$t('棋牌游戏')}}</router-link></li>
<!--            <li><router-link to="/games">{{$t('彩票游戏')}}</router-link></li>-->
            <li><router-link to="/active">{{$t('优惠活动')}}</router-link></li>
            <li><router-link to="/help">{{$t('帮助指南')}}</router-link></li>
            <li><a :href="$store.state.serviceUrl" target="_blank">{{$t('在线客服')}}</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="announce-sec">
      <div class="row">
        <img src="@/assets/images/notice.png" alt="">
        <marquee behavior="" direction="">{{$store.state.notice}}</marquee>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/include/head_nav.less'
import {Toast} from "vant";
export default {
  name: "head_nav",
  data(){
    return{
      lanListShow: false,
      user:{
        username:'',
        password:'',
        verifyCode:''
      },
      msgCount:0,
    }
  },
  created() {
    this.getLanguages()
    this.getStationInfo()
    this.accountInfo()
    this.getServiceUrl()
    this.getPopNotices()
    this.getStationSwitch()
    if(this.$store.state.isLogin){
      this.getMsgCount()
    }
  },
  mounted() {
  },
  methods:{
    // 登录
    login:function () {
      this.$post('native/login.do',this.user,true).then(res=>{
        if(res.success){
          this.$cookies.set("SESSION",res.accessToken)
          Toast(this.$t('登录成功'))
          this.user.username = ''
          this.user.password = ''
          // 缓存登录状态
          this.$store.commit('pushIsLogin',true)
          this.accountInfo()
        } else {
          Toast(res.msg)
        }
      })
    },
    // 获取网站信息
    getStationInfo:function () {
      if(this.$store.state.stationInfo){
        return false
      }
      this.$fetch('native/getStationInfo.do',{},false).then(res=>{
        if(res.success){
          this.$store.commit('pushStationInfo',res)
          document.title = this.$store.state.stationInfo.content.title;
        }
      })
    },
    // 获取网站开关
    getStationSwitch:function () {
      if(this.$store.state.stationSwitch){
        return false
      }
      this.$fetch('native/getStationSwitch.do',{},false).then(res=>{
        if(res.success){
          this.$store.commit('pushStationSwitch',res.content)
        }
      })
    },
    // 获取最新公告
    getPopNotices:function () {
      if(this.$store.state.notice){
        return false
      }
      this.$fetch('native/getPopNotices.do?code=13',{},false).then(res=>{
        if(res.success){
          if(res.content.length > 0){
            this.$store.commit('pushNotice',res.content[0].content)
          }
        }
      })
    },
    // 获取用户信息
    accountInfo:function () {
      this.$fetch('native/accountInfo.do',{},false).then(res=>{
        if(res.success) {
          this.$store.state.userInfo = res.content
          this.$store.commit('pushMoney',res.content.money)
          this.$store.commit('pushIsLogin',true)
        } else {
          this.$store.commit('pushIsLogin',false)
        }
      })
    },
    //获取未读消息
    getMsgCount: function () {
      this.$fetch('native/getMsgCount.do',{},false).then(res=>{
        if(res.success){
          this.msgCount = res.content
        }
      })
    },
    //获取余额
    getMeminfo: function () {
      this.$fetch('native/meminfo.do',{},false).then(res=>{
        if(res.success){
          this.$store.commit('pushMoney',res.content.balance)
        }
      })
    },
    //在线客服
    getServiceUrl: function () {
      if(this.$store.state.serviceUrl){
        return false
      }
      this.$fetch('native/getServiceUrl.do',{},false).then(res=>{
        if(res.success){
          this.$store.commit('pushServiceUrl',res.content)
        }
      })
    },
    //  获取语言列表
    getLanguages:function (){
      if(this.$store.state.languageList.length > 0){
        return false
      }
      this.$fetch('native/getLanguages.do').then((res) => {
        this.$store.commit('pushLanguageList',res.content)
      })
    },
    // 退出登录
    goOut: function () {
      this.$fetch('native/logout.do',{},true).then(res=>{
        if(res.success){
          this.$store.commit('pushIsLogin',false)
          this.$router.push({path:'/'})
        }
      })
    },
    // 修改语言
    selectLanguage:function (type){
      this.$i18n.locale = type
      this.$cookies.set("language",type)
      localStorage.setItem('locale',type)
      Toast(this.$t('语言切换成功'))
    },
  }
}
</script>

<style scoped>

</style>
