@import "../include/base";
.businessDetail{
  .user-main{
    line-height: 32px;
    font-size: 14px;
    color: #050505;
    min-height: 700px;
    margin-top: 20px;
    .el-input__inner{
      height: 32px!important;
      border-radius: 0!important;
      font-size: 12px!important;
    }
    .el-input__icon{
      line-height: 32px!important;
    }
    .el-button{
      //background: #2e4158!important;
      color: #ffffff!important;
      span{
        color: #ffffff;
      }
    }
    .new-tab {
      border-bottom: 1px solid #ddd;
      height: 48px;
      position: relative;
      a{
        font-size: 14px;
        background: #f8f8f8;
        border: 1px solid #cecece;
        margin: 0 5px -1px 5px;
        padding: 0 15px;
        border-radius: 4px 4px 0 0;
        line-height: 28px;
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 10px;
      }
      span:nth-child(2){
        a{
          left: 110px;
        }
      }
      span:nth-child(3){
        a{
          left: 210px;
        }
      }
      .curr{
        border-bottom: 1px solid #fff;
        background: #fff;
        color: #e4393c
      }
    }
    .user-content{
      width: 100%;
      padding-top: 30px;
      padding-left: 20%;
      position: relative;
      .select-headImg{
        width: 100px;
        height: 100px;
        position: absolute;
        left: 3%;
      }
      li{
        font-weight: 500;
        span{
          color: #666;
        }
        ins{
          text-decoration: none;
          margin-left: 10px;
        }
      }
      .level-icon{
        display: flex;
        ins{
          display: flex;
          img{
            width: 23px;height: 23px;margin: 5px 0 0 5px;border-radius: 3px
          }
        }
      }
    }
    .level-table {
      border-collapse:collapse;
      table-layout: fixed;
      margin: 30px auto;
      text-align: center;
      width: 90%;
      th,td{
        font-size:12px;
        height:30px;
      }
      td{
        border: 1px solid #e6e6e6;
        height: 32px
      }
      th {
        background-color: #f2f7ff
      }
    }
    .levelBar {
      clear: both;
      position: relative;
      margin:20px 20px 18px 20px;
      .BTN {
        background-color: #e74a4a;
        border-color: #b91616;
        border-bottom: .25em solid #b91616 !important
      }
      .u-progress ins {
        display: block;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden
      }
      p {
        margin: 0
      }
      &> em {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        height: 16px;
        text-align: center;
        font-size: 14px;
        line-height: 16px;
        color: #fff
      }
      .levelBarInfo {
        position: relative;
        margin: 2px 0;
        p {
          text-align: center
        }
        & em, & i {
          position: absolute;
          top: 6px;
          line-height: 15px;
          text-align: center;
          font-size: 14px;
          font-style:inherit;
        }
        & > em {
          left: 0
        }
        & > i {
          right: 0
        }
      }
      .u-progress {
        height: 16px;
        position: relative;
        border-radius: 8px;
        background: #ddd;
        overflow: hidden;
        & .pgbar, & .pging {
          display: block;
          width: 41%;
          background: linear-gradient(90deg, #fd7430 0, #e4393c);
          height: 16px;
          border-radius: 8px 0 0 8px;
        }
      }
    }
    .userTip {
      color: #ffffff;
      padding: 0 10px;
      line-height: 24px;
      margin: 20px;
      i {
        font-size: 16px;
        margin-right: 5px;
      }
      p {
        margin: 10px !important;
        display: flex;
        align-items: center;
      }
      a{
        margin-left: 5px;
      }
    }
    //投注样式
    .searchFirst{
      display: table;
      width: 100%;
      text-align: center;
      line-height: 76px;
      height: 76px;
      font-weight: 700;
      border-bottom: 1px solid #e3e3e3;
      .el-select{
        width: 90px;
        .el-input__inner{
          border-radius: inherit!important;
          height: 30px!important;
          font-size:12px!important;
          padding: 0 8px!important;
        }
        .el-input__suffix{
          right: 2px!important;
          top: -1px!important;
        }
        input::-webkit-input-placeholder {
          color: #000000;
        }
      }
      li{
        display: table-cell;
        vertical-align: middle;
        span{
          color: #ffffff;
        }
      }
      .inquiry-button a{
        background: #fff;
        border: 1px solid #cecece;
        height: 30px;
        line-height: 29px;
        display: inline-block;
        padding: 0 10px;
        font-size: 12px;
        color: #666;
        margin-right: 5px;
        &.active {
          border-color: #4aa9db;
          outline: 1px solid #4aa9db;
        }
      }
    }
    .searchDetail{
      min-height: 200px;
      table{
        width: 100%;
        border-collapse:collapse;
        .chedan{
          margin: 0 10px;
          color: #2b82cc;
          &:hover{
            text-decoration: underline;
          }
        }
        tr{
          border: none;
          box-sizing:inherit;
          cursor: pointer;
          &:hover{
            background:#022330;
          }
        }
        th,td{
          text-align: center;
          font-size: 12px;
          color: #ffffff;
        }
      }
    }
    .el-pagination{
      text-align: right!important;
      margin-top: 20px!important;
    }
  }
}