@import "../include/base";
body {
  background: url("../../images/bg01.png") !important;
}
.pay {
  width: 100%;
  height: 100%;
  .wrap {
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    .h100 {
      margin-left: 40px;
      width: 940px;
      height: 130px;
      background: url(../../images/correct.png) no-repeat left 26px;
      overflow: hidden;
      .msg {
        color: #00a0ff;
        font-size: 20px;
        font-weight: 500;
      }
      .color1 {
        color: #ffffff;
      }
    }
    .m26 {
      margin: 26px 0;
      padding-left: 68px;
    }
    .s-con {
      height: 740px;
      width: 1000px;
      overflow: hidden;
      background: url(../../images/page01.jpg) no-repeat;
      position: relative;
      .title {
        text-align: center;
        font-size: 21px;
        line-height: 30px;
        width: 600px;
        margin: 0 auto;
        margin-top: 50px;
        z-index: 1100;
        position: relative;
      }
      .scan_zfb {
        width: 1000px;
        height: 528px;
        overflow: hidden;
        background: url(../../images/page-02_zfb.png) no-repeat;
        position: relative;
      }
      .scan img {
        width: 288px;
        height: 288px;
        position: absolute;
        left: 356px;
        top: 28px;
      }
      .scan_zfb img {
        width: 288px;
        height: 288px;
        position: absolute;
        left: 356px;
        top: 28px;
      }
      .scan_zfb .tips {
        width: 288px;
        height: 35px;
        position: absolute;
        left: 356px;
        top: 358px;
        color: #Ffffff;
        text-align: center;
        line-height: 35px;
        background: #898b8c;
        border-radius: 10px;
      }
    }
    .orange {
      color: #ff6400;
    }
    .blue {
      color: #00a0ff;
    }
    .yellow {
      color: #ffff00;
    }
    .green {
      color: #a4fe00
    }
    .banquan {
      text-align: center;
      color: #Ffffff;
      margin: 20px 0;
    }
  }
}