@import "../include/base";
.personal{
  .personal-main{
    .row{
      .wallet-wrapper{
        .wallet-board {
          .money{
            width: 100%;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: right;
            float: right;
            color: #ffffff;
            .mw-box {
              box-shadow: inset 1px 2px 5px -2px rgba(0,0,0,0.57);
              background: #022639;
              text-shadow: none;
              text-transform: uppercase;
              padding: 5px 20px;
              border-radius: 9px;
              margin-right: 20px;
            }
            button{
              width: 103px;
              height: 57px;
              color: #fff;
              border: none;
              font-size: 16px;
              font-weight: 500;
              padding: 0 0 7px;
              cursor: pointer;
              margin-right: 20px;
              &:hover {
                filter: drop-shadow(0 0 1px rgb(255,255,255,0.9)) brightness(1.05);
                transform: scale(0.95);
              }
              &:focus {
                outline: none;
              }
            }
            .all-out-btn {
              background: url(../../../assets/images/all-out-btn.png) no-repeat center;
            }
            .deposit-btn {
              background: url(../../../assets/images/deposit-btn.png) no-repeat center;
            }
          }
          .user_wallet{
            background: #022330;
            color: #fff;
            box-shadow: inset 1px 2px 5px -2px rgba(0,0,0,0.7);
            display: grid;
            grid-template-columns: repeat(6,1fr);
            border-radius: 10px;
            padding: 25px 10px;
            grid-gap: 27px 0;
            .wp-box{
              cursor: pointer;
              .wp-logo {
                background: url(../../../assets/images/prov-logo-bg.png)no-repeat center;
                width: 125px;
                height: 62px;
                margin: auto;
                text-align: center;
                padding: 10%;
                img{
                  height: 90%;
                }
              }
              .wp-amount {
                background: #022639;
                color: #fff;
                border: 1px solid #018c95;
                text-align: center;
                font-size: 13px;
                border-radius: 15px;
                padding: 1px;
                font-weight: 500;
                width: 120px;
                margin: auto;
                margin-top: 4px;
              }
            }
          }
        }
      }
    }
  }
  .popup{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0,0,0,0.7);
    z-index: 1050;
    .flex();
    .wallet-content{
      width: 425px;
      height: 405px;
      margin: 0 auto;
      background-image: url(../../images/wallet-popup-bg.jpg);
      border: 1px solid #2dd7d9;
      border-radius: 10px;
      position: relative;
      cursor: pointer;
      .close-X{
        background: transparent;
        font-size: 18px;
        text-transform: uppercase;
        color: #fff;
        border: none;
        position: absolute;
        right: 6px;
        top: 2px;
        font-weight: 400;
      }
      .quick-title{
        text-align: center;
        font-size: 26px;
        color: #3dff8f;
        font-weight: 700;
        padding: 16px 6px;
        text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.95);
      }
      .wl-box-wrap {
        display: grid;
        grid-template-columns: 135px auto;
        align-self: center;
        grid-gap: 14px;
        align-items: center;
        font-size: 15px;
        background: #022330;
        color: #fff;
        line-height: 1.3;
        box-shadow: inset 1px 2px 5px -2px rgba(0,0,0,0.7);
        border-radius: 10px;
        padding: 15px 10px;
        width: 100%;
        text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.95);
        text-align: center;
      }
      .cwb {
        background: #011720;
        color: #fff;
        font-size: 20px;
        padding: 3px 7px;
        border-radius: 30px;
        margin-top: 5px;
        text-align: center;
      }
      .transfer-quick{
        padding: 15px 15px;
        margin-top: 20px;
        h4 {
          font-size: 13px;
          margin-bottom: 0;
          line-height: 1;
        }
        .num-trans{
          max-width: 160px;
          text-align: center;
          display: block;
          border-radius: 25px;
          border: none;
          font-size: 21px;
          padding: 6px 10px;
          background: #011720;
          color: #fff;
          margin-top: 10px;
        }
        .great-num{
          margin-top: 10px;
          color: #3effcb;
          font-size: 12px;
        }
      }
      .operate{
        padding: 15px 15px;
        .submit-form-btn{
          background: linear-gradient(to bottom, rgba(255,232,83,1) 0%, rgba(252,177,16,1) 100%);
          color: #000;
          border: none;
          font-size: 18px;
          font-weight: 500;
          padding: 5px 25px;
          border-radius: 30px;
          box-shadow: 0px 4px 5px -1px rgba(0,0,0,0.6);
          cursor: pointer;
          margin-right: 20px;
          &:hover {
            box-shadow: none;
            background: linear-gradient(to top, rgba(255,232,83,1) 0%, rgba(252,177,16,1) 100%);
          }
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}