@import "../include/base";
.recharge{
  .wallet-board{
    //text-align: center;
    padding-top: 20px;
    .money{
      width: 100%;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: left;
      float: right;
      color: #ffffff;
      button{
        width: 103px;
        height: 57px;
        color: #fff;
        border: none;
        font-size: 16px;
        font-weight: 500;
        padding: 0 0 7px;
        cursor: pointer;
        margin-right: 20px;
      }
      .deposit-btn {
        background: url(../../../assets/images/bank-plate.png) no-repeat center;
      }
    }
    .bank-list{
      margin-top: 10px;
      h1{
        color: #ffffff;
      }
      .list{
        padding-top: 10px;
        .bank{
          display: inline-block;
          width: 153px;
          height: 43px;
          border-radius: 5px;
          overflow: hidden;
          margin: 0 10px;
          cursor: pointer;
          border:1px solid rgba(12, 68, 91, 0.85);
          img{
            width: 100%;
            height: 100%;
          }
        }
      }
      input {
        width: 50%;
        padding: 3px 10px;
        border-radius: 35px;
        height: 30px;
        border: 1px solid #53fdfd;
        display: inline-block;
      }
      button{
        background: #0a3a4e;
        color: #fff;
        border: 1px solid #03bcc2;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 500;
        padding: 6px 24px;
        border-radius: 15px;
        box-shadow: 0px 5px 5px -1px rgba(0,0,0,0.65);
        cursor: pointer;
        &:hover{
          background: #001520;
        }
      }
    }
    h1{
      margin-top: 20px;
      color: #ffffff;
      span{
        color: #999;
        margin-left: 10px;
      }
    }
  }
}
