<template>
    <div class="mode">
        <div class="betMoreListZone">
            <div class="header">
                <div class="header-money">
                    <el-checkbox v-model="checked" label="预选">预选</el-checkbox>
                    <el-input placeholder="请输入内容" v-model="input1">
                        <template slot="prepend">金额</template>
                    </el-input>
                    <el-button type="info">充值</el-button>
                    <el-button type="danger">提交金额</el-button>
                </div>
                <div class="header-chip">
                    <ul>
                        <li v-for="(item,index) in chip" :key="index">
                            <span>{{item}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="content">
                <div v-if="lotteryTemplateType == 1" class="content-header">
                    <div class="content-header-main" v-for="(item,index) in templateList.slice(cutNumStart,cutNumEnd)" :key="index">
                        <h5 v-if="item.name != ''">{{item.name}}</h5>
                        <div v-else class="content-header-title">
                            <div class="title" v-for="(item3,index3) in item.names" :key="index3">
                               <span v-for="(item4,index4) in item3" :key="index4">{{item4}}</span>
                            </div>
                        </div>
                        <ul>
                            <li v-for="(item2,index2) in item.oddPlayItems" :key="index2">
                                <p>
                                    <span>{{item2.name}}</span>
                                </p>
                                <p>
                                    <span style="display: block">{{item2.odds}}</span>
                                </p>
                                <span>
                                    <el-input v-model="input"></el-input>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div v-if="lotteryTemplateType == 2"  class="content-menu2">
                    <div class="content-menu-main2">
                        <ul  class="genre2" >
                            <li class="genre-list2" v-for="(item,index) in templateList.slice(cutNumStart,cutNumEnd)" :key="index">
                                <div class="element-wrap2">
                                    <ul v-if="index==0" class="element1">
                                        <li style="width: 36px;box-sizing: border-box">
                                            <p>
                                                <span >
                                                    <i>组合</i>
                                                </span>
                                            </p>
                                        </li>
                                        <li v-for="(item2,index2) in item.oddPlayItems" :key="index2" :style="item2.width == undefined ? '' :'width:'+item2.width">
                                            <p>
                                            <span >
                                                <i>{{item2.name}}</i>
                                            </span>
                                            </p>
                                        </li>
                                    </ul>
                                    <ul class="element2">
                                        <li style="width: 36px;box-sizing: border-box">
                                            <p>
                                                <span >{{item.name}}</span>
                                            </p>
                                        </li>
                                        <li v-for="(list,index2) in item.oddPlayItems" :key="index2" :style="list.width == undefined ? '' :'width:'+list.width">
                                            <p>
                                                <span style="display: block;color:#ff9b39;font-weight: 600;">{{list.odds}}</span>
                                            </p>
                                            <p>
                                               <span>
                                                    <el-input v-model="input"></el-input>
                                                </span>
                                            </p>
                                        </li>

                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div v-if="lotteryTemplateType == 1"  class="content-menu">
                    <div class="content-menu-main">
                        <ul  class="genre" >
                            <li class="genre-list" v-for="(item,index) in templateList.slice(cutNumEnd)" :key="index">
                                <div class="element-wrap">
                                    <h5>{{item.name}}</h5>
                                    <ul class="element">
                                        <li v-for="(list,index2) in item.oddPlayItems" :key="index2">
                                            <p>
                                                <el-tooltip :content="list.correspondNum == undefined ? '': list.correspondNum " :disabled=" list.correspondNum == undefined || list.correspondNum == ''  ? true: false " placement="bottom" effect="light">
                                                    <span >
                                                        <i :class="list.background==undefined ? '':'unmBackground'">{{list.name}}</i>
                                                    </span>
                                                </el-tooltip>
                                            </p>
                                            <p>
                                                <span style="display: block">{{list.odds}}</span>
                                            </p>
                                            <p>
                                           <span>
                                                <el-input v-model="input"></el-input>
                                            </span>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header">
                <div class="header-money">
                    <el-checkbox v-model="checked" label="预选">预选</el-checkbox>
                    <el-input placeholder="请输入内容" v-model="input1">
                        <template slot="prepend">金额</template>
                    </el-input>
                    <el-button type="info">充值</el-button>
                    <el-button type="danger">提交金额</el-button>
                </div>
                <div class="header-chip">
                    <ul>
                        <li v-for="(item,index) in chip" :key="index">
                            <span>{{item}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import $ from "jquery";
    import lotteryHtml from '@/assets/json/lotteryTemplate/ssc.json'
    export default {
        name: "tradition",
        props:['sonData','params','lottery'],
        data(){
            return {
                templateList:[], //模板数据
                lotteryTemplateType:1,
                thatPlayType:[],
                checked:'',
                chip:[10,50,100,500,1000], //筹码
                input:"2000",
                input1:"111",
                cutNumStart:0, //开始截取位置
                cutNumEnd:0,  //结束截取位置

            }
        },
        created:function(){
            this.showTemplate()
        },
        methods:{
            // 填充json数据
            showTemplate:function () {
                let that = this
                let data = lotteryHtml.data
                for(let i in data){
                    if(data[i].playName == this.params.sonCode){ //判断json数据单个游戏选项和接口数据对应
                        that.templateList = data[i].data
                        // 获取当前玩法数据
                        $.each(this.lottery.rules, function (index, item) { //this.lottery 为彩种数据到content
                            $.each(item.rules, function (index2, item2) {
                                if(item2.code == that.params.sonCode){
                                    that.thatPlayType = item.rules
                                }
                            })
                        })
                        // 填充玩法数据
                        $.each(that.thatPlayType, function (index, item) { //大玩法
                            if(item.code == that.params.sonCode){
                                let dxdzzh = '' ,list = [];
                                switch (that.params.sonCode) {
                                    case 'zhenghe':
                                        list =[];
                                        dxdzzh = item.oddPlayItems.slice(0,4); //总和
                                        for (let i=0;i<dxdzzh.length;i++){
                                            let obj = dxdzzh[i];
                                            let newObj = [];
                                            for (let k in obj){
                                                newObj[k] = obj[k]
                                            }
                                            newObj.name = dxdzzh[i].name;
                                            list.push(newObj)
                                        }
                                        that.templateList[0].oddPlayItems = list
                                        dxdzzh = item.oddPlayItems.slice(4,10) //0-9 数字 和大小单双质和
                                        for (let i=0;i<that.templateList.length;i++){
                                            list =[]
                                            for (let i = 0; i < dxdzzh.length; i++) {
                                                let obj = dxdzzh[i];
                                                let newObj = [];
                                                for (let k in obj) {
                                                    newObj[k] = obj[k]
                                                }
                                                newObj.name = dxdzzh[i].name;
                                                list.push(newObj)
                                            }
                                            for (let k=0;k<10;k++){
                                                let obj = that.thatPlayType[0].oddPlayItems[10];
                                                let newObj = [];
                                                for (let k in obj) {
                                                    newObj[k] = obj[k]
                                                }
                                                newObj.name = k;
                                                newObj.background = '';
                                                list.push(newObj)
                                            }
                                            i>0? that.templateList[i].oddPlayItems = list:''
                                        }
                                        that.cutNumEnd =1; //截取数字
                                        break;
                                    case 'wanwei':
                                    case 'qianwei':
                                    case 'baiwei':
                                    case 'shiwei':
                                    case 'gewei':
                                        {
                                            list =[];
                                            dxdzzh = item.oddPlayItems.slice(13); //万位双面盘
                                            for (let i=0;i<10;i++){
                                                let obj = that.thatPlayType[0].oddPlayItems[13]
                                                let newObj =[];
                                                for (let k in obj){
                                                    newObj[k] = obj[k]
                                                }
                                                newObj.name = i;
                                                list.push(newObj)
                                            }
                                            that.templateList[0].oddPlayItems = list
                                            that.templateList[0].name = ''
                                            that.templateList[0].names =[]
                                            let arr = [["号码",'赔率','金额'], ["号码",'赔率','金额'], ["号码",'赔率','金额'], ["号码",'赔率','金额'],]
                                            for (let k=0;k<arr.length;k++){
                                                that.templateList[0].names.push(arr[k])

                                            }
                                            dxdzzh = item.oddPlayItems.slice(0,13); //万位 大小质合
                                            list =[]
                                            for (let i = 0; i < dxdzzh.length; i++) {
                                                let obj = dxdzzh[i];
                                                let newObj = [];
                                                for (let k in obj) {
                                                    newObj[k] = obj[k];
                                                }
                                                list.push(newObj)
                                            }
                                            that.templateList[1].oddPlayItems = list
                                            that.templateList[1].name = '万位'
                                            that.cutNumEnd =0
                                            that.cutNumEnd =2
                                            console.log(that.templateList)
                                        }
                                        break;
                                    case 'heweishu':
                                        list=[];
                                        dxdzzh = item.oddPlayItems.slice(0);
                                        for (let i=0;i<that.templateList.length;i++ ){
                                            let betData = ['单','双','大','小','质','合'];
                                            list =[];
                                            for (let k=0;k<betData.length;k++){
                                                let obj = that.thatPlayType[0].oddPlayItems[0];
                                                let newObj= [];
                                                for (let n in obj){
                                                    newObj[n] = obj[n]
                                                }
                                                newObj.name =betData[k]
                                                list.push(newObj)
                                            }
                                            that.templateList[i].oddPlayItems =list
                                        }
                                        that.cutNumStart=0
                                        that.cutNumEnd = 13
                                        that.lotteryTemplateType = 2
                                        console.log(that.templateList)
                                        break;
                                    case 'longhudou':
                                        // console.log(item)
                                        list=[]
                                        for (let i=0;i<item.oddPlayItems.length;i++){
                                            dxdzzh = item.oddPlayItems[i];
                                                let obj  = dxdzzh;
                                                let newObj = [];
                                                for (let n in  obj){
                                                    newObj[n] = obj[n]
                                                }
                                                newObj.width= '234px'
                                                list = newObj
                                                for (let z=0;z<that.templateList.length;z++){
                                                    that.templateList[z].oddPlayItems.width ='234px'
                                                    that.templateList[z].oddPlayItems.length >2 ? '' : that.templateList[z].oddPlayItems.push(list)
                                                }
                                        }

                                        that.cutNumEnd =10
                                        that.lotteryTemplateType = 2

                                        console.log(that.templateList)
                                        // console.log(list)
                                        break;
                                    case 'qiansan':
                                    case 'zhongsan':
                                    case 'housan':
                                    case 'kuadu_qiansan':
                                    case 'kuadu_zhongsan':
                                    case 'kuadu_housan':
                                        console.log(item)
                                        console.log(that.templateList)
                                        {
                                            list=[]
                                            if (that.params.sonCode == 'housan' || that.params.sonCode == 'qiansan' || that.params.sonCode == 'zhongsan'){
                                                dxdzzh = item.oddPlayItems.slice(0,28);
                                                for (let i=0;i<dxdzzh.length;i++){
                                                    let obj = dxdzzh[i];
                                                    let newObj = [];
                                                    for (let k  in obj){
                                                        newObj[k] = obj[k]
                                                    }
                                                    list.push(newObj)
                                                }
                                                that.templateList[0].names =[]
                                                let arr = [[item.name,'赔率','金额'], [item.name,'赔率','金额'], [item.name,'赔率','金额'], [item.name,'赔率','金额'],]
                                                for (let k=0;k<arr.length;k++){
                                                    that.templateList[0].names.push(arr[k])

                                                }
                                                that.templateList[0].name ='';
                                                that.templateList[0].oddPlayItems = list
                                                that.cutNumEnd = 28
                                            }else {
                                                dxdzzh = item.oddPlayItems.slice(0,10);
                                                for (let i=0;i<dxdzzh.length;i++){
                                                    let obj = dxdzzh[i];
                                                    let newObj = [];
                                                    for (let k  in obj){
                                                        newObj[k] = obj[k]
                                                    }
                                                    list.push(newObj)
                                                }

                                                that.templateList[0].names =[]
                                                let arr = [[item.name,'赔率','金额'], [item.name,'赔率','金额'], [item.name,'赔率','金额'], [item.name,'赔率','金额'],]
                                                for (let k=0;k<arr.length;k++){
                                                    that.templateList[0].names.push(arr[k])

                                                }
                                                that.templateList[0].name =''
                                                that.templateList[0].oddPlayItems = list
                                                that.cutNumEnd = 10
                                            }
                                        }
                                        break;
                                    case 'yizi_quanwu':
                                    case 'yizi_qiansan':
                                    case 'yizi_zhongsan':
                                    case 'yizi_housan':
                                    case 'zuxuansan_qiansan':
                                    case 'zuxuansan_zhongsan':
                                    case 'zuxuansan_housan':
                                    case 'zuxuanliu_qiansan':
                                    case 'zuxuanliu_zhongsan':
                                    case 'zuxuanliu_housan':
                                        console.log(item)
                                        console.log(that.thatPlayType[0].oddPlayItems[0])
                                        // for (){
                                        //
                                        // }
                                        break;
                                    case 'erzi_qiansan':
                                    case 'erzi_zhongsan':
                                    case 'erzi_housan':
                                    case 'sanzi_qiansan':
                                    case 'sanzi_zhongsan':
                                    case 'sanzi_housan':
                                        break;
                                    case 'wanqian':
                                    case 'wanbai':
                                    case 'wanshi':
                                    case 'wange':
                                    case 'qianbai':
                                    case 'qianshi':
                                    case 'qiange':
                                    case 'baishi':
                                    case 'baige':
                                    case 'shige':
                                    case 'sanzidingwei_qiansan':
                                    case 'sanzidingwei_zhongsan':
                                    case 'sanzidingwei_housan':
                                        break;
                                    case 'baijiale':
                                        {
                                            console.log(item)
                                            console.log(that.templateList)
                                            dxdzzh = item.oddPlayItems.slice(0,5)
                                            list=[]
                                            let arr =[
                                                ['','赔率','金额'],
                                                ['','赔率','金额'],
                                                ['','赔率','金额'],
                                                ['','赔率','金额'],
                                            ]
                                            for (let k=0;k<dxdzzh.length;k++){
                                                let obj = dxdzzh[k];
                                                let newObj = []
                                                for(let n in obj){
                                                    newObj[n] = obj[n]
                                                }
                                                list.push(newObj)
                                            }
                                            that.templateList[0].names = []
                                            for (let k=0;k<arr.length;k++){
                                                that.templateList[0].names.push(arr[k])
                                            }
                                            that.templateList[0].oddPlayItems = list
                                            that.templateList[0].name =''

                                            dxdzzh =item.oddPlayItems.slice(5,11)
                                            for (let i=1;i<3;i++){
                                                list =[]
                                                for (let k=0;k<dxdzzh.length;k++){
                                                    let obj = dxdzzh[k];
                                                    let newObj = []
                                                    for(let n in obj){
                                                        newObj[n] = obj[n]
                                                    }
                                                    list.push(newObj)
                                                    that.templateList[i].oddPlayItems = list
                                                }
                                            }
                                            that.cutNumEnd =1
                                            console.log(that.templateList)
                                        }
                                        break;
                                    case 'niuniu':
                                        {
                                        console.log(item)
                                        console.log(that.templateList)
                                        dxdzzh = item.oddPlayItems.slice(0,11)
                                        list=[]
                                        let arr =[
                                            ['','赔率','金额'],
                                            ['','赔率','金额'],
                                            ['','赔率','金额'],
                                            ['','赔率','金额'],
                                        ]
                                        for (let k=0;k<dxdzzh.length;k++){
                                            let obj = dxdzzh[k];
                                            let newObj = []
                                            for(let n in obj){
                                                newObj[n] = obj[n]
                                            }
                                            list.push(newObj)
                                        }
                                        that.templateList[0].names = []
                                        for (let k=0;k<arr.length;k++){
                                            that.templateList[0].names.push(arr[k])
                                        }
                                        that.templateList[0].oddPlayItems = list
                                        that.templateList[0].name =''

                                        dxdzzh =item.oddPlayItems.slice(11,15)
                                        for (let i=1;i<2;i++){
                                            list =[]
                                            for (let k=0;k<dxdzzh.length;k++){
                                                let obj = dxdzzh[k];
                                                let newObj = []
                                                for(let n in obj){
                                                    newObj[n] = obj[n]
                                                }
                                                list.push(newObj)
                                                that.templateList[i].oddPlayItems = list
                                            }
                                        }
                                        that.cutNumEnd =1
                                        console.log(that.templateList)
                                    }
                                        break;
                                    case 'dezhoupuke':
                                        {
                                        console.log(item)
                                        console.log(that.templateList)
                                        dxdzzh = item.oddPlayItems.slice(0,5)
                                        list=[]
                                        let arr =[
                                            ['','赔率','金额'],
                                            ['','赔率','金额'],
                                            ['','赔率','金额'],
                                            ['','赔率','金额'],
                                        ]
                                        for (let k=0;k<dxdzzh.length;k++){
                                            let obj = dxdzzh[k];
                                            let newObj = []
                                            for(let n in obj){
                                                newObj[n] = obj[n]
                                            }
                                            list.push(newObj)
                                        }
                                        that.templateList[0].names = []
                                        for (let k=0;k<arr.length;k++){
                                            that.templateList[0].names.push(arr[k])
                                        }
                                        that.templateList[0].oddPlayItems = list
                                        that.templateList[0].name =''
                                        that.cutNumEnd =1
                                        console.log(that.templateList)
                                    }
                                        break;
                                    case 'sangong':
                                        {
                                        // console.log(item)
                                        // console.log(that.templateList)
                                        dxdzzh = item.oddPlayItems.slice(0)
                                        list=[]
                                        let arr =[
                                            ['','赔率','金额'],
                                            ['','赔率','金额'],
                                            ['','赔率','金额'],
                                            ['','赔率','金额'],
                                        ]
                                        let arr1 =['左闲','右闲','和局']
                                        let arr2 =['大','单','双','质','合']
                                        for (let i=0;i<arr1.length;i++){
                                            for (let k=0;k<dxdzzh.length;k++){
                                                let obj = dxdzzh[k];
                                                let newObj = []
                                                for(let n in obj){
                                                    newObj[n] = obj[n]
                                                }
                                                newObj.name =arr1[i]
                                                list.push(newObj)
                                            }
                                            that.templateList[0].oddPlayItems = list
                                        }
                                        that.templateList[0].name =''
                                        that.templateList[0].names = []
                                        for (let k=0;k<arr.length;k++){
                                            that.templateList[0].names.push(arr[k])
                                        }

                                        for (let i=1;i<3;i++){
                                            list =[]
                                            for (let z=0;z<arr2.length;z++){
                                                for (let k=0;k<dxdzzh.length;k++){
                                                    let obj = dxdzzh[k];
                                                    let newObj = []
                                                    for(let n in obj){
                                                        newObj[n] = obj[n]
                                                    }
                                                    newObj.name =arr2[z]
                                                    list.push(newObj)
                                                }
                                            }
                                            console.log(list)
                                            that.templateList[i].oddPlayItems = list
                                        }
                                        that.cutNumEnd =1
                                        console.log(that.templateList)
                                    }
                                        break;
                                    default:
                                        break;
                                }
                            }
                        })
                    }
                }
            }
        }
    }
</script>

<style lang="less" scoped>
    .betMoreListZone{
        padding-top: 15px;
        .header{
            display: flex;
            justify-content: space-around;
            box-sizing: border-box;
            margin-bottom: 20px;
            .header-money{
                display: flex;
                align-content: center;
                align-items: center;
                padding:0 20px;
                flex: 1.4;
                .el-checkbox{
                    padding-right:5px ;
                    /deep/.el-checkbox__label{
                        font-size: 12px;
                    }
                }
                /deep/.el-input-group__prepend{
                    padding:0 15px;
                }
                .el-button{
                    padding: 12px 12px;
                }
            }
            .header-chip{
                display: flex;
                justify-content: center;
                flex: 1;
                ul{
                    display: flex;
                    li{
                        width: 50px;
                        height: 41px;
                        text-align: center;
                        cursor: pointer;
                        line-height: 39px;
                        span{
                            font-size: 12px;
                            display: block;
                        }
                    }
                    & > li:nth-child(1) span{
                        background: url("../chip.png") no-repeat 0px 0;
                    }
                    & > li:nth-child(2) span{
                        background: url("../chip.png") no-repeat -100px 0;
                    }
                    & > li:nth-child(3) span{
                        background: url("../chip.png") no-repeat -150px 0;
                    }
                    & > li:nth-child(4) span{
                        background: url("../chip.png") no-repeat -200px 0;
                    }
                    & > li:nth-child(5) span{
                        background: url("../chip.png") no-repeat -50px 0;
                    }
                    & >li :hover{
                        transform: scale(1.1);
                    }
                }
            }
        }
        .content{
            text-align: center;
            width: 100%;
            .content-header{
                background:#f7f7f7;
                margin-bottom: 20px;
                .content-header-main{
                    margin-top: 20px;
                    h5{
                        border: 1px solid #ccc;
                        padding: 2px 0;
                        font-weight: 200;
                        border-bottom: none;
                    }
                    .content-header-title{
                        display: flex;
                        justify-content: space-around;
                        width: 100%;
                        padding: 0 1px;
                        box-sizing: border-box;
                        .title{
                            line-height: 25px;
                            text-align: center;
                            display: flex;
                            width: 25%;
                            float: left;
                            box-sizing: border-box;
                            justify-content: center;
                            span{
                                border: 1px solid #ccc;
                                height: 25px;
                                color: #404449;
                                white-space: nowrap;
                                box-sizing: border-box;
                                flex: 1;
                                display: inline-block;
                                border-bottom: none;
                                &:nth-child(3){
                                    min-width: 70px;
                                }
                                &:nth-child(n){
                                    border-right: none;
                                }
                            }
                            &:last-child >span:last-child{
                                border-right: 1px solid #ccc;

                            }
                        }
                    }
                    ul{
                        border: 1px solid #ccc;
                        width: 100%;
                        border-bottom: none;
                        border-right: none;
                        border-left: none;
                        box-sizing: border-box;
                        padding: 0 1px;
                        zoom: 1;
                        li{
                            line-height: 32px;
                            text-align: center;
                            display: flex;
                            width: 25%;
                            float: left;
                            box-sizing: border-box;
                            span{
                                border: 1px solid #ccc;
                                border-top: none;
                                height: 32px;
                                color: #404449;
                                white-space: nowrap;
                                box-sizing: content-box;
                                min-width:46px;
                                display: inline-block;
                                &:nth-child(3){
                                    display: flex;
                                    justify-content: center;
                                    width: 100%;
                                }
                                &:nth-child(2){
                                    padding: 0 5px;
                                }
                                &:nth-child(1){
                                    padding: 0 5px;
                                }
                                &:nth-child(n){
                                    border-right: none;
                                }
                                .el-input{
                                    width: 75%;
                                    /deep/ .el-input__inner{
                                        height: 25px;
                                        font-size: 13px;
                                        padding: 0 2px;
                                    }
                                }

                            }
                            & >p:nth-child(2n) span{
                                color: #ff9b39;
                                font-weight: 600;
                            }
                            &:nth-child(4n){
                                border-right: 1px solid #cccccc;
                            }
                        }
                        &::after ,&::before{
                            content: ".";
                            display: block;
                            height: 0;
                            clear: both;
                            visibility: hidden;
                        }
                        /*& >li:nth-child(4n) span:nth-child(3){*/
                        /*    border-right: 1px solid #ccc ;*/
                        /*}*/
                        & >li:last-child{
                            border-right: 1px solid #ccc ;
                        }
                    }
                }
            }
            .content-menu{
                background:#f7f7f7;
                margin-bottom: 20px;
                .content-menu-main{
                    .genre{
                        padding: 0 1px;
                        width: 100%;
                        box-sizing: border-box;
                        zoom: 1;
                        &::after ,&::before{
                            content: ',';
                            height: 0;
                            display: block;
                            clear: both;
                            visibility: hidden;
                        }
                        .genre-list{
                            float: left;
                            width: 25%;
                            box-sizing: border-box;
                            margin-bottom: 20px;
                            .element-wrap{
                                h5{
                                    border: 1px solid #ccc;
                                    padding: 8px 0;
                                    font-weight: 200;
                                    border-bottom: none;
                                    &:nth-child(n){
                                        border-right: none;
                                    }
                                }
                                .element{
                                    width: 100%;
                                    li{
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        white-space: nowrap;
                                        p{
                                            position: relative;
                                            z-index: 2;
                                            .unmBackground{
                                                content: '';
                                                position: absolute;
                                                top: 50%;
                                                left: 50%;
                                                margin: -13px 0 0 -13px;
                                                background: url("../ball-sm.fe91d5e.png") no-repeat 0px 0px;
                                                height: 26px;
                                                width: 26px;
                                                display: block;
                                                border-radius: 20px;
                                                line-height: 20px;
                                                padding-top: 1px;
                                                color: #ffffff;
                                                font-weight: 900;
                                            }
                                            span{
                                                min-width: 46px;
                                                height: 33px;
                                                line-height: 33px;
                                                text-align: center;
                                                border: 1px solid #cccccc;
                                                padding: 0 5px;
                                                display: block;
                                                /deep/.el-input{
                                                    width: 75%;
                                                    /deep/ .el-input__inner{
                                                        height: 25px;
                                                        font-size: 13px;
                                                        padding: 0 2px;
                                                    }
                                                }
                                                &:nth-child(n){
                                                    border-right: none;
                                                    border-bottom: none;
                                                }

                                            }
                                            &:nth-child(2) span{
                                                color: #ff9b39;
                                                font-weight: 600;
                                            }
                                            &:nth-child(2) span{
                                                color: #ff9b39;
                                                font-weight: 600;
                                            }
                                        }
                                        &:last-child >p{
                                            border-bottom: 1px solid #cccccc;
                                        }
                                    }
                                }
                            }

                            &:last-child{
                                border-right: 1px solid #cccccc;
                            }
                            &:nth-child(4n){
                                border-right: 1px solid #cccccc;
                            }
                        }
                    }
                }
            }
            .content-menu2{
                background:#f7f7f7;
                margin-bottom: 20px;
                .content-menu-main2{
                    .genre2{
                        padding: 0 1px;
                        width: 100%;
                        box-sizing: border-box;
                        zoom: 1;
                        &::after ,&::before{
                            content: ',';
                            height: 0;
                            display: block;
                            clear: both;
                            visibility: hidden;
                        }
                        .genre-list2{
                            box-sizing: border-box;
                            .element-wrap2{
                                .element1{
                                    width: 100%;
                                    zoom: 1;
                                    &::after ,&::before{
                                        content: ',';
                                        height: 0;
                                        display: block;
                                        clear: both;
                                        visibility: hidden;
                                    }
                                    li{
                                        float: left;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        white-space: nowrap;
                                        width: 117px;
                                        text-align: center;
                                         p{
                                             width: 100%;
                                             span{
                                                 min-width: 20px;
                                                 height: 33px;
                                                 line-height: 33px;
                                                 text-align: center;
                                                 border: 1px solid #cccccc;
                                                 padding: 0 5px;
                                                 display: block;
                                                 /deep/.el-input{
                                                     width: 75%;
                                                     /deep/ .el-input__inner{
                                                         height: 25px;
                                                         font-size: 13px;
                                                         padding: 0 2px;
                                                     }
                                                 }
                                                 &:nth-child(n){
                                                     border-right: none;
                                                     border-bottom: none;
                                                 }

                                             }
                                             &:nth-child(2) span{
                                                 color: #ff9b39;
                                                 font-weight: 600;
                                             }
                                         }
                                         &:last-child>p  span{
                                             border-right: 1px solid #cccccc;
                                         }
                                     }
                                 }
                                .element2{
                                    width: 100%;
                                    zoom: 1;
                                    &::after ,&::before{
                                        content: ',';
                                        height: 0;
                                        display: block;
                                        clear: both;
                                        visibility: hidden;
                                    }
                                    li{
                                        float: left;
                                        display: flex;
                                        align-items: center;
                                        white-space: nowrap;
                                        width: 117px;
                                        text-align: center;
                                        p{
                                            width: 100%;
                                            span{
                                                min-width: 20px;
                                                height: 33px;
                                                line-height: 33px;
                                                text-align: center;
                                                border: 1px solid #cccccc;
                                                padding: 0 5px;
                                                display: block;
                                                /deep/.el-input{
                                                    width: 75%;
                                                    /deep/ .el-input__inner{
                                                        height: 25px;
                                                        font-size: 13px;
                                                        padding: 0 2px;
                                                    }
                                                }
                                                &:nth-child(n){
                                                    border-right: none;
                                                    border-bottom: none;
                                                }

                                            }
                                        }
                                        &:last-child >p:last-child{
                                            border-right: 1px solid #cccccc;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
</style>