<template>
  <div id="app" :style="appPadding">
    <router-view/>
    <!-- 交互层 -->
    <inter-active></inter-active>
  </div>
</template>
<script>
import interActive from './views/interActive'
export default {
  created(){
      /* 短信倒计时 */
      if(localStorage.getItem('smsCountDown')){
          const countdown = parseInt(localStorage.getItem('smsCountDown'))
          /* 恢复到store */
          this.$store.dispatch('setSmsCodeCountDown',{countdown})
      }

      /* 控制头部或底部组件可见度 */
      this.componentVisibility(this.$route)
  },
  data(){
      return {
          showFooter:true,                                        /* （home模块）是否显示底部公共组件 */
      }
  },
  computed:{
    /* 根据头部或底部组件可见度 来分配 #app 的内补高度 */
    appPadding:function(){
      return this.showFooter ? {
        paddingBottom:'100px'
      } : {
        paddingBottom:'50px'
      }
    },
  },
  methods:{
    /* 控制头部或底部组件可见度 */
    componentVisibility:function($route){
        const route = $route.matched[1] || false
        /* ###############  底部 #################*/
        switch(route.name){
            default:
                this.showFooter = true
                break
        }
    },
  },
  watch:{
    '$route':{
        handler:function(newObject){
            this.componentVisibility(newObject)
        },
        deep:true
    }
  },
  /* 初始化业务数据 */
  mounted(){
    this.$store.dispatch('initialWeb')
  },
  components:{
    interActive,
  }
}
</script>
