<template>
  <div class="recharge">
    <div class="wallet-wrapper">
      <div class="wallet-board">
        <div class="money">
          <button type="button" class="deposit-btn" v-for="(item, index) in content" :key="index" @click="selectPayList(item)">{{$t(item.switchKey)}}</button>
        </div>
        <div class="bank-list">
          <h1>{{$t('请选择账户')}}</h1>
          <div class="list">
            <div class="bank" v-for="(item, index) in payList.payList"  @click="selectPayContent(item)" :key="index">
              <img :src="item.icon" alt="">
            </div>
          </div>
        </div>
        <h1 v-if="payContent">{{$t('支付名称')}}：{{payContent.payName}}</h1>
        <div v-if="!onLine2">
          <h1>{{$t('充值金额')}} <span>({{$t('单笔充值限额')}}{{payContent.min || 0}} - {{payContent.max || 999999}}{{$t('元')}})</span></h1>
          <div class="bank-list">
            <input type="number" v-model="money">
          </div>
          <h1 style="display: flex;align-items: center;"><input type="radio" name="check" checked style="margin-right: 3px;">{{$t('我已阅毕、理解并同意接受同样适用于促销优惠的服务条款所约束。')}}</h1>
          <div class="bank-list">
            <button @click="postPay()">{{$t('提交')}}</button>
          </div>
        </div>
        <div v-if="onLine2">
          <h1>{{$t('订单号：')}}{{onLineData.orderId}}</h1>
          <h1>{{$t('会员账号：')}}{{$store.state.userInfo.account}}</h1>
          <h1>{{$t('充值金额：')}}{{money}}</h1>
          <div class="bank-list">
            <a :href="onLineData.redirectUrl" target="_blank" @click="onLine2 = false"><button>{{$t('确认送出')}}</button></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {Toast} from "vant";
import "@/assets/css/recharge.less"
export default {
  name: "recharge",
  data() {
    return {
      popupShow: false,
      content:'',
      payList:'',
      payContent:'',
      money:'',
      onLineData:'',
      onLine2:false,
    }
  },
  created() {
    this.getPaySelectWay()
  },
  mounted() {
  },
  methods: {
    getPaySelectWay: function () {
      this.$fetch('native/paySelectWay.do', {}, false).then((res) => {
        if (res.success) {
          this.content = res.content
          this.payList = res.content[0]
          this.payContent = res.content[0].payList[0]
        } else {
          Toast(res.message)
        }
      })
    },
    selectPayList:function (item){
      this.payList = item
      this.onLine2 = false
    },
    selectPayContent:function (item){
      this.payContent = item
      this.onLine2 = false
    },
    postPay:function (){
      if(!this.money){
        Toast(this.$t('请输入充值金额'))
        return false
      }
      let res = this.payContent
      if(res.iconCss == 'gaosheng'){
        window.open('#/pay?amount=' + this.money + '&payId=' + this.payContent.id + '&onlinePay=' + this.payContent.payType+ '&iconCss=' + this.payContent.iconCss, '_blank');
      } else if(res.iconCss == 'xinxinfutong'){
        this.onLine2 = true
        this.onlinePay()
      }
    },
    onlinePay:function (){
      let params = {
        onlinePay:this.payContent.payType,
        bankcode:this.$root.common.filterPayType(this.payContent.payType),
        amount: this.money,
        payId: this.payContent.id ,
        account:'',
      }
      this.$post('native/onlinePay.do',params,true).then((res) => {
        if(res.success){
          this.onLineData = res.data
        }
      })
    },
  }
}
</script>

<style scoped>

</style>
