<template>
  <div class="withdrawDeposit">
    <main>
      <div class="flexContent">
        <h1>{{$t('提示信息')}}</h1>
        <div class="explain">
          1. {{$t('每天的提款处理时间为')}}：<span class="c-r">{{pickMoneyInfor.startTime}}</span> - <span class="c-r">{{pickMoneyInfor.endTime}}</span><br/>
          <template>
            2.{{$t('提款3分钟内到账。(如遇高峰期，可能需要延迟到十分钟内到帐);')}};<br/>
            3. {{$t('用户每日最小提款')}}<span class="c-r">{{pickMoneyInfor.minPickMoney}}</span>{{$t('元')}}，{{$t('最大提款')}}<span class="c-r">{{pickMoneyInfor.maxPickMoney}}</span>{{$t('元')}}。<br/>
            4. {{$t('今日可提款')}}<span class="c-r">{{pickMoneyInfor.wnum}}</span>{{$t('次')}}，{{$t('已提款')}}<span class="c-r">{{pickMoneyInfor.curWnum}}</span> {{$t('次')}} ;
          </template>
        </div>
        <h1>{{$t('消费比例')}}</h1>
        <div class="explain">
          <template>
            1. {{$t('出款需达投注量')}}：<span class="c-r">{{pickMoneyInfor.checkBetNum}}</span>，{{$t('当前有效投注金额')}}：<span class="c-r">{{pickMoneyInfor.validBetMoney}}</span><br/>
            2. {{$t('是否能取款')}}：
            <span class="c-r">{{$t('pickMoneyInfor.drawFlag')}}</span>
          </template>
        </div>
        <van-cell-group>
          <van-field size="large" v-if="radio == '0'" color="#ffffff" input-align="centen" clearable type="text" :label="$t('银行卡')" :placeholder="pickMoneyInfor.bankName + '('+$t('尾号')+'' + pickMoneyInfor.cardNo + ')'" disabled />
          <van-field size="large" v-show="radio == '1'" input-align="centen" clearable type="text" :label="$t('币种')" :placeholder="$store.state.userInfo.currencyType" disabled />
          <van-field size="large" v-show="radio == '1'" input-align="centen" clearable type="text" :label="$t('协议')" :placeholder="$store.state.userInfo.protocol" disabled />
          <van-field size="large" v-show="radio == '1'" input-align="centen" clearable type="text" :label="$t('钱包地址')" :placeholder="$store.state.userInfo.walletAddress" disabled />
          <van-field size="large" input-align="centen" clearable type="number" :label="$t('真实姓名')" :placeholder="pickMoneyInfor.userName" disabled />
          <van-field size="large" input-align="centen" clearable type="number" :label="$t('账户余额')" :placeholder="String(pickMoneyInfor.accountBalance)" disabled />
          <van-field size="large" v-model="money" color="#ffffff"  input-align="centen" clearable type="number" :label="$t('提款金额')" :placeholder="$t('最少提现')+pickMoneyInfor.minPickMoney+$t('元')" />
          <van-field size="large" v-model="password"  color="#ffffff"   input-align="centen" clearable type="password" :label="$t('提款密码')" :placeholder="$t('请输入提款密码')" />
        </van-cell-group>
        <van-radio-group v-model="radio" v-if="$store.state.userInfo.walletAddress || $store.state.userInfo.cardNo">
          <van-cell-group>
            <van-cell size="large" :title="$t('银行卡')" clickable @click="radio = '0'" v-if="$store.state.userInfo.cardNo">
              <template #right-icon>
                <van-radio name="0"  checked-color="#022639"/>
              </template>
            </van-cell>
            <van-cell size="large" :title="$t('钱包')" clickable @click="radio = '1'" v-if="$store.state.userInfo.walletAddress">
              <template #right-icon>
                <van-radio name="1" checked-color="#022639" />
              </template>
            </van-cell>
          </van-cell-group>
        </van-radio-group>
        <button class="ok-btn" @click="submits()">{{$t('申请提款')}}</button>
      </div>
    </main>
  </div>
</template>

<script>
import '@/assets/css/withdrawDeposit.less';
import { Dialog } from 'vant';
import { Toast } from 'vant';
export default {
  name: "withdrawDeposit",
  data(){
    return{
      money: '', //金额
      password: '', //安全码
      pickMoneyInfor:'',//卡号余额等数据
      tixianSuccess:false,//提现成功弹窗
      floder: this.$store.state.stationInfo.content.station.floder || 'x002',
      radio: '0',
    }
  },
  created() {
    this.getPick_money_data();//获取提款时的提款帐号余额，卡号，银行名称，限制等数据
  },
  mounted() {
    if(this.$store.state.userInfo.walletAddress){
      this.radio = '1'
    }
    if(this.$store.state.userInfo.cardNo){
      this.radio = '0'
    }
    if(this.$store.state.userInfo.cardNo && this.$store.state.userInfo.walletAddress){
      this.radio = '0'
    }
  },
  methods:{
    back(){
      this.$router.push('/personal')
    },
    //获取提款时的提款帐号余额，卡号，银行名称，限制等数据
    getPick_money_data:function(){
      this.$root.common.loading(true)
      this.$post('native/pick_money_data.do',{}).then((ret) => {
        if(ret.success) {
          this.pickMoneyInfor = ret.content;
          this.pickMoneyInfor.cardNo ? this.pickMoneyInfor.cardNo = this.pickMoneyInfor.cardNo.substr(-4) : '';
        } else {
          if(!ret.success) {
            Dialog.alert({
              title: this.$t('登陆提示'),
              message: ret.msg
            }).then(() => {
              this.$router.push({
                path: '/login',
              })
            });
          }
        }
        this.$root.common.loading(false)
      })
    },
    beforeClose:function(){
      this.$router.push({
        path: '/personal',
      })
    },
    //提交
    submits:function(){
      if(!this.money){
        Toast(this.$t('请输入提款金额'));
        return false;
      }else if(!this.password){
        Toast(this.$t('请输入提款密码'));
        return false;
      }else if(this.pickMoneyInfor.checkBetNum > this.pickMoneyInfor.validBetMoney){
        Toast(this.$t('提款申请失败,投注量未达标'));
        return false;
      }else{
        this.getPickMoney();//提款
      }
    },
    //提款
    getPickMoney:function(){

      let params = {
        money: this.money,
        repPwd: this.password,
        withdrawWay: this.radio,
      };
      this.$post('native/post_pick_money.do',params,true).then(res=> {
        if(res.success) {
          Toast(this.$t('提交成功'))
        } else {
          Toast.fail(res.msg);
        }
      })
    },
  }
}
</script>

<style lang="less">
.withdrawDeposit{
  .van-cell-group{
    background: none!important;
  }
  .van-cell{
    background-color: initial!important;
  }
  .van-field__control,.van-field__label{
    color: #ffffff!important;
  }
}
</style>
