.address{
  position: relative;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  .container{
    .content{
      margin: 30rpx;
      .address-item{
        width: 100%;
        padding: 20rpx;
        box-sizing: border-box;
        border-radius: 16rpx;
        background: #d4d0ff;
        p{
          width: 100%;
          span{
            display: inline-block;
            height: 60rpx;
            line-height: 60rpx;
            font-size: 28rpx;
            color: #ffffff;
            &:first-child{
              width: 30%;
            }
            &:last-child{
              width: 70%;
            }
          }
        }
      }
    }
    .no-content{
      margin: 160rpx;
      font-size: 30rpx;
      color: #666666;
	  .add{
		  color: #FF5035;
	  }
	  .input{
	       position: relative;
	       margin-bottom: 40rpx;
	       .form-input{
	         width: 100%;
	         height: 100rpx;
	         background: #F5F5F5;
	         color: #999999;
	         border-radius: 20rpx;
	         border:none;
	         font-size: 24rpx;
	         padding-left: 110rpx;
	  		line-height: 104rpx;
	       }
	  	  .code-button{
	  	    width: 100%;
	  	    height: 100rpx;
	  	    border-radius: 60rpx;
	  	    border: 2rpx solid #FF612F;
	  	    color: #FF612F;
	  	    background: none;
	  	    font-size: 26rpx;
	  		line-height: 100rpx;
	  	}
	  	.icon-box{
	  		width: 100rpx;
	  		height: 100rpx;
	  		position: absolute;
	  		left: 0;
	  		top: 0;
	  		display: flex;
	  		justify-content: center;
	  		align-items: center;
	  	}
	  }
	  .login-button{
	    padding: 0 50rpx;
	    margin-bottom: 40rpx;
	    button{
	      width: 100%;
	      height: 80rpx;
	      background: #d4d0ff;
	      color: #ffffff;
	      border-radius: 20rpx;
	      border: none;
	  	line-height: 80rpx;
	  	font-size: 28rpx;
	    }
	  }
    }
  }
}