.scoreChage{
	.content{
		.card-header{
			width: 100%;
			height: 90rpx;
			background: #eee;
			line-height: 90rpx;
			text-align: center;
			span{
				color: #ff6818;
			}
		}
		.input{
			.row{
				width: 100%;
				height: 90rpx;
				display: flex;
				align-items: center;
				font-size: 24rpx;
				.label{
					width: 180rpx;
					color: #646566;
					text-align: center;
				}
				input{
					border: none;
					font-size: 24rpx;
				}
				button{
					width:220rpx;
					display: inline-block;
					background-color: #eee;
					margin: 0 1%;
					height: 70rpx;
					line-height: 70rpx;
					padding: unset;
					border-radius: 100rpx;
					font-size: 26rpx;
					font-size: 24rpx;
				}
				.active{
				  background: #d4d0ff!important;
				  color: #ffffff!important;
				}
			}
		}
	}
	.button{
		width: 100%;
		height: 80rpx;
		margin-top: 80rpx;
		padding: 0 50rpx;
		button{
			height: 100%;
			width: 100%;
			border-radius: 40rpx;
			background: #d4d0ff;
			color: #ffffff;
			font-size: 24rpx;
			line-height: 80rpx;
		}
	}
}