<template>
    <div id="esports-news-list-page2">
        <div class="scroll-list">
            <sp-item 
                v-for="(item,index) in resultList"
                :key="'esports-news-list-item-2-' + index"
                className="animated fadeInUp border-style-2"
                :data="item" >
            </sp-item>
            <p v-if="httpLoading">加载中...</p>
            <p v-if="noMore">没有更多了</p>
        </div>
    </div>
</template>
<script>
import spItem from '@/components/news/movie'
export default {
    created(){
        this.getDatas()
        window.addEventListener('scroll',this.listenScroll)
    },
    data(){
        return {
            pageIndex:1,
            pageSize:16,
            resultList:false,
            httpLoading:false,
            noMore:false,
            scrollTop:0,                                /* 记录上次滚动条记录 */
        }
    },
    computed:{
        /* 资讯类型列表 */
        NEWS_TYPE_LIST:function(){
            return this.$store.getters.NEWS_TYPE_LIST
        },
        /* 资讯类型实体 */
        NEWS_TYPE_ITEM:function(){
            return this.NEWS_TYPE_LIST.get('sp')
        },
    },
    methods:{
        getDatas:function(){
            return new Promise(reslove => {
                this.$http.post('api/News/GetNewsContentList',{
                    itid:this.NEWS_TYPE_ITEM.id,
                    sid:'',
                    nsid:[],
                    keyword:this.$parent.searchVal,
                    pageIndex:this.pageIndex,
                    pageSize:this.pageSize,
                }).then(response => {
                    const {resultCode,resultData} = response.data
                    /* 请求成功 */
                    if(resultCode == 1){
                        const {newsContentList = []} = resultData
                        if(newsContentList.length){
                            /* 初次请求 */
                            if(!this.resultList){
                                this.resultList = newsContentList
                            }else{
                                /* 下拉加载 */
                                this.resultList = new Array().concat(this.resultList,newsContentList)
                            }
                        }else{
                            /* 停止加载 */
                            this.noMore = true
                        }
                        reslove()
                    }
                })
            })
        },
        pullLoadData:function(){
            this.pageIndex++
            this.httpLoading = true
            this.getDatas().then(()=>{
                this.httpLoading = false
            })
        },
        /* 监听页面滚动 */
        listenScroll:function(){
            if(!this.httpLoading && !this.noMore){
                const distance = document.documentElement.scrollHeight - document.documentElement.scrollTop - document.documentElement.clientHeight
                if(distance < 350){
                    this.scrollTop = document.documentElement.scrollTop
                    this.pullLoadData()
                }
            }
        },
        /* 执行搜索 */
        doSearch:function(){
            this.resultList = false
            this.noMore = false
            this.scrollTop = 0
            this.pageIndex = 1
            this.getDatas()
        }
    },
    beforeDestroy(){
        window.removeEventListener('scroll',this.listenScroll)
    },
    components:{
        spItem
    }
}
</script>
<style lang="scss">
#esports-news-list-page2{
    background: $theme-bg-color;
    .scroll-list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: 15px 15px 0;
        .esports-news-movie{
            width: 220px;
            margin-bottom: 15px;
            position: relative;
            .img-box{
                width: 220px;
                height: 124px;
                overflow: hidden;
            }
            .content{
                height: 30px;
                line-height: 28px;
                white-space: nowrap;
                background-color: #2e3238;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &:after{
                content: '';
                width: 100%;
                height: 40%;
                position: absolute;
                background: transparent linear-gradient(180deg,transparent,rgba(0,0,0,.7)) repeat scroll 0 0;
                left: 0;
                bottom: 30px;
                color: #fff;
                padding: 35px 10px 0;
            }
            &:hover{
                box-shadow: 0 8px 15px rgba(0,0,0,.35);
            }
        }
        p{
            flex-grow: .8;
            transform: translateY(-10px);
        }
    }
}
</style>