* {
    margin: 0;
    padding: 0;
    font-family: Microsoft Yahei,Verdana,Geneva,sans-serif ;
    outline: none;
    font-size: 14px;
}

a img, :link img, :visited img {
    border: 0px;
}
i {
    margin: 0 5px 0 10px;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 0;
}
a,a:hover{
    text-decoration: none;
}
li{
    list-style: none;
}
button{
    border: 0;
    box-shadow: none;
    outline: none;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}
