/*warp */
.warp {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("../images/bodybackimg1.jpg");
    min-width: 1280px;
}

/*warp - header */
.warp .header {
    width: 100%;
    height: 56px;
    background: rgba(50, 50, 50, 0.7);
}

.warp .header #logo {
    width: 200px;
    height: 100%;
    float: left;
    padding-top: 5px;
}

.warp .header #logo img {
    height: 47px;
}

.warp .header #nav {
    float: left;
    margin-left: 20px;
    height: 100%;
}

.warp .header #nav .nav-list {
    height: 100%;
    padding-left: 33px;
    background-size: 20px 20px!important;
    float: left;
    display: flex;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}

.warp .header #nav .nav-list span {
    color: #f1f1f1;
}

.warp .header #nav .nav-list span:hover {
    color: #ffffff!important;
}

.warp .header #nav .nav-list img {
    height: 26px;
}

.warp .header #nav .nav-list #nav_kefu_qq {
    background: rgba(50, 50, 50, 0.5);
    position: absolute;
    top: 56px;
    left: 0;
    z-index: 9999;
    display: none;
}

.warp .header #nav .nav-list #nav_kefu_qq a {
    display: block;
    width: 117px;
    height: 27px;
    background: url('../images/nuoyun_kf.png') no-repeat;
    margin: 12px 19px 12px 19px;
    line-height: 22px;
    text-align: center;
    font-size: 10px;
}

.warp .header #nav #nav_kefu-:hover #nav_kefu_qq {
    display: block;
}

.warp .header #user-operate {
    float: right;
    height: 100%;
}

.warp .header #user-operate .user- {
    width: 90px;
    height: 100%;
    display: flex;
    align-items: center;
    color: #ffffff;
    float: left;
    margin-left: 3px;
}

.warp .header #user-operate .huanfu-module {
    width: 90px;
    height: 112px;
    float: left;
    transition: .5s;
    position: relative;
}

.warp .header #user-operate #huanfu {
    background: url('../images/huabi-bk.png') 18px 18px no-repeat;
    background-size: 20px;
    font-weight: 600;
    height: 50%;
    padding-left: 40px;
    width: 50px;
    cursor: pointer;
}

.warp .header #user-operate .user-login-register {
    height: 18px;
    display: flex;
    align-items: center;
    padding: 5px 18px 5px 42px;
    border-radius: 20px;
    cursor: pointer;
}

.warp .header #user-operate .personal_menu {
    height: 100%;
    width: 100px;
    float: left;
    margin-right: 30px;
    position: relative;
}

.warp .header #user-operate .personal_menu .personal_menu_name {
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 56px;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.warp .header #user-operate .personal_menu .personal_menu_list {
    width: 100%;
    position: absolute;
    z-index: 999;
    display: none;
    background: rgba(0,0,0,.7);
}

.warp .header #user-operate .personal_menu .personal_menu_list_update {
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    cursor: pointer;
}

.warp  #initial_module {
    width: 100%;
    height: 100%;
    background: rgba(50,50,0,0.2);
    position: fixed;
    z-index: 9099;
    align-items: center;
    justify-content: center;
    display: none;
}

.warp .warp_btn {
    background-color: #E7E7E7;
    /* Green */
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 155px;
    cursor: pointer;
}

.warp #personal_show_module {
    width: 100%;
    height: 100%;
    background: rgba(50,50,0,0.2);
    position: fixed;
    z-index: 9099;
    align-items: center;
    justify-content: center;
    display: none;
}

.warp #personal_show_module #personal_update_module {
    width: 400px;
    height: 600px;
    background: #ffffff;
    position: relative;
    border-radius: 8px;
}

.warp #personal_show_module #personal_update_module #file_img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
}

.warp #personal_show_module #personal_update_module #file_img_font {
    position: absolute;
    color: #ffffff;
    font-size: 18px;
    opacity: 0;
    transition: .5s;
    background: rgba(0,0,0,.2);
}

.warp #personal_show_module #personal_update_module #file_img:hover + #file_img_font {
    opacity: 1;
}

.warp #personal_show_module #personal_update_module div {
    display: flex;
    align-items: center;
}

.warp .header #user-operate .personal_menu:hover .personal_menu_list {
    display: block;
}

.warp .header #personal_show_module .personal_update_close {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.warp .header #user-operate #user-login {
    background: url('../images/login.png') 15px 5px no-repeat rgba(247, 122, 34,0.9);
    background-size: 18px;
}

.warp .header #user-operate #user-login:hover {
    background: url('../images/login.png') 15px 5px no-repeat rgba(247, 122, 34,1);
    background-size: 18px;
}

.warp .header #user-operate #user-register {
    background: url('../images/register.png') 15px 5px no-repeat rgba(159, 159, 159,0.9);
    background-size: 18px;
}

.warp .header #user-operate #user-register:hover {
    background: url('../images/register.png') 15px 5px no-repeat rgba(159, 159, 159,1);
    background-size: 18px;
}
/* 更换皮肤图片样式 */
#huanfu-down {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(255,255,255,0.3);
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: .56s;
}

#huanfu-content-m {
    background: #f1f1f1;
    width: 660px;
    padding: 10px;
    z-index: 999999;
}

.box {
    overflow: hidden;
    position: relative;
    width: 200px;
    height: 117px;
    margin: 15px 10px;
    float: left;
    cursor: pointer;
}

.box:before {
    content: "";
    display: block;
    border: 30px solid rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    opacity: 1;
    z-index: 2;
    transition: all 1s ease 0s;
}

.box:hover:before {
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.box:after {
    content: "";
    display: block;
    border: 10px solid #fff;
    position: absolute;
    top: 35px;
    left: 35px;
    bottom: 35px;
    right: 35px;
    opacity: 1;
    z-index: 1;
    transition: all 0.3s ease 0s;
}

.box:hover:after {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
}

.box img {
    width: 100%;
    height: auto;
    transform: scale(1.1);
    transition: all 1s ease 0s;
}

.box:hover img {
    transform: scale(1);
}

.box .box-content {
    padding: 20px;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 45px;
    left: 45px;
    bottom: 45px;
    right: 45px;
    opacity: 1;
    z-index: 2;
    transition: all 0.3s ease 0s;
}

.box:hover .box-content {
    top: 6px;
    left: 6px;
    bottom: 6px;
    right: 6px;
}

.box .box-inner-content {
    width: 100%;
    padding-bottom: 20px;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.3s ease 0s;
}

.box:hover .box-inner-content {
    opacity: 1;
}

.box .title {
    font-size: 26px;
    font-weight: bold;
    margin: 0;
}

.box .post {
    display: block;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 10px;
}

.box .icon {
    padding: 0;
    margin: 0;
    list-style: none;
}

.box .icon li {
    display: inline-block;
}

.box .icon li a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: #fff;
    margin-right: 10px;
    font-size: 18px;
    color: #000;
    transition: all 0.3s ease 0s;
}

.box .icon li a:hover {
    background: #000;
    color: #fff;
}
/*warp - main */
.warp .main {
    position: absolute;
    left: 5px;
    right: 5px;
    top: 70px;
    bottom: 0;
}
/*main - main-left*/
.warp .main .main-left {
    width: 220px;
    height: 100%;
    background: rgba(50, 50, 50, 0.3);
    float: left;
    position: relative;
    transition: .5s;
}

.main-left ul {
    width: 100%;
}

.main-left ul li:nth-child(1) input[type="button"] {
    width: 50%;
    height: 100%;
    border: 0;
    float: left;
    font-size: 14px;
    background: none;
    color: #ffffff;
    padding: 5px;
    cursor: pointer;
}

.main-left ul li:nth-child(1) input[type="button"]:hover {
    background: rgba(50, 50, 50, 0.5) !important;
}

.main-left ul li:nth-child(1) .down-btn {
    background: rgba(50, 50, 50, 0.5) !important;
}

.main-left ul li:nth-child(2) input[type="text"] {
    float: left;
    margin-left: 2px;
    width: 179px;
    height: 30px;
    border: 1px solid #a0a1a1;
    background: url("../images/search.png") 8px 5px no-repeat;
    background-size: 20px;
    font-size: 14px;
    color: #ffffff;
    padding-left: 35px;
}

.main-left ul li:nth-child(3) .user {
    position: absolute;
    width: 218px;
    top: 60px;
    bottom: 0;
    overflow: auto;
}
/*用户列表*/
.main-left ul li:nth-child(3) .user ul {
    padding-top: 3px;
    padding-bottom: 3px;
    cursor: pointer;
}

.main-left ul li:nth-child(3) .user ul:hover {
    background: rgba(176, 196, 222, 0.3)
}

.main-left ul li:nth-child(3) .user li {
    float: left;
    box-sizing: border-box;
    padding: 2px;
}

.main-left ul li:nth-child(3) .user li img {
    height: 25px;
}

.main-left ul li:nth-child(3) .user li:nth-child(2) {
    line-height: 29px;
    color: #fff;
}

.main-left ul li:nth-child(3) .user li:nth-child(3) {
    line-height: 29px;
    float: right;
}

.main-left ul li:nth-child(3) .user li img {
    border-radius: 50%;
    padding: 3px 4px 3px 4px;
    cursor: pointer;
    transition: .5s;
    height: 25px;
}

.main-left .manageChat {
    border: none;
    border-radius: 10px;
    padding: 1px 5px;
    font-size: 12px;
    cursor: pointer;
}

.main-left .manageChat:hover {
    background: #A7A7A7;
}
/*聊天框   */
.warp .main .main- {
    position: absolute;
    left: 230px;
    right: 460px;
    top: 0;
    bottom: 0;
    background: rgba(50, 50, 50, 0.3);
    transition: .5s;
    box-sizing: border-box;
}
/*清屏*/
.warp .main .main- .clear-message {
    position: absolute;
    right: 35px;
    top: 40px;
    z-index: 999;
}

.warp .main .main-  .clear-message input[type="button"] {
    padding: 2px 5px 2px 5px;
    border: none;
    background: rgba(176, 196, 222, 0.3);
    cursor: pointer;
    color: #fff;
    transition: .5s;
}

.warp .main .main-  .clear-message input[type="button"]:hover {
    background: rgba(176, 196, 222, 0.5);
    border-radius: 8px;
}
/*公告*/
#notice {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.5);
    height: 31px;
    z-index: 999;
    width: 100%;
}

#notice b {
    color: #ffffff;
}
/*系统消息*/
#systemMessage {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#systemMessage div {
    padding: 3px 8px;
    border-radius: 10px;
    background: rgba(255,255,255,.2);
    color: #ffffff;
}
/*消息接收*/
.warp .main .main- .chatting {
    width: 100%;
    float: left;
    overflow: auto;
    position: relative;
    box-sizing: border-box;
}

.user-message-list {
    width: 100%;
    float: left;
    box-sizing: border-box;
    position: relative;
    margin-top: 10px;
}

.user-message-list .user_message_head {
    width: 40px;
    margin: 5px auto 5px 5px;
    border-radius: 5px;
    float: left;
}

.user-message-list .user-message-list-name {
    position: absolute;
    left: 55px;
    top: 5px;
    color: #fff;
}
.user-message-list .user-message-list-date {
    float: right;
    left: 125px;
    top: 5px;
    color: #a0a1a1;
    background: rgba(50, 50, 50, 0.3);
    border-radius: 10px;
    margin-left: 30px;
    font-size: 12px;
}
/*文本消息背景*/
.user-message-list .user-message-list-info {
    width: auto;
    max-width: 800px;
    background: #E7EBF2;
    border-radius: 5px;
    float: left;
    margin: 35px auto 5px 5px;
    padding: 10px;
    color: #000;
}
/*消息发送*/
.warp .main .main- .editor {
    float: left;
    width: 100%;
    height: 10%;
    position: relative;
    background: rgba(50, 50, 50, 0.7);
    margin-top:30px;
}

.warp .main .main- .editor #boxscroll3 {
    position: absolute;
    width: 92%;
    height: 90%;
    top: 1%;
    left: 0;
    border: 0;
    /*background: rgba(50, 50, 50, 0.7);*/
    color: #fff;
    resize: none;
    box-sizing: border-box;
    padding: 5px;
}

#boxscroll3:empty::before {
    content: '文明聊天，共创优质的聊天环境，如有问题请咨询在线客服';
    font-size: 12px;
    color: #999;
    padding: 3px;
}

.warp .main .main- .editor #send {
    position: absolute;
    width: 7%;
    height: 90%;
    top: 1%;
    right: 0;
    border: none;
    cursor: pointer;
    background: #01AAED;
    color: #fff;
    font-size: 16px;
    transition: .5s;
}

.warp .main .main- .editor #send:hover {
    border-radius: 10px;
}

.warp .main .main- .editor #send:active {
    transition: 0s;
    box-shadow: 0 2px 0 #a1a1a1 inset;
}

.warp .main .main- .editor button {
    background: rgba(50, 50, 50, 0.7);
    padding: 2px 5px 2px 5px;
    color: #fff;
    position: absolute;
    right: 9%;
    bottom: 15px;
    font-size: 12px;
    z-index: 999;
    cursor: pointer;
    transition: .5s;
    border-radius: 5px;
}

.warp .main .main- .editor button:hover {
    background: rgba(176, 196, 222, 0.2);
}

.warp .main .main-right {
    width: 440px;
    height: 100%;
    background: rgba(50, 50, 50, 0.3);
    float: right;
    right: 10px;
    position: relative;
    transition: .5s;
}

.warp .main .main-right .gg-classify-btn {
    margin-left: 2.5%;
    width: 94%;
    float: left;
    padding: 8px 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.warp .main .main-right .gg-classify-btn-pitch {
    background: #ff0000!important;
}

.warp .main .main-right .gg-classify-btn button {
    padding: 5px 10px 5px 0;
    background: #555555;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    font-size: 14px;
    margin-left: 5px;
    border-radius: 3px;
    cursor: pointer;
}

.warp .main .main-right .gg-classify-module {
    width: 100%;
    position: absolute;
    bottom: 10px;
    top: 60px;
    left: 2px;
    right: 2px;
}
#private-chat{
    width: 900px;
    height: 550px;
    position: absolute;
    z-index:9999;
    top:20%;
    left:25%;
    border-radius: 2px;
    display: none;
}
#private-chat .pleft{
    float: left;
    width: 25%;
    height:100%;
    background-color: #01AAED;
    opacity: 0;
    transition: .5s;
}
#private-chat .pleft ul{
    width: 95%;
    margin-left: 2.5%;
    margin-top: 10px;
}
#private-chat .pleft li{
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding-left: 5px;
    cursor: pointer;
    box-sizing: border-box;
}
#private-chat .pleft li:hover{
    background-color: #13BBF9;
}
#private-chat .pactive{
    background-color: #13BBF9;
}
#private-chat .pleft li:hover > .pclose{
    opacity: 1;
}
#private-chat .pleft li img{
    width: 40px;
    border-radius: 50%;
}
#private-chat .pleft .pclose{
    width: 20px;margin-left:100px;opacity: 0;transition: .5s;
}
#private-chat .pleft li span{
    margin-left:15px;
    color: #fff;
}
#private-chat .pright{
    float: left;
    width: 75%;
    height:100%;
    background-color: #ffffff;
}
#private-chat .pright .prhead{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 20px;
    background-color: #F8F8F8;
    position: relative;
}
#private-chat .pright .prhead .prOperate{
    position: absolute;
    top: 0;
    right: 0;
}
#private-chat .pright .prhead .prOperate div{
    float: right;
    padding: 3px;
    cursor: pointer;
    transition: .2s;
}
#private-chat .pright .prhead .prOperate div:hover{
    background-color: #A7A7A7;
}
#private-chat .pright .prhead .prOperate img{
    width: 22px;
}
#private-chat .pright .prhead img{
    width: 60px;
    border-radius: 50%;
}
#private-chat .pright .prhead span{
    margin-left:15px;
    color: #000;
}
#private-chat .pright .prchat{
    width: 100%;
    height: 320px;
    border-bottom:1px solid #f3f3f3;
}
#private-chat .pright .prchat .prlistchat{
    width: 100%;
    height: 100%;
}
.prlistchat .user-message-list-name{
    color: #000000!important;
}
.prlistchat .user-message-list-name span{
    color: #000000!important;
}
.prlistchat .user-message-list .user-message-list-date{
    background:none ;
}
#private-chat .pright .premj{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
}
#private-chat .pright .predit{
    width: 100%;
    height: 90px;
}
#private-chat .pright .prsend{
    width: 100%;
    height: 29px;
    line-height: 30px;
}
#private-chat .pright .prsend button{
    background-color: #66CC66;
    border-radius: 3px;
    padding: 4px 20px;
    color: #fff;
    cursor: pointer;
    float: right;
    margin-right: 5px;
    transition: .5s;
}
#private-chat .pright .prsend button:hover{
    background-color: #4476A7;
}
#private-chat .pright .prsend button:active{
    background-color: #000;
}
#private-chat-small{
    width: 200px;
    height: 40px;
    position: fixed;
    left: 5px;
    bottom: 5px;
    background-color:#01AAED;
    border-radius: 2px;
    z-index: 9999;
    line-height: 40px;
    color: #fff;
    display: none;
}
#private-chat-small span{
    margin-left: 20px;
    display: none;
}
#private-chat-small .prsOp{
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
}
#private-chat-small .prsOp div{
    float: right;
    padding: 3px;
    cursor: pointer;
    transition: .2s;
    height: 25px;
}
#private-chat-small .prsOp div:hover{
    background-color: #13BBF9;
}
#private-chat-small .prsOp img{
    width: 22px;
    border-radius: 50%;
}