<template>
    <basic-active>
        <!-- 表单 -->
        <div class="basic-form">
            <h2>充值到账户 “{{MEMBER_ID}}”</h2>
            <div id="ia-agent-member-deposit" @keyup.13.prevent="shieldSubmit" >
                <md-field>
                    <label>请输入充值金额</label>
                    <md-input placeholder="充值金额" v-model.trim="money" ref="money" type="number" ></md-input>
                </md-field>
                <md-field>
                    <label>请输入充值备注：</label>
                    <md-input placeholder="充值备注" v-model.trim="description" ref="description"></md-input>
                </md-field>
                <!-- 提交按钮 -->
                <p style="margin:3.1rem 0;">
                    <button class="shadow btn-xxl btn-block" @click.prevent="shieldSubmit">提交</button>
                </p>
            </div>
        </div>
    </basic-active>
</template>
<script>
import basicActive from './basic'
/**
 * @description 代理商中心 - 为下级会员充值
 */
export default {
    data(){
        return {
            request:false,                  /* 请求状态 */
            money:'',                       /* 金额 */
            description:'',                 /* 备注 */
        }
    },
    computed:{
        MEMBER_ID:function(){
            return this.$parent.IA_COMPONENT_DATA.memberID
        },
    },
    methods:{
        /* 验证表单 */
        shieldSubmit:function(){
            if(!this.money){
                this.$message({message:'请输入充值金额',type:'error',showClose:true})
                this.$refs.money.$el.focus()
            }else{
                /* 防抖 */
                if(this.request)        return false

                this.request = true
                const loading = this.$loading.service({lock: true,background: 'rgba(0, 0, 0, 0.7)'})

                this.$http.post('api/Member/SubUserPay',{
                    subUserID:this.MEMBER_ID,
                    money:this.money,
                    description:this.description,
                }).then(response => {
                    this.request = false
                    loading.close()

                    const {message,resultCode} = response.data
                    /* 充值成功 */
                    if(resultCode == 1){
                        /* 成功提示 */
                        this.$message({message,type:'success',showClose:true})
                        /* 刷新个人信息 */
                        this.$store.dispatch('refreshUserInfo')
                        /* eventBus通知组件刷新数据 */
                        window.eventBus.$emit('refreshAgentMember',true)
                        /* 关闭当前面板 */
                        this.$store.commit('setInterActive',false)
                    }

                })

            }
        },
    },
    components:{
        basicActive
    }
}
</script>
<style lang="scss" scoped>
#ia-agent-member-deposit{
    width: 280px;
    margin: 0 auto 26px;
}
</style>