<template>
    <div id="inter-active-dialog">
        <slot></slot>
        <!-- 关闭按钮 -->
        <span class="dialog-close" @click="closeComponent"><i class="iconfont icon-close"></i></span>
    </div>    
</template>
<script>
export default {
    methods:{
        closeComponent:function(){
            this.$parent.$parent.closeInterActive()
        }
    }
}
</script>
<style lang="scss">
#inter-active-dialog{
    min-width: 100px;
    min-height: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    z-index: 100;
    display: flex;
    justify-content:space-around;
    >.dialog-close{
        position: absolute;
        top: .5rem;
        right: 1rem;
        >.iconfont{
            font-size: 22px;
            cursor: pointer;
            &:hover{
                color:$theme-font-color;
            }
        }
    }
}
</style>