<template>
    <basic-active>
        <!-- 表单 -->
        <div class="basic-form">
            <h2>绑定银行卡</h2>
            <div id="bind-bank-card" class="form-box" @keyup.13.prevent="shieldSubmit">
                <!-- 银行卡号码 -->
                <md-field>
                    <label>请输入银行卡号</label>
                    <md-input placeholder="银行卡号" v-model.trim="bankCard" ref="bankCard" ></md-input>
                </md-field>
                <!-- 银行类型 -->
                <md-field v-if="bankList">
                    <md-select v-model="bankId" name="bankList" id="bankList" ref="bankId" >
                        <md-option v-for="(item,index) in bankList" :key="'bindBankCardItem'+index" :value="item.bid">{{item.name}}</md-option>
                    </md-select>
                </md-field>
                <!-- 开户行分行 -->
                <md-field>
                    <label>请输入开户行分行</label>
                    <md-input placeholder="开户行分行" v-model.trim="bankKaihu" ref="bankKaihu" ></md-input>
                </md-field>
                <!-- 提交按钮 -->
                <p>
                    <button class="shadow btn-xxl btn-block" @click.prevent="shieldSubmit" >提交</button>
                </p>
            </div>
        </div>
    </basic-active>
</template>
<script>
import basicActive from './basic'
/**
 * @description 绑定银行卡
 */
export default {
    created(){
        /* 请求银行列表 */
        this.getBankDatas()
    },
    data(){
        return {
            bankCard:'',                /* 银行卡号 */
            bankId:'',                  /* 银行id */
            bankList:false,             /* 银行列表 */
            bankKaihu:'中国',           /* 开户行分行 */
            request:false,              /* 请求 */
        }
    },
    methods:{
        /* 请求银行列表 */
        getBankDatas:function(){
            this.$http.post('/api/BaseInfo/GetBaseBankList',{
                pageIndex:0,
                pageSize:0
            }).then(response => {
                const {resultCode,resultData} = response.data
                if(resultCode == 1){
                    if(Array.isArray(resultData.baseBankList) && resultData.baseBankList.length){
                        this.bankList = resultData.baseBankList
                        /* 默认选中银行 */
                        this.bankId = this.bankList[0].bid
                    }
                }
            })
        },
        /* 登录前验证 */
        shieldSubmit:function(){
            /* 防抖 */
            if(this.request)    return false
            if(!this.bankId)    return false

            if(!this.bankCard){
                this.$message({message:'请输入银行卡号',type:'error',showClose:true})
                this.$refs.bankCard.$el.focus()
            }else if(!this.bankKaihu){
                this.$message({message:'请输入开户行分行',type:'error',showClose:true})
                this.$refs.bankKaihu.$el.focus()
            }else{

                this.request = true
                const loading = this.$loading.service({lock: true,background: 'rgba(0, 0, 0, 0.7)'})
                /* 发起请求 */
                this.$http.post('/api/Member/BindBank',{
                    bankID:this.bankId,
                    subbranch:this.bankKaihu,
                    cardNumber:this.bankCard,
                }).then(response => {

                    this.request = false
                    loading.close()

                    const {resultCode,message} = response.data
                    /* 绑定成功 */
                    if(resultCode == 1){
                        /* 成功提示 */
                        this.$message({message,type:'success',showClose:true})
                        /* 刷新个人信息 */
                        this.$store.dispatch('refreshUserInfo')
                        /* 返回绑定银行卡列表 */
                        this.$store.commit('setInterActive','selectBankCard')
                    }
                })
            }
        },
    },
    components:{
        basicActive
    }
}
</script>
<style lang="scss" scoped>
#bind-bank-card{
    width: 280px;
    margin: 0 auto 26px;
}
</style>