<template>
    <basic-active>
        <!-- 左侧装饰画布 -->
        <inter-active-canvas></inter-active-canvas>
        <!-- 右侧表单 -->
        <div class="basic-form">
            <h2>找回密码</h2>
            <div class="forget-pass">
                <!-- 手机号码 -->
                <div class="form-7-3">
                    <md-field>
                        <label>请填写手机号码</label>
                        <md-input type="number" placeholder="手机" v-model.trim="phone"></md-input>
                    </md-field>
                    <button class="shadow btn-grey">发送短信验证码</button>
                </div>
                <!-- 短信验证码 -->
                <md-field>
                    <label>请填写接收到的短信验证码</label>
                    <md-input placeholder="短信验证码" v-model.trim="smsCode"></md-input>
                </md-field>
                <!-- 新密码 -->
                <md-field>
                    <label>由6-16个字母加数字组成，区分大小写</label>
                    <md-input type="password" placeholder="新密码" v-model.trim="oldPassword"></md-input>
                </md-field>
                <!-- 确认密码 -->
                <md-field>
                    <label>必须与新密码一致</label>
                    <md-input type="password" placeholder="确认密码" v-model.trim="newPassword"></md-input>
                </md-field>
                <!-- 提交按钮 -->
                <p style="margin:2.5rem 0;">
                    <button class="btn-block btn-lg shadow">提交</button>
                </p>
                <!-- 其他选项 -->
                <p class="href-group">
                    <a href="JavaScript:" @click.prevent="goRegister">注册</a>
                    <a href="JavaScript:" @click.prevent="goLogin">立即登录</a>
                </p>
            </div>
        </div>
    </basic-active>
</template>
<script>
import basicActive from './basic'
import interActiveCanvas from './interActiveCanvas'
export default {
    data(){
        return {
            phone:'',
            smsCode:'',
            oldPassword:'',
            newPassword:'',
        }
    },
    methods:{
        /* 进入注册页面 */
        goRegister:function(){
            this.$store.commit('setInterActive','register')
        },
        /* 进入登录页面 */
        goLogin:function(){
            this.$store.commit('setInterActive','login')
        },
    },
    components:{
        basicActive,
        interActiveCanvas,
    }
}
</script>
<style lang="scss" scoped>
.forget-pass{
    width: 70%;
    box-sizing: border-box;
    margin: 0 auto 40px;
}
</style>