<template>
    <div id="inter-active-canvas">
        <div class="logo animated fadeInDown">
            <img :src="$store.getters.SITE_LOGO" />
        </div>
        <div class="p-m">
            <h2 class="animated swing">邀请好友，获多重好礼</h2>
            <h1 class="animated bounce">最高<span>150</span></h1>
            <div class="p-a animated rubberBand">天天返水，业内最高0.5%，返水无上限</div>
        </div>
        <div class="p-b">
            <p class="animated fadeInDown">
                <i class="iconfont icon-biaoqian"></i>新人有好礼，注册即送18元
            </p>
            <p class="animated">
                <i class="iconfont icon-biaoqian"></i>首存有好礼，最高送8888元
            </p>
            <p class="animated fadeInUp">
                <i class="iconfont icon-biaoqian"></i>天天返水，业内最高0.5%
            </p>
        </div>
    </div>
</template>
<style lang="scss">
#inter-active-canvas{
    width: 250px;
    color: white;
    background: url('../../assets/img/reg.jpg') 0% 0% / cover no-repeat;
    border-right: 1px solid rgb(22, 85, 66);
    box-sizing: border-box;
    >.logo{
        height: 18px;
        margin: 50px 0 50px;
        text-align: center;
        >img{
            height: 100%;
        }
    }
    >.p-m{
        >h2{
            font-size: 16px;
            font-weight: lighter;
            text-align: center;
            text-shadow: rgb(3, 252, 179) 0px 0px 1px;
        }
        >h1{
            text-align: center;
            text-shadow: rgb(3, 252, 179) 0px 0px 1px;
            font-size: 26px;
            >span{
                margin-left: 10px;
                color: rgb(255, 198, 45);
                font-size: 30px;
                position: relative;
                top: 2px;
            }
        }
        >.p-a{
            font-size: 12px;
            text-shadow: rgb(3, 252, 179) 0px 0px 1px;
            text-align: center;
            background: rgba(255, 255, 255, 0.06);
            margin: 10px;
            padding: 5px;
        }
    }
    >.p-b{
        font-size: 12px;
        margin-top: 60px;
        margin-bottom: 20px;
        box-sizing: border-box;
        padding: 0 1.5rem;
        >p{
            box-sizing: border-box;
            color: rgb(182, 191, 206);
            position: relative;
            text-shadow: rgb(0, 0, 0) 0px 0px 6px;
            margin: 10px;
            padding: 5px;
            >.icon-biaoqian{
                font-size: 12px;
                position: relative;
                top: 1px;
                margin-right: 10px;
                color: rgb(13, 181, 131);
            }
        }
    }
}
</style>