<template>
    <basic-active>
        <!-- 左侧装饰画布 -->
        <inter-active-canvas></inter-active-canvas>
        <!-- 右侧表单 -->
        <div class="basic-form">
            <h2>登录</h2>
            <div class="loginbox" @keyup.13.prevent="shieldLogin">
                <!-- 用户名 -->
                <md-field>
                    <label>登录账号 / 手机号码</label>
                    <md-input placeholder="请输入登录账号 / 手机号码" v-model.trim="username" ref="username"></md-input>
                </md-field>
                <!-- 登录密码 -->
                <md-field>
                    <label>登录密码</label>
                    <md-input type="password" placeholder="请输入登录密码" v-model.trim="password" ref="password"></md-input>
                </md-field>
                <!-- 图形验证码 -->
                <div class="md-layout">
                    <div class="md-layout-item md-size-60">
                        <md-field>
                            <label>图形验证码</label>
                            <md-input placeholder="请输入图形验证码" v-model.trim="captchaCode" ref="captchaCode"></md-input>
                        </md-field>
                    </div>
                    <div class="md-layout-item md-size-40" v-if="captchaImage">
                        <img :src="captchaImage" title="点击获取图形验证码" @click.prevent="getCaptchaCode" class="captchaImage">
                    </div>
                </div>
                <!-- 记住账号 -->
                <p class="remember-account">
                    <md-checkbox v-model="remember">记住账号</md-checkbox>
                </p>
                <!-- 登录按钮 -->
                <p class="btn-group">
                    <button class="btn-block btn-lg shadow" @click.prevent="shieldLogin">登录</button>
                </p>
                <!-- 其他选项 -->
                <p class="href-group">
                    <a href="JavaScript:" @click.prevent="goForgetPass">忘记密码？</a>
                    <a href="JavaScript:" @click.prevent="goRegister">立即注册</a>
                </p>
            </div>
        </div>
    </basic-active>
</template>
<script>
import basicActive from './basic'
import interActiveCanvas from './interActiveCanvas'
import md5 from 'js-md5'
export default {
    created(){
        /* 请求图形验证码 */
        this.getCaptchaCode()
        /* 如果有记住用户账号 则释放 */
        if(localStorage.getItem('rememberUserName')){
            this.username = localStorage.getItem('rememberUserName')
        }
    },
    data(){
        return {
            username:'',
            password:'',
            captchaCode:'',                     /* 图形验证码 */
            captchaKey:'',                      /* 图形验证码 验证用秘钥 */
            captchaImage:'',                    /* 图形验证码 base64 */
            remember:true,
            request:false,
        }
    },
    methods:{
        /* 进入注册页面 */
        goRegister:function(){
            this.$store.commit('setInterActive','register')
        },
        /* 进入忘记密码页面 */
        goForgetPass:function(){
            this.$store.commit('setInterActive','forgetPass')
        },
        /* 登录前验证 */
        shieldLogin:function(){
            /* 防抖 */
            if(this.request)    return false

            if(!this.username){
                this.$message({message:'用户名不得为空',type:'error',showClose:true})
                this.$refs.username.$el.focus()
            }else if(!/^[A-Za-z]{1}[A-Za-z0-9]{4,11}$/.test(this.username)){
                this.$message({message:'用户名由5-12个字母加数字组成，字母开头',type:'error',showClose:true})
                this.$refs.username.$el.focus()
            }else if(!this.password){
                this.$message({message:'登录密码不得为空',type:'error',showClose:true})
                this.$refs.password.$el.focus()
            }else if(!/^[A-Za-z0-9]{6,16}$/.test(this.password)){
                this.$message({message:'登录密码由6-16个字母加数字组成，区分大小写',type:'error',showClose:true})
            }else if(!this.captchaCode){
                this.$message({message:'图形验证码不得为空',type:'error',showClose:true})
                this.$refs.captchaCode.$el.focus()
            }else{
                /* 登录请求 */
                const loading = this.$loading.service({lock: true,background: 'rgba(0, 0, 0, 0.7)'})
                this.request = true
                this.$http.post('/api/Member/Login2',{
                    userID:this.username,
                    password:md5(md5(this.password)),
                    captchaVerifyParam:{
                        captchaKey:this.captchaKey,
                        captchaValue:this.captchaCode,
                    }
                }).then(response=>{
                    this.request = false
                    loading.close()
                    const {resultCode,resultData,message} = response.data
                    /* 登录成功 */
                    if(resultCode == 1){
                        /* 组装用户基本信息 */
                        const userBasicInfo = {account:this.username,token:resultData.accessToken || ''}
                        /* 写入用户登录 */
                        this.$helper.setUserLogin(userBasicInfo,this.remember)
                        /* 成功提示 */
                        this.$message({message,type:'success',showClose:true})
                        /* 关闭窗口 */
                        this.$store.commit('setInterActive',false)

                    /* 登录失败 */
                    }else{
                        /* 重新拉取图形验证码 */
                        this.getCaptchaCode()
                        /* 图形验证码验证失败 */
                        if(resultCode == 7){
                            this.captchaCode = ''
                            this.$refs.captchaCode ? this.$refs.captchaCode.$el.focus() : null
                        }
                    }
                })
            }
        },
        /* 拉取图形验证码 */
        getCaptchaCode:function(){
            const loading = this.$loading.service({lock: true,background: 'rgba(0, 0, 0, 0.7)'})
            this.$store.dispatch('getCaptchaInfo').then(result => {
                if(result){
                    this.captchaImage = `data:${result.contentType || ''};base64,${result.image || ''}`
                    this.captchaKey = result.captchaKey || ''
                }
                loading.close()
            })
        },
    },
    components:{
        basicActive,
        interActiveCanvas,
    }
}
</script>
<style lang="scss">
.loginbox{
    width: 70%;
    box-sizing: border-box;
    margin: 0 auto 20px;
    .md-layout{
        .md-size-40{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            >.captchaImage{
                cursor: pointer;
                padding-right: .5rem;
            }
        }
    }
}
</style>
