<template>
    <basic-active>
        <div class="basic-form ia-box" style="padding:20px;">
            <h2>{{title}}</h2>
            <div id="ia-marquee-notice" @scroll.stop="()=>{}">
                <!-- 内容正文 -->
                <div class="ia-box-content">
                    <md-content class="md-scrollbar">
                        <table class="table-style-2" >
                            <tbody>
                                <tr v-for="(item,index) in noticeList" :key="'ia_marquee_notice_' + index" >
                                    <td width="120">{{item.date}}</td>
                                    <td @click.prevent="shieldJumpTo(item.url)">{{item.message}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </md-content>
                </div>
            </div>
        </div>
    </basic-active>
</template>
<script>
import basicActive from './basic'
export default {
    computed:{
        title:function(){
            return this.$parent.IA_COMPONENT_DATA.title
        },
        noticeList:function(){
            return this.$parent.IA_COMPONENT_DATA.list
        },
    },
    methods:{
        /* 检测跳转 */
        shieldJumpTo:function(url){
            if(url){
                window.open(url)
            }
        },
    },
    components:{
        basicActive
    }
}
</script>
<style lang="scss" scoped>
#ia-marquee-notice{
    width: 760px;
    height: 550px;
    margin: 0 auto 26px;
    overflow-y: scroll;
    >.ia-box-content{
        padding: 0 30px !important;
        >.md-content{
            height: 500px;
            >table{
                >tbody{
                    >tr{
                        >td:first-child{
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}
</style>