<template>
    <basic-active>
        <!-- 左侧装饰画布 -->
        <inter-active-canvas></inter-active-canvas>
        <!-- 右侧表单 -->
        <div class="basic-form">
            <h2>注册</h2>
            <div class="register-box" @keyup.13.prevent="shieldLogin">
                <!-- 用户名 -->
                <md-field>
                    <label>由5-12个字母加数字组成，字母开头</label>
                    <md-input placeholder="账号" v-model.trim="username" ref="username"></md-input>
                </md-field>
                <!-- 登录密码 -->
                <md-field>
                    <label>由6-16个字母加数字组成，区分大小写</label>
                    <md-input type="password" placeholder="密码" v-model.trim="password" ref="password"></md-input>
                </md-field>
                <!-- 真实姓名 -->
                <md-field>
                    <label>请填写真实姓名,否则无法提款</label>
                    <md-input placeholder="真实姓名" v-model.trim="realname" ref="realname"></md-input>
                </md-field>
                <!-- 手机号码 -->
                <div class="form-7-3">
                    <md-field>
                        <label>请填写手机号码</label>
                        <md-input type="number" placeholder="手机" v-model.trim="phone" ref="phone"></md-input>
                    </md-field>
                    <!-- 点击获取短信验证码 -->
                    <sms-code-btn></sms-code-btn>
                </div>
                <!-- 短信验证码 -->
                <md-field>
                    <label>请填写接收到的短信验证码</label>
                    <md-input placeholder="短信验证码" v-model.trim="smsCode" ref="smsCode" ></md-input>
                </md-field>
                <!-- 推荐码 -->
                <md-field>
                    <label>没有推荐，可不填写</label>
                    <md-input placeholder="推荐码" v-model.trim="recommendCode"></md-input>
                </md-field>
                <!-- 协议 -->
                <p>
                    <md-checkbox v-model="protobuf">本人同意并接受<a href="javascript:" @click.prevent.stop="openRulesPage">《条款和协议》</a></md-checkbox>
                </p>
                <!-- 提交按钮 -->
                <p>
                    <button class="btn-block btn-lg shadow" @click.prevent="shieldLogin">注册</button>
                </p>
                <!-- 其他选项 -->
                <p class="href-group">
                    <a href="JavaScript:" @click.prevent="goForgetPass">忘记密码？</a>
                    <a href="JavaScript:" @click.prevent="goLogin">立即登录</a>
                </p>
            </div>
        </div>
    </basic-active>
</template>
<script>
import basicActive from './basic'
import interActiveCanvas from './interActiveCanvas'
import smsCodeBtn from '@/components/common/smsCodeBtn'
import md5 from 'js-md5'
export default {
    data(){
        return {
            username:'',
            password:'',
            realname:'',
            phone:'',
            smsCode:'',
            recommendCode:'',
            protobuf:false, 
            request:false,
        }
    },
    methods:{
        /* 进入登录页面 */
        goLogin:function(){
            this.$store.commit('setInterActive','login')
        },
        /* 进入忘记密码页面 */
        goForgetPass:function(){
            this.$store.commit('setInterActive','forgetPass')
        },
        /* 打开条款协议 */
        openRulesPage:function(){
            window.open('/#/Rules')
        },
        /* 注册前验证 */
        shieldLogin:function(){
            /* 防抖 */
            if(this.request)    return false

            if(!this.username){
                this.$message({message:'用户名不得为空',type:'error',showClose:true})
                this.$refs.username.$el.focus()
            }else if(!/^[A-Za-z]{1}[A-Za-z0-9]{4,11}$/.test(this.username)){
                this.$message({message:'用户名由5-12个字母加数字组成，字母开头',type:'error',showClose:true})
                this.$refs.username.$el.focus()
            }else if(!this.password){
                this.$message({message:'登录密码不得为空',type:'error',showClose:true})
                this.$refs.password.$el.focus()
            }else if(!/^[A-Za-z0-9]{6,16}$/.test(this.password)){
                this.$message({message:'登录密码由6-16个字母加数字组成，区分大小写',type:'error',showClose:true})
                this.$refs.password.$el.focus()
            }else if(!this.realname){
                this.$message({message:'请填写真实姓名,否则无法提款',type:'error',showClose:true})
                this.$refs.realname.$el.focus()
            }else if(!this.smsCode){
                this.$message({message:'短信验证码不得为空',type:'error',showClose:true})
                this.$refs.smsCode.$el.focus()
            }else if(!this.protobuf){
                this.$message({message:'请确认《条款和协议》',type:'warning',showClose:true})
            }else{
                /* 注册请求 */
                const loading = this.$loading.service({lock: true,background: 'rgba(0, 0, 0, 0.7)'})
                this.request = true
                this.$http.post('/api/Member/Register',{
                    userID:this.username,
                    RealityName:this.realname,
                    password:md5(md5(this.password)),
                    recommend:this.recommendCode,
                }).then(response => {
                    this.request = false
                    loading.close()
                    const {resultCode,resultData,message} = response.data
                    /* 注册成功 */
                    if(resultCode == 1){
                        /* 组装用户基本信息 */
                        const userBasicInfo = {account:this.username,token:resultData.accessToken || ''}
                        /* 写入用户登录(默认记住用户账号) */
                        this.$helper.setUserLogin(userBasicInfo,true)
                        /* 成功提示 */
                        this.$message({message,type:'success',showClose:true})
                        /* 关闭窗口 */
                        this.$store.commit('setInterActive',false)
                    /* 注册失败 */
                    }
                })
            }

        },
    },
    beforeMount(){
        if(this.$store.state.RECOMMEND_CODE){
            this.recommendCode = this.$store.state.RECOMMEND_CODE
        }
    },
    components:{
        basicActive,
        smsCodeBtn,
        interActiveCanvas,
    }
}
</script>
<style lang="scss" scoped>
.register-box{
    width: 70%;
    box-sizing: border-box;
    margin: 0 auto 40px;
}
</style>