<template>
    <basic-active>
        <div class="basic-form">
            <h2>绑定银行卡</h2>
            <div id="select-bank-card">
                <el-scrollbar>
                    <div class="bank-card-item" v-for="(item,index) in resultData" :key="'inter-active-card-'+index">
                        <div class="title">
                            <span class="bank-name">{{item.bankName}}</span>
                            <span class="card-type">储蓄卡</span>
                        </div>
                        <div class="card-number">
                            {{item.cardNumber}}
                        </div>
                    </div>
                </el-scrollbar>
                <div class="create-bank-card" @click="bindBankCard">
                    <i class="iconfont icon-plus-circle-outline"></i>
                    <span>添加银行卡</span>
                </div>
            </div>
        </div>
    </basic-active>
</template>
<script>
import basicActive from './basic'
export default {
    created(){
        this.getDatas()
    },
    data(){
        return {
            resultData:false,                               /* 列表数据 */
        }
    },
    methods:{
        getDatas:function(){
            this.$http.post('api/Member/GetUserBankList',{
                pageIndex: 0,
                pageSize: 0,
            }).then(response => {
                const {resultCode,resultData} = response.data
                /* 请求成功 */
                if(resultCode == 1){
                    const {userBankList=[]} = resultData
                    if(Array.isArray(userBankList) && userBankList.length){
                        this.resultData = userBankList
                    }
                }
            })
        },
        /* 绑定银行卡 */
        bindBankCard:function(){
            this.$store.commit('setInterActive','bindBankCard')
        },
    },
    components:{
        basicActive
    }
}
</script>
<style lang="scss">
#select-bank-card{
    width: 450px;
    box-sizing: border-box;
    padding: 2rem;
    .el-scrollbar{
        height: 45vh;
        .bank-card-item{
            background-color: #303c4c;
            border-radius: 1rem;
            color: white;
            box-sizing: border-box;
            padding: 1.5rem 2rem;
            .title{
                display: flex;
                align-items: center;
                font-size: 1.3rem;
                .card-type{
                    display: inline-block;
                    color: gray;
                    font-size: 1rem;
                    margin: 2px 0 0 .5rem;
                }
            }
            .card-number{
                font-size: 2rem;
                font-weight: 400;
                margin-top: 2rem;
            }
        }
    }
    .create-bank-card{
        display: flex;
        align-items: center;
        border: 2px dashed #979797;
        border-radius: 6px;
        font-size: 1.5rem;
        box-sizing: border-box;
        padding: .5rem 1rem;
        cursor: pointer;
        .iconfont{
            font-size: 4rem;
            color: #44d7b6;
            margin-right: 1rem;
        }
    }
}
</style>