<template>
    <basic-active>
        <!-- 表单 -->
        <div class="basic-form">
            <h2>修改手机号码</h2>
            <div id="update-user-phone">
                <!-- 当前密码 -->
                <md-field>
                    <label>请输入当前密码</label>
                    <md-input type="password" placeholder="当前密码" v-model.trim="pass"></md-input>
                </md-field>
                <!-- 新手机号码 -->
                <div class="form-7-3">
                    <md-field>
                        <label>请填写新手机号码</label>
                        <md-input type="number" placeholder="手机" v-model.trim="phone"></md-input>
                    </md-field>
                    <!-- 点击发送短信验证码 -->
                    <sms-code-btn></sms-code-btn>
                </div>
                <!-- 短信验证码 -->
                <md-field>
                    <label>请填写接收到的短信验证码</label>
                    <md-input placeholder="短信验证码"></md-input>
                </md-field>
                <p style="margin-top:3.1rem;">
                    <button class="shadow btn-xxl btn-block">提交</button>
                </p>
            </div>
        </div>
    </basic-active>
</template>
<script>
import basicActive from './basic'
import smsCodeBtn from '@/components/common/smsCodeBtn'
export default {
    data(){
        return {
            pass:'',
            phone:'',
        }
    },
    components:{
        basicActive,
        smsCodeBtn
    }
}
</script>
<style lang="scss" scoped>
#update-user-phone{
    width: 280px;
    margin: 0 auto 26px;
}
</style>