<template>
    <basic-active>
        <!-- 表单 -->
        <div class="basic-form">
            <h2>修改密码</h2>
            <div id="update-user-pass" @keyup.13.prevent="shieldSubmit">
                <!-- 旧密码 -->
                <md-field>
                    <label>请输入当前密码</label>
                    <md-input type="password" placeholder="旧密码" v-model.trim="oldPass" ref="oldPass"></md-input>
                </md-field>
                <!-- 新密码 -->
                <md-field>
                    <label>由6-16个字母加数字组成，区分大小写</label>
                    <md-input type="password" placeholder="新密码" v-model.trim="newPass" ref="newPass"></md-input>
                </md-field>
                <!-- 确认密码 -->
                <md-field>
                    <label>必须与新密码一致</label>
                    <md-input type="password" placeholder="确认密码" v-model.trim="newPass2" ref="newPass2"></md-input>
                </md-field>
                <p style="margin-top:3.1rem;">
                    <button class="shadow btn-xxl btn-block" @click.prevent="shieldSubmit">提交</button>
                </p>
            </div>
        </div>
    </basic-active>
</template>
<script>
import basicActive from './basic'
export default {
    data(){
        return {
            oldPass:'',
            newPass:'',
            newPass2:'',
            request:false,
        }
    },
    methods:{
        /* 提交表单前验证 */
        shieldSubmit:function(){
            /* 防抖 */
            if(this.request)    return false

            if(!this.oldPass){
                this.$message({message:'请输入当前密码',type:'error',showClose:true})
                this.$refs.oldPass.$el.focus()
            }else if(!this.newPass){
                this.$message({message:'请输入新密码',type:'error',showClose:true})
                this.$refs.newPass.$el.focus()
            }else if(!/^[A-Za-z0-9]{6,16}$/.test(this.newPass)){
                this.$message({message:'由6-16个字母加数字组成，区分大小写',type:'error',showClose:true})
                this.$refs.newPass.$el.focus()
            }else if(!this.newPass2){
                this.$message({message:'请确认新密码',type:'error',showClose:true})
                this.$refs.newPass2.$el.focus()
            }else if(this.oldPass == this.newPass){
                this.$message({message:'新旧密码不可一致',type:'error',showClose:true})
                this.$refs.newPass.$el.focus()
            }else if(this.newPass2 != this.newPass){
                this.$message({message:'两次密码输入不一致',type:'error',showClose:true})
                this.$refs.newPass2.$el.focus()
            }else{
                /* 发起请求 */
                this.request = true
                const loading = this.$loading.service({lock: true,background: 'rgba(0, 0, 0, 0.7)'})

                this.$http.post('api/Member/ModifyPassword',{
                    oldPassword:md5(md5(this.oldPass)),
                    newPassword:md5(md5(this.newPass)),
                }).then(response => {

                    this.request = false
                    loading.close()

                    const {resultCode} = response.data
                    /* 更改成功 */
                    if(resultCode == 1){
                        /* 成功提示 */
                        this.$message({message:'修改密码成功',type:'success',showClose:true})
                        /* 关闭面板 */
                        this.$store.commit('setInterActive',false)
                    }
                })
            }
        },
    },
    components:{
        basicActive,
    }
}
</script>
<style lang="scss" scoped>
#update-user-pass{
    width: 280px;
    margin: 0 auto 26px;
}
</style>