<template>
    <basic-active>
        <!-- 表单 -->
        <div class="basic-form">
            <h2>完善个人信息</h2>
            <div id="ia-update-user-info" @keyup.13.prevent="shieldSubmit">
                <!-- 昵称 -->
                <p class="flex-box flex-left">
                    <label style="padding-top:1rem;">昵称</label>
                    <md-field>
                        <label>请输入昵称</label>
                        <md-input placeholder="请输入昵称" v-model.trim="nickName" ref="nickName"></md-input>
                    </md-field>
                </p>
                <!-- 真实姓名 -->
                <p class="flex-box flex-left">
                    <label style="padding-top:1rem;">真实姓名</label>
                    <md-field>
                        <label>真实姓名不可修改</label>
                        <md-input v-model.trim="realityName" ref="realityName" disabled ></md-input>
                    </md-field>
                </p>
                <!-- 性别 -->
                <p class="flex-box flex-left">
                    <label>性别</label>
                    <md-radio v-model="sex" :value="true">男</md-radio>
                    <md-radio v-model="sex" :value="false">女</md-radio>
                </p>
                <!-- 生日 -->
                <p class="flex-box flex-left">
                    <label style="padding-top:1rem;">生日</label>
                    <md-field>
                        <label>请输入您的生日</label>
                        <md-input placeholder="请输入您的生日" type="date" v-model.trim="birthDay" ref="birthDay"></md-input>
                    </md-field>
                </p>
                <!-- 身份证号码 -->
                <p class="flex-box flex-left">
                    <label style="padding-top:1rem;">身份证号</label>
                    <md-field>
                        <label>请输入您的身份证号码</label>
                        <md-input placeholder="请输入您的身份证号码" v-model.trim="idcardNumber" ref="idcardNumber" ></md-input>
                    </md-field>
                </p>
                <!-- 所在城市 -->
                <p class="flex-box flex-left">
                    <label style="padding-top:1rem;">所在城市</label>
                    <md-field>
                        <label>请输入您的所在城市</label>
                        <md-input placeholder="请输入您的所在城市" v-model.trim="cityID" ref="cityID" ></md-input>
                    </md-field>
                </p>
                <!-- 地址 -->
                <p class="flex-box flex-left">
                    <label style="padding-top:1rem;">地址</label>
                    <md-field>
                        <label>请输入您的地址</label>
                        <md-input placeholder="请输入您的地址" v-model.trim="address" ref="address" ></md-input>
                    </md-field>
                </p>
                <!-- QQ -->
                <p class="flex-box flex-left">
                    <label style="padding-top:1rem;">QQ</label>
                    <md-field>
                        <label>请输入您的QQ</label>
                        <md-input placeholder="请输入您的QQ" v-model.trim="qq" ref="qq" ></md-input>
                    </md-field>
                </p>
                <!-- 邮箱地址 -->
                <p class="flex-box flex-left">
                    <label style="padding-top:1rem;">邮箱</label>
                    <md-field>
                        <label>请输入您的邮箱</label>
                        <md-input placeholder="请输入您的邮箱" v-model.trim="email" ref="email" ></md-input>
                    </md-field>
                </p>
                <!-- 提交按钮 -->
                <p style="padding-top:3.1rem;">
                    <button class="shadow btn-xxl btn-block" @click.prevent="shieldSubmit">提交</button>
                </p>
            </div>

        </div>
    </basic-active>
</template>
<script>
import basicActive from './basic'
export default {
    created(){
        /* 写入默认值 */
        this.nickName = this.USERINFO.nickName || ''
        this.realityName = this.USERINFO.realityName || ''
        this.sex = this.USERINFO.sex || true
        this.birthDay = this.USERINFO.birthDay || ''
        this.idcardNumber = this.USERINFO.idcardNumber || ''
        this.cityID = this.USERINFO.cityID || ''
        this.address = this.USERINFO.address || ''
        this.qq = this.USERINFO.qq || ''
        this.email = this.USERINFO.email || ''
    },
    data(){
        return {
            nickName:'',
            realityName:'',
            sex:true,
            birthDay:'',
            idcardNumber:'',
            cityID:'',
            address:'',
            qq:'',
            email:'',
        }
    },
    computed:{
        USERINFO:function(){
            return this.$store.state.USERINFO
        },
    },
    methods:{
        shieldSubmit:function(){
            /* 防抖 */
            if(this.request)    return false

            /* 发起请求 */
            this.request = true
            const loading = this.$loading.service({lock: true,background: 'rgba(0, 0, 0, 0.7)'})

            this.$http.post('api/Member/UpdateUserBaseInfo',{
                nickName: this.nickName,
                sex: this.sex,
                birthDay: this.birthDay,
                idcardNumber: this.idcardNumber,
                cityID: this.cityID,
                address: this.address,
                qq: this.qq,
                email: this.email,
            }).then(response => {
                this.request = false
                loading.close()

                const {resultCode} = response.data
                /* 更改成功 */
                if(resultCode == 1){
                    /* 成功提示 */
                    this.$message({message:'完善个人信息成功',type:'success',showClose:true})
                    this.$store.dispatch('refreshUserInfo')
                    /* 关闭面板 */
                    this.$store.commit('setInterActive',false)
                }

            })
        }
    },
    components:{
        basicActive,
    }
}
</script>
<style lang="scss" scoped>
#ia-update-user-info{
    width: 400px;
    margin: 0 auto 26px;
    box-sizing: border-box;
    padding: 0 30px;
    >p{
        margin: 0 !important;
    }
}
</style>