<template>
    <basic-active>
        <div class="basic-form ia-box">
            <h2>{{article.title}}</h2>
            <div id="ia-us-message-detail">
                <!-- 标题标签 -->
                <div class="title-tips">
                    <i class="iconfont icon-alarm"></i>
                    <span>{{article.sendDate}}</span>
                </div>
                <!-- 内容正文 -->
                <div class="ia-box-content">
                    <md-content class="md-scrollbar" >
                        {{article.content}}
                    </md-content>
                </div>

            </div>
        </div>
    </basic-active>
</template>
<script>
import basicActive from './basic'
export default {
    created(){
        const {messageId = false} = this.$parent.IA_COMPONENT_DATA
        if(!messageId){
            this.$store.commit('setInterActive',false)
        }else{
            /* 请求消息详情 */
            const loading = this.$loading.service({lock: true,background: 'rgba(0, 0, 0, 0.7)'})
            this.$http.post('api/Member/GetMsgMessageInfo',{
                mid:messageId,
            }).then(response => {
                loading.close()

                const {resultCode,resultData} = response.data
                /* 请求成功 */
                if(resultCode == 1){
                    this.article = resultData
                }
            })
        }    
    },
    data(){
        return {
            article:false,
        }
    },
    components:{
        basicActive,
    }
}
</script>
<style lang="scss" scoped>
#ia-us-message-detail{
    width: 600px;
    min-height: 600px;
    .md-content{
        height: 500px;
    }
}
</style>