<template>
    <div id="bet-controller">
        <div class="tab-list2">
            <div class="tab-list-item" :class="tabKey == 1 ? 'tab-list-item-active' : null" @click.prevent="tabKey = 1">投注列表</div>
            <div class="tab-list-item" :class="tabKey == 2 ? 'tab-list-item-active' : null" @click.prevent="tabKey = 2">投注记录</div>
        </div>
        <!-- 投注列表 -->
        <bet-controller-view1 v-show="tabKey == 1"></bet-controller-view1>
        <!-- 投注记录 -->
        <bet-controller-view2 v-if="tabKey == 2"></bet-controller-view2>
    </div>
</template>
<script>
import betControllerView1 from '@/components/common/betControllerView1'
import betControllerView2 from '@/components/common/betControllerView2'

export default {
    created(){
        /* 跨组件指定tabKey */
        const _this = this
        window.eventBus.$on('setBetControlerView',tabKey => {
            _this.tabKey = tabKey
        })
    },
    data(){
        return {
            tabKey:1,                       /* 1:投注列表      2：投注记录 */
        }
    },
    beforeDestory(){
        window.eventBus.$off('setBetControlerView')
    },
    components:{
        betControllerView1,
        betControllerView2
    }
}
</script>
<style lang="scss">
#bet-controller{
    width: 280px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    >.tab-list2{
        height: 50px;
        >.tab-list-item{
            width: 50%;
            line-height: 50px;
        }
    }
    >.bet-content{
        position: relative;
        background-color:$theme-panel-bg-color;
        >.bet-tab-box{
            display: flex;
            box-sizing: border-box;
            padding: 10px 10px 0;
            background-color: $theme-bg-active-color;
            justify-content: center;
        }
        >.controller{
            /* 投注列表 */
            >.esports-odds-list{
                >.esports-odds-list-content{
                    background-color: $theme-bg-active-color;
                    box-sizing: border-box;
                    padding: 10px 0 10px 10px;
                }
                /* 暂无注单 */
                &.no-data{
                    height: 200px;
                    color: white;
                    background-color: $theme-bg-active-color;
                }
            }
            /* 统计展示 */
            >.message-view{
                box-sizing: border-box;
                padding: 10px;
                line-height: 2rem;
                >.hr-box{
                    margin: .75rem 0;
                }
                >.btn-group{
                    >button{
                        width: 47%;
                        height: 30px;
                        border-radius: 2px;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
                p.flex-box{
                    margin-top: .5rem;
                }
                /* 接收赔率变化 */
                >.accept-odds-change{
                    .md-checkbox{
                        margin: 0;
                    }
                }
            }
            /* 请求中 */
            >.controller-loading{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: rgba(0,0,0,.65);
                z-index: 50;
                display: flex;
                align-items: center;
                justify-content: center;
                >img{
                    animation: loading-rotate 4s linear infinite;
                }
            }
        }
    }
}
</style>