<template>
    <div>
        <!-- 下划线 -->
        <div class="hr-box">
            <hr/>
        </div>
        <!-- 玩法名称 -->
        <div class="row flex-box flex-space-between">
            <div class="l">
                <img :src="egameLogo" class="e-logo">
                <span class="white">{{playSortName}}</span>
                <span class="white"> - </span>
                <span class="white">{{playName}}</span>
            </div>
            <div class="r"></div>
        </div>
        <!-- 参与队伍标题 -->
        <div class="row flex-box flex-space-between">
            <div class="l">{{team}}</div>
            <div class="r"></div>
        </div>
        <!-- 投注方队伍 赔率 -->
        <div class="row flex-box flex-space-between">
            <div class="l white">{{oddsName}}</div>
            <div class="r mcolor">@{{odds}}</div>
        </div>
        <!-- 开赛时间及投注状态 -->
        <div class="row flex-box flex-space-between">
            <div class="l">开赛时间：{{matchDateTime}}</div>
        </div>

    </div>
</template>
<script>
export default {
    props:['data'],
    computed:{
        /* 玩法组名称 */
        playSortName:function(){
            return this.data.playSortName || ''
        },
        /* 玩法名称 */
        playName:function(){
            return this.data.playName || ''
        },
        /* 参与队伍标题 */
        team:function(){
            return this.data.team || ''
        },
        /* 投注方队伍名称 */
        oddsName:function(){
            return this.data.oddsName || ''
        },
        /* 赔率 */
        odds:function(){
            return this.data.odds || 1
        },
        /* 开赛时间 */
        matchDateTime:function(){
            return this.data.matchDateTime || ''
        },
        /* 游戏logo */
        egameLogo:function(){
            return this.data.egameLogo || ''
        },
    },
}
</script>