<template>
    <div class="bet-controller-shell">
        <div class="bet-controller-item" :style="ESPORTS_ODDS_ITEM_BET_RESULT ? {borderColor:'rgb(180,60,60)'} : ''">
            <!-- 头部 -->
            <div class="head padding-box padding-box-0-10">
                <!-- 当前玩法名称 -->
                <span>{{playName}}</span>
                <!-- 删除本次投注 -->
                <span class="close" @click.prevent="closeThisItem">
                    <i class="iconfont icon-close"></i>
                </span>
            </div>
            <!-- 投注操作区域 -->
            <div class="cons padding-box padding-box-10">
                <!-- 展示参与玩法队伍的名称 -->
                <div class="row title" v-html="title"></div>
                <!-- 投注位置名称及 赔率 / 锁定状态  -->
                <div class="row flex-box flex-space-between">
                    <!-- 投注位置名称 -->
                    <span class="white">{{oddsName}}</span>
                    <!-- 赔率 -->
                    <span v-if="ESPORTS_ODDS_ITEM_ODDS !== false" class="mcolor" :class="ESPORTS_ODDS_ITEM_STATUS ? 'ods' : ''">
                        <span v-if="ESPORTS_ODDS_IS_LOCK"><i class="iconfont icon-lock"></i></span>
                        <span v-else>@{{ESPORTS_ODDS_ITEM_ODDS}}</span>
                    </span>
                </div>
                <template v-if="ESPORTS_ODDS_MODE == 1 && !ESPORTS_ODDS_IS_LOCK">
                    <!-- 金额输入器 -->
                    <div class="row flex-box flex-space-between flex-center l-r-box">
                        <div class="l">
                            <input type="text" class="input-txt2" placeholder="投注额" v-model.trim="MONEY" ref="money" @blur.capture="shieldMoney">
                        </div>
                        <div class="r">
                            <span>可赢额：</span>
                            <span class="mcolor">{{USER_ODDS_ITEM_WIN_MONEY}}</span>
                        </div>
                    </div>
                    <!-- 下划线 -->
                    <div class="hr-box">
                        <hr/>
                    </div>
                    <!-- 快速增加金额 -->
                    <div class="row quick-plus-money">
                        <button @click.prevent="plusMoney(10)" class="btn-silver" style="margin-bottom:.75rem;">+10</button>
                        <button @click.prevent="plusMoney(20)" class="btn-silver" style="margin-bottom:.75rem;">+20</button>
                        <button @click.prevent="plusMoney(50)" class="btn-silver" style="margin-bottom:.75rem;">+50</button>
                        <button @click.prevent="plusMoney(100)" class="btn-silver">+100</button>
                        <button @click.prevent="plusMoney(500)" class="btn-silver">+500</button>
                        <button @click.prevent="plusMoney(1000)" class="btn-silver">+1000</button>
                    </div>
                    <!-- 清除金额 及 最大限额展示 -->
                    <div class="row quick-plus-money-info">
                        <div class="l">
                            <button class="btn-dark shadow" @click.prevent="clearMoney">清除</button>
                        </div>
                        <div class="r" v-if="maxMoney">
                            <span>最大投注额：</span>
                            <span class="mcolor">{{maxMoney}}</span>
                        </div>
                    </div>
                </template>
            </div>

            <!-- 提示信息 -->
            <div class="remind flex-box flex-left" v-if="!canCombine">
                <i class="iconfont icon-alert"></i>
                <span class="white">该选项暂不支持串关投注</span>
            </div>

        </div>
    </div>
</template>
<script>
import BigNumber from 'bignumber.js'
export default {
    props:['data'],
    computed:{

        /* 玩家选择投注模式  默认 1 单关 */
        ESPORTS_ODDS_MODE:function(){
            return this.$store.state.ESPORTS_ODDS_MODE
        },

        /* ##############   通过props   ############### */

        /* 投注id */
        edoid:function(){
            return this.data.edoid || false
        },
        /* 当前玩法名称 */
        playName:function(){
            return this.data.playName || ''
        },
        /* （客户端认为）当前比赛是否为滚盘 */
        isStarted:function(){
            return this.data.isStarted || false
        },

        /* 当前投注额 */
        MONEY:{
            get:function(){
                let result = 0
                const money = this.data.money || ''
                if(typeof money == 'number'){
                    /* 已经设注 */
                    if(money){
                        result = money
                    /* 尚未投注 */
                    }else{
                        result = this.minMoney || money
                    }
                }
                return result
            },
            /* 监听投注额输入  必须为整数且处于最大最小投注金额区间 */
            set:function(inputValue){
                if(inputValue){
                    let filterValue = inputValue.toString().replace(/\D/g,'')
                    /* 一、用户输入非整数 */
                    if(inputValue != filterValue){
                        this.$refs.money.value = filterValue
                        return false
                    }else{
                        /* 二、用户输入整数 判断是否大于最大投注额 */
                        filterValue = parseInt(filterValue)
                        if(this.maxMoney && filterValue > this.maxMoney){
                            /* 提示并重置 */
                            this.$message({message:`最大投注 ${this.maxMoney}`,type:'error',showClose:true})
                            this.$refs.money.value = this.maxMoney
                            if(this.MONEY != this.maxMoney){
                                this.$store.commit('updateUserOddsItem',{
                                    arrayIndex:this.stateIndex,
                                    newObject:{
                                        money:this.maxMoney
                                    }
                                })
                            }
                        /* 三、写入state 以触发 getters 进行计算 */
                        }else{
                            this.$store.commit('updateUserOddsItem',{
                                arrayIndex:this.stateIndex,
                                newObject:{
                                    money:filterValue
                                }
                            })
                        }
                    }
                /* 四、用户删除投注额至空 提示最小投注额 */
                }else{
                    if(this.minMoney){
                        this.$message({message:`${this.playName} - ${this.oddsName} 最小投注 ${this.minMoney}`,type:'warning',showClose:true})
                        this.$store.commit('updateUserOddsItem',{
                            arrayIndex:this.stateIndex,
                            newObject:{
                                money:0
                            }
                        })
                    }
                }
            },
        },
        /* 最大投注金额 */
        maxMoney:function(){
            return this.data.maxMoney ? parseInt(this.data.maxMoney) : 0
        },
        /* 最小投注金额 */
        minMoney:function(){
            return this.data.minMoney ? parseInt(this.data.minMoney) : 0
        },
        /* 展示参与玩法队伍们的名称 */
        title:function(){
            return this.data.title || ''
        },
        /* 当前投注是否支持串关 */
        canCombine:function(){
            return this.data.canCombine || false
        },
        /* 投注方名称 */
        oddsName:function(){
            return this.data.oddsName || ''
        },
        /* 获取投注赔率(Str) */
        ESPORTS_ODDS_ITEM_ODDS:function(){
            return this.data.odds || '0.00'
        },
        /* 获取投注（允许投注）状态 */
        ESPORTS_ODDS_ITEM_BET_STATE:function(){
            return this.data.betState
        },
        /* 投注是否需要锁住 */
        ESPORTS_ODDS_IS_LOCK:function(){
            let result  = false
            if(this.ESPORTS_ODDS_ITEM_ODDS == '0.00'){
                result = true
            }else if(!this.ESPORTS_ODDS_ITEM_BET_STATE){
                result = true
            }else if(this.ESPORTS_ODDS_ITEM_BET_RESULT){
                result = true
            }
            return result
        },
        /* 获取投注（已经提交过，被拦截）状态 */
        ESPORTS_ODDS_ITEM_BET_RESULT:function(){
            return this.data.betResult || 0
        },
        /* 投注赔率状态(变化) */
        ESPORTS_ODDS_ITEM_STATUS:function(){
            return this.data.oddsState || 0
        },
        /* 用户投注列表 */
        MAP_USER_ODDS_LIST:function(){
            return this.$store.getters.MAP_USER_ODDS_LIST
        },
        /* 用户投注对象 */
        USER_ODDS_ITEM:function(){
            let result = false
            if(this.edoid && this.MAP_USER_ODDS_LIST && this.MAP_USER_ODDS_LIST.has(this.edoid)){
                result = this.MAP_USER_ODDS_LIST.get(this.edoid)
            }
            return result
        },
         /* 用户投注可赢取金额 */
        USER_ODDS_ITEM_WIN_MONEY:function(){
            return this.USER_ODDS_ITEM.winMoney || 0
        },
        /* 当前投注位于投注列表（state)中的数组下标 */
        stateIndex:function(){
            return this.USER_ODDS_ITEM.arrayIndex || 0
        },
    },
    methods:{
        /* 删除本次投注 */
        closeThisItem:function(){
            if(this.stateIndex !== false){
                this.$store.commit('removeUserOddsItem',this.stateIndex)
            }
        },
        /* 快速增加投注额 */
        plusMoney:function(plusMoney){
            const baseMoney = this.MONEY ? parseInt(this.MONEY) : false
            this.MONEY = baseMoney ? baseMoney + plusMoney : plusMoney
        },
        /* 清除投注金额 */
        clearMoney:function(){
            this.MONEY = ''
        },
        /* 测试本次投注 修正投注金额 */
        testOdds:function(){
            let money = parseInt(this.MONEY)
            if(money < this.minMoney){
                money = this.minMoney
            }else if(money > this.maxMoney){
                money = this.maxMoney
            }
            return money
        },
        /* 表单失焦检查金额是否达到最小金额 */
        shieldMoney:function(){
            let money = parseInt(this.MONEY)
            if(money < this.minMoney){
                this.$message({message:`${this.playName} - ${this.oddsName} 最小投注 ${this.minMoney}`,type:'warning',showClose:true})
                this.MONEY = this.minMoney
            }
        },
    },
}
</script>
<style lang="scss">
.bet-controller-shell{
    box-sizing: border-box;
    padding-right: 10px;
    .bet-controller-item{
        position: relative;
        cursor: pointer;
        border: 1px solid #5e592d;
        margin-bottom: 10px;
        overflow-x: hidden;
        background: #34393f;
        box-shadow: 0 1px 10px 0 rgba(0,0,0,.15);
        /* 头部 */
        .head{
            height: 34px;
            line-height: 34px;
            background-color:$theme-panel-bg-color;
            display: flex;
            justify-content: space-between;
            >.close{
                color: #ff6caa;
            }
        }
        /* 内容正文 */
        .cons{
            .row{
                &.title{
                    >span{
                        display: inline-block;
                        &.VS{
                            color: #787e8a;
                            font-style: normal;
                            font-weight: 600;
                            margin: 0 10px;
                        }
                    }
                }
                &.l-r-box{
                    .l{
                        width: 45%;
                        >input{
                            width: 100%;
                        }
                    }
                }
                /* 状态变化提示 */
                .ods{
                    width: 50px;
                    height: 20px;
                    line-height: 19px;
                    color: #fff !important;
                    background: #954d72;
                    border-radius: 2px;
                    text-align: center;
                }
            }
            /* 快速增加投注金额 */
            .quick-plus-money{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                >button{
                    display: block;
                    width: 31%;
                    font: 12px/1.5 Microsoft YaHei,Tahoma,Helvetica,Arial,simsun;
                    flex-shrink: 0;
                    line-height: 2rem;
                    letter-spacing: .5px;
                }
            }
            /* 快速增加投注金额 下方的信息展示 */
            .quick-plus-money-info{
                margin-top: .85rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                >.l{
                    width: 32%;
                    >button{
                        font: 12px/1.5 Microsoft YaHei,Tahoma,Helvetica,Arial,simsun;
                        width: 100%;
                        display: block;
                        line-height: 2rem;
                    }
                }
            }
        }
        /* 提示信息 */
        .remind{
            background: #5e592d;
            >.iconfont{
                margin-top: .25rem;
                margin-left: .75rem;
                margin-right: .25rem;
                font-size: 14px;
                color: #ffe87a;
            }
        }

        /* 下划线容器 */
        .hr-box{
            margin: 1rem 0;
            >hr{
                background-color: #25292e !important;
                &::after{
                    background-color: #40454b !important;
                }
            }
        }
    }
}
</style>