<template>
    <div class="bet-content" id="bet-controller-view2" >
        <!-- 切换结算状态 -->
        <div class="bet-tab-box">
            <div class="tab-list3">
                <div class="tab3-item" :class="orderStatus == 1 ? 'tab3-item-active' : null" @click.prevent="changeOrderStatus(1)">未结算</div>
                <div class="tab3-item" :class="orderStatus == 2 ? 'tab3-item-active' : null" @click.prevent="changeOrderStatus(2)">已结算</div>
            </div>
        </div>
        <!-- 未结算 -->
        <bet-controller-view2-mode1 v-show="orderStatus == 1"></bet-controller-view2-mode1>
        <!-- 已结算 -->
        <bet-controller-view2-mode2 v-show="orderStatus == 2"></bet-controller-view2-mode2>
    </div>
</template>
<script>
import betControllerView2Mode1 from '@/components/common/betControllerView2Mode1'
import betControllerView2Mode2 from '@/components/common/betControllerView2Mode2'
export default {
    created(){
        /* 拉取投注记录数据 */
        if(this.USERINFO)   this.getDatas()
        /* 监听投注记录变化 */
        window.eventBus.$on('listenBetChange',this.getDatas)
    },
    data(){
        return {
            orderStatus:1,                                  /* 1：未结算   2：已结算 */
            loading:false,                                  /* 请求状态 */
            resultData:false,                               /* 接口数据 */
        }
    },
    computed:{
        /* 数据结果1 未结算 */
        resultData1:function(){
            let result = false
            if(Array.isArray(this.resultData) && this.resultData.length){
                result = this.resultData.filter(item => item.openState == 0).splice(0,5)
            }
            return result
        },
        /* 数据结果2 已结算 */
        resultData2:function(){
            let result = false
            if(Array.isArray(this.resultData) && this.resultData.length){
                result = this.resultData.filter(item => item.openState == 1).splice(0,5)
            }
            return result
        },
        /* 返回用户登录状态 */
        USERINFO:function(){
            return this.$store.state.USERINFO
        },
    },
    methods:{
        /* 更换结算状态展示 */
        changeOrderStatus:function(status){
            this.orderStatus = status
        },
        /* 拉取投注记录数据 */
        getDatas:function(){
            this.loading = true
            this.$http.post('api/Member/GetUserBetsList',{
                startDate:this.$helper.getMonthFirst(),
                endDate:this.$helper.getMonthLast(),
                pageIndex:0,
                pageSize:0,
                betState:'',
                openState:'',
            }).then(response => {
                this.loading = false
                const {resultCode,resultData} = response.data
                if(resultCode == 1){
                    const {userBetsList} = resultData
                    this.resultData = userBetsList
                }
            }).catch(()=>{
                this.loading = false
            })
        }
    },
    watch:{
        USERINFO:function(newVal,oldVal){
            if(newVal && !oldVal){
                this.getDatas()
            }
        },
    },
    beforeDestroy(){
        window.eventBus.$off('listenBetChange',this.getDatas)
    },
    components:{
        betControllerView2Mode1,
        betControllerView2Mode2
    }
}
</script>
<style lang="scss">
#bet-controller-view2{
    /* 注单列表 */
    .el-scrollbar{
        height: calc(100vh - 330px);
    }
}
</style>