<template>
    <div class="bet-controller-record-item">
        <div class="bet-controller-item">
            <!-- 头部 -->
            <div class="head padding-box padding-box-0-10">
                <!-- 当前标题名称 -->
                <span class="white">{{recordTitle}}</span>
                <span class="betStateName">{{betStateName}}</span>
            </div>
            <!-- 投注信息展示 -->
            <div class="cons padding-box padding-box-10">
                <!-- 订单号 -->
                <div class="row flex-box flex-center flex-space-between bid">
                    <span class="l">订单号</span>
                    <span class="r mcolor" @click="$helper.copyHandle(bid,'订单号复制成功')">点击复制</span>
                </div>
                <!-- 下注时间 -->
                <div class="row flex-box flex-center flex-space-between">
                    <span class="l">下注时间</span>
                    <span class="r">{{betDateTime}}</span>
                </div>
                <!-- 总赔率 -->
                <div class="row flex-box flex-center flex-space-between">
                    <span class="l">总赔率</span>
                    <span class="r mcolor">@{{oddsTotal}}</span>
                </div>
                <!-- 下注额 预计可赢 -->
                <div class="row flex-box flex-center flex-space-between">
                    <div class="l">
                        <span>下注额：</span>
                        <span class="mcolor">￥{{money}}</span>
                    </div>
                    <!-- 未结算状态 -->
                    <div class="r" v-if="openState == 0">
                        <span>预计可赢：</span>
                        <span class="white">￥{{takeMoney}}</span>
                    </div>
                    <!-- 已结算状态 -->
                    <div class="r" v-if="openState == 1" >
                        <span>盈利：</span>
                        <span class="mcolor">￥{{winMoney}}</span>
                    </div>
                </div>
                <!-- 具体投注细节 -->
                <bet-controller-record-item-detail v-for="(item,index) in userBetsDetailsList"
                :data="item"
                :key="'bet-record-item-detail-'+ bid + '-' + index"></bet-controller-record-item-detail>
            </div>
        </div>
    </div>
</template>
<script>
import BigNumber from 'bignumber.js'
import betControllerRecordItemDetail from '@/components/common/betControllerRecordItemDetail'
export default {
    props:['data'],
    computed:{
        /* 投注标题 */
        recordTitle:function(){
            let result = '单关'
            if(Array.isArray(this.userBetsDetailsList) && this.userBetsDetailsList.length > 1){
                result = `串关（${this.userBetsDetailsList.length}串1）`
            }
            return result
        },
        /* 投注具体列表 */
        userBetsDetailsList:function(){
            return this.data.betsDetails || false
        },
        /* 订单号 */
        bid:function(){
            return this.data.bid || ''
        },
        /* 下注时间 */
        betDateTime:function(){
            return this.data.betDateTime || ''
        },
        /* 下注金额 */
        money:function(){
            return this.data.money || 0
        },
        /* 盈利金额 */
        winMoney:function(){
            return this.data.winMoney || 0
        },
        /* 投注状态名称 */
        betStateName:function(){
            return this.data.betStateName || ''
        },
        /* 返回结算状态 */
        openState:function(){
            return this.data.openState || 0
        },
        /* 总赔率 */
        oddsTotal:function(){
            return this.data.oddsTotal || 0
        },
        /* 预计可赢金额 */
        takeMoney:function(){
            return this.data.expectedWinMoney || 0
        },
    },
    created() {
        // console.log(this.data)
    },
    components:{
        betControllerRecordItemDetail
    }
}
</script>
<style lang="scss">
.bet-controller-record-item{
    box-sizing: border-box;
    padding-right: 10px;
    .bet-controller-item{
        position: relative;
        cursor: pointer;
        margin-bottom: 10px;
        overflow-x: hidden;
        background: #34393f;
        box-shadow: 0 1px 10px 0 rgba(0,0,0,.15);
        /* 头部 */
        .head{
            height: 34px;
            line-height: 34px;
            background-color:$theme-panel-bg-color;
            display: flex;
            justify-content: space-between;
            align-items: center;
            /* 投注状态 */
            .betStateName{
                display: block;
                height: 20px;
                line-height: 18px;
                padding: 1px 8px;
                background: $theme-font-dark-color2;
                color: white;
                border-radius: 2px;
            }
        }
        /* 内容正文 */
        .cons{
            .row{
                color:#8e949f;
                margin: 3px 0;
                &.bid{
                    .l{
                        flex-shrink: 0;
                        width: 40%;
                    }
                    .r{
                        text-align: right;
                    }
                }
            }
        }
    }

    /* 下划线容器 */
    .hr-box{
        margin: 1rem 0;
        >hr{
            background-color: #25292e !important;
            &::after{
                background-color: #40454b !important;
            }
        }
    }

}
</style>