<template>
    <div class="bet-content" id="bet-controller-view1">
        <!-- 切换单关 / 串关 -->
        <div class="bet-tab-box">
            <div class="tab-list3">
                <div class="tab3-item" :class="ESPORTS_ODDS_MODE == 1 ? 'tab3-item-active' : null" @click.prevent="changeOddsMode(1)">单关</div>
                <div class="tab3-item" :class="ESPORTS_ODDS_MODE == 2 ? 'tab3-item-active' : null" @click.prevent="changeOddsMode(2)">串关</div>
            </div>
        </div>
        <!-- 单关投注 -->
        <bet-controller-view1-mode1 v-show="ESPORTS_ODDS_MODE == 1"></bet-controller-view1-mode1>
        <!-- 串关投注 -->
        <bet-controller-view1-mode2 v-show="ESPORTS_ODDS_MODE == 2"></bet-controller-view1-mode2>
    </div>
</template>
<script>
import betControllerView1Mode1 from '@/components/common/betControllerView1Mode1'
import betControllerView1Mode2 from '@/components/common/betControllerView1Mode2'
import BigNumber from 'bignumber.js'
export default {
    data(){
        return {
            accept:true,                        /* 接受赔率变化 */

        }
    },
    computed:{
        /* 玩家选择投注模式  默认 1 单关 */
        ESPORTS_ODDS_MODE:function(){
            return this.$store.state.ESPORTS_ODDS_MODE
        },
        /* 玩家投注列表 (单关) */
        USER_ODDS_LIST:function(){
            return this.$store.state.USER_ODDS_LIST
        },
        /* 玩家投注列表 （串关） */
        USER_ODDS_LIST2:function(){
            return this.$store.getters.USER_ODDS_LIST2
        },
        /* 玩家投注列表（串关）最大限额(取其中最小) */
        USER_ODDS_LIST2_MAX_MONEY:function(){
            let result = 0
            if(Array.isArray(this.USER_ODDS_LIST2) && this.USER_ODDS_LIST2.length){
                let list = []
                this.USER_ODDS_LIST2.map(item => {
                    list.push(item.maxMoney)
                })
                list = list.sort((a,b) => a-b)
                result = list[0]
            }
            return result
        },
        /* 玩家投注列表（串关）最小限额(取其中最大) */
        USER_ODDS_LIST2_MIN_MONEY:function(){
            let result = 0
            if(Array.isArray(this.USER_ODDS_LIST2) && this.USER_ODDS_LIST2.length){
                let list = []
                this.USER_ODDS_LIST2.map(item => {
                    list.push(item.minMoney)
                })
                list = list.sort((a,b) => b-a)
                result = list[0]
            }
            return result
        },
        /* 玩家投注列表 MAP（单关） */
        MAP_USER_ODDS_LIST:function(){
            return this.$store.getters.MAP_USER_ODDS_LIST
        },
        /* 总投注额 （单关） */
        ODDS_ALL_MONEY:function(){
            let result = `0.00`
            if(Array.isArray(this.USER_ODDS_LIST) && this.USER_ODDS_LIST.length){
                let plusResult = new BigNumber(0)
                this.USER_ODDS_LIST.map(item => {
                    if(item.betState && !item.betResult){
                        plusResult = plusResult.plus(item.money)
                    }
                })
                result = plusResult.toFixed(2,1)
            }
            return result
        },
        /* 总可赢取金额（单关） */
        ODDS_ALL_WIN_MONEY:function(){
            let result = `0.00`
            if(Array.isArray(this.USER_ODDS_LIST) && this.USER_ODDS_LIST.length){
                let plusResult = new BigNumber(0)
                for(let item of this.MAP_USER_ODDS_LIST){
                    if(item[1].betState && !item[1].betResult){
                        plusResult = plusResult.plus(item[1].winMoney)
                    }
                }
                result = plusResult.toFixed(2,1)
            }
            return result
        },
        /* 串关总赔率 */
        ODDS_ALL_ODDS:function(){
            let result = `0.00`
            if(Array.isArray(this.USER_ODDS_LIST2) && this.USER_ODDS_LIST2.length){
                let multipliedBy = new BigNumber(1)
                for(let item of this.USER_ODDS_LIST2){
                    if(item.betState && !item.betResult){
                        multipliedBy = multipliedBy.multipliedBy(item.odds)
                    }
                }
                result = multipliedBy.toFixed()
            }
            return result
        },
        /* 总可赢取金额（串关） */
        ODDS_ALL_WIN_MONEY2:function(){
            let result = `0.00`
            if(this.$store.state.USER_ODDS_LIST2.money !== false){
                if(this.ODDS_ALL_ODDS){
                    result = new BigNumber(this.$store.state.USER_ODDS_LIST2.money).multipliedBy(this.ODDS_ALL_ODDS).toFixed(2,1)
                }
            }
            return result
        },
        /* 接受赔率变化 */
        ACCEPT_ODDS_CHANGE:{
            get:function(){
                return this.$store.state.ACCEPT_ODDS_CHANGE
            },
            set:function(status){
                this.$store.commit('setAcceptOddsChange',status)
            }
        },
    },
    methods:{
        /* 切换投注模式 */
        changeOddsMode:function(mode){
            this.$store.commit('setEsportsOddsMode',mode)
        },
        /* 清空玩家投注列表 */
        clearOddsList:function(){
            this.$store.commit('clearUserOddsList')
        },
    },
    components:{
        betControllerView1Mode1,
        betControllerView1Mode2
    }
}
</script>
<style lang="scss">
#bet-controller-view1{
    /* 注单列表 */
    .el-scrollbar{
        height: calc(100vh - 535px);
    }
}
</style>