<template>
  <div class="live-game-box animated" :class="animatedClass" @click.prevent="viewDetail">
    <div class="title">{{matchName}}</div>
    <div class="content flex-box flex-center">
    <!-- 队伍1 -->
      <div class="team1" v-if="hTeam">
        <img :src="hTeam.teamLogo"/>
        <span>{{hTeam.team}}</span>
        <label>
          赔率：
          <span class="mcolor" v-show="!hTeamOddsLock">{{hTeamOdds}}</span>
          <span v-show="hTeamOddsLock"><i class="iconfont icon-lock"></i></span>
        </label>
      </div>
    <!-- 队伍2 -->
      <div class="team2" v-if="vTeam1">
        <img :src="vTeam1.teamLogo" />
        <span>{{vTeam1.team}}</span>
        <label>
          赔率：
          <span class="mcolor" v-show="!vTeam1OddsLock" >{{vTeam1Odds}}</span>
          <span v-show="vTeam1OddsLock" ><i class="iconfont icon-lock"></i></span>
        </label>
      </div>
        <!-- 装饰 -->
        <div class="versus">
            <div class="versus-line"></div>
            <div class="versus-content">
                <span>
                  <img :src="egameLogo" >
                </span>
                <span>VS</span>
                <span>{{bo}}</span>
            </div>
        </div>
    </div>
    <!-- 按钮 -->
    <div class="flex-box flex-center btn-group">
      <button class="shadow">查看赛事</button>
    </div>
  </div>
</template>
<script>
export default {
  props: ["data","index"],
  computed:{
    matchName:function(){
      return this.data.matchName || ''
    },
    egEgameMatchTeamList:function(){
      return this.data.egEgameMatchTeamList || false
    },
    /* 返回动画样式类 */
    animatedClass:function(){
      switch(this.index){
        case 0:
          return 'fadeInLeft'
        case 1:
          return 'fadeInDown'
        case 2:
          return 'fadeInRight'
        default:
          return 'fadeInDown'
      }
    },
    /* 主队 */
    hTeam:function(){
      return Array.isArray(this.egEgameMatchTeamList) && this.egEgameMatchTeamList.length ? this.egEgameMatchTeamList[0] : false
    },
    /* 主队赔率 */
    hTeamOdds:function(){
      return this.hTeam.odds || '0.00'
    },
    /* 主队赔率允许状态 */
    hTeamBetState:function(){
      return this.hTeam.oddsBetState ? parseInt(this.hTeam.oddsBetState) : 1
    },
    /* 主队赔率是否需要上锁 */
    hTeamOddsLock:function(){
      let result = false
      if(this.hTeamOdds == '0.00' || !this.hTeamBetState){
        result = true
      }
      return result
    },
    /* 客队 */
    vTeam1:function(){
      return Array.isArray(this.egEgameMatchTeamList) && this.egEgameMatchTeamList.length ? this.egEgameMatchTeamList[1] : false
    },
    /* 客队赔率 */
    vTeam1Odds:function(){
      return this.vTeam1.odds || '0.00'
    },
    /* 客队赔率允许状态 */
    vTeam1BetState:function(){
      return this.vTeam1.oddsBetState ? parseInt(this.vTeam1.oddsBetState) : 1
    },
    /* 客队赔率是否需要上锁 */
    vTeam1OddsLock:function(){
      let result = false
      if(this.vTeam1Odds == '0.00' || !this.vTeam1BetState){
        result = true
      }
      return result
    },
    /* 比赛id */
    mid:function(){
      return this.data.mid || ''
    },
    /* 比赛图标 */
    egameLogo:function(){
      return this.data.egameLogo || ''
    },
    /* bo数量 */
    bo:function(){
      return this.data.bo || 0
    },
  },
  methods:{
    /* 查看赛事细节 */
    viewDetail:function(){
      this.$router.push({name:'homeEsportsDetail',params:{mid:this.mid}})
    },
  }
}
</script>
<style lang="scss">
.live-game-box {
  height: 300px;
  border: 1px solid hsla(0, 0%, 100%, 0.1);
  background: rgba(34, 38, 42, 0.8);
  box-shadow: 2px 20px 20px #161616;
  position: relative;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
  .title {
    height: 50px;
    line-height: 50px;
    background: rgba(46, 50, 56, 0.8);
  }
  .content {
    height: 200px;
    position: relative;

    .team1,
    .team2 {
      width: 150px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      span {
        font-size: 14px;
        color: #fff;
        margin: 10px 0;
      }
      img {
        display: inline-block;
        width: 74px;
        height: 74px;
        margin: 0 auto;
      }
    }

    >.versus{
        position: absolute;
        top: 0;
        left: 50%;
        height: 180px;
        transform: translateX(-50%);
        .versus-line{
            width: 2px;
            height: 180px;
            border-left: 1px solid $theme-border-color;
        }
        .versus-content{
            display: flex;
            width: 30px;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            position: absolute;
            flex-direction:column; 
            border-radius: 20px;
            border: 1px solid $theme-border-color;
            background: $theme-bg-color;
            overflow: hidden;

            span{
                width: 28px;
                line-height: 28px;
                display: inline-block;
                border-bottom: 1px solid $theme-border-color;
                img{
                  width: 20px;
                  height: 20px;
                }
            }
        }
    }
  }
  .btn-group {
    button {
      padding: 0.5rem 3rem;
      border-radius: 2px;
    }
  }
  &:hover{
    background: linear-gradient(120deg,rgba(42,145,212,.1),rgba(3,251,179,.1));
    border: 1px solid transparent;
    border-image: linear-gradient(90deg,#2a91d4 0,#03fcb3);
    border-image-slice: 1;
    .title{
      background: linear-gradient(120deg,rgba(42,145,212,.1),rgba(3,251,179,.1));
    }
    .content{
      >.versus{
        >.versus-line{
          border-color: hsla(0,0%,100%,.2);
        }
        >.versus-content{
          border-color: hsla(0,0%,100%,.2);
        }
      }
    }
  }
}
</style>