<template>
    <div class="marquee-notice">
        <!-- 左侧箭头装饰 -->
        <div class="marquee-notice-title" style="background: rgba(0, 0, 0, 0.4);">
            <span>{{title}}</span>
        </div>
        <!-- 内容正文 -->
        <div class="marquee-notice-content" style="background: rgba(0, 0, 0, 0.4)">
            <marquee scrollAmount="4" @click.prevent="setInterActive">
                <span v-for="(item,index) in noticeList" :key="'marquee_notice_' + item.id + index">{{item.message}}</span>
            </marquee>
        </div>
        <router-link target="_blank" tag="a" :to="{name:'usOrder'}"  v-if="USERINFO">
            <div style="float:right;margin-left:20px;text-align: left;white-space:nowrap;color: #03fcb3;background: rgba(0, 0, 0, 0.4);width: 280px;">
                <span style="color: #ffffff;margin-left: 30px;">帐号：</span>{{USERINFO.userID}}
                <span style="color: #ffffff;margin-left: 30px;">余额：</span>{{USERINFO.balance}}
            </div>
        </router-link>
    </div>
</template>
<script>
export default {
    props:['noticeList','title'],
    mounted:function(){
        this.$store.dispatch('refreshUserInfo')
    },
    methods:{
        /* 点击打开交互面板 */
        setInterActive:function(){
            this.$store.commit('setInterActive',{
                name:'marqueeNotice',
                data:{
                    title:'公告',
                    list:this.noticeList
                }
            })
        }
    },
    computed:{
        /* 用户个人信息 */
        USERINFO:function(){
            return this.$store.state.USERINFO
        }
    },
}
</script>
<style lang="scss" scoped>
.marquee-notice{
    height: 40px;
    line-height: 40px;
    margin: 0 0 20px 0;
    color: #b5bdce;
    /*background: rgba(0,0,0,.4);*/
    display: flex;
    /* 左侧箭头装饰 */
    >.marquee-notice-title{
        width: 110px;
        box-sizing: border-box;
        color: white;
        position: relative;
        >span{
            width: 86px;
            height: 40px;
            display: inline-block;
            text-align: center;
            background-color: $theme-font-dark-color2;
            &:after{
                content: '';
                position: absolute;
                right: 0;
                top: 0;
                width: 0;
                height: 0;
                border-left: 24px solid $theme-font-dark-color2; 
                border-bottom: 40px solid transparent;
            }
        }
    }
    /* 右侧正文 */
    >.marquee-notice-content{
        width: 890px;
        /*margin-left: 20px;*/
        >marquee{
            cursor: pointer;
            >span{
                display: inline-block;
                margin: 0 .5rem;
            }
            &:hover{
                color: $theme-font-color;
            }
        }
    }
}
</style>