<template>
    <div class="odds-item" :class="ODDS_ITEM_CLASSNAME" @click.prevent="shieldSetUserOdds">
        <button class="btn2">
            <!-- 状态变化 -->
            <span class="status" v-if="ODDS_ITEM_STATUS == 1 && !ODDS_ITEM_LOCK">
                <i class="iconfont icon-odds-rise"></i>
            </span>
            <span class="status" v-if="ODDS_ITEM_STATUS == 2 && !ODDS_ITEM_LOCK">
                <i class="iconfont icon-odds-low"></i>
            </span>
            <!-- 赔率展示 -->
            <div class="text" v-if="ODDS_ITEM_LOCK"><i class="iconfont icon-lock"></i></div>
            <span class="text" v-else>{{ODDS_ITEM_ODDS}}</span>
        </button>
    </div>
</template>
<script>
/**
 * @description 赛事列表用展示投注信息组件
 */
export default {
    props:['position'],                     /* 1：主队  2：客队 */
    computed:{
        /* 投注id */
        EDOID:function(){
            switch(this.position){
                case 1:
                    return this.$parent.hTeamEdoid
                case 2:
                    return this.$parent.vTeam1Edoid
                default:
                    return false
            }
        },
        /* 当前投注赔率 */
        ODDS_ITEM_ODDS:function(){
            switch(this.position){
                case 1:
                    return this.$parent.hTeamOdds
                case 2:
                    return this.$parent.vTeam1Odds
                default:
                    return '0.00'
            }
        },
        /* 当前投注方名称 */
        ODDS_ITEM_NAME:function(){
            switch(this.position){
                case 1:
                    return this.$parent.hTeamName
                case 2:
                    return this.$parent.vTeam1Name
                default:
                    return 0
            }
        },
        /* 当前投注赔率变化状态 */
        ODDS_ITEM_STATUS:function(){
            switch(this.position){
                case 1:
                    return this.$parent.hTeamOddsState
                case 2:
                    return this.$parent.vTeam1OddsState
                default:
                    return 0
            }
        },
        /* 当前投注（允许投注）状态 */
        ODDS_ITEM_BET_STATE:function(){
            switch(this.position){
                case 1:
                    return this.$parent.hTeamBetState
                case 2:
                    return this.$parent.vTeam1BetState
                default:
                    return 0
            }
        },
        /* 当前投注是否已经存在结果 */
        ODDS_ITEM_RESULT:function(){
            switch(this.position){
                case 1:
                    return this.$parent.hTeamResult
                case 2:
                    return this.$parent.vTeam1Result
                default:
                    return 0
            }
        },
        /* MAP 玩家投注列表 */
        MAP_USER_ODDS_LIST:function(){
            return this.$store.getters.MAP_USER_ODDS_LIST
        },
        /* 计算当前投注状态 */
        ODDS_SELECTED:function(){
            let result = false
            if(this.MAP_USER_ODDS_LIST){
                if(this.MAP_USER_ODDS_LIST.has(this.EDOID)){
                    result = true
                }
            }
            return result
        },
        /* 返回投注组件样式名称 */
        ODDS_ITEM_CLASSNAME:function(){
            let result = ''
            if(this.ODDS_SELECTED){
                result += 'odds-item-selected'
            }
            if(this.ODDS_ITEM_STATUS == 1 && !this.ODDS_ITEM_LOCK){
                result += ' odds-item-rise'
            }
            else if(this.ODDS_ITEM_STATUS == 2 && !this.ODDS_ITEM_LOCK){
                result += ' odds-item-low'
            }
            return result
        },
        /* 当前投注是否需要锁住 */
        ODDS_ITEM_LOCK:function(){
            let result  = false
            if(!this.$parent.betState){
                result = true
            }else if(this.ODDS_ITEM_RESULT){
                result = true
            }else if(this.ODDS_ITEM_ODDS == '0.00'){
                result = true
            }else if(!this.ODDS_ITEM_BET_STATE){
                result = true
            }
            return result
        },
    },
    methods:{
        /* 检查是否可以投注 */
        shieldSetUserOdds:function(){
            if(!this.ODDS_ITEM_LOCK){
                this.$parent.setUserOdds(this.EDOID,this.ODDS_ITEM_NAME,this.ODDS_ITEM_ODDS)
            }
        },
    }
}
</script>
<style lang="scss">
.odds-item{
    width: 70px;
    .btn2{
        transition: .3s background-color;
        display: flex;
        align-items: center;
        justify-content: center;
        .iconfont{
            will-change: opacity;
        }
    }
    /* 选中 */
    &.odds-item-selected{
        .btn2{
            background-color: $theme-font-dark-color2 !important;
            color: white !important;
        }
    }
    /* 赔率下降 */
    &.odds-item-low{
        .btn2{
            .iconfont{
                animation: twincle 1s linear infinite;
            }
            color: #fb413d;
        }
    }
    /* 赔率上升 */
    &.odds-item-rise{
        .btn2{
            .iconfont{
                animation: twincle 1.5s linear infinite;
            }
            color:$theme-font-color;
        }
    }

    .status{
        margin-right: .5rem;
        .iconfont{
            font-size: 10px;
        }
    }
}

@keyframes twincle {
    0%{
        opacity: .2;
    }
    50%{
        opacity: 1;
    }   
    100%{
        opacity: .2;
    } 
}
</style>