<template>
    <button class="shadow btn-grey" v-if="SMS_COUNT_DOWN === false" @click.prevent="setSmsCountDown">发送短信验证码</button>
    <button class="shadow btn-grey" v-else>{{SMS_COUNT_DOWN}}秒后重新获取</button>
</template>
<script>
export default {
    computed:{
        SMS_COUNT_DOWN:function(){
            return this.$store.state.SMS_COUNT_DOWN
        }
    },
    /* 设置短信倒计时 */
    methods:{
        setSmsCountDown:function(){
            const loading = this.$loading.service({lock: true,background: 'rgba(0, 0, 0, 0.7)'})
            this.$store.dispatch('getSmsCode').then(result => {
                loading.close()
                const {countdown} = result
                /* 备份到缓存中以防止刷新清除 */
                localStorage.setItem('smsCountDown',countdown)
                /* 设置刷新操作 */
                this.$store.dispatch('setSmsCodeCountDown',{countdown})
            })
        },
    }
}
</script>