<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: 'App',
  getRequest (url, func) {
    this.$http.get(global.url + url).then(function (res) {
      func(res.body)
    }, function (res) {
      this.$Message.info(res.status)
    })
  }
}
</script>

<style>
  body{
    font-size:62.5%
  }
  a, article, aside, b, body, button, dd, div, dl, dt, figcaption, figure, footer, h1, h2, h3, h4, h5, h6, header, i, input, li, nav, p, section, select, span, textarea, ul{
    white-space: nowrap;
    padding: 0;
    margin: 0;
    font-family: "Microsoft YaHei";
  }
</style>
