*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li{
  list-style: none;
}
body{
	background: #eee;
	overflow: auto;
}
i{
  font-style: normal;
}
a{
  text-decoration: none;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.public_header{
  height: 100rpx;
  background: #FF612F;
  padding-left: 40rpx;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  image{
    width: 40rpx;
	height: 30rpx;
    margin-right: 20rpx;
  }
}
.status_bar {
	height: var(--status-bar-height);
	width: 100%;
}
uni-button{
	margin-left: 0;
	margin-right: 0;
}
uni-button:after{
	border: none;
}
table{
	border-collapse:collapse;
}
.uni-tabbar-bottom{
	z-index: 1!important;
}
.uni-datetime-picker--btn{
	background: #FF5035!important;
}
.uni-calendar-item--multiple{
	background: #eee!important;
}
.uni-calendar-item--after-checked, .uni-calendar-item--before-checked,.uni-calendar-item--checked{
	background-color: #FF5035!important;
}