.float{
  .newNoticeFrame{
    background: rgba(0,0,0,.5);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 99999;
  }
  .active-inner{
    font-family: 'Microsoft YaHei',Arial,Verdana;
    width: 90%;
    height: 80%;
    left: 5%;
    top: 10%;
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: .5rem;
    background: rgba(255,255,255,0.3);
    z-index: 99;
	position: relative;
  }
  .active-top{
    width: 100%;
    position: relative;
    text-align: center;
    height: 100rpx;
    line-height: 100rpx;
    border-radius: 8rpx 8rpx 0 0;
    background: #b62929;
  }
  .top-active{
    font-size: 40rpx;
    letter-spacing: 4rpx;
    text-shadow: none;
    color: #fff;
  }
  .close123{
    position: absolute;
    right: 10rpx;
    top: 10rpx;
    display: block;
    width: 60rpx;
    line-height: 80rpx;
    text-align: center;
    font-size: 60rpx;
    color: #fff;
  }
  .active-content{
    position: absolute;
    top: 110rpx;
    bottom: 10rpx;
    left: 10rpx;
    right: 10rpx;
    max-height: 100%;
    overflow: auto;
    border-radius: 0 0 8rpx 8rpx;
    background: #fff;
    button{
      width: 240rpx;
      height: 60rpx;
      position: absolute;
      bottom: 20rpx;
      right: 20rpx;
    }
  }
  .active-main{
    margin: 0 4% 20rpx 4%;
  }
  .active-item{
    padding: 20rpx 0;
    border-bottom: 2rpx dashed #dbdbdb;
    float: left;
    width: 100%;
  }
  .activeTitles{
    clear: both; color: #000;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    background:#fff;
    display:flex;
	align-items: center;
  }
  .red-title{
    background: #b62929;
    width: 12rpx;
    height: 12rpx;
    margin: 24rpx 0;
    border-radius: 50%;
    float: left;
  }
  .textStyle{
    max-width: 90%;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 32rpx;
    padding-left: 12rpx;
    color: rgb(76, 76, 76);
    float: left;
    line-height:6rpx
  }
  .contentStyle{
    float: left;
    width: 100%;
    white-space: normal;
    font-size: 40rpx;
    word-break: break-all;
    margin-top: 20rpx;
  }
  .contentStyle img{
    width: 100%!important;
  }
  .red-m{
    position: fixed;
    right: 0;
    bottom:10%;
    width: 180rpx;
    z-index: 2;
    img{
      width: 100%;
    }
    .loca{
      position: absolute;
      bottom: 60rpx;
      left: 0;
      width: 180rpx;
      height: 180rpx;
    }
    .close{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 180rpx;
      height: 60rpx;
    }
  }
  .button{
	  position: absolute;
	  right: 40rpx;
	  bottom: 40rpx;
	  width: 300rpx;
	  height: 60rpx;
  }
}
