<template>
    <div class="esports-news-movie" :class="className" :style="styleValue" :title="title" @click="goDetail">
        <div class="img-box">
            <!-- 封面图 -->
            <img v-lazy="picImg" />
            <!-- 遮罩层 -->
            <div class="img-fixed">
                <!-- 播放图标 -->
                <i class="iconfont icon-play"></i>
            </div>
            <!-- 视频信息 -->
            <div class="description">
                <!-- 阅读量 -->
                <span class="click-count">
                    <i class="iconfont icon-time"></i>
                    <span>{{clickCount}}</span>
                </span>
                <!-- 视频时间 -->
                <span>
                    {{videoDuration}}
                </span>
            </div>
        </div>
        <div class="content">
            {{title}}
        </div>
    </div>
</template>
<script>
/**
 * @description 资讯类 视频容器
 */
export default {
    props:['data','className','styleValue'],
    computed:{
        /* 资讯id */
        cid:function(){
            return this.data.cid || ''
        },
        /* 封面图片地址 */
        picImg:function(){
            return this.data.imgPath || ''
        },
        /* 标题 */
        title:function(){
            return this.data.title || ''
        },
        /* 点击量 */
        clickCount:function(){
            return this.data.clickCount || 0
        },
        /* 视频时长 */
        videoDuration:function(){
            return this.data.videoDuration || ''
        },
    },
    methods:{
        goDetail:function(){
            this.$router.push({name:'homeNewsMovieDetail',params:{id:this.cid}})
        },
    }
}
</script>
<style lang="scss">
.esports-news-movie{
    cursor: pointer;
    /* 图片盒子 */
    .img-box{
        overflow: hidden;
        position: relative;
        /* 封面图 */
        img{
            will-change: transform;
            transition: transform .5s;
        }
        /* 遮罩层 */
        .img-fixed{
            position: absolute;
            left: 0;
            top: 0;
            z-index: 2;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.5) none repeat scroll 0 0;
            visibility: hidden;
            opacity: 0;
            transition: opacity .3s;
            .icon-play{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                font-size: 36px;
            }
        }
        /* 视频信息 */
        .description{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: 10px;
            z-index: 1;
            box-sizing: border-box;
            padding: 0 10px;
            color: white;
            .click-count{
                display: flex;
                align-items: center;
                .iconfont{
                    transform: translateY(1px);
                    margin-right: .25rem;
                }
            }
        }
    }
    /* 内容描述 */
    .content{
        background-color: #22262a;
        box-sizing: border-box;
        padding: 0 10px;
        transition: background-color .3s,color .3s;
    }
    /* hover */
    &:hover{
        .img-box{
            img{
                transform: scale(1.1);
            }
            .img-fixed{
                visibility:visible;
                opacity: 1;
            }
        }
        .content{
            background-color: #2e3238;
            color: white;
        }
    }




    // .img{
    //     position: relative;
    //     img{
    //         will-change: transform;
    //         transition: transform .5s;
    //         &:hover{
    //             transform: scale(1.1);
    //         }
    //     }
    //    .img-fixed{
    //        display: flex;
    //        justify-content: space-between;
    //        align-items: center;
    //        position: absolute;
    //        left: 0;
    //        top: 0;
    //        width: 100%;
    //        height: 100%;
    //        background: rgba(0,0,0,.5) none repeat scroll 0 0;
    //        transition: opacity .3s;
    //        opacity: 0;
    //        .icon-play{
    //             position: absolute;
    //             top: 50%;
    //             left: 50%;
    //             transform: translate(-50%,-50%);
    //             font-size: 36px;
    //        }

    //        .description{
    //             display: flex;
    //             align-items: center;
    //             justify-content: space-between;
    //             width: 100%;
    //             position: absolute;
    //             left: 0;
    //             bottom: 10px;
    //             box-sizing: border-box;
    //             padding: 0 10px;
    //             color: white;
    //             .click-count{
    //                 display: flex;
    //                 align-items: center;
    //                 .iconfont{
    //                     transform: translateY(1px);
    //                     margin-right: .25rem;
    //                 }
    //             }
    //         }
    //    } 
    // }
}
</style>