<template>
    <div class="esports-news-news" :class="className" @click="goDetail">
        <div class="img-box">
            <img v-lazy="picImg" >
        </div>
        <div class="content-box">
            <div class="title">    
                {{title}}
            </div>
            <div class="time">
                <span>
                    <i class="iconfont icon-time"></i>
                    <span class="content">{{publishDateString}}</span>
                </span>
                <span>
                    <i class="iconfont icon-eye"></i>
                    <span>{{clickCount}}</span>
                </span>
            </div>
            <div class="content">
                {{title}}
            </div>
        </div>
    </div>
</template>
<script>
/**
 * @title 资讯类 新闻容器
 * @description props “zhuanti” 如果从专题页被渲染，即将专题页的标题传入，在跳转文字详情页前存入缓存以影响详情页的面包屑导航
 */
export default {
    props:['data','className','zhuanti'],
    computed:{
        /* 资讯id */
        cid:function(){
            return this.data.cid || ''
        },
        /* 封面图片地址 */
        picImg:function(){
            return this.data.imgPath || ''
        },
        title:function(){
            return this.data.title || ''
        },
        clickCount:function(){
            return this.data.clickCount || 0
        },
        publishDateString:function(){
            return this.data.publishDateString || ''
        },
    },
    methods:{
        goDetail:function(){
            if(this.zhuanti)    sessionStorage.setItem('zhuantiName',this.zhuanti)
            this.$router.push({name:'homeNewsArticleDetail',params:{id:this.cid}})
        },
    }
}
</script>
<style lang="scss">
.esports-news-news{
    box-sizing: border-box;
    padding: 15px;
    background: $theme-bg-color;
    display: flex;
    border: 1px solid hsla(0,0%,100%,.1);
    transition: all .3s;
    .img-box{
        width: 175px;
        height: 105px;
        overflow: hidden;
        flex-shrink: 0;
        img{
            width: 175px;
            height: 105px;
            will-change: transform;
            transition: transform .5s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
    .content-box{
        flex-grow: 1;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        box-sizing: border-box;
        padding-left: 1rem;
        .title{
            white-space: nowrap;
            font-size: 15px;
            color: white;
        }
        .time{
            height: 36px;
            line-height: 36px;
            display: flex;
            span{
                display: flex;
                align-items: center;
                margin-right: 30px;
                .iconfont{
                    margin-right: 5px;
                    transform: translateY(1px);
                }
            }
        }
    }
    &:hover{
        background-color: #2e3238;
    }
    &.border-style-2{
        border: none;
        border-bottom: 1px solid #2f3339;
        position: relative;
        &::after{
            content: '';
            width: 100%;
            height: 1px;
            position: absolute;
            left: 0;
            bottom: 0;
            background-color: #111316;
        }
    }
}
</style>