<template>
    <div class="esports-news-photo-1" :class="className" @click="goDetail">
        <!-- 封面图 -->
        <img v-lazy="picImg">
        <!-- 封面图遮罩 -->
        <div class="img-mask"></div>
        <!-- 叠加信息 -->
        <div class="description">
            <i class="iconfont icon-piclight"></i>
            <span>{{picCount}}P</span>
        </div>
        <!-- 容器遮罩 -->
        <div class="photo-mask">
            <div class="content">
                {{title}}
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props:['data','arrIndex','className'],
    computed:{
        /* 资讯id */
        cid:function(){
            return this.data.cid || ''
        },
        /* 封面图片地址 */
        picImg:function(){
            return this.data.imgPath || ''
        },
        /* 标题 */
        title:function(){
            return this.data.title || ''
        },
        /* 图集图片数量 */
        picCount:function(){
            return 1
        },
    },
    methods:{
        goDetail:function(){
            this.$router.push({name:'homeNewsPhotoDetail',params:{id:this.cid}})
        }
    },
}
</script>
<style lang="scss">
.esports-news-photo-1{
    height: 260px;
    overflow: hidden;
    position: relative;
    img{
        width:100%;
        height:260px !important;
        transition: transform 1s;
        transform-origin: bottom right;
    }
    .description{
        position: absolute;
        right: 10px;
        bottom: 10px;
        color: white;
        display: flex;
        align-items: center;
        z-index: 2;
        .iconfont{
            margin-top: 2px;
        }
        span{
            margin-left: .25rem;
        }
    }

    /* 遮罩渐变 */
    .img-mask{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: linear-gradient(transparent,rgba(12,155,112,.2),#22262a);
    }
    /* 容器遮罩 */
    .photo-mask{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.65);
        z-index: 3;
        will-change: transform;
        transform: translateY(100%);
        transition: transform .3s;
        visibility: hidden;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        .content{
            color: white;
            font-size: 14px;
            box-sizing: border-box;
            padding: 0 2rem;
        }
    }

    &.esports-news-photo-1-1{
        width: 203.67px;
    }
    &.esports-news-photo-1-2{
        width: 260px;
    }
    &.esports-news-photo-1-3{
        width: 203.67px;
    }
    &.esports-news-photo-1-4{
        width: 429px;
    }
    &.esports-news-photo-1-5{
        width: 203.67px;
    }

    &:hover{
        img{
            transform: scale(1.25);
        }
        .photo-mask{
            transform: translateY(0%);
            visibility: visible;
        }
    }
}
</style>