<template>
    <div class="esports-news-zhuanti" :class="className" @click="goDetail">
        <div class="img-box">
            <img v-lazy="picImg" >
        </div>
        <div class="content-box">
            <div class="title">    
                {{title}}
            </div>
            <div class="time">
                <span>
                    <i class="iconfont icon-biaoqian"></i>
                    <span class="content">{{newsCount}}</span>
                </span>
            </div>
            <div class="content">
                {{introduce}}
            </div>
        </div>
    </div>
</template>
<script>
/**
 * @description 资讯类 专题容器
 */
export default {
    props:['data','className'],
    computed:{
        /* 资讯id */
        cid:function(){
            return this.data.cid || ''
        },
        /* 封面图片地址 */
        picImg:function(){
            return this.data.imgPath || ''
        },
        /* 标题 */
        title:function(){
            return this.data.title || ''
        },
        /* 专题描述 */
        introduce:function(){
            return this.data.content || ''
        },
        /* 文章数量 */
        newsCount:function(){
            return this.data.sidNewsCount || 0
        },
        publishDateString:function(){
            return this.data.publishDateString || ''
        },
    },
    mounted(){
        console.dir(this.data)
    },
    methods:{
        goDetail:function(){
            this.$router.push({name:'homeNewsZtDetail',params:{id:this.cid}})
        }
    }
}
</script>
<style lang="scss">
.esports-news-zhuanti{
    background: $theme-bg-color;
    display: flex;
    border: 1px solid hsla(0,0%,100%,.1);
    transition: all .3s;
    background-image: url('../../assets/img/zt-bg.png');
    background-repeat: no-repeat;
    .img-box{
        width: 267px;
        height: 150px;
        overflow: hidden;
        flex-shrink: 0;
        img{
            width: 267px;
            height: 150px;
            will-change: transform;
            transition: transform .5s;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
    .content-box{
        flex-grow: 1;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        box-sizing: border-box;
        padding:15px;
        .title{
            white-space: nowrap;
            font-size: 15px;
            color: white;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .time{
            height: 36px;
            line-height: 36px;
            display: flex;
            span{
                display: flex;
                align-items: center;
                margin-right: 30px;
                .iconfont{
                    margin-right: 5px;
                    transform: translateY(1px);
                }
            }
        }

        .content{
            height: 54px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    &:hover{
        background-color: #2e3238;
    }
}
</style>