<template>
  <div id="heshu">
    <van-row v-for="" class="p-10 b-b">
      <van-col span="24" class="m-t-5 text-c">
        <div class="" style="padding-left: .1rem;">
          <div v-if="" @click="selectHM(hmIndex)" v-for="item,hmIndex in hmlist[0].oddPlayItems" :class="{'m-t-5':hmIndex>5}" class="d-i m-r-5">
            <div :class="{hmzsTabActive:item.isActive}" class="box p-5">
              <p class="f-s-20">{{item.name}}</p>
              <p data-v-53a08393="" class="f-s-14  c-3">{{item.odds}}</p>
            </div>
          </div>
        </div>
      </van-col>
    </van-row>
  </div>
</template>

<script>
  export default {
    props: ['hmlist', 'fpText'],
    data() {
      return {}
    },
    methods:{
      closeHM:function(){
        this.$forceUpdate();
      },
      changeTitleName(name){
        switch (name) {
          case '万千':
            return '万位双面盘';
          case '千百':
            return '千位双面盘';
          case '百十':
            return '百位双面盘';
          case '十个':
            return '十位双面盘';
          case '个万':
            return '个位双面盘';
          default:
            return name
        }
      },
      selectHM:function (hmIndex) {
        this.$emit('selectHM',0, hmIndex);
        // 父组件数据不同步，手动刷新同步
        this.$forceUpdate();
      }

    }
  }
</script>

<style scoped>
  .m-t-10-zh {
    margin-top: .5rem;
  }
  #ssc #heshu .box {
    width: 2.9rem;
  }
</style>
