<template>
	<div id="hmzs">
		<div class="left">
			<div v-if="index < 20" v-for="item,index in kjlsList" class="leftBox">{{item.qiHao.substring(item.qiHao.length-3)}}</div>
		</div>
		<div @scroll="kjlsScroll" ref="kjjlRight" class="right o-x-s selector">
			<div v-if="index < 20" v-for="item,index in kjlsList" class="list">
				<div class="box box2">
					<span class="bigBg"   v-if="item.haoMaList[hmIndex] > 4">大</span>
					<span class="smallBg" v-else="" >小</span>
				</div>
				<div class="box box2">
					<span class="bigBg"   v-if="item.haoMaList[hmIndex] % 2 != 0">单</span>
					<span class="smallBg" v-else="" >双</span>
				</div>
				<div class="box box2">
					<span :class="{smallBg:zhiHe(item.haoMaList[hmIndex]) == '质' , bigBg:zhiHe(item.haoMaList[hmIndex]) == '合'}">{{zhiHe(item.haoMaList[hmIndex])}}</span>
				</div>
				<div class="box box2">
					<span :class="{isNone:item.haoMaList[hmIndex] != 0, firstNum:item.haoMaList[hmIndex] == 0,isHas:item.haoMaList[hmIndex] == 0 }" class="bigBg">0</span>
				</div>
				<div class="box box2">
					<span :class="{isNone:item.haoMaList[hmIndex] != 1,isHas:item.haoMaList[hmIndex] == 1}" class="bigBg">1</span>
				</div>
				<div class="box box2">
					<span :class="{isNone:item.haoMaList[hmIndex] != 2,isHas:item.haoMaList[hmIndex] == 2}" class="bigBg">2</span>
				</div>
				<div class="box box2">
					<span :class="{isNone:item.haoMaList[hmIndex] != 3,isHas:item.haoMaList[hmIndex] == 3}" class="bigBg">3</span>
				</div>
				<div class="box box2">
					<span :class="{isNone:item.haoMaList[hmIndex] != 4,isHas:item.haoMaList[hmIndex] == 4}" class="bigBg">4</span>
				</div>
				<div class="box box2">
					<span :class="{isNone:item.haoMaList[hmIndex] != 5,isHas:item.haoMaList[hmIndex] == 5}" class="bigBg">5</span>
				</div>
				<div class="box box2">
					<span :class="{isNone:item.haoMaList[hmIndex] != 6,isHas:item.haoMaList[hmIndex] == 6}" class="bigBg">6</span>
				</div>
				<div class="box box2">
					<span :class="{isNone:item.haoMaList[hmIndex] != 7,isHas:item.haoMaList[hmIndex] == 7}" class="bigBg">7</span>
				</div>
				<div class="box box2">
					<span :class="{isNone:item.haoMaList[hmIndex] != 8,isHas:item.haoMaList[hmIndex] == 8}" class="bigBg">8</span>
				</div>
				<div class="box box2">
					<span :class="{isNone:item.haoMaList[hmIndex] != 9,isHas:item.haoMaList[hmIndex] == 9}" class="bigBg">9</span>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { Dialog } from 'vant';
	import { Toast } from 'vant';
	var kjlsList = [];
	export default {
		props: ['kjlsList', 'hmzsTabList'],
		data() {
			return {
				hmIndex:0,//01234/w万千百十个
			}
		},
		watch: {

		},
		created: function() {
      for(let i in this.kjlsList){
        if(this.kjlsList[i].haoMaList[0]==='?'){
          this.kjlsList = this.kjlsList.slice(1,this.kjlsList.length);
        }
      }
		},
		mounted: function() {
		  let cthis = this;
      for(let i in $('.isHas')){
        $('.isHas').eq(i).find('canvas').remove();
      }
		  for(let i in this.kjlsList){
		    if(this.kjlsList[i].haoMaList[0]==='?'){
          kjlsList = this.kjlsList.slice(1,this.kjlsList.length);
        }else {
          kjlsList = this.kjlsList;
        }
      }
      setTimeout(function () {
        cthis.renderData(kjlsList)
      },300);
		},
		methods: {
      renderData:function(data) {
        var Tools = {
          parseInt: function(str) {
            return parseInt(str, 10);
          }
        };

        var left_w = 0; //球离左边的距离
        var spanW = 0, firstSpanW = 0;
        var spanH = 0;
        spanW = $(".box2").eq(0)[0].clientWidth;
        spanH = $(".box2").eq(0)[0].clientHeight * 2;

        var cxzcs = []; // 出现总次数
        var zdylz = []; // 最大遗漏值
        var tmpZdylz = [];   // 临时计算最大遗漏值

        var pjylz = []; // 平均遗漏值
        var tmpPjylz = []; // 临时计算平均遗漏值

        var zdlcz = []; // 最大连出值
        var tmpZdlcz = [];  // 临时计算最大连出值

        for (var j = 1; j <= 10; ++j) {
          cxzcs[j-1] = 0;

          zdylz[j-1] = 0;
          tmpZdylz[j-1] = {
            total: 0,   // 当前数
            maxTotal: 0,    // 最大数
            count: 0    // 计算次数
          };

          pjylz[j-1] = 0;
          tmpPjylz[j-1] = {
            totalYl: 0, // 遗漏总计
            count: 0    // 遗漏次数
          };

          zdlcz[j-1] = 0;
          tmpZdlcz[j-1] = {
            max: 0, // 连出最大
            count: 0    // 连出计数
          };
        }

        var dataIndex = 0;
        for(let i in this.hmzsTabList){
          this.hmzsTabList[i].isActive? dataIndex = i-0:''
        }
        var result = [];
        var bc1 = 0;
        for (var ii = 0; ii < data.length; ii++) {
          var num = parseInt(data[ii].haoMaList[dataIndex]);
          var htmlCanvas ="";
          if( ii < data.length - 1){
            bc1 = Tools.parseInt(data[ii].haoMaList[dataIndex]) - Tools.parseInt(data[ii + 1].haoMaList[dataIndex]);
          }
          if (bc1 > 0) {
            left_w = spanW * -bc1  - $('.isHas').eq(0).width();
            bc1 = (bc1 + 1) * spanW; //获取两个球之间的宽度
            // left_w = (Tools.parseInt(data[ii].haoMaList[dataIndex])) * spanW + firstSpanW - bc1; //获取画板距左边的位置
          } else if (bc1 < 0) {
            left_w = 0  - $('.isHas').eq(0).width()+2 ;
            bc1 = ((-bc1 + 1) * spanW)  ;
            // left_w = Tools.parseInt(data[ii].haoMaList[dataIndex] - 1) * spanW + firstSpanW;
          } else if (bc1 == 0) {
            bc1 = spanW;
            // left_w = Tools.parseInt(data[ii].haoMaList[dataIndex] - 1) * spanW + firstSpanW;
            left_w = 0 - $('.isHas').eq(0).width();
          }
          htmlCanvas = '<canvas class="mobile_zx" id="canvas'+ ii +''+ dataIndex +'" width="'+ bc1 +'px" height="'+ spanH +'px" style="z-index: -1; left:'+ left_w +'px; display: inline;"></canvas>';

          var tmpArr = [];
          for (var i = 1; i <= 10; ++i) {
            tmpArr.push({
              num: i,
              flag: num == i ? true : false
            });

            // 出现总次数
            if (num == i) {
              cxzcs[i - 1]++;
            }

            // 遗漏值
            if (num == i) { // 出现
              tmpZdylz[i-1].maxTotal = tmpZdylz[i-1].total > tmpZdylz[i-1].maxTotal ? tmpZdylz[i-1].total : tmpZdylz[i-1].maxTotal;
              tmpZdylz[i-1].total = 0;

              tmpZdlcz[i-1].count++;
              tmpZdlcz[i-1].max = tmpZdlcz[i-1].count > tmpZdlcz[i-1].max ? tmpZdlcz[i-1].count : tmpZdlcz[i-1].max;
            } else {   // 遗漏
              tmpPjylz[i-1].totalYl++;
              if( tmpZdylz[i-1].total < 1){
                tmpPjylz[i-1].count++; //遗漏次数
              }

              tmpZdylz[i-1].total++;
              tmpZdlcz[i-1].count = 0;
            }
          }

          result.push({
            htmlCanvas: htmlCanvas,//画板标签
            number: data[ii].qiHao,
            numArr: tmpArr
          });
        }
        for(let i in result){
          $('.isHas').eq(i).append(result[i].htmlCanvas)
        }


        //画出相对应的折线
        for (var m = 0; m < data.length - 1; m++) {
          //设置canvas定位
          var canvas = document.getElementById("canvas" + m + "" + dataIndex + "");
          var context = canvas.getContext("2d");
          var bc1 = (data[m].haoMaList[dataIndex]) - data[m + 1].haoMaList[dataIndex];
          if (bc1 < 0) {
            context.moveTo(17, 11);
            context.lineTo(canvas.width - 18, canvas.height - 15);
          } else if (bc1 > 0) {
            context.moveTo(canvas.width - 16, 10);
            context.lineTo(18, canvas.height - 15);
          } else {
            context.moveTo(canvas.width / 2 + 2, canvas.height / 3 - 2);
            context.lineTo(canvas.width / 2 + 2, canvas.height / 2 + 2);
          }
          context.strokeStyle = "#df303f";
          context.lineWidth = 2;
          context.stroke();
        }
  },
			//判断质或合
			zhiHe:function(num){
				let zhiList = [1,2,3,5,7];//0-9质数
				for(let i in zhiList){
					if(zhiList[i] == num) return '质';
				}
				return '合';
			},
			//监听父组件切换类型改变
			hmzsIndex:function(index){
        let cthis = this;
				this.hmIndex = index;
				for(let i in $('.isHas')){
          $('.isHas').eq(i).find('canvas').remove();
        }
        setTimeout(function () {
          cthis.renderData(kjlsList)
        },300);
			},
			//左右滑动时传递广播给父组件
			kjlsScroll:function(){
				let num = this.$refs.kjjlRight.scrollLeft;
				this.$emit('kjlsScroll',num);
			},
			//父组件滑动子组件跟随
			kjTopLeft:function(num){
				this.$refs.kjjlRight.scrollLeft = num;
			}
		},
	}
</script>

<style>
  .isHas{
    position: relative;
    z-index: 99;
  }
  .mobile_zx {
    position: absolute !important;
  }
	#hmzs .isNone{
		visibility:hidden;
	}
	/*龙/虎/和*/
	#hmzs .bigBg{
		background: #df303f;
	}
	#hmzs .smallBg{
		background: #6175bf;
	}
	
	#hmzs {
		background: #e1d9bc;
		overflow: hidden;
	}
	.selector::-webkit-scrollbar { display: none }
	
	#hmzs .left {
		color: #666;
		float: left;
		width: 16%;
		box-sizing: border-box;
	}
	
	#hmzs .right {
		color: #666;
		float: right;
		width: 84%;
		box-sizing: border-box;
	}
	
	#hmzs .left .leftBox {
		padding: 5px 0;
		font-size: 14px;
		text-align: center;
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
	}
	
	#hmzs .right .list {
		font-size: 0;
	}
	
	#hmzs .right .list .box.box1 span {
		color: #df303f;
		letter-spacing: 4px;
		width: 70px;
	}
	
	#hmzs .right .list .box.box2 {
		width: 50px;
	}
	
	#hmzs .right .list .box {
		display: inline-block;
		padding: 5px 0;
		font-size: 14px;
		text-align: center;
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
	}
	
	#hmzs .right .list .box.box2 span {
		display: inline-block;
		width: 18px;
		height: 18px;
		line-height: 18px;
		color: #fff;
		border-radius: 50%;
		text-align: center;
	}
</style>
