<template>
  <div id="hmzs">
    <div class="left">
      <div v-if="index < 20" v-for="(item,index) in kjlsList" :class="{'double':index%2==0}" class="leftBox">{{item.qiHao.substring(item.qiHao.length-3)}}</div>
    </div>
    <div @scroll="kjlsScroll" ref="kjjlRight" class="right o-x-s selector">
      <div v-if="index < 20" v-for="(item,index) in kjlsList" :class="{'double':index%2==0}" class="list">
        <div :class="{'double':index%2==0}" class="box" style="width: 70px">
          <span class="c-h" >{{item.haoMaList.join(' ')}}</span>
        </div>
        <div :class="{'double':index%2==0}" class="box box2">
          <span class="bigBg"   v-if="item.haoMaList[0] > 4">大</span>
          <span class="smallBg" v-else="" >小</span>
          <span class="singleBg"   v-if="item.haoMaList[0] % 2 !== 0">单</span>
          <span class="doubleBg" v-else="" >双</span>
        </div>
        <div :class="{'double':index%2==0}" class="box box2">
          <span class="bigBg"   v-if="item.haoMaList[1] > 4">大</span>
          <span class="smallBg" v-else="" >小</span>
          <span class="singleBg"   v-if="item.haoMaList[1] % 2 !== 0">单</span>
          <span class="doubleBg" v-else="" >双</span>
        </div>
        <div :class="{'double':index%2==0}" class="box box2">
          <span class="bigBg"   v-if="item.haoMaList[2] > 4">大</span>
          <span class="smallBg" v-else="" >小</span>
          <span class="singleBg"   v-if="item.haoMaList[2] % 2 !== 0">单</span>
          <span class="doubleBg" v-else="" >双</span>
        </div>
        <div :class="{'double':index%2==0}" class="box box2">
          <span class="bigBg"   v-if="item.haoMaList[3] > 4">大</span>
          <span class="smallBg" v-else="" >小</span>
          <span class="singleBg"   v-if="item.haoMaList[3] % 2 !== 0">单</span>
          <span class="doubleBg" v-else="" >双</span>
        </div>
        <div :class="{'double':index%2==0}" class="box box2">
          <span class="bigBg"   v-if="item.haoMaList[4] > 4">大</span>
          <span class="smallBg" v-else="" >小</span>
          <span class="singleBg"   v-if="item.haoMaList[4] % 2 !== 0">单</span>
          <span class="doubleBg" v-else="" >双</span>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
  import { Dialog } from 'vant';
  import { Toast } from 'vant';
  export default {
    props: ['kjlsList'],
    data() {
      return {
        hmIndex:0,//01234/w万千百十个
      }
    },
    watch: {

    },
    created: function() {
      for(let i in this.kjlsList){
        if(this.kjlsList[i].haoMaList[0]==='?'){
          this.kjlsList = this.kjlsList.slice(1,this.kjlsList.length);
        }
      }
    },
    mounted: function() {

    },
    methods: {
      //判断质或合
      zhiHe:function(num){
        let zhiList = [1,2,3,5,7];//0-9质数
        for(let i in zhiList){
          if(zhiList[i] == num) return '质';
        }
        return '合';
      },
      //监听父组件切换类型改变
      hmzsIndex:function(index){
        this.hmIndex = index;
      },
      //左右滑动时传递广播给父组件
      kjlsScroll:function(){
        let num = this.$refs.kjjlRight.scrollLeft;
        this.$emit('kjlsScroll',num);
      },
      //父组件滑动子组件跟随
      kjTopLeft:function(num){
        this.$refs.kjjlRight.scrollLeft = num;
      }
    }
  }
</script>

<style>
  #hmzs .isNone{
    visibility:hidden;
  }
  /*龙/虎/和*/
  #hmzs .bigBg{
    background: #df303f;
  }
  #hmzs .smallBg{
    background: #6175bf;
  }
  #hmzs .singleBg{
    background: #00ab99;
  }
  #hmzs .doubleBg{
    background: #00a3ee;
  }


  #hmzs {
    background: #e1d9bc;
    overflow: hidden;
  }
  .selector::-webkit-scrollbar { display: none }

  #hmzs .left {
    color: #666;
    float: left;
    width: 16%;
    box-sizing: border-box;
  }

  #hmzs .right {
    color: #666;
    float: right;
    width: 84%;
    box-sizing: border-box;
  }

  #hmzs .left .leftBox {
    padding: 5px 0;
    font-size: 14px;
    text-align: center;
    border-right: 1px solid #ccc;
    /*border-bottom: 1px solid #ccc;*/
  }

  #hmzs .right .list {
    font-size: 0;
  }

  #hmzs .right .list .box.box1 span {
    color: #df303f;
    letter-spacing: 4px;
    width: 70px;
  }

  #hmzs .right .list .box.box2 {
    width: 50px;
  }

  #hmzs .right .list .box {
    display: inline-block;
    padding: 5px 0;
    font-size: 14px;
    text-align: center;
    border-right: 1px solid #ccc;
    /*border-bottom: 1px solid #ccc;*/
  }
  #hmzs .double{
    background: #ebe8d6;
  }

  #hmzs .right .list .box.box2 span {
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
  }
</style>
