<template>
	<div id="lhd">
		<div class="left">
			<div v-if="index < 20" v-for="item,index in kjlsList" class="leftBox">{{item.qiHao.substring(item.qiHao.length-3)}}</div>
		</div>
		<div @scroll="kjlsScroll" ref="kjjlRight" class="right o-x-s selector">
			<div v-if="index < 20" v-for="item,index in kjlsList" class="list">
				<div class="box box2">
					<span class="bigBg"  v-if="item.haoMaList[0] > item.haoMaList[1]">龙</span>
					<span class="single" v-else-if="item.haoMaList[0] < item.haoMaList[1]" >虎</span>
					<span class="double" v-else="">合</span>
				</div>
				<div class="box box2">
					<span class="bigBg"  v-if="item.haoMaList[0] > item.haoMaList[2]">龙</span>
					<span class="single" v-else-if="item.haoMaList[0] < item.haoMaList[2]" >虎</span>
					<span class="double" v-else="">合</span>
				</div>
				<div class="box box2">
					<span class="bigBg"  v-if="item.haoMaList[0] > item.haoMaList[3]">龙</span>
					<span class="single" v-else-if="item.haoMaList[0] < item.haoMaList[3]" >虎</span>
					<span class="double" v-else="">合</span>
				</div>
				<div class="box box2">
					<span class="bigBg"  v-if="item.haoMaList[0] > item.haoMaList[4]">龙</span>
					<span class="single" v-else-if="item.haoMaList[0] < item.haoMaList[4]" >虎</span>
					<span class="double" v-else="">合</span>
				</div>
				<div class="box box2">
					<span class="bigBg"  v-if="item.haoMaList[1] > item.haoMaList[2]">龙</span>
					<span class="single" v-else-if="item.haoMaList[1] < item.haoMaList[2]" >虎</span>
					<span class="double" v-else="">合</span>
				</div>
				<div class="box box2">
					<span class="bigBg"  v-if="item.haoMaList[1] > item.haoMaList[3]">龙</span>
					<span class="single" v-else-if="item.haoMaList[1] < item.haoMaList[3]" >虎</span>
					<span class="double" v-else="">合</span>
				</div>
				<div class="box box2">
					<span class="bigBg"  v-if="item.haoMaList[1] > item.haoMaList[4]">龙</span>
					<span class="single" v-else-if="item.haoMaList[1] < item.haoMaList[4]" >虎</span>
					<span class="double" v-else="">合</span>
				</div>
				<div class="box box2">
					<span class="bigBg"  v-if="item.haoMaList[2] > item.haoMaList[3]">龙</span>
					<span class="single" v-else-if="item.haoMaList[2] < item.haoMaList[3]" >虎</span>
					<span class="double" v-else="">合</span>
				</div>
				<div class="box box2">
					<span class="bigBg"  v-if="item.haoMaList[2] > item.haoMaList[4]">龙</span>
					<span class="single" v-else-if="item.haoMaList[2] < item.haoMaList[4]" >虎</span>
					<span class="double" v-else="">合</span>
				</div>
				<div class="box box2">
					<span class="bigBg"  v-if="item.haoMaList[3] > item.haoMaList[4]">龙</span>
					<span class="single" v-else-if="item.haoMaList[3] < item.haoMaList[4]" >虎</span>
					<span class="double" v-else="">合</span>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { Dialog } from 'vant';
	import { Toast } from 'vant';
	export default {
		props: ['kjlsList'],
		data() {
			return {
				bb:'123'
			}
		},
		watch: {

		},
		created: function() {

		},
		mounted: function() {

		},
		methods: {
			//左右滑动时传递广播给父组件
			kjlsScroll:function(){
				let num = this.$refs.kjjlRight.scrollLeft;
				this.$emit('kjlsScroll',num);
			},
			//父组件滑动子组件跟随
			kjTopLeft:function(num){
				this.$refs.kjjlRight.scrollLeft = num;
			}
		}
	}
</script>

<style>
	/*龙/虎/和*/
	#lhd .bigBg{
		background: #df303f;
	}
	#lhd .single{
		background: #00ab99;
	}
	#lhd .double{
		background: #00a3ee;
	}
	
	#lhd {
		background: #e1d9bc;
		overflow: hidden;
	}
	.selector::-webkit-scrollbar { display: none }
	
	#lhd .left {
		color: #666;
		float: left;
		width: 16%;
		box-sizing: border-box;
	}
	
	#lhd .right {
		color: #666;
		float: right;
		width: 84%;
		box-sizing: border-box;
	}
	
	#lhd .left .leftBox {
		padding: 5px 0;
		font-size: 14px;
		text-align: center;
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
	}
	
	#lhd .right .list {
		font-size: 0;
	}
	
	#lhd .right .list .box.box1 span {
		color: #df303f;
		letter-spacing: 4px;
		width: 70px;
	}
	
	#lhd .right .list .box.box2 {
		width: 50px;
	}
	
	#lhd .right .list .box {
		display: inline-block;
		padding: 5px 0;
		font-size: 14px;
		text-align: center;
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
	}
	
	#lhd .right .list .box.box2 span {
		display: inline-block;
		width: 18px;
		height: 18px;
		line-height: 18px;
		color: #fff;
		border-radius: 50%;
		text-align: center;
	}
</style>
