<template>
  <div>
    <van-row v-for="(item,listIndex) in hmlist" :key="listIndex" class="p-b-t-10 b-b">
      <van-col span="5"><span class="typeW">{{ changeTitleName(item.name) }}</span></van-col>
      <van-col span="19" class="m-t-5">
        <div class="">
          <div v-if="" @click="selectHM(listIndex,hmIndex)" v-for="item2,hmIndex in item.oddPlayItems"  class="d-i m-r-5">
            <div :class="{hmzsTabActive:item2.isActive}" class="box p-5">
              <p class="f-s-20">{{item2.name}}</p>
              <p data-v-53a08393="" class="f-s-14  c-3">{{item2.odds}}</p>
            </div>
          </div>
        </div>
      </van-col>
    </van-row>
  </div>
</template>

<script>
  export default {
    props: ['hmlist', 'fpText'],
    data() {
      return {}
    },
    created:function(){
      // console.log(this.hmlist)
    },
    methods:{
      changeTitleName(name){
        switch (name) {
          case '百家乐双面盘':
            return '百家乐双面盘'
            break;
          case '庄':
            return '庄'
            break;
          case '闲':
            return '闲'
            break;
          case '牛牛点数':
            return '牛牛点数'
            break;
          case '牛牛双面盘':
            return '牛牛双面盘'
            break;
          case '德州扑克双面盘':
            return '德州扑克双面盘'
            break;
          case '三公双面盘':
            return '三公双面盘'
            break;
          case '左闲':
            return '左闲'
            break;
          case '右闲':
            return '右闲'
            break;
          default:
            return name
        }
      },
      selectHM:function (listIndex,hmIndex) {
        this.$emit('selectHM', listIndex,hmIndex);
        // 父组件数据不同步，手动刷新同步
        this.$forceUpdate();
      }

    }
  }
</script>

<style scoped>
  .m-t-10-zh {
    margin-top: .5rem;
  }
</style>
