<template>
	<div class="flexWrap" id="moreSsc">
		<van-nav-bar @click-left="back" left-text="返回" left-arrow class="bg-block c-w" :title="(plays.name || '--') + '走势图'" />
		<van-tabs @click="teb">
			<van-tab v-for="(item,index) in tab" :key="index" :title="item"> </van-tab>
		</van-tabs>
		<div v-if="tabIndex == 1" class="flex hmzsTab">
			<div @click="hmzsTab(index)" v-for="item,index in hmzsTabList" class="flex1"><div :class="{hmzsTabActive:item.isActive}">{{item.name}}</div></div>
		</div>
		<div id="kjls">
			<div class="left">
				<div class="leftBox">期号</div>
			</div>
			<div @scroll="kjTopLefts"  ref="kjlsLeftNum" class="right o-x-s selector">
				<div v-if="tabIndex == 0" class="list">
					<div class="box box1" style="letter-spacing: 0;color: #666;width: 70px;">开奖号码</div>
					<div v-for="item in hedeList1" class="box box2">{{item}}</div>
				</div>
				<div v-else-if="tabIndex == 1" class="list">
					<div v-for="item in hedeList2" class="box box2">{{item}}</div>
				</div>
				<div v-else-if="tabIndex == 2" class="list">
					<div v-for="item in hedeList3" class="box box2">{{item}}</div>
				</div>
			</div>
		</div>
		<div class="flexContent">
			<!--开奖记录/号码走势/龙虎斗-->
			<more-kjjl @kjlsScroll="kjjlRight"  :kjlsList="kjlsList" v-if="tabIndex == 0" ref="kjjlTab"></more-kjjl>
			<more-hmzs @kjlsScroll="kjjlRight"  :kjlsList="kjlsList" :hmzsTabList="hmzsTabList" v-else-if="tabIndex == 1" ref="hmzsTab"></more-hmzs>
			<more-lhd  @kjlsScroll="kjjlRight"  :kjlsList="kjlsList" v-else="" ref="lhdTab"></more-lhd>
			<div class="p-10 f-s-14 c-6 text-c zbg">已显示最近20期走势</div>
		</div>
	</div>
</template>

<script>
	import { Dialog } from 'vant';
	import { Toast } from 'vant';
	import moreKjjl from './kjjl';
	import moreHmzs from './hmzs';
	import moreLhd from './lhd';
	export default {
		components: {moreKjjl , moreHmzs , moreLhd},
		data() {
			return {
				hedeList1:['万位','千位','百位','十位','个位'],
				hedeList2:['大小','单双','质合','0','1','2','3','4','5','6','7','8','9'],
				hedeList3:['万千','万百','万十','万个','千百','千十','千个','百十','百个','十个'],
				plays: new Object(),//父组件传过来参数
				tabIndex: 0,
				tab: ['开奖记录', '号码走势', '龙虎斗'],
				hmzsTabList:[
					{name:'万位走势',isActive:true},{name:'千位走势',isActive:false},{name:'百位走势',isActive:false},{name:'十位走势',isActive:false},{name:'个位走势',isActive:false}
				],
				kjlsList:'',//开奖历史数据
			}
		},
		watch: {
	
		},
		created: function() {
			this.plays = this.$route.query;
      this.getDrawNoticeDetails();//获取指定彩种历史开奖记录
		},
		mounted: function() {
      this
		},
		methods: {
			//切换号码走势头部
			hmzsTab:function(index){
				for(let i in this.hmzsTabList){
					this.hmzsTabList[i].isActive = false;
				}
				this.hmzsTabList[index].isActive = true;
				this.$refs.hmzsTab.hmzsIndex(index);
			},
			//子组件左右滑动时父组件跟随滑动
			kjjlRight:function(num){
				this.$refs.kjlsLeftNum.scrollLeft = num;
			},
			kjTopLefts:function(){
				let num = this.$refs.kjlsLeftNum.scrollLeft;
				switch (this.tabIndex){
					case 0:
						this.$refs.kjjlTab.kjTopLeft(num);
						break;
					case 1:
						this.$refs.hmzsTab.kjTopLeft(num);
						break;	
					case 2:
						this.$refs.lhdTab.kjTopLeft(num);
						break;		
					default:
						break;
				}
			},
			//头部切换.用于判断子组件是否第一次加载
			teb: function(index, title) {
				this.tabIndex = index;
				for(let i in this.hmzsTabList){//重置选中万位
					this.hmzsTabList[i].isActive = false;
				}
				this.hmzsTabList[0].isActive = true;
			},
			//获取指定彩种历史开奖记录
      getDrawNoticeDetails: function() {
        $sky.getDrawNoticeDetails(this.plays.code, (ret) => {
          this.kjlsList = ret.content.list;
        })
      },
			back: function() {
				window.history.go(-1);
			},
		}
	}
</script>

<style>
	#moreSsc .hmzsTab .flex1{
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		background: #e1d9bc;
		padding: 3px 0;
	}
	#moreSsc .hmzsTab .flex1 div{
		border-radius: 4px;
		padding: 3px 0;
		text-align: center;
		font-size: 12px;
		margin: 5px;
	}
	#moreSsc .hmzsTabActive{
		background: #df303f;
		color: #fff;
	}
	.selector::-webkit-scrollbar { display: none }
	#moreSsc .van-tab{
		background: #e1d9bc;
	}
	#kjls {
		background: #e1d9bc;
		overflow: hidden;
	}
	
	#kjls .left {
		color: #666;
		float: left;
		width: 16%;
		box-sizing: border-box;
	}
	
	#kjls .right {
		color: #666;
		float: right;
		width: 84%;
		box-sizing: border-box;
	}
	
	#kjls .left .leftBox {
		padding: 5px 0;
		font-size: 14px;
		text-align: center;
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
	}
	
	#kjls .right .list {
		font-size: 0;
	}
	
	#kjls .right .list .box.box1 span {
		color: #df303f;
		letter-spacing: 4px;
		width: 70px;
	}
	
	#kjls .right .list .box.box2 {
		width: 50px;
	}
	
	#kjls .right .list .box {
		display: inline-block;
		padding: 5px 0;
		font-size: 14px;
		text-align: center;
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
	}
	
	#kjls .right .list .box.box2 span {
		display: inline-block;
		width: 18px;
		height: 18px;
		line-height: 18px;
		color: #fff;
		border-radius: 50%;
		text-align: center;
	}
</style>
