<template>
  <div>
    <van-row v-for="(item,listIndex) in hmlist" :key="listIndex" :class="{zonghe:item.name=='总和'}" class="p-b-t-10 b-b">
      <van-col span="5"><span class="typeW">{{ changeTitleName(item.name) }}</span></van-col>
      <van-col span="19" class="m-t-5">
        <div class="">
          <div v-if="" @click="selectHM(listIndex,hmIndex)" v-for="item2,hmIndex in item.oddPlayItems" :class="{'m-t-10-zh': (hmIndex>=2 && item.name==='总和'),'m-t-10': (hmIndex>=5 && item.name!=='总和')}" class="d-i m-r-5">
            <div :class="{hmzsTabActive:item2.isActive}" class="box p-5">
              <p class="f-s-20">{{item2.name}}</p>
              <p data-v-53a08393="" class="f-s-14  c-3" :data="JSON.stringify(item2)">{{item2.odds}}</p>
            </div>
          </div>
        </div>
      </van-col>
    </van-row>
  </div>
</template>

<script>
  export default {
    props: ['hmlist', 'fpText'],
    data() {
      return {}
    },
    methods:{
      changeTitleName(name){
        switch (name) {
          case '万千':
            return '万位双面盘';
          case '千百':
            return '千位双面盘';
          case '百十':
            return '百位双面盘';
          case '十个':
            return '十位双面盘';
          case '个万':
            return '个位双面盘';
          default:
            return name
        }
      },
      selectHM:function (listIndex,hmIndex) {
        this.$emit('selectHM', listIndex,hmIndex);
        // 父组件数据不同步，手动刷新同步
        this.$forceUpdate();
      }

    }
  }
</script>

<style scoped>
  .m-t-10-zh {
    margin-top: .5rem;
  }
</style>
