<template>
  <div id="heshu">
    <p class="c-r text-c f-s-18">赔率：{{odds}}</p>
    <van-row v-for="(item,listIndex) in hmlist" :key="listIndex" class="p-10 b-b">
      <van-col span="5"> <span class="typeW">{{item.name}}</span>	</van-col>
      <van-col span="19" class="m-t-5 text-l">
        <div class="flex">
          <div v-if="hmIndex<5" @click="selectHM(listIndex,hmIndex)" v-for="item2,hmIndex in item.oddPlayItems" class="flex1">
            <span :class="{hmzsTabActive:item2.isActive}" class="box">{{item2.name}}</span>
            <p></p>
          </div>
        </div>
        <div class="flex m-t-10">
          <div v-if="hmIndex>=5" @click="selectHM(listIndex,hmIndex)" v-for="item2,hmIndex in item.oddPlayItems" class="flex1">
            <span :class="{hmzsTabActive:item2.isActive}" class="box">{{item2.name}}</span>
            <p></p>
          </div>
        </div>
      </van-col>
    </van-row>
  </div>
</template>

<script>
  import {Toast} from 'vant'
  export default {
    props: ['hmlist', 'fpText', 'rule', 'selectHaoMaLenght', 'nowPlay'],
    data() {
      return {
        odds: ''
      }
    },
    watch: {
      //监听弹窗变化
      selectHaoMaLenght: function () {
        this.odds = '';
        for(let i in this.nowPlay.oddPlayItems){
          this.nowPlay.oddPlayItems[i].isNowYear === this.selectHaoMaLenght? this.odds = this.nowPlay.oddPlayItems[i].odds:''
        }
      },
    },
    created:function(){
      this.odds = ''
    },
    methods:{
      closeHM:function(){
        for(let i in this.hmlist[0].oddPlayItems){
          this.hmlist[0].oddPlayItems[i].isActive = false;
        }
        this.$forceUpdate();
      },
      selectHM:function (listIndex, hmIndex) {
        let len = 0;
        for(let i in this.hmlist[0].oddPlayItems){
          this.hmlist[0].oddPlayItems[i].isActive? len+=1: '';
        }
        if(this.rule.name == '组选六'){
          if(len >= 8 && this.hmlist[listIndex].oddPlayItems[hmIndex].isActive == false){
            Toast('已达最大选中个数');
            return;
          }
        }
        this.$emit('selectHM',listIndex, hmIndex);
        // 父组件数据不同步，手动刷新同步
        this.$forceUpdate();
      }

    }
  }
</script>

<style scoped>
  .m-t-10-zh {
    margin-top: .5rem;
  }
  #ssc #heshu .box {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    border-radius: 50%;
  }
</style>
