<template>
	<view class="content">
		<web-view ref="webview" class="webview" src="https://55868e.net/mobile"></web-view>
	</view>
</template>

<script>
	export default {
		data() {
			return {
				title: 'Hello',
			}
		},
		onLoad() {
		},
		created() {},
		methods: {

		},
	}
</script>

<style>
	* {
		padding: 0;
		margin: 0;
	}

	.webview {
		width: 100%;
		height: 100%;
	}
</style>
