<template>
	<view class="address">
		<view class="status_bar"></view>
		<view class="public_header" @click="$common.back()">
			<image src="/static/images/icon/out.png" alt=""> 收货地址
		</view>
		<view class="container">
			<view class="content" v-if="back.cardNo">
				<view class="address-item">
					<p><span>兑换银行：</span><span>{{back.bankName}}</span></p>
					<p><span>姓名：</span><span>{{back.userName}}</span></p>
					<p><span>开户支行：</span><span>{{back.bankAddress}}</span></p>
					<p><span>银行卡号：</span><span>{{back.cardNo}}</span></p>
				</view>
			</view>
			<view class="no-content" style="text-align: center;" v-else>
				<view>暂未绑定地址</view>
				<view class="add" @click="toAdd()">去添加</view>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		name: "address",
		data() {
			return {
				back: '',
				userInfo:'',
			}
		},
		created() {
			this.accountInfoIs()
		},
		onLoad() {
			this.userInfo = uni.getStorageSync('userInfo')
		},
		onPullDownRefresh() {
			this.accountInfoIs()
		},
		methods: {
			accountInfoIs() {
				this.$Request.post('/native/accountInfo.do', {}, true).then(res => {
					if (res.success) {
						this.back = res.content
					}
				})
			},
			toAdd(){
				if(!this.userInfo.receiptPwd){
					uni.showToast({
						title: '请先设置资金密码',
						icon: 'none',
						duration: 2000
					});
					setTimeout(() => {
						this.$common.toPath('/pages/center/password?type=2')
					}, 2000)
				} else {
					this.$common.toPath('/pages/center/bindCard')
				}
			}
		}
	}
</script>

<style lang="scss">
	@import '../../static/css/center/address.scss';
</style>