<template>
	<view class="order">
		<view class="status_bar"></view>
		<view class="public_header">
			<image src="/static/images/icon/out.png" alt="" @click="$common.back()"> 变动记录 <span class="button"
					@click="$refs.filterPopup.open()">筛选</span>
		</view>
		<view class="list" v-if="mnyrecordList.length > 0">
			<view class="box" v-for="(item, index) in mnyrecordList" :key="index">
				<view class="row"><text>类型：{{ typeFilter(item.type) }}</text></view>
				<view class="row"><text>订单号：{{item.orderId}}</text></view>
				<view class="row"><text>变动前金额：<span style="color: #0894ec;">{{item.beforeMoney}}</span>{{unit}}</text>
				</view>
				<view class="row"><text>变动金额：<span style="color: red;">{{item.money}}</span>{{unit}}</text></view>
				<view class="row"><text>变动后金额：<span style="color: #4cd964;">{{item.afterMoney}}</span>{{unit}}</text>
				</view>
				<view class="row"><text>处理时间：<span>{{$common.getMyDate(item.createDatetime)}}</span>{{unit}}</text>
				</view>
				<view class="row"><text>订单详情：<span>{{replace(item.remark)}}</span></text></view>
			</view>
			<view class="tip">
				<span v-if="page < totalPageCount">下拉加载更多</span>
				<span v-else>已经到底了</span>
			</view>
		</view>
		<view class="no-data" v-else>
			<p>
				<image src="/static/images/no-data.56c1aed8.png"></image>
			</p>
			<p>暂无数据</p>
		</view>
		<uni-popup ref="filterPopup" type="top">
			<view class="filter-box" :style="{height:`${clienHeight}px`}">
				<view class="close">
					<uni-icons type="closeempty" size="25" color="#ffffff"
						@click="$refs.filterPopup.close()"></uni-icons>
				</view>
				<view class="header">
					筛选条件
				</view>
				<view class="input">
					<view class="row">
						<view class="label">时间</view>
						<view style="color: red;">
							<uni-datetime-picker type="range" :value="[filterDate.start,filterDate.end]"
								@change="change" />
						</view>
					</view>
					<view class="row" @click="typeSwitch = true">
						<view class="label">变动类型</view>
						<view>
							<view class="uni-input">{{typeValue}}</view>
						</view>
					</view>
				</view>
				<view class="button" @click="getMnyrecordlist('reset')"><button>查询</button></view>
			</view>
			<u-picker :show="typeSwitch" :columns="typeColumns" @confirm="tyepConfirm" @cancel="cancel()"></u-picker>
		</uni-popup>
	</view>
</template>

<script>
	export default {
		name: "order",
		data() {
			return {
				page: 1,
				filterDate: {
					start: '',
					end: '',
				},
				typeSwitch: false,
				typeValue: '全部记录',
				typeCode: '',
				typeColumns: [
					['全部记录', '人工购币', '人工扣币', '在线回款失败', '在线回款', '在线支付', '快速购币', '一般购币', '虚拟币购币', '活动中奖', '金额兑换积分',
						'积分兑换金额', '回款取消', '购币取消', '晋级赠送', '注册赠送', '存款赠送', '订单下单', '订单匹配', '订单取消'
					]
				],
				typeIndex: ['', 1, 2, 3, 4, 5, 6, 7, 8, 18, 19, 20, 54, 55, 78, 79, 80, 130, 131, 132],
				mnyrecordList: [],
				mnyrecordTypeList: [],
				totalCount: 0,
				totalPageCount: 0,
				clienHeight: 0,
				unit: '',
			}
		},
		created() {
			this.filterDate.start = this.$common.getMyDate(+new Date(), 2)
			this.filterDate.end = this.$common.getMyDate(+new Date(), 2)
			this.getMnyrecordlist()
			this.getMnyrecordType()
			this.getClineHeight()
			this.unit = uni.getStorageSync('unit')
		},
		onLoad() {},
		onReachBottom() {
			if (this.page < this.totalPageCount) {
				this.page++
				this.getMnyrecordlist()
			}
		},
		onPullDownRefresh() {
			this.resetData()
			this.getMnyrecordlist()
		},
		methods: {
			updateName(name) {
				switch (name) {
					case '极速快三':
						return '得物'
					case '幸运快三':
						return '国美电器'
					case '十分快三':
						return '网易严选'
					case '澳门快三':
						return '唯品会'
				}
			},
			replace(value) {
				if (value == undefined) return '';
				if (value.includes('投注彩种')) value = value.replace(/投注彩种/g, '共享电商');
				if (value.includes('极速快三')) value = value.replace(/极速快三/g, '得物');
				if (value.includes('幸运快三')) value = value.replace(/幸运快三/g, '国美电器');
				if (value.includes('十分快三')) value = value.replace(/十分快三/g, '唯品会');
				if (value.includes('澳门快三')) value = value.replace(/澳门快三/g, '网易严选');
				return value
			},
			resetData() {
				this.page = 1
				this.mnyrecordList = []
				this.totalCount = 0
				this.totalPageCount = 0
				this.filterDate.start = this.$common.getMyDate(+new Date(), 2)
				this.filterDate.end = this.$common.getMyDate(+new Date(), 2)
				this.typeValue = '全部记录'
				this.typeCode = ''
			},
			getClineHeight() {
				const res = uni.getSystemInfo({
					success: (res => {
						this.clienHeight = (res.windowHeight - res.windowBottom)
					})
				});
			},
			getMnyrecordlist(type) {
				if (type == 'reset') {
					this.page = 1
					this.$refs.filterPopup.close()
				}
				let params = {
					startTime: this.filterDate.start + ' 00:00:00',
					endTime: this.filterDate.end + ' 23:59:59',
					type: this.typeCode,
					page: this.page,
					rows: 6,
				}
				this.$Request.post('/native/mnyrecordlist.do', params, true).then(res => {
					if (type == 'reset') {
						this.mnyrecordList = res.list
					} else {
						for (let i in res.list) {
							this.mnyrecordList.push(res.list[i]);
						}
					}
					this.totalCount = res.totalCount
					this.totalPageCount = res.totalPageCount
					uni.stopPullDownRefresh();
				})
			},
			getMnyrecordType() {
				this.$Request.get('/native/getMnyrecordType.do', {}, false).then(res => {
					let e = []
					for (let index in res) {
						this.mnyrecordTypeList.push(res[index])
					}
				})
			},
			change(e) {
				this.filterDate.start = e[0]
				this.filterDate.end = e[1]
			},
			tyepConfirm(e) {
				this.typeCode = this.typeIndex[e.indexs[0]]
				this.typeValue = e.value[0]
				this.cancel()
			},
			cancel() {
				this.typeSwitch = false
			},
			typeFilter(type) {
				if (!type) console.log(type)
				switch (type) {
					case 1:
						return '人工购币';
					case 2:
						return '人工扣币';
					case 3:
						return '在线回款失败';
					case 4:
						return '在线回款';
					case 5:
						return '在线支付';
					case 6:
						return '快速购币';
					case 7:
						return '一般购币';
					case 8:
						return '虚拟币购币';
					case 18:
						return '活动中奖';
					case 19:
						return "现金兑换积分";
					case 20:
						return "积分兑换现金";
					case 54:
						return "回款取消";
					case 55:
						return "购币取消";
					case 78:
						return "晋级赠送";
					case 79:
						return "注册赠送";
					case 80:
						return "人工购币";
					case 130:
						return "订单下单";
					case 131:
						return "订单匹配";
					case 132:
						return "订单取消";
					default:
						return `${type} 未知`
				}
			},
		},
	}
</script>

<style lang="scss">
	@import '../../static/css/center/order.scss';
</style>