<template>
	<view class="login">
		<view class="status_bar"></view>
		<view class="public_header" @click="$common.back()">
			<image src="/static/images/icon/out.png" alt=""> 设置{{title}}密码
		</view>
		<view class="login-box" style="margin-top: 60rpx;">
			<view class="input" v-if="(userInfo.receiptPwd && type == 2) || type == 1">
				<view class="icon-box">
					<uni-icons type="locked" size="20"></uni-icons>
				</view>
				<input class="form-input" :type="passtype1 ? 'password' : 'text'" placeholder="请输入旧密码"
					v-model="params.oldpassword">
				<view class="icon-box eye">
					<uni-icons type="eye" size="20" v-show="passtype1" @click="passtype1 = false"></uni-icons>
					<uni-icons type="eye-slash" size="20" v-show="!passtype1" @click="passtype1 = true"></uni-icons>
				</view>
			</view>
			<view class="input">
				<view class="icon-box">
					<uni-icons type="locked" size="20"></uni-icons>
				</view>
				<input class="form-input" :type="passtype2 ? 'password' : 'text'" placeholder="请输入新密码"
					v-model="params.newpassword">
				<view class="icon-box eye">
					<uni-icons type="eye" size="20" v-show="passtype2" @click="passtype2 = false"></uni-icons>
					<uni-icons type="eye-slash" size="20" v-show="!passtype2" @click="passtype2 = true"></uni-icons>
				</view>
			</view>
			<view class="input">
				<view class="icon-box">
					<uni-icons type="locked" size="20"></uni-icons>
				</view>
				<input class="form-input" :type="passtype3 ? 'password' : 'text'" placeholder="请确认密码"
					v-model="params.confirmpassword">
				<view class="icon-box eye">
					<uni-icons type="eye" size="20" v-show="passtype3" @click="passtype3 = false"></uni-icons>
					<uni-icons type="eye-slash" size="20" v-show="!passtype3" @click="passtype3 = true"></uni-icons>
				</view>
			</view>
			<view class="login-button" style="margin-top: 100rpx;">
				<button @click="submitPassword()">提交</button>
			</view>
		</view>
		<u-toast ref="uToast"></u-toast>
	</view>
</template>

<script>
	export default {
		name: "login",
		data() {
			return {
				passtype1: true,
				passtype2: true,
				passtype3: true,
				setUrl:'/native/modify_pass.do',
				params: {
					oldpassword: '',
					newpassword: '',
					confirmpassword: '',
				},
				type:1,
				userInfo:'',
				title:'',
			}
		},
		created() {},
		onPullDownRefresh() {
			uni.stopPullDownRefresh();
		},
		onLoad(option) {
			this.userInfo = uni.getStorageSync('userInfo')
			this.type = option.type
			if(this.type == 1){
				this.setUrl = '/native/modify_pass.do'
				this.title = '登录'
			} else {
				if(this.userInfo.receiptPwd){
					this.setUrl = '/native/modify_cashpass.do'
				} else {
					this.setUrl = '/native/set_receipt_pwd.do'
				}
				this.title = '资金'
			}
		},
		methods: {
			submitPassword() {
				if (!this.params.oldpassword && this.userInfo.receiptPwd) {
					return uni.showToast({
						title: '旧密码不能为空！',
						icon: 'none',
						duration: 2000
					});
				}
				if (!this.params.newpassword) {
					return uni.showToast({
						title: '新密码不能为空！',
						icon: 'none',
						duration: 2000
					});
				}
				if (this.params.confirmpassword != this.params.newpassword) {
					return uni.showToast({
						title: '重复新密码和新密码不一致！',
						icon: 'none',
						duration: 2000
					});
				}
				let params = ''
				if(!this.userInfo.receiptPwd && this.type == 2){
					params = {
						pwd:this.params.newpassword,
						againPwd:this.params.confirmpassword
					}
				} else {
					params = this.params
				}
				this.$Request.post(this.setUrl, params, true).then(res => {
					if (res.success) {
						uni.showToast({
							title: '密码设置成功',
							icon: 'none',
							duration: 2000
						});
						setTimeout(() => {
							uni.reLaunch({
								url: '/pages/tabs/personal',
							})
						}, 2000)
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 2000
						});
					}
				})
			},
		}
	}
</script>

<style lang="scss">
	@import '../../static/css/login.scss';
</style>