<template>
	<view class="scoreChage">
		<view class="status_bar"></view>
		<view class="public_header">
			<image src="/static/images/icon/out.png" alt="" @click="$common.back()"> 积分兑换
		</view>
		<view class="content">
			<view class="card-header">当期账户：<span>{{user.account}}</span></view>
			<view class="input">
				<view class="row">
					<view class="label">账户余额</view>
					<view>{{user.balance}}</view>
				</view>
				<view class="row">
					<view class="label">账户积分</view>
					<view>{{exchangeConfig.score}}</view>
				</view>
				<view class="row">
					<view class="label">兑换类型</view>
					<view></view>
				</view>
				<view class="row">
					<view class="label"></view>
					<view style="display: flex;justify-content: center;width: 100%;">
						<button :class="{'active':typeIndex == index}" v-for="(item,index) in exchangeConfig.configs"
							:key="index" @click="select(item,index)">{{item.label}}</button>
					</view>
				</view>
				<view class="row">
					<view class="label">兑换额度</view>
					<view><input type="number" v-model="amount" placeholder="请输入兑换额度"></view>
				</view>
			</view>
		</view>
		<view class="button">
			<button @click="exchange()">立即兑换</button>
		</view>
		<u-toast ref="uToast"></u-toast>
	</view>
</template>

<script>
	export default {
		name: "scoreChage",
		data() {
			return {
				user: '',
				exchangeConfig: '',
				typeIndex: 0,
				amount: '',
				params: '',
			}
		},
		created() {},
		onLoad(option) {
			this.getExchangeConfig()
			this.meminfo()
		},
		methods: {
			select(item, index) {
				this.params = item
				this.typeIndex = index
			},
			exchange() {
				if (!this.amount) {
					return uni.showToast({
						title: '请输入要兑换的额度',
						icon: 'none',
						duration: 2000
					});
				}
				let params = {
					typeId: this.params.id,
					amount: this.amount
				}
				this.$Request.get('/native/exchange.do', params, false).then(res => {
					if(res.success){
						uni.showToast({
							title: '兑换成功',
							icon: 'none',
							duration: 2000
						});
						this.getExchangeConfig()
						this.meminfo()
						this.amount = ''
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 2000
						});
					}
				})
			},
			meminfo() {
				this.$Request.get('/native/meminfo.do', {}, false).then(res => {
					if (res.success == true) {
						this.user = res.content
					}
				})
			},
			getExchangeConfig() {
				this.$Request.get('/native/exchangeConfig.do', {}, false).then(res => {
					if (res.success == true) {
						this.exchangeConfig = res.content
						for (let index in this.exchangeConfig.configs) {
							let e = this.exchangeConfig.configs[index]
							if (e.type == 1) {
								e.label = '兑换希望积分'
							} else if (e.type == 2) {
								e.label = '兑换金币'
							}
						}
						this.params = this.exchangeConfig.configs[0]
					} else {
						uni.showToast({
							title: '积分兑换未配置',
							icon: 'none',
							duration: 2000
						});
					}
				})
			},
		}
	}
</script>

<style lang="scss">
	@import '../../static/css/center/scoreChage.scss';
</style>