<template>
	<view class="address">
		<view class="status_bar"></view>
		<view class="public_header" @click="$common.back()">
			<image src="/static/images/icon/out.png" alt=""> 钱包地址
		</view>
		<view class="container">
			<view class="content" v-if="userInfo.walletAddress">
				<view class="address-item">
					<p><span>币种：</span><span>{{userInfo.currencyType}}</span></p>
					<p><span>协议：</span><span>{{userInfo.protocol}}</span></p>
					<p><span>地址：</span><span>{{userInfo.walletAddress}}</span></p>
				</view>
			</view>
			<view class="no-content" style="margin: 50rpx;" v-else>
				<view class="input">
					<view class="icon-box">
						<uni-icons type="wallet" size="20"></uni-icons>
					</view>
					<input class="form-input" type="text" disabled placeholder="USDT" v-model="address.currencyType">
				</view>
				<view class="input" @click="protocolSwitch = true">
					<view class="icon-box">
						<uni-icons type="paperplane" size="20"></uni-icons>
					</view>
					<input class="form-input" type="text" disabled placeholder="请选择协议" v-model="address.protocol">
				</view>
				<view class="input">
					<view class="icon-box">
						<uni-icons type="paperclip" size="20"></uni-icons>
					</view>
					<input class="form-input" type="text" placeholder="请输入地址" v-model="address.address">
				</view>
				<view class="login-button">
					<button @click="bindAddress()">绑定地址</button>
				</view>
			</view>
		</view>
		<u-picker :show="protocolSwitch" :columns="protocolList" @confirm="confirmProtocol"
			@cancel="cancel()"></u-picker>
	</view>
</template>

<script>
	export default {
		name: "address",
		data() {
			return {
				back: '',
				userInfo: '',
				protocolSwitch: false,
				address: {
					currencyType: 'USDT',
					protocol: '',
					address: '',
				},
				protocolList: [
					['TRC20', 'ERC20', 'okpay', 'gopay', 'OKC', 'Polygon', 'Solana', 'kkpay']
				],
			}
		},
		created() {
			this.userInfo = uni.getStorageSync('userInfo')
		},
		onLoad() {

		},
		onPullDownRefresh() {
			this.accountInfoIs()
		},
		methods: {
			bindAddress() {
				let params = {
					currencyType: this.address.currencyType,
					protocol: this.address.protocol,
					walletAddress: this.address.address
				}
				this.$Request.post('/native/update_wallet_address.do', params, true).then(res => {
					if (res.success) {
						uni.showToast({
							title: '钱包地址绑定成功',
							icon: 'none',
							duration: 2000
						});
						setTimeout(() => {
							uni.reLaunch({
								url: '/pages/tabs/personal',
							})
						}, 2000)
					}
				})
			},
			confirmProtocol(e) {
				this.address.protocol = e.value[0]
				this.protocolSwitch = false
			},
			cancel() {
				this.protocolSwitch = false
			},
		}
	}
</script>

<style lang="scss">
	@import '../../static/css/center/address.scss';
</style>