<template>
	<div class="rules">
		<div class="main">
			<div class="items">
				<h2><i class="iconfont bz-tags">&#xe629;</i>目的</h2> 
				<div class="row">
					<div class="no">1</div> 
					<div class="ct">
			            用户在京东注册时，可以自行选择账户用户名和密码组合。用户应当妥善保管自己的账号、密码，用户就其账号及密码项下之一切活动负全部责任，包括用户数据的修改以及其他所有的损失由用户自行承担。用户须重视个人账号密码保护。
			        </div>
			    </div>
			    <div class="row">
					<div class="no">2</div> 
					<div class="ct">
			            每位客户只能开设一个帐户。如果我们发现客户开设了一个以上的帐户，我们有权视这些帐户为一个联合帐户。
			        </div>
			    </div>
			    <div class="row">
					<div class="no">3</div> 
					<div class="ct">
			            所有申请者必须年满十八岁以上且具有法律行为能力，方可在京东投注或注册。同时京东有权要求客户提供其年龄证明以及在相关资料未提供前冻结客户账户的权利。
			        </div>
			    </div>
			    <div class="row">
					<div class="no">4</div> 
					<div class="ct">
			            用户保证注册账号时填写的身份信息及个人资料是真实的，不得以虚假、冒用的居民身份信息进行注册或认证，任何非法、不真实、不准确的用户信息所产生的责任由用户承担。用户应不断更新注册资料，符合及时、详尽、真实、准确的要求。所有原始键入的资料将引用用户的账号注册资料。如果因用户的注册信息或认证信息不真实而引起的问题，以及对问题发生所带来的后果，京东不负任何责任。
			        </div>
			    </div>
			    <div class="row">
					<div class="no">5</div> 
					<div class="ct">
			            客户一经注册，不得再创建另外的账户。如发现客户注册多个账户(包括使用另外的姓名)，或者提供无效、伪造的资料或资料属于其他人(包括使用了不同的程序和图像编辑器修改文件资料)，本公司有权取消该账户的所有投注。同时，本公司有权冻结账户并无需返还存款。
			        </div>
			    </div>
			    <div class="row">
					<div class="no">6</div> 
					<div class="ct">
			            违反本规则第3条和第4条的客户应自行承担责任。如果违反此等规定，本公司有权拒付任何彩金和投注金，并且有权取消任何投注。对于用户是否属于上述人群之一，本公司概不承担任何知情责任。意即本公司在了解用户属于上述人群之一后，有权随时采取任何必要措施。
			        </div>
			    </div>
			    <div class="row">
					<div class="no">7</div> 
					<div class="ct">
			            一旦您注册开户就代表您认同京东的条款与条规以及我们的平台和网站上发布的任何其他适用条款和规则。因此您已接受我们收集、处理和存储您的个人资料的权利。我们将定期更新此政策条款，并发布网站及平台。我们建议您定期查看。
			        </div>
			    </div>
			</div>
			<div class="items">
				<h2><i class="iconfont bz-tags">&#xe629;</i>隐私政策</h2> 
				<div class="row">
					<div class="no">1</div> 
					<div class="ct">
			            注册之后您的信息即储存到我们的数据库中。我们将严格根据本条款以及我们的隐私政策来保护与处理您提供给我们的任何信息。
			        </div>
			    </div>
			    <div class="row">
					<div class="no">2</div> 
					<div class="ct">
			            我们不会透露任何使用我们平台进行投注的客户的身份。
			        </div>
			    </div>
			    <div class="row">
					<div class="no">3</div> 
					<div class="ct">
			            在访问我们的网站时，经过您的同意，我们可能会在您的设备上存储信息。这些信息被称为“cookies”，它是包含用于记录您的偏好的字母和数字的小型文本文件。当您访问我们的网站和在线页面时使用我们的服务时，Cookie会存储在您的设备上。Cookies帮助我们监控您网站的流量，改善我们的服务，让您更轻松地访问网站并提高您对我们服务的感官。
			        </div>
			    </div>
			    <div class="row">
					<div class="no">4</div> 
					<div class="ct">
			            京东管理团队及员工非常重视您的个人资料安全和隐私保护。我们将承诺对您隐私的合理使用以及保密的透明度。我们已修订这项隐私政策，以符合《一般资料保障规例》的标准
			        </div>
			    </div>
			    <div class="row">
					<div class="no">5</div> 
					<div class="ct">
			            为了在我们的网站上玩真钱游戏，您将被要求转账并从我们那里收钱。为了便利此类服务，我们可能会使用第三方电子支付系统来处理所需的金融交易。通过同意并接受本隐私政策，您明确且自愿地同意将您的个人信息转移给第三方，这对于处理和完成金融交易是必要的，包括在必要时将您的个人信息转移到国外。我们采取措施确保您的隐私在使用第三方支付系统时受到保护。
			        </div>
			    </div>
			</div>
			<div class="items">
				<h2><i class="iconfont bz-tags">&#xe629;</i>您的账户</h2> 
				<div class="row">
					<div class="no">1</div> 
					<div class="ct">
			           	就下列相关事宜的发生，京东不承担任何法律责任：
			           	<div class="all-no">
				           	<div class="no-in">a</div>
				           	<div class="ct-in">
				           		由于用户将密码告知他人或与他人共享注册账户，由此导致的任何个人信息的泄漏，或其他非因京东原因导致的个人信息 的泄漏。
				           	</div>
			           	</div>
			           	<div class="all-no">
				           	<div class="no-in">b</div>
				           	<div class="ct-in">
				           		任何由于黑客攻击、电脑病毒侵入造成的信息泄漏。
				           	</div>
			           	</div>
			           	<div class="all-no">
				           	<div class="no-in">c</div>
				           	<div class="ct-in">
				           		因不可抗力导致的信息泄漏。
				           	</div>
			           	</div>
			        </div>
			    </div>
			    <div class="row">
					<div class="no">2</div> 
					<div class="ct">
			            京东保留在任何时间以任何原因关闭或冻结您账户的权利。京东 有权关闭或冻结您的账户，如下列：
			            <div class="all-no">
				           	<div class="no-in">a</div>
				           	<div class="ct-in">
				           		京东认为您在使用网站时存在欺诈行为或出于非法或不正当目的​而使用网站。
				           	</div>
			           	</div>
			           	<div class="all-no">
				           	<div class="no-in">b</div>
				           	<div class="ct-in">
				           		京东认为您在使用网站时存在不公正/蓄意欺骗/利用京东 或​任何客户的行为/使用您的账户受益于第三方。
				           	</div>
			           	</div>
			           	<div class="all-no">
				           	<div class="no-in">c</div>
				           	<div class="ct-in">
				           		京东认为您在使用网站时存在不公正/蓄意欺骗/利用京东 或​任何客户的行为/使用您的账户受益于第三方。
				           	</div>
			           	</div>
			           	<div class="all-no">
				           	<div class="no-in">d</div>
				           	<div class="ct-in">
				           		如果我们发现您在作弊，或者如果我们判定您采用或使用了一个被设计来击败或有能力击败我们应用和/或软件的系统（包括机器、机器人、电脑、软件或任何自动化系统），我们可以暂停和/或取消您的账户接受服务，和/或作废和/或没收您的账户中的可用资金。京东对此具有单方面绝对酌情权。
				           	</div>
			           	</div>
			           	<div class="all-no">
				           	<div class="no-in">e</div>
				           	<div class="ct-in">
				           		如果京东因您在使用网站时存在不公正/蓄意欺骗/利用京东或任何客户的行为/使用您的账户受益于第三方而关闭或冻结您的账户，京东有权扣留和/或保留本应支付给您的任何及全部金额（包括任何彩金、投注抵用金或奖金）。
				           	</div>
			           	</div>
			        </div>
			    </div>
			</div>
			<div class="items">
				<h2><i class="iconfont bz-tags">&#xe629;</i>审核</h2> 
				<div class="row">
					<div class="no">1</div> 
					<div class="ct">
			            同意规则与条款后。
			        </div>
			    </div>
			    <div class="row">
					<div class="no">2</div> 
					<div class="ct">
			            您授权我们出于合规、安全性或其它商业原因的考虑或按照第三方（包括但不限于监管机构）的要求不时进行年龄、地址或其它核实检查以确认这些事实（“审核”）。
			        </div>
			    </div>
			    <div class="row">
					<div class="no">3</div> 
					<div class="ct">
			           同意本规则与条款即表示您接受我们酌情利用第三方数据库服务来验证您提供给我们的信息，您同意进行该等核查。
			        </div>
			    </div>
			    <div class="row">
					<div class="no">4</div> 
					<div class="ct">
			            在某些情况下，我们可能需要联系您并请您直接提供更多信息，以便我们完成核查。为此，我们将有权酌情要求您向我们提供ID、地址证明、水电气费账单、银行详情、银行结单和银行资信证明。在收到我们满意的信息之前，我们可以禁止您从事与您的账户相关的任何活动，也可以在我们关闭您的账户后扣留您账户上的任何金额，只要我们合理相信您故意提供了错误信息。
			        </div>
			    </div>
			    <div class="row">
					<div class="no">5</div> 
					<div class="ct">
			            在核实您提供给我们的资料期间，我们可以限制您从账户提款和/或禁止您浏览网站。请注意，我们可能出于合规、安全性或其它商业原因的考虑不时重新开展核查。
			        </div>
			    </div>
			    <div class="row">
					<div class="no">6</div> 
					<div class="ct">
			            未满18岁的人士，如果我们无法确认您是否达到相关年龄，那么我们可以暂时冻结您的账户，直至我们能够确认您达到相关年龄之时为止。若经证实，您在与我们达成博彩或赌博交易之时尚未达到相关年龄，则您的账户将暂时冻结或关闭账户。
			        </div>
			    </div>
			</div>
			<div class="items">
				<h2><i class="iconfont bz-tags">&#xe629;</i>存款</h2> 
				<div class="row">
					<div class="no">1</div> 
					<div class="ct">
			            下注可能会输掉您根据本条款寄存在我们这里的一些或全部钱款，您将对此类损失全权负责。
			        </div>
			    </div>
			    <div class="row">
					<div class="no">2</div> 
					<div class="ct">
			            您存入账户的资金仅可来自您名下的相关账户。如果京东识别到账户持有者名称与京东持有的不一致，我们将保留权利视任何存进博彩账户的款项为无效（且任何由此存款产生的彩金均为无效）。
			        </div>
			    </div>
			    <div class="row">
					<div class="no">3</div> 
					<div class="ct">
			           所有存款都需要完成一倍流水。存款没有进行全额投注，则京东保留收取手续费的权利，这包括存提款所产生的所有费用，必要时此类费用将在提款中扣除。
			        </div>
			    </div>
			    <div class="row">
					<div class="no">4</div> 
					<div class="ct">
			            我们保留授权从您的账户提款之前为验证之身份目的索要文件的权利。我们可能需要在提款之前验证身份、年龄和地址。我们也保留在您与我们的关系存续期间索要此类文件的权利。
			        </div>
			    </div>
			    <div class="row">
					<div class="no">5</div> 
					<div class="ct">
			            您同意您的账户不得用作为银行账户，而您的存款仅使用于投注的目的。 如果您重复以最低金额进行存款及/或提款或账户中并无相对的投注或游戏活动的情况下，我们保留直接从您的账户中扣除所有相关银行收费（无论我们是否关闭或暂时冻结您的账户）的权利，恕不另行通知。一旦相关收费从您的账户中扣除，我们将通过发送手机短信通知您。
			        </div>
			    </div>
			    <div class="row">
					<div class="no">6</div> 
					<div class="ct">
			            您同意不作任何退款、撤消或以其他的方式取消任何存款于您的账户，若发生此类情况，您需要赔偿我们此笔未到账存款，当中包括在收取您存款的过程中的任何开销。若发生任何存款不到账或被您或任何第三方取消的情况，京东将保留终止所有因使用该笔存款而获得或回馈的红利及彩金。投注将被视为无效而任何彩金将被没收。
			        </div>
			    </div>
			    <div class="row">
					<div class="no">7</div> 
					<div class="ct">
			            我们可能于任何时间使用您账户的正数余额以抵销您 （包括重复账户） 拖欠京东的金额，包括（但不限于）重新结算任何投注、注金、支付错误或负数余额。
			        </div>
			    </div>
			</div>
			<div class="items">
				<h2><i class="iconfont bz-tags">&#xe629;</i>提款</h2> 
				<div class="row">
					<div class="no">1</div> 
					<div class="ct">
			            如果用户在提款时，其存款没有进行全额投注，则京东保留收取手续费的权利，这包括存提款所产生的所有费用，必要时此类费用将在提款中扣除。
			        </div>
			    </div>
			    <div class="row">
					<div class="no">2</div> 
					<div class="ct">
			            提款绑定的银行卡姓名需与游戏账户的注册姓名一致。
			        </div>
			    </div>
			    <div class="row">
					<div class="no">3</div> 
					<div class="ct">
			          存款需满足有效投注额要求后方可申请提款。
			        </div>
			    </div>
			    <div class="row">
					<div class="no">4</div> 
					<div class="ct">
			            若您未申请任何红利优惠，满足1倍投注即可申请提款。
			        </div>
			    </div>
			    <div class="row">
					<div class="no">5</div> 
					<div class="ct">
			            若有申请红利，则需要满足优惠活动写明的有效投注额要求。
			        </div>
			    </div>
			</div>
			<div class="items">
				<h2><i class="iconfont bz-tags">&#xe629;</i>有效投注额的定义</h2> 
				<div class="row">
					<div class="no">1</div> 
					<div class="ct">
			            凡属本公司所有游戏都算投注，计算押注金额为有效投注。各游戏和局、未接受、取消注单，不纳入有效投注计算。
			        </div>
			    </div>
			    <div class="row">
					<div class="no">2</div> 
					<div class="ct">
			            大赔率玩法计算押注金额为有效投注。小赔率（赔率低于1.5）玩法不纳入有效投注计算。
			        </div>
			    </div>
			    <div class="row">
					<div class="no">3</div> 
					<div class="ct">
			          无风险投注也不纳即是同一赛事的同一玩法中下注两边的注码，不纳入有效投注计。
			        </div>
			    </div>
			</div>
			<div class="items">
				<h2><i class="iconfont bz-tags">&#xe629;</i>注册</h2> 
				<div class="row">
					<div class="no">1</div> 
					<div class="ct">
			            错误赛事如果在 项电竞赛事中报出不正确的队员或队伍，则全部投注将计为无效，且京东对此具有单方面绝对酌情权。
			        </div>
			    </div>
			    <div class="row">
					<div class="no">2</div> 
					<div class="ct">
			            错误盘口 - 如果我们当时的赔率中有明显的错误，信息输入或建立投注市场时有明显的错误或遗漏不管是由于人为错误或系统问题，赔率在投注时，与一般市场行情相差甚远 或者做出投注之时发生的事件明显不合情理，则对于该盘口的投注将为无效；其他盘口也可能被视为无效，且京东对此具有单方面绝对酌情权。
			        </div>
			    </div>
			    <div class="row">
					<div class="no">3</div> 
					<div class="ct">
			          延迟投注（事后单） - 如果由于任何原因，赛前投注在比赛或活动开始后被无意中接受，该情况下的投注将被视为无效。
			        </div>
			    </div>
			    <div class="row">
					<div class="no">4</div> 
					<div class="ct">
			          我们的系统或程序出错或出现故障时，所有投注将视为无效。您有义务在发现错误时立即通知我们。
			        </div>
			    </div>
			    <div class="row">
					<div class="no">5</div> 
					<div class="ct">
			          我们有权收回多支付给您的任何金额，并调整您的账户，以纠正错误。任何因错误而被记入您的账户，或向您支付的款项，基于我们对您的信赖而由您保管并应在我们要求返还时立即偿还。 如果您的账户中存有资金，我们可以从您的账户中直接扣除此款项且会在合理可行的范围内尽快通知您。
			        </div>
			    </div>
			    <div class="row">
					<div class="no">6</div>
					<div class="ct">
			          您发现任何错误时，应尽快通知我们。如果您使用我们因错误而记入您的账户或向您支付的款项进行投注或游戏，我们又取消这些投注和/或扣留您使用这笔款项而赢得的奖金。如果我们已经向您支付任何此类投注或游戏的奖金，这笔款项应被视为基于我们对您的信赖而由您保管，您应在我们要求您付款时立即向我们偿还这笔款项。
			        </div>
			    </div>
			</div>
		</div>
	</div>
</template>
<script>
export default{
	name:'rules'
}
</script>
<style scoped lang="stylus">
@import '~@/assets/css/iconfont/iconfont'
@import '~@/assets/css/variable'
.rules
	position:fixed
	top:45px
	right:0
	bottom:0
	left:0
	z-index:1
	background:$background-color
	.main
		width:100%
		height:100%
		overflow-y:auto
		.items
			font-size: 13px
			font-weight: lighter
			color: #ddd
			padding: 10px 10px 0
			h2
				height: 40px
				line-height: 40px
				font-size: 14px
				color: #03fcb3
				font-weight: lighter
				i
					font-size: 18px
					margin-right: 5px
			.row
				margin-bottom: 10px
				display: flex
				justify-content: space-between
				align-items: baseline
				.no,.no-in
					width: 16px
					height: 16px
					line-height: 16px
					border-radius: 0 10px 0 0
					text-align: center
					background: rgba(255,255,255,0.1)
					color: #fff
					font-size: 12px
				.ct,.ct-in
					width: calc(100% - 22px)
					line-height: 20px
					.all-no
						display:flex
						justify-content:space-between
						align-items:baseline
</style>