<template>
    <div>
        <head_nav></head_nav>
        <div class="login">
            <div class="container">
                <div class="title">
                    <h1>用户登录</h1>
                </div>
                <div class="content">
                    <div class="content-import" @keyup.enter="login">
                        <ul>
                            <li>
                                <label for="account"> <span>账户：</span></label>
                                <input type="type" name="account" v-model="user.username" v-focus placeholder="请输入账户">
                            </li>
                            <li>
                                 <label for="password"><span>密码：</span></label>
                                <input type="password" name="password" v-model="user.password" placeholder="请输入密码">
                            </li>
                            <li v-show="verifyCodeSwitch == 'on'">
                                 <label><span>验证码：</span></label>
                                <div class="verifyCode">
                                    <input type="type" @focus="verifyCode()" name="verifyCode" v-model="user.verifyCode" placeholder="请输入验证码">
                                    <img @click="verifyCode" :src="verifyCodeImg" alt="" >
                                </div>
                            </li>
                            <li class="in-login">
                                <label for="code"><span>&nbsp;</span></label>
                                <div class="login-button" @click="login">登录</div>
                                <a href="#" class="no-pass">忘记密码？</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <foot_nav></foot_nav>
    </div>
</template>

<script>
    import '@/assets/css/login.less'
    import head_nav from  '@/components/include/head_nav'
    import foot_nav from  '@/components/include/foot_nav'
    import {http_ajax} from '@/assets/js/resource'
    export default {
        name: "login",
        components:{
            head_nav ,foot_nav
        },
        data(){
            return {
                user:{
                    username:'',
                    password:'',
                    verifyCode:''
                },
                fullPath:this.$route.query.fullPath || '/',
                verifyCodeNum:1,
                verifyCodeImg:'',
                verifyCodeSwitch:''
            }
        },
        created:function () {
            this.getVerifyCodeSwitch()
        },
        methods:{
            login:function () {
                http_ajax('post', 'native/login.do',this.user,true,'.in-login').then(res =>{
                    if(res.success){
                      this.$cookies.set("SESSION",res.accessToken)
                        this.$toast('登录成功')
                        // 缓存登录状态
                        this.$root.common.isLoginSession(true)
                      console.log(this.fullPath)
                        if(this.fullPath == '/register' || this.fullPath.indexOf('/login') != -1){
                            this.$router.push({path:'/'})
                        } else {
                            this.$router.push({path:this.fullPath})
                        }
                    } else {
                        this.$message.error(res.msg);
                        this.verifyCode()
                    }
                }, resolve =>{
                    console.log(resolve)
                })
            },
            getVerifyCodeSwitch:function () {
                http_ajax('post', 'native/getVerifyCodeSwitch.do',{}).then(res =>{
                    if(res.success){
                        this.verifyCodeSwitch = res.content[0].onFlag
                        this.verifyCode()
                    }
                }, resolve =>{
                    console.log(resolve)
                })
            },
            verifyCode:function () {
                this.verifyCodeImg = this.$store.state.apiUrl + 'native/regVerifycode.do?v=' + new Date().getTime()
            }
        },
    }
</script>

<style scoped lang="less">
.verifyCode{
    position: relative;
    img{
        position: absolute;
        right: 0;
        height: 37px;
    }
}
</style>
