<template>
    <div>
        <head_nav></head_nav>
        <div class="other">
            <div class="container" style="width: 100%;text-align: center">
                <iframe id="mainframe" name="mainframe" scrolling="yes" src="/liveTest.do?v=3" frameborder="0" height="800" width="1100px"></iframe>
            </div>
        </div>
        <foot_nav></foot_nav>
    </div>
</template>

<script>
    import '@/assets/css/other.less'
    import head_nav from  '@/components/include/head_nav'
    import foot_nav from  '@/components/include/foot_nav'
    export default {
        name: "real",
        components:{
            head_nav ,foot_nav
        },
        data(){
            return {

            }
        },
        created:function () {
        },
        methods:{

        },
    }
</script>

<style scoped lang="less">
    .verifyCode{
        position: relative;
        img{
            position: absolute;
            right: 0;
            height: 37px;
        }
    }
</style>
