<template>
    <div>
        <head_nav></head_nav>
        <div class="other">
            <div class="container">
                <div id="sportTab">
                    <div class="sport_btn" @click="sportLoca('hg')" v-if="hgSport">
                        <img :src="hgSport.imgUrl">皇冠体育
                    </div>
                    <div class="sport_btn" @click="sportLoca('sb')" v-if="sbSport">
                        <img :src="sbSport.imgUrl">沙巴体育
                    </div>
                    <div class="sport_btn" @click="sportLoca('bb')" v-if="bbSport">
                        <img :src="bbSport.imgUrl">BB体育
                    </div>
                </div>
                <iframe id="mainframe" name="header2" align="top" width="1000px" height="850" scrolling="no" frameborder="0" marginheight="0" marginwidth="0" src="/sports/hg/index.do">
                </iframe>
            </div>
        </div>
        <foot_nav></foot_nav>
    </div>
</template>

<script>
    import '@/assets/css/other.less'
    import {http_ajax} from '@/assets/js/resource'
    import head_nav from  '@/components/include/head_nav'
    import foot_nav from  '@/components/include/foot_nav'
    export default {
        name: "sport",
        components:{
            head_nav ,foot_nav
        },
        data(){
            return {
                bbSport:'',
                sbSport:'',
                hgSport:''
            }
        },
        created:function () {
        },
        // 页面加载完毕执行
        mounted:function(){
            this.getDatasBesidesLotterys()
        },
        methods:{
            getDatasBesidesLotterys:function () {
                http_ajax('get', 'native/getDatasBesidesLotterys.do',{code:5}).then(res =>{
                    let that = this;
                    if(res.success){
                        $.each(res.content,function (index,item) {
                            if(item.title == '沙巴体育'){
                                that.sbSport = item
                            } else if(item.title == 'BB体育'){
                                that.bbSport = item
                            }
                            if (item.title == '皇冠体育'){
                                that.hgSport = item
                            }
                        })
                    }
                })
            },
            sportLoca:function (type) {
                let params = {};
                if(type == 'sb'){
                    params = {
                        playCode: 'ibc',
                    }
                    http_ajax('post', 'native/forwardReal.do',params,true,'#sportTab').then(res =>{
                        if(res.success){
                            window.open(res.content.url,'_blank')
                        } else {
                            this.$toast(res.msg)
                        }
                    })
                } else if(type == 'bb'){
                    params = {
                        type: 'ball',
                    }
                    http_ajax('post', 'forwardBbin.do',params,true,'#sportTab').then(res =>{
                        if(res.success){
                            window.open(res.url,'_blank')
                        } else {
                            this.$toast(res.msg)
                        }
                    })
                }
            }
        },
    }
</script>

<style scoped lang="less">
    .verifyCode{
        position: relative;
        img{
            position: absolute;
            right: 0;
            height: 37px;
        }
    }
    #sportTab {
        height: 60px;
        width: 1000px;
        margin: 0 auto;
        text-align: left;
    }

    .sport_btn {
        float: left;
        width: 114px;
        height: 50px;
        border-radius: 3px;
        background: #f1f1f1;
        margin-left: 5px;
        cursor: pointer;
        transition: .5s;
        display: flex;
        align-items: center;
        justify-content: center;
        color:#000;
    }

    .sport_btn:hover {
        background: #ff9726;
        color: #fff;
    }

    .sport_btn img {
        width: 40px;
        height: 40px;
        float: left;
        margin-right: 5px;
    }
</style>
