@import "../include/base";
/*首页*/
.index {
  .ground();
  margin-bottom: 5rem;
  .header {
    height: 13rem;
    width: 100%;
    background: #63d69d;
    padding: 2rem;
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
    margin-bottom: 10rem;
    .title {
      margin: 1rem 0 2rem 0;
      font-size: 2rem;
      font-weight: 600;
      text-align: center;
    }
    .banner{
      height: 15rem;
    }
  }

  .content {
    padding: 0 2rem;
    .label {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    .menu {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
      .page1 {
        width: 30%;
        height: 13rem;
        background: #e6fff9;
        border-radius: 1rem;
        margin-bottom: 1rem;
        span{
          color: #63c6a7;
          font-size: 1.6rem;
          text-align: center;
          width: 100%;
          padding-top: 1rem;
          margin-bottom: 1rem;
          display: inline-block;
        }
        img{
          width: 100%;
          height: auto;
        }
      }
      .page2 {
        //width: 48%;
        height: 9rem;
        background: #e6fff9;
        border-radius: 1rem;
        margin-bottom: 1rem;
      }
      .page3{
        width: 100%;
        height: 30rem;
        border-radius: 1rem;
        img{
          width: 100%;
          height: auto;
        }
      }
      .classify{
        .line{
          width: 100%;
          display: flex;
          justify-content: space-around;
          margin-top: 1rem;
        }
        .box{
          display: inline-block;
          width: 46%;
          height: 10rem;
          position: relative;
          background: #fafafa;
          padding: 1rem;
          img{
            position: absolute;
            right: .5rem;
            bottom: .5rem;
            width: 5rem;
          }
          div{
            margin-top: 1rem;
          }
          .color{
            color: #b8b8b8;
            font-size: 1.2rem;
          }
          .one{
            color: #58a0ec;
          }
          .two{
            color: #53d99c;
          }
          .three{
            color: #cd3649;
          }
          .four{
            color: #000000;
          }
        }
      }
    }
  }
}
