@import "../include/base";
.index2{
  padding-bottom: 5rem;
  background: #f3f3f3;
  .header{
    height: 25rem;
    background: url('../../images/5.png');
    background-size: 100% 100%;
    position: relative;
    .signDay{
      color: #ffffff;
      position: absolute;
      left: 2rem;
      top: 11rem;
    }
    .sign{
      color: #000000;
      position: absolute;
      left: 2rem;
      top: 18rem;
      right: 0;
      font-size: 1.6rem;
      height: 5rem;
      line-height: 5rem;
      span{
        color: #63c6a7;
        margin: 0 .5rem;
      }
    }
  }
  .label {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
  .content{
    padding: 2rem;
    .myexchange{
      height: 13rem;
      border-radius: 10px;
      background: #ffffff;
      padding: 1rem;
      .line{
        display: flex;
        justify-content: space-around;
        .box{
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
          .img{
            .flex();
            padding-top: .5rem;
            img{
              width: 4rem;
            }
          }
          .font{
            text-align: center;
            margin-top: 1rem;
          }
        }
      }
    }
    .shop{
      margin-top: 2rem;
      border-radius: 10px;
      background: #ffffff;
      padding: 1rem;
      .deck{
        background: #ffffff;
        height: 12.6rem;
        margin-top: 2rem;
        border-bottom:1px dashed  #4e4e4e;
        .left{
          width: 35%;
          height: 100%;
          float: left;
          .flex();
          img{
            width: 10rem;
            height: 10rem;
          }
        }
        .right{
          width: 65%;
          height: 100%;
          float: left;
          position: relative;
          p{
            margin-top: 1rem;
            &:nth-child(1){
              font-size:1.5rem;
              font-weight: 700;
            }
            &:nth-child(2){
              color: #fd662a;
            }
            &:nth-child(3){
              color: #f92c18;
              margin-top: 3rem;
              span{
                font-size: 2.1rem;
              }
            }
          }
          .button{
            background: url('../../images/6.png');
            background-size: 100% 100%;
            height: 4rem;
            width: 100%;
            position: relative;
            .money{
              position: absolute;
              left: 1rem;
              top: .8rem;
              color: #ffffff;
              font-size: 1.6rem;
              b{
                margin-right: .5rem;
                font-size: 1.6rem;
              }
            }
          }
        }
      }
    }
  }
}