@import "include/base";
.changePassword{
  min-height: 100vh;
  background-image: url(../images/login-bg.36a8d8de.jpg);
  background-size: 100%;
  .header{
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    font-weight: 700;
    display: block;
    background: #ffffff;
    .left{
      position: absolute;
      left: 15px;
      a{
        font-size: 20px;
      }
    }
  }
  .main{
    padding: 15px;
    .container{
      min-height: 175px;
      border-radius: 10px;
      background: #f0f3f7;
      padding: 15px;
      .form-group{
        margin-top: 10px;
        input,textarea{
          width: 100%;
          height: 35px;
          border-radius: 18px;
          border:1px solid #ced4da;
          background: #ffffff;
          color: #495057;
          padding: 0 15px;
          line-height: 35px;
          font-size: 13px;
        }
      }
      .button{
        margin: 10px auto 0 auto;
        text-align: center;
        button{
          background: #ff2768;
          border-radius: 20px;
          color: #ffffff;
          border:none;
          width: 100%;
          height: 33px;
        }
      }
    }
  }
}