@import "include/base";
.invest-apply {
  min-height: 100vh;
  background-image: url(../images/login-bg.36a8d8de.jpg);
  background-size: 100%;
  .header{
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    font-weight: 700;
    display: block;
    .left{
      position: absolute;
      left: 15px;
      a{
        font-size: 20px;
      }
    }
  }
  .deck{
    padding: 15px;
    margin-top: 20px;
    .money{
      width: 100%;
      height: 90px;
      background: linear-gradient(45deg,#40afff,#3574fa);
      border-radius: 10px 10px 0 0;
      display: flex;
      justify-content: space-between;
      padding: 15px;
      img{
        width: 100px;
      }
      span{
        color: #ffffff;
        display: inline-block;
        margin-top: 10px;
        white-space: nowrap;
      }
    }
  }
  .info{
    padding: 15px;
    .item{
      background: #ffffff;
      padding: 15px 0;
      border-radius: 10px;
      .order {
        border-bottom: 1px solid #e9eaec;
        padding: 15px;
        height: 45px;
        * {
          font-size: 14px;
        }
        span {
          display: inline-block;
          padding-bottom: 10px;
          &:nth-child(1){
            float: left;
          }
          &:nth-child(2){
            float: right;
          }
          input{
            border: none;
            margin-left: 10px;
            width: 100px;
            padding-top: 0;
          }
        }
      }
    }
  }
  .button{
    margin: 10px auto 0 auto;
    text-align: center;
    button{
      background: #eb74a8!important;
      border-radius: 10px;
      color: #ffffff;
      border:none;
      width: 340px;
      height: 33px;
    }
  }
}
