@import "include/base";
.login{
  min-height: 100vh;
  background-image: url(../images/login-bg.36a8d8de.jpg);
  background-size: 100% 100%;
  display: block;
  .header{
    width: 100%;
    height: 50px;
    .left{
      height: 100%;
      line-height: 50px;
      margin-left: 20px;
      a{
        font-size: 14px;
      }
    }
  }
  .logo{
    height: 154px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      height: 154px;
      width: 154px;
    }
  }
  .login-input{
    margin-top: 50px;
    .item{
      width: 270px;
      height: 96px;
      margin: 0 auto;
      label{
        font-weight: 700;
        color: #191919;
        font-size: 16px;
      }
      input{
        margin-left: 15px;
        margin-top: 10px;
        width: 270px;
        height: 52px;
        border:none;
        background: #fff1f5;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        padding-left: 10px;
        color: #ff8ab0;
      }
      span{
        font-weight: 700;
        margin-left: 75px;
        margin-top: -28px;
        display: block;
        font-size: 14px;
      }
    }
  }
  .button{
    text-align: center;
    margin-top: 20px;
    button{
      width: 247px;
      height: 42px;
      border:none;
      border-radius: 50px;
      margin-top: 19px;
    }
    .login-button{
      background: #ff1964;
      color: #ffffff;
      display: block;
      margin: 0 auto;
    }
    .register-button{
      background: #ffecf2;
      color: #ff1964;
    }
  }
  .register-input{
    margin-top: 35px;
    .item{
      width: 250px;
      margin: 0 auto;
      padding-top: 15px;
      position: relative;
      input{
        width: 100%;
        height: 34px;
        border:none;
        background: none;
        border-bottom:0.5px solid #d8bac5;
        font-size: 12px;
      }
      .code{
        width:83px;
        line-height:32px;
        text-align:center;
        background-color:#ff1964;
        border-radius:16px;
        font-size:13px;
        font-weight:400;
        color:#fff;
        border:none;
        position: absolute;
        right: 5px;
        bottom: 5px;
      }
    }
  }
  .font_box{
    width: 312px;
    background: #ffe7ef;
    padding: 22px 17px 20px 20px;
    border-radius: 10px;
    margin: 40px auto 40px auto;
    span{
      font-weight: 700;
      margin-left: 75px;
      margin-top: -28px;
      display: block;
      font-size: 14px;
    }
    .tip{
      margin-top: 20px;
      font-size: 12px;
    }
  }
};