@import "include/base";
.notice{
  min-height: 100vh;
  background-image: url(../images/login-bg.36a8d8de.jpg);
  background-size: 100%;
  .header{
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    font-weight: 700;
    display: block;
    background: #ffffff;
    .left{
      position: absolute;
      left: 15px;
      a{
        font-size: 20px;
      }
    }
  }
  .content{
    padding: 15px 0;
    .container{
      padding: 0 15px;
      .list{
        height: 70px;
        background: #ffffff;
        border-radius: 10px;
        display: flex;
        justify-content: normal;
        margin-top: 10px;
        .left{
          width: 50px;
          height: 100%;
          .flex();
          img{
            width: 21px;
            height: 21px;
          }
        }
        .right{
          margin-left: 10px;
          padding-top: 12px;
          .title{
            color: #007bff;
            font-size: 14px;
          }
          .des{
            color: #6c757d;
            margin-top: 5px;
            font-size: 12px;
          }
        }
      }
    }
  }
}