@import "include/base";
.profit{
  min-height: 100vh;
  background-image: url(../images/login-bg.36a8d8de.jpg);
  background-size: 100%;
  .header{
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    font-weight: 700;
    display: block;
    background: #ffffff;
    .left{
      position: absolute;
      left: 15px;
      a{
        font-size: 20px;
      }
    }
  }
  .main{
    padding: 15px;
    .container{
      min-height: 175px;
      border-radius: 10px;
      background: #f0f3f7;
      padding: 15px;
      .date-select{
        height: 42px;
        display: flex;
        align-items: center;
        font-size: 14px;
        .search{
          height: 21px;
          width: 21px;
          margin-left: 5px;
        }
        .date{
          width: 142px;
          border:1px solid #dcdfe6;
          height: 100%;
          display: inline-block;
          background: #ffffff;
          border-radius: 5px;
          justify-content: center;
          line-height: 42px;
          flex-wrap: wrap;
          padding-left: 15px;
          img{
            height: 16px;
            width: 16px;
            margin-right: 5px;
          }
        }
      }
      .card{
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        div{
          width: 143px;
          height: 76px;
          background: #ffffff;
          border-radius: 10px;
          text-align: center;
          padding-top: 10px;
          span{
            font-size: 12px;
            line-height: 20px;
            &:nth-child(1){
              color: #6c757d;
            }
            &:nth-child(3){
              color: #20c2ce;
              font-size: 14px;
              font-weight: 700;
            }
          }
        }
      }
      .table-header{
        height: 46px;
        background: #ffffff;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        div{
          font-size: 14px;
          line-height: 46px;
          padding: 0 15px;
        }
      }
      .table-body{
        height: 46px;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        div{
          font-size: 14px;
          line-height: 46px;
          padding: 0 15px;
        }
      }
    }
  }
}