@import "include/base";
.recharge{
  min-height: 100vh;
  background-image: url(../images/login-bg.36a8d8de.jpg);
  background-size: 100%;
  .header{
    width: 100%;
    height: 50px;
    .left{
      height: 100%;
      line-height: 50px;
      margin-left: 20px;
      a{
        font-size: 20px;
      }
    }
  }
  .main{
    margin-top: 10px;
    .menus{
      padding: 10px 20px;
      display: flex;
      justify-content: space-between;
      .left, .right{
        width: 45%;
        height: 205px;
        border-radius: 10px;
        text-align: center;
        padding-top: 60px;
        color: #ffffff;
        font-size: 14px;
        img{
          width: 40px;
          height: 40px;
        }
      }
      .left{
        background: linear-gradient(45deg,#a399fa,#6c60dc);
      }
      .right{
        background: linear-gradient(45deg,#fe935f,#fa4847);
      }
    }
    .tips{
      margin-top: 10px;
      padding: 10px 20px;
      .list{
        margin-top: 10px;
        font-weight: 700;
      }
    }
  }
}