@import "include/base";
.rechargeCode{
  min-height: 100vh;
  background-image: url(../images/login-bg.36a8d8de.jpg);
  background-size: 100%;
  .header{
    width: 100%;
    height: 50px;
    .left{
      height: 100%;
      line-height: 50px;
      margin-left: 20px;
      a{
        font-size: 20px;
      }
    }
  }
  .title{
    margin-top: 40px;
    text-align: center;
  }
  .qrcode{
    margin-top: 20px;
    text-align: center;
    img{
      width: 130px;
      height: 130px;
    }
  }
  .des{
    margin-top: 10px;
    text-align: center;
    color: green;
  }
  .content{
    background: #f0f3f7;
    border-radius: 20px;
    min-height: 210px;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 20px;
    .copy{
      width: 340px;
      height: 44px;
      display: flex;
      justify-content: space-between;
      background: rgba(247,249,253,.9);
      //padding: 0 5px 0 21px;
      margin: 10px auto 0 auto;
      .left{
        width: 215px;
        font-size: 10px;
        input{
          width: 100%;
          height: 100%;
          border:none;
        }
      }
      .right{
        width: 126px;
        height: 44px;
        button{
          width: 126px;
          height: 44px;
          border: none;
          background: #ff2768;
          border-radius: 0 24px 24px 0;
          color: #ffffff;
          font-size: 12px;
        }
      }
    }
    .bg-white{
      width: 340px;
      border-radius: 10px;
      background: #ffffff;
      margin: 10px auto 0 auto;
      padding: 15px;
      span{
        font-size: 12px;
      }
    }
    .button{
      margin: 10px auto 0 auto;
      text-align: center;
      button{
        background: #ff2768;
        border-radius: 10px;
        color: #ffffff;
        border:none;
        width: 340px;
        height: 33px;
      }
    }
  }
}