@import "include/base";
.team{
  min-height: 100vh;
  background-image: url(../images/login-bg.36a8d8de.jpg);
  background-size: 100%;
  .header{
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    font-weight: 700;
    display: block;
    background: #ffffff;
    .left{
      position: absolute;
      left: 15px;
      a{
        font-size: 20px;
      }
    }
  }
  .main{
    padding: 15px;
    background: #f0f3f7;
    .container{
      .card{
        height: 96px;
        background: #ffffff;
        border-radius: 10px;
        padding: 15px 10px 15px 10px;
        .top, .bottom{
          display: flex;
          justify-content: space-between;
        }
        .top{
          button{
            height: 33px;
            width: 100px;
            background: #ff2768;
            border:none;
            line-height: 33px;
            font-size: 13px;
            color: #ffffff;
            border-radius: 8px;
          }
        }
        .bottom{
          margin-top: 10px;
          div{
            width: 108px;
            text-align: center;
          }
        }
      }
      .table-header{
        height: 46px;
        background: #ffffff;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        div{
          font-size: 14px;
          line-height: 46px;
          padding: 0 15px;
        }
      }
    }
  }
}