@import "include/base";
.tradelist{
  min-height: 100vh;
  background-image: url(../images/login-bg.36a8d8de.jpg);
  background-size: 100%;
  .header{
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    font-weight: 700;
    display: block;
    background: #ffffff;
    .left{
      position: absolute;
      left: 15px;
      a{
        font-size: 20px;
      }
    }
  }
  .main{
    padding: 15px;
    .container{
      min-height: 175px;
      border-radius: 10px;
      background: #f0f3f7;
      padding: 15px;
      .date-select{
        height: 42px;
        display: flex;
        align-items: center;
        font-size: 14px;
        .search{
          height: 21px;
          width: 21px;
          margin-left: 5px;
        }
        .date{
          width: 142px;
          border:1px solid #dcdfe6;
          height: 100%;
          display: inline-block;
          background: #ffffff;
          border-radius: 5px;
          justify-content: center;
          line-height: 42px;
          flex-wrap: wrap;
          padding-left: 15px;
          img{
            height: 16px;
            width: 16px;
            margin-right: 5px;
          }
        }
      }
      .list{
        .item{
          height: 74px;
          padding: 10px 15px;
          font-size: 12px;
          color: #6c757d;
          line-height: 20px;
          display: flex;
          background: #ffffff;
          margin-top: 20px;
          border-radius: 10px;
          .right{
            color: #20c2ce;
            font-weight: 700;
            margin-left: 10px;
            button{
              width: 73px;
              height: 28px;
              background: #148805;
              border-radius: 20px;
              border:none;
              color: #ffffff;
              opacity: .65;
            }
          }
        }
      }
    }
  }
}