@import "include/base";
.withdrawal{
  min-height: 100vh;
  background: #f0f3f7;
  .header{
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    font-weight: 700;
    display: block;
    background: #ffffff;
    .left{
      position: absolute;
      left: 15px;
      a{
        font-size: 20px;
      }
    }
  }
  .main{
    padding: 15px;
    .container{
      .des{
        font-size: 14px;
        text-align: center;
        margin-top: 5px;
      }
      .balance{
        margin-top: 10px;
        background: #e9ecef;
        height: 97px;
        font-size: 40px;
        border-radius: 10px;
        font-weight: 700;
        color: #495057;
        .flex();
      }
      .menu{
        height: 35px;
        border-radius: 18px;
        border:1px solid #ced4da;
        background: #ffffff;
        color: #495057;
        padding: 0 15px;
        line-height: 35px;
        font-size: 13px;
        margin-top: 30px;
      }
      .form-group{
        margin-top: 10px;
        input,textarea{
          width: 100%;
          height: 35px;
          border-radius: 18px;
          border:1px solid #ced4da;
          background: #ffffff;
          color: #495057;
          padding: 0 15px;
          line-height: 35px;
          font-size: 13px;
        }
      }
      .button{
        margin: 10px auto 0 auto;
        text-align: center;
        button{
          background: #ff2768;
          border-radius: 10px;
          color: #ffffff;
          border:none;
          width: 340px;
          height: 33px;
        }
      }
    }
  }
}