<template>
  <div class="index">
    <page_head></page_head>
    <page_foot></page_foot>
    <div class="swipe">
      <van-swipe class="my-swipe" :autoplay="3000" indicator-color="white">
        <van-swipe-item v-for="(item, index) in swipeList" :key="index">
          <a :href="item.titleUrl || '#'"><img :src="item.titleImg"></a>
        </van-swipe-item>
      </van-swipe>
    </div>
    <div class="user-reg" v-if="!$store.state.isLogin">
      <div class="login-button" @click="$root.common.toPath('/login')">{{ $t('登录') }}</div>
      <div class="register-button" @click="$root.common.toPath('/register')">{{ $t('用户注册') }}</div>
    </div>
    <div class="content">
      <div class="game-tag">
        <div class="tag" v-for="(item, index) in playList" :key="index" @click="toggleGame(item,index)"
             :class="{'active': gameIndex == index}"><img
            :src="require('@/assets/images/homeIndex'+item.dataCode+'.png')" alt=""><br><span>{{ $t(item.title) }}</span>
        </div>
      </div>
      <div class="game-list">
        <div class="box">
          <div class="line">
            <div v-for="(item, index) in gameList" :key="index">
              <img :src="item.imgUrl" alt="" @click="toGameClassify(item)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/tabs/index.less'
import page_head from '@/components/include/page_head'
import page_foot from '@/components/include/page_foot'

export default {
  name: "index",
  components: {
    page_head, page_foot
  },
  data() {
    return {
      playList: '',
      swipeList: '',
      gameList: [],
      lotteryGroup: [],
      gameIndex: 0,
    }
  },
  created() {
    this.getSwipe()
    this.getLotteryGroup()
  },
  mounted() {
  },
  methods: {
    // 获取网站轮播图
    getSwipe: function () {
      let params = {
        code: 5
      }
      this.$fetch('native/lunbo.do', params).then((res) => {
        if (res.success) {
          this.swipeList = res.content
        }
      })
    },
    toggleGame: function (item, index) {
      this.gameIndex = index
      if (item.dataCode == 4) {
        this.gameList = item.lotterys
      } else {
        this.gameList = item.items
      }
    },
    getHomeData: function () {
      this.$fetch('native/getHomeData.do', {}, false).then((res) => {
        if (res.success) {
          this.playList = res.content
          for (let index in this.playList) {
            if (this.playList[index].dataCode == 4) {
              this.playList[index].lotterys = this.lotteryGroup
            } else {
              for (let index2 in this.playList[index].items) {
                let e = this.playList[index].items[index2]
                e.imgUrl = this.setGameImg(this.playList[index].dataCode, e.playCode)
              }
            }
          }
          this.toggleGame(this.playList[0], 0)
          console.log(this.playList)

        }
      })
    },
    getLotteryGroup: function () {
      this.$fetch('native/lotteryGroup.do', {}, false).then((res) => {
        if (res.success) {
          for (let index in res.content) {
            let e = {
              title: res.content[index].name,
              code: res.content[index].code,
              imgUrl: this.setGameImg(4, res.content[index].code),
            }
            this.lotteryGroup.push(e)
          }
          this.getHomeData()
        }
      })
    },
    toGameClassify: function (item) {
      if (!this.$store.state.isLogin) {
        this.$router.push({
          path: '/login'
        });
      } else {
        if (this.playList[this.gameIndex].dataCode == 4) {
          this.$router.push({
            path: '/gameClassify',
            query: {code: item.code, dataCode: this.playList[this.gameIndex].dataCode}
          })
        } else if (this.playList[this.gameIndex].dataCode == 0) {
          if (item.playCode == 'hgty') {
            window.location.href = window.location.origin + '/common/template/sports/newhg/dist/index.html';
          } else {
            this.goGamePlays(item.playCode)
          }
        } else if (this.playList[this.gameIndex].dataCode == 1) {
          this.goRealPlays(item.playCode)
        } else if (this.playList[this.gameIndex].dataCode == 2 || this.playList[this.gameIndex].dataCode == 3) {
          this.$router.push({
            path: '/gameClassify',
            query: {code: item.playCode, dataCode: this.playList[this.gameIndex].dataCode}
          })
        }
      }
    },
    goGamePlays: function (playCode) {
      let params = {}
      let url = 'native/forwardReal.do'
      if (playCode == 'bbin') {
        params = {
          type: 'ball',
        }
        url = 'forwardBbin.do'
      } else if (playCode == 'bbinDz') {
        params = {
          type: 'game',
        }
        url = 'forwardBbin.do'
      } else if (playCode == 'bg') {
        params = {
          type: 2,
          h5: 1,
        }
        url = 'forwardBg.do'
      } else if (playCode == 'ebetDz') {
        params = {
          gameType: 5,
        }
        url = 'forwardEbet.do'
      } else if (playCode == 'ibc') {
        params = {
          gameType: 10,
        }
        url = 'forwardIbc.do?h5=1'
      } else if (playCode == 'agty') {
        params = {}
        url = 'forwardAg.do?h5=1&gameType=TASSPTA'
      } else if (playCode == 'nhg') {
        params = {
          playCode: playCode,
          gameId: '',
        }
        url = 'forwardNhg.do?h5=3'
      } else {
        params = {
          playCode: playCode,
          gameId: '',
        }
      }
      this.$post(url, params, true).then((res) => {
        if (res.success) {
          if (playCode == 'bbin' || playCode == 'bbinDz' || playCode == 'ibc' || playCode == 'agty' || playCode == 'nhg') {
            location.href = res.url
          } else {
            location.href = res.content.url
          }
        }
      })
    },
    goRealPlays: function (playCode) {
      let params = {}
      let url = 'native/forwardReal.do'
      if (playCode == 'mg') {
        params = {
          gameType: 1,
          gameid: 66936,
          h5: 1,
        }
        url = 'forwardMg.do'
      } else if (playCode == 'bbin') {
        params = {
          type: 'live',
        }
        url = 'forwardBbin.do'
      } else {
        params = {
          playCode: playCode,
          gameId: '',
        };
      }
      this.$post(url, params, true).then((res) => {
        if (res.success) {
          if (playCode == 'mg' || playCode == 'bbin') {
            location.href = res.url
          } else {
            location.href = res.content.url
          }
        }
      })
    },

    setGameImg: function (dataCode, type) {
      if (dataCode == 1) {
        switch (type) {
          case 'ag':
            return require('@/assets/images/gameImg/real/ag-casino.png')
          case 'mg':
            return require('@/assets/images/gameImg/real/mg-casino.png')
          case 'bbin':
            return require('@/assets/images/gameImg/real/bbin-casino.png')
          case 'bg':
            return require('@/assets/images/gameImg/real/bg-casino.png')
          case 'ebet':
            return require('@/assets/images/gameImg/real/yeebet-casino.png')
        }
      } else if (dataCode == 2) {
        switch (type) {
          case 'ag':
            return require('@/assets/images/gameImg/game/ag-slots.png')
          case 'mg':
            return require('@/assets/images/gameImg/game/mg-slots.png')
          case 'qt':
            return require('@/assets/images/gameImg/game/qt-slots.png')
          case 'cq9':
            return require('@/assets/images/gameImg/game/cq9-slots.png')
          case 'bbinDz':
            return require('@/assets/images/gameImg/game/bbin-slots.png')
          case 'jdb':
            return require('@/assets/images/gameImg/game/jdb-slots.png')
        }
      } else if (dataCode == 0) {
        switch (type) {
          case 'hgty':
            return require('@/assets/images/gameImg/sports/hg-sports.png')
          case 'ibc':
            return require('@/assets/images/gameImg/sports/ibc-sports.png')
          case 'nhg':
            return require('@/assets/images/gameImg/sports/nhg-sports.png')
          case 'agty':
            return require('@/assets/images/gameImg/sports/ag-sports.png')
          case 'bbin':
            return require('@/assets/images/gameImg/sports/bbin-sports.png')
        }
      } else if (dataCode == 3) {
        switch (type) {
          case 'ky':
            return require('@/assets/images/gameImg/chess/ky-chess.png')
          case 'th':
            return require('@/assets/images/gameImg/chess/th-chess.png')
        }
      } else if (dataCode == 4) {
        switch (type) {
          case 1:
            return require('@/assets/images/gameImg/lottery/ssc-lottery.png')
          case 2:
            return require('@/assets/images/gameImg/lottery/3d-lottery.png')
          case 3:
            return require('@/assets/images/gameImg/lottery/pk10-lottery.png')
          case 5:
            return require('@/assets/images/gameImg/lottery/syxw-lottery.png')
          case 6:
            return require('@/assets/images/gameImg/lottery/lhc-lottery.png')
          case 7:
            return require('@/assets/images/gameImg/lottery/k3-lottery.png')
          case 8:
            return require('@/assets/images/gameImg/lottery/klsf-lottery.png')
          case 9:
            return require('@/assets/images/gameImg/lottery/js28-lottery.png')
        }
      }
    },
  }
}
</script>

<style scoped>

</style>
