<template>
  <div class="service">
    <page_head></page_head>
    <page_foot></page_foot>
    <div class="serviceIframe">
      <iframe :src="service.content" v-if="serviceSwitch"></iframe>
      <div v-if="!serviceSwitch" class="date">
        {{ $t('客服上班时间') }}<br>{{ service.star }} - {{ service.end }}
      </div>
    </div>
  </div>
</template>

<script>
import page_head from '@/components/include/page_head'
import page_foot from '@/components/include/page_foot'

export default {
  name: "service",
  data() {
    return {
      service: '',
      serviceSwitch: true,
    }
  },
  components: {
    page_head, page_foot
  },
  created() {
    this.getServiceUrl()
  },
  mounted() {
  },
  methods: {
    // 在线客服
    getServiceUrl: function () {
      this.$fetch('native/getServiceUrl.do').then((res) => {
        if (res.success) {
          this.service = res
          let date = new Date();
          let year = date.getFullYear() + "/" + (date.getMonth() + 1) + "/" + date.getDate() + " "
          let nowDate = Date.parse(date);
          let start = (new Date(year + res.star + ":00")).getTime();
          let end = (new Date(year + res.end + ":00")).getTime();
          if (nowDate > end || nowDate < start) {
            this.serviceSwitch = false
          }
        }
      })
    },
  }
}
</script>

<style scoped lang="less">
.service {
  .serviceIframe {
    position: absolute;
    left: 0;
    right: 0;
    top: 5rem;
    bottom: 7.3rem;
    background: #000000;

    iframe {
      border: none;
      width: 100%;
      height: 100%;
    }

    .date {
      margin-top: 5rem;
      font-size: 2rem;
      text-align: center;
      color: #ffffff;
    }
  }
}

</style>
