<template>
  <div class="wallet">
    <page_head></page_head>
    <page_foot></page_foot>
    <div class="nav">
      <div class="menu" v-for="(item,index) in navList" :key="index" :class="{'active':navIndex == index}" @click="toggle(index)">{{ item }}</div>
    </div>
    <div class="box">
      <recharge v-if="navIndex == 0"></recharge>
      <withdrawDeposit v-if="navIndex == 1"></withdrawDeposit>
      <liveGame v-if="navIndex == 2"></liveGame>
      <scoreChange v-if="navIndex == 3"></scoreChange>
    </div>
  </div>
</template>

<script>
import '@/assets/css/tabs/wallet.less'
import page_head from '@/components/include/page_head'
import page_foot from '@/components/include/page_foot'
import recharge from '@/components/wallet/recharge'
import withdrawDeposit from '@/components/wallet/withdrawDeposit'
import liveGame from '@/components/wallet/liveGame'
import scoreChange from '@/components/wallet/scoreChange'
export default {
  name: "wallet",
  data(){
    return{
      navList:[this.$t('存款'),this.$t('提款'),this.$t('额度转换'),this.$t('积分兑换')],
      navIndex:0,
    }
  },
  components:{
    page_head,page_foot,recharge,withdrawDeposit,liveGame,scoreChange
  },
  created() {
  },
  mounted() {
  },
  methods:{
    toggle(index){
      this.navIndex = index
    },
  }
}
</script>

<style scoped lang="less">
.service{
  .serviceIframe{
    position: absolute;
    left: 0;
    right: 0;
    top: 5rem;
    bottom: 7.3rem;
    iframe{
      border: none;
      width: 100%;
      height: 100%;
    }
  }
}

</style>
