<template>
  <div class="lottery">
    <div class="fixed">
      <header>
        <router-link to="/">
          <van-icon name="arrow-left"/>
        </router-link>
        <span @click="classifyShow = !classifyShow">{{ lottery.name }}</span>
      </header>
      <div class="betTitle">
        <div class="time">
          <div class="time-title">
            距<b>{{ lotteryStatus.qiHao }}</b>期下单截止
          </div>
          <div class="time-font">
            <van-count-down v-if="!lotteryStatus.countdown" :time="lotteryStatus.time" @finish="finish"
                            format="HH:mm:ss"/>
            <em v-else>
              <div>{{ lotteryStatus.text }}</div>
            </em>
          </div>
        </div>
        <div class="money" @click="getMeminfo()">
          <div class="time-title">积分</div>
          <div class="time-font">
            <van-icon name="gold-coin"/>
            {{ money }}
            <van-icon name="replay"/>
          </div>
        </div>
      </div>

      <div class="openResult" @click="lotteryResult.show = true">
        第<b>{{ lotteryResult.content[0].qiHao }}</b>期：
        <div v-show="!lotteryResult.animated" class="default">
          <ul>
            <li v-for="(item,index) in lotteryResult.content[0].haoMaList" :key="index">
              <span
                  :style="{background:$route.query.lotGroup == 3 ? $root.common.resultNumberColor(item) : '',color:$route.query.lotGroup == 3 ? '#fff' : '' }">{{
                  item
                }}</span>
            </li>
            <li v-show="$route.query.lotGroup == 7">
              <span style="background: none">=</span>
            </li>
            <li v-show="$route.query.lotGroup == 7"
                v-for="(item,index) in lotteryResult.content[0].result.split(',')" :key="index + 'k3'">
              <span style="background: none;color: red">{{ item | winnNumber($store.state.lotteryLabel)}}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="lottery-title">
        <span v-if="floder != 'x002193'" @click="todayData" class="nowWinERR">今日{{$store.state.guessLabel}}</span>
        <div v-if="sonData.model != 1">
          <span class="active">快捷下单</span>
          <span>赔率：<b>{{ sonData.zuxuanPeilv }}</b></span>
        </div>
        <div>
          <span :class="{active:betModel == 1}" @click="betModelChang(1)">一般下单</span>
          <span :class="{active:betModel == 2}" @click="betModelChang(2)">快捷下单</span>
        </div>
      </div>
    </div>
    <div class="lottery-content" :class="{'m-bottom-9':betModel == 2}">
      <div v-if="$route.query.lotGroup == '1' && majorData.name">
        <officialSsc :key="majorData.sonCode" :sonData="sonData" :params="majorData" :lottery="lottery"
                     :betModel="betModel" ref="template"></officialSsc>
      </div>
      <div v-else-if="$route.query.lotGroup == '2' && majorData.name">
        <officialDpc :key="majorData.sonCode" :sonData="sonData" :params="majorData" :lottery="lottery"
                     :betModel="betModel" ref="template"></officialDpc>
      </div>
      <div v-else-if="$route.query.lotGroup == '3' && majorData.name">
        <officialPk10 :key="majorData.sonCode" :sonData="sonData" :params="majorData" :lottery="lottery"
                      :betModel="betModel" ref="template"></officialPk10>
      </div>
      <div v-else-if="$route.query.lotGroup == '5' && majorData.name">
        <officialSyxw :key="majorData.sonCode" :sonData="sonData" :params="majorData" :lottery="lottery"
                      :betModel="betModel" ref="template"></officialSyxw>
      </div>
      <div v-else-if="$route.query.lotGroup == '6' && majorData.name">
        <officialLhc :key="majorData.sonCode" :sonData="sonData" :params="majorData" :lottery="lottery"
                     :betModel="betModel" ref="template"></officialLhc>
      </div>
      <div v-else-if="$route.query.lotGroup == '7' && majorData.name">
        <officialK3 :key="majorData.sonCode" :sonData="sonData" :params="majorData" :lottery="lottery"
                    :betModel="betModel" ref="template"></officialK3>
      </div>
      <div v-else-if="$route.query.lotGroup == '8' && majorData.name">
        <officialKlsf :key="majorData.sonCode" :sonData="sonData" :params="majorData" :lottery="lottery"
                      :betModel="betModel" ref="template"></officialKlsf>
      </div>
      <div v-else-if="$route.query.lotGroup == '9' && majorData.name">
        <officialPcegg :key="majorData.sonCode" :sonData="sonData" :params="majorData" :lottery="lottery"
                       :betModel="betModel" ref="template"></officialPcegg>
      </div>
    </div>
    <div class="lottery-submit">
      <div class="money" v-if="betModel == 2">
        <span>快捷积分</span>
        <input type="number" placeholder="请输入下单积分" v-model="fastMoney"
               @input="sonData.money = fastMoney * sonData.number">
      </div>
      <div class="btn">
        <span class="info">共{{ sonData.number }}单</span>
        <span class="info">共{{ sonData.money }}积分</span>
        <van-button type="primary" color="#ffb400" @click="orderInfo">
          <span>下单</span>
        </van-button>
        <van-button type="primary" color="#464646" @click="clearData">清空</van-button>
      </div>
    </div>
    <van-popup v-model="lotteryResult.show" position="bottom" :style="{ height: '100%' }">
      <header class="public-header" style="position: fixed;z-index: 999">
        <a href="#" @click="lotteryResult.show = false">
          <van-icon name="arrow-left"/>
        </a>
        <span>{{ lottery.name }}近期订单结果</span>
      </header>
      <div class="draw-notice" style="margin-top: 5rem">
        <div class="content">
          <ul>
            <li v-for="(item, index) in lotteryResult.content" :key="index" :class="{backGay:index%2}">
              <div class="list-font" style="width: 100%;padding-left: 10px;box-sizing: border-box">
                <div class="title">
                  <span>第{{ item.qiHao }}期</span>
                  <span>{{ item.date }}{{ item.time }}</span>
                </div>
                <div class="result" v-if="item.haoMaList.indexOf('?') != -1">
                  <span style="color: red;font-size: 1.6rem">
                    开奖中...
                  </span>
                </div>
                <div class="result" v-else-if="$route.query.lotGroup == 7">
                  <div class="result-number">
                    <span v-for="(item2, index2) in (item.haoMaList || [])" :key="index2">
                      <img :src="$root.common.resultKsColor(item2)">
                    </span>
                  </div>
                  <div class="result-bigSmall">
                    <span>{{ item.gySum }}</span>
                    <span :style="{color:item.sizeStr == '大' ? '#005ea6' :'#63a73e' }">{{ item.sizeStr| winnNumber($store.state.lotteryLabel) }}</span>
                    <span :style="{color:item.sizeStr == '单' ? '#ff9600' :'#0082fe' }">{{ item.sdStr| winnNumber($store.state.lotteryLabel) }}</span>
                  </div>
                  <!--                  <span v-for="(item2, index2) in (item.haoMaList || [])" :key="index2">-->
                  <!--                    <img :src="$root.common.resultKsColor(item2)">-->
                  <!--                  </span>-->
                  <!--                  <div v-show="$route.query.lotGroup == 7" >-->
                  <!--                    <span style="background: none">=</span>-->
                  <!--                  </div>-->
                  <!--                  <div v-show="$route.query.lotGroup == 7" v-for="(item,index) in lotteryResult.content[0].result.split(',')" :key="index + 'k3'">-->
                  <!--                    <span style="background: none;color: red">{{item}}</span>-->
                  <!--                  </div>-->
                </div>
                <div class="result" v-else-if="$route.query.lotGroup == 3">
                <span v-for="(item2, index2) in (item.haoMaList || [])" :key="index2"
                      :style="{background:$root.common.resultNumberColor(item2)}"
                      style="display: block;float: left;color: #ffffff;margin-left: 3px;border-radius: 3px;width: 2.2rem;height: 2.2rem;text-align: center;line-height: 2.2rem;">
                  {{ item2 }}
                </span>
                </div>
                <div class="result number" v-else>
                  <span v-for="(item2, index2) in (item.haoMaList || [])" :key="index2">
                    {{ item2 }}
                  </span>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </van-popup>
    <van-overlay :show="betResultShow">
      <div class="wrapper" @click.stop>
        <div class="title">
          注单信息
        </div>
        <div class="content">
          <div class="list">
            <table>
              <thead>
              <tr>
                <td>类型</td>
                <td>内容</td>
                <td>积分</td>
              </tr>
              </thead>
              <tbody>
              <tr v-for="(item, index) in sonData.betList" :key="index">
                <td>{{lottery.name}}</td>
                <td>{{ item.name | winnNumber($store.state.lotteryLabel) }}</td>
                <td v-if="betModel == 1">{{ item.money }}</td>
                <td v-else>{{ fastMoney }}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="order">
            <div class="info">
              共<b>{{ sonData.number }}</b>单 共
              <b>{{ (sonData.money * (moneyTypeList[moneyTypeClick].value || 1)).toFixed(2) }}</b>积分
<!--              <button @click="moneyTypeClick = index" v-for="(item, index) in moneyTypeList" :key="index"-->
<!--                      :class="{active:moneyTypeClick == index}">{{ item.label }}-->
<!--              </button>-->
            </div>
          </div>
          <div class="btn">
            <van-button type="default" @click="betResultShow = false">取消</van-button>
            <van-button type="default" @click="bet">确定</van-button>
          </div>
        </div>
      </div>
    </van-overlay>
    <van-overlay :show="todayDataShow" @click="todayDataShow = false">
      <div class="wrapper" @click.stop>
        <div class="title">今日{{$store.state.guessLabel}}</div>
        <div class="content">
          <ul>
            <li>今日订单：<b>{{ winOrLost.allBetAmount }} 元</b></li>
            <li>今日收益：<b>{{ winOrLost.allWinAmount }} 元</b></li>
            <li>今日盈利：<b>{{ winOrLost.yingkuiAmount }} 元</b></li>
          </ul>
        </div>
        <div class="btn">
          <van-button type="default" @click="todayDataShow = false">关闭</van-button>
          <van-button type="default" @click="shareScore">分享</van-button>
        </div>
      </div>
    </van-overlay>
    <van-popup v-model="moreShow" position="right" :style="{ width: '60%',height: '100%' }">
      <div class="more-module">
        <ul class="nav">
          <li>
            <router-link :to="{path:'/lottery_record',query:{lottery:'lottery'}}">
              <img src="../../assets/images/take-notes.png">
              <span>{{$store.state.guessLabel}}记录</span>
            </router-link>
          </li>
          <li>
            <router-link
                :to="{path:'/draw_notice_details',query:{code:lottery.code,lotGroup:lottery.viewGroup,name:lottery.name}}">
              <img src="../../assets/images/history_ico.png"><span>历史订单</span>
            </router-link>
          </li>
          <li v-if="floder != 'x002105' && floder != 'x002111' && floder != 'x002123' && floder != 'x002120' && floder != 'x002115' && floder != 'x002121' || floder == 'x002130'">
            <!--            <a :href="'/mobile/v3/lottery_rules.do?lotCode=' + lottery.code">-->
            <a href="javascript:void(0)" @click="showRule()">
              <img src="../../assets/images/explain_ico.png"><span>玩法说明</span>
            </a>
          </li>
          <li>
            <a :href="'/mobile/v3/bet_lotterys_trends.do?lotCode=' + lottery.code">
              <img src="../../assets/images/trend.png"><span>走势图</span>
            </a>
          </li>
        </ul>
        <div v-for="(item,index) in moreLotteryGroup" :key="index"
             v-show="floder != 'x002105' && floder != 'x002111' && floder != 'x002123' && floder != 'x002120' && floder != 'x002117' && floder != 'x002115' && floder != 'x002121'">
          <span class="title">
            {{ item.name }}
          </span>
          <ul>
            <li v-show="item2.lotGroup == item.code" v-for="(item2,index2) in moreLotteryList" :key="index2">
              <router-link :to="{path:'/lottery',query:{code:item2.code,lotGroup:item2.lotGroup}}">
                <img :src="item2.imgUrl" alt=""><span>{{ item2.name }}</span>
              </router-link>
            </li>
          </ul>
        </div>
      </div>
    </van-popup>
    <van-popup v-model="ruleShow" position="bottom" :style="{ height: '70%' }">
      <div class="rule-content" style="font-size: 1.5rem;padding: 1rem;line-height: 2.5rem;">
        <span v-html="ruleContent"></span>
      </div>
    </van-popup>
  </div>
</template>

<script>
import '@/assets/css/lottery.less'
import '@/assets/css/draw_notice.less'
import $ from "jquery";
import {Toast} from 'vant'
import {Dialog} from 'vant';
import officialSsc from '@/components/lottery/more/ssc/official'
import officialDpc from '@/components/lottery/more/dpc/official'
import officialPk10 from '@/components/lottery/more/pk10/official'
import officialSyxw from '@/components/lottery/more/syxw/official'
import officialLhc from '@/components/lottery/more/lhc/official'
import officialK3 from '@/components/lottery/more/k3/official'
import officialPcegg from '@/components/lottery/more/pcegg/official'
import officialKlsf from '@/components/lottery/more/klsf/official'

export default {
  name: "lottery",
  components: {
    officialSsc, officialDpc, officialPk10, officialSyxw, officialLhc, officialK3, officialPcegg, officialKlsf
  },
  data() {
    return {
      majorData: {
        code: this.$route.query.code,
        sonCode: '',
        className: '',
        name: '',
      },
      moreShow: false,
      lottery: '',
      money: 0,
      floder: this.$store.state.stationInfo.content.station.floder,
      k3Rules: [], //快三玩法拼接
      lotterySelect: {
        one: 0,
        two: 0
      },
      moneyTypeList: [
        {label: '元', value: '1'}
      ],
      moneyTypeClick: 0,
      classifyShow: false,
      lotteryStatus: {
        time: 24 * 60 * 60 * 1000,
        qiHao: '20200202',
        text: '封盘中'
      },
      // 开奖数据
      lotteryResult: {
        content: [{qiHao: '-', haoMaList: ['-,-,-,-,-'], result: '-'}],
        animated: true,
        countdown: true,
        show: false,
        money: true,
      },
      betModel: 1, // 1一般投注  2 快捷投注
      betModelList: ['直选'], // 模式2彩种预设
      todayDataShow: false,
      winOrLost: '', //今日输赢
      // 子组件所需要数据
      sonData: {
        templateList: '', //彩种模板数据
        thatPlayType: '', //彩种数据
        betList: [],
        zuxuanPeilv: 0,
        model: 1, // 1正常模式  2 组选模式  3直选模式
        money: 0,
        number: 0,
        zuxuanNumList: []
      },
      fastMoney: '', // 快捷下单积分
      betResultShow: false, // 投注框
      moreLotteryList: [], // 彩种列表
      moreLotteryGroup: [], // 彩种分类
      IntervalMeminfo: '', // 获取积分定时器
      ruleShow: false,
      ruleContent: ''
    }
  },
  created() {
    this.getLotteryDetail()
  },
  mounted() {
    this.getCountDown()
    this.openResultDetail()
    this.getMeminfo()
    this.IntervalGetMeminfo()
    this.getStationSwitch()
    this.getLoctterys()
    this.getLotteryGroup()
  },
  watch: {
    // 切换彩种初始化页面数据
    '$route.query.code'() {
      this.moreShow = false
      this.lotterySelect.one = 0
      this.lotterySelect.two = 0
      this.lotteryResult.content = [{qiHao: '-', haoMaList: ['-,-,-,-,-'], result: '-'}]
      this.majorData.code = this.$route.query.code;
      this.getLotteryDetail()
      this.openResultDetail()
      this.getLoctterys()
      this.getCountDown()
      this.clearData()
    }
  },
  methods: {
    // 网站开关
    getStationSwitch: function () {
      let list = [
        {label: '元', value: '1'},
        {label: '角', value: '0.1'},
        {label: '分', value: '0.01'}
      ]
      this.$fetch('native/getStationSwitch.do').then((res) => {
        if (res.success) {
          if (res.content[0].onFlag == '111') {
            this.moneyTypeList = []
            this.moneyTypeList = list
          } else if (res.content[0].onFlag == '110') {
            this.moneyTypeList = []
            this.moneyTypeList.push(list[0])
            this.moneyTypeList.push(list[1])
          }
        }
      })
    },
    // 获取余额
    getMeminfo: function () {
      this.$fetch('native/meminfo.do').then(res => {
        if (res.success) {
          this.money = res.content.balance
        }
      })
    },
    // 定时获取余额
    IntervalGetMeminfo: function () {
      let that = this
      clearInterval(that.IntervalMeminfo);
      if (this.$store.state.stationInfo.content.station.floder == 'd00314' || this.$store.state.stationInfo.content.station.floder == 't006') {
        that.IntervalMeminfo = setInterval(function () {
          that.getMeminfo()
        }, 10000)
      }
    },
    // 获取彩种列表
    getLoctterys: function () {
      this.$fetch('native/getLoctterys.do').then(res => {
        if (res.success) {
          this.moreLotteryList = res.content
          res.content.some(item => {
            if (item.code == this.$route.query.code) {
              this.betModel = item.showFlag;
              return true
            }
          })
        }
      })
    },
    // 获取彩种分类
    getLotteryGroup: function () {
      let that = this
      this.$fetch('native/lotteryGroup.do').then(res => {
        if (res.success) {
          this.moreLotteryGroup = res.content
          for (let index in that.moreLotteryGroup) {
            if (that.moreLotteryGroup[index].code == 7) {
              that.moreLotteryGroup[index].name = this.$store.state.guessLabel
            }
          }
        }
      })
    },
    // 今日输赢
    todayData: function () {
      this.todayDataShow = true
      this.$fetch('mobile/v3/winOrLost.do').then(res => {
        if (res.success) {
          this.winOrLost = res
        }
      })
    },
    // 获取开奖数据
    openResultDetail: function () {
      let that = this
      clearInterval(this.openResultFor);
      this.lotteryResult.animated = true
      if (that.lotteryResult.money) {
        that.getMeminfo()
      }
      // this.lotteryStatus.countdown = false
      let params = {
        lotCode: this.majorData.code
      }
      this.$fetch('native/open_result_detail.do', params).then(res => {
        this.lotteryResult.money = false
        if (res.success) {
          this.lotteryResult.content = res.content
          if (res.content[0].haoMaList[0] == '?') {
            this.openResultFor = setInterval(function () {
              that.openResultDetail()
            }, 10000)
          }
          if (!this.lotteryResult.content[0].result) {
            for (let index in this.lotteryResult.content) {
              this.lotteryResult.content[index].result = '?,?,?'
            }
          }
          this.lotteryResult.animated = false
          // if(!this.lotteryStatus.countdown){
          //   this.getCountDown()
          // }
        } else {
          this.lotteryStatus.countdown = true
          this.lotteryStatus.text = '尚未开盘'
        }
      })
    },
    // 获取彩种数据
    getLotteryDetail: function () {
      let that = this, cookieIs = true, indexIs = 0
      // 判断是否将彩种数据储存于缓存中
      $.each(this.$store.state.beforeLotteryData, function (index, item) {
        if (item.code == that.$route.query.code) {
          cookieIs = false
          indexIs = index
          return false
        }
      })
      if (cookieIs) {
        let params = {
          lotCode: this.majorData.code
        }
        this.$fetch('native/getLotGamePlays.do', params, true).then(res => {
          if (res.success) {
            that.$store.commit('pushBeforeLotteryData', res.content)
            that.lotteryDataArr(this.$store.state.beforeLotteryData.length - 1)
          }
        })
      } else {
        that.lotteryDataArr(indexIs)
      }
    },
    lotteryDataArr: function (indexIs) {
      let that = this
      this.lottery = this.$store.state.beforeLotteryData[indexIs]
      this.majorData.czCode = this.lottery.czCode
      this.majorData.className = this.lottery.rules[0].name
      this.majorData.sonCode = this.lottery.rules[0].rules[0].code
      this.majorData.name = this.lottery.rules[0].rules[0].name
      this.majorData.className = this.lottery.rules[0].name
      this.majorData.sonCode = this.lottery.rules[0].rules[0].code
      this.majorData.name = this.lottery.rules[0].rules[0].name
      this.ruleContent = this.lottery.rules[0].rules[0].detailDesc
      // 拼接快三玩法
      this.k3Rules = []
      if (that.$route.query.lotGroup == 7) {
        $.each(that.lottery.rules[0].rules[0].oddPlayItems, function (index, item) {
          let newobj = [];
          for (let k in item) {
            newobj[k] = item[k]
          }
          if (item.name.indexOf('点') == -1) {
            that.k3Rules.push(newobj)
          } else {
            newobj.name = '点数'
            that.k3Rules.push(newobj)
            return false
          }
        })
        that.majorData.sonCode = '大小骰宝'
        // that.majorData.sonCode = that.k3Rules[0].name
        // if(that.$store.state.stationInfo.content.station.floder == 'x00249' || that.$store.state.stationInfo.content.station.floder == 'd00584' || that.$store.state.stationInfo.content.station.floder == 'd00314' ||  that.$store.state.stationInfo.content.station.floder == 'd00594' ||  that.$store.state.stationInfo.content.station.floder == 'd00595' ||  that.$store.state.stationInfo.content.station.floder == 'd00593'){
        //   that.majorData.sonCode = '大小骰宝'
        // }
      }
    },
    // 获取期号时间
    getCountDown: function () {
      let that = this
      let params = {
        lotCode: this.majorData.code,
        version: 5
      }
      this.$fetch('native/getCountDown.do', params, false).then(res => {
        if (res.success) {
          let time = res.content.activeTime - res.content.serverTime
          clearInterval(this.timeFor);
          if (time > 1000) {
            this.lotteryStatus.time = res.content.activeTime - res.content.serverTime
          } else {
            this.timeFor = setInterval(function () {
              that.getCountDown()
            }, 5000)
          }
          this.lotteryStatus.qiHao = res.content.qiHao
        }
      })
    },
    // 倒计时结束
    finish: function () {
      Toast((this.lotteryStatus.qiHao) + '已截止，投注请注意当前期号');
      this.getCountDown()
      this.lotteryResult.money = true;
      this.openResultDetail()
    },
    // 大玩法点击
    playClick: function (index, name) {
      this.lotterySelect.one = index;
      this.lotterySelect.two = 0;
      this.majorData.className = name;
      this.clearData()
    },
    // 小玩法点击
    sonPlayClick: function (index, name, code) {
      this.lotterySelect.two = index;
      this.majorData.name = name;
      this.majorData.sonCode = code
      this.classifyShow = !this.classifyShow
      this.ruleContent = this.lottery.rules[this.lotterySelect.one].rules[this.lotterySelect.two].detailDesc
      let that = this
      for (let index in that.betModelList) {
        if (that.majorData.className == that.betModelList[index]) {
          that.betModel = 2
        }
      }
      this.clearData()
    },
    betModelChang: function (type) {
      this.betModel = type
      this.clearData()
    },
    // 11选五直选较为特殊，故不在公共模板处理
    // 普通选中号码
    addCart: function (index, index2) {
      let data = this.sonData.templateList[index].oddPlayItems[index2], that = this, is = true
      let params = {
        max: data.maxBetAmmount,
        min: data.minBetAmmount,
        name: data.classify,
        oddsId: data.id,
        playCode: data.playCode,
        odds: data.odds,
        money: data.money,
      };
      $.each(this.sonData.betList, function (index, item) {
        if (item.name == data.classify) {
          if (that.betModel == 1) {
            if (!data.money) {
              that.sonData.betList.splice(index, 1)
              data.isActive = false
            } else {
              item.money = data.money
            }
          } else {
            that.sonData.betList.splice(index, 1)
            data.isActive = false
          }
          is = false
          return false
        }
      });
      if (is) {
        if (this.betModel == 1) {
          if (data.money) {
            data.isActive = true
            this.sonData.betList.push(params)
          }
        } else {
          data.isActive = true
          this.sonData.betList.push(params)
        }
      }
      this.orderNumber()
    },
    addCartCheck: function (index, index2) {
      this.betModel = 2
      let that = this, is = true, oddsId = 0, data = this.sonData.templateList[index].oddPlayItems[index2];
      let params = {
        max: data.maxBetAmmount,
        min: data.minBetAmmount,
        oddsId: oddsId,
        name: [],
        playCode: data.playCode,
        odds: data.odds,
      };
      if (that.sonData.betList.length < 1) {
        that.sonData.betList.push(params)
      }
      $.each(that.sonData.betList[0].name, function (index, item) {
        if (item == data.name) {
          that.sonData.betList[0].name.splice(index, 1)
          data.isActive = false
          is = false
          return false
        }
      });
      if (is) {
        that.sonData.betList[0].name.push(data.name)
        data.isActive = true
      }
      // 计算注数赔率
      if (this.majorData.sonCode.indexOf('zuxuansan') != -1) {
        if (that.sonData.betList[0].name.length >= 5) {
          // 计算注数
          $.each(this.sonData.thatPlayType, function (index, item) {
            if (item.code == that.majorData.sonCode) {
              that.sonData.zuxuanPeilv = item.oddPlayItems[that.sonData.betList[0].name.length - 5].odds
              that.sonData.betList[0].oddsId = item.oddPlayItems[that.sonData.betList[0].name.length - 5].id
              that.sonData.number = 1
              return false
            }
          })
        } else {
          that.sonData.number = 0
          that.sonData.zuxuanPeilv = 0
        }
      } else if (this.majorData.sonCode.indexOf('zuxuanliu') != -1) {
        if (that.sonData.betList[0].name.length >= 4 && that.sonData.betList[0].name.length <= 8) {
          // 计算注数
          $.each(this.sonData.thatPlayType, function (index, item) {
            if (item.code == that.majorData.sonCode) {
              that.sonData.zuxuanPeilv = item.oddPlayItems[that.sonData.betList[0].name.length - 4].odds
              that.sonData.betList[0].oddsId = item.oddPlayItems[that.sonData.betList[0].name.length - 4].id
              that.sonData.number = 1
              return false
            }
          })
        } else {
          that.sonData.number = 0
          that.sonData.zuxuanPeilv = 0
        }
      }
    },
    addCartCheck2: function (index, index2) {
      this.betModel = 2
      let that = this, is = true, data = this.sonData.templateList[index].oddPlayItems[index2];
      let params = {
        max: data.maxBetAmmount,
        min: data.minBetAmmount,
        minNumber: data.minSelected,
        oddsId: data.id,
        name: [],
        playCode: data.playCode,
        odds: data.odds,
      };
      if (that.sonData.betList.length < 1) {
        that.sonData.betList.push(params)
      }
      $.each(that.sonData.betList[0].name, function (index, item) {
        if (item == data.name) {
          that.sonData.betList[0].name.splice(index, 1)
          data.isActive = false
          is = false
          return false
        }
      });
      if (is) {
        // if(isNaN(data.name)){
        //   that.sonData.betList[0].name.push(data.name)
        // } else {
        //   that.sonData.betList[0].name.push(parseInt(data.name))
        // }
        that.sonData.betList[0].name.push(data.name)
        data.isActive = true
      }
      this.sonData.number = this.getFlagArrs(that.sonData.betList[0].name.length, data.minSelected).length
      this.sonData.money = this.fastMoney * this.sonData.number
    },
    orderInfo: function () {
      try {
        if (this.majorData.sonCode.indexOf('zuxuanliu') != -1 && this.sonData.betList[0].name.length < 4) {
          Toast('请选择4-8注号码')
          return false
        }
        if (this.majorData.sonCode.indexOf('zuxuansan') != -1 && this.sonData.betList[0].name.length < 5) {
          Toast('请选择5-10注号码')
          return false
        }
      } catch (e) {
        Toast('请选择下单号码')
        return false
      }
      if (this.sonData.betList.length < 1) {
        Toast('请选择号码')
      } else if (this.betModel == 2 && !this.fastMoney) {
        Toast('请填写下单积分')
      } else if (this.sonData.number < 1) {
        Toast('请选择至少' + (this.sonData.betList[0].minNumber || 1) + '注号码')
      } else {
        this.betResultShow = true
      }
    },
    bet: function () {
      this.betResultShow = false
      let moneyType = this.moneyTypeList[this.moneyTypeClick].value
      let that = this, data = []
      let sonCode = this.majorData.sonCode
      if (sonCode.indexOf('zuxuansan') != -1) {
        sonCode = 'zuxuansan'
      } else if (sonCode.indexOf('zuxuanliu') != -1) {
        sonCode = 'zuxuanliu'
      }
      let betInfo = {
        lotType: this.majorData.czCode,
        groupCode: sonCode,
        qiHao: this.lotteryStatus.qiHao,
        version: 5,
        lotCode: this.majorData.code,
        data: []
      }
      $.each(this.sonData.betList, function (index, item) {
        let params = {
          max: item.max,
          min: item.min,
          name: item.name,
          oddsId: item.oddsId,
          playCode: item.playCode,
        };
        if (that.betModel == 1) {
          params.money = item.money * moneyType
        } else {
          params.money = that.fastMoney * moneyType
        }
        data.push(params)
      })
      // 组选重组name数据
      if (this.sonData.model == 2) {
        let newNameList = ''
        $.each(data[0].name, function (index, item) {
          newNameList += item + ','
        })
        data[0].name = newNameList
      }
      betInfo.data = JSON.stringify(data)
      this.$post('native/dolotBet.do', betInfo, true).then(res => {
        if (res.success) {
          if (res.share) {
            Dialog.confirm({
              title: '下单成功',
              message: '是否分享订单？',
              confirmButtonText: '分享订单'
            }).then(() => {
              // on confirm
              this.shareOrder(betInfo)
            }).catch(() => {
              // on cancel
            });
          } else {
            Toast('下单成功')
          }
          that.getMeminfo()
          that.clearData();
        } else {
          Toast(res.msg)
        }
      })
    },
    // 分享注单
    shareOrder: function (data) {
      let params = {}
      params = {
        data: data.data,
        lotType: data.lotType,
        groupCode: data.groupCode,
        qiHao: data.qiHao,
        version: data.version,
        lotCode: data.lotCode,
        lotName: this.lottery.name,
        playName: this.majorData.className
      }
      this.$post('center/share/order.do', params, true).then(res => {
        if (res.success) {
          Toast('分享成功')
        } else {
          Toast(res.msg)
        }
      })
    },
    // 分享战绩
    shareScore: function () {
      let params = {}
      params = {
        bet: this.winOrLost.allBetAmount,
        win: this.winOrLost.allWinAmount,
        bunko: this.winOrLost.yingkuiAmount
      }
      this.$post('center/share/report.do', params, true).then(res => {
        if (res.success) {
          Toast('分享成功')
        } else {
          Toast(res.msg)
        }
        this.todayDataShow = false
      })
    },
    // 组选计算注数
    getFlagArrs: function (m, n) {
      if (m < n) {
        return []
      } else if (m === n) {
        return [0]
      }
      if (!n || n < 1) {
        return [];
      }
      let resultArrs = [],
          flagArr = [],
          isEnd = false,
          i, j, leftCnt;
      for (i = 0; i < m; i++) {
        flagArr[i] = i < n ? 1 : 0;
      }
      resultArrs.push(flagArr.concat());
      while (!isEnd) {
        leftCnt = 0;
        for (i = 0; i < m - 1; i++) {
          if (flagArr[i] == 1 && flagArr[i + 1] == 0) {
            for (j = 0; j < i; j++) {
              flagArr[j] = j < leftCnt ? 1 : 0;
            }
            flagArr[i] = 0;
            flagArr[i + 1] = 1;
            var aTmp = flagArr.concat();
            resultArrs.push(aTmp);
            if (aTmp.slice(-n).join("").indexOf('0') == -1) {
              isEnd = true;
            }
            break;
          }
          flagArr[i] == 1 && leftCnt++;
        }
      }
      return resultArrs;
    },
    // 计算注数
    orderNumber: function () {
      let that = this
      this.sonData.number = 0
      this.sonData.money = 0
      this.sonData.number = this.sonData.betList.length
      if (this.betModel == 1) {
        $.each(this.sonData.betList, function (index, item) {
          that.sonData.money += parseFloat(item.money)
        });
      } else {
        this.sonData.money = this.sonData.number * (this.fastMoney || 0)
      }
    },
    // 清洗数据
    clearData: function () {
      this.$refs.template.showTemplate();
      this.sonData.betList = []
      this.sonData.number = 0
      this.sonData.money = 0
      this.fastMoney = ''
    },
    showRule: function () {
      this.ruleShow = true
    }
  },
  filters: {
    winnNumber: function (number,label) {
      switch (number) {
        case '大':
          return label[0];
        case '小':
          return label[1];
        case '单':
          return label[2];
        case '双':
          return label[3];
        default:
          return number
      }
    },
  }
}
</script>

<style scoped lang="less">
.x00288Style {
  .nowWinERR {
    width: 50% !important;
  }

  .nonGroup {
    width: 50% !important;

    span {
      &:first-child {
        display: none;
      }

      &:last-child {
        width: 100% !important;
      }
    }
  }
}
</style>
