<template>
  <div id="us-agent">
    <!-- 个人中心导航 -->
    <us-navigation></us-navigation>
    <div class="wrapper">
      <div class="us-page">
        <!-- tab菜单 -->
        <div class="dep-menu">
            <div class="home-tabs">
                <div class="tab-item" @click.prevent="$router.push({name:'usAgentIndex'})" :class="$route.name == 'usAgentIndex' ? 'active' : null">
                    开下级会员<em></em>
                </div>
                <div class="tab-item" @click.prevent="$router.push({name:'usAgentMemberList'})" :class="$route.name == 'usAgentMemberList' ? 'active' : null" >
                    会员列表<em></em>
                </div>
                <div class="tab-item" @click.prevent="$router.push({name:'usAgentOrder'})" :class="$route.name == 'usAgentOrder' ? 'active' : null">
                    会员投注记录<em></em>
                </div>
                <div class="tab-item" @click.prevent="$router.push({name:'usUnionBonusList'})" :class="$route.name == 'usUnionBonusList' ? 'active' : null">
                  佣金列表<em></em>
                </div>
            </div>
        </div>
        <!-- 路由 -->
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>
<script>
/**
 * @description 个人中心-代理商中心
 */
import usNavigation from "@/components/us/navigation";
export default {
  components: {
    usNavigation
  },
}
</script>
<style lang="scss" scoped>
#us-agent {
  > .wrapper {
    margin-top: -45px;
    > .us-page {
      box-sizing: border-box;
      padding: 20px 50px;
      > .tables {
        margin-top: 10px;
      }
    }
  }
}
</style>