<template>
    <div id="us-deposit">
        <!-- 个人中心导航 -->
        <us-navigation></us-navigation>
        <div class="wrapper">
            <div class="us-page">
                <div class="dep-menu">
                    <p>请选择存款方式</p> 
                    <div class="home-tabs">
                        <div class="tab-item" :class="tabActive == 1 ? 'active' : null" @click.prevent="tabActive=1">
                            <img src="@/assets/img/zfb.svg">支付宝
                            <em></em>
                        </div>
                        <div class="tab-item" :class="tabActive == 2 ? 'active' : null" @click.prevent="tabActive=2">
                            <img src="@/assets/img/wx.svg">微信
                            <em></em>
                        </div>
                    </div>
                </div>
                <!-- 支付宝 -->
                <us-deposit-alipay v-show="tabActive == 1"></us-deposit-alipay>
                <!-- 微信 -->
                <us-deposit-wechat v-show="tabActive == 2"></us-deposit-wechat>
            </div>
        </div>
    </div>
</template>
<script>
/**
 * @description 个人中心-存款
 */
import usNavigation from "@/components/us/navigation"
import usDepositWechat from '@/components/us/deposit/wechat'
import usDepositAlipay from '@/components/us/deposit/alipay'
export default {
    data(){
        return {
            tabActive:1,
        }
    },
    components:{
        usNavigation,
        usDepositWechat,
        usDepositAlipay
    }
}
</script>
<style lang="scss" scoped>
#us-deposit{
    >.wrapper {
        margin-top: -45px;
        >.us-page{
            box-sizing: border-box;
            padding: 20px 50px;
        }
    }
}
</style>