<template>
  <div id="us-message">
    <!-- 个人中心导航 -->
    <us-navigation></us-navigation>
    <div class="wrapper">
      <div class="us-page">
        <div class="tables">
          <table class="table-style-1">
            <thead>
              <tr>
                <th>标题</th>
                <th width="500">内容</th>
                <th width="300">时间</th>
                <th></th>
              </tr>
            </thead>
            <tbody v-if="Array.isArray(resultData) && resultData.length">
              <tr v-for="(item,index) in resultData" :key="'us_message_list_item' + index">
                <td>{{item.title}}</td>
                <td>{{item.content}}</td>
                <td>{{item.sendDate}}</td>
                <td @click.prevent="showMessageDetail(item.mid)"><span class="like-a">查看详情</span></td>
              </tr>
            </tbody>
            <tbody v-else>
              <tr>
                <td colspan="4" style="text-align: center;">暂无记录</td>
              </tr>
            </tbody>
          </table>
          <!-- 分页 -->
          <el-pagination 
              v-if="pageCount"
              layout="total,prev,pager,next,jumper"
              :page-size="pageSize"
              :page-count="pageCount"
              :total="resultCount"
              @current-change="shieldpageChange"
          ></el-pagination>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
/**
 * @description 个人中心-消息
 */
import usNavigation from "@/components/us/navigation"
export default {
  created(){
      /* 请求数据 */
      this.getDatas()
  },
  data(){
      return {
          request:false,
          pageIndex:1,
          pageSize:5,
          pageCount:false,                        /* 总页数（同时控制是否显示分页器） */
          resultCount:false,                      /* 结果条数 */
          resultData:false,
      }
  },
  methods:{
    /* 刷新数据 */
    getDatas:function(){
      /* 防抖 */
      if(this.request)    return false
      this.request = true
      const loading = this.$loading.service({lock: true,background: 'rgba(0, 0, 0, 0.7)'})

      this.$http.post('api/Member/GetMsgMessageList',{
          pageIndex: this.pageIndex,
          pageSize: this.pageSize,
      }).then(response => {
        this.request = false
        loading.close()

        const {resultCode,resultData} = response.data

        if(resultCode == 1){
            const {msgMessageList,page} = resultData

            /* 解析分页 */
            const {pageCount,pageRecord} = page
            this.pageCount = pageCount
            this.resultCount = pageRecord

            this.resultData = Array.isArray(msgMessageList) && msgMessageList.length ? msgMessageList : false
        }
      })

    },
    /* 查看消息详情 */
    showMessageDetail:function(mid){
      this.$store.commit('setInterActive',{
        name:'usMessageDetail',
        data:{
          messageId:mid
        }
      })
    },
    /* 页数变更 */
    shieldpageChange:function(page){
        this.pageIndex = page
        this.getDatas()
    },
  },
  components: {
    usNavigation
  }
};
</script>
<style lang="scss" scoped>
#us-message {
  > .wrapper {
    margin-top: -45px;
    > .us-page {
      box-sizing: border-box;
      padding: 20px 50px;
      > .tables {
        margin-top: 10px;
      }
    }
  }
}
</style>