<template>
    <div id="us-message-content">
        <!-- 个人中心导航 -->
        <us-navigation></us-navigation>
        <div class="wrapper">
            <div class="us-page">
                <article v-if="article">
                    <!-- 标题 -->
                    <div class="title">{{article.title || '' }}</div>
                    <!-- 标题标签 -->
                    <div class="title-tips">
                        <i class="iconfont icon-alarm"></i>
                        <span>{{article.sendDate}}</span>
                    </div>
                    <hr>
                    <!-- 内容正文 -->
                    <div class="content">
                        {{article.content}}
                    </div>
                </article>
            </div>
        </div>
    </div>
</template>
<script>
/**
 * @description 个人中心-消息 - 消息详情
 */
import usNavigation from "@/components/us/navigation"
export default {
    created(){
        const loading = this.$loading.service({lock: true,background: 'rgba(0, 0, 0, 0.7)'})

        /* 请求消息详情 */
        this.$http.post('api/Member/GetMsgMessageInfo',{
            mid:this.$route.params.mid || '',
        }).then(response => {
            loading.close()

            const {resultCode,resultData} = response.data
            /* 请求成功 */
            if(resultCode == 1){
                this.article = resultData
            }else{
                /* 跳转至首页 */
                this.$router.push({name:'homeIndex'})
            }
        })
    },
    data(){
        return {
            article:false,
        }
    },
    components:{
        usNavigation
    }
}
</script>
<style lang="scss" scoped>
#us-message-content{
    > .wrapper {
        margin-top: -45px;
        > .us-page {
            box-sizing: border-box;
            padding: 20px 50px;
        }
    }
}
</style>