<template>
    <div id="us-record">
        <!-- 个人中心导航 -->
        <us-navigation></us-navigation>
        <div class="wrapper">
            <div class="us-page">
                <!-- 公共头部 -->
                <record-navi :recordType="type"></record-navi>
                <div class="tables">
                    <!-- 充值记录 -->
                    <us-record-1 v-show="type == 1" ref="record1"></us-record-1>
                    <!-- 提现记录 -->
                    <us-record-2 v-show="type == 2" ref="record2"></us-record-2>
                    <!-- 优惠记录 -->
                    <us-record-3 v-show="type == 3" ref="record3"></us-record-3>
                    <!-- 返水记录 -->
                    <us-record-4 v-show="type == 4" ref="record4"></us-record-4>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
/**
 * @description 个人中心-交易记录
 */
import usNavigation from "@/components/us/navigation"
import recordNavi from '@/components/us/recordNavi'
/* 充值记录 */
import usRecord1 from '@/components/us/usRecord1'
/* 提现记录 */
import usRecord2 from '@/components/us/usRecord2'
/* 优惠记录 */
import usRecord3 from '@/components/us/usRecord3'
/* 返水记录 */
import usRecord4 from '@/components/us/usRecord4'
export default {
    created(){
        const {type} = this.$route.params
        if(!/^\d$/.test(type)){
            this.$router.push({name:'usRecord',params:{type:1}})
        }else{
            this.type = type
        }
    },
    data(){
        return{
            type:1,                     /* 匹配四种子记录      1：充值记录     2：提现记录     3：优惠记录     4：返水记录 */
            status1:[                   /* 充值记录表状态 */
                {code:'',text:'全部'},
                {code:0,text:'失败'},
                {code:1,text:'成功'},
                {code:2,text:'处理中'},
            ],
            status_1:'',
            status2:[
                {code:'',text:'全部'},
                {code:1,text:'待审核'},
                {code:2,text:'待打款'},
                {code:3,text:'完成'},
            ],
            status_2:'',
            /* 公共头部 用日期 */
            elData:[
                this.$helper.getPastDate(),
                this.$helper.getNowDate(),
            ],
        }
    },
    methods:{
        /* 更新（刷新）当前记录（子组件）的数据 */
        getChildDatas:function(){
            switch(parseInt(this.type)){
                /* 充值记录 */
                case 1:
                    this.$refs.record1.shieldFilterChange()
                    break
                /* 提现记录 */
                case 2:
                    this.$refs.record2.shieldFilterChange()
                    break
                /* 优惠记录 */
                case 3:
                    this.$refs.record3.shieldFilterChange()
                    break
                /* 返水记录 */
                case 4:
                    this.$refs.record4.shieldFilterChange()
                    break
            }
        },
        /* 从element ui日期控件获取 开始日期 和 结束日期 */
        getCtrlDate:function(){
            const result = {
                startDate:'',
                endDate:''
            }
            if(Array.isArray(this.elData) && this.elData.length){
                result.startDate = this.elData[0]
                result.endDate = this.elData[1]
            }
            return result
        },
    },
    watch:{
        type:function(){
            this.getChildDatas()
        }
    },
    mounted(){
        this.$refs.record1.getDatas()
    },
    components:{
        usNavigation,
        recordNavi,
        usRecord1,
        usRecord2,
        usRecord3,
        usRecord4,
    }
}
</script>
<style lang="scss" scoped >
#us-record{
    >.wrapper {
        margin-top: -45px;
        >.us-page{
            box-sizing:border-box;
            padding: 20px 50px;
            >.tables{
                margin-top: 10px;
            }
        }
    }
}
</style>