<template>
    <div id="us-recommend">
        <!-- 个人中心导航 -->
        <us-navigation></us-navigation>
        <div class="wrapper">
            <div class="us-page">
                <div class="dep-menu">
                    <div class="home-tabs">
                        <div class="tab-item" :class="tabActive == 1 ? 'active' : null" @click.prevent="tabActive=1">
                            推荐信息<em></em>
                        </div>
                        <div class="tab-item" :class="tabActive == 2 ? 'active' : null" @click.prevent="tabActive=2" v-if="!USER_IS_AGENT">
                            我的好友<em></em>
                        </div>
                    </div>
                </div>
                <!-- 推荐信息 -->
                <recommend-info v-if="tabActive == 1"></recommend-info>
                <!-- 我的好友 -->
                <recommend-friend v-if="tabActive == 2 && !USER_IS_AGENT"></recommend-friend>
            </div>
        </div>
    </div>
</template>
<script>
import usNavigation from "@/components/us/navigation"
import recommendInfo from "@/components/recommend/info"
import recommendFriend from "@/components/recommend/friend"
export default {
    data(){
        return {
            tabActive:1,
        }
    },
    computed:{
        /* 用户是否为代理商 */
        USER_IS_AGENT:function(){
            return this.$store.getters.USER_IS_AGENT
        }
    },
    components:{
        usNavigation,
        recommendInfo,
        recommendFriend
    }
}
</script>
<style lang="scss" scoped>
#us-recommend{
    >.wrapper {
        margin-top: -45px;
        >.us-page{
            box-sizing: border-box;
            padding: 20px 50px;
        }
    }
}
</style>