<template>
    <div id="us-withdraw">
        <!-- 个人中心导航 -->
        <us-navigation></us-navigation>
        <!-- 已绑定银行卡 -->
        <div class="wrapper" v-if="USERINFO.isBankValided" >
            <div class="us-page" @keyup.13.prevent="shieldSubmit">
                <p class="mbox">当前余额：<span><em>￥</em>{{USERINFO.balance}}</span></p>
                <p>请输入提现金额</p>
                <div class="input-box"><em>￥</em><input maxlength="9" placeholder="请输入提现金额" class="txt" v-model.trim="money" ref="money"></div>
                <div class="msg"><i class="iconfont icon-laba"></i>单笔最低提款额为 100 元，单笔提款限额为：100,000.00 元。</div>
                <button class="shadow btn-xl" style="margin:2rem 0 1rem;" @click.prevent="shieldSubmit" >确认提现</button>
            </div>
        </div>
        <!-- 未绑定银行卡 -->
        <div class="wrapper" v-else>
            <div class="us-page">
                <div class="jumbotron">
                    <p>
                        <i class="iconfont icon-alert" style="font-size:40px;"></i>
                    </p>
                    <p>您还没有绑定银行卡，将无法进行提款</p>
                    <p style="margin-top:30px;">
                        <button class="btn btn-xl shadow" style="display:inline-block;" @click.prevent="bindBankCard">+立即绑定银行卡</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
/**
 * @description 个人中心-取款
 */
import usNavigation from "@/components/us/navigation"
export default {
    data(){
        return {
            request:false,
            money:'',  
        }
    },
    computed:{
        USERINFO:function(){
            return this.$store.state.USERINFO
        }
    },
    methods:{
        /* 提交提现请求 */
        shieldSubmit:function(){
            /* 防抖 */
            if(this.request)    return false

            if(!this.money){
                this.$message({message:'请输入提现金额',type:'error',showClose:true})
                this.$refs.money.focus()
            }else{
                this.request = true
                const loading = this.$loading.service({lock: true,background: 'rgba(0, 0, 0, 0.7)'})

                /* 发起提现请求 */
                this.$http.post('/api/Member/UserDistill',{money:this.money})
                .then(response => {
                    this.request = false
                    loading.close()

                    const {resultCode,message} = response.data
                    
                    /* 提现成功 */
                    if(resultCode == 1){
                        this.$message({message,type:'success',showClose:true})
                        this.$store.dispatch('refreshUserInfo')
                        this.$router.push({name:'usRecord',params:{type:2}})
                    }

                })

            }         
        },
        /* 绑定银行卡 */
        bindBankCard:function(){
            this.$store.commit('setInterActive','bindBankCard')
        },
    },
    components:{
        usNavigation
    },
}
</script>
<style lang="scss" scoped>
#us-withdraw{
    >.wrapper {
        margin-top: -45px;
        >.us-page{
            box-sizing: border-box;
            padding: 20px 50px;
            >.input-box{
                margin: 10px 0;
                position: relative;
                >em{
                    position: absolute;
                    top: 0;
                    left: 0;
                    font-style: normal;
                    display: inline-block;
                    width: 30px;
                    line-height: 36px;
                    text-align: center;
                    background: none;
                }
                >input{
                    box-sizing: border-box;
                    padding: 0 10px 0 40px;
                }
            }
        }
    }
}
</style>