@import "include/base";

.alipay {
  .ground();
  background: #f6f6f6;

  .header {
    background: #ffffff;
    height: 5rem;
    display: flex;
    align-items: center;
    padding: 10px 20px 0;

    i {
      font-size: 2.5rem;
    }

    .font {
      text-align: center;
      font-size: 1.8rem;
      font-weight: 700;
    }
  }

  .deck {
    padding: 0 7%;
    margin-top: 5rem;

    .item {
      .flex();
      border-bottom: 1px solid #ededed;
      font-size: 1.5rem;
      margin-bottom: 22px;
      padding-bottom: .5rem;

      span {
        font-size: 1.4rem;
        white-space: nowrap;
      }

      input {
        width: 100%;
        text-align: right;
        border: none;
      }
    }
  }

  .btn {
    button{
      width: 100%;
      background: #00bfff;
      height: 55px;
      font-size: 18px;
      font-weight: 500;
      color: red;
      border: none;
    }
  }

  .warming {
    font-size: 2rem;
    line-height: 1.7;
    color: #f01516;
    padding: 0 7.4%;
  }
}
