@import "include/base";

.baoku {
  .ground();
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../images/baoku.jpg");

  .header {
    height: 5rem;
    display: flex;
    align-items: center;
    padding: 0 10px 0;
    position: relative;

    i {
      font-size: 2.5rem;
      color: #ffffff;
    }

    .font {
      text-align: center;
      font-size: 1.8rem;
      font-weight: 700;
      color: #ffffff;
    }

    .query {
      position: absolute;
      right: 1rem;
      top: 1.5rem;

      img {
        width: 1.9rem;
        height: 1.9rem;
      }
    }
  }

  .box {
    margin-top: 37rem;

    .deck {
      position: relative;

      .title {
        text-align: center;
        font-size: 1.4rem;
      }

      .money {
        text-align: center;
        color: #1b67ff;
        margin-top: 1rem;
        font-size: 3rem;
        font-weight: 700;
      }

      .income {
        div {
          height: 100%;
          float: left;

          p {
            margin-top: 1rem;
            text-align: center;
            white-space: nowrap;

            &:nth-child(1) {
              color: #b9b9b9;
            }

            span {
              font-size: 2.1rem;
              font-weight: 700;
            }
          }
        }
      }
    }
  }

  .btn {
    padding: 0 7%;
    margin-top: 8rem;
    display: flex;

    button {
      width: 159px;
      height: 47px;
      font-size: 16px;
      color: #fff;
      border: none;
      background: #0f79ff;
      border-radius: 2.4rem;
      margin: 0 .5rem;
    }
  }

  .input-box {
    padding: 0 3.5%;
    position: absolute;
    top: 7rem;
    width: 100%;

    .deck {
      background: #ffffff;
      height: 19rem;
      border-radius: 8px;
      box-shadow: rgb(0 4 26 / 5%) 0px 0px 13px 0px;
      padding: 0 2rem;

      .input-title {
        font-size: 1.4rem;
        margin-top: 2rem;
      }

      .input-money {

        .left {
          float: left;
          width: 15%;
          .flex();
          font-size: 4rem;
          height: 84px;
        }

        .right {
          width: 85%;
          float: left;

          input {
            width: 230px;
            height: 84px;
            line-height: 84px;
            font-size: 25px;
            font-weight: 700;
            color: rgb(0, 0, 0);
            margin: 0px auto;
            text-align: left;
            border: none;
          }
        }
      }

      .input-btn {
        button{
          width: 100%;
          height: 47px;
          background: rgb(15, 121, 255);
          border-radius: 7px;
          margin: 0px auto;
          font-size: 16px;
          font-weight: 400;
          color: rgb(255, 255, 255);
          border: none;
        }
      }
    }
  }
}
