@import "include/base";

.invest-apply {
  .ground();

  .header {
    background: #ffffff;
    height: 5rem;
    display: flex;
    align-items: center;
    padding: 10px 20px 0;
    position: fixed;
    top: 0;
    left: 0;

    i {
      font-size: 2.5rem;
    }

    .font {
      text-align: center;
      font-size: 1.8rem;
      font-weight: 700;
    }
  }

  .deck {
    padding: 3rem 1.3rem;
    margin-top: 5rem;

    .money {
      width: 100%;
      height: 7.4rem;
      background: #0f79ff;
      border-radius: 1rem 1rem 0 0;

      span {
        display: inline-block;
        float: left;
        font-size: 1.5rem;
        color: #ffffff;
        line-height: 7.4rem;
        margin-left: 2rem;

        &:nth-child(2) {
          float: right;
          font-size: 3rem;
          margin-right: 3rem;
          font-weight: 700;
        }
      }
    }

    .info {
      border-radius: .8rem;
      background: #ffffff;
      margin-top: 1.5rem;
      padding: 2rem;

      .title {
        font-size: 1.6rem;
        font-weight: 700;
        margin: 1rem 0;
      }

      .order {
        border-bottom: 1px solid #e9eaec;
        padding: 1.3rem 0;

        * {
          font-size: 1.5rem;
        }

        span {
          display: inline-block;
        }

        input {
          display: block;
          box-sizing: border-box;
          width: 100%;
          min-width: 0;
          color: #323233;
          line-height: inherit;
          text-align: left;
          background-color: transparent;
          border: 0;
          resize: none;
          height: 2.5rem;
          margin-top: 2rem;
        }
      }
    }
  }
  .investment-btn {
    padding: 0 1.3rem;
    button{
      width: 100%;
      height: 47px;
      line-height: 47px;
      text-align: center;
      background: #0f79ff;
      border-radius: 7px;
      font-size: 16px;
      color: #fff;
      border: none;
    }
  }
}
