<template>
  <div class="lobby-index">
    <header class="lobby-index-header">
      <a href="javascript:void(0)" @click="back()"><van-icon name="arrow-left" size="2.5rem" /></a>
      <div class="middle">
        匹配数据
      </div>
      <div class="more">
        <van-icon name="apps-o" @click="moreShow = true" />
<!--        <span>更多</span>-->
      </div>
    </header>
    <div class="lobby-index-container">
      <div class="guess-title" v-if="lotteryResult.content">
        <div class="top" @click="lotteryResult.show = true">
          <div class="top-left">
            <p class="issue">【{{lotteryResult.content[0].qiHao}}】</p>
            <p class="issue" style="margin-left: 2rem">订单匹配结果</p>
          </div>
          <template v-if="lotteryResult.content[0].sizeStr && lotteryResult.content[0].sdStr">
            <p class="draw" :style="{color:lotteryResult.content[0].sizeStr == '大' ? '#005ea6' :'#63a73e' }">{{drawData(lotteryResult.content[0].sizeStr)}}</p>
            <p class="draw" :style="{color:lotteryResult.content[0].sdStr == '单' ? '#ff9600' :'#0082fe' }">{{drawData(lotteryResult.content[0].sdStr)}}</p>
          </template>
          <p class="no-draw " v-else>匹配中<span></span></p>
        </div>
        <div class="bottom">
          <div class="issue">【{{lotteryStatus.qiHao}}】 订单匹配截止</div>
          <van-count-down class="time" v-if="!lotteryStatus.countdown" :time="lotteryStatus.time" @finish="finish" format="HH:mm:ss"/>
            <div class="time" v-else>{{ lotteryStatus.text }}</div>
        </div>
      </div>
      <div class="guess-content">
        <div class="title" v-if="lotteryData.length > 0">
          <div class="title-img acitve" v-if="pseudoData[this.$store.state.pseudoDataClass].titleImg.length > 0">
            <div class="title-img-wrap" v-for="(item,index) in pseudoData[this.$store.state.pseudoDataClass].titleImg" :key="index">
              <img :src="item.imgUrl" alt="title" :class="{activeImg:lotteryData[index].isActive}" >
            </div>
          </div>
          <div class="title-button">
            <van-button round :class="{active:item2.isActive}" type="default" @click="cilckNum(item2,index2)"  v-for="(item2,index2) in lotteryData" :key="index2">{{item2.showName}}</van-button>
          </div>
        </div>
        <ul class="content">
          <li class="content-item" v-for="(item,index) in pseudoData[this.$store.state.pseudoDataClass].data" :key="index">
            <img :src="item.imgUrl" :class="{active:buData.indexOf(item.id) > -1}" alt="logo" @click="handleBu(item.id)">
          </li>
        </ul>
      </div>
      <div class="guess-footer">
        <div class="cathectic">
          <van-stepper :value="throwData.money" integer button-size="35"  input-width="50" @change="moneyChange" />
          <van-button plain hairline  type="default" v-model="throwData.money">{{ throwData.money }} {{$store.state.moneyUnit}}</van-button>
        </div>
        <div class="submit">
          <van-button plain hairline type="default" @click="clearData">清空</van-button>
          <div class="money">
            <span>共 <i>{{throwData.betNum}}</i> 件</span>
            <span>共 <i>¥{{ (throwData.betNum * throwData.money ).toFixed(2)}}</i> {{$store.state.moneyUnit}}</span>
          </div>
          <van-button plain hairline round  type="default" @click="submitBet">提交订单</van-button>
        </div>
      </div>
    </div>
    <van-popup v-model="moreShow" position="right" :style="{ width: '60%',height: '100%' }" class="more-module">
      <ul>
        <li  v-for="(item2,index2) in moreLotteryList" :key="index2">
          <router-link :to="{path:'/throwinto',query:{code:item2.code,lotGroup:item2.lotGroup,class:'index'}}" :class="{active:$route.query.code == item2.code}">
            <img :src="item2.imgUrl" alt=""><span>{{ item2.name }}</span>
          </router-link>
        </li>
      </ul>
    </van-popup>
<!--    //开奖记录-->
    <van-popup v-model="lotteryResult.show" position="bottom" :style="{ height: '100%' }">
      <header class="public-header" style="position: fixed;z-index: 999">
        <a href="#" @click="lotteryResult.show = false">
          <van-icon name="arrow-left"/>
        </a>
        <span v-if="lottery && lottery.name">{{ lottery.name }}近期匹配结果</span>
      </header>
      <div class="draw-notice" style="margin-top: 5rem">
        <div class="content">
          <ul>
            <li v-for="(item, index) in lotteryResult.content" :key="index" :class="{backGay:index%2}">
              <div class="list-font" style="width: 100%;padding-left: 10px;box-sizing: border-box">
                <div class="title">
                  <span>第{{ item.qiHao }}数据</span>
                  <span>{{ item.date }}{{ item.time }}</span>
                </div>
                <div class="result" v-if="item.haoMaList.indexOf('?') != -1">
                  <span style="color: red;font-size: 1.6rem">
                    匹配中...
                  </span>
                </div>
                <div class="result" v-else-if="$route.query.lotGroup == 7">
                  <div class="result-bigSmall">
<!--                    <span>{{ item.gySum }}</span>-->
                    <span :style="{color:item.sizeStr == '大' ? '#005ea6' :'#63a73e' }" >{{ drawData(item.sizeStr)}}</span>
                    <span :style="{color:item.sdStr == '单' ? '#ff9600' :'#0082fe' }" >{{ drawData(item.sdStr)}}</span>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </van-popup>
  </div>
</template>

<script>
import '@/assets/css/throwinto.less'
import '@/assets/css/draw_notice.less'
import $ from "jquery";
import {Toast} from "vant";
export default {
name: "index",
  data(){
    return{
      moreShow:false,
      lottery: '',
      moreLotteryList: [], // 彩种列表
      throwData:{
        money:1,
        betNum:0,
        totalMoney:0
      },
      //当前正在执行期号
      lotteryStatus: {
        time: 24 * 60 * 60 * 1000,
        qiHao: '20210202',
        text: '封盘中'
      },
      // 开奖数据
      lotteryResult: {
        content: [{qiHao: '-', haoMaList: ['-,-,-,-,-'], result: '-'}],
        animated: true,
        countdown: true,
        show: false,
        money: true,
      },
      majorData: {
        code: this.$route.query.code,
        sonCode: '',
        className: '',
        name: '',
      },
      //投注数据
      lotteryData:[],
      cilckData:[],//选中数据
      pseudoDataClass:0,
      pseudoData:[
        {
          title:'点赞|玫瑰|小心心|神奇海螺',
          key:'like',
          titleImg:[
              {id:1,imgUrl:require('../../assets/images/like/1.1.png')},
              {id:2,imgUrl:require('../../assets/images/like/1.2.png')},
              {id:3,imgUrl:require('../../assets/images/like/1.3.png')},
              {id:4,imgUrl:require('../../assets/images/like/1.4.png')},
          ],
          throwInto:[{name:'大',showName:'点赞'},{name:'小',showName:'玫瑰'},{name:'单',showName:'小心心'},{name:'双',showName:'神奇海螺'},],
          data:[
              {id:1,imgUrl:require('../../assets/images/like/1.png')},
              {id:2,imgUrl:require('../../assets/images/like/2.png')},
              {id:3,imgUrl:require('../../assets/images/like/3.png')},
              {id:4,imgUrl:require('../../assets/images/like/4.png')},
              {id:5,imgUrl:require('../../assets/images/like/5.png')},
              {id:6,imgUrl:require('../../assets/images/like/6.png')},
              {id:7,imgUrl:require('../../assets/images/like/7.png')},
              {id:8,imgUrl:require('../../assets/images/like/8.png')},
              {id:9,imgUrl:require('../../assets/images/like/9.png')},
              {id:10,imgUrl:require('../../assets/images/like/10.png')},
              {id:11,imgUrl:require('../../assets/images/like/11.png')},
              {id:12,imgUrl:require('../../assets/images/like/12.png')},
              {id:13,imgUrl:require('../../assets/images/like/13.png')},
              {id:14,imgUrl:require('../../assets/images/like/14.png')},
              {id:15,imgUrl:require('../../assets/images/like/15.png')},
              {id:16,imgUrl:require('../../assets/images/like/16.png')},
          ]
        },
        {
          title:this.$store.state.moneyType,
          key:'goods',
          titleImg:[],
          throwInto:this.$store.state.moneyTypeInfo,
          data:[
            {id:1,imgUrl:require('../../assets/images/goods/1.png')},
            {id:2,imgUrl:require('../../assets/images/goods/2.png')},
            {id:3,imgUrl:require('../../assets/images/goods/3.png')},
            {id:4,imgUrl:require('../../assets/images/goods/4.png')},
            {id:5,imgUrl:require('../../assets/images/goods/5.png')},
            {id:6,imgUrl:require('../../assets/images/goods/6.png')},
            {id:7,imgUrl:require('../../assets/images/goods/7.png')},
            {id:8,imgUrl:require('../../assets/images/goods/8.png')},
            {id:9,imgUrl:require('../../assets/images/goods/9.png')},
            {id:10,imgUrl:require('../../assets/images/goods/10.png')},
            {id:11,imgUrl:require('../../assets/images/goods/11.png')},
            {id:12,imgUrl:require('../../assets/images/goods/12.png')},
            {id:13,imgUrl:require('../../assets/images/goods/13.png')},
            {id:14,imgUrl:require('../../assets/images/goods/14.png')},
            {id:15,imgUrl:require('../../assets/images/goods/15.png')},
            {id:16,imgUrl:require('../../assets/images/goods/16.png')},
          ]
        },
        {
          title:this.$store.state.moneyType,
          key:'cosmetic',
          titleImg:[],
          throwInto:this.$store.state.moneyTypeInfo,
          data:[
            {id:1,imgUrl:require('../../assets/images/cosmetic/1.png')},
            {id:2,imgUrl:require('../../assets/images/cosmetic/2.png')},
            {id:3,imgUrl:require('../../assets/images/cosmetic/3.png')},
            {id:4,imgUrl:require('../../assets/images/cosmetic/4.png')},
            {id:5,imgUrl:require('../../assets/images/cosmetic/5.png')},
            {id:6,imgUrl:require('../../assets/images/cosmetic/6.png')},
            {id:7,imgUrl:require('../../assets/images/cosmetic/7.png')},
            {id:8,imgUrl:require('../../assets/images/cosmetic/8.png')},
            {id:9,imgUrl:require('../../assets/images/cosmetic/9.png')},
            {id:10,imgUrl:require('../../assets/images/cosmetic/10.png')},
            {id:11,imgUrl:require('../../assets/images/cosmetic/11.png')},
            {id:12,imgUrl:require('../../assets/images/cosmetic/12.png')},
            {id:13,imgUrl:require('../../assets/images/cosmetic/13.png')},
            {id:14,imgUrl:require('../../assets/images/cosmetic/14.png')},
            {id:15,imgUrl:require('../../assets/images/cosmetic/15.png')},
            {id:16,imgUrl:require('../../assets/images/cosmetic/16.png')},
          ]
        },
      ],
      //点击下方数据
      buData:[],
      floder:this.$store.state.stationInfo.content.station.floder || 'x002',
    }
  },
  created() {
    this.getLotteryDetail()
  },
  mounted() {
    this.getCountDown()
    this.openResultDetail()
    this.getLoctterys()

  },
  methods:{
    //返回
    back:function (){
      if (this.$route.query.class == 'index'){
        this.$router.push('/indexD')
      }else if (this.$route.query.class == 'lobby'){
        this.$router.push('/lobby')
      }else if (this.$route.query.class == 'record'){
        this.$router.push('/lottery_record')
      }
    },
    // 获取彩种列表
    getLoctterys: function () {
      this.$fetch('native/getLoctterys.do').then(res => {
        if (res.success) {
          this.moreLotteryList = []
          res.content.some((item)=>{
              if (item.lotGroup == 7){
                this.moreLotteryList.push(item)
              }
          })
        }
      })
    },
    //
    //当金额发生变化时
    moneyChange:function (value){
      this.throwData.money = value
    },
    // 获取开奖数据
    openResultDetail: function () {
      let that = this
      clearInterval(this.openResultFor);
      this.lotteryResult.animated = true
      if (that.lotteryResult.money) {
        that.getMeminfo()
      }
      // this.lotteryStatus.countdown = false
      let params = {
        lotCode: this.majorData.code
      }
      this.$fetch('native/open_result_detail.do', params).then(res => {
        this.lotteryResult.money = false
        if (res.success) {
          this.lotteryResult.content = res.content
          if (res.content[0].haoMaList[0] == '?') {
            this.openResultFor = setInterval(function () {
              that.openResultDetail()
            }, 10000)
          }
          if (!this.lotteryResult.content[0].result) {
            for (let index in this.lotteryResult.content) {
              this.lotteryResult.content[index].result = '?,?,?'
            }
          }
          this.lotteryResult.animated = false
          // if(!this.lotteryStatus.countdown){
          //   this.getCountDown()
          // }
          // if(this.majorData.code == 'FC3D'){
          //   console.log(res.content)
          // }
        } else {
          this.lotteryStatus.countdown = true
          this.lotteryStatus.text = '尚未开盘'
        }
      })
    },
    // 获取彩种数据
    getLotteryDetail: function () {
      let that = this, cookieIs = true, indexIs = 0
      // 判断是否将彩种数据储存于缓存中
      $.each(this.$store.state.beforeLotteryData, function (index, item) {
        if (item.code == that.$route.query.code) {
          cookieIs = false
          indexIs = index
          that.getMatchedData()
          return false
        }
      })
      if (cookieIs) {
        let params = {
          lotCode: this.majorData.code
        }
        this.$fetch('native/getLotGamePlays.do', params, true).then(res => {
          if (res.success) {
            that.$store.commit('pushBeforeLotteryData', res.content)
            that.getMatchedData()
            that.lotteryDataArr(this.$store.state.beforeLotteryData.length - 1)
          }
        })
      } else {
        that.lotteryDataArr(indexIs)
      }
    },
    lotteryDataArr: function (indexIs) {
      let that = this
      this.lottery = this.$store.state.beforeLotteryData[indexIs]
      this.majorData.czCode = this.lottery.czCode
      this.majorData.className = this.lottery.rules[0].name
      this.majorData.sonCode = this.lottery.rules[0].rules[0].code
      this.majorData.name = this.lottery.rules[0].rules[0].name
      this.majorData.className = this.lottery.rules[0].name
      this.majorData.sonCode = this.lottery.rules[0].rules[0].code
      this.majorData.name = this.lottery.rules[0].rules[0].name
      this.ruleContent = this.lottery.rules[0].rules[0].detailDesc
      // 拼接快三玩法
      this.k3Rules = []
      if (that.$route.query.lotGroup == 7) {
        $.each(that.lottery.rules[0].rules[0].oddPlayItems, function (index, item) {
          let newobj = [];
          for (let k in item) {
            newobj[k] = item[k]
          }
          if (item.name.indexOf('点') == -1) {
            that.k3Rules.push(newobj)
          } else {
            newobj.name = '点数'
            that.k3Rules.push(newobj)
            return false
          }
        })
        that.majorData.sonCode = '大小骰宝'
        // that.majorData.sonCode = that.k3Rules[0].name
        // if(that.$store.state.stationInfo.content.station.floder == 'x00249' || that.$store.state.stationInfo.content.station.floder == 'd00584' || that.$store.state.stationInfo.content.station.floder == 'd00314' ||  that.$store.state.stationInfo.content.station.floder == 'd00594' ||  that.$store.state.stationInfo.content.station.floder == 'd00595' ||  that.$store.state.stationInfo.content.station.floder == 'd00593'){
        //   that.majorData.sonCode = '大小骰宝'
        // }
      }
    },
    // 获取期号时间
    getCountDown: function () {
      let that = this
      let params = {
        lotCode: this.majorData.code,
        version: 5
      }
      this.$fetch('native/getCountDown.do', params, false).then(res => {
        if (res.success) {
          let time = res.content.activeTime - res.content.serverTime
          clearInterval(this.timeFor);
          if (time > 1000) {
            this.lotteryStatus.time = res.content.activeTime - res.content.serverTime
          } else {
            this.timeFor = setInterval(function () {
              that.getCountDown()
            }, 5000)
          }
          this.lotteryStatus.qiHao = res.content.qiHao
        }
      })
    },
    // 倒计时结束
    finish: function () {
      Toast((this.lotteryStatus.qiHao) + '已截止，投注请注意当前期号');
      this.sealStatus = false
      this.getCountDown()
      this.lotteryResult.money = true;
      this.openResultDetail()
    },
    // 获取余额
    getMeminfo: function () {
      this.$fetch('native/meminfo.do').then(res => {
        if (res.success) {
          this.money = res.content.balance
        }
      })
    },
    // 清洗数据
    clearData: function () {
      this.throwData.money = 2
      this.throwData.betNum = 0
      this.throwData.totalMoney = 0
      this.cilckData = []
      this.lotteryData.some((item)=>{
        item.isActive = false
      })
    },
    //直接匹配对应投注数据
    getMatchedData:function () {
      let that = this,lotteryArr=[],setSwitch = false,nativeData ={},
      arr=this.pseudoData[that.$store.state.pseudoDataClass].throwInto
      this.$store.state.beforeLotteryData.some((item)=>{
        if (item.code == that.$route.query.code && item.viewGroup == 7){
            item.rules[0].rules[0].oddPlayItems.some((item2)=>{
              if (item2.name == '大小骰宝'){
                setSwitch = true
                nativeData = Object.assign({},item2)
                return true
              }
            })
          return true
        }
      })
      //填充数据
      if (!setSwitch) return
      $.each(arr,function (index,item3){
        let obj = Object.assign({},nativeData)
        console.log(obj)
        obj.groupCode = obj.name
        obj.name = item3.name
        obj.showName = item3.showName
        obj.isActive = false
        lotteryArr.push(obj)
      })
      this.lotteryData = [...lotteryArr]
      console.log(this.lotteryData)
    },
    //选中号码
    cilckNum:function (data,index){
      let is = false,arr = [...this.cilckData]

      if (this.cilckData.length <= 0) {
        this.cilckData.push(data)
        this.lotteryData[index].isActive = true
        this.throwData.betNum = this.cilckData.length
        return
      }
      arr.some((item,index2)=>{
        if (item.name == data.name && item.showName == data.showName){
          this.cilckData.splice(index2,1)
          this.lotteryData[index].isActive = false
          is = true
        }
      })
      if (!is){
        data.isActive = true
        this.cilckData.push(data)
        this.lotteryData[index].isActive = true
      }
      this.throwData.betNum = this.cilckData.length
    },
    submitBet:function (){
      let params ={},that = this
      if (this.cilckData.length <= 0) {Toast('请选择订单款项！');return }
      params={
        data: [],
        lotType: this.cilckData[0].lotType,
        groupCode: this.cilckData[0].groupCode,
        qiHao: this.lotteryStatus.qiHao,
        version: 5,
        lotCode: this.majorData.code,
      }
      this.cilckData.some((item)=>{
        let obj = {
          max: item.maxBetAmmount,
          min: item.minBetAmmount,
          minNumber: item.minSelected,
          oddsId: item.id,
          name: item.name,
          playCode: item.playCode,
          odds: item.odds,
          money:this.throwData.money
        };
        params.data.push(obj)
      })
      params.data = JSON.stringify(params.data)
      this.$post('native/dolotBet.do', params, true).then(res => {
        if (res.success) {
          Toast('购买成功')
          that.getMeminfo()
          that.clearData();
        } else if(res.code == 10000){
          if(res.msg.indexOf('余额不足') != -1){
            Toast('余额不足')
          } else if(res.msg.indexOf('网络异常') != -1){
            Toast('网络异常')
          } else if(res.msg.indexOf('站点彩票配额') != -1){
            Toast('提交失败，超过了商家配置额度')
          } else {
            Toast(res.msg)
          }
        } else {
          let str = res.msg
          if(str.indexOf('彩票') != -1){
            str = str.replace(/彩票/g,'')
          }
          Toast(str)
        }
      })
    },
    handleBu:function (id){
      let arr = [...this.buData],is = false
      if (this.buData.length <= 0) {
        this.buData.push(id)
        return
      }
      arr.some((item,index)=>{
        if (item == id){
          this.buData.splice(index,1)
          is = true
          return true
        }
      })
      if (!is){
        this.buData.push(id)
      }
    },
  },
  watch:{
    // 切换彩种初始化页面数据
    '$route.query.code'() {
      this.moreShow = false
      this.lotteryResult.content = [{qiHao: '-', haoMaList: ['-,-,-,-,-'], result: '-'}]
      this.majorData.code = this.$route.query.code;
      this.getLotteryDetail()
      this.openResultDetail()
      this.getLoctterys()
      this.getCountDown()
      this.clearData()
    }
  },
  computed:{
    drawData(value){
      if (!value) console.log(value)
      return (value)=>{
        switch (value){
          case '大':
            return this.pseudoData[this.$store.state.pseudoDataClass].throwInto[0].showName;
          case '小':
            return this.pseudoData[this.$store.state.pseudoDataClass].throwInto[1].showName;
          case '单':
            return this.pseudoData[this.$store.state.pseudoDataClass].throwInto[2].showName;
          case '双':
            return this.pseudoData[this.$store.state.pseudoDataClass].throwInto[3].showName;
        }
      }
    }
  },

}
</script>

<style scoped>

</style>
