<template>
  <div class="mode">
    <div class="list"  v-for="(item, index) in sonData.templateList" :key="index">
      <div class="title">
        {{item.name}}
      </div>
      <div class="number-mode" v-if="sonData.model == 2">
        <div class="number" @click="clickNumberCheck(index,index2)" :class="{active:list.isActive}" v-for="(list, index2) in sonData.templateList[index].oddPlayItems" :key="index2">
          <div class="name" :class="{'number-img':list.name >= 0}">{{list.name}}</div>
          <div class="odds">
            <van-checkbox v-model="list.isActive" checked-color="#FF9726" shape="square"></van-checkbox>
          </div>
        </div>
      </div>
      <div class="number-mode" v-else>
        <div class="number" @click="clickNumber(index,index2)" :class="{active:list.isActive}" v-for="(list, index2) in sonData.templateList[index].oddPlayItems.slice(0,16)" :key="index2">
          <div class="name" :class="{'number-img':list.name >= 0}">{{list.name}}</div>
          <div class="odds"><b>{{list.odds}}</b></div>
          <div class="input" v-if="betModel == 1"><input type="number" v-model="list.money" @input="clickNumber(index,index2)"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import $ from  'jquery'
import lotteryHtml from '@/assets/json/lotteryTemplate/klsf.json'
export default {
  name: "official",
  props:['sonData','params','lottery','betModel'],
  data(){
    return{
      isActive:'',
      floder:this.$store.state.stationInfo.content.station.floder || 'x002'
    }
  },
  created:function(){
    this.showTemplate()
  },
  mounted:function(){

  },
  watch:{

  },
  methods:{
    clickNumber:function (index,index2){
      this.$parent.addCart(index,index2)
      this.$forceUpdate()
    },
    clickNumberCheck:function (index,index2){
      this.$parent.addCartCheck2(index,index2)
      this.$forceUpdate()
    },
    // 给小于10的号码加零
    addZero:function(num,three){
      if(three){
        num<10? num = '0'+ num: num = ''+num;
        num<100? num = '0'+ num: num = ''+num;
      } else {
        num<10? num = '0'+ num: num = ''+num;
      }
      return num;
    },
    // 填充json数据
    showTemplate:function () {
      let that = this
      let data = lotteryHtml.data
      that.sonData.model = 1
      for(let i in data){
        if(data[i].playName == this.params.sonCode){
          that.sonData.templateList = data[i].data
          // 获取当前玩法数据
          $.each(this.lottery.rules, function (index, item) {
            $.each(item.rules, function (index2, item2) {
              if(item2.code == that.params.sonCode){
                that.sonData.thatPlayType = item.rules
              }
            })
          })
          // 填充玩法数据
          $.each(that.sonData.thatPlayType, function (index, item) {
            if(item.code == that.params.sonCode){
              let dxdzzh = '' ,list = [];
              switch (that.params.sonCode) {
                case 'shuangmianpan':
                  that.lotteryTemplateType = 1
                  dxdzzh = ['总大','总小','总单','总双','总尾大','总尾小']
                  list = [];
                  for (let i = 0; i < dxdzzh.length; i++) {
                    let obj = item.oddPlayItems[0];
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = dxdzzh[i];
                    newobj.classify = dxdzzh[i];
                    list.push(newobj)
                  }
                  that.sonData.templateList[0].oddPlayItems = list
                  dxdzzh = ['大','小','单','双','尾大','尾小','合单','合双']
                  list = [];
                  for(let n in that.sonData.templateList) {
                    list = [];
                    // 填充其他
                    for (let i = 0; i < dxdzzh.length; i++) {
                      let obj = item.oddPlayItems[0];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = dxdzzh[i];
                      newobj.classify = that.sonData.templateList[n].name + '--' +dxdzzh[i];
                      list.push(newobj)
                    }
                    n>0? that.sonData.templateList[n].oddPlayItems = list:''
                  }
                  if(that.floder == 'x002124'){
                    that.sonData.templateList = that.sonData.templateList.slice(0,1)
                  }
                  break;
                case 'danqiu1-8':
                  for(let n in that.sonData.templateList) {
                    list = [];
                    // 填充数字
                    for (let i = 1; i < 21; i++) {
                      let obj = item.oddPlayItems[0];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = that.addZero(i);
                      newobj.classify = that.sonData.templateList[n].name + '--' + that.addZero(i);
                      list.push(newobj)
                    }
                    that.sonData.templateList[n].oddPlayItems = list
                  }
                  break;
                case 'diyiqiu':
                case 'dierqiu':
                case 'disanqiu':
                case 'disiqiu':
                case 'diwuqiu':
                case 'diliuqiu':
                case 'diqiqiu':
                case 'dibaqiu':
                  // 填充数字
                  for (let i = 1; i < 21; i++) {
                    let obj = item.oddPlayItems[0];
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = that.addZero(i);
                    newobj.classify = that.addZero(i);
                    list.push(newobj)
                  }
                  that.sonData.templateList[0].oddPlayItems = list
                  list = []
                  dxdzzh = item.oddPlayItems.slice(1)
                  for (let i = 0; i < dxdzzh.length; i++) {
                    let obj = dxdzzh[i];
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = dxdzzh[i].name;
                    newobj.classify = dxdzzh[i].name;
                    list.push(newobj)
                  }
                  that.sonData.templateList[1].oddPlayItems = list
                  break;
                case 'xuanerrenxuan':
                case 'xuanerlianzu':
                case 'xuanerlianzhi':
                case 'xuansanrenxuan':
                case 'xuansanqianzu':
                case 'xuansanqianzhi':
                case 'xuansirenxuan':
                case 'xuanwurenxuan':
                  that.sonData.model = 2
                  that.sonData.zuxuanPeilv = item.oddPlayItems[0].odds
                  // 填充数字
                  for (let i = 1; i < 21; i++) {
                    let obj = item.oddPlayItems[0];
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = that.addZero(i);
                    newobj.classify = that.addZero(i);
                    list.push(newobj)
                  }
                  that.sonData.templateList[0].oddPlayItems = list
                  break;
              }
            }
          })
        }
      }
    },
  }
}
</script>

<style scoped>

</style>
