<template>
  <div id="app">
    <keep-alive v-if="$route.meta.keepAlive">
      <router-view></router-view>
    </keep-alive>
    <router-view  v-if="!$route.meta.keepAlive"></router-view>
    <float></float>
  </div>
</template>

<script>
import float from "@/components/include/float";
export default {
  name: 'App',
  components:{
    float
  },
}
</script>

<style>

</style>
