.message{
	.content{
		width: 100%;
		.list{
			width: 100%;
			height: 90rpx;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 40rpx;
			border-bottom: 2rpx solid #e7e7e7;
			.date{
				font-size: 26rpx;
			}
		}
	}
	.message-box{
		width: 100%;
		padding: 30rpx;
		min-height: 1000rpx;
		overflow: auto;
	}
}