.withdraw{
	.title{
		text-align: center;
		margin: 20rpx 0;
		font-size: 28rpx;
		font-weight: bold;
	}
	.tip-box{
		width: 100%;
		padding: 30rpx;
		background: #fffdeb;
		border: 2rpx solid #f8e2b9;
		color: #f46e00;
		font-size: 26rpx;
		p{
			margin-top: 6rpx;
		}
		span{
			color: red;
			font-weight: bold;
			margin: 0 10rpx;
		}
	}
	.content{
		margin-top: 40rpx;
		padding: 0 40rpx;
		background: #ffffff;
		.row{
			height: 90rpx;
			display: flex;
			align-items: center;
			.left{
				width: 25%;
				height: 100%;
				line-height: 90rpx;
				font-size: 24rpx;
				color: #c8c9cc;
			}
			.right{
				width: 75%;
				height: 100%;
				line-height: 90rpx;
				input{
					border: none;
					height: 100%;
					font-size: 24rpx;
				}
			}
		}
		.login-button{
		  padding: 0 50rpx;
		  margin-bottom: 40rpx;
		  button{
		    width: 100%;
		    height: 80rpx;
		    background: #FF5035;
		    color: #ffffff;
		    border-radius: 20rpx;
		    border: none;
			line-height: 80rpx;
			font-size: 28rpx;
		  }
		}
	}
}