*{
  padding: 0;
  margin: 0;
  font-size: 62.5%;
}
li{
  list-style: none;
}
body{
  background: #ffffff;
  min-width: @width;
  min-height: 800px;
  overflow: auto;
}
a{
  color: #000000;
}
i{
  font-style: normal;
}
a{
  text-decoration: none;
}
/*针对谷歌和苹果浏览器*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  *{
    font-size: 12px;
  }
}
*::-webkit-scrollbar {/*滚动条整体样式*/
  width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 10px;
}
*::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: #9b8e8e;
}
*::-webkit-scrollbar-track {/*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  border-radius: 5px;
  background: #ffffff;
}
@width:1000px;
/*other*/
.container{
  width: @width;
  height: 100%;
  margin: 0 auto;
}
.navHover{
  //background: #d1231e;
  color: #fbdb6b;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading{
  background: rgba(255,255,255,.8);position: absolute;width: 100%;height: 100%;display: flex;justify-content: center;align-items: center;top:0;z-index:999999
}
/*element 重写ui*/
.el-carousel__button{
  width: 12px!important;
  height: 12px!important;
  border-radius: 50%;
}
//.el-carousel__item{
//  background: none!important;
//}
