*{
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: -apple-system-font, Helvetica Neue, Arial, sans-serif;
  box-sizing: border-box;
}
li{
  list-style: none;
}
body{
  background: #eee;
  overflow: auto;
}
a{
  color: #000000;
}
i{
  font-style: normal;
}
a{
  text-decoration: none;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.position-box{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
.line{
  width: 100%;
  float: left;
}

