@import "base";
.float{
  .newNoticeFrame{
    background: rgba(0,0,0,.5);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 99999;
  }
  .active-inner{
    font-family: 'Microsoft YaHei',Arial,Verdana;
    width: 90%;
    height: 80%;
    left: 5%;
    top: 10%;
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: .5rem;
    background: rgba(255,255,255,0.3);
    z-index: 99;
  }
  .active-top{
    width: 100%;
    position: relative;
    text-align: center;
    height: 5rem;
    line-height: 5rem;
    border-radius: .4rem .4rem 0 0;
    background: #b62929;
  }
  .top-active{
    font-size: 2rem;
    letter-spacing: .2rem;
    text-shadow: none;
    color: #fff;
  }
  .close123{
    position: absolute;
    right: .5rem;
    top: .5rem;
    display: block;
    width: 3rem;
    line-height: 4rem;
    text-align: center;
    font-size: 3rem;
    color: #fff;
  }
  .active-content{
    position: absolute;
    top: 5.5rem;
    bottom: .5rem;
    left: .5rem;
    right: .5rem;
    max-height: 100%;
    overflow: auto;
    border-radius: 0 0 .4rem .4rem;
    background: #fff;
    button{
      width: 12rem;
      height: 3rem;
      position: absolute;
      bottom: 1rem;
      right: 1rem;
    }
  }
  .active-main{
    margin: 0 4% 1rem 4%;
  }
  .active-item{
    padding: 1rem 0;
    border-bottom: 1px dashed #dbdbdb;
    float: left;
    width: 100%;
  }
  .activeTitles{
    clear: both; color: #000;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    background:#fff;
    display:block;
  }
  .red-title{
    background: #b62929;
    width: .6rem;
    height: .6rem;
    margin: 1.2rem 0;
    border-radius: 50%;
    float: left;
  }
  .textStyle{
    max-width: 90%;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.6rem;
    padding-left: 0.6rem;
    color: rgb(76, 76, 76);
    float: left;
    line-height:3rem
  }
  .contentStyle{
    float: left;
    width: 100%;
    white-space: normal;
    font-size: 2rem;
    word-break: break-all;
    margin-top: 1rem;
  }
  .contentStyle img{
    width: 100%!important;
  }
  .red-m{
    position: fixed;
    right: 0;
    bottom:10%;
    width: 9rem;
    z-index: 2;
    img{
      width: 100%;
    }
    .loca{
      position: absolute;
      bottom: 3rem;
      left: 0;
      width: 9rem;
      height: 9rem;
    }
    .close{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 9rem;
      height: 3rem;
    }
  }
}
