<template>
	<view class="index">
		<view class="status_bar"></view>
		<view class="header">
			<text>{{stationInfo.title}}</text>
			<image src="/static/images/1671188505062-400x400.png"></image>
		</view>
		<view class="swipe">
			<swiper class="swiper" circular :indicator-dots="true" :autoplay="true" :interval="5000" :duration="500">
				<swiper-item v-for="(item,index) in carouselList" :key="index">
					<image style="width: 100%;height: 100%;" :src="item.titleImg"></image>
				</swiper-item>
			</swiper>
			<view class="online-person-num">在线人数：{{onlineNum}}人</view>
		</view>
		<view class="notice">
			<uni-notice-bar single scrollable :text="noticeText" :speed="10" background-color="#ffffff"
				color="#8178c3"></uni-notice-bar>
		</view>
		<view class="middle-menu">
			<view class="box">
				<image src="/static/images/button1.png"></image>
				<p>共享电商</p>
			</view>
			<view class="box" @click="$common.toPath('/pages/center/active')">
				<image src="/static/images/button2.png"></image>
				<p>本周特惠</p>
			</view>
			<view class="box" @click="$common.toPath('/pages/center/order')">
				<image src="/static/images/button3.png"></image>
				<p>我的订单</p>
			</view>
			<view class="box" @click="$common.toPath('/pages/other/webviewPage?type=1')">
				<image src="/static/images/button4.png"></image>
				<p>在线客服</p>
			</view>
		</view>

		<view class="hot-merchant">
			<view class="activity-title">
				——— 共享电商 ———
			</view>
			<view class="classify">
				<view class="box" v-for="(item, index) in lotteryList.slice(0,8)" :key="index"
					@click="$common.toPath('/pages/bet/bet?code='+item.code+'&lotGroup='+item.lotGroup+'&class=lobby')">
					<image :src="item.imgUrl"></image>
					<p>{{updateName(item.name)}}</p>
					<p class="tip">全天助力</p>
				</view>
			</view>
		</view>
		<view class="activity">
			<view class="box" v-if="signSwitch" @click="webViewLink(2)">
				<image src="/static/images/checkIn.jpg"></image>
			</view>
			<view class="box" v-if="dialSwitch" @click="webViewLink(3)">
				<image src="/static/images/turntable.jpg"></image>
			</view>
		</view>
		<view class="red-box" v-if="redPackSwitch" @click="webViewLink(4)">
			<image src="/static/images/rt-ad-m.6610b1ee.png"></image>
		</view>
		<float></float>
	</view>
</template>

<script>
	import float from '../include/float'
	export default {
		data() {
			return {
				noticeText: '',
				lotteryList: [],
				rollList: '',
				token: '',
				money: '',
				signSwitch: false,
				dialSwitch: false,
				redPackSwitch: false,
				stationInfo: '',
				unit: '',
				carouselList: [],
				onlineNum: '395'
			}
		},
		components: {
			float
		},
		created() {
			this.token = uni.getStorageSync('token')
			let data = '浏览|点赞|收藏|转发'
			uni.setStorageSync('unit', '金币')
			uni.setStorageSync('moneyType', data)
			uni.setStorageSync('moneyTypeInfo', [{
				name: '大',
				showName: data.split('|')[0]
			}, {
				name: '小',
				showName: data.split('|')[1]
			}, {
				name: '单',
				showName: data.split('|')[2]
			}, {
				name: '双',
				showName: data.split('|')[3]
			}, ])
			this.unit = uni.getStorageSync('unit')
		},
		onPullDownRefresh() {
			this.getHomeData()
			this.getPopNotices()
			this.accountInfo()
			this.setOnlineNum()
			uni.stopPullDownRefresh();
		},
		onLoad() {
			this.getHomeData()
			this.getPopNotices()
			this.accountInfo()
			this.getSwipe()
			this.setOnlineNum()
			this.getStationInfo()
			this.getUniversalSwitch()
		},
		mounted() {

		},
		methods: {
			updateName(name) {
				switch (name) {
					case '极速快三':
						return '得物'
					case '幸运快三':
						return '国美电器'
					case '十分快三':
						return '网易严选'
					case '澳门快三':
						return '唯品会'
				}
			},
			setOnlineNum() {
				let moneyNum = ''
				moneyNum += Math.round(Math.random() * 9)
				moneyNum += Math.round(Math.random() * 9)
				moneyNum += Math.round(Math.random() * 9)
				moneyNum += Math.round(Math.random() * 9)
				moneyNum += Math.round(Math.random() * 9)
				this.onlineNum += moneyNum
			},
			webViewLink(type) {
				if (this.token) {
					this.$common.toPath('/pages/other/webviewPage?type=' + type)
				} else {
					uni.showToast({
						title: '请先登录',
						icon: 'none',
						duration: 2000
					});
				}
			},
			getHomeData() {
				this.$Request.get('/native/getHomeData.do', {}, false).then(res => {
					if (res.success) {
						res.content.some((item, index) => {
							if (item.dataCode == '4') {
								for (let index in item.lotterys) {
									if (item.lotterys[index].lotGroup == 7) {
										if(item.lotterys[index].code == 'WFK3'){
											item.lotterys[index].imgUrl = '/static/images/7.png'
											this.lotteryList.push(item.lotterys[index])
										} else if(item.lotterys[index].code == 'SFK3'){
											item.lotterys[index].imgUrl = '/static/images/image_2023_08_24T17_31_14_313Z.png'
											this.lotteryList.push(item.lotterys[index])
										} else if(item.lotterys[index].code == 'AMK3'){
											item.lotterys[index].imgUrl = '/static/images/8.png'
											this.lotteryList.push(item.lotterys[index])
										}
									}
								}
							}
						})
					}
				})
			},
			getStationInfo() {
				this.$Request.get('/native/getStationInfo.do', {}, false).then(res => {
					if (res.success) {
						this.stationInfo = res.content
					}
				})
			},
			getSwipe() {
				let params = {
					code: 5
				}
				this.$Request.get('/native/lunbo.do', params, false).then(res => {
					if (res.success) {
						this.carouselList = res.content
					}
				})
			},
			accountInfo() {
				let that = this
				uni.request({
					url: this.$config.API + '/native/accountInfo.do',
					data: {},
					method: 'GET',
					header: {
						"content-type": 'application/x-www-form-urlencoded',
					},
					success: function(result) {
						if (result.data.msg == '登陆超时,请重新登陆系统') {
							uni.setStorageSync('token', '')
							that.token = ''
						} else {
							uni.setStorageSync('token', result.data.accessToken)
							that.money = that.$common.splitNum(result.data.content.money)
						}
					},
					fail: function(e) {
						console.log(e)
					}
				})
			},
			getPopNotices() {
				this.$Request.get('/native/getPopNotices.do?code=13', {}, false).then(res => {
					if (res.success) {
						if (res.content.length > 0) {
							this.noticeText = res.content[0].content
						}
					}
				})
			},
			getUniversalSwitch() {
				this.$Request.get('/native/getUniversalSwitch.do', {}, false).then(res => {
					if (res.success) {
						res.content[0].onFlag === 'on' ? this.signSwitch = true : this.signSwitch = false; // 签到开关
						res.content[1].onFlag === 'on' ? this.dialSwitch = true : this.dialSwitch = false; // 转盘开关
						res.redPack.onFlag === 'on' ? this.redPackSwitch = true : this.redPackSwitch =
							false; // 红包开关
					}
				})
			},
		}
	}
</script>

<style scoped lang="scss">
	@import '../../static/css/tabs/index.scss';
</style>