<template>
	<view class="personal">
		<view class="public_header" style="justify-content: center;padding-left: 0;">
			个人中心
		</view>
		<view class="header">
			<view class="info">
				<view class="left">
					<image :src="userInfo.headUrl || 'https://xb774.com/mobile/v3/images/touxiang.png'"></image>
				</view>
				<view class="right">
					<p>Hi~,{{userInfo.account}}</p>
					<p style="display: flex;align-items: center;">{{money}}{{unit}}<uni-icons type="refreshempty" size="20" @click="getMeminfo()" color="#ffffff"></uni-icons></p>
				</view>
			</view>
		</view>
		<view class="money-operate">
			<view class="box" @click="$common.toPath('/pages/other/webviewPage?type=5')"><image src="/static/images/cz.png"></image>购币</view>
			<view class="box" @click="withdraw()"><image src="/static/images/tx.png"></image>回款</view>
		</view>
		<view class="menu">
			<view class="list" v-for="(item,index) in menuList" :key="index" @click="$common.toPath(item.path)">
				<span><image :src="item.icon"></image>{{item.label}}</span>
				<span><uni-icons type="forward" size="20"></uni-icons></span>
			</view>
			<!-- <view class="list" @click="$common.toPath('/pages/daili/menu')" v-if="userInfo.accountType == 4"> -->
			<view class="list" @click="$common.toPath('/pages/daili/menu')"> 
				<span><image src="/static/images/agentsystem.png"></image>首席系统</span>
				<span><uni-icons type="forward" size="20"></uni-icons></span>
			</view>
		</view>
		<view class="go-out">
			<button @click="goOut()">退出登录</button>
		</view>
		<u-modal :show="setPassShow" @confirm="confirm(1)" @cancel="setPassShow = false" title="提示"
			content='您还未设置资金密码，是否现在设置？' showCancelButton></u-modal>
		<u-modal :show="bindBankShow" @confirm="confirm(2)" @cancel="bindBankShow = false" title="提示"
			content='您还未绑定收货地址，是否现在绑定？' showCancelButton></u-modal>
	</view>
</template>

<script>
	export default {
		name: "personal",
		data() {
			return {
				money: '',
				userInfo: '',
				unit: '',
				setPassShow: false,
				bindBankShow: false,
				menuList: [{
						label: '变动记录',
						icon: '/static/images/czjl.png',
						path: '/pages/center/mnyrecord'
					},
					{
						label: '购单记录',
						icon: '/static/images/txjl.png',
						path: '/pages/center/accountDetails'
					},
					{
						label: '订单记录',
						icon: '/static/images/tzjl.png',
						path: '/pages/center/order'
					},{
						label: '积分兑换',
						icon: '/static/images/i_quickYHHD.png',
						path: '/pages/center/scoreChange'
					},{
						label: '我的消息',
						icon: '/static/images/message.png',
						path: '/pages/center/message'
					},
					{
						label: '收货地址',
						icon: '/static/images/bank.png',
						path: '/pages/center/address'
					},
					{
						label: '登录密码',
						icon: '/static/images/password.png',
						path: '/pages/center/password?type=1'
					},
					{
						label: '资金密码',
						icon: '/static/images/password.png',
						path: '/pages/center/password?type=2'
					},
					{
						label: '钱包地址',
						icon: '/static/images/donate.png',
						path: '/pages/center/usdtAddress'
					},
					{
						label: '专属客服',
						icon: '/static/images/info.png',
						path: '/pages/other/webviewPage?type=1'
					}
				],
			}
		},
		created() {
			this.accountInfo()
			this.unit = uni.getStorageSync('unit')
		},
		onLoad() {

		},
		onPullDownRefresh() {
			this.accountInfo()
		},
		methods: {
			accountInfo() {
				uni.showLoading();
				this.$Request.get('/native/accountInfo.do', {}, true).then(res => {
					if (res.success) {
						uni.setStorageSync('token', res.accessToken)
						this.userInfo = res.content
						uni.setStorageSync('userInfo', res.content)
						this.money = this.$common.splitNum(res.content.money)
					} else {
						uni.setStorageSync('token', '')
						uni.setStorageSync('userInfo', '')
						this.token = ''
						this.$common.toPath('/pages/login/login')
					}
					uni.stopPullDownRefresh();
					uni.hideLoading()
				})
			},
			getMeminfo() {
				this.$Request.get('/native/meminfo.do', {}, true).then(res => {
					if (res.success) {
						if (res.content.balance != 0) {
							this.money = this.$common.splitNum(res.content.balance)
						}
					}
				})
			},
			goOut() {
				this.$Request.get('/native/logout.do', {}, true).then(res => {
					if (res.success) {
						uni.showToast({
							title: '退出成功',
							icon: 'none',
							duration: 2000
						});
						uni.setStorageSync('token', '')
						uni.setStorageSync("username", false);
						uni.setStorageSync("password", false);
						setTimeout(() => {
							uni.reLaunch({
								url: '/pages/tabs/index',
							})
						}, 2000)
					}
				})
			},
			withdraw() {
				if (!this.userInfo.receiptPwd && !this.set_receipt_pwd && this.userInfo !== '') { //提款密码
					this.setPassShow = true
				} else if (this.userInfo.cardNo === '' && this.userInfo.walletAddress === '') { //卡号
					this.bindBankShow = true
				} else {
					this.$common.toPath('/pages/center/withdraw')
				}
			},
			confirm(type) {
				if (type == 1) {
					this.$common.toPath('/pages/center/password?type=2')
				} else {
					this.$common.toPath('/pages/center/bindCard')
				}
			},
			toOrder() {
				uni.reLaunch({
					url: '/pages/tabs/order',
				})
			},
		}
	}
</script>

<style lang="scss">
	@import '../../static/css/tabs/personal.scss';
</style>