<template>
	<view class="shop">
		<view class="status_bar"></view>
		<view class="public_header" style="justify-content: center;padding-left: 0;">全部商品</view>
		<!-- <view class="hot-merchant">
			<view class="activity-title">
				——— 共享电商 ———
			</view>
			<view class="classify">
				<view class="middle" v-for="(item, index) in lotteryList" :key="index"@click="$common.toPath('/pages/bet/bet?code='+item.code+'&lotGroup='+item.lotGroup+'&class=lobby')">
					<view class="box">
						<image :src="item.imgUrl"></image>
						<p>{{updateName(item.name)}}</p>
						<p class="tip">全天助力</p>
					</view>
				</view>
			</view>
		</view> -->
		<view class="webview-box">
			<web-view ref="webview" class="webview" src="/mobile/v3/turnlate.do?type=app"></web-view>
		</view>
	</view>
</template>

<script>
	export default {
		name: "shop",
		data() {
			return {
				lotteryList: [],
			}
		},
		created() {
			this.getHomeData()
		},
		onLoad() {},
		onPullDownRefresh() {
			// this.getHomeData()
		},
		methods: {
			updateName(name) {
				switch (name) {
					case '极速快三':
						return '得物'
					case '幸运快三':
						return '国美电器'
					case '十分快三':
						return '网易严选'
					case '澳门快三':
						return '唯品会'
				}
			},
			getHomeData() {
				this.$Request.get('/native/getHomeData.do', {}, false).then(res => {
					if (res.success) {
						res.content.some((item, index) => {
							if (item.dataCode == '4') {
								for(let index in item.lotterys){
									if(item.lotterys[index].lotGroup == 7){
										if (item.lotterys[index].lotGroup == 7) {
											if(item.lotterys[index].code == 'WFK3'){
												item.lotterys[index].imgUrl = '/static/images/7.png'
												this.lotteryList.push(item.lotterys[index])
											} else if(item.lotterys[index].code == 'SFK3'){
												item.lotterys[index].imgUrl = '/static/images/image_2023_08_24T17_31_14_313Z.png'
												this.lotteryList.push(item.lotterys[index])
											} else if(item.lotterys[index].code == 'AMK3'){
												item.lotterys[index].imgUrl = '/static/images/8.png'
												this.lotteryList.push(item.lotterys[index])
											}
										}
									}
								}
							}
						})
					}
					uni.stopPullDownRefresh();
				})
			},
			toBet(item){
				this.$common.toPath('/pages/bet/bet?code='+item.code+'&lotGroup='+item.lotGroup+'&class=lobby')
			},
		}
	}
</script>

<style lang="scss">
	@import '../../static/css/tabs/shop.scss';
	.webview-box {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 100rpx;
	
		.webview {
			width: 100%;
			height: 100%;
		}
	}
</style>