<template>
  <header class="common_header">
    <div class="header">
      <a href="javascript:void(0)" @click="back">
        <van-icon name="arrow-left" size="2rem"/>
        <span class="bark">{{$t('personal_header[0].label')}}</span>
      </a>
      <span class="title">{{ headerData.title }}</span>
      <span class="filter" @click="show.popupw =!show.popupw">{{$t('personal_header[1].label')}}</span>
    </div>
    <div class="common_content">
      <van-popup v-model="show.popupw" position="top" :style="{ height:headerData.popupHeight,top:'4.6rem'}" >
        <van-cell-group>
          <van-field v-model="params.startTimeReveal" :label="$t('personal_header[2].label')"  right-icon="notes-o" :placeholder="$t('personal_header[4].label')" @click="show.startTimeW =  true" color="red"/>
          <van-field v-model="params.endTimeReveal" :label="$t('personal_header[3].label')"  right-icon="notes-o" :placeholder="$t('personal_header[5].label')" @click="show.endTimeW = true"/>
          <template v-if="headerData.filter == 'isCpOnOff'">
            <van-field readonly clickable name="picker" :value="params.codeReveal" :right-icon="show.letteryW? 'arrow-up' : 'arrow-down'" :label="$t('personal_header[7].label')" :placeholder="$t('personal_header[8].label')" @click="show.letteryW = true" />
            <van-field readonly clickable v-model="params.statusReveal" :label="$t('personal_header[6].label')"  :right-icon="show.statusW ? 'arrow-up' : 'arrow-down'" :placeholder="$t('personal_header[9].label')" @click="show.statusW = true"/>
          </template>
          <template v-else-if="headerData.filter == 'isLhcOnOff'">
            <van-field readonly clickable v-model="params.statusReveal" :label="$t('personal_header[6].label')"  :right-icon="show.statusW ? 'arrow-up' : 'arrow-down'" :placeholder="$t('personal_header[9].label')" @click="show.statusW = true"/>
            <van-field readonly clickable name="picker" :value="'六合彩'"  :label="$t('personal_header[7].label')" :placeholder="$t('personal_header[8].label')" />
          </template>
          <template v-else-if="headerData.filter == 'isChangeMoney'">
            <van-field readonly clickable v-model="params.typeReveal" :label="$t('personal_header[10].label')"  :right-icon="show.statusW ? 'arrow-up' : 'arrow-down'" :placeholder="$t('personal_header[11].label')" @click="show.statusW = true"/>
          </template>
          <template v-else-if="headerData.filter == 'accountDetails'">
            <van-field readonly clickable v-model="params.aTypeReveal" :label="$t('personal_header[10].label')"  :right-icon="show.aType ? 'arrow-up' : 'arrow-down'" :placeholder="$t('personal_header[12].label')" @click="show.aType = true"/>
            <van-field readonly clickable v-model="params.aTtypeReveal" :label="$t('personal_header[13].label')"  :right-icon="show.aTtype ? 'arrow-up' : 'arrow-down'" :placeholder="$t('personal_header[1].label')" @click="show.aTtype = true"/>
            <van-field readonly clickable v-model="params.aStatusReveal" :label="$t('personal_header[14].label')"  :right-icon="show.aStatus ? 'arrow-up' : 'arrow-down'" :placeholder="$t('personal_header[11].label')" @click="show.aStatus = true"/>
          </template>
          <template v-else-if="headerData.filter == 'isBackWater'">
            <van-field readonly clickable v-model="params.backWaterTypeReveal" :label="$t('personal_header[6].label')"  :right-icon="show.statusW ? 'arrow-up' : 'arrow-down'" :placeholder="$t('personal_header[9].label')" @click="show.backWaterType = true"/>
          </template>
          <template v-else-if="headerData.filter == 'isTurnlate'">
            <van-field readonly clickable v-model="params.awardRecordStatusReveal" :label="$t('personal_header[6].label')"  :right-icon="show.awardRecordStatus ? 'arrow-up' : 'arrow-down'" :placeholder="$t('personal_header[9].label')" @click="show.awardRecordStatus = true"/>
          </template>
          <template v-else-if="headerData.filter == 'isChessOnOff'">
            <van-field readonly clickable v-model="params.chessRecordReveal" :label="$t('personal_header[25].label')"  :right-icon="show.chessRecord ? 'arrow-up' : 'arrow-down'" :placeholder="$t('personal_header[15].label')" @click="show.chessRecord = true"/>
          </template>
          <template v-else-if="headerData.filter == 'isRealOnOff'">
            <van-field readonly clickable v-model="params.liveRecordReveal" :label="$t('personal_header[25].label')"  :right-icon="show.liveRecord ? 'arrow-up' : 'arrow-down'" :placeholder="$t('personal_header[15].label')" @click="show.liveRecord = true"/>
          </template>
          <template v-else-if="headerData.filter == 'isDzOnOff'">
            <van-field readonly clickable v-model="params.egameRecordReveal" :label="$t('personal_header[25].label')"  :right-icon="show.egameRecord ? 'arrow-up' : 'arrow-down'" :placeholder="$t('personal_header[15].label')" @click="show.egameRecord = true"/>
          </template>
          <template v-else-if="headerData.filter == 'isTlOnOff'">
            <van-field readonly clickable v-model="params.letteryThirdReveal" :label="$t('personal_header[25].label')"  :right-icon="show.letteryThird ? 'arrow-up' : 'arrow-down'" :placeholder="$t('personal_header[15].label')" @click="show.letteryThird = true"/>
          </template>
        </van-cell-group>
        <van-button color="#ec2829"  block :loading="false" class="filter-query" @click="query">$t('personal_header[16].label')</van-button>
      </van-popup>
      <div class="filter-content-time">
        <van-calendar v-model="show.startTimeW" @confirm="startTimerConfirm" :min-date="minData"/>
        <van-calendar v-model="show.endTimeW" @confirm="endTimeConfirm" />
      </div>
      <template v-if="headerData.filter == 'isCpOnOff'">
        <van-popup v-model="show.letteryW" position="bottom" >
          <van-picker show-toolbar :columns="columns.lottery.name" @confirm="letteryConfirm" @cancel="show.letteryW = false"/>
        </van-popup>
        <van-popup v-model="show.statusW" position="bottom" >
          <van-picker show-toolbar :columns="columns.status.name" @confirm="statusConfirm" @cancel="show.statusW = false"/>
        </van-popup>
      </template>
      <template v-else-if="headerData.filter == 'isLhcOnOff'">
        <van-popup v-model="show.statusW" position="bottom" >
          <van-picker show-toolbar :columns="columns.status.name" @confirm="statusConfirm" @cancel="show.statusW = false"/>
        </van-popup>
      </template>
      <template v-else-if="headerData.filter == 'isChangeMoney'">
        <van-popup v-model="show.statusW" position="bottom" >
          <van-picker show-toolbar :columns="columns.type.name" @confirm="isChangeMoneyStatus" @cancel="show.statusW = false"/>
        </van-popup>
      </template>
      <template v-else-if="headerData.filter == 'accountDetails'">
<!--        //账户类型-->
        <van-popup v-model="show.aType" position="bottom">
          <van-picker show-toolbar :columns="columns.aType.name" @confirm="isChangeAType" @cancel="show.aType = false"/>
        </van-popup>
<!--        交易类型-->
        <van-popup v-model="show.aTtype" position="bottom">
          <van-picker show-toolbar :columns="columns.aTtype.name" @confirm="isChangeaTtype" @cancel="show.aTtype = false"/>
        </van-popup>
<!--        处理状态-->
        <van-popup v-model="show.aStatus" position="bottom">
          <van-picker show-toolbar :columns="columns.aStatus.name" @confirm="isChangeaStatus" @cancel="show.aStatus = false"/>
        </van-popup>
      </template>
      <template v-else-if="headerData.filter == 'isBackWater'">
        <van-popup v-model="show.backWaterType" position="bottom">
          <van-picker show-toolbar :columns="columns.backWaterType.name" @confirm="isChangeaBackWaterType" @cancel="show.backWaterType = false"/>
        </van-popup>
      </template>
      <template v-else-if="headerData.filter == 'isTurnlate'">
        <van-popup v-model="show.awardRecordStatus" position="bottom">
          <van-picker show-toolbar :columns="columns.awardRecordStatus.name" @confirm="isChangeRecordStatus" @cancel="show.awardRecordStatus = false"/>
        </van-popup>
      </template>
      <template v-else-if="headerData.filter == 'isChessOnOff'">
        <van-popup v-model="show.chessRecord" position="bottom">
          <van-picker show-toolbar :columns="columns.chessRecord.name" @confirm="isChangeChessRecord" @cancel="show.chessRecord = false"/>
        </van-popup>
      </template>
      <template v-else-if="headerData.filter == 'isRealOnOff'">
        <van-popup v-model="show.liveRecord" position="bottom">
          <van-picker show-toolbar :columns="columns.liveRecord.name" @confirm="isChangeLiveRecord" @cancel="show.liveRecord = false"/>
        </van-popup>
      </template>
      <template v-else-if="headerData.filter == 'isDzOnOff'">
        <van-popup v-model="show.egameRecord" position="bottom">
          <van-picker show-toolbar :columns="columns.egameRecord.name" @confirm="isChangeEgameRecord" @cancel="show.egameRecord = false"/>
        </van-popup>
      </template>
      <template v-else-if="headerData.filter == 'isTlOnOff'">
        <van-popup v-model="show.letteryThird" position="bottom">
          <van-picker show-toolbar :columns="columns.letteryThird.name" @confirm="isChangeLetteryThird" @cancel="show.letteryThird = false"/>
        </van-popup>
      </template>
    </div>
  </header>
</template>

<script>
import '@/assets/css/include/header.less'
import {Dialog} from "vant";

export default {
  name: "personal_header",
  components:{
    // "van-dialog": Dialog.Component,
  },
  props:{
    headerData:{type:Object,default:()=>{return {title: this.$t('personal_header[17].label'),filter:'isCpOnOff',popupHeight:'22.1rem'}}}
  },
  data(){
    return{
      show:{
        popupw:false,
        startTimeW:false,
        endTimeW:false,
        letteryW:false,
        statusW:false,
        type:false,
        aType:false,
        aTtype:false,
        aStatus:false,
        backWaterType:false,
        awardRecordStatus:false,
        chessRecord:false,
        liveRecord:false,
        egameRecord:false,
        letteryThird:false
      },
      columns:{
        status: {
          name:[this.$t('personal_header[11].label'),this.$t('status[0].label'),this.$t('status[1].label'),this.$t('status[2].label'),this.$t('status[3].label')],
          value:['',1,2,3,4]
        },
        lottery:{
          value:[''],
          name:[this.$t('personal_header[18].label')],
        },
        type:{
          name:[this.$t('personal_header[11].label'),this.$t('money_type[0].label'),this.$t('money_type[1].label'),this.$t('money_type[2].label'),this.$t('money_type[3].label'),this.$t('money_type[4].label'),
            this.$t('money_type[5].label'),this.$t('money_type[6].label'),this.$t('money_type[7].label'),this.$t('money_type[8].label'),this.$t('money_type[9].label'),this.$t('money_type[10].label'),
            this.$t('money_type[11].label'),this.$t('money_type[12].label'),this.$t('money_type[13].label'),this.$t('money_type[14].label'),this.$t('money_type[15].label'),this.$t('money_type[16].label'),
            this.$t('money_type[17].label'),this.$t('money_type[18].label'),this.$t('money_type[19].label'),this.$t('money_type[20].label'),this.$t('money_type[21].label'),this.$t('money_type[22].label'),
            this.$t('money_type[23].label'),this.$t('money_type[24].label'),this.$t('money_type[25].label'),this.$t('money_type[26].label'),this.$t('money_type[27].label'),this.$t('money_type[28].label'),
            this.$t('money_type[29].label'),this.$t('money_type[30].label'),this.$t('money_type[31label'),this.$t('money_type[32].label'),this.$t('money_type[33].label'),this.$t('money_type[34].label'),
            this.$t('money_type[35].label'),this.$t('money_type[36].label'),this.$t('money_type[37].label'),this.$t('money_type[38].label'),this.$t('money_type[39].label'),this.$t('money_type[40].label'),
            this.$t('money_type[41].label'),this.$t('money_type[42].label'),this.$t('money_type[43].label'),this.$t('money_type[44].label'),this.$t('money_type[45].label'),this.$t('money_type[46].label'),
            this.$t('money_type[47].label'),this.$t('money_type[48].label'),this.$t('money_type[49].label'),this.$t('money_type[50].label')],
          value:['',1,2,3,4,5,6,7,9,10,11,12,13,14,113,15,16,87,88,55,54,78,79,80,201,202,203,204,130,131,132,133,134,135,136,137,139,138,140,141,142,143,18,19,20,17,1130,1131,168,169,170,23]
        },
        aType:{
          name:[this.$t('personal_header[20].label'),this.$t('money_type[51].label')],
          value:[1,2],
        },
        aTtype:{
          name:[this.$t('personal_header[11].label'),this.$t('money_type[52].label'),this.$t('money_type[5].label'),this.$t('money_type[53].label')],
          value:['',5,6,7],
        },
        aStatus:{
          name:[this.$t('personal_header[11].label'),this.$t('status[4].label'),this.$t('status[5].label'),this.$t('status[6].label')],
          value:['',1,2,3],
        },
        backWaterType:{
          name:[this.$t('personal_header[11].label'),this.$t('status[7].label'),this.$t('status[8].label')],
          value:['',9,4]
        },
        awardRecordStatus:{
          name:[this.$t('personal_header[11].label'),this.$t('status[7].label'),this.$t('status[10].label'),this.$t('status[11].label')],
          value:['',1,2,3]
        },
        chessRecord:{
          name:[this.$t('status[12].label')],
          value:[0]
        },
        liveRecord:{
          name:[this.$t('status[12].label')],
          value:[0]
        },
        egameRecord:{
          name:[this.$t('status[12].label')],
          value:[0]
        },
        letteryThird:{
          name:[this.$t('personal_header[15].label'),'AG','BBIN','MG','ALLBET','OG','DS','KY','BG','VR'],
          value:[0,1,2,3,5,7,8,12,98,97]
        }
      },
      params:{
        startTime:'',
        endTime:'',
        startTimeReveal:'',
        endTimeReveal:'',
        codeReveal:this.$t('personal_header[18].label'),
        statusReveal:this.$t('personal_header[19].label'),
        code:'',
        status:'',
        typeReveal:this.$t('personal_header[11].label'),
        type:'',
        aTypeReveal:this.$t('personal_header[20].label'),
        aTtypeReveal:this.$t('personal_header[11].label'),
        aStatusReveal:this.$t('personal_header[11].label'),
        aType:1,
        aTtype:'',
        aStatus:'',
        backWaterTypeReveal:this.$t('personal_header[11].label'),
        backWaterType:'',
        awardRecordStatusReveal:this.$t('personal_header[11].label'),
        awardRecordStatus:'',
        chessRecordReveal:this.$t('status[12].label'),
        chessRecord:0,
        liveRecordReveal:this.$t('status[12].label'),
        liveRecord:0,
        egameRecordReveal:this.$t('status[12].label'),
        egameRecord:0,
        letteryThirdReveal:this.$t('status[12].label'),
        letteryThird:0,
      },
      lotteryList:{},
      popupShow:false,
      date:'',
      minData:new Date(2017, 0, 1),
      value1:1,
      value:88888,
      showPicker:false,
      option: [
        { text: this.$t('personal_header[21].label'), value: 0 },
        { text: this.$t('personal_header[22].label'), value: 1 },
        { text: this.$t('personal_header[23].label'), value: 2 },
      ],
      floder: this.$store.state.stationInfo.content.station.floder || 'x002',
    }
  },
  created() {
    if (this.headerData.filter == 'isCpOnOff'){
      this.getLotteryList()
    }
    if (this.headerData.filter == 'isChangeMoney'){
      this.getMnyrecordType()
    }

    if (this.headerData.filter == 'isChessOnOff'){
      this.getDatasBesidesLotterys(3)
    }else if (this.headerData.filter == 'isRealOnOff'){
      this.getDatasBesidesLotterys(1)
    }else if (this.headerData.filter == 'isDzOnOff'){
      this.getDatasBesidesLotterys(2)
    }
  },
  mounted() {
    //初始化时间
    let strTime = String(this.$root.common.Format())
    this.params.startTimeReveal = strTime.substring(0,4) + '/' +strTime.substring(4,6) + '/' + strTime.substring(6,8)
    this.params.startTime = strTime.substring(0,4) + '-' +strTime.substring(4,6) + '-' + strTime.substring(6,8) + ' '+'00:00:00'
    this.params.endTimeReveal = strTime.substring(0,4) + '/' +strTime.substring(4,6) + '/' + strTime.substring(6,8)
    this.params.endTime = strTime.substring(0,4) + '-' +strTime.substring(4,6) + '-' + strTime.substring(6,8) + ' '+'23:59:59'
    this.query()
  },
  methods:{
    //返回上一页
    back(){
      if (this.$route.query.lottery == 'lottery'){
        this.$router.go(-1)
      }else {
        this.$router.push('/personal')
      }
    },
    //选择彩种
    letteryConfirm(data){
      this.show.letteryW = false
      this.params.codeReveal = data
      this.columns.lottery.name.some((item,index)=>{
        if (item == data){
          this.params.code = this.columns.lottery.value[index]
        }
      })
    },
    //选择订单状态
    statusConfirm(data){
      this.show.statusW = false
      this.params.statusReveal = data
      this.columns.status.name.some((item,index)=>{
        if (item == data){
          this.params.status = this.columns.status.value[index]
        }
      })
    },
    //选择开始时间
    startTimerConfirm(data){
      this.show.startTimeW = false
      let strTime = String(this.$root.common.Format(data))
      this.params.startTimeReveal = strTime.substring(0,4) + '/' +strTime.substring(4,6) + '/' + strTime.substring(6,8)
      this.params.startTime = strTime.substring(0,4) + '-' +strTime.substring(4,6) + '-' + strTime.substring(6,8) + ' '+'00:00:00'
    },
    //选择结束时间
    endTimeConfirm(data){
      this.show.endTimeW = false
      let strTime = String(this.$root.common.Format(data))
      this.params.endTimeReveal = strTime.substring(0,4) + '/' +strTime.substring(4,6) + '/' + strTime.substring(6,8)
      this.params.endTime = strTime.substring(0,4) + '-' +strTime.substring(4,6) + '-' + strTime.substring(6,8) + ' '+'23:59:59'
    },
    //账户明细的信息
    isChangeAType(data){
      this.show.aType = false
      this.params.aTypeReveal = data;
      this.columns.aType.name.some((item,index)=>{
        if (item == data){
          this.params.aType = this.columns.aType.value[index]
        }
      })
    },
    //反水记录状态
    isChangeaBackWaterType(data){
      this.show.backWaterType = false
      this.params.backWaterTypeReveal = data;
      this.columns.backWaterType.name.some((item,index)=>{
        if (item == data){
          this.params.backWaterType = this.columns.backWaterType.value[index]
        }
      })
    },
    //中奖记录
    isChangeRecordStatus(data){
      this.show.awardRecordStatus = false
      this.params.awardRecordStatusReveal = data;
      this.columns.awardRecordStatus.name.some((item,index)=>{
        if (item == data){
          this.params.awardRecordStatus = this.columns.awardRecordStatus.value[index]
        }
      })
    },
    //棋牌投注记录
    isChangeChessRecord(data){
      this.show.chessRecord = false
      this.params.chessRecordReveal = data
      this.columns.chessRecord.name.some((item,index)=>{
        if (item == data){
          this.params.chessRecord = this.columns.chessRecord.value[index]
        }
      })
    },
    //真人投注记录
    isChangeLiveRecord(data){
      this.show.liveRecord = false
      this.params.liveRecordReveal = data
      this.columns.liveRecord.name.some((item,index)=>{
        if (item == data){
          this.params.liveRecord = this.columns.liveRecord.value[index]
        }
      })
    },
    //电子投注记录
    isChangeEgameRecord(data){
      this.show.egameRecord = false
      this.params.egameRecordReveal = data
      this.columns.egameRecord.name.some((item,index)=>{
        if (item == data){
          this.params.egameRecord = this.columns.egameRecord.value[index]
        }
      })
    },
    //第三方彩票
    isChangeLetteryThird(data){
      this.show.letteryThird = false
      this.params.letteryThirdReveal = data
      this.columns.letteryThird.name.some((item,index)=>{
        if (item == data){
          this.params.letteryThird = this.columns.letteryThird.value[index]
        }
      })
    },
    isChangeaTtype(data){
      this.show.aTtype = false
      this.params.aTtypeReveal = data;
      this.columns.aTtype.name.some((item,index)=>{
        if (item == data){
          this.params.aTtype = this.columns.aTtype.value[index]
        }
      })
    },
    isChangeaStatus(data){
      this.show.aStatus = false
      this.params.aStatusReveal = data;
      this.columns.aStatus.name.some((item,index)=>{
        if (item == data){
          this.params.aStatus = this.columns.aStatus.value[index]
        }
      })
    },
    //彩种信息
    getLotteryList(){
      let that = this
      this.$post('native/getLotteryList.do',{},true).then(res=>{
        this.lotteryList = res
        if ('isLogin' in res && res.isLogin == false){
            Dialog.alert({
              title: that.$t('personal_header[24].label'),
              message: res.msg
            }).then(() => {
              this.$router.push({
                path: '/login',
              })
            });
          return
        }
        this.lotteryList.bcList.map(item=>{
          this.columns.lottery.name.push(item.name)
          this.columns.lottery.value.push(item.code)
        })
      })
    },
    //棋牌分类信息
    getDatasBesidesLotterys(code){
      this.$fetch('native/getDatasBesidesLotterys.do',{code:code},true).then(res=>{
        if (res.success){
          if (this.headerData.filter == 'isChessOnOff'){
            res.content.some((item)=>{
              this.columns.chessRecord.name.push(item.title)
              this.columns.chessRecord.value.push(item.platformId)
            })
            return
          }else if (this.headerData.filter == 'isRealOnOff'){
            res.content.some((item)=>{
              this.columns.liveRecord.name.push(item.title)
              this.columns.liveRecord.value.push(item.platformId)
            })
            return
          } else if (this.headerData.filter == 'isDzOnOff'){
            res.content.some((item)=>{
              this.columns.egameRecord.name.push(item.title)
              this.columns.egameRecord.value.push(item.platformId)
            })
            return

          }
        }
      })
    },
    //查询
    query(){
      if (this.headerData.filter == 'isLhcOnOff') {
        this.params.code = 'LHC'
      }
      this.$emit('get_lottery_order',this.params)
      this.show.popupw = false
    },
    //用户张变信息
    isChangeMoneyStatus(data){
      this.show.statusW = false
      this.params.typeReveal = data
      this.columns.type.name.some((item,index)=>{
        if (item == data){
          this.params.type = this.columns.type.value[index]

          return true
        }
      })
    },
    //获取张变类型
    getMnyrecordType(){
      let that = this
      this.$post('native/getMnyrecordType.do','',false).then(res=>{
        if (res){
          this.columns.type.value = ['']
          this.columns.type.name =[that.$t('personal_header[11].label')]
          for (let key in res){
            this.columns.type.value.push(key)
            this.columns.type.name.push(res[key])
          }
          console.log(this.columns.type)
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
