<template>
  <div class="help">
    <div class="header">
      <img class="out" src="@/assets/images/out_icon.png" alt="" @click="$router.back();">
      {{$t('关于我们')}}
    </div>
    <div class="menu">
      <div class="box-list">
        <div class="box" v-for="(item, index) in dataList" :key="index" @click="$root.common.toPath('/helpDetail',{content:item.content,title:item.title})">
          <div class="img"><img :src="require('@/assets/images/about_icon'+(index+1)+'.png')" alt=""></div>
          <div class="font" v-if="lang == 'zh'">{{item.title}}</div>
          <div class="font" v-if="lang == 'en'">{{item.title2}}</div>
          <div class="font" v-if="lang == 'tn'">{{item.title3}}</div>
          <div class="font" v-if="lang == 'vn'">{{item.title4}}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import "@/assets/css/tabs/help.less"
import {Toast} from "vant";

export default {
  name: "orderDetail",
  data() {
    return {
      dataList:[],
      lang:localStorage.getItem('locale') || 'zh',
    }
  },
  created() {
    this.getAbout()
  },
  mounted() {
    console.log(this.lang)
  },
  methods: {
    getAbout: function () {
      this.$fetch('About/index', {}).then(res => {
        if (res.status == 200) {
          this.dataList = res.data
          for(let index in this.dataList){
            if(this.lang == 'en'){
              this.dataList[index].content = this.dataList[index].content2
            } else if(this.lang == 'tn'){
              this.dataList[index].content = this.dataList[index].content3
            } else if(this.lang == 'vn'){
              this.dataList[index].content = this.dataList[index].content4
            }
          }
        } else {
          Toast(res.msg)
        }
      })
    }
  }
}
</script>

<style scoped>

</style>