<template>
  <div class="index">
    <page_foot></page_foot>
    <div class="set">
      <van-icon name="setting-o" size="20px" @click="$root.common.toPath('/language')" />
    </div>
    <div class="swipe">
      <van-swipe class="my-swipe" :autoplay="3000" indicator-color="white">
        <van-swipe-item v-for="(item, index) in swipeList" :key="index">
          <img :src="'http://45.207.38.223:86/Public/uploads/item/'+item.path">
        </van-swipe-item>
      </van-swipe>
    </div>
    <div class="new_people_box">
      <div class="lf_bg"></div>
      <div class="pt_bg"></div>
      <div class="list">
        <div class="one" @click="$root.common.toPath('/newwalfare')">{{$t('新人福利')}}</div>
        <div class="two" @click="$root.common.toPath('/financial')">
          {{$t('新人专享省钱计划')}}
          <img src="@/assets/images/xinren.jpeg" alt="">
        </div>
        <div class="three" @click="$root.common.toPath('/newtask')">{{$t('新人任务')}}</div>
      </div>
    </div>
    <div class="menu">
      <div class="box-list">
        <div class="box" v-for="(item, index) in indexList" :key="index" @click="$root.common.toPath('/financial',{title:item.name,id:item.id})">
          <div class="img"><img :src="'http://45.207.38.223:86/Public/uploads/item/'+item.img2" alt=""></div>
          <div class="font">{{item.name}}</div>
        </div>
      </div>
    </div>
    <div class="vip_box">
      <div class="box">
        <div class="vip_tit">{{$t('礼品推荐')}}</div>
        <div class="vip_tips">{{$t('更多惊喜 更多优惠')}}</div>
        <div class="vip_bg"></div>
        <div class="img" style="width: 73px;height: 68px;position: absolute;right: 10px;top: 10px;">
          <img src="@/assets/images/xiangzhuan.jpeg" alt="" style="width: 100%;height: 100%;">
        </div>
      </div>
    </div>
    <div class="recom_box">
      <div class="box">
        <div class="item_tit">{{$t('热门推荐')}}</div>
        <div class="item_list">
          <div class="list" v-for="(item, index) in orderList" :key="index" @click="$root.common.toPath('/productDetail',{id:item.id})">
            <div class="left">
              <img :src="'http://45.207.38.223:86/Public/uploads/item/'+item.img" alt="">
            </div>
            <div class="right">
              <div class="title" v-if="lang == 'zh'">{{item.title}}</div>
              <div class="title" v-if="lang == 'en'">{{item.title2}}</div>
              <div class="title" v-if="lang == 'tn'">{{item.title3}}</div>
              <div class="title" v-if="lang == 'vn'">{{item.title4}}</div>
              <div class="price"><span style="color: #f03041;font-weight: 600;">{{$t('进货价')}} {{$store.state.moneyUnit[lang]}}{{item.min}}</span><span style="color: rgba(0,0,0,.6)">{{$t('贩卖周期')}}：{{item.day}}{{$t('天')}}</span></div>
              <div class="num">{{$t('每日利润')}}<span>{{item.rate * 10}}</span>{{$t('元')}}，{{$t('合计')}}<span>{{item.day * item.rate * 10}}</span>{{$t('元')}}</div>
              <div class="line"><div class="line2" style="width: 50%"></div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/tabs/index.less'
import page_foot from '@/components/include/page_foot'
import {Toast} from "vant";
export default {
  name: "index",
  components:{
    page_foot
  },
  data() {
    return {
      indexList:[],
      orderList:[],
      swipeList:[],
      lang:localStorage.getItem('locale') || 'zh',
    }
  },
  created() {
    this.getIndexList()
    this.getOrderList()
    this.getUserInfo()
  },
  mounted() {
  },
  methods:{
    getUserInfo: function () {
      if(this.$store.state.userInfo){
        this.userInfo = this.$store.state.userInfo
        console.log(this.userInfo)
      } else {
        this.$fetch('user/index', {}).then(res => {
          if (res.status == 200) {
            this.userInfo = res.data
            this.$store.commit('pushUserInfo',res.data)
          } else {
            Toast(res.msg)
          }
        })
      }
    },
    getIndexList: function () {
      this.$fetch('index/index', {}).then(res => {
        if (res.status == 200) {
          this.indexList = res.data.item
          this.swipeList = res.data.slide
          for(let index in this.indexList){
            if(this.lang == 'en'){
              this.indexList[index].name = this.indexList[index].name2
            } else if(this.lang == 'tn'){
              this.indexList[index].name = this.indexList[index].name3
            } else if(this.lang == 'vn'){
              this.indexList[index].name = this.indexList[index].name4
            }
          }
          this.$store.commit('pushServiceUrl',res.data.service)
          this.$store.commit('pushAppUrl',res.data.app)
        } else {
          Toast(res.msg)
        }
      })
    },
    getOrderList: function () {
      this.$fetch('Product/index', {}).then(res => {
        if (res.status == 200) {
          this.orderList = res.data.items
        } else {
          Toast(res.msg)
        }
      })
    },
  },
}
</script>

<style >

</style>