<template>
  <div class="order">
    <div class="header">
      <div class="title">{{$t('贩卖订单')}}</div>
      <img class="out" src="@/assets/images/out_icon.png" alt="" @click="$router.back();">
      <div><p>{{$store.state.moneyUnit[lang]}}{{orderData.principal_pending}}</p>
        <p>{{$t('待收本金')}}</p></div>
      <div><p>{{$store.state.moneyUnit[lang]}}{{orderData.principal_paid}}</p>
        <p>{{$t('待收佣金')}}</p></div>
      <div><p>{{$store.state.moneyUnit[lang]}}{{orderData.accumulated_earningss}}</p>
        <p>{{$t('累计收益')}}</p></div>
    </div>
    <div class="content">
      <div class="box" @click="$root.common.toPath('/orderDetail',{id:item.id})" v-for="(item, index) in orderData.invest" :key="index">
        <div class="top">
          <span>{{item.time}}</span>
          <span>{{$t('我的合同')}}</span>
        </div>
        <div class="bottom">
          <div>{{item.title}}</div>
          <div style="text-align: right;display: flex;"><span>{{$store.state.moneyUnit[lang]}}{{item.money}}</span><span class="button">{{item.state}}</span></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/tabs/order.less'
import {Toast} from "vant";

export default {
  name: "order",
  data() {
    return {
      orderData:'',
      lang:localStorage.getItem('locale') || 'zh',
    }
  },
  created() {
    this.getOrder()
  },
  mounted() {
  },
  methods: {
    getOrder: function () {
      this.$fetch('order/index', {}).then(res => {
        if (res.status == 200) {
          this.orderData = res.data
        } else {
          Toast(res.msg)
        }
      })
    }
  },
}
</script>

<style scoped>

</style>