<template>
  <div class="personal">
    <page_foot></page_foot>
    <div class="header">
      <div class="set-icon" @click="$root.common.toPath('/safe')">
        <img src="@/assets/images/setting-icon.png" alt="">
      </div>
      <div class="user_detail">
        <div class="list">
          <div class="left">
            <img src="@/assets/images/64a1406b553be1a1febf3b8658c2d2f7.jpg" alt="">
          </div>
          <div class="right">
            <div class="title">{{userInfo.user.name}} <span>{{userInfo.member_name}}</span></div>
            <div class="title">{{userInfo.user.auth == 1 ? $t('已实名认证'): $t('未实名认证')}}</div>
          </div>
        </div>
      </div>
      <div class="user_active">
        <div>{{$t('通知')}} | {{$t('消息列表')}}</div>
        <div @click="$root.common.toPath('/notice')">{{$t('立即查看')}}</div>
      </div>
    </div>
    <div class="part1">
      <div class="box-list">
        <div class="box" @click="$root.common.toPath('/help')">
          <div class="img"><img src="@/assets/images/part1.png" alt=""></div>
          <div class="font">{{$t('用户协议')}}</div>
        </div>
        <div class="box" @click="$root.common.toPath('/help')">
          <div class="img"><img src="@/assets/images/part2.png" alt=""></div>
          <div class="font">{{$t('隐私政策')}}</div>
        </div>
        <div class="box" @click="$root.common.toPath('/myOrder')">
          <div class="img"><img src="@/assets/images/part3.png" alt=""></div>
          <div class="font">{{$t('我的订单')}}</div>
        </div>
        <div class="box" @click="$root.common.toPath('/safe')">
          <div class="img"><img src="@/assets/images/part4.png" alt=""></div>
          <div class="font">{{$t('账号设置')}}</div>
        </div>
        <div class="box" @click="$root.common.toPath('/app')">
          <div class="img"><img src="@/assets/images/part5.png" alt=""></div>
          <div class="font">{{$t('APP下载')}}</div>
        </div>
      </div>
    </div>
    <div class="part2">
      <div class="box">
        <div class="item_tit">
          <div>{{$t('贩卖订单')}}</div>
          <div @click="$root.common.toPath('/order')">{{$t('查看订单')}} ></div>
        </div>
        <div class="content">
          <div><span>{{$store.state.moneyUnit[lang]}}{{userInfo.principal_pending}}</span><br><span>{{$t('待收本金')}}</span></div>
          <div><span>{{$store.state.moneyUnit[lang]}}{{userInfo.principal_paid}}</span><br><span>{{$t('待收佣金')}}</span></div>
          <div><span>{{$store.state.moneyUnit[lang]}}{{userInfo.accumulated_earningss}}</span><br><span>{{$t('累计收益')}}</span></div>
        </div>
      </div>
    </div>
    <div class="part2">
      <div class="box">
        <div class="item_tit">
          <div>{{$t('我的钱包')}}</div>
          <div @click="$root.common.toPath('/moneybag')">{{$t('进入钱包')}} ></div>
        </div>
        <div class="bottom">
          <div class="money">
            <div><span>{{$store.state.moneyUnit[lang]}}{{userInfo.user.money}}</span><br><span>{{$t('钱包余额')}}</span></div>
          </div>
          <div class="box-list">
            <div class="img-list" @click="$root.common.toPath('/moneybag')">
              <div class="img"><img src="@/assets/images/money-icon-1.png" alt=""></div>
              <div class="font">{{$t('资金流水')}}</div>
            </div>
            <div class="img-list" @click="userAuth()">
              <div class="img"><img src="@/assets/images/money-icon-2.png" alt=""></div>
              <div class="font">{{$t('充值')}}</div>
            </div>
            <div class="img-list" @click="$root.common.toPath('/cash')">
              <div class="img"><img src="@/assets/images/money-icon-3.png" alt=""></div>
              <div class="font">{{$t('提现')}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="part2">
      <div class="box">
        <div class="item_tit">
          <div>{{$t('任务中心')}}</div>
        </div>
        <div class="bottom">
          <div class="money">
            <div><span>{{$store.state.moneyUnit[lang]}}{{userInfo.award}}</span><br><span>{{$t('累计奖励')}}</span></div>
          </div>
          <div class="box-list">
            <div class="img-list" @click="$root.common.toPath('/sign')">
              <div class="img"><img src="@/assets/images/money-icon-4.png" alt=""></div>
              <div class="font">{{$t('每日签到')}}</div>
            </div>
            <div class="img-list" @click="$root.common.toPath('/invite')">
              <div class="img"><img src="@/assets/images/money-icon-5.png" alt=""></div>
              <div class="font">{{$t('好友推广')}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/tabs/personal.less'
import page_foot from '@/components/include/page_foot'
import {Toast} from "vant";

export default {
  name: "personal",
  components: {
    page_foot
  },
  data() {
    return {
      userInfo:'',
      lang:localStorage.getItem('locale') || 'zh',
    }
  },
  created() {
    this.getUserInfo()
  },
  mounted() {
  },
  methods: {
    getUserInfo: function () {
      if(this.$store.state.userInfo){
        this.userInfo = this.$store.state.userInfo
        console.log(this.userInfo)
      } else {
        this.$fetch('user/index', {}).then(res => {
          if (res.status == 200) {
            this.userInfo = res.data
            this.$store.commit('pushUserInfo',res.data)
          } else {
            Toast(res.msg)
          }
        })
      }
    },
    userAuth(){
      if(this. userInfo.user.auth != 1){
        Toast(this.$t('请先进行实名认证'))
      } else {
        this.$root.common.toPath('/recharge')
      }
    }
  },
}
</script>

<style scoped>

</style>