@import "../include/base";
/*首页*/
.index {
  margin-bottom: 5rem;
  //padding-top: 30px;
  .img{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    img{
      width: 45%;
    }
  }
}
