@import "../include/base";
/*首页*/
.index {
  .ground();
  margin-bottom: 5rem;
  .video {
    height: 21rem;

    video {
      width: 100%;
    }

    * {
      font-size: 100%;
    }

    .vjs-custom-skin > .video-js .vjs-big-play-button {
      font-size: 3.5rem !important;
    }
  }
  .sign, .activity, .bdzfb, .user-info, .recommend ,.zbbImg{
    padding: 1.5% 3.5%;
  }
  .sign {
    .deck {
      height: 12.4rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("../../images/fbn1.jpg");
      font-weight: 600;
      .top, .bottom {
        height: 50%;
        padding: 15px 15px 14px 21px;
      }
      .top{
        .left {
          float: left;
          width: 60%;

          p {
            color: #d49234;
            margin-bottom: .5rem;

            span {
              color: #f53627;
            }
          }
        }

        .right {
          float: right;
          width: 30%;
          text-align: center;
          button {
            width: 94px;
            height: 29px;
            line-height: 29px;
            text-align: center;
            background: linear-gradient(0deg, #fb4c11, #ffa400);
            border-radius: 14px;
            font-size: 13px;
            font-weight: 700;
            color: #fff;
            border: none;
          }
        }
      }
      .bottom{
        .info-text{
          height: 3.5rem;
          border-radius: 5px;
          display: flex;
          justify-content: center;
          align-items: center;
          img{
            width: 18px;
          }
          span{
            color:#fc650c;
            margin-left: 1rem;
          }
        }
      }
    }
  }
  .activity{
    .deck{
      height: 9.4rem;
      .left, .right{
        width: 50%;
        float: left;
        img{
          width: 16.7rem;
          height: 100%;
        }
      }
    }
  }
  .user-info{
    .deck{
      background: #ffffff;
      padding: 0 15px;
      .center{
        p{
          text-align: center;
          font-size: 1.4rem;
          margin-top: .5rem;
          span{
            color: #fc6f15;
            font-weight: 700;
            font-size: 2.3rem;
          }
          &:nth-child(2){
            margin-bottom: 1rem;
          }
        }
        border-bottom: 1px solid #f0f0f0;
      }
      .bottom{
        div{
          float: left;
          width: 33%;
          height: 6rem;
          .flex();
          img{
            width: 3.3rem;
            height: 3.3rem;
          }
          span{
            margin-left: 1rem;
          }
        }
      }
    }
  }
  .recommend{

    .recommend-back{
      background-size: cover;
      background-repeat: no-repeat;
      background: url("../../images/O0m6rqMdm3.jpg");
      height: 150px;
    }
    .title{
      margin-top: 2rem;
      .flex();
      span{
        margin:0 1rem;
        color: #ff5604;
        font-size: 1.8rem;
        font-weight: 700;
      }
      img{
        width: 1.9rem;
        height: 1.1rem;
      }
    }
    .deck{
      background: #ffffff;
      height: 12.6rem;
      border-radius: 0 0 8px 8px;
      margin-top: 2rem;
      .left{
        width: 35%;
        height: 100%;
        float: left;
        .flex();
        img{
          width: 10rem;
          height: 10rem;
        }
      }
      .right{
        width: 65%;
        height: 100%;
        float: left;
        position: relative;
        p{
          margin-top: 1rem;
          &:nth-child(1){
            font-size:1.5rem;
            font-weight: 700;
          }
          &:nth-child(2){
            color: #fd662a;
          }
          &:nth-child(3){
            color: #f92c18;
            margin-top: 3rem;
            span{
              font-size: 2.1rem;
            }
          }
        }
        button{
          width:87px;
          height:27px;
          text-align:center;
          background:#494949;
          border-radius:13px;
          font-size:12px;
          font-weight:700;
          color:#fff;
          border: none;
          position: absolute;
          right: 1rem;
          bottom: 1rem;
          &.active{
            background: #fd662a;
          }
        }
      }
    }
  }
}
