
@import "../include/base";
.about{
  .ground();
  .about-wrap{
    margin-top: 10px;
    padding: 0 13px;
    overflow: auto;
    background-color: #fff;
    .about-list-item{
      .item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        border-bottom: 1px solid rgba(0,0,0,.14);
      }
    }
  }
}