@import "../include/base";
.addBank{
  .ground();
  .addBank-wrap{
    box-sizing: border-box;
    margin-top: 13px;
    font-size: 15px;
    font-weight: 400;
    color: #000;
    padding: 0 12px;
    .form{

    }
    .submit{}
  }
}