@import "../include/base";
.recharge{
  .ground();
  .recharge-wrap {
    background-color: #f5f5f5;
    padding: 13px;
    .header {
      background-color: #fff;
      padding: 20px;
      h1 {
        font-weight: 400;
        color: #2e2e2e;
        font-size: 15px;
      }
      .input-money-wrap {
        .money-input {
          font-size: 50px;
          padding-left: 0;

          input {
            padding-left: 10px;
          }
        }

        .van-cell {
          line-height: 48px;
        }

        .van-field__left-icon .van-icon {
          font-size: 30px;
        }
      }
      .money-list {
        font-size: 15px;
        font-weight: 500;
        color: #414141;

        span {
          font-size: inherit;
          color: #0f79ff;
        }
      }
      .line-back{
        display: inline-block;
        padding: 25px 14px 0;
        width: 100%;
        background: #fff;
        border-radius: 7px;
        margin: 0 auto;
        padding-bottom: 5px;
        border-bottom: 1px solid #f5f4fa;
        .van-tag--round{
          margin-left: 15px;
          border:1px solid #e7c899;
          background: #fff9f4;
          color: #f6c647;
        }
        .van-radio{
          padding-bottom: 10px;
        }
      }
      .rightAway-record {
        color: #ffffff;
        margin: 16px auto 13px;
        line-height: 47px;
        text-align: center;
        width: 100%;
        background: #0f79ff;
        font-size: 16px;
        border-radius: 7px;
      }
    }
    .prompt{
      width: 100%;
      box-shadow: 0 0 13px 0 rgb(0 4 26 / 5%);
      border-radius: 7px;
      margin: 0 auto;
      padding: 20px 15px;
      h1{
        font-size: 15px;
        font-family: PingFang SC;
        font-weight: 500;
        color: #2e2e2e;
        margin-bottom: 19px;
      }
      p{
        font-size: 14px;
        font-family: PingFang SC;
        font-weight: 400;
        color: #989898;
        line-height: 18px;
      }
    }
  }
}