<template>
	<div class="flexWrap" id="activeDetails">
		<van-nav-bar @click-left="back" left-text="返回" left-arrow class="bg-h c-w" :title="detailsData.title" />
		<div class="flexContent bg-w activeContent" v-html="detailsData.content" >
			
		</div>
	</div>
</template>

<script>
	
	export default {
		data() {
			return {
				detailsData: '',//私信详情
			}
		},
		watch: {
			
		},
		created: function() {
			this.detailsData = this.$route.query;
		},
		mounted: function() {

		},
		methods: {
			back: function() {
				window.history.go(-1);
			},
		}
	}
</script>

<style>
	#activeDetails .activeContent img{
		width: 100%;
	}
</style>