<template>
	<div class="flexWrap">
		<van-nav-bar @click-left="back" left-text="返回" left-arrow class="bg-h c-w" title="APP下载" />
		<div v-if="showIndex==1" class="flexContent android">
			<div class="text-c m-t-50">
				<!--<img width="80" height="80" :src="appContent.iosQrUrl" />-->
				<h1 class="c-w f-s-30 m-t-10">{{title}}</h1>
				<p class="c-w f-s-14 m-t-10" style="font-weight: 900;">下载APP 再也无需输入网址</p>
			</div>
			<div class="m-t-50">
				<div @click="showIndex=2" class="btn">
					<img class="v-m" width="30" height="30" src="../../../static/img/iphone.png"/>
					点击下载苹果版
				</div>
				<div @click="androidlode()" class="btn">
					<img class="v-m" width="30" height="30" src="../../../static/img/android.png"/>
					点击下载安卓版
				</div>
			</div>
		</div>
		<div v-else-if="showIndex==2" class="flexContent bg-w">
			<div class="p-r">
				<img width="100%" src="../../../static/img/download/apple-down-head.png"/>
				<img class="logos" width="80" height="80" :src="appContent.iosQrUrl"/>
			</div>
			<div @click="ioslode" v-html="btnText" class="btn" style="border: 1px solid red;color: red;font-size: 16px;margin-top: 0;"></div>
			<div class="text-c m-t-20 p-b-20 b-b">
				<p class="f-s-14 m-t-20" style="font-weight: 900;">安装后请打开手机设置</p>
				<p class="f-s-14 m-t-10" style="font-weight: 900;">通用-设备管理-选择-信任 才能使用</p>
				<p class="f-s-14 m-t-10" style="font-weight: 900;">可参照以下图文步骤进行操作</p>
			</div>
			<div class="f-s-14 p-b-t-10" style="text-indent: 2em;">部分浏览器可能无法安装，建议使用Safari浏览器操作</div>
			<img class="m-b-20" width="100%" src="../../../static/img/download/down-1.png"/>
			<img class="m-b-20" width="100%" src="../../../static/img/download/down-2.png"/>
			<img class="m-b-20" width="100%" src="../../../static/img/download/down-3.png"/>
			<img width="100%" src="../../../static/img/download/down-4.png"/>
			<div class="f-s-12 c-9 text-c p-b-t-5">已经到底啦</div>
		</div>
    <div v-else-if="showIndex==3" class="flexContent bg-w">
			<div class="p-r">
				<img width="100%" src="../../../static/img/download/apple-down-head.png"/>
				<img class="logos" width="80" height="80" :src="appContent.AndroidQrUrl"/>
			</div>
			<div @click="androidlode" v-html="btnText" class="btn" style="border: 1px solid red;color: red;font-size: 16px;margin-top: 0;"></div>
			<div class="text-c m-t-20 p-b-20 b-b">
				<p class="f-s-14 m-t-20" style="font-weight: 900;">安装后请打开手机设置</p>
				<p class="f-s-14 m-t-10" style="font-weight: 900;">通用-设备管理-选择-信任 才能使用</p>
				<p class="f-s-14 m-t-10" style="font-weight: 900;">可参照以下图文步骤进行操作</p>
			</div>
			<div class="f-s-14 p-b-t-10" style="text-indent: 2em;">部分浏览器可能无法安装，建议使用Safari浏览器操作</div>
			<img class="m-b-20" width="100%" src="../../../static/img/download/down-1.png"/>
			<img class="m-b-20" width="100%" src="../../../static/img/download/down-2.png"/>
			<img class="m-b-20" width="100%" src="../../../static/img/download/down-3.png"/>
			<img width="100%" src="../../../static/img/download/down-4.png"/>
			<div class="f-s-12 c-9 text-c p-b-t-5">已经到底啦</div>
		</div>
	</div>
</template>

<script>
	import { Toast } from 'vant';
	import { Dialog } from 'vant';
	export default {
		data() {
			return {
				showIndex:1,
				btnText:'点击安装',
        title:'',
        appContent: {},
			}
		},
		watch: {

		},
		created: function() {
			//			Toast('我是提示文案，建议不超过十五字~');
		},
		mounted: function() {
      this.setTitle(); //设置网站名称
      this.getAppDownUrl(); //获取app下载链接
		},
		methods: {
      //获取网站名称消息
      setTitle:function(){
        $sky.ajax('get','native/getStationInfo',{},(ret)=>{
          if(ret.success){
            this.title = ret.content.title;
          }
        })
      },
      getAppDownUrl:function(){
        $sky.ajax('get','native/getAppDownUrl',{},(ret)=>{
          if(ret.success){
            this.appContent = ret.content;
          }
        })
      },
			ioslode:function(){
        window.location.href = this.appContent.iosDownUrl;
				this.btnText = '<img width="18" class="m-r-5 v-m" height="18" src="/mobile/anew/new/static/img/download/rolling.svg"/>请到桌面查看进度'
			},
      androidlode:function(){
        window.location.href = this.appContent.AndroidDownUrl;
        // this.btnText = '<img width="18" class="m-r-5 v-m" height="18" src="/mobile/anew/new/static/img/download/rolling.svg"/>请到桌面查看进度'
      },
			back: function() {
				window.history.go(-1);
			},
		}
	}
</script>

<style>
	.android{
		background: url(../../../static/img/index/appBg.jpg) no-repeat center;
		background-size: cover;
	}
	.btn{
		font-weight: 900;
		height: 40px;
		line-height: 40px;
		width: 70%;
		margin: 0 auto;
		border-radius: 8px;
		border: 1px solid white;
		font-size: 18px;
		color: white;
		text-align: center;
		margin-top: 20px;
	}
	.logos{
		position: absolute;
		top: 40px;
		left: 50%;
		margin-left: -40px;
	}
</style>
