<template>
  <div>
    <van-nav-bar @click-left="back" left-text="返回" left-arrow class="bg-h c-w" :title="title" />
    <iframe data-v-34e070be="" id="kefu" scrolling="no" :src="url"
            style="height: 37rem;width: 100%;border: none"></iframe>
  </div>
</template>

<script>
    export default {
      data(){
        return{
          url: '',
          title: '',
        }
      },
      created:function(){
        this.url = this.$route.query.url;
        this.title = this.$route.query.title;
      },
      methods:{
        back: function() {
          window.history.go(-1);
        },
      }
    }
</script>

<style scoped>

</style>
