<template>
    <div id="index4">
      <header>
        <van-nav-bar class="bg-h c-w" :title="(floder == 'x002177' || floder == 'x002178' || floder == 'x002188' || floder == 'x002185') ? '任务公告' : '开奖结果'" />
      </header>
      <div v-for="notice in drawNotice" @click="goDrawDetailed(notice)" >
        <van-row class="p-l-15">
          <van-col span="5">
            <img v-lazy="notice.imgUrl" :class="{'p-t-20': notice.haoma.split(',').length>7}" class="lottery_img p-b-t-10" alt="">
          </van-col>
          <van-col span="19" class="p-15 more">
            <div class="clear">
              <div class="pull-l f-s-16 c-3">{{notice.lotName}}</div>
              <div class="pull-r f-s-14 c-9">第{{notice.qihao}}期</div>
            </div>
            <!--pk10-->
            <div v-if="notice.haoma.split(',')[0]!=='?'&& (notice.lotType === 3 || notice.lotType === 8 || notice.lotType === 53 || notice.lotType === 828 || notice.lotType === 158 )">
              <span v-for="hm in notice.haoma.split(',')" :class="'BJSC'+hm" class="kjhm d-i c-w text-c m-t-5 f-s-16 m-r-5" style="border-radius: 3px"></span>
            </div>
            <!--重庆幸运农场-->
            <div v-if="notice.haoma.split(',')[0]!=='?'&& notice.lotCode==='CQXYNC'">
              <span v-for="hm in notice.haoma.split(',')" :class="'CQXYNC'+hm" class="kjhm d-i c-3 text-c m-t-5 f-s-18 m-r-5"></span>
            </div>
            <!--时时彩-->
            <div v-if="notice.haoma.split(',')[0]!=='?'&& (notice.lotType === 2 || notice.lotType === 9 || notice.lotType === 52 || notice.lotType === 929)">
              <span v-for="hm in notice.haoma.split(',')" class="kjhm d-i c-3 text-c m-t-10 f-s-18 m-r-5 cqssc">{{hm}}</span>
            </div>
            <!--快三-->
            <div v-if="notice.haoma.split(',')[0]!=='?'&& (notice.lotType === 10 || notice.lotType === 100 || notice.lotType === 58 || notice.lotType === 102)">
              <template v-if="floder == 'x002177' || floder == 'x002178' || floder == 'x002188' || floder == 'x002185'">
                <span v-for="hm in notice.haoma.split(',')" :class="'JSSBx002177_'+hm" class="kjhm d-i c-3 text-c m-t-10 f-s-18 m-r-5"></span>
              </template>
              <template v-else>
                <span v-for="hm in notice.haoma.split(',')" :class="'JSSB'+hm" class="kjhm d-i c-3 text-c m-t-10 f-s-18 m-r-5"></span>
              </template>
            </div>
            <!--快乐十分-->
            <div v-if="notice.haoma.split(',')[0]!=='?'&& (notice.lotType === 12  && notice.lotCode!=='CQXYNC')">
              <span v-for="hm in notice.haoma.split(',')" class="kjhm d-i c-3 text-c m-t-5 f-s-18 m-r-5 HNKLSF">{{hm}}</span>
            </div>
            <!--香港彩-->
            <div v-if="notice.haoma.split(',')[0]!=='?'&& (notice.lotType === 6 || notice.lotType === 66) ">
              <span v-if="index<=5" v-for="(hm,index) in notice.haoma.split(',')" :class="getBg(hm)" class="kjhm d-i c-3 text-c m-t-5 f-s-18 m-r-5">{{hm}}</span>
              <span class="kjhm d-i c-3 text-c m-t-5 f-s-18" style="width: 0.8rem">=</span>
              <span v-if="index>5" v-for="(hm,index) in notice.haoma.split(',')" :class="getBg(hm)" class="kjhm d-i c-3 text-c m-t-5 f-s-18 m-r-5 HNKLSF">{{hm}}</span>
            </div>
            <!--低频彩-->
            <div v-if="notice.haoma.split(',')[0]!=='?'&& (notice.lotType === 15 || notice.lotType === 4 || notice.lotType === 54)">
              <span v-for="hm in notice.haoma.split(',')" class="kjhm d-i c-3 text-c m-t-10 f-s-18 m-r-5 dpc">{{hm}}</span>
            </div>
            <!--11选5-->
            <div v-if="notice.haoma.split(',')[0]!=='?'&& (notice.lotType === 14 || notice.lotType === 5 || notice.lotType === 55)">
              <span v-for="hm in notice.haoma.split(',')" class="kjhm d-i c-3 text-c m-t-10 f-s-18 m-r-5 syxw">{{hm}}</span>
            </div>
            <!--pcdd-->
            <div v-if="notice.haoma.split(',')[0]!=='?'&& (notice.lotType === 11 || notice.lotType === 7 || notice.lotType === 57 || notice.lotType === 161)">
              <span v-for="hm in notice.haoma.split(',')" :class="'jnd'+hm" class="kjhm d-i c-3 text-c m-t-10 f-s-18 m-r-5 pcdd" ></span>
              <span class="kjhm d-i c-3 text-c m-t-10 f-s-18 pcdd v-t">=</span>
              <span :class="'jnd'+((notice.haoma.split(',')[0]-0)+(notice.haoma.split(',')[1]-0)+(notice.haoma.split(',')[2]-0))" class="kjhm d-i c-3 text-c m-t-10 f-s-18 m-r-5 pcdd v-t"></span>
            </div>
            <div v-if="notice.haoma.split(',')[0]==='?'">
              <span class="d-i c-w b-r-b50 text-c m-t-15 f-s-18 m-r-5 c-r" v-if="floder == 'x002177' || floder == 'x002178' || floder == 'x002188' || floder == 'x002185'">正在查询中...</span>
              <span class="d-i c-w b-r-b50 text-c m-t-15 f-s-18 m-r-5 c-r" v-else>正在开奖中...</span>
            </div>
          </van-col>
        </van-row>
      </div>
      <div class="h-60"></div>
      <van-popup v-model="showDetailed" position="right" style="width: 100%;height: 100%">
        <lottery-detailed @closeDetailed="showDetailed = false" :data="data" :notice="notice" :lotMsg="lotMsg" :bgColor="bgColor" :show-detailed="showDetailed"></lottery-detailed>
      </van-popup>
    </div>
</template>

<script>
  import Vue from 'vue'
  import { Dialog } from 'vant'
  import { Toast } from 'vant'
  import { Icon  } from 'vant'
  import lotteryDetailed from './lotteryDetailed'
  let bgColor;
  export default {
    data(){
      return{
        drawNotice:[], // 所有彩种开奖列表
        showDetailed:false, //是否展示 历史开奖页面
        notice:{}, //彩种信息
        data:{}, //彩种历史开奖结果
        loctterys:[],
        lotMsg:{},
        floder:''
      }
    },
    components:{
      lotteryDetailed,
    },
    created:function(){
      this.getZodiacsToHaoMa(); //获取玩法对照表
      this.getLoctterys();//获取彩种列表
      this.getStationInfo();
    },
    methods:{
      getImage:function(lotType,lotCode){
        switch (lotType) {
          case 3:
          case 8:
          case 53:
          case 828:
          case 158:
            return 'anew/new/static/img/lotterylogo/L_PK10.png';
          case 2:
          case 9:
          case 52:
          case 929:
            return 'anew/new/static/img/lotterylogo/L_SSC.png';
          case 10:
          case 100:
          case 58:
          case 102:
            return 'anew/new/static/img/lotterylogo/L_K3.png';
          case 12:
            return 'anew/new/static/img/lotterylogo/L_KLSF.png';
          case 7:
          case 11:
          case 57:
          case 161:
            return 'anew/new/static/img/lotterylogo/L_PK10.png';
          case 5:
          case 14:
          case 55:
            return 'anew/new/static/img/lotterylogo/L_SYX5.png';
          case 6:
          case 66:
            return 'anew/new/static/img/lotterylogo/L_LHC.png';
          case 4:
          case 15:
          case 54:
            if(lotCode === "FC3D"){
              return 'anew/new/static/img/lotterylogo/L_FC3D.png';
            }
            return 'anew/new/static/img/lotterylogo/L_PL3.png';
        }
      },
      getBg:function(num){
        for(let i in bgColor){
          if(bgColor[i].indexOf(num-0) !== -1){
            return i;
          }
        }
      },
      getZodiacsToHaoMa:function(){
        bgColor = {
          red_bg: [],
          blue_bg: [],
          green_bg: []
        };
        let sx12 = ['鼠', '牛', '虎', '兔', '龙', '蛇', '马', '羊', '猴', '鸡', '狗', '猪'];
        for(let k in sx12){
          let data = {
            type: 2,
            val: sx12[k],
          };
          $sky.getZodiacsToHaoMa(data, (ret) => {
            let shengxiaobiao = ret.content;
            for(let i in shengxiaobiao){
              if (shengxiaobiao[i].wave=='红') {
                bgColor.red_bg.push(shengxiaobiao[i].num);
              }else if (shengxiaobiao[i].wave=='蓝') {
                bgColor.blue_bg.push(shengxiaobiao[i].num);
              }else if (shengxiaobiao[i].wave=='绿') {
                bgColor.green_bg.push(shengxiaobiao[i].num);
              }
            }
          })
        }
        this.bgColor = bgColor;
        this.getDraw_notice_data();//所有彩种最新开奖
      },
      //获取当前站点可用彩种
      getLoctterys:function(){
        $sky.ajax('post','native/getLoctterys',{},(ret)=>{
          if(ret.success){
            this.loctterys = ret.content;
          }else{
            Toast.fail(ret.msg);
          }
        })
      },
      //所有彩种最新开奖
      getDraw_notice_data: function() {
        let params = {
          version:2,
          needLast:true
        };
        $sky.ajax('post', 'native/draw_notice_data', params, (ret) => {
          if(ret.success) {
            this.drawNotice = ret.data;
          } else {
            if(!ret.isLogin) {
              this.$router.push({
                path: '/login',
                query: {}
              })
            }
          }
        })
      },
      //所有单个彩种所有开奖
      getDraw_notice_details_data: function() {
        let params = {
          lotCode:this.notice.lotCode,
          page: 1,
          rows:10,
        };
        $sky.ajax('get', 'native/draw_notice_details_data', params, (ret) => {
          if(ret.success) {
            let list = [];
            this.data = ret.content;
            for(let i in ret.content.list){
              if(ret.content.list[i].haoMaList[0] !== '?'){
                list.push(ret.content.list[i])
              }
            }
            this.data.list = list;
            this.loading = false;
          } else {
            if(!ret.isLogin) {
              this.$router.push({
                path: '/login',
                query: {}
              })
            }
          }
        })
      },
      //投注详细
      goDrawDetailed:function (notice) {
        this.showDetailed = true;
        this.notice = notice;
        for(let i in this.loctterys){
          if(this.loctterys[i].code === notice.lotCode){
            this.lotMsg = this.loctterys[i]
          }
        }
        this.getDraw_notice_details_data()
      },
      //网站基础信息
      getStationInfo:function(){
          $sky.ajax('get', 'native/getStationInfo', {}, (ret) => {
            this.$store.commit('getFloder',ret)
            this.floder = ret.content.station.floder
            if (this.$store.state.stationInfo.station.floder == 'x00281'){
              this.navList2.splice(8,1)
              this.navList2.splice(0,1)
            }
            if (this.$store.state.stationInfo.station.floder == 'x00293'){
              this.navList2.splice(0,1)
            }
          });
      },
    }
  }
</script>

<style scoped>
  .more{
    background-size: 19px;
    background-repeat: no-repeat;
    background-position: 199px 40px;
  }
  .lottery_img{
    width: 3.8rem;
    height: 3.8rem;
  }
  .kjhm{
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
  }
  #index4 .p-t-20 {
    padding-top: 1rem;
  }
  .BJSC01{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/pk10_01.png") no-repeat scroll center;
  }
  .BJSC02{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/pk10_02.png") no-repeat scroll center;
  }
  .BJSC03{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/pk10_03.png") no-repeat scroll center;
  }
  .BJSC04{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/pk10_04.png") no-repeat scroll center;
  }
  .BJSC05{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/pk10_05.png") no-repeat scroll center;
  }
  .BJSC06{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/pk10_06.png") no-repeat scroll center;
  }
  .BJSC07{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/pk10_07.png") no-repeat scroll center;
  }
  .BJSC08{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/pk10_08.png") no-repeat scroll center;
  }
  .BJSC09{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/pk10_09.png") no-repeat scroll center;
  }
  .BJSC10{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/pk10_10.png") no-repeat scroll center;
  }
  .cqssc{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/ssc_bg.png") no-repeat scroll center center / 130%;
  }
  .JSSBx002177_1{
    background:rgba(0,0,0,0) url("../../../static/img/lottery/ks_x002177_1.png") no-repeat scroll center center / 130%;
  }
  .JSSBx002177_2{
    background:rgba(0,0,0,0) url("../../../static/img/lottery/ks_x002177_2.png") no-repeat scroll center center / 130%;
  }
  .JSSBx002177_3{
    background:rgba(0,0,0,0) url("../../../static/img/lottery/ks_x002177_3.png") no-repeat scroll center center / 130%;
  }
  .JSSBx002177_4{
    background:rgba(0,0,0,0) url("../../../static/img/lottery/ks_x002177_4.png") no-repeat scroll center center / 130%;
  }
  .JSSBx002177_5{
    background:rgba(0,0,0,0) url("../../../static/img/lottery/ks_x002177_5.png") no-repeat scroll center center / 130%;
  }
  .JSSBx002177_6{
    background:rgba(0,0,0,0) url("../../../static/img/lottery/ks_x002177_6.png") no-repeat scroll center center / 130%;
  }
  .JSSB1{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/k3_01.png") no-repeat scroll center center / 130%;
  }
  .JSSB2{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/k3_02.png") no-repeat scroll center center / 130%;
  }
  .JSSB3{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/k3_03.png") no-repeat scroll center center / 130%;
  }
  .JSSB4{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/k3_04.png") no-repeat scroll center center / 130%;
  }
  .JSSB5{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/k3_05.png") no-repeat scroll center center / 130%;
  }
  .JSSB6{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/k3_06.png") no-repeat scroll center center / 130%;
  }
  .CQXYNC01{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/1.png") no-repeat scroll center center / 130%;
  }
  .CQXYNC02{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/2.png") no-repeat scroll center center / 130%;
  }
  .CQXYNC03{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/3.png") no-repeat scroll center center / 130%;
  }
  .CQXYNC04{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/4.png") no-repeat scroll center center / 130%;
  }
  .CQXYNC05{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/5.png") no-repeat scroll center center / 130%;
  }
  .CQXYNC06{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/6.png") no-repeat scroll center center / 130%;
  }
  .CQXYNC07{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/7.png") no-repeat scroll center center / 130%;
  }
  .CQXYNC08{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/8.png") no-repeat scroll center center / 130%;
  }
  .CQXYNC09{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/9.png") no-repeat scroll center center / 130%;
  }
  .CQXYNC10{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/10.png") no-repeat scroll center center / 130%;
  }
  .CQXYNC11{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/11.png") no-repeat scroll center center / 130%;
  }
  .CQXYNC12{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/12.png") no-repeat scroll center center / 130%;
  }
  .CQXYNC13{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/13.png") no-repeat scroll center center / 130%;
  }
  .CQXYNC14{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/14.png") no-repeat scroll center center / 130%;
  }
  .CQXYNC15{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/15.png") no-repeat scroll center center / 130%;
  }
  .CQXYNC16{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/16.png") no-repeat scroll center center / 130%;
  }
  .CQXYNC17{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/17.png") no-repeat scroll center center / 130%;
  }
  .CQXYNC18{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/18.png") no-repeat scroll center center / 130%;
  }
  .CQXYNC19{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/19.png") no-repeat scroll center center / 130%;
  }
  .CQXYNC20{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/20.png") no-repeat scroll center center / 130%;
  }
  .HNKLSF{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/sfc_bg.png") no-repeat scroll center center / 130%;
  }
  .green_bg{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/lhc_lv.png") no-repeat scroll center center / 130%;
  }
  .red_bg{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/lhc_hong.png") no-repeat scroll center center / 130%;
  }
  .blue_bg{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/lhc_lan.png") no-repeat scroll center center / 130%;
  }
  .dpc{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/pl3_bg.png") no-repeat scroll center center / 130%;
  }
  .syxw{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/11x5_bg.png") no-repeat scroll center center / 130%;
  }
  .jnd0{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd0.png") no-repeat scroll center center / 100%;
  }
  .jnd1{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd1.png") no-repeat scroll center center / 100%;
  }
  .jnd2{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd2.png") no-repeat scroll center center / 100%;
  }
  .jnd3{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd3.png") no-repeat scroll center center / 100%;
  }
  .jnd4{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd4.png") no-repeat scroll center center / 100%;
  }
  .jnd5{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd5.png") no-repeat scroll center center / 100%;
  }
  .jnd6{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd6.png") no-repeat scroll center center / 100%;
  }
  .jnd7{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd7.png") no-repeat scroll center center / 100%;
  }
  .jnd8{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd8.png") no-repeat scroll center center / 100%;
  }
  .jnd9{
       background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd9.png") no-repeat scroll center center / 100%;
   }
  .jnd10{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd10.png") no-repeat scroll center center / 100%;
  }
  .jnd11{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd11.png") no-repeat scroll center center / 100%;
  }
  .jnd12{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd12.png") no-repeat scroll center center / 100%;
  }
  .jnd13{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd13.png") no-repeat scroll center center / 100%;
  }
  .jnd14{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd14.png") no-repeat scroll center center / 100%;
  }
  .jnd15{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd15.png") no-repeat scroll center center / 100%;
  }
  .jnd16{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd16.png") no-repeat scroll center center / 100%;
  }
  .jnd17{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd17.png") no-repeat scroll center center / 100%;
  }
  .jnd18{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd18.png") no-repeat scroll center center / 100%;
  }
  .jnd19{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd19.png") no-repeat scroll center center / 100%;
  }
  .jnd20{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd20.png") no-repeat scroll center center / 100%;
  }
  .jnd21{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd21.png") no-repeat scroll center center / 100%;
  }
  .jnd22{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd22.png") no-repeat scroll center center / 100%;
  }
  .jnd23{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd23.png") no-repeat scroll center center / 100%;
  }
  .jnd24{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd24.png") no-repeat scroll center center / 100%;
  }
  .jnd25{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd25.png") no-repeat scroll center center / 100%;
  }
  .jnd26{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd26.png") no-repeat scroll center center / 100%;
  }
  .jnd27{
    background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd27.png") no-repeat scroll center center / 100%;
  }


</style>
