<template>
  <div class="flexWrap" id="index2">
    <header>
      <van-nav-bar class="bg-h c-w" title="互动中心"/>
    </header>
    <div class="flexContent m-b-52">
      <div v-if="dzpSwitchKey" @click="godzp" class="p-b-t-5 p-l-r-10 bg-w m-b-t-10 b-b list">
        <div class="index" style="background: var(--2-icon-1);line-height: 42px">
          <van-icon name="aim" size="20px"></van-icon>
        </div>
        <div class="d-i w-b80 p-r t-8 l-10">
          <div class="f-s-18 ellipsis h-20 l-h-20">大转盘</div>
          <div class="f-s-12 c-6 ellipsis">
            进入大转盘
          </div>
        </div>
        <van-icon class="pull-r f-s-16 m-t-20 c-9" name="arrow"/>
      </div>

      <div v-if="qdSwitchKey" @click="goqd" class="p-b-t-5 p-l-r-10 bg-w m-b-t-10 b-b list">
        <div class="index" style="background: var(--2-icon-1);line-height: 42px">
          <van-icon name="sign" size="20px"></van-icon>
        </div>
        <div class="d-i w-b80 p-r t-8 l-10">
          <div class="f-s-18 ellipsis h-20 l-h-20">签到</div>
          <div class="f-s-12 c-6 ellipsis">
            进入签到
          </div>
        </div>
        <van-icon class="pull-r f-s-16 m-t-20 c-9" name="arrow"/>
      </div>

      <div @click="goActivity" class="p-b-t-5 p-l-r-10 bg-w m-b-t-10 b-b list">
        <div class="index" style="background: var(--2-icon-1);line-height: 42px">
          <van-icon name="point-gift" size="20px"></van-icon>
        </div>
        <div class="d-i w-b80 p-r t-8 l-10">
          <div class="f-s-18 ellipsis h-20 l-h-20">活动中心</div>
          <div class="f-s-12 c-6 ellipsis">
            进入活动中心
          </div>
        </div>
        <van-icon class="pull-r f-s-16 m-t-20 c-9" name="arrow"/>
      </div>

      <div v-if="chatSwitch" @click="goChat" class="p-b-t-5 p-l-r-10 bg-w m-b-t-10 b-b list">
        <div class="index" style="background: var(--2-icon-2);line-height: 42px">
          <van-icon name="chat-o" size="20px"></van-icon>
        </div>
        <div class="d-i w-b80 p-r t-8 l-10">
          <div class="f-s-18 ellipsis h-20 l-h-20">互动大厅</div>
          <div class="f-s-12 c-6 ellipsis">
            {{this.$store.state.newChatMsg}}
          </div>
        </div>
        <van-icon class="pull-r f-s-16 m-t-20 c-9" name="arrow"/>
      </div>

      <div v-if="chatSwitch" @click="chatAdmin" class="p-b-t-5 p-l-r-10 bg-w m-b-t-10 b-b list">
        <div class="index" style="background: var(--2-icon-2);line-height: 42px">
          <van-icon name="friends-o" size="20px"></van-icon>
        </div>
        <div class="d-i w-b80 p-r t-8 l-10">
          <div class="f-s-18 ellipsis h-20 l-h-20">联系管理员</div>
          <div class="f-s-12 c-6 ellipsis">
            点击联系管理员
          </div>
        </div>
        <van-icon class="pull-r f-s-16 m-t-20 c-9" name="arrow"/>
      </div>
    </div>
  </div>
</template>

<script>
  import {Dialog} from 'vant';
  import {Toast} from 'vant';
  import { mapState } from 'vuex';

  export default {
    data() {
      return {
        qdSwitchKey:false,
        dzpSwitchKey: false,
        platChat: {
          domainPlatToken: "",
          domainUrl: "",
          platformId: "",
          userToken: "",
        }, // 平台，用户token
        colorList: ["#ef8b84", "#69d184", "#5fd1c2", "#4585cf", "#c443b9", "#c44086", "#c53141", "#82d141"],
        activeList: [
          {
            title: '活动中心',

          }
        ], //活动列表
        chatMessage: [], // 聊天信息
      }
    },
    watch: {},
    created: function () {
      this.getUniversalSwitch(); // 大转盘,签到...开关
      this.userName = $sky.getCookie('username');
      this.getPlatChat(); // 获取 token
    },

    mounted: function () {

    },
    methods: {
      // 跳转管理员列表
      chatAdmin:function(){
        this.$router.push({
          path: '/adminList',
          query: {
            platChat: this.platChat
          },
        })
      },
      // 用户认证
      getAuthentication: function () {
        let param = {
          token: this.platChat.userToken,
        };
        $sky.ajax2('post', 'getAuthentication', param, (ret) => {
          if (ret.msg !== "用户账号已封") {
            this.chatUser = ret.data;
            this.initWebSocket();
          }else {
            this.black = true;
          }
        })
      },
      //获取聊天室usertoken
      getPlatChat: function () {
        $sky.ajax('get', 'native/getPlatChat', {}, (ret) => {
          if (ret.success) {
            this.platChat = ret.content;
            this.$store.state.domainUrl = ret.content.domainUrl;
            $sky.setCookie('domainUrl', ret.content.domainUrl);
          } else {
            if (ret.isLogin === false) {
              Toast(ret.msg);
              this.$router.push({
                path: '/login',
                query: {}
              })
            }
            this.loading = false;
            // Toast(ret.msg)
          }
        })
      },
      //初始化weosocket
      initWebSocket() {
        var websocket;
        //一  判断当前浏览器是否支持WebSocket
        if ('WebSocket' in window  && this.$store.state.socket === null) {
          const wsuri = "wss://chat.xbxb555.com/websocket?token=" + this.platChat.userToken;
          this.websock = new WebSocket(wsuri);
          this.$store.state.socket = this.websock;
          this.websock.onmessage = this.websocketonmessage;
          this.websock.onclose = this.websocketclose;
        }else if('WebSocket' in window  && this.$store.state.socket !== null){
          this.websock = this.$store.state.socket;
          this.websock.onmessage = this.websocketonmessage;
          this.websock.onclose = this.websocketclose;
        }else {
          alert('Not support websocket')
        }
        //ws地址
      },
      // 聊天数据接收
      websocketonmessage(e) {
        let redata = JSON.parse(e.data);
        if(redata.type==="ban"){
          Toast('您已被禁言');
          return
        }
        if(redata.type==="delete"){
          let cthis = this;
          this.chatMessage.forEach(function (item,index) {
            if(item.chat.content === redata.chat.content){
              cthis.chatMessage.splice(index, 1)
            }
          });
          return
        }
        // console.log(redata);
        if(redata.list){
          this.onlineUser = redata.list;
        }
        if (!this.chatUser) {
          if (redata.name === this.userName) {
            for (let k in redata.list) {
              k === this.userName ? this.chatUser = redata.list[k] : '';
            }
          }
        }
        // 私聊信息接收
        if (redata.type !== "notice" && redata.type !== "heart" && redata.chat && redata.chat.to !== "" && redata.chat.form !== this.userName) {
          this.$store.dispatch('addPrivateChat', redata)
        }
        if (redata.type !== "notice" && redata.type !== "heart" && redata.chat && redata.chat.to === "") {
          if(redata.chat.msgType === 5){
            redata.chat.content = '收到分享注单'
          }
          this.chatMessage.push(redata);
          this.$store.dispatch('setChatMsg', redata.chat.content)
        }
      },
      // 聊天数据发送
      websocketsend(agentData, type) {
        // if(this.chatUser.ban === -1){
        //   Toast('您已被禁言');
        //   return
        // }
        if (type === '1' ) {
          this.websock.send(JSON.stringify({
            chat: {
              content: agentData,
              form: this.chatUser.nickname,
              to: "",
              //接收人,如果没有则置空,如果有多个接收人则用,分隔
              id: this.chatUser.id,
              name: this.chatUser.name,
              level: this.chatUser.level,
              msgType: '1',
              headImg: this.chatUser.headImg
            },
            type: "message"
          }));
        } else {
          this.websock.send(JSON.stringify({
            chat: {
              content: agentData,
              form: this.chatUser.nickname,
              to: "",
              //接收人,如果没有则置空,如果有多个接收人则用,分隔
              id: this.chatUser.id,
              name: this.chatUser.name,
              level: this.chatUser.level,
              msgType: '2',
              imgWidth: this.imgSide.width,
              imgHeight: this.imgSide.height,
              headImg: this.chatUser.headImg
            },
            type: "message"
          }));
        }

        this.sendValue = '';
        setTimeout(function () {
          // 滚动到消息最底部
          $('.flexContent').scrollTop($('.messageBox').height())
        }, 500);
      },
      // 关闭websocket关闭
      websocketclose(e) {
        Toast("聊天室链接已断开");
      },

      // 大转盘,签到...开关
      getUniversalSwitch:function(){
        $sky.ajax('get', 'native/getUniversalSwitch', {}, (ret) => {
          let cthis = this;
          if(ret.success) {
            ret.content.forEach(function (item) {
              if(item.switchKey === 'isDzpOnOff'){
                item.onFlag === "off"? cthis.dzpSwitchKey=false:cthis.dzpSwitchKey=true;
              }
              if(item.switchKey === 'isQdOnOff'){
                item.onFlag === "off"? cthis.qdSwitchKey=false:cthis.qdSwitchKey=true;
              }
            })
            if (ret.redPack.switchKey === 'isRPOnOff'){
                ret.redPack.onFlag === "off" ? cthis.qhbSwitchKey=false:cthis.qhbSwitchKey=true;
                this.$store.commit("changeQhbSwitchKey",cthis.qhbSwitchKey)
            }
          } else {
            if(!ret.success){
              this.$router.push({
                path: '/login',
                query: {}
              })
            }
          }
        });
      },
      // 大转盘跳转
      godzp:function(){
        $sky.ajax('get', 'meminfo', {}, (ret) => {
          if(ret.login) {
            location.href = location.origin+'/mobile/v3/turnlate.do';
          } else {
            if(!ret.login){
              this.$router.push({
                path: '/login',
                query: {}
              })
            }
          }
        });
      },
      // 签到跳转
      goqd:function(){
        $sky.ajax('get', 'meminfo', {}, (ret) => {
          if(ret.login) {
            location.href = location.origin+'/mobile/v3/signIn.do';
          } else {
            if(!ret.login){
              this.$router.push({
                path: '/login',
                query: {}
              })
            }
          }
        });
      },
      // 聊天室跳转
      goChat: function () {
        // this.$router.push({
        //   path: '/chat'
        // })
        Toast.loading({
          message: '加载中...',
          forbidClick: true,
        });
        $sky.ajax('post', 'index/loginchat.do', {}, (ret) => {
          location.href = ret
            Toast.clear()
        })
      },
      //
      goActivity: function () {
        this.$router.push({
          path: '/activityCenter'
        })
      },
      //获取活动列表
      getActiveList: function () {
        $sky.ajax('post', 'native/active_infos', {}, (ret) => {
          if (ret.success) {
            this.activeList = ret.content;
          } else {
            if (!ret.isLogin) {
              this.$router.push({
                path: '/login',
                query: {}
              })
            }
          }
        })
      },
      details: function (item) {
        this.$router.push({
          path: '/activeDetails',
          query: item
        })
      },
    },
    computed: {
      ...mapState([
        "chatSwitch"
      ])
    }
  }
</script>
<style scoped>
  #index2 .flexContent .list:active {
    background: #ddd;
  }

  #index2 .index {
    position: relative;
    top: -6px;
    text-align: center;
    color: #fff;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    line-height: 40px;
  }

  #index2 .index span {
    position: relative;
    top: -2px;
    font-size: 14px;
    display: inline-block;
    border: 1px solid #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    padding: 2px;
  }
</style>
