<template>
    <div id="detailed">
      <van-nav-bar @click-left="back" left-arrow class="back" title=""  :title="notice.lotName"></van-nav-bar>
      <div style="padding-top: 44px">
        <!--<div @click="touzhu()" class="p-20 text-c c-r f-s-21 b-b" >直接投注</div>-->
        <van-list v-model="loading" :finished="finished" :offset="100" @load="onLoad" >
          <div v-for="(item,index) in data.list" :class="index%2==0? 'bg-w': 'bg-f0'" class="p-15">
            <div class="clear">
              <span class="pull-l f-s-16 c-3">第{{item.qiHao}}期</span>
              <span class="pull-r f-s-14 c-9">{{item.date}}{{item.time}}</span>
            </div>
            <!--北京赛车-->
            <div v-if="(notice.lotType === 3 || notice.lotType === 8 || notice.lotType === 53 || notice.lotType === 828 || notice.lotType === 158 )" class="p-b-t-5">
              <span v-for="hm in item.haoMaList" :class="'BJSC'+hm" class="kjhm d-i c-w bg-h text-c m-t-5 f-s-14" style="border-radius: 3px; margin-right: .2rem"></span><span class="m-t-5 d-i" style="height: 1.1rem">=</span> <span v-for="hm in (item.result.split(','))" class="kjhm d-i c-3 bg-h b-r-b50 text-c m-t-5 f-s-14 m-r-5 cqssc">{{hm}}</span>
            </div>
            <!--幸运农场-->
            <div v-if="notice.lotCode==='CQXYNC'" class="p-b-t-5">
              <span v-for="hm in item.haoMaList"  :class="'CQXYNC'+hm" class="kjhm d-i c-w bg-h text-c m-t-5 f-s-14 m-r-5" style="width: 1.8rem;height: 1.8rem"></span>
            </div>
            <!--时时彩-->
            <div v-if="(notice.lotType === 2 || notice.lotType === 9 || notice.lotType === 52 || notice.lotType === 929)" class="p-b-t-5">
              <span v-for="hm in item.haoMaList"  class=" bigbox d-i c-3 bg-h text-c m-t-5 f-s-21 m-r-5 cqssc" style="">{{hm}}</span>
              <span class="m-t-5 d-i bigbox text-c">=</span>
              <span v-for="hm in (item.result.split(','))" class="bigbox d-i c-3 bg-h b-r-b50 text-c m-t-5 f-s-21 m-r-5 cqssc">{{hm}}</span>
            </div>
            <!--快三-->
            <template v-if="floder == 'x002177' || floder == 'x002178' || floder == 'x002188' || floder == 'x002185'">
              <div v-if="(notice.lotType === 10 || notice.lotType === 100 || notice.lotType === 58 || notice.lotType === 102)" class="p-b-t-5">
                <span v-for="hm in item.haoMaList" :class="'JSSBx002177_'+hm"   class="bigbox d-i c-3 bg-h text-c m-t-5 f-s-21 m-r-5 cqssc"></span>
              </div>
            </template>
            <template v-else>
              <div v-if="(notice.lotType === 10 || notice.lotType === 100 || notice.lotType === 58 || notice.lotType === 102)" class="p-b-t-5">
                <span v-for="hm in item.haoMaList" :class="'JSSB'+hm"   class="bigbox d-i c-3 bg-h text-c m-t-5 f-s-21 m-r-5 cqssc"></span>
              </div>
            </template>
            <!--快乐十分-->
            <div v-if="(notice.lotType === 12  && notice.lotCode!=='CQXYNC')" class="p-b-t-5">
              <span v-for="hm in item.haoMaList"   class="bigbox d-i c-3 bg-h text-c m-t-5 f-s-21 m-r-5 HNKLSF">{{hm}}</span>
            </div>
            <!--六合彩-->
            <div v-if="(notice.lotType === 6 || notice.lotType === 66) " class="p-b-t-5">
              <span v-if="index<=5" v-for="(hm,index) in item.haoMaList" :class="getBg(hm)" class="bigbox d-i c-3 text-c m-t-5 f-s-18 m-r-5">{{hm}}</span>
              <span class="bigbox d-i c-3 text-c m-t-5 f-s-18 ">=</span>
              <span v-if="index>5" v-for="(hm,index) in item.haoMaList" :class="getBg(hm)" class="bigbox d-i c-3 text-c m-t-5 f-s-18 m-r-5 HNKLSF">{{hm}}</span>
            </div>
            <!--低频彩种-->
            <div v-if=" (notice.lotType === 15 || notice.lotType === 4 || notice.lotType === 54)">
              <span v-for="hm in item.haoMaList" class="bigbox d-i c-3 text-c m-t-5 f-s-18 m-r-5 dpc">{{hm}}</span>
            </div>
            <!--十一选五-->
            <div v-if="(notice.lotType === 14 || notice.lotType === 5 || notice.lotType === 55)">
              <span v-for="hm in item.haoMaList" class="bigbox d-i c-3 text-c m-t-5 f-s-18 m-r-5 syxw">{{hm}}</span>
              <span class="m-t-5 d-i bigbox text-c">=</span>
              <span v-for="hm in (item.result.split(','))" class="bigbox d-i c-3 bg-h b-r-b50 text-c m-t-5 f-s-21 m-r-5 syxw">{{hm}}</span>
          </div>
            <!--pc蛋蛋-->
          <div v-if=" (notice.lotType === 11 || notice.lotType === 7 || notice.lotType === 57 || notice.lotType === 161)">
            <span v-for="hm in item.haoMaList" :class="'jnd'+hm" class="kjhm d-i c-3 text-c m-t-5 f-s-18 m-r-5 pcdd" style="width: 1.8rem;height: 1.8rem;line-height: 1.8rem">{{hm}}</span>
          </div>
          </div>
        </van-list>

      </div>

    </div>
</template>

<script>

  export default {
    data(){
      return{
        loading: false,//是否加载状态
        finished: false,//是否已全部加载完成
        floder: this.$store.state.floder,
      }
    },
    props:['notice', 'showDetailed','data','lotMsg', 'bgColor'],
    created:function(){

    },
    methods:{
      getBg:function(num){
        for(let i in this.bgColor){
          if(this.bgColor[i].indexOf(num-0) !== -1){
            return i;
          }
        }
      },
      touzhu:function(){
        let path;
        switch (this.notice.lotCode) {
          case 'BJSC':
          case 'XYFT':
          case 'SFSC':
            path = '/pk10';
            break;
          case 'CQSSC':
          case 'TJSSC':
          case 'XJSSC':
          case 'FFC':
          case 'EFC':
          case 'SFC':
            path = '/ssc';
            break;
          case 'FCSD':
          case 'PLS':
            path = '/dpc';
            break;
          case 'GD11X5':
          case 'SD11X5':
          case 'JX11X5':
          case 'SH11X5':
            path = '/syxw';
            break;
          case 'SFLHC':
          case 'LHC':
            path = '/xgc';
            break;
          case 'JSSB3':
          case 'HBK3':
          case 'AHK3':
          case 'SHK3':
          case 'HEBK3':
          case 'GXK3':
          case 'JXK3':
          case 'XYK3':
            path = '/ks';
            break;
          case 'CQXYNC':
          case 'HNKLSF':
          case 'GBKLSF':
            path = '/klsf';
            break;
          case 'PCEGG':
          case 'JND28':
            path = 'pcdd';
            break;
        }
        this.$router.push({
          path: path,
          query: this.lotMsg
        })
      },
      onLoad:function(){
        setTimeout(() => {
          if(this.data.hasNext){
            let params = {
              lotCode:this.notice.lotCode,
              page : this.data.currentPageNo,//当前页
              rows:10,
            };
            $sky.ajax('get', 'native/draw_notice_details_data', params, (ret) => {
              if(ret.success) {
                for(let i in ret.content.list){
                  this.data.list.push(ret.content.list[i])
                }
                this.data.currentPageNo = this.data.currentPageNo + 1;
                this.loading = false;
              } else {
                if(!ret.isLogin) {
                  this.$router.push({
                    path: '/login',
                    query: {}
                  })
                }
              }
            })
          }else{
            this.loading = false;
            this.finished = true;
          }
        }, 500);
      },
      //后退按钮
      back: function () {
        this.$emit('closeDetailed')
      }
    }
  }
</script>

<style scoped>
#detailed .bigbox{
  width: 1.7rem;height: 1.7rem;line-height: 1.7rem
}
#detailed{
  width: 100%;
  height: 100%;
}
#detailed .van-nav-bar {
  z-index: 100 !important;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  background: var(--header-1);
  color: #fff;
}
.kjhm{
  width: 1.1rem;
  height: 1.1rem;
  line-height: 1.1rem;
  vertical-align: text-top;
}

.BJSC01{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/pk10_01.png") no-repeat scroll center;
}
.BJSC02{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/pk10_02.png") no-repeat scroll center;
}
.BJSC03{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/pk10_03.png") no-repeat scroll center;
}
.BJSC04{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/pk10_04.png") no-repeat scroll center;
}
.BJSC05{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/pk10_05.png") no-repeat scroll center;
}
.BJSC06{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/pk10_06.png") no-repeat scroll center;
}
.BJSC07{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/pk10_07.png") no-repeat scroll center;
}
.BJSC08{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/pk10_08.png") no-repeat scroll center;
}
.BJSC09{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/pk10_09.png") no-repeat scroll center;
}
.BJSC10{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/pk10_10.png") no-repeat scroll center;
}
.cqssc{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/ssc_bg.png") no-repeat scroll center center / 130%;
}
.JSSB1{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/k3_01.png") no-repeat scroll center center / 130%;
}
.JSSB2{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/k3_02.png") no-repeat scroll center center / 130%;
}
.JSSB3{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/k3_03.png") no-repeat scroll center center / 130%;
}
.JSSB4{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/k3_04.png") no-repeat scroll center center / 130%;
}
.JSSB5{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/k3_05.png") no-repeat scroll center center / 130%;
}
.JSSB6{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/k3_06.png") no-repeat scroll center center / 130%;
}
.JSSBx002177_1{
  background:rgba(0,0,0,0) url("../../../static/img/lottery/ks_x002177_1.png") no-repeat scroll center center / 130%;
}
.JSSBx002177_2{
  background:rgba(0,0,0,0) url("../../../static/img/lottery/ks_x002177_2.png") no-repeat scroll center center / 130%;
}
.JSSBx002177_3{
  background:rgba(0,0,0,0) url("../../../static/img/lottery/ks_x002177_3.png") no-repeat scroll center center / 130%;
}
.JSSBx002177_4{
  background:rgba(0,0,0,0) url("../../../static/img/lottery/ks_x002177_4.png") no-repeat scroll center center / 130%;
}
.JSSBx002177_5{
  background:rgba(0,0,0,0) url("../../../static/img/lottery/ks_x002177_5.png") no-repeat scroll center center / 130%;
}
.JSSBx002177_6{
  background:rgba(0,0,0,0) url("../../../static/img/lottery/ks_x002177_6.png") no-repeat scroll center center / 130%;
}

.CQXYNC01{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/1.png") no-repeat scroll center center / 130%;
}
.CQXYNC02{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/2.png") no-repeat scroll center center / 130%;
}
.CQXYNC03{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/3.png") no-repeat scroll center center / 130%;
}
.CQXYNC04{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/4.png") no-repeat scroll center center / 130%;
}
.CQXYNC05{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/5.png") no-repeat scroll center center / 130%;
}
.CQXYNC06{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/6.png") no-repeat scroll center center / 130%;
}
.CQXYNC07{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/7.png") no-repeat scroll center center / 130%;
}
.CQXYNC08{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/8.png") no-repeat scroll center center / 130%;
}
.CQXYNC09{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/9.png") no-repeat scroll center center / 130%;
}
.CQXYNC10{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/10.png") no-repeat scroll center center / 130%;
}
.CQXYNC11{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/11.png") no-repeat scroll center center / 130%;
}
.CQXYNC12{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/12.png") no-repeat scroll center center / 130%;
}
.CQXYNC13{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/13.png") no-repeat scroll center center / 130%;
}
.CQXYNC14{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/14.png") no-repeat scroll center center / 130%;
}
.CQXYNC15{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/15.png") no-repeat scroll center center / 130%;
}
.CQXYNC16{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/16.png") no-repeat scroll center center / 130%;
}
.CQXYNC17{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/17.png") no-repeat scroll center center / 130%;
}
.CQXYNC18{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/18.png") no-repeat scroll center center / 130%;
}
.CQXYNC19{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/19.png") no-repeat scroll center center / 130%;
}
.CQXYNC20{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/20.png") no-repeat scroll center center / 130%;
}
.HNKLSF{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/sfc_bg.png") no-repeat scroll center center / 130%;
}
.green_bg{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/lhc_lv.png") no-repeat scroll center center / 130%;
}
.red_bg{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/lhc_hong.png") no-repeat scroll center center / 130%;
}
.blue_bg{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/lhc_lan.png") no-repeat scroll center center / 130%;
}
.dpc{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/pl3_bg.png") no-repeat scroll center center / 130%;
}
.syxw{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/11x5_bg.png") no-repeat scroll center center / 130%;
}
.jnd0{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd0.png") no-repeat scroll center center / 100%;
}
.jnd1{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd1.png") no-repeat scroll center center / 100%;
}
.jnd2{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd2.png") no-repeat scroll center center / 100%;
}
.jnd3{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd3.png") no-repeat scroll center center / 100%;
}
.jnd4{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd4.png") no-repeat scroll center center / 100%;
}
.jnd5{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd5.png") no-repeat scroll center center / 100%;
}
.jnd6{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd6.png") no-repeat scroll center center / 100%;
}
.jnd7{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd7.png") no-repeat scroll center center / 100%;
}
.jnd8{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd8.png") no-repeat scroll center center / 100%;
}
.jnd9{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd9.png") no-repeat scroll center center / 100%;
}
.jnd10{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd10.png") no-repeat scroll center center / 100%;
}
.jnd11{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd11.png") no-repeat scroll center center / 100%;
}
.jnd12{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd12.png") no-repeat scroll center center / 100%;
}
.jnd13{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd13.png") no-repeat scroll center center / 100%;
}
.jnd14{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd14.png") no-repeat scroll center center / 100%;
}
.jnd15{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd15.png") no-repeat scroll center center / 100%;
}
.jnd16{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd16.png") no-repeat scroll center center / 100%;
}
.jnd17{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd17.png") no-repeat scroll center center / 100%;
}
.jnd18{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd18.png") no-repeat scroll center center / 100%;
}
.jnd19{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd19.png") no-repeat scroll center center / 100%;
}
.jnd20{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd20.png") no-repeat scroll center center / 100%;
}
.jnd21{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd21.png") no-repeat scroll center center / 100%;
}
.jnd22{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd22.png") no-repeat scroll center center / 100%;
}
.jnd23{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd23.png") no-repeat scroll center center / 100%;
}
.jnd24{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd24.png") no-repeat scroll center center / 100%;
}
.jnd25{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd25.png") no-repeat scroll center center / 100%;
}
.jnd26{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd26.png") no-repeat scroll center center / 100%;
}
.jnd27{
  background:rgba(0,0,0,0) url("../../../static/img/lottery_img/jnd27.png") no-repeat scroll center center / 100%;
}

</style>
