<template>
  <div class="footer">
    <div>
      <van-row type="flex">
<!--        <van-col span="6" v-if="$store.state.isLogin && $store.state.userInfo.dis_play == 0">-->
        <van-col span="6">
          <router-link to="/invest" :class="{active:$route.path == '/invest'}">
            <img v-if="$route.path == '/invest'" src="../../assets/images/icon/touzi_1.png" alt="">
            <img v-else src="../../assets/images/icon/touzi.png" alt="">
            <br>
            <span>理财</span>
          </router-link>
        </van-col>
        <van-col span="6">
          <router-link to="/index1" :class="{active:$route.path == '/index1'}">
            <img v-if="$route.path == '/index1'" src="../../assets/images/icon/home_1.png" alt="">
            <img v-else src="../../assets/images/icon/home.png" alt="">
            <br>
            <span>首页</span>
          </router-link>
        </van-col>
        <van-col span="6">
          <router-link to="/licai" :class="{active:$route.path == '/licai'}" v-if="$store.state.type == 1">
            <img v-if="$route.path == '/licai'" src="../../assets/images/icon/fangyi_1.png" alt="">
            <img v-else src="../../assets/images/icon/fangyi.png" alt="">
            <br>
            <span>抗疫</span>
          </router-link>
          <router-link to="/index2" :class="{active:$route.path == '/index2'}" v-if="$store.state.type == 2">
            <img v-if="$route.path == '/index2'" src="../../assets/images/icon/fangyi_1.png" alt="">
            <img v-else src="../../assets/images/icon/fangyi.png" alt="">
            <br>
            <span>知识答题</span>
          </router-link>
        </van-col>
<!--        <van-col span="6">-->
<!--          <router-link to="/huishou" :class="{active:$route.path == '/huishou'}">-->
<!--            <img v-if="$route.path == '/huishou'" src="../../assets/images/icon/assignment_1.png" alt="">-->
<!--            <img v-else src="../../assets/images/icon/assignment.png" alt="">-->
<!--            <br>-->
<!--            <span>回收</span>-->
<!--          </router-link>-->
<!--        </van-col>-->
        <van-col span="6">
          <router-link to="/assignment" :class="{active:$route.path == '/assignment'}">
            <img v-if="$route.path == '/assignment'" src="../../assets/images/icon/assignment_1.png" alt="">
            <img v-else src="../../assets/images/icon/assignment.png" alt="">
            <br>
            <span>任务</span>
          </router-link>
        </van-col>
        <van-col span="6">
          <router-link to="/personal" :class="{active:$route.path == '/personal'}">
            <img v-if="$route.path == '/personal'" src="../../assets/images/icon/personal_1.png" alt="">
            <img v-else src="../../assets/images/icon/personal.png" alt="">
            <br>
            <span>我的</span>
          </router-link>
        </van-col>
        <van-col span="6">
          <a href="https://chatlink.mstatik.com/widget/standalone.html?eid=f2a7b6268a3551f63deb3d561d11aa88">
            <van-icon name="service" size="23" />
            <br>
            <span>客服</span>
          </a>
        </van-col>
      </van-row>
<!--      <van-row type="flex" v-if="$store.state.isLogin && $store.state.userInfo.dis_play == 0">-->
<!--        <van-col span="6">-->
<!--          <router-link to="/invest" :class="{active:$route.path == '/invest'}">-->
<!--            <img v-if="$route.path == '/invest'" src="../../assets/images/icon/touzi_1.png" alt="">-->
<!--            <img v-else src="../../assets/images/icon/touzi.png" alt="">-->
<!--            <br>-->
<!--            <span>投资</span>-->
<!--          </router-link>-->
<!--        </van-col>-->
<!--        <van-col span="4">-->
<!--          <router-link to="/licai" :class="{active:$route.path == '/licai'}" v-if="$store.state.type == 1">-->
<!--            <img v-if="$route.path == '/licai'" src="../../assets/images/icon/fangyi_1.png" alt="">-->
<!--            <img v-else src="../../assets/images/icon/fangyi.png" alt="">-->
<!--            <br>-->
<!--            <span>抗疫</span>-->
<!--          </router-link>-->
<!--          <router-link to="/index2" :class="{active:$route.path == '/index2'}" v-if="$store.state.type == 2">-->
<!--            <img v-if="$route.path == '/index2'" src="../../assets/images/icon/fangyi_1.png" alt="">-->
<!--            <img v-else src="../../assets/images/icon/fangyi.png" alt="">-->
<!--            <br>-->
<!--            <span>知识答题</span>-->
<!--          </router-link>-->
<!--        </van-col>-->
<!--        <van-col span="6">-->
<!--          <router-link to="/" :class="{active:$route.path == '/'}">-->
<!--            <img v-if="$route.path == '/'" src="../../assets/images/icon/home_1.png" alt="">-->
<!--            <img v-else src="../../assets/images/icon/home.png" alt="">-->
<!--            <br>-->
<!--            <span>首页</span>-->
<!--          </router-link>-->
<!--        </van-col>-->
<!--        <van-col span="6">-->
<!--          <router-link to="/huishou" :class="{active:$route.path == '/huishou'}">-->
<!--            <img v-if="$route.path == '/huishou'" src="../../assets/images/icon/assignment_1.png" alt="">-->
<!--            <img v-else src="../../assets/images/icon/assignment.png" alt="">-->
<!--            <br>-->
<!--            <span>回收</span>-->
<!--          </router-link>-->
<!--        </van-col>-->

<!--        <van-col span="4">-->
<!--          <router-link to="/assignment" :class="{active:$route.path == '/assignment'}">-->
<!--            <img v-if="$route.path == '/assignment'" src="../../assets/images/icon/assignment_1.png" alt="">-->
<!--            <img v-else src="../../assets/images/icon/assignment.png" alt="">-->
<!--            <br>-->
<!--            <span>任务</span>-->
<!--          </router-link>-->
<!--        </van-col>-->
<!--        <van-col span="6">-->
<!--          <router-link to="/personal" :class="{active:$route.path == '/personal'}">-->
<!--            <img v-if="$route.path == '/personal'" src="../../assets/images/icon/personal_1.png" alt="">-->
<!--            <img v-else src="../../assets/images/icon/personal.png" alt="">-->
<!--            <br>-->
<!--            <span>我的</span>-->
<!--          </router-link>-->
<!--        </van-col>-->
<!--        <van-col span="6">-->
<!--          <a href="https://chatlink123.meiqia.cn/widget/standalone.html?eid=f2a7b6268a3551f63deb3d561d11aa88">-->
<!--            <van-icon name="service" size="23" />-->
<!--            <br>-->
<!--            <span>客服</span>-->
<!--          </a>-->
<!--        </van-col>-->
<!--      </van-row>-->
<!--      <van-row type="flex" v-else>-->
<!--        <van-col span="6">-->
<!--          <router-link to="/" :class="{active:$route.path == '/'}">-->
<!--            <img v-if="$route.path == '/'" src="../../assets/images/icon/home_1.png" alt="">-->
<!--            <img v-else src="../../assets/images/icon/home.png" alt="">-->
<!--            <br>-->
<!--            <span>首页</span>-->
<!--          </router-link>-->
<!--        </van-col>-->
<!--        <van-col span="6">-->
<!--          <router-link to="/huishou" :class="{active:$route.path == '/huishou'}">-->
<!--            <img v-if="$route.path == '/huishou'" src="../../assets/images/icon/assignment_1.png" alt="">-->
<!--            <img v-else src="../../assets/images/icon/assignment.png" alt="">-->
<!--            <br>-->
<!--            <span>回收</span>-->
<!--          </router-link>-->
<!--        </van-col>-->
<!--        <van-col span="6">-->
<!--          <router-link to="/invest" :class="{active:$route.path == '/invest'}" v-if="$store.state.type == 1">-->
<!--            <img v-if="$route.path == '/invest'" src="../../assets/images/icon/fangyi_1.png" alt="">-->
<!--            <img v-else src="../../assets/images/icon/fangyi.png" alt="">-->
<!--            <br>-->
<!--            <span>投资</span>-->
<!--          </router-link>-->
<!--          <router-link to="/index2" :class="{active:$route.path == '/index2'}" v-if="$store.state.type == 2">-->
<!--            <img v-if="$route.path == '/index2'" src="../../assets/images/icon/fangyi_1.png" alt="">-->
<!--            <img v-else src="../../assets/images/icon/fangyi.png" alt="">-->
<!--            <br>-->
<!--            <span>知识答题</span>-->
<!--          </router-link>-->
<!--        </van-col>-->
<!--        <van-col span="6">-->
<!--          <router-link to="/assignment" :class="{active:$route.path == '/assignment'}">-->
<!--            <img v-if="$route.path == '/assignment'" src="../../assets/images/icon/assignment_1.png" alt="">-->
<!--            <img v-else src="../../assets/images/icon/assignment.png" alt="">-->
<!--            <br>-->
<!--            <span>任务</span>-->
<!--          </router-link>-->
<!--        </van-col>-->
<!--        <van-col span="6">-->
<!--          <router-link to="/personal" :class="{active:$route.path == '/personal'}">-->
<!--            <img v-if="$route.path == '/personal'" src="../../assets/images/icon/personal_1.png" alt="">-->
<!--            <img v-else src="../../assets/images/icon/personal.png" alt="">-->
<!--            <br>-->
<!--            <span>我的</span>-->
<!--          </router-link>-->
<!--        </van-col>-->
<!--        <van-col span="6">-->
<!--          <a href="https://chatlink123.meiqia.cn/widget/standalone.html?eid=f2a7b6268a3551f63deb3d561d11aa88">-->
<!--            <van-icon name="service" size="23" />-->
<!--            <br>-->
<!--            <span>客服</span>-->
<!--          </a>-->
<!--        </van-col>-->
<!--      </van-row>-->
    </div>
  </div>
</template>

<script>
import '@/assets/css/include/footer.less'
export default {
  name: "foot_nav",
  data() {
    return {
    }
  },
  created() {
  },
  mounted() {
  },
  methods: {}
}
</script>

<style scoped>

</style>
