<template>
	<view class="gift">
		<view class="status_bar"></view>
		<view class="public_header" style="justify-content: center;padding-left: 0;">
			礼品专区
		</view>
		<view class="list" v-if="activeList.length > 0">
			<view class="active" v-for="(item, index) in activeList" :key="index">
				<view class="title" @click="activeShow == index ? activeShow = 9999 : activeShow = index">
					<img :src="item.titleImgUrl" alt="">
				</view>
				<view class="content" v-html="item.content" v-show="activeShow == index"></view>
			</view>
		</view>
		<view class="no-data" v-else>
			<p>
				<image src="../../static/images/no-data.56c1aed8.png"></image>
			</p>
			<p>暂无数据</p>
		</view>
	</view>
</template>

<script>
	export default {
		name: "gift",
		data() {
			return {
				activeList: [],
				activeShow: '9999',
			}
		},
		created() {
			this.activeContent()
		},
		onLoad() {
		},
		onPullDownRefresh() {
			this.activeContent()
		},
		methods: {
			activeContent() {
				this.$Request.get('/native/active_infos.do', {}, false).then(res => {
					if (res.success == true) {
						this.activeList = res.content
					}
					uni.stopPullDownRefresh();
				})
			},
		}
	}
</script>

<style lang="scss">
	@import '../../static/css/tabs/gift.scss';
</style>