<template>
	<view class="index">
		<view class="status_bar"></view>
		<view class="header" v-if="!token">
			<text @click="$common.toPath('/pages/login/register')">注册</text>
			<text @click="$common.toPath('/pages/login/login')">登录</text>
		</view>
		<view class="header" v-else>
			<span>
				<image src="../../static/images/avatar.png"></image>{{money}}
			</span>
			<span @click="$common.toPath('/pages/center/message')"><uni-icons type="email" size="30" color="#ffffff"></uni-icons></span>
		</view>
		<view class="notice">
			<uni-notice-bar single scrollable :text="noticeText" speed="10" background-color="#ffffff"
				color="#FF5035"></uni-notice-bar>
		</view>
		<view class="hot-merchant">
			<view class="title">
				<text class="label">热门商家</text>
			</view>
			<view class="index_margin">
				<view class="content-block">
					<view class="box" v-for="(item, index) in lotteryList.slice(0,8)" :key="index">
						<view class="group" style="display: flex;align-items: center;" @click="$common.toPath('/pages/bet/bet?code='+item.code+'&lotGroup='+item.lotGroup+'&class=lobby')">
							<img :src="item.imgUrl" alt="">
							<view class="right">
								<span>{{item.name}}</span>
							</view>
						</view>
					</view>
				</view>
			</view>
		</view>
		<view class="hot-merchant">
			<view class="title">
				<text class="label">收益专栏</text>
			</view>
			<view class="win-menu" id="winMenuWrap">
				<ul id="winMenu">
					<li v-for="(item,index) in rollList" :key="index" class="item" v-if="index < 3">
						<view class="menu-item">
							<img :src="item.headUrl" alt="user">
							<span>{{item.account}}</span>
						</view>
						<p>在 {{item.type}} 赚取佣金收益<span
								style="color: red;padding: 0 3px;">{{item.winMoney || 500}}</span>{{unit}}</p>
					</li>
				</ul>
			</view>
		</view>
		<view class="activity">
			<view class="box" v-if="signSwitch" @click="webViewLink(2)">
				<image src="../../static/images/checkIn.jpg"></image>
			</view>
			<view class="box" v-if="dialSwitch" @click="webViewLink(3)">
				<image src="../../static/images/turntable.jpg"></image>
			</view>
		</view>
		<view class="red-box" v-if="redPackSwitch" @click="webViewLink(4)">
			<image src="../../static/images/rt-ad-m.6610b1ee.png"></image>
		</view>
		<float></float>
	</view>
</template>

<script>
	import float from '../include/float'
	export default {
		data() {
			return {
				noticeText: '',
				lotteryList: '',
				rollList: '',
				token: '',
				money: '',
				signSwitch: false,
				dialSwitch: false,
				redPackSwitch: false,
				unit: '',
			}
		},
		components:{
		   float
		},
		created() {
			this.token = uni.getStorageSync('token')
			uni.setStorageSync('unit','抖币')
			uni.setStorageSync('moneyType','优品|统货|单件|双件')
			uni.setStorageSync('moneyTypeInfo',[{name:'大',showName:'优品'},{name:'小',showName:'统货'},{name:'单',showName:'单件'},{name:'双',showName:'双件'},])
			this.unit = uni.getStorageSync('unit')
		},
		onPullDownRefresh(){
			this.getHomeData()
			this.getRollList()
			this.getPopNotices()
			this.getUniversalSwitch()
			this.accountInfo()
			uni.stopPullDownRefresh();
		},
		onLoad() {
			this.getHomeData()
			this.getRollList()
			this.getPopNotices()
			this.getUniversalSwitch()
			this.accountInfo()
		},
		mounted() {

		},
		methods: {
			webViewLink(type){
				if(this.token){
					this.$common.toPath('/pages/other/webviewPage?type='+type)
				} else {
					uni.showToast({
						title: '请先登录',
						icon: 'none',
						duration: 2000
					});
				}
			},
			getHomeData() {
				this.$Request.get('/native/getHomeData.do', {}, false).then(res => {
					if (res.success) {
						res.content.some((item, index) => {
							if (item.dataCode == '4') {
								this.lotteryList = item.lotterys
							}
						})
					}
				})
			},
			accountInfo() {
				let that = this
				uni.request({
					url: this.$config.API + '/native/accountInfo.do',
					data: {},
					method: 'GET',
					header: {
						"content-type": 'application/x-www-form-urlencoded',
					},
					success: function(result) {
						if (result.data.msg == '登陆超时,请重新登陆系统') {
							uni.setStorageSync('token', '')
							that.token = ''
						} else {
							uni.setStorageSync('token', result.data.accessToken)
							that.money = that.$common.splitNum(result.data.content.money)
						}
					},
					fail: function(e) {
						console.log(e)
					}
				})
			},
			getRollList() {
				this.$Request.get('/native/getWinData.do', {}, false).then(res => {
					if (res.success) {
						this.rollList = res.content
					}
				})
			},
			getPopNotices() {
				this.$Request.get('/native/getPopNotices.do?code=13', {}, false).then(res => {
					if (res.success) {
						if (res.content.length > 0) {
							this.noticeText = res.content[0].content
						}
					}
				})
			},
			getUniversalSwitch() {
				this.$Request.get('/native/getUniversalSwitch.do', {}, false).then(res => {
					if (res.success) {
						res.content[0].onFlag === 'on' ? this.signSwitch = true : this.signSwitch = false; // 签到开关
						res.content[1].onFlag === 'on' ? this.dialSwitch = true : this.dialSwitch = false; // 转盘开关
						res.redPack.onFlag === 'on' ? this.redPackSwitch = true : this.redPackSwitch =
							false; // 红包开关
					}
				})
			},
		}
	}
</script>

<style scoped lang="scss">
	@import '../../static/css/tabs/index.scss';
</style>