<template>
	<view class="order">
		<view class="status_bar"></view>
		<view class="public_header" style="justify-content: center;padding-left: 0;">
			订单记录 <span class="button" @click="$refs.filterPopup.open()">筛选</span>
		</view>
		<view class="list" v-if="orderList.length > 0">
			<view class="box" v-for="(item, index) in orderList" :key="index" @click="getBcLotteryOrderDetail(item)">
				<view class="row">
					<text>商家：{{item.lotName}}</text>
					<text>{{unit}}：<span class="num">{{item.buyMoney}}</span>个</text>
				</view>
				<view class="row">
					<text>内容：{{drawData(item.haoMa)}}</text>
					<text v-if="item.status == 1  && cancelSwitch">取消匹配</text>
				</view>
				<view class="row">
					<text>时间：{{item.createTime}}</text>
					<text>
						<span class="status1" v-if="item.status == 1">匹配中</span>
						<span class="status2" v-else-if="item.status == 2">匹配成功</span>
						<span class="status3" v-else>匹配失败</span>
					</text>
				</view>
				<view class="row">
					<text>期号：{{item.qiHao}}</text>
				</view>
			</view>
			<view class="tip">
				<span v-if="page < totalPageCount">下拉加载更多</span>
				<span v-else>已经到底了</span>
			</view>
		</view>
		<view class="no-data" v-else>
			<p>
				<image src="../../static/images/no-data.56c1aed8.png"></image>
			</p>
			<p>暂无数据</p>
		</view>
		<uni-popup ref="filterPopup" type="top">
			<view class="filter-box" :style="{height:`${clienHeight}px`}">
				<view class="close">
					<uni-icons type="closeempty" size="25" color="#ffffff" @click="close()"></uni-icons>
				</view>
				<view class="header">
					筛选条件
				</view>
				<view class="input">
					<view class="row">
						<view class="label">时间</view>
						<view style="color: red;">
							<uni-datetime-picker type="range" :value="[filterDate.start,filterDate.end]"
								@change="change" />
						</view>
					</view>
					<view class="row">
						<view class="label">商家</view>
						<view @click="codeSwitch = true;statusSwitch = false">
							<picker @change="bindPickerChangeCode" :value="codeIndex" :range="codeLabelList">
								<view class="uni-input">{{codeLabelList[codeIndex]}}</view>
							</picker>
						</view>
					</view>
					<view class="row">
						<view class="label">状态</view>
						<view @click="statusSwitch = true;codeSwitch = false">
							<picker @change="bindPickerChangeStatus" :value="statusIndex" :range="statusList">
								<view class="uni-input">{{statusList[statusIndex]}}</view>
							</picker>
						</view>
					</view>
				</view>
				<view class="button" @click="getLotteryOrder('reset')"><button>查询</button></view>
			</view>
		</uni-popup>
		<uni-popup ref="detailPopup" type="top" mask-background-color="rgba(255,255,255)">
			<view class="detail-box">
				<view class="close">
					<uni-icons type="closeempty" size="25" color="#ffffff" @click="close()"></uni-icons>
				</view>
				<view class="header">
					订单详情
				</view>
				<view class="bg">
					<view class="img">
						<image :src="detailsData.imgUrl"></image>
					</view>
				</view>
				<view class="name">{{detailsData.lotName}}</view>
				<view class="orderId">订单号：<span>{{detailsData.orderId}}</span></view>
				<view class="detail-content">
					<table border="0" cellpadding="0" cellspacing="0">
						<tbody>
							<tr>
								<td class="bttd"> 姓名 </td>
								<td>{{detailsData.account}}</td>
								<td class="bttd">下单金额</td>
								<td style="width: 15%;">{{ (detailsData.buyMoney/detailsData.model).toFixed(2) }}</td>
							</tr>
							<tr>
								<td class="bttd">下单时间</td>
								<td>{{detailsData.createTime}}</td>
								<td class="bttd">下单数量</td>
								<td>{{detailsData.buyZhuShu}}</td>
							</tr>
							<tr>
								<td class="bttd">下单期号</td>
								<td>{{detailsData.qiHao}}</td>
								<td class="bttd">分销结果</td>
								<td>{{detailsData.winMoney ? detailsData.winMoney : 0.00}}</td>
							</tr>
							<tr>
								<td class="bttd">匹配结果</td>
								<td colspan="3" style="color:#5cb85c;" v-if="detailsData.status == 2">匹配成功</td>
								<td colspan="3" style="color:#0894ec " v-else-if="detailsData.status == 1">匹配中</td>
								<td colspan="3" style="color:#ec2829 " v-else>{{ listStatus(detailsData.status)}}</td>
							</tr>
							<tr>
								<td class="bttd">下单内容</td>
								<td colspan="3">{{drawData(detailsData.haoMa) }}</td>
							</tr>
						</tbody>
					</table>
					<view class="matches">
						<image src="/static/images/order-error.png" alt="error" v-if="detailsData.status != 2"></image>
						<image src="/static/images/order-success.png" alt="success" v-else></image>
					</view>
				</view>
				<view class="button"><button>再来一单</button></view>
			</view>
		</uni-popup>
	</view>
</template>

<script>
	export default {
		name: "order",
		data() {
			return {
				page: 1,
				orderList: [],
				cancelSwitch: false,
				totalCount: 0,
				totalPageCount: 0,
				filterDate: {
					start: '',
					end: '',
				},
				statusSwitch: false,
				statusIndex: 0,
				statusList: ['全部', '未匹配', '匹配成功', '匹配失败', '取消匹配', ],
				codeSwitch: false,
				codeIndex: 0,
				codeLabelList: ['全部'],
				codeList: [],
				code: '',
				detailsData: '',
				unit: '',
				clienHeight:0,
			}
		},
		created() {
			this.filterDate.start = this.$common.getMyDate(+new Date(), 2)
			this.filterDate.end = this.$common.getMyDate(+new Date(), 2)
			this.getLotteryList()
			this.getLotteryOrder()
			this.getClineHeight()
			this.unit = uni.getStorageSync('unit')
		},
		onLoad() {},
		onReachBottom() {
			if (this.page < this.totalPageCount) {
				this.page++
				this.getLotteryOrder()
			}
		},
		onPullDownRefresh() {
			this.resetData()
			this.getLotteryOrder()
		},
		methods: {
			getClineHeight() {
				const res = uni.getSystemInfo({
					success: (res => {
						this.clienHeight = (res.windowHeight - res.windowBottom)
					})
				});
			},
			getLotteryOrder(type) {
				if (type == 'reset') {
					this.page = 1
					this.close()
				}
				let params = {
					startTime: this.filterDate.start + ' 00:00:00',
					endTime: this.filterDate.end + ' 23:59:59',
					code: this.code,
					status: this.statusIndex == 0 ? '' : this.statusIndex,
					page: this.page,
					rows: 6,
					lhc: 0,
				}
				this.$Request.post('/native/get_lottery_order.do', params, true).then(res => {
					if (type == 'reset') {
						this.orderList = res.page.list
					} else {
						for (let i in res.page.list) {
							this.orderList.push(res.page.list[i]);
						}
					}
					this.cancelSwitch = res.cancel_switch = 'on' ? true : false
					this.totalCount = res.page.totalCount
					this.totalPageCount = res.page.totalPageCount
					uni.stopPullDownRefresh();
				})
			},
			getBcLotteryOrderDetail(item) {
				let params = {
					orderId: item.orderId,
					lotCode: item.lotCode,
				}
				this.$Request.get('/native/getBcLotteryOrderDetail.do', params, true).then(res => {
					if (res) {
						this.detailsData = res.content;
						this.detailsData.imgUrl = item.imgUrl
						this.detailsData.lotCode = item.lotCode
						this.$refs.detailPopup.open()
					}
				})
			},
			getLotteryList() {
				this.$Request.get('/native/getLotteryList.do', {}, false).then(res => {
					for (let index in res.bcList) {
						this.codeLabelList.push(res.bcList[index].name)
					}
					this.codeList = res.bcList
				})
			},
			listStatus(status) {
				if (!status) return
				switch (status) {
					case 1:
						return '匹配中';
					case 2:
						return '匹配成功';
					case 4:
						return '取消匹配';
					case 8:
						return '和局';
					case 3:
						return '匹配失败';
				}
			},
			drawData(value) {
				if (!value) return
				switch (value) {
					case '大':
						return '优品';
					case '小':
						return '统货';
					case '单':
						return '单件';
					case '双':
						return '双件';
				}
			},
			close() {
				this.$refs.filterPopup.close()
				this.$refs.detailPopup.close()
			},
			change(e) {
				this.filterDate.start = e[0]
				this.filterDate.end = e[1]
			},
			bindPickerChangeCode: function(e) {
				this.codeIndex = e.detail.value
				if (this.codeIndex == 0) {
					this.code = ''
				} else {
					this.code = this.codeList[this.codeIndex].code
				}
			},
			bindPickerChangeStatus: function(e) {
				this.statusIndex = e.detail.value
				if (this.statusIndex == 0) {
					this.statusIndex = ''
				}
			},
			resetData() {
				this.page = 1
				this.orderList = []
				this.cancelSwitch = false
				this.totalCount = 0
				this.totalPageCount = 0
				this.filterDate.start = this.$common.getMyDate(+new Date(), 2)
				this.filterDate.end = this.$common.getMyDate(+new Date(), 2)
				this.statusIndex = 0
				this.codeIndex = 0
				this.codeLabelList = ['全部']
				this.codeList = []
				this.code = ''
			},
		}
	}
</script>

<style lang="scss">
	@import '../../static/css/tabs/order.scss';
</style>