<template>
	<view class="personal">
		<view class="header">
			<view class="info">
				<image :src="userInfo.headUrl || 'https://xb774.com/mobile/v3/images/touxiang.png'"></image>
				<text>账号：{{userInfo.account}}</text>
			</view>
			<view class="money">
				<span>{{money}}{{unit}}</span>
				<span @click="getMeminfo()"><uni-icons type="refreshempty" size="20"></uni-icons></span>
			</view>
		</view>
		<view class="money-operate">
			<view class="box" @click="$common.toPath('/pages/other/webviewPage?type=5')"><uni-icons type="shop"
					size="20" color="#FF5035"></uni-icons>购币</view>
			<view class="box" @click="withdraw()"><uni-icons type="wallet" size="20" color="#FF5035"></uni-icons>回款
			</view>
		</view>
		<view class="record">
			<view class="box" @click="$common.toPath('/pages/center/mnyrecord')">
				<p><uni-icons custom-prefix="iconfont" type="icon-jiaoyiliushuibiandong" size="24"
						color="#666"></uni-icons></p>
				<p>变动记录</p>
			</view>
			<view class="box" @click="$common.toPath('/pages/center/accountDetails')">
				<p><uni-icons custom-prefix="iconfont" type="icon-goumai" size="24" color="#666"></uni-icons></p>
				<p>购单记录</p>
			</view>
			<view class="box" @click="toOrder()">
				<p><uni-icons custom-prefix="iconfont" type="icon-dingdan" size="24" color="#666"></uni-icons></p>
				<p>订单记录</p>
			</view>
		</view>
		<view class="menu">
			<view class="list" v-for="(item,index) in menuList" :key="index" @click="$common.toPath(item.path)">
				<span><uni-icons :type="item.icon" size="26" color="#FF5035"></uni-icons>{{item.label}}</span>
				<span><uni-icons type="forward" size="20"></uni-icons></span>
			</view>
		</view>
		<view class="button" style="margin-top: 100rpx;">
			<button @click="goOut()">退出登录</button>
		</view>
		<u-modal :show="setPassShow" @confirm="confirm(1)" @cancel="setPassShow = false" title="提示"
			content='您还未设置资金密码，是否现在设置？' showCancelButton></u-modal>
		<u-modal :show="bindBankShow" @confirm="confirm(2)" @cancel="bindBankShow = false" title="提示"
			content='您还未绑定收货地址，是否现在绑定？' showCancelButton></u-modal>
	</view>
</template>

<script>
	export default {
		name: "personal",
		data() {
			return {
				money: '',
				userInfo: '',
				unit: '',
				setPassShow: false,
				bindBankShow: false,
				menuList: [{
						label: '我的消息',
						icon: 'chat-filled',
						path: '/pages/center/message'
					},
					{
						label: '收货地址',
						icon: 'location-filled',
						path: '/pages/center/address'
					},
					{
						label: '专属客服',
						icon: 'staff-filled',
						path: '/pages/other/webviewPage?type=1'
					},
					{
						label: '登录密码',
						icon: 'locked-filled',
						path: '/pages/center/password?type=1'
					},
					{
						label: '资金密码',
						icon: 'circle-filled',
						path: '/pages/center/password?type=2'
					},
					{
						label: '钱包地址',
						icon: 'navigate-filled',
						path: '/pages/center/usdtAddress'
					},
				],
			}
		},
		created() {
			this.accountInfo()
			this.unit = uni.getStorageSync('unit')
		},
		onLoad() {

		},
		onPullDownRefresh() {
			this.accountInfo()
		},
		methods: {
			accountInfo() {
				uni.showLoading();
				uni.request({
					url: this.$config.API + '/native/accountInfo.do',
					data: {},
					method: 'GET',
					header: {
						"content-type": 'application/x-www-form-urlencoded',
					},
					success: (result) => {
						if (result.data.msg == '登陆超时,请重新登陆系统') {
							uni.setStorageSync('token', '')
							this.token = ''
							this.$common.toPath('/pages/login/login')
						} else {
							uni.setStorageSync('token', result.data.accessToken)
							this.userInfo = result.data.content
							uni.setStorageSync('userInfo', result.data.content)
							this.money = this.$common.splitNum(result.data.content.money)
						}
						uni.stopPullDownRefresh();
						uni.hideLoading()
					},
					fail: () => {
						uni.hideLoading()
					}
				})
			},
			getMeminfo() {
				this.$Request.get('/native/meminfo.do', {}, true).then(res => {
					if (res.success) {
						if (res.content.balance != 0) {
							this.money = this.$common.splitNum(res.content.balance)
						}
					}
				})
			},
			goOut() {
				this.$Request.get('/native/logout.do', {}, true).then(res => {
					if (res.success) {
						uni.showToast({
							title: '退出成功',
							icon: 'none',
							duration: 2000
						});
						uni.setStorageSync('token', '')
						setTimeout(() => {
							uni.reLaunch({
								url: '/pages/tabs/index',
							})
						}, 2000)
					}
				})
			},
			withdraw() {
				if (!this.userInfo.receiptPwd && !this.set_receipt_pwd && this.userInfo !== '') { //提款密码
					this.setPassShow = true
				} else if (this.userInfo.cardNo === '' && this.userInfo.walletAddress === '') { //卡号
					this.bindBankShow = true
				} else {
					this.$common.toPath('/pages/center/withdraw')
				}
			},
			confirm(type) {
				if (type == 1) {
					this.$common.toPath('/pages/center/password?type=2')
				} else {
					this.$common.toPath('/pages/center/bindCard')
				}
			},
			toOrder() {
				uni.reLaunch({
					url: '/pages/tabs/order',
				})
			},
		}
	}
</script>

<style lang="scss">
	@import '../../static/css/tabs/personal.scss';
</style>