<template>
	<view class="shop">
		<view class="status_bar"></view>
		<view class="public_header" style="justify-content: center;padding-left: 0;">
			商家购物大厅
		</view>
		<view class="container">
			<ul class="content" v-if="lotteryList">
				<li class="list" v-for="(item,index) in lotteryList" :key="index" @click="toBet(item)">
					<image :src="item.imgUrl"></image>
					<br>
					<span>{{item.name}}</span>
				</li>
			</ul>
		</view>
	</view>
</template>

<script>
	export default {
		name: "shop",
		data() {
			return {
				lotteryList: '',
			}
		},
		created() {
			this.getHomeData()
		},
		onLoad() {},
		onPullDownRefresh() {
			this.getHomeData()
		},
		methods: {
			getHomeData() {
				this.$Request.get('/native/getHomeData.do', {}, false).then(res => {
					if (res.success) {
						res.content.some((item, index) => {
							if (item.dataCode == '4') {
								this.lotteryList = item.lotterys
							}
						})
					}
					uni.stopPullDownRefresh();
				})
			},
			toBet(item){
				this.$common.toPath('/pages/bet/bet?code='+item.code+'&lotGroup='+item.lotGroup+'&class=lobby')
			},
		}
	}
</script>

<style lang="scss">
	@import '../../static/css/tabs/shop.scss';
</style>