<template>
  <div class="businessDetail">
    <head_nav></head_nav>
    <div class="personal-main">
      <div class="row">
        <div class="wallet-wrapper">
          <leftSlide></leftSlide>
          <div class="wallet-board">
            <div class="user-main">
              <ul class="searchFirst">
                <li id="lotteryClassify">
                  <span>{{$t('类型')}}：</span>
                  <el-select v-model="type" filterable  @change="getRecord('new')"  :placeholder="$t('充值记录')">
                    <el-option :label="$t('充值记录')" value="comrd.do"></el-option>
                    <el-option :label="$t('提款记录')" value="drawrd.do"></el-option>
                  </el-select>
                </li>
                <li class="inquiry-button">
                  <span>{{$t('时间')}}：</span>
                  <a href="javascript:void(0)" :class="{active:timeIndex == 0}" @click="timeIndex = 0, getRecord('new')">{{$t('今天')}}</a>
                  <a href="javascript:void(0)" :class="{active:timeIndex == 7}" @click="timeIndex = 7, getRecord('new')">{{$t('七天')}}</a>
                  <a href="javascript:void(0)" :class="{active:timeIndex == 30}" @click="timeIndex = 30, getRecord('new')">{{$t('三十天')}}</a>
                </li>
              </ul>
              <div class="searchDetail">
                <table>
                  <thead>
                  <tr>
                    <th>{{$t('时间')}}</th>
                    <th>{{$t('交易类别')}}</th>
                    <th>{{$t('支付名称')}}</th>
                    <th>{{$t('交易额度')}}</th>
                    <th>{{$t('状态')}}</th>
                    <th>{{$t('订单号')}}</th>
                  </tr>
                  </thead>
                  <tbody v-show="Data && type == 'comrd.do'">
                  <tr v-for="(item, index) in Data" :key="index">
                    <td>{{$root.common.getMyDate(item.createDatetime)}}</td>
                    <td>{{typeList[item.type]}}</td>
                    <td>{{item.payName}}</td>
                    <td style="color: red">{{item.money}}</td>
                    <td v-html="prizeStatus(item.status)"></td>
                    <td>{{item.orderNo}}</td>
                  </tr>
                  </tbody>
                  <tbody v-show="Data && type == 'drawrd.do'">
                  <tr v-for="(item, index) in Data" :key="index">
                    <td>{{$root.common.getMyDate(item.createDatetime)}}</td>
                    <td>{{typeList[item.type]}}</td>
                    <td>{{item.bankName}}</td>
                    <td style="color: red">{{item.trueMoney}}</td>
                    <td v-html="prizeStatus(item.status)"></td>
                    <td>{{item.orderNo}}</td>
                  </tr>
                  </tbody>
                  <tbody v-show="Data.length == 0">
                  <tr>
                    <td colspan="100">{{$t('暂无记录')}}</td>
                  </tr>
                  </tbody>
                </table>
                <div class="block">
                  <el-pagination
                      @prev-click="pageClick(Inquiry.page - 1)"
                      @next-click="pageClick(Inquiry.page + 1)"
                      @current-change="handleCurrentChange"
                      :current-page.sync="Inquiry.page"
                      :page-size="Inquiry.rows"
                      layout="prev, pager, next"
                      :total="total">
                  </el-pagination>
                </div>
              </div>
              <div class="userTip"><p><i class="el-icon-warning"></i>{{$t('温馨提示：账变记录最多可保存30天。')}}</p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import head_nav from '@/components/include/head_nav'
import foot_nav from '@/components/include/foot_nav'
import leftSlide from '@/components/center/leftSlide'
import "@/assets/css/center/businessDetail.less"
export default {
  name: "businessDetail",
  data() {
    return {
      Inquiry:{
        page:1,
        rows:10,
        account:this.$store.state.userInfo.account
      },
      total:1,
      timeIndex:0,
      Data:'',
      type:'comrd.do',
      typeList:''
    }
  },
  components: {
    head_nav, foot_nav, leftSlide
  },
  created() {
    this.getRecordType()
  },
  mounted() {
  },
  methods: {
    handleCurrentChange: function (val) {
      this.pageClick(val)
    },
    // 查询账变记录
    getRecord: function (newPage) {
      if(newPage == 'new') this.Inquiry.page = 1
      let time = this.$root.common.dataSearch(this.timeIndex)
      this.Inquiry.startTime = time.startTime
      this.Inquiry.endTime = time.endTime
      this.$route.query.type ? this.type=this.$route.query.type : this.type
      this.$fetch('native/' + this.type,this.Inquiry,false).then(res=>{
        if(res.success){
          this.Data = res.list
          this.total  = res.totalCount
        }
      })
    },
    pageClick: function (page) {
      this.Inquiry.page = page
      this.getRecord()
    },
    prizeStatus:function(status){
      switch (status){
        case 1:
          return '<span style="color: blue">'+this.$t('处理中')+'</span>';
        case 2:
          return '<span style="color: green">'+this.$t('充值成功')+'</span>';
        case 3:
          return '<span style="color: gray">'+this.$t('充值失败')+'</span>';
        case 4:
          return '<span style="color: gray">'+this.$t('已取消')+'</span>';
        case 5:
          return '<span style="color: gray">'+this.$t('已过期')+'</span>';
        default:
          return ''+this.$t('未知错误')+'';
      }
    },
    // 查询账变类型
    getRecordType: function () {
      this.$fetch('native/getMnyrecordType.do',this.Inquiry,false).then(res=>{
        if(res.success){
          this.typeList = res
          this.getRecord()
        }
      })
    },
  }
}
</script>

<style scoped>

</style>