<template>
  <div class="businessDetail">
    <head_nav></head_nav>
    <div class="personal-main">
      <div class="row">
        <div class="wallet-wrapper">
          <leftSlide></leftSlide>
          <div class="wallet-board">
            <div class="user-main">
              <ul class="searchFirst">
                <li class="inquiry-button">
                  <span>{{$t('时间')}}：</span>
                  <a href="javascript:void(0)" :class="{active:timeIndex == 0}" @click="timeIndex = 0, getRecord('new')">{{$t('今天')}}</a>
                  <a href="javascript:void(0)" :class="{active:timeIndex == 7}" @click="timeIndex = 7, getRecord('new')">{{$t('七天')}}</a>
                  <a href="javascript:void(0)" :class="{active:timeIndex == 30}" @click="timeIndex = 30, getRecord('new')">{{$t('三十天')}}</a>
                </li>
              </ul>
              <div class="searchDetail">
                <table>
                  <thead>
                  <tr>
                    <th>{{$t('三方游戏类型')}}</th>
                    <th>{{$t('注单号')}}</th>
                    <th>{{$t('游戏名称')}}</th>
                    <th>{{$t('游戏局号')}}</th>
                    <th>{{$t('投注金额')}}</th>
                    <th>{{$t('输赢金额')}}</th>
                    <th>{{$t('投注内容')}}</th>
                    <th>{{$t('投注时间')}}</th>
                  </tr>
                  </thead>
                  <tbody v-show="Data">
                  <tr v-for="item in Data" :key="item.id">
                    <td>{{item.platformType}}</td>
                    <td>{{item.bettingCode}}</td>
                    <td>{{item.gameType}}</td>
                    <td>{{item.gameCode}}</td>
                    <td>{{item.bettingMoney}}</td>
                    <td style="color: red">{{item.winMoney}}</td>
                    <td>{{item.bettingContent}}</td>
                    <td>{{$root.common.getMyDate(item.bettingTimeGmt4)}}</td>
                  </tr>
                  </tbody>
                  <tbody v-show="Data.length == 0">
                  <tr>
                    <td colspan="100">{{$t('暂无记录')}}</td>
                  </tr>
                  </tbody>
                </table>
                <div class="block">
                  <el-pagination
                      @prev-click="pageClick(Inquiry.page - 1)"
                      @next-click="pageClick(Inquiry.page + 1)"
                      @current-change="handleCurrentChange"
                      :current-page.sync="Inquiry.page"
                      :page-size="Inquiry.rows"
                      layout="prev, pager, next"
                      :total="total">
                  </el-pagination>
                </div>
              </div>
              <div class="userTip"><p><i class="el-icon-warning"></i>{{$t('温馨提示：投注记录最多可保存30天。')}}</p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import head_nav from '@/components/include/head_nav'
import foot_nav from '@/components/include/foot_nav'
import leftSlide from '@/components/center/leftSlide'
import "@/assets/css/center/businessDetail.less"
export default {
  name: "businessDetail",
  data() {
    return {
      List:'',
      total:1,
      Inquiry:{
        rows:10,
        page:1,
      },
      timeIndex:0,
      Data:''
    }
  },
  components: {
    head_nav, foot_nav, leftSlide
  },
  created() {
  },
  mounted() {
  },
  methods: {
    handleCurrentChange: function (val) {
      this.pageClick(val)
    },
    // 查询投注记录
    getRecord: function (newPage) {
      if (newPage == 'new') this.Inquiry.page = 1
      let time = this.$root.common.dataSearch(this.timeIndex)
      this.Inquiry.startTime = time.startTime
      this.Inquiry.endTime = time.endTime
      this.$fetch('native/chessrecord.do',this.Inquiry,true).then(res=>{
        this.Data = res.rows
        this.total = res.total
      })
    },
    pageClick: function (page) {
      this.Inquiry.page = page
      this.getRecord()
    },
  }
}
</script>

<style scoped>

</style>