<template>
  <div class="integral">
    <head_nav></head_nav>
    <div class="personal-main">
      <div class="row">
        <div class="wallet-wrapper">
          <leftSlide></leftSlide>
          <div class="wallet-board">
            <div class="user-main">
              <div class="integral">
                <table>
                  <thead>
                  <tr>
                    <td width="115">{{$t('类型')}}</td>
                    <td>{{$t('余额')}}</td>
                    <td>{{$t('操作')}}</td>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>{{$t('现金')}}</td>
                    <td><span class="readyMoney" >{{ this.$store.state.money || 0 }}</span>  RMB</td>
                    <td rowspan="2" class='refresh'><el-button  :disabled="disabled == false" size="small" type="warning" round @click="refreshMoney()">{{$t('刷新')}}</el-button></td>
                  </tr>
                  <tr>
                    <td>{{$t('积分')}}</td>
                    <td><span class="readyMoney">{{integral || 0}}</span></td>
                  </tr>
                  <tr>
                    <td colspan="3">
                      <div class="exchangeType">
                        <span>{{$t('兑换类型：')}}</span>
                        <el-select v-model="options.value" :placeholder="$t('请输入内容')" :disabled="disabled == false"  style="width: 179px;">
                          <el-option
                              v-for="(item,index) in options.list"
                              :key="index"
                              :label="item.label"
                              :value="item.value">
                          </el-option>
                        </el-select>
                      </div>

                      <div class="exchangeLimit" style="width: 238px;">
                        <span>{{$t('兑换额度：')}}</span>
                        <el-input v-model="exchangeLimit" :placeholder="$t('兑换类型')"></el-input>
                      </div>
                      <div class="submitButton" style="width: 90px;">
                        <el-button type="primary" plain @click="getExchange()" :disabled="disabled == false">{{$t('立即兑换')}}</el-button>
                      </div>
                      <div class="tip">
                        {{$t('注：系统余额可用于彩票投注————积分可用于参与站点活动')}}
                      </div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import head_nav from '@/components/include/head_nav'
import foot_nav from '@/components/include/foot_nav'
import leftSlide from '@/components/center/leftSlide'
import "@/assets/css/center/businessDetail.less"
export default {
  name: "integral",
  data() {
    return {
      options: {
        value:'',
        list:[]
      },
      exchangeLimit:'', //兑换额度
      exchangeConfig:"", //兑换配置
      disabled:true, //是否可以兑换
      integral:'',
    }
  },
  components: {
    head_nav, foot_nav, leftSlide
  },
  created() {
    this.getExchangeConfig()
    this.refreshMoney()
  },
  mounted() {
  },
  methods: {
//刷新金额
    refreshMoney:function(){
      this.$refs.headLottery.getMeminfo();
      this.$toast(this.$t('刷新成功'))
    },
    //获取兑换配置配置

    getExchangeConfig:function(){
      this.$fetch('native/exchangeConfig.do',{},false).then(res=>{
        if (res.success == true){
          this.options.list = []
          this.exchangeConfig = res.content
          this.integral = res.content.score
          if (this.exchangeConfig.configs != ''){
            for (let i in  this.exchangeConfig.configs){
              if (this.exchangeConfig.configs[i].type == 1){
                this.options.list.push({
                  label:this.$t('现金兑换积分'),
                  value: i
                })
              } else if (this.exchangeConfig.configs[i].type == 2){
                this.options.list.push({
                  label:this.$t('积分兑换现金'),
                  value: i
                })
              }
            }
          }else{
            this.disabled =! true
            this.$message({message: this.$t('积分兑换未开启'), type: 'warning'});
          }
        }
      })
    },
    //提交兑换金额
    getExchange:function () {
      let changeSelect = this.exchangeConfig.configs[this.options.value]
      if (this.exchangeLimit > changeSelect.maxVal){
        this.$message.warning(this.$t('兑换不能大于') + changeSelect.maxVal)
        return false
      }
      if (this.exchangeLimit < changeSelect.minVal){
        this.$message.warning(this.$t('兑换不能小于') + changeSelect.minVal)
        return false
      }
      if(!changeSelect.id){
        this.$message.warning(this.$t('请选择兑换方式'))
        return false;
      }
      let params = {
        typeId:changeSelect.id,
        amount:this.exchangeLimit
      }
      this.$fetch('native/exchange.do',params,true).then(res=>{
        if (res.success == true){
          this.$message.success(this.$t('兑换成功'))
          this.getExchangeConfig()
          this.$refs.headLottery.getMeminfo();
        }else{
          this.$message.error(res.msg)
        }
      })
    },
  }
}
</script>

<style scoped lang="less">
.integral{
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  color: #fff;
  table{
    margin: 0 auto;
    width: 710px;
    height: 38px;
    line-height: 38px;
    border-radius: 5px;
    text-align: center;
    thead{
      font-size: 14px;
      color: #fff;
      font-weight: bold;
    }
    tbody{
      tr{
        &:nth-child(3){
          text-align: left;
        }
        td{
          .readyMoney{}
          .refresh{

          }
          .exchangeType{
            margin-left: 40px;
          }
          .exchangeLimit{
            margin-left: 40px;
            .el-input{
              width: auto;
            }
          }
          .submitButton{
            margin: 10px 0px 10px 134px;
            font-size: 18px;
          }
          .tip{
            margin-left: 40px;
          }
        }
      }

    }
  }
}
.member .container .slide-right .user-main table .el-button{
  background: #e6a23c!important;
}
.member .container .slide-right .user-main table .submitButton .el-button {
  background: #409eff !important;
}
.member .container .slide-right .user-main table .el-input__inner{
  width:150px !important;
}
</style>