<template>
  <div>
    <div class="wallet-menu">
      <div class="vip-badge"><img src="@/assets/images/cjr-vip-grade-1.png"></div>
      <div class="user-account">
        {{$store.state.userInfo.account}}
<!--        <div class="lvl-vip" id="grade-1">ELITE</div>-->
      </div>

      <div class="menu-account">
        <router-link to="/personal">{{$t('我的账户')}}</router-link>
        <router-link to="/recharge">{{$t('存款')}}</router-link>
        <router-link to="/drawMoney">{{$t('取款')}}</router-link>
        <router-link to="/lotteryRecords">{{$t('彩票投注记录')}}</router-link>
        <router-link to="/sportRecords">{{$t('体育投注记录')}}</router-link>
        <router-link to="/gameRecords">{{$t('电子投注记录')}}</router-link>
        <router-link to="/realRecords">{{$t('真人投注记录')}}</router-link>
        <router-link to="/chessRecords">{{$t('棋牌投注记录')}}</router-link>
        <router-link to="/businessDetail">{{$t('交易记录')}}</router-link>
        <router-link to="/integral">{{$t('积分兑换')}}</router-link>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "leftSlide",
  data() {
    return {
      popupShow: false
    }
  },
  created() {
  },
  mounted() {
  },
  methods: {}
}
</script>

<style lang="less">
.personal-main{
  background: url(../../assets/images/wallet-bg.jpg) no-repeat top center;
  padding: 40px 0;
  .row{
    background: rgba(3,24,33,0.75);
    min-height: 800px;
    padding: 70px 15px 0 15px;
  }
}
.wallet-menu {
  background: url(../../assets/images/left-menu-bg.png)no-repeat top center;
  width: 200px;
  min-height: 563px;
  padding: 8px 8px 27px;
  color: #fff;
  position: relative;
  z-index: 2;
img{
  width: 100%;
}
.user-account {
  text-align: center;
  font-size: 16px;
  margin-top: 70px;
  height: 90px;
  padding: 4px;
}
}
.menu-account {
  margin: 12px 0 0;
}
.menu-account a {
  display: block;
  border-bottom: 1px solid #00ffff;
  color: #bfbfbf;
  padding: 5px 15px 5px 10px;
  font-size: 14px;
  font-weight: 500;
}
.menu-account a:hover, .menu-account a.active {
  background: #042f41;
  color: #fff;
}
.menu-account a.btitle {
  color: #fff;
  font-size: 20px;
  text-shadow: 0px 3px 2px rgba(0, 0, 0, 0.9);
  padding: 0px 15px 0;
  margin-top: 7px;
}
.menu-account a:last-child {
  border-bottom: none;
}

.vip-badge {
  position: absolute;
  width: 240px;
  top: -68px;
  left: -17px;
  pointer-events: none;
}
.wallet-wrapper{
  display: grid;
  grid-template-columns:200px auto;
}
.wallet-board{
  position: relative;
  background: rgba(12,68,91,0.85);
  border: 2px solid #2dd7d9;
  border-radius: 10px;
  width: auto;
  min-height: 543px;
  background-size: 100% 100%;
  margin-left: -9px;
  padding: 26px 20px 15px;
  &::before {
    content: '';
    background: url(../../assets/images/board-top-bar.png) no-repeat center top;
    background-size: 100% 100%;
    position: absolute;
    width: 101%;
    height: 45px;
    top: -21px;
    left: -5px;
  }
}
</style>