<template>
  <div class="businessDetail">
    <head_nav></head_nav>
    <div class="personal-main">
      <div class="row">
        <div class="wallet-wrapper">
          <leftSlide></leftSlide>
          <div class="wallet-board">
            <div class="user-main">
              <ul class="searchFirst">
                <li id="lotteryClassify">
                  <span>{{$t('彩种：')}}</span>
                  <el-select v-model="lotteryInquiry.code" filterable @change="getRecord('new')" :placeholder="$t('所有彩种')">
                    <el-option v-for="item in lotteryList" :key="item.id" :label="item.name"
                               :value="item.code"></el-option>
                  </el-select>
                </li>
                <li class="inquiry-button">
                  <span>{{$t('时间：')}}</span>
                  <a href="javascript:void(0)" :class="{active:timeIndex == 0}" @click="timeIndex = 0, getRecord('new')">{{$t('今天')}}</a>
                  <a href="javascript:void(0)" :class="{active:timeIndex == 7}" @click="timeIndex = 7, getRecord('new')">{{$t('七天')}}</a>
                  <a href="javascript:void(0)" :class="{active:timeIndex == 30}" @click="timeIndex = 30, getRecord('new')">{{$t('三十天')}}</a>
                </li>
                <li class="inquiry-button">
                  <span>{{$t('类型：')}}</span>
                  <a href="javascript:void(0)" :class="{active:lotteryInquiry.status == ''}"
                     @click="lotteryInquiry.status = '', getRecord('new')">{{$t('待确认')}}</a>
                  <a href="javascript:void(0)" :class="{active:lotteryInquiry.status == 1}"
                     @click="lotteryInquiry.status = 1, getRecord('new')">{{$t('待开奖')}}</a>
                  <a href="javascript:void(0)" :class="{active:lotteryInquiry.status == 2}"
                     @click="lotteryInquiry.status = 2, getRecord('new')">{{$t('已中奖')}}</a>
                  <a href="javascript:void(0)" :class="{active:lotteryInquiry.status == 3}"
                     @click="lotteryInquiry.status = 3, getRecord('new')">{{$t('未中奖')}}</a>
                  <a href="javascript:void(0)" :class="{active:lotteryInquiry.status == 4}"
                     @click="lotteryInquiry.status = 4, getRecord('new')">{{$t('已撤单')}}</a>
                </li>
              </ul>
              <div class="searchDetail">
                <table>
                  <thead>
                  <tr>
                    <th>{{$t('彩种')}}</th>
                    <th>{{$t('期号')}}</th>
                    <th>{{$t('投注内容')}}</th>
                    <th>{{$t('投注金额')}}</th>
                    <th>{{$t('输赢金额')}}</th>
                    <th>{{$t('开奖号码')}}</th>
                    <th>{{$t('状态')}}</th>
                    <th>{{$t('投注时间')}}</th>
                    <th>{{$t('操作')}}</th>
                  </tr>
                  </thead>
                  <tbody v-show="lotteryData">
                  <tr v-for="item in lotteryData" :key="item.id">
                    <td>{{ item.lotName }}</td>
                    <td>{{ item.qiHao }}</td>
                    <td>{{ item.haoMa }}</td>
                    <td>{{ item.buyMoney }}</td>
                    <td style="color: red">{{ item.winMoney }}</td>
                    <td>{{ item.lotteryHaoMa }}</td>
                    <td v-html="statusShow(item.status)"></td>
                    <td>{{ $root.common.getMyDate(item.createTime) }}</td>
                    <td><span @click="cancel(item.orderId)" class="chedan" v-if="item.cancelSwitch == 1">{{$t('撤单')}}</span></td>
                  </tr>
                  </tbody>
                  <tbody v-show="lotteryData.length == 0">
                  <tr>
                    <td colspan="100">{{$t('暂无记录')}}</td>
                  </tr>
                  </tbody>
                </table>
                <div class="block">
                  <el-pagination
                      @prev-click="pageClick(lotteryInquiry.page - 1)"
                      @next-click="pageClick(lotteryInquiry.page + 1)"
                      @current-change="handleCurrentChange"
                      :current-page.sync="lotteryInquiry.page"
                      :page-size="lotteryInquiry.rows"
                      layout="prev, pager, next"
                      :total="total">
                  </el-pagination>
                </div>
              </div>
              <div class="userTip"><p><i class="el-icon-warning"></i>{{$t('温馨提示：投注记录最多可保存30天。')}}</p></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import head_nav from '@/components/include/head_nav'
import foot_nav from '@/components/include/foot_nav'
import leftSlide from '@/components/center/leftSlide'
import "@/assets/css/center/businessDetail.less"
export default {
  name: "businessDetail",
  data() {
    return {
      lotteryList: '',
      total: 1,
      lotteryInquiry: {
        code: '',
        status: '',
        rows: 10,
        page: 1,
      },
      timeIndex: 0,
      lotteryData: ''
    }
  },
  components: {
    head_nav, foot_nav, leftSlide
  },
  created() {
  },
  mounted() {
    this.getLotteryClassify()
    this.getRecord()
  },
  methods: {
    // 获取彩种分类
    getLotteryClassify: function () {
      this.$fetch('native/getLotteryList.do',{},false).then(res=>{
        this.lotteryList = res.bcList
        let name = this.$t('彩种')
        this.lotteryList.unshift({
          name: name,
          id: '0',
          code: ''
        })
      })
    },
    handleCurrentChange: function (val) {
      this.pageClick(val)
    },
    // 查询投注记录
    getRecord: function (newPage) {
      if (newPage == 'new') this.lotteryInquiry.page = 1
      let time = this.$root.common.dataSearch(this.timeIndex)
      this.lotteryInquiry.startTime = time.startTime
      this.lotteryInquiry.endTime = time.endTime
      this.$fetch('native/get_lottery_order.do',this.lotteryInquiry,true).then(res=>{
        this.lotteryData = res.page.list
        this.total = res.page.totalCount
      })
    },
    pageClick: function (page) {
      this.lotteryInquiry.page = page
      this.getRecord()
    },
    // 撤单
    cancel: function (orderId) {
      this.$confirm(this.$t('是否撤销所选注单'), this.$t('撤单'), {
        confirmButtonText: this.$t('确定'),
        cancelButtonText: this.$t('取消'),
        type: 'warning'
      }).then(() => {
        this.$post('native/cancelOrder.do',{orderId: orderId,lotCode: ''},true).then(res=>{
          if (res.success) {
            this.$toast(this.$t('已撤单'))
            this.getRecord()
          } else {
            this.$toast(res.msg)
          }
        })
      }).catch(() => {
      });
    },
    // 彩票状态
    statusShow: function (status) {
      let html = ''
      switch (status) {
        case 1:
          html = '<span class="statusShow">'+this.$t('未开奖')+'</span>';
          break;
        case 2:
          html = '<span class="statusShow">'+this.$t('已开奖')+'</span>';
          break;
        case 3:
          html = '<span class="statusShow">'+this.$t('未中奖')+'</span>';
          break;
        case 4:
          html = '<span class="statusShow">'+this.$t('已撤单')+'</span>';
          break;
        case 5:
          html = '<span class="statusShow">'+this.$t('回滚成功')+'</span>';
          break;
        case 6:
          html = '<span class="statusShow">'+this.$t('回滚异常')+'</span>';
          break;
        case 7:
          html = '<span class="statusShow">'+this.$t('开奖异常')+'</span>';
          break;
        case 8:
          html = '<span class="statusShow">'+this.$t('和局')+'</span>';
          break;
        case 9:
          html = '<span class="statusShow">'+this.$t('合买失效')+'</span>';
          break;
      }
      return html
    }
  }
}
</script>

<style scoped>

</style>