<template>
  <div class="personal">
    <head_nav></head_nav>
    <div class="personal-main">
      <div class="row">
        <div class="wallet-wrapper">
          <leftSlide></leftSlide>
          <div class="wallet-board">
            <div class="money">
              {{$t('余额：')}}<span class="mw-box">{{$store.state.money}}</span>
              <button type="button" class="all-out-btn">{{$t('取出')}}</button>
              <button type="button" class="deposit-btn">{{$t('存入')}}</button>
            </div>
            <div class="user_wallet">
              <div class="wp-box" v-for="(item, index) in gameList" :key="index" @click="getGameData(item)">
                <div class="wp-logo"><img :src="item.imgUrl"></div>
                <div class="wp-amount">{{item.title}}</div>
                <div class="wp-amount"><span>{{item.balance}}</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <transition name="popup">
      <div class="popup" v-if="popupShow">
        <div class="wallet-content">
          <button type="button" class="close-X" @click="popupShow = false">X</button>
          <div class="quick-title">{{$t('快速转账')}}</div>
          <div class="wl-box-wrap">
            <div class="wp-logo"><img src="http://x002.xb774.com/native/resources/images/mgreal.png"></div>
            <div class="current-wallet">
              {{$t('您当前的余额')}}<br><span></span>:
              <div class="cwb">{{gameData.balance}}</div>
            </div>
          </div>
          <div class="transfer-quick">
            <h4>{{$t('转账总额')}}</h4>
            <input type="number" class="num-trans" min="0" v-model="changeMoney">
            <div class="great-num">{{$t('请输入一个大于或等于 1.0 的值')}}</div>
          </div>
          <div class="operate">
            <button class="submit-form-btn" @click="open(gameData.playCode,gameData.title,'sys',$t('系统余额'))">{{$t('转入')}}</button>
            <button class="submit-form-btn" @click="open('sys',$t('系统余额'),gameData.playCode,gameData.title)">{{$t('转出')}}</button>
          </div>
        </div>
      </div>
    </transition>
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import head_nav from '@/components/include/head_nav'
import foot_nav from '@/components/include/foot_nav'
import leftSlide from '@/components/center/leftSlide'
import { Dialog, Toast } from 'vant';
import "@/assets/css/center/personal.less"
export default {
  name: "personal",
  data() {
    return {
      popupShow: false,
      gameList:'',
      gameData:'',
      changeMoney:0
    }
  },
  components: {
    head_nav, foot_nav, leftSlide
  },
  created() {
    this.getRealGameData()
  },
  mounted() {
  },
  methods: {
    getRealGameData:function () {
      this.$fetch('native/getRealGameData.do',{},false).then(res=>{
        if(res.success){
          this.gameList = res.content
        }
      })
    },
    getGameData:function (item){
      this.gameData = item
      this.popupShow = true
    },
    open: function (into, intoTitle, out, outTitle) {
      if(this.changeMoney == 0){
        Toast(this.$t('请输入金额'))
        return false
      }
      Dialog.confirm({
        title: outTitle + ' => ' + intoTitle,
        message:this.$t('请确认您的操作'),
      }).then(() => {
            // on confirm
        let params = {
          changeFrom: out,
          changeTo: into,
          quota: this.changeMoney,
        }
        this.$post('native/thirdRealTransMoney.do',params,true).then(res=>{
          if(res.success){
            Toast.success(this.$t('操作成功'));
            this.getRealGameData()
          } else {
            Toast.fail(res.msg);
          }
        })
      }) .catch(() => {
            // on cancel
      });

    }
  }
}
</script>

<style scoped>

</style>