<template>
  <div class="yuebao">
    <head_nav></head_nav>
    <div class="personal-main">
      <div class="row">
        <div class="wallet-wrapper">
          <leftSlide></leftSlide>
          <div class="wallet-board">

          </div>
        </div>
      </div>
    </div>
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import head_nav from '@/components/include/head_nav'
import foot_nav from '@/components/include/foot_nav'
import leftSlide from '@/components/center/leftSlide'
import "@/assets/css/center/yuebao.less"

export default {
  name: "yuebao",
  data() {
    return {}
  },
  components: {
    head_nav, foot_nav, leftSlide
  },
  created() {
    this.getRealGameData()
  },
  mounted() {
  },
  methods: {}
}
</script>

<style scoped>

</style>