@import "include/base";
.sportList{
  .content{
    padding: 15px 15px 50px 15px;

  }
  .img-box{
    height: 680px;
    width: 100%;
    margin-top: 10px;
    position: relative;
    .box{
      height: 68px;
    }
    .more{
      position: absolute;
      right: 20px;
      top: 20px;
      color: #a0a3a3;
    }
  }
  .back1{
    background: url("../images/sportList1.jpg");
    background-size: 100% 100%;
  }
  .back2{
    background: url("../images/sportList2.jpg");
    background-size: 100% 100%;
  }
  .back3{
    background: url("../images/sportList3.jpg");
    background-size: 100% 100%;
  }
}