<template>
  <div class="footer">
    <div>
      <van-row type="flex">
        <van-col span="6" v-if="$store.state.isLogin && $store.state.userInfo.dis_play == 0">
          <router-link to="/invest" :class="{active:$route.path == '/invest'}">
            <img v-if="$route.path == '/invest'" src="../../assets/images/icon/touzi_1.png" alt="">
            <img v-else src="../../assets/images/icon/touzi.png" alt="">
            <br>
            <span>任务</span>
          </router-link>
        </van-col>
        <van-col span="6">
          <router-link to="/" :class="{active:$route.path == '/'}">
            <img v-if="$route.path == '/'" src="../../assets/images/icon/fangyi_1.png" alt="">
            <img v-else src="../../assets/images/icon/fangyi.png" alt="">
            <br>
            <span>首页</span>
          </router-link>
        </van-col>
        <van-col span="6">
          <router-link to="/sport" :class="{active:$route.path == '/sport'}">
            <img v-if="$route.path == '/sport'" src="../../assets/images/icon/assignment_1.png" alt="">
            <img v-else src="../../assets/images/icon/assignment.png" alt="">
            <br>
            <span>健康</span>
          </router-link>
        </van-col>
        <van-col span="6">
          <router-link to="/index3" :class="{active:$route.path == '/index3'}">
            <img v-if="$route.path == '/index3'" src="../../assets/images/icon/home_1.png" alt="">
            <img v-else src="../../assets/images/icon/home.png" alt="">
            <br>
            <span>运动</span>
          </router-link>
        </van-col>

        <!--        <van-col span="4">-->
        <!--          <router-link to="/assignment" :class="{active:$route.path == '/assignment'}">-->
        <!--            <img v-if="$route.path == '/assignment'" src="../../assets/images/icon/assignment_1.png" alt="">-->
        <!--            <img v-else src="../../assets/images/icon/assignment.png" alt="">-->
        <!--            <br>-->
        <!--            <span>任务</span>-->
        <!--          </router-link>-->
        <!--        </van-col>-->
        <van-col span="6">
          <router-link to="/personal" :class="{active:$route.path == '/personal'}">
            <img v-if="$route.path == '/personal'" src="../../assets/images/icon/personal_1.png" alt="">
            <img v-else src="../../assets/images/icon/personal.png" alt="">
            <br>
            <span>我的</span>
          </router-link>
        </van-col>
        <van-col span="6">
          <a href="https://chatlink123.meiqia.cn/widget/standalone.html?eid=f2a7b6268a3551f63deb3d561d11aa88">
            <van-icon name="service" size="23"/>
            <br>
            <span>客服</span>
          </a>
        </van-col>
      </van-row>
    </div>
  </div>
</template>

<script>
import '@/assets/css/include/footer.less'

export default {
  name: "foot_nav",
  data() {
    return {}
  },
  created() {
  },
  mounted() {

  },
  methods: {}
}
</script>

<style scoped>

</style>
