<template>
    <div class="foot">
        <div class="footer-container">
            <div class="footer-top">
                <ul>
                    <li> <router-link to="">关于我们</router-link></li> |
                    <li> <router-link to="">联系我们</router-link></li> |
                    <li> <router-link to="">常见问题</router-link></li> |
                    <li> <router-link to="">最新资讯</router-link></li> |

                </ul>
            </div>
            <div class="footer-bottom">
                <p>
                    温馨提醒：购买彩票有风险，在线投注须谨慎，不向未满18周岁的青少年出售彩票
                </p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "foot"
    }
</script>

<style scoped lang="scss">

</style>