<template>
    <div class="histroy">
        <head_nav :lotteryList="lotteryList"></head_nav>
            <div class="histroy-container">
                <div class="content-li" >
                    <div class="liLeft">
                        <img :src="lotteryDownList.imgUrl" alt="lbj">
                        <p>{{lotteryDownList.name}}</p>
                    </div>
                    <div class="liCentre">
                        <p>第<span style="color: red">{{lotteryDownList.qiHao}}期</span>开奖结果</p>
<!--                        <div class="number-box" v-if="lotteryDownList.lastHaoMa">-->
<!--                            <span v-for="(item2,index2) in lotteryDownList.lastHaoMa.split(',')" :key="index2"><i>{{item2}}</i></span>-->
<!--                        </div>-->
                        <div class="number-box" v-if="lotteryDownList.lastHaoMa && lotteryDownList.lotGroup == 6">
                <span v-for="(item2,index2) in lotteryDownList.lastHaoMa.split(',')" :key="index2" >
                  <i :class="'LHC LHC-'+ (item2 < 10 ? item2.replace(/\b(0+)/gi,'') : item2 )" v-if="item2 != '?'"></i>
                  <i class="'LHC" style="height: 35px;width: 35px;" v-else>{{item2}}</i>
                </span>
                        </div>
                        <div class="number-box" v-if="lotteryDownList.lastHaoMa && lotteryDownList.lotGroup == 1">
                <span v-for="(item2,index2) in lotteryDownList.lastHaoMa.split(',')" :key="index2" >
                  <i :class="'ssc ssc-'+ item2" v-if="item2 != '?'"></i>
                  <i class="'LHC" style="height: 35px;width: 35px;" v-else>{{item2}}</i>
                </span>
                        </div>
                        <div class="number-box" v-if="lotteryDownList.lastHaoMa && lotteryDownList.lotGroup == 3">
                <span v-for="(item2,index2) in lotteryDownList.lastHaoMa.split(',')" :key="index2" >
                 <i :class="'pk10 pk10-'+ (item2 < 10 ? item2.replace(/\b(0+)/gi,'') : item2 )" v-if="item2 != '?'"></i>
                  <i class="'LHC" style="height: 35px;width: 35px;" v-else>{{item2}}</i>
                </span>
                        </div>
                        <div class="number-box" v-if="lotteryDownList.lastHaoMa && lotteryDownList.lotGroup == 7">
                <span v-for="(item2,index2) in lotteryDownList.lastHaoMa.split(',')" :key="index2" >
                  <i :class="'kuaisan kuaisan-'+ item2" v-if="item2 != '?'"></i>
                  <i class="'LHC" style="height: 35px;width: 35px;" v-else>{{item2}}</i>
                </span>
                        </div>
                        <div class="number-box" v-if="lotteryDownList.lastHaoMa && lotteryDownList.lotGroup == 2">
                <span v-for="(item2,index2) in lotteryDownList.lastHaoMa.split(',')" :key="index2" >
                  <i :class="'diping diping-'+ item2" v-if="item2 != '?'"></i>
                  <i class="'LHC" style="height: 35px;width: 35px;" v-else>{{item2}}</i>
                </span>
                        </div>
                        <div class="number-box" v-if="lotteryDownList.lastHaoMa && lotteryDownList.lotGroup == 9">
                <span v-for="(item2,index2) in lotteryDownList.lastHaoMa.split(',')" :key="index2" >
                  <i :class="'pcDD pcDD-'+ item2" v-if="item2 != '?'"></i>
                  <i class="'LHC" style="height: 35px;width: 35px;" v-else>{{item2}}</i>
                </span>
                        </div>
                        <div class="number-box" v-if="lotteryDownList.lastHaoMa && lotteryDownList.lotGroup == 8">
                <span v-for="(item2,index2) in lotteryDownList.lastHaoMa.split(',')" :key="index2" >
                  <i :class="'kuailsf kuailsf-'+ (item2 < 10 ? item2.replace(/\b(0+)/gi,'') : item2 )" v-if="item2 != '?'"></i>
                  <i class="'LHC" style="height: 35px;width: 35px;" v-else>{{item2}}</i>
                </span>
                        </div>
                        <div class="number-box" v-if="lotteryDownList.lastHaoMa && lotteryDownList.lotGroup == 5">
                <span v-for="(item2,index2) in lotteryDownList.lastHaoMa.split(',')" :key="index2" >
                  <i :class="'shiyi shiyi-'+ (item2 < 10 ? item2.replace(/\b(0+)/gi,'') : item2 )" v-if="item2 != '?'"></i>
                  <i class="'LHC" style="height: 35px;width: 35px;" v-else>{{item2}}</i>
                </span>
                        </div>
                        <div class="button-option" @click="zoushi">
                            走势列表
                        </div>
                        <div class="button-option" @click="kaijiang">
                            开奖历史
                        </div>
                        <div class="button-option" @click="showComponents =2">
                            冷热分析
                        </div>
                    </div>
                    <div class="liRight">
                        <div class="rightTitle" >
                            距下一期封盘时间
                            <br >
                            还剩:
                        </div>
                        <div class="rightTime">
                            <van-count-down :time="(lotteryDownList.actionTime - serverTime) ? (lotteryDownList.actionTime - serverTime) : 0" @finish="finish()">
                                <template v-slot="timeData">
                                    <span class="block">{{ timeData.hours }}</span>
                                    <span class="colon">时</span>
                                    <span class="block">{{ timeData.minutes }}</span>
                                    <span class="colon">分</span>
                                    <span class="block">{{ timeData.seconds }}</span>
                                    <span class="colon">秒</span>
                                </template>
                            </van-count-down>
                        </div>
                    </div>
                    <div class="liTV"></div>
                </div>
                <div class="content-drawNumber">
                    <take_notes v-show="showComponents == 1" :iframeUrl="iframeUrl"></take_notes>
                    <cold_hot_anayles v-show="showComponents == 2"></cold_hot_anayles>
                </div>
            </div>
        <foot_nav></foot_nav>
    </div>
</template>

<script>
    import head_nav from '@/components/headers'
    import foot_nav from '@/components/foot'
    import take_notes from "@/components/histroy/takeNotes";
    import cold_hot_anayles from "@/components/histroy/coldHotAnayles";
    export default {
        name: "histroy",
        components:{
            head_nav,
            foot_nav,
            take_notes,
            cold_hot_anayles
        },
        data(){
            return{
                lotteryList:[],
                lotteryDownList:{},
                serverTime:'',
                iframeUrl:'',
                downCode:[],
                showComponents:1,
            }
        },
        created() {
            this.getLoctterys()
        },
        mounted() {
            if(this.$route.query.type == 2){
                this.zoushi()
            } else (
                this.kaijiang()
            )
        },
        methods:{
            getLoctterys:function () {
                this.$http.get(global.url + '/native/getLoctterys.do', {},{ withCredentials: true }).then(function(response){
                    // 响应成功回调
                    this.lotteryList = response.body.content
                    this.getLotterysDownCode()
                }, function(response){
                    // 响应错误回调
                    console.log(response)
                });
            },
            getLotterysDownCode:function () {
                this.downCode.push(this.$route.query.code)
                this.$http.get(global.url + '/lotteryV3/lotterys.do?lotCode='+this.$route.query.code+'&needLast=true', {},{ withCredentials: true }).then(function(response){
                    // 响应成功回调
                    let list = response.body[this.$route.query.code];
                    for(let index in this.lotteryList){
                        if(this.$route.query.code == this.lotteryList[index].code){
                            list.imgUrl = this.lotteryList[index].imgUrl
                            list.remark = this.lotteryList[index].remark
                            list.name = this.lotteryList[index].name
                            list.lotGroup = this.lotteryList[index].lotGroup

                        }
                    }
                    for(let index in this.lotteryDownList){
                        if(this.lotteryDownList[index].lotCode == this.$route.query.code){
                            this.lotteryDownList[index] = list
                        }
                    }
                    this.serverTime = response.body.serverTime
                    this.$forceUpdate()
                    this.lotteryDownList = list
                    let index = this.downCode.indexOf(this.$route.query.code)
                    this.downCode.splice(index, 1)
                }, function(response){
                    // 响应错误回调
                    console.log(response)
                });
            },
            finish(){
                if(this.downCode.indexOf(this.$route.query.code) == -1){
                    this.getLotterysDownCode()
                }
            },
            zoushi:function () {
                this.showComponents =1
                this.iframeUrl = global.url + '/lottery/trendChart/index.do?lotCode='+this.$route.query.code+'&type=zoushi'
            },
            kaijiang:function () {
                this.showComponents =1
                this.iframeUrl = global.url + '/lottery/trendChart/index.do?lotCode='+this.$route.query.code+'&type=kaijiang'
            }
        },
        watch: {
            // 切换彩种初始化页面数据
            '$route.query.code'(){
                this.getLoctterys()
                this.kaijiang()
            }
        },
    }
</script>

<style scoped lang="scss">
.histroy{
    .histroy-container{
        width: 1000px;
        padding: 0px 100px;
        margin: 0 auto;
        .content-li{
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 200px;
            border: solid 1px #bfbfbf;
            box-sizing: border-box;
            padding-right: 22px;
            margin-bottom: 18px;
            .liLeft{
                text-align: center;
                border-right: solid 1px #bfbfbf ;
                width: 148px;
                img{
                    margin-top: 18px;
                    width: 83px;
                    height: 83px;
                }
                p{
                    font-size: 20px;
                    /*margin-top: 10px;*/
                    color: #000000;
                }
                a{
                    border: solid 1px #d2d1d1;
                    color: #000;
                    display: block;
                    width: 94px;
                    height: 36px;
                    text-align: center;
                    line-height: 36px;
                    text-decoration: none;
                    margin: 5px  auto 0px;
                    border-radius: 5px;
                    &:hover{
                        background: red;
                        color: white;
                    }
                }
            }
            .liCentre{
                padding-left: 15px;
                height: 100%;
                p{
                    line-height: 60px;
                    font-size: 19px;
                    color: #232323;
                    span{
                        display: inline;
                        margin: 0 5px;
                    }
                }
                .number-box{
                    width: 520px;
                    height: 70px;
                    box-sizing: border-box;
                    border: solid 1px #bfbfbf;
                    border-radius: 10px;
                    line-height: 70px;
                    padding-left: 20px;
                    span{
                        line-height: 36px;
                        margin-left: 5px;
                        margin-top: 14px;
                        color: #000000;
                        padding: 0;
                        font-size: 20px;
                        font-weight: 600 !important;
                        display: inline-block;
                        text-align: center;
                        border-radius: 50%;
                        i{
                            display: block;
                        }
                    }
                }
                .button-option{
                    border: solid 1px #d2d1d1;
                    color: #000;
                    display: block;
                    width: 94px;
                    height: 36px;
                    text-align: center;
                    line-height: 36px;
                    text-decoration: none;
                    margin: 5px  auto 0 10px;
                    border-radius: 5px;
                    float: left;
                    cursor: pointer;
                    &:hover{
                        background: red;
                        color: white;
                    }
                }
            }
            .liRight{
                height: 100%;
                box-sizing: border-box;
                padding: 31px 0 31px 22px;
                .rightTitle{
                    color: #666666;
                    line-height: 21px;
                    font-size: 14px;
                }
                .rightTime{
                    margin: 20px 0px;
                    .colon {
                        display: inline-block;
                        margin: 0 5px;
                        line-height: 37px;
                        font-size: 14px;
                        color: #ee0a24;
                    }
                    .block {
                        color: #fff;
                        text-align: center;
                        background-color: #ee0a24;
                        width: 42px;
                        height: 37px;
                        border-radius: 2px;
                        display: inline-block;
                        font-size: 21px;
                        line-height: 37px;
                    }
                }
                .rightBottom{
                    color: #666666;
                    line-height: 21px;
                    font-size: 14px;
                    span{
                        margin: 0 2px;
                        font-weight: bold;
                    }
                }
            }
            .liTV{}
        }
        .content-drawNumber{
            width: 100%;
            background: #ffffff;
            .header{
                padding: 10px 20px;
                box-sizing: border-box;
                h1{
                    font-size: 18px;
                    font-weight: unset;
                    color: #000000;
                }
            }
            .list{
                border-top: 5px solid #f0f0f0;
                /*padding: 0 20px;*/
                height: 600px;
                table{
                    tbody{
                        tr{
                            height: 42px;
                            background: #e6e6e6;
                            td{
                                text-align: center;
                                padding: 0 7px;
                                font-size: 16px;
                                color: #666666;
                            }
                        }
                    }
                }
            }
        }
    }
}
</style>