<template>
  <div class="index">
    <head_nav :lotteryList="lotteryList"></head_nav>
    <div class="index-container">
      <div class="main-wrapper" v-if="loadingGif" style="height: 300px;text-align: center;line-height: 300px;">
        <img src="https://xb336.com/mobile/v3/images/loading-1.gif" alt="">
      </div>
      <div class="main-wrapper" v-if="!loadingGif">
        <div class="content-li" v-for="(item,index) in lotteryDownList" :key="index">
          <div class="liLeft">
            <img :src="item.imgUrl" alt="lbj">
            <p>{{item.name}}</p>
            <router-link :to="{path:'/histroy',query:{code:item.lotCode}}" tag="a">开奖历史</router-link>
          </div>
          <div class="liCentre">
            <p>第<span style="color: red">{{item.qiHao}}期</span>开奖结果</p>
            <div class="number-box" v-if="item.lastHaoMa && item.lotGroup == 6">
                <span v-for="(item2,index2) in item.lastHaoMa.split(',')" :key="index2" >
                  <i :class="'LHC LHC-'+ (item2 < 10 ? item2.replace(/\b(0+)/gi,'') : item2 )" v-if="item2 != '?'"></i>
                  <i class="'LHC" style="height: 35px;width: 35px;" v-else>{{item2}}</i>
                </span>
            </div>
            <div class="number-box" v-if="item.lastHaoMa && item.lotGroup == 1">
                <span v-for="(item2,index2) in item.lastHaoMa.split(',')" :key="index2" >
                  <i :class="'ssc ssc-'+ item2" v-if="item2 != '?'"></i>
                  <i class="'LHC" style="height: 35px;width: 35px;" v-else>{{item2}}</i>
                </span>
            </div>
            <div class="number-box" v-if="item.lastHaoMa && item.lotGroup == 3">
                <span v-for="(item2,index2) in item.lastHaoMa.split(',')" :key="index2" >
                 <i :class="'pk10 pk10-'+ (item2 < 10 ? item2.replace(/\b(0+)/gi,'') : item2 )" v-if="item2 != '?'"></i>
                  <i class="'LHC" style="height: 35px;width: 35px;" v-else>{{item2}}</i>
                </span>
            </div>
            <div class="number-box" v-if="item.lastHaoMa && item.lotGroup == 7">
                <span v-for="(item2,index2) in item.lastHaoMa.split(',')" :key="index2" >
                  <i :class="'kuaisan kuaisan-'+ item2" v-if="item2 != '?'"></i>
                  <i class="'LHC" style="height: 35px;width: 35px;" v-else>{{item2}}</i>
                </span>
            </div>
            <div class="number-box" v-if="item.lastHaoMa && item.lotGroup == 2">
                <span v-for="(item2,index2) in item.lastHaoMa.split(',')" :key="index2" >
                  <i :class="'diping diping-'+ item2" v-if="item2 != '?'"></i>
                  <i class="'LHC" style="height: 35px;width: 35px;" v-else>{{item2}}</i>
                </span>
            </div>
            <div class="number-box" v-if="item.lastHaoMa && item.lotGroup == 9">
                <span v-for="(item2,index2) in item.lastHaoMa.split(',')" :key="index2" >
                  <i :class="'pcDD pcDD-'+ item2" v-if="item2 != '?'"></i>
                  <i class="'LHC" style="height: 35px;width: 35px;" v-else>{{item2}}</i>
                </span>
            </div>
            <div class="number-box" v-if="item.lastHaoMa && item.lotGroup == 8">
                <span v-for="(item2,index2) in item.lastHaoMa.split(',')" :key="index2" >
                  <i :class="'kuailsf kuailsf-'+ (item2 < 10 ? item2.replace(/\b(0+)/gi,'') : item2 )" v-if="item2 != '?'"></i>
                  <i class="'LHC" style="height: 35px;width: 35px;" v-else>{{item2}}</i>
                </span>
            </div>
            <div class="number-box" v-if="item.lastHaoMa && item.lotGroup == 5">
                <span v-for="(item2,index2) in item.lastHaoMa.split(',')" :key="index2" >
                  <i :class="'shiyi shiyi-'+ (item2 < 10 ? item2.replace(/\b(0+)/gi,'') : item2 )" v-if="item2 != '?'"></i>
                  <i class="'LHC" style="height: 35px;width: 35px;" v-else>{{item2}}</i>
                </span>
            </div>
            <div class="button-option">
              <router-link :to="{path:'/histroy',query:{code:item.lotCode,type:2}}" tag="a">走势列表</router-link>
            </div>
          </div>
          <div class="liRight">
            <div class="rightTitle" >
              距下一期封盘时间
              <br >
              还剩:
            </div>
            <div class="rightTime">
              <van-count-down :time="(item.actionTime - serverTime) ? (item.actionTime - serverTime) : 0" @finish="finish(item.lotCode)">
                <template v-slot="timeData">
                  <span class="block">{{ timeData.hours }}</span>
                  <span class="colon">时</span>
                  <span class="block">{{ timeData.minutes }}</span>
                  <span class="colon">分</span>
                  <span class="block">{{ timeData.seconds }}</span>
                  <span class="colon">秒</span>
                </template>
              </van-count-down>
            </div>
          </div>
          <div class="liTV"></div>
        </div>
      </div>
    </div>
    <foot_nav></foot_nav>
  </div>
</template>

<script>
  import foot_nav from './foot'
  import head_nav from './headers'
export default {
  name: 'index',
  components: {
    foot_nav,
    head_nav
  },
  data(){
    return{
      lotteryDownList:[],
      lotteryList:[],
      serverTime:'',
      downCode:[],
      loadingGif:false
    }
  },
  created() {
    this.getLoctterys()
  },
  mounted() {

  },
  methods:{
    getLoctterys:function () {
      this.loadingGif = true
      this.$http.get(global.url + '/native/getLoctterys.do', {},{ withCredentials: true }).then(function(response){
        // 响应成功回调
        this.lotteryList = response.body.content
        this.getLotterysDown()
      }, function(response){
        // 响应错误回调
        console.log(response)
      });
    },
    getLotterysDown:function () {
      this.$http.get(global.url + '/lotteryV3/lotterys.do?lotCode=&needLast=true', {},{ withCredentials: true }).then(function(response){
        // 响应成功回调
        this.serverTime = response.body.serverTime
        for(let index in response.body){
          if(index != 'lastTime' && index != 'lot' && index != 'serverTime')
          this.lotteryDownList.push(response.body[index])
        }
        for(let index in this.lotteryDownList){
          for(let index2 in this.lotteryList){
            if(this.lotteryDownList[index].lotCode == this.lotteryList[index2].code){
              this.lotteryDownList[index].imgUrl = this.lotteryList[index2].imgUrl
              this.lotteryDownList[index].remark = this.lotteryList[index2].remark
              this.lotteryDownList[index].name = this.lotteryList[index2].name
              this.lotteryDownList[index].lotGroup = this.lotteryList[index2].lotGroup
            }
          }
        }
        this.loadingGif = false
      }, function(response){
        // 响应错误回调
        console.log(response)
      });
    },
    getLotterysDownCode:function (code) {
      this.downCode.push(code)
      this.$http.get(global.url + '/lotteryV3/lotterys.do?lotCode='+code+'&needLast=true', {},{ withCredentials: true }).then(function(response){
        // 响应成功回调
        let list = response.body[code];
        console.log(list)
        for(let index in this.lotteryList){
          if(code == this.lotteryList[index].code){
            list.imgUrl = this.lotteryList[index].imgUrl
            list.remark = this.lotteryList[index].remark
            list.name = this.lotteryList[index].name
            list.lotGroup = this.lotteryList[index].lotGroup
          }
        }
        for(let index in this.lotteryDownList){
          if(this.lotteryDownList[index].lotCode == code){
            this.lotteryDownList[index] = list
          }
        }
        this.serverTime = response.body.serverTime
        this.$forceUpdate()
        let index = this.downCode.indexOf(code)
        this.downCode.splice(index, 1)
      }, function(response){
        // 响应错误回调
        console.log(response)
      });
    },
    finish(code){
      if(code && this.downCode.indexOf(code) == -1){
        this.getLotterysDownCode(code)
      }
    }
  }
}
</script>

<style scoped lang="scss">

</style>
