<template>
  <div class="indexKS">
      <main class="main-container-number" >
        <div class="main-number-power">
          <table>
            <tbody v-if="">
              <tr :style="powerShow.indexOf(index) > -1 ? powerStyle.tr: ''" v-for="(item,index) in headerLotterDates" :key="index" @click="selectedNumber(item,index)">
                <th>
                  <p v-if="item.tag == 2">
                    <label v-for="(item2,index2) in item.names" :key="index2">
                      <img  :src="require('@/assets/images/'+item2+'.png')" alt="number">
                    </label>
                  </p>
                  <p v-else>
                    <label v-for="(item2,index2) in item.name" :key="index2">
                      <span style="display: inline">{{item2}}</span>
                    </label>
                  </p>
                  <span :style="powerShow.indexOf(index) > -1  ?  powerStyle.span :''">倍率</span>
                  <em :style="powerShow.indexOf(index) > -1 ? powerStyle.span :''">{{item.odds}}</em>
                </th>
              </tr>
            </tbody>
          </table>
        </div>
        <footer-lotter :powerShow="powerShow" :selectedNumberDate="selectedNumberDate" @footerLotterMoney="footerLotterMoney($event)" @cleanUpPowerShow="cleanUpPowerShow(arguments)" :clear="clear"></footer-lotter>
      </main>
  </div>
</template>
<script>
  import footerLotter from "@/components/include/footerLotter";
  export default {
    name: "indexKS",
    components:{footerLotter},
    props:["KSheaderLotterDate",'clear'],
    data(){
      return{
        index:2,
        powerStyle:{tr:"color:red;border:2px solid red",span:'font-weight:bold;color:red;'},//点击颜色
        selectedNumberDate:[], //选中的号码
        powerShow:[], //选中的位置
      }
    },
    created() {

    },
    mounted() {
    },
    methods:{
      //选中的号码
      selectedNumber(item,index){
        let orderNumber = 1;
        this.selectedNumberDate.push(item);
        this.powerShow.push(index);
        for (let i=0;i<this.selectedNumberDate.length-1;i++){
            if (item.name == this.selectedNumberDate[i].name){
              this.selectedNumberDate.splice(i,1)
              this.selectedNumberDate.pop()
            }
          }
          for (let i=0;i<this.powerShow.length-1;i++){
            if (index == this.powerShow[i]){
              this.powerShow.splice(i,1)
              this.powerShow.pop()
            }
          }
      },
      //子组件footerLotter传过来的值
      handleSubmitOrder(dataMoney){
        this.getDolotBet(dataMoney)
      },
      //处理footerLotter给的清除数据
      cleanUpPowerShow(clearDate){
        this.powerShow = []
        this.selectedNumberDate = []
        if (this.powerShow == '' && clearDate != true){
          // this.$toast("数据已清除,请重新选择")
        }
      },
      //接受money 并整合提交数据给lottery
      footerLotterMoney(dataMoney){
        //lotType: 10, groupCode: 短牌,qiHao: 202006010686,version: 5,lotCode: FFK3
        //data [{"max":50000,"min":1,"name":"6点","oddsId":345957,"playCode":"daxiaoshaibao","money":"2.00"}]
        let data =[];
        for (let [index,val] of this.selectedNumberDate.entries()){
          data[index]={max:this.selectedNumberDate[index].maxBetAmmount,min:this.selectedNumberDate[index].minBetAmmount,name:this.selectedNumberDate[index].name,oddsId:this.selectedNumberDate[index].id,playCode:this.selectedNumberDate[index].playCode,money:dataMoney}
        }
        this.$emit("dateParams",JSON.stringify(data))
        console.log(data)
      },
    },
    computed:{
      //过滤处理数据
      headerLotterDates(){
        if (this.KSheaderLotterDate !='' && this.KSheaderLotterDate.child != undefined){
          for (let [index,val] of this.KSheaderLotterDate.child.entries()){
            if (val.name.includes("点") ||  val.name.includes("骰") || val.name.includes("大") || val.name.includes("小") ||val.name.includes("单") ||val.name.includes("双")){
              val.tag = 1
            }else {
              let value = String(val.name).split("-")
              val.names= value
              val.tag = 2
            }
          }
          return this.KSheaderLotterDate.child
        }

      },
    },
    watch:{
      'headerLotterDate':function () {
        this.selectedNumberDate=[]
        this.powerShow =[]
      }
    },
    filters:{

    }
  }
</script>
<style lang="scss" scoped>
  $lotterIndexMarginTopTime:1rem;
  $lotterIndexOpenheight:0.8rem;
    .main-container-number{
      height: 100%;
      .main-number-power{
        padding: 10px .2rem 0 .2rem!important;
        text-align: center;
        margin: auto;
        box-sizing: border-box;
        table{
          text-align: center;
          width: 100%;
          tbody{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: row wrap;
            tr{
              width: 100%;
              flex: 0 0 20%;
              padding: 0.1rem 0rem;
              background-color: #fff;
              color: #adadad;
              border: 2px solid #d2d2d2;
              box-sizing: border-box;
              text-align: center;
              box-shadow: 0 -1px 0.9995vw 0 rgba(83,93,118,0.08);
              margin-top: 0.3rem;
              border-radius: .1rem;
              min-height: 1.28rem;
              &:nth-child(n){
                margin-right: 0.3rem;
              }
              &:nth-child(4n){
                margin-right: 0;
              }
              th{
                width: 100%;
                display: block;
                p{
                  img{
                    height: 0.4rem;
                    width: 0.4rem;
                  }
                }
                span{
                  font-size: 0.22rem;
                  padding-top:4px ;
                  display: block;
                  font-weight: 400;
                }
                em{
                  display: block;
                  font-size: 0.24rem;
                  padding-top: 2px;
                }
              }
            }
          }
        }
      }
    }
</style>
