<template>
  <div class="help">
    <header>
      <router-link to="/service">
        <img src="../assets/images/go-out.png" alt="">
      </router-link>
      <div>
        {{$t('serviceCenter[0]')}}
      </div>
    </header>
    <div class="content" v-html="helpHtml">

    </div>
  </div>
</template>

<script>
import '@/assets/css/help.less'
export default {
  name: "help",
  data(){
    return{
      helpHtml:''
    }
  },
  created() {
    this.getHelpContent()
  },
  mounted() {
  },
  methods:{
    getHelpContent:function (){
      for(let index in this.$store.state.backData.helpList){
        if(this.$store.state.backData.helpList[index].id == this.$route.query.id){
          this.helpHtml = this.$store.state.backData.helpList[index].content
        }
      }
    },
  }
}
</script>

<style scoped>

</style>