<template>
  <div class="index">
    <header>
      <span><router-link to="/line">{{$t('line')}}</router-link></span>
      <span><router-link to="/language">{{$t('language')}}</router-link></span>
      <img src="../assets/images/logo-zh-TW.png" alt="">
    </header>
    <div class="swipe">
      <van-swipe class="my-swipe" :autoplay="3000" indicator-color="white">
        <van-swipe-item>
          <img src="http://953848.com/upload/resource/202102191308283525048505.png" alt="">
        </van-swipe-item>
        <van-swipe-item>
          <img src="http://953848.com/upload/resource/202102191308283525048505.png" alt="">
        </van-swipe-item>
      </van-swipe>
    </div>
    <div class="swipe-notice">
      <img src="../assets/images/notice.png">
      <van-swipe style="height: 32px;" vertical :show-indicators="false" :autoplay="3000">
        <van-swipe-item v-for="(item, index) in $store.state.backData.userviplist || []" :key="index">
          <span v-html="$t('home.broadcast[0]',{member:item.username,vipname:item.child_vip_name,grade:item.name})"></span>
        </van-swipe-item>
      </van-swipe>
    </div>
    <div class="menu">
      <van-grid direction="horizontal" :column-num="4" :border="false">
        <van-grid-item>
          <router-link to="/vip">
            <span>{{$t('home.menu[0]')}}</span>
            <img src="../assets/images/nav1.png"  alt="">
          </router-link>
        </van-grid-item>
        <van-grid-item>
          <router-link to="/video">
            <span>{{$t('home.menu[1]')}}</span>
            <img src="../assets/images/nav2.png" alt="">
          </router-link>
        </van-grid-item>
        <van-grid-item>
          <router-link to="/promote">
            <span>{{$t('home.menu[2]')}}</span>
            <img src="../assets/images/nav3.png" alt="">
          </router-link>
        </van-grid-item>
        <van-grid-item>
          <router-link to="/balance">
            <span>余额宝</span>
            <img src="../assets/images/yueb.png" alt="">
          </router-link>
        </van-grid-item>
      </van-grid>
    </div>
    <div class="friend">
      <router-link to="/promote">
        <img src="../assets/images/promote-zh-CN.png" alt="">
      </router-link>
    </div>
    <div class="task-hall">
      <div class="title">
        {{$t('home.taskHall.title[0]')}}
      </div>
      <div class="list">
        <van-grid direction="horizontal" :column-num="2" :border="false">
          <van-grid-item v-for="(item,index) in $store.state.backData.taskclasslist" :key="index">
            <router-link to="/task">
              <span>{{item.group_name}} <br> {{item.group_info}} </span>
              <img :src="item.icon" alt="">
            </router-link>
          </van-grid-item>
        </van-grid>
      </div>
    </div>
    <div class="task-hall">
      <div class="title">
        {{$t('home.taskHall.title[1]')}}
      </div>
      <div class="list">
        <van-grid direction="horizontal" :column-num="2" :border="false">
          <van-grid-item v-for="(item,index) in $store.state.backData.taskclasslist" :key="index">
            <router-link to="/postTask">
              <span>{{item.group_name}} <br> {{item.group_info}} </span>
              <img :src="item.icon" alt="">
            </router-link>
          </van-grid-item>
        </van-grid>
      </div>
    </div>
    <div class="member-list">
      <van-tabs type="card" v-model="orderRank">
        <van-tab :title="$t('home.memberList.title') " name="1"></van-tab>
        <van-tab :title="$t('home.businessList.title')" name="2"></van-tab>
      </van-tabs>
      <div class="order-rank">
        <van-swipe v-if="orderRank == 1" style="height: 340px" vertical :show-indicators="false" :autoplay="3000"  height="68">
          <van-swipe-item style="height: 68px;" v-for="(item, index) in $store.state.backData.memberList || []" :key="index">
            <div class="head">
              <img :src="'http://953848.com/xml/static/head/' + item.header" alt="">
            </div>
            <div class="font">
              {{$t('home.memberList.data[0]',{ member: item.username })}}
              <br>
              <span>{{$t('home.memberList.data[1]',{ num: item.number ,profit: item.profit})}}</span>
            </div>
          </van-swipe-item>
        </van-swipe>
        <van-swipe v-if="orderRank == 2" style="height: 340px" vertical :show-indicators="false" :autoplay="3000"  height="686">
          <van-swipe-item style="height: 68px;" v-for="(item, index) in $store.state.backData.businessList || []" :key="index">
            <div class="head">
              <img :src="'http://953848.com/xml/static/head/' + item.header" alt="">
            </div>
            <div class="font">
              {{item.username}}
              <br>
              <span>{{$t('home.businessList.data[1]',{ num: item.number})}}</span>
              <div class="profit">
                <img src="../assets/images/gold.png" alt="">
                <span>{{item.profit}}</span>
              </div>
            </div>
          </van-swipe-item>
        </van-swipe>
      </div>
    </div>
    <van-popup v-model="noticePopupShow" v-if="$store.state.backData.noticelist.length > 1">
      <div class="notice-popup">
        <dt>{{$store.state.backData.noticelist[0].title}}</dt>
        <dd v-html="$store.state.backData.noticelist[0].content"></dd>
      </div>
    </van-popup>
    <footer_nav></footer_nav>
  </div>
</template>

<script>
import '@/assets/css/index.less'
import footer_nav from  '@/components/include/footer_nav'
export default {
  name: 'index',
  components:{
    footer_nav
  },
  data(){
    return{
      orderRank:1,
      noticePopupShow:true,
    }
  },
  created() {
  },
  mounted() {
  },
  methods:{

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
