<template>
  <div class="line">
    <header>
      <router-link to="/">
        <img src="../assets/images/go-out.png" alt="">
      </router-link>
      <div>
        {{$t('line')}}
      </div>
    </header>
    <div class="content">
      <div class="title">
        <laber>{{$t('lineList[1]')}}</laber><span>{{nowLine}}</span>
      </div>
      <van-radio-group v-model="radio">
        <div class="list">
          <laber>{{$t('lineList[2]')}} 953***.com</laber> <span>4198 ms</span><van-radio name="1"></van-radio>
        </div>
        <div class="list">
          <laber>{{$t('lineList[2]')}} 953***.com</laber> <span>4198 ms</span><van-radio name="2"></van-radio>
        </div>
      </van-radio-group>
    </div>
  </div>
</template>

<script>
import '@/assets/css/line.less'
export default {
name: "line",
  data(){
    return {
      radio:'1',
      nowLine:location.host,

    }
  },
  created() {
  },
  mounted() {
  },
  methods:{

  }
}
</script>

<style scoped>

</style>