<template>
  <div class="login">
    <header>
      <router-link to="/">
        <img src="../assets/images/go-out.png" alt="">
      </router-link>
      <div>
        <router-link to="/language" style="position: static;color: #bbb;font-size:1.4rem">
          {{$t('language')}}
        </router-link>
      </div>
    </header>
    <div class="login">
      <img class="back-img" src="../assets/images/bg_new_login-zh-TW.png">
      <div class="login-input">
        <div class="user">
          <laber><van-icon name="manager" /></laber>
          <input type="text" :placeholder="$t('login.placeholder[0]')" style="padding-left: 4rem;" v-model="user.username">
<!--          <van-dropdown-menu>-->
<!--            <van-dropdown-item v-model="prefix" :options="prefixList" :title="prefixList[prefix].title" />-->
<!--          </van-dropdown-menu>-->
        </div>
        <div class="password">
          <laber><van-icon name="lock" /></laber>
          <input type="password" :placeholder="$t('login.placeholder[1]')" style="padding-left: 4rem;" v-model="user.password">
        </div>
      </div>
      <div class="remember">
        <van-checkbox v-model="rememberPass">{{$t('login.text[0]')}}</van-checkbox>
      </div>
      <div class="button">
        <van-button round type="info" @click="login">{{$t('login.text[2]')}}</van-button>
      </div>
      <div class="register">
        {{$t('login.i18n[0]',{title:'link_share'})}}
        <router-link to="/register">{{$t('login.i18n[1]')}}</router-link>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/login.less';
import { Toast } from 'vant';
export default {
name: "login",
  data(){
    return {
      prefix: 0,
      prefixList: [
        { text: '+86 CHINA（中国）', value: 0, title:'+86' },
        { text: '+1 USA(美国)', value: 1, title:'+1' },
        { text: '+62 INDOESIA(印度尼西亚)', value: 2, title:'+62' },
        { text: '+84 VIETNAM(越南)', value: 3, title:'+84' },
        { text: '+34 España(西班牙)', value: 4, title:'+34' },
        { text: '+81 JAPAN(日本)', value: 5, title:'+81' },
        { text: '+66 THAILAND(泰国)', value: 6, title:'+66' },
      ],
      rememberPass:false,
      user:{
        username:'',
        password:'',
        lang:this.$store.state.lang,
      }
    }
  },
  created() {
    this.getUserInfo()
  },
  mounted() {
  },
  methods:{
    getUserInfo:function (){
      let userName = localStorage.getItem("username");
      let password = localStorage.getItem("password");
      if(userName != 'false' && password != 'false'){
        this.user.username = userName
        this.user.password = password
        this.rememberPass = true
      }
    },
    login:function () {
      this.$post('api/User/Login',this.user,true).then((res) => {
        if(res.code == 1){
          Toast('登录成功')
          this.$cookies.set("SESSION",res.accessToken)
          this.$store.commit('pushIsLogin',true)
          this.$store.commit('pushToken',res.info.token)
          this.$store.commit('pushUserInfo',res.info)
          if(this.rememberPass){
            localStorage.setItem("username",this.user.username);
            localStorage.setItem("password",this.user.password);
          } else {
            localStorage.setItem("username",'false');
            localStorage.setItem("password",'false');
          }
          // this.$cookies.set("SESSION",res.accessToken)
          this.$router.push({path:'/'})
        } else {
          Toast(res.code_dec)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>