<template>
  <div class="mytask">
    <header>
      <router-link to="/">
        <img src="../assets/images/go-out.png" alt="">
      </router-link>
      <div>
        {{$t('task.default[0]')}}
      </div>
    </header>
    <div class="tabs">
      <van-tabs @click="getTaskOrderList">
        <van-tab :title="$t('task.tabs[0]')" name="1"></van-tab>
        <van-tab :title="$t('task.tabs[1]')" name="2"></van-tab>
        <van-tab :title="$t('task.tabs[2]')" name="3"></van-tab>
        <van-tab :title="$t('task.tabs[3]')" name="4"></van-tab>
        <van-tab :title="$t('task.tabs[4]')" name="5"></van-tab>
        <van-tab :title="$t('task.tabs[5]')" name="6"></van-tab>
      </van-tabs>
    </div>
    <div class="task-content">
      <div class="no-data" v-show="taskList.length == 0">
        <img src="../assets/images/no_data.7d5de337.png" alt="">
      </div>
      <div class="list" v-for="(item, index) in taskList" :key="index" v-show="taskList.length >= 1">
        <div class="left" @click="locaTaskShow(item)">
          <img :src="item.h_icon" alt="">
        </div>
        <div class="center" @click="locaTaskShow(item)">
          <p>{{item.group_name}}{{$t('task.default[1]')}}：{{item.group_info}}</p>
          <p>{{$t('task.default[3]')}}：{{item.add_time}}</p>
          <p>{{$t('task.default[2]')}}：{{item.add_time}}</p>
        </div>
        <div class="right" v-if="item.status == 1">
          <p>{{$t('task.default[6]')}}</p>
          <p>{{$store.state.backData.currency}}1</p>
          <p><van-uploader :after-read="afterRead" v-model="item.fileList"/></p>
          <p><button @click="submitThisTask(item)">{{$t('task.default[7]')}}</button></p>
        </div>
        <div class="right" v-else-if="item.status == 2">
          <p><img style="width: 5.7rem;height: 5rem" src="../assets/images/state2-zh-TW.png" alt=""></p>
          <p><button style="background: rgb(170, 170, 170)" @click="submitThisTask(item)">{{$t('task.default[8]')}}</button></p>
        </div>
        <div class="right" v-else-if="item.status == 3">
          <p><img style="width: 5.7rem;height: 5rem" src="../assets/images/3_m.png" alt=""></p>
        </div>
        <div class="right" v-else-if="item.status == 4">
          <p><img style="width: 5.7rem;height: 5rem" src="../assets/images/4_m.png" alt=""></p>
        </div>
        <div class="right" v-else-if="item.status == 5">
          <p><img style="width: 5.7rem;height: 5rem" src="../assets/images/5_m.png" alt=""></p>
        </div>
        <div class="right" v-else-if="item.status == 6">
          <p><img style="width: 5.7rem;height: 5rem" src="../assets/images/state6-zh-TW.png" alt=""></p>
        </div>
      </div>
    </div>
    <footer_nav></footer_nav>
  </div>
</template>

<script>
import '@/assets/css/mytask.less'
import footer_nav from  '@/components/include/footer_nav'
import {Toast} from "vant";
export default {
name: "mytask",
  data(){
    return {
      fileList:[],
      taskList:[],
    }
  },
  components:{
    footer_nav
  },
  created() {
    this.getTaskOrderList()
  },
  mounted() {
  },
  methods:{
    afterRead: function (file) {
      // 此时可以自行将文件上传至服务器
      file.status = 'uploading';
      file.message = this.$t('upload[0]');
      this.$forceUpdate()
      let formData = new FormData()
      formData.append('image', file.file)
      formData.append('token', this.$store.state.token)
      formData.append('type', '3')
      this.$file('api/User/UploadImg', formData).then(res => {
        if (res.code == 1) {
          file.status = 'done';
          file.message = this.$t('upload[2]');
          file.url = res.url;
          this.$forceUpdate()
        } else {
          file.status = 'failed';
          file.message = this.$t('upload[3]');
        }
      })
    },
    getTaskOrderList:function (name){
      this.taskList = []
      let params = {
        status:name || 1,
        page_no:1,
        is_u:2,
        token:this.$store.state.token,
        lang:this.$store.state.lang,
      }
      this.$post('api/task/taskOrderlist',params,true).then(res=>{
        this.taskList = res.info
        for(let index in this.taskList){
          this.taskList[index].fileList = []
        }
      })

    },
    submitThisTask:function (data){
      let params = {
        order_id:data.order_id,
        token:this.$store.state.token,
        lang:this.$store.state.lang,
      }
      if(data.status == 1){
        params.examine_demo = []
        if(data.fileList.length >= 1){
          for(let index in data.fileList){
            params.examine_demo.push(data.fileList[index].url)
          }
        } else {
          Toast('请上传完成任务图片')
          return false
        }
      } else {
        params.status = data.status
      }
      this.$post('api/task/taskOrderSubmit',params,true).then(res=>{
        if(res.code == 1){
          Toast(res.code_dec)
          this.getTaskOrderList()
        } else {
          Toast(res.code_dec)
        }
      })
    },
    locaTaskShow:function (item){
      this.$router.push({path:'/taskInfo',query:{id:item.order_id}})
    }
  }
}
</script>

<style scoped>

</style>