<template>
  <div class="postTask">
    <header>
      <router-link to="/">
        <img src="../assets/images/go-out.png" alt="">
      </router-link>
      <div>
        {{$t('postTask.navBar.title')}}
      </div>
    </header>
    <div class="content">
      <div class="list">
        <div class="title">{{$t('postTask.field[0].label')}}</div>
        <div class="input"><van-field type="text" v-model="classify_name" readonly  @click="classShow = true"/></div>
      </div>
      <div class="list">
        <div class="title">{{$t('postTask.field[1].label')}}</div>
        <div class="input">
          <van-field type="text" v-model="taskData.title" :placeholder="$t('postTask.field[1].placeholder')"/>
        </div>
      </div>
      <div class="list">
        <div class="title">{{$t('postTask.field[2].label')}}</div>
        <div class="input">
          <van-field type="text" v-model="taskData.content" :placeholder="$t('postTask.field[2].placeholder')"/>
        </div>
      </div>
      <div class="list">
        <div class="title">{{$t('postTask.field[3].label')}}</div>
        <div class="input">
          <van-field type="number" v-model="taskData.reward_price" readonly :placeholder="$t('postTask.field[3].placeholder')"/>
          <label>{{$store.state.backData.currency}}</label></div>
      </div>
      <div class="list">
        <div class="title">{{$t('postTask.field[4].label')}}</div>
        <div class="input">
          <van-field type="number" v-model="taskData.total_number" :placeholder="$t('postTask.field[4].placeholder')"/>
        </div>
      </div>
      <div class="list">
        <div class="title">{{$t('postTask.field[5].label')}}</div>
        <div class="input">
          <van-field type="number" v-model="taskData.person_time" :placeholder="$t('postTask.field[5].placeholder')"/>
          <label>次/人</label></div>
      </div>
      <div class="list">
        <div class="title">{{$t('postTask.field[6].label')}}</div>
        <div class="input">
          <van-field type="number" :value="taskData.total_number * taskData.reward_price + (taskData.total_number * taskData.reward_price * $store.state.userInfo.pump)" :placeholder="$t('postTask.field[61].placeholder')" readonly="readonly"/>
        </div>
      </div>
      <div class="list">
        <div class="title">{{$t('postTask.field[7].label')}}</div>
        <div class="input">
          <van-field type="text" v-model="taskData.link_info" :placeholder="$t('postTask.field[7].placeholder')"/>
        </div>
      </div>
      <div class="list">
        <div class="title">{{$t('postTask.field[8].label')}}</div>
        <div class="input">
<!--          <van-dropdown-menu>-->
<!--            <van-dropdown-item v-model="taskData.task_level" :options="levelList" :title="levelList[taskData.task_level].text"/>-->
<!--          </van-dropdown-menu>-->
          <van-field type="text" v-model="level_name" :placeholder="$t('postTask.field[8].placeholder')" readonly  @click="levelShow = true"/>
        </div>
      </div>
      <div class="list">
        <div class="title">{{$t('postTask.field[9].label')}}</div>
        <div class="input">
          <van-field type="text" v-model="taskData.end_time" :placeholder="$t('postTask.field[9].placeholder')" @click="dateShow = true"/>
          <van-calendar v-model="dateShow" @confirm="onConfirm" color="#ee0a24" :show-confirm="false"/>
        </div>
      </div>
      <div class="list" v-if="$store.state.lang == 'cn'">
        <div class="title">{{$t('postTask.field[10].label')}}</div>
        <div class="input" style="line-height: 3.5rem;">
          <van-button type="default" v-for="(item, index) in condition" :key="index" :class="{'active':item.status}"  @click="item.status = !item.status" style="height: 2.6rem;width: 6rem">
            {{ item.title }}
          </van-button>
        </div>
      </div>
      <div class="list" v-else style="height: 16rem;padding-top: .5rem;box-sizing: border-box;">
        <div class="title">{{$t('postTask.field[10].label')}}</div>
        <div class="input" style="line-height: 3.5rem;text-align: left;">
          <van-button type="default" v-for="(item, index) in condition" :key="index" :class="{'active':item.status}"  @click="item.status = !item.status" style="padding: .5rem;margin-top: .5rem;height: auto">
            {{ item.title }}
          </van-button>
        </div>
      </div>
      <div class="list" style="height:8.8rem;">
        <div class="title">{{$t('postTask.field[11].label')}}</div>
        <div class="input" style="line-height: 8.5rem;display: flex;align-items: center;">
          <van-uploader :max-count="4" :after-read="afterRead" v-model="fileList"/>
        </div>
      </div>
      <div class="list" @click="stepShow = true">
        <div class="title">{{$t('postTask.field[12].label')}}</div>
        <div class="input" style="text-align: left;line-height: 4.2rem">
          <span>{{$t('postTask.field[12].placeholder')}}</span><label>
          <van-icon name="arrow"/>
        </label>
        </div>
      </div>
    </div>
    <van-popup v-model="classShow" position="bottom" :style="{ height: '30.8rem' }" class="head-popup" >
      <div class="module">
        <van-picker show-toolbar :columns="classColumns" @confirm="onConfirm2" @cancel="onCancel"/>
      </div>
    </van-popup>
    <van-popup v-model="levelShow" position="bottom" :style="{ height: '30.8rem' }" class="head-popup" >
      <div class="module">
        <van-picker show-toolbar :columns="levelColumns" @confirm="onConfirm3" @cancel="onCancel"/>
      </div>
    </van-popup>
    <van-popup v-model="stepShow" position="right" :style="{ width: '100%',height:'100%' }" >
      <div class="main">
        <div class="header">{{$t('postTask.step.title')}}<span @click="stepShow = false">{{$t('postTask.step.right')}}</span></div>
        <div class="list" v-for="(item, index) in stepList" :key="index">
          <div class="index"><div>{{index + 1}}</div></div>
          <div class="img"><van-uploader :max-count="1" :after-read="afterRead" v-model="item.img"/></div>
          <div class="font"><textarea rows="2" :placeholder="$t('postTask.step.placeholder')" v-model="item.describe"></textarea></div>
        </div>
        <div class="button">
          <van-button icon="plus" type="info" @click="listOperate('1')">{{$t('postTask.step.button[0]')}}</van-button><van-button icon="cross" type="default" @click="listOperate('2')">{{$t('postTask.step.button[1]')}}</van-button>
        </div>
      </div>
    </van-popup>
    <div class="Tips">{{$t('postTask.tips[0]',{pump:$store.state.userInfo.pump ,price:taskData.total_number * taskData.reward_price + (taskData.total_number * taskData.reward_price * $store.state.userInfo.pump)})}}</div>
    <div class="submit"><van-button type="info" @click="publishTask">{{$t('postTask.button')}}</van-button></div>
  </div>
</template>

<script>
import '@/assets/css/postTask.less'
import { Toast } from 'vant'
export default {
  name: "postTask",
  data() {
    return {
      dateShow: false,
      stepShow: false,
      classShow: false,
      levelShow: false,
      classify_name: this.$store.state.backData.taskclasslist[0].group_name || '',
      level_name: this.$store.state.backData.UserGradeList[0].name || '',
      condition: [],
      stepList: [
        {
          describe:'',
          img:[]
        }
      ],
      fileList: [],
      levelList: [
        {text: 'General member', value: 0},
        {text: 'Silver member', value: 1},
        {text: 'Gold member', value: 2},
        {text: 'Platinum members', value: 3},
        {text: 'Diamond members', value: 4},
        {text: 'Crown member', value: 5},
        {text: 'Supreme member', value: 6},
      ],
      taskData: {
        classify: 0,
        task_class: this.$store.state.backData.taskclasslist[0].group_id || 0,
        task_level: this.$store.state.backData.UserGradeList[0].grade || 0,
        title: '',
        content: '',
        reward_price: 1,
        total_number: '',
        person_time: 1,
        total_price: 1,
        link_info: '',
        end_time: '',
      },
      classColumns: [],
      levelColumns: [],
    }
  },
  created() {
    this.setClassColumns()
    this.setLevelColumns()
    this.setCondition()
    if(this.$route.query.id){
      this.getTaskList()
    }
  },
  mounted() {
    this.taskData.reward_price = parseInt(this.$store.state.backData.UserGradeList[0].commission)
  },
  methods: {
    getTaskList:function (){
      let params = {
        id:this.$route.query.id,
        token:this.$store.state.token,
        lang:this.$store.state.lang,
      }
      this.$post('api/task/getTaskinfo',params,true).then(res=>{
        if(res.code == 1){
          this.taskData.task_class = res.info.task_class
          this.getClassifyName(res.info.task_class)
          this.taskData.title = res.info.title
          this.taskData.content = res.info.content
          this.taskData.reward_price = res.info.reward_price
          this.taskData.total_number = res.info.total_number
          this.taskData.link_info = res.info.link_info
          this.taskData.end_time = res.info.end_time
          for(let index in res.info.finish_condition){
            this.condition[res.info.finish_condition[index]].status = true
          }
          for(let index in res.info.task_step){
            this.stepList[index].describe = res.info.task_step[index].describe
            this.stepList[index].img.push({url:res.info.task_step[index].img})
          }
          for(let index in res.info.examine_demo){
            this.fileList.push({url:res.info.examine_demo[index]})
          }
        }
      })
    },
    publishTask:function () {
      let params = {
        task_class:this.taskData.task_class,
        title:this.taskData.title,
        content:this.taskData.content,
        reward_price:this.taskData.reward_price,
        total_number:this.taskData.total_number,
        person_time:this.taskData.person_time,
        total_price:this.taskData.total_number * this.taskData.reward_price + (this.taskData.total_number * this.taskData.reward_price * this.$store.state.userInfo.pump),
        link_info:this.taskData.link_info,
        task_level:this.taskData.task_level,
        end_time:this.taskData.end_time,
        finish_condition:[],
        examine_demo:[],
        task_step:[],
        token:this.$store.state.token,
        lang:this.$store.state.lang,
      }
      for(let index in params){
        if(index != 'finish_condition' && index != 'examine_demo'&& index != 'task_step'){
          if(!params[index]){
            Toast('请正确填写内容')
            return false
          }
        }
      }
      // 实名认证
      if(this.condition.length >= 1){
        for(let index in this.condition){
          if(this.condition[index].status){
            params.finish_condition.push(this.condition[index].value)
          }
        }
      } else {
        Toast(this.$t('postTask.field[10].task'))
        return false
      }
      // 稽核样例
      if(this.fileList.length >= 1){
        for(let index in this.fileList){
          params.examine_demo.push(this.fileList[index].url)
        }
      } else {
        Toast('请上传稽核样例')
        return false
      }
      // 步骤示例
      if(this.stepList[0].describe || this.stepList[0].img.length){
        for(let index in this.stepList){
          let data = {
            describe:this.stepList[index].describe,
            img:this.stepList[index].img[0].url
          }
          params.task_step.push(data)
        }
      } else {
        Toast(this.$t('postTask.field[12].task'))
        return false
      }
      this.$post('api/task/publishTask',params,true).then(res=>{
        if(res.code == 1){
          Toast(res.code_dec)
          this.$router.push({path:'/'})
        } else {
          Toast(res.code_dec)
        }
      })
    },
    formatDate: function (date) {
      return `${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()}`;
    },
    onConfirm: function (date) {
      this.dateShow = false;
      this.taskData.end_time = this.formatDate(date);
    },
    afterRead: function (file) {
      // 此时可以自行将文件上传至服务器
      file.status = 'uploading';
      file.message = this.$t('upload[0]');
      let formData = new FormData()
      formData.append('image', file.file)
      formData.append('token', this.$store.state.token)
      formData.append('type', '3')
      this.$file('api/User/UploadImg', formData).then(res => {
        if (res.code == 1) {
          file.status = 'done';
          file.message = this.$t('upload[2]');
          file.url = res.url;
        } else {
          file.status = 'failed';
          file.message = this.$t('upload[3]');
        }
      })
    },
    listOperate:function (type){
      if(type == 1){
        // 添加
        let params = {
          describe:'',
          img:[]
        }
        this.stepList.push(params)
      } else if(this.stepList.length == 1){
        Toast(this.$t('postTask.field[12].error'))
      } else {
        // 删除
        this.stepList.pop()
      }
    },
    setClassColumns:function (){
      let list = this.$store.state.backData.taskclasslist
      for (let index in list){
        this.classColumns.push(list[index].group_name)
      }
    },
    setLevelColumns:function (){
      let list = this.$store.state.backData.UserGradeList
      for (let index in list){
        this.levelColumns.push(list[index].name)
      }
    },
    onConfirm2(value, index) {
      this.classify_name = value
      this.taskData.task_class = this.$store.state.backData.taskclasslist[index].group_id
      this.classShow = false
    },
    onConfirm3(value, index) {
      this.level_name = value
      this.taskData.task_level = this.$store.state.backData.UserGradeList[index].grade
      this.taskData.reward_price = parseInt(this.$store.state.backData.UserGradeList[index].commission)
      this.levelShow = false
    },
    onCancel() {
      this.classShow = false
      this.levelShow = false
    },
    setCondition:function (){
      let data = this.$store.state.backData.authenticationList
      for(let index in data){
        let params = {
          title:data[index],
          value: parseInt(index) + 1,
          status:false
        }
        this.condition.push(params)
      }
    },
    getClassifyName:function (id){
      for(let index in this.$store.state.backData.taskclasslist){
        if(this.$store.state.backData.taskclasslist[index].group_id == id){
          this.classify_name = this.$store.state.backData.taskclasslist[index].h_group_name
        }
      }
    },
  }
}
</script>

<style scoped>

</style>