<template>
  <div class="profit">
    <img src="../assets/images/profit-zh-TW.jpg" alt="">
    <footer_nav></footer_nav>
  </div>
</template>

<script>
import '@/assets/css/profit.less'
import footer_nav from "@/components/include/footer_nav";
export default {
name: "profit",
  data(){
    return {

    }
  },
  components:{
    footer_nav
  },
  created() {
  },
  mounted() {
  },
  methods:{
  
  }
}
</script>

<style scoped>

</style>