<template>
  <div class="promote">
    <header>
      <router-link to="/">
        <img src="../assets/images/go-out.png" alt="">
      </router-link>
    </header>
    <div class="content">
      <p>{{$t('promote[0]')}}{{$store.state.userInfo.username}}</p>
      <p>{{$t('promote[1]',{'title':''})}}</p>
<!--      <p><img src="../assets/images/code.png" alt=""></p>-->
      <div id="qrcodeReg" style="display: flex;justify-content: center;"></div>
      <p>{{$t('promote[2]')}}：{{code}}</p>
      <p class="copy-button copy_code" :data-clipboard-text="code" @click="copy('.copy_code')"><van-icon name="send-gift" />{{$t('promote[3]')}}</p>
      <p>{{link}}</p>
      <p class="copy-button copy_link" :data-clipboard-text="link" @click="copy('.copy_link')"><van-icon name="send-gift" />{{$t('promote[4]')}}</p>
    </div>
    <div class="button">
      <a href="#" @click="download" id="download">
<!--      <a href="#" download="https://g.csdnimg.cn/side-toolbar/3.0/images/kefu.png">-->
        <van-button type="info">{{$t('promote[5]')}}</van-button>
      </a>
    </div>
  </div>
</template>

<script>
import Clipboard from 'clipboard';
import '@/assets/css/promote.less'
import QRCode from "qrcodejs2";
import { Toast } from 'vant'
export default {
name: "promote",
  data(){
    return{
      code:this.$store.state.userInfo.idcode,
      link:this.$store.state.backData.setting.reg_url + '/#/register/' + this.$store.state.userInfo.idcode,
    }
  },
  created() {
  },
  mounted() {
    this.qrcode(this.link)
  },
  methods:{
    copy:function (ify){
      let clipboard = new Clipboard(ify)
      clipboard.on('success', e => {
        Toast(this.$t('dialog[3]'));
        console.log(e);
        // 释放内存
        clipboard.destroy()
      })
      clipboard.on('error', e => {
        // 不支持复制
        console.log(e);
        // 释放内存
        clipboard.destroy()
      })
    },
    qrcode:function (code) {
      new QRCode("qrcodeReg", {
        width: 101, // 二维码宽度，单位像素
        height: 101, // 二维码高度，单位像素
        text: code // 生成二维码的链接
      });
    },
    download:function (){
      let canvas = document.getElementById('app').getElementsByTagName('canvas')
      //创建a标签
      let a = document.createElement('a')
      //获取二维码的url并赋值为a.href
      a.href = canvas[0].toDataURL('img/png')
      //设置下载文件的名字
      a.download = 'code'
      //点击事件，相当于下载
      a.click()
      //提示信息
      Toast('下载中，请稍后...')
    },
  }
}
</script>

<style scoped>

</style>