<template>
  <div class="register">
    <header>
      <router-link to="/">
        <img src="../assets/images/go-out.png" alt="">
      </router-link>
      <div>
        <router-link to="/language" style="position: static;color: #bbb;font-size:1.4rem">
          {{$t('language')}}
        </router-link>
      </div>
    </header>
    <div class="content">
      <div class="title">
        {{$t('register.text[0]')}}
      </div>
      <div class="select">
        <div :class="{'active':active == 1}" @click="active = 1" style="width: 100%">{{$t('register.text[6]')}}</div>
<!--        <div :class="{'active':active == 2}" @click="active = 2">{{$t('register.text[7]')}}</div>-->
      </div>
    </div>
    <div class="login-input">
      <div class="user" v-if="active == 1">
        <laber><van-icon name="manager" /></laber>
        <input type="text" :placeholder="$t('register.placeholder[0]')" style="padding-left: 9rem;" v-model="user.username">
        <van-dropdown-menu>
          <van-dropdown-item v-model="prefix" :options="prefixList" :title="prefixList[prefix].title" />
        </van-dropdown-menu>
      </div>
      <div class="user" v-if="active == 2">
        <laber><van-icon name="manager" /></laber>
        <input type="text" :placeholder="$t('register.placeholder[7]')" style="padding-left: 4rem;" v-model="user.username">
      </div>
      <div class="input password">
        <laber><van-icon name="coupon" /></laber>
        <input type="text" :placeholder="$t('register.placeholder[6]')" style="padding-left: 4rem;" v-model="user.code">
        <img :src="code_rand" @click="getCodeRand" alt="">
      </div>
      <div class="input code">
        <laber><van-icon name="coupon" /></laber>
        <input type="text" :placeholder="$t('register.placeholder[1]')" style="padding-left: 4rem;" v-model="user.smscode">
        <van-button type="info" @click="getSMSCode">{{$t('register.text[2]')}}</van-button>
      </div>
      <div class="input">
        <laber><van-icon name="lock" /></laber>
        <input type="password" :placeholder="$t('register.placeholder[2]')" style="padding-left: 4rem;" v-model="user.password">
      </div>
      <div class="input">
        <laber><van-icon name="lock" /></laber>
        <input type="password" :placeholder="$t('register.placeholder[3]')" style="padding-left: 4rem;" v-model="user.re_password">
      </div>
      <div class="input">
        <laber><van-icon name="invition" /></laber>
        <input type="text" :placeholder="$t('register.placeholder[4]')" style="padding-left: 4rem;" v-model="user.recommend">
      </div>
    </div>
    <div class="button" @click="register">
      <van-button round type="info">{{$t('register.text[4]')}}</van-button>
    </div>
    <div class="button button-border" @click="$router.push({path:'/login'})">
      <van-button round plain type="info">{{$t('register.i18n[0]',{a:'',line:''})}}{{$t('register.i18n[1]')}}</van-button>
    </div>
  </div>
</template>

<script>
import '@/assets/css/register.less'
import {Toast} from "vant";
export default {
name: "register",
  data(){
    return {
      active:1,
      prefix: 0,
      prefixList: [
        { text: '+86 CHINA（中国）', value: 86, title:'+86' },
        { text: '+1 USA(美国)', value: 1, title:'+1' },
        { text: '+62 INDOESIA(印度尼西亚)', value: 62, title:'+62' },
        { text: '+84 VIETNAM(越南)', value: 84, title:'+84' },
        { text: '+34 España(西班牙)', value: 34, title:'+34' },
        { text: '+81 JAPAN(日本)', value: 81, title:'+81' },
        { text: '+66 THAILAND(泰国)', value: 66, title:'+66' },
      ],
      user:{
        dest:'',
        username:'',
        password:'',
        re_password:'',
        code:'',
        code_rand:'',
        smscode:'',
        recommend:'',
        lang:this.$store.state.lang,
      },
      code_rand:''
    }
  },
  created() {
    this.getCodeRand()
  },
  mounted() {
  },
  methods:{
    getCodeRand:function (){
      this.code_rand = '/api/Account/code?code_rand=' + Date.now()
      this.user.code_rand = Date.now()
    },
    register:function () {
      this.user.dest = this.prefixList[this.prefix].value
      this.$post('api/user/Register',this.user,true).then((res) => {
        Toast(res.code_dec)
      })
    },
    getSMSCode:function () {
      let params = {
        phone:this.user.username,
        dest:this.prefixList[this.prefix].value,
        code:this.user.code,
        recommend:this.user.recommend,
        code_rand:this.user.code_rand,
        lang:this.$store.state.lang,
      }
      this.$post('api/sms/sendSMSCode',params,true).then((res) => {
        Toast(res.code_dec)
      })
    },
  }
}
</script>

<style scoped>

</style>