<template>
  <div class="service">
    <header>
      <router-link to="/">
        <img src="../assets/images/go-out.png" alt="">
      </router-link>
      <div>
        {{$t('serviceCenter[0]')}}
      </div>
    </header>
    <div class="vipService">
      <div class="left">
        <img src="../assets/images/msg.png" alt="">
      </div>
      <div class="right">
        <p>{{$t('serviceCenter[1]')}}</p>
        <p>{{$t('serviceCenter[2]')}}</p>
      </div>
    </div>
    <div class="help">
      <div class="title">
        {{$t('help[0]')}}
      </div>
      <div class="list" v-for="(item,index) in $store.state.backData.helpList" :key="index">
        <router-link :to="{name:'/help',params:{id:item.id}}">
          {{item.title}}
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/service.less'
export default {
  name: "service",
  data(){
    return{

    }
  },
  created() {
  },
  mounted() {
  },
  methods:{

  }
}
</script>

<style scoped>

</style>