<template>
  <div class="task">
    <header>
      <router-link to="/">
        <img src="../assets/images/go-out.png" alt="">
      </router-link>
      <div>
        {{$t('vip.label')}}
      </div>
    </header>
    <div class="swipe">
      <van-swipe class="my-swipe" :autoplay="3000" indicator-color="white">
        <van-swipe-item>
          <img src="http://953848.com/upload/resource/202102191308283525048505.png" alt="">
        </van-swipe-item>
        <van-swipe-item>
          <img src="http://953848.com/upload/resource/202102191308283525048505.png" alt="">
        </van-swipe-item>
      </van-swipe>
    </div>
    <div class="tabs">
      <van-tabs v-model="active">
        <van-tab :title="item.group_name" v-for="(item, index) in $store.state.backData.taskclasslist" :key="index"></van-tab>
      </van-tabs>
    </div>
    <div class="list">
      <div class="module" v-for="(item, index) in $store.state.backData.UserGradeList" :key="index">
        <div class="card" @click="locaTaskList(item,index)">
          <p>{{item.name}}</p>
          <p>{{$t('vip.label')}}:{{item.number}}次</p>
          <span class="now" v-if="($store.state.userInfo.vip_level - 1) == index">{{$t('task.index[0]')}}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Dialog } from 'vant';
import '@/assets/css/task.less'
export default {
name: "task",
  data(){
    return{
      active:0,
    }
  },
  created() {
  },
  mounted() {
  },
  methods:{
    locaTaskList:function (data,index){
      if(this.$store.state.userInfo.vip_level > index){
        let group_id = this.$store.state.backData.taskclasslist[this.active].group_id
        this.$router.push({path:'/taskList',query:{group_id:group_id,level_id:data.grade}})
      } else{
        Dialog.confirm({
          title: '',
          // message: '您当前等级为' + this.$store.state.userInfo.useridentity +'<br>是否加入' + data.name,
          message: this.$t('task.index[1]',{currVip:this.$store.state.userInfo.useridentity, vip:data.name,}),
          confirmButtonText:this.$t('task.index[2]'),
        }).then(() => {
              // on confirm
          this.$router.push({path:'/vip'})
        }).catch(() => {
              // on cancel
        });
      }
    },
  }
}
</script>

<style scoped>

</style>