<template>
  <div class="taskList">
    <header>
      <router-link to="/task">
        <img src="../assets/images/go-out.png" alt="">
      </router-link>
      <div>
        {{$t('task.default[0]')}}
      </div>
    </header>
    <div class="content">
      <div class="no-data">
        <img src="../assets/images/no_data.7d5de337.png" alt="" v-show="taskList.length == 0">
      </div>
      <div class="list" v-for="(item, index) in taskList" :key="index" v-show="taskList.length >= 1">
        <div class="img" @click="locaTaskShow(item)">
          <p>{{item.group_name}}</p>
          <p><img :src="item.icon" alt=""></p>
          <p><button>{{item.vip_dec}}</button></p>
        </div>
        <div class="font" @click="locaTaskShow(item)">
          <p>{{$t('task.list[1]')}}:{{item.username}}</p>
          <p>{{$t('task.list[2]')}}:<span>{{item.surplus_number}}</span></p>
          <p>{{$t('task.list[3]')}}:{{item.group_info}}</p>
        </div>
        <div class="button">
          <p><span>{{item.status_dec}}</span></p>
          <p>{{$store.state.backData.currency}} <b>1</b></p>
          <p><button @click="drawTask(item.task_id)">{{$t('task.list[4]')}}</button></p>
        </div>
      </div>
      <div class="tips">
        {{$t('vanPull[0]')}}
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/taskList.less'
import {Toast} from "vant";
export default {
name: "taskList",
  data(){
    return{
      taskList:[]
    }
  },
  created() {
    this.getTaskList()
  },
  mounted() {
  },
  methods:{
    getTaskList:function (){
      let params = {
        group_id:this.$route.query.group_id,
        task_level:this.$route.query.level_id,
        page_no:1,
        is_u:0,
        token:this.$store.state.token,
        lang:this.$store.state.lang,
      }
      this.$post('api/task/getTaskList',params,true).then(res=>{
        this.taskList = res.info
      })
    },
    locaTaskShow:function (item){
      this.$router.push({path:'/taskShow',query:{id:item.task_id}})
    },
    drawTask:function (id){
      let params = {
        id:id,
        token:this.$store.state.token,
        lang:this.$store.state.lang,
      }
      this.$post('api/task/receiveTask',params,true).then(res=>{
        if(res.code == 1){
          Toast(res.code_dec)
          this.$router.push({path:'/'})
        } else {
          Toast(res.code_dec)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>
