<template>
  <div class="task-show">
    <header>
      <router-link to="/task">
        <img src="../assets/images/go-out.png" alt="">
      </router-link>
      <div>
        {{$t('task.show[0]')}}
      </div>
    </header>
    <div class="content">
      <div class="info">
        <div class="one">
          <div>{{taskData.title}}</div>
          <div>+{{$store.state.backData.currency}}{{taskData.reward_price}}</div>
        </div>
        <div class="two">
          <div>{{taskData.y_surplus_number}}{{$t('task.show[1]')}}</div>
          <div>{{$t('task.show[2]',{num:taskData.surplus_number})}}</div>
          <div>{{$t('task.show[3]')}}</div>
        </div>
        <div class="three">
          <div>{{$t('task.show[4]')}}：{{taskData.content}}</div>
        </div>
      </div>
      <div class="standard">
        <div class="header">
          <div class="img">
            <img src="http://953848.com/xml/static/head/head_2.png" alt="">
          </div>
          <div class="font">
            <p>{{$t('task.show[5]')}}</p>
            <p> {{taskData.f_username}} </p>
          </div>
        </div>
        <div class="attestation">
          <span>{{$t('task.show[6]')}}：</span>
          <van-button type="default" v-for="(item, index) in condition" :key="index" :class="{'active':item.status}"  @click="item.status = !item.status" disabled >
            {{ item.title }}
          </van-button>
        </div>
        <div class="link-info">
          <div class="left">
            <input type="text" readonly="readonly" value="baidu.com">
          </div>
          <div class="right">
            <p><button style="background: none" @click="locaUrl">{{$t('task.show[8]')}}</button></p>
            <p><button class="copy-button copy_code" :data-clipboard-text="this.taskData.link_info" @click="copy('.copy_code')">{{$t('task.show[7]')}}</button></p>
          </div>
        </div>
      </div>
      <div class="tabs">
        <van-tabs v-model="active">
          <van-tab :title="$t('task.show[9]')">
            <div class="list" v-for="(item, index) in taskData.task_step" :key="index">
              <div class="title">{{$t('task.show[10]',{index:index + 1})}}：{{item.describe}}</div>
              <div class="img"><img :src="item.img" alt=""></div>
            </div>
          </van-tab>
          <van-tab :title="$t('task.show[11]')">
            <div class="img" v-for="(item, index) in taskData.examine_demo" :key="index">
              <img :src="item" alt="">
            </div>
          </van-tab>
        </van-tabs>
      </div>
    </div>
    <div class="button">
      <van-button type="info" @click="drawTask">{{$t('task.show[15]')}}</van-button>
    </div>
  </div>
</template>

<script>
import '@/assets/css/taskShow.less'
import Clipboard from "clipboard";
import {Toast} from "vant";
export default {
name: "taskShow",
  data(){
    return{
      taskData:'',
      condition: [],
      active:0
    }
  },
  created() {
    this.getTaskList()
    this.setCondition()
  },
  mounted() {
  },
  methods:{
    getTaskList:function (){
      let params = {
        id:this.$route.query.id,
        token:this.$store.state.token,
        lang:this.$store.state.lang,
      }
      this.$post('api/task/getTaskinfo',params,true).then(res=>{
        this.taskData = res.info
        let data = this.taskData.finish_condition
        for(let index in data){
          this.condition[data[index]].status = true
        }
      })
    },
    setCondition:function (){
      let data = this.$store.state.backData.authenticationList
      for(let index in data){
        let params = {
          title:data[index],
          value: parseInt(index) + 1,
          status:false
        }
        this.condition.push(params)
      }
    },
    locaUrl:function (){
      location.href = this.taskData.link_info
    },
    copy:function (ify){
      let clipboard = new Clipboard(ify)
      clipboard.on('success', e => {
        Toast(this.$t('dialog[3]'));
        console.log(e);
        // 释放内存
        clipboard.destroy()
      })
      clipboard.on('error', e => {
        // 不支持复制
        console.log(e);
        // 释放内存
        clipboard.destroy()
      })
    },
    drawTask:function (){
      let params = {
        id:this.$route.query.id,
        token:this.$store.state.token,
        lang:this.$store.state.lang,
      }
      this.$post('api/task/receiveTask',params,true).then(res=>{
        if(res.code == 1){
          Toast(res.code_dec)
          this.$router.push({path:'/'})
        } else {
          Toast(res.code_dec)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>