<template>
  <div class="taskInfo">
    <header>
      <router-link to="/mytask">
        <img src="../assets/images/go-out.png" alt="">
      </router-link>
      <div>
        {{$t('task.info[0]')}}
      </div>
    </header>
    <div class="content">
<!--      1进行中 2审核中 3已完成 4以失败 5 恶意 6已放弃-->
      <img v-show="taskData.o_status == 1" src="../assets/images/1_m.png" alt="" class="task-details">
      <img v-show="taskData.o_status == 2" src="../assets/images/2_m.png" alt="" class="task-details">
      <img v-show="taskData.o_status == 3" src="../assets/images/3_m.png" alt="" class="task-details">
      <img v-show="taskData.o_status == 4" src="../assets/images/4_m.png" alt="" class="task-details">
      <img v-show="taskData.o_status == 5" src="../assets/images/5_m.png" alt="" class="task-details">
      <img v-show="taskData.o_status == 6" src="../assets/images/6_m.png" alt="" class="task-details">
      <div class="details">
        <div class="info">{{$t('task.info[1]')}}：{{taskData.title}}</div>
        <div class="info">{{$t('task.info[2]')}}：{{$store.state.backData.currency}} <span>+{{taskData.reward_price}}</span></div>
        <div class="info">{{$t('task.info[3]')}}：{{taskData.content}}</div>
        <div class="info">{{$t('task.info[5]')}}：<van-uploader :after-read="afterRead" v-model="fileList"/></div>
        <div class="info">{{$t('task.info[7]')}}：</div>
      </div>
      <div class="standard">
        <div class="header">
          <div class="img">
            <img src="http://953848.com/xml/static/head/head_2.png" alt="">
          </div>
          <div class="font">
            <p>{{$t('task.info[9]')}}</p>
            <p> {{taskData.f_username}} </p>
          </div>
          <span class="tip-date">{{taskData.add_time}}{{$t('task.info[10]')}}</span>
        </div>
        <div class="link-info">
          <div class="left">
            <input type="text" readonly="readonly" value="baidu.com">
          </div>
          <div class="right">
            <p><button style="background: none" @click="locaUrl">{{$t('task.info[12]')}}</button></p>
            <p><button class="copy-button copy_code" :data-clipboard-text="this.taskData.link_info" @click="copy('.copy_code')">{{$t('task.info[11]')}}</button></p>
          </div>
        </div>
      </div>
      <div class="tabs">
        <van-tabs v-model="active">
          <van-tab title="任务步骤">
            <div class="list" v-for="(item, index) in taskData.task_step" :key="index">
              <div class="title">{{$t('task.info[14]',{index:index})}}：{{item.describe}}</div>
              <div class="img"><img :src="item.img" alt=""></div>
            </div>
          </van-tab>
          <van-tab title="稽核样例">
            <div class="img" v-for="(item, index) in taskData.examine_demo" :key="index">
              <img :src="item" alt="">
            </div>
          </van-tab>
        </van-tabs>
      </div>
    </div>
    <div class="button" v-if="taskData.o_status != 6">
      <van-button type="info" @click="backTask">{{$t('task.info[18]')}}</van-button>
      <van-button type="info" @click="finishTask">{{$t('task.info[19]')}}</van-button>
    </div>
  </div>
</template>

<script>
import '@/assets/css/taskInfo.less'
import Clipboard from "clipboard";
import {Toast} from "vant";
export default {
  name: "taskinfo",
  data(){
    return{
      taskData:'',
      fileList: [],
      active:0
    }
  },
  created() {
    this.getTaskList()
  },
  mounted() {
  },
  methods:{
    getTaskList:function (){
      let params = {
        order_id:this.$route.query.id,
        token:this.$store.state.token,
        lang:this.$store.state.lang,
      }
      this.$post('api/task/taskorderinfo',params,true).then(res=>{
        this.taskData = res.info
      })
    },
    afterRead: function (file) {
      // 此时可以自行将文件上传至服务器
      file.status = 'uploading';
      file.message = this.$t('upload[0]');
      this.$forceUpdate()
      let formData = new FormData()
      formData.append('image', file.file)
      formData.append('token', this.$store.state.token)
      formData.append('type', '3')
      this.$file('api/User/UploadImg', formData).then(res => {
        if (res.code == 1) {
          file.status = 'done';
          file.message = file.message = this.$t('upload[2]');
          file.url = res.url;
          this.$forceUpdate()
        } else {
          file.status = 'failed';
          file.message = this.$t('upload[3]');
        }
      })
    },
    locaUrl:function (){
      location.href = this.taskData.link_info
    },
    copy:function (ify){
      let clipboard = new Clipboard(ify)
      clipboard.on('success', e => {
        Toast(this.$t('dialog[3]'));
        console.log(e);
        // 释放内存
        clipboard.destroy()
      })
      clipboard.on('error', e => {
        // 不支持复制
        console.log(e);
        // 释放内存
        clipboard.destroy()
      })
    },
    backTask:function (){
      let params = {
        order_id:this.$route.query.id,
        status:6,
        token:this.$store.state.token,
        lang:this.$store.state.lang,
      }
      this.$post('api/task/taskOrderSubmit',params,true).then(res=>{
        if(res.code == 1){
          Toast(res.code_dec)
          this.getTaskList()
        } else {
          Toast(res.code_dec)
        }
      })
    },
    finishTask:function (){
      let params = {
        order_id:this.taskData.order_id,
        examine_demo:[],
        token:this.$store.state.token,
        lang:this.$store.state.lang,
      }
      if(this.fileList.length >= 1){
        for(let index in this.fileList){
          params.examine_demo.push(this.fileList[index].url)
        }
      } else {
        Toast('请上传完成任务图片')
        return false
      }
      this.$post('api/task/taskOrderSubmit',params,true).then(res=>{
        if(res.code == 1){
          Toast(res.code_dec)
          this.getTaskList()
        } else {
          Toast(res.code_dec)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>