<template>
  <div class="video">
    <header>
      <router-link to="/">
        <img src="../assets/images/go-out.png" alt="">
      </router-link>
      <div>
        {{$t('home.menu[1]')}}
      </div>
    </header>
    <div class="help">
      <div class="list">
        <router-link to="/help">
          {{$t('home.menu[1]')}}
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/video.less'
export default {
name: "video",
  data(){
    return{

    }
  },
  created() {
  },
  mounted() {
  },
  methods:{

  }
}
</script>

<style scoped>

</style>