<template>
  <div class="vip">
    <div class="swipe">
      <van-swipe class="my-swipe" :autoplay="3000" indicator-color="white">
        <van-swipe-item>
          <img src="http://953848.com/upload/resource/202102191308283525048505.png" alt="">
        </van-swipe-item>
        <van-swipe-item>
          <img src="http://953848.com/upload/resource/202102191308283525048505.png" alt="">
        </van-swipe-item>
      </van-swipe>
    </div>
    <div class="my-id">
      <div class="card">
        <div class="top">
          {{$t('vip.user.title[0]')}}:{{$store.state.userInfo.useridentity}}
        </div>
        <div class="bottom">
          <span style="float: left;margin-top: 1rem;font-size: 1.6rem;">{{$t('vip.user.label')}}:{{$store.state.userInfo.number}}次</span>
          <span  style="float: right;text-align: right;">
             {{$t('vip.user.value[0]')}}{{$t('vip.user.value[1]')}}
            <p>{{$store.state.userInfo.stime}}~{{$store.state.userInfo.etime}}</p>
          </span>
        </div>
      </div>
    </div>
    <div class="level-list">
      <div class="card" v-for="(item, index) in userGradeList" :key="index">
        <p><b>{{item.name}}</b><span>IDR{{item.amount}}</span></p>
        <P>
          {{$t('vip.list.text[4]')}}:{{$store.state.backData.currency}}&nbsp;{{item.commission}}
          <i style="margin-left: 1rem" v-if="$store.state.backData.setting.is_taskNum == 1 && $store.state.backData.setting.is_getPeopleNum == 1">{{$t('vip.list.text[1]')}}:{{item.income1}}</i>
        </P>
        <P v-if="$store.state.backData.setting.is_taskNum == 1 || $store.state.backData.setting.is_getPeopleNum == 1">
          <i v-if="$store.state.backData.setting.is_taskNum == 1">总任务:{{$store.state.userInfo.taskNum}}/{{item.taskNum}}</i>
          <i style="margin-left: 1rem" v-if="$store.state.backData.setting.is_floorPeopleNum == 1">总下线:{{$store.state.userInfo.getPeopleNum}}/{{item.getPeopleNum}}</i>
          <button :disabled="item.button" @click="addVip(item)" v-show="index > 0">升级</button>
        </P>
        <p v-else>{{$t('vip.list.text[1]')}}:{{item.income1}}</p>
        <P>推荐奖励：每名{{$store.state.backData.currency}}</P>
      </div>
    </div>
    <footer_nav></footer_nav>
  </div>
</template>

<script>
import '@/assets/css/vip.less'
import footer_nav from "@/components/include/footer_nav";
import {Dialog, Toast} from "vant";
export default {
name: "vip",
  data(){
    return {
      userGradeList:[]
    }
  },
  components:{
    footer_nav
  },
  created() {
  },
  mounted() {
    this.contrastVip()
  },
  methods:{
    addVip:function (data){
      if(this.$store.state.backData.setting.is_buy == 1){
        if(this.$store.state.userInfo.vip_level >= data.grade){
          Toast('您当前为' + this.$store.state.userInfo.useridentity+'无法成为' + data.name)
        } else {
          Dialog.confirm({
            title: this.$t('dialog[0]'),
            message: '确定花费' + data.amount + this.$store.state.backData.currency+'成为' + data.name + '吗？',
            confirmButtonText:'确定'
          }).then(() => {
            // on confirm
            this.userBuyVip(data.grade)
          }).catch(() => {
            // on cancel
          });
        }
      }
    },
    contrastVip:function (){
      let that = this
      this.userGradeList = this.$store.state.backData.UserGradeList
      for(let index in that.userGradeList){
        let item = that.userGradeList[index]
        if(that.$store.state.userInfo.taskNum >= item.taskNum || this.$store.state.userInfo.getPeopleNum >= item.getPeopleNum){
          that.userGradeList[index].button = false
        } else {
          that.userGradeList[index].button = true
        }
        console.log(that.userGradeList)
      }
      this.$forceUpdate();
    },
    userBuyVip:function (grade){
      let params = {
        grade:grade,
        token:this.$store.state.token,
        lang:this.$store.state.lang,
      }
      this.$post('api/User/userBuyVip',params,true).then(res=>{
        if(res.code == 1){
          Toast(res.code_dec)
          location.reload();
        } else {
          Toast(res.code_dec)
          Dialog.confirm({
            title: this.$t('dialog[0]'),
            message: '余额不足，是否前往充值页面',
            confirmButtonText:'确定'
          }).then(() => {
            // on confirm
            this.$router.push({path:'/recharge'})
          }).catch(() => {
            // on cancel
          });
        }
      })
    }
  }
}
</script>

<style scoped>

</style>