<template>
  <div class="auth">
    <personal_header :titleDate="titleDate"></personal_header>
    <div class="auth-wrap">
      <van-cell-group v-if="$store.state.userInfo.auth == 1">
        <van-field label="姓名" :value="$store.state.userInfo.name" :disabled="bindStatus" border z-index="5555"/>
        <van-field label="身份证号" :value="$store.state.userInfo.idcard" :disabled="bindStatus" border z-index="5555"/>
      </van-cell-group>
      <van-cell-group v-else>
        <van-field label="姓名" v-model="params.name" placeholder="请输入你的姓名" border z-index="5555"/>
        <van-field label="身份证号" v-model="params.idcard" placeholder="请输入你的身份证号" border z-index="5555"/>
      </van-cell-group>
      <div class="submit" v-if="$store.state.userInfo.auth != 1">
        <div class="button" >
          <span  style="width: 80%;padding: 15px 0;font-size: 15px" @click="postAuth()">立即认证</span>
        </div>
      </div>
      <div class="explain">
        温馨提示：请您使用本人真实姓名和证件号码，若使用第三者信息绑定导致无法提现等问题，鹏程概不负责。鹏程承诺严格按照《隐私政策》及国家相关法律法规，严格保护用户信息安全，请您放心使用。
      </div>
    </div>
  </div>
</template>

<script>
import personal_header from "@/components/include/personal_header";
import '@/assets/css/center/auths.less'
import {Toast} from "vant";
export default {
  name: "auth",
  components:{personal_header},
  data(){
    return{
      titleDate:{title:'实名认证',rule:{text:'',url:''},},
      params:{name:"",idcard:""},
      bindStatus:true
    }
  },
  created() {
    console.log(this.$store.state.userInfo)
  },
  mounted() {
  },
  methods:{
    postAuth: function () {
      let params = {
        token: this.$store.state.token,
        idcard:this.params.idcard,
        name:this.params.name
      }
      this.$post('user/certification', params, true).then((res) => {
        if (res.code == 200) {
          Toast('认证成功，请重新登录')
          this.$router.push({path:'/login'})
        } else {
          Toast(res.message)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>
