<template>
  <div class="contract">
    <personal_header :titleDate="titleDate"></personal_header>
    <div class="contract-wrap">
      <div class="box">
        <div class="contract_box">
          <h1 class="con_name">鹏程投资合同书</h1>
          <p class="code">合同编号：{{investData.contract_no}}</p>
          <p><label>甲方（投资方）</label>：{{$store.state.userInfo.name}}</p>
          <p><label>乙方（管理方）</label>：昆明鹏程科技有限公司</p>
          <p><label>丙方（担保方）</label>：中国投融资担保股份有限公司</p>
          <p>甲乙丙三方经友好协商，本着平等自愿、诚实信用的原则，就甲方使用乙方提供的本网站所有服务的</p>
          <p><label>有关事项达成如下协议：</label></p>
          <p>一、<label>理财投资明细</label></p>
          <table class="tablec">
            <tbody>
            <tr>
              <td>产品名称</td>
              <td>{{investData.title}}</td>
            </tr>
            <tr>
              <td>投资人姓名</td>
              <td>{{$store.state.userInfo.name}}</td>
            </tr>
            <tr>
              <td>投资人身份证</td>
              <td>{{$store.state.userInfo.idcard}}</td>
            </tr>
            <tr>
              <td>投入本金数额<br>（下称"甲方投资本金"）</td>
              <td>{{investData.money}}</td>
            </tr>
            <tr>
              <td>协议期（天）</td>
              <td>{{investData.day}}天</td>
            </tr><!---->
            <tr>
              <td>预期收益</td>
              <td>{{investData.yuji_income}}</td>
            </tr><!---->
            <tr>
              <td>起息日</td>
              <td>{{investData.qixi_time}}</td>
            </tr><!---->
            <tr>
              <td>到期日</td>
              <td>{{investData.dq_time}}</td>
            </tr>
            <tr>
              <td>应收本息（元）</td>
              <td>{{parseInt(investData.yuji_income) + parseInt(investData.money)}}</td>
            </tr><!---->
            <tr>
              <td>还款方式</td>
              <td>{{investData.type2}}</td>
            </tr><!----></tbody>
          </table>
          <div>
            <p>
            二、理财期未满，甲方不得擅自终止本协议，否则，乙方将取消为甲方的理财服务，甲方不享受任何理财收益，甲方投资时必须看清楚投资项目的一切事宜，按照公司要求进行投资，如有违反规定，甲方并承担由此所引起的一切损失。</p>
            <p>
              三、理财方式以网络投资平台的形式进行合作。理财金由甲方帐户划转到乙方的综合理财帐户上进行具体的理财操作，由于甲方全权委托乙方理财，因此在股权，房地产土地，矿权，新能源，石油，等其它实业的投资风险由乙方承担，乙方首先要考虑资金的安全性，然后才考虑资金的收益。甲方不得以任何形式干预乙方的理财操作。收益是每天发放到甲方账户，待理财投资周期到日止，乙方应将甲方之理财本金划入其在乙方开立的存款帐户上。</p>
            <p>四、乙方对甲方投资资金负有控制风险的责任，必须勤勉尽责。如果投资有亏损情况，则无论亏损大小由乙方承担全部损失，按合同承诺付款给甲方。如果乙方出现违约将由担保方丙方履行承诺付款给甲方。</p>
            <p>五、保密义务 甲乙双方对其通过接触和通过其他渠道得知的有关各方的商业机密等严格保密，对所有资料严格保密，不得向任何其他人员及机构透露。个人的信息。</p>
            <p>六、合同生效</p>
            <p>1、本协议经投资人通过投资平台点击确认投资后自动生成并签订，本协议自生成时生效。</p>
            <p>2、本协议履行期间，各方如发生争议或者纠纷，应友好协商解决；如协商不成，任何一方有权向乙方所在地人民法院起诉。</p>
            <p>3、本协议采用电子文本形式制成，各方均认可该形式的法律效力。</p>
            <p>七、理财协议一式三份，乙方一份，甲方一份，丙方一份，具有同等法律效力。</p>
          </div>
          <div class="signature">
            <div class="Party" style="width: 50%;"><p>甲方：{{$store.state.userInfo.name}}</p><span>{{investData.qixi_time}}</span></div>
            <div class="Party" style="float: right; width: 50%;"><p>乙方：昆明鹏程科技有限公司</p><span>{{investData.qixi_time}}</span></div>
            <img class="img1" src="../../assets/images/personal/img1a.png">
            <div class="Party" style="padding: 25px 0px 45px; clear: both; position: relative; width: 100%;"><p>
              丙方：中国投融资担保股份有限公司</p><span>{{investData.qixi_time}}</span></div>
            <img class="img2" src="../../assets/images/personal/img2.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import personal_header from "@/components/include/personal_header";
import '@/assets/css/center/contract.less'
import {Toast} from "vant";
export default {
  name: "contract",
  components:{
    personal_header
  },
  data(){
    return{
      titleDate:{title:'',rule:{text:'',url:''},backShow:true},
      contractData:'',
      investData:'',
    }
  },
  created() {
    // this.getInvests()
    this.investData = JSON.parse(this.$route.query.item)
    console.log(this.investData)
    // console.log(this.investData)
  },
  mounted() {
  },
  methods:{
    getInvests:function (){
      let params = {
        token:this.$store.state.token,
        id:this.$route.query.id
      }
      this.$post('user/contract',params,true).then((res) => {
        if(res.code == 200){
          this.contractData = res.data
        } else {
          Toast(res.message)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>
