<template>
  <div class="editAddress">
    <personal_header :titleDate="titleDate"></personal_header>
    <div class="editAddress-wrap">
      <div class="form">
        <van-cell-group>
          <van-field v-model="addressData.name" clearable label="收货人" icon="question-o" placeholder="请填写收货人姓名"
                     size="large"/>
          <van-field v-model="addressData.phone" clearable label="手机号码" icon="question-o" placeholder="请填写手机号码"
                     size="large"/>
          <van-field v-model="addressData.area" clearable label="所在区域" icon="question-o" placeholder="请填写区域"
                     size="large" @click="addressShow = !addressShow"/>
          <van-field v-model="addressData.details" clearable label="详细地址" icon="question-o" placeholder="请填写详细地址"
                     size="large"/>
          <van-field v-model="addressData.code" clearable label="邮政编码" icon="question-o" placeholder="请填写邮政编码"
                     size="large"/>
        </van-cell-group>
      </div>
      <div class="address-edit">
        <van-popup v-model="addressShow" round position="bottom" custom-style="height: 20%" :close="onClose">
          <van-area :area-list="areaList" @confirm="addressConfirm" @cancel="addressCancel"/>
        </van-popup>
      </div>
      <div class="submit">
        <div class="button">
          <span style="width: 80%;font-size: 15px" @click="editAddress()">保存</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import personal_header from "@/components/include/personal_header";
import '@/assets/css/center/editAddress.less'
import {areaList} from '@vant/area-data';
import {Toast} from "vant";

export default {
  name: "editAddress",
  components: {personal_header},
  data() {
    return {
      titleDate: {title: '编辑收货地址', rule: {text: '', url: ''}, backShow: false},
      addressShow: false,
      areaList,
      addressData: {
        code: '0'
      },
    }
  },
  created() {
    this.addressData = this.$route.query
    console.log(this.$route.query)
  },
  mounted() {
    // console.log(this.areaList)
  },
  methods: {
    onClose() {
    },
    addressConfirm(item) {
      console.log(item)
      this.addressData.area = (item[0].name + ' ' + item[2].name + ' ' + item[2].name)
      this.addressData.code = item[0].code
      this.addressShow = false
    },
    addressCancel(item) {
      console.log("关闭")
      console.log(item)
    },
    editAddress: function () {
      let params = {
        token: this.$store.state.token,
        name: this.addressData.name,
        phone: this.addressData.phone,
        details: this.addressData.details,
      }
      if (!this.$root.common.dataSafeValidate(2, params)) {
        return false
      }
      params.area = this.addressData.area
      this.$post('gs/save_address', params, true).then((res) => {
        if (res.code == 200) {
          Toast(res.message)
        } else {
          Toast(res.message)
        }
      })
    },
  },
}
</script>

<style scoped>

</style>
