<template>
  <div class="order">
    <personal_header :titleDate="titleDate"></personal_header>
    <div class="order-wrap">
      <div class="continer">
        <img src="../../assets/images/personal/nodata.b8ff15a0.svg" alt="nocontent">
        <div  class="sub">您目前还没有兑换记录</div>
      </div>
    </div>
  </div>
</template>

<script>
import personal_header from "@/components/include/personal_header";
import '@/assets/css/center/order.less'
import {Toast} from "vant";
export default {
  name: "order",
  components:{personal_header},
  data(){
    return{
      titleDate:{title:'我的订单',rule:{text:'',url:''}},

    }
  },
  created() {
    this.getOrder()
  },
  mounted() {
  },
  methods:{
    getOrder: function () {
      let params = {
        token: this.$store.state.token,
        state: 'all',
      }
      this.$post('gs/my_shop_order', params, true).then((res) => {
        if (res.code == 200) {
          Toast(res.message)
        } else {
          Toast(res.message)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>
