<template>
  <div class="recharge">
    <personal_header :titleDate="titleDate"></personal_header>
    <div class="recharge-wrap">
      <div class="header">
        <h1>充值余额</h1>
        <div class="input-money-wrap">
<!--          <span>￥</span>-->
          <van-field value="" placeholder="请输入充值金额" size="large" left-icon="gold-coin-o"  class="money-input" v-model="rechargeData.money"/>
        </div>
        <div class="money-list">可用余额: <span>{{$store.state.money}}</span> 元</div>
        <div class="line-back">
          <ul>
            <li>
              <van-radio-group :value="radioBack">
                <van-radio name="1" @click="radioBack = '1'" v-if="$store.state.userInfo.pay_bank_status == 1">银行汇款<van-tag round>银行入款立反1%</van-tag></van-radio>
                <van-radio name="2" @click="radioBack = '2'" v-if="$store.state.userInfo.online_alipay_status == 1">支付宝App支付 <van-tag round>便捷支付</van-tag></van-radio>
              </van-radio-group>
            </li>
          </ul>
        </div>
        <div>
          <div v-html="aData"></div>
        </div>
        <p class="rightAway-record" @click="recharge()">立即充值</p>
      </div>
      <div  style="padding: 0 20px 20px 20px; background: #fff;">
        <div class="prompt">
          <h1>转账说明</h1>
          <p>1.选择“银行汇款”单笔3000以上有1.00%返利</p>
          <p>2.支付宝APP/扫码支付单笔金额≤5000元,如超过此金额,请分多笔转账或选择银行汇款</p>
          <p>3.“银行汇款”建议使用小数点的金额进行转账充值,例如:500.12、10000.34等小数金额（加快到账时间）</p>
          <p>4.如有疑问可以联系在线客服咨询</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import personal_header from "@/components/include/personal_header";
import '@/assets/css/center/recharge.less'
import {Toast} from "vant";
import {Dialog} from "vant";
export default {
  name: "recharge",
  components:{
    personal_header
  },
  data(){
    return{
      titleDate:{title:'充值',rule:{text:'',url:''}},
      radioBack:'1',
      rechargeData:{
        money:'',
      },
      aData:'',
    }
  },
  created() {

  },
  mounted() {
  },
  methods:{
    aliPay:function (){
      document.forms['alipaysubmit'].submit();
    },
    recharge:function(){
      if(this.$store.state.userInfo.pay_bank_status != 1 && this.$store.state.userInfo.online_alipay_status != 1){
        Toast('请联系在线客服')
        return false
      }
      if(!this.rechargeData.money || this.rechargeData.money == 0){
        Toast('请输入金额')
        return false
      }
      let type = ''
      if(this.radioBack == 1){
        type = 'bank'
      } else if(this.radioBack == 2) {
        // type = 'alipay'
        this.getAlipay()
        return false
      }
      let params = {
        money:this.rechargeData.money,
        type:type,
      }
      this.$router.push({path:'/rechargeMoney',query:params})
    },
    getAlipay:function(){
      let params = {
        money:this.rechargeData.money,
        token: this.$store.state.token,
      }
      this.$post('alipay/alipay_pay', params, true).then((res) => {
        console.log(res)
        this.aData = res
        Dialog.confirm({
          title: '支付宝支付',
          message: '请点击确认跳转至支付页面',
        })
            .then(() => {
              this.aliPay()
            })
            .catch(() => {
              // on cancel
            });
        // let dwSafari
        // dwSafari=window.open();
        // dwSafari.document.open();
        // dwSafari.document.write("<html><head><title></title><meta charset='utf-8'><body>"+res+"</body></html>")
        // dwSafari.document.forms[0].submit()
        // dwSafari.document.close()
      })
    }
  }
}
</script>

<style>

</style>
