<template>
  <div class="touzi">
    <personal_header :titleDate="titleDate"></personal_header>
    <div class="touzi-wrap" v-if="investment.length >= 1">
      <ul>
        <li class="touzi-list-item"  v-for="(item, index) in investment" :key="index">
          <div class="title">
            <h1>{{item.title}}</h1>
            <van-tag plain  type="primary">{{item.type2}}</van-tag>
          </div>
          <div class="money">
            <span>投资金额：{{item.money}}</span>
            <span>预期收益：{{item.yuji_income.toFixed(2)}}</span>
          </div>
          <div class="button">
            <router-link :to="{path:'/touzi/detailed',query:{id:item.id}}" tag="div" class="button-left">详情</router-link>
            <router-link :to="{path:'/contract',query:{item:JSON.stringify(item)}}" tag="div" class="button-right">合同</router-link>
          </div>
        </li>
      </ul>
    </div>
    <div class="list" v-else>
      <div style="padding: 20px;font-size: 15px;text-align: center;">暂无记录</div>
    </div>
  </div>
</template>

<script>
import personal_header from "@/components/include/personal_header";
import '@/assets/css/center/touzi.less'
import {Toast} from "vant";
export default {
  name: "touzi",
  components:{
    personal_header
  },
  data(){
    return{
      titleDate:{title:'投资记录',rule:{text:'',url:''}},
      investment:'',

    }
  },
  created() {
    this.getInvestment()
  },
  mounted() {
  },
  methods:{
    getInvestment:function (){
      let params = {
        token:this.$store.state.token
      }
      this.$post('user/invest',params,true).then((res) => {
        if(res.code == 200){
          this.investment = res.data
        } else {
          Toast(res.message)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>
