@import "../include/base";
.language{
  .header{
    height: 4.6rem;
    background: #ec2829;
    color: #ffffff;
    line-height: 4.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    float: left;
    width: 100%;
    z-index: 2;
    a{
      color: #ffffff;
      float: left;
      font-size: 1.5rem;
      left: 8px;
      top: 6px;
      position: absolute;
      i{
        font-size: 2.5rem;
      }
      .bark{
        font-size: 1.6rem;
        vertical-align: top;
        line-height: 3.3rem;
        display: inline-block;
      }
    }
    .title{
      float: left;
      font-size: 1.6rem;
    }
  }
}
