@import "../include/base";
.live_game{
  header{
    width: 100%;
    float: left;
    height: 4.6rem;
    background: #ec2829;
    color: #ffffff;
    line-height: 4.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    a{
      color: #ffffff;
      float: left;
      font-size: 1.5rem;
      left: 0.8rem;
      top: 0.4rem;
      position: absolute;
      i{
        font-size: 2.4rem;
      }
      .bark{
        font-size: 1.6rem;
        vertical-align: top;
        line-height: 3.3rem;
        display: inline-block;
      }
    }
    .title{
      float: left;
      font-size: 1.6rem;
    }
    .edit{
      position: absolute;
      right: 0.8rem;
      font-size: 1.6rem;
      color: #ffffff;
    }
  }
  .money-module{
    width: 100%;
    float: left;
    box-sizing: border-box;
    padding: 1rem;
    .module{
      box-shadow: 0 0.05rem 0.1rem rgb(0 0 0 / 30%);
      height: 7.2rem;
      .flex();
      span{
        color: red;
        font-size: 1.6rem;
      }
    }
  }
  .game-list{
    width: 100%;
    height: 100%;
    float: left;
    background: #FFFFFF;
    .list{
      width: 100%;
      float: left;
      height: 9.2rem;
      .left, .right{
        height: 100%;
        float: left;
      }
      .left{
        width: 25%;
        .flex();
        img{
          width: 6rem;
          height: 6rem;
        }
      }
      .right{
        width: 75%;
        padding-right: 2rem;
        box-sizing: border-box;
        border-bottom: 1px solid #e7e7e7;
        div{
          width: 100%;
          height: 33%;
          float: left;
          color: #5f646e;
          font-size: 1.5rem;
        }
        .top{
          line-height: 4rem;
        }
        .center{
          line-height: 3rem;
          span{
            margin-right: 1rem;
            font-size: 1.8rem;
            color: #0894ec;
          }
          .go-in{
            float: right;
            color: red;
          }
        }
        .bottom{
          line-height: 2rem;
          button{
            width: 4.8rem;
            height: 2.4rem;
            background: #f6383a;
            color: #FFFFFF;
            border:none;
            border-radius: 5px;
            margin-left: 1rem;
          }
        }
      }
    }
  }
}
