@import "../include/base";
.pay_select_way{
  header{
    height: 4.6rem;
    background: #ec2829;
    color: #ffffff;
    line-height: 4.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    float: left;
    width: 100%;
    z-index: 2;
  }
  .account{
    float: left;
    width: 100%;
    height: 6rem;
    background: #ffffff;
    .flex();
    label{
      font-size: 1.6rem;
    }
    span{
      margin-right: 2rem;
      font-size: 2rem;
      color: #dc5d55;
    }
  }
  .pay-module{
    float: left;
    width: 100%;
    .list{
      width: 100%;
      float: left;
      .title{
        width: 100%;
        float: left;
        font-size: 1.6rem;
        padding-left: 2rem;
        height: 4.6rem;
        line-height: 4.6rem;
        color: #3d4145;
        border-bottom: 1px solid #dedede;
      }
      .pay{
        width: 100%;
        float: left;
        .pay-list{
          width: 100%;
          float: left;
          background: #FFFFFF;
          border-bottom: 1px solid #dedede;
          height: 4.1rem;
          line-height: 4.1rem;
          text-align: center;
        }
      }
    }
  }
}
