@import "../include/base";
.withdrawDeposit{
  .withdrawDeposit-header{
    height: 4.6rem;
    background: #ec2829;
    color: #ffffff;
    line-height: 4.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    float: left;
    width: 100%;
    z-index: 2;
    a{
      color: #ffffff;
      float: left;
      font-size: 1.5rem;
      left: 8px;
      top: 6px;
      position: absolute;
      i{
        font-size: 2.5rem;
      }
      .bark{
        font-size: 1.6rem;
        vertical-align: top;
        line-height: 3.3rem;
        display: inline-block;
      }
    }
    .title{
      float: left;
      font-size: 1.6rem;
    }
  }
  main{
    .flexContent{
      h1{
        padding: 0;
        margin: 0;
        text-align: center;
        padding-top: 0.5rem;
        font-size: 1.4rem;
      }
      .c-r{
        color: red;
        padding: 0 3px;
        font-size: 1.4rem;
        font-weight: bold;
      }
      .van-dialog__header{
        padding: 10px 0;
      }
      input[type="email"] {
        color: #f46e00!important;
      }
      .bankRight{
        margin-left: 30px;
        position: relative;
        top: 4px;
      }
      .bank{
        line-height: 15px;
      }
      .van-button--normal {
        width: 80%;
        margin: 20px 10%;
      }
      .van-collapse-item__content{
        padding: 0;
      }
      .van-cell__value--alone{
        padding-bottom: 2px;
      }
      .tixian .van-cell__right-icon{
        line-height: 36px;
      }
      .explain{
        border: 1px solid #f8e2b9;
        background: #fffdeb;
        color: #f46e00;
        margin: 0.5rem;
        padding: 0.5rem;
        font-size: 14px;
      }
      .van-button__text{
        color: #ffffff!important;
      }
    }
    padding-top: 4.6rem;

  }
}
