<template>
  <div class="invest-apply">
    <div class="list header">
      <van-icon name="arrow-left" @click="$root.common.backPage()" />
      <div class="list font">
        立即投标
      </div>
    </div>
    <div class="list deck">
      <div class="list money">
        <span>可用余额</span>
        <span>{{$store.state.money}}</span>
      </div>
      <div class="list info">
        <div class="list title">投资金额</div>
        <div class="list order" style="font-size: 2.5rem;">
          ￥<span style="font-size: 4.5rem;font-weight: 700;">{{times * money}}</span>
          <van-stepper v-model="times" :show-input="false" style="float: right;margin-top: 2rem;" :max="step" :min="1"/>
        </div>
        <div class="list order">起投金额 <span style="color: #0f79ff;">{{money}}</span>元，项目可投<span style="color: #0f79ff;">{{moneyMax}}</span>元</div>
        <div class="list order"><span style="float: left;">结息时间</span> <span style="float: right;">满24小时自动结息</span></div>
        <div class="list order"><span style="float: left;">代金券</span> <span style="float: right;color: #ff7f40;">-0</span></div>
        <div class="list order"><span style="float: left;">实际支付</span> <span style="float: right;color: #0f79ff;">{{times * money}}</span></div>
        <div class="list order">
          <span style="float: left;">支付密码</span> <span style="float: right;"><router-link to="/resetPayPass" style="color: #676d73;">忘记密码？</router-link></span>
          <br>
          <input type="password" placeholder="请输入交易密码" v-model="password">
        </div>
      </div>
    </div>
    <div class="list investment-btn"><button @click="postInvest()">确认投资</button></div>
  </div>
</template>

<script>
import '@/assets/css/investApply.less'
import {Toast} from "vant";

export default {
  name: 'investApply',
  data() {
    return {
      times: 1,
      password:'',
      money: this.$route.query.min,
      moneyMax: this.$route.query.max,
      step: parseInt(this.$route.query.max / this.$route.query.min)
    }
  },
  created: function () {
  },
  mounted: function () {
  },
  methods: {
    postInvest: function () {
      let params = {
        token: this.$store.state.token,
        id: this.$route.query.id,
        pwd: this.password,
        money: this.money * this.times,
      }
      this.$post('mobile/from_post', params, true).then((res) => {
        if (res.code == 200) {
          Toast('投标成功')
          this.getUser_info()
        } else {
          Toast(res.message)
        }
      })
    },
    getUser_info: function () {
      let params = {
        token: this.$store.state.token,
      }
      this.$post('mobile/user_info', params, true).then((res) => {
        if (res.code == 200) {
          this.$store.commit('pushUserInfo', res.data)
          this.$store.commit('pushMoney', res.data.money)
        } else {
          Toast(res.message)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>
