<template>
  <div class="reset-pay-pass">
    <div class="list header">
      <van-icon name="arrow-left" @click="$root.common.backPage()" />
      <div class="list font">
        找回支付密码
      </div>
    </div>
    <div class="list deck">
      <div class="list item"><div class="left">登录密码</div><div class="right"><input type="password" placeholder="请输入您的密码"></div></div>
      <div class="list item"><div class="left">新的密码</div><div class="right"><input type="password" placeholder="请输入新的密码"></div></div>
      <div class="list item"><div class="left">确认密码</div><div class="right"><input type="password" placeholder="请再次输入密码"></div></div>
    </div>
    <div class="list investment-btn"><button>确认修改</button></div>
  </div>
</template>

<script>
import '@/assets/css/resetPayPass.less'
export default {
  name: "resetPayPass",
  data() {
    return {
      times: 1,
    }
  },
  created: function () {

  },
  mounted: function () {
  },
  methods: {}
}
</script>

<style scoped>

</style>
