<template>
  <div class="rule">
    <personal_header :titleDate="titleDate"></personal_header>
    <div class="content">
      <div class="tip">{{dataList[index].tip}}</div>
      <div class="video">
        <video ref="video" :src="dataList[index].url" style="width: 100%;margin-top: 20px" controls></video>
      </div>
      <div class="rules">
        <div class="label">训练目标</div>
        <div class="font">
          <div class="font-list" v-for="(item,index) in dataList[index].one" :key="index">{{item}}</div>
        </div>
      </div>
      <div class="rules">
        <div class="label">互动规则</div>
        <div class="font">
          <div class="font-list" v-for="(item,index) in dataList[index].two" :key="index">·{{item}}</div>
        </div>
      </div>
      <div class="rules">
        <div class="label">得分评价</div>
        <div class="font">
          <div class="font-list" v-for="(item,index) in dataList[index].three" :key="index">·{{item}}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/rule.less'
import personal_header from "@/components/include/personal_header";
import {Toast} from "vant";
export default {
  name: 'rule',
  components:{personal_header},
  data(){
    return{
      titleDate:{title:'开合跳',rule:{text:'',url:''},},
      dataList:[
        {title:'开合跳',tip:'一分钟 • 有氧耐力 • 简单', url:'https://tfnsmall.com/videos/p/mp4/JUMPINGJACK.mp4',
          one:['这是一项全身热身运动，能够提升心肺功能','也可改善手脚协调性和肌耐力'],
          two:['身体站直，双脚位于屏幕中间的两个方块。','挑起分开双脚，移向左右两侧的方块。','再次挑起并恢复到初始动作。','保持全身在屏幕内。'],
          three:['每次开合跳时得分','规定时间内次数越多，分数越高'],
        },
        {title:'深蹲',tip:'一分钟 • 肌肉力量 • 困难',url:'https://tfnsmall.com/videos/p/mp4/HOPSQUATBURPEE.mp4',
          one:['该训练着重于练习腿部力量和敏捷反应。','深蹲可以很好地刺激大腿肌肉群，增强腿部和臀部力量。','深蹲也是一个很好的燃脂动作'],
          two:['面对屏幕站里放松，挺胸、抬头、紧腰、收腹。','当屏幕中出现小板凳，移动到相应位置做深蹲。','深蹲时大腿平行于地面。','保持全身在屏幕内，距离不要太远或太近。'],
          three:['移动的越快，深蹲姿势越标准，得分越高','连续深蹲成功，等级提升。等级越高，出现凳子越频繁。'],
        },
        {title:'平板支撑',tip:'一分钟 • 肌肉力量 • 简单',url:'https://tfnsmall.com/videos/p/mp4/Forearm_Plank.mp4',
          one:['平板支撑训练动作针对的是人体核心肌肉群，能提升身体稳定性，增强脊柱、肩膀等部位的韧性'],
          two:['肩、髋、膝、踝关节在同一直线上','大臂垂直于地面，小臂按紧地面','脚尖用力向前勾起，十个脚趾平稳发力'],
          three:['全身在屏幕内，维持平板支撑姿势不动，可得分','身体保持一直线，否则将不能得分'],
        },
        {title:'深蹲跳',tip:'30秒 • 肌肉力量 • 简单',url:'https://tfnsmall.com/videos/p/mp4/SquatJump.mp4',
          one:['深蹲跳对臀部及腿部肌肉群有很好的锻炼效果。在练习的过程中，需要进行连贯的深蹲和起跳动作，强化下肢力量'],
          two:['站到屏幕中央有弹簧的位置。',' 用深蹲压扁弹簧，弹簧变为蓝色时跳起。','连贯重复完成深蹲和跳跃动作。'],
          three:['下蹲至大腿与地面平行后跳起记一个。','动作不连贯，下蹲、跳跃动作不到位将不能记个数'],
        },
        {title:'卷腹',tip:'一分钟 • 肌肉力量 • 简单', url:'https://tfnsmall.com/videos/p/mp4/Core_Crunch.mp4',
          one:['卷腹有利于锻炼上腹部肌肉的力量，注意在完成动作时腰背部紧贴地面，使用腹部发力，动作缓慢有节奏。'],
          two:['侧对屏幕，屈腿平躺于垫上。','微收下巴，双手轻触耳朵不要发力。','抬起肩部并保持，获得递增加分后还原获得奖励分。'],
          three:['动作标准即可得分'],
        },
        {title:'高抬腿',tip:'30秒 • 肌肉力量 • 简单',url:'https://tfnsmall.com/videos/p/mp4/HIGHKNEERUN.mp4',
          one:['原地高抬腿对踝关节、膝关节等下肢关节等肌肉群都有不错的作用功效，也可以帮助锻炼柔韧性。'],
          two:['保持上身挺直，目视前方，前脚掌着地快速交替抬腿。','大腿上抬高度至少与地面保持水平。','随着抬腿节奏用力摆臂。'],
          three:['在屏幕范围内完成原地高抬腿动作，抬腿1次得2-3分','大腿上抬高度不够时将不能得分'],
        },
        {title:'波比',tip:'一分钟 • 有氧耐力 • 简单',url:'https://tfnsmall.com/videos/p/mp4/FULL_BURPEE.mp4',
          one:['完成原地的趴下支撑后快速收腹站起，能够综合锻炼核心力量。'],
          two:['侧身站立，全身进入屏幕内','开始后快速手撑地趴下，收腿快速站直'],
          three:['完成动作速度越快，分数越高'],
        },
      ],
      index:0,
      videoPlayer:null,
    }
  },
  created:function(){
    this.index = this.$route.query.id - 1
    this.titleDate.title = this.dataList[this.index].title
  },
  mounted:function(){
    let that = this
    this.videoPlayer = this.$refs.video
    this.videoPlayer.addEventListener('play',() => {
      setTimeout(function (){
        that.getSport()
      },"3000");
    })
  },
  methods:{
    getSport: function () {
      let params = {
        token: this.$store.state.token,
        id: this.$route.query.id,
        jf:3,
      }
      this.$post('Handle/my_sp_post', params, true).then((res) => {
        if (res.code == 200) {
          Toast(res.message)
          this.getUserInfo()
        } else {
          Toast(res.message)
        }
      })
    },
    getUserInfo: function () {
      let params = {
        token: this.$store.state.token,
      }
      this.$post('mobile/user_info', params, false).then((res) => {
        if (res.code == 200) {
          this.$store.commit('pushUserInfo', res.data)
        } else {
          Toast(res.message)
        }
      })
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">

</style>
