<template>
  <div class="sportList">
    <personal_header :titleDate="titleDate"></personal_header>
    <div class="content">
      <div class="img-box back1" v-show="id == 1">
        <div class="box" @click="$router.push({path:'/sportImg',query:{id:95}})"></div>
        <div class="box" @click="$router.push({path:'/sportImg',query:{id:94}})"></div>
        <div class="box" @click="$router.push({path:'/sportImg',query:{id:93}})"></div>
        <div class="box" @click="$router.push({path:'/sportImg',query:{id:92}})"></div>
        <div class="box" @click="$router.push({path:'/sportImg',query:{id:91}})"></div>
        <div class="box" @click="$router.push({path:'/sportImg',query:{id:90}})"></div>
        <div class="box" @click="$router.push({path:'/sportImg',query:{id:89}})"></div>
        <div class="box" @click="$router.push({path:'/sportImg',query:{id:88}})"></div>
        <div class="box" @click="$router.push({path:'/sportImg',query:{id:87}})"></div>
        <div class="box" @click="$router.push({path:'/sportImg',query:{id:86}})"></div>
      </div>
      <div class="img-box back2" v-show="id == 2">
        <div class="box" @click="$router.push({path:'/sportImg',query:{id:211}})"></div>
        <div class="box" @click="$router.push({path:'/sportImg',query:{id:22}})"></div>
        <div class="box" @click="$router.push({path:'/sportImg',query:{id:213}})"></div>
        <div class="box" @click="$router.push({path:'/sportImg',query:{id:3}})"></div>
        <div class="box" @click="$router.push({path:'/sportImg',query:{id:215}})"></div>
        <div class="box" @click="$router.push({path:'/sportImg',query:{id:216}})"></div>
        <div class="box" @click="$router.push({path:'/sportImg',query:{id:217}})"></div>
        <div class="box" @click="$router.push({path:'/sportImg',query:{id:23}})"></div>
        <div class="box" @click="$router.push({path:'/sportImg',query:{id:219}})"></div>
        <div class="box" @click="$router.push({path:'/sportImg',query:{id:220}})"></div>
      </div>
      <div class="img-box back3" v-show="id == 3">
        <div class="box" @click="$router.push({path:'/sportImg',query:{id:317}})"></div>
        <div class="box" @click="$router.push({path:'/sportImg',query:{id:316}})"></div>
        <div class="box" @click="$router.push({path:'/sportImg',query:{id:315}})"></div>
        <div class="box" @click="$router.push({path:'/sportImg',query:{id:314}})"></div>
        <div class="box" @click="$router.push({path:'/sportImg',query:{id:33}})"></div>
        <div class="box" @click="$router.push({path:'/sportImg',query:{id:32}})"></div>
        <div class="box" @click="$router.push({path:'/sportImg',query:{id:4}})"></div>
        <div class="box" @click="$router.push({path:'/sportImg',query:{id:313}})"></div>
        <div class="box" @click="$router.push({path:'/sportImg',query:{id:312}})"></div>
        <div class="box" @click="$router.push({path:'/sportImg',query:{id:311}})"></div>
      </div>
    </div>
  </div>
</template>

<script>
import personal_header from "@/components/include/personal_header";
import '@/assets/css/sportList.less'
export default {
  name: 'sportList',
  components: {personal_header},
  data() {
    return {
      titleDate:{title:'',rule:{text:'',url:''},},
    }
  },
  created: function () {
    this.id = this.$route.query.id
  },
  mounted: function () {

  },
  methods: {}
}
</script>

<style scoped>

</style>