<template>
    <div>
        <head_nav></head_nav>
        <!-------------------------------------------------头部 start---------------------------------------------------------->
        <div class="member">
            <div class="container">
                <slide_left></slide_left>
                <div class="slide-right">
                    <div class="user-title">业绩提成</div>
                    <div class="user-main">
                        <div class="main ">
                            <div class="main-title">

                            </div>
                            <div class="main-content">
                                <ul class="searchFirst">
                                    <li class="inquiry-button">
                                        <span>时间：</span>
                                        <el-date-picker v-model="params.end" type="date" placeholder="选择日期" @change="getCommissionList"></el-date-picker>
                                    </li>
                                </ul>
                                <el-table :data="commissionList.list" style="width: 100%" :default-sort = "{prop: 'createDatetime', order: 'descending'}">
                                    <el-table-column  prop="account" label="账户" width="80"></el-table-column>
                                    <el-table-column   prop="beforeMoney" label="变动前金额" width="100"></el-table-column>
                                    <el-table-column   prop="afterMoney" label="变动后金额" width="100"></el-table-column>
                                    <el-table-column   prop="money" label="变化金额" width="80"></el-table-column>
                                    <el-table-column   prop="createDatetime" label="变动时间" width="160">
                                        <template  slot-scope="scope">
                                            <span>{{handleTime(scope.row.createDatetime)}}</span>
                                        </template >
                                    </el-table-column>
                                    <el-table-column   prop="remark" label="备注" ></el-table-column>
                                </el-table>
                                <div class="block">
                                    <el-pagination layout="prev, pager, next, total" :total="commissionList.totalCount" :page-size="params.pageSize"  :current-page.sync="params.pageNumber"  @current-change="getCommissionList"></el-pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------------------------------------底部 start------------------------------------------------------>
        <foot_nav></foot_nav>
    </div>
</template>

<script>
    import '@/assets/css/member.less'
    import head_nav from "@/components/include/head_nav";
    import foot_nav from "@/components/include/foot_nav";
    import slide_left from  '@/components/center/slideLeft';
    import {http_ajax} from '@/assets/js/resource';
    export default {
        name:"achievement",
        components:{
            head_nav,foot_nav,slide_left
        },
        data(){
            return{
                commissionList:{},
                params:{begin:'',end:"",pageNumber:1,pageSize:13}
            }
        },
        created() {
            this.params.end = this.handleTime()
            this.getCommissionList()
        },
        methods:{
            //获取业绩提成数据
            getCommissionList:function () {
                if ( new Date(this.params.begin).getTime() > new Date(this.params.end).getTime()){
                    let begin = this.params.begin;
                    let end = this.params.end;
                    this.params.begin = this.handleTime(end);
                    this.params.end = this.handleTime(begin,"23:59:59");
                }else {
                    this.params.begin = this.handleTime()
                    this.params.end = this.handleTime(this.params.end,"23:59:59")
                }
                http_ajax("post","native/commissionList.do",this.params,true,'.main-content').then((res)=>{
                    if (res){
                        this.commissionList = res
                    }else{
                        this.$message("请求失败请重新尝试！")
                    }
                })
            },
            //处理提交时间
            handleTime:function (time=new Date(),HMStime="00:00:00") {
                let times = '';
                let Year = '';
                let Month ='';
                let Dates ='';
                let Hours ='';
                let Minutes ='';
                let Secodes ='';
                if(time.length > 20){
                    times = new Date(`'${time}'`);
                    Year = times.getFullYear();
                    Month = times.getMonth() < 10 ? "0"+(times.getMonth()+1) : (times.getMonth() + 1)
                    Dates = times.getDate() < 10 ? "0" + times.getDate() : times.getDate()
                    return Year +"-"+Month+"-"+Dates+" "+HMStime
                }else{
                    times = new Date(time)
                    Year = times.getFullYear();
                    Month = times.getMonth() < 10 ? "0"+(times.getMonth()+1) : (times.getMonth() + 1)
                    Dates = times.getDate() < 10 ? "0" + times.getDate() : times.getDate()
                    Hours = times.getHours() < 10 ? "0" + times.getHours() : times.getHours()
                    Minutes = times.getMinutes() < 10 ? "0" + times.getMinutes() : times.getMinutes()
                    Secodes = times.getSeconds() < 10 ? "0" + times.getSeconds() : times.getSeconds()
                    return Year +"-"+Month+"-"+Dates+" "+ Hours +":"+ Minutes +":"+Secodes;
                }


            },
        }
    }
</script>

<style lang="less" scoped>

</style>