<template>
    <div>
        <head_nav></head_nav>
        <!-------------------------------------------------头部 start---------------------------------------------------------->
        <div class="member">
            <div class="container">
                <slide_left></slide_left>
                <div class="slide-right">
                    <div class="user-title">投注明细</div>
                    <div class="user-main">
                        <div class="main ">
                            <div class="main-title">
                                <ul>
                                    <li  :class="show == true? 'curr' : ''">
                                        <div><h5>投注记录</h5></div>
                                    </li>
<!--                                    <li @click="show = !show" :class="show == false? 'curr' : ''">-->
<!--                                        <div><h5>追号记录</h5></div>-->
<!--                                    </li>-->
                                </ul>
                            </div>
                            <div class="main-content">
                                <div v-if="show" >
                                    <div class="main-content-status">
                                        <ul class="searchFirst">
                                            <li id="lotteryClassify">
                                                <span>彩种：</span>
                                                <el-select v-model="params.code" filterable  placeholder="所有彩种" @change="getTeamStaticNew()">
                                                    <el-option  v-for="item in lotteryList" :key="item.id" :label="item.name" :value="item.code"></el-option>
                                                </el-select>
                                            </li>
                                            <li class="inquiry-button">
                                                <el-date-picker v-model="endTime" type="date" placeholder="选择日期" @change="getTeamStaticNew"></el-date-picker>
                                            </li>
                                            <li class="inquiry-button">
                                                <span>类型：</span>
                                                <a href="javascript:void(0)"  @click="params.status='',getTeamStaticNew()" :class="{active:params.status == ''}">全部</a>
                                                <a href="javascript:void(0)"  @click="params.status=1,getTeamStaticNew()" :class="{active:params.status == 1}">待开奖</a>
                                                <a href="javascript:void(0)"  @click="params.status=2,getTeamStaticNew()" :class="{active:params.status == 2}">已中奖</a>
                                                <a href="javascript:void(0)"  @click="params.status=3,getTeamStaticNew()" :class="{active:params.status == 3}">未中奖</a>
                                                <a href="javascript:void(0)"  @click="params.status=4,getTeamStaticNew()" :class="{active:params.status == 4}">已撤单</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="main-content-status">
                                        <ul class="searchFirst">
                                            <li>
                                                <span>下级代理帐号：</span>
                                                <el-input placeholder="代理查询" v-model="params.account" style="width: 200px;"></el-input>
                                              <el-button type="primary" @click="getTeamStaticNew">查询</el-button>
                                            </li>
                                        </ul>
                                    </div>
                                    <el-table :data="teamDate.list" style="width: 100%" :default-sort = "{prop: 'createTime', order: 'descending'}">
                                        <el-table-column prop="lotName" label="彩种" sortable ></el-table-column>
                                        <el-table-column prop="qiHao" label="期号" sortable width="110"></el-table-column>
                                        <el-table-column prop="haoMa" label="投注内容" >
                                            <template slot-scope="scope">
                                                <span>{{scope.row.playName +" ," + scope.row.haoMa}}</span>
                                            </template>
                                        </el-table-column>
                                        <el-table-column prop="buyMoney" label="投注金额" sortable width="95" >
                                            <template slot-scope="scope">
                                                <span style="color:red;">{{scope.row.buyMoney}}</span>
                                            </template>
                                        </el-table-column>
                                        <el-table-column prop="winMoney" label="中奖金额" sortable width="95" >
                                            <template slot-scope="scope">
                                                <span :style="scope.row.winMoney > 0 ? 'color:red;font-weight:900;':''">{{scope.row.winMoney}}</span>
                                            </template>
                                        </el-table-column>
                                        <el-table-column prop="lotteryHaoMa" label="开奖号码"  width="120"></el-table-column>
                                        <el-table-column prop="status" label="状态"  >
                                            <template slot-scope="scope">
                                                <el-tag :style="statusShow(scope.row.status)[0]" disable-transitions>{{statusShow(scope.row.status)[1]}}</el-tag>
                                            </template>
                                        </el-table-column>
                                        <el-table-column prop="createTime" label="投注时间" sortable width="95"></el-table-column>
                                        <el-table-column label="操作">
                                            <template slot-scope="scope">
                                                <span  style="color: #2b82cc;cursor:pointer;" @click="cancelOrder(scope.row.orderId)" >{{scope.row.cancelSwitch ==1 ? "撤单" : ""}}</span>
                                            </template>
                                        </el-table-column>
                                    </el-table>
                                    <div class="block">
                                        <el-pagination layout="prev, pager, next, total" :total="teamDate.totalCount" :page-size="params.rows"  :current-page.sync="params.page"  @current-change="getTeamStaticNew"></el-pagination>
                                    </div>
                                </div>
<!--                                <div v-if="!show" >-->
<!--                                    <ul class="searchFirst">-->
<!--                                        <li id="lotteryClassify">-->
<!--                                            <span>彩种：</span>-->
<!--                                            <el-select v-model="BcLotteryRecordsParams.lotCode" filterable   placeholder="所有彩种">-->
<!--                                                <el-option  v-for="item in lotteryList" :key="item.id" :label="item.name" :value="item.code"></el-option>-->
<!--                                            </el-select>-->
<!--                                        </li>-->
<!--                                        <li class="inquiry-button">-->
<!--                                            <span>时间：</span>-->
<!--                                            <a href="javascript:void(0)" >今天</a>-->
<!--                                            <a href="javascript:void(0)" >昨天</a>-->
<!--                                            <a href="javascript:void(0)" >七天</a>-->
<!--                                        <a href="javascript:void(0)" >三十天</a>-->
<!--                                            <a href="javascript:void(0)" >一个月以前</a>-->
<!--                                        </li>-->
<!--                                        <li class="inquiry-button">-->
<!--                                            <span>类型：</span>-->
<!--&lt;!&ndash;                                            <a href="javascript:void(0)" >全部</a>&ndash;&gt;-->
<!--                                            <a href="javascript:void(0)" >待开奖</a>-->
<!--                                            <a href="javascript:void(0)" >已中奖</a>-->
<!--                                            <a href="javascript:void(0)" >未中奖</a>-->
<!--                                            <a href="javascript:void(0)" >已撤单</a>-->
<!--                                            <a href="javascript:void(0)" >追号</a>-->
<!--                                        </li>-->
<!--                                    </ul>-->
<!--                                    <el-table :data="BcLotteryRecordsTeamDate.results" style="width: 100%" :default-sort = "{prop: 'createTime', order: 'descending'}">-->
<!--                                        <el-table-column prop="lotName" label="彩种" sortable ></el-table-column>-->
<!--                                        <el-table-column prop="qiHao" label="期号" sortable width="110"></el-table-column>-->
<!--                                        <el-table-column prop="haoMa" label="投注内容" >-->
<!--                                            <template slot-scope="scope">-->
<!--                                                <span>{{scope.row.playName +" ," + scope.row.haoMa}}</span>-->
<!--                                            </template>-->
<!--                                        </el-table-column>-->
<!--                                        <el-table-column prop="buyMoney" label="投注金额" sortable width="95" >-->
<!--                                            <template slot-scope="scope">-->
<!--                                                <span style="color:red;">{{scope.row.buyMoney}}</span>-->
<!--                                            </template>-->
<!--                                        </el-table-column>-->
<!--                                        <el-table-column prop="winMoney" label="中奖金额" sortable width="95" >-->
<!--                                            <template slot-scope="scope">-->
<!--                                                <span :style="scope.row.winMoney > 0 ? 'color:red;font-weight:900;':''">{{scope.row.winMoney}}</span>-->
<!--                                            </template>-->
<!--                                        </el-table-column>-->
<!--                                        <el-table-column prop="lotteryHaoMa" label="开奖号码"  width="120"></el-table-column>-->
<!--                                        <el-table-column prop="status" label="状态"  >-->
<!--                                            <template slot-scope="scope">-->
<!--                                                <el-tag :style="statusShow(scope.row.status)[0]" disable-transitions>{{statusShow(scope.row.status)[1]}}</el-tag>-->
<!--                                            </template>-->
<!--                                        </el-table-column>-->
<!--                                        <el-table-column prop="createTime" label="投注时间" sortable width="95"></el-table-column>-->
<!--                                        <el-table-column label="操作">-->
<!--                                            <template slot-scope="scope">-->
<!--                                                <span  style="color: #2b82cc;cursor:pointer;" @click="cancelOrder(scope.row.orderId)" >{{scope.row.cancelSwitch ==1 ? "撤单" : ""}}</span>-->
<!--                                            </template>-->
<!--                                        </el-table-column>-->
<!--                                    </el-table>-->
<!--                                    <div class="block">-->
<!--                                        <el-pagination layout="prev, pager, next, total" :total="BcLotteryRecordsTeamDate.totalCount" :page-size="BcLotteryRecordsParams.rows"  :current-page.sync="BcLotteryRecordsParams.page"  @current-change="getBcLotteryRecords"></el-pagination>-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------------------------------------底部 start------------------------------------------------------>
        <foot_nav></foot_nav>
    </div>
</template>

<script>
    import '@/assets/css/member.less'
    import head_nav from "@/components/include/head_nav";
    import foot_nav from "@/components/include/foot_nav";
    import slide_left from  '@/components/center/slideLeft';
    import {http_ajax} from '@/assets/js/resource'
    export default {
        name:"cathecticMinute",
        components:{
            head_nav,foot_nav,slide_left
        },
        data(){
            return{
                grade:[
                    {value:1, label:"直属下级"},
                    {value:2, label:"所有下级"},
                ],
                params:{startTime:'',endTime:'',code:'',status:'',page:1,rows:13,lhc:1,account:''},
                endTime:'',
                BcLotteryRecordsParams:{queryType:'follow',dateTime:'today',account:'',lotCode:'LHC',page:1,rows:13},
                teamDate:[],
                BcLotteryRecordsTeamDate:[],
                lotteryList:[],
                show:true,
            }
        },
        created() {
            this.endTime = this.handleTime()
            this.getTeamStaticNew()
            this.getLotteryList()
            this.getBcLotteryRecords()
        },
        mounted() {

        },
        methods:{
            //确定请求开始时间和结束时间,并且查询数据
            getTeamStaticNew:function () {
                if ( new Date(this.params.startTime).getTime() > new Date(this.endTime).getTime()){
                    let begin = this.params.startTime;
                    let end = this.endTime;
                    this.params.startTime = this.handleTime(end);
                    this.params.endTime = this.handleTime(begin,"23:59:59");
                }else {
                    this.params.startTime = this.handleTime()
                    this.params.endTime = this.handleTime(this.endTime,"23:59:59")
                }
                http_ajax("post",'native/get_lottery_order.do',this.params,true,'.main-content').then((res)=>{
                    this.teamDate = res.page
                })
            },
            //彩种数据
            getLotteryList:function(){
                http_ajax("post",'native/getLotteryList.do',{},true,'.inquiry-button').then(res=>{
                    if (res.bcList.length != 0){
                       this.lotteryList =  res.bcList
                    }
                })
            },
            //追号记录查询
            getBcLotteryRecords:function(){
              http_ajax("post","native/getBcLotteryRecords.do",this.BcLotteryRecordsParams,true,'.main-content').then((res)=>{
                   if (res.success){
                       this.BcLotteryRecordsTeamDate = res.content
                   }else{
                       this.$message.warning(res.msg)
                   }
                })
            },
            //撤单操作
            cancelOrder:function(id){
                this.$confirm('是否撤销所选注单', '撤单',{
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(()=>{
                    http_ajax('post','native/cancelOrder.do',{orderId:id,lotCode:''},true,'.el-table__row').then((res)=>{
                        if(res.success) {
                            this.$toast('撤单成功')
                            this.getLotteryList()
                            this.getBcLotteryRecords()
                        } else {
                            this.$toast(res.msg)
                        }
                    })
                })
            },
            //判断时间
            handleTime:function (time=new Date(),HMStime="00:00:00") {
                let times = '';
                if(time.length > 20){
                    times = new Date(`'${time}'`);
                }else{
                    times = new Date(time)
                }
                let Year = times.getFullYear();
                let Month = times.getMonth() < 10 ? "0"+(times.getMonth()+1) : (times.getMonth() + 1)
                let Dates = times.getDate() < 10 ? "0" + times.getDate() : times.getDate()
                return Year +"-"+Month+"-"+Dates+" "+HMStime
            },
            //判断状态，已经显示颜色内容
            statusShow:function (status) {
                let html =  []
                switch (status) {
                    case 1:
                        html[0] = 'background-color: #428bca;color:#ffffff';
                        html[1] = '未开奖';
                        break;
                    case 2:
                        html[0] = 'background-color: #5cb85c;color:#ffffff';
                        html[1] = '已中奖';
                        break;
                    case 3:
                        html[0] = 'background-color: #d9534f;color:#ffffff';
                        html[1] = '未中奖';
                        break;
                    case 4:
                        html[0] = 'background-color: #5bc0de;color:#ffffff';
                        html[1] = '已撤单';
                        break;
                    case 5:
                        html[0] = 'background-color: #f0ad4e;color:#ffffff';
                        html[1] = '回滚成功';
                        break;
                    case 6:
                        html[0] = 'background-color: #f0ad4e;color:#ffffff';
                        html[1] = '回滚异常';
                        break;
                    case 7:
                        html[0] = 'background-color: #f0ad4e;color:#ffffff';
                        html[1] = '开奖异常';
                        break;
                    case 8:
                        html[0] = 'background-color: #f0ad4e;color:#ffffff';
                        html[1] = '和局';
                        break;
                    case 9:
                        html[0] = 'background-color: #f0ad4e;color:#ffffff';
                        html[1] = '合买失效';
                        break;
                }
                return html
            }
        }
    }
</script>

<style lang="less" scoped>
    .main{
        .main-title{
            ul{
                margin-top: 15px;
                border-bottom: 1px solid #cecece;
                zoom: 1;
                &:after,&:before{
                    clear: both;
                    visibility: hidden;
                    content: "";
                    height: 0;
                    display: block;
                }
                li{
                    float: left;
                    font-size: 14px;
                    background: #f8f8f8;
                    border: 1px solid #cecece;
                    margin: 0 5px -1px 5px;
                    padding: 0 15px;
                    border-radius: 4px 4px 0 0;
                    line-height: 28px;
                    display: inline-block;
                    left: 10px;
                    cursor: pointer;
                }
                .curr{
                    color: #e4393c;
                    border-bottom: 1px solid transparent;
                }
            }
        }
        .main-content{
            margin-top: 10px;
            /deep/ .el-table td , .el-table th{
                padding: 9px 0 !important;
            }
            /deep/ .el-table th{
                padding: 9px 0 !important;
            }
            /deep/ .el-date-editor.el-input{
                width: 198px;
            }
            /deep/ .el-tag{
                height: 28px;
                padding: 0 7px;
                line-height: 28px;
            }
        }
    }
</style>
