<template>
    <div>
        <head_nav></head_nav>
        <!-------------------------------------------------头部 start---------------------------------------------------------->
        <div class="member">
            <div class="container">
                <slide_left></slide_left>
                <div class="slide-right">
                    <div class="user-title">体育投注记录</div>
                    <div class="user-main">
                        <ul class="searchFirst">
                            <li class="inquiry-button">
                                <span>时间：</span>
                                <a href="javascript:void(0)" :class="{active:timeIndex == 0}" @click="timeIndex = 0, getRecord('new')">今天</a>
                                <a href="javascript:void(0)" :class="{active:timeIndex == 7}" @click="timeIndex = 7, getRecord('new')">七天</a>
                                <a href="javascript:void(0)" :class="{active:timeIndex == 30}" @click="timeIndex = 30, getRecord('new')">三十天</a>
                            </li>
                        </ul>
                        <div class="searchDetail">
                            <table>
                                <thead>
                                <tr>
                                    <th>三方游戏类型</th>
                                    <th>注单号</th>
                                    <th>游戏名称</th>
                                    <th>投注金额</th>
                                    <th>输赢金额	</th>
                                    <th>投注时间</th>
                                </tr>
                                </thead>
                                <tbody v-show="Data">
                                <tr v-for="item in Data" :key="item.id">
                                    <td>{{item.platformType}}</td>
                                    <td>{{item.bettingCode}}</td>
                                    <td>{{item.gameTypeCode}}</td>
                                    <td>{{item.bettingMoney}}</td>
                                    <td style="color: red">{{item.winMoney}}</td>
                                    <td>{{$root.common.getMyDate(item.bettingTimeGmt4)}}</td>
                                </tr>
                                </tbody>
                                <tbody v-show="Data.length == 0">
                                <tr>
                                    <td colspan="100">暂无记录</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="block">
                                <el-pagination
                                        @prev-click="pageClick(Inquiry.page - 1)"
                                        @next-click="pageClick(Inquiry.page + 1)"
                                        @current-change="handleCurrentChange"
                                        :current-page.sync="Inquiry.page"
                                        :page-size="Inquiry.rows"
                                        layout="prev, pager, next"
                                        :total="total">
                                </el-pagination>
                            </div>
                        </div>
                        <div class="userTip"><p><i class="el-icon-warning"></i>温馨提示：投注记录最多可保存30天。</p></div>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------------------------------------底部 start------------------------------------------------------>
        <foot_nav></foot_nav>
    </div>
</template>

<script>
    import '@/assets/css/member.less'
    import head_nav from '@/components/include/head_nav'
    import foot_nav from  '@/components/include/foot_nav'
    import slide_left from  '@/components/center/slideLeft'
    import {http_ajax} from '@/assets/js/resource'
    export default {
        name: "gameRecords",
        components:{
            head_nav,foot_nav,slide_left
        },
        data(){
            return{
                List:'',
                total:1,
                Inquiry:{
                    rows:10,
                    page:1,
                },
                timeIndex:0,
                Data:'',
            }
        },
        created:function(){
        },
        mounted:function(){
            this.getRecord()
        },
        methods: {
            handleCurrentChange: function (val) {
                this.pageClick(val)
            },
            // 查询投注记录
            getRecord: function (newPage) {
                if (newPage == 'new') this.Inquiry.page = 1
                let time = this.$root.common.dataSearch(this.timeIndex)
                this.Inquiry.startTime = time.startTime
                this.Inquiry.endTime = time.endTime
                http_ajax('get', 'native/egamerecord.do', this.Inquiry, true, '.searchDetail').then(res => {
                    this.Data = res.rows
                    this.total = res.total
                })
            },
            pageClick: function (page) {
                this.Inquiry.page = page
                this.getRecord()
            },
        }
    }
</script>

<style lang="less">
    .statusShow{
        color:#fff;border-radius:3px;padding:3px 5px;
    }
</style>