<template>
    <div>
        <head_nav ref="headLottery"></head_nav>
        <!-------------------------------------------------头部 start---------------------------------------------------------->
        <div class="member">
            <div class="container">
                <slide_left></slide_left>
                <div class="slide-right">
                    <div class="user-title">积分兑换</div>
                    <div class="user-main">
                        <div class="integral">
                            <table>
                                <thead>
                                    <tr>
                                        <td width="115">类型</td>
                                        <td>余额</td>
                                        <td>操作</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>现金</td>
                                        <td><span class="readyMoney" >{{ this.$store.state.money || 0 }}</span>  RMB</td>
                                        <td rowspan="2" class='refresh'><el-button  :disabled="disabled == false" size="small" type="warning" round @click="refreshMoney()">刷新</el-button></td>
                                    </tr>
                                    <tr>
                                        <td>积分</td>
                                        <td><span class="readyMoney">{{integral || 0}}</span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                                <div class="exchangeType">
                                                    <span>兑换类型：</span>
                                                    <el-select v-model="options.value" placeholder="----请选择类型----" :disabled="disabled == false"  style="width: 179px;">
                                                        <el-option
                                                                v-for="(item,index) in options.list"
                                                                :key="index"
                                                                :label="item.label"
                                                                :value="item.value">
                                                        </el-option>
                                                    </el-select>
                                                </div>

                                            <div class="exchangeLimit" style="width: 238px;">
                                                <span>兑换额度：</span>
                                                <el-input v-model="exchangeLimit" placeholder="请输入内容"></el-input>
                                            </div>
                                            <div class="submitButton" style="width: 90px;">
                                                <el-button type="primary" plain @click="getExchange()" :disabled="disabled == false">立即兑换</el-button>
                                            </div>
                                            <div class="tip">
                                                注：系统余额可用于彩票投注————积分可用于参与站点活动
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------------------------------------底部 start------------------------------------------------------>
        <foot_nav></foot_nav>
    </div>
</template>

<script>
    import '@/assets/css/member.less'
    import head_nav from '@/components/include/head_nav'
    import foot_nav from  '@/components/include/foot_nav'
    import slide_left from  '@/components/center/slideLeft'
    import {http_ajax} from '@/assets/js/resource'
    export default {
        name: "integral",
        components:{
            head_nav,foot_nav,slide_left
        },
        data(){
            return{
                options: {
                    value:'',
                    list:[]
                },
                exchangeLimit:'', //兑换额度
                exchangeConfig:"", //兑换配置
                disabled:true, //是否可以兑换
                integral:'',
            }
        },
        created:function(){

        },
        mounted:function(){
            this.getExchangeConfig()
            this.refreshMoney()
        },
        methods: {
            //刷新金额
            refreshMoney:function(){
                this.$refs.headLottery.getMeminfo();
                this.$toast('刷新成功')
            },
            //获取兑换配置配置
            getExchangeConfig:function(){
                http_ajax('get','native/exchangeConfig.do',{},true,'.integral').then((res)=>{
                    if (res.success == true){
                        this.options.list = []
                        this.exchangeConfig = res.content
                        this.integral = res.content.score
                        if (this.exchangeConfig.configs != ''){
                            for (let i in  this.exchangeConfig.configs){
                                if (this.exchangeConfig.configs[i].type == 1){
                                    this.options.list.push({
                                        label:'现金兑换积分',
                                        value: i
                                    })
                                } else if (this.exchangeConfig.configs[i].type == 2){
                                    this.options.list.push({
                                        label:'积分兑换现金',
                                        value: i
                                    })
                                }
                            }
                        }else{
                            this.disabled =! true
                            this.$message({message: '积分兑换未开启', type: 'warning'});
                        }
                    }
                })
            },
            //提交兑换金额
            getExchange:function () {
                let changeSelect = this.exchangeConfig.configs[this.options.value]
                if (this.exchangeLimit > changeSelect.maxVal){
                     this.$message.warning(`兑换不能大于` + changeSelect.maxVal)
                    return false
                }
                if (this.exchangeLimit < changeSelect.minVal){
                     this.$message.warning(`兑换不能小于` + changeSelect.minVal)
                    return false
                }
                if(!changeSelect.id){
                    this.$message.warning('请选择兑换方式')
                    return false;
                }
                let params = {
                    typeId:changeSelect.id,
                    amount:this.exchangeLimit
                }
                http_ajax('get','native/exchange.do',params,true,'.submitButton').then((res)=>{
                    if (res.success == true){
                        this.$message.success('兑换成功')
                        this.getExchangeConfig()
                        this.$refs.headLottery.getMeminfo();
                    }else{
                        this.$message.error(res.msg)
                    }
                })
            },
        }
    }
</script>

<style lang="less" scoped>
    .integral{
        width: 100%;
        margin: 0 auto;
        padding: 15px 39px 10px;
        box-sizing: border-box;
        color: #666666;
        background: url(data:image/gif;base64,R0lGODlhAQDlANUAAPDw8O/v7/Dv7/Hw8O3t7e/u7u7u7vTz8/Lx8fPy8vj39/b19ff29vX09Pv6+vz7++zs7Pn4+Pr5+f38/P79/fHx8e7t7fLy8vPz8+3s7PT09PX19ff39/b29vj4+Pn5+fr6+vv7+/z8/P39/f7+/gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAAAAAAALAAAAAABAOUAAAZzQAgkQyxmCEikZck0OJ2FaDRArQquV4B2O+h2K+AwYoy4mM+XhDqBabsxh/hBQ69rGviNfq9f+DuAgYEMhByGh4YKih6MjY4RER+Sk5QfEhIgmZqbIA4OIaChoqAPDyKnqKmoExMjrq+wsSMUJLW2t7i1QQA7) repeat-x;
        table{
            margin: 0 auto;
            background-image: linear-gradient(#f7f7f7,#ffffff);
            width: 710px;
            height: 38px;
            line-height: 38px;
            border-radius: 5px;
            text-align: center;
            thead{
                font-size: 14px;
                color: #666666;
                font-weight: bold;
            }
            tbody{
                tr{
                    &:nth-child(3){
                        text-align: left;
                    }
                    td{
                        .readyMoney{}
                        .refresh{

                        }
                        .exchangeType{
                            margin-left: 40px;
                        }
                        .exchangeLimit{
                            margin-left: 40px;
                            .el-input{
                                width: auto;
                            }
                        }
                        .submitButton{
                            margin: 10px 0px 10px 134px;
                            font-size: 18px;
                        }
                        .tip{
                            margin-left: 40px;
                        }
                    }
                }

            }
        }
    }
    .member .container .slide-right .user-main table .el-button{
        background: #e6a23c!important;
    }
    .member .container .slide-right .user-main table .submitButton .el-button {
        background: #409eff !important;
    }
    .member .container .slide-right .user-main table .el-input__inner{
        width:150px !important;
    }
</style>