<template>
    <div>
        <head_nav></head_nav>
        <!-------------------------------------------------头部 start---------------------------------------------------------->
        <div class="member">
            <div class="container">
                <slide_left></slide_left>
                <div class="slide-right">
                    <div class="user-title">下级开户</div>
                    <div class="user-main">
                        <div class="main ">
                            <div class="main-title">
                                <ul>
                                    <li  @click="show = 1" :class="show == 1? 'curr' : ''">
                                        <div><h5>下级开户</h5></div>
                                    </li>
                                    <li @click="show = 2" :class="show == 2? 'curr' : ''">
                                        <div><h5>邀请码</h5></div>
                                    </li>
                                    <li @click="show = 3" :class="show == 3? 'curr' : ''">
                                        <div><h5>返点倍率表</h5></div>
                                    </li>
                                </ul>
                            </div>
                            <div class="main-content">
                                <div v-if="show == 1" class="lowerOpenAccount">
                                    <div class="content-title">
                                        <ul>
                                            <li>开户类型:</li>
                                            <li>代理机制:</li>
                                            <li>生成链接:</li>
                                            <li>邀请码:</li>
                                            <li v-if="leciUserLink.dynamicRate == 'on'">动态赔率:</li>
                                            <li v-if="leciUserLink.profitShare == 'on'">代理占成:</li>
                                            <li v-if="leciUserLink.mergeRebate==='off' && leciUserLink.multiAgent === 'on'" >设置返点:</li>
                                            <li>状态:</li>
                                        </ul>
                                    </div>
                                    <div class="content-element">
                                        <ul>
                                            <li>
                                                <el-radio v-model="updateLink.type" label="1">代理类型</el-radio>
                                                <el-radio v-model="updateLink.type" label="2" v-if="leciUserLink.trunOnoff === 'off'" >会员类型</el-radio>
                                            </li>
                                            <li>{{leciUserLink.dljz || '--'}}</li>
                                            <li  v-if="leciUserLink.link" v-clipboard:copy="leciUserLink.link.linkUrl" v-clipboard:success="copy" >{{leciUserLink.link.linkUrl || ''}}</li>
                                            <li  v-if="leciUserLink.link " v-clipboard:copy="leciUserLink.link.linkKey" v-clipboard:success="copy" >{{leciUserLink.link.linkKey || ''}}</li>
                                            <li><el-input v-if="leciUserLink.dynamicRate == 'on'" :placeholder="'当前赔率 '+ leciUserLink.curDynamicRate +',最小赔率'+leciUserLink.dynamicRateMin+',最大赔率 '+leciUserLink.dynamicRateMax+''" v-model="updateLink.dynamicRate" suffix-icon="el-icon-edit" style="width: 250px"></el-input></li>
                                            <li><el-input v-if="leciUserLink.profitShare == 'on'" :placeholder="'代理占成 '+ leciUserLink.curDynamicRate +',最小赔率'+leciUserLink.profitShareMin+',最大赔率 '+leciUserLink.profitShareMax+''" v-model="updateLink.profitShare" suffix-icon="el-icon-edit" style="width: 250px"></el-input></li>
                                            <li><el-input v-if="leciUserLink.mergeRebate==='off' && leciUserLink.multiAgent === 'on'" :placeholder="'请输入返回点数, '+ (leciUserLink.rebateMinNum || 0) +'-'+ (leciUserLink.rebateMaxNum || 0) +'之间'" v-model="updateLink.cpRolling" suffix-icon="el-icon-edit" style="width: 250px"></el-input></li>
                                            <li>
                                                <el-select v-model="updateLink.status" placeholder="请选择">
                                                    <el-option
                                                            v-for="item in options"
                                                            :key="item.value"
                                                            :label="item.label"
                                                            :value="item.value">
                                                    </el-option>
                                                </el-select>
                                            </li>
                                            <li> <el-button type="primary" @click="getUpdateOrSaveLink(1)">添加</el-button></li>
                                        </ul>
                                    </div>
                                </div>
                                <div v-if="show == 2" class="invitationCode">
                                    <el-table :data="generalizeLink.list" style="width: 100%" :default-sort = "{prop: 'date', order: 'descending'}">
                                        <el-table-column
                                                prop="type"
                                                label="标签"
                                                width="85"
                                                :filters="[{ text: '代理类型', value:'代理类型'  }, { text: '会员类型', value: '会员类型'}]"
                                                :filter-method="filterTag"
                                                >
                                            <template slot-scope="scope">
                                                <el-tag :type='scope.row.type == 1 ? "": "danger"' disable-transitions>{{scope.row.type == 1 ? "代理类型": "会员类型"}}</el-tag>
                                            </template>
                                        </el-table-column>
                                        <el-table-column prop="cpRolling" label="返点" width="50"></el-table-column>
                                        <el-table-column prop="dynamicRate" label="动态赔率" width="79" ></el-table-column>
                                        <el-table-column prop="linkKey" label="邀请码" width="70" >
                                            <template slot-scope="scope">
                                                <span v-clipboard:copy="scope.row.linkKey" v-clipboard:success="copy" >{{scope.row.linkKey}}</span>
                                            </template>
                                        </el-table-column>
                                        <el-table-column prop="linkUrl" label="推广链接" width="210">
                                            <template slot-scope="scope">
                                                <span v-clipboard:copy="scope.row.linkUrl" v-clipboard:success="copy" >{{scope.row.linkUrl}}</span>
                                            </template>
                                        </el-table-column>
                                        <el-table-column prop="shortUrl1" label="短连接" >
                                            <template slot-scope="scope">
                                                <span v-clipboard:copy="scope.row.shortUrl1" v-clipboard:success="copy" >{{scope.row.shortUrl1}}</span>
                                            </template>
                                        </el-table-column>
                                        <el-table-column prop="status" label="状态" >
                                            <template slot-scope="scope">
                                                <span  :style="scope.row.status == 1 ? 'color:red' :'' ">{{scope.row.status == 1 ? "关闭" :"开启" }}</span>
                                            </template>
                                        </el-table-column>
                                        <el-table-column label="操作" width="150">
                                            <template slot-scope="scope">
                                                <el-button size="mini" type="info"  @click="reviseUrl(scope.row)">修改</el-button>
                                                <el-button size="mini" type="danger" @click="deleteUrl(scope.row.id)">删除</el-button>
                                            </template>
                                        </el-table-column>
                                    </el-table>
                                    <div class="block">
                                        <el-pagination layout="prev, pager, next, total" :total="generalizeLink.totalCount" :page-size="generalizeLinkParams.rows"  :current-page.sync="generalizeLinkParams.page"  @current-change="getGeneralizeLink"></el-pagination>
                                    </div>
                                    <el-dialog title="修改邀请码" :visible.sync="dialogVisible" width="30%" >
                                        <div class="invitationCode-popUp">
                                            <div class="content-title">
                                                <ul>
                                                    <li>代理机制:</li>
                                                    <li>返点:</li>
                                                    <li>邀请码:</li>
                                                    <li v-if="leciUserLink.dynamicRate == 'on'">推广链接:</li>
                                                    <li v-if="leciUserLink.profitShare == 'on'">短链接:</li>
                                                    <li>状态:</li>
                                                </ul>
                                            </div>
                                            <div class="content-element">
                                                <ul>
                                                    <li>{{updateData.type==1 ? "代理类型" : "会员类型"}}</li>
                                                    <li><el-input v-if="leciUserLink.mergeRebate==='off' && leciUserLink.multiAgent === 'on'" v-model="updateData.cpRolling" suffix-icon="el-icon-edit" style="width: 250px" placeholder="请填写返点"></el-input></li>
                                                    <li><el-input  suffix-icon="el-icon-edit" style="width: 250px" v-model="updateData.linkKey" placeholder="请填写邀请码"></el-input></li>
                                                    <li v-if="leciUserLink.dynamicRate == 'on' " >{{updateData.linkUrl}}</li>
<!--                                                    <li v-if="leciUserLink.profitShare == 'on'">{{updateData.shortUrl1}}</li>-->
                                                    <li>
                                                        <el-select v-model="updateData.status" placeholder="请选择">
                                                            <el-option
                                                                    v-for="item in options"
                                                                    :key="item.value"
                                                                    :label="item.label"
                                                                    :value="item.value">
                                                            </el-option>
                                                        </el-select>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <span slot="footer" class="dialog-footer">
                                            <el-button @click="dialogVisible = false" style="background: #bdbdbd;">取 消</el-button>
                                            <el-button type="primary" @click="dialogVisible = false,getUpdateOrSaveLink(2)">确 定</el-button>
                                        </span>
                                    </el-dialog>
                                </div>
                                <div v-if="show == 3" class="oddsTable" style="height: 680px;">
                                    <ul class="searchFirst">
                                        <li id="lotteryClassify">
                                            <span>彩种：</span>
                                            <el-select v-model="lotType" filterable  @change="getRebateOddsByLot" placeholder="所有彩种">
                                                <el-option  v-for="(item,index) in groupList" :key="index" :label="item.name" :value="item.type"></el-option>
                                            </el-select>
                                        </li>
                                    </ul>
                                    <table>
                                        <thead>
                                            <tr v-for="(item,index) in oddsByLot.slice(0,1)" :key="index">
                                                <td>
                                                    <span>玩法/返点</span>
                                                </td>
                                                <td v-for="(itemss,indexs) in item.items " :key="indexs">
                                                    <span>{{itemss.num}}</span>
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody v-infinite-scroll="load" style="height: 500px;">
                                            <tr v-for="(item,index) in oddsByLot.slice(0,count)" :key="index">
                                                <td>
                                                    <span>{{item.name}}</span>
                                                </td>
                                                <td v-for="(itemss,indexs) in item.items " :key="indexs" >
                                                    <span>{{itemss.odds}}</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
<!--                                    <div>-->
<!--                                        <ul class="infinite-list"  style="overflow:auto;height: 100%">-->
<!--                                            <li v-for="(item,index) in oddsByLot.slice(0,count)" class="infinite-list-item" :key="index">{{ item }}</li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------------------------------------底部 start------------------------------------------------------>
        <foot_nav></foot_nav>
    </div>
</template>

<script>
    import '@/assets/css/member.less'
    import head_nav from "@/components/include/head_nav";
    import foot_nav from "@/components/include/foot_nav";
    import slide_left from  '@/components/center/slideLeft'
    import {http_ajax} from "../../assets/js/resource";
    export default {
        name:"memberSupervise",
        components:{
            head_nav,foot_nav,slide_left
        },
        data(){
            return{
                show:1, //默认显示下级开户
                options:[{value:2,label:"开启"},{value:1,label:"关闭"}], //下级开户链接状态
                lotType:8,
                oddsByLot:[],
                count: 0, //
                radio:'1',
                groupList:[],
                leciUserLink:{}, //生成链接的数据
                updateLink:{id:'',type:'1',linkKey:'',cpRolling:'',status:2,profitShare:'',dynamicRate:''}, //（2为会员，1为代理）
                generalizeLink:{},
                generalizeLinkParams:{type:"",page:1,rows:9}, //邀请码表格数据
                dialogVisible:false, //修改弹窗
                updateData:{id:'',type:'',linkKey:'',cpRolling:'',status:'',linkUrl:''} //修改数据
            }
        },
        created() {
            this.getRebateOddsByLot()
            this.getGroupList()
            this.getLeciUserLink()
            this.getGeneralizeLink()
        },
        mounted() {

        },
        methods:{
            getRebateOddsByLot:function () { //返点配料表
                http_ajax("post","native/getRebateOddsByLot.do",{lotType:this.lotType},true,'.oddsTable').then((res)=>{
                    if (res.success){
                        this.oddsByLot = res.content
                    }else {
                        this.$message.warning(res.msg)
                    }
                })
            },
            //返点赔率表，赔率
            getGroupList:function(){
                http_ajax('post',"native/getGroupList.do",{},true,"#lotteryClassify").then((res)=>{
                    if (res.success){
                        this.groupList = res.content
                    }
                })
            },
            //下级开户数据
            getLeciUserLink:function(){
              http_ajax("post",'native/leciUserLink.do',{linkCode:''},true,'.lowerOpenAccount').then((res)=>{
                  if (res){
                            this.leciUserLink = res
                  }else {
                      this.$message.warning("数据请求失败！请刷新页面")
                  }
              })
            },
            //生存邀请链接 修改申请链接
            getUpdateOrSaveLink:function(type=1){
                let params = ''
                if (type == 1){
                    this.updateLink.linkKey = this.leciUserLink.link.linkKey
                    params = this.updateLink
                }else {
                    params = this.updateData
                }
                http_ajax("post",'native/updateOrSaveLink.do',params,true ,".lowerOpenAccount").then((res)=>{
                    if (res.success){
                        if (type == 1){
                            this.$message.success("链接生成成功")
                            this.getGeneralizeLink()
                        }else{
                            this.$message.success("修改成功")
                            this.getGeneralizeLink()
                        }
                    }else {
                        this.$message.warning(res.msg)
                    }
                })
            },
            //邀请码表格数据
            getGeneralizeLink:function(){
              http_ajax('post','native/generalizeLink.do',this.generalizeLinkParams,true,'.invitationCode').then((res)=>{
                  if (res){
                      this.generalizeLink = res
                  }else {
                      this.$message.warning("查询失败请重新尝试！")
                  }
              })
            },
            //下滑底部事件
            load:function () {
                this.count += 2
            },
            //复制成功事件
            copy:function (e) {
                this.$message.success(e.text+"  "+ "复制成功")
            },
            //表格筛选功能
            filterTag(value, row) {
                if (value == "代理类型"){
                    value = 1
                }else {
                    value = 2
                }
                return row.type === value;
            },
            //修改链接
            reviseUrl(value){
                this.updateData.id = value.id;
                this.updateData.type = value.type;
                this.updateData.linkKey = value.linkKey;
                this.updateData.cpRolling = value.cpRolling;
                this.updateData.status = value.status;
                this.updateData.linkUrl = value.linkUrl
                this.dialogVisible  = true

            },
            //删除链接
            deleteUrl(id){
                this.$confirm('是否删除所选链接', '删除链接',{
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(()=>{
                    http_ajax("post",'native/delLink.do',{id:id},true,".invitationCode").then((res)=>{
                        if (res.success){
                            this.$message.success("删除成功")
                            this.getGeneralizeLink()
                        }else {
                            this.$message.warning("删除失败！请重新尝试")
                        }
                    })
                })
            }
        }
    }
</script>

<style lang="less" scoped>
    .main{
        .main-title{
            ul{
                margin-top: 15px;
                border-bottom: 1px solid #cecece;
                zoom: 1;
                &:after,&:before{
                    clear: both;
                    visibility: hidden;
                    content: "";
                    height: 0;
                    display: block;
                }
                li{
                    float: left;
                    font-size: 14px;
                    background: #f8f8f8;
                    border: 1px solid #cecece;
                    margin: 0 5px -1px 5px;
                    padding: 0 15px;
                    border-radius: 4px 4px 0 0;
                    line-height: 28px;
                    display: inline-block;
                    left: 10px;
                    cursor: pointer;
                }
                .curr{
                    color: #e4393c;
                    border-bottom: 1px solid transparent;
                }
            }
        }
        .main-content{
            /*margin-top: 20px;*/
            /deep/.lowerOpenAccount{
                display: flex;
                margin-top: 20px;
                .content-title{
                    width: 25%;
                    ul{
                        text-align: right;
                        li{
                            padding-right: 30px;
                            line-height: 50px;
                        }
                    }
                }
                .content-element{
                    width: 75%;
                    ul{
                        text-align: left;
                        li{
                            cursor:pointer;
                            padding-right: 30px;
                            line-height: 50px;
                        }
                    }
                }
            }
            .invitationCode{
               /deep/ .el-tag{
                    height: 28px;
                    padding: 0 10px;
                    line-height: 28px;
                }
                /deep/ .el-table td{
                    padding: 4px 0;
                }
                .content-title{
                    width: 25%;
                    display: inline-block;
                    ul{
                        text-align: right;
                        li{
                            padding-right: 30px;
                            line-height: 40px;
                        }
                    }
                }
                .content-element{
                    width: 75%;
                    display: inline-block;
                    ul{
                        text-align: left;
                        li{
                            cursor:pointer;
                            padding-right: 30px;
                            line-height: 40px;
                        }
                    }
                }
            }
            .oddsTable{
                overflow: auto;
                .searchFirst{
                    width: 828px;
                    /*position: absolute;*/
                }
                table{
                    padding: 10px;
                    /*margin-top: 73px;*/
                    border-collapse: collapse;
                    thead{
                        tr{
                            td{
                                text-align: center;
                                span{
                                    width: 50px;
                                    height: 40px;
                                    line-height: 40px;
                                    display: block;
                                    box-sizing: border-box;
                                    border: 1px solid #cccccc;
                                    overflow:hidden;
                                    text-overflow:ellipsis;
                                    white-space:nowrap;
                                    background: #f3f3f3;

                                }
                                &:first-child span{
                                    width: 100px;
                                }
                            }

                        }
                    }
                    tbody{
                        tr{
                            td{
                                text-align: center;
                                span{
                                    width: 50px;
                                    height: 40px;
                                    line-height: 40px;
                                    display: block;
                                    box-sizing: border-box;
                                    border: 1px solid #cccccc;
                                    overflow:hidden;
                                    text-overflow:ellipsis;
                                    white-space:nowrap;

                                }
                                &:first-child span{
                                    width: 100px;
                                }
                            }

                        }
                    }
                }
            }
        }
    }
</style>