<template>
  <div>
    <head_nav></head_nav>
    <!-------------------------------------------------头部 start---------------------------------------------------------->
    <div class="member">
      <div class="container">
        <slide_left></slide_left>
        <div class="slide-right">
          <div class="user-title">彩票投注记录</div>
          <div class="user-main">
            <ul class="searchFirst">
              <li id="lotteryClassify">
                <span>彩种：</span>
                <el-select v-model="lotteryInquiry.code" filterable @change="getRecord('new')" placeholder="所有彩种">
                  <el-option v-for="item in lotteryList" :key="item.id" :label="item.name"
                             :value="item.code"></el-option>
                </el-select>
              </li>
              <li class="inquiry-button">
                <span>时间：</span>
                <a href="javascript:void(0)" :class="{active:timeIndex == 0}" @click="timeIndex = 0, getRecord('new')">今天</a>
                <a href="javascript:void(0)" :class="{active:timeIndex == 7}" @click="timeIndex = 7, getRecord('new')">七天</a>
                <a href="javascript:void(0)" :class="{active:timeIndex == 30}"
                   @click="timeIndex = 30, getRecord('new')">三十天</a>
              </li>
              <li class="inquiry-button">
                <span>类型：</span>
                <a href="javascript:void(0)" :class="{active:lotteryInquiry.status == ''}"
                   @click="lotteryInquiry.status = '', getRecord('new')">全部</a>
                <a href="javascript:void(0)" :class="{active:lotteryInquiry.status == 1}"
                   @click="lotteryInquiry.status = 1, getRecord('new')">待开奖</a>
                <a href="javascript:void(0)" :class="{active:lotteryInquiry.status == 2}"
                   @click="lotteryInquiry.status = 2, getRecord('new')">已中奖</a>
                <a href="javascript:void(0)" :class="{active:lotteryInquiry.status == 3}"
                   @click="lotteryInquiry.status = 3, getRecord('new')">未中奖</a>
                <a href="javascript:void(0)" :class="{active:lotteryInquiry.status == 4}"
                   @click="lotteryInquiry.status = 4, getRecord('new')">已撤单</a>
              </li>
            </ul>
            <div class="searchDetail">
              <table>
                <thead>
                <tr>
                  <th>彩种</th>
                  <th>期号</th>
                  <th>投注内容</th>
                  <th>投注金额</th>
                  <th>中奖金额</th>
                  <th>开奖号码</th>
                  <th>状态</th>
                  <th>投注时间</th>
                  <th>操作</th>
                </tr>
                </thead>
                <tbody v-show="lotteryData">
                <tr v-for="item in lotteryData" :key="item.id">
                  <td>{{ item.lotName }}</td>
                  <td>{{ item.qiHao }}</td>
                  <td>{{ item.haoMa }}</td>
                  <td>{{ item.buyMoney }}</td>
                  <td style="color: red">{{ item.winMoney }}</td>
                  <td>{{ item.lotteryHaoMa }}</td>
                  <td v-html="statusShow(item.status)"></td>
                  <td>{{ $root.common.getMyDate(item.createTime) }}</td>
                  <td><span @click="cancel(item.orderId)" class="chedan" v-if="item.cancelSwitch == 1">撤单</span></td>
                </tr>
                </tbody>
                <tbody v-show="lotteryData.length == 0">
                <tr>
                  <td colspan="100">暂无记录</td>
                </tr>
                </tbody>
              </table>
              <div class="block">
                <el-pagination
                    @prev-click="pageClick(lotteryInquiry.page - 1)"
                    @next-click="pageClick(lotteryInquiry.page + 1)"
                    @current-change="handleCurrentChange"
                    :current-page.sync="lotteryInquiry.page"
                    :page-size="lotteryInquiry.rows"
                    layout="prev, pager, next"
                    :total="total">
                </el-pagination>
              </div>
            </div>
            <div class="userTip"><p><i class="el-icon-warning"></i>温馨提示：投注记录最多可保存30天。</p></div>
          </div>
        </div>
      </div>
    </div>
    <!------------------------------------------------------底部 start------------------------------------------------------>
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import '@/assets/css/member.less'
import head_nav from '@/components/include/head_nav'
import foot_nav from '@/components/include/foot_nav'
import slide_left from '@/components/center/slideLeft'
import {http_ajax} from '@/assets/js/resource'

export default {
  name: "lotteryRecords",
  components: {
    head_nav, foot_nav, slide_left
  },
  data() {
    return {
      lotteryList: '',
      total: 1,
      lotteryInquiry: {
        code: '',
        status: '',
        rows: 10,
        page: 1,
      },
      timeIndex: 0,
      lotteryData: ''
    }
  },
  created: function () {
  },
  mounted: function () {
    this.getLotteryClassify()
    this.getRecord()
  },
  methods: {
    // 获取彩种分类
    getLotteryClassify: function () {
      http_ajax('get', 'native/getLotteryList.do', {}, true, '#lotteryClassify').then(res => {
        this.lotteryList = res.bcList
        let name = '所有彩种'
        this.lotteryList.unshift({
          name: name,
          id: '0',
          code: ''
        })
      })
    },
    handleCurrentChange: function (val) {
      this.pageClick(val)
    },
    // 查询投注记录
    getRecord: function (newPage) {
      if (newPage == 'new') this.lotteryInquiry.page = 1
      let time = this.$root.common.dataSearch(this.timeIndex)
      this.lotteryInquiry.startTime = time.startTime
      this.lotteryInquiry.endTime = time.endTime
      http_ajax('get', 'native/get_lottery_order.do', this.lotteryInquiry, true, '.searchDetail').then(res => {
        this.lotteryData = res.page.list
        this.total = res.page.totalCount
      })
    },
    pageClick: function (page) {
      this.lotteryInquiry.page = page
      this.getRecord()
    },
    // 撤单
    cancel: function (orderId) {
      this.$confirm('是否撤销所选注单', '撤单', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        http_ajax('post', 'native/cancelOrder.do', {
          orderId: orderId,
          lotCode: ''
        }, true, '.searchDetail').then(res => {
          if (res.success) {
            this.$toast('撤单成功')
            this.getRecord()
          } else {
            this.$toast(res.msg)
          }
        })
      }).catch(() => {
      });
    },
    // 彩票状态
    statusShow: function (status) {
      let html = ''
      switch (status) {
        case 1:
          html = '<span class="statusShow" style="background-color: #428bca;">未开奖</span>';
          break;
        case 2:
          html = '<span class="statusShow" style="background-color: #5cb85c;">已中奖</span>';
          break;
        case 3:
          html = '<span class="statusShow" style="background-color: #d9534f;">未中奖</span>';
          break;
        case 4:
          html = '<span class="statusShow" style="background-color: #5bc0de;">已撤单</span>';
          break;
        case 5:
          html = '<span class="statusShow" style="background-color: #f0ad4e;">回滚成功</span>';
          break;
        case 6:
          html = '<span class="statusShow" style="background-color: #f0ad4e;">回滚异常</span>';
          break;
        case 7:
          html = '<span class="statusShow" style="background-color: #f0ad4e;">开奖异常</span>';
          break;
        case 8:
          html = '<span class="statusShow" style="background-color: #f0ad4e;">和局</span>';
          break;
        case 9:
          html = '<span class="statusShow" style="background-color: #f0ad4e;">合买失效</span>';
          break;
      }
      return html
    }
  }
}
</script>

<style lang="less">
.statusShow {
  color: #fff;
  border-radius: 3px;
  padding: 3px 5px;
}
</style>
