<template>
    <div class="slide-left">
        <ul class="slide-session">
            <h3><i class="el-icon-user-solid"></i>账号管理</h3>
            <li><router-link to="/memberInfo">个人资料</router-link></li>
            <li><router-link to="/securityCenter">安全中心</router-link></li>
            <li><router-link to="/manageBankcard">银行卡管理</router-link></li>
        </ul>
        <ul class="slide-session">
            <h3><i class="el-icon-s-goods"></i>投注管理</h3>
            <li v-for="(item,index) in dataBesidesList" :key="index"><router-link :to="item.url">{{ item.title}}</router-link></li>
        </ul>
        <ul class="slide-session">
            <h3><i class="el-icon-s-help"></i>资金管理</h3>
            <li><router-link to="/rechargeIframe">充值</router-link></li>
            <li><router-link to="/drawMoney">提款</router-link></li>
            <li><router-link to="/change" v-if="caiPiaoState">额度转换</router-link></li>
            <li><router-link to="/integral" v-if="$store.state.exchange">积分兑换</router-link></li>
            <li><router-link to="/businessDetail">交易记录</router-link></li>
            <li><router-link to="/accountDetail">账户明细</router-link></li>
            <li v-if="yuEBao"><router-link to="/yuEBao">余额宝</router-link></li>
        </ul>
        <ul class="slide-session" v-if="this.$store.state.userInfo.accountType == 4 || this.$store.state.userInfo.accountType == 5">
            <h3><i class="el-icon-s-help"></i>代理中心</h3>
            <li><router-link to="/agentInfo">代理说明</router-link></li>
            <li><router-link to="/teamChange">团队账变</router-link></li>
            <li><router-link to="/memberSupervise">会员管理</router-link></li>
            <li><router-link to="/cathecticMinute">投注明细</router-link></li>
            <li><router-link to="/levelAccount">下级开户</router-link></li>
            <li><router-link to="/achievement">业绩提成</router-link></li>
        </ul>
        <ul class="slide-session">
            <h3><i class="el-icon-s-promotion"></i>消息管理</h3>
            <li><router-link to="/message">消息中心</router-link></li>
            <li><router-link to="/notice">最新公告</router-link></li>
        </ul>
    </div>
</template>

<script>
    import {http_ajax} from '@/assets/js/resource'
    import store from "../../store/store";
    export default {
        name: "slideLeft",
        data(){
            return{
                yuEBao:false,
                dataBesidesList:[],
                caiPiaoState:true,
                floder:this.$store.state.stationInfo.content && this.$store.state.stationInfo.content.station.floder || 'x002'

            }
        },
        mounted() {
            this.httpyuEBaoSwitch()
            this.switchCase()
            this.getExchangeConfig()
        },
        methods:{
            httpyuEBaoSwitch:function(){
                if(!this.$store.state.balanceGemSwitch){
                    http_ajax("get",'native/gem/getBalanceGemSwitch.do',{},true,'.user-main').then((res)=>{
                        if (res.success){
                            if (res.content.onFlag == 'on'){
                                this.yuEBao = true
                                store.commit('Balance')
                            }
                        }else {
                            this.$message.warning(res.msg)
                        }
                    })
                } else {
                    this.yuEBao = this.$store.state.balanceGemSwitch
                }

            },//余额宝开关
            switchCase:function(){
            let that = this,navList =JSON.parse(JSON.stringify(this.$store.state.navList));
              if (this.$store.state.navList.length == 1 && this.$store.state.navList[0].dataCode == 4 ){
                  this.caiPiaoState = false
              }
              for (let index =0;index<navList.length;index++){
                let item = navList[index]
                switch (item.dataCode) {
                  case 4:
                    item.title = '彩票投注记录'
                    item.url = '/lotteryRecords'
                    break
                  case 3:
                    item.title = '棋牌投注记录'
                    item.url = '/chessRecords'
                    break
                  case 5:
                    item.title = '体育投注记录'
                    item.url = '/sportRecords'
                    break
                  case 1:
                    item.title = '真人投注记录'
                    item.url = '/realRecords'
                    break
                  case 2:
                    item.title = '电子投注记录'
                    item.url = '/gameRecords'
                    break
                }
                that.dataBesidesList.push(item)
              }
          },
            getExchangeConfig:function(){
            http_ajax('get','native/exchangeConfig.do',{},true,).then((res)=>{
              if (res.success == true){
                if (res.content.configs != ''){
                  this.$store.commit('getExchangeDate',true)
                }else{
                  this.$store.commit('getExchangeDate',false)
                }
              }
            })
          },
        }
    }
</script>

<style scoped lang="less">
    .slide-left{
        width: 150px;
        min-height: 700px;
        float: left;
        border: 1px solid #ddd;
        box-sizing: border-box;
        padding: 20px 10px;
        background: #fbfbfb;
        .slide-session{
            list-style: none;
            margin: 0;
            padding-bottom: 5px;
            border-bottom: 1px dotted #ddd;
            h3{
                display: block;
                height: 32px;
                line-height: 32px;
                font-size: 14px;
                color: #253647;
                font-weight: 700;
                margin-top: 8px;
                text-align: center;
                position: relative;
                i{
                    position: absolute;
                    font-size: 16px;
                    top: 8px;
                    left: 15px;
                }
            }
            li{
                line-height: 28px;
                a{
                    padding-left: 36px;
                    line-height: 25px;
                    &:hover{
                        color: #e4393c !important;
                        text-decoration:underline;
                    }
                }
            }
        }
    }
</style>
