<template>
    <div>
        <head_nav></head_nav>
        <!-------------------------------------------------头部 start---------------------------------------------------------->
        <div class="member">
            <div class="container">
                <slide_left></slide_left>
                <div class="slide-right">
                    <div class="user-title">团队账变</div>
                    <div class="user-main">
                        <div class="main ">
                            <div class="main-title">
                                <el-row :gutter="15" type="flex" justify="center" align="middle">
                                    <el-col :span="4" >
                                        <el-select v-model="params.searchType" placeholder="选择代理关系" @change="getTeamStaticNew">
                                                <el-option v-for="item in grade" :key="item.value" :label="item.label" :value="item.value" ></el-option>
                                        </el-select>
                                    </el-col>
                                    <el-col :span="5">
                                        <el-input placeholder="代理查询" v-model="params.account"></el-input>
                                    </el-col>
                                    <el-col :span="4">
                                        <el-input placeholder="请输入内容" v-model="$store.state.userInfo.account" :disabled="true"></el-input>
                                    </el-col>
                                    <el-col :span="6">
                                        <el-date-picker
                                                v-model="startTime"
                                                type="date"
                                                placeholder="选择日期">
                                        </el-date-picker>
                                    </el-col>
                                    <el-col :span="2" ><el-button type="primary" @click="getTeamStaticNew">查询</el-button></el-col>
                                </el-row>
                                <el-row :gutter="15" type="flex" justify="center" align="middle">
                                    <el-col :span="4" >

                                    </el-col>
                                    <el-col :span="5">
                                    </el-col>
                                    <el-col :span="4">
                                    </el-col>
                                    <el-col :span="6">
                                        <el-date-picker
                                                v-model="endTime"
                                                type="date"
                                                placeholder="选择日期">
                                        </el-date-picker>
                                    </el-col>
                                    <el-col :span="2" ></el-col>
                                </el-row>
                            </div>
                            <div class="main-content">
                                <ul>
                                    <li v-for="(item,index) in teamDate" :key=" index">
                                        <p>{{item.switchKey || 0.00}}</p>
                                        <p>{{item.switchDesc || 0.00}}</p>
                                    </li>
                                    <h5>{{teamDate.formula || '团队盈亏=投注金额-中奖金额-(代理)返点金额-反水金额'}}</h5>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------------------------------------底部 start------------------------------------------------------>
        <foot_nav></foot_nav>
    </div>
</template>

<script>
    import '@/assets/css/member.less'
    import head_nav from '@/components/include/head_nav'
    import foot_nav from  '@/components/include/foot_nav'
    import slide_left from  '@/components/center/slideLeft'
    import {http_ajax} from '@/assets/js/resource'
    export default {
        name: "teamChange",
        components:{
            head_nav,foot_nav,slide_left
        },
        data(){
            return{
                grade:[
                    {value:1, label:"直属下级"},
                    {value:2, label:"所有下级"},
                ],
                params:{agent:this.$store.state.userInfo.account,begin:'',end:'',account:'',searchType:1},
                startTime:'',
                endTime:'',
                teamDate:[]
            }
        },
        created() {
            this.startTime= this.handleTime()
            this.endTime= this.handleTime()
            this.getTeamStaticNew()
        },
        mounted() {

        },
        methods:{
            getTeamStaticNew:function () {
                if ( new Date(this.params.begin).getTime() > new Date(this.endTime).getTime()){
                    let begin = this.startTime;
                    let end = this.endTime;
                    this.params.begin = this.handleTime(begin);
                    this.params.end = this.handleTime(end,"23:59:59");
                }else {
                    this.params.begin = this.handleTime()
                    this.params.end = this.handleTime(this.endTime,"23:59:59")
                }
                http_ajax("post",'native/teamStaticNew.do',this.params,true,'.main-content').then((res)=>{
                    if (res.success){
                         this.teamDate = res.content
                    }else {
                        this.$message.warning(res.msg)
                    }
                })
            },
            handleTime:function (time=new Date(),HMStime="00:00:00") {
                let times = '';
                if(time.length > 20){
                    times = new Date(`'${time}'`);
                }else{
                    times = new Date(time)
                }
                let Year = times.getFullYear();
                let Month = times.getMonth() < 10 ? "0"+(times.getMonth()+1) : (times.getMonth() + 1)
                let Dates = times.getDate() < 10 ? "0" + times.getDate() : times.getDate()
                return Year +"-"+Month+"-"+Dates+" "+HMStime
            }
        }
    }
</script>

<style lang="less" scoped>
    .main{
        width: 100%;
        .main-title{
            margin-top: 20px;
            margin-left: -29px;
        }
        .main-content{
            width: 100%;
            box-sizing: border-box;
            padding: 20px;
            ul{
                width: 100%;
                zoom: 1;
                text-align: center;
                &:after,:before{
                    content: "";
                    display: block;
                    visibility: hidden;
                    clear: both;
                    height: 0;
                }

                li{
                    float: left;
                    box-sizing: border-box;
                    width: 17%;
                    text-align: center;
                    margin: 8px 11px;
                    padding: 15px 0px;
                    background: #fbfbfb;
                    p{
                        height: 25px;
                        line-height: 25px;
                        text-align: center;
                        font-weight: 600;
                        border-radius: 5px 15px 10px 5px;
                        overflo:hidden;
                        text-overflow:ellipsis ;
                        white-space:nowrap ;
                        &:last-child{
                            font-weight: bold;
                            font-size: 13px;
                            color: #ff8c00;
                        }
                    }
                }
                h5{
                    color: red;
                }
            }
        }
    }
    .member .container .slide-right .user-main .el-button{
        background: #409eff !important;
        margin-left: 15px;
    }
</style>
