<template>
    <div class="dep-cont" id="recommend-info">
        <div class="list">
            <div class="item">
                <div class="l">我的二维码：</div>
                <div class="r">
                    <div class="qr">
                        <a v-if="urlBase64" :href="urlBase64" download="qrCode.jpg">
                            <img :src="urlBase64" title="点击可下载二维码图片">
                        </a>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="l">电脑链接：</div>
                <div class="r">
                    <p>{{recommendPcUrl}}</p>
                </div>
                <span class="a-btn" @click.prevent="$helper.copyHandle(recommendPcUrl,null)">复制</span>
            </div>
            <div class="item">
                <div class="l">推荐码：</div>
                <div class="r">
                    <p>{{USERINFO.userID}}</p>
                </div>
                <span class="a-btn" @click.prevent="$helper.copyHandle(USERINFO.userID,null)">复制</span>
            </div>
            <p class="msg"><i class="iconfont icon-laba"></i> 友情提醒：好友可通过任意一种方式完成注册</p>
            <div style="margin-top:3rem;">
                <button class="shadow btn-xl">查看活动奖励</button>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    created(){
        if(this.recommendPcUrl){
            /* 获取二维码图片 */
            this.$http.post('api/BaseInfo/GetQRCode',{
                url:this.recommendPcUrl,
                pixel:200,
            }).then(response => {
                const {resultCode,resultData} = response.data
                /* 请求成功 */
                if(resultCode == 1){
                    const {image = ''} = resultData
                    this.urlBase64 = 'data:image/jpeg;base64,' + image
                }
            })
        }
    },
    data(){
        return {
            urlBase64:'',
        }
    },
    computed:{
        USERINFO:function(){
            return this.$store.state.USERINFO
        },
        /* 我的推荐链接（pc） */
        recommendPcUrl:function(){
            let result = ''
            if(this.USERINFO){
                result = `${window.location.origin}/#/recommend/${this.USERINFO.userID}`
            }
            return result
        }
    },
}
</script>
<style lang="scss" scoped>
#recommend-info{
    >.list{
        >.item{
            >.r{
                width: 350px;
               >p,>button{
                   display: inline-block;
               }
               >.qr{
                   width: 200px;
                   height: 200px;
                   background-color: #40474f;
                   img{
                       width: 100%;
                   }
               }
            }
        }
    }
}
</style>