<template>
  <div class="footer">
    <van-row>
      <van-col span="4">
        <router-link to="/" :class="{active:$route.path == '/'}">
            <van-icon name="wap-home-o" size="2.2rem"/>
            <br>
            <span v-if="floder == 'x002191'">热门商家</span>
            <span v-else>{{$store.state.guessLabel}}大厅</span>
        </router-link>
      </van-col>
      <van-col span="4">
        <router-link to="/draw_notice" :class="{active:$route.path == '/draw_notice'}">
          <van-icon name="point-gift-o" size="2.2rem"/>
          <br>
          <span>{{$store.state.guessLabel}}公告</span>
        </router-link>
      </van-col>
      <van-col span="4" v-if="floder != 'd005103'">
        <router-link to="/interact" :class="{active:$route.path == '/interact'}">
          <van-icon name="friends-o" size="2.2rem"/>
          <br>
          <span>公益活动</span>
        </router-link>
      </van-col>
      <van-col span="4">
        <router-link  to="/personal" :class="{active:$route.path == '/personal'}">
          <van-icon name="manager-o" size="2.2rem"/>
          <br>
          <span>个人中心</span>
        </router-link>
      </van-col>
    </van-row>
  </div>
</template>

<script>
import '@/assets/css/include/footer.less'
export default {
name: "foot_nav",
  data(){
    return {
      floder:this.$store.state.stationInfo !='' ? this.$store.state.stationInfo.content.station.floder : 'x002',
    }
  },
  created() {

  },
  mounted() {
    if (this.floder){
      this.$root.common.addFavicon(this.floder)
    }
  },
  methods:{

  },
  watch:{
    '$store.state.stationInfo':function (newVal){
      this.floder = newVal.content.station.floder
    }
  }
}
</script>

<style scoped>

</style>
