<template>
  <header class="common_header">
    <div class="header">
      <a herf="javascript:void(0)" @click="back">
        <van-icon name="arrow-left" size="2rem"/>
        <span class="bark">返回</span>
      </a>
      <span class="title">{{ headerData.title }}</span>
      <span class="filter" @click="show.popupw =!show.popupw">筛选</span>
    </div>
    <div class="common_content">
      <van-popup v-model="show.popupw" position="top" :style="{ height:headerData.popupHeight,top:'4.6rem'}" >
        <van-cell-group>
          <van-field v-model="params.startTimeReveal" label="开始"  right-icon="notes-o" placeholder="开始时间" @click="show.startTimeW =  true" color="red"/>
          <van-field v-model="params.endTimeReveal" label="截止"  right-icon="notes-o" placeholder="结束时间" @click="show.endTimeW = true"/>
          <template v-if="headerData.filter == 'isCpOnOff'">
            <van-field readonly clickable name="picker" :value="params.codeReveal" :right-icon="show.letteryW? 'arrow-up' : 'arrow-down'" label="订单" placeholder="点击选择订单" @click="show.letteryW = true" />
            <van-field readonly clickable v-model="params.statusReveal" label="状态"  :right-icon="show.statusW ? 'arrow-up' : 'arrow-down'" placeholder="订单状态" @click="show.statusW = true"/>
          </template>
          <template v-else-if="headerData.filter == 'isLhcOnOff'">
            <van-field readonly clickable v-model="params.statusReveal" label="状态"  :right-icon="show.statusW ? 'arrow-up' : 'arrow-down'" placeholder="订单状态" @click="show.statusW = true"/>
            <van-field readonly clickable name="picker" :value="'六合彩'"  label="订单" placeholder="点击选择订单" />
          </template>
          <template v-else-if="headerData.filter == 'isChangeMoney'">
            <van-field readonly clickable v-model="params.typeReveal" label="账变类型"  :right-icon="show.statusW ? 'arrow-up' : 'arrow-down'" placeholder="全部" @click="show.statusW = true"/>
          </template>
          <template v-else-if="headerData.filter == 'accountDetails'">
            <van-field readonly clickable v-model="params.aTypeReveal" label="账变类型"  :right-icon="show.aType ? 'arrow-up' : 'arrow-down'" placeholder="记录类型" @click="show.aType = true"/>
            <van-field readonly clickable v-model="params.aTtypeReveal" label="交易类型"  :right-icon="show.aTtype ? 'arrow-up' : 'arrow-down'" placeholder="全部" @click="show.aTtype = true"/>
            <van-field readonly clickable v-model="params.aStatusReveal" label="处理状态"  :right-icon="show.aStatus ? 'arrow-up' : 'arrow-down'" placeholder="全部" @click="show.aStatus = true"/>
          </template>
          <template v-else-if="headerData.filter == 'isBackWater'">
            <van-field readonly clickable v-model="params.backWaterTypeReveal" label="状态"  :right-icon="show.statusW ? 'arrow-up' : 'arrow-down'" placeholder="订单状态" @click="show.backWaterType = true"/>
          </template>
          <template v-else-if="headerData.filter == 'isTurnlate'">
            <van-field readonly clickable v-model="params.awardRecordStatusReveal" label="状态"  :right-icon="show.awardRecordStatus ? 'arrow-up' : 'arrow-down'" placeholder="订单状态" @click="show.awardRecordStatus = true"/>
          </template>
          <template v-else-if="headerData.filter == 'isChessOnOff'">
            <van-field readonly clickable v-model="params.chessRecordReveal" label="平台类型"  :right-icon="show.chessRecord ? 'arrow-up' : 'arrow-down'" placeholder="所有记录" @click="show.chessRecord = true"/>
          </template>
          <template v-else-if="headerData.filter == 'isRealOnOff'">
            <van-field readonly clickable v-model="params.liveRecordReveal" label="平台类型"  :right-icon="show.liveRecord ? 'arrow-up' : 'arrow-down'" placeholder="所有记录" @click="show.liveRecord = true"/>
          </template>
          <template v-else-if="headerData.filter == 'isDzOnOff'">
            <van-field readonly clickable v-model="params.egameRecordReveal" label="平台类型"  :right-icon="show.egameRecord ? 'arrow-up' : 'arrow-down'" placeholder="所有记录" @click="show.egameRecord = true"/>
          </template>
          <template v-else-if="headerData.filter == 'isTlOnOff'">
            <van-field readonly clickable v-model="params.letteryThirdReveal" label="平台类型"  :right-icon="show.letteryThird ? 'arrow-up' : 'arrow-down'" placeholder="所有记录" @click="show.letteryThird = true"/>
          </template>
        </van-cell-group>
        <van-button color="#ec2829"  block :loading="false" class="filter-query" @click="query">查询</van-button>
      </van-popup>
      <div class="filter-content-time">
        <van-calendar v-model="show.startTimeW" @confirm="startTimerConfirm" :min-date="minData"/>
        <van-calendar v-model="show.endTimeW" @confirm="endTimeConfirm" />
      </div>
      <template v-if="headerData.filter == 'isCpOnOff'">
        <van-popup v-model="show.letteryW" position="bottom" >
          <van-picker show-toolbar :columns="columns.lottery.name" @confirm="letteryConfirm" @cancel="show.letteryW = false"/>
        </van-popup>
        <van-popup v-model="show.statusW" position="bottom" >
          <van-picker show-toolbar :columns="columns.status.name" @confirm="statusConfirm" @cancel="show.statusW = false"/>
        </van-popup>
      </template>
      <template v-else-if="headerData.filter == 'isLhcOnOff'">
        <van-popup v-model="show.statusW" position="bottom" >
          <van-picker show-toolbar :columns="columns.status.name" @confirm="statusConfirm" @cancel="show.statusW = false"/>
        </van-popup>
      </template>
      <template v-else-if="headerData.filter == 'isChangeMoney'">
        <van-popup v-model="show.statusW" position="bottom" >
          <van-picker show-toolbar :columns="columns.type.name" @confirm="isChangeMoneyStatus" @cancel="show.statusW = false"/>
        </van-popup>
      </template>
      <template v-else-if="headerData.filter == 'accountDetails'">
<!--        //账户类型-->
        <van-popup v-model="show.aType" position="bottom">
          <van-picker show-toolbar :columns="columns.aType.name" @confirm="isChangeAType" @cancel="show.aType = false"/>
        </van-popup>
<!--        交易类型-->
        <van-popup v-model="show.aTtype" position="bottom">
          <van-picker show-toolbar :columns="columns.aTtype.name" @confirm="isChangeaTtype" @cancel="show.aTtype = false"/>
        </van-popup>
<!--        处理状态-->
        <van-popup v-model="show.aStatus" position="bottom">
          <van-picker show-toolbar :columns="columns.aStatus.name" @confirm="isChangeaStatus" @cancel="show.aStatus = false"/>
        </van-popup>
      </template>
      <template v-else-if="headerData.filter == 'isBackWater'">
        <van-popup v-model="show.backWaterType" position="bottom">
          <van-picker show-toolbar :columns="columns.backWaterType.name" @confirm="isChangeaBackWaterType" @cancel="show.backWaterType = false"/>
        </van-popup>
      </template>
      <template v-else-if="headerData.filter == 'isTurnlate'">
        <van-popup v-model="show.awardRecordStatus" position="bottom">
          <van-picker show-toolbar :columns="columns.awardRecordStatus.name" @confirm="isChangeRecordStatus" @cancel="show.awardRecordStatus = false"/>
        </van-popup>
      </template>
      <template v-else-if="headerData.filter == 'isChessOnOff'">
        <van-popup v-model="show.chessRecord" position="bottom">
          <van-picker show-toolbar :columns="columns.chessRecord.name" @confirm="isChangeChessRecord" @cancel="show.chessRecord = false"/>
        </van-popup>
      </template>
      <template v-else-if="headerData.filter == 'isRealOnOff'">
        <van-popup v-model="show.liveRecord" position="bottom">
          <van-picker show-toolbar :columns="columns.liveRecord.name" @confirm="isChangeLiveRecord" @cancel="show.liveRecord = false"/>
        </van-popup>
      </template>
      <template v-else-if="headerData.filter == 'isDzOnOff'">
        <van-popup v-model="show.egameRecord" position="bottom">
          <van-picker show-toolbar :columns="columns.egameRecord.name" @confirm="isChangeEgameRecord" @cancel="show.egameRecord = false"/>
        </van-popup>
      </template>
      <template v-else-if="headerData.filter == 'isTlOnOff'">
        <van-popup v-model="show.letteryThird" position="bottom">
          <van-picker show-toolbar :columns="columns.letteryThird.name" @confirm="isChangeLetteryThird" @cancel="show.letteryThird = false"/>
        </van-popup>
      </template>
    </div>
  </header>
</template>

<script>
import '@/assets/css/include/header.less'
import {Dialog} from "vant";

export default {
  name: "personal_header",
  components:{
    // "van-dialog": Dialog.Component,
  },
  props:{
    headerData:{type:Object,default:()=>{return {title:'记录',filter:'isCpOnOff',popupHeight:'22.1rem'}}}
  },
  data(){
    return{
      show:{
        popupw:false,
        startTimeW:false,
        endTimeW:false,
        letteryW:false,
        statusW:false,
        type:false,
        aType:false,
        aTtype:false,
        aStatus:false,
        backWaterType:false,
        awardRecordStatus:false,
        chessRecord:false,
        liveRecord:false,
        egameRecord:false,
        letteryThird:false
      },
      columns:{
        status: {
          name:['全部','未开奖','已开奖','未中奖','撤单'],
          value:['',1,2,3,4]
        },
        lottery:{
          value:[''],
          name:['全部订单'],
        },
        type:{
          name:['全部','人工加款','人工扣款','在线取款失败','在线取款','在线支付','快速入款','一般入款','反水加钱','反水回滚','代理返点加钱','代理返点回滚','多级代理返点加钱','多级代理返点回滚','代理占成加钱','三方额度转入系统额度','系统额度转入三方额度','站内额度转入','站内额度转出','存款取消',
            '提款取消','晋级赠送','注册赠送','存款赠送','体育下单','体育派奖','体育撤单','体育派奖回滚','订单下单','订单派奖','订单撤单','订单派奖回滚','参与订单合买','订单合买满员','订单合买失效','订单合买撤单','订单合买派奖','订单合买截止','六合彩下单','六合彩派奖','六合彩派奖回滚',
            '六合彩撤单','活动中奖','现金兑换积分','积分兑换现金','三方转账失败','三方订单增加','三方订单减少','抢红包','发红包','红包金额返还','系统接口加款'],
          value:['',1,2,3,4,5,6,7,9,10,11,12,13,14,113,15,16,87,88,55,54,78,79,80,201,202,203,204,130,131,132,133,134,135,136,137,139,138,140,141,142,143,18,19,20,17,1130,1131,168,169,170,23]
        },
        aType:{
          name:['充值记录','取款记录'],
          value:[1,2],
        },
        aTtype:{
          name:['全部','在线存款','快速入款','一般存款'],
          value:['',5,6,7],
        },
        aStatus:{
          name:['全部','处理中','处理成功','处理失败'],
          value:['',1,2,3],
        },
        backWaterType:{
          name:['全部','未领取','已领取'],
          value:['',9,4]
        },
        awardRecordStatus:{
          name:['全部','未处理','已处理','处理失败'],
          value:['',1,2,3]
        },
        chessRecord:{
          name:['所有类型'],
          value:[0]
        },
        liveRecord:{
          name:['所有类型'],
          value:[0]
        },
        egameRecord:{
          name:['所有类型'],
          value:[0]
        },
        letteryThird:{
          name:['所有记录','AG','BBIN','MG','ALLBET','OG','DS','KY','BG','VR'],
          value:[0,1,2,3,5,7,8,12,98,97]
        }
      },
      params:{
        startTime:'',
        endTime:'',
        startTimeReveal:'',
        endTimeReveal:'',
        codeReveal:'全部订单',
        statusReveal:'全部状态',
        code:'',
        status:'',
        typeReveal:'全部',
        type:'',
        aTypeReveal:'充值记录',
        aTtypeReveal:'全部',
        aStatusReveal:'全部',
        aType:1,
        aTtype:'',
        aStatus:'',
        backWaterTypeReveal:'全部',
        backWaterType:'',
        awardRecordStatusReveal:'全部',
        awardRecordStatus:'',
        chessRecordReveal:'所有类型',
        chessRecord:0,
        liveRecordReveal:'所有类型',
        liveRecord:0,
        egameRecordReveal:'所有类型',
        egameRecord:0,
        letteryThirdReveal:'所有类型',
        letteryThird:0,
      },
      lotteryList:{},
      popupShow:false,
      date:'',
      minData:new Date(2017, 0, 1),
      value1:1,
      value:88888,
      showPicker:false,
      option: [
        { text: '全部商品', value: 0 },
        { text: '新款商品', value: 1 },
        { text: '活动商品', value: 2 },
      ],
      floder: this.$store.state.stationInfo.content.station.floder || 'x002',
    }
  },
  created() {
    if (this.headerData.filter == 'isCpOnOff'){
      this.getLotteryList()
    }
    if (this.headerData.filter == 'isChangeMoney'){
      this.getMnyrecordType()
    }

    if (this.headerData.filter == 'isChessOnOff'){
      this.getDatasBesidesLotterys(3)
    }else if (this.headerData.filter == 'isRealOnOff'){
      this.getDatasBesidesLotterys(1)
    }else if (this.headerData.filter == 'isDzOnOff'){
      this.getDatasBesidesLotterys(2)
    }
  },
  mounted() {
    //初始化时间
    let strTime = String(this.$root.common.Format())
    this.params.startTimeReveal = strTime.substring(0,4) + '/' +strTime.substring(4,6) + '/' + strTime.substring(6,8)
    this.params.startTime = strTime.substring(0,4) + '-' +strTime.substring(4,6) + '-' + strTime.substring(6,8) + ' '+'00:00:00'
    this.params.endTimeReveal = strTime.substring(0,4) + '/' +strTime.substring(4,6) + '/' + strTime.substring(6,8)
    this.params.endTime = strTime.substring(0,4) + '-' +strTime.substring(4,6) + '-' + strTime.substring(6,8) + ' '+'23:59:59'
    this.query()
  },
  methods:{
    //返回上一页
    back(){
      if (this.$route.query.lottery == 'lottery'){
        this.$router.go(-1)
      }else {
        this.$router.push('/personal')
      }
    },
    //选择订单
    letteryConfirm(data){
      this.show.letteryW = false
      this.params.codeReveal = data
      this.columns.lottery.name.some((item,index)=>{
        if (item == data){
          this.params.code = this.columns.lottery.value[index]
        }
      })
    },
    //选择订单状态
    statusConfirm(data){
      this.show.statusW = false
      this.params.statusReveal = data
      this.columns.status.name.some((item,index)=>{
        if (item == data){
          this.params.status = this.columns.status.value[index]
        }
      })
    },
    //选择开始时间
    startTimerConfirm(data){
      this.show.startTimeW = false
      let strTime = String(this.$root.common.Format(data))
      this.params.startTimeReveal = strTime.substring(0,4) + '/' +strTime.substring(4,6) + '/' + strTime.substring(6,8)
      this.params.startTime = strTime.substring(0,4) + '-' +strTime.substring(4,6) + '-' + strTime.substring(6,8) + ' '+'00:00:00'
    },
    //选择结束时间
    endTimeConfirm(data){
      this.show.endTimeW = false
      let strTime = String(this.$root.common.Format(data))
      this.params.endTimeReveal = strTime.substring(0,4) + '/' +strTime.substring(4,6) + '/' + strTime.substring(6,8)
      this.params.endTime = strTime.substring(0,4) + '-' +strTime.substring(4,6) + '-' + strTime.substring(6,8) + ' '+'23:59:59'
    },
    //账户明细的信息
    isChangeAType(data){
      this.show.aType = false
      this.params.aTypeReveal = data;
      this.columns.aType.name.some((item,index)=>{
        if (item == data){
          this.params.aType = this.columns.aType.value[index]
        }
      })
    },
    //反水记录状态
    isChangeaBackWaterType(data){
      this.show.backWaterType = false
      this.params.backWaterTypeReveal = data;
      this.columns.backWaterType.name.some((item,index)=>{
        if (item == data){
          this.params.backWaterType = this.columns.backWaterType.value[index]
        }
      })
    },
    //中奖记录
    isChangeRecordStatus(data){
      this.show.awardRecordStatus = false
      this.params.awardRecordStatusReveal = data;
      this.columns.awardRecordStatus.name.some((item,index)=>{
        if (item == data){
          this.params.awardRecordStatus = this.columns.awardRecordStatus.value[index]
        }
      })
    },
    //棋牌下单记录
    isChangeChessRecord(data){
      this.show.chessRecord = false
      this.params.chessRecordReveal = data
      this.columns.chessRecord.name.some((item,index)=>{
        if (item == data){
          this.params.chessRecord = this.columns.chessRecord.value[index]
        }
      })
    },
    //真人下单记录
    isChangeLiveRecord(data){
      this.show.liveRecord = false
      this.params.liveRecordReveal = data
      this.columns.liveRecord.name.some((item,index)=>{
        if (item == data){
          this.params.liveRecord = this.columns.liveRecord.value[index]
        }
      })
    },
    //电子下单记录
    isChangeEgameRecord(data){
      this.show.egameRecord = false
      this.params.egameRecordReveal = data
      this.columns.egameRecord.name.some((item,index)=>{
        if (item == data){
          this.params.egameRecord = this.columns.egameRecord.value[index]
        }
      })
    },
    //第三方订单
    isChangeLetteryThird(data){
      this.show.letteryThird = false
      this.params.letteryThirdReveal = data
      this.columns.letteryThird.name.some((item,index)=>{
        if (item == data){
          this.params.letteryThird = this.columns.letteryThird.value[index]
        }
      })
    },
    isChangeaTtype(data){
      this.show.aTtype = false
      this.params.aTtypeReveal = data;
      this.columns.aTtype.name.some((item,index)=>{
        if (item == data){
          this.params.aTtype = this.columns.aTtype.value[index]
        }
      })
    },
    isChangeaStatus(data){
      this.show.aStatus = false
      this.params.aStatusReveal = data;
      this.columns.aStatus.name.some((item,index)=>{
        if (item == data){
          this.params.aStatus = this.columns.aStatus.value[index]
        }
      })
    },
    //订单信息
    getLotteryList(){
      this.$post('native/getLotteryList.do',{},true).then(res=>{
        this.lotteryList = res
        if ('isLogin' in res && res.isLogin == false){
            Dialog.alert({
              title: '登陆提示',
              message: res.msg
            }).then(() => {
              this.$router.push({
                path: '/login',
              })
            });
          return
        }
        this.lotteryList.bcList.map(item=>{
          this.columns.lottery.name.push(item.name)
          this.columns.lottery.value.push(item.code)
        })
      })
    },
    //棋牌分类信息
    getDatasBesidesLotterys(code){
      this.$fetch('native/getDatasBesidesLotterys.do',{code:code},true).then(res=>{
        if (res.success){
          if (this.headerData.filter == 'isChessOnOff'){
            res.content.some((item)=>{
              this.columns.chessRecord.name.push(item.title)
              this.columns.chessRecord.value.push(item.platformId)
            })
            return
          }else if (this.headerData.filter == 'isRealOnOff'){
            res.content.some((item)=>{
              this.columns.liveRecord.name.push(item.title)
              this.columns.liveRecord.value.push(item.platformId)
            })
            return
          } else if (this.headerData.filter == 'isDzOnOff'){
            res.content.some((item)=>{
              this.columns.egameRecord.name.push(item.title)
              this.columns.egameRecord.value.push(item.platformId)
            })
            return

          }
        }
      })
    },
    //查询
    query(){
      if (this.headerData.filter == 'isLhcOnOff') {
        this.params.code = 'LHC'
      }
      this.$emit('get_lottery_order',this.params)
      this.show.popupw = false
    },
    //用户张变信息
    isChangeMoneyStatus(data){
      this.show.statusW = false
      this.params.typeReveal = data
      this.columns.type.name.some((item,index)=>{
        if (item == data){
          this.params.type = this.columns.type.value[index]

          return true
        }
      })
    },
    //获取张变类型
    getMnyrecordType(){
      this.$post('native/getMnyrecordType.do','',false).then(res=>{
        if (res){
          this.columns.type.value = ['']
          this.columns.type.name =['全部']
          for (let key in res){
            this.columns.type.value.push(key)
            this.columns.type.name.push(res[key])
          }
          console.log(this.columns.type)
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
