<template>
  <div class="address">
    <personal_header :titleDate="titleDate"></personal_header>
    <div class="address-wrap">
      <ul>
        <li class="address-list-item" @click="editAddress(address)">
          <div class="left">
            <p>{{address.area}} {{address.details}}</p>
            <p>
              <span>{{address.name}}</span>
              <span>{{address.phone}}</span>
            </p>
          </div>
          <div class="right">
            <van-icon name="edit" size="3rem" />
          </div>
        </li>
      </ul>
      <div class="submit" v-if="addStatus">
        <div class="button" >
          <router-link to="/addAddress"><span style="width: 80%;font-size: 15px">添加收货地址</span></router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import personal_header from "@/components/include/personal_header";
import '@/assets/css/center/address.less'
import {Toast} from "vant";
export default {
  name: "address",
  components:{personal_header},
  data(){
    return{
      titleDate:{title:'收货地址',rule:{text:'',url:''},backShow:false},
      address:'',
      addStatus:true,
    }
  },
  created() {
    this.getAddress()
  },
  mounted() {},
  methods:{
    editAddress(item){
      this.$router.push({path:'/editAddress',query:item})
    },
    getAddress:function (){
      let params = {
        token:this.$store.state.token,
      }
      this.$post('gs/get_address',params,true).then((res) => {
        if(res.code == 200){
          this.address = res.data
          if(this.address.area !=''){
            this.addStatus = false
          }
        } else {
          Toast(res.message)
        }
      })
    },
  },
}
</script>

<style scoped>

order
