<template>
  <div class="art">
    <personal_header :titleDate="titleDate"></personal_header>
    <div class="art-wrap" v-html="$route.query.item.content">

    </div>
  </div>
</template>

<script>
import personal_header from "@/components/include/personal_header";
export default {
  name: "art",
  components:{
    personal_header
  },
  data(){
    return{
      titleDate:{title:'详细信息',rule:{text:'',url:''},},
    }
  },
  created() {
    this.titleDate.title = this.$route.query.item.title
  },
  methods:{

  }
}
</script>

<style scoped>

</style>
