<template>
  <div class="cost">
    <personal_header :titleDate="titleDate"></personal_header>
    <div class="cost-wrap" v-if="costData.length >= 1">
      <ul>
        <li class="invest-list-item" v-for="(item, index) in costData" :key="index">
          <div class="item">
            <div class="item-left">
              <div class="icon-b"></div>
              <div class="text-info">
                <p>
                  <sub>提款到{{item.bank}}</sub>
                </p>
                <p>提现时间：{{item.time}}</p>
              </div>
            </div>
            <div class="item-right">
              <span>{{item.money}}</span>
              <div class="order" @click="tip" v-if="item.status == 2">
                查看订单驳回
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="list" v-else>
      <div style="padding: 20px;font-size: 15px;text-align: center;">暂无记录</div>
    </div>
  </div>
</template>

<script>
import personal_header from "@/components/include/personal_header";
import '@/assets/css/center/cost.less'
import {Dialog, Toast} from "vant";
export default {
  name: "cost",
  components:{personal_header},
  data(){
    return{
      titleDate:{title:'提现记录',rule:{text:'',url:''}},
      costData:'',
    }
  },
  created() {
    this.getCost()
  },
  mounted() {
  },
  methods:{
    tip(){
      Dialog.alert({
        title: '失败原因',
        message: '123456',
      }).then(() => {
        // on close
      });
    },
    getCost:function (){
      let params = {
        token:this.$store.state.token
      }
      this.$post('user/cash_record',params,true).then((res) => {
        if(res.code == 200){
          this.costData = res.data
        } else {
          Toast(res.message)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>
