@import "../include/base";
.index{
  min-height: 100vh;
  background-image: url(../../images/login-bg.36a8d8de.jpg);
  background-size: 100%;
  padding-bottom: 80px;
  .main{
    margin-top: 40px;
    .main_title{
      .title{
        color:#abacb9;
        margin-bottom: 22px;
        text-align: center;
      }
      .money{
        color:#2a2a2a;
        margin-bottom: 22px;
        text-align: center;
        span{
          font-size: 40px;
          margin-right: 10px;
        }
      }
    }
    .main-notice{
      width: 338px;
      height: 57px;
      margin: 0 auto;
      background: url(../../images/icon_15.ac3e2f9.ac3e2f9e.png);
      background-size: 100% 100%;
      padding-left: 60px;
      .flex();
    }
    .main_problem{
      width: 338px;
      height: 70px;
      margin: 10px auto 0 auto;
      background: url(../../images/icon_18.d6bdad9.d6bdad9b.png);
      background-size: 100% 100%;
      color: #ffffff;
      padding-left: 100px;
      span{
        display: inline-block;
        font-size: 14px;
        &:nth-child(1){
          margin-top: 15px;

        }
      }
    }
    .navbar{
      padding: 0 20px;
      display: flex;
      flex-wrap: wrap;
      .nav-item{
        width: 33.3%;
        height: 80px;
        text-align: center;
        font-size: 13px;
        margin-top: 20px;
        img{
          width: 60px;
          height: 60px;
        }
      }
    }
    .wallet{
      width: 338px;
      height: 85px;
      margin: 10px auto 0 auto;
      padding-left: 100px;
      span{
        display: inline-block;
        &:nth-child(1){
          font-size: 14px;
          margin-top: 20px;
        }
        &:nth-child(3){
          font-size: 12px;
          margin-top: 8px;
          b{
            font-size: 14px;
            color: #ef5079;
          }
        }
      }
    }
    .wallet1{
      background: url(../../images/icon_39.8e09b5a.8e09b5a4.png);
      background-size: 100% 100%;
    }
    .wallet2{
      background: url(../../images/icon_41.794ced2.794ced21.png);
      background-size: 100% 100%;
    }
    .main_join{
      width: 100%;
      height: 442px;
      margin: 20px auto 0 auto;
      background: url(../../images/bgbg_02.54c1fc0.54c1fc0b.png);
      background-size: 100% 100%;
      padding-top: 65px;
      text-align: center;
      .title{
        font-size: 14px;
        font-weight: 700;
      }
      .des{
        width: 245px;
        text-align: center;
        color: #f07a9a;
        margin: 10px auto 0 auto;
        font-size: 12px;
      }
      .img{
        height: 190px;
        margin-top: 10px;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .button{
        margin-top: 10px;
        button{
          width: 148px;
          height: 35px;
          border-radius: 50px;
          background: #e73b66;
          color: #ffffff;
          border:none;
        }
      }
    }
    .main_display{
      .title{
        font-size: 20px;
        font-weight: 700;
        padding-left: 30px;
      }
      .box{
        height: 184px;
        background: url(../../images/icon_46.3328697.33286971.png);
        background-size: 100% 100%;
        img{
          width: 100%;
        }
        .font{
          padding:96px 22px 0 19px;
          box-sizing: border-box;
          height: 184px;
          width: 100%;
          display: flex;
          justify-content: space-between;
          .item{
            width: 158px;
            height: 88px;
            overflow: hidden;
            text-align: center;
            display: inline-block;
            color: #ffffff;
            b{
              font-size: 16px;
            }
            span{
              font-size: 12px;
            }
          }
        }
      }
    }

    .main_about{
      width: 100%;
      height: 725px;
      margin: 20px auto 0 auto;
      background: url(../../images/bgbg_04.0954b65.png);
      background-size: 100% 100%;
      padding-top: 25px;
      text-align: center;
      .about{
        font-size: 12px;
        color: #ef5079;
        font-weight: 700;
      }
      .title{
        margin-top: 10px;
        font-size: 14px;
        font-weight: 700;
      }
      .des{
        width: 245px;
        text-align: center;
        margin: 10px auto 0 auto;
        font-size: 12px;
      }
      .img{
        height: 190px;
        margin-top: 10px;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .partners{
        font-weight: 700;
        font-size: 20px;
        margin-top: 180px;
      }
    }
  }
}