@import "../include/base";
.invest{
  min-height: 100vh;
  background-image: url(../../images/login-bg.36a8d8de.jpg);
  background-size: 100%;
  padding-bottom: 80px;
  .main{
    padding: 0 15px;
    .nav{
      //width: 345px;
      height: 40px;
      border-bottom: 2px solid #abdbc2;
      margin: 0 auto;
      display: flex;
      div{
        width: 100%;
        background: #ffffff;
        text-align: center;
        line-height: 40px;
        font-size: 12px;
      }
      .active{
        background: #eb74a8;
        color: #ffffff;
      }
    }
    .product-list{
      display: flex;
      flex-wrap:wrap;
      margin-top: 10px;
      .col{
        width: 46%;
        background: linear-gradient(#e9b5cc,#eb74a8);
        margin-bottom:12px;
        padding: 10px;
        border-radius: 5px;
        margin-left: 2%;
        font-size: 14px;
        img{
          width: 100%;
          height: 94px;
        }
        .tip{
          margin-top: 10px;
          color: #ffffff;
        }
        .des{
          margin-top: 10px;
          font-size: 12px;
        }
      }
    }
  }
}