@import "../include/base";
.personal{
  min-height: 100vh;
  background-image: url(../../images/minebg.94d2a2a.94d2a2a8.jpg);
  background-size: 100%;
  padding-bottom: 50px;
  background-repeat: no-repeat;
  .main{
    padding-top: 40px;
    .user-phone{
      position: absolute;
      left: 15px;
      top: 15px;
      font-weight: 700;
      font-size: 18px;
    }
    .main_title{
      .title{
        color:#abacb9;
        margin-bottom: 22px;
        text-align: center;
      }
      .money{
        color:#2a2a2a;
        margin-bottom: 22px;
        text-align: center;
        span{
          font-size: 40px;
          margin-right: 10px;
        }
      }
    }
    .link_icon{
      padding: 0 16px 0 18px;
      display: flex;
      justify-content: space-between;
      margin-top: 32px;
      .left, .right{
        width: 162px;
        height: 61px;
        display: flex;
        align-items: center;
        font-size: 15px;
        color: #ffffff;
        font-weight: 700;
        padding-left: 65px;
      }
      .left{
        background-image: url(../../images/deposit.a81e70ba.png);
        background-size: 100% 100%;
      }
      .right{
        background-image: url(../../images/withdrawal.aa608514.png);
        background-size: 100% 100%;
      }
    }
    .main_quantity{
      padding: 40px 40px 0 43px;
      height: 140px;
      background-image: url(../../images/pagebgs_02.61737d2.61737d2d.png);
      background-size: 100% 100%;
      .title{
        align-items: flex-end;
        font-size: 13px;
        color: #191919;
        font-weight: 700;
        span{
          color: #ff3c78;
          font-size: 17px;
          margin-left: 7px;
        }
      }
      .des{
        font-size: 12px;
        color: #191919;
        line-height: 19px;
        margin-top: 10px;
      }
    }
    .service_list{
      padding: 45px 0;
      .title{
        font-size:21px;
        color: #191919;
        font-weight: 700;
        margin-left: 25px;
        margin-bottom: 10px;
      }
      .list{
        margin-top: 7px;
        .item{
          display: flex;
          align-items: center;
          padding-left: 32px;
          height: 80px;
          background-image:  url(../../images/mine-item.a16d491b.png);
          background-size: 100% 100%;
          font-size: 15px;
          font-weight: 700;
          color: #5a5253;
          img{
            width: 45px;
            height: 45px;
          }
          span{
            margin-left: 10px;
          }
        }
      }
    }
  }
}