@import "../include/base";
.share{
  min-height: 100vh;
  background-image: url(../../images/sharebg.4652715.4652715f.jpg);
  background-size: 100%;
  .main{
    padding-top: 95px;
    .title{
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 20px;
      text-align: center;
    }
    .tip{
      font-size: 14px;
      margin-bottom: 20px;
      text-align: center;
    }
    .qrcode{
      margin-top: 68px;
      text-align: center;
      img{
        width: 107px;
        height: 107px;
      }
    }
    .copy{
      width: 340px;
      height: 44px;
      display: flex;
      justify-content: space-between;
      background: rgba(247,249,253,.9);
      margin: 100px auto 0 auto;
      padding: 0 5px 0 21px;
      .left{
        width: 215px;
        font-size: 10px;
        .flex();
        word-break: break-all;
      }
      .right{
        width: 89px;
        height: 37px;
        button{
          width: 89px;
          height: 39px;
          border: none;
          background: linear-gradient(90deg,#fe8bb8,#eb4068);
          border-radius: 50px;
          color: #ffffff;
          font-size: 12px;
        }
      }
    }
    .wallet{
      width: 338px;
      height: 85px;
      margin: 10px auto 0 auto;
      padding-left: 100px;
      background: url(../../images/shareicon_07.114db29.114db291.png);
      background-size: 100% 100%;
      span{
        display: inline-block;
        &:nth-child(1){
          font-size: 16px;
          margin-top: 20px;
        }
        &:nth-child(3){
          font-size: 12px;
          margin-top: 8px;
          color: #ef5079;
        }
      }
    }
  }
}