@import "../include/base";
.tradin{
  min-height: 100vh;
  background-image: url(../../images/tradebg.c231143.c2311433.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  .main{
    margin-top: 25px;
    padding: 0 31px 0 29px;
    .title{
      font-size: 30px;
      font-weight: 700;
      margin-bottom: 20px;
      text-align: center;
    }
    .tip{
      font-size: 14px;
      margin-bottom: 20px;
      text-align: center;
    }
    .main_work{
      margin-top: 216px;
      height: 61px;
      .business-title{
        display: flex;
        justify-content: space-between;
        .right{
          background-image: url(../../images/button_icon_862b77c9nm.jpg);
          background-size: 100% 100%;
          width: 61px;
          height: 61px;
          color: #ff3c78;
          font-size: 12px;
          line-height: 61px;
          text-align: center;
        }
      }
      .business-list{
        .row{
          width: 315px;
          min-height: 96px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-bottom: 0.5px solid #f2e5ea;
          .left{
            display: inline-block;
            img{
              width: 46px;
              height: 46px;
            }
          }
          .center{
            width: 200px;
            display: inline-block;
            margin-left: 15px;
            .top{
              font-size: 12px;
              font-weight: 700;
              span{
                font-size: 18px;
                color: #ff3c78;
              }
            }
            .bottom{
              font-size: 9px;
              color: #8b8b8b;
            }
          }
          .right{
            button{
              width: 57px;
              height: 24px;
              border: none;
              border-radius: 50px;
              background: linear-gradient(90deg,#fe8bb7,#eb4068);
              font-size: 9px;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
}