<template>
  <div class="index">
    <div class="content">
      <div class="box" v-for="(item, index) in list" :key="index">
        <div class="img-box">
         <img :src="item.img" alt="" @click="$router.push({path:'/rule',query:{id:item.id}})">
        </div>
        <div class="font-box">
          <p style="font-weight: 600;font-size:15px;">{{item.label}}</p>
          <p style="color: #6f6d70;font-size:13px;">{{item.font}}</p>
        </div>
      </div>
    </div>
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import '@/assets/css/tabs/index.less'
import foot_nav from '@/components/include/foot_nav'
export default {
  name: 'index',
  components:{
    foot_nav
  },
  data(){
    return{
      list:[
        {img:require('@/assets/images/nvren7.jpg'),id:1,label:'开合跳',font:'1分钟 • 简单'},
        {img:require('@/assets/images/nvren4.jpg'),id:2,label:'深蹲',font:'1分钟 • 困难'},
        {img:require('@/assets/images/nvren2.jpg'),id:3,label:'平板支撑',font:'1分钟 • 简单|全身活动'},
        {img:require('@/assets/images/nvren5.jpg'),id:4,label:'深蹲跳',font:'30秒 • 困难'},
        {img:require('@/assets/images/nvren1.jpg'),id:5,label:'卷腹',font:'1分钟 • 简单'},
        {img:require('@/assets/images/nvren3.jpg'),id:6,label:'高抬腿击掌',font:'1分钟 • 简单'},
        {img:require('@/assets/images/nvren6.jpg'),id:7,label:'波比',font:'1分钟 • 简单'},
      ]
    }
  },
  created:function(){

  },
  mounted:function(){

  },
  methods:{

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
.index{
  .content{
    .box{
      width: 50%;
      display: inline-block;
      padding: 0 10px;
      margin-top: 20px;
      .img-box{
        width: 175px;
        height: 125px;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .font-box{
        margin-top: 3px;

        p{
          margin-top: 3px;
        }
      }
    }
  }
}
</style>
