<template>
	<div class="specialD">
		<div class="main">
			<header>
				<img src="https://imgs.yzdjres.com/51bc32e76a224a36b97913b8308ffc90.jpeg">
				<div class="bg"></div> 
				<div class="info">
					<p>2020赛季 英雄联盟转会专题</p> 
					<div class="bop">
						<div class="sptags">
							<span class="tag">英雄联盟转会</span>
						</div> 
						<div class="time">
							<span><i class="iconfont bz-biaoqian">&#xe629;</i>27</span>
						</div>
					</div>
				</div>
			</header>
			<div class="mbg1">
				<div class="item">
					<a class="bd">
						<div class="detail">
							<div class="name">Jiizuke：为了忠诚加入了VIT 没有想过今年会离开队伍</div> 
							<div class="time">
								<span><i class="iconfont bz-liulan">&#xe68b;</i>14</span> 
								<span><i class="iconfont bz-shijian">&#xe64d;</i>1天前</span>
							</div>
						</div> 
						<div class="imgbox">
							<div class="ibg"></div> 
							<img src="https://imgs.yzdjres.com/461958ffbf6a4923a448e8242adde9eb.png">
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
export default{
	name:'specialD',
	data(){
		return{
			allList:[],
			pageI:1
		}
	},
	mounted(){
		this.getAllList(this.pageI,this.sid)
	},
	methods:{
		getAllList(pageIndex,sid){
			this.axios.post(this.http + '/api/News/GetNewsContentList',{
				itid:'7b261dc2-1cdd-49f0-b477-00280c873a1c',//专题itid
				nSid:JSON.parse(localStorage.getItem("sid")),//资讯种类id
				sid:this.$route.params.id,
				pageIndex:pageIndex,
				pageSize:9
			}).then(response=>{
				let data = response.data;
				if(data.resultCode == 1){
					console.log(data)
				}
			})
		}
	}
}
</script>
<style scoped lang="stylus">
@import '~@/assets/css/iconfont/iconfont'
@import '~@/assets/css/variable'
.specialD
	position:fixed
	top:45px
	right:0
	bottom:0
	left:0
	.main
		width: 100%
		height: 100%
		margin: 0 auto
		display: flex
		flex-direction: column
		header
			height: 200px
			box-shadow: none
			position: relative
			img
				width: 100%
				height: 200px
				vertical-align: middle
				object-fit: cover
			.bg
				position: absolute
				top: 0
				left: 0
				height: 100%
				width: 100%
				background: rgba(0,0,0,.5)
			.info
				color: #fff
				position: absolute
				width: 100%
				bottom: 0
				left: 0
				height: 100%
				display: flex
				flex-direction: column
				justify-content: flex-end
				p
					font-size: 13px
					padding: 5px 15px
				.bop
					display: flex
					justify-content: space-between
					.sptags
						margin-top: 5px
						margin-left: 10px
						span
							font-style: normal;
							display: inline-block
							background-color: #53545a
							font-size: 10px
							min-width: 18px
							border-radius: 10px
							padding: 0 4.5px
							position: relative
							top: -1px
							text-align: center
							height: 15px
							line-height: 15px
							color: #fff
							font-weight: lighter
							margin-right: 4px
					.time
						height: 30px
						line-height: 30px
						text-align: right
						padding-right: 15px
						span
							display: inline-block
							margin-left: 20px
							i
								margin-right: 3px
								position: relative
								top: 1px
								font-size: 1.4rem
		.mbg1
			width: 100%
			height: 100%
			flex: 1
			overflow-y: auto
			margin-bottom: -1px
			position: relative
			background: linear-gradient(0deg,#202630 0,#2b3a4a 50%,#202630)
			.item
				position: relative
				&:before
					content: " "
					position: absolute
					top: 0
					right: 0
					height: 1px
					border-top: 1px solid #222
					transform-origin: 0 0
					transform: scaleY(.5)
					left: 0
				.bd
					display: flex
					justify-content: space-between
					padding: 10px
					position: relative
					color: #b5c1cd
					.detail
						display: flex
						flex-direction: column
						justify-content: space-around
						width: 60%
						padding-right: 10px
						margin-top: .3em
						.name
							font-size: 1.4rem
							font-weight: lighter
							color: #fff
						.time
							font-size: 1.2rem
							color: #b5c1cd
							i
								margin-right: 3px
								position: relative
								top: 1px
								font-size: 1.4rem
							span:first-child
								display: inline-block
								width: 80px
					.imgbox
						width: 40%
						height: 85px
						position: relative
						border-radius: 4px
						overflow: hidden
						.ibg
							position: absolute
							top: 0
							left: 0
							width: 100%
							height: 100%
						img
							width: 100%
							height: 85px
							vertical-align: middle
							object-fit: cover
</style>