@import "include/base";
.auditInfo {
  header {
    width: 100%;
    float: left;
    height: 4.6rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    a {
      position: absolute;
      left: 1rem;

      img {
        width: 24px;
      }
    }

    div {
      color: #ffffff;
      font-size: 1.8rem;
    }
  }
  .content {
    width: 100%;
    float: left;
    position: relative;
    .task-details{
      position: absolute;
      right: 1rem;
      top: 1rem;
      width: 10.5rem;
      height: 9rem;
    }
    .details {
      width: 100%;
      float: left;
      height: auto;
      background: #151d31;
      .info{
        float: left;
        width: 100%;
        color: #ffffff;
        margin: .6rem 0;
        padding-left: 2rem;
        box-sizing: border-box;
        font-size: 1.4rem;
        font-weight: 600;
        span{
          color: #4087f1;
        }
        b{
          color: #999;
        }
        img{
          width: 5rem;
          height: 10rem;
          margin-left: 1rem;
        }
      }
    }
    .standard {
      width: 100%;
      height: 15.8rem;
      float: left;
      margin-top: 1rem;
      background: #151d31;
      position: relative;
      .tip-date{
        position: absolute;
        color: rgb(153, 153, 153);
        right: 1rem;
        width: 15rem;
        top: 3.5rem;
      }
      .header {
        width: 100%;
        float: left;
        height: 7rem;

        .img, .font {
          height: 100%;
          float: left;
        }

        .img {
          width: 20%;
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 4rem;
            height: 4rem;
            border-radius: 50px;
          }
        }

        .font {
          padding: 1.5rem 1rem;
          box-sizing: border-box;
          color: #ffffff;
          p {
            font-size: 1.5rem;
          }
        }
      }

      .attestation {
        width: 100%;
        float: left;
        height: 6.1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid rgb(45, 52, 70);

        span {
          color: #ffffff;
          font-size: 1.6rem;
          font-weight: 600;
        }

        button {
          width: 6rem;
          height: 2.6rem;
          padding: 0;
          margin-left: .5rem;
          background: none;
          color: #bbb;

          .van-button__text {
            font-size: 1.2rem;
          }
        }

        .active {
          background: #4087f1;
          color: #ffffff;
          border-color: #4087f1;
        }
      }

      .link-info {
        width: 100%;
        float: left;
        height: 8.7rem;
        .left {
          width: 80%;
          display: flex;
          justify-content: center;
          align-items: center;
          float: left;
          height: 100%;
          input {
            background-color: #f5f5f5;
            border: none;
            border-radius: 10px;
            color: #888;
            width: 28.5rem;
            height: 4.6rem;
            text-align: center;
          }
        }
        .right {
          width: 20%;
          float: left;
          height: 100%;
          text-align: center;
          padding-top: 1rem;
          box-sizing: border-box;
          p{
            margin-top: .5rem;
            button{
              background: #1989fa;
              width: 4.8rem;
              height: 2.4rem;
              color: #ffffff;
              font-size: 1.2rem;
              border-radius: 3px;
              border:1px solid #1989fa;
            }
          }
        }
      }
    }
    .tabs{
      float: left;
      width: 100%;
      .van-tabs__nav{
        background: rgb(21, 29, 49);
        .van-tab--active{
          span{
            color: rgb(64, 135, 241);
          }
        }
        span{
          color: #ffffff;
        }
        .van-tabs__line{
          background: rgb(64, 135, 241);
        }
      }
      .van-tabs__content{
        width: 100%;
        height: 100%;
        float: left;
        .no-data{
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 15rem;
        }
      }
      .list{
        width: 100%;
        float: left;
        .title{
          width: 100%;
          height: 4rem;
          line-height: 4rem;
          float: left;
          padding-left: 2rem;
          box-sizing: border-box;
          color: #ffffff;
          font-size: 1.5rem;
        }
        .img{
          width: 100%;
          padding: 2rem;
          float: left;
          box-sizing: border-box;
          img{
            width: 100%;
            height: 100%;
            border-radius: 10px;
          }
        }
      }
    }
  }
}