@import "include/base";
.balance{
  padding: 0 10px;
  box-sizing: border-box;
  header{
    width: 100%;
    float: left;
    height: 4.6rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    a {
      position: absolute;
      left: 1rem;

      img {
        width: 24px;
      }
    }
    div {
      color: #ffffff;
      font-size: 1.8rem;
    }
  }
  .money-data{
    width: 100%;
    float: left;
    height: 100px;
    border:1px solid #eeeeee;
    margin-top: 3rem;
    .top, .bottom{
      width: 100%;
      float: left;
      height: 50%;
      div{
        width: 25%;
        text-align: center;
        float: left;
        line-height: 50px;
        color: #ffffff;
        font-size: 1.4rem;
      }
    }
    .top{
      border-bottom: 1px solid #eeeeee;
    }
  }
  .line{
    width: 100%;
    float: left;
    height: 45px;
    background: #ffffff;
    border-radius: 8px;
    margin-top: 3rem;
    .title, .money{
      float: left;
      font-size: 1.4rem;
      text-align: center;
      line-height: 40px;
    }
    .title{
      width: 40%;
    }
    .money{
      width: 60%;
      color: #4087f1;
      font-size: 1.8rem;
    }
  }
  .product-list{
    width: 100%;
    float: left;
    margin-top: 3rem;
    .list{
      width: 33%;
      float: left;
      padding: 0 8px;
      box-sizing: border-box;
      margin-top: 1rem;
      .card{
        width: 100%;
        height: 100%;
        background: #151d31;
        border:2px solid #151d31;
        color: #ffffff;
        text-align: center;
        min-height: 100px;
        font-size: 1.6rem;
        line-height: 1.8rem;
        .flex();
      }
      .active{
        border:2px solid #eb651c !important;
      }
    }
  }
  .button{
    width: 100%;
    float: left;
    margin-top: 1rem;
    text-align: center;
    button{
      width: 80px;
      height: 35px;
      border-radius: 8px;
      border:none;
      background: #1989fa;
      color: #ffffff;
      margin-right: 1rem;
    }
  }
  .detail-list{
    width: 100%;
    float: left;
    .list{
      width: 100%;
      float: left;
      margin-top: 3rem;
      .title, .money, .date{
        width: 100%;
        height: 4rem;
      }
      .title{
        background: #151d31;
      }
      .left, .center, .right{
        height: 100%;
        float: left;
        color: #ffffff;
        text-align: center;
        line-height: 40px;
      }
      .left{
        width: 30%;
      }
      .center{
        width: 40%;
      }
      .right{
        width: 30%;
        button{
          width: 80px;
          height: 35px;
          background: #1989fa;
          color: #ffffff;
          border:none;
          border-radius: 3px;
        }
      }
    }
  }
}
