@import "include/base";
.bankCard{
  header{
    width: 100%;
    float: left;
    height: 4.6rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .go-out{
      position: absolute;
      left: 1rem;
      img{
        width: 24px;
      }
    }
    div{
      color: #ffffff;
      font-size: 1.8rem;
    }
  }
  .tips{
    text-align: center;
    margin: 2rem auto;
    color: #969799;
    padding: 0 2rem 0 1rem;
    float: left;
    width: 100%;
    box-sizing: border-box;
  }
  .input{
    width: 100%;
    float: left;
    .van-cell{
      background-color:#151d31;
      .van-hairline--top-bottom::after, .van-hairline-unset--top-bottom::after{
        border: none;
      }
    }
    input{
      color: #999!important;
    }
    span{
      color: #bbb!important;
    }
  }
  .select{
    width: 100%;
    float: left;
    background-color:#151d31;
    .title, .input{
      float: left;
      height: 100%;
      line-height: 4.2rem;
      text-align: center;
      color: #bbb!important;
      font-size: 1.4rem;
    }
    .title{
      width: 25%;
    }
    .input{
      width: 75%;
      position: relative;
      .van-field{
        background: none;
        padding: 10px 0;
        .van-field__control{
          color: #bbb!important;
        }
      }
      .van-cell::after{
        border: none;
      }
      label{
        position: absolute;
        right: 1rem;
        top: .2rem;
        color: #969799;
      }
      button{
        width: 6rem;
        height: 2.6rem;
        padding: 0;
        margin-left: .5rem;
        background: none;
        color: #bbb;
        .van-button__text{
          font-size: 1.2rem;
        }
      }
      .active{
        background: #dd6161;
        color: #ffffff;
        border-color: #dd6161;
      }
    }
    .van-dropdown-menu{
      height: 100%;
      .van-dropdown-menu__bar{
        background: none;
        box-shadow: unset;
        .van-dropdown-menu__title{
          width: 100%;
          text-align: left;
          padding:0;
          &::after{
            right: 1rem;
            color: #bbb!important;
          }
        }
        .van-ellipsis{
          color: #bbb!important;
        }
      }
    }
    .van-dropdown-item__option{
      background: #151d31;
      color: #bbb!important;
    }
  }
  .button{
    text-align: center;
    float: left;
    width: 100%;
    button{
      width: 34.3rem;
      color: #ffffff;
      margin-top: 1rem;
      border:none;
      background: linear-gradient(90deg,#4b34c3,#3d3ff7);
    }
  }
  .bank-list{
    float: left;
    width: 100%;
    .list{
      width: 100%;
      float: left;
      height: 5.6rem;
      background: #151d31;
      margin-top: .5rem;
      .left, .right{
        height: 100%;
        float: left;
      }
      .left{
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        i{
          color: #4087f1;
          font-size: 5rem;
        }
      }
      .right{
        width: 80%;
        padding-top: 1rem;
        box-sizing: border-box;
        span{
          color: #bbb;
          line-height: 1.8rem;
        }
      }
    }
  }
}