@import "include/base";
.credit{
  header{
    width: 100%;
    float: left;
    height: 4.6rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .go-out{
      position: absolute;
      left: 1rem;
      img{
        width: 24px;
      }
    }
    div{
      color: #ffffff;
      font-size: 1.8rem;
    }
  }
  .content{
    float: left;
    width: 100%;
  }
  .info{
    p{
      color: #ffffff;
      margin: .5rem 0;
      font-size: 1.3rem;
    }
  }
}