@import "include/base";
.dayReport{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  header{
    width: 100%;
    float: left;
    height: 4.6rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .go-out{
      position: absolute;
      left: 1rem;
      img{
        width: 24px;
      }
    }
    div{
      color: #ffffff;
      font-size: 1.8rem;
    }
  }
  .title{
    width: 100%;
    float: left;
    .van-cell{
      background: #151d31;
    }
    i,span{
      color: #4087f1;
    }
    .van-cell__value{
      span{
        color:#969799;
      }
    }
  }
  .earnings{
    width: 100%;
    height: 15.3rem;
    float: left;
    background: #151d31;
    .module{
      width: 50%;
      float: left;
      height: 7.6rem;
      p{
        text-align: center;
        margin-top: 1rem;
        &:nth-child(1){
          color: #bbb;
          font-size: 1.4rem;
        }
        &:nth-child(2){
          color: #4087f1;
          font-size: 1.6rem;
        }
      }
    }
  }
  .content{
    width: 100%;
    float: left;
    table{
      border-collapse: collapse;
      text-align: center;
      box-sizing: border-box;
      thead{
        th{
          padding: .6rem .5rem;
          color: #bbb;
        }
      }
      tbody{
        tr{
          background: #151d31;
          td{
            border:1px solid #0e1526;
            padding: 1rem .5rem;
            color: #fff;
          }
        }
      }
    }
  }
}