@import 'include/base';
.help{
  header{
    width: 100%;
    float: left;
    height: 4.6rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    a{
      position: absolute;
      left: 1rem;
      img{
        width: 24px;
      }
    }
    div{
      color: #ffffff;
      font-size: 1.8rem;
    }
  }
  .content{
    width: 100%;
    height: auto;
    float: left;
    box-sizing: border-box;
  }
}