@import "include/base";

.index {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 6rem;
  overflow: auto;

  header {
    width: 100%;
    float: left;
    height: 4.6rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    img {
      height: 3.6rem;
    }

    span {
      position: absolute;
      top: 1.3rem;

      a {
        color: #bbb;
        font-size: 1.4rem;
      }

      &:nth-child(1) {
        left: 1rem;
      }

      &:nth-child(2) {
        right: 1rem;
      }
    }
  }

  .swipe {
    width: 100%;
    height: 16rem;
    float: left;

    img {
      width: 100%;
      height: 16rem;
    }
  }

  .swipe-notice {
    width: 100%;
    height: 5rem;
    float: left;
    background: #151d31;
    margin: 4px 0;
    padding: 1rem 0 0 4rem;
    color: #ffffff;
    font-size: 1.6rem;
    position: relative;
    box-sizing: border-box;

    img {
      position: absolute;
      width: 18px;
      height: 18px;
      left: 1rem;
      top: 1.5rem;
    }
  }

  .menu {
    width: 100%;
    height: 5.5rem;
    float: left;

    .van-grid-item {
      border: 2px solid #000000;
      border-radius: 5px;
      height: 5.4rem;
      width: 12rem;
      .van-grid-item__content {
        background: #151d31;
        padding: 14px 8px;

        a {
          display: flex;
          align-items: center;

          img {
            width: 2.3rem;
            height: 2.3rem;
          }

          span {
            color: #ffffff;
            margin-right: 2rem;
          }
        }
      }
    }
  }

  .friend {
    width: 100%;
    float: left;
    height: 5.3rem;

    img {
      width: 100%;
    }
  }

  .task-hall {
    width: 100%;
    float: left;

    .title {
      width: 100%;
      height: 3rem;
      background: #151d31;
      color: #ffffff;
      padding: 7px 25px;
      box-sizing: border-box;
    }

    .list {
      .van-grid-item {
        height: 6.8rem;
        border: 2px solid #000000;
        border-radius: 5px;

        .van-grid-item__content {
          background: #151d31;
          padding: 14px 8px;

          a {
            display: flex;
            align-items: center;

            img {
              width: 4.4rem;
              height: 4.4rem;
            }

            span {
              color: #ffffff;
              margin-right: 2rem;
              width: 6.8rem;
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }

  .member-list {
    width: 100%;
    float: left;
    height: 3rem;

    .van-tabs__nav--card {
      margin: 0;
      border: 1px solid #000000;
    }

    .van-tabs__nav {
      background: rgb(14, 21, 38);
    }

    .van-tabs__nav--card .van-tab {
      color: #ffffff;
      border-right: #000000;

      span {
        font-size: 1.5rem;
      }
    }

    .van-tabs__nav--card .van-tab.van-tab--active {
      background: rgb(21, 29, 49);
    }

    .order-rank {
      width: 100%;
      height: 33rem;
      float: left;

      * {
        color: #ffffff;
      }

      .van-swipe-item {
        background: #151d31;
        border-bottom: 1px solid #000000;

        .head {
          width: 20%;
          height: 100%;
          float: left;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            height: 42px;
            width: 42px;
            border-radius: 50%;
          }
        }

        .font {
          width: 80%;
          height: 100%;
          float: left;
          position: relative;
          padding-top: 1.5rem;
          padding-left: 1rem;
          box-sizing: border-box;

          .profit {
            width: 6.8rem;
            height: 2.4rem;
            border-radius: 100px;
            background: hsla(0, 0%, 100%, .5);
            position: absolute;
            right: 1rem;
            top: 1rem;
            display: flex;
            align-items: center;
            padding-left: 1rem;

            img {
              height: 18px;
              width: 18px;
            }

            span {
              color: #0e1526;
            }
          }
        }
      }
    }
  }
  .van-popup{
    border-radius: 1rem;
    background: none;
  }
  .notice-popup {
    background: url(../../assets/images/bg_mine.0c92df27.png) no-repeat #052058;
    background-size: contain;
    height: 34rem;
    width: 30rem;
    box-sizing: border-box;
    padding: 0 2.5rem 2.5rem 2.5rem;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    dt {
      font-size: 1.6rem;
      font-weight: 600;
      color: #fff;
      line-height: 5rem;
    }
    dd {
      background-color: rgba(0, 0, 0, .5);
      border-radius: .625rem;
      overflow-y: auto;
      overflow-x: hidden;
      padding: 1rem;
      color: #ccc;
      flex: auto;
      text-align: justify;
    }
  }
}