@import "include/base";
.language{
  header{
    width: 100%;
    float: left;
    height: 4.6rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    a{
      position: absolute;
      left: 1rem;
      img{
        width: 24px;
      }
    }
    div{
      color: #ffffff;
      font-size: 1.8rem;
    }
  }
  .content{
    float: left;
    width: 100%;
    .list{
      float: left;
      width: 100%;
      height: 4.4rem;
      background: #151d31;
      border-bottom:1px solid #0e1526;
      display: flex;
      align-items: center;
      img{
        width: 1.8rem;
        height: 1.8rem;
        margin-left: 2rem;
      }
      span{
        color: #ffffff;
        margin-left: 1rem;
      }
    }
  }
}