@import "include/base";
.line{
  header{
    width: 100%;
    float: left;
    height: 4.6rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    a{
      position: absolute;
      left: 1rem;
      img{
        width: 24px;
      }
    }
    div{
      color: #ffffff;
      font-size: 1.8rem;
    }
  }
  .content{
    .title, .list{
      width: 100%;
      float: left;
      height: 3.5rem;
      background: #151d31;
      display: flex;
      align-items: center;
      padding-left: 2rem;
      box-sizing: border-box;
      position: relative;
      color: #bbb;
      laber{
        font-size: 1.4rem;
      }
    }
    .title{
      span{
        color: #bbb;
        position: absolute;
        right: 1rem;
        top: 1rem;
      }
    }
    .list{
      span{
        color: #1989fa;
        margin-left: 2rem;
      }
      .van-radio{
        position: absolute;
        right: 1rem;
        top: 1rem;
      }
    }
  }
}