@import "include/base";
.login{
  header{
    width: 100%;
    height: 4.6rem;
    background: none;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 999;
    a{
      position: absolute;
      left: 1rem;
      img{
        width: 24px;
      }
    }
    div{
      color: #bbb;
      font-size: 1.4rem;
      position: absolute;
      right: 1rem;
    }
  }
  .login{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #0e1526;
    .back-img{
      position: absolute;
      width: 100%;
      height: 22.2rem;
      top: 0;
      left: 0;
    }
    .login-input{
      width: 100%;
      float: left;
      margin-top: 22.2rem;
      padding-top: 1.5rem;
      .user ,.password{
        position: relative;
        i{
          color: #4b34c3;
          position: absolute;
          left: 1.5rem;
          top: 1.3rem;
          font-size: 2rem;
        }
        input{
          width: 100%;
          height: 4.8rem;
          box-sizing: border-box;
          background: #151d31;
          border:none;
          color: rgb(153, 153, 153)!important;
        }
      }
      .van-dropdown-menu{
        width: 5rem;
        position: absolute;
        top: 0;
        z-index: 9;
        left: 3rem;
        .van-dropdown-menu__bar{
          background: none;
          box-shadow:none;
          .van-ellipsis{
            color: rgb(153, 153, 153)!important;
          }
        }
      }
    }
    .remember{
      width: 100%;
      height: 4.4rem;
      float: left;
      display: flex;
      align-items: center;
      padding-left: 2rem;
      box-sizing: border-box;
      .van-checkbox__label{
        color: rgb(153, 153, 153)!important;
      }
    }
    .button{
      width: 100%;
      height: 5rem;
      float: left;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 2rem;
      button{
        width: 34rem;
        background: linear-gradient(90deg,#4b34c3,#3d3ff7);
        border:none;
      }
    }
    .register{
      width: 100%;
      height: 2rem;
      float: left;
      display: flex;
      align-items: center;
      margin-top: 3rem;
      color: #ffffff;
      padding-left: 2rem;
      box-sizing: border-box;
      a{
        color: #999999;
      }
    }
  }
}