@import "include/base";
.mytask{
  header{
    width: 100%;
    float: left;
    height: 4.6rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    a{
      position: absolute;
      left: 1rem;
      img{
        width: 24px;
      }
    }
    div{
      color: #ffffff;
      font-size: 1.8rem;
    }
  }
  .tabs{
    float: left;
    width: 100%;
    .van-tabs__nav{
      background: rgb(21, 29, 49);
      .van-tab--active{
        span{
          color: rgb(64, 135, 241);
        }
      }
      span{
        color: #ffffff;
      }
      .van-tabs__line{
        background: rgb(64, 135, 241);
      }
    }
    .van-tabs__content{
      width: 100%;
      height: 100%;
      float: left;
    }
  }
  .content{
    width: 100%;
    float: left;
    .list{
      width: 35rem;
      height: 6rem;
      margin: 1rem auto;
      background: #151d31;
      .title , .order , .date{
        float: left;
        height: 100%;
      }
      .title{
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        .circle{
          width: 2.4rem;
          height: 2.4rem;
          border-radius: 50px;
          background: #1989fa;
          text-align: center;
          line-height: 2.4rem;
          color: #ffffff;
        }
        .circle-1{
          width: 2.4rem;
          height: 2.4rem;
          border-radius: 50px;
          background: #dd6161;
          text-align: center;
          line-height: 2.4rem;
          color: #ffffff;
        }
        .circle-2{
          width: 2.4rem;
          height: 2.4rem;
          border-radius: 50px;
          background: #07c160;
          text-align: center;
          line-height: 2.4rem;
          color: #ffffff;
        }
        .circle-3{
          width: 2.4rem;
          height: 2.4rem;
          border-radius: 50px;
          background: #1989fa;
          text-align: center;
          line-height: 2.4rem;
          color: #ffffff;
        }
      }
      .order{
        width: 42.5%;
        box-sizing: border-box;
        p{
          margin-top: 1rem;
          color: #c0c4cc;
          font-size: 1.3rem;
          &:nth-child(2){
            color: #4087f1;
            font-size: 1.6rem;
            font-weight: 600;
          }
        }
      }
      .date{
        width: 42.5%;
        box-sizing: border-box;
        padding-right: 2rem;
        p{
          margin-top: 1rem;
          color: #c0c4cc;
          font-size: 1.3rem;
          text-align: right;
          &:nth-child(2){
            color: #999;
            font-weight: 600;
          }
        }
      }
    }
  }
  .task-content{
    width: 100%;
    float: left;
    .no-data{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 15rem;
    }
    .list{
      width: 100%;
      //min-height: 13.3rem;
      //height: auto;
      float: left;
      background: #151d31;
      margin-top: .5rem;
      padding-bottom: 1rem;
      .left, .center ,.right{
        float: left;
        height: 100%;
        box-sizing: border-box;
      }
      .left{
        width: 15%;
        text-align: center;
        padding-top: 1rem;
        img{
          width: 4.6rem;
          height: 4.6rem;
          border-radius: 50px;
        }
      }
      .center{
        width: 60%;
        padding: .5rem;
        p{
          color: #758ab0;
          margin-top: .5rem;
          &:nth-child(1){
            font-size: 1.6rem;
            color: #ffffff;
          }
        }
      }
      .right{
        width: 25%;
        text-align: right;
        padding-right: 1rem;
        .van-uploader__upload,.van-uploader__preview-image{
          width: 3.6rem;
          height: 3.6rem;
        }
        .van-uploader{
          width: 4rem;
        }
        p{
          margin-top: .5rem;
        }
        p:nth-child(1){
          color: #758ab0;
        }
        p:nth-child(2){
          color: #4087f1;
          font-size: 1.6rem;
        }
        button{
          width: 5rem;
          height: 2.6rem;
          border-radius: 10px;
          color: #ffffff;
          border:none;
          background: #1989fa;
          font-size: 1.4rem;
        }
      }
    }
    .tips{
      text-align: center;
      margin: 2rem auto;
      color: #969799;
      padding: 0 2rem 0 1rem;
      float: left;
      width: 100%;
      box-sizing: border-box;
    }
  }
}