@import "include/base";
.user{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 6rem;
  overflow: auto;
  header{
    width: 100%;
    float: left;
    height: 4.6rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 1.7rem;
    color: #ffffff;
  }
  .user-info{
    width: 100%;
    height: 8rem;
    float: left;
    background: #151d31;
    .head-img, .font ,.go-out{
      height: 100%;
      float: left;
    }
    .head-img{
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        height: 6rem;
        width: 6rem;
        border-radius: 50px;
      }
    }
    .font{
      width: 60%;
      p{
        color: #ffffff;
        font-size: 1.5rem;
        padding-left: 1.5rem;
        &:nth-child(1){
          margin-top: 2rem;
          font-size: 1.7rem;
          white-space: nowrap;
        }
      }
    }
    .go-out{
      width: 20%;
      color: #ffffff;
      padding-top: 2rem;
      box-sizing: border-box;
      text-align: center;
      img{
        width: 3rem;
        height: 3rem;
      }
    }
  }
  .money{
    width: 100%;
    height: 10rem;
    float: left;
    .module{
      width: 34rem;
      height: 100%;
      background: #ffffff;
      border-radius: 3px;
      margin: 0 auto;
      .top{
        width: 100%;
        height: 4.6rem;
        float: left;
        line-height: 4.6rem;
        font-size: 1.4rem;
        padding-left: 1.6rem;
        box-sizing: border-box;
        position: relative;
        b{
          font-size: 2.2rem;
          color: #4087f1;
        }
        button{
          background: #1989fa;
          border: none;
          border-radius: 3px;
          height: 2.6rem;
          line-height: 2.6rem;
          width: 6.6rem;
          position: absolute;
          right: 1rem;
          top: 1rem;
          a{
            color: #ffffff;
            font-size: 1.2rem;
          }
        }
      }
      .bottom{
        width: 100%;
        height: 5.4rem;
        float: left;
        .van-steps--horizontal{
          border-radius: 3px;
        }
      }
    }
  }
  .earnings{
    width: 100%;
    height: 23rem;
    float: left;
    background: #151d31;
    .module{
      width: 33.3%;
      float: left;
      height: 7.6rem;
      p{
        text-align: center;
        margin-top: 1rem;
        &:nth-child(1){
          color: #bbb;
          font-size: 1.4rem;
          height: 3.2rem;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        &:nth-child(2){
          color: #4087f1;
          font-size: 1.6rem;
        }
      }
    }
  }
  .task-menu{
    width: 100%;
    height: 10rem;
    float: left;
    margin: 1rem auto;
    background: #151d31;
    .menu{
      width: 33.3%;
      float: left;
      height: 100%;
      text-align: center;
      padding-top: 2rem;
      box-sizing: border-box;
      a{
        color: #ffffff;
        font-size: 1.4rem;
      }
      img{
        width:3rem;
        height:3rem;
        margin-bottom: .5rem;
      }
    }
  }
  .user-menu{
    width: 100%;
    height: 29.6rem;
    float: left;
    a{
      display: block;
      width: 30%;
      float: left;
      height: 9.2rem;
      margin: .6rem;
      background: #151d31;
      p{
        text-align: center;
        box-sizing: border-box;
        padding-top: 1.5rem;
        img{
          width: 3rem;
          height: 3rem;
          margin-bottom: .7rem;
        }
        span{
          font-size: 1.4rem;
          color: #ffffff;
        }
      }
    }
  }
}