@import "include/base";
.postTask{
  header{
    width: 100%;
    float: left;
    height: 4.6rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    a{
      position: absolute;
      left: 1rem;
      img{
        width: 24px;
      }
    }
    div{
      color: #ffffff;
      font-size: 1.8rem;
    }
  }
  .content{
    width: 100%;
    float: left;
    .list{
      width: 35.5rem;
      height: 4.2rem;
      margin: 1rem auto;
      background: #151d31!important;
      border-radius: 3px;
      .title, .input{
        float: left;
        height: 100%;
        //line-height: 4.2rem;
        text-align: center;
        color: #bbb!important;
        font-size: 1.4rem;
      }
      .title{
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .input{
        width: 75%;
        position: relative;
        .van-field{
          background: none;
          padding: 10px 0;
          .van-field__control{
            color: #bbb!important;
          }
        }
        .van-cell::after{
          border: none;
        }
        label{
          position: absolute;
          right: 1rem;
          top: 1.5rem;
          color: #969799;
        }
        button{
          //width: 6rem;
          //height: 2.6rem;
          padding: 0;
          margin-left: .5rem;
          background: none;
          color: #bbb;
          .van-button__text{
            font-size: 1.2rem;
          }
        }
        .active{
          background: #dd6161;
          color: #ffffff;
          border-color: #dd6161;
        }
      }
      .van-dropdown-menu{
        height: 100%;
        .van-dropdown-menu__bar{
          background: none;
          box-shadow: unset;
          .van-dropdown-menu__title{
            width: 100%;
            text-align: left;
            padding:0;
            &::after{
              right: 1rem;
              color: #bbb!important;
            }
          }
          .van-ellipsis{
            color: #bbb!important;
          }
        }
      }
      .van-dropdown-item__option{
        background: #151d31;
        color: #bbb!important;
      }
      .van-calendar{
        background: #151d31;
      }
      .van-uploader__upload,.van-uploader__preview-image,.van-uploader__file{
        width: 5rem;
        height: 5rem;
        border-radius: 4px;
      }
      .van-loading__spinner{
        vertical-align: revert;
      }
    }
  }
  .Tips{
    width: 100%;
    float: left;
    color: #ffffff;
    padding: 1rem;
    box-sizing: border-box;
  }
  .submit{
    width: 100%;
    float: left;
    margin: 1rem auto;
    text-align: center;
    button{
      width: 35.5rem;
      height: 4.4rem;
      border-radius: 3px;
      background: linear-gradient(90deg,#4b34c3,#3d3ff7);
      border:none;
      .van-button__text{
        font-size: 1.6rem;
      }
    }
  }
  .main{
    width: 100%;
    height: 100%;
    background: rgb(14, 21, 38);
    .header{
      width: 100%;
      height: 4.6rem;
      line-height: 4.6rem;
      float: left;
      text-align: center;
      font-size: 1.6rem;
      color: #ffffff;
      span{
        position: absolute;
        right: 1rem;
        top: 0;
        font-size: 1.4rem;
        color: #bbb;
      }
    }
    .list{
      width: 100%;
      height: 8rem;
      float: left;
      background: #151d31;
      .index ,.img ,.font{
        height: 100%;
        float: left;
      }
      .index{
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: inherit!important;
        div{
          width:3rem;
          height:3rem;
          line-height:30px;
          text-align:center;
          font-size:16px;
          font-weight:600;
          background-color:#4087f1;
          color:#fff;
          border-radius:100%;
        }
      }
      .img{
        width: 20%;
        padding-top: 1rem;
        box-sizing: border-box;
        .van-uploader__upload{
          width: 6rem;
          height: 6rem;
        }
        .van-uploader__preview-image,.van-uploader__file{
          width: 6rem;
          height: 6rem;
        }
      }
      .font{
        width: 65%;
        textarea{
          width:85%;
          min-height:6rem;
          border:1px solid #ddd;
          display:block;
          padding:0 5px;
          font-size:1.3rem;
          margin: 1rem auto auto 1rem;
        }
      }
    }
    .button{
      width: 100%;
      float: left;
      margin-top: 2rem;
      text-align: center;
      button{
        margin-left: 1rem;
      }
    }
  }
}