@import "include/base";
.postTask{
  header{
    width: 100%;
    float: left;
    height: 4.6rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    a{
      position: absolute;
      left: 1rem;
      img{
        width: 24px;
      }
    }
    div{
      color: #ffffff;
      font-size: 1.8rem;
    }
  }
  .tabs{
    float: left;
    width: 100%;
    .van-tabs__nav{
      background: rgb(21, 29, 49);
      .van-tab--active{
        span{
          color: rgb(64, 135, 241);
        }
      }
      span{
        color: #ffffff;
      }
      .van-tabs__line{
        background: rgb(64, 135, 241);
      }
    }
    .van-tabs__content{
      width: 100%;
      height: 100%;
      float: left;
    }
  }
  .task-content{
    width: 100%;
    float: left;
    .no-data{
      width: 100%;
      text-align: center;
    }
    .list{
      width: 100%;
      float: left;
      margin-top: .5rem;
      background: #151d31;
      *{
        color: #bbb;
        font-size: 1.4rem;
      }
      .img, .font,.info, .button{
        height: 100%;
        float: left;
      }
      .img{
        width: 20%;
        padding-top: 1.2rem;
        box-sizing: border-box;
        p{
          text-align: center;
          line-height: 2.5rem;
          img{
            width: 3.6rem;
            height: 3.6rem;
            border-radius: 50px;
          }
          button{
            background: #1989fa;
            min-width: 3.2rem;
            height: 1.6rem;
            color: #ffffff;
            border: none;
            line-height: 1.8rem;
            font-size: 1.2rem;
            border-radius: 3px;
          }
        }
      }
      .font{
        width: 60%;
        p{
          margin-top: .8rem;
          span{
            color: #1989fa;
            font-weight: 600;
          }
        }
      }
      .info{
        width: 20%;
        padding-top: 1.5rem;
        box-sizing: border-box;
        p{
          text-align: center;
          margin-top: .8rem;
          span{
            color: #f1c70d;
            font-weight: 600;
            font-size: 1.4rem;
          }
          b{
            color: #4087f1;
            font-size: 1.8rem;
          }
        }
      }
      .button{
        width: 100%;
        height: 3.7rem;
        padding-top: .7rem;
        padding-right: .7rem;
        box-sizing: border-box;
        border-top: .0625rem solid #eee;
        background: #0e1526;
        button{
          float: right;
          background: #1989fa;
          border:1px solid #1989fa;
          width: 4.8rem;
          height: 2.4rem;
          color: #ffffff;
          font-size: 1.2rem;
          margin-right: .5rem;
          border-radius: 50px;
        }
      }
    }
    .tips{
      text-align: center;
      margin: 2rem auto;
      color: #969799;
      padding: 0 2rem 0 1rem;
      float: left;
      width: 100%;
      box-sizing: border-box;
    }
  }
}