@import "include/base";
.progress{
  header {
    width: 100%;
    float: left;
    height: 4.6rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    a {
      position: absolute;
      left: 1rem;

      img {
        width: 24px;
      }
    }

    div {
      color: #ffffff;
      font-size: 1.8rem;
    }
  }
  .content{
    .list , .list2{
      width: 90%;
      margin-left: 5%;
      float: left;
      height: 4rem;
      box-sizing: border-box;
      border-bottom: 1px solid #292f3d;
      .title{
        height: 100%;
        float: left;
        line-height: 4rem;
        padding-left: 2rem;
        box-sizing: border-box;
        color: #8d9098;
        white-space: pre;
        img{
          width: 1rem;
          height: 1rem;
        }
        label{
          color: #ffcb01;
        }
      }
      .title2{
        width: 100%;
        height: 100%;
        float: left;
        line-height: 4rem;
        padding-left: 5rem;
        box-sizing: border-box;
        color: #8d9098;
        label{
          color: #ffcb01;
        }
      }
      .button{
        width: 20%;
        height: 100%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        button{
          width: 7rem;
          min-height: 2rem;
          border-radius: 3px;
          border:none;
          color: #ffffff;
          background: #167be1;
        }
      }
    }
    .list2{
      height: auto!important;
      border:none!important;
      width: 100%!important;
      margin-left: 0!important;
    }
  }
}