@import "include/base";
.promote{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-image: url("../../assets/images/share-zh-TW.png");
  background-repeat:no-repeat;
  background-color: #09273f;
  background-size: 100%;
  header{
    width: 100%;
    height: 4.6rem;
    background: none;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 999;
    a{
      position: absolute;
      left: 1rem;
      img{
        width: 24px;
      }
    }
    div{
      color: #bbb;
      font-size: 1.4rem;
      position: absolute;
      right: 1rem;
    }
  }
  .content{
    width: 27.5rem;
    height: 36rem;
    margin: 11rem auto 3rem auto;
    background-color: rgb(18, 50, 75);
    p{
      text-align: center;
      color: #ffffff;
      line-height: 3.8rem;
    }
    .copy-button{
      color: #1a6ba1;
      i{
        font-size: 2rem;
        margin-right: .5rem;
        vertical-align:middle;
      }
    }
  }
  .button{
    width: 100%;
    float: left;
    text-align: center;
    button{
      width: 26.5rem;
      height: 4.2rem;
      background: none;
      border:1px solid #ffffff;
      color: #ffffff;
    }
  }
}