@import "include/base";
.recharge{
  header{
    width: 100%;
    float: left;
    height: 4.6rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .go-out{
      position: absolute;
      left: 1rem;
      img{
        width: 24px;
      }
    }
    div{
      color: #ffffff;
      font-size: 1.8rem;
    }
    .right-a{
      position: absolute;
      right: 1rem;
      top: 1.3rem;
      font-size: 1.4rem;
      color: #bbb;
    }
  }
  .one{
    width: 100%;
    float: left;
    .tips{
      width: 100%;
      height: 4rem;
      float: left;
      padding-left: 2rem;
      box-sizing: border-box;
      color: #969799;
      line-height: 4rem;
      span{
        color:rgb(64, 135, 241);
      }
    }
    .recharge-list{
      width: 100%;
      float: left;
      .list{
        width: 100%;
        height: 7.4rem;
        float: left;
        background: #151d31;
        .img, .font,.icon{
          height: 100%;
          float: left;
        }
        .img{
          width: 20%;
          display: flex;
          justify-content: center;
          align-items: center;
          img{
            height: 4rem;
            width: 4rem;
            border-radius: 50px;
          }
        }
        .font{
          width: 65%;
          p{
            font-size: 1.2rem;
            padding-left: 1.5rem;
            color: #969799;
            &:nth-child(1){
              margin-top: 1rem;
              font-size: 1.4rem;
            }
          }
        }
        .icon{
          width: 15%;
          color: #969799;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 2rem;
        }
      }
    }
  }
  .two{
    width: 100%;
    float: left;
    .input{
      .van-field{
        background: #151d31;
      }
      .van-field__control{
        color: #999!important
      }
    }
    .button{
      text-align: center;
      margin-top: 2rem;
      button{
        width: 34.3rem;
        background: none;
        color: #ffffff;
        margin-top: 1rem;
      }
      button:nth-child(1){
        border:none;
        background: linear-gradient(90deg,#4b34c3,#3d3ff7);
      }
    }
  }
  .three{
    width: 100%;
    float: left;
    .recharge-info{
      margin-bottom: 2rem;
      button{
        width: 4.8rem;
        height: 2.4rem;
        background: #1989fa;
        border: none;
        border-radius: 3px;
        color: #ffffff;
        font-size: 1.2rem;
      }
      .van-cell{
        background: #151d31;
        color: #bbb;
        b{
          font-size: 2rem;
          color: #4087f1;
        }
      }
      .tips{
        text-align: center;
        margin: 2rem auto;
        color: #969799;
        padding: 0 2rem 0 1rem;
        float: left;
        width: 100%;
        box-sizing: border-box;
      }
      .card{
        width: 100%;
        float: left;
        height: 17.6rem;
        .module{
          width: 35rem;
          height: 100%;
          border:1px solid hsla(0,0%,100%,.2);
          border-radius:3px;
          background: #151d31;
          margin: 0 auto;
          .title{
            width: 100%;
            height: 5.6rem;
            background: #242d41;
            float: left;
            padding: 1rem 0 0 1rem;
            box-sizing: border-box;
            span:nth-child(1){
              color: #fff;
              font-size: 1.4rem;
            }
            span:nth-child(3){
              color: #969799;
            }
          }
          .detailed{
            width: 100%;
            float: left;
            .list{
              width: 100%;
              div{
                float: left;
                height: 3.5rem;
                color:#bbb!important;
                font-size: 1.4rem;
                display: flex;
                align-items: flex-end;
                justify-content: center;
              }
              div:nth-child(1){
                width: 30%;
              }
              div:nth-child(2){
                width: 50%;
              }
              div:nth-child(3){
                width: 20%;
              }
            }
          }
        }
      }
    }
  }
}