@import "include/base";
.register{
  header{
    width: 100%;
    height: 4.6rem;
    background: none;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 999;
    a{
      position: absolute;
      left: 1rem;
      img{
        width: 24px;
      }
    }
    div{
      color: #bbb;
      font-size: 1.4rem;
      position: absolute;
      right: 1rem;
    }
  }
  .content{
    width: 100%;
    float: left;
    .title{
      width: 100%;
      height: 8rem;
      float: left;
      line-height: 9rem;
      padding-left: 2rem;
      font-size: 2.5rem;
      box-sizing: border-box;
      color: #ffffff;
    }
    .select{
      width: 100%;
      float: left;
      div{
        width: 50%;
        height: 3rem;
        text-align: center;
        line-height: 3rem;
        border-bottom:1px solid #0e1526;
        float: left;
        color: #ffffff;
        font-size: 1.5rem;
      }
      .active{
        border-bottom:1px solid #ffffff!important;
      }
    }
  }
  .login-input{
    width: 100%;
    float: left;
    .user ,.input{
      position: relative;
      i{
        color: #4b34c3;
        position: absolute;
        left: 1.5rem;
        top: 1.3rem;
        font-size: 2rem;
      }
      input{
        width: 100%;
        height: 4.8rem;
        box-sizing: border-box;
        background: #151d31;
        border:none;
        color: rgb(153, 153, 153)!important;
      }
    }
    .password{
      img{
        position: absolute;
        right: 1rem;
        top: .5rem;
        width: 10rem;
        height: 3.4rem;
      }
    }
    .code{
      button{
        position: absolute;
        right: 1rem;
        top: .5rem;
        width: 10rem;
        height: 3.4rem;
      }
    }
    .van-dropdown-menu{
      width: 5rem;
      position: absolute;
      top: 0;
      z-index: 9;
      left: 3rem;
      .van-dropdown-menu__bar{
        background: none;
        box-shadow:none;
        .van-ellipsis{
          color: rgb(153, 153, 153)!important;
        }
      }
    }
  }
  .button{
    width: 100%;
    height: 5rem;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    button{
      width: 34rem;
      background: linear-gradient(90deg,#4b34c3,#3d3ff7);
      border:none;
    }
  }
  .button-border{
    button{
      background: none;
      border:1px solid #1989fa;
    }
  }
}