@import "include/base";
.service{
  header{
    width: 100%;
    float: left;
    height: 4.6rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    a{
      position: absolute;
      left: 1rem;
      img{
        width: 24px;
      }
    }
    div{
      color: #ffffff;
      font-size: 1.8rem;
    }
  }
  .vipService{
    width: 100%;
    height: 7rem;
    float: left;
    background: #151d31;
    .left,.right{
      height: 100%;
      float: left;
    }
    .left{
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        border-radius: 50%;
        width: 5rem;
      }
    }
    .right{
      width: 80%;
      p{
        color: #ffffff;
        height: 3.5rem;
        line-height: 3.5rem;
        font-size: 1.6rem;
        &:nth-child(2){
          line-height: inherit;
          font-size: 1.4rem;
          color: #969799;
        }
      }
    }
  }
  .help{
    width: 100%;
    float: left;
    .title{
      width: 100%;
      float: left;
      padding-left: 2rem;
      box-sizing: border-box;
      height: 4rem;
      line-height: 4rem;
      color: #ffffff;
      font-size: 1.6rem;
    }
    .list{
      width: 100%;
      float: left;
      a{
        width: 100%;
        float: left;
        display: block;
        height: 4.4rem;
        line-height: 4.4rem;
        padding-left: 2rem;
        box-sizing: border-box;
        font-size: 1.5rem;
        color: #bbbbbb;
        background: #151d31;
      }
    }
  }
}