@import "include/base";
.shop{
  header {
    width: 100%;
    float: left;
    height: 4.6rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    a {
      position: absolute;
      left: 1rem;

      img {
        width: 24px;
      }
    }

    div {
      color: #ffffff;
      font-size: 1.8rem;
    }
  }
  .content{
    table{
      width: 100%;
      text-align: center;
      color: #9fa1a8;
      border-collapse: collapse;
      thead{
        th{
          border-bottom:1px solid #686a72;
          height: 3rem;
        }
      }
      tbody{
        td{
          height: 3rem;
          img{
            width: 1.6rem;
            height: 1.6rem;
          }
          &:nth-child(3){
            color: #ffcd00;
          }
          button{
            width: 7rem;
            border-radius: 4px;
            font-size: 1.4rem;
            border:none;
            background: #167be1;
            color: #ffffff;
          }
        }
      }
    }
  }
}