@import "include/base";
.taskList{
  header{
    width: 100%;
    float: left;
    height: 4.6rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    a{
      position: absolute;
      left: 1rem;
      img{
        width: 24px;
      }
    }
    div{
      color: #ffffff;
      font-size: 1.8rem;
    }
  }
  .content{
    width: 100%;
    float: left;
    .no-data{
      width: 100%;
      text-align: center;
    }
    .list{
      width: 100%;
      float: left;
      height: 9.7rem;
      background: #151d31;
      *{
        color: #bbb;
        font-size: 1.4rem;
      }
      .img, .font, .button{
        height: 100%;
        float: left;
      }
      .img{
        width: 25%;
        p{
          text-align: center;
          line-height: 2.5rem;
          img{
            width: 3.6rem;
            height: 3.6rem;
            border-radius: 50px;
          }
          button{
            background: #1989fa;
            width: 3.2rem;
            height: 1.6rem;
            color: #ffffff;
            border: none;
            line-height: 1.8rem;
            font-size: 1.2rem;
            border-radius: 3px;
          }
        }
      }
      .font{
        width: 55%;
        p{
          margin-top: .8rem;
          span{
            color: #dd6161;
            font-weight: 600;
          }
        }
      }
      .button{
        width: 20%;
        p{
          text-align: center;
          margin-top: .8rem;
          span{
            color: #f1c70d;
            font-weight: 600;
            font-size: 1.4rem;
          }
          button{
            background: #1989fa;
            width: 4.8rem;
            height: 2.4rem;
            color: #ffffff;
            border: none;
            font-size: 1.2rem;
            border-radius: 3px;
          }
          b{
            color: #4087f1;
            font-size: 1.8rem;
          }
        }
      }
    }
    .tips{
      text-align: center;
      margin: 2rem auto;
      color: #969799;
      padding: 0 2rem 0 1rem;
      float: left;
      width: 100%;
      box-sizing: border-box;
    }
  }
}