@import "include/base";
.task{
  header{
    width: 100%;
    float: left;
    height: 4.6rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    a{
      position: absolute;
      left: 1rem;
      img{
        width: 24px;
      }
    }
    div{
      color: #ffffff;
      font-size: 1.8rem;
    }
  }
  .swipe{
    width: 100%;
    height: 16rem;
    float: left;
    img{
      width: 100%;
      height: 16rem;
    }
  }
  .tabs{
    float: left;
    width: 100%;
    .van-tabs__nav{
      background: rgb(21, 29, 49);
      .van-tab--active{
        span{
          color: rgb(64, 135, 241);
        }
      }
      span{
        color: #ffffff;
      }
      .van-tabs__line{
        background: rgb(64, 135, 241);
      }
    }
    .van-tabs__content{
      width: 100%;
      height: 100%;
      float: left;
      .no-data{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15rem;
      }
    }
  }
  .list{
    width: 100%;
    height: auto;
    float: left;
    .module{
      width: 50%;
      height: 10rem;
      float: left;
      box-sizing: border-box;
      margin-top: 2rem;
      padding-left: .8rem;
      .card{
        width: 17rem;
        height: 8rem;
        border-radius: 5px;
        background:  url(../../assets/images/vip_new_bg.png) no-repeat 0,linear-gradient(60deg,#ccd7e9,#7085a5);
        position: relative;
        P{
          color: #ffffff;
          font-size: 1.6rem;
          text-align: center;
          line-height: 5rem;
          &:nth-child(2){
            font-size: 1.5rem;
            line-height:1rem;
          }
        }
        .now{
          position: absolute;
          color: #ffffff;
          background: rgba(0,0,0,.2);
          font-size: 1.2rem;
          text-align: center;
          padding: 0 8px 0 5px;
          border-radius: 3px;
          top: 0;
          left: 0;
        }
      }
      &:nth-child(2) .card{
        background:  url(../../assets/images/vip_new_bg.png) no-repeat 40px,linear-gradient(60deg,#fd9e02,#d86a25);
      }
      &:nth-child(3) .card{
        background:  url(../../assets/images/vip_new_bg.png) no-repeat 40px,linear-gradient(60deg,#3044b3,#273580);
      }
      &:nth-child(4) .card{
        background:  url(../../assets/images/vip_new_bg.png) no-repeat 40px,linear-gradient(60deg,#31b489,#3e91b8);
      }
      &:nth-child(5) .card{
        background:  url(../../assets/images/vip_new_bg.png) no-repeat 40px,linear-gradient(60deg,#47484c,#1f2025);
      }
    }
  }
}