@import "include/base";
.teamReport{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  header{
    width: 100%;
    float: left;
    height: 4.6rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .go-out{
      position: absolute;
      left: 1rem;
      img{
        width: 24px;
      }
    }
    div{
      color: #ffffff;
      font-size: 1.8rem;
    }
  }
  .tabs{
    float: left;
    width: 100%;
    .van-tabs__nav{
      background: rgb(21, 29, 49);
      .van-tab--active{
        span{
          color: rgb(64, 135, 241);
        }
      }
      span{
        color: #ffffff;
      }
      .van-tabs__line{
        background: rgb(64, 135, 241);
      }
    }
    .van-tabs__content{
      width: 100%;
      height: 100%;
      float: left;
      .no-data{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15rem;
      }
    }
  }
  .select-date{
    width: 100%;
    float: left;
    height: 4.8rem;
    padding: 1rem 1rem 0 2rem;
    box-sizing: border-box;
    .date-input{
      border:1px solid #ddd;border-radius:5px;width:110px;line-height:24px;text-align:center;font-size:13px;color:#333;
    }
    .line{
      color: #ffffff;
      margin: 0 1rem;
    }
    .search{
      width: 4.8rem;
      height: 2.4rem;
      background: #1989fa;
      border: none;
      border-radius: 3px;
      color: #ffffff;
      font-size: 1.2rem;
      float: right;
    }
  }
  .earnings{
    width: 100%;
    float: left;
    .module{
      width: 50%;
      float: left;
      height: 7.6rem;
      background: #151d31;
      p{
        text-align: center;
        margin-top: 1rem;
        &:nth-child(1){
          color: #bbb;
          font-size: 1.4rem;
        }
        &:nth-child(2){
          color: #4087f1;
          font-size: 1.6rem;
        }
      }
    }
  }
  .content{
    width: 100%;
    float: left;
    .user-level{
      width: 100%;
      height: 4rem;
      float: left;
      display: flex;
      align-items: center;
      padding-left: 2rem;
      color: #888;
      a{
        margin: 0 .5rem ;
        color: #4087f1;
        font-size: 1.3rem;
      }
      .last-color{
        color: #bbbbbb;
      }
      span{
        font-size: 1.3rem;
        color: #888;
        margin: 0 .5rem ;
      }
    }
    table{
      border-collapse: collapse;
      text-align: center;
      box-sizing: border-box;
      thead{
        th{
          padding: .6rem .5rem;
          color: #bbb;
          background: #151d31;
        }
      }
      tbody{
        tr{
          td{
            border:1px solid #151d31;
            padding: 1rem .5rem;
            color: #fff;
            &:nth-child(1){
              color: #4087f1;
            }
          }
        }
      }
    }
  }
}