@import "include/base";
.userInfo{
  header{
    width: 100%;
    float: left;
    height: 4.6rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    a{
      position: absolute;
      left: 1rem;
      img{
        width: 24px;
      }
    }
    div{
      color: #ffffff;
      font-size: 1.8rem;
    }
  }
  .content{
    width: 100%;
    float: left;
    .list{
      background: #151d31;
      width: 100%;
      height: 5rem;
      label{
        float: left;
        height: 100%;
        margin-left: 1.5rem;
        img{
          margin-top: 1.2rem;
          width: 2.6rem;
          height: 2.6rem;
        }
      }
      span{
        display: block;
        float: left;
        height: 100%;
        margin-left: 1rem;
        line-height: 5rem;
        color: #bbb!important;
      }
      i{
        float: right;
        margin: 0 1rem;
        color: #969799;
        font-size: 1.8rem;
      }
      .head-img{
        float: right;
        img{
          width: 4.5rem;
          height: 4.5rem;
          border-radius: 50px;
          margin-top: 1.25rem;
        }
      }
      .describe{
        float: right;
        line-height: 5rem;
        color: #969799;
        margin-right: 1rem;
      }
    }
  }
  .head-popup{
    background: none;
    .module{
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      height: 100%;
      width: 100%;
      background: #151d31;
      .title{
        width: 100%;
        height: 4.8rem;
        font-size: 1.6rem;
        color: #ffffff;
        text-align: center;
        line-height: 4.8rem;
        float: left;
      }
      .img-list{
        width: 100%;
        height: 15.4rem;
        float: left;
        .list{
          width: 20%;
          height: 7.7rem;
          display: flex;
          justify-content: center;
          align-items: center;
          float: left;
          img{
            width: 4.5rem;
            height: 4.5rem;
          }
        }
      }
    }
  }
}