@import "include/base";
.video{
  header{
    width: 100%;
    float: left;
    height: 4.6rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    a{
      position: absolute;
      left: 1rem;
      img{
        width: 24px;
      }
    }
    div{
      color: #ffffff;
      font-size: 1.8rem;
    }
  }
  .help{
    width: 100%;
    float: left;
    .list{
      width: 100%;
      float: left;
      a{
        width: 100%;
        float: left;
        display: block;
        height: 4.4rem;
        line-height: 4.4rem;
        padding-left: 2rem;
        box-sizing: border-box;
        font-size: 1.5rem;
        color: #bbbbbb;
        background: #151d31;
      }
    }
  }
}