@import "include/base";
.vip{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 6rem;
  overflow-y: auto;
  overflow-x: hidden;
  .swipe{
    width: 100%;
    height: 16rem;
    float: left;
    img{
      width: 100%;
      height: 16rem;
    }
  }
  .my-id{
    width: 100%;
    height: 15rem;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    .card{
      box-sizing: border-box;
      padding: 25px 15px;
      width: 34.5rem;
      height: 12rem;
      background: url('../images/vip_new_bg.png') no-repeat 40px,linear-gradient(60deg,#ccd7e9,#7085a5);
      background-size:contain;
      border-radius: 6px;
      color: #ffffff;
      .top{
        margin-bottom: 18px;
        font-size: 20px;
        text-align: center;
      }
    }
  }
  .level-list{
    width: 100%;
    height: auto;
    float: left;
    margin-top: 2rem;
    text-align: center;
    margin-left: 15px;
    .card{
      box-sizing: border-box;
      padding: 15px 15px;
      width: 34.5rem;
      background-size:contain;
      border-radius: 6px;
      color: #ffffff;
      margin-top: 2rem;
      background: url('../images/vip_new_bg.png') no-repeat 40px,linear-gradient(60deg,#ccd7e9,#7085a5);
      height: 15.6rem!important;
      P{
        margin-top: 1rem;
        font-size: 1.4rem;
        b{
          font-size: 2rem;
          margin-right: 1rem;
        }
        span{
          font-size: 1.6rem;
          color:#ff0;
        }
        i{
          font-size: 1.4rem;
        }
        button{
          border: none;
          border-radius: 5px;
          padding: 3px 12px;
          margin-left: 1rem;
          color: #000000;
        }
      }
      &:nth-child(2){
        background: url('../images/vip_new_bg.png') no-repeat 40px,linear-gradient(60deg,#fd9e02,#d86a25);
      }
      &:nth-child(3){
        background: url('../images/vip_new_bg.png') no-repeat 40px,linear-gradient(60deg,#3044b3,#273580);
      }
      &:nth-child(4){
        background: url('../images/vip_new_bg.png') no-repeat 40px,linear-gradient(60deg,#31b489,#3e91b8);
      }
      &:nth-child(5){
        background: url('../images/vip_new_bg.png') no-repeat 40px,linear-gradient(60deg,#47484c,#1f2025);
      }
    }
  }
}