@import 'include/base';
.wallet{
  header{
    width: 100%;
    float: left;
    height: 4.6rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    a{
      position: absolute;
      left: 1rem;
      img{
        width: 24px;
      }
    }
    div{
      color: #ffffff;
      font-size: 1.8rem;
    }
  }
  .balance{
    width: 100%;
    height: 6.2rem;
    float: left;
    background: #151d31;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #ffffff;
    font-weight: 600;
  }
  .tool{
    width: 100%;
    height: 6.5rem;
    float: left;
    margin-top: 1rem;
    .module{
      height: 100%;
      width: 34rem;
      margin: 0 auto;
      background: #ffffff;
      border-radius: 5px;
      a{
        display: block;
        float: left;
        width: 50%;
        height: 100%;
        text-align: center;
        line-height: 6.5rem;
        color: #4087f1;
        font-size: 1.6rem;
        font-weight: 600;
      }
    }
  }
  .tabs{
    float: left;
    width: 100%;
    margin-top: 1rem;
    .van-tabs__nav{
      background: rgb(21, 29, 49);
      .van-tab--active{
        span{
          color: rgb(64, 135, 241);
        }
      }
      span{
        color: #ffffff;
      }
      .van-tabs__line{
        background: rgb(64, 135, 241);
      }
    }
    .van-tabs__content{
      width: 100%;
      height: 100%;
      float: left;
    }
  }
  .content{
    width: 100%;
    float: left;
    .no-data{
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 15rem;
    }
    .list{
      width: 35rem;
      height: 6rem;
      margin: 1rem auto;
      background: #151d31;
      .title , .order , .date{
        float: left;
        height: 100%;
      }
      .title{
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        .circle{
          width: 2.4rem;
          height: 2.4rem;
          border-radius: 50px;
          background: #dd6161;
          text-align: center;
          line-height: 2.4rem;
          color: #ffffff;
        }
      }
      .order{
        width: 42.5%;
        box-sizing: border-box;
        p{
          margin-top: 1rem;
          color: #c0c4cc;
          font-size: 1.3rem;
          &:nth-child(2){
            color: #4087f1;
            font-size: 1.6rem;
            font-weight: 600;
          }
        }
      }
      .date{
        width: 42.5%;
        box-sizing: border-box;
        padding-right: 2rem;
        p{
          margin-top: 1rem;
          color: #c0c4cc;
          font-size: 1.3rem;
          text-align: right;
          &:nth-child(2){
            color: #999;
            font-weight: 600;
          }
        }
      }
    }
  }
}