*{
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: -apple-system-font, Helvetica Neue, Arial, sans-serif;
  box-sizing:border-box;
}
li{
  list-style: none;
}
body{
  background: #ffffff;
  overflow: auto;
}
a{
  color: #000000;
}
i{
  font-style: normal;
}
a{
  text-decoration: none;
}
.public-header{
  height: 44px;
  background: #fff;
  color: #000000;
  line-height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  float: left;
  width: 100%;
  a{
    color: #000000;
    float: left;
    font-size: 25px;
    left: 8px;
    top: 4px;
    position: absolute;
  }
  span{
    float: left;
    font-size: 18px;
  }
  img{
    height: 25px;
    width: 25px;
  }
}
.m-bottom-9{
  margin-bottom: 90px!important;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
