@import "base";
.float{
  .newNoticeFrame{
    background: rgba(0,0,0,.5);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 99999;
  }
  .active-inner{
    font-family: 'Microsoft YaHei',Arial,Verdana;
    width: 90%;
    height: 80%;
    left: 5%;
    top: 10%;
    position: absolute;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 5px;
    background: rgba(255,255,255,0.3);
    z-index: 99;
  }
  .active-top{
    width: 100%;
    position: relative;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-radius: 4px 4px 0 0;
    background: #b62929;
  }
  .top-active{
    font-size: 20px;
    letter-spacing: 2px;
    text-shadow: none;
    color: #fff;
  }
  .close123{
    position: absolute;
    right: 5px;
    top: 5px;
    display: block;
    width: 30px;
    line-height: 40px;
    text-align: center;
    font-size: 30px;
    color: #fff;
  }
  .active-content{
    position: absolute;
    top: 55px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    max-height: 100%;
    overflow: auto;
    border-radius: 0 0 4px 4px;
    background: #fff;
    button{
      width: 120px;
      height: 30px;
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
  }
  .active-main{
    margin: 0 4% 10px 4%;
  }
  .active-item{
    padding: 10px 0;
    border-bottom: 1px dashed #dbdbdb;
    float: left;
    width: 100%;
  }
  .activeTitles{
    clear: both; color: #000;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    background:#fff;
    display:block;
  }
  .red-title{
    background: #b62929;
    width: 6px;
    height: 6px;
    margin: 12px 0;
    border-radius: 50%;
    float: left;
  }
  .textStyle{
    max-width: 90%;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
    padding-left: 6px;
    color: rgb(76, 76, 76);
    float: left;
    line-height:30px
  }
  .contentStyle{
    float: left;
    width: 100%;
    white-space: normal;
    font-size: 20px;
    word-break: break-all;
    margin-top: 10px;
  }
  .contentStyle img{
    width: 100%!important;
  }
  .red-m{
    position: fixed;
    right: 0;
    bottom:10%;
    width: 90px;
    img{
      width: 100%;
    }
    .loca{
      position: absolute;
      bottom: 30px;
      left: 0;
      width: 90px;
      height: 90px;
    }
    .close{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 90px;
      height: 30px;
    }
  }
}
