.footer{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #ffffff;
  .van-row {
    height: 100%;
    box-sizing: border-box;
    .van-col--6,.van-col--4 {
      height: 100%;
      text-align: center;
      padding-top: 5px;
      font-size: 12px;
      a{
        color: #c2c2c2;
      }
      img {
        width: 35px;
      }
      .active{
        color: rgb(3, 103, 253)!important;
      }
    }
    .van-col--4{
      width: 20%;
    }
  }
}
