@import "./base";
.common_header{
  height: 46px;
  background: #ec2829;
  line-height: 46px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 3000;
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ffffff;
    position: relative;
    z-index: 3000;
    width: 100%;
    a{
      color: #000000;
      font-size: 15px;
      padding-left: 10px;
      display: inline-block;
      i{
        font-size: 24px;
        vertical-align: sub;
      }
      .bark{
        font-size: 16px;
        vertical-align: top;
        line-height: 46px;
        display: inline-block;
      }
    }
    .title{
      font-size: 16px;
      color: #000000;
    }
    .filter{
      display: inline-block;
      font-size: 16px;
      padding-right: 10px;
      color: #000000;
    }
  }
  .common_content{
    /deep/.van-overlay{
      top: 46px;
    }
    .van-field__label{
      span{
        font-size: 14px;
      }
    }
    .van-field{
      &:nth-child(1), &:nth-child(2){
        .van-field__body{
          .van-field__control{
            font-size: 14px;
            color: #1989fa;
          }

        }
      }
    }
    .filter-query{
      position: absolute;
      bottom: 0;
      .van-button__text{
        font-size: 14px;
      }
    }
  }

}