<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>
import './assets/index.scss';

export default {
  name: 'App',
}
</script>

<style>
#app {
  margin:0 auto;
  width: 100%;
  background: #f0f0f0;
}
</style>
