@import "../include/base";
.balanceGemInfo{
  .balance_header{
    background-color: #ff6633;
    width: 100%;
    height: 5rem;
    line-height: 5rem;
    text-align: left;
    .left{
      float: left;
      display: flex;
      align-items: center;
      &:before,&:after{
        content: "";
        display: block;
        width: 0;
        height: 0;
        clear: both;
      }
      i{
        font-size:2.8rem ;
      }
      span{
        font-size: 1.4rem;
        color: #ffffff;
      }
    }
    .header_background{
      position: absolute;
      z-index: -1;
      height: 196px;
      width: 100%;
      background-color: #ff6633;
    }
  }
  main{
    width: 100%;
    height: 340px;
    .main_wrapper{
      width: 100%;
      text-align: center;
      margin: 0 auto;
      .content{
        width: 90%;
        height: 100%;
        padding:0 5%;
        .content_oneself_info{
          background-color: #ffffff;
          border-radius: 8px;
          .row{
            width: 100%;
            height: 30px;
            text-align: center;
            line-height: 30px;
            .part{
              width: 50%;
              float: left;
              text-align: center;
              font-size: 1.6rem;
              font-family: "Microsoft YaHei";
              span{
                display: inline-block;
                width: 151px;
                height: 42px;
                border-radius: 3px;
                line-height: 42px;
                font-size: 1.4rem;
              }
            }
            .lucre{
              height: 100%;
              background: #f1f1f1;
              border-radius: 20px;
              width: 140px;
              font-size: 13px;
              margin: 0 auto;
              font-family: "Microsoft YaHei";
              span{
                color: orangered;
                font-size: 1.3rem;
                font-family: "Microsoft YaHei";
              }
            }
          }
        }
        .content_record{
          height: 60px;
          line-height: 60px;
          width: 100%;
          position: relative;
          .classify_butotn{
            float: left;
            border-radius: 20px;
            border: 1px solid #9c9c9c;
            background-color: #fefefe;
            height: 26px;
            width: 60px;
            margin-top: 16px;
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            &:before,&:after{
              content: "";
              display: block;
              width: 0;
              height: 0;
              clear: both;
            }
            i{
              font-size: 1.5rem;
              margin-top: -3px;
            }
            .clickClass{
              transform: rotateZ(90deg);
            }
          }
          .hint_text{
            float: right;
            font-size: 1.2rem;
            color: #888888;
            &:before,&:after{
              content: "";
              display: block;
              width: 0;
              height: 0;
              clear: both;
            }
          }
        }
      }
      .money_list{
        width: 100%;
        background-color: #ffffff;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        position: absolute;
        span{
          display: inline-block;
          width: 151px;
          height: 42px;
          border-radius: 3px;
          line-height: 42px;
          font-size: 1.4rem;
          color: #000000;
          background-color: #f5f5f5;
          margin-top: 10px;
          font-size: 12px;
          &:nth-child(3),&:nth-child(4){
            margin-bottom: 10px;
          }
        }
      }
      .record{
        width: 100%;
        .record_wrapper{
          width: 100%;
          display: flex;
          justify-content: space-around;
          .record_item{
            background: #ffffff;
            padding: 0 5%;
            width: 90%;
            border-bottom: 1px solid #dddddd;
            height: 60px;
            .item-left{
              text-align: left;
              float: left;
              span{
                display: block;
                &:nth-child(1){
                  font-size: 1.3rem;
                  margin-top: 10px;
                }
                &:nth-child(2){
                  font-size: 1.5rem;
                  color: #888888;
                }
              }
            }
            .item-right{
              text-align: right;
              float: right;
              span{
                display: block;
                &:nth-child(1){
                  font-size: 1.3rem;
                  margin-top: 10px;
                }
                &:nth-child(2){
                  font-size: 1.5rem;
                  color: #888888;
                }
              }
            }
          }
        }
      }
    }
  }
}