@import "../include/base";
//body{
//  background: #ffffff!important;
//}
.mnyrecord{
  .content{
    width: 100%;
    position: absolute;
    top: 4.4rem;
    right: 0;
    left: 0;
    bottom: 0;
    .content-list{
      position: relative;
      height: 100%;
      .list-wrap{
        margin: 0px 1.1rem 1.1rem 1.1rem;
        background-color: #ffffff;
        font-size: 1.6rem;
        font-style: normal;
        box-sizing: border-box;
        a{
          display: inline-block;
          width: 100%;
          box-sizing: border-box;
          font-style: normal;
          font-size: inherit;
          padding: 1.1rem 3.3rem 1.1rem 1.6rem;
          p{
            font-style: normal;
            font-size: inherit;
            span,em{
              font-style: normal;
              font-size: inherit;
            }
            .red{
              color: red;
              padding: 0 2px;
            }
            .blue{
              color:#0894ec ;
            }
            .green{
              color:#4cd964
            }
          }
        }
      }
    }
  }
}