@import "../include/base";
.record_chess{
  height: 100%;
  width: 100%;
  position: absolute;
  .content{
    width: 100%;
    position: absolute;
    top: 4.4rem;
    right: 0;
    left: 0;
    bottom: 0;
    .content-card{
      display: flex;
      text-align: center;
      padding: 1.6rem;
      position: relative;
      margin: 1.1rem;
      background: #ececec;
      border-radius: .1rem;
      box-shadow: 0 0 4px 0px rgb(0 0 0 / 30%);
      font-size: 1.4rem;
      .c-c-item{
        flex-grow: 1;
        em{
          font-size: 1.6rem;
          font-style: normal;
        }
        p{
          font-size: 1.5rem;
        }
      }
    }
    .content-list{
      position: relative;
      height: 100%;
      .list-wrap{
        margin: 0px 1.1rem 1.1rem 1.1rem;
        background-color: #ffffff;
        font-size: 1.6rem;
        font-style: normal;
        box-sizing: border-box;
        a{
          display: inline-block;
          width: 100%;
          box-sizing: border-box;
          font-style: normal;
          font-size: inherit;
          padding: 1.1rem 3.3rem 1.1rem 1.6rem;
          p{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-style: normal;
            font-size: inherit;
            span,em{
              font-style: normal;
              font-size: inherit;
            }
            .red{
              color: red;
              padding: 0 2px;
            }
            .blue{
              color:#0894ec ;
            }
            &:first-child{
              font-size: 1.8rem;
              span{
                font-size: inherit;
              }
            }
          }
        }
      }
    }
    .content-list-detail{
      z-index: 3001!important;
      .detail-title{
        display: block;
        height: 4.6rem;
        line-height: 4.6rem;
        color: #ffffff;
        text-align: center;
        box-sizing: border-box;
        width: 100%;
        padding: 0 1rem;
        background-color: #ec2829;
        font-size: 1.6rem;
        position: relative;
        .title{
          font-size: inherit;
          color: inherit;
          display: inline-block;
        }
        .close{
          font-size: inherit;
          color: inherit;
          position: absolute;
          right: 1rem;
          display: inline-block;
        }
      }
      .reclrd-code{
        text-align: center;
        line-height: 4.5rem;
        font-size: 1.6rem;
        span{
          color: #292929;
          font-size: inherit;
          em{
            color: #cd0005;
            font-size: inherit;
          }
        }
      }
      .detail-content{
        width: 100%;
        table{
          width: 100%;
          tr{
            text-align: center;

            td{
              font-size: 1.5rem;
              border-bottom: 1px solid #e0e0dc;
            }
          }
          .bttd{
            text-align: center;
            background-color:#f2f2f0;
            line-height: 4.8rem;
            border-bottom: 1px solid #e0e0dc;
            outline: 0;
            width: 8rem;
          }

        }
      }
    }
  }
}