<template>
  <div class="shop">
    <header>
      <router-link to="/personal">
        <img src="../../assets/images/go-out.png" alt="">
      </router-link>
      <div>
        {{$t('product[12]')}}
      </div>
    </header>
    <div class="content">
      <table>
        <thead>
        <tr>
          <th>{{$t('product[8]')}}</th>
          <th>{{$t('product[6]')}}</th>
          <th>{{$t('product[9]')}}</th>
          <th>{{$t('product[10]')}}</th>
          <th>{{$t('product[11]')}}</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item, index) in auxiliaryList" :key="index">
          <td>{{item.auxiliaryname}}({{item.bought}}/{{item.auxiliarynum}})</td>
          <td>{{item.tasknum}}(+{{item.extra_tasknum}})</td>
          <td>{{item.amount}}</td>
          <td>{{ (item.tasknum + item.extra_tasknum) * item.unitprice}}</td>
          <td><button @click="userBuyAuxiliary(item.id,item.grade)">{{$t('product[13]')}}</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import '@/assets/css/shop.less'
import {Toast} from "vant";
export default {
  name: "assistShop",
  data(){
    return {
      auxiliaryList:[],
    }
  },
  created() {
    this.getAuxiliaryList()
  },
  mounted() {
  },
  methods:{
    getAuxiliaryList:function (){
      let params = {
        token:this.$store.state.token,
        lang:this.$store.state.lang,
      }
      this.$post('api/user/getAuxiliaryList',params,true).then(res=>{
        if(res.code == 1){
          this.auxiliaryList = res.data
        } else {
          Toast(res.code_dec)
        }
      })
    },
    userBuyAuxiliary:function (id,grade){
      let params = {
        token:this.$store.state.token,
        lang:this.$store.state.lang,
        id:id,
        grade:grade
      }
      this.$post('api/user/userBuyAuxiliary',params,true).then(res=>{
        Toast(res.code_dec)
      })
    },
  }
}
</script>

<style scoped>

</style>