<template>
  <div class="auditRecord">
    <header>
      <router-link to="/personal">
        <img src="../../assets/images/go-out.png" alt="">
      </router-link>
      <div>
        {{$t('task.default[0]')}}
      </div>
    </header>
    <div class="tabs">
      <van-tabs v-model="active" @click="getTaskOrderList">
        <van-tab :title="$t('task.tabs[0]')" name="1"></van-tab>
        <van-tab :title="$t('task.tabs[1]')" name="2"></van-tab>
        <van-tab :title="$t('task.tabs[2]')" name="3"></van-tab>
        <van-tab :title="$t('task.tabs[3]')" name="4"></van-tab>
      </van-tabs>
    </div>
    <div class="task-content">
      <div class="no-data" v-show="taskList.length == 0">
        <img src="../../assets/images/no_data.7d5de337.png" alt="">
      </div>
      <div class="list" v-for="(item, index) in taskList" :key="index"  @click="locaTaskShow(item)" v-show="taskList.length >= 1">
        <div class="img">
          <p>{{item.group_name}}</p>
          <p><img :src="item.icon" alt=""></p>
          <p><button>{{item.vip_dec}}</button></p>
        </div>
        <div class="font">
          <p><b>{{item.title}}</b></p>
          <p>{{$t('audit.default[1]')}}:{{item.o_username}}</p>
          <p>{{$t('audit.default[2]')}}:{{item.add_time}}</p>
          <p>{{$t('audit.default[3]')}}:{{item.add_time}}</p>
        </div>
        <div class="button">
          <p><span>{{item.status_dec}}</span></p>
          <p>{{$store.state.backData.currency}} <b>{{item.reward_price}}</b></p>
        </div>
      </div>
    </div>
    <footer_nav></footer_nav>
  </div>
</template>

<script>
import '@/assets/css/auditRecord.less'
import footer_nav from  '@/components/include/footer_nav'
import {Toast} from "vant";
export default {
  name: "auditRecord",
  data(){
    return {
      active:1,
      fileList:[],
      taskList:[],
    }
  },
  components:{
    footer_nav
  },
  created() {
    this.getTaskOrderList()
  },
  mounted() {
  },
  methods:{
    afterRead: function (file) {
      // 此时可以自行将文件上传至服务器
      file.status = 'uploading';
      file.message = this.$t('upload[0]');
      this.$forceUpdate()
      let formData = new FormData()
      formData.append('image', file.file)
      formData.append('token', this.$store.state.token)
      formData.append('type', '3')
      this.$file('api/User/UploadImg', formData).then(res => {
        if (res.code == 1) {
          file.status = 'done';
          file.message = this.$t('upload[2]');
          file.url = res.url;
          this.$forceUpdate()
        } else {
          file.status = 'failed';
          file.message = this.$t('upload[3]');
        }
      })
    },
    getTaskOrderList:function (name){
      this.taskList = []
      let params = {
        status:name || 1,
        page_no:1,
        is_u:1,
        token:this.$store.state.token,
        lang:this.$store.state.lang,
      }
      this.$post('api/task/taskOrderlist',params,true).then(res=>{
        if(res.code == 1){
          this.taskList = res.info
          for(let index in this.taskList){
            this.taskList[index].fileList = []
          }
        } else {
          Toast(res.code_dec)
        }
      })

    },
    locaTaskShow:function (item){
      this.$router.push({path:'/auditInfo',query:{id:item.order_id}})
    }
  }
}
</script>

<style scoped>

</style>