<template>
  <div class="auditInfo">
    <header>
      <router-link to="/auditRecord">
        <img src="../../assets/images/go-out.png" alt="">
      </router-link>
      <div>
        {{$t('task.info[0]')}}
      </div>
    </header>
    <div class="content">
      <div class="details" style="border-bottom:1px solid rgb(45, 52, 70)">
        <div class="info">{{$t('audit.info[1]')}}：{{taskData.title}}</div>
        <div class="info">{{$t('audit.info[2]')}}：{{$store.state.backData.currency}} <span>+{{taskData.reward_price}}</span></div>
        <div style="padding: 1rem 2rem" class="info"><b style="float: left">{{taskData.y_surplus_number}}{{$t('audit.tabs[2]')}}</b><b style="float: right">{{$t('audit.info[4]',{num:taskData.surplus_number})}}</b></div>
      </div>
      <div class="details">
        <div class="info">{{$t('audit.info[5]')}}：{{taskData.content}}</div>
        <div class="info">{{$t('audit.info[6]')}}：{{taskData.link_info}}</div>
        <div class="info">{{$t('audit.info[11]')}}：
          <img :src="item" alt="" v-for="(item, index) in taskData.examine_demo" :key="index">
        </div>
      </div>
      <div class="standard">
        <div class="header" style="border-bottom:1px solid rgb(45, 52, 70)">
          <div class="img">
            <img src="http://953848.com/xml/static/head/head_2.png" alt="">
          </div>
          <div class="font">
            <p>{{$t('audit.info[8]')}}</p>
            <p> {{taskData.j_username}} </p>
          </div>
          <span class="tip-date">{{taskData.add_time}}领取</span>
        </div>
        <div class="details">
          <div class="info">{{$t('audit.info[10]')}}：<span style="color: #f1c70d">{{taskData.o_status_dec}}</span></div>
          <div class="info">{{$t('audit.info[13]')}}：{{taskData.trial_time}}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {Toast} from "vant";
import '@/assets/css/auditInfo.less'
export default {
name: "auditInfo",
  data() {
    return {
      taskData:'',
    }
  },
  created() {
    this.getTaskorderinfo()
  },
  mounted() {
  },
  methods: {
    getTaskorderinfo:function (){
      let params = {
        order_id:this.$route.query.id,
        token:this.$store.state.token,
        lang:this.$store.state.lang,
      }
      this.$post('api/task/taskorderinfo',params,true).then(res=>{
        if(res.code == 1){
          this.taskData = res.info
        } else {
          Toast(res.code_dec)
        }
      })
    }
  }
}
</script>

<style scoped>

</style>