<template>
  <div class="balance">
    <header>
      <router-link to="/" class="go-out">
        <img src="../../assets/images/go-out.png" alt="">
      </router-link>
      <div>
        余额宝明细
      </div>
    </header>
    <div class="money-data">
      <div class="top">
        <div>总资产（元）</div>
        <div>余额宝</div>
        <div>总收益</div>
        <div>昨日收益</div>
      </div>
      <div class="bottom">
        <div>{{yuebao.data.balance}}</div>
        <div style="color: #2d850a;">{{yuebao.data.yuebao_balance}}</div>
        <div style="color: #b52424;">{{yuebao.data.total_revenue}}</div>
        <div style="color: #2d850a;">{{yuebao.data.total_revenue}}</div>
      </div>
    </div>
    <div class="line">
      <div class="title">余额转入（元）：</div>
      <div class="money">
        <input type="number" v-model="money" style="border:none;background: none;width: 100px;">
      </div>
    </div>
    <div class="line">
      <div class="title">预计收入（元）：</div>
      <div class="money">{{yujiNum}}</div>
    </div>
    <div class="product-list">
      <div class="list" v-for="(item, index) in yuebao.data.yuebao_product" :key="index" @click="yuji(item.id, index)">
        <div :class="{'active':ruIndex == index}" class="card">
          <div>{{item.title}} <br>
          <span style="color: #2d850a;">+{{item.lilv}}</span> <br>
          [定]{{item.time}}天
        </div>
        </div>
      </div>
    </div>
    <div class="button">
      <button @click="yuebaoRu()">转入</button>
      <router-link to="/balanceList"><button>转出</button></router-link>
    </div>
  </div>
</template>

<script>
import '@/assets/css/balance.less'
import {Toast} from "vant";
// import {Toast} from "vant";
export default {
  name: "balance",
  data(){
    return{
      yuebao:'',
      money:1000,
      ruIndex:0,
      id:0,
      yujiNum:0
    }
  },
  created() {
    // this.$router.push({path:'/balanceList'})
    this.getYuebaoList()
  },
  mounted() {
  },
  methods:{
    getYuebaoList:function (){
      let params = {
        token:this.$store.state.token,
        lang:this.$store.state.lang,
      }
      this.$post('api/Yuebao/getYuebaoList',params,true).then(res=>{
        this.yuebao = res
        this.id = this.yuebao.data.yuebao_product[0].id
        this.yuji(this.id ,0)
      })
    },
    yuji:function (id,index){
      this.ruIndex = index
      this.id = id
      let params = {
        price:this.money,
        lcid:id
      }
      this.$post('api/Yuebao/deposityj',params,true).then(res=>{
        this.yujiNum = res.data
      })
    },
    yuebaoRu:function (){
      let params = {
        token:this.$store.state.token,
        lang:this.$store.state.lang,
        price:this.money,
        lcid:this.id
      }
      this.$post('api/Yuebao/yuebaoRu',params,true).then(res=>{
        if(res.code == 1){
          this.getYuebaoList()
          Toast(res.code_dec)
        } else {
          Toast(res.code_dec)
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
