<template>
  <div class="balance">
    <header>
      <router-link to="/balance" class="go-out">
        <img src="../../assets/images/go-out.png" alt="">
      </router-link>
      <div>
        余额宝明细
      </div>
    </header>
    <div class="detail-list" v-if="yuEList.length > 0">
      <div class="list" v-for="(item , index) in yuEList" :key="index">
        <div class="title">
          <div class="left">产品名称</div>
          <div class="center">{{item.title}}</div>
        </div>
        <div class="money">
          <div class="left">存入金额</div>
          <div class="center">{{item.money}}</div>
        </div>
        <div class="money">
          <div class="left" v-if="item.is_qu == 0">预计收益</div>
          <div class="left" v-else>实际收益</div>
          <div class="center" style="width: 70%;">
            <span v-if="item.is_qu == 0">{{item.yuji_money}}</span>
            <span v-else>{{item.real_money}}</span>
          </div>
<!--          <div class="center" v-else-if="item.is_sy == -1" style="width: 70%;text-align: left;">未到期提取,未收益,并扣除手续费{{item.shouxu}}</div>-->
<!--          <div class="center" v-else-if="item.is_sy == 0" style="width: 70%;text-align: left;">理财中,提取无收益,并扣除手续费{{item.shouxu}}</div>-->
        </div>
        <div class="date">
          <div class="left">存入时间</div>
          <div class="center">{{item.start_time}}</div>
          <div class="right">
            <button v-if="item.is_qu == 0" @click="getOut(item.id,item.is_sy)">取出</button>
            <button v-else disabled style="background: gray">已取出</button>
          </div>
        </div>
      </div>
    </div>
    <div class="no-data" v-else style="text-align: center;padding-top: 100px;">
      <img src="../../assets/images/no_data.7d5de337.png" alt="">
      <br>
      <br>
      <span style="color: #ffffff;font-size: 1.6rem;">暂无数据</span>
    </div>
  </div>
</template>

<script>
import '@/assets/css/balance.less'
import {Toast, Dialog } from "vant";
export default {
  name: "balance",
  data(){
    return{
      yuEList:'',
      price:''
    }
  },
  created() {
    this.yuebaoChuGet()
  },
  mounted() {
  },
  methods:{
    yuebaoChuGet:function (){
      let params = {
        token:this.$store.state.token,
        lang:this.$store.state.lang,
      }
      this.$fetch('api/Yuebao/yuebaoChu',params,true).then(res=>{
        if(res.code == 1){
          let e = res.data.chu_list
          let commonTime = ''
          for(let index in e){
            let unixTimestamp = new Date( e[index].start_time * 1000 ) ;
            commonTime = unixTimestamp.toLocaleString();
            res.data.chu_list[index].start_time = commonTime
          }
          this.yuEList = res.data.chu_list
        }
      })
    },
    getOut:function (id,sy){
      let that = this
      if(sy == 1){
        Dialog.confirm({
          title: '提示',
          message: '当前产品收益正常，是否提取',
        })
            .then(() => {
              // on confirm
              that.yuebaoChuPost(id)
            })
            .catch(() => {
              // on cancel
            });
      } else {
        Dialog.confirm({
          title: '提示',
          message: '提前取出无收益并扣除手续费，是否提取',
        })
            .then(() => {
              that.yuebaoChuPost(id)
            })
            .catch(() => {
              // on cancel
            });
      }
    },
    yuebaoChuPost:function (id){
      let params = {
        token:this.$store.state.token,
        lang:this.$store.state.lang,
        Id:id
      }
      this.$post('api/Yuebao/yuebaoChu',params,true).then(res=>{
        this.yuebaoChuGet()
        Toast(res.code_dec)
      })
    },
  }
}
</script>

<style scoped>

</style>
