<template>
  <div class="bankCard">
    <header>
      <router-link to="/userInfo" class="go-out">
        <img src="../../assets/images/go-out.png" alt="">
      </router-link>
      <div>
        {{$t('bankCard.default[0]')}}
      </div>
    </header>
    <div v-show="!$store.state.userInfo.realname">
      <div class="tips">
        {{$t('bankCard.tips[0]')}}
      </div>
      <div class="button">
        <router-link to="/realName">
          <van-button type="info">{{$t('bankCard.default[1]')}}</van-button>
        </router-link>
      </div>
    </div>
    <div v-show="$store.state.userInfo.realname && backList.length < 1">
      <div class="tips">
        {{$t('bankCard.tips[1]')}}
      </div>
      <div class="input">
        <van-cell-group>
          <van-field v-model="realName" :label="$t('bankCard.label[0]')" :placeholder="$t('userSet.placeholder[0]')" />
          <van-field v-model="card_no" :label="$t('bankCard.label[2]')" :placeholder="$t('bankCard.label[2]')" />
          <van-field v-model="bank_name" :label="$t('bankCard.label[1]')" :placeholder="$t('bankCard.label[1]')"  readonly @click="bankShow = true"/>
        </van-cell-group>
      </div>
      <div class="button">
        <van-button type="info" @click="addBankCard">{{$t('bankCard.default[3]')}}</van-button>
      </div>
    </div>
    <div class="bank-list" v-show="backList.length >= 1">
      <div class="list" v-for="(item, index) in backList" :key="index">
        <div class="left"><van-icon name="card" /></div>
        <div class="right">
          <span>{{item.bank_name}}</span><br>
          <span>{{item.card_no}}</span>
        </div>
      </div>
      <div class="button">
        <van-button type="info" @click="backList = []">{{$t('bankCard.default[4]')}}</van-button>
      </div>
    </div>
    <van-popup v-model="bankShow" position="bottom" :style="{ height: '30.8rem' }" class="head-popup" >
      <div class="module">
        <van-picker
            show-toolbar
            :columns="columns"
            @confirm="onConfirm"
            @cancel="onCancel"
        />
      </div>
    </van-popup>
  </div>
</template>

<script>
import '@/assets/css/bankCard.less'
import { Toast } from 'vant'
export default {
  name: "bankCard",
  data(){
    return {
      realName:this.$store.state.userInfo.realname,
      card_no:'',
      bank_name:'',
      bank_id:'',
      columns: [],
      bankShow:false,
      backList:[]
    }
  },
  created() {
    this.getBankCardList()
  },
  mounted() {
    this.setColumns()
  },
  methods:{
    setColumns:function (){
      let list = this.$store.state.backData.BanksList
      for (let index in list){
       this.columns.push(list[index].bank)
      }
    },
    onConfirm(value, index) {
      this.bank_name = value
      this.bank_id = this.$store.state.backData.BanksList[index].bank_id
      this.bankShow = false
    },
    onCancel() {
      this.bankShow = false
    },
    addBankCard:function (){
      let params = {
        name:this.realName,
        bank_id:this.bank_id,
        bank_name:this.bank_name,
        card_no:this.card_no,
        token:this.$store.state.token,
        lang:this.$store.state.lang,
      }
      this.$post('api/Account/AddBankCard',params,true).then(res=>{
        if(res.code == 1){
          Toast(res.code_dec)
          this.getBankCardList()
        }
      })
    },
    getBankCardList:function (){
      let params = {
        token:this.$store.state.token,
        lang:this.$store.state.lang,
      }
      this.$post('api/Account/getBankCardList',params,true).then(res=>{
        if(res.code == 1){
          this.backList = res.data
        }
      })
    },
  }
}
</script>

<style scoped>

</style>