<template>
  <div class="credit">
    <header>
      <router-link to="/personal" class="go-out">
        <img src="../../assets/images/go-out.png" alt="">
      </router-link>
      <div>
        {{$t('credit[0]')}}
      </div>
    </header>
    <div class="content">
      <div id="myChart" :style="{width: '100%', height: '325px'}"></div>
    </div>
    <div class="info" style="padding: 0px 16px 16px;">
      <p v-html="$t('credit[3]')"></p>
    </div>
  </div>
</template>

<script>
import '@/assets/css/credit.less'

export default {
  name: "credit",
  data() {
    return {}
  },
  created() {
  },
  mounted() {
    this.drawLine()
  },
  methods: {
    drawLine: function () {
      // 基于准备好的dom，初始化echarts实例
      let myChart = this.$echarts.init(document.getElementById('myChart'))
      // 绘制图表
      let option = {
        series: [{
          type: 'gauge',
          axisLine: {
            lineStyle: {
              width: 15,
              color: [
                [0.3, '#1890ff'],
                [0.7, '#2fc25b'],
                [1, '#f04864']
              ]
            }
          },
          pointer: {
            itemStyle: {
              color: 'auto'
            }
          },
          axisTick: {
            distance: -30,
            length: 8,
            lineStyle: {
              color: '#fff',
              width: 1
            }
          },
          splitLine: {
            distance: -30,
            length: 15,
            lineStyle: {
              color: '#fff',
              width: 2
            }
          },
          axisLabel: {
            color: 'auto',
            distance: 5,
            fontSize: 12
          },
          detail: {
            valueAnimation: true,
            formatter: '{value}',
            color: 'auto'
          },
          data: [{
            value: this.$store.state.userInfo.credit
          }]
        }]
      };
      myChart.setOption(option);
    }
  }
}
</script>

<style scoped>

</style>