<template>
  <div class="dayReport">
    <header>
      <router-link to="/personal" class="go-out">
        <img src="../../assets/images/go-out.png" alt="">
      </router-link>
      <div>
        {{$t('dayReport[0]')}}
      </div>
    </header>
    <div class="title">
      <van-cell :title="$t('dayReport[1]') + 'IDR' + tableList.myTotalProfit" icon="cluster" value=""/>
    </div>
    <div class="earnings">
      <div class="module" v-for="(item, index) in earningsList" :key="index">
        <p>{{ item.title }}</p>
        <p>{{ item.text }}</p>
      </div>
    </div>
    <div class="title" style="margin-top: 1rem">
      <van-cell title="日结报表" icon="cluster" value="最近30天"/>
    </div>
    <div class="content">
      <table width="100%">
        <thead>
        <tr>
          <th>{{$t('dayReport[8]')}}</th>
          <th>{{$t('dayReport[9]')}}</th>
          <th>{{$t('dayReport[10]')}}</th>
          <th>{{$t('dayReport[11]')}}</th>
          <th>{{$t('dayReport[12]')}}</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item, index) in tableList.daily" :key="index">
          <td>{{item.count}}</td>
          <td>{{item.task}}</td>
          <td>{{item.branch}}</td>
          <td>{{item.consume}}</td>
          <td>{{item.date}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import '@/assets/css/dayReport.less'
import {Toast} from "vant";
export default {
  name: "dayReport",
  data() {
    return {
      earningsList: [
        {
          title: this.$t('dayReport[2]') + '(' + this.$t('dayReport[6]') + ')',
          text: '0.00'
        },
        {
          title: this.$t('dayReport[3]') + '(IDR)',
          text: '0.00'
        },
        {
          title: this.$t('dayReport[4]') + '(' + this.$t('dayReport[6]') + ')',
          text: '0.00'
        },
        {
          title: this.$t('dayReport[5]') + '(IDR)',
          text: '0.00'
        },
      ],
      tableList:[]
    }
  },
  created() {
    this.getDailyReport()
  },
  mounted() {
  },
  methods: {
    getDailyReport:function (){
      let params = {
        token:this.$store.state.token,
        lang:this.$store.state.lang,
      }
      this.$post('api/user/dailyReport',params,true).then(res=>{
        if(res.code == 1){
          this.tableList = res.data
          this.earningsList[0].text = res.data.myTaskFinish
          this.earningsList[1].text = res.data.myTaskProfit
          this.earningsList[2].text = res.data.branchTaskFinish
          this.earningsList[3].text = res.data.branchTaskProfit
        } else {
          Toast(res.code_dec)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>