<template>
  <div class="mytask">
    <header>
      <router-link to="/">
        <img src="../../assets/images/go-out.png" alt="">
      </router-link>
      <div>
        {{$t('fundRecord.default[1]')}}
      </div>
    </header>
    <div class="tabs">
      <van-tabs v-model="active" @click="getTabs">
        <van-tab :title="$t('fundRecord.tabs[0]')" name="1"></van-tab>
        <van-tab :title="$t('fundRecord.tabs[1]')" name="2"></van-tab>
        <van-tab :title="$t('fundRecord.tabs[2]')" name="3"></van-tab>
      </van-tabs>
    </div>
    <div class="task-content">
      <div class="content">
        <div class="no-data" v-show="list.length < 1">
          <img src="../../assets/images/no_data.7d5de337.png" alt="">
        </div>
        <div class="list" v-for="(item, index) in list" :key="index" v-show="list.length >= 1">
          <div class="title">
            <div class="circle-1" v-show="tabsType == 1">{{$t('fundRecord.default[4]')}}</div>
            <div class="circle-2" v-show="tabsType == 2">{{$t('fundRecord.default[5]')}}</div>
            <div class="circle-3" v-show="tabsType == 3">{{$t('fundRecord.default[3]')}}</div>
          </div>
          <div class="order" v-if="tabsType != 3">
            <p>{{item.trade_number2}}</p>
            <p>{{item.jj}}{{item.trade_amount}}</p>
          </div>
          <div class="date" v-if="tabsType != 3">
            <p>{{item.trade_time}}</p>
            <p>{{item.remarks}}</p>
          </div>
          <div class="order" v-if="tabsType == 3">
            <p>{{item.dan2}}</p>
            <p>+{{item.money}}</p>
          </div>
          <div class="date" v-if="tabsType == 3">
            <p>{{item.adddate}}</p>
            <p>{{item.status_desc}}</p>
          </div>
        </div>
      </div>
      <div class="tips">
        {{$t('vanPull[0]')}}
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/mytask.less'
import {Toast} from "vant";
export default {
  name: "fundRecord",
  data() {
    return {
      active: 1,
      list:[],
      tabsType:1,
    }
  },
  created() {
    this.getTabs(1)
  },
  mounted() {
  },
  methods: {
    getTabs:function (name){
      this.tabsType = name
      let url = 'api/Transaction/FundDetails'
      this.list = []
      let params = {
        page_no:1,
        lang:this.$store.state.lang,
        token:this.$store.state.token,
      }
      if(name == 3){
        url = 'api/Transaction/getRechargeRecord'
        params.state = 0
      } else if(name == 1){
        params.trade_type = 4
      } else if(name == 2){
        params.trade_type = 3
      }
      this.$post(url,params,true).then(res=>{
        if(res.code == 1){
          if(name != 3){
            for (let index in res.list) {
              if (res.list[index].trade_number.length > 16) {
                res.list[index].trade_number2 = res.list[index].trade_number.substring(0, 16) + '...'
              }
            }
            this.list = res.list
          } else {
            for (let index in res.info) {
              if (res.info[index].dan.length > 16) {
                res.info[index].dan2 = res.info[index].dan.substring(0, 16) + '...'
              }
            }
            this.list = res.info
          }
        } else {
          Toast(res.code_dec)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>