<template>
  <div class="user">
    <header>{{$t('user.default[0]')}}：8</header>
    <div class="user-info">
      <div class="head-img">
        <img :src='"./static/head/"+$store.state.userInfo.header' alt="">
      </div>
      <div class="font">
        <p>{{$t('user.default[1]')}}：{{$store.state.userInfo.username}} </p>
        <p>{{$t('user.default[2]')}}：{{$store.state.userInfo.uid}}</p>
      </div>
      <div class="go-out" @click="logout">
        <img src="../../assets/images/logout.png" alt="">
        <br>
        {{$t('user.default[3]')}}
      </div>
    </div>
    <div class="money">
      <div class="module">
        <div class="top">
          {{$t('user.default[4]')}}： <b>{{$store.state.userInfo.balance}}</b>{{$store.state.backData.currency}} <button><router-link to="/wallet">{{$t('user.default[6]')}}</router-link></button>
        </div>
        <div class="bottom">
          <van-steps :active="active">
            <van-step>{{$t('user.default[7]')}}</van-step>
            <van-step>{{$t('user.default[8]')}}</van-step>
            <van-step>{{$t('user.default[9]')}}</van-step>
            <van-step>{{$t('user.default[10]')}}</van-step>
          </van-steps>
        </div>
      </div>
    </div>
    <div class="earnings">
      <div class="module" v-for="(item, index) in earningsList" :key="index">
        <p>{{$t('user.myEarnings.grid['+index+']')}}</p>
        <p>{{item.text}}</p>
      </div>
    </div>
    <div class="task-menu">
      <div class="menu">
        <router-link to="/myTask">
          <img src="../../assets/images/record_list.png" alt="">
          <br>
          {{$t('user.menu[0]')}}
        </router-link>
      </div>
      <div class="menu">
        <router-link to="/auditRecord">
          <img src="../../assets/images/record_list.png" alt="">
          <br>
          {{$t('user.menu[1]')}}
        </router-link>
      </div>
      <div class="menu">
        <router-link to="/postRecord">
          <img src="../../assets/images/record_list.png" alt="">
          <br>
          {{$t('user.menu[2]')}}
        </router-link>
      </div>
    </div>
    <div class="user-menu">
      <router-link to="/userInfo">
        <p>
          <img src="../../assets/images/center_001.png" alt="">
          <br>
          <span>{{$t('user.menu[3]')}}</span>
        </p>
      </router-link>
<!--      <router-link to="/">-->
<!--        <p>-->
<!--          <img src="../../assets/images/center_002.png" alt="">-->
<!--          <br>-->
<!--          <span>账号绑定</span>-->
<!--        </p>-->
<!--      </router-link>-->
      <router-link to="/dayReport">
        <p>
          <img src="../../assets/images/center_003.png" alt="">
          <br>
          <span>{{$t('user.menu[5]')}}</span>
        </p>
      </router-link>
      <router-link to="/fundRecord">
        <p>
          <img src="../../assets/images/center_004.png" alt="">
          <br>
          <span>{{$t('user.menu[6]')}}</span>
        </p>
      </router-link>
      <router-link to="/promote">
        <p>
          <img src="../../assets/images/center_005.png" alt="">
          <br>
          <span>{{$t('user.menu[7]')}}</span>
        </p>
      </router-link>
      <router-link to="/teamReport">
        <p>
          <img src="../../assets/images/center_009.png" alt="">
          <br>
          <span>{{$t('user.menu[8]')}}</span>
        </p>
      </router-link>
      <router-link to="/service">
        <p>
          <img src="../../assets/images/center_010.png" alt="">
          <br>
          <span>{{$t('user.menu[9]')}}</span>
        </p>
      </router-link>
      <router-link to="/credit">
        <p>
          <img src="../../assets/images/center_012.png" alt="">
          <br>
          <span>{{$t('user.menu[10]')}}</span>
        </p>
      </router-link>
<!--      <router-link to="/shop">-->
<!--        <p>-->
<!--          <img src="../../assets/images/center_012.png" alt="">-->
<!--          <br>-->
<!--          <span>商店</span>-->
<!--        </p>-->
<!--      </router-link>-->
      <router-link to="/assistShop">
        <p>
          <img src="../../assets/images/center_014.png" alt="">
          <br>
          <span>{{$t('product[12]')}}</span>
        </p>
      </router-link>
      <router-link to="/progressTasks">
        <p>
          <img src="../../assets/images/center_015.png" alt="">
          <br>
          <span>{{$t('product[0]')}}</span>
        </p>
      </router-link>
      <a :href="$store.state.backData.setting.reg_url">
        <p>
          <img src="../../assets/images/center_013.png" alt="">
          <br>
          <span>{{$t('user.menu[11]')}}</span>
        </p>
      </a>
    </div>
    <footer_nav></footer_nav>
  </div>
</template>

<script>
import '@/assets/css/personal.less'
import footer_nav from "@/components/include/footer_nav";
import {Toast} from "vant";
export default {
name: "user",
  data(){
    return {
      active:0,
      earningsList:[
        {
          title:'个人余额(USDT)',
          text:this.$store.state.userInfo.balance
        },
        {
          title:'昨日收益(USDT)',
          text:this.$store.state.userInfo.yesterday_earnings
        },
        {
          title:'今日收益(USDT)',
          text:this.$store.state.userInfo.today_earnings
        },
        {
          title:'本周收益(USDT)',
          text:this.$store.state.userInfo.week_earnings
        },
        {
          title:'本月收益(USDT)',
          text:this.$store.state.userInfo.month_earnings
        },
        {
          title:'上月收益(USDT)',
          text:this.$store.state.userInfo.last_month_earnings
        },
        {
          title:'总收益(USDT)',
          text:this.$store.state.userInfo.total_profit
        },
        {
          title:'今日完成任务(单)',
          text:this.$store.state.userInfo.today_o_num
        },
        {
          title:'今日剩余任务(单)',
          text:this.$store.state.userInfo.today_s_o_num
        },
      ],
    }
  },
  components:{
    footer_nav
  },
  created() {
    this.getUserInfo()
    this.setCredit()
  },
  mounted() {
  console.log(this.$store.state.userInfo)
  },
  methods:{
    logout:function (){
      let params = {
        lang:this.$store.state.lang,
        token:this.$store.state.token,
      }
      this.$post('api/User/Logout',params,true).then(res=>{
        this.$store.commit('pushIsLogin',false)
        localStorage.setItem("username",'false');
        localStorage.setItem("password",'false');
        this.$router.push({path:'/'})
        Toast(res.code_dec)
      })
    },
    getUserInfo:function (){
      let params = {
        lang:this.$store.state.lang,
        token:this.$store.state.token,
      }
      this.$post('api/user/getUserInfo',params,true).then(res=>{
        if(res.code == 1){
          this.$store.commit('pushUserInfo',res.info)
        }
      })
    },
    setCredit:function (){
      if(this.$store.state.userInfo.credit < 1){
        this.active = 0
      } else if(this.$store.state.userInfo.credit > 1 && this.$store.state.userInfo.credit < 51){
        this.active = 1
      } else if(this.$store.state.userInfo.credit > 51 && this.$store.state.userInfo.credit < 100){
        this.active = 2
      } else{
        this.active = 3
      }
    },
  }
}
</script>

<style scoped>

</style>
