<template>
  <div class="postTask">
    <header>
      <router-link to="/personal">
        <img src="../../assets/images/go-out.png" alt="">
      </router-link>
      <div>
        {{$t('postRecord[0]')}}
      </div>
      <router-link to="/postTask" style="right: 1rem;color: #bbb;width: 3rem;left: auto;">
        {{$t('postRecord[1]')}}
      </router-link>
    </header>
    <div class="tabs">
      <van-tabs v-model="active" @click="getTaskList">
        <van-tab :title="item.group_name" v-for="(item, index) in $store.state.backData.taskclasslist" :key="index" :name="item.group_id"></van-tab>
      </van-tabs>
    </div>
    <div class="task-content">
      <div class="no-data"  v-show="taskList.length == 0">
        <img src="../../assets/images/no_data.7d5de337.png" alt="">
      </div>
      <div class="list" v-for="(item, index) in taskList" :key="index"  v-show="taskList.length >= 1">
        <div class="img">
          <p><img :src="item.icon" alt=""></p>
          <p><button>{{item.vip_dec}}</button></p>
        </div>
        <div class="font">
          <p style="color: #ffffff">{{item.title}}</p>
          <p>{{$t('postRecord[2]')}}:<span style="margin-right: 2rem">{{item.total_number}}</span>{{$t('postRecord[3]')}}:<span>{{item.total_number - item.surplus_number}}</span></p>
          <p>{{$t('postRecord[4]')}}:{{item.end_time}}</p>
        </div>
        <div class="info">
          <p><span>{{item.status_dec}}</span></p>
          <p>USDT <b>1</b></p>
        </div>
        <div class="button" v-if="item.status != 5">
          <span v-if="item.status == 1"><button @click="locaPostTask(item)">{{$t('postRecord[7]')}}</button><button @click="revokeTask(item)" style="background: none">{{$t('postRecord[6]')}}</button></span>
          <span v-if="item.status == 3"><button @click="locaPostRecord(item)">{{$t('postRecord[5]')}}</button></span>
        </div>
      </div>
      <div class="tips">
        {{$t('vanPull[0]')}}
      </div>
    </div>
    <footer_nav></footer_nav>
  </div>
</template>

<script>
import '@/assets/css/postRecord.less'
import footer_nav from '@/components/include/footer_nav'
import {Toast} from "vant";

export default {
  name: "postRecord",
  data() {
    return {
      active: 1,
      taskList: [],
    }
  },
  components: {
    footer_nav
  },
  created() {
    this.getTaskList()
    console.log(this.$store.state.backData.taskclasslist)
  },
  mounted() {
  },
  methods: {
    getTaskList:function (name){
      this.taskList = []
      let params = {
        group_id:name || this.$store.state.backData.taskclasslist[0].group_id,
        task_level:this.$route.query.level_id,
        page_no:1,
        is_u:1,
        token:this.$store.state.token,
        lang:this.$store.state.lang,
      }
      this.$post('api/task/getTaskList',params,true).then(res=>{
        this.taskList = res.info
      })
    },
    revokeTask:function (item){
      let params = {
        id:item.task_id,
        token:this.$store.state.token,
        lang:this.$store.state.lang,
      }
      this.$post('api/task/revokeTask',params,true).then(res=>{
        Toast(res.code_dec)
        this.getTaskList()
      })
    },
    locaPostRecord:function (item){
      this.$router.push({path:'/auditRecord',query:{id:item.task_id}})
    },
    locaPostTask:function (item){
      this.$router.push({path:'/postTask',query:{id:item.task_id}})
    },
  }
}
</script>

<style scoped>

</style>