<template>
  <div class="progress">
    <header>
      <router-link to="/personal">
        <img src="../../assets/images/go-out.png" alt="">
      </router-link>
      <div>
        {{$t('product[0]')}}
      </div>
    </header>
    <div class="content">
      <div class="list">
        <div class="title">{{$t('product[1]')}}：<label>{{$store.state.userInfo.username}} </label></div>
      </div>
      <div class="list">
        <div class="title">{{$t('product[2]')}}：<label>{{$store.state.userInfo.balance}}</label></div>
      </div>
      <div class="list">
        <div class="title">{{$t('product[3]')}}<label>（{{$t('product[4]')}}：{{taskschedule.user_task.auxiliary}}）</label></div>
      </div>
      <div class="list2" v-for="(item, index) in taskschedule.auxiliary_task" :key="index">
        <div class="list">
          <div class="title">{{item.auxiliaryname}}（{{item.auxiliaryno}}）</div>
          <div class="button"><button @click="userResetAuxiliary(item.id,item.aid,item.auxiliaryno)">{{$t('product[5]')}}</button></div>
        </div>
        <div class="list">
          <div class="title2">{{$t('product[6]')}}：<label>{{item.done}}/{{item.tasknum}}</label></div>
        </div>
        <div class="list">
          <div class="title2">{{$t('product[7]')}}：<label>{{item.everyday_done}}/{{item.everyday}}</label></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/progress.less'
import {Toast} from "vant";
export default {
  name: "progressTasks",
  data(){
    return {
      taskschedule:{}
    }
  },
  created() {
    this.getTaskschedule()
  },
  mounted() {
  },
  methods:{
    getTaskschedule:function (){
      let params = {
        token:this.$store.state.token,
        lang:this.$store.state.lang,
      }
      this.$post('api/user/taskschedule',params,true).then(res=>{
        this.taskschedule = res
      })
    },
    userResetAuxiliary:function (id,aid,auxiliaryno){
      let params = {
        token:this.$store.state.token,
        lang:this.$store.state.lang,
        grade:id,
        aid:aid,
        auxiliaryno:auxiliaryno,
      }
      this.$post('api/user/userResetAuxiliary',params,true).then(res=>{
        Toast(res.code_dec)
        this.getTaskschedule()
      })
    },
  }
}
</script>

<style scoped>

</style>