<template>
  <div class="bankCard">
    <header>
      <router-link to="/userInfo" class="go-out">
        <img src="../../assets/images/go-out.png" alt="">
      </router-link>
      <div>
        {{$t('userSet.default[0]')}}
      </div>
    </header>
    <div class="input">
      <van-cell-group>
        <van-field v-model="realname" label="真实姓名" :placeholder="$t('userSet.placeholder[0]')" :readonly="$store.state.userInfo.realname != ''" />
      </van-cell-group>
    </div>
    <div class="button">
      <van-button type="info" @click="setRealName" :disabled="$store.state.userInfo.realname != ''">{{$t('userSet.default[3]')}}</van-button>
    </div>
  </div>
</template>

<script>
import '@/assets/css/bankCard.less'
import {Toast} from "vant";
export default {
  name: "realname",
  data(){
    return {
      realname:this.$store.state.userInfo.realname
    }
  },
  created() {
  },
  mounted() {
  },
  methods:{
    setRealName:function () {
      let params = {
        realname:this.realname,
        token:this.$store.state.token,
        lang:this.$store.state.lang,
      }
      this.$post('api/User/setuserinfo',params,true).then((res) => {
        if(res.code == 1){
          Toast(res.code_dec)
          this.$store.state.userInfo.realname = this.realname
        } else {
          Toast(res.code_dec)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>