<template>
  <div class="recharge">
    <header>
      <router-link to="/wallet" class="go-out">
        <img src="../../assets/images/go-out.png" alt="">
      </router-link>
      <div>
        {{$t('recharge.default[0]')}}
      </div>
      <router-link to="/wallet" class="right-a">{{$t('recharge.default[2]')}}</router-link>
    </header>
    <div class="one" v-show="rechargeStep == 1">
      <div class="tips">
        {{$t('recharge.default[3]',{money:$store.state.backData.currency + $store.state.userInfo.balance})}}
      </div>
      <div class="recharge-list" v-for="(item, index) in rechargeList" :key="index">
        <div class="list" @click="selectBank(item)">
          <div class="img"><img :src="item.submitUrl" alt=""></div>
          <div class="font">
            <p>{{item.name}}</p><p> {{$t('recharge.default[4]',{currency:$store.state.backData.currency ,min:item.minPrice ,max:item.maxPrice ,fee:item.fee})}} </p>
          </div>
          <div class="icon"><van-icon name="arrow" /></div>
        </div>
      </div>
    </div>
    <div class="two" v-show="rechargeStep == 2">
      <div class="input">
        <van-cell-group>
          <van-field v-model="rechargeData.money" :label="$t('recharge.label[0]')" :placeholder="$t('recharge.placeholder[0]')" />
          <van-field v-model="rechargeData.name" :label="$t('recharge.label[2]')" :placeholder="$t('recharge.placeholder[2]')" />
        </van-cell-group>
      </div>
      <div class="button">
        <van-button type="info" @click="newRechargeOrder()">{{$t('recharge.default[6]')}}</van-button>
        <van-button type="default" @click="stepData(1)">{{$t('recharge.default[7]')}}</van-button>
      </div>
    </div>
    <div class="three" v-show="rechargeStep == 3">
      <div class="recharge-info">
        <van-cell-group>
          <van-cell :title="$t('recharge.info[0]')">
            {{$store.state.backData.currency}}<b>{{rechargeSuccessData.money}}</b >
          </van-cell>
          <van-cell :title="$t('recharge.info[1]')">
            {{rechargeSuccessData.orderNumber}}<button style="float: right" class="copy" :data-clipboard-text="rechargeSuccessData.orderNumber" @click="copy('.copy')">{{$t('recharge.info[5]')}}</button>
          </van-cell>
        </van-cell-group>
        <div class="tips">
          <span>{{$t('recharge.tips[0]')}}</span>
        </div>
        <div class="card">
          <div class="module" v-for="(item, index) in rechargeSuccessData.receive" :key="index">
            <div class="title">
              <span>{{$t('recharge.info[6]',{type:item.typeName})}}</span>
              <br>
              <span>{{$t('recharge.tips[2]')}}</span>
            </div>
            <div class="detailed">
              <div class="list">
                <div>{{$t('recharge.info[4]')}}</div>
                <div>{{item.name}}</div>
                <div><button class="copy" :data-clipboard-text="1111111111111" @click="copy('.copy')">{{$t('recharge.info[5]')}}</button></div>
              </div>
              <div class="list">
                <div>{{$t('recharge.info[2]')}}</div>
                <div>{{item.qrcode}}</div>
                <div><button class="copy" :data-clipboard-text="22222222222" @click="copy('.copy')">{{$t('recharge.info[5]')}}</button></div>
              </div>
              <div class="list">
                <div>{{$t('recharge.info[3]')}}</div>
                <div>{{item.account}}</div>
                <div><button class="copy" :data-clipboard-text="3333333333" @click="copy('.copy')">{{$t('recharge.info[5]')}}</button></div>
              </div>
            </div>
          </div>
        </div>
        <div class="tips" style="text-align: left">
          {{$t('recharge.tips[3]')}}
        </div>
        <div class="tips">
          {{$t('recharge.tips[5]')}}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/recharge.less'
import Clipboard from "clipboard";
import {Toast} from "vant";
export default {
  name: "recharge",
  data(){
    return{
      rechargeStep:1,
      rechargeList:'',
      rechargeData:{
        money:'',
        name:''
      },
      bankData:'',
      rechargeSuccessData:'',
    }
  },
  created() {
    this.getRechargeRecord()
    if(this.$route.query.id){
      this.rechargeStep = 3
      this.getRechargeInfo()
    }
  },
  mounted() {
  },
  methods:{
    stepData:function (num){
      this.rechargeStep = num
    },
    copy:function (ify){
      let clipboard = new Clipboard(ify)
      clipboard.on('success', e => {
        Toast(this.$t('dialog[3]'));
        console.log(e);
        // 释放内存
        clipboard.destroy()
      })
      clipboard.on('error', e => {
        // 不支持复制
        console.log(e);
        // 释放内存
        clipboard.destroy()
      })
    },
    getRechargeRecord:function (){
      let params = {
        type:'app',
        token:this.$store.state.token,
        lang:this.$store.state.lang,
      }
      this.$post('api/Transaction/getRechargetype',params,true).then(res=>{
        if(res.code == 1){
          this.rechargeList = res.info
        } else {
          Toast(res.code_dec)
        }
      })
    },
    selectBank:function (data){
      this.stepData(2)
      this.bankData = data
    },
    newRechargeOrder:function (){
      this.rechargeSuccessData = ''
      let params = {
        money:this.rechargeData.money,
        recharge_id:this.bankData.id,
        name:this.rechargeData.name,
        token:this.$store.state.token,
        lang:this.$store.state.lang,
      }
      this.$post('api/Recharge/newRechargeOrder',params,true).then(res=>{
        if(res.code == 1){
          this.rechargeStep = 3
          this.rechargeSuccessData = res
          Toast(res.code_dec)
        } else {
          Toast(res.code_dec)
        }
      })
    },
    getRechargeInfo:function (){
      this.rechargeSuccessData = ''
      let params = {
        orderNumber:this.$route.query.id,
        token:this.$store.state.token,
        lang:this.$store.state.lang,
      }
      this.$post('api/Recharge/getRechargeInfo',params,true).then(res=>{
        if(res.code == 1){
          this.rechargeSuccessData = res
        } else {
          Toast(res.code_dec)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>