<template>
  <div class="shop">
    <header>
      <router-link to="/personal">
        <img src="../../assets/images/go-out.png" alt="">
      </router-link>
      <div>
        商店
      </div>
    </header>
    <div class="content">
      <table>
        <thead>
        <tr>
          <th>任务等级</th>
          <th>任务次数</th>
          <th>价格</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item, index) in gradeList" :key="index">
          <td><img :src="item.vip_img_url" alt="">({{item.bought}}/{{item.auxiliarynum}})</td>
          <td>{{item.tasknum}}(+{{item.extra_tasknum}})</td>
          <td>{{item.amount}}</td>
          <td><button @click="userBuyVip2(item.grade)">购买</button></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import '@/assets/css/shop.less'
import { Toast } from 'vant'
export default {
  name: "shop",
  data() {
    return {
      gradeList:[]
    }
  },
  created() {
    this.getGradeList()
  },
  mounted() {
  },
  methods: {
    getGradeList:function (){
      let params = {
        token:this.$store.state.token,
        lang:this.$store.state.lang,
      }
      this.$post('api/user/getGradeList',params,true).then(res=>{
        this.gradeList = res
      })
    },
    userBuyVip2:function (id){
      let params = {
        token:this.$store.state.token,
        lang:this.$store.state.lang,
        grade:id
      }
      this.$post('api/user/userBuyVip2',params,true).then(res=>{
        Toast(res.code_dec)
      })
    },
  }
}
</script>

<style scoped>

</style>