<template>
  <div class="teamReport">
    <header>
      <router-link to="/personal" class="go-out">
        <img src="../../assets/images/go-out.png" alt="">
      </router-link>
      <div>
        {{$t('teamReport.tabs[0]')}}
      </div>
    </header>
    <div class="tabs">
      <van-tabs v-model="active1">
        <van-tab :title="$t('teamReport.tabs[0]')">
          <div class="select-date">
            <input class="date-input" readonly="readonly" @click="dateSelect(1)" v-model="date.start" type="text">
            <span class="line">—</span>
            <input class="date-input" readonly="readonly" @click="dateSelect(2)" v-model="date.end" type="text">
            <button class="search" @click="getTeamReport">{{$t('teamReport.default[0]')}}</button>
          </div>
          <div class="earnings">
            <div class="module" v-for="(item, index) in earningsList" :key="index">
              <p>{{ item.title }}</p>
              <p>{{ item.text }}</p>
            </div>
          </div>
          <div class="tabs" style="margin-top: 1rem">
            <van-tabs v-model="active2">
              <van-tab :title="$t('teamReport.team[0]')">
                <div class="earnings">
                  <div class="module" v-for="(item, index) in earningsList" :key="index" style="width: 33.3%">
                    <p>{{ item.title }}</p>
                    <p>{{ item.text }}</p>
                  </div>
                </div>
              </van-tab>
              <van-tab :title="$t('teamReport.team[1]')"></van-tab>
              <van-tab :title="$t('teamReport.team[2]')"></van-tab>
            </van-tabs>
          </div>
        </van-tab>
        <van-tab :title="$t('teamReport.tabs[1]')">
          <div class="select-date">
            <input class="date-input" readonly="readonly" @click="dateSelect(1)" v-model="date.start" type="text">
            <span class="line">—</span>
            <input class="date-input" readonly="readonly" @click="dateSelect(2)" v-model="date.end" type="text">
            <button class="search" @click="getTeamReport">{{$t('teamReport.default[0]')}}</button>
          </div>
          <div class="content">
            <div class="user-level">
              <span v-for="(item,index) in levelList" :key="index">
                <a v-if="item == $store.state.userInfo.userid" href="javascript:void(0)" @click="pveTeamReport(item,'up')">{{$t('teamReport.default[10]')}}</a>
                <a v-else href="javascript:void(0)" @click="pveTeamReport(item,'up')" :class="{'last-color':(index+1) == levelList.length}">{{ item }}</a>
                <b v-show="(index+1) < levelList.length">></b>
              </span>
            </div>
            <table width="100%">
              <thead>
                <tr>
                  <th>{{$t('teamReport.default[11]')}}</th><th>{{$t('teamReport.default[12]')}}</th><th>{{$t('teamReport.default[13]')}}</th><th>{{$t('teamReport.default[14]')}}</th><th>{{$t('teamReport.default[15]')}}</th>
                </tr>
              </thead>
              <tbody>
              <tr v-for="(item, index) in teamReportData.teamData" :key="index">
                <td @click="pveTeamReport(item.id)">{{item.id}}</td>
                <td>{{item.recharge || 0.00}}</td>
                <td>{{item.withdrawal || 0.00}}</td>
                <td>{{item.rebate || 0.00}}</td>
                <td>{{item.pump || 0.00}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </van-tab>
      </van-tabs>
    </div>
    <van-popup v-model="dateShow" position="bottom" :style="{ height: '40%' }">
      <van-datetime-picker
          v-model="currentDate"
          type="date"
          :min-date="minDate"
          :max-date="maxDate"
          @confirm="inputDate"
      />
    </van-popup>
  </div>
</template>

<script>
import '@/assets/css/teamReport.less'
import {Toast} from "vant";

export default {
  name: "teamReport",
  data() {
    return {
      active1: 0,
      active2: 0,
      minDate: new Date(2020, 0, 1),
      maxDate: new Date(2031, 10, 1),
      currentDate: new Date(),
      dateShow: false,
      date: {
        start: '',
        end: '',
        type: 1
      },
      earningsList: [
        {
          title: this.$t('teamReport.default[3]') + '(USDT)',
          text: '0.00'
        },
        {
          title: this.$t('teamReport.default[4]') + '(USDT)',
          text: '0.00'
        },
        {
          title: this.$t('teamReport.default[5]') + '(个)',
          text: '0.00'
        },
        {
          title: this.$t('teamReport.default[6]') + '(个)',
          text: '0.00'
        },
        {
          title: this.$t('teamReport.default[7]') + '(个)',
          text: '0.00'
        },
        {
          title: this.$t('teamReport.default[8]') + '(个)',
          text: '0.00'
        },
      ],
      teamReportData: '',
      levelList:[this.$store.state.userInfo.userid],
    }
  },
  components: {},
  created() {
    this.getTeamReport()
  },
  mounted() {
    this.date.start = this.timeFormat(new Date())
    this.date.end = this.timeFormat(new Date())
  },
  methods: {
    inputDate: function () {
      let date = this.timeFormat(this.currentDate)
      if (this.date.type == 1) {
        this.date.start = date
      } else {
        this.date.end = date
      }
      this.dateShow = false
    },
    dateSelect: function (type) {
      this.dateShow = true
      this.date.type = type
    },
    timeFormat: function (time) {
      console.log(time)
      let year = time.getFullYear();
      let month = time.getMonth() + 1;
      let day = time.getDate();
      return year + '-' + month + '-' + day
    },
    getTeamReport: function () {
      this.teamReportData = []
      let params = {
        startdate: this.date.start,
        enddate: this.date.end,
        token: this.$store.state.token,
        lang: this.$store.state.lang,
      }
      this.$post('api/user/teamReport', params, true).then(res => {
        if (res.code == 1) {
          this.teamReportData = res
          this.earningsList[0].text = this.teamReportData.teamRecharge
          this.earningsList[1].text = this.teamReportData.teamWithdrawal
          this.earningsList[2].text = this.teamReportData.firstRechargeToday
          this.earningsList[3].text = this.teamReportData.directlyUnder
          this.earningsList[4].text = this.teamReportData.teamNumber
          this.earningsList[5].text = this.teamReportData.newReg
        } else {
          Toast(res.code_dec)
        }
      })
    },
    pveTeamReport: function (id,type) {
      let params = {
        pve_id:id,
        startdate: this.date.start,
        enddate: this.date.end,
        token: this.$store.state.token,
        lang: this.$store.state.lang,
      }
      this.$post('api/user/teamReport', params, true).then(res => {
        if (res.code == 1) {
          this.teamReportData = res
          if(type =='up'){
            let data = []
            for(let index in this.levelList){
              if(this.levelList[index] <= id){
                data.push(this.levelList[index])
              }
            }
            this.levelList = data
          } else {
            this.levelList.push(id)
          }
        } else {
          Toast(res.code_dec)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>