<template>
  <div class="bankCard">
    <header>
      <router-link to="/userInfo" class="go-out">
        <img src="../../assets/images/go-out.png" alt="">
      </router-link>
      <div>
        {{$t('userInfo.default[10]')}}
      </div>
    </header>
    <div class="input">
      <van-cell-group>
        <van-field type="password" v-model="o_password" :label="$t('userInfo.label[0]')" :placeholder="$t('userInfo.placeholder[0]')" />
        <van-field type="password" v-model="n_password" :label="$t('userInfo.label[1]')" :placeholder="$t('userInfo.placeholder[1]')" />
        <van-field type="password" v-model="r_password" :label="$t('userInfo.label[2]')" :placeholder="$t('userInfo.placeholder[2]')" />
      </van-cell-group>
    </div>
    <div class="button">
      <van-button type="info" @click="updatePass">{{$t('userInfo.default[12]')}}</van-button>
    </div>
  </div>
</template>

<script>
import '@/assets/css/bankCard.less'
import {Toast} from "vant";
export default {
  name: "updatePass",
  data(){
    return {
      o_password:'',
      n_password:'',
      r_password:'',
    }
  },
  created() {
  },
  mounted() {
  },
  methods:{
    updatePass:function (){
      if(!this.o_password){
        Toast(this.$t('userInfo.placeholder[0]'))
        return false
      } else if(!this.n_password){
        Toast(this.$t('userInfo.placeholder[1]'))
        return false
      } else if(!this.r_password){
        Toast(this.$t('userInfo.placeholder[2]'))
        return false
      }
      let params = {
        o_password:this.o_password,
        n_password:this.n_password,
        r_password:this.r_password,
        token:this.$store.state.token,
        lang:this.$store.state.lang,
      }
      this.$post('api/user/setuserinfo',params,true).then(res=>{
        if(res.code == 1){
          Toast(res.code_dec)
          this.$router.push({path:'/personal'})
        } else {
          Toast(res.code_dec)
        }
      })
    }
  }
}
</script>

<style scoped>

</style>