<template>
  <div class="bankCard">
    <header>
      <router-link to="/userInfo" class="go-out">
        <img src="../../assets/images/go-out.png" alt="">
      </router-link>
      <div>{{$t('userInfo.default[11]')}}</div>
    </header>
    <div class="input">
      <van-cell-group>
        <van-field type="password" v-model="o_payword" :label="$t('userInfo.label[3]')" :placeholder="$t('userInfo.placeholder[3]')" v-if="$store.state.userInfo.is_fund_password"/>
        <van-field type="password" v-model="n_payword" :label="$t('userInfo.label[4]')" :placeholder="$t('userInfo.placeholder[4]')"/>
        <van-field type="password" v-model="r_payword" :label="$t('userInfo.label[5]')" :placeholder="$t('userInfo.placeholder[5]')"/>
      </van-cell-group>
    </div>
    <div class="button">
      <van-button type="info" @click="updatePass">{{$t('userInfo.default[12]')}}</van-button>
    </div>
  </div>
</template>

<script>
import '@/assets/css/bankCard.less'
import {Toast} from "vant";
export default {
  name: "updateMoneyPass",
  data() {
    return {
      o_payword:'',
      n_payword:'',
      r_payword:''
    }
  },
  created() {
  },
  mounted() {
  },
  methods: {
    updatePass:function (){
      if(!this.o_payword && this.$store.state.userInfo.is_fund_password != 0){
        Toast(this.$t('userInfo.placeholder[3]'))
        return false
      } else if(!this.n_payword){
        Toast(this.$t('userInfo.placeholder[4]'))
        return false
      } else if(!this.r_payword){
        Toast(this.$t('userInfo.placeholder[5]'))
        return false
      }
      let params = {
        o_payword:this.o_payword,
        n_payword:this.n_payword,
        r_payword:this.r_payword,
        token:this.$store.state.token,
        lang:this.$store.state.lang,
      }
      this.$post('api/user/setuserinfo',params,true).then(res=>{
        if(res.code == 1){
          Toast(res.code_dec)
          this.$store.state.userInfo.is_fund_password = 1
          this.$router.push({path:'/personal'})
        } else {
          Toast(res.code_dec)
        }
      })
    }
  }
}
</script>

<style scoped>

</style>