<template>
  <div class="userInfo">
    <header>
      <router-link to="/personal">
        <img src="../../assets/images/go-out.png" alt="">
      </router-link>
      <div>
        {{$t('userInfo.default[0]')}}
      </div>
    </header>
    <div class="content">
      <div class="list" style="height: 7rem" @click="headShow = true">
        <label>
          <img style="margin-top: 2rem" src="../../assets/images/info_001.png" alt="">
        </label>
        <span style="line-height: 7rem">{{$t('userInfo.default[1]')}}</span>
        <van-icon name="arrow" style="margin-top: 2.75rem" />
        <div class="head-img">
          <img :src='"./static/head/"+$store.state.userInfo.header' alt="">
        </div>
      </div>
      <div class="list">
        <label>
          <img src="../../assets/images/info_002.png" alt="">
        </label>
        <span>{{$t('userInfo.default[2]')}}</span>
        <div class="describe">
          {{$store.state.userInfo.phone}}
        </div>
      </div>
      <router-link to="/bankCard">
        <div class="list">
            <label>
              <img src="../../assets/images/info_003.png" alt="">
            </label>
            <span>{{$t('userInfo.default[3]')}}</span>
            <van-icon name="arrow" style="margin-top: 1.75rem" />
            <div class="describe">
              {{$t('userInfo.default[8]')}}
            </div>
        </div>
      </router-link>
      <router-link to="/realName">
        <div class="list">
          <label>
            <img src="../../assets/images/info_005.png" alt="">
          </label>
          <span>{{$t('userInfo.default[5]')}}</span>
          <van-icon name="arrow" style="margin-top: 1.75rem" />
          <div class="describe">
            {{$t('userInfo.default[8]')}}
          </div>
        </div>
      </router-link>
      <router-link to="/updatePass">
        <div class="list">
          <label>
            <img src="../../assets/images/info_006.png" alt="">
          </label>
          <span>{{$t('userInfo.default[6]')}}</span>
          <van-icon name="arrow" style="margin-top: 1.75rem" />
          <div class="describe">
            {{$t('userInfo.default[8]')}}
          </div>
        </div>
      </router-link>
      <router-link to="/updateMoneyPass">
        <div class="list">
          <label>
            <img src="../../assets/images/info_007.png" alt="">
          </label>
          <span>{{$t('userInfo.default[7]')}}</span>
          <van-icon name="arrow" style="margin-top: 1.75rem" />
          <div class="describe">
            {{$t('userInfo.default[8]')}}
          </div>
        </div>
      </router-link>
      <div class="list" @click="logout">
        <label>
          <img src="../../assets/images/info_008.png" alt="">
        </label>
        <span>{{$t('userInfo.default[13]')}}</span>
        <van-icon name="arrow" style="margin-top: 1.75rem" />
        <div class="describe">
        </div>
      </div>
    </div>
    <van-popup v-model="headShow" position="bottom" :style="{ height: '21rem' }" class="head-popup" >
      <div class="module">
        <div class="title">
          {{$t('userInfo.default[9]')}}
        </div>
        <div class="img-list">
          <div class="list" v-for="(item, index) in headImgList" :key="index">
            <img :src='"./static/head/" + item' alt="" @click="updateHeadImg(item)">
          </div>
        </div>
      </div>
    </van-popup>
  </div>
</template>

<script>
import '@/assets/css/userInfo.less'
import {Toast} from "vant";
export default {
  name: "userInfo",
  data() {
    return {
      headShow:false,
      headImgList:['head_1.png','head_2.png','head_3.png','head_4.png','head_5.png','head_6.png','head_7.png','head_8.png','head_9.png','head_10.png',]
    }
  },
  components: {
  },
  created() {
  },
  mounted() {
  },
  methods: {
    logout:function (){
      let params = {
        lang:this.$store.state.lang,
        token:this.$store.state.token,
      }
      this.$post('api/User/Logout',params,true).then(res=>{
        this.$store.commit('pushIsLogin',false)
        localStorage.setItem("username",'false');
        localStorage.setItem("password",'false');
        this.$router.push({path:'/'})
        Toast(res.code_dec)
      })
    },
    updateHeadImg:function (data){
      let params = {
        header:data,
        lang:this.$store.state.lang,
        token:this.$store.state.token,
      }
      this.$post('api/User/setuserinfo',params,true).then(res=>{
        if(res.code == 1){
          this.$store.state.userInfo.header = data
        }
        this.headShow = false
        Toast(res.code_dec)
      })
    },
  }
}
</script>

<style scoped>

</style>