<template>
  <div class="wallet">
    <header>
      <router-link to="/personal">
        <img src="../../assets/images/go-out.png" alt="">
      </router-link>
      <div>
        {{$t('wallet.default[0]')}}
      </div>
    </header>
    <div class="balance">
      {{ $store.state.userInfo.balance }}
    </div>
    <div class="tool">
      <div class="module">
        <router-link to="/recharge">
          {{$t('wallet.default[1]')}}
        </router-link>
        <a href="#" @click="locaMoney()">
          {{$t('wallet.default[2]')}}
        </a>
      </div>
    </div>
    <div class="tabs">
      <van-tabs v-model="active" @click="lineElse">
        <van-tab :title="$t('wallet.default[3]')"></van-tab>
        <van-tab :title="$t('wallet.default[4]')"></van-tab>
      </van-tabs>
    </div>
    <div class="content">
      <div class="no-data" v-if="rechargeData.length < 1">
        <img src="../../assets/images/no_data.7d5de337.png" alt="">
      </div>
      <div class="list" v-for="(item, index) in rechargeData" :key="index" v-else @click="locaUrl(item.dan)">
        <div class="title"><div class="circle">{{$t('wallet.default[5]')}}</div></div>
        <div class="order">
          <p>{{ item.dan2 }}</p><p>{{ item.money }}</p>
        </div>
        <div class="date">
          <p>{{ item.adddate }}</p><p>{{ item.status_desc }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/wallet.less'
import {Toast} from "vant";

export default {
  name: "wallet",
  data() {
    return {
      active: 0,
      rechargeData: '',
      isBank:false
    }
  },
  created() {
    this.getRechargeRecord()
    this.getBankCardList()
  },
  mounted() {
  },
  methods: {
    lineElse:function (){
      if(this.active == 0){
        this.getRechargeRecord()
      } else {
        this.getDrawRecord()
      }
    },
    getRechargeRecord: function () {
      this.rechargeData = ''
      let params = {
        state: 0,
        page_no: 1,
        token: this.$store.state.token,
        lang: this.$store.state.lang,
      }
      this.$post('api/Transaction/getRechargeRecord', params, true).then(res => {
        if (res.code == 1) {
          for (let index in res.info) {
            if (res.info[index].dan.length > 16) {
              res.info[index].dan2 = res.info[index].dan.substring(0, 16) + '...'
            }
          }
          this.rechargeData = res.info
        } else {
          Toast(res.code_dec)
        }
      })
    },
    getDrawRecord: function () {
      this.rechargeData = ''
      let params = {
        state: 0,
        page_no: 1,
        token: this.$store.state.token,
        lang: this.$store.state.lang,
      }
      this.$post('api/Transaction/getDrawRecord', params, true).then(res => {
        if (res.code == 1) {
          for (let index in res.info) {
            if (res.info[index].dan.length > 16) {
              res.info[index].dan2 = res.info[index].dan.substring(0, 16) + '...'
            }
          }
          this.rechargeData = res.info
        } else {
          Toast(res.code_dec)
        }
      })
    },
    locaUrl:function (id){
      this.$router.push({path:'/recharge',query:{id:id}})
    },
    locaMoney:function (){
      if(this.$store.state.userInfo.is_fund_password == 0){
        Toast(this.$t('wallet.msg[0]'))
        this.$router.push({path:'/updateMoneyPass'})
      } else if(!this.isBank) {
        Toast(this.$t('wallet.msg[1]'))
        this.$router.push({path:'/bankCard'})
      } else {
        this.$router.push({path:'/withdraw'})
      }
    },
    getBankCardList:function (){
      let params = {
        token:this.$store.state.token,
        lang:this.$store.state.lang,
      }
      this.$post('api/Account/getBankCardList',params,true).then(res=>{
        if(res.code == 1){
          if(res.data.length >= 1){
            this.isBank = true
          }
        }
      })
    },
  }
}
</script>

<style scoped>

</style>