<template>
  <div class="bankCard">
    <header>
      <router-link to="/wallet" class="go-out">
        <img src="../../assets/images/go-out.png" alt="">
      </router-link>
      <div>
        {{$t('wallet.default[2]')}}
      </div>
    </header>
    <div class="input">
      <van-cell-group>
        <van-field v-model="draw_type" :label="$t('bankCard.label[1]')" :placeholder="$t('bankCard.placeholder[0]')" readonly @click="bankShow = true" />
        <van-field type="number" v-model="draw_money" :label="$t('wallet.label[1]')" placeholder="0"/>
        <van-field type="password" v-model="drawword" :label="$t('wallet.label[2]')" :placeholder="$t('wallet.placeholder[2]')"/>
      </van-cell-group>
    </div>
    <div class="button">
      <van-button type="info" @click="updatePass">{{$t('userInfo.default[12]')}}</van-button>
    </div>
    <van-popup v-model="bankShow" position="bottom" :style="{ height: '30.8rem' }" class="head-popup" >
      <div class="module">
        <van-picker
            show-toolbar
            :columns="columns"
            @confirm="onConfirm"
            @cancel="onCancel"
        />
      </div>
    </van-popup>
  </div>
</template>

<script>
import '@/assets/css/bankCard.less'
import {Toast} from "vant";
export default {
  name: "updateMoneyPass",
  data() {
    return {
      draw_type:'',
      user_bank_id:'',
      draw_money:'',
      drawword:'',
      bankShow:false,
      columns:[],
    }
  },
  created() {
    this.setColumns()
  },
  mounted() {
  },
  methods: {
    updatePass:function (){
      if(!this.draw_type){
        Toast(this.$t('bankCard.placeholder[0]'))
        return false
      } else if(!this.draw_money){
        Toast(this.$t('bankCard.placeholder[1]'))
        return false
      } else if(!this.drawword){
        Toast(this.$t('bankCard.placeholder[2]'))
        return false
      }
      let params = {
        draw_type:this.draw_type,
        user_bank_id:this.user_bank_id,
        draw_money:this.draw_money,
        drawword:this.drawword,
        ifsc:'',
        token:this.$store.state.token,
        lang:this.$store.state.lang,
      }
      this.$post('api/Transaction/draw',params,true).then(res=>{
        if(res.code == 1){
          Toast(res.code_dec)
          this.getBankCardList()
        } else {
          Toast(res.code_dec)
        }
      })
    },
    onConfirm(value, index) {
      this.draw_type = value
      this.user_bank_id = this.$store.state.backData.BanksList[index].bank_id
      this.bankShow = false
    },
    onCancel() {
      this.bankShow = false
    },
    setColumns:function (){
      let list = this.$store.state.backData.BanksList
      for (let index in list){
        this.columns.push(list[index].bank)
      }
    },
  }
}
</script>

<style scoped>

</style>