<template>
  <div class="float">
    <router-link to="/service">
      <img src="../../assets/images/customer.png" alt="">
    </router-link>
  </div>
</template>

<script>
import '@/assets/css/float.less'
export default {
  name: "float",
  data(){
    return{
    }
  },
  created() {
    this.getBackData()
    // if(this.$store.state.isLogin){
    //   this.getUserInfo()
    // }
  },
  mounted() {
  },
  methods:{
    getBackData:function () {
      let params = {
        lang:this.$store.state.lang
      }
      if(!this.$store.state.backData){
        this.$post('api/Common/BackData',params,true).then(res=>{
          this.$store.commit('pushBackData',res.info)
        })
      } else {
        this.$post('api/Common/BackData',params,false).then(res=>{
          this.$store.commit('pushBackData',res.info)
        })
      }
      console.log(this.$store.state.backData)
    },
    // getUserInfo:function () {
    //   let params = {
    //     lang:localStorage.getItem('locale') || 'cn',
    //     token:this.$store.state.token,
    //   }
    //   if(!this.$store.state.userInfo){
    //     this.$post('api/Common/getUserInfo',params,true).then(res=>{
    //       this.$store.commit('pushUserInfo',res.info)
    //     })
    //   }
    //   console.log(this.$store.state.userInfo)
    // },
  }
}
</script>

<style scoped>

</style>