<template>
  <div class="footer">
    <van-tabbar :border="false" v-model="active">
      <router-link to="/">
        <van-tabbar-item name="index">
          <img v-if="active == '/'" src="../../assets/images/index_select.png" alt="">
          <img v-else src="../../assets/images/index.png" alt="">
          <br>
          <span>{{$t('home.tabBar[0]')}}</span>
        </van-tabbar-item>
      </router-link>
      <a @click="goPath('/mytask')">
        <van-tabbar-item name="task">
          <img v-if="active == '/mytask'" src="../../assets/images/task_select.png" alt="">
          <img v-else src="../../assets/images/task.png" alt="">
          <br>
          <span>{{$t('home.tabBar[1]')}}</span>
        </van-tabbar-item>
      </a>
      <router-link to="/vip">
        <van-tabbar-item name="vip">
          <img v-if="active == '/vip'" src="../../assets/images/vip_select.png" alt="">
          <img v-else src="../../assets/images/vip.png" alt="">
          <br>
          <span>{{$t('home.tabBar[2]')}}</span>
        </van-tabbar-item>
      </router-link>
      <router-link to="/profit">
        <van-tabbar-item name="profit">
          <img v-if="active == '/profit'" src="../../assets/images/profit_select.png" alt="">
          <img v-else src="../../assets/images/profit.png" alt="">
          <br>
          <span>{{$t('home.tabBar[3]')}}</span>
        </van-tabbar-item>
      </router-link>
      <a @click="goPath('/personal')">
        <van-tabbar-item name="user">
          <img v-if="active == '/personal'" src="../../assets/images/user_select.png" alt="">
          <img v-else src="../../assets/images/user.png" alt="">
          <br>
          <span>{{$t('home.tabBar[4]')}}</span>
        </van-tabbar-item>
      </a>
    </van-tabbar>
  </div>
</template>

<script>
import '@/assets/css/include/footer.less'

export default {
  name: "footer_nav",
  data() {
    return {
      active: this.$route.path
    }
  },
  created() {
  },
  mounted() {
  },
  methods: {
    goPath:function (path){
      if(this.$store.state.isLogin){
        if(this.$route.path != path){
          this.$router.push({path:path})
        }
      } else {
        this.$router.push({path:'/login'})
      }
    },
  }
}
</script>

<style scoped>

</style>