.rule{
	
}
.teamStatic{
	background: #ffffff;
	.date{
		position: absolute;
		right: 20rpx;
		top: 30rpx;
	}
	.content{
		padding-left: 2%;
		.inherit-box{
			display: inline-block;
			width: 32%;
			height: 200rpx;
			border-top: 2rpx solid #d0d0d0;
			border-right: 2rpx solid #d0d0d0;
			text-align: center;
			padding-top: 40rpx;
			&:nth-child(3n){
				border-right: none;
			}
			.money{
				color: #ff6818;
			}
			p{
				margin-top: 20rpx;
				font-size: 26rpx;
				white-space: nowrap;
			}
		}
	}
}
.subMember{
	.list{
		width: 100%;
		padding: 20rpx;
		.box{
			width: 100%;
			min-height: 218rpx;
			background: #ffffff;
			padding: 10rpx 30rpx;
			.row{
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-top: 10rpx;
				font-size: 30rpx;
				.num{
					color: red;
				}
				.status1{
					color: #000000;
				}
				.status2{
					color: rgb(92, 184, 92);
				}
				.status3{
					color: red;
				}
			}
		}
		.tip{
			text-align: center;
			margin: 40rpx 0;
			color: #a0a3a3;
		}
	}
	.no-data{
		width: 100%;
		margin-top: 120rpx;
		text-align: center;
		p{
			margin-top: 30rpx;
		}
		image{
			height: 330rpx;
			width: 330rpx;
		}
	}
}
.popup{
		padding-bottom: 60rpx;
		.title{
			width: 100%;
			height: 80rpx;
			font-weight: bold;
			text-align: center;
			line-height: 80rpx;
			font-size: 30rpx;
		}
		.type{
			width: 100%;
			padding: 0 40rpx;
			margin-top: 20rpx;
			.button{
				width: 28%;
				display: inline-block;
				height: 88rpx;
				border-radius: 20rpx;
				background: #ffffff;
				border: 2rpx solid #D8D8D8;
				text-align: center;
				line-height: 88rpx;
				font-size: 26rpx;
				margin: 0 16rpx;
				margin-top: 20rpx;
			}
			.active{
				background: #d4d0ff!important;
				color: #ffffff!important;
				border: 2rpx solid #d4d0ff!important;
			}
		}
	}
	
	.tip{
		margin-top: 20rpx;
		margin-bottom: 20rpx;
		color: #a0a3a3;
		padding-left: 20rpx;
		font-size: 26rpx;
	}