.login{
	background: #ffffff;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
  .close{
    position: absolute;
    right: 32rpx;
    top: 32rpx;
	image{
		width: 56rpx;
		height: 56rpx;
	}
  }
  .title{
    padding-top: 84rpx;
    text-align: center;
    .label{
      color: #d4d0ff;
      font-size: 48rpx;
      font-weight: 600;
    }
    .tip{
      color: #4F4F4F;
      margin-top: 16rpx;
      padding: 0 200rpx;
      font-size: 26rpx;
    }
  }
  .login-box{
    margin-top: 132rpx;
	padding: 0 50rpx;
    .input{
      position: relative;
      margin-bottom: 40rpx;
      .form-input{
        width: 100%;
        height: 100rpx;
        background: #F5F5F5;
        color: #999999;
        border-radius: 20rpx;
        border:none;
        font-size: 24rpx;
        padding-left: 110rpx;
		line-height: 104rpx;
      }
	  .code-button{
	    width: 100%;
	    height: 100rpx;
	    border-radius: 60rpx;
	    border: 2rpx solid #d4d0ff;
	    color: #d4d0ff;
	    background: none;
	    font-size: 26rpx;
		line-height: 100rpx;
	}
	.icon-box{
		width: 100rpx;
		height: 100rpx;
		position: absolute;
		left: 0;
		top: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.eye{
	  right: 0;
	  left: auto;
	}
	image{
		position: absolute;
		right:20rpx;
		top: 8rpx;
		height: 90rpx;
		width: 184rpx;
	}
 }
    .tips{
      padding: 0 50rpx;
      display: flex;
      justify-content: space-between;
      font-size: 26rpx;
      margin-bottom: 100rpx;
	  margin-top: 20rpx;
    }
    .login-button{
      padding: 0 50rpx;
      margin-bottom: 40rpx;
      button{
        width: 100%;
        height: 80rpx;
        background: #d4d0ff;
        color: #ffffff;
        border-radius: 20rpx;
        border: none;
		line-height: 80rpx;
		font-size: 28rpx;
      }
    }
	.other-button{
		button{
			color: #000000;
			background: #ffffff!important;
			border:2rpx solid #eee;
		}
	}
    .register-tip{
      text-align: center;
      color: #4F4F4F;
      font-size: 24rpx;
      margin-bottom: 60rpx;
      span{
        color: #d4d0ff;
      }
    }
    .verify-num{
      padding: 40rpx 114rpx 20rpx 114rpx;
	  margin-bottom: 20rpx;
      input{
        width: 100%;
        height: 100rpx;
        background: #F5F5F5;
        font-size: 50rpx;
        text-align: center;
        line-height: 100rpx;
        border-radius: 20rpx;
        border: none;
      }
    }
  }
}