<template>
    <div class="bankList">
        <div class="bankList-container">
            <header>
                <ul>
                    <router-link tag="li" to="/recharge">
                        <i class="iconfont icon-kefu"></i>
                    </router-link>
                    <li>
                        <span>{{$route.query.switchDesc}}</span>
                    </li>
                    <li>
                        <!--                        <i class="iconfont icon-shezhi"></i>-->
                    </li>
                </ul>
            </header>
            <div class="bankList-main setCenter-nav">
                <section class="nav-content" v-for="(item,index) in onlineList" :key="index">
                    <h1>{{item.payCom}}</h1>
                    <div class="money-scoped">充值范围：{{item.min + '-' +item.max}}</div>
                    <van-icon name="arrow" />
                </section>
            </div>
        </div>
    </div>
</template>
<script>
  export default {
    name:"bank",
    data(){
      return{
        onlineList:[],
      }
    },
    created() {this.payWayList()},
    mounted() {},
    methods:{
      payWayList(){
        this.$http.recharge.payWayList({code:this.$route.query.code,switchKey:this.$route.query.switchKey}).then(res=>{
          if (res.data.success){
            if (res.data.content.length ==0){
              this.$toast('暂无数据')
              return
            }
            this.onlineList =  res.data.content
          }else {
            this.$toast(res.data.msg)
          }
        }).catch(res=>{
          this.$toast(`${this.$route.query.switchDesc}请求出错请重新尝试！`)
          console.log(res)
        })
      }
    }
  }
</script>
<style lang="scss" scoped>
    $gameContainerHeader:1rem;
    .bankList{
        background: #f0f0f0;
        height: 100%;
        .bankList-container{
            header{
                height: $gameContainerHeader;
                line-height: $gameContainerHeader;
                width: 100%;
                box-sizing: border-box;
                /*border-bottom: 1px solid #999999;*/
                background: #ee0a24;
                ul{
                    text-align: center;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    align-content: center;
                    width: 100%;
                    li{
                        display: flex;
                        align-items: center;
                        min-width: 0.7rem;
                        span{font-size: .28rem;color: #ffffff}
                        i{font-size: 0.7rem;color: #ffffff}
                    }
                }
            }
            .setCenter-nav{
                box-sizing: border-box;
                .nav-content{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    color: #000000;
                    border-bottom: 1px solid #99999947;
                    padding-right: 0.4rem;
                    padding-left: 0.4rem;
                    background: #ffffff;
                    margin-top: 0.1rem;
                    min-height: 0.96rem;
                    h1{font-size: 0.28rem}
                    i{font-size: 0.28rem;padding-right: 0.2rem}
                    .money-scoped{font-size: 0.24rem;padding-right: 0.2rem;flex: 1 1 auto;text-align: right;color: red}

                }
                .secure{
                    margin-top: 0.2rem;
                    h1{font-size: 0.28rem;color: #ee0a24;}

                }
                section{
                    /*&:last-child{*/
                    /*    border-bottom: none;*/
                    /*}*/
                }
            }
        }
    }

</style>
