<template>
  <div class="mode">
    <div class="list"  v-for="(item, index) in sonData.templateList" :key="index">
      <div class="title">
        {{item.name}}
      </div>
      <div class="number-mode" v-if="sonData.model == 3">
        <div class="number" @click="addCartZhi(index,index2)" :class="{active:list.isActive}" v-for="(list, index2) in sonData.templateList[index].oddPlayItems" :key="index2">
          <div class="name" :class="{'number-img':list.name >= 0}" v-if="floder == 'x002150' || floder == 'x002152'">{{list.name | x002153Filter}}</div>
          <div class="name" :class="{'number-img':list.name >= 0}" v-else>{{list.name}}</div>
          <div class="odds">
            <van-checkbox v-model="list.isActive" checked-color="#FF9726" shape="square" :disabled="list.checkbox"></van-checkbox>
          </div>
        </div>
      </div>
      <div class="number-mode" v-else-if="sonData.model == 2">
        <div class="number" @click="clickNumberCheck2(index,index2)" :class="{active:list.isActive}" v-for="(list, index2) in sonData.templateList[index].oddPlayItems" :key="index2">
          <div class="name" :class="{'number-img':list.name >= 0}" v-if="floder == 'x002150' || floder == 'x002152'">{{list.name | x002153Filter}}</div>
          <div class="name" :class="{'number-img':list.name >= 0}" v-else>{{list.name}}</div>
          <div class="odds">
            <van-checkbox v-model="list.isActive" checked-color="#FF9726" shape="square"></van-checkbox>
          </div>
        </div>
      </div>
      <div class="number-mode" v-else>
        <div class="number" @click="clickNumber(index,index2)" :class="{active:list.isActive}" v-for="(list, index2) in sonData.templateList[index].oddPlayItems.slice(0,16)" :key="index2">
          <div class="name" :class="{'number-img':list.name >= 0}" v-if="floder == 'x002150' || floder == 'x002152'">{{list.name | x002153Filter}}</div>
          <div class="name" :class="{'number-img':list.name >= 0}" v-else>{{list.name}}</div>
          <div class="odds"><b>{{list.odds}}</b></div>
          <div class="input" v-if="betModel == 1"><input type="number" v-model="list.money" @input="clickNumber(index,index2)"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import $ from  'jquery'
import { Toast } from  'vant'
import lotteryHtml from '@/assets/json/lotteryTemplate/syxw.json'
export default {
  name: "official",
  props:['sonData','params','lottery','betModel'],
  data(){
    return{
      isActive:'',
      floder:this.$store.state.stationInfo.content.station.floder || 'x002'
    }
  },
  created:function(){
    this.showTemplate()
  },
  mounted:function(){
  },
  watch:{

  },
  methods:{
    clickNumber:function (index,index2){
      this.$parent.addCart(index,index2)
      this.$forceUpdate()
    },
    clickNumberCheck2:function (index,index2){
      this.$parent.addCartCheck2(index,index2)
      this.$forceUpdate()
    },
    addCartZhi:function (index,index2){
      // 直选判断list 用isActive来展示数据
      let data = this.sonData.templateList[index].oddPlayItems[index2],that = this , is = true , orderList = [] ,orderLength = []
      this.sonData.betList = []
      $.each(that.sonData.zuxuanNumList,function (e,item) {
        if(item == data.name){
          if(data.isActive){
            that.sonData.zuxuanNumList.splice(e, 1)
            data.isActive = false
            is = false
            return false
          } else {
            Toast('请不要选择相同的号码')
            is = false
            return false
          }
        }
      });
      if(is){
        that.sonData.zuxuanNumList.push(data.name)
        data.isActive = true
        for(let i = 0 ; i < this.sonData.templateList.length; i++){
            if(i != index){
              this.sonData.templateList[i].oddPlayItems[index2].checkbox = true
            }
        }
      } else {
        for(let i = 0 ; i < this.sonData.templateList.length; i++){
          if(i != index){
            this.sonData.templateList[i].oddPlayItems[index2].checkbox = false
          }
        }
      }
      this.$forceUpdate()
      $.each(this.sonData.templateList,function (index,item) {
        let num = 0 , list = ''
        $.each(item.oddPlayItems,function (index2,item2) {
          if(item2.isActive){
            num ++
            list += item2.name +','
          }
        })
        orderList.push(list)
        orderLength.push(num)
      })
      // 判断最小注数
      if(orderLength[0] > 0 && orderLength[0] > 0){
        that.sonData.number = 1
      }
      $.each(orderLength,function (index,item) {
        that.sonData.number = that.sonData.number * item
      })
      if(that.sonData.number> 0 ){
        // 遍历生成所有数据
        if(orderList.length == 2){
          for(let i = 0; i < orderList[0].split(',').length - 1; i++){
            for(let j = 0; j < orderList[1].split(',').length - 1; j++){
              let params = {
                max:data.maxBetAmmount,
                min:data.minBetAmmount,
                name: '',
                oddsId:data.id,
                playCode:data.playCode,
                odds:data.odds,
                money:2,
                order:''
              };
              // params.order = this.sonData.moneyItem.orderNum
              params.name = JSON.parse(JSON.stringify(orderList[0].split(',')[i] + ',' + orderList[1].split(',')[j]))
              that.sonData.betList.push(params)
            }
          }
        } else {
          for(let i = 0; i < orderList[0].split(',').length - 1; i++){
            for(let j = 0; j < orderList[1].split(',').length - 1; j++){
              for(let k = 0; k < orderList[2].split(',').length - 1; k++){
                let params = {
                  max:data.maxBetAmmount,
                  min:data.minBetAmmount,
                  name: '',
                  oddsId:data.id,
                  playCode:data.playCode,
                  odds:data.odds,
                  money:2,
                  order:''
                };
                // params.order = this.sonData.moneyItem.orderNum
                params.name = JSON.parse(JSON.stringify(orderList[0].split(',')[i] + ',' + orderList[1].split(',')[j] + ',' + orderList[2].split(',')[k]))
                that.sonData.betList.push(params)
              }
            }
          }
        }
      }
    },
    // 给小于10的号码加零
    addZero:function(num,three){
      if(three){
        num<10? num = '0'+ num: num = ''+num;
        num<100? num = '0'+ num: num = ''+num;
      } else {
        num<10? num = '0'+ num: num = ''+num;
      }
      return num;
    },
    showTemplate:function () {
      let that = this
      let data = lotteryHtml.data
      that.sonData.model = 1
      for(let i in data){
        if(data[i].playName == this.params.sonCode){
          that.sonData.templateList = data[i].data
          // 获取当前玩法数据
          $.each(this.lottery.rules, function (index, item) {
            $.each(item.rules, function (index2, item2) {
              if(item2.code == that.params.sonCode){
                that.sonData.thatPlayType = item.rules
              }
            })
          })
          // 填充玩法数据
          $.each(that.sonData.thatPlayType, function (index, item) {
            if(item.code == that.params.sonCode){
              let dxdzzh = '' ,list = []
              switch (that.params.sonCode) {
                case 'shuangmianpan':
                  for (let i = 0; i < 8; i++) {
                    let obj = item.oddPlayItems[i];
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.classify = obj.name;
                    newobj.isActive = false
                    list.push(newobj)
                  }
                  that.sonData.templateList[0].oddPlayItems = list
                  dxdzzh = item.oddPlayItems.slice(8);
                  for(let n in that.sonData.templateList) {
                    list = [];
                    // 填充其他
                    for (let i = 0; i < dxdzzh.length; i++) {
                      let obj = dxdzzh[i];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = dxdzzh[i].name;
                      newobj.classify = that.sonData.templateList[n].name + '--' + dxdzzh[i].name;
                      list.push(newobj)
                    }
                    n>0? that.sonData.templateList[n].oddPlayItems = list:''
                  }
                  break;
                case '15qiu':
                  for(let n in that.sonData.templateList) {
                    list = [];
                    // 填充其他
                    for (let i = 1; i < 12; i++) {
                      let obj = item.oddPlayItems[0];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = that.addZero(i);
                      newobj.classify = that.sonData.templateList[n].name + '--' + that.addZero(i);
                      list.push(newobj)
                    }
                    that.sonData.templateList[n].oddPlayItems = list
                  }
                  break;
                case 'yizhongyi':
                case 'erzhonger':
                case 'sanzhongsan':
                case 'sizhongsi':
                case 'wuzhongwu':
                case 'liuzhongwu':
                case 'qizhongwu':
                case 'bazhongwu':
                case 'zuxuanqianer':
                case 'zuxuanhouer':
                case 'zuxuanqiansan':
                case 'zuxuanzhongsan':
                case 'zuxuanhousan':
                  that.sonData.model = 2
                  that.sonData.zuxuanPeilv = item.oddPlayItems[0].odds
                  for(let n in that.sonData.templateList) {
                    list = [];
                    // 填充其他
                    for (let i = 1; i < 12; i++) {
                      let obj = item.oddPlayItems[0];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = that.addZero(i);
                      newobj.classify = that.addZero(i);
                      list.push(newobj)
                    }
                    that.sonData.templateList[n].oddPlayItems = list
                  }
                  break;
                case 'zhixuanqianer':
                case 'zhixuanhouer':
                case 'zhixuanqiansan':
                case 'zhixuanzhongsan':
                case 'zhixuanhousan':
                  that.sonData.model = 3
                  that.sonData.zuxuanPeilv = item.oddPlayItems[0].odds
                  for(let n in that.sonData.templateList) {
                    list = [];
                    // 填充其他
                    for (let i = 1; i < 12; i++) {
                      let obj = item.oddPlayItems[0];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = that.addZero(i);
                      newobj.classify = that.addZero(i);
                      list.push(newobj)
                    }
                    that.sonData.templateList[n].oddPlayItems = list
                  }
                  break;
              }
            }
          })
        }
      }

    },
  },
  filters:{
    x002153Filter:function (value){
      if (value.includes('大')) return value.replace(/大/g,'福');
      if (value.includes('小')) return value.replace(/小/g,'禄');
      if (value.includes('单')) return value.replace(/单/g,'寿');
      if (value.includes('双')) return value.replace(/双/g,'喜');
      return value
    }
  }
}
</script>

<style scoped>

</style>
