<template>
  <div class="mode">
    <div class="list"  v-for="(item, index) in sonData.templateList" :key="index">
      <div class="title">
        {{item.name}}
      </div>
      <div class="number-mode" v-if="sonData.model == 2">
        <div class="number" @click="clickNumberCheck(index,index2)" :class="{active:list.isActive}" v-for="(list, index2) in sonData.templateList[index].oddPlayItems" :key="index2">
          <div class="name" :class="{'number-img':list.name >= 0}">{{list.name}}</div>
          <div class="odds">
            <van-checkbox v-model="list.isActive" checked-color="#FF9726" shape="square"></van-checkbox>
          </div>
        </div>
      </div>
      <div class="number-mode" v-else>
        <div class="number" @click="clickNumber(index,index2)" :class="{active:list.isActive}" v-for="(list, index2) in sonData.templateList[index].oddPlayItems  " :key="index2">
          <div class="name" :class="{'number-img':list.name >= 0}">{{list.name}}</div>
          <div class="odds"><b>{{list.odds}}</b></div>
          <div class="input" v-if="betModel == 1"><input type="number" v-model="list.money" @input="clickNumber(index,index2)"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import $ from  'jquery'
import lotteryHtml from '@/assets/json/lotteryTemplate/pk10.json'
export default {
  name: "official",
  props:['sonData','params','lottery','betModel'],
  data(){
    return{
      isActive:'',
      floder:this.$store.state.stationInfo.content.station.floder || 'x002'

    }
  },
  created:function(){
    this.showTemplate()
  },
  mounted:function(){

  },
  watch:{

  },
  methods:{
    clickNumber:function (index,index2){
      this.$parent.addCart(index,index2)
      this.$forceUpdate()
    },
    clickNumberCheck:function (index,index2){
      this.$parent.addCartCheck(index,index2)
      this.$forceUpdate()
    },
    // 给小于10的号码加零
    addZero:function(num,three){
      if(three){
        num<10? num = '0'+ num: num = ''+num;
        num<100? num = '0'+ num: num = ''+num;
      } else {
        num<10? num = '0'+ num: num = ''+num;
      }
      return num;
    },
    showTemplate:function () {
      let that = this
      let data = lotteryHtml.data
      that.sonData.model = 1
      for(let i in data){
        if(data[i].playName == this.params.sonCode){
          that.sonData.templateList = data[i].data
          // 获取当前玩法数据
          $.each(this.lottery.rules, function (index, item) {
            $.each(item.rules, function (index2, item2) {
              if(item2.code == that.params.sonCode){
                that.sonData.thatPlayType = item.rules
              }
            })
          })
          // 填充玩法数据
          $.each(that.sonData.thatPlayType, function (index, item) {
            if(item.code == that.params.sonCode){
              let dxdzzh = '' ,list = [], arrLength = 0;
              switch (that.params.sonCode) {
                case 'shuangmianpan':
                  list = [];
                  dxdzzh = item.oddPlayItems.slice(0, 4);
                  for (let i = 0; i < dxdzzh.length; i++) {
                    let obj = dxdzzh[i];
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = dxdzzh[i].name;
                    newobj.classify = dxdzzh[i].name;
                    list.push(newobj)
                  }
                  dxdzzh = item.oddPlayItems.slice(4,10);
                  arrLength = dxdzzh.length
                  for(let n in that.sonData.templateList) {
                    list = [];
                    // 填充其他
                    for (let i = 0; i < arrLength; i++) {
                      let obj = dxdzzh[i];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = dxdzzh[i].name;
                      newobj.classify = that.sonData.templateList[n].name + '--' + dxdzzh[i].name;
                      list.push(newobj)
                    }
                    n<6 && n>0? that.sonData.templateList[n].oddPlayItems = list:''
                  }
                  dxdzzh = item.oddPlayItems.slice(4,8);
                  for(let n in that.sonData.templateList) {
                    list = [];
                    // 填充其他
                    for (let i = 0; i < dxdzzh.length; i++) {
                      let obj = dxdzzh[i];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = dxdzzh[i].name;
                      newobj.classify = that.sonData.templateList[n].name + '--' + dxdzzh[i].name;
                      list.push(newobj)
                    }
                    n>5? that.sonData.templateList[n].oddPlayItems = list:''
                  }
                  break;
                case 'guan-yajun':
                  for(let n in that.sonData.templateList) {
                    list = [];
                    // 填充其他
                    for (let i = 0; i < item.oddPlayItems.length; i++) {
                      let obj = item.oddPlayItems[i];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = item.oddPlayItems[i].name;
                      newobj.classify = item.oddPlayItems[i].name;
                      list.push(newobj)
                    }
                    that.sonData.templateList[n].oddPlayItems = list
                  }
                  break;
                case 'danhao1-10':
                  for(let n in that.sonData.templateList) {
                    list = [];
                    // 填充数字
                    for (let i = 1; i <= 10; i++) {
                      let obj = that.sonData.thatPlayType[0].oddPlayItems[0];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.classify = that.sonData.templateList[n].name + '--' + i;
                      newobj.name = i;
                      list.push(newobj)
                    }
                    that.sonData.templateList[n].oddPlayItems = list
                  }
                  break;
              }
            }
          })
        }
      }
    },
  }
}
</script>

<style scoped>

</style>
