<template>
  <div class="w-100 h-100 m-wid1000">
    <side-click :data="adminData"></side-click>
    <div class="f-l w-88 h-90">
      <Layout>
        <Header class="bg-fff p-30-l bor-e8eaec">
          <Input v-model="chatNotes" placeholder="查找聊天记录"  style="width: 200px" />
          <Button  type="info" @click="getChatNotes" class="m-5-r">查找</Button>
          <Button  type="info" @click="getHistoricalList" class="m-5-r">重置</Button>
          <Button  type="info" @click="checkbox = true" v-show="!checkbox" class="m-5-r">开启多选</Button>
          <Button  type="info" @click="checkbox = false" v-show="checkbox" class="m-5-r">关闭多选</Button>
          <Button  type="primary" @click="checkAllGroupChange" v-show="checkbox" class="m-5-r">撤回消息</Button>
          <Button  type="info" @click="robotShow" class="m-5-r">{{robotSendFont}}</Button>
          <Button  type="info" @click="privaChatIsFun" class="m-5-r" v-show="privaChatIs">私聊</Button>
        </Header>
      </Layout>
      <div class="w-100 h-85 p-20 ov-auto chatScroll demo-spin-article" ref="chatScroll">
        <Button  type="info" @click="rollIs = false"  v-show="rollIs" class="m-5-r p-a r-5 z-max">滚动</Button>
        <Button  @click="rollIs = true" v-show="!rollIs" class="m-5-r  p-a r-5 z-max">滚动</Button>
        <ul ref="chatMessageContent" class="h-100 clear" style="clear: both">
          <div ref="viewContent" class="viewContent" style="clear: both;overflow: auto">
            <!--<CheckboxGroup v-model="checked">-->
            <p v-if="maxMessageLength < historicalList.length" @click="loadMoreMessage" class="t-c" style="cursor: pointer"><Icon type="ios-arrow-dropup" /> 加载更多消息</p>
            <p v-if="maxMessageLength > historicalList.length" @click="loadMoreMessage" class="t-c" style="cursor: pointer"> 已加载全部消息</p>
            <li v-if="index > (historicalList.length-maxMessageLength)" class="w-100 p-r f-l m-5-t" v-for="(item, index) in historicalList" :key="index" >
              <!--msgType == 1 文字消息 2 图片消息 3 系统消息 4红包消息 5 跟投消息 6红包消息-->
              <!--用户-->
              <div v-if="item.chat.name != user.name">
                <Checkbox :label="JSON.stringify(item)" class="f-l" v-show="checkbox"><span></span></Checkbox>
                <div class="w-4 m-5 f-l"><img :src="item.chat.headImg" class="w-100 b-r-5" alt="" @click="editName(item.chat.form)"></div>
                <div class="p-a l-7 font-12">{{item.chat.form}}<span class="c-2d">({{item.chat.name}})</span> <span class="c-g cur-p" @click="openPriveChat(item.chat.name, item.chat.form, item.chat.headImg)">私聊</span> <span class="c-g cur-p" @click="delMemberRecord(item.recll, item.index)">撤回</span> <span class="c-g cur-p" @click="noChat(item)">禁言</span></div>
                <!--图片消息-->
                <div  v-if="item.chat.msgType == 2" class="mw-50 mh-50 bg-ef b-r-5 whs-pre f-l p-5 m-4-30" @click="clickPicFull(item.chat.content)"  v-bind:style="{width:item.chat.imgWidth + 'px'}"><img :src="item.chat.content" class="w-100 mh-49" alt=""></div>
                <!--系统消息-->
                <div  v-else-if="item.chat.msgType == 3" class="mw-50 bg-ef b-r-5 whs-pre f-l p-5 m-4-30" v-html="item.chat.content" ></div>
                <!--红包消息-->
                <div  v-else-if="item.chat.msgType == 4" class="mw-50 bg-ef b-r-5 whs-pre f-l p-5 m-4-30">用户{{item.chat.form}}发出了红包</div>
                <!--分享战绩-->
                <div  v-else-if="item.chat.msgType == 6" class="mw-50 bg-oragen b-r-5 whs-pre f-l p-5 m-4-30 c-w">今日战绩<br>投注：{{JSON.parse(item.chat.content).bet}} 奖金：{{JSON.parse(item.chat.content).win}} 盈亏：{{JSON.parse(item.chat.content).bunko}}</div>
                <!--跟投消息-->
                <div  v-else-if="item.chat.msgType == 5 || item.chat.msgType == 7" class="mw-50 bg-ef b-r-5 whs-pre f-l p-5 m-4-30">用户{{item.chat.form}}发起了跟投</div>
                <!--文字消息-->
                <div  v-else class="mw-50 bg-ef b-r-5 whs-pre f-l p-5 m-4-30" v-html="item.chat.content" ></div>
              </div>
              <!--自己-->
              <div  v-if="item.chat.name == user.name">
                <Checkbox :label="JSON.stringify(item)" class="f-r" v-show="checkbox"><span></span></Checkbox>
                <div class="w-4 m-5 f-r"><img :src="item.chat.headImg" class="w-100 b-r-5" alt=""></div>
                <div class="p-a r-7 font-12"><span class="c-g cur-p"  @click="delMemberRecord(item.recll, item.index)">撤回</span> <span class="c-2d">({{item.chat.name}})</span>{{item.chat.form}}</div>
                <!--图片消息-->
                <div  v-if="item.chat.msgType == 2" class="mw-50 mh-50 bg-ef b-r-5 whs-pre f-r p-5 m-4-30" @click="clickPicFull(item.chat.content)" v-bind:style="{width:item.chat.imgWidth + 'px'}"><img :src="item.chat.content" class="w-100 mh-49" alt=""></div>
                <!--系统消息-->
                <div  v-else-if="item.chat.msgType == 3" class="mw-50 bg-ef b-r-5 whs-pre f-r p-5 m-4-30" v-html="item.chat.content" ></div>
                <!--红包消息-->
                <div  v-else-if="item.chat.msgType == 4" class="mw-50 bg-ef b-r-5 whs-pre f-r p-5 m-4-30">用户{{item.chat.form}}发出了红包</div>
                <!--分享战绩-->
                <div  v-else-if="item.chat.msgType == 6" class="mw-50 bg-oragen b-r-5 whs-pre f-r p-5 m-4-30 c-w">今日战绩<br>投注：{{JSON.parse(item.chat.content).bet}} 奖金：{{JSON.parse(item.chat.content).win}} 盈亏：{{JSON.parse(item.chat.content).bunko}}</div>
                <!--跟投消息-->
                <div  v-else-if="item.chat.msgType == 5 || item.chat.msgType == 7" class="mw-50 bg-ef b-r-5 whs-pre f-r p-5 m-4-30">用户{{item.chat.form}}发起了跟投</div>
                <!--文字消息-->
                <div  v-else class="mw-50 bg-ef b-r-5 whs-pre f-r p-5 m-4-30" v-html="item.chat.content" ></div>
              </div>
            </li>
            <!--</CheckboxGroup>-->
          </div>

        </ul>
        <div class="p-f w-45 b-3 m-20f-l">
          <Select v-model="robotSendName" placeholder="选择机器人" filterable class="m-5-r p-a t--3 b-n w-10 l-9" v-show="robotSendIs">
            <Option  v-for="item in robotList" :value="JSON.stringify(item)"  :key="item.value">{{ item.label }} {{item.grade}}</Option>
          </Select>
          <div class="w-25 h-11 p-a b-9 l-4 bg-fff b-r-5" v-show="emojiModule">
            <span class="f-l font-12 m-5 cur-p" v-for="(item, index) in emojiList" :value="index" :key="index" @click="addEmoji(item)">{{ item }}</span>
          </div>
          <Upload class="h-0" :action="userPic" :before-upload="detailBeforeUpload" :on-progress="userPicProgress" :with-credentials="true" :on-success="userPicSuccess" :on-format-error="userPicError" :headers="userPicHeaders"  :format="['jpg','jpeg','png','gif']" :on-error="userHandleError">
            <Button :disabled="disabled" icon="md-photos" class="m-5-r p-a t--3 b-n"></Button>
          </Upload>
          <Button :disabled="disabled" icon="md-happy" class="l-4 p-a t--3 b-n" @click="emojiModule = !emojiModule"></Button>
          <Input @keyup.enter.native="enterSendMesage" autofocus v-model="message" type="textarea" placeholder="请输入要发送的消息" :rows="3" :autosize="{maxRows: 3,minRows: 3}" />
          <Button  type="primary" @click="sendMessage" class="m-5-r p-a t--3 r-0" v-show="!robotSendIs">发送</Button>
          <Button  type="primary" @click="robotSendMessage" class="m-5-r p-a t--3 r-0" v-show="robotSendIs">发送(机器人)</Button>
        </div>
        <Spin size="large" fix v-if="spinShow"></Spin>
      </div>
    </div>
    <!--私聊-->
    <div class="p-f flex-c l-50 z-max" v-show="privaChatModule" id="dragFunc">
      <div class="w-65 h-50 p-a b-bf t-10 b-r-5 box-shadow">
        <div class="w-100 h-3 rgb-3f t-c l-h-3 c-w font-12">{{privaNickname}}</div>
        <div class="w-15 f-l h-100">
          <ul>
            <li v-for="(item, index) in privaList" v-bind:class="item.isActive ? privaClassTrue : privaClassFlase" >
              <Badge :count="item.value" class="p-5">
                <Avatar v-bind:class="item.onLine ? onLineCss : offLineCss" shape="square" :src="item.headImg" icon="ios-person"  @click="openPriveChat(item.name, item.nickname, item.headImg)" />
              </Badge>
              <span class="d-b f-r w-70  l-h-4 cur-p"  @click="openPriveChat(item.name, item.nickname, item.headImg)">{{item.nickname}}</span>
              <Icon type="md-close-circle" class="p-a r-05 t-013 font-15 d-n" @click="closePriveList(item.name)" />
            </li>
          </ul>
        </div>
        <div class="w-50 f-r bor-l-gray">
          <div class="w-100 l-h-3 h-34 ov-auto privateChat bor-b-gray chatScrollTo">
            <ul class="h-100">
              <li class="w-100 p-r f-l m-5-t" v-for="(item, index) in historicalListTo">
                <!--用户-->
                <div v-if="item.chat.name != user.name">
                  <div class="w-4 m-5 f-l"><img :src="item.chat.headImg" class="w-100 b-r-5" alt=""></div>
                  <div class="p-a l-7 font-12">{{item.chat.form}}<span class="c-2d">({{item.chat.name}})</span></div>
                  <!--图片消息-->
                  <div  v-if="item.chat.msgType == 2" class="mw-50 mh-50 bg-ef b-r-5 whs-pre f-l p-5 m-4-30"  v-bind:style="{height:item.chat.imgHeight + 'px', width:item.chat.imgWidth + 'px'}"><img :src="item.chat.content" class="w-100" alt=""></div>
                  <!--文字消息-->
                  <div  v-else class="mw-50 bg-ef b-r-5 whs-pre f-l p-5 m-4-30" v-html="item.chat.content" ></div>
                </div>
                <!--自己-->
                <div  v-if="item.chat.name == user.name">
                  <div class="w-4 m-5 f-r"><img :src="item.chat.headImg" class="w-100 b-r-5" alt=""></div>
                  <div class="p-a r-7 font-12"><span class="c-2d">({{item.chat.name}})</span>{{item.chat.form}}</div>
                  <!--图片消息-->
                  <div  v-if="item.chat.msgType == 2" class="mw-50 mh-50 bg-ef b-r-5 whs-pre f-r p-5 m-4-30" v-bind:style="{height:item.chat.imgHeight + 'px', width:item.chat.imgWidth + 'px'}"><img :src="item.chat.content" class="w-100" alt=""></div>
                  <!--文字消息-->
                  <div  v-else class="mw-50 bg-ef b-r-5 whs-pre f-r p-5 m-4-30" v-html="item.chat.content" ></div>
                </div>
              </li>
            </ul>
          </div>
          <div class="w-100 h-13">
            <div class="w-100 h-3 p-r">
              <Upload class="h-0" :action="userPic" :before-upload="detailBeforeUpload" :on-progress="userPicProgress" :with-credentials="true" :on-success="userPicSuccessTo" :on-format-error="userPicError" :headers="userPicHeaders"  :format="['jpg','jpeg','png','gif']" :on-error="userHandleError">
                <Button :disabled="disabled" icon="md-photos" class="m-5-r p-a t-05 b-n bg-n m-5-l"></Button>
              </Upload>
              <Button :disabled="disabled" icon="md-happy" class="l-4 p-a t-05 b-n bg-n" @click="emojiModuleP = !emojiModuleP"></Button>
              <div class="w-25 h-11 p-a b-3 l-5 bg-fff b-r-5" v-show="emojiModuleP">
                <span class="f-l font-12 m-5 cur-p" v-for="(item, index) in emojiList" :value="index" :key="index" @click="addPriveEmoji(item)">{{ item }}</span>
              </div>
            </div>
            <div class="w-100 h-7 outline ov-auto privateChat" contenteditable="true" id="toMessage"></div>
            <div class="w-100 h-3 p-r">
              <Button @click="closePriveChat" class="m-5-r p-a r-12">关闭</Button>
              <Button @click="smallPriveChat" class="m-5-r p-a r-6">最小化</Button>
              <Button  type="primary" @click="sendMessageTo" class="m-5-r p-a r-1">发送</Button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--图片展示-->
    <Modal v-model="picfullModel" fullscreen title="查看图片">
      <div class="t-c"><img :src="picfullUrl" class="w-100"/></div>
    </Modal>
  </div>
</template>

<script>
// 调用封装的ajax
import {httpGet, httpPost} from '../../static/js/index'
export default {
  name: 'chat',
  data () {
    return {
      maxMessageLength: 30, // 聊天记录显示条数
      chatNotes: '',
      websocket: '',
      user: global.user, //  聊天室个人信息,
      historicalList: [], // 聊天列表
      seekHistoricalList: [], // 查找后的聊天列表
      inProcess: Date.parse(new Date()) - 9000, // 图片上传限制时间
      inProcessIs: true, // 判断图片是否正在上传
      rollIs: true,
      spinShow: false,
      checkbox: false,
      emojiList: ['😀', '😁', '😂', '😄', '😅', '😆', '😇', '😉', '😊', '😋', '😌', '😍', '😘', '😙', '😜', '😝', '😎', '😏', '😶', '😑', '😒', '😳', '😞', '😟', '😠', '😡', '😔', '😕', '😣', '😖', '😫', '😤', '😮', '😱', '😨', '😰'], // 聊天表情
      emojiModule: false,
      emojiModuleP: false,
      seekNoSelect: true, // false为开启多选
      checked: [], // 多选删除聊天记录
      message: '',
      userPic: global.url + '/user/uploadPic', // 聊天图片上传路径
      userPicHeaders: {
        'Access-Control-Allow-Origin': '*'
      },
      imgWidth: 0,
      imgHeight: 0,
      disabled: false,
      robotList: [],
      robotSendIs: false,
      robotSendFont: '机器人发言',
      robotSendName: '',
      privaChatModule: false,
      privaChatIs: false,
      historicalListTo: [],
      toMessage: '',
      privaName: '',
      privaNickname: '',
      privaList: [],
      currPriveForm: '',
      privaClassFlase: 'h-4 w-100 bg-bd p-r that',
      privaClassTrue: 'h-4 w-100 bg-bd p-r that activeClass',
      onLineCss: 'b-r-50',
      offLineCss: 'b-r-50 gray',
      picfullModel: false,
      picfullUrl: false
    }
  },
  created: function () {
    // 获取聊天记录
    this.getHistoricalList()
    this.websocketTake()
    this.setPasteImg()
    // 判断从其他页面过来是否有未读消息
    if (this.otherPriveList.length > 0) {
      this.$Notice.destroy()
      setInterval()
      this.$Notice.open({
        title: '新消息',
        duration: 0,
        render: h => {
          return h('span', [
            h('a', {
              on: {
                click: () => {
                  this.openPriveChat(this.otherPriveList[0].name, this.otherPriveList[0].nickname, this.otherPriveList[0].headImg)
                  this.$Notice.destroy()
                  this.otherPriveList = []
                }
              }
            }, '有未读的私聊消息，点击查看')
          ])
        }
      })
      for (let index in this.otherPriveList) {
        let params = {
          name: this.otherPriveList[index].name,
          nickname: this.otherPriveList[index].nickname,
          headImg: this.otherPriveList[index].headImg,
          isActive: false,
          value: 0,
          onLine: true
        }
        this.privaList.push(params)
      }
    }
  },
  mounted: function () {
  },
  methods: {
    // 加载更多聊天消息
    loadMoreMessage: function () {
      let cthis = this
      let viewheight = this.$refs.viewContent.clientHeight
      this.maxMessageLength += 200
      setTimeout(function () {
        let nowViewheight = cthis.$refs.viewContent.clientHeight
        let scr = document.getElementsByClassName('chatScroll')[0]
        scr.scrollTop = (nowViewheight - viewheight)
      }, 300)
    },
    // websocket 接收消息
    websocketTake: function () {
      let that = this
      global.websocket.onmessage = function (event) {
        let viewheight = that.$refs.viewContent.clientHeight
        let scr = document.getElementsByClassName('chatScroll')[0]
        let isResetMessageLength = viewheight - scr.scrollTop - that.$refs.chatScroll.clientHeight
        if (isResetMessageLength < 1500 && that.rollIs) {
          that.maxMessageLength = 30
        }
        // 解析收到的消息
        let message = JSON.parse(event.data)
        if (message.type === 'notice') {
          that.$Message.info(message.message)
        }
        if (message.list !== null && message.list !== undefined) { // 在线列表
          that.userChatList = message.list
          // 实时更新私聊在线信息
          for (let index in that.privaList) {
            for (let item in that.userChatList) {
              // 如果列表存在此用户赋值true
              if (that.privaList[index].name === that.userChatList[item].name) {
                // 如果在线赋值后停止查询
                that.privaList[index].onLine = true
                return false
              } else {
                that.privaList[index].onLine = false
              }
            }
          }
        }
        if (message.type === 'message' || message.type === 'redPaper') {
          // @消息
          if (message.chat.content.indexOf('@' + global.user.nickname) !== -1) {
            that.$Message.info({
              content: message.chat.form + '@了您',
              duration: 5000,
              closable: true
            })
          }
          // 私聊消息
          if (message.chat.to && message.chat.form !== '系统精灵') {
            if (that.$route.name !== 'chat') {
              // 位于其他页面添加未读消息数组
              let params = {
                name: message.chat.name,
                nickname: message.chat.form,
                headImg: message.chat.headImg
              }
              let str = JSON.stringify(that.otherPriveList)
              if (str.indexOf(JSON.stringify(params)) === -1) {
                that.otherPriveList.push(params)
              }
              that.$Notice.destroy()
              that.$Notice.open({
                title: '新消息',
                render: h => {
                  return h('span', [
                    h('a', {
                      on: {
                        click: () => {
                          that.$router.push({path: `/chat`})
                        }
                      }
                    }, '您有' + that.otherPriveList.length + '条未读消息,请前往聊天室查看')
                  ])
                }
              })
            } else {
              if (!that.privaChatModule) {
                that.$Notice.destroy()
                that.$Notice.open({
                  title: '新消息',
                  duration: 0,
                  render: h => {
                    return h('span', [
                      h('a', {
                        on: {
                          click: () => {
                            that.openPriveChat(message.chat.name, message.chat.form, message.chat.headImg)
                            that.$Notice.destroy()
                          }
                        }
                      }, '您收到了来自用户[' + message.chat.form + ']的一条消息,请点击查看')
                    ])
                  }
                })
              }
              // 私聊列表操作
              if (message.chat.to === that.user.name || message.chat.name === that.user.name) {
                // 判断当前正在私聊的用户
                if (that.currPriveForm === message.chat.form || message.chat.form === that.user.nickname) {
                  that.historicalListTo.push(message)
                }
                // 判断是不是自己发送的消息
                if (message.chat.name !== that.user.name) {
                  // 判断列表是否存在 不存在添加
                  let isNmaeList = false
                  for (let index in that.privaList) {
                    if (JSON.stringify(that.privaList[index].name).indexOf(message.chat.name) !== -1) {
                      // 如果存在返回ture跳出循环
                      isNmaeList = true
                      break
                    } else {
                      isNmaeList = false
                    }
                  }
                  // 添加数据
                  if (!isNmaeList) {
                    let params = {
                      name: message.chat.name,
                      nickname: message.chat.form,
                      headImg: message.chat.headImg,
                      isActive: false,
                      value: 0,
                      onLine: true
                    }
                    that.privaList.push(params)
                  }
                }
                // 添加未读消息数量
                if (message.chat.name !== that.privaName) {
                  for (let user in that.privaList) {
                    let str = JSON.stringify(that.privaList[user])
                    if (str.indexOf(message.chat.name) !== -1) {
                      // vue无法检测索引设置value,$set也不行，所以删除当前元素重新添加
                      let params = {
                        name: that.privaList[user].name,
                        nickname: that.privaList[user].nickname,
                        headImg: that.privaList[user].headImg,
                        isActive: that.privaList[user].isActive,
                        value: that.privaList[user].value + 1,
                        onLine: that.privaList[user].onLine
                      }
                      that.privaList.splice(user, 1)
                      that.privaList.push(params)
                      break
                    }
                  }
                }
              }
              that.dragFunc('dragFunc')
              that.scrollBottomTo()
            }
          }
          // 系统精灵
          if (message.chat.form === '系统精灵') {
            that.$Message.info({
              content: message.chat.content,
              duration: 100000,
              closable: true
            })
          }
          // 此页面会导致onmessage方法重写，所以判断是否在chat页面
          if (that.$route.name !== 'chat') {
            return false
          }
          //  判断有没有私聊
          if (!message.chat.to && that.seekNoSelect) {
            //  赋值为撤回消息处理字符串
            message.recll = JSON.stringify(message)
            message.index = that.historicalList.length
            that.historicalList.push(message)
            that.scrollBottom()
          }
        }
      }
    },
    //  获取聊天记录
    getHistoricalList: function () {
      this.historicalList = []
      this.chatNotes = ''
      this.spinShow = true
      this.seekNoSelect = true
      let params = {
        token: global.token,
        platformId: this.adminData.platformId
      }
      httpPost('/getPlatChatRecord', params).then(res => {
        for (let user in res.body.data) {
          let data = JSON.parse(res.body.data[user])
          //  赋值为撤回消息处理字符串
          data.recll = JSON.stringify(data)
          // 判断聊天记录在数组的下标用来删除
          data.index = res.body.data.length - user - 1
          this.historicalList.unshift(data)
        }
        this.scrollBottom()
        this.spinShow = false
      }, reason => {})
    },
    //  查找聊天记录
    getChatNotes: function () {
      //  判断是否查找空值并返回全部记录
      if (!this.chatNotes) {
        this.getHistoricalList()
        return false
      }
      //  判断是不是正在查找，如果不是赋值数组
      if (this.seekNoSelect) {
        this.seekHistoricalList = this.historicalList
      }
      this.historicalList = []
      //  禁止多选撤回
      this.seekNoSelect = false
      //  判断是否查找到数据
      let isVoid = 0
      for (let index in this.seekHistoricalList) {
        let content = this.seekHistoricalList[index].chat.content
        if (content.indexOf(this.chatNotes) !== -1 && this.seekHistoricalList[index].chat.msgType !== 2) {
          isVoid++
          //  重新赋值下标用来撤回
          this.seekHistoricalList[index].index = isVoid - 1
          // 关键字变色拼接
          let length = content.indexOf(this.chatNotes)
          let start = content.substring(0, length)
          let center = content.substring(length, (length + this.chatNotes.length))
          let end = content.substring((start.length + center.length), content.length)
          //  重定向数组防止指向一样改变元素
          let redirect = JSON.stringify(this.seekHistoricalList[index])
          redirect = JSON.parse(redirect)
          redirect.chat.content = start + '<span class="b-y">' + center + '</span>' + end
          this.historicalList.push(redirect)
        }
      }
      //  如果查找空值
      if (isVoid === 0) {
        this.$Message.info('暂未查找到相关聊天记录')
      } else {
        this.$Message.success('查找到' + isVoid + '条相关记录')
      }
    },
    // 撤回消息
    delMemberRecord: function (item, index) {
      let params = {
        token: global.token,
        platformId: this.adminData.platformId,
        message: item
      }
      httpPost('/delMemberRecord', params).then(res => {
        this.historicalList.splice(index, 1)
        //  删除后为后面的元素重新赋值下标
        for (let i = index; i < this.historicalList.length; i++) {
          this.historicalList[i].index = i
        }
        this.$Message.success('撤回成功')
      }, reason => {})
    },
    //  多条撤回
    checkAllGroupChange: function () {
      if (!this.seekNoSelect) {
        this.$Message.info('检索消息不支持多条撤回!')
        return false
      }
      if (this.checked.length === 0) {
        this.$Message.info('请选择要撤回的消息')
        return false
      }
      if (this.checked.length >= 20) {
        this.$Message.info('每次撤回的消息不能超过20条')
        return false
      }
      this.spinShow = true
      let message = ''
      for (let index in this.checked) {
        message += JSON.parse(this.checked[index]).recll + ';'
      }
      let params = {
        platformId: this.adminData.platformId,
        message: message
      }
      httpPost('/delRecords', params).then(res => {
        this.$Message.success('撤回成功')
        this.checked = []
        this.getHistoricalList()
      }, reason => {})
    },
    //  禁言
    noChat: function (item) {
      let params = {
        name: item.chat.name
      }
      httpPost('/admin/agent/banJY', params).then(res => {
        this.$Message.success('禁言成功')
      }, reason => {})
    },
    //  发送消息
    sendMessage: function () {
      if (this.message === null || this.message === '' || this.message === '\n') {
        this.$Message.info('请输入要发送的消息')
        this.message = ''
        return false
      }
      this.sendMsg(this.message, 1, '')
      this.message = ''
    },
    //  当前时间
    getDateFull: function () {
      let date = new Date()
      let currentdate = this.appendZero(date.getHours()) + ':' + this.appendZero(date.getMinutes())
      return currentdate
    },
    //  时间补零
    appendZero: function (s) {
      return ('00' + s).substr((s + '').length)
    },
    //  滚动到底部
    scrollBottom: function () {
      if (this.rollIs) {
        setTimeout(() => {
          let Bottom = document.querySelector('.chatScroll')
          Bottom.scrollTop = Bottom.scrollHeight
        }, 100)
      } else {
        let Bottom = document.querySelector('.chatScroll')
        Bottom.scrollTop = Bottom.scrollTop
      }
    },
    //  私聊滚动到底部
    scrollBottomTo: function () {
      setTimeout(() => {
        let Bottom = document.querySelector('.chatScrollTo')
        Bottom.scrollTop = Bottom.scrollHeight
      }, 100)
    },
    //    图片处理
    userHandleError: function (res, file) {
      this.$Message.error('图片上传失败，请刷新页面重新上传')
    },
    userPicError: function (file) {
      this.$Message.info('请上传正确的图片,jpg | jpeg | png | gif')
    },
    userPicProgress: function (data) {
      this.disabled = true
    },
    //  文件上传前，获取图片宽高
    detailBeforeUpload: function (file) {
      if (this.robotSendIs) {
        if (this.robotSendName.length === 0) {
          this.$Message.info('请选择机器人')
          return false
        }
      }
      let that = this
      let fileReader = new FileReader()
      fileReader.onload = e => {
        let src = e.target.result
        const image = new Image()
        image.onload = function () {
          that.imgWidth = this.width
          that.imgHeight = this.height
        }
        image.src = src
      }
      fileReader.readAsDataURL(file)
    },
    //  图片上传成功
    userPicSuccess: function (res, file) {
      this.disabled = false
      if (res.code === 1) {
        if (this.robotSendIs) {
          this.robotSend(res.data, 2)
        } else {
          this.sendMsg(res.data, 2, '')
        }
      }
    },
    //  私聊图片上传成功
    userPicSuccessTo: function (res, file) {
      this.disabled = false
      if (res.code === 1) {
        if (this.robotSendIs) {
          this.robotSend(res.data, 2)
        } else {
          this.sendMsg(res.data, 2, this.privaName)
        }
      }
    },
    // 粘贴上传图片
    upPasteImg: function (file) {
      if (!this.inProcessIs) {
        this.$Message.info('图片正在上传')
        return false
      }
      this.inProcessIs = false
      this.inProcess = Date.parse(new Date())
      this.$Message.loading('图片发送中...')
      let params = new FormData()
      params.append('file', file)
      this.$http.post(global.url + '/user/uploadPic', params, {
        method: 'post',
        credentials: true,
        headers: {'Content-Type': 'multipart/form-data'}
      }).then(function (res) {
        this.inProcessIs = true
        if (res.data.code === 1) {
          this.$Message.destroy()
          if (this.robotSendIs) {
            this.robotSend(res.data.data, 2, '')
          } else {
            this.websocketSend(res.data.data, 2, this.privaName)
          }
        }
      }).catch(function (error) {
        console.log(error)
      })
    },
    // 机器人列表
    robotShow: function () {
      this.robotList = []
      //  获取机器人列表重新进行排序
      this.getRobotList()
      this.$Message.destroy()
      this.robotSendIs = !this.robotSendIs
      this.robotSendFont = (!this.robotSendIs) ? '机器人发言' : '关闭机器人'
      if (this.robotSendIs) {
        this.$Message.info({
          content: '选择机器人后所有发言和图片都将显示为机器人发送',
          duration: 5,
          closable: true
        })
      }
      this.robotSendName = []
    },
    // 获取机器人
    getRobotList: function () {
      let params = {
        quantity: '999999',
        page: '1'
      }
      httpGet('/admin/robot/getRobotLoginList', params).then(res => {
        res = res.body.data
        for (let i in res) {
          let params = {
            label: res[i].nickname,
            grade: res[i].grade,
            value: res[i].id,
            headImg: res[i].headImg
          }
          this.robotList.unshift(params)
        }
      }, reason => {})
    },
    //  机器人发送消息
    robotSendMessage: function () {
      if (this.message === null || this.message === '' || this.message === '\n') {
        this.$Message.info('请输入要发送的消息')
        this.message = ''
        return false
      }
      if (this.robotSendName.length === 0) {
        this.$Message.info('请选择机器人')
        return false
      }
      this.robotSend(this.message, 1)
      this.message = ''
    },
    robotSend: function (content, msgType) {
      let line = content.substring(content.length - 1)
      if (line === '\n') {
        content = content.substring(0, content.length - 1)
      }
      let robotSendName = JSON.parse(this.robotSendName)
      let params = {
        id: robotSendName.value,
        nickname: robotSendName.label,
        headImg: robotSendName.headImg,
        content: content,
        imgWidth: this.imgWidth,
        imgHeight: this.imgHeight,
        msgType: msgType
      }
      httpGet('/admin/robot/robotMessage', params).then(res => { }, reason => {})
    },
    //  打开私聊框
    openPriveChat: function (name, nickname, headImg) {
      // 判断用户是否在线
      let userOnLine = false
      for (let index in this.userChatList) {
        if (this.userChatList[index].name === name) {
          userOnLine = true
        }
      }
      if (!userOnLine) {
        this.$Message.info('用户[' + nickname + ']未在线，可能无法收到您的消息')
      }
      this.historicalListTo = []
      this.operatePriveList(name, nickname, headImg, true, userOnLine)
      //  当前私聊用户
      this.currPriveForm = nickname
      this.privaChatModule = true
      this.privaName = name
      this.privaNickname = nickname
      let params = {
        token: global.token,
        start: '0',
        end: '-1',
        toName: name
      }
      httpPost('/getPrivateChatRecord', params).then(res => {
        for (let user in res.body.data) {
          let data = JSON.parse(res.body.data[user])
          this.historicalListTo.unshift(data)
          this.scrollBottomTo()
          document.getElementById('toMessage').focus()
        }
      }, reason => {})
      this.dragFunc('dragFunc')
    },
    // 关闭私聊框
    closePriveChat: function () {
      this.privaChatModule = false
      this.privaName = ''
      this.emojiModuleP = false
      this.privaList = []
      document.getElementById('toMessage').innerHTML = ''
    },
    // 最小化
    smallPriveChat: function () {
      this.privaChatModule = false
      this.privaChatIs = true
      this.emojiModuleP = false
    },
    // 展示私聊框
    privaChatIsFun: function () {
      this.privaChatModule = true
      this.privaChatIs = false
    },
    //  私聊发送消息
    sendMessageTo: function () {
      // div用id获取内容
      this.toMessage = document.getElementById('toMessage').innerHTML
      this.toMessage = this.toMessage.replace(/&nbsp;/g, '')
      this.toMessage = this.toMessage.replace(/<div>/g, '')
      this.toMessage = this.toMessage.replace(/<\/div>/g, '')
      this.toMessage = this.toMessage.replace(/<br>/g, '')
      if (this.toMessage === null || this.toMessage === '' || this.toMessage === '\n') {
        this.$Message.info('请输入要发送的消息')
        this.message = ''
        return false
      }
      this.sendMsg(this.toMessage, 1, this.privaName)
      document.getElementById('toMessage').innerHTML = ''
      document.getElementById('toMessage').focus()
    },
    //  拖动私聊框
    dragFunc: function (id) {
      let Drag = document.getElementById(id)
      Drag.onmousedown = function (event) {
        let ev = event || window.event
        event.stopPropagation()
        let disX = ev.clientX - Drag.offsetLeft
        let disY = ev.clientY - Drag.offsetTop
        document.onmousemove = function (event) {
          let ev = event || window.event
          Drag.style.left = ev.clientX - disX + 'px'
          Drag.style.top = ev.clientY - disY + 'px'
          Drag.style.cursor = 'move'
        }
      }
      Drag.onmouseup = function () {
        document.onmousemove = null
        this.style.cursor = 'default'
      }
    },
    // 私聊列表操作
    operatePriveList: function (name, nickname, headImg, isActive, userOnLine) {
      let params = {
        name: name,
        nickname: nickname,
        headImg: headImg,
        isActive: isActive,
        value: 0,
        onLine: userOnLine
      }
      // 用户列表为空初次添加
      let str = JSON.stringify(this.privaList)
      if (str.indexOf(name) === -1) {
        //  遍历数组赋值class为false
        for (let index in this.privaList) {
          this.privaList[index].isActive = false
        }
        this.privaList.unshift(params)
      } else {
      //  已存在于列表当中
        for (let index in this.privaList) {
          //  改变样式
          this.privaList[index].isActive = false
          let str = JSON.stringify(this.privaList[index])
          if (str.indexOf(name) !== -1) {
            this.privaList[index] = params
          }
        }
      }
    },
    // 关闭私聊列表
    closePriveList: function (name) {
      for (let index in this.privaList) {
        let str = JSON.stringify(this.privaList[index])
        if (str.indexOf(name) !== -1) {
          this.privaList.splice(index, 1)
        }
      }
      // 数组为0关闭私聊框
      if (this.privaList.length > 0) {
        let param = this.privaList[this.privaList.length - 1]
        this.openPriveChat(param.name, param.nickname, param.headImg)
      } else {
        this.closePriveChat()
      }
    },
    // @功能
    editName: function (name) {
      this.message += '@' + name + ' '
    },
    // 添加表情
    addEmoji: function (emoji) {
      this.message += emoji
    },
    // 私聊添加表情
    addPriveEmoji: function (emoji) {
      document.getElementById('toMessage').innerHTML += emoji
    },
    //  接口发送消息
    sendMsg: function (content, msgType, to) {
      let line = content.substring(content.length - 1)
      if (line === '\n') {
        content = content.substring(0, content.length - 1)
      }
      let data = JSON.stringify({
        chat: {
          content: content,
          form: this.user.nickname,
          to: to,
          time: this.getDateFull(),
          headImg: this.user.headImg,
          imgWidth: this.imgWidth,
          imgHeight: this.imgHeight,
          id: this.user.id,
          name: this.user.name,
          level: this.user.level,
          msgType: msgType
        },
        type: 'message',
        platformId: this.adminData.platformId
      })
      let params = {
        token: global.token,
        msg: data,
        platformId: this.adminData.platformId
      }
      global.httpPost1('/sendMsg', params).then(res => {
        // console.log(res)
      }, reason => {})
    },
    //  发送消息
    websocketSend: function (content, msgType, to) {
      global.websocket.send(JSON.stringify({
        chat: {
          content: content,
          form: this.user.nickname,
          to: to,
          time: this.getDateFull(),
          headImg: this.user.headImg,
          imgWidth: this.imgWidth,
          imgHeight: this.imgHeight,
          id: this.user.id,
          name: this.user.name,
          level: this.user.level,
          msgType: msgType
        },
        type: 'message'
      }))
    },
    // 回车快捷发送消息
    enterSendMesage: function () {
      if (event.keyCode === 13 && event.shiftKey) {
        // 换行
      } else if (event.keyCode === 13 && event.ctrlKey) {
      //  换行
      } else {
        if (!this.robotSendIs) {
          //  普通用户
          this.sendMessage()
        } else {
          this.robotSendMessage()
        }
      }
    },
    // 点击显示图片
    clickPicFull: function (url) {
      this.picfullModel = true
      this.picfullUrl = url
    },
    //  粘贴图片
    setPasteImg: function () {
      let that = this
      document.onpaste = function (event) {
        if (event.clipboardData || event.originalEvent) {
          let clipboardData = (event.clipboardData || event.originalEvent.clipboardData)
          if (clipboardData.items) {
            var blob
            for (let i = 0; i < clipboardData.items.length; i++) {
              if (clipboardData.items[i].type.indexOf('image') !== -1) {
                blob = clipboardData.items[i].getAsFile()
              }
            }
            let render = new FileReader()
            render.onload = function (evt) {
              // 输出base64编码
              let base64 = evt.target.result
              const image = new Image()
              image.onload = function () {
                that.imgWidth = this.width
                that.imgHeight = this.height
              }
              image.src = base64
            }
            if (blob) {
              render.readAsDataURL(blob)
              if (that.inProcess + 10000 >= Date.parse(new Date())) {
                that.$Message.destroy()
                that.$Message.info('十秒内只能粘贴上传一次图片')
              } else {
                that.upPasteImg(blob)
              }
            }
          }
        }
      }
    }
  }
}
</script>

<style scoped>

</style>
