 <template>
  <div class="w-100 h-100 m-wid1000">
    <side-click :data="adminData"></side-click>
    <div class="f-l w-88 h-100">
      <Layout>
        <Header class="bg-fff p-30-l">
          <Select v-model="name" placeholder="查找用户" @on-change="getAccountList" class="w-15 m-5-l" filterable>
            <Option  v-for="item in userList" :value="item.value">{{ item.label }}</Option>
          </Select>
          <Button  type="info" @click="name = ''" class="m-5-r">重置</Button>
          <Button  type="info" @click="getUser('/blackUserList')" class="m-5-r" v-show="!getUserIs">黑名单用户</Button>
          <Button  type="info" @click="getUser('/userList')" class="m-5-r" v-show="getUserIs">所有用户</Button>
          <Button  type="info" @click="userBlack = true">添加黑名单</Button>
          <!--<Button  type="primary" @click="allBan(0)">全体禁言</Button>
          <Button  type="primary" @click="allBan(1)">解除禁言</Button>-->
        </Header>
      </Layout>
      <Table :columns="columns1" :data="accountList" :loading="loading" ></Table>
      <Page class="t-r m-20-r m-20-t" :current="1" :total="page.total" simple  :page-size="page.pageSize" @on-change="changePage"/>
    </div>
    <Modal v-model="userBlack" :loading="verifyClose" title="用户黑名单"  @on-ok="addBlack"  @on-cancel="varInita" class="t-c">
      <Row class="m-5-t m-5-b l-h-25 ">
        <Col span="8">用户昵称：</Col>
        <Col span="8">
          <Input v-model="userBlankList" placeholder="*添加多个用户时请用英文逗号【,】分隔" class="w-15" />
        </Col>
      </Row>
    </Modal>
  </div>
</template>

<script>
// 调用封装的ajax
import {httpGet, httpPost} from '../../static/js/index'
export default {
  data () {
    return {
      loading: true,
      name: '',
      userList: [ ],
      getUserUrl: '/userList',
      userBlack: false,
      userBlankList: '',
      getUserIs: true,
      verifyClose: true,
      page: {
        total: 10,
        pageSize: 12,
        showList: [],
        p: 1
      },
      columns1: [
        {
          title: '序号',
          key: 'number',
          align: 'center'
        },
        {
          title: '账号',
          key: 'name',
          align: 'center'
        },
        {
          title: '昵称',
          key: 'nickname',
          align: 'center'
        },
        {
          title: '等级',
          key: 'grade',
          align: 'center'
        },
        {
          title: '注册ip',
          key: 'ip',
          align: 'center'
        },
        {
          title: '操作',
          key: 'id',
          align: 'center',
          render: (h, params) => {
            return h('div', [
              h('Button', {
                props: {
                  type: params.row.ban === '禁言' ? 'primary' : 'error',
                  size: 'small'
                },
                on: {
                  click: () => {
                    this.noChat(params.row.name)
                  }
                }
              }, params.row.ban),
              h('Button', {
                props: {
                  type: params.row.black === '拉黑' ? 'primary' : 'error',
                  size: 'small'
                },
                style: {
                  marginLeft: '5px'
                },
                on: {
                  click: () => {
                    this.defirend(params.row.name)
                  }
                }
              }, params.row.black)
            ])
          }
        }
      ],
      accountList: [ ]
    }
  },
  created: function () {
    this.getAccountList(1)
  },
  mounted: function () { },
  methods: {
    getAccountList: function (is) {
      this.loading = true
      this.accountList = [ ]
      this.page.showList = [ ]
      let params = {
        name: this.name,
        quantity: '999999',
        page: '1'
      }
      httpGet('/admin/agent' + this.getUserUrl, params).then(res => {
        this.getUserIs = (is === 1) ? !this.getUserIs : this.getUserIs
        this.loading = false
        res = res.body.data
        this.page.total = res.length
        for (let i = res.length - 1; i >= 0; i--) {
          res[i].number = i + 1
          res[i].account = res[i].platformId + 'admin'
          res[i].ban = res[i].ban === 1 ? '禁言' : '解除'
          res[i].black = !res[i].black ? '拉黑' : '解除'
          if (this.userList.length < res.length) {
            let data = {
              value: res[i].name,
              label: res[i].name
            }
            this.userList.unshift(data)
          }
          this.accountList.unshift(res[i])
        }
        this.page.showList = this.accountList
        //  取最大页数
        let max = Math.ceil(this.page.showList.length / this.page.pageSize)
        max = (max === 0) ? '1' : max
        //  判断用户在最后一页进行操作时ajax刷新的页数
        if (this.page.p >= max) {
          this.page.p = max
        }
        this.changePage(this.page.p)
      }, reject => { })
    },
    //  区分黑名单和所有用户
    getUser: function (url) {
      this.getUserUrl = url
      this.getAccountList(1)
    },
    changePage: function (index) {
      this.page.p = index
      this.accountList = this.page.showList
      let _start = (index - 1) * this.page.pageSize
      let _end = index * this.page.pageSize
      this.accountList = this.page.showList.slice(_start, _end)
    },
    noChat: function (name) {
      this.loading = true
      let params = {
        name: name
      }
      httpPost('/admin/agent/banJY', params).then(res => {
        this.$Message.success('操作成功')
        this.getAccountList()
      }, reject => { })
    },
    defirend: function (name) {
      this.loading = true
      let params = {
        name: name
      }
      httpPost('/admin/agent/upBanBlack', params).then(res => {
        this.$Message.success('操作成功')
        this.getAccountList()
      }, reject => { })
    },
    allBan: function (is) {
      let params = {
        ban: is
      }
      httpGet('/admin/agent/upBanJY', params).then(res => {
        this.$Message.success('操作成功')
        this.getAccountList()
      }, reason => { })
    },
    //   黑名单
    addBlack: function () {
      if (!this.userBlankList) {
        this.$Message.info('请正确填写内容')
        //  阻止iview模态框关闭
        setTimeout(() => {
          this.verifyClose = false
          this.$nextTick(() => {
            this.verifyClose = true
          })
        }, 1000)
        return false
      }
      this.userBlack = false
      let params = {
        text: this.userBlankList
      }
      httpGet('/admin/agent/addUserBlack', params).then(res => {
        this.$Message.success('添加成功')
        this.getAccountList()
        this.varInita()
      }, reason => { })
    },
    varInita: function () {
      this.userBlankList = ''
    }
  }
}
</script>

<style scoped>

</style>
