<template>
  <div class="w-100 t-c p-100-t">
    <div class="w-25 m-0 animated fadeIn"  v-on:keyup.enter="login">
      <h1>信博聊天室后台管理</h1>
      <Input v-model="loginData.platformId" autofocus prefix="ios-send" placeholder="请输入平台id" class="d-b w-25 m-20-t" />
      <Input v-model="loginData.name" prefix="ios-contact" placeholder="请输入账号" class="d-b w-25 m-20-t" />
      <Input v-model="loginData.password" type="password" prefix="md-lock" placeholder="请输入密码" class="d-b w-25 m-20-t" />
      <div class="f-l m-20-t m-20-b"><Switch size="large" v-model="loginStatus" @on-change="change"><span slot="open">开启</span><span slot="close">关闭</span></Switch></div>
      <Button type="primary" long   class="d-b w-25 m-20-t" @click="login">登录</Button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'login',
  data () {
    return {
      loginData: {
        platformId: '',
        name: '',
        password: ''
      },
      orLogin: false,
      loginStatus: false,
      successInfo: '登录成功',
    }
  },
  created: function () {
    this.ofLogin()
  },
  methods: {
    login: function () {
      // 判断为空
      for (let item in this.loginData) {
        if (!this.loginData[item] || this.loginData[item].indexOf(' ') !== -1) {
          this.$Message.info('请正确填写内容')
          return false
        }
      }
      this.$http.get(global.url + '/admin/agent/dologin?platformId=' + this.loginData.platformId + '&name=' + this.loginData.name + '&password=' + this.loginData.password).then(function (res) {
        if (res.data.code === 1) {
          //  将登录状态进行缓存
          localStorage.setItem('loginstatus', this.orLogin)
          localStorage.setItem('singleLogin', 'true')
          //  缓存平台账号密码
          localStorage.setItem('platformId', this.loginData.platformId)
          localStorage.setItem('name', this.loginData.name)
          localStorage.setItem('password', this.loginData.password)
          // this.$Message.success(this.successInfo)
          global.getCurrentAdmin(res.data)
        } else {
          this.$Message.info(res.data.msg)
        }
      }, function (res) {
        this.$Message.error('连接超时')
      })
    },
    //  自动登录
    ofLogin: function () {
      let url = location.href
      let theRequest = {}
      if (url.indexOf('?') !== -1) {
        let urlData = url.substr(url.indexOf('?') + 1)
        let strs = urlData.split('&')
        for (let i = 0; i < strs.length; i++) {
          theRequest[strs[i].split('=')[0]] = unescape(strs[i].split('=')[1])
        }
      }
      if (this.$route.query.login === 'false') {
        //   去除登录状态
        localStorage.setItem('loginstatus', 'false')
        localStorage.setItem('singleLogin', 'false')
        localStorage.setItem('platformId', '')
        localStorage.setItem('name', '')
        localStorage.setItem('password', '')
      } else {
        try {
          let status = localStorage.getItem('loginstatus')
          if (theRequest.admin.substring(0, 4) === 'true') {
            this.loginData.platformId = theRequest.plId
            this.loginData.name = theRequest.name
            this.loginData.password = theRequest.pass
            this.login()
          } else if (status === 'true') {
            this.loginStatus = true
            //  绑定自动登录按钮
            this.orLogin = true
            this.successInfo = '自动登录成功'
            //  赋值账号密码
            this.loginData.platformId = localStorage.getItem('platformId')
            this.loginData.name = localStorage.getItem('name')
            this.loginData.password = localStorage.getItem('password')
            this.login()
          }
        } catch (e) { }
      }
    },
    change: function (status) {
      if (status) {
        this.$Message.success('已开启自动登录')
      } else {
        this.$Message.info('已关闭自动登录')
      }
      this.orLogin = status
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
