<template>
  <div class="w-100 h-100 m-wid1000">
    <side-click :data="adminData"></side-click>
    <div class="f-l w-88 h-100">
      <Layout>
        <Header class="bg-fff p-30-l">
          <Button  icon="md-qr-scanner" type="primary" @click="addPlan.addPlanModel = true">官方彩计划</Button>
          <Button  icon="ios-expand" type="primary" @click="addPlan.systemPlanModel = true">系统彩计划</Button>
          <Button  icon="ios-funnel-outline" @click="leftSeePlan = true" type="primary" class="m-5-l">查看计划</Button>
          <Drawer title="彩票计划" placement="left" :closable="false" v-model="leftSeePlan" width="90" class="ov-hidd">
            <iframe :src="iframeUrl" frameborder="0" class="w-100 h-90" name="planIframe"></iframe>
          </Drawer>
        </Header>
      </Layout>
      <Table :columns="columns1" :data="accountList" :loading="loading" ></Table>
      <Page class="t-r m-20-r m-20-t" :current="1" :total="page.total" simple  :page-size="page.pageSize" @on-change="changePage"/>
      <!--官方彩-->
      <Modal v-model="addPlan.addPlanModel" :loading="verifyClose" :title="addTitle"  @on-ok="updaOrAdd"  @on-cancel="closePlanModel" class="t-c">
        <Row class="m-5-t m-5-b l-h-25 ">
          <Col span="8">计划类型：</Col>
          <Col span="8">
            <Select v-model="addLotteryData.lotteryType" class="w-15 ">
              <Option v-for="item in addLotteryList" :value="item.value" :key="item.value">{{ item.label }}</Option>
            </Select>
          </Col>
        </Row>
        <Row class="m-5-t m-5-b l-h-25 ">
          <Col span="8">计划ID：</Col>
          <Col span="8">
            <Input v-model="addLotteryData.cpjhUrl" placeholder="请填写计划ID" class="w-15" />
          </Col>
          <Col span="8">例：cqssc_jh_38</Col>
        </Row>
        <Row class="m-5-t m-5-b l-h-25 ">
          <Col span="8">文字颜色：</Col>
          <Col span="8">
            <ColorPicker v-model="addLotteryData.textColor"></ColorPicker>
          </Col>
          <Col span="8"></Col>
        </Row>
        <Row class="m-5-t m-5-b l-h-25 ">
          <Col span="8">昵称：</Col>
          <Col span="8">
            <Input v-model="addLotteryData.cpjhNickName" placeholder="请填写昵称" class="w-15" />
          </Col>
          <Col span="8">例：计划专员</Col>
        </Row>
        <Row class="m-5-t m-5-b l-h-25 ">
          <Col span="8">头像链接：</Col>
          <Col span="8">
            <Input v-model="addLotteryData.cpjhHeadImg" placeholder="请填写头像链接" class="w-15" />
          </Col>
        </Row>
      </Modal>
      <!--系统彩-->
      <Modal v-model="addPlan.systemPlanModel" :loading="verifyClose" :title="addTitle"  @on-ok="updaOrAdd"  @on-cancel="closePlanModel" class="t-c">
        <Row class="m-5-t m-5-b l-h-25 ">
          <Col span="8">彩种名称：</Col>
          <Col span="8">
            <Input v-model="addSystemData.lotName" placeholder="请填写彩种名称" class="w-15" />
          </Col>
          <Col span="8"></Col>
        </Row>
        <Row class="m-5-t m-5-b l-h-25 ">
          <Col span="8">完整网站域名：</Col>
          <Col span="8">
            <Input v-model="addSystemData.domain" placeholder="请填写完整域名" class="w-15" />
          </Col>
          <Col span="8">如https://baidu.com/</Col>
        </Row>
        <Row class="m-5-t m-5-b l-h-25 ">
          <Col span="8">玩法位置：</Col>
          <Col span="8">
            <RadioGroup v-model="addSystemData.wanfa">
              <Radio label="1">大小</Radio>
              <Radio label="2">单双</Radio>
            </RadioGroup>
          </Col>
          <Col span="8"></Col>
        </Row>
        <Row class="m-5-t m-5-b l-h-25 ">
          <Col span="8">文字颜色：</Col>
          <Col span="8">
            <ColorPicker v-model="addSystemData.textColor"></ColorPicker>
          </Col>
          <Col span="8"></Col>
        </Row>
        <Row class="m-5-t m-5-b l-h-25 ">
            <Col span="8">彩种类型：</Col>
          <Col span="8">
            <Input v-model="addSystemData.lotCode" placeholder="请填写彩种类型，如'WFC'" class="w-15" />
          </Col>
          <Col span="8">请联系客服获取。</Col>
        </Row>
        <Row class="m-5-t m-5-b l-h-25 ">
            <Col span="8">发布人昵称：</Col>
          <Col span="8">
            <Input v-model="addSystemData.cpjhNickName" placeholder="请填写发布人昵称" class="w-15" />
          </Col>
          <Col span="8"></Col>
        </Row>
        <Row class="m-5-t m-5-b l-h-25 ">
            <Col span="8">发布人头像：</Col>
          <Col span="8">
            <Input v-model="addSystemData.cpjhHeadImg" placeholder="请填写发布人头像" class="w-15" />
          </Col>
          <Col span="8"></Col>
        </Row>
      </Modal>
    </div>
  </div>
</template>

<script>
import {httpGet, httpPost, getAdmin} from '../../static/js/index'
export default {
  data () {
    return {
      loading: true,
      addTitle: '添加计划',
      addMoedl: true,
      updateOrAdd: false,
      leftSeePlan: false,
      isLotteryType: 0,
      verifyClose: true,
      iframeUrl: 'https://ssjh.xinbozr.com/index-0407.html?planId=',
      //  官方彩
      addLotteryData: {
        lotteryType: '1',
        cpjhHeadImg: 'https://xbtu111.com/chatserver/headimg/20.gif',
        cpjhNickName: '',
        cpjhUrl: '',
        isSys: '0',
        textColor: '#000'
      },
      // 系统彩
      addSystemData: {
        lotName: '', // 彩种名称
        platformId: '', //  聊天室代号
        domain: '', // 完整网站域名
        wanfa: '1', //  玩法位置(做选项，大小和单双，字段值为1或者2)
        lotCode: '', // 彩种类型，如"WFC"，备注:请联系客服获取。
        cpjhHeadImg: 'https://xbtu111.com/chatserver/headimg/20.gif',
        cpjhNickName: '',
        isSys: '1',
        templet: '1', //  玩法类型(做选项),
        textColor: '#000'
      },
      addLotteryList: [
        {
          value: '1',
          label: '重庆时时彩'
        },
        {
          value: '2',
          label: '北京赛车'
        },
        {
          value: '3',
          label: '幸运飞艇'
        }
      ],
      addPlan: {
        addPlanModel: false,
        systemPlanModel: false
      },
      page: {
        total: 10,
        pageSize: 12,
        showList: [],
        p: 1
      },
      columns1: [
        {
          title: '序号',
          key: 'number',
          align: 'center'
        },
        {
          title: '彩种类型',
          key: 'type',
          align: 'center'
        },
        {
          title: '计划类型',
          key: 'lotteryTypeF',
          align: 'center'
        },
        {
          title: '计划Id',
          key: 'cpjhUrl',
          align: 'center'
        },
        {
          title: '发布人昵称',
          key: 'cpjhNickName',
          align: 'center'
        },
        {
          title: '文字颜色',
          key: 'textColor',
          align: 'center'
        },
        {
          title: '发布人头像',
          key: 'cpjhHeadImg',
          align: 'center',
          tooltip: true
        },
        {
          title: '操作',
          key: 'id',
          align: 'center',
          width: '189',
          render: (h, params) => {
            return h('div', [
              h('Button', {
                props: { type: params.row.statusStyle, size: 'small' },
                style: { marginRight: '5px' },
                on: {
                  click: () => {
                    this.closeLottery(params.row)
                  }
                }
              }, params.row.statusFont),
              h('Button', {
                props: { type: 'primary', size: 'small' },
                style: { marginRight: '5px' },
                on: {
                  click: () => {
                    //  1：系统彩  0：官方彩
                    this.isLotteryType = (params.row.isSys === 1) ? 1 : 0
                    this.editPlan(params.row)
                    this.addTitle = '修改计划'
                  }
                }
              }, '编辑'),
              h('Button', { props: {type: 'error', size: 'small'} },
                [
                  h('Poptip',
                    { props: { confirm: true, transfer: true, title: '删除后不可恢复，确定要删除吗！', type: 'error', size: 'small' },
                      on: {
                        'on-ok': () => {
                          this.deletePlan(params.row.id)
                        },
                        'on-cancel': () => { }
                      }
                    }, '删除')
                ]
              )
            ])
          }
        }
      ],
      accountList: [ ]
    }
  },
  created: function () {
    this.addSystemData.platformId = this.adminData.platformId
    this.iframeUrl = this.iframeUrl + this.adminData.platformId
    this.getCPJH()
  },
  methods: {
    getCPJH: function () {
      this.loading = true
      this.accountList = [ ]
      this.page.showList = [ ]
      let params = {}
      httpGet('/admin/cpjh/getCPJH', params).then(res => {
        this.loading = false
        res = res.body.data
        this.page.total = res.length
        for (let i = res.length - 1; i >= 0; i--) {
          res[i].number = i + 1
          //  新增字段展示文字
          switch (res[i].lotteryType) {
            case '1':
              res[i].lotteryTypeF = '重庆时时彩'
              break
            case '2':
              res[i].lotteryTypeF = '北京赛车'
              break
            case '3':
              res[i].lotteryTypeF = '幸运飞艇'
              break
          }
          res[i].type = (res[i].isSys === 1) ? '系统彩' : '官方彩'
          res[i].statusFont = (res[i].status === 1) ? '关闭' : '开启'
          res[i].statusStyle = (res[i].status === 1) ? 'warning' : 'primary'
          if (res[i].isSys === 1) {
            res[i].lotteryTypeF = res[i].lotCode
            res[i].cpjhUrl = res[i].domain
          }
          this.accountList.unshift(res[i])
        }
        this.page.showList = this.accountList
        //  取最大页数
        let max = Math.ceil(this.page.showList.length / this.page.pageSize)
        max = (max === 0) ? '1' : max
        //  判断用户在最后一页进行操作时ajax刷新的页数
        if (this.page.p >= max) {
          this.page.p = max
        }
        this.changePage(this.page.p)
      }, reason => {})
    },
    changePage: function (index) {
      this.page.p = index
      this.accountList = this.page.showList
      let _start = (index - 1) * this.page.pageSize
      let _end = index * this.page.pageSize
      this.accountList = this.page.showList.slice(_start, _end)
    },
    deletePlan: function (id) {
      let params = {
        id: id
      }
      httpGet('/admin/cpjh/deleteCPJH', params).then(res => {
        this.$Message.success('删除成功')
        this.getCPJH()
      }, reason => {})
    },
    editPlan: function (data) {
      this.updateOrAdd = true
      //  判断彩票类型
      if (this.isLotteryType === 0) {
        //  官方彩
        this.addPlan.addPlanModel = true
        this.addLotteryData = {
          lotteryType: data.lotteryType,
          cpjhHeadImg: data.cpjhHeadImg,
          cpjhNickName: data.cpjhNickName,
          cpjhUrl: data.cpjhUrl,
          id: data.id,
          isSys: '0',
          status: data.status + '',
          textColor: data.color ? data.color : '#000000'
        }
      } else {
        //  系统彩
        this.addPlan.systemPlanModel = true
        this.addSystemData = {
          lotName: data.lotName,
          platformId: data.platId, //  聊天室代号
          domain: data.domain, // 完整网站域名
          wanfa: data.wanfa + '', //  玩法位置(做选项，大小和单双，字段值为1或者2)
          lotCode: data.lotCode, // 彩种类型，如"WFC"，备注:请联系客服获取。
          cpjhHeadImg: data.cpjhHeadImg,
          cpjhNickName: data.cpjhNickName,
          isSys: '1',
          id: data.id,
          status: data.status + '',
          textColor: data.color ? data.color : '#000000'
        }
      }
    },
    closePlanModel: function () {
      this.varInita()
      this.updateOrAdd = false
    },
    updaOrAdd: function () {
      //  验证图片
      let eachData = {}
      if (this.isLotteryType === 0 && this.addPlan.addPlanModel) { // 官方彩
        global.verifyPic(this.addLotteryData.cpjhHeadImg)
        eachData = this.addLotteryData
      } else {
        // 系统彩
        global.verifyPic(this.addSystemData.cpjhHeadImg)
        eachData = this.addSystemData
      }
      for (let item in eachData) {
        if (!eachData[item] || (eachData[item] + '').indexOf(' ') !== -1 || (eachData[item] + '').indexOf('.js') !== -1) {
          this.$Message.info('请正确填写内容')
          //  阻止iview模态框关闭
          setTimeout(() => {
            this.verifyClose = false
            this.$nextTick(() => {
              this.verifyClose = true
            })
          }, 1000)
          return false
        }
      }
      //  判断头像后缀名
      if (global.verifyPicBoole) {
        this.$Message.info('头像格式不正确')
        //  阻止iview模态框关闭
        setTimeout(() => {
          this.verifyClose = false
          this.$nextTick(() => {
            this.verifyClose = true
          })
        }, 1000)
        global.verifyPicBoole = false
        return false
      }
      // 关闭模态框
      //  判断是否是修改 ，官方彩还是系统彩
      if (this.updateOrAdd) {
        this.updateLottery()
      } else {
        if (this.isLotteryType === 0 && this.addPlan.addPlanModel) {
          this.addLotteryOk()
        } else {
          this.addSystem()
        }
      }
      this.addPlan.addPlanModel = false
      this.addPlan.systemPlanModel = false
      this.varInita()
    },
    //  官方彩添加
    addLotteryOk: function () {
      let params = {
        cpjhUrl: this.addLotteryData.cpjhUrl,
        cpjhNickName: this.addLotteryData.cpjhNickName,
        cpjhHeadImg: this.addLotteryData.cpjhHeadImg,
        lotteryType: this.addLotteryData.lotteryType,
        isSys: '0',
        textColor: this.addLotteryData.textColor
      }
      httpGet('/admin/cpjh/addCPJH', params).then(res => {
        this.$Message.success('添加成功')
        this.getCPJH()
      }, reason => {})
    },
    updateLottery: function () {
      let params
      if (this.isLotteryType === 0 && this.addPlan.addPlanModel) {
        params = this.addLotteryData
      } else {
        params = this.addSystemData
      }
      this.updateOrAdd = false
      httpPost('/admin/cpjh/updateCPJH', params).then(res => {
        this.$Message.success('修改成功')
        this.getCPJH()
        this.varInita()
      }, reason => {})
    },
    //  系统彩添加
    addSystem: function () {
      let params = this.addSystemData
      httpGet('/admin/cpjh/addSysCPJH', params).then(res => {
        this.$Message.success('添加成功')
        this.getCPJH()
      }, reason => {})
    },
    //  系统彩修改
    upSystem: function () {
      let params = this.addSystemData
      httpGet('', params).then(res => {
        this.$Message.success('添加成功')
        this.getCPJH()
      }, reason => {})
    },
    //  开启关闭计划
    closeLottery: function (e) {
      e.status = (e.status === 0) ? '1' : '0'
      let params = {
        id: e.id,
        status: e.status
      }
      httpGet('/admin/cpjh/updateCpjhStatus', params).then(res => {
        this.$Message.success('计划' + e.cpjhNickName + e.statusFont + '成功')
        this.getCPJH()
      }, reason => {})
    },
    varInita: function () {
      this.isLotteryType = 0
      this.addSystemData = {
        lotName: '', // 彩种名称
        platformId: this.adminData.platformId, //  聊天室代号
        domain: '', // 完整网站域名
        wanfa: '', //  玩法位置(做选项，大小和单双，字段值为1或者2)
        lotCode: '', // 彩种类型，如"WFC"，备注:请联系客服获取。
        cpjhHeadImg: 'https://xbtu111.com/chatserver/headimg/20.gif',
        cpjhNickName: '',
        isSys: '1'
      }
      this.addLotteryData = {
        lotteryType: '1',
        cpjhHeadImg: 'https://xbtu111.com/chatserver/headimg/20.gif',
        cpjhNickName: '',
        cpjhUrl: '',
        isSys: '0'
      }
    }
  }
}
</script>

<style scoped>

</style>
