<template>
  <div class="w-100 h-100 m-wid1000">
    <side-click :data="adminData"></side-click>
    <div class="f-l w-88 h-100">
      <Layout>
        <Header class="bg-fff p-30-l">
          <Button  icon="md-qr-scanner" type="primary" @click="addManagerBoole = true">添加管理员</Button>
        </Header>
      </Layout>
      <Table ref="selection"  :columns="columns1" :data="accountList" :loading="loading" ></Table>
      <Page class="t-r m-20-r m-20-t" :current="page.p" :total="page.total" simple  :page-size="page.pageSize" @on-change="changePage"/>
    </div>
    <Modal v-model="addManagerBoole" title="添加管理员" :loading="verifyClose" @on-ok="addManager" @on-cancel="cancel" closable class="t-c">
      <Row class="m-5-t m-5-b l-h-25 ">
        <Col span="8"> 账号：</Col>
        <Col span="8">
          <Input v-model="manager.account" placeholder="请输入账号" class="w-15" />
        </Col>
      </Row>
      <Row class="m-5-t m-5-b l-h-25 ">
        <Col span="8">密码：</Col>
        <Col span="8">
          <Input type="password" v-model="manager.pass" placeholder="请输入密码" class="w-15" />
        </Col>
        <Col span="8"></Col>
      </Row>
      <Row class="m-5-t m-5-b l-h-25 ">
        <Col span="8">昵称：</Col>
        <Col span="8">
          <Input v-model="manager.name" placeholder="请输入昵称" class="w-15" />
        </Col>
        <Col span="8"></Col>
      </Row>
    </Modal>
    <Modal v-model="upLevelOne" title="修改密码" :loading="verifyClose" @on-ok="updateLevelOne" @on-cancel="cancel" closable class="t-c">
      <Row class="m-5-t m-5-b l-h-25 ">
        <Col span="8">密码：</Col>
        <Col span="8">
          <Input v-model="manager.pass" placeholder="请输入密码" class="w-15" />
        </Col>
        <Col span="8"></Col>
      </Row>
    </Modal>
    <Modal v-model="upLevelSuper" title="修改密码" :loading="verifyClose" @on-ok="updateLevelSuper" @on-cancel="cancel" closable class="t-c">
      <Row class="m-5-t m-5-b l-h-25 ">
        <Col span="8">旧密码：</Col>
        <Col span="8">
          <Input v-model="upLevelData.oldPass" placeholder="请输入旧密码" type="password" class="w-15" />
        </Col>
        <Col span="8"></Col>
      </Row>
      <Row class="m-5-t m-5-b l-h-25 ">
        <Col span="8">新密码：</Col>
        <Col span="8">
          <Input v-model="upLevelData.newPass" placeholder="请输入新密码" type="password" class="w-15" />
        </Col>
        <Col span="8"></Col>
      </Row>
      <Row class="m-5-t m-5-b l-h-25 ">
        <Col span="8">确认密码：</Col>
        <Col span="8">
          <Input v-model="upLevelData.yesPass" placeholder="请再次输入新密码" type="password" class="w-15" />
        </Col>
        <Col span="8"></Col>
      </Row>
    </Modal>
  </div>
</template>

<script>
import {httpGet, getadminList} from '../../static/js/index'
export default {
  name: 'manager',
  data () {
    return {
      loading: true,
      verifyClose: true,
      addManagerBoole: false,
      upLevelOne: false,
      upLevelSuper: false,
      upLevelData: {
        oldPass: '',
        newPass: '',
        yesPass: ''
      },
      manager: {
        account: '',
        pass: '',
        name: ''
      },
      page: {
        total: 10,
        pageSize: 12,
        showList: [],
        p: 1
      },
      columns1: [
        {
          title: '序号',
          key: 'number',
          align: 'center'
        },
        {
          title: '等级',
          key: 'levels',
          align: 'center'
        },
        {
          title: '账号',
          key: 'name',
          align: 'center'
        },
        {
          title: '昵称',
          key: 'nickname',
          align: 'center'
        },
        {
          title: '注册IP',
          key: 'ip',
          align: 'center'
        },
        {
          title: '操作',
          key: 'id',
          align: 'center',
          width: '243',
          render: (h, params) => {
            return h('div', [
              h('Button', {
                props: { type: 'primary', size: 'small' },
                style: {
                  marginRight: '5px'
                },
                on: {
                  click: () => {
                    this.locaChat(params.row.level, params.row.platformId, params.row.name)
                  }
                }
              }, '聊天室'),
              h('Button', {
                props: { type: 'primary', size: 'small' },
                style: {
                  marginRight: '5px'
                },
                on: {
                  click: () => {
                    if (params.row.level === 100) {
                      this.upLevelSuper = true
                    } else {
                      this.upLevelOne = true
                    }
                    this.manager.id = params.row.id
                  }
                }
              }, '修改'),
              h('Button', { props: {type: 'error', size: 'small'}, style: {display: (params.row.level === 100) ? 'none' : 'inline-block'} },
                [
                  h('Poptip',
                    { props: { confirm: true, transfer: true, title: '删除后不可恢复，确定要删除吗！', type: 'error', size: 'small' },
                      on: {
                        'on-ok': () => {
                          this.deleteManager(params.row.name)
                        },
                        'on-cancel': () => { }
                      }
                    }, '删除')
                ]
              )
            ])
          }
        }
      ],
      accountList: [ ]
    }
  },
  created: function () {
    this.getAdminList()
  },
  methods: {
    getAdminList: function () {
      this.loading = true
      this.accountList = [ ]
      this.page.showList = [ ]
      let params = {}
      getadminList().then(res => {
        this.loading = false
        res = res.data
        this.page.total = res.length
        for (let i = res.length - 1; i >= 0; i--) {
          res[i].number = i + 1
          res[i].levels = (res[i].level === 100) ? '超级管理员' : '管理员'
          this.accountList.unshift(res[i])
        }
        this.page.showList = this.accountList
        //  取最大页数
        let max = Math.ceil(this.page.showList.length / this.page.pageSize)
        max = (max === 0) ? '1' : max
        //  判断用户在最后一页进行操作时ajax刷新的页数
        if (this.page.p >= max) {
          this.page.p = max
        }
        this.changePage(this.page.p)
      }, reason => {})
      // httpGet('/user/adminList', params).then(res => {
      //   this.loading = false
      //   res = res.body.data
      //   this.page.total = res.length
      //   for (let i = res.length - 1; i >= 0; i--) {
      //     res[i].number = i + 1
      //     res[i].levels = (res[i].level === 100) ? '超级管理员' : '管理员'
      //     this.accountList.unshift(res[i])
      //   }
      //   this.page.showList = this.accountList
      //   //  取最大页数
      //   let max = Math.ceil(this.page.showList.length / this.page.pageSize)
      //   max = (max === 0) ? '1' : max
      //   //  判断用户在最后一页进行操作时ajax刷新的页数
      //   if (this.page.p >= max) {
      //     this.page.p = max
      //   }
      //   this.changePage(this.page.p)
      // }, reason => {})
    },
    //  添加管理员
    addManager: function () {
      for (let item in this.manager) {
        if (!this.manager[item] || (this.manager[item] + '').indexOf(' ') !== -1 || (this.manager[item] + '').indexOf('.js') !== -1) {
          this.$Message.info('请正确填写内容')
          //  阻止iview模态框关闭
          setTimeout(() => {
            this.verifyClose = false
            this.$nextTick(() => {
              this.verifyClose = true
            })
          }, 1000)
          return false
        }
      }
      this.addManagerBoole = false
      let params = {
        name: this.manager.account,
        password: this.manager.pass,
        nickName: this.manager.name,
        level: 1
      }
      httpGet('/admin/agent/addAdmin', params).then(res => {
        this.$Message.success('添加成功')
        this.getAdminList()
        this.verifyData()
      }, reason => {})
    },
    //  删除管理员
    deleteManager: function (name) {
      let params = {
        name: name
      }
      httpGet('/admin/agent/delectAdmin', params).then(res => {
        this.$Message.success('删除成功')
        this.getAdminList()
        this.verifyData()
      }, reason => {})
    },
    // 修改管理密码
    updateLevelOne: function () {
      if (!this.manager.pass || this.manager.pass.length < 6) {
        this.$Message.info('密码长度不得小于6位')
        setTimeout(() => {
          this.verifyClose = false
          this.$nextTick(() => {
            this.verifyClose = true
          })
        }, 1000)
        return false
      }
      this.upLevelOne = false
      let params = {
        newPassword: this.manager.pass,
        userId: this.manager.id
      }
      httpGet('/admin/agent/updateAdminPwd', params).then(res => {
        this.$Message.success('修改成功')
        this.getAdminList()
        this.verifyData()
      }, reason => {})
    },
    // 修改超级管理员密码
    updateLevelSuper: function () {
      if (this.upLevelData.newPass !== this.upLevelData.yesPass) {
        this.$Message.error('两次密码不一致')
        setTimeout(() => {
          this.verifyClose = false
          this.$nextTick(() => {
            this.verifyClose = true
          })
        }, 1000)
        return false
      }
      for (let item in this.upLevelData) {
        if (!this.upLevelData[item] || (this.upLevelData[item] + '').indexOf(' ') !== -1 || (this.upLevelData[item] + '').indexOf('.js') !== -1) {
          this.$Message.info('请正确填写内容')
          //  阻止iview模态框关闭
          setTimeout(() => {
            this.verifyClose = false
            this.$nextTick(() => {
              this.verifyClose = true
            })
          }, 1000)
          return false
        }
      }
      // 关闭模态框
      this.upLevelSuper = false
      let params = {
        oldPassword: this.upLevelData.oldPass,
        newPassword: this.upLevelData.newPass
      }
      httpGet('/admin/agent/updatePassword', params).then(res => {
        this.$Message.success('修改成功,请重新登录')
        this.$router.push({path: `/?login=false`})
      }, reason => {})
    },
    //  跳转聊天室
    locaChat: function (level, pid, name) {
      this.loading = true
      let params = {
        token: this.adminData.token,
        platformId: pid,
        level: level,
        name: name
      }
      httpGet('/getToken', params).then(res => {
        window.open(window.location.protocol + '//' + window.location.host + '/?token=' + res.body.data, '_blank')
        this.loading = false
        this.$Message.success('跳转成功')
      }, reason => {})
    },
    // 分页
    changePage: function (index) {
      this.page.p = index
      this.accountList = this.page.showList
      let _start = (index - 1) * this.page.pageSize
      let _end = index * this.page.pageSize
      this.accountList = this.page.showList.slice(_start, _end)
    },
    cancel: function () {
      this.verifyData()
    },
    //  数据初始化
    verifyData: function () {
      this.manager = {
        account: '',
        pass: '',
        name: ''
      }
      this.upLevelData = {
        oldPass: '',
        newPass: '',
        yesPass: ''
      }
    }
  }
}
</script>

<style scoped>

</style>
