<template>
  <div class="w-100 h-100 m-wid1000">
    <side-click :data="adminData"></side-click>
    <div class="f-l w-88 h-100">
      <Table :columns="columns1" :data="accountList" :loading="loading"></Table>
    </div>
    <Modal v-model="upShow" :title="upName" :loading="verifyClose" @on-ok="updateOther" @on-cancel="verifyData" closable>
      <p class="t-c" v-show="input.text"><Input v-model="upContent"  :placeholder="upName"  style="width: 300px"  clearable /></p>
      <p class="t-c" v-show="input.number"><InputNumber :max="2000" :min="1" v-model="upNumber"></InputNumber></p>
      <p class="t-c" v-show="input.textarea"><Input v-model="upContent"  type="textarea" :rows="4" :placeholder="upName"  style="width: 300px" clearable  /></p>
    </Modal>
    <Modal v-model="isHigh" title="添加敏感词汇" :loading="verifyClose" @on-ok="addHigh" @on-cancel="verifyData" closable>
      <p class="t-c"><Input v-model="highContent"  placeholder="英文逗号或空格隔开"  style="width: 300px"  clearable /></p>
      <p  class="t-c c-r m-5-t">*敏感词汇只可增加不可删除，请谨慎填写!</p>
    </Modal>
  </div>
</template>

<script>
import {httpGet, httpPost} from '../../static/js/index'
export default {
  name: 'other',
  data () {
    return {
      loading: true,
      upShow: false,
      verifyClose: true,
      isHigh: false, // 敏感词汇
      highContent: '',
      loadSwitch: false,
      input: {
        text: false,
        number: false,
        textarea: false
      },
      upName: '',
      upTitle: '',
      upContent: '',
      upNumber: 0,
      columns1: [
        {
          title: '设置项目',
          key: 'name',
          align: 'center'
        },
        {
          title: '当前参数',
          key: 'content',
          align: 'center',
          tooltip: true
        },
        {
          title: '操作',
          key: 'id',
          align: 'center',
          render: (h, params) => {
            return h('div', [
              h('Button', {
                props: {
                  type: 'primary',
                  size: 'small'
                },
                style: {
                  display: (params.row.style === 'inline-block') ? 'inline-block' : 'none'
                },
                on: {
                  click: () => {
                    this.upName = '修改' + params.row.name + '成功'
                    this.upTitle = params.row.url
                    this.upShow = true
                    //  根据修改内容显示输出框
                    if (params.row.url === 'chatMax') {
                      this.input.number = true
                      this.upNumber = parseInt(params.row.content)
                    } else if (params.row.url === 'navigationUrl') {
                      this.input.textarea = true
                      this.upContent = params.row.content
                    } else {
                      this.input.text = true
                      this.upContent = params.row.content
                    }
                  }
                }
              }, '修改'),
              h('Button', {
                props: {
                  type: 'primary',
                  size: 'small'
                },
                style: {
                  display: (params.row.style === 'add') ? 'inline-block' : 'none'
                },
                on: {
                  click: () => {
                    this.isHigh = true
                  }
                }
              }, '添加'),
              h('ColorPicker', {
                props: {
                  value: params.row.content ? params.row.content : '#ffffff'
                },
                style: {
                  display: (params.row.style === 'color') ? 'inline-block' : 'none'
                },
                on: {
                  'on-change': (value) => {
                    this.upTitle = params.row.url
                    this.upContent = value
                    this.updateOther()
                  }
                }
              }),
              h('i-switch', {
                props: {
                  type: 'primary',
                  value: params.row.content === '全体禁言',
                  loading: this.loadSwitch
                },
                style: {
                  display: (params.row.style === 'switch') ? 'inline-block' : 'none'
                },
                on: {
                  'on-change': (value) => {
                    this.upTitle = params.row.url
                    if (value) {
                      this.upContent = 1
                      this.upName = '开启' + params.row.name
                    } else {
                      this.upContent = 0
                      this.upName = '关闭' + params.row.name
                    }
                    this.updateOther()
                  }
                }
              })
            ])
          }
        }
      ],
      accountList: [
        {
          name: '聊天室LOGO',
          content: '',
          url: 'logo',
          style: 'inline-block'
        },
        {
          name: '聊天室名称',
          content: '',
          url: 'kjUrl',
          style: 'inline-block'
        },
        {
          name: '页面公告',
          content: '',
          url: 'navigationUrl',
          style: 'inline-block'
        },
        {
          name: 'QQ客服',
          content: '',
          url: 'appUrl',
          style: 'inline-block'
        },
        {
          name: '聊天记录条数',
          content: '',
          url: 'chatMax',
          style: 'inline-block'
        },
        {
          name: '等级发言',
          content: '',
          url: 'grade',
          style: 'inline-block'
        },
        {
          name: '敏感词汇',
          content: '',
          url: 'highTide',
          style: 'add'
        },
        {
          name: '全体禁言',
          content: '',
          url: 'bannedChat',
          style: 'switch'
        },
        {
          name: '管理员发言颜色',
          content: '',
          url: 'adminTextColor',
          style: 'color'
        }
      ]
    }
  },
  created: function () {
    this.getOtherList()
  },
  methods: {
    getOtherList: function () {
      this.loading = true
      let params = {}
      httpGet('/admin/agent/getPlatformConfig', params).then(res => {
        this.loading = false
        for (let index in this.accountList) {
          for (let key in res.body.data) {
            if (key === this.accountList[index].url) {
              if (key === 'bannedChat') {
                this.accountList[index].content = (res.body.data[key] === 1) ? '全体禁言' : '允许发言'
              } else {
                this.accountList[index].content = res.body.data[key]
              }
            }
          }
        }
        this.getHighTide()
      }, reason => {})
    },
    //  获取敏感词汇
    getHighTide: function () {
      let params = {
        platformId: this.adminData.platformId
      }
      httpPost('/admin/agent/getSensitiveWords', params).then(res => {
        for (let index in this.accountList) {
          if (this.accountList[index].url === 'highTide') {
            this.accountList[index].content = res.data.data
          }
        }
      }, reason => {})
    },
    //  添加敏感词汇
    addHigh: function () {
      if (!this.highContent && this.highContent !== 0) {
        this.$Message.info('请填写内容')
        setTimeout(() => {
          this.verifyClose = false
          this.$nextTick(() => {
            this.verifyClose = true
          })
        }, 1000)
        return false
      }
      this.isHigh = false
      let params = {
        platformId: this.adminData.platformId,
        words: this.highContent
      }
      httpPost('/admin/agent/setSensitiveWords', params).then(res => {
        this.$Message.success('添加成功')
        this.getOtherList()
        this.verifyData()
      }, reason => {})
    },
    updateOther: function () {
      if (this.upTitle === 'bannedChat') {
        this.loadSwitch = true
      }
      setTimeout(() => {
        this.loadSwitch = false
      }, 5000)
      //  赋值数字
      if (this.upTitle === 'chatMax') {
        this.upContent = this.upNumber
      }
      if (!this.upContent && this.upContent !== 0) {
        this.$Message.info('请填写内容')
        setTimeout(() => {
          this.verifyClose = false
          this.$nextTick(() => {
            this.verifyClose = true
          })
        }, 1000)
        return false
      }
      this.upShow = false
      let params = {
        id: this.upTitle,
        text: this.upContent
      }
      httpGet('/admin/agent/setPlatformConfig', params).then(res => {
        this.$Message.success(this.upName)
        this.getOtherList()
        this.verifyData()
      }, reason => {})
    },
    //  数据初始化
    verifyData: function () {
      this.upName = ''
      this.upTitle = ''
      this.upContent = ''
      this.highContent = ''
      this.upNumber = 0
      this.input = {
        text: false,
        number: false,
        textarea: false
      }
    }
  }
}
</script>

<style scoped>

</style>
