<template>
  <div class="w-100 h-100 m-wid1000">
    <side-click :data="adminData"></side-click>
    <div class="f-l w-88 h-100 demo-spin-article">
      <Layout>
        <Header class="bg-fff p-30-l">
          <Button  icon="md-qr-scanner" type="primary" @click="addRobotIs = true">添加机器人</Button>
          <Button  icon="md-arrow-round-up" type="info" @click="robotStatus(1)">上线</Button>
          <Button  icon="md-arrow-down" type="info" @click="robotStatus(0)">下线</Button>
          <Poptip confirm title="是否随机更换所选机器人头像？"  @on-ok="updateRobotHead" @on-cancel="cancel"><Button type="info">更换头像</Button></Poptip>
          <Poptip confirm title="是否删除所选机器人？"  @on-ok="deleteRobots" @on-cancel="cancel"><Button type="error">删除</Button></Poptip>
        </Header>
      </Layout>
      <Table ref="selection"  @on-selection-change="requires" :columns="columns1" :data="accountList" :loading="loading" ></Table>
      <Page class="t-r m-20-r m-20-t" :current="page.p" :total="page.total" simple  :page-size="page.pageSize" @on-change="changePage"/>
    </div>
    <Spin size="large" fix v-if="spinShow"></Spin>
    <Modal v-model="addRobotIs" title="添加机器人" :loading="verifyClose" @on-ok="addRobot" @on-cancel="cancel" closable>
      <p class="t-c m-5-b"><Input v-model="robotName" type="textarea" :autosize="true" placeholder="*添加多个机器人时请用英文逗号【,】分隔"  style="width: 300px;"/></p>
      <p class="t-c m-5-t"><Button type="info" @click="creatRobotNames" style="width: 240px;">随机生成10个机器人</Button><Button class="m-5-l"  @click="robotName = ''" style="width: 55px;">清空</Button></p>
    </Modal>
    <Modal v-model="robotHeadBoele" title="更换头像" :loading="verifyClose" @on-ok="robotHead" @on-cancel="cancel" closable>
      <p class="t-c"><Input v-model="robot.headImg" placeholder="请输入头像链接"  style="width: 300px" clearable  /></p>
    </Modal>
    <Modal v-model="speakBoole" title="机器人发言" :loading="verifyClose" @on-ok="robotSpeak" @on-cancel="cancel" closable>
      <p class="t-c"><Input v-model="robot.content" type="textarea" :rows="4" placeholder="请输入发送的信息" /></p>
    </Modal>
  </div>
</template>

<script>
import {httpGet} from '../../static/js/index'
export default {
  name: 'robot',
  data () {
    return {
      loading: true,
      verifyClose: true,
      spinShow: false,
      tableNames: [],
      robotStatueId: '',
      randomHead: ['https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGyeuTcZWBcCCUrnPSvw4WwQjj-NZ03fhL_7GdvAOa6_lWDWL53Q', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAeb13diRbpFu-1LYUo3HEpDjuKkin3xnd6RwozzyYvpCC6UD9', 'http://www.kuige.com/uploads/allimg/160806/8-160P6145J3.jpg', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRs9sEviL0njYWFzsOk74EsC-gT6Cj1Yu7UriQcC_qLMuVTtyqI', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwFdHArGChN7YI4QO5_ZNJMRMbZAhtDKrx817o-1f3SaU1uooqFA', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBYDxld-CelybqVbC2k0YIk4WoM2wYDIN9-c8OiRc9_Cnpa4S8', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyKoa9lDm9CAjxJAcaCdNOVQkv3HE9K3epWeKZSnhaQp05rbZk0A', 'http://img.wxcha.com/file/201901/09/e4723d4f72.jpg', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQadcHnU9NGNLRRtNA8MBlFDG1ChEgqUmptYe1g5f3oHTZMrpji', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKaTYMRBgyQDV2PFM8slgXbt907zDvbPTtQoHIhiA357mpg8jDhA', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRzGcz7wPgOPSg2y0dFZcoaFFszdG-vB_XeERJ0mlN_Aysg_-Y8aA', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRf8G-4z6gjMwjqblJPBdS-hZWiH7zcaHcOEEq7U2vUuiMegJ4C', 'http://wap.duoziwang.com/2016/10/27/15071114083.jpg', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS08A2KwciT1xPCkMG5Rl8rzgMaXhuH1FpBcT--Ycul594LMpOn', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgnM7YJ8SQYuBRfYDVtLdGF-vCxGaGX9fBgAjbn8YFwJL3RbHuBQ', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOrzWcs5Yz6MTM7vLHzQelVRCF5JCLGhZY4Eke20xVrRjXSMYd', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQMPRnWp57oYmBKxGV9zNsEPmBczjJPytbau6EBudz43p9MAp0S', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSSHoVZOt8EFcYriSS01JnSM_aDORRKFBXuB-Yjli-AnAKRXwKf', 'http://www.kuige.com/uploads/allimg/160806/8-160P6145J3.jpg', 'https://www.qq745.com/uploads/allimg/160718/8-160GQ52158.jpg', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbUETmXSmOM3p3g2ho9AsJ1EkHnIQdZNxLz7u6M9xeELUlAECQ', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSYgNTXU-VO_UPmWwMW342pU66Z_D_CRF80YbjCs2d8_JkQuxK', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1R1e0N2Q2KaxEzVXNJWsRupaXY_hslqqVpu7XlOwqw_MelwAZ', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToJUoRHD74geSFm_2lmWSoH8g5BXZIRoS_fyvWfyqn7WqKjhkc', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiurcW3TkQIipKz0QDk2ZSvoFX7II44ZS_cnD8vmKDynya50kD', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5iBSDmjcLAgrdOAioJzYozzP1AqKKnAcBUiewi-DbF1CNo4Zf', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQijf6dxCG9HBTpLR3ADuiNydX5vr9MXZHt-x9_WOjEa6mX0C_w', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTt_3kshLAONv3hXzEFMyZxG7YBMy4jgObUbakPKy5f6YIHF3o2', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgNZq2RMI0btUzG4eVRDBqBCgOpaPNDq5Vy8h5jtNuyFRSK6Hgvw', 'http://img.wxcha.com/file/201901/07/97017026a3.jpeg', 'http://p1.pstatp.com/large/53eb00055159784436d7', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcLv2XM69hAkfLlG98gB1J6GiiB0l6jgtugJJiZ293O8xDa2oJ', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdyaYA3a4OKXo4FfGzYGvsuti-MwOA5YG-M_ecOt8W1RuHPaOV', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlMaqiROcdrBhyASNVXSIUPKH7D0nvoZHRZ79mFGIl2O5nObb6uQ', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ52wFgElGGnfG2iv-6vN-AewUfxj-VmZQFt3YZFIltXvQ-DoBz', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQN4tGf0VyqxmErjLeIBbe0p9eYG3H8La5eW40ATPg8PCk8fsoZ', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQzMJe3MhWEYlYJXODlyjHEt7KDQacB_lXglEDWRnEr-MSbLtUz', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS65Ls454VMrZPOJzUjxNiyLB9NAT2dLPq3VJ5SYKKxcjLxpW56', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXHMKKoAs5TT-ZGCEDv1MB4XPlOWyxZe3249_PHuX7gb3eeWmm', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfPg1bLFRctYrmVNqKRX6xPQH48ug-OKfoIp0Sz6Qrw9lSbfHpIw', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT-XaLIQRuoaTs94U26HeyEjyCqFwUcTWxJ7eeuyMTiubrHFYlX', 'http://img3.cache.netease.com/lady/2014/1/16/20140116145149d5589.jpg', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOVSXY1lwGqdt5WTsANzMP-_9Aw5Nhe7CzsRPfjL---EwkUrBr', 'http://www.touxiangdaquan.net/uploads/allimg/c150625/14351X9B2O50-2V5R.jpg', 'http://tupian.qqw21.com/article/UploadPic/2018-9/201891720213765149.jpg', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRN-z_f22VY6FpBvBHEMOBbS41aPJJqt-3y6waDkVsBB8azA_Ji', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRs2vdBQIgsBuw82Ds_zxIwD83SLxo0bm1JiBnMP6aTLLNUDLGQ', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpVKNuNPNh7P_UEEQ103v6_cS0HX23Yld2B0Gtdmst3aXytEETBw', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2H0Aymd-4oQp00RzMh7G40SqBkEMwaO5Lwg0SwN-8kWsrEP5h', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQu8CHdrtxxOxEOdfjt3SS7a2xPuBdhpSba8dGY9976CgQvnTyP', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBWCMNzlYjVWcnGcf39dOlcqq6NIOMJcdyisay2e4vM50jCi-Nfw', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSemrdyIKBWKn3ZmBAGH961pQnyUtvLuplre8rTWkyDKZcgzd1k', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRj84KdR_S-8EE01iF6LyE9TCGVU8VV8wNUJGTLMPaGpD-GzON4', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVWADuoRWJOL4iMxl2R5J_KenS1U98RK-f0GHjnm-uXO9TAsgn', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1gA5hDoysfZr3UbbRMP24ht671W7Xhjzu-rpGhkupgaoNMpgLUQ', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhSN0_g5kyxSg_p-f2e4a8gjmiAlDj53tmsite5m_FgIwNxWGRmA', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1GgTyrRXffeEeetPdDvZ7dY9fy99DnDdq-lUutFoCkg_ymJmHgg', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQE2DKfatJtypj1YzKFq0o8873tWt47LBD66WyxhB8vfCis5uZudQ', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRy1PLIsec0b02b4W_BK0lI4DSuWOg-mGUaRtCUF7JwdbzCuwy4', 'http://tx.haiqq.com/uploads/allimg/170917/0140064M1-4.jpg', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRnuvEvjYG2OvNH3Q2JMODgJf14_u1weyIVEiyTu1dxZQNJ2qenxw', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTL-Ue-5ub5sezcVg8NJ4VuYfNnzCxiKMMacLIhFY02SDMf502X_g', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcROSqZLHC-P3e0OpOIcnjt7OyKyNSJ7MfMozP0kThzFwF67dUPh', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS55RxqFqACoE2Jmfo3CPuVxVqcsOU-V0tKmoMrlek33U9av_Vc', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDO75_p5hzOcP4h8TKpPxiguPsH6wA-t3p48FXM_PxWW66ZPz-', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUCe2DVzxJ_ak1prd6Yxuh_WQdtwWheKeSfXxEtD-WDRHSPYWrtg', 'http://www.gexing.me/uploads/allimg/170306/6-1F306151051534.jpg', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRD4mNJ0bCT2OQQUbhOMF-KfFNaDQ68YSTTcjKzLTFgcTAIuc7d', 'http://n1.itc.cn/img8/wb/smccloud/recom/2015/11/14/144748823207331260.JPEG', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwJnmUkgZ3OvD_eMHT7rmNwiM5AsXVKjKGil3HShEkeHdgeShg', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfAaAN_LXvDwruQ5YIZRe20bZRTFTadkMBP6yzCfzM6MV4Ah6cww', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQD187dZ_HGL7gAoTH6LBdXbcYC4MFp-y94LtR8GUSwYmf5yV0v', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPXKq6ouGFr_yiX-fHcZoZQlKvh9en9y5LBnKGIanelS6qjmak', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXDsMyfo4MJLg2G4CIJZUvCSUoRuJqiyIaU56EGhSyituHnoox', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT87mEOZIBeZ_k1TrEnoj8QxR7EddM2XeeobB3C91oI6V4uEeET', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQdUm9r_c3LchCWuH8c2bjSkYa53p-RwSae1ETtB8_pxgsBrFuN', 'https://www.kuk8.com/uploads/allimg/161207/1-16120H30Q9502.jpg', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYevGA0EYJkeNB2akn-Os7TzRXL2qLx1kzex5jK-qcLrVzoF9C1A', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSS3DSPUfvqaoWz03o5bjv3C3fB671REiExC3eaq6-bpCsI2XvP', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTmoaRopGOT6HZNobFwsS3lvOdOBiPatzyWampQX-4j8ICeWPW', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZ2XbkBFuwu4bo6s0NtteQklbhrMI4oqF82527t02Ax9xIPBld', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTido6LZdwlTZpW_miiAmvoUBk-oD1Rier2z5HXywRpHLQA2mTW', 'http://tx.haiqq.com/uploads/allimg/170426/092PS0Q-0.jpg', 'http://www.5aiqq.com/picfiles/weixintouxiang/2018040117mnbhukt1umv930.jpg', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRudHmliD77sKwBVVJlXSj1XlA8G37soMikj8XEJodcT2fG20m9', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQezKE4eEO3eNr72CqfuI90oo2Pobm0QQWGG13TMEUuyU6SC1Fu', 'http://img.135q.com/2015-03/09/14258703610003.jpg', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTodUckpHyKHFJ07LwlFLoMbyYUu4ViyFO5WdEe6cQh4NJhoRp-', 'http://m.imeitou.com/uploads/allimg/180830/3-1PS0110P5.jpg', 'http://tupian.qqw21.com/article/UploadPic/2018-9/201891721245088184.jpg', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-1-KLw3mJDDdI9awPZjGKTLrAaFsL9kURFXrg_wACHTwUQCAohQ', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjPpETJt67Exhqz1zWIfp36DLAOwYOoY8Nk6N_m1xZwsoxh3Ej', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRCdhddp8TjzqX5IHadzJ4F-J8ofhesMBoeom6yGozYEwygtG5NvA', 'http://www.lylagz.com/upload/1603/20163183454.jpg', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmgs-KE9qex8Yk0_MXKNsQ0qt0nyCtj1MCQXgK0Pkibtfdvbpq', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfNQsSJcKPBUnr3tWS5j7ZdOt6VhT8pk9SANsRnEdtaVqjupAn', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxUWiu9QODhS2wxgd2yoyzeaotwk2loJEcGl6JctmakFaWqcrO', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQdHxwfbrYXSYEMHW1INwVbWCIylFOahhIekMrPtORDg01wRda', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShZaWETiac9FibnqIIwAiwiXqhB0rAmXoAk8tRsE3NWYi56uQA', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1NuEodGKYFAI8IlfrwM5lLrSEtjNpw3-_RxRsYVi6aDxep2sPwg', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoAvCQcIl3-QV0ECaCkEWa6mm0dQIbUN_NWSA0P6Yi4OfOlQ92', 'https://www.qq745.com/uploads/allimg/meinv/01/1942/xzb5n4b4opl.jpg', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQl8kybs35qBOKjjBPTRJrn9nfFl6q96dd_RWyM7Jr6RUD-Q6QPpg', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiTGu7MjgvmwSAE8UwUKZfJu6pak-KJKN6ejWvq6hj8HiJVZ8ArA', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSA3K9KF9FVX3C6Ghca5O1hUb8KpcYZnaz2K2k4TYPsFd3en9pMyA', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXIDgq55SjTjeEhkyhJVtyo582hhql5IlrXdy3Dfqb33u3OUzF', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSURwnWcOeUJY2tWkRGVOxowrNZsLnAY64LrxXzDHkINwJi4eEc', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTiiCh_e3wNiyjlcYmI8Cvaf3DvwKjne-aUZjRgPzFZ1ZwKDBr6', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZCtDRCMVWkQfui_PksIramXR9ND3sIA9SE1UJ9zIa46jmrDJL', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTEBFQMHJnawyczDQOdpcSB4JDHTOa5LsXee3n-Sp4IGxxJRy-g', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSF46dF350JMEiMXqbUiEsz2vKaXgGcXESYyxf0MEbHNLj1W37n', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1DezvA2THRk2Kj6WtD4ixiu6fx0jcvvJkQzsYalY7DTT8wUsb', 'http://www.aspku.com/uploads/allimg/180920/2029241607-9.jpg', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRgavvwOErlG4c9dYrQJfOdw5sxxzG5PUEYnwqgI6OzkvVZZhOa', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7I6JmCq-h-iIUEQBDYdSS7qTYn5KKjIiwR-HZSq-UvKwzz3vn', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcReMr_17svGAda7Bf4C0CaviDXofZIXbNSoI6_ES0AxRHtjUO-R', 'http://www.vstou.com/upload/image/1176/201612/1482734273245449.jpg', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWGbcQnexKdZDxW8eliUsUHWHc5LtRbXJDx8eccLQa4yqghlZ1Ig', 'http://img.135q.com/2015-06/06/14335830430006.jpg', 'http://www.fzlkz.com/uploads/allimg/c160108/1452253640b3F-225H.jpg', 'http://www.158pic.com/uploads/allimg/1812/2-1Q2132021420-L.jpg', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfv2wdVP_W9XWCvkSuCl-kkRMG3mbSOTq6Z0hHwZbGkdTsb6Ne', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzMna46mGEYPe4vp4aEylOCX4nU1oTWJAZZTX0eEiPVI_lJN-t', 'https://ws3.sinaimg.cn/large/9150e4e5ly1feunodnwp0j20b40b43yu.jpg', 'http://img.171u.com/image/1605/1610414451942.jpeg', 'http://www.ghost64.com/qqtupian/zixunImg/local/2017/10/12/15077772503326.jpg', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSR83ZY7SUph6OmPoZ75DA_5zHe0M-awGoGOdqMLTkCX_wzCaVt', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmaE8mhh-DYyDtkldPz5hpN7zmUkkeizzacQQGhCjMXF1Dr103LA', 'http://www.vstou.com/img/201604/11133727.jpg', 'http://www.ghost64.com/qqtupian/zixunImg/local/2017/07/28/15012241886932.jpg', 'https://img.pc841.com/2018/0611/20180611035206728.jpg', 'http://www.people.com.cn/mediafile/pic/20141019/52/9470918037788989784.jpg', 'http://www.qq22.com.cn/uploads/allimg/201608250327/huxo0awqfn512842.jpg', 'http://tc.sinaimg.cn/maxwidth.800/tc.service.weibo.com/static_jinrongbaguanv_com/5886a925e3bd5fc2a3adf8f9a36324c8.png', 'https://www.toux8.com/uploads/allimg/20170101/9e2cf6c306e1763b9d93dfd27ad409c8.jpg', 'http://youmeitu.oss-cn-hongkong.aliyuncs.com/Upload/20181021/1540080439649280.jpg', 'https://img.116s.com/2015-03/16/14264676470006.jpg', 'https://img0.pconline.com.cn/pconline/1404/10/4586960_001_thumb.jpg', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzmhIu-cZOTmigyDp3PMADAR98ky6zmmal0ysTFOxauGji666Q', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTngA_PAF4EvuKR-W4jwIk6xVX-ZJpkiHoWEcesJ21duSkVqbAx', 'https://img.116s.com/2015-06/24/14351572740005.jpg', 'http://qtwoss.qtbigdata.com/jph_15043191931117c861ffd-f211-4f2d-b90a-5086a5bc2837', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSL24qETG17XjpUwMalz_PwYNbwXK-g33Qi0PIyjaRaVVfFFfyT', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSV06d01CKso6bWk0gCU443DMdLo3gOMP2_a4Ld7bckdrsvurvk', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQve8AoNS4jpupCWu_UHXq9oZsD5s5al4GCXaxO4MiqrNHl1x9y', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8le_gn_vWzwPRg5RUubJewYsSiCkKAeNm1WfId6i12qumfcot', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTIQeL8sw7-jMi2-ZyikvJm_MyyRYlVDQAauupGHaYKNYlf-thk', 'http://n.sinaimg.cn/sinacn20123/281/w640h441/20190118/64b7-hrvcwnk4326101.jpg', 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXwrJSk-2hEd7MBPMFhvef5TEBFp5xz1I5PjtPdblQnG3jZIcq'],
      robotnList: ['沧海桑田', '太阳之子', '恐龙', 'lemmm', '七十二街', '川南由北', '独撑全场', '谱写自己的人生', '姐、风采依旧夺目ㄟ', '绝对嚣张づ', '赢赢赢', '哈哈哈哈哈', '1992刘先生', '静葔椛开', '欢迎勾引', '半世琉璃', '亡魂孤心', '素锦流年', '888', 'woaini', '姓强名坚','胸有大痣', '本人佩奇', '我是土豪', '豆浆油条', '低调低调', '小骚年', '嫂子请放手', '我这小暴脾气', 'asdfghjkl', '萨瓦迪卡', '小米锅巴', '白酒两斤半', '富贵险中求', '鲁班别送', '咫尺的梦想', '白手起家', '有点意思', '小妹妹一个人吗', '我是谁', '这就是我的网名', '我养你啊', '除了钱一无所有', '来我这换脸盆', '好吃不过饺子', '幸会幸会', '一个三。王炸', '我是良民', '光辉岁月', '撕心裂肺', '逼真体验', '今晚吃鸡', '比蟋蟀还帅', '漂洋过海来看你', '妹子加微信吗', '王者的站姿', '算了、别傻了', '最凉不过人心', '请你吃皮皮虾', '廉价的感情', '你先走我断后', '骗吃骗喝骗老婆', '弃疗后精神倍棒', '肆无忌惮者', '故我,离人毁心', '伊人月下', '死不了就还好', '你走了，心空了', '女人ㄣ很烦', '心随ゼ你动', '珍惜、我女神', '倦旅人', '谢赠空欢', '笑脸逢迎', '野性入骨', '我是当年学渣', '一笑奈何', '限时拥抱', '别闹，快到怀里来', '万座城池换她一人', '请叫我男神', '安然', '何必如此心酸', '坐在宝马里要饭', '执子之手', '人生若如初见', '抽根烟压压惊', '987654', '积分换话费', '别人笑我太疯癫', '我是01', '回高老庄了', '往事不堪回首', '玩的就是刺激', '黑椒牛里脊', '无妻徒刑', '江湖不良人', '绅士流氓', '孤魂伴野鬼', '我要变身了', '千年磨一贱', '莫名其妙', '流浪大师', '后宫三千', '漂洋过海海来看你', '无敌是多么寂寞', '兄弟自己人', '教你梳中分', '我信你个鬼', '不醉不归', '我是渣渣辉', '爱要怎么说出口', '沉默是金', '只是陌生人', '入戏太深', '深入了解', '工号9527', '稳住我们能赢', '开挂的人生', '做自己的英雄', '冷暖自知', '二哈', 'wifi密码多少', '曲终人散', '开启作死模式', '土豆炒马铃薯', '多啦那个A梦', '本命年', '生亦何欢', '财源滚滚来', '非诚勿扰', '充话费送老婆', '孟婆来碗汤', '模范好男人', '明天更美好', '谜一般的男人', '泡椒凤爪', '正在输入', '生无可恋', '狐狸已成精', '少女杀手', '虾扯蛋', '洒脱', '白马王子', '灵魂伴侣', '在不疯狂就老了', '往后余生', '往事不从提', '逝去的青春', '孤独患者', '男人歌', '拥挤人潮', '痴心绝对', '魔鬼与天使', '幼儿园扛把子', '浪迹天涯', '大保健', 'hahaha', '。。。。。', '八哥', '稳中求胜', '天真老男人', 'hsajkhgu', '888888', '尴尬', 'lzminga', 'xiaoming', '龙哥的传说', '揪心', '岁月', 'ytedhjk', '小董', '听海', '12556545', '海阔天空', '天涯', '半生沉浮', 'aoli', '1033137', '华仔', 'li98853', '小萌新', '春天真美好', '连中', '北港', '好运来', '268413', '毒鬼', '哦陌生人', '红透半边天', '奥巴马', '董事长', '你是不是傻', '假装不懂', '不倒翁', 'caca668', '啦咔咔', '比尔', '美女看这', '稳收', '老湿机', '野心勃勃', '15556878', '时来运转', '775616', '枫林', '两袖清风', '开个奥迪', '彩神', '玩玩而已', '小书生', '超越自我', '百年囧级', '人生无奈', 'dulanjiu', 'ashdkhg', '花姐', '超越自我', 'kqhuih1', '胖子的世界', '江湖李', '人生白活', '少年赢家', '丫丫', '你好毒66', '我骗了尼玛', '要中中中', '小林', '阿海', '蘑菇头', '厨子', '光头强', '小黑子', '大众', '海岛八号', 'COCO', '王天霸', '大神来也', '大中特中', '红一片天', '凉凉', '白日梦', '科比', '撒浪嘿哟', '三剑客', '少东家', '吴阿姐','阿斯顿马丁', '不是大神', '红带高手', '稳扎稳打', '那个谁', '阿三', '山大王', '卡萨', '不俗的我', '我是坏人', '皇朝世家', '活的潇洒', '我是你的小可爱', 'fuckup', '刀剑如梦', '猜猜我是谁', '超级玛利亚', '假冒伪劣产品', '梁山好汉', '不要怂就是干', '你还有啥', '真逼真', '男人不狠江山不稳', '趁我还年轻', '旧世俗人', '五秒真男人', '千杯不醉', '起立敬礼', '纯爷们', '梦想家', '雾里看花', '阿弥陀佛', '光头佬', '老三', '不能随意', '烟瘾', '通杀', '我日你个**', '老彩民', '菜农', '麻将四缺一', '地主', '云淡风轻', '君临天下', '方寸岁月', '多情空余恨', '炮兵', '金戈铁马', '知人知面', '压力山大', '庸人自扰', '范冰冰是我老婆', '会笑的眼睛', '四眼', '杜蕾斯', '妹子跟我走', '良宵一刻', '雨中漫步', '采花大盗', '菩提', '春暖花开', '风来了', '车水马龙', '思你成疾', '今朝有酒今朝醉', '来碗炸酱面', '薰衣草', '感恩的心', '泪流成河', '风花雪月'],
      page: {
        total: 10,
        pageSize: 12,
        showList: [],
        p: 1
      },
      addRobotIs: false,
      robotName: '',
      speakBoole: false,
      robot: {
        id: '',
        nickname: '',
        headImg: '',
        content: ''
      },
      robotHeadBoele: false,
      columns1: [
        {
          type: 'selection',
          width: 50
        },
        {
          title: '昵称',
          key: 'nickname',
          align: 'center'
        },
        {
          title: '头像链接',
          key: 'headImg',
          align: 'center',
          tooltip: true
        },
        {
          title: '头像',
          key: 'headImgUrl',
          align: 'center',
          render: (h, params) => {
            return h('div', [
              h('img', {
                attrs: {
                  src: params.row.headImgUrl
                },
                style: {
                  width: '40px',
                  height: '40px',
                  marginTop: '2px',
                  borderRadius: '50%'
                }
              })
            ])
          }
        },
        {
          title: '等级',
          key: 'grade',
          align: 'center'
        },
        {
          title: '最后发言时间',
          key: 'fyDate',
          align: 'center'
        },
        {
          title: '操作',
          key: 'id',
          align: 'center',
          width: '245',
          render: (h, params) => {
            return h('div', [
              h('Button', {
                props: { type: params.row.isLoginStyle, size: 'small' },
                style: { marginRight: '5px' },
                on: {
                  click: () => {
                    this.goRobot(params.row.nickname)
                  }
                }
              }, params.row.isLogin),
              // h('Button', {
              //   props: { type: 'primary', size: 'small' },
              //   style: { marginRight: '5px' },
              //   on: {
              //     click: () => {
              //       this.speakBoole = true
              //       this.robot = params.row
              //     }
              //   }
              // }, '发言'),
              h('Button', {
                props: { type: 'primary', size: 'small' },
                style: { marginRight: '5px' },
                on: {
                  click: () => {
                    this.robotHeadBoele = true
                    this.robot.id = params.row.id
                    this.robot.headImg = params.row.headImg
                  }
                }
              }, '头像'),
              h('Button', { props: {type: 'error', size: 'small'} },
                [
                  h('Poptip',
                    { props: { confirm: true, transfer: true, title: '删除后不可恢复，确定要删除吗！', type: 'error', size: 'small' },
                      on: {
                        'on-ok': () => {
                          this.deleteRobot(params.row.id)
                        },
                        'on-cancel': () => { }
                      }
                    }, '删除')
                ]
              )
            ])
          }
        }
      ],
      accountList: [ ]
    }
  },
  created: function () {
    this.getRobotList()
  },
  methods: {
    getRobotList: function () {
      this.loading = true
      this.accountList = [ ]
      this.page.showList = [ ]
      let params = {
        quantity: '999999',
        page: '1'
      }
      httpGet('/admin/robot/getRobotList', params).then(res => {
        this.loading = false
        res = res.body.content
        this.page.total = res.length
        for (let i = res.length - 1; i >= 0; i--) {
          res[i].fyDate = this.assigDate(res[i].fyDate)
          res[i].headImg = this.unAssig(res[i].headImg)
          res[i].headImgUrl = res[i].headImg
          res[i].isLoginStyle = (res[i].isLogin === 1) ? 'primary' : 'info'
          res[i].isLogin = (res[i].isLogin === 1) ? '下线' : '上线'
          this.accountList.unshift(res[i])
        }
        this.page.showList = this.accountList
        //  取最大页数
        let max = Math.ceil(this.page.showList.length / this.page.pageSize)
        max = (max === 0) ? '1' : max
        //  判断用户在最后一页进行操作时ajax的异步刷新
        if (this.page.p > max) {
          this.page.p = max
        }
        this.changePage(this.page.p)
      }, reason => {})
    },
    //  添加机器人
    addRobot: function () {
      if (!this.robotName) {
        this.$Message.info('请填写机器人名称')
        setTimeout(() => {
          this.verifyClose = false
          this.$nextTick(() => {
            this.verifyClose = true
          })
        }, 1000)
        return false
      }
      let num = (this.robotName.split(',')).length - 1
      if (num > 50) {
        this.$Message.info('每次最多添加50个机器人')
        setTimeout(() => {
          this.verifyClose = false
          this.$nextTick(() => {
            this.verifyClose = true
          })
        }, 1000)
        return false
      }
      this.addRobotIs = false
      let params = {
        nickname: this.robotName
      }
      httpGet('/admin/robot/addRobot', params).then(res => {
        this.$Message.success('添加成功')
        this.getRobotList()
        this.verifyData()
      }, reason => {})
    },
    //  机器人上下线
    goRobot: function (name) {
      this.loading = true
      let params = {
        nickname: name
      }
      httpGet('/admin/robot/updateLoginStatus', params).then(res => {
        this.$Message.success('操作成功')
        this.getRobotList()
        this.verifyData()
      }, reason => {})
    },
    //  机器人发言
    robotSpeak: function () {
      if (!this.robot.content) {
        this.$Message.info('请输入要发送的信息')
        setTimeout(() => {
          this.verifyClose = false
          this.$nextTick(() => {
            this.verifyClose = true
          })
        }, 1000)
        return false
      }
      this.speakBoole = false
      let params = {
        id: this.robot.id,
        nickname: this.robot.nickname,
        headImg: this.robot.headImg,
        content: this.robot.content
      }
      httpGet('/admin/robot/robotMessage', params).then(res => {
        this.$Message.success('机器人' + this.robot.nickname + '发言成功')
        this.getRobotList()
        this.verifyData()
      }, reason => {})
    },
    //  表格多选操作
    requires: function (value) {
      this.robotStatueId = ''
      for (let index in value) {
        this.robotStatueId += value[index].id + ','
      }
    },
    //  一键上下线
    robotStatus: function (status) {
      if (!this.robotStatueId) {
        this.$Message.info('请选择机器人')
        return false
      }
      let params = {
        id: this.robotStatueId,
        status: status
      }
      httpGet('/admin/robot/updateStatus', params).then(res => {
        this.$Message.success('操作成功')
        this.getRobotList()
        this.verifyData()
      }, reason => {})
    },
    //  更换头像
    robotHead: function () {
      global.verifyPic(this.robot.headImg)
      if (global.verifyPicBoole) {
        this.$Message.info('头像格式不正确')
        //  阻止iview模态框关闭
        setTimeout(() => {
          this.verifyClose = false
          this.$nextTick(() => {
            this.verifyClose = true
          })
        }, 1000)
        global.verifyPicBoole = false
        return false
      }
      this.robotHeadBoele = false
      let params = {
        id: this.robot.id,
        headImg: this.robot.headImg
      }
      httpGet('/admin/robot/updateHeadImg', params).then(res => {
        this.$Message.success('更换成功')
        this.getRobotList()
        this.verifyData()
      }, reason => {})
    },
    //  一键更换机器人头像
    updateRobotHead: function () {
      if (!this.robotStatueId) {
        this.$Message.info('请选择机器人')
        return false
      }
      this.spinShow = true
      this.robotStatueId = this.robotStatueId.split(',')
      //  获取随机头像
      let headImg = ''
      //  循环接口生成头像
      for (let i = 0; i < this.robotStatueId.length - 1; i++) {
        let index = Math.ceil(Math.random() * this.randomHead.length)
        headImg = this.randomHead[index - 1]
        let params = {
          id: this.robotStatueId[i],
          headImg: headImg
        }
        httpGet('/admin/robot/updateHeadImg', params).then(res => {
          if (i === this.robotStatueId.length - 2) {
            this.spinShow = false
            this.$Message.success('更换成功')
            this.getRobotList()
            this.verifyData()
          }
        }, reason => {})
      }
    },
    //  删除机器人
    deleteRobot: function (id) {
      let params = {
        id: id
      }
      httpGet('/admin/robot/deleteRobot', params).then(res => {
        this.$Message.success('删除成功')
        this.getRobotList()
        this.verifyData()
      }, reason => {})
    },
    //  删除多个机器人
    deleteRobots: function () {
      if (!this.robotStatueId) {
        this.$Message.info('请选择机器人')
        return false
      }
      let params = {
        id: this.robotStatueId
      }
      httpGet('/admin/robot/deleteRobots', params).then(res => {
        this.$Message.success('删除成功')
        this.getRobotList()
        this.verifyData()
      }, reason => {})
    },
    //  生成机器人昵称
    creatRobotNames: function () {
      for (let i = 0; i <= 9; i++) {
        let index = Math.ceil(Math.random() * this.robotnList.length)
        if (i === 9) {
          this.robotName += this.robotnList[index - 1]
        } else {
          this.robotName += this.robotnList[index - 1] + ','
        }
      }
    },
    // 分页
    changePage: function (index) {
      this.page.p = index
      this.accountList = this.page.showList
      let _start = (index - 1) * this.page.pageSize
      let _end = index * this.page.pageSize
      this.accountList = this.page.showList.slice(_start, _end)
    },
    //  时间处理
    assigDate: function (date) {
      if (date) {
        let e = new Date(date)
        e = this.zero(e.getHours()) + ':' + this.zero(e.getMinutes())
        return e
      } else {
        return '暂无发言'
      }
    },
    //  补零
    zero: function (e) {
      e = e + ''
      if (e.length === 1) {
        return '0' + e
      } else {
        return e
      }
    },
    unAssig: function (e) {
      if (!e) {
        return 'https://xbtu111.com/chatserver/userImg.gif'
      } else {
        return e
      }
    },
    cancel: function () {
      this.verifyData()
    },
    //  数据初始化
    verifyData: function () {
      this.robotName = ''
      this.robotStatueId = ''
      this.robot = {
        id: '',
        nickname: '',
        headImg: '',
        content: ''
      }
    }
  }
}
</script>

<style scoped>

</style>
