<template>
  <div class="w-100 h-100 m-wid1000">
    <side-click :data="adminData"></side-click>
    <div class="f-l w-88 h-100">
      <Layout>
        <Header class="bg-fff p-30-l">
          <Button  icon="md-qr-scanner" type="primary" @click="addSendBoole = true">添加推送消息</Button>
        </Header>
      </Layout>
      <Table ref="selection"  :columns="columns1" :data="accountList" :loading="loading" ></Table>
      <Page class="t-r m-20-r m-20-t" :current="page.p" :total="page.total" simple  :page-size="page.pageSize" @on-change="changePage"/>
    </div>
    <Modal v-model="addSendBoole" :loading="verifyClose" :title="addTitle"  @on-ok="upOrAdd"  @on-cancel="verifyData" class="t-c">
      <Row class="m-5-t m-5-b l-h-25 ">
        <Col span="6">消息标题：</Col>
        <Col span="14">
          <Input v-model="send.title" placeholder="请填写计划ID" class="w-15"  style="width:200px"/>
        </Col>
      </Row>
      <Row class="m-5-t m-5-b l-h-25 ">
        <Col span="6">消息内容：</Col>
        <Col span="14">
          <Input v-model="send.content" type="textarea" :rows="6" placeholder="请输入推送内容"  style="width: 200px;"/>
        </Col>
      </Row>
      <Row class="m-5-t m-5-b l-h-25 ">
        <Col span="6">重复发送：</Col>
        <Col span="14">
          <Button  type="success" @click="repeatStatus" v-show="!repeat" style="width:200px">开启</Button>
          <Button  type="error" @click="repeatStatus"  v-show="repeat" style="width:200px">关闭</Button>
        </Col>
      </Row>
      <Row class="m-5-t m-5-b l-h-25 " v-show="!repeat">
        <Col span="6">推送时间：</Col>
        <Col span="14">
          <TimePicker confirm v-model="send.registerDate" format="HH:mm" :placeholder="dateInital" :clearable="false" :editable="false" style="width: 200px"></TimePicker>
        </Col>
      </Row>
      <Row class="m-5-t m-5-b l-h-25 " v-show="repeat">
        <Col span="6">发送间隔：</Col>
        <Col span="14">
          <RadioGroup v-model="send.repeatDate">
            <Radio label="3">3分钟</Radio>
            <Radio label="5">5分钟</Radio>
            <Radio label="10">10分钟</Radio>
            <Radio label="30">30分钟</Radio>
          </RadioGroup>
        </Col>
      </Row>
      <Row class="m-5-t m-5-b l-h-25 " v-show="updateUser">
        <Col span="6">发送人：</Col>
        <Col span="14">
          <Select v-model="send.name" style="width:200px">
            <Option v-for="item in userList" :value="item.value" :key="item.value">{{ item.label }}</Option>
          </Select>
        </Col>
      </Row>
    </Modal>
  </div>
</template>

<script>
import {httpGet} from '../../static/js/index'
export default {
  name: 'send',
  data () {
    return {
      loading: true,
      verifyClose: true,
      addSendBoole: false,
      updateOrAdd: false,
      repeat: false,
      addTitle: '添加推送消息',
      updateUser: true,
      userList: [ ],
      dateInital: '请输入时间',
      send: {
        title: '',
        content: '',
        msgType: 2,
        status: 1,
        name: '',
        registerDate: '',
        repeatSend: 0,
        repeatDate: 5
      },
      page: {
        total: 10,
        pageSize: 12,
        showList: [],
        p: 1
      },
      columns1: [
        {
          title: '序号',
          key: 'number',
          align: 'center'
        },
        {
          title: '标题',
          key: 'title',
          align: 'center'
        },
        {
          title: '内容',
          key: 'content',
          align: 'center',
          tooltip: true
        },
        {
          title: '推送时间',
          key: 'registerDate',
          align: 'center'
        },
        {
          title: '推送人',
          key: 'name',
          align: 'center'
        },
        {
          title: '操作',
          key: 'id',
          align: 'center',
          width: '189',
          render: (h, params) => {
            return h('div', [
              h('Button', {
                props: { type: params.row.statusStyle, size: 'small' },
                style: {
                  marginRight: '5px'
                },
                on: {
                  click: () => {
                    this.closeSend(params.row.id, params.row.statuse)
                  }
                }
              }, params.row.statuse),
              h('Button', {
                props: { type: 'primary', size: 'small' },
                style: {
                  marginRight: '5px'
                },
                on: {
                  click: () => {
                    this.addSendBoole = true
                    this.updateUser = false
                    if (params.row.repeatSend === 1) {
                      this.repeat = true
                    } else {
                      this.dateInital = this.assigDate(params.row.registerDate, 0)
                    }
                    this.send = {
                      title: params.row.title,
                      content: params.row.content,
                      msgType: 2,
                      name: params.row.name,
                      status: params.row.status,
                      registerDate: params.row.registerDate,
                      repeatSend: params.row.repeatSend,
                      repeatDate: params.row.repeatDate + '',
                      id: params.row.id
                    }
                  }
                }
              }, '修改'),
              h('Button', { props: {type: 'error', size: 'small'}, style: {display: (params.row.level === 100) ? 'none' : 'inline-block'} },
                [
                  h('Poptip',
                    { props: { confirm: true, transfer: true, title: '删除后不可恢复，确定要删除吗！', type: 'error', size: 'small' },
                      on: {
                        'on-ok': () => {
                          this.deleteSend(params.row.id, params.row.title)
                        },
                        'on-cancel': () => { }
                      }
                    }, '删除')
                ]
              )
            ])
          }
        }
      ],
      accountList: [ ]
    }
  },
  created: function () {
    this.getSendList()
    this.getUserList()
  },
  methods: {
    getSendList: function () {
      this.loading = true
      this.accountList = [ ]
      this.page.showList = [ ]
      let params = {}
      httpGet('/admin/notice/getNoticeList', params).then(res => {
        this.loading = false
        res = res.body.data
        this.page.total = res.length
        for (let i = res.length - 1; i >= 0; i--) {
          res[i].registerDate = this.assigDate(res[i].registerDate, res[i].repeatSend, res[i].repeatDate)
          res[i].number = i + 1
          res[i].statusStyle = (res[i].status === 1) ? 'warning' : 'success'
          res[i].statuse = (res[i].status === 1) ? '关闭' : '开启'
          this.accountList.unshift(res[i])
        }
        this.page.showList = this.accountList
        //  取最大页数
        let max = Math.ceil(this.page.showList.length / this.page.pageSize)
        max = (max === 0) ? '1' : max
        //  判断用户在最后一页进行操作时ajax刷新的页数
        if (this.page.p >= max) {
          this.page.p = max
        }
        this.changePage(this.page.p)
      }, reason => { })
    },
    getUserList: function () {
      httpGet('/admin/agent/adminList', {}).then(res => {
        res = res.body.data
        for (let index in res) {
          let data = {
            value: res[index].name,
            label: res[index].name
          }
          this.userList.unshift(data)
        }
      }, reason => {})
    },
    upOrAdd: function () {
      this.addSendMessage()
    },
    //  新增推送消息
    addSendMessage: function () {
      //  判断是否重复发送
      if (this.repeat) {
        this.send.repeatSend = 1
      } else {
        this.send.repeatSend = 0
      }
      //   剔除时间进行验证
      let verData = {
        title: this.send.title,
        content: this.send.content,
        name: this.send.name
      }
      for (let item in verData) {
        if (!verData[item] || (verData[item] + '').indexOf(' ') !== -1 || (verData[item] + '').indexOf('.js') !== -1) {
          this.$Message.info('请正确填写内容')
          //  阻止iview模态框关闭
          setTimeout(() => {
            this.verifyClose = false
            this.$nextTick(() => {
              this.verifyClose = true
            })
          }, 1000)
          return false
        }
      }
      //  时间验证二选一
      if (this.send.repeatDate || this.send.registerDate) {
        this.addSendBoole = false
      } else {
        this.$Message.info('请选择时间')
        //  阻止iview模态框关闭
        setTimeout(() => {
          this.verifyClose = false
          this.$nextTick(() => {
            this.verifyClose = true
          })
        }, 1000)
        return false
      }
      let params = {}
      let url = ''
      if (this.updateUser) {
        params = {
          msgType: '2',
          content: this.send.content,
          status: this.send.status,
          title: this.send.title,
          name: this.send.name,
          registerDate: this.send.registerDate,
          repeatSend: this.send.repeatSend,
          repeatDate: this.send.repeatDate
        }
        url = '/admin/notice/addNotice'
      } else {
        params = {
          msgType: '2',
          content: this.send.content,
          status: this.send.status,
          title: this.send.title,
          id: this.send.id,
          registerDate: this.send.registerDate,
          repeatSend: this.send.repeatSend,
          repeatDate: this.send.repeatDate
        }
        url = '/admin/notice/updateNotice'
      }
      httpGet(url, params).then(res => {
        this.$Message.success('操作成功')
        this.getSendList()
        this.verifyData()
      }, reason => {})
    },
    //  开启关闭推送
    closeSend: function (id, status) {
      this.loading = true
      let params = {
        id: id
      }
      httpGet('/admin/notice/updateStatus', params).then(res => {
        this.$Message.success('已' + status + '该推送')
        this.getSendList()
      }, reason => {})
    },
    //  删除推送消息
    deleteSend: function (id, title) {
      let params = {
        id: id
      }
      httpGet('/admin/notice/deleteNotice', params).then(res => {
        this.$Message.success('已删除消息：' + title)
        this.getSendList()
      }, reason => {})
    },
    //  重复发送初始化时间
    repeatStatus: function () {
      this.repeat = !this.repeat
    },
    //  时间处理
    assigDate: function (date, status, num) {
      if (date && status !== 1) {
        let e = new Date(date)
        e = this.zero(e.getHours()) + ':' + this.zero(e.getMinutes())
        return e
      } else {
        return '(' + num + '分钟)重复推送'
      }
    },
    //  补零
    zero: function (e) {
      e = e + ''
      if (e.length === 1) {
        return '0' + e
      } else {
        return e
      }
    },
    // 分页
    changePage: function (index) {
      this.page.p = index
      this.accountList = this.page.showList
      let _start = (index - 1) * this.page.pageSize
      let _end = index * this.page.pageSize
      this.accountList = this.page.showList.slice(_start, _end)
    },
    //  数据初始化
    verifyData: function () {
      this.dateInital = '请输入时间'
      this.repeat = false
      this.updateUser = true
      this.updateOrAdd = false
      this.send = {
        title: '',
        content: '',
        msgType: 2,
        status: 1,
        name: '',
        registerDate: '',
        repeatSend: 0,
        repeatDate: ''
      }
    }
  }
}
</script>

<style scoped>

</style>
