<template>
    <div>
        <head_nav></head_nav>
        <!-------------------------------------------------头部 start---------------------------------------------------------->
        <div class="member">
            <div class="container">
                <slide_left></slide_left>
                <div class="slide-right">
                    <div class="user-title">添加银行卡</div>
                    <div class="user-main">
                        <table id="updateBank">
                            <tr>
                                <td>开户银行:</td>
                                <td>
                                    <el-select v-model="bank.bankName" placeholder="请选择开户银行">
                                        <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value"></el-option>
                                    </el-select>
                                </td>
                            </tr>
                            <tr>
                                <td>开卡人姓名:</td>
                                <td><el-input v-model="bank.userName" placeholder="请输入开卡人姓名"></el-input></td>
                            </tr>
                            <tr>
                                <td>开卡人省份:</td>
                                <td><el-input v-model="bank.province" placeholder="请输入开卡省份"></el-input></td>
                            </tr>
                            <tr>
                                <td>开卡人城市:</td>
                                <td><el-input v-model="bank.city" placeholder="请输入开卡城市"></el-input></td>
                            </tr>
                            <tr>
                                <td>开卡人网点:</td>
                                <td><el-input v-model="bank.bankAddress" placeholder="请输入开卡网点"></el-input></td>
                            </tr>
                            <tr>
                                <td>银行卡号:</td>
                                <td><el-input v-model="bank.cardNo" placeholder="请输入银行卡号"></el-input></td>
                            </tr>
                            <tr>
                                <td>提款密码:</td>
                                <td><el-input v-model="bank.repPwd" show-password placeholder="请输入提款密码"></el-input></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><el-button @click="getVip">确 定</el-button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------------------------------------底部 start------------------------------------------------------>
        <foot_nav></foot_nav>
    </div>
</template>

<script>
    import '@/assets/css/member.less'
    import head_nav from '@/components/include/head_nav'
    import foot_nav from  '@/components/include/foot_nav'
    import slide_left from  '@/components/center/slideLeft'
    import back from '@/assets/json/back.json'
    import {http_ajax} from '@/assets/js/resource'
    export default {
        name: "setBankcard",
        components:{
            head_nav,foot_nav,slide_left
        },
        data(){
            return{
                options: back.options,
                bank: {
                    userName:'',
                    bankName:'',
                    province:'',
                    city:'',
                    bankAddress:'',
                    cardNo:'',
                    repPwd:''
                }
            }
        },
        created:function(){
        },
        mounted:function(){
        },
        methods:{
            // 获取vip等级
            getVip:function () {
                if(!this.$root.common.dataSafeValidate(2,this.bank)) return false
                http_ajax('get','native/post_bank_data.do',this.bank,true,'#updateBank').then(res =>{
                    if(res.success){
                        this.$message.success('银行卡添加成功!');
                    } else {
                        this.$message.error(res.msg);
                    }
                })
            },
        }
    }
</script>

<style  lang="less" scoped>
.user-main {
    table{
        margin: 30px 0 0 50px;
        color: #666;
        td{
            height: 50px;
        }
        td:nth-child(1){
            width: 120px;
            text-align: center;
        }
        td:nth-child(3){
            padding-left: 10px;
            text-align: center;
        }
    }
}
</style>
