<template>
  <div class="draw-notice">
    <header class="public-header">
      <a href="javascript:history.back(-1)">
        <van-icon name="arrow-left" />
      </a>
      <span>{{$route.query.name}}开奖结果</span>
    </header>
    <div class="content">
      <ul>
        <li v-for="(item, index) in drawDetailsDataList" :key="index" :class="{backGay:index%2}">
          <div class="list-font" style="width: 100%;padding-left: 10px;box-sizing: border-box">
            <div class="title">
              <span>第{{item.qiHao}}期</span>
              <span>{{item.date}}{{item.time}}</span>
            </div>
            <div class="result" v-if="item.haoMaList.indexOf('?') != -1">
                <span style="color: red;font-size: 1.6rem">
                  开奖中...
                </span>
            </div>
            <div class="result" v-else-if="$route.query.lotGroup == 7">
              <div class="result-number">
                <span v-for="(item2, index2) in (item.haoMaList || [])" :key="index2">
                  <img :src="$root.common.resultKsColor(item2)">
                </span>
              </div>
              <div class="result-bigSmall">
                <span>{{item.gySum}}</span>
                <span :style="{color:item.sizeStr == '大' ? '#005ea6' :'#63a73e' }">{{item.sizeStr }}</span>
                <span :style="{color:item.sizeStr == '单' ? '#ff9600' :'#0082fe' }">{{item.sdStr}}</span>
              </div>
            </div>
            <div class="result" v-else-if="$route.query.lotGroup == 3">
                <span v-for="(item2, index2) in (item.haoMaList || [])" :key="index2" :style="{background:$root.common.resultNumberColor(item2)}"
                      style="display: block;float: left;color: #ffffff;margin-left: 3px;border-radius: 3px;width: 2.2rem;height: 2.2rem;text-align: center;line-height: 2.2rem;">
                  {{item2}}
                </span>
            </div>
            <div class="result number" v-else>
                <span v-for="(item2, index2) in (item.haoMaList || [])" :key="index2">
                  {{item2}}
                </span>
            </div>
          </div>
        </li>
      </ul>
      <div class="load-more" @click="getDetails">
        点击加载更多
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/draw_notice.less'
export default {
  name: "draw_notice_details",
  data(){
    return {
      drawDataList:[],
      drawDetailsDataList:[],
      page:1,
      floder: this.$store.state.stationInfo.content.station.floder || 'x002',
    }
  },
  created() {
    console.log(this.$route.query)
  },
  mounted() {
    this.getDetails()
  },
  methods:{
    // 展示弹出层获取彩种开奖数据
    getDetails:function (){
      let params = {
        lotCode:this.$route.query.code,
        page:this.page++,
        rows:'10'
      }
      this.$fetch('native/draw_notice_details_data.do',params,true,).then((res) => {
        if(res.success){
          for(let index in res.content.list){
            this.drawDetailsDataList.push(res.content.list[index])
          }
        }
      })
    },
  },
  filters:{

  }
}
</script>

<style scoped>

</style>
