<template>
  <div class="personal">
    <header>
      <div class="user-info" @click="getMobieLevel()">
        <img :src="accountInfo.headUrl || 'https://xb336.com/mobile/v3/images/touxiang.png'" alt="">
        <span>{{ accountInfo.account }}</span>
        <img :src="accountInfo.levelHead" alt="">
      </div>
      <div class="go-out" @click="logout">
        <span>退出</span>
        <van-icon name="arrow"/>
      </div>
    </header>
    <div class="user-level" v-if="levelShow" @click="vipLevel()">
      <span>当前等级：{{ userLevel.current || '' }}</span>
      <span>下一级：{{ userLevel.next }}</span>
      <span>成长值：{{ userLevel.total }} </span>
      <span>升级所需：{{ userLevel.nextMoney }}</span>
    </div>
    <div class="user-money">
      <van-icon name="points"/>
      <span @click="getMeminfo()">
        可用余额：{{ money }} <van-icon name="replay"/>
      </span>
      <img v-if="yuebaoSwitch == 'on'" src="../assets/images/yuebaoLink.png" @click="locationUrl('余额宝')" alt="">
    </div>
    <div class="money-button">
      <van-row>
        <a href="javascript:void(0)" @click="locationUrl('chongzhi')">
          <van-col span="8">
            <van-icon name="coupon"/>
            <span> 充 值 </span>
          </van-col>
        </a>
        <a href="javascript:void(0)" @click="locationUrl('tikuan')">
          <van-col span="8">
            <van-icon name="balance-list"/>
            <span> 提 款 </span>
          </van-col>
        </a>
        <a href="javascript:void(0)" @click="locationUrl('eduzhuanhuan')">
          <van-col span="8">
            <van-icon name="card"/>
            <span>额度转换</span>
          </van-col>
        </a>
      </van-row>
    </div>
    <div class="personal-content">
      <a href="#" v-for="(item, index) in scoreSwitch" :key="index" @click="locationUrl(item.switchKey)">
        <van-cell :title="item.switchDesc" is-link/>
      </a>
    </div>
    <!--设置取款密码-->
    <van-dialog v-model="set_receipt_pwd" show-cancel-button :before-close="beforeClose">
      <h1 >设置取款密码</h1>
      <van-field v-model="password" clearable type="password" maxlength="6" label="取款密码" placeholder="请输入取款密码" />
      <van-field v-model="passwords" clearable type="password" maxlength="6" label="再次输入" placeholder="请再次输入取款密码" />
    </van-dialog>
<!--    会员等级-->
    <van-popup v-model="vipLevelShow" position="bottom" :style="{ height: '60%' }">
      <table class="level-table" v-show="!current">
        <thead><tr><th>等级</th> <th>成长值</th><th>晋级奖励(元)</th></tr></thead>
        <tbody>
        <tr v-for="(item,index) in vipLevelList" v-bind:key="index">
          <td>{{item.levelName}}</td>
          <td>{{item.depositMoney}}</td>
          <td>{{item.giftMoney}}</td>
        </tr>
        </tbody>
      </table>
    </van-popup>
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import '@/assets/css/personal.less'
import foot_nav from '@/components/include/foot_nav'
import {Toast, Dialog} from 'vant';

export default {
  name: "personal",
  components: {
    foot_nav,
    "van-dialog": Dialog.Component,
  },
  data() {
    return {
      accountInfo: [],
      scoreSwitch: [],
      yuebaoSwitch: 'off',
      userLevel: '',
      levelShow: false,
      money: 0,
      messageNum: 0,
      floder: this.$store.state.stationInfo.content.station.floder || 'x002',
      set_receipt_pwd:false,//是否显示设置提款密码框
      password: '', //提款密码
      passwords: '', //重复密码
      vipLevelShow: false, //会员等级显示开关
      vipLevelList: '', //会员等级列表
    }
  },
  created() {
    this.accountInfoIs()
    this.messageList()
  },
  mounted() {
  },
  methods: {
    // 获取余额
    getMeminfo: function () {
      this.$fetch('native/meminfo.do').then(res => {
        if (res.success) {
          let len = this.accountInfo.money.indexOf('.') + 3
          if(res.content.balance != 0){
            this.money = res.content.balance.substring(0, len)
          }
        }
      })
    },
    // 获取用户信息
    accountInfoIs: function () {
      this.$fetch('native/accountInfo.do').then(res => {
        if (res.success) {
          this.accountInfo = res.content
          let len = this.accountInfo.money.indexOf('.') + 3
          this.accountInfo.money = this.accountInfo.money.substring(0, len)
          this.money = this.accountInfo.money
          this.getScoreSwitch()
        }
      })
    },
    // 获取列表
    getScoreSwitch: function () {
      if(this.$store.state.scoreSwitch.success){
        let e = JSON.stringify(this.$store.state.scoreSwitch)
        this.scoreSwitchOperate(e)
      } else {
        this.$fetch('native/getScoreSwitch.do', {}, true).then(res => {
          if (res.success) {
            this.scoreSwitchOperate(JSON.stringify(res))
            this.$store.commit('pushScoreSwitch',res)
          }
        })
      }
    },
    scoreSwitchOperate: function (res){
      res = JSON.parse(res)
      let that = this
      this.scoreSwitch = res.content
      this.yuebaoSwitch = res.switchs[0].onFlag
      if (that.accountInfo.accountType == 4) {
        this.scoreSwitch.push({switchDesc: '代理说明', switchKey: '代理说明'})
        this.scoreSwitch.push({switchDesc: '团队统计', switchKey: '团队统计'})
        this.scoreSwitch.push({switchDesc: '会员管理', switchKey: '会员管理'})
        this.scoreSwitch.push({switchDesc: '投注明细', switchKey: '投注明细'})
        this.scoreSwitch.push({switchDesc: '下级开户', switchKey: '下级开户'})
        this.scoreSwitch.push({switchDesc: '业绩提成', switchKey: '业绩提成'})
      }
      if(this.messageNum > 0){
        this.scoreSwitch.push({switchDesc: '站内信 (您有' + this.messageNum + '条未读信息)', switchKey: '站内信'})
      } else {
        this.scoreSwitch.push({switchDesc: '站内信', switchKey: '站内信'})
      }
      this.scoreSwitch.push({switchDesc: '登录密码修改', switchKey: '登录密码修改'})
      this.scoreSwitch.push({switchDesc: '取款密码修改', switchKey: '取款密码修改'})
    },
    // 获取VIP等级信息
    getMobieLevel: function () {
      if (!this.levelShow) {
        this.levelShow = true
        this.$fetch('native/mobieLevel.do').then(res => {
          this.userLevel = res
        })
      } else {
        this.levelShow = false
      }
    },
    // 站内信未读
    messageList: function () {
      let params = {
        pageNumber: 1,
        pageSize: 100,
        status: 0
      }
      let that = this
      that.messageNum  = 0
      this.$post('center/news/message/list.do', params).then(res => {
        let data= res.list
        for (let index in data) {
          if(data[index].status == 1){
            that.messageNum += 1
          }
        }
      })
    },
    // 退出登录
    logout: function () {
      Dialog.confirm({
        title: '安全提示',
        message: '是否退出当前账户',
      }).then(() => {
        this.$post('native/logout.do').then(res => {
          if (res.success) {
            this.$store.commit('pushIsLogin', false)
            this.$router.push({path: '/'})
            Toast('账户 ' + this.accountInfo.account + ' 退出成功')
          }
        })
      }).catch(() => {
      });
    },
    locationUrl: function (type) {
      let that = this;
      if (!that.$store.state.isLogin) {
        that.$router.push({
          path: '/login'
        });
      } else {
        if (type == 'chongzhi') {
          window.location.href = window.location.origin + '/mobile/v3/pay_select_way.do';
          // that.$router.push({
          //   path: '/pay_select_way'
          // });
        } else if (type == 'tikuan') {
          //window.location.href = window.location.origin + '/mobile/v3/withdraw_money.do';
          if(!this.accountInfo.receiptPwd && !this.set_receipt_pwd && this.accountInfo !== '') { //提款密码
            Dialog.confirm({
              title: '设置提款密码',
              message: '您还未设置提款密码，是否现在设置？',
              cancelButtonText: '否',
              confirmButtonText: '是',
            }).then(() => {
              this.set_receipt_pwd = true;
            })
          } else if(this.accountInfo.cardNo==='') { //卡号
            Dialog.confirm({
              title: '绑定银行卡',
              message: '您还未绑定银行卡，是否现在去绑定？',
              cancelButtonText: '否',
              confirmButtonText: '是',
            }).then(() => {
              this.$router.push({
                path: '/bindCard',
              })
            })
          }else {
            this.$router.push({
              path: '/withdrawDeposit',
              query:{
                params:1111
              }

            })
          }
        } else if (type == 'eduzhuanhuan') {
          window.location.href = window.location.origin + '/mobile/v3/live_game.do';
        } else if (type == 'isCpOnOff') {
          // window.location.href = window.location.origin + '/mobile/v3/betting_record_lottery.do';
          this.$router.push({path:'/lottery_record'})
        } else if (type == 'isTlOnOff') {
          // window.location.href = window.location.origin + '/mobile/v3/betting_record_lottery_third.do';
          this.$router.push({path:'/lottery_third_record'})
        } else if (type == 'isLhcOnOff') {
          this.$router.push({path:'/sixmark_record'})

          // window.location.href = window.location.origin + '/mobile/v3/betting_record_sixmark.do';
        } else if (type == 'isTyOnOff') {
          // window.location.href = window.location.origin + '/mobile/v3/sport/hg/betting_record_sport.do';
          this.$router.push({path:'/sport_record'})
        } else if (type == 'isRealOnOff') {
          // window.location.href = window.location.origin + '/mobile/v3/third/betting_record_live.do';
          this.$router.push({path:'/live_record'})
        } else if (type == 'isChessOnOff') {
          // window.location.href = window.location.origin + '/mobile/v3/betting_record_chess.do';
          this.$router.push({path:'/record_chess'})
        } else if (type == 'isDzOnOff') {
          // window.location.href = window.location.origin + '/mobile/v3/third/betting_record_egame.do';
          this.$router.push({path:'/egame_record'})
        } else if (type == 'isDjOnOff') {
          // 已关闭该项目
          window.location.href = window.location.origin + '/mobile/v3/third/betting_record_esport.do';
        } else if (type == 'isChangeMoney') {
          // window.location.href = window.location.origin + '/mobile/v3/mnyrecord.do';
          this.$router.push('/mnyrecord')
        } else if (type == 'isDetailMoney') {
          // window.location.href = window.location.origin + '/mobile/v3/account_details.do';
          this.$router.push({path:'/account_details'})
        } else if (type == 'isEsOnOff') {
          // window.location.href = window.location.origin + '/mobile/v3/scoreChange.do';
          this.$router.push({path:'/scoreChange'})
        } else if (type == 'isTurnlate') {
          // window.location.href = window.location.origin + '/mobile/v3/awardRecord.do';
          this.$router.push({path:'/awardRecord'})
        } else if (type == 'isBackWater') {
          // window.location.href = window.location.origin + '/mobile/v3/backwater.do';
          this.$router.push({path:'/backwater'})
        } else if (type == '余额宝') {
          window.location.href = window.location.origin + '/mobile/v3/balanceGemInfo.do';
        } else if (type == '代理说明') {
          window.location.href = window.location.origin + '/mobile/v3/info.do';
        } else if (type == '团队统计') {
          window.location.href = window.location.origin + '/mobile/v3/teamStatic.do';
        } else if (type == '会员管理') {
          window.location.href = window.location.origin + '/mobile/v3/subMember.do';
        } else if (type == '投注明细') {
          window.location.href = window.location.origin + '/mobile/v3/betting_record_lottery.do?come=daili';
        } else if (type == '下级开户') {
          window.location.href = window.location.origin + '/mobile/v3/sponsoredLinks.do';
        } else if (type == '业绩提成') {
          window.location.href = window.location.origin + '/mobile/v3/commission.do';
        } else if (type == '站内信') {
          // window.location.href = window.location.origin + '/mobile/v3/website_message.do';
          this.$router.push({path:'/website_message'})
        } else if (type == '登录密码修改') {
          this.$router.push({path:'/upd_password',query:{type:1}})
          // window.location.href = window.location.origin + '/mobile/v3/upd_password.do?type=1';
        } else if (type == '取款密码修改') {
          this.$router.push({path:'/upd_password',query:{type:2}})
          // window.location.href = window.location.origin + '/mobile/v3/upd_password.do?type=2';
        }
      }
    },
    //设置提款密码
    beforeClose: function(action,done) {
      if(action === 'confirm') {
        setTimeout(done, 1000);
        this.$post('native/set_receipt_pwd.do',{pwd:this.password,againPwd:this.passwords}).then(ret=>{
          if(ret.success) {
            Dialog.confirm({
              title: '设置成功！',
              cancelButtonText: '取消',
              confirmButtonText: '继续设置',
            }).then(() => {
              this.$router.push({
                path: '/bindCard',
              })
            }).catch(()=>{

            })
          } else {
            Dialog.alert({
              title: ret.msg
            })
          }
        })
      } else {
        done();
      }
    },
    vipLevel:function (){
      this.vipLevelShow = true
      this.$fetch('native/levelList.do',{}).then(res=>{
        this.vipLevelList = res.rows
      })
    }
  },
}
</script>

<style scoped>

</style>
