<template>
  <div class="service">
    <header class="public-header">
      <router-link to="/"><van-icon name="arrow-left" /></router-link>
      <span>在线客服</span>
    </header>
    <div class="serviceIframe">
      <iframe :src="serviceUrl">

      </iframe>
    </div>
  </div>
</template>

<script>
import '@/assets/css/service.less'
export default {
name: "service",
  data(){
    return{
      serviceUrl:''
    }
  },
  created() {
    this.getServiceUrl()
  },
  mounted() {
  },
  methods:{
    // 在线客服
    getServiceUrl:function (){
      this.$fetch('native/getServiceUrl.do').then((res) => {
        if(res.success){
          this.serviceUrl = res.content
        }
      })
    },
  }
}
</script>

<style scoped>

</style>
