*{
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: -apple-system-font, Helvetica Neue, Arial, sans-serif;
}
li{
  list-style: none;
}
body{
  background: #eee;
  overflow: auto;
}
a{
  color: #000000;
}
i{
  font-style: normal;
}
a{
  text-decoration: none;
}
.public-header{
  height: 4.4rem;
  background: #ec2829;
  color: #ffffff;
  line-height: 4.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  float: left;
  width: 100%;
  a{
    color: #ffffff;
    float: left;
    font-size: 2.5rem;
    left: 0.8rem;
    top: 0.4rem;
    position: absolute;
  }
  span{
    float: left;
    font-size: 1.8rem;
  }
}
.m-bottom-9{
  margin-bottom: 9rem!important;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
