<template>
    <div id="home-navigation">
        <div>
            <ul>
                <li :class="activeKey == 'homeIndex' ? 'active' : ''" @click.prevent="$router.push({name:'homeIndex'})">
                    <i class="iconfont icon-home"></i>
                    <a>首页</a>
                </li>
                <li :class="activeKey == 'homeEsports' ? 'active' : ''" @click.prevent="$router.push({name:'homeEsports'})">
                    <a>电竞竞猜</a>
                </li>
                <li :class="activeKey == 'homeNews' ? 'active' : ''" @click.prevent="$router.push({name:'homeNews'})">
                    <a>电竞资讯</a>
                </li>
                <li :class="activeKey == 'homePromotion' ? 'active' : ''" @click.prevent="$router.push({name:'homePromotion'})">
                    <a>优惠活动</a>
                </li>
                <li :class="activeKey == 'homeApp' ? 'active' : ''" @click.prevent="$router.push({name:'homeApp'})">
                    <a>APP下载</a>
                </li>
                <li :class="activeKey == 'AgentPage' ? 'active' : ''" @click.prevent="$router.push({name:'AgentPage'})">
                    <a>合营伙伴</a>
                </li>
            </ul>
            <button class="circle shadow">
                <i class="iconfont icon-erji"></i>
                <span>在线客服</span>
            </button>
        </div>
    </div>
</template>
<script>
/**
 * @description 公共navi
 */
export default {
    created(){
        this.changeTabActive()        
    },
    data(){
        return {
            activeKey:'homeIndex',
        }
    },
    methods:{
        changeTabActive:function(){
            const router = this.$route.matched[1]
            
            switch(router.name){
                case "homeEsports":
                case "homeEsportsDetail":
                    this.activeKey = "homeEsports"
                    break
                case 'homePromotion':
                    this.activeKey = "homePromotion"
                    break
                case 'homeApp':
                    this.activeKey = 'homeApp'
                    break
                case 'AgentPage':
                    this.activeKey = 'AgentPage'
                    break
                default:
                    this.activeKey = 'homeIndex'
                    break
            }

            switch(router.path){
                case '/news':
                    this.activeKey = 'homeNews'
                    break
                default:
                    break
            }

        },
    },
    watch:{
        '$route.name':function(){
            this.changeTabActive()
        }
    },
}
</script>
<style lang="scss" scoped>
#home-navigation{
    width: 100%;
    height:$navigation-type1-height;
    position: fixed;
    top:$header-height;
    left: 0;
    z-index: 10;
    line-height: $navigation-type1-height;
    box-sizing: border-box;
    box-shadow: 0 3px 5px rgba(0,0,0,.2);
    background: rgba(34,38,42,.97);
    display: flex;
    justify-content: center;
    >div{
        width: 1000px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        >ul{
            display: flex;
            border-right: 1px solid #2a2c31;
            >li{
                width: 130px;
                height:$navigation-type1-height;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                &.active{
                    border-bottom:1px $theme-font-color solid;
                    background: linear-gradient(transparent 30%,#1a3f38);
                    >a,>.iconfont{
                        color: $theme-font-color !important;
                    }
                }
                &:hover{
                    >a,>.iconfont{
                        color: $theme-font-color !important;
                    }
                }
                >a{
                    font-size: 13px !important;
                    color: white !important;
                    font-weight: 100 !important;
                }
                >.iconfont{
                    color: white;
                    margin: .2rem .5rem 0;
                }
            }
        }
        >.circle{
            height: 26px;
            line-height: 24px;
            padding: 0 16px;
        }
    }
}
</style>