<template>
    <div id="home-tools-bar">
        <div class="item">
            <div class="show">
                <i class="iconfont icon-wechat"></i>
                <span>微信</span>
            </div>
            <div class="hide" style="width:160px; height:160px; padding:5px;">
                <img :src="SITE_WX_QRCODE" class="wx_qrcode" alt="">
            </div>
        </div>
        <div class="item">
            <div class="show">
                <i class="iconfont icon-erji"></i>
                <span>客服</span>
            </div>
            <div class="hide">
                <span>在线客服</span>
            </div>
        </div>
        <div class="item">
            <div class="show">
                <i class="iconfont icon-qqchat"></i>
                <span>QQ</span>
            </div>
            <div class="hide">
                <span><a :href="qqUrl" target="_blank">QQ:{{SITE_QQ}}</a></span>
            </div>
        </div>
        <div class="item">
            <div class="show">
                <i class="iconfont icon-bell"></i>
                <span>邮箱</span>
            </div>
            <div class="hide" @click.prevent="action4">
                <span>{{email}}</span>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    computed:{
        SITE_QQ:function(){
            return this.$store.getters.SITE_QQ
        },
        qqUrl:function(){
            return `http://sighttp.qq.com/msgrd?v=1&uin=${this.SITE_QQ}`
        },
        email:function(){
            return this.$store.state.WEB_INFO.email || ''
        },
        SITE_WX_QRCODE:function(){
            return this.$store.getters.SITE_WX_QRCODE
        },
    },
    methods:{
        action4:function(){
            this.$helper.copyHandle(this.email,'已成功复制到剪贴板')
        },
    }
}
</script>
<style lang="scss" scoped>
#home-tools-bar{
    position: fixed;
    right: 7px;
    bottom: 100px;
    width: 42px;
    z-index: 999;
    text-align: center;
    background: $theme-bg-color;
    border: 1px solid hsla(0,0%,100%,.1);
    color: #6d7983;
    border-bottom-width: 0;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.58);
    .item{
        position: relative;
        &:hover{
            .show{
                color: white;
                background-color: $theme-font-dark-color;
            }
            .hide{
                display: block;
                transform: translateX(-40px);
                visibility: visible;
            }
        }
        .show{
            height: 50px;
            cursor: pointer;
            line-height: normal;
            padding-top: 5px;
            border-bottom: 1px solid hsla(0,0%,100%,.1);
            i{
                font-size: 20px;
                display: block;
            }
        }
        .hide{
            position: absolute;
            top: 0;
            right: 0;
            box-sizing: border-box;
            background-color: $theme-bg-color;
            border: 1px solid hsla(0,0%,100%,.1);
            padding: 15px 14px;
            transition: transform .3s;
            visibility: hidden;
            span{
                display: block;
                min-width: 60px;
                &::after{
                  position: absolute;
                  top: 30%;
                  right: -7px;
                  content: '';
                  border-top: 7.5px solid transparent;
                  border-left: 7.5px solid $theme-bg-color;
                  border-bottom: 7.5px solid transparent;
                }
            }
            .wx_qrcode{
                width: 150px;
                height: 150px;
            }
        }
    }
}
</style>