<template>
  <div class="footerPage">
    <div class="footerPage-container" id="footerPage-container">
      <ul >
        <li v-for="(item,index) in iconfont" :key="index" @click="show = index">
          <router-link :to="{path:item.href}" :class="{color:index == show}">
            <i :class="item.class" :style="{'color':index == show ? 'red' :''}"></i>
            <span>{{item.title}}</span>
          </router-link>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
  export default {
    name:"footerPage",
    props:{
      indexs:{
        type:Number,
        required:false
      },
      info:{
        type:Number,
        required:false
      }
    },
    data(){
      return{
        iconfont:[
          {class:"iconfont icon-liaotian",title:"聊天",href:"/"},
          {class:"iconfont icon-tongxunlu",title:"通讯录",href:"/addressList"},
          {class:"iconfont icon-ic_game",title:"游戏",href:"/game"},
          {class:"iconfont icon-recharge",title:"充值",href:"/recharge"},
          {class:"iconfont icon-wode",title:"我的",href:"/myList"},
        ],
        show:0,
      }
    },
    created() {
      this.show = this.indexs
    },
    watch:{
      show(){
        console.log(this.show)
      }
    }
  }
</script>
<style scoped lang="scss">
  $footerPageBackground:#ececec !default;
  $footerPagiconColor:#000000;
  $footerPagiconHeight:1.1rem;
  .footerPage{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    z-index: 8000;
    height: $footerPagiconHeight;
    .footerPage-container{
      text-align: center;
      box-sizing: border-box;
      background: $footerPageBackground;
      max-width: 750px;
      margin: auto;
      ul{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        li{
          flex: 1;
          padding: 0.2rem 0px;
          a{
            display: flex;
            flex-direction: column;
            i{
              font-size: .45rem;
              color: $footerPagiconColor;
            }
            span{
              font-size: .24rem;
              padding-top: 0.1rem;
              color: #000000;
            }
          }
        }
        .color{
          color: red;
        }

      }
    }
  }
</style>
