<template>
  <div class="headerLotter">
    <div class="headerLotter-container">
      <header>
        <ul>
          <router-link tag="li"  :to="{path:'/game',query:{code:$route.query.lotGroup}}">
            <van-icon name="arrow-left" />
          </router-link>
          <li>
            <span >{{$route.query.name}}</span>
            <span v-if="lotteryDate.viewGroup == 7" @click="$common.handlWindowetack(1)" :class="controlShowHidden.mainLotterPlay ? 'spanActiveAfterActive' :'spanActiveAfter'" :style="controlShowHidden.mainLotterPlay ? 'color:red;transition:color 0.5s' :'color:#000000;transition:color 0.5s'" >全部彩票</span>
          </li>
          <li>
            <img src="@/assets/images/caipiao.png" alt="caipiao" @click="$common.handlWindowetack(2)" >
            <van-icon @click="controlShowHidden.militaryExploits = !controlShowHidden.militaryExploits" name="weapp-nav" class="militaryExploits" style="position: relative" >
              <main  class="main-militaryExploits" v-if="controlShowHidden.militaryExploits">
                <ol>
                  <li>
                    <span >投注记录 </span>
                  </li>
                  <li  @click="$store.commit('handlWindowetack4',true)">
                    <span style="color: #000000;">游戏规则 </span>
                  </li>
                  <li>
                    <span>充值</span>
                  </li>
                  <li>
                    <span>提现</span>
                  </li>
                  <li>
                    <span>今日输赢</span>
                    <span style="color: red">(0.0000)</span>
                  </li>
                </ol>
              </main>

            </van-icon >
          </li>
        </ul>
      </header>
      <main class="main-lotterPlay" v-if="lotteryDate.viewGroup == 7">
        <van-popup v-model="controlShowHidden.mainLotterPlay" position="top" :style="{ height: '30%' }"  class="mainLotterPopup" close-on-popstate round >
          <ul>
            <li  v-for="(item,index) in handleLotteryDate" :key="index" :style="lotteryDice ==index?'color:red;transition:color 0.5s':'color:#000000;transition:color 0.5s'" @click="selectLotteryDate(item),lotteryDice =index,controlShowHidden.mainLotterPlay = !controlShowHidden.mainLotterPlay">
              <span>{{item.name}}</span>
              <span>赔率<em>{{item.odds}}</em></span>
              <p v-for="(item2,index2) in item.child.slice(0,1)" :key="index2" >
                <i v-for="(item3,index3) in boultPlusJudge(item2.name)" :key="index3">
                  <span :class="`k3Dice${item3}`" v-if="item3 !='+'"></span>
                  <span v-else style="padding: unset"> +</span>
                </i>
              </p>
                <van-icon name="success" v-show="lotteryDice == index" />
            </li>
          </ul>
        </van-popup>
      </main>
      <main class="main-lotterClassify">
        <van-popup v-model="controlShowHidden.caipiaoClassify"  position="top" :style="{ height: '60%' }"  class="mainLotterClassifyPopup" close-on-popstate round >
          <ul>
            <li v-for="(item,index) in ClassifyDateCompited" :key="index">
              <van-button :icon="item.imgUrl == '' || item.imgUrl == undefined ? $store.state.apiUrl + item.lotUrl :item.imgUrl" type="info" color="rgb(191, 187, 187)" plain url="" round  :to="{path:'/lottery',query:{lotGroup:item.lotGroup,code:item.code,name:item.name,ClassifyDateCompited:JSON.stringify(ClassifyDateCompited)}}">{{item.name}}</van-button>
            </li>
          </ul>
          <van-button size="large" class="lotterClassify-buttom" type="info" color="rgb(191, 187, 187)" plain url="" round  to="">更多</van-button>
        </van-popup>
      </main>
    </div>
  </div>
</template>
<script>
  export default {
    name:"headerLotter",
    props:["lotteryDate"],
    data(){
      return{
        msgs:"",
        lotteryDice:0, //点击切换样式
        controlShowHidden:{caipiaoClassify:false,militaryExploits:false,mainLotterPlay:false,},//caipiaoClassify:false, //彩票分类 militaryExploits //显示投注记录小弹窗 mainLotterPlay//开三彩种玩法
        endLotteryDate:{},//处理后的数据
        ClassifyDateCompited:JSON.parse(this.$route.query.ClassifyDateCompited), //game传过来的彩种数据
        lotteryIndex:{}, //传给父组件index的数据

      }
    },
    created() {
    },
    mounted() {
      this.$store.commit('handlWindowetack',this.controlShowHidden)
    },
    methods:{
      //选择彩种小玩法数据
      selectLotteryDate(item){
        this.$emit("headerLotter",item)
      },
      //对塞子和+ 进行处理
      boultPlusJudge:function (item) {
        let arr = item.split("-")
        for(let [index,val] of arr.entries()){
          index % 2 == 0 ? '': arr.splice(index,0,"+")
          if (val == "全骰"){
            arr =[];
            let arr1=["1","+","1","+","1"];
            arr = arr1;
          }
          if (val.includes("点")){
            arr=[];
            let arr1 =["5","+","6"]
            arr =arr1
          }
        }
        return arr
      },
    },
    computed:{
      handleLotteryDate:function () {
        let endLotteryDate=[]
        switch (this.lotteryDate.viewGroup) {
            case 7://快三
            {
              let startLotteryDate = this.lotteryDate.rules[0].rules[0].oddPlayItems;
              let list,data =[]
              //添加前几项，并赋值最后几项list
              for (let [index,val] of startLotteryDate.entries()){
                if (!val.name.includes("点")){ //判断前面几项
                  list = [];let obj = {}
                  switch (val.name) { //添加其他项
                      case '短牌':
                        data = ['1-1','2-2','3-3','4-4','5-5','6-6'];
                      break;
                    case '围骰':
                      data = ['1-1-1','2-2-2','3-3-3','4-4-4','5-5-5','6-6-6']
                      break;
                    case '长牌':
                      data = ['1-2','1-3','1-4','1-5','1-6','2-3','2-5','2-6','3-4','3-5','3-6','4-5','4-6','5-6']
                      break;
                    case '大小骰宝':
                      data = ['1','2','3','4','5','6','大','小','单','双']
                      break;
                    case '全骰':
                      data = ['全骰']
                      break;
                  }
                  for (let i of data){
                    obj = JSON.parse(JSON.stringify(val));
                    obj.name = i;
                    list.push(obj)
                  }
                  endLotteryDate[index] = val;
                  endLotteryDate[index].child = list
                  list = [];data=[]
                }else {
                  let obj ={};
                  if (endLotteryDate.length <= index){ //判断点数后的数据
                    obj = JSON.parse(JSON.stringify(val));
                    list.push(obj)
                  }
                }

              }
              //点数方法
              for (let [index,val] of list.entries()){
                let num = Number;
                if (index == 0){
                  let obj ={};
                  obj = JSON.parse(JSON.stringify(val));
                  obj.name = '点数';
                  obj.odds = ''
                  num = endLotteryDate.length
                  endLotteryDate[endLotteryDate.length] = obj
                }
                data.push(val)
                if (num < endLotteryDate.length){
                  endLotteryDate[num].child = data
                }
              }
             this.endLotteryDate = endLotteryDate
              return endLotteryDate.filter((item)=>{
                return item
              })
            }
              break;
        }
      },
    },
    filters:{

    },
    watch:{
      'handleLotteryDate':function () {
          this.$nextTick(()=>{
            this.selectLotteryDate(this.endLotteryDate[0]) //默认执行点击事件
          })
      },

    }
  }
</script>
<style lang="scss" scoped>
  $headerLotterHeight:1rem;
  .headerLotter{
    .headerLotter-container{
    position: relative;
      header{
        height: $headerLotterHeight;
        background: #ee0a24;
        position: fixed;
        top: 0;
        width: 100%;
        max-width: 750px;
        z-index: 8000;
        box-shadow: 0 -1px 0.9995vw 0 rgba(83,93,118,0.08);
        border-radius: 0 0 2vw 2vw ;
        ul{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          li{
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 1;
            height: 100%;
            &:nth-child(1){
              flex-grow: 1;
              .van-icon{
                font-size: 0.4rem;
                color: #ffffff;
              }
            }
            &:nth-child(2){
              flex-grow: 4;
              justify-content: start;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              span{
                margin-right: .2rem;
                font-size: 0.28rem;
                color: #ffffff;

              }
              .spanActiveAfterActive{
                position: relative;
                &::after{
                  position: absolute;
                  top: 50%;
                  right: -11px;
                  border: 3px solid;
                  border-color: transparent transparent red red;
                  transform: rotate(-225deg);
                  opacity: 0.8;
                  content: '';
                  transition: all  0.5s;
                }
              }
              .spanActiveAfter{
                position: relative;
                &::after{
                  position: absolute;
                  top: 50%;
                  right: -11px;
                  margin-top: -5px;
                  border: 3px solid;
                  border-color: transparent transparent #333333 #333333;
                  transform: rotate(-45deg);
                  opacity: 0.8;
                  content: '';
                  transition: all  0.5s;
                }
              }
            }
            &:nth-child(3){
              .militaryExploits{
                position: relative;
                color: #ffffff;
                .main-militaryExploits{
                  &{
                    color: #333333;
                    font-size: 15px;
                    padding: 0.25rem 0.25rem;
                    background: #fff;
                    border: 1px transparent solid;
                    border-radius: 0.25rem 0 0.25rem 0.25rem;
                    position: absolute;
                    top: 0.7rem;
                    left: -1.1rem;
                  }
                  &:after{
                    content:'';
                    position: absolute;
                    top: -3px; bottom: -3px;
                    left: -3px; right: -3px;
                    background: linear-gradient(135deg,rgb(75, 176, 255), rgb(97, 73, 246));
                    border-radius: 0.25rem 0 0.25rem 0.25rem;
                    z-index: -1;
                  }
                  &:before{
                    content: "";
                    width: 0;
                    height: 0;
                    display: block;
                    border: 0.15rem solid transparent;
                    border-bottom: 0.15rem solid #4f9bfd;
                    position: absolute;
                    top: -0.34rem;
                    right: -0rem;
                  }
                  ol{
                    li{
                      width: 100%;
                      display: flex;
                      flex-direction: column;
                      align-items: center;
                      justify-content: center;
                      height: .7rem;
                      border-bottom: 1px solid #cccccc;
                      span{
                        font-size: 0.22rem;
                        margin-right: 0;
                      }
                    }
                  }
                }
              }
              flex-grow: 2;
              justify-content: flex-end;
              box-sizing: border-box;
              margin-right: .2rem;
              z-index: 2008;
              img{
                width: .6rem;
                height: .6rem;
                background: red;
                margin-right: .2rem;
              }
              i{
                font-size: 0.4rem;
              }
            }
          }
        }
      }
      .main-lotterPlay{
        max-width: 750px;
        height: 100%;
        margin: auto;
        text-align: center;
        .mainLotterPopup{
          width: 100%;
          max-width: 750px;
          ul{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            li{
              padding: 0.1rem;
              box-sizing: border-box;
              flex: 0 0 25%;
              min-height: 1.7rem;
              span{
                font-size:0.2rem ;
                padding-top: 0.1rem;
                display: flex;
                align-items: center;
                justify-content: center;
                &:nth-child(2){
                  em{
                    font-weight: bolder;
                    padding-left: 0.05rem;
                  }
                }
              }
              p{
                display: flex;
                justify-content: center;
                padding-top: 0.2rem;
                align-items: center;
                span{
                  vertical-align: middle;
                  &:nth-child(2n){
                    padding: 0;
                    padding: 0.02rem;
                  }
                }
              }
              i{
                display: flex;
                justify-content: flex-end;
              }
            }
          }
        }
        .van-popup--top{
          left: unset;
          top:$headerLotterHeight ;
          z-index: 2012!important;
        }
        >>>.van-overlay{
          z-index: 2011!important;
        }
      }
      .main-lotterClassify{
        width: 100%;
        .mainLotterClassifyPopup{
          ul{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-bottom: 20px;
            li{
              flex: 0 0 33.333%;
              display: inline-flex;
              justify-content: center;
              align-items: center;
              height: .80rem;
              /*padding: 0.1rem;*/
              margin: 0.1rem 0;
              padding: 0 0.1rem;
              box-sizing: border-box;
              .van-button--normal{
                width: 100%;
                height: .80rem;
                line-height: 0.8rem;
                margin: auto;
                padding: 0 .1rem;
                overflow:hidden;
                text-overflow:ellipsis;
                white-space:nowrap;
                .van-button__icon{
                  top: 50%;
                  margin-top: -0.1rem;
                  img{
                    height: .5rem;
                    width: .5rem;
                  }
                }
                .van-button__text{
                  font-size: 0.26rem;
                  color: #333;
                }
              }
            }
          }
          .lotterClassify-buttom{
            position: absolute;
            width: 90%;
            text-align: center;
            left: 50%;
            margin-left: -45%;
            bottom: 0;
          }
        }
        .van-popup--top{
          max-width: 750px;
          left: unset;
          top:$headerLotterHeight ;
          z-index: 2012!important;
        }
        >>>.van-overlay{
          z-index: 2012!important;
        }
      }
    }
  }
</style>
