<template>
  <div class="DrawLssue">
    <div class="DrawLssue-content" id="headerTakeNote">
      <div class="issue-content" >
          <div class="header-timeDown" :class="stickyHeight ? 'header-timeDownsticky':''">
            <div class="timeDownLeft">
              <div class="time" v-if="$route.query.lotGroup != 2 && $route.query.lotGroup != 6">
                  距
                <span>{{countDownQiHao.qiHao.substring(4)}}</span>
                期
              </div>
                <div class="time" v-else>
                    距
                    <span>{{countDownQiHao.qiHao}}</span>
                    期
                </div>
              <div class="name">截止</div>
            </div>
            <div class="timeDownCentre">
              <van-count-down :time="countDownQiHao.time" @finish="finish" :auto-start="false" ref="countDown">
                <template v-slot="timeData">
                  <span class="block">{{ timeData.hours < 10 ? '0'+ timeData.hours : timeData.hours }}</span>
                  <span class="colon">:</span>
                  <span class="block">{{ timeData.minutes < 10 ? '0'+ timeData.minutes : timeData.minutes}}</span>
                  <span class="colon">:</span>
                  <span class="block">{{ timeData.seconds < 10 ? '0' + timeData.seconds : timeData.seconds }}</span>
                </template>
              </van-count-down>
            </div>
<!--            <div class="timeDownRight" @click="headerOpen.headerOpenRule = !headerOpen.headerOpenRule">-->
<!--              <span>-->
<!--                <i class="iconfont icon-kefu"></i>-->
<!--              </span>-->
<!--            </div>-->
          </div>
      </div>
      <div class="drew-content"  v-if="!notOpend">
        <div class="header-open" >
          <div class="option-issue" v-if="openResultDetail[0]">
            <div class="issue">
              <span v-if="$route.query.lotGroup == 7 || $route.query.lotGroup == 1 ||  $route.query.lotGroup == 3 || $route.query.lotGroup == 5  || $route.query.lotGroup == 8 ||$route.query.lotGroup == 9"><b style="padding: 0 2px">{{openResultDetail[0].qiHao.substring(4)}}</b>期开奖结果</span>
              <span v-if="$route.query.lotGroup == 2 || $route.query.lotGroup == 6"><b style="padding: 0 2px">{{openResultDetail[0].qiHao}}</b>期开奖结果</span>
            </div>
            <div class="number" @click="headerOpen.headerOpenNumber = !headerOpen.headerOpenNumber" >
                <template v-if="$route.query.lotGroup == 7">
                  <span   class="ksSpan"v-for="(item,index) in openResultDetail[0].haoMaList" :key="index">
                    <img class="ksSpan-img" v-if="item != '?'" :src="require(`@/assets/images/${item}.png`)" alt="number" >
                    <img class="ksSpan-img" v-else :src="require(`@/assets/images/dice.gif`)" alt="number">
                  </span>
                </template>
                <template v-if="$route.query.lotGroup == 1 || $route.query.lotGroup == 2 || $route.query.lotGroup == 5 || $route.query.lotGroup == 8">
                  <div v-if="openResultDetail[0].haoMaList[0] != '?'" class="number-wraper">
                    <span  v-for="(item,index) in openResultDetail[0].haoMaList" :key="index">
                      <i class="redBackground" >{{item}}</i>
                    </span>
                  </div>
                  <div v-else class="number-wraper">
                    <span  v-for="(item,index) in randomOpenResultDetail[0].haoMaList" :key="index">
                      <i class="redBackground" >{{item}}</i>
                    </span>
                  </div>
                </template>
                <template v-if="$route.query.lotGroup == 9">
                    <div v-if="openResultDetail[0].haoMaList[0] != '?'" class="number-wraper">
                        <span  v-for="(item,index) in openResultDetail[0].haoMaList" :key="index">
                          <i class="redBackground" >{{item}}</i>
                          <i style="font-size: 0.25rem;font-weight: 800;color:#000;padding:0 2px;" v-if="index  == 0 || index == 1 ">+</i>
                          <i style="font-size: 0.25rem;font-weight: 800;color:#000;padding:0 2px;" v-if="index  == 2">=</i>
                        </span>
                    </div>
                    <div v-else class="number-wraper">
                        <span  v-for="(item,index) in randomOpenResultDetail[0].haoMaList" :key="index">
                          <i class="redBackground" >{{item}}</i>
                          <i style="font-size: 0.25rem;font-weight: 800;color:#000;padding:0 2px;" v-if="index  == 0 || index == 1 ">+</i>
                          <i style="font-size: 0.25rem;font-weight: 800;color:#000;padding:0 2px;" v-if="index  == 2">=</i>
                        </span>
                    </div>
                </template>
                <template v-if="$route.query.lotGroup == 3">
                   <div v-if="openResultDetail[0].haoMaList[0] != '?'" class="number-wraper">
                      <span  v-for="(item,index) in openResultDetail[0].haoMaList" :key="index">
                       <i :class="'redBackground pkshi'+item" v-if="item != '?'">{{item}}</i>
                        <i class="redBackground pkshi11" v-else>?</i>
                     </span>
                   </div>
                   <div class="number-wraper" v-else>
                     <span  v-for="(item,index) in randomOpenResultDetail[0].haoMaList" :key="index">
                      <i class="redBackground" >{{item}}</i>
                    </span>
                   </div>
                </template>
                <template v-if="$route.query.lotGroup == 6">
                    <div v-if="openResultDetail[0].haoMaList[0] != '?'" class="number-wraper" style="display: block;">
                        <span  v-for="(item,index) in openResultDetail[0].haoMaList" :key="index" style="display: inline-flex;">
                           <i :class="fontColor(item)=='blue' ? 'blue_c redBackground': fontColor(item)=='red'? 'red_c redBackground': fontColor(item)=='green' ? 'green_c redBackground' :' redBackground'" v-if="item != '?'  ">{{item}}</i>
                           <i :class="fontColor(item)=='blue' ? 'blue_c redBackground': fontColor(item)=='red'? 'red_c redBackground': fontColor(item)=='green' ? 'green_c redBackground' :'redBackground'" v-else>?</i>
                        </span>
                        <div class="shenxiao">
                          <span v-for="(item,index) in openResultDetail[0].haoMaList" :key="index" style="display: inline-flex;">
                            <i :class="fontColor(item)=='blue' ? 'blue_cSize  redBackground': fontColor(item)=='red'? 'red_cSize redBackground': fontColor(item)=='green' ? 'green_cSize redBackground' :' redBackground'" v-if="item != '?'">{{shengXiao(item)}}</i>
                            <i :class="fontColor(item)=='blue' ? 'blue_cSize  redBackground': fontColor(item)=='red'? 'red_cSize redBackground': fontColor(item)=='green' ? 'green_cSize redBackground' :' redBackground'" v-else>?</i>
                          </span>
                        </div>
                    </div>
                    <div class="number-wraper" v-else>
                         <span  v-for="(item,index) in randomOpenResultDetail[0].haoMaList" :key="index">
                          <i class="redBackground" >{{item}}</i>
                        </span>
                        <div class="shenxiao">
                            <span v-for="(item,index) in openResultDetail[0].haoMaList" :key="index" style="display: inline-flex;">
                              <i :class="'redBackground pkshi'+item" >{{shengXiao(item)}}</i>
                            </span>
                        </div>
                    </div>
                </template>
                <a :class="headerOpen.headerOpenNumber == true ? 'headerOpenNumber': ''">
                <img src="@/assets/images/xiala.png" alt="xiala" >
              </a>
            </div>
          </div>
        </div>
        <div class="header-takeNote" style="z-index: 2005;" >
          <van-popup v-model="headerOpen.headerOpenNumber" position="top"  style="height: 50%;top:2.6rem;" get-container="#headerTakeNote">
            <!--              &lt;!&ndash;<div class="chip" &ndash;&gt;@mousewheel.prevent>-->
            <div class="chip" v-if="$route.query.lotGroup == 7">
              <header >
                <ul >
                  <li>
                    <p>期号</p>
                    <p>开奖号码</p>
                    <div class="chip-computed">
                      <div class="title">
                        <span>总和</span>
                      </div>
                      <div class="computed">
                        <span>和值</span>
                        <span>大小</span>
                        <span>单双</span>
                      </div>
                    </div>
                  </li>
                </ul>
              </header>
              <main>
                <ol v-if="openResultDetail">
                  <li v-for="(item,index) in openResultDetail" :key="index">
                    <p>{{item.qiHao.substring(7)}}</p>
                    <p>
                      <i v-for="(item2,index2) in item.haoMaList" :key="index2">
                        <img v-if="item2 != '?'" :src="require(`@/assets/images/${item2}.png`)" alt="number">
                        <img v-else :src="require(`@/assets/images/dice.gif`)" alt="number">
                      </i>
                    </p>
                    <div class="mian-computed" v-if="item.result">
                      <div class="computed">
                        <i v-for="(item3,index3) in item.result.split(',')" :key="index3">
                          <span>{{item3 || "..."}}</span>
                        </i>
                      </div>
                    </div>
                  </li>
                </ol>
              </main>
            </div>
            <div class="chip" v-if="$route.query.lotGroup == 1">
              <header >
                <ul >
                  <li>
                    <p>期号</p>
                    <p>开奖号码</p>
                    <div class="chip-computed">
<!--                      <div class="title">-->
<!--                        <span>总和</span>-->
<!--                      </div>-->
                      <div class="computed" style="height: 100%">
                        <span>和值</span>
                        <span>大小</span>
                        <span>单双</span>
                        <span style="color:rgb(73, 209, 116)">龙虎</span>
                      </div>
                    </div>
                  </li>
                </ul>
              </header>
              <main>
                <ol v-if="openResultDetail">
                    <li v-for="(item,index) in openResultDetail" :key="index">
                      <p>{{item.qiHao.substring(4)}}</p>
                      <p>
                        <i v-for="(item2,index2) in item.haoMaList" :key="index2" class="shishicaiI">
                          {{item2}}
                        </i>
                      </p>
                      <div class="mian-computed" >
                        <div class="computed" v-if="item.result">
                          <i v-for="(item3,index3) in item.result.split(',')" :key="index3">
                            <span>{{item3 || "..."}}</span>
                          </i>
                          <i style="color:rgb(73, 209, 116);" ><span>{{item.dtSum}}</span></i>
                        </div>
                        <div class="computed" v-else>
                          <i v-for="(item3,index3) in 4" :key="index3">
                            <span>...</span>
                          </i>
                          <i style="color:rgb(73, 209, 116);" >{{item.dtSum}}</i>
                        </div>
                      </div>
                    </li>
                  </ol>
              </main>
            </div>
            <div class="chip" v-if="$route.query.lotGroup == 2">
              <header >
                <ul >
                  <li>
                    <p>期号</p>
                    <p style="width: 50%">开奖号码</p>
                    <div class="chip-computed" style="width: 29%">
<!--                      <div class="title">-->
<!--                        <span>总和</span>-->
<!--                      </div>-->
                      <div class="computed" style="height: 100%">
                        <span></span>
                        <span style="color:rgb(73, 209, 116);">龙虎</span>
                        <span></span>
                      </div>

                    </div>
                  </li>
                </ul>
              </header>
              <main>
                <ol v-if="openResultDetail">
                  <li v-for="(item,index) in openResultDetail" :key="index">
                    <p>{{item.qiHao}}</p>
                    <p style="width: 50%">
                      <i v-for="(item2,index2) in item.haoMaList" :key="index2" class="shishicaiI">
                        {{item2}}
                      </i>
                    </p>
                    <div class="mian-computed" style="width: 29%">
                      <div class="computed">
                        <i style="color:rgb(73, 209, 116);" >{{item.dtSum}}</i>
                      </div>
                    </div>
                  </li>
                </ol>
              </main>
            </div>
            <div class="chip" v-if="$route.query.lotGroup == 3">
              <header >
                <ul >
                  <li>
                    <p style="width: 15%">期号</p>
                    <p style="width: 59%">开奖号码</p>
                    <div class="chip-computed" style="width: 24%">
                      <!--                      <div class="title">-->
                      <!--                        <span>总和</span>-->
                      <!--                      </div>-->
                      <div class="computed" style="height: 100%">
                        <span></span>
                        <span style="color:rgb(73, 209, 116);">龙虎</span>
                        <span></span>
                      </div>

                    </div>
                  </li>
                </ul>
              </header>
              <main>
                <ol v-if="openResultDetail">
                  <li v-for="(item,index) in openResultDetail" :key="index">
                    <p style="width: 15%">{{item.qiHao.substring(4)}}</p>
                    <p style="width: 59%">
                      <i v-for="(item2,index2) in item.haoMaList" :key="index2" :class="item2 == '?' ? 'shishicaiI pkshi11' :'shishicaiI pkshi'+item2 ">
                        {{item2.replace(/\b(0+)/gi,"")}}
                      </i>
                    </p>
                    <div class="mian-computed" style="width: 24%">
                      <div class="computed" v-if="item.result">
                        <i style="color:rgb(73, 209, 116);" >{{item.dtSum}}</i>
                      </div>
                      <div class="computed" v-else>
                        <i v-for="(item3,index3) in  4" :key="index3">
                          <span>...</span>
                        </i>
                      </div>
                    </div>
                  </li>
                </ol>
              </main>
            </div>
            <div class="chip" v-if="$route.query.lotGroup == 5">
            <header >
              <ul >
                <li>
                  <p>期号</p>
                  <p >开奖号码</p>
                  <div class="chip-computed" >
                    <!--                      <div class="title">-->
                    <!--                        <span>总和</span>-->
                    <!--                      </div>-->
                    <div class="computed" style="height: 100%">
                      <span>和值</span>
                      <span>大小</span>
                      <span>单双</span>
                      <span style="color:rgb(73, 209, 116)">龙虎</span>
                    </div>

                  </div>
                </li>
              </ul>
            </header>
            <main>
              <ol v-if="openResultDetail">
                <li v-for="(item,index) in openResultDetail" :key="index">
                  <p>{{item.qiHao.substring(4)}}</p>
                  <p>
                    <i v-for="(item2,index2) in item.haoMaList" :key="index2" class="shishicaiI">
                      {{item2}}
                    </i>
                  </p>
                  <div class="mian-computed" >
                    <div class="computed" v-if="item.result">
                      <i v-for="(item3,index3) in item.result.split(',')" :key="index3">
                        <span>{{item3 || "..."}}</span>
                      </i>
                      <i style="color:rgb(73, 209, 116);" ><span>{{item.dtSum}}</span></i>
                    </div>
                    <div class="computed" v-else>
                      <i v-for="(item3,index3) in 4" :key="index3">
                        <span>...</span>
                      </i>
                      <i style="color:rgb(73, 209, 116);" >{{item.dtSum}}</i>
                    </div>
                  </div>
                </li>
              </ol>
            </main>
          </div>
            <div class="chip" v-if="$route.query.lotGroup == 6">
              <header >
                <ul >
                  <li>
                    <p>期号</p>
                    <p >开奖号码</p>
                    <div class="chip-computed" >
                      <!--                      <div class="title">-->
                      <!--                        <span>总和</span>-->
                      <!--                      </div>-->
                      <div class="computed" style="height: 100%">
<!--                        <span>和值</span>-->
<!--                        <span>大小</span>-->
<!--                        <span>单双</span>-->
                        <span style="color:rgb(73, 209, 116)">生肖</span>
                      </div>

                    </div>
                  </li>
                </ul>
              </header>
              <main>
                <ol v-if="openResultDetail">
                  <li v-for="(item,index) in openResultDetail" :key="index">
                    <p>{{item.qiHao}}</p>
                    <p>
                      <i v-for="(item2,index2) in item.haoMaList" :key="index2" :class="fontColor(item2)=='blue' ? 'blue_c shishicaiI': fontColor(item2)=='red'? 'red_c shishicaiI': fontColor(item2)=='green' ? 'green_c shishicaiI' :'shishicaiI'">
                        {{item2}}
                      </i>
                    </p>
                    <div class="mian-computed" >
                      <div class="computed" v-if="item.haoMaList[0] != '?'">
                        <i v-for="(item3,index3) in item.haoMaList" :key="index3">
                          <span :class="fontColor(item3)=='blue' ? 'blue_cSize  redBackground': fontColor(item3)=='red'? 'red_cSize redBackground': fontColor(item3)=='green' ? 'green_cSize redBackground' :' redBackground'">{{shengXiao(item3)}}</span>
                        </i>
<!--                        <i style="color:rgb(73, 209, 116);" ><span>{{item.dtSum}}</span></i>-->
                      </div>
                      <div class="computed" v-else>
                        <i v-for="(item3,index3) in 7" :key="index3">
                          <span>...</span>
                        </i>
                        <i style="color:rgb(73, 209, 116);" >{{item.dtSum}}</i>
                      </div>
                    </div>
                  </li>
                </ol>
              </main>
            </div>
            <div class="chip" v-if="$route.query.lotGroup == 8">
              <header >
                  <ul >
                      <li>
                          <p style="width: 18%;">期号</p>
                          <p style="width: 56%;">开奖号码</p>
                          <div class="chip-computed" style="width: 26%;">
                              <!--                      <div class="title">-->
                              <!--                        <span>总和</span>-->
                              <!--                      </div>-->
                              <div class="computed" style="height: 100%">
                                  <!--                                      <span>和值</span>-->
                                  <!--                                      <span>大小</span>-->
                                  <!--                                      <span>单双</span>-->
                                  <span style="color:rgb(73, 209, 116)">龙虎</span>
                              </div>

                          </div>
                      </li>
                  </ul>
              </header>
              <main>
                  <ol v-if="openResultDetail">
                      <li v-for="(item,index) in openResultDetail" :key="index">
                          <p style="width: 18%;">{{item.qiHao.substring(4)}}</p>
                          <p style="width: 56%;">
                              <i v-for="(item2,index2) in item.haoMaList" :key="index2" class="shishicaiI">
                                  {{item2}}
                              </i>
                          </p>
                          <div class="mian-computed" style="width: 26%;" >
                              <div class="computed" v-if="item.dtSum">
                                  <!--                                      <i v-for="(item3,index3) in item.result.split(',')" :key="index3">-->
                                  <!--                                          <span>{{item3 || "..."}}</span>-->
                                  <!--                                      </i>-->
                                  <i style="color: rgb(73, 209, 116);" ><span style="color: rgb(73, 209, 116);">{{item.dtSum}}</span></i>
                              </div>
                              <div class="computed" v-else>
                                  <i v-for="(item3,index3) in 1" :key="index3">
                                      <span>...</span>
                                  </i>
                              </div>
                          </div>
                      </li>
                  </ol>
              </main>
          </div>
            <div class="chip" v-if="$route.query.lotGroup == 9">
                  <header >
                      <ul >
                          <li>
                              <p>期号</p>
                              <p >开奖号码</p>
                              <div class="chip-computed" >
                                  <!--                      <div class="title">-->
                                  <!--                        <span>总和</span>-->
                                  <!--                      </div>-->
                                  <div class="computed" style="height: 100%">
                                      <!--                                      <span>和值</span>-->
                                      <!--                                      <span>大小</span>-->
                                      <!--                                      <span>单双</span>-->
                                      <span style="color:rgb(73, 209, 116)">...</span>
                                  </div>

                              </div>
                          </li>
                      </ul>
                  </header>
                  <main>
                      <ol v-if="openResultDetail">
                          <li v-for="(item,index) in openResultDetail" :key="index">
                              <p>{{item.qiHao.substring(4)}}</p>
                              <p v-if="item.haoMaList[0] != '?'">
                                  <i v-for="(item2,index2) in item.haoMaList" :key="index2" class="shishicaiI" style="box-shadow: unset;background:unset;width: unset;height: unset;border-radius: unset;">
                                      <span>{{item2}}</span>
                                      <span v-if="index2  == 0 || index2 == 1 ">+</span>
                                      <span v-if="index2  == 2">=</span>
                                  </i>
                              </p>
                              <p v-else>
                                  <i v-for="(item2,index2) in item.haoMaList" :key="index2" class="shishicaiI">
                                      {{item2}}
                                  </i>
                              </p>
                              <div class="mian-computed" >
                                  <div class="computed" v-if="item.dtSum">
                                      <!--                                      <i v-for="(item3,index3) in item.result.split(',')" :key="index3">-->
                                      <!--                                          <span>{{item3 || "..."}}</span>-->
                                      <!--                                      </i>-->
                                      <i style="color: rgb(73, 209, 116);" ><span style="color: rgb(73, 209, 116);">{{item.dtSum}}</span></i>
                                  </div>
                                  <div class="computed" v-else>
                                      <i v-for="(item3,index3) in 1" :key="index3">
                                          <span>...</span>
                                      </i>
                                  </div>
                              </div>
                          </li>
                      </ol>
                  </main>
              </div>
          </van-popup>
        </div>
        <div class="header-rule" >
          <van-action-sheet safe-area-inset-bottom v-model="headerOpen.headerOpenRule" style="height: 70%;bottom: 2.2rem;" z-index="2005" :title="$route.query.name+'说明'"  close-icon="arrow-down"  >
            <div class="rule-content" v-html="lotteryDateDetailDesc">
              <!--              {{headerLotterDate[1]}}-->
            </div>
          </van-action-sheet>
        </div>
      </div>
      <div class="drew-content" style="text-align: center;font-size: 0.3rem;color: red;font-weight: 600;display: inline-flex;justify-content: center;align-items: center;" v-else>
        {{notOpend}}
      </div>
    </div>
  </div>
</template>
<script>
  export default {
    name:"headerLotterDrawIssue",
    props:["lotteryDateDetailDesc"],
    data(){
      return {
        headerOpen:{headerOpenNumber:false,headerOpenRule:false},
        stickyHeight:false,
        countDownQiHao:{time:'',qiHao:''},
        openResultDetail:[],
        notOpend:'',
        randomOpenResultDetail:[{haoMaList:[0,0,0,0,0,0,0,0,0,0]}],
        timer:{getopen_result_detailTime:'',randomNumTime:''}
      }
    },
    created() {
      this.getopen_result_detail();
      this.getCountDown();

    },
    mounted() {
      this.$store.commit("handlWindowetack2",this.headerOpen);
      console.log(this)
    },
    methods:{
      //获取下一期数据时间期号等
      getCountDown(){
        this.$http.caipiao.getCountDown({lotCode:this.$route.query.code,version:this.$store.state.version}).then(res=>{
          if (res && res.data.success ){
            this.countDownQiHao.time = res.data.content.activeTime - res.data.content.serverTime;
            this.countDownQiHao.qiHao = res.data.content.qiHao;
            this.$nextTick(()=>{
              this.$refs.countDown.start()
            })
            this.$emit("drawIssueQihao",this.countDownQiHao.qiHao)
          }
        }).catch(res=>{

        })
      },
      //获取开奖号码post
      getopen_result_detail(){
        clearInterval(this.timer.getopen_result_detailTime)
        clearInterval(this.timer.randomNumTime)
        this.$http.caipiao.getopen_result_detail({lotCode:this.$route.query.code,version:this.$store.state.version}).then(res=>{
          if (res.data.success){
            this.openResultDetail  = res.data.content
            //pc蛋蛋开奖计算长度
            if(this.$route.query.lotGroup == 9){
              for (let i=0;i<this.openResultDetail.length;i++){
                let allNumber=0;
                for (let n=0;n<this.openResultDetail[i].haoMaList.length;n++){
                  if (this.openResultDetail[i].haoMaList[0] != '?')
                    allNumber += Number(this.openResultDetail[i].haoMaList[n])
                    }
                this.openResultDetail[i].haoMaList.push(allNumber)
              }
            }
            //随机数组定义长度
            let arr=[]
            for (let i = 0;i<this.openResultDetail[0].haoMaList.length;i++){
              let numb= Math.floor(Math.random()*10);
              arr.push(numb)
            }
            //pc蛋蛋开奖长度
            if(this.$route.query.lotGroup == 9){
              arr = arr.slice(0,4)
            }
            this.randomOpenResultDetail[0].haoMaList = arr;

            if (res.data.content[0] && res.data.content[0].haoMaList[0] == "?"){
              this.randomNum()
              this.timer.getopen_result_detailTime = setInterval(()=>{
                this.getopen_result_detail()
              },5000)
            }
          }else {

            this.notOpend = res.data.msg
            this.$toast({message:res.data.msg,duration:1000})
          }
        })
      },
      //到计时结算
      finish(){
        let times;
        this.$toast({message:`第${this.countDownQiHao.qiHao}期结束`})
        this.getCountDown()
        this.getopen_result_detail()
      },
      scroll(data){
        if (data.scrollTop >0){
          this.stickyHeight = true
        }else {
          this.stickyHeight =false
        }
      },
      //开奖随机号码
      randomNum(){
        this.timer.randomNumTime = setInterval(()=>{
          let arr= []
          for (let i = 0;i<this.openResultDetail[0].haoMaList.length;i++){
            let numb= Math.floor(Math.random()*10);
            arr.push(numb)
          }
          //pc蛋蛋开奖长度
          if(this.$route.query.lotGroup == 9){
            arr = arr.slice(0,4)
          }
          this.randomOpenResultDetail[0].haoMaList = arr;
        },500)
      },
      //六合彩生肖
      shengXiao:function(haoMa){
        let numColor={
          gou:[ '03', '15', '27', '39'],
          ji:['04', '16', '28', '40'],
          hou:[ '05', '17', '29', '41'],
          yang:[ '06', '18', '30', '42'],
          ma:[ '07', '19', '31', '43'],
          she:[ '08', '20', '32', '44'],
          long:[ '09', '21', '33', '45'],
          tu:[ '10', '22', '34', '46'],
          hu:[ '01', '23', '35', '47'],
          niu:[ '12', '24', '36', '48'],
          shu:[ '11', '13', '25', '37', '49'],
          zhu:[ '02', '14', '26', '38'],
        };
        var sx = {
          gou: '狗',
          ji: '鸡',
          hou: '猴',
          yang: '羊',
          ma: '马',
          she: '蛇',
          long: '龙',
          tu: '兔',
          hu: '虎',
          niu: '牛',
          shu: '鼠',
          zhu: '猪',
        };
        for(let i in numColor) {
          if (numColor[i].indexOf(haoMa) != -1) {
            return sx[i]
          }
        }
      },
      //六合彩颜色
      fontColor:function(haoMa){
        let fColor={
          red:[ '01' ,'02','07','08', '12', '13', '18', '19', '23', '24', '29', '30', '34' , '35', '40', '45', '46'],
          blue: ['03', '04', '09', '10', '14', '15', '20', '25', '26', '31', '36', '37', '41', '42', '47', '48'],
          green:['05', '06', '11', '16', '17', '21', '22', '27', '28', '32', '33', '38', '39', '43', '44', '49' ]
        };
        if (typeof (haoMa) == "number"){
          haoMa = haoMa<10? '0'+ haoMa: JSON.stringify(haoMa);
        }
        for(let i in fColor){
          if(fColor[i].indexOf(haoMa) != -1){
            return i
          }
        }
      },
    },
    watch:{
      $route(to,from){
        this.$common.handlWindowetack(2)
        this.getopen_result_detail();
        this.getCountDown();
      }
    }
  }
</script>
<style lang="scss" scoped>
  $lotterIndexMarginTopTime:1rem;
  $lotterIndexOpenheight:0.6rem;
  .DrawLssue{
    position: fixed;
    width: 100%;
    z-index: 2;
    background: #fff;
    .DrawLssue-content{
      margin-top: $lotterIndexMarginTopTime;
      display: flex;
      box-sizing: border-box;
      height: $lotterIndexMarginTopTime + $lotterIndexOpenheight;
      max-width: 750px;
      .issue-content{
        height: $lotterIndexMarginTopTime + $lotterIndexOpenheight;
        width: 33%;
        z-index: 2014;
        background: #ffffff;
        .header-timeDown{
          /*display: flex;*/
          /*align-items: center;*/
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: $lotterIndexMarginTopTime + $lotterIndexOpenheight;
          /*background: linear-gradient(to right, rgb(75, 176, 255), rgb(97, 73, 246));*/
          box-shadow: 0 -1px 0.9995vw 0 rgba(83,93,118,0.08);
          /*z-index: 2009;*/
          color: #000000;
          .timeDownLeft{
            padding: 0.1rem;
            box-sizing: border-box;
            .name{
              width: 100%;
              display: inline-block;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              font-size: 0.28rem;
              font-weight: 400;
              text-align: center;
            }
            .time{
              font-size: 0.28rem;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              font-weight: 400;
              text-align: center;
              span{
                font-weight: inherit;
                font-size: inherit;
                color:#fe2525;
              }
            }
          }
          .timeDownCentre{
            text-align: center;
            .block{
              margin: auto;
              font-size: 0.36rem;
              font-weight: bold;
              display: inline-block;
              color: #fe2525;
              background-size: contain;
              background-repeat:no-repeat;
              /*background-position: ;*/
            }
            .colon{
              font-size: 0.5rem;
              color: #fe2525;
            }
          }
          .timeDownRight{
            flex: .8;
            text-align: center;
            i{
              font-size: 0.5rem;
            }
          }
        }
        .header-timeDownsticky{
          border-radius: 0 0 3vw 3vw;
        }
      }
      .drew-content{
        height: 100%;
        width: 67%;
        border-left: 1px solid #fbfbfb;
        z-index: 2014;
        background: #ffffff;
        .header-open{
          height: 100%;
          box-shadow: 0 -1px 0.9995vw 0 rgba(83,93,118,0.08);
          border-radius:0 0 3vw 3vw ;
          /*background: linear-gradient(to right, rgb(75, 176, 255), rgb(97, 73, 246));*/
          color: #ffffff;
          .option-issue{
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .issue{
              width: 100%;
              font-size: 0.28rem;
              padding: 0.1rem;
              span{
                display: block;
                text-align: center;
                font-size: 0.28rem;
                color: #000000;
              }
            }
            .number{
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              .ksSpan {
                width: 0.50rem;
                min-width: 15px;
                min-height: 15px;
                height: 0.50rem;
                .ksSpan-img{
                  width: 100%;
                  height: 100%;
                }
              }
              .number-wraper{
                display: flex;
                justify-content: center;
                span{
                  display: flex;
                  text-align: left;
                  margin-left: 1px;
                  align-items: center;
                  img{
                    width: 0.5rem;
                    height: 0.5rem;
                  }
                  .redBackground{
                    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2);
                    border-radius: 50%;
                    width: 0.40rem;
                    min-width: 15px;
                    min-height: 15px;
                    height: 0.40rem;
                    background: #ee0a24;
                    display: inline-flex;
                    font-size: 0.25rem;
                    font-weight: 800;
                    align-items: center;
                    justify-content: center;
                    color: #ffffff;
                  }
                  .pk-01{
                    width: 0.35rem;
                    line-height: 0.35rem;
                    text-align: center;
                    background: #e70100;
                    font-size: .23rem;
                    margin: 0 .05rem;
                    border-radius: .05rem;
                  }
                  .pk-02{
                    width: 0.35rem;
                    line-height: 0.35rem;
                    text-align: center;
                    background: #6a0000;
                    font-size: .23rem;
                    margin: 0 .05rem;
                    border-radius: .05rem;
                  }
                  .pk-03{
                    width: 0.35rem;
                    line-height: 0.35rem;
                    text-align: center;
                    background: #a53f00;
                    font-size: .23rem;
                    margin: 0 .05rem;
                    border-radius: .05rem;
                  }
                  .pk-04{
                    width: 0.35rem;
                    line-height: 0.35rem;
                    text-align: center;
                    background: #227979;
                    font-size: .23rem;
                    margin: 0 .05rem;
                    border-radius: .05rem;
                  }
                  .pk-05{
                    width: 0.35rem;
                    line-height: 0.35rem;
                    text-align: center;
                    background: #ff8600;
                    font-size: .23rem;
                    margin: 0 .05rem;
                    border-radius: .05rem;
                  }
                  .pk-06{
                    width: 0.35rem;
                    line-height: 0.35rem;
                    text-align: center;
                    background: #4326d4;
                    font-size: .23rem;
                    margin: 0 .05rem;
                    border-radius: .05rem;
                  }
                  .pk-07{
                    width: 0.35rem;
                    line-height: 0.35rem;
                    text-align: center;
                    background: #008a00;
                    font-size: .23rem;
                    margin: 0 .05rem;
                    border-radius: .05rem;
                  }
                  .pk-08 {
                    width: 0.35rem;
                    line-height: 0.35rem;
                    text-align: center;
                    background: #777;
                    font-size: .23rem;
                    margin: 0 .05rem;
                    border-radius: .05rem;
                  }
                  .pk-09{
                    width: 0.35rem;
                    line-height: 0.35rem;
                    text-align: center;
                    background: #097eba;
                    font-size: .23rem;
                    margin: 0 .05rem;
                    border-radius: .05rem;
                  }
                  .pk-10{
                    width: 0.35rem;
                    line-height: 0.35rem;
                    text-align: center;
                    background: #97960f;
                    font-size: .23rem;
                    margin: 0 .05rem;
                    border-radius: .05rem;
                  }

                }
                .shenxiao{
                  span{
                    i{
                      background-color: #ffffff;
                      box-shadow: unset;
                      color: #000000;
                    }
                  }
                }
              }
              a{
                line-height: $lotterIndexOpenheight;
                margin-left: 0.3rem;
                transition: all 0.5s;
                margin-right: 0.2rem;
                img{
                  width: 0.2rem;
                }
              }
              .headerOpenNumber{
                transform: rotate(-180deg);
              }
            }
          }
        }
        .header-takeNote{
          width: 100%;
          max-width: 750px;
          .van-popup--top{
            border-radius: 0 0 3vw 3vw;
            box-shadow: 0 -1px 0.9995vw 0 rgba(83,93,118,0.08);
          }
          >>>.van-overlay{
            z-index: 2004!important;
            margin-top: $lotterIndexMarginTopTime*2 + $lotterIndexOpenheight;
            max-width: 750px;
            left: unset;
          }
          .van-popup--top{
            z-index: 2005!important;
            padding-top: $lotterIndexMarginTopTime*2 + $lotterIndexOpenheight;
            max-width: 750px;
            left: unset;
          }
        }
        .header-rule{
          max-width: 750px;
          width: 100%;
          .rule-content{
            padding: .3rem;
            text-indent: 31px;
            line-height: 20px;
            letter-spacing: 1px;
          }
          >>>.van-overlay{
            z-index: 2001!important;
          }
          >>>.van-popup{
            z-index: 8001!important;
            max-width: 750px;
            width: 100%;
            height: 100%;
            margin:auto;
          }
          >>>.van-popup--bottom{
            /*left: unset;*/
          }
        }
        >>>.van-sticky--fixed{
          z-index: 2011;
          top: 1rem!important;
          left: unset;
          right: unset;
          height: $lotterIndexMarginTopTime;
          width: 100%;
          max-width: 750px;
          margin: auto;
          background: linear-gradient(90deg,#69a5f8,#4e8ef7);
          border-radius: 0 0 3vw 3vw ;
        }
      }
      .chip{
        width: 100%;
        height: 100%;
        border-top: 1px solid #cccccc;
        header{
          ul{
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex: 1;
            height: 0.65rem;
            border-bottom: 1px solid rgb(206, 204, 204);
            box-sizing: border-box;
            li{
              text-align: center;
              width: 100%;
              height: 0.65rem;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 0.22rem;
              box-sizing: border-box;
              border-right: 1px solid rgb(206, 204, 204);
              p{
                height: 0.65rem;
                line-height: 0.65rem;
                font-size: 0.22rem;
                color:#666;
                &:nth-child(1){
                  width: 21%;
                  border-right: 1px solid rgb(206, 204, 204);
                }
                &:nth-child(2){
                  width: 40%;
                  border-right: 1px solid rgb(206, 204, 204);
                }
              }
              .chip-computed{
                width: 39%;
                height: 100%;
                .title{
                  height: 50%;
                  border-bottom: 1px solid rgb(206, 204, 204);
                  box-sizing: border-box;
                }
                .computed{
                  display: flex;
                  justify-content: space-around;
                  align-items: center;
                  height: 50%;
                  span{
                    &:nth-child(1){
                      color: rgb(132, 0, 255);
                    }
                    &:nth-child(2){
                      color: rgb(2, 167, 240);
                    }
                    &:nth-child(3){
                      color: rgb(245, 154, 35);
                    }
                  }
                }
              }
              &:last-child{
                border-right: none;
              }
            }
          }
        }
        main{
          ol{
            height: 0.4rem;
            box-sizing: border-box;
            li{
              text-align: center;
              width: 100%;
              height: 0.5rem;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              font-size: 0.22rem;
              box-sizing: border-box;
              p{
                height: 0.5rem;
                line-height: 0.5rem;
                font-size: 0.22rem;
                color:#666;
                img{
                  width: .4rem;
                  height: .4rem;
                  min-width: 15px;
                  min-width: 15px;
                }
                &:nth-child(1){
                  width: 21%;
                }
                &:nth-child(2){
                  width: 40%;
                  .shishicaiI{
                    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2);
                    border-radius: 50%;
                      width: 0.40rem;
                      min-width: 15px;
                      min-height: 15px;
                      height: 0.40rem;
                    background: #ee0a24;
                    display: inline-flex;
                    font-size: 0.25rem;
                    font-weight: 800;
                    align-items: center;
                    justify-content: center;
                    color: #ffffff;
                    box-sizing: border-box;
                    margin-right: 1px;
                      span{
                          &:nth-child(odd){
                              display: inline-flex;
                              width: 0.40rem;
                              min-width: 15px;
                              min-height: 15px;
                              height: 0.40rem;
                              justify-content: center;
                              background: #ee0a24;
                              border-radius: 50%;
                              align-items: center;

                          }
                          &:nth-child(even){
                              background: #ffffff;
                              box-shadow: unset;
                              font-size: 0.25rem;
                              font-weight: 800;
                              color: rgb(0, 0, 0);
                              padding: 0px 2px;
                          }
                      }
                  }
                }
              }
              .mian-computed{
                width: 39%;
                height: 100%;
                text-align: center;
                margin: auto;
                .title{
                  height: 50%;
                }
                .computed{
                  display: flex;
                  justify-content: space-around;
                  align-items: center;
                  width: 100%;
                  height: 100%;
                  i{
                    display: inline-flex;
                    width: 100%;
                    justify-content: center;

                    &:nth-child(1){
                      span{
                        color: rgb(132, 0, 255);
                      }
                    }
                    &:nth-child(2){
                      span{
                        color: rgb(2, 167, 240);
                      }
                    }
                    &:nth-child(3){
                      span{
                        color: rgb(245, 154, 35);
                      }
                    }
                  }


                }
              }
              &:last-child{
                border-right: none;
              }
            }
          }
        }
      }
    }
  }
  >>>.van-overlay{
    z-index: 2003!important;
  }
  >>>.van-popup.van-popup--top{
    z-index: 2004!important;
  }
  @media screen and(min-width: 750px){
    >>>.van-overlay{
      z-index: 2003!important;
      left: 50%;
      max-width: 750px;
      margin-left: -375px;
    }
    >>>.van-popup.van-popup--top{
      z-index: 2004!important;
      left: 50%;
      max-width: 750px;
      margin-left: -375px;
    }
  }
</style>
