<template>
  <div class="headerPage">
    <div class="headerPage-continer">
      <mt-header fixed :title="title">
        <router-link :to="skipPageUrl" slot="right"  v-if="rightIconFontShow">
          <mt-button  :class="rightIconFont" style="position: relative" @click="show = !show" class="rightButton"></mt-button>
          <div class="continer-tip" v-model="show" v-show="show">
            <ul>
              <li>
                <span><i class="iconfont icon-kefu "></i></span>
                <span>扫一扫</span>
              </li>
              <li>
                <span><i class="iconfont icon-kefu "></i></span>
                <span>扫一扫</span>
              </li>
              <li>
                <span><i class="iconfont icon-kefu "></i></span>
                <span>扫一扫</span>
              </li>
            </ul>
          </div>
        </router-link>
        <router-link :to="leftSkipPageUrl" slot="left">
          <mt-button  style="position: relative" class="leftButton" :class="leftIconFont">{{leftText}}</mt-button>
        </router-link>
      </mt-header>
      <van-search  :value="value" placeholder="请输入搜索关键词" v-bind:search="onSearch" v-bind:cancel="onCancel"  input-align="center" v-if="searchShow"/>
    </div>
  </div>
</template>
<script>
  export default {
    name:"headerPage",
    props:{
      title:String,
      skipPageUrl:{type:String, default:''},
      rightIconFont:{type:String, default: "iconfont icon-kefu"},
      leftSkipPageUrl:{type:String, default:''},
      leftIconFont:{type:String, default:'arrow-left'},
      searchShow:{type:Boolean,default:true},
      rightIconFontShow:{type:Boolean,default:true},
      leftText:{type:String,default:''},
    },
    data(){
      return{
        msg:"header",
        popupVisible:false,
        value:"",
        show:false
      }
    },
    components:{

    },
    methods:{
      onSearch(){},
      onCancel(){},
    }
  }
</script>
<style lang="scss" scoped>
  $headerPage:0.8rem;
  .headerPage{
    .headerPage-continer{
      //height: $headerPage;
        top: $headerPage;
        right: 0;
        left: 0;
        position: fixed;
        z-index: 1;
        margin: auto;
        max-width: 750px;
      .mint-header{
        height: 0.8rem;
        max-width: 750px;
        margin: auto;
        background: #ececec;
        color: #000000;
          >>>.mint-header-title{
              font-size: 0.24rem;

          }
          >>>.mint-button-text{
              font-size: 0.24rem;
          }
      }
      .mint-header .mint-button.rightButton{
        font-size: .7rem;
        line-height: $headerPage;
        height: $headerPage;
      }
      >>>.van-search{
        padding-top: 0;
        //margin-top:$headerPage ;
        background-color: #ececec;
      }
      .continer-tip{
        position: absolute;
        right: 5px;
        z-index: 0;
        width: 2rem;
        /*height: 2.4rem;*/
        background: #4c4c4c;
        border-radius: .1rem;
        &:before{
          content: "";
          width: 0;
          height: 0;
          display: block;
          border: 5px solid transparent;
          border-bottom: 5px solid #4c4c4c;
          position: absolute;
          top: -10px;
          right: 0.3rem;
        }
        ul{
          margin: .2rem;
          box-sizing: border-box;
          &:nth-child(1){
            padding: 0;
          }
          li{
            box-sizing: border-box;
            border-bottom: 1px solid #949494;
            padding: 5px 0px;
            &:last-child{
              border-bottom: none;
            }
            span{
              width: 0.5rem;
              height: 100%;
              padding: 5px 3px;
              font-size: 0.28rem;
              color: #ffffff;
              i{
                color: #ffffff;
                width: 0.5rem;
                font-size: 0.5rem;
                vertical-align: sub;
              }
            }
          }
        }
      }
    }
  }

</style>
