<template>
    <div class="loading" @mousewheel.prevent>
        <transition name="fade">
            <van-popup v-model="$store.state.isLoading"  safe-area-inset-bottom close-on-click-overlay	>
                <van-loading size="24px" type="spinner" color="#1989fa" vertical id="custom-selector" v-model="$store.state.isLoading" >加载中...</van-loading>
            </van-popup>
        </transition>
    </div>
</template>
<script>
  export default{
    name:"loading",
    data(){
      return{
        isLoading:true
      }
    },
    mounted() {

      this.$nextTick(()=>{
        if (this.$parent.$children[0].index === 4){
          document.getElementsByClassName('van-overlay')[0].style.top = "0";
        }else if (this.$parent.$children[0].index === 0 || this.$parent.$children[0].index === 1){
          document.getElementsByClassName('van-overlay')[0].style.top = "0.8rem";
        }else {
          document.getElementsByClassName('van-overlay')[0].style.top = "1rem";

        }
      })
    },
    components:{

    }
  }
</script>
<style lang="scss" scoped>
  $gameContainerHeader:1rem;
    /*-----------------start  loading-------------------*/
    >>>.van-overlay{
      background-color: rgba(151, 143, 143, 0.7);
      margin:auto;
      top:$gameContainerHeader ;
      z-index: 2050!important;
        position: absolute;
        right: 0;
        border: 0;
        max-width: 750px;
    }
    .van-popup{
      background-color: rgba(182, 176, 176, 0.29);
      height: 1.1rem;
      z-index: 2051!important;
    }
    .van-loading__text{
      color: #ffffff;
    }
  /*-----------------end  loading-------------------*/

  .fade-enter,
  .fade-leave-active {
      opacity: 0;
  }
  .fade-enter-active,
  .fade-leave-active {
      transition: opacity 0.5s;
  }
</style>
