<template>
  <div class="mode">
    <div class="sscCheckNumber">
      <ul>
        <li v-for="(item, index) in sonData.templateList" :key="index">
          <div class="selectNormal">
            <span class="buyNumberTitle">{{ item.name }}<i></i></span>
            <div class="buyNumber">
              <div style="display: inline-block;text-align: center;" @click="addCart(index,index2)"
                   v-for="(list, index2) in sonData.templateList[index].oddPlayItems" :key="index2">
                <a style="margin: 13px 5px 0 5px;width: 80px;border-radius:5px;display: block;"
                   :class="{active:list.isActive}">{{ winnNumber(list.name) }}</a>
                <el-tag size="mini" type="info">{{ list.odds }}</el-tag>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import $ from 'jquery'
import lotteryHtml from '@/assets/json/lotteryTemplate/pcegg.json'

export default {
  name: "official",
  props: ['sonData', 'params', 'lottery'],
  data() {
    return {
      lotteryTemplateType: 1,
      floder: this.$store.state.stationInfo.content.station.floder || 'x002',

    }
  },
  created: function () {
    this.showTemplate()
  },
  mounted: function () {
  },
  watch: {},
  methods: {
    // 选中号码
    addCart: function (index, index2) {
      this.$parent.addCart(index, index2)
      this.$forceUpdate()
    },
    // 给小于10的号码加零
    addZero: function (num, three) {
      if (three) {
        num < 10 ? num = '0' + num : num = '' + num;
        num < 100 ? num = '0' + num : num = '' + num;
      } else {
        num < 10 ? num = '0' + num : num = '' + num;
      }
      return num;
    },
    // 返回组合赔率
    peilvGroup: function (data, str) {
      let odds = str.odds
      $.each(data, function (index, item) {
        if (item.name.indexOf('(') != -1 && item.name.substring(0, item.name.indexOf('(')) == str.name) {
          odds = item.odds + '/' + str.odds
        }
      })
      return odds
    },
    // 填充json数据
    showTemplate: function () {
      let that = this
      let data = lotteryHtml.data
      for (let i in data) {
        if (data[i].playName == this.params.sonCode) {
          that.sonData.templateList = data[i].data
          // 获取当前玩法数据
          $.each(this.lottery.rules, function (index, item) {
            $.each(item.rules, function (index2, item2) {
              if (item2.code == that.params.sonCode) {
                that.sonData.thatPlayType = item.rules
              }
            })
          })
          // 填充玩法数据
          $.each(that.sonData.thatPlayType, function (index, item) {
            if (item.code == that.params.sonCode) {
              let dxdzzh = '', list = [], count = 0;
              switch (that.params.sonCode) {
                case 'xingyun28':
                  $.each(item.oddPlayItems, function (index, item) {
                    if (item.name == '红波') {
                      count = index
                    }
                  })
                  dxdzzh = item.oddPlayItems.slice(0, count)
                  // 填充大小单双
                  for (let i = 0; i < dxdzzh.length; i++) {
                    if (dxdzzh[i].name.indexOf('(') == -1) {
                      let obj = dxdzzh[i]
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = dxdzzh[i].name;
                      newobj.classify = dxdzzh[i].name;
                      newobj.odds = that.peilvGroup(dxdzzh, dxdzzh[i]);
                      list.push(newobj)
                    }
                  }
                  that.sonData.templateList[0].oddPlayItems = list
                  list = [];
                  dxdzzh = item.oddPlayItems.slice(count, count + 3)
                  // 填充数字
                  for (let i = 0; i < dxdzzh.length; i++) {
                    let obj = ''
                    obj = dxdzzh[i]
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = dxdzzh[i].name;
                    newobj.classify = dxdzzh[i].name;
                    list.push(newobj)
                  }
                  that.sonData.templateList[1].oddPlayItems = list
                  list = [];
                  dxdzzh = item.oddPlayItems.slice(count + 3, count + 4)
                  // 填充数字
                  for (let i = 0; i < dxdzzh.length; i++) {
                    let obj = ''
                    obj = dxdzzh[i]
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = dxdzzh[i].name;
                    newobj.classify = dxdzzh[i].name;
                    list.push(newobj)
                  }
                  that.sonData.templateList[2].oddPlayItems = list
                  list = [];
                  dxdzzh = item.oddPlayItems.slice(count + 4, count + 32)
                  // 填充其他
                  for (let i = 0; i < dxdzzh.length; i++) {
                    let obj = ''
                    obj = dxdzzh[i]
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = dxdzzh[i].name;
                    newobj.classify = dxdzzh[i].name;
                    list.push(newobj)
                  }
                  that.sonData.templateList[3].oddPlayItems = list
                  break;
              }
            }
          })
        }
      }
    },
    winnNumber: function (value) {
      switch (value) {
        case '大':
          return this.$store.state.moneyTypeInfoPc[0].showName;
        case '小':
          return this.$store.state.moneyTypeInfoPc[1].showName;
        case '单':
          return this.$store.state.moneyTypeInfoPc[2].showName
        case '双':
          return this.$store.state.moneyTypeInfoPc[3].showName
        default:
          return value
      }
    },
  },
}
</script>

<style scoped>

</style>