*{
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: -apple-system-font, Helvetica Neue, Arial, sans-serif;
}
li{
  list-style: none;
}
body{
  background: #0e1526;
  overflow: auto;
}
a{
  color: #000000;
}
i{
  font-style: normal;
}
a{
  text-decoration: none;
}
.van-hairline--top-bottom::after, .van-hairline-unset--top-bottom::after{
  border-width: inherit!important;
}
.van-picker{
  background-color: #151d31;
}
.van-picker__mask{
  background-image:linear-gradient(180deg,rgba(21,29,49,.9),rgba(21,29,49,.4)),linear-gradient(0deg,rgba(21,29,49,.9),rgba(21,29,49,.4)) ;
}
.van-ellipsis{
  color: #ffffff;
  font-size: 1.6rem;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}