@import "base";
.footer{
  height: 5.2rem;
  width: 100%;
  position: fixed;
  left: 0;
  bottom:0;
  a{
    display: block;
    background: #0e1526;
    width: 100%;
    text-align: center;
    img{
      height: 2.4rem;
      width: 2.4rem;
      margin-bottom: .3rem;
    }
    span{
      color: #ffffff;
    }
    .van-tabbar-item--active{
      background: #0e1526!important;
      a{
        color:#1989fa!important;
      }
    }
  }
}