*{
  padding: 0;
  margin: 0;
  font-family: -apple-system-font, Helvetica Neue, Arial, sans-serif;
  font-size: 16px;
}
li{
  list-style: none;
}
body{
  background: #eee;
  overflow: auto;
}
a{
  color: #000000;
}
i{
  font-style: normal;
}
a{
  text-decoration: none;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
