<template>
  <div class="mode">
    <div class="sscCheckNumber">
      <ul v-if="lotteryTemplateType == 1">
        <li v-for="(item, index) in sonData.templateList" :key="index">
          <div class="selectNormal">
            <span class="buyNumberTitle">{{ item.name }}<i></i></span>
            <div class="buyNumber">
              <div @click="addCart(index,index2)" v-for="(list, index2) in sonData.templateList[index].oddPlayItems"
                   :key="index2" style="display: inline-block;text-align: center;">
                <a style="display: block;" :class="{active:list.isActive}">{{ list.name }}</a>
                <el-tag size="mini" type="info">{{ list.odds }}</el-tag>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <ul v-else-if="lotteryTemplateType == 2">
        <li v-for="(item, index) in sonData.templateList" :key="index">
          <div class="selectNormal">
            <span class="buyNumberTitle">{{ item.name }}<i></i></span>
            <div class="buyNumber">
              <div @click="addCart(index,index2)" v-for="(list, index2) in sonData.templateList[index].oddPlayItems"
                   :key="index2" style="display: inline-block;text-align: center;">
                <a :class="{active:list.isActive}"
                   style="margin: 13px 5px 0 5px;width: 60px;border-radius:5px;display: block;">{{ winnNumber(list.name) }}</a>
                <el-tag size="mini" type="info">{{ list.odds }}</el-tag>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <ul v-else-if="lotteryTemplateType == 3">
        <li v-for="(item, index) in sonData.templateList" :key="index">
          <div class="selectNormal">
            <span class="buyNumberTitle">{{ item.name }}<i></i></span>
            <div class="buyNumber">
              <div @click="addCartDirect(index,index2)"
                   v-for="(list, index2) in sonData.templateList[index].oddPlayItems" :key="index2"
                   style="display: inline-block;text-align: center;">
                <a :class="{active:list.isActive}" style="display: block;">{{ list.name }}</a>
                <el-tag size="mini" type="info">{{ list.odds }}</el-tag>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <ul v-else-if="lotteryTemplateType == 4">
        <li v-for="(item, index) in sonData.templateList" :key="index">
          <div class="selectNormal">
            <span class="buyNumberTitle">{{ item.name }}<i></i></span>
            <div class="buyNumber">
              <div @click="addCartZhi(index,index2)" v-for="(list, index2) in sonData.templateList[index].oddPlayItems"
                   :key="index2" style="display: inline-block;text-align: center;">
                <a :class="{active:list.isActive}" style="display: block;">{{ list.name }}</a>
                <el-tag size="mini" type="info">{{ list.odds }}</el-tag>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import $ from 'jquery'
import lotteryHtml from '@/assets/json/lotteryTemplate/syxw.json'

export default {
  name: "official",
  props: ['sonData', 'params', 'lottery'],
  data() {
    return {
      lotteryTemplateType: 1,
      floder: this.$store.state.stationInfo.content.station.floder || 'x002',
    }
  },
  created: function () {
    this.showTemplate()
  },
  mounted: function () {
  },
  watch: {},
  methods: {
    // 选中号码
    addCart: function (index, index2) {
      this.$parent.addCart(index, index2)
      this.$forceUpdate()
    },
    addCartDirect: function (index, index2) {
      this.$parent.addCartDirect2(index, index2)
      this.$forceUpdate()
    },
    // 直选
    addCartZhi: function (index, index2) {
      // 直选判断list 用isActive来展示数据
      let data = this.sonData.templateList[index].oddPlayItems[index2], that = this, is = true, orderList = [],
          orderLength = []
      this.sonData.betList = []
      $.each(that.sonData.zuxuanNumList, function (index, item) {
        if (item == data.name) {
          if (data.isActive) {
            that.sonData.zuxuanNumList.splice(index, 1)
            data.isActive = false
            is = false
            return false
          } else {
            that.$toast('请不要选择相同的号码')
            is = false
            return false
          }
        }
      });
      this.$forceUpdate()
      if (is) {
        that.sonData.zuxuanNumList.push(data.name)
        data.isActive = true
      }
      $.each(this.sonData.templateList, function (index, item) {
        let num = 0, list = ''
        $.each(item.oddPlayItems, function (index2, item2) {
          if (item2.isActive) {
            num++
            list += item2.name + ','
          }
        })
        orderList.push(list)
        orderLength.push(num)
      })
      // 判断最小注数
      if (orderLength[0] > 0 && orderLength[0] > 0) {
        that.sonData.moneyItem.orderNum = 1
      }
      $.each(orderLength, function (index, item) {
        that.sonData.moneyItem.orderNum = that.sonData.moneyItem.orderNum * item
      })
      if (that.sonData.moneyItem.orderNum > 0) {
        // 遍历生成所有数据
        if (orderList.length == 2) {
          for (let i = 0; i < orderList[0].split(',').length - 1; i++) {
            for (let j = 0; j < orderList[1].split(',').length - 1; j++) {
              let params = {
                max: data.maxBetAmmount,
                min: data.minBetAmmount,
                name: '',
                oddsId: data.id,
                playCode: data.playCode,
                odds: data.odds,
                money: 2,
                order: ''
              };
              // params.order = this.sonData.moneyItem.orderNum
              params.name = JSON.parse(JSON.stringify(orderList[0].split(',')[i] + ',' + orderList[1].split(',')[j]))
              that.sonData.betList.push(params)
            }
          }
        } else {
          for (let i = 0; i < orderList[0].split(',').length - 1; i++) {
            for (let j = 0; j < orderList[1].split(',').length - 1; j++) {
              for (let k = 0; k < orderList[2].split(',').length - 1; k++) {
                let params = {
                  max: data.maxBetAmmount,
                  min: data.minBetAmmount,
                  name: '',
                  oddsId: data.id,
                  playCode: data.playCode,
                  odds: data.odds,
                  money: 2,
                  order: ''
                };
                // params.order = this.sonData.moneyItem.orderNum
                params.name = JSON.parse(JSON.stringify(orderList[0].split(',')[i] + ',' + orderList[1].split(',')[j] + ',' + orderList[2].split(',')[k]))
                that.sonData.betList.push(params)
              }
            }
          }
        }
      }
    },
    // 给小于10的号码加零
    addZero: function (num, three) {
      if (three) {
        num < 10 ? num = '0' + num : num = '' + num;
        num < 100 ? num = '0' + num : num = '' + num;
      } else {
        num < 10 ? num = '0' + num : num = '' + num;
      }
      return num;
    },
    // 填充json数据
    showTemplate: function () {
      let that = this
      let data = lotteryHtml.data
      for (let i in data) {
        if (data[i].playName == this.params.sonCode) {
          that.sonData.templateList = data[i].data
          // 获取当前玩法数据
          $.each(this.lottery.rules, function (index, item) {
            $.each(item.rules, function (index2, item2) {
              if (item2.code == that.params.sonCode) {
                that.sonData.thatPlayType = item.rules
              }
            })
          })
          // 填充玩法数据
          $.each(that.sonData.thatPlayType, function (index, item) {
            if (item.code == that.params.sonCode) {
              let dxdzzh = '', list = [];
              switch (that.params.sonCode) {
                case 'shuangmianpan':
                  that.lotteryTemplateType = 2
                  that.sonData.templateList[0].oddPlayItems = item.oddPlayItems.slice(0, 8);
                  for (let i in that.sonData.templateList[0].oddPlayItems) {
                    that.sonData.templateList[0].oddPlayItems[i].classify = item.oddPlayItems[i].name
                    that.sonData.templateList[0].oddPlayItems[i].isActive = false
                  }
                  dxdzzh = item.oddPlayItems.slice(8);
                  for (let n in that.sonData.templateList) {
                    list = [];
                    // 填充其他
                    for (let i = 0; i < dxdzzh.length; i++) {
                      let obj = dxdzzh[i];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = dxdzzh[i].name;
                      newobj.classify = that.sonData.templateList[n].name + '--' + dxdzzh[i].name;
                      list.push(newobj)
                    }
                    n > 0 ? that.sonData.templateList[n].oddPlayItems = list : ''
                  }
                  break;
                case '15qiu':
                  that.lotteryTemplateType = 1
                  for (let n in that.sonData.templateList) {
                    list = [];
                    // 填充其他
                    for (let i = 1; i < 12; i++) {
                      let obj = item.oddPlayItems[0];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = that.addZero(i);
                      newobj.classify = that.sonData.templateList[n].name + '--' + that.addZero(i);
                      list.push(newobj)
                    }
                    that.sonData.templateList[n].oddPlayItems = list
                  }
                  break;
                case 'yizhongyi':
                case 'erzhonger':
                case 'sanzhongsan':
                case 'sizhongsi':
                case 'wuzhongwu':
                case 'liuzhongwu':
                case 'qizhongwu':
                case 'bazhongwu':
                case 'zuxuanqianer':
                case 'zuxuanhouer':
                case 'zuxuanqiansan':
                case 'zuxuanzhongsan':
                case 'zuxuanhousan':
                  that.lotteryTemplateType = 3
                  for (let n in that.sonData.templateList) {
                    list = [];
                    // 填充其他
                    for (let i = 1; i < 12; i++) {
                      let obj = item.oddPlayItems[0];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = that.addZero(i);
                      newobj.classify = that.addZero(i);
                      list.push(newobj)
                    }
                    that.sonData.templateList[n].oddPlayItems = list
                  }
                  break;
                case 'zhixuanqianer':
                case 'zhixuanhouer':
                case 'zhixuanqiansan':
                case 'zhixuanzhongsan':
                case 'zhixuanhousan':
                  that.lotteryTemplateType = 4
                  for (let n in that.sonData.templateList) {
                    list = [];
                    // 填充其他
                    for (let i = 1; i < 12; i++) {
                      let obj = item.oddPlayItems[0];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = that.addZero(i);
                      newobj.classify = that.addZero(i);
                      list.push(newobj)
                    }
                    that.sonData.templateList[n].oddPlayItems = list
                  }
                  break;
              }
            }
          })
        }
      }
    },
    winnNumber: function (value) {
      switch (value) {
        case '大':
          return this.$store.state.moneyTypeInfoPc[0].showName;
        case '小':
          return this.$store.state.moneyTypeInfoPc[1].showName;
        case '单':
          return this.$store.state.moneyTypeInfoPc[2].showName
        case '双':
          return this.$store.state.moneyTypeInfoPc[3].showName
        default:
          return value
      }
    },
  },
}
</script>

<style scoped>
.buyNumber {
  padding: 0 50px !important;
}
</style>
