<template>
  <div class="sport">
    <div class="nav">
      <div class="bottom">
        <div class="out" @click="toPath()">
          <van-icon name="arrow-left" size="20px"/>
        </div>
        <span>今日</span><br><span style="font-size: 14px;font-weight: 600">足球</span>
        <div class="trophy"><img src="@/assets/images/trophy_icon.jpg" alt=""></div>
      </div>
    </div>
    <div class="select-play">
      <button :class="{'active':selectPlayIndex == 0}" @click="selectPlay(0)">主要玩法</button>
      <button :class="{'active':selectPlayIndex == 1}" @click="selectPlay(1)">波胆</button>
    </div>
    <div class="content" v-if="sportData.length > 0 && selectPlayIndex == 0">
      <div class="box" v-for="(item, index) in sportData" :key="index">
        <div class="title">
          <span>{{ item.LEAGUE }}</span>
          <span><img src="" alt=""></span>
        </div>
        <div class="data">
          <div class="team">
            <div class="list">{{ timeSplit(item.DATETIME) }}
<!--              <span class="label">{{item.DATETIME}}</span>-->
            </div>
            <div class="list"><span class="number"></span>{{ item.TEAM_H }}</div>
            <div class="list"><span class="number"></span>{{ item.TEAM_C }}</div>
            <div class="list" style="display: flex;align-items: center;"><span>{{ item.MORE }}</span>
              <van-icon name="play"/>
            </div>
          </div>
          <div class="bet-number">
            <div class="list">
              <span class="bet-title">让球</span>
              <span class="bet-title">得分大小</span>
              <span class="bet-title">独赢</span>
              <span class="bet-title">独赢(上半)</span>
              <span class="bet-title">让球(上半)</span>
              <span class="bet-title">得分(上半)</span>
<!--              <span class="bet-title">双方进球</span>-->
              <span class="bet-title">进球(单/双)</span>
            </div>
            <div class="list">
              <span class="button" @click="betBox(item,item.IOR_RH,'MN','IOR_RH',item.RATIO_R)"><p>{{(item.STRONG == 'H' ? item.RATIO_R : '')}}</p><p>{{ item.IOR_RH || '/' }}</p></span>
              <span class="button" @click="betBox(item,item.IOR_OUC,'MN','IOR_OUC',item.RATIO_OUO)"><p>{{sportSplit(item.RATIO_OUO) || '/' }}</p><p>{{ item.IOR_OUC || '/' }}</p></span>
              <span class="button" @click="betBox(item,item.IOR_MH,'MN','IOR_MH','')"><p>/</p><p>{{ item.IOR_MH || '/' }}</p></span>
              <span class="button" @click="betBox(item,item.IOR_HMH,'MN','IOR_HMH','')"><p>/</p><p>{{ item.IOR_HMH || '/' }}</p></span>
              <span class="button" @click="betBox(item,item.IOR_HRH,'MN','IOR_HRH',item.RATIO_HR)"><p>{{(item.STRONG == 'H' ? item.RATIO_HR : '')}}</p><p>{{ item.IOR_HRH || '/'}}</p></span>
              <span class="button" @click="betBox(item,item.IOR_HOUC,'MN','IOR_HOUC',item.RATIO_HOUO)"><p>{{sportSplit(item.RATIO_HOUO) || '/'}}</p><p>{{ item.IOR_HOUC || '/' }}</p></span>
<!--              <span class="button" @click="betBox(item,item.IOR_TSY,'MN','IOR_TSY','')"><p>是</p><p>{{ item.IOR_TSY || '/' }}</p></span>-->
              <span class="button" @click="betBox(item,item.IOR_EOO,'MN','IOR_EOO',item.STR_ODD)"><p>{{item.STR_ODD || '/'}}</p><p>{{ item.IOR_EOO || '/' }}</p></span>
            </div>
            <div class="list">
              <span class="button" @click="betBox(item,item.IOR_RC,'MN','IOR_RC',item.RATIO_R)"><p>{{(item.STRONG == 'C' ? item.RATIO_R : '')}}</p><p>{{item.IOR_RC}}</p></span>
              <span class="button" @click="betBox(item,item.IOR_OUH,'MN','IOR_OUH',item.RATIO_OUU)"><p>{{sportSplit(item.RATIO_OUU) || '/'}}</p><p>{{ item.IOR_OUH || '/' }}</p></span>
              <span class="button" @click="betBox(item,item.IOR_MC,'MN','IOR_MC','')"><p>/</p><p>{{ item.IOR_MC || '/' }}</p></span>
              <span class="button" @click="betBox(item,item.IOR_HMC,'MN','IOR_HMC',item.IOR_HMC)"><p></p><p>{{ item.IOR_HMC || '/' }}</p></span>
              <span class="button" @click="betBox(item,item.IOR_HRC,'MN','IOR_HRC',item.RATIO_HR)"><p>{{(item.STRONG == 'C' ? item.RATIO_HR : '')}}</p><p>{{ item.IOR_HRC || '/' }}</p></span>
              <span class="button" @click="betBox(item,item.IOR_HOUH,'MN','IOR_HOUH',item.RATIO_HOUU)"><p>{{sportSplit(item.RATIO_HOUU) || '/'}}</p><p>{{ item.IOR_HOUH || '/' }}</p></span>
<!--              <span class="button" @click="betBox(item,item.IOR_TSN,'MN','IOR_TSN','')"><p>否</p><p>{{ item.IOR_TSN || '/' }}</p></span>-->
              <span class="button" @click="betBox(item,item.IOR_EOE,'MN','IOR_EOE',item.STR_EVEN)"><p>{{ item.STR_EVEN || '/' }}</p><p>{{item.IOR_EOE || '/' }}</p></span>
            </div>
            <div class="list">
              <span class="button"><p>/</p><p>/</p></span>
              <span class="button"><p>/</p><p>/</p></span>
              <span class="button" @click="betBox(item,item.IOR_MN,'MN','IOR_MN','')"><p>/</p><p>{{ item.IOR_MN || '/' }}</p></span>
              <span class="button" @click="betBox(item,item.IOR_HMN,'MN','IOR_HMN','')"><p>/</p><p>{{ item.IOR_HMN || '/' }}</p></span>
              <span class="button"><p>/</p><p>/</p></span>
              <span class="button"><p>/</p><p>/</p></span>
<!--              <span class="button"><p>/</p><p>/</p></span>-->
              <span class="button"><p>/</p><p>/</p></span>
            </div>
          </div>
        </div>
        <div class="all">
          <div class="all-header">
            <span>
              <button @click="getSportAllActive(item.ECID,'R',index,0,0)" :class="{'active':(allIndex == index && allIndex2 == 0)}">让球</button>
              <button @click="getSportAllActive(item.ECID,'OU',index,1,0)" :class="{'active':(allIndex == index && allIndex2 == 1)}">得分大小</button>
            </span>
          </div>
          <div v-if="allIndex == index && allData">
            <div class="all-title" v-if="allIndex2 == 0">
              <span @click="getSportAllActive(item.ECID,'R',index,0,0)" :class="{'active':(allIndex == index && allIndex3 == 0)}">全场</span>
              <span @click="getSportAllActive(item.ECID,'HR',index,0,1)" :class="{'active':(allIndex == index && allIndex3 == 1)}">上半场</span>
            </div>
            <div class="all-title" v-if="allIndex2 == 1">
              <span @click="getSportAllActive(item.ECID,'OU',index,1,0)" :class="{'active':(allIndex == index && allIndex3 == 0)}">全场</span>
              <span @click="getSportAllActive(item.ECID,'HOU',index,1,1)" :class="{'active':(allIndex == index && allIndex3 == 1)}">上半场</span>
            </div>
            <div class="all-button" v-if="allIndex2 == 0">
              <div v-if="allIndex3 == 0">
                <div class="list" v-for="(item2, index2) in allData.ec.game" :key="index2">
                  <span class="button" @click="betBox(item2,item2.IOR_RH,'MN_LT','IOR_RH',item2.RATIO_R)"><p>{{item2.TEAM_H}} <span v-if="item2.STRONG == 'H'">{{item2.RATIO_R}}</span></p><p>{{item2.IOR_RH}}</p></span>
                  <span class="button" @click="betBox(item2,item2.IOR_RC,'MN_LT','IOR_RC',item2.RATIO_R)"><p>{{item2.TEAM_C}} <span v-if="item2.STRONG == 'C'">{{item2.RATIO_R}}</span></p><p>{{item2.IOR_RC}}</p></span>
                </div>
              </div>
              <div v-if="allIndex3 == 1">
                <div class="list" v-for="(item2, index2) in allData.ec.game" :key="index2">
                  <span class="button" @click="betBox(item2,item2.IOR_HRH,'MN_LT','IOR_HRH',item2.RATIO_HR)"><p>{{item2.TEAM_H}} <span v-if="item2.STRONG == 'H'">{{item2.RATIO_HR}}</span></p><p>{{item2.IOR_HRH}}</p></span>
                  <span class="button" @click="betBox(item2,item2.IOR_HRC,'MN_LT','IOR_HRC',item2.RATIO_HR)"><p>{{item2.TEAM_C}} <span v-if="item2.STRONG == 'C'">{{item2.RATIO_HR}}</span></p><p>{{item2.IOR_HRC}}</p></span>
                </div>
              </div>
            </div>
            <div class="all-button" v-if="allIndex2 == 1">
              <div v-if="allIndex3 == 0">
                <div class="list" v-for="(item2, index2) in allData.ec.game" :key="index2">
                  <span class="button" @click="betBox(item2,item2.IOR_OUC,'MN_SS','IOR_OUC',item2.RATIO_OUO)"><p>{{sportSplit(item2.RATIO_OUO)}}</p><p>{{item2.IOR_OUC}}</p></span>
                  <span class="button" @click="betBox(item2,item2.IOR_OUH,'MN_SS','IOR_OUH',item2.RATIO_OUU)"><p>{{sportSplit(item2.RATIO_OUU)}}</p><p>{{item2.IOR_OUH}}</p></span>
                </div>
              </div>
              <div v-if="allIndex3 == 1">
                <div class="list" v-for="(item2, index2) in allData.ec.game" :key="index2">
                  <span class="button" @click="betBox(item2,item2.IOR_HOUC,'MN_SS','IOR_HOUC',item2.RATIO_HOUO)"><p>{{sportSplit(item2.RATIO_HOUO)}}</p><p>{{item2.IOR_HOUC}}</p></span>
                  <span class="button" @click="betBox(item2,item2.IOR_HOUH,'MN_SS','IOR_HOUH',item2.RATIO_HOUU)"><p>{{sportSplit(item2.RATIO_HOUU)}}</p><p>{{item2.IOR_HOUH}}</p></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom"></div>
      </div>
    </div>
    <div class="content" v-if="sportData2.length > 0 && selectPlayIndex == 1">
      <div class="box" v-for="(item, index) in sportData2" :key="index" style="padding-bottom: 20px">
        <div class="title" style="justify-content: left">
          <span>{{ item.game.LEAGUE }}</span>
        </div>
        <div class="team-line">
          {{ item.game.TEAM_H }}<span>VS</span>{{ item.game.TEAM_C }}
          <span style="color: #a78025;margin-left: 10px">{{ timeSplit(item.game.DATETIME) }}</span>
        </div>
        <div class="bet-button-bodan">
          <div class="button-box"><span class="button" @click="betBox(item.game,item.game.IOR_H0C0,item.game.gameType,'IOR_H0C0',item.game.DATETIME)"><p>0 - 0</p><p>{{item.game.IOR_H0C0 || '/'}}</p></span></div>
          <div class="button-box"><span class="button" @click="betBox(item.game,item.game.IOR_H0C1,item.game.gameType,'IOR_H0C1',item.game.DATETIME)"><p>0 - 1</p><p>{{item.game.IOR_H0C1 || '/'}}</p></span></div>
          <div class="button-box"><span class="button" @click="betBox(item.game,item.game.IOR_H0C2,item.game.gameType,'IOR_H0C2',item.game.DATETIME)"><p>0 - 2</p><p>{{item.game.IOR_H0C2 || '/'}}</p></span></div>
          <div class="button-box"><span class="button" @click="betBox(item.game,item.game.IOR_H0C3,item.game.gameType,'IOR_H0C3',item.game.DATETIME)"><p>0 - 3</p><p>{{item.game.IOR_H0C3 || '/'}}</p></span></div>
          <div class="button-box"><span class="button" @click="betBox(item.game,item.game.IOR_H0C4,item.game.gameType,'IOR_H0C4',item.game.DATETIME)"><p>0 - 4</p><p>{{item.game.IOR_H0C4 || '/'}}</p></span></div>
          <div class="button-box"><span class="button" @click="betBox(item.game,item.game.IOR_H1C0,item.game.gameType,'IOR_H1C0',item.game.DATETIME)"><p>1 - 0</p><p>{{item.game.IOR_H1C0 || '/'}}</p></span></div>
          <div class="button-box"><span class="button" @click="betBox(item.game,item.game.IOR_H1C1,item.game.gameType,'IOR_H1C1',item.game.DATETIME)"><p>1 - 1</p><p>{{item.game.IOR_H1C1 || '/'}}</p></span></div>
          <div class="button-box"><span class="button" @click="betBox(item.game,item.game.IOR_H1C2,item.game.gameType,'IOR_H1C2',item.game.DATETIME)"><p>1 - 2</p><p>{{item.game.IOR_H1C2 || '/'}}</p></span></div>
          <div class="button-box"><span class="button" @click="betBox(item.game,item.game.IOR_H1C3,item.game.gameType,'IOR_H1C3',item.game.DATETIME)"><p>1 - 3</p><p>{{item.game.IOR_H1C3 || '/'}}</p></span></div>
          <div class="button-box"><span class="button" @click="betBox(item.game,item.game.IOR_H1C4,item.game.gameType,'IOR_H1C4',item.game.DATETIME)"><p>1 - 4</p><p>{{item.game.IOR_H1C4 || '/'}}</p></span></div>
          <div class="button-box"><span class="button" @click="betBox(item.game,item.game.IOR_H2C0,item.game.gameType,'IOR_H2C0',item.game.DATETIME)"><p>2 - 0</p><p>{{item.game.IOR_H2C0 || '/'}}</p></span></div>
          <div class="button-box"><span class="button" @click="betBox(item.game,item.game.IOR_H2C1,item.game.gameType,'IOR_H2C1',item.game.DATETIME)"><p>2 - 1</p><p>{{item.game.IOR_H2C1 || '/'}}</p></span></div>
          <div class="button-box"><span class="button" @click="betBox(item.game,item.game.IOR_H2C2,item.game.gameType,'IOR_H2C2',item.game.DATETIME)"><p>2 - 2</p><p>{{item.game.IOR_H2C2 || '/'}}</p></span></div>
          <div class="button-box"><span class="button" @click="betBox(item.game,item.game.IOR_H2C3,item.game.gameType,'IOR_H2C3',item.game.DATETIME)"><p>2 - 3</p><p>{{item.game.IOR_H2C3 || '/'}}</p></span></div>
          <div class="button-box"><span class="button" @click="betBox(item.game,item.game.IOR_H2C4,item.game.gameType,'IOR_H2C4',item.game.DATETIME)"><p>2 - 4</p><p>{{item.game.IOR_H2C4 || '/'}}</p></span></div>
          <div class="button-box"><span class="button" @click="betBox(item.game,item.game.IOR_H3C0,item.game.gameType,'IOR_H3C0',item.game.DATETIME)"><p>3 - 0</p><p>{{item.game.IOR_H3C0 || '/'}}</p></span></div>
          <div class="button-box"><span class="button" @click="betBox(item.game,item.game.IOR_H3C1,item.game.gameType,'IOR_H3C1',item.game.DATETIME)"><p>3 - 1</p><p>{{item.game.IOR_H3C1 || '/'}}</p></span></div>
          <div class="button-box"><span class="button" @click="betBox(item.game,item.game.IOR_H3C2,item.game.gameType,'IOR_H3C2',item.game.DATETIME)"><p>3 - 2</p><p>{{item.game.IOR_H3C2 || '/'}}</p> </span></div>
          <div class="button-box"><span class="button" @click="betBox(item.game,item.game.IOR_H3C3,item.game.gameType,'IOR_H3C3',item.game.DATETIME)"><p>3 - 3</p><p>{{item.game.IOR_H3C3 || '/'}}</p></span></div>
          <div class="button-box"><span class="button" @click="betBox(item.game,item.game.IOR_H3C4,item.game.gameType,'IOR_H3C4',item.game.DATETIME)"><p>3 - 4</p><p>{{item.game.IOR_H3C4 || '/'}}</p></span></div>
          <div class="button-box"><span class="button" @click="betBox(item.game,item.game.IOR_H4C0,item.game.gameType,'IOR_H4C0',item.game.DATETIME)"><p>4 - 0</p><p>{{item.game.IOR_H4C0 || '/'}}</p></span></div>
          <div class="button-box"><span class="button" @click="betBox(item.game,item.game.IOR_H4C1,item.game.gameType,'IOR_H4C1',item.game.DATETIME)"><p>4 - 1</p><p>{{item.game.IOR_H4C1 || '/'}}</p></span></div>
          <div class="button-box"><span class="button" @click="betBox(item.game,item.game.IOR_H4C2,item.game.gameType,'IOR_H4C2',item.game.DATETIME)"><p>4 - 2</p><p>{{item.game.IOR_H4C2 || '/'}}</p></span></div>
          <div class="button-box"><span class="button" @click="betBox(item.game,item.game.IOR_H4C3,item.game.gameType,'IOR_H4C3',item.game.DATETIME)"><p>4 - 3</p><p>{{item.game.IOR_H4C3 || '/'}}</p></span></div>
          <div class="button-box"><span class="button" @click="betBox(item.game,item.game.IOR_H4C4,item.game.gameType,'IOR_H4C4',item.game.DATETIME)"><p>4 - 4</p><p>{{item.game.IOR_H4C4 || '/'}}</p></span></div>
          <div class="button-box" style="width: 100%!important;"><span class="button" @click="betBox(item.game,item.game.IOR_OVH,item.game.gameType,'IOR_OVH',item.game.DATETIME)"><p>其他比分</p><p>{{item.game.IOR_OVH || '/'}}</p></span></div>
        </div>
      </div>
    </div>
    <div class="tip" v-if="loading">
      赛事数据更新中
    </div>
    <div class="tip" v-if="sportData.length == 0 && sportData2.length == 0 && !loading" @click="fetch()">
      暂无赛事,点击重新获取
    </div>
    <div class="bet-box" v-show="betShow">
      <van-icon name="close" class="close" size="24px" @click="betShow = false"/>
      <p>足球 - 今日</p>
      <p style="color: #5c5c5c">{{ betData.lEAGUE }}</p>
      <p>{{ betData.TEAM_H }} VS {{ betData.TEAM_C }}</p>
      <p>
        <span class="odds" v-if="project && selectPlayIndex == 0">{{sportSplit(project)}}</span>
        <span class="odds" v-if="project && selectPlayIndex == 1">{{timeSplit(project)}}</span>
        -
        <span class="odds"> {{ odds }}</span>
      </p>
      <p>
        <span><input type="number" v-model="money" placeholder="输入下注金额"></span>
<!--        <span style="color: #0066cc">最大投注金额</span>-->
      </p>
      <button @click="bet()">下注</button>
    </div>
  </div>
</template>

<script>
import '@/assets/css/sport.less'
import {Toast} from 'vant'

export default {
  name: "sport",
  data() {
    return {
      sportData: [],
      sportData2: [],
      activeType: 1,
      odds: '',
      betShow: false,
      betData: '',
      money: '',
      params: {},
      project:'',
      allIndex:0,
      allIndex2:0,
      allIndex3:0,
      allData:'',
      loading:false,
      getOrderFun:null,
      ecid:'',
      ecidType:'R',
      selectPlayIndex:0,
    }
  },
  created() {
    this.fetch()
    this.getDataMs()
  },
  mounted() {
  },
  methods: {
    selectPlay:function (index){
      this.selectPlayIndex = index
      this.sportData = []
      this.sportData2 = []
      this.closeSetInterval()
      this.getDataMs()
      this.fetch()
    },
    fetch:function (){
      if(this.selectPlayIndex == 0){
        this.getTodaySportsId()
      } else {
        this.getBodanSport()
      }
    },
    toPath:function (){
      this.closeSetInterval()
      this.$router.push({path:'/',query:{classify:0,active:1}})
    },
    getDataMs:function (){
      this.closeSetInterval()
      let that = this
      this.getOrderFun = setInterval(function() {
        that.getTodaySportsId()
      }, 30000)
    },
    closeSetInterval() {
      clearInterval(this.getOrderFun)
      this.getOrderFun = null
    },
    getTodaySportsId: function () { //足球数据
      this.loading = true
      let params = {
        rType: 'r',
        lid: this.$route.query.id
      }
      this.$fetch('sports/hg2/today/ft.do', params, false).then(res => {
        this.sportData = []
        for(let index in res){
          for(let index2 in res[index]){
            this.sportData.push(res[index][index2])
          }
        }
        try {
          for(let index in this.sportData){
            for(let index2 in this.sportData[index]){
              var data = this.sportData[index][index2]
              if(data.toString().indexOf('.') != -1 && data > 0){
                let x = String(data).indexOf('.') + 1; //小数点的位置
                let y = String(data).length - x; //小数的位数
                if(y >= 2){
                  this.sportData[index][index2] = parseFloat(data).toFixed(2)
                }
              }
            }
          }
        } catch (e){
          console.log(e)
        }
        if(this.sportData.length > 0){
          this.getSportAllActive(this.ecid,this.ecidType,this.allIndex,this.allIndex2,this.allIndex3)
        }
        this.loading = false
      })
    },
    getSportAllActive:function (ecid,type,index,index2,index3){
      this.allIndex = index || 0
      this.allIndex2 = index2 || 0
      this.allIndex3 = index3 || 0
      this.ecid = ecid || this.sportData[0].ECID
      this.ecidType = type  || 'R'
      this.getSportAll()
    },
    getSportAll: function () { //足球数据
      this.betShow = false
      let params = {
        eCid: this.ecid,
        // CN 角球；R 全场让球；OU 全场得分大小；HR 上半场让球；HOU 上半场得分大小
        model: this.ecidType
      }
      this.$fetch('sports/hg2/today/fullOrHalf.do', params, false).then(res => {
        this.allData = res
        try {
          for(let index in this.allData.ec.game){
            for(let index2 in this.allData.ec.game[index]){
              var data = this.allData.ec.game[index][index2]
              if(data.toString().indexOf('.') != -1 && data > 0){
                let x = String(data).indexOf('.') + 1; //小数点的位置
                let y = String(data).length - x; //小数的位数
                if(y >= 2){
                  this.allData.ec.game[index][index2] = parseFloat(data).toFixed(2)
                }
              }
            }
          }
        } catch (e){
          console.log(e)
        }
      })
    },
    getBodanSport: function () { //足球数据
      this.loading = true
      let params = {
        rType: 'pd',
        lid: this.$route.query.id
      }
      this.$fetch('sports/hg2/today/ft.do', params, false).then(res => {
        this.sportData2 = res
        if(this.sportData2.length > 0){
          for(let index in this.sportData2){
            this.sportData2[index].game.gameType = 'HTI'
          }
        }
        this.loading = false
      })

    },
    betBox(item, odds, gameType, type, project) {
      if(!odds){
        Toast('盘口关闭')
        this.betShow = false
        return false
      }
      if(!project){project = ''}
      this.money = ''
      let e = {
        type: type,
        gid: item.GID,
        odds: odds,
      }
      if(type == 'IOR_HRC' || type == 'IOR_RC' || type == 'IOR_HRH' || type == 'IOR_RH'){
        if(item.STRONG == 'C'){
          project = '-' + project
        }
      }
      if (project) {
        e.project = project
      }
      this.betData = item
      this.params = {
        gameType: 'FT_TD_' + gameType,
        plate: 'H',
        acceptBestOdds: true,
        items: []
      }
      this.params.items.push(e)
      this.odds = odds
      this.project = project
      this.betShow = true
    },
    bet() {
      let that = this
      this.params.money = this.money
      let data = {
        data: JSON.stringify(this.params)
      }
      that.$root.common.loading(true)
      this.$http.post(that.$store.state.apiUrl + 'sports/hg2/v2/bet.do', data, {emulateJSON: true}, {credentials: true}).then(function (res) {
        if (res.body.success) {
          that.$root.common.loading(false)
          Toast('投注成功')
          this.betShow = false
        } else if(res.body.msg) {
          Toast(res.body.msg)
        } else {
          Toast('赔率变动')
        }
      }, function () {
        console.log('请求失败处理');
      });
    },
    sportSplit:function (value){
      if(value){
        if(value.indexOf('O') != -1){
          return value.replace(/O/g,'大')
        } else if(value.indexOf('U') != -1){
          return value.replace(/U/g,'小')
        } else if(value.indexOf('ARG') != -1){
          return value.replace(/ARG/g,'第一个')
        } else if(value.indexOf('BRG') != -1){
          return value.replace(/BRG/g,'第二个')
        } else if(value.indexOf('CRG') != -1){
          return value.replace(/CRG/g,'第三个')
        } else if(value.indexOf('DRG') != -1){
          return value.replace(/DRG/g,'第四个')
        } else if(value.indexOf('ERG') != -1){
          return value.replace(/ERG/g,'第五个')
        } else if(value.indexOf('FRG') != -1){
          return value.replace(/FRG/g,'第六个')
        } else if(value.indexOf('GRG') != -1){
          return value.replace(/GRG/g,'第七个')
        } else{
          return value
        }
      } else {
        return value
      }
    },
    timeSplit:function (value){
      let zIndex = ''
      if(value.indexOf('^') != -1){
        zIndex = value.indexOf('^')
        value = value.substring(0,zIndex) + value.substring(zIndex+1)
      }
      if(value){
        if(value.indexOf('1H') != -1){
          return value.replace(/1H/g,'上半场 ')
        } else if(value.indexOf('2H') != -1){
          return value.replace(/2H/g,'下半场 ')
        } else if(value.indexOf('MTIME') != -1){
          return value.replace(/MTIME/g,'')
        } else if(value.indexOf('p') != -1){
          return value.replace(/p/g,'下午')
        } else if(value.indexOf('a') != -1){
          return value.replace(/a/g,'上午')
        } else {
          return value
        }
      } else {
        return value
      }
    },
  }
}
</script>

<style scoped>

</style>
