<template>
  <div class="sport" style="padding-bottom: 50px;">
    <div class="nav">
      <div class="bottom">
        <div class="out" @click="toPath()"><van-icon name="arrow-left" size="20px"/></div>
        <span>综合过关</span><br><span style="font-size: 14px;font-weight: 600">足球</span>
        <div class="trophy"><img src="@/assets/images/trophy_icon.jpg" alt=""></div>
      </div>
    </div>
    <div class="content" v-if="sportData.length > 0">
      <div class="box" v-for="(item, index) in sportData" :key="index" style="padding-bottom: 20px">
        <div class="title">
          <span>{{ item.LEAGUE }}</span>
          <span><img src="" alt=""></span>
        </div>
        <div class="data">
          <div class="team">
            <div class="list">
              {{ timeSplit(item.RETIMESET || item.DATETIME) }}
            </div>
            <div class="list" style="white-space: nowrap"><span class="number">{{item.SCORE_H}}</span>{{ item.TEAM_H }}</div>
            <div class="list"><span class="number">{{item.SCORE_C}}</span>{{ item.TEAM_C }}</div>
            <div class="list" style="display: flex;align-items: center;"><span>{{ item.MORE }}</span>
              <van-icon name="play"/>
            </div>
          </div>
          <div class="bet-number">
            <div class="list">
              <span class="bet-title">让球</span>
              <span class="bet-title">得分大小</span>
              <span class="bet-title">独赢</span>
              <span class="bet-title">独赢(上半)</span>
              <span class="bet-title">让球(上半)</span>
              <span class="bet-title">得分大小(上半)</span>
            </div>
            <div class="list">
              <span class="button" :class="{'active':activeIndexList[index].index == 1}" @click="addOrder(item,item.IOR_RH,'MX','IOR_RH',item.RATIO_R,index,1)"><p>{{ (item.STRONG == 'H') ? item.RATIO_R : ''}}</p><p>{{ item.IOR_RH || '/' }}</p></span>
              <span class="button" :class="{'active':activeIndexList[index].index == 2}" @click="addOrder(item,item.IOR_OUC,'MX','IOR_OUC',item.RATIO_OUO,index,2)"><p>{{ (sportSplit(item.RATIO_OUO) || '/')}}</p><p>{{ item.IOR_OUC || '/' }}</p></span>
              <span class="button" :class="{'active':activeIndexList[index].index == 3}" @click="addOrder(item,item.IOR_MH,'MX','IOR_MH','',index,3)"><p>/</p><p>{{ item.IOR_MH || '/' }}</p></span>
              <span class="button" :class="{'active':activeIndexList[index].index == 4}" @click="addOrder(item,item.IOR_HMH,'MX','IOR_HMH','',index,4)"><p>/</p><p>{{ item.IOR_HMH  || '/' }}</p></span>
              <span class="button" :class="{'active':activeIndexList[index].index == 5}" @click="addOrder(item,item.IOR_HRH,'MX','IOR_HRH',item.RATIO_HR,index,5)"><p>{{ (item.STRONG == 'H') ? item.RATIO_HR : ''}}</p><p>{{ item.IOR_HRH  || '/'}}</p></span>
              <span class="button" :class="{'active':activeIndexList[index].index == 6}" @click="addOrder(item,item.IOR_HOUC,'MX','IOR_HOUC',item.RATIO_HOUO,index,6)"><p>{{sportSplit(item.RATIO_HOUO)}}</p><p>{{ item.IOR_HOUC  || '/'}}</p></span>
            </div>
            <div class="list">
              <span class="button" :class="{'active':activeIndexList[index].index == 9}" @click="addOrder(item,item.IOR_RC,'MX','IOR_RC',item.RATIO_R,index,9)"><p>{{(item.STRONG == 'C') ? item.RATIO_R : ''}}</p><p>{{ item.IOR_RC || '/' }}</p></span>
              <span class="button" :class="{'active':activeIndexList[index].index == 10}" @click="addOrder(item,item.IOR_OUH,'MX','IOR_OUH',item.RATIO_OUU,index,10)"><p>{{sportSplit(item.RATIO_OUU) || '/'}}</p><p>{{ item.IOR_OUH || '/' }}</p></span>
              <span class="button" :class="{'active':activeIndexList[index].index == 11}" @click="addOrder(item,item.IOR_MC,'MX','IOR_MC','',index,11)"><p>/</p><p>{{ item.IOR_MC  || '/'}}</p></span>
              <span class="button" :class="{'active':activeIndexList[index].index == 12}" @click="addOrder(item,item.IOR_HMC,'MX','IOR_HMC','',index,12)"><p>/</p><p>{{ item.IOR_HMC || '/' }}</p></span>
              <span class="button" :class="{'active':activeIndexList[index].index == 13}" @click="addOrder(item,item.IOR_HRC,'MX','IOR_HRC',item.RATIO_HR,index,13)"><p>{{ (item.STRONG == 'C') ? item.RATIO_HR : ''}}</p><p>{{ item.IOR_HRC || '/' }}</p></span>
              <span class="button" :class="{'active':activeIndexList[index].index == 14}" @click="addOrder(item,item.IOR_HOUH,'MX','IOR_HOUH',item.RATIO_HOUU,index,14)"><p>{{sportSplit(item.RATIO_HOUU)}}</p><p>{{ item.IOR_HOUH  || '/'}}</p></span>
            </div>
            <div class="list">
              <span class="button"><p>/</p><p>/</p></span>
              <span class="button"><p>/</p><p>/</p></span>
              <span class="button" :class="{'active':activeIndexList[index].index == 17}" @click="addOrder(item,item.IOR_MN,'MX','IOR_MN','',index,17)"><p>和</p><p>{{ item.IOR_MN || '/' }}</p></span>
              <span class="button" :class="{'active':activeIndexList[index].index == 18}" @click="addOrder(item,item.IOR_HMN,'MX','IOR_HMN','',index,18)"><p>和</p><p>{{ item.IOR_HMN  || '/'}}</p></span>
              <span class="button"><p>/</p><p>/</p></span>
              <span class="button"><p>/</p><p>/</p></span>
            </div>
          </div>
        </div>
        <div class="all">
          <div class="all-header">
            <span>
              <button @click="getSportAllActive(item.ECID,'ROU|MIX',index,0,0)" :class="{'active':(allIndex == index && allIndex2 == 0)}">让球</button>
              <button @click="getSportAllActive(item.ECID,'ROU|MIX',index,1,0)" :class="{'active':(allIndex == index && allIndex2 == 1)}">得分大小</button>
            </span>
          </div>
          <div v-if="allIndex == index && allData">
            <div class="all-title">
              <span @click="allIndex3 = 0" :class="{'active':allIndex3 == 0}">全场</span>
              <span @click="allIndex3 = 1" :class="{'active':allIndex3 == 1}">上半场</span>
            </div>
            <div class="all-button" v-if="allIndex2 == 0">
              <div v-if="allIndex3 == 0">
                <div class="list" v-for="(item2, index2) in allData.ec.game" :key="index2">
                  <span class="button" :class="{'active':activeIndexList[index].index == ('19'+index2)}" @click="addOrder(item2,item2.IOR_RH,'MX','IOR_RH',item2.RATIO_R,index,('19'+index2))"><p>{{item2.TEAM_H}} <span v-if="item2.STRONG == 'H'">{{item2.RATIO_R}}</span> </p><p>{{item2.IOR_RH}}</p></span>
                  <span class="button" :class="{'active':activeIndexList[index].index == ('20'+index2)}" @click="addOrder(item2,item2.IOR_RC,'MX','IOR_RC',item2.RATIO_R,index,('20'+index2))"><p>{{item2.TEAM_C}} <span v-if="item2.STRONG == 'C'">{{item2.RATIO_R}}</span> </p><p>{{item2.IOR_RC}}</p></span>
                </div>
              </div>
              <div v-if="allIndex3 == 1">
                <div class="list" v-for="(item2, index2) in allData.ec.game" :key="index2">
                  <span class="button" :class="{'active':activeIndexList[index].index == ('21'+index2)}" @click="addOrder(item2,item2.IOR_HRH,'MX','IOR_HRH',item2.RATIO_HR,index,('21'+index2))"><p>{{item2.TEAM_H}} <span v-if="item2.STRONG == 'H'">{{item2.RATIO_HR}}</span></p><p>{{item2.IOR_HRH}}</p></span>
                  <span class="button" :class="{'active':activeIndexList[index].index == ('22'+index2)}" @click="addOrder(item2,item2.IOR_HRC,'MX','IOR_HRC',item2.RATIO_HR,index,('22'+index2))"><p>{{item2.TEAM_C}} <span v-if="item2.STRONG == 'C'">{{item2.RATIO_HR}}</span></p><p>{{item2.IOR_HRC}}</p></span>
                </div>
              </div>
            </div>
            <div class="all-button" v-if="allIndex2 == 1">
              <div v-if="allIndex3 == 0">
                <div class="list" v-for="(item2, index2) in allData.ec.game" :key="index2">
                  <span class="button" :class="{'active':activeIndexList[index].index == ('23'+index2)}" @click="addOrder(item2,item2.IOR_OUC,'MX','IOR_OUC',item2.RATIO_OUO,index,('23'+index2))"><p>{{item2.TEAM_H}} <span>{{sportSplit(item2.RATIO_OUO)}}</span></p><p>{{item2.IOR_OUC}}</p></span>
                  <span class="button" :class="{'active':activeIndexList[index].index == ('24'+index2)}" @click="addOrder(item2,item2.IOR_OUH,'MX','IOR_OUH',item2.RATIO_OUU,index,('24'+index2))"><p>{{item2.TEAM_H}} <span>{{sportSplit(item2.RATIO_OUU)}}</span></p><p>{{item2.IOR_OUH}}</p></span>
                </div>
              </div>
              <div v-if="allIndex3 == 1">
                <div class="list" v-for="(item2, index2) in allData.ec.game" :key="index2">
                  <span class="button" :class="{'active':activeIndexList[index].index == ('25'+index2)}" @click="addOrder(item2,item2.IOR_HOUC,'MX','IOR_HOUC',item2.RATIO_HOUO,index,('25'+index2))"><p>{{item2.TEAM_H}} <span>{{sportSplit(item2.RATIO_HOUO)}}</span></p><p>{{item2.IOR_HOUC}}</p></span>
                  <span class="button" :class="{'active':activeIndexList[index].index == ('26'+index2)}" @click="addOrder(item2,item2.IOR_HOUH,'MX','IOR_HOUH',item2.RATIO_HOUU,index,('26'+index2))"><p>{{item2.TEAM_H}} <span>{{sportSplit(item2.RATIO_HOUU)}}</span></p><p>{{item2.IOR_HOUH}}</p></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="tip" v-if="loading">
      赛事数据更新中
    </div>
    <div class="tip" v-if="sportData.length == 0 && !loading" @click="getTodaySportsId()">
      暂无赛事,点击重新获取
    </div>
    <div class="ber-number-box">
      <div class="box" @click="openBox()">
        <p>{{itemList.length}}</p>
        <p>注单</p>
      </div>
    </div>
    <div class="bet-box" v-show="betShow" style="height: 440px">
      <p style="font-weight: 600;">足球 - 综合过关 <span style="color: #a78025;font-weight: 500;font-size: 13px;">({{betData.LEAGUE}})</span> </p>
      <van-icon name="close" class="close" size="24px" @click="betShow = false"/>
      <div v-for="(item,index) in itemList" :key="index" style="margin-top: 10px;">
        <p style="position: relative;">
          {{item.TEAM_H}} VS {{item.TEAM_C}}
          <img @click="deleteBet(item)" src="@/assets/images/delete-icon.png" style="position: absolute;margin-left: 20px;margin-top: 5px;">
        </p>
        <p><span class="odds" v-if="project">{{sportSplit(item.project)}} - </span><span class="odds">{{item.odds}}</span></p>
      </div>
      <p><input type="number" v-model="money" placeholder="输入下注金额"></p>
      <br>
      <p style="text-align: right;"> <span style="color: #a78025;" @click="clearItem()">清空注单</span></p>
      <button @click="bet()">下注</button>
    </div>
  </div>
</template>

<script>
import '@/assets/css/sport.less'
import {Toast} from "vant";
export default {
  name: "sport",
  data() {
    return {
      sportData: [],
      activeType: 1,
      odds: '',
      betShow: false,
      betData:'',
      money:'',
      params:{

      },
      project:'',
      allIndex:0,
      allIndex2:0,
      allIndex3:0,
      allData:'',
      loading:false,
      getOrderFun:null,
      ecid:'',
      ecidType:'ROU|MIX',
      itemList: this.$store.state.itemList,
      activeIndexList:[],
      p3Type:'',
    }
  },
  created() {
    if(this.$route.query.FIELD == 'cp1'){
      this.p3Type = 'RP3'
    } else if(this.$route.query.FIELD == 'cp2'){
      this.p3Type = 'P3'
    } else if(JSON.stringify(this.$route.query).indexOf('HotGame') != -1) {
      this.p3Type = 'ALL'
    }
    this.getTodaySportsId()
    this.getDataMs()
  },
  mounted() {
  },
  methods: {
    clearItem(){
      this.itemList = []
      this.activeIndexList = []
      this.$store.commit('pushItemList',this.itemList)
    },
    openBox(){
      if(this.itemList.length > 0){
        this.betShow = true
      }
    },
    toPath:function (){
      this.closeSetInterval()
      this.$router.push({path:'/',query:{classify:0,active:3}})
    },
    newPlayToast:function (){
      Toast('新玩法，敬请期待')
    },
    getDataMs:function (){
      this.closeSetInterval()
      let that = this
      this.getOrderFun = setInterval(function() {
        that.getTodaySportsId()
      }, 30000)
    },
    closeSetInterval() {
      clearInterval(this.getOrderFun)
      this.getOrderFun = null
    },
    getTodaySportsId: function () { //足球数据
      this.loading = true
      let params = {
        rType: 'rb',
        p3Type: this.p3Type,
        lid: this.$route.query.id,
      }
      this.$fetch('sports/hg2/parlay/ft.do', params, false).then(res => {
        this.sportData = []
        for(let index in res){
          for(let index2 in res[index]){
            this.sportData.push(res[index][index2])
          }
        }
        if(this.activeIndexList.length == 0){
          for(let i = 0; i < this.sportData.length; i++){
            let params = {
              gid:this.sportData[i].GID,
              index:0
            }
            this.activeIndexList.push(params)
          }
        }

        if(this.sportData.length > 0){
          this.getSportAllActive(this.ecid,this.ecidType,this.allIndex,this.allIndex2,this.allIndex3)
        }
        this.loading = false
      })
    },
    getSportAllActive:function (ecid,type,index,index2,index3){
      this.allIndex = index || 0
      this.allIndex2 = index2 || 0
      this.allIndex3 = index3 || 0
      this.ecid = ecid || this.sportData[0].ECID
      this.ecidType = type  || 'ROU|MIX'
      this.getSportAll()
    },
    getSportAll: function () { //足球数据
      this.betShow = false
      let params = {
        eCid: this.ecid,
        // CN 角球；R 全场让球；OU 全场得分大小；HR 上半场让球；HOU 上半场得分大小
        model: this.ecidType
      }
      this.$fetch('sports/hg2/parlay/fullOrHalf.do', params, false).then(res => {
        this.allData = res
        try {
          for(let index in this.allData.ec.game){
            for(let index2 in this.allData.ec.game[index]){
              var data = this.allData.ec.game[index][index2]
              if(data.toString().indexOf('.') != -1 && data > 0){
                let x = String(data).indexOf('.') + 1; //小数点的位置
                let y = String(data).length - x; //小数的位数
                if(y >= 2){
                  this.allData.ec.game[index][index2] = parseFloat(data).toFixed(2)
                }
              }
            }
          }
        } catch (e){
          console.log(e)
        }
      })
    },
    deleteBet(item){
      for(let index in this.itemList){
        if(this.itemList[index].gid == item.gid){
          this.itemList.splice(index,1)
        }
      }
      for(let index in this.activeIndexList){
        if(this.activeIndexList[index].index == item.activeIndex && this.activeIndexList[index].gid == item.gid){
          this.activeIndexList[index].index = 0
        }
      }
      this.$store.commit('pushItemList',this.itemList)
    },
    addOrder(item,odds,gameType,type,project,index,activeIndex){
      console.log(item)
      let is = true
      if(!odds){
        Toast('盘口关闭')
        this.betShow = false
        return false
      }
      if(!project){project = ''}
      let e = {
        id:this.$route.query.id,
        type:type,
        gid:item.GID,
        odds:odds,
        TEAM_H:item.TEAM_H,
        TEAM_C:item.TEAM_C,
        index:index,
        activeIndex:activeIndex,
      }
      if(item.IS_RB == 'Y'){
        e.scoreH = item.SCORE_H
        e.scoreC = item.SCORE_C
      }
      if(type == 'IOR_RC' || type == 'IOR_HRC'){
        if(item.STRONG == 'C'){
          project = '-' + project
        }
      }
      if(project){
        e.project = project
      }
      this.betData = item
      this.params = {
        gameType: 'FT_TD_' + gameType ,
        plate: 'H',
        acceptBestOdds: true,
        items: []
      }
      for(let i in this.itemList){
        if(this.itemList[i].index == index && this.itemList[i].id == this.$route.query.id){
          if(this.itemList[i].activeIndex == activeIndex){
            this.itemList.splice(i,1)
            this.$store.commit('pushItemList',this.itemList)
            this.activeIndexList[index].index = 0
            this.$forceUpdate();
            is = false
          } else {
            this.itemList.splice(i,1)
            this.$store.commit('pushItemList',this.itemList)
            break
          }
        }
      }
      if(is){
        this.activeIndexList[index].index = activeIndex
        this.itemList.push(e)
        this.$store.commit('pushItemList',this.itemList)
        this.$forceUpdate();
      }
    },
    betBox(item,odds,gameType,type,project) {
      if(!odds){
        Toast('盘口关闭')
        this.betShow = false
        return false
      }
      if(!project){project = ''}
      this.money = ''
      let e = {
        type:type,
        gid:item.GID,
        odds:odds,
        scoreH:this.sportData[this.allIndex].SCORE_H,
        scoreC:this.sportData[this.allIndex].SCORE_C,
      }
      if(type == 'IOR_RH' || type == 'IOR_RC'){
        if(item.STRONG == 'C'){
          project = '-' + project
        }
      }
      if(project){
        e.project = project
      }
      this.betData = item
      this.params = {
        gameType: 'FT_TD_' + gameType ,
        plate: 'H',
        acceptBestOdds: true,
        items: []
      }
      this.params.items.push(e)
      this.odds = odds
      this.project = project
      this.betShow = true
    },
    bet(){
      let that = this
      let list = []
      for(let index in this.itemList){
        let e = {
          type:this.itemList[index].type,
          gid:this.itemList[index].gid,
          odds:this.itemList[index].odds,
          scoreH:this.itemList[index].scoreH,
          scoreC:this.itemList[index].scoreC,
        }
        if(this.itemList[index].project){
          e.project = this.itemList[index].project
        }
        list.push(e)
      }
      this.params.money = this.money
      this.params.items = list
      let data = {
        data:JSON.stringify(this.params)
      }
      that.$root.common.loading(true)
      this.$http.post(that.$store.state.apiUrl + 'sports/hg2/v2/bet.do', data, {emulateJSON: true}, {credentials: true}).then(function (res) {
        if(res.body.success){
          that.$root.common.loading(false)
          Toast('投注成功')
          this.money = ''
        } else if(res.body.msg) {
          this.money = ''
          Toast(res.body.msg)
        } else {
          this.money = ''
          Toast('赔率变动')
        }
      }, function () {
        console.log('请求失败处理');
      });
      this.itemList = []
      this.$store.commit('pushItemList',this.itemList)
      this.betShow = false
      this.$forceUpdate();
    },
    sportSplit:function (value){
      if(value){
        if(value.indexOf('O') != -1){
          return value.replace(/O/g,'大')
        } else if(value.indexOf('U') != -1){
          return value.replace(/U/g,'小')
        } else if(value.indexOf('ARG') != -1){
          return value.replace(/ARG/g,'第一个')
        } else if(value.indexOf('BRG') != -1){
          return value.replace(/BRG/g,'第二个')
        } else if(value.indexOf('CRG') != -1){
          return value.replace(/CRG/g,'第三个')
        } else if(value.indexOf('DRG') != -1){
          return value.replace(/DRG/g,'第四个')
        } else if(value.indexOf('ERG') != -1){
          return value.replace(/ERG/g,'第五个')
        } else if(value.indexOf('FRG') != -1){
          return value.replace(/FRG/g,'第六个')
        } else if(value.indexOf('GRG') != -1){
          return value.replace(/GRG/g,'第七个')
        } else{
          return value
        }
      } else {
        return value
      }
    },
    timeSplit:function (value){
      let zIndex = ''
      if(value.indexOf('^') != -1){
        zIndex = value.indexOf('^')
        value = value.substring(0,zIndex) + value.substring(zIndex+1)
      }
      if(value){
        if(value.indexOf('1H') != -1){
          return value.replace(/1H/g,'上半场 ')
        } else if(value.indexOf('2H') != -1){
          return value.replace(/2H/g,'下半场 ')
        } else if(value.indexOf('MTIME') != -1){
          return value.replace(/MTIME/g,'')
        } else if(value.indexOf('p') != -1){
          return value.replace(/p/g,'下午')
        } else if(value.indexOf('a') != -1){
          return value.replace(/a/g,'上午')
        } else {
          return value
        }
      } else {
        return value
      }
    },
  },
}
</script>

<style scoped>

</style>
