<template>
  <div id="bankRecharge">
    <van-nav-bar @click-left="back" left-text="返回" left-arrow	 class="bg-h c-w" title="充值" />
    <p class="p-l-20">充值银行: {{payData.payName}}</p>
    <p class="p-l-20">收款姓名: {{payData.creatorName}}</p>
    <p class="p-l-20">收款账号: {{payData.bankCard}}</p>
    <p class="p-l-20">开户网点: {{this.payData.bankAddress}}</p>
    <p class="h-50 l-h-50" style="background: rgb(245, 245, 245);">
      <van-icon name="gold-coin" size="20px" class="p-l-20 p-r-10" style="vertical-align: text-top" /> 充值金额
      <input v-model="selectMoney" type="tel" placeholder="请输入金额" class="p-l-20 m-l-10 money h-40 f-s-18"  style="border-radius: 5px" />
    </p>
    <p class="h-50 l-h-50" style="background: rgb(245, 245, 245);">
      <van-icon name="idcard" size="20px" class="p-l-20" style="vertical-align: text-top" /> 存款人姓名
      <input v-model="selectName" type="text" placeholder="请填写真实姓名" class="p-l-20 m-l-10 money h-40 f-s-18"  style="border-radius: 5px" />
    </p>
    <div>
      <p class="h-70 l-h-70 p-l-20 f-s-18 c-6 m-t-50 c-r" style="background: #fbfbfb">{{this.payData.bankDesc}}</p>
      <p class="h-70 l-h-70 p-l-20 f-s-18 c-6" style="box-shadow: 0 0.05rem 0.1rem rgba(0,0,0,.3);background: #fbfbfb">支持网银转账，ATM转账，银行柜台汇款</p>
    </div>
    <div>
      <p class="m-t-20 text-c"><span @click="bankpaySubmit" class="w-b80 bg-h c-w d-i h-60 l-h-60 text-c" style="border-radius: 5px;">确认提交</span></p>
    </div>
    <van-popup v-model="showOrder" position="right" class="order">
      <bank-order @closeBankOrder="closeBankOrder" :payData="payData" :orderNum="orderNum" :selectMoney="selectMoney"></bank-order>
    </van-popup>
  </div>
</template>

<script>
  import { Toast } from 'vant';
  import BankOrder from "./bankOrder";
  export default {
    components: {BankOrder},
    data(){
      return{
        selectMoney: '',
        selectName: '',
        showOrder: false,
        orderNum: '',
      }
    },
    props:['showBankRecharge', 'payData'],
    create:function(){

    },
    methods: {
      closeBankOrder:function(){
        this.showOrder = false;
      },
      bankpaySubmit:function(){
        if(this.selectMoney === ''){
          Toast('请输入充值金额');
          return false;
        }else if(this.selectName === ''){
          Toast('请填写真实姓名');
          return false;
        }
        let data = {
          'money': this.selectMoney-0,
          'bankId': this.payData.id,
          'depositor': this.payData.creatorName,
        };
        $sky.bankpaySubmit(data, (ret) => {
          if (ret.success) {
            this.orderNum = ret.data;
            this.showOrder = true;
          } else {
            Toast.fail(ret.msg || '未知异常')
          }
        });
      },
      back:function(){
        this.$emit('closeRecharge', '银行入款')
      },
    }
  }
</script>

<style scoped>
  #bankRecharge .order{
    width: 100%;
    height: 100%;
  }
  #bankRecharge{
    width: 100%;
    height: 100%;
  }
  #bankRecharge>p{
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #ccc;
    background: rgb(245, 245, 245);
  }
  .money{
    width: 160px;
  }
</style>
