<template>
    <div id="order">
      <van-nav-bar @click-left="back" left-text="返回充值页面" left-arrow	 class="bg-h c-w" title="充值" />
      <div class="p-l-r-40 content m-b-t-20" style="border-bottom: 1px solid #e7e7e7;border-top: 1px solid #e7e7e7">
        <p >充值银行: <span class="c-r">{{payData.payName}}</span></p>
        <p>订单号: {{orderNum}}</p>
        <p>收款姓名: {{payData.creatorName || payData.payUserName}}</p>
        <p>收款帐号: {{payData.bankCard  || payData.payAccount}}</p>
        <p v-if="payData.bankAddress">开户网点: {{payData.bankAddress}}</p>
        <p style="border-bottom: none">充值金额: {{selectMoney}}</p>
        <p v-if="!payData.bankAddress " class="p-l-20 p-b-t-10" style="border-top:1px solid #e7e7e7;border-bottom:none;height: auto;">
          <span class="v-m " style="vertical-align: text-bottom">二维码</span>
          <img :src="payData.icon" width="150" height="150" class="v-m" style="padding-left: 1.5rem" alt="">
        </p>
      </div>
      <div class="c-w text-c">
        <div @click.stop="goIndex" class="pull-l h-50 l-h-50 m-l-20 button" style="background: #f6383a">返回首页</div>
        <div @click.stop="goJiaoYi" class="pull-l h-50 l-h-50 m-l-20 button" style="background: #4cd964">查看充值记录</div>
      </div>
    </div>
</template>

<script>
    export default {
      data(){
        return{

        }
      },
      props:['payData', 'orderNum', 'selectMoney'],
      methods:{
        goIndex:function () {
          this.$router.push('/index1')
        },
        goJiaoYi:function () {
          this.$router.push('/jiaoyi')
        },
        back:function () {
          this.$emit('closeBankOrder', '')
        }
      }
    }
</script>

<style scoped>
  #order .button{
    width: 8.5rem;
    border-radius: 5px;
  }
  #order .content>p{
    height: 3rem;
    line-height: 3rem;
    border-bottom: 1px solid #e7e7e7;
  }
</style>
