<template>
  <div id="bankRecharge" class="flexWrap">
    <van-nav-bar @click-left="back" left-text="返回" left-arrow	 class="bg-h c-w" title="充值" />
    <div class="flexContent">
      <p class="p-l-20">收款姓名: {{payData.payUserName}}</p>
      <p class="p-l-20">收款帐号: {{payData.payAccount}}</p>
      <p class="p-l-20 p-b-t-10" style="height: auto">
        <span class="v-m p-l-r-15" style="vertical-align: text-bottom">二维码</span>
        <img :src="payData.icon" width="150" height="150" class="v-m" style="padding-left: 1.5rem" alt="">
      </p>
      <p class="h-50 l-h-50" style="background: rgb(245, 245, 245);">
        <van-icon name="gold-coin" size="20px" class="p-l-20 p-r-10" style="vertical-align: text-top" /> 充值金额
        <input v-model="selectMoney" type="tel" placeholder="请输入金额" class="p-l-20 m-l-10 money h-40 f-s-18"  style="border-radius: 5px" />
      </p>
      <p class="h-50 l-h-50" style="background: rgb(245, 245, 245);">
        <van-icon name="idcard" size="20px" class="p-l-20" style="vertical-align: text-top" /> 存款人姓名
        <input v-model="selectName" type="text" placeholder="请填写真实姓名" class="p-l-20 m-l-10 money h-40 f-s-18"  style="border-radius: 5px" />
      </p>
      <div>
        <p class="h-70 l-h-70 p-l-20 f-s-18 c-6 c-r" style="background: #fbfbfb">{{payData.qrcodeDesc}}</p>
        <p class="h-70 l-h-70 p-l-20 f-s-18 c-6" style="box-shadow: 0 0.05rem 0.1rem rgba(0,0,0,.3);background: #fbfbfb">支持网银转账，ATM转账，银行柜台汇款</p>
      </div>
      <div>
        <p class="m-t-20 text-c"><span @click="fastpaySubmit" class="w-b80 bg-h c-w d-i h-60 l-h-60 text-c" style="border-radius: 5px;">确认提交</span></p>
      </div>
    </div>
    <van-popup v-model="showOrder" position="right" class="order">
      <bank-order @closeBankOrder="closeBankOrder" :payData="payData" :orderNum="orderNum" :selectMoney="selectMoney"></bank-order>
    </van-popup>
  </div>
</template>

<script>
  import { Toast } from 'vant';
  import BankOrder from "./bankOrder";
  export default {
    components: {BankOrder},
    data(){
      return{
        selectMoney: '',
        selectName: '',
        showOrder: false,
        orderNum: '',
      }
    },
    props:['showBankRecharge', 'payData'],
    create:function(){

    },
    methods: {
      closeBankOrder:function(){
        this.showOrder = false;
      },
      fastpaySubmit:function(){
        if(this.selectMoney === ''){
          Toast('请输入充值金额');
          return false;
        }else if(this.selectName === ''){
          Toast('请填写真实姓名');
          return false;
        }
        let data = {
          'money': this.selectMoney-0,
          'payId': this.payData.id,
          'depositor': this.payData.frontLabel,
        };
        $sky.fastpaySubmit(data, (ret) => {
          if (ret.success) {
            this.orderNum = ret.data;
            this.showOrder = true;
          } else {
            Toast.fail(ret.msg || '未知异常')
          }
        });
      },
      back:function(){
        this.$emit('closeRecharge', '快速充值')
      },
    }
  }
</script>

<style scoped>
  #bankRecharge .order{
    width: 100%;
    height: 100%;
  }
  #bankRecharge{
    width: 100%;
    height: 100%;
  }
  #bankRecharge .flexContent>p{
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #ccc;
    background: rgb(245, 245, 245);
  }
  .money{
    width: 160px;
  }
</style>
