<template>
  <div id="recharge1">
    <van-nav-bar @click-left="back" left-text="返回" left-arrow	 class="bg-h c-w" title="选择充值方式" />
    <p class="h-50 l-h-50 m-t-10 p-b-t-10" style="background: rgb(245, 245, 245);">
      <van-icon name="gold-coin" size="20px" class="p-l-20 p-r-10" style="vertical-align: text-top" /> 充值金额
      <input v-model="selectMoney" type="tel" placeholder="请输入金额" class="p-l-20 m-l-10 money"  style="border-radius: 5px" /></p>
    <p class="h-70 l-h-70 bg-w p-l-20 f-s-18 c-6" style="box-shadow: 0 0.05rem 0.1rem rgba(0,0,0,.3);">及时自动到账,推荐</p>
    <p class="m-t-50 text-c"><span @click="getOnlineSubmitData" class="w-b80 bg-h c-w d-i h-60 l-h-60 text-c" style="border-radius: 5px;">下一步</span></p>
  </div>
</template>

<script>
  export default {
    data(){
      return{
        selectMoney: '',
        onlineSubmitData: {},// 获取指定第三方的跳转提交数据
      }
    },
    props:['showBankRecharge', 'payData'],
    methods: {
      //获取指定第三方的跳转提交数据
      getOnlineSubmitData:function(){
        let data = {
          'monery': this.selectMoney-0,
          'payId': this.payData.id,
          'payType': this.payData.payType,
          'iconCss': this.payData.iconCss,
        };
        $sky.getOnlineSubmitData(data, (ret) => {
          if (ret.success) {
            this.onlineSubmitData = ret.content;
            alert(ret.content.payMethod === 1);
            if(ret.content.payMethod === 1 || ret.content.payMethod === 3){
              this.onlinePay1(ret.content);
            }else if(ret.content.payMethod === 2){
              this.onlinePay2();
            }else if(ret.content.payMethod === 6){
              this.onlinePay6(ret.content);
            }
          } else {
            Toast.fail(ret.msg || '未知异常')
          }
        });
      },
      //第1中跳转方式
      onlinePay1:function(){
        let data = {
          'amount': this.selectMoney-0,
          'payId': this.onlineSubmitData.payId,
          'bankcode':this.onlineSubmitData.bankcode,
          'payType': this.onlineSubmitData.payType,
          'account': $sky.getCookie('username'),
        };
        $sky.onlinePay(data, (ret) => {
          if (ret.success) {
            this.getWecahtQrcode(ret.data)
          } else {
            Toast.fail(ret.msg || '未知异常')
          }
        });
      },
      //第2中跳转方式
      onlinePay2:function(){
        location.href = window.location.protocol+'//'+ window.location.hostname +'/native/shunPay.do?amount='+this.selectMoney+'&payId='+this.onlineSubmitData.payId;
      },
      //第6中跳转方式
      onlinePay6:function(ret){
        let data = {
          'amount': this.selectMoney-0,
          'payId': this.onlineSubmitData.payId,
          'bankcode':this.onlineSubmitData.bankcode,
          'payType': this.onlineSubmitData.payType,
          'account': $sky.getCookie('username'),
        };
        $sky.onlinePay(data, (ret) => {
          if (ret.success) {
            location.href = 'http://a033.xbzhanshi/native/payRedirect.do?data='+encodeURI(JSON.stringify(ret.data));
          } else {
            Toast.fail(ret.msg || '未知异常')
          }
        });
      },
      //增强跳转到第三方支付页
      getWecahtQrcode:function(data){
        let params = {
          'payId': this.payData.id,
          'iconCss': this.payData.iconCss,
          'redirectUrl': data.redirectUrl,
          'redirectParams': JSON.stringify(data.formParams),
        };
        $sky.getWecahtQrcode(params, (ret) => {
          if (ret.success) {
            // console.log(ret)
          } else {
            Toast.fail(ret.msg || '未知异常')
          }
        })
      },

      back:function(){
        this.$emit('closeRecharge', '线上充值')
      },
    }
  }
</script>

<style scoped>
  .money{
    width: 160px;
  }
  #recharge1 {
    width: 100%;
    height: 100%;
  }
</style>
