<template>
  <div>
    <foot_default ></foot_default>
  </div>
</template>

<script>
import foot_default from '@/components/tabs/footer/foot_default'
export default {
  name: "foot_nav",
  data(){
    return {
      floder:'',
    }
  },
  components:{
    foot_default,
  },
  created() {
    this.floder = this.$store.state.stationInfo.content.station.floder
  },
  mounted() {

  }
}
</script>

<style scoped>

</style>
