<template>
  <header class="common_header">
    <div class="header">
      <a herf="javascript:void(0)" @click="back" >
        <van-icon name="arrow-left" size="2rem" v-if="$route.query.class != 1"/>
        <span class="bark" v-if="$route.query.class != 1">返回</span>
      </a>
      <span class="title" >{{ headerData.title }}</span>
      <span class="filter" @click="show.popupw =!show.popupw">筛选</span>
    </div>
    <div class="common_content">
      <van-popup v-model="show.popupw" position="top" :style="{ height:headerData.popupHeight,top:'4.6rem'}">
        <van-cell-group>
          <van-field v-model="params.startTimeReveal" label="开始" right-icon="notes-o" placeholder="开始时间"
                     @click="show.startTimeW =  true" color="red"/>
          <van-field v-model="params.endTimeReveal" label="截止" right-icon="notes-o" placeholder="结束时间"
                     @click="show.endTimeW = true"/>
          <template v-if="headerData.filter == 'isCpOnOff'">
            <van-field  readonly clickable name="picker" :value="params.codeReveal"
                       :right-icon="show.letteryW? 'arrow-up' : 'arrow-down'" :label="'商家'"
                       :placeholder="'点击选择商家'" @click="show.letteryW = true"/>
            <van-field readonly clickable v-model="params.statusReveal" label="状态"
                       :right-icon="show.statusW ? 'arrow-up' : 'arrow-down'" placeholder="订单状态"
                       @click="show.statusW = true"/>
          </template>
          <template v-else-if="headerData.filter == 'isChangeMoney'">
            <van-field readonly clickable v-model="params.typeReveal" label="变动类型"
                       :right-icon="show.statusW ? 'arrow-up' : 'arrow-down'" placeholder="全部记录"
                       @click="show.statusW = true"/>
          </template>
          <template v-else-if="headerData.filter == 'accountDetails'">
            <van-field readonly clickable v-model="params.aTypeReveal" label="订单类型"
                       :right-icon="show.aType ? 'arrow-up' : 'arrow-down'" placeholder="购币记录"
                       @click="show.aType = true"/>
            <van-field readonly clickable v-model="params.aTtypeReveal" label="交易类型"
                       :right-icon="show.aTtype ? 'arrow-up' : 'arrow-down'" placeholder="全部"
                       @click="show.aTtype = true"/>
            <van-field readonly clickable v-model="params.aStatusReveal" label="处理状态"
                       :right-icon="show.aStatus ? 'arrow-up' : 'arrow-down'" placeholder="全部"
                       @click="show.aStatus = true"/>
          </template>
        </van-cell-group>
        <van-button color="#ec2829" block :loading="false" class="filter-query" @click="query">查询</van-button>
      </van-popup>
      <div class="filter-content-time">
        <van-calendar v-model="show.startTimeW" @confirm="startTimerConfirm" :min-date="minData"/>
        <van-calendar v-model="show.endTimeW" @confirm="endTimeConfirm"/>
      </div>
      <template v-if="headerData.filter == 'isCpOnOff'">
        <van-popup v-model="show.letteryW" position="bottom">
          <van-picker show-toolbar :columns="columns.lottery.name" @confirm="letteryConfirm"
                      @cancel="show.letteryW = false"/>
        </van-popup>
        <van-popup v-model="show.statusW" position="bottom">
          <van-picker show-toolbar :columns="columns.status.name" @confirm="statusConfirm"
                      @cancel="show.statusW = false"/>
        </van-popup>
      </template>
      <template v-else-if="headerData.filter == 'isChangeMoney'">
        <van-popup v-model="show.statusW" position="bottom">
          <van-picker show-toolbar :columns="caipiao(columns.type.name)" @confirm="isChangeMoneyStatus"
                      @cancel="show.statusW = false"/>
        </van-popup>
      </template>
      <template v-else-if="headerData.filter == 'accountDetails'">
        <!--        //账户类型-->
        <van-popup v-model="show.aType" position="bottom">
          <van-picker show-toolbar :columns="columns.aType.name" @confirm="isChangeAType" @cancel="show.aType = false"/>
        </van-popup>
        <!--        交易类型-->
        <van-popup v-model="show.aTtype" position="bottom">
          <van-picker show-toolbar :columns="columns.aTtype.name" @confirm="isChangeaTtype"
                      @cancel="show.aTtype = false"/>
        </van-popup>
        <!--        处理状态-->
        <van-popup v-model="show.aStatus" position="bottom">
          <van-picker show-toolbar :columns="columns.aStatus.name" @confirm="isChangeaStatus"
                      @cancel="show.aStatus = false"/>
        </van-popup>
      </template>
    </div>
  </header>
</template>

<script>
import '@/assets/css/include/header.less'
import {Dialog} from "vant";

export default {
  name: "personal_header",
  components: {
    // "van-dialog": Dialog.Component,
  },
  props: {
    headerData: {
      type: Object, default: () => {
        return {title: '投注记录', filter: 'isCpOnOff', popupHeight: '22.1rem'}
      }
    }
  },
  data() {
    return {
      floder: this.$store.state.stationInfo.content.station.floder || 'x002',
      show: {
        popupw: false,
        startTimeW: false,
        endTimeW: false,
        letteryW: false,
        statusW: false,
        type: false,
        aType: false,
        aTtype: false,
        aStatus: false,
        backWaterType: false,
        awardRecordStatus: false,
        chessRecord: false,
        liveRecord: false,
        egameRecord: false,
        letteryThird: false
      },
      columns: {
        status: {
          name: ['全部', '未匹配','匹配成功', '匹配失败', '取消匹配'],
          value: ['', 1, 2, 3, 4]
        },
        lottery: {
          value: [''],
          name: ['全部商家'],
        },
        type: {
          name: ['全部记录','人工购币','人工扣币','在线回款失败','在线回款','在线支付','快速购币','一般购币','虚拟币购币','活动中奖','金额兑换积分','积分兑换金额','回款取消','购币取消','晋级赠送',
            '注册赠送','存款赠送','订单下单','订单匹配','订单取消'],
          value: ['',1,2,3,4,5,6,7,8,18,19,20,54,55,78,79,80,130,131,132]
        },
        aType: {
          name: ['购币记录', '回款记录'],
          value: [1, 2],
        },
        aTtype: {
          name: ['全部', '在线购币', '快速购币', '一般购币'],
          value: ['', 5, 6, 7],
        },
        aStatus: {
          name: ['全部', '处理中', '处理成功', '处理失败'],
          value: ['', 1, 2, 3],
        },
        backWaterType: {
          name: ['全部', '未领取', '已领取'],
          value: ['', 9, 4]
        },
        awardRecordStatus: {
          name: ['全部', '未处理', '已处理', '处理失败'],
          value: ['', 1, 2, 3]
        },
      },
      params: {
        startTime: '',
        endTime: '',
        startTimeReveal: '',
        endTimeReveal: '',
        codeReveal: '全部商家',
        statusReveal: '全部状态',
        code: '',
        status: '',
        typeReveal: '全部类型',
        type: '',
        aTypeReveal: '购币记录',
        aTtypeReveal: '全部',
        aStatusReveal: '全部',
        aType: 1,
        aTtype: '',
        aStatus: '',
        backWaterTypeReveal: '全部',
        backWaterType: '',
        awardRecordStatusReveal: '全部',
        awardRecordStatus: '',
        chessRecordReveal: '所有类型',
        chessRecord: 0,
        liveRecordReveal: '所有类型',
        liveRecord: 0,
        egameRecordReveal: '所有类型',
        egameRecord: 0,
        letteryThirdReveal: '所有类型',
        letteryThird: 0,
      },
      lotteryList: {},
      popupShow: false,
      date: '',
      minData: new Date(2017, 0, 1),
      value1: 1,
      value: 88888,
      showPicker: false,
      option: [
        {text: '全部商品', value: 0},
        {text: '新款商品', value: 1},
        {text: '活动商品', value: 2},
      ],
    }
  },
  created() {
    if (this.headerData.filter == 'isCpOnOff') {
      this.getLotteryList()
    }
    this.getMnyrecordType()
  },
  mounted() {
    console.log(this.columns.type)
    //初始化时间
    let strTime = String(this.$root.common.Format())
    this.params.startTimeReveal = strTime.substring(0, 4) + '/' + strTime.substring(4, 6) + '/' + strTime.substring(6, 8)
    // this.params.startTimeReveal = '2021-03-04 00:00:00'
    this.params.startTime = strTime.substring(0, 4) + '-' + strTime.substring(4, 6) + '-' + strTime.substring(6, 8) + ' ' + '00:00:00'
    // this.params.startTime = '2021-03-04 00:00:00'
    this.params.endTimeReveal = strTime.substring(0, 4) + '/' + strTime.substring(4, 6) + '/' + strTime.substring(6, 8)
    this.params.endTime = strTime.substring(0, 4) + '-' + strTime.substring(4, 6) + '-' + strTime.substring(6, 8) + ' ' + '23:59:59'
    this.query()

  },
  methods: {
    //返回上一页
    back() {
        this.$router.go(-1)
    },
    //选择彩种
    letteryConfirm(data) {
      this.show.letteryW = false
      this.params.codeReveal = data

      this.columns.lottery.name.some((item, index) => {
        if (item == data) {
          this.params.code = this.columns.lottery.value[index]
        }
      })
    },
    //选择订单状态
    statusConfirm(data) {
      this.show.statusW = false
      this.params.statusReveal = data
      this.columns.status.name.some((item, index) => {
        if (item == data) {
          this.params.status = this.columns.status.value[index]
        }
      })
    },
    //选择开始时间
    startTimerConfirm(data) {
      this.show.startTimeW = false
      let strTime = String(this.$root.common.Format(data))
      this.params.startTimeReveal = strTime.substring(0, 4) + '/' + strTime.substring(4, 6) + '/' + strTime.substring(6, 8)
      this.params.startTime = strTime.substring(0, 4) + '-' + strTime.substring(4, 6) + '-' + strTime.substring(6, 8) + ' ' + '00:00:00'
    },
    //选择结束时间
    endTimeConfirm(data) {
      this.show.endTimeW = false
      let strTime = String(this.$root.common.Format(data))
      this.params.endTimeReveal = strTime.substring(0, 4) + '/' + strTime.substring(4, 6) + '/' + strTime.substring(6, 8)
      this.params.endTime = strTime.substring(0, 4) + '-' + strTime.substring(4, 6) + '-' + strTime.substring(6, 8) + ' ' + '23:59:59'
    },
    //账户明细的信息
    isChangeAType(data) {
      this.show.aType = false
      this.params.aTypeReveal = data;
      this.columns.aType.name.some((item, index) => {
        if (item == data) {
          this.params.aType = this.columns.aType.value[index]
        }
      })
    },
    isChangeaTtype(data) {
      this.show.aTtype = false
      this.params.aTtypeReveal = data;
      this.columns.aTtype.name.some((item, index) => {
        if (item == data) {
          this.params.aTtype = this.columns.aTtype.value[index]
        }
      })
    },
    isChangeaStatus(data) {
      this.show.aStatus = false
      this.params.aStatusReveal = data;
      this.columns.aStatus.name.some((item, index) => {
        if (item == data) {
          this.params.aStatus = this.columns.aStatus.value[index]
        }
      })
    },
    //彩种信息
    getLotteryList() {
      this.$post('native/getLotteryList.do', {}, true).then(res => {
        this.lotteryList = res
        if ('isLogin' in res && res.isLogin == false) {
          Dialog.alert({
            title: '登陆提示',
            message: res.msg
          }).then(() => {
            this.$router.push({
              path: '/login',
            })
          });
          return
        }
            this.lotteryList.bcList.some(item2=>{
              if (item2.viewGroup == 7){
                this.columns.lottery.name.push(item2.name)
                this.columns.lottery.value.push(item2.code)
              }
        })
      })
    },
    //查询
    query() {
      if (this.headerData.filter == 'isLhcOnOff') {
        this.params.code = 'LHC'
      }
      this.$emit('get_lottery_order', this.params)
      this.show.popupw = false
    },
    //用户张变信息
    isChangeMoneyStatus(data) {
      this.show.statusW = false
      this.params.typeReveal = data
      this.columns.type.name.some((item, index) => {
        if (item == data) {
          this.params.type = this.columns.type.value[index]
          return true
        }
      })
    },
    //获取张变类型
    getMnyrecordType() {
      this.$post('native/getMnyrecordType.do', '', false).then(res => {
        if (res) {
          return  res
        }
      })
    }
  },
  computed:{
    caipiao(value){
      if (!value) console.log(value)
      return (value)=>{
        if (value == undefined) return  '';
        let option = []
        value.some(item=>{
          if (item.includes('彩票')) {
            option.push(item.replace(/彩票/g,'订单'))
          }
          else {
            option.push(item)
          }
        })
        return option
      }
    }
  },
}
</script>

<style scoped>

</style>
