<template>
  <div class="w-100 h-100 m-wid1000">
    <side-click></side-click>
    <div class="f-l w-88 h-100">
      <Layout>
        <Header class="bg-fff p-30-l">
          <Button  type="primary" @click="domainModule = true">新增域名</Button>
        </Header>
      </Layout>
      <Table :columns="columns1" :data="accountList" :loading="loading" ></Table>
      <Page class="t-r m-20-r m-20-t" :current="1" :total="page.total" simple  :page-size="page.pageSize" @on-change="changePage"/>
    </div>
    <Modal v-model="domainModule" :loading="verifyClose" :title="addTitle"  @on-ok="addOrUp"  @on-cancel="varInita" class="t-c">
      <Row class="m-5-t m-5-b l-h-25 ">
        <Col span="8">域名链接：</Col>
        <Col span="8">
          <Input v-model="domainData.domain" placeholder="请填写域名链接" class="w-15" />
        </Col>
      </Row>
      <!--<Row class="m-5-t m-5-b l-h-25 ">-->
        <!--<Col span="8">平台编号：</Col>-->
        <!--<Col span="8">-->
          <!--<Select v-model="domainData.platformId" placeholder="请选择平台" class="w-15 " filterable>-->
            <!--<Option  v-for="item in serverList.planList" :value="item.value"  :key="item.value">{{ item.label }}</Option>-->
          <!--</Select>-->
        <!--</Col>-->
      <!--</Row>-->
      <Row class="m-5-t m-5-b l-h-25 " v-show="!updateOrAdd">
        <Col span="8">集群ID：</Col>
        <Col span="8">
          <Select v-model="domainData.serverId" placeholder="请选择集群" class="w-15 " @on-change="getStationList"  filterable>
            <Option  v-for="item in serverList.colony" :value="item.value"  :key="item.value">{{ item.label }}</Option>
          </Select>
        </Col>
      </Row>
      <Row class="m-5-t m-5-b l-h-25 " v-show="!updateOrAdd">
        <Col span="8">站点ID：</Col>
        <Col span="8">
          <Select  v-model="domainData.stationId" placeholder="请选择集群" class="w-15 " filterable>
            <Option  v-for="item in serverList.site" :value="item.value"  :key="item.value">{{ item.label }}</Option>
          </Select>
        </Col>
        <Spin size="large" fix v-if="spinShow"></Spin>
      </Row>
      <Row class="m-5-t m-5-b l-h-25 ">
        <Col span="8">域名状态：</Col>
        <Col span="8">
          <RadioGroup v-model="domainData.status">
            <Radio label="0">停用</Radio>
            <Radio label="1">启用</Radio>
          </RadioGroup>
        </Col>
      </Row>
      <Row class="m-5-t m-5-b l-h-25 ">
        <Col span="8">域名类型：</Col>
        <Col span="8">
          <RadioGroup v-model="domainData.type">
            <Radio label="0">总控</Radio>
            <Radio label="1">租户</Radio>
          </RadioGroup>
        </Col>
      </Row>
    </Modal>
  </div>
</template>

<script>
import {httpGet, httpPost} from '../../static/js/index'
export default {
  name: 'domain',
  data () {
    return {
      loading: false,
      serverList: {
        colony: [],
        site: [],
        planList: []
      },
      domainModule: false,
      spinShow: false,
      verifyClose: true,
      updateOrAdd: false,
      addTitle: '新增域名',
      domainData: {
        domain: '',
        status: '',
        type: '',
        // platformId: '',
        serverId: '',
        stationId: ''
      },
      page: {
        total: 10,
        pageSize: 12,
        showList: [],
        p: 1
      },
      columns1: [
        {
          title: '序号',
          key: 'number',
          align: 'center'
        },
        {
          title: '域名类型',
          key: 'types',
          align: 'center'
        },
        {
          title: '域名状态',
          key: 'statusUp',
          align: 'center'
        },
        {
          title: '域名',
          key: 'domain',
          align: 'center'
        },
        {
          title: '集群id',
          key: 'serverName',
          align: 'center'
        },
        {
          title: '站点id',
          key: 'stationName',
          align: 'center'
        },
        {
          title: '添加时间',
          key: 'createTime',
          align: 'center'
        },
        {
          title: '操作',
          key: 'id',
          align: 'center',
          render: (h, params) => {
            return h('div', [
              h('Button', { props: {type: params.row.statusStyle, size: 'small'}, style: {marginRight: '5px'} },
                [
                  h('Poptip',
                    { props: { confirm: true, transfer: true, title: '是否' + params.row.statusFont + '该域名？', type: 'error', size: 'small' },
                      on: {
                        'on-ok': () => {
                          //  改变当前状态
                          params.row.status = (params.row.status === 0) ? '1' : '0'
                          this.onOffDomain(params.row)
                        },
                        'on-cancel': () => { }
                      }
                    }, params.row.statusFont)
                ]
              ),
              h('Button', {
                props: { type: 'primary', size: 'small' },
                style: { marginRight: '5px' },
                on: {
                  click: () => {
                    this.domainModule = true
                    this.updateOrAdd = true
                    this.addTitle = '新增域名'
                    this.domainData = {
                      id: params.row.id,
                      domain: params.row.domain,
                      status: params.row.status + '',
                      type: params.row.type + ''
                      // platformId: params.row.platformId
                    }
                  }
                }
              }, '编辑')
            ])
          }
        }
      ],
      accountList: [ ]
    }
  },
  created: function () {
    this.getDomainList()
    this.getServerList()
  },
  methods: {
    //  获取域名列表
    getDomainList: function () {
      this.accountList = [ ]
      this.page.showList = [ ]
      let params = {
        quantity: '999999',
        page: '1'
      }
      httpGet('/root/getDomainList', params).then(res => {
        this.loading = false
        res = res.body.data.content
        this.page.total = res.length
        for (let i = res.length - 1; i >= 0; i--) {
          res[i].number = i + 1
          res[i].types = (res[i].type === 0) ? '总控' : '租户'
          res[i].statusFont = (res[i].status === 0) ? '启用' : '停用'
          res[i].statusStyle = (res[i].status === 0) ? 'primary' : 'error'
          res[i].statusUp = (res[i].status === 0) ? '停用' : '启用'
          res[i].createTime = this.assigDate(res[i].createTime)
          this.accountList.unshift(res[i])
        }
        this.page.showList = this.accountList
        //  取最大页数
        let max = Math.ceil(this.page.showList.length / this.page.pageSize)
        max = (max === 0) ? '1' : max
        //  判断用户在最后一页进行操作时ajax刷新的页数
        if (this.page.p >= max) {
          this.page.p = max
        }
        this.changePage(this.page.p)
      }, reason => {})
    },
    //  获取集群
    getServerList: function () {
      let params = {}
      httpGet('/root/getServerList', params).then(res => {
        for (let index in res.body.data) {
          let data = {
            value: res.body.data[index].id,
            label: res.body.data[index].serverName
          }
          this.serverList.colony.unshift(data)
        }
      }, reason => {})
    },
    //  根据集群获取站点
    getStationList: function (value) {
      this.spinShow = true
      this.serverList.site = []
      let params = {
        serverId: value
      }
      httpGet('/root/getStationList', params).then(res => {
        this.spinShow = false
        for (let index in res.body.data) {
          let data = {
            value: res.body.data[index].stationId,
            label: res.body.data[index].name
          }
          this.serverList.site.unshift(data)
        }
      }, reason => {})
    },
    //  获取平台编号
    getPlanList: function () {
      let params = {}
      httpGet('/root/agentList', params).then(res => {
        res = res.body.data
        let data = { }
        for (let i = res.length - 1; i >= 0; i--) {
          data = {
            value: res[i].platformId,
            label: res[i].platformId
          }
          this.serverList.planList.unshift(data)
        }
      }, reason => {})
    },
    //  开启关闭域名
    onOffDomain: function (row) {
      let params = {
        id: row.id,
        status: row.status
      }
      httpGet('/root/updateDomainStatus', params).then(res => {
        this.$Message.success(row.statusFont + '聊天室成功')
        this.getDomainList()
      }, reason => {})
    },
    addOrUp: function () {
      let params = this.domainData
      for (let item in params) {
        if ((!params[item] || (params[item] + '').indexOf(' ') !== -1 || (params[item] + '').indexOf('.js') !== -1) && params[item] !== 0) {
          this.$Message.info('请正确填写内容')
          //  阻止iview模态框关闭
          setTimeout(() => {
            this.verifyClose = false
            this.$nextTick(() => {
              this.verifyClose = true
            })
          }, 1000)
          return false
        }
      }
      if (this.updateOrAdd) {
      //  修改
        this.updateDomain(params)
      } else {
      //  添加
        this.addDomain(params)
      }
      this.domainModule = false
    },
    //  添加域名
    addDomain: function (params) {
      httpGet('/root/saveDomain', params).then(res => {
        this.$Message.success('添加成功')
        this.getDomainList()
        this.varInita()
      }, reason => {})
    },
    //  修改域名
    updateDomain: function (params) {
      httpGet('/root/updateDomain', params).then(res => {
        this.$Message.success('操作成功')
        this.getDomainList()
        this.varInita()
      }, reason => {})
    },
    //  时间处理
    assigDate: function (date) {
      let e = new Date(date)
      e = e.getFullYear() + '-' + (this.zero(e.getMonth() + 1)) + '-' + this.zero(e.getDate()) + ' ' + this.zero(e.getHours()) + ':' + this.zero(e.getMinutes())
      return e
    },
    //  补零
    zero: function (e) {
      e = e + ''
      if (e.length === 1) {
        return '0' + e
      } else {
        return e
      }
    },
    changePage: function (index) {
      this.page.p = index
      this.accountList = this.page.showList
      let _start = (index - 1) * this.page.pageSize
      let _end = index * this.page.pageSize
      this.accountList = this.page.showList.slice(_start, _end)
    },
    varInita: function () {
      this.updateOrAdd = false
      this.addTitle = '新增域名'
      this.domainData = {
        domain: '',
        status: '',
        type: '',
        // platformId: '',
        serverId: '',
        stationId: ''
      }
    }
  }
}
</script>

<style scoped>

</style>
