<template>
  <div class="w-100 h-100 m-wid1000">
    <side-click></side-click>
    <div class="f-l w-88 h-100" >
      <Layout>
        <Header class="bg-fff p-30-l">
          <!--<Button  icon="md-qr-scanner" type="primary" @click="addSite.addSiteModel = true">添加站点</Button>-->
          <Select  placeholder="查找平台" @on-change="getAlonePlan" class="w-15 m-5-l" filterable>
            <Option  v-for="item in page.showList" :value="item.platformId"  :key="item.platformId">{{ item.platformId }}</Option>
          </Select>
          <Button  icon="md-qr-scanner" type="primary" @click="getAccountList">重置</Button>
        </Header>
      </Layout>
      <Table :columns="columns1" :data="accountList" :loading="loading"></Table>
      <Page class="t-r m-20-r m-20-t" :current="1" :total="page.total" simple  :page-size="page.pageSize" @on-change="changePage"/>
    </div>
    <Modal v-model="update.updatePassModel" title="请输入新密码" @on-ok="ok" @on-cancel="cancel" closable>
      <p class="t-c"><Input v-model="update.newPass" placeholder="新密码"  style="width: 300px" /></p>
    </Modal>
    <Modal v-model="addSite.addSiteModel" title="添加站点" @on-ok="okSite" @on-cancel="cancel" closable>
      <p class="t-c"><Input  v-model="addSite.id" placeholder="站点id"  style="width: 300px" /></p>
      <p class="t-c"><Input class="m-20-t" v-model="addSite.name" placeholder="站点名称"  style="width: 300px" /></p>
    </Modal>
  </div>
</template>

<script>
import {httpGet, httpPost} from '../../static/js/index'
export default {
  data () {
    return {
      loading: true,
      update: {
        updatePassModel: false,
        updateId: 0,
        newPass: ''
      },
      page: {
        total: 10,
        pageSize: 12,
        showList: [],
        p: 1
      },
      addSite: {
        addSiteModel: false,
        id: '',
        name: ''
      },
      columns1: [
        {
          title: '序号',
          key: 'number',
          align: 'center'
        },
        {
          title: '名称',
          key: 'name',
          align: 'center'
        },
        {
          title: 'Id',
          key: 'platformId',
          align: 'center'
        },
        {
          title: '注册IP',
          key: 'ip',
          align: 'center'
        },
        {
          title: 'token',
          key: 'token',
          align: 'center'
        },
        {
          title: '超管账号',
          key: 'account',
          align: 'center'
        },
        {
          title: '密码',
          key: 'platformPass',
          align: 'center'
        },
        {
          title: '操作',
          key: 'id',
          width: '210px',
          align: 'center',
          render: (h, params) => {
            return h('div', [
              h('Button', { props: {type: params.row.statusStyle, size: 'small'}, style: {marginRight: '5px'} },
                [
                  h('Poptip',
                    { props: { confirm: true, transfer: true, title: '是否' + params.row.statusFont + '该平台所属聊天室？', type: 'error', size: 'small' },
                      on: {
                        'on-ok': () => {
                          //  改变当前状态
                          params.row.status = (params.row.status === 0) ? '1' : '0'
                          this.onOffChat(params.row)
                        },
                        'on-cancel': () => { }
                      }
                    }, params.row.statusFont)
                ]
              ),
              h('Button', {
                props: {
                  type: 'primary',
                  size: 'small'
                },
                style: {
                  marginRight: '5px'
                },
                on: {
                  click: () => {
                    // window.open('http://localhost:8082/#/?admin=true&plId=' + params.row.platformId + '&name=' + params.row.platformId + 'admin' + '&pass=' + params.row.platformPass, '_blank')
                    window.open('http://' + params.row.domainUrl + '/admin/agent/login#/?admin=true&plId=' + params.row.platformId + '&name=' + params.row.platformId + 'admin' + '&pass=' + params.row.platformPass, '_blank')
                  }
                }
              }, '登录'),
              h('Button', {
                props: {
                  type: 'primary',
                  size: 'small'
                },
                style: {
                  marginRight: '5px'
                },
                on: {
                  click: () => {
                    this.updatePassword(params.row.id)
                  }
                }
              }, '修改'),
              h('Button', { props: {type: 'info', size: 'small'} },
                [
                  h('Poptip',
                    { props: { confirm: true, transfer: true, title: '清除后不可恢复，确定要清除吗！', type: 'error', size: 'small' },
                      on: {
                        'on-ok': () => {
                          this.deleteNotes(params.row.platformId)
                        },
                        'on-cancel': () => { }
                      }
                    }, '清除')
                ]
              )
            ])
          }
        }
      ],
      accountList: [ ]
    }
  },
  created: function () {
    this.getAccountList()
  },
  mounted: function () { },
  methods: {
    getAccountList: function () {
      this.accountList = [ ]
      this.page.showList = [ ]
      this.addSite.id = ''
      this.addSite.name = ''
      let params = {}
      httpGet('/root/agentList', params).then(res => {
        this.loading = false
        res = res.body
        this.page.total = res.data.length
        for (let i = res.data.length - 1; i >= 0; i--) {
          res.data[i].number = i + 1
          res.data[i].account = res.data[i].platformId + 'admin'
          res.data[i].statusFont = (res.data[i].status === 0) ? '启用' : '停用'
          res.data[i].statusStyle = (res.data[i].status === 0) ? 'primary' : 'error'
          this.accountList.unshift(res.data[i])
        }
        this.page.showList = this.accountList
        //  取最大页数
        let max = Math.ceil(this.page.showList.length / this.page.pageSize)
        max = (max === 0) ? '1' : max
        //  判断用户在最后一页进行操作时ajax刷新的页数
        if (this.page.p >= max) {
          this.page.p = max
        }
        this.changePage(this.page.p)
      }, reason => {})
    },
    updatePassword: function (id) {
      this.update.passId = id
      this.update.updatePassModel = true
    },
    ok () {
      if (!this.update.newPass || this.update.newPass.length < 6) {
        this.$Message.info('无效密码')
        this.update.newPass = ''
        return false
      }
      let params = {
        userId: this.update.passId,
        newPassword: this.update.newPass
      }
      httpGet('/root/updatePassword', params).then(res => {
        this.$Message.success(res.body.data)
        this.accountList = [ ]
        this.update.newPass = ''
        this.getAccountList()
      }, reason => {})
    },
    okSite: function () {
      let params = {
        platformId: this.addSite.id,
        name: this.addSite.name
      }
      httpPost('/admin/agent/add', params).then(res => {
        this.$Message.success('添加成功')
        this.getAccountList()
      }, reason => {})
    },
    //  查找平台
    getAlonePlan: function (value) {
      this.accountList = []
      for (let index in this.page.showList) {
        if (this.page.showList[index].platformId === value) {
          this.accountList.unshift(this.page.showList[index])
          return false
        }
      }
    },
    //  开启关闭聊天室
    onOffChat: function (row) {
      let params = {
        id: row.id,
        status: row.status
      }
      httpGet('/root/updateAgentStatus', params).then(res => {
        this.$Message.success(row.statusFont + '聊天室成功')
        this.getAccountList()
      }, reason => {})
    },
    cancel () {
      this.update.newPass = ''
    },
    changePage: function (index) {
      this.page.p = index
      this.accountList = this.page.showList
      let _start = (index - 1) * this.page.pageSize
      let _end = index * this.page.pageSize
      this.accountList = this.page.showList.slice(_start, _end)
    },
    deleteNotes: function (id) {
      let params = {
        platformId: id
      }
      httpGet('/root/delPlatChatRecord', params).then(res => {
        this.$Message.success('清除成功')
      }, reason => {})
    }
  }
}
</script>
