<template>
  <div class="w-100 t-c p-100-t">
    <div class="w-25 m-0 animated fadeIn" v-on:keyup.enter="login">
      <h1>信博聊天室后台管理</h1>
      <Input v-model="account" autofocus prefix="ios-contact"  placeholder="请输入账号" class="d-b w-25 m-20-t" />
      <Input v-model="password" type="password" prefix="md-lock" placeholder="请输入密码" class="d-b w-25 m-20-t" />
      <Button type="primary" long   class="d-b w-25 m-20-t" @click="login">登录</Button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'login',
  data () {
    return {
      account: '',
      password: ''
    }
  },
  created: function () { },
  mounted: function () { },
  methods: {
    login: function () {
      this.$http.get(global.url + '/root/dologin?name=' + this.account + '&password=' + this.password, {credentials: true}).then(function (res) {
        if (res.data.code === 1) {
          this.$router.push({path: `/index`})
        }
      }, function (res) {
        console.log(res.status)
      })
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
