<template>
  <div class="w-100 h-100 m-wid1000">
    <side-click></side-click>
    <div class="f-l w-88 h-100">
      <Layout>
        <Header class="bg-fff p-30-l">
          <Button  icon="md-qr-scanner" type="primary" @click="addPlan.addPlanModel = true">添加计划</Button>
          <Select v-model="planId" placeholder="查找平台" @on-change="getCPJH" class="w-15 m-5-l" filterable>
            <Option  v-for="item in planList" :value="item.value"  :key="item.value">{{ item.label }}</Option>
          </Select>
          <Button type="success" class="m-5-l" @click=" planId = ''">重置</Button>
          <Button @click="leftSeePlan = true" type="primary">查看计划</Button>
          <Drawer title="彩票计划" placement="left" :closable="false" v-model="leftSeePlan" width="90" class="ov-hidd">
            <iframe src="https://ssjh.xinbozr.com/index.html" frameborder="0" class="w-100 h-90"></iframe>
          </Drawer>
        </Header>
      </Layout>
      <Table :columns="columns1" :data="accountList" :loading="loading" ></Table>
      <Page class="t-r m-20-r m-20-t" :current="1" :total="page.total" simple  :page-size="page.pageSize" @on-change="changePage"/>
      <Modal v-model="addPlan.addPlanModel" :title="addTitle"  @on-ok="updaOrAdd"  @on-cancel="closePlanModel" class="t-c">
        <Row class="m-5-t m-5-b l-h-25 ">
          <Col span="8">计划类型：</Col>
          <Col span="8">
            <Select v-model="addLotteryData.addLotteryType" class="w-15 ">
              <Option v-for="item in addLotteryList" :value="item.value" :key="item.value">{{ item.label }}</Option>
            </Select>
          </Col>
        </Row>
        <Row class="m-5-t m-5-b l-h-25 ">
          <Col span="8">平台站点：</Col>
          <Col span="8">
            <Select v-model="addLotteryData.platformId" placeholder="请选择平台" class="w-15 " filterable>
              <Option  v-for="item in planList" :value="item.value"  :key="item.value">{{ item.label }}</Option>
            </Select>
          </Col>
        </Row>
        <Row class="m-5-t m-5-b l-h-25 ">
          <Col span="8">计划ID：</Col>
          <Col span="8">
            <Input v-model="addLotteryData.cpjhUrl" placeholder="请填写计划ID" class="w-15" />
          </Col>
          <Col span="8">例：cqssc_jh_38</Col>
        </Row>
        <Row class="m-5-t m-5-b l-h-25 ">
          <Col span="8">昵称：</Col>
          <Col span="8">
            <Input v-model="addLotteryData.cpjhNickName" placeholder="请填写昵称" class="w-15" />
          </Col>
          <Col span="8">例：计划专员</Col>
        </Row><Row class="m-5-t m-5-b l-h-25 ">
          <Col span="8">头像链接：</Col>
          <Col span="8">
            <Input v-model="addLotteryData.cpjhHeadImg" placeholder="请填写头像链接" class="w-15" />
          </Col>
        </Row>
      </Modal>
    </div>
  </div>
</template>

<script>
import {httpGet, httpPost} from '../../static/js/index'
export default {
  data () {
    return {
      loading: true,
      planId: '',
      addTitle: '添加计划',
      addMoedl: true,
      updateOrAdd: false,
      leftSeePlan: false,
      addLotteryData: {
        addLotteryType: '1',
        platformId: '',
        cpjhHeadImg: 'https://xbtu111.com/chatserver/headimg/20.gif',
        cpjhNickName: '',
        cpjhUrl: ''
      },
      addLotteryList: [
        {
          value: '1',
          label: '重庆时时彩'
        },
        {
          value: '2',
          label: '北京赛车'
        },
        {
          value: '3',
          label: '幸运飞艇'
        }
      ],
      addPlan: {
        addPlanModel: false
      },
      planList: [ ],
      page: {
        total: 10,
        pageSize: 12,
        showList: [],
        p: 1
      },
      columns1: [
        {
          title: '序号',
          key: 'number',
          align: 'center'
        },
        {
          title: '彩种类型',
          key: 'type',
          align: 'center'
        },
        {
          title: '计划类型',
          key: 'lotteryTypeF',
          align: 'center'
        },
        {
          title: '计划Id',
          key: 'cpjhUrl',
          align: 'center'
        },
        {
          title: '发布人昵称',
          key: 'cpjhNickName',
          align: 'center'
        },
        {
          title: '发布人头像',
          key: 'cpjhHeadImg',
          align: 'center',
          tooltip: true
        },
        {
          title: '操作',
          key: 'id',
          align: 'center',
          render: (h, params) => {
            return h('div', [
              // h('Button', {
              //   props: { type: 'primary', size: 'small' },
              //   style: { marginRight: '5px' },
              //   on: {
              //     click: () => {
              //       this.editPlan(params.row)
              //     }
              //   }
              // }, '编辑'),
              h('Button', { props: {type: 'error', size: 'small'} },
                [
                  h('Poptip',
                    { props: { confirm: true, transfer: true, title: '删除后不可恢复，确定要删除吗！', type: 'error', size: 'small' },
                      on: {
                        'on-ok': () => {
                          this.deletePlan(params.row.id)
                        },
                        'on-cancel': () => { }
                      }
                    }, '删除')
                ]
              )
            ])
          }
        }
      ],
      accountList: [ ]
    }
  },
  created: function () {
    this.getCPJH()
    this.getPlanList()
  },
  methods: {
    getCPJH: function () {
      this.accountList = [ ]
      this.page.showList = [ ]
      let params = {
        platFormId: this.planId,
        quantity: 99999,
        page: 1
      }
      httpGet('/root/getCpjhList', params).then(res => {
        this.loading = false
        res = res.body.data.content
        this.page.total = res.length
        for (let i = res.length - 1; i >= 0; i--) {
          res[i].number = i + 1
          //  新增字段展示文字
          switch (res[i].lotteryType) {
            case '1':
              res[i].lotteryTypeF = '重庆时时彩'
              break
            case '2':
              res[i].lotteryTypeF = '北京赛车'
              break
            case '3':
              res[i].lotteryTypeF = '幸运飞艇'
              break
          }
          res[i].type = (res[i].isSys === 1) ? '系统彩' : '官方彩'
          res[i].statusFont = (res[i].status === 1) ? '关闭' : '开启'
          res[i].statusStyle = (res[i].status === 1) ? 'warning' : 'primary'
          if (res[i].isSys === 1) {
            res[i].lotteryTypeF = res[i].lotCode
            res[i].cpjhUrl = res[i].domain
          }
          this.accountList.unshift(res[i])
        }
        this.page.showList = this.accountList
        //  取最大页数
        let max = Math.ceil(this.page.showList.length / this.page.pageSize)
        max = (max === 0) ? '1' : max
        //  判断用户在最后一页进行操作时ajax刷新的页数
        if (this.page.p >= max) {
          this.page.p = max
        }
        this.changePage(this.page.p)
      }, reason => {})
    },
    getPlanList: function () {
      let params = {}
      httpGet('/root/agentList', params).then(res => {
        res = res.body.data
        let data = { }
        for (let i = res.length - 1; i >= 0; i--) {
          data = {
            value: res[i].platformId,
            label: res[i].platformId
          }
          this.planList.unshift(data)
        }
      }, reason => {})
    },
    changePage: function (index) {
      this.page.p = index
      this.accountList = this.page.showList
      let _start = (index - 1) * this.page.pageSize
      let _end = index * this.page.pageSize
      this.accountList = this.page.showList.slice(_start, _end)
    },
    deletePlan: function (id) {
      let params = {
        id: id
      }
      httpGet('/admin/cpjh/deleteCPJH', params).then(res => {
        this.$Message.success('删除成功')
        this.getCPJH()
      }, reason => {})
    },
    editPlan: function (data) {
      this.addPlan.addPlanModel = true
      this.updateOrAdd = true
      this.addLotteryData = {
        lotteryType: data.lotteryType,
        addLotteryType: data.lotteryType,
        platformId: data.platId,
        cpjhHeadImg: data.cpjhHeadImg,
        cpjhNickName: data.cpjhNickName,
        cpjhUrl: data.cpjhUrl,
        id: data.id
      }
      console.log(this.addLotteryData)
    },
    closePlanModel: function () {
      this.varInita('add')
      this.updateOrAdd = false
    },
    updaOrAdd: function () {
      // 判断是否填写内容
      for (let item in this.addLotteryData) {
        if (!this.addLotteryData[item] || (this.addLotteryData[item] + '').indexOf(' ') !== -1) {
          this.$Message.info('请正确填写内容')
          return false
        }
      }
      //  判断修改还是添加接口
      if (this.updateOrAdd) {
        this.updateLottery()
      } else {
        this.addLotteryOk()
      }
      this.varInita('add')
    },
    addLotteryOk: function () {
      let params = {
        cpjhUrl: this.addLotteryData.cpjhUrl,
        cpjhNickName: this.addLotteryData.cpjhUrl,
        cpjhHeadImg: this.addLotteryData.cpjhHeadImg,
        lotteryType: this.addLotteryData.addLotteryType,
        platformId: this.addLotteryData.platformId
      }
      httpGet('/root/addCPJH', params).then(res => {
        this.$Message.success('添加成功')
        this.getCPJH()
      }, reason => {})
    },
    updateLottery: function () {
      this.updateOrAdd = false
      let params = this.addLotteryData
      httpPost('/admin/cpjh/updateCPJH', params).then(res => {
        this.$Message.success('修改成功')
        this.getCPJH()
      }, reason => {})
    },
    varInita: function (is) {
      this.addLotteryData = {
        addLotteryType: '1',
        platformId: '',
        cpjhHeadImg: 'https://xbtu111.com/chatserver/headimg/20.gif',
        cpjhNickName: '',
        cpjhUrl: ''
      }
    }
  }
}
</script>

<style scoped>

</style>
