@import "base";
/*---------------------------------------------------------底部---------------------------------------------------------*/
.footer{
  background: #f8f8f8;
  border: 1px solid #dce1e5;
  border-left: none;
  border-right: none;
  height: 160px;
  position: relative;
  float: left;
  width: 100%;
  .container{
    display: flex;
    cursor: pointer;
    position: relative;
    .flash{
      background: -webkit-linear-gradient(left, hsla(0, 0%, 97%, 0),
      hsla(0, 0%, 97%, .66) 50%, hsla(0, 0%, 97%, 0));
      position: absolute;
      overflow: hidden;
      width: 40px;
      height: 100px;
      transform: rotate(17deg);
      left: -45px;
      top: 20px
    }
    .content{
      width: 29%;
      height: 62%;
      margin-top: 2%;
      border-right: 1px solid #ebebeb;
      padding-left: 25px;
      p{
        font-weight: 700;
        font-size: 20px;
        color: #666666;
        span{
          color: #b8b8b8;
          margin-left: 20px;
          font-weight: 500;
          font-size: 13px;
          transition: .5s;
        }
      }
      .content-font{
        margin: 25px 0;
        width: 100%;
        display: flex;
        img{
          width: 120px;
          height: 56px;
          transition: .5s;
        }
        div{
          line-height: 27px;
          font-size: 14px;
          color: #666666;
          margin-left: 10px;
        }
      }
    }
    .content:nth-child(1):hover .flash{
      left: 260px;
      transition: 1s
    }
    .content:nth-child(2){
      width: 42%!important;
      .content-font{
        margin: 15px 0;
      }
    }
    .content img:hover{
      transform: scale(1.1);
    }
    div:nth-child(2){
      li{
        p{
          background: #e6e6e6;
          width: 180px;
          height: 15px;
          border-radius: 15px;
          position: relative;
          display: inline-block;
          vertical-align: sub;
          margin-left: 5px !important;
          overflow: hidden;
          span{
            background-color: #fd5757;
            position: absolute;
            height: 15px;
            border-radius: 15px 0 0 15px;
            margin: 0;
          }
        }
        em{
          font-size: 26px;
          margin-left: 5px;
          font-style:normal;
        }
        i{
          color: #a6a6a6;
          margin-left: 5px;
          font-style:normal;
        }
      }
      li:nth-child(2){
        span{
          background-color: #4aa9db!important;
        }
      }
    }
    div:nth-child(3){
      border: none;
      img{
        width: 85px!important;
      }
    }
  }
}
/*---------------------------------------------------------底部帮助---------------------------------------------------------*/
.footer-help{
  float: left;
  width: 100%;
  margin: 30px 0;
  .container{
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    ul{
      li{
        float: left;
        margin: 0 8px;
        cursor: pointer;
        transition: .3s;
      }
      li:hover{
        color: #e4393c !important;
        text-decoration: underline;
      }
    }
  }
}
