<template>
  <div class="active">
    <head_nav></head_nav>
    <div class="active-main">
      <div class="row">
        <div class="active-title" v-for="(item,index) in activeList" :key="index" @click="showContent(item)">
          <div class="promo-dl"><img :src="item.titleImgUrl" alt=""></div>
          <div class="promo-title-wrapper"><h4>{{item.title}}</h4><div class="smtitle"></div><div class="date-promo">{{$t('促销期:')}} {{$root.common.milliDate(item.overTime)}}</div></div>
        </div>
      </div>
      <transition name="popup">
        <div class="popup" v-if="popupShow">
          <div class="popup-box">
            <div class="title">{{content.title}}</div>
            <div class="close" @click="popupShow = false"><img src="@/assets/images/close-plate.png" alt=""></div>
            <div class="active-content" v-html="content.content">
            </div>
          </div>
        </div>
      </transition>
    </div>
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import head_nav from '@/components/include/head_nav'
import foot_nav from '@/components/include/foot_nav'
import "@/assets/css/active.less"

export default {
  name: "active",
  data() {
    return {
      popupShow: false,
      activeList:'',
      content:'',
    }
  },
  components: {
    head_nav, foot_nav
  },
  created() {
    this.getActive()
  },
  mounted() {

  },
  methods: {
    getActive:function () {
      this.$post('native/active_infos.do',this.user,true).then(res=>{
        if(res.success){
          this.activeList = res.content
        }
      })
    },
    showContent:function (content){
      this.content = content
      this.popupShow = true
    }
  }
}
</script>

<style scoped>
</style>
