<template>
  <div class="main">
    <head_nav></head_nav>
    <div class="other">
      <div class="row">
        <iframe src="/lottery/index.do" id="mainframe" name="header2" align="top" width="1140px" height="850" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe>
      </div>
    </div>
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import head_nav from '@/components/include/head_nav'
import foot_nav from '@/components/include/foot_nav'
import "@/assets/css/include/base.less"

export default {
  name: "games",
  data() {
    return {}
  },
  components: {
    head_nav, foot_nav
  },
  created() {
  },
  mounted() {
  },
  methods: {}
}
</script>

<style scoped>
  .main{
    background: url("../assets/images/4d-bg.jpg") no-repeat top center;
  }
  .row{
    padding: 40px 0;
  }
</style>
