<template>
  <div class="help">
    <head_nav></head_nav>
    <div class="help-main">
      <div class="row">
        <div class="left">
          <ul>
            <li :class="{'active':index == helpIndex}" v-for="(item, index) in helpList" :key="index" @click="showContent(index,item.content)">{{item.title}}</li>
          </ul>
        </div>
        <div class="right">
          <div class="content" v-html="content">

          </div>
        </div>
      </div>
    </div>
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import head_nav from '@/components/include/head_nav'
import foot_nav from '@/components/include/foot_nav'
import "@/assets/css/help.less"

export default {
  name: "help",
  data() {
    return {
      helpList:'',
      helpIndex:0,
      content:''
    }
  },
  components: {
    head_nav, foot_nav
  },
  created() {
    this.getHelpList()
  },
  mounted() {
  },
  methods: {
    getHelpList:function () {
      this.$post('native/helplist.do',this.user,true).then(res=>{
        this.helpList = res.hplist
        if(this.helpList.length > 0){
          this.content = this.helpList[0].content
        }
      })
    },
    showContent:function (index,content){
      this.helpIndex = index
      this.content = content
    },
  }
}
</script>

<style scoped>
.main{
  background: url("../assets/images/vip_bg.jpg") no-repeat top center;
}
.row{
  padding: 40px 0;
}
</style>
