<template>
  <div class="index">
    <head_nav></head_nav>
    <div class="content">
      <div class="row banner">
        <div class="box">
          <div class="spin-blue"></div>
          <div class="jr-box flex"><img src="@/assets/images/jr-icon.png" alt=""></div>
          <div class="circle"></div>
          <router-link to="/sport" class="esport six-game"><img src="@/assets/images/open-esports.png"></router-link>
          <router-link to="/sport" class="sport six-game"><img src="@/assets/images/open-sports.png"></router-link>
          <router-link to="/games" class="lottery six-game"><img src="@/assets/images/open-4d.png"></router-link>
          <router-link to="/egame" class="fishing six-game"><img src="@/assets/images/open-fishing.png"></router-link>
          <router-link to="/real" class="real six-game"><img src="@/assets/images/open-casino.png"></router-link>
          <router-link to="/egame" class="slots six-game"><img src="@/assets/images/open-slots.png"></router-link>
        </div>
        <div class="swipe">
          <img src="@/assets/images/banner-frame.png" alt="" class="swipe-border">
          <van-swipe class="my-swipe" :autoplay="3000" indicator-color="white">
            <van-swipe-item v-for="(item, index) in carouselList" :key="index">
              <img class="d-block" :src="item.titleImg">
            </van-swipe-item>
          </van-swipe>
        </div>
      </div>
      <div class="row wrapper">
        <div class="rpoint-title">{{title}} {{$t('奖励积分兑换')}}</div>
        <div class="reward-wrapper">
          <div class="row-box">
            <div class="left"><img src="@/assets/images/deposit-glow.png" alt=""></div>
            <div class="right"><div><span>{{$t('存款')}}</span><br>{{$t('在')}}{{title}}{{$t('进行存款')}}</div></div>
          </div>
          <div class="row-box">
            <div class="left"><img src="@/assets/images/point-glow.png" alt=""></div>
            <div class="right"><div><span>{{$t('取款')}}</span><br>{{$t('在')}}{{title}}{{$t('进行取款')}}</div></div>
          </div>
          <div class="row-box">
            <div class="left"><img src="@/assets/images/redeem-glow.png" alt=""></div>
            <div class="right"><div><span>{{$t('优惠活动')}}</span><br>{{$t('查看更多优惠活动')}}</div></div>
          </div>
        </div>
        <router-link to="/active" class="info-btn">{{$t('更多资讯')}}</router-link>
      </div>
      <div class="row us-box">
        <div class="contact-us-box">
          <div class="contbox">
            <h3>{{$t('联系我们')}}</h3>
            {{$t('我们为玩家们提供世界一流的娱乐体验以及重视所有反馈。让我们知道您的想法！请通过以下任何一种方式与我们联系。')}}
          </div>
        </div>
        <div class="contact-media-wrapper">
          <div class="cmw-box">
            <img src="@/assets/images/wechat-icon.png">
            <router-link class="cm-detail" to="/">casinojr</router-link>
            <h4>{{$t('微信')}}</h4>
          </div>

          <div class="cmw-box">
            <img src="@/assets/images/email-icon.png">
            <a href="mailto:support@casinojr.com" class="cm-detail" style="font-size: 11px;">support@casinojr.com</a>
            <h4>{{$t('电邮')}}</h4>
          </div>

          <div class="cmw-box">
            <img src="@/assets/images/whatsapp-icon.png">
            <a href="https://api.whatsapp.com/send?phone=60178482934&amp;text=%5BCJR%5D%20Hi%20JR%20Official" target="_blank" class="cm-detail">+6017 8482 934</a>
            <h4>Whatsapp</h4>
          </div>

          <div class="cmw-box">
            <img src="@/assets/images/telegram-icon.png">
            <a href="https://t.me/casinojrv2" target="_blank" class="cm-detail">casinojr</a>
            <h4>Telegram</h4>
          </div>
        </div>
      </div>
    </div>
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import head_nav from '@/components/include/head_nav'
import foot_nav from '@/components/include/foot_nav'
import '@/assets/css/index.less'
export default {
  name: "index",
  data(){
    return{
      carouselList:'',
      title:this.$store.state.stationInfo.content.title || ''
    }
  },
  components:{
    head_nav, foot_nav
  },
  created() {
    this.getLunBo()
  },
  mounted() {
  },
  methods:{
    getLunBo:function (){
      this.$fetch('native/getLunBo.do').then((res) => {
        this.carouselList = res
      })
    },
  }
}
</script>

<style scoped>

</style>
