<template>
  <div class="message">
    <head_nav></head_nav>
    <div class="message-main">
      <div class="content row">
        <div class="title">{{$t('收件箱')}}</div>
        <div class="table">
          <table>
            <thead>
              <tr><th width="10%">{{$t('序号')}}</th><th width="60%">{{$t('标题')}}</th><th width="30%" class="date-mail">{{$t('时间')}}</th></tr>
            </thead>
            <tbody>
              <tr @click="open(item)" v-for="(item, index) in messageList" :key="index">
                <td width="10%">{{index+1}}</td><td width="60%">{{item.title}}</td><td width="30%" v-html="$root.common.getMyDate(item.createTime)"></td>
              </tr>
            </tbody>
          </table>
          <div class="block" style="position: absolute;right: 20px;bottom: 20px;">
            <el-pagination
                @prev-click="pageClick(Inquiry.page - 1)"
                @next-click="pageClick(Inquiry.page + 1)"
                @current-change="handleCurrentChange"
                :current-page.sync="Inquiry.page"
                :page-size="Inquiry.rows"
                layout="prev, pager, next"
                background
                :total="total">
            </el-pagination>
          </div>
        </div>
      </div>
      <transition name="popup">
        <div class="popup" v-show="popupShow">
          <div class="popup-box">
            <div class="title">{{messageData.title}}</div>
            <div class="close" @click="popupShow = false"><img src="@/assets/images/close-plate.png" alt=""></div>
            <div class="active-content">
              {{messageData.message}}
            </div>
          </div>
        </div>
      </transition>
    </div>
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import head_nav from '@/components/include/head_nav'
import foot_nav from '@/components/include/foot_nav'
import "@/assets/css/message.less"

export default {
  name: "message",
  data() {
    return {
      popupShow: false,
      messageList:'',
      Inquiry:{
        page:1,
        rows:10
      },
      total:1,
      messageData:'',
    }
  },
  components: {
    head_nav, foot_nav
  },
  created() {
    this.getMessage()
  },
  mounted() {
  },
  methods: {
    getMessage:function () {
      this.$fetch('native/message_list.do',this.Inquiry,false).then(res=>{
        if(res.success){
          this.messageList = res.content.datas
          this.total = res.content.totalCount
        }
      })
    },
    handleCurrentChange: function (val) {
      this.pageClick(val)
    },
    pageClick: function (page) {
      this.Inquiry.page = page
      this.getMessage()
    },
    open:function (item){
      this.popupShow = true
      this.messageData = item
    },
  }
}
</script>

<style scoped>

</style>
