<template>
  <div class="phone">
    <head_nav></head_nav>
    <div class="content">
      <div class="row">
        <div class="filter-menu-bar" @click="popupShow = true">
          <div class="mbox filter" data-filter=".android">
            <div><img src="@/assets/images/android-icon.png">{{$t('安卓')}}</div>
          </div>
          <div class="mbox filter" data-filter=".ios">
            <div><img src="@/assets/images/ios-icon.png">{{$t('苹果')}}</div>
          </div>
        </div>
        <div @click="popupShow = true" class="boxes">
          <div class="mobile-bx mix android ios" style="display: inline-block;" data-bound="">
            <a href="javascript:void(0)" data-toggle="modal" data-target="#mobile-ab">
              <div class="mobile-dl">
                <img class="close_img" src="@/assets/images/allbet-b.png">
                <img class="open_img" src="@/assets/images/allbet-a.png">
              </div>
            </a>
          </div>
          <div class="mobile-bx mix ios android" style="display: inline-block;" data-bound="">
            <a href="javascript:void(0)" data-toggle="modal" data-target="#mobile-gs">
              <div class="mobile-dl">
                <img class="close_img" src="@/assets/images/gamingsoft-b.png">
                <img class="open_img" src="@/assets/images/gamingsoft-a.png">
              </div>
            </a>
          </div>
          <div class="mobile-bx mix android ios" style="display: inline-block;" data-bound="">
            <a href="javascript:void(0)" data-toggle="modal" data-target="#mobile-jk">
              <div class="mobile-dl">
                <img class="close_img" src="@/assets/images/joker-b.png">
                <img class="open_img" src="@/assets/images/joker-a.png">
              </div>
            </a>
          </div>
          <div class="mobile-bx mix android ios" style="display: inline-block;" data-bound="">
            <a href="javascript:void(0)" data-toggle="modal" data-target="#mobile-live">
              <div class="mobile-dl">
                <img class="close_img" src="@/assets/images/live22-b.png">
                <img class="open_img" src="@/assets/images/live22-a.png">
              </div>
            </a>
          </div>
          <div class="mobile-bx mix android ios" style="display: inline-block;" data-bound="">
            <a href="javascript:void(0)" data-toggle="modal" data-target="#mobile-mg">
              <div class="mobile-dl">
                <img class="close_img" src="@/assets/images/mega-b.png">
                <img class="open_img" src="@/assets/images/mega-a.png">
              </div>
            </a>
          </div>
          <div class="mobile-bx mix android ios" style="display: inline-block;" data-bound="">
            <a href="javascript:void(0)" data-toggle="modal" data-target="#mobile-kiss">
              <div class="mobile-dl">
                <img class="close_img" src="@/assets/images/918kiss-b.png">
                <img class="open_img" src="@/assets/images/918kiss-a.png">
              </div>
            </a>
          </div>
          <div class="mobile-bx mix android ios" style="display: inline-block;" data-bound="">
            <a href="javascript:void(0)" data-toggle="modal" data-target="#mobile-pussy">
              <div class="mobile-dl">
                <img class="close_img" src="@/assets/images/pussy-b.png">
                <img class="open_img" src="@/assets/images/pussy-a.png">
              </div>
            </a>
          </div>
          <div class="mobile-bx mix android ios" style="display: inline-block;" data-bound="">
            <a href="javascript:void(0)" data-toggle="modal" data-target="#mobile-kaya">
              <div class="mobile-dl">
                <img class="close_img" src="@/assets/images/kaya-b.png">
                <img class="open_img" src="@/assets/images/kaya-a.png">
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <transition name="popup">
      <div class="popup" v-if="popupShow">
        <div class="popup-box">
          <div class="title"></div>
          <div class="close" @click="popupShow = false"><img src="@/assets/images/close-plate.png" alt=""></div>
          <div class="code-line">
            <div class="mobox">
              <div class="qrbox">
                <img :src="appData.AndroidQrUrl" alt="">
              </div>
              <a :href="appData.AndroidDownUrl" target="_blank" class="mdl-title">
                <div class="device-icon">
                  <img src="@/assets/images/android-round.png">
                </div>
                <div class="gtitle">{{$t('老虎机')}}</div>
              </a>
            </div>
            <div class="mobox">
              <div class="qrbox">
                <img :src="appData.iosQrUrl" alt="">
              </div>
              <a :href="appData.iosDownUrl" target="_blank" class="mdl-title">
                <div class="device-icon">
                  <img src="@/assets/images/ios-round.png">
                </div>
                <div class="gtitle">{{$t('老虎机')}}</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </transition>
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import head_nav from '@/components/include/head_nav'
import foot_nav from '@/components/include/foot_nav'
import "@/assets/css/phone.less"
import {Toast} from "vant";
export default {
  name: "phone",
  data(){
    return {
      popupShow:false,
      appData:'',
    }
  },
  components:{
    head_nav, foot_nav
  },
  created() {
    this.getAppDownUrl()
  },
  mounted() {
  },
  methods:{
    getAppDownUrl:function () {
      this.$post('native/getAppDownUrl.do',this.user,true).then(res=>{
        if(res.success){
          this.appData = res.content
        } else {
          Toast(res.msg)
        }
      })
    },
  },
}
</script>

<style scoped>

</style>
