<template>
  <div class="register">
    <head_nav></head_nav>
    <div class="other">
      <div class="reg-wrapper">
        <div class="reg-title">{{$t('用户注册')}}</div>
        <div class="registration">
          <div class="content">
            <div class="content-import">
              <ul>
                <li v-for="(item,index) in informationList" :key="index">
                  <label><span>{{item.label}}：</span></label>
                  <input :type="item.type" v-model="item.value" :maxlength="item.maxlength || 10" name="password" :placeholder="item.placeholder">
                </li>
                <li>
                  <label><span>{{$t('验证码：')}}</span></label>
                  <div class="verifyCode">
                    <input type="type" name="verifyCode" v-model="sms" :placeholder="$t('请输入验证码')">
                    <img @click="verifyCode" :src="verifyCodeImg" alt="" >
                  </div>
                </li>
              </ul>
            </div>
            <div style="margin-top: 50px;text-align: center"><div class="login-button" @click="registerUser()">{{$t('立即注册')}}</div></div>
          </div>
        </div>
      </div>
    </div>
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import head_nav from '@/components/include/head_nav'
import foot_nav from '@/components/include/foot_nav'
import {Toast} from  'vant'
import "@/assets/css/register.less"

export default {
  name: "register",
  components:{
    head_nav ,foot_nav
  },
  data(){
    return {
      verifyCodeNum:1,
      verifyCodeImg:'',
      sms:'',
      informationList:[
        {label:this.$t('用户账号'),key:'account',maxlength:11,value:'',type:'text',placeholder:this.$t('用户名为5-11个英文字母或数字'),requiredVal:2},
        {label:this.$t('登陆密码'),key:'password',maxlength:16,value:'',type:'password',placeholder:this.$t('密码为6-16个英文字母或数字'),requiredVal:2},
        {label:this.$t('重复密码'),key:'rpassword',maxlength:16,value:'',type:'password',placeholder:this.$t('请再次输入密码'),requiredVal:2},
      ],
    }
  },
  created:function () {
  },
  mounted:function(){
    this.regconfig()
    this.verifyCode()
  },
  methods:{
    registerUser:function(){
      if(this.informationList[1].value != this.informationList[2].value){
        Toast(this.$t('两次密码不一致'))
        return false
      }
      if(!this.sms){
        Toast(this.$t('请输入验证码'))
        return false
      }
      for(let i = 0 ; i < this.informationList.length; i++){
        if(this.informationList[i].requiredVal == 2){
          if(!this.$root.common.dataSafeValidate(1,this.informationList[i].value)){
            return false
          }
        }
      }
      let params = {}
      for(let i = 0; i < this.informationList.length; i++){
        params[this.informationList[i].key] = this.informationList[i].value;
      }
      params['verifyCode'] = this.sms
      params['platForm'] = 1
      this.$post('native/register.do',params,true).then(res =>{
        if(res.success){
          Toast(this.$t('注册成功'));
          this.$root.common.isLoginSession(true)
          this.$router.push({path:'/'})
        } else {
          Toast(res.msg);
          this.verifyCode()
        }
      })
    },
    regconfig:function () {
      this.$fetch('native/regconfig.do',{platFrom:1},false).then(res =>{
        if(res.success){
          if(res.content){
            for(let i in res.content){
              var obj = {type:'text',value:''};
              obj['label'] = res.content[i].name;
              obj['key'] = res.content[i].key;
              obj['placeholder'] = res.content[i].remindText || this.$t('请输入') + res.content[i].name;
              obj['requiredVal'] = res.content[i].requiredVal;
              switch (res.content[i].key) {
                case 'userName':
                  obj['maxlength'] = 4;
                  break;
                case 'qq':
                  obj['maxlength'] = 12;
                  break;
                case 'phone':
                  obj['maxlength'] = 11;
                  break;
                case 'email':
                  obj['maxlength'] = 22;
                  break;
                case 'receiptPwd':
                  obj['maxlength'] = 20;
                  break;
                case 'cardNo':
                  obj['maxlength'] = 25;
                  break;
                case 'wechat':
                  obj['maxlength'] = 20;
                  break;
                case 'promoCode':
                  obj['maxlength'] = 10;
                  break;
                default:
                  obj['maxlength'] = 10;
              }
              this.informationList.push(obj);
            }
          }
        } else {
          Toast(this.$t('获取注册信息失败,请刷新页面重试'))
        }
      }, resolve =>{
        console.log(resolve)
      })
    },
    verifyCode:function () {
      this.verifyCodeImg = this.$store.state.apiUrl + 'native/regVerifycode.do?v=' + ++this.verifyCodeNum + '&flag=false'
    }
  },
}
</script>

<style scoped>

</style>
