<template>
  <div class="main">
    <head_nav></head_nav>
    <div class="other">
      <div class="row">
        <div id="sportTab">
          <div class="sport_btn" @click="sportLoca('hg')" v-if="hgSport">
            <img :src="hgSport.imgUrl">{{$store.state.escapeList[129]}}
          </div>
          <div class="sport_btn" @click="sportLoca('sb')" v-if="sbSport">
            <img :src="sbSport.imgUrl">{{$t('沙巴体育')}}
          </div>
          <div class="sport_btn" @click="sportLoca('bb')" v-if="bbSport">
            <img :src="bbSport.imgUrl">{{$t('BB体育')}}
          </div>
        </div>
        <iframe src="/common/template/sports/newhg/dist/index.html#/" id="mainframe" name="header2" align="top" width="1140px" height="850" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe>
      </div>
    </div>
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import head_nav from '@/components/include/head_nav'
import foot_nav from '@/components/include/foot_nav'
import "@/assets/css/include/base.less"

export default {
  name: "sport",
  data(){
    return{
      bbSport:'',
      sbSport:'',
      hgSport:''
    }
  },
  components:{
    head_nav,foot_nav
  },
  created() {
  },
  mounted() {
    this.getDatasBesidesLotterys()
  },
  methods:{
    getDatasBesidesLotterys:function () {
      this.$fetch('native/getDatasBesidesLotterys.do',{}).then((res) => {
        let that = this;
        if(res.success){
          for(let index in res.content){
            if(res.content[index].title == this.$t('沙巴体育')){
              that.sbSport = res.content[index]
            } else if(res.content[index].title == this.$t('BB体育')){
              that.bbSport = res.content[index]
            }
            if (res.content[index].title == this.$t('皇冠体育')){
              that.hgSport = res.content[index]
            }
          }
        }
      })
    },
    sportLoca:function (type) {
      let params = {};
      if(type == 'sb'){
        params = {
          playCode: 'ibc',
        }
        this.$post('native/forwardReal.do',params,true).then((res) => {
          if(res.success){
            window.open(res.content.url,'_blank')
          } else {
            this.$toast(res.msg)
          }
        })
      } else if(type == 'bb'){
        params = {
          type: 'ball',
        }
        this.$post('forwardBbin.do',params,true).then(res =>{
          if(res.success){
            window.open(res.url,'_blank')
          } else {
            this.$toast(res.msg)
          }
        })
      }
    }
  }
}
</script>

<style scoped lang="less">
  .main{
    background: url("../assets/images/sports_bg.jpg") no-repeat top center;
  }
  .row{
    padding: 30px 0;
  }
  .verifyCode{
    position: relative;
    img{
      position: absolute;
      right: 0;
      height: 37px;
    }
  }
  #sportTab {
    height: 60px;
    width: 1000px;
    margin: 0 auto;
    text-align: left;
  }

  .sport_btn {
    float: left;
    width: 114px;
    height: 50px;
    border-radius: 3px;
    background: #f1f1f1;
    margin-left: 5px;
    cursor: pointer;
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#000;
  }

  .sport_btn:hover {
    background: #ff9726;
    color: #fff;
  }

  .sport_btn img {
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 5px;
  }
</style>
