<template>
  <div class="about">
    <personal_header :titleDate="titleDate"></personal_header>
    <div class="about-wrap">
      <ul class="about-list-item">
        <router-link :to="{path:'/art',query:{item:item}}" tag="li" class="item" v-for="(item,index) in aboutDate" :key="index">
          <div>{{item.title }}</div>
         <van-icon name="arrow" size="16px" />
        </router-link>
      </ul>
    </div>
  </div>
</template>

<script>
import personal_header from "@/components/include/personal_header";
import '@/assets/css/center/about.less'
import {Toast} from "vant";
export default {
  name: "about",
  components:{personal_header},
  data(){
    return{
      titleDate:{title:'关于我们',rule:{text:'',url:''},},
      aboutDate:[],
    }
  },
  created() {
    this.getAbout()
  },
  mounted() {
  },
  methods:{
    getAbout: function () {
      let params = {
        token: this.$store.state.token,
      }
      this.$post('user/about_us', params, true).then((res) => {
        if (res.code == 200) {
          this.aboutDate = res.data
        } else {
          Toast(res.message)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>
