<template>
  <div class="account">
    <personal_header :titleDate="titleDate"></personal_header>
    <div class="account-wrap">
      <ul class="account-list-wrap">
        <li class="two-item">
            <div class="two-left">
              <p>手机号</p>
            </div>
            <div class="two-tip">
              <span>{{$store.state.userInfo.phone}}</span>
            </div>
          </li>
        <router-link to="/setpass" tag="li" class="two-item">
          <div class="two-left">
            <p>登录密码</p>
          </div>
          <div class="two-tip">

            <van-icon name="arrow" size="16px" />
          </div>
        </router-link>
        <router-link :to="{path:'/setpass',query:{tag:'pay'}}" tag="li" class="two-item">
          <div class="two-left">
            <p>支付密码</p>
          </div>
          <div class="two-tip">
            <van-icon name="arrow" size="16px" />
          </div>
        </router-link>
        <router-link :to="{path:'/alipay'}" tag="li" class="two-item">
          <div class="two-left">
            <p>支付宝账号</p>
          </div>
          <div class="two-tip">

            <van-icon name="arrow" size="16px" />
          </div>
        </router-link>
        <router-link to="/auth" tag="li" class="two-item">
          <div class="two-left">
            <!--              <span ></span>-->
            <p>实名认证</p>
          </div>
          <div class="two-tip">
            <van-tag plain type="primary" v-if="$store.state.userInfo.auth == 1">已认证</van-tag>
            <van-tag plain color="#cccccc" v-else>未认证</van-tag>
            <van-icon name="arrow" size="16px" />
          </div>
        </router-link>
<!--        <router-link to="/login" tag="li" class="two-item">-->
<!--          <div class="two-left">-->
<!--            &lt;!&ndash;              <span ></span>&ndash;&gt;-->
<!--            <p>注销账号</p>-->
<!--          </div>-->
<!--          <div class="two-tip">-->
<!--            <van-icon name="arrow" size="16px" />-->
<!--          </div>-->
<!--        </router-link>-->
      </ul>
    </div>
  </div>
</template>

<script>
import personal_header from "@/components/include/personal_header";
import '@/assets/css/center/account.less'
export default {
  name: "account",
  components:{personal_header},
  data(){
    return{
      titleDate:{title:'账户信息',rule:{text:'',url:''},},

    }
  },
  created:function(){
    this.getCommodit();
  },
  mounted:function(){
  },
  methods:{

  }
}
</script>

<style scoped>

</style>
