<template>
  <div class="cash">
    <personal_header :titleDate="titleDate"></personal_header>
    <div class="cash-wrap">
      <div class="bank-info" @click="backShow = !backShow">
        <span>提现银行</span>
        <div class="bank-info-right" >
          <div class="bank-info-icon"></div>
          <div class="bank-info-name">{{getData.bank}}</div>
        </div>
      </div>
      <div class="bank" >
        <van-popup v-model="backShow" round position="bottom" custom-style="height: 20%">
          <div class="back-list" v-for="(item, index) in cashData.bank" :key="index" @click="select(item)">
            <ul>
              <li>
                <div class="list-left">
                  <p>{{item.bank}}</p>
                  <p>{{item.account}}</p>
                </div>
                <div class="list-right">
                  <span>{{item.bank}}</span>
                  <van-icon name="arrow" />
                </div>
              </li>
            </ul>
          </div>
          <div class="button">
            <span @click="addBank">添加</span>
          </div>
        </van-popup>
      </div>
      <div class="header">
        <h1>提款金额</h1>
        <div class="input-money-wrap">
          <!--          <span>￥</span>-->
          <van-field value="" placeholder="请输入提现金额" size="large" left-icon="gold-coin-o"  class="money-input" v-model="money"/>
        </div>
        <div class="money-list">可用余额: <span>{{cashData.money}}</span> 元</div>
        <div class="line-bank">
          <van-cell-group>
            <van-field label="交易密码" v-model="password" placeholder="请输入交易密码" border :change="onChange" z-index="5555"/>
          </van-cell-group>
        </div>
        <router-link tag="div" :to="{path:'/setpass',query:{tag:'pay'}}" style="padding: 10px;text-align: right;">忘记密码？</router-link>
        <p class="rightAway-record" @click="postCash()">立即提款</p>
      </div>
<!--      <div class="prompt">-->
<!--          <h1>提现说明</h1>-->
<!--          <p >1.注册、签到、实名认证赠送的现金为系统福利</p>-->
<!--          <p >2.投资500元，就会有500流水</p>-->
<!--          <p >3.流水未达到1500元,账户上的系统福利不可提出，系统送的福利金额可参与投资-->
<!--            <span style="color: rgb(15, 121, 255);">(您充值的本金可以随时提，不受流水影啊)</span>-->
<!--          </p>-->
<!--          <p >4.工作时间提现,9:00-23:00,都是即时到账，夜间提现,次日处理。因公司账户跨行转账,要具体根据您的银行卡到账时间为准,正常是两个小时内到账</p>-->
<!--          <p  style="color: red;">5.提现到支付宝24小时秒提</p>-->
<!--      </div>-->
    </div>
  </div>
</template>

<script>
import personal_header from "@/components/include/personal_header";
import '@/assets/css/center/cash.less'
import {Toast} from "vant";
export default {
  name: "cash",
  components:{
    personal_header
  },
  data(){
    return{
      titleDate:{title:'提款',rule:{text:'',url:''}},
      password:'',
      money:'',
      backShow:true,
      cashData:'',
      getData:{
        bank:'',
      },
    }
  },
  created() {
    this.getCash()
  },
  mounted() {
  },
  methods:{
    onClose(){
      console.log(888)
    },
    onChange(e){
      console.log(e)
    },
    addBank(){
      this.$router.push('/bank')
    },
    getCash:function(){
      let params = {
        token:this.$store.state.token
      }
      this.$post('user/cash',params,true).then((res) => {
        if(res.code == 200){
          this.cashData = res.data
          this.getData = res.data.bank[0]
        } else {
          Toast(res.message)
        }
      })
    },
    postCash:function(){
      let params = {
        token:this.$store.state.token,
        pwd:this.password,
        bank:this.getData.id,
        money:this.money,
      }
      if(!this.$root.common.dataSafeValidate(2,params)){
        return false
      }
      this.$post('user/cashpost',params,true).then((res) => {
        if(res.code == 200){
          Toast('提交成功')
        } else {
          Toast(res.message)
        }
      })
    },
    select:function (item){
      this.getData = item
      this.backShow = false
      console.log(item)
    }
  }
}
</script>

<style scoped>

</style>
