<template>
  <div class="founds">
    <personal_header :titleDate="titleDate"></personal_header>
    <div class="founds-wrap" v-if="integralData.length >= 1">
      <ul>
        <li class="invest-list-item" v-for="(item,index) in integralData" :key="index">
          <div class="item">
            <div class="item-left">
              <div class="icon-b"></div>
              <div class="text-info">
                <p>
                  <sub>{{item.reason}}</sub>
                </p>
                <p>{{item.time}}</p>
              </div>
            </div>
            <div class="item-right">
              <span style="color: #000" v-if="index % 2 == 0">{{item.money}}</span>
              <span style="color: #e7c899" v-else>{{item.money}}</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="list" v-else>
      <div style="padding: 20px;font-size: 15px;text-align: center;">暂无记录</div>
    </div>
  </div>
</template>

<script>
import personal_header from "@/components/include/personal_header";
import '@/assets/css/center/founds.less'
import {Toast} from "vant";
export default {
  name: "founds",
  components:{personal_header},
  data(){
    return{
      titleDate:{title:'积分明细',rule:{text:'',url:''}},
      integralData:'',
    }
  },
  created() {
    this.getFunds()
  },
  mounted() {
  },
  methods:{
    getFunds:function (){
      let params = {
        token:this.$store.state.token,
      }
      this.$post('user/jf_funds',params,true).then((res) => {
        if(res.code == 200){
          this.integralData = res.data
        } else {
          Toast(res.message)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>
