<template>
  <div class="server">
    <iframe src="https://chatlink123.meiqia.cn/widget/standalone.html?eid=f2a7b6268a3551f63deb3d561d11aa88" frameborder="0" width="100%" height="100%" class="server"></iframe>
  </div>
</template>

<script>
import '@/assets/css/tabs/licai.less'
export default {
  name: 'server',
  data(){
    return{

    }
  },
  created:function(){

  },
  mounted:function(){
  },
  methods:{

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">
.server{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow-x:hidden;
}

</style>
