<template>
  <div class="setpass">
    <personal_header :titleDate="titleDate"></personal_header>
    <div class="setpass-wrap">
      <div class="form">
        <van-cell-group v-if="!payPassword">
          <van-field v-model="params.olopassword" clearable label="旧登录密码" icon="question-o" placeholder="请输入旧登录密码" size="large"/>
          <van-field v-model="params.password" clearable label="新登录密码" icon="question-o" placeholder="请输入新登录密码" size="large"/>
          <van-field v-model="params.repassword" clearable label="确认密码" icon="question-o" placeholder="请再次输入密码" size="large"/>
        </van-cell-group>
        <van-cell-group v-else>
          <van-field v-model="params.olopassword" clearable label="登录密码" icon="question-o" placeholder="请输入原登录密码" size="large"/>
          <van-field v-model="params.password" clearable label="新密码" icon="question-o" placeholder="请输入新支付密码" size="large"/>
          <van-field v-model="params.repassword" clearable label="确认密码" icon="question-o" placeholder="请再次输入密码" size="large"/>
        </van-cell-group>
      </div>
      <div class="tip" v-if="payPassword">
        提醒：支付密码默认为登录密码
      </div>
      <div class="submit">
        <div class="button" >
          <span  style="width: 80%;padding: 15px 0;font-size: 15px" @click="postLoginPass()" v-if="!payPassword">提交</span>
          <span  style="width: 80%;padding: 15px 0;font-size: 15px" @click="postPayPass()" v-else>提交</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import personal_header from "@/components/include/personal_header";
import '@/assets/css/center/setpass.less'
import {Toast} from "vant";
export default {
  name: "setpass",
  components:{personal_header},
  data(){
    return{
      titleDate:{title:'设置登录密码',rule:{text:'',url:''}},
      params:{password:'',olopassword:'',repassword:'',},
      payPassword:false,
    }
  },
  created() {
    if (this.$route.query.tag == 'pay'){
      this.titleDate.title = '设置支付密码'
      this.payPassword = true
    }
  },
  mounted() {
  },
  methods:{
    postPayPass: function () {
      let params = {
        token: this.$store.state.token,
        oldpwd: this.params.olopassword,
        pwd: this.params.password,
        pwd2: this.params.repassword,
      }
      if(!this.$root.common.dataSafeValidate(2,params)){
        return false
      }
      this.$post('user/pwd_pay', params, true).then((res) => {
        if (res.code == 200) {
          this.shareData = res.data
        } else {
          Toast(res.message)
        }
      })
    },
    postLoginPass: function () {
      let params = {
        token: this.$store.state.token,
        oldpwd: this.params.olopassword,
        pwd: this.params.password,
        pwd2: this.params.repassword,
      }
      if(!this.$root.common.dataSafeValidate(2,params)){
        return false
      }
      this.$post('user/pwd_login', params, true).then((res) => {
        if (res.code == 200) {
          this.shareData = res.data
        } else {
          Toast(res.message)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>
