.bet{
	.public_header{
		position: relative;
		.button{
			position: absolute;
			height: 100rpx;
			right: 20rpx;
			top: 0;
			line-height: 100rpx;
		}
	}
	  .lobby-index-container{
	    width: 100%;
	    box-sizing: border-box;
	    background-color: #ffffff;
	    .guess-title{
	      padding: 20rpx;
	      box-sizing: border-box;
	      background-color: #ffffff;
		  box-shadow: 0 0 10rpx rgba(0, 0, 0, 0.2);
	      .top{
	        display: flex;
	        width: 100%;
	        .top-left{
	          width: 300rpx;
	          height: 50px;
	          background: url("/static/images/img_1.9e785af.png") no-repeat 50%/100% 100%;
	          .issue{
	            font-size: 24rpx;
	            font-weight: bolder;
	            color: #f0ebeb;
	            padding: 5rpx 0;
	          }
	        }
	        .draw{
	          width: 25%;
	          line-height: 100rpx;
	          text-align: center;
	          font-size: 36rpx;
	          font-weight: 700;
	        }
	        .no-draw{
	          line-height: 100rpx;
	          width: 50%;
	          text-align: center;
	          font-size: 36rpx;
	          font-weight: 700;
	          span{
	            width: 40rpx;
	            display: inline-block;
	          }
	          span:after {
	            overflow: hidden;
	            display: inline-block;
	            vertical-align: bottom;
	            animation: ellipsis 2s infinite;
	            content: "\2026";
	          }
	          @keyframes ellipsis {
	            from {
	              width: 4rpx;
	            }
	            to {
	              width: 40rpx;
	            }
	          }
	        }
	      }
	      .bottom{
	        display: flex;
	        margin-top: 20rpx;
	        align-items: center;
	        .issue{
	          color: #000000;
	          font-size: 28rpx;
	          font-weight: bolder;
	          width: 70%;
	        }
	        .time{
	          text-align: left;
	          color: #FF612F;
	          font-size: 40rpx;
	          width: 30%;
	          font-weight: bolder;
	        }
	      }
	    }
	    .guess-content{
	      margin-top: 40rpx;
	      width: 100%;
	      box-sizing: border-box;
	      .title{
	        padding: 30rpx;
	        .title-button{
	          display: flex;
	          justify-content: space-between;
	          margin-top: 10rpx;
	          button{
	            background-color: gold;
	            width: 23%;
				height: 70rpx;
				line-height: 70rpx;
	            padding: unset;
				border-radius: 100rpx;
				font-size: 26rpx;
	          }
	
	        }
	        .title-img{
	          display: flex;
	          justify-content: space-between;
	          .title-img-wrap{
	            width: 25%;
	            text-align: center;
	            image{
	              height: 144rpx;
	              width: 144rpx;
	              border: 4rpx solid #ecb7b7;
	            }
	          }
	          .activeImg{
	              border: 4rpx solid #FF612F!important;
	          }
	        }
	        .active{
	          background: #FF612F!important;
			  color: #ffffff!important;
	        }
	
	      }
	      .content{
	        box-sizing: border-box;
	        display: flex;
	        justify-content: space-between;
	        flex-wrap: wrap;
	        padding: 30rpx;
	        margin-bottom: 110px;
	        .content-item{
	          width: 25%;
	          text-align: center;
	          margin-bottom: 40rpx;
	          box-sizing: border-box;
	          .active{
	            border: 4rpx solid #FF612F;
	          }
	          image{
	            height: 144rpx;
	            width: 144rpx;
	            border: 4rpx solid #ecb7b7;
	          }
	        }
	
	      }
	    }
	    .guess-footer{
	      width: 100%;
	      box-sizing: border-box;
	      border-top: 4rpx solid #eee;
	      position: fixed;
	      bottom: 0;
	      .cathectic{
	        display: flex;
	        justify-content: space-between;
	        align-items: center;
	        height: 108rpx;
	        padding: 0 20rpx;
	        width: 100%;
	        box-sizing: border-box;
	        background-color: #ffffff;
	        button{
	          height: 70rpx;
	          background-color: coral;
	          border-radius: 10rpx;
			  line-height: 70rpx;
	          color: #fff;
	          font-size: 30rpx;
	        }
	      }
	      .submit{
	        justify-content: space-between;
	        display: flex;
	        align-items: center;
	        height: 102rpx;
	        padding: 0 20rpx;
	        width: 100%;
	        box-sizing: border-box;
	        background-color: #f7f7f7;
	        .van-button{
	          height: 70rpx;
	        }
	        button{
	          &:first-child{
	            font-size: 30rpx;
	          }
	          &:last-child{
	            background-color: #FF612F;
	            color: #ffffff;
	            font-size: 30rpx;
	          }
	        }
	        .money{
	          font-size: 30rpx;
	          span{
	            font-size: inherit;
	            color: #000000;
	            &:first-child{
	              color: #838695;
	              i{
	                color: #FF612F;
	                font-size: inherit;
	              }
	            }
	            &:last-child{
	              padding-left: 4rpx;
	              i{
	                color: #FF612F;
	                font-size: inherit;
	              }
	            }
	          }
	        }
	      }
	    }
	  }
	  .more-module{
		  ul{
		        width: 100%;
				overflow: auto;
				padding-bottom: 50rpx;
		        li{
		          width: 100%;
		          background: #ffffff;
		          height: 98rpx;
		          a{
		            display: flex;
		            align-items: center;
		            padding-left: 20rpx;
		            box-sizing: border-box;
					color: #000000;
		            width: 100%;
		            height: 100%;
		            image{
		              height: 60rpx;
		              width: 60rpx;
		            }
		            span{
		              margin-left: 20rpx;
		              font-size: 32rpx;
		            }
		          }
				  .active{
				            background: #FF612F;
				            border-left: 16rpx;
				            color: #ffffff;
				          }
		        }
		      }
	  }
}