.draw-notice{
	position: relative;
  .content{
    width: 100%;
	height: 100%;
	overflow: auto;
    ul{
      li{
        width: 100%;
        height: 160rpx;
        background: #ffffff;
        .list-img{
          float: left;
          width: 25%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          img{
            width: 120rpx;
            height: 120rpx;
          }
        }
        .list-font{
          float: left;
          width: 75%;
          height: 100%;
          .title{
            float: left;
            width: 100%;
            margin-top: 30rpx;
            position: relative;
            span{
              font-size: 28rpx;
            }
            span:nth-child(2){
              position: absolute;
              right: 20rpx;
              color: #999;
            }
          }
          .result{
            float: left;
            margin-top: 20rpx;
            width: 100%;
            img{
              width: 60rpx;
            }
            .result-number{
              float: left;
              &:before,&:after{
                content: "";
                display: block;
                width: 0;
                height: 0;
                clear: both;
              }
            }
            .result-bigSmall{
              text-align: left;
              padding-right: 20rpx;
              span{
                line-height: 20rpx;
                text-align: center;
                font-size: 28rpx;
                color: #000000;
                text-indent: 0;
                background-size:100% ;
                padding-left: 20rpx;
                display: inline-block;
              }
              &:before,&:after{
                content: "";
                display: block;
                width: 0;
                height: 0;
                clear: both;
              }
            }
          }
          .number{
            span{
              display: block;
              float: left;
              margin-left: 6rpx;
              background: url("/static/images/blue_back.png") no-repeat scroll 50%/130%;
              width: 50rpx;
              height: 50rpx;
              line-height: 50rpx;
              text-align: center;
              font-size: 28rpx;
            }
          }
        }
      }
      .backGay{
        background: #f4f4f4;
      }
    }
    .load-more{
      width: 100%;
      height: 100rpx;
      text-align: center;
      line-height: 100rpx;
      font-size: 36rpx;
      color: #967f7f;
    }
  }
}
