<template>
  <div class="account_details">
    <personal_header @get_lottery_order="getAccountDetail" :headerData="headerData"></personal_header>
    <div class="content">
      <div class="content-card">
        <div class="c-c-item">
          <em v-if="typeStatus == 1">{{$store.state.escapeList[13]}}</em>
          <em v-else>{{$store.state.escapeList[14]}}</em>
          <p style="color: #00aa00;" v-if="typeStatus == 1">{{accountDetailList.aggsData.totalMoney || 0}}</p>
          <p style="color: #00aa00;" v-else>{{accountDetailList.aggsData.drawMoney || 0}}</p>
        </div>
      </div>
      <div class="content-list" v-if="accountDetail.length > 0">
        <van-pull-refresh v-model="refreshing" @refresh="onRefresh">
          <van-list v-model="loading" :finished="finished" finished-text="没有更多了" @load="getAccountDetail" :offset="50">
            <div class="list-wrap" v-for="(item,index) in accountDetail" :key="index" >
              <a href="javascript:void(0)">
                <p>
                  <span>{{type[typeStatus - 1].name}}方式: <em>{{getType(item.type)}}</em></span>
                  <span style="color:#5cb85c;" v-if="item.status == 2">处理成功</span>
                  <span  style="color: red;" v-else-if="item.status == 1">处理中</span>
                  <span style="color: red;" v-else-if="item.status == 3">处理失败</span>
                  <span style="color:red;" v-if="item.status == 4">已取消</span>
                  <span style="color:#5cb85c;" v-if="item.status == 5">已过期</span>
                </p>
                <p>
                  <span>{{type[typeStatus - 1].name}}金额：
                    <em v-if="typeStatus == 1">{{item.money}}</em>
                    <em v-if="typeStatus == 2">{{item.drawMoney}}</em>
                  </span>
                </p>
                <p><span>{{type[typeStatus - 1].name}}时间：<em>{{$root.common.getMyDate(item.createDatetime)}}</em></span></p>
                <p style="display: inline-block;">{{type[typeStatus - 1].name}}备注：<span>{{item.remark}}</span></p>
              </a>
            </div>
          </van-list>
        </van-pull-refresh>
      </div>
      <div style="text-align: center;background: #efeff4;line-height: 4rem;font-size: 1.8rem" v-else>
        <template v-if="floder == 'x002145' || floder == 'x002111' || floder == 'x002156'">
          暂时没有购单记录
        </template>
        <template v-else>
          {{$store.state.escapeList[15]}}
        </template>

      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/center/account_details.less'
import personal_header from '@/components/include/personal_header'
import {Dialog} from "vant";
export default {
  name: "account_details",
  components:{
    personal_header
  },
  data(){
    return{
      headerData:{title:this.$store.state.escapeList[16],filter:'accountDetails',popupHeight:'28.4rem'},
      accountDetail:[],
      accountDetailList:{
        aggsData:{}
      },
      typeStatus:1,
      type:[
        {type:1,name:this.$store.state.escapeList[17],url:'native/comrd.do'},
        {type:2,name:this.$store.state.escapeList[1],url:'native/drawrd.do'},
      ],//1 为充值记录，2 为提款记录
      params:{
        startTime:'',
        endTime:'',
        type:'',
        page:1,
        rows:6,
      },
      refreshing:false, //是否处于加载状态
      loading:false, //是否处于架子啊状态，加载过程中不触发load 事件
      finished:false,//是否已加载完成，加载完成不在触发,这里是改变text
      floder: this.$store.state.stationInfo.content.station.floder || 'x002',
    }
  },
  created() {
    if (this.floder == 'd00315'){
      this.headerData.title = '公益积分明细记录'
    }
  },
  mounted() {

  },
  methods:{
    //查询提款充值记录
     getAccountDetail:function (arg={aType:this.typeStatus}){
       this.typeStatus = arg.aType
       if ('endTime' in arg){
         this.params.endTime = arg.endTime
         this.params.startTime = arg.startTime
         this.params.type = arg.aTtype
         this.params.status = arg.aStatus
         this.accountDetail = []
         this.params.page = 0
         this.finished = false;
         this.loading = true;
       }
       this.params.page ++
       // this.params.startTime = '2018-05-03 00:00:00'
       this.$post(this.type[this.typeStatus - 1].url,this.params,true).then(res=>{
         if ('isLogin' in res && res.isLogin == false){
           Dialog.alert({
             title: '登陆提示',
             message: res.msg
           }).then(() => {
             this.$router.push({
               path: '/login',
             })
           });
           return
         }
         if (this.refreshing){
           this.accountDetail = []
           this.refreshing = false
         }

         this.accountDetail = [...this.accountDetail,...res.list]
         this.accountDetailList = res

         this.loading = false
         if (res.totalCount  <= (parseInt(this.params.rows) * parseInt(this.params.page))){
           this.finished = true
         }

       })
     },
    //清空数据
    onRefresh(){
      this.finished = false;
      this.loading = true;
      this.params.page = 0
      this.getAccountDetail({aType: this.typeStatus });
    },
  },
  computed:{
    getType(type){
      if (!type) console.log(type)
      return function (type){
        switch (type) {
          case 1:
            return this.$store.state.escapeList[18];
          case 2:
            return this.$store.state.escapeList[19];
          case 3:
            return this.$store.state.escapeList[20];
          case 4:
            return this.$store.state.escapeList[21];
          case 5:
            return this.$store.state.escapeList[22];
          case 6:
            return this.$store.state.escapeList[23];
          case 7:
            return this.$store.state.escapeList[24];
          case 8:
            return this.$store.state.escapeList[25];
          case 9:
            return this.$store.state.escapeList[26];
          case 10:
            return this.$store.state.escapeList[27];
          case 11:
            return this.$store.state.escapeList[28];
          case 12:
            return this.$store.state.escapeList[29];
          case 13:
            return this.$store.state.escapeList[30];
          case 14:
            return this.$store.state.escapeList[31];
          case 113:
            return this.$store.state.escapeList[32];
          case 15:
            return this.$store.state.escapeList[33];
          case 16:
            return this.$store.state.escapeList[34];
          case 87:
            return this.$store.state.escapeList[35];
          case 88:
            return this.$store.state.escapeList[36];
          case 55:
            return this.$store.state.escapeList[37];
          case 54:
            return this.$store.state.escapeList[38];
          case 78:
            return this.$store.state.escapeList[39];
          case 79:
            return this.$store.state.escapeList[40];
          case 80:
            return this.$store.state.escapeList[41];
          case 201:
            return this.$store.state.escapeList[42];
          case 202:
            return this.$store.state.escapeList[43];
          case 203:
            return this.$store.state.escapeList[44];
          case 204:
            return this.$store.state.escapeList[45];
          case 130:
            return this.$store.state.escapeList[46];
          case 131:
            return this.$store.state.escapeList[47];
          case 132:
            return this.$store.state.escapeList[48];
          case 133:
            return this.$store.state.escapeList[49];
          case 134:
            return this.$store.state.escapeList[50];
          case 135:
            return this.$store.state.escapeList[51];
          case 136:
            return this.$store.state.escapeList[52];
          case 137:
            return this.$store.state.escapeList[53];
          case 139:
            return this.$store.state.escapeList[54];
          case 138:
            return this.$store.state.escapeList[55];
          case 140:
            return this.$store.state.escapeList[56];
          case 141:
            return this.$store.state.escapeList[57];
          case 142:
            return this.$store.state.escapeList[58];
          case 143:
            return this.$store.state.escapeList[59];
          case 18:
            return this.$store.state.escapeList[60];
          case 19:
            return this.$store.state.escapeList[61];
          case 20:
            return this.$store.state.escapeList[62];
          case 17:
            return this.$store.state.escapeList[63];
          case 1130:
            return this.$store.state.escapeList[64];
          case 1131:
            return this.$store.state.escapeList[65];
          case 168:
            return this.$store.state.escapeList[66];
          case 169:
            return this.$store.state.escapeList[67];
          case 170:
            return this.$store.state.escapeList[68];
          case 23:
            return this.$store.state.escapeList[69];
          case 801:
            return this.$store.state.escapeList[70];
        }
      }
    },
  },
  filters:{
    typeStatusFilters:function (status){
      switch (status) {
        case 1:
          return '处理中';
        case 2:
          return '处理成功';
        case 3:
          return '处理失败';
        case 4:
          return '已取消';
        case 5:
          return '已过期';
      }
    },

  }
}
</script>

<style scoped>

</style>
