<template>
  <div class="backwater">
    <personal_header @get_lottery_order="get_lottery_order" :headerData="headerData"></personal_header>
    <div class="content">
      <table class="content-item-title" border="0" cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
          <th>{{$store.state.escapeList[74]}}</th>
          <th>时间</th>
          <th>金额</th>
          <th>状态</th>
          <th>操作</th>
        </tr>
        </tbody>
      </table>
      <table class="content-item-title">
        <tbody>
          <tr v-for="(item,index) in baclWaterList" :key="index">
            <td>{{getFormat(item.betType,1)}}</td>
            <td style="white-space:nowrap;">{{item.betDate}}</td>
            <td>{{item.backwaterMoney}}</td>
            <td>{{getFormat(item.backwaterStatus,2)}}</td>
            <td style="color:red;" v-if="item.backwaterStatus == 9" @click="cashing(item)">{{getFormat(item.backwaterStatus,3,item.id)}}</td>
          </tr>
        <tr>
          <td colspan="5" class="msg loadingMsg">已显示全部数据</td></tr>
        </tbody>
      </table>
    </div>
  </div>
</template>
<script>
import '@/assets/css/center/backwater.less'
import personal_header  from '@/components/include/personal_header'
import {Dialog } from "vant";
import { Toast} from "vant";
export default {
  name: "backwater",
  components:{
    personal_header
  },
  data(){
    return{
      headerData:{title:this.$store.state.escapeList[75],filter:'isBackWater',popupHeight:'18.4rem'},
      baclWaterList:[],
      baclWaterData:{},
      params:{
        startTime:'',
        endTime:'',
        type:9,
        page:0,
        rows:4,
      },
    }
  },

  created(){

  },
  methods:{
    get_lottery_order(arg=''){
      if (arg){
        this.params.endTime = arg.endTime
        this.params.startTime = arg.startTime
        this.params.type = 9
        this.baclWaterList = []
        this.finished = false;
        this.loading = true;
        this.params.page = 0
      }
      this.params.page ++
      this.$post('center/record/backwater/list.do',this.params,true).then(res=>{
        if ('isLogin' in res && res.isLogin == false){
          Dialog.alert({
            title: '登陆提示',
            message: res.msg
          }).then(() => {
            this.$router.push({
              path: '/login',
            })
          });
          return
        }
        this.baclWaterList = [...this.baclWaterList,...res.list]
        console.log(this.baclWaterList)
        this.baclWaterData = res
        if (res.totalCount  <= (parseInt(res.rows) * parseInt(res.pageSize))){
          this.finished = true
        }
      })
    },
    getFormat(value,t){
      if(t == 1){
        if(value==1){
          return this.$store.state.escapeList[9];
        }else if(value==2){
          return this.$store.state.escapeList[76];
        }else if(value==3){
          return this.$store.state.escapeList[77];
        }else if(value==4){
          return this.$store.state.escapeList[78];
        }else if(value==5){
          return this.$store.state.escapeList[79];
        }else if(value==6){
          return this.$store.state.escapeList[80];
        }else if(value==11){
          return this.$store.state.escapeList[81];
        }else if(value==15){
          return this.$store.state.escapeList[82];
        }else if(value==16){
          return this.$store.state.escapeList[83];
        }else if(value==99){
          return this.$store.state.escapeList[84];
        }
      }else if(t == 2){
        if(value==4){
          return this.$store.state.escapeList[85];
        }else if(value==9){
          return '待领取';
        }else if(value==8){
          return '已过期';
        }
      }else if(t == 3){
        if(value==9){
          return '领取';
        }else{
          return '';
        }
      }
    },
    cashing(item){
      this.$fetch('/center/record/backwater/cashing.do',item.id,true).then(res=>{
        if (res.success){
          Toast('领取成功')
          this.params.page - 1
          this.get_lottery_order()
        }else {
          Toast(res.msg)
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
