<template>
  <div class="balance_gemInfo_GemRecord">
    <header class="balance_header">
      <div class="left">
        <van-icon name="arrow-left" color="#418ce2"/>
        <span>返回</span>
      </div>
      <div class="middle">
        {{$route.query.option == 'out' ? out.title : entry.title}}
      </div>
      <div class="header_background"></div>
    </header>
    <main>
      <div style="font-size: 20px;text-align: center;font-weight: 600">{{$route.query.option == 'out' ? out.tip : entry.tip}}</div>
      <van-form @submit="onSubmit">
        <van-field
            left-icon="gold-coin"
            v-model="password"
            type="password"
            name="密码"
            :label="$route.query.option == 'out' ? '转出金额' : '转入金额'"
            :placeholder="$route.query.option == 'out' ? out.placeholder : entry.placeholder"
        />
        <div style="margin: 16px;">
          <van-button round block type="info" native-type="submit">提交</van-button>
        </div>
      </van-form>
    </main>
  </div>
</template>

<script>
import '@/assets/css/include/base.less'
export default {
  name: "balance_gemInfo_GemRecord",
  data(){
    return{
        entry:{
          title:'转入余额宝',
          tip:'转入金额',
          placeholder:'本次最多可转入0元',
        },
        out:{
          title:'转出余额宝',
          tip:'转出金额',
          placeholder:'本次最多可转出0元',
        }
    }
  }
}
</script>

<style scoped lang="less">
  .balance_gemInfo_GemRecord{
    .balance_header{
      width: 100%;
      height: 5rem;
      line-height: 5rem;
      text-align: left;
      .left{
        float: left;
        display: flex;
        align-items: center;
        position: absolute;
        &:before,&:after{
          content: "";
          display: block;
          width: 0;
          height: 0;
          clear: both;
        }
        i{
          font-size:2.8rem ;
          color: #418ce2;
        }
        span{
          font-size: 1.4rem;
          color: #418ce2;
        }
      }
      .middle{
        text-align: center;
        color: #000000;
        font-weight: 600;
        display: block;
        margin: 0 auto;
        width: 140px;
        font-size: 1.4rem;
      }
      .header_background{
        position: absolute;
        z-index: -1;
        height: 196px;
        width: 100%;
        background-color: #ff6633;
      }
    }
  }
</style>