<template>
  <div class="live_game">
    <header class="header">
      <a herf="javascript:void(0)" @click="back()">
        <van-icon name="arrow-left"/>
        <span class="bark">额度转换</span>
      </a>
      <span class="title">返回</span>
      <div class="edit" ></div>
    </header>
    <div class="money-module">
      <div class="module">
        余额：<span>{{money}}</span>
      </div>
    </div>
    <div class="game-list">
      <div class="list" v-for="(item, index) in gameList" :key="index">
        <div class="left"><img :src="item.imgUrl" alt=""></div>
        <div class="right">
          <div class="top">{{item.title}}</div>
          <div class="center"><span @click="clickGameOut(item.title,item.playCode)">转出</span><span @click="clickGameIn(item.title,item.playCode)">转入</span><span class="go-in" @click="goGamePlays(item.playCode)">进入游戏</span></div>
          <div class="bottom">{{item.balance || ''}}<button @click="getBalance(item.playCode)">刷新</button></div>
        </div>
      </div>
    </div>
    <van-dialog v-model="popShow" :title="title" show-cancel-button @confirm="thirdRealTransMoney()">
      <van-field v-model="o_money" label="转入金额" type="number"/>
    </van-dialog>
  </div>
</template>

<script>
import '@/assets/css/center/live_game.less'
import { Dialog ,Toast} from 'vant';
export default {
  name: "upd_password",
  data(){
    return {
      money:0,
      gameList:[],
      popShow:false,
      title:'',
      o_money:'',
      params:{ },
    }
  },
  components: {
    [Dialog.Component.name]: Dialog.Component,
  },
  created() {
    this.getMeminfo()
    this.getRealGameData()
  },
  methods:{
    back: function() {
      this.$router.push('/personal')
    },
    getMeminfo: function () {
      this.$fetch('native/meminfo.do').then(res => {
        if (res.success) {
          if(res.content.balance != 0){
            this.money = res.content.balance.toFixed(2)
          }
        }
      })
    },
    getRealGameData: function () {
      this.$fetch('native/getRealGameData.do').then(res => {
        if (res.success) {
          this.gameList = res.content
        }
      })
    },
    clickGameOut:function (title,playCode){
      this.popShow = true
      this.params.changeFrom = playCode
      this.params.changeTo = 'sys'
      this.title = '从' + title + '转到系统'
    },
    clickGameIn:function (title,playCode){
      this.popShow = true
      this.params.changeFrom = 'sys'
      this.params.changeTo = playCode
      this.title = '从系统转到' + title
    },
    getBalance: function (playCode) {
      let params = {
        type:playCode,
      }
      this.$post('native/getBalance.do',params,true).then(res=>{
        if(res.success){
          Toast('操作成功');
          for(let index in this.gameList){
            if(playCode == this.gameList[index].playCode){
              this.gameList[index].balance = res.balance
            }
          }
        } else {
          Toast.fail(res.msg);
        }
      })
    },
    thirdRealTransMoney: function () {
      let params = {
        changeFrom: this.params.changeFrom,
        changeTo: this.params.changeTo,
        quota: this.o_money,
      }
      this.$post('native/thirdRealTransMoney.do',params,true).then(res=>{
        if(res.success){
          Toast('操作成功');
          this.o_money = ''
          this.getRealGameData()
        } else {
          Toast.fail(res.msg);
        }
      })
    },
    goGamePlays:function(playCode){
      let params = {}
      let url = 'native/forwardReal.do'
      if(playCode =='ibc'){
        params = {
          playCode: playCode,
          eSport:1,
        }
      }else if(playCode =='bbin'){
        params = {
          type: 'ball',
        }
        url = 'forwardBbin.do'
      } else if(playCode =='bbinDz'){
        params = {
          type: 'game',
        }
        url = 'forwardBbin.do'
      } else if(playCode =='bg'){
        params = {
          type: 2,
          h5: 1,
        }
        url = 'forwardBg.do'
      } else if(playCode =='ebetDz'){
        params = {
          gameType: 5,
        }
        url = 'forwardEbet.do'
      } else{
        params = {
          playCode: playCode,
          gameId: '',
        }
      }
      this.$post(url,params).then((res) => {
        if(res.success){
          if(playCode =='bbin' || playCode == 'bbinDz'){
            location.href = res.url;
          } else {
            location.href = res.content.url;
          }
        }
      })
    },
  }
}
</script>

<style scoped>

</style>
