<template>
  <div class="lottery_record">
    <personal_header @get_lottery_order="get_lottery_order" :headerData="headerData"></personal_header>
    <div class="content">
      <div class="content-card">
        <div class="c-c-item">
          <em v-if="floder == 'x002153' || floder == 'x002103'">下单</em>
          <em v-else-if="floder == 'x002160' || floder == 'x002176'">竞技</em>
          <em v-else-if="floder == 'x002130'">订单</em>
          <em v-else-if="floder == 'x002141'">今日订单</em>
          <em v-else>{{$store.state.escapeList[7]}}</em>
          <p style="color: red;">{{lotteryData.sumBuyMoney || 0}}</p>
        </div>
        <div class="c-c-item">
          <em v-if="floder == 'x002160' || floder == 'x002176'">中奖</em>
          <em v-if="floder == 'x002130'">佣金</em>
          <em v-if="floder == 'x002141'">今日收益</em>
          <em v-else>{{$store.state.escapeList[91]}}</em>
          <p style="color: #00aa00;">{{lotteryData.sumWinMoney || 0}}</p>
        </div>
        <div class="c-c-item">
          <em v-if="floder == 'x002153' || floder == 'x002176'">积分</em>
          <em v-else-if="floder == 'x002160'">奖金</em>
          <em v-else-if="floder == 'x002130'">盈利</em>
          <em v-else-if="floder == 'x002141'">今日盈利</em>
          <em v-else>{{$store.state.escapeList[92]}}</em>
          <p style="color: red;">{{ (lotteryData.sumWinMoney - lotteryData.sumBuyMoney || 0.00).toFixed(2) || 0}}</p>
        </div>
      </div>
      <div class="content-list" v-if="lotteryList.length > 0">
        <van-pull-refresh v-model="refreshing" @refresh="onRefresh" >
          <van-list v-model="loading" :finished="finished" finished-text="没有更多了" @load="get_lottery_order" :offset="50">
            <div class="list-wrap" v-for="(item,index) in lotteryList" :key="index" @click="getBcLotteryOrderDetail(item)">
              <a href="javascript:void(0)">
                <p>
                  <span v-if="floder == 'x002135' || floder == 'x002115' || floder == 'x002143'" >{{$store.state.escapeList[241]}}: <em>{{item.lotName}}</em></span>
                  <span v-else-if="floder == 'x00290' || floder == 'x002159'" >任务: <em>{{item.lotName}}</em></span>
                  <span v-else-if="floder == 'x002130'" >商品: <em>{{item.lotName}}</em></span>
                  <span v-else-if="floder == 'x002170'" >竞猜: <em>{{item.lotName}}</em></span>
                  <span v-else-if="floder == 'x002141'" >类型: <em>{{item.lotName | x002141Floder}}</em></span>
                  <span v-else >{{$store.state.escapeList[93]}}: <em>{{item.lotName}}</em></span>
                  <span v-if="floder == 'x002145' || floder == 'x002111' || floder == 'x002156'">抖币: <em class="red">{{item.buyMoney}}</em>元</span>
                  <span v-else-if="floder == 'x002153' ">下单金额: <em class="red">{{item.buyMoney}}</em>元</span>
                  <span v-else-if="floder == 'x002130' ">购买金额: <em class="red">{{item.buyMoney}}</em>元</span>
                  <span v-else-if="floder == 'x002141' ">下单积分: <em class="red">{{item.buyMoney}}</em>元</span>
                  <span v-else>{{$store.state.escapeList[94]}}: <em class="red">{{item.buyMoney}}</em>元</span>
                </p>
                <p>
                  <span v-if="floder == 'a06615' || floder == 'x002135' || floder == 'x002137' || floder == 'x002143' || floder == 'x002153' || floder == 'x002105' || floder == 'x002150' || floder == 'x002104' || floder == 'x002157' || floder == 'x002103' || floder == 'x002161' || floder == 'x002160' || floder == 'x002176' || floder == 'd00315' || floder == 'x002117'|| floder == 'x002166'|| floder == 'x002158' || floder == 'x002175' || floder == 'x002170' || floder == 'x002159' || floder == 'x002141' || floder == 'x002189' || floder == 'x002182' || floder == 'x002184' || floder == 'x002192'">号码：<em >{{item.haoMa | winnNumber}}</em></span>
                  <span v-else-if="floder == 'x002145' || floder == 'x002111' || floder == 'x002156'">礼物：<em >{{item.haoMa | x002111Floder}}</em></span>
                  <span v-else>号码：<em>{{item.haoMa}}</em></span>
                  <span><em class="red" v-if="item.status == 1  && 'cancel_switch' in lotteryData  && lotteryData.cancel_switch== 'on'" @click="cancel(item.orderId)">{{$store.state.escapeList[228]}}</em></span>
                </p>
                <p>
                  <span>时间：<em>{{item.createTime}}</em></span>
                  <span style="color:#5cb85c;" v-if="item.status == 2">{{$store.state.escapeList[114] | x002141Floder()}}</span>
                  <span  class="blue" v-else-if="item.status == 1">{{$store.state.escapeList[113] | x002141Floder()}}</span>
                  <span style="color: red;" v-else>{{listStatus(item.status)  | x002141Floder()}}</span>
                </p>
                <p style="display: inline-block;">{{$store.state.escapeList[6]}}：<span>{{item.qiHao}}</span></p>
              </a>
            </div>
          </van-list>
        </van-pull-refresh>
      </div>
      <div style="text-align: center;background: #efeff4;line-height: 4rem;font-size: 1.8rem" v-else>
        <template v-if="floder == 'x002145' || floder == 'x002111' || floder == 'x002156'">
          暂时没有点赞记录
        </template>
        <template v-else-if="floder == 'x002153'">
          暂时没有公益记录
        </template>
        <template v-else>
          {{$store.state.escapeList[15]}}
        </template>
      </div>
      <van-popup v-model="detailStatus" position="bottom" :style="{ height: '100%','z-index':3001 }" @click="detailStatus = false" class="content-list-detail"  >
        <div class="detail-title" style="position: relative;z-index: 3001;">
          <div class="title">订单详情</div>
          <div class="close" @click="detailStatus = false">关闭</div>
        </div>
        <div class="reclrd-code">
          <span>订单号：<em>{{detailsData.orderId}}</em></span>
        </div>
        <div class="detail-content">
          <table  border="0" cellpadding="0" cellspacing="0"  >
            <tbody>
              <tr>
                <td class="bttd"> 账号 </td>
                <td>{{detailsData.account}}</td>
                <td class="bttd" v-if="floder == 'x002141'">单注积分</td>
                <td class="bttd" v-else>{{$store.state.escapeList[242]}}</td>
<!--                <td v-if="detailsData.lotCode == 'LHC' || detailsData.lotCode == 'SFLHC' || detailsData.lotCode == 'TMLHC' || detailsData.lotCode == 'WFLHC' || detailsData.lotCode == 'HKMHLHC'">{{}}</td>-->
                <td style="width: 15%;" >{{ (detailsData.buyMoney/detailsData.model).toFixed(2) }}</td>
              </tr>
              <tr>
                <td class="bttd" v-if="floder == 'x002141'">下单时间</td>
                <td class="bttd" v-else>{{$store.state.escapeList[96]}}</td>
                <td>{{detailsData.createTime}}</td>
                <td class="bttd" v-if="floder == 'x002141'">下单注数</td>
                <td class="bttd" v-else>{{$store.state.escapeList[219]}}</td>
                <td>{{detailsData.buyZhuShu}}</td>
              </tr>
              <tr>
                <td class="bttd" v-if="floder == 'x002141'">任务</td>
                <td class="bttd" v-else>{{$store.state.escapeList[93]}}</td>
                <td>{{detailsData.lotName}}</td>
                <td class="bttd" v-if="floder == 'x002141'">联单</td>
                <td class="bttd" v-else>{{$store.state.escapeList[103]}}</td>
                <td>{{detailsData.multiple }}</td>
              </tr>
              <tr>
                <td class="bttd">{{$store.state.escapeList[6]}}</td>
                <td>{{detailsData.qiHao}}</td>
                <td class="bttd" v-if="floder == 'x002141'">下单总额</td>
                <td class="bttd" v-else>{{$store.state.escapeList[220]}}</td>
                <td>{{detailsData.buyMoney}}</td>
              </tr>
              <tr>
                <td class="bttd">{{$store.state.escapeList[105]}}</td>
                <td v-if="floder == 'x002145' || floder == 'x002111' || floder == 'x002156'">抖音点赞</td>
                <td v-else-if="floder == 'x002141'">商家数据</td>
                <td v-else>{{detailsData.playName}}</td>
                <td class="bttd" v-if="detailsData.lotCode == 'LHC' || detailsData.lotCode == 'SFLHC' || detailsData.lotCode == 'TMLHC' || detailsData.lotCode == 'WFLHC' || detailsData.lotCode == 'HKMHLHC'">{{$store.state.escapeList[221]}}</td>
                <td class="bttd" v-else>{{$store.state.escapeList[104]}}</td>
                <td v-if="detailsData.lotCode == 'LHC' || detailsData.lotCode == 'SFLHC' || detailsData.lotCode == 'TMLHC' || detailsData.lotCode == 'WFLHC' || detailsData.lotCode == 'HKMHLHC'">{{detailsData.peilv ? detailsData.peilv : detailsData.odds}}</td>
                <td v-else>{{detailsData.odds}}</td>
              </tr>
              <tr>
                <td class="bttd" v-if="floder == 'x002141'">下单数据</td>
                <td class="bttd" v-else>{{$store.state.escapeList[106]}}</td>
                <td>{{detailsData.lotteryHaoMa}}</td>
                <td class="bttd" v-if="floder == 'x002141'">下单注数</td>
                <td class="bttd" v-else>{{$store.state.escapeList[107]}}</td>
                <td>{{detailsData.winZhuShu}}</td>
              </tr>
              <tr>
                <td class="bttd" v-if="floder == 'x002141'">下单状态</td>
                <td class="bttd" v-else>{{$store.state.escapeList[108]}}</td>
                <td style="color:#5cb85c;" v-if="detailsData.status == 2">{{$store.state.escapeList[114] | x002141Floder()}}</td>
                <td style="color:#0894ec " v-else-if="detailsData.status == 1">{{$store.state.escapeList[113] | x002141Floder()}}</td>
                <td style="color:#ec2829 " v-else>{{ listStatus(detailsData.status) | x002141Floder()}}</td>
                <td class="bttd" v-if="floder == 'x002141'">盈利积分</td>
                <td class="bttd" v-else>{{$store.state.escapeList[243]}}</td>
                <td>{{detailsData.winMoney ? detailsData.winMoney : 0.00}}</td>
              </tr>
              <tr v-if="detailsData.winMoney > 0 && detailsData.winZhuShu > 0">
                <td class="bttd">{{$store.state.escapeList[95]}}</td>
                <td colspan="3">{{ (detailsData.winMoney - detailsData.buyMoney).toFixed(2)}}</td>
              </tr>
              <tr>
                <td class="bttd" v-if="floder == 'x002141'">数据号码</td>
                <td class="bttd" v-else>{{$store.state.escapeList[109]}}</td>
                <td colspan="3" v-if="floder == 'a06615' || floder == 'x002135' || floder == 'x002143' || floder == 'x002137' || floder == 'x002153' || floder == 'x002105' || floder == 'x002150' || floder == 'x002103' || floder == 'x002161' || floder == 'x002160' || floder == 'x002176' || floder == 'd00315' || floder == 'x002117' || floder == 'x002166' || floder == 'x002158' || floder == 'x002175' || floder == 'x002174' || floder =='x002181' || floder == 'x002170' || floder == 'x002141' || floder == 'x002189' || floder == 'x002182' || floder == 'x002184' ">{{detailsData.haoMa | winnNumber}}</td>
                <td colspan="3" v-else-if="floder == 'x002145' || floder == 'x002111' || floder == 'x002156'">{{detailsData.haoMa | x002111Floder}}</td>
                <td colspan="3" v-else-if="floder == 'x002130'">{{detailsData.haoMa | x002130Floder}}</td>
                <td colspan="3" v-else>{{detailsData.haoMa}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </van-popup>
    </div>
  </div>
</template>

<script>
import '@/assets/css/center/lottery_records.less'
import personal_header  from '@/components/include/personal_header'
import {Dialog, Toast} from 'vant';
export default {
  name: "lottery_record",
  components:{
    personal_header
  },
  data(){
    return{
      headerData:{title: this.$store.state.escapeList[231], filter: 'isCpOnOff', popupHeight: '22.1rem'},
      params:{
        startTime:'',
        endTime:'',
        code:'',
        status:'',
        page:0,
        rows:6,
        lhc:0
      },
      lotteryList:[],
      lotteryData:{},
      detailsData:{},
      detailStatus:false,
      disabledRef:false,
      refreshing:false, //是否处于加载状态
      loading:false, //是否处于架子啊状态，加载过程中不触发load 事件
      finished:false,//是否已加载完成，加载完成不在触发,这里是改变text
      floder: this.$store.state.stationInfo.content.station.floder || 'x002',
    }
  },
  created() {

  },
  mounted() {

  },
  methods:{
    //查询投注记录
    get_lottery_order(arg=''){
      if (arg){
        this.params.endTime = arg.endTime
        this.params.startTime = arg.startTime
        this.params.code = arg.code
        this.params.status = arg.status
        this.params.page = 0
        this.finished = false;
        this.loading = true;
        this.lotteryList = []
      }
      this.params.page ++
      this.$post('native/get_lottery_order.do',this.params,true).then(res=>{
        if ('isLogin' in res && res.isLogin == false){
          Dialog.alert({
            title: '登陆提示',
            message: res.msg
          }).then(() => {
            this.$router.push({
              path: '/login',
            })
          });
          return
        }
        if (this.refreshing){
          this.lotteryList = []
          this.refreshing = false
        }

        this.lotteryList = [...this.lotteryList,...res.page.list]
        this.lotteryData = res

        this.loading = false
        if (res.page.totalCount  <= (parseInt(res.page.currentPageNo) * parseInt(res.page.pageSize))){
          this.finished = true
        }

      })
    },
    //清空数据
    onRefresh(){
      this.finished = false;
      this.loading = true;
      this.params.page = 0
      this.get_lottery_order();
    },
    //撤单
    cancel: function(orderId) {
      let that = this
      this.$post( 'native/cancelOrder.do', {orderId: orderId, lotCode: ''}).then(res=>{
        if(res.success) {
          Toast.success(that.$store.state.escapeList[110]);
        } else {
          // Toast.fail(res.msg);
          Toast.fail(that.$store.state.escapeList[111]);
        }
      })
    },
    //查询详细记录
    getBcLotteryOrderDetail:function (item){
      this.$root.common.loading(true)
      this.$post('lotteryBet/getBcLotteryOrderDetail.do',{orderId:item.orderId,lotCode:item.lotCode},true).then(res=>{
        if (res){
          this.detailsData = res;
          this.detailStatus = true
          this.$root.common.loading(false)
        }
      })
    }
  },
  computed:{
    listStatus(status){
      if (!status) console.log(status)
        return function (status){
          if (status == 1) return this.$store.state.escapeList[113];
          if (status == 2) return this.$store.state.escapeList[114];
          if (status == 4) return this.$store.state.escapeList[115];
          if (status == 8) return this.$store.state.escapeList[116];
          if (status == 3) return this.$store.state.escapeList[117];
        }
    }
  },
  filters:{
    winnNumber:function (number){
      switch (number){
        case '大':
          return '福';
        case '小':
           return '禄';
        case '单':
          return '寿';
        case '双':
         return '喜';
        default:
          return number
      }
    },
    x002141Floder:function (value){
      if (value == undefined) return  '';
      if (value.includes('投注')) return value.replace(/投注/g,'任务单');
      if (value.includes('未中奖')) return value.replace(/未中奖/g,'未开单');
      if (value.includes('已开奖')) return value.replace(/已开奖/g,'已开单');
      if (value.includes('已中奖')) return value.replace(/已中奖/g,'已开单');
      return value
    },
    x002111Floder:function (number){
      switch (number) {
        case '大':
          return '点赞';
        case '小':
          return '小心心';
        case '单':
          return '玫瑰';
        case '双':
          return '神奇海螺';
        default:
          return number
      }
    },
    x002130Floder:function (number){
      switch (number) {
        case '大':
          return '同';
        case '小':
          return '舟';
        case '单':
          return '共';
        case '双':
          return '济';
        default:
          return number
      }
    },
  },
  watch:{

  }

}
</script>

<style scoped >

</style>
