<template>
  <div class="mnyrecord">
    <personal_header @get_lottery_order="accountChangeRecord" :headerData="headerData"></personal_header>
    <div class="content">
      <div class="content-list" v-if="mnyrecordList.length > 0">
        <van-pull-refresh v-model="refreshing" @refresh="onRefresh" >
          <van-list v-model="loading" :finished="finished" finished-text="没有更多了" @load="accountChangeRecord" :offset="50">
            <div class="list-wrap" v-for="(item,index) in mnyrecordList" :key="index" >
              <a href="javascript:void(0)">
                <p>
                  <span v-if="floder == 'x002135' || floder == 'x002115' || floder == 'x002143' || floder == 'x002124'">类型：<em>{{typeFilter(item.type) | X002135replace}}</em></span>
                  <span v-else-if="floder == 'x002162'">类型：<em>{{typeFilter(item.type) | x002162replace}}</em></span>
                  <span v-else-if="floder == 'x002160' || floder == 'x002176'">类型：<em>{{typeFilter(item.type) | X002160replace}}</em></span>
                  <span v-else-if="floder == 'x002161'">类型：<em>{{typeFilter(item.type) | X002161replace}}</em></span>
                  <span v-else-if="floder == 'x002117'">类型：<em>{{typeFilter(item.type) | x002117replace}}</em></span>
                  <span v-else-if="floder == 'x002141'">类型：<em>{{typeFilter(item.type) | x002141replace}}</em></span>
                  <span v-else-if="floder == 'x002170'">类型：<em>{{typeFilter(item.type) | x002147Replace}}</em></span>
                  <span v-else-if="floder == 'x002175' ">类型：<em>{{typeFilter(item.type) | x002159Replace}}</em></span>
                  <span v-else-if="floder == 'x002159'">类型：<em>商家任务</em></span>
                  <span v-else>类型：<em>{{ typeFilter(item.type) }}</em></span>
                </p>
                <p><span>订单号：<em>{{item.orderId}}</em></span></p>
                <p v-if="floder == 'x002161'"><span>变动前积分：<em class="blue">{{item.beforeMoney}} </em> {{unit}}</span></p>
                <p v-else><span>{{$store.state.escapeList[119]}}：<em class="blue">{{item.beforeMoney}} </em> {{unit}}</span></p>
                <p v-if="floder == 'x002161'"><span>变动积分：</span><em class="red">{{item.money}}</em> {{unit}}</p>
                <p v-else><span>{{$store.state.escapeList[120]}}：</span><em class="red">{{item.money}}</em> {{unit}}</p>
                <p v-if="floder == 'x002161'"><span>变动后积分：</span><em class="green">{{item.afterMoney}}</em> {{unit}}</p>
                <p v-else><span>{{$store.state.escapeList[121]}}：</span><em class="green">{{item.afterMoney}}</em> {{unit}}</p>
                <p><span>处理时间：</span><em>{{$root.common.getMyDate(item.createDatetime)}}</em></p>
                <p v-if="floder == 'x002135' || floder == 'x002115' || floder == 'x002143' "><span>备注：</span>{{item.remark | X002135replace}}</p>
                <p v-else-if="floder == 'x002145' || floder == 'x002111' || floder == 'x002156'"><span>备注：</span>{{item.remark | X002111replace}}</p>
                <p v-else-if="floder == 'x002147' || floder == 'x002170'"><span>备注：</span>{{item.remark | x002147Replace}}</p>
                <p v-else-if="floder == 'x002162'"><span>备注：</span>{{item.remark | x002162replace}}</p>
                <p v-else-if="floder == 'x002141'"><span>备注：</span>{{item.remark | x002141replace}}</p>
                <p v-else-if="floder == 'x002175'"><span>任务类型：</span>{{item.remark}}</p>
                <p v-else-if="floder == 'x002159'"><span>任务类型：</span>商家任务</p>
                <p v-else><span>备注：</span>{{item.remark}}</p>
              </a>
            </div>
          </van-list>
        </van-pull-refresh>
      </div>
      <div style="text-align: center;background: #efeff4;line-height: 4rem;font-size: 1.8rem" v-else>
        {{$store.state.escapeList[122]}}
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/center/mnyrecord.less'
import personal_header from '@/components/include/personal_header'
import {Dialog} from "vant";
export default {
  name: "mnyrecord",
  components:{
    personal_header
  },
  data(){
    return{
      headerData:{title:this.$store.state.escapeList[123],filter:'isChangeMoney',popupHeight:'18.4rem'},
      mnyrecordList:[],
      mnyrecordData:{},
      params:{
        startTime:'',
        endTime:'',
        type:'',
        page:0,
        rows:4,
      },
      refreshing:false, //是否处于加载状态
      loading:false, //是否处于架子啊状态，加载过程中不触发load 事件
      finished:false,//是否已加载完成，加载完成不在触发,这里是改变text
      floder: this.$store.state.stationInfo.content.station.floder || 'x002',
      unit:'元'
    }
  },
  created() {
    this.unitType()
    if (this.floder == 'x002161'){
      this.headerData.title = '下单记录'
    }else if (this.floder == 'd00315'){
      this.headerData.title = '公益积分变动记录'
    }
  },
  mounted() {

  },
  methods:{
    accountChangeRecord(arg=''){
      if (arg){
        this.params.endTime = arg.endTime
        this.params.startTime = arg.startTime
        this.params.type = arg.type
        this.params.page = 0
        this.finished = false;
        this.loading = true;
        this.mnyrecordList = []
      }
      this.params.page ++
      this.$post('native/mnyrecordlist.do',this.params,true).then(res=>{
        if ('isLogin' in res && res.isLogin == false){
          Dialog.alert({
            title: '登陆提示',
            message: res.msg
          }).then(() => {
            this.$router.push({
              path: '/login',
            })
          });
          return
        }
        if (this.refreshing){
          this.mnyrecordList = []
          this.refreshing = false
        }
          this.mnyrecordList = [...this.mnyrecordList,...res.list]
          this.mnyrecordData = res

          this.loading = false
          if (res.totalCount  <= (parseInt(res.currentPageNo) * parseInt(res.pageSize))){
            this.finished = true
          }
      })
    },
    //清空数据
    onRefresh:function (){
      this.finished = false;
      this.loading = true;
      this.params.page = 0
      this.accountChangeRecord();
    },
    unitType:function (){
      if(this.floder == 'x002145' || this.floder == 'x002111' || this.floder == 'x002156'){
        this.unit = '抖音币'
      }
    },
  },
  computed:{
    typeFilter(type){
      console.log(type)
      return function(type){
        let that = this
        switch (type) {
          case 1:
            return that.$store.state.escapeList[160];
          case 2:
            return that.$store.state.escapeList[161];
          case 3:
            return that.$store.state.escapeList[162];
          case 4:
            return that.$store.state.escapeList[21];
          case 5:
            return that.$store.state.escapeList[163];
          case 6:
            return that.$store.state.escapeList[164];
          case 7:
            return that.$store.state.escapeList[165];
          case 9:
            return that.$store.state.escapeList[166];
          case 10:
            return that.$store.state.escapeList[167];
          case 11:
            return that.$store.state.escapeList[168];
          case 12:
            return that.$store.state.escapeList[169];
          case 13:
            return that.$store.state.escapeList[170];
          case 14:
            return that.$store.state.escapeList[171];
          case 113:
            return that.$store.state.escapeList[172];
          case 15:
            return that.$store.state.escapeList[173];
          case 16:
            return that.$store.state.escapeList[174];
          case 87:
            return that.$store.state.escapeList[175];
          case 88:
            return that.$store.state.escapeList[176];
          case 55:
            return that.$store.state.escapeList[177];
          case 54:
            return that.$store.state.escapeList[178];
          case 78:
            return that.$store.state.escapeList[179];
          case 79:
            return that.$store.state.escapeList[180];
          case 80:
            return that.$store.state.escapeList[181];
          case 201:
            return that.$store.state.escapeList[182];
          case 202:
            return that.$store.state.escapeList[183];
          case 203:
            return that.$store.state.escapeList[184];
          case 204:
            return that.$store.state.escapeList[185];
          case 130:
            return that.$store.state.escapeList[186];
          case 131:
            return that.$store.state.escapeList[187];
          case 132:
            return that.$store.state.escapeList[188];
          case 133:
            return that.$store.state.escapeList[189];
          case 134:
            return that.$store.state.escapeList[190];
          case 135:
            return that.$store.state.escapeList[191];
          case 136:
            return that.$store.state.escapeList[192];
          case 137:
            return that.$store.state.escapeList[193];
          case 139:
            return that.$store.state.escapeList[194];
          case 138:
            return that.$store.state.escapeList[195];
          case 140:
            return that.$store.state.escapeList[196];
          case 141:
            return that.$store.state.escapeList[197];
          case 142:
            return that.$store.state.escapeList[198];
          case 143:
            return that.$store.state.escapeList[199];
          case 18:
            return that.$store.state.escapeList[200];
          case 19:
            return that.$store.state.escapeList[201];
          case 20:
            return that.$store.state.escapeList[202];
          case 17:
            return that.$store.state.escapeList[203];
          case 1130:
            return that.$store.state.escapeList[204];
          case 1131:
            return that.$store.state.escapeList[205];
          case 168:
            return that.$store.state.escapeList[206];
          case 169:
            return that.$store.state.escapeList[207];
          case 170:
            return that.$store.state.escapeList[208];
          case 23:
            return that.$store.state.escapeList[209];
          default:
            return ''
        }
      }
    },
  },
  filters:{
    x002162replace:function (value){
      if (value == undefined) return  '';
      if (value.includes('彩票投注')) return value.replace(/彩票投注/g,'公益投注');
      if (value.includes('投注彩种')) return value.replace(/投注彩种/g,'公益类型');
      if (value.includes('存款赠送')) return value.replace(/存款赠送/g,'存款');
      return value
    },
    x002117replace:function (value){
      if (value == undefined) return  '';
      if (value.includes('彩票')) return value.replace(/彩票/g,'助力');
      return value
    },
    x002141replace:function (value){
      if (value == undefined) return  '';
      if (value.includes('彩票')) return value.replace(/彩票/g,'积分');
      if (value.includes('投注彩种')) return value.replace(/投注彩种/g,'商家福利单');
      return value
    },
    X002160replace:function (value){
      if (value == undefined) return  '';
      if (value.includes('彩票投注')) return value.replace(/彩票投注/g,'竞技投入');
      if (value.includes('彩票派奖')) return value.replace(/彩票派奖/g,'竞技派奖');
      return value
    },
    X002135replace:function (value){
      if (value == undefined) return  '';
      if (value.includes('彩票')) return value.replace(/彩票/g,'竞猜');
      return value
    },
    X002161replace:function (value){
      if (value == undefined) return  '';
      if (value.includes('彩票投注')) return value.replace(/彩票投注/g,'积分下单');
      return value
    },
    x002147Replace:function (value){
      if (value == undefined){
        return  ''
      }
      return value.replace('彩票','任务')
    },
    x002159Replace:function (value){
      if (value == undefined){
        return  ''
      }
      return value.replace('彩票投注','商家任务')
    },
    X002111replace:function (value){
      if (value == undefined){
        return ''
      }else {
        value = value.replace('彩票投注','抖音点赞')
        value = value.replace('投注彩种','抖音点赞')
        value = value.replace('期号','单号')
        value = value.replace('彩票','')
        value = value.replace('派奖','打赏')
        return value
      }

    }
  }
}
</script>

<style scoped>

</style>
