<template>
  <div class="upd_password">
    <header class="header">
      <a href="javascript:void(0)" @click="back">
        <van-icon name="arrow-left"/>
        <span class="bark">返回</span>
      </a>
      <span class="title">{{title}}</span>
      <div class="edit" ></div>
    </header>
    <div class="content">
      <van-cell-group style="font-size: 14px" v-if="!$store.state.userInfo.walletAddress">
        <van-field v-model="currencyType" type="text" readonly/>
        <van-field @click="isShowBank=true" readonly v-model="protocol" type="text" placeholder="请输入协议"/>
        <van-field v-model="address" type="text" placeholder="请输入地址"/>
      </van-cell-group>
      <van-cell-group style="font-size: 14px" v-else >
        <van-field type="text" v-model="$store.state.userInfo.walletAddress" readonly/>
      </van-cell-group>
      <van-button type="primary" v-if="!$store.state.userInfo.walletAddress" color="#ec2829" block @click="submitPassword">提交</van-button>
      <div style="text-align: center;margin-top: 20px" v-else>请联系在线客服进行修改</div>
      <van-popup v-model="isShowBank">
        <van-cell-group>
          <van-cell @click="selectBank(item)" v-for="(item,index) in protocolList" :key="index" :title="item" is-link />
        </van-cell-group>
      </van-popup>
    </div>
  </div>
</template>

<script>
import '@/assets/css/center/upd_password.less'
import {Dialog, Toast} from "vant";
export default {
  name: "upd_password",
  data(){
    return{
      title:'设置钱包地址',
      currencyType:'USDT',
      protocol:'',
      address:'',
      isShowBank:false,
      protocolList:['TRC20','ERC20','okpay','gopay','OKC','Polygon','Solana','kkpay',]
    }
  },
  created() {
    console.log(this.$store.state)
  },
  methods:{
    //选择银行
    selectBank: function(protocol) {
      this.isShowBank = false;
      this.protocol = protocol;
    },
    back: function() {
      this.$router.push('/personal')
    },
    submitPassword:function (){
      if (!this.address){
        Toast({
          message: '请输入钱包地址！',
          duration:500
        });
        return
      }
      let params = {
        currencyType: this.currencyType,
        protocol: this.protocol,
        walletAddress: this.address
      }
      this.$post('native/update_wallet_address.do',params,'true').then(res=>{
        if (res.success){
          Dialog.alert({
            message: '钱包设置成功',
            confirmButtonText:'返回首页'
          }).then(() => {
            this.$router.push('/')
          });
        }else {
          Toast({
            message: res.msg,
            duration:1500
          });
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
