<template>
  <div class="withdrawDeposit">
    <header class="withdrawDeposit-header">
      <a herf="javascript:void(0)" @click="back">
        <van-icon name="arrow-left"/>
        <span class="bark">返回</span>
      </a>
      <span class="title">{{$store.state.escapeList[229]}}</span>
    </header>
    <main>
      <div class="flexContent">
        <h1 v-if="floder != 'x002172'">提示信息</h1>
        <div class="explain" v-if="floder != 'x002172'">
          1. {{$store.state.escapeList[143]}}：<span class="c-r">{{pickMoneyInfor.startTime}}</span>至<span class="c-r">{{pickMoneyInfor.endTime}}</span><br/>
          <template v-if="floder != 'x002124'">
            2.{{$store.state.escapeList[144]}};<br/>
            3. {{$store.state.escapeList[145]}}<span class="c-r">{{pickMoneyInfor.minPickMoney}}</span>元，{{$store.state.escapeList[146]}}<span class="c-r">{{pickMoneyInfor.maxPickMoney}}</span>元。<br/>
            4. {{$store.state.escapeList[148]}}<span class="c-r">{{pickMoneyInfor.wnum}}</span>次，{{$store.state.escapeList[147]}}<span class="c-r">{{pickMoneyInfor.curWnum}}</span> 次 ;
          </template>
        </div>
        <h1 v-if="floder != 'x002104' && floder != 'x002172'">{{$store.state.escapeList[149]}}</h1>
        <div class="explain" v-if="floder == 'x002145' || floder == 'x002111' || floder == 'x002156'">
          1. 当前商家未返佣金额：<span class="c-r">{{pickMoneyInfor.checkBetNum}}</span>， 当前刷礼金额：<span class="c-r">{{pickMoneyInfor.validBetMoney}}</span><br/>
          2. {{$store.state.escapeList[152]}}：<span class="c-r">{{pickMoneyInfor.drawFlag}}</span>
        </div>
        <div class="explain" v-else-if="floder == 'x002104'"></div>
        <div class="explain" v-else-if="floder == 'x002124'">
          1. {{$store.state.escapeList[152]}}：<span class="c-r">{{pickMoneyInfor.drawFlag}}</span>
        </div>
        <div class="explain" v-else-if="floder != 'x002172'">
          <template  v-if="floder == 'x002170'">
            1. 出款需达数据量：<span class="c-r">{{pickMoneyInfor.checkBetNum}}</span>，当前有效数据：<span class="c-r">{{pickMoneyInfor.validBetMoney}}</span><br/>
            2. {{$store.state.escapeList[152]}}：
            <span class="c-r" v-if="pickMoneyInfor.drawFlag == '是'">{{pickMoneyInfor.drawFlag}}</span>
            <span class="c-r" v-else>数据量未达标，不能取款 (数据量还差{{pickMoneyInfor.checkBetNum - pickMoneyInfor.validBetMoney}})</span>
          </template>
          <template v-else>
            1. {{$store.state.escapeList[150]}}：<span class="c-r">{{pickMoneyInfor.checkBetNum}}</span>，{{$store.state.escapeList[151]}}：<span class="c-r">{{pickMoneyInfor.validBetMoney}}</span><br/>
            2. {{$store.state.escapeList[152]}}：
            <span class="c-r" v-if="pickMoneyInfor.drawFlag == '是'">{{pickMoneyInfor.drawFlag}}</span>
            <span class="c-r" v-else>{{pickMoneyInfor.drawFlag}} ({{$store.state.escapeList[7]}}量还差{{pickMoneyInfor.checkBetNum - pickMoneyInfor.validBetMoney}})</span>
          </template>
        </div>
        <van-cell-group>
          <van-field v-if="radio == '0'" input-align="centen" clearable type="text" label="银行卡" :placeholder="pickMoneyInfor.bankName + '(尾号' + pickMoneyInfor.cardNo.replace('******', '') + ')'" disabled />
          <van-field v-show="radio == '1'" input-align="centen" clearable type="text" label="币种" :placeholder="$store.state.userInfo.currencyType" disabled />
          <van-field v-show="radio == '1'" input-align="centen" clearable type="text" label="协议" :placeholder="$store.state.userInfo.protocol" disabled />
          <van-field v-show="radio == '1'" input-align="centen" clearable type="text" label="钱包地址" :placeholder="$store.state.userInfo.walletAddress" disabled />
          <van-field input-align="centen" clearable type="number" label="真实姓名" :placeholder="pickMoneyInfor.userName" disabled />
          <van-field input-align="centen" clearable type="number" label="账户余额" :placeholder="String(pickMoneyInfor.accountBalance)" disabled />
          <van-field v-model="money" input-align="centen" clearable type="number" label="提款金额" :placeholder="'最少提现'+pickMoneyInfor.minPickMoney+'元'" />
          <van-field v-model="password"   input-align="centen" clearable type="password" label="提款密码" placeholder="请输入提款密码" />
        </van-cell-group>
        <van-radio-group v-model="radio" v-if="$store.state.userInfo.walletAddress || $store.state.userInfo.cardNo">
          <van-cell-group>
            <van-cell title="银行卡" clickable @click="radio = '0'" v-if="$store.state.userInfo.cardNo">
              <template #right-icon>
                <van-radio name="0"  checked-color="#ee0a24"/>
              </template>
            </van-cell>
            <van-cell title="钱包" clickable @click="radio = '1'" v-if="$store.state.userInfo.walletAddress">
              <template #right-icon>
                <van-radio name="1" checked-color="#ee0a24" />
              </template>
            </van-cell>
          </van-cell-group>
        </van-radio-group>
        <van-button @click="submits" size="normal" type="danger" style="margin:20px 0 20px 10%;">{{$store.state.escapeList[153]}}</van-button>
      </div>
      <!--投注成功后弹窗-->
      <van-dialog v-model="tixianSuccess" title="提示"  confirm-button-text="确定" :before-close="beforeClose">
        <div style="text-align: center">提交成功,请等待审核</div>
      </van-dialog>
      <!--投注成功后弹窗-->
    </main>
  </div>
</template>

<script>
import '@/assets/css/center/withdrawDeposit.less';
import { Dialog } from 'vant';
import { Toast } from 'vant';
export default {
  name: "withdrawDeposit",
  components:{
    "van-dialog": Dialog.Component,
  },
  data(){
    return{
      money: '', //金额
      password: '', //安全码
      pickMoneyInfor:'',//卡号余额等数据
      tixianSuccess:false,//提现成功弹窗
      floder: this.$store.state.stationInfo.content.station.floder || 'x002',
      radio: '0',
    }
  },
  created() {
    this.getPick_money_data();//获取提款时的提款帐号余额，卡号，银行名称，限制等数据
  },
  mounted() {
    if(this.$store.state.userInfo.walletAddress){
      this.radio = '1'
    }
    if(this.$store.state.userInfo.cardNo){
      this.radio = '0'
    }
    if(this.$store.state.userInfo.cardNo && this.$store.state.userInfo.walletAddress){
      this.radio = '0'
    }
  },
  methods:{
    back(){
      this.$router.push('/personal')
    },
    //获取提款时的提款帐号余额，卡号，银行名称，限制等数据
    getPick_money_data:function(){
      this.$root.common.loading(true)
      this.$post('native/pick_money_data.do',{}).then((ret) => {
        if(ret.success) {
          this.pickMoneyInfor = ret.content;
          this.pickMoneyInfor.cardNo ? this.pickMoneyInfor.cardNo = this.pickMoneyInfor.cardNo.substr(-4) : '';
        } else {
          if(!ret.success) {
            Dialog.alert({
              title: '登陆提示',
              message: ret.msg
            }).then(() => {
              this.$router.push({
                path: '/login',
              })
            });
          }
        }
        this.$root.common.loading(false)
      })
    },
    beforeClose:function(){
      this.$router.push({
        path: '/personal',
      })
    },
    //提交
    submits:function(){
      let that = this
      if(!this.money){
        Toast(that.$store.state.escapeList[230]);
        return false;
      }else if(!this.password){
        Toast(that.$store.state.escapeList[230]);
        return false;
      }else if(this.pickMoneyInfor.checkBetNum > this.pickMoneyInfor.validBetMoney){
        if (this.floder == 'x002104'){
          Toast('您当前注单数据不完整，请联系管理员提交数据！');
        }else {
          Toast(that.$store.state.escapeList[154]);
        }
        return false;
      }else{
        this.getPickMoney();//提款
      }
    },
    //提款
    getPickMoney:function(){
      const loading = Toast.loading({
        duration: 0,
        forbidClick: true,
        loadingType: 'spinner',
        message: '提交中'
      });
      let params = {
        money: this.money,
        repPwd: this.password,
        withdrawWay: this.radio,
      };
      this.$post('native/post_pick_money.do',params).then(ret=> {
        if(ret.success) {
          loading.clear();
          this.tixianSuccess = true;
        } else {
          Toast.fail(ret.msg);
        }
      })
    },
  }
}
</script>

<style scoped>

</style>
