@import "../include/base";
.index{
  margin-top: 5rem;
  .swipe{
    padding-top: 1rem;
    background: #000000;
    border-bottom: 1px solid #00ff72;
    height: 20rem;
    img{
      width: 100%;
      height: 18.9rem;
    }
  }
  .user-reg{
    height: 4rem;
    .login-button, .register-button{
      float: left;
      width: 50%;
      height: 100%;
      text-align: center;
      line-height: 4rem;
      font-weight: 600;
      font-size: 1.5rem;
      color: #ffffff;
    }
    .login-button{
      background: linear-gradient(to bottom, rgba(15,175,244,1) 0%, rgba(15,175,244,1) 7%, rgba(16,80,136,1) 16%, rgba(17,2,46,1) 100%);
    }
    .register-button{
      background: linear-gradient(to bottom, rgba(143,64,202,1) 0%, rgba(143,64,202,1) 9%, rgba(88,36,122,1) 17%, rgba(21,1,24,1) 100%);
    }
  }
  .content{
    .game-tag{
      display: flex;
      height: 7rem;
      color: #ffffff;
      .tag{
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(29,29,27,1) 0%, rgba(6,6,6,1) 100%);
        text-align: center;
        padding-top: .7rem;
        border: 1px solid transparent;
        position: relative;
        img{
          width: 3.5rem;
          height: 3.5rem;
        }
      }
      .active{
        border: 1px solid #0fb3fa!important;
      }
      .active:after {
        content: "";
        color: #0fb3fa;
        position: absolute;
        border-top: 0.7rem solid;
        border-right: 0.7rem solid transparent;
        border-bottom: 0;
        border-left: 0.7rem solid transparent;
        width: 1px;
        margin: auto;
        bottom: -8px;
        left: 0;
        right: 0;
      }
    }
    .game-list{
      .box{
        // 容器内边距
        padding: 1rem 1rem 9rem 1rem;
        // 容器距离底部的高度
        min-height: 50rem;
        .line{
          //  元素展示位置
          width: 100%;
          div{
            // 图片外层div的宽高
            width: 30%;
            margin: 0 1.5%;
            height: 15.6rem;
            display: inline-block;
            margin-top: 10px;
            img{
              // 图片跟div保持一致大小
              width: 100%;
              height: 100%;
            }
          }
        }
        // 真人
        &:nth-child(1){
          // 背景图
          background: url("../../images/gameImg/real/home-bg.jpg");
          // 背景图大小
          background-size: 100% 100%;
        }
        // 电子
        &:nth-child(2){
          background: url("../../images/gameImg/game/casino-bg.jpg");
          background-size: 100% 100%;
        }
        // 体育
        &:nth-child(3){
          background: url("../../images/gameImg/sports/sports-bg.jpg");
          background-size: 100% 100%;
        }
      }
    }
  }
}
