@import "../include/base";
.wallet{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 72px;
  top: 60px;
  background: url("../../images/account-bg.jpg");
  background-size: 100% 100%;
  overflow: auto;
  .nav{
    height: 36px;
    background: linear-gradient(to bottom, rgba(30,29,29,1) 0%, rgba(7,7,7,1) 100%);
    display: flex;
    color: #ffffff;
    position: fixed;
    left: 0;
    right: 0;
    .menu{
      width: 100%;
      border:1px solid #0fb3f9;
      line-height: 36px;
      text-align: center;
      white-space: pre;
    }
    .active{
      border-bottom: 3px solid #0fb3f9;
    }
  }
  .box{
    width: 100%;
    overflow: auto;
    padding: 40px 10px 36px 10px;
  }
}