<template>
  <div class="personal-header">
    <header>
      <div :class="{back:true,blueSpan:titleDate.backShow}" @click="$root.common.backPage">
        <van-icon name="arrow-left" size="2.5rem" />
        <span v-show="titleDate.backShow">返回</span>
      </div>
      <div class="title" >
        <h1>{{titleDate.title}}</h1>
      </div>
      <div class="rule" @click="titleDate.rule.url">{{titleDate.rule.text}}</div>
    </header>
  </div>
</template>

<script>
import '@/assets/css/include/personal_header.less'
export default {
  name: "personal_header",
  props:['titleDate'],
  data(){
    return{}
  },
  mounted() {
  },
  methods:{}
}
</script>

<style scoped lang="less">

</style>