<template>
  <div class="mode">
    <div class="list"  v-for="(item, index) in sonData.templateList" :key="index">
      <div class="title">
        {{item.name}}
      </div>
      <div class="number-mode" v-if="sonData.model == 2">
        <div class="number" @click="clickNumberCheck(index,index2)" :class="{active:list.isActive}" v-for="(list, index2) in sonData.templateList[index].oddPlayItems" :key="index2">
          <div class="name" :class="{'number-img':list.name >= 0}">{{list.name}}</div>
          <div class="odds">
            <van-checkbox v-model="list.isActive" checked-color="#FF9726" shape="square"></van-checkbox>
          </div>
        </div>
      </div>
      <div class="number-mode" v-else>
        <div class="number" @click="clickNumber(index,index2)" :class="{active:list.isActive}" v-for="(list, index2) in sonData.templateList[index].oddPlayItems" :key="index2">
          <div class="name" :class="{'number-img':list.name >= 0}">{{list.name}}</div>
          <div class="odds"><b>{{list.odds}}</b></div>
          <div class="input" v-if="betModel == 1"><input type="number" v-model="list.money" @input="clickNumber(index,index2)"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import $ from  'jquery'
import lotteryHtml from '@/assets/json/lotteryTemplate/dpc.json'
export default {
  name: "official",
  props:['sonData','params','lottery','betModel'],
  data(){
    return{
      isActive:'',
    }
  },
  created:function(){
    this.showTemplate()
  },
  mounted:function(){

  },
  watch:{

  },
  methods:{
    clickNumber:function (index,index2){
      this.$parent.addCart(index,index2)
      this.$forceUpdate()
    },
    clickNumberCheck:function (index,index2){
      this.$parent.addCartCheck(index,index2)
      this.$forceUpdate()
    },
    // 给小于10的号码加零
    addZero:function(num,three){
      if(three){
        num<10? num = '0'+ num: num = ''+num;
        num<100? num = '0'+ num: num = ''+num;
      } else {
        num<10? num = '0'+ num: num = ''+num;
      }
      return num;
    },
    showTemplate:function () {
      let that = this
      let data = lotteryHtml.data
      that.sonData.model = 1
      for(let i in data){
        if(data[i].playName == this.params.sonCode){
          that.sonData.templateList = data[i].data
          // 获取当前玩法数据
          $.each(this.lottery.rules, function (index, item) {
            $.each(item.rules, function (index2, item2) {
              if(item2.code == that.params.sonCode){
                that.sonData.thatPlayType = item.rules
              }
            })
          })
          // 填充玩法数据
          $.each(that.sonData.thatPlayType, function (index, item) {
            if(item.code == that.params.sonCode){
              let dxdzzh = '' ,list = [];
              switch (that.params.sonCode) {
                case '13qiu':
                  dxdzzh = item.oddPlayItems.slice(1,5);
                  for(let n in that.sonData.templateList) {
                    list = [];
                    // 填充其他
                    for (let i = 0; i < 10; i++) {
                      let obj = that.sonData.thatPlayType[0].oddPlayItems[0];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.classify = that.sonData.templateList[n].name + '--' + i;
                      newobj.name = i;
                      list.push(newobj)
                    }
                    for (let i = 0; i < dxdzzh.length; i++) {
                      let obj = dxdzzh[i];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = dxdzzh[i].name;
                      newobj.classify = that.sonData.templateList[n].name + '--' + dxdzzh[i].name;
                      list.push(newobj)
                    }
                    that.sonData.templateList[n].oddPlayItems = list
                  }
                  break;
                case 'zhenghe':
                  for(let n in that.sonData.templateList) {
                    list = [];
                    // 填充其他
                    if(n == 0){
                      for (let i = 0; i < 10; i++) {
                        let obj = that.sonData.thatPlayType[0].oddPlayItems[0];
                        let newobj = [];
                        for (let k in obj) {

                          newobj[k] = obj[k]
                        }
                        newobj.classify = that.sonData.templateList[n].name + '--' + i;
                        newobj.name = i;
                        list.push(newobj)
                      }
                    } else if(n == 1){
                      let data = that.sonData.thatPlayType[0].oddPlayItems.slice(1,11)
                      for (let i = 0; i < data.length; i++) {
                        let obj = data[i];
                        let newobj = [];
                        for (let k in obj) {
                          newobj[k] = obj[k]
                        }
                        newobj.name = data[i].name;
                        newobj.classify = that.sonData.templateList[n].name + '--' + data[i].name;
                        list.push(newobj)
                      }
                    } else if(n == 2){
                      let data = that.sonData.thatPlayType[0].oddPlayItems.slice(11,15)
                      for (let i = 0; i < data.length; i++) {
                        let obj = data[i];
                        let newobj = [];
                        for (let k in obj) {
                          newobj[k] = obj[k]
                        }
                        newobj.name = data[i].name;
                        newobj.classify = data[i].name;
                        list.push(newobj)
                      }
                    }else if(n == 3){
                      let data = that.sonData.thatPlayType[0].oddPlayItems.slice(15,18)
                      for (let i = 0; i < data.length; i++) {
                        let obj = data[i];
                        let newobj = [];
                        for (let k in obj) {
                          newobj[k] = obj[k]
                        }
                        newobj.name = data[i].name;
                        newobj.classify = data[i].name;
                        list.push(newobj)
                      }
                    }else if(n == 4){
                      let data = that.sonData.thatPlayType[0].oddPlayItems.slice(18)
                      for (let i = 0; i < data.length; i++) {
                        let obj = data[i];
                        let newobj = [];
                        for (let k in obj) {
                          newobj[k] = obj[k]
                        }
                        newobj.name = data[i].name;
                        newobj.classify = data[i].name;
                        list.push(newobj)
                      }
                    }
                    that.sonData.templateList[n].oddPlayItems = list
                  }
                  break;
                case 'zhushipan':
                  dxdzzh = item.oddPlayItems.slice(1,5);
                  for(let n in that.sonData.templateList) {
                    if(n < 7){
                      dxdzzh = ['大','小','单','双','质','合']
                    } else {
                      dxdzzh = ['大','小','单','双']
                    }
                    list = [];
                    // 填充其他
                    for (let i = 0; i < dxdzzh.length; i++) {
                      let obj = item.oddPlayItems[0];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = dxdzzh[i];
                      newobj.classify = that.sonData.templateList[n].name + '--' + dxdzzh[i];
                      newobj.odds = that.sonData.thatPlayType[0].oddPlayItems[0].odds
                      list.push(newobj)
                    }
                    that.sonData.templateList[n].oddPlayItems = list
                  }
                  break;
                case 'yizizuhe':
                  dxdzzh = ['大','小','单','双','质','合']
                  // 填充数字
                  for (let i = 0; i < 10; i++) {
                    let obj = that.sonData.thatPlayType[0].oddPlayItems[0];
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.classify = i;
                    newobj.name = i;
                    list.push(newobj)
                  }
                  that.sonData.templateList[0].oddPlayItems = list
                  for(let n in that.sonData.templateList) {
                    list = [];
                    // 填充其他
                    for (let i = 0; i < dxdzzh.length; i++) {
                      let obj = that.sonData.thatPlayType[0].oddPlayItems[1];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = dxdzzh[i];
                      newobj.classify = that.sonData.templateList[n].name + '--' + dxdzzh[i];
                      list.push(newobj)
                    }
                    n>0? that.sonData.templateList[n].oddPlayItems = list:''
                  }
                  break;
                case 'erzizuhe':
                case 'sanzizuhe':
                  list = [];
                  // 填充其他
                  for (let i = 0; i < that.sonData.thatPlayType[0].oddPlayItems.length; i++) {
                    let obj = that.sonData.thatPlayType[0].oddPlayItems[i];
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = that.sonData.thatPlayType[0].oddPlayItems[i].name;
                    newobj.classify = that.sonData.thatPlayType[0].oddPlayItems[i].name;
                    list.push(newobj)
                  }
                  that.sonData.templateList[0].oddPlayItems = list
                  break;
                case 'baishidingwei':
                case 'baigedingwei':
                case 'shigedingwei':
                  for(let n in that.sonData.templateList) {
                    list = [];
                    // 填充其他
                    for (let i = 0; i < 100; i++) {
                      let obj = that.sonData.thatPlayType[n].oddPlayItems[0];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = that.addZero(i,false);
                      newobj.classify = that.addZero(i,false);
                      list.push(newobj)
                    }
                    that.sonData.templateList[n].oddPlayItems = list
                  }
                  break;
                case 'sanzidingwei':
                  for (let n in that.sonData.templateList) {
                    list = [];
                    // 填充其他
                    for (let i = 0; i < 1000; i++) {
                      let obj = that.sonData.thatPlayType[n].oddPlayItems[0];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = that.addZero(i, true);
                      newobj.classify = that.addZero(i, true);
                      list.push(newobj)
                    }
                    that.sonData.templateList[n].oddPlayItems = list
                  }
                  break;
                case 'baishiheshu':
                case 'baigeheshu':
                case 'shigeheshu':
                case 'sanziheshu':
                  dxdzzh = item.oddPlayItems.slice(0, 11);
                  if(that.params.sonCode == 'sanziheshu') {
                    dxdzzh = item.oddPlayItems.slice(0, 16);
                  }
                  for (let i = 0; i < dxdzzh.length; i++) {
                    let obj = dxdzzh[i];
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = dxdzzh[i].name;
                    newobj.classify = dxdzzh[i].name;
                    list.push(newobj)
                  }
                  that.sonData.templateList[1].oddPlayItems = list
                  for(let n in that.sonData.templateList) {
                    list = [];
                    // 填充数字
                    for (let i = 0; i < 10; i++) {
                      let obj = item.oddPlayItems[11];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.classify = that.sonData.templateList[n].name + '--' +i;
                      newobj.name = i;
                      list.push(newobj)
                    }
                    n == 0? that.sonData.templateList[n].oddPlayItems = list:''
                  }
                  break;
                case 'zuxuansan':
                case 'zuxuanliu':
                  that.sonData.model = 2
                  for(let n in that.sonData.templateList) {
                    list = [];
                    // 填充数字
                    for (let i = 0; i < 10; i++) {
                      let obj = item.oddPlayItems[0];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.classify = i;
                      newobj.name = i;
                      list.push(newobj)
                    }
                    that.sonData.templateList[n].oddPlayItems = list
                  }
                  break;
              }
            }
          })
        }
      }
    },
  }
}
</script>

<style scoped>

</style>
