<template>
  <div id="onlineList" class="flexWrap">
    <van-nav-bar @click-left="back" left-arrow class="bg-h c-w" title="在线列表"/>
    <div v-for="user in onlineUser" class="p-10 b-b">
      <img v-lazy="user.headImg" class="b-r-b50 v-m" alt="" style="width: 2.5rem;height: 2.5rem">
      <span class="v-m f-s-18">{{user.nickname}}</span>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        onlineUser: []
      }
    },
    created:function(){
      this.getOnlineMemberList();
    },
    props: ['showOnline', 'platChat'],
    methods: {
      getOnlineMemberList: function(){
        $sky.ajaxNb('post',this.$store.state.domainUrl+'/user/getOnlineMemberList', {token: this.platChat.userToken, platFormId:this.platChat.platformId}, (ret) => {
          if (ret.msg === 'success') {
              this.onlineUser = ret.data;
          } else {

          }
        });
      },
      back: function () {
        this.$emit('close')
      }
    }
  }
</script>

<style scoped>
  #onlineList {
    background: #f4f4f4;
    width: 100%;
    height: 100%;
  }
</style>
