<template>
  <div class="flexWrap" id="chat">
    <van-nav-bar @click-left="back" @click-right="showOnline=true" left-arrow class="bg-h c-w" right-text="在线人数"
                 :title="$route.query.nickname"/>
    <van-notice-bar left-icon="volume">
      {{notice}}
    </van-notice-bar>
    <div class="flexContent p-5">
      <div v-if="!black" class="messageBox">
        <div v-for="item in chatMessage" class="p-b-10 message">
          <!--其他用户发的消息-->
          <div v-if="item.chat.name!=userName">
            <div class="d-i v-t p-t-10">
              <img v-if="item.chat.headImg" :src="item.chat.headImg" width="35" height="35" alt="">
              <img v-else src="../../../../static/img/index/touxiang.png" width="35" height="35" alt="">
            </div>
            <div class="d-i" style="max-width: 80%">
              <p class="f-s-16 c-6 p-b-5 f-s-16">{{item.chat.form}} <span class="c-9 f-s-14">{{item.chat.time.substring(10,item.chat.time.length)}}</span></p>
              <p v-if="item.chat.msgType==1" class="bg-w p-5 d-i b-r-6">{{item.chat.content}}</p>
              <p v-if="item.chat.msgType==2" @click="showImage(item.chat.content)" class="bg-w p-5 b-r-6 d-i" >
                <img :src="item.chat.content" style="width:120px" alt="">
              </p>
              <p v-if="item.chat.msgType==3" class="bg-w p-10 f-s-16" v-html="item.chat.content"></p>
              <div v-if="item.chat.msgType==4" @click="grabRedpacket(item.chat.redpacketId)" class="bg-w clear redPaper p-r b-r-6">
                <img src="../../../../static/img/redPaper1.png" style="width:230px;float: left" alt="">
                <p>{{ item.chat.content }}</p>
              </div>
              <div v-if="item.chat.msgType==5" class="bg-w f-s-14 c-w b-r-6 " style="width: 15rem;overflow: hidden">
                <div class="clear p-l-r-10 p-b-t-5 gtbg clear">
                  <span class="pull-l">{{JSON.parse(item.chat.content).lotName}}</span>
                  <span @click="followBet(item.chat.content)" class="pull-r p-l-r-10 m-l-5 b-r-6" style="border: 1px solid #fff">跟投</span>
                  <span class="pull-r">{{JSON.parse(item.chat.content).qiHao}}期</span>
                </div>
                <div v-for="lottery in (JSON.parse(item.chat.content).data)" class="p-b-t-5 p-l-r-10 clear">
                  <span class="pull-l p-l-r-5 bg-c8">{{lottery.playName}}</span>
                  <span class="pull-l p-l-r-5 gtbg m-l-10">{{lottery.name}}</span>
                  <span class="pull-r c-h">{{lottery.money/*.toFixed(2)*/}}</span>
                </div>
              </div>
              <div v-if="item.chat.msgType==6" class="bg-w p-10 f-s-16 c-w b-r-6" style="background: #f86704">
                <div class="d-i text-c p-l-r-20">
                  <p class="p-b-5">{{JSON.parse(item.chat.content).bet}}</p>
                  <p>投注</p>
                </div>
                <div class="d-i text-c p-l-r-20">
                  <p class="p-b-5">{{JSON.parse(item.chat.content).bunko}}</p>
                  <p>奖金</p>
                </div>
                <div class="d-i text-c p-l-r-20">
                  <p class="p-b-5">{{JSON.parse(item.chat.content).win}}</p>
                  <p>盈亏</p>
                </div>
              </div>
            </div>
          </div>
          <!--用户发的消息-->
          <div v-else class="clear">
            <div class="d-i v-t p-t-10 pull-r p-l-10">
              <img v-if="item.chat.headImg" :src="item.chat.headImg" width="35" height="35" alt="">
              <img v-else src="../../../../static/img/index/touxiang.png" width="35" height="35" alt="">
            </div>
            <div class="d-i pull-r" style="max-width: 80%">
              <p class="f-s-16 c-6 p-b-5 text-r v-m f-s-16"><span class="c-9 f-s-14">{{item.chat.time.substring(10,item.chat.time.length)}} </span>{{item.chat.form}}</p>
              <p v-if="item.chat.msgType==1" class="bg-w p-5 pull-r b-r-6">{{item.chat.content}}</p>
              <p v-if="item.chat.msgType==2" @click="showImage(item.chat.content)" class="bg-w p-5 b-r-6">
                <img :src="item.chat.content" style="width:120px" alt="">
              </p>
              <div v-if="item.chat.msgType==4" @click="grabRedpacket(item.chat.redpacketId)" class="bg-w clear redPaper p-r b-r-6">
                <img src="../../../../static/img/redPaper1.png" style="width:230px;float: left" alt="">
                <p>{{ item.chat.content }}</p>
              </div>
              <div v-if="item.chat.msgType==5" class="bg-w f-s-14 c-w b-r-6 " style="width: 15rem;overflow: hidden">
                <div class="clear p-l-r-10 p-b-t-5 gtbg clear">
                  <span class="pull-l">{{JSON.parse(item.chat.content).lotName}}</span>
                  <span @click="followBet(item.chat.content)" class="pull-r p-l-r-10 m-l-5 b-r-6" style="border: 1px solid #fff">跟投</span>
                  <span class="pull-r">{{JSON.parse(item.chat.content).qiHao}}期</span>
                </div>
                <div v-for="lottery in (JSON.parse(item.chat.content).data)" class="p-b-t-5 p-l-r-10 clear">
                  <span class="pull-l p-l-r-5 bg-c8">{{JSON.parse(item.chat.content).playName}}</span>
                  <span class="pull-l p-l-r-5 gtbg m-l-10">{{lottery.name}}</span>
                  <span class="pull-r c-h">{{lottery.money/*.toFixed(2)*/}}</span>
                </div>
              </div>
              <div v-if="item.chat.msgType==6" class="bg-w p-10 f-s-16 c-w b-r-6" style="background: #f86704">
                <div class="d-i text-c p-l-r-20">
                  <p class="p-b-5">{{JSON.parse(item.chat.content).bet}}</p>
                  <p>投注</p>
                </div>
                <div class="d-i text-c p-l-r-20">
                  <p class="p-b-5">{{JSON.parse(item.chat.content).bunko}}</p>
                  <p>奖金</p>
                </div>
                <div class="d-i text-c p-l-r-20">
                  <p class="p-b-5">{{JSON.parse(item.chat.content).win}}</p>
                  <p>盈亏</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="h-50 bt"></div>
      </div>
    </div>
    <div v-if="!black" class="w-b100 p-b-t-5 p-f bg-f0 bottomBox" style="bottom: 0">
      <div class="clear">
        <div class="pull-l p-r v-m " style="width: 85%;box-sizing: border-box">
          <input v-model="sendValue" type="text" class="p-t-5 b-b m-l-10 f-s-16 b-r-6" style="width: 100%;height: 1.5rem;background:rgb(251, 251, 251)">
          <van-icon v-show="!emojiShow" @click="openEmoji()" name="smile-o" size="1.5rem"
                    style="position: absolute;right: 0;bottom: 2px;"></van-icon>
          <van-icon v-show="emojiShow" @click="closeEmoji" name="arrow-down" size="1.5rem"
                    style="position: absolute;right: 0;bottom: 2px;"></van-icon>
        </div>
        <div class="pull-l v-m text-c" style="width: 15%;height: 30px">
          <van-icon v-if="!sendValue" @click="showMore=!showMore;emojiShow=false;reBottom()" name="add-o" size="1.8rem"></van-icon>
          <span v-if="sendValue" @click="sendMessage(sendValue, '1')" class="bg-h p-5 c-w b-r-6 f-s-16 d-i">发送</span>
        </div>
      </div>
      <div v-show="emojiShow">
        <ul class="p-10 bg-f8">
          <li v-for="emoji in emojiList" @click="addEmoji(emoji)" class="d-i text-c"
              style="width: 16.5%;font-size: 22px">{{emoji}}
          </li>
        </ul>
      </div>
      <div v-show="showMore" class="p-10">
        <div class="w-b25 d-i text-c">
          <div class="p-l-r-10 p-b-t-5 d-i b-r-6 clear" style="border: 1px solid #eee">
            <van-icon name="photo-o" class="pull-l" size="1.5rem">
              <form action="">
                <input type="file" id="sendPicMsg" class="filepath pull-l" @change="upFile" accept="image/*"
                       style="width: 1.8rem;height: 1.8rem">
              </form>
            </van-icon>
          </div>
          <p class="f-s-14 c-6 p-t-5">照片</p>
        </div>
        <!--<div @click="showHongBao=true" class="w-b25 d-i text-c">-->
          <!--<div class="p-l-r-10 p-b-t-5 d-i b-r-6 clear" style="border: 1px solid #eee">-->
            <!--<van-icon name="bill-o" class="pull-l" size="1.5rem"></van-icon>-->
          <!--</div>-->
          <!--<p class="f-s-14 c-6 p-t-5">红包</p>-->
        <!--</div>-->
      </div>
    </div>
    <!--在线列表-->
    <van-popup v-model="showOnline" position="right" id="onlineView">
      <online-list @close="showOnline=false" :onlineUser="onlineUser" :showOnline="showOnline"
                   class="p-f"></online-list>
    </van-popup>
    <!--红包弹窗-->
    <van-dialog v-model="showHongBao" title="发红包" show-cancel-button :before-close="beforeClose">
      <van-field v-model="HongBao.money" type="phone" label="总金额" placeholder="0.00"/>
      <van-field v-model="HongBao.number" type="phone" label="红包个数" placeholder="填写个数"/>
      <van-field v-model="HongBao.message" type="text" label="留言" placeholder="恭喜发财,大吉大利"/>
    </van-dialog>
    <!--跟投弹窗-->
    <van-dialog v-model="showFollowBet" title="" show-cancel-button :before-close="betSubmit" class="p-l-r-20 b-box f-s-16">
      <p class="text-c p-b-t-10 f-s-21">跟投注单</p>
      <van-row class="p-b-t-5">
        <van-col class="d-i w-b33 c-6">{{followData.lotName}}</van-col>
        <van-col class="d-i w-b33">{{followData.qiHao}}期</van-col>
        <van-col class="d-i w-b33"><input type="text" v-model="allBetMoney" @keyup="changeMoney(allBetMoney)" class="h-20 w-30 bg-f8 d-i"></van-col>
      </van-row>
      <div v-for="(item,index) in followData.data" class="p-b-t-5">
        <van-row>
          <van-col class="d-i c-6 w-b33">{{item.playName? item.playName:followData.playName}}</van-col>
          <van-col class="d-i w-b33">{{item.name}}</van-col>
          <van-col class="d-i w-b33">
            <input type="text" v-model="item.money" @keyup="changeMoney(item,index)" class="h-20 w-30 bg-f8 d-i">
            <div @click="delBet(index)" class="d-i p-l-10 c-h">删除</div></van-col>
        </van-row>
      </div>
    </van-dialog>


    <van-popup v-model="getHongBao" class="getMoney">
      <div v-show="getMoney!==0">
        <img src="../../../../static/img/hasRedPaper.png" width="100%" alt="">
        <van-icon @click="getHongBao=false" name="close" size="2rem" color="#fff" class="p-a" style="top: 0;right: 0"></van-icon>
        <div class="f-w-900 c-h w-b100 text-c p-a" style="font-size: 1.5rem;top:6rem">{{getMoney}}元</div>
        <div  class="f-w-900 c-w w-b100 text-c p-a" style="font-size: 1rem;top:13rem">您已经抢到该红包</div>
        <div  class="f-w-900 c-w w-b100 text-c p-a" style="font-size: 1rem;top:15rem">去看看其他人手气>></div>
      </div>
      <div v-show="getMoney===0">
        <img src="../../../../static/img/toLate.png" width="100%" alt="">
        <van-icon @click="getHongBao=false" name="close" size="2rem" color="#fff" class="p-a" style="top: 0;right: 0"></van-icon>
        <!--<div class="f-w-900 c-h w-b100 text-c p-a" style="font-size: 1.5rem;top:6rem">{{getMoney}}元</div>-->
        <div  class="f-w-900 c-w w-b100 text-c p-a" style="font-size: 1rem;top:13rem">{{getMessage}}</div>
        <div  class="f-w-900 c-w w-b100 text-c p-a" style="font-size: 1rem;top:15rem">去看看其他人手气>></div>
      </div>
    </van-popup>
    <van-popup v-model="loading" class="getMoney">
      <van-loading color="white" style="margin: 0 auto" />
      <!--<p class="f-s-18 c-w">正在打开红包</p>-->
    </van-popup>
    <van-popup v-model="imageLoad" class="getMoney w-b100">
      <img @click="imageLoad=false" :src="imgPath" class="w-b100" alt="">
    </van-popup>
  </div>
</template>

<script>
  import {Toast} from 'vant'
  import onlineList from './onlineList'
  import { Loading } from 'vant';
  import qs from 'qs'

  export default {
    data() {
      return {
        platformConfig:{},
        black: false, // 聊天室拉黑
        allBetMoney: '',
        showFollowBet: false,
        followData:{

        },
        notice: '暂时没有公告   暂时没有公告   暂时没有公告   暂时没有公告', // 公告
        imgPath: '', // 展示大图的图片路径
        imageLoad: false, // image展示大图
        loading:true,
        getMessage: '',
        getMoney: 0, // 红包抢到的钱
        getHongBao: false, // 显示抢红包
        showHongBao: false, //显示发红包
        HongBao: {
          money: '',
          number: '',
          message: '',
        }, // 发红包数据
        showMore: false, // 显示聊天以及红包
        emojiShow: false, // 是否显示emoji
        showOnline: false, // 显示在线列表
        onlineUser: [], // 在线的用户列表
        platChat: {
          domainPlatToken: "",
          domainUrl: "",
          platformId: "",
          userToken: "",
        }, // 平台，用户token
        imgSide: {
          width: 0,
          height: 0,
        }, // 上传图片的宽高
        sendValue: '', // 聊天输入框内容
        userToken: '', //链接websocket的用户token
        chatMessage: [], // 聊天信息
        chatUser: null, // 存放聊天室的用户信息
        emojiList: [
          '😀', '😁', '😂', '😄', '😅', '😆', '😇', '😉', '😊', '😋', '😌', '😍', '😘', '😙', '😜', '😝', '😎', '😏', '😶', '😑', '😒', '😳', '😞', '😟', '😠', '😡', '😔', '😕', '😣', '😖', '😫', '😤', '😮', '😱', '😨', '😰'
        ] // 聊天表情
      }
    },
    components: {
      onlineList
    },
    methods: {
      // webSocket心跳
      heartbeat() {
        console.log('心跳');
        JSON.stringify({
          chat: {
            content: '',
            form: '',
            to: "",
            // //接收人,如果没有则置空,如果有多个接收人则用,分隔
            id: '',
            name: '',
            grade: '',
            level: '',
            msgType: '',
            headImg: ''
          },
          type: "heart"
        })
      },
      // 发送消息接口
      sendMessage(agentData, type) {
        let date = new Date();
        let time =(date.getHours()<10? '0'+date.getHours():date.getHours()) + ':' + (date.getMinutes()<10? '0'+date.getMinutes():date.getMinutes()) + ':' + (date.getSeconds()<10? '0'+date.getSeconds():date.getSeconds());
        time = date.getFullYear()+ '-' + (date.getMonth()+1 < 10? '0'+(date.getMonth()+1): date.getMonth()+1) + '-' + (date.getDay()<10? '0'+date.getDay(): date.getDay()) + ' ' + time;

        // if(this.chatUser.ban === -1){
        //   Toast('您已被禁言');
        //   return
        // }
        var data =  '';
        if (type === '1') {
          data = JSON.stringify({
            chat: {
              content: agentData,
              form: this.chatUser.name,
              to: this.$route.query.name,
              //接收人,如果没有则置空,如果有多个接收人则用,分隔
              id: this.chatUser.id,
              name: this.chatUser.name,
              grade: this.chatUser.grade,
              level: this.chatUser.level,
              msgType: 1,
              headImg: this.chatUser.headImg,
              time:time,
              // adminTextColor:this.platformConfig.adminTextColor
            },
            type: "message",
            platformId:this.chatUser.platformId
          })
        } else {
          data = JSON.stringify({
            chat: {
              content: agentData,
              form: this.chatUser.name,
              to: "",
              //接收人,如果没有则置空,如果有多个接收人则用,分隔
              id: this.chatUser.id,
              name: this.chatUser.name,
              level: this.chatUser.level,
              grade: this.chatUser.grade,
              msgType: '2',
              time:time,
              imgWidth: this.imgSide.width,
              imgHeight: this.imgSide.height,
              headImg: this.chatUser.headImg
            },
            type: "message",
            platformId:this.chatUser.platformId
          })
        }
        let params = {
          token: this.platChat.userToken,
          msg:data,
          platformId: this.platChat.platformId
        };
        $sky.ajax2('post', this.platChat.domainUrl+'/sendMsg', params, (ret) => {
          if (ret.msg === 'success') {
            this.sendValue = '';
          } else {
            Toast(ret.msg)
          }
        });
      },
      // 设置聊天记录底部的距离
      reBottom:function(){
        setTimeout(function () {
          $('.bt').height($('.bottomBox')[0].offsetHeight);
        },200);
      },
      openEmoji:function(){
        this.emojiShow=!this.emojiShow;
        this.showMore=false;
        this.reBottom();
      },
      closeEmoji:function(){
        this.emojiShow=!this.emojiShow;
        this.reBottom();
      },
      // 删除注单号码
      delBet:function(index){
        this.followData.data.splice(index, 1);
        if(!this.followData.data.length){
          this.showFollowBet = false;
        }
      },
      // 提交跟投注单
      betSubmit(action, done) {
        if (action === 'confirm') {
          $sky.ajax2('post', 'user/operation/followBet', {params: JSON.stringify(this.followData)}, (ret) => {
            alert(ret.data );
            if (ret.msg === 'success' && ret.data) {
              ret.data.success? Toast('跟投成功'): '';
              this.allBetMoney = ''
            }else{
              Toast(ret.msg)
            }
            done()
          });
        } else {
          done();
        }
      },
      // 修改跟投号码的金额
      changeMoney:function(item,index){
        let cthis = this;
        if(index !== undefined){
          this.followData.data[index].money = item.money.replace(/\D/g,'');
        }else {
          this.followData.data.forEach(function (bet) {
            cthis.allBetMoney = cthis.allBetMoney.replace(/\D/g,'');
            bet.money = cthis.allBetMoney;
          })
        }
      },
      // 显示跟投弹窗
      followBet:function(chat){
        this.showFollowBet = true;
        this.followData = JSON.parse(chat);
      },
      //获取公告信息
      getPlatformConfig:function(){
        $sky.ajax2('get', this.platChat.domainUrl+'/admin/agent/getPlatformConfig', {}, (ret) => {
          if (ret.success) {
            this.platformConfig = ret.data;
            ret.data? this.notice = ret.data:'';
          }
        })
      },
      // image展示大图
      showImage:function(path){
        this.imgPath = path;
        this.imageLoad = true;
      },
      // 抢红包接口
      grabRedpacket:function(id){
        if(this.chatUser.ban === -1){
          Toast('您已被禁言');
          return
        }
        let that = this;
        this.loading = true;
        $sky.ajax2('post', 'user/operation/grabRedpacket', {redpacketId: id+''}, (ret) => {
          if (ret.data.msg === "success") {
            this.getMoney = 0;
            ret.data.content.records.forEach(function (record) {
              if(record.account === that.chatUser.name){
                that.getMoney = record.money;
              }
            });
          }else{
            this.getMoney = 0;
            let that = this;
            that.getMessage = ret.data.msg;
          }
          this.loading = false;
          setTimeout(function () {
            that.getHongBao = true;
          },100)
        });
      },
      // 关闭红包弹窗
      beforeClose(action, done) {
        if (action === 'confirm') {
          if (this.chatUser.ban === -1) {
            Toast('您已被禁言');
            done();
            return
          }
          let params = {
            totalMoney: this.HongBao.money,
            totalNumber: this.HongBao.number,
            title: this.HongBao.number === '' ? '恭喜发财，大吉大利' : this.HongBao.number,
            token:this.platChat.userToken,
          };
          $sky.ajax2('post', this.platChat.domainUrl+'/user/operation/createRedpacket', params, (ret) => {
            if (ret.msg === "success") {
              let data = {
                msg: JSON.stringify({
                  chat: {
                    content: this.HongBao.number === '' ? '恭喜发财，大吉大利' : this.HongBao.number,
                    form: this.chatUser.name,
                    to: "",
                    //接收人,如果没有则置空,如果有多个接收人则用,分隔
                    id: this.chatUser.id,
                    name: this.chatUser.name,
                    level: this.chatUser.level,
                    grade: this.chatUser.grade,
                    msgType: '4',
                    imgWidth: '1100',
                    imgHeight: '1000',
                    headImg: this.chatUser.headImg,
                    redpacketId: ret.data.id,
                  },
                  type: "message",
                  platformId: this.chatUser.platformId,
                }),
                platformId: this.chatUser.platformId,
                token: this.platChat.userToken,
              };
              $sky.ajax2('post', this.platChat.domainUrl+'/sendMsg', data, (ret) => {
                if (ret.msg === 'success') {
                  this.sendValue = '';
                } else {
                  Toast(ret.msg)
                }
              });
              this.HongBao = {
                money: '',
                number: '',
                message: '',
              };
              this.setChatScorll();
            } else {
              Toast(ret.msg)
            }
          });
          setTimeout(done, 1000);
        } else {
          done();
        }
      },
      // 上传图片
      upFile: function () {
        if(this.chatUser.ban === -1){
          Toast('您已被禁言');
          return
        }
        let file = $('#sendPicMsg')[0].files;
        Toast('加载中', 'loading');
        let param = new FormData(); // 创建form对象
        param.append('file', file[0], file[0].name); // 通过append向form对象添加数据
        var reader = new FileReader();
        var that = this;
        reader.onload = function (e) {
          var data = e.target.result;
          //加载图片获取图片真实宽度和高度
          var image = new Image();
          image.onload = function () {
            that.imgSide.width = image.width;
            that.imgSide.height = image.height;
          };
          image.src = data;
        };
        reader.readAsDataURL(file[0]);
        $sky.ajax3('post', this.platChat.domainUrl+'/user/uploadPic', param, (ret) => {
          if (ret.msg === "success") {
            this.sendMessage(ret.data, '2');
          }
        })
      },
      // 添加表情
      addEmoji: function (emoji) {
        this.sendValue = this.sendValue + emoji;
      },
      // 获取站点token，模板
      getToken: function () {
        let param = {
          token: this.platChat.domainPlatToken,
          platformId: this.platChat.platformId,
          level: '0',
          name: this.userName,
          grade: '0',
        };
        $sky.ajax2('get', 'getToken', param, (ret) => {
          if (ret.msg) {
            this.userToken = ret.data;
            this.getAuthentication();
          }
        })
      },
      // 用户认证
      getAuthentication: function () {
        let param = {
          token: this.platChat.userToken,
        };
        $sky.ajax2('post', this.platChat.domainUrl+'/getAuthentication', param, (ret) => {
          if (ret.msg !== "用户账号已封") {
            this.chatUser = ret.data;
            this.initWebSocket();
          }else {
            this.black = true;
          }
        })
      },
      //获取聊天室usertoken
      getPlatChat: function () {
        $sky.ajax('get', 'native/getPlatChat', {}, (ret) => {
          if (ret.success) {
            this.platChat = ret.content;
            this.getPrivateChatRecord();
            this.getAuthentication();
            this.getPlatformConfig();
          } else {
            if (ret.isLogin === false) {
              // this.getPlatChatRecord();
              // this.getAuthentication();
              Toast(ret.msg);
              this.$router.push({
                path: '/login',
                query: {}
              })
            }
            this.loading = false;
            Toast(ret.msg)
          }
        })
      },
      //获取私聊记录记录
      getPrivateChatRecord: function () {
        let params = {
          token: this.platChat.userToken,
          start: 0,
          end: -1,
          toName: this.$route.query.name
        };
        $sky.ajax2('post', this.platChat.domainUrl+'/getPrivateChatRecord', params, (ret) => {
          if (ret.msg === "success") {
            let cthis = this;
            this.loading = false;
            ret.data.reverse().forEach(function (msg) {
              cthis.chatMessage.push(JSON.parse(msg));
            });
            setTimeout(function () {
              // 滚动到消息最底部
              $('.flexContent').scrollTop($('.messageBox').height())
            }, 300);
          } else {
            if (!ret.isLogin) {
              this.$router.push({
                path: '/login',
                query: {}
              })
            }
          }
        })
      },
      //初始化weosocket
      initWebSocket() {
        //一  判断当前浏览器是否支持WebSocket
        if ('WebSocket' in window ) {
          let ws = this.platChat.domainUrl.slice(0,5) === 'https'? 'wss': 'ws';
          const wsuri = ws+"://"+this.platChat.domainUrl.replace(/(https:\/\/)| (http:\/\/)/g, '')+"/websocket?token=" + this.platChat.domainPlatToken;
          // const wsuri = "wss://"+ this.platChat.domainUrl.replace('http://', '') +"/websocket?token=" + this.platChat.userToken;
          this.websock = new WebSocket(wsuri);
          this.$store.state.socket = this.websock;
          this.websock.onmessage = this.websocketonmessage;
          this.websock.onclose = this.websocketclose;
          this.websock.onopen = this.websocketopen;
        } else if ('WebSocket' in window && this.$store.state.socket !== null) {
          this.websock = this.$store.state.socket;
          this.websock.onmessage = this.websocketonmessage;
          this.websock.onclose = this.websocketclose;
        } else {
          alert('Not support websocket')
        }
        this.heartbeat();
        clearInterval(this.timer);
        this.timer = setInterval(this.heartbeat, 30000);

        //ws地址
      },
      // 聊天数据接收
      websocketonmessage(e) {
        let redata = JSON.parse(e.data);
        if(redata.type==="ban"){
          Toast('您已被禁言');
          return
        }
        if(redata.type==="delete"){
          let cthis = this;
          this.chatMessage.forEach(function (item,index) {
            if(item.chat.content === redata.chat.content){
              cthis.chatMessage.splice(index, 1)
            }
          });
          return
        }
        if(redata.list){
          this.onlineUser = redata.list;
        }
        if (!this.chatUser) {
          if (redata.name === this.userName) {
            for (let k in redata.list) {
              k === this.userName ? this.chatUser = redata.list[k] : '';
            }
          }
        }
        // 私聊信息接收
        if (redata.type !== "notice" && redata.type !== "heart" && redata.chat && redata.chat.to !== "" && redata.chat.form !== this.userName) {
          this.$store.dispatch('addPrivateChat', redata)
        }
        if (redata.type !== "notice" && redata.type !== "heart" && redata.chat && redata.chat.to !== "") {
          this.chatMessage.push(redata);
        }
      },
      // 聊天数据发送
      websocketsend(agentData, type) {
        // if(this.chatUser.ban === -1){
        //   Toast('您已被禁言');
        //   return
        // }
        if (type === '1' ) {
          this.websock.send(JSON.stringify({
            chat: {
              content: agentData,
              form: this.chatUser.name,
              to: this.$route.query.name,
              //接收人,如果没有则置空,如果有多个接收人则用,分隔
              id: this.chatUser.id,
              name: this.chatUser.name,
              level: this.chatUser.level,
              msgType: '1',
              headImg: this.chatUser.headImg
            },
            type: "message"
          }));
        } else {
          this.websock.send(JSON.stringify({
            chat: {
              content: agentData,
              form: this.chatUser.name,
              to: this.$route.query.name,
              //接收人,如果没有则置空,如果有多个接收人则用,分隔
              id: this.chatUser.id,
              name: this.chatUser.name,
              level: this.chatUser.level,
              msgType: '2',
              imgWidth: this.imgSide.width,
              imgHeight: this.imgSide.height,
              headImg: this.chatUser.headImg
            },
            type: "message"
          }));
        }

        this.sendValue = '';
        setTimeout(function () {
          // 滚动到消息最底部
          $('.flexContent').scrollTop($('.messageBox').height())
        }, 500);
      },
      // 关闭websocket关闭
      websocketclose(e) {
        console.log("connection closed (" + e.code + ")");
      },
      back: function () {
        window.history.go(-1);
        $('#drager').show().css('top', '50%'); // 隐藏聊天室悬浮按钮
      }
    },
    created: function () {
      this.userName = $sky.getCookie('username');
      this.getPlatChat(); // 获取 token
      $('#drager').hide(); // 隐藏聊天室悬浮按钮
    },
  }
</script>

<style scoped>
  .getMoney{
    background: none;
  }
  #chat header {
    background: #dc3b40;
  }

  #chat{
    background: #eee;
  }

  #sendPicMsg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .onlineList {
    width: 100%;
    height: 100%;
  }

  #onlineView {
    background: #f4f4f4;
    width: 100%;
    height: 100%;
  }

  .redPaper p{
    position: absolute;
    bottom: 3px;
    z-index: 1;
    left: 21px;
    color: #fff;
    font-size: 14px;
  }
  .gtbg{
    background: #16a0d3;
  }
  .bg-c8{
    background: #c8c9cc;
  }
</style>
