<template>
  <div id="chatUserInfo" class="flexWrap">
    <van-nav-bar @click-left="back" left-arrow class="bg-h c-w" title="基本信息"/>
    <div class="bg-w flex h-50 l-h-50 p-l-r-20 b-b">
      <div class="flex1 v-m clear">
        <span>头像</span>
        <span class="pull-r b-r-b50 h-b100 p-t-2"><img :src="userInfo.headImg" class="b-r-b50" width="35" height="35px" alt=""></span>
      </div>
<!--      <div class="v-m p-r">-->
<!--        <van-uploader :before-read="beforeRead" :after-read="afterRead" class="h-b100">-->
<!--          <van-button  icon="photo" type="primary" class="bg-n" style="border: none"></van-button>-->
<!--        </van-uploader>-->
<!--        <van-icon name="arrow" class="p-a" style="right: 0;top:15px"></van-icon>-->
<!--      </div>-->
    </div>

    <div class="bg-w flex h-50 l-h-50 p-l-r-20 b-b">
      <div class="flex1 v-m p-r-10 clear">
        <span>账号</span>
        <span class="pull-r b-r-b50 h-b100">
          {{userInfo.name}}
        </span>
      </div>
      <div class="v-m">
        <!--<van-icon name="arrow"></van-icon>-->
      </div>
    </div>

<!--    <div  @click="showNickName = true" class="bg-w flex h-50 l-h-50 p-l-r-20 b-b">-->
    <div  class="bg-w flex h-50 l-h-50 p-l-r-20 b-b">
      <div class="flex1 v-m p-r-10 clear">
        <span>昵称</span>
        <span class="pull-r b-r-b50 h-b100">
          {{userInfo.nickname}}
        </span>
      </div>
<!--      <div class="v-m">-->
<!--        <van-icon name="arrow"></van-icon>-->
<!--      </div>-->
    </div>

    <van-dialog
      v-model="showNickName"
      title="修改昵称"
      show-cancel-button
      class="text-c"
      cancelButtonColor="red"
      :before-close="upDateNickName"
    >
      <div class="p-t-20 p-b-20">
        <input v-model="nickName" type="text" class="b-1 b-r-6 h-40 p-l-10" style="border-color: #1989fa">
      </div>
    </van-dialog>

<!--    <div @click="showSex = true" class="bg-w flex h-50 l-h-50 p-l-r-20 b-b">-->
    <div class="bg-w flex h-50 l-h-50 p-l-r-20 b-b">
      <div class="flex1 v-m p-r-10 clear">
        <span>性别</span>
        <span class="pull-r b-r-b50 h-b100">
          {{userInfo.sex? userInfo.sex: '未设置性别'}}
        </span>
      </div>
<!--      <div class="v-m">-->
<!--        <van-icon name="arrow"></van-icon>-->
<!--      </div>-->
    </div>
    <van-dialog
      v-model="showSex"
      title="修改性别"
      show-cancel-button
      class="text-c"
      cancelButtonColor="red"
      :before-close="upDateSex"
    >
      <div class="p-t-20 p-b-20">
        <van-radio-group v-model="sex">
          <van-radio name="男">男</van-radio>
          <van-radio name="女">女</van-radio>
        </van-radio-group>
      </div>
    </van-dialog>

  </div>
</template>

<script>
  import {Toast} from 'vant';
  import { RadioGroup, Radio } from 'vant';
  export default {
    data() {
      return {
        userInfo: null,
        nickName: '',
        showNickName:false ,
        sex: '男',
        showSex: false,
      }
    },
    created:function(){
      this.userInfo = this.$route.query.data;
      if(!this.userInfo.name){
        this.$router.go(-1)
      }
    },
    methods: {
      // 返回布尔值
      beforeRead(file) {
        if (file.type !== 'image/jpeg' && file.type !== 'image/png') {
          Toast('请上传 jpg/png 格式图片');
          return false;
        }
        return true;
      },
      afterRead(file){
        let param = new FormData(); // 创建form对象
        param.append('file', file.file, file.file.name); // 通过append向form对象添加数据
        $sky.ajax3('post', this.$store.state.domainUrl +'/user/uploadHeadImg', param, (ret) => {
          if (ret.msg === "success") {
            this.userInfo = ret.data;
            Toast('头像修改成功');
          }else {
            Toast(ret.msg)
          }
        });
      },

      // 修改性别
      upDateSex:function(action, done){
        if (action === 'confirm') {
          $sky.ajax2('post', this.$store.state.domainUrl+'/user/updateUser', { sex: this.sex }, (ret) => {
            if (ret.msg === 'success' && ret.data) {
              this.userInfo = ret.data;
              Toast('性别修改成功');
            } else {
              Toast(ret.msg)
            }
            done()
          });
        } else {
          done();
        }
      },
      // 修改昵称
      upDateNickName:function(action, done){
        if (action === 'confirm') {
          this.$http.post(this.$store.state.domainUrl+'/user/updateUser', { nickname: this.nickName }, {emulateJSON: true}, {credentials: true}).then(function (ret) {
            if (ret.msg === 'success' && ret.data) {
              this.userInfo = ret.data;
              this.nickName = '';
              Toast('昵称修改成功');
            } else {
              Toast(ret.msg)
            }
          }, function () {
            console.log('请求失败处理');
          });
        } else {
          done();
        }
      },
      back: function () {
        window.history.go(-1);
        $('#drager').show().css('top', '50%'); // 隐藏聊天室悬浮按钮
      }
    }
  }
</script>

<style scoped>

</style>
