@import "../include/base";

.assignment {
  .ground();
  margin-bottom: 5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../images/task-1.jpg");

  .title {
    font-size: 5.3rem;
    font-weight: 700;
    font-style: italic;
    color: #fff9e8;
    text-align: center;
    padding: 6.4rem 0;
  }

  .deck {
    padding: 4.6rem 1.7rem;

    .list {
      height: 4.1rem;
      margin-bottom: 3.7rem;
      .left {
        .flex();
        float: left;
        width: 20%;
        height: 100%;

        img {
          width: 3.9rem;
          height: 3.9rem;
        }
      }

      .center {
        float: left;
        width: 55%;
        height: 100%;

        p {
          &:nth-child(1) {
            font-size: 1.5rem;
            color: #3d3d3d;
            font-weight: 700;
            display: flex;
          }

          &:nth-child(2) {
            margin-top: .5rem;
            color: #a5a5a5;
            font-weight: 700;
          }
          span {
            width: 73px;
            height: 21px;
            line-height: 21px;
            padding-left: 18px;
            font-size: 13px;
            font-weight: 500;
            color: #ffa900;
            text-align: center;
            background-image: url(../../images/task-8.cc38d50f.png);
            background-size: cover;
            background-repeat: no-repeat;
            box-sizing: border-box;
            display: inline-block;
            margin-left: .5rem;
            white-space: nowrap;
          }
        }
      }

      .right {
        float: left;
        width: 25%;
        height: 100%;

        button {
          width: 69px;
          height: 35px;
          line-height: 35px;
          color: #fff;
          font-size: 13px;
          font-weight: 500;
          text-align: center;
          background-color: #0f79ff;
          border-radius: 11px;
          border: none;

          &.active {
            background: rgba(15, 121, 255, .2);
            color: #0f79ff;
          }
        }
      }
    }
  }
}
