@import "../include/base";

.invest {
  .ground();
  margin-bottom: 5rem;

  .header {
    height: 27rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../images/index-1.jpg");
    padding: 0 3%;

    .notice {
      background-color: hsla(0, 0%, 100%, .3);
      padding: 0 13px;
      border-radius: 50px;
      margin-top: 2rem;

      .van-notice-bar {
        background: none;
      }
    }

    .banner {
      margin-top: 1rem;

      .van-swipe__indicators {
        display: none;
      }

      img {
        border-radius: 5px;
      }
    }
  }

  .user-info {
    padding: 0 3% 1rem 3%;
    background: #ffffff;

    .deck {
      div {
        height: 100%;
        float: left;

        p {
          text-align: center;
          margin-top: .5rem;

          span {
            font-size: 2.1rem;
            color: #0f79ff;
            font-weight: 700;
          }
        }
      }
    }
  }

  .project {
    padding: 0 3%;

    .deck {
      margin-top: 1.5rem;
      background: #ffffff;
      border-radius: 8px;
      overflow: hidden;
      position: relative;

      .title-img {
        position: relative;
        text-align: center;
        img {
          height: 14.4rem;
          border-radius: 8px 8px 0 0;
          width: auto;
        }

        .day {
          position: absolute;
          top: 16px;
          left: 12px;
          padding: 0 9px;
          height: 20px;
          line-height: 18px;
          text-align: center;
          background: #fff5e3;
          border: 1px solid #f9d198;
          border-radius: 5px;
          font-size: 13px;
          font-weight: 500;
          color: #ffa900;
        }
      }

      .info {
        padding: 1.7rem;

        .title {
          font-size: 1.5rem;
          color: #25324a;
          border-bottom: 1px solid rgba(0, 0, 0, .1);
          padding-bottom: 1.7rem;
          font-weight: 700;
        }

        .income {
          div {
            height: 100%;
            float: left;

            p {
              margin-top: .5rem;

              &:nth-child(1) {
                color: #b9b9b9;
              }

              span {
                font-size: 2.1rem;
                font-weight: 700;
              }
            }
          }
        }

        .tags {
          margin: 1.5rem 0;

          .tag {
            float: left;
            padding: 0 8px;
            height: 21px;
            line-height: 19px;
            text-align: center;
            background: #ecf2ff;
            border: 1px solid #1b67ff;
            border-radius: 3px;
            font-size: 11px;
            font-weight: 500;
            color: #1b67ff;
            margin-right: 10px;
          }
        }
      }

      .button {
        button {
          height: 37px;
          margin: 0 auto;
          font-size: 15px;
          color: #fff;
          text-align: center;
          line-height: 37px;
          background: #6a82ff;
          border: none;
          width: 100%;
        }
      }

      .not {
        position: absolute;
        height: 14.4rem;
        width: 100%;
        background: rgba(0,0,0,.7);
        .flex();
        img{
          width: 10rem;
          height: 6rem;
        }
      }
    }
  }
}
