@import "../include/base";
.sport{
  .content{
    padding: 15px 15px 50px 15px;

  }
  .img-box{
    height: 310px;
    width: 100%;
    margin-top: 10px;
    padding-top: 70px;
    position: relative;
    .box{
      height: 70px;
    }
    .more{
      position: absolute;
      right: 20px;
      top: 20px;
      color: #a0a3a3;
    }
  }
  .back1{
    background: url("../../images/sport/sport_2.jpg");
    background-size: 100% 100%;
  }
  .back2{
    background: url("../../images/sport/sport_3.jpg");
    background-size: 100% 100%;
  }
  .back3{
    background: url("../../images/sport/sport_4.jpg");
    background-size: 100% 100%;
  }
  .back4{
    background: url("../../images/sport/sport_5.jpg");
    background-size: 100% 100%;
  }
}