<template>
	<view class="login">
		<view class="status_bar"></view>
		<view class="close">
			<uni-icons type="closeempty" size="25" @click="$common.back()"></uni-icons>
		</view>
		<view class="title">
			<view class="label">立即注册</view>
			<view class="tip">现在注册以继续</view>
		</view>
		<view class="login-box">
			<view class="input" v-for="(item,index) in informationList" :key="index">
				<view class="icon-box">
					<uni-icons :type="item.icon || 'personadd'" size="20"></uni-icons>
				</view>
				<input class="form-input" :type="item.type" :placeholder="item.placeholder" v-model="item.value"
					:maxlength="item.maxlength || 10">
			</view>
			<view class="input">
				<view class="icon-box">
					<uni-icons type="font" size="20"></uni-icons>
				</view>
				<input class="form-input" type="text" placeholder="请输入验证码" v-model="sms">
				<image @click="verifyCode()" :src="verifyCodeImg" alt=""></image>
			</view>
			<view class="login-button">
				<button @click="registerUser()">立即注册</button>
			</view>
			<view class="register-tip">
				已有账号？ <span @click="$common.toPath('/pages/login/login')">马上登录</span>
			</view>
		</view>
		<u-toast ref="uToast"></u-toast>
	</view>
</template>

<script>
	export default {
		name: "login",
		data() {
			return {
				sms: '',
				verifyCodeImg: '',
				informationList: [{
						label: '用户账号',
						key: 'account',
						icon: 'person',
						maxlength: 11,
						value: '',
						type: 'text',
						placeholder: '用户名为5-11个英文字母或数字',
						requiredVal: 2
					},
					{
						label: '登陆密码',
						key: 'password',
						maxlength: 16,
						icon: 'locked',
						value: '',
						type: 'password',
						placeholder: '密码为6-16个英文字母或数字',
						requiredVal: 2
					},
					{
						label: '重复密码',
						key: 'rpassword',
						icon: 'locked',
						maxlength: 16,
						value: '',
						type: 'password',
						placeholder: '请再次输入密码',
						requiredVal: 2
					},
				],
			}
		},
		created() {
			this.regconfig()
			this.verifyCode()
		},
		onPullDownRefresh(){
			this.regconfig()
			this.verifyCode()
			uni.stopPullDownRefresh();
		},
		mounted() {
			
		},
		methods: {
			registerUser: function() {
				if (this.informationList[1].value != this.informationList[2].value) {
					return uni.showToast({
						title: '两次密码不一致!',
						icon: 'none',
						duration: 2000
					});
				}
				if (!this.sms) {
					return uni.showToast({
						title: '请输入验证码',
						icon: 'none',
						duration: 2000
					});
				}
				for (let i = 0; i < this.informationList.length; i++) {
					if (this.informationList[i].requiredVal == 2) {
						if (!this.$common.dataSafeValidate(1, this.informationList[i].value)) {
							return false
						}
					}
				}
				let params = {}
				for (let i = 0; i < this.informationList.length; i++) {
					params[this.informationList[i].key] = this.informationList[i].value;
				}
				params['verifyCode'] = this.sms
				params['platForm'] = 1
				this.$Request.post('/native/register.do', params, true).then(res => {
					if (res.success) {
						uni.showToast({
							title: '注册成功，请登录',
							icon: 'none',
							duration: 2000
						});
						setTimeout(() =>{
							this.$common.toPath('/pages/login/login')
						}, 2000)
					} else {
						uni.showToast({
							title: res.msg,
							icon: 'none',
							duration: 2000
						});
						this.verifyCode()
					}
				})
			},
			verifyCode: function() {
				this.verifyCodeImg = this.$config.API + '/native/regVerifycode.do?v=' + new Date().getTime()
			},
			regconfig() {
				let data = {
					platForm: 1,
				}
				this.$Request.get("/native/regconfig.do", data, true).then(res => {
					if (res.success) {
						if (res.content) {
							for (let i in res.content) {
								let obj = {
									type: 'text',
									value: ''
								};
								obj['label'] = res.content[i].name;
								obj['key'] = res.content[i].key;
								obj['placeholder'] = res.content[i].remindText || '请输入' + res.content[i].name;
								obj['requiredVal'] = res.content[i].requiredVal;
								switch (res.content[i].key) {
									case 'userName':
										obj['maxlength'] = 4;
										break;
									case 'qq':
										obj['maxlength'] = 12;
										break;
									case 'phone':
										obj['maxlength'] = 11;
										break;
									case 'email':
										obj['maxlength'] = 22;
										break;
									case 'receiptPwd':
										obj['maxlength'] = 20;
										break;
									case 'cardNo':
										obj['maxlength'] = 25;
										break;
									case 'wechat':
										obj['maxlength'] = 20;
										break;
									case 'promoCode':
										obj['maxlength'] = 10;
										break;
									default:
										obj['maxlength'] = 10;
								}
								this.informationList.push(obj);
							}
						}
					}
				})
			},
		}
	}
</script>

<style lang="scss">
	@import '../../static/css/login.scss';
</style>