<template>
    <div class="dep-cont">
        <p class="msg"><i class="iconfont icon-laba"></i> 友情提醒：如果支付失败，请选择其他支付通道，或更换支付方式</p>
        <div class="list">
            <!-- 支付通道 -->
            <div class="item">
                <div class="l">
                    请选择支付通道：
                </div>
                <div class="r">
                    <div class="tab-item active">支付宝-雪儿</div>
                </div>
            </div>
            <div class="item">
                <div class="l"></div>
                <div class="r">
                    <p class="msg"><i class="iconfont icon-lightbulb-on-outline"></i>此通道单笔最低存款：10元，最高存款 5000元。</p>
                </div>
            </div>
            <!-- 账号昵称 -->
            <div class="item">
                <div class="l">
                    请输入账号昵称：
                </div>
                <div class="r">
                    <input maxlength="20" placeholder="请输入转账支付宝昵称" class="txt">
                </div>
            </div>
            <!-- 存款金额 -->
            <div class="item">
                <div class="l">
                    请输入存款金额：
                </div>
                <div class="r">
                    <input type="number" maxlength="20" placeholder="￥请输入存款金额" class="txt">
                </div>
            </div>
            <!-- 优惠活动 -->
            <div class="item">
                <div class="l">请选择优惠活动：</div>
                <div class="r">
                    <md-radio v-model="yhhd" :value="1">首存有好礼，最高送8888元</md-radio>
                    <md-radio v-model="yhhd" :value="2">不参加优惠活动</md-radio>
                </div>
            </div>
            <!-- 按钮组 -->
            <div class="item">
                <div class="l"></div>
                <div class="r">
                    <button class="shadow">确认充值</button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return {
            yhhd:1,
        }
    }
}
</script>
