<template>
	<view class="personal">
		<view class="public_header">
			<image src="/static/images/icon/out.png" alt="" @click="$common.back()"> 首席系统
		</view>
		<view class="menu" style="margin-top: 0;">
			<view class="list" v-for="(item,index) in menuList" :key="index" @click="toLink(item)">
				<span>{{item.label}}</span>
				<span><uni-icons type="forward" size="20"></uni-icons></span>
			</view>
		</view>
	</view>
</template>

<script>
	export default {
		name: "personal",
		data() {
			return {
				money: '',
				userInfo: '',
				unit: '',
				setPassShow: false,
				bindBankShow: false,
				menuList: [{
						label: '代理说明',
						path: '/pages/daili/rule'
					},{
						label: '团队统计',
						path: '/pages/daili/teamStatic'
					},{
						label: '会员管理',
						path: '/pages/daili/subMember'
					},{
						label: '下级开户',
						path: '/pages/daili/sponsoredLinks'
					},{
						label: '邀请码',
						path: '/pages/daili/sponsoredLinks'
					},{
						label: '业绩提成',
						path: '/pages/daili/commission'
					}
				],
			}
		},
		created() {
			this.accountInfo()
			this.unit = uni.getStorageSync('unit')
		},
		onLoad() {

		},
		onPullDownRefresh() {
			this.accountInfo()
		},
		methods: {
			toLink(item){
				this.$common.toPath(item.path)
			},
			webViewLink(type) {
				this.$common.toPath('/pages/other/webviewPage?type=' + type)
			},
			accountInfo() {
				uni.showLoading();
				uni.request({
					url: this.$config.API + '/native/accountInfo.do',
					data: {},
					method: 'GET',
					header: {
						"content-type": 'application/x-www-form-urlencoded',
					},
					success: (result) => {
						if (result.data.msg == '登陆超时,请重新登陆系统') {
							uni.setStorageSync('token', '')
							this.token = ''
							this.$common.toPath('/pages/login/login')
						} else {
							uni.setStorageSync('token', result.data.accessToken)
							this.userInfo = result.data.content
							uni.setStorageSync('userInfo', result.data.content)
							this.money = this.$common.splitNum(result.data.content.money)
						}
						uni.stopPullDownRefresh();
						uni.hideLoading()
					},
					fail: () => {
						uni.hideLoading()
					}
				})
			},
			getMeminfo() {
				this.$Request.get('/native/meminfo.do', {}, true).then(res => {
					if (res.success) {
						if (res.content.balance != 0) {
							this.money = this.$common.splitNum(res.content.balance)
						}
					}
				})
			},
			goOut() {
				this.$Request.get('/native/logout.do', {}, true).then(res => {
					if (res.success) {
						uni.showToast({
							title: '退出成功',
							icon: 'none',
							duration: 2000
						});
						uni.setStorageSync('token', '')
						setTimeout(() => {
							uni.reLaunch({
								url: '/pages/tabs/index',
							})
						}, 2000)
					}
				})
			},
			withdraw() {
				if (!this.userInfo.receiptPwd && !this.set_receipt_pwd && this.userInfo !== '') { //提款密码
					this.setPassShow = true
				} else if (this.userInfo.cardNo === '' && this.userInfo.walletAddress === '') { //卡号
					this.bindBankShow = true
				} else {
					this.$common.toPath('/pages/center/withdraw')
				}
			},
			confirm(type) {
				if (type == 1) {
					this.$common.toPath('/pages/center/password?type=2')
				} else {
					this.$common.toPath('/pages/center/bindCard')
				}
			},
			toOrder() {
				uni.reLaunch({
					url: '/pages/tabs/order',
				})
			},
		}
	}
</script>

<style lang="scss">
	@import '../../static/css/tabs/personal.scss';
</style>