<template>
	<view class="rule">
		<view class="public_header">
			<image src="/static/images/icon/out.png" alt="" @click="$common.back()"> 代理说明
		</view>
		<view class="content" v-html="content" style="padding: 20rxp 40rpx;">
			
		</view>
	</view>
</template>

<script>
	export default {
		name: "rule",
		data() {
			return {
				content:'',
			}
		},
		created() {
			this.getArticle()
		},
		onLoad() {

		},
		methods: {
			getArticle() {
				this.$Request.get('/getConfig/getArticle.do?code=24', {}, true).then(res => {
					this.content = res[0].content
				})
			},
		}
	}
</script>

<style lang="scss">
	@import '../../static/css/daili.scss';
</style>