<template>
	<view class="subMember">
		<view class="public_header">
			<image src="/static/images/icon/out.png" alt="" @click="$common.back()">会员管理
		</view>
		<view class="tip">
			*您正在查看<span style="color: red;">{{uid ? uAccount : '您'}}的直属代理</span>(点击代理可查看其下级)
		</view>
		<view v-if="dailiList.length > 0">
			<view class="list" v-for="(item,index) in dailiList" :key="index" @click="seeDaili(item)">
				<view class="box">
					<view class="row"><text>账号：{{item.account}}</text></view>
					<view class="row"><text>代理昵称：{{item.name}}</text></view>
					<!-- <view class="row"><text>类型：222</text></view> -->
					<!-- <view class="row"><text>登录时间：222</text></view> -->
				</view>
			</view>
		</view>
		<view class="no-data" v-else>
			<p>
				<image src="/static/images/no-data.56c1aed8.png"></image>
			</p>
			<p @click="seeThisDaili()" style="color: red;margin-top: 20px;">暂无下级代理,点此查看直属代理</p>
		</view>
	</view>
</template>

<script>
	export default {
		name: "teamStatic",
		data() {
			return {
				uid: '',
				uAccount: '',
				dailiList: [],
				agentData:'',
			}
		},
		onLoad(option) {
			this.getDailiInfo()
		},
		methods: {
			getDailiInfo() {
				let params = {
					uid: this.uid,
				}
				this.$Request.get('/native/getDailiInfo.do', params, true).then(res => {
					if (res.success) {
						if(res.content.children){
							this.dailiList = res.content.children
						} else {
							this.dailiList = []
						}
						this.agentData = res.content.agent
					}
				})
			},
			seeDaili(item){
				this.uid = item.id
				this.uAccount = item.account
				this.getDailiInfo()
			},
			seeThisDaili(){
				this.uid = ''
				this.getDailiInfo()
			},
		}
	}
</script>

<style lang="scss">
	@import '../../static/css/daili.scss';
</style>