<template>
	<view class="teamStatic">
		<view class="public_header">
			<image src="/static/images/icon/out.png" alt="" @click="$common.back()">代理报表
				<span class="date" @click="dateShow = true">日期</span>
		</view>
		<view class="tip">
			*{{formula}}
		</view>
		<view class="content" style="padding: 20rxp 40rpx;">
			<view class="inherit-box" v-for="(item,index) in content" :key="index">
				<view>
					<p class="money">￥{{item.switchDesc}}</p>
					<p>{{replace(item.switchKey)}}</p>
				</view>
			</view>
		</view>
		<u-popup :show="dateShow" @close="close">
			<view class="popup">
				<view class="title">日期筛选</view>
				<view class="type">
					<view class="button" @click="dateClick(index)" :class="{'active':dateIndex == index}"
						v-for="(item,index) in dateList" :key="index">{{item.type}}</view>
				</view>
			</view>
		</u-popup>
	</view>
</template>

<script>
	export default {
		name: "teamStatic",
		data() {
			return {
				content: '',
				formula: '',
				startTime: '',
				endTime: '',
				dateShow: false,
				dateIndex: 0,
				dateList: [{
						type: '昨天',
						value: '1'
					},{
						type: '今天',
						value: '0'
					},
					{
						type: '本月',
						value: 'this'
					},
					{
						type: '上月',
						value: 'last'
					},
				],
			}
		},
		onLoad(option) {
			this.gettTeamStaticNew()
		},
		methods: {
			replace(value) {
				if (value == undefined) return '';
				if (value.includes('彩票')) value = value.replace(/彩票/g, '共享');
				if (value.includes('活动礼金')) value = value.replace(/活动礼金/g, '首充人数');
				return value
			},
			gettTeamStaticNew() {
				let params = {
					account: '',
					type: 2,
					begin: this.startTime,
					end: this.endTime,
					pageSize: 10,
					pageNumber: 1,
				}
				this.$Request.get('/native/teamStaticNew.do', params, true).then(res => {
					if (res.success) {
						this.content = res.content
						this.formula = res.formula
					}
				})
			},
			dateClick(index) {
				this.dateIndex = index
				this.today(this.dateList[index].value)
				this.gettTeamStaticNew()
				this.close()
			},
			close(index) {
				this.dateShow = false
			},
			today(day) {
				var year = new Date().getYear() + 1900,
					month = new Date().getMonth() + 1;
				var dayNum = (new Date().getDate()) - day
				var curDate = new Date();
				var curMonth = curDate.getMonth();
				curDate.setMonth(curMonth + 1);
				curDate.setDate(0);
				curDate = curDate.getDate()


				if (dayNum < 1) {
					if (curDate == 31) {
						dayNum = 31 + dayNum
					}
					if (month == 1) {
						month = 12
						year = year - 1
					} else {
						month = month - 1
					}
				}

				var today = year + '-' + (month < 10 ? "0" + month : month) + '-' + (dayNum < 10 ? "0" + dayNum : dayNum);
				if (day == 7) {
					this.startTime = year + '-' + month + '-' + dayNum;
					this.endTime = year + '-' + month + '-' + ((new Date().getDate()));
				} else if (day == 'this') {
					this.startTime = year + '-' + month + '-1'
					this.endTime = year + '-' + month + '-' + ((new Date().getDate()))
				} else if (day == 'last') {
					this.startTime = year + '-' + (month - 1) + '-1'
					this.endTime = year + '-' + (month - 1) + '-' + (new Date(year, month - 1, 0).getDate())
				} else {
					this.startTime = today
					this.endTime = today
				}
			}
		}
	}
</script>

<style lang="scss">
	@import '../../static/css/daili.scss';
</style>