<template>
  <div class="personal">
    <header>
      <div class="user">
        <div class="user-info">
            <img :src="accountInfo.headUrl || 'https://xb774.com/mobile/v3/images/touxiang.png'" alt="title">
          <p><em>账号:</em><span>{{ accountInfo.account }}</span></p>
        </div>
        <router-link to="/set" class="user-install" tag="div">
          <van-icon name="setting-o" />
        </router-link>
      </div>
      <div class="money" >
        <div class="balance" @click="$store.commit('pushMoneyShow')">
          <h2>{{$store.state.moneyUnit}}</h2>
          <span v-if="$store.state.moneyShow">{{ money || 0.00 }}</span>
          <span v-else>******</span>
        </div>
        <div :class="{onclickAnimate:onclickAnimate,refresh:true}" @click="getMeminfo()">
          <van-icon name="after-sale" />
        </div>
      </div>
    </header>
    <div class="money-button">
      <van-row>
        <a href="javascript:void(0)" @click="locationUrl('chongzhi')">
          <van-col span="12">
            <van-icon name="ecard-pay" />
            <span>购币</span>
          </van-col>
        </a>
        <a href="javascript:void(0)" @click="locationUrl('tikuan')">
          <van-col span="12">
            <van-icon name="peer-pay" />
            <span>回款</span>
          </van-col>
        </a>
      </van-row>
    </div>
    <div class="order-goods">
      <router-link  to="/mnyrecord" tag="div" class="goods-item">
        <van-icon name="orders-o" />
        <br>
        <span>变动记录</span>
      </router-link>
      <router-link to="/account_details" tag="div" class="goods-item">
        <van-icon name="paid" />
        <br>
        <span>购单记录</span>
      </router-link>
      <router-link to="/lottery_record" tag="div" class="goods-item">
        <van-icon name="logistics" />
        <br>
        <span>订单记录</span>
      </router-link>
    </div>
    <div class="personal-content">
      <router-link to="/website_message">
        <van-cell :title="messageNum > 0 ? `我的消息 (您有 ${messageNum} 条未读信息)` : '我的消息'" :icon="require('../../../assets/images/message.png')" is-link  />
      </router-link>
      <a @click="locationUrl('address')">
        <van-cell title="收货地址" :icon="require('../../../assets/images/address.png')" is-link  />
      </a>
      <router-link to="/service">
        <van-cell title="专属客服" :icon="require('../../../assets/images/server.png')" is-link  />
      </router-link>
      <router-link :to="{path:'/upd_password',query:{type:1}}">
        <van-cell title="登录密码" :icon="require('../../../assets/images/safety.png')" is-link  />
      </router-link>
      <router-link :to="{path:'/upd_password',query:{type:2}}">
        <van-cell title="资金密码" :icon="require('../../../assets/images/safety.png')" is-link  />
      </router-link>
      <router-link :to="{path:'/usdt_address'}" v-if="floder != 'x002209'">
        <van-cell title="钱包地址" :icon="require('../../../assets/images/safety.png')" is-link  />
      </router-link>
    </div>
    <!--设置取款密码-->
    <van-dialog v-model="set_receipt_pwd" show-cancel-button :before-close="beforeClose">
      <h1 >设置{{$store.state.escapeList[1]}}密码</h1>
      <van-field v-model="password" clearable type="password" maxlength="6" :label="$store.state.escapeList[1] + '密码'" placeholder="请输入取款密码" />
      <van-field v-model="passwords" clearable type="password" maxlength="6" label="再次输入" placeholder="请再次输入取款密码" />
    </van-dialog>
    <!--    会员等级-->
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import '@/assets/css/personal.less'
import foot_nav from '@/components/include/foot_nav'
import {Toast, Dialog} from 'vant';
export default {
  name: "personal",
  components: {
    foot_nav,
    "van-dialog": Dialog.Component,
  },
  data() {
    return {
      accountInfo: [],
      scoreSwitch: [],
      yuebaoSwitch: 'off',
      userLevel: '',
      levelShow: false,
      money: 0,
      messageNum: 0,
      floder: this.$store.state.stationInfo.content.station.floder || 'x002',
      set_receipt_pwd:false,//是否显示设置提款密码框
      password: '', //提款密码
      passwords: '', //重复密码
      vipLevelShow: false, //会员等级显示开关
      vipLevelList: '', //会员等级列表
      moneyShow: false,
      onclickAnimate:false
    }
  },
  created() {
    this.accountInfoIs()
    this.messageList()
  },
  mounted() {
  },
  methods: {
    // 获取余额
    getMeminfo: function () {
      this.onclickAnimate = !this.onclickAnimate
      this.$fetch('native/meminfo.do').then(res => {
        if (res.success) {
          let len = this.accountInfo.money.indexOf('.') + 3
          if(res.content.balance != 0){
            this.money = res.content.balance.substring(0, len)
          }
        }
      })
    },
    // 获取用户信息
    accountInfoIs: function () {
      this.$fetch('native/accountInfo.do').then(res => {
        if (res.success) {
          this.accountInfo = res.content
          let len = this.accountInfo.money.indexOf('.') + 3
          this.accountInfo.money = this.accountInfo.money.substring(0, len)
          this.money = this.accountInfo.money
          this.getScoreSwitch()
          this.$store.commit('pushUserInfo',this.accountInfo)
        }
      })
    },
    // 获取列表
    getScoreSwitch: function () {
      if(!this.$store.state.scoreSwitch.success){
        this.$fetch('native/getScoreSwitch.do', {}, true).then(res => {
          if (res.success) {
            this.$store.commit('pushScoreSwitch',res)
          }
        })
      }
    },
    // 站内信未读
    messageList: function () {
      let params = {
        pageNumber: 1,
        pageSize: 100,
        status: 0
      }
      let that = this
      that.messageNum  = 0
      this.$post('center/news/message/list.do', params).then(res => {
        let data= res.list
        for (let index in data) {
          if(data[index].status == 1){
            that.messageNum += 1
          }
        }
      })
    },
    // 退出登录
    logout: function () {
      Dialog.confirm({
        title: '安全提示',
        message: '是否退出当前账户',
      }).then(() => {
        this.$post('native/logout.do').then(res => {
          if (res.success) {
            this.$store.commit('pushIsLogin', false)
            this.$router.push({path: '/'})
            Toast('账户 ' + this.accountInfo.account + ' 退出成功')
          }
        })
      }).catch(() => {
      });
    },
    locationUrl: function (type) {
      if(type == 'chongzhi' && this.floder == 'x002209'){
        Toast('充值通道请联系在线客服进行充值')
        return
      }
      let that = this;
      if (!that.$store.state.isLogin) {
        that.$router.push({
          path: '/login'
        });
      } else {
        if (type == 'chongzhi') {
          window.location.href = window.location.origin + '/mobile/v3/pay_select_way.do';
          // that.$router.push({
          //   path: '/pay_select_way'
          // });
        } else if (type == 'tikuan') {
          //window.location.href = window.location.origin + '/mobile/v3/withdraw_money.do';
          if(!this.accountInfo.receiptPwd && !this.set_receipt_pwd && this.accountInfo !== '') { //提款密码
            Dialog.confirm({
              title: '设置'+that.$store.state.escapeList[229]+'密码',
              message: '您还未设置'+that.$store.state.escapeList[229]+'密码，是否现在设置？',
              cancelButtonText: '否',
              confirmButtonText: '是',
            }).then(() => {
              this.set_receipt_pwd = true;
            })
          } else if(this.accountInfo.cardNo==='' && this.accountInfo.walletAddress==='') { //卡号
            Dialog.confirm({
              title: '绑定银行卡',
              message: '您还未绑定银行卡，是否现在去绑定？',
              cancelButtonText: '否',
              confirmButtonText: '是',
            }).then(() => {
              this.$router.push({
                path: '/bindCard',
              })
            })
          } else {
            this.$router.push({
              path: '/withdrawDeposit',
              query:{
                params:1111
              }

            })
          }
        } else if (type == 'eduzhuanhuan') {
          window.location.href = window.location.origin + '/mobile/v3/live_game.do';
        } else if (type == 'address') {
          if(!this.accountInfo.receiptPwd && !this.set_receipt_pwd && this.accountInfo !== '') { //提款密码
            Dialog.confirm({
              title: '设置'+that.$store.state.escapeList[229]+'密码',
              message: '您还未设置'+that.$store.state.escapeList[229]+'密码，是否现在设置？',
              cancelButtonText: '否',
              confirmButtonText: '是',
            }).then(() => {
              this.set_receipt_pwd = true;
            })
          } else {
            this.$router.push({
              path: '/address',

            })
          }
        } else if (type == 'isCpOnOff') {
          // window.location.href = window.location.origin + '/mobile/v3/betting_record_lottery.do';
          this.$router.push({path:'/lottery_record'})
        } else if (type == 'isTlOnOff') {
          // window.location.href = window.location.origin + '/mobile/v3/betting_record_lottery_third.do';
          this.$router.push({path:'/lottery_third_record'})
        } else if (type == 'isLhcOnOff') {
          this.$router.push({path:'/sixmark_record'})

          // window.location.href = window.location.origin + '/mobile/v3/betting_record_sixmark.do';
        } else if (type == 'isTyOnOff') {
          // window.location.href = window.location.origin + '/mobile/v3/sport/hg/betting_record_sport.do';
          this.$router.push({path:'/sport_record'})
        } else if (type == 'isRealOnOff') {
          // window.location.href = window.location.origin + '/mobile/v3/third/betting_record_live.do';
          this.$router.push({path:'/live_record'})
        } else if (type == 'isChessOnOff') {
          // window.location.href = window.location.origin + '/mobile/v3/betting_record_chess.do';
          this.$router.push({path:'/record_chess'})
        } else if (type == 'isDzOnOff') {
          // window.location.href = window.location.origin + '/mobile/v3/third/betting_record_egame.do';
          this.$router.push({path:'/egame_record'})
        } else if (type == 'isDjOnOff') {
          // 已关闭该项目
          window.location.href = window.location.origin + '/mobile/v3/third/betting_record_esport.do';
        } else if (type == 'isChangeMoney') {
          // window.location.href = window.location.origin + '/mobile/v3/mnyrecord.do';
          this.$router.push('/mnyrecord')
        } else if (type == 'isDetailMoney') {
          // window.location.href = window.location.origin + '/mobile/v3/account_details.do';
          this.$router.push({path:'/account_details'})
        } else if (type == 'isEsOnOff') {
          // window.location.href = window.location.origin + '/mobile/v3/scoreChange.do';
          this.$router.push({path:'/scoreChange'})
        } else if (type == 'isTurnlate') {
          // window.location.href = window.location.origin + '/mobile/v3/awardRecord.do';
          this.$router.push({path:'/awardRecord'})
        } else if (type == 'isBackWater') {
          // window.location.href = window.location.origin + '/mobile/v3/backwater.do';
          this.$router.push({path:'/backwater'})
        } else if (type == '余额宝') {
          window.location.href = window.location.origin + '/mobile/v3/balanceGemInfo.do';
          // this.$router.push({path:'/balance_gemInfo'})
        } else if (type == '代理说明') {
          window.location.href = window.location.origin + '/mobile/v3/info.do';
        } else if (type == '团队统计') {
          window.location.href = window.location.origin + '/mobile/v3/teamStatic.do';
        } else if (type == '会员管理') {
          window.location.href = window.location.origin + '/mobile/v3/subMember.do';
        } else if (type == '投注明细') {
          window.location.href = window.location.origin + '/mobile/v3/betting_record_lottery.do?come=daili';
        } else if (type == '下级开户') {
          window.location.href = window.location.origin + '/mobile/v3/sponsoredLinks.do';
        } else if (type == '业绩提成') {
          window.location.href = window.location.origin + '/mobile/v3/commission.do';
        } else if (type == '站内信') {
          // window.location.href = window.location.origin + '/mobile/v3/website_message.do';
          this.$router.push({path:'/website_message'})
        } else if (type == '登录密码修改') {
          this.$router.push({path:'/upd_password',query:{type:1}})
          // window.location.href = window.location.origin + '/mobile/v3/upd_password.do?type=1';
        } else if (type == '取款密码修改' || type == '提现密码修改') {
          this.$router.push({path:'/upd_password',query:{type:2}})
          // window.location.href = window.location.origin + '/mobile/v3/upd_password.do?type=2';
        }
      }
    },
    //设置提款密码
    beforeClose: function(action,done) {
      if(action === 'confirm') {
        setTimeout(done, 1000);
        this.$post('native/set_receipt_pwd.do',{pwd:this.password,againPwd:this.passwords}).then(ret=>{
          if(ret.success) {
            Dialog.confirm({
              title: '设置成功！',
              cancelButtonText: '取消',
              confirmButtonText: '继续设置',
            }).then(() => {
              this.$router.push({
                path: '/bindCard',
              })
            }).catch(()=>{

            })
          } else {
            Dialog.alert({
              title: ret.msg
            })
          }
        })
      } else {
        done();
      }
    },
    vipLevel:function (){
      this.vipLevelShow = true
      this.$fetch('native/levelList.do',{}).then(res=>{
        this.vipLevelList = res.rows
      })
    }
  },
}
</script>

<style scoped>

</style>
