<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>用户资料</title>
		<link rel="stylesheet" href="../css/vant.css">
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
	</head>
	<body>
		<div id="informetion" v-cloak class="flexWrap">
			<header class="h-140 bg-q c-w">
				<div><van-nav-bar @click-left="back"  @click-right="edit" left-text="返回" right-text="编辑" left-arrow /></div>
				<div class="p-l-r-20 m-t-5">
					<van-uploader :after-read="logo">
						<img width="40" height="40" class="b-r-b50 v-m" :src="headImg"/>
					</van-uploader>
					<div class="d-i f-s-14 m-l-15 p-r t-10">
						<div style="color: orange;">已认证&nbsp;&nbsp;<van-icon name="success" /></div>
						<span>{{userInforList[0].value}}</span>
					</div>
				</div>
			</header>
			<div class="flexContent">
				<van-cell-group>
					 <van-cell v-for="item in userInforList" :value="item.value?item.value:'未知'" :icon="item.icon" >
						<template slot="title">
							<span class="van-cell-text">{{item.text}}</span>
						</template>
					</van-cell>
				</van-cell-group>
			</div>
		</div>
	</body>
</html>
<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
window.top.postMessage("no","*")
	new Vue({
		el: '#informetion',
		data: {
			headImg:'',//头像
			ws: '', //
			userInfor:'',//个人信息
			userInforList:[//用户信息列表
				{icon:'contact',text:'账号'},
				{icon:'points',text:'昵称'},
				{icon:'discount',text:'性别'},
				{icon:'exchange',text:'年龄'}
			],
		},
		created: function() {
			this.getUsreInfor();//获取用户信息
			this.userInfor = $zlj.getStorage('userInfor'); //获取个人信息缓存userInfor
			this.webSocketIntr(); //初始化webSocket
		},
		mounted: function() {
			window.onbeforeunload = () => {　　
				this.ws.close();
			}
		},
		methods: {
			//初始化webSocket
			webSocketIntr: function() {
				if('WebSocket' in window) {
					this.ws = new WebSocket($zlj.getStorage('wsUrl')); //连接ws
					this.ws.onerror = (evt) => {
						$zlj.toast("聊天室连接异常");
					};
					this.ws.onopen = (evt) => {
						//						$zlj.toast("您已加入聊天室...");
					};
					this.ws.onclose = (evt) => { //关闭
						$zlj.toast("聊天室已被关闭");
					};
					this.newMsg(); //收到新消息
				} else {
					$zlj.toast('Not support websocket');
					return;
				}
			},
			//收到新消息
			newMsg: function() {
				this.ws.onmessage = (event) => {
					var data = JSON.parse(event.data);
					if(data.message) { //如果是系统消息
						
					} else if(data.chat.id != this.userInfor.id && data.type != 'heart') {//如果不是自己的消息就接收
						if(data.chat.to) { //私聊消息
							this.saveMsg(data,'private'); //保存消息到历史记录
						}else{//群聊消息
							this.saveMsg(data,'group');//保存消息到历史记录
						}
					}
				}
			},
			//保存消息到历史记录
			saveMsg: function(data,type) {
				var mastype;//
				if(type=='group'){//群聊
					mastype=this.userInfor.name;
				}else if(type=='private'){//私聊
					mastype=data.chat.name;
					var myNum = $zlj.getStorage(mastype + 'num');
					if(myNum){//如果有未读
						var mastypeNum = parseInt(myNum);
						mastypeNum += 1;
						$zlj.setStorage(mastype + 'num', mastypeNum);
					}else{
						$zlj.setStorage(mastype + 'num', 1);
					}
				}
				//将账号设为每个聊天记录缓存
				if($zlj.getStorage(mastype)) { //如果已有聊天记录
					var historyMsg = $zlj.getStorage(mastype);
					data.times = new Date().getTime(); //加入时间戳，为了判断缓存是否过期
					historyMsg.push(data);
					$zlj.setStorage(mastype, historyMsg);
				} else { //没有聊天记录
					var dataList = new Array();
					data.times = new Date().getTime(); //加入时间戳，为了判断缓存是否过期
					dataList.push(data);
					$zlj.setStorage(mastype, dataList);
				}
			},
			//获取用户信息
			getUsreInfor: function() {
				$zlj.ajax('post', '/getAuthentication', {
					token: $zlj.getWindowUrl().token
				}).then((ret) => {
					if(ret.data.code === 1) {
						this.headImg=ret.data.data.headImg?ret.data.data.headImg:'https://tpxb.me/laots/userImg.png';
						this.userInforList[0].value=ret.data.data.name;//账号
						this.userInforList[1].value=ret.data.data.nickname;//昵称
						this.userInforList[2].value=ret.data.data.sex;//性别
						this.userInforList[3].value=ret.data.data.age;//年龄
					} else {
						$zlj.toast(ret.data.msg);
					}
				})
			},
			//更换头像
			logo:function(file){
				/* if(file.file.size > 1145728){
	            	alert("图片大小不能超过1MB")
	            	return false;
	            } */
				$zlj.toast('更换中','loading',2000);
				let param = new FormData() // 创建form对象
				param.append('file', file.file, file.file.name) // 通过append向form对象添加数据
				let config = { // 添加请求头
					headers: {
						'Content-Type': 'multipart/form-data'
					}
				}
				axios.post($zlj.getAjaxUrl() + '/user/uploadHeadImg', param, config).then((ret) => {
					console.log(JSON.stringify(ret))
					if(ret.data.code === 1) {
						vant.Toast.clear();
						$zlj.toast('更换成功','success'); //返回用户信息
						this.headImg = ret.data.data.headImg;
					} else {
						vant.Toast.clear();
						$zlj.toast(ret.data.msg, 'fail');
					}
				})
			},
			//滚动到底部
			scrollBottom: function() {
				setTimeout(() => {
					var Bottom = document.querySelector('.flexContent');
					Bottom.scrollTop = Bottom.scrollHeight;
				}, 100)
			},
			//返回
			back:function(){
				$zlj.back();
				webSocketIntr();
				this.scrollBottom();
			},
			//编辑
			edit:function(){
				var nickname=this.userInforList[1].value=='未知'?'0':this.userInforList[1].value;//昵称，0代表未填
				var sex=this.userInforList[2].value=='未知'?'1':this.userInforList[2].value;//性别1代表男
				var age=this.userInforList[3].value=='未知'?'18':this.userInforList[3].value;//年龄
				window.location.href='edit.html?nickname='+nickname+'&age='+age+'&sex='+sex;
			},
		},
	})
</script>
<style type="text/css">
	header .van-nav-bar{
		background: transparent;
	}
	header .van-nav-bar .van-icon,header .van-nav-bar__text{
		color: white;
	}
	header [class*=van-hairline]::after{
		height: 0;
	}
	#closeChat{
		display:none;
	}
</style>