<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>私聊</title>
		<link rel="stylesheet" href="../css/vant.css">
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../css/animate.css"/>
	</head>

	<body>
		<div class="flexWrap flex" v-cloak>
			<header>
				<van-nav-bar class="bg-q" @click-left="back" :title="title" left-text="返回" left-arrow />
			</header>
			<div @touchstart="touchstart" @scroll="scroll" class="flexContent bg-f0 p-l-r-10">
				<div v-for="item,index in historicalList">
					<!--left-->
					<div v-if="item.chat.id != userInfor.id" class="m-t-10">
						<div class="p-r">
							<img :src="item.chat.headImg" class="b-r-b50 v-t imgload animated" width="30" height="30" @click="eidtName(item.chat.name)" />
							<div class="d-i f-s-14 p-r t-3 m-l-10" style="max-width: 70%;top: -10px;">
								<div class="">
									<span class="f-s-12 c-6">{{item.chat.form}}</span>
									<span class="d-i bg-q p-l-r-4 b-r-6 f-s-12 c-9" style="background: #e5e5e5;">{{item.chat.time}}</span>
								</div>
								<!--文字消息-->
								<div v-if="item.chat.msgType=='1'" class="bg-w p-5 b-r-6 m-t-5 p-r" style="word-break: break-word;">
									<div class="sanjiao-w p-a t-3 lf10"></div>
									<span v-html="item.chat.content"></span>
								</div>
								<!--图片消息-->
								<div v-else-if="item.chat.msgType=='2'" :class="'imgBox' + index" @click="imagePreview(item.chat.content)" class="imgRight imgload animated">
									<img :src="item.chat.content" class="w-b100 h-b100" />
								</div>
							</div>
						</div>
					</div>
					<!--right-->
					<div v-else="">
						<div class="p-r p-t-10 clear">
							<img :src="item.chat.headImg" class="b-r-b50 v-t pull-r imgload animated" width="30" height="30" />
							<div class="d-i f-s-14 p-r t-3 m-r-15 pull-r" style="max-width: 70%;top: -10px;">
								<div class="p-r text-r">
									<span class="d-i bg-q p-l-r-4 b-r-6 f-s-12 c-9" style="background: #e5e5e5;">{{item.chat.time}}</span>
									<span class="f-s-12 c-6">{{item.chat.name}}</span>
								</div>
								<!--文字消息-->
								<div v-if="item.chat.msgType=='1'" class="p-5 b-r-6 m-t-5 p-r c-w" style="background: red;word-break: break-word;">
									<div class="sanjiao-r p-a t-3 r10"></div>
									<span v-html="item.chat.content"></span>
								</div>
								<!--图片消息-->
								<div v-else-if="item.chat.msgType=='2'" @click="imagePreview(item.chat.content)" class="imgLeft imgload animated">
									<img :src="item.chat.content" class="w-b100 h-b100" />
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer class="bg-w p-r">
				<van-row class="h-b100">
					<van-col span="3" class="h-b100 text-c">
						<van-uploader :after-read="sendPicMsg">
							<img class="m-t-8" width="36" src="../images/pic.png" />
						</van-uploader>
					</van-col>
					<van-col span="17" class="centent p-r">
						<textarea @blur="myBlue" @focus="myFocus" ref="textarea" v-model="textMsg" rows="2" cols=""></textarea>
					</van-col>
					<van-col span="4" class="left">
						<div @click="sendTextMsg">发送</div>
					</van-col>
				</van-row>
			</footer>
		</div>
	</body>

</html>
<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
window.top.postMessage("no","*")
	new Vue({
		el: '.flexWrap',
		data: {
			userInfor: '', //用户信息
			name: '', //用于取聊天记录
			title: '', //昵称
			ws: new Object(), //WebSocket对象
			wsState: false, //是否连接成功
			textMsg: '', //文字消息内容
			historicalList: new Array(), //聊天记录
			n:0,//控制懶加載
		},
		created: function() {
			this.title = decodeURI($zlj.getWindowUrl().title); //昵称
			this.name = $zlj.getWindowUrl().name || false;
			this.userInfor = $zlj.getStorage('userInfor'); //获取个人信息缓存userInfor
			this.webSocketIntr(); //初始化webSocket
			this.getHistoricalList(); //获取聊天记录
		},
		mounted: function() {
			this.scrollBottom();
			this.scroll();//初始化懒加载
			window.onbeforeunload = () => {　　
				this.ws.close();
			}
		},
		methods: {
			touchstart: function() {
				this.$refs.textarea.blur();
			},
			//获取聊天记录
			getHistoricalList: function() {
				var token = this.userInfor.token
				var name = this.name
				$zlj.ajax('post', '/getPrivateChatRecord', {
					token: token,
			        start:'0',
			        end:'-1',
			        toName:name
				}).then((ret) => {			
					//var i = 0; 	
					for(user in ret.data.data){
						var data = JSON.parse(ret.data.data[user]);
						//if(i < this.mhst ){
							//i += 1
							if (data.type == "message" || data.type == 'img'){
								this.historicalList.unshift(data);	
							//}
						}
							
																	
					};
				}); 
			},
			//查看图片
			imagePreview: function(imgSrc) {
				var imgList = new Array();
				imgList.push(imgSrc);
				vant.ImagePreview({
					images: imgList,
				});
			},
			//懶加載
			scroll:function(){
				this.$nextTick(()=>{
					var aImg = document.querySelectorAll('.imgload');
		            for (var i = this.n; i < aImg.length; i++) {
		                if (aImg[i].getBoundingClientRect().top < window.innerHeight) {//如果元素在可是窗口内
	                    		aImg[i].classList.add('fadeInDown');
		                    this.n = i + 1;
		                }
		            }
				})
			},
			//初始化webSocket
			webSocketIntr: function() {
				if('WebSocket' in window) {
					this.ws = new WebSocket($zlj.getStorage('wsUrl')); //连接ws
					this.ws.onerror = (evt) => {
						this.wsState = false;
						$zlj.toast("聊天室连接异常请刷新");
					};
					this.ws.onopen = (evt) => {
						this.wsState = true;
						//						$zlj.toast("您已加入聊天室...");
					};
					this.ws.onclose = (evt) => { //关闭
						this.wsState = false;
						$zlj.toast("聊天室已被关闭请刷新");
					};
					this.newMsg(); //收到新消息
				} else {
					$zlj.toast('Not support websocket');
					return;
				}
			},
			//滚动到底部
			scrollBottom: function() {
				setTimeout(() => {
					var Bottom = document.querySelector('.flexContent');
					Bottom.scrollTop = Bottom.scrollHeight;
				}, 100)
			},
			//输入框获取焦点时
			myFocus: function() {
				if(/iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) { //如果是移动端

				}
			},
			//输入框失去焦点时
			myBlue: function() {
				if(/iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) { //如果是移动端

				}
			},
			//收到新消息
			newMsg: function() {
				this.ws.onmessage = (event) => {
					var data = JSON.parse(event.data);
					if(data.message) { //如果是系统消息
						//						$zlj.toast(data.message)
					} else if(data.chat.id != this.userInfor.id && data.type != 'heart') {//如果不是自己的消息就接收
						if(data.chat.to) { //私聊消息
							this.saveMsg(data,'private');//保存消息到历史记录
						}else{//群聊消息
							this.saveMsg(data,'group');//保存消息到历史记录
						}
					}
				}
			},
			//保存消息到历史记录private
			saveMsg: function(data,type) {
				var mastype;//
				if(type=='group'){//群聊
					mastype=this.userInfor.name;
				}else if(type=='private'){//私聊
					mastype=this.name;
					$zlj.rmStorage(this.name + 'num'); //删除未读
				}
				//将账号设为每个聊天记录缓存
				if($zlj.getStorage(mastype)) { //如果已有聊天记录
					var historyMsg = $zlj.getStorage(mastype);
					data.times = new Date().getTime(); //加入时间戳，为了判断缓存是否过期
					historyMsg.push(data);
					$zlj.setStorage(mastype, historyMsg);
					if(type=='private'){
						this.historicalList.push(data);
						this.scrollBottom(); //滚动到底部
						this.scroll();//初始化懒加载
					}
				} else { //没有聊天记录
					var dataList = new Array();
					data.times = new Date().getTime(); //加入时间戳，为了判断缓存是否过期
					dataList.push(data);
					$zlj.setStorage(mastype, dataList);
					if(type=='private'){
						this.historicalList.push(data);
						this.scroll();//初始化懒加载
					}
				}
			},
			//发送图片消息
			sendPicMsg: function(file) {
				if(this.userInfor.ban == '1') { //没有禁言
					if(this.wsState) { //如果ws连接上了
						var data = this.masgData();
						this.upFile(file, (imgUrl) => {
							data.chat['content'] = imgUrl;
							data.chat['msgType'] = '2';
							data['type'] = 'img';
							data['platformId'] = this.userInfor.platformId;
							this.msgCommon(data); //发送并保存消息
						})
					} else {
						$zlj.toast("聊天室连接已断开请刷新");
						this.ws = new WebSocket($zlj.getStorage('wsUrl')); //连接ws
					}
				} else {
					$zlj.toast("您已被禁言，请联系管理员");
				}
			},
			//上传图片
			upFile: function(file, callback) {
				/* if(file.file.size > 1145728){
	            	alert("图片大小不能超过1MB")
	            	return false;
	            } */
				$zlj.toast('加载中', 'loading');
				let param = new FormData() // 创建form对象
				param.append('file', file.file, file.file.name) // 通过append向form对象添加数据
				let config = { // 添加请求头
					headers: {
						'Content-Type': 'multipart/form-data'
					}
				}
				axios.post($zlj.getAjaxUrl() + '/user/uploadPic', param, config).then((ret) => {
					console.log(JSON.stringify(ret))
					if(ret.data.code === 1) {
						vant.Toast.clear();
						callback(ret.data.data)
					} else {
						vant.Toast.clear();
						$zlj.toast(ret.data.msg, 'fail');
					}
				})
			},
			//消息通用
			msgCommon: function(data) {
				this.sendMsg(data);
// 				this.ws.send(JSON.stringify(data));
				this.saveMsg(data,'private');//保存消息到历史记录
				this.textMsg = '';
			},
			// 接口形式发送消息
			sendMsg:function(data){
				let params = {
					msg: JSON.stringify(data),
					platformId: data['platformId'],
					token: this.userInfor.token,
				}
				$zlj.ajax('post', '/sendMsg', params).then((ret) => {
					if(ret) {
						this.textMsg = '';
					} else {
						$zlj.toast(ret.data.msg, 'fail');
					}
				})
			},
			//发送文字消息
			sendTextMsg: function() {
				if(this.textMsg) { //如果输入了内容
					if(this.userInfor.ban == '1') { //没有禁言
						if(this.wsState) { //如果ws连接上了
							var data = this.masgData();
							data.chat['content'] = this.textMsg;
							data.chat['msgType'] = '1';
							data.chat['platformId'] = this.userInfor.platformId;
							data['type'] = 'message';
// 							this.msgCommon(data);
							data['platformId'] = this.userInfor.platformId;
							this.sendMsg(data); //发送并保存消息
							this.saveMsg(data,'private');//保存消息到历史记录
						} else {
							$zlj.toast("聊天室连接已断开请刷新");
							this.ws = new WebSocket($zlj.getStorage('wsUrl')); //连接ws
						}
					} else {
						$zlj.toast("您已被禁言，请联系管理员");
					}
				}
			},
			eidtName :function(name){
				this.textMsg += ('@'+name+'&nbsp;')
			},
			//发送消息参数
			masgData: function() {
				var data = {
					chat: {
						form: this.userInfor.nickname ? this.userInfor.nickname : this.userInfor.name, //发送者昵称
						to: this.name,
						time: $zlj.getDateFull(), //当前时间
						headImg: this.userInfor.headImg ? this.userInfor.headImg : 'https://tpxb.me/laots/userImg.png', //用户头像
						id: this.userInfor.id, //用户ID
						name: this.userInfor.name, //账号
						level: this.userInfor.level //不等于1为禁言状态
					}
				}
				return data;
			},
			//返回
			back: function() {
				this.ws.close();
				$zlj.back();
			},
		},
	})
</script>
<style type="text/css">
	header .van-nav-bar .van-icon,
	header .van-nav-bar__text,
	header .van-nav-bar__title {
		color: white;
	}
	
	.sanjiao-w {
		height: 0px;
		width: 0px;
		border-top: 6px solid transparent;
		border-right: 10px solid #fff;
		border-bottom: 6px solid transparent;
	}
	
	.sanjiao-r {
		height: 0px;
		width: 0px;
		border-top: 6px solid transparent;
		border-left: 10px solid red;
		border-bottom: 6px solid transparent;
	}
	
	.imgLeft {
		width: 6rem;
		height: 7.5rem;
		position: relative;
		top: .15rem;
		left: .5rem;
		background: url(images/pic_jiazai@2x.png) no-repeat;
		background-size: contain;
		clip-path: polygon(0% 0%, 110px 0%, 110px 5px, 120px 10px, 110px 15px, 110px 100%, 0% 100%)!important;
		-webkit-clip-path: polygon(0% 0%, 110px 0%, 110px 5px, 120px 10px, 110px 15px, 110px 100%, 0% 100%)!important;
	}
	
	.imgload{
		background: url(../images/pic_jiazai@2x.png) no-repeat contain;
	}
	
	.imgRight {
		width: 6rem;
		height: 7.5rem;
		position: relative;
		top: .15rem;
		right: .5rem;
		background: #ddd url(images/pic_jiazai@2x.png) no-repeat;
		background-size: contain;
		clip-path: polygon(10px 0%, 10px 5px, 0% 10px, 10px 15px, 10px 100%, 100% 100%, 100% 0%, 10px 0);
		-webkit-clip-path: polygon(10px 0%, 10px 5px, 0% 10px, 10px 15px, 10px 100%, 100% 100%, 100% 0%, 10px 0);
	}
	
	footer {
		height: 50px;
		font-size: 0;
	}
	
	footer .centent {
		left: -4px;
	}
	
	footer .centent textarea {
		border: 1px solid #ddd;
		border-radius: 4px;
		height: 31px;
		margin-top: 5px;
		width: 96%;
		margin-left: 2%;
		text-indent: .5em;
		font-size: 16px;
		padding-top: 8px;
	}
	
	footer .left div {
		width: 100%;
		margin-top: 5px;
		height: 40px;
		line-height: 40px;
		background: #f85;
		text-align: center;
		color: white;
		font-size: 14px;
		border-radius: 6px;
		position: relative;
		left: -4px;
	}
	
	footer .left div:active {
		background: #e09f82;
	}
	#closeChat{
		display:none;
	}
</style>