<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>用户列表</title>
		<link rel="stylesheet" href="../css/vant.css">
		<link rel="stylesheet" type="text/css" href="../css/common.css" />
	</head>

	<body>
		<div id="userList" v-cloak class="flexWrap">
			<header>
				<div>
					<van-nav-bar class="bg-q" @click-left="back" title="在线列表" left-text="返回" left-arrow />
				</div>
				<van-tabs @click="teb">
					<van-tab :title="'在线用户(' + user1 + ')'"></van-tab>
					<van-tab :title="'客服/管理(' + user2 + ')'"></van-tab>
				</van-tabs>
			</header>
			<div class="flexContent" style="overflow:auto;">
				<div v-show="tabIndex===0">
					<van-cell-group v-if="item.id != userInfor.id" v-for="item,index in userList1">
						<van-cell @click="chat(item.nickname,item.name || false,item.level || false)" :title="item.nickname" is-link />
						<img slot="icon" class="b-r-b50 m-r-10" width="26" height="26" :src="item.headImg?item.headImg:'https://tpxb.me/laots/userImg.png'" />
						<span v-if="item.num>0" class="van-badge__info">{{item.num}}</span>
					</van-cell-group>
				</div>
				<div v-show="tabIndex===1">
					<van-cell-group v-if="item.id != userInfor.id" v-for="item,index in userList2">
						<van-cell @click="chat(item.nickname,item.name || false,item.level || false)" :title="item.nickname" is-link />
						<img slot="icon" class="b-r-b50 m-r-10" width="26" height="26" :src="item.headImg?item.headImg:'https://tpxb.me/laots/userImg.png'" />
						<span v-if="item.num>0" class="van-badge__info">{{item.num}}</span>
					</van-cell-group>
				</div>
			</div>
		</div>
	</body>

</html>
<script src="../js/vue.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
window.top.postMessage("no","*")
	new Vue({
		el: '#userList',
		data: {
			userList1: new Array(), //普通用户列表
			userList2: new Array(), //客服/管理员列表
			tabIndex: 0, //头部切换索引
			userInfor: '', //个人信息
			ws: '', //
			user1: 0, //在线普通用户
			user2: 0, //在线客服管理
		},
		created: function() {
			this.userInfor = $zlj.getStorage('userInfor'); //获取个人信息缓存userInfor
			this.webSocketIntr(); //初始化webSocket
		},
		mounted: function() {
			window.onbeforeunload = () => {　　
				this.ws.close();
			}
		},
		methods: {
			//头部切换
			teb: function(index, title) {
				this.tabIndex = index;
			},
			//初始化webSocket
			webSocketIntr: function() {
				if('WebSocket' in window) {
					this.ws = new WebSocket($zlj.getStorage('wsUrl')) ; //连接ws
					this.ws.onerror = (evt) => {
						$zlj.toast("聊天室连接异常");
					};
					this.ws.onopen = (evt) => {
						//$zlj.toast("您已加入聊天室...");
					};
					this.ws.onclose = (evt) => { //关闭
						$zlj.toast("聊天室已被关闭");
					};
					this.newMsg(); //收到新消息
				} else {
					$zlj.toast('Not support websocket');
					return;
				}
			},
			//获取用户列表
			getUserList: function(data) {
				this.userList1 = new Array(); //普通用户列表
				this.userList2 = new Array(); //客服/管理员列表
				for(let i in data.list) {
					var myNum = $zlj.getStorage(data.list[i].name + 'num');
					myNum ? data.list[i].num = myNum : data.list[i].num = 0;//获取未读消息
					if(data.list[i].level < 1) { //普通用户
						this.userList1.push(data.list[i]);
						this.user1 = this.userList1.length;
					} else { //服管/理员
						this.userList2.push(data.list[i]);
						this.user2 = this.userList2.length;
					}
				}
				this.$nextTick(() => {
					this.getVirtualUserList((ret)=>{
						ret = ret.slice(1)
						for(let j in ret){
							console.log(ret[j].level)
							if(ret[j].level < 1){
								this.userList1.push(ret[j]);
								this.user1 = this.userList1.length;
							}else{
								this.userList2.push(ret[j]);
								this.user2 = this.userList2.length;
							}

						}
						this.$nextTick(()=>{
							/* if(this.userInfor.level > 0) { 
								this.user2 = this.userList2.length - 1;
							} else {
								this.user1 = this.userList1.length - 1;
							} */
						})
					})
				})
			},
		
			//滚动到底部
			scrollBottom: function() {
				setTimeout(() => {
					var Bottom = document.querySelector('.flexContent');
					Bottom.scrollTop = Bottom.scrollHeight;
				}, 100)
			},
			//获取虚拟用户列表
			getVirtualUserList:function(callback){
				$zlj.toast('加载中', 'loading');
// 				$zlj.ajax('post', '/admin/robot/getRobotLoginList', {
				$zlj.ajax('post', '/user/getOnlineList', {
				}).then((ret) => {
					if(ret.data.code === 1) {
						vant.Toast.clear();
						callback(ret.data.data); //返回用户信息
					} else {
						vant.Toast.clear();
						$zlj.toast(ret.data.msg, 'fail');
					}
				})
			},
			//收到新消息
			newMsg: function() {
				this.ws.onmessage = (event) => {
					var data = JSON.parse(event.data);
					if(data.message) { //如果是系统消息
						this.getUserList(data); //获取用户列表
					} else if(data.chat.id != this.userInfor.id && data.type != 'heart') {//如果不是自己的消息就接收
						if(data.chat.to) { //私聊消息
							this.saveMsg(data,'private'); //保存消息到历史记录
							this.unreadMessage(data); //设置未读消息
						}else{//群聊消息
							this.saveMsg(data,'group');//保存消息到历史记录
						}
					}
				}
			},
			//保存消息到历史记录
			saveMsg: function(data,type) {
				var mastype;//
				if(type=='group'){//群聊
					mastype=this.userInfor.name;
				}else if(type=='private'){//私聊
					mastype=data.chat.name;
				}
				//将账号设为每个聊天记录缓存
				if($zlj.getStorage(mastype)) { //如果已有聊天记录
					var historyMsg = $zlj.getStorage(mastype);
					data.times = new Date().getTime(); //加入时间戳，为了判断缓存是否过期
					historyMsg.push(data);
					$zlj.setStorage(mastype, historyMsg);
				} else { //没有聊天记录
					var dataList = new Array();
					data.times = new Date().getTime(); //加入时间戳，为了判断缓存是否过期
					dataList.push(data);
					$zlj.setStorage(mastype, dataList);
				}
			},
			//设置未读消息
			unreadMessage: function(data) {
				//循环2个列表找出消息来自哪个列表,列表当前未读+1
				for(let i in this.userList1) {
					if(this.userList1[i].name){//如果不是机器人
						var myNum=$zlj.getStorage(this.userList1[i].name + 'num');
						if(myNum && this.userList1[i].name == data.chat.name){
							var nums = parseInt(myNum);
							nums += 1;
							this.userList1[i].num = nums;
							$zlj.setStorage(data.chat.name + 'num', nums);
							break;
						}else{
							if(this.userList1[i].name == data.chat.name){
								$zlj.setStorage(data.chat.name + 'num', 1);
								this.userList1[i].num = parseInt($zlj.getStorage(data.chat.name + 'num'));
								break;
							}
						}
					}
				}
				for(let k in this.userList2) {
					if(this.userList2[k].name){//如果不是机器人
						var myNum1=$zlj.getStorage(this.userList2[k].name + 'num');
						if(myNum1 && this.userList2[k].name == data.chat.name){
							var nums1 = parseInt(myNum1);
							nums1 += 1;
							this.userList2[k].num = nums1;
							$zlj.setStorage(data.chat.name + 'num', nums1);
							break;
						}else{
							if(this.userList2[k].name == data.chat.name){
								$zlj.setStorage(data.chat.name + 'num', 1);
								this.userList2[k].num = parseInt($zlj.getStorage(data.chat.name + 'num'));
								break;
							}
						}
					}
				}
			},
			//去聊天页
			chat: function(title, name, level) {
				if(name){//如果不是虚拟用户
					if(this.userInfor.level > 0 || (this.userInfor.level < 1 && level && level > 0)){
						if($zlj.getStorage(name + 'num'))$zlj.rmStorage(name + 'num'); //删除未读
						window.location.href = 'privateChat.html?name=' + name + '&title=' + title;
					}
				}
			},
			//返回
			back: function() {
				$zlj.back();
				webSocketIntr();
				this.scrollBottom();
			},
		},
	})
</script>
<style type="text/css">
	header .van-nav-bar .van-icon,
	header .van-nav-bar__text,
	header .van-nav-bar__title {
		color: white;
	}
</style>