*{
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: -apple-system-font, Helvetica Neue, Arial, sans-serif;
  box-sizing: border-box;
}
li{
  list-style: none;
}
body{
  background: #ffffff;
  overflow: auto;
}
a{
  color: #000000;
  font-size: 1.2rem;
  text-decoration: none;

}
span{
  font-size: 1.2rem;
}
div{
  font-size: 1.2rem;
}
i{
  font-style: normal;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.ground{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  overflow-x:hidden;
}
.list{
  width: 100%;
  float: left;
}
img{
  width: 100%;
  height: 100%;
}
.button{
  margin: 20px auto;
  text-align: center;

  span{
    width: 50%;
    text-align: center;
    padding: 10px 0;
    color: #ffffff;
    display: inline-block;
    background:#0f79ff ;
    border-radius: 8px;
  }
}
