@import "../include/base";
.personal-header{
  header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.4rem;
    background: #ffffff;
    color: #000000;
    line-height: 4.4rem;
    padding: 0 1rem;
    position: relative;
    .back{
      position: absolute;
      left: 10px;
      z-index: 1;
      font-size: 1.7rem;
      top: 50%;
      margin-top: -1.5rem;
      color: #000000;

    }
    .blueSpan{
      align-items: center;
      display: flex;
      margin-top: -2.2rem;
      span{
        font-size: 14px;color: #1989fa;
      }
      i{
        color: #1989fa;
      }
    }
    .title{
      display: flex;
      justify-content: center;
      font-size: 1.7rem;
      h1{
        font-size: inherit;
        font-weight: unset;
      }
    }
    .rule{
      position: absolute;
      right: 10px;
      z-index: 1;
      font-size: 1.7rem;
    }
  }
}