<template id="tm_b">
  <div>
    <div class="flexContent xgcbg p-t-10 p-l-10">
      <van-row>
        <van-col span="6"  v-for="(item,index) in lianmian" :key="index" class="lianma-div text-c p-5"  >
          <div class=" b-e0  bg-w"  @click="changeActive(index)"  :class="{active:item.isActive}">
            <div class="c-r f-s-20 p-t-5">{{item.name}}</div>
            <div class="f-s-14 c-6 p-b-10 nowrap" style="padding-top: 2px">赔率{{rule? rule.maxBounsOdds: '--'}}</div>
          </div>
        </van-col>
      </van-row>
      <div class="h-50"></div>
    </div>
  </div>
</template>

<script>
  import { Dialog } from 'vant'
  import { Toast } from 'vant'
  var intervalFp,intervalKj,intervalkjdh,fColor;//定时器
  export default {
    props:['lianmian', 'rule'],
    data() {
      return {
        muban:"tm",
        lightly: false, //玩法弹窗
        rightCpList: false, //彩票名列表弹窗
        kjjeList: false, //开奖结果列表弹窗
        plays: new Object(), //父页面带过来彩彩种数据
        playsName: '', //玩法名
        playsList: '', //玩法列表数据
        loctterysList: '', //彩票分类列表数据
        kjlsList: '', //开奖结果列表
        countDown: '', //距离封盘时间数据
        times: 0, //距离封盘时间戳
        fpTime: '', //转化后的封盘时间
        kjNum: 0,//开奖动画数字
        msk:{//弹窗
          isFp: false,//封盘弹窗
          fpQh: '--',//封盘期号
          nextQh: '--',//下一期期号
        },
      }
    },
    computed: {
      //计算属性导弹窗状态
      isShowFp: function () {
        return this.msk.isFp;
      }
    },
    watch: {
      //监听弹窗变化
      isShowFp:function(){
        setTimeout(()=>{
          this.isShowFp ? document.querySelector('#xgc .van-modal').style.top = '0' : document.querySelector('#xgc .van-modal').style.top = '46px';
        },200)
      }
    },
    created: function() {
      this.plays = this.$route.query;
    },
    mounted: function() {

    },
    methods: {
      changeActive:function(num){
        this.lianmian[num].isActive = !this.lianmian[num].isActive;
        let data={
          num: this.lianmian[num].name,
          iaActive: this.lianmian[num].isActive
        };
        this.$emit('selectHm',data)
      },
      closeActive:function(){
        for(let i=0;i<this.lianmian.length;i++){
          this.lianmian[i].isActive = false
        }
      },
      shengXiao:function(haoMa){
        let numColor={
          gou:[ '03', '15', '27', '39'],
          ji:['04', '16', '28', '40'],
          hou:[ '05', '17', '29', '41'],
          yang:[ '06', '18', '30', '42'],
          ma:[ '07', '19', '31', '43'],
          she:[ '08', '20', '32', '44'],
          long:[ '09', '21', '33', '45'],
          tu:[ '10', '22', '34', '46'],
          hu:[ '09', '21', '33', '45'],
          niu:[ '12', '24', '36', '48'],
          shu:[ '01', '13', '25', '37', '49'],
          zhu:[ '02', '14', '26', '38'],
        };
        var sx = {
          gou: '狗',
          ji: '鸡',
          hou: '猴',
          yang: '羊',
          ma: '马',
          she: '蛇',
          long: '龙',
          tu: '兔',
          hu: '虎',
          niu: '牛',
          shu: '鼠',
          zhu: '猪',
        };
        for(let i in numColor) {
          if (numColor[i].indexOf(haoMa) != -1) {
            return sx[i]
          }
        }
      },
    }
  }
</script>

<style scoped>
.active{
  background: #dc3b40!important;
  border: 1px solid #dc3b40!important;
}
.active div{
  color: #fff !important;
}
.lianma-div>div{
  border-radius: 3px;
}
.lianma-div .c-r{
  color: #da0000;
}
</style>
