<template id="tm">
    <div>
      <div class="flexContent xgcbg p-t-10 p-l-10">
        <div  v-for="item in hmlist" class="lhc-div text-c" @click="changeActive(item.hm)" :class="{active:item.isActive}">
          <span :class="{blue_c:fontColor(item.hm)=='blue',red_c:fontColor(item.hm)=='red',green_c:fontColor(item.hm)=='green'}" class="lhc-haoMa m-5">
              {{item.hm<10? '0'+item.hm: item.hm}}
          </span>
        </div>
        <div class="h-50"></div>
      </div>
    </div>
</template>

<script>
  import { Dialog } from 'vant'
  import { Toast } from 'vant'
  var intervalFp,intervalKj,intervalkjdh,fColor;//定时器
  export default {
    props:['hmlist'],
    data() {
      return {
        muban:"tm",
        lightly: false, //玩法弹窗
        rightCpList: false, //彩票名列表弹窗
        kjjeList: false, //开奖结果列表弹窗
        plays: new Object(), //父页面带过来彩彩种数据
        playsName: '', //玩法名
        playsList: '', //玩法列表数据
        loctterysList: '', //彩票分类列表数据
        kjlsList: '', //开奖结果列表
        countDown: '', //距离封盘时间数据
        times: 0, //距离封盘时间戳
        fpTime: '', //转化后的封盘时间
        kjNum: 0,//开奖动画数字
        msk:{//弹窗
          isFp: false,//封盘弹窗
          fpQh: '--',//封盘期号
          nextQh: '--',//下一期期号
        },
      }
    },
    computed: {
      //计算属性导弹窗状态
      isShowFp: function () {
        return this.msk.isFp;
      }
    },
    watch: {
      //监听弹窗变化
      isShowFp:function(){
        setTimeout(()=>{
          this.isShowFp ? document.querySelector('#xgc .van-modal').style.top = '0' : document.querySelector('#xgc .van-modal').style.top = '46px';
        },200)
      }
    },
    created: function() {
      this.plays = this.$route.query;
    },
    mounted: function() {

    },
    methods: {
      changeActive:function(num){
        this.hmlist[num-1].isActive = !this.hmlist[num-1].isActive;
        let data={
          num: num,
          iaActive: this.hmlist[num-1].isActive
        };
        this.$emit('selectHm',data)
      },
      closeActive:function(){
        for(let i=0;i<this.hmlist.length;i++){
          this.hmlist[i].isActive = false
        }
      },
      shengXiao:function(haoMa){
        let numColor={
          gou:[ '03', '15', '27', '39'],
          ji:['04', '16', '28', '40'],
          hou:[ '05', '17', '29', '41'],
          yang:[ '06', '18', '30', '42'],
          ma:[ '07', '19', '31', '43'],
          she:[ '08', '20', '32', '44'],
          long:[ '09', '21', '33', '45'],
          tu:[ '10', '22', '34', '46'],
          hu:[ '09', '21', '33', '45'],
          niu:[ '12', '24', '36', '48'],
          shu:[ '01', '13', '25', '37', '49'],
          zhu:[ '02', '14', '26', '38'],
        };
        var sx = {
          gou: '狗',
          ji: '鸡',
          hou: '猴',
          yang: '羊',
          ma: '马',
          she: '蛇',
          long: '龙',
          tu: '兔',
          hu: '虎',
          niu: '牛',
          shu: '鼠',
          zhu: '猪',
        };
        for(let i in numColor) {
          if (numColor[i].indexOf(haoMa) != -1) {
            return sx[i]
          }
        }
      },
      fontColor:function(haoMa){
        fColor={
          red:[ '01' ,'02','07','08', '12', '13', '18', '19', '23', '24', '29', '30', '34' , '35', '40', '45', '46'],
          blue: ['03', '04', '09', '10', '14', '15', '20', '25', '26', '31', '36', '37', '41', '42', '47', '48'],
          green:['05', '06', '11', '16', '17', '21', '22', '27', '28', '32', '33', '38', '39', '43', '44', '49' ]
        };
        if (typeof (haoMa) == "number"){
          haoMa = haoMa<10? '0'+ haoMa: JSON.stringify(haoMa);
        }
        for(let i in fColor){
          if(fColor[i].indexOf(haoMa) != -1){
            return i
          }
        }
      },
    }
  }
</script>

<style scoped>

</style>
