<template>
  <div class="wsl">
    <van-row v-for="(item,listIndex) in hmlist" :key="listIndex" :class="{zonghe:item.name=='总和'}" class="p-10 b-b">
      <van-col span="24" class="m-t-5">
        <div class="text-l">
          <div v-if="" @click="selectHM(listIndex, hmIndex)" v-for="item2,hmIndex in item.oddPlayItems" :class="{ 'm-r-5': (hmIndex+1)%5!=0, 'm-t-5': hmIndex>5}" class="d-i m-r-15 m-t-10">
            <div :class="{hmzsTabActive:item2.isActive}" class="box p-5">
              <p class="f-s-20 ">{{item2.name}}</p>
              <p data-v-53a08393="" class="f-s-12  c-3 " style="padding: .1rem">{{item2.odds}}</p>
            </div>
          </div>
        </div>
      </van-col>
    </van-row>
  </div>
</template>

<script>
  import {Toast} from 'vant';
  export default {
    props: ['hmlist', 'fpText', 'selectHaoMa', 'rules'],
    data() {
      return {}
    },
    methods:{
      changeTitleName(name){
        switch (name) {
          case '万千':
            return '万位双面盘';
          case '千百':
            return '千位双面盘';
          case '百十':
            return '百位双面盘';
          case '十个':
            return '十位双面盘';
          case '个万':
            return '个位双面盘';
          default:
            return name
        }
      },
      selectHM:function (listIndex,hmIndex) {
        if(!this.hmlist[listIndex].oddPlayItems[hmIndex].isActive){
          switch (this.rules.name) {
            case '尾数连':
            case '连肖':
              if (this.selectHaoMa.length>=6 ){
                Toast('已达最大选中个数');
                return;
              }
          }
        }
        this.hmlist[listIndex].oddPlayItems[hmIndex].isActive = !this.hmlist[listIndex].oddPlayItems[hmIndex].isActive;
        this.$forceUpdate();
        let data={
          num: this.hmlist[listIndex].oddPlayItems[hmIndex].name,
          iaActive: this.hmlist[listIndex].oddPlayItems[hmIndex].isActive,
        };
        this.$emit('selectHm',data)
      },
      update:function () {
        this.$forceUpdate();
      }

    }
  }
</script>

<style scoped>
  #xgc .wsl .box {
    width: 2.9rem;
  }
  .m-t-10-zh {
    margin-top: .5rem;
  }
  #xgc .hmzsTabActive p {
    color: #fff;
  }
  #xgc .hmzsTabActive p:first-child{
    border-bottom: 1px solid #e05257 ;
  }
</style>
