<template>
  <div class="yxwx">
    <van-row v-for="(item,listIndex) in hmlist" :key="listIndex" :class="{zonghe:item.name=='总和'}" class="p-10 b-b m-l-5">
      <van-col span="24" class="m-t-10">
        <div class="text-l">
          <div v-if="" @click="selectHM(listIndex, hmIndex)" v-for="item2,hmIndex in item.oddPlayItems" :class="{'m-t-10': (hmIndex>=5 && item.name!=='总和'), 'm-r-15': (hmIndex+1)%3!=0}" class="d-i m-t-10 m-r-15">
            <div :class="{hmzsTabActive:item2.isActive}" class="box ">
              <p class="f-s-20 h-50 l-h-50 b-b">{{item2.name}}</p>
              <p data-v-53a08393="" class="f-s-14  c-3 " style="padding: .1rem">赔率{{item2.odds}}</p>
            </div>
          </div>
        </div>
      </van-col>
    </van-row>
  </div>
</template>

<script>
  export default {
    props: ['hmlist', 'fpText'],
    data() {
      return {}
    },
    methods:{
      changeTitleName(name){
        switch (name) {
          case '万千':
            return '万位双面盘';
          case '千百':
            return '千位双面盘';
          case '百十':
            return '百位双面盘';
          case '十个':
            return '十位双面盘';
          case '个万':
            return '个位双面盘';
          default:
            return name
        }
      },
      selectHM:function (listIndex,hmIndex) {
        this.hmlist[listIndex].oddPlayItems[hmIndex].isActive = !this.hmlist[listIndex].oddPlayItems[hmIndex].isActive;
        this.$forceUpdate();
        let data={
          num: this.hmlist[listIndex].oddPlayItems[hmIndex].name,
          iaActive: this.hmlist[listIndex].oddPlayItems[hmIndex].isActive,
        };
        this.$emit('selectHm',data)
      },
      update:function () {
        this.$forceUpdate();
      }

    }
  }
</script>

<style scoped>
  .m-t-10-zh {
    margin-top: .5rem;
  }
  #xgc .hmzsTabActive p {
    color: #fff;
  }
  #xgc .hmzsTabActive p:first-child{
    border-bottom: 1px solid #e05257 ;
  }
</style>
