<template>
  <div id="zm" class="xgcbg">
    <van-row  v-for="(item,listIndex) in list" :key="listIndex" class="p-b-t-10 b-b">
      <van-col span="5"> <span class="typeW">{{item.name}}</span>	</van-col>
      <van-col span="19" class="m-t-5">
        <div class="clear">
          <div @click="selectHM(listIndex,hmIndex)" v-for="hm1,hmIndex in item.oddPlayItems" :class="{'p-t-5':hmIndex>3}" class="pull-l m-r-5 p-t-5">
            <div :class="{hmzsTabActive:hm1.isActive}" class="box  p-5">
              <p>{{ hm1.name }}</p>
              <p :class="{'c-w':hm1.isActive,'c-3':!hm1.isActive}" class="f-s-14 ">{{hm1.odds}}</p>
            </div>
          </div>
        </div>
      </van-col>
    </van-row>
    <div class="h-50"></div>
  </div>
</template>

<script>
    export default {
      props:[
        'list', 'tzSuccess', 'fpText'
      ],
      data(){
        return{

        }
      },
      computed: {

      },
      watch:{
        tzSuccess(newName, oldName) {
          if(newName){
            this.clearTzNum();
            this.$forceUpdate();
          }
        },
        fpText(newName, oldName){
          if(newName){
            this.clearTzNum();
          }
          this.fpText = newName;
        }
      },
      methods:{
        clearTzNum(){
          for(let i in this.list){
            let newList = this.list[i].oddPlayItems;
            for(let n in newList){
              newList[n].isActive = false;
            }
          }
          this.$forceUpdate();
        },
        selectHM:function (listIndex,hmIndex) {
            if(this.fpText){
              return
            }
          this.$emit('selectZm',listIndex, hmIndex);
          this.$forceUpdate();
        }
      }
    }
</script>

<style scoped>
#zm  .box{
  display: inline-block;
  width: 3rem;
  text-align: center;
  font-size: 16px;
  color: #dc3b40;
  background: #faf9f6;
  border-radius: 0;
  border: 1px solid #dfdfdf;
}
</style>
