<template id="tm_b">
  <div>
    <div class="flexContent xgcbg p-t-10 p-l-r-10">
      <van-row>
        <van-col v-if="index<49" v-for="(item,index) in lianmian" :key="index" span="6" class="lianma-div text-c p-5"  >
          <div @click="changeActive(index)" class=" b-e0  bg-w"  :class="{active:item.isActive}">
            <div class="c-r f-s-20 p-t-5">{{item.name}}</div>
            <div class="f-s-14 c-6 p-b-10 nowrap" style="padding-top: 2px">赔率{{rule? item.odds: '--'}}</div>
          </div>
          <!--<span @click="changeActive(index)" :class="[fontColor(item.name),bgColor(item.name,item.isActive)]"  class="lhc-haoMa m-5">-->
              <!--{{item.name}}-->
          <!--</span>-->
        </van-col>
      </van-row>
      <van-row class="p-t-10">
        <van-col v-if="index>=49" v-for="(item,index) in lianmian" :key="index" span="6" class="lianma-div text-c p-5"  >
          <div @click="changeActive(index)" class=" b-e0  bg-w"  :class="{active:item.isActive}">
            <div class="c-r f-s-20 p-t-5">{{item.name}}</div>
            <div class="f-s-14 c-6 p-b-10 nowrap" style="padding-top: 2px">赔率{{rule? item.odds: '--'}}</div>
          </div>
        </van-col>
      </van-row>
      <div class="h-50"></div>
    </div>
  </div>
</template>

<script>
  import { Dialog } from 'vant'
  import { Toast } from 'vant'
  var intervalFp,intervalKj,intervalkjdh,fColor;//定时器
  export default {
    props:['lianmian', 'rule', 'selectHaoMa', 'rules'],
    data() {
      return {
        muban:"tm",
        lightly: false, //玩法弹窗
        rightCpList: false, //彩票名列表弹窗
        kjjeList: false, //开奖结果列表弹窗
        plays: new Object(), //父页面带过来彩彩种数据
        playsName: '', //玩法名
        playsList: '', //玩法列表数据
        loctterysList: '', //彩票分类列表数据
        kjlsList: '', //开奖结果列表
        countDown: '', //距离封盘时间数据
        times: 0, //距离封盘时间戳
        fpTime: '', //转化后的封盘时间
        kjNum: 0,//开奖动画数字
        msk:{//弹窗
          isFp: false,//封盘弹窗
          fpQh: '--',//封盘期号
          nextQh: '--',//下一期期号
        },
      }
    },
    computed: {
      //计算属性导弹窗状态
      isShowFp: function () {
        return this.msk.isFp;
      }
    },
    watch: {
      //监听弹窗变化
      isShowFp:function(){
        setTimeout(()=>{
          this.isShowFp ? document.querySelector('#xgc .van-modal').style.top = '0' : document.querySelector('#xgc .van-modal').style.top = '46px';
        },200)
      }
    },
    created: function() {
      this.plays = this.$route.query;
    },
    mounted: function() {

    },
    methods: {
      changeActive:function(num){
        if(!this.lianmian[num].isActive){
          switch (this.rules.name) {
            case '连码':
              if (this.selectHaoMa.length>=10 ){
                Toast('已达最大选中个数');
                return;
              }
          }
          switch (this.rule.name) {
            case '五不中':
            case '六不中':
            case '七不中':
              if (this.selectHaoMa.length>=10){
                Toast('已达最大选中个数');
                return;
              }
              break;
            case '八不中':
              if (this.selectHaoMa.length>=11){
                Toast('已达最大选中个数');
                return;
              }
              break;
            case '九不中':
              if (this.selectHaoMa.length>=12){
                Toast('已达最大选中个数');
                return;
              }
              break;
            case '十不中':
              if (this.selectHaoMa.length>=13){
                Toast('已达最大选中个数');
                return;
              }
              break;
            case '十一不中':
              if (this.selectHaoMa.length>=13){
                Toast('已达最大选中个数');
                return;
              }
              break;
            case '十二不中':
              if (this.selectHaoMa.length>=14){
                Toast('已达最大选中个数');
                return;
              }
              break;
          }
        }
        this.lianmian[num].isActive = !this.lianmian[num].isActive;
        let data={
          num: this.lianmian[num].name,
          iaActive: this.lianmian[num].isActive
        };
        this.$emit('selectHm',data)
      },
      closeActive:function(){
        for(let i=0;i<this.lianmian.length;i++){
          this.lianmian[i].isActive = false
        }
      },
      shengXiao:function(haoMa){
        let numColor={
          gou:[ '03', '15', '27', '39'],
          ji:['04', '16', '28', '40'],
          hou:[ '05', '17', '29', '41'],
          yang:[ '06', '18', '30', '42'],
          ma:[ '07', '19', '31', '43'],
          she:[ '08', '20', '32', '44'],
          long:[ '09', '21', '33', '45'],
          tu:[ '10', '22', '34', '46'],
          hu:[ '09', '21', '33', '45'],
          niu:[ '12', '24', '36', '48'],
          shu:[ '01', '13', '25', '37', '49'],
          zhu:[ '02', '14', '26', '38'],
        };
        var sx = {
          gou: '狗',
          ji: '鸡',
          hou: '猴',
          yang: '羊',
          ma: '马',
          she: '蛇',
          long: '龙',
          tu: '兔',
          hu: '虎',
          niu: '牛',
          shu: '鼠',
          zhu: '猪',
        };
        for(let i in numColor) {
          if (numColor[i].indexOf(haoMa) != -1) {
            return sx[i]
          }
        }
      },
      fontColor:function(haoMa){
        let fColor={
          red_c:[ '01' ,'02','07','08', '12', '13', '18', '19', '23', '24', '29', '30', '34' , '35', '40', '45', '46'],
          blue_c: ['03', '04', '09', '10', '14', '15', '20', '25', '26', '31', '36', '37', '41', '42', '47', '48'],
          green_c:['05', '06', '11', '16', '17', '21', '22', '27', '28', '32', '33', '38', '39', '43', '44', '49' ]
        };
        if (typeof (haoMa) == "number"){
          haoMa = haoMa<10? '0'+ haoMa: JSON.stringify(haoMa);
        }
        for(let i in fColor){
          if(fColor[i].indexOf(haoMa) != -1){
            return i
          }
        }
      },
      bgColor:function(haoMa, isActive){
        let bgColor={
          red_bg:[ '01' ,'02','07','08', '12', '13', '18', '19', '23', '24', '29', '30', '34' , '35', '40', '45', '46'],
          blue_bg: ['03', '04', '09', '10', '14', '15', '20', '25', '26', '31', '36', '37', '41', '42', '47', '48'],
          green_bg:['05', '06', '11', '16', '17', '21', '22', '27', '28', '32', '33', '38', '39', '43', '44', '49' ]
        };
        if (typeof (haoMa) == "number"){
          haoMa = haoMa<10? '0'+ haoMa: JSON.stringify(haoMa);
        }
        for(let i in bgColor){
          if(bgColor[i].indexOf(haoMa) != -1 && isActive){
            return i
          }
        }
      },
    }
  }
</script>

<style scoped>
  #xgc .blue_bg{
    background: linear-gradient(0deg,#6ebefa 0,#218ddd 75%) !important;
    background: -webkit-linear-gradient(top,#6ebefa,#218ddd 75%) !important;
    color: #fff !important;
  }
  #xgc .red_bg{
    background: linear-gradient(0deg,#f87b7e 0,#dc3b40 75%) !important;
    background: -webkit-linear-gradient(top,#f87b7e,#dc3b40 75%) !important;
    color: #fff !important;
  }
  #xgc .green_bg{
    background: linear-gradient(0deg,#69d893 0,#38b366 75%) !important;
    background: -webkit-linear-gradient(top,#69d893,#38b366 75%) !important;
    color: #fff !important;
  }
.active{
  background: #dc3b40!important;
  border: 1px solid #dc3b40!important;
}
.active div{
  color: #fff !important;
}
.lianma-div>div{
  border-radius: 3px;
}
.lianma-div .c-r{
  color: #da0000;
}
</style>
