<template>
  <div class="message">
    <div class="message-main">
      <div class="content row">
        <div class="title">{{$t('收件箱')}}</div>
        <div class="table">
          <table>
            <thead>
            <tr><th width="20%">{{$t('序号')}}</th><th width="50%">{{$t('标题')}}</th><th width="30%" class="date-mail">{{$t('时间')}}</th></tr>
            </thead>
            <tbody>
            <tr @click="open(item)" v-for="(item, index) in messageList" :key="index">
              <td width="20%">{{index+1}}</td><td width="50%">{{item.title}}</td><td width="30%" v-html="$root.common.getMyDate(item.createTime,2)"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <transition name="popup">
        <div class="popup" v-show="popupShow">
          <div class="popup-box">
            <div class="title">{{messageData.title}}</div>
            <div class="close" @click="popupShow = false"><img src="@/assets/images/close-plate.png" alt=""></div>
            <div class="active-content">
              {{messageData.message}}
            </div>
          </div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
import "@/assets/css/message.less"
export default {
  name: "message",
  data() {
    return {
      popupShow: false,
      messageList:'',
      Inquiry:{
        page:1,
        rows:10
      },
      total:1,
      messageData:'',
    }
  },
  created() {
    this.getMessage()
  },
  mounted() {
  },
  methods: {
    getMessage:function () {
      this.$fetch('native/message_list.do',this.Inquiry,false).then(res=>{
        if(res.success){
          this.messageList = res.content.datas
          this.total = res.content.totalCount
        }
      })
    },
    handleCurrentChange: function (val) {
      this.pageClick(val)
    },
    pageClick: function (page) {
      this.Inquiry.page = page
      this.getMessage()
    },
    open:function (item){
      this.popupShow = true
      this.messageData = item
    },
  }
}
</script>

<style scoped>

</style>
