<template>
  <div class="upd_password">
    <div class="content">
      <div class="line" style="display: flex;justify-content: center;">
        <van-radio-group v-model="type" direction="horizontal">
          <van-radio name="1" checked-color="#0fb3f9">{{$t('登录密码')}}</van-radio>
          <van-radio name="2" checked-color="#0fb3f9">{{$t('取款密码')}}</van-radio>
        </van-radio-group>
      </div>
      <div class="line">
        <div class="label">{{$t('旧密码')}}</div>
        <div class="input"><input type="password" v-model="params.oldpassword" :placeholder="$t('请输入旧密码')"></div>
      </div>
      <div class="line">
        <div class="label">{{$t('新密码')}}</div>
        <div class="input"><input type="password" v-model="params.newpassword" :placeholder="$t('请输入新密码')"></div>
      </div>
      <div class="line">
        <div class="label">{{$t('重复新密码')}}</div>
        <div class="input"><input type="password" v-model="params.confirmpassword" :placeholder="$t('请再次输入新密码')"></div>
      </div>
      <div class="ok-btn">
        <button @click="submitPassword()">{{$t('提交')}}</button>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/upd_password.less'
import { Toast} from "vant";
export default {
  name: "upd_password",
  data(){
    return{
      type:'1',
      params:{
        oldpassword:'',
        newpassword:'',
        confirmpassword:'',
      }
    }
  },
  created() {
  },
  methods:{
    back: function() {
      this.$router.push('/personal')
    },
    submitPassword:function (){
      if (!this.params.oldpassword){
        Toast({
          message: this.$t('旧密码不能为空'),
          duration:500
        });
        return
      }
      if (!this.params.newpassword){
        Toast({
          message: this.$t('新密码不能为空'),
          duration:500
        });
        return
      }
      if (!this.params.confirmpassword){
        Toast({
          message: this.$t('重复密码不能为空'),
          duration:500
        });
        return
      }
      if (this.params.newpassword != this.params.confirmpassword){
        Toast({
          message: this.$t('重复新密码和新密码不一致'),
          duration:500
        });
        return
      }
      let url = this.type == '1' ? 'native/modify_pass.do' : 'native/modify_cashpass.do'
      this.$post(url,this.params,'true').then(res=>{
        if (res.success){
          Toast(this.$t('密码修改成功'))
        }else {
          Toast({
            message: res.msg,
            duration:1500
          });
        }
      })
    }
  }
}
</script>

<style lang="less">
.upd_password{
  .van-radio__label{
    color: #ffffff!important;
  }
  .van-radio--horizontal{
    width: 140px;
    display: flex;
    justify-content: center;
  }
}
</style>