<template>
  <div class="upd_password">
    <div class="content">
      <div class="line">
        <div class="label">{{$t('钱包类型')}}</div>
        <div class="input"><input type="text" v-model="currencyType" disabled></div>
      </div>
      <div class="line">
        <div class="label">{{$t('钱包协议')}}</div>
        <div class="input">
          <select ref="sel">
            <option v-for="(item, index) in protocolList" :value="item" :key="index">{{item}}</option>
          </select>
        </div>
      </div>
      <div class="line">
        <div class="label">{{$t('钱包地址')}}</div>
        <div class="input"><input type="text" v-model="address" :placeholder="$t('请输入地址')" :disabled="$store.state.userInfo.walletAddress ? true : false"></div>
      </div>
      <div class="ok-btn">
        <button v-if="!$store.state.userInfo.walletAddress" @click="submitPassword()">{{$t('提交')}}</button>
        <div class="tip" v-else>{{$t('请联系在线客服进行修改')}}</div>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/upd_password.less'
import {Toast} from "vant";
export default {
  name: "upd_password",
  data(){
    return{
      currencyType:'USDT',
      protocol:'',
      address: this.$store.state.userInfo.walletAddress || '',
      isShowBank:false,
      protocolList:['TRC20','ERC20','OKC','Polygon','Solana','kkpay',]
    }
  },
  created() {

  },
  methods:{
    back: function() {
      this.$router.push('/personal')
    },
    submitPassword:function (){
      this.protocol = this.$refs.sel.value
      if (!this.address){
        Toast({
          message: this.$t('请输入钱包地址！'),
          duration:500
        });
        return
      }
      let params = {
        currencyType: this.currencyType,
        protocol: this.protocol,
        walletAddress: this.address
      }
      this.$post('native/update_wallet_address.do',params,'true').then(res=>{
        if (res.success){
          Toast(this.$t('钱包设置成功'))
          this.$root.common.getUserInfo()
        }else {
          Toast({
            message: res.msg,
            duration:1500
          });
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
