<template>
  <div id="app" class="flexWrap">
    <van-nav-bar  @click-right="showFilter" @click-left="back" right-text="选择彩种" class="bg-h c-w" left-text="返回" left-arrow>
      <template slot="title">
        <div class="c-w headerTab">
          <span class="van-nav-bar__text" >{{title}}</span>
        </div>
      </template>
    </van-nav-bar>

    <van-popup v-model="filter" class="filter van-popup van-popup--top" position="top" :overlay="false" style="height: 100%;">
      <div class="p-l-r-20 p-b-t-10 bg-w" @click="showFilter">
        <div v-for="item in groupList" @click="showName(item)" class="flex h-50 l-h-50 b-b">{{item.name}}</div>
      </div>
    </van-popup>

    <div class="flexContent">
      <div id="wfLeft">
        <ul class="left">
          <li class="leftBox">玩法/返点</li>
          <li v-for="item in rebateNameByLot" :class="{'w-s-n': item.name.length >= 9,'o-sc': item.name.length >= 9}" class="leftBox">{{item.name}}</li>
        </ul>
        <div class="right o-x-s selector ">
          <div v-if="tabIndex == 0" class="list" style="display: flex">
            <div v-for="item in rebateRaTio" >
              <div class="box box1 bg-f" >{{item.num}}</div>
            </div>
          </div>
          <div class="list" :class="" v-for="item in rebateNameByLot">
            <div class="box box1" :class="" v-for="index in item.items">{{ index.odds }}</div>
          </div>

        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { Toast } from 'vant';
  import { DropdownMenu, DropdownItem } from 'vant';
  export default {
    data() {
      return {
        groupList: [], //获取彩种分组列表
        filter:false, // 筛选
        tabIndex: 0,
        rebateNameByLot: [],// 获取玩法名称
        rebateRaTio:[], //获取玩法返点数据
        lotType:'',
        title: ''
      }
    },
    watch: {

    },
    created: function() {
      this.getGroupList();//获取彩种分组列表
    },
    methods: {
      // rebateRaTio:function(index){
      //   let arr = [ ]
      //   for(let i in index)
      // },
      // 返回上一层
      back: function() {
        window.history.go(-1);
      },
      // 获取彩种分组列表
      getGroupList:function() {
        var cthis = this;
        $sky.ajax('post','native/getGroupList',{},function (ret) {
          if (ret.success){
            cthis.groupList = ret.content;
            cthis.lotType = ret.content[0].type;
            cthis.title = ret.content[0].name;
            cthis.getRebateOddsByLot();//代理返点赔率表数据获取
          } else {
            console.log(ret.msg);
          }
        })

      },
      // 代理返点赔率表数据
      getRebateOddsByLot:function () {
        let cthis = this;
        const toast = Toast.loading({
          duration: 0, // 持续展示 toast
          forbidClick: true, // 禁用背景点击
          loadingType: 'spinner',
          message: '加载中...'
        });
        $sky.ajax('post', 'native/getRebateOddsByLot', {lotType:this.lotType}, function (ret) {
          toast.clear();
          if(ret.success) {
            cthis.rebateNameByLot = ret.content;
            for (let i in  ret.content){
              for (let  a in ret.content[i]){
                cthis.rebateRaTio = ret.content[i][a]
              }
            }
            // cthis.rebateOddsByLot = ret.content[i].items;
            cthis.$forceUpdate();
          } else {
            Toast.fail(ret.msg);
          }
        })
      },
      // 显示筛选框
      showFilter:function(){
        this.filter = !this.filter;
      },
      showName:function (item) {
        if (item.name) {
          this.lotType = item.type;
          this.title = item.name;
          console.log(this.lotType);
          this.getRebateOddsByLot();
        }
      },
    },
  }
</script>

<style scoped>
  #kjls {
    background: #e8e6df;
    overflow: hidden;
  }

  #kjls .left {
    color: #666;
    float: left;
    width: 30%;
    box-sizing: border-box;
  }

  #kjls .right {
    color: #666;
    float: right;
    width: 70%;
    box-sizing: border-box;
  }

  #kjls .left .leftBox {
    padding: 5px 0;
    font-size: 14px;
    text-align: center;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }

  #kjls .right .list {
    font-size: 0;
  }

  #kjls .right .list .box.box1 span {
    color: #df303f;
    letter-spacing: 4px;
    width: 70px;
  }

  #wfLeft .list div {
    letter-spacing: 0px;
    color: rgb(102, 102, 102);
    width: 70px;
  }


  #wfLeft .box.box1 {
    display: inline-block;
    padding: 5px 0;
    font-size: 14px;
    text-align: center;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }

  #kjls .right .list .box {
    width: 50px;
  }

  #kjls .right .list .box {
    display: inline-block;
    padding: 5px 0;
    font-size: 14px;
    text-align: center;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  #kjls .right .list .box.box2 span {
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
  }

  /*代理玩法名称*/
  #wfLeft {
    background: #fff;
    overflow: hidden;
  }

  #wfLeft .left {
    color: #666;
    background: #f3f3f3;
    float: left;
    width: 30%;
    box-sizing: border-box;
  }

  #wfLeft .right {
    color: #666;
    float: right;
    width: 70%;
    box-sizing: border-box;
  }

  #wfLeft .left .leftBox {
    padding: 5px 0;
    font-size: 14px;
    text-align: center;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    height: 2.2rem;
    line-height: 1.6rem;
  }

  #wfLeft .right .list {
    font-size: 0;
  }

  #wfLeft .right .list .box.box1 span {
    color: #df303f;
    letter-spacing: 4px;
    width: 70px;
  }

  #kjls .right .list .box{
    width: 50px;
  }

  #wfLeft .right .list .box {
    display: inline-block;
    padding: 5px 0;
    font-size: 14px;
    text-align: center;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    height: 2.2rem;
    line-height: 1.6rem;
  }

  #wfLeft .right .list .box.box2 span {
    display: inline-block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    color: #fff;
    border-radius: 50%;
    text-align: center;
  }
  .bg-f {
    background: #f3f3f3;
  }

  /*文字溢出不换行*/
  .w-s-n{
    white-space: nowrap;
  }
  /*文字滚动*/
  .o-sc{
    overflow: scroll;
  }

  .van-popup--top {
    width: 100%;
    top: 0;
    right: auto;
    bottom: auto;
    left: 50%;
    transform: translate3d(-50%,0,0);
  }
  .van-popup--top{
    top: 46px;
  }
  .van-popup{
    background: rgba(0,0,0,.3);
  }

</style>
