<template>
	<div class="flexWrap" id="dlExplain">
		<van-nav-bar @click-left="back" left-text="返回" left-arrow class="bg-h c-w" title="代理说明" />
		<div v-if="noticeData" class="flexContent bg-w" v-html="noticeData">
			
		</div>
		<div v-else="" class="text-c m-t-50">
			<img width="80" src="../../../../static/img/pic_empty.png" />
			<div class="f-s-12 c-9">暂无数据</div>
		</div>
	</div>
</template>

<script>
	export default {
		data() {
			return {
				noticeData:'',//代理说明noticeData
			}
		},
		watch: {

		},
		created: function() {
			this.getNotice();//获取代理说明
		},
		mounted: function() {
			
		},
		methods: {
			//获取代理说明
			getNotice:function(){
				$sky.ajax('post', 'native/notice', {code:24}, (ret) => {
					if(ret.success) {
						this.noticeData = ret.content;
					} else {
						if(!ret.isLogin) {
							Dialog.alert({
								title: '登陆提示',
								message: ret.msg
							}).then(() => {
								this.$router.push({
									path: '/login',
								})
							});
						}
					}
				})
			},
			back: function() {
				window.history.go(-1);
			},
		}
	}
</script>

<style>
</style>
