<template>
	<div class="flexWrap" id="edit">
		<van-nav-bar @click-left="back" left-text="返回" left-arrow class="bg-h c-w" title="修改推广链接" />
		<div class="flexContent">
			<van-cell-group class="m-b-10">
				<van-field label="类型：" disabled :placeholder="item.type=='1'?'代理':'会员'" />
				<van-field label="返点：" v-model="item.cpRolling" required :placeholder="item.cpRolling || '请输入返点数'" />
				<van-field label="邀请码：" disabled :placeholder="item.linkKey || '--'" />
				<van-field label="推广链接：" disabled :placeholder="item.linkUrl || '--'" />
				<van-field label="短链接：" disabled :placeholder="item.shortUrl1 || '--'" />
				<van-cell>
					<template slot="title">
						<span class="van-cell-text d-i" style="margin-right: 38px;">状态：</span>
						<select v-model="item.status" class="w-b45">
							<option value="2">启用</option>
							<option value="1">禁用</option>
						</select>
					</template>
				</van-cell>
			</van-cell-group>
      <div class="text-c">
        <van-button @click="submits" size="normal" type="danger">保存</van-button>
      </div>
		</div>
	</div>
</template>

<script>
	import { Dialog } from 'vant';
	import { Toast } from 'vant';
	export default {
		data() {
			return {
				item: '', //详请
			}
		},
		watch: {

		},
		created: function() {
			this.item = this.$route.query;
		},
		mounted: function() {

		},
		methods: {
			//保存
			submits: function() {
				const toast = Toast.loading({
					duration: 0, // 持续展示 toast
					forbidClick: true, // 禁用背景点击
					loadingType: 'spinner',
					message: '保存中...'
				});
				$sky.ajax('post', 'native/updateOrSaveLink', {
					id: this.item.id,//列表id
					type: this.item.type,//用户类型（2会员1代理）
					linkKey: this.item.linkKey,//邀请码
					cpRolling: this.item.cpRolling,//返点数
					status: this.item.status//状态（1禁用2启用）
				}, (ret) => {
					toast.clear();
					if(ret.success) {
						Toast.success();
						this.back();
					} else {
						if(!ret.isLogin) {
							Dialog.alert({
								title: ret.msg,
							}).then(() => {
								this.$router.push({
									path: '/login',
								})
							});
							return false;
						} else {
							Toast.fail(ret.msg);
						}
					}
				})
			},
			back: function() {
				window.history.go(-1);
			},
		}
	}
</script>

<style>
	#xjRegister .van-button--normal {
		width: 80%;
		margin: 40px 10% 20px 10%;
	}
</style>
