<template>
	<div class="flexWrap" id="teamTj">
		<van-nav-bar @click-left="back" @click-right="selects" title="团队统计" class="bg-h c-w" left-text="返回" left-arrow>
			<template slot="right">
				<span class="f-s-12">{{time}}</span>
				<van-icon class="datas" name="arrow" />
			</template>
		</van-nav-bar>
		<van-row class="m-10">
			<van-col span="6" class="">
				<select @change="getTeamStatic" v-model="ajaxData.searchType" class="select">
					<option value="1">直属下级</option>
					<option value="2">所有下级</option>
				</select>
			</van-col>
			<van-col span="7" class="" style="padding-left: 5px">
				<van-cell-group>
				    <van-field v-model="ajaxData.agent" placeholder="代理查询" />
				</van-cell-group>
			</van-col>
			<van-col span="0.5" class="bg-h">
				<div class="w-b100 bg-f0" style="color: #f0f0f0;">s</div>
			</van-col>
			<van-col span="7" class="">
				<van-cell-group>
				    <van-field v-model="ajaxData.account" placeholder="单用户查询" />
				</van-cell-group>
			</van-col>
			<van-col span="3" class="text-r">
				<div @click="getTeamStatic">
					<span class="submits"><van-icon class="c-w f-s-14 f-w-900" name="arrow" /></span>
				</div>
			</van-col>
		</van-row>
		<div class="flexContent">
			<van-row class="bg-w">
				<van-col v-for="(item,index) in teamTjList" :key="index" span="8" class="p-b-t-25 cols">
					<div class="text-c">
						<div class="c-orange">{{item.switchDesc || '0.00'}}</div>
						<div class="f-s-16">{{item.switchKey}}</div>
					</div>
				</van-col>
			</van-row>
		</div>
		<van-action-sheet v-model="show" :actions="actions" cancel-text="取消" />
	</div>
</template>

<script>
	import { Dialog } from 'vant';
	import { Toast } from 'vant';
	export default {
		data() {
			return {
				show: false,//底部弹出
				actions: [{name: '今天'},{name: '昨天'}, {name: '近一个月'},{name: '一个月以前'}],
				time:'今天',
				ajaxData:{//请求参数
					account:'',//会员账号
					begin: '',//开始时间
					end:'',//结束时间
					agent: '',//代理账号
					searchType: 1,//检索类型：searchType（1直属下级 2所有下级）
				},
				teamTjList:[//统计列表

				],
			}
		},
		watch: {

		},
		created: function() {
			let date = new Date(new Date().getTime());
			let currentTime = date.getFullYear() + '-' + (date.getUTCMonth()+1) + '-' + date.getUTCDate() + ' 00:00:00';
			this.ajaxData.begin = currentTime;//开始时间
      this.ajaxData.agent = $sky.getCookie('username');
      // this.ajaxData.agent = 'test666';
			this.getEndTime(false);//结束时间
			this.getTeamStatic();//获取团队统计
		},
		mounted: function() {

		},
		methods: {
			//获取团队统计
			getTeamStatic:function(){
				const toast = Toast.loading({
				    duration: 0,       // 持续展示 toast
				    forbidClick: true, // 禁用背景点击
				    loadingType: 'spinner',
				    message: '加载中'
				});
				$sky.ajax('post', 'native/teamStaticNew', this.ajaxData , (ret) => {
					toast.clear();
					if(!ret.success) {
						Dialog.alert({
							title: ret.msg,
						}).then(() => {
							// this.$router.push({
							// 	path: '/login',
							// })
						});
						return false;
					}
					this.teamTjList = ret.content;//投注金额
				})
			},
			//开始时间
			getStartTime:function(timeNum){
				if(timeNum == 0){
					let date = new Date(new Date().getTime());
					let currentTime = date.getFullYear() + '-' + (date.getUTCMonth()+1) + '-' + date.getUTCDate() + ' 00:00:00';
					this.ajaxData.begin = currentTime;//开始时间
					return;
				}
				var time1 = new Date().getTime();//当前时间内挫
				var time2 = timeNum*24*60*60*1000;
				var date = new Date(time1-time2);
		    		var currentdate = date.getFullYear() + '-' + (date.getUTCMonth()+1) + '-' + date.getUTCDate() + ' 00:00:00';
		    		this.ajaxData.begin = currentdate;//开始时间
			},
			//获取结束时间
			getEndTime:function(istrue){//参数代表是否一个月之前
				if(istrue == true){
					let time1 = new Date().getTime();
					let time2 = 30*24*60*60*1000;//一个月前时间挫
					let dates = new Date(time1-time2);
		    			let currentTime = dates.getFullYear() + '-' + (dates.getUTCMonth()+1) + '-' + dates.getUTCDate() + ' 00:00:00';
		    			this.ajaxData.end = currentTime;
		    			return;
				}
				if (istrue == -1){
          let date = new Date(new Date().getTime());
          let currentdate = date.getFullYear() + '-' + (date.getUTCMonth()+1) + '-' + (date.getUTCDate()-1) + ' 23:59:59';//
          this.ajaxData.end = currentdate;
          return;
        }
				let date = new Date(new Date().getTime());
				let currentdate = date.getFullYear() + '-' + (date.getUTCMonth()+1) + '-' + date.getUTCDate() + ' 23:59:59';//
				this.ajaxData.end = currentdate;
			},
			//选择时间
			selects: function() {
				this.show = true;
				setTimeout(() => {
					var footerList = document.querySelectorAll('.van-hairline--top');
					footerList[0].onclick = () => { //今天
						this.time = '今天';
						this.show = false;
						this.getStartTime(0);
						this.getEndTime(false);
						this.getTeamStatic();
					}
					footerList[1].onclick = () => { //昨天
						this.time = '昨天';
						this.show = false;
						this.getStartTime(1);
						this.getEndTime(-1);
						this.getTeamStatic();
					}
					footerList[2].onclick = () => { //30天内
						this.time = '30天内';
						this.show = false;
						this.getStartTime(30);
						this.getEndTime(false);
						this.getTeamStatic();
					}
					footerList[3].onclick = () => { //一个月之前
						this.time = '一个月之前';
						this.show = false;
						this.getStartTime(3650);
						this.getEndTime(true);
						this.getTeamStatic();
					}
				},200)
			},
			back: function() {
				window.history.go(-1);
			},
		}
	}
</script>

<style>
	#teamTj .datas {
		font-size: 12px;
		-webkit-transform: rotate(90deg);
		/*Safari 4+,Google Chrome 1+ */
		-moz-transform: rotate(90deg);
		/*Firefox 3.5+*/
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
		/*ie*/
	}
	#teamTj .select{
		font-size: 14px;
		padding-top: 3px;
		padding-bottom: 3px;
		background: #fff;
		text-align: center;
	}
	#teamTj .submits{
		display: inline-block;
		width: 25px;
		height: 25px;
		line-height: 25px;
		text-align: center;
		background: #dc3b40;
		border-radius: 4px;
	}
	#teamTj .van-cell{
		padding: 3px 15px;
	}
	#teamTj .cols{
		border-right: 1px solid #f0f0f0;
		border-bottom: 1px solid #f0f0f0;
	}
</style>
