<template>
	<div class="flexWrap" id="vipAdmin">
		<van-nav-bar @click-left="back" left-text="返回" left-arrow class="bg-h c-w" title="会员管理" />
		<van-row class="m-10">
			<van-col span="6" class="">
				<select @change="accountList" v-model="ajaxData.accountType" class="select">
					<option value="0">全部</option>
					<option value="4">代理</option>
					<option value="1">玩家</option>
				</select>
			</van-col>
			<van-col span="7" class="">
				<select @change="accountList" v-model="ajaxData.searchType" class="select">
					<option value="1">直属下级</option>
					<option value="2">所有下级</option>
				</select>
			</van-col>
			<van-col span="1" class="bg-h">
				<div class="w-b100 bg-f0" style="color: #f0f0f0;">s</div>
			</van-col>
			<van-col span="7" class="">
				<van-cell-group>
				    <van-field v-model="ajaxData.account" placeholder="会员账号" />
				</van-cell-group>
			</van-col>
			<van-col span="3" class="text-r">
				<div @click="accountList">
					<span class="submits"><van-icon class="c-w f-s-14 f-w-900" name="arrow" /></span>
				</div>
			</van-col>
		</van-row>
		<van-row class="">
			<van-col v-for="(item,index) in hedeTitle" :key="index" span="6" class="hedeTitle">
				<div class="text-c f-s-14 p-b-t-10">{{item}}</div>
			</van-col>
		</van-row>
		<div  class="flexContent">
			<van-list v-if="vipAdminData.list" v-model="loading" :finished="finished" :offset="100" @load="onLoad">
				<van-row v-for="(item,index) in vipAdminData.list" :key="index" class="bg-w">
					<van-col span="6" class="b-r">
						<div class="text-c f-s-14 p-b-t-10 ellipsis">{{item.account || ''}}</div>
					</van-col>
					<van-col span="6" class="b-r">
						<div class="text-c f-s-14 p-b-t-10 ellipsis">{{item.accountType || ''}}</div>
					</van-col>
					<van-col span="6" class="b-r">
						<div class="text-c f-s-14 p-b-t-10 ellipsis">{{getTime(item.lastLoginDatetime) || ''}}</div>
					</van-col>
					<van-col span="6" class="b-r">
						<div v-if="item.accountType != 1" class="text-c f-s-14 p-b-t-10 ellipsis" style="color: #4aa9db;">
							<span v-if="item.agentName != item.account" @click="previous('pro',item.agentId)">上级</span>
							<span @click="previous('next',item.id)">下级</span>
						</div>
					</van-col>
				</van-row>
			</van-list>
			<div v-else="" class="text-c m-t-50">
				<img width="80" src="../../../../static/img/pic_empty.png" />
				<div class="f-s-12 c-9">暂无数据</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { List } from 'vant';
	import { Dialog } from 'vant';
	import { Toast } from 'vant';
	export default {
		data() {
			return {
				hedeTitle:['账号','用户类型','登陆时间','操作'],
				ajaxData:{//请求参数
					account:'',//会员账号
					searchType:1,//检索类型：（1直属下级 2所有下级）;
					accountType:4,//会员类型（4代理1玩家）
					page:1,//当前页
					rows:50//每页条数

				},
				vipAdminData:'',//会员管理数据
				loading: false,//是否加载状态
				finished: false,//是否已全部加载啊完成
			}
		},
		watch: {

		},
		created: function() {
			this.accountList();//获取会员管理数据
		},
		mounted: function() {

		},
		methods: {
			//上下级查看
			previous:function(type, id){
				if(type == 'pro'){//上级
					delete this.ajaxData.agentParentId;
					this.ajaxData.agentId = id;
				}else if(type == 'next'){//下级
					delete this.ajaxData.agentId;
					this.ajaxData.agentParentId = id;
				}
				this.accountList();//获取会员管理数据
			},
			//上拉加载更多
			onLoad:function(){
				if(this.vipAdminData && this.vipAdminData.hasNext){
					this.ajaxData.page++;
					$sky.ajax('post', 'native/accountList', this.ajaxData , (ret) => {
						if(!ret.success) {
							Dialog.alert({
								title: ret.msg,
							}).then(() => {
								this.$router.push({
									path: '/login',
								})
							});
							return false;
						}
						this.loading = false;//是否加载状态
						var list = this.nameType(ret);
						for(let i in list.list){
							this.vipAdminData.list.push(list.list[i])
						}
						if(!ret.hasNext){
							this.vipAdminData.hasNext = false;
							this.finished = true;//是否已全部加载啊完成
						}
					})
				}else{
					this.loading = false;//是否加载状态
					this.finished = true;//是否已全部加载啊完成
				}
			},
			//获取年月日
			getTime:function(dataTime){
				var date = new Date(dataTime);
			    var currentdate = date.getFullYear() + '-' + (date.getUTCMonth()+1) + '-' + date.getUTCDate();
			    return currentdate;
			},
			//获取会员管理数据
			accountList:function(){
				this.ajaxData.page = 1;
				const toast = Toast.loading({
				    duration: 0,       // 持续展示 toast
				    forbidClick: true, // 禁用背景点击
				    loadingType: 'spinner',
				    message: '加载中'
				});
				$sky.ajax('post', 'native/accountList', this.ajaxData , (ret) => {
					toast.clear();
					if(!ret) {
						// Dialog.alert({
						// 	title: ret.msg,
						// }).then(() => {
							// this.$router.push({
							// 	path: '/login',
							// })
						// });
						return false;
					}
					this.loading = false;//是否加载状态
					this.vipAdminData = this.nameType(ret);//账号类型转换;h
					if(!this.vipAdminData.hasNext){
						this.vipAdminData.hasNext = false;
						this.finished = true;//是否已全部加载啊完成
					}
				})
			},
			//账号类型转换
			nameType:function(data){
				for(let i in data.list){
					switch (data.list[i].accountType){
						case 4:
							data.list[i].accountType = '代理平台';
							break;
						case 9:
							data.list[i].accountType = '平台引导';
							break;
						case 3:
							data.list[i].accountType = '租户管理';
							break;
						case 2:
							data.list[i].accountType = '租户超级管理';
							break;
						case 5:
							data.list[i].accountType = '总代理';
							break;
						case 6:
							data.list[i].accountType = '试玩';
							break;
						case 1:
							data.list[i].accountType = '会员';
							break;
						default:
							data.list[i].accountType = '未知';
							break;
					}
				}
				return data;
			},
			back: function() {
				window.history.go(-1);
			},
		}
	}
</script>

<style>
	#vipAdmin .hedeTitle{
		background: #ccc;
	}
	#vipAdmin .select{
		font-size: 14px;
		padding-top: 3px;
		padding-bottom: 3px;
		background: #fff;
		text-align: center;
	}
	#vipAdmin .submits{
		display: inline-block;
		width: 25px;
		height: 25px;
		line-height: 25px;
		text-align: center;
		background: #dc3b40;
		border-radius: 4px;
	}
	#vipAdmin .van-cell{
		padding: 3px 15px;
		border-radius: 4px;
	}
	#vipAdmin select{
		width: 90%;
	}
</style>
