<template>
	<div class="flexWrap" id="xjRegister">
		<van-nav-bar @click-left="back" class="bg-h c-w" left-text="返回" left-arrow>
			<template slot="title">
				<div class="c-w headerTab">
					<span @click="hadeIndex = 1" :class="{activeHade:hadeIndex==1}" class="box"><p>下级开户</p></span>
					<span @click="hadeIndex = 2" :class="{activeHade:hadeIndex==2}"><p>邀请码</p></span>
				</div>
        <div class="van-nav-bar__right">
          <span class="van-nav-bar__text" @click="goDetails('/agentRebates')">返点赔率表</span>
        </div>
			</template>
		</van-nav-bar>
		<div class="flexContent">
			<div v-if="hadeIndex == 1">
				<van-radio-group class="vipType" v-model="type">
					<span class="d-i f-s-16 m-r-34 p-r t--4">用户类型</span>
					<van-radio class="f-s-20" name="1">代理类型</van-radio>
					<van-radio v-if="userLinkData.trunOnoff === 'off'" class="f-s-20 m-l-20" name="2">会员类型</van-radio>
				</van-radio-group>
        <van-cell-group v-if="userLinkData.linkDesc">
          <van-field label="链接说明：" :value="userLinkData.linkDesc" disabled    />
        </van-cell-group>
				<van-cell-group>
					<van-cell :value="'请先为下级设置返点(' + (userLinkData.rebateMinNum || 0) + '-' + (userLinkData.rebateMaxNum || 0) + ')'" />
					<van-field label="代理机制：" disabled :placeholder="userLinkData.dljz || '--'" />
          <div style="position: relative" v-clipboard:copy="userLinkData.link.linkUrl"  v-clipboard:success="copySuccess" v-clipboard:error="copyError" @click="copyFont = 55">
            <van-tag plain color="#7232dd" style="position: absolute;top:50%;transform: translateY(-50%);z-index: 2;right: 11px;" v-if="copyFont == 0 || copyFont != 55" >复制</van-tag>
            <van-tag plain color="#7232dd" style="position: absolute;top:50%;transform: translateY(-50%);z-index: 2;right: 11px;" v-if="copyFont == 55" >已复制</van-tag>
            <van-field label="生成链接：" :value="userLinkData.link.linkUrl" disabled  />
          </div>
          <van-field v-if="userLinkData.dynamicRate == 'on'" v-model="dynamicRate" label="动态赔率：" type="text" :placeholder="'当前赔率 ' + userLinkData.curDynamicRate+ ', 最小赔率 '+ userLinkData.dynamicRateMin + ', 最大赔率 '+ userLinkData.dynamicRateMax" />
          <van-field v-if="userLinkData.profitShare == 'on'" v-model="profitShare" label="代理占成：" type="text" :placeholder="'代理占成 ' + userLinkData.curProfitShare+ ', 最小赔率 '+ userLinkData.profitShareMin + ', 最大赔率 '+ userLinkData.profitShareMax" />
					<van-field v-if="userLinkData.mergeRebate==='off' && userLinkData.multiAgent === 'on'" label="设置返点：" v-model="cpRolling" maxlength="5" type="text" :placeholder="'请输入返点数，' + (userLinkData.rebateMinNum || 0) + '-' + (userLinkData.rebateMaxNum || 0) + '之间'" required />
					<van-cell>
						<template slot="title">
							<span class="van-cell-text d-i" style="margin-right: 38px;">状态：</span>
							<select v-model="status" class="w-b70">
								<option value="2">启用</option>
								<option value="1">禁用</option>
							</select>
						</template>
					</van-cell>
				</van-cell-group>
				<van-button @click="submits" size="normal" type="danger">添加</van-button>
			</div>
			<div v-else="" id="cellList">
				<van-radio-group @change="generalizeLink" class="vipType" v-model="xjType">
					<span class="d-i f-s-16 m-r-34 p-r t--4">开户类型</span>
					<van-radio class="f-s-20" name="1">代理类型</van-radio>
					<van-radio class="f-s-20 m-l-20" name="2">会员类型</van-radio>
				</van-radio-group>
				<div v-if="subordinate && subordinate.length>0">
          <!--<van-row class="text-c h-40 l-h-40">-->
            <!--<van-col span="6">-->
              <!--邀请码-->
            <!--</van-col>-->
            <!--<van-col span="6">-->
              <!--返点-->
            <!--</van-col>-->
            <!--<van-col span="6">-->
              <!--推广链接-->
            <!--</van-col>-->
            <!--<van-col span="6">-->
              <!--操作-->
            <!--</van-col>-->
          <!--</van-row>-->
          <!--<div v-for="(item,index) in subordinate" :key="index" class="bg-w w-b100">-->
            <!--<span class="d-i w-b25 text-c b-box">{{item.linkKey || '&#45;&#45;'}}</span>-->
            <!--<span class="d-i w-b25 text-c b-box">{{item.cpRolling || '&#45;&#45;'}}</span>-->
            <!--<span class="d-i w-b25 c-b text-c b-box">复制</span>-->
            <!--<span class="d-i w-b25 text-c f-s-14">-->
                <!--<span @click="goEdit(item)" class="c-r">修改</span>-->
                <!--<span @click="removeList(item.id)" class="c-r">删除</span>-->
            <!--</span>-->
          <!--</div>-->
					<van-cell-group v-for="(item,index) in subordinate" :key="index" class="m-b-10">
						<van-field label="类型："     disabled :placeholder="item.type=='1'?'代理':'会员'" />
						<van-field label="返点："     disabled :placeholder="item.cpRolling || '--'" />
						<van-field label="邀请码："    :value="item.linkKey || '--'" />
            <div style="position: relative" v-clipboard:copy="item.adminUrl"  v-clipboard:success="copySuccess" v-clipboard:error="copyError" @click="copyFont = index">
              <van-tag plain type="danger" style="position: absolute;top:50%;transform: translateY(-50%);z-index: 2;right: 11px;" v-if="copyFont !=index">复制</van-tag>
              <van-tag plain type="danger" style="position: absolute;top:50%;transform: translateY(-50%);z-index: 2;right: 11px;" v-if="copyFont ==index">已复制</van-tag>
              <van-field label="推广链接："  :value="item.adminUrl || '--'" />
            </div>
						<van-field label="短链接："    :value="item.shortUrl1 || '--'" />
						<van-cell>
							<template slot="title">
								<span class="van-cell-text d-i" style="margin-right: 38px;">状态：</span>
								<select @change="modifyUrlStatus(item.id,item.status)" v-model="item.status" class="w-b45">
									<option value="2">启用</option>
									<option value="1">禁用</option>
								</select>
								<div class="d-i pull-r c-r">
									<span @click="goEdit(item)" class="m-r-15">修改</span>
									<span @click="removeList(item.id)">删除</span>
								</div>
							</template>
						</van-cell>
					</van-cell-group>
				</div>
				<div v-else="" class="text-c m-t-50">
					<img width="80" src="../../../../static/img/pic_empty.png" />
					<div class="f-s-12 c-9">暂无数据</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import { Dialog } from 'vant';
	import { Toast } from 'vant';
	export default {
		data() {
			return {
        copyFont:1,
				status:'2',//新增时链接状态
				type: '1', //新增时用户类型
				cpRolling: '',//新增时用户返点数
        dynamicRate: '',//新增时用户动态赔率
        profitShare: '',//新增时用户代理占成
				xjType: '1',//修改时类型
				subordinate: new Array(), //下级开户列表
				hadeIndex: 1,
				userLinkData :'',//推广链接数据
			}
		},
		watch: {
		  // 'copyFont'(){
		  //   setInterval(()=>{
		  //     this.copyFont =0;
      //   },2000)
      // }
		},
		created: function() {
			this.getLeciUserLink();//获取修改推广链接数据获取
			this.generalizeLink(); //获取下级开户列表
		},
		mounted: function() {
		},
		methods: {
		  copySuccess:function(e){
        // this.copyFont = '已复制'
      },
      copyError:function(e){
		    // alert(e)
        alert("请再一次复制");
      },
      //详情跳转公用
      goDetails:function(path){
        this.$router.push({
          path: path,
          query: {}
        })
      },
			//修改推广链接数据获取
			getLeciUserLink:function(){
				const toast = Toast.loading({
					duration: 0, // 持续展示 toast
					forbidClick: true, // 禁用背景点击
					loadingType: 'spinner',
					message: '加载中...'
				});
				$sky.ajax('post', 'native/leciUserLink', {linkCode:''}, (ret) => {
					toast.clear();
					if(!ret) {
						Dialog.alert({
							title: ret.msg,
						}).then(() => {
							this.$router.push({
								path: '/login',
							})
						});
						return false;
					}
					this.userLinkData = ret;
				})
			},
			//添加推广链接
			submits: function() {
        this.cpRolling = this.cpRolling - 0;
				// alert(typeof parseInt(this.cpRolling));return
				if(this.cpRolling  === ''){
					Toast('请先填写返点数');return;
				}else if(parseInt(this.cpRolling) >100){
					Toast('请正确填写返点数');return;
				}
        if(!this.profitShare){
          // Toast('请输入占成数');
          // return
        }
        if(!this.dynamicRate){
          // Toast('请输入动态赔率');
          // return
        }
				const toast = Toast.loading({
					duration: 0, // 持续展示 toast
					forbidClick: true, // 禁用背景点击
					loadingType: 'spinner',
					message: '保存中...'
				});
				var data = {
					id: '',//列表id
					type: this.type,// 用户类型（2会员1代理）
					linkKey: this.userLinkData.link.linkKey,// 邀请码
					cpRolling: this.cpRolling? this.cpRolling : this.cpRolling,// 返点数
					status: this.status, //状态（1禁用2启用）
          profitShare: this.profitShare? this.profitShare: this.profitShare, // 占成数
          dynamicRate: this.dynamicRate ? this.dynamicRate: this.dynamicRate, // 赔率值
				};
				$sky.ajax('post', 'native/updateOrSaveLink', data, (ret) => {
					toast.clear();
					if(ret.success) {
						Toast.success('添加成功');
					} else {
            Toast.fail(ret.msg);
					}
				})
			},
      //代理返点赔率表
      agentRebates:function(){

      },
			//修改列表信息
			goEdit:function(item){
				this.$router.push({
					path: '/edit',
					query: item
				})
			},
			//修改链接状态
			modifyUrlStatus:function(id,status){
				$sky.ajax('post', 'updateLinkStatusById', {
					id: id,
					status: status
				}, (ret) => {
					if(ret.success){
						Toast.success(status == 1 ? '启用成功' : '禁用成功');
					}else{
						if(!ret.isLogin) {
							Dialog.alert({
								title: ret.msg,
							}).then(() => {
								this.$router.push({
									path: '/login',
								})
							});
							return false;
						}else{
							Toast.fail(ret.msg);
						}
					}
				})
			},
			//删除列表
			removeList:function(id){
				$sky.ajax('post', 'native/delLink', {
					id: id,
				}, (ret) => {
					if(ret.success){
						Toast.success('已删除');
					}else{
						if(!ret.isLogin) {
							Dialog.alert({
								title: ret.msg,
							}).then(() => {
								this.$router.push({
									path: '/login',
								})
							});
							return false;
						}else{
							Toast.fail(ret.msg);
						}
					}
				})
			},
			//获取下级开户列表
			generalizeLink: function() {
				$sky.ajax('post', 'native/generalizeLink', {
					type: this.xjType
				}, (ret) => {
					if(!ret) {
						Dialog.alert({
							title: ret.msg,
						}).then(() => {
							this.$router.push({
								path: '/login',
							})
						});
						return false;
					}
					this.subordinate = ret.list; //下级开户列表
				})
			},
			back: function() {
				window.history.go(-1);
			},
		}
	}
</script>

<style>
	#xjRegister #cellList .van-cell{
		padding: 6px 10px;
	}

	#xjRegister .van-button--normal {
		width: 80%;
		margin: 40px 10% 20px 10%;
	}

	#xjRegister .van-radio {
		display: inline-block;
	}

	#xjRegister .vipType {
		padding: 5px 10px;
		background: #fff;
		border-bottom: 1px solid #f0f0f0;
	}

	#xjRegister .van-radio__label {
		font-size: 14px;
	}

	#xjRegister .activeHade {
		color: #dc2e2e;
		background: #fff;
	}

	#xjRegister .headerTab {
		border: 1px solid #fff;
		border-radius: 4px;
		height: 26px;
		width: 60%;
		margin: 9px auto;
		font-size: 0;
	}

	#xjRegister .headerTab .box {
		border-right: 1px solid #fff;
	}

	#xjRegister .headerTab span {
		display: inline-block;
		height: 100%;
		width: 50%;
	}

	#xjRegister .headerTab span p {
		position: relative;
		top: -9px;
		font-size: 14px;
	}
</style>
