<template>
	<div class="flexWrap" id="yjtc">
		<van-nav-bar @click-left="back" @click-right="selects" class="bg-h c-w" title="业绩提成" left-text="返回" left-arrow>
			<div slot="right">{{rightTitle}}<van-icon class="datas" name="arrow" /></div>
		</van-nav-bar>
		<van-row class="">
			<van-col v-for="(item,index) in hedeTitle" :key="index" span="6" class="hedeTitle">
				<div class="text-c f-s-14 p-b-t-10">{{item}}</div>
			</van-col>
		</van-row>	
		<div class="flexContent">
			<van-list v-if="commissionList && commissionList.length>0" v-model="loading" :finished="finished" :offset="100" @load="onLoad">
				<van-row class="bg-w">
					<van-col span="6" class="b-r">
						<div class="text-c f-s-14 p-b-t-10 ellipsis">{{commissionList.account}}</div>
					</van-col>
					<van-col span="6" class="b-r">
						<div class="text-c f-s-14 p-b-t-10 ellipsis">{{commissionList.beforeMoney}}</div>
					</van-col>
					<van-col span="6" class="b-r">
						<div class="text-c f-s-14 p-b-t-10 ellipsis">{{commissionList.afterMoney}}</div>
					</van-col>
					<van-col span="6" class="b-r">
						<div class="text-c f-s-14 p-b-t-10 ellipsis">{{getDataTime(commissionList.createDatetime)}}</div>
					</van-col>
				</van-row>	
			</van-list>
			<div v-else="" class="text-c m-t-50">
				<img width="80" src="../../../../static/img/pic_empty.png" />
				<div class="f-s-12 c-9">暂无数据</div>
			</div>
		</div>
		<van-actionsheet v-model="show" :actions="actions" cancel-text="取消" />
	</div>
</template>

<script>
	import { List } from 'vant';
	import { Dialog } from 'vant';
	import { Toast } from 'vant';
	export default {
		data() {
			return {
				rightTitle:'今天',//
				hedeTitle:['账号','变动前金额','变动后金额','变动时间'],
				show: false,
				actions: [{name: '今天'},{name: '昨天'}, {name: '近一周'},{name: '近一个月'},{name: '一个月以前'}],
				startTime: '',//开始时间
				endTime: '',//结束时间
				loading: false,//是否加载状态
				finished: false,//是否已全部加载啊完成
				commissionList: '',//业绩提成列表
				pageNumber: 1,//当前页
				total:0,//总条数
			}
		},
		watch: {

		},
		created: function() {
			this.getTimes(0,false);//获取初始化时间
			this.getCommissionList();//获取业绩提成列表
		},
		mounted: function() {

		},
		methods: {
			//转换时间
			getDataTime:function(time){
				return $sky.getDateFull(time);
			},
			//获取业绩提成列表
			getCommissionList:function(){
				const toast = Toast.loading({
					duration: 0, // 持续展示 toast
					forbidClick: true, // 禁用背景点击
					loadingType: 'spinner',
					message: '加载中...'
				});
				$sky.ajax('post', 'native/commissionList', {begin : this.startTime, end : this.endTime, pageNumber : 1, pageSize :50}, (ret) => {
					this.pageNumber = 1;
					toast.clear();
					if(!ret) {
						Dialog.alert({
							title: ret.msg,
						}).then(() => {
							this.$router.push({
								path: '/login',
							})
						});
						return false;
					}
					this.total = ret.total  || 0;//总条数
					this.commissionList = ret.rows || new Array();//业绩提成列表
				})
			},
			//上拉加载更多
			onLoad:function(){
				if(this.pageNumber*50 < this.total){
					this.pageNumber++;
					$sky.ajax('post', 'native/commissionList', {begin : this.startTime, end : this.endTime, pageNumber : 1, pageSize :50}, (ret) => {
						if(!ret.isLogin) {
							Dialog.alert({
								title: ret.msg,
							}).then(() => {
								this.$router.push({
									path: '/login',
								})
							});
							return false;
						}
						this.total = ret.total  || 0;//总条数
						for(let i in ret.rows){
							this.commissionList.push(ret.rows[i])
						}
						this.loading = false;//是否加载状态
					})
				}else{
					Toast('暂无更多数据');
					this.loading = false;//是否加载状态
					this.finished = true;//是否已全部加载啊完成
				}
			},
			//获取时间
			getTimes:function(timeNum,istrue){
				if(timeNum == 0){
					let date = new Date(new Date().getTime());
					let currentTime = date.getFullYear() + '-' + (date.getUTCMonth()+1) + '-' + date.getUTCDate() + ' 00:00:00';
					this.startTime = currentTime;//开始时间
					return;
				}
				var time1 = new Date().getTime();//当前时间内挫
				var time2 = timeNum*24*60*60*1000;
				var date = new Date(time1-time2);
		    		var currentdate = date.getFullYear() + '-' + (date.getUTCMonth()+1) + '-' + date.getUTCDate() + '  00:00:00';
		    		this.startTime = currentdate;//开始时间
		    		
		    		if(istrue){
					let time3 = new Date().getTime();
					let time4 = 30*24*60*60*1000;//一个月前时间挫
					let dates = new Date(time3-time4);
		    			let currentTimes = dates.getFullYear() + '-' + (dates.getUTCMonth()+1) + '-' + dates.getUTCDate() + '  00:00:00';
		    			this.endTime = currentTimes;
		    			return;
				}
				let dates = new Date(new Date().getTime());
				let currentdates = dates.getFullYear() + '-' + (dates.getUTCMonth()+1) + '-' + dates.getUTCDate() + ' 23:59:59';//
				this.endTime = currentdates;
		    		
			},
			selects:function(){
				this.show = true;
				setTimeout(()=>{
					var footerList=document.querySelectorAll('li');
					footerList[0].onclick=()=>{//今天
						this.getTimes(0,false);//时间
						this.getCommissionList();
						this.rightTitle = '今天';
						this.show = false;
					}
					footerList[1].onclick=()=>{//昨天
						this.getTimes(1,false);//时间
						this.getCommissionList();
						this.rightTitle = '昨天';
						this.show = false;
					}
					footerList[2].onclick=()=>{//7天
						this.getTimes(7,false);//时间
						this.getCommissionList();
						this.rightTitle = '近一周';
						this.show = false;
					}
					footerList[3].onclick=()=>{//近一个月
						this.getTimes(30,false);//时间
						this.getCommissionList();
						this.rightTitle = '近一个月';
						this.show = false;
					}
					footerList[4].onclick=()=>{//一个月以前
						this.getTimes(3650,true);//时间
						this.getCommissionList();
						this.rightTitle = '一个月以前';
						this.show = false;
					}
				},200)
			},
			back: function() {
				window.history.go(-1);
			},
		}
	}
</script>

<style>
	.datas{
		margin-left: 5px;
		-webkit-transform: rotate(90deg);/*Safari 4+,Google Chrome 1+ */
		-moz-transform: rotate(90deg);/*Firefox 3.5+*/
		filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);/*ie*/
	}
</style>
