<template>
    <div class="setCenter">
        <div class="setCenter-container">
            <header >
                <ul>
                    <router-link tag="li" to="/myList">
                        <i class="iconfont icon-kefu"></i>
                    </router-link>
                    <li>
                        <span>关于</span>
                    </li>
                    <li>
<!--                        <i class="iconfont icon-shezhi"></i>-->
                    </li>
                </ul>
            </header>
            <div class="setCenter-nav">
                <section class="nav-content">
                    <h1>帮助中心</h1>
                    <van-icon name="arrow" />
                </section>
                <section class="nav-content">
                    <h1>分享</h1>
                    <van-icon name="arrow" />
                </section>
                <div class="nav-content secure" @click="logout">
                    <h1>安全退出</h1>
                    <van-icon name="arrow" />
                </div>
            </div>
            <div class="setCenter-main"></div>
        </div>
    </div>
</template>
<script>
  import headerPage from "@/components/include/headerPage";
    export default {
      name:"setCenter",
      components:{headerPage},
      data(){
        return{
          show:true
        }
      },
      mounted() {
      },
      methods:{
        logout(){
          this.$dialog.confirm({
            title: '退出提示',
            message: '您确定要退出登录吗?',
            asyncClose: true
          })
            .then(() => {
              this.$http.home.logout().then((res)=>{
                if (res.data.success){
                  this.$dialog.close();
                  this.$store.commit("isLogin",false);
                  let content ={account:'未登录',balance:'0.00',login:false}
                  this.$store.commit('access',content)
                  setTimeout(()=>{

                    this.$router.push('/')
                  },300)

                }else {
                  this.$toast(res.data.msg)
                }
              })
            })
            .catch(() => {
              this.$dialog.close();
            });
        }
      },
      watch:{
        show(){
          console.log(this.show)
        }
      }
    }
</script>
<style lang="scss" scoped>
    $gameContainerHeader:1rem;
.setCenter{
    background: #f0f0f0;
    height: 100%;
    .setCenter-container{
        header{
            height: $gameContainerHeader;
            line-height: $gameContainerHeader;
            width: 100%;
            box-sizing: border-box;
            /*border-bottom: 1px solid #999999;*/
            background: #ee0a24;
            ul{
                text-align: center;
                display: flex;
                justify-content: space-between;
                align-items: center;
                align-content: center;
                width: 100%;
                li{
                    display: flex;
                    align-items: center;
                    min-width: 0.7rem;
                    span{font-size: .28rem;color: #ffffff}
                    i{font-size: 0.7rem;color: #ffffff}
                }
            }
        }
        .setCenter-nav{
            box-sizing: border-box;
            .nav-content{
                display: flex;
                justify-content: space-between;
                align-items: center;
                min-height:48px ;
                color: #000000;
                border-bottom: 1px solid #99999947;
                padding-right: 0.4rem;
                padding-left: 0.4rem;
                background: #ffffff;
                h1{font-size: 0.28rem}
                i{font-size: 0.28rem;padding-right: 0.2rem}

            }
            .secure{
                margin-top: 0.2rem;
                h1{font-size: 0.28rem;color: #ee0a24;}

            }
            section{
                &:last-child{
                    border-bottom: none;
                }
            }
        }
    }
}
</style>
