*{
  padding: 0;
  margin: 0;
  white-space: nowrap;
  font-size: 62.5%;
  font-family: 'Microsoft YaHei';
}
/*针对谷歌和苹果浏览器*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  *{
    font-size: 12px;
  }
}
/*滚动条*/
body::-webkit-scrollbar {/*滚动条整体样式*/
  width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 10px;
}
body::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: #57A3F3;
}
body::-webkit-scrollbar-track {/*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  border-radius: 5px;
  background: #EDEDED;
}
.ivu-select-dropdown::-webkit-scrollbar {/*滚动条整体样式*/
  width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
  height: 10px;
}
.ivu-select-dropdown::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  background: #57A3F3;
}
.ivu-select-dropdown::-webkit-scrollbar-track {/*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
  border-radius: 5px;
  background: #EDEDED;
}
h1{
  font-size: 3rem;
}
h2{
  font-size: 2.8rem;
}
h3{
  font-size: 2.6rem;
}
h4{
  font-size: 2.4rem;
}
h5{
  font-size: 2.2rem;
}
h6{
  font-size: 2rem;
}
#app{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
.flex-c{
  display: flex;
  align-items: center;
  justify-content: center;
}
/*内间距*/
.m-0{
  margin: 0 auto;
}
.m-5{
  margin: 0.5rem;
}
.m-5-r{
  margin-right: 0.5rem;
}
.m-5-l{
  margin-left: 0.5rem;
}
.m-5-b{
  margin-bottom: 0.5rem;
}
.m-5-t{
  margin-top: 0.5rem;
}
.m-20-t{
  margin-top: 2rem;
}
.m-20-r{
  margin-right: 2rem;
}
/*外间距*/
.p-5{
  padding: 0.5rem;
}
.p-5-r{
  padding-right:0.5rem;
}
.p-5-l{
  padding-left:0.5rem;
}
.p-30-l{
  padding-left:3rem;
}
.p-5-b{
  padding-bottom:0.5rem;
}
.p-5-t{
  padding-top:0.5rem;
}
.p-100-t{
  padding-top:10rem;
}
/*对齐方式*/
.t-c{
  text-align: center;
}
.t-l{
  text-align: left;
}
.t-r{
  text-align: right;
}
/*高度*/
.h-100{
  height: 100%;
}
.h-90{
  height: 90%;
}
.h-5{
  height: 5rem;
}
.h-15{
  height: 15rem;
}
.h-50{
  height: 50rem;
}
/*宽度*/
.w-100{
  width: 100%;
}
.w-88{
  width: 88%;
}
.w-5{
   width: 5rem;
}
.w-8{
  width: 8rem;
}
.w-15{
  width: 15rem;
}
.w-20{
  width: 20rem;
}
.w-25{
  width: 25rem;
}
.w-50{
  width: 50rem;
}
/*元素位置*/
.d-b{
  display: block;
}
.d-f{
  display: flex;
}
/*绝对定位*/
.p-a{
  position: absolute;
}
.p-r{
  position: relative;
}
/*圆角*/
.b-r-5{
  border-radius: .5rem;
}
.b-r-50{
  border-radius: 50%;
}
/*浮动*/
.f-l{
  float: left;
}
/*背景颜色*/
.bg-fff{
  background: #fff;
}
/*行高*/
.l-h-25{
  line-height:2.5rem;
}
/*滚动条*/
.ov-hidd{
  overflow: hidden;
}
/*最小宽度*/
.m-wid1000{
  min-width: 1000px;
}
