*{
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: -apple-system-font, Helvetica Neue, Arial, sans-serif;
  box-sizing: border-box;
}
li{
  list-style: none;
}
body{
  background: #000000;
  overflow: auto;
}
i{
  font-style: normal;
}
a{
  text-decoration: none;
}
input::-webkit-input-placeholder{
  color:#ffffff;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
  color:#ffffff;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
  color:#ffffff;
}
input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ffffff;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.w-f{
  width: 100%;
  float: left;
}
.row{
  width: 1140px;
  margin: 0 auto;
}
.left{
  float: left;
}
.right{
  float: right;
}
// 淡出淡出
.popup-enter-active {
  transition: all .3s ease;
}
.popup-leave-active {
  transition: all .3s ease;
}
.popup-enter, .popup-leave-to /* .slide-fade-leave-active for below version 2.1.8 */ {
  opacity: 0;
}
