.foot_nav{
  height: 406px;
  .footer-sec{
    padding-top: 20px;
    height: 353px;
    background: #000000;
    img{
      width: 1140px;
    }
    .fun-box {
      margin-top: 20px;
      color: #c2c2c2;
      border: 1px groove #3dccff !important;
      padding: 10px 1.4em 1.4em 1.4em !important;
      box-shadow: 0px 0px 0px 0px #000;
      font-size: 12px;
      line-height: 1.2;
      legend {
        font-size: 13px;
        color: #3dccff;
        font-weight: 600;
        text-align: left !important;
        width: auto;
        padding: 0 10px;
        border-bottom: none;
      }
    }
  }
  .copyright-sec{
    height: 53px;
    background: linear-gradient(to bottom, rgba(47,10,84,1) 0%, rgba(47,10,84,1) 3%, rgba(26,0,51,1) 20%, rgba(26,0,51,1) 100%);
    .row{
      height: 100%;
      line-height: 53px;
      .left{
        a{
          border-left: 1px solid #fff;
          padding: 0 10px;
          font-size: 12px;
          &:nth-child(1){
            border-left: none!important;
          }
          &:hover{
            color: #ff13d5;
            transition: .5s;
          }
        }
      }
    }
  }
}
