.head_nav{
  position: relative;
  & *{
    color: #ffffff;
  }
  .header-top{
    height: 117px;
    background: url("../../images/cajr-header-christmas.jpg") no-repeat top center;
    background-size: cover;
    border-bottom: 1px solid #68c8ea;
    .row{
      .logo{
        width: 25%;
        float: left;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          width: 270px;
          height: 100px;
        }
      }
      .login-input{
        width: 70%;
        float: right;
        .top{
          height: 54px;
          display: flex;
          justify-content: right;
          align-items: center;
          img{
            width: 23px;
            height: 23px;
            margin-right: 10px;
          }
        }
        .bottom{
          height: 64px;
          float: right;
          display: flex;
          align-items: center;
          .log_input{
            background: transparent;
            border: none;
            color: #ffffff;
            width: 155px;
            padding: 5px 1px;
            font-size: 13px;
            border-bottom: 2px solid red;
            margin-right: 20px;
          }
          .pass_input{
            background: transparent;
            border: none;
            color: #ffffff;
            width: 155px;
            padding: 5px 1px;
            font-size: 13px;
            border-bottom: 2px solid #ff13d5;
            margin-right: 20px;
          }
          span{
            margin-right: 20px;
          }
          a{
            margin-right: 15px;
            border: 1px solid #000000;
            padding: 3px 5px;
            border-radius: 5px;
            transition: .5s;
            &:hover{
              border: 1px solid #e95252!important;
            }
          }
          .login-btn {
            background: url("../../images/login-button.png")no-repeat center;
            width: 103px;
            height: 41px;
            margin: auto;
            border: none;
            text-align: center;
            color: #fff;
            text-transform: uppercase;
            font-weight: 900;
            font-size: 19px;
            transition: 0.3s;
            margin-right: 20px;
            cursor: pointer;
          }
          .login-btn:focus, .join-btn:focus {
            outline: none;
          }
          .login-btn:hover, .join-btn:hover {
            filter: drop-shadow(0 0 3px rgb(255,255,255,0.5));
            transform: scale(0.97);
            transition: 0.3s;
          }
          .join-btn {
            background: url("../../images/join-button.png")no-repeat center;
            width: 124px;
            height: 41px;
            margin: auto;
            border: none;
            text-align: center;
            color: #fff;
            text-transform: uppercase;
            font-weight: 900;
            font-size: 19px;
            transition: 0.3s;
            margin-right: 20px;
            cursor: pointer;
          }
          .language{
            width: 47px;
            height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            &:hover{
              box-shadow: 0px 0px 6px 3px rgb(255 19 213);
              transition: .5s;
              cursor:pointer;
            }
            &::after{
              content:"";
              width:4px;
              height:4px;
              border-top:3px solid #ffffff;
              border-right:3px solid #ffffff;
              transform:rotate(135deg);
              margin-left: 4px;
            }
            .lan-list{
              width: 60px;
              height: auto;
              background: rgba(0,0,0,0.7);
              border-radius: 3px;
              position: absolute;
              top: 30px;
              z-index: 9999;
              .list{
                height: 26px;
                text-align: center;
                line-height: 26px;
                overflow:hidden;
                &:hover{
                  background: rgba(0,0,0,1);
                }
              }
            }
          }
        }
      }
    }
  }
  .header-bottom{
    height: 45px;
    background: linear-gradient(to bottom, rgba(22,0,47,1) 0%, rgba(18,0,44,1) 100%);
    border-bottom: 1px solid #68c8ea;
    .row{
      height: 100%;
      .menu-sec{
        height: 100%;
        ul{
          height: 100%;
          float: right;
          li{
            height: 100%;
            float: left;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 25px;
            img{
              width: 25px;
              height: 25px;
              cursor: pointer;
            }
            a:hover{
              color: #ff13d5;
              transition: .5s;
            }
          }
        }
      }
    }
  }
  .announce-sec{
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: -35px;
    background: url("../../images/notice-bg.png") no-repeat center;
    .row{
      position: relative;
      line-height: 20px;
      img{
        width: 15px;
        height: 15px;
        position: absolute;
        left: -25px;
      }
    }
  }
}
