<template>
  <div class="record">
    <div class="content">
      <div class="total">
        <div class="data"><span>{{$t('投注')}}</span><br><span>{{$root.common.splitNum(totalData.bettingMoneyCount)}}</span></div>
        <div class="data"><span>{{$t('有效投注')}}</span><br><span>{{$root.common.splitNum(totalData.realBettingMoneyCount)}}</span></div>
        <div class="data"><span>{{$t('中奖')}}</span><br><span>{{$root.common.splitNum(totalData.winMoneyCount)}}</span></div>
      </div>
      <div class="line">
        <div class="input"><input @click="show = true" type="text" v-model="date" :placeholder="$t('请选择时间(默认今日)')" readonly></div>
      </div>
      <div class="line">
        <div class="input">
          <select ref="sel" @change="setType()">
            <option v-for="(item, index) in selectList" :value="JSON.stringify(item)" :key="index">{{item.title}}</option>
          </select>
        </div>
      </div>
      <div class="content-list" v-if="detailList.length > 0">
        <div>
          <div class="detail-box" v-for="(item, index) in detailList" :key="index">
            <div class="title">
              <span class="left red">{{item.gameType}}</span>
            </div>
            <div class="detail">
              <div class="text"><span class="label">{{$t('游戏类型')}}：</span><span>{{item.platformType}}</span></div>
              <div class="text" v-if="item.gameCode"><span class="label">{{$t('局号')}}：</span><span>{{item.gameCode}}</span></div>
              <div class="text"><span class="label">{{$t('投注金额')}}：</span><span>{{item.bettingMoney}}</span></div>
              <div class="text"><span class="label">{{$t('有效投注')}}：</span><span>{{item.realBettingMoney}}</span></div>
              <div class="text"><span class="label">{{$t('币种')}}：</span><span>{{item.currency}}</span></div>
              <div class="text"><span class="label">{{$t('中奖')}}：</span><span>{{item.winMoney}}</span></div>
            </div>
            <div class="bottom">
              <span>{{item.bettingCode}}</span>
              <span>{{$root.common.getMyDate(item.bettingTime)}}</span>
            </div>
          </div>
        </div>
      </div>
      <div style="text-align: center;color:#ffffff;line-height: 4rem;font-size: 1.8rem;margin-top: 150px;" v-else>
        <van-icon name="todo-list" color="#ffffff" size="50" /><br>{{$t('暂时没有投注记录')}}
      </div>
      <van-calendar v-model="show" type="range" :min-date="new Date(2022,9,1)" :allow-same-day="true" @confirm="onConfirm" color="#001520" />
    </div>
  </div>
</template>

<script>
import '@/assets/css/record.less'
export default {
  name: "detail",
  data(){
    return{
      detailList:[],
      selectList:[],
      totalData:'',
      show:false,
      date:'',
      params:{
        startTime:'',
        endTime:'',
        type:0,
        page:1,
      },
    }
  },
  created() {
    this.params.startTime = this.formatDate(new Date()) + ' 00:00:00'
    this.params.endTime = this.formatDate(new Date()) + ' 23:59:59'
    this.getSelectList()
    this.accountChangeRecord()
  },
  methods:{
    setType(){
      let item = JSON.parse(this.$refs.sel.value)
      this.params.type = item.type
      this.accountChangeRecord()
    },
    accountChangeRecord(){
      this.detailList = []
      this.$post('native/egamerecord.do',this.params,true).then(res=>{
        this.totalData = res.aggsData
        this.detailList = res.rows
      })
    },
    getSelectList(){
      this.selectList = []
      this.$post('native/getDatasBesidesLotterys.do',{code:2},true).then(res=>{
        this.selectList = res.content
        this.selectList.unshift({type:0,title:this.$t('全部')})
      })
    },
    onConfirm(date){
      const [start, end] = date;
      this.show = false;
      this.date = `${this.formatDate(start)} ~ ${this.formatDate(end)}`;
      this.params.startTime = this.formatDate(start) + ' 00:00:00'
      this.params.endTime = this.formatDate(end) + ' 23:59:59'
      this.accountChangeRecord()
    },
    formatDate(date) {
      return `${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()}`;
    },
  },
}
</script>

<style scoped>

</style>