<template>
  <div class="record">
    <div class="content">
      <div class="total">
        <div class="data"><span>{{$t('投注')}}</span><br><span>{{$root.common.splitNum(totalData.buySum)}}</span></div>
        <div class="data"><span>{{$t('中奖')}}</span><br><span>{{$root.common.splitNum(totalData.winSum)}}</span></div>
        <div class="data"><span>{{$t('盈利')}}</span><br><span>{{$root.common.splitNum(totalData.winSum - totalData.buySum)}}</span></div>
      </div>
      <div class="line">
        <div class="input"><input @click="show = true" type="text" v-model="date" :placeholder="$t('请选择时间(默认今日)')" readonly></div>
      </div>
      <div class="line">
        <div class="input">
          <select ref="sel" @change="setType()">
            <option v-for="(item, index) in selectList" :value="item.code" :key="index">{{item.name}}</option>
          </select>
        </div>
      </div>
      <div class="line">
        <div class="input">
          <select ref="sel2" @change="setType()">
            <option v-for="(item, index) in typeList" :value="item" :key="index">{{statusFilter(item)}}</option>
          </select>
        </div>
      </div>
      <div class="content-list" v-if="detailList.length > 0">
        <div class="detail-box" v-for="(item, index) in detailList" :key="index">
          <div class="title">
            <span class="left green" v-if="item.status == 2">{{statusFilter(item.status)}}</span>
            <span class="left default" v-else-if="item.status == 1">{{statusFilter(item.status)}}</span>
            <span class="left red" v-else>{{statusFilter(item.status)}}</span>
            <span class="right">{{item.lotName}}</span>
          </div>
          <div class="detail">
            <div class="text"><span class="label">{{$t('期号')}}：</span><span>{{item.qiHao}}</span></div>
            <div class="text"><span class="label">{{$t('单注金额')}}：</span><span>{{ $root.common.splitNum(item.buyMoney/item.model) }}</span></div>
            <div class="text"><span class="label">{{$t('投注总额')}}：</span><span>{{$root.common.splitNum(item.buyMoney)}}</span></div>
            <div class="text"><span class="label">{{$t('号码')}}：</span><span>{{item.haoMa}}</span></div>
            <div class="text"><span class="label">{{$t('开奖号码')}}：</span><span>{{item.lotteryHaoMa}}</span></div>
            <div class="text"><span class="label">{{$t('投注注数')}}：</span><span>{{item.buyZhuShu}}</span></div>
            <div class="text"><span class="label">{{$t('倍数')}}：</span><span>{{item.multiple}}</span></div>
            <div class="text"><span class="label">{{$t('玩法')}}：</span><span>{{item.playName}}</span></div>
            <div class="text"><span class="label">{{$t('中间注数')}}：</span><span>{{item.winZhuShu}}</span></div>
            <div class="text"><span class="label">{{$t('盈亏')}}：</span><span>{{ $root.common.splitNum(item.winMoney - item.buyMoney)}}</span></div>
            <div class="text" v-if="item.status == 1 && cancelSwitch"><span class="label">{{$t('操作')}}：</span><span style="color: #0fb3f9;" @click="cancel(item.orderId)">{{$t('撤单')}}</span></div>
          </div>
          <div class="bottom">
            <span>{{item.orderId}}</span><span>{{item.createTime}}</span>
          </div>
        </div>
      </div>
      <div style="text-align: center;color:#ffffff;line-height: 4rem;font-size: 1.8rem;margin-top: 150px;" v-else>
        <van-icon name="todo-list" color="#ffffff" size="50" /><br>{{$t('暂时没有投注记录')}}
      </div>
      <van-calendar v-model="show" type="range" :min-date="new Date(2022,9,1)" :allow-same-day="true" @confirm="onConfirm" color="#001520" />
    </div>
  </div>
</template>

<script>
import '@/assets/css/record.less'
import {Dialog, Toast} from 'vant'
export default {
  name: "detail",
  data(){
    return{
      detailList:[],
      selectList:[],
      totalData:'',
      show:false,
      date:'',
      params:{
        startTime:'',
        endTime:'',
        code:'',
        status:'',
        page:1,
        pageSize:999,
      },
      typeList:['',1,2,3,4,5],
      cancelSwitch:false,
    }
  },
  created() {
    this.params.startTime = this.formatDate(new Date()) + ' 00:00:00'
    this.params.endTime = this.formatDate(new Date()) + ' 23:59:59'
    this.accountChangeRecord()
    this.getSelectList()
  },
  methods:{
    setType(){
      this.params.code = this.$refs.sel.value
      this.params.status = this.$refs.sel2.value
      this.accountChangeRecord()
    },
    accountChangeRecord(){
      this.detailList = []
      this.$post('native/get_lottery_order.do',this.params,true).then(res=>{
        this.detailList = res.page.list
        this.totalData = res.page.aggsData
        res.cancel_switch == 'on' ? this.cancelSwitch = true : ''
      })
    },
    getSelectList(){
      this.detailList = []
      this.$post('native/getLotteryList.do',this.params,true).then(res=>{
        this.selectList = res.bcList
        this.selectList.unshift({code:'',name:this.$t('全部')})
      })
    },
    onConfirm(date){
      const [start, end] = date;
      this.show = false;
      this.date = `${this.formatDate(start)} ~ ${this.formatDate(end)}`;
      this.params.startTime = this.formatDate(start) + ' 00:00:00'
      this.params.endTime = this.formatDate(end) + ' 23:59:59'
      this.accountChangeRecord()
    },
    //撤单
    cancel: function(orderId) {
      Dialog.confirm({
        title: '撤单提示',
        message: '您是否要撤销此笔订单(ID:'+orderId+')'
      }).then(() => {
        this.$post( 'native/cancelOrder.do', {orderId: orderId, lotCode: ''},true).then(res=>{
          if(res.success) {
            Toast.success(this.$t('撤单成功'));
          } else {
            Toast.fail(this.$t('撤单失败,请询问相关客服！'));
          }
        })
      })
    },
    formatDate(date) {
      return `${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()}`;
    },
    statusFilter(type){
      switch (type) {
        case 1:
          return this.$t('未开奖');
        case 2:
          return this.$t('已中奖');
        case 4:
          return this.$t('已撤单');
        case 3:
          return this.$t('未中奖');
        case 8:
          return this.$t('和局');
        default:
          return this.$t('请选择')
      }
    },
  },
}
</script>

<style scoped>

</style>