<template>
  <div class="record">
    <div class="content">
      <div class="total">
        <div class="data"><span>{{$t('投注')}}</span><br><span>{{$root.common.splitNum( totalData.totalBetMoney ||totalData.bettingMoneyCount)}}</span></div>
        <div class="data" v-if="sportCode != 'hgty'"><span>{{$t('有效投注')}}</span><br><span>{{$root.common.splitNum(totalData.bettingMoneyCount)}}</span></div>
        <div class="data" v-if="sportCode != 'hgty'"><span>{{$t('中奖')}}</span><br><span>{{$root.common.splitNum(totalData.winMoneyCount)}}</span></div>
      </div>
      <div class="line">
        <div class="input"><input @click="show = true" type="text" v-model="date" :placeholder="$t('请选择时间(默认今日)')" readonly></div>
      </div>
      <div class="line">
        <div class="input">
          <select ref="sel" @change="setType()">
            <option v-for="(item, index) in selectList" :value="JSON.stringify(item)" :key="index">{{item.title}}</option>
          </select>
        </div>
      </div>
      <div class="line" v-if="sportCode == 'hgty'">
        <div class="input">
          <select ref="sel2" @change="setType()">
            <option v-for="(item, index) in sportTypeList" :value="item" :key="index">{{sportStatusFilter(item)}}</option>
          </select>
        </div>
      </div>
      <div class="line" v-if="sportCode == 'hgty'">
        <div class="input">
          <select ref="sel3" @change="setType()">
            <option v-for="(item, index) in typeList" :value="item" :key="index">{{statusFilter(item)}}</option>
          </select>
        </div>
      </div>
      <div class="content-list" v-if="detailList.length > 0">
        <div v-if="sportCode =='hgty'">
          <div class="detail-box" v-for="(item, index) in detailList" :key="index">
            <div class="title">
              <span class="left red">{{item.sportType == 1 ? '⚽' : item.sportType == 2 ? '🏀️' :''}} {{item.league}}</span>
              <span class="right">{{getBetStatus(item)}}</span>
            </div>
            <div class="detail">
              <div class="text"><span class="label">{{$t('赛事队伍')}}：</span><span>{{item.homeTeam}} VS {{item.guestTeam}}</span></div>
              <div class="text"><span class="label">{{$t('玩法')}}：</span><span>{{gameTimeTypeHelp(item.gameTimeType) +' -- '+ plateHelp(item.plate) + (item.odds ? ' -- '+$t('赔率')+' ('+item.odds+')' : '') }}{{item.bettingStatus === 4 ? '('+item.statusRemark+')' : ''}}</span></div>
              <div class="text"><span class="label"></span><span>{{getSportName(item.sportType) + '( '+item.typeNames+' )'}}</span></div>
              <div class="text"><span class="label">{{$t('投注金额')}}：</span><span>{{item.bettingMoney}}</span></div>
              <div class="text"><span class="label">{{$t('提交状态')}}：</span><span>{{getBettingStatus(item)}}</span></div>
              <div class="text"><span class="label">{{$t('结算状态')}}：</span><span>{{getBettingStatus(item)}}</span></div>
              <div class="text" v-if="item.bettingResult"><span class="label">{{$t('中奖金额')}}：</span><span>{{item.bettingResult}}</span></div>
            </div>
            <div class="bottom">
              <span>{{item.bettingCode}}</span>
              <span>{{$root.common.getMyDate(item.bettingDate)}}</span>
            </div>
          </div>
        </div>
        <div v-else-if="sportCode == 'bbin'">
          <div class="detail-box" v-for="(item, index) in detailList" :key="index">
            <div class="title">
              <span class="left red">{{item.platformType}}</span>
              <span class="right">{{getlbcStatus(item)}}</span>
            </div>
            <div class="detail">
              <div class="text"><span class="label">{{$t('投注金额')}}：</span><span>{{item.bettingMoney}}</span></div>
              <div class="text"><span class="label">{{$t('投注币种')}}：</span><span>{{item.currency}}</span></div>
              <div class="text"><span class="label">{{$t('状态')}}：</span><span>{{getlbcStatus(item)}}</span></div>
              <div class="text" v-if="item.winMoney"><span class="label">{{$t('中奖金额')}}：</span><span>{{item.winMoney}}</span></div>
              <div class="text"><span class="label">{{$t('投注详情')}}：</span><span style="color: #0fb3f9;" @click="getSportDetailsById(item.id)">{{$t('点此查看')}}</span></div>
            </div>
            <div class="bottom">
              <span>{{item.orderId}}</span>
              <span>{{$root.common.getMyDate(item.bettingTime)}}</span>
            </div>
          </div>
        </div>
        <div v-else>
          <div class="detail-box" v-for="(item, index) in detailList" :key="index">
            <div class="title">
              <span class="left red">{{item.sportType == 1 ? '⚽' : item.sportType == 2 ? '🏀️' :''}} {{item.league}}</span>
              <span class="right">{{getlbcStatus(item)}}</span>
            </div>
            <div class="detail">
              <div class="text"><span class="label">{{$t('赛事队伍')}}：</span><span>{{item.homeTeam}} VS {{item.awayTeam}}</span></div>
              <div class="text"><span class="label">{{$t('赛事比分')}}：</span><span>{{item.score}}</span></div>
              <div class="text"><span class="label">{{$t('赛事玩法')}}：</span><span>{{item.playName}}</span></div>
              <div class="text"><span class="label">{{$t('投注金额')}}：</span><span>{{item.bettingMoney}}</span></div>
              <div class="text"><span class="label">{{$t('投注币种')}}：</span><span>{{item.currency}}</span></div>
              <div class="text"><span class="label">{{$t('赔率')}}：</span><span>{{item.odds}}</span></div>
              <div class="text"><span class="label">{{$t('状态')}}：</span><span>{{getlbcStatus(item)}}</span></div>
              <div class="text" v-if="item.winMoney"><span class="label">{{$t('中奖金额')}}：</span><span>{{item.winMoney}}</span></div>
            </div>
            <div class="bottom">
              <span>{{item.bettingCode}}</span>
              <span>{{$root.common.getMyDate(item.bettingTime)}}</span>
            </div>
          </div>
        </div>
      </div>
      <div style="text-align: center;color:#ffffff;line-height: 4rem;font-size: 1.8rem;margin-top: 150px;" v-else>
        <van-icon name="todo-list" color="#ffffff" size="50" /><br>{{$t('暂时没有投注记录')}}
      </div>
      <van-calendar v-model="show" type="range" :min-date="new Date(2022,9,1)" :allow-same-day="true" @confirm="onConfirm" color="#001520" />
    </div>
  </div>
</template>

<script>
import '@/assets/css/record.less'
export default {
  name: "detail",
  data(){
    return{
      detailList:[],
      selectList:[],
      totalData:'',
      show:false,
      date:'',
      params:{
        startTime:'',
        endTime:'',
        type:0,
        page:1,
      },
      sportTypeList:[1,2],
      typeList:[1,2,3,4],
      sportCode:'hgty',
    }
  },
  created() {
    this.params.startTime = this.formatDate(new Date()) + ' 00:00:00'
    this.params.endTime = this.formatDate(new Date()) + ' 23:59:59'
    this.getSelectList()
    this.accountChangeRecord()
  },
  methods:{
    setType(){
      let item = JSON.parse(this.$refs.sel.value)
      this.sportCode = item.playCode
      if(this.sportCode == 'hgty'){
        try {
          this.params.sportType = this.$refs.sel2.value
          this.params.recordType = this.$refs.sel3.value
        } catch (e){
          this.params.sportType = 1
          this.params.recordType = 1
        }
      } else {
        this.params.sportType = 0
        this.params.recordType = 1
        this.params.type = item.type
      }
      this.accountChangeRecord()
    },
    accountChangeRecord(){
      this.detailList = []
      this.$post(this.sportCode == 'hgty' ? 'native/getOrderData.do' :'native/sportsrecord.do',this.params,true).then(res=>{
        this.totalData = res.aggsData
        this.detailList = res.rows
      })
    },
    getSelectList(){
      this.selectList = []
      this.$post('native/getDatasBesidesLotterys.do',{code:0},true).then(res=>{
        this.selectList = res.content
      })
    },
    getSportDetailsById(id){
      let param = {
        id:id
      }
      this.$post('native/getSportDetailsById.do',param,true).then(res=>{
        window.open(res.data.Url)
      })
    },
    onConfirm(date){
      const [start, end] = date;
      this.show = false;
      this.date = `${this.formatDate(start)} ~ ${this.formatDate(end)}`;
      this.params.startTime = this.formatDate(start) + ' 00:00:00'
      this.params.endTime = this.formatDate(end) + ' 23:59:59'
      this.accountChangeRecord()
    },
    formatDate(date) {
      return `${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()}`;
    },
    statusFilter(type){
      switch (type) {
        case 1:
          return this.$t('全部');
        case 2:
          return this.$t('已开奖');
        case 3:
          return this.$t('未开奖');
        case 4:
          return this.$t('未成功');
      }
    },
    getBetStatus(row){
      if(row.bettingStatus == 3 || row.bettingStatus == 4){
        return this.$t('系统取消');
      }
      if(row.balance == 1){
        return this.$t('等待开奖');
      }
      if(row.balance == 4){
        return this.$t('赛事腰斩');
      }
      if(row.balance == 2 || row.balance == 5 || row.balance == 6){
        if(row.bettingResult > 0){
          return this.$t('赢');
        } else {
          return this.$t('输');
        }
      }
    },
    sportStatusFilter(type){
      switch (type) {
        case 0:
          return this.$t('所有球种');
        case 1:
          return this.$t('足球');
        case 2:
          return this.$t('篮球');
      }
    },
    //1:滚球   2:今日  3:早盘
    gameTimeTypeHelp(p){
      switch (p) {
        case 1:
          return this.$t('滚球');
        case 2:
          return this.$t('今日');
        case 3:
          return this.$t('早盘');
        default:
          return this.$t('其他')
      }
    },
    //H:亚洲盘  I:印尼盘 E:欧洲盘 M:马来西亚盘
    plateHelp(p){
      switch (p) {
        case 'H':
          return this.$t('亚洲盘');
        case 'I':
          return this.$t('印尼盘');
        case 'E':
          return this.$t('欧洲盘');
        case 'M':
          return this.$t('马来西亚盘');
        default:
          return this.$t('其他')
      }
    },
    getSportName(type){
      switch (type) {
        case 1:
          return this.$t('足球');
        case 2:
          return this.$t('篮球');
        default:
          return this.$t('其他')
      }
    },
    getBettingStatus(order){
      var value = order.bettingStatus;
      switch (value) {
        case 1:
          return this.$t('待确认');
        case 2:
          return this.$t('已确认');
        case 3:
          return order.statusRemark || '';
        case 4:
          return this.$t('取消');
        default:
          return this.$t('其他')
      }
    },
    getlbcStatus(row){
      switch (row.resStatus){
        case 1:
          return this.$t('未结算');
        case 2:
          return this.$t('全赢');
        case 3:
          return this.$t('全输');
        case 4:
          return this.$t('赢一半');
        case 5:
          return this.$t('输一半');
        case 6:
          return this.$t('和局');
        case 10:
          return this.$t('已撤单');
      }
    },
  },
}
</script>

<style scoped>

</style>