
@charset "utf-8";
/* CSS Document */

* {
	margin: 0;
	padding: 0;
}
html,body{
	min-width: 1100px;
}
@font-face {
	/* font-family: myFirstFont;
	src: url('../fonts/pingfang.ttf'); */
	/* IE9+ */
	/* font-family: myFirstFont2;
	src: url('../fonts/pfmd.ttf');
	font-family: myFirstFont3;
	src: url('../fonts/pfbd.ttf'); */
}

html,
body,
div,
span,
iframe,
map,
font,
img,
a img,
samp,
strong,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
b,
p,
blockquote,
a,
address,
code,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
table,
tr,
td,
th {
	padding: 0;
	margin: 0;
	border: 0;
	font-weight: normal;
	/* font-family: 'myFirstFont', Arial, Helvetica, sans-serif; */
}

ol,
ul {
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
}
a{
	cursor: pointer;
}
a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:active {
	text-decoration: none;
}

input,
select {
	font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif;
}

i {
	font-style: normal;
}

a {
	blr: expression(this.onFocus=this.blur());
}

a:focus {
	outline: none;
}

a.hidefocus {
	outline: none
}

.fl {
	float: left;
}

.fr {
	float: right;
}

input[type=text],
input[type=submit],
input[type=button] {
	-webkit-appearance: none;
	/*去除iPhone input默认样式}*/
}

input {
	outline: none
}

.clearfix:after,.clearfix::before {
	display: block;
	content: "";
	clear: both;
	height: 0;
	overflow: hidden;

}

.clearfix {
	zoom: 1;
}
.hide{
	display: none;
}
img {
	width: 100%;
	display: block;
}

body {
	/* min-width: 320px;
	max-width: 750px; */
	position: relative;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	/* color: var(--f_c_all_a); */
	font: 14px/1.5 BoxedLight,PingFang SC,Microsoft YaHei light,WenQuanYi Micro Hei,sans-serif;
}

.clear {
	clear: both;
}

.dispflex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.dispflex-l {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
:root{
	--f_c_all_l:#f9c57a;
	--f_c_all_a:#d5a55f;
}
.yellow{color: #d27113 !important;}
.red{color: red !important;}
.green{color: green !important;}
.back-yellow{background-color: #d27113 !important;}
.back-red{background-color: red !important;}
.back-green{background-color: green !important;}

.mbw{margin-bottom: 20px !important;}
.mrm{margin-right: 10px !important;}
.mrw{margin-right: 20px !important;}
.mtw{margin-top: 20px !important;}
.mtw{margin-top: 20px !important;}
.mtm{margin-top: 10px !important;}
.mbv{margin-bottom: 30px !important;}