
@charset "utf-8";

body {
	background: url(../images/back.jpg) #e9eff3 no-repeat top 90px center !important;
	background-size: 1920px  !important;
	font-size: 14px;
}

table{
	padding: 0;
	margin: 0;
	border: 1px solid #eeeeee;
	border-collapse: collapse;
	width: 100%;
}
table th,table td{
	padding: 8px;
	margin: 0;
	border: 1px solid #eeeeee;
}
table th{
	line-height:1.8;
	font-size: 18px;
	color: #ae895a;
	background-color: #f2f2f2;
	font-weight: 700;
}
table td img{
	width:32%;
	height: auto;
	margin: 0 auto;
}
table tr:nth-child(odd){
	background-color: #f8f8f8;
}

/* --------------js-start-------------- */
/* 2x */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),only screen and (min--moz-device-pixel-ratio: 1.5),only screen and (-o-min-device-pixel-ratio: 3/2),only screen and (min-device-pixel-ratio: 1.5),only screen and (min-resolution: 192dpi) {
	body {
		background: url(../images/back.jpg) #e9eff3 no-repeat top center !important;
		background-size: 1920px auto !important;
	}
}

/* 1x */
.headw{
	width: 1100px;
	height: 105px;
	margin: 0 auto;
	text-align: center;
	position: relative;
}
.headw .dimg,.headw .dimg img{
	width: auto;
	height: 100%;
	margin: 0 auto;
}
.headw .pptxticon{
	width: 320px;
	height: auto;
	position: absolute;
	top: 26px;
	right: 10px;
	z-index: 5;
}
.headw .pptxticon img{
	width: 100%;
	height: auto;
}
.banner{
	width: 1100px;
	height: 0;
	padding-top: 600px;
	margin: 40px auto 100px auto;
}

.banner .anwrapp{
	width: 1100px;
	height: 307px;
	margin: 60px auto 0;
	position: relative;
}
.banner .anwrapp img{
	width: 100%;
	height: auto;
	position: absolute;
}
.banner .btnws a.all{
	height: 48px;
	background: rgba(255,255,255,.5);
	border: 1px solid #e8f5fd;
	padding: 5px 18px;
	border-radius: 4px;
	/* width: 17%; */
	box-sizing: border-box;
	color: #000000;
}
.banner .btnws a.all img{
	width: auto;
	height: 84%;
	display: block;
}

.banner .btnws a.goh5{
	height: 76px;
}
.banner .btnws a.goh5 img{
	width: auto;
	height: 100%;
	display: block;
}

.banner .btnws{
	width: 72%;
	height: auto;
	margin: 0 auto;
}
.banner .btnws .goweb{
	margin-left: 12px;
}
.banner .btnws .gobtnlistw{
	width: 416px;
	height: auto;
	margin-top: 20px;
}
.banner .btnws .gobtnlistw a{
	display: inline-block;
	float: left;
	margin-right: 14px;
	margin-bottom: 14px;
	width: 193px;
	height: auto;
}
.banner .btnws .gobtnlistw a:hover{
	box-shadow: 6px 12px 12px 0 rgba(54,66,106,.1);
}
.citem-w-all{
	width: 1100px;
	margin-left: auto;
	margin-right: auto;
}
.citem-1{
	margin-bottom: 30px;
	border-radius: 10px;
	box-shadow: 6px 12px 12px 0 rgba(54,66,106,.1);
	background-color: rgba(255,255,255,0.5);
}
.citem-1 img{
	width: 100%;
	height: auto;
}
.citem-2{
	/* margin-top: 20px; */
}
.citem-2 li{
	margin-right:20px;
	width: 166px;
	height: auto;
	float: left;
	padding: 14px;
	background: rgba(255,255,255,.5);
	box-sizing: border-box;
	border-radius: 10px;
	/* border:1px solid #dfe6ec; */
	box-shadow: 6px 12px 12px 0 rgba(54,66,106,.1);
}
.citem-2 li:nth-last-child(1){
	margin-right: 0;
}
.citem-2 li img{
	width: 100%;
	height: auto;
}
.citem-2 li .txt{
	font-size: 14px;
	color: #999;
	text-align: center;
	line-height: 38px;
	/* border-bottom: 1px solid #eee; */
}
.citem-2 li a{
	display: block;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	background-color: #e6ebf0;
	border-radius: 2px;
	color: #000;
}
.citem-2 li a:hover{
	background-color: #32a6fe;
	color: #FFFFFF;
}
.citem-3{
	margin-bottom: 30px;
}
.citem-3 img{
	width: 18%;
	height: auto;
}
.citem-3 .ctxt{
	width: 76%;
	text-align: left;
	color: #333333;
}
.citem-3 .ctxt span{
	margin-left: 6px;
	font-size: 12px;
}
.citem-3 a{
	width: 19%;
	text-align: center;
	background-color: rgba(255,255,255,.5);
	/* border:1px solid #EEEEEE; */
	padding: 5px 14px;
	box-sizing: border-box;
	line-height: 46px;
	height: 46px;
	border-radius: 5px;
	box-shadow: 6px 12px 12px 0 rgba(54,66,106,.1);
}
.wtitall{
	position: relative;
	text-align: center;
	height: 28px;
	line-height: 28px;
}
.wtitall .tit{
	position: absolute;
	top: 0;
	left: 50%;
	width: 160px;
	font-size: 20px;
	margin-left: -80px;
	/* background-color: #e9eff3; */
	z-index: 2;
	color: #6e758b;
}
.wtitall span.linebor{
	position: absolute;
	display: block;
	width: 50%;
	height: 3px;
	top: 14px;
	left: 50%;
	margin-left: -25%;
	z-index: 1;
	background: url(../images/btback.png) no-repeat center;
}
/*  */
.footer {
	width: 100%;
	height: auto;
	/*background: #ffffff;*/
}

.footer .han1w {
	width: 100%;
	height: 22px;
	font-size: 14px;
	color: #878EA6;
	line-height: 22px;
	border-bottom: 1px solid #363A45;
	text-align: center;
	padding: 20px 0;
	margin: 0 auto;
}

.footer .han1w a {
	color: #878EA6;
}

.footer .han2w {
	width: 100%;
	height: 43px;
	padding: 12px 0;
	margin: 0 auto;
	opacity: .55;
}
.footer .han2w:hover{
	opacity: 1;
}
.footer .han2w img {
	width: 1100px;
	height: auto;
	display: block;
	margin: 0 auto;
}
.footer .paizhao img{
	width: 200px;
	height: auto;
}
.footer .wrapp-h2{
	background-color: #f1f3f8;
}
.footer .paizhao{
	width: 1000px;
	margin: 20px auto;
}
.footer .banquan {
	width: 100%;
	line-height: 26px;
	font-size: 14px;
	color: #a6abbd;
	text-align: center;
	padding: 8px 0;
}
.footer .han3w {
	width: 100%;
	height: 20px;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	background: #006bff;
	color: #ffffff;
	padding: 8px 0;
}

.goTop {
	width: 66px;
	height: 66px;
	position: fixed;
	right: 50px;
	bottom: 200px;
	cursor: pointer;
}

.goTop img {
	width: 100%;
	height: auto;
	opacity: 0.65;
}


.goodBox .swiper-slide {
	background-position: center;
	background-size: cover;
	width: 459px;
	height: 260px;
}
.goodBox .swiper-slide img{
	width: 100%;
}
.pos{
	position: relative;
}
.pagination {
    position: absolute;
    left: 0;
    text-align: center;
    bottom: 5px;
    width: 100%;
	z-index: 10;
}
.contLine{
	height: 45px;
}

/*new foot*/
.footer-calBx {
	/*background:#414655;*/
	color:#878ea6;
	width:100%;
	text-align:center;
	position:relative;
	line-height:1
}
.footer-top-zQO7f {
	width:1100px;
	height:81px;
	display:flex;
	justify-content:space-between;
	align-items:center;
	/*border-bottom:1px solid #2f3842;*/
	border-bottom:1px rgba(113,128,153,.2) solid;
	padding:15px 0;
	margin:0 auto
}
.footer-top-icon-gUCta {
	height:38px;
	width:auto;
	position:relative;
	cursor:pointer
}
.footer-top-icon-gUCta div {
	position:relative;
	width:100%;
	height:100%
}
.footer-top-icon-gUCta>div:nth-child(2) {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	opacity:0;
	transition:.4s;
	transform:translateZ(0);
	cursor:inherit
}
.footer-top-icon-gUCta:hover>div:nth-child(2) {
	opacity:1
}
.footer-top-zQO7f:before {
	content:"";
	position:absolute;
	bottom:-2px;
	left:0;
	width:100%;
	height:1px;
	background:rgba(113,128,153,.2)
}
.footer-top-zQO7f img {
	position:relative!important;
	width:auto!important;
	height:38px!important;
	max-width:inherit!important
}
.footer-top-zQO7f img:hover {
	filter:grayscale(0)
}
.footer-explanat-J32pT {
	display:flex;
	justify-content:center;
	flex-direction:column;
	line-height:1.7;
	text-align:center;
	padding:0 130px;
	margin-top:18px;
	font-size:14px;
	color:#878ea6
}
.footer-sponsor-krazv {
	display:flex;
	justify-content:space-around;
	align-items:center;
	width:1100px;
	margin:20px auto 0px;
	padding-bottom:10px;
	cursor:pointer;
	/*border-bottom:1px solid #3b4452;*/
	border-bottom:1px rgba(113,128,153,.1) solid;
	position:relative;
	line-height:24px;
}
.footer-sponsor-item-swVo8 {
	height:68px;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:space-between;
	cursor:pointer;
	font-size:16px;
	margin:0 10px
}
.footer-sponsor-item-icon-q6ecC {
	width:165px;
	height:34px;
	position:relative
}
.footer-sponsor-item-icon-q6ecC img {
	width:100%;
	height:100%;
	position:relative
}
.footer-sponsor-item-icon-q6ecC>img:nth-child(2) {
	position:absolute;
	top:0;
	left:0;
	height:100%;
	opacity:0;
	transition:.4s;
	transform:translateZ(0);
	cursor:inherit
}
.footer-sponsor-item-swVo8:nth-child(2)>div {
	width:171px;
	height:41px
}
.footer-sponsor-item-swVo8:nth-child(3)>div {
	width:138px;
	height:41px
}
.footer-sponsor-item-swVo8 P {
	font-size:14px;
	color:#878ea6;
	transition:all .4s ease;
	margin-top:5px
}
.footer-sponsor-item-swVo8:hover p {
	/*color:#fff*/
}
.footer-sponsor-item-swVo8:hover>div img:nth-child(2) {
	opacity:1
}
.footer-sponsor-krazv p {
	margin-bottom:0
}
.footer-license-htHsZ {
	display:flex;
	height:100%;
	justify-content:space-between;
	margin-bottom:16px
}
.footer-license-item-FZoiD {
	display:flex;
	align-items:center;
	cursor:pointer;
	transition:color .3s;
	padding-left:30px;
	flex-direction:column
}
.footer-license-item-icon-f4Ftl {
	width:auto;
	height:38px;
	margin-right:8px
}
.footer-license-item-text-HbXqr {
	font-size:13px;
	line-height:1.3
}
.footer-license-text-s5O9G {
	font-size:14px;
	line-height:20px
}
.footer-link-Qra_O {
	display:flex;
	justify-content:center;
	line-height:50px;
}
.footer-link-item-wanRy a{
	cursor:pointer;
	transition:color .3s;
	color:#b1bccc;
	font-size:14px;
	display:flex;
	align-items:center
}
.footer-link-item-wanRy:last-child a:after {
	display:none
}
.footer-link-item-wanRy a:after {
	content:"";
	background:#7e8795;
	border-radius:8px;
	height:14px;
	width:1px;
	margin:0 15px
}
.footer-link-item-wanRy a:hover {
	color:#878ea6
}
.footer-copyright-QG4XL {
	width:100%;
	height:40px;
	margin-top:30px;
	font-size:14px;
	line-height:40px;
	color:#98a3b1;
	text-align:center
}