<template>
    <div class="mode" >
        <div class="sscCheckNumber">
            <ul v-if="lotteryTemplateType == 1">
                <li v-for="(item, index) in sonData.templateList" :key="index">
                    <div class="selectNormal">
                        <span class="buyNumberTitle">{{item.name}}<i></i></span>
                        <div class="buyNumber">
                            <div @click="addCartDirect(index,index2)" v-for="(list, index2) in sonData.templateList[index].oddPlayItems" :key="index2" style="display: inline-block;text-align: center;">
                                <a style="margin: 13px 5px 0 5px;display: block;" :class="{active:list.isActive}">{{list.name}}</a>
                                <el-tag size="mini" type="info">{{list.odds}}</el-tag>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <ul  v-else-if="lotteryTemplateType == 2">
                <li v-for="(item, index) in sonData.templateList" :key="index">
                    <div class="selectNormal">
                        <span class="buyNumberTitle">{{item.name}}<i></i></span>
                        <div class="buyNumber" style="text-align: left;margin: 0 0 0 40px;">
                            <div style="display: inline-block;text-align: center;" @click="addCart(index,index2)" v-for="(list, index2) in sonData.templateList[index].oddPlayItems" :key="index2">
                                <a style="margin: 13px 5px 0 5px;width: 80px;border-radius:5px;display: block;" :class="{active:list.isActive}">{{list.name}} </a>
                                <el-tag size="mini" type="info">{{list.odds}}</el-tag>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    import $ from  'jquery'
    import lotteryHtml from '@/assets/json/lotteryTemplate/lhc.json'
    export default {
        name: "official",
        props:['sonData','params','lottery'],
        data(){
            return{
                lotteryTemplateType:1,
            }
        },
        created:function(){
            this.showTemplate()
        },
        mounted:function(){
        },
        watch: { },
        methods:{
            // 选中号码
            addCart:function(index,index2){
                this.$parent.addCart(index,index2)
                this.$forceUpdate()
            },
            // 组选选中号码
            addCartDirect:function(index,index2){
                this.$parent.addCartDirect2(index,index2)
                this.$forceUpdate()
            },
            // 给小于10的号码加零
            addZero:function(num,three){
                if(three){
                    num<10? num = '0'+ num: num = ''+num;
                    num<100? num = '0'+ num: num = ''+num;
                } else {
                    num<10? num = '0'+ num: num = ''+num;
                }
                return num;
            },
            // 判断当前年份生肖
            getAnimal:function(year){
                let animals = ["猴","鸡","狗","猪","鼠","牛","虎","兔","龙","蛇","马","羊"],index = 0;
                let timeArr = '2021-02-11:23:59:59'.replace(/-/g,':').split(':')
                let time = new Date(timeArr[0],(timeArr[1]-1),timeArr[2],timeArr[3],timeArr[4],timeArr[5]).getTime()
                if (new Date().getTime() >= time){
                 index = year % 12
                }else {
                  index = year % 12 -1
                }
                return animals[index]
            },
            // 填充json数据
            showTemplate:function () {
                let that = this
                let data = lotteryHtml.data
                for(let i in data){
                    if(data[i].playName == this.params.sonCode){
                        that.sonData.templateList = data[i].data
                        // 获取当前玩法数据
                        $.each(this.lottery.rules, function (index, item) {
                            $.each(item.rules, function (index2, item2) {
                                if(item2.code == that.params.sonCode){
                                    that.sonData.thatPlayType = item.rules
                                }
                            })
                        })
                        // 填充玩法数据
                        $.each(that.sonData.thatPlayType, function (index, item) {
                            if(item.code == that.params.sonCode){
                                let dxdzzh = '' ,list = [];
                                switch (that.params.sonCode) {
                                    case 'tm_a':
                                    case 'zm_a':
                                    case 'zm_b':
                                        that.lotteryTemplateType = 2
                                        list = [];
                                        dxdzzh = item.oddPlayItems.slice(0, 49)
                                        // 填充数字
                                        for (let i = 0; i < dxdzzh.length; i++) {
                                            let obj = dxdzzh[i];
                                            let newobj = [];
                                            for (let k in obj) {
                                                newobj[k] = obj[k]
                                            }
                                            newobj.name = dxdzzh[i].name;
                                            newobj.classify = dxdzzh[i].name;
                                            list.push(newobj)
                                        }
                                        that.sonData.templateList[0].oddPlayItems = list
                                        list = [];
                                        dxdzzh = item.oddPlayItems.slice(49)
                                        // 填充其他
                                        for (let i = 0; i < dxdzzh.length; i++) {
                                            let obj = dxdzzh[i];
                                            let newobj = [];
                                            for (let k in obj) {
                                                newobj[k] = obj[k]
                                            }
                                            newobj.name = dxdzzh[i].name;
                                            newobj.classify = dxdzzh[i].name;
                                            list.push(newobj)
                                        }
                                        that.sonData.templateList[1].oddPlayItems = list
                                        break;
                                    case 'tm_b':
                                    case 'z1t':
                                    case 'z2t':
                                    case 'z3t':
                                    case 'z4t':
                                    case 'z5t':
                                    case 'z6t':
                                    case 'bb':
                                        that.lotteryTemplateType = 2
                                        list = [];
                                        dxdzzh = item.oddPlayItems
                                        // 填充数字
                                        for (let i = 0; i < dxdzzh.length; i++) {
                                            let obj = dxdzzh[i];
                                            let newobj = [];
                                            for (let k in obj) {
                                                newobj[k] = obj[k]
                                            }
                                            newobj.name = dxdzzh[i].name;
                                            newobj.classify = dxdzzh[i].name;
                                            list.push(newobj)
                                        }
                                        that.sonData.templateList[0].oddPlayItems = list
                                        break;
                                    case 'zm16':
                                        that.lotteryTemplateType = 2
                                        dxdzzh = item.oddPlayItems
                                        for(let n in that.sonData.templateList) {
                                            list = [];
                                            // 填充数字
                                            for (let i = 0; i < dxdzzh.length; i++) {
                                                let obj = dxdzzh[i];
                                                let newobj = [];
                                                for (let k in obj) {
                                                    newobj[k] = obj[k]
                                                }
                                                newobj.name = dxdzzh[i].name;
                                                newobj.classify = that.sonData.templateList[n].name + '--' + dxdzzh[i].name;
                                                list.push(newobj)
                                            }
                                            that.sonData.templateList[n].oddPlayItems = list
                                        }
                                        break;
                                    case 'eqz':
                                    case 'ezt':
                                    case 'sqz':
                                    case 'szy':
                                    case 'szezzs':
                                    case 'szes':
                                    case 'szezze':
                                    case 'eztzzt':
                                    case 'eztzze':
                                    case 'tc':
                                    case 'siqz':
                                    case 'w_bz':
                                    case 'liu_bz':
                                    case 'qi_bz':
                                    case 'ba_bz':
                                    case 'jiu_bz':
                                    case 'shi_bz':
                                    case 'shiy_bz':
                                    case 'shie_bz':
                                        that.lotteryTemplateType = 1
                                        dxdzzh = item.oddPlayItems[0]
                                        for(let n in that.sonData.templateList) {
                                            list = [];
                                            // 填充数字
                                            for (let i = 1; i < 50; i++) {
                                                let obj = dxdzzh;
                                                let newobj = [];
                                                for (let k in obj) {
                                                    newobj[k] = obj[k]
                                                }
                                                newobj.name = that.addZero(i);
                                                newobj.classify = that.addZero(i);
                                                list.push(newobj)
                                            }
                                            that.sonData.templateList[n].oddPlayItems = list
                                        }
                                        break;
                                    case 'ztxztw':
                                        that.lotteryTemplateType = 2
                                        list = [];
                                        dxdzzh = ['鼠','牛','虎','兔','龙','蛇','马','羊','猴','鸡','狗','猪']
                                        // 填充数字
                                        for (let i = 0; i < dxdzzh.length; i++) {
                                            let obj = ''
                                            if(dxdzzh[i] == that.getAnimal(new Date().getFullYear())){
                                                obj = item.oddPlayItems[1];
                                            } else {
                                                obj = item.oddPlayItems[0];
                                            }
                                            let newobj = [];
                                            for (let k in obj) {
                                                newobj[k] = obj[k]
                                            }
                                            newobj.name = dxdzzh[i];
                                            newobj.classify = dxdzzh[i];
                                            list.push(newobj)
                                        }
                                        that.sonData.templateList[0].oddPlayItems = list
                                        list = [];
                                        // 填充其他
                                        for (let i = 0; i < 10; i++) {
                                            let obj = ''
                                            if(i == 0){
                                                obj = item.oddPlayItems[2];
                                            } else {
                                                obj = item.oddPlayItems[3];
                                            }
                                            let newobj = [];
                                            for (let k in obj) {
                                                newobj[k] = obj[k]
                                            }
                                            newobj.name = i + '尾';
                                            newobj.classify = i + '尾';
                                            list.push(newobj)
                                        }
                                        that.sonData.templateList[1].oddPlayItems = list
                                        break;
                                    case 'txsm':
                                    case 'hx_ex':
                                    case 'hx_sanx':
                                    case 'hx_six':
                                    case 'hx_wux':
                                    case 'hx_liux':
                                    case 'hx_qix':
                                    case 'hx_bax':
                                    case 'hx_jiux':
                                    case 'hx_shix':
                                    case 'hx_syx':
                                    case 'erx_lz':
                                    case 'sanx_lz':
                                    case 'six_lz':
                                    case 'wux_lz':
                                    case 'erx_lbz':
                                    case 'sanx_lbz':
                                    case 'six_lbz':
                                        if(item.code == 'txsm'){
                                            that.lotteryTemplateType = 2
                                        } else {
                                            that.lotteryTemplateType = 1
                                        }
                                        list = [];
                                        dxdzzh = ['鼠','牛','虎','兔','龙','蛇','马','羊','猴','鸡','狗','猪']
                                        // 填充数字
                                        for (let i = 0; i < dxdzzh.length; i++) {
                                            let obj = ''
                                            if(dxdzzh[i] == that.getAnimal(new Date().getFullYear())){
                                                obj = item.oddPlayItems[1];
                                            } else {
                                                obj = item.oddPlayItems[0];
                                            }
                                            let newobj = [];
                                            for (let k in obj) {
                                                newobj[k] = obj[k]
                                            }
                                            newobj.name = dxdzzh[i];
                                            newobj.classify = dxdzzh[i];
                                            list.push(newobj)
                                        }
                                        that.sonData.templateList[0].oddPlayItems = list
                                        break;
                                    case 'erw_lz':
                                    case 'sanw_lz':
                                    case 'siw_lz':
                                    case 'erw_lbz':
                                    case 'sanw_lbz':
                                    case 'siw_lbz':
                                        that.lotteryTemplateType = 1
                                        list = [];
                                        // 填充数字
                                        for (let i = 0; i < 10; i++) {
                                            let obj = ''
                                            if(i == 0){
                                                obj = item.oddPlayItems[1];
                                            } else {
                                                obj = item.oddPlayItems[0];
                                            }
                                            let newobj = [];
                                            for (let k in obj) {
                                                newobj[k] = obj[k]
                                            }
                                            newobj.name = i + '尾';
                                            newobj.classify = i + '尾';
                                            list.push(newobj)
                                        }
                                        that.sonData.templateList[0].oddPlayItems = list
                                        break;
                                }
                            }
                        })
                    }
                }
            },
        }
    }
</script>

<style scoped>

</style>