<template>
  <div class="egame_record">
    <personal_header @get_lottery_order="getRecord_egame" :headerData="headerData"></personal_header>
    <div class="content">
      <div class="content-card" v-if="egameData.aggsData">
        <div class="c-c-item">
          <em>投注</em>
          <p style="color: red;">{{egameData.aggsData.bettingMoneyCount || 0.00}}</p>
        </div>
        <div class="c-c-item">
          <em>有效投注</em>
          <p style="color: red;">{{egameData.aggsData.realBettingMoneyCount || 0.00}}</p>
        </div>
        <div class="c-c-item">
          <em>中奖</em>
          <p style="color: #00aa00;">{{egameData.aggsData.winMoneyCount || 0.00}}</p>
        </div>
        <div class="c-c-item">
          <em>盈利</em>
          <p style="color: red;">{{ isNaN(egameData.aggsData.winMoneyCount - egameData.aggsData.realBettingMoneyCount) ? 0.00 : (egameData.aggsData.winMoneyCount - egameData.aggsData.realBettingMoneyCount).toFixed(2) || 0.00}}</p>
        </div>
      </div>
      <div class="content-list" v-if="egameList.length > 0">
        <van-pull-refresh v-model="refreshing" @refresh="onRefresh" >
          <van-list v-model="loading" :finished="finished" finished-text="没有更多了" @load="getRecord_egame" :offset="50">
            <div class="list-wrap" v-for="(item,index) in egameList" :key="index" @click="getRecord_egameDetail(item)">
              <a href="javascript:void(0)">
                <p>
                  <span>彩种: <em>{{item.gameType}}</em></span><span>投注金额: <em class="red">{{item.bettingMoney}}</em>元</span>
                </p>
                <p><span>时间：<em>{{$root.common.getMyDate(item.bettingTime,1)}}</em></span>
                  <span>盈亏：<em>{{item.winMoney}}</em></span>
                </p>
              </a>
            </div>
          </van-list>
        </van-pull-refresh>
      </div>
      <div style="text-align: center;background: #efeff4;line-height: 4rem;font-size: 1.8rem" v-else>
        暂时没有投注记录
      </div>
      <van-popup v-model="detailStatus" position="bottom" :style="{ height: '100%','z-index':3001 }" @click="detailStatus = false" class="content-list-detail"  >
        <div class="detail-title" style="position: relative;z-index: 3001;">
          <div class="title">订单详情</div>
          <div class="close" @click="detailStatus = false">关闭</div>
        </div>
        <div class="reclrd-code">
          <span>订单号：<em>{{detailsData.bettingCode}}</em></span>
        </div>
        <div class="detail-content">
          <table  border="0" cellpadding="0" cellspacing="0" >
            <tbody>
            <tr>
              <td class="bttd"> 账号 </td>
              <td>{{detailsData.account}}</td>
            </tr>
            <tr>
              <td class="bttd">下注时间</td>
              <td>{{$root.common.getMyDate(detailsData.bettingTime)}}</td>
            </tr>
            <tr>
              <td class="bttd">游戏名称</td>
              <td>{{detailsData.gameType}}</td>
            </tr>
            <tr>
              <td class="bttd">局号</td>
              <td>{{detailsData.gameCode}}</td>
            </tr>
            <tr>
              <td class="bttd">投注金额</td>
              <td>{{detailsData.bettingMoney }}</td>
            </tr>
            <tr>
              <td class="bttd">有效投注</td>
              <td>{{detailsData.realBettingMoney}}</td>
            </tr>
            <tr>
              <td class="bttd">下注内容</td>
              <td>{{detailsData.bettingContent}}</td>
            </tr>
            <tr>
              <td class="bttd">中奖</td>
              <td>{{detailsData.winMoney}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </van-popup>
    </div>
  </div>
</template>

<script>
import '@/assets/css/center/egame_record.less'
import personal_header from '@/components/include/personal_header'
import {Dialog, Toast} from "vant";
export default {
  name: "egame_record",
  components:{
    personal_header
  },
  data(){
    return{
      headerData:{title:'电子投注记录',filter:'isDzOnOff',popupHeight:'18.4rem'},
      egameList:[], //棋牌数据
      egameData:{},//全部数据
      detailsData:{},//棋牌详细数据
      params:{
        startTime:'',
        endTime:'',
        type:'',
        page:0,
        rows:9,
      },
      detailStatus:false,
      refreshing:false, //是否处于加载状态
      loading:false, //是否处于架子啊状态，加载过程中不触发load 事件
      finished:false,//是否已加载完成，加载完成不在触发,这里是改变text
    }
  },
  created() {

  },
  methods:{
    //查询投注记录
    getRecord_egame(arg=''){
      if (arg){
        this.params.endTime = arg.endTime
        this.params.startTime = arg.startTime
        this.params.type = arg.egameRecord
        this.egameList = []
        this.finished = false;
        this.loading = true;
        this.params.page  = 0
      }
      this.params.page ++
      this.$post('native/egamerecord.do',this.params,true).then(res=>{
        if ('isLogin' in res && res.isLogin == false){
          Dialog.alert({
            title: '登陆提示',
            message: res.msg
          }).then(() => {
            this.$router.push({
              path: '/login',
            })
          });
          return
        }
        if ('success' in res && res.success ==  false){
          Toast.success(res.msg);
          return
        }
        if (this.refreshing){
          this.egameList = []
          this.refreshing = false
        }

        this.egameList = [...this.egameList,...res.rows]
        this.egameData = res

        this.loading = false
        if (res.total <= (parseInt(this.params.page) * parseInt(this.params.rows))){
          this.finished = true
        }
      })
    },
    //清空数据
    onRefresh(){
      this.finished = false;
      this.loading = true;
      this.params.page = 0
      this.getRecord_egame();
    },
    //查询详细记录
    getRecord_egameDetail(item){
      this.detailsData = item
      this.detailStatus = true
    }
  }
}
</script>

<style scoped>

</style>