<template>
  <div class="lottery_record">
    <personal_header @get_lottery_order="get_lottery_order"></personal_header>
    <div class="content">
      <div class="content-card">
        <div class="c-c-item">
          <em>投注</em>
          <p style="color: red;">{{lotteryData.sumBuyMoney || 0}}</p>
        </div>
        <div class="c-c-item">
          <em>中奖</em>
          <p style="color: #00aa00;">{{lotteryData.sumWinMoney || 0}}</p>
        </div>
        <div class="c-c-item">
          <em>盈利</em>
          <p style="color: red;">{{ (lotteryData.sumWinMoney - lotteryData.sumBuyMoney || 0.00).toFixed(2) || 0}}</p>
        </div>
      </div>
      <div class="content-list" v-if="lotteryList.length > 0">
        <van-pull-refresh v-model="refreshing" @refresh="onRefresh" >
          <van-list v-model="loading" :finished="finished" finished-text="没有更多了" @load="get_lottery_order" :offset="50">
            <div class="list-wrap" v-for="(item,index) in lotteryList" :key="index" @click="getBcLotteryOrderDetail(item)">
              <a href="javascript:void(0)">
                <p>
                  <span>彩种: <em>{{item.lotName}}</em></span><span>投注金额: <em class="red">{{item.buyMoney}}</em>元</span>
                </p>
                <p>
                  <span v-if="floder == 'a06615'">号码：<em >{{item.haoMa | winnNumber}}</em></span>
                  <span v-else>号码：<em>{{item.haoMa}}</em></span>
                  <span><em class="red" v-if="item.status == 1  && 'cancel_switch' in lotteryData  && lotteryData.cancel_switch== 'on'" @click="cancel(item.orderId)">撤单</em></span></p>
                <p><span>时间：<em>{{item.createTime}}</em></span>
                  <span style="color:#5cb85c;" v-if="item.status == 2">已中奖</span>
                  <span  class="blue" v-else-if="item.status == 1">未开奖</span>
                  <span style="color: red;" v-else>{{item.status | listStatus}}</span>
                </p>
                <p style="display: inline-block;">期号：<span>{{item.qiHao}}</span></p>
              </a>
            </div>
          </van-list>
        </van-pull-refresh>
      </div>
      <div style="text-align: center;background: #efeff4;line-height: 4rem;font-size: 1.8rem" v-else>
        暂时没有投注记录
      </div>
      <van-popup v-model="detailStatus" position="bottom" :style="{ height: '100%','z-index':3001 }" @click="detailStatus = false" class="content-list-detail"  >
        <div class="detail-title" style="position: relative;z-index: 3001;">
          <div class="title">订单详情</div>
          <div class="close" @click="detailStatus = false">关闭</div>
        </div>
        <div class="reclrd-code">
          <span>订单号：<em>{{detailsData.orderId}}</em></span>
        </div>
        <div class="detail-content">
          <table  border="0" cellpadding="0" cellspacing="0"  >
            <tbody>
              <tr>
                <td class="bttd"> 账号 </td>
                <td>{{detailsData.account}}</td>
                <td class="bttd">单注金额</td>
<!--                <td v-if="detailsData.lotCode == 'LHC' || detailsData.lotCode == 'SFLHC' || detailsData.lotCode == 'TMLHC' || detailsData.lotCode == 'WFLHC' || detailsData.lotCode == 'HKMHLHC'">{{}}</td>-->
                <td style="width: 15%;" >{{ (detailsData.buyMoney/detailsData.model).toFixed(2) }}</td>
              </tr>
              <tr>
                <td class="bttd">下注时间</td>
                <td>{{detailsData.createTime}}</td>
                <td class="bttd">投注注数</td>
                <td>{{detailsData.buyZhuShu}}</td>
              </tr>
              <tr>
                <td class="bttd">彩种</td>
                <td>{{detailsData.lotName}}</td>
                <td class="bttd">倍数</td>
                <td>{{detailsData.multiple }}</td>
              </tr>
              <tr>
                <td class="bttd">期号</td>
                <td>{{detailsData.qiHao}}</td>
                <td class="bttd">投注总额</td>
                <td>{{detailsData.buyMoney}}</td>
              </tr>
              <tr>
                <td class="bttd">玩法</td>
                <td>{{detailsData.playName}}</td>
                <td class="bttd" v-if="detailsData.lotCode == 'LHC' || detailsData.lotCode == 'SFLHC' || detailsData.lotCode == 'TMLHC' || detailsData.lotCode == 'WFLHC' || detailsData.lotCode == 'HKMHLHC'">倍率</td>
                <td class="bttd" v-else>奖金</td>
                <td v-if="detailsData.lotCode == 'LHC' || detailsData.lotCode == 'SFLHC' || detailsData.lotCode == 'TMLHC' || detailsData.lotCode == 'WFLHC' || detailsData.lotCode == 'HKMHLHC'">{{detailsData.peilv ? detailsData.peilv : detailsData.odds}}</td>
                <td v-else>{{detailsData.odds}}</td>
              </tr>
              <tr>
                <td class="bttd">开奖号码</td>
                <td>{{detailsData.lotteryHaoMa}}</td>
                <td class="bttd">中间注数</td>
                <td>{{detailsData.winZhuShu}}</td>
              </tr>
              <tr>
                <td class="bttd">开奖状态</td>
                <td style="color:#5cb85c;" v-if="detailsData.status == 2">已中奖</td>
                <td style="color:#0894ec " v-else-if="detailsData.status == 1">未开奖</td>
                <td style="color:#ec2829 " v-else>{{detailsData.status | listStatus}}</td>
                <td class="bttd">中奖金额</td>
                <td>{{detailsData.winMoney ? detailsData.winMoney : 0.00}}</td>
              </tr>
              <tr v-if="detailsData.winMoney > 0 && detailsData.winZhuShu > 0">
                <td class="bttd">盈亏</td>
                <td colspan="3">{{ (detailsData.winMoney - detailsData.buyMoney).toFixed(2)}}</td>
              </tr>
              <tr>
                <td class="bttd">投注号码</td>
                <td colspan="3" v-if="floder == 'a06615'">{{detailsData.haoMa | winnNumber}}</td>
                <td colspan="3" v-else>{{detailsData.haoMa}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </van-popup>
    </div>
  </div>
</template>

<script>
import '@/assets/css/center/lottery_records.less'
import personal_header  from '@/components/include/personal_header'
import {Dialog, Toast} from 'vant';
export default {
  name: "lottery_record",
  components:{
    personal_header
  },
  data(){
    return{
      params:{
        startTime:'',
        endTime:'',
        code:'',
        status:'',
        page:0,
        rows:6,
        lhc:0
      },
      lotteryList:[],
      lotteryData:{},
      detailsData:{},
      detailStatus:false,
      disabledRef:false,
      refreshing:false, //是否处于加载状态
      loading:false, //是否处于架子啊状态，加载过程中不触发load 事件
      finished:false,//是否已加载完成，加载完成不在触发,这里是改变text
      floder: this.$store.state.stationInfo.content.station.floder || 'x002',
    }
  },
  created() {
    console.log(this.floder)
  },
  mounted() {

  },
  methods:{
    //查询投注记录
    get_lottery_order(arg=''){
      if (arg){
        this.params.endTime = arg.endTime
        this.params.startTime = arg.startTime
        this.params.code = arg.code
        this.params.status = arg.status
        this.params.page = 0
        this.finished = false;
        this.loading = true;
        this.lotteryList = []
      }
      this.params.page ++
      this.$post('native/get_lottery_order.do',this.params,true).then(res=>{
        if ('isLogin' in res && res.isLogin == false){
          Dialog.alert({
            title: '登陆提示',
            message: res.msg
          }).then(() => {
            this.$router.push({
              path: '/login',
            })
          });
          return
        }
        if (this.refreshing){
          this.lotteryList = []
          this.refreshing = false
        }

        this.lotteryList = [...this.lotteryList,...res.page.list]
        this.lotteryData = res

        this.loading = false
        if (res.page.totalCount  <= (parseInt(res.page.currentPageNo) * parseInt(res.page.pageSize))){
          this.finished = true
        }

      })
    },
    //清空数据
    onRefresh(){
      this.finished = false;
      this.loading = true;
      this.params.page = 0
      this.get_lottery_order();
    },
    //撤单
    cancel: function(orderId) {
      this.$post( 'native/cancelOrder.do', {orderId: orderId, lotCode: ''}).then(res=>{
        if(res.success) {
          Toast.success('撤单成功');
        } else {
          // Toast.fail(res.msg);
          Toast.fail('撤单失败,请询问相关客服！');
        }
      })
    },
    //查询详细记录
    getBcLotteryOrderDetail:function (item){
      this.$root.common.loading(true)
      this.$post('lotteryBet/getBcLotteryOrderDetail.do',{orderId:item.orderId,lotCode:item.lotCode},true).then(res=>{
        if (res){
          this.detailsData = res;
          this.detailStatus = true
          this.$root.common.loading(false)
        }
      })
    }
  },
  filters:{
    listStatus:function (status){
      if (status == 1)  return '未开奖';
      if (status == 2) return '已中奖';
      if (status == 4) return '已撤单';
      if (status == 8) return '和局';
      if (status == 3) return '未中奖';
    },
    winnNumber:function (number){
      switch (number){
        case '大':
          return '福';
        case '小':
           return '禄';
        case '单':
          return '寿';
        case '双':
         return '喜';
        default:
          return number
      }
    }
  },
  watch:{

  }

}
</script>

<style scoped >

</style>