<template>
  <div class="lottery_third_record">
    <personal_header @get_lottery_order="getRecord_lottery_record" :headerData="headerData"></personal_header>
    <div class="content">
      <div class="content-card" v-if="lotteryThirdData.aggsData">
        <div class="c-c-item">
          <em>投注</em>
          <p style="color: red;">{{lotteryThirdData.aggsData.bettingMoneyCount || 0.00}}</p>
        </div>
        <div class="c-c-item">
          <em>有效投注</em>
          <p style="color: red;">{{lotteryThirdData.aggsData.realBettingMoneyCount || 0.00}}</p>
        </div>
        <div class="c-c-item">
          <em>中奖</em>
          <p style="color: #00aa00;">{{lotteryThirdData.aggsData.winMoneyCount || 0.00}}</p>
        </div>
        <div class="c-c-item">
          <em>盈利</em>
          <p style="color: red;">{{ isNaN(lotteryThirdData.aggsData.winMoneyCount - lotteryThirdData.aggsData.realBettingMoneyCount) ? 0.00 : (lotteryThirdData.aggsData.winMoneyCount - lotteryThirdData.aggsData.realBettingMoneyCount).toFixed(2) || 0.00}}</p>
        </div>
      </div>
      <div class="content-list" v-if="lotteryThirdList.length > 0">
        <van-pull-refresh v-model="refreshing" @refresh="onRefresh" >
          <van-list v-model="loading" :finished="finished" finished-text="没有更多了" @load="getRecord_lottery_record" :offset="50">
            <div class="list-wrap" v-for="(item,index) in lotteryThirdList" :key="index">
              <a href="javascript:void(0)">
                <p>
                  <span>彩种: <em>{{egameType(item)}}</em></span><span>投注金额: <em class="red">{{item.bettingMoney}}</em>元</span>
                </p>
                <p>
                  <span>{{ (item.type == 3 ? item.tableCode : item.type == 2 ? '' : item.gameTypeCode == 'HUNTER' ? item.playType : '' )+ item.tableCode}}</span>
                </p>
                <p><span>时间：<em>{{$root.common.getMyDate(item.bettingTime,1)}}</em></span>
                  <span>盈亏：<em>{{item.winMoney}}</em></span>
                </p>
              </a>
            </div>
          </van-list>
        </van-pull-refresh>
      </div>
      <div style="text-align: center;background: #efeff4;line-height: 4rem;font-size: 1.8rem" v-else>
        暂时没有投注记录
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/center/live_record.less'
import personal_header from '@/components/include/personal_header'
import {Dialog, Toast} from "vant";
export default {
  name: "lottery_third_record",
  components:{
    personal_header
  },
  data(){
    return{
      headerData:{title:'三方彩票记录',filter:'isTlOnOff',popupHeight:'18.4rem'},
      lotteryThirdList:[], //棋牌数据
      lotteryThirdData:{},//全部数据
      detailsData:{},//棋牌详细数据
      params:{
        startTime:'',
        endTime:'',
        type:'',
        page:0,
        rows:9,
      },
      detailStatus:false,
      refreshing:false, //是否处于加载状态
      loading:false, //是否处于架子啊状态，加载过程中不触发load 事件
      finished:false,//是否已加载完成，加载完成不在触发,这里是改变text
    }
  },
  created() {

  },
  methods:{
    //查询投注记录
    getRecord_lottery_record(arg=''){
      if (arg){
        this.params.endTime = arg.endTime
        this.params.startTime = arg.startTime
        this.params.type = arg.letteryThird
        this.lotteryThirdList = []
        this.finished = false;
        this.loading = true;
        this.params.page  = 0
      }
      this.params.page ++
      this.$post('native/thirdlotteryrecord.do',this.params,true).then(res=>{
        if ('isLogin' in res && res.isLogin == false){
          Dialog.alert({
            title: '登陆提示',
            message: res.msg
          }).then(() => {
            this.$router.push({
              path: '/login',
            })
          });
          return
        }
        if ('success' in res && res.success ==  false){
          Toast.success(res.msg);
          return
        }
        if (this.refreshing){
          this.lotteryThirdList = []
          this.refreshing = false
        }

        this.lotteryThirdList = [...this.lotteryThirdList,...res.rows]
        this.lotteryThirdData = res

        this.loading = false
        if (res.total <= (parseInt(this.params.page) * parseInt(this.params.rows))){
          this.finished = true
        }
      })
    },
    //清空数据
    onRefresh(){
      this.finished = false;
      this.loading = true;
      this.params.page = 0
      this.getRecord_lottery_record();
    },
    //彩种
    egameType(item){
      var temp = '其他';
      switch(item.type){
        case 1: temp = "AG";break;
        case 2: temp = "BBIN";break;
        case 3: temp = "MG";break;
        case 4:temp = "QT";break;
        case 5:temp = "ALLBET";break;
        case 6:temp = "PT";break;
        case 7:temp = "OG";break;
        case 8:temp = "DS";break;
        case 9:temp = "CQ9";break;
        case 11:temp = "JDB";break;
        case 12:temp = "KY";break;
        case 92:temp = "ttg";break;
        case 95:temp = "mw";break;
        case 96:temp = "ISB";break;
        case 98:temp = "BG";break;
      }
      return temp;
    }
  }
}
</script>

<style scoped>

</style>