<template>
  <div class="sport_record">
    <header class="header">
      <a herf="javascript:void(0)" @click="back">
        <van-icon name="arrow-left"/>
        <span class="bark">返回</span>
      </a>
      <span class="title">体育投注记录</span>
      <div class="edit" @click="show.popup = !show.popup">筛选</div>
    </header>
    <div class="common_content">
      <van-popup v-model="show.popup" position="top" :style="{ height:popupHeight,top:'4.6rem'}" >
        <van-cell-group>
          <van-field v-model="params.startTimeReveal" label="开始"  right-icon="notes-o" placeholder="开始时间" @click="show.startTime =  true" color="red"/>
          <van-field v-model="params.endTimeReveal" label="截止"  right-icon="notes-o" placeholder="结束时间" @click="show.endTime = true"/>
          <van-field readonly clickable v-model="params.platformReveal" label="平台"  :right-icon="show.platform ? 'arrow-up' : 'arrow-down'" placeholder="所有记录" @click="show.platform = true" v-show="show.platformS"/>
          <van-field readonly clickable name="picker" :value="params.codeReveal" :right-icon="show.code? 'arrow-up' : 'arrow-down'" label="球种" placeholder="点击选择彩种" @click="show.code = true" v-show="show.codeS"/>
          <van-field readonly clickable v-model="params.statusReveal" label="状态"  :right-icon="show.status ? 'arrow-up' : 'arrow-down'" placeholder="订单状态" @click="show.status = true" v-show="show.statusS"/>
        </van-cell-group>
        <van-button color="#ec2829"  block :loading="false" class="filter-query" @click="query">查询</van-button>
      </van-popup>
      <div class="filter-content-time">
        <van-calendar v-model="show.startTime" @confirm="startTimerConfirm" :min-date="minData"/>
        <van-calendar v-model="show.endTime" @confirm="endTimeConfirm" />
      </div>
      <div class="filter-content-code-status">
        <van-popup v-model="show.platform" position="bottom">
          <van-picker show-toolbar :columns="columns.platform.name" @confirm="isChangePlatform" @cancel="show.platform = false"/>
        </van-popup>
        <van-popup v-model="show.code" position="bottom">
          <van-picker show-toolbar :columns="columns.code.name" @confirm="isChangeCode" @cancel="show.code = false"/>
        </van-popup>
        <van-popup v-model="show.status" position="bottom">
          <van-picker show-toolbar :columns="columns.status.name" @confirm="isChangeStatus" @cancel="show.status = false"/>
        </van-popup>
      </div>
    </div>
    <div class="content">
      <div class="content-card" v-if="sportData.aggsData && params.platform != 'hgty'">
        <div class="c-c-item">
          <em>投注</em>
          <p style="color: red;">{{sportData.aggsData.bettingMoneyCount || 0.00}}</p>
        </div>
        <div class="c-c-item">
          <em>中奖</em>
          <p style="color: #00aa00;">{{sportData.aggsData.winMoneyCount || 0.00}}</p>
        </div>
        <div class="c-c-item">
          <em>盈利</em>
          <p style="color: red;">{{sportData.aggsData.winMoney || 0.00}}</p>
        </div>
      </div>
      <div class="content-card" v-if="sportData.aggsData && params.platform == 'hgty'">
        <div class="c-c-item">
          <em>投注</em>
          <p style="color: red;">{{sportData.aggsData.totalBetMoney || 0.00}}</p>
        </div>
        <div class="c-c-item">
          <em>中奖</em>
          <p style="color: #00aa00;">{{sportData.aggsData.totalBetResult || 0.00}}</p>
        </div>
        <div class="c-c-item">
          <em>盈利</em>
          <p style="color: red;">{{parseFloat(sportData.aggsData.totalBetResult) - parseFloat(sportData.aggsData.totalBetMoney) || 0.00}}</p>
        </div>
      </div>
      <div class="content-list" v-if="sportList.length > 0">
        <van-pull-refresh v-model="refreshing" @refresh="onRefresh" >
          <van-list v-model="loading" :finished="finished" finished-text="没有更多了" @load="getRecord_egame" :offset="50">
            <div class="list-wrap" v-for="(item,index) in sportList" :key="index" @click="getRecord_egameDetail(item)">
              <a href="javascript:void(0)">
                <p>
                  <span><font style="margin-right:.3rem;" >{{item.sportType == 1 ? '⚽' : item.sportType == 2 ? '🏀️' :''}}</font><em>{{item.league}}</em></span>
                  <span>投注金额: <em class="red">{{item.bettingMoney}}</em>元</span>
                </p>
                <p style="text-align: center;justify-content: center;">
                  <span>
                    {{item.homeTeam}}<font color=firebrick >VS</font>{{item.guestTeam}}
                  </span>
                </p>
                <p>
                  <span style="color: lightcoral;text-align: left">
                    {{gameTimeTypeHelp(item.gameTimeType) +' -- '+ plateHelp(item.plate) + (item.odds ? ' -- 赔率('+item.odds+')' : '') }}
                    <em>{{item.bettingStatus === 4 ? '('+item.statusRemark+')' : ''}}</em>
                  </span>
                </p>
                <p v-if="params.platform != 'hgty'">
                  <span style="color:cornflowerblue;font-size: inherit">{{typeof (item.gameName) == "undefined" ? '-' : item.gameName}}</span>
                </p>
                <p v-else>
                  <span style="color:cornflowerblue;font-size: inherit" >{{getSportName(item.sportType) + '( '+item.typeNames+' )'}}</span>
                </p>
                <p v-if="params.platform != 'hgty'">
                  <span><em>时间：</em>{{$root.common.getMyDate(item.bettingTime)}}</span>
                  <span v-html="typeof (getlbcStatus(item)) == 'undefined' ? '-' : getlbcStatus(item)"></span>
                </p>
                <p v-else>
                  <span><em>时间：</em>{{$root.common.getMyDate(item.bettingDate)}}</span>
                  <span v-html="getBetStatus(item)"></span>
                </p>
              </a>
            </div>
          </van-list>
        </van-pull-refresh>
      </div>
      <div style="text-align: center;background: #efeff4;line-height: 4rem;font-size: 1.8rem" v-else>
        暂时没有投注记录
      </div>
      <van-popup v-model="detailStatus" position="bottom" :style="{ height: '100%','z-index':3001 }" @click="detailStatus = false" class="content-list-detail"  >
        <div class="detail-title" style="position: relative;z-index: 3001;">
          <div class="title">订单详情</div>
          <div class="close" @click="detailStatus = false">关闭</div>
        </div>
        <div class="reclrd-code" >
          <span>订单号：<em>{{detailsData.bettingCode}}</em></span>
        </div>
        <div class="detail-content" v-if="params.platform == 'hgty'">
          <table  border="0" cellpadding="0" cellspacing="0" >
            <tbody>
            <tr>
              <td class="bttd"> 会员 </td>
              <td>{{detailsData.memberName}}</td>
              <td class="bttd">下注金额</td>
              <td>{{detailsData.bettingMoney}}元</td>
            </tr>
            <tr>
              <td class="bttd">下注时间</td>
              <td>{{detailsData.bettingDate}}</td>
              <td class="bttd">球类</td>
              <td>{{detailsData.sportType == 1 ? '⚽' : detailsData.sportType == 2 ? '🏀️' :''}}</td>
            </tr>
            <tr>
              <td class="bttd">类型</td>
              <td>{{detailsData.typeNames}}</td>
              <td class="bttd">盘</td>
              <td>{{plateHelp(detailsData.plate)}}</td>
            </tr>
            <tr>
              <td class="bttd">提交状态</td>
              <td v-html="getBettingStatus(detailsData)"></td>
              <td class="bttd">结算状态</td>
              <td v-html="getBalanceStatus(detailsData)"></td>
            </tr>
            <tr>
              <td class="bttd">派送金额</td>
              <td v-html="getbalanceMoney(detailsData)"></td>
            </tr>
            <tr>
              <td class="bttd">赛事</td>
              <td v-html="getMatchInfo(detailsData)" v-if=" 'remark' in detailsData"></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="detail-content" v-else>
          <table  border="0" cellpadding="0" cellspacing="0" >
            <tbody>
            <tr>
              <td class="bttd"> 会员 </td>
              <td>{{detailsData.memberName}}</td>
              <td class="bttd">下注金额</td>
              <td>{{detailsData.bettingMoney}}元</td>
            </tr>
            <tr>
              <td class="bttd">下注时间</td>
              <td>{{detailsData.bettingTime}}</td>
              <td class="bttd">球类</td>
              <td>{{detailsData.gameName}}</td>
            </tr>
            <tr>
              <td class="bttd">类型</td>
              <td>{{detailsData.typeNames}}</td>
              <td class="bttd">盘</td>
              <td>亚洲盘</td>
            </tr>
            <tr>
              <td class="bttd">提交状态</td>
              <td>已确认</td>
              <td class="bttd">结算状态</td>
              <td v-html="getlbcStatus(detailsData)"></td>
            </tr>
            <tr>
              <td class="bttd">派送金额</td>
              <td v-html="getibcMoney(detailsData.winMoney)"></td>
            </tr>
            <tr>
              <td class="bttd">赛事</td>
              <td v-html="getMatchInfo(detailsData)" v-if=" 'remark' in detailsData"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </van-popup>
    </div>
  </div>
</template>

<script>
import '@/assets/css/center/sport_record.less'
import {Dialog, Toast} from "vant";

export default {
  name: "sport_record",
  data(){
    return{
      show:{
        popup:false,
        startTime:false,
        endTime:false,
        platform:false,
        code:false,
        status:false,
        platformS:true,
        codeS:true,
        statusS:true,
      },
      columns:{
        status:{
          name:['全部','已开奖','未开奖','未成功'],
          value:[1,2,3,4]
        },
        code:{ //球类
          name:['所有球种','足球','篮球'],
          value:[0,1,2]
        },
        platform:{
          name:[],
          value:[]
        }
      },
      popupHeight:'28rem',//弹出高度
      minData:new Date(2017, 0, 1),
      sportList:[], //体育数据
      sportData:{},//全部数据
      detailsData:{},//体育详细数据
      params:{
        startTime:'',
        startTimeReveal:'',
        endTime:'',
        endTimeReveal:'',
        platform:'hgty',
        platformReveal:'皇冠体育',
        code:0,
        codeReveal:'所有球种',
        status:1,
        statusReveal:'全部',
        page:0,
        rows:9,
      },
      detailStatus:false,
      refreshing:false, //是否处于加载状态
      loading:false, //是否处于架子啊状态，加载过程中不触发load 事件
      finished:false,//是否已加载完成，加载完成不在触发,这里是改变text
    }
  },
  created() {
    this.getDatasBesidesLotterys()
    //初始化时间
    let strTime = String(this.$root.common.Format())
    this.params.startTimeReveal = strTime.substring(0,4) + '/' +strTime.substring(4,6) + '/' + strTime.substring(6,8)
    this.params.startTime = strTime.substring(0,4) + '-' +strTime.substring(4,6) + '-' + strTime.substring(6,8) + ' '+'00:00:00'
    this.params.endTimeReveal = strTime.substring(0,4) + '/' +strTime.substring(4,6) + '/' + strTime.substring(6,8)
    this.params.endTime = strTime.substring(0,4) + '-' +strTime.substring(4,6) + '-' + strTime.substring(6,8) + ' '+'23:59:59'
  },
  methods:{
    //返回上一页
    back(){
      this.$router.push('/personal')
    },
    query(){
      this.params.page = 0
      this.getRecord_egame()
    },
    //体育平台信息
    getDatasBesidesLotterys(){
      this.$fetch('native/getDatasBesidesLotterys.do',{code:0},true).then(res=>{
        if (res.success){
          res.content.some((item)=>{
            this.columns.platform.name.push(item.title)
            this.columns.platform.value.push(item.playCode)
          })
        }
      })
    },
    isChangeStatus(data){
      this.show.status = false
      this.params.statusReveal = data;
      this.columns.status.name.some((item,index)=>{
        if (item == data){
          this.params.status = this.columns.status.value[index]
        }
      })

    },
    isChangeCode(data){
      this.show.code = false
      this.params.codeReveal = data;
      this.columns.code.name.some((item,index)=>{
        if (item == data){
          this.params.code = this.columns.code.value[index]
        }
      })
    },
    isChangePlatform(data){
      this.show.platform = false
      this.params.platformReveal = data;
      this.columns.platform.name.some((item,index)=>{
        if (item == data){
          this.params.platform = this.columns.platform.value[index]
        }
      })
      console.log(this.params.platform)
    },
    //选择开始时间
    startTimerConfirm(data){
      this.show.startTime = false
      let strTime = String(this.$root.common.Format(data))
      this.params.startTimeReveal = strTime.substring(0,4) + '/' +strTime.substring(4,6) + '/' + strTime.substring(6,8)
      this.params.startTime = strTime.substring(0,4) + '-' +strTime.substring(4,6) + '-' + strTime.substring(6,8) + ' '+'00:00:00'
    },
    //选择结束时间
    endTimeConfirm(data){
      this.show.endTimeW = false
      let strTime = String(this.$root.common.Format(data))
      this.params.endTimeReveal = strTime.substring(0,4) + '/' +strTime.substring(4,6) + '/' + strTime.substring(6,8)
      this.params.endTime = strTime.substring(0,4) + '-' +strTime.substring(4,6) + '-' + strTime.substring(6,8) + ' '+'23:59:59'
    },
    //查询投注记录
    getRecord_egame(){
      let url ='native/sportsrecord.do'
      if (this.params.platform == 'hgty'){
       url ='native/getOrderData.do'
      }
      if (this.params.platform == 'bbin' || this.params.platform == 'ibc'){
        this.params.code = 0
      }
      this.params.page ++
      let params = {
        startTime:this.params.startTime,
        endTime:this.params.endTime,
        sportType:this.params.code,
        recordType:this.params.status,
        page:this.params.page,
        rows:this.params.rows
      }
      this.$post(url,params,true).then(res=>{
        if ('isLogin' in res && res.isLogin == false){
          Dialog.alert({
            title: '登陆提示',
            message: res.msg
          }).then(() => {
            this.$router.push({
              path: '/login',
            })
          });
          return
        }
        if ('success' in res && res.success ==  false){
          Toast.success(res.msg);
          return
        }
        if (this.refreshing){
          this.sportList = []
          this.refreshing = false
        }

        this.sportList = [...this.sportList,...res.rows]
        this.sportData = res

        this.loading = false
        this.show.popup = false
        if (res.total <= (parseInt(this.params.page) * parseInt(this.params.rows))){
          this.finished = true
        }
      })
    },
    //清空数据
    onRefresh(){
      this.finished = false;
      this.loading = true;
      this.params.page = 0
      this.getRecord_egame();
    },
    //查询详细记录
    getRecord_egameDetail(item){
      this.detailsData = item
      this.detailStatus = true
    },
    getBetStatus(row){
      if(row.bettingStatus == 3 || row.bettingStatus == 4){
        return "<font color='red'>系统取消</font>";
      }

      if(row.balance == 1){
        return "等待开奖";
      }

      if(row.balance == 4){
        return "<font color='blue'>赛事腰斩</font>";
      }

      if(row.balance == 2 || row.balance == 5 || row.balance == 6){
        if(row.bettingResult > 0){
          return "<font color='green'>派彩:"+row.bettingResult+"</font>";
        }
        return "<font color='red'>输</font>";
      }
    },
    getlbcStatus(row){
      console.log(row.resStatus)
      if(row.resStatus == 3){
        return "未中奖";
      }
      if(row.resStatus == 1){
        return "等待开奖";
      }
      if(row.resStatus == 4){
        return "<font color='blue'>撤单</font>";
      }
      if(row.resStatus == 5){
        return "<font color='blue'>派奖回滚成功</font>";
      }
      if(row.resStatus == 2 ){
        return "<font color='red'>已中奖</font>";
      }
      if(row.resStatus == 6 ){
        return "<font color='red'>回滚异常</font>";
      }
      if(row.resStatus == 7 ){
        return "<font color='red'>开奖异常</font>";
      }
      if(row.resStatus == 10){
        return "<font color='red'>取消注单</font>";
      }
    },

    //H:亚洲盘  I:印尼盘 E:欧洲盘 M:马来西亚盘
    plateHelp(p){
      if(!p)return '';
      var pname = '';
      switch (p) {
        case 'H':
          pname = '亚洲盘';
          break;
        case 'I':
          pname = '印尼盘';
          break;
        case 'E':
          pname = '欧洲盘';
          break;
        case 'M':
          pname = '马来西亚盘';
          break;
      }
      return pname;
    },

    //1:滚球   2:今日  3:早盘
    gameTimeTypeHelp(p){
      console.log(p)
      if(!p)return '';
      let pname = '';
      switch (p) {
        case 1:
          pname = '滚球';
          break;
        case 2:
          pname = '今日';
          break;
        case 3:
          pname = '早盘';
          break;
      }
      console.log(pname)
      return pname;
    },
    getBettingStatus(order){
      var value = order.bettingStatus;
      if(value == 1){
        return "<font color='blue'>待确认</font>";
      }
      if(value == 2){
        return "已确认";
      }

      if(value == 3){
        var content = "取消";
        if(order.statusRemark){
          content += "("+order.statusRemark+")";
        }
        return "<font color='red'>" + content + "</font>";
      }

      if(value == 4){
        return "<font color='red'>取消</font>";
      }
    },
    getBalanceStatus(order){
      var value = order.balance;
      if(value == 1){
        return "<font color='blue'>未结算</font>";
      }

      if(value == 2 || value == 5 || value == 6){
        return "<font color='green'>已结算</font>";
      }

      if(value == 3){
        return "<font color='red'>结算失败</font>";
      }

      if(value == 4){
        return "<font color='red'>比赛腰斩</font>";
      }
    },
    getbalanceMoney(order){
      if (order.bettingResult != undefined){
        if (order.bettingResult > 0){
            return `<font color='green'>${order.bettingResult}</font>`
        }else {
          return order.bettingResult
        }
      }else{
        return  ' '
      }
    },
    getMatchInfo(order){
      console.log(order)
      if(order.mix != 2 && this.params.platform == 'hgty' && order.remark.length > 0){
        return this.toBetHtml(JSON.parse(order.remark),order);
      }else if(order.mix != 2 && this.params.platform != 'hgty'){
        return this.toLbcHtml(order);
      }
      var html = "";
      var arr = JSON.parse(order.remark)
      for(var i=0;i<arr.length;i++){
        if(i != 0){
          html += "<div style='border-bottom:1px #303030 dotted;'></div>";
        }
        if(this.params.platform != 'hgty'){
          html += this.toLbcHtml(order);
        }else{
          html += this.toBetHtml(arr[i],order);
        }
      }
      return html;
    },
   toBetHtml(item,order){
      var row = order;
      var con = item.con;
      if(con.indexOf("vs") == -1){
        con = '<span class="text-danger">'+ con +'</span>';
      }
      var homeFirst = row.homeTeam  == item.firstTeam;//主队是否在前
      var scoreStr = "";
      if(row.gameTimeType == 1){
        if(homeFirst){
          scoreStr = "&nbsp;<font color='red'><b>(" + row.scoreH +":" + row.scoreC + ")</b></font>";
        }else{
          scoreStr = "&nbsp;<font color='red'><b>(" + row.scoreC +":" + row.scoreH + ")</b></font>";
        }
      }
      var home = item.firstTeam;
      var guest = item.lastTeam;
      if(item.half === true && row.mix == 2){
        home = home + "<font color='gray'>[上半]</font>";
        guest = guest + "<font color='gray'>[上半]</font>";
      }

      var html  = item.league +"<br/>" +
          home + "&nbsp;" + con + "&nbsp;" + guest + scoreStr + "<br/>" +
          "<font color='red'>"+item.result+ "</font>&nbsp;" +"@" + "&nbsp;<font color='red'>"+ item.odds +"</font>";
      var balance = row.mix != 2 ? row.balance : item.balance;
      var bt = row.bettingStatus;
      if(balance == 4){
        html = "<s style='color:red;'>" + html+"(赛事腰斩)</s>"
      }else if(bt == 3 || bt == 4){
        html = "<s style='color:red;'>" + html+"("+row.statusRemark+")</s>"
      }else if(balance == 2 || balance == 5 || balance == 6){
        var mr = row.mix != 2 ? row.result:item.matchResult;
        if(homeFirst){
          html = html + "&nbsp;<font color='blue'>("+mr+")</font>";
        }else{
          var ss = mr.split(":");
          html = html + "&nbsp;<font color='blue'>("+ss[0]+":"+ss[1]+")</font>";
        }
      }
      return html;
  },
    toLbcHtml(row){
      var html = ''
      if(typeof(row.parlayData) != 'undefined'){
        try{
          row.parlayData = JSON.parse(row.parlayData)
        }catch(err){
          console.log(err)
        }
        html = '';
        for(var i = 0; i < row.parlayData.length; i++){
          html  += this.unExistLine(row.parlayData[i].leagueName) +"<br/>" +
              this.unExistLine(row.parlayData[i].homeTeam) + "&nbsp;vs&nbsp;" + this.unExistLine(row.parlayData[i].awayTeam) + "<br/>" +
              "<font color='red'></font>&nbsp;" +"@" + "&nbsp;<font color='red'>"+ this.unExistLine(row.parlayData[i].odds) +"</font><br><hr>";
        }
      }else{
        if(row.score == undefined){
          row.score = '-:-'
        }
        html  = this.unExistLine(row.league) +"<br/>" +
            this.unExistLine(row.homeTeam) + "&nbsp;vs&nbsp;" + this.unExistLine(row.awayTeam) + "<br/>" + '<p>' + this.unExistLine(row.info) + '</p>' +
            "<font color='red'></font>&nbsp;" +"@" + "&nbsp;<font color='red'>"+ this.unExistLine(row.odds) +"</font><font color='blue'>("+ this.unExistLine(row.score) +")</font>";
      }
      return html;
    },
    unExistLine(un){
      if(typeof(un)=='undefined'){
        un = '-'
      }
      return un;
    },
    getibcMoney(data){
      return `<font color='green'>${data}</font>`
    },
    //1 待确认  2：已确认  3：已取消
    bettingStatusHelp(p){
      if(!p)return '';
      var pname = '';
      switch (p) {
        case 1:
          pname = '<font color="#337ab7">待确认</font>';
          break;
        case 2:
          pname = '<font color="#5cb85c">已确认</font>';
          break;
        case 3:
          pname = '<font color="red">已取消</font>';
          break;
      }
      return pname;
    },

    getSportName(type){
      if(type == 1){
        return "足球";
      }
      if(type == 2){
        return "篮球";
      }
      return "其他";
    },
  },
  computed:{
    columnsChange(){
      return this.params.platform
    }
  },
  watch:{
    columnsChange:function (newV){
      if (newV == 'hgty'){
        this.show.statusS = true
        this.show.codeS = true
        this.popupHeight = '38%'
      }else {
        this.show.statusS = false
        this.show.codeS = false
        this.popupHeight = '25%'
      }
    }
  }
}
</script>

<style scoped>

</style>