<template>
	<view class="bet">
		<view class="status_bar"></view>
		<view class="public_header">
			<image src="/static/images/icon/out.png" alt="" @click="back()"> {{updateName(lotteryName)}}
				<span class="button" @click="$refs.listPopup.open()"><uni-icons type="more-filled" size="26"
						color="#ffffff"></uni-icons></span>
		</view>
		<view class="lobby-index-container">
			<view class="guess-title" v-if="lotteryResult.content">
				<view class="top" @click="$refs.detailPopup.open()">
					<view class="left">
						<p><span class="qiHao">{{lotteryStatus.qiHao}}</span>订单匹配</p>
						<p class="time">
							<u-count-down v-if="!lotteryStatus.countdown" :time="lotteryStatus.time" format="HH:mm:ss"
								@finish="finish"></u-count-down>
							<span class="time" v-else>{{ lotteryStatus.text }}</span>
						</p>
					</view>
					<view class="right">
						<view v-if="lotteryResult.content[0].sizeStr && lotteryResult.content[0].sdStr">
							<p>{{lotteryResult.content[0].qiHao}}结果</p>
							<p>
								<template>
									<p class="draw"
										:style="{color:lotteryResult.content[0].sizeStr == '大' ? '#005ea6' :'#63a73e' }">
										{{drawData(lotteryResult.content[0].sizeStr)}}
									</p>
									<p class="draw"
										:style="{color:lotteryResult.content[0].sdStr == '单' ? '#ff9600' :'#0082fe' }">
										{{drawData(lotteryResult.content[0].sdStr)}}
									</p>
								</template>
							</p>
						</view>
						<view v-else>
							<p class="no-draw">匹配中<span></span></p>
						</view>

					</view>
				</view>
			</view>
			<view class="guess-content">
				<view class="title" v-if="lotteryData.length > 0">
					<view class="title-img acitve" v-if="pseudoData[pseudoDataClass].titleImg.length > 0">
						<view class="title-img-wrap" v-for="(item,index) in pseudoData[pseudoDataClass].titleImg"
							:key="index">
							<image :src="item.imgUrl" alt="title" :class="{activeImg:lotteryData[index].isActive}">
							</image>
						</view>
					</view>
					<view class="title-button">
						<button :class="{active:item2.isActive}" @click="cilckNum(item2,index2)"
							v-for="(item2,index2) in lotteryData" :key="index2">{{item2.showName}}</button>
					</view>
				</view>
				<view class="img-box">
					<view>
						<image class="top-img" src="/static/images/cooperate-icon.png"></image>
					</view>
					<view v-if="majorData.code == 'SFK3'">
						<image src="/static/images/image_2023_08_26T132_19_52_677Z.png"></image>
					</view>
					<view v-else-if="majorData.code == 'AMK3'">
						<image src="/static/images/image_2023_08_23T23_51_53_267Z.png"></image>
					</view>
					<view v-else-if="majorData.code == 'WFK3'">
						<image src="/static/images/image_2023_08_26T10_19_52_677Z.png"></image>
					</view>
				</view>
			</view>
			<view class="guess-footer">
				<view class="money-list" style="margin-bottom: 10rpx;">
					<button v-for="(item,index) in momneyList" @click="setBetMoney(item)"
						:key="index">{{item}}</button>
				</view>
				<view class="cathectic">
					<span><u-number-box v-model="throwData.money" @change="moneyChange"></u-number-box></span>
					<button v-model="throwData.money">{{ throwData.money }}
						{{unit}}</button>
				</view>
				<view class="submit">
					<button @click="clearData">清空</button>
					<view class="money">
						<span>共 <i>{{throwData.betNum}}</i> 件</span>
						<span>共 <i>¥{{ (throwData.betNum * throwData.money ).toFixed(2)}}</i>
							{{unit}}</span>
					</view>
					<button @click="submitBet">立即共享</button>
				</view>
			</view>
		</view>
		<uni-popup ref="detailPopup" type="top" mask-background-color="rgba(255,255,255)"
			style="bottom: 0;top:0;overflow: auto;">
			<view class="draw-notice" :style="{height:`${clienHeight}px`}">
				<view class="status_bar"></view>
				<view class="public_header" @click="$refs.detailPopup.close()">
					<image src="/static/images/icon/out.png" alt=""> <span
							v-if="lottery && lottery.name">{{ updateName(lottery.name) }}近期匹配结果</span>
				</view>
				<view class="content">
					<ul>
						<li v-for="(item, index) in lotteryResult.content" :key="index" :class="{backGay:index%2}">
							<view class="list-font" style="width: 100%;padding-left: 10px;box-sizing: border-box">
								<view class="title">
									<span>第{{ item.qiHao }}数据</span>
									<span>{{ item.date }}{{ item.time }}</span>
								</view>
								<view class="result" v-if="item.haoMaList.indexOf('?') != -1">
									<span style="color: red;font-size: 1.6rem">
										匹配中...
									</span>
								</view>
								<view class="result" v-else-if="majorData.lotGroup == 7">
									<view class="result-bigSmall">
										<span
											:style="{color:item.sizeStr == '大' ? '#005ea6' :'#63a73e' }">{{ drawData(item.sizeStr)}}</span>
										<span
											:style="{color:item.sdStr == '单' ? '#ff9600' :'#0082fe' }">{{ drawData(item.sdStr)}}</span>
									</view>
								</view>
							</view>
						</li>
					</ul>
				</view>
			</view>
		</uni-popup>
		<uni-popup ref="listPopup" background-color="#fff" type="right">
			<view class="popup-content popup-height more-module">
				<ul :style="{height:`${clienHeight}px`}">
					<li v-for="(item,index) in moreLotteryList" :key="index"
						@click="$common.toPath('/pages/bet/bet?code='+item.code+'&lotGroup='+item.lotGroup+'&class=lobby')">
						<a href="#" :class="{active:majorData.code == item.code}">
							<image :src="item.imgUrl" alt=""></image><span>{{ updateName(item.name) }}</span>
						</a>
					</li>
				</ul>
			</view>
		</uni-popup>
		<u-toast ref="uToast"></u-toast>
	</view>
</template>

<script>
	export default {
		name: "bet",
		data() {
			return {
				moreLotteryList: [],
				majorData: {
					code: '',
					sonCode: '',
					className: '',
					name: '',
					lotGroup: '',
				},
				lottery: '',
				lotteryResult: {
					content: [{
						qiHao: '-',
						haoMaList: ['-,-,-,-,-'],
						result: '-'
					}],
					animated: true,
					countdown: true,
					show: false,
					money: true,
				},
				//当前正在执行期号
				lotteryStatus: {
					time: 24 * 60 * 60 * 1000,
					qiHao: '20210202',
					text: '封盘中'
				},
				momneyList: ['10','30', '50', '100'],
				lotteryData: [],
				beforeLotteryData: [],
				pseudoDataClass: 1,
				pseudoData: [{
						title: '',
						key: 'goods',
						titleImg: [],
						throwInto: [],
					},
					{
						title: '',
						key: 'cosmetic',
						titleImg: [],
						throwInto: [],
					},
				],
				buData: [],
				throwData: {
					money: 1,
					betNum: 0,
					totalMoney: 0
				},
				cilckData: [], //选中数据
				clienHeight: '',
				unit: '',
				lotteryName: '',
				money: '',
				lotteryResultList: [],
			}
		},
		created() {
			this.getLotteryDetail()
			this.unit = uni.getStorageSync('unit')
			this.pseudoData[this.pseudoDataClass].title = uni.getStorageSync('moneyType')
			this.pseudoData[this.pseudoDataClass].throwInto = uni.getStorageSync('moneyTypeInfo')
			this.lotteryResultList = this.pseudoData[this.pseudoDataClass].title.split('|')
		},
		onPullDownRefresh() {
			this.getLotteryDetail()
			this.openResultDetail()
			this.getLoctterys()
			this.getCountDown()
			this.getMeminfo()
		},
		onLoad(option) {
			this.majorData.code = option.code
			this.majorData.lotGroup = option.lotGroup
			this.openResultDetail()
			this.getCountDown()
			this.getLoctterys()
			this.getClineHeight()
			this.getMeminfo()
		},
		methods: {
			setBetMoney(num) {
				// this.throwData.money = (this.money * num * 0.01).toFixed(0)
				this.throwData.money = num
			},
			updateName(name) {
				switch (name) {
					case '极速快三':
						return '得物'
					case '幸运快三':
						return '国美电器'
					case '十分快三':
						return '网易严选'
					case '澳门快三':
						return '唯品会'
				}
			},
			getClineHeight() {
				const res = uni.getSystemInfo({
					success: (res => {
						this.clienHeight = (res.windowHeight)
					})
				});
			},
			getMeminfo() {
				this.$Request.get('/native/meminfo.do', {}, false).then(res => {
					if (res.success) {
						this.money = res.content.balance
					}
				})
			},
			openResultDetail() {
				let that = this
				this.lotteryResult.animated = true
				let params = {
					lotCode: this.majorData.code
				}
				this.$Request.get('/native/open_result_detail.do', params, false).then(res => {
					this.lotteryResult.money = false
					if (res.success) {
						this.lotteryResult.content = res.content
						if (res.content[0].haoMaList[0] == '?') {
							this.openResultFor = setInterval(function() {
								that.openResultDetail()
							}, 10000)
						}
						if (!this.lotteryResult.content[0].result) {
							for (let index in this.lotteryResult.content) {
								this.lotteryResult.content[index].result = '?,?,?'
							}
						}
						this.lotteryResult.animated = false
					} else {
						this.lotteryStatus.countdown = true
						this.lotteryStatus.text = '尚未开始'
					}
				})
			},
			getLotteryDetail() {
				let params = {
					lotCode: this.majorData.code
				}
				this.$Request.get('/native/getLotGamePlays.do', params, false).then(res => {
					if (res.success) {
						this.beforeLotteryData.push(res.content)
						this.getMatchedData()
						this.lotteryDataArr(this.beforeLotteryData.length - 1)
						this.lotteryName = res.content.name
					}
				})
			},
			lotteryDataArr: function(indexIs) {
				let that = this
				this.lottery = this.beforeLotteryData[indexIs]
				this.majorData.czCode = this.lottery.czCode
				this.majorData.className = this.lottery.rules[0].name
				this.majorData.sonCode = this.lottery.rules[0].rules[0].code
				this.majorData.name = this.lottery.rules[0].rules[0].name
				this.majorData.className = this.lottery.rules[0].name
				this.majorData.sonCode = this.lottery.rules[0].rules[0].code
				this.majorData.name = this.lottery.rules[0].rules[0].name
				this.ruleContent = this.lottery.rules[0].rules[0].detailDesc
				// 拼接快三玩法
				this.k3Rules = []
				if (that.majorData.lotGroup == 7) {
					let e = that.lottery.rules[0].rules[0].oddPlayItems
					for (let index in e) {
						let newobj = [];
						for (let k in e[index]) {
							newobj[k] = e[index][k]
						}
						if (e[index].name.indexOf('点') == -1) {
							that.k3Rules.push(newobj)
						} else {
							newobj.name = '点数'
							that.k3Rules.push(newobj)
							return false
						}
					}
					that.majorData.sonCode = '大小骰宝'
				}
			},
			getCountDown() {
				let params = {
					lotCode: this.majorData.code,
					version: 5,
				}
				this.$Request.get('/native/getCountDown.do', params, false).then(res => {
					if (res.success) {
						let time = res.content.activeTime - res.content.serverTime
						clearInterval(this.timeFor);
						if (time > 1000) {
							this.lotteryStatus.time = res.content.activeTime - res.content.serverTime
						} else {
							this.timeFor = setInterval(function() {
								that.getCountDown()
							}, 5000)
						}
						this.lotteryStatus.qiHao = res.content.qiHao
					}
					uni.stopPullDownRefresh();
				})
			},
			getLoctterys() {
				this.$Request.get('/native/getLoctterys.do', {}, false).then(res => {
					if (res.success) {
						this.moreLotteryList = []
						res.content.some((item) => {
							if (item.lotGroup == 7) {
								if (item.code == 'WFK3') {
									item.imgUrl = '/static/images/7.png'
									this.moreLotteryList.push(item)
								} else if (item.code == 'SFK3') {
									item.imgUrl = '/static/images/image_2023_08_24T17_31_14_313Z.png'
									this.moreLotteryList.push(item)
								} else if (item.code == 'AMK3') {
									item.imgUrl = '/static/images/8.png'
									this.moreLotteryList.push(item)
								}
							}
						})
					}
				})
			},
			getMatchedData: function() {
				let that = this,
					lotteryArr = [],
					setSwitch = false,
					nativeData = {},
					arr = this.pseudoData[that.pseudoDataClass].throwInto
				that.beforeLotteryData.some((item) => {
					if (item.code == that.majorData.code && item.viewGroup == 7) {
						item.rules[0].rules[0].oddPlayItems.some((item2) => {
							if (item2.name == '大小骰宝') {
								setSwitch = true
								nativeData = Object.assign({}, item2)
								return true
							}
						})
						return true
					}
				})
				//填充数据
				if (!setSwitch) return
				for (let index in arr) {
					let obj = Object.assign({}, nativeData)
					obj.groupCode = obj.name
					obj.name = arr[index].name
					obj.showName = arr[index].showName
					obj.isActive = false
					lotteryArr.push(obj)
				}
				this.lotteryData = [...lotteryArr]
			},
			finish: function() {
				uni.showToast({
					title: (this.lotteryStatus.qiHao) + '已截止，投注请注意当前期号',
					icon: 'none',
					duration: 2000
				});
				this.getCountDown()
				this.lotteryResult.money = true;
				this.openResultDetail()
			},
			clearData: function() {
				this.throwData.money = 2
				this.throwData.betNum = 0
				this.throwData.totalMoney = 0
				this.cilckData = []
				this.lotteryData.some((item) => {
					item.isActive = false
				})
			},
			cilckNum: function(data, index) {
				let is = false,
					arr = [...this.cilckData]
				if (this.cilckData.length <= 0) {
					this.cilckData.push(data)
					this.lotteryData[index].isActive = true
					this.throwData.betNum = this.cilckData.length
					return
				}
				arr.some((item, index2) => {
					if (item.name == data.name && item.showName == data.showName) {
						this.cilckData.splice(index2, 1)
						this.lotteryData[index].isActive = false
						is = true
					}
				})
				if (!is) {
					data.isActive = true
					this.cilckData.push(data)
					this.lotteryData[index].isActive = true
				}
				this.throwData.betNum = this.cilckData.length
			},
			submitBet: function() {
				let params = {},
					that = this
				if (this.cilckData.length <= 0) {
					return uni.showToast({
						title: '请选择订单款项',
						icon: 'none',
						duration: 2000
					});
				}
				params = {
					data: [],
					lotType: this.cilckData[0].lotType,
					groupCode: this.cilckData[0].groupCode,
					qiHao: this.lotteryStatus.qiHao,
					version: 5,
					lotCode: this.majorData.code,
				}
				this.cilckData.some((item) => {
					let obj = {
						max: item.maxBetAmmount,
						min: item.minBetAmmount,
						minNumber: item.minSelected,
						oddsId: item.id,
						name: item.name,
						playCode: item.playCode,
						odds: item.odds,
						money: this.throwData.money
					};
					params.data.push(obj)
				})
				params.data = JSON.stringify(params.data)
				this.$Request.post('/native/dolotBet.do', params, true).then(res => {
					if (res.success) {
						uni.showToast({
							title: '助力成功',
							icon: 'none',
							duration: 2000
						});
						that.clearData();
						that.getMeminfo();
					} else if (res.code == 10000) {
						if (res.msg.indexOf('余额不足') != -1) {
							uni.showToast({
								title: '余额不足',
								icon: 'none',
								duration: 2000
							});
						} else if (res.msg.indexOf('网络异常') != -1) {
							uni.showToast({
								title: '网络异常',
								icon: 'none',
								duration: 2000
							});
						} else if (res.msg.indexOf('站点彩票配额') != -1) {
							uni.showToast({
								title: '提交失败，超过了商家配置额度',
								icon: 'none',
								duration: 2000
							});
						} else {
							Toast(res.msg)
						}
					} else {
						let str = res.msg
						if (str.indexOf('彩票') != -1) {
							str = str.replace(/彩票/g, '')
						}
						uni.showToast({
							title: str,
							icon: 'none',
							duration: 2000
						});
					}
				})
			},
			drawData(value) {
				if (!value) return
				switch (value) {
					case '大':
						return this.lotteryResultList[0];
					case '小':
						return this.lotteryResultList[1];
					case '单':
						return this.lotteryResultList[2];
					case '双':
						return this.lotteryResultList[3];
				}
			},
			back() {
				uni.reLaunch({
					url: '/pages/tabs/index',
				})
			}
		}
	}
</script>

<style lang="scss">
	@import '../../static/css/bet.scss';
	@import '../../static/css/draw_notice.scss';

	@mixin height {
		/* #ifndef APP-NVUE */
		height: 100%;
		/* #endif */
		/* #ifdef APP-NVUE */
		flex: 1;
		/* #endif */
	}

	.popup-content {
		@include flex;
		align-items: center;
		justify-content: center;
		padding: 30rpx;
		height: 100rpx;
		background-color: #fff;
	}

	.popup-height {
		@include height;
		width: 200px;
	}
</style>