<template>
  <div class="sport">
    <div class="nav">
      <div class="bottom">
        <div class="out" @click="toPath()">
          <van-icon name="arrow-left" size="20px"/>
        </div>
        <span>今日</span><br><span style="font-size: 14px;font-weight: 600">篮球</span>
        <div class="trophy"><img src="@/assets/images/trophy_icon.jpg" alt=""></div>
      </div>
    </div>
    <div class="content">
      <div class="box" v-for="(item, index) in sportData" :key="index">
        <div class="title">
          <span>{{ item.LEAGUE }}</span>
          <span><img src="" alt=""></span>
        </div>
        <div class="data">
          <div class="team">
            <div class="list">{{ timeSplit(item.DATETIME) }}
<!--              <span class="label">{{item.DATETIME}}</span>-->
            </div>
            <div class="list"><span class="number"></span>{{ item.TEAM_H }}</div>
            <div class="list"><span class="number"></span>{{ item.TEAM_C }}</div>
            <div class="list" style="display: flex;align-items: center;"><span>{{ item.MORE }}</span>
              <van-icon name="play"/>
            </div>
          </div>
          <div class="bet-number">
            <div class="list">
              <span class="bet-title">让球</span>
              <span class="bet-title">总分</span>
<!--              <span class="bet-title">1队得分</span>-->
<!--              <span class="bet-title">2队得分</span>-->
<!--              <span class="bet-title">让球({{item.HALF_SE == 'HT' ? '上半' : '下半'}})</span>-->
<!--              <span class="bet-title">总分({{item.HALF_SE == 'HT' ? '上半' : '下半'}})</span>-->
<!--              <span class="bet-title">1队得分（{{item.HALF_SE == 'HT' ? '上半' : '下半'}}）</span>-->
<!--              <span class="bet-title">2队得分（{{item.HALF_SE == 'HT' ? '上半' : '下半'}}）</span>-->
            </div>
            <div class="list">
              <span class="button" @click="betBox(item,item.IOR_RH,'MN','IOR_RH',item.RATIO_R,'QC')"><p>{{(item.STRONG == 'H' ? item.RATIO_R : '')}}</p><p>{{ item.IOR_RH || '/' }}</p></span>
              <span class="button" @click="betBox(item,item.IOR_OUC,'MN','IOR_OUC',item.RATIO_OUO,'QC')"><p>{{ (sportSplit(item.RATIO_OUO) || '/')}}</p><p>{{ item.IOR_OUC || '/' }}</p></span>
<!--              <span class="button" @click="betBox(item,item.IOR_ROUHO,'MN','IOR_ROUHO',item.RATIO_ROUHO,'DF')"><p>{{item.RATIO_ROUHO || '/'}}</p><p>{{ item.IOR_ROUHO || '/' }}</p></span>-->
<!--              <span class="button" @click="betBox(item,item.IOR_ROUCO,'MN','IOR_ROUCO',item.RATIO_ROUCO,'DF')"><p>{{sportSplit(item.RATIO_ROUCO) || '/'}}</p><p>{{ item.IOR_ROUCO  || '/' }}</p></span>-->
<!--              <span class="button" @click="betBox(item,item.IOR_HRH,'MN','IOR_HRH',item.RATIO_HR,item.HALF_SE)"><p>{{(item.STRONG == 'H' ? item.RATIO_HR : '')}}</p><p>{{ item.IOR_HRH  || '/'}}</p></span>-->
<!--              <span class="button" @click="betBox(item,item.IOR_HOUC,'MN','IOR_HOUC',item.RATIO_HOUO,item.HALF_SE)"><p>{{sportSplit(item.RATIO_HOUO)|| '/'}}</p><p>{{ item.IOR_HOUC  || '/'}}</p></span>-->
<!--              <span class="button" @click="betBox(item,item.MS_IOR_RH,'MN','MS_IOR_RH',item.MS_RATIO_R,item.HALF_SE)"><p>{{ sportSplit(item.MS_RATIO_R)  || '/'}}</p><p>{{ item.MS_IOR_RH || '/' }}</p></span>-->
<!--              <span class="button" @click="betBox(item,item.MS_IOR_ROUH,'MN','MS_IOR_ROUH',item.MS_RATIO_ROUO,item.HALF_SE)"><p>{{ sportSplit(item.MS_RATIO_ROUO)  || '/'}}</p><p>{{ item.MS_IOR_ROUH || '/' }}</p></span>-->
            </div>
            <div class="list">
              <span class="button" @click="betBox(item,item.IOR_RC,'MN','IOR_RC',item.RATIO_R,'QC')"><p>{{(item.STRONG == 'C' ? item.RATIO_R : '')}}</p><p>{{ item.IOR_RC || '/' }}</p></span>
              <span class="button" @click="betBox(item,item.IOR_OUH,'MN','IOR_OUH',item.RATIO_OUU,'QC')"><p>{{sportSplit(item.RATIO_OUU) || '/'}}</p><p>{{ item.IOR_OUH || '/' }}</p></span>
<!--              <span class="button" @click="betBox(item,item.IOR_ROUHU,'MN','IOR_ROUHU',item.RATIO_ROUHU,'DF')"><p>{{item.RATIO_ROUHU || '/'}}</p><p>{{ item.IOR_ROUHU  || '/'}}</p></span>-->
<!--              <span class="button" @click="betBox(item,item.IOR_ROUCU,'MN','IOR_ROUCU',item.RATIO_ROUCU,'DF')"><p>{{item.RATIO_ROUCU || '/'}}</p><p>{{ item.IOR_ROUCU || '/' }}</p></span>-->
<!--              <span class="button" @click="betBox(item,item.IOR_HRC,'MN','IOR_HRC',item.RATIO_HR,item.HALF_SE)"><p>{{(item.STRONG == 'C' ? item.RATIO_HR : '')}}</p><p>{{ item.IOR_HRC || '/' }}</p></span>-->
<!--              <span class="button" @click="betBox(item,item.IOR_HOUH,'MN','IOR_HOUH',item.RATIO_HOUU,item.HALF_SE)"><p>{{sportSplit(item.RATIO_HOUU) || '/'}}</p><p>{{ item.IOR_HOUH || '/'}}</p></span>-->
<!--              <span class="button" @click="betBox(item,item.MS_IOR_RC,'MN','MS_IOR_RC','',item.HALF_SE)"><p>/</p><p>{{ item.MS_IOR_RC || '/' }}</p></span>-->
<!--              <span class="button" @click="betBox(item,item.MS_IOR_ROUC,'MN','IOR_ROUC',item.MS_RATIO_ROUU,item.HALF_SE)"><p>{{sportSplit(item.MS_RATIO_ROUU) || '/'}}</p><p>{{ item.MS_IOR_ROUC || '/'}}</p></span>-->
            </div>
          </div>
        </div>
        <div class="bottom"></div>
      </div>
    </div>
    <div class="tip" v-if="loading">
      赛事数据更新中
    </div>
    <div class="tip" v-if="sportData.length == 0 && !loading" @click="getTodaySportsId()">
      暂无赛事,点击重新获取
    </div>
    <div class="bet-box" v-show="betShow">
      <van-icon name="close" class="close" size="24px" @click="betShow = false"/>
      <p>篮球 - 今日</p>
      <p style="color: #5c5c5c">{{ betData.lEAGUE }}</p>
      <p>{{ betData.TEAM_H }} VS {{ betData.TEAM_C }}</p>
      <p><span class="odds"><span class="odds" v-if="project">{{sportSplit(project)}}</span> {{ odds }}</span></p>
      <p>
        <span><input type="number" v-model="money" placeholder="输入下注金额"></span>
<!--        <span style="color: #0066cc">最大投注金额</span>-->
      </p>
      <button @click="bet()">下注</button>
    </div>
  </div>
</template>

<script>
import '@/assets/css/sport.less'
import {Toast} from 'vant'

export default {
  name: "sport",
  data() {
    return {
      sportData: [],
      activeType: 1,
      odds: '',
      betShow: false,
      betData: '',
      money: '',
      params: {},
      project:'',
      allIndex:0,
      allIndex2:0,
      allIndex3:0,
      allData:'',
      loading:false,
      getOrderFun:null,
    }
  },
  created() {
    this.getTodaySportsId()
    this.getDataMs()
  },
  mounted() {
  },
  methods: {
    toPath:function (){
      this.closeSetInterval()
      this.$router.push({path:'/',query:{classify:1,active:1}})
    },
    getDataMs:function (){
      this.closeSetInterval()
      let that = this
      this.getOrderFun = setInterval(function() {
        that.getTodaySportsId()
      }, 10000)
    },
    closeSetInterval() {
      clearInterval(this.getOrderFun)
      this.getOrderFun = null
    },
    getTodaySportsId: function () { //足球数据
      this.loading = true
      let params = {
        lid: this.$route.query.id
      }
      this.$fetch('sports/hg2/today/bk.do', params, false).then(res => {
        this.sportData = []
        for(let index in res){
          for(let index2 in res[index]){
            this.sportData.push(res[index][index2])
          }
        }
        try {
          for(let index in this.sportData){
            for(let index2 in this.sportData[index]){
              var data = this.sportData[index][index2]
              if(data.toString().indexOf('.') != -1 && data > 0){
                let x = String(data).indexOf('.') + 1; //小数点的位置
                let y = String(data).length - x; //小数的位数
                if(y >= 2){
                  this.sportData[index][index2] = parseFloat(data).toFixed(2)
                }
              }
            }
          }
        } catch (e){
          console.log(e)
        }
        this.loading = false
      })
    },
    betBox(item, odds, gameType, type, project,half) {
      if(!odds){
        Toast('盘口关闭')
        this.betShow = false
        return false
      }
      if(!project){project = ''}
      this.money = ''
      let e = {
        type: type,
        gid: item.GID,
        odds: odds,
        half:half,
      }
      if(type == 'IOR_RH' || type == 'IOR_HRH' || type == 'IOR_RC' || type == 'IOR_HRC'){
        if(item.STRONG == 'C'){
          project = '-' + project
        }
      }
      if (project) {
        e.project = project
      }
      this.betData = item
      this.params = {
        gameType: 'BK_TD_' + gameType,
        plate: 'H',
        acceptBestOdds: true,
        items: []
      }
      this.params.items.push(e)
      this.odds = odds
      this.betShow = true
    },
    bet() {
      let that = this
      this.params.money = this.money
      let data = {
        data: JSON.stringify(this.params)
      }
      that.$root.common.loading(true)
      this.$http.post(that.$store.state.apiUrl + 'sports/hg2/v2/bet.do', data, {emulateJSON: true}, {credentials: true}).then(function (res) {
        if (res.body.success) {
          that.$root.common.loading(false)
          Toast('投注成功')
          this.betShow = false
        } else if(res.body.msg) {
          Toast(res.body.msg)
        } else {
          Toast('赔率变动')
        }
      }, function () {
        console.log('请求失败处理');
      });
    },
    sportSplit:function (value){
      if(value){
        if(value.indexOf('O') != -1){
          return value.replace(/O/g,'大')
        } else if(value.indexOf('U') != -1){
          return value.replace(/U/g,'小')
        } else if(value.indexOf('ARG') != -1){
          return value.replace(/ARG/g,'第一个')
        } else if(value.indexOf('BRG') != -1){
          return value.replace(/BRG/g,'第二个')
        } else if(value.indexOf('CRG') != -1){
          return value.replace(/CRG/g,'第三个')
        } else if(value.indexOf('DRG') != -1){
          return value.replace(/DRG/g,'第四个')
        } else if(value.indexOf('ERG') != -1){
          return value.replace(/ERG/g,'第五个')
        } else if(value.indexOf('FRG') != -1){
          return value.replace(/FRG/g,'第六个')
        } else if(value.indexOf('GRG') != -1){
          return value.replace(/GRG/g,'第七个')
        } else{
          return value
        }
      } else {
        return value
      }
    },
    timeSplit:function (value){
      let zIndex = ''
      if(value.indexOf('^') != -1){
        zIndex = value.indexOf('^')
        value = value.substring(0,zIndex) + value.substring(zIndex+1)
      }
      if(value){
        if(value.indexOf('1H') != -1){
          return value.replace(/1H/g,'上半场 ')
        } else if(value.indexOf('2H') != -1){
          return value.replace(/2H/g,'下半场 ')
        } else if(value.indexOf('MTIME') != -1){
          return value.replace(/MTIME/g,'')
        } else if(value.indexOf('p') != -1){
          return value.replace(/p/g,'下午')
        } else if(value.indexOf('a') != -1){
          return value.replace(/a/g,'上午')
        } else {
          return value
        }
      } else {
        return value
      }
    },
  }
}
</script>

<style scoped>

</style>
