<template>
  <div class="sport">
    <div class="nav">
      <div class="bottom">
        <div class="out" @click="toPath()"><van-icon name="arrow-left" size="20px"/></div>
        <span>综合过关</span><br><span style="font-size: 14px;font-weight: 600">篮球</span>
        <div class="trophy"><img src="@/assets/images/trophy_icon.jpg" alt=""></div>
      </div>
    </div>
    <div class="content" v-if="sportData.length > 0">
      <div class="box" v-for="(item, index) in sportData" :key="index" style="padding-bottom: 20px">
        <div class="title">
          <span>{{ item.LEAGUE }}</span>
          <span><img src="" alt=""></span>
        </div>
        <div class="data">
          <div class="team">
            <div class="list">
              {{ timeSplit(item.DATETIME) }}
              <!--              <span class="label" v-if="item.DATETIME.indexOf('H') == -1">{{timeSplit(item.DATETIME)}}</span>-->
            </div>
            <div class="list" style="white-space: nowrap"><span class="number">{{item.SCORE_H}}</span>{{ item.TEAM_H }}</div>
            <div class="list"><span class="number">{{item.SCORE_C}}</span>{{ item.TEAM_C }}</div>
            <div class="list" style="display: flex;align-items: center;"><span>{{ item.MORE }}</span>
              <van-icon name="play"/>
            </div>
          </div>
          <div class="bet-number">
            <div class="list">
              <span class="bet-title">让球</span>
              <span class="bet-title">总分</span>
<!--              <span class="bet-title">1队得分</span>-->
<!--              <span class="bet-title">2队得分</span>-->
<!--              <span class="bet-title">让球({{item.HALF_SE == 'HT' ? '上半' : '下半'}})</span>-->
<!--              <span class="bet-title">总分({{item.HALF_SE == 'HT' ? '上半' : '下半'}})</span>-->
<!--              <span class="bet-title">1队得分({{item.HALF_SE == 'HT' ? '上半' : '下半'}})</span>-->
<!--              <span class="bet-title">2队得分({{item.HALF_SE == 'HT' ? '上半' : '下半'}})</span>-->
            </div>
            <div class="list">
              <span class="button" :class="{'active':activeIndexList[index].index == 1}" @click="addOrder(item,item.IOR_RH,'MX','IOR_RH',item.RATIO_R,'QC',index,1)"><p>{{ (item.STRONG == 'H') ? item.RATIO_R : ''}}</p><p>{{ item.IOR_RH || '/' }}</p></span>
              <span class="button" :class="{'active':activeIndexList[index].index == 2}" @click="addOrder(item,item.IOR_OUC,'MX','IOR_OUC',item.RATIO_OUO,'QC',index,2)"><p>{{ (sportSplit(item.RATIO_OUO) || '/')}}</p><p>{{ item.IOR_OUC || '/' }}</p></span>
<!--              <span class="button" :class="{'active':activeIndexList[index].index == 3}" @click="addOrder(item,item.IOR_ROUHO,'MX','IOR_ROUHO',item.RATIO_ROUHO,index,3)"><p>{{ (sportSplit(item.RATIO_ROUHO) || '/')}}</p><p>{{ item.IOR_ROUHO || '/' }}</p></span>-->
<!--              <span class="button" :class="{'active':activeIndexList[index].index == 4}" @click="addOrder(item,item.IOR_ROUCO,'MX','IOR_ROUCO',item.RATIO_ROUCO,index,4)"><p>{{sportSplit(item.RATIO_ROUCO) || '/'}}</p><p>{{ item.IOR_ROUCO  || '/' }}</p></span>-->
<!--              <span class="button" :class="{'active':activeIndexList[index].index == 5}" @click="addOrder(item,item.IOR_HRH,'MX','IOR_HRH',item.RATIO_HR,item.HALF_SE,index,5)"><p>{{ (item.STRONG == 'H') ? item.RATIO_HR : '/'}}</p><p>{{ item.IOR_HRH  || '/'}}</p></span>-->
<!--              <span class="button" :class="{'active':activeIndexList[index].index == 6}" @click="addOrder(item,item.IOR_HOUC,'MX','IOR_HOUC',item.RATIO_HOUO,item.HALF_SE,index,6)"><p>{{sportSplit(item.RATIO_HOUO) || '/'}}</p><p>{{ item.IOR_HOUC  || '/'}}</p></span>-->
<!--              <span class="button" :class="{'active':activeIndexList[index].index == 7}" @click="addOrder(item,item.HALF_IOR_OUHO,'MX','HALF_IOR_OUHO',item.HALF_RATIO_OUHO,index,7)"><p>{{ sportSplit(item.HALF_RATIO_OUHO)  || '/'}}</p><p>{{ item.HALF_IOR_OUHO || '/' }}</p></span>-->
<!--              <span class="button" :class="{'active':activeIndexList[index].index == 8}" @click="addOrder(item,item.HALF_IOR_OUCO,'MX','HALF_IOR_OUCO',item.HALF_RATIO_OUCO,index,8)"><p>{{ sportSplit(item.HALF_RATIO_OUCO)  || '/'}}</p><p>{{ item.HALF_IOR_OUCO || '/' }}</p></span>-->
            </div>
            <div class="list">
              <span class="button" :class="{'active':activeIndexList[index].index == 9}" @click="addOrder(item,item.IOR_RC,'MX','IOR_RC',item.RATIO_R,'QC',index,9)"><p>{{(item.STRONG == 'C') ? item.RATIO_R : ''}}</p><p>{{ item.IOR_RC || '/' }}</p></span>
              <span class="button" :class="{'active':activeIndexList[index].index == 10}" @click="addOrder(item,item.IOR_OUH,'MX','IOR_OUH',item.RATIO_OUU,'QC',index,10)"><p>{{sportSplit(item.RATIO_OUU) || '/'}}</p><p>{{ item.IOR_OUH || '/' }}</p></span>
<!--              <span class="button" :class="{'active':activeIndexList[index].index == 11}" @click="addOrder(item,item.IOR_ROUHU,'MX','IOR_ROUHU',item.RATIO_ROUHU,index,11)"><p>{{ (sportSplit(item.RATIO_ROUHU) || '/')}}</p><p>{{ item.IOR_ROUHU  || '/'}}</p></span>-->
<!--              <span class="button" :class="{'active':activeIndexList[index].index == 12}" @click="addOrder(item,item.IOR_ROUCU,'MX','IOR_ROUCU',item.RATIO_ROUCU,index,12)"><p>{{sportSplit(item.RATIO_ROUCU) || '/'}}</p><p>{{ item.IOR_ROUCU || '/' }}</p></span>-->
<!--              <span class="button" :class="{'active':activeIndexList[index].index == 13}" @click="addOrder(item,item.IOR_HRC,'MX','IOR_HRC',item.RATIO_HR,item.HALF_SE,index,13)"><p>{{ (item.STRONG == 'C') ? item.RATIO_HR : '/'}}</p><p>{{ item.IOR_HRC || '/' }}</p></span>-->
<!--              <span class="button" :class="{'active':activeIndexList[index].index == 14}" @click="addOrder(item,item.IOR_HOUH,'MX','IOR_HOUH',item.RATIO_HOUU,item.HALF_SE,index,14)"><p>{{sportSplit(item.RATIO_HOUU) || '/'}}</p><p>{{ item.IOR_HOUH  || '/'}}</p></span>-->
<!--              <span class="button" :class="{'active':activeIndexList[index].index == 15}" @click="addOrder(item,item.HALF_IOR_OUHU,'MX','HALF_IOR_OUHU',item.HALF_RATIO_OUHU,index,15)"><p>{{sportSplit(item.HALF_RATIO_OUHU) || '/'}}</p><p>{{ item.HALF_IOR_OUHU || '/' }}</p></span>-->
<!--              <span class="button" :class="{'active':activeIndexList[index].index == 16}" @click="addOrder(item,item.HALF_IOR_OUCU,'MX','HALF_IOR_OUCU',item.HALF_RATIO_OUCU,index,16)"><p>{{sportSplit(item.HALF_RATIO_OUCU) || '/'}}</p><p>{{ item.HALF_IOR_OUCU  || '/'}}</p></span>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="tip" v-if="loading">
      赛事数据更新中
    </div>
    <div class="tip" v-if="sportData.length == 0 && !loading" @click="getTodaySportsId()">
      暂无赛事,点击重新获取
    </div>
    <div class="ber-number-box">
      <div class="box" @click="openBox()">
        <p>{{itemList.length}}</p>
        <p>注单</p>
      </div>
    </div>
    <div class="bet-box" v-show="betShow" style="height: 440px">
      <p style="font-weight: 600;">篮球 - 综合过关 <span style="color: #a78025;font-weight: 500;font-size: 13px;">({{betData.LEAGUE}})</span> </p>
      <van-icon name="close" class="close" size="24px" @click="betShow = false"/>
      <div v-for="(item,index) in itemList" :key="index" style="margin-top: 10px;">
        <p style="position: relative;">
          {{item.TEAM_H}} VS {{item.TEAM_C}}
          <img @click="deleteBet(item)" src="@/assets/images/delete-icon.png" style="position: absolute;margin-left: 20px;margin-top: 5px;">
        </p>
        <p><span class="odds" v-if="project">{{sportSplit(item.project)}} - </span><span class="odds">{{item.odds}}</span></p>
      </div>
      <p><input type="number" v-model="money" placeholder="输入下注金额"></p>
      <br>
      <p style="text-align: right;"> <span style="color: #a78025;" @click="clearItem()">清空注单</span></p>
      <button @click="bet()">下注</button>
    </div>
  </div>
</template>

<script>
import '@/assets/css/sport.less'
import {Toast} from "vant";
export default {
  name: "sport",
  data() {
    return {
      sportData: [],
      activeType: 1,
      odds: '',
      betShow: false,
      betData:'',
      money:'',
      params:{

      },
      project:'',
      allIndex:0,
      allIndex2:0,
      allIndex3:0,
      allData:'',
      loading:false,
      getOrderFun:null,
      ecid:'',
      ecidType:'ROU|MIX',
      itemList: this.$store.state.itemList2,
      activeIndexList:[],
      p3Type:'',
    }
  },
  created() {
    if(this.$route.query.FIELD == 'cp1'){
      this.p3Type = 'RP3'
    } else if(this.$route.query.FIELD == 'cp2'){
      this.p3Type = 'P3'
    } else if(JSON.stringify(this.$route.query).indexOf('HotGame') != -1) {
      this.p3Type = 'ALL'
    }
    this.getTodaySportsId()
    this.getDataMs()
  },
  mounted() {
  },
  methods: {
    clearItem(){
      this.itemList = []
      this.activeIndexList = []
      this.$store.commit('pushItemList2',this.itemList)
    },
    openBox(){
      if(this.itemList.length > 0){
        this.betShow = true
      }
    },
    toPath:function (){
      this.closeSetInterval()
      this.$router.push({path:'/',query:{classify:1,active:3}})
    },
    newPlayToast:function (){
      Toast('新玩法，敬请期待')
    },
    getDataMs:function (){
      this.closeSetInterval()
      let that = this
      this.getOrderFun = setInterval(function() {
        that.getTodaySportsId()
      }, 30000)
    },
    closeSetInterval() {
      clearInterval(this.getOrderFun)
      this.getOrderFun = null
    },
    getTodaySportsId: function () { //足球数据
      this.loading = true
      let params = {
        // p3Type: 'p3',
        p3Type: this.p3Type,
        lid: this.$route.query.id,
      }
      this.$fetch('sports/hg2/parlay/bk.do', params, false).then(res => {
        this.sportData = []
        for(let index in res){
          for(let index2 in res[index]){
            this.sportData.push(res[index][index2])
          }
        }
        if(this.activeIndexList.length == 0){
          for(let i = 0; i < this.sportData.length; i++){
            let params = {
              gid:this.sportData[i].GID,
              index:0
            }
            this.activeIndexList.push(params)
          }
        }
        this.loading = false
      })
    },
    deleteBet(item){
      for(let index in this.itemList){
        if(this.itemList[index].gid == item.gid){
          this.itemList.splice(index,1)
        }
      }
      for(let index in this.activeIndexList){
        if(this.activeIndexList[index].index == item.activeIndex && this.activeIndexList[index].gid == item.gid){
          this.activeIndexList[index].index = 0
        }
      }
      this.$store.commit('pushItemList2',this.itemList)
    },
    addOrder(item,odds,gameType,type,project,half,index,activeIndex){
      console.log(activeIndex)
      let is = true
      if(!odds){
        Toast('盘口关闭')
        this.betShow = false
        return false
      }
      if(!project){project = ''}
      let e = {
        id:this.$route.query.id,
        type:type,
        gid:item.GID,
        odds:odds,
        scoreH:item.SCORE_H,
        scoreC:item.SCORE_C,
        TEAM_H:item.TEAM_H,
        TEAM_C:item.TEAM_C,
        half:half,
        index:index,
        activeIndex:activeIndex,
      }
      if(type == 'IOR_RC' || type == 'IOR_HRC'){
        if(item.STRONG == 'C'){
          project = '-' + project
        }
      }
      if(project){
        e.project = project
      }
      this.betData = item
      this.params = {
        gameType: 'BK_TD_' + gameType ,
        plate: 'H',
        acceptBestOdds: true,
        items: []
      }
      for(let i in this.itemList){
        if(this.itemList[i].index == index && this.itemList[i].id == this.$route.query.id){
          if(this.itemList[i].activeIndex == activeIndex){
            this.itemList.splice(i,1)
            this.$store.commit('pushItemList2',this.itemList)
            this.activeIndexList[index].index = 0
            this.$forceUpdate();
            is = false
          } else {
            this.itemList.splice(i,1)
            this.$store.commit('pushItemList2',this.itemList)
            break
          }
        }
      }
      if(is){
        this.activeIndexList[index].index = activeIndex
        this.itemList.push(e)
        this.$store.commit('pushItemList2',this.itemList)
        this.$forceUpdate();
      }
    },
    betBox(item,odds,gameType,type,project) {
      if(!odds){
        Toast('盘口关闭')
        this.betShow = false
        return false
      }
      if(!project){project = ''}
      this.money = ''
      let e = {
        type:type,
        gid:item.GID,
        odds:odds,
        scoreH:this.sportData[this.allIndex].SCORE_H,
        scoreC:this.sportData[this.allIndex].SCORE_C,
      }
      if(type == 'IOR_RH' || type == 'IOR_RC'){
        if(item.STRONG == 'C'){
          project = '-' + project
        }
      }
      if(project){
        e.project = project
      }
      this.betData = item
      this.params = {
        gameType: 'FT_TD_' + gameType ,
        plate: 'H',
        acceptBestOdds: true,
        items: []
      }
      this.params.items.push(e)
      this.odds = odds
      this.project = project
      this.betShow = true
    },
    bet(){
      let that = this
      let list = []
      for(let index in this.itemList){
        let e = {
          type:this.itemList[index].type,
          gid:this.itemList[index].gid,
          odds:this.itemList[index].odds,
          scoreH:this.itemList[index].scoreH,
          scoreC:this.itemList[index].scoreC,
          half:this.itemList[index].half,
        }
        if(this.itemList[index].project){
          e.project = this.itemList[index].project
        }
        list.push(e)
      }
      this.params.money = this.money
      this.params.items = list
      let data = {
        data:JSON.stringify(this.params)
      }
      that.$root.common.loading(true)
      this.$http.post(that.$store.state.apiUrl + 'sports/hg2/v2/bet.do', data, {emulateJSON: true}, {credentials: true}).then(function (res) {
        if(res.body.success){
          that.$root.common.loading(false)
          Toast('投注成功')
          this.money = ''
        } else if(res.body.msg) {
          this.money = ''
          Toast(res.body.msg)
        } else {
          this.money = ''
          Toast('赔率变动')
        }
      }, function () {
        console.log('请求失败处理');
      });
      this.itemList = []
      this.$store.commit('pushItemList2',this.itemList)
      this.betShow = false
    },
    sportSplit:function (value){
      if(value){
        if(value.indexOf('O') != -1){
          return value.replace(/O/g,'大')
        } else if(value.indexOf('U') != -1){
          return value.replace(/U/g,'小')
        } else if(value.indexOf('ARG') != -1){
          return value.replace(/ARG/g,'第一个')
        } else if(value.indexOf('BRG') != -1){
          return value.replace(/BRG/g,'第二个')
        } else if(value.indexOf('CRG') != -1){
          return value.replace(/CRG/g,'第三个')
        } else if(value.indexOf('DRG') != -1){
          return value.replace(/DRG/g,'第四个')
        } else if(value.indexOf('ERG') != -1){
          return value.replace(/ERG/g,'第五个')
        } else if(value.indexOf('FRG') != -1){
          return value.replace(/FRG/g,'第六个')
        } else if(value.indexOf('GRG') != -1){
          return value.replace(/GRG/g,'第七个')
        } else{
          return value
        }
      } else {
        return value
      }
    },
    timeSplit:function (value){
      let zIndex = ''
      if(value.indexOf('^') != -1){
        zIndex = value.indexOf('^')
        value = value.substring(0,zIndex) + value.substring(zIndex+1)
      }
      if(value){
        if(value.indexOf('1H') != -1){
          return value.replace(/1H/g,'上半场 ')
        } else if(value.indexOf('2H') != -1){
          return value.replace(/2H/g,'下半场 ')
        } else if(value.indexOf('MTIME') != -1){
          return value.replace(/MTIME/g,'')
        } else if(value.indexOf('p') != -1){
          return value.replace(/p/g,'下午')
        } else if(value.indexOf('a') != -1){
          return value.replace(/a/g,'上午')
        } else {
          return value
        }
      } else {
        return value
      }
    },
  },
}
</script>

<style scoped>

</style>
