<template>
  <div class="login">
    <div class="line title">登录账户</div>
    <div class="line login-input">
      <div class="line">
        <input type="text" v-model="login.name" placeholder="请输入用户名">
      </div>
      <div class="line">
        <input type="password" v-model="login.password" placeholder="请输入密码">
      </div>
      <div class="line">
        <button>登录</button>
      </div>
      <div class="line">
        <router-link to="/register"><span>注册账户</span></router-link><span>|</span><span>找回密码</span>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/login.less'
export default {
  name: "login",
  data(){
    return{
      login:{
        name:'',
        password:''
      }
    }
  },
  created() {
  },
  mounted() {
  },
  watch: {

  },
  methods:{

  },
}
</script>

<style scoped>

</style>
