<template>
  <div class="login">
    <div class="line title">注册账户</div>
    <div class="line login-input">
      <div class="line">
        <input type="text" v-model="register.name" placeholder="请输入用户名">
      </div>
      <div class="line">
        <input type="password" v-model="register.password" placeholder="请输入密码">
      </div>
      <div class="line">
        <input type="password" v-model="register.repeatPass" placeholder="请确认密码">
      </div>
      <div class="line">
        <button>注册</button>
      </div>
      <div class="line">
        <router-link to="/login"><span>已有账户，点此登录</span></router-link><span>|</span><span>在线客服</span>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/login.less'
export default {
  name: "register",
  data(){
    return{
      register:{
        name:'',
        password:'',
        repeatPass:'',
      }
    }
  },
  created() {
  },
  mounted() {
  },
  watch: {

  },
  methods:{

  },
}
</script>

<style scoped>

</style>
