<template>
  <div class="mode">
    <div class="sscCheckNumber">
      <ul v-if="lotteryTemplateType == 1">
        <li v-for="(item, index) in sonData.templateList" :key="index">
          <div class="selectNormal">
            <span class="buyNumberTitle" v-if="params.sonCode == 'zhushipan'"
                  style="width: 100px;">{{ item.name }}<i></i></span>
            <span class="buyNumberTitle" v-else>{{ item.name }}<i></i></span>
            <div class="buyNumber">
                            <span v-if="params.sonCode.indexOf('zuxuan')">
                                <div @click="addCart(index,index2)"
                                     v-for="(list, index2) in sonData.templateList[index].oddPlayItems.slice(0,10)"
                                     :key="index2" style="display: inline-block;text-align: center;">
                                    <a style="margin: 13px 5px 0 5px;display: block;"
                                       :class="{active:list.isActive}">{{ list.name }}</a>
                                    <el-tag size="mini" type="info">{{ list.odds }}</el-tag>
                                </div>
                            </span>
              <span v-else>
                                <div @click="addCartDirect(index,index2)"
                                     v-for="(list, index2) in sonData.templateList[index].oddPlayItems.slice(0,10)"
                                     :key="index2" style="display: inline-block;text-align: center;">
                                    <a style="margin: 13px 5px 0 5px;display: block;"
                                       :class="{active:list.isActive}">{{ list.name }}</a>
                                    <el-tag size="mini" type="info">{{ sonData.zuxuanPeilv }}</el-tag>
                                </div>
                            </span>
            </div>
            <div class="buyNumberFilter" style="width: 85px;">
              <div @click="addCart(index,index2+10)"
                   v-for="(list, index2) in sonData.templateList[index].oddPlayItems.slice(10)" :key="index2"
                   style="display: inline-block;text-align: center;">
                <a style="display: block;" :class="{active:list.isActive}">{{ list.name }}</a>
                <!--                                <el-tag size="mini" type="info" style="color: #CC6699;">赔: {{list.odds}}</el-tag>-->
              </div>
            </div>
          </div>
        </li>
      </ul>
      <ul v-else-if="lotteryTemplateType == 2">
        <li v-for="(item, index) in sonData.templateList" :key="index">
          <div class="selectNormal">
            <span class="buyNumberTitle">{{ item.name }}<i></i></span>
            <div class="buyNumber" style="text-align: left;padding: 0 115px;">
              <div @click="addCart(index,index2)" v-for="(list, index2) in sonData.templateList[index].oddPlayItems"
                   :key="index2" style="display: inline-block;text-align: center;">
                <a style="margin: 13px 5px 0 5px;width: 80px;border-radius:5px;display: block;"
                   :class="{active:list.isActive}">{{ list.name }}</a>
                <el-tag size="mini" type="info">{{ list.odds }}</el-tag>
              </div>
            </div>
          </div>
        </li>
      </ul>
      <ul v-else-if="lotteryTemplateType == 3">
        <li v-for="(item, index) in sonData.templateList" :key="index">
          <div class="selectNormal">
            <span class="buyNumberTitle">{{ item.name }}<i></i></span>
            <div class="buyNumber" style="text-align: left;">
              <div @click="addCart(index,index2)" v-for="(list, index2) in sonData.templateList[index].oddPlayItems"
                   :key="index2" style="display: inline-block;text-align: center;">
                <a style="display: block;" :class="{active:list.isActive}">{{ list.name }}</a>
                <el-tag size="mini" type="info">{{ list.odds }}</el-tag>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import $ from 'jquery'
import lotteryHtml from '@/assets/json/lotteryTemplate/dpc.json'

export default {
  name: "official",
  props: ['sonData', 'params', 'lottery'],
  data() {
    return {
      lotteryTemplateType: 1,
    }
  },
  created: function () {
    this.showTemplate()
  },
  mounted: function () {
  },
  watch: {},
  methods: {
    // 选中号码
    addCart: function (index, index2) {
      this.$parent.addCart(index, index2)
      this.$forceUpdate()
    },
    // 组选选中号码
    addCartDirect: function (index, index2) {
      this.$parent.addCartDirect(index, index2)
      this.$forceUpdate()
    },
    // 给小于10的号码加零
    addZero: function (num, three) {
      if (three) {
        num < 10 ? num = '0' + num : num = '' + num;
        num < 100 ? num = '0' + num : num = '' + num;
      } else {
        num < 10 ? num = '0' + num : num = '' + num;
      }
      return num;
    },
    // 填充json数据
    showTemplate: function () {
      let that = this
      let data = lotteryHtml.data
      for (let i in data) {
        if (data[i].playName == this.params.sonCode) {
          that.sonData.templateList = data[i].data
          // 获取当前玩法数据
          $.each(this.lottery.rules, function (index, item) {
            $.each(item.rules, function (index2, item2) {
              if (item2.code == that.params.sonCode) {
                that.sonData.thatPlayType = item.rules
              }
            })
          })
          // 填充玩法数据
          $.each(that.sonData.thatPlayType, function (index, item) {
            if (item.code == that.params.sonCode) {
              let dxdzzh = '', list = [];
              switch (that.params.sonCode) {
                case '13qiu':
                  that.lotteryTemplateType = 1
                  dxdzzh = item.oddPlayItems.slice(1, 5);
                  for (let n in that.sonData.templateList) {
                    list = [];
                    // 填充其他
                    for (let i = 0; i < 10; i++) {
                      let obj = that.sonData.thatPlayType[0].oddPlayItems[0];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.classify = that.sonData.templateList[n].name + '--' + i;
                      newobj.name = i;
                      list.push(newobj)
                    }
                    for (let i = 0; i < dxdzzh.length; i++) {
                      let obj = dxdzzh[i];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = dxdzzh[i].name;
                      newobj.classify = that.sonData.templateList[n].name + '--' + dxdzzh[i].name;
                      list.push(newobj)
                    }
                    that.sonData.templateList[n].oddPlayItems = list
                  }
                  break;
                case 'zhenghe':
                  that.lotteryTemplateType = 2
                  for (let n in that.sonData.templateList) {
                    list = [];
                    // 填充其他
                    if (n == 0) {
                      for (let i = 0; i < 10; i++) {
                        let obj = that.sonData.thatPlayType[0].oddPlayItems[0];
                        let newobj = [];
                        for (let k in obj) {

                          newobj[k] = obj[k]
                        }
                        newobj.classify = that.sonData.templateList[n].name + '--' + i;
                        newobj.name = i;
                        list.push(newobj)
                      }
                    } else if (n == 1) {
                      let data = that.sonData.thatPlayType[0].oddPlayItems.slice(1, 11)
                      for (let i = 0; i < data.length; i++) {
                        let obj = data[i];
                        let newobj = [];
                        for (let k in obj) {
                          newobj[k] = obj[k]
                        }
                        newobj.name = data[i].name;
                        newobj.classify = that.sonData.templateList[n].name + '--' + data[i].name;
                        list.push(newobj)
                      }
                    } else if (n == 2) {
                      let data = that.sonData.thatPlayType[0].oddPlayItems.slice(11, 15)
                      for (let i = 0; i < data.length; i++) {
                        let obj = data[i];
                        let newobj = [];
                        for (let k in obj) {
                          newobj[k] = obj[k]
                        }
                        newobj.name = data[i].name;
                        newobj.classify = data[i].name;
                        list.push(newobj)
                      }
                    } else if (n == 3) {
                      let data = that.sonData.thatPlayType[0].oddPlayItems.slice(15, 18)
                      for (let i = 0; i < data.length; i++) {
                        let obj = data[i];
                        let newobj = [];
                        for (let k in obj) {
                          newobj[k] = obj[k]
                        }
                        newobj.name = data[i].name;
                        newobj.classify = data[i].name;
                        list.push(newobj)
                      }
                    } else if (n == 4) {
                      let data = that.sonData.thatPlayType[0].oddPlayItems.slice(18)
                      for (let i = 0; i < data.length; i++) {
                        let obj = data[i];
                        let newobj = [];
                        for (let k in obj) {
                          newobj[k] = obj[k]
                        }
                        newobj.name = data[i].name;
                        newobj.classify = data[i].name;
                        list.push(newobj)
                      }
                    }
                    that.sonData.templateList[n].oddPlayItems = list
                  }
                  break;
                case 'zhushipan':
                  that.lotteryTemplateType = 1
                  dxdzzh = item.oddPlayItems.slice(1, 5);
                  for (let n in that.sonData.templateList) {
                    if (n < 7) {
                      dxdzzh = ['大', '小', '单', '双', '质', '合']
                    } else {
                      dxdzzh = ['大', '小', '单', '双']
                    }
                    list = [];
                    // 填充其他
                    for (let i = 0; i < dxdzzh.length; i++) {
                      let obj = item.oddPlayItems[0];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = dxdzzh[i];
                      newobj.classify = that.sonData.templateList[n].name + '--' + dxdzzh[i];
                      newobj.odds = that.sonData.thatPlayType[0].oddPlayItems[0].odds
                      list.push(newobj)
                    }
                    that.sonData.templateList[n].oddPlayItems = list
                  }
                  break;
                case 'yizizuhe':
                  that.lotteryTemplateType = 1
                  dxdzzh = ['大', '小', '单', '双', '质', '合']
                  // 填充数字
                  for (let i = 0; i < 10; i++) {
                    let obj = that.sonData.thatPlayType[0].oddPlayItems[0];
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.classify = i;
                    newobj.name = i;
                    list.push(newobj)
                  }
                  that.sonData.templateList[0].oddPlayItems = list
                  for (let n in that.sonData.templateList) {
                    list = [];
                    // 填充其他
                    for (let i = 0; i < dxdzzh.length; i++) {
                      let obj = that.sonData.thatPlayType[0].oddPlayItems[1];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = dxdzzh[i];
                      newobj.classify = that.sonData.templateList[n].name + '--' + dxdzzh[i];
                      list.push(newobj)
                    }
                    n > 0 ? that.sonData.templateList[n].oddPlayItems = list : ''
                  }
                  break;
                case 'erzizuhe':
                case 'sanzizuhe':
                  that.lotteryTemplateType = 3
                  list = [];
                  // 填充其他
                  for (let i = 0; i < that.sonData.thatPlayType[0].oddPlayItems.length; i++) {
                    let obj = that.sonData.thatPlayType[0].oddPlayItems[i];
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = that.sonData.thatPlayType[0].oddPlayItems[i].name;
                    newobj.classify = that.sonData.thatPlayType[0].oddPlayItems[i].name;
                    list.push(newobj)
                  }
                  that.sonData.templateList[0].oddPlayItems = list
                  break;
                case 'baishidingwei':
                case 'baigedingwei':
                case 'shigedingwei':
                  that.lotteryTemplateType = 3
                  for (let n in that.sonData.templateList) {
                    list = [];
                    // 填充其他
                    for (let i = 0; i < 100; i++) {
                      let obj = that.sonData.thatPlayType[n].oddPlayItems[0];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = that.addZero(i, false);
                      newobj.classify = that.addZero(i, false);
                      list.push(newobj)
                    }
                    that.sonData.templateList[n].oddPlayItems = list
                  }
                  break;
                case 'sanzidingwei':
                  that.lotteryTemplateType = 3
                  for (let n in that.sonData.templateList) {
                    list = [];
                    // 填充其他
                    for (let i = 0; i < 1000; i++) {
                      let obj = that.sonData.thatPlayType[n].oddPlayItems[0];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.name = that.addZero(i, true);
                      newobj.classify = that.addZero(i, true);
                      list.push(newobj)
                    }
                    that.sonData.templateList[n].oddPlayItems = list
                  }
                  break;
                case 'baishiheshu':
                case 'baigeheshu':
                case 'shigeheshu':
                case 'sanziheshu':
                  that.lotteryTemplateType = 2
                  dxdzzh = item.oddPlayItems.slice(0, 11);
                  if (that.params.sonCode == 'sanziheshu') {
                    dxdzzh = item.oddPlayItems.slice(0, 16);
                  }
                  for (let i = 0; i < dxdzzh.length; i++) {
                    let obj = dxdzzh[i];
                    let newobj = [];
                    for (let k in obj) {
                      newobj[k] = obj[k]
                    }
                    newobj.name = dxdzzh[i].name;
                    newobj.classify = dxdzzh[i].name;
                    list.push(newobj)
                  }
                  that.sonData.templateList[1].oddPlayItems = list
                  for (let n in that.sonData.templateList) {
                    list = [];
                    // 填充数字
                    for (let i = 0; i < 10; i++) {
                      let obj = '';
                      if (that.params.sonCode == 'sanziheshu') {
                        obj = item.oddPlayItems[16];
                      } else {
                        obj = item.oddPlayItems[11];
                      }
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.classify = that.sonData.templateList[n].name + '--' + i;
                      newobj.name = i;
                      list.push(newobj)
                    }
                    n == 0 ? that.sonData.templateList[n].oddPlayItems = list : ''
                  }
                  break;
                case 'zuxuansan':
                case 'zuxuanliu':
                  that.lotteryTemplateType = 1
                  for (let n in that.sonData.templateList) {
                    list = [];
                    // 填充数字
                    for (let i = 0; i < 10; i++) {
                      let obj = item.oddPlayItems[0];
                      let newobj = [];
                      for (let k in obj) {
                        newobj[k] = obj[k]
                      }
                      newobj.classify = i;
                      newobj.name = i;
                      list.push(newobj)
                    }
                    that.sonData.templateList[n].oddPlayItems = list
                  }
                  break;
              }
            }
          })
        }
      }
    },
  }
}
</script>

<style scoped>

</style>
