<template>
  <div class="changePassword">
    <div class="header">
      <div class="left">
        <router-link to="/personal">
          <van-icon name="arrow-left"/>
        </router-link>
      </div>
      {{$t('password[0].label')}}
    </div>
    <div class="main">
      <div class="container">
        <div class="form-group"><input type="password" v-model="pass.oldpwd" :placeholder="$t('password[4].label')"></div>
        <div class="form-group"><input type="password" v-model="pass.pwd" :placeholder="$t('password[5].label')"></div>
        <div class="form-group"><input type="password" v-model="pass.pwd2" :placeholder="$t('password[6].label')"></div>
        <div class="button">
          <button @click="updatePass()">{{$t('toast[3].label')}}</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/changePassword.less'
import {Toast} from "vant";

export default {
  name: "changeSecurityPassword",
  data() {
    return {
      pass:{
        oldpwd:'',
        pwd:'',
        pwd2:'',
      }
    }
  },
  created() {
  },
  mounted() {
  },
  methods: {
    updatePass:function (){
      if(this.pass.pwd != this.pass.pwd2){
        Toast(this.$t('login[14].label'))
        return false
      }
      this.$post('user/pwd_pay', this.pass, true).then((res) => {
        if (res.code == 200) {
          Toast(res.message)
        } else {
          Toast(res.message)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>