<template>
  <div class="withdrawal">
    <div class="header">
      <div class="left"><router-link to="/"><van-icon name="arrow-left" /></router-link></div>
      {{$t('personal[8].label')}}
    </div>
    <div class="main">
      <div class="container">
        <div class="form-group"><input type="text" :placeholder="$t('withdrawal[6].label')" v-model="address"></div>
        <div class="button">
          <button @click="tronWithdrawal()" v-if="!$store.state.userInfo.address">{{$t('toast[3].label')}}</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/withdrawal.less'
import {Toast} from "vant";
export default {
  name: "withdrawal",
  data() {
    return {
      address:this.$store.state.userInfo.address
    }
  },
  created() {
  },
  mounted() {
    console.log(this.$store.state.userInfo)
  },
  methods: {
    tronWithdrawal: function () {
      let params = {
        token: this.$store.state.token,
        address:this.address
      }
      this.$post('user/withdrawal', params, true).then((res) => {
        if (res.code == 200) {
          Toast(res.message)
          this.$router.push({path: '/login'})
        } else {
          Toast(res.message)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>