<template>
  <div class="invest-apply">
    <div class="header">
      <div class="left">
        <router-link to="/">
          <van-icon name="arrow-left"/>
        </router-link>
      </div>
      {{$t('investApply[0].label')}}
    </div>
    <div class="deck">
      <div class="money">
        <div class="left">
          <span>{{$t('investApply[1].label')}}</span>
          <br>
          <span>{{$store.state.money}}</span>
        </div>
        <div class="right">
          <img src="@/assets/images/invest_user.png" alt="">
        </div>
      </div>
    </div>
    <div class="info">
      <div class="item">
        <div class="order"><span>{{$t('investApply[2].label')}}</span> <span><input type="number" v-model="money" :placeholder="money" style="text-align: right"></span></div>
        <div class="order"><span>{{$t('investApply[3].label')}}</span> <span>{{detailData.max}}</span></div>
        <div class="order"><span>{{$t('investApply[4].label')}}</span> <span>{{detailData.day}}</span></div>
        <div class="order"><span>{{$t('investApply[5].label')}}</span> <span>{{detailData.rate}}%</span></div>
        <div class="order"><span>{{$t('investApply[6].label')}}</span> <span>1</span></div>
      </div>
    </div>
    <div class="info">
      <div class="item">
<!--        <div class="order">-->
<!--          <span>{{$t('index[9].label')}}</span>-->
<!--          <span style="float: none"><input type="text"></span>-->
<!--        </div>-->
        <div class="order">
          <span>{{$t('investApply[7].label')}}</span>
          <span style="float: none"><input type="password" v-model="password" :placeholder="$t('investApply[7].label')"></span>
        </div>
        <div class="order">
          <span></span>
          <span style="float: right;color: rgb(194, 12, 12);">{{money}}+({{money}}*{{detailData.rate/100}}*{{detailData.day}})={{parseInt(money)+(money*(detailData.rate/100)*detailData.day)}}</span>
        </div>
      </div>
    </div>
    <div class="button">
      <button @click="postInvest()">{{$t('investApply[8].label')}}</button>
    </div>
  </div>
</template>

<script>
import '@/assets/css/investApply.less'
import {Toast} from "vant";

export default {
  name: 'investApply',
  data() {
    return {
      password:'',
      detailData:'',
      money:''
    }
  },
  created: function () {
    this.getInvest()
  },
  mounted: function () {
  },
  methods: {
    postInvest: function () {
      let params = {
        token: this.$store.state.token,
        id: this.$route.query.id,
        pwd: this.password,
        money: this.money,
      }
      this.$post('mobile/from_post', params, true).then((res) => {
        if (res.code == 200) {
          Toast('投标成功')
          this.$router.push({path:'/personal'})
        } else {
          Toast(res.message)
        }
      })
    },
    getInvest: function () {
      let params = {
        token: this.$store.state.token,
        id: this.$route.query.id,
      }
      this.$post('mobile/detail', params, true).then((res) => {
        if (res.code == 200) {
          this.detailData = res.data
          this.money = this.detailData.min
        } else {
          Toast(res.message)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>
