<template>
  <div class="login">
<!--    <div class="header">-->
<!--      <div class="left"><router-link to="/register">{{$t('login[0].label')}}</router-link></div>-->
<!--    </div>-->
    <head_nav></head_nav>
    <div class="logo">
      <img src="@/assets/images/loginlogo.3dae9f98.png" alt="">
    </div>
    <div class="login-input">
      <div class="item">
        <label>{{$t('login[1].label')}}</label><br><input type="number" v-model="loginData.account">
      </div>
      <div class="item">
        <label>{{$t('login[2].label')}}</label><br><input type="password" v-model="loginData.password">
      </div>
      <div class="item">
        <van-switch v-model="rememberPass" active-color="#ff1964" inactive-color="#dcdee0" /><span>{{$t('login[3].label')}}</span>
      </div>
    </div>
    <div class="button">
      <button class="login-button" @click="login()">{{$t('login[4].label')}}</button>
      <router-link to="/register"><button class="register-button">{{$t('login[0].label')}}</button></router-link>
    </div>
    <!--    13701443735 123456-->
    <!--    406 * 870 -->
  </div>
</template>

<script>
import head_nav from '@/components/include/head_nav'
import '@/assets/css/login.less'
import {Toast} from 'vant';
export default {
  name: "login",
  data() {
    return {
      loginData: {
        account: '',
        password: ''
      },
      rememberPass: false,
    }
  },
  components:{
    head_nav
  },
  created() {
    this.getRememberPass()
    // this.tron()
  },
  mounted() {
  },
  methods: {
    getRememberPass:function (){
      let account = localStorage.getItem("account");
      let password = localStorage.getItem("password");
      if(account != 'false' && password != 'false'){
        this.loginData.account = account
        this.loginData.password = password
        this.rememberPass = true
      }
    },
    login:function (){
      let params = this.loginData
      this.$post('mobile/login', params, true).then((res) => {
        if (res.code == 200) {
          if(this.rememberPass){
            localStorage.setItem("account",this.loginData.account);
            localStorage.setItem("password",this.loginData.password);
          } else {
            localStorage.setItem("account",'false');
            localStorage.setItem("password",'false');
          }
          this.$store.commit('pushUserInfo', res.data)
          this.$store.commit('pushToken', res.data.token)
          this.$store.commit('pushMoney', res.data.money)
          this.$store.commit('pushMoney2', res.data.money_two)
          this.$store.commit('pushIsLogin', true)
          this.$router.push({path: '/'})
          Toast(this.$t('login[5].label'))
        } else {
          // this.tron()
          Toast(res.message)
        }
      })
    },
    tron:function (){
      this.$post('tron/tron_create_address', {}, true).then((res) => {
        console.log(res)
      })
    },
  }
}
</script>

<style scoped>

</style>