<template>
  <div class="notice" style="background: #f0f3f7;">
    <div class="header">
      <div class="left"><router-link to="/"><van-icon name="arrow-left" /></router-link></div>
      {{$t('personal[7].label')}}
    </div>
    <div class="content">
      <div class="container" v-html="content"></div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/notice.less'
export default {
  name: "noticeDetail",
  data() {
    return {
      content:''
    }
  },
  created() {
    this.content = this.$route.query.content
  },
  mounted() {
  },
  methods: {

  }
}
</script>

<style scoped>
.content{
  padding: 20px;
}
.container{
  background: #ffffff;
  border-radius: 10px;
  height: 80vh;
  box-shadow: 0 2px 5px rgb(0 0 0 / 5%);
  padding: 10px;
}
</style>