<template>
  <div class="notice">
    <div class="header">
      <div class="left"><router-link to="/"><van-icon name="arrow-left" /></router-link></div>
      {{$t('personal[7].label')}}
    </div>
    <div class="content">
      <div class="container">
        <div class="list" @click="$router.push({path: '/noticeDetail',query:noticeData})">
          <div class="left"><img src="@/assets/images/notice18n.29mol.png" alt=""></div>
          <div class="right">
            <span class="title">{{noticeData.title}}</span>
            <br>
            <span class="des">{{noticeData.detail}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/notice.less'
import {Toast} from "vant";
export default {
  name: "notice",
  data() {
    return {
      noticeData:''
    }
  },
  created() {
    this.getNotice()
  },
  mounted() {
  },
  methods: {
    getNotice: function () {
      let params = {
        token: this.$store.state.token,
      }
      this.$post('notice/notice', params, true).then((res) => {
        if (res.code == 200) {
          this.noticeData = res.data
        } else {
          Toast(res.message)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>