<template>
  <div class="profit">
    <div class="header">
      <div class="left">
        <router-link to="/personal">
          <van-icon name="arrow-left"/>
        </router-link>
      </div>
      {{$t('profit[0].label')}}
    </div>
    <div class="main">
      <div class="container">
<!--        <div class="date-select">-->
<!--          <div class="date" @click="show = true"><img src="@/assets/images/rili.png" alt="">{{date.start}}</div>-->
<!--          ~-->
<!--          <div class="date" @click="show = true"><img src="@/assets/images/rili.png" alt="">{{date.end}}</div>-->
<!--          <img src="@/assets/images/search.png" alt="" class="search">-->
<!--          <van-calendar v-model="show" type="range" @confirm="onConfirm" />-->
<!--        </div>-->
        <div class="card">
          <div>
            <span>{{$t('profit[1].label')}}</span><br>
            <span>{{$store.state.money}}TRX</span>
          </div>
          <div>
            <span>{{$t('profit[4].label')}}</span><br>
            <span>{{$store.state.money2}} TRX</span>
          </div>
        </div>
        <div class="table-header">
          <div>{{$t('profit[2].label')}}</div>
<!--          <div>{{$t('profit[5].label')}}</div>-->
          <div>{{$t('profit[3].label')}}</div>
        </div>
        <div class="table-body" v-for="(item, index) in fundsData" :key="index">
          <div>{{(item.time).substring(0,10)}}</div>
          <div>{{item.money}}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/profit.less'
import {Toast} from "vant";

export default {
  name: "profit",
  data() {
    return {
      show:false,
      date:{
        start:'',
        end:''
      },
      fundsData:''
    }
  },
  created() {
    this.getFunds()
  },
  mounted() {
  },
  methods: {
    onConfirm(date) {
      const [start, end] = date;
      this.show = false;
      this.date.start = this.$root.common.getMyDate(start);
      this.date.end = this.$root.common.getMyDate(end);
    },
    getFunds: function () {
      let params = {
        token: this.$store.state.token,
      }
      this.$post('user/funds', params, true).then((res) => {
        if (res.code == 200) {
          this.fundsData = res.data
        } else {
          Toast(res.message)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>