<template>
  <div class="recharge">
    <div class="header">
      <div class="left"><router-link to="/"><van-icon name="arrow-left" /></router-link></div>
    </div>
    <div class="main">
      <div class="menus">
        <div class="left" @click="$router.push({path:'/rechargeCode',query:{type:1}})"><img src="@/assets/images/chongzhi.png" alt=""><br><br>{{$t('recharge[0].label')}}</div>
        <div class="right" @click="$router.push({path:'/rechargeCode',query:{type:2}})"><img src="@/assets/images/touzixiangmu.png" alt=""><br><br>{{$t('recharge[1].label')}}</div>
      </div>
      <div class="tips">
        <div class="list">{{$t('recharge[2].label')}}</div>
        <div class="list">{{$t('recharge[3].label')}}</div>
        <div class="list">{{$t('recharge[4].label')}}</div>
        <div class="list">{{$t('recharge[5].label')}}</div>
        <div class="list">{{$t('recharge[6].label')}}</div>
        <div class="list">{{$t('recharge[7].label')}}</div>
        <div class="list">{{$t('recharge[8].label')}}</div>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/recharge.less'
export default {
  name: "recharge",
  data() {
    return {
    }
  },
  created() {
  },
  mounted() {
  },
  methods: {}
}
</script>

<style scoped>

</style>