<template>
  <div class="rechargeCode">
    <div class="header">
      <div class="left"><router-link to="/recharge"><van-icon name="arrow-left" /></router-link></div>
    </div>
    <div class="title">{{$t('recharge[0].label')}}</div>
    <div class="qrcode"><img :src="tronData.img" alt=""></div>
    <div class="des">{{$t('rechargeCode[0].label')}}</div>
    <div class="content">
      <div class="copy">
        <div class="left"><input type="text" :value="tronData.address" readonly></div>
        <div class="right"><button class="tag-read" :data-clipboard-text="tronData.address" @click="copy()">{{$t('rechargeCode[1].label')}}</button></div>
      </div>
      <div class="bg-white">
        <span>{{$t('rechargeCode[2].label')}}</span><br>
        <span style="color: red;">{{$t('rechargeCode[3].label')}}</span>
      </div>
      <div class="button">
        <button @click="tronRechargePost()">{{$t('rechargeCode[4].label')}}</button>
      </div>
    </div>

  </div>
</template>

<script>
import '@/assets/css/rechargeCode.less'
import {Toast} from "vant";
import Clipboard from "clipboard";
export default {
  name: "rechargeCode",
  data() {
    return {
      type:this.$route.query.type,
      tronData:{
        address:'',
        img:''
      },
    }
  },
  created() {
    this.getTron()
  },
  mounted() {
    console.log(this.$store.state.userInfo)
  },
  methods: {
    getTron:function (){
      let params = {
        token:this.$store.state.token
      }
      this.$post('tron/tronRecharge',params,true).then((res) => {
        if(res.code == 200){
          if(this.type == 1){
            this.tronData.address = res.data.jichu_address
            this.tronData.img = res.data.qcode.jichu_address
          } else {
            this.tronData.address = res.data.tuiguang_address
            this.tronData.img = res.data.qcode.tuiguang_address
          }
        } else {
          Toast(res.message)
        }
      })
    },
    tronRechargePost:function (){
      let params = {
        token:this.$store.state.token,
        drwer_address:this.$store.state.userInfo.address,
        recharge_add:this.tronData.address,
        type:this.type,
      }
      this.$post('tron/tronRechargePost',params,true).then((res) => {
        if(res.code == 200){
          console.log(res)
          this.$router.push({path:'/personal'})
        } else {
          Toast(res.message)
        }
      })
    },
    copy:function (){
      var clipboard = new Clipboard('.tag-read')
      clipboard.on('success', e => {
        Toast(this.$t('share[5].label'))
        console.log(e)
        //  释放内存
        clipboard.destroy()
      })
      clipboard.on('error', e =>{
        // 不支持复制
        Toast('errot')
        console.log(e)
        // 释放内存
        clipboard.destroy()
      })
    },
  }
}
</script>

<style scoped>

</style>
