<template>
  <div class="login">
    <div class="header">
      <div class="left"><router-link to="/login"><van-icon name="arrow-left" /></router-link></div>
    </div>
    <div class="register-input">
      <div class="item"><input type="number" :placeholder="$t('login[6].label')" v-model="registerData.phone"></div>
      <div class="item"><input type="password" :placeholder="$t('login[7].label')" v-model="registerData.pwd"></div>
      <div class="item"><input type="password" :placeholder="$t('login[8].label')" v-model="registerData.pwd2"></div>
<!--      <div class="item"><input type="text" :placeholder="$t('login[9].label')" v-model="registerData.smscode"><button class="code" @click="getPhoneCode()">{{$t('login[10].label')}}</button></div>-->
      <div class="item"><input type="number" :placeholder="$t('login[11].label')" v-model="code"></div>
    </div>
    <div class="button">
      <button class="login-button"  @click="register()">{{$t('login[0].label')}}</button>
      <router-link to="/login"><button class="register-button">{{$t('login[4].label')}}</button></router-link>
    </div>
    <div class="font_box">
      <div class="item">
        <van-switch v-model="checked" active-color="#ff1964" inactive-color="#dcdee0" /><span>{{$t('login[12].label')}}</span>
      </div>
      <div class="tip">
        {{$t('login[13].label')}}
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/login.less'
import {Toast} from 'vant'
export default {
  name: "register",
  data() {
    return {
      codeStatus:1,
      checked:true,
      registerData:{
        phone:'',
        pwd:'',
        pwd2:'',
        // smscode:'',
        md5:'1',
      },
      code:this.$route.query.top || '',
    }
  },
  created() {
  },
  mounted() {
    if(this.$route.query.id){
      this.code =this.$route.query.id
    }
  },
  methods: {
    getPhoneCode:function (){
      let params = {
        phone:this.registerData.phone,
        dest:'86',
      }
      if(!this.$root.common.dataSafeValidate(1,this.registerData.phone)){
        return false
      }
      this.$post('handle/zhuce',params,true).then((res) => {
        if(res.code == 200){
          Toast(this.$t('login[15].label'))
        } else {
          Toast(res.message)
        }
      })
    },
    register:function (){
      let params = this.registerData
      if(params.pwd != params.pwd2){
        Toast(this.$t('login[14].label'))
        return false
      }
      params.code = this.code
      this.$post('mobile/reg',params,true).then((res) => {
        if(res.code == 200){
          Toast(this.$t('login[16].label'))
          this.$router.push({path:'/login'})
        } else {
          Toast(res.message)
        }
      })
    }
  }
}
</script>

<style scoped>

</style>