<template>
  <div class="team">
    <div class="header">
      <div class="left"><router-link to="/"><van-icon name="arrow-left" /></router-link></div>
      {{$t('index[6].label')}}
    </div>
    <div class="main">
      <div class="container">
        <div class="card">
          <div class="top"><button>Level 1</button><button>Level 2</button><button>Level 3</button></div>
          <div class="bottom"><div>1</div><div>0</div><div>0</div></div>
        </div>
        <div class="table-header">
          <div>{{$t('profit[2].label')}}</div>
          <div>{{$t('profit[3].label')}}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/team.less'
export default {
  name: "team",
  data() {
    return {
    }
  },
  created() {
  },
  mounted() {
  },
  methods: {}
}
</script>

<style scoped>

</style>