<template>
  <div class="tradelist">
    <div class="header">
      <div class="left">
        <router-link to="/">
          <van-icon name="arrow-left"/>
        </router-link>
      </div>
      {{$t('profit[0].label')}}
    </div>
    <div class="main">
      <div class="container">
        <div class="date-select">
          <div class="date" @click="show = true"><img src="@/assets/images/rili.png" alt="">{{date.start}}</div>
          ~
          <div class="date" @click="show = true"><img src="@/assets/images/rili.png" alt="">{{date.end}}</div>
          <img src="@/assets/images/search.png" alt="" class="search">
          <van-calendar v-model="show" type="range" @confirm="onConfirm" />
        </div>
        <div class="list">
          <div class="item">
            <div class="left">
              量化交易收入
              <br>
              2022-03-05 13:48:53
            </div>
            <div class="right">
              <span>56.4921 TRX</span>
              <br>
              <button>{{$t('tradin[4].label')}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/tradelist.less'

export default {
  name: "tradelist",
  data() {
    return {
      show:false,
      date:{
        start:'',
        end:''
      }
    }
  },
  created() {
  },
  mounted() {
  },
  methods: {

  }
}
</script>

<style scoped>

</style>