<template>
  <div class="transfer">
    <div class="header">
      <div class="left">
        <router-link to="/personal">
          <van-icon name="arrow-left"/>
        </router-link>
      </div>
      {{$t('personal[4].label')}}
    </div>
    <div class="main">
      <div class="container">
        <div class="card">
          <div>
            <span>{{$t('profit[1].label')}}</span><br>
            <span>{{$store.state.money}}TRX</span>
          </div>
          <div>
            <span>{{$t('profit[4].label')}}</span><br>
            <span>{{$store.state.money2 || 0}}TRX</span>
          </div>
        </div>
        <div class="form-group"><input type="number" :placeholder="$t('transfer[0].label')" v-model="params.money"></div>
        <div class="form-group"><input type="password" :placeholder="$t('transfer[1].label')" v-model="params.pwd"></div>
        <div class="button">
          <button @click="tronBanlanceMove()">{{$t('toast[3].label')}}</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/transfer.less'
import {Toast} from "vant";

export default {
  name: "transfer",
  data() {
    return {
      show:false,
      date:{
        start:'',
        end:''
      },
      params:{
        money:'',
        pwd:'',
      }
    }
  },
  created() {
  },
  mounted() {
  },
  methods: {
    tronBanlanceMove: function () {
      this.$post('tron/tronBanlanceMove', this.params, true).then((res) => {
        if (res.code == 200) {
          console.log(res)
        } else {
          Toast(res.message)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>