<template>
  <div class="withdrawal">
    <div class="header">
      <div class="left"><router-link to="/"><van-icon name="arrow-left" /></router-link></div>
      {{$t('index[4].label')}}
    </div>
    <div class="main">
      <div class="container">
        <div class="des" style="color: #6c757d;">{{$t('withdrawal[0].label')}}（TRX） </div>
        <div class="des" style="color: #ff5340">{{$t('withdrawal[1].label')}} </div>
        <div class="balance" v-if="params.type == 1">{{$store.state.money}}</div>
        <div class="balance" v-else>{{$store.state.money2 || 0}}</div>
        <div class="des" style="color: #6c757d">{{$t('withdrawal[2].label')}}：<span style="color: #20c2ce;">0.00</span></div>
        <div class="menu" @click="show = true">{{type}}</div>
        <van-action-sheet v-model="show" :actions="actions" @select="onSelect" cancel-text="取消" />
        <div class="form-group"><input type="number" :placeholder="$t('withdrawal[5].label')" v-model="params.money"></div>
        <div class="des" style="color: red;text-align: left;">{{$t('withdrawal[3].label')}}：0.00，{{$t('withdrawal[4].label')}}0.00 </div>
<!--        <div class="form-group">-->
<!--          <textarea maxlength="140" style="overflow-y: auto;height: 66px;" :placeholder="$t('withdrawal[6].label')"></textarea>-->
<!--        </div>-->
        <div class="form-group"><input type="number" :placeholder="$t('transfer[1].label')" v-model="params.pwd"></div>
        <div class="button">
          <button @click="tronWithdrawal()">{{$t('toast[3].label')}}</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/withdrawal.less'
import {Toast} from "vant";
export default {
  name: "withdrawal",
  data() {
    return {
      show:false,
      actions: [{ name: this.$t('index[8].label'),index:1 }, { name: this.$t('index[9].label'),index:2 }],
      type:'',
      params:{
        token: this.$store.state.token,
        money:'',
        pwd:'',
        type:1,
      }
    }
  },
  created() {
    this.type = this.actions[0].name
    if(!this.$store.state.userInfo.address){
      this.$router.push({path: '/drwerAddress'})
    }
  },
  mounted() {
    console.log(this.$store.state.userInfo)
  },
  methods: {
    onSelect:function (item){
      // 默认情况下点击选项时不会自动收起
      // 可以通过 close-on-click-action 属性开启自动收起
      this.show = false;
      this.type = item.name
      this.params.type = item.index
    },
    tronWithdrawal: function () {
      this.$post('tron/tronWithdrawal', this.params, true).then((res) => {
        if (res.code == 200) {
          Toast(res.message)
        } else {
          Toast(res.message)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>