<template>
    <div class="scroll-data">
        <table id="scroll-1">
            <tbody>
                <tr v-for="(item, index) in rollList" :key="index"><td><img :src="item.headUrl"><p class="nicheng">{{item.account || '***'}}<span>在{{item.type || '十分六合彩'}}</span><br>喜中：<i>{{item.winMoney || 900}}</i></p></td></tr>
            </tbody>
        </table>
        <table id="scroll-2">
            <tbody>
                <tr v-for="(item, index) in rollList" :key="index"><td><img :src="item.headUrl"><p class="nicheng">{{item.account || '***'}}<span>在{{item.type || '十分六合彩'}}</span><br>喜中：<i>{{item.winMoney || 900}}</i></p></td></tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import $ from  'jquery'
    import {http_ajax} from '@/assets/js/resource'
    export default {
        name: "scroll",
        props: ['list', 'time', 'height'],
        data(){
            return {
                heightRoll:0,
                boxHeight: 0,
                rollList:''
            }
        },
        created:function(){
          this.getRollList()
        },
        mounted:function(){
        },
        methods:{
            //获取彩种列表
            getRollList:function () {
                http_ajax('post', 'native/getWinData.do',{}).then(res =>{
                    this.rollList = res.content
                })
            },
        },
        watch:{
            rollList(newName) {
                let heightRoll = 0, boxHeight=0, height = this.height || 57.15;
                boxHeight = newName.length * height
                clearInterval(this.$store.state.rollDraw)
                this.$store.state.rollDraw = setInterval(function(){
                    heightRoll = heightRoll - height
                    if(heightRoll < -boxHeight){
                        $("#scroll-1").css('transition','none')
                        heightRoll = 0
                    } else {
                        $("#scroll-1").css('transition','1s')
                    }
                    $("#scroll-1").css('margin-top', heightRoll+'px')
                },this.time * 1000 || 5000);
            }
        }
    }
</script>

<style scoped lang="less">
    .scroll-data{
        table{
            transition: 1s;
            height: 100%;
            tr{
                transition: .5s;
                td{
                    text-align: left;
                    padding: 7px 15px;
                    border-top:1px dashed #ddd;
                    &:first-child {
                        width: 280px;
                    }
                    img{
                        height: 36px;
                        width: 36px;
                        float: left;
                        border-radius: 50%;
                        margin-right: 9px;
                    }
                    p{
                        line-height: 1.7;
                        height: 36px;
                        i{
                            color: red;
                        }
                    }
                }
                ins{
                    display: block;
                    width: 25px;
                    height: 25px;
                    margin: 0 auto;
                    color: #555;
                    text-decoration:none;
                }
                &:first-child {
                    ins {
                        background: #c12f33;
                        background: radial-gradient(circle at 25px 25px, #c12f33, #ca9293);
                        color: #fff;
                        border-radius: 50%;
                        text-align: center;
                        line-height: 25px
                    }
                    td{
                        border: none;
                    }
                }

                &:nth-child(2) ins {
                    background: #53b0fe;
                    background: radial-gradient(circle at 25px 25px, #2b82cc, #53b0fe);
                    color: #fff;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 25px
                }

                &:nth-child(3) ins {
                    background: #f8a968;
                    background: -webkit-radial-gradient(circle at 25px 25px, #c57532, #f8a968);
                    background: radial-gradient(circle at 25px 25px, #c57532, #f8a968);
                    color: #fff;
                    border-radius: 50%;
                    text-align: center;
                    line-height: 25px
                }
            }
        }
    }
</style>
