<template>
  <div id="match" class="flexWrap">
    <div class="topBox" style="">
      <van-nav-bar @click-left="back" left-arrow class="c-w" style="background: none">
        <template slot="title">
          <van-tag round color="rgba(0,0,0,.4)" size="large" class="p-l-r-20" >
            <div v-if="!showMoney" @click="showMoney=!showMoney">余额 <van-icon name="closed-eye"></van-icon></div>
            <div v-if="showMoney" @click="showMoney=!showMoney">{{ blance.toFixed(2) }}</div>
          </van-tag>
          <div class="p-a" style="top: 0; right: 15px;">
            <van-icon @click="order=true" name="orders-o" size="1.2rem"></van-icon>
          </div>
        </template>
      </van-nav-bar>
      <van-row class="c-w text-c f-s-14">
        <van-col span="7">
          <p class="h2rem">主</p>
          <div  style="width: 2.5rem;height: 2.5rem;margin: 0 auto">
            <img src="../../../static/img/sport/home.png" class="b-r-b50" width="100%" height="100%" alt="">
          </div>
          <p class="h2rem f-s-14">{{ play.home }}</p>
        </van-col>
        <van-col span="10">
          <p class="h2rem">05-02 22:00开赛  21:55封单</p>
          <p class="p-b-t-5" style="font-size: 1.5rem">0:0</p>
          <p class="h2rem">{{ play.league }}</p>
        </van-col>
        <van-col span="7">
          <p class="h2rem">客</p>
          <div  style="width: 2.5rem;height: 2.5rem;margin: 0 auto">
            <img src="../../../static/img/sport/guest.png" class="b-r-b50" width="100%" height="100%" alt="">
          </div>
          <p class="h2rem f-s-14">{{ play.guest }}</p>
        </van-col>
      </van-row>
    </div>
    <van-tabs @click="changePlay" animated>
      <van-tab v-for="item,index in play.content" :key="index" :title="item.palyName">

      </van-tab>
    </van-tabs>

    <div v-if="item.palyName === playsName" v-for="item in play.content" class="flexContent">

      <div class="p-20 c-6">
        <div >
          <p>{{ item.oddsList[0].title }}   <van-icon @click="showRule(item)" name="question-o" size="20px" class="v-m"></van-icon></p>
          <p class="f-s-14 p-b-20">{{ item.explain }}</p>
          <div v-if="lst.palyName === playsName" v-for="lst in play.content" class=" text-c p-b-5">

            <div v-for="plays in lst.oddsList" class="">
              <p class="text-l c-6 f-s-16 p-b-t-5"> {{ plays.title }} </p>
              <div :class="{ 'flex': lst.oddsList[0].oddsArray.length === 3 }" class="clear">
                <div v-for="list in plays.oddsArray"  @click="showArrowBet(list, item)" :class="{ 'flex1': lst.oddsList[0].oddsArray.length === 3}" class="w-b50 pull-l b-box bg-f0 p-b-t-5 m-t-2 " style="border-right: 1px solid #fff">
                  <p class="c-h"> <span v-if="list.project" class="f-s-16 ">{{ list.project }}</span> {{ list.name }}</p>
                  <p class="f-s-14">{{list.odds}}</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>


    <!-- 下注	-->
    <van-popup v-model="allowBet" position="bottom" :overlay="true" style="height: auto">
      <div class="p-t-10 text-l bg-w ">
        <div class="f-s-14 p-b-t-10 flex b-b p-l-r-20">
          <p style="width: 65%"><span class="p-r-5">{{bet.name}}@ {{ bet.odds }}</span> <span class="p-l-5" style="border-left: 1px solid #999;"> 全场胜平负 </span>
          </p>
          <p class="">
            <van-checkbox v-model="checked" @click="oddsChange" class="d-i v-m" size="14px"></van-checkbox>
            <span class="v-m">接受赔率变动</span>
            <van-icon name="question-o" size="20px" class="v-m"></van-icon>
          </p>
        </div>
        <div class="f-s-14 flex p-l-r-20 p-r" style="line-height: 3rem;height: 3rem;box-sizing: border-box">
          <p class="v-m">投 <input v-model="arrowMoney" type="number" class="betMoney" placeholder="输入金额" />  元 最高可中
            <span class="c-r">{{((arrowMoney - 0) * (bet.odds - 0)).toFixed(2) }}</span> 元 </p>
          <div @click="showArrowBetConfirm" class="p-a f-s-18 p-l-r-20 bg-h c-w v-m" style="top:0;right: 0;height: 100%;">确认投注</div>
        </div>
      </div>
    </van-popup>

    <!--投注记录-->
    <van-popup v-model="order" position="bottom" :overlay="true" class="flexWrap" style="height: 50%">
      <div class="f-s-16 flexWrap" >
        <p class="p-b-t-20 text-c b-b">最近投注</p>
        <p class="b-b p-b-t-5 text-c ">
          <van-row>
            <van-col span="8">彩种期号</van-col>
            <van-col span="8">投注金额</van-col>
            <van-col span="4">奖金</van-col>
            <van-col span="4">操作</van-col>
          </van-row>
        </p>
        <div class="flexContent">
          <div v-for="item in orderData" class="text-c c-6 b-b p-t-5">
            <van-row>
              <van-col span="8" class="v-m h-50">
                <p class="h-b50">信博足球</p>
                <p class="h-b50">{{ item.bettingCode }}</p>
              </van-col>
              <van-col span="8" class="v-m h-50 l-h-50">{{ item.bettingMoney.toFixed(2) }}</van-col>
              <van-col span="4" class="v-m h-50 l-h-50">{{ bettingMoney(item) }}</van-col>
              <van-col span="4" class="c-b v-m h-50 l-h-50">查看</van-col>
            </van-row>
          </div>
        </div>

        <p v-if="!orderData.length" class="p-t-10 text-c">暂无投注记录</p>
        <p v-if="orderData.length" class="p-b-t-10 text-c">仅显示最近10条普通投注</p>
      </div>
    </van-popup>

    <!--不接受赔率变动-->
    <van-dialog
      v-model="checkedConfirm"
      title="不接受赔率下降"
      show-cancel-button
      cancelButtonText="再想想"
      confirmButtonText="取消勾选"
      :before-close="changeCheck"
    >
      <p class="p-20 f-s-16 c-6">不勾选该选项，视为不接受赔率下降，当赔率上升时，订单提交；赔率下降时，订单将会置失败，确认取消勾选吗？</p>
    </van-dialog>

    <!--投注确认-->
    <van-dialog
      v-model="arrowBetConfirm"
      title="投注确认"
      show-cancel-button
      :before-close="arrowBet"
    >
      <div class="p-20 f-s-16 c-6" >
        <p>赛事时间： <span>{{ play.league }},</span> <span >{{ play.openTime? getDateFull(play.openTime):'' }}</span></p>
        <p class="m-t-5">主客球队： <span>{{ play.home }}</span> VS <span >{{ play.guest}}</span></p>
        <p class="m-t-5">下注金额： <span class="c-r">{{ arrowMoney }}</span></p>
        <p class="m-t-5">投注内容： <span>{{bet.name}}@ {{ bet.odds }}</span> </p>
      </div>
    </van-dialog>

    <!--投注成功-->
    <van-dialog
      v-model="arrowSuccess"
      title="投注确认"
    >
      <div class="p-20 f-s-16 c-6 text-c" >
        <p><van-icon name="checked" color="#13d820" size="1.5rem" class="v-m"></van-icon> <span class="v-m">投注成功</span> </p>
      </div>
    </van-dialog>

  </div>
</template>

<script>
  import { Dialog } from 'vant';
  import { Notify  } from 'vant';
  import { Toast } from 'vant';
  export default {
    data() {
      return {
        play: this.$route.query.play,
        gameType:this.$route.query.gameType, // 上一个页面传过来的玩法数据
        ballType:this.$route.query.ballType, // 上一个页面传过来的玩法数据
        blance: 0,
        bet: {
          name: '',
          odds: '',
        }, // 注单
        arrowMoney: '', //下注金额
        selectMatch: {
          league: 0,
          openTime: 0,
          home: 0,
          guest: 0,
        }, // 当前选中赛事
        allowBet: false, // 下注框
        arrowBetConfirm: false, // 下注弹窗
        arrowSuccess: false, // 投注成功弹窗
        checkedConfirm: false, // 取消赔率变动弹窗
        showMoney: false,
        checked: true,
        order: false, // 投注记录
        playsName: '',
        orderData: [], // 投注记录
      }
    },
    beforeCreate:function(){

    },
    created:function(){
      this.playsName = this.$route.query.play.content[0].palyName;
      this.meminfo(); //获取帐户余额等相关信息
      this.getOrderData(); // 投注记录
    },
    methods:{
      // 判断注单状态
      bettingMoney:function(item){
        switch (item.balance) {
          case 1:
            return '等待开奖';
          case 3:
            return '结算失败';
          case 4:
            return '比赛腰斩';
        }
        switch (item.bettingStatus) {
          case 1:
            return '等待确认';
          // case 2:
          //   return '等待开奖';
          case 3:
          case 4:
            return '注单取消'
        }
        switch (item.resultStatus) {
          case 1:
            return -(item.bettingMoney);
          case 2:
            return -(item.bettingMoney/2);
          case 3:
            return 0;
          case 4:
            return (item.bettingMoney * item.odds)/2;
          case 5:
            return (item.bettingMoney * item.odds);
        }
      },
      // 获取投注记录
      getOrderData:function(){
        let params = {
          startTime: '2019-05-31 00:00:00',
          endTime: '2019-05-31 23:59:59',
          sportType: 1,
          recordType: 1,
          page: 1,
          rows: 10,
        };
        $sky.ajax('post', 'native/getOrderData',params, (ret) => {
          if(ret.rows){
            this.orderData = ret.rows
          }
        })
      },
      // 下注
      arrowBet:function(action, done){
        if (action === "confirm"){
          let params = {
            plate: "H",
            gameType: this.gameType,
            items: [{
              "gid": this.bet.gid,
              "odds":  this.bet.odds,
              "type": this.bet.type,
              "project": "4 / 4.5 ",
              "scoreC": "",
              "scoreH": "",
            }],
            money: this.arrowMoney,
            acceptBestOdds: this.checked,
          };
          if(this.ballType === 'basketBall'){
            params.items[0].mid = this.bet.mid;
            params.items[0].project = '7.5';
          }

          if(this.bet.project){
            params.items[0].project = this.bet.project;
          }

          if(this.gameType === 'FT_RB_MN'){
            params.items[0].scoreC = this.bet.scoreC;
            params.items[0].scoreH = this.bet.scoreH;
          }
          $sky.ajax('post', 'native/sportBet',{ data: JSON.stringify(params) }, (ret) => {
            if(ret.success){
              this.arrowSuccess = true;
              this.allowBet = false;
              this.arrowMoney = '';
              this.meminfo(); //获取帐户余额等相关信息
            }else {
              Toast(ret.msg)
            }
          });
        } else {
          this.checked = true
        }
        done()
      },
      changeCheck:function(action, done){
        if (action === "confirm"){
          this.checked = false
        } else {
          this.checked = true
        }
        done()
      },
      // 显示下注弹窗
      showArrowBetConfirm:function(){
        if(this.arrowMoney === ''){
          Toast('请输入下注金额');
          return
        }
        this.arrowBetConfirm = true
      },
      // 接受/取消 赔率变动
      oddsChange:function(){
        if(!this.checked){
          this.checkedConfirm = true;
        }
      },
      // 显示下注注单
      showArrowBet:function(data, match){
        this.bet = data;
        this.selectMatch = match;
        this.allowBet = true;
      },
      //切换玩法
      changePlay:function(index, title){
        this.playsName = title;
      },
      //获取帐户余额等相关信息
      meminfo: function() {
        $sky.ajax('get', 'meminfo', {}, (ret) => {
          if(ret.login) {
            this.blance = ret.money;
          } else {
            if(!ret.login){
              this.$router.push({
                path: '/login',
                query: {}
              })
            }
          }
        })
      },
      // 规则弹窗
      showRule:function(item){
        Dialog.alert({
          title: item.palyName,
          message: item.explain,
        }).then(() => {
          // on close
        });
      },
      // 时间戳转换日期
      getDateFull:function(val){
        let date = $sky.getDateFull(val-0);
        date = date.slice(5,date.length);
        return date;
      },
      back: function () {
        window.history.go(-1);
      },
    }
  }
</script>

<style scoped>

  #match{
    height: 100%;
    width: 100%;
    background: #fff;
  }
  .topBox{
    padding-bottom: 3rem;
    background: url('../../../static/img/zq-bg.png');
    background-size: 100% 100%;
  }
  .h2rem{
    height: 2rem;
    line-height: 2rem;
  }

  .betMoney{
    width: 2.8rem;
    height: 1.5rem;
    padding: 0 .25rem;
    line-height: 1.2rem;
    border-radius: .15rem;
    border: 1px solid #bebebe;
    text-align: center;
    font-size: .9em;
    margin: 0 5px;
  }

</style>
