<template>
  <div id="xbSport" class="flexWrap">
    <!--玩法	-->
    <van-popup v-model="lightly" position="top" :overlay="true" style="height: auto">
      <div class="p-10 text-c">
        <div v-if="rules!=''" class="flex">
          <div @click="selectPlays(item)" v-for="item,index in rules"
               :class="{'lightlyActive':nowPlay.name === item.name}" class="d-i p-b-t-5 p-l-r-10 f-s-14 b-e0 m-5 flex1">
            {{item.name}}
          </div>
        </div>
      </div>
    </van-popup>

    <!--筛选	-->
    <van-popup v-model="filter" position="top" :overlay="true" style="height: auto">
      <div class="p-10 text-c bg-w ">
        <div v-if="rules!=''" class="p-b-10">
          <div class="f-s-16 text-c p-b-t-10">
            <ul class="flex w-b80 b-1 b-r-6 bg-f8 f-s-14" style="margin: 0 auto">
              <li @click="selectLightlyChild('全选')" class="d-i flex1 b-r p-b-t-5 p-l-r-10">全选</li>
              <li @click="selectLightlyChild('反选')" class="d-i flex1 b-r p-b-t-5 p-l-r-10">反选</li>
              <li @click="selectLightlyChild('仅五大联赛')" class="d-i flex1 p-b-t-5 p-l-r-10">仅五大联赛</li>
            </ul>
          </div>
          <div class="p-10 league">
            <div @click="selectLightlyChild(item, index)" v-for="item,index in filterList" :class=""
                 class="d-i p-b-t-10 p-l-r-20 f-s-14 b-e0 b-r-6 b-box m-5" style="width: 30%">{{item}}</div>
          </div>
          <p @click="shaixuan" class="bg-h c-w f-s-16 b-r-6 p-5 text-c d-i w-b70 ">筛选</p>
        </div>
      </div>
    </van-popup>

    <!--投注记录-->
    <van-popup v-model="order" position="bottom" :overlay="true" class="flexWrap" style="height: 50%">
      <div class="f-s-16 flexWrap" >
        <p class="p-b-t-20 text-c b-b">最近投注</p>
        <p class="b-b p-b-t-5 text-c ">
          <van-row>
            <van-col span="8">彩种期号</van-col>
            <van-col span="8">投注金额</van-col>
            <van-col span="4">奖金</van-col>
            <van-col span="4">操作</van-col>
          </van-row>
        </p>
        <div class="flexContent">
          <div v-for="item in orderData" class="text-c c-6 b-b p-t-5">
            <van-row>
              <van-col span="8" class="v-m h-50">
                <p class="h-b50">信博足球</p>
                <p class="h-b50">{{ item.bettingCode }}</p>
              </van-col>
              <van-col span="8" class="v-m h-50 l-h-50">{{ item.bettingMoney.toFixed(2) }}</van-col>
              <van-col span="4" class="v-m h-50 l-h-50">{{ bettingMoney(item) }}</van-col>
              <van-col span="4" class="c-b v-m h-50 l-h-50"><span @click="goDetail(item)">查看</span> </van-col>
            </van-row>
          </div>
        </div>

        <p v-if="!orderData.length" class="p-t-10 text-c">暂无投注记录</p>
        <p v-if="orderData.length" class="p-b-t-10 text-c">仅显示最近10条普通投注</p>
      </div>
    </van-popup>

    <van-nav-bar @click-left="back" left-text="返回" left-arrow class="bg-h c-w">
      <template slot="title">
        <div class="lightly">玩<br/>法</div>
        <div @click="lightly = !lightly;rightCpList = false;kjjeList = false" class="hedeBox">
          <span> {{ playing }} </span>
          <div :class="{top:lightly}" class="sanjiao-w"></div>
        </div>
        <div class="p-a" style="top: 0; right: 15px;">
          <van-icon @click="filter=!filter" name="filter-o" size="1.2rem" class="p-r-10"></van-icon>
          <van-icon @click="order=!order" name="orders-o" size="1.2rem"></van-icon>
        </div>
      </template>
    </van-nav-bar>
    <van-tabs @click="showMatch" animated class="">
      <van-tab v-for="item,index in tabList" :key="index"  :title="item" style="">
      </van-tab>
    </van-tabs>
    <div class="bg-w flexContent">
      <div v-if="tabIndex === 0 && hasPlay(item)" v-for="item in todayMatch"  class="p-l-r-20 p-t-10 p-b-t-20 b-b">
        <p class="c-6 f-s-14 p-b-t-5">{{item.league + ' '+ getDateFull(item.openTime)+ '开赛'}}</p>
        <div class="flex">
          <div @click="goMatch(item)" class="flex1 f-s-16 p-r v-m" style="padding-right: 1.5rem">
            <div class="p-b-t-5 flex">
              <img src="../../../static/img/sport/home.png" width="22px"
                   height="22px" class="v-m" alt="">
              <span class="v-m flex1 p-l-5 ">{{item.home.length > 9? item.home.substring(0,8) + '...': item.home }}</span>
              <span class="v-m c-g">{{ 0 }}</span>
            </div>
            <div class="p-b-t-5 flex">
              <img src="../../../static/img/sport/guest.png" width="22px"
                   height="22px" class="v-m" alt="">
              <span class="v-m flex1 p-l-5">{{ item.guest.length > 9? item.guest.substring(0,8) + '...': item.guest }}</span>
              <span class="v-m c-g">{{ 0 }}</span>
            </div>
            <van-icon name="arrow" size="20px" color="#ccc" class="p-a"
                      style="top:50%;right: 0;margin-top: -10px"></van-icon>
          </div>
          <div class="flex1 p-b-t-5">
            <div >
              <div class="flex" v-if="play.palyName === playing" v-for="play in item.content">

                <div v-if="playing === '胜平负'" v-for="lst in play.oddsList[0].oddsArray" @click="showArrowBet(lst, item)" class="d-i b-r text-c p-l-r-10 flex1">
                  <p class="c-h f-s-16">{{ lst.name }}</p>
                  <p class="f-s-14 c-3 p-t-5">{{ lst.odds }}</p>
                </div>
                <div v-if="playing !== '胜平负'" v-for="lst in play.oddsList[0].oddsArray.slice(0,2)" @click="showArrowBet(lst, item)" class="d-i b-r text-c p-l-r-10 flex1">
                  <p class="c-h f-s-16">{{ lst.name }}</p>
                  <p class="f-s-14 c-3 p-t-5">{{ lst.odds }}</p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div v-if="tabIndex === 1 && item.content && hasPlay(item)" v-for="item in rollBallMatch"  class="p-l-r-20 p-t-10 p-b-t-20 b-b">
        <p class="c-6 f-s-14 p-b-t-5">{{item.league + ' '+ getDateFull(item.openTime)+ '开赛'}}</p>
        <div class="flex">
          <div @click="goMatch(item)" class="flex1 f-s-16 p-r v-m" style="padding-right: 1.5rem">
            <div class="p-b-t-5 flex">
              <img src="../../../static/img/sport/home.png" width="22px"
                   height="22px" class="v-m" alt="">
              <span class="v-m flex1 p-l-5 f-s-14">{{item.home.length > 9? item.home.substring(0,8) + '...': item.home }}</span>
              <span class="v-m c-g">{{ 0 }}</span>
            </div>
            <div class="p-b-t-5 flex">
              <img src="../../../static/img/sport/guest.png" width="22px"
                   height="22px" class="v-m" alt="">
              <span class="v-m flex1 p-l-5 f-s-14">{{ item.guest.length > 9? item.guest.substring(0,8) + '...': item.guest }}</span>
              <span class="v-m c-g">{{ 0 }}</span>
            </div>
            <van-icon name="arrow" size="20px" color="#ccc" class="p-a"
                      style="top:50%;right: 0;margin-top: -10px"></van-icon>
          </div>
          <div class="flex1 p-b-t-5">
              <div class="flex" v-if="play.palyName === playing" v-for="play in item.content">

                <div v-if="playing === '胜平负'" v-for="lst in play.oddsList[0].oddsArray" @click="showArrowBet(lst, item)" class="d-i b-r text-c p-l-r-10 flex1">
                  <p class="c-h f-s-16">{{ lst.name }}</p>
                  <p class="f-s-14 c-3 p-t-5">{{ lst.odds }}</p>
                </div>
                <div v-if="playing !== '胜平负'" v-for="lst in play.oddsList[0].oddsArray.slice(0,2)" @click="showArrowBet(lst, item)" class="d-i b-r text-c p-l-r-10 flex1">
                  <p class="c-h f-s-16"> {{ lst.name }}</p>
                  <p class="f-s-14 c-3 p-t-5">{{ lst.odds }}</p>
                </div>

              </div>
            </div>
        </div>
      </div>
      <div v-if="tabIndex === 2 && hasPlay(item)" v-for="item in morningMatch"  class="p-l-r-20 p-t-10 p-b-t-20 b-b">
        <p class="c-6 f-s-14 p-b-t-5">{{item.league + ' '+ getDateFull(item.openTime)+ '开赛'}}</p>
        <div class="flex">
          <div @click="goMatch(item)" class="flex1 f-s-16 p-r v-m" style="padding-right: 1.5rem">
            <div class="p-b-t-5 flex">
              <img src="../../../static/img/sport/home.png" width="22px"
                   height="22px" class="v-m" alt="">
              <span class="v-m flex1 p-l-5">{{item.home.length > 9? item.home.substring(0,8) + '...': item.home }}</span>
              <span class="v-m c-g">{{ 0 }}</span>
            </div>
            <div class="p-b-t-5 flex">
              <img src="../../../static/img/sport/guest.png" width="22px"
                   height="22px" class="v-m" alt="">
              <span class="v-m flex1 p-l-5">{{ item.guest.length > 9? item.guest.substring(0,8) + '...': item.guest }}</span>
              <span class="v-m c-g">{{ 0 }}</span>
            </div>
            <van-icon name="arrow" size="20px" color="#ccc" class="p-a"
                      style="top:50%;right: 0;margin-top: -10px"></van-icon>
          </div>
          <div class="flex1 p-b-t-5">
            <div class="">
              <div class="flex" v-if="play.palyName === playing" v-for="play in item.content">

                <div v-if="playing === '胜平负'" v-for="lst in play.oddsList[0].oddsArray" @click="showArrowBet(lst, item)" class="d-i b-r text-c p-l-r-10 flex1">
                  <p class="c-h f-s-16">{{ lst.name }}</p>
                  <p class="f-s-14 c-3 p-t-5">{{ lst.odds }}</p>
                </div>
                <div v-if="playing !== '胜平负'" v-for="lst in play.oddsList[0].oddsArray.slice(0,2)" @click="showArrowBet(lst, item)" class="d-i b-r text-c p-l-r-10 flex1">
                  <p class="c-h f-s-16">{{ lst.name }}</p>
                  <p class="f-s-14 c-3 p-t-5">{{ lst.odds }}</p>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- 下注	-->
    <van-popup v-model="allowBet" position="bottom" :overlay="true" style="height: auto">
      <div class="p-t-10 text-l bg-w ">
        <div class="f-s-14 p-b-t-10 flex b-b p-l-r-20">
          <p style="width: 65%"><span class="p-r-5">{{bet.name}}@ {{(bet.odds - 0).toFixed(2)}}</span> <span class="p-l-5" style="border-left: 1px solid #999;"> 全场胜平负 </span>
          </p>
          <p class="">
            <van-checkbox v-model="checked" @click="oddsChange" class="d-i v-m" size="14px"></van-checkbox>
            <span class="v-m">接受赔率变动</span>
            <van-icon name="question-o" size="20px" class="v-m"></van-icon>
          </p>
        </div>
        <div class="f-s-14 flex p-l-r-20 p-r" style="line-height: 3rem;height: 3rem;box-sizing: border-box">
          <p class="v-m">投 <input v-model="arrowMoney" type="number" class="betMoney" placeholder="输入金额" />  元 最高可中
            <span class="c-r">{{((arrowMoney - 0) * (bet.odds - 0)).toFixed(2) }}</span> 元 </p>
          <div @click="showArrowBetConfirm" class="p-a f-s-18 p-l-r-20 bg-h c-w v-m" style="top:0;right: 0;height: 100%;">确认投注</div>
        </div>
      </div>
    </van-popup>

    <!--不接受赔率变动-->
    <van-dialog
    v-model="checkedConfirm"
    title="不接受赔率下降"
    show-cancel-button
    cancelButtonText="再想想"
    confirmButtonText="取消勾选"
    :before-close="changeCheck"
  >
    <p class="p-20 f-s-16 c-6">不勾选该选项，视为不接受赔率下降，当赔率上升时，订单提交；赔率下降时，订单将会置失败，确认取消勾选吗？</p>
  </van-dialog>

    <!--投注确认-->
    <van-dialog
      v-model="arrowBetConfirm"
      title="投注确认"
      show-cancel-button
      :before-close="arrowBet"
    >
      <div class="p-20 f-s-16 c-6" >
        <p>赛事时间： <span>{{ selectMatch.league }},</span> <span >{{ selectMatch.openTime? getDateFull(selectMatch.openTime):'' }}</span></p>
        <p class="m-t-5">主客球队： <span>{{ selectMatch.home }}</span> VS <span >{{ selectMatch.guest}}</span></p>
        <p class="m-t-5">下注金额： <span class="c-r">{{ arrowMoney }}</span></p>
        <p class="m-t-5">投注内容： <span>{{bet.name}}@ {{(bet.odds - 0).toFixed(2)}}</span> </p>
      </div>
    </van-dialog>

    <!--投注成功-->
    <van-dialog
      v-model="arrowSuccess"
      title="投注确认"
    >
      <div class="p-20 f-s-16 c-6 text-c" >
        <p><van-icon name="checked" color="#13d820" size="1.5rem" class="v-m"></van-icon> <span class="v-m">投注成功</span> </p>
      </div>
    </van-dialog>
  </div>
</template>

<script>
  import { Toast } from 'vant'
  import { Dialog } from 'vant'
  import { Notify  } from 'vant'
  export default {
    data() {
      return {
        playing: "胜平负", // 选择的玩法
        arrowSuccess: false, // 投注成功弹窗
        arrowBetConfirm: false, // 下注弹窗
        selectMatch: {
          league: 0,
          openTime: 0,
          home: 0,
          guest: 0,
        }, // 当前选中赛事
        arrowMoney: '', //下注金额
        bet: {
          name: '',
          odds: '',
        }, // 注单
        tabIndex:0, // 显示的赛事
        tabList:['今日赛事', '热情滚球', '赛事早盘'],
        todayMatch:[],// 今日赛事的数据
        rollBallMatch:[],// 滚球的数据
        morningMatch:[],// 早盘的数据
        checked: true, // 是否接受赔率变动
        checkedConfirm: false, // 取消赔率变动弹窗
        allowBet: false, // 下注框
        order: false, // 投注记录
        lightly: false, // 玩法弹窗
        filter: false, // 赛事筛选弹窗
        filterList: [

        ], // 赛事筛选弹窗
        rightCpList: false, // 彩票名列表弹窗
        rules: [
          {name: '胜平负'},
          {name: '让球'},
          {name: '大小球'},
          {name: '单双'},
        ], // 所有玩法
        nowPlay: '胜平负', //
        gameType: 'FT_TD_MN', // 赛事类型
        orderData: [], // 投注记录
      }
    },
    created:function(){
      this.getTodayMatch(); // 今日赛事
      this.rollingBall(); // 滚球赛事
      this.morningBall(); // 早盘赛事
      this.getOrderData(); // 投注记录
      this.getLeague(); // 获取体育联赛
    },
    methods: {
      // 体育注单详情
      goDetail: function (item) {
        this.$router.push({
          path: '/sportDetail',
          query: {
            data: item
          }
        })
      },
      // 筛选联赛
      shaixuan:function(){
        let selectLeague = $('.league div.active').text();
        switch (this.tabIndex) {
          case 0:
            this.getTodayMatch(selectLeague);
            break;
          case 1:
            this.rollingBall(selectLeague);
            break;
          case 2:
            this.morningBall(selectLeague);
            break;
        }
        this.filter = false;
      },
      // 选择联赛
      selectLightlyChild:function(item, index){
        if(item === '全选'){
          $('.league div').addClass('active')
        }
        if(item === '反选'){
          $('.league div').toggleClass('active')
        }
        if(item === '仅五大联赛'){
          $('.league div').removeClass('active');
          let all = $('.league div');
          for(let i=0; i< all.length; i++){
            let text = all.eq(i).text();
            if( text === '英超' || text === '意甲' || text === '德甲' || text === '西甲' || text === '法甲' ){
              all.eq(i).addClass('active')
            }
          }
        }
        $('.league div').eq(index).toggleClass('active');
      },
      // 获取体育联赛
      getLeague:function(){
        $sky.ajax('get', 'native/getLeague',{sportType: 'football'}, (ret) => {
          if(ret.success){
            this.filterList = ret.league
          }
        })
      },
      // 判断注单状态
      bettingMoney:function(item){
        switch (item.balance) {
          case 1:
            return '等待开奖';
          case 3:
            return '结算失败';
          case 4:
            return '比赛腰斩';
        }
        switch (item.bettingStatus) {
          case 1:
            return '等待确认';
          // case 2:
          //   return '等待开奖';
          case 3:
          case 4:
            return '注单取消'
        }
        switch (item.resultStatus) {
          case 1:
            return -(item.bettingMoney);
          case 2:
            return -(item.bettingMoney/2);
          case 3:
            return 0;
          case 4:
            return (item.bettingMoney * item.odds)/2;
          case 5:
            return (item.bettingMoney * item.odds);
        }
      },
      // 获取投注记录
      getOrderData:function(){
        let params = {
          startTime:  $sky.getdate(0) +' 00:00:00',
          endTime: $sky.getdate(0) + ' 23:59:59',
          sportType: 1,
          recordType: 1,
          page: 1,
          rows: 10,
        };
        $sky.ajax('post', 'native/getOrderData',params, (ret) => {
          if(ret.rows){
            this.orderData = ret.rows
          }
        })
      },
      // 判断赛事有没有某个玩法
      hasPlay:function(item){
        for(let i in item.content){
          if(item.content[i].palyName === this.playing){
            return true
          }
        }
        return false
      },
      // 选择玩法
      selectPlays:function(play){
        this.playing = play.name;
        this.lightly = false;
      },
      // 下注
      arrowBet:function(action, done){
        if (action === "confirm"){
          let params = {
              plate: "H",
              gameType: this.gameType,
              items: [{
                "gid": this.bet.gid,
                "odds":  this.bet.odds,
                "type": this.bet.type,
                "project": "4 / 4.5 ",
              }],
              money: this.arrowMoney,
              acceptBestOdds: this.checked,
            };
          if(this.bet.project){
            params.items[0].project = this.bet.project;
          }
          if(this.tabIndex === 1){
            params.items[0].scoreC = this.bet.scoreC;
            params.items[0].scoreH = this.bet.scoreH;
          }
          $sky.ajax('post', 'native/sportBet',{ data: JSON.stringify(params) }, (ret) => {
            if(ret.success){
              this.arrowSuccess = true;
              this.allowBet = false;
              this.arrowMoney = '';
              this.getOrderData(); // 投注记录
            }else if(ret.isLogin === false){
              this.$router.push({
                path: '/login'
              })
            }else {
              Toast(ret.msg)
            }
          });
        } else {
          this.checked = true
        }
        done()
      },
      // 显示下注弹窗
      showArrowBetConfirm:function(){
        if(this.arrowMoney === ''){
          Toast('请输入下注金额');
          return
        }
        this.arrowBetConfirm = true
      },
      changeCheck:function(action, done){
        if (action === "confirm"){
          this.checked = false
        } else {
          this.checked = true
        }
        done()
      },
      // 接受/取消 赔率变动
      oddsChange:function(){
        if(!this.checked){
          this.checkedConfirm = true;
        }
      },
      // 显示下注注单
      showArrowBet:function(data, match){
        this.bet = data;
        this.selectMatch = match;
        this.allowBet = true;
      },
      // 导航栏切换
      showMatch:function(index){
        this.tabIndex = index;
        switch (index) {
          case 0:
            this.gameType = 'FT_TD_MN';
            break;
          case 1:
            this.gameType = 'FT_RB_MN';
            break;
          case 2:
            this.gameType = 'FT_FT_MN';
            break;
        }
      },
      // 时间戳转换日期
      getDateFull:function(val){
        let date = $sky.getDateFull(val-0);
        date = date.slice(5,date.length);
        return date;
      },
      // 获取今日赛事
      getTodayMatch:function(league){
        let params = {
          gameType: 'FT_TD_MN',
          sortType: '',
          pageNo:1,
          showLegs: league? league: '',
        };
        $sky.ajax('post', 'native/getSportsFormatData',params, (ret) => {
          this.todayMatch = [];
          for(let i in ret.data.games){
            if(ret.data.games[i].content !== []) {
              this.todayMatch.push(ret.data.games[i]);
            }
          }
        })
      },
      // 获取滚球
      rollingBall:function(league){
        let params = {
          gameType: 'FT_RB_MN',
          sortType: '',
          pageNo:1,
          showLegs: league? league: '',
        };
        $sky.ajax('post', 'native/getSportsFormatData',params, (ret) => {
          this.rollBallMatch = [];
          for(let i in ret.data.games){
            if(ret.data.games[i].content.length){
              this.rollBallMatch.push(ret.data.games[i]);
            }
          }
        })
      },
      // 获取早盘赛事
      morningBall:function(league){
        let params = {
          gameType: 'FT_FT_MN',
          sortType: '',
          pageNo:1,
          showLegs: league? league: '',
        };
        $sky.ajax('post', 'native/getSportsFormatData',params, (ret) => {
          this.morningMatch = [];
          for(let i in ret.data.games){
            if(ret.data.games[i].content !== []) {
              this.morningMatch.push(ret.data.games[i]);
            }
          }
        })
      },
      // 跳转赛事页面
      goMatch:function(item){
        this.$router.push({
          path: '/match',
          query: {
            play:item,
            gameType: this.gameType,
            ballType: 'footBall'
          }
        })
      },
      // 后退
      back: function () {
        window.history.go(-1);
      },
    }
  }
</script>

<style scoped>
  .league div.active{
    border-color: #e72145;
    color: #e72145;
  }
  .betMoney{
    width: 2.8rem;
    height: 1.5rem;
    padding: 0 .25rem;
    line-height: 1.2rem;
    border-radius: .15rem;
    border: 1px solid #bebebe;
    text-align: center;
    font-size: .9em;
    margin: 0 5px;
  }
  .lightly {
    display: inline-block;
    line-height: 14px;
    font-size: 12px;
    margin-top: 10px;
  }

  .hedeBox {
    position: relative;
    top: -5px;
    display: inline-block;
    text-align: center;
    padding: 4px;
    border: 1px solid hsla(0, 0%, 100%, .5);
    line-height: 20px;
  }

  #xbSport .van-popup--top {
    top: 46px;
  }
</style>
