<template>
  <div id="app" @contextmenu.prevent="">
    <!--路由后退缓存-->
    <keep-alive v-if="$route.meta.keepAlive">
      <router-view></router-view>
    </keep-alive>
    <router-view  v-if="!$route.meta.keepAlive"></router-view>
<!--    <div class="service" onclick="location.href='https://chatlink123.meiqia.cn/widget/standalone.html?eid=f2a7b6268a3551f63deb3d561d11aa88'" v-if="$store.state.type == 1">-->
<!--      <img src="./assets/images/kefu.png" alt="">-->
<!--    </div>-->
  </div>
</template>

<script>

export default {
  name: 'app',
}
</script>

<style lang="less">
.service{
  position: fixed;
  right: 0;
  bottom: 8rem;
  width: 50px;
  height: 50px;
  img{
    width: 100%;
    height: 100%;
  }
}
</style>
