@import "include/base";
.appDownload{
  .logo{
    text-align: center;
    margin-top: 20px;
    float: left;
    width: 100%;
    img{
      width: 220px;
    }
  }
  .content{
    width: 100%;
    height: 100%;
    float: left;
    div{
      float: left;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .title{
      margin-top: 40px;
      margin-bottom: 20px;
      img{
        width: 220px;
      }
    }
    .qrcode{
      img{
        width: 150px;
      }
    }
  }
  .tip{
    float: left;
    width: 100%;
    margin-top: 20px;
    span{
      display: inline-block;
      width: 100%;
      text-align: center;
      font-size: 6px;
    }
  }
  .bar-tab{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background: #000000;
    text-align: center;
    line-height: 50px;
    span{
      display: inline-block;
      width: 100%;
      color: #FFF;
      text-align: center;
      line-height: 25px;
      font-size: 14px;
    }
  }
}
