@import "include/base";
.draw-notice{
  .content{
    float: left;
    width: 100%;
    padding-bottom: 80px;
    ul{
      li{
        width: 100%;
        background: #ffffff;
        .list-img{
          float: left;
          width: 25%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          img{
            width: 60px;
            height: 60px;
          }
        }
        .list-font{
          float: left;
          width: 75%;
          height: 100%;
          .title{
            float: left;
            width: 100%;
            margin-top: 15px;
            position: relative;
            span{
              font-size: 14px;
            }
            span:nth-child(2){
              position: absolute;
              right: 10px;
              color: #999;
            }
          }
          .result{
            float: left;
            margin-top: 15px;
            width: 100%;
            img{
              width: 30px;
            }
            .result-number{
              height: 100%;
              &:before,&:after{
                content: "";
                display: block;
                width: 0;
                height: 0;
                clear: both;
              }
            }
            .result-bigSmall{
              margin-top: 10px;
              height: 100%;
              width: 100%;
              .num-left{
                height: 25px;
                line-height: 25px;
                font-size: 14px;
                color: #000000;
                text-indent: 0;
                background-size:100% ;
                display: inline-block;
                float: left;
                b{
                  font-size: 14px;
                  font-weight: 500;
                }
              }
              .num-right{
                float: right;
                padding-right: 10px;
                div{
                  height: 25px;
                  line-height: 25px;
                  text-align: center;
                  font-size: 14px;
                  color: #FFFFFF;
                  text-indent: 0;
                  background-size:100% ;
                  display: inline-block;
                  margin-right: 5px;
                  border-radius: 5px;
                  padding:0 5px;
                  b{
                    font-size: 14px;
                    font-weight: 500;
                  }
                }
              }
              &:before,&:after{
                content: "";
                display: block;
                width: 0;
                height: 0;
                clear: both;
              }
            }
          }
          .result-number{
            span{
              display: block;
              float: left;
              margin-left: 3px;
              background: url("../images/blue_back.png") no-repeat scroll 50%/130%;
              width: 25px;
              height: 25px;
              line-height: 25px;
              text-align: center;
              font-size: 14px;
            }
          }
        }
      }
      .backGay{
        background: #f4f4f4;
      }
    }
    .load-more{
      width: 100%;
      height: 50px;
      text-align: center;
      line-height: 50px;
      font-size: 18px;
      color: #967f7f;
    }
  }
}
