@import "include/base";
.help{
  header{
    height: 44px;
    background: #ffffff;
    color: #000000;
    line-height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    a{
      color: #000000;
      float: left;
      font-size: 25px;
      left: 8px;
      top: 4px;
      position: absolute;
    }
    span{
      float: left;
      b{
        font-size: 14px;
        float: left;
        border-radius: 3px;
        height: 33px;
        line-height: 33px;
        padding: 0 10px;
        display: block;
      }
      .active{
        color: red;
        background: #ffffff;
      }
    }
  }
  .content{
    padding: 20px;
    .list{
      width: 100%;
      height: 60px;
      box-shadow: 0 0 10px 0 rgb(126 126 127 / 35%);
      margin-bottom: 10px;
      line-height: 60px;
      border-radius: 10px;
      padding-left: 30px;
      box-sizing: border-box;
    }
  }
}