@import "include/base";
/*首页*/
.index{
  width: 100%;
  height: 100%;
  header{
    width: 100%;
    height: 44px;
    background: #ffffff;
    .title{
      float: left;
      margin-left: 10px;
      display: flex;
      align-items: center;
      height: 100%;
      img{
        height: 100%;
      }
      span{
        color: #ffffff;
        font-size: 18px;
      }
    }
    .reg-button{
      float: right;
      margin-right: 10px;
      height: 100%;
      line-height: 44px;
      a{
        color: #ffffff;
        font-size: 16px;
      }
    }
    .reg-button-on{
      float: right;
      margin-right: 10px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      a{
        display: flex;
        i{
          color:#ffed40;
          font-size: 2px;
        }
        span{
          color: #ffffff;
          font-size: 15px;
          margin-left: 5px;
          line-height: 20px;
        }
      }

    }
  }
  .content{
    width: 100%;
    .swipe{
      height: 160px;
      width: 100%;
      float: left;
      img{
        width: 100%;
        height: 100%;
      }
    }
    .notice{
      float: left;
      width: 100%;
      height: 37px;
    }
    .tab-box{
      float: left;
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin-top: 10px;
      .box{
        display: inline-block;
        width: 106px;
        height: 66px;
        border-radius: 6px;
        color: #ffffff;
        .flex();
      }
      .one-index{
        background: url("../images/item_1.ec5e16e4.png");
      }
      .two-index{
        background: url("../images/item_2.9fab43fb.png");
      }
      .three-index{
        background: url("../images/item_3.283384df.png");
      }
    }
  }
}
