@import "include/base";
.login{
  .user-input{
    position: relative;
    height: 100%;
    width: 100%;
    float: left;
    img{
      position: absolute;
      right: 10px;
      bottom: 5px;
    }
  }
  .user-button{
    width: 100%;
    height: 40px;
    float: left;
    position: relative;
    .van-col--24{
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      &:nth-child(1){
        justify-content: flex-end;
        padding-right: 20px;
      }
      button{
        width: 320px;
        height: 40px;
        border-radius: 5px;
      }
    }
  }
}
