@import "include/base";
.lottery{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #0e0d41;
  padding: 0 10px;
  header{
    height: 44px;
    color: #ffffff;
    line-height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    a{
      float: left;
      font-size: 25px;
      left: 8px;
      top: 4px;
      position: absolute;
      i{
        color: #ffffff;
      }
    }
    .tab{
      height: 28px;
      border:1px solid #5078d7;
      display: flex;
      border-radius: 5px;
      div{
        .flex();
        padding: 0 15px;
      }
      .left{
        background: #5078d7;
      }
    }
    b{
      font-size: 15px;
      position: absolute;
      right: 5px;
    }
  }
  .list{
    width: 100%;
    display: inline-block;
  }
  .tabs{
    height: 30px;
    .flex();
    .tab-car{
      width: 100%;
      height: 100%;
      text-align: center;
      color: #c0befc;
      line-height: 30px;
    }
    .active{
      background: #302e74;
      border-bottom: 2px solid #c0befc;
      box-sizing: border-box;
    }
  }
  .result, .qiHao{
    border-bottom: 1px solid #858ea1;
    line-height: 40px;
    color: #858ea1;
    b{
      margin-left: 5px;
    }
  }
  .qiHao{
    margin-bottom: 10px;
    .van-count-down{
      display: inline-block;
      color: #858ea1;
      margin-left: 5px;
    }
    .money{
      float: right;
    }
  }
  .num-box{
    width: 100%;
    display: flex;
    .num{
      width: 25%;
      min-height: 35px;
      border-radius: 5px;
      background: linear-gradient(90deg,#3bacfd,#0095ff);
      text-align: center;
      color: #ffffff;
      margin: 5px;
      padding-top: 4px;
      line-height: 15px;
      .flex();
    }
    .active{
      background: linear-gradient(90deg,#e64672,#dc2e5d)!important;
    }
  }
  .bet-box{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0,0,0,.8);
    z-index: 99;
    padding: 0 20px;
    .flex();
    .box{
      width: 100%;
      height: 210px;
      background: #ffffff;
      border-radius: 10px;
      padding: 10px;
      position: relative;
      .close{
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 20px;
        color: #858ea1;
      }
      .list{
        height: 40px;
        border-bottom: 1px solid #ccc;
        line-height: 40px;
        padding: 0 10px;
        label{
          color: #858ea1;
          margin-right: 10px;
          width: 40px;
          display: inline-block;
        }
        input{
          width: 120px;
          height: 30px;
          padding-left: 10px;
          border-radius: 5px;
          border: 1px solid #ffffff;
          &:focus{
            border:1px solid rgb(124, 154 ,225);
          }
        }
        span{
          margin-left: 30px;
        }
      }
      .button{
        height: 70px;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        button{
          width: 135px;
          height: 40px;
          border-radius: 5px;
          line-height: 40px;
          border: 1px solid #5078d7;
          font-size: 14px;
          background: none;
          color: #5078d7;
          font-weight: 600;
          &:nth-child(2){
            background: #5078d7!important;
            color: #ffffff;
          }
        }
      }
    }
  }
}
