@import "include/base";
.personal{
  .top{
    background: url("../images/my_bg.png");
    float: left;
    header{
      height: 50px;
      color: #ffffff;
      line-height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      float: left;
      width: 100%;
      .user-info{
        width: 100%;
        height: 100%;
        padding-left: 10px;
        display: flex;
        align-items: center;
        img{
          width: 32px;
          height: 32px;
          border:1px solid #ff5f4b;
          border-radius: 50%;
        }
        span{
          font-size: 18px;
          margin-left:10px;
        }
      }
      .go-out{
        width: 50px;
        i{
          color: #ffffff;
          float: left;
          font-size: 25px;
          right: 08px;
          top: 12px;
          position: absolute;
        }
        span{
          margin-left: -20px;
          font-size: 15px;
        }
      }
    }
    .user-level{
      height: 50px;
      float: left;
      width: 100%;
      span{
        display: block;
        width: 50%;
        height: 50%;
        float: left;
        color: #ffffff;
        text-align: center;
        line-height: 25px;
      }
    }
    .user-money{
      height: 50px;
      line-height: 50px;
      display: flex;
      align-items: center;
      position: relative;
      float: left;
      width: 100%;
      color: #ffe07f;
      font-size: 20px;
      padding-left: 20px;
      box-sizing: border-box;
      span{
        margin-left: 3px;
        font-size: 16px;
        color: #ffffff;
      }
      img{
        position: absolute;
        right: 20px;
        top: 8px;
        width: 70px;
      }
    }
    .money-button{
      width: 100%;
      height: 44px;
      float: left;
      border-bottom: 1px solid #e0e0e0;
      .van-row{
        height: 100%;
        box-sizing: border-box;
        .van-col--8, .van-col--12{
          height: 100%;
          font-size: 20px;
          color: #ffffff;
          display: flex;
          justify-content: center;
          align-items: center;
          span{
            margin-left: 10px;
          }
        }
      }
    }
  }
  .personal-content{
    width: 100%;
    float: left;
    padding-bottom: 60px;
    i{
      color: #0367fd;
      font-size: 25px;
    }
    span{
      font-size: 16px;
    }
  }
  h1{
    padding: 15px;
    text-align: center;
    font-size: 17px;
  }
  .level-table {
    border-collapse:collapse;
    table-layout: fixed;
    margin: 30px auto;
    text-align: center;
    width: 90%;
    th,td{
      font-size:12px;
      height:30px;
    }
    td{
      border: 1px solid #e6e6e6;
      height: 32px
    }
    th {
      background-color: #f2f7ff
    }
  }
}
