@import "include/base";
.register{
  header{
    height: 44px;
    background: #ffffff;
    color: #000000;
    line-height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    float: left;
    width: 100%;
    a{
      color: #000000;
      float: left;
      font-size: 25px;
      left: 8px;
      top: 4px;
      position: absolute;
    }
    span{
      float: left;
      b{
        font-size: 14px;
        float: left;
        border-radius: 3px;
        height: 33px;
        line-height: 33px;
        padding: 0 10px;
        display: block;
      }
      .active{
        color: red;
        background: #ffffff;
      }
    }
  }
  .user-input{
    position: relative;
    height: 100%;
    width: 100%;
    float: left;
    img{
      position: absolute;
      right: 10px;
      bottom: 5px;
    }
    button{
      height: 30px;
    }
  }
  .user-button{
    width: 100%;
    height: 40px;
    float: left;
    position: relative;
    .van-col--24{
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      button{
        width: 320px;
        height: 40px;
        border-radius: 5px;
        margin-top: 30px;
      }
    }
  }
}
