<template>
  <div id="smp">
    <van-row  v-for="(item,listIndex) in smpList" :key="listIndex" class="p-b-t-10 b-b">
      <van-col span="5"> <span class="typeW">{{item.name}}</span>	</van-col>
      <van-col span="19" class="m-t-5">
        <div class="clear">
          <div @click="selectHM(listIndex,hmIndex)" v-for="hm1,hmIndex in item.oddPlayItems" :class="{'p-t-5':hmIndex>3}" class="pull-l m-r-5 p-t-5">
            <div v-if="hm1.name == 0 || hm1.name == 13 || hm1.name == 14 || hm1.name == 27" :class="{currGray:hm1.isActive}" class="box  p-5">
              <p>{{ hm1.name }}</p>
              <p :class="{'c-w':hm1.isActive,'c-3':!hm1.isActive}" class="f-s-14 ">{{hm1.odds}}</p>
            </div>
            <div v-else-if="hm1.name == 1 || hm1.name == 4 || hm1.name == 7 || hm1.name == 10 || hm1.name == 16 || hm1.name == 19 || hm1.name == 22 || hm1.name == 25" :class="{currGreen:hm1.isActive}" class="box  p-5">
              <p>{{ hm1.name }}</p>
              <p :class="{'c-w':hm1.isActive,'c-3':!hm1.isActive}" class="f-s-14 ">{{hm1.odds}}</p>
            </div>
            <div v-else-if="hm1.name == 2 || hm1.name == 5 || hm1.name == 8 || hm1.name == 11|| hm1.name == 17 || hm1.name == 20 || hm1.name == 23 || hm1.name == 26" :class="{currBlue:hm1.isActive}" class="box  p-5">
              <p>{{ hm1.name }}</p>
              <p :class="{'c-w':hm1.isActive,'c-3':!hm1.isActive}" class="f-s-14 ">{{hm1.odds}}</p>
            </div>
            <div v-else-if="hm1.name == 3 || hm1.name == 6 || hm1.name == 9 || hm1.name == 12 || hm1.name == 15 || hm1.name == 18 || hm1.name == 21 || hm1.name == 24" :class="{currRed:hm1.isActive}" class="box  p-5">
              <p>{{ hm1.name }}</p>
              <p :class="{'c-w':hm1.isActive,'c-3':!hm1.isActive}" class="f-s-14 ">{{hm1.odds}}</p>
            </div>
            <div v-else :class="{currRed:hm1.isActive}" class="box  p-5">
              <p>{{ hm1.name }}</p>
              <p :class="{'c-w':hm1.isActive,'c-3':!hm1.isActive}" class="f-s-14 ">{{hm1.odds}}</p>
            </div>
          </div>
        </div>
      </van-col>
    </van-row>
    <div class="h-50"></div>
  </div>
</template>

<script>
    export default {
      props:[
        'smpList', 'tzSuccess', 'fpText'
      ],
      data(){
        return{

        }
      },
      computed: {

      },
      watch:{
        tzSuccess(newName, oldName) {
          if(newName){
            this.clearTzNum();
            this.$forceUpdate();
          }
        },
        fpText(newName, oldName){
          if(newName){
            this.clearTzNum();
          }
          this.fpText = newName;
        }
      },
      methods:{
        clearTzNum(){
          for(let i in this.smpList){
            let newList = this.smpList[i].oddPlayItems;
            for(let n in newList){
              newList[n].isActive = false;
            }
          }
          this.$forceUpdate();
        },
        selectHM:function (listIndex,hmIndex) {
            if(this.fpText){
              return
            }
          this.$emit('selectSmpHm',listIndex, hmIndex);
          this.$forceUpdate();
        },
      }
    }
</script>

<style scoped>
#smp  .box{
  display: inline-block;
  width: 3rem;
  text-align: center;
  font-size: 16px;
  color: #dc3b40;
  background: #faf9f6;
  border-radius: 0;
  border: 1px solid #dfdfdf;
}
</style>
