<template>
	<div id="sycz" class="flexWrap">
		<van-nav-bar @click-left="back" left-text="返回" left-arrow class="bg-h c-w" title="全部游戏" />
		<van-tabs v-model="cpClass"  @click="tab" :swipe-threshold="5">
			<van-tab v-for="(item,index) in datasList" :key="index" :title="item.title"></van-tab>
		</van-tabs>
		<div class="flexContent" style="border: 1px solid #ccc;">
			<van-row class='bg-w'>
        <van-col v-if="select === '彩票'" span="24">
          <div v-for="(item,index) in moreLotteryGroup" :key="index" >
            <div class="h-20 p-l-10 bg-w p-b-t-5 b-box">
              <p class="clear f-s-14  p-r-10">
                <span class=" p-l-10 pull-l" style="border-left: 2px solid red">{{ item.name }}</span>
              </p>
            </div>
            <div v-show="item2.lotGroup == item.code" v-for="(item2,index2) in cpList" :key="index2" class="text-c p-b-t-10 f-s-0 d-i" style="width: 33%">
              <div @click="goPlays(item2)" >
                <img class="b-r-b50" v-lazy="item2.imgUrl" style="height: 2.2rem;width: 2.2rem" />
                <div class="text-c f-s-14">
                  <div class="" style="margin-top: 5px;">{{item2.name}}</div>
                </div>
              </div>
            </div>
          </div>


<!--          <div class="h-20 p-l-10 bg-w p-b-t-5 b-box">-->
<!--            <p class="clear f-s-14  p-r-10">-->
<!--              <span class=" p-l-10 pull-l" style="border-left: 2px solid red">低频彩</span>-->
<!--            </p>-->
<!--          </div>-->
<!--          <div v-if="item.czCode === '4' || item.czCode === '54' || item.czCode === '15'" v-for="(item,index) in cpList" :key="index" class="text-c p-b-t-10 f-s-0 d-i" style="width: 33%">-->
<!--            <div @click="goPlays(item)" >-->
<!--              <img class="b-r-b50" v-lazy="item.imgUrl" style="height: 2.2rem;width: 2.2rem" />-->
<!--              <div class="text-c f-s-14">-->
<!--                <div class="" style="margin-top: 5px;">{{item.name}}</div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="h-20 p-l-10 bg-w p-b-t-5 b-box">-->
<!--            <p class="clear f-s-14  p-r-10">-->
<!--              <span class=" p-l-10 pull-l" style="border-left: 2px solid red">PK10</span>-->
<!--            </p>-->
<!--          </div>-->
<!--          <div v-if="item.czCode === '3' || item.czCode === '8' || item.czCode === '53'|| item.czCode === '158'" v-for="(item,index) in cpList" :key="index" class="text-c p-b-t-10 f-s-0 d-i" style="width: 33%">-->
<!--            <div @click="goPlays(item)" >-->
<!--              <img class="b-r-b50" v-lazy="item.imgUrl" style="height: 2.2rem;width: 2.2rem" />-->
<!--              <div class="text-c f-s-14">-->
<!--                <div class="" style="margin-top: 5px;">{{item.name}}</div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="h-20 p-l-10 bg-w p-b-t-5 b-box">-->
<!--            <p class="clear f-s-14  p-r-10">-->
<!--              <span class=" p-l-10 pull-l" style="border-left: 2px solid red">11选5</span>-->
<!--            </p>-->
<!--          </div>-->
<!--          <div v-if="item.czCode === '5' || item.czCode === '55' || item.czCode === '14'" v-for="(item,index) in cpList" :key="index" class="text-c p-b-t-10 f-s-0 d-i" style="width: 33%">-->
<!--            <div @click="goPlays(item)" >-->
<!--              <img class="b-r-b50" v-lazy="item.imgUrl" style="height: 2.2rem;width: 2.2rem" />-->
<!--              <div class="text-c f-s-14">-->
<!--                <div class="" style="margin-top: 5px;">{{item.name}}</div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="h-20 p-l-10 bg-w p-b-t-5 b-box" v-if="getGamesClassState('6','66')">-->
<!--            <p class="clear f-s-14  p-r-10">-->
<!--              <span class=" p-l-10 pull-l" style="border-left: 2px solid red">香港彩</span>-->
<!--            </p>-->
<!--          </div>-->
<!--          <div v-if="item.czCode === '6' || item.czCode === '66'" v-for="(item,index) in cpList" :key="index" class="text-c p-b-t-10 f-s-0 d-i" style="width: 33%">-->
<!--            <div @click="goPlays(item)" >-->
<!--              <img class="b-r-b50" v-lazy="item.imgUrl" style="height: 2.2rem;width: 2.2rem" />-->
<!--              <div class="text-c f-s-14">-->
<!--                <div class="" style="margin-top: 5px;">{{item.name}}</div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="h-20 p-l-10 bg-w p-b-t-5 b-box">-->
<!--            <p class="clear f-s-14  p-r-10">-->
<!--              <span class=" p-l-10 pull-l" style="border-left: 2px solid red">快三</span>-->
<!--            </p>-->
<!--          </div>-->
<!--          <div v-if="item.czCode === '10' || item.czCode === '100' || item.czCode === '58'" v-for="(item,index) in cpList" :key="index" class="text-c p-b-t-10 f-s-0 d-i" style="width: 33%">-->
<!--            <div @click="goPlays(item)" >-->
<!--              <img class="b-r-b50" v-lazy="item.imgUrl" style="height: 2.2rem;width: 2.2rem" />-->
<!--              <div class="text-c f-s-14">-->
<!--                <div class="" style="margin-top: 5px;">{{item.name}}</div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="h-20 p-l-10 bg-w p-b-t-5 b-box">-->
<!--            <p class="clear f-s-14  p-r-10">-->
<!--              <span class=" p-l-10 pull-l" style="border-left: 2px solid red">快乐彩</span>-->
<!--            </p>-->
<!--          </div>-->
<!--          <div v-if="item.czCode === '12'" v-for="(item,index) in cpList" :key="index" class="text-c p-b-t-10 f-s-0 d-i" style="width: 33%">-->
<!--            <div @click="goPlays(item)" >-->
<!--              <img class="b-r-b50" v-lazy="item.imgUrl" style="height: 2.2rem;width: 2.2rem" />-->
<!--              <div class="text-c f-s-14">-->
<!--                <div class="" style="margin-top: 5px;">{{item.name}}</div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="h-20 p-l-10 bg-w p-b-t-5 b-box">-->
<!--            <p class="clear f-s-14  p-r-10">-->
<!--              <span class=" p-l-10 pull-l" style="border-left: 2px solid red">PC蛋蛋</span>-->
<!--            </p>-->
<!--          </div>-->
<!--          <div v-if="item.czCode === '7' || item.czCode === '11' || item.czCode === '57' || item.czCode === '161' " v-for="(item,index) in cpList" :key="index" class="text-c p-b-t-10 f-s-0 d-i" style="width: 33%">-->
<!--            <div @click="goPlays(item)" >-->
<!--              <img class="b-r-b50" v-lazy="item.imgUrl" style="height: 2.2rem;width: 2.2rem" />-->
<!--              <div class="text-c f-s-14">-->
<!--                <div class="" style="margin-top: 5px;">{{item.name}}</div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
        </van-col>

				<!--<van-col v-if="select === '彩票'" v-for="(item,index) in cpList" :key="index" class="text-c b-r b-b p-b-t-10 f-s-0" span="8" style="height: 4.5rem;">-->
					<!--<div @click="goPlays(item)">-->
						<!--<img class="b-r-b50" :src="item.imgUrl" style="height: 2.2rem;width: 2.2rem" />-->
						<!--<div class="text-c f-s-14">-->
							<!--<div class="" style="margin-top: 5px;">{{item.name}}</div>-->
						<!--</div>-->
					<!--</div>-->
				<!--</van-col>-->

        <van-col v-if="select === '体育'" v-for="(item,index) in sports" :key="index" class="text-c b-r b-b p-b-t-10 f-s-0" span="8" style="height: 4.5rem;">
          <div @click="goGamePlays(item)">
            <img class="b-r-b50" v-lazy="item.imgUrl" style="height: 2.2rem;width: 2.2rem" />
            <!--<img class="b-r-b50" :src="'https://x002.xbzhanshi.com'+item.imgUrl" style="height: 2.2rem;width: 2.2rem" />-->
            <div class="text-c f-s-14">
              <div class="" style="margin-top: 5px;">{{item.title}}</div>
            </div>
          </div>
        </van-col>
        <van-col v-if="select === '电子'" v-for="(item,index) in games" :key="index" class="text-c b-r b-b p-b-t-10 f-s-0" span="8" style="height: 4.5rem;">
          <div @click="goGames(item)">
            <img class="b-r-b50" v-lazy="item.imgUrl" style="height: 2.2rem;width: 2.2rem" />
            <!--<img class="b-r-b50" :src="'https://x002.xbzhanshi.com'+item.imgUrl" style="height: 2.2rem;width: 2.2rem" />-->
            <div class="text-c f-s-14">
              <div class="" style="margin-top: 5px;">{{item.title}}</div>
            </div>
          </div>
        </van-col>
        <van-col v-if="select === '真人'" v-for="(item,index) in lives" :key="index" class="text-c b-r b-b p-b-t-10 f-s-0" span="8" style="height: 4.5rem;">
          <div @click="goGamePlays(item)">
            <img class="b-r-b50" v-lazy="item.imgUrl" style="height: 2.2rem;width: 2.2rem" />
            <!--<img class="b-r-b50" :src="'https://x002.xbzhanshi.com'+item.imgUrl" style="height: 2.2rem;width: 2.2rem" />-->
            <div class="text-c f-s-14">
              <div class="" style="margin-top: 5px;">{{item.title}}</div>
            </div>
          </div>
        </van-col>
        <van-col v-if="select === '棋牌'" v-for="(item,index) in chess" :key="index" class="text-c b-r b-b p-b-t-10 f-s-0" span="8" style="height: 4.5rem;">
          <div @click="goChess(item)">
            <img class="b-r-b50" v-lazy="item.imgUrl" style="height: 2.2rem;width: 2.2rem" />
            <!--<img class="b-r-b50" :src="'https://x002.xbzhanshi.com'+item.imgUrl" style="height: 2.2rem;width: 2.2rem" />-->
            <div class="text-c f-s-14">
              <div class="" style="margin-top: 5px;">{{item.title}}</div>
            </div>
          </div>
        </van-col>
        <van-col v-if="select === '电竞'" v-for="(item,index) in eSports" :key="index" class="text-c b-r b-b p-b-t-10 f-s-0" span="8" style="height: 4.5rem;">
          <div @click="goGamePlays(item)">
            <img class="b-r-b50" v-lazy="item.imgUrl" style="height: 2.2rem;width: 2.2rem" />
            <!--<img class="b-r-b50" :src="'https://x002.xbzhanshi.com'+item.imgUrl" style="height: 2.2rem;width: 2.2rem" />-->
            <div class="text-c f-s-14">
              <div class="" style="margin-top: 5px;">{{item.title}}</div>
            </div>
          </div>
        </van-col>
			</van-row>
		</div>
	</div>
</template>

<script>
	import { Dialog } from 'vant';
	import { Toast } from 'vant';
  import $ from "jquery";
	export default {
		data() {
			return {
				tabList:[
          {name:'彩票'},{name:'体育'},{name:'电子'},{name:'真人'},{name:'棋牌'}
				],
        list:[],
				cpList: new Array(),//彩种列表
				cpClass: 0,//彩种分类
        sports:[],
        games:[],
        lives:[],
        chess:[],
        eSports:[],//电竞列表
        datasList:[],
        judgeSports:'',
        // b22102Show:true, // 棋牌网站嵌入显示开关
        autoTransIs:false, // 自动额度转换开关
        moreLotteryGroup: [], // 彩种分类
        floder:''
			}
		},
		watch: {

		},
		created: function() {
			this.getLoctterys();//获取当前站点可用彩种
      this.getDatasBesidesLotterys(); // 获取体育电子真人棋牌、列表
      this.select = this.$route.query.title;
      this.cpClass = this.$route.query.index;
      this.getDatasBesidesList(); // 排序
      this.tab(this.cpClass,this.select)
      this.autoTrans(); //自动额度开关
      this.getLotteryGroup(); //自动额度开关

		},
		mounted: function() {
      // if(location.host == 'b00201.appxb.me'){
      // if(location.host == 'localhost:8090'){
      //   this.b22102Show = false
      // }
		},
		methods: {
      getStationInfo:function(){
        $sky.ajax('get', 'native/getStationInfo', {}, (ret) => {
          this.floder = ret.content.station.floder
        });
      },
      autoTrans:function(){
        $sky.ajax('post','native/getStationSwitch',{ type: 'game' },(ret)=>{
          if (ret.success){
            for (let [index,val] of ret.content.entries()){
              if (val.switchKey == 'autoTrans'){
                if (ret.content[index].onFlag =='on'){
                  this.autoTransIs =true
                }
              }
            }
          }
        })
      },
      // 获取彩种分类
      getLotteryGroup: function () {
        let that = this
        $sky.ajax('post','native/lotteryGroup',{ type: 'game' },(ret)=>{
          if (ret.success){
            this.moreLotteryGroup = ret.content
            for(let index in that.moreLotteryGroup){
              if(that.moreLotteryGroup[index].code == 7){
                if(that.floder == 'x002128'){
                  that.moreLotteryGroup[index].name = '竞猜'
                }
              }
            }
          }
        })
      },
      getDatasBesidesList:function(){
        let cthis = this;
        $sky.ajax('get', 'native/getDatasBesidesList', {}, function (ret) {
          if(ret.success){
            cthis.judgeSports = ret.content[1].dataCode;
            if(cthis.$store.state.b00201Show){
              cthis.datasList.push(ret.content[0])
            } else {
              cthis.datasList = ret.content
            }
          }
        })
      },
		  // 棋牌跳转
      goChess:function(item){
        window.location.href = window.location.origin + '/mobile/v3/getQpGameItems.do?playCode='+item.playCode;
        },
		  // 电子跳转
      goGames:function(item){
        if(item.openUrl){
          window.location.href = window.location.origin + item.openUrl;
        }else {
          if(this.autoTransIs){
            let TranSparams = {
              changeTo:'bbin',
              changeFrom:'sys'
            }
            $.ajax({
              url:'/native/fastThirdRealTransMoney.do',
              data:TranSparams,
              async:false,
              type:'post',
              xhrFields : {
                withCredentials : true
              },
              success:function (res) {
                sessionStorage.setItem("autoTrans", "true");
              }
            })
          }
          $sky.ajax('post','forwardBbin',{ type: 'game' },(ret)=>{
            if(ret.success){
              this.url = ret.url;
              location.href = ret.url;
            } else if(ret.isLogin === false){
              Toast(ret.msg);
              this.$router.push({
                path: '/login',
              })
            }else{
              Toast.fail(ret.msg);
            }
          })
        }
      },
		  // 体育跳转
      goGamePlays:function(item){
        let cthis = this;
        switch (item.playCode) {
          case 'hgty':
            window.location.href = window.location.origin + '/mobile/v3/sport/hg/goPage.do?dataType=TD_FT_MN';
            return;
          case 'hgfb':
            cthis.$router.push({
              path: '/xbsport'
            });
            return;
          case 'hgbb':
            cthis.$router.push({
              path: '/basketBall'
            });
            return;
        }
        if(this.autoTransIs){
          let TranSparams = {
            changeTo:'bbin',
            changeFrom:'sys'
          }
          $.ajax({
            url:'/native/fastThirdRealTransMoney.do',
            data:TranSparams,
            async:false,
            type:'post',
            xhrFields : {
              withCredentials : true
            },
            success:function (res) {
              sessionStorage.setItem("autoTrans", "true");
            }
          })
        }
        if(item.playCode === 'bbty'){
          $sky.ajax('post','forwardBbin',{ type: 'ball' },(ret)=>{
            if(ret.success){
              location.href = ret.url;
            }
          });
          return;
        }
        if(item.playCode === 'mg'){
          let parmas = {
            gameType: 1,
            gameid: 66936,
            h5: 1,
          };
          $sky.ajax('post','forwardMg',parmas ,(ret)=>{
            if(ret.success){
              location.href = ret.url;
            }
          });
          return;
        }
        if (item.playCode === 'ibc'){
          let parmas = {
            playCode: item.playCode,
            eSport:1,
          };
          $sky.ajax('post','native/forwardReal',parmas ,(ret)=>{
            if(ret.success){
              this.url = ret.content.url;
              location.href = ret.content.url;
            } else if(ret.isLogin === false){
              Toast(ret.msg);
              this.$router.push({
                path: '/login',
              })
            }else{
              Toast.fail(ret.msg);
            }
          });
          return;
        }
        let params= {
          playCode: item.playCode,
          gameId: '',
        };
        $sky.ajax('post','native/forwardReal',params,(ret)=>{
          if(ret.success){
            this.url = ret.content.url;
            location.href = ret.content.url;
          } else if(ret.isLogin === false){
            Toast(ret.msg);
            this.$router.push({
              path: '/login',
            })

          }else{
            Toast.fail(ret.msg);
          }
        })
        // window.location.href = location.origin+ item.openUrl
      },
      //获取体育，电子，真人分类的种类信息（code 种类代码 0--体育 1-真人 2-电子）
      getDatasBesidesLotterys:function(){
        let allClass = [5,1,2,3,7];
        for(let i in allClass){
          $sky.ajax('post','native/getDatasBesidesLotterys',{code: allClass[i]},(ret)=>{
            if(ret.success){
              switch (i) {
                case '0':
                  if (this.judgeSports === 0){
                    let arr = []
                    for (let a in ret.content){
                      if (a == 1 || a == 2){
                        continue;
                      }
                      arr.push(ret.content[a])
                      this.sports =arr;
                    }
                  }else{
                    this.sports = ret.content;
                  }
                  break;
                case '1':
                  this.lives = ret.content;
                  break;
                case '2':
                  this.games = ret.content;
                  break;
                case '3':
                  this.chess = ret.content;
                  break;
                case '4':
                  this.eSports = ret.content;
                  break;
              }
            }else{
              Toast.fail(ret.msg);
            }
          })
        }
      },
			//获取当前站点可用彩种
			getLoctterys:function(){
				$sky.ajax('post','native/getLoctterys',{},(ret)=>{
					if(ret.success){
						this.cpList = ret.content.sort(function (m, n) {
              if (m.lotGroup < n.lotGroup) return -1;
              else if (m.lotGroup > n.lotGroup) return 1;
              else return 0
            });
					}else{
						Toast.fail(ret.msg);
					}
				})
			},
			//头部切换
			tab:function(index,title){
				this.cpClass = index;
				this.select = title;
				switch (title) {
          case '体育':
            this.list = this.sports;
            break;
          case '真人':
            this.list = this.lives;
            break;
          case '电子':
            this.list = this.games;
            break;
          case '棋牌':
            this.list = this.chess;
            break;
        }
			},
			//去投注页
			goPlays:function(item){
				var path;
				switch (item.lotGroup){
					case 1://时时彩
						path = '/ssc';
						break;
					case 2://低频彩
						path = '/dpc';
						break;
					case 3://PK10
						path = '/pk10';
						break;
					case 5://11选5
						path = '/syxw';
						break;
					case 6://香港彩
						path = '/xgc';
						break;
					case 7://快三
						path = '/ks';
						break;
					case 8://快乐十分
						path = '/klsf';
						break;
					case 9://PC蛋蛋
						path = '/pcdd';
						break;
					default:
						break;
				}
				this.$router.push({
					path: path,
					query: item
				})
			},
			back: function() {
				window.history.go(-1);
			},
      //判断当前彩种游戏是否为空
      getGamesClassState:function (...code){
        let state = false
        this.cpList.some((item)=>{
          if (code.indexOf(item.czCode) > -1){
            state = true
            return true
          }
        })
        return state
      }
		}
	}
</script>

<style>
	.van-col.van-col--8:active {
		background: #ccc;
	}
  #sycz .van-tabs__nav{
    background: #fff;
  }
</style>
