<template>
  <van-list v-model="loading" :finished="finished" :offset="100" @load="onLoad">
    <div v-if="list1.list && list1.list.length>0" class="all bg-w" v-for="item in list1.list">
      <div class="p-b-t-10 p-l-10 b-b p-r">
        <div class="f-s-14 f-s-18 f-w-900">提现方式:<span class="">{{prizeType(item.type)}}</span></div>
        <div class="f-s-14 p-b-t-5">提款金额:<span class="c-r">{{item.drawMoney}}</span></div>
        <div class="f-s-12 c-6">提款时间:{{getDateFull(item.createDatetime)}}</div>
        <div class="f-s-14 money">{{prizeStatus(item.status)}}</div>
      </div>
    </div>
    <div v-if="noData" class="text-c m-t-50">
      <div class="f-s-12 c-9">暂无数据</div>
    </div>
  </van-list>
</template>

<script>
	import { Dialog } from 'vant';
	import { Toast } from 'vant';
	import { List } from 'vant';
	export default {
		data() {
			return {
        noData: false, //无投注记录显示
				startTime: '', //开始时间
				endTime: '',//结束时间
				pageNum1: 1,//当前页
				list1: '',
				loading: false,//是否加载状态
				finished: false,//是否已全部加载啊完成
				hasNext: false,//是否有下一页
			}
		},
		watch: {

		},
		created: function() {
			let date = new Date(new Date().getTime());
			let currentTime = date.getFullYear() + '-' + (date.getUTCMonth()+1) + '-' + date.getUTCDate() + ' 00:00:00';
			this.startTime = currentTime;//开始时间
			this.getEndTime(false);
			this.getDrawrd();//获取提现记录
		},
		mounted: function() {

		},
		methods: {
      getDateFull:function(time){
        return $sky.getDateFull(time)
      },
			//获取取款记录
			getDrawrd:function(){
				var data = {
          startTime : this.startTime,//开始时间
          endTime : this.endTime,//结束时间
					page : this.pageNum1,//当前页
					rows : 50,
					status : ''
				};
				$sky.ajax('post', 'native/drawrd', data, (ret) => {
				  //没有看到返回success状态先屏蔽
					// if(!ret.success && !ret.success){
						// Dialog.alert({
						// 	title: ret.msg
						// }).then(() => {
						// 	this.$router.push({
						// 		path: '/login',
						// 		query: {}
						// 	})
						// });
						// return false;
					// }
					this.list1 = ret;
          this.list1.list? this.noData = true: '';
					this.hasNext = ret.hasNext;
				})
			},
			//开始时间
			getStartTime:function(timeNum){
				if(timeNum == 0){
					let date = new Date(new Date().getTime());
					let currentTime = date.getFullYear() + '-' + (date.getUTCMonth()+1) + '-' + date.getUTCDate() + ' 00:00:00';
					this.startTime = currentTime;//开始时间
					return;
				}
				var time1 = new Date().getTime();//当前时间内挫
				var time2 = timeNum*24*60*60*1000;
				var date = new Date(time1-time2);
		    		var currentdate = date.getFullYear() + '-' + (date.getUTCMonth()+1) + '-' + date.getUTCDate() + '  00:00:00';
		    		this.startTime = currentdate;//开始时间
			},
      // 设置时间
      yugi : function(n){
        var now = new Date;
        now.setDate(now.getDate() - n);
        return now;
      },
			//获取结束时间
			getEndTime:function(istrue){//参数代表是否一个月之前
				if(istrue){
					let time1 = new Date().getTime();
					let time2 = 30*24*60*60*1000;//一个月前时间挫
					let dates = new Date(time1-time2);
		    			let currentTime = dates.getFullYear() + '-' + (dates.getUTCMonth()+1) + '-' + dates.getUTCDate() + '  00:00:00';
		    			this.endTime = currentTime;
		    			return;
				}
				let date = new Date(new Date().getTime());
				let currentdate = date.getFullYear() + '-' + (date.getUTCMonth()+1) + '-' + date.getUTCDate() + ' 23:59:59';//
				this.endTime = currentdate;
			},
			//切换时间段
			forwardTime:function(time){
				this.pageNum1 = 1;
				this.getStartTime(time);//开始时间
        switch (time) {
          case 1:
            this.endTime = this.yugi(1).toLocaleDateString().replace(/\//g,'-') + ' 23:59:59';
            break;
          case 7:
            this.endTime = (new Date()).toLocaleDateString().replace(/\//g,'-') + ' 23:59:59';
            break;
          case 30:
            this.endTime = (new Date()).toLocaleDateString().replace(/\//g,'-') + ' 23:59:59';
            break;
          case 3650:
            this.endTime = this.yugi(30).toLocaleDateString().replace(/\//g,'-') + ' 23:59:59';
            break;
        }
				this.getDrawrd();
			},
			//上拉加载更多
			onLoad:function(){
				setTimeout(() => {
					if(this.hasNext){
						this.pageNum1++;
						var data = {
							startTime : this.startTime,//开始时间
							endTime : this.endTime,//结束时间
							page : this.pageNum1,//当前页
							rows : 50,
							status : ''
						}
						$sky.ajax('post', 'drawrd', data, (ret) => {
							if(!ret.success && !ret.success){
								Dialog.alert({
									title: ret.msg
								}).then(() => {
									this.$router.push({
										path: '/login',
										query: {}
									})
								});
								return false;
							}
							for(let i in ret.list){
								this.list1.list.push(ret.list[i])
							}
							this.loading = false;
							if(!ret.hasNext){
								Toast('已全部加载完毕')
								this.finished = true;
							}
						})
					}else{
						this.loading = false;
						this.finished = true;
					}
				}, 500);
			},
      //提现状态转换
      prizeType:function(type){
        switch (type){
          case 1:
            return '人工加款';
          case 4:
            return '在线取款';
          case 5:
            return '在线支付';
          case 6:
            return '快速入款';
          case 7:
            return '一般入款';
          default:
            return '未知错误';
        }
      },
      //中奖状态转换
      prizeStatus:function(status){
        switch (status){
          case 1:
            return '处理中';
          case 2:
            return '提现成功';
          case 3:
            return '提款失败';
          case 5:
            return '提款已过期';
          case 6:
            return '等待通知';
          default:
            return '未知错误';
        }
      },
			//转换时间
			getTime:function(time){
				return $sky.getDateFull(time);
			},

		}
	}
</script>
<style scoped>
	.money {
		color: green;
		position: absolute;
		right: 10px;
		top: 18px;
	}
</style>
