@import "include/base";
.appDownload{
  .logo{
    text-align: center;
    margin-top: 2rem;
    float: left;
    width: 100%;
    img{
      width: 22rem;
    }
  }
  .content{
    width: 100%;
    height: 100%;
    float: left;
    div{
      float: left;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .title{
      margin-top: 4rem;
      margin-bottom: 2rem;
      img{
        width: 220px;
      }
    }
    .qrcode{
      img{
        width: 15rem;
      }
    }
  }
  .tip{
    float: left;
    width: 100%;
    margin-top: 2rem;
    span{
      display: inline-block;
      width: 100%;
      text-align: center;
      font-size: .6rem;
    }
  }
  .bar-tab{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5rem;
    background: #000000;
    text-align: center;
    line-height: 5rem;
    span{
      display: inline-block;
      width: 100%;
      color: #FFF;
      text-align: center;
      line-height: 2.5rem;
      font-size: 1.4rem;
    }
  }
}
