@import "include/base";
.interact{
  .content{
    float: left;
    width: 100%;
    padding-bottom: 8rem;
    ul{
      li{
        width: 100%;
        height: 8rem;
        background: #ffffff;
        .list-img{
          float: left;
          width: 25%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          img{
            width: 6rem;
            height: 6rem;
          }
        }
        .list-font{
          float: left;
          width: 75%;
          height: 100%;
          border-bottom: 1px solid #e7e7e7;
          .title{
            float: left;
            width: 100%;
            margin-top: 1.5rem;
            position: relative;
            span{
              font-size: 1.4rem;
            }
            span:nth-child(2){
              position: absolute;
              right: 1rem;
              color: #999;
            }
          }
          .result{
            float: left;
            margin-top: 1rem;
            img{
              width: 3rem;
            }
            span{
              color: #5f646e;
            }
          }
        }
      }
    }
  }
}
