@import "include/base";
.login{
  .user-input{
    position: relative;
    height: 100%;
    width: 100%;
    float: left;
    img{
      position: absolute;
      right: 10px;
      bottom: 5px;
    }
  }
  .user-button{
    width: 100%;
    height: 4rem;
    float: left;
    position: relative;
    .van-col--24{
      height: 6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      &:nth-child(1){
        justify-content: right;
        padding-left: 2rem;
      }
      button{
        width: 32rem;
        height: 4rem;
        border-radius: 5px;
      }
    }
  }
}
