@import "include/base";
.lotteryHall{
  .content{
    width: 100%;
    .project-list{
      width: 32.7%;
      height: 12rem;
      float: left;
      background: #FFFFFF;
      border: 1px solid #D9D9D9;
      padding-top: .5rem;
      div{
        width: 100%;
        margin-top: .8rem;
        .flex();
        img{
          width: 5.5rem;
          height: 5.5rem;
          border-radius: 50%;
        }
        b{
          font-size: 1.5rem;
        }
        span{
          color: #fa6200;
        }
      }
    }
  }
}