@import "include/base";
.serviceCode{
  .content{
    width: 100%;
    height: 100%;
    float: left;
    margin-bottom: 6rem;
    .list{
      float: left;
      width: 100%;
      margin: 2rem auto 1rem auto;
      .title{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2rem auto 2rem auto;
        span{
          display: block;
          width: 22rem;
          height: 4rem;
          border-radius: 20px;
          text-align: center;
          line-height: 4rem;
          border:1px solid red;
          background: #f2f3f5;
          font-size: 1.6rem;
        }
      }
      .qrcode{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
          width: 25rem;
        }
      }
    }
  }
  .bar-tab{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 5rem;
    background: #000000;
    text-align: center;
    line-height: 5rem;
    span{
      display: inline-block;
      width: 100%;
      color: #FFF;
      text-align: center;
      line-height: 2.5rem;
      font-size: 1.4rem;
    }
  }
}
