@import "include/base";
.service{
  .serviceIframe{
    position: absolute;
    left: 0;
    right: 0;
    top: 4.4rem;
    bottom: 0;
    iframe{
      border: none;
      width: 100%;
      height: 100%;
    }
  }
}
