<template>
  <div class="bank">
    <personal_header :titleDate="titleDate"></personal_header>
    <div class="bank-wrap">
      <ul>
        <li class="bank-list-item" v-for="(item, index) in cardData" :key="index">
          <div class="item">
            <div class="icon"></div>
            <div class="bank-name-num">
              <span class="name">{{item.account}}</span>
              <span class="num">{{item.bank}}</span>
            </div>
          </div>
        </li>
      </ul>
      <div class="button" @click="addBank">
        <span @click="addBank"><van-icon name="add-o" size="15px" style="    vertical-align: bottom;padding-right: 5px;" />添加新银行卡</span>
      </div>
    </div>
  </div>
</template>

<script>
import personal_header from "@/components/include/personal_header";
import '@/assets/css/center/bank.less'
import {Toast} from "vant";
export default {
  name: "bank",
  components:{personal_header},
  data(){
    return{
      titleDate:{title:'银行卡',rule:{text:'',url:''}},
      cardData:'',
    }
  },
  created() {
    this.getCardList()
  },
  mounted() {
  },
  methods:{
    addBank(){
      this.$router.push('/addBank')
    },
    getCardList:function (){
      let params = {
        token:this.$store.state.token,
      }
      this.$post('user/card_list',params,true).then((res) => {
        if(res.code == 200){
          this.cardData = res.data
        } else {
          Toast(res.message)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>
