<template>
  <div>
    <foot_guess v-if="floder == 'x002157'"></foot_guess>
    <foot_t v-if="floder == 'b168' || floder == 'b168' || this.floder == 'b170' || this.floder == 'b171'"></foot_t>
    <foot_default v-else></foot_default>
  </div>
</template>

<script>
import foot_default from '@/components/tabs/footer/foot_default'
import foot_guess from '@/components/tabs/footer/foot_guess'
import foot_t from '@/components/tabs/footer/foot_t'
export default {
  name: "foot_nav",
  data(){
    return {
      floder:'',
    }
  },
  components:{
    foot_default,foot_guess,foot_t
  },
  created() {
    this.floder = this.$store.state.stationInfo.content.station.floder
  },
  mounted() {
    console.log(this.floder)
  }
}
</script>

<style scoped>

</style>
