<template>
  <header class="common_header">
    <div class="header">
      <a herf="javascript:void(0)" @click="back">
        <van-icon name="arrow-left" size="2rem"/>
        <span class="bark">返回</span>
      </a>
      <span class="title" v-if="floder == 'x00290'">公益投注记录</span>
      <span class="title" v-else-if="floder == 'x002118' || floder == 'x002135' || floder == 'x002140' || floder == 'x002143' ">竞猜投注记录</span>
      <span class="title" v-else-if="floder == 'x002117'">助力投注记录</span>
      <span class="title" v-else-if="floder == 'x002141'">积分记录</span>
      <span class="title" v-else-if="floder == 'a06615' && headerData.filter == 'isCpOnOff'">投注记录</span>
      <span class="title" v-else-if="floder == 'x002145' && headerData.filter == 'isCpOnOff'">抖音点赞记录</span>
      <span class="title" v-else-if="floder == 'x002156' && headerData.filter == 'isCpOnOff'">抖音点赞记录</span>
      <span class="title" v-else-if="floder == 'x002111' && headerData.filter == 'isCpOnOff'">抖音点赞记录</span>
      <span class="title" v-else-if="floder == 'x002153' && headerData.filter == 'isCpOnOff'">公益投注记录</span>
      <span class="title" v-else-if="floder == 'x002103' && headerData.filter == 'isCpOnOff'">公益下单记录</span>
      <span class="title" v-else-if="floder == 'x002170' && headerData.filter == 'isCpOnOff'">下单记录</span>
      <span class="title" v-else-if="(floder == 'x002157' || floder == 'x002161') && headerData.filter == 'isCpOnOff'">竞猜投注记录</span>
      <span class="title" v-else-if="(floder == 'x002159' || floder == 'x002175') && headerData.filter == 'isCpOnOff'">任务记录</span>
      <span class="title" v-else-if="(floder == 'x002160' || floder == 'x002176') && headerData.filter == 'isCpOnOff'">竞技记录</span>
      <span class="title" v-else-if="floder == 'x002130' && headerData.filter == 'isCpOnOff'">我的订单</span>
      <span class="title" v-else>{{ headerData.title }}</span>
      <span class="filter" @click="show.popupw =!show.popupw">筛选</span>
    </div>
    <div class="common_content">
      <van-popup v-model="show.popupw" position="top" :style="{ height:headerData.popupHeight,top:'4.6rem'}">
        <van-cell-group>
          <van-field v-model="params.startTimeReveal" label="开始" right-icon="notes-o" placeholder="开始时间"
                     @click="show.startTimeW =  true" color="red"/>
          <van-field v-model="params.endTimeReveal" label="截止" right-icon="notes-o" placeholder="结束时间"
                     @click="show.endTimeW = true"/>
          <template v-if="headerData.filter == 'isCpOnOff'">
            <van-field v-if="floder == 'x002145' || floder == 'x002111' || floder == 'x002156'" readonly clickable name="picker" value="全部平台"
                       :right-icon="show.letteryW? 'arrow-up' : 'arrow-down'" label="平台"
                       :placeholder="'点击选择' + $store.state.escapeList[93]" @click="show.letteryW = true"/>
            <van-field v-else-if="floder == 'x002159' || floder == 'x002175'" readonly clickable name="picker" value="全部任务"
                       :right-icon="show.letteryW? 'arrow-up' : 'arrow-down'" label="任务"
                       :placeholder="'点击选择' + $store.state.escapeList[93]" @click="show.letteryW = true"/>
            <van-field v-else-if="floder == 'x002141'" readonly clickable name="picker" value="任务类型"
                       :right-icon="show.letteryW? 'arrow-up' : 'arrow-down'" label="任务"
                       :placeholder="'点击选择' + $store.state.escapeList[93]" @click="show.letteryW = true"/>
            <van-field v-else readonly clickable name="picker" :value="params.codeReveal"
                       :right-icon="show.letteryW? 'arrow-up' : 'arrow-down'" :label="$store.state.escapeList[93]"
                       :placeholder="'点击选择' + $store.state.escapeList[93]" @click="show.letteryW = true"/>
            <van-field readonly clickable v-model="params.statusReveal" label="状态"
                       :right-icon="show.statusW ? 'arrow-up' : 'arrow-down'" placeholder="订单状态"
                       @click="show.statusW = true"/>
          </template>
          <template v-else-if="headerData.filter == 'isLhcOnOff'">
            <van-field readonly clickable v-model="params.statusReveal" label="状态"
                       :right-icon="show.statusW ? 'arrow-up' : 'arrow-down'" placeholder="订单状态"
                       @click="show.statusW = true"/>
            <van-field readonly clickable name="picker" :value="'六合彩'" :label="$store.state.escapeList[93]"
                       :placeholder="'点击选择' + $store.state.escapeList[93]"/>
          </template>
          <template v-else-if="headerData.filter == 'isChangeMoney'">
            <van-field readonly clickable v-model="params.typeReveal" label="账变类型"
                       :right-icon="show.statusW ? 'arrow-up' : 'arrow-down'" placeholder="全部"
                       @click="show.statusW = true"/>
          </template>
          <template v-else-if="headerData.filter == 'accountDetails'">
            <van-field readonly clickable v-model="params.aTypeReveal" label="账变类型"
                       :right-icon="show.aType ? 'arrow-up' : 'arrow-down'" placeholder="记录类型"
                       @click="show.aType = true"/>
            <van-field readonly clickable v-model="params.aTtypeReveal" label="交易类型"
                       :right-icon="show.aTtype ? 'arrow-up' : 'arrow-down'" placeholder="全部"
                       @click="show.aTtype = true"/>
            <van-field readonly clickable v-model="params.aStatusReveal" label="处理状态"
                       :right-icon="show.aStatus ? 'arrow-up' : 'arrow-down'" placeholder="全部"
                       @click="show.aStatus = true"/>
          </template>
          <template v-else-if="headerData.filter == 'isBackWater'">
            <van-field readonly clickable v-model="params.backWaterTypeReveal" label="状态"
                       :right-icon="show.statusW ? 'arrow-up' : 'arrow-down'" placeholder="订单状态"
                       @click="show.backWaterType = true"/>
          </template>
          <template v-else-if="headerData.filter == 'isTurnlate'">
            <van-field readonly clickable v-model="params.awardRecordStatusReveal" label="状态"
                       :right-icon="show.awardRecordStatus ? 'arrow-up' : 'arrow-down'" placeholder="订单状态"
                       @click="show.awardRecordStatus = true"/>
          </template>
          <template v-else-if="headerData.filter == 'isChessOnOff'">
            <van-field readonly clickable v-model="params.chessRecordReveal" label="平台类型"
                       :right-icon="show.chessRecord ? 'arrow-up' : 'arrow-down'" placeholder="所有记录"
                       @click="show.chessRecord = true"/>
          </template>
          <template v-else-if="headerData.filter == 'isRealOnOff'">
            <van-field readonly clickable v-model="params.liveRecordReveal" label="平台类型"
                       :right-icon="show.liveRecord ? 'arrow-up' : 'arrow-down'" placeholder="所有记录"
                       @click="show.liveRecord = true"/>
          </template>
          <template v-else-if="headerData.filter == 'isDzOnOff'">
            <van-field readonly clickable v-model="params.egameRecordReveal" label="平台类型"
                       :right-icon="show.egameRecord ? 'arrow-up' : 'arrow-down'" placeholder="所有记录"
                       @click="show.egameRecord = true"/>
          </template>
          <template v-else-if="headerData.filter == 'isTlOnOff'">
            <van-field readonly clickable v-model="params.letteryThirdReveal" label="平台类型"
                       :right-icon="show.letteryThird ? 'arrow-up' : 'arrow-down'" placeholder="所有记录"
                       @click="show.letteryThird = true"/>
          </template>
        </van-cell-group>
        <van-button color="#ec2829" block :loading="false" class="filter-query" @click="query">查询</van-button>
      </van-popup>
      <div class="filter-content-time">
        <van-calendar v-model="show.startTimeW" @confirm="startTimerConfirm" :min-date="minData"/>
        <van-calendar v-model="show.endTimeW" @confirm="endTimeConfirm"/>
      </div>
      <template v-if="headerData.filter == 'isCpOnOff'">
        <van-popup v-model="show.letteryW" position="bottom">
          <van-picker show-toolbar :columns="columns.lottery.name" @confirm="letteryConfirm"
                      @cancel="show.letteryW = false"/>
        </van-popup>
        <van-popup v-model="show.statusW" position="bottom">
          <van-picker show-toolbar :columns="columns.status.name" @confirm="statusConfirm"
                      @cancel="show.statusW = false"/>
        </van-popup>
      </template>
      <template v-else-if="headerData.filter == 'isLhcOnOff'">
        <van-popup v-model="show.statusW" position="bottom">
          <van-picker show-toolbar :columns="columns.status.name" @confirm="statusConfirm"
                      @cancel="show.statusW = false"/>
        </van-popup>
      </template>
      <template v-else-if="headerData.filter == 'isChangeMoney'">
        <van-popup v-model="show.statusW" position="bottom">
          <van-picker show-toolbar :columns="columns.type.name" @confirm="isChangeMoneyStatus"
                      @cancel="show.statusW = false"/>
        </van-popup>
      </template>
      <template v-else-if="headerData.filter == 'accountDetails'">
        <!--        //账户类型-->
        <van-popup v-model="show.aType" position="bottom">
          <van-picker show-toolbar :columns="columns.aType.name" @confirm="isChangeAType" @cancel="show.aType = false"/>
        </van-popup>
        <!--        交易类型-->
        <van-popup v-model="show.aTtype" position="bottom">
          <van-picker show-toolbar :columns="columns.aTtype.name" @confirm="isChangeaTtype"
                      @cancel="show.aTtype = false"/>
        </van-popup>
        <!--        处理状态-->
        <van-popup v-model="show.aStatus" position="bottom">
          <van-picker show-toolbar :columns="columns.aStatus.name" @confirm="isChangeaStatus"
                      @cancel="show.aStatus = false"/>
        </van-popup>
      </template>
      <template v-else-if="headerData.filter == 'isBackWater'">
        <van-popup v-model="show.backWaterType" position="bottom">
          <van-picker show-toolbar :columns="columns.backWaterType.name" @confirm="isChangeaBackWaterType"
                      @cancel="show.backWaterType = false"/>
        </van-popup>
      </template>
      <template v-else-if="headerData.filter == 'isTurnlate'">
        <van-popup v-model="show.awardRecordStatus" position="bottom">
          <van-picker show-toolbar :columns="columns.awardRecordStatus.name" @confirm="isChangeRecordStatus"
                      @cancel="show.awardRecordStatus = false"/>
        </van-popup>
      </template>
      <template v-else-if="headerData.filter == 'isChessOnOff'">
        <van-popup v-model="show.chessRecord" position="bottom">
          <van-picker show-toolbar :columns="columns.chessRecord.name" @confirm="isChangeChessRecord"
                      @cancel="show.chessRecord = false"/>
        </van-popup>
      </template>
      <template v-else-if="headerData.filter == 'isRealOnOff'">
        <van-popup v-model="show.liveRecord" position="bottom">
          <van-picker show-toolbar :columns="columns.liveRecord.name" @confirm="isChangeLiveRecord"
                      @cancel="show.liveRecord = false"/>
        </van-popup>
      </template>
      <template v-else-if="headerData.filter == 'isDzOnOff'">
        <van-popup v-model="show.egameRecord" position="bottom">
          <van-picker show-toolbar :columns="columns.egameRecord.name" @confirm="isChangeEgameRecord"
                      @cancel="show.egameRecord = false"/>
        </van-popup>
      </template>
      <template v-else-if="headerData.filter == 'isTlOnOff'">
        <van-popup v-model="show.letteryThird" position="bottom">
          <van-picker show-toolbar :columns="columns.letteryThird.name" @confirm="isChangeLetteryThird"
                      @cancel="show.letteryThird = false"/>
        </van-popup>
      </template>
    </div>
  </header>
</template>

<script>
import '@/assets/css/include/header.less'
import {Dialog} from "vant";

export default {
  name: "personal_header",
  components: {
    // "van-dialog": Dialog.Component,
  },
  props: {
    headerData: {
      type: Object, default: () => {
        return {title: '投注记录', filter: 'isCpOnOff', popupHeight: '22.1rem'}
      }
    }
  },
  data() {
    return {
      floder: this.$store.state.stationInfo.content.station.floder || 'x002',
      show: {
        popupw: false,
        startTimeW: false,
        endTimeW: false,
        letteryW: false,
        statusW: false,
        type: false,
        aType: false,
        aTtype: false,
        aStatus: false,
        backWaterType: false,
        awardRecordStatus: false,
        chessRecord: false,
        liveRecord: false,
        egameRecord: false,
        letteryThird: false
      },
      columns: {
        status: {
          name: ['全部', this.$store.state.escapeList[113], this.$store.state.escapeList[232], this.$store.state.escapeList[117], this.$store.state.escapeList[228]],
          value: ['', 1, 2, 3, 4]
        },
        lottery: {
          value: [''],
          name: [this.$store.state.escapeList[212]],
        },
        type: {
          name: ['全部', this.$store.state.escapeList[18], this.$store.state.escapeList[19], this.$store.state.escapeList[20], this.$store.state.escapeList[21], this.$store.state.escapeList[22],
            this.$store.state.escapeList[23],  this.$store.state.escapeList[24],  this.$store.state.escapeList[26],  this.$store.state.escapeList[27],  this.$store.state.escapeList[28],
            this.$store.state.escapeList[29],  this.$store.state.escapeList[30],  this.$store.state.escapeList[31], this.$store.state.escapeList[32], this.$store.state.escapeList[33],
            this.$store.state.escapeList[34], this.$store.state.escapeList[36], this.$store.state.escapeList[37], this.$store.state.escapeList[38],
            this.$store.state.escapeList[39], this.$store.state.escapeList[40], this.$store.state.escapeList[41], this.$store.state.escapeList[42], this.$store.state.escapeList[43], this.$store.state.escapeList[44],
            this.$store.state.escapeList[45], this.$store.state.escapeList[46], this.$store.state.escapeList[47], this.$store.state.escapeList[48], this.$store.state.escapeList[49], this.$store.state.escapeList[50],
            this.$store.state.escapeList[51], this.$store.state.escapeList[52], this.$store.state.escapeList[53], this.$store.state.escapeList[54], this.$store.state.escapeList[55], this.$store.state.escapeList[56],
            this.$store.state.escapeList[57], this.$store.state.escapeList[58], this.$store.state.escapeList[59], this.$store.state.escapeList[60], this.$store.state.escapeList[61], this.$store.state.escapeList[62],
            this.$store.state.escapeList[63], this.$store.state.escapeList[64], this.$store.state.escapeList[65], this.$store.state.escapeList[66], this.$store.state.escapeList[67], this.$store.state.escapeList[68],
            this.$store.state.escapeList[69], this.$store.state.escapeList[70]],
          value: ['', 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 13, 14, 113, 15, 16, 87, 88, 55, 54, 78, 79, 80, 201, 202, 203, 204, 130, 131, 132, 133, 134, 135, 136, 137, 139, 138, 140, 141, 142, 143, 18, 19, 20, 17, 1130, 1131, 168, 169, 170, 23]
        },
        aType: {
          name: [this.$store.state.escapeList[210], this.$store.state.escapeList[211]],
          value: [1, 2],
        },
        aTtype: {
          name: ['全部', this.$store.state.escapeList[233], this.$store.state.escapeList[23], this.$store.state.escapeList[234]],
          value: ['', 5, 6, 7],
        },
        aStatus: {
          name: ['全部', '处理中', '处理成功', '处理失败'],
          value: ['', 1, 2, 3],
        },
        backWaterType: {
          name: ['全部', '未领取', '已领取'],
          value: ['', 9, 4]
        },
        awardRecordStatus: {
          name: ['全部', '未处理', '已处理', '处理失败'],
          value: ['', 1, 2, 3]
        },
        chessRecord: {
          name: ['所有类型'],
          value: [0]
        },
        liveRecord: {
          name: ['所有类型'],
          value: [0]
        },
        egameRecord: {
          name: ['所有类型'],
          value: [0]
        },
        letteryThird: {
          name: ['所有记录', 'AG', 'BBIN', 'MG', 'ALLBET', 'OG', 'DS', 'KY', 'BG', 'VR'],
          value: [0, 1, 2, 3, 5, 7, 8, 12, 98, 97]
        }
      },
      params: {
        startTime: '',
        endTime: '',
        startTimeReveal: '',
        endTimeReveal: '',
        codeReveal: this.$store.state.escapeList[212],
        statusReveal: '全部状态',
        code: '',
        status: '',
        typeReveal: '全部',
        type: '',
        aTypeReveal: this.$store.state.escapeList[210],
        aTtypeReveal: '全部',
        aStatusReveal: '全部',
        aType: 1,
        aTtype: '',
        aStatus: '',
        backWaterTypeReveal: '全部',
        backWaterType: '',
        awardRecordStatusReveal: '全部',
        awardRecordStatus: '',
        chessRecordReveal: '所有类型',
        chessRecord: 0,
        liveRecordReveal: '所有类型',
        liveRecord: 0,
        egameRecordReveal: '所有类型',
        egameRecord: 0,
        letteryThirdReveal: '所有类型',
        letteryThird: 0,
      },
      lotteryList: {},
      popupShow: false,
      date: '',
      minData: new Date(2017, 0, 1),
      value1: 1,
      value: 88888,
      showPicker: false,
      option: [
        {text: '全部商品', value: 0},
        {text: '新款商品', value: 1},
        {text: '活动商品', value: 2},
      ],
    }
  },
  created() {
    if (this.headerData.filter == 'isCpOnOff') {
      this.getLotteryList()
    }
    if (this.headerData.filter == 'isChangeMoney') {
      this.getMnyrecordType()
    }

    if (this.headerData.filter == 'isChessOnOff') {
      this.getDatasBesidesLotterys(3)
    } else if (this.headerData.filter == 'isRealOnOff') {
      this.getDatasBesidesLotterys(1)
    } else if (this.headerData.filter == 'isDzOnOff') {
      this.getDatasBesidesLotterys(2)
    }
  },
  mounted() {
    //初始化时间
    let strTime = String(this.$root.common.Format())
    this.params.startTimeReveal = strTime.substring(0, 4) + '/' + strTime.substring(4, 6) + '/' + strTime.substring(6, 8)
    this.params.startTime = strTime.substring(0, 4) + '-' + strTime.substring(4, 6) + '-' + strTime.substring(6, 8) + ' ' + '00:00:00'
    this.params.endTimeReveal = strTime.substring(0, 4) + '/' + strTime.substring(4, 6) + '/' + strTime.substring(6, 8)
    this.params.endTime = strTime.substring(0, 4) + '-' + strTime.substring(4, 6) + '-' + strTime.substring(6, 8) + ' ' + '23:59:59'
    this.query()

    //判断站点
    if (this.floder == 'x002145' || this.floder == 'x002111' || this.floder == 'x002156'){
      this.columns.lottery.name.splice(0,1)
      this.columns.lottery.name.unshift('全部平台')
      this.columns.status.name = ['全部','匹配中','点赞成功','点赞失败','撤单']
    }else if (this.floder == 'x002159' || this.floder == 'x002175'){
      this.columns.lottery.name.splice(0,1)
      this.columns.lottery.name.unshift('全部任务')
    }
  },
  methods: {
    //返回上一页
    back() {
      if (this.$route.query.lottery == 'lottery') {
        this.$router.go(-1)
      } else {
        this.$router.push('/personal')
      }
    },
    //选择彩种
    letteryConfirm(data) {
      this.show.letteryW = false
      this.params.codeReveal = data

      this.columns.lottery.name.some((item, index) => {
        if (item == data) {
          this.params.code = this.columns.lottery.value[index]
        }
      })
    },
    //选择订单状态
    statusConfirm(data) {
      this.show.statusW = false
      this.params.statusReveal = data
      this.columns.status.name.some((item, index) => {
        if (item == data) {
          this.params.status = this.columns.status.value[index]
        }
      })
    },
    //选择开始时间
    startTimerConfirm(data) {
      this.show.startTimeW = false
      let strTime = String(this.$root.common.Format(data))
      this.params.startTimeReveal = strTime.substring(0, 4) + '/' + strTime.substring(4, 6) + '/' + strTime.substring(6, 8)
      this.params.startTime = strTime.substring(0, 4) + '-' + strTime.substring(4, 6) + '-' + strTime.substring(6, 8) + ' ' + '00:00:00'
    },
    //选择结束时间
    endTimeConfirm(data) {
      this.show.endTimeW = false
      let strTime = String(this.$root.common.Format(data))
      this.params.endTimeReveal = strTime.substring(0, 4) + '/' + strTime.substring(4, 6) + '/' + strTime.substring(6, 8)
      this.params.endTime = strTime.substring(0, 4) + '-' + strTime.substring(4, 6) + '-' + strTime.substring(6, 8) + ' ' + '23:59:59'
    },
    //账户明细的信息
    isChangeAType(data) {
      this.show.aType = false
      this.params.aTypeReveal = data;
      this.columns.aType.name.some((item, index) => {
        if (item == data) {
          this.params.aType = this.columns.aType.value[index]
        }
      })
    },
    //反水记录状态
    isChangeaBackWaterType(data) {
      this.show.backWaterType = false
      this.params.backWaterTypeReveal = data;
      this.columns.backWaterType.name.some((item, index) => {
        if (item == data) {
          this.params.backWaterType = this.columns.backWaterType.value[index]
        }
      })
    },
    //中奖记录
    isChangeRecordStatus(data) {
      this.show.awardRecordStatus = false
      this.params.awardRecordStatusReveal = data;
      this.columns.awardRecordStatus.name.some((item, index) => {
        if (item == data) {
          this.params.awardRecordStatus = this.columns.awardRecordStatus.value[index]
        }
      })
    },
    //棋牌投注记录
    isChangeChessRecord(data) {
      this.show.chessRecord = false
      this.params.chessRecordReveal = data
      this.columns.chessRecord.name.some((item, index) => {
        if (item == data) {
          this.params.chessRecord = this.columns.chessRecord.value[index]
        }
      })
    },
    //真人投注记录
    isChangeLiveRecord(data) {
      this.show.liveRecord = false
      this.params.liveRecordReveal = data
      this.columns.liveRecord.name.some((item, index) => {
        if (item == data) {
          this.params.liveRecord = this.columns.liveRecord.value[index]
        }
      })
    },
    //电子投注记录
    isChangeEgameRecord(data) {
      this.show.egameRecord = false
      this.params.egameRecordReveal = data
      this.columns.egameRecord.name.some((item, index) => {
        if (item == data) {
          this.params.egameRecord = this.columns.egameRecord.value[index]
        }
      })
    },
    //第三方彩票
    isChangeLetteryThird(data) {
      this.show.letteryThird = false
      this.params.letteryThirdReveal = data
      this.columns.letteryThird.name.some((item, index) => {
        if (item == data) {
          this.params.letteryThird = this.columns.letteryThird.value[index]
        }
      })
    },
    isChangeaTtype(data) {
      this.show.aTtype = false
      this.params.aTtypeReveal = data;
      this.columns.aTtype.name.some((item, index) => {
        if (item == data) {
          this.params.aTtype = this.columns.aTtype.value[index]
        }
      })
    },
    isChangeaStatus(data) {
      this.show.aStatus = false
      this.params.aStatusReveal = data;
      this.columns.aStatus.name.some((item, index) => {
        if (item == data) {
          this.params.aStatus = this.columns.aStatus.value[index]
        }
      })
    },
    //彩种信息
    getLotteryList() {
      this.$post('native/getLotteryList.do', {}, true).then(res => {
        this.lotteryList = res
        if ('isLogin' in res && res.isLogin == false) {
          Dialog.alert({
            title: '登陆提示',
            message: res.msg
          }).then(() => {
            this.$router.push({
              path: '/login',
            })
          });
          return
        }
        this.lotteryList.bcList.map(item => {
          this.columns.lottery.name.push(item.name)
          this.columns.lottery.value.push(item.code)
        })
      })
    },
    //棋牌分类信息
    getDatasBesidesLotterys(code) {
      this.$fetch('native/getDatasBesidesLotterys.do', {code: code}, true).then(res => {
        if (res.success) {
          if (this.headerData.filter == 'isChessOnOff') {
            res.content.some((item) => {
              this.columns.chessRecord.name.push(item.title)
              this.columns.chessRecord.value.push(item.platformId)
            })
            return
          } else if (this.headerData.filter == 'isRealOnOff') {
            res.content.some((item) => {
              this.columns.liveRecord.name.push(item.title)
              this.columns.liveRecord.value.push(item.platformId)
            })
            return
          } else if (this.headerData.filter == 'isDzOnOff') {
            res.content.some((item) => {
              this.columns.egameRecord.name.push(item.title)
              this.columns.egameRecord.value.push(item.platformId)
            })
            return

          }
        }
      })
    },
    //查询
    query() {
      if (this.headerData.filter == 'isLhcOnOff') {
        this.params.code = 'LHC'
      }
      this.$emit('get_lottery_order', this.params)
      this.show.popupw = false
    },
    //用户张变信息
    isChangeMoneyStatus(data) {
      this.show.statusW = false
      this.params.typeReveal = data
      this.columns.type.name.some((item, index) => {
        if (item == data) {
          this.params.type = this.columns.type.value[index]
          return true
        }
      })
    },
    //获取张变类型
    getMnyrecordType() {
      this.$post('native/getMnyrecordType.do', '', false).then(res => {
        if (res) {
          this.columns.type.value = ['']
          this.columns.type.name = ['全部']
          for (let key in res) {
            this.columns.type.value.push(key)
            this.columns.type.name.push(res[key])
          }

          if (this.floder == 'x002145' || this.floder == 'x002111' || this.floder == 'x002156'){
            this.columns.type.name.some((item,index)=>{
              let value = item.replace('彩票','')
              console.log(value)
              this.columns.type.name[index] = value
            })
          }
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
