@import "./include/base";
.account{
  .header {
    height: 45px;
    position: relative;
    color: #ffffff;
    font-size: 18px;
    background: url("../images/out.png");
    background-size:  100% 100%;
    text-align: center;
    line-height: 45px;

    .out {
      position: absolute;
      left: 10px;
      top: 10px;
      width: 13px;
    }
  }
  .account-wrap{
    margin-top: 10px;
    .account-list-wrap{
      padding-left: 14px;
      padding-right: 13px;
      background: #fff;
      margin-bottom: 13px;
      .two-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top:18px;
        padding-bottom: 18px;
        border-bottom: 1px solid #e9eaec;
        &:last-child{
          margin-bottom: 0;
        }
        span{
          width: 17px;
          height: 14px;
          display: inline-block;
          margin-right: 23px;
        }
        p{
          display: inline-block;
          font-size: 14px;
          color: #333333;
          font-weight: 600;
        }
        .two-tip{
          width: 60%;
          text-align: right;
          span{
            margin-right: 11px;
            font-size: 14px;
            width: auto;
            height: auto;
            font-weight: 500;
            //color: #999;
            display: inline-block;
            white-space: nowrap;
          }
          i{
            vertical-align: middle;
          }
        }
      }
    }
  }
}
