@import "./include/base";
.addBank{
  .header {
    height: 45px;
    position: relative;
    color: #ffffff;
    font-size: 18px;
    background: url("../images/out.png");
    background-size:  100% 100%;
    text-align: center;
    line-height: 45px;
    .out {
      position: absolute;
      left: 10px;
      top: 10px;
      width: 13px;
    }
  }
  .addBank-wrap{
    box-sizing: border-box;
    margin-top: 13px;
    font-size: 15px;
    font-weight: 400;
    color: #000;
    .button{
      margin: 20px auto;
      text-align: center;
      width: 100%;
      padding: 0 20px;
      span{
        width: 100%;
        text-align: center;
        padding: 10px 0;
        color: #ffffff;
        display: inline-block;
        background:linear-gradient(90deg,#e4392e,#ff4d16) ;
        border-radius: 30px;
      }
    }
  }
}