@import "./include/base";
.address{
  .header {
    height: 45px;
    position: relative;
    color: #ffffff;
    font-size: 18px;
    background: url("../images/out.png");
    background-size:  100% 100%;
    text-align: center;
    line-height: 45px;
    .out {
      position: absolute;
      left: 10px;
      top: 10px;
      width: 13px;
    }
  }
  .address-wrap{
    padding: 10px;
    overflow: auto;
    width: 100%;
    .address-list-item{
      padding: 10px;
      margin-bottom: 10px;
      background: #ffffff;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 5px;
      .left{
        p{
          &:first-child{
            display: flex;
            align-items: center;
            margin-bottom: 14px;
            font-size: 17px;
            font-weight: 700;
            color: #000;
          }
          &:last-child{
            span{
              font-size: 12px;
              color: #6b6b6b;
              &:first-child{
                margin-right: 15px;
              }
            }
          }
        }
      }
      .right{}
    }
    .submit{
      .button{
        margin: 20px auto;
        text-align: center;
        width: 100%;
        padding: 0 20px;
        span{
          width: 100%;
          text-align: center;
          padding: 10px 0;
          color: #ffffff;
          display: inline-block;
          background:linear-gradient(90deg,#e4392e,#ff4d16) ;
          border-radius: 30px;
        }
      }
    }
  }
}