@import "./include/base";
.bank{
  .header {
    height: 45px;
    position: relative;
    color: #ffffff;
    font-size: 18px;
    background: url("../images/out.png");
    background-size:  100% 100%;
    text-align: center;
    line-height: 45px;

    .out {
      position: absolute;
      left: 10px;
      top: 10px;
      width: 13px;
    }
  }
  .bank-wrap{
    ul{
      .bank-list-item{
        padding: 19px 23px;
        width: 348px;
        height: 101px;
        margin: 13px auto;
        background: linear-gradient(90deg,#e4392e,#ff4d16);
        border-radius: 13px;
        .item{
          display: flex;
          justify-content: flex-start ;
          position: relative;
          .icon{
            background: url("../images/icon.5b1aeffc.png") no-repeat;
            background-size: cover;
            height: 35px;
            width: 35px;
            margin-right: 20px;
          }
          .bank-name-num{
            span{
              font-size: 15px;
              font-weight: 500;
              color: #fff;
              display: block;
            }
          }
          .del{
            color: #ffffff;
            position: absolute;
            right: 0px;
          }
        }
      }
    }
    .button{
      margin: 20px auto;
      text-align: center;

      span{
        width: 50%;
        text-align: center;
        padding: 10px 0;
        color: #ffffff;
        display: inline-block;
        background: linear-gradient(90deg,#e4392e,#ff4d16);
        border-radius: 8px;
      }
    }
  }
}