@import "./include/base";
.cash{
  .header {
    height: 45px;
    position: relative;
    color: #ffffff;
    font-size: 18px;
    background: url("../images/out.png");
    background-size:  100% 100%;
    text-align: center;
    line-height: 45px;

    .out {
      position: absolute;
      left: 10px;
      top: 10px;
      width: 13px;
    }
    .bank{
      position: absolute;
      font-size: 13px;
      right: 10px;
      top: 0px;
    }
  }
  .input-box{
    margin-top: 10px;
    background: #ffffff;
    .list{
      height: 52px;
      display: flex;
      font-size: 13px;
      .left{
        width: 30%;
        height: 100%;
        line-height: 52px;
        text-align: center;
        font-weight: 600;
        white-space: pre;
      }
      .right{
        width: 65%;
        height: 100%;
        line-height: 52px;
        padding-left: 10px;
        input{
          border: none;
          width: 100%;
          height: 100%;
        }
      }
    }
    .tip{
      color: #f12211;
      font-size: 13px;
      line-height: 43px;
      padding: 0 20px;
    }
  }
  .button{
    margin: 20px auto;
    text-align: center;
    width: 100%;
    padding: 0 20px;
    span{
      width: 100%;
      text-align: center;
      padding: 10px 0;
      color: #ffffff;
      display: inline-block;
      background:linear-gradient(90deg,#e4392e,#ff4d16) ;
      border-radius: 30px;
    }
  }
}