@import "./include/base";
.confirm{
  .header {
    height: 45px;
    position: relative;
    color: #ffffff;
    font-size: 18px;
    background: url("../images/out.png");
    background-size:  100% 100%;
    text-align: center;
    line-height: 45px;

    .out {
      position: absolute;
      left: 10px;
      top: 10px;
      width: 13px;
    }
  }
  .detail{
    padding: 20px;
    margin-top: 10px;
    background: #ffffff;
    .project{
      width: 100%;
      height: 90px;
      display: flex;
      justify-content: space-between;
      .left{
        width: 30%;
        height: 100%;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .right{
        width: 70%;
        margin-left: 20px;
      }
    }
    .info{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 16px;
      font-weight: 600;
      font-size: 12px;
    }
    .date{
      color: rgba(0,0,0,.6);
      font-size: 12px;
    }
    .title{
      height: 48px;
      line-height: 48px;
      font-weight: 600;
      font-size: 14px;
      border-bottom: 1px solid #ececec;
    }
    .money-list{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 16px;
      font-size: 12px;
    }
  }
  .tip{
    margin: 10px 0;
    color: #f12211;
    text-align: right;
    padding: 0 20px;
    font-size: 12px;
    font-weight: 700;
  }
  .service {
    height: 54px;
    background: #ffffff;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    div {
      display: inline-block;
      font-size: 12px;

      &:nth-child(1) {
        width: 50%;
        text-align: center;
        img{
          width: 22px;
          height: 22px;
        }
      }

      &:nth-child(2) {
        width: 50%;
        text-align: center;
        button{
          background: linear-gradient(123deg,#e3382e,#ff4d15);
          border:none;
          border-radius: 15px;
          color: #ffffff;
          height: 36px;
          width: 80%;
        }
      }
    }
  }
}