@import "./include/base";

.financial {
  .header {
    height: 45px;
    position: relative;
    color: #ffffff;
    font-size: 18px;
    background: url("../images/out.png");
    background-size:  100% 100%;
    text-align: center;
    line-height: 45px;

    .out {
      position: absolute;
      left: 10px;
      top: 10px;
      width: 13px;
    }
  }

  .title {
    width: 100%;
    height: 42px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px 2px hsl(0deg 0% 63% / 15%);
    color: rgba(0, 0, 0, .6);
    padding: 0 20px;
    font-size: 13px;
  }

  .box-list {
    margin-top: 20px;
    padding: 0 10px;

    .box {
      display: inline-block;
      width: 50%;
      padding: 0 5px;
      margin-top: 20px;
      img {
        width: 100%;
        height: 175px;
      }

      span {
        width: 100%;
        font-size: 13px;
        color: #455a64;
        padding-left: 10px;
        display: inline-block;
        margin-top: 5px;
      }
    }
  }
}