@import "./include/base";
.invite{
  .header {
    position: relative;
    min-height: 217px;
    background: url("../images/tg_bg.png");
    background-size:  100% 100%;
    padding-top: 40px;
    .out {
      position: absolute;
      left: 10px;
      top: 10px;
      width: 13px;
    }
    .title {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 45px;
      line-height: 45px;
      text-align: center;
      color: #ffffff;
      font-size: 18px;
    }
    p{
      color: #ffffff;
      font-weight: 600;
      text-align: center;
      margin-top: 10px;
    }
  }
  .detail{
    padding: 20px;
    background: #ffffff;
    margin-top: 10px;
    .title{
      height: 48px;
      line-height: 48px;
      font-weight: 600;
      font-size: 14px;
      border-bottom: 1px solid #ececec;
    }
    p{
      text-align: center;
      margin-top: 10px;
    }
    .money-list{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 16px;
      font-size: 12px;
    }
  }
  .button{
    background: linear-gradient(90deg,#e4392e,#ff4d16);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 46px;
    border: none;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    line-height: 46px;
  }
  .code-box{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0,0,0,.6);
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    .share_inner{
      width: 100%;
      position: relative;
      img{
        width: 100%;
      }
    }
    button{
      background: linear-gradient(90deg,#e4392e,#ff4d16);
      height: 47px;
      border-radius: 30px;
      border:none;
      color: #ffffff;
      width: 100%;
    }
  }
}