@import "./include/base";
body{
  background: #fafafa;
}
.login{
  .header{
    height: 185px;
    background: url("../images/login_bg.png");
    background-size: 100% 100%;
    .title{
      color: #ffffff;
      padding-top: 10px;
      font-size: 20px;
      text-align: center;
    }
  }
  .login-box{
    position: absolute;
    width: 100%;
    height: 390px;
    left: 0;
    top: 70px;
    padding:0 20px;
    .box{
      width: 100%;
      height: 100%;
      background: #ffffff;
      border-radius: 10px;
      box-shadow:0 1px 2px 3px hsl(0deg 0% 63% / 15%);
      padding: 32px 25px 0 25px;
      .cur{
        height: 37px;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        .btn{
          width: 106px;
          height: 100%;
          text-align: center;
          color: #ceced0;
          border-bottom: 2px solid #ceced0;
          font-size: 18px;
        }
        .active{
          color: #f12211;
          border-bottom: 2px solid #f12211;
        }
      }
      .input{
        width: 100%;
        position: relative;
        margin-top: 20px;
        input{
          border: none;
          border-bottom: 1px solid #ceced0;
          padding-left: 40px;
          height: 40px;
          width: 100%;
        }
        button{
          background: linear-gradient(90deg,#e4392e,#ff4d16);
          width: 95px;
          height: 35px;
          color: #ffffff;
          border-radius: 5px;
          border: none;
          font-size: 14px;
          position: absolute;
          right: 0;
        }
        img{
          position: absolute;
          left: 0;
          width: 35px;
          top: 5px;
        }
      }
      .forget-pass{
        margin-top: 30px;
        text-align: right;
        color: #3d96ff;
      }
      .user-tip{
        margin-top: 20px;
        font-size: 12px;
        text-align: left;
        span{
          color: #3d96ff;
          font-size: 12px;
        }
      }
      .button{
        margin-top: 30px;
        button{
          background: linear-gradient(90deg,#e4392e,#ff4d16);
          width: 100%;
          height: 46px;
          color: #ffffff;
          border-radius: 20px;
          border: none;
          font-size: 16px;
        }
      }
    }
  }
}