@import "./include/base";
.moneybag{
  .header {
    height: 167px;
    position: relative;
    color: #ffffff;
    font-size: 18px;
    background: url("../images/order.6a44c127.png");
    background-size: 100% 100%;
    text-align: center;
    .title{
      left: 0;
      right: 0;
      top: 0;
      text-align: center;
      height: 45px;
      line-height: 45px;
    }
    .out {
      position: absolute;
      left: 10px;
      top: 10px;
      width: 13px;
    }
    .money{
      position: absolute;
      bottom: 20px;
      left: 20px;
      span{
        font-size: 40px;
        color:#ffffff;
      }
    }
    .label{
      position: absolute;
      bottom: 80px;
      left: 20px;
      font-size: 14px;
    }
    .button{
      width: 70px;
      height: 37px;
      line-height: 37px;
      right: 0;
      position: absolute;
      font-size: 14px;
      background: linear-gradient(300deg,#ffba00,#ff6d49);
      border-radius:20px 0 0 20px;
    }
  }
  .order-list{
    margin-top: 10px;
    background: #ffffff;
    padding-bottom: 10px;
    .list{
      border-bottom: 1px solid #ececec;
      padding-bottom: 10px;
      .title{
        min-height: 41px;
        line-height: 41px;
        padding-left: 20px;
        font-size: 13px;
      }
      .info{
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        font-size: 14px;
      }
    }
  }
}
