@import "./include/base";
.myOrder{
  .header {
    height: 45px;
    position: relative;
    color: #ffffff;
    font-size: 18px;
    background: url("../images/out.png");
    background-size:  100% 100%;
    text-align: center;
    line-height: 45px;

    .out {
      position: absolute;
      left: 10px;
      top: 10px;
      width: 13px;
    }
  }
  .order-list{
    margin-top: 10px;
    padding-bottom: 20px;
    .list{
      margin-top: 20px;
      background: #ffffff;
      padding-bottom: 20px;
      .title{
        height: 41px;
        line-height: 41px;
        border-bottom: 1px solid #ececec;
        padding-left: 20px;
        font-size: 13px;
      }
      .info{
        margin-top: 20px;
        padding-left: 20px;
        font-size: 12px;
      }
    }
  }
}
