@import "./include/base";
.newtask{
  .header {
    height: 45px;
    position: relative;
    color: #ffffff;
    font-size: 18px;
    background: url("../images/out.png");
    background-size:  100% 100%;
    text-align: center;
    line-height: 45px;

    .out {
      position: absolute;
      left: 10px;
      top: 10px;
      width: 13px;
    }
  }
  .type{
    height: 97px;
    width: 100%;
    background: #ffffff;
    .box-list{
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      .img-list{
        margin: 0 20px;
        width: 100%;
        .img{
          text-align: center;
          img{
            height: 39px;
          }
        }
        .font{
          font-size: 12px;
          white-space: pre;
          text-align: center;
        }
      }
    }
  }
  .tip{
    margin-top: 10px;
    padding: 20px;
    background: #ffffff;
    .title{
      font-weight: 600;
      font-size: 15px;
    }
    .tips{
      margin-top: 10px;
      color: rgba(0,0,0,.6);
      font-size: 13px;
    }
  }
}
