@import "./include/base";

.newwalfare {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  background: linear-gradient(90deg, #f22246, #eb0b42);

  .header {
    height: 45px;
    position: relative;
    color: #ffffff;
    font-size: 18px;
    background: url("../images/out.png");
    background-size:  100% 100%;
    text-align: center;
    line-height: 45px;

    .out {
      position: absolute;
      left: 10px;
      top: 10px;
      width: 13px;
    }
  }

  .tip {
    position: absolute;
    left: 0;
    right: 0;
    top: 140px;
    color: #ffffff;
    text-align: center;
    font-size: 18px;
  }

  .money {
    position: absolute;
    left: 0;
    right: 0;
    top: 170px;
    text-align: center;
    font-size: 68px;
    color: #ffd3a0;
    font-weight: 600;

    span {
      font-size: 25px;
    }
  }

  .button {
    position: absolute;
    left: 0;
    right: 0;
    top: 280px;

    div {
      width: 100px;
      height: 100px;
      background: #ffd3a0;
      border-radius: 50%;
      text-align: center;
      line-height: 100px;
      color: red;
      font-size: 20px;
      margin: 0 auto;
    }
  }
}