@import "./include/base";
.newtask{
  .header {
    height: 45px;
    position: relative;
    color: #ffffff;
    font-size: 18px;
    background: url("../images/out.png");
    background-size:  100% 100%;
    text-align: center;
    line-height: 45px;

    .out {
      position: absolute;
      left: 10px;
      top: 10px;
      width: 13px;
    }
  }
  .title {
    width: 100%;
    height: 42px;
    box-shadow: 0 2px 10px 2px hsl(0deg 0% 63% / 15%);
    color: rgba(0, 0, 0, .6);
    padding: 0 20px;
    font-size: 13px;
    line-height: 42px;
    background: #ffffff;
    span{
      color: #e4392e;
      font-weight: 600;
    }
  }
  .notice-list{
    background: #ffffff;
    margin-top: 20px;
    padding: 0 20px;
    .list{
      padding: 10px 0;
      border-bottom: 1px solid #f3f3f3;
      .label{
        font-size: 14px;
        font-weight: 600;
      }
      .content{
        margin: 10px 0;
        display: flex;
        justify-content: space-between;
        span{
          color: #a0a3a3;
          font-size: 12px;
        }
      }
    }
  }
}
