@import "./include/base";
.order-detail{
  .header{
    height: 45px;
    position: relative;
    color: #ffffff;
    font-size: 18px;
    background: url("../images/out.png");
    background-size:  100% 100%;
    text-align: center;
    line-height: 45px;
    .out {
      position: absolute;
      left: 10px;
      top: 10px;
      width: 13px;
    }
  }
  .status{
    background: #ffffff;
    padding: 0 20px;
    height: 43px;
    line-height: 43px;
    font-size: 16px;
  }
  .detail{
    padding: 20px;
    margin-top: 10px;
    background: #ffffff;
    .project{
      width: 100%;
      height: 90px;
      display: flex;
      justify-content: space-between;
      .left{
        width: 30%;
        height: 100%;
        img{
          width: 100%;
          height: 100%;
        }
      }
      .right{
        width: 70%;
        margin-left: 20px;
      }
    }
    .money{
      height: 48px;
      line-height: 48px;
      font-weight: 600;
      font-size: 12px;
      text-align: right;
      border-bottom: 1px solid #ececec;
    }
    .info{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 16px;
      font-weight: 600;
      font-size: 12px;
    }
    .date{
      color: rgba(0,0,0,.6);
      font-size: 12px;
    }
    .title{
      height: 48px;
      line-height: 48px;
      font-weight: 600;
      font-size: 14px;
      border-bottom: 1px solid #ececec;
    }
    .money-list{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 16px;
      font-size: 12px;
    }
  }
}