@import "./include/base";

.product {
  .header {
    height: 375px;
    width: 100%;
    position: relative;

    .back {
      width: 100%;
      height: 100%;
    }

    .out {
      position: absolute;
      left: 10px;
      top: 10px;
      width: 30px;
    }
  }

  .title_box {
    width: 100%;
    background: #ffffff;
    padding: 20px;

    .title {
      font-weight: 600;
      font-size: 20px;
    }

    .money {
      margin-top: 10px;
      color: #fb2004;
      font-size: 12px;

      span {
        margin-right: 20px;
        white-space: nowrap;
      }
    }

    .tip {
      margin-top: 10px;
      color: rgba(0, 0, 0, .6);
      font-size: 12px;
      display: flex;
      justify-content: space-between;
    }
  }

  .detail {
    margin-top: 20px;
    background: #ffffff;
    padding: 20px;

    .title {
      font-size: 14px;
      font-weight: 600;
    }

    .line {
      display: flex;
      align-items: center;

      span {
        display: inline-block;
        font-size: 12px;
        margin-top: 10px;

        &:nth-child(1) {
          width: 25%;
        }

        &:nth-child(2) {
          width: 75%;
        }
      }
    }
  }

  .bottom {
    margin-top: 20px;
    height: 30px;
    background: #ffffff
  }

  .service {
    height: 54px;
    background: #ffffff;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    span {
      display: inline-block;
      font-size: 12px;

      &:nth-child(1) {
        width: 25%;
        text-align: center;
        img{
          width: 22px;
          height: 22px;
        }
      }

      &:nth-child(2) {
        width: 75%;
        text-align: center;
        button{
          background: #ffb700;
          border:none;
          border-radius: 15px;
          color: #ffffff;
          height: 36px;
          width: 80%;
        }
      }
    }
  }
}