@import "./include/base";
.recharge{
  .header {
    height: 45px;
    position: relative;
    color: #ffffff;
    font-size: 18px;
    background: url("../images/out.png");
    background-size:  100% 100%;
    text-align: center;
    line-height: 45px;

    .out {
      position: absolute;
      left: 10px;
      top: 10px;
      width: 13px;
    }
  }
  .money{
    margin-top: 10px;
    padding:0 20px;
    background: #ffffff;
    height: 50px;
    input{
      width: 100%;
      height: 100%;
      border: none;
    }
  }
  .type{
    margin-top: 10px;
    padding:0 20px;
    background: #ffffff;
    .list{
      height: 56px;
      border-bottom: 1px solid #ececec;
      display: flex;
      align-items: center;
    }
  }
  .button{
    margin: 20px auto;
    text-align: center;
    width: 100%;
    padding: 0 20px;
    span{
      width: 100%;
      text-align: center;
      padding: 10px 0;
      color: #ffffff;
      display: inline-block;
      background:linear-gradient(90deg,#e4392e,#ff4d16) ;
      border-radius: 30px;
    }
  }
}