@import "./include/base";
.sign{
  .header {
    position: relative;
    height: 162px;
    background: url("../images/sign_bg.e3540a71.png");
    background-size:  100% 100%;
    padding-top: 50px;
    .out {
      position: absolute;
      left: 10px;
      top: 10px;
      width: 13px;
    }

    .title {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 45px;
      line-height: 45px;
      text-align: center;
      color: #ffffff;
      font-size: 18px;
    }
    p{
      text-align: center;
      margin-top: 10px;
    }
  }
  .detail{
    padding: 20px;
    margin-top: 10px;
    background: #ffffff;
    .project{
      width: 100%;
      height: 90px;
      display: flex;
      justify-content: space-between;
      .left{
        width: 30%;
        height: 100%;
        background: linear-gradient(180deg,#ff545a,#fd1533);
        p{
          color: #ffffff;
          text-align: center;
          margin-top: 10px;
        }
      }
      .right{
        width: 70%;
        margin-left: 20px;
        p{
          font-size: 14px;
        }
      }
    }
  }
  .tip{
    color: #e4392e;
    margin-top: 10px;
    padding: 0 20px;
    font-size: 12px;
  }
}