body{
	background: #f3f3f3;
}
.index{
	.header{
		width: 100%;
		height: 90rpx;
		padding: 0 20rpx;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #d4d0ff;
		color: #fff;
		font-size: 36rpx;
		position: relative;
		image{
			width: 75rpx;
			height: 75rpx;
			margin-right: 10rpx;
			position: absolute;
			left: 13rpx;
			top: 8rpx;
		}
	}
	.swipe{
		position: relative;
		.online-person-num{
			position: absolute;
			width: 280rpx;
			height: 60rpx;
			line-height: 60rpx;
			text-align: center;
			padding: 0 10rpx;
			color: #f3f3f3;
			background: rgba(0,0,0,.3607843137254902);
			top: 10rpx;
			right: 0;
			border-top-left-radius: 10rpx;
			border-bottom-left-radius: 10rpx;
			font-size: 24rpx;
		}
	}
	.notice{
		width: 100%;
		height: 80rpx;
	}
	.label{
		font-size: 32rpx;
		color: #333333;
		border-left: 8rpx solid #d4d0ff;
		padding-left: 10rpx;
	}
	.middle-menu{
		width: 100%;
		display: flex;
		align-items: center;
		background: #ffffff;
		padding-bottom: 20rpx;
		padding-top: 10rpx;
		.box{
			height: 100%;
			width: 100%;
			text-align: center;
			image{
				width: 96rpx;
				height: 96rpx;
			}
			p{
				font-size: 24rpx;
				color: #727272;
			}
			
		}
	}

	.hot-merchant{
		background: #fff;
		.activity-title{
			width: 100%;
			height: 112rpx;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #16ba63;
			background: #ffffff;
		}
		.classify{
			.box{
				padding-top: 30rpx;
				width: 50%;
				display: inline-block;
				height: 360rpx;
				text-align: center;
				font-size: 26rpx;
				image{
					width: 188rpx;
					height: 188rpx;
					margin-bottom: 20rpx;
				}
				.tip{
					margin-top: 10rpx;
					font-size: 24rpx;
					color: #a2a2a2;
				}
			}
		}
	}
	.activity{
		width: 100%;
		margin-top: 30rpx;
		.box{
			margin-bottom: 20rpx;
			image{
				width: 100%;
				height: 220rpx;
			}
		}
	}
	.red-box{
		position: fixed;
		right: 10rpx;
		bottom: 200rpx;
		width: 150rpx;
		height: 150rpx;
		image{
			width: 100%;
			height: 100%;
		}
	}
}