.personal{
	.header{
		width: 100%;
		background: #d4d0ff;
		padding: 10rpx 20rpx;
		.info{
			width: 100%;
			display: flex;
			align-items: center;
			image{
				width: 100rpx;
				height: 100rpx;
				margin-right: 30rpx;
			}
			p{
				font-size: 26rpx;
				uni-text{
					margin-left: 10rpx;
				}
			}
		}
	}
	.money-operate{
		width: 100%;
		height: 100rpx;
		background: #ffffff;
		display: flex;
		.box{
			width: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 26rpx;
			image{
				width: 50rpx;
				height: 50rpx;
				margin-right: 10rpx;
			}
		}
	}
	.record{
		width: 100%;
		padding: 30rpx;
		display: flex;
		align-items: center;
		justify-content: space-around;
		margin-top: 20rpx;
		background: #ffffff;
		.box{
			width: 130rpx;
			p{
				text-align: center;
				color: #666;
				font-size: 26rpx;
				&:nth-child(1){
					margin-bottom: 10rpx;
				}
			}
		}
	}
	.menu{
		width: 100%;
		background: #ffffff;
		margin-top: 40rpx;
		.list{
			width: 100%;
			height: 90rpx;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 30rpx;
			span{
				display: flex;
				align-items: center;
				
			}
			image{
				width: 50rpx;
				height: 50rpx;
				margin-right: 10rpx;
			}
		}
	}
	.button{
		padding: 0 50rpx;
		margin-bottom: 40rpx;
		button{
		  width: 100%;
		  height: 80rpx;
		  background: #d4d0ff;
		  color: #ffffff;
		  border-radius: 20rpx;
		  border: none;
				line-height: 80rpx;
				font-size: 28rpx;
		}
	}
	.uni-icons{
		margin-right: 10rpx;
	}
	.go-out{
		width: 100%;
		height: 80rpx;
		margin-top: 40rpx;
		padding: 0 50rpx;
		button{
			height: 100%;
			width: 100%;
			border-radius: 40rpx;
			background: #d4d0ff;
			color: #ffffff;
			font-size: 24rpx;
			line-height: 80rpx;
		}
	}
}