.shop{
	.hot-merchant{
		.activity-title{
			width: 100%;
			height: 112rpx;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #16ba63;
		}
		.classify{
			.middle{
				padding: 10rpx;
				width: 50%;
				display: inline-block;
				.box{
					padding-top: 30rpx;
					width: 100%;
					display: inline-block;
					height: 360rpx;
					text-align: center;
					font-size: 26rpx;
					background: #fff;
					image{
						width: 188rpx;
						height: 188rpx;
						margin-bottom: 20rpx;
					}
					.tip{
						margin-top: 10rpx;
						font-size: 24rpx;
						color: #a2a2a2;
					}
				}
			}
		}
	}
}