<template>
  <div class="active">
    <header class="public-header">
<!--      <router-link to="/"><van-icon name="arrow-left" /></router-link>-->
      <span>礼品专区</span>
    </header>
    <div class="list" v-if="activeList.length > 0">
      <div class="active" v-for="(item, index) in activeList" :key="index">
        <div class="title" @click="activeShow == index ? activeShow = 9999 : activeShow = index">
          <img :src="item.titleImgUrl" alt="">
        </div>
        <div class="content" v-html="item.content" v-show="activeShow == index"></div>
      </div>
    </div>
    <div style="text-align: center;background: #ffffff;font-size: 1.8rem;height: 100vh;padding-top: 96px" v-else>
      <img src="../assets/images/no-data.png" alt="data" style="width:16.5rem;height:16.5rem;">
      <br>
      <span style="font-size: 1.8rem;text-align: center;">暂无数据。</span>
    </div>
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import '@/assets/css/active.less'
import foot_nav from '@/components/include/foot_nav'
export default {
name: "active",
  components:{
    foot_nav
  },
  data(){
    return{
      activeList:[],
      activeShow:'9999',
    }
  },
  created() {
    this.activeContent()
  },
  mounted() {
  },
  methods:{
    activeContent:function () { //获取互动图片数据
      this.$post('native/active_infos.do',{},true).then(res=>{
        if(res.success == true){
          this.activeList = res.content
        }
      })
    }
  }
}
</script>

<style scoped>

</style>
