<template>
  <div class="address">
    <header class="address-header">
      <router-link to="/personal"><van-icon name="arrow-left" size="2.5rem" /></router-link>
      <span>收货地址管理</span>
      <router-link tag="div" to='/bindCard' class="add" v-if="!back.cardNo">
        <van-icon name="add-o" size="2.5rem" />
      </router-link>
    </header>
    <div class="container">
      <div class="content" v-if="back.cardNo">
        <div class="address-item">
          <p><span>兑换银行：</span><span>{{back.bankName}}</span></p>
          <p><span>姓名：</span><span>{{back.userName}}</span></p>
          <p><span>开户支行：</span><span>{{back.bankAddress}}</span></p>
          <p><span>银行卡号：</span><span>{{back.cardNo}}</span></p>
        </div>
      </div>
      <div class="no-content" v-else>
        暂未绑定地址，请点击右上角'+'添加
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/address.less'
export default {
name: "address",
  data(){
    return{
      back:{}
    }
  },
  created() {
    this.accountInfoIs()
  },
  methods:{
    // 获取用户信息
    accountInfoIs: function () {
      this.$fetch('native/accountInfo.do').then(res => {
        if (res.success) {
          this.back = res.content
        }
      })
    },
  }
}
</script>

<style scoped>

</style>