<template>
  <div class="index">
  </div>
</template>

<script>
export default {
  name: "index",
  data(){
    return{
      floder: ''
    }
  },
  created() {
    this.getStationInfo()
  },
  mounted() {

  },
  methods:{
    getStationInfo:function (){
      this.$fetch('native/getStationInfo.do').then((res) => {
        if(res.success){
          this.floder = res.content.station.floder
          this.$store.commit('pushStationInfo',res)
          document.title = this.$store.state.stationInfo.content.title
          this.$store.commit('pushPseudoDataClass',1)
          this.$router.push({path:'/indexD'})
        }
      })
      //判断站点 pseudoDataClass
    },
  }
}
</script>

<style scoped>

</style>
