<template>
  <div class="lobby">
    <header class="lobby-headaer">
<!--      <router-link to="/personal"><van-icon name="arrow-left" size="2.5rem" /></router-link>-->
      <span>商家购物大厅</span>
    </header>
    <div class="container">
      <ul class="content" v-if="playList[dataBesidesIndex].dataCode == 4">
        <router-link tag="li" class="list" v-for="(item,index) in playList[dataBesidesIndex].lotterys " :key="index" :to="{path:'/throwinto',query:{code:item.code,lotGroup:item.lotGroup,class:'lobby'}}">
          <img :src="item.imgUrl" alt="logo">
          <br>
          <span>{{item.name}}</span>
        </router-link>
      </ul>
    </div>
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import '@/assets/css/lobby.less'
import foot_nav from '@/components/include/foot_nav'
export default {
  name: "lobby",
  components:{
    foot_nav
  },
  data(){
    return{
      playList:[
        {title:'彩票'}
      ],  // 储存玩法数据
      dataBesidesIndex:0, //玩法大类排序索引
    }
  },
  created() {
    this.getHomeData()
  },
  mounted() {
  },
  methods:{
    getHomeData:function (){
      if(this.$store.state.homeData.success){
        this.homeDataOperate(this.$store.state.homeData)
      } else {
        this.$fetch('native/getHomeData.do',{},true).then((res) => {
          if(res.success){
            res.content.some((item,index)=>{
              if (item.dataCode == '4'){
                let arr = []
                item.lotterys.some(item2=>{
                  if (item2.lotGroup == 7){
                    arr.push(item2)
                  }
                })
                res.content[index].lotterys = arr
                return true
              }
            })

            this.homeDataOperate(res)
            this.$store.commit('pushHomeData',res)
          }
        })
      }
    },
    homeDataOperate:function (res){
      this.playList = res.content
      if(res.isLSOnOff == 'on'){
        this.isLSOnOff = true
      }
      if(this.isLSOnOff){
        this.getLotteryGroup()
      }
    },
  }
}
</script>

<style scoped>

</style>