<template>
  <div class="index">
  </div>
</template>

<script>
export default {
  name: "index",
  data(){
    return{
      floder: this.$store.state.stationInfo.content.station.floder
    }
  },
  created() {
    if(this.floder == 'x002215' || this.floder == 'x002217' || this.floder == 'x002219' || this.floder == 'x002220' || this.floder == 't006'){
      this.$router.push({path:'/personalW'})
    } else {
      this.$router.push({path:'/personalD'})
    }
  },
  mounted() {

  },
  methods:{
  }
}
</script>

<style scoped>

</style>
