<template>
  <div class="service">
    <header class="public-header">
      <router-link to="/"><van-icon name="arrow-left" /></router-link>
      <span>在线客服</span>
    </header>
    <div class="serviceIframe" v-if="floder == 'x002209'">
      <p>抱歉，您访问的页面地址有误或者该页面不存在</p>
      <div class="button">
        <button @click="$router.push({path:'/'})">返回首页</button>
      </div>
    </div>
    <div class="serviceIframe" v-else>
      <iframe :src="service.content" v-if="serviceSwitch"></iframe>
      <div v-if="!serviceSwitch" style="margin-top: 5rem;font-size: 2rem;text-align: center;">客服上班时间为{{service.star}} - {{service.end}}</div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/service.less'
export default {
name: "service",
  data(){
    return{
      service:'',
      serviceSwitch:true,
      floder:this.$store.state.stationInfo.content.station.floder || 'x002',
    }
  },
  created() {
    this.getServiceUrl()
  },
  mounted() {
  },
  methods:{
    // 在线客服
    getServiceUrl:function (){
      this.$fetch('native/getServiceUrl.do').then((res) => {
        if(res.success){
          this.service = res
          let date = new Date();
          let year = date.getFullYear() + "/"+(date.getMonth() + 1)+"/"+date.getDate() +" "
          let nowDate = Date.parse(date);
          let start = (new Date(year + res.star + ":00")).getTime();
          let end = (new Date(year + res.end + ":00")).getTime();
          if(nowDate > end || nowDate < start){
            this.serviceSwitch = false
          }
        }
      })
    },
  }
}
</script>

<style scoped>

</style>
