<template>
  <div class="setting">
    <header class="setting-header">
      <router-link to="/personal"><van-icon name="arrow-left" size="2.5rem" /></router-link>
      <span>设置</span>
    </header>
    <div class="container">
      <div class="main">
        <van-cell title="会员账号" value="18215" />
        <div class="edition">
          <van-cell title="版本检测" value="当前版本为1.10.15" />
<!--          <van-cell title="关于我们"    is-link/>-->
        </div>
      </div>
      <div class="button" @click="logout">
        退出
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/setting.less'
import {Dialog, Toast} from "vant";
export default {
  name: "set",
  data(){
    return{

    }
  },
  methods:{
    // 退出登录
    logout: function () {
      Dialog.confirm({
        title: '安全提示',
        message: '是否退出当前账户',
      }).then(() => {
        this.$post('native/logout.do').then(res => {
          if (res.success) {
            this.$store.commit('pushIsLogin', false)
            this.$router.push({path: '/'})
            Toast('账户 ' + this.accountInfo.account + ' 退出成功')
          }
        })
      }).catch(() => {
      });
    },
  }
}
</script>

<style scoped>

</style>