<template>
  <div class="sport">
    <div class="content">
      <img src="@/assets/images/sport/sport_1.jpg" @click="$router.push({path:'/sportImg',query:{id:1}})">
      <div class="img-box back1">
        <div class="more" @click="$router.push({path:'/sportList',query:{id:1}})">查看更多></div>
        <div class="box" @click="$router.push({path:'/sportImg',query:{id:2}})"></div>
        <div class="box" @click="$router.push({path:'/sportImg',query:{id:12}})"></div>
        <div class="box" @click="$router.push({path:'/sportImg',query:{id:13}})"></div>
      </div>
      <div class="img-box back2">
        <div class="more" @click="$router.push({path:'/sportList',query:{id:2}})">查看更多></div>
        <div class="box" @click="$router.push({path:'/sportImg',query:{id:3}})"></div>
        <div class="box" @click="$router.push({path:'/sportImg',query:{id:22}})"></div>
        <div class="box" @click="$router.push({path:'/sportImg',query:{id:23}})"></div>
      </div>
      <div class="img-box back3">
        <div class="more" @click="$router.push({path:'/sportList',query:{id:3}})">查看更多></div>
        <div class="box" @click="$router.push({path:'/sportImg',query:{id:4}})"></div>
        <div class="box" @click="$router.push({path:'/sportImg',query:{id:32}})"></div>
        <div class="box" @click="$router.push({path:'/sportImg',query:{id:33}})"></div>
      </div>
      <div class="img-box back4">
        <div class="box" @click="$router.push({path:'/sportImg',query:{id:41}})"></div>
        <div class="box" @click="$router.push({path:'/sportImg',query:{id:5}})"></div>
        <div class="box" @click="$router.push({path:'/sportImg',query:{id:43}})"></div>
      </div>
    </div>
    <foot_nav></foot_nav>
  </div>
</template>

<script>
import '@/assets/css/tabs/sport.less'
import foot_nav from '@/components/include/foot_nav'
export default {
  name: 'sport',
  components:{
    foot_nav
  },
  data(){
    return{

    }
  },
  created:function(){

  },
  mounted:function(){

  },
  methods:{

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="less">

</style>
