<template>
    <section class="esports-section" :class="getEsportsSectionClass" v-show="esportsSectionTitle">
        <div class="esports-section-title">
            <em></em>
            {{esportsSectionTitle}}
        </div>
        <div class="esports-section-content">
            <!-- 具体投注DOM容器 -->
            <detail-section-item v-for="item in datas" 
            :oddsItem="item"
            :key="'esports-detail-section-item-' + item.edoid"></detail-section-item>
        </div>
    </section>
</template>
<script>
/**
 * @description 玩法容器
 */
import detailSectionItem from '@/components/esports/detailSectionItem'
export default {
    props:['playName','playSortName','edid','mid','maxMoney','minMoney','datas'],
    computed:{
        /* 玩法socket列表 */
        PLAY_SOCKET_LIST:function(){
            return this.$parent.$parent.socketData2
        },
        /* 玩法socket匹配结果 */
        PLAY_SOCKET_ITEM:function(){
            let result = false
            if(this.edid && this.PLAY_SOCKET_LIST){
                if(this.PLAY_SOCKET_LIST.has(this.edid)){
                    result = this.PLAY_SOCKET_LIST.get(this.edid)
                }
            }
            return result
        },
        /* ######### 根据玩法http数据派生如下 ######### */

        /* 完整玩法名称 */
        esportsSectionTitle:function(){
            return `${this.playSortName} - ${this.playName}`
        },

        /* ######### 需要考虑socket状态的数据 ######### */

        /* 当前投注是否支持串关 */
        canCombine:function(){
            let result = true
            /* 一、优先匹配socket结果 */
            if(this.PLAY_SOCKET_ITEM){
                result = this.PLAY_SOCKET_ITEM.canCombine || false
            /* 二、返回http结果 */
            }else{
                result = this.$parent.canCombine
            }
            return result
        },
        /* 当前玩法可投注状态 */
        betState:function(){
            let result = true
            /* 一、如果整场比赛投注状态被禁止 */
            if(!this.$parent.$parent.esportsBetState){
                result = false
            /* 二、优先匹配socket结果 */
            }else if(this.PLAY_SOCKET_ITEM){
                result = this.PLAY_SOCKET_ITEM.betState ? parseInt(this.PLAY_SOCKET_ITEM.betState) : false
            /* 三、返回http结果 */
            }else{
                result = this.$parent.betState
            }
            return result
        },
        /* 玩法是否需要锁住 */
        getEsportsSectionClass:function(){
            return this.betState ? '' : 'lock'
        },

        /* ######### 原型链返回 ######### */

        /* 主队数据 */
        hTeam:function(){
            return this.$parent.$parent.corePlayMatchList[0] || false
        },
        /* 客队1 数据 */
        vTeam1:function(){
            return this.$parent.$parent.corePlayMatchList[1] || false
        },

    },
    methods:{
        /* 投注行为 */
        setUserOdds:function(edoid,oddsName,odds){
            this.$store.dispatch('setUserOdds',{
                mid:this.mid,                       /* 比赛id */
                edid:this.edid,                     /* 玩法id */
                edoid,                              /* 投注id */
                title:`
                    <span class="team">${this.$parent.$parent.hTeamName}</span>
                    <span class="VS">VS</span>
                    <span class="team">${this.$parent.$parent.vTeam1Name}</span>
                `,
                playName:this.esportsSectionTitle,              /* 当前玩法名称 */
                oddsName,                           /* 投注方队伍名称 */
                money:this.minMoney,                /* 投注金额 */
                maxMoney:this.maxMoney,             /* 最大投注金额 */
                minMoney:this.minMoney,             /* 最小投注金额 */
                canCombine:this.canCombine,         /* 当期投注是否支持串关 */
                isStarted:this.$parent.$parent.esportsState == 2 ? true : false,   /* 客户端认为当前比赛是否滚盘 */
                odds,                               /* 赔率 */
                oddsState:0,                        /* 赔率变化状态 */
                betState:1,                         /* 比赛状态 */
                betResult:0,                        /* 结算状态 */
            })
        },
    },
    components:{
        detailSectionItem
    }
}
</script>
<style lang="scss">
.esports-section{
    display: flex;
    margin-bottom: .8rem;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,.15);
    .esports-section-title{
        display: flex;
        flex-basis:33.3%;
        flex-shrink: 0;
        align-items: center;
        box-sizing: border-box;
        background-color:#2b2f34;
        color: white;
        padding: 0 10px;
        border-right: 1px solid #222;
        em{
            display: inline-block;
            width: 7px;
            height: 7px;
            border-radius: 7px 0;
            margin-right: 10px;
            background-color: $theme-font-color;
        }
    }
    .esports-section-content{
        display: flex;
        flex-basis:66.6%;
        align-items: stretch;
        box-sizing: border-box;
        background-color: #383c43;
        flex-wrap: wrap;
    }
    &.lock{
        color: #6c6e75 !important;
        .esports-section-title{
            color: #6c6e75 !important;
        }
    }
}
</style>