<template>
    <div class="esports-pankou">
        <detail-section
        :playName="playName"
        :playSortName="playSortName"
        :edid="edid"
        :mid="mid"
        :maxMoney="maxMoney"
        :minMoney="minMoney"
        :datas="egEgameMatchDetailOddsList"></detail-section>
    </div>
</template>
<script>
/**
 * @description 玩法组容器（曾是盘口容器,已被砍掉）
 */
import detailSection from '@/components/esports/detailSection'
export default {
    props:['datas','playSortName','mid'],
    computed:{
        /* ######### 根据玩法http数据派生如下 ######### */

        /* 玩法下具体赔率组(多盘口已被砍掉) */
        egEgameMatchDetailOddsList:function(){
            return this.datas.egEgameMatchDetailOddsList || []
        },
        /* 当前玩法名称 */
        playName:function(){
            return this.datas.playName || ''
        },
        /* 当前玩法id */
        edid:function(){
            return this.datas.edid || ''
        },
        /* 当前玩法是否支持串关 */
        canCombine:function(){
            return this.datas.canCombine || false
        },
        /* 当前玩法可投注状态 */
        betState:function(){
            return this.datas.betState ? parseInt(this.datas.betState) : false  
        },
        /* 当前玩法 最大投注金额 */
        maxMoney:function(){
            return this.datas.maxMoney !== false ? parseInt(this.datas.maxMoney) : 0
        },
        /* 当前玩法 最小投注金额 */
        minMoney:function(){
            return this.datas.minMoney !== false ? parseInt(this.datas.minMoney) : 0
        },
    },
    components:{
        detailSection
    }
}
</script>