<template>
    <div class="esports-section-item" :class="getEsportsSectionItemClass" @click.prevent="shieldOdds" :data-edoid="edoid" >

        <!-- 左侧 -->
        <div class="l">
            <!-- 标题 -->
            <div class="title" v-if="oddsName">{{oddsName}}</div>
        </div>

        <!-- 右侧 -->
        <div class="r">
            <!-- 赔率展示及变化展示 -->
            <template v-if="ODDS_ITEM_BET_STATE">
                <!-- 赔率 -->
                <span class="odds white" v-if="ODDS_ITEM_ODDS != '0.00'">{{ODDS_ITEM_ODDS}}</span>
                <!-- 锁 -->
                <span class="icon-lock-box" v-else>
                    <i class="iconfont icon-lock"></i>
                </span>
                <!-- 变化展示 上升 -->
                <span class="status" v-if="ODDS_ITEM_STATUS == 1 && !ODDS_ITEM_LOCK">
                    <i class="iconfont icon-odds-rise"></i>
                </span>
                <!-- 变化展示 下降 -->
                <span class="status" v-if="ODDS_ITEM_STATUS == 2 && !ODDS_ITEM_LOCK">
                    <i class="iconfont icon-odds-low"></i>
                </span>
            </template>
            <!-- 赔率状态展示 -->
            <template v-else>
                <!-- 胜 -->
                <span class="icon-win" v-if="ODDS_ITEM_RESULT == 1"></span>
                <!-- 败 -->
                <span class="icon-lose" v-else-if="ODDS_ITEM_RESULT == 2"></span>
                <!-- 锁 -->
                <span class="icon-lock-box" v-else>
                    <i class="iconfont icon-lock"></i>
                </span>
            </template>
        </div>
    </div>
</template>
<script>
/**
 * @description 具体投注DOM容器
 */
export default {
    props:['oddsItem'],
    computed:{
        /* 赔率id */
        edoid:function(){
            return this.oddsItem.edoid || ''
        },
        /* 投注方名称 */
        oddsName:function(){
            return this.oddsItem.oddsName || ''
        },
        /* 投注状态 */
        betState:function(){
            return this.oddsItem.betState || 0
        },
        /* 投注实体列表 */
        ODDS_OBJ_LIST:function(){
            return this.$parent.$parent.socketData
        },
        /* 投注实体 */
        ODDS_ITEM:function(){
            let result = false
            if(this.ODDS_OBJ_LIST && this.ODDS_OBJ_LIST[this.edoid]){
                result = this.ODDS_OBJ_LIST[this.edoid]
            }else{
                result = this.oddsItem
            }
            return result
        },
        /* 当前投注赔率 */
        ODDS_ITEM_ODDS:function(){
            return this.ODDS_ITEM.odds || 0
        },
        /* 当前投注是否需要锁住 */
        ODDS_ITEM_LOCK:function(){
            let result  = false
            if(!this.$parent.betState){
                result = true
            }else if(this.ODDS_ITEM_ODDS && this.ODDS_ITEM_ODDS == '0.00'){
                result = true
            }else if(!this.ODDS_ITEM_BET_STATE){
                result = true
            }
            return result
        },
        /* 当前投注（允许投注）状态 */
        ODDS_ITEM_BET_STATE:function(){
            let result = 0
            if(this.$parent.betState){
                result = this.ODDS_ITEM.oddsBetState != undefined ? parseInt(this.ODDS_ITEM.oddsBetState) : 0
            }
            return result
        },
        /* 当前投注赔率变化状态 */
        ODDS_ITEM_STATUS:function(){
            return this.ODDS_ITEM.oddsState ? parseInt(this.ODDS_ITEM.oddsState) : 0
        },
        /* 当前投注状态     1:胜    2：败   */
        ODDS_ITEM_RESULT:function(){
            return this.oddsItem.result != undefined ? this.oddsItem.result : 0
        },
        /* MAP 玩家投注列表 */
        MAP_USER_ODDS_LIST:function(){
            return this.$store.getters.MAP_USER_ODDS_LIST || false
        },
        /* 计算当前投注状态 */
        selected:function(){
            let result = false
            if(this.MAP_USER_ODDS_LIST){
               if(this.MAP_USER_ODDS_LIST.has(this.edoid)){
                   result = true
               }
            }
            return result
        },
        /* 计算当前css样式类 */
        getEsportsSectionItemClass:function(){
            let result = []
            /* 状态选中 */
            if(this.selected){
                result.push('esports-section-item-active')
            }
            /* 禁止投注 */
            if(this.ODDS_ITEM_LOCK){
                result.push('lock')
            }
            return result
        },
    },
    methods:{
        shieldOdds:function(){
            if(!this.ODDS_ITEM_LOCK){
                this.$parent.setUserOdds(this.edoid,this.oddsName,this.ODDS_ITEM_ODDS)
            }
        },
    },
}
</script>
<style lang="scss">
.esports-section-item{
    display: flex;
    justify-content: space-between;
    flex-grow: .5;
    flex-basis: 25%;
    box-sizing: border-box;
    padding: 10px;
    border-right: 1px solid #222;
    border-bottom: 1px solid #222;
    cursor: pointer;
    transition: background-color .3s;
    position: relative;
    &:hover{
        background: #40474f;
    }

    /* 选中 */
    &.esports-section-item-active{
        background-color: $theme-font-dark-color2;
        .l{
            .title{
                color: white;
            }
        }
        .r{
            .odds{
                color: white;
            }
        }
    }
    
    /* 单纯锁住 */
    &.lock{
        color: #6c6e75;
        .l{
            .title{
                color: #6c6e75;
            }
        }
        .r{
            .odds{
                color: #6c6e75;
            }
        }
    }

    /* 选中时被锁住 */
    &.esports-section-item-active.lock{
        background-color: $theme-font-dark-color2;
        .l{
            .title{
                color: white;
            }
        }
        .r{
            .odds{
                color: white;
            }
        }
        .icon-lock{
            color: white;
        }
    }
    
    /* 左侧 */
    .l{
        line-height: 2rem;
    }

    /* 右侧 */
    .r{

        line-height: 2rem;

        /* 赔率 */
        /* 胜败状态 */
        .icon-win,.icon-lose,.icon-lock-box{
            position: absolute;
            top: 55%;
            right:0;
            transform: translateY(-50%);
        }
        .icon-lock-box{
            .icon-lock{
                margin-right: .5rem;
            }
        }
        /* 赔率变化状态 */
        .status{
            margin-left: .5rem;
            .iconfont{
                will-change: opacity;
                animation: twincle 1s linear infinite;
            }
            /* 赔率上升 */
            .icon-odds-rise{
                color:$theme-font-color;
            }
            /* 赔率下降 */
            .icon-odds-low{
                color: #fb413d;
            }
        }
    }

}
</style>