<template>
    <div class="esports-row-item" :class="getEsportsRowItemClassName" :data-mid="mid" :data-edid="edid" >
        <div class="item">
            <!-- 比赛时间状态 -->
            <match-time-state></match-time-state>
            <!-- 比赛名称 -->
            <div class="item-b">
                <!-- 比赛图标 -->
                <img :src="egameLogo" >
                <span>{{matchName}}</span>
            </div>
            <!-- 比赛信息主体 -->
            <div class="item-c">
                <!-- 主队 -->
                <div class="team-a" :data-edoid="hTeamEdoid">
                    <div class="team-name text-right">{{hTeamName}}</div>
                    <img :src="hTeamLogo" class="team-icon"/>
                    <!-- 未开奖 ：赔率 -->
                    <odds-item  v-if="matchLively" :position="1"></odds-item>
                    <!-- 已开奖 ：结果 -->
                    <template v-else>
                        <span class="icon-win" v-if="hTeamResult == 1"></span>
                        <span class="icon-lose" v-if="hTeamResult == 2"></span>
                    </template>
                </div>

                <!-- 中间区域  未开奖 ： 展示 vs -->
                <div class="vs" v-if="state == 5 || state == 6">
                    {{vs}}
                </div>
                <!-- 中间区域  已开奖 ： 展示比分 -->
                <div class="vs-score mcolor" v-if="state == 1 || state == 2 || state == 3 || state == 4">
                    {{vsScore}}
                </div>

                <!-- 客队 -->
                <div class="team-b" :data-edoid="vTeam1Edoid">
                    <!-- 未开奖 ：赔率 -->
                    <odds-item  v-if="matchLively" :position="2" ></odds-item>
                    <!-- 已开奖 ：结果 -->
                    <template v-else>
                        <span class="icon-win" v-if="vTeam1Result == 1"></span>
                        <span class="icon-lose" v-if="vTeam1Result == 2"></span>
                    </template>
                    <img :src="vTeam1Logo" class="team-icon"/>
                    <div class="team-name text-left">{{vTeam1Name}}</div>
                </div>
            </div>
            <!-- 查看玩法数量 -->
            <div class="item-d" @click.prevent="viewDetailPage" v-show="playCount">
                <button class="btn3" v-if="matchLively">
                    <span class="plus">+</span>
                    <span class="count">{{playCount ? playCount : 0}}</span>
                </button>
                <i class="iconfont icon-forward" v-else ></i>
            </div>
            <!-- 比赛取消时的遮罩 -->
            <div class="item-e">
                <img src="@/assets/img/esports_cancel.png">
            </div>
        </div>
    </div>
</template>
<script>
import DayJS from 'dayjs'
import matchTimeState from '@/components/esports/matchTimeState'
import oddsItem from '@/components/common/oddsItem'

export default {
    props:['data'],
    computed:{
        /* 返回容器 class类 */
        getEsportsRowItemClassName:function(){
            let result = []
            if(this.state == 4){
                result.push('esports-row-cancel')
            }
            return result
        },
        /* 比赛开始时间 HH:mm */
        matchDateTimeHHmm:function(){
            let result = false
            const matchDateTime = this.data.matchDateTime || false
            if(matchDateTime){
                result = DayJS(matchDateTime).format('HH:mm')
            }
            return result
        },
        /* 比赛开始时间 MM-DD HH:mm */
        matchDateTimeMMDDHHmm:function(){
            let result = false
            const matchDateTime = this.data.matchDateTime || false
            if(matchDateTime){
                result = DayJS(matchDateTime).format('MM-DD HH:mm')
            }
            return result
        },
        /* 比赛id */
        mid:function(){
            return this.data.mid || ''
        },
        /* 玩法id */
        edid:function(){
            return this.data.edid || ''
        },
        /* 比赛是否可以投注 */
        betState:function(){
            return this.data.betState ? parseInt(this.data.betState) : 1
        },
        /* 比赛是否有滚盘 */
        isLive:function(){
            return this.data.isLive || false
        },
        /* 滚盘是否开始 */
        isLiving:function(){
            return this.data.isLiving || false
        },
        /* 比赛玩法数量 */
        playCount:function(){
            return this.data.playCount || false
        },
        /* 最近比赛名称 */
        playName:function(){
            return this.data.playName || ''
        },
        /* 比赛名称 */
        matchName:function(){
            return this.data.matchName || false
        },
        /* 比赛VS */
        vs:function(){
            return this.data.bo || ''
        },
        /* 比分 */
        vsScore:function(){
            return this.data.result || ''
        },
        /* 比赛 具体队伍列表 */
        egEgameMatchTeamList:function(){
            return this.data.egEgameMatchTeamList || false
        },
        /* 比赛图标 */
        egameLogo:function(){
            return this.data.egameLogo || ''
        },
        /* 最大投注金额 */
        maxMoney:function(){
            return this.data.maxMoney !== false ? parseInt(this.data.maxMoney) : 0
        },
        /* 最小投注金额 */
        minMoney:function(){
            return this.data.minMoney !== false ? parseInt(this.data.minMoney) : 0
        },
        /* 当前投注是否支持串关 */
        canCombine:function(){
            return this.data.canCombine || false
        },

        /* 比赛状态 */
        state:function(){
            return this.data.state ? parseInt(this.data.state) : 2
        },
        /* 比赛状态描述 */
        stateName:function(){
            return this.data.stateName || ''
        },
        /* （客户端认为）比赛是否可投注 */
        matchLively:function(){
            switch(this.state){
                case 1:
                case 2:
                case 5:
                case 6:
                    return true
                case 3:
                case 4:
                    return false
                default:
                    return false
            }
        },

        /* 需要返回赔率，否则返回比分 */
        needShowOdds:function(){
            let result = false
            return result
        },

        /* ================================ */

        /* 主队数据 */
        hTeam:function(){
            return this.egEgameMatchTeamList[0] || false
        },
        /* 主队 队伍名称*/
        hTeamName:function(){
            return this.hTeam.team || ''
        },
        /* 主队 队伍logo*/
        hTeamLogo:function(){
            return this.hTeam.teamLogo || false
        },
        /* 主队投注 id */
        hTeamEdoid:function(){
            return this.hTeam.edoid || false
        },
        /* 主队 赔率 */
        hTeamOdds:function(){
            return this.hTeam.odds || '0.00'
        },
        /* 主队 赔率变化 */
        hTeamOddsState:function(){
            return this.hTeam.oddsState ? parseInt(this.hTeam.oddsState) : 0
        },
        /* 主队 投注状态 */ 
        hTeamBetState:function(){
            return this.hTeam.oddsBetState ? parseInt(this.hTeam.oddsBetState) : 0
        },
        /* 主队比赛结果 */
        hTeamResult:function(){
            return parseInt(this.hTeam.result)
        },

        /* ================================== */

        /* 客队1 数据 */
        vTeam1:function(){
            return this.egEgameMatchTeamList[1] || false
        },
        /* 客队1 队伍名称*/
        vTeam1Name:function(){
            return this.vTeam1.team || ''
        },
        /* 客队1 队伍logo*/
        vTeam1Logo:function(){
            return this.vTeam1.teamLogo || false
        },
        /* 客队1 投注id */
        vTeam1Edoid:function(){
            return this.vTeam1.edoid || false
        },
        /* 客队1 赔率 */
        vTeam1Odds:function(){
            return this.vTeam1.odds || '0.00'
        },
        /* 客队1 赔率变化 */
        vTeam1OddsState:function(){
            return this.vTeam1.oddsState ? parseInt(this.vTeam1.oddsState) : 0
        },
        /* 客队1 投注状态 */ 
        vTeam1BetState:function(){
            return this.vTeam1.oddsBetState ? parseInt(this.vTeam1.oddsBetState) : 0
        },
        /* 客队1 比赛结果 */
        vTeam1Result:function(){
            return parseInt(this.vTeam1.result)
        },

    },
    methods:{
        /* 投注行为 */
        setUserOdds:function(edoid,oddsName,odds){
            this.$store.dispatch('setUserOdds',{
                mid:this.mid,                       /* 比赛id */
                edid:this.edid,                     /* 玩法id */
                edoid,                              /* 投注id */
                title:`
                    <span class="team">${this.hTeamName}</span>
                    <span class="VS">VS</span>
                    <span class="team">${this.vTeam1Name}</span>
                `,                                  /* 标题 */
                playName:`全场-${this.playName}`,   /* 当前玩法名称 */
                oddsName,                           /* 投注方队伍名称 */
                money:this.minMoney,                /* 投注金额 */
                maxMoney:this.maxMoney,             /* 最大投注金额 */
                minMoney:this.minMoney,             /* 最小投注金额 */
                canCombine:this.canCombine,         /* 当前投注是否支持串关 */
                isStarted:this.state == 2 ? true : false,   /* 客户端认为当前比赛是否滚盘 */
                odds,                               /* 默认赔率 */
                oddsState:0,                        /* 赔率变化状态 */
                betState:1,                         /* 比赛状态 */
                betResult:0,                        /* 结算状态 */
            })
        },
        /* 查看具体玩法 */
        viewDetailPage:function(){
            this.$router.push({name:'homeEsportsDetail',params:{mid:this.mid}})
        },
    },
    components:{
        matchTimeState,
        oddsItem,
    },
}
</script>
<style lang="scss">
.esports-row-item{
    box-sizing: border-box;
    padding: 0px 8px 5px;
    cursor: pointer;
    .item{
        box-sizing: border-box;
        border: 1px solid hsla(0,0%,100%,.1);
        height: 90px;
        background-color: $theme-bg-color;
        display: flex;
        position: relative;

        .item-a,.item-b,.item-c{
            position: relative;
            &::after{
                content: "";
                width: 2px;
                background: url('../../assets/img/line.svg') no-repeat;
                height: 90px;
                position: absolute;
                right: 0;
                top: 10px;
            }
        }

        .item-a{
            width: 91px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            .isLiving{
                img{
                    display: block;
                    width: 20px;
                    height: 20px;
                    margin: 0 auto;
                    margin-bottom: 3px;
                }
            }
            .notLiving{
                img{
                    width: 16px;
                    height: 16px;
                }
            }
        }

        .item-b{
            width: 180px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #8e949f;
            img{
                width: 20px;
                height: 20px;
                margin: 0 6px;
            }
            span{
                width: 140px;
                flex-wrap: wrap;
                text-align: left;
            }
        }

        .item-c{
            width: 620px;
            display: flex;
            align-items: center;
            justify-content: center;
            .team-a,.team-b{
                width: 260px;
                display: flex;
                align-items: center;
                .team-icon{
                    width: 44px;
                    height: 44px;
                    margin: 0 1rem;
                }
            }
            .vs{
                width: 100px;
                font-size: 19px;
                color: white;
                letter-spacing: 2px;
                text-align: center;
            }
            .vs-score{
                display: inline-block;
                font-size: 24px;
                padding: 0 3rem;
                letter-spacing: .5rem;
            }

            .team-a{
                justify-content:flex-end;
            }
            .team-b{
                justify-content:flex-start;
            }
        }

        .item-d{
            width: 91px;
            display: flex;
            align-items: center;
            justify-content: center;
            .btn3{
                .plus{
                    margin: 0 1px 1px;
                }
            }
            &:hover{
                .iconfont{
                    color: $theme-font-color;
                }
            }
        }

        .item-e{
            position: absolute;
            top: 0;
            left:0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.3);
            display: none;
            >img{
                position: absolute;
                top: 50%;
                right: 12px;
                transform: translateY(-50%);
            }
        }
    }
    .item:hover{
        background: #2d3339;
        border-color: hsla(0,0%,100%,.15);
    }

    /* 赛事取消 */
    &.esports-row-cancel{
        .item{
            color: #999 !important;
            .item-e{
                display: block;
            }
        }
    }
}
</style>