<template>
    <div class="item-a">
        <!-- 滚盘中 -->
        <template v-if="$parent.state == 1">
            <div class="isLiving">
                <img src="@/assets/img/gq.svg">
                <span class="mcolor">{{$parent.stateName}}</span>
            </div>
        </template>
        <!-- 直播中 -->
        <template v-else-if="$parent.state == 2">
            <div class="isLiving">
                <img src="@/assets/img/zb.svg">
                <span class="mcolor">{{$parent.stateName}}</span>
            </div>
        </template>
        <!-- 已结束 -->
        <template v-else-if="$parent.state == 3">
            <span style="color:#8e949f;">{{$parent.matchDateTimeMMDDHHmm}}</span>
            <span>{{$parent.stateName}}</span>
        </template>
        <!-- 已取消 -->
        <template v-else-if="$parent.state == 4">
            <span style="color:#8e949f;">{{$parent.matchDateTimeMMDDHHmm}}</span>
            <span>{{$parent.stateName}}</span>
        </template>
        <!-- 即将滚盘 -->
        <template v-else-if="$parent.state == 5">
            <span class="white">{{$parent.matchDateTimeMMDDHHmm}}</span>
            <div class="mcolor notLiving">
                <img src="@/assets/img/jjks.svg">
                即将滚盘
            </div>
        </template>
        <!-- 即将开始 -->
        <template v-else-if="$parent.state == 6">
            <span style="color:#8e949f;">{{$parent.matchDateTimeMMDDHHmm}}</span>
            <span>{{$parent.stateName}}</span>
        </template>
    </div>
</template>