<template>
  <div class="editAddress">
    <div class="header">
      <img class="out" src="@/assets/images/out_icon.png" alt="" @click="$router.back();">
      {{$t('添加收货地址')}}
    </div>
    <div class="editAddress-wrap">
      <div class="form">
        <van-cell-group>
          <van-field v-model="addressData.name" clearable :label="$t('收货人')" icon="question-o" :placeholder="$t('请填写收货人姓名')"
                     size="large"/>
          <van-field v-model="addressData.phone" clearable :label="$t('手机号码')" icon="question-o" :placeholder="$t('请填写手机号码')"
                     size="large"/>
          <van-field v-model="addressData.area" clearable :label="$t('所在区域')" icon="question-o" :placeholder="$t('请填写区域')"
                     size="large" @click="addressShow = !addressShow"/>
          <van-field v-model="addressData.details" clearable :label="$t('详细地址')" icon="question-o" :placeholder="$t('请填写详细地址')"
                     size="large"/>
          <van-field v-model="addressData.code" clearable :label="$t('邮政编码')" icon="question-o" :placeholder="$t('请填写邮政编码')"
                     size="large"/>
        </van-cell-group>
      </div>
      <div class="address-edit">
        <van-popup v-model="addressShow" round position="bottom" custom-style="height: 20%" :close="onClose">
          <van-area :area-list="areaList" @confirm="addressConfirm" @cancel="addressCancel"/>
        </van-popup>
      </div>
      <div class="submit">
        <div class="button">
          <span style="font-size: 15px" @click="addAddress()">{{$t('保存')}}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/editAddress.less'
import {areaList} from '@vant/area-data';
import {Toast} from "vant";

export default {
  name: "addAddress",
  data() {
    return {
      addressShow: false,
      areaList,
      addressData: {
        code: '0'
      },
    }
  },
  created() {
    this.addressData = this.$route.query
    console.log(this.$route.query)
  },
  mounted() {
    console.log(this.areaList)
  },
  methods: {
    onClose() {
    },
    addressConfirm(item) {
      console.log(item)
      this.addressData.area = (item[0].name + ' ' + item[2].name + ' ' + item[2].name)
      this.addressData.code = item[0].code
      this.addressShow = false
    },
    addressCancel(item) {
      console.log(item)
    },
    addAddress: function () {
      let params = {
        name: this.addressData.name,
        phone: this.addressData.phone,
        details: this.addressData.details,
      }
      if (!this.$root.common.dataSafeValidate(2, params)) {
        return false
      }
      params.area = this.addressData.area
      if(!params.area){
        Toast(this.$t('请选择所在区域'))
        return false
      }
      this.$post('user/addaddress', params, true).then((res) => {
        if (res.status == 200) {
          Toast(this.$t('添加成功'))
          this.$router.back();
        } else {
          Toast(res.msg)
        }
      })
    },
  },
}
</script>

<style scoped>

</style>
