<template>
  <div class="addBank">
    <div class="header">
      <img class="out" src="@/assets/images/out_icon.png" alt="" @click="$router.back();">
      {{$t('添加银行卡')}}
    </div>
    <div class="addBank-wrap">
      <div class="form">
        <van-cell-group>
          <van-field v-model="params.bank" clearable :label="$t('银行')" icon="question-o" :placeholder="$t('请填写银行名称')" size="large"/>
          <van-field v-model="params.account" clearable :label="$t('卡号')" icon="question-o" :placeholder="$t('请填写卡号')" size="large"/>
        </van-cell-group>
      </div>
      <div class="submit">
        <div class="button" >
          <span @click="addCard()" style="padding: 15px 0;font-size: 15px">{{$t('提交')}}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/addBank.less'
import {Toast} from "vant";
export default {
  name: "addBank",
  data(){
    return{
      params:{bank:'',account:'',name:'',address:""},
      card:'',
    }
  },
  created() {
    // if(this.$store.state.userInfo.auth != 1){
    //   Toast('请先进行实名认证')
    //   this.$router.push({path:'/auth'})
    // }
  },
  methods:{
    addCard:function (){
      let params = {
        account:this.params.account,
        bank:this.params.bank,
      }
      this.$post('user/addbankcard',params,true).then((res) => {
        if(res.status == 200){
          Toast(this.$t('添加成功'))
        } else {
          Toast(res.msg)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>
