<template>
  <div class="address">
    <div class="header">
      <img class="out" src="@/assets/images/out_icon.png" alt="" @click="$router.back();">
      {{$t('收货地址')}}
    </div>
    <div class="address-wrap">
      <ul>
        <li class="address-list-item" v-for="(item, index) in address" :key="index" @click="editAddress(item)">
          <div class="left">
            <p>{{item.area}}</p>
            <p>
              <span>{{item.name}}</span>
              <span>{{item.phone}}</span>
            </p>
          </div>
          <div class="right">
            <van-icon name="edit" size="30px" />
          </div>
        </li>
      </ul>
      <div class="submit">
        <div class="button" >
          <router-link to="/addAddress"><span style="font-size: 15px">{{$t('添加收货地址')}}</span></router-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/address.less'
import {Toast} from "vant";
export default {
  name: "address",
  data(){
    return{
      address:'',
    }
  },
  created() {
    this.getAddress()
  },
  mounted() {},
  methods:{
    editAddress(item){
      this.$router.push({path:'/editAddress',query:item})
    },
    getAddress:function (){
      let params = {}
      this.$post('user/address',params,true).then((res) => {
        if(res.status == 200){
          this.address = res.data.address
        } else {
          Toast(res.msg)
        }
      })
    },
  },
}
</script>

<style scoped>

order
