<template>
  <div class="recharge">
    <div class="header">
      <img class="out" src="@/assets/images/out_icon.png" alt="" @click="$router.back();">
      {{$t('APP下载')}}
    </div>
    <div class="content">
      <iframe :src="$store.state.appUrl" frameborder="0"></iframe>
    </div>
  </div>
</template>

<script>
import "@/assets/css/recharge.less"

export default {
  name: "service",
  data() {
    return {
    }
  },
  created() {
  },
  mounted() {
  },
  methods:{

  },
}
</script>

<style lang="less">
.content{
  position: absolute;
  left: 0;
  right: 0;
  top: 45px;
  bottom: 0;
  iframe{
    width: 100%;
    height: 100%;
  }
}
</style>