<template>
  <div class="addBank">
    <div class="header">
      <img class="out" src="@/assets/images/out_icon.png" alt="" @click="$router.back();">
      {{$t('实名认证')}}
    </div>
    <div class="addBank-wrap">
      <div class="form">
        <van-cell-group>
          <van-field v-model="params.name" clearable :label="$t('姓名')" icon="question-o" :placeholder="$t('请输入姓名')" size="large"/>
          <van-field v-model="params.idcard" clearable :label="$t('身份证号g')" icon="question-o" :placeholder="$t('请输入身份证号')" size="large"/>
        </van-cell-group>
      </div>
      <div class="submit">
        <div class="button" >
          <span @click="addCard()" style="padding: 15px 0;font-size: 15px">{{$t('提交')}}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/addBank.less'
import {Toast} from "vant";
export default {
  name: "addBank",
  data(){
    return{
      params:{name:'',idcard:''},
      card:'',
    }
  },
  created() {
  },
  methods:{
    addCard:function (){
      let params = {
        idcard:this.params.idcard,
        name:this.params.name,
      }
      this.$post('user/certification',params,true).then((res) => {
        if(res.status == 200){
          Toast(this.$t('绑定成功'))
          this.getUserInfo()
        } else {
          Toast(res.msg)
        }
      })
    },
    getUserInfo: function () {
      this.$fetch('user/index', {}).then(res => {
        if (res.status == 200) {
          this.$store.commit('pushUserInfo',res.data)
        } else {
          Toast(res.msg)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>
