<template>
  <div class="bank">
    <div class="header">
      <img class="out" src="@/assets/images/out_icon.png" alt="" @click="$router.back();">
      {{$t('银行卡管理')}}
    </div>
    <div class="bank-wrap">
      <ul>
        <li class="bank-list-item" v-for="(item, index) in dataList" :key="index">
          <div class="item">
            <div class="icon"></div>
            <div class="bank-name-num">
              <span class="name">{{item.account}}</span>
              <span class="num">{{item.bank}}</span>
            </div>
            <div class="del" @click="del(item.id)">{{$t('删除此卡')}}</div>
          </div>
        </li>
      </ul>
      <div class="button" @click="$root.common.toPath('/addBank')">
        <span><van-icon name="add-o" size="15px" style="    vertical-align: bottom;padding-right: 5px;" />{{$t('添加新银行卡')}}</span>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/bankList.less'
import {Toast,Dialog } from "vant";
export default {
  name: "bank",
  data(){
    return{
      dataList:'',
    }
  },
  created() {
    this.getBankList()
  },
  mounted() {
  },
  methods:{
    getBankList: function () {
      this.$fetch('user/banklist', {}).then(res => {
        if (res.status == 200) {
          this.dataList = res.data.bank
        } else {
          Toast(res.msg)
        }
      })
    },
    del: function (id) {
      let param = {
        id:id,
      }
      Dialog.alert({
        title: this.$t('提示'),
        message: this.$t('是否删除？'),
      }).then(() => {
        this.$post('user/delbankcard', param).then(res => {
          if (res.status == 200) {
            Toast(this.$t('删除成功'))
            this.getBankList()
          } else {
            Toast(res.msg)
          }
        })
      });
    },
  }
}
</script>

<style scoped>

</style>
