<template>
  <div class="cash">
    <div class="header">
      <img class="out" src="@/assets/images/out_icon.png" alt="" @click="$router.back();">
      {{$t('账户提现')}}
      <div class="bank" @click="$root.common.toPath('/bankList')">{{$t('银行卡管理')}}</div>
    </div>
    <div class="input-box">
      <div class="list">
        <div class="left">{{$t('提现账户')}}</div>
        <div class="right">{{$t('选择提现银行卡')}}</div>
      </div>
      <div class="list">
        <div class="left">{{$t('提现金额')}}</div>
        <div class="right"><input type="number" :placeholder="$t('请输入提现金额')"></div>
      </div>
      <div class="list">
        <div class="left">{{$t('提现密码')}}</div>
        <div class="right"><input type="text" :placeholder="$t('请输入提现密码')"></div>
      </div>
      <div class="tip">{{$t('提现由人工审核处理，请耐心等待!')}}</div>
    </div>
    <div class="button">
      <span style="padding: 15px 0;font-size: 15px">{{$t('提交')}}</span>
    </div>
  </div>
</template>

<script>
import "@/assets/css/cash.less"

export default {
  name: "cash",
  data() {
    return {}
  },
  created() {
  },
  mounted() {
  },
  methods:{

  },
}
</script>

<style scoped>

</style>