<template>
  <div class="confirm">
    <div class="header">
      <img class="out" src="@/assets/images/out_icon.png" alt="" @click="$router.back()">
      {{$t('确认订单')}}
    </div>
    <div class="detail" v-if="orderData">
      <div class="project">
        <div class="left">
          <img :src="'http://45.207.38.223:86/Public/uploads/item/'+orderData.items.img">
        </div>
        <div class="right">
          <p style="margin-top: 10px;" v-if="lang == 'zh'">{{orderData.items.title}}</p>
          <p style="margin-top: 10px;" v-if="lang == 'en'">{{orderData.items.title2}}</p>
          <p style="margin-top: 10px;" v-if="lang == 'tn'">{{orderData.items.title3}}</p>
          <p style="margin-top: 10px;" v-if="lang == 'vn'">{{orderData.items.title4}}</p>
          <p style="color: #f12211;font-weight: 600;margin-top: 30px;">{{$t('限购')}}：{{$t('每人')}}{{orderData.items.num}}{{$t('单')}}</p>
        </div>
      </div>
      <div class="info"><span>{{$t('购买数量')}}</span> <span><van-stepper v-model="orderNum"/></span></div>
      <div class="info"><span>{{$t('订单收益')}}</span><span style="color: #f12211">{{$t('收益')}}{{orderData.items.min * orderData.items.rate * 0.01}}{{$t('元')}}/{{$t('天')}}</span></div>
      <div class="info"><span>{{$t('收益模式')}}：{{$t('每日返利润,到期还本')}}</span></div>
      <div class="info"><span>{{$t('应付本金')}}：{{orderData.items.min}}{{$t('元')}}</span></div>
      <div class="info"><span>{{$t('交易密码')}}：<input type="password" style="border: none;"></span></div>
    </div>
    <div class="tip">{{$t('节假日照常收益')}}</div>
    <div class="detail">
      <div class="info"><span style="color: rgba(0,0,0,.8)">{{$t('支付方式')}}</span><span style="color: rgba(0,0,0,.8)">{{$t('账号余额')}}（{{$store.state.moneyUnit[lang]}}{{$store.state.userInfo.user.money || '0.00'}}）</span></div>
    </div>
    <div class="service">
      <div><span style="margin-left: 10px;">{{$t('应付合计')}}</span><span style="color: #f12211;font-size: 20px;margin-left: 5px;">{{orderData.items.min * orderNum}}</span></div>
      <div><button @click="confirm()">{{$t('立即购买')}}</button></div>
    </div>
  </div>
</template>

<script>
import "@/assets/css/confirm.less"
import {Toast} from "vant";

export default {
  name: "confirm",
  data() {
    return {
      orderNum: 0,
      orderData:'',
      lang:localStorage.getItem('locale') || 'zh',
    }
  },
  created() {
    this.getOrder()
    console.log(this.lang)
  },
  mounted() {
  },
  methods:{
    getOrder: function () {
      this.$post('Product/info', {id: this.$route.query.id}).then(res => {
        if (res.status == 200) {
          this.orderData = res.data
        } else {
          Toast(res.msg)
        }
      })
    },
    confirm: function () {
      this.$post('Product/item_apply', {id: this.$route.query.id}).then(res => {
        if (res.status == 200) {
          Toast(this.$t('购买成功'))
        } else {
          Toast(res.msg)
        }
      })
    },
  },
}
</script>

<style scoped>

</style>