<template>
  <div class="financial">
    <div class="header">
      <img class="out" src="@/assets/images/out_icon.png" alt="" @click="$router.back();">
      {{title}}
    </div>
    <div class="title"><span>{{title}}</span><span>{{$t('共')}}{{orderList.length}}{{$t('商品')}}</span></div>
    <div class="box-list">
      <div class="box" v-for="(item, index) in orderList" :key="index" @click="$root.common.toPath('/productDetail',{id:item.id})">
        <div class="top"><img :src="'http://45.207.38.223:86/Public/uploads/item/'+item.img" alt=""></div>
        <div class="bottom">
          <span v-if="lang == 'zh'">{{item.title}}</span>
          <span v-if="lang == 'en'">{{item.title2}}</span>
          <span v-if="lang == 'tn'">{{item.title3}}</span>
          <span v-if="lang == 'vn'">{{item.title4}}</span>
          <span style="color: #f03041">${{item.min}}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import "@/assets/css/financial.less"
import {Toast} from "vant";
export default {
  name: "financial",
  data() {
    return {
      title:'',
      orderList:'',
      lang:localStorage.getItem('locale') || 'zh',
    }
  },
  created() {
    this.title = this.$route.query.title
    this.getOrderList()
  },
  mounted() {
  },
  methods:{
    getOrderList: function () {
      this.$fetch('Product/index', {product_class_id:this.$route.query.id}).then(res => {
        if (res.status == 200) {
          this.orderList = res.data.items
        } else {
          Toast(res.msg)
        }
      })
    },
  },
}
</script>

<style scoped>

</style>