<template>
  <div class="help">
    <div class="header">
      <img class="out" src="@/assets/images/out_icon.png" alt="" @click="$router.back();">
      {{title}}
    </div>
    <div class="menu" v-html="content">

    </div>
  </div>
</template>

<script>
import "@/assets/css/tabs/help.less"
export default {
  name: "orderDetail",
  data(){
    return{
      title:'',
      content:'',
    }
  },
  created() {
    this.title = this.$route.query.title
    this.content = this.$route.query.content
  },
  mounted() {
  },
  methods:{

  },
}
</script>

<style scoped>

</style>