<template>
  <div class="invite">
    <div class="header">
      <div class="title">{{$t('好友推广')}}</div>
      <img class="out" src="@/assets/images/out_icon.png" alt="" @click="$router.back();">
      <p style="font-size: 28px">{{$t('推荐新用户赚佣金')}}</p>
      <p style="font-size: 16px">{{$t('奖励介绍')}}</p>
      <p style="hsla(0,0%,100%,.8);font-size: 14px;font-weight: 500;padding: 0 30px;">{{$t('推荐新用户进货')}}</p>
      <p style="font-size: 14px;font-weight: 500;text-align: center;">*{{$t('本活动最终解释权归属官方所有')}}*</p>
    </div>
    <div class="detail" style="padding: 10px 20px">
      <div class="title">{{$t('数据及记录')}}</div>
      <p style="font-weight: 600;font-size: 26px;">{{inviteData.tg.length}}</p>
      <p>{{$t('推荐新用户')}}</p>
    </div>
    <div class="detail" style="padding: 10px 20px">
      <div class="title">{{$t('邀请记录')}}</div>
      <div class="money-list" v-for="(item, index) in inviteData.tg" :key="index"><span>{{item.level}}{{$t('级')}}{{$t('推荐')}}</span><span>{{item.phone}}</span><span style="color: rgba(0,0,0,.4);">{{item.time}}</span></div>
    </div>
    <div class="button" @click="codeShow = true">{{$t('获取推广二维码')}}</div>
    <div class="code-box" v-if="codeShow" @click="codeShow = false">
      <div class="share_inner">
        <p>
          <img src="@/assets/images/code_bg.06f263bf.png" alt="">
        </p>
        <p style="margin-top: 20px;"><button>{{$t('长按保存图片')}}</button></p>
        <div style="position: absolute;text-align: center;width: 100%;top: 220px;">
          <img :src="inviteData.qrcodeurl" alt="" style="width: 148px;">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/invite.less'
import {Toast} from "vant";
export default {
  name: "order",
  data(){
    return{
      inviteData:'',
      codeShow:false,
    }
  },
  created() {
    this.getInviteList()
  },
  mounted() {
  },
  methods:{
    getInviteList: function () {
      this.$fetch('user/promotion', {}).then(res => {
        if (res.status == 200) {
          this.inviteData = res.data
        } else {
          Toast(res.msg)
        }
      })
    }
  },
}
</script>

<style scoped>

</style>