<template>
  <div class="setpass">
    <div class="header">
      <img class="out" src="@/assets/images/out_icon.png" alt="" @click="$router.back();">
      {{$t('修改语言')}}
    </div>
    <van-radio-group v-model="radio">
      <van-cell-group>
        <van-cell title="中 文" clickable @click="radio = '0'">
          <template #right-icon>
            <van-radio name="0" />
          </template>
        </van-cell>
        <van-cell title="English" clickable @click="radio = '1'">
          <template #right-icon>
            <van-radio name="1" />
          </template>
        </van-cell>
        <van-cell title="ไทย" clickable @click="radio = '2'">
          <template #right-icon>
            <van-radio name="2" />
          </template>
        </van-cell>
        <van-cell title="Tiếng Việt" clickable @click="radio = '3'">
          <template #right-icon>
            <van-radio name="3" />
          </template>
        </van-cell>
      </van-cell-group>
    </van-radio-group>
    <div class="submit">
      <div class="button" >
        <span style="padding: 15px 0;font-size: 15px" @click="selectLanguage()">{{$t('提交')}}</span>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/setpass.less'
import {Toast} from 'vant'
export default {
  name: "language",
  data() {
    return {
      radio:'0',
      lang:['zh','en','tn','vn',]
    }
  },
  created() {
    this.radio = '0'
  },
  mounted() {
  },
  methods: {
    selectLanguage:function (){
      this.$i18n.locale = this.lang[this.radio]
      this.languageKey = this.lang[this.radio]
      this.$cookies.set("language",this.lang[this.radio])
      localStorage.setItem('locale',this.lang[this.radio])
      Toast(this.$t('语言切换成功'))
    },
  }
}
</script>

<style scoped>

</style>