<template>
  <div class="login">
    <div class="header">
      <div class="title">{{$t('账号登录')}}</div>
    </div>
    <div class="login-box">
      <div class="box">
        <div class="cur">
          <div class="btn active">{{$t('登录')}}</div>
          <div class="btn" @click="$root.common.toPath('/register')">{{$t('注册')}}</div>
        </div>
        <div class="input">
          <img src="@/assets/images/input_phone_icon.png" alt="">
          <input type="text" :placeholder="$t('请输入手机号码')" v-model="loginData.account">
        </div>
        <div class="input">
          <img src="@/assets/images/input_pass_icon.png" alt="">
          <input type="password" :placeholder="$t('请输入登录密码')" v-model="loginData.password">
        </div>
        <div class="forget-pass" @click="$root.common.toPath('/service')">
          {{$t('忘记密码')}}
        </div>
        <div class="button">
          <button @click="login()">{{$t('立即登录')}}</button>
        </div>
        <div style="position: fixed;right: 10px;bottom: 10px;color: #6b6b6b;font-size: 12px;">version:1.0.0</div>
      </div>
    </div>
  </div>
</template>

<script>
import "@/assets/css/login.less";
import {Toast} from 'vant'
export default {
  name: 'loginPage',
  data(){
    return{
      loginData:{
        account:'',
        password:'',
      }
    }
  },
  created() {
  },
  mounted() {
  },
  methods:{
    login:function (){
      if (!this.loginData.account){
        return Toast(this.$t('请输入手机号码'));
      }
      if (!this.loginData.password){
        return Toast(this.$t('请输入登录密码'));
      }
      this.$post('login/dologin',this.loginData,'true').then(res=>{
        if (res.status == 200){
          this.$cookies.set("SESSION",res.accessToken)
          this.$store.commit('pushIsLogin',true)
          this.$store.commit('pushToken',res.data.token)
          this.$router.push({path:'/'})
          Toast(this.$t('登录成功'))
        }else {
          Toast(res.msg)
        }
      })
    },
  }
}
</script>

<style lang="scss" scoped>

</style>