<template>
  <div class="moneybag">
    <div class="header">
      <div class="title">{{$t('我的钱包')}}</div>
      <img class="out" src="@/assets/images/out_icon.png" alt="" @click="$router.back();">
      <div class="label">{{$t('钱包余额')}}</div>
      <div class="money">{{$store.state.moneyUnit[lang]}}<span>{{$store.state.userInfo.user.money}}</span></div>
      <div class="button" @click="$root.common.toPath('/recharge')">{{$t('充值')}}</div>
      <div class="button" @click="$root.common.toPath('/cash')" style="top: 100px;background: linear-gradient(125deg,#ffb916,#ffba00);">{{$t('提现')}}</div>
    </div>
    <van-tabs v-model="active" @click="getMoney()">
      <van-tab :title="$t('资金流水')"></van-tab>
      <van-tab :title="$t('充值记录')"></van-tab>
      <van-tab :title="$t('提现记录')"></van-tab>
    </van-tabs>
    <div class="order-list">
      <div v-if="active == 0">
        <div class="list" v-for="(item, index) in moneyList" :key="index">
          <div class="title">{{item.text}}</div>
          <div class="info"><span>{{item.time}}</span></div>
        </div>
      </div>
      <div v-if="active == 1">
        <div class="list" v-for="(item, index) in moneyList" :key="index">
          <div class="title">{{bankList[item.type - 1]}}{{$t('充值')}}{{item.money}}{{$t('元')}}</div>
          <div class="info"><span>{{item.time}}</span>
            <span v-if="item.status == 0">{{$t('处理中')}}</span>
            <span v-if="item.status == 1">{{$t('处理成功')}}</span>
            <span v-if="item.status == 2">{{$t('处理失败')}}</span>
          </div>
        </div>
      </div>
      <div v-if="active == 2">
        <div class="list" v-for="(item, index) in moneyList" :key="index">
          <div class="title">{{$t('提现')}}{{item.money}}{{$t('元')}}</div>
          <div class="info"><span>{{item.time}}</span>
            <span v-if="item.status == 0">{{$t('提现中')}}</span>
            <span v-if="item.status == 1">{{$t('提现成功')}}</span>
            <span v-if="item.status == 2">{{$t('提现失败')}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import "@/assets/css/moneybag.less"
import {Toast} from "vant";
export default {
  name: "myOrder",
  data(){
    return{
      active:0,
      moneyList:[],
      bankList:[this.$t('支付宝'),this.$t('未知支付'),this.$t('银行入款'),this.$t('系统充值')],
      lang:localStorage.getItem('locale') || 'zh',
    }
  },
  created() {
    this.getMoney()
  },
  mounted() {
  },
  methods:{
    getMoney: function () {
      let params = {
        type: this.active,
      }
      this.$post('user/moneybag', params, true).then((res) => {
        if (res.status == 200) {
          this.moneyList = res.data.list
        } else {
          Toast(res.msg)
        }
      })
    },
  },
}
</script>

<style scoped>

</style>