<template>
  <div class="myOrder">
    <div class="header">
      <img class="out" src="@/assets/images/out_icon.png" alt="" @click="$router.back();">
      {{$t('我的订单')}}
    </div>
<!--    <van-tabs v-model="active">-->
<!--      <van-tab title="全部"></van-tab>-->
<!--      <van-tab title="待收货"></van-tab>-->
<!--      <van-tab title="代发货"></van-tab>-->
<!--      <van-tab title="已完成"></van-tab>-->
<!--    </van-tabs>-->
    <div class="order-list">
      <div class="list" v-for="(item, index) in dataList" :key="index">
        <div class="title">{{$t('订单编号')}}:{{item.order_sn}}</div>
        <div class="info">{{$t('商品名称')}}：{{item.order_sn}}</div>
        <div class="info">{{$t('购买时间')}}：{{item.order_time}}</div>
        <div class="info">{{$t('购买数量')}}：{{item.order_sn}}</div>
        <div class="info">{{$t('付款金额')}}：{{item.total}}</div>
        <div class="info">{{$t('订单状态')}}：{{item.state == 1 ? $t('未付款') : $t('已付款')}}</div>
        <div class="info">{{$t('快递公司')}}：{{item.kd_name}}</div>
        <div class="info">{{$t('快递单号')}}：{{item.kd_dh}}</div>
      </div>
    </div>
  </div>
</template>

<script>
import "@/assets/css/myOrder.less"
import {Toast} from "vant";
export default {
  name: "myOrder",
  data(){
    return{
      active:1,
      dataList:'',
    }
  },
  created() {
    this.getOrderList()
  },
  mounted() {
  },
  methods:{
    getOrderList: function () {
      this.$fetch('user/myorder?state=1', {}).then(res => {
        if (res.status == 200) {
          this.dataList = res.data.order
        } else {
          Toast(res.msg)
        }
      })
    }
  },
}
</script>

<style scoped>

</style>