<template>
  <div class="newtask">
    <div class="header">
      <img class="out" src="@/assets/images/out_icon.png" alt="" @click="$router.back();">
      {{$t('新人任务')}}
    </div>
    <div class="type">
      <div class="box-list">
        <div class="img-list" @click="$root.common.toPath('/sign')">
          <div class="img"><img src="@/assets/images/money-icon-4.png" alt=""></div>
          <div class="font">{{$t('每日签到')}}</div>
        </div>
        <div class="img-list" @click="$root.common.toPath('/invite')">
          <div class="img"><img src="@/assets/images/money-icon-5.png" alt=""></div>
          <div class="font">{{$t('好友推广')}}</div>
        </div>
      </div>
    </div>
    <div class="tip">
      <div class="title">{{$t('奖励介绍')}}</div>
      <div class="tips">{{$t('1、现金：直接发放现金到账户余额，可提现')}}</div>
    </div>
    <div class="tip">
      <div class="title">{{$t('任务介绍')}}</div>
      <div class="tips">{{$t('1、签到')}}</div>
      <div class="tips">{{$t('2、推广')}}</div>
    </div>
  </div>
</template>

<script>
import "@/assets/css/newtask.less"
export default {
  name: "newtask",
  data() {
    return {}
  },
  created() {
  },
  mounted() {
  },
  methods:{

  },
}
</script>

<style scoped>

</style>