<template>
  <div class="newwalfare">
    <div class="header">
      <img class="out" src="@/assets/images/out_icon.png" alt="" @click="$router.back();">
      {{ $t('新人福利') }}
    </div>
    <img src="@/assets/images/bag.49d97cae.png" alt="" style="width: 100%">
    <div class="tip">{{ $t('慈沁宝藏送您一个新人福利现金红包') }}</div>
    <div class="money">{{newData.money}}<span>{{ $t('元') }}</span></div>
    <div class="button" @click="getNewwalfare()">
      <div>{{ $t('立即领取') }}</div>
    </div>
  </div>
</template>

<script>
import "@/assets/css/newwalfare.less"
import {Toast} from "vant";

export default {
  name: "newwalfare",
  data() {
    return {
      newData: '',
    }
  },
  created() {
    this.getInfo()
  },
  mounted() {
  },
  methods: {
    getInfo: function () {
      this.$fetch('user/newwalfare', {}).then(res => {
        if (res.status == 200) {
          this.newData = res.data
        } else {
          Toast(res.msg)
        }
      })
    },
    getNewwalfare: function () {
      this.$post('user/newwalfare', {}).then(res => {
        if (res.status == 200) {
          Toast(this.$t('提交成功'))
        } else {
          Toast(res.msg)
        }
      })
    },
  },
}
</script>

<style scoped>

</style>