<template>
  <div class="newtask">
    <div class="header">
      <img class="out" src="@/assets/images/out_icon.png" alt="" @click="$router.back();">
      {{$t('消息中心')}}
    </div>
    <div class="title"><span>{{dataList.length}}</span>{{$t('条')}}{{$t('消息')}}</div>
    <div class="notice-list">
      <div class="list" v-for="(item, index) in dataList" :key="index">
        <div class="label">{{$t('系统消息')}}</div>
        <div class="content">
          <span v-if="lang == 'zh'">{{item.content}}</span>
          <span v-if="lang == 'en'">{{item.content2}}</span>
          <span v-if="lang == 'tn'">{{item.content3}}</span>
          <span v-if="lang == 'vn'">{{item.content4}}</span>
          <span>{{item.time}}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import "@/assets/css/notice.less"
import {Toast} from "vant";
export default {
  name: "notice",
  data() {
    return {
      dataList:[],
      lang:localStorage.getItem('locale') || 'zh',
    }
  },
  created() {
    this.getMessage()
  },
  mounted() {
  },
  methods:{
    getMessage: function () {
      this.$fetch('user/notice', {}).then(res => {
        if (res.status == 200) {
          this.dataList = res.data.station
        } else {
          Toast(res.msg)
        }
      })
    }
  },
}
</script>

<style scoped>

</style>