<template>
  <div class="order-detail">
    <div class="header">
      <img class="out" src="@/assets/images/out_icon.png" alt="" @click="$router.back();">
      {{$t('订单详情')}}
    </div>
    <div class="status">{{orderData.invest.status == 0 ? $t('未完成'): $t('已完成')}}</div>
    <div class="detail">
      <div class="project">
        <div class="left">
          <img :src="'http://45.207.38.223:86/'+orderData.img3">
        </div>
        <div class="right">
          <p style="margin-top: 10px;">{{orderData.goodname}}</p>
          <p style="color: #f12211;font-weight: 600;margin-top: 30px;">{{$store.state.moneyUnit[lang]}}{{orderData.goodmoney}}/{{$t('件')}}</p>
        </div>
      </div>
      <div class="money">{{$t('实付金额')}}：{{$store.state.moneyUnit[lang]}}{{orderData.goodmoney}}</div>
      <div class="info"><span>{{$t('核算本金')}}：</span><span>{{$store.state.moneyUnit[lang]}}{{orderData.goodmoney}}</span></div>
      <div class="info"><span>{{$t('订单利率')}}：</span><span>{{orderData.investrate}}</span></div>
      <div class="info"><span>{{$t('订单时长')}}：</span><span>{{orderData.investday}}{{$t('天')}}</span></div>
      <div class="info"><span>{{$t('订单金额')}}：</span><span>{{$store.state.moneyUnit[lang]}}{{orderData.goodmoney}}</span></div>
      <div class="info"><span>{{$t('订单收益')}}：</span><span style="color: red">{{$store.state.moneyUnit[lang]}}{{orderData.invest.rate}}</span></div>
    </div>
    <div class="detail" style="padding: 10px 20px">
      <div class="date">{{$t('投资时间')}}：{{orderData.fydate}}</div>
      <div class="date" style="margin-top: 10px">{{$t('到期时间')}}：{{orderData.dqdate}}</div>
    </div>
    <div class="detail" style="padding: 10px 20px">
      <div class="title">{{$t('投资详情')}}</div>
      <div class="money-list"><span>{{orderData.invest.time}}</span><span>{{$t('第1期')}}</span><span>{{$store.state.moneyUnit[lang]}}{{orderData.ownershipreceivable}}</span><span>{{orderData.invest.status == 0 ? $t('未完成'): $t('已完成')}}</span></div>
    </div>
  </div>

</template>

<script>
import "@/assets/css/orderDetail.less"
import {Toast} from "vant";

export default {
  name: "orderDetail",
  data() {
    return {
      orderData: '',
      lang:localStorage.getItem('locale') || 'zh',
    }
  },
  created() {
    this.getOrder()
  },
  mounted() {
  },
  methods: {
    getOrder: function () {
      this.$fetch('order/contract?orderid=' + this.$route.query.id, {}).then(res => {
        if (res.status == 200) {
          this.orderData = res.data
        } else {
          Toast(res.msg)
        }
      })
    }
  },
}
</script>

<style scoped>

</style>