<template>
  <div class="product">
    <div class="header">
      <img class="out" src="@/assets/images/out_icon_2.png" alt="" @click="$router.back();">
      <img class="back" :src="'http://45.207.38.223:86/Public/uploads/item/'+orderData.items.img" alt="">
    </div>
    <div class="title_box">
      <div class="title" v-if="lang == 'zh'">{{orderData.items.title}}</div>
      <div class="title" v-if="lang == 'en'">{{orderData.items.title2}}</div>
      <div class="title" v-if="lang == 'tn'">{{orderData.items.title3}}</div>
      <div class="title" v-if="lang == 'vn'">{{orderData.items.title4}}</div>
      <div class="money">
        <span style="font-size: 20px">{{$store.state.moneyUnit[lang]}}{{orderData.items.min}}</span>
        <span>{{$t('每日利润')}}：{{$root.common.splitNum(orderData.items.min * orderData.items.rate * 0.01)}}{{$t('元')}}</span>
      </div>
      <div class="tip">
        <span>{{$t('已售')}}：25</span>
        <span style="color: #fb2004">{{$t('限购')}}：{{$t('每人')}}{{orderData.items.num}}{{$t('单')}}</span>
      </div>
    </div>
    <div class="detail">
      <div class="title">{{$t('订单参数')}}</div>
      <div class="line"><span>{{$t('返现佣金')}}</span><span style="text-align: right;color: #fb2004;">{{orderData.items.min * orderData.items.rate * orderData.items.day}}{{$t('元')}}</span></div>
      <div class="line"><span>{{$t('百分比')}}</span><span style="text-align: right;color: #fb2004;">{{orderData.items.rate}}%</span></div>
      <div class="line"><span>{{$t('期限')}}</span><span style="text-align: right;color: #fb2004;">{{orderData.items.day}}{{$t('天')}}</span></div>
      <div class="line"><span>{{$t('计算方式')}}</span><span style="color: #fb2004;">{{$t('商品进货价格')}}{{orderData.items.min}}{{$t('元')}} x {{$t('费率')}}{{orderData.items.rate}}% x {{$t('周期')}}{{orderData.items.day}}{{$t('天')}} = {{orderData.items.min * orderData.items.rate * orderData.items.day}}{{$t('元')}}</span>
      </div>
      <div class="line"><span>{{$t('发放方式')}}</span><span style="color: #fb2004;">{{orderData.items.desc}}</span></div>
      <div class="line"><span>{{$t('结算时间')}}</span><span style="color: #fb2004;">{{$t('当天进货')}}</span>
      </div>
      <div class="line"><span>{{$t('单数限制')}}</span><span>{{$t('每人限购')}}{{orderData.items.num}}{{$t('单')}}</span></div>
      <div class="line"><span>{{$t('资金用途')}}</span><span>{{$t('用于平台系统自动进货操作')}}</span></div>
      <div class="line"><span>{{$t('安全保障')}}</span><span>{{$t('平台为每一笔订单购买保险')}}</span></div>
      <div class="line"><span>{{$t('平台概述')}}</span><span>{{$t('我们是基于云计算技术搭建的聚合购物返现平台')}}</span>
      </div>
    </div>
    <div class="bottom"></div>
    <div class="service">
      <span><img src="@/assets/images/service_icon.png" alt=""><br>{{$t('咨询客服')}}</span>
      <span><button @click="$root.common.toPath('/confirm',{id:orderData.items.id,num:orderData.items.num})">{{$t('立即购买')}}</button></span>
    </div>
  </div>
</template>

<script>
import "@/assets/css/product.less"
import {Toast} from "vant";

export default {
  name: "productDetail",
  data() {
    return {
      orderData:'',
      lang:localStorage.getItem('locale') || 'zh',
    }
  },
  created() {
    this.getOrder()
  },
  mounted() {
  },
  methods: {
    getOrder: function () {
      this.$post('Product/info', {id: this.$route.query.id}).then(res => {
        if (res.status == 200) {
          this.orderData = res.data
        } else {
          Toast(res.msg)
        }
      })
    },
  },
}
</script>

<style scoped>

</style>