<template>
  <div class="recharge">
    <div class="header">
      <img class="out" src="@/assets/images/out_icon.png" alt="" @click="$router.back();">
      {{$t('账户充值')}}
    </div>
    <div class="money">
      <input type="number" v-model="money" :placeholder="$t('请输入充值金额')">
    </div>
    <div class="type">
      <div class="list" style="font-weight: 600;">{{$t('请选择支付方式')}}</div>
      <div class="list">
        <van-radio-group v-model="radio">
          <van-radio name="0">{{$t('支付宝')}}</van-radio>
        </van-radio-group>
      </div>
      <div class="list">
        <van-radio-group v-model="radio">
          <van-radio name="1">{{$t('银行汇款')}}</van-radio>
        </van-radio-group>
      </div>
    </div>
    <div class="button" >
      <span style="padding: 15px 0;font-size: 15px" @click="setRecharge()">{{$t('立即充值')}}</span>
    </div>
  </div>
</template>

<script>
import "@/assets/css/recharge.less"
import {Toast} from "vant";

export default {
  name: "recharge",
  data() {
    return {
      radio:0,
      money:'',
      type:['alipay','bank']
    }
  },
  created() {
  },
  mounted() {
  },
  methods:{
    setRecharge: function () {
      let params = {
        money:this.money,
        type:this.type[this.radio],
      }
      this.$post('user/recharge', params).then(res => {
        if (res.status == 200) {
          Toast(this.$t('提交成功'))
          if(this.radio == 1){
            this.$router.push({path:'/rechargeMoney',query:{money:this.money}})
          } else {
            location.href = res.data.url + '?money=' + res.data.money + '&oid=' + res.data.oid
          }
        } else {
          Toast(res.msg)
        }
      })
    },
  },
}
</script>

<style scoped>

</style>