<template>
  <div class="recharge-money">
    <div class="header">
      <img class="out" src="@/assets/images/out_icon.png" alt="" @click="$router.back();">
      {{$t('银行充值')}}
    </div>
    <div class="list deck">
      <div class="list money-module">
        <div>{{$t('转账金额')}}</div>
        <div>{{$route.query.money}}</div>
      </div>
    </div>
    <div class="list deck">
      <div class="list info">
        <div class="list line"><div class="left">{{$t('收款银行')}}</div><div class="right">{{details.pay_bank_type}}</div> </div>
        <div class="list line"><div class="left">{{$t('户名')}}</div><div class="right">{{details.pay_bank_name}}</div> </div>
        <div class="list line"><div class="left">{{$t('收款帐号')}}</div><div class="right">{{details.pay_bank_account}}</div> </div>
        <div class="list line"><div class="left">{{$t('付款人')}}</div><div class="right"><input type="text" :placeholder="$t('请输入付款人')" v-model="rechargeData.name"></div> </div>
        <div class="list line"><div class="left">{{$t('转账留言')}}</div><div class="right"><input type="text" :placeholder="$t('请输入附赠留言')" v-model="rechargeData.reason"></div> </div>
        <div class="list line tip">{{$t('请复制上面专属账号')}}</div>
      </div>
    </div>
    <div class="list deck">
      <p class="rightAway-record" @click="postRecharge()">{{$t('提交审核')}}</p>
    </div>
  </div>
</template>

<script>
import '@/assets/css/rechargeMoney.less'
import {Toast} from "vant";

export default {
  name: "rechargeMoney",
  data(){
    return{
      details:'',
      name:'',
      reason:'',
      rechargeData:{
        money:'',
        name:'',
        reason:'',
      },
    }
  },
  created() {
    this.getBankData()
  },
  mounted() {
    this.rechargeData.money = this.$route.query.money
  },
  methods:{
    getBankData(){
      this.$fetch('user/bankrecharge', {}).then(res => {
        if (res.status == 200) {
          this.details = res.data
        } else {
          Toast(res.msg)
        }
      })
    },
    postRecharge(){
      this.$post('user/bankrecharge', this.rechargeData,true).then(res => {
        if (res.status == 200) {
          Toast(this.$t('提交成功'))
          this.$router.push({path:'/personal'})
        } else {
          Toast(res.msg)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>
