<template>
  <div class="login">
    <div class="header">
      <div class="title">{{$t('账号注册')}}</div>
    </div>
    <div class="login-box">
      <div class="box" style="height: 620px">
        <div class="cur">
          <div class="btn" @click="$root.common.toPath('/login')">{{$t('登录')}}</div>
          <div class="btn active">{{$t('注册')}}</div>
        </div>
        <div class="input">
          <img src="@/assets/images/input_phone_icon.png" alt="">
          <input type="text" v-model="registerData.phone" :placeholder="$t('请输入手机号码')">
        </div>
        <div class="input">
          <img src="@/assets/images/input_pass_icon.png" alt="">
          <input type="password" v-model="registerData.pwd" :placeholder="$t('请输入登录密码')">
        </div>
        <div class="input">
          <img src="@/assets/images/input_pass_icon.png" alt="">
          <input type="password" v-model="registerData.pwd2" :placeholder="$t('请再次输入登录密码')">
        </div>
        <div class="input">
          <img src="@/assets/images/input_pass_icon.png" alt="">
          <input type="password" v-model="registerData.paypwd" :placeholder="$t('请输入交易密码')">
        </div>
        <div class="input">
          <button @click="sendCode()">{{$t('发送验证码')}}</button>
          <input type="text" v-model="registerData.smscode" :placeholder="$t('请输入短信验证码')" style="padding-left: 5px">
        </div>
        <div class="input">
          <img src="@/assets/images/input_firend_icon.png" alt="" style="width: 30px">
          <input type="password" v-model="registerData.top" :placeholder="$t('请输入推荐人账号，可不填')">
        </div>
        <div class="forget-pass" @click="$root.common.toPath('/service')">
          {{$t('忘记密码')}}
        </div>
        <div class="user-tip">
          {{$t('注册即同意')}} <span>《{{$t('用户协议')}}》</span> {{$t('和')}} <span>《{{$t('隐私政策')}}》</span>
        </div>
        <div class="button">
          <button @click="registerUser()">{{$t('注册')}}</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import "@/assets/css/login.less";
import {Toast} from "vant";
export default {
  name: 'loginPage',
  data() {
    return {
      registerData:{
        phone: '',
        pwd: '',
        pwd2: '',
        paypwd: '',
        top: '',
        smscode: '',
      }
    }
  },
  created() {
  },
  mounted() {
  },
  methods:{
    sendCode: function () {
      if(!this.registerData.phone){
        Toast(this.$t('请输入手机号码'))
        return
      }
      let params = {
        phone:this.registerData.phone,
      }
      this.$post('register/sendsms', params).then(res => {
        Toast(res.msg)
      })
    },
    registerUser: function () {
      if(!this.registerData.phone){
        Toast(this.$t('请输入手机号码'))
        return
      }
      if(!this.registerData.pwd){
        Toast(this.$t('请输入登录密码'))
        return
      }
      if(!this.registerData.pwd2){
        Toast(this.$t('请再次输入登录密码'))
        return
      }
      if(!this.registerData.paypwd){
        Toast(this.$t('请输入交易密码'))
        return
      }
      if(!this.registerData.smscode){
        Toast(this.$t('请输入短信验证码'))
        return
      }
      this.$post('register/sendsms', this.registerData).then(res => {
        Toast(res.msg)
      })
    },
  },
}
</script>

<style lang="scss" scoped>

</style>