<template>
  <div class="account">
    <div class="header">
      <img class="out" src="@/assets/images/out_icon.png" alt="" @click="$router.back();">
      {{$t('账户管理')}}
    </div>
    <div class="account-wrap">
      <ul class="account-list-wrap">
        <li class="two-item">
          <div class="two-left">
            <p>{{$t('实名认证')}}</p>
          </div>
          <div class="two-tip" v-if="$store.state.userInfo.user.auth == 1">
            <van-tag plain type="primary">{{$t('已认证')}}</van-tag>
          </div>
          <div class="two-tip" v-else @click="$root.common.toPath('/auth')">
            <van-icon name="arrow" size="16px"/>
          </div>
        </li>
        <router-link to="/bankList" tag="li" class="two-item">
          <div class="two-left">
            <p>{{$t('银行卡管理')}}</p>
          </div>
          <div class="two-tip">
            <van-icon name="arrow" size="16px"/>
          </div>
        </router-link>
        <router-link :to="{path:'/setpass',query:{tag:'login'}}" tag="li" class="two-item">
          <div class="two-left">
            <p>{{$t('修改登录密码')}}</p>
          </div>
          <div class="two-tip">
            <van-icon name="arrow" size="16px"/>
          </div>
        </router-link>
        <router-link :to="{path:'/setpass',query:{tag:'pay'}}" tag="li" class="two-item">
          <div class="two-left">
            <p>{{$t('修改支付密码')}}</p>
          </div>
          <div class="two-tip">
            <van-icon name="arrow" size="16px"/>
          </div>
        </router-link>
        <router-link :to="{path:'/address'}" tag="li" class="two-item">
          <div class="two-left">
            <p>{{$t('收货地址')}}</p>
          </div>
          <div class="two-tip">
            <van-icon name="arrow" size="16px"/>
          </div>
        </router-link>
        <router-link :to="{path:'/language'}" tag="li" class="two-item">
          <div class="two-left">
            <p>{{$t('修改语言')}}</p>
          </div>
          <div class="two-tip">
            <van-icon name="arrow" size="16px"/>
          </div>
        </router-link>
<!--        <router-link :to="{path:'/alipay'}" tag="li" class="two-item">-->
<!--          <div class="two-left">-->
<!--            <p>公司资质</p>-->
<!--          </div>-->
<!--          <div class="two-tip">-->
<!--            <van-icon name="arrow" size="16px"/>-->
<!--          </div>-->
<!--        </router-link>-->
<!--        <router-link :to="{path:'/alipay'}" tag="li" class="two-item">-->
<!--          <div class="two-left">-->
<!--            <p>用户协议</p>-->
<!--          </div>-->
<!--          <div class="two-tip">-->
<!--            <van-icon name="arrow" size="16px"/>-->
<!--          </div>-->
<!--        </router-link>-->
        <router-link to="/login" tag="li" class="two-item">
          <div class="two-left">
            <p>{{$t('退出登录')}}</p>
          </div>
          <div class="two-tip">
            <van-icon name="arrow" size="16px"/>
          </div>
        </router-link>
      </ul>
    </div>
  </div>
</template>

<script>
import '@/assets/css/account.less'

export default {
  name: "account",
  data() {
    return {
    }
  },
  created: function () {
  },
  mounted: function () {
  },
  methods: {}
}
</script>

<style scoped>

</style>
