<template>
  <div class="setpass">
    <div class="header">
      <img class="out" src="@/assets/images/out_icon.png" alt="" @click="$router.back();">
      {{title}}
    </div>
    <div class="setpass-wrap">
      <div class="form">
        <van-cell-group v-if="!payPassword">
          <van-field type="password" v-model="params.olopassword" clearable :label="$t('旧登录密码')" icon="question-o" :placeholder="$t('请输入旧登录密码')" size="large"/>
          <van-field type="password" v-model="params.password" clearable :label="$t('新登录密码')" icon="question-o" :placeholder="$t('请输入新登录密码')" size="large"/>
          <van-field type="password" v-model="params.repassword" clearable :label="$t('确认密码')" icon="question-o" :placeholder="$t('请再次输入密码')" size="large"/>
        </van-cell-group>
        <van-cell-group v-else>
          <van-field type="password" v-model="params.olopassword" clearable :label="$t('支付密码')" icon="question-o" :placeholder="$t('请输入原支付密码')" size="large"/>
          <van-field type="password" v-model="params.password" clearable :label="$t('新支付密码')" icon="question-o" :placeholder="$t('请输入新支付密码')" size="large"/>
          <van-field type="password" v-model="params.repassword" clearable :label="$t('确认密码')" icon="question-o" :placeholder="$t('请再次输入密码')" size="large"/>
        </van-cell-group>
      </div>
      <div class="tip" v-if="payPassword">
        {{$t('提醒：支付密码默认为登录密码')}}
      </div>
      <div class="submit">
        <div class="button" >
          <span style="padding: 15px 0;font-size: 15px" @click="postLoginPass()" v-if="!payPassword">{{$t('提交')}}</span>
          <span style="padding: 15px 0;font-size: 15px" @click="postPayPass()" v-else>{{$t('提交')}}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/setpass.less'
import {Toast} from "vant";
export default {
  name: "setpass",
  data(){
    return{
      params:{password:'',olopassword:'',repassword:'',},
      payPassword:false,
      title:'修改登录密码',
    }
  },
  created() {
    if (this.$route.query.tag == 'pay'){
      this.title = '修改支付密码'
      this.payPassword = true
    }
  },
  mounted() {
  },
  methods:{
    postPayPass: function () {
      let params = {
        oldpwd: this.params.olopassword,
        pwd: this.params.password,
        pwd2: this.params.repassword,
      }
      if(!this.$root.common.dataSafeValidate(2,params)){
        return false
      }
      this.$post('user/setpaypwd', params, true).then((res) => {
        if (res.status == 200) {
          Toast(this.$t('修改成功'))
        } else {
          Toast(res.msg)
        }
      })
    },
    postLoginPass: function () {
      let params = {
        oldpwd: this.params.olopassword,
        pwd: this.params.password,
        pwd2: this.params.repassword,
      }
      if(!this.$root.common.dataSafeValidate(2,params)){
        return false
      }
      this.$post('user/setpwd', params, true).then((res) => {
        if (res.status == 200) {
          Toast(this.$t('修改成功'))
        } else {
          Toast(res.msg)
        }
      })
    },
  }
}
</script>

<style scoped>

</style>
