<template>
  <div class="sign">
    <div class="header">
      <div class="title">{{$t('每日签到')}}</div>
      <img class="out" src="@/assets/images/out_icon.png" alt="" @click="$router.back();">
<!--      <p style="color: #feed9f;">您已累计签到第 <span style="color: #ffffff;font-size: 30px;font-weight: 600;">15</span> 天</p>-->
      <p @click="sign()">
        <img v-if="lang == 'zh'" src="@/assets/images/sign_btn.b49228d7.b49228d7_1.png" alt="" style="height: 53px;">
        <img v-if="lang == 'en'" src="@/assets/images/sign_btn.b49228d7.b49228d7_4.png" alt="" style="height: 53px;">
        <img v-if="lang == 'tn'" src="@/assets/images/sign_btn.b49228d7.b49228d7_3.png" alt="" style="height: 53px;">
        <img v-if="lang == 'vn'" src="@/assets/images/sign_btn.b49228d7.b49228d7_2.png" alt="" style="height: 53px;">
      </p>
      <!--      <p><img src="@/assets/images/sign_over.bbaf35d5.png" alt="" style="height: 53px;"></p>-->
    </div>
    <div class="detail">
      <div class="project">
        <div class="left">
          <p style="margin-top: 20px;font-size: 20px;font-weight: 600;">{{$store.state.moneyUnit[lang]}}2</p>
          <p style="font-size: 12px;">{{$t('红包')}}</p>
        </div>
        <div class="right">
          <p style="margin-top: 10px;font-weight: 600;">{{$t('现金红包')}}</p>
          <p style="margin-top: 30px;">{{$t('直接发放至账户余额')}}</p>
        </div>
      </div>
    </div>
    <div class="tip">{{$t('奖励红包直接发放到钱包余额中')}}</div>
  </div>
</template>

<script>
import "@/assets/css/sign.less"
import {Toast} from "vant";

export default {
  name: "orderDetail",
  data() {
    return {
      lang:localStorage.getItem('locale') || 'zh',
    }
  },
  created() {
  },
  mounted() {
  },
  methods: {
    sign: function () {
      let params = {
        uid: 1,
      }
      this.$post('user/signin', params, true).then((res) => {
        if (res.status == 200) {
          Toast(this.$t('签到成功'))
        } else {
          Toast(res.msg)
        }
      })
    },
  },
}
</script>

<style scoped>

</style>