<template>
    <div >
      <van-nav-bar @click-left="back" left-arrow class="back">
      </van-nav-bar>
      <div class=" p-l-r-20">
        <van-tabs @change="isZhuiHao=!isZhuiHao">
          <van-tab title="我的投注" class="f-s-20">
            <div class="flexContent p-b-t-10 f-s-18">
              <div  v-if="index<5 " @click="details(item.orderId)"  v-for="item,index in LotteryRecordsList" class="p-b-t-5 ">
                <van-row>
                  <van-col class="pull-l">
                    <div class="p-b-5">{{item.lotName}}  <span class="f-s-14 c-6">￥{{ item.buyMoney }}</span></div>
                    <div class="c-6">{{item.qiHao}}期</div>
                  </van-col>
                  <van-col class="pull-r h-50 l-h-50" :class="item.status==1? 'c-b': item.status==2? 'c-g':item.status == 3? 'c-r':''">
                    {{item.status==1? '未开奖': item.status==2? '已中奖': item.status == 3? '未中奖': '--'}}
                  </van-col>
                </van-row>
              </div>

            </div>
          </van-tab>
          <van-tab title="我的追号" class="f-s-20">
            <div class="flexContent  p-b-t-10 f-s-18">
              <div  v-if="index<5 " @click="details(item.orderId)"  v-for="item,index in LotteryRecordsList" class="p-b-t-5 ">
                <van-row >
                  <van-col class="pull-l">
                    <van-row class="p-b-5">{{item.lotName}}  <span class="f-s-14 c-6">￥{{ item.buyMoney }}</span></van-row>
                    <van-row class="c-6">{{item.qiHao}}期</van-row>
                  </van-col>
                  <van-col class="pull-r h-50 l-h-50" :class="item.status==1? 'c-b': item.status==2? 'c-g':item.status == 3? 'c-r':''">
                    {{item.status==1? '未开奖': item.status==2? '已中奖': item.status == 3? '未中奖': '--'}}
                  </van-col>
                </van-row>
              </div>
            </div>
          </van-tab>
        </van-tabs>
        <div class="m-b-t-20">
          <van-icon name="pending-payment" size="15" color="#fff" class="bg-3" style="vertical-align: middle;background: #808080"></van-icon>
          我的余额
          <span  v-if="!isShow" class="c-r">已隐藏</span>
          <span v-else="" class="c-r">{{meminfoDetails.money || '--'}}</span>
          <span  v-if="!isShow" @click="isShow=true">显示</span>
          <span v-else="" @click="meminfo">刷新</span>
          <div v-if="!isZhuiHao" class="bottom_go p-b-20">更多记录请到 <span @click="$router.push({path: '/touzhu'})" class="c-r">"投注记录"</span>查看</div>
          <div v-else="" class="bottom_go p-b-20">更多记录请到 <span class="c-r">"追号记录"</span>查看</div>
        </div>
      </div>
    </div>
</template>

<script>
  import { Tab, Tabs } from 'vant';
  import { Icon } from 'vant';
  export default {
    props:['lotCode'],
    data(){
      return {
        isShow:false, //余额显示
        isZhuiHao:false,//追号页面切换
        meminfoDetails: '', // 账户余额相关信息
        LotteryRecordsList:{},//投注记录接口
      };
    },
    created:function(){
      this.meminfo(); //获取帐户余额等相关信息
      this.getBcLotteryRecords() // 获取投注记录
    },
    methods: {
      details: function(orderId) {
        this.$router.push({
          path: '/details',
          query: {
            orderId: orderId,
          }
        })
      },
      // 获取帐户余额等相关信息
      meminfo: function() {
        $sky.ajax('get', 'meminfo', {}, (ret) => {
          this.meminfoDetails = ret;
          // if(ret.success) {
          //   this.meminfoDetails = ret.content;
          // } else {
          //   if(!ret.content.login){
//							this.$router.push({
//								path: '/login',
//								query: {}
//							})
//             }
//           }
        })
      },
      back:function () {
        this.$emit('changeRight')
      },
      // 获取投注记录
      getBcLotteryRecords:function () {
        var yugi = function(n){
          var now = new Date;
          now.setDate(now.getDate() - n);
          return now;
        };
        var startTime = yugi(10).toLocaleDateString().replace(/\//g,'-');//获取十天前日期
        var timestamp = new Date();
        var endTime=(new Date()).toLocaleDateString().replace(/\//g,'-'); //获取当前日期
        let param = {
          startTime: startTime+' 00:00:00',
          endTime : endTime + ' 23:59:59',
          code: '',
          status: '',
          page: 1,
          rows: 5,
          account: ''
        };
        $sky.getBcLotteryRecords(param, (ret) => {
            this.LotteryRecordsList = ret.page.list;
        })
      }
    }
  }
</script>

<style >
#mytz {
  width: 100%;
  height: 100%;
}
.c-g{
  color: rgb(92, 184, 92);
}
.c-b{
  color: rgb(51, 122, 183);
}
.c-r{
  color: rgb(255, 0, 0);
}
#mytz .van-nav-bar{
  z-index: 100 !important;
  position: fixed;
  top: 0px;
  left: 0;
  width: 62px;
  background: none;
}
#mytz .bottom_go{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
#mytz .van-nav-bar__text{
  color: #000 !important;
}
#mytz .van-nav-bar .van-icon{
  color: #000 !important;
}

</style>
