@import "./base";
.common_header{
  height: 4.6rem;
  background: #ec2829;
  line-height: 4.6rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 3000;
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ec2829;
    position: relative;
    z-index: 3000;
    width: 100%;
    a{
      color: #ffffff;
      font-size: 1.5rem;
      padding-left: 1rem;
      display: inline-block;
      i{
        font-size: 2.4rem;
        vertical-align: sub;
      }
      .bark{
        font-size: 1.6rem;
        vertical-align: top;
        line-height: 4.6rem;
        display: inline-block;
      }
    }
    .title{
      font-size: 1.6rem;
      color: #ffffff;
    }
    .filter{
      display: inline-block;
      font-size: 1.6rem;
      padding-right: 1rem;
      color: #ffffff;
    }
  }
  .common_content{
    /deep/.van-overlay{
      top: 4.6rem;
    }
    .van-field__label{
      span{
        font-size: 1.4rem;
      }
    }
    .van-field{
      &:nth-child(1), &:nth-child(2){
        .van-field__body{
          .van-field__control{
            font-size: 1.4rem;
            color: red;
          }

        }
      }
    }
    .filter-query{
      position: absolute;
      bottom: 0;
      .van-button__text{
        font-size: 1.4rem;
      }
    }
  }

}