<template>
	<view class="server">
		<view class="status_bar"></view>
		<view class="public_header" @click="$common.back()">
			<image src="/static/images/icon/out.png" alt=""> {{title}}
		</view>
		<view class="webview-box">
			<web-view ref="webview" class="webview" :src="webUrl"></web-view>
		</view>
	</view>
</template>

<script>
	export default {
		name: "server",
		data() {
			return {
				webUrl: '',
				title: ','
			}
		},
		onShow() {
			setTimeout(() => {
				let out = uni.getSubNVueById("out");
				out.show('slide-in-left', 200);
			}, 800)
		},
		created() {},
		onLoad(option) {
			if (option.type == 1) {
				this.getHomeData()
				this.title = '在线客服'
			} else if (option.type == 2) {
				this.webUrl = this.$config.API + '/mobile/v3/signIn.do?type=app'
				this.title = '每日签到'
			} else if (option.type == 3) {
				this.webUrl = this.$config.API + '/mobile/v3/turnlate.do?type=app'
				this.title = '幸运转盘'
			} else if (option.type == 4) {
				this.webUrl = this.$config.API + '/mobile/redPackage.do?type=app'
				this.title = '抢红包'
			} else if (option.type == 5) {
				this.webUrl = this.$config.API + '/mobile/v3/pay_select_way.do?type=app'
				this.title = '购币'
			} else if (option.type == 6) {
				this.webUrl = this.$config.API + '/mobile/v3/info.do?type=app'
				this.title = '代理说明'
			} else if (option.type == 7) {
				this.webUrl = this.$config.API + '/mobile/v3/teamStatic.do?type=app'
				this.title = '团队统计'
			} else if (option.type == 8) {
				this.webUrl = this.$config.API + '/mobile/v3/subMember.do?type=app'
				this.title = '会员管理'
			} else if (option.type == 9) {
				this.webUrl = this.$config.API + '/mobile/v3/sponsoredLinks.do?type=app'
				this.title = '下级开户'
			} else if (option.type == 10) {
				this.webUrl = this.$config.API + '/mobile/v3/dailiLink.do?type=app'
				this.title = '邀请码'
			} else if (option.type == 11) {
				this.webUrl = this.$config.API + '/mobile/v3/commission.do?type=app'
				this.title = '业绩提成'
			}
		},
		mounted() {

		},
		methods: {
			getHomeData() {
				this.$Request.get('/native/getServiceUrl.do', {}, false).then(res => {
					if (res.success) {
						this.webUrl = res.content
					}
				})
			},
		}
	}
</script>

<style scoped lang="scss">
	@import "../../static/css/include/base.scss";

	.webview-box {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 100rpx;

		.webview {
			width: 100%;
			height: 100%;
		}
	}
</style>